[2022-09-26 17:19] isovector opened #6138 "Extremely unhelpful error message cannot resolve overloaded projection because principal argument is not of record type"
The following program works, but fails with an unhelpful error message when the commented line is uncommented:

[code]

When `open LawfulCategory` is uncommented, the program fails with:

[code]

I spent about an hour trying to debug what went wrong here. It'd be extremely helpful if agda dumped the types of whatever `_≈_` projections were in scope, eg maybe:

[code]

which would help point out th

[2022-09-26 20:20] sattlerc commented on #1646
Here is an example without application that exhibits exponential scoping performance:
[code]

[2022-09-26 20:38] JacquesCarette commented on #1646
That might be what's affecting some of the deeper modules in agda-categories. I've had to remove a number of 'helper modules' to help with type checking time. Those helpers really were... helpful.

[2022-09-26 21:27] sattlerc commented on #1646
I suspect that also may have been a factor in the cost explosion in my early attempts at formalizing category theory (I never got beyond interchange of vertical and horizontal composition of natural transformations). I used to think module definition statements were evaluated lazily (like other definitions) and liberally used nested helper modules and also shorthands like:
[code]
Relatedly, I susp

[2022-09-27 06:42] JasonGross opened #6139 "`open import Agda.Primitive using (Set) public` misbehaves in modules with arguments"
[code]

It seems that `Set`, and only (?) `Set`, picks up module arguments as if they were its own?  Or perhaps looses its special variadic status?  This means that any modules that `open import Agda.Primitive public` cannot be transitively publicly opened in any modules which have arguments, and seems like a bug.

[2022-09-27 09:27] jespercockx commented on #1113
It seems that the fix of https://github.com/agda/agda/issues/5600 in https://github.com/agda/agda/commit/982e18cdcbb2355d571bc05a8a98811fe6b48525 by @Saizan has changed the behaviour of Agda on this issue. Now Agda accepts the OP in this issue with the hole filled in even after a reload:
[code]
Given the previous discussion here, this is not behaving as intended. Hence I propose to revert the fix

[2022-09-27 12:58] jespercockx commented on #6112
The problem here is that Agda gets confused about the type of the `★` argument to `G` in the rule `G2`: `★` is a constructor so Agda expects its type to be a data or record type, but `G2` takes an argument of type `F X`, which reduces to `G ★` which is *not* a data or record type. (Of course it also reduces to `⊤`, but Agda is not good at dealing with non-confluence).

While thinking about how to

[2022-09-27 14:17] KislyjKisel opened #6140 "Unapplied `List` and `Maybe` are sometimes translated to `[AgdaAny]` and `Maybe AgdaAny` by GHC backend"
When trying to re-declare a definition from other module.

[code]

[code]

Generated signature for `A`'s `List-Functor`: `T_Functor_2 (MAlonzo.Code.Agda.Builtin.List.T_List_10 ())`, `B`'s: `MAlonzo.Code.A.T_Functor_2 [AgdaAny]`.
Removing `AgdaAny` allows ghc to compile it. Tested under 2.6.2.1 and 2.6.3-89f9e85.

[2022-09-27 15:57] jespercockx opened #6141 "Instance search fails too eagerly in presence of generalizable variables"
Consider the following example:
[code]
As the names suggest, `works` is accepted, but `fails` is not:
[code]

[2022-09-27 16:38] andreasabel commented on #6139
Yeah, the author @jespercockx of this feature would never have dreamed you want to use it that way. :-D

[2022-09-27 16:54] andreasabel commented on #1113
Mmh, I do not directly see a harm in accepting this example.  However, #6008 is annoying. One could say that #5672 (fix of #5600) caused regressions and thus is a candidate for revert.

[2022-09-27 16:59] andreasabel commented on #6128
I am afraid I have no clue why `stack install` suddenly stalls under the windows-2022 virtual environment, and what upstream change caused this breakage.  I currently have no idea how to fix this.  One could randomly downgrade stack/ghc/windows or wait for stack 2.9.1 to become available.

[2022-09-27 17:32] JasonGross commented on #6139
(The actual use-case involves `renaming`, which maybe makes it a bit clearer why it's useful to only have to do this in one place.)

[2022-09-27 17:34] gallais commented on #6139
Sounds similar to #4057

[2022-09-27 21:57] mikeshulman commented on #6112
The current confluence checker isn't fully correct anyway in the presence of singleton eta, right?  Because of #5929 ?

[2022-09-28 15:38] nad commented on #6136
I linked to some code above.

[2022-09-29 06:20] andreasabel commented on #5793
@caryoscelus @qlonik Sorry for the delay in handling this issue.
In the Agda core team we currently have no developer with a genuine interest in the JS backend.  Would one of you want to take over the maintenance of the JS backend?  You could then make decisions how to integrate browser support into the JS backend, and also tend to other [open issues](https://github.com/agda/agda/issues?q=is%3Aope

[2022-09-29 10:07] nad opened #6145 "Preformance enhancement for large projects: Avoid recomputing `SourceToModule` maps"
The computation `sourceToModule` is used in `generateAndPrintSyntaxInfo`, which is used repeatedly:

https://github.com/agda/agda/blob/82b2b0fbea55c1716685d72cd8546b533d0f12dc/src/full/Agda/TypeChecking/Monad/Base.hs#L876-L883

For large developments this could have a non-trivial cost.

[2022-09-29 12:46] nad opened #6146 "Use relative paths?"
Currently Agda uses "canonical" absolute paths. This can lead to performance problems (#5673) and has at least in the past led to a bug report related to symbolic links (#4828). Furthermore the use of absolute paths makes Agda's output more verbose than necessary. Would anything break if we switched to using relative paths (or absolute but not necessarily canonical paths)?

One situation to consid

[2022-09-29 14:32] JacquesCarette commented on #6146
My 2 cents: I think it would make most sense to use module names (likely behind an interface, so that library-relative module names could be used in the future) rather than file names for what you document above.

I don't have an opinion on the rest. I certainly didn't spot anything that felt like a "oh no, don't do that!" in any of the proposal.

[2022-09-29 14:39] andreasabel commented on #6082
I identified the source of the problem: the translation `ReflectedToAbstract` does not recover projections: https://github.com/agda/agda/blob/82b2b0fbea55c1716685d72cd8546b533d0f12dc/src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs#L205-L209
It only distinguishes `A.Macro` from `A.Def`, not `A.Proj` and `A.Con`. Fixing this fixes this issue.

[2022-09-29 18:38] #6082 closed, assigned to andreasabel

[2022-09-30 11:47] #6137 closed, assigned to andreasabel

[2022-09-30 11:54] andreasabel opened #6149 "Unify `let` and `where`"
Lunch discussion 2022-09-30: We could interpret `Gamma |- ... let defs in e` as
[code]
This would unify the `let` and `where` constructs: we could allow arbitrary `defs` in a `let` then.

1. Would this cause regressions, i.e., programs that do not type-check under the new semantics?
2. Currently `let` allow record pattern matches as in `let (x , y) = foo in e`, and `where` doesn't.  A first step w

[2022-09-30 11:57] jespercockx commented on #6149
Would this mean that all variables in a let-binding get lambda-lifted? In that case I do not think this is a good idea.

[2022-09-30 11:59] andreasabel commented on #5794
Amelia, I unassigned you since you have enough on your plate already, and this issue doesn't require your expertise.

[2022-09-30 12:12] sattlerc commented on #6149
In the long term, the parametrized module semantics should change to eliminate lambda lifting.

[2022-09-30 12:14] jespercockx commented on #6149
Yes, but then that should be done *before* we unify `let` and `where`.

[2022-09-30 12:21] sattlerc commented on #6149
Related: #2795

[2022-09-30 12:27] andreasabel commented on #5794
This is what I implemented.

[2022-09-30 12:43] andreasabel commented on #6095
The error you get when trying to use the ambiguous pattern synonym is also a bit weird:
[code]
[code]

This is accepted:
[code]

[2022-09-30 13:03] andreasabel commented on #6095
This used to work solely in Agda 2.5.4, feature:
- #2787

I think I broke it in 2.6.0 with my fix of:
- #3057

[2022-09-30 13:10] andreasabel commented on #6095
Fixed by allowing ambiguous pattern synonyms in `checkForClashes`.

[2022-09-30 13:16] andreasabel commented on #6022
I can trigger this internal error non-interactively by:
[code]
The information given by `{-# OPTIONS -v impossible:100 #-}` is:
[code]

[2022-09-30 13:29] andreasabel commented on #6022
I tried to reproduce this for other primitives:
[code]
[code]
This gives a normal error:
[code]
Probably, in this case the deadcode analysis does not kick in, because `roundtrip` explicitly mentions the two primitives.  There is no such explicit mention in the OP.

[2022-09-30 13:37] andreasabel commented on #6022
Excluding `primitive` definitions from dead-code elimination fixes the problem.

[2022-09-30 13:48] #5794 closed, assigned to andreasabel

[2022-09-30 13:56] andreasabel commented on #6001
The current error is:
[code]
https://github.com/agda/agda/blob/26c11b629cd60bc135ca87697cbf01ee03f094c6/src/full/Agda/TypeChecking/EtaContract.hs#L46
The new error is due to @jespercockx 's commit 0a75063e5f267486df45110adcd7767eec4bf557 which I think I will ~~promptly revert~~ revise: Bail out with a hard error (rather than casting the DUMMY bomb).

[2022-09-30 14:32] #6095 closed, assigned to andreasabel

[2022-09-30 15:53] andreasabel commented on #6093
@UlfNorell @wenkokke : Do you want to submit a PR soon?  That would help getting 2.6.3 out of the door.  Or shall this be bumped to 2.6.4?

[2022-09-30 16:09] andreasabel commented on #6066
If you explicitly declare `eta-equality`, you get a warning for `pattern`:
[code]
[code]
However, if eta is inferred for the record, you do not get this warning:
[code]
I suppose we could throw this warning also in the type-checker, after inferring eta-equality for a record type.

[2022-09-30 16:50] plt-amy commented on #6149
Would we allow these at the top-level, too? Edit: d'oh, I should've clicked through to 2795.

[2022-09-30 16:56] #6022 closed, assigned to andreasabel

[2022-09-30 17:09] andreasabel commented on #6066
The warning can be thrown when we turn on eta for a record after positivity checking:
https://github.com/agda/agda/blob/7183739a67afa5896e5d79a26023198595147727/src/full/Agda/TypeChecking/Records.hs#L464-L475
https://github.com/agda/agda/blob/7183739a67afa5896e5d79a26023198595147727/src/full/Agda/TypeChecking/Records.hs#L477-L486
If my eyes do not deceive me, these two functions do exactly the sam

[2022-09-30 19:11] andreasabel commented on #6066
Ok, there are cases when `pattern` is needed for records that are later recognized as eta-worthy:
https://github.com/agda/agda/blob/7183739a67afa5896e5d79a26023198595147727/test/Succeed/Issue2308.agda#L13-L20
This record is classified by Agda as non-recursive.
So we have to keep track of whether `pattern` has been put to use.

[2022-09-30 19:17] andreasabel commented on #6066
I am in the process (#6154) of making Agda warn of a redundant `pattern` directive even when eta for a record is not declared, but inferred.  In the case of `Issue2308.agda` (see above), it is not redundant since eta is inferred to late.

@JasonGross @nad @jespercockx @gallais @UlfNorell : Would you want Agda to recommend to replace `pattern` by `eta-equality` in cases like `Issue2308.agda` where

[2022-10-01 05:04] qlonik commented on #5793
Yes, I would like to be involved in maintenance of the JS backend. Let me know if we need to communicate privately (e.g. share emails) to setup a Zoom call.

[2022-10-02 07:04] caryoscelus commented on #5793
i would then be happy to leave it to @qlonik since i don't have enough time at the moment

[2022-10-03 10:24] UlfNorell commented on #6093
I will try to get it done this week.

[2022-10-03 13:24] nad commented on #6066
I think that the user should declare whether η-equality should hold or not (via the absence or presence of a keyword), I don't think this property should be inferred by Agda.

[2022-10-03 13:33] jespercockx commented on #6066
"Inferred" is perhaps a strong word here, but I would be fine with there being a simple syntactic rule for when a record has eta-equality. For example, a record has eta-equality unless it has any of the keywords `inductive`, `coinductive`, `pattern`, or `no-eta-equality`. This is the nicest solution that I can think of that does not break basically all existing Agda code. (If I did not care about

[2022-10-04 11:21] jespercockx commented on #3750
I was surprised today by the fact that I was able to import `Agda.Primitive.Cubical` without enabling `--cubical` or `--erased-cubical`, i.e. the following file is valid Agda:
[code]
However, one still needs `--cubical` or `--erased-cubical` to prove that the two notions of equality are equivalent, so one doesn't get both `UIP` and `funext` for the same identity type. Still, it's surprising how fa

[2022-10-04 15:26] nad opened #6155 "Importing Agda.Primitive.Cubical without --cubical or --erased-cubical should fail"
@jespercockx [reported](https://github.com/agda/agda/issues/3750#issuecomment-1266799994) that one can import `Agda.Primitive.Cubical` without enabling `--cubical` or `--erased-cubical`. That should not be possible.

This fails:
[code]
[code]
This should also fail:
[code]
However, I guess that things from `Agda.Primitive.Cubical` are sometimes used behind the scenes when `--without-K` is used, tha

[2022-10-04 16:07] jespercockx commented on #6155
But I like this feature :(

[2022-10-04 17:07] plt-amy commented on #6155
In light of #6049, `Agda.Primitive.Cubical` would be locked behind `--cubical-compatible`, rather than `--cubical` itself? As you mention we need stuff from that module to generate hcomp/transpIx helpers and clauses.

[2022-10-04 19:05] nad commented on #6155
@jespercockx, you could use `--with-K --cubical`:
[code]

[2022-10-05 13:10] andreasabel opened #6157 "Remove `ETel` from concrete and abstract syntax"
`ETel` looks unused.

[2022-10-05 14:10] andreasabel commented on #6049
@martinescardo wrote:

Yes.  The current plan for 2.6.3 is to have three stages:
1. `--without-K` (coinfective):  Just place restrictions (no K, termination checker, ...) that ensure univalence-compatibility (caveat: program extraction is unsound in the presence of erased univalence).  Can only import `--without-K` or `--cubical-compatible` modules.
2. `--cubical-compatible` (coinfective): Also ge

[2022-10-05 15:48] martinescardo commented on #6049
Wonderful. This works for me. Thanks a lot to all who contributed to this.

[2022-10-05 18:01] #6157 closed, assigned to andreasabel

[2022-10-05 19:04] andreasabel commented on #6066
@nad and @jespercockx : Thanks for your opinions. I agree that it would be clearer if eta was not inferred, but declared.  I second Jesper's proposal, with some modification:
- _no directive_ and [`inductive` default to `eta-equality`](https://agda--6160.org.readthedocs.build/en/6160/language/record-types.html#recursive-records)
- `coinductive` and `pattern` default to `no-eta-equality`
- option `

[2022-10-06 06:24] #6093 closed, assigned to UlfNorell

[2022-10-06 07:59] #6066 closed, assigned to andreasabel

[2022-10-06 10:09] nad commented on #5740
Now `readTextFile` throws a custom exception, and all exceptions (except for those of type `ExitCode`) are caught in `runTCMPrettyErrors`.

[2022-10-06 10:22] nad commented on #6066
I don't think we should treat things as unsafe only because the type-checker might fail to terminate.

[2022-10-06 10:36] MatthewDaggitt commented on #6102
See https://github.com/agda/agda-stdlib/pull/1818 where the operations we'd like to substitute were added.

[2022-10-06 12:03] #5740 closed, assigned to nad

[2022-10-06 12:06] andreasabel opened #6163 "Deploy action is failing since 2022-10-06"
Today, the `deploy` workflow started failing on macOS, see https://github.com/agda/agda/actions/runs/3195278896/jobs/5215751796:
[code]
No further information is given thanks to `cabal ... -v0`.

[2022-10-06 13:23] andreasabel commented on #6163
After removing `-v0`, we get useful information (https://github.com/agda/agda/actions/runs/3197331744/jobs/5220405194):
[code]

[2022-10-06 14:35] andreasabel commented on #6163
Just exporting `PKG_CONFIG_PATH` (as in `cabal.yml`) fixed this issue.  Dunno why it even worked without that...

[2022-10-06 14:37] #6163 closed, assigned to andreasabel

[2022-10-06 14:54] andreasabel opened #6165 "Internal error with `--no-load-primitives` when defining `record`"
Agda crashes with `--no-load-primitives` when defining a record:
[code]
It does not matter whether we define the level primitives or not.  The error is triggered in the code that builds the record constructor type: https://github.com/agda/agda/blob/08739e22a41434e10fa003f12a8715256f16f719/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L175

This is an internal error in the new feature `--n

[2022-10-06 15:17] andreasabel commented on #6165
Prior to 96f3df603b4e7bca900615bc23f43b0f6ef77bee, the `dummy` sort was indeed a dummy sort (`Set`), but then it became the content of the builtin `TYPE`.  Maybe we can revert it to be a dummy sort.

[2022-10-06 18:22] #6165 closed, assigned to andreasabel

[2022-10-06 18:54] andreasabel opened #6168 "Internal error with `--no-load-primitives` and undefined `LEVEL` builtin"
Agda crashes if there is no `LEVEL` builtin but we write level polymorphic type signatures.
[code]
The crash is here: https://github.com/agda/agda/blob/1a8214f7408811478791233c500917087225040a/src/full/Agda/TypeChecking/Level.hs#L35-L36
(Is there a way to get the call stack?)

[2022-10-06 19:17] andreasabel commented on #6168
This can be fixed by using `getBuiltin` (proper error) rather than `getBuiltin'` (crash).
There is just one location where we do not have `MonadTCError` (but just `PureTCM`) so we have to use the unsafe version: https://github.com/agda/agda/blob/1a8214f7408811478791233c500917087225040a/src/full/Agda/TypeChecking/Rewriting/Confluence.hs#L872-L876
But this is in the confluence checker, and to get th

[2022-10-06 19:38] andreasabel commented on #6168
The OP is probably just the tip of the iceberg.
@jespercockx, the new flag `--no-load-primitives` invalidates a lot of work you did years ago where you generalized builtins to work in pure settings, because it was safe to assume they were defined. See e.g. aab8e9c2c8c4b243487eee2c12fa1d32216897b8.
However, now we have to roll back and scrutinize every use of `getBuiltin'` whether is is safe or whe

[2022-10-06 21:24] andreasabel commented on #6066
If I understand Anton @csetzer correctly, eta for coinductive records also breaks subject reduction: https://www.cs.swan.ac.uk/~csetzer/articles/CMCS2018/bergerSetzerProceedingsCMCS18.pdf

[2022-10-07 08:24] jespercockx commented on #6168
I remember that when I implemented the pure builtins, we discussed this precise issue, and concluded that it should not be possible to skip importing `Agda.Primitive`, i.e. we should always be able to assume that the primitives in it are defined. The only reason for keeping `Agda.Primitive` as a module was then to allow renaming of the symbols defined in it. This new flag `--no-load-primitives` ki

[2022-10-07 08:26] jespercockx commented on #6168
This is going to make @plt-amy sad but I propose that we roll back the addition of the `--no-load-primitives` flag for the release of 2.6.3.

[2022-10-07 10:22] andreasabel commented on #2271
The relevant code is here: https://github.com/agda/agda/blob/8da239b975a76c8edf735640ae4b0237aa4fca0a/src/full/Agda/Interaction/BasicOps.hs#L866-L867
Here are some entry point concerning module parameters:
https://github.com/agda/agda/blob/8da239b975a76c8edf735640ae4b0237aa4fca0a/src/full/Agda/TypeChecking/Monad/Signature.hs#L976-L978
https://github.com/agda/agda/blob/8da239b975a76c8edf735640ae4b0

[2022-10-07 12:03] andreasabel commented on #6168
@jespercockx I am not against this feature, I just wanted to point out that we have to undo some of the simplification we performed when we could rely on the builtins to be defined.

Either that or we solidify this new feature with exhaustive test cases.  I suppose rolling back would amount to a commit that removes the flag and also all related changes and additions to the test suite, changelog, a

[2022-10-07 12:11] jespercockx commented on #6168
It was not just "simplification", making things pure sometimes also gives a significant performance improvement. So if you want to undo my changes you should also test to make sure it doesn't have adverse effects on performance.

[2022-10-07 12:33] andreasabel commented on #6168
Looking at PR #6169 you can see that I didn't move any code out of `PureTCM` (or other pure variants).  My hope would be that I/we can continue like that, that it is sufficient to employ the safe `getBuiltin` (over the unsafe `getBuiltin'`) just in code that has `MonadTCError`.  This way, no performance degrading is expected.

[2022-10-07 12:36] plt-amy commented on #6168
@andreasabel I don't mind at all: the 1Lab is pinned to a specific Agda commit, since we use it as a library - so it's easy for me to stick with the branch.

[2022-10-07 12:37] jespercockx commented on #6168
In that case I do not have a problem with this addition, though I do not really see the point of it personally.

[2022-10-07 12:40] plt-amy commented on #6168
I wrote it so I could [attach docs to TYPE and friends](https://1lab.dev/1Lab.Prim.Type.html), and the cubical primitives too. Admittedly rather niche 🙂

[2022-10-07 12:57] #6015 closed, assigned to plt-amy

[2022-10-07 16:10] jespercockx commented on #5810
I have implemented an experimental fix for this issue, which you can find at https://github.com/jespercockx/agda/tree/Issue5810. However the builtin cubical modules fail to compile with it. Specifically, I get an error on the type of `primComp`:

[code]

The problem here is in the type of `u`, which is `∀ i → Partial φ (A i)`. The type of of `Partial φ (A i)` is `SSet (ℓ i)`, and since this depend

[2022-10-07 16:18] plt-amy commented on #5810
Ah, we're being bitten in the behind by comp/transp taking a line of levels. Here's what @Saizan had to say on this when it last came up: https://github.com/agda/agda/issues/3722#issuecomment-556000316. I think the right move is:

We can't transport/compose in Setω anyway, so it wouldn't be a big loss to change primComp/primTransp to take `Level` rather than `I → Level`.

[2022-10-07 17:12] jespercockx commented on #3722
Seems that this is blocking #5810, so I'm moving it to the 2.6.3 milestone. Would you be ok with simply changing the levels so they do not depend on `I`?

[2022-10-07 18:20] #6073 closed, assigned to plt-amy

[2022-10-07 20:55] andreasabel opened #6172 "Agda input `\<` should give `\langle` as first choice"
I'd like `\<` to continue giving me `\langle` and `\>` resolve to `\rangle` as first choices in the emacs mode.  This has changed on master, presumably after:
- #6077 (ping @mikeshulman)

Not sure if this is the correct line to blame:
https://github.com/agda/agda/blob/10f735dec63c60729fa4ab13fc8736700759021e/src/data/emacs-mode/agda-input.el#L238-L239

[2022-10-07 21:26] mikeshulman commented on #6172
I agree those should be the first choices.  Presumably this has something to do with the order in which the line you cited appears in the file compared to wherever the `\langle`/`\rangle` lines are defined?  I don't know what the correct fix is.

[2022-10-08 13:50] gallais opened #6173 "Internal error at Agda/Syntax/Abstract/Name.hs:150:44"
[internal-error.zip](https://github.com/agda/agda/files/9739395/internal-error.zip)
Reproduced on Agda HEAD, I've attached a zip file with the files but it's essentially:

[code]

Running `agda B.agda` yields:
[code]
https://github.com/agda/agda/blob/9672aaaf8d5de0c39b0d2ce50bddfab06bec54bf/src/full/Agda/Syntax/Abstract/Name.hs#L149-L154

Running it once more without removing the `_build` director

[2022-10-08 19:17] andreasabel commented on #6035
Me too.  Just ran into the situation of the OP.  Very annoying to see an error like:
[code]
(This is the error triggered by the OP.)
Agda's report is non-sensical, claiming that the name is ambiguous, and then proving a breath later that its denotation (the abstract name behind it) is non-ambiguous.
The detailed explanation is:
[code]
Ok, there are different paths ending in the same target, but wh

[2022-10-08 19:33] plt-amy commented on #6035
Do you think we could improve this situation slightly by adding the `C-c C-w` information to the error report when the names look the same?

[2022-10-09 07:35] andreasabel commented on #6035
Ah, yes, I just also thought we could always directly expand the "hint" given at the end of the error.  This information is available where we raise the error, yet we throw it away instead of passing it to the error message.

[2022-10-09 08:11] andreasabel commented on #6035
Investigating the problem, I found that the two names rendered in the error message have different `NameId`s, so, for the scope checker they are really different.  This becomes apparent if we name all the intermediate modules created by `open M args` statements.  Here it is, with a further shrinking of the OP:
[code]
With the intermediate names, the error also becomes more plausible:
[code]
Since

[2022-10-09 17:29] andreasabel commented on #6173
The internal error is a regression in 2.6.2, the other error goes back as far as at least 2.4.2.4 (I don't have older installations of Agda).

[2022-10-09 19:43] andreasabel commented on #6173
Bisection blames 6c29efdc8c0eb1d1fbaf2d2ef5a5eefb704a9525 for the internal error. (Ping @rwe.)
Date:   Tue Nov 24 15:26:01 2020 -0800

    imports/refact: Move ifile module name validation into getStoredInterface

    Interfaces made with `createInterface` will already have been checked by
    the scope checker, and cached interfaces will already have been either
    there or here.

However, since

[2022-10-09 20:14] andreasabel commented on #6173
It is surprising that the Agda state does not maintain a `projectRoot` field.  The first thing we should do when loading a new main file (so, either from the command line, or from the load command of the interaction) is to set the project root, ~~relative to which all other files should be understood.~~ EDIT: _files are relative to one of the include paths, not necessarily the project root._
We se

[2022-10-09 20:58] gallais commented on #6173
Oh my, you're right I forgot the module declaration here: https://github.com/gallais/agda-stdlib/commit/6b78733b4adad6db94612c5108ebee9ea0396374#diff-cabf965c32c2865760cd5b49c53db4cb9e39c1bfbf2096e4c1dc47668247e7f8

So this at least means that PR is probably not blocked anymore. :crossed_fingers:

Thanks for the analysis!

[2022-10-10 06:39] #6172 closed, assigned to nobody

[2022-10-10 06:44] andreasabel commented on #6035
I implemented this in:
- #6174

[2022-10-10 08:25] nad commented on #6035
Should this be done also for `AmbiguousModule`?

https://github.com/agda/agda/blob/bf1a531d6a579c7b8016179b361920d3d0c69458/src/full/Agda/TypeChecking/Errors.hs#L815-L827

[2022-10-10 09:37] jespercockx commented on #5810
So to experiment I disabled my check when `--cubical` is enabled and (while many tests then pass) there are a number of other test cases that then fail:

- [ ] Succeed/Issue930.agda contains the postulate `P : (a : ⊤) → Set (q a)` (though `q` is also a postulate so it cannot actually be instantiated). https://github.com/agda/agda/blob/d50b1e967818974b2af797c2641d2c8f9db1ede9/test/Succeed/Issue930.

[2022-10-10 10:04] jespercockx commented on #5845
Here is a minimized example:
[code]

[2022-10-10 12:25] nad commented on #6146
I don't follow you. Different files can belong to different projects.

[2022-10-10 12:26] andreasabel commented on #6173
How should we understand the process of speculating a module name for a file if none is given by the user?

1. With `.agda-lib` file.  This is the OP.  The location of the `.agda-lib` file is to be understood as the _project root_.  Relative to this root, _include paths_ are declared.  (There could be absolute include paths as well.)
2. Without an `.agda-lib` file, the _project root_ is the direct

[2022-10-10 14:19] andreasabel opened #6179 "Agda adds the current directory to the include paths even if `-i` is given"
In a directory where no `.agda-lib` file is in scope:
[code]
This succeeds since 2.5.1, but I think this should fail.  Agda-2.4.2.6 still reports:
[code]
There is code that adds the current directory if no `-i` is given, but this should not apply in our case: https://github.com/agda/agda/blob/70667efb5418a0450db332fa542d0cce704ab29e/src/full/Agda/TypeChecking/Monad/Options.hs#L213-L223
Further, th

[2022-10-10 16:36] andreasabel commented on #6173
I did some work for the last 4 hours to implement my last comment.  For the OP, it now reconstructs the name `A.Instances` correctly.

However, now our testsuites are broken, which we run with include dirs `.` and `..`.  Of course, then any unnamed module has two possible names.  Up to now, we only reconstruct non-hierarchical names.  This excludes `A.Instances` but makes setups like in our test-s

[2022-10-10 20:29] andreasabel commented on #6179
Just out of an inch I am trying `agda-bisect` on this.
[code]
Turns out that the code at tag `2.4.2.5` does not build anymore, at least not with v2-cabal, because we haven't strictly followed the Haskell PVP:
[code]
The PVP allows addition of new symbols (like `mapMaybe` in `Data.HashMap.Strict` of `unordered-containers`) in minor releases, assuming the user follows a discipline of qualified impor

[2022-10-10 20:35] andreasabel commented on #6179
Bisection with `v1-cabal` (and sandboxes) also fails on my system:
[code]
[code]
Yeah, a custom setup is extra fun...

It may not be worthwhile to try to reach so far back into the past (2015/16 -- heck, that's not even 7 years)...

[2022-10-10 21:08] nad commented on #6179
This is a compromise. In some cases Agda might fail to build, but as long as Agda builds the semantics should be unchanged (assuming that all the direct dependencies follow the PVP). Note that you can instruct `agda-bisect` to use a specific version of a package (using `--cabal-option`).

[2022-10-10 21:35] nad commented on #6173
In order to avoid confusion I think that the omitted name should contain just a single component.

[2022-10-11 06:44] andreasabel commented on #6173
So this is what #6180 implements now.

[2022-10-11 09:22] #5845 closed, assigned to UlfNorell, jespercockx

[2022-10-11 11:25] JasonGross opened #6181 "Agda incorrectly reports type error when an identity function is not properly hidden from the termination checker"
[code]

`Term⇓-helper1-cast` and `Term⇓-helper2-cast` are identity functions that do not require reduction behavior of anything introduced below their use.  I believe that removing them should not cause any issues, neither with the type checker nor the termination checker.  Presumably the issue here is that correct unification requires reducing `Type⇓` a different number of times in different loca

[2022-10-11 11:37] JasonGross commented on #6181
Presumably the bug in the type checker is that, when the function is sufficiently complicated (?), recursive occurrences of the function being defined should not count as rigid (?) during type inference / unification.  That is, when defining a function which is used in the definition of `f`, we are not guaranteed that `f ?1 ≟ f ?2` means that we must have `?1 ≟ ?2`.

[2022-10-11 13:58] andreasabel commented on #6181
Not that while checking `Term⇓`,  the auxiliary functions `Term⇓-helper1/2-cast` are not reduced, because they are mutually defined with `Term⇓`.  Maybe this is what makes the type-checker succeed.  (Note that higher-order is undecidable, so it is not too suprising that such situations exist.)
I tried your file with Agda versions down to 2.4.2.4, the result is always the same.

[2022-10-11 14:16] JasonGross commented on #6181
This seems right to me (and is in fact the thing I was leveraging to get Agda to accept my definition at all).

Higher-order unification is undecidable, higher-order conversion (and typechecking without holes) should be decidable, right?  There are no holes in the part of the term Agda is highlighting, and Agda is anyway not supposed to fill holes with non-unique fillers, right?  If filling in all

[2022-10-11 14:30] andreasabel commented on #6173
I had to revert my fix as it broke loading of anonymous modules via `C-c C-l`.  It would insist that the module be located under the path of the previously loaded file.  The include paths have to be updated prior to loading, I suppose.

[2022-10-11 14:51] andreasabel opened #6182 "Expand documentation of command line option `-i`"
This is the current specification of `-i`:
https://github.com/agda/agda/blob/3c239ef6eddf3f0502c5fe42f81f2b038b76717f/doc/user-manual/tools/command-line-options.rst?plain=1#L184-L186
Rather sad, I'd expect to be informed about the following there:
- [x] `-i` is monoidal, i.e., can be supplied many times, aggregating a set of include directories.
- [ ] If no `-i` is provided then `-i.` is assumed.

[2022-10-11 17:52] #6168 closed, assigned to andreasabel

[2022-10-11 18:52] andreasabel commented on #5673
I noticed that Agda looks for the `.agda-lib` file for _every_ module that is loaded:
https://github.com/agda/agda/blob/0a4188003a76467f0db0af410e482eb31d657cd8/src/full/Agda/Interaction/Imports.hs#L126-L134
This should only be done for the _main_ module (e.g. when issuing `C-c C-l` or running from the command line).  For modules imported from the main module, we do not need to redo this exercise.

[2022-10-11 19:49] nad commented on #5673
Imported modules might belong to other libraries with other `.agda-lib` files.

[2022-10-11 20:47] andreasabel commented on #5673
Yes, but how do you find them other than via the current include paths?

So, you mean that if from `root/Main` I import `A.B.C`, then in `root/A` there might be another `.agda-lib` file which pulls in more directories and dependencies?
I don't think this is a good idea.  I want to know the extent of the project (i.e. its include paths) without having to import all of its modules.  I don't want to

[2022-10-12 06:18] nad commented on #6146
This was a reply to a comment made by @andreasabel. Was this comment deleted?

[2022-10-12 06:21] nad commented on #5673
The module `library1/M.agda` might import `library2/N.agda`.

[2022-10-12 06:48] andreasabel commented on #6179
@nad wrote:

Thanks for the hint!

Commit 0ee29514eb22f9e3ff9d0eab4a6c40bdae8b5991 relaxes the minor upper bound `unordered-containers < 0.2.6` to the major upper bound `< 0.3`.
It looks correct, but option `--cabal-option "--constraint=unordered-containers<0.2.6"` takes me anyway a step further.

Next is:
[code]
This points to a constraint needed on `happy`.  Turns out that 1.19.5 is the correct

[2022-10-12 06:50] nad commented on #6146
When working on this I realised a potential problem:
[code]
GHC has no problem with this:
[code]
However, GHC does not care what the module name is:
[code]
I see some ways forward:
* Accept the error message above. (I don't think this is a good idea.)
* Use `canonicalizePath` to avoid at least some instances of this kind of error message, despite the fact that `canonicalizePath` does not return ca

[2022-10-12 08:36] JasonGross commented on #6181
Btw, what algorithm does Agda use for deciding when functions can be reduced and when they are to be treated as rigid symbols suitable for higher-order unification?  It seems to me that the criterion (at least outside of mutual blocks) should be that when typechecking a given line, any definition above that line should be suitable for reduction.  Here's another example where swapping the order of

[2022-10-12 08:45] JasonGross commented on #6181
Here's an ever-so-slightly more reduced version:
[code]

[2022-10-12 09:03] andreasabel commented on #6179
Bisection says: 471557511968e78bdbe45738e8b5376a06ef182b is the first bad commit (ping @UlfNorell)
Date:   Mon Oct 12 13:26:25 2015 +0200

    [ packages ] don't require the library in the current directory to be registered in .agda/libraries

[2022-10-13 07:31] andreasabel commented on #5673
_My teacher used to say: "don't just toss me a crumb" encouraging us to elaborate our arguments._
Please explain your scenario in more detail, so that we can make progress in the conversation.

`N.agda` should be reachable only than via the include paths computed from `library1.agda-lib`, the _include_ paths given there and the include paths calculated transitively from the `depend`encies specfied

[2022-10-13 08:29] #5894 closed, assigned to jespercockx

[2022-10-13 09:29] jespercockx commented on #5982
The reason why the argument to `f` is replaced by `unknown` is because Agda detects `f` to be a projection-like function, which means it will internally erase the first argument. You have two options to work around it:

- You can turn off the optimization by using the `--no-projection-like` flag. This will give you the term `g (f A)` as expected
- You can wrap the whole `test` macro in a call to `

[2022-10-13 09:29] #5982 closed, assigned to jespercockx

[2022-10-13 09:33] nad commented on #5673
I interpreted your text in the following way: "One should only make use of a single `.agda-lib` file." I constructed a simple counterexample which I thought was self-explanatory, but it seems as if my interpretation of what you wrote was incorrect.

Note that `getAgdaLibFiles` uses a cache, in an attempt to ensure that a given `.agda-lib` file is only read once (but this might fail for "exotic" di

[2022-10-13 12:58] szumixie opened #6185 "Internal error with cubical path definition before last record field"
[code]
produces
[code]
Doing any of the followings makes the error go away:
- using Agda 2.6.2.2
- filling in the hole
- putting `p` after the last record field
- removing the first argument of `p`

[2022-10-13 14:38] jespercockx commented on #6113
I have a fix incoming that improves the error message, but it does not make the example succeed:
[code]
The reason is that rewriting has become more type-directed in the new version of Agda (which was needed to fix other issues related to eta-equality and irrelevance), so it is no longer possible to build a rewrite rule when parts of the type are not yet defined. I realize that there is some deman

[2022-10-13 15:35] jespercockx commented on #6008
Here is a minimized example:
[code]
Unsolved meta:
[code]
Output of `-v tc.generalize` (edit: with `--show-implicit`):
[code]
It seems somehow the constraint `F _A_21 a =< F _A_25 _a_26` is preventing the generalization from happening.

[2022-10-13 16:01] jespercockx commented on #6008
The cause here seems indeed to be https://github.com/agda/agda/commit/982e18cdcbb2355d571bc05a8a98811fe6b48525, as applications of `F` used to be treated as neutrals in between its declaration and definition, but now they are treated as blocked instead.

It seems that we are moving slowly from "not yet defined things are treated as postulates" to "not yet defined things are treated as metavariable

[2022-10-13 16:33] nad commented on #6008
Can someone summarise the pros and cons of the two approaches? Should one ideally always use one approach, or does it make sense to use different approaches for different things?

[2022-10-13 16:56] jespercockx commented on #6008
Pro of treating not-yet-defined functions as postulates:
- Postulates are considered injective, so more metas can be solved.

Con of treating not-yet-defined functions as postulates:
- Postulates are rigid symbols, so you might get a hard type error instead of a constraint.

Pro of treating not-yet-defined functions as metavariables:
- The order of definitions in a mutual block does not influence

[2022-10-13 17:52] #6113 closed, assigned to jespercockx

[2022-10-13 18:00] szumixie commented on #6185
Bisection points to 42820f191fb131d7168eb682e56dd89b50bd8553.

[2022-10-14 01:33] #6185 closed, assigned to nobody

[2022-10-14 06:30] andreasabel commented on #6179
I now found how the current directory enters the include paths if no project is defined:
`libraryIncludePaths` adds it if `.` (`libNameForCurrentDir`) is among the currently used libraries:
https://github.com/agda/agda/blob/6d8db8c6015b89d44bd8efc5293d6142e151b9ae/src/full/Agda/Interaction/Library.hs#L429-L443
And `.` is among the currently used libraries if no project is defined, but the default

[2022-10-14 11:55] nad commented on #6179
There is also the following code:

https://github.com/agda/agda/blob/6d8db8c6015b89d44bd8efc5293d6142e151b9ae/src/full/Agda/TypeChecking/Monad/Options.hs#L222-L223

I guess this should only happen when `--no-libraries` is used, or perhaps when no `.agda-lib` file is found, or something like that.

[2022-10-14 13:28] #6145 closed, assigned to nad

[2022-10-14 14:03] nad commented on #6145
Fixed by the removal of `SourceToModule`.

[2022-10-14 14:31] nad commented on #6146
Another problem: If you refer to the module `A.B` using the path `dir/A/C/../B.agda`, then the root directory (used to search for `.agda-lib` files) obtained from `projectRoot` is currently `dir/A/C`. How can this be addressed?
* Could `canonicalizePath` be used? In that case `dir` would also be affected. Furthermore, if `canonicalizePath` is used, then one gets the wrong result if `A.B` is stored

[2022-10-14 16:35] plt-amy opened #6191 "Lossy unification for projections?"
Consider the following situation:

[code]

Note the use of `lossy-unification`. I've had at least one interaction with a confused user who doesn't understand why the first-order shortcut doesn't apply in this situation:

[code]

It's confusing for two reasons. First, the head here really is `_X_8`, not `Pointed.Carrier`, so we're not comparing applications at all (this is what I told them).

But o

[2022-10-14 17:12] nad commented on #6146
I went with the last option above ("check that the path suffix is correct"), and for the previous comment I went with the second option ("Use `canonicalizePath` to avoid at least some instances of this kind of error message").

I also changed the way in which Agda searches for `.agda-lib` files, using more or less an approach discussed [elsewhere](https://github.com/agda/agda/issues/5673#issuecomm

[2022-10-14 17:33] jespercockx commented on #6191
This sounds to me a lot like the concept of [canonical structures in Coq](https://coq.inria.fr/refman/language/extensions/canonical.html): if you mark `Pointed` as a canonical structure with projection `Carrier`, then the canonical structure machinery will try to solve values of type `Pointed` based on just their `Carrier` value. This was introduced as a kind of alternative to type classes back be

[2022-10-14 17:44] andreasabel commented on #6179
@nad: Do you root for 2. as well?

[2022-10-14 17:44] #6112 closed, assigned to jespercockx

[2022-10-14 17:48] nad commented on #6179
Preliminarily.

[2022-10-14 17:48] jespercockx commented on #5600
I'm re-opening this as it is currently not clear to me whether we want to keep this language change for the release of 2.6.3 (see #1113 and #6113).

[2022-10-14 17:51] jespercockx commented on #5600
See also https://github.com/agda/agda/issues/118#issuecomment-129021821 for the original incarnation of this issue (which has little to do with cubical)

[2022-10-14 18:10] jespercockx commented on #407
This was added by @andreasabel in https://github.com/agda/agda/commit/d4aeab0e86f97a83103c48cf2c72e110c9a1b4b5, so I'm closing this issue.

[2022-10-14 18:10] #407 closed, assigned to andreasabel

[2022-10-14 18:17] jespercockx commented on #659
We might take some inspiration from the Haskell Error Index project: https://github.com/haskellfoundation/error-message-index/

Here is some information about how we could implement it for Agda that I got from @david-christiansen:

[2022-10-15 04:17] Trebor-Huang commented on #6191
Might be related to #5720

[2022-10-15 07:23] jonsterling commented on #6191
Just to clarify, I would say that a very large part of the Coq ecosystem uses canonical structures and avoids type classes — basically everything influenced by the mathcomp project.

[2022-10-15 08:06] nad commented on #5673
With recent changes, up to and including 57aa29153db7507e3d677be43b06221faa6dcd28, the number of calls to `stat`/`lstat` for an empty file, with no `~/.agda` directory, is 59:
[code]

@csetzer, can you check if the problem you had is alleviated if you use this version of Agda? At the moment you can download it by using `git clone --branch issue6146 --single-branch https://github.com/agda/agda.git`

[2022-10-15 10:14] nad opened #6194 "The GHC backend sometimes compiles the wrong modules when --interaction is used"
The GHC backend seems to rely on the current working directory, and this does not work very well when `--interaction` is used.

Here is one example of what can go wrong:
* Place the following files in the otherwise empty directory `A`:
  * `Main.agda`:
[code]
  * `M.agda`:
[code]
* Copy the files to the otherwise empty directory `B` (placed in the same directory as `A`), but replace `"A"` with `"B

[2022-10-15 10:25] nad commented on #6179
@andreasabel, note the following code:

https://github.com/agda/agda/blob/f9169f46f7d9ef30ee23156c1638ab8fbd8881a8/src/full/Agda/TypeChecking/Monad/Options.hs#L74-L92

I think this code relies on the fact that once the command line options have been set, then `optAbsoluteIncludePaths` is not empty. If that is no longer the case, then the code above may have to be changed in some way.

[2022-10-15 11:16] nad commented on #6191
In general the solution to this kind of constraint is not unique.

[2022-10-15 11:49] nad commented on #6194
Perhaps this can be fixed by invoking GHC from a specific directory.

[2022-10-15 11:56] nad commented on #6146
I should perhaps note that I have hardly tested the Emacs mode at all, and I expect that something will not work properly. However, I don't want to spend time on that if we decide to abandon these changes. I think the main question is whether we want to support more uses of symbolic links, at the cost of not allowing `..` in parts of the paths. (Some preliminary changes seem to have made Agda fast

[2022-10-15 15:25] plt-amy commented on #6191
I'm not saying this should be default behaviour, I'm not even sure whether `--lossy-unification` should apply the first-order shortcut to _all_ projections. But there are certain classes of projections where, when the user has opted for lossy-unification, this would be really handy (and expected!)

[2022-10-18 11:41] nad opened #6200 "The reflection machinery does not treat the module telescope consistently"
The reflection primitives `getType` and `getDefinition` return definitions that include the module telescope. However, the quoting machinery does not in general return definitions that have been lifted to the top-level. Here is one example:
[code]
Output:
[code]
Note that the type of `f` includes the module parameter, but `f` is not applied to the module parameter in the quoted representation of t

[2022-10-18 20:36] andreasabel opened #6201 "Get rid of `haskell/actions/setup` in some workflows"
Since the [virtual environments](https://github.com/actions/runner-images) come with the latest versions of
- GHC
- cabal
- stack
- (ghcup, except for windows)

we can get rid of the `haskell/actions/setup` step in some workflows:
- `whitespace.yml`: Since `fix-whitespace` builds with the latest GHC, just use this one.
- `stack.yml`: Don't use `system-ghc: true`, let `stack` install GHC!
- `test.y

[2022-10-19 03:07] plt-amy opened #6203 "Projection-likeness and instance arguments"
The following reproducer was minimized from a macro that generates a big expression containing `hlevel 2`; We'd like to use this macro with elaborate-and-give, since it fills out a definition skeleton and allows the user to fill in any gaps by themselves.

[code]

Try doing elaborate-and-give for `hlevel 2`. What you get is `hlevel _`: the `hlevel` function is projection-like for the `x` argument,

[2022-10-19 07:21] jespercockx commented on #6203
I think the projection-likeness is supposed to be purely an optimization so it should not matter what the visibility of the arguments is (visible or hidden or instance). However I agree it's a good idea to reconstruct these arguments then for interactive commands. In general pretty-printing is not always very good at guessing which arguments can be inferred or not.

[2022-10-19 08:56] jespercockx opened #6205 "Internal error with `withReconstructed`"
This error was discovered by @thiagofelicissimo and minimized by me. Minimized example:
[code]
Error message:
[code]

[2022-10-19 12:32] #6205 closed, assigned to jespercockx

[2022-10-19 17:45] nad commented on #6181
This looks like a bug to me.

[2022-10-19 17:54] nad commented on #6008
This sounds bad to me.

Is there a third approach that is better than the two listed above?

[2022-10-20 08:42] jespercockx commented on #6008
Not that I know of

[2022-10-20 12:28] jespercockx commented on #6200
Yes, this would be good to have a better semantics of reflection in parametrized modules. Since this is not really critical and has been a problem for a while already, I am bumping this to 2.6.4.

[2022-10-20 14:58] #5600 closed, assigned to Saizan, jespercockx

[2022-10-20 14:58] #1113 closed, assigned to nobody

[2022-10-20 15:02] jespercockx commented on #6008
I think we're too close to the release now to change the language, so I have reverted the fix of #5600 (and hence made Agda treat not yet defined functions as postulates again). If you have a better idea that avoids the problems I wrote above, please open a new issue for that.

[2022-10-20 15:16] #6008 closed, assigned to jespercockx

[2022-10-20 16:05] nad opened #6211 "Regression related to Cubical Agda and generalisable variables"
The following code is accepted by Agda 2.6.2, but not by a recent development version:
[code]
[code]
For some reason there is no regression when `--without-K` is used.

@jespercockx, bisection points to 3dd609efb8a61aa34a11cc9b690eb42da107d596 ("[ re #5894 ] Compute proper blocking tags when comparing sorts"). Is the regression intended?

[2022-10-21 12:25] jespercockx commented on #6211
No this was not intended to have any change on the semantics of Agda, I'll have a look.

[2022-10-21 18:43] plt-amy commented on #6001
Bumping to 2.6.4; Since #6153 this doesn't panic anymore.

[2022-10-21 18:53] plt-amy commented on #6060
Having a normal one with the force pushes, sorry! (It took me a couple tries to remember to do everything that needs to be done to add a test)

[2022-10-21 18:56] plt-amy commented on #5816
No longer a panic as of 569375ea62, now this is the same error message issue as #6001. Should this be closed as a duplicate?

[2022-10-21 23:33] #6060 closed, assigned to plt-amy

[2022-10-22 11:16] jespercockx commented on #6211
This is again a case where a constraint ends up being postponed on a metavariable that is already solved, like in https://github.com/agda/agda/blob/931edcc11e0d1bfb8bc48678993ed4cc9df4cf44/src/full/Agda/TypeChecking/Reduce.hs#L410-L414

I have a fix for this issue, but adding a check to `addConstraint` for solved metas in the blocker suggests that this still happens in other places as well. Option

[2022-10-22 11:39] nad commented on #6211
I think we should aim to remove all uses of `instantiateFull`.

[2022-10-22 12:13] jespercockx commented on #6211
Yes, I definitely agree. However, right before the release might not be the best time to rip off a band-aid that might be covering an unknown number of bugs. What I will do now is to fix as many of the issues that I can find right now and then re-apply the band-aid. Then after the release we can remove the band-aid again and give ourselves a bit more time to fix the other issues that it might unco

[2022-10-22 12:17] jespercockx commented on #6211
Also there is a tradeoff to be made here (at least on the short term): the problem here is that constraints might get postponed on a metavariable that is already solved, and thus will never get reattempted. If introducing a call to `instantiateFull` is the easiest way to get rid of this bad behaviour, then I think it is worth it (though we should separately still try to get rid of the `instantiate

[2022-10-22 12:40] nad commented on #6211
Sure. Let's hope that the new call to `instantiateFull` does not degrade the performance of existing code too badly.

[2022-10-22 12:46] jespercockx commented on #6211
Another option is that I only add the `instantiateFull` calls where we currently already use `unblockOnAnyMetaIn` (and hence are already traversing the term). Then we could leave the behaviour on other cases as-is until after the release (and then do the proper thing by computing the right Blocker rather than relying on `unblockOnAnyMetasIn` and `instantiateFull`).

[2022-10-22 14:06] nad commented on #4784
@Saizan, can you construct a concrete counterexample that shows that (for instance) the following type without any parameters is incompatible with univalence?
[code]

[2022-10-22 16:27] #6211 closed, assigned to jespercockx

[2022-10-23 00:08] #5816 closed, assigned to plt-amy

[2022-10-23 00:08] #6005 closed, assigned to plt-amy

[2022-10-23 00:53] plt-amy commented on #5900
I'll keep working on it over the next week but sadly I'm not sure boundary-sensitive evaluation will be ready for review, let alone merge-able, in the coming 9 days. Bumping this to 2.6.4.

[2022-10-23 08:15] andreasabel commented on #6128
I managed to reproduce this behavior on my Windows machine.
Looks like our `Setup` script hangs.
We need to investigate this before the release!
[code]
This is the last message.  In the task manager, I can see `setup` running, and if I kill it, `stack` terminates as well.  So, it is definitely waiting for `setup` to finish.

[2022-10-23 08:53] nad opened #6220 "Should README modules still be supported?"
I have a README module which imports both a module that uses `--with-K` and a module that uses `--cubical`. After the recent change to the meaning of `--cubical-compatible` this module is rejected, because `--cubical` implies `--cubical-compatible`, which is coinfective, and the imported module which uses `--with-K` does not use `--cubical-compatible`.

We should decide whether this kind of README

[2022-10-23 08:55] nad commented on #6128
Is this a regression? In that case you could use bisection.

[2022-10-23 13:44] andreasabel commented on #6128
According to the CI runs on `master`,  https://github.com/agda/agda/actions/workflows/stack.yml?page=3&query=branch%3Amaster, the first commit that broke it was your (@nad) commit https://github.com/agda/agda/actions/runs/3083630490, see workflow run https://github.com/agda/agda/actions/runs/3083630490. But this commit just changed documentation.  So I think bisection cannot help here.

Concerning

[2022-10-23 15:11] nad commented on #6128
There was a description: "Fixed #5225" (and issue #5225 explains what this was about). I don't see the point of duplicating information, I created the pull request only to run the CI tests, not to ask for feedback.

This commit was not merged into the master branch. I usually don't merge, because merging adds noise to the history. Furthermore there is no guarantee that the CI tests will succeed af

[2022-10-23 15:40] nad commented on #6220
If we do not allow README modules, then I think we should allow giving multiple Agda files on the command-line:
* Reloading interface files can be slow.
* The HTML backend generates HTML for the file given on the command-line plus all its dependencies. If two incompatible files have overlapping dependencies, and HTML is generated for both of these files, then HTML is generated twice for the overla

[2022-10-23 15:43] andreasabel commented on #6128
"Fixed #nnn" isn't a sufficient description. An issue #nnn only describes the _problem_.  A PR should describe the _solution_.  In particular _what_ solution has been taken, and sometimes also _why_ this particular solution was chosen.

Communicating _more_ in a joint enterprise is seldom to the disadvantage.  Usually, there isn't _enough_ communication.

As a rule, each change through Agda should

[2022-10-23 16:42] nad commented on #6128
I don't fully agree with you, but I suggest that we discuss this offline.

I think the most important thing is to avoid false negatives, there have been lots of those recently.

[2022-10-23 17:11] nad commented on #6220
An easy fix, shortly before the release, is to change `--cubical-compatible` so that it is not coinfective in modules that use `--with-K` (and not `--safe`).

[2022-10-23 17:51] nad commented on #6220
I went with a slightly more restrictive variant. Here is the documentation:

[code]

[2022-10-23 20:10] #6128 closed, assigned to andreasabel

[2022-10-24 09:00] #6122 closed, assigned to jespercockx

[2022-10-24 09:03] jespercockx commented on #6055
There are just three open issues left (#5702 #6047 and #6220) so we could start to prepare a release candidate. @asr do you perhaps have time this week to assist with the release?

[2022-10-24 09:34] #5702 closed, assigned to plt-amy

[2022-10-24 12:23] andreasabel commented on #6076
Apparently, this problem was introduced first in https://github.com/agda/agda/commit/4d7076a89665335428d3952beb20a36bbacec4c3, so I label this issue as fixed in 2.6.3.

[2022-10-24 12:25] andreasabel commented on #6055
There is lots of closed issues without milestone which should potentially be added to 2.6.3, so that they appear in the changelog.  I get started on this.

[2022-10-24 12:36] andreasabel commented on #5349
I tested the example in the OP and it fails uniformly in Agda 2.6.0 - 2.6.3.  It succeeds with Agda 2.5.4 and earlier.
So I don't understand the outcome of this discussion.
@mietek : Did you check that the OP works with agda `master`?
@jespercockx : Would you mind checking again?

[2022-10-24 12:42] andreasabel commented on #5307
I could reproduce the OP with 2.6.0 and 2.6.1, but it is fixed in 2.6.2.

[2022-10-24 13:01] #5886 closed, assigned to nobody

[2022-10-24 13:06] andreasabel commented on #5661
@plt-amy: Fixed issues should be added to the correct milestone, so we can automatically generate the "closed issues" section of the respective CHANGELOG.
This issue existed in 2.6.1 and 2.6.2 and is fixed in 2.6.3.

[2022-10-24 13:13] jespercockx commented on #5349
I checked again with the example in the OP and I still do not get any unsolved constraints, so I am not sure what is going on.

[2022-10-24 13:28] andreasabel commented on #5890
Fixed along #5728.

[2022-10-24 13:35] andreasabel commented on #4103
In Agda 2.6.3, there will be a new pragma `{-# NO_PROJECTION_LIKE #-}` to disable  projection-likeness for individual functions.

[2022-10-24 13:40] andreasabel commented on #3053
The OP was apparently fixed in 2.6.1.

[2022-10-24 13:46] andreasabel commented on #2522
The case splitting example https://github.com/agda/agda/issues/2522#issuecomment-389133965 is still open.

[2022-10-24 15:20] plt-amy commented on #5661
@andreasabel Ah, alright! I'll go through the issues I've closed and see whether any are missing a milestone. Thanks for the shout.

[2022-10-24 15:40] andreasabel commented on #5694
This issue isn't fixed, so I reopened it.  However, we would need a mechanical reproducer...

[2022-10-24 15:49] andreasabel commented on #5676
This is already fixed in 2.6.1.

[2022-10-24 16:08] jespercockx commented on #5694
Meta: should we keep an issues if we have no known way of reproducing it? In my opinion it just clutters the open issue list, and there is nothing that can be done about it anyway, so it'd be better to close it (and reopen if anyone does find a reproducer).

[2022-10-24 16:18] andreasabel commented on #6055
I am done going through the relevant issues without a milestone and assigned these.  Fingers crossed, we should now not have any issue closed by 2.6.3 which is not on the milestone.

[2022-10-24 16:43] andreasabel commented on #6203
@plt-amy Is this planned for 2.6.3?  (Please assign a milestone: 2.6.3 or 2.6.4.)

[2022-10-24 16:58] andreasabel commented on #5694
In this case, it is not principally hard to reproduce, but tedious to write such a script.  At least I constantly run into these issues with stale generated `.hs` files left over that the make the GHC compile phase fail.

But in general, if we indeed have no known way of reproducing, I agree that we should close these issues.

[2022-10-24 17:04] andreasabel commented on #5349
I am getting this with 2.6.3 compiled today:
[code]
And the last line (line 21) has lots of yellow on the rhs:
[code]
The unsolved metas coincide exactly with the OP.

[2022-10-24 17:13] andreasabel commented on #6055
Now there is only #6220 left from this list.  We could start a release candidate as soon as @nad 's PR #6221 has landed in `master`, and the other hot PRs have cooled.  Once we forked a release branch, adding stuff is extra work, so I'd do the fork not too early.

[2022-10-24 17:48] #6220 closed, assigned to nad

[2022-10-24 18:34] andreasabel commented on #6055
This is the list of closed issues currently computed by `closed-issues-for-milestone 2.6.3`.  We should check for correct issue descriptions, whether these issues should appear in the changelog, and whether the changelog contains more detailed information when necessary:
- ~~[#394](https://github.com/agda/agda/issues/394): Syntax binders with multi-argument lambdas~~
  _(has changelog)_
- ~~[#957]

[2022-10-24 19:36] plt-amy commented on #6055
@andreasabel What needs to be done re.

this?

[2022-10-24 19:58] jespercockx commented on #5349
You're correct, I did something stupid. I can now reproduce the problem, here's a minimized example:
[code]
Unsolved constraints:
[code]
The last constraint `_7 =< _m_9 .Model.W` is a bit suspicious: it looks like it *should* be solvable, but something goes wrong in the occurs check.

[2022-10-24 20:10] andreasabel commented on #6055
@plt-amy : I meant that if an issue has a non-descriptive title, go _there_ and edit it (don't edit it in the list above).
And then, some issues that add new features to Agda (rather than being mere bug fixes) need a changelog entry explaining the new feature and how to use it (or link to the docs).

[2022-10-24 20:15] andreasabel commented on #6096
(This issue does not have a reproducer, so we don't list it in the changelog.)

[2022-10-24 20:16] andreasabel commented on #6220
(Excluded from changelog; fixes a "regression" caused by a new feature.)

[2022-10-24 20:27] jespercockx commented on #5349
With the flags `--show-implicit --show-identity-substitutions` the problem becomes a bit clearer:
[code]
So the reason why the constraint `_7 =< _m_9 .Model.W` does not get solved is because Agda has not yet ruled out that the metavariable `_m_9` might depend on `w'`. And Agda cannot prune the dependency of `_m_9` on `w'` since the meta occurs under the projection `.Model.W`, so pruning here might

[2022-10-24 20:31] jespercockx commented on #5349
~~Good news: it works.~~

[2022-10-24 20:47] andreasabel commented on #6043
This worked in 2.6.0 with error (for the MWE):
[code]
Broken in 2.6.1 and 2.6.2.

[2022-10-24 20:51] nad commented on #6055
Do you really want to advertise this hack (which is documented in the user manual)? The option is included as a (not very good) workaround for those who encounter error messages like "commitBuffer: invalid argument (invalid character)". If that error message is printed, then Agda will hopefully inform the user about possible workarounds, including the use of `--transliterate`:

https://github.com/

[2022-10-24 21:08] andreasabel commented on #6067
OP worked in 2.6.0, fails in 2.6.1 and 2.6.2.

[2022-10-24 21:12] nad commented on #6194
If Agda is invoked from the command-line, and the user gives the option `--ghc-flag=-idir`, then it may be confusing if `dir` is not interpreted relative to the current working directory. Thus I decided to invoke GHC from the directory containing the `MAlonzo` directory when `--interaction` or `--interaction-json` is used, and to use the current working directory otherwise.

[2022-10-24 21:14] andreasabel commented on #6003
Agda 2.6.0 still said correctly:
[code]

[2022-10-24 21:16] andreasabel commented on #6006
Works correctly in Agda 2.6.0.

[2022-10-24 21:21] plt-amy commented on #5843
Marking this `not-in-changelog` in favour of  #6049.

[2022-10-24 21:22] andreasabel commented on #6055
Fine with me if you want to keep it under the radar.

[2022-10-24 22:32] andreasabel commented on #6042
Works in 2.6.0, internal error in 2.6.1 and 2.6.2.

[2022-10-25 00:14] asr commented on #6055
Yes. I'll prepare the RC.

[2022-10-25 00:20] asr commented on #6055
In the [CHANGELOG](https://hackage.haskell.org/package/Agda-2.6.2.2/changelog) for 2.6.2.2 (and other versions too) we included a section with highlights. Could someone add some highlights for 2.6.3?

[2022-10-25 00:27] asr commented on #6055
It seems we are ready for creating the release branch. Right?

[2022-10-25 05:10] andreasabel commented on #6055
There are some PRs left with milestone 2.6.3 which I expect to land very soon.  You could wait for these to save you some cherry-picking and keep a simpler commit history.

There are also
- [x] some CHANGELOG entries missing still which need adding, and
- [x] #6226 some new contributors to be added to `team.rst`.

[2022-10-25 07:49] andreasabel commented on #5293
This already works correctly in 2.6.2.

[2022-10-25 08:02] andreasabel commented on #4778
The current status quo was already released with Agda 2.6.2.

[2022-10-25 08:10] andreasabel commented on #4755
(This fix was indeed not released with 2.6.2.2.)

[2022-10-25 08:23] andreasabel opened #6227 "CHANGELOG: Document handling of indexed data types in Cubical, plus the warning `NoEquivWhenSplitting`"
E.g. the test case for #4725 generates this warning:
[code]
I dimly remember we discussed adding a flag to switch off these warnings. Shouldn't we provide such a flag with 2.6.3?
@plt-amy @jespercockx @nad @Saizan

[2022-10-25 08:28] andreasabel opened #6228 "Upgrade `test.yml` workflow"
We are getting this warning on `test.yml`:

Also: `cabal-test.yml`.

[2022-10-25 08:30] gallais commented on #6227
If it is really a warning then can't you use `-WnoNAMEOFTHEWARNING`?

[2022-10-25 08:43] andreasabel commented on #6227
Indeed it is `NoEquivWhenSplitting`! We should print the warning names like GHC does.

This warning should be announced in the CHANGELOG, along with some text describing the new feature of Cubical Agda: support for indexed data types.
@plt-amy : Could you write such a text?

[2022-10-25 08:50] andreasabel opened #6229 "Print warning name along with warning text"
GHC prints the warning name along with the warning:
[code]

We should do so as well, helping the user to switch off specific warnings.

(Lifted from https://github.com/agda/agda/issues/6227#issuecomment-1290201331.)

[2022-10-25 09:00] nad commented on #6227
Partial support. Can one write any pattern-matching definition that does not trigger `NoEquivWhenSplitting`?

Should we use the word "experimental" in the description of this new feature?

[2022-10-25 09:05] nad commented on #5577
Now that we have the new option `--cubical-compatible` it might make sense to revisit this issue. I suggest that the warning should (by default) be emitted when `--cubical-compatible` is used, and that the warning should be turned off in the standard library's `.agda-lib` file.

[2022-10-25 09:12] nad commented on #6227
Issue #3733 is still open, and there is some discussion about what remains to be done. The text in the changelog could mention that the feature is unfinished, and in what sense it is unfinished.

[2022-10-25 09:12] andreasabel commented on #6047
@plt-amy : Currently this issue is both labeled __language change__ (suggesting there should be a changelog entry explaining the change) and __regression on master__ (suggesting it should not be in the changelog at all).
Could you help sort out this paradox, and add a changelog entry if needed?

(Reopening this so that we do not lose track of this formal issue.)

[2022-10-25 09:16] nad commented on #6055
I just moved issue #5577 to the 2.6.3 milestone.

[2022-10-25 09:26] andreasabel commented on #6001
With `--cubical-compatible`, we now get the error:
[code]
Just `--without-K` we get unsolved metas.

I'd say this issue can be closed.  I opened a PR that adds the OP as test:
- #6230

[2022-10-25 09:28] nad commented on #6227
There are a number of comments in the source code labelled with `#3733`. Perhaps one or more of these point to other things that could be mentioned in the changelog:

https://github.com/agda/agda/blob/96883ab502ee23d19ea6531fc2acb124e29e76eb/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L674

https://github.com/agda/agda/blob/96883ab502ee23d19ea6531fc2acb124e29e76eb/src/full/Agda/Compiler/ToTreeless.

[2022-10-25 10:16] andreasabel commented on #659
I had a look. This seems to be a crowd-sourcing project. Not a bad idea.
But error _numbers_?  This is so 1980s.  I get MS DOS flashbacks.
Besides that numbers are just square with most human brains when they exceed a certain number of digits, we already have error _names_ (the names of the error constructors).  We would use these, naturally, and clean up `GenericError`.
Also, we could just link t

[2022-10-25 10:18] #6001 closed, assigned to plt-amy

[2022-10-25 10:42] nad commented on #6145
@andreasabel, have you verified that this particular change is a performance enhancement? The numbers that I presented (#6183) related to several changes.

[2022-10-25 10:47] #6194 closed, assigned to nad

[2022-10-25 12:06] plt-amy commented on #6047
Yes I can: The regression on master is as described in the issue: basically no injectivity was happening for e.g. functions that match on `Fin n`.

As part of the fix, the language change is that functions matching on higher inductive types are no longer considered for injectivity. Changelog for that is in https://github.com/agda/agda/commit/7a630624a82d070cdee86be02d72d94e4924e381

[2022-10-25 12:28] andreasabel commented on #6047
Thanks for the clarification!  I think we can omit this issue from the changelog then.

[2022-10-25 12:28] #6047 closed, assigned to plt-amy

[2022-10-25 12:43] plt-amy commented on #6227
Very few definitions will escape the `NoEquivWhenSplitting` curse, so I think we should turn that warning off by default.

Namely they can't use anything other than `EtaExpandVar` and `Solution` steps during unification of indices on the LHS (there might be failure modes other than not being able to generate a left). That's because the least complete part of the implementation is `buildEquiv` in `

[2022-10-25 12:46] david-christiansen commented on #659
Here's a few reasons why an opaque identifier might be better than the name of a constructor:
 * There is not necessarily a bijection between the user's understanding of an error and the constructors of the error datatype. For instance, there might be a Boolean flag that is important for the meaning.
 * The error identifiers are part of the user interface to the language. Having the implementation

[2022-10-25 12:53] andreasabel commented on #6055
Updated list of currently closed issues in for the 2.6.3 changelog (doesn't include #5577 and other to-be-closed issues):

Regressions in Agda 2.6.0
-------------------------

- [#5875](https://github.com/agda/agda/issues/5875): Instance Search breaks Termination Highlighting
- [#6095](https://github.com/agda/agda/issues/6095): Ambiguous pattern synonyms broken with anonymous module

Regressions i

[2022-10-25 14:07] andreasabel commented on #6145
No, but the alternative is to not mention this in the changelog at all.  After all, it is an internal refactoring, which _should_ be mentioned if it had performance benefits.

[2022-10-25 15:02] #6203 closed, assigned to nobody

[2022-10-25 15:50] nad commented on #6145
I don't think this should be mentioned in the changelog without any evidence that it makes a difference.

[2022-10-25 15:52] nad commented on #6055
Should issues that are mentioned explicitly in the changelog be included in the list that is added during the release process?

[2022-10-25 15:55] jespercockx commented on #6055
Usually we apply the label `documented-in-changelog` to them, which implies that they are not listed in the issue list.

[2022-10-25 15:56] nad commented on #6227
I think the warning should be on by default, because it signals that a key feature of Agda is broken: things do not compute properly.

[2022-10-25 16:04] nad commented on #5448
The examples in the OP are now again accepted when `--without-K` is used. @andreasabel, perhaps you want to rename this issue.

[2022-10-25 16:08] andreasabel opened #6234 "Links from user-manual, e.g. cubical.rst, to github should be permalinks"
The user manual contains links to movable targets, such as:
https://github.com/agda/agda/blob/c6f187a62f5966579e5ece0524804bef90184d23/doc/user-manual/language/cubical.lagda.rst?plain=1#L553-L555
This isn't good as these links may break when e.g. the `cubical` library is modified / restructured.
These should be permalinks at least in every release of Agda.
Probably a solution on the level of Pytho

[2022-10-25 16:17] andreasabel commented on #6055
Ok, didn't remember this trick.  ~~I can apply this label accordingly to the issues with _(has changelog)_.~~
EDIT: seems like someone else is already at it.  That someone else, please also strike them out in https://github.com/agda/agda/issues/6055#issuecomment-1289436327.

[2022-10-25 16:22] nad commented on #6055
I thought that enhancements were not part of the list, because enhancements are typically documented in the changelog.

Anyway, I've added `documented-in-changelog` too all issues that were documented in the changelog.

Isn't that list automatically generated? I don't see the point of that exercise.

[2022-10-25 16:46] andreasabel commented on #6047
Turns out that its PR #6219 already is mentioned in the changelog.

[2022-10-25 16:54] andreasabel commented on #6055
Thanks.

That list was originally automatically generated, but now is a manually maintained worklist.
The point of the exercise is to show in one glance that nothing was forgotten.  E.g. you forgot to apply `documented-in-changelog` to #3714.

[2022-10-25 16:58] nad commented on #6055
Issue #3714 is not mentioned in the changelog.

[2022-10-25 17:03] andreasabel commented on #6055
Here: https://github.com/agda/agda/blob/6b5511167d92d70fd73909b4dfe7a454f7eb09fc/CHANGELOG.md?plain=1#L216-L218

[2022-10-25 17:10] andreasabel commented on #6055
For my part, I consider the _manual_ CHANGELOG editing done for now.  (The generated list of closed issues has to be added still once it is complete.)

[2022-10-25 18:25] plt-amy commented on #5448
@nad Well I did have an idea before, but reflecting on it now, I think it's too complicated (and wouldn't work anyway)...

But an alternative dawned on me earlier today: if an acceptable fix for this issue is to reject all definitions that `--cubical` would reject when it generates the `trX` clauses, then it's enough to check that the target type of the RHS is usable at "its own" modality. That's

[2022-10-25 19:18] nad commented on #5448
What would the error message look like with that approach?

[2022-10-26 09:51] nad commented on #5448
Given that @plt-amy has provided a proposed new implementation of the check I'm reopening this issue.

[2022-10-26 13:20] andreasabel commented on #6055
Our hopefully final developer meeting before the 2.6.3 RC is tomorrow Thu 27 Oct at 1.30pm Central European Summer Time at Chalmers in EDIT 6128 and online at

  https://gu-se.zoom.us/j/66481990570

@plt-amy @nad @UlfNorell @gallais @asr @jespercockx @L-TChen etc...

[2022-10-26 13:31] gallais commented on #6055
Tomorrow is St Andrews' open day so I will unfortunately not be able to join.
Nothing is assigned to me AFAIK so hopefully my absence won't be a problem! 😃

[2022-10-26 14:27] felixwellen opened #6238 "Allow flat matching on inductive families"
The following example does not type check with latest Agda (master):

[code]
Agda gives the following error:

[code]
Agda throws the same error with ```--cubical-compatible``` and if I understood #6236 correctly, once it is merged, Agda will also throw an error without any flag.

But, as I understand the flat modality in Agda, it should provide an approximation to what can be done with flat _and s

[2022-10-26 20:32] nad commented on #6238
I seem to recall that every program that is accepted is also accepted if every reference to the cohesive modality is removed, and I suspect that all compiler backends ignore this modality. Thus your change is presumably "safe".

Is it the case that this modality is only used together with (unprovable) postulates or assumptions? In that case the question is perhaps if your change is compatible with

[2022-10-26 20:42] nad commented on #6238
But according to @plt-amy (see pull request #6239) the change makes some generated code fail the type-checker.

[2022-10-26 20:47] nad commented on #6049
If @plt-amy's new modality check (#6236) is integrated, then I think the only difference between `--without-K` and `--cubical-compatible` is that the extra clauses related to inductive families are not generated when `--without-K` is used (and thus the `NoEquivWhenSplitting` warnings are not emitted).

However, the generation of the extra clauses can make Agda quite a bit slower. I think we should

[2022-10-26 21:07] plt-amy commented on #6049
`--without-K` should also avoid generating `hcomp`/`transp` helpers for data types/records and the `transpX` constructors themselves.

[2022-10-26 22:05] martinescardo commented on #6049
I think we should revisit how Agda accounts for various type theories. At the moment, with cubical Agda, strict propositions, and much more, all type theories are put in one big bag together. But some of us would like to use Agda for formalization in specific, different, type theories. It doesn't make sense, in my mind, to create a superset of all existing type theories. I would rather have Agda t

[2022-10-26 22:22] szumixie opened #6240 "Weird type generated for record field opened in telescope with generalized variable"
In Agda 2.6.2 or master branch
[code]
throws
[code]

[2022-10-27 06:36] andreasabel opened #6241 "Migration guide to `--cubical-compatible`"
We need to spell out explicitly somewhere (I suggest in the CHANGELOG) simple steps to migrate from `--without-K` to `--cubical-compatible`.  I suppose that these steps would be the following, assuming you want everything to work just as in 2.6.2:
- replace `--without-K` by `--cubical-compatible` (in your OPTIONS pragmas or library flags)
- add option `-WnoNoEquivWhenSplitting`.

(Btw. any chance

[2022-10-27 06:37] andreasabel commented on #6234
This seems to mostly affect `cubical.lagda.rst`.  @mortberg , any chance you can fix that before the release?

[2022-10-27 09:30] jespercockx commented on #6049
@martinescardo I believe that this is already how most of the newer additions to Agda's core theory work (e.g. `--cubical`, `--prop`, `--rewriting`, `--sized-types`, ... all have to be enabled explicitly if you want to use them). The exceptions are the features that have been in Agda since the early days, such as pattern matching, irrelevance, universe polymorphism, eta-equality, and `--with-K`. T

[2022-10-27 09:33] jespercockx commented on #6240
This is probably related to https://github.com/agda/agda/issues/5851

[2022-10-27 10:01] #5577 closed, assigned to nad

[2022-10-27 10:13] nad commented on #6049
Erasure is also always enabled, and one cannot avoid erasure if one uses data or record types with parameters. However, if a program with erasure annotations is accepted, then the corresponding program with all those annotations removed should also be accepted, so erasure should not affect the consistency of the language. (See issue #4786 for more discussion about this.)

[2022-10-27 10:33] nad commented on #6049
Now I also included `--profile=internal` and obtained the following figures:
[code]
[code]
Some notes:
* The total time spent on type-checking is almost unchanged, even though almost twice as much time is spent on the phase `Typing.CheckLHS.UnifyIndices`. Are the right-hand sides of the generated clauses not type-checked, or very simple?
* Extra time is spent on coverage, termination and positivit

[2022-10-27 10:33] nad commented on #6049
Will you implement this?

[2022-10-27 10:55] nad commented on #6049
I've written something.

[2022-10-27 10:58] nad commented on #6241
Perhaps the warning could even have a more self explanatory name.

[2022-10-27 11:00] nad commented on #6049
I accidentally closed the issue.

[2022-10-27 12:15] plt-amy opened #6243 "inverseScopeLookup gets much slower when --cubical-compatible is enabled"
Timing for the standard library with `--cubical-compatible`:
[code]
Timing for the standard library without:
[code]
I believe that this is because of the generated `*-hcomp`, `*-transpX`, `*-transp`, etc.

[2022-10-27 12:18] andreasabel commented on #6241
New warning name suggestion: `UnsupportedIndexedMatch`.
- update docs
- update standard-library: flags

[2022-10-27 12:22] nad commented on #6049
@jespercockx stated that he had already implemented it.

[2022-10-27 12:39] andreasabel opened #6244 "Make `--no-load-primitives` not `--safe`"
Make `--no-load-primitives` not `--safe`.

[2022-10-27 14:13] mikeshulman commented on #6049
FWIW, another feature that I was somewhat surprised is always on is the flat modality.

[2022-10-27 15:06] jespercockx commented on #6049
I agree, see the discussion at https://github.com/agda/agda/issues/4927

[2022-10-27 15:21] jespercockx commented on #6055
I've added a highlights section to the top of the Changelog.

[2022-10-27 15:22] nad commented on #6049
I compiled Agda 2.6.2.2 (with GHC 9.4.2, `-fenable-cluster-counting` and `-foptimise-heavily`, just like I did for Agda 2.6.3 above) and type-checked the standard library, commit 4b7e69b22ec698716f323fc24fc6bd1305ed47df. The figures above for the standard library with `--without-K` were obtained using a version of the library with one more commit, a change related to the new type of `primFloatToWo

[2022-10-27 15:28] jespercockx commented on #6049
@nad That's great! I'll add a quick summary to the highlights of the changelog.

[2022-10-27 15:36] martinescardo commented on #6049
I would prefer irrelevance to be off by default. In general, I would prefer everything that is not in the spirit of Martin-Loef Type Theory to be off (including K, but probably it is too late for this). Universes and universe polymorphism are fine.

(Where do I find the list of all options and their defaults? Google and the Agda Manual index are not helping me. Thanks.)

[2022-10-27 15:38] nad commented on #6049
I plan to add something like the following:
[code]
However, I want to rerun the benchmarks once the last changes to the code have landed.

[2022-10-27 15:41] nad commented on #6049
You can use `agda --help` and `agda --help=warning` to see most options.

[2022-10-27 15:46] martinescardo commented on #6049
Thanks. Is that the only place "most" options are documented?

[2022-10-27 15:47] nad opened #6245 "The dead-code analysis could skip generated clauses"
During the developer meeting today I asked whether the dead-code analysis could skip the clauses that are generated to support matching on inductive families in Cubical Agda, and according to @plt-amy that is the case.

[2022-10-27 15:48] jespercockx commented on #6049
All options are documented at https://agda.readthedocs.io/en/v2.6.2.2/tools/command-line-options.html

[2022-10-27 15:49] plt-amy commented on #6241
(Did we appoint anyone to rename the warning?)

[2022-10-27 15:53] jespercockx opened #6246 "Add a flag to turn on/off irrelevance (and disable it by default?)"
In https://github.com/agda/agda/issues/6049#issuecomment-1293718186, @martinescardo noted that he would like to have a flag to turn off irrelevance, and I agree that it would be nice to have such a flag (and its negation `--no-irrelevance`). I'm less sure about the question of whether this flag should be on or off by default. On one hand, irrelevance only kicks in when the user uses it explicitly

[2022-10-27 15:56] plt-amy commented on #6245
Justification: the generated clauses only mention Cubical Agda primitives (which are no longer considered for deadness: #6152) and the function currently being coverage-checked.

[2022-10-27 16:04] mikeshulman commented on #6049
Except for some that aren't, like the extra flags that can be passed to `-v` I learned about recently such as `import.chase`.

[2022-10-27 16:45] martinescardo commented on #6049
Perhaps `--exact-split` should be on by default? I've seen many students struggling with the fact that their definitions don't give definitional equalities.

[2022-10-27 17:21] jespercockx commented on #6049
I agree, except that when I first introduced the flag some people complained *VERY LOUDLY* about even just having a light grey background for the offending clauses.

[2022-10-27 17:25] nad commented on #6049
No, some are missing, including at least `--prop`, `--guarded`, and `--two-level`.

Regarding "most": One option is missing, `--ignore-all-interfaces`, but that option is not supposed to be used by regular users.

[2022-10-27 17:38] nad commented on #6246
I guess the flag should be infective.

Cubical Agda uses irrelevance in some way, right? Would `--cubical-compatible` have to imply this flag? In that case the flag might not be very useful, because several built-in modules use `--cubical-compatible`. Perhaps one could turn on the flag locally, in a non-infective way, when the generated Cubical Agda clauses are checked.

The standard library also

[2022-10-27 17:51] nad commented on #6245
A simple fix might be to add a flag to the `Clause` type which indicates whether the clause was generated, and to add a variant of `namesAndMetasIn` with a predicate of type `Clause -> Bool`.

[2022-10-28 06:16] andreasabel commented on #3986
This is fixed in 2.6.3 by removal of the `--subtyping` option.
Fixed by:
- https://github.com/agda/agda/pull/5608

[2022-10-28 06:16] #3986 closed, assigned to nobody

[2022-10-28 06:25] andreasabel commented on #5427
Options we remove should still parse, but result in an error, in this case `Option --subtyping has been removed in 2.6.3`.  The version when it has been removed isn't so important, we can forgo this.  But Agda shouldn't exhibit signs of Alzheimer's disease:
[code]
Prior art: https://github.com/agda/agda/blob/a524cbb6e82a5656f4245584e5e6d273acc37126/src/full/Agda/Interaction/Options/Base.hs#L1043-L

[2022-10-28 06:32] andreasabel commented on #5548
Fixed by:
- #5608

[2022-10-28 06:32] #5548 closed, assigned to nobody

[2022-10-28 06:36] andreasabel commented on #6246
Nothing speaks against flags to turn off language features of Agda.
But irrelevance seems to be a stable feature (with problematic extensions hidden under flags that are off by default), so I do not see why to turn it off by default.  Purists can turn it off if they like.

[2022-10-28 06:42] andreasabel commented on #6055
Should it say something about @Saizan 's work on supporting indexed families in Cubical Agda?
@plt-amy : Maybe you could a sentence pointing to that?

[2022-10-28 06:48] andreasabel commented on #6241
(No, at that point, no one volunteered directly.)

[2022-10-28 07:09] andreasabel commented on #5427
I'll add back Agda's memory...

[2022-10-28 07:26] jespercockx commented on #6055
Which version of the standard library will be the recommended one for Agda 2.6.3? Does the current `master` branch work or should there be a new release of the standard library too to ensure compatibility? If this question is resolved, we could perhaps add a note to the changelog to indicate which version of the library can be used. (Also, summoning @MatthewDaggitt to keep him updated on this.)

[2022-10-28 07:29] martinescardo commented on #6246
It is not a matter of purity. If you say you proved something in a mathematical or logical journal,  and if you are working in a non-standard foundation, the referees will want to know precisely what foundation you are using. And features that "seem to be stable" are probably not going to be very convincing.

[2022-10-28 09:19] #5427 closed, assigned to nad, andreasabel

[2022-10-28 09:20] nad commented on #6055
I don't think the current master branch works, there was some change related to `primFloatToWord64`.

I also noticed that the standard library doesn't export the `pattErr` constructor from `Agda.Builtin.Reflection`, that should presumably be fixed.

[2022-10-28 09:22] andreasabel commented on #6246
Agda has many uses.  Breathing life into MLTT is one (but we don't have a `--mltt` flag yet).  Others might just care for a dependently typed programming language.  There is no clear _default_ use of Agda.

[2022-10-28 09:30] MatthewDaggitt commented on #6055
So this is a problem. The `master` branch has a lot of changes related to v2.0 that we're not quite ready to release. The `experimental` branch is supposed to be clean, but last month in https://github.com/agda/agda-stdlib/pull/1843, @UlfNorell commented that it was "out-of-date" and in a moment of complete madness, I merged `master` into it :sob:

So we don't have a clean experimental from which

[2022-10-28 09:31] MatthewDaggitt commented on #6055
And then make a release for `v1.7.2` to go with it....

[2022-10-28 10:02] martinescardo commented on #6246
I'd love an `--mltt` flag.

[2022-10-28 10:54] jespercockx commented on #6246
What would an `--mltt` flag even mean? No pattern matching but only eliminators? No data types other than empty, unit, bool, nat, sigma, sum, and W? No mutual definitions? No universe polymorphism? No copatterns? I think it's better to have flags that have a clear semantics of what exactly they turn on or off.

EDIT: An alternative interpretation would be that `--mltt` should turn off all features

[2022-10-28 11:29] martinescardo commented on #6246
I favour the alternative interpretation. But of course this would need a more careful discussion.

[2022-10-28 11:30] nad commented on #6245
Could more clauses be skipped? I found the following ones that seem to be related to Cubical Agda:
* In `defineKanOperationR`:
  https://github.com/agda/agda/blob/c72b29a31eca24554167981cc2d8f8b00a2ddd4b/src/full/Agda/TypeChecking/Rules/Record.hs#L506
  https://github.com/agda/agda/blob/c72b29a31eca24554167981cc2d8f8b00a2ddd4b/src/full/Agda/TypeChecking/Rules/Record.hs#L524
* In `checkFunDefS`:

[2022-10-28 14:13] #6227 closed, assigned to plt-amy

[2022-10-28 16:45] andreasabel commented on #6049
@mikeshulman wrote:

Agda does not have conscious knowledge of the verbosity hierarchy.  You can pass in anything with `-v`, unknown verbosity strings just do not have any effect.  It would be cleaner to have an explicit catalogue of verbosity strings, but this is tedious for the developers; and these are only for debug printing.
Apparently you found `import.chase` useful, so consider making a pro

[2022-10-28 17:24] andreasabel opened #6250 "Documentation says `--sized-types` is the default when it isn't"
In 7bc919262a0b35e9ea78d988b282b3a20edf1c75 (@jespercockx) `--no-sized-types` was made the default, but the documentation still says the opposite.
https://github.com/agda/agda/blob/abaeefd7eb5d1036ce36f01c18ad4531cdb78fcf/doc/user-manual/tools/command-line-options.rst?plain=1#L532-L541
Same for `--guardedness`: https://github.com/agda/agda/blob/abaeefd7eb5d1036ce36f01c18ad4531cdb78fcf/doc/user-man

[2022-10-28 17:25] andreasabel commented on #6250
(Actually, why shouldn't this go into the changelog.)

[2022-10-28 17:35] andreasabel opened #6251 "`--help` still mentions `--subtyping` in 2 places"
One is here:
https://github.com/agda/agda/blob/abaeefd7eb5d1036ce36f01c18ad4531cdb78fcf/src/full/Agda/Interaction/Options/Base.hs#L1067-L1068

Ping @nad.

[2022-10-28 19:48] martinescardo commented on #6246
Also, as I said elsewhere, given that Agda is addressed to a wide audience (programmers, computer scientists, logicians, mathematicians), then this is precisely why we should be able to tune it to the specific wishes of the niches among the wide audiences. There is no default that will accommodate the wishes of such a general audience. At the moment the defaults seem a little bit random.

[2022-10-28 19:55] martinescardo commented on #6246
Oh, and I forgot to mention beginners in my list. For them, the fewer the enabled features, the better. I know because I teach Agda (at MGS, at HoTTEST, and at my own institution as an undergrad course).

[2022-10-28 20:15] #6244 closed, assigned to andreasabel

[2022-10-29 08:53] #6250 closed, assigned to andreasabel

[2022-10-29 08:53] #6251 closed, assigned to andreasabel

[2022-10-29 13:39] andreasabel opened #6257 "Document options `--prop`, `--guarded`, and `--two-level`."
@nad writes in https://github.com/agda/agda/issues/6049#issuecomment-1293844473:

These options should be documented in the user manual.

[2022-10-29 18:51] #6241 closed, assigned to plt-amy

[2022-10-29 20:50] andreasabel commented on #6228
We are not actively doing `set-output` in these workflows (only in `deploy.yml`).  Thus this must be an upstream problem.

[2022-10-29 20:50] #6228 closed, assigned to andreasabel

[2022-10-29 20:51] plt-amy commented on #6246
Yes, but not in an essential way. We use it in the definition of `Partial`/`PartialP`: `Partial φ A` is defined to be almost (but [not quite](https://github.com/agda/agda/issues/6015)) like `.(IsOne φ) → A`, as an alternative to putting `IsOne` in `Prop`.

[2022-10-29 21:00] andreasabel commented on #6238
Has this issue been fixed by
- #6239?

[2022-10-29 21:02] andreasabel commented on #5448
Please reopen with concrete TODOs.

[2022-10-29 21:02] #5448 closed, assigned to nobody

[2022-10-29 21:04] plt-amy commented on #6238
Yes. I'll write a follow-up issue to cover working out the proper interaction(s) between Cubical Agda and the `♭` modality.

[2022-10-29 21:04] #6238 closed, assigned to felixwellen

[2022-10-30 01:42] MatthewDaggitt commented on #6055
As discussed I've created a `release-v1.7.2` for the standard library and opened a PR switching to it (https://github.com/agda/agda/pull/6260). May require a couple of CI iterations to check that I've managed to cherry-pick everything of interest.

[2022-10-30 05:45] mikeshulman commented on #5868
As of #6258 its existence is at least mentioned.  But apparently it is still not described anywhere.

[2022-10-30 05:52] mikeshulman opened #6261 "Make -v import.chase official"
The undocumented verbosity flag `-v import.chase` displays a notification when compilation of each imported file is completed, in addition to when it is started.  I think this is a useful feature that regular users (such as myself) may want, and it would be nice to make it official and documented.  (In fact, I was told that this used to be the default behavior.)

It would also be nice if when this

[2022-10-30 08:29] nad commented on #6261
I think that `-v` should be reserved for debugging information. A different flag could be used for the suggested feature, especially if the semantics should be different.

[2022-10-30 08:35] nad commented on #5448
The proposed new implementation has been completed and committed.

[2022-10-30 08:54] nad opened #6262 "Installation failed because of `--only-dependencies`"
When I run `make install` I get the following output:
[code]
Has anyone else seen this? I tried to remove the step that uses `--only-dependencies`, and then the build succeeded. What is the purpose of this step?

[2022-10-30 10:47] nad opened #6263 "Error related to `--flat-split` when this option is not used"
Some of my code triggered the following error:
[code]
The code does not mention the `--flat-split` flag. I think the error is triggered because the importing module uses `--cubical-compatible` and `--with-K`, whereas the imported module uses `--with-K` and not `--cubical-compatible`.

I see three ways to fix this problem:
* I could use `--no-flat-split`.
* We could turn off `--flat-split` by defau

[2022-10-30 11:37] nad opened #6264 "Unused options"
The following options seem to be unused, and could presumably be removed:
* https://github.com/agda/agda/blob/7588018496fbf489668bceb4ca99f401711053a2/src/full/Agda/Interaction/Options/Base.hs#L127
* https://github.com/agda/agda/blob/7588018496fbf489668bceb4ca99f401711053a2/src/full/Agda/Interaction/Options/Base.hs#L161

[2022-10-30 11:39] nad opened #6265 "Some options should be listed in `restartOptions`"
The following options are not listed in `restartOptions`:
* `optCopatterns`
* `optFirstOrder`
* `optFlatSplit`
* `optForcing`
* `optKeepCoveringClauses`
* `optPatternMatching`
* `optProjectionLike`

The following options related to backends are also not included, but perhaps that is fine, if the idea is that the backends should take care of recompilation logic:
* `optCompileNoMain`
* `optCountClus

[2022-10-30 11:39] nad commented on #6263
I added `--no-flat-split` to the `.agda-lib` file and still obtained the error message above. However, the error went away when I changed something in another file. The problem is presumably that `optFlatSplit` is not mentioned in `restartOptions` (#6265).

[2022-10-30 11:40] nad opened #6266 "Can constraint handling be optimised?"
I looked a little at the constraint handling code. Some observations:
* The state contains two *lists* of constraints, `stPostAwakeConstraints` and `stPostSleepingConstraints`. Functions like `wakeupConstraints` and `stealConstraints` traverse one or both of these lists. Are these lists assumed to always be short?
* When a meta-variable is frozen its associated constraints seem to be left where th

[2022-10-30 12:26] nad commented on #6245
I tried to omit the clauses created in `createMissingTrXTrXClause`, `createMissingTrXHCompClause` and `createMissingTrXConClause` from the dead-code analysis, and quick testing suggests that this does not make Agda faster.

I've pushed the changes to the issue6245 branch, in case anyone wants to investigate this further.

[2022-10-30 12:26] #6245 closed, assigned to nobody

[2022-10-30 13:06] UlfNorell commented on #6266
My feeling is that if the constraint lists are long you have much more serious performance problems, so I would be surprised if addressing any of the points above made any measurable difference.

[2022-10-30 16:10] mikeshulman commented on #6261
Makes sense.

[2022-10-30 17:42] nad commented on #6262
One dependency was broken. I could fix the problem by unregistering this dependency and removing the local build trees.

[2022-10-30 17:45] nad commented on #6262
Oh, I forgot that I had also commented out the body of the `install-deps` target.

[2022-10-30 18:32] nad commented on #6263
I'll make `--no-flat-split` the default and remove this flag (to ensure that one cannot use `--flat-split --no-flat-split`).

[2022-10-30 18:49] nad opened #6267 "Missing `WARNING_ON_USAGE` warnings"
The following code does not trigger any warnings:
[code]

[2022-10-30 19:01] nad commented on #6265
If the changes in my pull request are included changes to these options should trigger a recheck.

I did not change the treatment of these options (except that I removed an occurrence of `reportSLn`).

I also noted that a change to `optUnicode` triggers a recheck. I did not change this behaviour.

I made the functionality safer in the sense that, if one forgets to update the functionality when a n

[2022-10-30 19:48] nad commented on #6257
I found two more undocumented options: `--keep-covering-clauses`, `--lossy-unification`.

[2022-10-31 09:15] andreasabel commented on #6257
I agree these should also be documented, so feel free to open a new issue.  (But I achieved what I set out to do in this issue.)

[2022-10-31 09:15] #6257 closed, assigned to andreasabel

[2022-10-31 09:25] andreasabel commented on #6265
Yes, this seems the safer way round.

[2022-10-31 09:31] andreasabel commented on #6262
I suppose this is v1-cabal.  Maybe we should make v1-cabal developer-only, and change user instructions to just use v2-cabal.  Actually, when you do `cabal install Agda` or `stack install Agda` (what I would think most users do), you should not run into such problems.

I wouldn't classify this as `release blocker` since this looks more like a unicorn.
Anyway, shouldn't block the release candidate.

[2022-10-31 09:39] andreasabel commented on #6267
Looks like this is the same as
- #4958

I created a new label https://github.com/agda/agda/labels/warning-on-usage

[2022-10-31 09:42] andreasabel commented on #5868
Maybe it was too experimental, so the contributors didn't give it citizen rights.  But since it is still here, would be nice if someone volunteered a documentation.

[2022-10-31 10:25] andreasabel commented on #6049
What is still open here seems to be @nad's planned changelog on performance:
- https://github.com/agda/agda/issues/6049#issuecomment-1293720171

[2022-10-31 11:05] nad commented on #6262
Hopefully no-one else has this problem.

[2022-10-31 11:08] nad opened #6269 "Documentation is missing for `--keep-covering-clauses` and `--lossy-unification`"
The following options are not documented properly in the user manual: `--keep-covering-clauses`, `--lossy-unification`.

[2022-10-31 11:08] nad commented on #6257
See #6269.

[2022-10-31 11:16] nad commented on #6263
Does anyone object to this change, which is not backwards compatible?

If we are going to hide the flat modality behind a flag (#4927), then I think we should do this now, rather than in the next release, to avoid breaking code twice.

[2022-10-31 11:45] nad commented on #4927
I noticed that the type `Cohesion` has *three* constructors:

https://github.com/agda/agda/blob/bd2afa1e98a12efebc674a1fc32b1cec19da65b3/src/full/Agda/Syntax/Common.hs#L1338-L1345

Should the flag for turning off this modality be called `--flat`, `--cohesion`, or something else? If it is called `--cohesion`, then it could perhaps be used also for the sharp modality, which is commented out above, i

[2022-10-31 15:47] mikeshulman commented on #5868
It's probably a bit more stable than it was originally, now that a few of us have started actually using it and some bugs have been reported and fixed.  And other experimental options do appear in the reference manual.

However, it would still be nice if something could be done about #5761, particularly the point about the empty type [here](https://github.com/agda/agda/issues/5761#issuecomment-115

[2022-10-31 16:16] nad commented on #4927
I added `--cohesion`.

[2022-10-31 16:17] nad commented on #6263
See pull request #6268.

[2022-10-31 16:45] plt-amy commented on #4927
Well, aiui Squash is just what Continuous becomes when we go into a Flat context, right? Are there any other cases where we apply zeroModality to the context?

[2022-11-01 03:45] L-TChen commented on #6055
Should we mark breaking changes explicitly in the changelog? I'd like to have a warning, say [**Breaking**], added to each item so, for example, there would be a short paragraph about `getContext` and `inContext` in the changelog like

  `List (Σ String λ _ → Arg Type)` instead of  `List (Arg Type)` for printing
  type information better. Similarly, `extendContext` takes an extra argument
  of typ

[2022-11-01 09:58] nad opened #6270 "Irrelevance in the type of a record module definition"
Consider the following code:
[code]
The type of `R.A` uses irrelevance:
[code]
Why is this the case? If you add a trivial field to `R`, then the type of `R.A` no longer uses irrelevance:
[code]
[code]
Ordinary modules are not treated in this way:
[code]
[code]

[2022-11-01 12:10] nad opened #6271 "Cubical: should generated code corresponding to erased constructors be erased?"
When `--cubical-compatible` is used Agda generates code for each constructor (in `defineProjections` and `defineCompData`). If a constructor is erased, should the generated code also be erased?

[2022-11-01 14:16] #4927 closed, assigned to nad

[2022-11-01 14:16] #6263 closed, assigned to nad

[2022-11-01 14:16] #6264 closed, assigned to nad

[2022-11-01 14:16] #6265 closed, assigned to nad

[2022-11-01 16:39] jespercockx commented on #3094
I'd like to take a critical look at all uses of `instantiateFull` after the release of 2.6.3, so I'm assigning this to myself.

[2022-11-01 16:51] jespercockx opened #6272 "Put Level type in a different sort"
Currently Agda has `Level : Set`, which is a bit dubious since it allows a number of things that are not possible in most versions of type theory, such as computing the maximum of a list of universe levels. It also leads to some issues in practice, in particular a loss of subject reduction in #5810. Hence I believe it would make sense to consider moving `Level` to a different sort. Options here ar

[2022-11-01 17:10] sattlerc commented on #6272
Move it to its own new sort!

[2022-11-01 17:12] plt-amy commented on #6272
I think I'm missing something, but I don't see how any of these solutions would address the failure in subject reduction from #5810?

Edit just to save some space: Would the sort of `Level` admit record definitions, so there's some hope of recovering e.g. [these definitions](https://github.com/agda/agda-stdlib/blob/master/src/Function/Nary/NonDependent/Base.agda#L50-L52)? Or would code like this b

[2022-11-01 17:16] JacquesCarette commented on #6272
I would think that that would seriously break some code that @gallais has written (and is integrated in the standard library).

[2022-11-01 18:14] andreasabel commented on #6055
@L-TChen : Yes this is a good idea!  Please go ahead!

[2022-11-01 18:17] andreasabel commented on #6055
@asr: Just on time, as of 1 Nov we have no open PR for 2.6.3.  I think it is an opportunity to make a release candidate now!

[2022-11-01 18:51] nad opened #6273 "Missing highlighting when interleaved mutual is used"
The last two occurrences of `D` are not highlighted properly:
[code]
If non-interactive highlighting is used, then you get proper highlighting the first time the module is loaded, but not when it is reloaded. If interactive highlighting is used, then you do not get proper highlighting the first or the second time.

[2022-11-02 04:57] andreasabel opened #6274 "Our feedback on GHC medium-term priorities"
Dear Agda team,

I got a message from the Haskell foundation asking for our feedback on GHC.  We are recognized as "key customer" of GHC so our input will count or at least be responded upon.

We are asked to respond within 2 weeks, so roughly by the last days of the Agda meeting.  Thus, there is a bit of time to collect our feedback, we could even have a little session during AIM on this.

When I

[2022-11-02 05:04] asr commented on #6055
I'm starting right now.

[2022-11-02 05:37] asr commented on #4506
I removed a trailing whitespace in the title.

[2022-11-02 05:37] asr commented on #5715
I removed a trailing whitespace in the title.

[2022-11-02 05:57] asr commented on #6055
I just created the `release-2.6.3` branch based on 42a5683c65c2fad64a7feabc1ec3cdf3b7fe9b2b.

[2022-11-02 06:02] L-TChen commented on #6055
I created a PR #6275 for this. Hope it can be checked and merged before the official release.

[2022-11-02 06:03] asr commented on #6055
Why are not CI running on the `release-2.6.3` branch?

[2022-11-02 08:18] jespercockx commented on #6274
On top of my list would definitely be a smarter way of having type class specialization without the cost of either having to add `SPECIALIZE` pragmas by hand (and thus risk forgetting them in places) or the explosion in compilation time and size of the final executable associated with `specialize-aggressively` and `expose-all-unfoldings`.

Also a better way of dealing with **circular module depend

[2022-11-02 08:31] nad commented on #6274
Have you looked at [`System.Mem.StableName`](https://hackage.haskell.org/package/base-4.17.0.0/docs/System-Mem-StableName.html)?

[2022-11-02 09:03] gallais commented on #6274
I talked a little bit with Adam Gundry at the last SPLS and I did mention that compiling
`Agda.TypeChecking.Serialise.*` takes an awful lot of time, so much so I'm tempted
to rip out the type-level magic I put in there to avoid having `valu1` ... `valu30`.
He told me that he's working on **making type-level computations faster** (IIRC the
internal representation grows quadratically in the number o

[2022-11-02 11:10] andreasabel commented on #2465
More precisely, here: https://github.com/agda/agda/issues/1832#issuecomment-278344148

[2022-11-02 14:17] Lysxia opened #6276 "LaTeX/HTML generation doesn't properly render parameters of pre-declared records"
Example:

[code]

Run `agda --latex A.lagda.tex`. The second `A` is not wrapped as `\AgdaBound{A}`, and is just a naked string.

[code]

[code]

[2022-11-02 15:37] asr commented on #6055
It seems CI didn't run on the `release-2.6.3` branch because there weren't changes respect to `master`. CI worked after cherry-picking a commit into the branch.

[2022-11-03 11:15] nad commented on #6276
I'm guessing that this problem is closely related to one I reported recently (#6273).

[2022-11-03 14:49] andreasabel commented on #6276
Yeah, highlighting is also broken for the OP in the non-interactive mode.  So, it isn't connected to *`interleaved`* `mutual`.

[2022-11-03 15:14] nad commented on #6273
I noticed that the constructor `c` is also not highlighted correctly.

The LaTeX backend also produces incorrect output (if the code above is placed in a `code` environment). The following code corresponds to the last two lines of Agda code above:
[code]
However, with `--only-scope-checking` you get the following code:
[code]
The reason for this discrepancy is presumably that when `--only-scope-ch

[2022-11-03 15:18] nad commented on #6276
[Not really.](https://github.com/agda/agda/issues/6273#issuecomment-1302263801)

The problem I reported in issue #6273 is connected to `interleaved mutual`, see my analysis of that problem.

[2022-11-03 15:27] nad commented on #6276
This problem seems to be easy to fix, just replace `A.noDataDefParams` with `ps` in the following piece of code:

https://github.com/agda/agda/blob/fc4e2fa5d866b3fa55f944c8ca17c54f8db35b7f/src/full/Agda/TypeChecking/Rules/Decl.hs#L409

[2022-11-03 16:23] nad opened #6279 "Highlighting of `@0`"
The `@0` attribute is highlighted as "symbol + number" when token-based highlighting is used, and as "symbol + symbol" when syntax-based highlighting is used. (With at least one exception: The `@0` attribute on erased pattern-matching lambdas is always highlighted as "symbol + number".) This is problematic because the Emacs mode applies token-based highlighting to a file when it is saved. Thus, if

[2022-11-03 16:56] nad commented on #6279
Maybe not. The following code should be allowed, and in this code `@0` should be highlighted as "symbol + number":
[code]
Furthermore Agda currently allows whitespace between `@` and `0` in erasure attributes:
[code]

I've fixed this.

[2022-11-03 20:54] nad opened #6281 "Special treatment of attribute followed by underscore in pretty-printer"
Why is the following code used to print things with certain attributes?

https://github.com/agda/agda/blob/fc4e2fa5d866b3fa55f944c8ca17c54f8db35b7f/src/full/Agda/Syntax/Concrete/Pretty.hs#L82-L95

I think this code is based on code for irrelevance added by @andreasabel back in 2010 in a commit (8fd48ca93b735e89af2fc31a9906437be95048e2) with the following commit message:

I'm guessing that the orig

[2022-11-03 21:12] nad commented on #6281
I removed the special treatment of `"_"` and ran `make fail`, and one test case was affected. Now `λ (@0 _) → Set` is printed as `λ (@0 _) → Set` instead of as `λ (_) → Set`. The old behaviour is incorrect.

[2022-11-04 06:34] andreasabel commented on #6274
@jespercockx wrote:

Apparently, such are not very common. Matthew Pickering told me in https://gitlab.haskell.org/ghc/ghc/-/issues/22017#note_448845 that GHC and Agda are the "main projects" using boot-files.

That said, I agree, would be nice not to have to write these boot files.

[2022-11-04 06:36] andreasabel commented on #6274
@nad wrote:

I had a look and this does not appeal to me.  I want pointer equality at every type without placing everything in `IO`.

[2022-11-04 06:40] andreasabel commented on #6049
@nad wrote:

Nisse, are you still intending this?  Otherwise, we can close this issue.

[2022-11-04 07:39] andreasabel opened #6283 "Build failure with `mtl-2.3.1`"
Trying to build with the freshly released `mtl-2.3.1` I get this build error:
[code]
This is due to removed re-exports in `mtl-2.3`.  Seems like my work on `mtl-2.3` compatibility has bit-rot:
- #5798

We should make sure that `Agda-2.6.3` can build correctly as `mtl-2.3` permeates the eco-system.  Atm, third-party dependency constraints that currently block the usage of `mtl-2.3`, but this will c

[2022-11-04 09:02] #6283 closed, assigned to andreasabel

[2022-11-04 09:10] andreasabel opened #6285 "Bump to GHC 9.4.3"
[GHC 9.4.3 has been released](https://www.haskell.org/ghc/download_ghc_9_4_3.html).
- [x] Bump 9.4.2 to 9.4.3 in CI.
- [x] Bump 9.4.2 to 9.4.3 in stack configuration (see `stack-9.4.2.yaml`).
- [x] Bump in documentation (release notes, installation instructions etc.).

I'd say we do this before releasing 2.6.3, but it is not a super high prio (unless we find that GHC 9.4.3 introduced regressions t

[2022-11-04 09:12] nad commented on #4743
Currently Agda always treats (for instance) a pattern-matching lambda as non-erased, unless the lambda itself is explicitly marked as erased. One might think that a pattern-matching lambda that is defined in an erased context should be treated as erased, but in that case the following code, which does not mention `@0`, is rejected:
[code]
If the pattern-matching lambda is erased, then the meta-var

[2022-11-04 09:32] jespercockx commented on #4743
I think it makes sense to treat all auxiliary functions that are generated while typechecking an erased definition should also be treated as erased, yes.

[2022-11-04 13:22] andreasabel opened #6286 "Better documentation of `--lossy-unification`"
Better documentation of `--lossy-unification` requested by @MatthiasHu.

This is an example where `--lossy-unification` loses a solution that is found without this flag:
[code]
TODO: an example where `--lossy-unification` is necessary for success.

[2022-11-04 13:40] nad opened #6287 "Erased record expressions should not be allowed in non-erased contexts"
The following code is currently accepted:
[code]
[code]
It should not be accepted, because the constructor `tt` is treated as erased in the module `E`.

The following code is also accepted:
[code]
[code]
However, the GHC backend fails to compile the code:
[code]

[2022-11-04 14:04] jespercockx commented on #6286
How about this example?
[code]

[2022-11-04 14:15] andreasabel commented on #5061
I don't think a burning issue is left here.

[2022-11-04 14:15] #5061 closed, assigned to L-TChen

[2022-11-04 16:21] andreasabel commented on #6286
Yes.  I saw that my example can be rewritten to prove both points:
[code]

[2022-11-04 16:37] andreasabel commented on #6055
We are in a kind of limbo state atm:
1. `release-2.6.3` already exists for the release
2. `master` is not yet ready for commits aimed at 2.6.4, because e.g. the 2.6.3 CHANGELOG still sits on `master`

Because of 2., `master` cannot be used for 2.6.4 development and only contains 2.6.3 stuff. So the `release-2.6.3` branch isn't needed yet.
I think when `release-2.6.3` is definitely forked off, this

[2022-11-04 17:08] andreasabel opened #6289 "How to get profile statistics from `--profile` in Emacs?"
With `--profile=conversion` e.g. I get profiling information when I call Agda from the command line, but how do I get in Emacs?

Should be added to the documentation!

Considered for 2.6.3.

[2022-11-04 17:49] asr commented on #6055
Please note that we first will release a RC and after we will release the final version, so at the moment `master` is only for 2.6.3.

Right. We always make that after the final release (no between the RC and the final version).

I'm planning make the release of the RC this weekend.

Mmm, Ok. I'll delete the branch and I'll create it again this weekend.

[2022-11-04 17:55] nad opened #6290 "Incorrect highlighting for `module _ where`"
The following code is not highlighted correctly:
[code]
If the Emacs mode is used with default settings (including non-interactive highlighting), then the underscore gets two faces the first time the module is loaded: `agda2-highlight-module-face` and `agda2-highlight-symbol-face`. When the module is reloaded the only face is `agda2-highlight-symbol-face`. I would prefer if the underscore was alwa

[2022-11-04 19:24] nad commented on #6289
I just tested this. The information ends up in the `*Agda debug*` buffer, just as it did before.

[2022-11-04 19:31] nad commented on #6286
I don't think we should encourage use of this option. As I wrote [elsewhere](https://github.com/agda/agda/issues/4573#issuecomment-1117302289):

Something along these lines could perhaps be integrated into the documentation.

[2022-11-04 20:09] andreasabel commented on #6272
I also don't see how that would help.  Wouldn't you still have to place `(x : A) -> Set (f x)` into `Setomega` (which is the cause of the subject reduction problem)?  What prevents us from writing a function `f : A -> Level` when `Level : Setomega`?

I also fail to see why operations on levels should be so terrible.  We could as well have `Level = Nat`, just to point in the opposite direction.  Th

[2022-11-04 20:12] nad opened #6291 "No warning for duplicate field"
The following code triggers a warning:
[code]
[code]
However, no warning is generated for the following code:
[code]
I think the second piece of code should also yield a warning.

[2022-11-04 20:38] nad opened #6292 "Document interaction between reflection and erasure"
The user manual section about run-time irrelevance currently does not cover reflection. I think we should specify when the reflection machinery makes the type-checker enter or leave compile-time mode.

@jespercockx, perhaps you have the best understanding of this part of the implementation. Can you write something?

I labelled this as a bug, because what is currently in the user manual is presumab

[2022-11-04 20:39] nad commented on #6279
Here is another piece of code that is not handled correctly:
[code]
For some reason "symbol + number" is used for the occurrence of `@0` in this code (when the code is loaded or reloaded and non-interactive highlighting is used), but if `F` is not indented, then "symbol + symbol" is used (at least when the code is reloaded).

[2022-11-04 20:46] andreasabel commented on #5810
Setomega is really a truncation of what would be naturally ordinal levels.  Say we have construction for limit levels
[code]
then `(x : A) -> Set (f x)` does not live a `Setomega` but simply in `Set (sup A \ x -> lsuc (f x))`.  Once `f x = lzero` is known, this collapses to `Set (sup A \ _ -> lsuc zero) = Set1`.

We currently _round up_ every limit on levels to omega and assign universe `Setomega`

[2022-11-04 21:58] nad opened #6293 "Missing documentation for `agda2-compute-normalised-toplevel`"
The possibility to compute head normal forms is part of the doc-string for `agda2-compute-normalised`, but not for `agda2-compute-normalised-toplevel`.

[2022-11-04 22:32] nad commented on #4743
You can import Cubical Agda code from Erased Cubical Agda code. The Cubical Agda code is erased, and not compiled. This might work, but consider the following code:
[code]
[code]
[code]
The following Haskell code is generated when `Erased-cubical` is compiled:
[code]
Note that the module `MAlonzo.Code.CubicalZ45Zcompatible` is imported, even though `Erased-cubical` only depends on `Cubical-compati

[2022-11-04 22:34] nad commented on #6271
I don't know a lot about this generated code, but I think I read that some generated code (extra clauses for definitions by pattern matching) is not type-checked. Can the double-checker handle the generated code? In that case one could perhaps catch some problems by using `--double-check`.

Another question is if there are theoretical reasons for erasing, or not erasing, these things.

[2022-11-04 22:43] nad commented on #6271
Maybe not, see issue #4455. I tried to type-check some code that does not use any (other) options with `--double-check` turned on, and then Agda failed. Is the double-checker not maintained?

[2022-11-04 23:00] nad commented on #4743
I have implemented support for erased data and record types and modules.

Please open a new issue for erased import statements.

[2022-11-04 23:06] nad commented on #5810
If cumulativity is added for `Setω`, then I think `Setω` should be hidden behind a flag. (I think that `Setω` should be hidden behind a flag anyway, but I think the case for that is stronger with cumulativity.)

[2022-11-04 23:10] nad commented on #6274
Pointer equality is not referentially transparent, so I'm not quite sure what you are looking for. Perhaps you can hack something together using `unsafePerformIO`.

[2022-11-04 23:14] nad commented on #6274
This is probably too vague, but I wonder how cautious GHC's optimiser is for the Haskell code that Agda's GHC backend generates, with its liberal use of `unsafeCoerce`. Perhaps it could do a better job.

[2022-11-05 17:17] L-TChen commented on #5810
I’d second @andreasabel’s suggestion. The text of this issue might be misleading as I didn’t know what to expect at first, so I hinted that subject reduction should be restored.

[ On the other hand, not directly relevant to this issue, what is first-class universe level anyway? Can we learn something from @AndrasKovacs‘s work and lay the groundwork of what Agda is using precisely? ]

[2022-11-05 19:53] nad commented on #4743
My implementation rejects `open public` in erased modules. If `open public` were allowed, then I think that all definitions that are re-exported should be erased. However, `open public` is handled by the scope-checker, right? Modalities are handled by the type-checker, and I didn't want to bring modalities into the scope-checker.

[2022-11-05 20:26] nad opened #6297 "Is it OK to make parameters erased in Cubical Agda?"
Parameters are erased in the types of data and record constructors. One motivation for this is that Agda's internal representation does not include the parameters, so one can (at least in some cases) define variants of the constructors and eliminators with erased arguments. Here is one example (type-checked using Agda 2.6.2.2, in which the parameters are not erased):
[code]
However, I wonder if th

[2022-11-05 20:37] nad opened #6298 "Code is rejected with `--cubical-compatible`, but not with `--without-K`"
The following code is accepted when `--without-K` is used, but rejected when `--cubical-compatible` is used:
[code]
Error message with `--cubical-compatible`:
[code]
The error message's range matches that of the only clause of `J`, so it is natural to assume that "this clause" refers to that clause, but perhaps it actually refers to some generated clause.

@plt-amy, can you explain what is going o

[2022-11-05 20:56] plt-amy commented on #6298
@nad I can explain 2/3 of those points and I'm looking into the third:

1. Irrelevance comes up because of [this line](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Coverage/Cubical.hs#L898). So I think we're running into this snippet from the discussion in #5611:

2. Yes, that is the code generated for `J P x (transpX x₁ φ refl)` (`tc.cover.trxcon:20` to print the actual cla

[2022-11-05 21:50] #6273 closed, assigned to nad

[2022-11-05 21:50] #6276 closed, assigned to nad

[2022-11-05 21:50] #6281 closed, assigned to nad

[2022-11-05 21:57] #6287 closed, assigned to nad

[2022-11-05 22:01] nad commented on #6279
I pushed this commit to the master branch, so presumably that change will be included in Agda 2.6.3.

[2022-11-05 22:06] nad commented on #6298
Which I implemented…

I think that the error message should make clear that it refers to generated code.

[2022-11-05 22:17] nad commented on #6271
I don't know a lot about the internals of Cubical Agda, but I guess it makes sense for the projections to be erased, because it should not be possible to project something from an erased constructor in run-time mode. When one normalises an expression involving `primHComp`/`primTransp`, which are not erased, then one can end up with an application of an hcomp constructor. However, I would hope that

[2022-11-05 22:47] plt-amy commented on #6298
Agreed; I'll change it.

I also want to fix the LHS modality check to catch this, but there's actually a _surprisingly interesting_ combination of things going on here: When the pattern-matching unifier encounters `x = y` (from matching on `refl`), it'll normally set `y := x` (don't ask why), so the only transport that needs to happen is for the actual result type.

But when `x` is `@0`, it'll set

[2022-11-05 22:54] plt-amy commented on #6298
You can spot the difference in solutions by looking at which patterns got forced:

[code]

vs

[code]

First one is with `@0 x`, second is with `@ω x`.

[2022-11-05 23:00] andreasabel commented on #5810
Could you elaborate why?

[2022-11-05 23:09] andreasabel commented on #6274
Isn't it reasonable to assume that at two addresses that are the same the same value is stored?  Even if a closure is stored there...
A function like `eq x y = pointerEq x y || (x == y)` can yield true on `eq x x` in O(1), while `x == x` can take arbitrarily long in Haskell.

[2022-11-06 00:21] szumixie commented on #6274
There's a [`reallyUnsafePtrEquality`](https://hackage.haskell.org/package/base-4.17.0.0/docs/GHC-Exts.html#v:reallyUnsafePtrEquality) in base, containers uses it so it shouldn't be too unsafe.

[2022-11-06 05:28] asr commented on #6055
The `release-2.6.3` branch is frozen.

[2022-11-06 05:46] asr commented on #6279
Yep.

[2022-11-06 10:49] nad commented on #5810
Lots of code breaks if `--cumulativity` is enabled, presumably because it is harder to infer levels.

Furthermore the current implementation of cumulativity is experimental, it is hidden behind a flag, and it is not compatible with `--safe`.

[2022-11-06 12:36] nad commented on #5635
@jespercockx, I only saw now that you changed the milestone for this issue. If this issue is not fixed, then it might not make sense to claim that the JS backend supports Erased Cubical Agda. We don't have to fix the issue before the release, but I think we should revise the changelog.

[2022-11-06 14:03] asr commented on #6055
I'll release the RC in a couple of hours. We are planning release the final version *after* the Agda Meeting. Right?

[2022-11-06 15:53] asr commented on #6055
The RC was [upload](https://hackage.haskell.org/package/Agda-2.6.2.2.20221106/candidate) to Hackage.

I'll make the announce in a couple of minutes.

The `release-2.6.3` branch is unfrozen. That is, you can cherry-pick or fast-word your new commits for 2.6.3 in `master` into the `release-2.6.3` branch.

[2022-11-06 16:31] asr opened #6300 "The links to the documentation in the CHANGELOG are wrong"
The links to the the documentation in Read the Docs in the `CHANGELOG` must use 'latest' instead of a specif version of Agda. In release time, the links are updated to the specific version.

[2022-11-06 16:33] asr commented on #6055
Argh!, I just noted #6300. I'll fix it and upload a new RC.

[2022-11-06 16:35] #6300 closed, assigned to asr

[2022-11-06 17:10] asr commented on #6055
The fixed RC was [upload](https://hackage.haskell.org/package/Agda-2.6.2.2.20221106/candidate) to Hackage.

[2022-11-07 06:48] andreasabel commented on #6291
~~This is maybe just a documentation issue.~~  If you look at the specs in the Agda code base,
https://github.com/agda/agda/blob/7f36b2d9e48ebcb68f26c7d4b79662c3e040216a/src/full/Agda/TypeChecking/Rules/Term.hs#L916-L927
it says that _only the fields values that are not given explicit assignments_ (like `A = Set`) are taken from the supplied modules (`M`).
The documentation also says so: https://a

[2022-11-07 07:01] andreasabel commented on #5810
Yes, but we could make Setomega cumulative and leave the other universes alone.  So, we do not need to enable `--cumulativity` in general.

[2022-11-07 07:03] andreasabel commented on #6274
Thanks for the pointer.  The name is a bit discouraging, though, likely by intention.

[2022-11-07 09:38] #6285 closed, assigned to andreasabel

[2022-11-07 09:43] andreasabel opened #6303 "Bump Windows CI to GHC 9.4.3"
Left-overs from #6285:
- [x] switch Windows CI to 9.4.3
- [ ] delete `stack-9.4.2.yaml` (also from `Agda.cabal`)

Blocked on:
- [x] availability of GHC 9.4.3 on Windows/Chocolatey (via `haskell/actions/setup`)

[2022-11-07 09:50] jespercockx commented on #5810
Having subtyping `Set i <: Setomega` is an interesting idea, fixing the problem by making Agda more liberal rather than more restrictive. I can see both advantages and disadvantages of this approach:
- The advantage is that it is backwards compatible and arguably more intuitive than some kind of syntactic restriction
- The disadvantage is that it makes Agda's metatheory more complicated, and also

[2022-11-07 10:01] jespercockx commented on #6272
@plt-amy and @andreasabel the reason why I'm proposing to move it to its own sort is that it would allow us to be stricter on what sorts universe-polymorphic things can live at by tuning the PTS rules. For example, in the issue of #5810
[code]
we could disallow the type `⊤ → Level` by removing the PTS rule `(Set,LevelUniv,LevelUniv)` (in other words, by disallowing functions from a `Set` into a `L

[2022-11-07 10:03] jespercockx commented on #6272
A concrete proposal here would be to introduce a sort `LevelUniv` in `Agda.Primitive` that by default is just an alias for `Set`, but to also introduce a flag `--simple-universe-polymorphism` (name subject to future bikeshedding) that makes it separate from `Set` and also disables most of the PTS rules for functions into it.

[2022-11-07 10:29] sattlerc commented on #6272
It is strange for a finely typed language such as Agda to be so "unsorted" (when it comes to levels).

In addtion to what Jesper said, more finely grained sorts have a number of benefits:
* The theory arguably become simpler (in the same sense that the typed λ-calculus is simpler than the untyped λ-calculus).
* The theory becomes more configurable.
* The theory has more models. Models become easie

[2022-11-07 13:16] andreasabel commented on #6272
@jespercockx :

This would help in this case, admitted.
How about
[code]
where does `T` live now?

[2022-11-07 15:29] andreasabel commented on #6055
Great, thanks for the RC!

This year, we need `master` to be ready for new stuff during the Agda meeting with starts on Thursday.  Thus, this time we need to depart from our custom.

[2022-11-07 22:13] asr commented on #6055
Ok. I bumped the version of `master` to 2.6.4. For reducing the cherry-pick we have two CHANGELOGs: In `master` we have the CHANGELOG for 2.6.4 and in `release-2.6.3` we have the CHANGELOG for 2.6.3.

[2022-11-08 08:39] nad commented on #6291
I think the language should be changed, I suspect that it is currently too easy to make a mistake. However, I hardly ever use this feature.

[2022-11-08 08:44] nad commented on #5810
I don't want to have any subtyping enabled by default (unless perhaps if someone finds a good way to combine subtyping with Agda's treatment of meta-variables).

[2022-11-08 08:52] nad commented on #6272
Is the idea to fix the problem with subject reduction? If not, then I think you should have to opt in to not having subject reduction, that should not be the default.

I use record types parametrised by functions of type `(a : Level) → …`. Will those be supported when `--simple-universe-polymorphism` is used? In my main developments I do not explicitly use `Setω`, so for me a simple fix of the pro

[2022-11-08 12:44] nad commented on #6271
My understanding is that we have the following situation:

* The generated code is not type-checked.
* The generated code is not compiled.

If names are made erased, then they mostly become harder to use. However, if a constructor is made erased more code can become type-correct, because when you match on an erased constructor (in a non-erased position) the right-hand side is checked in compile-ti

[2022-11-08 13:24] nad commented on #6297
No one has objected, so I'll implement this.

[2022-11-08 13:26] nad commented on #5635
I'll disable compilation of `--erased-cubical` code in the JS backend.

[2022-11-08 14:01] nad commented on #6298
As I noted in the pull request (#6299) this change broke some code. I think this should be investigated before the release.

[2022-11-08 16:10] nad commented on #6298
Here is a small test case:
[code]
The code was accepted before the change, but is now rejected:
[code]

[2022-11-08 16:32] nad commented on #6055
I guess you plan to later commit the completed changelog to the `master` branch in such a way that `git blame` will not give useful information. I would have preferred if you had moved the changelog to `doc/release-notes` in one commit and added the new changelog in a different commit, because I want to be able to use `git blame` on the changelog to see (roughly) which commit introduced a certain

[2022-11-08 17:13] asr commented on #6055
For Agda 2.6.3 at the moment, you can use `git blame` on the `CHANGELOG` on the `release-2.6.3` branch. After the final release, you could use `git blame` on `doc/release-notes/2.6.3.md` on `master`.

[2022-11-08 17:50] andreasabel opened #6308 "Bump CI to GHC 9.2.5"
[GHC 9.2.5 has been released](https://www.haskell.org/ghc/download_ghc_9_2_5.html).
- [x] bump `cabal` CI to 9.2.5
- [x] add `stack-9.2.5.yaml` and bump `stack` and `test` CI to 9.2.5
- [x] updated ~~CHANGELOG~~ (not needed) and installation instructions on user manual

Possibly for 2.6.3, but not urgent.

[2022-11-08 17:56] andreasabel commented on #6308
It makes sense to wait with the stack parts until nightly has moved to 9.2.5.  This will happen soon, I suppose, we even might get a LTS soon for 9.2.5:
- https://github.com/commercialhaskell/stackage/issues/6674#issuecomment-1307045314

[2022-11-08 18:30] andreasabel opened #6309 "Drop support for GHC 8.0, 8.2, and 8.4"
Once the release of 2.6.3 is finished we shall officially remove support for GHC versions <= 8.4.  This means:
- [ ] removing 8.0 8.2 8.4 from CI
- [ ] removing the associated stack.yaml files (also from Agda.cabal)
- [ ] update `tested-with` (in Agda.cabal), CHANGELOG and `installation.rst`

We can then let the support for GHC <= 8.4 bitrot in the repo.

The rationale to switch the lower bound to

[2022-11-09 10:53] lawcho commented on #4627
I've had some success using stack to build agda executables with Haskell dependencies.

Here is my Makefile:

https://github.com/lawcho/hello-gloss-agda/blob/876f077e7dc3125859d44738a27fa1b7302acd41/Makefile#L1-L51

If people would like to see this functionality integrated into the `agda` command-line tool, I can draft a PR.

[2022-11-09 11:41] andreasabel commented on #6070
Ok, this issue went cold...

[2022-11-09 11:41] #6070 closed, assigned to nobody

[2022-11-09 11:48] andreasabel opened #6311 "HTML backend: show type of identifiers in hovering tool-tip"
@plt-amy 's https://1lab.dev shows the type of an indentifier when you hover over it.
This would be nice to have in `agda --html` generated code in general.

[2022-11-09 12:45] plt-amy commented on #6311
The reason we've held off on upstreaming this (cc: @SquidDev) is because the performance hit from pretty-printing that many times is fairly significant. I don't have numbers on hand right now, but if I recall, it was a ~3x hit in compile times; even behind a flag (which of course it would be) this felt unacceptable.

I/we'd would also have to think of a cleaner way to print the types in human-read

[2022-11-09 13:04] plt-amy commented on #6298
@nad Thank you for the small test case, I'll investigate ASAP. But I'm worried that making the LHS modality check more accurate might require duplicating a large part of the --cubical-compatible work, which we've seen is expensive. I'm afraid that it might not be feasible to have all three of:

- `--without-K` rejects every program which `--cubical-compatible` would
- `--without-K` rejects no more

[2022-11-09 13:19] andreasabel commented on #781
Maybe this issue is sufficiently fixed by naming the meta-variable after the record field.

[2022-11-09 13:19] #781 closed, assigned to nobody

[2022-11-09 13:20] jespercockx commented on #6298
Couldn't we just run *also* the `--without-K` checks when `--cubical-compatible` is enabled to make `--without-K` accept all files that are accepted under `--cubical-compatible` by definition? It seems to me that the computational overhead of the checks is relatively light compared to generating the cubical code, so this wouldn't be so bad performance-wise. (Of course, this gives up on the first i

[2022-11-09 13:36] plt-amy commented on #6298
Right now, all "cubical compatibility" checks (incl. the LHS modality check) that _don't_ involve generating the internal code are run when any of `--without-K`, `--cubical-compatible`, `--cubical` or `--erased-cubical` are on.

The original problem raised by this issue is that `--cubical-compatible` then goes on to check its internal generated code, thus rejecting a program that `--without-K` doe

[2022-11-09 13:49] plt-amy commented on #6298
Trying to debug my code without looking directly at it (ah, the wonders of train internet), it seems that the relevant difference is:

- The original `J` example has the unifier eliminate `@0 x` in favour of `y`. `x` appears in the type of `P`, which in turn appears in the target type. Might be a red herring: Since `x` appears in `P`'s domain(s), `P` is transported as a function in an `@ω` context

[2022-11-09 14:33] SquidDev commented on #6311
I last benchmarked this in August and, as Amy says, it was incredibly slow. I've rerun the benchmarks and things appear much better. I'm not sure why (I assume something has changed in Agda internals, but afraid I've not bisected to try to find out why this is the case!).

The exact numbers are below, but both `agda` and `agda-typed-html` now take in the region of 20s to run (allocating 30Gb and 4

[2022-11-09 20:07] nad commented on #6055
When I look at `doc/release-notes/2.6.1.md` it looks as if you wrote most of it.

[2022-11-09 20:21] nad commented on #6298
If possible I think we should have 1 and 3. It is perhaps a little strange if code is rejected with `--without-K`, when one can get the code to type-check using `--cubical-compatible`, and then import it in a module that uses `--without-K`. However, I don't currently see any fundamental problems with this.

[2022-11-10 08:52] nad commented on #6055
Please use `doc/release-notes/2.6.4.md` for changes that should not be part of Agda 2.6.3 (until Agda 2.6.3 has been released), and `CHANGELOG.md` for changes that should be part of Agda 2.6.3.

[2022-11-10 12:10] asr commented on #6055
It was due to #4705 which was fixed in 2.6.2.

[2022-11-10 13:29] nad commented on #6055
OK, thanks. However, I still think the current situation is better than the previous one, because now you can (hopefully) fix things that should go into 2.6.3 and edit the changelog in a single commit which can then be cherry-picked, rather than having to prepare a separate commit with the changes to the changelog.

[2022-11-10 13:36] nad commented on #6298
Here is another piece of code which used to be accepted but is now rejected:
[code]
Tiny changes to the code make it acceptable to Agda:
* Replacing `const ⊥` with `λ _ → ⊥`.
* Replacing `∀ {@0 x y}` with `∀ {@0 x y : _}`.

The new check seems to make Agda rather sensitive to small changes. Is a call to `reduce` (say) missing somewhere?

[2022-11-10 13:42] #6297 closed, assigned to nad

[2022-11-10 13:42] #5635 closed, assigned to nad

[2022-11-10 15:18] asr commented on #6055
I agree. Thank you for your solution.

[2022-11-10 16:13] felixwellen commented on #5257
With latest master, the code above _does not_ produce an internal error, but instead it is now something like:
[code]

[2022-11-10 18:58] andreasabel opened #6317 "Make reflection well-scoped wrt. de Bruijn indices"
AIM XXXI 2022-11-10 we hacked up the following well-scoped version of the built-in reflection module: https://github.com/agda/agda/blob/2ce92ce42c97b97bc461903d3932e7cb18531580/notes/reflection/ReflectionWellScoped.agda

Existing libraries for reflection could be tested if/how they scale to this interface.  This should lead to refinement of this interface.

Link to latest version: https://github.c

[2022-11-10 22:28] nad commented on #4705
Maybe it is not too late to restore some of the history, by using [somewhat convoluted merging](https://stackoverflow.com/a/57005385).

[2022-11-11 13:28] jespercockx opened #6319 "Rewrite rules for partial evaluation during code generation"
Currently rewrite rules are used for evaluation of terms during type checking, but not during code generation. @gallais and I discussed that it would be nice to have a separate set of rewrite rules that are instead (or also?) applied during code generation, i.e. right before we translate the internal syntax to treeless. For example, this would allow us to do compile-time list fusion easily.

(Poss

[2022-11-11 14:16] nad commented on #6298
The following code is also rejected:
[code]
It seems as if the check ignores the fact that `f` is declared as erased.

[2022-11-11 14:51] nad commented on #6319
Is the idea to implement something similar to [GHC's rewrite rules](https://downloads.haskell.org/~ghc/9.4.3/docs/users_guide/exts/rewrite_rules.html)? I have hardly used this feature at all (except indirectly by using Haskell libraries), but my impression is that it is rather hard to use, and that it can be hard to predict the performance of the compiled programs.

[2022-11-11 15:31] felixwellen commented on #5257
I think this error message is reasonable enough -> closing.

[2022-11-11 15:31] #5257 closed, assigned to nobody

[2022-11-11 15:42] asr commented on #5257
I suggest to cherry-pick the fix into the `release-2.6.3` branch and change the milestone to `2.6.3`.

[2022-11-11 15:45] felixwellen commented on #5257
It currently works on release-2.6.3 and I didn't figure out where it started to work (=give a reasonable error).

[2022-11-11 15:52] asr commented on #781
Since this is issue is 'not planned' I removed the milestone `later`.

[2022-11-11 16:07] asr commented on #5257
I was wrong. I thought there was a commit closing the issue.

[2022-11-11 16:38] maxdore opened #6320 "Parse strings to terms as reflection operation"
For meta-programming it'd be very useful to have an operation `parseTC : String → TC Term` in the built-in Reflection module which takes an Agda term as a string and produces the internal representation of it.

Usecase: External solvers which produce an Agda term as output. To feed this back into Agda we need a parser.

[2022-11-11 19:26] nad commented on #6298
@plt-amy: Thanks. Now all my main developments are accepted.

We might encounter more problems down the road, but perhaps this is good enough for Agda 2.6.3.

The following things remain to be addressed:
* Given that the new check is conservative, should it be turned on when `--cubical-compatible` is used? I suggest that it should not be used. One might imagine using the conservative check to gene

[2022-11-11 22:32] plt-amy commented on #6298
I think the check should still be enabled in both cases, since the intended semantics of `--cubical-compatible` is that it accepts exactly the same programs as `--without-K` (but generates the internal support code), and running the check post-hoc just to get an error message would be fairly complicated: it needs information that we only have handy when near calls to `unifyIndices`.

I'll try to w

[2022-11-12 07:53] andreasabel commented on #5257
Could have been fixed along with #394 in PR:
- #5573

This issue can go on the closed issues for milestone 2.6.3.  (Was still broken in 2.6.2.2.)

[2022-11-12 08:26] andreasabel commented on #781
@asr: I'd like to have closed issues also on a milestone.  Otherwise there will be a lot of closed issue without milestone to check when searching for closed issues that should go on e.g. `2.6.3` but folks forgot to set the milestone when closing it.  Thus, we have now milestone `never` for things "not planned" (and @nad correctly put it there, thanks!).

[2022-11-12 15:38] nad commented on #6298
My suggestion is to not run the check at all, not even to generate error messages, when `--cubical-compatible` is used. However, I can see your point. Can we at least agree to turn off the check for `--erased-cubical` and `--cubical`?

[2022-11-13 22:08] andreasabel commented on #3251
This would, however change the Agda language.  Currently, in a simple lambda, `.force` binds an irrelevant local variable `force` (which is very difference from the copattern `.force` in a pattern lambda):
[code]
[code]

[2022-11-14 11:25] jespercockx opened #6324 "Store ranges in a map instead of in the syntax"
I just noticed that all (or at least most) of the `QName`s in the internal syntax of Agda have the range `NoRange`, which I assume is done because of performance reasons. However, it would be nice to have these ranges available, for example for improving interactive editing or for implementing backends.

@andreasabel suggested that we could remove these ranges from the syntax entirely, and instead

[2022-11-14 13:33] nad commented on #6324
Ranges are used both for use sites and for definition sites. This suggestion would not work for use sites.

Which ranges do you refer to here? Only the use sites? Note that the `KillRange` instance for `Name` preserves definition sites:

https://github.com/agda/agda/blob/2ce92ce42c97b97bc461903d3932e7cb18531580/src/full/Agda/Syntax/Abstract/Name.hs#L437-L439

[2022-11-14 14:15] nad commented on #3801
Is this something that would be easy to implement? In that case I think we should perform this change now.

[2022-11-14 15:02] plt-amy commented on #6298
I don't think either of those is a good idea: there's a possibility that there is code which would generate modality-**correct** internal clauses, but which are rejected by the LHS modality check: checking this code with `--cubical` would result in a different result than checking it with `--cubical-compatible`, even if it doesn't use any actual cubical features.

[2022-11-14 17:50] andreasabel commented on #5754
Consider for 2.6.3.

[2022-11-14 18:55] learn-man opened #6328 "Some errors when install Agda use Cabal"
how can i slove the problem from following:

![install-agda](https://user-images.githubusercontent.com/84730871/201742447-f3fd0f02-7d37-4d89-a9e1-ea70d633d139.png)

![install-cabal](https://user-images.githubusercontent.com/84730871/201742457-327de13a-cecf-447c-86a6-2c9c5c05c1a5.png)

![install-caballist](https://user-images.githubusercontent.com/84730871/201742459-b5961b58-de1b-4733-a321-c4d57239

[2022-11-14 19:33] nad commented on #6298
We have at least the following options:
1. Never use this check. In that case we might accept too much code when `--without-K` is used (perhaps depending on the viewpoint of the user).
2. Only use this check when `--without-K` is used. Then we might accept less code with `--without-K` than with `--cubical-compatible`. However, the check is only an approximation of another check that is run when `-

[2022-11-14 19:57] gallais commented on #6328
Looks like you're using a recent version of GHC which is not supported by 2.6.2.2
(that's what the error message about `base` is).
Try installing the release candidate for 2.6.3 instead: https://github.com/agda/agda/releases/tag/v2.6.2.2.20221106

[2022-11-14 23:23] andreasabel commented on #6328
Agda-2.6.2.2 does support GHC 9.2.x (even GHC 9.4.x), so you should be able to install it.

Did you do `cabal update`?
Something looks weird in your system:  Why is `base-4.10.0.0` the "default available version"?  This is `base` for an old GHC (I think 8.2).  On my system, the "default available version" is the same as the "installed version".  You also have a mismatch for "Cabal".  Looks like yo

[2022-11-14 23:28] andreasabel commented on #6200
Considered for 2.6.3 since we already have a PR dated March 2022 that adresses this:
- #5858

[2022-11-14 23:37] andreasabel commented on #6328
I speculate `cabal update` before `cabal install Agda` could fix this.  I am closing this issue, but welcome to continue the discussion here, or to reopen it should problems persist.

[2022-11-14 23:37] #6328 closed, assigned to nobody

[2022-11-14 23:50] andreasabel commented on #6274
Here is our final list, not ordered by priority:

1. **Pointer equality** for short-cutting `Eq` comparison, so that we can implement `eq x y = pointerEq x y || (x == y)` safely, saving us expensive structural comparison when looking at literally the same thing.

2. **Default method implementations for type classes**: There is only one default implementation possible per method, but I have needed

[2022-11-15 00:09] andreasabel commented on #6274
Thanks for the feedback.  I answered to David Christiansen (Haskell foundation).

[2022-11-15 00:09] #6274 closed, assigned to andreasabel

[2022-11-15 07:35] UlfNorell commented on #6274
Why did you put pointer equality on the list? What is it you want that `reallyUnsafePtrEquality` doesn't do?

[2022-11-15 09:57] andreasabel commented on #6274
I want it to be safe and this name is discouraging.  Here is a reddit that claims that it is safe: https://www.reddit.com/r/haskell/comments/e1l329/reallyunsafeptrequality_but_safe/
So, if it is safe, then why is it discouraged _twice_ with _unsafe_ and _really_.

[2022-11-15 12:23] nad commented on #6274
Presumably because it breaks referential transparency. In pure Haskell you typically expect that if `e₁` has the same denotation as `e₂`, then `C[e₁]` has the same denotation as `C[e₂]`, for some definition of "denotation" that does not distinguish values only because they reside in different parts of the heap.

You can perhaps construct a safe variant of `reallyUnsafePtrEquality` by pairing it up

[2022-11-15 12:27] UlfNorell commented on #6274
Indeed. This feels like something you wrap up in a library only exporting the pointer-short-cutting-equality. I don't see that there's a better "safer" primitive the ghc team could provide that would help.

[2022-11-15 13:41] jespercockx commented on #6274
Isn't "add a pointer-shortcutting equality check to an easily accessible library on Cabal" a reasonable suggestion to make to the GHC developers then?

[2022-11-15 13:54] wenkokke opened #6330 "Use Markdown in readthedocs documentation"
@jespercockx: Sphinx Doc supports Markdown using [the `myst-parser` plugin].

Should we consider migrating some of the documentation over to Markdown, or at least make it possible to start new files in Markdown?

[the `myst-parser` plugin]: https://www.sphinx-doc.org/en/master/usage/markdown.html

[2022-11-15 14:04] UlfNorell commented on #6274
Not sure why that's something the GHC developers should do rather than us doing it ourselves.

[2022-11-15 14:44] andreasabel opened #6331 "Build failure for Agda-2.5.2 with cabal in EdisonCore-1.3.1.1"
Looks like Agda-2.5.2 does not build anymore because of dependency bitrot (CC @wenkokke).

Upstream issue:
- https://github.com/robdockins/edison/issues/21

[code]

[2022-11-15 18:28] wenkokke commented on #6331
Yes, that's one of the issues I was going to submit :)

[2022-11-15 23:39] andreasabel commented on #6331
@wenkokke: But all largest major versions >=2.5.3 just built with `cabal` out-of-the box for me (on macOS), given a matching GHC version.  Did you have problems with them?  (Maybe on Windows?)

[2022-11-16 00:31] andreasabel commented on #6331
Fixed upstream!

[2022-11-16 00:31] #6331 closed, assigned to andreasabel

[2022-11-16 00:36] wenkokke commented on #6331
There’s several more issues:

- There’s the errors with `text-icu`. Are you building with `--enable-cluster-counting`? If so, what is your local version of icu4c? There’s the issues with text-icu >=0.7 && <0.7.1.0 building with icu4c 68+, which are more prominent as most distributions no longer ship versions before 68. These might be addressed by bumping the constraints for text-icu to >=0.7.1.0.

[2022-11-16 01:19] andreasabel commented on #6331
I have used the latest GHC that the respective Agda version supports.  I am not sure the `tested-with` is so reliable and always up-to-date, but the `base < ...` bound is.  This is also the one that gets updated by Hackage revisions, e.g. https://hackage.haskell.org/package/Agda-2.6.2.2/revisions/ (Ok, here I also revised `tested-with`).

Also, I only use latest GHC minor versions: 9.0.2 8.10.7 8.

[2022-11-16 01:23] wenkokke commented on #6331
I provide that as an option, but the fact that stack seems to have moved away from that (they used to use allow-newer-minor as the default for ghc-version-match, but moved to match exact) made me believe that may not always be the case. But if it works for all Agda versions, that should still be fine!

I guess I could use the `base` bound, but I’m hesitant to include another mapping file (`base` b

[2022-11-16 01:32] wenkokke commented on #6331
I assume that means the exact versions of `alex` and `happy` don’t matter too much, or that the latest versions simply work? I’ve had some issues installing `alex` and `happy` with the older versions of GHC, but I assume those could be sorted out easily by picking different versions.

[2022-11-16 01:35] wenkokke commented on #6331
Is your icu4c version is <68? I believe that circumvents a lot of the issues with text-icu, but it gets tricky to get those older versions set up and registered with pkg-config on Windows.

[2022-11-16 12:38] lawcho opened #6333 "Misleading file path in "Unrecognised option" error"
I have a project with two files:

bugreport.agda-lib
[code]

BugReport.agda
[code]

When I type-check the program in emacs, Agda complains of a bad flag, as expected.

What surprises me is how Agda claims the flag comes from `BugReport.agda`, when it is actually set in `bugreport.agda-lib`.

![image](https://user-images.githubusercontent.com/95857153/202180262-fa5a0216-81a1-4da1-82b8-d87c2d697c77.

[2022-11-16 15:22] plt-amy opened #6335 "Error message for non-canonical value when using Show instances is confusing"
Consider:

[code]

Hitting `C-u` enough times (so Agda will use the `show` function) results in the error message `Not a string: show 123`. When the `show` function reduces, it's even harder to know what's gone wrong. This error message should mention that we were trying to use a `show` instance for printing.

[2022-11-16 16:08] dwarn opened #6336 "Paradoxical self-reference in endpoints for path constructors"
Agda 2.6.2.2 accepts the following higher inductive type
[code]
but it doesn't actually make sense, since `A f` refers to itself in its own path constructor `p`. This particular example makes Agda *inconsistent* if we assume LEM: we can prove that `A f` is contractible iff `f (A f) = false`, which is impossible if we define `f X := if isContr X then true else false`.

To fix this, Agda should perf

[2022-11-16 20:14] martinescardo opened #6337 "`--lossy-unification` in Agda 2.6.3"
Agda developers, thanks for accommodating the renaming of `--experimental-lossy-unification` to `--lossy-unification`, which I asked for in a separate issue.

Which I now realize will cause a problem for a few of us, not only in my project `TypeTopology`, but (at least) the cubical library.

I wonder if we could still keep `--experimental-lossy-unification` as "deprecated" but still functional for

[2022-11-16 21:22] jsiek opened #6338 "internal error in Agda, perhaps related to `--rewriting`"
To reproduce the bug, go to the following repository:
https://github.com/jsiek/abstract-binding-trees
and checkout at the tag
agda-bug
Then process the file
src/rewriting/examples/Lambda.agda
which will produces the following error:
[code]
The error goes away if a small change is made to the ABTPredicate.agda file. See the comment in that file.

[2022-11-17 08:22] #3227 closed, assigned to andreasabel

[2022-11-17 08:37] andreasabel commented on #6337
Yeah, makes sense to not bluntly remove syntax from one release to another, and this also applies to command-line and pragma syntax.  (With some hesitation whether this principle should also apply to experimental, undocumented features like `--lossy-unification`.)

Shouldn't be hard to add a mechanism for the substitution `old-flag --> new-flag` that comes with a deprecation warning.

[2022-11-17 08:39] andreasabel commented on #6338
Thanks to the report @jsiek !  Which Agda version does this apply to?
Please try whether this is fixed by the release candidate for 2.6.3: https://hackage.haskell.org/package/Agda-2.6.2.2.20221106/candidate

[2022-11-17 08:50] andreasabel commented on #6336
@dwarn David, thanks for the report!
Would be nice to see the exploit spelled out!  (You currently describe it in prose.)
Should we worry about large parameters (like `f`) to HITs in general?

[2022-11-17 08:53] andreasabel commented on #6308
There is now a new stackage LTS 20.0 for GHC 9.2.5 which we can use.

[2022-11-17 09:05] nad commented on #6336
With `-vtc.pos:50` we get the following output for the code above (if it is saved in `Bug.agda`):
[code]
Perhaps it suffices to revise the following code in some way:

https://github.com/agda/agda/blob/7de89ad28483b0b9df09b1651700c1472c653726/src/full/Agda/TypeChecking/Positivity.hs#L520-L573

If this is not too hard, then I suggest that we include a fix in Agda 2.6.3.

[2022-11-17 09:41] nad commented on #6336
Is the type of the constructor expanded to `I → A f` before positivity is checked? I guess that this is due to the use of `telViewPath`:

https://github.com/agda/agda/blob/7de89ad28483b0b9df09b1651700c1472c653726/src/full/Agda/TypeChecking/Positivity.hs#L535-L539

If `telViewPath` is replaced by `telView`, then the code in the OP triggers an internal error:

https://github.com/agda/agda/blob/7de89

[2022-11-17 10:50] #6308 closed, assigned to andreasabel

[2022-11-17 10:53] andreasabel commented on #6308
Cherry picked to `release-2.6.3`.

[2022-11-17 13:15] nad commented on #6049
I plan to do this just before the next release candidate, or just before the release.

[2022-11-17 14:07] jsiek commented on #6338
This applies to version 2.6.2.
I'll give it a try with 2.6.3 and report back.

[2022-11-17 14:16] jsiek commented on #6338
So I'll need to install that version... I tried the following but failed.
What's the recommended way to install the release candidate on a Mac?

[code]

[2022-11-17 14:28] fredrikNordvallForsberg commented on #6338
From the announcement of the release candidate on the mailing list:
[code]

[2022-11-17 14:29] jsiek commented on #6338
Thanks! (I'm not on the mailing list.)

[2022-11-17 15:38] jsiek commented on #6338
With the release candidate, I'm getting a regular error from a different place in the code... it looks like the rewriting behavior has changed. I'll try to fix that other error...

[2022-11-17 15:51] jsiek commented on #6338
How do I update my emacs agda-mode? I thought the cabal install for the agda release would also install a new agda-mode, but that doesn't seem to be the case.

[2022-11-17 16:35] andreasabel commented on #6336
Indeed, by using `telViewPath`, we are simply dropping the boundaries, so `g (f (A f)) ≡ g true` becomes just `I -> A f` in the eyes of the positivity checker.
We might want to also retrieve the boundaries, e.g. by using `telViewUpToPathBoundary' (-1)` instead, and subject them to checks.  A simple check would assert mixed-variance to any occurrence of the mutually defined data types here, failing

[2022-11-17 16:39] andreasabel commented on #6336
I am a bit pessimistic that this can go into 2.6.3.  I'd rather release the status quo as known bug rather than adding extra checks that might be too strict just before the release. Also it is not a recent regression, the OP already passes with 2.6.0.

[2022-11-18 00:09] asr commented on #6338
Oops! Due to an involuntary errror, the `agda-mode` program wasn't include in the release candidate.

[2022-11-18 00:36] asr commented on #6055
I realized I didn't include the `agda-mode` program in RC1 (sorry). Are we planning to release a second release candidate?

[2022-11-18 07:52] andreasabel commented on #6055
Yes, I propose to release a second RC, once we have completed the milestone again.

[2022-11-18 07:59] andreasabel commented on #6055
Isn't it included when you do `cabal sdist`?

[2022-11-18 12:18] asr commented on #6055
When I removed the `test-suite` from `Agda.cabal` I also removed `agda-mode` from `Agda.cabal`, so it wasn't included by `cabal sdist`.

[2022-11-18 13:46] jsiek commented on #6338
Ok, then I'll wait for a fixed release candidate.

[2022-11-18 15:58] nad commented on #4470
This has been fixed (e9399a1add3b82ff2fa45b976d39d05d4eccf4ce).

[2022-11-18 15:58] #4470 closed, assigned to nad

[2022-11-18 16:16] nad commented on #4331
Perhaps issue #1646 is related to this one.

[2022-11-18 16:18] nad commented on #6136
Possibly related: #1555.

[2022-11-18 17:23] learn-man commented on #6328
@gallais Thanks first. But result the same error message from source build.

@andreasabel Thanks first. Yes, i **did** `cabal udpate` first. then, you are guessed wrong.

I'll use **Coq**.
Thanks.

[2022-11-18 18:18] gallais commented on #6328
Andreas is correct that the ghc install just seems weirdly broken.
The [`base` library version does not match the ghc version](https://wiki.haskell.org/Base_package).
That should never happen.

It's not Agda specific so even if you decide to use Coq for your project,
I think you'll still need to fix your install to work with any other haskell project.

[2022-11-18 19:24] nad commented on #6336
I implemented this. Then we get something like the following error message for the code in the OP:
[code]

This code is still accepted. However, my rendering of the definition of K(G, 1) from "Eilenberg-MacLane Spaces in Homotopy Type Theory" by Licata and Finster is rejected because it uses transitivity in one endpoint, and the transitivity proof takes the type that is defined as one argument. Se

[2022-11-18 20:25] asr commented on #6338
I didn't get any error running Agda 2.6.3 RC1 on `Lambda.agda`:

[code]

[2022-11-19 01:52] jsiek commented on #6338
Good!

[2022-11-19 05:28] #6338 closed, assigned to nobody

[2022-11-19 05:53] andreasabel commented on #6336
@nad Maybe shipping your solution could be fine since it can be worked around by switching off the positivity checker.

[2022-11-19 05:54] andreasabel commented on #6055
Ah, ok, I see, that explains it.  No problem.

[2022-11-19 06:50] andreasabel commented on #6337
Chefsache.

[2022-11-19 11:46] andreasabel commented on #6337
Price tag on this issue: 5000 SEK
(One of my hours costs GU 1000 SEK.)

[2022-11-19 12:15] #6200 closed, assigned to jespercockx

[2022-11-19 12:20] #5754 closed, assigned to nobody

[2022-11-19 12:22] jespercockx commented on #6298
I strongly prefer option 4 for reasons of having a consistent user experience.

[2022-11-19 12:24] jespercockx commented on #6336
@nad I do not understand why this is on 2.6.3.

[2022-11-19 12:28] jespercockx commented on #6049
@nad If you still want to get this into the release I suggest you do it soon.

[2022-11-19 12:30] nad commented on #6336
Because it is a known inconsistency.

[2022-11-19 14:01] asr commented on #6338
At the moment, you can use this temporal fix: In the file `agda2-mode.el` localized in the directory pointed by running `agda-mode locate` replace

[code]

with

[code]

[2022-11-19 14:26] #6337 closed, assigned to andreasabel

[2022-11-19 14:49] andreasabel commented on #5924
Agda 2.6.2.2 already supports GHC 9.4, but the warning about `TypeOperators` will be silenced in 2.6.3.

[2022-11-19 14:49] #5924 closed, assigned to andreasabel

[2022-11-19 16:01] nad opened #6342 "The positivity checker ignores some clauses"
Clauses that match on `DefP` are ignored by the positivity checker:
https://github.com/agda/agda/blob/a1231ba17621fa3334f229c8273af6c4e98ed68a/src/full/Agda/TypeChecking/Positivity.hs#L408-L413
https://github.com/agda/agda/blob/a1231ba17621fa3334f229c8273af6c4e98ed68a/src/full/Agda/Syntax/Internal.hs#L468-L469
Can anyone find a way to exploit this?

[2022-11-19 16:13] nad commented on #6298
OK, I guess we can make the conservative check more lenient in the future if it turns out to be a problem.

[2022-11-19 16:15] #5868 closed, assigned to nobody

[2022-11-19 16:20] nad commented on #6049
Changes to the code can affect Agda's performance. I plan to do this once all such changes have landed.

[2022-11-19 16:51] mikeshulman opened #6343 "Empty types under --two-level"
This was mentioned in https://github.com/agda/agda/issues/5761#issuecomment-1154235483, but it should probably have its own issue since it's not about cumulativity.  Under `--two-level` it is currently possible to define a map from the empty `Set` to the empty `SSet`:
[code]
This should not be possible, for the same reasons that it isn't possible for other inductive types.  Yes, it's _consistent_

[2022-11-19 16:54] nad commented on #6336
I could make all HITs in the Agda code that I maintain work in the following way:
* I replaced `mixed` with `keepGoing`. This means that an occurrence in a "strict" position in an argument is not automatically treated as "bad".
* I made some arguments of `primHComp` "strictly positive", the type argument (`A`) as well as the last two arguments:
   https://github.com/agda/agda/blob/48fcdd5c5fbbc4c2

[2022-11-19 17:29] nad commented on #5201
I implemented dedicated support for `(x : A) × B` in such a way that the following code is accepted:
[code]
This is not perfect, but it shows that we can do something, and it is better than the hack that I've used to be able to use the notation `(x : A) × B` in literate Agda. Some problems:
* In some cases one might still want to use `Σ`. Compare the following types, for instance:
[code]
[code]

[2022-11-19 18:47] jespercockx commented on #6336
We usually don't require all inconsistencies to be fixed before a release, unless they are regressions (see e.g. sized types)

[2022-11-19 19:05] jsiek commented on #6338
Thanks! I can confirm that its working with 2.6.2.2.20221106.

[2022-11-20 13:33] nad commented on #6336
We fixed the sized types problem by disallowing sized types when `--safe` is used. We could fix this problem by disallowing HITs when `--safe` is used. However, I would prefer something less disruptive.

[2022-11-21 10:56] martinescardo commented on #6337
Thanks a lot for doing this. I am applying for a grant to pay for this. But I can also pay you with my hours in the future.

[2022-11-21 11:58] nad opened #6349 "Add `--erased-matches` and `--erasure`"
We don't currently have a flag for erasure, and the reason is that parameters are always erased in the types of constructors and projections for non-indexed data types and record types. However, we could disallow users from writing `@0` unless an infective flag `--erasure` is used. In that case erasure is still present in the type system if `--erasure` is not used, but in a (presumably) very limit

[2022-11-21 17:52] nad commented on #6349
We could allow single-constructor matching without a flag for record types with η-equality, because something like `f (x , y) = e[x, y]`, where the argument of `f` is erased, means the same thing as `f p = e[p .fst, p .snd]`.

[2022-11-21 20:15] asr commented on #6337
@andreasabel, I suggest to create an issue with `milestone 2.6.4` for removing the `--experimental-lossy-unification` option.

[2022-11-22 09:10] andreasabel opened #6351 "Experiment with pointer equality"
Some say that, despite the name, `reallyUnsafePointerEquality` is safe if used in the pattern `reallyUnsafePointerEquality a b || a == b` (where `==` is some sort of "extensional" equality check while `reallyUnsafePointerEquality` is "intensional").

Tasks:
- [ ] experiment with pointer equality to see whether it could speed us up
- [ ] find a modular way how to make it available, e.g.
[code]

Lif

[2022-11-22 09:11] andreasabel commented on #6274
See:
- https://github.com/agda/agda/issues/6351

[2022-11-22 09:15] andreasabel commented on #6328
@learn-man wrote:

I don't expect any more feedback from the reporter at this point, so I book this under "invalid" (problem with the Haskell setup).

[2022-11-22 09:50] jespercockx commented on #6351
Pointer to the function in question: https://hackage.haskell.org/package/base-4.17.0.0/docs/GHC-Exts.html#v:reallyUnsafePtrEquality (it is called `reallyUnsafePtrEquality`, not `reallyUnsafePointerEquality`)

[2022-11-22 10:09] andreasabel commented on #4345
@jespercockx Looks like you went into beserk mode on 26 Aug 2022, into a blood-thirsty issue killing spree. :-D

I'd rather put this into the icebox, as the error you get in the OP is indeed puzzling.

[2022-11-22 10:52] nad commented on #6351
I think you should be careful with this pattern. In particular, only use it when you know that `(==)` will return either `True` or `False`, to avoid making the result of the program depend on accidents of the representation of data in memory:
[code]
(I manually killed GHCi.)

Do you plan to use `(===)` (for some type `a`) in the implementation of `(==)` (for type `a`)? In that case I think you sho

[2022-11-22 10:57] jespercockx commented on #6351
I think the idea is not to use `(===)` for the implementation of `Eq` for any type, but just use it directly in a few well-chosen places. The first one that comes to mind is in the syntactic equality check used in the conversion checker shortcut. Since we do not construct infinite terms, here it should be fine to use pointer equality as a shortcut.

[2022-11-22 11:04] jespercockx commented on #4345
Perhaps we should have a broader discussion on when we should close an issue vs put it in the icebox. I personally do not see much value in keeping issues open if it is not even clear what it would mean to fix it. (Of course, in practice this would perhaps mean that we should close a large chunk of the icebox.)

[2022-11-22 17:29] MatthiasHu commented on #6336
@dwarn and I just worked out the inconsistency with propositional resizing using the cubical library.

[code]

[2022-11-22 20:46] #6298 closed, assigned to plt-amy

[2022-11-23 08:48] andreasabel commented on #6055
@asr: Now that the relevant PRs for 2.6.3 have landed (there is only a documentation PR open now), could you please release RC2?

P.S.: We need to make sure that all recently merged PRs for 2.6.3 are also on `release-2.6.3`, see e.g. https://github.com/agda/agda/pull/6313#issuecomment-1324748228.

P.P.S.: The `closed-issues-for-milestone` may have to be run again.

[2022-11-23 15:58] phadej commented on #5659
I'm very late to the party, [but `GHC-8.6` already had `MonadFailDesugaring`](https://downloads.haskell.org/ghc/8.6.5/docs/html/users_guide/glasgow_exts.html?highlight=monadfaildesugaring#extension-MonadFailDesugaring), so defining `fail` in `Monad` instance wouldn't been strictly required.  Having `default-extensions: MonadFailDesugaring` in Agda wouldn't needed to make breaking transformers rele

[2022-11-23 16:50] andreasabel opened #6355 "Build failure with `mtl-2.3.1`"
In
- #6314

I introduced the following build failure with `mtl-2.3.1`:
[code]

[2022-11-23 20:32] #6355 closed, assigned to andreasabel

[2022-11-23 21:08] andreasabel commented on #5659
@phadej: Thanks for pointing this out.  Unfortunately, we didn't have the expertise to find the best solution back then.  Indeed, I can simply relax the fix from GHC-8.8 to GHC-8.6 as the latter has `MonadFailDesugaring` on by default.  I do not even need to add it to the `Agda.cabal` file (which would be a bit troublesome as it would have to be a `default-extensions` entry in a conditional).
I ve

[2022-11-23 22:48] andreasabel commented on #6351
@nad wrote:

Could you elaborate more on what is the problem here?
Why should I worry that `t === t` gives `True` for terms `t` that have no finite normal form?  Why is it a problem that `===` is smarter than `==`?

Or saying it more abstractly: If program X gives me either a true statement, no statement, or a false statement, I would consider a program Y better if it behaves like X with the excep

[2022-11-23 23:00] andreasabel commented on #6351
Let me guess: You think `===` could seduce us to use it on infinite structures, and we would get away with it by chance, but then a new testcase comes along that makes Agda loop?  Feels improbable, if you ask me...
For sure, we shouldn't use `===` on things other than we use `==` on.

[2022-11-24 04:28] asr commented on #6055
I'll freeze the branch later.

[2022-11-24 08:13] andreasabel commented on #5258
@plt-amy : You got hit by this in https://github.com/agda/agda/actions/runs/3526968162.
Actually, you pointed this out in:
- https://github.com/agda/agda/pull/6313#issuecomment-1324220969

I didn't make the connection at that time, but I fixed this fluke in 9d4e34313208b56618161c5d96839fc0637731f1 and https://github.com/agda/agda/commit/cf8947bd3f27958ec2547c2cbe525d7fea8ba3da (blundered it first)

[2022-11-24 08:37] andreasabel commented on #6055
I added new commits to `release-2.6.3`, partially because CI broke (our recurring issue #5258).
Just now, there are no open PRs for 2.6.3.

[2022-11-24 18:29] omelkonian opened #6359 "Unsafe(?) irrelevant projections by `open`ing"
Irrelevant projections are considered unsafe and require the `--irrelevant-projections` flag to be enabled, but one can open a specific record to achieve kind of the same effect under `--safe`:
[code]

Is there an actual reason that opening a works without a flag (e.g. you can only prove some omniscience principle with the non-applied projections) ? Or is this simply an implementation bug?

---
Ag

[2022-11-24 18:30] nad commented on #6351
Something like that. You wrote about "find[ing] a modular way how to make it available", and if that thing does not come with enough warnings someone might come along and start using the construction for things which it was not intended for. I think we could include `reallyUnsafe` in the name, like GHC does.

[2022-11-24 18:35] omelkonian opened #6360 "Internal error when using irrelevant projection inside a parametrized module"
The following code:
[code]
produces the following **internal error**:
[code]
It relies on bypassing the `--irrelevant-projections` flag by opening the record-module (c.f. #6359).

---
Agda: 2.6.2.1
*(sorry if this has already been fixed in a more recent version)*

[2022-11-24 19:25] nad commented on #5910
I don't know why this was not labelled with `false`. It is easy to flesh out the example into one that type-checks with `--erased-cubical --safe`.

[2022-11-24 19:58] nad commented on #6336
I noticed that there is another inconsistency related to Cubical Agda which has not been fixed (#5910), and that one does not even require any assumptions. There is also a third one which makes use of a classical axiom (#4966).

It is not quite clear how to fix the current issue: as I noted above I don't know if my change is OK, and no one has commented on this. Thus I do not think that we should

[2022-11-24 20:00] nad commented on #6360
This problem seems to have been fixed already. Thanks for your report!

[2022-11-24 20:00] #6360 closed, assigned to nobody

[2022-11-24 20:02] nad commented on #6055
If all changes have landed, then I can run some benchmarks in the next few days (see #6049).

[2022-11-25 06:53] andreasabel commented on #6359
The mother issue is:
- https://github.com/agda/agda/issues/2170

Maybe we should just put all irrelevant declarations `like .SUCCESS` under `--irrelevant-projections`.

The theory-backed semantics of entering an irrelevant position is that all irrelevant things that are in the context at this point become relevant.  We implement this by an operation on contexts ("left division", "resurrection"), b

[2022-11-25 08:28] jespercockx commented on #6359
Alternatively, we could disallow module applications of record modules with irrelevant projections.

[2022-11-25 09:34] nad commented on #6349
Does anyone have any opinions about this?

[2022-11-25 11:40] omelkonian commented on #6359
Thanks for the great explanation Andreas! It's a pity the principled approach to solve this is not feasible, but the conservative options you both suggested seem fine for now.. although Jesper's suggestion is far less all-encompassing which might be better for incremental development (i.e. restrict things gradually as issues appear from users).

[2022-11-25 12:50] jespercockx commented on #6349
I support it, from the general perspective that it makes vanilla Agda simpler and it is easy enough to add `--erasure` to my agda-lib files.

[2022-11-25 23:22] plt-amy opened #6361 "Agsy ignores --postfix-projections"
[code]

Agsy generates `untest x` rather than `x .untest`

[2022-11-27 20:02] omelkonian opened #6364 "Instance candidates filtered out by type errors"
The use case is the following:
- We want to bundle up a (raw) typeclass (e.g. `Semigroup`) with a superclass containing its laws (e.g. `Semigroup-Laws`) into a single constraint `Lawful-Semigroup`, so that we don't have to write `⦃ _ : Semigroup A ⦄ ⦃ _ : Semigroup-Laws A ⦄` every time.
- Instead of creating ad-hoc records for each case, do this once and for all via `_⊗_`.

In the code below, `Law

[2022-11-28 14:04] nad commented on #6049
Now I got the following numbers:
* Agda 2.6.3, compiled with GHC 9.4.3, with `-fenable-clustering-counting` and `-foptimise-heavily` enabled, for the standard library (commit c5f42e1fb86b964dfe2558e103f2f4f662e553b3 with `--cubical-compatible` enabled in most modules), the worst of two runs (the other one was about nine seconds faster):
[code]
* Agda 2.6.3, compiled with GHC 9.4.3, with `-fenable-

[2022-11-28 14:25] JacquesCarette commented on #6049
The speedup in 2.6.3 is nice, but it's rather encouraging me to stick with `--without-K` in agda-categories rather than switching to `--cubical-compatible`.

[2022-11-28 15:08] nad commented on #6286
I plan to add something like this to the 2.6.3 changelog (see #6365).

[2022-11-28 15:11] nad commented on #6049
That would mean that one cannot import the code from Cubical Agda. Could you use `--without-K` when developing new code, but switch to `--cubical-compatible` before releasing it?

[2022-11-28 18:28] andreasabel commented on #6364
Interestingly, this fails uniformly for Agda 2.6.0 to 2.6.3.  Only the error messages changes, from:
[code]
to (from 2.6.2):
[code]
I don't think we have `TypeSynonymInstances` or the like, so I'd guess this is a bug.

[2022-11-28 18:38] andreasabel commented on #6055
@asr: Can you say when you have time to release RC2?

[2022-11-28 19:19] asr commented on #6055
I'll start to prepare RC2 right now. The `release-2.6.3` branch is frozen.

[2022-11-28 19:37] andreasabel commented on #5887
Since everything has gone well for the `stack.yml` workflow for a long time, I am not porting this to `test.yml` in:
- #6358

[2022-11-28 19:42] jespercockx commented on #6364
Yes, definitely a bug.

[2022-11-28 19:55] #5258 closed, assigned to andreasabel

[2022-11-28 19:55] #5887 closed, assigned to andreasabel

[2022-11-28 20:55] jespercockx commented on #6364
Ah actually this is NOT a bug, just a really confusing twist in the semantics of instance search. Here is a more explicitly annotated version of the relevant part of @omelkonian 's code:
[code]
Note that the two types are actually NOT definitionally equal (!): the first one uses the instance `s` from the module telescope, while the second one uses the *locally bound* instance `s'`. The two instanc

[2022-11-28 21:04] jespercockx commented on #6364
The most gentle way to solve this would be to freeze all instance metas after we finish typechecking a signature (and before we check the body). That would be sufficient to avoid "leaking" information from the body into the signature. More generally, I think I would prefer if **all** metas were frozen after typechecking a signature since a similar problem might pop up for regular metas. But I seem

[2022-11-28 21:39] jespercockx commented on #6364
Another way to fix this would to restrict instance search to only filter out instances based on their type and not on whether they produce a type error when unified with the hole. This would prevent some of the current use cases of instance search, but (1) this would make instance search much more predictable, (2) this would open up more opportunities for optimization of instance search and (3) th

[2022-11-29 00:19] plt-amy commented on #6364
It'd also improve the error messages for when instance search fails _because_ of a type error — they'd no longer get buried deep in a list of rejected instances. This happens quite often to me since I use `do` notation a bunch.

[2022-11-29 14:15] nad commented on #6364
Recently I've also been thinking along those lines. For instance, if we were to implement something like Haddock for Agda (#5541), then one might want to ensure that the meaning of the presented type signatures do not depend on details of the implementation.

However, in some cases one might want to elide parts or all of the type signature, especially for local definitions. Perhaps we could add a

[2022-11-29 14:42] nad commented on #6055
I've created a pull request with some changes to the changelog (#6365).

[2022-11-29 14:56] jespercockx commented on #6364
Yeah, this is also a question I had. I think we should look at what we are currently doing for `abstract` blocks, where we already have the restriction that the body of a function cannot solve any metas coming from its signature.

[2022-11-29 19:37] asr commented on #6055
The current status of that PR is 'changes required'. I'll release RC2 in a couple of hours. You will be able to cherry-pick the PR into the release branch after the release of RC2.

[2022-11-29 19:37] plt-amy commented on #6336
@nad I think your fix in #6344 is alright, but as mentioned there I'm concerned about the issue with variables you observed; I'll try to investigate later. However, even if we merge that, I'd like for this issue to stay open.

Cubical Agda is, IMO, too lax with what is allowed in boundary terms, contrary to the schema for HITs from @ecavallo's work (the only one I'm aware of! See e.g. [here](https

[2022-11-29 20:00] anuyts commented on #6364
What about highlighting theorems whose meaning depends on their proof? These are generally fine locally, but may mislead human readers (e.g. reviewers of a paper with formalization).

[2022-11-29 20:02] plt-amy opened #6369 "Transport only reduces when the line is a lambda"
Originally reported by @tomjack [back in April](https://github.com/agda/agda/issues/5806), before my time; I'm making this a top-level issue so I can actually be reminded to look at it.

[code]

With a minor addendum, which ever-so-slightly baffles me:

[code]

[2022-11-29 20:03] plt-amy commented on #6369
Oh, I'm also very suspicious of allowing `I` in data type parameters, but I failed to come up with a problematic example after a bit of thinking... Fortunately we don't allow `I` in data type _indices_, since that would be real trouble.

[2022-11-29 21:29] plt-amy commented on #3660
I had forgotten about this issue, but it was actually fixed in https://github.com/agda/agda/commit/1fd6b9fdfdfa143b3b4b2b71ae13c008a267190e. Constraints printed now:

[code]

[2022-11-29 21:30] plt-amy commented on #3660
Actually, give me just a second to add a test case.

[2022-11-29 23:30] asr commented on #6055
The RC2 was [upload](https://hackage.haskell.org/package/Agda-2.6.2.2.20221128/candidate) to Hackage.

The release-2.6.3 branch is unfrozen. That is, you can cherry-pick your new commits for 2.6.3 in `master` into the `release-2.6.3` branch.

[2022-11-29 23:45] #3660 closed, assigned to nobody

[2022-11-30 02:33] asr commented on #3660
That commit is included in 2.6.3 RC2, so I'll change the milestone to 2.6.3.

[2022-11-30 02:35] asr commented on #3660
@plt-amy, please cherry-pick the test case into the `release-2.6.3` branch.

[2022-11-30 13:40] jespercockx commented on #6364
What are these "theorems" and "proofs" you are talking about? I use Agda to write types and programs :)

[2022-11-30 14:13] cxandru opened #6371 "Preserve metavariable name suggestion when eta-expanding"
I spent 3hours debugging an `unsolved metas` error. I would have probably figured out what was going on if Agda had told me where they were missing. My code:

[code]
Library code:
[code]

The error:
[code]

Expected error (something like this):
[code]

This stackoverflow question seems to also be essentially about this issue: [type inference - Finding out which metas are unsolved in an Agda progra