[2020-05-09 10:17] andreasabel commented on #3135
@nad, it would be probably easy to print the second error as:
[code]
Just switch off operator reconstruction.  Not sure this is what you want.  So what do you want?

[2020-05-09 12:37] msuperdock commented on #4643
Thanks for both of your responses. @andreasabel, the `no-eta-equality` approach is really helpful; I am having the issue in my original post with several modules with irrelevant fields, and this handles the issue everywhere. @jespercockx, I assume that is the case for all metavariables, not just irrelevant ones, or is there something particularly tricky about irrelevant metavariables?

As for sugg

[2020-05-09 15:22] JacquesCarette commented on #4607
I guess you mean having some pragma that you can put at the top of a file or on the command-line to time-limit unification problems? That certainly would help identifying problems.

[2020-05-09 15:37] JacquesCarette commented on #4600
After thinking about this for a while, my conclusion is:
1. right now, there is no "low hanging fruit" on the Agda side (thus closing)
2. for library builders [but not for everyone], a design consideration: make many small modules, so that 'higher up' modules can be more precise on their imports; also make giant convenience modules for end-users.

There is, of course, a blurry line between users a

[2020-05-09 15:37] #4600 closed, assigned to nobody

[2020-05-10 07:51] pnlph commented on #3214
🤔 I also ask myself if choosing a signature of the form `A → List A → List A` vs. another one of the form `(x : A) → (xs : List A) → List A` is affecting Agda somehow. I have the feeling that it is a relevant (and sometimes annoying) decision for the programmer, but irrelevant for Agda.

@andreasabel what was the reason to choose the current heuristics? I think that cognitively it may be still a g

[2020-05-10 09:02] pnlph commented on #4126
But somehow the name which was last defined is prevailing, is this how the printing heuristic works? Given an internal "abstract name", the last "concrete name" defined is returned?

[2020-05-10 13:06] JacquesCarette opened #4646 "Universe Polymorphic Data.Unit, take 2"
Some time back, I added a universe polymorphic unit to the standard library -- https://github.com/agda/agda-stdlib/issues/839. It "works", but it's flawed: it does not inter-operate well with `Data.Unit`. The core of that is really `Agda.Builtin.Unit` (which is why the issue is here instead of over in the stdlib repo).

So I would like to make these two units "play well" together. I see two option

[2020-05-10 13:30] UlfNorell commented on #4646
Can you elaborate on what the interoperability problems are?

I wouldn't want to make the builtin unit level polymorphic without very strong reasons. If we make unit polymorphic, why not also booleans and natural numbers?

[2020-05-10 13:59] JacquesCarette commented on #4646
Yes, of course. What I tried to do (and failed), was to hunt down all uses of `Lift` in the library that applied to either `⊤` or `⊥` and replace them with uses of the polymorphic versions. And that was a horrible failure.  [To be honest, I think I encountered a lot more problems with `⊥`]

Part of the problem is that even though the definition is almost the same
https://github.com/JacquesCarette/

[2020-05-10 14:04] nad commented on #3135
What is "operator reconstruction"?

In cases where two distinct expressions are printed in the same way I think it makes sense to find some way to explain how they differ. I'm not sure if it is better to print the expressions in the way you suggest, or in the following way:
[code]

[2020-05-10 14:20] nad commented on #4646
I sometimes lift `Bool`. Here are some (counter)examples:
* [⊆-not-antisymmetric](http://www.cse.chalmers.se/~nad/listings/up-to/Relation.html#⊆-not-antisymmetric).
* [¬-Set-set-↑](http://www.cse.chalmers.se/~nad/listings/equality/Univalence-axiom.html#¬-Set-set-↑).
* [no-first-projection-lens](http://www.cse.chalmers.se/~nad/listings/dependent-lenses/Lens.Non-dependent.html#no-first-projection-le

[2020-05-10 14:28] JacquesCarette commented on #4646
Thanks @nad. This seems to argue for option 2, as that is what you use in your own code.

[2020-05-10 16:23] pnlph commented on #3135
I agree. Don't know if it's related, but I tried with a similar code
[code]
and when loading the file, I got:
[code]
At a glance, I could not find any difference among the 4 options, but Agda does somehow.

[2020-05-10 21:54] JacquesCarette commented on #4646
Option 2 worked surprisingly smoothly after all.

[2020-05-10 21:54] #4646 closed, assigned to nobody

[2020-05-11 11:10] #4606 closed, assigned to Saizan

[2020-05-11 11:17] nad commented on #4643
There is a shortcut that identifies syntactically equal things. However, "syntactic equality" includes implicit arguments. If the implicit arguments of the two expressions have been solved in different ways, then it might take a long time for Agda to verify that two "obviously equal" things are actually equal.

I suspect that irrelevance can make it harder to solve meta-variables, because there ar

[2020-05-11 18:12] #4435 closed, assigned to nobody

[2020-05-11 18:22] andreasabel commented on #4643
@msuperdock

If this is how you see records, you should add `no-eta-equality` always.  The difference between records and data types with one constructor is precisely that records are up to eta but data is not.

There is even an option `--no-eta-equality` to make this the default.

[2020-05-11 18:27] andreasabel commented on #4606
@Saizan : I see you settled for the solution to disable dot-pattern termination.

[2020-05-11 18:41] andreasabel commented on #3214
Agda picks up the names `x` and `xs` for case splitting, but as detailed, the name `xs` is not used.  Instead, when splitting list `as` you get `cons x as`.  To reuse the name of the variable for recursive arguments of the constructor is of course a crude heuristic.

[2020-05-11 18:50] andreasabel commented on #3135
This is a phase in `AbstractToConcrete` responsible for printing `1 + 2` instead of just `_+_ 1 2`.  But anyway, this is not relevant here because we are still on the level of `Concrete` syntax.

One could just unparse operator expressions in the parts that differ.   (To keep the outermost, shared operator forms in place.)

[2020-05-12 07:14] Saizan commented on #4606
@andreasabel Yeah, no point having the termination checker try again with dot patterns only to discover they will not help.

[2020-05-12 16:10] andreasabel opened #4647 "Evaluate private definitions (toplevel interaction)"
Private definitions cannot be evaluated in interaction top level:
[code]
Then `C-c C-n n` gives an error complaining that `n` is not in scope.
The same problem arises with non-`public` `open`.

Here is Thorsten Altenkirch's original feature request:

I have come across this little nuisance when using agda especially when doing life hacking in lectures or talks.

I try to evaluate an expression whi

[2020-05-12 16:24] gallais commented on #4647
May be worth having a distinct command "evaluate in context at cursor".
This way we can evaluate things on the RHS or inside a local module with
local `let`-bound definitions.

[2020-05-12 16:36] jespercockx commented on #4647
That would require us to store the context of every subterm, which I don't think is really feasible.

[2020-05-12 17:35] UlfNorell commented on #4647
I do believe we have the "inside scope" available, that is the scope that would be used for any new definitions at the end of the module. It ought not be too difficult to use this instead of the "outside scope", which is what other modules importing this module sees.

[2020-05-12 19:00] xekoukou commented on #4647
I mean, what @gallais proposes is the holy grail of interactive theorem provers.
Which means that all the internal data structures need to be reconsidered with this in mind.

[2020-05-12 19:36] nad commented on #4647
Related: #317. I wrote that 'I think the parameters should be in scope when "top-level" commands are executed, because these commands should behave in the same way as commands executed in a top-level goal at the end of the module'.

[2020-05-13 07:52] pnlph opened #4648 "Proofs about generalizable variables?"
[code]
It is possible to prove that `a ∷ as` is a `List`of `A` for all sets, elements of a given set, and lists of a given `List`type:
[code]
But when declaring variables:
[code]
One cannot prove that `τ ∷ Δ` is a `List` of `I` as scope checking `τ` fails:
[code]
Is not `τ∷Δ:ListI₁` a particular case of `a∷as:ListA`? Should it not be proveable? I tried also to apply `a∷as:ListA` to the declared va

[2020-05-13 08:06] UlfNorell commented on #4648
Variables are not entities in their own right in the type theory, so it doesn't make sense to prove things about them. Rather they are schematic variables on the meta-level. Generalization happens only at type signatures, which is why you get the "not allowed here" error when you use one in a definition right-hand side. This means that you need to mention the variables in the type signature for it

[2020-05-13 08:07] andreasabel commented on #4647
@UlfNorell :

We do use the inside scope.  However, the private definitions are removed from the `insideScope`:
https://github.com/agda/agda/blob/bc8feec71e61a4c4369aa0ee93b77bf027c0f7f1/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1232-L1236

You changed this in the course of the "deadcode" optimizations:
* In c823aa9a0e84816d3e36ea86e04e9f9caa536c4a you include a test case that define

[2020-05-13 08:15] andreasabel commented on #4648
@pnlph

Philosophically, I need to object to such a formulation.
In fact `a ∷ as` is the _construction_ of a list, thus, it is a list _a priori_.  Your formulation suggests that being a list is an _a posteriori_ property of `a ∷ as`.  However, `a ∷ as` does not have an existence prior to being a list.

[2020-05-13 08:15] #4648 closed, assigned to nobody

[2020-05-13 08:23] UlfNorell commented on #4647
What about Alt B, but we add an emacs command to switch between "evaluation mode" (not using the interface for the current file) and "regular mode" (the normal behaviour). This should solve the drawback when switching files, if we reset the to regular mode when changing buffer.

[2020-05-13 08:33] andreasabel commented on #4647
`C-c C-n` could switch automatically to evaluation mode.
Automatically resetting to regular mode when changing buffer makes sense, but keeping in mind that the first `C-c C-n` requires rechecking then.  Anyway, I suppose `C-c C-n` is more used in demonstration situations of Agda than in serious development (I very very rarely use it at all), thus extra checking caused by `C-c C-n` is likely harmle

[2020-05-13 08:36] UlfNorell commented on #4647
Also checking should be quick due to caching, no?

[2020-05-13 09:15] andreasabel commented on #4647
Note: It seems the present issue is a duplicate of #1804.

[2020-05-13 10:28] txa commented on #4647
The other option seems to be not to strip private definitions. Why is this so important?

[2020-05-13 10:32] txa opened #4649 "Repair Agda's REPL (agda -I) to work with --safe flag"
Especially for teaching it would be nice if agda had a top-level REPL (read-eval-print loop) so that one can evaluate expressions interactively without always having to go via C-c C-n. Also I would like to print streams using costrings.

Has this been discussed before? What would be the effort and possible issues?

[2020-05-13 10:37] andreasabel commented on #4647
For performance: https://github.com/agda/agda/issues/1804#issuecomment-181994452

[2020-05-13 10:43] txa opened #4650 "destructors for coinductive families (feature request)"
It should be possible to specify "destructors" instead of fields when defining indexed coinductive types, e.g.

[code]
Rationale: The current situation is asymmetric because we could as well assume that data always ends with the type we are defining and simulate inductive families using equality. Using definitions like this certainly increases readability. Also the hack to use parameters and equal

[2020-05-13 10:46] txa commented on #1804
Maybe better to add a pragma "strip-private-definitions" for Wolfram? Instead of making C-c C-n behave in an unexpected way.

[2020-05-13 13:29] nad commented on #4647
Another option is perhaps to switch to some kind of structured signature so that the optimisation is not necessary. This may also have other performance benefits (#4331).

[2020-05-13 13:34] nad commented on #4650
Can you give some more details of this feature?

[2020-05-13 13:38] nad commented on #4649
Agda already has a REPL, but it is unmaintained. Try `agda -I`. Currently it does not work very well with code that uses `--safe`, but I guess that could be fixed.

I'm not sure exactly what you mean. Can't you use the following [function](https://github.com/agda/agda-stdlib/blob/041fd896be22045262fb5d53ef10fc779f827bcc/src/IO.agda#L112) from the standard library?
[code]

[2020-05-13 13:54] pnlph commented on #4648
Thank you both for your time and the explanation!

I naively thought that I could simplify the implicit parameters of this code:
[code]
by declaring variables:
[code]
From your words, I guess that τ∷Δ is just a restaging (Reinszenierung) from append and has no other meaning on its own.

Then, asserting that "appending an element to a list results in a list" is not provable, and it amounts to just

[2020-05-13 14:11] andreasabel commented on #4647
@nad:

The problem isn't in the signature but in the scope.  The private declarations get removed from the `ScopeInfo` when the top level module is finished scope checking.  This is what I am addressing here.

@UlfNorell :

I am implementing this, but this will be disruptive to some interaction tests that accumulate solutions for metas (e.g. `Long`).  A top-level command, triggering a reload, will

[2020-05-13 15:15] andreasabel commented on #4648
Yes.  In contrast to NuPrl, Agda is not a _type assignment system_ where terms have their independent existence and you can proof that they inhabit certain types.  Rather, Agda's terms are _intrinsically typed_ as soon as Agda accepts their definition.

Wrt. to generalization: As @UlfNorell  explained generalization happens only for type signatures `:`, not for definitions `=`.  In other words, ge

[2020-05-13 16:08] txa commented on #4650
Let me give an example. We want to derive

[code]
We can't directly apply copattern matching here, because the both hd and tl expect Vec A (suc n). However, we can pattern match first (and fill in the []-case) :

[code]
And now we can continue with copattern matching:
[code]

[2020-05-13 16:29] pnlph commented on #4649
To add some information, there is a [recent comparison](https://ice1000.org/2020/05-04-ReplWithGoals.html) among several programming languages with REPLs and typed holes put up together by @ice1000

[2020-05-13 16:41] pnlph opened #4651 "Pretty Print Scope in Agda Interactive?"
Is there a way of pretty printing the output of the command `:scope` in Agda?

From the terminal, I get this:
[code]
which it is difficult to read.

[2020-05-13 16:43] txa commented on #4649
Ok, first of all as you already indicated there seem to be some issues with agda -I. Just trying to load Data.Nat doesn't seem to work:
[code]
Also I would like to be able to open a REPL in a separate buffer after loading the current buffer via an emacs command.

[2020-05-13 17:21] andreasabel commented on #4647
PR #4652 for review.

[2020-05-13 17:35] andreasabel commented on #4651
There is already a better printer:
https://github.com/agda/agda/blob/a9d6c1dca937d5145a34613ed52fdcaf15163f64/src/full/Agda/Syntax/Scope/Base.hs#L1368-L1379

This needs to be hooked up at this point:
https://github.com/agda/agda/blob/a9d6c1dca937d5145a34613ed52fdcaf15163f64/src/full/Agda/Interaction/CommandLine.hs#L175-L178
Change the last line to
[code]

[2020-05-13 17:47] nad commented on #4650
Are there any restrictions on the type of a destructor? I guess that the record type that is being defined should be mentioned exactly once. Are there any restrictions on the telescope preceding the argument corresponding to the defined type? Does the following definition make sense?
[code]
Can you use `field` and `destructor` in the same definition?

*Edit:* Exactly once except for as the target

[2020-05-13 18:01] nad commented on #4647
With this change in place, if I load the file, edit it, and use a top-level command to (say) normalise an expression, will Agda reload the file (and possibly fail)? In that case I am opposed to this change.

[2020-05-13 18:05] nad commented on #4647
If I understand you correctly the solution you have opted for involves recomputing things, and making Agda's already complicated loading logic even more complicated. Wouldn't it be easier to not throw away the information in the first place?

I understand that you have sunk some time into your fix, but you did not give us much time to discuss it.

[2020-05-13 19:38] nad commented on #4649
If you want to play around with the REPL right now you can comment out two lines:

https://github.com/agda/agda/blob/a9d6c1dca937d5145a34613ed52fdcaf15163f64/src/full/Agda/Interaction/Options.hs#L770

https://github.com/agda/agda/blob/a9d6c1dca937d5145a34613ed52fdcaf15163f64/src/full/Agda/Interaction/Options.hs#L772

However, I guess that this may break some part of the REPL.

[2020-05-13 20:02] nad opened #4653 "Incorrect HTML is generated"
Agda generates incorrect HTML for the following code:
[code]
The [W3C Markup Validation Service](https://validator.w3.org/) complains about "Duplicate ID A". A practical consequence is that it is not possible to link to both the module `A` and the postulate `A` using `#A`.

One way to fix this problem might be to preface IDs with `m:` (*m*odule) or `d:` (*d*efinition). However, I guess it is more

[2020-05-14 05:34] xekoukou commented on #4647
The only meaningful reason not to load an interface is the change of the source, or the change of the pragmas.

A more radical approach is to have a database with cache, and load information per need. Thus, one does not need to choose which information is useful or not, and thus keep all information.

[2020-05-14 06:45] pnlph commented on #3352
But how would renaming affect the elaboration?
[code]
This should elaborate to
[code]
When `p : P a` is declared as generalized variable, are we entitled to write also `p : P x` if `a` is renamed?

[2020-05-14 07:29] pnlph commented on #4647
Maybe I am missing something, but is not this already available?

When using `Open Stream`, then <kbd>C-c C-n</kbd> `Stream.hd (from 0)` evaluates to `0`.

When using `Open Stream public`, then <kbd>C-c C-n</kbd> `hd (from 0)` evaluates to `0`.

So I guess that the feature request is actually being able to evaluate `Stream.hd (from 0)` by executing <kbd>C-c C-n</kbd> `hd (from 0)`, i.e. without ha

[2020-05-14 08:50] pnlph commented on #4647
For example, if the new keyword was `interactive`, it could allow interaction with the emacs/REPL mode and would look like this:
[code]
Alternatively the interactive option could be the default, reserving a new keyword for the former default behaviour, but this is not backwards-compatible:
[code]

[2020-05-14 10:44] andreasabel commented on #4647
@nad:

Yes.

However, as you keep working on the same file, it is not reloaded again.  I would suppose that a single additional reload per file (the first time you use a top-level command) isn't disrupting your workflow much.

If this is not wanted, we can make the switch to `TopLevelInteraction` mode manual.  This would mean that e.g. one has to type some prefix with a top-level interaction comma

[2020-05-14 11:21] pnlph commented on #4653
Why not assigning numbered ids to every identifier, just like it is done with the identifier of the main module and the unnamed module?
[code]

[2020-05-14 11:51] andreasabel commented on #2735
Background: #2604.

[2020-05-14 11:52] andreasabel commented on #4653
There are UIDs (numbers) for each identifier.

See #2604 for why we want names.

[2020-05-14 11:57] andreasabel commented on #4650
`record` has all kind of baggage and is mostly used to define structures.  I suppose for this feature we use a new concept, `codata`.
[code]

[2020-05-14 12:19] pnlph opened #4654 "Consider adding a lang attribute to the html start tag to declare the language"
I got also this warning when checking #4653:
[code]
but `lang` attributes are reserved for natural languages.

Maybe we can improve the generated html code by inserting
[code]
instead of
[code]
See this discussion about [using the “lang” attribute for source code](https://stackoverflow.com/questions/5134242/semantics-standards-and-using-the-lang-attribute-for-source-code-in-markup).

[2020-05-14 12:50] nad commented on #4647
If I'm in the process of editing something and the file currently does not type-check, then I can't use the top-level commands at all. This does not sound like an improvement to me.

Can't we have a single version that includes all the information? If I understand correctly the dead-code optimisation was introduced because things like `module M = M' args` are represented very inefficiently. Can't

[2020-05-14 13:04] nad commented on #4654
I also saw this warning. Perhaps the language could be set using a command-line flag (`--html-language=`*language*).

[2020-05-14 13:13] txa commented on #4650
Replying to Nisse:

Yes, this is correct: the left hand side of a destructor just refers to the type we are defining, so it should be (xs : I) -> X i -> R X i. However, as in the inductive case we can use a Kan extension, and arrive a more general form (xs : J) -> X (ts xs) -> R X xs where ts : J -> I and R is a container from I -> Set to J -> Set. Syntactically this means that X may only appear s

[2020-05-14 13:15] UlfNorell commented on #4647
+1 on adding a flag for the automatic switching. That will let us play around with it for a while to see how it works out in practice.

[2020-05-14 13:16] txa commented on #4650
Maybe but we don't have a coproduct anyway which would be dual to record.

Ok, there is the reason that we don't need to mark non-recursive coproducts because we don't have the eta rule for + (maybe we should :-).

And there is also the thing that records and data behaves different wrt namespaces...

[2020-05-14 14:47] andreasabel commented on #4647
@UlfNorell

This needs some more fleshing out.  Name of the flag? Pragma or commandline option?  Name of the command for manual switching?  Key binding of this command?

@nad

Well, you can if this is not the first top-level command you are issuing.

Alternative is to always retypecheck the main module upon the first load.  We have decided against this in the past.

@nad

If we could, we could hav

[2020-05-14 14:58] andreasabel commented on #4650
Would you need a feature like `open Monoid listMonoid` for indexed codata?  I suppose structures aren't indexed records, but if you have a counterexample, it would be valuable to see it.
`codata` also would not come with eta.

[2020-05-14 15:37] txa commented on #4650
I am not sure - I don't use the module stuff very much. Modules and I are not good friends. :-(

[2020-05-14 16:35] ayberkt opened #4656 "Function name not wrapped in `\AgdaFunction` in generated LaTeX"
I have tested this with f92c37e2b44cc6c3d9d2ced76b3b53f39b8322d6.

Here is a minimal example illustrating the problem.

[code]

The open involving the `using` clause corresponds to the following in the generated LaTeX:

[code]

Neither `⟪` nor `⟫` is wrapped in a syntactic sort marker. This is problematic when trying to change, for instance, the font used in the generated LaTeX.

[2020-05-14 17:23] andreasabel commented on #4656
`(⟪_⟫)` has not highlighting information in the `using` clause.  While in #1714 this was fixed for `open M using`, it does not seem to work with applied modules like `open Bar zero` in the OP.

A workaround is to name the module, e.g. `open module M = Bar zero using (⟪_⟫)`.

[2020-05-14 17:26] ayberkt commented on #4656
Thanks, this is really useful.

[2020-05-14 18:36] andreasabel commented on #4656
Seems like I have found the problem; preparing a fix.
https://github.com/agda/agda/blob/f92c37e2b44cc6c3d9d2ced76b3b53f39b8322d6/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L320-L325
https://github.com/agda/agda/blob/f92c37e2b44cc6c3d9d2ced76b3b53f39b8322d6/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L341-L343
In the last line, we are giving back the "boring" import directive

[2020-05-14 19:38] #4656 closed, assigned to andreasabel

[2020-05-14 20:11] nad commented on #4656
Agda should wrap all code (except for whitespace) in some macro like `\AgdaFunction`. @andreasabel, are you aware of other omissions of this kind?

[2020-05-14 20:36] nad commented on #4647
I guess you agree that this change will break some workflows.

Can we at least discuss what this would entail? @jespercockx has proposed that we should discuss this kind of thing during the upcoming Agda meeting.

@UlfNorell [stated](https://github.com/agda/agda/issues/1804#issuecomment-181994452) that "The dead-code elimination reduced some of Wolfram's interfaces by a factor 5". Perhaps it is fi

[2020-05-15 07:40] andreasabel commented on #4647
@nad

I do agree.  I can reduce the breakage by only switching to `TopLevelInteraction` when a top-level command resulted in a not-in-scope error.

Later refinements can then switch to loading extra scope information when a non-in-scope error occurs.  But the interaction logic will stay the same, thus, the infrastructure I created in the PR makes sense.

Discussions are useless if no one pledges t

[2020-05-15 08:07] jespercockx commented on #4647
Maybe we can all agree that when we are faced with a problem that is troubling users of Agda *now*, we should look into solutions that can alleviate this problem in the short term, while keeping our eyes and minds open for possible structural improvements that would solve those problems in a more fundamental way. Despite what we might *want* it to be, the reality is that Agda in its current shape

[2020-05-15 08:14] andreasabel opened #4657 "Retire Agda.Utils.Except ?"
@asr : Can we retire `Agda.Utils.Except` now in favor of `Control.Monad.Except`?  There are no `#if`s anymore.
There is still one use of `instance Error` here: https://github.com/agda/agda/blob/43b1e5eb5b04d18981059f1e2ecf89629738f846/src/full/Agda/TypeChecking/Monad/Base.hs#L3532-L3533
I wonder whether it would be easy to get rid of this instance.

[2020-05-15 09:21] txa commented on #4647
I think we also need to make sure not to overcomplicate things and produce behaviour one would intuitively expect. That is if I can write a top level definition:
`
x = hd (from 0)
`
then I expect that I can evaluate `hd (from 0)` on the top-level. Any explanation of the form _for efficiency reasons we needed to strip private definition_ doesn't hold water. The decision to do this in the first plac

[2020-05-15 09:32] andreasabel commented on #4647
@txa:  I agree that intuitively, one wants to evaluate also private definitions, this is why I am working on this issue.

The problem is that when the optimization was introduced, the specification (= testsuite) of Agda was broken and then simply altered (see release notes for 2.5.1, see #1804).

A proliferation of flags is also not the answer.  E.g., I want to get efficient Haskell programs witho

[2020-05-15 09:51] andreasabel commented on #4647
@nad : I updated the PR which allows you to use `C-c C-n` and the like on a dirty file (unless you trigger a not-in-scope error).  I suggest you try it out for a while and see what the actual disruption of your workflows is.

[2020-05-15 10:19] txa commented on #4647
Proliferation of flags is a minor issue. The default behaviour needs to be intuitive. The advanced user may have to dig deeper into the manual. Even in Haskell -O2 or whatever.

[2020-05-15 12:05] andreasabel commented on #4647
@txa: Please try my PR #4652 and tell me whether it fixes the problem for you.

[2020-05-15 12:06] andreasabel commented on #4656
These macros come from highlighting information.  If there is no highlighting information (as it was in this case), no macros.

[2020-05-15 13:01] nad commented on #4656
I know. Do you know of other examples in which Agda does not generate any highlighting?

[2020-05-15 13:13] nad commented on #4647
@andreasabel, you did not address the following suggestion:

This would not break any current workflows, and it seems to me as if the interaction logic would be less complicated than with your suggested changes. It would mean that Agda spends more time *writing* interface files, but *reading* should be roughly as fast as it is today, except for the top-level module. This sounds like a good comprom

[2020-05-15 13:23] andreasabel commented on #4656
Not off the top of my head.  I'd expect these will eventually get reported to the issue tracker.
Highlighting problems do creep in all the time due to incorrect ranges, new language features, refactorings...

[2020-05-15 13:47] andreasabel commented on #4647
I intended to address it here:

Still, there needs to be a trigger when the extra information should be read.  But maybe you want to read it eagerly.

I am worried about serializing the scope twice, once abridged and once unabridged.  One of the optimizations to the serializer I did with Makoto 5-6 years ago at AIM XXI was to delete another copy of the scope; at that time both `insideScope` (for t

[2020-05-15 13:58] nad commented on #4647
Yes, for the top-level module (in the Emacs mode and `agda -I`).

I'm not familiar with the representation of the scope. Isn't it possible to serialise the currently omitted parts separately, and then combine the two scopes into one?

[2020-05-15 17:19] ayberkt commented on #4656
Actually, now that I think about it, I did encounter some other bizarre highlighting issues recently. Maybe I should file reports for them as well.

[2020-05-16 15:40] andreasabel commented on #4647
@nad

In some way or the other, yes, it is possible.  How should it be impossible?  (We are dealing with classical information, which can be deleted and duplicated at will.)

The question is whether it affects @UlfNorell : https://github.com/agda/agda/issues/1804#issuecomment-181994452

[2020-05-16 15:45] andreasabel commented on #4592
No action has been suggested or committed to.  Closing.  Feel free to reopen should there be further desire for discussion.

[2020-05-16 15:45] #4592 closed, assigned to nobody

[2020-05-16 18:01] #4657 closed, assigned to andreasabel

[2020-05-16 18:25] andreasabel commented on #4542
The conversion from `DomainFree` to `DomainFull` happens only just before the type-checking.  This seems to be fine.
https://github.com/agda/agda/blob/db00d35e0373a524626487fec51ed4c40e54cf7e/src/full/Agda/TypeChecking/Rules/Term.hs#L1157-L1159

https://github.com/agda/agda/blob/db00d35e0373a524626487fec51ed4c40e54cf7e/src/full/Agda/TypeChecking/Rules/Term.hs#L1414-L1419

No action needed.

[2020-05-16 18:25] #4542 closed, assigned to nobody

[2020-05-16 18:46] andreasabel commented on #4649
Fixing this by allowing `--safe` and `--allow-unsolved-metas` to coexist in `-I` mode.

[2020-05-17 14:46] pnlph opened #4658 "Could Level be a datatype in Agda.Primitive?"
`Level`, `lzero`, `lsuc` and `_⊔_` are postulated in `Agda.Primitive`.

Could not `Level` be a datatype, `lzero` and `lsuc` its constructors, and `_⊔_` defined as a function? I read the [Built-ins documentation](https://agda.readthedocs.io/en/latest/language/built-ins.html?highlight=level#universe-levels) but I could not find an explanation for the `postulate` choice.

I only found this hint in `A

[2020-05-17 15:24] guillaumebrunerie commented on #4658
The primitive `_⊔_` has various additional properties, like being definitionally commutative and associative.

If you do what you propose, you could then construct functions between `Level` and `Nat` back and forth the obvious way, and that would give you the possibility to define a definitionally commutative and associative `max` function on `Nat`. This is something that is known to be impossible

[2020-05-17 15:48] pnlph commented on #4658
Thank you @guillaumebrunerie !

If someone thinks this should be documented, please reopen the issue.

[2020-05-17 15:48] #4658 closed, assigned to nobody

[2020-05-18 07:23] #4647 closed, assigned to andreasabel

[2020-05-18 07:29] andreasabel commented on #4647
I have merged the PR to subject it to testing in practice.

@nad : Please use Agda "naturally" (as you always use it) and see if any disruption of your workflows happens in practice.  There is an "emergency brake", option `--top-level-interaction-no-private` that brings back the old behavior, should you get irritated by the new one.  Please report situations where the new behavior is disrupting.

[2020-05-18 13:53] andreasabel commented on #4591
@xekoukou

I think this is what has been done in verification, e.g., Marino Miculan, Marco Paviotti:
Synthesis of Distributed Mobile Programs Using Monadic Types in Coq. ITP 2012: 183-200 https://doi.org/10.1007/978-3-642-32347-8_13 .
You have a (slow) functional executable model to prove your program correct, and you swap it for fast imperative code when you generate the binary you want to run.

[2020-05-18 14:43] andreasabel commented on #4536
This can be fixed without absurd copatterns (#3006), by producing
[code]
(as suggested in the OP).

[2020-05-18 14:50] andreasabel commented on #3006
After fixing #4536 to produce rhs @record{}@, there is even less need for absurd copatterns, I suppose, than the lack of enthusiasm on this issue demonstrates.

[2020-05-18 14:50] #3006 closed, assigned to andreasabel, jespercockx

[2020-05-18 15:16] andreasabel commented on #4071
Is this just a problem of _error-reporting_ or rather a broken internal invariant?

[2020-05-18 18:40] #3933 closed, assigned to andreasabel

[2020-05-18 23:37] halfaya opened #4659 "Type inference fails when there are two constructors with the same name"
In the following code the function `f` has unsolved metavariables even though `suc` must be the constructor for `Pos`. Making the constructor name unique solves the problem as shown by `g`. Although this example is simplified I want to do more sophisticated things (such as declaring a type `suc (Pos→ℕ (ℕ→Pos n)) ≡ suc n`) and have to work around it by assigning local variables with explicit types,

[2020-05-19 06:25] gallais commented on #4659
I'd say this is #3227

[2020-05-19 15:57] gallais commented on #3846
I was reading your 'Type theory unchained' and was surprised that if this was
a problem then simply forbidding rules working over type constructors was enough.
And indeed it is possible to revive this internal error by adding one level of
indirection:

[code]

yields

[code]

with Agda 2.6.1

[2020-05-19 16:03] gallais commented on #3846
In [Coq modulo theory](https://hal.inria.fr/file/index/docid/497404/filename/csl-2010.pdf), Strub insists that it is crucial to have two versions of the
conversion algorithm: the *strong* one enriched with the extra equalities of the
theory and the *weak* one without. To preserve consistency the weak conversion is
used when performing large elimination.

Not sure whether that would bring down any

[2020-05-19 16:17] jespercockx commented on #3846
You need two properties: no rewriting of type constructors + global confluence of the rewrite system. Your example is not confluent (since `F false` rewrites to both `Nat` and `Bool`), but it seems the confluence checker (which can be enabled by `--confluence-check`) does not detect this.

But it would also be nice to have this not be an internal error even if the user *does* give a non-confluent

[2020-05-19 19:32] andreasabel commented on #4157
The problem is that `mutual` blocks are processed by the nicifier, which works with concrete names.  The explicit mutual block is turned into a new-style block _after_ it passed the nicifier.  This means you get the behavior of the new-style mutual block without the duplicate-definition warning.  An while the OP could make sense with old-style mutual blocks, it does not (robustly) make sense with

[2020-05-19 21:33] #4157 closed, assigned to andreasabel

[2020-05-20 06:34] #4651 closed, assigned to pnlph

[2020-05-20 06:53] jespercockx commented on #3846
Well, I guess I could replace the `__IMPOSSIBLE__` with a `if rewritingEnabled then NoReduction else __IMPOSSIBLE__` or something of the sort. That way the example would break canonicity, but would not trigger an internal error at least.

[2020-05-20 08:46] #4659 closed, assigned to nobody

[2020-05-21 10:15] xekoukou commented on #4591
@andreasabel

I'll look into the paper.

Your description of the technical problem seems accurate.
We need to compile away the functions that describe the environment with low level code.

[2020-05-21 10:34] pnlph opened #4662 "Current module contents"
`C-c C-o` shows the contents of a module (e.g. imported and opened?), but does not work with the current module. Is this behavior intended?

Are the shown contents of a module equivalent to the elements of that module that we brought to the current scope?

[2020-05-21 12:00] pnlph opened #4663 "free anonymous import from open"
PR #4270 implemented the *anonymous import* feature solving #3727, which brings into scope the module's contents, but not the module itself:
[code]
It is also working with modifiers like `using`:
[code]
The feature is excellent, but it seems to be working only with `open` and `import` together. The following code loads but is impracticable:
[code]
How to open one of the selected elements afterward

[2020-05-21 13:34] UlfNorell commented on #4663
What problem are you trying to solve with this proposal? Making `open` bring single identifiers into scope adds a bunch of extra complexity and I don't see any benefits. If you want to bring names from a module into scope at later times it's not unreasonable that you name the module.

[2020-05-21 16:55] #4093 closed, assigned to jespercockx

[2020-05-22 03:20] L-TChen commented on #4610
Another GNU Emacs 26.3 (Mac) installed via homebrew.

[2020-05-22 03:25] L-TChen commented on #4598
This makes me believe that a quoted term should either be closed (like in Davies & Pfenning) or open with a context packed (like in Nanevski et al.)...

[2020-05-22 06:57] pnlph commented on #4663
Thanks! I think you're right.

I don't have a particular problem in mind; I was just exploring the `import` feature and wanted to be sure that the behavior is known.

We can close the issue, and if someone comes up with a compelling use case for this in the future (having in mind that the solution may be complex), it can be re-opened.

[2020-05-22 07:19] #4663 closed, assigned to nobody

[2020-05-22 09:43] jespercockx commented on #4643
This issue identifies a lot of different problems and has some vague suggestions of how things could be improved, but it is not clear what actionable items there are. Hence I will close this issue, but if you would like to discuss one of your suggestions in more detail feel free to open a new issue about that one specific suggestion.

[2020-05-22 09:43] #4643 closed, assigned to nobody

[2020-05-22 09:45] jespercockx commented on #4642
I'm putting this in the icebox until someone commits to actually work on it.

[2020-05-22 09:45] #4625 closed, assigned to nobody

[2020-05-22 09:47] #4635 closed, assigned to nobody

[2020-05-22 09:58] jespercockx commented on #4581
It is not possible with the current reflection infrastructure to get a list of all definitions in the current file/module. I don't think it would be too hard to add such a thing, but I guess the performance could potentially be quite bad when you have a lot of imported modules. So perhaps the better question is if we can implement some kind of "hint databases" that can be used by tactics to store

[2020-05-22 10:09] #4529 closed, assigned to nobody

[2020-05-22 10:21] #4474 closed, assigned to nobody

[2020-05-22 10:21] jespercockx commented on #4474
This was actually done in 2.6.1 and documented in the changelog, I only forgot to add the milestone and close this issue.

[2020-05-22 10:24] jespercockx commented on #4463
This is more of a question for the mailing list or gitter and not an actual issue in Agda, so I'm closing this.

[2020-05-22 10:24] #4463 closed, assigned to nobody

[2020-05-22 10:24] #4441 closed, assigned to nobody

[2020-05-22 10:29] jespercockx commented on #4359
(Adding this to the 2.6.2 milestone on the assumption that you are still working on this, feel free to change the milestone if not.)

[2020-05-22 10:39] #4631 closed, assigned to jespercockx

[2020-05-22 12:35] Saizan commented on #4638
It would be nice if we knew how to interpret these in the realizability models of QTT.

It could be something like `!_0 a |= compile-time d <=> a |= d`, with a tuple instead of a single "a" if the constructor has more arguments.

By the way, you would want the erased constructors to show up even for non-erased function spaces, because `f` might be called in an erased context.

e.g. you do need the

[2020-05-22 13:43] #4265 closed, assigned to jespercockx

[2020-05-22 13:43] #4595 closed, assigned to jespercockx

[2020-05-22 13:44] #2119 closed, assigned to jespercockx

[2020-05-22 13:44] #4109 closed, assigned to jespercockx

[2020-05-22 13:44] #4585 closed, assigned to jespercockx

[2020-05-23 06:32] andreasabel commented on #4662
Related: #1141 (absolute module references).
Without changing too much, we could an empty input `C-c C-o RET` have print the contents of the top-level module (currently gives a parse error).
In my own workflows, I only use `C-c C-o` on  complicated modules I import.

[2020-05-23 07:07] andreasabel opened #4665 "Documentation: add install instructions for stack"
The instructions https://agda.readthedocs.io/en/v2.6.1/getting-started/installation.html currently do not mention installation via stack.

Relevant file is: https://github.com/agda/agda/blob/master/doc/user-manual/getting-started/installation.rst

[2020-05-23 08:04] pnlph commented on #4662
Yes, I also think that printing the top-level module with `C-c C-o RET` would be a perfect solution to this.

Also, currently `C-c C-o` prints the same independently from how the module was imported. Would it be easy to annotate the scope in the print?
[code]

[2020-05-23 08:10] pnlph commented on #4662
I am right now realizing that under `Modules` are not really modules, but datatypes listed, could we change the wording? This is the output of `C-c C-o Agda.Builtin.Equality RET`
[code]

[2020-05-23 08:30] guillaumebrunerie commented on #4662
`_≡_` is actually a module as well. See [the doc](https://agda.readthedocs.io/en/v2.6.1/language/module-system.html#datatype-modules-and-record-modules):

[2020-05-23 12:19] pnlph commented on #4662
:bulb: Thank you for pointing this out!

I was not aware that data types and records are defining modules.

In that case, and if I understood, I think this would be clearer, because one can not evaluate `_≡_._≡_` anyway; it throws a `Not in scope` error. Otherwise, it seems like the module and the data type are two different things, don't you think?
[code]

I also noticed that the print is sometim

[2020-05-23 13:29] guillaumebrunerie commented on #4662
`_≡_` is also in scope as a name, names and modules are two different namespaces, so not putting it in the `Names` part would be wrong (the module and the datatype *are* two different things).

Nothing in the current output says that `_≡_._≡_` should work, it simply says that `_≡_` is in scope both as a module and as a name. If you want to know the content of the module named `_≡_`, you can do `C-

[2020-05-23 18:37] asr commented on #4543
The GHC issue will fixed in GHC 8.10.2 (see  [Issue 17926](https://gitlab.haskell.org/ghc/ghc/issues/17926)).

[2020-05-24 15:11] laMudri opened #4666 "Expression and telescope syntaxes differ on closed operators"
Given the following setup:
[code]
The following lines can each be added:
[code]
Whereas the following cannot:
[code]

In the latter, the telescope is parsed as three separate variables (`[`, `x`, and `]`). This behaviour feels surprising when extended `λ`s parse `[ x ]` as expected. Also, the error message is confusing:
[code]

-----

The difference comes about because patterns for extended `λ`s a

[2020-05-24 15:13] laMudri commented on #4666
Related to #3884.

[2020-05-25 09:08] pnlph opened #4668 "devel branch forked agda in mac howto"
Hi,

I am trying to figure out how if it is possible to get `SSet` in scope.

At the time, I did a normal installation `brew install agda` via Homebrew and I update agda always with `brew update`.

I am trying to load this file:
https://github.com/jespercockx/agda/blob/2ltt/test/Succeed/SST.agda

But it does not work, somehow the PR #4091 was not merged. I think that I would need to run agda from

[2020-05-25 09:15] UlfNorell commented on #4668
These kinds of questions are not really appropriate for the issue tracker. Please direct them to the mailing list or the gitter instead. If there are actionable improvement suggestions for the documentation, they can go here.

To answer your question, this is the relevant section of the documentation: https://agda.readthedocs.io/en/latest/getting-started/installation.html#installation-of-the-devel

[2020-05-25 09:15] #4668 closed, assigned to nobody

[2020-05-25 09:32] pnlph commented on #4668
Thank you Ulf. I already read that section but it was not helping. I will give it a try in the list.

I agree that these kind of questions do not belong to the issue tracker, I still think that it would be great to activate github's discussions beta #4557

[2020-05-25 11:40] andreasabel commented on #4638
Parsing of erased constructors is already supported, a starting point for this issue would be to remove the restriction here: https://github.com/agda/agda/blob/adfc12d40aeb149cb0cd4e2546047b4fff60c463/src/full/Agda/TypeChecking/Rules/Data.hs#L212-L215

The check whether using an erased constructor is legal should go here, probably:
https://github.com/agda/agda/blob/adfc12d40aeb149cb0cd4e2546047b4f

[2020-05-25 13:47] Saizan commented on #4638
I would say that the following definition should be allowed:

[code]

but this requires extending the coverage checker.

[2020-05-25 14:43] andreasabel commented on #4638
In what sense?  Isn't this a covering definition anyway?
UPDATE: Ah, I see, splitting on an erased argument should be allowed if the clause is compile-time only.

[2020-05-25 15:22] andreasabel commented on #4638
Concerning the coverage checker:  The `SplitClause` has field `scTarget` which contains a modality.  However, the `Maybe` is a bit worrying; we have to make sure this information is always available. https://github.com/agda/agda/blob/adfc12d40aeb149cb0cd4e2546047b4fff60c463/src/full/Agda/TypeChecking/Coverage.hs#L101-L104
The `fixTargetType` could update the modality:
https://github.com/agda/agda/

[2020-05-25 16:03] andreasabel opened #4671 "Weird error message on case-insensitive file systems"
Weird error on case-insensitive file systems (like Mac OS X):
[code]
[code]

[2020-05-25 17:24] asr commented on #4072
The standard library is using `fix-whitespace` from the Github repository. While the issue on the license is fixed, I'll do the same for Agda.

[2020-05-25 19:06] andreasabel commented on #4662
`C-c C-o Data.Nat` prints for me just
[code]

[2020-05-25 19:11] pnlph commented on #4662
@banacorn can you please take a look? Maybe it is an issue of the agda-mode in Atom?

[2020-05-25 20:35] #4662 closed, assigned to andreasabel

[2020-05-25 20:37] andreasabel commented on #4662
I implemented this.

[2020-05-26 05:15] L-TChen commented on #4359
This is currently blocked by the discussion on the new cabal system https://github.com/agda/agda/issues/4216. The use of multiple libraries in one project requires cabal 3.0 or above.

[2020-05-26 07:13] andreasabel commented on #4671
It seems it is sufficient to fix the error message.
https://github.com/agda/agda/blob/80d910b4c6da41818e6ffa9c750dcd40a5345520/src/full/Agda/TypeChecking/Errors.hs#L703-L708
When both top level module names are equal modulo case, the error should say:
[code]
A well-maintained library for comparing modulo case seems https://hackage.haskell.org/package/case-insensitive .  (Even part of the Haskell p

[2020-05-26 07:42] andreasabel opened #4672 "Add Agda to Stackage. We need a Stackage maintainer for Agda."
From stack users I guess the easiest is to add Agda to Stackage. In the past Agda was in Stackage, but Agda 2.6.1 is not. We need a Stackage maintainer for Agda.

_Originally posted by @asr in https://github.com/agda/agda/pull/4664#issuecomment-633236470_

[2020-05-26 08:10] andreasabel commented on #4672
@asr: You seem to maintain the `stack-n.n.n.yaml` files.  What would it take to add Agda to Stackage?  What would be the job of the Stackage maintainer?

[2020-05-26 10:01] wenkokke commented on #4672
Please assign this to me.

[2020-05-26 11:55] asr commented on #4672
No really. I need to create them when I add support for a new version of GHC.

See [Add your maintained packages to stackage](https://github.com/fpco/stackage/blob/master/MAINTAINERS.md#adding-a-package).

[2020-05-26 12:17] L-TChen commented on #4072
The license issue is only relevant if it is going to Hackage. As @Saizan suggested, it can be included as a submodule. I am making #4674  to close this issue.

[2020-05-26 12:28] asr commented on #4072
Does it mean that Agda will use `fix-whitespace`?

[2020-05-26 12:29] L-TChen commented on #4072
Yes.

[2020-05-26 14:50] fredrikNordvallForsberg commented on #4019
I cannot reproduce this; might have been fixed by https://github.com/agda/agda/commit/7018c303a9363c2622383a1206c2a7191069c496?

[2020-05-26 14:50] #4019 closed, assigned to nobody

[2020-05-26 14:54] flupe opened #4675 "Add support for holes in `.lagda.rst` files"
This issue is related to #3665.
Agda can compile `.lagda.rst` files just fine but support for them in agda-mode is lacking.

The catch however is that code blocks in restructured text are not enclosed by explicit delimiters. They begin after `::` or `.. code:: agda`, and end when text with lower indentation is encountered.

[code]

Right now you can typecheck your literate rST files from emacs, bu

[2020-05-26 14:57] nad commented on #4675
Related: #2837.

[2020-05-26 15:15] nad commented on #4071
I don't know.

[2020-05-26 15:26] andreasabel commented on #4019
I haven't seen the faulty behavior in a long time either.  Seems to be fine.

[2020-05-26 15:33] nad commented on #4649
Now `--allow-unsolved-metas` is turned on also in imported modules. Test case:
[code]
[code]
Is this intended?

[2020-05-26 15:34] Saizan commented on #4638
It seems that there should be special case about `Quantityω` here, since `ω <> 1 = ω` but we do not want `ω` in envModality.

https://github.com/agda/agda/blob/adfc12d40aeb149cb0cd4e2546047b4fff60c463/src/full/Agda/TypeChecking/Irrelevance.hs#L193-L198

[2020-05-26 16:06] andreasabel commented on #4649
I didn't change the existing logic, which turns on `--allow-unsolved-metas` globally.  I only silenced the conflict with `--safe`.

[2020-05-26 16:42] #4572 closed, assigned to pnlph

[2020-05-26 17:52] tomdjong opened #4676 "Injectivity analysis performs fatal reduction of rhs"
Consider the following code.

[code]

I find it confusing that `f` and `g` are fine, both `h` and `h'` aren't. Why does this happen exactly? Is this intended or a bug?

[2020-05-26 18:00] tomdjong opened #4677 "Literals and termination"
Consider the following code.

[code]

Since `refl : 0 ≡ zero`, I thought that `0` and `zero` are defintionally equal, so why does Agda try to reduce `f zero` (or `f 0`) in `baz`? Can I (manually) prevent this from happening?

[2020-05-26 18:23] andreasabel opened #4678 "Ensure portability of top-level module names (case-sensitivity)?"
On case-sensitive file systems, the following is legal Agda:
[code]
assuming files `A.agda` and `a.agda` are in the project root.

However, this might lead to non-portable code when moving to a case-insensitive file system.

I would advocate that Agda should disallow source files that only differ on case in the project root, as this might lead to portability problems.

[2020-05-26 18:28] andreasabel commented on #4677
`f` is not defined.

[2020-05-26 18:39] andreasabel commented on #4676
Agda analyses `h` to see whether it is invertible, i.e., whether from e.g. `h a = zero` we could learn something about `a`.  To this end, Agda checks whether the rhss of `h` are all headed by distinct constructors.  To check this, Agda reduces the rhss.  Which is fatal in case of `stuck`.

There is currently no option/pragma to turn off the inversion ("injectivity") analysis.
Would this be essenti

[2020-05-26 18:41] guillaumebrunerie commented on #4677
When checking whether two terms of type `ℕ` are equal, Agda first checks if they are syntactically equal, as a shortcut, but otherwise it reduces them to weak-head normal form.
In your case, I assume that `f` is defined such that reducing `f zero` and `f 0` to weak-head normal form loops, so it’s expected that Agda loops.
There are definitely other ways of checking equality of terms, like checking

[2020-05-26 19:05] nad commented on #4678
Are there other potential pitfalls related to file names?

[2020-05-26 19:08] nad commented on #4676
Apparently `--inversion-max-depth=0` is not sufficient to make Agda accept the code in the OP.

[2020-05-26 19:14] andreasabel commented on #4678
I suppose so.  On Mac I can have a `module A\B where` in a file `A\B.agda`, but this may not fly on Windows (don't actually know).

[2020-05-26 19:27] nad commented on #4678
I think we should aim for maximum portability:
* Only printable 7-bit ASCII characters.
* Not `/`, `\`, or `.`, and no lower-case letters. In fact, for simplicity, let's only allow `A` to `Z`.
* At least one file system does not support directories, so hierarchical module names with more than one component have to go.
* At most eight characters in the module name.
* Let's replace `.agda` with `.AG

[2020-05-26 19:30] andreasabel commented on #4678
https://en.wikipedia.org/wiki/Filename#Comparison_of_filename_limitations

Probably too boring:

POSIX "Fully portable filenames"[22]
- allowed: A–Z a–z 0–9 . _ -
- reserved: / null
- hyphen must not be first character

But it would make sense to disallow common reserved characters:

E.g. FAT family: 0x00-0x1F 0x7F " * / : < > ? \ | + , . ; = [ ] (in some environments also: ! @; DOS 1/2 did not al

[2020-05-26 19:40] tomdjong commented on #4677
Apologies, I forgot to copy it in.
[code]

I have also edited the original code.

[2020-05-26 19:44] tomdjong commented on #4677
Thank you for the explanation! Is it possible to (manually) tell Agda what strategy to use in this particular case?

[2020-05-26 19:58] guillaumebrunerie commented on #4677
Not really, but depending on your use case you could for instance put `f` abstract, which would prevent it from being reduced.

[2020-05-26 19:59] tomdjong commented on #4676
I see, thank you! I don't think I really need such an option, but out of curiosity: is anything like it planned for future releases of Agda?

[2020-05-26 20:10] ayberkt opened #4679 "Cubical: giving seems to skip the boundary condition check for extended lambdas"
Here is an example:

[code]

When this proof is given using `C-c C-SPC`, Agda accepts it. When the file is loaded afterwards, errors are reported.

[2020-05-26 20:12] UlfNorell commented on #4676
This option affects the number of times inversion invoked on a problem, it doesn't affect whether the analysis is performed. Since it can be different in different modules, it doesn't make sense to turn off the analysis even if it's set to zero. Adding a flag would be easy enough though.

[2020-05-26 20:19] jespercockx commented on #4678
How do other programming languages handle this (e.g. Haskell, Coq, Idris, ...)? This does not seem like a problem where we should try to reinvent the wheel.

[2020-05-26 20:31] nad commented on #4678
If I recall correctly the Haskell 98 report does not specify how modules should be stored: there is no obligation to store one module per file, it is fine to, say, store all the code in a database.

[2020-05-26 21:03] WolframKahl commented on #4677
Perhaps `cong f refl`? :wink:

[2020-05-26 21:56] gallais commented on #3831
These days the interaction test case corresponding to this issue
contains an internal error.

https://github.com/agda/agda/blob/4a5bcdfe4b13a79fcb9bc5d5a9f2a44c969376c3/test/interaction/Issue3831.out

This does not appear to have been intended by the original commit and
was introduced by 27a1a2ae7a180e4d2784ff1eb9533a56c486cd26 (and then we have close to a dozen commits
dutifully updating the line

[2020-05-26 22:00] gallais commented on #3831
Also, I am not sure why we have both `__IMPOSSIBLE__` and `__UNREACHABLE__`.
The latter seems to only be used at the source of this internal error
in `Agda.TypeChecking.Unquote`.

[2020-05-27 03:22] L-TChen commented on #3831
was introduced by 27a1a2a (and then we have close to a dozen commits
dutifully updating the line number the internal error references 🤣).

It looks like this `__UNREACHABLE__` is actually intended, since the variable (de Bruijn index 0 referring to the variable introduced by `Extendcontext`) escapes its scope. Do you agree?

As far as I understand, `__UNREACHABLE__` is not really a bug but a featu

[2020-05-27 04:01] #4582 closed, assigned to asr

[2020-05-27 06:14] guillaumebrunerie commented on #4677
I actually tried that, and for some reason it still looped, not sure why.

[2020-05-27 06:23] UlfNorell commented on #4677
You still need to solve the implicits to `cong`, i.e. `f _X = f zero` and `f _Y = f 0`. In this case you really can't avoid reducing `f`. If you give the implicits it checks quickly though: `cong f {zero} {0} refl`

[2020-05-27 06:35] guillaumebrunerie commented on #4677
Oh, I tried giving the implicits as well, and it still loops:

[code]

Am I missing something?

[2020-05-27 06:38] UlfNorell commented on #4677
That's strange. This is my complete file which type checks instantly on adfc12d:
[code]

[2020-05-27 06:43] guillaumebrunerie commented on #4677
Hmm, in my case (the code in the OP plus the two definitions of my previous comment) I can make it terminate if I disable the auto-inlining feature (`--no-auto-inline`), as apparently Agda realizes that `f` does not actually use its argument `n` and therefore decides to inline it. No idea why it’s different in your example.

[2020-05-27 06:45] guillaumebrunerie commented on #4677
The difference seems to be whether the first explicit argument of `cong` is given a name in the type signature (I call it `f`, but you leave it unnamed). This is probably not the expected behaviour :)

[2020-05-27 06:48] UlfNorell commented on #4677
Huh, that is interesting.

Aside: you can also use `{-# NOINLINE f #-}` to disable inlining for `f` specifically.

[2020-05-27 06:49] guillaumebrunerie commented on #4677
Actually, your definition of `cong` is not quite correct, you’re using the `f` defined above instead of the one given as an argument to `cong`.

[2020-05-27 07:11] andreasabel commented on #4678
@nad And a serious contribution to the discussion?

[2020-05-27 07:25] andreasabel commented on #4679
It seems like some conditions are not checked on the extended lambda when you give it.  For comparison, if you try to define the extended lambda as function, it is rejected.
[code]
Btw, the error is rather incomprehensible, there should be a better localization than `when checking the definition of P`.  Something like `when checking the end-point conditions of definitions P`.

[2020-05-27 07:32] andreasabel commented on #4676
Well, then, no. 😉   We are busy enough implementing features people need...

[2020-05-27 07:32] #4676 closed, assigned to nobody

[2020-05-27 07:34] andreasabel commented on #4649
@nad You reopened the issue.  What is it that you want to see implemented?

[2020-05-27 07:40] UlfNorell commented on #4677
Lol, oops. Well that explains the difference I suppose :blush:

[2020-05-27 07:51] UlfNorell commented on #4678
GHC checks that the capitalization of the file name matches the module name. On case insensitive file systems, the file name you read isn't necessarily the file name that is stored on disk, so you can get confusing errors like this:

(On MacOS)
[code]
[code]
[code]

[2020-05-27 07:54] andreasabel commented on #4675
Thanks for volunteering @flupe.

Me too, unfortunately.  Too see who recently worked on the emacs mode, check out https://github.com/agda/agda/commits/master/src/data/emacs-mode/agda2-mode.el .

[2020-05-27 08:46] nad commented on #4649
I don't think Agda should accept code with holes when `--safe` is used. Perhaps it is fine to leave it as it is for now, because we do advertise that `agda -I` is not supported. However, there seems to be interest in actually supporting `agda -I`, so I don't think we should close this issue.

Does anyone know why `--allow-unsolved-metas` is turned on? Apparently it has been like this since 2006 (f

[2020-05-27 08:55] gallais commented on #4675
This makes me think that perhaps goal detection should be merged with the
basic syntax highlighting via Agda's parser that @nad added when the rules
to detect comments became too complicated. Cf. #2794

[2020-05-27 08:57] gallais commented on #3831
If the error comes from a *user* mistake when writing code on the reflected
syntax then there is no point mentioning the source file and position of the
feature in Agda: we should mention the source file and position of the user's
mistake!

[2020-05-27 09:13] L-TChen commented on #3831
Agree! Make another PR to change the behaviour of `__UNREACHABLE__`?

[2020-05-27 09:15] gallais commented on #3939
~~Fixed by @andreasabel in 78cd3d81a691ad24c464e368ce9f603a0d15c127~~

Edit: ah, shoot. I hadn't seen that it had been closed & then re-opened.
Is it still broken on 8.10.1 after @nad's fix?

[2020-05-27 09:25] gallais commented on #4491
Fixed by 148e17ec7368f5a0a4841308abbe527b4c45f5c2

[2020-05-27 12:02] andreasabel commented on #4678
@UlfNorell I reported a respective bug to GHC a while ago: https://gitlab.haskell.org/ghc/ghc/issues/16507

[2020-05-27 12:04] UlfNorell commented on #4678
It doesn't look like they're taking it very seriously...

[2020-05-27 12:26] andreasabel commented on #4678
No, this is cosmetics.  We already check this, as far as I know.
However, I don't think GHC allows to import modules that only differ in capitalization.  We should also disallow it, in my opinion.

[2020-05-27 12:31] UlfNorell commented on #4678
How do you propose to implement this? What if the case-mismatched imports are in different files? Surely, we shouldn't traverse the file system from the project root looking for potential clashes.

My feeling is that it's hard to come up with and implement a sensible restriction that also provides some real guarantees.

[2020-05-27 12:34] UlfNorell commented on #4678
Also, for the record
[code]
[code]
[code]
[code]

[2020-05-27 13:07] andreasabel commented on #4678
I tried the setup with include paths `src1` and `src2` and files `src1/a.agda` and `src2/A.agda`.  In my main file I import both:
[code]
I am a bit surprised that Agda does report on Mac the error:
[code]
On a case-sensitive fs this should pass at the moment.  Even one a case-preserving fs like Mac this *could* be made to work (which I do not advocate).  On a case-insensitive fs this could never w

[2020-05-27 13:43] andreasabel commented on #4649
I wouldn't say that `agda -I` needs to speak with authority on what is safe and what not.  It is a REPL to tinker around and evaluate stuff.

I suppose to enable to interactively give solutions to metas.

Users can always open issues when they seek functionality or find bugs.  The OP here was fixed, thus, I do not see a reason why to keep this issue in limbo.

[2020-05-27 13:51] andreasabel commented on #3831
I think the (now only) use of `__UNREACHABLE__` in `Unquote.hs` is not what I intended when I added `__UNREACHABLE__`.  My use pattern was:
[code]
So, the idea was that I intend to trigger a crash with a certain verbosity setting when this program point is reached.  The idea was that I wanted to make sure that a certain test case does not reach a certain program location.
Please do not change the

[2020-05-27 14:01] Saizan commented on #4679
Does give skip some part of coverage checking?

[2020-05-27 14:35] andreasabel commented on #4679
I do not think so.  Give invokes the type checker, and for extended lambdas this invokes `checkFunDef'` which includes coverage checking (which succeeds).

Is `P p x != ⊥ of type Set` coming from the coverage checker or rather some other boundary check?!

[2020-05-27 14:47] andreasabel commented on #4678
Proposal how to modify:
https://github.com/agda/agda/blob/014312d0181796ffc26557177bebe59bd8584c4c/src/full/Agda/Interaction/FindFile.hs#L154-L157
* Turn `files` into a list of `Glob` patterns replacing each char by an alternative between its lower and upper case version. https://hackage.haskell.org/package/Glob  Make sure to not include the paths or file extensions into the globbing, only the par

[2020-05-27 14:55] Saizan commented on #4679
Why the interrobangs?

it's coming from `checkIApplyConfluence_`

[2020-05-27 14:59] andreasabel commented on #4679
Ah, learned a new word.  Is there also a word for "!?"?   😆

This is explicitly invoked in `checkExtendedLambda` (after coverage checking is complete).

[2020-05-27 15:05] andreasabel commented on #4679
Ah, but it is not executed since it is under condition `whenNothingM (asksTC envMutualBlock) $`!

[2020-05-27 16:09] andreasabel commented on #4679
The fix is to clear `envMutualBlock` before invoking `checkExpr` in the `giveExpr` function.

[2020-05-27 16:25] Saizan commented on #4679
How does this work for other `mutualChecks` ?

I mean, the reason there a `whenNothingM (asksTC envMutualBlock) $` condition here is that in a mutual block you'll normally get `checkIApplyConfluence_` checked by the `mutualChecks`.

[2020-05-27 16:30] Saizan commented on #4679
Apparently other `mutualChecks` are also skipped by `give`, e.g. giving in the hole below does not report an error until reload.

[code]

I suppose this is less of a problem in practice.

[2020-05-27 16:59] #4679 closed, assigned to andreasabel

[2020-05-27 17:09] andreasabel commented on #4679
Yes, this is old issue #118.
In your comment for `checkExtendedLambda` you ask if there should be more checks.
But `give` also does some checks, e.g. termination (in function `BasicOps.redoChecks`).  We have not included positivity here yet (but I think for no real reason).

[2020-05-27 17:31] gallais commented on #2124
The principled solution is to use a view. The explicit representation
of catchall as a constructor of the view means that the function will
reduce when it is told "and now this is the default case".

Cf. this example of a decidable equality proof which is linear in the
number of constructors for the datatype:

https://github.com/gallais/potpourri/blob/master/agda/poc/LinearDec.agda

Or these optim

[2020-05-27 19:28] tomdjong commented on #4677
Could someone please explain why the proper `cong` does not work, but the "not quite correct" `cong` does the trick for `f 0 ≡ f zero`?

[2020-05-27 20:06] guillaumebrunerie commented on #4677
Agda has an auto-inlining feature that detects when it would be a good idea to inline a definition (and does it). In this case, Agda sees that `f` does not actually use its argument `n`, and therefore decides to inline it (sometimes). And of course, if it does get inlined, it becomes non-trivial to compare it with a non-inlined version. In the version that does not work, it tries to compare `f zer

[2020-05-27 20:10] jespercockx commented on #4677
See also https://github.com/agda/agda/issues/3486 for another issue where auto-inlining causes unexpected behaviour.

[2020-05-27 20:33] guillaumebrunerie opened #4681 "Get rid of auto-inlining?"
The auto-inlining feature creates unexpected behaviour at times (see #4677 and #3486 for instance), and I am not at all convinced of its usefulness.
The only test case I could find is `test/Succeed/CompileTimeInlining.agda` which claims that inlining saves a lot of memory, but unless I messed up somewhere, using `--no-auto-inline` and the suggested RTS flags still type-checks just as quickly. Mayb

[2020-05-27 20:56] nad commented on #4649
I don't think we should ignore issues related to `--safe`.

If there are no objections I can revert your change and turn off `--allow-unsolved-metas`.

[2020-05-28 02:22] ice1000 commented on #4649
I would ask why does the REPL forcibly requires `--allow-unsolved-metas`. We can work with `--safe` files with unsolved metas in Emacs, right?

[2020-05-28 02:32] L-TChen commented on #3831
Okay, so I will invent another kind of `__IMPOSSIBLE__` to report the position.

[2020-05-28 06:13] tomdjong commented on #4677
Thank you very much for your detailed response, @guillaumebrunerie!

I have one more (possible naive) question: could there be a flag/option so that `0` and `zero` are syntactically equal?

[2020-05-28 07:11] guillaumebrunerie commented on #4677
I don’t think it’s a good idea to have a development that relies on `0` and `zero` being syntactically equal, it will break very easily. It’s better to try to reorganize the code, using `abstract`, always using `0` instead of `zero`, and so on, for the problem to go away in a more principled way. So I feel like adding a specific flag for that would not be worth the trouble.

[2020-05-28 07:44] UlfNorell commented on #4681
I'll add `--auto-inline` and see if the test suite passes with `--no-auto-inline` being the default.

[2020-05-28 08:28] UlfNorell commented on #4678
Sounds reasonable I think, although I'm a little hesitant to pull in more questionably maintained dependencies over this issue...

[2020-05-28 08:36] UlfNorell commented on #2636
It looks like the test case only goes through because of auto-inlining of `F`. Adding `{-# NOINLINE F #-}` brings back the error.

[2020-05-28 08:49] nad commented on #4649
This code has been unmaintained for a long time. I guess that it was not updated when the Emacs mode was changed.

One practical consequence of using `--allow-unsolved-metas` that has not been mentioned above is that in many cases Agda decides that the options have changed and decides to typecheck everything from scratch.

[2020-05-28 09:01] nad commented on #4675
I've [argued](https://github.com/agda/agda/issues/2837#issuecomment-361853931) for this, but I have not volunteered to do anything about it.

Some people have talked about adding support for the Language Server Protocol (#3758). Perhaps it makes sense to look at this issue at the same time, to avoid duplicating work.

[2020-05-28 10:07] #4072 closed, assigned to L-TChen

[2020-05-28 11:20] nad opened #4684 "Type error due to --no-syntactic-equality"
Is the idea that code that typechecks without `--no-syntactic-equality` should also typecheck with this option, given enough time and space? I tried to type-check the standard library using `--no-syntactic-equality`, but encountered an error:
[code]

[2020-05-28 11:28] UlfNorell commented on #4684
I would assume this is #525. Do you have reason to believe it's not?

[2020-05-28 11:41] andreasabel commented on #4678
It would probably imply that I have to volunteer for maintaining Glob. It's currently up for grabs.

[2020-05-28 12:42] UlfNorell commented on #4681
After adding some strategic `INLINE` pragmas to fix termination and positivity errors introduced by lack of inlining the standard library checks 6s slower (6m53 -> 6m59s) and the cubical library checks 19s slower (9m13s -> 9m32s). This seems acceptable, and you can of course always turn on `--auto-inline` if you want.

[2020-05-28 13:19] asr commented on #4216
What about to use two Makefiles (something like `Makefile` and `Makefile-new-cabal`). We could use both Makefiles in Travis and GitHub. Every developer could use the more appropriate `Makefile` for his set up. Eventually `Makefile` will be obsolete and then we will rename `Makefile-new-cabal` to `Makefile`?

[2020-05-28 13:34] nad commented on #4684
I don't know.

[2020-05-28 13:38] nad commented on #4681
The cubical library test could perhaps be optimised. Currently it calls Agda about 14 times.

[2020-05-28 13:40] nad commented on #4216
I don't think we should make things more complicated. I suggest that we switch to the new Cabal commands when or if the problems identified above have been addressed in some suitable way.

[2020-05-28 14:17] asr commented on #4216
Even if the problems you mentioned were fixed, the CI uses the `Makefile` and we need to test the versions of `cabal-install` for "default" for each GHC supported version.

[2020-05-28 14:43] asr commented on #4681
Please add information to the CHANGELOG and the user documentation.

[2020-05-29 09:02] jespercockx opened #4687 "Instance search fails with two equal candidates"
This is a minimized version of the problem encountered by @gallais in https://github.com/agda/agda-stdlib/pull/1220

[code]

Error message:
[code]

[2020-05-29 09:47] jespercockx opened #4688 "Instance search is dependent on order of instance declarations"
When performing instance search, Agda will filter out equal instance candidates. However, this filtering happens before recursive instance search and does not take the recursive instances into account. Here's an example that currently fails:

[code]

However, simply swapping the definitions of `inst₁` and `inst₂` makes the instance search succeed.

One way to make Agda's behaviour more consistent

[2020-05-29 09:52] jespercockx commented on #4687
Note that instance search succeeds if we pass the implicit argument to `primCatMaybes`:
[code]

[2020-05-29 10:10] jespercockx commented on #4687
The two candidates are not considered to be equal, since their types are not equal: we have
[code]
and Agda does not instantiate metas during the equality check of the (types of) the candidates.

[2020-05-29 10:13] jespercockx commented on #4687
I wonder whether it is actually necessary to check that the types of the two candidates are equal. Should we not simply check that the two solutions are equal *at the type of the instance meta*?

[2020-05-29 10:42] jespercockx commented on #4687
Disabling the equality check on the types makes the test case go through. I do not see how disabling this check could cause any harm, since all candidates have *already* been checked to live at the right type. There could still be some unsolved constraints that appear for some candidates but not for others, but that is a separate issue (see #4688).

[2020-05-29 11:37] #4687 closed, assigned to jespercockx

[2020-05-29 11:54] EdNutting commented on #4513
I'll have a look

[2020-05-29 12:10] jespercockx commented on #4688
There is a similar problem with instances that still have unsolved constraints. Here's an example:
[code]
This produces an unsolved meta:
[code]
OTOH, swapping the definitions of the two instances causes the file to succeed.

[2020-05-29 12:13] EdNutting commented on #4513
@asr @L-TChen Out of interest, given there is a `stack` build for Windows, why do we want a `cabal` CI test too?

Seems like a waste of time and effort. As a Windows user, I stick to `stack` because `cabal` on Windows is even more of a nightmare than it is on Linux and `stack` is a solid wrapper for it. `stack` also uses `cabal` under the hood, so it seems pointless to duplicate the test? Unless t

[2020-05-29 12:20] asr commented on #4513
AFAIK, `stack` doesn't use `cabal-install` under the hood but the `Cabal` library. In addition, no every one uses `stack` including the majority of Agda developers.

[2020-05-29 12:45] EdNutting commented on #4513
It would be interesting to know first which Agda developers are using Windows - that's presumably already a small subset of the community? And of those, which are using Cabal vs Stack?

[2020-05-29 12:50] L-TChen commented on #4513
It is actually the right time to ask this question during AIM so that we can prepare the development environment better.

[2020-05-29 12:56] JacquesCarette commented on #4513
Do you mean developers who write in Haskell (and thus develop Agda-the-system), or developers who write in Agda itself?  I guess you mean the first?

BTW, I routinely use Mac and Windows and Linux. [I use cygwin on Windows, to keep the insanity to a reasonable level].  But I've got my hands full with doing Adga library work, I doubt I'll also dive in to the Haskell parts (even though one of my oth

[2020-05-29 13:08] jespercockx commented on #4688
(cross-posting this from the `std-lib` channel on Slack)
So I was discussing this issue with @UlfNorell and we've come to the conclusion that the feature of Agda that allows duplicate instances if they are definitionally equal is actually quite problematic. The way it is currently implemented is extremely brittle as the constraints you get depend on the order in which the instances are declared. T

[2020-05-29 13:10] EdNutting commented on #4513
Good question. This kind of testing is going to impact both developers and users of the Agda system, since it relates to whether installing and running Agda works on Windows. It would be good to know how relevant it is to both groups.

[2020-05-29 13:11] EdNutting commented on #4513
@L-TChen Would you like to raise the question on the Slack?

[2020-05-29 13:29] asr commented on #4513
I remembered we have a GitHub workflow for testing the installation of Agda in Windows with `stack`. What is missing is the installation with `cabal-install`.

[2020-05-29 13:32] jespercockx commented on #899
This is causing https://github.com/agda/agda/issues/4688

[2020-05-29 13:32] jespercockx commented on #4688
Original issue: https://github.com/agda/agda/issues/899

[2020-05-29 14:25] jespercockx commented on #4688
Completely removing the check for definitionally equal instances is also problematic. Here's an (somewhat artificial) example that requires this check:
[code]
When calling `convert`, there are two distinct instances of type `⊤` in scope: a global one imported from Agda.Builtin.Unit and a local one introduced by the type of `fromNat` (`fromNat : ∀ n → {{_ : Constraint n}} → A`).

[2020-05-29 16:40] jespercockx commented on #2151
We discussed this today at the Agda meeting and another thing that would be very useful would be to *change* the current representation of clauses to include the telescope of the clause, and include debruijn-indices in the pattern variables.

[2020-05-29 18:15] gallais commented on #4688
We have exactly this kind of instances in multiple places in the stdlib:

http://agda.github.io/agda-stdlib/Codata.Conat.Literals.html
http://agda.github.io/agda-stdlib/Data.Integer.Literals.html

[2020-05-29 21:20] jespercockx commented on #4688
Luckily in those cases the `convert` function does not actually require an instance of the unit type, so there is no problem. However, I encountered this problem when testing with the cubical library at https://github.com/agda/cubical/blob/c64922ab532dfcf8d7d69398ad11a5ca31e4b2ba/Cubical/Data/NatMinusTwo/Base.agda#L38-L41

[2020-05-29 22:13] EdNutting opened #4691 "[Github Actions] Installing wget is unnecessary on Windows"
The following installs are unnecessary steps - Windows runners already include MSYS2 which includes wget.

* Nightly: https://github.com/agda/agda/blob/c5a36ee4ef4780d0c2980a4e1a04355239c42f34/.github/workflows/nightly.yml#L112
* Stack: https://github.com/agda/agda/blob/c5a36ee4ef4780d0c2980a4e1a04355239c42f34/.github/workflows/stack.yml#L110

See https://github.com/actions/virtual-environments/bl

[2020-05-30 01:09] EdNutting commented on #4691
It may also be possible to eliminate the installation of haskell-stack, since stack is already included in the build. I'm not sure whether there's a concern about stack versions though?

[2020-05-30 02:07] EdNutting commented on #4691
I've got a draft of this latter point - which uses the latest Stack as per Github - on https://github.com/EdNutting/agda/tree/ci-windows-stack

However, for some reason `stack` rejects the `--flag Agda:enable-cluster-counting` option. I can't understand why stack behaves differently on Windows to Linux. This happens on my local machine too - Stack rejects the flag option for no apparent reason. ~~

[2020-05-30 02:19] EdNutting commented on #4691
It appears that placing the flag into the stack config works. So there's some kind of issue with specifying flags on the Windows / Powershell command line.

[2020-05-30 02:48] EdNutting commented on #4691
Okay, I think I figured out the cause and a hacky-fix. I don't understand Powershell too well but basically, when you call something like `stack build ${ARGS}` the command that actually gets issued is `stack build "the args"` - the extra double-quotes cause stack to treat everything as a single argument which it thinks is a package path, thus the confusing error message. If anyone knows how to sto

[2020-05-30 11:54] gallais opened #4696 "Add a debug mode printing the source file & position an error was raised from"
At the moment we get really good location with `__IMPOSSIBLE__` but are left
to our own devices when we encounter an unexpected error. My workflow usually
amounts to:

* grepping for the error message
* finding the corresponding error constructor
* grepping for the constructor
* identifying the source (among potentially many) of the error

We should be able to have a verbosity level for `error` te

[2020-05-30 12:56] nad opened #4697 "Transient internal error"
I have recently started encountering the following internal error:
[code]
With `-vimpossible:10` on I got a little more information:
[code]
So far the error has disappeared when I have restarted Agda.

[2020-05-30 21:05] WhatisRT opened #4698 "Add annotations for definitions generated by reflection"
Currently, there is no way of adding pragmas and other annotations (`private`, maybe more?) to definitions generated by reflection. @UlfNorell mentioned on the Slack channel that there are workarounds in some cases, but I think it would be good to be able to write any code that could be written by hand also by reflection (I don't know if there are other instances where this isn't possible yet).

I

[2020-05-31 07:06] UlfNorell commented on #4698
Can you give some examples of things you cannot do at the moment? You can already put `unquoteDecl`/`Def` in a `private` block if you want to make the definitions it introduces private. Same goes for pragmas I believe (i.e. put them before the block).

[2020-05-31 09:25] andreasabel commented on #4697
Can we maybe finally get rid of this `recCon-NOT-PRINTED` hack?

[2020-05-31 11:02] nad commented on #4684
Why did you close this issue? If code that typechecks without `--no-syntactic-equality` should also typecheck with this option, given enough time and space, then I have identified a bug.

[2020-05-31 11:35] jespercockx commented on #4684
I think @UlfNorell 's point was that since it's a likely duplicate, we do not need a separate issue for it. OTOH issue numbers are free, so I don't see the harm in leaving this open.

[2020-05-31 11:35] jespercockx commented on #4684
However, in order to actually fix this issue it would be useful to have a smaller example that still exhibits the problem.

[2020-05-31 12:10] WhatisRT commented on #4698
This works only if `unquoteDecl`/`Def` is used on a single name, so `unquoteDef a b = ...` can either make both `a` and `b` private or none of them.

[2020-06-01 07:13] jespercockx commented on #4688
Instead of removing the equality check entirely, we could still leave it enabled but ONLY run it if all candidates did not produce any unsolved metas or unsolved constraints. That would be enough to deal with the base cases of instance search while ruling out bad examples like in the OP.

Regarding irrelevant instance metas, I wonder if we should also apply this restriction or simply leave things

[2020-06-01 07:53] andreasabel commented on #4698
I think for `private` there are indeed proper workarounds, like putting `unquoteD...` in a module and then `open` this module `public` `using` only the names you want.

The proposal could be stronger by giving an example of what you actually cannot do at the moment.

[2020-06-01 08:16] jespercockx commented on #4698
What you cannot do at the moment is decide dynamically from inside the macro whether a definition should be `private` or not. The question is whether the is a sensible use case where this would be required.

[2020-06-01 10:33] EdNutting commented on #4513
@asr @L-TChen This is now implemented - see PR #4694

[2020-06-01 10:37] nad commented on #4513
Unless I'm mistaken @UlfNorell and @andreasabel use MacOS, while @jespercockx and I use Linux.

[2020-06-01 11:00] nad opened #4701 "A compiler for Cubical Agda programs where all cubical parts have been marked as erased"
Perhaps it is possible to compile Cubical Agda programs where all the cubical parts have been marked as erased.

I brought this up during the current Agda meeting, and someone (@txa?) suggested that it should be possible to do better. If I understood correctly the suggestion was that, in a setting without glue, it should be possible to erase all paths and transports (without marking them as erased

[2020-06-01 11:16] gallais opened #4702 "Regression in the termination checker"
This typechecks in 2.6.1 but is rejected with a termination error by current master

[code]

[2020-06-01 11:20] jespercockx commented on #4702
I guess this is related to the removal of automatic inlining (https://github.com/agda/agda/issues/4681)

[2020-06-01 11:39] gallais commented on #4702
Oh so `plus` was getting auto-inlined in the recursive call thus making the
anonymous pattern-matching lambda recursive? I did not think anonymous
lambdas could be recursive.

Edit: ah, no, my bad: `case_of_` is the one that needs inlining!

[2020-06-01 11:51] gallais commented on #4702
Is there any way we could look at the definitions used in the unhappy path
and advise users to introduce `{-# INLINE #-}` pragmas as a potential fix?

[2020-06-01 11:53] UlfNorell commented on #4698
Private is a bad example, since it's dealt with by the scope checker. Without a complete refactoring of scope checking (making it no longer separate form type checking), it's not possible to let tactics decide what should be `private` and not.

[2020-06-01 11:55] WhatisRT commented on #4698
Just reading from the list of pragmas from the documentation almost all of them that apply to definitions seem useful. For example, `COMPILE` and `FOREIGN` for automation regarding the FFI, `(NO)INLINE` and `STATIC` for finer control over performance characteristics (maybe that's useful for deriving instances), etc.

[2020-06-01 11:59] jespercockx commented on #4702
No, I think it is the function `case_of_` that was getting auto-inlined. So you'd need a pragma `{-# INLINE case_of_ #-}`.

[2020-06-01 12:00] UlfNorell commented on #4702
I suppose we could check if there are any problematic calls to functions that satisfy the auto-inline criterion...

[2020-06-01 12:42] andreasabel opened #4703 "The state interferes with printing expression(s)"
Stop the state from interfering with the printing (press)!

_Originally posted by @jespercockx in https://github.com/agda/agda/pull/4699#issuecomment-636828338_

[2020-06-01 13:40] UlfNorell commented on #4684
Issue numbers are free, but open issues does have an attention cost. Without a smaller test case that suggests this isn't a duplicate I see no point in keeping it open.

[2020-06-01 13:57] gallais opened #4704 "Case-split generates invalid code"
For some reason Agda does not bother generating a fresh name for `xs` in `xs ∷ʳ′ x`.

[code]

[code]

[2020-06-01 14:19] nad commented on #4684
The other issue does not mention `--syntactic-equality`, and is not a bug report but an enhancement request (from 2011).

We can close this issue if we decide that syntactic equality is not just an optimisation.

[2020-06-01 14:23] nad commented on #4234
During the Agda meeting today I showed the following piece of code:
[code]
It might be nice to introduce some kind of short-hand notation for this kind of thing. One idea:
[code]

[2020-06-01 14:31] gallais commented on #4234
Could you not use the combination of the elaboration of `lhs = record { ... }`
to copatterns + the definition of records via modules to achieve this?

Something like:

[code]

[2020-06-01 14:47] andreasabel commented on #4704
2.6.0 still produces the valid:
[code]
The release notes for 2.6.1 say:

Unfortunately, this does not lead me to a commit since `doc/release-notes/2.6.1.md` has no history.

[2020-06-01 14:55] andreasabel opened #4705 "Our handling of release notes loses history"
_Originally posted by @andreasabel in https://github.com/agda/agda/issues/4704#issuecomment-636901801_

@asr: We used to have a CHANGELOG.md file with everything in it.  This allowed to research its history with `git blame`.  Now we have individual files <version>.md, however, they have no history.  We should find a workflow that does not lose the editing history of the changelog file(s).

[2020-06-01 14:58] andreasabel commented on #4704
Because of #4705 there seems to be no direct way to trace this change back to the commits that introduced it.  There is also no issue number for this change linked in the release notes...

The issue would have been #2589.

[2020-06-01 15:01] nad commented on #4234
Maybe, if η-equality is enabled for the record type.

[2020-06-01 15:02] andreasabel commented on #2589
Could be cause of #4704.

[2020-06-01 15:06] andreasabel commented on #4704
This is a unfortunate side effect of restoring the ellipsis: the dot patterns get lost, thus, the original lhs does not get refined and keeps its original names, which then clash with the names in the patterns.

I think rather than modifying the fix of #2589, we should modify the somewhat naive handling of the ellipsis.  We should allow to shadow pattern variables which are covered by the ellipsis

[2020-06-01 15:22] jespercockx commented on #4704
What do you mean with "the somewhat naive handling of the ellipsis"? I agree that it should be allowed to shadow variables from the parent clause in the `with` clause, rather than assuming that one of them is a dot pattern (as Agda does now).

[2020-06-01 17:06] asr commented on #4513
The workflow is failing because https://github.com/agda/agda/issues/4543, so I'll comment out it until GHC 8.10.2 is released.

[2020-06-01 17:12] guillaumebrunerie commented on #4705
I think that the problem is that the renaming of `CHANGELOG.md` to `2.6.1.md` and the creation of a new `CHANGELOG.md` was made in the same commit, which confused git (git assumed that `CHANGELOG.md` had simply been modified and `2.6.1.md` was a new file created from scratch). It should be easy to avoid this issue in the future by splitting those operations in two different commits (first rename,

[2020-06-01 17:44] EdNutting commented on #4513
Odd that it was passing on the PR when I submitted it!

[2020-06-01 18:11] andreasabel commented on #4704
Exactly that.

The naive handling of ellipses is that we literally replace them by the parent clause lhs in the nicifier.  We have more leeway if we let them survive until scope checking.  Then we can create shadowed abstract names for the names stemming from the ellipsis that are shadowed by the pattern variables.

[2020-06-01 18:24] asr commented on #4513
IIRC, you had the same behaviour in the first version of the PR. The issue is not completely deterministic, but it was fixed in GHC master and will'be fixed in GHC 8.10.2.

[2020-06-01 21:16] andreasabel commented on #4704
I propose to fix it like this:
* Ellipses survive the nicifier that only attaches their resolution, but does not replace them.
* The scope checker processes `AppP` right to left so that ellipses are processed last.  This means that all the with-pattern variables are in scope when we come to the ellipsis.
* While checking the ellipsis, we replace shadowed pattern variables by fresh abstract names w

[2020-06-02 01:28] endobson opened #4706 "Internal error in TypeChecking/Records.hs"
I got the following error message:

[code]

I don't have a minimized reproduction

But the following seemed to be the issue

[code]

If I change this to
[code]

the error goes away. So the two 's1's in the pattern seem to be the cause.

[2020-06-02 06:35] jespercockx commented on #4704
We already keep all the information from ellipsis in the current representation, so there is no need to preserve it any further. In particular, after my fix of #2589, there is a `lhsExpandedEllipsis` field that remembers how many of the patterns were created by expansion of an ellipsis (if any). This is preserved in the abstract and internal syntax through the `LHSInfo` of the clause.

To handle t

[2020-06-02 09:11] gallais opened #4707 "Just warn when `using` directive has repetitions"
It's raised in Agda.Syntax.Scope.Monad (line 745 at the moment)

[code]

should not fail: it should emit a warning & highlight the second zero as dead code.

[2020-06-02 09:14] pnlph opened #4708 "Ambiguous module name when the file has the same name as the library's module"
I have a project with a folder named `reflection`. How can I specify that I want to refer to the `Agda.Builtin.Reflection`module?
[code]

Throws this error:
[code]

[2020-06-02 09:36] pnlph commented on #4708
I think that the clash is not because the name of the folder, but because of the name of the file itself. This means that one cannot name a file with the same name as a library's module?

[2020-06-02 09:39] guillaumebrunerie commented on #4708
Could you give a self-contained example? I tried to create a file called `reflection.agda` with the two lines you gave above and it loads correctly for me.

[2020-06-02 09:47] pnlph commented on #4708
That was self-contained, I thought... 😅

I have also the `agda-stdlib` in my `.agda-lib` file.

[2020-06-02 09:52] gallais commented on #4708
What's your OS? Is it another instance of macOS being confusing because its
file system is case insensitive?

[2020-06-02 09:55] guillaumebrunerie commented on #4708
Oh, good point, I can reproduce it now (on Linux) by calling the file and the module `Reflection`.

[2020-06-02 09:56] pnlph commented on #4708
High Sierra

[2020-06-02 10:01] guillaumebrunerie commented on #4708
Which part of the code is highlighted with the error? Do you also get the error if you have only the first line `module reflection where`? Or even just with an empty `reflection.agda` file?

[2020-06-02 10:08] guillaumebrunerie commented on #4708
If you have the standard library loaded by default, that means you have a `Reflection` module already available (try `import Reflection` in a brand new file somewhere else and it should work). So it is not especially surprising that Agda forbids you to create a new file with the same name, because then there would be no way for you to import your `Reflection` module from a different file. Of cours

[2020-06-02 10:10] pnlph commented on #4708
Row 1 and columns 8-18 are highlighted for me. That corresponds to the name `reflection` of the module.

Yes.

Yes.

[2020-06-02 10:29] pnlph commented on #4708
Thanks! I think that now I get it, but then we have two problems when a library, e.g. `agda-stdlib`, is loaded:

First, the case-insensitivity of my OS does not allow me to have a `reflection` module. I think this has to do with #4678.

Second, even if it works, I cannot define a module `Reflection` _and_ load the `agda-stdlib`. But for me it is indeed surprising, because I expect that some kind o

[2020-06-02 10:35] guillaumebrunerie commented on #4708
I think that #4029 is the relevant issue here (for the second problem).

[2020-06-02 11:25] gallais commented on #4708
Oh if you're loading the stdlib then it makes a lot of sense: the library
is already defining such a module: http://agda.github.io/agda-stdlib/Reflection.html

[2020-06-02 11:39] pnlph commented on #4708
But the user may want to load the `agda-stdlib` file _and_ define an own `Reflection`module.

[2020-06-02 12:03] pnlph commented on #4029
Sorry for the long answer. I stumbled upon this thread from #4708

I second the solution of adding prefixes to module trees in the project `.agda-lib` file:
[code]

However, I also think that the standard libraries (at least the ones who live in the agda community) should be reserved, eg. `Agda`, `Standard`, `Cubical`.

Maybe it would be useful to think about what the end-user should code (a kind

[2020-06-02 13:03] andreasabel commented on #4706
Looks like #4631.  Do you get the error also on the development version (latest master from github).

[2020-06-02 13:05] andreasabel commented on #4707
Relevant piece of code:
https://github.com/agda/agda/blob/5fef51422de811b2cd4bcfd1e937636e0b3d01eb/src/full/Agda/Syntax/Scope/Monad.hs#L742-L745

[2020-06-02 13:08] andreasabel commented on #4708
Did it really say this?

The first alternative does not mention "reflection".

[2020-06-02 13:09] guillaumebrunerie commented on #4029
I don’t see any reason for having reserved words. What if you want to call one of your files `standard.agda`? And how is `open import Standard.Reflection` better than `open import std-lib:Reflection`?

[2020-06-02 13:21] andreasabel commented on #4704
Yes, maybe this would be sufficient.  In general, I do not like the collapsing of structures to numbers in auxiliary fields.  I would like the structure of the AST represent the structure directly.  This is why I turned `EllipsisP` into a parenthesis around the expanded ellipsis.  This is easier to understand.  Further, I equipped the `LHSWith` constructor of `LHSCore` with a flag whether the core

[2020-06-02 13:40] pnlph commented on #4029
You are right. The connection between `standard-library` and `std-lib` is renamed in the `agda-lib` file, and therefore is invisible for the reader; it could have also been renamed as `pinky`. If so, the declaration `open import pinky:Reflection` only makes sense when you know what `pinky` means, but a reader has no chance of knowing that by just looking at the code.

Maybe there should be a way f

[2020-06-02 13:44] pnlph commented on #4708
No, sorry 🤦 I updated the original error above.

[2020-06-02 13:58] pnlph commented on #4029
I also think that a user should be able to call a file `standard.agda`, but when importing it from another file, maybe one should use something like:
[code]
or
[code]
I mean, anything that makes clear that it is a module defined "locally".

[2020-06-02 14:15] WhatisRT commented on #4698
To give a more concrete example, if it were possible to generate `COMPILE` and `FOREIGN` pragmas, it should be possible to build a wrapper that uses both the Agda and Haskell FFIs to provide a C FFI that just needs the name of a C function and a type signature. Something like
[code]

[2020-06-02 14:40] guillaumebrunerie opened #4710 "Regression in instance search due to normalization"
Some code of mine uses a lot more memory since #4531 was merged. Unfortunately, I haven’t been able to minimize it and the code is somewhat complicated, but I can try to explain a bit what is going on. The code is available at https://github.com/guillaumebrunerie/general-type-theories/tree/debug-instance-arguments, and I’m going to be looking at the file `examples.agda`.

The code is using instanc

[2020-06-02 14:54] UlfNorell commented on #4698
This should be reasonably straightforward to do. `COMPILE` and `FOREIGN` pragmas are really just strings and they are processed by the corresponding backend.

[2020-06-02 16:43] andreasabel opened #4711 "Kölnisch Wasser"
Eau de Cologne
https://upload.wikimedia.org/wikipedia/en/3/3a/4711_Eau_de_Cologne_%28logo%29.jpg

[2020-06-02 16:46] #4706 closed, assigned to nobody

[2020-06-02 16:50] andreasabel commented on #4708
Currently you cannot locally overwrite a module from a library.  If you have module `X.Y.Z` in one of your dependencies (field `depend:` in your local `.agda-lib` file), you cannot have a module `X/Y/Z` in you local development (field `include:` in your local `.agda-lib`file).

[2020-06-02 16:50] #4708 closed, assigned to nobody

[2020-06-02 17:08] andreasabel opened #4712 "Operator parser: debug printing grammar outputs nothing"
@nad: The debug printing for grammars seems to produce nothing:
https://github.com/agda/agda/blob/d63b57a5db23654cb9ae5b95ff221d8b57020910/src/full/Agda/Syntax/Concrete/Operators.hs#L402-L403
This just prints:
[code]

This should be fixed or removed, I suppose.

[2020-06-02 17:35] andreasabel opened #4713 "Do we need to print all 3ˆn ambiguous parses?"
My Agda Busy Beaver candidate (shortest code with longest time to error):
[code]
The pattern `c ... c x d ... d` is ambiguous.  For the first line, Agda prints 3 possible parsers.
For the commented out line, Agda prints 3ˆ10 ~ 60000 possible parses.

I think we should truncate the list after 10 possible parses.

Also, I don't think we need to compute all these parses eagerly.
https://github.com/ag

[2020-06-02 18:05] andreasabel commented on #4712
Ah, I suppose if one compiles Agda with `DEBUG` then one gets something here.  Worth documenting in a comment.

[2020-06-02 18:05] pnlph opened #4714 "error when computing primQNameToWord64s of a Name"
`C-c C-n primQNameToWord64s (quote _≡_) RET` computes `12 , 1335258922519917603` but the following self-contained code fails:
[code]
with error:
[code]

[2020-06-02 18:13] pnlph commented on #4713
I tested the long example.

I can only say that this warning you found is beautiful. If someone wants to use it, it will probably be intentionally. 👨‍🎨

[2020-06-02 18:40] gallais commented on #4714
The type error is legitimate: you are trying to compare ~~apples to oranges~~
words to natural numbers.

You can make it go away by converting the natural literals to words:

[code]

[2020-06-02 18:49] pnlph commented on #4714
Thanks!

But why is not the result of the `C-c C-n` something like `Agda.Builtin.Word.primWord64FromNat 12 , Agda.Builtin.Word.primWord64FromNat 1335258922519917603`?

[2020-06-02 19:02] pnlph commented on #4714
I think I know now, the result of `C-c C-l primWord64FromNat 12 RET` is `12`.

But how can `12` be the same value of the normal form for both the natural and the word?

[2020-06-02 19:45] gallais commented on #4714
Well... Technically you could use [`FromNat`](http://agda.github.io/agda-stdlib/Agda.Builtin.FromNat.html) to make it work? :angel:

Should we print overloaded literals using the associated `primXXX` function?

[2020-06-02 20:41] guillaumebrunerie commented on #4714
Indeed, there seems to be an inconsistency in the way words are printed and parsed.
Another alternative would be to use `FromNat` in the `Agda.Builtin` modules, so that `12` can be parsed both as a natural number and as a word by default, but I’m not sure if that’s a good idea.

[2020-06-03 06:30] andreasabel commented on #4713
Yes, one can use the Agda parser as a tree enumerator.

[2020-06-03 06:47] andreasabel commented on #4691
I suppose this issue is still open as I only merged one PR.  The semantics of linking several PRs to one issue seems to be disjunctive rather than conjunctive.

[2020-06-03 07:01] andreasabel commented on #4491
Are the new builtins and primitive documented? CHANGELOG and user manual?
(I didn't see it in the 3 patches linked here.)

[2020-06-03 07:03] pnlph commented on #4714
Let's take the raw definition of the natural numbers:
[code]
Here, we can evaluate a natural but only in a form that includes `zero` and `suc` to the same representation. In particular, we cannot evaluate any decimal representation eg. `3`. With this definition, `3` has no meaning, it is unknown to Agda.

If we want that Agda knows `3`, we need to add this:
[code]
Then, any decimal (or hexadecimal

[2020-06-03 07:18] gallais commented on #4714
I get `5`.

Test file:

[code]

`C-c C-n five RET`

[2020-06-03 07:19] andreasabel commented on #4714
Internally, there are two representations: via constructors (`zero-suc`) and literal (represented as `Integer` and printed decimally).  Literals are expanded to constructors e.g. for pattern matching, but constructors are not systematically folded (back) to literals.  This gives the behavior you observe.  Hexadecimal representation is only parsed, never printed.

To print a hexadecimal literal bac

[2020-06-03 07:26] pnlph commented on #4714
I tested with this code to get it:
[code]
Then `suc (suc (suc (suc (suc zero))))` computes to `suc (suc (suc (suc (suc zero))))` and `5` computes to `5`.

[2020-06-03 07:52] #4712 closed, assigned to andreasabel

[2020-06-03 07:59] gallais commented on #4714
Because you haven't bound it to a BUILTIN.

`suc (suc (suc (suc (suc zero))))` is a term in your *local* `Nat` but `5` is
a term in `Agda.Builtin.Nat`'s `Nat` that is implicitly in scope because you
have imported `Agda.Builtin.Word`.

[2020-06-03 08:21] pnlph commented on #4714
Yes, you are right! In that example, this code:
[code]
does not typecheck because my local type is different from the builtin type:
[code]
But I _explicitly_ imported with `using` 😲
Somehow, even when importing with `using`, my scope is implicitly built in a way I cannot tame.

[2020-06-03 08:25] gallais commented on #4714
Even if you cannot write these terms down, the types & constructors need to be
in scope because in general the machine may need to "write" such terms when
solving unification problems.

Think of e.g. calling `toList : Vec A n -> List A` on `"a" :: "b" :: []` having
only imported `Data.Vec` and `Data.String`: Agda still needs to be able to write
the implicit argument `2` of type `Nat` that is passe

[2020-06-03 09:08] pnlph commented on #4714
OK, I see, thank you for the thorough explanation.

But still when trying to compute `Agda.Builtin.Nat.Nat` in the example above, Agda says that it is not in scope. Maybe we could at least change that error to a warning that explains that it is not in scope but, it is implicitly in scope because of an imported item?

I mean, I am still confused about getting an error when `C-c C-c Agda.Builtin.Nat

[2020-06-03 09:46] andreasabel opened #4715 "Stop reinstalling fix-whitespace for make test"
Now since fix-whitespace is an independent executable and likely not to be changed---changes go to the `fix-whitespace.yaml` file---, we should not need to recompile it upon every invocation of `make test`.

[2020-06-03 09:56] andreasabel commented on #4714
It used to be that out-of-scope identifiers like `Agda.Builtin.Nat.Nat` were printed with a `.` prefix: `.Agda.Builtin.Nat.Nat`.  Some people didn't like this.  I changed this prefix to `;` to avoid clashing with dot patterns and irrelevance.  Some didn't like this either.  Agreeably, it looked very ugly.

Not marking not-in-scope identifiers seems also confusing (ping @jespercockx).

[2020-06-03 10:03] #3874 closed, assigned to pnlph

[2020-06-03 10:32] jespercockx commented on #4714
I'm not really sure what's confusing here; you get a clear error that says the thing is not in scope, so you know what module you have to import to bring it into scope.

The only thing that could make things perhaps more intuitive would be to implicitly import all recursive dependencies under their fully qualified name. However, I' not sure if we actually want module names to be in scope without t

[2020-06-03 12:51] pnlph commented on #4714
At the end, and if I understood well, what is confusing for me is the fact that there seems to be a "user scope" and an "Agda scope".

Agda uses the "Agda scope" to compute things, and the user is _implicitly_ building it by importing things, but only being able to act explicitly on the "user scope". The result of some computation may be out of the "user scope". Therefore the result of a computati

[2020-06-03 12:51] EdNutting opened #4717 "[github-actions] Powershell arguments should be generated using matrix/environment variables"
As per the note here:

https://github.com/agda/agda/blob/699ee51fb22104ebf2a4f4f29c8a088c1f845b1c/.github/workflows/stack.yml#L114

The issue also exists in nightly.yml

The arguments ideally should be generated from environment/matrix variables, but I don't understand the behaviour of Powershell well enough to make it work.

Introduced in #4695

[2020-06-03 14:24] mouse07410 opened #4718 "Current master fails to install - Emacs compile fails"
MacOS Catalina 10.15.5, Xcode-11.5, GHC-8.8.3, Cabal-3.2.0.0.

[code]

[2020-06-03 14:25] gallais commented on #4718
Is this #4610?

[2020-06-03 14:37] mouse07410 commented on #4718
Yeah, looks like that.

[code]

[2020-06-03 14:38] mouse07410 commented on #4610
GNU Emacs 27.0.91 (Mac) installed via Macports. Same error as shown above.

[2020-06-03 14:51] #4718 closed, assigned to nobody

[2020-06-03 14:58] jespercockx opened #4720 "Record expressions do not respect renaming of fields"
I'm getting some very weird behaviour related to field names in record expressions:
[code]
The first definition works, despite `fst` and `snd` not being in scope. The second definition raises a warning:
[code]

[2020-06-03 15:03] fsestini opened #4721 "de Bruijn index out of scope when using rewriting"
Hi all,

I'm having a hard time making Agda accept my rewriting rules without crashing.

Below is an attempt to distill an example as minimal as possible of the problem I'm having, based on the actual codebase I'm working on. The idea is to have two notions of equality, `Eq` and `HEq`, respectively homogeneous and heterogeneous. I also want the latter to rewrite into the former when underlying `Eq

[2020-06-03 17:58] andreasabel opened #4723 "Since 2.5.4, Agda parses ordinary patterns after ellipsis"
Until 2.5.3, this was a parse error:
[code]
From 2.5.4, Agda complains about unreachable clauses `f x = x`.

I don't think we intended to accept this syntactically.  It never makes sense semantically (can at most be an unreachable clause).

Likely, I introduced this bug with my refactoring work for #2822.

[2020-06-03 18:06] andreasabel commented on #1820
See #4704.  I am finally fixing the OP in #4709.

[2020-06-03 19:27] andreasabel commented on #4721
This is a recent regression, it checks fine in 2.5.x and 2.6.0.

[2020-06-03 20:02] andreasabel commented on #4720
Record labels bypass the scope.  They are simply concrete names.
https://github.com/agda/agda/blob/d1cc9f32e7e5e4ee25cc7e66dd7304ed31659087/src/full/Agda/Syntax/Abstract.hs#L28
https://github.com/agda/agda/blob/d1cc9f32e7e5e4ee25cc7e66dd7304ed31659087/src/full/Agda/Syntax/Abstract.hs#L104-L105
https://github.com/agda/agda/blob/d1cc9f32e7e5e4ee25cc7e66dd7304ed31659087/src/full/Agda/Syntax/Abstract.

[2020-06-03 20:05] andreasabel commented on #4720
MWE:
[code]

[2020-06-03 20:43] jespercockx commented on #4720
You may consider me suitably horrified.

[2020-06-04 09:09] andreasabel opened #4724 "Faulty reconstruction of ellipsis in debug printing"
@jespercockx
[code]
With 2.6.0 (before the fix of #2589) this printed:
[code]
With 2.6.1 this prints:
[code]
Too much of the lhs (the whole lhs) is gobbled up in the ellipsis.

It is very hard now to see what is going on.

I wonder how safe the ellipsis reconstruction is; does it check the conditions under which it applies correctly?

[2020-06-04 09:59] nad commented on #4701
I discussed this with @Saizan. He suggested that, in the absence of glue, we could compile the interval to the unit type, and paths to functions from the unit type.

I don't think we should have yet another variant of Agda (with glue marked as erased). However, we could have a simple analysis that keeps track of which expressions use glue in non-erased contexts, and then refuse to compile `main` i

[2020-06-04 10:12] jespercockx commented on #4724
The ellipsis reconstruction works by remembering how many of the vertical bars `|` were introduced by the expansion of the `...`. I'm not sure why the number seems to be wrong here. Maybe there is a problem in the `isWithP` function that is used to detect the vertical bars?

[2020-06-04 10:50] nad opened #4725 "Cubical Agda: Program rejected by termination checker due to moved dot pattern"
This code is not accepted:
[code]
Agda seems to move the dot pattern from the `r` constructor to the `d` constructor, and because the underscore on the last line is inferred to be `fst′ (x , r₁)` rather than `x` the code is rejected (after @Saizan's fix of #4606).

Can we do better?
* Moving the dot patterns in this way could be confusing to the programmer. If an explicit dot pattern is moved, the

[2020-06-04 12:17] andreasabel commented on #4724
The code for `reintroduceEllipsis` seems to preserve only `WithP`s.
https://github.com/agda/agda/blob/68a270bbab084d971db550f3065bfd9c6111da68/src/full/Agda/Syntax/Concrete/Pattern.hs#L351-L364
But in the with-function `Issue4704a.with-22 n1 n2 n = n2` these are no longer `WithP`s.  Thus, `reintroduceEllipsis` gobbles all.  A machine spinning out of control (a popular movie theme).

[2020-06-04 13:16] jespercockx commented on #4725
The dot patterns are not actually moved, instead Agda tries to reconstruct the LHS from scratch using iterated case splitting. If after this case splitting there is still some discrepancy, these are registered in the origin of the internal patterns by the code in https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/LHS.hs#L443-L462. One could conceivably emit a warning here if

[2020-06-04 13:30] jespercockx commented on #4725
Ah, I understand what's the problem now. When Agda does the case split on the constructor `r`, it has not yet performed the case split on the pair in the argument of `d`, so the argument of `d` is still just a variable. Since the unifier sees a variable being compared to a non-variable, the priorities are not taken into account and the variable is just solved. We could instead try to eta-expand th

[2020-06-04 14:59] nad commented on #4725
I encountered this problem (but without any explicit dot patterns) in my code, and once I had understood its cause it was easy to fix it. However, the output of `-vterm:20` is not very easy to read, and it is not easy to discover this option.

[2020-06-04 15:07] nad opened #4727 "Meta-variable solutions contain subterms with the wrong modality"
This problem was discovered by @Saizan.

The following code is accepted:
[code]
The last two meta-variables are solved. However, the solutions include `_≃ᴱ_.equivalence`, which is erased:
[code]

[2020-06-04 15:08] tomdjong commented on #1625
I experimented with @Saizan's `--experimental-lossy-unification` and it works wonderfully for me. Before this flag, my code was pretty slow and when I tried to continue my development it simply became too slow for me to do anything. With the flag, I've been happily writing new proofs and continuing the development without any problems, so I'm very happy with it!

Specifically, I experimented with

[2020-06-04 15:52] andreasabel commented on #4720
For my MWE, what is going on in the scope?
1. We have the record module `R`:
[code]
2. We open it, this gives a new projection name in scope
[code]
3. Then we build `record { new = Set } : R`.

The question is how we should handle the record labels, here `old` and `new`.

If we want this renaming of labels feature, we could not continue our feature that the record labels need not be in scope to co

[2020-06-04 19:20] EdNutting commented on #4691
This issue was resolved with the merge of #4695

[2020-06-04 19:20] #4691 closed, assigned to nobody

[2020-06-04 19:28] andreasabel commented on #4547
I am now making `RawApp[P]` hold a `List2`, list of at least 2 elements.  This removes many annoying corner cases of singleton `RawApp`s.

[2020-06-04 21:27] gallais opened #4729 "Duplicate actions run"
It looks like we have a special rule for branches named `issueN` and for PRs.
Unfortunately the builds seem to run more than once if more than one condition
is met.

Cf. #4719 for instance where every action is run twice, once with `(push)` and
once with `(pull_request)` as the justification. This leads to running 26 tests
instead of the 13 intended.

[2020-06-04 22:53] EdNutting commented on #4729
I don't think there's anything special about `issueN` branches. At the moment, the builds are configured to run on a push to any branch that touches files within `src/` and a few other select files. They will also run on any pull request that touch the same set of files.

So when somebody pushes their issue branch, the CI runs. If they then decide to submit a PR, an entirely independent set of CI

[2020-06-04 22:58] EdNutting commented on #4729
(To be a little more technically accurate: While it would _technically_ be possible to create a hacked mechanism to effectively cancel `push` runs when `pull_request` ones occur or when a `pull_request` run already exists, it would be exceedingly brittle and, as I said, hacked. I don't recommend it at all, based on having read the documentation for Github Actions over the last couple of weeks. I m

[2020-06-04 23:05] EdNutting commented on #4665
Can I suggest using the CI system as documentation for this? The commands in the stack.yaml file now cover all platforms and will (nearly) always work at any given point in time. In contrast, documentation written separately is likely to go out of date.

The documentation would still need a note on dependencies / installing dependencies.

This also relates to #4672 - Add Agda to Stackage

[2020-06-04 23:16] EdNutting commented on #4145
Is it possible to print error messages above goals, and warnings below goals - as a compromise? Given that errors are critical (in my experience, they prevent any other development until resolved).

[2020-06-05 06:29] #4696 closed, assigned to gallais

[2020-06-05 06:31] gallais commented on #4729
Every time I pushed to the branch in the PR, all 26 tests would be re-run.
It was not just a one-time matter following the creation of the PR.

[2020-06-05 08:07] jespercockx commented on #3831
Do we *really* need a test case that refers to a specific line in the Agda source code? It changes with practically every major commit, which makes it very hard to avoid conflicts when people are working on multiple branches at the same time.

[2020-06-05 09:23] UlfNorell commented on #3831
Indeed it should _not_ report the position. The correct fix is to check the debruijn indices explicitly (rather than strengthen blindly), and issue a proper type error if they're bad.

[2020-06-05 09:29] EdNutting commented on #4729
Yes, this is expected behaviour. The push triggers the push event which triggers the first batch of tests. The new commits cause the PR to be updated which thus triggers a pull request event. The pull request event is triggered for creation and for update to the PR branch. My proposal would avoid the unnecessary triggers for branch pushes.

[2020-06-05 10:07] nad commented on #1625
Note that, while `--experimental-lossy-unification` is faster in these cases, it could lead to unexpected behaviour if Agda instantiates a meta-variable with a solution that is not definitionally equal to the one you had in mind. I think Coq uses something like `--experimental-lossy-unification`, and Ziliani and Sozeau [argue](https://doi.org/10.1017/S0956796817000028) that this is more in line wi

[2020-06-05 10:08] nad commented on #1625
If we keep the new flag, then it should be documented in the manual and in the changelog.

[2020-06-05 10:16] nad opened #4730 "Change the default directory for compiler output?"
Perhaps it makes sense to change the default for `--compile-dir` to `_build/`*Agda version*`/`*compiler flavour*, or something like that.

[2020-06-05 10:37] EdNutting opened #4732 "[github-actions] Ubuntu Nightly builds are crashing"
See https://github.com/agda/agda/runs/741822713

Error log:

[code]

It is unclear to me why this would suddenly be failing.

[2020-06-05 10:37] EdNutting commented on #4732
@L-TChen

[2020-06-05 10:38] gallais commented on #4729
Oh I see, I had misunderstood your comment. Thanks for the clarification
(and the PR). I am systematically opening PRs so I am happy with the
proposed new behaviour but I'll let others who may have a different workflow
comment.

[2020-06-05 11:11] nad opened #4733 "Do not compile unreachable code"
I think we should add a flag `--omit-unreachable-code`, which makes the backends omit code that cannot be reached from `main`. This is incompatible with separate compilation, but I imagine that it can sometimes speed up compilation drastically, and one could imagine restricting the effect of the flag to the current package.

Note that when this flag is used a module might have to be recompiled eve

[2020-06-05 11:15] nad commented on #4638
Now we have a first prototype that "works". I think we should consider the following improvements:
* Fix #4727.
* Add `--omit-unreachable-code` (#4733).
* Refuse to compile the program if any code reachable from `main` uses unsupported features (if we are not in `--safe` mode we could emit a warning). Note that GHC currently complains when compiling a pattern involving a higher constructor.

[2020-06-05 12:08] jespercockx opened #4734 "`primShowQName` prints internal representation of the name"
Consider the following program:

[code]

I would expect that normalizing `test` would return the string `"Nat"` (or perhaps `"Agda.Builtin.Nat.Nat"`). Instead, I get the following monstrosity:

[code]

[2020-06-05 13:09] UlfNorell commented on #4733
It would require a non-trivial refactoring of the compilation pipe-line to allow whole-program compilation.

[2020-06-05 13:10] UlfNorell commented on #4734
Mostly likely this is a victim of @andreasabel quest to liberate the `show` function.

[2020-06-05 13:28] andreasabel commented on #4729
When I activated the (back then, travis) ci for `issueNNNN` branches, it was exactly because I wanted ci to run without opening a PR.  I am often fixing trivial issues which do need discussion/review, thus I do not want to open a PR.  (Also, it is a further manual interaction with github I can skip when not opening a PR.)

I think it is fine to have branches that are ci-checked.  I am not married

[2020-06-05 13:31] UlfNorell commented on #4729
Is is possible to access the tags of a PR when deciding to run CI? It would be amazing if CI wouldn't run on branches marked `wip`.

[2020-06-05 13:38] EdNutting commented on #4729
Okay, I'll work on the following then (I'm not touching Travis - only Github Actions. I can look at Travis in future):

Github CI to:

1. Not run on `issueXXXX` branches
2. Run on `ci-issueXXXX` branches
3. Run on all PRs
4. Fast-abort operations if the PR is tagged with `wip`

In the case that a `ci-` branch is turned into a PR, it is easiest to just push a new non-ci branch (it's trivial to bran

[2020-06-05 14:59] andreasabel commented on #4734
Most likely yes (#1293).  But most likely there was no test case preventing this...

[2020-06-05 15:06] UlfNorell commented on #4734
Indeed. I cast no aspersions on your noble quest.

[2020-06-05 15:56] andreasabel commented on #4734
I thought I had fixed this everywhere:
https://github.com/agda/agda/blob/30afb806f1aaf6dc5dd67be7cffe612aa16b79e2/src/full/Agda/Syntax/Literal.hs#L38
https://github.com/agda/agda/blob/30afb806f1aaf6dc5dd67be7cffe612aa16b79e2/src/full/Agda/Syntax/Abstract/Name.hs#L388-L389
https://github.com/agda/agda/blob/30afb806f1aaf6dc5dd67be7cffe612aa16b79e2/src/full/Agda/TypeChecking/Quote.hs#L164-L165
https:

[2020-06-05 16:22] andreasabel opened #4735 "primShowQName creates not-in-scope names"
My silly counter to #4734:
[code]
All the way through 2.5.1.1 - 2.6.1 `primShowQName` shows a somewhat meaningless qualified name `Agda.Builtin.Nat.Nombre`. I suppose it should show a valid qualified name instead.

[2020-06-05 16:43] martinescardo commented on #3623
I am getting two problems with this version of Agda:

* Some functions now fail termination checking.
* I get Set i is not less or equal than Set j.

Has the universe checking specification changed? My definition seems fine to me (and is accepted by Agda 2.6.1).

[2020-06-05 16:47] gallais commented on #3623
You may try to add `--auto-inline` or strategically deploy `{-# INLINE #-}`
pragmas following #4685.

[2020-06-05 16:58] martinescardo commented on #3623
I wrote this comment in the wrong issue by mistake. It was supposed to be in the issue about experimental-lossy-unification, following up from Tom de Jong's comments.

[2020-06-05 16:58] martinescardo commented on #3623
Sorry.

[2020-06-05 17:05] #3623 closed, assigned to nobody

[2020-06-05 18:03] EdNutting commented on #4729
~It turns out there was a significant misunderstanding.~

~Pull requests do not trigger CI runs (again, I don't know about Travis, I'm only talking about Github Actions). CI runs are linked to commits.~

~So:
A) If you create an `issueNNN` branch, and then push commits to it, Github CI will run against those commits. If you also create a PR, the PR simply refers to the CI runs of the related commi

[2020-06-05 19:29] andreasabel commented on #2169
Is it important that float 0 prints as 0.0, not just 0?  More generally, speaks anything against printing nnnn.0 as just nnnn?

[2020-06-05 19:45] JacquesCarette commented on #2169
It's important in that it tells you that you're playing with fire, something 0 doesn't signify. Because IEEE arithmetic is unsound, it's good to relentlessly signal that you're playing with floats.

[2020-06-05 20:04] andreasabel commented on #4733
I promise to implement this feature for MALonzo once GHC has it.

[2020-06-05 20:10] andreasabel commented on #4721
@fsestini You could try to find the offending commit using agda-bisect.
https://github.com/agda/agda/blob/master/HACKING.md#finding-the-commit-that-introduced-a-regression

[2020-06-05 20:48] Saizan commented on #4727
I have reduced the test case a bit.
[code]

The most puzzling part is that if we give `{Q = Q}` to `Σ-cong` then the underscores are not solved.

[2020-06-06 06:34] L-TChen commented on #4732
Oddly enough, this behaviour was only trigged yesterday. I am closing this unless it happens regularly. I suspect this is a GHC (or GitHub, it’s hard to tell) bug which causes some non-deterministic misbehaviour.

[2020-06-06 06:34] #4732 closed, assigned to nobody

[2020-06-06 07:11] #4734 closed, assigned to andreasabel

[2020-06-06 07:38] andreasabel commented on #4707
Actually, it is a _parse error_:
[code]
This seems a relic from pre-enlightenment age when we thought that the parser would be a good place to ensure well-formedness conditions.
https://github.com/agda/agda/blob/06172256d1fc3668e35b694c696210f65987ad8c/src/full/Agda/Syntax/Parser/Parser.y#L2079-L2082
After removing the check in the parser, we end up at the place in Scope.Monad I thought we would e

[2020-06-06 08:04] andreasabel commented on #4707
The question is what to do in more complicated situations such as:
[code]
The parser already mangles these multiple `using` and `renaming` directives into single ones.  Further, it is not structurally visible in which order these directives came.  We could reconstruct the order of individual imports of `zero` by the range, though.

However, it is still unclear what you want `zero` to be bound to.

[2020-06-06 08:13] andreasabel commented on #4707
A simple fix of the OP would to just ignore duplicates in `using` (with a warning), and retain the error in more complicated situations.

[2020-06-06 08:46] jespercockx commented on #4707
I have a strong opinion that this code should raise an error of some kind. More generally, I do not see a use case for allowing more than one `renaming` or `using` or `hiding` clause for a single `open`.

[2020-06-06 08:49] gallais commented on #4707
The only use-case I could see is someone really attached to the idea of listing
imports alphabetically.

[2020-06-06 09:09] andreasabel commented on #4707
I am only fixing the OP now, duplicates in `using`.  Thus, my convoluted example will continue to raise an error.

It allows the user to organize these listings according to their own aesthetics/logics.  Not sure how common this is, though.  (I personally have not used this feature as far as I remember.)

However, it has been allowed since the beginning and unless we have a strong reason, we shoul

[2020-06-06 09:24] andreasabel commented on #4707
Removing the check in the parser forces me to revisit #3331.  This is forbidden by the parser (`verifyImportDirective`) at the moment:
[code]
It is not hard to bring this check back into the scope checker.  Maybe I should just do it for separation of concerns.  Although it is not entirely clear to me why we forbid this.

P.S.: The Great Ulf Himself added the check back in the dawn of time (5ba14b6

[2020-06-06 10:50] andreasabel commented on #4707
Fixed the OP.  I tried hard to preserve archeological artifacts, preserved most of the code of `verifyImportDirective`. 😉

[2020-06-06 11:26] xekoukou commented on #4733
Does the amount of time it takes matter? I believe it does not.

If on the other hand you want to have 10s of thousands of unikernels in one machine, then RAM becomes the bottleneck and this feature is useful, but not for the haskell backend.

[2020-06-06 11:29] andreasabel opened #4736 "Tweaking the test suite runner"
I now often forgo `make install-bin test` because the ordinary compilation of Agda takes >30min.  Rather I `make quicker-install-bin` and then `make AGDA_BIN=agda-quicker succeed fail interaction`.  Of course these test suites then run slower and have false positives, e.g.:
- [x] `test/Fail/Interaction-and-input-file`: fails because name of executable is not `agda`.  Make this test more robust.
-

[2020-06-06 11:34] andreasabel commented on #4729
Travis does.  If I have a PR created from a branch on agda/agda and push to this branch, travis starts two instances, one for `push` and one for `pr`.  If after a successful CI I then push the branch to master, the same test run for a third time (of course, this is useful if some rebasing or merging happened, but often the push is clean).

Github should also have the latter duplication, i.e., when

[2020-06-06 11:46] andreasabel opened #4737 "Turn error `Hiding ... has no effect` into a warning"
[code]
fails hard with
[code]
at
https://github.com/agda/agda/blob/06172256d1fc3668e35b694c696210f65987ad8c/src/full/Agda/Syntax/Scope/Monad.hs#L792-L797
This should be a warning (and deadcode highlighting) instead.

[2020-06-06 11:52] #4707 closed, assigned to andreasabel

[2020-06-06 12:16] EdNutting commented on #4729
Okay I need to go back and review this again. When we were testing it yesterday we couldn't get Github to trigger PR events just from pushing commits. I can't understand why at the moment. But searching back through Github's Action logs:

https://github.com/agda/agda/actions?query=branch%3Aissue4704+workflow%3A%22stack+build%22

It's clear that two distinct kinds of event are occurring and it is d

[2020-06-06 14:09] EdNutting commented on #4729
The simplified test case didn't run because `pull_request` workflows need to be in the default branch of the repo for Github to recognise they exist. It seems that once they are in the default branch, Github will then run modified versions from head commits of a PR. I can't find any documentation that properly explains where Github chooses the Workflow files from though. Anyway, now that I have a

[2020-06-06 14:14] EdNutting commented on #4729
(It's also possible to skip a `push` job if there exists a `pull_request` labeled with `wip` but it requires a custom action which I have working but is a bit complicated. It might not be what we want either. Running CI on `push`es of WIP stuff seems like a desirable thing).

[2020-06-06 15:13] nad commented on #4733
At the moment we do not compile Cubical Agda code properly: for some code we generate calls to `error` (or something like that), and for some code we generate code that GHC complains about. I managed to compile a program by manually commenting out some unreachable code. With this option I would not have to do that, and the compiler could complain instead of generating calls to `error`. (See https:

[2020-06-06 17:00] andreasabel opened #4738 "Github actions: also build test/Internal"
I think we should also build the Haskell code under `test/Internal` under all GHC versions using the Github actions.  It is also part of the Agda source and changes often with refactorings.

[2020-06-06 18:06] andreasabel commented on #4733
If we still want to do by-module compilation, then reachable functions are seeded by the export list of a module (and `main` of the main module).  We could drive compilation by a worklist that is seeded accordingly, and extended with functions called by the functions we compile.

However, this strategy does not fit the current backend structure.  The MAlonzo compiler is just an instance of a gener

[2020-06-07 08:59] gallais commented on #4729
I am of the opinion that we should let people say what they mean instead of
guessing based on already existing workflows: we can add a new label "No CI"
for PRs that should not get built.

[2020-06-08 02:40] L-TChen commented on #3831
No, we don't. Based on the discussion with @gallais and @andreasabel, the fix will be the one suggested by @UlfNorell.

[ I just need to wait for my work laptop to arrive and work on it. I can't do this on my almost a decade old laptop. ]

[2020-06-08 06:19] andreasabel commented on #4729
Why not the old label `[ci skip]`?

[2020-06-08 06:41] andreasabel commented on #4145
In this case, maybe one wants a "foldable" (or do you say "collapseable") presentation like in org-mode:
For each error/warning, a one line summary that can be expanded into the full message.

[2020-06-08 09:16] gallais commented on #4729
I thought we were talking about the kind of labels you attach to issues and PRs?
If we are talking about labels inside of commit messages then yeah `[ci skip]` is
good.

[2020-06-08 09:43] andreasabel commented on #4707
Actually, not since the beginning, only since #493 (in 2013).

[2020-06-08 10:03] andreasabel commented on #4737
Error message was introduced in #493.

Warning is printed as, e.g.:
[code]

[2020-06-08 12:30] #4737 closed, assigned to andreasabel

[2020-06-08 15:48] pnlph commented on #4713
[code]
In this occurrence, the two first results are strangely the same:
[code]
When I choose any option
[code]
Agda still cannot decide from two options that seem the same to the human eye:
[code]

[2020-06-08 16:01] guillaumebrunerie commented on #4713
There are somehow two identifiers in scope with the same name (not sure how that happened), one defined in `Cubical/Foundations/Id.agda` and one in `Cubical/Foundations/Prelude.agda`, as you can see from the error message.

But you seem to be using an older version of the cubical library, I can’t reproduce it.
I first get that `Cubical.Hits.S1` doesn’t exist because it has the wrong capitalization

[2020-06-08 16:21] pnlph commented on #4713
Thanks, yes this is another case of overloaded identifiers in scope. Sorry, you are right, what I sent was not self-contained. This works:
[code]

Yes, I am also on a mac so I have issues with capitalization.

Maybe we could raise an additional warning when the ambiguous parses are more than expected because overloading identifiers? It is also true that I did not realize that there were two operat

[2020-06-08 16:29] guillaumebrunerie commented on #4713
This works for me, no parsing issues (with the latest version of the cubical library).

I don’t quite understand how there can be two identifiers with the same name, I thought only constructors/fields can be overloaded. But in any case, this looks like a different issue, maybe you should open a new issue about it.

[2020-06-08 16:46] txa opened #4740 "cubical primitives should preserve guardedness"
When we use path equality to prove equations for coinductive types we need to refer to fillers as provided by the primitives (transp and hcomp). However, this frequently interferes with guardedness, as the following example shows. I define co natural numbers and addition:
[code]
Now we want to show commutativity of addition, the 0-lemma is ok but already the suc-lemma is a problem
[code]
The recur

[2020-06-08 16:48] pnlph commented on #4713
Can you try this code? I think it brings both `_∙_` in scope:
[code]

[2020-06-08 16:54] guillaumebrunerie commented on #4713
Indeed, this one gives a parse error, but I don’t think that’s an Agda bug, you’re just not supposed to open both `Cubical.Foundations.Id` and `Cubical.Foundations.Prelude` together, as they define the same identifiers on purpose (so that you can choose whether you use path types or identity types).

[2020-06-08 16:56] guillaumebrunerie commented on #4713
Also, I was wrong here. Of course there can be a clash when opening two modules that both define the same identifier.

[2020-06-09 14:01] nad opened #4743 "Erased modules"
I think we should support erased modules, because I would like to be able to use erased identifiers in module applications:
[code]

[2020-06-09 15:44] andreasabel commented on #4736
This actually passes if calling the testsuite with a modified `BUILD_DIR` rather than a modified `AGDA_BIN`, e.g.
[code]
Thus, I consider this point solved.

[2020-06-10 07:43] andreasabel commented on #4743
With the semantics being that all definitions in the `Erased`module should be tagged as erased?

[2020-06-10 12:25] nad commented on #4743
Yes.

[2020-06-10 12:31] jespercockx commented on #4743
How about modules with other modalities (e.g. irrelevant or flat)?

[2020-06-10 12:32] andreasabel commented on #4729
Ah, ok, thanks.  How about `ci skip` then as label name (since it has the same semantics).

[2020-06-10 12:38] nad commented on #4743
Does it always make sense to first type check all the definitions without the modality and then add the modality, without any extra checks?

[2020-06-10 12:40] UlfNorell commented on #4743
That sounds dangerous, why wouldn't you push the modality from the module header inside?

[2020-06-10 12:40] nad commented on #4743
Was that a response to me?

[2020-06-10 12:43] nad commented on #4743
We currently do not support erased data or record types, so that should also be supported. Have I forgotten something?

[2020-06-10 12:48] UlfNorell commented on #4743
Yes

[2020-06-10 13:20] nad commented on #4743
When we type-check a module application we do not re-check the definitions of the original module from scratch, right?

[2020-06-10 13:25] UlfNorell commented on #4743
Oh right, my bad. I was thinking we were checking a module definition for some reason.

[2020-06-10 13:40] nad commented on #4743
For module definitions it makes sense to push the modality into the module.

[2020-06-10 14:54] andreasabel commented on #4736
The `touch`y issue is currently stuck on https://github.com/phile314/tasty-silver/issues/2#issuecomment-641416138.

[2020-06-11 09:21] #4491 closed, assigned to gallais

[2020-06-11 09:58] mdimjasevic opened #4747 "Support step-by-step evaluation"
Agda does not feature a step-by-step expression evaluation. This is a useful feature in aiding the understanding of code, in debugging and probably in other situations. `C-c C-n` in Emacs runs the command `agda2-compute-normalised-maybe-toplevel`, but this gives the final result only. As @jespercockx pointed it out, one's "best bet is to put `{-# OPTIONS -v tc.reduce.fast:110 #-}` which will print

[2020-06-11 10:06] mdimjasevic commented on #4747
You can find my latest progress on implementing the feature at https://github.com/mdimjasevic/agda/tree/issue4747.

[2020-06-11 13:34] pnlph opened #4748 "Rename definitional equality?"
Would it be possible/useful the ability to rename definitional equality, like with `Set`? Did this discussion take place already?

For example, in [1304.0809](https://arxiv.org/abs/1304.0809) @gallais et al. use the right squig arrow `\leadsto` to represent what we denote in Agda statically by `=`.

[2020-06-11 13:39] guillaumebrunerie commented on #4748
I think the problem with that is that the parser would need to be completely rewritten (unlike for `Set`, which is just an identifier), and that nobody has put forward strong enough arguments for why it would be worth it.

[2020-06-11 13:41] gallais commented on #4748
Caveat: in Agda you may write equations that do not actually hold definitionally
because the definitions by pattern-matching allow overlapping patterns & use a
first-match semantics. That is the point of the `--exact-split` option.

[2020-06-12 13:01] JacquesCarette commented on #4720
There are reasons why I'm very interested in type theories with first-class names (for record and modules) and renaming...

Note that CASL, Hets, Maude and other specification language in the OBJ family seem to deal with such things reasonably well (and I think SpecWare and DesignWare did too). Isabelle has some features, but I don't know how robust they are.

My suspicion is that this is more tha

[2020-06-12 16:30] andreasabel commented on #4748
Both for Haskell and Agda it would be more economic to use `->` instead of `=`.  In Haskell, I often turn a set of clauses into a `\case` and then need to turn all the `=`s into `->`s.  In Agda, we also have the pattern lambda which uses a different separator than the function clauses.

However, we cannot turn the clock back 15 years.  Also, having too many configurable parts in a language definit

[2020-06-12 17:13] andreasabel commented on #4736
@phile314 fixed the issue with `touch` sideeffects with Ctrl-c.
Only remaining point is to separate the Auto-* tests from `interaction`.

[2020-06-12 17:18] andreasabel opened #4749 "Release Agda 2.6.1.2"
Is there a chance to release 2.6.1.1 before the imminent Summer?
At least with fixes for these critical issues:
- [ ] #4526 bad performance (nix)
- [X] #4569 Build failure with dynamic linking
- [ ] #4613 compilation failure (nix)

[2020-06-12 17:25] andreasabel commented on #4720
Yeah, and we do not have similar problems with constructors or other names.  E.g. for constructors, it does not matter how many aliases we have for the same original constructor.  However, for record expressions it would look very awkward if one took some field names from one renaming and other from another renaming (in particular, without having to have the names imported).
The drastic solution i

[2020-06-12 19:48] asr commented on #4749
Steps: i) fixing the above critical issues and ii) decide if cherry-pick the commits fixing those issues on 2.6.1 is an option.

[2020-06-12 20:23] JacquesCarette commented on #4720
I do have quite a bit more that I could say about this [I do know the details of how some of these other systems handle this; also, I've written a paper about this exact problem], but doing so in a comment seems sub-optimal. I'd be glad to have some online chat.

[2020-06-12 21:00] martinescardo commented on #1625
I am trying to integrate @tomdjong 's work described above in his fork of my Agda development.

So I installed the development version of Agda and tried it on my own repository before any attempt to integrate. I want to describe what happened.

  * First, the 57k lines in my repository take 2m 50s to type check in the released version of Agda 2.6.1, in a core i7 desktop computer, which is very goo

[2020-06-13 06:31] pnlph commented on #4748
Thank you for the answers. I now know how hard the specification of this feature would be both conceptually and technically.

In life, one has to say no sometimes, and this may well be one of such a prototypical situation. 😅

IMHO, the confusion responsibility lies on the user who produces code. E.g., the ability to rename `Set` was an excellent feature that put both more freedom and responsibilit

[2020-06-13 06:31] #4748 closed, assigned to nobody

[2020-06-13 06:40] martinescardo commented on #1625
I have now made modifications to make UF-Classifiers-Old to type check in finite time in the development version of Agda (and fast in both the current version and the development version).

With the changes I've made, now the type checking time of the whole development is nearly identical in both versions of Agda, the current one and the development one (but slightly slower in the development vers

[2020-06-13 08:25] uncle-betty opened #4750 "Unification failure in 2.6.1 and the master branch"
The following code results in a unification failure for `lemma`, which doesn't seem right to me. Strangely (at least to me), the issue goes away when I move the line marked `(AAA)` to the spot marked `(BBB)`. Note that the data type `Three` isn't even used anywhere. Also, the very similar `lemma′` does not have this issue.

I'm now wondering whether it's me or Agda who's being unreasonable.

The c

[2020-06-13 08:46] jespercockx commented on #4750
Thank you for reporting. This is definitely Agda being unreasonable and not you. It seems there is a missing reduction at https://github.com/agda/agda/blob/3fc80c1dea53d1806ae3555cd279444a72dec297/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L664.

[2020-06-13 08:58] jespercockx commented on #4711
I'm confused, is this a bug report, an enhancement request, a discussion, or all three???

[2020-06-13 09:09] jespercockx commented on #4703
In general, I do not believe having a certain degree of statefulness in the pretty-printer can be avoided in the current design of Agda. We quite frequently print terms containing different free variables that happen to have the same name, so we need to rename one or the other to disambiguate. However, the current way in which we print error and interactive messages does not allow us to make this

[2020-06-13 09:15] jespercockx commented on #4684
I believe the fact that Agda currently relies on the conversion checker to insert hidden arguments is a bad design. Inserting implicit arguments is part of the elaboration process from the surface language into the core language, while conversion checking should act only on fully elaborated core syntax (except for the possible presence of unsolved metas). I wonder if fixing this design flaw would

[2020-06-13 09:19] jespercockx commented on #4556
Since this is a quite common complaint among newcomers to Agda, I've removed the `priority: low` label. I hope we can get an updated version of the hello world example soon!

[2020-06-13 09:30] UlfNorell commented on #4750
Note: The difference between `AAA` and `BBB` is that in the former case `One`, `Two`, and the lemmas are in a mutual block.

[2020-06-13 09:40] #4750 closed, assigned to jespercockx

[2020-06-13 10:01] jespercockx commented on #4684
Actually the insertion of implicit arguments during conversion checking does not seem to be the problem here. Rather, there seems to be a problem with the generalized arguments of `curryⁿ` and `_$ⁿ_`. For some reason, in the types of these two functions, Agda does manage to generalize over `A` and `B` but not over their levels. This produces unsolved metas that cause the error later on in the file

[2020-06-13 10:07] jespercockx opened #4751 "Conversion checker should not insert implicit arguments"
In #4684, I wrote:

This turned out to be unrelated to the actual issue there, but I still believe it would be a good idea to get rid of the insertion of implicits during conversion checking. I tested out removing this step from the conversion checker on `make succeed` and `make fail`, and the only test case that failed was the one for #2412, which deals with the (anyway broken) check for "possibl

[2020-06-13 11:02] pnlph commented on #4556
OK, i will try to push soon a new version with the collected suggestions.

[2020-06-13 13:00] uncle-betty commented on #4750
Oh, wow, this was fast! Thank you very much.

I'm happy to report that the fix on master also fixes my original instance of the issue in addition to the above test case. Awesome!

[2020-06-14 07:45] andreasabel commented on #4711
Let's make Agda more fragrant!

[2020-06-14 07:56] andreasabel commented on #4665
That would be perfect, if the documentation of the install instruction was CI-tested.
However, I was thinking of a couple of lines written for Joe User, along the lines of
[code]
or the like, only for stack.
How would these lines look like if I used the CI system as you suggest?

[2020-06-14 18:18] endobson opened #4752 "Panic on unbound variable with pattern synonym"
Minimized reproduction:
https://gist.github.com/endobson/6a6af3112f61a3af6f4aebb42c8d1869

And inline since it isn't too big
[code]

[code]

[2020-06-15 17:33] pnlph commented on #4556
The plan is to show the three examples that @jespercockx mentioned, but I have some questions about the first one (the program):
1. What is needed in order to compile the current `Hello World` example? I am trying to compile the `Hello World` both with `C-c C-x C-c` and `agda --compile hello-world.agda` and I am getting #3619 I did `cabal install ieee754`but I did not get rid of the error.
2. What

[2020-06-15 19:38] UlfNorell commented on #4556
2, 3: It should have made a binary `HelloWorld` in the top-level folder (where it put `MAlonzo`).

[2020-06-16 14:37] jespercockx opened #4755 "Rewrite rule on constructor uses wrong type for matching"
The rewriting machinery does not correctly instantiate the parameters of a constructor when applying a rewrite rule. Here's an example where things go wrong:

[code]
This throws an error:
[code]

[2020-06-16 14:57] jespercockx commented on #4755
See also #3211 and #3538

[2020-06-16 15:03] andreasabel commented on #4752
MWE:
[code]
Up to including 2.5.1.1 the error was
[code]
From 2.5.2 agda aborts with the above panic.
Thus, it is a regression in the error message.

Having @-patterns in a pattern synonym contradicts the intuition that a pattern synonym is just a  "defined constructor" (in terms of other constructors).  It seems best to disallow @-pattern in pattern synonyms, also in light of the work towards typ

[2020-06-16 15:04] jespercockx commented on #4755
The partial fix of #3211 in https://github.com/agda/agda/commit/1b6ba6df2a843b0426958afe913d1bedee21e280 by @andreasabel is not quite right: it uses `typeOfConst` to instantiate the parameters in the type of the constructor, which works as long as you are in the same module as where the constructor was declared (as in the test case for #3211), but does not do anything once the parameters go out of

[2020-06-16 15:34] jespercockx commented on #4755
Here is a particularly nasty variant:
[code]
This doesn't crash Agda, but the rewrite rule fails to fire:
[code]
When looking at the debug output, it is clear what goes wrong:
[code]
The type of the constructor `c` is not instantiated, so Agda matches the arguments `[tt, (box ⊤)]` against the patterns `[any A, box A]` as eliminations of `c : {A : Set} → A → Box A → D A`. Clearly then matching fail

[2020-06-16 15:44] jespercockx commented on #4755
My vote for solving this is by getting rid of the feature "rewrite rules on constructors of parametrized datatypes" (and hence also "rewrite rules on constructors coming from a parametrized module"). If you really want rewrite rules on constructors, you should use indices instead so they are not erased until after typechecking.

One exception we could perhaps make is to allow rewrite rules on cons

[2020-06-16 16:14] andreasabel commented on #4755
Well, rewriting on constructors violates the invariant that constructor parameters are not needed for computation and thus need not be stored.  Keeping the constructor parameters just for the sake of rewriting is likely forbiddingly expensive.

My hope with rewrite rules on constructors was to get definitional quotients in some special cases in a cheap way.

It is probably ok that the rewrite rule

[2020-06-16 17:09] #4752 closed, assigned to andreasabel

[2020-06-16 17:15] andreasabel commented on #4736
I am satisfied with the work done here and might fix the Auto-* issue when it annoys me next time.

[2020-06-16 17:28] andreasabel commented on #4735
I think `primShowQName` only exposes the weirdness of `QName`s inside Agda.  Usually one does not see them printed literally, but beautified for he current context, thus, the issue stays internal.

[2020-06-16 17:29] andreasabel commented on #4714
Seems like the discussion has ended.

[2020-06-16 17:29] #4714 closed, assigned to nobody

[2020-06-16 19:55] #4715 closed, assigned to andreasabel

[2020-06-16 20:04] andreasabel commented on #4130
Closing this as fixed by #4602.

[2020-06-16 20:04] #4130 closed, assigned to nobody

[2020-06-16 20:28] andreasabel commented on #4135
LHS constructor disambiguation is realized here:
https://github.com/agda/agda/blob/ab41ff6a63b0b153f588f2f58fa16f049b6f0ef1/src/full/Agda/TypeChecking/Rules/LHS.hs#L1651-L1665
I believe the problem is that when trying to disambiguate allowing new constraints we first succeed with constraint `?0 := true`, but when the second constructor is tested the generated constraint `?0 := false` contradicts t

[2020-06-16 22:04] andreasabel commented on #4135
After 2 hours of debug printing, it seems that the problem is that `noConstraints` is not sufficient:
https://github.com/agda/agda/blob/ab41ff6a63b0b153f588f2f58fa16f049b6f0ef1/src/full/Agda/TypeChecking/Rules/LHS.hs#L1710-L1711
We also need to disallow solving metas.
Kinda obvious.  However,  I intuitively read `noConstraints` as doing its job, meaning "no information gain" or "no further constra

[2020-06-17 06:09] williamdemeo commented on #4675
I was also a bit disappointed to see that (it seems) one cannot write a literate .lagda.rst file while simultaneously working on the Agda code in that file, using the full features of agda2-mode (e.g., goal detection -> hole creation).

(I guess that's the point of this issue/thread.  I'm willing to try to help with this if given some guidance, though I'm not an expert.)

It seems to me (please co

[2020-06-17 06:21] UlfNorell commented on #4135
Its semantics is "either solve the problem completely or not at all". The "no constraints" refers to the fact that no constraints should be left unsolved after running the action.

[2020-06-17 06:27] williamdemeo commented on #4675
Ah!  I just converted my .lagda.rst file to .lagda.md and I see that goal detection is supported!  Amazing!!

(I was using rst because I like to use sphinx for documentation generation, but I suppose I can settle for markdown and then either use some markdown-to-rst conversion utility or simply abandon sphinx altogether.)

[2020-06-17 07:19] jespercockx commented on #4675
I added support for holes in literate markdown files in https://github.com/agda/agda/commit/2068c65ab667b3f687e77769f8eb00dffa215f3c#diff-98612352c3236259b1e3f292bc4675d8. The solution there was simple because the triple backticks are easy to detect. However, `rst` uses indentation to mark code blocks so it's not so easy to detect code blocks from inside emacs.

[2020-06-17 07:59] jespercockx commented on #4755
Right, I missed that. So then my brutal solution is not sufficient after all.

The problem is that this would lose stability of reduction under eta-conversion: `c any (box ⊤)` and `c tt (box ⊤)` are definitionally equal, but only the former would reduce to `one`.

Currently the matching algorithm used for rewriting is type-directed and it uses the type of the specific term that's being matched. Pe

[2020-06-17 08:43] andreasabel commented on #4135
Yes.  I misinterpreted it, believing in the correctness of the code using it.

I am going to introduce `nonConstraining` to express "no information gained on solutions".

UPDATE: Part of my confusion may stem from the fact that `C-c C-=` ("show constraints") shows the "constraint" `?0 := true`.  Yet internally this does not fall under "constraints" since it is already a solution.

[2020-06-17 08:51] andreasabel commented on #4135
The present problem is actually a regression in 2.5.4 possibly introduced by fea1dd1f1889fb122320314c0bb7d6a6126f6dd5.  Up to 2.5.3 the error message was a good one:
[code]
on
[code]
We should try to get this error message back.  At the moment (see also #4130 and #4602) the error is (when fixing disambiguation:
[code]

[2020-06-17 10:18] andreasabel commented on #4135
Getting there... but this silly little issue is consuming a full work day.  If you were just to fix all open issues we currently have by yourself, @UlfNorell, you'd have your next 7 years of Agda development filled... 😆 .

@andreasabel commented:

I don't even seem to read my own problem descriptions. 😆
I already said this above, but did not seem to want it label a regression then.

[2020-06-17 10:25] andreasabel commented on #4135
We have the dual problem for projections, unsurprisingly:
[code]
However, for projections this was wrong from the beginning, meaning as soon as overloaded projections were allowed (2.5.2).  At that time, I did not care about this issue, except when I was forced to care (#1975, #1976).

[2020-06-17 10:37] andreasabel commented on #1549
@jespercockx 's changes to LHS constructor disambiguation (fea1dd1f1889fb122320314c0bb7d6a6126f6dd5 released in 2.5.4, cf #4135) fixed this problem for the LHS occurrence.  The error shifted to the RHS occurrence:
[code]
We may be able to fix this problem for the RHS as well if we can port Jesper's improvements to the RHS disambiguation heuristics.

[2020-06-17 11:54] pnlph commented on #4749
I have a question, will the version `2.6.1.1` include #4629 ?

The cubical library does not type check with the current version since agda/cubical#341 because of the flag `--no-import-sorts`.

[2020-06-17 12:14] UlfNorell commented on #4735
Yeah, the problem is that the `QName` stores the concrete name it was referenced by. The same doesn't seem to be true for the module names though:

[code]

Two options:
- store the original name in the `QName` (either replacing the current concrete name or adding it)
- fix the implementation of `primShowQName`

For the latter there are four separate implementations to fix:
- the primitive binding

[2020-06-17 12:15] UlfNorell commented on #4749
It will not include #4629.

[2020-06-17 12:41] guillaumebrunerie commented on #4749
I think that the cubical library is only supposed to work with the development version of Agda for now.

[2020-06-17 12:55] UlfNorell commented on #4735
I'm checking to see what breaks if we simply store the original concrete name in the `QName`.

[2020-06-17 13:04] UlfNorell commented on #4735
For the record (@gallais will you reset the counter?):
[code]

[2020-06-17 14:12] UlfNorell commented on #4735
Update: The only thing (in the test suite) that fails if we change to the original concrete name is the error for ambiguous constructors. There we no longer have the concrete name the user wrote.

[2020-06-17 14:37] pnlph commented on #2060
@mietek If the standard version of Agda was installed with `brew`, what would be the best way of installing the developer version of Agda being possible to switch between both of them? Thanks!

[2020-06-17 14:41] #3538 closed, assigned to jespercockx

[2020-06-17 14:48] #4135 closed, assigned to andreasabel

[2020-06-17 14:53] andreasabel commented on #4135
Fixed the analogous problem for projections.  I did not enhance the disambiguation for projections for case `constraintsOk` to the same power as for constructors, only fixed the OP, keeping the status quo otherwise.

One down, may spawn three, in the battle of Hercules with the Hydra.

[2020-06-17 15:20] jespercockx commented on #4755
I fixed the problem in the OP by inserting dummy terms in case there are missing module parameters. However, this means rewriting is currently still not stable under eta-conversion, I will need some more time to implement the proper checks to rule out my second example.

[2020-06-17 15:23] iblech commented on #4635
Okay, `(setq evil-want-fine-undo 't)` does most of what I had in mind. It's not perfect but definitely good enough :-) Sorry for letting this issue linger for so long!

[2020-06-17 15:30] andreasabel opened #4757 "Use Dhall or one of its targets for configuration files?"
I learned about Dhall (https://dhall-lang.org/) today and immediately clicked with the concept: Have a safe standard for configuration files that have a clean (Haskell-like) syntax and allow a limited form of computation.  (In particular, I think every configuration file format should include syntax for `let`-bindings.)

We have some configuration files in ad-hoc format: `.agda-lib`, `libraries`,

[2020-06-17 18:17] dalvescb commented on #4610
GNU Emacs 27.0.91 Arch Linux installed via AUR emacs27-git. Is there a workaround for this or just need to downgrade emacs??

[2020-06-17 18:51] asr commented on #4610
As workaround I guess you can remove the line https://github.com/agda/agda/blob/58710f312ea66c1da0ee9f8a1fe44be9d7883d2e/src/agda-mode/Main.hs#L234

[2020-06-17 19:07] asr commented on #4736
I just run the complete tests on Travis and Travis [reported](https://travis-ci.org/github/agda/agda/jobs/699329874) this error:

[code]

[2020-06-18 07:27] UlfNorell commented on #4735
It also breaks #1792 if you rename to a mixfix name.

[2020-06-18 08:06] UlfNorell commented on #4735
PR: #4758

I settled for adding the original concrete name as a separate field and use that in the `Pretty` instance for `QName` (which is what is used by `primShowQName`). That way we don't have to worry about cases where we do want the concrete name the user wrote, and we don't have to do scope gymnastics to retrieve it during evaluation/compilation.

[2020-06-18 10:14] UlfNorell commented on #4677
Auto-inlining is now turned off by default, so using `cong` works.

[2020-06-18 10:14] #4677 closed, assigned to nobody

[2020-06-18 10:42] andreasabel commented on #4235
In the meantime, I have also added `List2`, but I refuse to call it `NonNonEmpty`. 😆
I stand to my opinion that `<coll>n` is a good naming scheme for collections with at least `n` elements.
Also I have added `Agda.Utils.List1` for complementing `Data.List.NonEmpty` with missing functions.

[2020-06-18 16:03] andreasabel commented on #4736
Oops, I ran a `[complete tests]` in 1fc1e6955223b8d769256e6fce0bde6173f60cdf, but these tests failed with a bogus error: https://travis-ci.org/github/agda/agda/builds/696887477.
Thus, I did not catch this error.

[2020-06-18 16:23] asr commented on #4736
We should at least compile the test suite with every GHC version supported. I'll have a look.

[2020-06-18 16:46] andreasabel commented on #4538
Looks fixed now.

[2020-06-18 16:46] #4538 closed, assigned to pnlph

[2020-06-18 21:49] ecavallo opened #4763 "Cubical Agda: Unquote anonymous copattern involving path"
[code]
raises
[code]
No issue if the type of `test` is replaced with `I → A`.

[2020-06-19 08:41] Saizan commented on #4615
The `Issue2650` failure is likely due to the use of `piApplyM'` in the `sort check on type metas` logic.

We should have a `piOrPathApplyM'` equivalent.

[2020-06-19 08:51] jespercockx commented on #4615
Is there any situation where we want to use `piApplyM` but we do *not* want to include path types? If not, it would be better to simply update the implementation of `piApplyM`.

[2020-06-19 08:59] Saizan commented on #4615
The only danger is that it would forget the information about the path boundary, which is often relevant but not here. To be fair so far I have mostly found `telView` calls need to updated to do something with the boundary.

[2020-06-19 09:30] gallais commented on #4763
Is it the copattern or the `PathP`? I tried to remove the
`--cubical` dependency and I am not getting the internal error:

[code]

[2020-06-19 09:59] jespercockx commented on #4615
`piApplyM` already loses information (the type of the domain) so I don't really see why this should be different for path types.

[2020-06-19 12:18] ecavallo commented on #4763
Removing the record but leaving the `PathP` also eliminates the internal error:
[code]
Replacing the `PathP` by another record removes the internal error as well.
[code]
The error does still occur if the order of `PathP` and record are swapped:
[code]

[2020-06-19 12:29] mouse07410 opened #4765 "Current master build fails (tests fail?)"
MacOS Catalina 10.15.5, Xcode-11.5, GHC-8.8.3, Cabal-3.2.0.0 (Stack-2.3.1), current Agda master.

Looks like the main binary `agda` does build,  but `agda-tests` doesn't.

[code]

Complete build log: [make-out.txt](https://github.com/agda/agda/files/4804590/make-out.txt)

[2020-06-19 13:46] andreasabel commented on #4765
Are these the same cabal settings as in #4569?

[2020-06-19 13:56] andreasabel commented on #4736
The test now fails for ghc 8.0 (https://travis-ci.org/github/agda/agda/jobs/699770562) with error
[code]
This version does not seem to exist:
[code]

[2020-06-19 14:02] asr commented on #4736
Locally I use version 1.24.0.2.

[2020-06-19 14:30] asr commented on #4765
Does `make clean` fix the problem?

[2020-06-19 15:31] asr opened #4766 "Missing test of non-default flags in the stack workflow"
While looking in compile the test suite (i.e. the `agda-tests` program) with all the GHC versions supported, for avoiding errors like [this](https://github.com/agda/agda/issues/4736#issuecomment-645566187), I noted that we are not testing some non-default flags in `Agda.cabal` in the stack workflow.

[2020-06-19 16:07] #4766 closed, assigned to asr

[2020-06-19 20:10] mouse07410 commented on #4765
Naturally. Consistency rules! ;-) :-)

Absolutely not.

### Update
Today's merges did not affect this problem.

[2020-06-20 09:22] #3619 closed, assigned to UlfNorell

[2020-06-20 10:06] Blaisorblade commented on #4556
From interacting with those questions on IRC, when I asked if people cared about programming in Agda, the answer was always "no"; they just wanted to test their install.

OTOH, fixing this example might lead to more users trying to program in Agda and bumping at some point into the next inconveniences, like @pnlph; that might be good for Agda if you want to evolve it in that direction, but annoyin

[2020-06-20 21:07] asr opened #4767 "Missing test: Build `agda-test` with all the GHC versiones supported"
We are not testing the compilation of the `agda-test` program (i.e. the test suite) with all the GHC versiones supported.

[2020-06-20 21:23] #4767 closed, assigned to asr

[2020-06-20 21:42] #4735 closed, assigned to UlfNorell

[2020-06-21 09:12] andreasabel commented on #3734
The current solution is to trigger the warning on defined names in the scope checker. For constructors and fields, we would have to do this in the type checker, after disambiguation happened.

The fix for pattern synonyms should wait for the overhaul of pattern synonyms in PR #4680.

[2020-06-21 12:45] andreasabel commented on #4738
Fixed by #4767?

[2020-06-21 12:46] andreasabel commented on #4767
Thanks.  So this fixes #4738?

[2020-06-21 12:48] andreasabel commented on #4736
@asr wrote:

Yes, but this error was thrown on travis.

[2020-06-21 14:35] andreasabel opened #4768 "De Bruijn index @0 in error "Not a finite domain""
[code]
reports
[code]

[2020-06-21 15:10] andreasabel opened #4769 "mergeEqualPs ignores Name and ArgInfo of merged-in patterns"
Stumpled over this code:
https://github.com/agda/agda/blob/31fbd2d5e7cbf9fa572354fd903c2cf3fbc0b6fd/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L2522-L2526

It leads Agda to ignore Name and ArgInfo of merged-in patterns without comment.
Agda accepts this:
[code]

[2020-06-21 15:11] asr commented on #4767
Yes.

[2020-06-21 15:11] asr commented on #4738
Fixed by df8f0cba878fc7e9ca3710226b25243dd0f47f7f.

[2020-06-21 15:17] asr commented on #4736
I'll have a look. Closing because the error with GHC 8.0.2 is not related to this issue.

[2020-06-21 15:42] asr opened #4770 "Travis error on GHC 8.0.2: Unable to locate package cabal-install-1.24"
We are getting the error `Unable to locate package cabal-install-1.24` in Travis when using GHC 8.0.2. In 93c7db4a03f670a3e245ab87fa168b9b41998821 we moved from Ubuntu 16.04 (Xenial) to Ubuntu 18.04 (Bionic). The error is due to `cabal-install-1.24` is not available for 18.04.

[2020-06-21 16:37] asr commented on #4770
I filed https://github.com/haskell-CI/haskell-ci/issues/399.

[2020-06-21 16:54] andreasabel commented on #4769
Fixed this.  Now warnings are generated whenever a face constraint pattern `(a = b)` is named or hidden or instance or has a modality...

[2020-06-21 16:58] andreasabel commented on #4770
See #4753 (issue discovered at https://github.com/agda/agda/issues/4736#issuecomment-646650618).

[2020-06-21 17:15] #4738 closed, assigned to asr

[2020-06-21 20:07] #4769 closed, assigned to andreasabel

[2020-06-21 20:07] #4768 closed, assigned to andreasabel

[2020-06-21 21:53] capn-freako commented on #4250
@ice1000 , can you provide some brief instructions for using the two *.MSI files here: http://homepage.divms.uiowa.edu/~astump/agda/
?

Thanks!

[2020-06-21 22:25] capn-freako commented on #4250
I'm really confused, because I seem to have the standard library installed.
That is, I see lots of `*.agda` and `*.agdai` files in:

- `C:\Program Files\Haskell\x86_64-windows-ghc-8.6.5\Agda-2.6.0.1\lib\prim\Agda\Builtin\`, and
- `C:\Program Files\Haskell\x86_64-windows-ghc-8.6.5\Agda-2.6.0.1\lib\prim\Agda\Primitive\`,

including the infamous `IO.agda`.

But, I can't find a `standard-library.agda-

[2020-06-21 23:33] gallais commented on #4250
That is just the built-in modules. I don't think Aaron uses the standard library in his lectures so it is probably not shipped with the bundle and you need to install it separately. You can find the installation instructions on the stdlib repo (be careful to pick a version compatible with your Agda version): https://github.com/agda/agda-stdlib/#installation-instructions

[2020-06-22 06:27] asr commented on #4765
I couldn't reproduce the problem on Ubuntu (GHC 8.8.3, cabal-install 3.2.0.0) after running
[code]

[2020-06-22 12:47] mouse07410 commented on #4765
One reason could be - build flags do not seem to affect all the dependent packages.

To ensure your environment is "reasonably" similar, you'd ned to *build the whole Agda*  (probably a-fresh, or over a clean installation - with *no* dependent libraries lingering in the `~/.cabal/store/...`) using `~/.cabal/config` with my settings:
[code]

~~I thought we've been through this in #4569?~~
1. We had

[2020-06-22 16:10] asr commented on #4765
If we are using Cabal v1-commands why are you mentioning `~/.cabal/store/...`?

If you attach your `~/.cabal/config` file I'll use it via the `--config-file` Cabal option.

[2020-06-22 16:25] mouse07410 commented on #4765
You're right, my mistake. But all the more reasons to experiment with a clean/fresh installation, as v1- commands are certain to leave stuff where the subsequent invocations would find it.

Here it is - you might want to go over it for things that must be set, but refer to my home directory. [cabal-config.txt](https://github.com/agda/agda/files/4814396/cabal-config.txt)

And I want to emphasize ag

[2020-06-22 19:29] asr commented on #4765
I'm testing in a fresh environment (fresh GHC, fresh Cabal and fresh Agda). Can you reproduce the issue setting `jobs: 1` in the `config` file?

[2020-06-22 20:09] asr commented on #4765
I couldn't reproduce the problem using your `config` file  (tested with `jobs: 1` and `jobs: 4`).

[2020-06-22 20:54] mouse07410 commented on #4765
Hmm, funny... I changed to `jobs: 1`, and the entire build completed fine. Only several tests failed.
[code]

Complete log: [make-out6.txt](https://github.com/agda/agda/files/4815543/make-out6.txt)

So, what gives? I was planning to change `jobs: 12` to `jobs: 20` (upgraded CPU) - looks like for Agda I have to keep it at 4 or below? Perhaps, make it a project-local restriction?

Also, the failed t

[2020-06-22 23:17] asr commented on #4765
The tests shouldn't fail. Please run

[code]

and run again the tests.

[2020-06-23 00:44] asr commented on #4765
You could avoid the two above instructions cloning the repository using https://github.com/agda/agda/blob/f95313eb004c29b6d9cf85d60bd3b9691486bd55/HACKING.md#L46

[2020-06-23 01:43] mouse07410 commented on #4765
Alas, that's how I cloned. And I pull updates with `git pull --recurse-submodules && git submodule update --init --recursive`.

A lot of tests pass - but quite a few seem to fail. I'll post the results tomorrow.

### Update
Tests keep failing. With a lot of messages like
[code]

Here's the log: [make-test1.txt](https://github.com/agda/agda/files/4816527/make-test1.txt)

Also, I looked at the file

[2020-06-23 11:57] andreasabel opened #4772 "C-u C-u C-c C-? should show all goals normalized (Cmd_metas)"
Currently, `Cmd_metas` is not parameterized by a normalization level.

[2020-06-23 12:16] gallais opened #4773 "Missing does-not-export warning for `open` directive for parametrised module"
Minimised test case from a question on the Agda mailing list by @mechvel

[code]

[2020-06-23 12:35] andreasabel commented on #4773
MWE:
[code]
Only "works" if the module `M Set` is not named.

UPDATE:  The internal decomposition of the last line into `module _ = M Set using (X); open _` leads me to this example:
[code]
Thus, the warnings are missing when the import directive is applied to the created module rather than to the open statement.
It seems to be allowed to mention and rename private things in a module when making a

[2020-06-23 13:18] andreasabel commented on #4773
The behavior changed in 2.5.1 (tested 2.5.1.1).  Agda 2.4.2.6 reports:
[code]
The release notes of 2.5.1 do not mention a language change towards allowing this.

Thus, this is probably a unwanted regression and we should go for option 1.

[2020-06-23 13:26] asr commented on #4765
Which is the output of
[code]
?

[2020-06-23 13:37] andreasabel commented on #4736
When I interrupt `test/Succeed/Tests`, the currently checked file is touched (and subsequently moved up in the test list).  This is undesirable.

[2020-06-23 13:43] mouse07410 commented on #4765
[code]

[2020-06-23 15:01] andreasabel opened #4774 "Rebalance travis (e.g. move cubical test to own test instance)"
A recent travis build (https://travis-ci.org/github/agda/agda/builds/700659649) shows that instance `.3` takes 26 min while `.2` and `.4` only take 14 min each.  The reason seems to be the grows of the cubical library, which takes 10 min by itself:
<img width="798" alt="Screenshot 2020-06-23 at 16 53 38" src="https://user-images.githubusercontent.com/1155218/85419347-44990680-b572-11ea-917e-02f5ed

[2020-06-23 15:05] #4773 closed, assigned to andreasabel

[2020-06-23 16:29] asr commented on #4765
It seems the problem is the output

[code]

1. I don't know when GHC generates this output.
2. In `make interaction` we run GHC with the flag `--ghc-arg=-v0`. From https://gitlab.haskell.org/ghc/ghc/-/issues/16879 GHC shouldn't show the above output using that flag, but I don't know if GHC 8.8.3 includes the fix to that issue.

Which is the output of
[code]
?

[2020-06-23 19:05] mouse07410 commented on #4765
[code]
I did not continue from here (typed Q).

[2020-06-23 19:29] asr commented on #4765
Please remove the directory `/Users/ur20980/.ghc/x86_64-darwin-8.8.3/environments/` and try again.

[2020-06-23 19:58] #4772 closed, assigned to andreasabel

[2020-06-23 20:01] mouse07410 commented on #4765
Considering that Agda is not the main part of my GHC and Haskell adventure, I'm a little hesitant to employ such a drastic measure.

Do you know who/what app created and filled that directory? Here's it's current contents:
[code]

In fact, this is what worries me:
[code]
It tells me that there probably is some kind of variable that was supposed to represent a command. Guessing, maybe something lik

[2020-06-23 20:06] asr commented on #4765
For testing you can rename it instead. I think the directory is created by Cabal v2-commands. I still have some problems when combining Cabal v1- and v2-commands.

[2020-06-23 20:07] mouse07410 commented on #4765
How about this:
[code]

[2020-06-23 20:11] asr commented on #4765
I don't know what is `fgr` and I have not this command on Ubuntu.

[2020-06-23 20:11] mouse07410 commented on #4765
Possible, but I rather doubt it. Cabal tends to put its stuff in `~/.cabal/`. `ghcup` uses `~/.ghcup`, **and** `~/.ghc` - but mostly (only?) for the distro stuff, like GHC.

I'm totally with you.

But it would be good to move Agda to v2- build. It would make it easier to deal with dynamic builds too, I think.

#### Update

My apologies - it's my alias, created for convenience:
[code]

[2020-06-23 20:14] asr commented on #4765
See https://github.com/agda/agda/issues/4216. Patches are welcome! Keep in mind we need to support previous versions of Cabal.

[2020-06-23 20:17] asr commented on #4765
No. When I installed a library using `cabal v2-install --lib`, Cabal adds the library to `environments/default`.

[2020-06-23 20:23] asr commented on #4765
Did you rename the `environments/` directory and run `make Issue2728.cmp`?

[2020-06-23 20:25] mouse07410 commented on #4765
I'm a beginner in Haskell, and even less so in Agda. Patches from me are rather unlikely at this point.

Well, OK. You saw the content of my `.../default` - does it looks like anything that would/could interfere here...?

[code]

[2020-06-23 20:54] asr commented on #4765
I need focus in one problem at a time.

Which is the output of

[code]
?

[2020-06-23 22:11] mouse07410 commented on #4765
[code]

In other words, when I make sure `AGDA_BIN` points at something reasonable - this test seems to pass.

[2020-06-23 22:17] asr commented on #4765
The test suite uses `agda` from the build directory. From the root of the Agda repository which is the output of

[code]

?

[2020-06-23 22:18] mouse07410 commented on #4765
[code]

Also
[code]

[2020-06-23 22:19] asr commented on #4765
And the output of
[code]
?

[2020-06-23 22:25] asr commented on #4765
Could someone using MacOS Catalina 10.15.5 confirm if `make interaction` works?

[2020-06-23 22:28] mouse07410 commented on #4765
I thought I've posted it several times already?

It passes now. I think I accepted the new output with the extra string
[code]

[code]

[2020-06-23 22:29] mouse07410 commented on #4765
[code]

[2020-06-23 22:34] mouse07410 commented on #4765
I cloned the repo a-fresh, re-doing the build.

If there are remnants of a successful Agda-2.6.1 build - I wonder how to get rid of it, without blowing away everything I installed on this machine using Cabal.

[code]

[2020-06-23 22:43] asr commented on #4765
Yes. The line `import Agda.Version` in `Issue1232.hs` is using the wrong version of Agda. I don't know why.

[2020-06-23 22:47] asr commented on #4765
What about `ghc-pkg list --user | grep Agda`?

[2020-06-23 22:50] mouse07410 commented on #4765
Same. :-(

I can't find any visible traces of Agda-2.6.1. :-(

[2020-06-23 22:59] asr commented on #4765
What about `ghc-pkg find-module Agda.Version`?

[2020-06-23 23:25] mouse07410 commented on #4765
[code]

Also:
[code]

[2020-06-24 02:05] mouse07410 commented on #4765
The above did not seem to help. Somewhere there seems to remain the "ghost" of Agda-2.6.1, and somehow the tests from this build manage to find it - without letting me know *actually where* they got it from. And I'm not ready to wipe my entire Haskell installation to eradicate this module.

[2020-06-24 03:38] JakobBruenker opened #4775 "Internal error when trying to use incorrect lambda syntax to pattern match"
[code]

produces

[code]

While I don't think this should compile, I suppose it shouldn't throw an internal error either.

Tested on 2.6.1.

[2020-06-24 05:16] asr commented on #4765
What about (from https://gitlab.haskell.org/ghc/ghc/-/issues/13753)

[code]
?

[2020-06-24 07:59] andreasabel commented on #4775
Here is a shrunk version not using `with`:
[code]

[2020-06-24 08:39] gallais commented on #4775
Unsurprisingly this is inherited from `let ... in`:

[code]

[2020-06-24 08:56] andreasabel commented on #4775
For some reason, internally the `suc` pattern in the reconstruction `(suc y, isSuc x)` ends up being declared with `conPRecord = True`, which is bogus.  This prevents the `recordPatternToProjections` to throw a proper error, and subsequently it crashes since the type of the "record" pattern is missing unexpectedly.
https://github.com/agda/agda/blob/01e51b23d83c32a6a89bf603a683585f9d757211/src/full

[2020-06-24 10:01] andreasabel opened #4776 "ConName.conFields is no longer empty for data constructors"
With cubical, we are now generating projections also for data constructors.  The comment here is thus outdated:
https://github.com/agda/agda/blob/528a9fd3788245d6d2f4d33d394e3305ae3f5bbc/src/full/Agda/Syntax/Internal.hs#L140-L146
The deeper question is: Where did we rely on `null . conFields` for data constructors?
I see for instance these:
- [ ] Eta-contraction:
https://github.com/agda/agda/blob/

[2020-06-24 10:25] andreasabel commented on #4775
There is a suspicious unconditional setting of `conPRecord = True` in function
https://github.com/agda/agda/blob/528a9fd3788245d6d2f4d33d394e3305ae3f5bbc/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L1250-L1253
here:
https://github.com/agda/agda/blob/528a9fd3788245d6d2f4d33d394e3305ae3f5bbc/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L1281-L1283
I guess the question "Is this a problem?" can be

[2020-06-24 10:48] UlfNorell opened #4777 "Interaction between tactics and instance search"
Instance search does speculative type checking of the available candidates for an instance goal. This can involve running tactics (as happened in #4593). I suspect in most cases you don't want this, but I can imagine there might be exceptions.

Some options:
1. Never run tactics during instance search
2. Provide a function to abort a tactic if invoked during instance search
3. Status quo
4. ??

[2020-06-24 10:49] UlfNorell commented on #4593
The culprit here is instance search. If you look at the debug output you can see that the monad argument to `Monad.Raw-monad._⟨$⟩_ ` is different for each problematic invokation. I filed #4777 for discussing this problem and possible solutions.

[2020-06-24 10:49] #4593 closed, assigned to nobody

[2020-06-24 10:57] andreasabel commented on #4775
My fix changed some output in the interaction suite.  Some changes have been waived through before (https://github.com/agda/agda/commit/e531104ecdfd9efc1e76bf0e9b5f9690f31bcaab#r40133390) I suppose in connection to dot-shuffling.
I leave the investigation to the printer to another issue, as this issue is fixing a bug which might have been unintentionally exploited to get nicer printing.  Likely, 5

[2020-06-24 11:01] andreasabel opened #4778 "Expansion of ellipsis no longer faithful to what the user wrote"
See https://github.com/agda/agda/commit/e531104ecdfd9efc1e76bf0e9b5f9690f31bcaab#r40133390
The expansion of an ellipsis
https://github.com/agda/agda/blob/528a9fd3788245d6d2f4d33d394e3305ae3f5bbc/test/interaction/ExpandEllipsis.agda#L27-L32
no longer produces the parent clause, but a dot-shuffled version:
https://github.com/agda/agda/blob/528a9fd3788245d6d2f4d33d394e3305ae3f5bbc/test/interaction/Ex

[2020-06-24 11:14] andreasabel opened #4779 "Redo "Allow dropping of implicit lazy patterns when printing" (51659d8)"
See https://github.com/agda/agda/issues/4775#issuecomment-648750388

Commit 51659d8479d6265e280fd8253a9efff7a9d3fd4b introduced #4775.
The fix of #4775 undid the unsound solution and produced this regression.
Find a safe way to achieve the goal instead!

[2020-06-24 11:17] andreasabel commented on #4775
Slain Hydra head #4775 regrew three fresh heads: #4776 #4778 #4779

[2020-06-24 11:55] #4775 closed, assigned to andreasabel

[2020-06-24 11:59] andreasabel commented on #4779
Maybe it is sufficient to set the generated `ConP` (generated from a dotted `Con`) to system-origin?
https://github.com/agda/agda/blob/48423ad9bc224d30c57fe766395c5a4aadbba702/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L1272-L1282
In `cpi` set `PatOrigin` in `conPInfo` to `PatOSystem`?
UPDATE: No, it is already `PatOSystem`.  Most accurate would be `PatODot` in case `ci = ConOCon`!?

[2020-06-24 12:30] Saizan commented on #4776
@andreasabel `--cubical` does not need the data projections to be in `conFields`, and originally only stored them in the `conProj` field of `Defn.Constructor` (which admittedly should have better documentation).

[2020-06-24 12:46] mouse07410 commented on #4765
[code]

### Update
[code]

[2020-06-24 13:19] mouse07410 commented on #4765
Tried
[code]

Looks like we've had plenty of success so far. Remaining problems seem to be with LaTeX.

Here's the complete log: [make-test-out.txt](https://github.com/agda/agda/files/4825584/make-test-out.txt)

[2020-06-24 13:53] asr commented on #4765
The "Suite of tests for the LaTeX and HTML backends" uses various LaTeX packages. We need to find the missing packages.

To know the missing LaTeX packages for the above first error, you can run:

[code]

[2020-06-24 14:27] mouse07410 commented on #4765
[code]

[2020-06-24 14:37] asr commented on #4765
The above instructions are not necessaries.

You need to install the LaTeX package including the `acmart.cls` file.

[2020-06-24 15:29] mouse07410 commented on #4765
![Screen Shot 2020-06-24 at 11 25 32](https://user-images.githubusercontent.com/5923577/85584804-77dca380-b60d-11ea-863c-4fdf913f0a17.png)

[code]

Somehow the installed package is not found (_by Agda_?).

Also:
[code]

[2020-06-24 15:37] asr commented on #4765
Why are you talking about of

[code]

and

`/usr/local/texlive/2020/` ?

That is, TeX Live 2019 and 2020? It didn't happen when I installed TeX Live on Ubuntu.

[2020-06-24 15:43] mouse07410 commented on #4765
Darn... it looks like TeX Live 2019 was *also* installed by MacPorts. Addressing it as we speak.

[2020-06-24 16:10] asr commented on #4765
Note that TeX Live 2020 was released on 10 April 2020. I install a new version of TeX Live only after three months of its release. That is, I used TeX Live 2019 when running the test suite.

[2020-06-24 16:12] mouse07410 commented on #4765
Sure. But that doesn't seem to be the problem, IMHO - it's the possible conflict between what MacPorts installs (and what packages *it* makes available) vs. what I consider "my" TeX Live installation provided. I'll report as soon as the new test-run completes.

[2020-06-24 16:17] asr commented on #4765
Right, that was not the problem, but I guess no one has used TeX Live 2020 for testing.

[2020-06-24 16:57] mouse07410 commented on #4765
[code]

Complete log: [make-test-out.txt](https://github.com/agda/agda/files/4826877/make-test-out.txt)

[2020-06-24 17:03] asr commented on #4765
`cabal install shelltestrunner`

[2020-06-24 17:07] asr commented on #4765
Note that you can individually run every test: https://github.com/agda/agda/blob/48423ad9bc224d30c57fe766395c5a4aadbba702/Makefile#L284-L303

[2020-06-24 17:22] mouse07410 commented on #4765
[code]

Thanks!

[2020-06-24 17:31] mouse07410 commented on #4765
Summary:

1. Need to have `cabal.project.local` with `jobs: 1` (or at most `jobs: 4`) entry.
2. Need to set env var `GHC_ENVIRONMENT=-`, at least for the tests.
3. Need to install `shelltestrunner` via Cabal (`cabal install shelltestrunner`).
4. Need to ensure, somehow, that remnants of previous (2.6.1?) builds do not linger around to interfere with the current build or tests.

First two - I recom

[2020-06-24 17:41] asr commented on #4765
We need more tests before knowing what was the problem. I used `jobs: 4` because my machine has four cores.

I guess it is only needed if used Cabal v1-command for installing Agda upstream and Cabal v2-commands for other libraries and programs including released versions of Agda.

I guess you installed 2.6.1 with Cabal v2-commands.

[2020-06-24 17:49] asr commented on #4765
Patches to [HACKING.md](https://github.com/agda/agda/blob/48423ad9bc224d30c57fe766395c5a4aadbba702/HACKING.md) are welcome.

[2020-06-24 17:53] asr commented on #4765
This issue is large enough. If you open a new issue for the `jobs` problem, I have a couple of ideas I want to test.

[2020-06-24 17:53] #4765 closed, assigned to asr

[2020-06-25 20:59] andreasabel commented on #4776
Ok, but they are there.  It is no harm, as long as we do not rely on the `conFields` to determine whether we are dealing with a data or record constructor.  I suggest the following to make Agda more robust, and then remove all `null` checks for `conFields`:

[2020-06-25 21:05] andreasabel commented on #4777
You got the 777, @UlfNorell!

The question you raise is a very fundamental one:  How the different methods to solve metas should interact.

I could imagine a hierarchy (from lower to higher):
1. Unification
2. Instance search
3. Tactics

where "higher" methods utilize "lower" ones but not vice versa.

However, I lack practical experience with 2 and 3, thus my view isn't grounded in practice but ra

[2020-06-25 21:16] andreasabel opened #4780 "Error "Cannot resolve overloaded projection" should point to source of ambiguity"
[code]
reports
[code]
The error message should include pointers to where the ambiguity comes from.

[2020-06-25 21:24] andreasabel commented on #3734
TODO: improve an error as discussed in https://github.com/agda/agda/commit/99494ae7599d15907450d62f1e5a198c67311555#commitcomment-40175432.

[2020-06-26 04:08] Saizan commented on #4776
Is it useful to have them there though?

[2020-06-26 04:53] Saizan commented on #4776
Oh, I see, we discussed them at #4528 already, I wonder if that's fixed by the fix to #4775.

[2020-06-26 06:48] UlfNorell commented on #4776
I put them there at some point during the forcing refactoring, with the idea that evaluation of forced constructor patterns could use the projections. This turned out to be a bad idea in the end since you build up long chains of projections instead of simply taking the argument apart.

[2020-06-27 13:14] nad commented on #1625
Perhaps this regression should be investigated. Can you produce a small test case? In that case, please open a new ticket for it.

[2020-06-27 13:18] nad commented on #4703
Perhaps we could take the approach of Epigram 2, where you can use de Bruijn indices to refer to shadowed names. I don't remember the exact syntax, but I think it was something like the following: `(A : Type) (A x y : A) → A^1`. Here `A^1` means "the second thing called `A`".

[2020-06-27 13:21] nad commented on #4751
Can you explain the difference between the current approach and what you suggest?

[2020-06-27 14:21] nad commented on #4777
Perhaps we can try option 1 first, and see if anything breaks.

[2020-06-27 14:27] nad opened #4783 "Files that have just been type-checked are type-checked again"
I have noticed that with some recent version of Agda files that have just been type-checked in the Emacs mode are sometimes type-checked again when another file is loaded. I have observed this both with and without `--top-level-interaction-no-private`. I don't know if this problem is easy to reproduce.

[2020-06-27 16:23] nad opened #4784 "Make erasure compatible with univalence"
I managed to prove `(A ≃ᴱ B) ≃ᴱ Erased (A ≃ B)`, where `A ≃ᴱ B` is a type of equivalences with erased proofs, using an erased univalence axiom. If we could compile Cubical Agda this would mean that we could obtain a function of type `A → B` from nothing at run-time. This should not be possible.

Perhaps this is due to some bug in Agda, like #4727. However, perhaps Agda's current approach to erasur

[2020-06-27 19:35] nad commented on #4784
Consider the following type:
[code]
The following code is rejected:
[code]
It would have been accepted if the type arguments of `Σ` had been marked as erased.

Not being able to convert record types to nested Σ-types might in some cases be awkward.

[2020-06-28 11:19] nad opened #4786 "Should the parameters be marked as erased in the types of constructors and projections?"
Parameters are currently not marked as erased in the types of constructors and projections. Perhaps they should be.

It is sometimes possible to create variants of the constructors and projections with erased type arguments:
[code]
However, these variants cannot be used as patterns/copatterns. Furthermore this trick does not work for record types with `no-eta-equality` unless `pattern` is also use

[2020-06-28 11:31] EdNutting commented on #4729
Shall I go ahead then and add `[ci skip]` (and `[skip ci]`) as "if this is in the commit message, skip Travis and GH Actions"?

Edit: According to this page, `[skip ci]` (and variants) should already work for Travis (when included in the head commit message of a push): https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build

[2020-06-28 12:56] nad commented on #4784
I realised that the following code is still allowed, even if parameters are not always allowed to be erased:
[code]
The problem with this definition, as I currently see it, is that the implementation of the type function `Σ` uses erased inputs to construct its (not necessarily erased) output.

Perhaps it does not make sense to unconditionally allow erased names to be mentioned in the types of cons

[2020-06-28 13:30] nad commented on #4784
If definitions like `R` are allowed, then there is a workaround:
[code]
However, I am not keen on duplicating all the theory I have developed for Σ-types for `Σ₀` (with extra lemmas for properties like `(Σ A λ x → Σ₀ B λ y → C x y) ≃ (Σ₀ B λ y → Σ A λ x → C x y)`).

With some kind of modality polymorphism the duplication could presumably be avoided:
[code]
However, I do not (yet?) want to make Agd

[2020-06-28 15:42] asr commented on #4729
I haven't followed the discussion, but I use `[ci skip]` for skipping Travis but no GitHub workflows. What would I use instead?

[2020-06-28 16:42] EdNutting commented on #4729
@asr Continue as you do normally. The proposal is to add a check to the Github workflows so that `[ci skip]` will also skip the GH workflows (in addition to skipping Travis).

[2020-06-29 06:51] martinescardo commented on #1625
@nad It is difficult to make a small test case. It is not clear at all, to me, why the modifications I made to make this faster in the development version (it was already fast in the current version) should make it fast. This example deals with univalence, and I don't see how to shorten this, as even the formulation of univalence in itself is long. You can see that lines I changed to make it fast

[2020-06-29 11:37] zac-garby opened #4787 "File mode specification error when opening an Agda file in Emacs"
I've used Agda successfully in the past, but not for a while. I've installed the latest version via cabal (version 2.6.0.1) and I'm running Emacs 26.2, on macOS Catalina.

I've made a new blank Agda file, and when I open it in Emacs I get an error: `File mode specification error: (error Invalid byte opcode: op=183, ptr=9)`. The error seems to be coming from something called `agda2-highlight-set-fa

[2020-06-29 14:21] nad commented on #1625
OK, thanks.

[2020-06-29 18:36] andreasabel commented on #4787
https://emacs.stackexchange.com/questions/45371/error-invalid-byte-opcode-op-183-ptr-2

Maybe you have outdated `.elc` files?  Try `agda-mode compile`.

[2020-06-29 18:39] andreasabel commented on #4786
When originally implementing erasure, I did not have the guts to make parameters erased.  In particular, to not confront users with errors concerning erasure if they did not use erasure at all.
We might want to revisit the original decision now.

[2020-06-29 18:40] zac-garby commented on #4787
That hasn't fixed it, unfortunately. I also tried the command in one of those answers to delete all `.elc` files, still nothing.

[2020-06-29 22:17] andreasabel commented on #4787
Mmh, googling for the error only brought up pages that point to outdated `.elc` files.  It does not seem to be anything specific to Agda.  The only advice I can give now is to try suggestions that you find on pages connected to the "Invalid byte opcode" error.

[2020-06-29 22:25] andreasabel commented on #4729
I think `[ci skip]` would be sensible to also skip the github workflows.  @asr seems to use `[ci skip]` for only skipping travis, if I understand correctly?

[2020-06-29 22:33] andreasabel opened #4788 "Typechecker produces unsolvable constraints"
I would expect Agda to only do safe steps in constraint solving.  But in this example I get unsolvable constraints if I do not supply the hidden argument (`{B = ?}`) but type checking succeeds if I supply it (`{B = B}`).  This seems to contradict the mantra that Agda only picks unique meta solutions.
Agda solves the unknown with `?B = \ e -> B ?e`, but strangely, the new meta `?e` does not seem to

[2020-06-30 07:54] Saizan commented on #4784
It seems to me that to be compatible with univalence types like `Σ₀` and `D` and `_≃ᴱ_` should be marked as erased, so that they can be part of a path only in an erased context. Otherwise it won't make sense to assume they can be transported with.

On the other hand, --with-K should be compatible with an axiom saying that `Erased Set` is isomorphic to `Set`.

[2020-06-30 10:38] nad commented on #4784
This makes sense to me, if `_≃ᴱ_` refers to the variant with erased type arguments. Do you think the other variant is fine? This one can be expressed using `Erased` and regular type formers.

I assume that currently field and constructor types are treated in the same way as type signatures. For the purposes of erasure they should perhaps be treated like regular expressions.

Well, we erase all typ

[2020-06-30 11:14] Saizan commented on #4784
It should be, `Erased` is fine because the field is erased, so an erased type is enough to do the transport.

Yeah, we need something like that.

In fact I think the following is problematic too

[code]

and we should only allow

[code]

[2020-06-30 12:03] asr commented on #4729
Right.

[2020-06-30 12:34] zac-garby commented on #4787
I'll give that a go, and I'll try a few other things just in case. I'll leave the issue open for now just in case anybody else has the same problem but I'll let you know if I find a fix.

[2020-06-30 13:02] asr commented on #4787
After renaming the `.emacs` file which is the output of `agda-mode setup`?

[2020-06-30 13:32] nad commented on #4784
Presumably the following code is also fine:
[code]
Is it still fine to mention erased things in non-erased contexts in actual type signatures, as in the following example?
[code]

[2020-06-30 13:37] Saizan commented on #4784
Yes, both of those are fine. The second example works because type signatures are an erased context.

[2020-06-30 14:33] nad commented on #4784
OK. The problem with Π-types seems to have been introduced with the fix of #3853.