[2019-11-20 13:54] asr commented on #4216
Running `cabal-install` the first error I got is

[code]

This is also the error in Travis when using GHC 8.8.1 and `cabal-install 3.0.0.0`.

[2019-11-20 13:54] nad commented on #4216
I think the idea is to eventually deprecate `v1-install`, so I guess we should at some point make `v2-install` work.

[2019-11-20 13:56] jespercockx commented on #4212
Should we have a label for classifying these issues perhaps? That would make it easier to tell which issues should definitely not be bumped.

[2019-11-20 13:59] nad commented on #4212
I added the label `not-in-changelog` to some open issues related to `@0` (#3855, #4137, #4169, #4172, #4174, #4195, and #4200).

[2019-11-20 14:18] jespercockx commented on #4212
Ok, I've added them to the OP.

[2019-11-20 14:52] nad commented on #4212
Why not #3855? Oh, because it is an enhancement. Well, I think it makes sense to document `@0` before releasing it. (I guess that technically it was released with Agda 2.6.0, but it did not work, and it was not mentioned in the changelog.)

I removed the `not-in-changelog` label from this issue, because I guess it makes sense to include it in the changelog.

[2019-11-20 14:59] jespercockx commented on #3209
After the fix of #4037 (https://github.com/agda/agda/commit/3d0dc0b2c3a7933a2e4986d9a073fbde385c2ecd) you now get an error message:
[code]
Not much better than before...

[2019-11-20 15:00] #3594 closed, assigned to Saizan

[2019-11-20 16:22] #3964 closed, assigned to jespercockx

[2019-11-20 16:22] #4215 closed, assigned to jespercockx

[2019-11-20 21:14] gallais commented on #3209
It's actually worse than before: with a simple search and replace it was possible
to drop the prefix & get code that works. Now the interactive machinery will not
even split on the value, forcing you to guess what the cover actually is!

[2019-11-20 22:16] jespercockx commented on #3209
That's true :/ I took a look at this issue but I have no idea how to fix it. If it remains unfixed for the release perhaps it's better to revert the fix of #4037 for now.

[2019-11-21 10:01] nad commented on #3735
Here is a similar example. Agda incorrectly rejects the following code:
[code]
Error message:
[code]
Agda claims that the context, at the place of the final occurrence of `a`, is as follows:
[code]
Note that the module parameter `a` is claimed to not be in scope.

[2019-11-21 10:49] UlfNorell commented on #4124
Question: when eta-expanding a meta with tactic fields, should the tactic run on the fresh metas? Example:
[code]
Do we get unsolved meta for `y` or `y` = `true`?

I think we have to leave it unsolved, otherwise eta-expansion would lose solutions.

[2019-11-21 11:31] gallais commented on #3209
modified example:

[code]

[code]

suggests to me that we ought to add inverse scope lookups from
`old.a` to `new.a` when we trigger a `copyScope old new`.

[2019-11-21 12:15] #4053 closed, assigned to hborum

[2019-11-21 14:35] #3898 closed, assigned to UlfNorell

[2019-11-21 14:35] andreasabel commented on #3898
Seems to be fixed.

[2019-11-21 14:42] andreasabel commented on #2822
You can see the progress looking at the checked boxes.  The representation in the abstract syntax is not suitable for further processing, but nothing is implemented towards this.

[2019-11-21 14:51] andreasabel commented on #4189
Well, only you define both in the same module.

The present issue is that for constructor `c` of record `R` we may wish that `R.c` is a disambiguation of `c` without `c` being part of the record module `R` (because `R` is parameterized).

As you can see from the original report, it is confusing to see `R.c` but then not finding `c` in `R`.

Everything cannot be salvaged, but most of the old functi

[2019-11-21 15:39] jespercockx commented on #4037
As mentioned in #3209, the current solution is not ideal as it does not show what clauses were generated that lead to the out-of-scope constructor being used. After discussing with @UlfNorell, we decided to revert this fix. Instead, we should improve the error message that you get after case splitting to complain about the constructor not being in scope.

[2019-11-21 15:40] andreasabel commented on #4189
In a larger sense there is a confusion in Agda about _namespaces_ and _parameterized modules_, see #892.
[code]
(Read the utterance of the `N`s in a high pitched voice, and the one of `S` in a low one.)

Capitalizing on this existing confusion, we could see the record constructor in the same way as the open public:
[code]
Of course, you should not really refer to the parent module as it is not yet

[2019-11-21 15:46] #2589 closed, assigned to andreasabel, jespercockx

[2019-11-21 15:47] jespercockx commented on #2589
I finally managed to find the right angle to tackle this problem! Phew. I did some basic tests, but if someone would like to give it some more extended testing that would be very welcome.

[2019-11-22 03:45] L-TChen commented on #4177
The maximum heap settings has now been passed to GHC.
Also, on non-`master` branches, only one Agda is built with GHC 8.8.1 without the `-O0` option to run test suites. Others are built with `-O0` by GH Actions. The change should resolve the issue.

[2019-11-22 09:58] UlfNorell commented on #2902
Between the `--no-pattern-synonyms` and the change in #3879 I'm marking this as fixed.

[2019-11-22 09:58] #2902 closed, assigned to nobody

[2019-11-22 10:07] UlfNorell commented on #3805
Closing as duplicate.

[2019-11-22 10:07] #3805 closed, assigned to nobody

[2019-11-22 10:38] UlfNorell commented on #3329
Option 2 seems reasonable to me. I don't think it's a common use case to remove block comments using <kbd>C-c C-;</kbd>.

@nad can you do the experiment and check that it doesn't break highlighting of comments?

[2019-11-22 10:41] #4124 closed, assigned to UlfNorell

[2019-11-22 11:15] #3129 closed, assigned to nobody

[2019-11-22 14:57] UlfNorell opened #4228 "Wrong context for solved interaction point in generalized type"
Spawned from #3656. Test case reported by @nad.

[code]

[2019-11-22 14:58] UlfNorell commented on #3656
This doesn't seem to be a problem with give, but a problem with the context of solved interaction points. I filed #4228.

[2019-11-22 14:58] #3656 closed, assigned to nobody

[2019-11-22 15:26] #3606 closed, assigned to Saizan, UlfNorell

[2019-11-22 15:26] #3654 closed, assigned to UlfNorell

[2019-11-22 16:02] UlfNorell commented on #3695
The problem is that the meta standing for the generalized variable is eta-expanded. We prevent variable metas from being instantiated by freezing them immediately, but the fix of #658 (cc @andreasabel) ignores freezing for eta expansion.

There shouldn't be any need to eta-expand frozen metas (they will still be equal to their eta-expansion), and not doing it doesn't bring back #658.

[2019-11-22 16:11] #3698 closed, assigned to nobody

[2019-11-22 18:10] #3695 closed, assigned to UlfNorell

[2019-11-22 18:12] #3712 closed, assigned to UlfNorell

[2019-11-24 23:23] ice1000 commented on #4216
I'm building Agda with cabal 3.0.0.0 for weeks. It always work

[2019-11-24 23:27] ice1000 commented on #4161
Wow, I just see an Agda 2.6.0.1 mirror: http://homepage.divms.uiowa.edu/~astump/agda/

[2019-11-24 23:28] L-TChen commented on #4216
Can you make a GH Actions workflow using cabal 3.0 with v2-install? Just make sure that Agda is compatible.

[2019-11-25 00:02] ice1000 commented on #4216
How did you make the stack one? Is it just porting the `.travis.yml`?

[2019-11-25 00:11] L-TChen commented on #4216
Almost. GHC, cabal (2.0-3.0) and stack are all preinstalled already, so it should be simpler.

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners

[2019-11-25 21:54] nad opened #4234 "Bang patterns?"
I tried to make an implementation more modular by, roughly speaking, replacing some code of the form
[code]
(with several clauses) with something like the following code:
[code]
This made type-checking much slower, presumably because `large` was no longer hidden below a pattern. I tried to fix this by defining `f` in a different way:
[code]
Unfortunately this did not work, because the data type in

[2019-11-25 22:03] nad commented on #4216
Then perhaps the makefile could be updated to use `install` instead of `v1-install`. (Just dropping the `v1-` prefix does not work.)

[2019-11-25 23:09] L-TChen commented on #4216
It seems that by removing `doc/user-manual.pdf` from `extra-source-files` in `Agda.cabal`, it actually compiles https://github.com/agda/agda/commit/e956e9d356750c0fe92477c3ecbca70edaf56f2b/checks?check_suite_id=328447539

I haven't run the test suites with the compiled binary, though. Adding this workflow might be a good idea before revising Makefile? I am not able to revise Makefile this year any

[2019-11-26 03:40] asr commented on #4216
Yes. Please remove it. I'll add it back in the releases branches.

[2019-11-26 12:11] guillaumebrunerie commented on #4184
A low-tech way to do it is to look at the differences between the timestamps of the corresponding `.agdai` files. For instance `ls -hlt --full-time *.agdai` will list interface files by date, and by looking at the successive differences, you can figure out how long each of them took.

[2019-11-26 19:14] jespercockx commented on #3795
I have a fix incoming for the problem of checking confluence of simultaneously defined rewrite rules. The remaining problem regarding the unit type is #3871.

[2019-11-26 19:37] jespercockx opened #4235 "Replace Agda.Utils.NonemptyList with Data.List.NonEmpty"
Since GHC 8.0, the `base` package includes a module for non-empty lists: https://hackage.haskell.org/package/base-4.12.0.0/docs/Data-List-NonEmpty.html. We could use this to replace our own implementation of non-empty lists at `Agda.Utils.NonemptyList`.

[2019-11-26 20:44] #3233 closed, assigned to jespercockx

[2019-11-26 20:44] #3795 closed, assigned to jespercockx

[2019-11-26 20:45] jespercockx commented on #3233
For some reason the range was calculated by taking the head of the list of warnings, it should be fixed now.

[2019-11-27 10:35] UlfNorell commented on #3730
The problem is `--allow-unsolved-metas` in the presence of sort metas that are allowed to be instantiated to `Setω`. These have a `dummyType` as their target, which the serialization doesn't like. Shorter test case:
[code]
[code]

[2019-11-27 10:45] UlfNorell opened #4239 "Broken Travis build"
Travis has been failing for a long time (since splitting the test suite in multiple jobs?).

Compiler tests are failing because the standard library hasn't been initialized properly (`Everything.agda` not found). Usually `make library-test` takes care of this, but now that gets run in a different job.

Latex tests are failing for reasons beyond my comprehension.

cc @L-TChen

[2019-11-27 10:55] jespercockx commented on #3730
See also https://github.com/agda/agda/issues/1432

[2019-11-27 10:59] UlfNorell commented on #3744
Without the `where`-block:
[code]

@nad

Should abstract constructors not be in scope in private abstract type signatures? Should we then also not allow abstract function to reduce in these cases?

[2019-11-27 12:07] #3730 closed, assigned to nobody

[2019-11-27 13:39] L-TChen commented on #4239
Thanks, I see why it fails. I put it back to the same job. They were initially put together, but that job took much longer than others to finish.

LaTeX tests are failing since this https://travis-ci.org/agda/agda/jobs/614750594?utm_medium=notification&utm_source=github_status

It might be caused by the new option for the code environment, @nad ?

[2019-11-27 15:10] UlfNorell commented on #3779
Problem seems to be that our topological sort isn't stable.

[2019-11-27 15:33] nad commented on #3744
[Yes](https://github.com/agda/agda/issues/418#issuecomment-245261194):

[2019-11-27 15:39] nad commented on #4239
That test works fine on my machine. Is Travis not running the LaTeX compilers? That would explain the problem, because the golden value is `LATEX_COMPILE_FAILED with lualatex, xelatex, pdflatex`.

[2019-11-27 15:54] L-TChen commented on #4239
https://github.com/agda/agda/blob/4a84eb259281887de454dd85e0a671a64fedf30a/.travis/cabal_script#L17-L21

That might be the reason. It seems LaTeX compilers haven’t been run on Travis for ages, and the revision did not touch this part.

Given #1675, Travis should not run LaTeX compilers either.

[2019-11-27 16:09] L-TChen commented on #4239
This one is fixed now, see https://travis-ci.org/agda/agda/builds/617763622.

[2019-11-27 16:57] UlfNorell commented on #3779
See https://gitlab.haskell.org/ghc/ghc/issues/14880 for the same issue in GHC, which @goldfirere had actually told me about, but I had forgotten.

[2019-11-27 18:45] #3779 closed, assigned to nobody

[2019-11-27 21:53] asr opened #4241 "Fail when running `cabal repl`"
I realised that there are `*.ghci` files for every supported version of GHC:

[code]
I'm not familiar using Agda from GHCi/cabal repl. Using `cabal repl` I got the following error:

[code]

@erydo, since you are the author of the '.ghci' files, I assigned you this issue.

[2019-11-27 21:55] asr commented on #3725
Missing `.ghci880` file.

[2019-11-27 23:04] ice1000 commented on #4239
I recommend disabling Travis build, because now we have github actions.

[2019-11-27 23:22] ice1000 commented on #4209
Status: for json interaction, the precise range is provided already.

[2019-11-28 00:29] L-TChen commented on #4239
The problem is not Travis itself, and moving all tests to GitHub does not solve the problem here.

[2019-11-28 00:33] L-TChen commented on #4239
@nad, can you revert the commit before sorting this out on another branch, or tentatively disable this specific test for the new option and leave a ticket?

[2019-11-28 02:01] asr commented on #3725
I added the file.

[2019-11-28 02:01] #3725 closed, assigned to asr

[2019-11-28 02:25] asr opened #4242 "Support GHC 8.10.1"
GHC 8.10.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2020-March/018729.html). I created this issue for collecting/reporting the required changes/issues.

Fixed issues (2020-04-13):
* geniplate-mirror (https://github.com/danr/geniplate/issues/12)
* polyparse (https://github.com/haskell-infra/hackage-trustees/issues/259)
* primitive (https://github.com/haskell/primitive/pull/255)
*

[2019-11-28 04:12] ice1000 commented on #4239
But Travis is slow. We may add test suite in GitHub Actions, completely supersede Travis.
Travis have maximum 8 (or maybe 10? I can't remember the exact number) jobs, while GitHub Actions don't seem to have parallel job limit.

[2019-11-28 06:39] ice1000 opened #4244 "Providing per-commit binary download & installation"
I wish Agda can be installed easily, say, without requiring a Haskell toolchain. Therefore I made #4243 as an initial attempt.

Agda requires stack/cabal not only for compilation, but also for the `lib/prim` stuffs, say, data directory. I've did a little research:

[code]

I found that Agda is using `getDataDir` provided by `Paths_Agda`:

[code]

The implementation of `getDataDir` tries to find `A

[2019-11-28 06:48] ice1000 commented on #4244
Instructions: https://twitter.com/ice1000kotlin/status/1199930037031620608 (also #4243)

[2019-11-28 07:38] UlfNorell commented on #4244
Just a note that if you want to compile and run your Agda program, you still need a Haskell tool chain (unless you are using non-GHC compiler backend).

[2019-11-28 08:14] ice1000 commented on #4244
I don't know about the Emacs and texticu parts. I don't yet have a computer with no texticu installed, can anyone help with that?

[2019-11-28 09:00] ice1000 commented on #4244
Ok. After some hacks, it worked. The TODO is to do my hacks on the CI.

The thing is you'll need to add some dlls:
![image](https://user-images.githubusercontent.com/16398479/69791996-a982ae80-1193-11ea-8ffa-cd02ac0d7acf.png)

[2019-11-28 09:30] UlfNorell commented on #3911
+1 for the builtin pragma option

[2019-11-28 09:49] L-TChen commented on #4239
The limit of concurrent jobs is 60.

However, only 400MB for each cache file is allowed on GitHub Actions, and running Agda’s test suites requires about 600MB via caching. I am not sure if the artefacts can be made smaller, though.

You can also work on your own fork and run Travis without problem now, since it will not exceed the time limit (50 mins). I think the limit of concurrent jobs is not a

[2019-11-28 09:52] ice1000 commented on #4239
Are we actually caching anything on GitHub Actions?

[2019-11-28 10:02] L-TChen commented on #4239
Not on GitHub Actions. It is used for splitting test suites in concurrent jobs on Travis.

[2019-11-28 10:08] UlfNorell commented on #3927
Currently [the documentation says](https://agda.readthedocs.io/en/latest/language/module-system.html):

And modifiers are explain above. I think that's reasonably clear.

[2019-11-28 10:10] ice1000 commented on #4239
Ok. I actually meant "are we actually caching anything on Travis", but made a very misleading typo 🤣 but thanks.

[2019-11-28 10:15] #3928 closed, assigned to nobody

[2019-11-28 10:30] UlfNorell commented on #3940
Closing as fixed.

[2019-11-28 10:30] #3940 closed, assigned to nobody

[2019-11-28 10:53] #3955 closed, assigned to nobody

[2019-11-28 11:07] #3807 closed, assigned to UlfNorell

[2019-11-28 11:08] #3791 closed, assigned to nobody

[2019-11-28 11:37] ice1000 commented on #4244
It now works for me on Windows

[2019-11-28 11:50] UlfNorell commented on #4040
8% seems acceptable to me.

[2019-11-28 11:50] #4040 closed, assigned to nobody

[2019-11-28 11:51] UlfNorell commented on #4051
Duplicate of #3730

[2019-11-28 11:51] #4051 closed, assigned to nobody

[2019-11-28 12:12] nad commented on #3791
Thanks.

[2019-11-28 12:43] poscat0x04 commented on #4244
[code]
It seems that the `agda-mode locate` contains a reference to the build directory

[2019-11-28 12:56] #4239 closed, assigned to nobody

[2019-11-28 13:16] poscat0x04 commented on #4244
nvm, the problem got solved after correctly setting the environment variable `Agda_datadir`.

[2019-11-28 13:42] ice1000 commented on #4244
I think there can be a better way to setup the executables, though

[2019-11-28 14:32] #4006 closed, assigned to nobody

[2019-11-28 16:20] L-TChen commented on #3749
Urgh, I am not able to fix this and to add corresponding tests for it, as I am not aware of how other backends work. Assigning this task to backend maintainers, if any, would be a better choice, I believe.

[2019-11-29 08:53] augustss commented on #3725
I'm absolutely fine with someone taking over geniplate.

On Tue, Jul 23, 2019, 06:22 Andreas Abel <notifications@github.com> wrote:

[2019-11-29 10:28] alexarice opened #4249 "copatterns not being reduced in interactive mode"
Consider the following example:

[code]
This has the following constraint given by emacs:
[code]
It seems that agda is not able to reduce `func (gComp ϕ ψ) x` to `func ϕ (func ψ x)` even though this is written on the line above. If I try to enter ϕ to the hole it complains that
[code]

Finally if I delete the hole and put ϕ there it happily type checks

[2019-11-29 16:25] rw111 opened #4250 "the official 2.6 version hello-world doesn't work with standard install on Ubuntu 18"
Zeroth time user here. Looks like it might stay that way!
Installed Agda both via Cabal AND then via apt as well in an attempt to get stuff working first one way and then the other - time to give up...same failure result occurs whichever method used, with same error output (slight difference in search path due to .cabal versus usr/share):

[code]

Things seem to all be in the wrong place, SINCE, i

[2019-11-29 16:40] gallais commented on #4250
I think the [documentation](https://agda.readthedocs.io/en/v2.6.0.1/getting-started/hello-world.html) should make it clearer that you need to have the
standard library installed and part of your `defaults` file for this compilation
command to work.

Cf. [Package system](https://agda.readthedocs.io/en/v2.6.0.1/tools/package-system.html) for a guide on how to install the stdlib & tell Agda
where to

[2019-11-29 18:01] L-TChen commented on #4250
This issue also suggests that we should consider releasing something equivalent to Haskell platform so that one can quickly start their journey in Agda by conventional installation methods.

One of difficulties of using Agda is the installation due to issues on different operation systems. The dependency on Emacs sometimes causes problems too. Package managers solve some problems of it, but not co

[2019-11-29 18:19] L-TChen commented on #3725
@augustss, I am happy to take this over if okay to you. `LTChen` is my account name on Stackage.

I have taken `geniplate-mirror`, so I think I will just move stuff back to `geniplate`.

[2019-11-29 19:30] asr commented on #3725
:+1:

@L-TChen, let me know when this happens.

[2019-11-29 20:29] sattlerc opened #4251 "Bad positivity check in record module"
On master (36b9448). Probably a duplicate of something.

[code]
Error messsage:
[code]

[2019-11-29 22:36] sattlerc opened #4252 "Interaction ids get conflated after iterated give"
Original title was: Internal error after iterated give: module application with postfix operator

On master (36b9448).

[code]
Giving the expression in the hole, then writing '? inv' in the new hole, and giving again yields the following internal error:
[code]
Note that the internal error does not appear with any of the following modifications:
* giving '? inv' via giving in the empty hole and the

[2019-11-30 07:32] ice1000 commented on #4250
@L-TChen have you looked at #4244? I was thinking about the same thing, and I was trying to make Agda easy to install -- say, can be installed in a self-contained and relatively small (smaller than a complete Haskell toolchain) binary distribution. We ca  then port the package manager and things to the installer, so it's more like a **normal** programming language.
However, I'm not very confident

[2019-11-30 07:37] ice1000 commented on #4250
Also, speaking of Windows, I've tested the binary distribution I created and it works like a charm. Although I don't have a chance to test Emacs.

[2019-11-30 13:44] rw111 commented on #4250
Any project with such a small community is going to have rough edges. Everybody understands that I hope. But just so you know Gallais' reply was sufficient for me to proceed (resolve this particular issue). Thanks. The quickest way to have enabled me (and therefore others) to hack it alone would have been some advice and hyperlinking between the two pages Gallais mentions, as I had no idea that I

[2019-11-30 21:04] ice1000 commented on #4250
You can contribute to the doc. It's under the doc directory of the root dir of this project.

[2019-12-01 10:25] nad commented on #4250
We could try to make the solution to the problem a bit easier to discover by changing the error message. I suggest that we add some information to the "Failed to find source" error message when the following conditions hold:
* No options related to search paths have been given (this includes at least `-i`, `-l`, `--library-file`, `--no-libraries`, and `--no-default-libraries`). This should be easy

[2019-12-01 11:18] nad opened #4253 "Regression related to generalisable variables"
The following code is accepted by Agda 2.6.0.1, but rejected by Agda 2.6.1-3ef9513:
[code]
Error message:
[code]
@UlfNorell, I think this is related to your recent changes.

[2019-12-01 11:20] nad commented on #4212
A new regression: #4253.

(Instead of manually listing things to fix in this ticket, wouldn't it be better to change the milestones of the things that we do not plan to fix before the release?)

[2019-12-01 11:23] jespercockx commented on #4212
I am planning to do this very soon, but as noted in the original post I wanted to give people the chance to pick up issues they want to see fixed before changing all milestones. Maybe it would make more sense to change all the milestones *first* and then change it back if necessary (something to think about for next release).

[2019-12-01 11:23] nad commented on #4189
@andreasabel, was there some problem with your fix?

[2019-12-01 11:38] #3724 closed, assigned to UlfNorell

[2019-12-01 11:38] jespercockx commented on #3724
Fixed by the new forcing translation.

[2019-12-01 11:39] jespercockx commented on #3714
@mortberg do you have time to work on this before the release later this month? If not, please update the milestone to 2.6.2.

[2019-12-01 11:41] jespercockx commented on #3693
@Saizan are you currently working on this? Please update the milestone to 2.6.2 if required.

[2019-12-01 11:43] jespercockx commented on #3645
@gallais are you planning to work on this before the release? If not, please update the milestone to 2.6.2.

[2019-12-01 12:02] nad opened #4254 "Internal error in clause compiler"
The following code is accepted by Agda 2.6.0.1, but rejected by Agda 2.6.1-3ef9513:
[code]
Error message:
[code]
If I tweak the code a little, then I can trigger an internal error:
[code]
[code]

[2019-12-01 12:03] nad commented on #4212
Another new regression: #4254.

[2019-12-01 13:06] jespercockx commented on #4212
Thank you to everyone for your hard work so far. I bumped all the remaining unassigned non-critical issues to 2.6.2 (except for a few that I assigned to myself). This leaves us with 40 remaining open issues, of which:

- 10 are unassigned critical issues
- 12 are assigned to myself
- 4 are assigned to @andreasabel
- 3 are assigned to @UlfNorell
- 2 are assigned to @asr
- 2 are assigned to @gallais

[2019-12-01 17:01] jespercockx commented on #3759
I changed the default RTS options to `-H3.5G -M3.5G -A128M`. I do not know how to change the settings depending on 32/64 bit or on the total amount of memory available.

The current error message when the heap is exhausted is as follows:
[code]
This looks acceptable to me.

[2019-12-01 17:10] nad commented on #4254
Bisection points to 717e7112b24efd00ad6d81cc33da011690aaed2e ("Mark matches on eta-records as lazy").

[2019-12-01 17:18] jespercockx commented on #3877
I've removed the broken links for now. If someone knows how to fix them to point to the original files on github rather than the ones generated by Agda, feel free to do so.

[2019-12-01 17:26] nad commented on #3759
Did you intend to set a *minimum* heap size (`-H3.5G`)?
[code]
And should the minimum allocation area be that large? The default is `1m`.

I use `-M1.5G` in the Emacs mode (on a 32-bit system).

[2019-12-02 08:28] Saizan commented on #3605
The original reported example looks fairly good now.

I'm leaving this up for improvements to the "interaction boundaries" machinery.

Such as propagating boundaries through introductions and other possible cases.

[2019-12-02 20:17] sattlerc opened #4255 "Hole filler accepted, but type check error on reload"
On master (36b9448).

[code]

Agda accepts the given hole fillers, but complains on reload, for example in case of the first hole:
[code]

[2019-12-02 20:31] andreasabel commented on #4255
The current error appears at version 2.5.4.  Before that, it was worse:
[code]

[2019-12-02 20:46] sattlerc opened #4256 "Give triggers internal error"
On master (36b9448).
[code]

Giving triggers the following internal error:
[code]

[2019-12-02 20:52] andreasabel commented on #4251
In this concrete example, the record module mechanism is to be blamed, the problem goes away if you do not put the definition into the pseudo-record `Span`.  However, the same problem can be produced with a `where`-module.  The problem could be that with a where-module, the definitions are suddenly considered mutually recursive, changing the positivity analysis.  The problem is not reproducible by

[2019-12-02 21:01] andreasabel commented on #4256
This worked fine until 2.6.0.  In principle, the offending patch can be found with agda-bisect, however, since this is an interactive error, the expert mode of agda-bisect is needed.

[2019-12-02 21:23] andreasabel commented on #4189
Famous last words, I'd say.  The attempt #4219 brought back the problems described in #282, namely, the "cannot resolve ambiguous constructors targeting the same type".  If I coutinue from here, I will reinvent the `OnlyQualified` hack or something similar.  Thus, I shall leave this issue alone and settle with the removal of the qualified record constructor feature, the original solution to the OP

[2019-12-02 21:23] #4189 closed, assigned to andreasabel

[2019-12-03 07:25] andreasabel commented on #4205
MWE:
[code]
The internal error exists already in Agda 2.4.2.4 (this is the oldest version I have installed).

[2019-12-03 08:19] #4205 closed, assigned to andreasabel

[2019-12-03 08:19] #4200 closed, assigned to andreasabel

[2019-12-03 10:50] nad commented on #4251
Issue #3592 might also be related.

[2019-12-03 10:56] nad commented on #4256
Search the issues for `runAgda` for examples of how issues related to interaction can be handled by `agda-bisect`.

[2019-12-03 11:12] nad commented on #4172
I think we should settle for something conservative now. I suggest that we allow pattern matching for erased arguments in non-erased contexts if the following conditions are satisfied:
* Either the type is not indexed, or `--with-K` is active.
* The case tree contains at most one case. This means that the following code is OK (if the K rule is active):
[code]
Does this sound reasonable, or should

[2019-12-03 11:24] nad commented on #4169
The offending code:
[code]
The problem is that the penultimate lambda abstraction should have type `AgdaAny`. @andreasabel, should your fix be applied also for constructors?

https://github.com/agda/agda/blob/cf761094d13267dc87f13527ca6af2b545136033/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L530

https://github.com/agda/agda/blob/cf761094d13267dc87f13527ca6af2b545136033/src/full/Agda/Compiler/MAl

[2019-12-03 11:31] nad commented on #4169
I tried replacing the final occurrence of `coe` above with `hsCoerce`, and that did not seem to work.

[2019-12-03 11:39] nad commented on #4169
Correction: It did seem to work (after I removed an outdated file).

[2019-12-03 12:43] nad commented on #4009
If this bug only affects `ShadowingInTelescope`, then it is a bug in a feature that has not been released yet. In that case we should perhaps fix it before the release. @gallais, what do you think?

[2019-12-03 12:50] nad commented on #3989
Consider the following code:
[code]
Now the first `A` is highlighted with the "dead code" background colour. Is there some way to turn off this highlighting without turning off the highlighting of dead code? I think this kind of highlighting should be turned off by default, mainly because it also appears in generated HTML code, where I think it draws too much attention to a minor detail.

[2019-12-03 12:54] nad commented on #3759
I think we can agree to set a *maximum* heap size. Perhaps we should leave it at that.

[2019-12-03 13:33] nad opened #4259 "Internal error in clause compiler"
The following code triggers an internal error for Agda 2.6.1-cf76109, but is accepted by Agda 2.6.0.1:
[code]
[code]
Possibly related: #4254.

[2019-12-03 13:40] nad commented on #4169
The test suite is happy. Is the fix "correct"? Can one break anything by coercing more? In that case the fix does at least not break anything. However, perhaps we should add even more coercions.

[2019-12-03 14:42] nad opened #4260 "Incorrect highlighting"
I have noticed that the current development version of Agda sometimes generates incorrect highlighting. My guess is that some range is incorrect, because highlighting ends up where it shouldn't be (for instance in comments). Unfortunately the problem seems to be hard to reproduce. The problem can perhaps be triggered in the following way (using Agda 2.6.1-cf76109):
[code]
In the file `html/Fin.htm

[2019-12-03 18:53] xekoukou commented on #4170
Simplified version :
[code]

[2019-12-03 21:34] L-TChen commented on #4239
@ice1000, I think it is actually possible to move the rest of testing to GitHub Actions. Since the limit is 400MB *per* cache file, we can cache dependencies and the local Agda build separately.

It may not save us significantly more time, though. There are some overhead you need to pay for each job such as booting the virtual machine, fetching cache files, updating the package index (maybe option

[2019-12-03 21:36] ice1000 commented on #4239
I wish I have. Let's see.

I didn't get -- what do you mean by "some libraries"? Is that the builtin packages, or the standard library? I've already done the builtin library packing.

[2019-12-03 21:58] jespercockx commented on #4239
It would be nice if we could run tests for a larger set of external libraries once per day to get a more comprehensive view on recent breakage. Some libraries that could be included:

- agda-hott (https://github.com/HoTT/HoTT-Agda)
- agda-prelude (https://github.com/UlfNorell/agda-prelude)
- some/all of the libraries by @nad (http://www.cse.chalmers.se/~nad/software.html)
- Iowa Agda Library (http

[2019-12-03 23:16] L-TChen commented on #4239
I was thinking of the standard library, Ulf's agda-prelude, etc. as @jespercockx mentioned.

One caveat about uploading the artefact produced by GitHub Actions---these builds are currently compiled with `-O0`, so they may not be very practical to use. If you move everything to GitHub Actions, then it makes sense to store the artefact produced by this job https://travis-ci.org/agda/agda/jobs/620133

[2019-12-04 02:52] chiaki-i commented on #4143
It turned out that the problem occurs even before the `runTC` macro is executed. If I define:
[code]
and execute it (`C-c C-m`) in `Nat-param` module as follows:
[code]
I get the following error:
[code]

What is the problem here?

[2019-12-04 05:49] ice1000 commented on #460
It's not. `_` solves goals by unifier, while agsy is a separated tool

[2019-12-04 07:06] m0davis opened #4261 "Order of arguments affects lambda pattern matching"
In the following, Agda accepts one but not the other, yet the only difference is the order of arguments. I believe both should be accepted. Here's the MWE:
[code]
The error is:
[code]
I'm using the latest from `master`, compiled via `stack` with `GHC 8.6.5`.

[2019-12-04 08:02] UlfNorell commented on #4261
Surprisingly,
[code]
produces yellow (but no useful constraints) rather than the above error.

Related #4167

[2019-12-04 08:27] andreasabel commented on #4169
I guess the way to go about discussing this question is making a PR.

Anyway, since it is not clear what harm extra coercions would do, it seems safe to push your fix.

[2019-12-04 09:19] jespercockx commented on #3759
I just copied the settings that are used for the standard library tests (https://github.com/agda/agda-stdlib/blob/master/.travis.yml#L67) because they looked reasonable to me. This was very close to what whas also suggested by @WolframKahl and it seems to work well on my system, so I'm not sure what the problem is. Maybe if you know better default values you could adjust them yourself?

[2019-12-04 09:23] UlfNorell commented on #3759
Does setting a minimum heap size make a big difference? (ping @WolframKahl) It's seems silly to force people that don't have a lot of memory to fiddle with RTS options to be able to run Agda at all.

[2019-12-04 09:39] UlfNorell commented on #4067
The culprit here is the way we handle blocked terms.

When the user writes a term `t : A` and we expect something of type `B`, but `A = B` cannot be solved at the moment, we replace `t` by a fresh meta variable `X : B` and add a constraint `X = t` guarded by `A = B`. Thus once we know `A = B` we can go ahead and solve `X = t`. However, `X` is a free metavariable that can be solved by unification.

[2019-12-04 10:55] UlfNorell commented on #4067
Test suite goes through, but I get a bunch of unsolved constraints in http://www.cse.chalmers.se/~nad/repos/equality/ (master@da311d9). @nad can you check the `issue4067` branch and see if those constraints are reasonable?

Some of them might print funny (e.g. `section = section`) since @Saizan's change to instantiate blocked terms before printing constraints, but ignore those.

[2019-12-04 11:14] nad commented on #3759
[code]

The point of setting a minimum heap size is presumably that you avoid growing the heap. However, always allocating gigabytes of heap (even for running `--help`, say) seems rather pessimistic to me.

[2019-12-04 12:17] UlfNorell commented on #3912
Most likely a duplicate of #3695. Reopen if required.

[2019-12-04 12:17] #3912 closed, assigned to UlfNorell

[2019-12-04 12:37] #3735 closed, assigned to UlfNorell

[2019-12-04 13:52] UlfNorell commented on #4253
Indeed, the new sorting algorithm (#3779) fails to sort `f a A` given constraints `a → A → f`. Here's a test case where all three variables are explicit:
[code]
I'll see if I can fix the implementation.

[2019-12-04 14:18] nad commented on #4169
I've pushed the fix and the test case. Unfortunately the test case fails for the JS backend:
[code]
Here is the generated definition of `exports.M.⊥-elim`:
[code]
Perhaps someone who knows more about JavaScript can fix this problem. (I have disabled the test case for the JS backend.)

[2019-12-04 14:18] nad commented on #3759
I have (temporarily?) removed the `-H` and `-A` options.

[2019-12-04 16:07] L-TChen commented on #4212
The issue #4072 is blocked by the license issue, and I don’t really know how to progress it further. Otherwise everything else is ready. It would be nice if @nad could kindly give me a hand.

I hope it can make contributing to Agda or the standard library more accessible to more people.

[2019-12-04 17:44] nad commented on #4212
That code has presumably been released under the same licence as Agda. (At least that was my intention, I have not asked other contributors.) However, I am still sceptical towards moving `fix-agda-whitespace` to a separate repository, as documented in the ticket.

[2019-12-04 17:46] nad commented on #4067
That file is easy to fix, just replace
[code]
with the following line (and add `{p = p}` to the left-hand side):
[code]
However, fixing the lemma `dcong≡hcong` in `Equality.Path.Isomorphisms` is less trivial. The following code type-checks quickly:
[code]
If I fill the hole with the given term, then Agda quickly accepts the code. However, reloading takes a lot of time, or fails to terminate.

[2019-12-04 17:56] nad commented on #4067
An aside: If I turn on `--no-syntactic-equality`, then there are unsolved constraints in many type signatures in that file. The option is described as a shortcut, and I thought that the idea was that, ignoring efficiency (and reflection, I guess), Agda should behave exactly the same with `--no-syntactic-equality` on or off. However, perhaps that is too much to hope for.

[2019-12-04 18:09] nad opened #4265 "Unsolved constraints when --no-syntactic-equality is used"
Agda does not accept the following code:
[code]
Unsolved constraints:
[code]

[2019-12-04 18:10] nad commented on #4067
I opened a new ticket for the issue with `--no-syntactic-equality` (#4265).

[2019-12-04 18:21] xekoukou commented on #4170
The problem seems to be caused because of the postulate.

[code]

Uncommenting the code above gives this debug message :
[code]

[2019-12-04 19:13] L-TChen commented on #4212
Okay, thanks. Now I put it into the ice box, so I don’t have any open issue assigned to me for now.

[2019-12-04 19:16] gallais commented on #4260
Is this #4123?

[2019-12-04 19:31] jespercockx commented on #4265
It would be easy to add this rule to the conversion algorithm, but it's unexpected that it is needed at all. This calls for some further investigation...

[2019-12-04 21:54] nad commented on #4260
Right, I had forgotten about that ticket. Note that the problem does not only affect the HTML backend.

Do you have a test case suitable for use with `agda-bisect`? My test case is not accepted by Agda 2.6.0.1.

[2019-12-05 08:56] #4253 closed, assigned to UlfNorell

[2019-12-05 09:01] UlfNorell commented on #4067
This might be worthwhile, but since it's a non-trivial change of the internals I'm not comfortable doing it so close to the release.

Also, it's not really a regression. Different versions of Agda will just drop the user code in different cases, so bumping it to 2.6.2 is the right move.

[2019-12-05 09:34] gallais commented on #4009
IIRC there is some logic in the serialiser to remove duplicated warning messages.
This may be it. I'll try to grab @fredrikNordvallForsberg to have a look at it
together.

[2019-12-05 09:42] Saizan commented on #4072
`fix-agda-whitespace` could be kept fairly easy to change by having it as a submodule like the standard library.

Some care needs to be taken for agda's Makefile to use the specific version from the submodule, but cabal's `--program-suffix` should help.

[2019-12-05 11:53] UlfNorell commented on #4149
Or quite possibly, there is a bug somewhere else that gets exposed by generalize... Here is a test case without generalizable variables or instance arguments:

[code]
The problem is in metavariable pruning. Specifically when pruning a meta multiple times. Here

https://github.com/agda/agda/blob/7c91c66e01e69f25402589646a1246483d1e8445/src/full/Agda/TypeChecking/MetaVars/Occurs.hs#L972-L977

we cre

[2019-12-05 14:16] #4149 closed, assigned to UlfNorell

[2019-12-05 17:20] xekoukou commented on #4170
@UlfNorell Could you have a look at this?

[code]

The debug output is this one :
[code]

[2019-12-05 18:34] UlfNorell commented on #4170
Looks like something goes wrong with the tactic argument even if you don't use it...

This also loops:
[code]

But turning `w` into a regular implicit argument and calling `runT test` does not.

[2019-12-05 18:38] UlfNorell commented on #4170
Also, can you edit the debug output so it isn't 1 million lines long? The fact that it's adding more and more `{w : World}` to the context is interesting, but we don't need to see all the debug output from that.

[2019-12-06 04:26] WolframKahl commented on #3759
I'd say that for general usage, a sizable minimum heap could indeed be wastful to harmful in many cases.

In general, increasing -A probably only makes sense with a larger heap.

And in my experience, every load has a different ``sweet spot'':
When I gave the standard library the options I used for my larger tasks,
it typechecked slower than necessary.

A few sample runs of a Haskell program invoc

[2019-12-06 08:48] nad commented on #3759
OK, let's go with just `-M`, then.

[2019-12-06 08:48] #3759 closed, assigned to jespercockx

[2019-12-07 01:42] sattlerc opened #4267 "File order of checking matters (record disambiguation)"
On master (36b9448).

Create files A0.agda, A1.agda, B.agda, and C.agda with the following content.
* A.agda:
[code]
* A1.agda:
[code]
* B.agda:
[code]
* C.agda:
[code]

Removing all interface files and running `agda C.agda` gives an error:
[code]

Removing all interface files and running `agda B.agga` followed by `agda C.agda` goes through:
[code]

It looks like the code doing disambiguation of `

[2019-12-07 01:49] sattlerc commented on #4267
Here is a simplified example.

* A0.agda:
[code]
* A1.agda:
[code]
* B.agda:
[code]
* C.agda:
[code]

[2019-12-07 12:59] sattlerc opened #4268 "Give failure with large quantification"
On master (c8a3cfa).

Consider the following code:
[code]
When giving the expression in the hole, Agda complains:
[code]
Presumably, this has to do with the sort of the inner type hole not being determined. However, Agda happily fills in `(x : A) → ?`. Shouldn't this be consistent?

[2019-12-07 15:29] sattlerc opened #4269 "Universe levels are not solved"
On master (c8a3cfa).
[code]
Checking yields the following:
[code]
Should the level metavar not be solved to i? It seems the mutual mechanic works differently for level metavars than for normal metavars.

Relatedly (second issue), I got the following set of constraints in a larger development:
[code]
Here, I would expect the level solving algorithm to deduce `_i_537 ≥ lmax j j'` from the second equ

[2019-12-07 21:00] #3882 closed, assigned to jespercockx

[2019-12-07 21:51] #4005 closed, assigned to jespercockx

[2019-12-07 21:55] jespercockx commented on #3995
@gallais could you take a look?

[2019-12-07 21:57] jespercockx commented on #4172
The first option looks reasonable to me.

[2019-12-07 21:59] jespercockx commented on #4174
@andreasabel since you wrote the comment in question, could you take a look at this?

[2019-12-07 22:04] jespercockx commented on #4261
@andreasabel what's a maculata?

[2019-12-08 05:24] MatthewDaggitt opened #4271 "Make module names into links in error messages"
Many error messages refer to other modules besides the one that you're trying to type-check. For example if you refer to a module who's declaration doesn't match the file name you get the following error.
[code]
At the moment I have to manually navigate to problematic module to fix the problem. It would save a lot of time if `Function.Metric.Nat.Core` was a clickable link that would take me straig

[2019-12-08 05:39] MatthewDaggitt commented on #4271
Here's another one:
[code]

[2019-12-08 10:53] jespercockx commented on #4032
I forgot to raise the bound variable itself when eta-expanding in https://github.com/agda/agda/blob/9c1302d911f8676e3b71bf113993c209bdad83d3/src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs#L322 :">

Fix incoming.

[2019-12-08 11:11] #4032 closed, assigned to jespercockx

[2019-12-08 11:25] jespercockx commented on #4038
I tried again and now I don't get the level error anymore. Weird. Anyway, I have a fix incoming for the original problem (missing reduction for terms with metavariables). If you notice the problem with the levels again, please open a new issue for it.

[2019-12-08 11:39] #4038 closed, assigned to jespercockx

[2019-12-08 15:26] gallais commented on #3995
Case-splitting of `with` in the presence of `rewrite` was already broken.
I suspect it's the same sort of issue and I have no idea how to fix it.

Regarding the test case, I don't necessarily agree on the fact that it
should produce only the `suc` case: by abstracting over `x` you have
forgotten its value.

If we had something like the inspect idiom (#4048), you could write something
slightly diff

[2019-12-08 20:24] andreasabel commented on #4267
I don't find this behavior surprising given how record type guessing is implemented: https://github.com/agda/agda/blob/4f3156b40ea931911c624010df12f1ba56921dc9/src/full/Agda/TypeChecking/Records.hs#L133-L148
It ignores scope entirely.  This has been since the original implementation of the feature in 5ada65958250c45929ca27d46277f14e035eefd5 .

One problem in fixing is that one cannot really use sc

[2019-12-08 21:23] andreasabel opened #4272 "Architectural problem: unhygienic import handling, lack of sandboxing"
This issue points out a general problem in way Agda handles `import`s:
The state accumulates the signatures of imported modules in a component `stImports : Signature`.  This way information from previous imports may leak into the type checking process of later imports.

Instead, when checking
[code]
the checking of module `B` should happen in a sandbox such that information from `A` cannot flow ac

[2019-12-08 21:40] andreasabel commented on #4267
PR #4273 fixes this issue by requiring record types for record expressions to be in scope.

[2019-12-08 22:00] andreasabel commented on #4271
The "clickable link" is produced by emacs when parsing the error message.
So, for the sake of making your request more concrete:  are you suggesting to print file pathes and location of the module header along with the module name?

[2019-12-08 22:52] #4158 closed, assigned to jespercockx

[2019-12-09 10:18] andreasabel commented on #4267
After the change, the following still works:  First, an imported module, declaring a record type:
[code]
Then, in the main module:
[code]
Thus, even though we cannot write the type `Issue4267.M.R`, Agda can infer it.

This behavior seems conservative enough.  I am going ahead and commit the PR.

[2019-12-09 10:47] andreasabel commented on #4268
Try refine, then you get (rofl):
[code]
Creating unsolvable problems does not seem to hinder `give` in general.

[2019-12-09 12:39] MatthewDaggitt commented on #4271
Well I have to confess I'd kind of assumed there would be something similar to markdown/html link syntax in emacs, e.g. in markdown [Agda](https://wiki.portal.chalmers.se/agda/pmwiki.php) is written as `(Agda)[https://wiki.portal.chalmers.se/agda/pmwiki.php]` so that the actual path (which may be very long if you don't keep your libraries near the top of your file system) wouldn't be displayed.

B

[2019-12-09 13:06] jespercockx commented on #4271
It seems it is possible to define clickable text in Emacs without showing the full path (https://www.gnu.org/software/emacs/manual/html_node/elisp/Clickable-Text.html). However, this requires a higher elisp skill level than I currently possess (which is not saying much).

[2019-12-09 13:33] sattlerc commented on #3727
Relatedly, it would be nice if instead of
[code]
one could write
[code]
This should have the same meaning as
[code]
where Dummy is a fresh module name.

I wonder if the changes introduced by the referenced pull request could be adapted to this situation.

EDIT: I guess a simpler translation is
[code]
However, `open module Dummy params = M args` is a valid let-declaration (as would the nameless var

[2019-12-09 16:01] guillaumebrunerie opened #4274 "Efficiency issues with Prop"
**Summary:** _There are some more efficiency issues with `Prop`, but I’m having trouble minimizing them, so I’m posting a description of the original problem and some benchmarks (with and without a hack which should theoretically not make any difference)._

In https://github.com/guillaumebrunerie/initiality, we are using the following "hack" to prevent elements of propositions from being reduced.

[2019-12-09 16:45] jespercockx commented on #4274
Thank you for the detailed description of the problem and the benchmarks, this is very valuable. I will look into it when I have some time.

For now, I want to remark that the trick with the `kill` function is not preserving the semantics 100%: it postulates that any proof of a `Prop` can always be replaced with another proof that *does not use the variables in the context*. This actually makes a

[2019-12-09 17:04] jespercockx commented on #4274
One other thing we could do is be pessimistic and assume that a proof of a `Prop` always depends on *all* variables in the context. This seems quite extreme on first sight but it could be worth trying out.

[2019-12-09 22:46] ghost opened #4275 "limitation of using a module to create a record"
Hello, everyone!

I have been working on a “core library” for Agda, and I have been very extensively using the `record { ModuleName }` feature. The problem is that it has some limitations:

+ Functions need to have a placeholder `f : _` to be able to use parameters effectively (or alternatively be defined using lambdas).
+ Implicit fields cannot be referred to without a placeholder `v : _` signatu

[2019-12-10 10:33] guillaumebrunerie commented on #4274
Indeed. There is actually also a simple proof of inconsistency exploiting termination checking :grimacing:
[code]

Wait, do you mean never solving implicit arguments in `Prop`? That does not seem like a good idea :) We’re using quite a lot of implicit arguments in `Prop`.

My impression is that it’s not so much a problem of proofs being present in the internal syntax, but that they are sometimes b

[2019-12-10 10:43] jespercockx commented on #4274
That's a good point, but I have no idea what would cause the problem otherwise (especially since all proofs are wrapped in a `dontCare` now). The rewriting machinery is (since this spring) completely type-directed and no longer relies on full normalization. It might be worth it to hunt down other uses of `normalise` in Agda's source code and see if they might cause the problem, though.

[2019-12-10 10:56] jespercockx commented on #4274
Here are some potentially problematic use cases of `normalise`:

**With abstraction**

https://github.com/agda/agda/blob/f83832c7cb10ee208c5b96db669e22363be9fdd9/src/full/Agda/TypeChecking/Rules/Def.hs#L927-L931

https://github.com/agda/agda/blob/f83832c7cb10ee208c5b96db669e22363be9fdd9/src/full/Agda/TypeChecking/Rules/Def.hs#L1028

**Universe polymorphism**

https://github.com/agda/agda/blob/f838

[2019-12-10 11:00] guillaumebrunerie commented on #4274
I have just pushed a new branch called `nat-benchmark` (https://github.com/guillaumebrunerie/initiality/tree/nat-benchmark) where I removed a lot of things in `contextualcat.agda` that are not needed for the tests above. So the file `contextualcat.agda` should now typecheck much more quickly and the test results of the OP are unchanged.

[2019-12-10 11:11] guillaumebrunerie commented on #4274
We don’t use `with` (we use `rewrite` a couple of times, but in a mostly unrelated different file).

Looks like this is only normalizing levels and we’re not doing anything funny with those.

We don’t use `primEraseEquality`.

We do use reflection, but also in a mostly unrelated file.

Wouldn’t that show up in the `Termination` part of the profiling output?

Same as above, wouldn’t it show up in t

[2019-12-10 12:52] guillaumebrunerie commented on #4274
I disabled the uses of normalization in termination and positivity checking (`s/normalise/return/`) and it didn’t change anything.

[2019-12-10 13:31] guillaumebrunerie commented on #4274
I now tried to disable all the uses of normalization you mentioned in https://github.com/agda/agda/issues/4274#issuecomment-563980136, still no difference.

I think I am disabling them correctly, because I also tried to disable the `normalise` function itself by changing its definition (for terms) to `normalise v = return v` but then a bunch of files in `Agda.Builtin`/`Agda.Primitive` stopped work

[2019-12-10 14:16] JacquesCarette commented on #4274
I wonder if this has anything to do with `Prop` -- looking at the code that exhibits the problem, it's full of large records with particular patterns of dependent types, quite typical of category theory code. Over in agda-categories, we've also seen some files take a very long time to typecheck, and yet we don't use `Prop` at all.

[2019-12-10 14:22] guillaumebrunerie commented on #4274
Indeed, but the hope is that when using `Prop`, a lot of things should type-checker much faster and using less memory as they don’t need to be reduced anymore.

Maybe a more accurate description of the issue is not that `Prop` is inefficient, but rather that it does not seem to bring all the performance improvements that it could bring.

[2019-12-10 14:28] JacquesCarette commented on #4274
Right - if that's where the bottleneck is. Perhaps the problem is that the stuff that is taking time is elsewhere [for now], swamping the benefits that `Prop` could give. For example, any kind of quadratic processing of records (or even of long telescopes) would affect your codes a lot.

[2019-12-10 14:37] guillaumebrunerie commented on #4274
There still are two calls to `normalise` in `Rewriting.hs` though:
https://github.com/agda/agda/blob/f83832c7cb10ee208c5b96db669e22363be9fdd9/src/full/Agda/TypeChecking/Rewriting.hs#L230-L233
https://github.com/agda/agda/blob/f83832c7cb10ee208c5b96db669e22363be9fdd9/src/full/Agda/TypeChecking/Rewriting.hs#L250-L252

I am running now the following test (with `kill` enabled) _(Edit: simplified the c

[2019-12-10 14:47] guillaumebrunerie commented on #4274
Using the `kill` hack described here makes a big difference, whereas if elements of propositions were never normalized, it shouldn’t make any difference. So that’s why I believe it has something to do with `Prop`.
But of course, there can definitely be other things that take a long time as well, like some issue with records.

[2019-12-10 15:15] guillaumebrunerie commented on #4274
You can probably disregard this comment. The `kill` was not normalized, it was auto-inlined.

[2019-12-10 15:51] guillaumebrunerie commented on #4274
Actually, it seems like it is the auto-inlining of `kill` which is the reason why this hack is so efficient to begin with… So maybe it has indeed nothing to do with `Prop`, as @JacquesCarette suspected.

[2019-12-11 08:21] UlfNorell commented on #4170
The problem is that the tactic gets run again when type checking the `hole` meta in the `unify` call It's applied to `HQ`, which triggers implicit argument insertion and tactic execution when checked.

Need to think about how to fix this...

[2019-12-11 08:25] UlfNorell commented on #4170
In fact this is exactly #3019

[2019-12-11 09:55] UlfNorell commented on #3019
The problem in the OP is fixed by the fix to #4170, but it might still be nice to have the `withImplicitExpansion` combinator, so keeping this issue open.

[2019-12-11 10:50] #4170 closed, assigned to UlfNorell

[2019-12-11 12:12] #4254 closed, assigned to UlfNorell

[2019-12-11 13:14] UlfNorell commented on #4259
Goes away with `--no-forcing` so looks like a problem with the new forcing translation.

[2019-12-12 08:00] UlfNorell commented on #4259
Looks like the problem is that I didn't understand this code:

https://github.com/agda/agda/blob/ea4c2247b69f60846aca78a1d1ae675609d7ee50/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L994-L997

ping @jespercockx

[2019-12-12 08:48] UlfNorell commented on #4259
Ok, so fix is here #4278.

My understanding of the code is that if a solution step fails ("Cannot solve variable...") we normalise the solution and the variable telescope and try again. The problem was that the trying again only did `solveVar` skipping the forcing translation step. The fix reruns the entire `Solution` step from the top.

[2019-12-12 11:40] #4259 closed, assigned to UlfNorell

[2019-12-13 06:41] UlfNorell commented on #4228
This only affects completely solved holes and is mostly a cosmetic problem, so bumping to 2.6.2.

[2019-12-13 08:02] UlfNorell commented on #4256
The problem was that the termination checker tried to get the types of the functions to be termination checked applied to module parameters, but termination checking starts with a `inTopContext`, putting the current context and the current module out of sync.

Not quite sure why this was so hard to trigger.

PR: #4279

[2019-12-13 08:13] UlfNorell commented on #4169
Closing this and opening a new issue for the JS problem.

[2019-12-13 08:13] #4169 closed, assigned to andreasabel

[2019-12-13 08:14] UlfNorell opened #4280 "Test case for #4169 fails in JS backend"
Spawned from #4169

@nad wrote:
[code]

Here is the generated definition of exports.M.⊥-elim:

[code]

[2019-12-13 08:41] UlfNorell commented on #4195
This looks like a duplicate of #4174.

[2019-12-13 08:41] #4195 closed, assigned to UlfNorell

[2019-12-13 08:42] UlfNorell commented on #4174
See #4195 for a test case that does lead to segfaults.

[2019-12-13 09:01] #4256 closed, assigned to UlfNorell

[2019-12-13 09:18] UlfNorell commented on #4174
PR #4281 adds the modality check. I think the check is doing the right thing. If you have a metavariable that could be instantiated with an erased term, we *should* refuse to solve a non-erased argument to a term containing this meta.

cc @andreasabel

[2019-12-13 10:15] UlfNorell opened #4282 "Makefile loses exit codes"
cc @L-TChen @jespercockx

It looks like the standard library tests have been failing since 803aaae, but we haven't noticed since the Makefile doesn't fail properly on errors. Likely culprit: 621ef12e2.

[2019-12-13 10:25] #4282 closed, assigned to nobody

[2019-12-13 10:27] UlfNorell commented on #4282
Fixed by changing `;` to `&&` in the Travis fold logic script. This means it won't print an "end fold" marker on failures, but at least it will fail. @L-TChen I'm not sure if this messes anything up on Travis, maybe you can devise a better fix?

[2019-12-13 10:33] UlfNorell opened #4283 "DeBruijn issue(?) in standard library tests"
@jespercockx

It looks like 803aaae broke the standard library tests, but we didn't notice due to #4282. The error is
[code]
`A↔B` most certainly is not a level, so it looks like deBruijn shenanigans.

[2019-12-13 11:52] UlfNorell commented on #4283
Self contained (but not small) test case:
[code]
[code]

[2019-12-13 12:40] L-TChen commented on #4282
Thanks for the fix. I think there is no need to print a marker to close the fold on failures. Since this exactly the point you want to figure out where to find the failure.

Making these changes on Travis is really subtle ...

[2019-12-13 14:53] jespercockx commented on #4283
This is a curious problem. I assumed replacing `unsafeInTopContext` by `inTopContext` should be fine in most places, but apparently it is not. It seems something with module parameters is going wrong.

Here's my attempt so far at minimizing the problem further:
[code]

[2019-12-13 16:29] jespercockx commented on #4283
The problem seems to be related to the insertion of implicit patterns: with `--show-implicit -vtc.lhs.imp:50`, Agda says

[code]

[2019-12-13 22:28] asr commented on #4216
The issue is fixed for the final user which was my goal and the CI is using `cabal 3.0.0.0` (thanks @L-TChen) .

@L-TChen wrote:

I'm not planning to revise the Makefile. So, I renamed the issue, bumped its milestone and assigned it to @L-TChen.

[2019-12-13 22:42] asr commented on #4212
I need to catch up with all the recent changes to the CI as preparation for the release. I'll create the `release-2.6.1` branch from the current `master` and make the necessary changes to the CI (e.g. test with all the supported GHC versions) for releasing.

[2019-12-13 22:49] asr opened #4285 "Support GHC 8.8.2"
GHC 8.8.2 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2020-January/018466.html). I created this issue for collecting/reporting the required changes/issues.

[2019-12-14 00:47] asr commented on #3960
On the current master (29790fab3c71d1c92a09b4a589b02360c7ebaf20) I'm getting the following error in the original example:

[code]

[2019-12-14 01:58] asr commented on #4212
Travis is reporting the following [error](https://www.travis-ci.org/agda/agda/jobs/624858521) in the `release-2.6.1` branch:

[code]

Any idea what is wrong?

[2019-12-14 02:02] L-TChen commented on #4212
My bad. Please remove the bar `|` on https://github.com/agda/agda/blob/29790fab3c71d1c92a09b4a589b02360c7ebaf20/.travis.yml#L190

[2019-12-14 02:13] asr commented on #4212
Done. Thanks!

[2019-12-14 02:31] ice1000 commented on #4244
I think this is done in general

[2019-12-14 02:31] #4244 closed, assigned to ice1000

[2019-12-14 03:39] asr commented on #4212
@L-TChen, there are more [errors](https://www.travis-ci.org/agda/agda/jobs/624883720) related to the `.travis.yml` file reported by Travis on the `release-2.6.1` branch. Since we don't merge the release branches into `master`, you should fix the errors in `master` and merge `master` into `release-2.6.1`.

[2019-12-14 13:55] asr commented on #3736
Removed whitespace issue in the title (detected when running the `closed-issues-for-milestone`).

[2019-12-14 13:58] asr commented on #3882
Removed whitespace issue in the title (detected when running the `closed-issues-for-milestone`).

[2019-12-14 14:05] asr commented on #4012
Removed whitespace issue in the title (detected when running the `closed-issues-for-milestone`).

[2019-12-14 14:08] asr commented on #4154
Removed whitespace issue in the title (detected when running the `closed-issues-for-milestone`).

[2019-12-14 14:08] asr commented on #4205
Removed whitespace issue in the title (detected when running the `closed-issues-for-milestone`).

[2019-12-14 14:45] andreasabel commented on #4261
A feature that is buggy at its conception. :D https://en.wikipedia.org/wiki/Immaculate_Conception

[2019-12-14 15:14] andreasabel commented on #4235
There are a lot of things that can be non-empty, nonempty lists, nonempty sets, nonempty maps, nonempty intmaps...  Also, there was recently a discussion on the haskell library list advocating the suffix `1` for non-empty collections.
http://haskell.1045720.n5.nabble.com/Add-NonEmptyMap-and-NonEmptySet-to-containers-td5894493.html
Thus, I suggest these imports
[code]

[2019-12-14 17:12] asr commented on #4212
I added the [list](https://github.com/agda/agda/blob/master/CHANGELOG.md#list-of-all-closed-issues) of *current* closed issues to the `CHANGELOG`. Tell me if you find a missing or wrong listed issue.

[2019-12-14 17:36] #4283 closed, assigned to nobody

[2019-12-14 17:37] jespercockx commented on #4283
I found the problematic use of `inTopContext` and switched it back to `unsafeInTopContext`, it remains to find the real cause of the problem and switch to using `inTopContext` everywhere.

[2019-12-14 17:39] jespercockx commented on #4235
I think using the standard names from the Haskell libraries is probably more important, as this makes it easier for outsiders to understand the Agda codebase.

[2019-12-14 18:43] ice1000 commented on #4212
The CHANGELOG.md is way too big. I think it's good to split it (version-per-file or some-versions-per-file or something)

[2019-12-14 18:43] ice1000 commented on #4212
@asr do you have a script for generating the "closed issues" section?

[2019-12-14 22:39] asr commented on #2512
@ice1000 [wrote](https://github.com/agda/agda/issues/4212#issuecomment-565741888):

I still think we should follow the approach in the OP.

[2019-12-14 22:47] asr commented on #4212
Yes. I use the `closed-issues-by-milestone` program in `src/release-tools/` written by @andreasabel. For using the program, see [here](https://github.com/agda/agda/blob/master/HACKING.md#closed-issues-by-milestone-program). To know the closed issues reported in the CHANGELOG, see [here](https://github.com/agda/agda/blob/master/HACKING.md#closed-issues-reported-in-the-changelog).

[2019-12-14 23:29] asr commented on #3960
I added a test case using the fixed example [above](https://github.com/agda/agda/issues/3960#issuecomment-525688218).

[2019-12-14 23:44] asr commented on #4212
I realised the issues labelled `regression in master` should not be included in the CHANGELOG. I'll fix it.

If you want issues with label `XYZ` don't show up in the CHANGELOG, please added `XYZ` to the list https://github.com/agda/agda/blob/330dd010cf0f5c92bdcb8302d94b547e4dc0ea32/src/release-tools/closed-issues-for-milestone/Main.hs#L66-#L85.

[2019-12-15 00:16] asr commented on #4212
I updated the [list](https://github.com/agda/agda/blob/master/CHANGELOG.md#list-of-all-closed-issues) of closed issues in the `CHANGELOG`.

[2019-12-15 05:59] asr commented on #3295
I couldn't find documentation for the new pragma `NON_COVERING` in the user manual.

[2019-12-15 08:28] #4235 closed, assigned to nobody

[2019-12-15 10:15] jespercockx commented on #3960
I've come to a standstill on this issue:

- The first two examples only produce unsolved constraints but no hard error. Looking at the constraints it is not clear to me that Agda is actually supposed to be able to solve them.
- Examples #3-#6 seem to be related to eager insertion of implicit arguments and hence unrelated to `piSort`
- The final example has been fixed.

Since it is unclear what rem

[2019-12-15 10:54] jespercockx commented on #4261
The problem seems to be that Agda *tries* to postpone the typechecking of the lambda by blocking it on a meta, but the meta it tries to block on is not present in the meta store so Agda falls back to a hard failure instead. I'm not sure yet *why* the meta is not in the meta store, though.

[2019-12-15 12:33] asr commented on #3960
I'm getting the following error using [this](https://github.com/martinescardo/TypeTopology/) repository:

[code]

Is the above error related to the regression reported in the OP? The module `UF-Yoneda.lagda` is accepted by Agda 2.6.0.1.

[2019-12-15 14:30] jespercockx commented on #3960
I am unable to fix this problem without a more concrete example, so I'm unassigning myself.

[2019-12-15 15:29] sattlerc opened #4288 "Agda loops during scope check"
On master (4fa3134).

[code]
Agda loops and allocates progressively more space. The `private` keyword is only to make the module non-empty. Any other block or declaration triggers the bug as well.

[2019-12-16 00:44] asr commented on #4288
This is a regression. Using Agda 2.6.0.1 the error is:

[code]

[2019-12-16 09:18] pnlph opened #4289 "datatype scope and import guidelines"
When trying to solve goals i find a problem having to trace back imported datatypes.

At first i thought that it would make sense to include where the imported datatypes come from when showing the goal. Eg. ( i don't even know where is  ≡ defined in stdlib)
[code]
Then i though that the agda user who made the program (a problem with holes to be filled by a reader) could have used
`open import Data

[2019-12-16 11:11] gallais commented on #4289
In the stdlib we try to explicitly list imports if we are not using much.
I think this is indeed good practice.

[2019-12-16 11:16] asr commented on #3295
I'll add the documentation.

[2019-12-16 11:40] nad commented on #4212
I did not study the list carefully, but I noticed that #3856 is included. This is not a bug fix, and it is documented elsewhere in the changelog. Should issues like this be included? I suggest that we only include bug fixes for released features.

[2019-12-16 11:47] nad commented on #4289
I'm not sure what you mean. You can typically use the "go-to-definition" feature of the Emacs mode to find a symbol's definition. (This does not work perfectly when `open` `public` is used.)

[2019-12-16 12:37] asr commented on #2512
The size of Agda's CHANGELOG does not "harmonize" with Hackage. Below I list the 20 biggest changelogs files in Hackage from 14395 packages.

[code]

As you can see we are in the second place.

We can easily see the changes for every released version of a package in Hackage. Keeping changes for multiple versions is not necessary.

I'll split the CHANGELOG following the OP. I'll wait for objections

[2019-12-16 13:15] UlfNorell commented on #4289
I think the "Why in scope" (<kbd>C-c C-w</kbd>) command does what you want.
With `open import Data.Nat`:
[code]
With `open import Data.Nat.Base using (_^_)`:
[code]

[2019-12-16 13:50] nad opened #4291 "Incorrect names can be generated for generalised variables"
The following code should not be accepted:
[code]
Agda infers the following type for `g`:
[code]
The function `g` should not have an implicit argument called `B`.

[2019-12-16 13:58] nad opened #4292 "Internal error related to generalisable variables"
The following code triggers an internal error:
[code]
[code]
This is a regression, Agda 2.6.0.1 accepts this code.

[2019-12-16 14:18] asr opened #4293 "Documentation: Change the (Sphinx) role of the command-line options"
Currently we cannot create a link to the command-lines options in the user documentation because they are written as

[code]

By changing the role `:samp:` to `.. option::`:

[code]

we could create a link using something like

[code]

[2019-12-16 15:16] gallais opened #4294 "agda-mode: generate function template from type signature"
[code]

[2019-12-16 15:19] gallais opened #4295 "A variant C-c C-d for the identifier under the cursor"
A command that gets Agda to find and display the type of the identifier under
the cursor.

This should work in:

* [ ] Import lists
* [ ] LHS (locally bound variables!)
* [ ] RHS
* [ ] (module / data / record) parameters
* [ ] top level names

The last two are useful because it allows the user to request the normalisation
of said types via `(C-u)*`!

Whether it should also display the context if c

[2019-12-16 15:27] pnlph commented on #4289
Yes, the C-c C-w why in scope command in context of a goal is exactly what i was looking for. I sent a #4296 user manual update.

[2019-12-16 16:29] #4293 closed, assigned to asr

[2019-12-16 17:02] asr commented on #4212
If every new feature were documented in *both* the CHANGELOG and the user manual, we could use the section 'List of all closed issues' for listing only bug fixes. Unfortunately, this is not the case.

BTW, some times an entry in the CHANGELOG is more complete than the correspondent entry in the user manual (sometimes even there is no entry in the user manual). I think it should be the other way ar

[2019-12-16 19:48] #3295 closed, assigned to gallais

[2019-12-17 03:47] asr commented on #3960
It was [mentioned](https://github.com/agda/agda/issues/3960#issuecomment-525458110) by @nad that the following example is accepted by 2.6.0.1 but not by the current master (31fb0ae755ca3f267473d11d9874e464c0c2fb25):

[code]

Without changing implicit arguments by explicit ones, can someone replace *all* the underscores `_` by the missing types in the above example?

[2019-12-17 08:29] marco-vassena commented on #1549
@UlfNorell I must say that I have been bugged by this very often. Recently, I have tried to define some generic list-like container for typed values. The basic structure is the same as in @andreasabel example above (https://github.com/agda/agda/issues/1549#issuecomment-335400835), where the module parameter determines which module instance should be selected. Because of "overloaded constructors",

[2019-12-17 15:39] jespercockx commented on #2823
I've added the logo to the main page on the wiki. Is there anywhere else it should be added? And should we add a note about the logo in the changelog?

[2019-12-17 15:40] ice1000 commented on #2823
readthedocs.io maybe?

[2019-12-17 16:02] #4046 closed, assigned to ggreif

[2019-12-17 16:04] #4261 closed, assigned to jespercockx

[2019-12-17 16:11] asr opened #4297 "Missing documentation: NO_UNIVERSE_CHECK pragma"
The pragma `NO_UNIVERSE_CHECK` was added in 2.6.0 but it is not documented in the user manual.

After adding the documentation, please also add the pragma to the list in https://agda.readthedocs.io/en/latest/language/pragmas.html.

[2019-12-17 16:37] asr opened #4298 "Missing documentation: --confluence-check option"
The option `--confluence-check option` will be added in 2.6.1 but it is not documented in the user manual.

[2019-12-17 16:45] asr opened #4299 "Missing documentation: --no-projection-like option"
The option `--no-projection-like` will be added in 2.6.1 but it is not documented in the user manual.

[2019-12-17 16:48] #4297 closed, assigned to jespercockx

[2019-12-17 16:53] asr opened #4300 "Update documentation: --no-forcing option"
In 2.6.1 the option `--no-forcing` will be a pragma option. Please list this option in the section [Command-line and pragma options](https://agda.readthedocs.io/en/latest/tools/command-line-options.html#command-line-and-pragma-options).

[2019-12-17 16:54] jespercockx commented on #4298
Well, there is not even any documentation for `--rewriting`... I'll see if I can adapt the content of my recent blog posts on rewrite rules to the user manual.

[2019-12-17 16:55] jespercockx commented on #4298
It's annoying that the user manual uses `rst` rather than something more sensible like (pandoc-flavored) markdown.

[2019-12-17 16:57] asr commented on #4298
Right.

Great! Please do it!

[2019-12-17 17:06] asr opened #4301 "Incomplete documentation: --no-flat-split option"
The option `--no-flat-split` will be added in 2.6.1. The option is documented in the user manual, but it isn't listed in the section [Command-line and pragma options](https://agda.readthedocs.io/en/latest/tools/command-line-options.html#command-line-and-pragma-options).

[2019-12-17 17:09] asr opened #4302 "Missing documentation: --keep-pattern-variables pragma option"
The pragma option `--keep-pattern-variables` will be added in 2.6.1 but it is not documented in the user manual.

[2019-12-17 17:21] L-TChen commented on #4298
Sphinx actually supports markdown! Not sure what else to do if you'd like to use this feature, though.

http://www.sphinx-doc.org/en/master/usage/markdown.html

[2019-12-17 18:03] #4298 closed, assigned to jespercockx

[2019-12-17 22:50] #4299 closed, assigned to nobody

[2019-12-17 23:02] #4300 closed, assigned to nobody

[2019-12-17 23:21] #4301 closed, assigned to nobody

[2019-12-18 11:38] asr commented on #2512
Starting...

[2019-12-18 13:16] #2512 closed, assigned to asr

[2019-12-18 13:25] nad commented on #4295
For the Emacs implementation: One can attach information ("text properties") to text in the buffer. We already do this for the go-to functionality (use `C-u C-x =` to see the text properties). In this case I guess one could use some kind of unique identifier.

[2019-12-18 13:32] nad commented on #4212
If some new feature is not mentioned in the changelog, then this should be fixed, and adding a link to the bug tracker in the changelog does not make the user manual better.

I do not agree completely. In some cases I include some information in the changelog to explain, say, subtle changes to some command, whereas I do not include this information in the user manual because I feel that these subt

[2019-12-18 13:39] asr commented on #4212
I'm getting this [error](https://github.com/agda/agda/commit/064095e14042bdf64c7d7c97c2869f63f5f1f8f6/checks?check_suite_id=364600233) in the `cabal build` workflow. I suppose that the error is due to [this](302ffed08a023b29eb898a0ef3968aca452f6d5a) change which was required by `cabal install 3.0.0.0`. I guess we need to modify `actions/checkout@v1`  for also cloning the standard library.

Any ide

[2019-12-18 13:44] asr commented on #4212
I agree. How we know if there are new features not mentioned in the CHANGELOG?

[2019-12-18 13:53] L-TChen commented on #4212
I am not able to see the link (which is broken), but I guess it is because submodules are not checked out by default.

You can check https://github.com/actions/checkout to see how to check out submodules or other repository in that step.

[2019-12-18 13:58] asr commented on #4212
The link works for me.

[2019-12-18 14:02] asr commented on #4212
@L-TChen, which is the purpose of the `cabal build` workflow?

BTW, the time reduction in the CI is great. Thank you for your hard work!

[2019-12-18 14:12] L-TChen commented on #4212
The idea is to make sure `cabal new-build` compilation works. Probably we can document how to install Agda via cabal and stack based on the CI scripts ...?

The old-style is likely to deprecate in the following years, so I don’t want to prompt this installation method. But, if you feel necessary, I can also add testing for `cabal v1-build` for earlier GHC versions.

[2019-12-18 14:15] asr opened #4305 "Fail in the GitHub `cabal build` workflow"
The `cabal build` workflow is failing because it is necessary to checkout the std-lib submodule.

[2019-12-18 14:29] asr commented on #4212
I think it is not necessary.

[2019-12-18 15:18] asr commented on #4212
@L-TChen, we have various Github workflows. Which workflows are run/called on the `issue-xyz` branches? I'm asking because in the branch `issue-4305` the `cabal build` was not run/called.

[2019-12-18 15:23] L-TChen commented on #4212
Currently, GitHub workflows are run on all branches. However, they are run only if relevant change is made. For example, `Document` will be run if anything is changed under the directory `doc`.

For `cabal`, this workflow is triggered if anything under `src/` is changed or `Agda.cabal` is changed. Please add files or directories to the list if you have other relevant files that should trigger the

[2019-12-18 15:23] asr opened #4306 "Travis is failing on the `release-2.6.1` branch"
Travis [error](https://www.travis-ci.org/agda/agda/jobs/626685839) message:

[code]

[2019-12-18 15:31] asr commented on #4212
I changed the file `.github/workflows/cabal.yml`. Should not the `cabal build` workflow be *automatically* triggered in this case?

Which list?

[2019-12-18 15:37] L-TChen commented on #4212
https://github.com/agda/agda/blob/064095e14042bdf64c7d7c97c2869f63f5f1f8f6/.github/workflows/cabal.yml#L3-L11

You are right. These configurations themselves should be added.

[2019-12-18 15:38] asr commented on #4212
Please add them.

[2019-12-18 16:28] #4302 closed, assigned to jespercockx

[2019-12-18 17:14] jespercockx commented on #4288
Bisection points towards 3972a9d2bd89d0a8ab15f803f3868666f0814c56 (yay, my first successful run of `agda-bisect`!)

[2019-12-18 17:53] ice1000 commented on #4212
Speaking of stack.yml they'll be triggered if `.github/` things changed

[2019-12-18 18:48] asr commented on #4306
Fixed by https://github.com/agda/agda-stdlib/commit/1595db8c5e941dc82c8324129e2075aab404d2cf.

[2019-12-18 18:48] #4306 closed, assigned to asr

[2019-12-18 20:08] L-TChen commented on #4305
This should be fixed now by 00180cdca1a189ffa68810365ed2f60431bc352b. I will close this once CI is passed.

[2019-12-18 20:35] L-TChen commented on #4305
CI passed. Closed.

[2019-12-18 20:35] #4305 closed, assigned to asr

[2019-12-18 20:41] guillaumebrunerie opened #4307 "Implicit/instance variables named _ are not shown in contexts"
I’m not sure if it’s intended behavior, but implicit/instance variables named _ are not shown in contexts. For instance in the code below, nothing is displayed when asking for the context of the goal.

This is somewhat annoying for instance arguments, because even though one often does not need to name them, it’s still useful to know that they are available in the context.
[code]

[2019-12-18 20:42] L-TChen commented on #4212
The trigger list has been updated by 00180cdca1a189ffa68810365ed2f60431bc352b. @asr, I also include your proposed change, i.e. checking out submodules, to the commit.

[2019-12-18 22:55] asr commented on #4305
Thanks!

[2019-12-19 09:37] jespercockx commented on #4294
This could be generalized to a command for adding all the missing clauses to an incomplete definition.

[2019-12-19 09:47] jespercockx opened #4309 "Keep track of blocking metavariables in PatternErr"
Internally, Agda uses a special error `PatternErr` to signal that a computation is blocked on an unsolved metavariable and should be retried later. (This error used to be only for pattern violations, but now it is used in many other places.) However, it does not contain any information about *which* metavariable is blocking the computation, which means the code catching the error does not know whe

[2019-12-19 14:42] nad commented on #4267
I'm not sure I agree that this change (as opposed to what you propose in #4272) is a good idea. It is perfectly fine for Agda to infer types that are not in scope (not even qualified). Why should record expressions be treated differently?

If we decide to keep this change, then it should be documented in the changelog.

[2019-12-19 14:53] asr commented on #3960
In the example mentioned [here](https://github.com/agda/agda/issues/3960#issuecomment-565805568), using 2.6.0.1 (or 2.6.0), can someone insert the implicit arguments to the `yoneda-elem-lc` function when called [here](https://github.com/martinescardo/TypeTopology/blob/master/source/UF-Yoneda.lagda#L581-L587)? That is, can someone fill the holes in

[code]
?

[2019-12-19 14:58] JacquesCarette commented on #4212
I am trying to get a version of 2.6.1 compiling locally, so that I can test `agda-categories` with it, to ensure no additional regressions sneak in.  But I'm having a difficult time with getting it 'ready', mostly because it seems that the `HACKING.md` instructions are not fully in-synch with 2.6,1.

Just to get started: should I be using the `cabal` v1 route, or the `stack` route? Does it matter?

[2019-12-19 15:03] asr commented on #4212
It does not matter. Both routes are working.

[2019-12-19 15:04] L-TChen commented on #4212
@JacquesCarette, `stack` and `cabal` v1 or even v2 (with GHC 8.8.1) all are tested and should be working. If you’d like to, can you report the problem you have in another ticket?

[2019-12-19 15:06] JacquesCarette commented on #4212
Ok. I'll work on it systematically, in the hopes of being able to file reproducible bugs (in separate tickets). I'll have time this afternoon and tomorrow.

[2019-12-19 15:29] asr commented on #4212
@JacquesCarette, thanks for thinking on test `agda-categories` with the upcoming 2.6.1. In fact, I found a problem but I'll wait for you report it using a minimal example if possible.

[2019-12-19 15:43] asr commented on #4212
I'll be without Internet access from 25th of December to January 1st. I think the `release-2.6.1` branch is in a good shape for preparing and releasing a release candidate today (mentioning the current open issues) or we can wait until the first weeks of January for releasing the release candidate hoping without knowing regressions. What do you think?

I suggest to release the release candidate to

[2019-12-19 15:46] jespercockx commented on #4212
I'm in favour of bringing out a release candidate today! It will make for a nice Christmas present.

[2019-12-19 17:05] #4288 closed, assigned to nobody

[2019-12-19 17:05] jespercockx commented on #3823
I reverted the fix because of #4288

[2019-12-20 00:33] JacquesCarette commented on #4212
I've found at least 2 regressions - will post some reports as soon as I've managed to make reasonably minimal examples.

[2019-12-20 09:30] jespercockx commented on #4292
I'm taking a look

[2019-12-20 10:19] gallais opened #4310 "Anonymous .. binder should not lead to a parse error"
[code]

[2019-12-20 11:12] UlfNorell commented on #4174
A few implicit arguments needed to be added in the standard library: agda/agda-stdlib#1008

[2019-12-20 13:24] #4292 closed, assigned to jespercockx

[2019-12-20 13:55] nad commented on #4174
This change affects some old code of ours:
[code]
The underscore is not solved "because the solution cannot be used at relevant, unrestricted modality". This can be fixed in the following way:
[code]
However, I think this is a bit ugly. Couldn't Agda be a little smarter?

However, if the meta-variable is later instantiated to a term that does not contain any erased subterms, then this solution is

[2019-12-20 14:50] asr commented on #4212
I'm starting the preparation of the release candidate from the current master (40034c56a90f847f3299eff5d1c10290b00ea91c), so the `release-2.6.1` branch is frozen.

[2019-12-20 15:56] asr opened #4311 "Incomplete documentation: --cumulativity option"
The option `--cumulativity` will be added in 2.6.1. The option is documented in the user manual, but it isn't listed in the section [Command-line and pragma options](https://agda.readthedocs.io/en/latest/tools/command-line-options.html#command-line-and-pragma-options).

[2019-12-20 17:41] JacquesCarette opened #4312 "New implicits need to be inserted that used to be inferred"
The following only uses `Level` and `Data.Product` from the standard library, it is otherwise self-contained.

[code]
The line with `α⇒` gives an error (triggered by `assoc-commute-from`). The next line shows how it can be fixed (so that there is a workaround).
This comes from `Categories.Category.Monoidal` in agda-categories.
Sorry this is still fairly large, but I found that if I cut things down

[2019-12-20 17:53] asr commented on #4212
I couldn't prepare the release candidate for 2.6.1 using `cabal-install 3.0.0.0` due to https://github.com/haskell/cabal/issues/5813.

[2019-12-20 18:13] JacquesCarette opened #4313 "Dealing with cross-version 'wobbly' order of implicit variables"
This is coming up in agda-categories where we make use of `variables`, which are extremely convenient.  But in a few cases, the order between 2.6.0.1 and 2.6.1 has changed. The problem is that this has changed in a file (Categories.Category.Monoidal.Closed.IsClosed) that takes ages to typecheck [and lots of memory and it looks like 1TB of virtual memory!], so debugging this is very painful.

The r

[2019-12-20 18:17] JacquesCarette commented on #4313
[Note that this is a 'regression' that perhaps should also be fixed before 2.6.1 is released -- #4212)

[2019-12-20 18:35] jespercockx commented on #4313
I think this is the same issue as https://github.com/agda/agda/issues/3280?

The reason why the arguments are now in a different order is probably because of the fix of https://github.com/agda/agda/issues/3779, since this changed the sorting algorithm for generalized variables.

[2019-12-20 18:38] jespercockx commented on #4313
As it's likely that the change in order of generalized variables is intentional, I'm hesitant to mark this as a regression. I strongly agree that you should be able to pass the implicit arguments in any order you want, but realistically speaking this will not be implemented in 2.6.1.

[2019-12-20 18:46] sattlerc commented on #4312
It is possible to trigger an internal error (on 4fa3134).
[code]

Here is a reduced test case, producing the above.
[code]

[2019-12-20 19:01] JacquesCarette commented on #4313
Yes, it's the same as that issue. You'll notice that I called this one a 'regression', unlike my previous issue that I explicitly labelled a regression...  As I do agree that this is unfortunate rather than a showstopper. I think I'll be able to work around it.

[2019-12-20 19:10] asr commented on #4312
@JacquesCarette and @sattlerc, please don't use the title "Regression from 2.6.0.1" for reporting regressions. @sattlerc, please file a new issue with the reported regression.

[2019-12-20 19:21] sattlerc commented on #4312
In case it wasn't clear, what I posted is a reduced test case for @JacquesCarette's issue.

[2019-12-20 19:32] JacquesCarette commented on #4312
@asr I've changed the title to something closer to the symptom.  @sattlerc The relation between your reduced case and my original report are difficult for mere mortals to see!  Plus the fact that mine merely reports a typechecking error, while yours triggers an internal error, sure does make it feel like they are independent, even though you may well have arrived at this bug through exploring the

[2019-12-20 19:37] JacquesCarette commented on #4212
@L-TChen I can definitely report that I was able to get going, with a minimum of fuss, with `stack`. The overall instructions could be improved [which I hope to attempt to do myself], but it worked.

The good news is that I was able to apply a workaround to both regressions, so that agda-categories currently works with both 2.6.0.1 and 2.6.1 (and stdlib-1.2).

[2019-12-20 19:51] sattlerc commented on #4312
Right, I should have left the original names:
- `A` is `Obj`,
- `R` is `_⇒_`,
- `M` is `CommutativeSquare`,
- `t` is `α⇒`,
- `m` is `assoc-commute-from`.

In fact, I just tried with current master (f9f8dc2) again, and I don't get any typechecking error on your code. Can you try again with the most recent version? The internal error still seems to occur, I will file a separate issue.

[2019-12-20 19:56] sattlerc opened #4314 "Internal error with generalize"
The following internal error appeared while reducing @JacquesCarette's test case from #4312.

[code]

The output (on current master f9f8dc2) is as follows.
[code]

[2019-12-20 20:01] JacquesCarette commented on #4312
I'll get the latest master and retry.

[2019-12-20 20:27] MarcelineVQ opened #4315 "agda-mode: C-c C-r or C-c C-c pattern matching lambda"
Feature request for a version of C-c C-r which when capable of introducing a lambda will introduce it as a pattern matching lambda.
When C-c C-r within `foo = {!  !} `  would give  `foo = λ x → {! !}`
I'd like it, or a variant, to instead give `foo = λ{x → {! !}}`
The reason this is desirable is that I can't immediately C-c C-c on `x` in the former.

As an alternative to adding a variant of C-c C-

[2019-12-20 20:41] gallais commented on #4313
#3447 seems relevant too!

[2019-12-20 20:41] guillaumebrunerie commented on #4315
I’ve had the exact same problem quite recently.
I think it would be best to do what you mention in your last paragraph rather than always creating pattern matching lambdas or having a new command.

[2019-12-20 21:15] JacquesCarette commented on #4312
That's odd, I just recompiled a fresh master of 2.6.1, and the error still happens.  You can find the file `Regression.agda` at the top-level of agda-categories under branch Regression-Monoidal.

[2019-12-20 22:04] JacquesCarette opened #4316 "Can/should we increase sharing by always using serialised interfaces?"
I have this feeling that doing a topological sort (by hand) of one's project files, then calling `agda` on each, as a separate process, may at times be faster and use less memory than creating an `Everything.agda` file that `import`s everything.

I've just now had the clearest symptom of that: ran out of heap on trying to typecheck my `Everything.agda` in agda-categories. What did I do? Restarted

[2019-12-20 22:15] conal opened #4317 "Refinement suggests code that doesn't type-check"
I'm seeing [an example](https://github.com/conal/calculating-compilers-agda/commit/ea48fee450366766052f49ca7bd8b05e02d1b51d#commitcomment-36528875) in which `agda2-refine` generates code (`refl`) that then gets rejected.

[2019-12-20 22:33] sattlerc commented on #4312
I don't get any error with `Regression.agda`. What's your output of the following:
[code]

[2019-12-20 22:38] asr commented on #4212
I uploaded to Hackage the release candidate [Agda-2.6.0.1.20191219](https://hackage.haskell.org/package/Agda-2.6.0.1.20191219/candidate) and I tested its installation on Ubuntu with

| GHC | cabal-install |
| --- | ------------- |
| 8.8.1 | 3.0.0.0 |
| 8.6.5 | 2.4.1.0 |
| 8.4.4 | 2.2.0.0 |
| 8.2.2 | 2.0.0.1 |
| 8.0.2 | 1.24.0.2 |

Could someone test the installation on macOS and Windows using the

[2019-12-20 22:46] JacquesCarette commented on #4312
Hmm, I probably ran against the wrong one... I seem to have two versions,
[code]
and
[code]
I'm pretty sure I ran the latest tests against the first version above, which is slightly older.  I'll have to rerun them all to be sure; tomorrow.

[2019-12-20 23:28] asr commented on #4316
I have had the same experience several times. The last one was testing the `agda-categories` repository. Thanks for reporting it.

[2019-12-21 00:23] msuperdock opened #4318 "Interaction load time higher than expected with qualified import"
## Issue

I've been trying to reduce the amount of time it takes for agda's interaction mode to load in a certain project (within vim, though I believe this issue is not vim-specific). I've noticed that if module B imports module A, then module B takes at least as long to load as module A, regardless of how module A is imported. This means that if module A takes 5s to load, then any module dependi

[2019-12-21 01:05] guillaumebrunerie opened #4319 "Some form of eta-rules for inductive families"
Consider the inductive family of vectors:

[code]

Something I noticed using it is that elements of `Vec A zero` are not considered definitionally equal to `nil`, whereas if you define `Vec` by elimination into the universe, sending `zero` to the unit record type, then you do get that any element of `Vec A zero` is definitionally equal to (the equivalent of) `nil`.

Would it make sense to add such

[2019-12-21 02:32] m-yac opened #4320 "Path constructor overloading"
I keep getting confusing errors when two path constructors of the same name are in scope. These errors seem to only go away when the constructors are eta-expanded.

Here's the smallest example I could think of – on the current dev version of agda the following file:
[code]
gives an error on the final line:
[code]
Note that changing "`base2`" on the penultimate line to "`base1`" still gives an erro

[2019-12-21 08:30] ggreif commented on #4212
The middle command should be
[code]
Installing gave me
[code]
Not sure what this is.
I am on MacOS X High Sierra,
[code]

When I try
[code]
it seems like all build artefacts are already built... Strange.

When I do `cabal v2-build agda agda-mode` it starts to build. It chugs along...
And it succeeds building!

On 12/20/19, Andrés Sicard-Ramírez <notifications@github.com> wrote:

[2019-12-21 09:35] UlfNorell commented on #4318
What takes time is reading and decoding the interface file. Conceivably, we could change the interface format to make it possible to only decode the parts that you need, but that would be a challenge and the problem is that you don't know which parts you actually need. Consider
[code]

[code]
Even though we are only importing `bar` we still need the definition of `foo` since we might need to evalu

[2019-12-21 09:35] #4318 closed, assigned to nobody

[2019-12-21 11:22] jespercockx commented on #4319
Let me present you with https://jesper.sikanda.be/files/vectors-are-records-too.pdf

I agree that this would be a very nice feature to have. I imagine it can be split up in (at least) two steps:

- Adding some mechanism for declaring custom eta-rules (unsafe, similar to rewrite rules)
- Adding some mechanism for automatically deriving these eta-rules for constructors whose indices are linear and o

[2019-12-21 11:23] jespercockx commented on #4319
There's also some interesting commentary by @pigworker on https://www.reddit.com/r/dependent_types/comments/8qig0u/vectors_are_records_too_pdf/

[2019-12-21 12:32] asr commented on #4212
Oops! Fixed. Thanks!

[2019-12-21 13:02] asr commented on #4212
I could reproduce the error by installing `Agda-2.6.0.1.20191219` *inside* the directory where I have the upstream version. I guess the error is due to the `cabal.project` file in this directory.

Please move `Agda-2.6.0.1.20191219` outside the `~/agda` directory and try again.

[2019-12-21 13:46] asr opened #4321 "Remove the `cabal.project` file"
I'm getting the following error using `cabal-install 3.0.0.0`:

[code]

I can fix the error by adding `agda-bisect` to the file `cabal.project`. However,  in addition to `agda` and `agda-mode`, we have different programs (i.e. `agda-bisect`, `closed-issues-for-milestone`, `fix-agda-whitespace`, `hTags` and `size-solver`) which are independent of each other. To use a global `cabal.project` file in

[2019-12-21 13:57] ggreif commented on #4212
Yep, that seems to work:
[code]

[2019-12-21 14:38] asr commented on #4212
Thanks for testing. In your case I guess something like

[code]

should be enough.

[2019-12-21 15:33] #4321 closed, assigned to asr

[2019-12-21 21:36] guillaumebrunerie opened #4323 "Internal error (Rewriting.hs:395) with generalize and rewrite rules"
The internal error occurs at the last line and goes away if we explicitly quantify on `n` and `m` (and it fails as expected).
[code]
[code]

[2019-12-21 21:59] guillaumebrunerie commented on #4319
Great to see I’m not the only one having had this idea! :)

[2019-12-21 22:44] sattlerc commented on #4317
I wasn't able to reproduce this. Please provide the following:
- the version of Agda you are using,
- a file with a hole for which the problem occurs.

[2019-12-21 22:50] guillaumebrunerie commented on #4317
This is most likely #1654 (more general issue: #118).

[2019-12-21 22:50] #4317 closed, assigned to nobody

[2019-12-21 22:54] asr commented on #4212
Could someone test the release candidate on Windows?

[2019-12-21 23:02] sattlerc commented on #4323
This seems to interact with the BUILTIN feature for natural numbers. If you take away the declaration `{-# BUILTIN NATPLUS _+_ #-}`, the internal error disappears.

[2019-12-21 23:21] sattlerc commented on #4323
Here is a smaller test case.
[code]

[2019-12-22 00:07] guillaumebrunerie commented on #4323
Good catch!

[2019-12-22 11:04] #4323 closed, assigned to jespercockx

[2019-12-22 11:47] #4312 closed, assigned to jespercockx

[2019-12-22 11:47] #4311 closed, assigned to jespercockx

[2019-12-22 11:50] #4314 closed, assigned to jespercockx

[2019-12-22 12:16] asr commented on #4212
I'll added the label `documented-in-changelog` for issues which are already documented in the CHANGELOG. These issues will not include in the list of closed issues.

[2019-12-22 14:58] asr commented on #4311
I added the version in 00bb45e43ef101241531cc2f96464838eb80106e. (I don't like the layout used by `.. versionadded::`. We could use something like `:since:` used by [GHC User Manual](https://downloads.haskell.org/~ghc/8.8.1/docs/html/users_guide/using-warnings.html#ghc-flag--Wredundant-constraints)).

[2019-12-22 15:12] asr commented on #4212
I updated the [list](https://github.com/agda/agda/blob/master/CHANGELOG.md#other-closed-issues) of other closed issues in the `CHANGELOG`. If you closed an issue which wasn't a bug but an enhancement, please added one entry to the CHANGELOG. In this way, we can change the title 'Other closed issues' to 'Other fixed bugs'.

[2019-12-22 15:22] asr commented on #4212
Done. Released the release candidate.

[2019-12-22 15:22] #4212 closed, assigned to asr

[2019-12-22 15:22] asr opened #4324 "Release Agda 2.6.1"
After the release of the first candidate, let's continue the discussion here.

[2019-12-22 18:48] sattlerc commented on #4252
I reduced the test case, arriving at the following.
[code]
The output is:
[code]
With --no-fast-reduce, the output is:
[code]

It is possible to reduce the test case even further while retaining incorrect behaviour.
[code]
Output:
[code]
However, upon reloading and giving again, `? post` is accepted.

Again, turning either of the operators into functions causes the error to disappear. So it must h

[2019-12-22 19:16] sattlerc commented on #4252
Note also that it is possible to give `(? post)`, even when `? post` is rejected.

[2019-12-22 20:49] martinescardo commented on #4324
Thanks for producing the new version of Agda.

My repository https://github.com/martinescardo/TypeTopology doesn't type check anymore. I haven't had an opportunity to investigate. But running "agda AllModulesIndex.lagda" on "source/" gives

[code]

on the module UF-Yoneda. My worst fear, in every release, is that Agda will infer types in a different way...

[2019-12-22 20:58] martinescardo commented on #4324
My repository https://github.com/martinescardo/HoTT-UF-Agda-Lecture-Notes works fine with the new version, thankfully.

[2019-12-22 21:16] martinescardo commented on #4324
There is only one thing that goes wrong  in 37137 lines of code, at UF-Yoneda.lagda line 581.

The  code is

[code]
If we supply the implicit arguments as

[code]

then the whole repository type checks.

It is the fifth implicit argument `{λ - → (x y : X) (p : x ≡ y) (q : y ≡ z) → x ≡ - }` that is no longer inferred.

[2019-12-23 00:13] L-TChen commented on #4324
I think one way to spot this incompatibility before each release is set up
a testing running regularly on GitHub and report the problem once the
regression is introduced.

I can write a template script for running testing in due course...

[2019-12-23 00:40] L-TChen opened #4325 "Migration from old versions"
One often finds that each release of Agda breaks existing their codebase, although the best effort has been made to prevent such regressions. Sometimes, it is even expected. This is however a longstanding issue, and many Agda users I know suffer from it.

I think that it might be a good idea to include some instructions to help people spot and migrate their code to the new version. A number of pos

[2019-12-23 09:31] mrakgr opened #4326 "Internal error when compiling wildcard statements"
[code]
[code]

This is with 2.6.0.1.

[2019-12-23 09:37] gallais commented on #4326
Cannot reproduce (using the release candidate):

[code]

[2019-12-23 09:45] mrakgr commented on #4326
Happens to me from the command line using the above arguments as well.

[2019-12-23 09:49] gallais commented on #4326
I think this is #3932 (at least the internal error comes from the same line)
so I'll mark it as already solved. Thanks for the report!

[2019-12-23 09:49] #4326 closed, assigned to nobody

[2019-12-23 09:57] jespercockx commented on #4009
@gallais did you manage to grab him already?

[2019-12-23 10:01] jespercockx commented on #3801
@andreasabel what's the status on this? Since this would be a new feature, I think it would be a bad idea to add it this close to the release, so I'm bumping this to 2.6.2.

[2019-12-23 10:02] jespercockx commented on #3823
Since this feature lead to a regression and there's no fix yet, I'm bumping this to 2.6.2.

[2019-12-23 10:04] jespercockx commented on #3989
This is not a critical issue, so I'm changing the milestone to 2.6.2.

@nad If you don't want to see the dead code highlighting in the generated HTML, can't you just change the color in the `css` file?

[2019-12-23 10:04] gallais commented on #4009
Nope, I had forgotten he was travelling. And now I too am away.

[2019-12-23 10:06] jespercockx commented on #4267
@andreasabel wrote:

So I think that means Agda *can* still infer the type. @nad did you misread what Andreas said?

[2019-12-23 10:09] jespercockx commented on #4324
@martinescardo that looks like it could be an instance of #3960. I've spent quite some time trying to debug that one, but unfortunately all my attempts so far have failed. A small example where Agda 2.6.0.1 can infer all the implicits but the current master doesn't would be really useful.

[2019-12-23 10:24] jespercockx commented on #4009
Then since this is not a critical issue, I'm bumping it to 2.6.2 (but please change the milestone back if you happen to fix it before the release).

[2019-12-23 10:40] #2823 closed, assigned to jespercockx

[2019-12-23 10:43] jespercockx commented on #3855
@andreasabel Do you have time to work on this issue and the two related ones (#4137 and #4172) or do you need some help with them?

[2019-12-23 12:15] sattlerc commented on #4252
Here is a further reduction.
[code]
Output:
[code]
Any takers?

[2019-12-23 13:07] asr commented on #4325
Are you talking about in the second item of something similar to [this](https://github.com/agda/agda/issues/4239#issuecomment-561375671) comment? If so, I agree (but I don't see its relation with 'migration from old versions').

[2019-12-23 13:16] gallais opened #4328 "Use github actions' cron to build additional libraries?"
Github actions support [scheduled builds](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule).

It may be interesting to use this feature to run a few additional tests building
rather big libraries intensive users may have at a time where the load is very
low (e.g. ~3am UTC).

This would allow us to detect potenti

[2019-12-23 13:20] jespercockx commented on #4328
Could we do a scheduled build of all of https://github.com/agda/agda-pkg?

[2019-12-23 13:48] asr commented on #3960
@martinescardo answered the above question [here](https://github.com/agda/agda/issues/4324#issuecomment-568303492).

[2019-12-23 13:56] asr commented on #2823
I added the `documented-in-changelog` label.

[2019-12-23 14:04] asr commented on #3727
Missing entry in the CHANGELOG.

[2019-12-23 14:59] sattlerc commented on #4252
Running a diff on `-v100` between a good case (first, giving `(? p)`) and a bad case (second, giving `? p`), the first essential difference is as follows:
[code]
versus
[code]
The essential difference is at the line end: `interactionId = 2` vs. `interactionId = 1`. So it looks like interaction ids get conflated.

Indeed, if in the previous test case you replace `{!?!}` by `{! ?!}` or insert an add

[2019-12-23 15:09] L-TChen commented on #4325
Yes, I think all we really need is a brief migration guide indicating regressions and changes which may cause any problem.

Anything else would be useful not only for migration but also development in general.

[2019-12-23 15:21] L-TChen commented on #4328
I second the idea. Also, it will be nice to release a nightly (or weekly) build altogether. Thanks to @ice1000, each commit comes with a build, but these are built with `-O0` only. A usable build should be more useful.

[2019-12-23 15:28] JacquesCarette commented on #4328
What is the maximum amount of memory that can be used for these?  I'm currently splitting up large proofs in agda-categories to hope to lessen memory pressure (and overall typecheck time too); I'd like to be able to figure out which ones I really need to tackle.

[2019-12-23 15:29] JacquesCarette commented on #4328
Nightly would be fantastic - weekly would be way better than what there is now.

[2019-12-23 15:33] sattlerc commented on #4252
Here is an even simpler test case.
[code]
Output:
[code]

[2019-12-23 15:53] sattlerc commented on #4268
Simpler test case:
[code]
Output:
[code]

[2019-12-23 16:03] sattlerc commented on #4268
Unexpected behaviour also occurs without interaction:
[code]
Output:
[code]
I would expect the program to be rejected not because of unsolved constraints. Indeed, for the program
[code]
the output is as expected:
[code]

[2019-12-23 16:04] martinescardo commented on #4324
I see. This same error has already been reported there. I will try to shrink the code giving the error.

[2019-12-23 16:43] L-TChen commented on #4328
According to the [official manual](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources), 7GB of memory is available for each runner. This should be sufficient.

[2019-12-23 16:46] martinescardo commented on #4324
Here is the requested, small, self-contained example:

[code]
You need to uncomment the above line to be able to type check this with the release candidate.

[2019-12-23 16:48] martinescardo commented on #3960
Repeating the minimal example from #4324

The following works with Agda 2.6.0.1 but not with the release candidate for 2.6.1:

[code]
You need to uncomment the above line to be able to type check this with the release candidate.

[2019-12-23 16:49] sattlerc commented on #4163
Here is a simplified test case.
[code]
This is accepted, but should be rejected.

[2019-12-23 16:54] sattlerc commented on #4163
And here is the obligatory inconsistency proof.
[code]
Perhaps this proof of false can be used as a workaround to several other Agda bugs.

[2019-12-23 17:00] martinescardo commented on #3960
Even smaller example:

[code]

Again, the commented line is needed for the release candidate.

[2019-12-23 21:45] martinescardo commented on #3960
But then this further reduction does type check with the release candidate:

[code]

Notice the two differences with the last definition: (1) We have all arguments explicit, except the universe levels, and (2) because of this, we can remove the argument `t` using an eta reduction.

[2019-12-23 21:53] martinescardo commented on #3960
And the eta expansion doesn't type check with the release candidate:

[code]

So the problem seems to be related to the treatment of eta expansion.

[2019-12-23 23:32] martinescardo commented on #3960
Further reduction, where everything succeeds in Agda 2.6.0.1 but the last definition fails in the release candidate 2.6.0.1.20191219

[code]

[2019-12-24 01:43] sattlerc opened #4329 "Incorrect highlighting after reload"
Consider the following file:
[code]
Execute the following steps:
- Remove the corresponding agdai file, if existing.
- Load the file in the interaction mode. Line 3 is highlighted ("deadcode").
- Uncomment the last line.
- Reload the file. Line 3 is no longer highlighted.
- Reload the file. Line 3 is wrongly highlighted ("deadcode").

Possibly related: #4123, #4260

[2019-12-24 01:47] sattlerc commented on #4329
I wrote a test case for use with agda-bisect. It uses the module RunAgda in test/interaction.
[code]
According to this, v2.6.0 is bad already, so this is not an immediate regression.

Unfortunately, I do not know how to compile earlier Agda versions on my system.

[2019-12-24 02:03] sattlerc commented on #4329
The issue disappears with `--no-caching`, so it is caching related.

[2019-12-24 11:22] jonsterling opened #4330 "Equations for cubical subtypes"
I am sleep deprived, but there is something which I think should work but which doesn't typecheck currently. To me it appears that the judgmental equality rules for cubical subtypes are too weak: in particular, if `isOne phi` is true, then I would expect that `outS a = S _` where `a` is an element of the cubical subtype determined by a partial element `S` constrained along the boundary `phi`.

Her

[2019-12-24 15:19] sattlerc commented on #4255
Here is a reduced test case.
[code]

[2019-12-24 15:24] sattlerc commented on #4269
The unsolved level contraints persist if I use a new-style mutual block:
[code]
Note that the level constraints are solved if the postulate `i` is changed into a module parameter.

[2019-12-24 18:28] jonsterling commented on #4330
Aha! I found the incantation to make this work. I will try to submit an update to the documentation to close this.

[2019-12-25 01:53] JacquesCarette opened #4331 "Switch to a structured signature?"
I was quite surprised when in the definition of `Pseudofunctor`, the lines
[code]
made timings jump up by < .5 seconds to ~2.5-3 seconds on my macbook air (inside emacs).  More precisely, if I 'time' "agda Pseudofunctor.agda" which jumps imports a bunch of things, i.e.
[code]
then I get 6.2s, 5.8s, 6.4s, 5.9s for four consecutive runs [where I delete Pseudofuncto.agdai each time].  A lot of that t

[2019-12-25 09:02] guillaumebrunerie commented on #4331
If you run Agda from the command line as `agda -v profile:15`, you will get more information on where the time is being spent. Maybe that would help to figure out what is happening?

[2019-12-25 14:42] JacquesCarette commented on #4331
I'm going to conduct some experiments and report here, as the results are quite interesting (I think).  Each experiment will start with a full typechecked library (under 2.6.0.1), then a single .agdai file will be removed and re-generated.  First experiment:
[code]
(and that's it, completely empty module; `Categories/Bicategory.agdai` is a sizeable 312K).  With `agda -v profile:15 Pseudofunctor`,

[2019-12-25 17:24] JacquesCarette commented on #4331
Going up to the code posted at the top doesn't add much time, but the Node counts go up a lot. Nothing seems odd.  So adding the 2 module definitions gives
[code]
and here is where the real surprise comes in: 2 whole seconds of Typing+Positivity+Termination !  But everything's already been checked, so why does
[code]
trigger so much work?  [I am genuinely asking, no snark or anything else intended

[2019-12-26 03:10] sattlerc opened #4333 "Imports are not confluence checked"
It is possible to break confluence of rewriting (with `--confluence-check`) by declaring competing rewrite rules in independent modules, later imported in the same module.

An example is as follows.
- M.agda:
[code]
- N0.agda:
[code]
- N1.agda:
[code]
- N.agda:
[code]

[2019-12-26 10:49] jespercockx commented on #3960
I'm not sure why this example *should* succeed. The crucial constraint that is left unsolved is `_A_197 t = (x y : X) (p₁ : x ≡ y) (q : y ≡ z) → x ≡ t : Set`, but there is a non-linear dependency of `_A_197` on `t` (one of the dependencies is hidden by the pretty-printer) so Agda cannot solve it. In fact, with just this constraint there is another equally valid solution for `A`, namely `A = λ - →

[2019-12-26 10:51] jespercockx commented on #3960
After analyzing the debug output, I also think the `piSort`s in the constraints are a red herring since these constraints are not actually the ones blocking the problem.

[2019-12-26 13:13] martinescardo commented on #3960
I don't understand. So let me remove all implicit arguments and uses of duplicate names:

[code]

Agda tells the only solution for the hole is `-` (and it solves it with ctrl-C-ctrl-S). In particular. we cannot fill the hole with `t` (we get `t != -` when we try), as you seem to be proposing as another valid solution.

Maybe I misunderstood what the other valid solution is or what you are saying.

[2019-12-26 13:15] martinescardo commented on #3960
NB. If you replace `_` in `succeeds` with a hole, then Agda solves it, with ctrl-x-ctrl-s, to what `succeeds'` has.

[2019-12-26 13:16] martinescardo commented on #3960
These experiments are with Agda version 2.6.0.1.20191219.

[2019-12-26 19:07] jespercockx commented on #3960
What I was saying is that for *the one particular constraint I was talking about*, there are two possible solutions, so it makes sense that Agda is unable to solve it. In this case one solution happens to be incompatible with one of the other constraints, but that just means Agda should (maybe?) be able to make progress on the other constraint.

I did some further experiments and there is one heur

[2019-12-26 19:10] jespercockx commented on #3960
On the reason why this regression occurred only now: I guess Agda used to apply the heuristic always, since sized types and prop were only later additions. When I rewrote parts of the constraint solver to deal with `piSort`, I must've removed it in the process, thus causing all the current problems with unsolved constraints.

[2019-12-26 19:43] martinescardo commented on #3960
I want to clarify that I was only trying to help to identify a possible issue.

In 38k lines of code, only one problem occurred, as distilled above.

In retrospect, given the questions by people to know what A should be, my code should have had an explicit definition of A, which it now has, to make it more readable (which I always aim to achieve).

[2019-12-26 19:58] jespercockx commented on #3960
I'm always very grateful for your help in reporting the issue and cutting it down to a small example. I'm sorry if that wasn't clear in this case!

[2019-12-26 21:09] martinescardo commented on #3960
What is `piSort`, by the way?

[2019-12-26 21:09] mechvel opened #4334 "internal error ... Rules/LHS.hs:767 in Agda 2.6.0.1"
This is on the type checker of Agda 2.6.0.1, ghc-8.6.3, lib-1.2.

Please, download this small example from
http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-dec26-2019.zip

and see Readme.lagda.

reports
"An internal error has occurred. Please report this as a bug.
 Location of the error: src/full/Agda/TypeChecking/Rules/LHS.hs:767
"

[2019-12-26 21:22] jespercockx commented on #3960
`piSort` is a constructor for sorts such that if `A : s1` and `x : A |- B : s2`, then `(x : A) -> B : piSort s1 (\x -> s2)`. It should never appear in a fully typechecked program, but it is used during constraint solving when we don't know yet whether a sort is of the form `Set l`, `Prop l`, `Setω`, or `SizeUniv`. I wrote a blog post about this a while ago at https://jesper.sikanda.be/posts/agdas-

[2019-12-26 21:40] martinescardo commented on #3960
I see.  Thanks.

[2019-12-27 09:23] jespercockx commented on #3960
Actually, I noticed that at the moment `SizeUniv` is defined to be `Set0`, so it wouldn't be a problem to also enable the heuristic when sized types are enabled (but `Prop` must still be disabled). This should fix the problem for now.

@andreasabel are there any plans to properly enable `SizeUniv` again in the future?

[2019-12-27 10:01] #3960 closed, assigned to jespercockx

[2019-12-27 17:51] sattlerc commented on #4334
This works fine on the current development version. So it has likely been fixed already. This might be another instance of #3652.

[2019-12-27 17:53] #4334 closed, assigned to nobody

[2019-12-27 18:42] gallais opened #4336 "Add COMPILER_PREFIX variable to COMPILE pragmas"
Currently (e.g. [here](https://github.com/agda/agda-stdlib/blob/master/src/Foreign/Haskell/Either.agda#L28)) we explicitly use the `MAlonzo.Code.` prefix which makes the
code brittle: if the compiler somehow decides to change the name of the directories
in which the generated codes ends up, the library will break.

We have not changed that name in recent history but IMO it's a bit weird that
we ha

[2019-12-27 19:49] xekoukou commented on #4107
A similar error :

[code]

Pressing ```cntrl - u u c.``` gives :
[code]

The error is here : ```  {α = 〈w〉 : L.Level} ```

[2019-12-28 14:25] #3727 closed, assigned to nobody

[2019-12-29 09:35] gallais opened #4337 "Add a command to bring a variable mentioned in a goal into scope"
Basic test case:

[code]

If I look at the goal, then I can see:

[code]

I would like to be able to press a key combination, type `a₁` and then get

[code]

This would be particularly useful when a name is an implicit argument to
an infix constructor: to introduce it, I normally need to rewrite the pattern
from infix to prefix & then hunt down the exact position of the argument.

A brutal solutio

[2019-12-29 10:40] MatthewDaggitt opened #4338 "Add mechanism to type check entire Agda libraries"
At the moment if you want to type check everything in an Agda library you either have to manually list every "important" file you want to type check or you have to write code to automatically generate an `Everything.agda` file, usually using a modified version of the Haskell script in the standard library.

My suggestion is to make it so that you could run `agda` on an `agda-lib` file as well as `

[2019-12-29 11:02] gallais commented on #4338
Same for compilation. This is the options Idris gives you to interact with a whole
package:

[code]

[2019-12-29 12:29] sattlerc commented on #4337
Doesn't C-c C-c on the name to be introduced do this already?

[2019-12-29 13:44] gallais commented on #4337
TIL. Still, if the implicit argument was not named in the `data` definition then
it does not show up in the goal and there is no way to introduce it automatically.

[code]

[2019-12-30 03:50] mietek commented on #2823
Could you correct my name in the changelog, please?

[2019-12-30 09:13] berndlosert opened #4339 "Resolving the monad instance for `do` notation"
It seems that Agda cannot figure out which Number instance to use inside a do block:

[code]

If I don't comment out the`Number:Nat` instance, I get the following error:

[code]

[2019-12-30 10:25] jespercockx commented on #2823
Sorry, it's fixed now.

[2019-12-30 11:26] jespercockx commented on #4249
The problem is that Agda doesn't reduce the definition of `gComp` because it doesn't pass the termination checker. If you put a `{-# TERMINATING #-}` pragma on the definition of `gComp`, then giving ϕ works (just observing that the termination checker is indeed the problem).

[2019-12-30 11:41] alexarice commented on #4249
In this case, is this actually a bug? I assumed `--guardedness` was not sufficient to show termination of this and so have moved to using `--sized-types`. I didn't realise that Agda will not reduce non terminating functions in interactive mode.

I think what confused me more is that interactive mode didn't let me put in the answer, yet if I manually put it in, it was fine. Does giving the hole do

[2019-12-30 11:49] jespercockx commented on #4268
Good catch! It seems there is an error in the occurs check for `piSort`, I have a fix incoming.

[2019-12-30 12:53] jespercockx commented on #4249
Note that when you replace the hole manually, it is still not really fine since the termination checker complains.

The real bug here is that the code is accepted when you write the code manually: the typechecker should not do the reduction before it is verified to be terminating. But this is just good ol' #42.

[2019-12-30 12:53] #4249 closed, assigned to nobody

[2019-12-30 12:55] #4268 closed, assigned to jespercockx

[2019-12-30 13:06] sattlerc commented on #4252
Related: #3000

[2019-12-30 13:48] #4289 closed, assigned to pnlph

[2019-12-30 13:59] jespercockx commented on #4307
Normally naming an argument `_` means you don't want to use it, so it would be a bit annoying if these arguments still popped up in the context. I agree that instance arguments are the exception, so perhaps Agda should only show the instance arguments that are named `_`.

[2019-12-30 14:09] gallais commented on #4307
Related to #4337
If an argument does not have a (visible) name, we cannot easily bring it into
scope. We could maybe add a different goal + context command showing *everything*?

[2019-12-30 14:11] #4330 closed, assigned to jonsterling

[2019-12-30 14:27] #4269 closed, assigned to jespercockx

[2019-12-30 14:27] #4307 closed, assigned to jespercockx

[2019-12-30 14:53] jespercockx commented on #4333
I've pushed a fix but I'm unable to create a good test case: instead of giving the confluence error that I get when I do the test manually, when running the test suite Agda complains that the LHS of `p₁` reduces to `a₀'` when checking `N1`. So somehow Agda checks `N1` with the signature from `N0` already added, but **only** when running the test suite with `make test`. Anyone has an idea how to pr

[2019-12-30 15:09] sattlerc commented on #4333
This is analogous to #4267 and is another issue caused by #4272.

Even before applying your fix (or without confluence check), we get two different outcomes:
* Removing all interface files and running agda N.agda:
[code]
* Removing all interface files and running agda N1.agga followed by agda N.agda:
[code]
This is a separate bug (even without confluence checking). Should we have a new issue for i

[2019-12-30 15:21] jespercockx commented on #4255
This has a similar cause to #4269 : we have checked the signature of `f` but not yet the body (because of the unsolved meta in the type of the LHS). Currently Agda treats `f` as a postulate in this case, which means it will never reduce, which is clearly wrong in this case. Perhaps we need an additional constructor for `NotBlocked` to indicate we are still waiting to check the definition.

[2019-12-30 16:09] L-TChen opened #4340 "Revise Makefile"
Here is some issue with the `Makefile`:

- `cabal` new style build system is not supported (#4216).
- Some of targets do not use `stack` if `stack.yaml` is present.
- ~~Undefined / outdated targets exist, e.g., `install-O0-bin` and `full`.~~
- ~~The target `debug` does not list all variables, especially those about `stack`.~~

Let me know if you find any other problems about `Makefile`.

[2019-12-30 16:38] L-TChen commented on #4340
I wonder if it is even better to use [shake](https://shakebuild.com) instead ...

[2019-12-30 16:47] jespercockx commented on #4255
Actually the definition *is* blocked on a meta here, so we need a full `Blocked_` tag. Fix incoming...

[2019-12-30 18:08] #4255 closed, assigned to jespercockx

[2019-12-30 18:44] jespercockx commented on #4339
Thanks for reporting this issue.

The problem is that Agda cannot figure out which `Monad` instance to use. If it could, then the constraint `_M_90 _X_80 =< List Int` would be solved (with `_X_80 := Int`) and the right `Number` instance would be found as well.

The underlying problem seems to be that Agda fails to resolve the instance argument for `return x` because the variable `x : _X_80` is in

[2019-12-30 19:08] sattlerc commented on #4333
To close this particular issue, I could write an interaction test case that forces the desired typechecking order.

[2019-12-30 19:44] xekoukou opened #4341 "The documentation of inContext seems wrong."
The behavior of ```inContext``` was changed by @Saizan in https://github.com/agda/agda/commit/6f401dcc3544a15a023b7a93b2996004c6286a03
but documentation was added later that did not take this change into account : [Here](https://github.com/agda/agda/blame/master/doc/user-manual/language/reflection.lagda.rst#L404)

The test from the commit is this one :

[code]

[2019-12-30 19:48] nad commented on #4319
I like to define types like `Fin` and `Vec` by recursion not only because of the eta laws, but also because then, say, `Fin 0` is definitionally equal to the empty type, and this is handy in calculational proofs. Here is one example:
[code]

[2019-12-30 19:50] berndlosert commented on #4339
Indeed. This makes working with Agda less ergnomic since I have to be careful about what Number instances are in scope. There are three ways that I have discovered to work around the problem when multiple Number instances are in scope:

- Write `return {List}` instead of just `return`.
- Define the lists you need in the do block outside the do block.
- Write the lists like this:`(id {Int} 1) ∷ 2

[2019-12-30 19:54] nad commented on #4163
Given that this bug is rather serious, perhaps we should consider fixing it before 2.6.1 is released.

[2019-12-30 19:55] gallais commented on #4339
You should probably use something like [`_∋_`](https://agda.github.io/agda-stdlib/Function.Base.html#4269) instead.

[2019-12-30 20:22] pnlph opened #4342 "naming: go to definition / scope info"
When testing the command `go to definition` the results refer to `Scope info`. Are these two concepts the same? If so, it may be good to unify the naming.

[2019-12-30 21:18] nad commented on #3989
I can, but I have lots of scripts that use `--html`, and changing all of them requires a fair amount of work. Furthermore the locally modified CSS files risk becoming out of date if the generation of HTML code is changed in some way. (Perhaps we could make it easier to override, rather than completely replace, the CSS code.)

[2019-12-30 21:32] nad commented on #4267
Sometimes Agda fails to infer previously inferrable types, some of my code broke. The following code is not accepted:
* `A.agda`:
[code]
* `B.agda`:
[code]
* `C.agda`:
[code]
The code is accepted if `import A using ()` is added to `C.agda` (before `Not-OK`).

[2019-12-30 21:50] nad commented on #4316
I suspect that we could fix this problem by making Agda read in the newly created interface file (or rather, decode the created bytestring) after a file has been type-checked. I think we used to do something like this (f3131bc255ada9f4571e083c26b9d778071334bd). @UlfNorell, do you know why we no longer do this?

@JacquesCarette, perhaps you could experiment with some variants of this optimisation.

[2019-12-30 21:57] ghost commented on #2151
What's the context that should be used to typecheck/normalize the `t` here?

[2019-12-30 22:04] nad commented on #4342
This is not an Emacs mode command, right? Please be more specific.

[2019-12-30 22:16] pnlph commented on #4342
I am testing with [agda-mode on Atom](https://atom.io/packages/agda-mode), where the keymap is `C-alt-\` but i think it is accessible also on Emacs with keymap `M-.`

Reference: other Emacs commands on readthedocs:
https://agda.readthedocs.io/en/latest/tools/emacs-mode.html#other-commands

[2019-12-30 22:22] xekoukou commented on #4316
@JacquesCarette I have already [done](https://github.com/xekoukou/agda-mt) what you propose. It had a similar performance with the use of a single core. The cost of serialization - deserialization of the .agdai might be the problem.

Of course, you could use the same graph and only execute agda in a single thread, so as to limit memory usage.

[2019-12-30 23:06] #4333 closed, assigned to jespercockx

[2019-12-30 23:18] sattlerc opened #4343 "File order of checking matters (rewrite rules)"
The issue #4267 has a cousin for rewrite rules. Again, the root cause is #4272.

Consider the following files.
- M.agda:
[code]

- N0.agda:
[code]
- N1.agda:
[code]
- N.agda:
[code]
Removing all interface files and running agda N.agda gives an error:
[code]
On the other hand, calling agda on N1 directly (and then on N) goes through.

[2019-12-30 23:21] sattlerc commented on #4343
This issue was stumbled upon by @jespercockx in #4333.

[2019-12-30 23:24] nad commented on #4342
I don't think the Emacs mode prints "Scope info", so perhaps this is a problem with the Atom mode.

[2019-12-30 23:29] nad commented on #4316
@xekoukou, the thing you experimented with is in the worst case (at least) quadratic in the number of files, due to repeated processing of the same interface files.

[2019-12-30 23:40] pnlph commented on #4342
Thanks! If this is the case, i will ping @banacorn maybe i'm missing something here.

[2019-12-31 13:50] JacquesCarette commented on #4316
@nad : One item that I am not sure about - you point to `Agda.Interaction.Imports` but the report above is about command-line access, and emacs is not involved at all.  Does it still go through this code? Or was your suggestion for me to add a similar caching strategy to the command-line version?

[2019-12-31 15:02] jespercockx commented on #4163
It seems the cause of this problem is an incomplete fix of https://github.com/agda/agda/issues/2897: the previous fix disallows named where modules if a parameter has been refined, but the example here shows that things can still go wrong if they are only reordered.

There are several things we could do here:
- Disallow named where modules if the module parameters have been reordered by pattern ma

[2019-12-31 16:23] guillaumebrunerie commented on #4319
For me, the issue of defining them by recursion is that it makes it harder to get implicit arguments to be solved. For instance trying to unify `n ≤ m` with `?0 ≤ ?1` will give `?0 := n` and `?1 := m` when `_≤_` is defined as an inductive family, but not when it is defined by recursion (as `?0 := suc n` and `?1 := suc m` would be another solution).
Similarly for `Vec`, trying to unify `Vec A zero`

[2019-12-31 16:26] sattlerc opened #4345 "Universe level constraints not solved"
On master (16aa61a).

[code]
Output:
[code]
Note that Agda is able to solve the second underscores after `sublimate` and `emulsify`, which then also solves the contraints. In the process of reduction, I also had a stage with a definition `M' = M` and unsolved level contraints that succeeded when `M'` was inlined to `M`.

[2019-12-31 16:31] nad commented on #4316
Yes.

[2019-12-31 16:59] nad commented on #4319
I guess this refers to work like [Transporting Functions across Ornaments](https://arxiv.org/abs/1201.4801) (see Section 3.1).

[2019-12-31 17:28] nad commented on #4260
The serialiser throws away quite a few ranges, so this seems plausible. Thus a fix of #4316 might lead to a fix of (the symptom of) this problem.

Perhaps we could track down this problem by checking for incorrect ranges in (say) the serialiser.

[2019-12-31 17:36] sattlerc commented on #4345
To clarify, the bug is not (in the first place) that the listed constraints by themselves are not solved, but that checking depends on the apparent order of contraint solving; in that Agda solves the second underscores when asked to, which leads to checking.

Thus, enhancing the level contraint solver to handle the given constraints might only be a workaround, not a fix of the underlying bug.

[2020-01-01 13:39] jespercockx commented on #3034
Blocking the fix of #4163 (see https://github.com/agda/agda/pull/4346)

[2020-01-01 13:40] jespercockx commented on #3034
Maybe my old fix will now work since the forcing translation has been fixed.

[2020-01-01 18:23] nad opened #4347 "Fix a brittle piece of code"
This code looks rather brittle to me, it is easy to forget to update it when a new warning is added:

https://github.com/agda/agda/blob/16aa61abeb77597e0c3de40b27c12171c7b9a2f1/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1275-L1279

I suggest that we rewrite it using pattern matching (without catch-alls), so that the exhaustiveness checker complains when a new warning is added.

[2020-01-01 19:09] nad opened #4348 "Seemingly needless repetition of highlighting of warnings"
Consider the following code:
[code]
Let us see what kind of highlighting is produced for this code (using `echo 'IOTCM "Test.Agda" NonInteractive Direct (Cmd_load "Test.agda" [])' | agda --interaction`):
[code]
Clear everything.
[code]
Token-based highlighting.
[code]
Highllighting of the three occurrences of `Non-terminating`, the single occurrence of `Shadowing`, and the two occurrences of `A`.

[2020-01-01 19:45] asr commented on #3727
I added the `documented-in-changelog` label.

[2020-01-01 19:52] #3189 closed, assigned to nobody

[2020-01-01 19:52] nad commented on #3189
I did not include information about which warnings are available by default in the user manual, instead I noted that one can find this information by running `agda --help=warning`.

[2020-01-01 19:54] nad commented on #3989
I have added a new `OtherAspect`, `ShadowingInTelescope`, for highlighting of shadowed repeated variables in telescopes. Furthermore the highlighting is only produced when the `ShadowingInTelescope` warning is active.

[2020-01-01 19:54] #3989 closed, assigned to gallais

[2020-01-01 23:32] sattlerc commented on #4345
Here is a simplification.
[code]
Output:
[code]
Why does Agda (inspecting with C-c C-n) solve `Y'` to `Y`, but not its level `i`?

[2020-01-02 00:34] nad commented on #4260
I tweaked `mergeAspects` so that it (sometimes) complains when `Bound` is combined with other `NameKind`s, and managed to construct the following example:
[code]
Here Agda tries to combine the following two values of type `Aspects`:
[code]
[code]
I'm guessing that at least one problem has something to do with the new record pattern lambdas.

[2020-01-02 03:42] banacorn commented on #4342
Yes, I think `go to definition` is Atom mode only.
The two things are the same, `go to definition` is only a handy shorthand for "scope info" (in that you don't have to type the thing)

[2020-01-03 10:50] pnlph commented on #4342
OK, thanks for the explanation. This can continue in banacorn/agda-mode#119

[2020-01-03 10:50] #4342 closed, assigned to nobody

[2020-01-03 14:58] sattlerc opened #4350 "Scoping bug with let open in telescope"
On recent master (16aa61a).

[code]
Output:
[code]
Note that the file is accepted if `(let open M)` is removed or if we are not inside a private block.

[2020-01-03 18:47] nad commented on #4350
This bug goes back to at least Agda 2.4.0.2. Agda 2.3.2.2 does not parse the code above (even if a module header is added).

[2020-01-03 22:03] andreasabel opened #4351 "Regression affecting standard library: Data/List/Relation/Unary/Any/Properties: B.b != q₁ of type Level"
This error is reported for the standard library after either `make std-lib` or `make up-to-date-std-lib` or `make fast-forward-std-lib`:
[code]
This is probably a duplicate issue report; I have seen this regression mentioned before but can't find it now.

What is the correct incantation to get a version of the standard library that works with the current master of Agda?

[2020-01-03 22:23] gallais commented on #4351
`git checkout experimental` in the stdlib directory should give you what you
are looking for.

[2020-01-03 22:28] andreasabel commented on #4351
Thanks.  I think `up-to-date-std-lib` used to give the correct version and should maybe restored to this purpose...

[2020-01-03 22:53] andreasabel commented on #4351
Even with experimental,
commit 6a5176460f7cba106cf3b40420bba4ea1682e4f4 (HEAD -> experimental, origin/experimental)
Author: Ulf Norell
Date:   Fri Dec 20 09:29:38 2019 +0100

Add implicit arguments required after fix of agda/agda#4174

I get the error here:
https://github.com/agda/agda-stdlib/blob/3c12349066593f41e48afe6dde61b8a34fda38f5/src/Data/List/Relation/Unary/Any/Properties.agda#L251
Strang

[2020-01-03 22:54] sattlerc commented on #4350
Note that `module M' = M` instead of `open M` will trigger the bug as well.

[2020-01-03 22:57] andreasabel commented on #4351
Ah, actually Ulf's commit fixes this problem (knew it!), but I had some confusion here.

[2020-01-03 22:57] #4351 closed, assigned to nobody

[2020-01-04 00:14] sattlerc commented on #4329
If you can compile a greater range of Agda history, please consider bisecting with the above Haskell script. What is the oldest release/commit for which it returns 2?

[2020-01-04 01:10] L-TChen commented on #4340
Since the main issue is still #4216, I am closing this issue.

[2020-01-04 01:10] #4340 closed, assigned to nobody

[2020-01-04 01:12] L-TChen commented on #4216
It turns out that it is not so simple to support the new nix-style build system.
Oddly, `cabal new-install --enable-tests` emits the error message (bug?)
[code]
I tried using `cabal new-configure` instead. However `cabal new-configure` does not seem to use `--builddir`, as `cabal new-build` always build inside `dist-newstyle` instead of `dist-2.6.1` as specified.

It looks like a bug of cabal. Any

[2020-01-04 14:21] martinescardo commented on #3960
More of my existing code now gives yellow with or without this fix, in the development version of 2.6.1. E.g. https://www.cs.bham.ac.uk/~mhe/dialogue/dialogue-lambda.html#15434 needs to add the implicit parameters in the use of `Rs` in the main lemma as follows:

[code]

[2020-01-04 16:28] jespercockx commented on #3960
Could you copy the constraints that you are getting here? I'd like to know if it is the same problem as in this issue or a different one.

[2020-01-04 16:43] #3034 closed, assigned to jespercockx

[2020-01-04 16:43] #4163 closed, assigned to jespercockx

[2020-01-04 17:56] martinescardo commented on #3960
With the implicit arguments removed,

[code]

Agda version 2.6.0.1.20191219 gives

[code]

I will copy the message for the development version in a moment using another computer.

[2020-01-04 18:07] martinescardo commented on #3960
I think the error is the same with the Agda development version 2.6.1-2114425:

[code]

[2020-01-04 22:06] YievCkim opened #4352 "Failed to find source of module IO"
Hello,

I tried the helllo world example from the documentation on a fresh install (with cabal, but I tried the version from debian repo). And I get this message:
"Failed to find source of module IO"

The locations are however different if I try compilation from emacs or from the shell.

From the shell:

[code]

From agda-mode in emacs:

[code]

I think I miss something. Perhaps it comes from the

[2020-01-04 22:08] gallais commented on #4352
cf. #4250

[2020-01-04 22:13] YievCkim commented on #4352
ok thx. I tried to google the error message, and I didn't find it.

[2020-01-04 22:13] #4352 closed, assigned to nobody

[2020-01-05 10:22] jespercockx commented on #3960
This looks like a separate problem from the one in this issue, so I'll create a new issue for it.

[2020-01-05 10:25] jespercockx opened #4353 "Regression: Different splitting order leads to unsolved constraints"
@martinescardo reports in #3960:

[2020-01-06 00:10] asr commented on #4216
Maybe the section "cabal install ≠ Setup install" from [The Cabal of Cabal](http://www.vex.net/~trebla/haskell/cabal-cabal.xhtml) explains the problem and shows the solution:

\begin{quote}

Many people use this idiom in a source tree to build and install:

[code]

This idiom is an urban legend, i.e., a popular error. The 3rd step cabal install re-does the 1st and 2nd steps, among other things. Re

[2020-01-06 00:36] L-TChen commented on #4216
As far as I remember, it was the step `cabal new-build` which failed to build in the specified directory instead of `cabal new-install`. I will check it again later anyway.

[2020-01-06 17:55] nad commented on #4329
The script fails for Agda 2.6.0, but succeeds for Agda 2.5.4.2. I'm running `agda-bisect`.

[2020-01-06 19:43] L-TChen commented on #4216
I now see why it does not work. In the [document](https://cabal.readthedocs.io/en/latest/nix-local-build.html#cmdoption-builddir), it says

so even if it is specified by `cabal configure --builddir=DIR` it simply results a `cabal.project` which `cabal build` reads later on. That's the reason why `cabal configure --builddir=DIR` does not work.

I will try to finish this issue during this week.

[2020-01-06 20:59] nad commented on #4329
Bisection points to ead49c9bafa6a579e9dc3f45571ed4a8e2ee3502 ("[ warning ] more deadcode highlighting").

[2020-01-06 22:23] nad commented on #4260
I have managed to construct a small test case. However, it behaves a bit differently from the OP, so perhaps it is caused by a different problem.

The test case uses two modules:
* `A.agda`:
[code]
* `B.agda`:
[code]
The string `syntax F X = G X` is located at the same position in the two files. If `B.agda` is loaded once, then the `G` in the comment is highlighted as a postulate, and if the file

[2020-01-06 23:06] sattlerc commented on #4329
Thanks. What is the script output before that commit?

[2020-01-06 23:08] sattlerc commented on #4329
This doesn't seem like the root cause. I will try to construct a test case for another type of highlighting.

[2020-01-06 23:43] nad commented on #4260
Bisection points to 3d1885716cf22779db038dccb3944d6b82a57760 ("[ fix #758 ] highlighting for syntax declarations"). However, I can imagine that the underlying problem was introduced in the previous commit (42e8b56e9beb84f6d26a08779b7d49934953fc6c, "[ #758 ] refactor: add ranges to notations").

[2020-01-06 23:55] nad commented on #4151
I recently encountered a use for `--simple-setup`. Is there any reason why this is an option that is off by default? I suggest that we turn it on unconditionally.

[2020-01-07 00:00] nad commented on #4151
Done.

[2020-01-07 00:00] #4151 closed, assigned to andreasabel

[2020-01-07 01:48] sattlerc commented on #4329
I actually started reducing with a test case that had incorrect unsolved meta highlighting. Unfortunately, I can no longer find it.

Meanwhile, here is a simpler test case.
- Version 1:
[code]
- Version 2:
[code]
- Start agda with `agda --interaction --caching`, load a file containing version 1, then load that file containing version 2. Exit agda. (This can be performed in emacs mode.)
- Now the g

[2020-01-07 12:31] nad commented on #4260
Consider the following code:
[code]
If I invoke "go-to-definition" on the occurrences of `,` and `B` in the pattern I end up at the `A`. However, for the `B` in the right-hand side I end up at the `B` in the pattern.

[2020-01-07 13:37] nad opened #4354 "Get rid of SubstExpr?"
The following comments suggest that `substExpr` might be buggy:

https://github.com/agda/agda/blob/baa36d2e29c177183bd730d52616ea8db621871b/src/full/Agda/Syntax/Abstract.hs#L1149-L1153

I noticed that `substExpr` is not used a lot in the code base. Could we get rid of it?

[2020-01-07 14:35] nad commented on #4260
The following code seems to be handled correctly:
[code]
This suggests that the problem discussed [above](https://github.com/agda/agda/issues/4260#issuecomment-571567480) is related to the new record pattern lambdas. @gallais, can you take a look at this?

[2020-01-07 14:51] nad opened #4355 "Bug related to generalisable variables?"
Generalisation fails to handle the last type in the following piece of code:
[code]
Is this expected?

[2020-01-07 16:07] nad opened #4356 "Incorrect ranges for record pattern lambda patterns"
Consider the following code:
[code]
If I invoke "go-to-definition" on the occurrences of `,` and `B` in the pattern I end up at the `A`. However, for the `B` in the right-hand side I end up at the `B` in the pattern.

The following code seems to be handled correctly:
[code]
This suggests that the problem discussed above is related to the new record pattern lambdas.

[2020-01-07 16:08] nad commented on #4260
I've moved the record pattern lambda problem to a new issue (#4356). @UlfNorell, can you take a look at the issue related to syntax declarations? Hopefully that problem is the cause of the issues in the OP and #4123.

[2020-01-07 16:13] UlfNorell commented on #4355
If you fix the level of `f` to `a` (`f {a} xs ≡ xs`) you get
[code]
suggesting that there are constraints getting in the way of generalization. Following the suggestion and giving `a` to `Vec` instead makes it work.

[2020-01-07 16:52] #4355 closed, assigned to nobody

[2020-01-07 19:30] pnlph opened #4357 "[doc] user manual navigation"
Hi,

i think the navigation hierarchy could be improved in the current `Getting Started`section. The current two first navigation items are:

[code]
I would propose something more clear like:
[code]
`Installation` would entail everything regarding making agda work in your computer, and `Getting started` everything about how to start with agda once properly installed.

This is a small proposal that

[2020-01-07 20:30] jespercockx commented on #4345
Some information for @mdimjasevic who has expressed interest to work on this issue:
- The constraint solver for universe levels is located in `src/full/Agda/TypeChecking/Conversion.hs`, specifically in the functions `equalLevel` and `leqLevel`. It's possible that the simplifier for level constraints in `src/full/Agda/TypeChecking/LevelConstraints.hs` is also relevant.
- In the source code you'll f

[2020-01-07 20:34] nad commented on #4357
Ideally we should only link to stable URLs. The URLs for specific releases of Agda are stable (in the short term), but the URLs for the development version (involving `/latest/`) are not stable.

[2020-01-07 21:36] nad commented on #2038
There might be a case for reducing or eliminating the use of `universeBi` in `Agda.Interaction.Highlighting.Generate`:
* The code appears to be hard to understand. (The function `universeBi` basically traverses a value and finds every subexpression of a given type. Perhaps I should have written this in a comment in `Agda.Interaction.Highlighting.Generate`.)
* The local definition called `theRest`

[2020-01-07 21:41] gallais commented on #4356
I don't understand why the pattern is not picked up by universeBi.

Related (I always struggle to find this discussion when I am looking for it):
https://github.com/agda/agda/commit/2fbef7d4bb4b2060aa10d0a14f0c42e53aa43cb2#r36632439

[2020-01-07 22:06] nad opened #4358 "Quadratic name selection"
I suspect that the following code leads to (roughly) quadratic behaviour:

https://github.com/agda/agda/blob/30b0c18ce2a8244d9f63ce2fb4badd7c844feca7/src/full/Agda/Syntax/Scope/Monad.hs#L274-L281

Here is a test case that illustrates the problem:
[code]
If the number of function arguments is doubled, then the type-checking time is quadrupled (roughly). If the `x@` strings are removed, then Agda st

[2020-01-07 22:19] sattlerc commented on #4345
Some more information: in the current solver, you can see that by design it is not intended to solve the level constraints
[code]
So there are two issues here that you could work on.
- (The current issue.) Why does Agda solve `Y'` to `Y`, but behaves differently when one defines `Y' = Y`?
- (A separate issue.) Enhance the level solver to be able to solve the above constraints. Related issues: #224

[2020-01-07 22:22] nad commented on #4356
What do you expect to be picked up? How are these patterns represented in the abstract syntax?

[2020-01-07 22:40] gallais commented on #4356
They are represented as a [`Binder`](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Abstract.hs#L249) that contains a `Maybe Pattern`.

So I would expect universeBi to pick up this `Pattern` for syntax highlighting.

[2020-01-08 09:35] nad commented on #4356
Presumably it does. Perhaps the ranges of the pattern are incorrect. Have you tried to debug the code, perhaps by inserting some trace statement in `getPattern'`?

[2020-01-08 15:02] L-TChen opened #4359 "Split the codebase to a number of local packages"
When attempting to revise the `Makefile` to adopt cabal's new nix-style local builds, I realised that cabal since 2.0 can build multiple local packages specified by `cabal.project`:

As explained in the [user's guide](https://cabal.readthedocs.io/en/latest/nix-local-build.html#local-versus-external-packages), this can massively speed up rebuilds of packages. I wonder if this is a good idea to refa

[2020-01-08 15:43] guillaumebrunerie opened #4360 "Missing warning for declaring constructor instances for records with explicit fields"
As far as I understand, the word `instance` in the first part of the code below has not effect, because the constructor has an explicit argument and functions can only be declared as instances if they do not have any explicit arguments. However there is no warning at all, unlike when actually declaring an function with explicit arguments in an instance block. There should be a warning and the code

[2020-01-08 15:56] guillaumebrunerie commented on #3365
The `instance` keyword should be highlighted as well.

I looked at the instructions to update the syntax highlighting, and apparently the highlighting is taken from this repository: https://github.com/mokus0/Agda.tmbundle which hasn’t been updated since 2011…
Maybe there should be a more official repository (i.e. under `github.com/agda`) containing the Agda syntax highlighting instead? I couldn’t

[2020-01-08 16:36] nad commented on #4359
Where did you read that? The text "This can massively speed up rebuilds of packages with lots of components (e.g., a package that defines multiple executables)" does not seem applicable to Agda.

[2020-01-08 16:41] guillaumebrunerie opened #4361 "Inconsistent highlighting of BUILTING EQUALITY/REWRITE"
In the code below (in Emacs), the word `REWRITE` is highlighted but not `EQUALITY`.
[code]

[2020-01-08 16:50] L-TChen commented on #4359
I was referring to the same paragraph as you pointed out. If the codebase can be split into a number of smaller libraries, why is it not applicable?

[2020-01-08 17:03] nad commented on #4356
For the first piece of code in the OP `getPattern` is applied to the following three patterns (I used `show`, which unfortunately does not produce proper Haskell code):
[code]
Note that the top-level constructor of the last pattern is `ConP`. There is no case for `ConP` in `getPattern'`:

https://github.com/agda/agda/blob/86cdfaca88b6fd1bd6846f586386c9595cd85075/src/full/Agda/Interaction/Highlight

[2020-01-08 17:05] L-TChen commented on #4359
I am making some attempts locally and see if it is really sensible anyway. :-)

[2020-01-08 17:15] nad commented on #4359
The remainder of the sentence that I quoted: ", as only one executable needs to be rebuilt". I read this as saying that previously Cabal would rebuild all components even if you only cared about a single one, now you can rebuild only that component. Perhaps I dismissed this too quickly. I guess it might make some sense if, say, someone is working on some utility module, then the "utils" component

[2020-01-08 17:35] nad commented on #4260
@UlfNorell, in 42e8b56e9beb84f6d26a08779b7d49934953fc6c you added ranges to `GenPart`. Your implementation of `setRange` does not change the range of `IdPart`s:

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Syntax/Notation.hs#L87-L92

Was this intentional? There is no comment that states that it was.

(I'm not claiming that this is the cause of the bug.)

[2020-01-08 18:15] UlfNorell commented on #4260
That looks like a mistake.

[2020-01-08 20:18] nad commented on #4356
Highlighting for the constructor is included in `nameInfo`, so I guess that some other highlighting (in `theRest`) takes precedence:

https://github.com/agda/agda/blob/86cdfaca88b6fd1bd6846f586386c9595cd85075/src/full/Agda/Interaction/Highlighting/Generate.hs#L202-L214

[2020-01-08 20:45] nad commented on #4356
When I replaced `bound n` with `mempty` in the following code, then highlighting worked fine for the example in the OP:

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Interaction/Highlighting/Generate.hs#L321-L322

However, as expected highlighting did not work correctly for the following code:
[code]
The first occurrence of `P` was not highlighted proper

[2020-01-08 21:16] nad commented on #4260
This code looks suspicious to me:

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Interaction/Highlighting/Generate.hs#L942-L964

It appears to me as if the notations in names contain the ranges of the notations' *definitions*, not their uses. I patched the problem by using the technique by @andreasabel that can be seen in the code above, and a quick test

[2020-01-08 21:31] nad opened #4362 "Fix the implementation of SetRange for GenPart"
The following implementation of `setRange` does not change the ranges of `WildHoles` or `IdPart`s:

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Syntax/Notation.hs#L87-L92

Furthermore I'm not sure if the ranges of the second arguments of `BindHole` and `NormalHole` should also be changed. If this instance is not used a lot, then we could perhaps remove

[2020-01-08 21:31] nad commented on #4260
I've opened a new issue for this thing (#4362).

[2020-01-08 21:33] nad commented on #4260
My quick fix seems to fix the problem in the OP and the problem in #4123.

[2020-01-08 21:33] nad commented on #4123
I'm closing this issue now, because it seems to be the same as issue #4260.

[2020-01-08 21:33] #4123 closed, assigned to nobody

[2020-01-08 22:06] nad commented on #4348
I suspect that the following code generates highlighting for all warnings encountered so far in the current file:

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Interaction/Highlighting/Generate.hs#L195-L196

However, this code is placed inside `generateAndPrintSyntaxInfo`, which should generate highlighting for a single declaration:

https://github.com/a

[2020-01-09 00:39] L-TChen commented on #4359
It seems this part is out-dated. I created a [branch](https://github.com/agda/agda/tree/refactor-subpackages) where `Agda.Utils.*` (except `Geniplate` and `Permutation`) are placed in another package `agda-utils` under `src/agda-utils`. Without modifying any source file, `cabal build all --enable-tests -O0` just works. The interface files are generated and `make quickest` is also fine.

[2020-01-09 01:31] L-TChen commented on #4359
Also see https://github.com/agda/agda/runs/380529795. Both of `stack` and `cabal` can build Agda in this setting without any problem.

[2020-01-09 08:47] UlfNorell commented on #4137
It isn't actually a reflexive constraint. One side is a blocked term, but we unblock those when printing constraints. The reason it doesn't get instantiated is the `definitionCheck` in `MetaVars.Occurs`. Possibly the irrelevance/erasure of the blocked term meta is not set correctly?

[2020-01-09 10:39] gallais commented on #4356
I assumed it would make error reporting better by indicating that this
variable is implicitly bound in that bit of code.

[2020-01-09 11:11] nad commented on #4356
Can you construct a test case? Perhaps one could give a non-empty range that is zero characters wide.

[2020-01-09 11:28] gallais commented on #4356
The only thing I could currently think of is the use of a non-record pattern
such as `\ (suc n) -> n`. But the error points to the `suc n` pattern which is
perfectly fine. I think we can close this one for good.

Thanks for tracking this down!

[2020-01-09 11:28] #4356 closed, assigned to nad

[2020-01-09 12:17] L-TChen commented on #4359
Let me explain why I would like to do so. I have a plan to implement Language Server Protocol for Agda(*), but I do not want to pollute the whole codebase. Instead, I'd like to make it a separate component with a public interface provided by `Agda.Interaction`. Given the complexity of LSP, it will be better to work with it outside the package `Agda` instead of inside of it.

On the way of doing so

[2020-01-09 12:51] jespercockx commented on #4359
There has been talk before to separate `Agda.Utils` from the rest of Agda, and I think this would be a good idea. Perhaps you could do this as a test case, to try out how easy it is to manage the different components when installing and developing Agda. Then, if this is evaluated positively, we can consider further splitting off other parts of the codebase.

[2020-01-09 12:53] jespercockx commented on #4359
Oh, I see you have basically done this already. Could you create a PR for it?

[2020-01-09 12:56] L-TChen commented on #4359
One problem is that Cabal supports this feature (local package using `cabal.project`) only from 2.0.0.0, so we will have to ditch GHC 8.0.2 and Cabal 1.24. There is no problem with Stack though.

[2020-01-09 13:00] L-TChen commented on #4359
Correction: Only Cabal 1.24 needs to be dumped. I think Stack works with GHC 8.0.2. Current CI configurations should also work with minimal effort since Agda is compiled with Stack for most of jobs.

[2020-01-09 13:03] UlfNorell commented on #4359
Are you also updating `make tags/TAGS` to handle the spread out source files?

[2020-01-09 13:06] L-TChen commented on #4359
I will do this. Let me know what else I should be aware of.

[2020-01-09 13:27] #4137 closed, assigned to UlfNorell

[2020-01-09 16:34] guillaumebrunerie commented on #3365
I figured out how to write grammars, and I rewrote a grammar for Agda from scratch (taking some inspiration on https://github.com/mokus0/Agda.tmbundle). It is available at https://github.com/guillaumebrunerie/agda-syntax-highlighting.

You can try it on arbitrary code at https://github-lightshow.herokuapp.com/, just choose "URL of grammar file" and put https://github.com/guillaumebrunerie/agda-syn

[2020-01-09 17:31] bafain opened #4365 "Module fails to type check after parametrising it by postulates"
In the following Agda code, module `M2` is obtained by parametrising module `M1` by what it postulates.
[code]
Module `M1` type checks but module `M2` fails to type check and Agda (version `2.6.1-ab2cd05`) makes the following complaint:
[code]
Is this behaviour expected?

[2020-01-09 18:03] asr commented on #4359
@L-TChen, remember we are in the process of releasing a new version. Please *do not push* the changes related to this issue into `master`.

Talking about releases, I guess we should separately release each local package. Right?

[2020-01-09 18:18] L-TChen commented on #4359
Yes.

[2020-01-09 19:01] UlfNorell commented on #3365
You should be able to create the repository under `agda/` yourself.

[2020-01-09 21:44] nad commented on #4365
I don't know, but postulates and variables are not treated in exactly the same way, because variables can be instantiated, whereas postulates cannot.

[2020-01-09 22:09] nad commented on #4172
Another question: Should erasure annotations be allowed in Cubical Agda? Currently we [do not know](http://www.cse.chalmers.se/~nad/listings/equality/Bool.Very-stable.html) how to compile Cubical Agda in such a way that the annotations are respected. However, disallowing `@0` in Cubical Agda code (or code imported by Cubical Agda code) sounds drastic to me. I suggest that we allow erasure annotati

[2020-01-09 22:17] guillaumebrunerie commented on #3365
I created the repository (`agda/agda-github-syntax-highlighting`).

I will wait a couple of days in case anyone here has an objection or find issues that need to be fixed, and then I will open the pull request to the `linguist` repository. It’s always possible to fix additional issues afterwards, of course.

[2020-01-10 09:15] UlfNorell commented on #4174
Closing this. Please open a new issue for "maybe Agda could be smarter..."

[2020-01-10 09:15] #4174 closed, assigned to UlfNorell

[2020-01-10 09:41] UlfNorell commented on #4267
Call `B` a parent of `A` if `A` imports `B`. Then after the fix we only infer record types from parent modules. The bug was that we inferred record types from sibling and cousin modules, and what @nad is asking for is to infer record types from all ancestor modules.

I think the current behaviour is reasonable and already more liberal than other constructions which require things to actually be in

[2020-01-10 14:19] EdNutting opened #4370 "Agda --doublecheck cannot resolve level"
Hi,

https://github.com/agda/agda-stdlib/blob/aa7c23b7561b99e15bb7572e5ddc64cf1e1deff8/src/Relation/Binary/Morphism/Definitions.agda#L30

Loading this module with `agda --safe --doublecheck ...` causes it to complain that it can't work out the output level. Not sure if this is expected/desired or not. The fix seems to be to replace `Set _` with `Set (a ⊔ ℓ₁ ⊔ ℓ₂)`.

Cheers,
Ed

[2020-01-10 17:12] nad opened #4366 "Make Agda smarter, avoid some "the solution cannot be used at relevant, unrestricted modality" errors?"
This issue has been broken out of #4174.

Consider the following old code snippet, from a development by @UlfNorell and myself:
[code]
After recent changes (see #4174) the underscore is not solved "because the solution cannot be used at relevant, unrestricted modality". This can be fixed in the following way:
[code]
However, I think this is a bit ugly. Couldn't Agda be a little smarter?

@UlfNorel

[2020-01-10 17:15] #4172 closed, assigned to nad

[2020-01-10 17:20] nad commented on #4267
Perhaps, but if we fix the underlying problem properly (#4272), then we might avoid breaking some users' code.

I don't have a very strong opinion about this. As I wrote above, if we decide to stick to the new behaviour, then this should be documented in the changelog.

[2020-01-10 17:40] nad commented on #3855
Those two issues have been closed now. What remains is to document `@0`:
* What are the typing rules?
  * Some examples might be nice.
  * For the theory one could perhaps refer to Bob's paper, and mention the differences:
    * Erased definitions.
    * Unification (#4174).
    * Support for more data types, with pattern matching allowed in some cases (empty types, #4172).
    * Anything else?
*

[2020-01-10 17:48] nad commented on #4260
@UlfNorell, you replaced `__IMPOSSIBLE__` with `mempty` in the following code more than nine years ago (8992c8b2d542743a84ff2db21c8857aaf1c5d538):

https://github.com/agda/agda/blob/4e6ef5bfc9a2a516c103384fbc348d8eb8780137/src/full/Agda/Interaction/Highlighting/Generate.hs#L863-L870

Do you remember why? I tried to replace `mempty` with `__IMPOSSIBLE__`, and encountered no problems when I type-che

[2020-01-10 18:34] semenov-vladyslav opened #4367 "Agda can't infer level of a generalized Set variable."
[code]

Agda version 2.6.1-ab2cd05-dirty

[2020-01-10 18:38] jespercockx commented on #3855
Maybe some inspiration could be taken from today's blog post from @edwinb on erasure and linearity: https://www.type-driven.org.uk/edwinb/linearity-and-erasure-in-idris-2.html.

[2020-01-10 18:39] asr opened #4368 "Update test suite for working with what will be the standard library 1.3"
After [this](https://github.com/agda/agda-stdlib/issues/1019#issuecomment-572905066) change, we need to update the submodule commit and the test suite for working with what will be the standard library 1.3.

[2020-01-10 19:31] asr commented on #4368
After the merge of https://github.com/agda/agda-stdlib/pull/1045, I'm getting the following the error in the branch `issue-4368`:

[code]

Could someone push a fix into the above branch? (I'll squash all the changes before merging the branch).

[2020-01-10 19:40] asr commented on #4368
I'm also getting the error:

[code]

Any ideas or fixes?

Edit: Fixed by renaming the `transpose` function.

[2020-01-10 20:07] conal opened #4369 "REWRITE with record field"
Is it the case that Agda does not currently support `REWRITE` with record fields? As an example, please see https://github.com/conal/calculating-compilers-agda/issues/5 .

If indeed Agda is limited in this way now, can the limitation be lifted? This combination seems fairly compellingly useful to me: (a) describe constraints in a representation via equality proof fields (b) use these invariants to

[2020-01-10 20:10] conal commented on #4369
@jespercockx: @Blaisorblade suggested asking you specifically.

[2020-01-10 23:41] UlfNorell commented on #4260
I'm pretty sure I did it because it was triggered. It might not be anymore though, so changing back to `__IMPOSSIBLE__` could be worthwhile.

[2020-01-11 02:44] MatthewDaggitt commented on #3604
Just a heads up that removing the with-inlining has broken my code in 5 different places. Not saying it should be reverted, but just a friendly note that it's definitely causing me and [others](https://lists.chalmers.se/pipermail/agda/2019/011473.html) some headaches.

[2020-01-11 12:38] gallais commented on #4370
Should this issue be moved upstream? (ping @jespercockx)

[2020-01-11 17:49] jespercockx commented on #4369
It's correct that it's currently not yet supported, see #1981. I started working on it last year, but there were still a few things that were not working well, and I got distracted by other things. You can see my work so far on https://github.com/jespercockx/agda/tree/rewriting-projections.

[2020-01-11 17:49] #4369 closed, assigned to nobody

[2020-01-11 17:59] jespercockx commented on #4370
Yes please, you can report it as a bug on github,com/agda/agda. If possible, it would be very helpful to have a standalone example (i.e. not dependent on the stdlib) but an example that does depend on it is better than nothing at all.

[2020-01-11 23:55] guillaumebrunerie opened #4371 "Inconsistency with rewrite rules and assumptions in Prop"
It seems like rewrite rules do not always check whether assumptions in Prop are bound in the left-hand side, see function `ok` the code below. Note that defining `ok` directly by an absurd pattern does fail as expected. Defining `⊥` as a `Set` instead of a `Prop` also makes it fail as expected.

[code]

[2020-01-12 04:20] #4368 closed, assigned to asr

[2020-01-12 05:45] MatthewDaggitt commented on #4368
@asr apologies, I was meaning to do this yesterday but it completely slipped my mind. Thank you very much for picking up the slack :heart:

[2020-01-12 10:38] jespercockx commented on #4371
It's weird that defining `ok` directly with an absurd pattern does lead to the expected error message. Looking at the debug output, it seems that the rewriting machinery is doing the right thing but there is a mistake in the occurs check in the body of `ok`: the argument `p` is considered to be unused. Probably the reason is that internally it is hidden beneath a `dontCare` constructor. Working on

[2020-01-12 11:07] #4371 closed, assigned to jespercockx

[2020-01-12 11:41] jespercockx commented on #4353
Here is a cut-down example:
[code]
The crucial unsolved constraint (the only one left over in this example) is:
[code]
Looking at the debug output, it seems the problem is that `_[_]` uses a different case splitting order from before. We can also verify this by changing the definition of `_[_]` to force it to split on the natural number first:
[code]
This change makes the example typecheck.

@UlfN

[2020-01-12 13:58] UlfNorell commented on #4353
That seems likely.

[2020-01-12 22:45] jespercockx commented on #4353
In that case I don't think there's an easy fix for this problem, as the current splitting tree seems to be the correct one.

To make this example actually work with the current splitting tree, Agda would have to be able to detect when reduction of a term is blocked on a metavariable, but from the other arguments of the function we can deduce that any possible solution for this metavariable will an

[2020-01-13 10:18] pnlph commented on #4357
Maybe we can achieve changes in the structure with [Page redirects](https://docs.readthedocs.io/en/stable/user-defined-redirects.html#page-redirects)

Did someone use this feature before?

[2020-01-13 11:48] pnlph commented on #3876
Just noticed that the changelog was split.
Here is the link where you can find the reference above:
[Release notes 2.6.0](https://github.com/agda/agda/blob/master/doc/release-notes/2.6.0.md)

And the split commit:
064095e

[2020-01-13 13:47] guillaumebrunerie commented on #4366
Shouldn’t this be labelled as a regression instead?
Some of my code broke after updating my Agda due to this issue (and your workaround worked fine, except that I have nine constructors in my datatype, therefore I need nine "i = _"…).

Here is a self-contained example that I wrote before noticing that the issue had already been reported:

[code]

[2020-01-13 16:39] nad commented on #4260
I suggest that we wait until after the upcoming release.

[2020-01-13 17:04] guillaumebrunerie commented on #3365
There does not seem to be any objections here, so I’ve open the pull request.
If it is accepted by the people at linguist (which I guess is likely), then the changes will automatically be applied to all Agda files on GitHub when the next version of linguist is released/deployed (approximately once a month but can be more irregular).

[2020-01-14 17:50] laMudri commented on #3672
This one seems to be quite complicated (#FVTY).

[code]

[code]

[code]

[2020-01-15 05:10] MatthewDaggitt commented on #3604
Another update. Still in the process of wading through my 10k LoC [routing library](https://github.com/MatthewDaggitt/agda-routing) trying to fix the problems raised by this change. I haven't yet finished, but so far I have found 43 instances of functions that were previously accepted as terminating but no longer are. Of these, in 30 of them the recursive call has no dependencies on the outcome of

[2020-01-15 05:14] MatthewDaggitt commented on #3604
Hmm hang on I've just reread the mailing list thread. Unlike the top comment in this issue which said the type checker hangs, in the mailing list Thorsten shows an example which is incorrectly accepted as productive. If that is indeed the case, it does somewhat invalidate my third point.

[2020-01-15 09:08] nad commented on #3604
Is that code structurally recursive?

[2020-01-15 09:14] MatthewDaggitt commented on #3604
Yup, it's structurally recursive on the implicit parameter `p` which decreases from `valid ((_ , k) ∷ p ∣ _ ∣ _)` to `valid p` in the recursive call.

[2020-01-15 10:04] gallais commented on #3604
Have you considered performing a partially applied recursive call at the
top-level? i.e. `with valid {p}`?

[2020-01-15 10:18] nad commented on #3604
I guess you mean something like `𝓒ₜ⊆𝓡ₜ t {p = valid p}`.

[2020-01-15 10:19] nad commented on #3604
This is another trick that could be documented in the changelog.

[2020-01-15 11:31] laMudri commented on #3604
Upon rereading, my description here is unclear. I'll edit that now.

[2020-01-15 16:00] guillaumebrunerie commented on #2249
Duplicate of #737.

[2020-01-15 16:00] #2249 closed, assigned to nobody

[2020-01-15 16:15] guillaumebrunerie commented on #2264
I am often annoyed by the impossibility of using implicit arguments with mixfix operators. For instance if I want to add an implicit argument to an existing expression or pattern, I have to convert it to prefix notation, which is annoying and much less readable.

I’m not entirely sure I understand the reason given in the update, is the problem with unnamed implicit arguments? Allowing only named i

[2020-01-15 18:14] gallais commented on #2264
If you are often inserting the same arguments, you may want to declare a pattern
synonym for the more explicit constructor.

[2020-01-15 20:22] sattlerc opened #4373 "Non-imported instances are used for instance resolution"
On recent master (e554c11).

Consider the following file:
[code]
In another file, the following code works, despite the instance `t` not being in scope:
[code]
If we only make available a copy of the imported module, the instance is not found, as expected:
[code]
Related: #4166

[2020-01-16 13:58] bafain opened #4375 "Internal error in Agda/TypeChecking/Monad/Context.hs:120"
Agda version: `2.6.1-ef74b1d`
Agda standard library version: `1.2-6ce46df6`

Code:
[code]

Steps to reproduce:
1. Open the code in `emacs` and load the file.
2. Uncomment the import statement `open import Data.Unit` and reload the file.

[2020-01-16 15:09] MatthewDaggitt commented on #3604
top-level? i.e. with valid {p}?

Ah that's super sneaky :open_mouth: That should work in this case, I'll try it out tomorrow. Of course that only works in this case the structurally decreasing argument comes before the argument that depends on the with. If it's the other way round then I don't see how it would. Not sure off the top of my head if I have any of those cases....

[2020-01-16 15:30] nad commented on #4375
I could reproduce the problem, and I could fix it by removing all interface files.

[2020-01-16 22:51] nad opened #4376 "Is the termination checker too liberal?"
I don't think the following code should be accepted:
[code]
Note that `A` is an infinite, corecursively defined type. The corecursive call to `r` is guarded, but the guarding is undone in the body of `B`, and the left-most occurrence of `.force` in the definition of `B` refers to a field of an inductive record type.

If `R` is moved outside of `A`, then the code is for some reason rejected, even i

[2020-01-17 02:20] asr opened #4377 "GitHub actions do not support GHC 8.8.2"
While working in #4285 I noted that GitHub actions do not support GHC 8.8.2. I filled https://github.com/actions/setup-haskell/issues/6.

[2020-01-17 03:01] asr commented on #4377
This was the only problem I found with GHC 8.8.2, so I'll close this issue and I'll use #4285 for reporting this problem.

[2020-01-17 03:01] #4377 closed, assigned to asr

[2020-01-17 03:03] asr commented on #4285
GitHub `setup-haskell` action does not support GHC 8.8.2. I filled https://github.com/actions/setup-haskell/issues/6.

[2020-01-17 08:39] MatthewDaggitt commented on #3604
top-level? i.e. with valid {p}?

Just attempted to implement this solution in the new definition below (@gallais I think this what you meant?):
[code]
Firstly there is the problem that I was wrong: the recursive call **does** depend on the result of the `with`s. Namely it depends on the pattern matching of `refl` in the first `with` statement. Therefore this solution isn't applicable in this parti

[2020-01-17 09:41] jespercockx commented on #3604
The problem is that it is not a simple decision of reverting or not, since https://github.com/agda/agda/commit/87a6223ac3fb473e7b01ee9e0118184ea6725823 removed about 300 lines of code that were in dire need of maintenance. So at the very least, someone would have to take ownership of this piece of code and bring it up-to-date with the current version of Agda (I'm not that person, sorry).

I think

[2020-01-17 09:43] nad commented on #4376
Here is a similar example:
[code]
This code is accepted. We can make Agda loop by adding some lines:
[code]
The looping can be avoided by turning off η-equality for `Rec`.

If the name of `Rec`'s field is changed, then the code is for some reason rejected:
[code]
However, the code is accepted again if a size is given explicitly:
[code]
The following variant is also accepted:
[code]

[2020-01-17 09:46] nad commented on #4376
For some reason Agda accepts the code if `R`, `R′` and `r` are in a mutual block:
[code]

[2020-01-17 09:52] nad commented on #3604
My impression is that this feature was buggy and not well understood. Code that relies on it may well be incorrect, as noted above. For that reason I don't think we should keep the feature, even if the result is that some code breaks.

[2020-01-17 10:19] nad commented on #1556
The changelog for 2.6.0 mentions that this bug has been fixed, so I guess it makes sense to document that it has been reintroduced.

[2020-01-17 10:21] bafain commented on #4375
These steps produce the same error:
1. Remove all interface files: `find $AGDAPRIM $AGDASTDLIB Error.agdai -name '*.agdai' -delete`
2. Open the code in `emacs` and load the file.
3. Uncomment the import statement `open import Data.Unit` and reload the file.
4. Comment the import statement again and reload the file.

[2020-01-17 10:23] UlfNorell commented on #4345
Agda solves `Y'` to `Y` despite the levels not matching, because of this logic:

https://github.com/agda/agda/blob/2363e869a5ad096be5b1510173fb821de1e181e1/src/full/Agda/TypeChecking/Monad/Constraints.hs#L180-L185

(`LevelCmp` is considered "not blocking")

This isn't actually a case of different constraint order changing the result, you genuinely get different constraints if you define `Y' = Y`.

[2020-01-17 10:30] UlfNorell commented on #4367
The reason for this is that the module telescope and the type signature of `fail` are generalized separately. So, first the module telescope is generalized to
[code]
then the type of `fail` is generalized to
[code]
Note that there is no connection between the generalized `a` in the type of `fail` and the `A` from the module telescope.

In contrast, the `ok` case works because there no generalizati

[2020-01-17 10:30] #4367 closed, assigned to nobody

[2020-01-17 10:35] jespercockx commented on #4345
`--no-sort-comparison` turns off the comparisons of sorts during conversion check, but to compensate it turns *on* the sort comparison during instantiation of metavariables: https://github.com/agda/agda/blob/2363e869a5ad096be5b1510173fb821de1e181e1/src/full/Agda/TypeChecking/MetaVars.hs#L1007-L1023 So this may lead to some extra constraints being created that lead to the problem being solved.

[2020-01-17 10:40] jespercockx commented on #4345
I think morally the correct thing to do is to always use `--no-sort-comparison`, but since this is a big change I imagine it would lead to quite a few failing test cases at first.

[2020-01-17 12:22] UlfNorell commented on #4267
After fixing #4373 `import Bla using ()` no longer works. The record type needs to be available qualified. I still think this is the right behaviour though. Reopened for discussion.

[2020-01-17 12:56] nad commented on #4267
I haven't tested anything yet, but it sounds to me as if the new behaviour makes more sense than the previous one.

[2020-01-17 13:02] #4373 closed, assigned to UlfNorell

[2020-01-17 13:21] amp12 opened #4379 "Feature request: an "--interval" OPTION"
I have recently been experimenting with
[code]
to make use of Cubical Agda's implementation of HITs in the presence of Axiom K. Using the fact that the BUILTIN Path and PathP can be shown to be in bijection with the usual homogeneous and heterogeneous inductively defined equality types (modulo Axiom K for the latter),  It seems to give a very nice approach to user-defined QITs; and I believe it is

[2020-01-17 14:30] jespercockx commented on #4379
This is a duplicate of https://github.com/agda/agda/issues/3750

[2020-01-17 14:30] #4379 closed, assigned to nobody

[2020-01-17 16:05] sattlerc commented on #4345
Thanks for the information @UlfNorell. I am not familiar enough with Agda's contraint handling to debug these issues.

Non well-typed constraints seem like a bad thing. I would expect Agda to throw in constraints (here, on sorts) as needed to make them well-typed. I see that there are open issues regarding this, so I assume this is not intended behaviour.

Given an Agda file with a hole and unsolv

[2020-01-17 18:10] amp12 commented on #3750
I'm joining this discussion late -- it was pointed out to me by Jesper when he closed my #4379.

As #4379 says, I am currently happily abusing Cubical Agda by combining parts of it --with-K. I would be very happy if there were was an option that brings in a subset of --cubical that excludes the primitives and builtins in Agda.Builtin.Cubical.Glue (actually I don't think one needs Agda.Builtin.Cubi

[2020-01-17 19:14] sattlerc commented on #4375
Here is a smaller, self-contained test case:
[code]
[code]
[code]
Remove interface files, open Agda in interaction mode, check Issue4375, comment out the line `import Issue4375.B`, then check the file again. Result:
[code]

[2020-01-17 19:15] sattlerc commented on #4375
The issue disappears with option `--no-caching`, so it is caching related.

[2020-01-17 19:25] sattlerc opened #4380 "Parse error with instance constructor and end of file"
On master (ba83e71).

[code]
Output:
[code]

[2020-01-17 21:00] #4380 closed, assigned to sattlerc

[2020-01-19 17:10] laMudri commented on #4338
This might be a good place to add the ability to build a library without taking up so much RAM. Discussion [here](https://github.com/NixOS/nixpkgs/pull/76653) currently suggests the hack of analysing the `Everything` file and building each imported file separately, rather than building the `Everything` file itself.

[2020-01-19 19:37] jespercockx commented on #1981
I'm trying again to make this work and I've been able to make some progress on the internal errors that were occurring in my previous attempt. However, now I'm stuck on a rather more substantial issue:

- Rewrite rules need to respect eta-equality and irrelevance
- Hence, the matching algorithm for applying a rewrite rule needs to be type-directed
- Hence, rewriting needs to know the type of the h

[2020-01-20 19:25] nad commented on #4338
See #4316.

[2020-01-20 19:30] nad commented on #4316
For some libraries that are not so tightly connected there might be a point in dropping some modules from the cache when they are not needed any more, and perhaps also scheduling the type-checking of modules with an eye to reducing memory consumption. However, I think we should start with what I suggested [above](https://github.com/agda/agda/issues/4316#issuecomment-569806456).

[2020-01-21 10:12] bafain opened #4382 "Rewriting and records with eta"
In the following code `f x` is expected to be equal to `d` by postulating an identity proof `r` and adding it as a rewrite rule, but it does not seem to be (`(*)` is rejected: `f x != d of type D`).
[code]
Agda version: `2.6.1-0895178`

[2020-01-21 12:10] #4382 closed, assigned to jespercockx

[2020-01-21 13:39] bafain opened #4383 "Confluence checking and parametrised modules"
In the following code the confluence checker warns about an inequality that seems to hold in the same scope:
[code]
Agda version: `2.6.1-475c7e5`

[2020-01-21 14:44] jespercockx commented on #4383
The confluence checker is run `inTopContext`, but despite this fact it seems that it still tries to instantiate rewrite rules to the context of the parametrized module before applying them, which leads to an ill-typed application (the rule `r` is applied to module parameter `z`, which has type `D` instead of `Set`). This then causes the confluence checker to fail. It's actually a wonder that thing

[2020-01-21 20:43] Zinfour opened #4384 "Rewrite rules with interval arguments are not supported"
With this code:
[code]
I get the following error:
[code]
My agda version is `2.6.1-475c7e5`.

[2020-01-22 09:04] jespercockx commented on #4384
Here's the offending line: https://github.com/agda/agda/blob/475c7e515e2edbcff789f4fa3836b64828e1e8dc/src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs#L65

It does not really surprise me, as the implementor of rewrite rules (me) knows little of the implementation of cubical, and I imagine @Saizan doesn't know all the details the implementation of rewrite rules either. I could try to make a gu

[2020-01-22 09:04] UlfNorell commented on #4267
Okay then. Reopen if necessary.

[2020-01-22 09:04] #4267 closed, assigned to andreasabel

[2020-01-22 09:05] jespercockx commented on #4384
(Adding to the 2.6.1 milestone for replacing the internal error with a proper error message, actually making this work will have to wait until later.)

[2020-01-22 09:19] Saizan commented on #4384
From reading the documentation on  `PatternFrom` I would be inclined to really mirror the case for `Apply`, except for swapping `Pi` with the `PathP` def.

[2020-01-22 09:26] jespercockx commented on #4384
I guess that would make sense. But then one would also have to update the matching algorithm (in `NonLinMatch`) to deal with `IApply` patterns, and other places as well where I just put `__IMPOSSIBLE__` for now.

[2020-01-22 13:09] UlfNorell commented on #4375
The problem was that rebinding primitives from imported modules (happens during scope checking), changed the next fresh checkpoint id (in the TCState). Caching then loaded a cached state with checkpoint ids not matching the current ones. Fix in #4385 prevents computing primitives from updating the state.

[2020-01-22 15:07] #4375 closed, assigned to UlfNorell

[2020-01-23 09:15] MatthewDaggitt opened #4387 "Less responsive Emacs mode in v2.6.1 release candidate 1"
Whilst using Emacs mode for the v2.6.1 release candidate I've noticed that the type checking command is less responsive than before. In 2.6.0.1 the ***All done*** message in the bottom buffer is instantly replaced by ***Type-checking*** after pressing `C-c C-l`. However in the release candidate there's approximately a 2 second delay before the ***Type checking*** message comes up. During those 2 s

[2020-01-23 09:51] UlfNorell commented on #4387
Does this happen also for tiny modules with no dependencies?

[2020-01-23 09:57] MatthewDaggitt commented on #4387
So if you kill and restart Agda and then type check the file:
[code]
then it's instantaneous. However if you type check some big development, and then try to type check the module `Test` then it takes the standard 2 seconds...

[2020-01-23 10:26] #4383 closed, assigned to jespercockx

[2020-01-23 10:41] jespercockx opened #4388 "Get rid of unsafeModifyContext and unsafeInTopContext"
Recently I renamed the functions `modifyContext` and `inTopContext` to `unsafeModifyContext` and `unsafeInTopContext`. The reason for this is that these functions modify the `envContext` field, but they do not update related fields (specifically, module parameter substitutions and scope information on local variables), leaving the typechecking environment in an inconsistent state. This leads to `m

[2020-01-23 11:37] UlfNorell commented on #3855
I wrote some documentation

[2020-01-23 11:59] nad commented on #4387
I've noticed something similar.

[2020-01-23 14:28] Saizan commented on #4365
When `A` is a postulate we assume `transp` is the identity, this works well for `String`, `Int` and such other builtins.

It also makes sense if you think of postulates as global axioms: a fibrant type in a closed context might as well have `transp` be the identity.

In practice I also use postulates to sketch something and then turn it into parameters later, so I agree this is a bit confusing.

M

[2020-01-23 14:44] WolframKahl commented on #4365
I'd say that postulates are parameters that just happen to be declared in a way that makes it impossible to actually supply them.

So it makes sense to make postulates otherwise behave like parameters.

[2020-01-23 15:19] Saizan opened #4390 "Unification finds solution with bound variable used at wrong modality"
The following code leads Agda to solve `H` by `\ f -> rigid0 f` which is however rightfully rejected when given directly.

[code]

If I understand `Occurs.hs` correctly, then `variableCheck` might need to actually check the modalities of bound variables.

[2020-01-23 15:46] alexarice opened #4391 "Termination checking failed with guardedness"
The following definition fails at termination checking of gComp:

[code]

I don't think this is related to https://github.com/agda/agda/issues/1680 as this occurs with or without K. Maybe I am understanding guardedness wrong but I don't see an immediate reason this should not be accepted.

[2020-01-24 11:20] MarcelineVQ opened #4393 "[doc] document anonymous copattern syntax"
I've just been exposed to 'anonymous syntax for constructing records by copatterns' and am unable to find it in the documentation. If it's missing it would be worthwhile to add it.
In particular for
[code]
This
[code]
can be replace by
[code]
`where .force {j} → never {j}` is not an obvious thing, to me, and I'm unable to find this possibility being covered in either the copattern, record, or coin

[2020-01-24 11:24] UlfNorell commented on #4393
It can sort of be inferred from the [docs on pattern lambdas](https://agda.readthedocs.io/en/latest/language/lambda-abstraction.html), but it would be good to mention it explicitly there.

[2020-01-24 11:31] mietek commented on #3927
@UlfNorell: I don’t think it’s clear that `import M hiding (foo)` makes `foo` not accessible even as `M.foo`. Additionally, see https://github.com/agda/agda/issues/3933.

[2020-01-24 12:19] MarcelineVQ commented on #4393
Is that the best place to mention it? This may be because I don't know how coinductive records are created/translated behind the scenes but as a user I would not have thought to connect them to documentation for pattern lambda's.

I don't actually understand how the lambda-to-.extlam translation leads to knowing one can write that `.force` in a `where`, is there a fairly explainable direct connect

[2020-01-24 12:46] Blaisorblade commented on #4393
After some discussion on IRC `##dependent`, it seems there's a few missing docs:
1. Copattern lambdas should also be shown, indeed.
2. `𝜆 where` is equivalent to `𝜆 {...}` (says @gallais), but I can't find that documented under pattern lambdas nor under https://agda.readthedocs.io/en/v2.6.0.1/language/lexical-structure.html#layout.
3. On pattern lambdas, why is the generated function called `.extl

[2020-01-24 13:00] gallais commented on #4393
It means: not in scope. Users should not be able to rely on the generated name.

[2020-01-24 13:11] jespercockx commented on #4393
I thought we are no longer using `.` to refer to out-of-scope names, or is it still in use for pattern-matching lambdas?

[2020-01-24 13:29] gallais commented on #4393
The names for generated functions are [here](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Monad/Base.hs#L4125)

[2020-01-24 14:03] Blaisorblade commented on #4393
Since you're linking to sources, I'd propose to drop the dot from the documentation, and instead *say* that `extlam` is a fresh name — #4395 is an attempt (which does *not* close this issue).

[2020-01-24 14:30] jespercockx commented on #4388
I replaced some occurrences of the unsafe function with their safe variants where possible. The following usages are harder to get rid of:

- https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/Def.hs#L359 (call to coverage checker)
- https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/Def.hs#L650 (call to `checkWithFunction`)
- https://github.com/agda/a

[2020-01-24 14:55] MarcelineVQ commented on #4393
After being taken through this example by people in ##dependent I can pinpoint my confusion a little better and it was that I didn't know about `postfix projections` and what `𝜆 where` does. Because of not understanding postfix projections, the link to [lambdas](https://agda.readthedocs.io/en/latest/language/lambda-abstraction.html) was confusing because it has a different use of `.` which was cla

[2020-01-24 14:56] Blaisorblade commented on #4393
@MarcelineVQ Hope #4396 answers those concerns.

[2020-01-24 15:09] MarcelineVQ commented on #4393
Yes I think that should let people parse the example code on their own.

[2020-01-24 15:11] xekoukou commented on #4388
With regard to ```inContext``` , we need to decide what should be the default scope.

I personally find it useful to be able to change the scope as well, probably with a different primitive.

In #4190 , I expose constraints to the user. To correctly try to solve the meta of the constraint, you would have to also change the scope to that of the closure of the constraint.

In other words, a new refl

[2020-01-24 15:18] #4393 closed, assigned to nobody

[2020-01-25 13:41] bluescreen303 opened #4398 "runtime irrelevance ignored for implicit arguments"
arguments marked with the runtime irrelevance annotation cannot be explicitly passed to functions that would use the argument for computation. However, agda is helpful in cases where the argument is used implicitly, leading to errors.

using agda 2.6.0.1

I'm seeing 2 issues with the code below:
- compile-time and run-time disagreeing about outcome (`t2c` and 3rd purStrLn)
- differing behaviour be

[2020-01-25 23:59] asr commented on #4242
@L-TChen, since you are a maintainer of `geniplate-mirror` (thanks for accepting this job), did you get a notification for https://github.com/danr/geniplate/issues/12?

[2020-01-26 04:46] L-TChen commented on #4242
No, I did not get notifications. Since I am not a collaborator of that repo, I will fork one after coming back from holidays.

[2020-01-27 07:54] danr commented on #4242
@L-TChen Added you as a collaborator in case you want to use the repo. Unfortunately I have no resources to maintain this library.

[2020-01-27 08:55] L-TChen commented on #4242
Thanks!

On Mon, 27 Jan 2020 at 15:54, Dan Rosén <notifications@github.com> wrote:

--
— LT

[2020-01-27 11:43] nad commented on #4398
Now I saw that you used Agda 2.6.0.1. Agda 2.6.0.1 does not officially support `@0`. (For some reason preliminary work on `@0` was included in the release.) All the problematic examples are rejected by the current development version of Agda.

[2020-01-27 11:43] #4398 closed, assigned to nobody

[2020-01-27 14:26] #3855 closed, assigned to andreasabel

[2020-01-27 15:17] guillaumebrunerie opened #4399 "Case split on unnamed argument produces non-sensical code"
[code]

Case-splitting on `p` in the hole above produces the following invalid clause
[code]
and an incomprehensible error message:
[code]

_Edit: slightly simplified the code_

[2020-01-27 15:54] jespercockx commented on #4399
@Saizan are you perhaps using `show` directly to print the domain? That doesn't look very good. Also, `splitPartial` should probably not even be called when `--cubical` is not active.

[2020-01-27 15:56] UlfNorell commented on #4390
Using the bug to produce a segfault:
[code]

[2020-01-27 16:00] jespercockx commented on #4390
Fixing this by changing the occurs check as @Saizan is problematic because the occurs check is currently not type-aware, so it is not possible to know the modality of a lambda abstraction. See also https://github.com/agda/agda/issues/4388 for another place where making the occurs check type-aware would be useful.

[2020-01-27 16:12] Saizan commented on #4390
@jespercockx the `ArgInfo` in a `Lam` constructor contains a `Modality` field, is that not accurate?

[2020-01-27 16:15] gallais opened #4400 "TERMINATING pragma in where clause"
The following test case leads to

[code]

while this one leads to a termination error because the
TERMINATING pragma is neither rejected nor taken into account:

[code]

[2020-01-27 16:22] UlfNorell commented on #4390
The problem is solving the metavariable (of type `@0 X → X`) to the bound variable `f : X → X`. There are no lambdas involved as far as I can see.

[2020-01-27 16:34] Saizan commented on #4399
Yeah, the error message should be improved. And splitPartial should check the flag.

However case split shouldn't generate ```⦃ _ = ... ⦄``` as that's not a valid way to match against the right argument, in fact parsing does not recognize it as a named binding (otherwise it wouldn't trigger a partial split).

[2020-01-27 18:12] jespercockx opened #4401 "Missing check on context variables leads to Set:Set with --cumulativity"
This is a variant of https://github.com/agda/agda/issues/4390 with cumulativity instead of erasure:
[code]
Here we have that `Set'` normalizes to `Set`. Giving the solution `f x` for the underscore explicitly causes Agda to complain.

[2020-01-27 22:16] UlfNorell commented on #4390
Related, but not exactly the same problem I believe:
[code]
Solves `n := m` even though `m` is erased and `n` is not. The definition of `m` is dropped by the compiler, causing ghc to be confused.

[2020-01-28 08:03] andreasabel commented on #3008
Well, when I tagged it `regression on master` in March 2018 it actually was a regression on master. Then it got released with 2.5.4 in June 2018.

[2020-01-28 08:04] andreasabel commented on #4400
See also #3008 and #3355.

[2020-01-28 09:44] Saizan commented on #4390
Fair enough, I had made some assumptions about how things work. It seems this test case at least is more about subtyping.

Other forms of subtyping show the same bug, both `X` and `Y` get solved below:
[code]

On the other hand, a constraint where the argument of a meta is upcasted is still solvable if the solution also does the same upcast. Here it is correct to solve `Z`:

[code]

[2020-01-28 09:55] Saizan commented on #4390
For completeness, here's the same bug with irrelevance and flat.

[code]

[2020-01-28 10:54] #4399 closed, assigned to andreasabel