[2018-12-06 07:30] UlfNorell commented on #3341
This one is a bit tricky. There are two cases

- giving an already generalised variable
- giving a generalisable variable not mentioned in the type

In the latter case we would have to recheck the type and reload the file, something which the current give has no support for. In the former case, we would need to do some special magic to figure out which bound variable a generalisable variable maps

[2018-12-06 07:38] andreasabel commented on #1342
Should we go ahead with this issue and allow `with` on module parameters now?

[2018-12-06 07:50] UlfNorell commented on #3390
Test case without records and fewer dependencies:
[code]
It seems the problem occurs when generalising over a variable whose type contains an unsolved meta created outside the generalisation (which explains why adding a type signature makes it go away in the test case above).

[2018-12-06 08:15] UlfNorell commented on #3008
Refactorings stalled before I got to this part. Also, I believe the scope checker does the right thing, but the mutual blocks are not fine grained enough to make use of the information.

One possible way forward might be to run a dependency analysis on each mutual block before termination checking, and split it up in smaller blocks when possible.

[2018-12-06 08:23] UlfNorell commented on #2987
This is working as intended. As @andreasabel points out the `--library-file` does nothing in any of the commands. Adding `name: lib` to `lib.agda-lib` and `--library=lib` to the last command makes it work.

[2018-12-06 08:23] #2987 closed, assigned to nobody

[2018-12-06 08:26] nad opened #3434 "Regression related to instance resolution"
The following code is accepted by Agda 2.5.4.2, but rejected by Agda 2.6.0-bde7519:
[code]
Error message given by Agda 2.6.0-bde7519:
[code]
It seems to me as if this code should be accepted, despite the changes to instance resolution.

[2018-12-06 08:37] UlfNorell commented on #3434
It looks like instance search is not to blame. After the overlapping instances change (#3419) recursive goals are only attempted once we have a unique candidate, but in this case we get an error before that:
[code]
This clearly shouldn't fail, since filling the (second) `_` with `r₁` makes it type check.

[2018-12-06 08:42] UlfNorell commented on #2490
Calling it solved. Reopen as needed.

[2018-12-06 08:42] #2490 closed, assigned to jespercockx

[2018-12-06 09:40] UlfNorell commented on #2448
It's not clear to me what the problem is here. Is it only the wording of the `can be accessed via several
project roots` error message? Or is there an actual bug?

[2018-12-06 09:59] nad commented on #2448
I see two (minor) problems above:
* The wording of the error message. Perhaps we should complain about the fact that the module is anonymous.
* The incorrect comment in the source code suggests that something might be wrong. Either the comment should be fixed, or the code should be changed so that the comment is correct.

[2018-12-06 10:03] martinescardo commented on #3341
This does happen a lot to me, and I am currently forced to do the deletion, rewriting and reloading, which is why I ended up here. If you do ctrl-c-ctrl-s in a hole in a situation such as this, then the contents of the hole is inferred, but it is not given, with the message that a generalizable variable is not supported in the hole. I would be very convenient to have this fixed one way or another.

[2018-12-06 10:07] UlfNorell commented on #2448
I'm not very concerned about the comment. Can you violate with a program that actually checks?

In any case neither of the problems seem very serious. Feel free to address them as you see fit.

[2018-12-06 10:38] UlfNorell commented on #868
The renaming logic only kicks in when shadowing bound variables. In this case the `x` being shadowed is a postulate.

[2018-12-06 11:04] UlfNorell commented on #1342
I don't see why not.

[2018-12-06 12:07] jespercockx commented on #1342
I talked with Andreas about this over lunch but I'm a bit hesitant. Currently there's an invariant that at any point inside a parametrized module, all definitions in the module are applied to the *same* (possibly refined) terms for the parameters. This invariant would be broken if we allow case splitting on module parameters. I know at least the logic for rewrite rules inside parametrized modules

[2018-12-06 12:36] nad opened #3435 "Performance regression"
I have some code that type-checks about ten times slower using Agda 2.6.0-4a5e1dc, compared to Agda 2.5.4.2:
[code]
The first call to `agda` above takes about three times longer (with my current setup), and the second call about ten times longer. However, memory usage ("total memory in use") is lower.

[2018-12-06 13:21] #1913 closed, assigned to UlfNorell

[2018-12-06 13:21] #2489 closed, assigned to UlfNorell

[2018-12-06 13:27] UlfNorell commented on #2579
I put back the check. With the fixes to #1913 and #2489 it no longer makes sense to not open or name the module.

[2018-12-06 13:28] martinescardo commented on #3341
In the cases I am considering and where I have a problem, the generalizable variable is in scope, and so doesn't have to be introduced as something freshly new to the scope when filliing the hole (automatically or manually).

[2018-12-06 13:35] #2089 closed, assigned to nobody

[2018-12-06 13:38] UlfNorell commented on #2939
Fixed by @halfaya in 9b8c0d770a.

[2018-12-06 13:38] #2939 closed, assigned to asr

[2018-12-06 14:14] #3195 closed, assigned to nobody

[2018-12-06 15:17] UlfNorell commented on #3247
It looks like `cabal-2.4.1.0` might work. At least the `build-dir` issue is fixed.

[2018-12-06 15:41] UlfNorell commented on #3318
ping @Saizan Is there a plan for the cubical builtins not currently declared?

[2018-12-06 15:50] #3343 closed, assigned to asr

[2018-12-06 15:57] martinescardo commented on #3341
NB. Sometimes (a very small proportion of the cases I've tried) ctrl-c-ctrl-s does fill a hole with generalizable variables that are in scope (I've just hit one case now).

[2018-12-06 16:02] UlfNorell commented on #3329
Maybe someone that uses Emacs to write Haskell code could investigate? @nad @jespercockx @andreasabel ?

[2018-12-06 16:20] #3169 closed, assigned to nobody

[2018-12-06 16:29] UlfNorell commented on #3145
I'm closing this for failure to reproduce. Reopen if needed.

[2018-12-06 16:29] #3145 closed, assigned to nobody

[2018-12-06 16:38] UlfNorell commented on #3435
What does `-v profile:7` say?

[2018-12-06 16:39] UlfNorell commented on #3435
Do you have a bisect running?

[2018-12-06 20:38] fredrikNordvallForsberg commented on #3329
[haskell-mode](https://github.com/haskell/haskell-mode) version 16.1 fails in the same way as described above.

[2018-12-07 06:30] m0davis opened #3436 "generalised variable in (data/record type) declaration not supported without accompanying definition"
Generalised data parameters are now supported, but in version 424cf62360c26e133922abd1b50b06b84f50c263, the following code is not accepted:
[code]
The error message is
[code]
Adding a definition for `D` avoids the error.

[2018-12-07 07:58] #3436 closed, assigned to UlfNorell

[2018-12-07 09:16] guillaumebrunerie opened #3437 "Add Propω"
As there is `Setω`, should there be a `Propω` as well?

[2018-12-07 09:20] guillaumebrunerie opened #3438 "Squashing of types in Setω"
I can’t find a way to define the squashing of a type in `Setω` (possibly with the `--omega-in-omega` option). I tried the following but it gives an error message that I don’t understand:
[code]
[code]
Then I tried with `Propω` but there is no `Propω` (#3437)

[2018-12-07 09:26] guillaumebrunerie opened #3439 "Setω doesn’t respect --type-in-type"
The following gives unsolved constraints, but I think it should just work.
[code]
[code]
If we additionally add the `--omega-in-omega` options (which should presumably do nothing more in the presence of `--type-in-type`) then it fails:
[code]

[2018-12-07 09:57] jespercockx commented on #3438
This works:
[code]
I'm not sure why you get the error `Setω != Set` when you remove the `{-# NO_UNIVERSE_CHECK #-}`, though.

[2018-12-07 10:00] jespercockx commented on #3437
The reason why we have `Setω` is to give a type to expressions like `∀ ℓ → Set ℓ`. Since `∀ ℓ → Prop ℓ` also lives in `Setω`, I don't see a real use-case for having `Propω`.

[2018-12-07 11:03] nad commented on #3435
For the dependencies, with 2.5.4.2:
[code]
With 2.6.0-4a5e1dc:
[code]
`Typing.CheckRHS` is about six times slower, `Typing.OccursCheck` is about twice as slow, termination checking is about 50% slower, and `Scoping.InverseScopeLookup` is about three times as slow.

For the final module, with 2.5.4.2:
[code]
With 2.6.0-4a5e1dc:
[code]
`Typing.CheckRHS` is about seventeen times slower, `Typing.Occur

[2018-12-07 11:04] nad commented on #3435
Not yet, but I plan to.

[2018-12-07 11:08] nad commented on #2579
Please document this change.

[2018-12-07 11:11] nad commented on #3153
@asr, did you intend to add a test case?

[2018-12-07 11:24] nad commented on #3329
We could presumably override the Emacs procedures related to comments, but the cost-benefit ratio seems way too high to me. I see two ways forward:
* We decide not to fix this.
* We remove the `{-`/`-}` syntax from the Emacs syntax table, so that (this part of) Emacs only knows about the `--` notation. I am not sure what other consequences this would have, but we could try it out for a while and s

[2018-12-07 11:26] nad commented on #3436
This and many other fixed issues related to generalisation should have the "not-in-changelog" label, right?

[2018-12-07 11:30] nad commented on #3436
I added this label to some of the issues.

[2018-12-07 11:33] nad commented on #3439
This is related to https://github.com/agda/agda/issues/2487#issuecomment-444498567: Is `--type-in-type` compatible with `--omega-in-omega`?

[2018-12-07 11:52] guillaumebrunerie commented on #3439
Two related questions are
- What is the semantics of `--type-in-type` with respect to sorts outside the `Set i` hierarchy? Should this flag disable sort checking altogether or just universe level checking? For instance I guess that `Set : Prop` should still be forbidden with `--type-in-type`.
- Should `Setω` be instead `Set ω` for `ω : Level`? In that way, the problem in the OP would go away even

[2018-12-07 12:33] UlfNorell commented on #3435
I've done some investigation and I believe the problem is @jespercockx's lifting of the restriction on unconstrained metas in instance goals. In the example there are a lot of instances in scope and I suspect they are now all attempted instead of waiting for the goal type to be solved. I'm working on a stand-alone test case.

[2018-12-07 12:34] jespercockx commented on #3439
Currently it only disables checking of constraints on universe levels but not on sorts in general, which is presumably what's causing the issue here.

No, having `ω : Level` would defeat the whole purpose of having `Setω`, which is giving a type to `∀ ℓ → Set ℓ` that is itself **not** a part of the `Set ℓ` hierarchy.

However, we could consider `Setω` to be equal to any `Set ℓ` when `--type-in-typ

[2018-12-07 12:47] UlfNorell commented on #3436
Tbh I'm not sure which issues rate a mention in the changelog and which don't. I'm sure @asr knows.

[2018-12-07 12:53] guillaumebrunerie commented on #3439
Ah yes, of course.

I think that would make sense.

[2018-12-07 12:59] asr commented on #3153
Yes.

[2018-12-07 13:05] asr commented on #3436
Right. Closed issues on non-released features should have the `not-in-changelog` label.

[2018-12-07 14:05] UlfNorell commented on #3435
Self-contained test case. Checks more or less instantly on `2.5.4.2` and (at least) quadratic in number of eq reasoning steps on `master`.
[code]

[2018-12-07 14:41] gallais opened #3440 "Command to insert lowest Level a record / inductive type can live at"
`C-c C-s` can't solve these because the solution is not unique. However there is
enough information around to generate the lowest level the definition can live at.
So we should add a command to ask Agda to fill that in.

[code]

[2018-12-07 14:46] gallais opened #3441 "Generate Level expressions with fewer parentheses"
We have `infixl 6 _⊔_` in `Agda.Primitive` but we generate right-nested expressions
when solving metavariables. When they get printed we get a lot of useless parentheses.

[code]

We can either change `Agda.Primitive` to use `infixr` or change the way we generate
these expressions. Thoughts?

[2018-12-07 15:00] JacquesCarette commented on #3441
Yes please! I don't have a strong opinion on which change to make.

[2018-12-07 18:51] nad commented on #3435
OK, then I won't run a bisection.

[2018-12-07 19:18] nad commented on #3435
In case anyone else wants to do this the following code might be a suitable starting point (the code assumes that the setup described in the OP was performed in `regression`, a subdirectory of the top-level of an Agda source tree):
[code]
Note that this code uses some features of agda-bisect that I pushed just now.

[2018-12-07 19:21] nad commented on #3441
Related: #2765.

[2018-12-07 19:40] nad commented on #3435
The code also relies on `test/interaction/RunAgda.hs` being symlinked to the top-level directory. However, I noticed now that the bisection process chooses a commit from before the introduction of `RunAgda.hs`, so the script above does not work.

In general I think bisection would be easier if releases were part of the main "trunk" of the commit tree (so that the current HEAD was a descendant of t

[2018-12-07 21:46] UlfNorell commented on #3435
I think you might want to use the stand-alone test case rather than the one from the OP. But in this case I think a manual bisect would be faster. I'm quite confident that the unconstrained metas in instance search change is the culprit.

[2018-12-08 05:24] asr opened #3442 "Support GHC 8.6.3"
GHC 8.6.3 was [released](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-December/026825.html). I created this issue for collecting/reporting the required changes/issues.

[2018-12-08 07:31] UlfNorell commented on #3442
Works out-of-the-box on MacOS 10.13.

[2018-12-08 15:45] asr commented on #3442
The same on Ubuntu. Blocked by https://github.com/haskell-CI/haskell-ci/issues/195.

[2018-12-08 19:07] mechvel opened #3443 ""internal error" in Agda of December 7, 2018"
This is on  Development Agda of December 7, 2018,
            ghc-7.10.2, Standard library of December 7, 2018.

Download
                http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-dec7-2018.zip

and unzip it. Then
[code]
reports
[code]

It probably relates to the last two lines in Pol.agda :
[code]
If these two lines are commented out, then  Pol.agda  is type-checked.

[2018-12-08 22:24] asr commented on #3128
After fixing the above type I realised we are not generating any interface files from `Setup.hs`. I reported this problem in #3444.

[2018-12-08 22:36] asr opened #3444 "`Setup.hs` is not generating the interface files"
In my current setup (GHC 8.6.3 and cabal-install version 2.4.0.0) `Setup.hs` is not generating the interface files because when running the function

[code]
the first equation is always used. I guess this equation was required by older versions of `cabal-install` or `Cabal`.

[2018-12-09 10:51] nad commented on #3435
On closer thought the problem is perhaps rather that the "commit tree" is not a tree but a DAG. I imagine that things would be easier if long-lived branches were rebased before they were incorporated into the main branch.

I dumped my partial work above in order to perhaps save time for future investigations of performance regressions.

[2018-12-09 14:44] sattlerc opened #3445 "case splitting attempts to shadow constructor"
On master (18ffdbc).

[code]

[2018-12-09 15:22] jespercockx commented on #3445
Working on it...

[2018-12-09 21:09] gallais commented on #3443
I just hit the same one with a file that used to typecheck with a previous
version of 2.6.0 with support for `variable` (can't remember which commit).

I'm currently running 2.6.0-329b843

[2018-12-09 21:28] gallais commented on #3443
Shorter test case:

[code]

If we spell out the following missing cases then the internal error goes away:

[code]

So it may be related to #3407

edit: reproduced after updating to 2.6.0 4c096a4

[2018-12-09 21:39] nad commented on #3445
See #2522.

[2018-12-09 21:39] #3445 closed, assigned to jespercockx

[2018-12-09 23:46] jespercockx commented on #2522
#3446 fixes these problems except for the last one by @nad . My new mechanism tries to avoid picking names that are already in scope, but as `c` is not in scope it's not avoided.

[2018-12-10 13:30] jespercockx commented on #2522
I'm not going to fix the remaining issue before the release.

[2018-12-10 13:31] #3127 closed, assigned to andreasabel, jespercockx

[2018-12-10 13:47] jespercockx commented on #3438
I think the current behaviour here is as expected. To squash `Setω` without `--type-in-type` or `{-# NO_UNIVERSE_CHECK #-}`, we would need to support `Propω` (#3437).

[2018-12-10 13:48] #3438 closed, assigned to jespercockx

[2018-12-10 14:04] #3439 closed, assigned to jespercockx

[2018-12-10 14:05] #3114 closed, assigned to jespercockx

[2018-12-10 14:20] #3032 closed, assigned to jespercockx

[2018-12-10 14:25] #3433 closed, assigned to jespercockx

[2018-12-10 14:42] nad commented on #2522
The remaining problem exists also in Agda 2.5.1.1, so the "regression in 2.5.2" label does not apply to this problem.

[2018-12-10 16:45] jespercockx commented on #3070
It's done. You can find the documentation here: https://github.com/agda/agda/blob/master/doc/user-manual/language/prop.lagda.rst

[2018-12-10 16:45] #3070 closed, assigned to jespercockx

[2018-12-10 16:52] jespercockx commented on #3333
Removing `--prop` seems to be the easiest way to fix this issue. Anyone against?

[2018-12-10 17:06] jespercockx commented on #2820
I guess nothing will happen with the sized types situation before the release, which is unfortunate but understandable because:
1.  We have a lot of other new features that are ready to be released
2. The current situation is not any worse than with the previous releases

So I will just bump this and other sized-types issues to the next release. Hopefully we'll get a fix soon...

[2018-12-10 17:28] nad commented on #3333
Are there any interesting models or axioms that are ruled out by the addition of `Prop`?

[2018-12-10 17:33] jespercockx commented on #3148
Without a smaller example, I'm afraid this won't be fixed for 2.6.0.

[2018-12-10 17:51] #3116 closed, assigned to nobody

[2018-12-10 17:54] jespercockx commented on #2487
Any update on this issue? Since several issues with sized types will (very likely) not be fixed before the release, we should make `--sized-types` incompatible with `--safe`.

[2018-12-10 17:57] fredrikNordvallForsberg commented on #2487
Working on it now, in fact... I can also make `--sized-types` unsafe, or go ahead and do it now, if you want.

[2018-12-10 17:59] jespercockx commented on #3391
I just did another pass over all open issues and bumped several that seemed unlikely to be fixed before the release. This leaves us with just 37 issues remaining before we can push out the release. Go Agda team!

[2018-12-10 18:13] asr commented on #3369
Given the great effort of @jespercockx and others in preparing the release of 2.6.0, I'll use the short time I have available on these days to help to release Agda 2.6.0 release candidate before Christmas. In consequence, 2.5.4.3 won't be released.

[2018-12-11 08:12] jespercockx commented on #3333
I would guess any model like that would also be ruled out by irrelevance, which is enabled by default.

[2018-12-11 08:46] guillaumebrunerie commented on #3333
Also it seems to me that it is impossible to use `Prop` by accident, you have to actually write down the keyword `Prop` (or use a library that does). So someone concerned about such models could just not use `Prop` (unlike for instance `--with-K/--without-K` which is much more subtle to detect).

[2018-12-11 08:47] nad commented on #3333
Generally speaking I think we should make it possible to turn off more features, not less, to cater to those who want their code to be compatible with as many theories as possible. I would thus suggest that we make it possible to turn off irrelevance, just like we can turn off universe polymorphism, sized types, pattern matching, and other features.

[2018-12-11 08:52] nad commented on #3333
I don't have a strong opinion on this heuristic, but I still think it should be possible to turn off `Prop`. I don't mind if the default is `--prop`.

For those interested in minimal theories we could perhaps include a flag that turns off as many features as possible, `--minimal`, and then they can pick and choose between the features that they want/need.

[2018-12-11 09:01] nad commented on #2487
In that case I think sized types should, by default, be turned off. Note that we have also discussed hiding the old guardedness machinery under a flag (https://github.com/agda/agda/issues/1209#issuecomment-361265001).

[2018-12-11 09:01] jespercockx commented on #3363
Good news: I just got an email back from support saying that they have enabled https on the wiki, and any http requests should now be redirected to https automatically. I still think it's a good idea to have a nice front page for Agda which is not a wiki, but at least this issue can be closed now.

[2018-12-11 09:04] nad commented on #2487
However, I am not so keen on classifying sized types as unsafe. I have a fair amount of code that uses sized types and is marked as `--safe`, and first updating this code to work with 2.6.0, and then updating it again once we (hopefully) make sized types safe, sounds like a waste of time to me. Perhaps others are in a similar situation.

[2018-12-11 09:08] jespercockx commented on #3333
Ok, then I'll leave the `--prop` flag in. That leaves us with two choices:
- If we want to keep the current heuristic, then we should make `--no-prop` 'infective', i.e. you should not be able to import files using `--prop` from a file using `--no-prop`.
- If we remove the heuristic, then we can choose to make it infective or non-infective, or we could even have different flags for both options.

[2018-12-11 09:10] jespercockx commented on #2487
I don't think we should allow a feature under `--safe` in a released version of Agda if it leads to a **known** proof of false.

[2018-12-11 09:56] Saizan commented on #2461
We introduced an actual error message with the path constructors commit 188d57778aa8634b4536be9dfe5afe6658b9b341

[code]

This can be an enhancement now.

[2018-12-11 10:03] Saizan commented on #3133
Commit c390ed6 deals with the original error.

A proper fix would be to allow subtyping, even at the user level, if we can get that to play nice with unification.

[2018-12-11 12:55] gallais opened #3447 "Discussion: make variables generalised in the type in scope for the clauses?"
An artificial example: I think I would like to have `variablelift` behave the same
as `modulelift`. If a variable has been generalised in a type then the name should
be available when defining the clauses.

This way when there are multiple generalised variables, the user doesn't have to
guess in which order to write the various `{a = a}` that they need to be able to
mention them.

[code]

In pract

[2018-12-11 14:28] xekoukou opened #3448 "Strange error msg : src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs"
```: Irrefutable pattern failed for pattern GeneralizedVarsMetadata gvar```
Silly error that produces bizarre error msg.

[code]

[2018-12-12 13:04] nad commented on #3180
I see several traces of this feature in the code. Is there any reason to keep this code?

[2018-12-12 15:25] nad commented on #3180
I'll see if I can get rid of it.

[2018-12-12 19:08] identicalsnowflake opened #3449 "Pattern matching on irrelevant arguments now disallowed even when only used in irrelevant contexts"
[code]

I have a lot of code like this, and previously this was accepted, but now, Agda complains that I can't match on `p` because it's irrelevant, even though there's only one constructor and I'm not using the matched variables in any relevant contexts.

I tried rewriting a little of my code to match on the entire `p` and then use `proj₁` and `proj₂` instead, and this seemed to make the compiler

[2018-12-12 21:08] gallais commented on #2899
Should I leave the warning turned off by default?

[2018-12-12 21:47] UlfNorell commented on #2899
Yes please.

[2018-12-13 08:49] #2899 closed, assigned to gallais

[2018-12-13 10:38] nad opened #3451 "The --no-sized-types option is broken"
The following code is accepted:
[code]
If the sizes are removed, then the code is rejected. Shouldn't `--no-sized-types` turn off sized types?

[2018-12-13 10:40] jespercockx commented on #3449
This is a deliberate change, see https://github.com/agda/agda/issues/3056. The old situation did not make any sense since you could have (relevant) types depending on an irrelevant variable.

[2018-12-13 10:41] #3449 closed, assigned to nobody

[2018-12-13 10:46] jespercockx opened #3452 "Case split on irrelevant argument goes through but is later rejected"
I discovered this problem when looking into #3449.
[code]
Case splitting on `x` succeeds and replaces `x` by `tt`, but the resulting code is rejected upon reload:
[code]

[2018-12-13 10:47] jespercockx commented on #3452
Probably introduced by the fix to #3056

[2018-12-13 11:08] #3452 closed, assigned to jespercockx

[2018-12-13 11:08] jespercockx commented on #3449
Now that #3452 is fixed, you can use copatterns and split on the irrelevant argument for constructing the second (irrelevant) projection of the result:
[code]

[2018-12-13 11:37] nad commented on #2487
It seems as if `--no-sized-types` is broken: #3451.

[2018-12-13 11:40] nad commented on #3451
A simple fix might be to disallow declaring the size builtins if `--sized-types` is not active, and to make `--sized-types` infective (see #2487).

[2018-12-13 11:43] nad commented on #1209
Blocked by #3451.

[2018-12-13 12:03] jespercockx commented on #3289
I'll take a look at this.

[2018-12-13 13:25] fredrikNordvallForsberg commented on #2487
**Edit**: I misread the importer/importee in the definition of infective. This makes us agree a lot more.

I'm close to finishing this, but there are some points to consider:
* ~~Making `--cubical` infective means that modules using it cannot import the `Agda.Builtin` modules (they cannot be declared `--cubical`, because then `--with-K` modules couldn't safely import them, as that would violate th

[2018-12-13 14:36] jespercockx commented on #3289
I fixed the problem where postfix projections could have hiding information. The patch by @andreasabel allowed postfix projections for instance-opened records on the LHS, but it's still not allowed on the RHS. I'll bump the milestone but leave this open for the remaining enhancement.

[2018-12-13 15:01] guillaumebrunerie opened #3453 "Giving a term surrounded by parentheses should not add more parentheses"
Giving the term in the goal below adds an additional pair of parentheses around it, which is clearly not necessary.

[code]

[2018-12-13 17:10] identicalsnowflake commented on #3449
Hmm, ok I'll give that a shot!

[2018-12-13 22:02] jespercockx commented on #2487
The most important thing is that `--cubical` implies `--without-K` by default, as some cubical primitives are incompatible with `K`. If it's not too hard to change the default value of `--without-K` when `--cubical` is enabled while still allowing the user to provide `--with-K` explicitly, then we could allow that too, although I don't think it's very important.

I agree, I don't think making them

[2018-12-13 22:22] nad commented on #1209
I tried to fix this by (basically) replacing `guardedness` with `Order.Unknown` in the following line when `--guardedness` is not active:

https://github.com/agda/agda/blob/94b9736c430fb1fe6ad124aedac8f662c2f69328/src/full/Agda/Termination/TermCheck.hs#L1048

Is this all that is needed? The test suite points to a potential problem. For instance, take [`Issue1375.agda`](https://github.com/agda/agda

[2018-12-14 09:32] #3443 closed, assigned to jespercockx

[2018-12-14 17:20] guillaumebrunerie opened #3454 "Highlighting for incomplete pattern matching should be above highliting for non-exact split"
In the code below, the two lines defining `and` are highlighted with two different colors. The first one is highlighted with the "incomplete pattern matching" color and the second one with the "non-exact split" color. I’d argue that "incomplete pattern matching" is much more important, so they should both be highlighted with that color.

[code]

[2018-12-14 17:30] UlfNorell commented on #3435
PR #3455 fixes the problem, but changed order of constraint solving means a few more sizes need to be given explicitly in the original test case.

[2018-12-14 18:54] jespercockx commented on #2548
I went over all the old wiki pages and moves the remaining information that could be useful to the user manual. I also added a disclaimer to the top of all wiki pages with a link to the new manual. We could discuss whether we should remove the information on the wiki altogether, but I don't think it matters that much (as long as the links are there on top).

[2018-12-14 18:54] #2548 closed, assigned to jespercockx

[2018-12-14 20:09] jespercockx commented on #2561
This is part of a set of related issues with record types that require a major overhaul of how we handle definitions inside a record module. Attempting a quick fix would likely be a waste of time, so I'm bumping this to the next milestone.

[2018-12-14 20:45] jespercockx commented on #3448
Minimal example:
[code]

[2018-12-14 21:06] #3448 closed, assigned to jespercockx

[2018-12-14 21:06] jespercockx commented on #3448
There is some `Inserted` name which does not have `GeneralizedVarsMetaData`, but the `bindGeneralizablesIfInserted` function expects it to have it. This check seems a bit too brittle to me, so I've just put in a `Map.empty` if there's no metadata attached.

[2018-12-14 21:29] jespercockx commented on #3434
Indeed, this does not have anything to do with instances. I managed to minimize the problem (or at least *a* problem) down to the following example:
[code]
Error message:
[code]
Interestingly, while the module parameter to `M` is not used, moving the definition of `D` outside the module makes the code check.

[2018-12-14 22:06] #3434 closed, assigned to jespercockx

[2018-12-15 23:06] ice1000 commented on #3363
Please update the link here
![image](https://user-images.githubusercontent.com/16398479/50048213-217dd300-0101-11e9-9808-0ccae2c830d0.png)

[2018-12-15 23:07] ice1000 commented on #3363
And here
![image](https://user-images.githubusercontent.com/16398479/50048221-335f7600-0101-11e9-9d8b-8c505ca87b2e.png)

[2018-12-16 09:56] jespercockx commented on #3363
It seems I don't have the permission to change these links. @UlfNorell can you do it?

[2018-12-16 20:01] UlfNorell commented on #3363
Done.

[2018-12-16 20:01] #3363 closed, assigned to nobody

[2018-12-17 08:17] nad commented on #1209
@andreasabel?

[2018-12-17 09:09] jespercockx commented on #3000
I fixed the internal error by adding a missing `reduce` statement, however now you get "failed to give" instead of an internal error. Interestingly, the problem only seems to occur in Emacs, but not when I add the test case to `test/interaction`. I have no idea what's going on here, except that it probably has something to do with the fix of #707 as @UlfNorell said. Maybe @andreasabel could take a

[2018-12-17 10:04] jespercockx commented on #3358
I'll take a look at this.

[2018-12-17 11:08] nad commented on #3000
Did you base the test case on the contents of the `*agda2*` buffer?

[2018-12-17 12:07] jespercockx commented on #3000
I don't know, I just did what I always do when adding an `interaction` test, which is copy-pasting an existing `.in` file and adapting it to the current test.

[2018-12-17 13:13] nad commented on #3000
I managed to trigger the internal error by using the following `.in` file:
[code]

[2018-12-17 13:31] nad commented on #2579
Previously I could write
[code]
in order to bring instances into scope. Now I have to write something like
[code]
Can someone please motivate this change?

[2018-12-17 13:42] nad opened #3457 "Strange error messages related to "as""
The following code triggers a strange error message:
[code]
[code]
The following code also triggers a strange error message:
[code]
[code]
Agda 2.5.4.2 responds with reasonable error messages for these pieces of code:
[code]
[code]

[2018-12-17 13:46] nad commented on #2579
The situation would be slightly better if I could write `_` instead of inventing dummy names:
[code]
However, this doesn't work (#3457).

[2018-12-17 14:14] andreasabel commented on #3457
This is intended, see #3364.

Did you want to us an `as`-clause with `_` as module name here, or did you want `as` as a module parameter?

[2018-12-17 14:15] andreasabel commented on #3364
See also #3457.

[2018-12-17 14:28] nad commented on #3457
I tried to use `_` as a module name, see #2579.

I guess the first error message makes sense, because `_` is not an unqualified name. However, I read the error message as "`as' must be followed by an unqualified name, and you gave a qualified name".

The second error message is terrible, though.

[2018-12-17 14:28] jespercockx commented on #3358
I'm trying to fix the problem by postponing instance search in case we can't yet determine the type of some of the context variables (which may become a record type with an instance field). However, I run into two problems:

1. It breaks some test cases (such as #1952) where one of the argument types is a metavariable which is only solved when we solve the instance meta. With my change, it wouldn'

[2018-12-17 14:55] jespercockx commented on #3358
I pushed my work so far to here https://github.com/jespercockx/agda/commit/f8078614b53f4cd9c3c9895903625b7489cef898

Currently it breaks the test cases `Succeed/Issue1952.agda` and `test/LibSucceed/InstanceArguments/11-monads.agda`.

[2018-12-17 15:36] UlfNorell commented on #3358
I suppose we could create an extra metavariable for the type and not create the record type until we know the fields.

[2018-12-17 15:44] UlfNorell commented on #2579
You have filed most of the "instances should only be used if in scope" issues (for instance #1265 and #1913). Clearly if you just say `import M args` (or `import M args as _`) they wouldn't be in scope.

[2018-12-17 15:44] #2579 closed, assigned to andreasabel

[2018-12-17 15:53] nad commented on #3435
I tried this PR. A single experiment gave a slowdown of about 15% for the dependencies. For the final module the slowdown was about 28%. (Note that the code linked above does not quite work using Agda 2.6.0-1b51287. I patched the code and used the same code for both tests.)

I noticed that I have compiled 2.5.4.3 using GHC 8.4.4, and Agda 2.6.0-1b51287 using GHC 8.6.3, so changes to GHC could affe

[2018-12-17 16:05] nad commented on #2579
OK, I think that's a step in the right direction.

I do think that the following code is too ugly:
[code]
However, the reason that I have modules with nothing but instances is that instances became available for instance resolution so easily before. I wonder if I would have used a different design if the new rules had been in place when I wrote my code. (I don't feel like redesigning it now.)

[2018-12-17 20:42] jespercockx commented on #2579
Wait, now I'm confused. Doesn't 'in scope' for instance arguments also include things that are only in scope under their qualified name? So then `import M args` should make all instances in `M` available for instance search? Quoting @UlfNorell from #1265:

(#1913 is about `private` instances which are really not in scope, not even under a qualified name.)

[2018-12-17 20:45] jespercockx commented on #2579
Oh, I misunderstood. This issue is only about modules that are applied to arguments at the place where they're imported. I anyway never parametrize the top-level module in a file so I don't care much about how this works.

[2018-12-18 11:05] nad commented on #1946
The last two test cases above are ruled out by my tentative fix for (the test cases listed in) #1209: if constructor-based guarded corecursion is disallowed, then these pieces of code are rejected. The other test cases above are still accepted.

[2018-12-18 12:16] nad commented on #1209
The standard library mixes the two forms of corecursion. For instance, `Codata.Conat` provides conversions to and from `Codata.Musical.Conat.Coℕ`. @MatthewDaggitt and @gallais, how would you like to address this? It is possible to activate both constructor-based guarded corecursion and corecursion based on sized types in one module, but not if `--safe` is active.

[2018-12-18 12:23] nad commented on #1209
Note also that `--sized-types` and `--guardedness` will presumably both become infective (#2487).

[2018-12-18 12:34] nad commented on #1209
Some further questions:

* Should the musical builtins be available when `--guardedness` is not active?

* Should it be possible to define coinductive records that do not use sized types without turning on `--guardedness`? (In that case: Is there a correct way to "use sized types"?)

* Should both `--sized-types` and `--guardedness` be off by default?

  Given that we plan to fix the problems with

[2018-12-18 13:08] guillaumebrunerie opened #3459 "Unsolved metas when defining an element of a record"
Consider the code below which gives a lot of yellow currently.
I think it should be possible to solve the types of `a` and `b` (the two underscores) to `A` and `B a` respectively (I don’t see any other solution for those two metavariables).

For the type of `a`, the generated constraint is `_2 =< A : _1`, I’m not sure why this doesn’t solve `_2` to `A`.

For the type of `b` it’s a bit trickier, th

[2018-12-18 13:14] m0davis opened #3460 "Can't (interactively) bring some hidden variables into scope"
Using the latest development version (b444550a0ea6976185fdd779ac61c25b5b996090), I can no longer bring some hidden variables into scope interactively (i.e. using `C-c C-c`). For example,
[code]
It still works to bring the variable into scope manually. Viz:
[code]
I'm guessing this is related to https://github.com/agda/agda/pull/3446.

[2018-12-18 13:35] guillaumebrunerie commented on #3460
It works if you remove `variable a : A` and use `foo : {a : A} → B a → Set` instead, so this is an issue with generalization.

[2018-12-18 14:04] nad commented on #3459
Agda freezes meta-variables after mutual blocks.

[2018-12-18 14:04] #3459 closed, assigned to nobody

[2018-12-18 15:02] gallais commented on #1209
We could move the conversion functions to the `Codata.Musical.*` modules. They exist
solely because the (unsafe) IO currently uses old-style coinduction and we want to be
able to write programs using the new-style one.

[2018-12-18 19:35] nad commented on #2487
Elsewhere (#1209) I wrote the following:

Would this be too annoying? An alternative might be to keep track of which of these options have been used, and disallow `--safe` if both options have been used (even if not in the same module).

Note, however, that one possible fix for #3451 involves making `--sized-types` infective.

[2018-12-19 08:22] #2044 closed, assigned to UlfNorell

[2018-12-19 08:22] #3435 closed, assigned to UlfNorell

[2018-12-19 09:51] UlfNorell opened #3461 "Macro loop"
The fix of #3435 revealed a bug causing macro calls to loop:

[code]

[2018-12-19 11:39] #3460 closed, assigned to jespercockx

[2018-12-19 12:39] jespercockx commented on #3447
Isn't this the same as https://github.com/agda/agda/issues/3111?

[2018-12-19 12:40] #3461 closed, assigned to UlfNorell

[2018-12-19 12:43] jespercockx commented on #3453
See https://github.com/agda/agda/issues/737 for the more general issue

[2018-12-19 12:46] UlfNorell commented on #3447
No, that issue suggests introducing implicit foralls in the right-hand side and this issue is about making variables generalised in the type be in scope.
[code]

[2018-12-19 12:59] #1209 closed, assigned to nad

[2018-12-19 13:12] nad commented on #1209
I've pushed a fix now. Some notes:

* I moved the conversion functions to the `Musical` modules. I also changed `Data.Container.ν` so that it uses the sized variant of `M`. I pushed these changes to the `experimental` branch.

* I did not address the [further questions](https://github.com/agda/agda/issues/1209#issuecomment-448205454) above.

* I discussed the matter of missing problematic calls wi

[2018-12-19 13:21] nad commented on #1209
Instead of waiting for a fix I pushed a test case to `test/Succeed` instead of `test/Fail`.

[2018-12-19 13:22] nad commented on #2487
I've pushed `--guardedness`, which should not be allowed at the same time as `--sized-types` if `--safe` is active.

[2018-12-19 13:32] nad commented on #3447
Am I right in thinking that we can close at least one of these two issues?

[2018-12-19 13:34] UlfNorell commented on #3111
Closing this in favour of #3447 which seems like the more useful feature.

[2018-12-19 13:34] #3111 closed, assigned to nobody

[2018-12-19 13:34] UlfNorell commented on #3447
Indeed.

[2018-12-19 13:52] #3441 closed, assigned to jespercockx

[2018-12-19 20:30] nad commented on #2487
Consider the following scenario:
* Constructor-based guarded corecursion is used locally in one module.
* Lots of other modules that do not use any corecursion depend on this module. If we make `--guardedness` infective, then all these other modules have to activate `--guardedness`.

Similar considerations apply to other infective options.

Is this too awkward? An alternative might be to infer opt

[2018-12-20 08:59] #3362 closed, assigned to UlfNorell

[2018-12-20 09:20] nad commented on #2487
If `--sized-types` and `--guardedness` are both infective, as well as incompatible under `--safe`, then I think it makes sense to by default turn off both in safe mode, also after `--sized-types` has been made safe (if this ever happens). The alternative is to explicitly turn off sized types in safe modules that are intended to be usable by code using either kind of corecursion.

[2018-12-20 11:00] UlfNorell commented on #3410
Further shrinking and no stdlib dependency
[code]

[2018-12-20 11:23] UlfNorell commented on #3410
I can confirm that it's the forcing translation that messes up. The `integer s` argument to `V-con` is forced so it moves the match to the first component of the tuple, producing
[code]
The problem is that the `s` is still in a forced position and needs to be moved to the with-argument:
[code]

[2018-12-20 11:39] nad commented on #3410
@UlfNorell, the code [above](https://github.com/agda/agda/issues/3410#issuecomment-448957527) produces `4` for me.

[2018-12-20 12:26] UlfNorell commented on #3410
Hm, might depend on ghc version. I'll make sure to add a check on the treeless code to the test case.

[2018-12-20 12:34] UlfNorell commented on #3410
Can you try replacing `notErased s` by `primForce s notErased`?

[2018-12-20 12:38] nad commented on #1209
@andreasabel, consider the following code:
[code]
When I run Agda with `-vterm.found.call:20` I get the following output:
[code]
This looks strange to me. Why are there calls from `type` to `type`/`Term`, but no call from `type` to `Type`?

[2018-12-20 12:53] #3410 closed, assigned to UlfNorell

[2018-12-20 13:43] #3401 closed, assigned to UlfNorell

[2018-12-20 14:13] #3354 closed, assigned to UlfNorell

[2018-12-20 14:22] Saizan commented on #3318
I have removed some and bound the remaining cubical builtins.
I assume we can close this now.

[2018-12-20 14:22] #3318 closed, assigned to Saizan

[2018-12-20 14:25] Saizan commented on #2446
`--cubical` implies `--without-K` so we are fine wrt consistency.

Also 14179ae prevents the binding of unsafe versions of the primitives, so that's also handled now.

[2018-12-20 16:23] nad commented on #3410
The code still works (using Agda 2.6.0-e68360b and GHC 8.6.3 on a 32-bit system).

[2018-12-20 16:25] nad commented on #2446
Please add one or more test cases.

[2018-12-20 16:26] UlfNorell commented on #3410
That's strange, since the generated treeless code is `seq`-ing an erased value.

[2018-12-20 16:30] nad commented on #1209
I'm moving the discussion of the potential problem discussed in the previous comment to #1556.

[2018-12-20 16:33] nad commented on #1556
@andreasabel, consider the following code:
[code]
When I run Agda with `-vterm.found.call:20` I get the following output:
[code]
This looks strange to me. Why are there calls from `type` to `type`/`Term`, but no call from `type` to `Type`?

[2018-12-20 17:29] #2446 closed, assigned to Saizan

[2018-12-20 21:00] #2788 closed, assigned to Saizan

[2018-12-20 21:35] jmchapman commented on #3410
Thanks!

[2018-12-20 22:34] nad opened #3462 "Regression, possibly related to instance resolution"
I have some code that is accepted by Agda 2.5.4.2. Agda 2.6.0-fdb4315 rejects it with an error starting with `No instance of type Raw-monad _M_128 was found in scope`. If I replace parts of the code with holes, load the file, and then use "give" to fill the holes, then the code is accepted. Thus it seems to me as if something is broken.

Perhaps it is relevant that the code involves a macro.

I ha

[2018-12-20 22:46] nad opened #3463 "Impossible to give certain instance arguments by name?"
Consider the following code:
[code]
The inferred type of `A` is `⦃ r : R ⦄ → Set`. However, the following code is rejected:
[code]
Error message:
[code]
This is a regression. For some reason the following code is still accepted:
[code]

[2018-12-20 22:48] nad commented on #3463
The following code is accepted, so the problem might have something to do with `open R ⦃ … ⦄`:
[code]

[2018-12-21 09:03] UlfNorell commented on #3462
The problem is that your tactic is too eager to declare success. When you make the rhs a hole the tactic blocks and gets run after the give and the instance resolution. In the problematic case the tactic is run before instance resolution and solves the goal with `refl`, leaving some constraints.

If you add a check in `try-refl` that the goal was actually solved the problem goes away:
[code]

[2018-12-21 09:03] #3462 closed, assigned to nobody

[2018-12-21 09:24] Saizan commented on #2487
@nad having `--guardedness` off by default is very confusing, as you just get a termination error for code that used to work fine, with no indication that you need a flag now.
Also if you have a coinductive record without sizes, `--guardedness` on is really the only way you can use it.

[2018-12-21 09:36] jespercockx commented on #2487
I agree with turning off both `--guardedness` and `--sized-types` by default when `--safe` is enabled (`--guardedness` should still be enabled by default if there's no `--safe`). This will essentially prevent users from writing any interesting coinductive code under `{-# OPTIONS --safe #-}`, which is good because it forces them to make a conscious decision between `--guardedness` or `--sized-types

[2018-12-21 10:33] nad commented on #2487
The standard library has recently embraced sized types, and I think the modules that use musical coinduction are seen as legacy code. If Agda at the same time makes old-style guarded corecursion the default, then we are sending a mixed message.

I think we should plan carefully, so that we do not needlessly break users' code. One option might be to enable both sized types and `--guardedness` by de

[2018-12-21 10:41] m0davis opened #3464 "Inconsistent behaviour of instance resolution in presence of generalized variables"
In the code below, the two test cases should either both work or both fail, but the current behaviour is inconsistent. That is, adding the `Chk1` argument should not affect instance resolution.

[code]

The error is:

[code]

[2018-12-21 10:45] Saizan commented on #2487
@nad --guardedness off also disables termination for defininitions by copatterns in general, not just musical notation. I don't think we necessarily what to phase those out.

Having both --guardedness and --sized-types on without --safe is a good default.

I wouldn't mind delaying these changes.

[2018-12-21 11:05] nad commented on #3462
Thanks!

Perhaps the ideal thing to do would be to block until one can figure out whether the unification succeeds completely or not. However, I am only aware of one way to block, and that is to use `blockOnMeta`. Could `blockOnMeta` be used here? Alternatively, could there be a builtin like, say, `unifyStrictly`, with the following specification:

* It succeeds if unification is successful and do

[2018-12-21 11:08] nad commented on #2487
No, the question is what the default should be.

[2018-12-21 11:19] Saizan commented on #2487
I should rephrase: I believe we want them allowed by default, as well as definitions that rely on sized types to termination check. Putting either behind a flag means discouraging their use to me.

`--guardedness` and `--sized-types` do not have to be inconsistent with each other, as opposed to e.g. univalence and `--with-K`. We want to eventually fix the bugs that make them so.

[2018-12-21 11:22] nad opened #3465 "Debug output from the reflection machinery is not sent to the *Agda debug* buffer"
Regular debug output is printed in the `*Agda debug*` buffer, but not debug output from the reflection machinery. Example:
[code]
Expected output:
[code]
Actual output:
[code]

[2018-12-21 14:05] jespercockx commented on #3358
I tried to merge the two functions `createGenRecordType` and `fillInGenRecordDetails` but I messed up somehow because I got strange errors from the test suite. Maybe someone else could attempt this who understands the code better?

Instead, I decided to just add a `postponeInstanceConstraints` around the whole `computeGeneralization` function, so instance search is never tried while there's a bogu

[2018-12-21 14:23] jespercockx commented on #3358
Here's a small puzzle:
[code]
Should instance search here pick the instance `inst`? At first it seems to be the only instance in scope. However, when we pick it then `?X` is instantiated to `R`, which suddenly brings another instance `fld x` in scope! So the solution wasn't unique after all. So it seems better to postpone instance search until all context metas are solved.

[2018-12-21 14:32] SimonForest opened #3466 "two definitionally equal terms are not equal"
Consider the excerpt coming from [this](https://gist.github.com/SimonForest/6929e16f9e212bf6b87b41553874060a)

[code]
The context does not matter that much to understand the problem. A record `C` of type `MyS State Operation Change` is defined. The definition of `C` requires defining `MyS.comp C` and `MyS.comp' C`. `MyS.comp C` is accepted by Agda but `MyS.comp'` is not because of the following pr

[2018-12-21 15:27] UlfNorell commented on #3462
Not at the moment, but see #2351.

[2018-12-21 15:33] UlfNorell commented on #3465
Level zero output is never sent to the debug buffer as far as I know. If you set it to level 10 and add the appropriate `-v` flag it works as expected.

[2018-12-21 15:33] #3465 closed, assigned to nobody

[2018-12-21 15:51] UlfNorell commented on #3464
It looks like both should fail. In `works` the instance goal is solved by `Le-refl` which isn't type correct.

[2018-12-21 16:54] guillaumebrunerie opened #3467 "unquoteDef/unquoteDecl does not accept where-blocks"
Is there a reason why one cannot add where-blocks to `unquoteDef`/`unquoteDecl`?

[code]
gives a parse error at the `where`.

[2018-12-22 08:03] nad commented on #2351
Perhaps it would also be useful to be able to figure out if some computation led to the introduction of new, unsolved constraints (see https://github.com/agda/agda/issues/3462#issuecomment-449359505).

[2018-12-22 08:52] UlfNorell commented on #2351
You can implement that with `noConstraints` (at a small cost):
[code]

[2018-12-22 08:57] UlfNorell commented on #3467
Currently only function clauses have where blocks and it doesn't seem worth it to add them also to `unquoteDecl`. Where blocks only really make sense if you have some kind of left-hand side binding things that would be in scope in the where (which `unquoteDecl` does, but `unquoteDef` doesn't).

[2018-12-22 08:57] #3467 closed, assigned to nobody

[2018-12-22 09:03] jespercockx commented on #3358
I pushed my fix, with the necessary changes to the two test cases I mentioned. I looked a long time at the code for `11-monads.agda` and I'm genuinely unsure whether the constraints you get after my change ought to be solvable or not. Here is a fully explicit example that no longer works now:
[code]
The error message is:
[code]
The crucial constraint here is `M₂ X = _15 X : Set` (where `X` is a po

[2018-12-22 09:07] jespercockx commented on #3464
After making some changes on the interaction between instance arguments and generalizable variables (see #3358) both of these examples fail, so I'm closing this.

[2018-12-22 09:07] #3464 closed, assigned to jespercockx

[2018-12-22 11:31] jespercockx commented on #3463
I'm fixing this by setting the name of the final parameter of the record module to "r" when we instance-open it. However, we could consider to allow the user to choose their own name for the argument, for example like this:
[code]
That way we wouldn't have to rely on "magically" generated names like "r".

[2018-12-22 11:32] #3463 closed, assigned to jespercockx

[2018-12-22 14:22] caryoscelus opened #3468 "Can't give due to implicit arguments"
Using `Agda version 2.6.0-eae4d60`

[code]

[2018-12-22 23:34] andreasabel opened #3470 "Panic: unbound variable when generalizing module telescope with let"
[code]

[2018-12-22 23:41] andreasabel commented on #3468
This is a variant of #1079.

[2018-12-23 16:24] jespercockx commented on #3346
Adding a new primitive type for `TCState` is problematic because we'd need to make `TCState` part of the syntax which leads to the unholy mother of all import loops. Instead, I'll try to add a new primitive
[code]
with the following semantics:

- If running `m` returns `x , true`, then the effect of `runSpeculative m` is the same as running `fst <$> m` (i.e. the state is kept)
- If running `m` ret

[2018-12-23 20:34] peterb12 opened #3471 "Can't install via cabal-install on current Haskell Platform"
STEPS:

(1) On a Mac running Mojave, install Haskell Platform from `https://www.haskell.org/platform/`.
(2) Per the instructions on the Agda wiki, do `cabal update` followed by `cabal install Agda`

Results:
[code]

This is a pretty bad user experience.  Suggestion for a fix that doesn't require a code change: if there's a _specific version_ of either the haskell platform, GHC, or Cabal required,

[2018-12-23 20:53] gallais commented on #3471
Hi @peterb12, have you tried passing `cabal` the option `--allow-newer`?
This seems to be a problem of bleeding edge GHC vs. released Agda.

Edit: related #3369 #3442

[2018-12-23 21:17] andreasabel commented on #3369
I don't think Agda 2.6.0 will be released before Christmas.

[2018-12-23 23:31] mwageringel opened #3473 "Rewriting is applied to a different relation"
In the following example, rewriting is enabled for the relation `_∼₁_`, yet Agda seems to get confused with the relation `_∼₂_`. This allows to produce incorrect proofs about `_∼₂_` which, to my understanding, should only work for `_∼₁_`.

[code]

Tested with Agda 2.5.4.1 and 2.5.4.2.

[2018-12-23 23:41] andreasabel commented on #3466
Shrank this to
[code]
This passes in Agda 2.5.3 and fails in Agda 2.5.4.  I added option `--exact-split` to see whether there is a good reason for the reduction not to fire, but there isn't.  Agda thinks this is an exact split, but still fails to reduce (using the clause pattern matcher, not the case trees).

[2018-12-23 23:52] andreasabel commented on #3466
@jespercockx : Could you have a look?

[2018-12-24 01:33] peterb12 commented on #3471
--allow-newer seems to work (but, this workaround is not documented on the wiki / install instructions page, so someone new to the language - who is the most likely to be using it) is going to be stuck.

[2018-12-24 01:33] peterb12 commented on #3471
Oops, didn't mean to close.  Sorry.

[2018-12-24 01:34] peterb12 commented on #3471
Also, whoops, I lied, --allow-newer doesn't actually work.

[code]

[2018-12-24 07:28] UlfNorell commented on #3473
Rewriting introduces new *definitional* equalities, which relation you use doesn't really matter. In this case you introduced the rule `(x + y) + z --> x + (y + z)`, so the left-hand side in the `assoc₂` goal rewrites to the right-hand side. The `_~₂_` relation isn't involved at all.

[2018-12-24 07:28] #3473 closed, assigned to nobody

[2018-12-24 10:05] jespercockx commented on #3466
This is probably just #3054 again. The clause pattern matcher used to over-approximate the final case tree which lead to loss of subject reduction, so I fixed that by making it an under-approximation instead, which now causes some reductions not to fire.

Rather than trying to fix the clause pattern matcher to better approximate the case tree, we should just use the case tree always. But copattern

[2018-12-24 10:05] #3466 closed, assigned to nobody

[2018-12-24 10:12] SimonForest commented on #3466
Ok thanks for your help @andreasabel @jespercockx !

[2018-12-24 12:21] mwageringel commented on #3473
Oh, I see, so my understanding of how rewriting works was wrong. Thanks for the quick response!

[2018-12-24 16:15] asr commented on #3369
I'll be out of town until the first days of January, so I cannot release 2.5.4.3 this year.

[2018-12-24 16:24] asr commented on #3471
Agda 2.5.4.2 supports GHC 7.10.3, 8.0.2, 8.2.2 and 8.4.4. Agda 2.5.4.2 doesn't support GHC 8.6.*.

[2018-12-25 01:40] WorldSEnder opened #3474 "Undocumented behaviour of Unit in implicit arguments?"
This is mostly seaking clarification. I'm relatively new to the language so I was surprised this worked out of the box:

    ⊤-test : {some : ⊤} → ℕ
    ⊤-test = 42
    test : ℕ
    test = ⊤-test

If we try the same with a custom unit datatype:

[code]
this reports an unsolved implicit argument in test. Confusion arises, as it is unclear how the compiler solved the implicit argument in the former

[2018-12-25 02:01] gallais commented on #3474
This is a consequence of eta-equality for records (which is how unit is defined
rather than as an inductive type). [Cf. the manual](https://agda.readthedocs.io/en/v2.5.4.2/language/record-types.html#eta-expansion).

[2018-12-25 02:01] #3474 closed, assigned to nobody

[2018-12-25 02:18] WorldSEnder commented on #3474
Indeed declaring
[code]
enables automatic insertion of the implicit argument

[2018-12-26 15:13] davdar opened #3477 "Nested anonymous modules and anonymous definitions do not mix"
Here is a small example to demonstrate the bug:

[code]

The DOES NOT WORK part fails with:

[code]

I expect the behavior to work just the same as the WORKS example.

[2018-12-26 17:00] gallais commented on #3477
Works for me with Agda 2.6.0-b5beca5. Could it be a duplicate of #3302 which was
fixed by #3310?

[2018-12-26 17:03] #3477 closed, assigned to gallais

[2018-12-26 21:29] caryoscelus opened #3478 "More lambda expressions could have their type inferred in applications."
[code]
All of these fail on reload with standard "Failed to solve the following constraints" message (even though some can seemingly be rejected on other basis)

Not sure whether it's related to #625 or not, but it seems to be much more specific case. Also might be related to #2515 / #2519, although those don't seem to be about holes.

(Using current master (98d6f195fe672e54ef0389b4deb62e04e3e9832

[2018-12-28 10:59] jespercockx commented on #3346
I added the new primitive (on my own branch) and tested it on my WIP tactics library, it seems to work as expected:
[code]
https://github.com/jespercockx/ataca/blob/2c8411b2e839ef6ea71ec2bbf7c8d2dc82da5a79/src/Tac.agda#L38-L45

As the feature freeze is still in place I'll wait with pushing until after the release.

[2018-12-29 09:31] jespercockx opened #3479 "Instance field of opened record does not count as instance if it refers to a private value"
In the example below, I would expect instance search to succeed with solution `theX` (which is in scope and can be given manually). Instead, I get an error `No instance of type Test.D was found in scope`.
[code]

[2018-12-29 22:09] nad commented on #2351
Aha, `noConstraints` only looks at the constraints created by a certain computation. That sounds more useful to me than something that looks at *all* left-over constraints.

[2018-12-29 22:14] nad commented on #3463
I'm not a fan of the hard-wired name `r`, but in this case I don't think we should break existing code. Making it possible to optionally choose a name makes sense to me.

[2018-12-29 22:37] nad commented on #3471
@asr, perhaps this information is not sufficiently well documented. I don't think we should expect that people who want to try out Agda will read the Cabal file before choosing which version of the Haskell Platform to use.

[2018-12-29 22:53] nad commented on #3479
This code is accepted by Agda 2.5.4.2.

[2018-12-30 07:03] identicalsnowflake commented on #3479
Can confirm - I'm hitting this too when trying to compile an old module.

[2018-12-30 10:32] andreasabel commented on #3128
I found a small problem with the current solution.  The installation tries to build every module in the lib/prim directory in the _installed_ location.  There might be stale (or injected) files there since cabal does not seem to clean up by itself.  In my case this leads to this error for the stale file Erase.agda:
[code]
Maybe we should clean out the directory during install before putting the fi

[2018-12-30 14:38] andreasabel opened #3480 "Parse error at EOF should be reported before EOF (especially if there is a long comment before EOF)"
I often have this problem:  I comment out the rest of the file, get a parse error, which is reported at the EOF which is miles away from my working zone (because of the kilometers of commented-out code).

I am preparing a fix to report the error at the last token before the EOF.

[2018-12-30 15:00] andreasabel commented on #3480
Commit 46a2ac4 could be cherry-picked for the 2.4.5.3 release.

[2018-12-30 16:17] andreasabel opened #3481 "Handle syntax declarations during scope-checking!?"
Misleading error message when syntax declaration for mixfix identifier:
[code]
This seems to be a limitation of the parser: the lhs `s ↿ t ≗ u` is interpreted as `s` applied to the other 4 symbols.  I am not sure why not an ordinary expression parser is applied to the lhs; probably because `syntax` declarations are like `infix` declarations, they can appear anywhere and the name a syntax is assign

[2018-12-30 18:19] andreasabel commented on #3481
I added information to the error message to improve comprehension:
[code]
This makes it clear that Agda understood something else than the user intended.

However, the more principal question is whether `syntax` declarations should be more like ordinary definitions, in that they are operator-parsed during ConcreteToAbstract, rather than naively parsed before scope-checking.  Then, syntax declarati

[2018-12-30 21:35] nad commented on #3128
That sounds potentially dangerous to me. An alternative is to compile exactly the right files.

[2018-12-30 21:55] nad commented on #3481
At the moment it is only possible to have one "mixfixy" notation for a definition: either the definition itself can be a mixfix operator, or one can have a syntax declaration, but not both. One can give a fixity for the notation specified in a syntax declaration by giving a fixity for the regular name.

I am not a big fan of syntax declarations, because they require you to have both a name and a n

[2018-12-30 22:45] nad commented on #3358
@jespercockx, ca4fceabfc0d70a257c94cdfc2a62222bd4ea0a6 and/or cd6cee087e889bf22d7495bd5deb77711c237b4f introduce quite a bit of breakage in my code. I've constructed a small example:
[code]
The code above is no longer accepted. Is this intended and necessary?

[2018-12-30 23:00] jespercockx commented on #3358
Well, the type of `x` in the definition of `no-signature-needed` is only determined to be `D` once the instance is filled in. However it could alternatively be some record type which contains another instance of `R ...` as an instance field. Since we cannot determine for sure that the solution will be unique, the semantics of instance arguments dictate that we shouldn't solve it.

[2018-12-30 23:01] jespercockx commented on #3480
Why is this fix in particular more important/critical than any of the other pending changes for 2.6.0?

[2018-12-30 23:03] WolframKahl commented on #3481
I have recently come accross an old paper, http://doi.ieeecomputersociety.org/10.1109/CMPEUR.1992.218503 , where they use (informally) hollow boxes where Agda uses underscores, but they additionally have the option to put numbers into these boxes, to reorder arguments.

One could consider approximating this for example with subscript numbers after the underscores:
[code]

[2018-12-31 00:16] nad commented on #3481
I thought about something like this, but I can see at least two problems with this notation:
* The notation is more complicated than the one for usual mixfix operators. (Perhaps this is unavoidable.)
* The subscripts are already valid in name parts. (Perhaps a slightly different notation without this problem can be devised.)

[2018-12-31 00:41] nad commented on #3358
I don't understand what you mean: the instance `R.fld` is already in scope, no matter what `?X` is. However, I suppose that only makes the problem worse.

I think this change to the semantics should be documented in the changelog and the reference manual.

[2018-12-31 00:46] WolframKahl commented on #3481
Perhaps reserving a different character to serve as “numbered underscore”, e.g., something from
http://unicode-search.net/unicode-namesearch.pl?term=underscore&.submit=Search ?
[code]
This is:
[code]
and could conveniently be bound to `\__`...

[2018-12-31 01:22] gallais commented on #3481
Currently `syntax` declarations can also introduce binders (well... a single one but it'd
be nice if we could have more). How would this proposal cover this use case?

[2018-12-31 03:04] WolframKahl commented on #3481
Taking one of the most primitive examples I find in the standard library, in `Data.Sum`:
[code]
This could become:
[code]
The binder placeholder “wavy underscore” `﹏₂` “eats” the argument type of the second explicit argument, so that the double underscore `‗₃` now refers to the result type of the second explicit argument. (Further explicit arguments would be shifted accordingly.)

From analysing t

[2018-12-31 09:07] jespercockx commented on #3358
This is just a bugfix: the old implementation wasn't following the semantics of instance arguments, and the new one does. So I'm not sure what to document.

[2018-12-31 10:03] nad commented on #3481
I'm not a big fan of this notation for sigma-types either. I'd prefer if we could use the same kind of notation as we use for pi-types:
[code]
The first notation above cannot be defined because parentheses are special, the second notation cannot be defined because single arrows are special, and in both cases single colons are special. I guess it wouldn't be too hard to support special notation for

[2018-12-31 16:54] WolframKahl commented on #3481
@nad , concerning sigma types, I am using what in the above syntax would be:
[code]
The bullet, called “spot”, is what the Z notation uses in place of the `.` you are talking about, and I actually prefer it, so I am quite happy to be able to write `Σ x ∶ A • B` and similar things.
(I know that the “fake colon” is technically very wrong, but would the readers of @nad's papers mind that?)

The Z not

[2018-12-31 18:04] nad commented on #3358
OK.

[2018-12-31 18:04] #3358 closed, assigned to UlfNorell, jespercockx

[2019-01-01 20:09] nad commented on #3481
Perhaps they would mind getting strange errors when they try to use the code described in the papers.

[2019-01-01 20:56] fabianhjr opened #3482 "Absurd Pattern on Implicit Type Validation"
While trying out Agda for type-level validations I stumbled upon an error I don't understand:

Minimum example

[code]

The error:

    test.agda:14,10-20
    The case for the constructor IsNonEmpty is impossible because unification ended with a conflicting equation
      x ∷ xs ≟ []
    Possible solution: remove the clause, or use an absurd pattern ().
    when checking that the pattern IsNonEmpt

[2019-01-01 21:08] nad commented on #2351
I tried to expose `noConstraints` by using the "copy similar code and tweak it until there are no type errors" methodology, but for some unfathomable reason my implementation does not seem to work. The key lines from `Agda.TypeChecking.Unquote`:
[code]
Can someone suggest a better implementation?

Here is my test case:
[code]
The problem is that I get an unsolved constraint instead of a type error

[2019-01-01 21:46] gallais commented on #3482
The absurd pattern should mark the argument which can't possibly exist, not just any
part of the LHS.

Here with `head [] {IsNonEmpty} ()` you are telling Agda that there is a case with the
empty list `[]` and the `IsNonEmpty` constructor and then an argument which can't
possibly have a value. But `IsNonEmpty` demands that the list has shape `x ∷ xs` and
we independently constraint it to be `[]`.

[2019-01-01 21:49] #3482 closed, assigned to nobody

[2019-01-01 21:56] fabianhjr commented on #3482
Thanks a lot for the help @gallais <3

[2019-01-02 09:41] andreasabel commented on #3480
It isn't, but it is ready to be released, and simple to pick, thus, I gave the instruction how to.

[2019-01-02 10:11] gallais opened #3483 "Internal error at TypeChecking/Monad/Signature.hs:732"
When trying to re-bind builtin level primitives, one gets an internal error.

[code]

Note that this doesn't happen for e.g. the NATURAL builtin.

bug found by @Icelandjack

[2019-01-02 11:03] nad commented on #3480
It seems to have broken the test suite.

[2019-01-02 12:07] gallais commented on #3483
Sub-bug: we were supposed to get a [verbose impossible](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Monad/Signature.hs#L732) but AFAICT we only
get a normal impossible.

[2019-01-02 13:13] jespercockx commented on #3289
Interactive case splitting still puts curly braces around the postfix projections, this should be fixed before the release.

[2019-01-02 21:16] nad commented on #2351
A clarification: I do get a type error, but a non-fatal one. I get the same type error if `noConstraints` is removed from the code.

Some testing suggests that the Haskell command `noConstraints` is executed, but that no new, unsolved constraints are detected. Is there something wrong with my test case?

[2019-01-03 10:39] #3483 closed, assigned to gallais

[2019-01-04 16:05] jespercockx opened #3486 "Elaborate-and-give shouldn't reduce solution"
Test case:
[code]
When running elaborate-and-give (C-c C-m) the hole is filled in with `x`, but it should be filled in with `id x` instead.

In my real example I had an application of `case x of f`, which definitely should not be reduced to `f x` because that results in unsolved metas.

[2019-01-04 17:41] asr commented on #3131
Note that you can disable the forcing analysis/optimization using the `--no-forcing` option. I couldn't find any test case for this option, so I added a failing test case using the example in the OP.

[2019-01-04 17:49] asr commented on #3131
Is any particular reason why the  `no-forcing` option is not a pragma?

[2019-01-04 19:55] nad commented on #3486
Elaborate-and-give has not been released yet, so I suggest that this issue is fixed before this new feature is released.

[2019-01-05 16:52] asr commented on #2844
My bad. Fixed.

[2019-01-05 16:52] #2844 closed, assigned to asr, andreasabel

[2019-01-06 11:15] jespercockx commented on #3486
The problem seems to be the automatic inlining -- if I add `{-# NOINLINE id #-}` then I get the expected result. So at least there's a workaround for the problem. Now the question is whether we should disable inlining during elaborate-and-give or leave the situation as it is:

- On one hand the specification of the command is just 'run the typechecker and print whatever the result is in the buffer

[2019-01-07 07:03] asr commented on #2153
Please note as mentioned in the above commit (764038cf20dae68b463801fd049113011b4ade03) that the installation of Sphinx must use `pip3` instead of `pip`. You can install Sphinx and sphinx-rtd-theme by running

[code]

[2019-01-07 13:54] nad commented on #3486
What is the purpose of automatic inlining?

[2019-01-07 14:08] jespercockx commented on #3486
I guess for the purpose of compilation inlining certain definitions makes sense since it can be more efficient or result in smaller code (especially when not all arguments are used). I'm not sure why it's done also at typechecking time but I guess the reasons are similar.

[2019-01-07 15:19] caryoscelus opened #3487 "Snoc lists with inter-dependent elements drastically slow down type checker performance"
[code]

Adding another nil seems to approximately double amount of memory consumed by agda (the code above takes ~1.8G for me) and slow down type-checking considerably.

[2019-01-07 18:30] nad commented on #3487
When I profile your code (`-vprofile:7`) it looks as if both type-checking and serialisation take more than twice as long when another list element is added. This suggests to me that the problem is that large structures are built up by the unification machinery.

The following code is accepted quickly:
[code]
In this case there are names available for the explicit arguments to `nil`, and I guess t

[2019-01-07 23:05] caryoscelus commented on #3487
Thanks. Making so much temporaries doesn't look as neat, so hopefully i can get away with parameter solution.

[2019-01-08 05:42] #2153 closed, assigned to asr

[2019-01-08 11:34] UlfNorell commented on #3487
Each `nil` takes the entire preceding context as its `Γ` argument, effectively doubling the size of the expression. We currently don't have the machinery to share these expressions.

Duplicate of #3094.

[2019-01-08 11:34] #3487 closed, assigned to nobody

[2019-01-08 11:35] UlfNorell commented on #3094
See #3487 for another possible test case.

[2019-01-08 15:36] asr commented on #3372
In the above commit, I added the templates to the PDF version of the user manual (using Sphinx directives `.. only:: builder_html` and `.. only:: builder_latex`).

[2019-01-08 18:30] csetzer opened #3490 "Soundness of code for String.agda"
I'm using the version of Agda #3372  8 Jan 2019.
The file
/usr/share/agda-stdlib/Data/String.agda

starts with:

Costring : Set
Costring = Colist Char

------------------------------------------------------------------------
-- Operations

toVec : (s : String) → Vec Char (List.length (toList s))
toVec s = Vec.fromList (toList s)

I don't think that can work because you can't translate infinite lis

[2019-01-08 18:32] gallais commented on #3490
`String` is the type of finite strings. It's distinct from `Costring`.

[2019-01-08 20:05] asr commented on #3471
I added the GHC supported versions to the [user manual](https://agda.readthedocs.io/en/latest/getting-started/prerequisites.html?).

[2019-01-09 07:27] #3490 closed, assigned to nobody

[2019-01-09 08:16] UlfNorell commented on #3479
I believe this is working as intended. Note that marking `theX` field `{{ }}` doesn't make it available for instance search after `open R r`, which is why you need the `instance` on `c` to make it work when `D` is not private. For instance, this fails also on 2.5.4.2:

[code]
The scope requirement on instances (see #2489 and #1913) requires the symbol that is declared `instance` to be in scope; it

[2019-01-09 08:16] #3479 closed, assigned to nobody

[2019-01-09 08:25] UlfNorell commented on #3153
This failure is due to #1063, which we already have a test case for.

[2019-01-09 08:25] #3153 closed, assigned to asr

[2019-01-09 09:38] #3470 closed, assigned to nobody

[2019-01-09 10:01] jespercockx commented on #3479
Ok, I guess this is a situation where one should mark the field as `instance` rather than use `{{ }}`. This works and is very close to my use case:
[code]

[2019-01-09 10:16] #3390 closed, assigned to UlfNorell

[2019-01-09 10:21] UlfNorell commented on #3131
I don't believe so. It should be safe to disable forcing on a per-datatype basis.

[2019-01-09 10:21] #3131 closed, assigned to asr

[2019-01-09 12:25] nad commented on #3479
I think it would be a good idea to explain the difference between fields marked with the `instance` keyword and fields marked with `⦃`…`⦄` (confusingly called "instance fields") in the reference manual.

[2019-01-09 14:59] SimonBoulier opened #3491 "Internal error src/full/Agda/TypeChecking/Rules/LHS.hs:294 after pattern matching"
Tested with Agda version 2.6.0-1a06536 (9 January 2019).
[code]
In the previous it is okay to use `unbox` as variable name even if it is the name of a projection. But when we do C-c C-c on `p` we get:
[code]
and this produces an error:
[code]

[2019-01-09 15:27] gallais commented on #2880
I have something mostly working. The problem being that we *do* have `COMPILE`
pragmas in `Agda.Builtin.*` modules targetting UHC / JS.

E.g. https://agda.github.io/agda-stdlib/Agda.Builtin.List.html#132

How should we deal with this?

[2019-01-09 16:16] jespercockx commented on #3479
I'm not very sure myself, but I think it's like this:

- marking a field using `{{ }}` turns it into an instance argument of the *record constructor*. This also has some consequences, e.g. we can leave it out of a copattern split.
- marking a field as an `instance` turns the *projection* into an instance. This only makes sense if you either instance-open the record or open the record applied to a

[2019-01-09 17:09] asr commented on #3372
I had the same problem on Ubuntu. I fixed it by running

[code]

[2019-01-09 20:07] ice1000 opened #3492 "Termination check failed for simple coinduction definition"
[code]

I'm using a dev version of Agda, `agda --version` gives `2.6.0-c353977`

[2019-01-09 21:09] nad commented on #3372
Could you add some instructions to the reference manual?

[2019-01-09 21:31] nad commented on #3492
From the changelog:

New options `--guardedness` and `--no-guardedness` [Issue [#1209](https://github.com/agda/agda/issues/1209)].

Constructor-based guarded corecursion is now only (meant to be) allowed if the `--guardedness` option is active. By default this option is not active. If `--guardedness` is used, then sized types are disabled (because this combination is known to be inconsistent). If

[2019-01-09 21:31] #3492 closed, assigned to nobody

[2019-01-09 21:44] ice1000 commented on #3492
Thanks!

[2019-01-10 12:27] nad commented on #2351
@jespercockx gave me some help. It turns out that `noConstraints` only works for ["blocking"](https://github.com/agda/agda/blob/4900ef5fc61776381f3a5e9c94ef776375e9e1f1/src/full/Agda/TypeChecking/Monad/Constraints.hs#L160-L174) constraints. Why is there a distinction between blocking and non-blocking constraints?

[2019-01-10 13:23] #2351 closed, assigned to UlfNorell

[2019-01-10 13:23] #3400 closed, assigned to nad, andreasabel

[2019-01-10 13:28] nad commented on #3400
Given that the release of 2.6.0 has been delayed I decided to push this now. The change did not seem to have any effect on the standard library or nine of my own projects, so I'm hoping that it won't have much of an impact.

[2019-01-10 13:36] nad commented on #3462
The `noConstraints` primitive raises a type error, it does not block. Is it possible to find a meta-variable to block on?

Perhaps it would be useful to have something like the `retry` primitive of GHC's STM monad. I think the STM implementation uses some heuristic to delay the new attempt (maybe something like "wait until at least one of certain variables have been modified").

[2019-01-10 13:40] UlfNorell commented on #3462
`blockOnMeta` is the "something like the `retry` primitive".

If `noConstraints` fails there should be a meta somewhere in the terms you're working with that you could block on.

[2019-01-10 13:59] nad commented on #3462
Well, the point was that Agda might be able to figure out what to block on automatically, in order to make it easier to write tactics.

Doesn't figuring out which meta-variable to block on basically amount to replicating the (Haskell) implementation of parts of the computation that `noConstraints` is wrapped around?

[2019-01-10 14:07] UlfNorell commented on #3462
Right. We might consider adding a `blockIfConstraints` that wakes up if any of the metas in the offending constraints get solved.

[2019-01-10 14:11] guillaumebrunerie opened #3493 "Impossible to normalize elements in a proposition"
In the code below, running `agda2-compute-normalised-toplevel` of `test` returns
[code]
instead of the expected `refl` (what does the dot mean, by the way?)
I guess this is by design, after all there is a priori no reason to normalize a term in a proposition, given that it is always going to be equal to anything else of the same type. But in some cases it would be useful to still be able to see th

[2019-01-10 14:19] nad commented on #3493
One can make abstract definitions compute by using `C-u` followed by the normalisation command. Perhaps it would be possible to implement something similar for propositions.

[2019-01-10 15:14] asr commented on #3128
I think I could build only the Agda files listed on the `data-files` field in the `Agda.cabal` file, but I don't see any difference from the security point of view.

This was the previous solution but we changed to the current solution (i.e. build all the files in the installed location) because someone forgot to add a file. See the OP of this issue.

In the above commit, I changed the above WARNI

[2019-01-10 15:34] banacorn commented on #3471
I got the same error as @peterb12 did, with GHC 8.6.3.

I noticed that 8.6.3 was later added to the list of tested versions in https://github.com/agda/agda/commit/bc6d4b6c2c8f3e9583f7ac24fd6d19c513c06bd6, is this correct?

[2019-01-10 15:40] asr commented on #3471
This commit was for the user manual of the upstream version (which supports GHC 8.6.3).

[2019-01-10 15:40] #3471 closed, assigned to asr

[2019-01-10 17:02] nad commented on #2487
@fredrikNordvallForsberg stated that his current implementation activates both when `--safe` is not used, but deactivates both when `--safe` is used. Does this sound reasonable to you?

Apparently the implementation also allows `--safe --sized-types`.

[2019-01-10 17:13] asr commented on #3128
The Travis job failed (only) on GHC 7.10.3 with the [error](https://travis-ci.org/agda/agda/jobs/477862506):

[code]

I could reproduce the error.

[2019-01-10 18:51] nad commented on #2783
It might make sense to turn on `--safe` in more builtin modules:

* Everything related to `--cubical`. @Saizan, is there a reason not to do this?

* My guess is that it is OK to mark `Agda.Builtin.Reflection` as safe, because the `TC` definitions do not compute (unless they are used by macros), and all definitions can be implemented if `TC` is instantiated to `λ _ → ⊤`.

* Similarly, it seems to m

[2019-01-10 19:12] nad opened #3496 "Add blockIfConstraints?"
@UlfNorell wrote the following (https://github.com/agda/agda/issues/3462#issuecomment-453107336):

[2019-01-10 19:13] nad commented on #3462
I've opened a new issue for `blockIfConstraints` (#3496).

[2019-01-10 19:21] nad commented on #3496
Perhaps we could also be more precise, by keeping track of exactly which meta-variables something is blocked on. However, a quick look in the source code suggests to me that this would require some work. I guess we can start with a simple implementation and then possibly replace it with something more efficient later.

[2019-01-10 19:52] fredrikNordvallForsberg commented on #2783
I removed the need for postulates in ``Agda.Builtin.IO`` and ``Agda.Builtin.Reflection``. This only leaves ``Agda.Builtin.Cubical.*`` (waiting for @Saizan's confirmation that these are safe).

[2019-01-10 19:58] nad commented on #2783
The user manual should also be updated (at least `built-ins.lagda.rst` and `reflection.lagda.rst`).

[2019-01-10 21:24] asr commented on #3372
I didn't install LaTeX/LuaLaTeX/XeLaTeX from the Ubuntu packages but from TeX Live, so I don't want to add possibly very incomplete instructions for the users on Ubuntu.

[2019-01-11 08:41] Saizan commented on #2487
@nad that sounds reasonable, yes.

[2019-01-11 08:44] Saizan commented on #2783
```Agda.Builtin.Cubical.*``` does not introduce any unsafe primitives or so.

[2019-01-11 09:17] andreasabel commented on #3354
Thanks!

[2019-01-11 10:55] nad commented on #3372
I added a warning about fonts.

[2019-01-11 15:03] fredrikNordvallForsberg commented on #2783
@jespercockx said elsewhere:

Nothing stops users from editing the installed builtin files though, so this would be a way to work around `--safe`... But actually this is already a problem with `Agda.Primitive`, so maybe this shouldn't hold us back.

@gallais said:

This would mean that the user cannot choose the name, but perhaps that would be okay...

Finally, a third solution would be to make `-

[2019-01-11 15:08] asr commented on #3369
Starting...

[2019-01-11 17:50] nad commented on #2783
If an adversary can edit those files on your machine, then it is not inconceivable that this adversary can also install a patched version of Agda.

[2019-01-11 17:56] nad commented on #3369
I renamed the milestone 2.4.5.3 to 2.5.4.3.

[2019-01-11 19:36] asr commented on #3369
Thanks!

[2019-01-11 21:28] asr commented on #3160
Back-ported to 2.5.4.3.

[2019-01-11 21:28] #3160 closed, assigned to asr

[2019-01-11 21:28] asr commented on #3245
Back-ported to 2.5.4.3.

[2019-01-11 21:28] #3245 closed, assigned to asr

[2019-01-11 21:31] asr commented on #3480
The fix hasn't been back-ported to 2.5.4.3.

[2019-01-12 02:52] asr commented on #3254
Back-ported to 2.5.4.3.

[2019-01-12 02:52] #3254 closed, assigned to nobody

[2019-01-12 02:52] asr commented on #3255
Back-ported to 2.5.4.3.

[2019-01-12 02:52] #3255 closed, assigned to asr

[2019-01-12 02:53] asr commented on #3342
Back-ported to 2.5.4.3.

[2019-01-12 02:53] #3342 closed, assigned to asr

[2019-01-12 02:53] asr commented on #3368
Back-ported to 2.5.4.3.

[2019-01-12 02:53] #3368 closed, assigned to asr

[2019-01-12 02:53] asr commented on #3442
Back-ported to 2.5.4.3.

[2019-01-12 02:53] #3442 closed, assigned to asr

[2019-01-12 02:57] asr commented on #3403
The fix hasn't been back-ported to 2.5.4.3.

[2019-01-12 02:57] asr commented on #3404
The fix hasn't been back-ported to 2.5.4.3.

[2019-01-12 05:59] asr commented on #3128
Back-ported into 2.5.4.3.

[2019-01-12 05:59] #3128 closed, assigned to asr

[2019-01-12 06:01] asr commented on #3444
Back-ported into 2.5.4.3.

[2019-01-12 06:01] #3444 closed, assigned to asr

[2019-01-12 06:01] asr commented on #3344
Back-ported into 2.5.4.3.

[2019-01-12 06:01] #3344 closed, assigned to asr

[2019-01-12 06:11] asr commented on #3403
Back-ported into 2.5.4.3.

[2019-01-12 06:11] #3403 closed, assigned to andreasabel

[2019-01-12 06:25] asr commented on #3404
Back-ported into 2.5.4.3.

[2019-01-12 06:25] #3404 closed, assigned to andreasabel

[2019-01-12 06:26] asr commented on #3369
Done.

[2019-01-12 06:31] asr commented on #3480
Done.

[2019-01-12 06:31] #3480 closed, assigned to andreasabel

[2019-01-12 06:48] asr commented on #3369
I have back-ported to 2.5.4.3 the fixes of issues #3128, #3160,  #3245, #3254, #3255, #3342, #3344, #3368, #3403, #3404, #3342, #3444 and #3480.

I'm ready for preparing the release candidate.

If you are planning to back-port other fix, please let me know.

[2019-01-12 17:03] asr commented on #2153
Back-ported into 2.5.4.3.

[2019-01-12 17:12] asr commented on #2939
Back-ported into 2.5.4.3.

[2019-01-12 17:24] asr commented on #3471
Back-ported into 2.5.4.3.

[2019-01-13 15:08] semenov-vladyslav opened #3498 "Internal error in activateLoadedFileCache"
Agda version 2.6.0-3b6fba1-dirty.
An internal error has occurred. Please report this as a bug.
Location of the error: src/full\\Agda\\TypeChecking\\Monad\\Caching.hs:131

Spotted this bug a few times today while working in emacs on Windows. After the bug occurs Agda can't typecheck anything. After Agda is restarted in emacs the error disappears. It's quite tricky to reproduce. Here is the module:

[2019-01-13 15:20] gallais commented on #3498
With 2.5.3 I get a type error so it's a regression.

[code]

[2019-01-13 16:10] asr commented on #3369
I'm starting to prepare the release candidate so the `release-2.5.4.3` branch is frozen.

[2019-01-14 23:20] gallais opened #3500 "Is the order in which variable-splitting occurs when building case-trees part of the language?"
I was looking at [Relation.Nullary.Product](https://agda.github.io/agda-stdlib/Relation.Nullary.Product.html):

[code]

and was thinking that it may be worth putting the `yes/yes` case last in order to allow
Agda to not evaluate the second argument when the first is `no`. This short-circuiting
behaviour is crucial when using `_×-dec_` to implement e.g. the decidability of equality
on lists (we wan

[2019-01-15 15:17] omega12345 opened #3501 "Case split in let clause causes internal error"
Attempting to case split on n here produces an internal error at src/full/Agda/Interaction/MakeCase.hs:134

[code]

[2019-01-15 15:37] gallais commented on #3501
It's a regression! Agda 2.5.3 says:

[code]

[2019-01-15 17:25] asr commented on #3369
I uploaded to Hackage the package candidate [2.5.4.3 RC 1](https://hackage.haskell.org/package/Agda-2.5.4.2.20190111/candidate) and I tested its installation on Ubuntu with GHC 8.6.3, 8.4.4, 8.2.2, 8.0.2 and 7.10.3.

Could someone test the installation on macOS and Windows using the following instruction:

[code]

[2019-01-15 19:48] xekoukou opened #3502 "Emacs : Display type of a subexpression."
*possible future enchancement*

In many cases where a with expression is ill-typed, one needs to determine the types of terms that need to also be abstracted for the expression to be type correct. Currently we can't ask Agda to tell us the type of a subexpression.

There are certainly many other ways we could use this feature.

[2019-01-15 22:00] gallais opened #3503 "Internal error in BasicOps"
Bug found by @mietek

[code]

It's a regression. In 2.5.3, Agda rejects the file altogether:

[2019-01-15 22:05] nad commented on #3498
Caching was not turned on by default in Agda 2.5.3.

[2019-01-16 10:34] #3501 closed, assigned to gallais

[2019-01-17 10:06] ajrouvoet commented on #3502
I believe Idris goes one step further and you can lift a hole to a type-signature automagically.
This is something I also spent much time on in practice!

[2019-01-17 10:16] gallais commented on #3502
Like `C-c C-h`?

[2019-01-17 10:26] guillaumebrunerie opened #3507 "Fields of lambda-bound variables bound as instance arguments are not considered by instance search"
In the code below, even though the argument of type `(P x) × Unit` is an instance argument to `test` and even though I explicitly match on it to expose the variable of type `P x`, it is not found by instance search. Ideally it should work with only `test x = f x`.

[code]
[code]

[2019-01-17 10:36] ajrouvoet commented on #3502
Oh I didn't know about that one. Why does it give an expression prompt though when invoked in a hole?

[2019-01-17 10:38] ajrouvoet commented on #3502
Ah I see, it expects a function name and arguments to lift. Cool!

[2019-01-17 10:49] UlfNorell commented on #3507
That's not how instance search works at the moment, and I don't think it should work like that. Consider, for example:

[code]

[2019-01-17 10:58] guillaumebrunerie commented on #3507
Ah indeed, I’ll try to find a different way to do what I want then.

[2019-01-17 10:58] #3507 closed, assigned to nobody

[2019-01-17 17:05] smimram opened #3508 "Cannot eliminate heterogeneous equality"
Hi,

The code
[code]
raises the agda error
[code]
whereas I would have expected that this would be valid with a unification identifying x with x' and y with y'. Am I missing something? Is there a way to circumvent this?

In case it matters, the version here is 2.5.4.1.

Thanks!

[2019-01-17 17:24] gallais commented on #3508
There is no reason for Agda to believe that `_⇒_` is injective.

[2019-01-17 18:21] ice1000 opened #3509 "Cubical strange typechecking error"
I'm playing with the agda/cubical library, using some primitive things. In the builtin module there's:

[code]

But when I copy the type signature and create a type-annotated alias for it, it gives me error:

[code]

Saying that

[code]

Is this expected? How can we copy the type signature directly and pass the parameter one by one and see a type error? I'm new to cubical so feel free to close if

[2019-01-17 18:23] ice1000 commented on #3509
Replacing `primTransp {ℓ} A φ a` with `primTransp {ℓ} A i0 a` (according to the error msg) resolves this.

[2019-01-17 18:25] ice1000 commented on #3509
Same thing happens to `hcomp`

[2019-01-17 18:27] ice1000 commented on #3509
Maybe because the `i`s are partial paths, while Agda requires complete path during type-checking

[2019-01-17 18:29] ice1000 commented on #3509
BTW there's `variable i : Level; variable A : Set i` defined above.

[2019-01-17 18:36] ice1000 commented on #3509
Does not happen to `Glue`.

[2019-01-17 19:32] smimram commented on #3508
Ah of course, sorry about that. Thanks!

[2019-01-17 19:32] #3508 closed, assigned to nobody

[2019-01-18 09:52] #3340 closed, assigned to UlfNorell

[2019-01-18 13:18] #3341 closed, assigned to UlfNorell

[2019-01-18 13:31] UlfNorell commented on #3341
Already generalised variables are now in scope in holes. If you want to write something that introduces new generalisations into the hole you have to <kbd>C-c C-x C-d</kbd> as before.

[2019-01-20 03:51] caryoscelus opened #3511 "Path applications should be blocking when the interval is blocked or a meta."
This is probably known, but i haven't seen any similar issues around

[code]

Agda complains
[code]
and (unlike similar cases like in commented line) doesn't even load the file, let alone allow filling hole.

Another simple example (not involving HITs):

[code]

(incidentally, more generic definition of cong works fine with holes, only complaining about unsolved constraints)

[2019-01-20 18:34] rwe opened #3512 "Heavy coupling of Haskell source modules"
This is a discussion/proposal issue, not a functional bug.

The modules under `src/full` are currently closely interdependent which makes reasoning/learning about Agda's compiler implementation somewhat challenging and makes refactoring difficult. About half of the source modules form a single 140+-module import cycle including `Agda.Compiler.*`, `Agda.Interaction.*`, `Agda.TypeChecking.*`. Additi

[2019-01-20 20:15] jespercockx commented on #3512
I believe this would be very welcome! The Agda codebase has grown and evolved a lot over time and there are many places where the organization of the modules no longer makes much sense. I would see any refactoring to reduce / remove import cycles as a big improvement.

One caveat is that any such refactorings will very likely only be merged after the release of Agda 2.6.0 (which will hopefully not

[2019-01-20 20:36] ice1000 commented on #3512
I think this will be very welcomed 😉

[2019-01-20 20:38] ice1000 commented on #3511
I've found exactly the same problem when developing something in the cubical library.

[2019-01-20 20:43] ice1000 commented on #3502
`h` stands for "helper function", which displays and copies a function signature to your clipboard. You can simply paste it elsewhere to start implementing this helper function.
Idris' equivalence sounds like the `?=` symbol (but I think it's a bad idea to put this feature into the language instead of making it an IDE feature).

[2019-01-21 01:14] caryoscelus opened #3513 "Internal error in src/full/Agda/TypeChecking/Rules/LHS.hs:766 with -vtc.inj.reduce:30"
When trying to find relevant info in debug log, i've stumbled into this internal error at level 30 (minified example):

[code]

I don't know what's exact condition, but general pattern can be seen from these samples.

[2019-01-21 07:46] andreasabel opened #3514 "Accidential language change in 2.5.3: hiding is now part of name when resolving hidden argument insertion"
Before Agda 2.5.3, the following code did _not_ type check:
[code]
The error was:
[code]
Now it type checks; the hiding is considered part of the name when resolving hidden arguments: `{{X}}` is distinguished from `{X}`.

The change of behavior was introduced during work on #2597 by commit 31a5982f38, obviously a forgotten negation during a refactoring:
<img width="617" alt="screenshot 2019-01-21

[2019-01-21 08:18] UlfNorell commented on #3514
I agree that this seems like a good, if accidental, change.

[2019-01-21 09:39] UlfNorell commented on #3512
This. (I believe I'm one of the *not everyone*)

My rule of thumb for explicit import lists is to only use in one of these cases:
- The import isn't a natural dependency, i.e. the import is surprising and listing the (small number of) functions used provides documentation/motivation for the import. Example:
[code]

- There are name clashes, in which case I pair it with a qualified import without a

[2019-01-21 09:40] Saizan commented on #3509
`primTransp`, `primHComp`, and `primComp` have side conditions in their typing rules, so just trying to make an alias like that will fail.

You can use the `Sub` type to capture these side conditions as is done in the `cubical` library for the `*fill` variants.

[2019-01-21 09:40] #3509 closed, assigned to Saizan

[2019-01-21 09:54] Saizan commented on #3478
This is working as intended, but there could be improvements.
In particular, `give/refine` does not try to rule out unsolved constraints, since in many cases those will get solved by further `give/refine` calls (e.g. filling in an implicit argument or giving a type annotation).

applied lambdas fall outside of bidirectional typechecking so Agda won't do a great job with them. In general the proble

[2019-01-21 10:34] Saizan commented on #3511
Thanks for the report. This was fixed in one reduction method but not the other.

[2019-01-21 10:37] #3511 closed, assigned to Saizan

[2019-01-21 11:49] Saizan commented on #3513
Not really related to cubical, you can trigger it like so:
[code]

There's a `headSymbol body` call in the wrong context, so printing is messed up.
I will push a fix.

[2019-01-21 12:40] #3513 closed, assigned to nobody

[2019-01-21 12:52] xekoukou commented on #3512
I am wondering if it possible to encapsulate all the state , maybe this has already been [done](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Monad/Signature.hs).

Then one could create a secondary process that contained the state, maybe written in the C language for portability reasons. Then multiple processes could be given access to it with ```mmap``` , meaning that parts

[2019-01-21 14:19] rwe commented on #3512
Thank you for your feedback!

I should have clarified my intention with that item 🙂 The final format of those imports should be whichever style the dev team prefers; I don't think a policy decision on that aesthetic choice is a necessary part of this. However I think expanding them even as a temporary step would facilitate identifying the current import patterns and make subsequent refactoring dif

[2019-01-21 15:33] andreasabel commented on #3512
Hello @erydo@, thanks for the initative!

Correct that to _comment-out dead code_.  The Agda source is a forever work-in-progress document which also contains unfinished sketches, communication between developers, commented out code to document abandoned or wrong solutions etc.
Removing something completely also means that pointers to remembrance get lost. (Most of the readers here may have young

[2019-01-21 15:37] andreasabel commented on #3503
`git blame` points to c0ffd54a07.  Probably the author of the new `CheckFunDef` constraint postponed the implementation of `reify` to later when it would be forced for the first time, which is now.

[2019-01-21 15:49] andreasabel commented on #3500
See #408. The current strategy is to scan left-to-right for a variable we can split on and then immediately split it.  Repeat this (left-to-right-scan, split) until done or stuck.
I'd say this strategy is to stay, it is too late to change it now.  All the code out there relies on it.

See also #408 for the discussion of a split strategy that prefers total columns (listing all and only the construc

[2019-01-21 16:04] andreasabel commented on #3478
In general, beta-redexes like `(\ x -> t) u` are not type-checked by Agda.
However, it sometimes works by expanding them to `case u of \ x -> t` using the `case_of_` combinator from the standard library module `Function`.

[2019-01-21 16:04] #3478 closed, assigned to nobody

[2019-01-21 16:12] jespercockx commented on #3503
Well, `CheckFunDef` constraints were never meant to actually show up to the user, only used internally as a mechanism for postponing checking a whole function definition. So the first question is why the constraint manages to survive in this case.

[2019-01-21 16:16] Saizan commented on #3498
In the current model caching of what happens due to interactive commands does not make sense because we have a linear log that follows the typechecking of a file.

The new `CheckFunDef` constraint is what exposed the problem here, I will isolate its solution from the cache.

[2019-01-21 16:19] #3498 closed, assigned to Saizan

[2019-01-21 16:46] caryoscelus commented on #3511
Thanks for the fixes.

[2019-01-21 17:30] caryoscelus commented on #3478
Ok, thanks for explanation.

I wonder if it would be possible to add custom warning for it. Something along the lines of "annotate lambda argument types or use case_of_" (neither would work for path lambda application though, but at least it would show basic direction of amending the issue; and writing caseI_of_ is trivial)

[2019-01-21 18:26] jespercockx commented on #3478
`case_of_` is a library function and not a language construct, so it would be a bit funny to see it in an error message if you're not using the standard library.

[2019-01-21 18:43] caryoscelus commented on #3478
I think it is small enough to include its definition in the message. Otherwise, general mechanism can be described

[2019-01-21 19:03] rwe commented on #3512
If documentation or commentary needs to refer to previous implementations, comments with commit IDs might better serve that purpose. Dead code pollutes module dependencies, build dependencies etc and which all burden the codebase.

Perhaps it would be useful to allow `-Werr` to be disabled via a "dev mode" flag or only enabled on CI. What do you think?

Redundant import statements is definitely a

[2019-01-21 20:56] nad commented on #3512
I don't quite agree with you here. If you want to document some design decision, preserving lots of commented-out source code is not necessarily the best approach (particularly if it makes it harder to get an overview over "live" code).

If you document your design decision in a commit that removes some source code, and it turns out that your documentation wasn't good enough, then it is typically

[2019-01-21 21:20] nad commented on #3509
I think this sounds like a design flaw.

[2019-01-22 06:20] UlfNorell commented on #3512
No, `-Werr` is important for the development process. Without it you have to babysit the compilation to make sure there aren't warnings that you're missing. If you miss one, recompiling won't display it and you'll only find out when CI fails.

Absolutely. We're not merging anything that we're not prepare to take ownership of.

[2019-01-22 11:40] martinescardo opened #3516 "error in src/full/Agda/Utils/Permutation.hs:68 (please report this as a bug)"
I am getting "An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/Utils/Permutation.hs:68"

Agda version 2.6.0-4e32f89

cabal-install version 2.2.0.0
compiled using version 2.2.0.0 of the Cabal library

Arises when doing "agda everything.lagda" in https://github.com/martinescardo/TypeTopology/tree/master/source (without any library).

$ agda everything

[2019-01-22 11:47] #2783 closed, assigned to nobody

[2019-01-22 11:48] #2487 closed, assigned to fredrikNordvallForsberg

[2019-01-22 12:11] nad commented on #2487
Thanks!

[2019-01-22 12:23] MatthewDaggitt commented on #2789
I'm happy that to close this issue now that @fredrikNordvallForsberg work has been merged in and that we've managed to factor out the standard library to respect the pragmas. Thanks again @fredrikNordvallForsberg !

[2019-01-22 12:23] #2789 closed, assigned to nobody

[2019-01-22 12:27] jespercockx commented on #3333
Now `--prop` is infective thanks to @fredrikNordvallForsberg , so can this issue be closed?

[2019-01-22 13:13] fredrikNordvallForsberg commented on #3516
Smaller test case:
[code]
Replacing the `variable` l with an ordinary argument, giving the implicit argument `{A}`, or replacing `(x, a)` with a hole all makes the error go away.

[2019-01-22 13:17] fredrikNordvallForsberg commented on #3333
Indeed, I now get the error message
[code]
instead of the confusing error message reported.

[2019-01-22 13:17] #3333 closed, assigned to jespercockx

[2019-01-22 13:31] UlfNorell commented on #3516
Might be related to my fixes of #3340 and #3341.

[2019-01-22 13:36] martinescardo commented on #3516
With "git reset --hard f77b563" and "cabal install" we get "agda everything.lagda" to work. I randomly picked a version of Agda of early December, commit f77b563d328513138d6c88bf0a3e350a9b91f8ed

[2019-01-22 14:42] martinescardo commented on #3516
The version of 16th January commit 95f4a24 works, after I modify some of my files.

The modification is needed because the order in which the variables are put in the context seems to have changed (from the order in which they are declared as variables, to the order they occur in the type).

I committed the version of my repository that works with Agda version 2.6.0-95f4a24.

[2019-01-22 14:43] martinescardo commented on #3516
So I think @UlfNorell is right.

[2019-01-23 07:39] nad commented on #3451
I'm not sure that the simple fix that I suggested is a good idea. I have a library that exports the size builtins from a "prelude" module that is marked as safe. If I'm not mistaken this module can no longer be used by safe code that uses constructor-based guarded corecursion.

Another way to fix this issue might be to disallow the use of sized types in the termination checker when `--no-sized-typ

[2019-01-23 07:39] nad commented on #3451
The following comment should be addressed in some way:

https://github.com/agda/agda/blob/82a4fba610469583b2d830e5d07f1de19f48b886/test/Succeed/Issue1209-7.agda#L1-L3

[2019-01-23 09:04] #3516 closed, assigned to UlfNorell

[2019-01-23 09:06] UlfNorell commented on #3516
I pushed a fix. @martinescardo can you verify that it solves the problem in you library?

[2019-01-23 10:24] martinescardo commented on #3516
I compiled the new version of Agda successfully, but now my code fails because of the new handling of --safe (and its omission), and hence I can't yet test your commit. I will let you know when I am done.

[2019-01-23 10:30] nad opened #3517 "Option consistency checking bug"
Consider the following code:
* `S.agda`:
[code]
* `M.agda`:
[code]
If I try to load `M`, then I get a decent error message:
[code]
Let us now add another module in `M2.agda`:
[code]
If I try to load `M2`, then I get the following error message (for `M.agda`):
[code]
I would prefer to get an error about the line `open import S`. Even worse, if `f` is commented out, then I don't get any error messag

[2019-01-23 10:48] fredrikNordvallForsberg commented on #3517
Do you mean for `S` to declare the size builtins? Otherwise I don't see how this would work at all.

I will investigate later today.

[2019-01-23 10:54] nad commented on #3517
Right, I forgot a line. I've updated the description above.

[2019-01-23 10:57] martinescardo commented on #3516
I think there still is a problem. For example, in my module UF-Yoneda, with variables 𝓤 𝓥, I get an unsolved meta at line 162

[code]
but everything works fine with
[code]
That module is now getting 5 unsolved metas:
[code]

[2019-01-23 11:20] UlfNorell commented on #3516
I'm not sure why there's a difference with and without generalisation (I'll investigate further), but I suspect it has to do with the fact that some metas are not solved until you type check the definition. In this case the `A` argument to `is-universal-element` is not determined by the type signature alone (it could be either `A` or `λ _ → A x`). Giving it explicitly makes the yellow disappear:
[

[2019-01-23 11:24] #1909 closed, assigned to UlfNorell

[2019-01-23 11:24] #2618 closed, assigned to UlfNorell

[2019-01-23 11:28] martinescardo commented on #3516
Spooky.

In any case, for some type now, for other reasons (which may be related), I have been entertaining making the this argument A of is-universal-element explicit.

[2019-01-23 11:35] nad commented on #3517
Here is a possibly related bug:
[code]
There are two problems: The code should not be accepted the first time, and the error message should include a source location.

[2019-01-23 12:01] martinescardo commented on #3516
Making this argument explicit makes the code more readable and side-steps this issue. So now my code works with this version (after also adapting it to the new handling of --safe).

Thanks.

[2019-01-23 13:37] nad opened #3518 "Performance regression"
I have some code that has started running out of memory. I tried to create a small test case:
[code]
I don't think this test case represents the problem accurately, because Agda 2.5.4.2 also runs out of memory on this code. However, I wonder what causes this problem:
* The top-most type constructor of `excluded-middle` is `¬¬_`.
* Thus it should be easy to find the right monad instance for `map`.

[2019-01-23 14:48] UlfNorell opened #3519 "Generalize leaves yellow where explicit quantification does not"
Spawned from #3516.

[code]
Key: the `A` argument is only solved once we look at the definition.

[2019-01-23 14:49] UlfNorell commented on #3516
Reported the unsolved meta as a new issue (#3519) with a shrunk test case.

[2019-01-23 15:27] martinescardo commented on #3516
And: now I can do ctrl-x ctrl-s where the completion uses generalizables, which is great. Thanks!

[2019-01-23 15:46] #3519 closed, assigned to UlfNorell

[2019-01-23 16:27] andreasabel opened #3520 "github readthedocs integration"
Because of the deprecation of github services (hopefully not the beginning of the end, MS)
https://developer.github.com/changes/2018-04-25-github-services-deprecation/
I added a webhook to readthedocs following these instructions:
https://docs.readthedocs.io/en/latest/webhooks.html#webhook-integration-github

[2019-01-23 16:27] andreasabel commented on #3520
In case it does not work, please reopen this issue.

[2019-01-23 16:27] #3520 closed, assigned to andreasabel

[2019-01-24 00:56] #3517 closed, assigned to fredrikNordvallForsberg

[2019-01-24 01:02] fredrikNordvallForsberg commented on #3517
Thanks for finding this bug. The possibly related bug was indeed an instance of the same problem, and is also fixed by the commit above:
[code]

[2019-01-24 08:15] UlfNorell commented on #3518
What seems to happen is that we get a postponed type checking constraint (arising from the overloaded projection), that spawns a fresh instance constraint every time it's rechecked. Thus causing type checking to loop.

I suspect this is the problem in the original example as well, only that Agda 2.5.4.2 manages to dodge it by checking constraints in a different order.

[2019-01-24 10:46] #3518 closed, assigned to nobody

[2019-01-24 14:13] fredrikNordvallForsberg opened #3522 "Options consistency checking should not re-typecheck builtin files"
[Elsewhere](https://github.com/agda/agda/commit/273689fecb5a56a2844036cb1c196bb61c32b40e#r32047284), @nad commented

which made realize that we shouldn't re-typecheck primitive (already happening) and builtin modules because of changed options, because that would lead to problems as in #3128.

It makes sense to also address @nad's concern above at the same time.

[2019-01-25 12:15] fredrikNordvallForsberg commented on #3522
Not re-typechecking builtin modules is implemented in  https://github.com/agda/agda/commit/6fa083a641e276cea7c561129fb0419b6285a589 (oops, there was a space between # and the issue number).

Leaving this issue open a bit longer to discuss the following problem: can and should we always check the primitive and builtin modules with the default options?

* Are there any use cases where other options

[2019-01-25 12:22] nad commented on #3522
Sounds good to me.

[2019-01-25 12:39] nad commented on #2880
Now `--safe` is ignored when builtin modules are checked, right?

[2019-01-25 12:49] Saizan commented on #3522
If you do so, please also add a flag that really ignores everything, it's useful for debugging.

[2019-01-25 12:54] nad commented on #3518
Thanks. My original example is now checked in reasonable time.

[2019-01-25 12:58] gallais commented on #2880
Good point. Let me merge master into my branch and have a look.

[2019-01-25 13:10] nad commented on #3451
The current implementation might be less error prone, so perhaps we should stick with it.

[2019-01-25 13:13] nad commented on #3522
I don't think we should make such a flag available to users. It's easy to remove the `.agdai` files manually.

[2019-01-25 13:37] gallais commented on #2880
Still does not work. I think the problem is that `getSafeMode` does not respect the
logic of ignoring `--safe` when we are checking a `prim`. Is that a bug @fredrikNordvallForsberg?

[2019-01-25 13:45] gallais commented on #2880
Ah, I guess we're using some ad-hoc logic here:

https://github.com/agda/agda/commit/86eb792a27823946c904a93c6c1c44087fbedcfa#diff-7568965831e2a7f801464fb14d33ce43R1438

and I should use the same logic in `niceDecls`!

[2019-01-25 13:56] fredrikNordvallForsberg commented on #2880
logic of ignoring --safe when we are checking a prim. Is that a bug @fredrikNordvallForsberg?

As you've discovered in your later comment: by design, only postulates together with `--safe` are allowed in some (whitelisted) builtin modules, so no, not a bug.

[2019-01-25 13:58] nad opened #3523 "Regression related to instance resolution"
The following code is accepted by Agda 2.5.4.2, but not by Agda 2.6.0-ae2fb38:
[code]

[2019-01-25 14:08] fredrikNordvallForsberg commented on #3522
Perhaps it wouldn't be so bad to remove them manually, since one would only have to do it for the interface files in the `defaultLibDir`. You could even make an alias that first removed the files, then invoked ``agda --ignore-interfaces``:
[code]

[2019-01-25 14:16] Saizan commented on #3522
@fredrikNordvallForsberg It's mainly an issue when it happens on someone else's machine, especially if they are not familiar with where the interface files are stored.

[2019-01-25 14:22] nad commented on #3522
Are the interface files for the builtin modules always regenerated when Agda is installed? If not, then I think they should be.

It is quite common that someone modifies Agda without modifying the magic number used in the interface files, and sometimes this leads to problems that can be fixed by removing all the interface files.

[2019-01-25 14:27] nad commented on #3522
I assume that you are referring to people using the development version of Agda. In that case we can tell them to start by reinstalling Agda. (And finding the directory is easy, at least with a typical Linux machine: `echo $(dirname $(agda-mode locate))/../lib/`.)

[2019-01-25 16:21] UlfNorell commented on #3523
For some reason instance search fails to compute the target type (`R _`) of the instance goal, making it not generate any candidates.

[2019-01-26 06:40] ice1000 commented on #1743
Edit: sorry for bothering. I misunderstood the OP. Please ignore this comment.

-----

I'm having problem defining instance recursively, possibly relevant:

[code]

Gives

[code]

[2019-01-26 08:25] UlfNorell commented on #1743
You can use copatterns to make the code a lot nicer *and* pass termination checking:
[code]

[2019-01-27 11:58] #2880 closed, assigned to UlfNorell, gallais

[2019-01-28 13:13] jespercockx opened #3525 "Rewrite rules with non-linear patterns do not work in presence of Prop"
Reported by Simon Boulier:
[code]
The problem is that the rewriting implementation uses untyped equality for checking the non-linear parts of patterns, which doesn't do the right thing in the presence of Prop's.

[2019-01-28 19:43] gallais opened #3526 "Do not generate trivially impossible clause when case-splitting"
Now (from 2.6.0 onwards) that Agda does not need us to list all of the trivially
impossible clauses, it would be nice for case-split to not even generate them.

Test case:

[code]

[2019-01-28 20:34] rwe commented on #3512
@UlfNorell @andreasabel — Regarding `-fwarn-unused-binds` + `-fwarn-unused-imports`

Those two flags are important for identifying dead dependencies and areas for pruning, and are useful to include to prevent regression. (I have branches with all instances of those warnings fixed and the warnings enabled).

However, mindful of @andreasabel's comment that introducing those flags could slow down dev

[2019-01-28 22:47] squera opened #3528 "Unable to install Agda on MAC"
I am following these steps:
https://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.MacOSX

I got to the step:
- Install Agda by calling cabal install Agda . Now you can go and have a cup of coffee (or two).

And i get this error:
[code]

any idea how to proceed? I haven't found how to revert to e.g., base 4.11, which seems like a possible solution to this mess?

I am using
macOS Sierra, Version 10

[2019-01-28 23:02] gallais commented on #3528
Looks like you have a bleeding edge version of ghc installed. It will be supported after the next release (cf. #3369)

In the meantime the [release candidate](https://hackage.haskell.org/package/Agda-2.5.4.2.20190111/candidate) should (?) work. The easiest way to obtain it is probably
to clone the repo (`git clone https://github.com/agda/agda`) and then checkout the tag (`git checkout tags/v2.5.4.

[2019-01-29 02:13] asr opened #3530 "Missing warnings in GHC 8.6.*"
GHC 8.6.* has the new warnings [Wstar-binder](https://downloads.haskell.org/~ghc/8.6.5/docs/html/users_guide/using-warnings.html#ghc-flag--Wstar-binder) (standard warning) and [Wstar-is-type](https://downloads.haskell.org/~ghc/8.6.5/docs/html/users_guide/using-warnings.html#ghc-flag--Wstar-is-type).

[2019-01-29 06:16] UlfNorell commented on #3512
I'd be willing to give it a try. If it's too onerous we can always drop it again. Out of curiosity, did removing unused imports get rid of a lot of dependencies?

[2019-01-29 06:43] UlfNorell commented on #3512
Looking at the PR (#3527) I'm not convinced. There's a lot of imports with empty export lists or precise pruning of import lists. You have to work (very) hard to convince me that
[code]
is bad if I'm only using `first`. I see the point in avoiding truly unused imports, but if I'm importing the module anyway, I really don't see an advantage in micromanaging the import list.

Also I'm not sure how t

[2019-01-29 11:09] guillaumebrunerie opened #3532 "Refine does not work for functions with 10 arguments or more"
Is there a good reason for why `refine` does not work when a function has 10 arguments or more? It’s rather surprising, and the error message "Cannot refine" isn’t very clear. Try `C-c C-r` in the goal below.

[code]

[2019-01-29 11:27] UlfNorell commented on #3532
Reason, yes. Good, no.

Refine is a bit of hack. It works by trying to give `f`, `f ?`, `f ? ?`, `f ? ? ?`, etc, up to 10 question marks. The number 10 was scientifically chosen<sup>[citation needed]</sup> to work for most cases without making it too slow in the case you can't refine.

[2019-01-29 11:36] guillaumebrunerie commented on #3532
Should the error message be improved, then? For instance if Agda sees that `f` has at least 10 arguments and that refine did not work, it could add some kind of warning to the message :
```Cannot refine (note that refine does not work for functions with 10 arguments or more)```

[2019-01-29 11:43] guillaumebrunerie commented on #3532
I guess `refine` could also be made smarter. For instance by substracting the number of nested Pi-types in the goal from the number of nested Pi-types in the type of `f`, it should give a number of question marks worth trying.

[2019-01-29 16:07] anuyts commented on #2670
See #3419

[2019-01-29 18:03] squera commented on #3528
thanks for the explanation and for the suggested workaround, that did the trick :)

[2019-01-29 18:03] #3528 closed, assigned to nobody

[2019-01-29 18:37] rwe commented on #3512
It got rid of a few, but #3527 doesn't really aim to do that yet: when in doubt I left empty import lists (`import Foo ()`) to avoid chasing the invisible _instance_ dependencies up front.

For example, if `A` imports `F` which defines `type Foo`; and `A` and also imports `B` which imports `C`, and `C` imports `F` _and_ defines `instance Monoid Foo`, then even if `A` has no other symbol dependenci

[2019-01-29 19:47] jespercockx commented on #3512
From the `importify` webpage:

We use cabal for building Agda.

[2019-01-29 20:05] UlfNorell commented on #3512
See #1875 for discussion on creating an `Agda.Prelude`.

[2019-01-29 20:47] rwe commented on #3512
@jespercockx

You're correct by default: https://github.com/agda/agda/blob/6c22ffc14b7cb0d204e0524e47a8bbb396be0438/Makefile#L106-L115

But if a `stack.yaml` is present, it's used. Several examples are included. For local builds I've been using stack without issue. Seems that adding a default `stack.yaml` would be pretty straightforward, if that were the thing holding it back?

Looking at the sour

[2019-01-30 07:53] UlfNorell commented on #3523
Actually this is a consequence of the #3358 fix and working as intended. Since we can't rule out the type of `x` being instantiated to an eta-record type with an instance field we can't solve the instance goal until we know the type of `x`.

[2019-01-30 07:53] #3523 closed, assigned to nobody

[2019-01-30 16:01] #758 closed, assigned to UlfNorell

[2019-01-30 19:30] WolframKahl commented on #3512
In my own code, I tend to keep these only with a comment

[code]

and only if instances are actually needed.

[2019-01-31 09:50] UlfNorell commented on #3156
This is exactly #1581 and unrelated to #3010.

[2019-01-31 09:52] #3010 closed, assigned to UlfNorell

[2019-01-31 09:53] UlfNorell commented on #1581
Closing in favour of #3156 which gives a clearer test case.

[2019-01-31 09:53] #1581 closed, assigned to nobody

[2019-01-31 13:19] #3112 closed, assigned to UlfNorell

[2019-01-31 13:46] #3152 closed, assigned to UlfNorell

[2019-01-31 14:03] UlfNorell commented on #3235
A workaround is to add the options as a `FOREIGN` pragma:
[code]

[2019-01-31 16:46] effectfully commented on #2795
I need top-level pattern matches right now and I'm not sure how to do what I want in a different way.

Just to provide you some feedback.

[2019-01-31 16:52] UlfNorell commented on #2795
Am I correct in assuming that a crucial thing would be shared evaluation of the rhs?

[2019-01-31 17:17] effectfully commented on #2795
That would be good, but not crucial. It's just that the RHS returns a collection with statically known shape and I need to give a name to each of the elements of the collection. My current plan is to do:

[code]

which is wordy and requires me to define `_#_`. That's OK for my current use case, but if I was developing a library, that would be a bad API.

[2019-01-31 17:22] #3380 closed, assigned to UlfNorell

[2019-01-31 17:24] UlfNorell commented on #3380
I pushed a fix. @xekoukou can you check that it also works for the OCaml backend after updating it to pass the `EagerEvaluation` flag to the treeless compiler.

[2019-02-01 01:32] mietek opened #3534 "Problem finding higher-order instances"
It seems that wrapping higher-order instances is still necessary in Agda 2.5.4.2, as suggested in https://github.com/agda/agda/issues/1322#issuecomment-129030137.  Is this intended?

[code]

[2019-02-01 07:05] xekoukou commented on #3380
@UlfNorell It works now. Thanks.

[2019-02-01 09:55] nad commented on #3235
I think this change broke the Emacs mode for me:
[code]
I have included "+RTS", "-M1.5G", "-K40M" and "-RTS" in `agda2-program-args`.

[2019-02-01 12:27] andreasabel commented on #3235
Haha, I like the `(did you mean --js ?)` suggestion idiot.  As smart as my "smart" phone.

[2019-02-01 12:35] #3235 closed, assigned to UlfNorell

[2019-02-01 13:25] gallais commented on #3486
I had a look at it and the Haskell code looks alright to me: it takes a `Rewrite`
argument and respects it when normalizing the term elaboration produces.

I think the problem comes from `agda-mode`:

* `agda2-elaborate-give` is defined using `agda2-maybe-normalised`
* [`agda2-maybe-normalised`](https://github.com/agda/agda/blob/fd533f1d3f20474acaf402383910a96ee129f194/src/data/emacs-mode/agda2-mo

[2019-02-01 15:47] gallais opened #3535 "Add folding code for html backend"
Recording here @martinescardo's suggestion and hints as to how it could be implemented:

[2019-02-01 19:33] martinescardo commented on #3535
It would be lovely to have that for agda --html. In fact, I often browse my own code as an outsider, because it goes back 10 years. Sometimes I want to recall the proofs, but more often I just want to see the definitions and theorem statements. And very often I want to find where is this construction/theorem that I know is there and I need to apply, but is difficult to find. A version with proofs/

[2019-02-01 19:56] xekoukou commented on #3502
@gallais Would you mind creating a tag about possible enhancements to the interactive environment?
The point of the tag would be to distill useful advice from experienced users , to become a treasure trove for people that might implement them in the future.

So it is something that noone promises to implement, nor anyone demands that they are implemented.
Under this social protocol, more people wi

[2019-02-01 22:08] maltenmuller opened #3536 "Patternmatching on coinductive record fields breaks"
I have this piece of code defining a coinductive record and a function producing elements of this record type.

[code]

When I compile the file I get this message:

[code]

I'm working with Agda 2.6 but this error also occurs with 2.5.4.1.

The error occurs when
* the record has at least two fields
* the argument in the _first_ case of `foo` is being patternmatched on
    (if the two cases swap pl

[2019-02-01 23:19] gallais commented on #3536
It compiles with 2.5.3. Therefore a regression.

[2019-02-02 04:31] andreasabel opened #3537 "Cubical: HIT declaration fails when using PathP _"
[code]

There is a heuristics unifying the target of a constructor with the data type applied to parameters that might break things here.

[2019-02-02 04:37] andreasabel commented on #3535
The `summary/details` tags (HTML5) are not supported by MS Internet Explorer, though.
https://stackoverflow.com/questions/51304178/html-details-tag-does-not-work-in-ie-edge

[2019-02-02 05:35] andreasabel commented on #3536
The problem seems to be that the `Treeless` compiler reruns the clause compiler (instead of using the existing compiled clauses), but without the split tree from the coverage checker.  However, the split tree is necessary to direct the clause compiler.  As you can see from debug output, the recompiled clauses are garbage:
[code]
Here, the first split is on the argument, leaving us with two incompl

[2019-02-02 05:37] andreasabel commented on #3514
No objections, thus, considering this conversation as resolved.

[2019-02-02 05:37] #3514 closed, assigned to andreasabel

[2019-02-02 05:39] andreasabel commented on #3503
Maybe because the function checking could not complete because of the missing type signature?

[2019-02-02 09:00] andreasabel opened #3538 "Regression: Rewrite rule involving constructors rejected in parametrized module"
The rewrite rule below is accepted in Agda-2.5.4.2:
[code]
It is also fine if the module parameter `Form` is removed in favor of a postulate.

[2019-02-02 09:29] andreasabel commented on #1556
When checking the type of `type`, the type `Type` is wh-normalized by `ifNotPiType`:
https://github.com/agda/agda/blob/f220dda262c228b00fd0f1d9a078f3cb2a1d0beb/src/full/Agda/Termination/TermCheck.hs#L496-L497
Thus, the termination checker is effectively looking at
[code]
Is it a problem?

[2019-02-02 09:39] andreasabel opened #3539 "Document `--cubical` properly"
The current documentation
https://github.com/agda/agda/blob/master/doc/user-manual/language/cubical.lagda.rst
only covers the interval type, but misses
- [ ] systems
- [ ] cubical primitives
- [ ] ... (what else?)

[2019-02-02 09:45] andreasabel commented on #3432
Related: #1714.

[2019-02-02 13:21] gallais commented on #3486
Just realised I could test the `AsIs` behaviour by putting a test case
in `test/interaction` with the following `Issue3536.in`:

[code]

And Agda does indeed generate only `x` even if we use `AsIs`. :/

[2019-02-02 16:35] mortberg commented on #3539
One technical remark is that the interval is not a type, it's a "pre-type" as it does not have any hcomp/transp operations (i.e. it is not fibrant/Kan in the semantics). Because of this it is in `Setω`.

The documentation should also cover:

- `PathP`
- `Partial` and `PartialP` (as part of documentation for "systems")
- Kan operations (`hcomp` and `transp`)
- `Glue` types
- Cubical `Id` types
- Hi

[2019-02-02 23:54] gallais commented on #3502
I think the existing tags should be sufficient. It's possible to use more than one in
the search bar on github.

For instance: [label:emacs label:"type: enhancement"](https://github.com/agda/agda/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Aemacs+label%3A%22type%3A+enhancement%22+)

[2019-02-03 00:30] xekoukou commented on #3502
Even though I think that emacs is too specific, many things cannot be done in emacs (I should change the title of this issue),
my biggest concern is how to make people comfortable in proposing features.

[2019-02-03 11:40] #3415 closed, assigned to Saizan

[2019-02-03 12:05] gallais commented on #3415
Have we given up on the feature freeze? Because I have 4 PRs I wouldn't mind merging
so that I don't have to deal with merge conflicts anymore.

[2019-02-03 12:18] Saizan commented on #3415
@gallais oh, i forgot about that! This PR is a small tweak so maybe I would have merged anyway though.

I suppose we're still gearing up to release, but in that case shouldn't new features be merged into `future` so then it's up to who commits on `master` to merge?

[2019-02-03 12:24] Saizan commented on #3539
@mortberg That would be great! every time I start I get stuck on how to organize things.
And if there's something about the implementation to clarify you can leave TODOs for me.

[2019-02-03 17:51] andreasabel opened #3541 "Track positivity also in indices !?"
Nested data types are accepted if nesting is through a parameter, but not through an index:
[code]
Agda rejects `Foo` with this little poem:
[code]
I wonder whether we could get Foo accepted, to give the user more flexibility in defining his/her data types.

Related: #802.

[2019-02-04 07:50] nad commented on #3539
Is the intention to turn the interval into a type when `--omega-in-omega` is active, or is this just a hack? Perhaps you could use another sort, distinct from `Setω`.

[2019-02-04 07:55] nad commented on #3535
I think I would prefer if the details were visible by default, and I wouldn't want to see symbols for "click here to hide the code".

I'm not sure if the `summary` and `details` tags are appropriate for use with the new kind of mutual definitions.

[2019-02-04 07:59] nad commented on #1556
At least it's an explanation. I don't know if it's a problem, you are the expert on termination.

[2019-02-04 08:24] andreasabel commented on #3541
I have pushed a fix 449d40be5d89d77bc7a119865ab5c8bda56b5fe9 .
However, we should take a moment to reflect if there could be soundness issues with the more liberal positivity check.

[2019-02-04 10:15] Saizan commented on #3539
@nad The interval will still be a `pre-type` with `--omega-in-omega` because its universe will not change. `pre-type` is not the same as `sort` or `kind`, it's about whether there's both `primTransp` and `primHComp` for it. In Agda you can apply those primitives only for "types" in universes of the form `Set l`.

In the future it would be nice to have a universe for the interval so that function t

[2019-02-04 10:39] Saizan commented on #3537
Maybe the heuristics should be wrapped with a `noConstraints` and backtracked if it fails?

[2019-02-04 11:25] gallais commented on #3535
A more flexible alternative would be to wrap the definitions' bodies in div blocks
and use js code to hide/show them. We could then even have `unroll all` and
`hide all` buttons.

Reference: https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp

[2019-02-05 07:03] m0davis opened #3544 "internal error @ TypeChecking/Forcing.hs:227"
Using the latest version (master, 449d40be5d89d77bc7a119865ab5c8bda56b5fe9), Agda reports an internal error:

[code]

The report is:
[code]

[2019-02-05 11:01] nad commented on #3539
OK.

[2019-02-05 17:44] sanduteo95 opened #3545 "JavaScript backend: mapping a function that returns Set fails"
Given the following program:
[code]
The JavaScript backend generates the following:
[code]

Although the `createElem` function was defined for JavaScript with the `COMPILE JS` pragma, and the `NOINLINE` pragma is enabled, when used within a map the function is replaced with `agdaRTS.primIntegerFromString("0")`.

Agda version `2.5.4.2`

[2019-02-05 19:17] gallais commented on #3545
I think it's related to the fact that the codomain of `createElem` is something that
gets erased. If you give `createElem` a more sensible type (given that it is compiled
to the identity function) then the NOINLINE pragma is respected:

[code]

is compiled to (I've replaced `(agdaRTS.primIntegerFromString("0"))` with `X` to
make things more readable):

[code]

[2019-02-05 19:18] UlfNorell commented on #3545
I'd say this is working as intended, or at least as expected. Types are erased before you get to the backend, so the `createElem` function (being `Set` valued) will be erased. Taking compile pragmas into account for erasure would be complicated and I don't see a good case for it. The example is quite non-sensical.

[2019-02-05 19:19] gallais commented on #3545
:+1:

We could however warn the user that their `COMPILE` pragma will be ignored.

[2019-02-05 19:40] sanduteo95 commented on #3545
Yes, I agree this example is nonsensical - it was made up to explain the issue in an easier manner. So it's not the actual program I encountered the problem in. The actual use case is for creating a heterogenous vector.

Since you seem to be aware of this and the problem is a bit of an edge case, I'm happy for you to close the issue.

[2019-02-06 04:09] palkarz opened #3546 "Reflection with dependent instance arguments causes an error"
In Agda 2.5.4.2 the following code

[code]
produces the following error
[code]

[2019-02-06 06:38] UlfNorell commented on #3546
This is the expected behaviour. The context of the macro call (in `example-f`) is empty and `quoteTerm` quotes the syntactic term `f x` to something like `f` applied to deBruijn indices 4, 3, and 2. Basically you should never use `quoteTerm`, using `quoteTC` instead (which quotes the value and not the syntax) makes it work:

[code]

[2019-02-06 06:38] #3546 closed, assigned to nobody

[2019-02-06 06:45] palkarz commented on #3546
Thank you Ulf. Works like a charm.

[2019-02-06 10:44] #3314 closed, assigned to Saizan

[2019-02-06 12:47] fredrikNordvallForsberg commented on #3522
I've implemented the above suggestion, and added a "hidden" `--ignore-all-interfaces`: it's mentioned in the user manual and changelog (with warnings to avoid using it unless you know what you are doing), but does not show up in `agda --help`.

I didn't merge the pull request yet, in case there are strong opinions about this hidden middle ground.

[2019-02-06 17:05] ecavallo opened #3547 "Cubical: pattern match on face of aliased interval variable raises internal error"
[code]
raises an internal error at `src/full/Agda/TypeChecking/Conversion.hs:1667` (on `2.6.0-25cac0e`).

Matching on a face using only variables checks successfully (such as `λ {(primINeg i = i1) → ?}`), but matching on one using previously-defined terms does not (such as `λ {(primIMin i j = i1) → ?}`).

[2019-02-07 08:21] andreasabel commented on #3502
The correct label is `interaction` for interacting with Agda (through Emacs, Atom, etc.).

[2019-02-07 08:27] andreasabel opened #3549 "Emacs: load highlighting from .agdai file when opening an .agda file"
Currently, when I open a `.agda` file with `C-x C-f` in Emacs, it is just black-and-white, even when an up-to-date `.agdai` file exists.  It would be nice if highlighting was loaded from that file.
[ I realized that Emacs even does rehighlighting now on saving `C-x C-s`. Why not on loading? ]

[2019-02-07 08:31] andreasabel opened #3550 "Emacs: interrupt highlighting process when reloading `C-c C-l`"
Since a couple of months I get the `Another command is currently in progress` when pressing my standard key sequence `C-x C-s C-c C-l` to save and reload the buffer.
Apparently `C-x C-s` now triggers a highlighting process which stops `C-c C-l` from working.
`C-c C-l` should abort the current highlighting process in favor of a reload.

[2019-02-07 11:46] gallais commented on #3391
Are we still on the feature freeze? I could see merging small things such as
#3456, #3485, and #3548.

I would hold off on #3458 and #3533 because they're more involved and even
though they seem OK, more testing before an inclusion in 2.6.1 won't do any
harm.

[2019-02-07 12:15] UlfNorell commented on #3391
Those seem perfectly fine. The feature freeze is more of a recommendation than a hard rule. Use your own judgement to decide.

[2019-02-07 14:09] UlfNorell commented on #3544
The problem is that `zero x` and `zero y` need to be rebound at the same non-forced location (`x` and `y` are actually the same) and the forcing translation is not idempotent. Fix incoming.

[2019-02-07 14:39] nad commented on #3549
This is supposed to work:

https://github.com/agda/agda/blob/4392e74b88de51c8bbb5a26f307e1a3047c14073/src/data/emacs-mode/agda2-mode.el#L441-L444

[2019-02-07 14:45] nad commented on #3550
The command `C-c C-l` first saves the buffer, so your problem can be fixed by simply typing less.

See #2794 and #3119. This feature goes back to Agda 2.5.4.

[2019-02-07 15:21] guillaumebrunerie commented on #3550
I’m having a similar problem, although not related to `C-x C-s`.

I’m not exactly sure how to reproduce it, but typically I do `C-c C-l` on a file I’m working on, it fails because of a stupid typo so I fix the typo and then do `C-c C-l` immediately again, and this time I get the message `Another command is currently in progress`. Redoing `C-c C-l` once again works, so it’s not a huge problem, but

[2019-02-07 16:52] UlfNorell commented on #3544
That broke compilation...

[2019-02-07 18:24] #3547 closed, assigned to Saizan

[2019-02-08 10:33] nad commented on #3550
@guillaumebrunerie, I think this sounds like a different problem. Can you create a reproducible test case? (Preferably using [`RunAgda`](https://github.com/agda/agda/blob/master/test/interaction/RunAgda.hs), see [`Issue3082.hs`](https://github.com/agda/agda/blob/master/test/interaction/Issue3082.hs) for an example of how it can be used.)

[2019-02-08 10:56] UlfNorell commented on #3550
I think I've run into this as well.

Why do you think it sounds like a different problem? Are there no other situations where we kick off the background highlighting process than on saving the buffer?

[2019-02-08 11:06] guillaumebrunerie commented on #3550
From what I understand, the highlighting is updated after 0.2s of inactivity. So my guess is that if one runs `C-c C-l` 0.201s after the last keypress, then there will be a clash.

[2019-02-08 12:24] nad commented on #3550
Are you still using Agda 2.5.4?

I don't think so.

[2019-02-08 12:50] guillaumebrunerie commented on #3550
No, I’m using the master branch from a few weeks ago. I saw something about those 0.2s of inactivity in https://github.com/agda/agda/issues/2794#issuecomment-389426018, but it seems not to be the case anymore indeed.
I’ll try to find a way to reproduce it, but for now I haven’t figured out what triggers it.

[2019-02-08 13:54] fredrikNordvallForsberg commented on #3522
No strong opinions voiced, so I merged. That closes this issue.

[2019-02-08 13:54] #3522 closed, assigned to fredrikNordvallForsberg

[2019-02-08 22:08] martinescardo opened #3551 "Feature request: pattern matching on identity path in cubical Agda"
It would be very nice to have cubical Agda to internally translate pattern matching on refl (with --without-K) to path induction. This would not only make proofs more readable, but also would allow existing Agda developments to migrate seamlessly to cubical Agda.

In particular, I am eager to try my own existing development with cubical Agda. I deliberately designed it so that all "univalent" feat

[2019-02-08 22:26] Saizan commented on #3551
Just to clarify, this is about allowing `refl` as a pattern for `Path a b`, not just Swan's `Id` type?

[2019-02-08 22:32] martinescardo commented on #3551
I think this needs to be discussed. My own code in Agda uses axiomatic HoTT/UF wih identity types with the computation rule. I have no idea how much of my code survives with the computation rule replaced by a path. I wish I had used a postulated J (which is what I did in early days, but then I couldn't resist to song of the pattern-matching siren).

[2019-02-08 22:34] emilyhorsman commented on #2837
@nad How difficult would goal detection in `.lagda.{md,org,rst}` documents be? I'd give this a shot given some direction.

[2019-02-09 15:59] guillaumebrunerie opened #3552 "Difference between con and def in reflection, and projections for records"
In the datatype representing terms for reflection, there is a difference between constructors and defined functions:
[code]
On the other hand there does not seem to be anything special for projections for records, I guess they are simply dealt with with `def`.

Should `con` be merged into `def`? Or should a distinction be made between defined names and projections?

[2019-02-09 16:37] guillaumebrunerie commented on #3551
At least with the option `--exact-split`, it should definitely not be allowed for `Path a b`.

[2019-02-09 18:26] guillaumebrunerie opened #3553 "Definitions in Prop are not accessible by reflection"
Consider the code below, which defines `f` and then uses reflection to extract the definition of `f`.
If you give the hole at the last line, you get the "error message" `The value of f is x₀`, which is the expected behaviour.
But if you now change `X : Set` to `X : Prop` and try again to give the hole at the last line, you get `The value of f is _`. The value of `f` is reified as `unknown` whereas

[2019-02-10 00:18] martinescardo commented on #3551
I think that exact split is conflating two things: (1) that the patterns can be translated to "Martin-Loef combinators" directly and (2) that defining equations hold definitionally. I am interested in (1). For this, it is fine to translate pattern matching on refl to J for Path rather than Id. However, it would be nice to be able to control which translation we want (equality to PATH, or equality

[2019-02-10 00:54] guillaumebrunerie commented on #3551
My impression is rather that all definitions in Agda, even those rejected by exact split, can be (in theory) translated to Martin-Löf combinators, i.e. that (1) is always true (for instance I think that Jesper et al’s papers on `--without-K` prove something like that). But the equations may not always hold definitionally, hence `--exact-split` that takes care of (2). I might be wrong though, my kn

[2019-02-11 02:55] gallais commented on #3491
I have a potential fix (in the Abstract to Concrete translation) which prints
`A.DotP i (A.Var v)` as `.(v)` whenever `v` also happens to correspond to a the
name of a field in a record type.

I'll go to bed now but I'll try to prepare a PR tomorrow.

Edit: I should clarify that my "fix" means the code triggering an internal error won't
be generated via interactive programming. However if the user

[2019-02-11 09:19] guillaumebrunerie commented on #3550
Actually my problem seems to be the exact same one as Andreas’ problem. After observing how I interact with emacs, it seems like I regularly do `C-x C-s` without even noticing it.

[2019-02-11 12:02] palkarz opened #3554 "Type checker explosion"
The following code is meant to describe C/C++-like enumerations which can take 4 bytes although all they are supposed to contain is just a few different alternatives.

[code]
So far so good. Everything type checks nicely. However adding the following lines
[code]
that don't appear to be doing much of anything, leads to a nontermination of the type checker and depletion of all system resources.

I

[2019-02-11 13:34] jespercockx commented on #3552
The reflected syntax is based on Agda's internal syntax, where there is a distinction between `def` and `con` for several reasons such as evaluation and constructor overloading. I don't think we should make the reflected syntax too distinct from the internal syntax unless there's a good reason for it.

OTOH, in the internal syntax record projections are represented as part of the spine of a term,

[2019-02-11 13:35] jespercockx commented on #3541
I would be very surprised if there would be possible to exploit this feature (which does not already work with the current parameters).

[2019-02-11 13:36] jespercockx commented on #3553
Yeah, it would make sense to add support for `Prop` to the reflection machinery.

[2019-02-11 13:48] jespercockx commented on #3538
The problem is that inside a parametrized module, parameters are considered as 'rigid symbols' for the purpose of rewriting, i.e. they have to match exactly for the rewrite rule to fire. However, as constructors don't store their parameters, it is impossible to check whether the parameter actually has the right value. A workaround is to declare the rewrite rule outside of the parametrized module.

[2019-02-11 14:26] jespercockx commented on #3534
It works (at least on the current master branch of Agda) if you make the argument of `foo` into an instance argument as well:
[code]
In general, it does not really make sense to have an instance with an explicit function type, as it will never actually be used by instance search. For top-level definitions there's already a warning if you try to add an instance of type `A -> B`, maybe we should hav

[2019-02-11 14:54] jespercockx commented on #3554
This seems to be a bug, I can reproduce it on the current master version of Agda. Here's a version that doesn't depend on external libraries:

[code]
The final message I get from the debug output is the following:
[code]
after which it goes completely silent. So this suggests there's something wrong in the coverage checker.

The likely culprit here is the call to `dotPatternsToPatterns` in `Agda.T

[2019-02-11 14:58] jespercockx commented on #3525
I'm working on a fix, but it won't be ready for 2.6.0 since it required a lot of refactoring of the conversion checker.

[2019-02-11 15:02] jespercockx commented on #3500
I think this is more of a question for the mailing list than an actual bug report/enhancement request, so I'm closing this. Feel free to re-open if there is a concrete bug.

[2019-02-11 15:02] #3500 closed, assigned to nobody

[2019-02-11 15:03] #3468 closed, assigned to nobody

[2019-02-11 15:10] palkarz commented on #3554
Thanks for your answer, @jespercockx . I'm glad this **was** the correct place for this question after all. If you want to also answer the Stack Overflow question, please go ahead.

[2019-02-12 08:22] #3554 closed, assigned to jespercockx

[2019-02-12 08:54] jespercockx commented on #3538
See also the discussion in https://github.com/agda/agda/issues/3211 where this behaviour was introduced after @nad raised concerns about my (unsafe) fix.

[2019-02-12 09:12] jespercockx commented on #3491
This is a combination of two problems:
- `.unbox` is parsed as a postfix projection instead of as a dot pattern
- the LHS checker assumes that there are no projection patterns in 'nested' positions such as here

I'm not sure what to do about the former problem, maybe @andreasabel has an idea?

Meanwhile, I'll take a look if I can fix the latter problem.

[2019-02-12 09:32] jespercockx commented on #3491
It seems the problem was introduced by @andreasabel in his fix for https://github.com/agda/agda/issues/3130

That fix actually does the right thing for printing a dot pattern with a projection as its body, but the subtle thing about the current issue is that `unbox` is actually a *variable name* which just happens to shadow the projection.

[2019-02-12 09:34] jespercockx commented on #3491
At the risk of stating the obvious: in hindsight, overloading `.` to mean 10 different things was perhaps not a great idea.

[2019-02-12 09:37] gallais commented on #3491
Yep. I was planning to not only print `.(unbox)` but also raise a benign warning
advising users to NOT do things like this.

[2019-02-12 09:55] jespercockx commented on #3491
I pushed a patch to get rid of the internal error. @gallais once we can get the right thing printed by interactive case split we can close this issue!

[2019-02-12 10:15] martinescardo commented on #3535
There is also the issue that some some kinds of definitions, it is the definition and not the type of the definition that is "more important" in some sense: I thinking of things like "is a surjection", "is an equivalence", the type of equivalences, etc.

[2019-02-12 10:20] jespercockx commented on #3541
Is it a good idea to make a change like this right before the release? I would feel more confident if this could get some more testing first.

[2019-02-12 10:40] #3503 closed, assigned to jespercockx

[2019-02-12 12:04] nachivpn commented on #2946
@gallais How does one hide (even if manually) the implicit parameters of a function?

Jesper suggested module parameters, but I just wanted to check if there were other options.

The variables feature does sound very cool, but since 2.6 is not out, I'm wondering if there's a way to avoid using dev.

[2019-02-12 12:16] gallais commented on #2946
[Here is the relevant part of my sed script](https://github.com/gallais/type-scope-semantics/blob/master/doc/rules.sed#L38).

Note that it only works:

* with **Agda-2.5.2** (in 2.5.3, the latex backend's output is different)
* if your implicit telescopes have the shape `{ ... } { ... } →` (i.e. no `∀`)
* there isn't too much nesting (implicit quantifiers inside the type of implicits are hard to d

[2019-02-12 12:24] gallais commented on #3491
I now raise a warning but it somehow never reaches the toplevel. Investigating.

Edit: I'm giving up on the idea of raising a warning. This would require a lot of changes
to the emacs mode (the response to make_case inserts the clauses and then promptly
reloads the file thus hiding any warning which is produced *when* splitting but not when
loading the resulting code).

[2019-02-12 12:26] nachivpn commented on #2946
Thanks!

[2019-02-12 14:11] mietek commented on #3534
That’s not obvious at all from the user perspective.  Why shouldn’t a higher-order instance be used by instance search?

[2019-02-12 14:24] jespercockx commented on #3534
Instance resolution only searches for elements of *named types* (i.e. data or record types). The technical reason for this is that the implementation looks up the set of initial instance candidates based on the name of the type, and then tries to prune these candidates until there's only one left.

If instance search is used to find an element of type `A -> B`, it will just introduce a lambda-abst

[2019-02-12 14:56] mietek commented on #3534
I’m trying to say that from the point of view of the user of Agda, and not the implementor of Agda, this limitation seems arbitrary and unexpected.  The documentation says:

“May or may not work” is a bit frustrating.  It would be better to clearly state in the documentation, as you did just now, what are the specific cases in which the user of Agda can expect instance resolution to work or to not

[2019-02-12 15:35] jespercockx commented on #3534
Good point, I will try to improve the documentation to make it clearer.

Do you have a proposal of what Agda should do instead to find an instance of a function type? Perhaps it is some form of developer blindness, but I don't really see an alternative to the current behaviour (or rather, anything that I can think of would be very brittle and/or slow).

[2019-02-12 15:52] jespercockx commented on #3534
The problem with printing a warning for instance arguments/module parameters whose type takes an explicit argument is that there are actually valid use-cases of this: the instance will never be used in the body of the function, but using the function somewhere else will still trigger instance search (which will introduce the lambda as I described above). Printing a warning when the code actually m

[2019-02-12 17:36] mietek commented on #3534
Unfortunately, I don’t have any proposals for improvement at present.

[2019-02-12 20:02] 3abc opened #3558 "Very bad performance when filling high dimensional cubes"
In cubical mode I tried to use `hcomp` to fill a high dimensional cube. The performance is very bad.

For the [6d-cube](https://gist.github.com/3abc/b8fa06a5b3fd14db8642fbd4ec8c9cc8) it takes about `100s` to type check. But for the [7d-cube](https://gist.github.com/3abc/4f494656687215e0994e0c040c477e3d) it simply eats up more than 16 GB RAM and never ended (my computer died). Both file are python

[2019-02-12 20:07] mortberg commented on #3558
Very interesting!

Can you redo the redtt experiment with iterated path types so that we can see if it's the extension types that are helping or not? An obvious difference is that the Agda version of the 7d cube takes over 2000 arguments while the redtt one only takes about 20.

[2019-02-12 20:20] 3abc commented on #3558
I do want to try that, but I cannot find any document for redtt. Do you know any?

[2019-02-12 20:24] mortberg commented on #3558
I don't think there is any detailed documentation yet. But the Path types are defined at the top of

https://github.com/RedPRL/redtt/blob/master/library/prelude/path.red

(their `path` type is our `≡` and their `pathd` is our `PathP` type)

[2019-02-12 21:40] identicalsnowflake opened #3559 "Inference change"
[code]

The above previously type checked, but currently Agda fails to find solutions. If you uncomment either of the marked lines or the type signature for `f`, Agda will accept it, which means somehow these goals are interfering with each other, even though they both should resolve the signature for `f` to an mutually-agreeable solution.

Looking more at that first marked line, if you replace th

[2019-02-13 01:16] 3abc commented on #3558
I just did. Now it's a lot slower. 5d-cube took 60 seconds, and I expect 6d-cube to take 20 minutes and for 7d-cube maybe 6 hours. I'm running them now, the memory consumption is only about 100 MB at this moment.

So extension types do help. But cubical Agda's memory consumption is still an issue.

[2019-02-13 02:53] 3abc commented on #3558
The [6d-cube](https://gist.github.com/3abc/e3191e09bf384ea7bed2bfbf8822c2dd) for redtt is not done yet, after 100 minutes. So maybe it will take days for 7d-cube to run (given that 5d -> 1 minute, 6d -> at least 100 min, if 7d-cube takes more than 10000 min then it's about a week).

[2019-02-13 03:17] mortberg commented on #3558
I think the conclusion of this experiment is that we need extension types in Cubical Agda. These are not only great from the point of view of efficiency; they should also make the treatment of HITs a bit more canonical and elegant. Thanks for doing the benchmarks!

[2019-02-13 03:38] 3abc commented on #3558
Yeah. BTW `Defined comp6Cube (7536.535629s)`.

[2019-02-13 03:47] 3abc commented on #3558
And I can see how extension types are simpler both homotopically and combinatorially. After all assembling a 4d-cube from a 3d-base + 6 3d-sides is simpler than from 16 vertices, 32 edges, 24 faces, and 8 cells.

[2019-02-13 09:33] #3491 closed, assigned to gallais, jespercockx

[2019-02-13 09:44] jespercockx commented on #3491
Thanks!

[2019-02-13 10:06] jespercockx commented on #3534
I tried to improve the documentation to make it more explicit about when instance search will/won't work, let me know if it is clear now.

I also added a warning in https://github.com/agda/agda/commit/130977f45437e67c3a782e3969bf76362988acd9 when you have an instance argument whose type does not end in a named or variable type. I'm considering having a similar warning for instance arguments whose

[2019-02-13 10:11] jespercockx commented on #3289
Example:
[code]
Case splitting on result produces the following nonsense:
[code]

[2019-02-13 10:28] gallais commented on #3451
I suggest we stick with the more conservative implementation at least for 2.6.0.

[2019-02-13 14:48] jespercockx commented on #3289
I fixed the interactive case split and improved the message for when the user writes this nonsense manually. Again bumping to 2.6.1 for the RHS enhancement.

[2019-02-13 14:50] jespercockx commented on #3486
This is not really a critical bug and there's an easy workaround, so I'm bumping it to 2.6.1

[2019-02-13 14:52] jespercockx commented on #3534
We could consider to change instance search to *not* automatically introduce a lambda for an explicit function space. Then the rule would be much simpler for the user ('no higher-order instances with explicit function types') and we could actually raise a warning when this does happen.

[2019-02-13 15:37] jespercockx commented on #3538
Closing as working-as-intended.

[2019-02-13 15:46] jespercockx commented on #3541
I reverted the commit for now, we can revert the revert again after the release.

[2019-02-13 15:54] jespercockx commented on #3391
We're now very close to a release, there are only 5 open issues left. Thanks to everyone for the hard work!

Remaining issues:
- [x] https://github.com/agda/agda/issues/3539
- [x] https://github.com/agda/agda/issues/3537
- [ ] https://github.com/agda/agda/issues/3536
- [x] https://github.com/agda/agda/issues/1556
- [x] https://github.com/agda/agda/issues/2774

It would be great if we could get a r

[2019-02-13 16:54] jespercockx commented on #3534
I'm thinking now that maybe we *should* make this change before the release since there are many changes to instance search in this release already, so people would only have to update their code once.

[2019-02-13 17:08] asr commented on #3391
I'll list these known issues in the RC. I'm waiting for green on Travis before starting to make the RC.

[2019-02-13 17:47] phadej commented on #3369
Note: https://github.com/haskell/cabal/issues/5889

use of `die` in `Setup.hs` will prevent people from `cabal v2-install` the package.

This is easy to reproduce: in `release-2.5.4.3` or `master` branches, using `cabal-install-2.4` `cabal v2-build` will fail with

[code]

i.e. one cannot use `cabal v2-build` to even develop `Agda`.

[2019-02-13 17:52] Saizan commented on #3391
I suppose all the issues with label `cubical` should also be `not-in-changelog` for this release? Or what is the policy?

[2019-02-13 21:22] gallais opened #3562 "Functions with beta-equal types lead in one case only to unsolved meta-variables"
This one is hard to reproduce:
* the fact `_Preserves_⟶_` is defined via `_on_` is crucial
* the fact `length` is defined via `fold` is crucial

`cong` and `cong'` have the same type modulo conversion but using `cong'` in the
proof `index-lookup` leads to unsolved meta variables when using `cong` doesn't.

[code]

[2019-02-13 22:19] asr commented on #3391
Right. Please add the `not-in-changelog` label.

[2019-02-13 23:13] gallais commented on #543
Has this been fixed even when irrelevant projections are allowed?
(In which case: should we go back to considering them safe by default?)

[code]

fails with version 2.6.0:

[code]

I looked into this because I was forced to move from projections on the RHS
to patterns on the LHS to port agdarsec to 2.6.0.

[2019-02-13 23:20] greatBigDot commented on #2857
I still have this problem; `--package ieee754` doesn't help:

    Loading  Base (/home/me/Agda/minimal/src/Base.agdai).
    Agda.Primitive : no compilation is needed.
    Base : no compilation is needed.
    Calling: ghc -O -Werror -idist dist/MAlonzo/Code/Base.hs --make -fwarn-incomplete-patterns -fno-warn-overlapping-patterns
    [1 of 3] Compiling MAlonzo.RTE      ( dist/MAlonzo/RTE.hs, dist/MA

[2019-02-14 01:34] greatBigDot commented on #2857
Hold on, I just figured out what my problem was. I was using `--no-ghc-package-path` with `stack exec`. I was doing this because, in the past, `stack exec` would sometimes error out, with `cabal` telling me that `GHC_PACKAGE_PATH` is decprecated or something. Some googling (see [here](https://github.com/hdevtools/hdevtools/issues/6) and [here](https://github.com/haskell/cabal/issues/1944)) reveale

[2019-02-14 05:16] asr commented on #3247
@phadej [wrote](https://github.com/agda/agda/issues/3369#issuecomment-463297069):

Note: https://github.com/haskell/cabal/issues/5889

use of `die` in `Setup.hs` will prevent people from `cabal v2-install` the package.

This is easy to reproduce: in `release-2.5.4.3` or `master` branches, using `cabal-install-2.4` `cabal v2-build` will fail with

[code]

i.e. one cannot use `cabal v2-build` to eve

[2019-02-14 05:18] asr commented on #3369
Moved above `cabal v2-install` issue to #3247.

[2019-02-14 05:21] asr commented on #3369
We are preparing the release of 2.6.0 (see #3391) so 2.5.4.3 won't be released.

[2019-02-14 05:21] #3369 closed, assigned to asr

[2019-02-14 05:36] asr commented on #2857
Thank you for sharing your solution. Please reopen if necessary.

[2019-02-14 19:57] ice1000 opened #3564 "Guardedness with no sized types should be safe"
Currently, the `--safe` flag disables `--guardedness`. IMO `--guardedness` with `--no-sized-types` should be considered safe.

[code]

[2019-02-14 20:06] gallais commented on #3564
Note that you can write `{-# OPTIONS --safe --cubical --no-sized-types --guardedness #-}`
and Agda will be happy because `--guardedness` is turned on *after* `--safe`.

[2019-02-14 20:33] ice1000 commented on #3564
I'm aware, but that's no longer safe. I need to import this guardedness-enabled module inside a safe module (as you may know in the cubical library).

[2019-02-14 20:41] fredrikNordvallForsberg commented on #3564
Isn't this what you mean?

`a.agda`:
[code]

`b.agda`:
[code]
Both `a.agda` and `b.agda` are safe. (Note the order of the options in @gallais comment.)

[2019-02-14 20:55] HuStmpHrrr commented on #3214
I don't like the pragma idea. it will make the code much clustered in a unnecessary way. I guess assigning a bogus name is a much better idea. any chance this issue can be prioritized?

[2019-02-14 21:04] andreasabel commented on #3454
I suspect this fix broke the internal test suite.

[code]

[2019-02-14 21:24] ice1000 commented on #3564
I suppose that means I'll need to enable `--guardedness` in all user modules. Is that really what we want?

[2019-02-14 22:04] ice1000 commented on #2823
So agda will be logoed since 2.6.1?
I'm fine with Ulf's as well.

[2019-02-15 10:41] jespercockx commented on #3454
Yeah, `Aspects` no longer forms a monoid because of my hack :( I don't know how to properly fix this issue: it feels like the catchall highlighting should be kept in the list of `OtherAspects` and dropped in a later phase, but I cannot find any 'later phase' except for the elisp code (which I am not going to touch).

I will revert my patch to fix the build, could someone else who knows more about

[2019-02-15 10:43] jespercockx commented on #3454
Why does Github still not know how to deal with reverts containing [ fix #... ] in the message...

[2019-02-15 11:07] gallais commented on #3454
Given all the calls to `List.nub`, I'm trying to switch to `Set OtherAspect`.
Based on the `Ord` instance for `OtherAspect`, we ought to be able to get
`CatchallClause` first (or last, whichever works) meaning it'll hopefully get
overwritten by later aspects during rendering.

[2019-02-15 12:13] guillaumebrunerie opened #3566 "Missing name when printing type of definition of a record"
[code]
Doing `C-c C-d` in the hole above gives the following nonsense
[code]

[2019-02-15 14:19] #3454 closed, assigned to gallais

[2019-02-15 14:24] asr commented on #3454
@gallais, did you cancel the tests on Travis?

[2019-02-15 14:34] gallais commented on #3454
Yes I did because the run was successful in the PR (#3565). I don't know why travis
tries to re-run the builds after a (0-commit deep) rebase rather than merge.

[2019-02-15 14:55] jespercockx commented on #3534
I made some further changes to make the behaviour of instance search more consistent:
- Instance search is no longer run for goals that take explicit arguments
- You now also get a warning when an instance argument has an explicit function type (since now it is truly useless)
- Having a top-level instance declaration with the wrong type is no longer an error but only a warning saying that the inst

[2019-02-15 14:55] #3534 closed, assigned to jespercockx

[2019-02-15 15:45] gallais commented on #3214
Thinking out loud: could'nt we have a small language of directives to explain how
to derive name generators just like the new ['deriving via'](https://www.kosmikus.org/DerivingVia/deriving-via-paper.pdf) in ghc allows users to
quickly explain how to derive classes?

[code]

This proposal feels over-engineered but maybe it's the only way to reconcile the
fact we have contradicting constraints?

[2019-02-15 15:49] fredrikNordvallForsberg commented on #3564
I agree that the situation is not ideal, especially since we hope to make `--sized-types` and `--guardedness` safe together in the future. As far as I can see, the alternative would be to allow a known construction of false under `--safe` though, which isn't ideal either... Or do you have another proposal?

In the meantime, I updated the documentation to make it clearer that one of `--guardedness`

[2019-02-15 16:02] gallais commented on #3564
[code]

Oooh. Could ternary options (`data Flag = Default | Set | UnSet`) solve our problem
here? This way we would manage to distinguish between `{-# OPTIONS --safe #-}` and
`{-# OPTIONS --guardedness --safe #-}`!

In more details:

* `--safe` implies:

     + if `--guardedness` *and* `--sized-types` are `Set` then errorwarning + turning them off
     + otherwise make the `Default` one(s) `UnSet`

[2019-02-15 16:14] jespercockx commented on #3214
Maybe we could use reflection to let users write their own name generators. So the user would write a function `namesForType : Term -> TC (Stream String)` (or something similar) and register it with Agda using some pragma.

This would be very powerful but also very cumbersome. But then it would be easy to have multiple libraries that each provide their own name-generation strategy. Or you could pr

[2019-02-15 19:55] asr opened #3568 "cifm: exclude issues by label"
In the CHANGELOG, we don't include issues with the labels pointed out [here](https://github.com/agda/agda/blob/0dfa9820ea85aa374ff90f34f8c9bebf178efd45/HACKING.md#closing-issues). The `closed-issues-for-milestone` program should ignore issues with these labels.

[2019-02-15 20:37] #3568 closed, assigned to asr

[2019-02-15 21:50] asr commented on #3391
As preparation for the RC, I added into the CHANGELOG the [list of all closed issues](https://github.com/agda/agda/blob/e61495c7b49c86a2d20a95835fce673bd1dc9705/CHANGELOG.md) in 2.6.0 (using the `closed-issues-for-milestone` program). If there is an issue which should/shouldn't be in the CHANGELOG, please change its labels following [this](https://github.com/agda/agda/blob/463be33e6b41fb4291d6bef1

[2019-02-15 21:51] jespercockx commented on #3391
Should we include PR's in the list of fixed 'issues'? For example #3411 and #3524 are currently in the list. I would tend to not include them, or possibly include them as a separate list.

[2019-02-15 22:08] asr commented on #3391
I don't think so. We are not including *what* closed an issue but the *closed* issues. It is unfortunate that GitHub uses the same numbering for issues and PRs. The above examples were included because they have `milestone=2.6.0`. We usually don't add milestones to the PRs.

[2019-02-15 23:27] xekoukou commented on #3214
Given that ```List``` depends on the type ```A``` , the name of the first element of ```_::_``` depends on its type.

The most profound case to this is the n-product where each element can be of a different type. Now we are forced to use the same names for all n-products even when we talk about ```Car X Boat``` or
```Poem X Novel```

[2019-02-16 01:06] gallais opened #3570 "Contradictory set of flags accepted"
The following file `options.agda` typechecks just fine with the command
`agda --ignore-interfaces --safe --no-sized-types options.agda`

[code]

The problem comes from the fact that the options machinery currently
computes the effect of combining all of the options and *then* if `--safe`
is turned on checks if the resulting state is safe.

However this can lead to confusing situations where we can

[2019-02-17 05:38] asr commented on #3391
Travis is green (well, it should be green in a couple of hours), so I'm starting the procudure for releasing the RC. I'm freezing the RC in this version of master:

[code]

[2019-02-17 05:40] greatBigDot opened #3572 "Cubical constraints on endpoints should be checked after termination checking"
[code]

Say you define higher-inductive integers in the usual way, and say we add a couple of patterns for convenience:

[code]

I would expect that, when defining a function `ℤ → Y`, you would only need to specify the behavior at `PosS n` , `NegS n`, and `ζ ı`. E.g.:

[code]

This seems reasonably total to me. Shouldn't Agda be able to infer that `signum` is the identity at the endpoints of `ζ`?

[2019-02-17 09:40] gallais commented on #3572
Could you post a self-contained example? What are `1`, `-1`, `Z`, etc?

[2019-02-17 13:51] gallais commented on #3391
I think the fact that `--guardedness --safe` is not equivalent to `--safe --guardedness`
is too confusing. Given that we have a fix (#3567), I'm hoping to be able to sneak it in
before the release.

[2019-02-17 14:26] andreasabel commented on #1556
Anything left to do here?  Closing...

[2019-02-17 14:57] andreasabel commented on #3566
The nonsense gets more fantastic if we have some actual dependency:
[code]
`C-c C-d` prints
[code]
This is a haunting coming back for us from a hackish fix of #208.

Related: #2868.
And, of course, the root cause is, as so often, #434.

[2019-02-17 15:11] asr commented on #3391
Since some PRs are fixing not reported issues, we should add they to the list of closed issues in the CHANGELOG. Please add a milestone to the PR if you want it be listed in the CHANGELOG.

[2019-02-17 15:20] andreasabel commented on #3566
Without interaction:
[code]
prints
[code]

[2019-02-17 16:13] greatBigDot commented on #3572
Oops, sorry. `Z` and `S` are just `zero` and `suc`, respectively; I forgot that the standard library uses different names. I've now edited the example to use the standard names.

`1` and `-1` are builtin numeric literals that map to `Pos (S Z)` and `Neg (S Z)`, respectively. I didn't include the stuff that binds all the literals because it works just as well if you don't bother with primitives at

[2019-02-17 16:58] asr commented on #3391
I uploaded to Hackage the package candidate [Agda-2.5.4.2.20190217](https://hackage.haskell.org/package/Agda-2.5.4.2.20190217/candidate) and I tested its installation on Ubuntu with the following versions of GHC:

- 8.6.3
- 8.4.4
- 8.2.2
- 8.0.2
- 7.10.3

Could someone test the installation on macOS and Windows using the following instructions:

[code]

or

[code]

[2019-02-17 17:10] asr opened #3573 "`make fix-whitespace` fails on stack"
@phadej [reported]( https://github.com/agda/agda/pull/3563#issuecomment-464477219) the following problem:

[code]

@banacorn, I assigned you this issue.

[2019-02-17 19:57] gallais commented on #3572
Ok, I think I understand what you mean. There are actually two issues here:

* The side conditions in cubical seem to be checked rather than considered as
unification constraints that need to be satisfied. When seen as unification
problems, they could lead to some of the RHS left out by the user being solved.
It's a feature request.

[code]

* Because cubical has side conditions checked via normal

[2019-02-17 20:33] HuStmpHrrr opened #3574 "Support precedent rebind / changing the precedents in builtin library"
per https://github.com/agda/agda-stdlib/issues/624, the usable precedent range is too short, partly because builtin library has set precedents for a number of important notations.

I guess if we want to make the range larger, it either requires changing the builtin library, or Agda should allow changing the precedents of symbols that already exist.

[2019-02-18 10:39] Saizan commented on #3572
@greatBigDot If you are not giving a clause that matches `NegZ` then `signum NegZ` behaves like a new axiom for Agda. i.e. it is equal only to itself. You are right that in this case there's only one value that could lead to a valid definition of `signum` but inferring function clauses is something that would need to be implemented (see below).

@gallais That's a fairly good analysis of the situat

[2019-02-18 10:43] gallais commented on #3572
I expect unification to be able to instantiate metavariables. But here I have the
impression the constraints on endpoints are checked for equality instead.

We actually do! We use it a lot in the standard library: a `setoid` is built by
specifying the `isEquivalence` field which is enough for Agda to figure out what
the `Carrier` and `_≈_` ones should be.

Edit: [for example list with pointwise eq

[2019-02-18 10:47] gallais opened #3576 "Infer the RHS of a "missing" clause by unification"
Splitting #3572 into two issues.

The constraints cubical imposes on endpoints means that we could have a fully
specified definition by only saying what it does to paths.

[code]

[2019-02-18 12:04] Saizan commented on #3572
Oh, ok. In that case these are unification constraints as well.

The thing though is that the implementation doesn't generate a metavariable corresponding to the missing clauses, or at least not soon enough.

It does look quite nice to be able to omit `Carrier` and so on,  I guess it makes sense to do it for HITs too then.

[2019-02-18 13:04] asr commented on #3247
Fixed by 378020321a223d7057cd10b59b995ebac91c7a8b which was tested with `cabal-2.4.1.0` and all the Cabal install versions used in Travis. Thanks @phadej.

[2019-02-18 13:04] #3247 closed, assigned to asr

[2019-02-18 16:19] andreasabel commented on #3550
`C-x C-s C-c C-l` is hardwired into my hands.  It evolved from the `C-x C-s C-c C-c` needed for LaTeX.  I think the SML mode I used 20 years ago also had `C-x C-s C-c C-l`.  I do not want to rewire my brain all the time.  More rationally, I prefer "safe" key sequences that are more context-insensitive.  If there is key sequence A that works in context C and key sequence B that works in context D,

[2019-02-18 22:05] #3564 closed, assigned to gallais

[2019-02-19 00:14] 3abc opened #3577 "Efficiency of transporting across hcompU (or type families defined by pattern matching on HITs)"
I was playing with HITs and write down a simple term of type `Int` [here](https://gist.github.com/3abc/af6b1038abca071c458edf27ddbc1dab)

The term in the last line, `test`, is simple, should reduce to `pos 0` since it's the winding number of the trivial loop. However when I do `C-c C-n` and ask cubical Agda to normalize it, I got a "normal form" that spans 30k lines after 20 seconds.

[2019-02-19 09:27] andreasabel commented on #3574
I made a concrete suggestion for reassignment of fixities in #1346, suggesting a syntax like
[code]

[2019-02-19 09:33] andreasabel opened #3578 "Pattern matching unifier normalizes too much"
Pattern matching should preserve user-written types as far as possible, i.e., perform only to the minimal necessary weak head reductions.  This is important when doing proofs interactively.
[code]
The unfolding of `A` in the `test` example is clearly unnecessary.

It seems to work as long as no unification is required.

[2019-02-19 09:44] nad commented on #2837
Sorry for the late response, I've been on vacation.

At the moment the backend sends the command `(agda2-goals-action `<a list of goal numbers, in the order in which they appear in the buffer>`)` to the frontend when goals should be annotated. One possibility would be to include position information in the list.

The backend currently contains a piece of state that includes the goals:

https://git

[2019-02-19 09:54] nad commented on #2946
Here's some Haskell code I've used to remove implicit argument declarations:
[code]
It's been a while since I used this code, but perhaps it works well enough with the latest version of Agda.

[2019-02-19 10:17] guillaumebrunerie opened #3579 "Think about making duplicate BUILTIN bindings a warning"
It seems currently impossible to use the `BUILTIN EQUALITY` pragma and import `Agda.Builtin.String` at the same time, because `Agda.Builtin.String` imports `Agda.Builtin.Equality` which already has a `BUILTIN EQUALITY`. Note that `Agda.Builtin.Equality._≡_` is not even in scope in the code below so it’s annoying that it fails.

[code]
[code]
The reason I want to do that is that I would like to use

[2019-02-19 10:20] gallais commented on #3579
I can put the primitives depending on `Agda.Builtin.Equality` in `Agda.Builtin.X.Properties`
instead if that would work for you!

[2019-02-19 10:25] guillaumebrunerie commented on #3579
It would work for me, but maybe it would make it harder for other users to discover those new primitives?

[2019-02-19 10:25] Saizan commented on #3577
Thanks for the report!

The problem seems to be that `transp (\ i -> Susp' ..)` does not compute when applied to an `hcomp`. It should be a straightforward fix.

[2019-02-19 10:39] nad commented on #3451
Done.

[2019-02-19 10:39] #3451 closed, assigned to nobody

[2019-02-19 11:15] fredrikNordvallForsberg commented on #3579
Wouldn't the obvious thing be to make "Duplicate binding" a warning (that could then be turned off with `-W noDuplicateBuiltin`)?

[2019-02-19 11:17] gallais commented on #3579
@fredrikNordvallForsberg Things like `rewrite` and nat literals are assuming there's
only one BUILTIN for `EQUALITY` and `NATURAL` respectively, I believe. So this may cause
internal errors or confusing behaviours.

[2019-02-19 11:42] fredrikNordvallForsberg commented on #3579
Yeah, preparing a test case to see what will happen. I'm hoping for confusing behaviour only, which I think would be fair if you are willing to ignore the warning.

[2019-02-19 13:43] fredrikNordvallForsberg commented on #3579
Actually making it a warning seems to work mostly okay, except for some glitches with multiple warnings during imports of such warnings. But I don't think it is wise to include this change into 2.6 without further exposure, so I would suggest we go with @gallais' easy fix for now, and postpone the warning until 2.6.1.

(There are similar problems with e.g. `Agda.Builtin.Nat` importing `Agda.Builti

[2019-02-19 15:25] Saizan commented on #3577
1becd2e22feae7a0a5635b7431e68089d3ba5d98 fixed the computation rule for `transp` (with test cases).

@3abc Unfortunately this seems to make `test` very expensive to compute. The problem in particular seems to be `t`: since it's defined by pattern matching it will compute to a `comp` when applied to an `hcomp`, and since it returns a type the `comp` will reduce to a possibly fairly complex call to

[2019-02-19 16:49] mortberg commented on #3577
As `t` is a non-dependent function it would be correct to compute to an `hcomp` for the `hcomp` case.

[2019-02-19 20:42] martinescardo commented on #3551
@guillaumebrunerie What I have in mind, when using --exact-split, is recursive definitions. The way Agda is defined doesn't imply, a priori, that recursive Agda terms can be translated to Martin-Loef combinators. My use of exact split is to try to at least see (outside the system) that this is the case. The idea is that (1) exact split corresponds to pattern matching that is obtained by case-split

[2019-02-19 22:42] gallais commented on #3579
Keeping the issue open with an updated title to think about turning duplicate BUILTIN
bindings errors into warnings for a future release.

[2019-02-20 02:18] greatBigDot commented on #3576
For what it's worth, after submitting this, I've noticed that defining such potentially inferrable things as `_` results in everything typechecking (at least in cases I've tried):

    flip : Interval → Interval
    flip (eq i) = eq (~ i)
    flip a = _
    flip b = _
    -- OK

I guess that means Agda is indeed already capable of inferring this stuff (again, at least for cases I've tried) and tha

[2019-02-20 05:26] nickcollins commented on #2324
What's the status on this? I had the impression this was being worked on in 2016 but I'm having this issue today. Is there a workaround?

[2019-02-20 07:56] UlfNorell commented on #2324
The discussion has moved to #1342.

[2019-02-20 09:59] Saizan commented on #3551
My understanding is that the results about translating case trees to ML combinators assume fairly simple recursion patterns, so indeed some of what Agda accepts would not be covered by those.
The `--exact-split` flag makes sure the computed case tree matches the written clauses more closely (every clause can be read as a definitional equality), so if you keep your recursion simple enough you shoul

[2019-02-20 10:16] martinescardo commented on #3551
@Saizan Yes.

[2019-02-20 13:22] guillaumebrunerie commented on #3381
If someone runs into the same problem, note that as a workaround you can define `fst'` as
[code]

[2019-02-20 15:45] nad commented on #3214
Do we need a pragma? I think a `TC` command would suffice. (And perhaps some nice syntax for invoking `TC` commands from the top-level.)

[2019-02-20 15:50] nad commented on #3550
There is already a way to interrupt commands, perhaps we could invoke this procedure at the beginning of `C-c C-l` if an automatic highlighting command is currently running.

[2019-02-20 16:00] nad commented on #3551
I'm not sure exactly what you have in mind, but feel free to open a separate ticket for this.

[2019-02-20 16:09] nad commented on #3576
Is the idea that the omission of a clause should mean that the right-hand side is `_`? I have multiple concerns:

* How do we decide what clauses should be inserted? In this case we could have chosen `flip _ = _`.

* What if the meta-variable is not solved? Would the warning be understandable to users?

* If a clause is omitted by accident, couldn't this feature be rather confusing?

[2019-02-20 18:59] UlfNorell commented on #3214
`unquoteDecl`?

[2019-02-20 20:05] 3abc opened #3581 "Termination problems with unproblematic recursive calls in types in `where` definitions."
Consider

[code]

Agda will complain `Termination checking failed`. However clearly `proof` is applied to a term which is one top constructor less.

Changing the type of `L` to

[code]

will make the termination checker happy.

[2019-02-20 20:10] gallais commented on #3581
Note that if you inline `cong` then the error goes away.

[2019-02-20 21:25] martinescardo commented on #3551
@nad I may open a ticket, but the point above was not to require a new feature but to explain why/how I am using exact split.

[2019-02-20 23:35] greatBigDot commented on #3576
In case it wasn't clear, I'm specifically talking about when the user has defined a function over an entire cubical path. From there, isn't the behavior at the endpoints always _uniquely_ determined?

I'm just saying that if we know what `func (path i)` is for all `i : I`, then we know what `f (path i0)` and `f (path i1)` are. (And indeed, by prodding Agda a little with `_`, it seems it does infer

[2019-02-21 10:42] gallais commented on #3576
I would expect Agda to insert all of the clauses when the user performs a split.
Just like Agda inserts all of the copatterns corresponding to a record even if
some fields force other ones by unification (cf. [`Magma`](https://agda.github.io/agda-stdlib/Algebra.html#748) where `IsMagma` forces
all the other fields).

That is to say that this mechanism would only kick in when the user writes their

[2019-02-21 10:54] gallais commented on #3576
I have just realised that if we can leave out some fields when building a record
by using the `record { .. }` syntax, it is not the case for the copattern-based one:

[code]

leads to an error:

[code]

This is annoying: `record { .. }` allows one to only mention the important info
which can be crucial for concision whilst a copattern-based definition guarantees
the definition won't be unfolded ea

[2019-02-21 14:06] guillaumebrunerie opened #3582 "Error message referring to Set instead of Prop"
[code]
We get the error message
[code]
instead of the expected `Prop₁ != Prop`.

[2019-02-22 04:58] 3abc opened #3583 "Empty systems still exist in cubical agda"
After https://github.com/agda/agda/issues/3415 is closed we are supposedly not going to see empty system?

However consider this example:

[code]

Normalize `f i0 i0` in that hole I get `hcomp (λ i → empty) x`.

For your reference
[code]
it's the 2nd latest commit.

[2019-02-22 10:30] gallais opened #3585 "Allow DISPLAY to check whether a lambda is constant"
As suggested by @mietek: it would be nice to be able to declare DISPLAY rules for
the special case where a function is constant. For instance:

[code]

[2019-02-22 10:32] gallais commented on #3585
The next 'obvious' extension is to be allowed to match on things usual definitions
can't match on. E.g. `{-# DISPLAY Σ Nat (λ n → B) = ∃ₙ B #-}`

[2019-02-22 12:21] nad commented on #3214
I don't think `unquoteDecl` is nice syntax for this kind of thing, its name suggests that you actually unquote a declaration, even if (going by the documentation) this might not actually be the case.

[2019-02-22 13:59] JacquesCarette commented on #3585
Note that your two examples could be handled without explicit DISPLAY rules (which would be a 'big' feature, potentially prone to bugs): if those two definitions could be marked as 'do-not-unfold', then uses of each would more often stay as is. If there could also be a 'normalize but not past do-not-unfolds' to go along with that, that could be quite convenient.

I've actually used 'abstract' as a

[2019-02-22 15:52] mcoblenz opened #3586 "Internal error in ConcreteToAbstract.hs:2217"
Agda 2.5.4.2 reports:
[code]

when asked to compile this code:

[code]

[2019-02-22 16:05] gallais commented on #3586
I think the internal error comes from the fact that `(Δ ,ₗ l ⦂ T)` is not a pattern.
And therefore `consis@(ok {n} (Δ ,ₗ l ⦂ T))` does not make sense.

If you drop the `consis@` then you do get an appropriate error:

[code]

but the `consis@` trips Agda when trying to generate a similar error message.
(The internal error occurs [line 2421](https://github.com/agda/agda/blob/99f0a7a21f3bc2584673deec

[2019-02-22 16:10] mcoblenz commented on #3586
Aha, I wasn't sure if I could use that as a pattern. But this error message (when I avoided using that as a pattern) made me think the pattern was valid:

[code]

[2019-02-22 16:13] guillaumebrunerie commented on #3586
@gallais If `_,ₗ_⦂_` is renamed to `_,ₗ_⦂'_`, then there is no internal error (instead we get the expected "could not parse the left-hand side"), so it has to do also with the fact `_,_⦂_` and `_,ₗ_⦂_` have a name part in common, apparently.

[2019-02-22 16:20] gallais commented on #3586
Yeah, this one is pretty nic(h)e! Simplified:

[code]

[2019-02-22 16:37] asr commented on #3391
There were some changes in `master` which I want to include in the RC. I'm waiting the merge of #3571 for preparing a new RC.

[2019-02-22 17:55] gallais opened #3587 "Document module resolution's thought process in error message"
The error message

[code]

is not necessarily super clear. Especially if the user thinks they have set up their
libraries properly but have made a typo e.g. calling a file `default` instead of
`defaults` (just happened tonight), or having defined an `project.adga-lib`
instead of `project.agda-lib`.

It would be nice if Agda could document its thought process. Things we may care
about:

[code]

[2019-02-22 19:42] mortberg commented on #3583
This is the expected behavior. As discussed in the PR we need to impose a "validity" constraint on systems in order to never get any empty ones. The validity constraint says that a system has to be specified by a classical tautology. In your example the formula is `i /\ j` which is not a tautology and the system is hence invalid. The invariant that we do have is that if we start with a valid syste

[2019-02-22 21:05] 3abc commented on #3583
Does this constraint mean that, if we think of the system as in a Boolean algebra instead of a de Morgan algebra, it always evaluate to `i1`? i.e. `i ∨ ~ i` or `i ∨ ~ i ∨ j` is valid and `i ∧ j` is not? So if at least two sides of a cube is included when we do `hcomp` then there will be no empty systems.

[2019-02-22 21:20] mortberg commented on #3583
Exactly! The inspiration comes from Def 12 of https://www.cs.cmu.edu/~cangiuli/papers/ccctt.pdf

[2019-02-22 21:44] 3abc commented on #3583
I feel like such a check will make `hfill`, `comp` and `fill` harder to define? I'm not sure if the systems in their current definition are guaranteed valid. The only thing I can think of is currently
`comp (λ i → p i) (λ _ → empty) (inc a)` is the same as `hcomp (λ i → empty) (transp (λ i → p i) i0 a)`, not sure how this will work out if a validity check is imposed.

[2019-02-23 02:45] rwe commented on #3579
I was about to make a very closely-related issue so I guess I'll comment on this one. The limitation of a single binding for each built-in seems counterintuitive to me: it's a similar sort of surprise as if Agda were to allow only a unique binding for other values…(e.g. "Can't set `y = 0` because `0` is already bound to `x`!")

This came up for me because I was trying to re-use some utilities from

[2019-02-23 07:24] #3573 closed, assigned to banacorn

[2019-02-23 07:26] UlfNorell commented on #3579
It's more like *"Can't set `x = 1` because `x` is already set to `0`"*. The builtins are used by the type checker in lots of places and it's not clear how allowing multiple bindings would affect that (how would the type checker know which one to pick?, and what are the consequences of picking different ones at different times?). For instance, reflection needs to know what the builtin list type is

[2019-02-23 07:27] phadej commented on #3573
Thanks!

Sent from my iPhone

[2019-02-23 07:47] #3586 closed, assigned to andreasabel

[2019-02-23 09:34] gallais commented on #3579
@erydo [As far as I can tell](https://github.com/HoTT/HoTT-Agda/search?l=Agda&q=BUILTIN) HoTT-Agda is not using anything exotic. So they could
re-export the content of the appropriate `Agda.Builtin.X` (potentially after renaming
some definitions) and that should make it compatible with the prelude & the stdlib.

I would have sent a PR myself but I can't seem to build the project.

[2019-02-23 11:03] andreasabel commented on #3578
I am afraid this regression was introduced by the new unifier released with 2.5.1.

[2019-02-23 16:19] guillaumebrunerie commented on #3579
@erydo @gallais The HoTT-Agda library hasn’t been given much love recently, so it indeed doesn’t build with the latest version of Agda anymore. I believe that the last version of Agda it was used with did not bind BUILTIN EQUALITY in the builtin files, so that’s why HoTT-Agda does it, but it should indeed just use Agda.Builtin.Equality now.

[2019-02-23 18:18] rwe commented on #3579
@guillaumebrunerie @gallais

That makes a lot of sense for why it is that way, thank you for the background!

The HoTT build issue is tracked here: https://github.com/HoTT/HoTT-Agda/issues/51 though is unfortunately beyond my understanding to help much with it. But did link it to the root cause and some other work towards its fix.

[2019-02-23 18:18] rwe commented on #3579
@UlfNorell Your explanation is starting to make sense to me. I might have been confusing my expectations between "builtins" with "primitives".

When I saw "builtin" or "primitive", I read: _for this symbol, augment it with some opaque definition or additional constraints/debug info/optimized implementation/etc provided by the compiler implementation itself_. If I now understand correctly, "builtin

[2019-02-23 19:11] #3578 closed, assigned to andreasabel

[2019-02-23 19:20] andreasabel commented on #3578
Fixed by not keeping `UnifyState` in reduced form, rather reducing lazily when we need it.

[2019-02-23 19:56] rwe commented on #3579
Ok, to answer my own question a little bit, one example of a different binding that I see is:

HoTT
[code]

vs the std-lib https://github.com/agda/agda-stdlib/blob/4a3745d095f3774165c354d7ea8e23d12b109267/src/Debug/Trace.agda
[code]

That seems like a fairly specialized case of instrumentation for debugging, but looks valid. Given the concern that builtins must be globally self-consistent within t

[2019-02-23 20:28] gallais commented on #3579
Note that some users want to both:

* declare their own BUILTINs for some types (these declarations are conflicting with the stdlib)
* use the parts of the stdlib which do not depend on these BUILTINs

Example: https://github.com/agda/agda-stdlib/issues/393

Note also that some BUILTINs do not have a fixed type. EQUALITY for instance supports (among other things) all of the following:

[code]

[2019-02-24 07:56] #3457 closed, assigned to andreasabel

[2019-02-24 08:00] andreasabel commented on #3457
Fixed both problematic error messages.
1. Giving a more specific error in case you try to use `_` or a qualified name.
2. Not reusing the same hash-identifier in the parser makes this problem go away.

[2019-02-24 08:08] andreasabel commented on #3536
One way to fix this would be to store the split tree for the second invokation of the case tree compilation.  But I do not understand why we compile twice, once _without_ and once _with_ forcing translation on.  Why not always do the forcing translation first, and then generate the case tree from that?

[2019-02-24 10:19] gallais commented on #3579
Makes sense. The incompatibility between agda-prelude and agda-stdlib is the reason
why we introduced `Agda.Builtin.X` files IIRC.

[2019-02-24 18:42] rwe commented on #3579
Thank you for the examples @gallais!

It seems that the compiler must expect _some_ consistent type for those builtins, doesn't it, otherwise it wouldn't be able to use them? (At least in that: "the type has a single explicit parameter and a single dependent parameter." Or however that's correctly phrased).

Doing some digging, some aspects of those builtins like equality/refl appear to be enforce

[2019-02-24 18:54] ghost commented on #2043
It feels really unfortunate to me that solving the issues with this proposal and trying to implement it is not being actively pursued.

To me, it feels like a noticeable bore about writing in Agda is the boilerplate of worrying about level‐genericity and making functions level‐polymorphic.

If I understand correctly (and I’m no expert), with this proposal, one would be able to write just `id : ∀ {

[2019-02-24 19:07] jespercockx commented on #2043
FYI, upcoming in the next version of Agda (2.6.0) is a new feature called *automatically generalized variables*, which can be used to hide the worst aspects of Agda's level polymorphism. For example, you can (soon) write:
[code]
Behind the scenes, `id` still has the same type as before (`id : ∀ {ℓ} {A : Set ℓ} → A → A`). This doesn't fix the fundamental problems with level polymorphism, but it doe

[2019-02-24 20:18] favonia commented on #2043
I hope you would feel it is less weird when you consider cumulativity. For example, if the same argument (or parameter in a single function definition) is used as a type in the first universe in one place and as a type in the second universe in another place, it is simply a type in the first universe with (implicit) cumulativity in action at the second usage. Intuitively, the argument has some fix

[2019-02-25 08:22] Saizan commented on #3583
@3abc You can replace uses of `hcomp` with `ghcomp` if your system is not known to be valid. as described in #3415.

[2019-02-25 08:46] Saizan commented on #3581
I don't think this is especially related to hits, as naturals are enough to trigger this:

e.g. one of the `foo n` is marked at problematic in the type of Z. Maybe the lambda is causing a problem?

Recursive calls in types seem more fiddly than in terms though.

[code]

@3abc Fortunately you can use `let .. in ..` instead of `where` to avoid this.

[code]

[2019-02-25 09:37] andreasabel opened #3588 "Refine suggests overloaded constructor which is not in scope"
Refine introduces an unqualified constructor which is rejected by reload or give.
[code]
Seems like the printer and scope checker do not agree.

[2019-02-25 10:36] andreasabel commented on #3588
Similar problem: #2873.

The comment (dating April 2007) for the printer of abstract names is slightly worrying... ;)
https://github.com/agda/agda/blob/d058070b09b3e50572a2a7b651019821c3d07f0e/src/full/Agda/Syntax/Translation/AbstractToConcrete.hs#L197-L206
But luckily this unsafe qualification dropping does not seem to be used in our situation.

Debug output when invoking `refine`:
[code]
I don't

[2019-02-25 17:23] gallais commented on #3209
Here is my current understanding of the situation:

* `A⁺` is `B._.A⁺ Nat` internally
* `B._.A⁺` gets reverse-looked up to `A.A⁺` internally
* case splitting works on `A.A⁺`
* it generates the potential pattern `A.A⁺.a`
* inverse lookup of `A.A⁺.a` fails to find `a` (or even `A⁺.a`) because they are not actually equivalent
* Agda gives up and returns the out of scope identifier