[2016-06-13 14:23] Blaisorblade commented on #2009
@nad: While refactoring this, there's a question on how to refactor derived instances of `Monoid`.
For instance:

[code]

One could also generalize to `instance Semigroup c => Semigroup (WithArity c) where` (and replace `mappend` with `(<>)`), but IIUC since `Semigroup` isn't a superclass of `Monoid`, the new constraint might exclude some `Monoid`s that weren't converted to `Semigroup`s yet. So fo

[2016-06-13 14:50] #2027 closed, assigned to andreasabel

[2016-06-13 16:11] identicalsnowflake opened #2035 "Matching on string causes solver to fail with internal error"
[code]

Go to the hole and execute `C-c C-a` to solve. Agda says `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/Auto/Convert.hs:624`

[2016-06-13 17:10] asr commented on #2023
In a big project like Agda, I would like to use the `fno-code` option which (from the [documentation](http://downloads.haskell.org/~ghc/8.0.1/docs/html/users_guide/phases.html#ghc-flag--fno-code)):

This option really speeds up compilation, but I cannot use this option because it is incompatible with TemplateHaskell.

[2016-06-13 17:15] Blaisorblade opened #2037 "Make stable-2.5 the default branch"
Could we consider making `stable-2.5` the current default branch? Then PRs would be opened against that automatically. The only possible downside is IIRC that issues would be marked as fixed by GitHub as soon as their bugfix (annotated as such) lands in `stable-2.5`, while now you merge to merge into `master` — but neither will ensure the bugfix is in both branches.

By now I can deal with that (t

[2016-06-13 17:17] UlfNorell commented on #2023
Do you have this working now? Aren't we already using Template Haskell for stuff?

Anyway this particular use of Template Haskell could probably be ifdef'd away for `-fno-code`: just replace `gitVersion` with `Nothing` when compiling with `-fno-code`.

[2016-06-13 17:20] asr commented on #2023
No.

[2016-06-13 18:33] Blaisorblade opened #2038 "Try reducing use of TemplateHaskell?"
Since @asr has various concerns about using TemplateHaskell, and it does not play nice with other tools, I thought the discussion about it should have a proper place.
1. It seems that reducing use of TemplateHaskell has advantages, whether it's removed completely or not. If so, one could gradually reduce
2. TemplateHaskell slows compilation. OTOH, Agda uses TemplateHaskell for test discovery _insi

[2016-06-13 18:35] Blaisorblade commented on #2023
Right now, my bigger issue with Template Haskell is recompilation checking — `Version.hs` should be rebuilt when there's a commit. I'm tempted to add `-fforce-recomp`, but I'm trying to use `addDependentFile` to fix this properly.

Frankly, I could be fine with generating Haskell sources in a low-tech way from the `Makefile` — that would ensure recompilation (for when using the `Makefile` at least

[2016-06-13 19:13] #2022 closed, assigned to Blaisorblade

[2016-06-13 19:14] Blaisorblade commented on #2022
Closed, as this was fixed by 5860acd78df5f80f5c179319bfcff09233dfebf3 (oddly enough).

[2016-06-13 19:43] asr opened #2039 "Missing &&s on Travis"
Something is wrong with Travis, [this](https://travis-ci.org/agda/agda/jobs/137199404#L542) error had to stop the job.

It is necessary to add the missing `&&`s. I also suggest don't use the multiline YAML string `|`  (see https://github.com/agda/agda/commit/7b39b0ac74750dd93e24cd73153d3f38d46b682a#commitcomment-17838999)  for keeping simple the configuration file.

@Blaisorblade I assigned you th

[2016-06-13 22:04] andreasabel commented on #2037
I think the rationale behind leaving `master` the default is to have people beta-test the latest features.
However, now, do we have anything on `master` at all which is not on `stable`?

[2016-06-13 22:05] andreasabel commented on #2038
I am all for removing/reducing TemplateHaskell.

[2016-06-13 23:24] Blaisorblade commented on #2034
Can't comment on the bug, but let's press <kbd>y</kbd> on that page to get a [permalink](https://github.com/effectfully/Generic/blob/120d1a7bc518bc944ab08e2bc054ceefc4d10323/Examples/Fail.agda), and then no archive should be needed (unless you plan to wipe out the repo, but I guess not?)

[2016-06-13 23:48] Blaisorblade commented on #2039
Thanks. Testing https://github.com/Blaisorblade/agda/pull/6 for this.

[2016-06-14 00:17] asr commented on #2039
Great! Thanks!

[2016-06-14 00:46] Blaisorblade commented on #2009
The next issue is `MonadFail`. This is going to be harder, because this can find actual issues — some monads can't implement `fail` well. Luckily, this will also take a longer time: https://prime.haskell.org/wiki/Libraries/Proposals/MonadFail

For instance, the first warning I got looked a `MonadFail Identity` instance (which doesn't exist), required because of a non-exhaustive pattern match in th

[2016-06-14 02:32] effectfully commented on #2034
@Blaisorblade, no, I don't plan.

[2016-06-14 02:40] WolframKahl commented on #2026
The language change
- Projection parameters [Issue #1954]

means that, for now, I won't be able to test master or even stable as long as I want to be compatible with a released version...

Is there already a timing goal or estimate for 2.5.2?

[2016-06-14 05:05] UlfNorell commented on #2037
Right now `master` and `stable` are pretty much the same, but that might not be true in the future. Aside from the fact that fewer people would use `master`, a problem I see with making `stable` the default is that if there's an issue on `master` it won't auto close since the commit will never end up on `stable`.

[2016-06-14 05:18] UlfNorell commented on #2009
I guess there are two choices:
- Turn into `__IMPOSSIBLE__` as you suggest, or
- use a lazy match (`~pat`)

I guess it would depend on how sure we are that the case is impossible.

[2016-06-14 05:20] UlfNorell commented on #2026
Nothing concrete, but hopefully not too long after summer.

[2016-06-14 06:52] UlfNorell commented on #2026
Added fix to #1967 to `2.5.1.1`.

[2016-06-14 07:07] UlfNorell commented on #2026
And #1974.

[2016-06-14 07:48] nad commented on #2009
I don't know.

I don't think we should use lazy patterns.

[2016-06-14 08:01] nad commented on #2023
I don't think we should make it harder to build Agda. If you type either `cabal install` or `make`, then Agda should be installed (assuming that the necessary dependencies are available).

[2016-06-14 08:04] andreasabel commented on #2027
Now the pattern variables of lhs and rhs of a pattern synonym declaration have to match exactly (no unbound variables in either direction).

[2016-06-14 08:06] Blaisorblade commented on #2009
Indeed: lazy patterns would make for bad bug reports. But that's already possible in principle for such matches — do you recall it happening?

[2016-06-14 08:13] nad commented on #2034
Is this issue related to #1322?

[2016-06-14 08:18] nad opened #2041 "Untyped termination checker does not see size relation of lambda-bound size variable"
Agda accepts `accepted`, but not `rejected`:

[code]

Doesn't the size solver see that `j` is less than or equal to `i` in the right-hand side of `rejected`?

[2016-06-14 08:29] andreasabel commented on #2018
I wonder if that ever worked or which commit made it fail...

[2016-06-14 08:36] nad commented on #2009
We typically try to use `__IMPOSSIBLE__` when there is a risk that the code might crash. Maybe you can prove that the code won't crash, but are you sure that later changes to the code base won't invalidate your proof?

[2016-06-14 08:43] nad commented on #2018
With Agda 2.3.2.2:

[code]

With Agda 2.4.0.2:

[code]

[2016-06-14 08:46] effectfully commented on #2034
@nad, there is [a higher-order instance](https://github.com/effectfully/Generic/blob/120d1a7bc518bc944ab08e2bc054ceefc4d10323/Property/Eq.agda#L12):

[code]

but changing it to

[code]

doesn't affect the error. I can update the repo if this may help.

[2016-06-14 09:33] Blaisorblade commented on #2037
Fair enough — I had missed that the default branch is also the one shown to users. If people have ideas we can keep discussing, but I guess I should close for now.

[2016-06-14 09:33] #2037 closed, assigned to nobody

[2016-06-14 12:40] asr commented on #1942
The issue was closed by GitHub after #2030 was merged. I'm reopening it.

[2016-06-14 12:44] asr commented on #2038
@Blaisorblade thanks for bring up it to discussion.

[2016-06-14 12:49] andreasabel commented on #2018
Both point to the fact that the named argument {A = B} was not accepted, only the error message has changed (I remember improving the error messages at some point).  So either the problem here was introduced earlier, or this was never handled correctly.

[2016-06-14 12:55] andreasabel commented on #2041
Unfortunately, the call-graph extraction in the termination checker is untyped, so it does not see a relation between i and j if j is introduced by a lambda-abstraction on the rhs (even if its type says so).
This is a defect of the termination checker rather than in the size solver.

[2016-06-14 13:08] asr commented on #2038
How ironic coming from the person who started using Template Haskell for 2) in the OP :-)

[2016-06-14 13:09] andreasabel commented on #1963
My implementation is now testable, please have a look at branch `postfix-projections`.

[2016-06-14 13:18] andreasabel commented on #2038
Ah, indeed. :-)

Maybe we should move all tests outside of the Agda library, then the Agda library does not depend on TH just for creating boilerplate quickcheck test collections.

The problem with moving the tests to the outside is that we then have to export all functions we want to test (even if they are just for internal use).  Seems to be a limitation of Haskell's module system that there are

[2016-06-14 13:38] Blaisorblade commented on #2038
+1.

Ah, that's a good point, and I think that could be _one_ reason for all the `Internal` modules around Hackage. (Disclaimer: I am _not_ an expert on the Haskell ecosystem though).
Documenting them as `Internal` is considered acceptable IIUC, though it's certainly not perfect. Also, it seems using `Agda` as a library for external clients is not the current primary use case — and `Internal` modu

[2016-06-14 13:55] Blaisorblade commented on #2039
#2039 (4479b621ebbf93b36892c03cbf814bb090765d61) is merged, now also in master, so this can be closed.

[2016-06-14 13:55] #2039 closed, assigned to Blaisorblade

[2016-06-14 14:01] phile314 commented on #2038
If the tests were moved to the testsuite, the QuickCheck dependency could also be moved from the library to the testsuite. This would speed up the build for people who just want to install Agda.

About a year ago, I was also considering integrating the QuickCheck tests with the tasty test runner using https://hackage.haskell.org/package/tasty-quickcheck , but this only makes sense if the tests are

[2016-06-14 14:04] Blaisorblade commented on #2009
Now that #2036 is merged and the `-Wmonoid` part is closed, I'm tempted to separate `monadfail` separately—maybe a separate issue? I'd maybe unassign myself for now, and I'm not sure this should be planned for the 2.5.2 milestone.

Unless one can convert all instances to `__IMPOSSIBLE__` blindly — then at least I have the competence to take care of this.

One thing I forgot is that one can _alread

[2016-06-14 14:05] Blaisorblade commented on #1942
Now that #2017 is merged I'm tempted to close this for now, since OP @andreasabel agreed with the list of extensions.

Things like GADTs & c. should probably also be added, but separately.

[2016-06-14 14:08] nad commented on #2018
I suspect that this code has never been accepted.

If you replace `R {A = B}` with `R {A₁ = B}`, then Agda 2.3.2.2 still rejects the code, but Agda 2.4.0.2 accepts it. Thus the situation was made worse between 2.3.2.2 and 2.4.0.2.

[2016-06-14 14:18] UlfNorell commented on #2009
Not really. It'll just say `Pattern match failure at File:Line` instead of `Internal error at File:Line`. But I was only suggesting lazy matching in cases where you can see locally that it will match.

[2016-06-14 14:21] nad commented on #1963
Can you please document the reason for adding postfix projections?

All other applications in Agda are prefix (if you do not use operators or syntax declarations). Why did you decide to use postfix notation for projections? (My guess: Because then the clause starts with the defined symbol.)

Isn't the grammar (more) ambiguous now? How do you distinguish between postfix projections and dot patterns

[2016-06-14 14:32] Blaisorblade commented on #2009
Sure — we're just unsure how reliable that is and whether that stays true in evolution — of course you can be careful enough.
But if you always get `File:Line`, the issue becomes only cosmetic, and about perceived quality... I instinctively distrust programs with "Pattern match failure", even though I see it's a bit irrational. (`__IMPOSSIBLE__` does not inspire confidence either but for some reas

[2016-06-14 14:49] nad commented on #2009
With `__IMPOSSIBLE__` you get "Please report this as a bug". I guess it would be possible to include this message also for pattern match failures, but I don't think it's done at the moment.

[2016-06-14 15:39] asr commented on #2026
It seems then that stable is not really stable (whatever it means). We are approaching in the stable branch to a situation similar to the one before 2.5.1, where it was difficult to release from the master branch because is was too experimental.

[2016-06-14 15:41] #1942 closed, assigned to Blaisorblade

[2016-06-14 16:12] UlfNorell commented on #2026
I wouldn't say that. It's reasonably stable, but not so stable that I'd be comfortable releasing it at the drop of a hat. There aren't any experimental features on it that are not suitable for release, it's just that we put a lot of new features on it very recently so now is the best time to release.

You can't have both _"always ready to release"_ and _"has new features"_. Any new features, howev

[2016-06-14 17:57] Blaisorblade commented on #2026
I don't mean to "well, actually" you (OK, I am), but that's not entirely true, if you have (quite) some resources to invest (but no, I'm not volunteering those :-) ). You _can_ do (much) better. The idea behind continuous integration and TDD is that it is worthwhile to do exactly that. But since I'm sure you don't want to spend your lives on testing, maybe you want to look more at _fuzzing_ — whic

[2016-06-14 18:36] mietek commented on #2026
This seems off-topic, so I’ll be brief. [afl](http://lcamtuf.coredump.cx/afl/) is a great example of the practical application of fuzzing in the industry.

[2016-06-14 22:33] favonia opened #2043 "Experiment prenex (ML-style) universe polymorphism with typical ambiguity and implicit cumulativity"
This is a feature request. I wish the algorithm in [Type checking with universes](http://www.sciencedirect.com/science/article/pii/030439759090108T) or [Universe Polymorphism in Coq](http://web.emn.fr/x-info/ntabareau/papers/universe_polymorphism.pdf) could be implemented in Agda. I believe it has all the benefits of `--type-in-type` while being consistent, and thus greatly simplifies the coding.

[2016-06-15 05:34] andreasabel commented on #1942
Thanks, Paolo!

In the end, the `deriving` extensions did not make it into the patch, like

[code]

I am not fully clear why they are excluded.  We use them quite frequently.  Does anything break if we turn them on globally?

[2016-06-15 05:47] andreasabel commented on #2038
A bit of a summary:
So, we would want to move the tests outside of the Agda library for the following reasons:
- reduce the dependency on TH
- remove the dependency on QuickCheck
- slightly faster build

The downsides are:
1. we have to drop the export lists (not a big downside maybe, they mostly annoy me)
2. we will get a lot of crap in the haddockumentation

Re 2.: At the moment, we have no nice

[2016-06-15 06:20] andreasabel commented on #2043
We discussed universe cumulativity again at the last Agda meeting.  What we need to get it is a solver that combines higher-order unification with level constraint solving.  Since we have explicit level quantification (Coq does not have this), we need to solve the following problem.
- Level metas (X,Y,Z) live in a context of level variables (x,y,z...).
- Level expressions are made up from level va

[2016-06-15 06:27] andreasabel commented on #1963
Reasons for postfix projections:
1. Postfix projections (as copatterns) work nicely with extended-lambda notation, prefix projections do not fit there.
2. Postfix projections are prevailing in programming languages (e.g. the whole OO-world, but also Pascal, ML, ...).
3. Postfix projections harmonize with the flow of type information in bidirectional type-checking (and correspond to Agda's internal

[2016-06-15 07:13] UlfNorell commented on #2034
Making `x` implicit shouldn't affect things so that's no surprise. As far as I can tell it is the same problem as #1322. Or rather, it's the same scenario, but the difference is that your example should actually work.

When faced with an instance problem `(x : A) -> B`, the solver should stick `x` in the context and try to find an instance for `B`. This is what you need in this example and what's

[2016-06-15 07:33] UlfNorell commented on #2034
I believe the problem has to do with the instance goal being unknown the first time we look at the problem. Here's a scaled down test case (similar to the one in https://github.com/agda/agda/issues/1322#issuecomment-155737183):

[code]

[2016-06-15 07:54] Blaisorblade commented on #1942
Nothing should break but I haven't tried, that's just because the last
specific comment on them was an objection, and I've started from
uncontroversial stuff. But I don't buy the objection, people aren't
omitting instances just because they need extensions for them.
However, GeneralizedNewtypeDeriving was not type safe (because of
interaction with GADTs), until they added roles in GHC 7.8 simply t

[2016-06-15 08:00] Blaisorblade commented on #2038
Note part of the reexporting can be done in the same library, with Foo
reexporting stuff from Foo.Internal; most users should not look at its
Haddock page, only at Foo's one. IIRC Haddock repeats docs for reexports.
This would prevent the regression in the Haddock output at a modest cost.
I agree with everything else.

(EDIT: remove misformatted quote).

EDIT2: ah, just seen your Haddock issue. Ex

[2016-06-15 08:19] UlfNorell commented on #1322
The fix to #2034 also fixes the internal error above, giving you the same failed instance search as the OP.

When looking for a goal of function type, instance search sticks the argument in the context and searches for an instance of the target type. In the example above this fails because the `n == zero` argument that's added to the context when search for an instance of `n == zero → ⊥` isn't eli

[2016-06-15 08:20] #2034 closed, assigned to nobody

[2016-06-15 08:29] #1322 closed, assigned to nobody

[2016-06-15 08:33] UlfNorell opened #2044 "Better diagnosis for failed instance search"
Currently it's quite hard to figure out why a particular instance problem failed, since the only information you get is the goal type. Here's a trivial example

[code]

In this case it would be nice to know that it tried the `I` instance but rejected it because it couldn't find an instance of `C`.

Related: #1322

[2016-06-15 08:58] UlfNorell commented on #2026
Random testing might work quite well to catch internal errors in the module system, but it would be a non-trivial research project to generate random programs that would have any chance of hitting the interesting corners of type checking or unification. Not to mention that many (most) bugs are of the form "_This should type check but doesn't_" or "_This shouldn't type check_" which would require a

[2016-06-15 09:00] UlfNorell commented on #2026
Added #2034.

Once the Travis job completes I'll start the release procedure.

[2016-06-15 11:32] favonia commented on #2043
Personally I am happy if the implementation, at least as a first cut, ignores all the explicit universe levels. The universe level assignment then becomes purely an elaboration process, and the solver is available as mentioned in the papers. The arguments for dropping (or just ignoring for backward compatibility) the current explicit universe levels are:
- We still have universe polymorphism, and

[2016-06-15 12:08] asr commented on #2026
There are guides for the releases process (master/stable and RC/final) in the notes directory.

[2016-06-15 12:16] UlfNorell commented on #2026
Yeah, I found them. Since it's just a few bug fixes I was thinking we could skip the release candidate and go straight for hackage.

[2016-06-15 12:17] asr commented on #1322
Since #2034 has 2.5.1.1 milestone, I assigned the same milestone to this issue.

[2016-06-15 12:20] andreasabel commented on #2043
How do you handle this situation in your approach that drops all explicit levels?

[code]

[2016-06-15 12:22] asr commented on #2026
I disagree in skipping the RC.

[2016-06-15 12:23] asr commented on #2026
I could build both 2.5.1 and 2.5.1.1 with GHC 8.0.1.

[2016-06-15 12:26] asr commented on #2026
I found the following error on a fresh release-2.5.1 branch:

[code]

[2016-06-15 12:42] UlfNorell commented on #2026
Fair enough.

That's weird. I don't:

[code]

[2016-06-15 12:55] asr commented on #2038
Instead of drop the export lists, we should add the required entities.

[2016-06-15 13:19] asr commented on #2026
I guess we are using different "versions" of `fix-agda-whitesapace`.

[2016-06-15 13:27] asr commented on #2026
The latest commit (https://github.com/agda/agda/commit/56c46b34ada7e3bde0a4a4eaa166aee12de7a12e) modifying `FixWhitespace.hs` added the .rst files.

[2016-06-15 13:55] UlfNorell commented on #2026
Right. Since it works with the `fix-agda-whitespace` that's actually in the `2.5.1.1` release I see no reason to take action.

[2016-06-15 14:00] asr commented on #2026
I agree.

[2016-06-15 14:08] asr commented on #2026
I saw you pushed https://github.com/agda/agda/commit/7b0da97a53b2ef5e3799565a07b56285c1242f03. Are you planning to add the "new" support for GHC 8.0.1 in the CHANGELOG?

[2016-06-15 14:14] UlfNorell commented on #2026
I hadn't crossed my mind, do we usually do that?

I announced the release candidate, so I'll guess we'll give it a few days before pushing it to Hackage.

[2016-06-15 14:21] asr commented on #2026
Yes.

[2016-06-15 14:25] UlfNorell commented on #2026
Ok, fixing...

Done (a927b9c74a89d35037295d3287052d8724206338).

[2016-06-15 14:31] UlfNorell commented on #2026
RC tested with
- Mac OS X (10.10) and ghc 7.6.3, 7.8.3, 7.10.3, and 8.0.1
- Windows 10 and ghc 7.10.3.

[2016-06-15 14:43] asr commented on #2026
Also tested on Ubuntu 12.04 and GHC 7.10.3, 7.8.4 and 7.6.3 via Travis.

[2016-06-15 14:45] asr commented on #2026
I just run the test-suite without problems using GHC 8.0.1. I will add this version of GHC to Travis.

[2016-06-15 15:02] UlfNorell commented on #2026
You'll need to revert c00995d0bc (remove test-suite from cabal file) to get the Travis build to pass again.

[2016-06-15 15:11] asr commented on #2026
Please do it. I'm fixing hTags with GHC 8.0.1 on this branch.

[2016-06-15 15:23] UlfNorell commented on #2026
Ok, done. I cancelled your Travis job.

[2016-06-15 15:44] asr commented on #2026
Thanks!

[2016-06-15 15:59] asr commented on #2026
The Travis tests using GHC 8.0.1 are running.

[2016-06-15 20:37] favonia commented on #2043
The idea is to have "schematic terms with level variables" and "sets of constraints on level expressions" separately. Quantifiers over universe levels are separated from pi types in the type theory. Each term in the surface syntax is elaborated into a scheme with constraints, and type checking is done against schematic contexts where each "type" in the context is a schematic term.

There are many

[2016-06-16 06:37] andreasabel commented on #2043
You assume no relationship between `b` and `b'`. Should not there at least be a constraint `b' >= 1`?
This would also constrain the variable `a'`, as they are both equal to `c`.
Why should a level variable belonging to `E0` be affected by the independent declaration `E1`?

I think the above situation, and Agda's situation in general, is **not** covered by the papers you cite.  We need an algorithm

[2016-06-16 07:04] favonia commented on #2043
- Yes, there should be a constraint `b' >= 1`. I edited the post.
- No, `E0` and `E1` will receive different copies of `L`, one copy for each. I was not sure when the fresh variables are generated, but `c` and `d` are essentially bounded. We can generate fresh variables on the fly when we are checking `E0` and `E1`, or that we can make copies of `L` distinct after checking the entire module. In ei

[2016-06-16 07:28] favonia commented on #2043
Another way to state the idea is that, universal polymorphism in Agda can be designed as type polymorphism in Standard ML or (core) Haskell which must be in the prenex form. We can avoid higher-order unification because all generated constraints can be reduced to conjunctions of the following forms:
- `a >= b`
- `a = b + 1`
- `a = 0` (if we care about fixed levels)

whose solvability can be checke

[2016-06-16 10:23] nad commented on #1977
The operator `[_]` is only included in the grammar in the qualified form `M.[_]`. I've fixed the problem by printing `M.[_]` instead of `[_]` in the error message. However, one might also want to consider excluding the operator from the grammar, to make grammars smaller and error messages shorter. Currently the operator is included because `flattenScope` includes every name that is qualified by `M

[2016-06-16 10:34] #1977 closed, assigned to nad

[2016-06-16 11:27] andreasabel opened #2045 "Cannot instantiate size meta in pattern lambda match"
[code]

[2016-06-16 11:52] andreasabel commented on #2045
agda-2.4.2.x reports instead

[code]

[2016-06-16 12:09] andreasabel commented on #2045
It helps to call the size solver before extracting the extended-lambda auxiliary function.

[2016-06-16 12:10] #2045 closed, assigned to andreasabel

[2016-06-16 14:43] nad opened #2046 "New handling of module parameters breaks size solving"
The following code, which is accepted by Agda 2.5.1, is rejected by the current development version:

[code]

Error message:

[code]

Note that `i` and `Unused` do not even have the same type.

The code is accepted if the unused argument `Unused` is removed from the final module's telescope.

Bisection suggests that the bug was introduced by @UlfNorell in the commit "[ refine param ] allow module

[2016-06-16 14:58] favonia commented on #2043
Let me use `{a,b,c...}.e` (a scheme with bound level variables `a`, `b`, `c`, ...) to summarize in clear notation the schematic terms, schematic types and schematic constraints in the example code. For a scheme `e` the expression `e{a,b,c...}` is an instance of `e`. This time I deliberately use the same variable names for bound variables.
- `D0` refers to a (schematic) data type of (schematic) typ

[2016-06-16 15:25] andreasabel opened #2047 "Printing parameter-refinement extended-lambda"
[code]

reports

[code]

[2016-06-16 15:28] andreasabel commented on #2047
Crashing code is in patch https://github.com/agda/agda/commit/a4c136441511dbaffb653c6eb690def7efdff746.

Agda-2.4.2.5 gives proper error:

[code]

[2016-06-16 15:31] andreasabel commented on #2047
Here is a variant, which also crashes, but with a different internal error:

[code]

gives an internal error in Agda.Utils.List.(!!!).

[2016-06-16 16:08] andreasabel commented on #2047
Actually, since this gives a proper error also with Agda-2.5.1, I suspect now @UlfNorell 's code sprint (marathon) which changed a lot about pattern telescopes.

[2016-06-16 16:16] andreasabel commented on #2046
The code is also accepted if sized types are not used, instead the fake types

[code]

This confirms that there is a bad interaction between sized types and Ulf's new parameter refinement feature.

[2016-06-16 16:20] andreasabel commented on #2046
It also works if the extended lambda is replaced by an auxiliary function:

[code]

[2016-06-16 16:32] jespercockx commented on #2047
Here's a further minimized example:

[code]

Normalizing LR triggers the error in `Utils.List`. After looking a bit at the debug output I also suspect Ulf's change, but I can look into it further if you want.

[2016-06-16 16:36] andreasabel commented on #2047
After my recent pushes, your minimization no longer crashes in Utils.List, but gives

[code]

[2016-06-16 16:59] andreasabel commented on #2043
Mmh, it would be new to me that rank-2 polymorphism can be reduced to rank-1 (= ML) polymorphism.  My example tried to lead you to this insight, but apparently, it did not.

[2016-06-16 17:25] favonia commented on #2043
Indeed I sacrificed rank-2 polymorphism by making all instances of a parameter in the same definition monomorphic. For example, if there are two usages of L in E1, or if E1 is using E0, all the instances of L inside E1 (including the one passed to E0) must have the same universe levels. Maybe I'm wrong, but I feel it's sufficient at least for my purpose. It's very close to rank-2 polymorphism when

[2016-06-16 18:15] favonia commented on #2043
@andreasabel I have updated this feature request, following your insightful comment.

[2016-06-17 08:43] jespercockx commented on #2047
This is not a regression, the old Agda just didn't accept the definition of `LR` because `n` was not considered flexible inside the extended lambda. But since Ulf's patch it is considered flexible, resulting in some ill-scoped term.

[2016-06-17 08:54] andreasabel commented on #2028
With `{-# OPTIONS -v import:100 #-}` we see

[code]

This means:
- `mergeInterface` is not called, so `stateChangesIncluded` must be `True` (as `visited` is `False`)
- but `typeCheckThe file` calls `addImportedThings` which merges the `stSignature` into the `stImports`
  So maybe it is not surprising that the name appears both in the signature and the imported signature.

[2016-06-17 10:05] andreasabel commented on #2018
While researching this issue, I found the following minor internal inconsistency in the record field telescope:

[code]

Note that the parameter in `ftel` does not have the correct hiding.`

[2016-06-17 11:13] andreasabel commented on #2018
We have the same problem for the fields:

[code]

reports

[code]

[2016-06-17 11:32] andreasabel commented on #2018
This problem is endemic, we have it also with modules:

[code]

reports

[code]

There is a principal design flaw, which is a combination of these two mechanisms:
1. Declarations get automatically lifted to the top-level via `addConstant` and `addSection`, abstracted over the current context.
2. When new bindings are added to the context, they are renamed to not conflict with previous bindings.

I

[2016-06-17 12:37] andreasabel commented on #1891
The reason for the funny error is that when we have a `where` clause, we are actually in a local module on the rhs, so the free variable computation produces garbage:

[code]

[2016-06-17 14:58] andreasabel commented on #2047
Well, I think going from a reasonable error message to a crash is a regression.

[2016-06-17 15:15] jespercockx commented on #2047
If there's a new feature in version x+1 of Agda that wasn't there in version x and you try to load some code that uses this feature in Agda x, then you will always get the (reasonable) error message telling you that your code isn't allowed (since Agda x doesn't support the new feature). If the same code causes an internal error in Agda x+1, then I'd say this is a bug in the implementation of the n

[2016-06-17 15:24] andreasabel commented on #2047
Considering something that should pass, there are three possible results:

   passes > fails with error > crashes

Any move towards the right I would consider a regression.  But it is not worth discussing this a lot.  In this case `regression` is to put importance on this issue (like the inflated `priority-high`).

[2016-06-17 16:27] UlfNorell commented on #2047
That's stupid. In that case I can manufacture a regression out of any crash by just adding some innocuous use of a new feature.

[2016-06-17 16:40] asr opened #2048 "Documentation on refining module parameters"
I couldn't type-check [this](https://github.com/agda/agda/blob/decf1b037d0ec76c7bae79f1dae01500957866d6/doc/release-notes/2-5-2.txt#L89-L101) example given in the CHANGELOG, instead I got the following error:

[code]

[2016-06-17 17:02] UlfNorell commented on #2048
Yeah, that's a bug in the changelog.

[2016-06-17 22:34] andreasabel opened #2049 "Unbound pattern variable shows up in context"
[code]

Something seems to trigger splitting of record variable `r`, leaving an unbound pattern variable in the context.

[2016-06-17 22:46] andreasabel commented on #2047
@UlfNorell I do not really understand your comment.  But also, I did not fully grasp I was trying to exploit your new feature in my example.  It seems already natural to me...

[2016-06-17 23:04] asr commented on #2047
@andreasabel I don't want to see a rainbow on the labels. Can we keep the same background colour for labels of the same "kind"?

[2016-06-17 23:10] asr commented on #2048
Which is the bug in the CHANGELOG?

[2016-06-18 07:27] UlfNorell commented on #2047
Consider the following bug:

[code]

This would be an instance of "fails with error > crashes" and thus a "regression".

It is of course because parameter refinement is the natural thing to have.

The second argument to evaluate should have type `Val n → Set`, so to match its argument against `valSuc _` you need to unify `n` with `suc _`, but `n` is not one of the arguments to the pattern lambda (

[2016-06-18 09:54] identicalsnowflake commented on #2048
The `n` is already bound when `f` is defined, so it can't make a recursive call on a vector with `n - 1`. There is no `f` defined for any natural except `n`. To make it compile, add a forall n when defining f (which defeats the point of the example?) or remove the recursive call in the second clause.

[2016-06-18 10:17] andreasabel commented on #2047
@asr We could make a bit more use of colors for the issue labels.  At the moment, over 90% of the labels are just grey, i.e., attract no attention. We could use colors for the different components of Agda so one can an immediate visual impression.

[2016-06-18 21:22] Blaisorblade commented on #2032
Given #2040 was merged, I'm happy to close this as fixed! (But let me know if I missed sth.)

[2016-06-18 21:37] Blaisorblade commented on #1941
@asr is there anything still to do here, or can this be closed?

[2016-06-18 21:47] Blaisorblade commented on #1937
Confirmed:
- the docs document what you'd expect: http://agda.readthedocs.io/en/latest/tools/package-system.html
- the sources implement the behavior you actually observe:
  https://github.com/agda/agda/blob/fcc5f586ae0d9ee80f2fce9d143da682987dbede/src/full/Agda/TypeChecking/Monad/Options.hs#L106
  EDIT: Source commentary: with `--no-default-libraries`, `optDefaultLibs o` is false, so `addDefaultL

[2016-06-18 23:28] asr commented on #2032
@Blaisorblade please add the 2.5.2 milestone.

[2016-06-18 23:33] #1941 closed, assigned to nobody

[2016-06-19 06:12] spwhitton commented on #2032
This enables making an ELPA package out of your source code, so from
Debian's point of view that's all that's wanted.  You might consider
publishing the package on MELPA or something; that might be a reason to
keep the issue open.

[2016-06-19 09:31] Blaisorblade commented on #1758
Looking at the Word document that @yuriy0 posted reveals that the culprit is `timeBeginPeriod`. After grepping for it (through GitHub!) in repos for [`base`](https://github.com/ghc/packages-base/search?utf8=%E2%9C%93&q=timeBeginPeriod), [`win32`](https://github.com/haskell/win32/search?utf8=%E2%9C%93&q=timeBeginPeriod), [`time`](https://github.com/ghc/packages-time/search?utf8=%E2%9C%93&q=timeBegi

[2016-06-19 09:35] Blaisorblade commented on #1758
BTW, that code was introduced in https://github.com/ghc/ghc/commit/8c8e959fdf86281c01e3392a3860ab64524d37df. To sum up:
it seems possible those calls to `timeBeginPeriod` on Windows prevent laptop CPUs from saving power, as removed by @yuriy0 in this issue a while ago.

[2016-06-19 10:19] Blaisorblade commented on #2032
@spwhitton Thanks for mentioning that, but without a solution to the issues I described, I'd rather avoid publishing the package.

[2016-06-20 01:52] asr commented on #1933
@jespercockx which Linux-like environment for Windows (e.g. Cygwin) and version did you use for testing 2.5.1 on Windows 10?

[2016-06-20 07:59] UlfNorell commented on #1933
I tested it on Windows 10 with the Haskell Platform that has ghc-7.10.3 and MinGW (unknown version).

[2016-06-20 08:30] jespercockx commented on #1933
I didn't use any linux-like environment, I just installed agda using the Haskell platform for windows and Aaron Stump's installer for emacs (as linked in the readme). It seemed to me that Aaron's installer also installed an older version of Agda automatically, but just removing the old version and keeping the emacs installation worked for me.

[2016-06-20 08:34] UlfNorell commented on #1933
I should say that I have no idea if having MinGW installed was necessary.

[2016-06-20 08:35] UlfNorell commented on #2026
Since no one has complained about the RC I guess we can go ahead and release. @asr, do you want me to do it or will you?

[2016-06-20 09:12] andreasabel commented on #1891
After all this was easy to fix, by taking

[code]

instead. Made possible by the fix of #289.

[2016-06-20 09:14] #1891 closed, assigned to andreasabel

[2016-06-20 09:29] #1653 closed, assigned to UlfNorell

[2016-06-20 09:50] andreasabel commented on #887
Bug still exists as of today (2016-06-20).  Updated test case:

[code]

[2016-06-20 09:53] andreasabel commented on #513
Bug still exists as of today (2016-06-20).

[2016-06-20 10:00] #436 closed, assigned to UlfNorell, andreasabel

[2016-06-20 10:08] andreasabel commented on #191
New behavior: Agda refuses to split. (As wished by reporter.)

[2016-06-20 10:22] andreasabel opened #2051 "Case splitting removes content of clause rhs"
[code]

Before the fix of #289, Agda would simply refuse to split.  Now it can split, but is not very gentle with the existing content of the rhs.
Desired behavior: preserve rhs (as much as possible).

[2016-06-20 10:36] andreasabel commented on #1829
Mmh, this test case takes a bit long.  Can we have it shorter or relocated to benchmarks or some later phase of the test suite?

[2016-06-20 12:44] andreasabel commented on #2051
Tried to fix this by reifying the rhs of the internal clause with the question mark to abstract syntax and put it back with the new clause(s).  However, this does not work well. For instance:
- let-bindings are still dropped (they do not exist in internal syntax)
- if an interaction meta has been replace by an ordinary meta (e.g. by pruning), reification spits out something like `_11 x1` instead o

[2016-06-20 13:57] asr commented on #2026
I'll make the release.

[2016-06-20 14:14] asr commented on #2026
Could someone test the installation of the RC on Windows and GHC 8.0.1.

[2016-06-20 14:19] andreasabel commented on #2051
Using AST still does not work, I think we need to fall back to concrete syntax.  For instance, the names in let-bindings are printed wrongly when using AST.

[2016-06-20 14:50] Blaisorblade commented on #2026
Just noticed stack support is not in, and I guess it's too late for that, right?

I just checked that Agda does build with the same stack file as `stable-2.5`, but I assume this is not enough testing, so this should better wait for 2.5.2.

[2016-06-20 15:13] asr commented on #2026
Right.

[2016-06-20 15:15] asr commented on #2005
@Blaisorblade please add the new stack support to the section "Installation and infrastructure" of `doc/release-notes/2.5.2.txt`.

[2016-06-20 15:23] Blaisorblade commented on #2026
Just noticed that the `release-2.5.1` branch has both `CHANGELOG` and a dummy `doc/release-notes/2-5-2.txt`: https://github.com/agda/agda/blob/f1c9c33643316d899d94c91674a2eb8955d90a72/doc/release-notes/2-5-2.txt

[2016-06-20 15:40] asr commented on #2026
We are using a _new_ work-flow for releasing 2.5.1.1, i.e. we will release from a branch which won't be merged into stable/master after the release.  @UlfNorell it was your plan, right?

[2016-06-20 15:59] asr commented on #2026
After releasing 2.5.1 the version in stable was 2.5.1.1, so I created that file. Since we are realising  from the 2.5.1 tag, I will keep that file.

[2016-06-20 16:01] Blaisorblade commented on #2026
@asr I'm confused. Why should a user see release notes for 2.5.2 in the 2.5.1.1 release? I only see the old workflow would make it a bit harder to remove the file, not impossible.

Separately, I'm also confused why there's both CHANGELOG and release-notes, and how they're kept in line — I guess the 2.5.1.1 release notes should later be reflected in the `CHANGELOG` in `stable-2.5` and `master`, rig

[2016-06-20 16:06] asr commented on #2026
These release notes aren't included in the tarball released on Hackage.

[2016-06-20 16:08] asr commented on #2026
We use the release-notes for future versions and the CHANGELOG for the version that will be released.

[2016-06-20 16:14] asr commented on #2026
Right.

Right now the CHANGELOGs in `stable` and `master` should be synchronised respect to the `CHANGELOG` in `release-2.5.1`.

Yes (on this new work-flow)

[2016-06-20 17:42] UlfNorell commented on #2026
Correct.

[2016-06-20 17:46] asr opened #2052 "Unnecessary Cabal reconfiguration on Travis"
When running `cabal build...` on Travis the following message is generated:

[code]

The issue should be fixed by adding `--builddir=$BUILD_DIR` to `cabal build`. Testing...

[2016-06-20 18:34] mietek commented on #1787
This also happens when trying to give a new `syntax` declaration for a name imported from another module.  Is there a reason this must be an error?

Also, there currently appears to be no way to define fixity for a record parameter.

[2016-06-20 19:01] Blaisorblade commented on #2051
@andreasabel: While you're at it, can I mention that Agda is also not so gentle with the content of the LHS? After splitting a bit, sometimes I add to it implicit arguments, or change the qualification of constructors (because, well, the pretty-printing is sometimes questionable), but if I split again that's all lost.
Should I create a new issue for that?

[2016-06-20 19:37] andreasabel commented on #2051
We are aware that case splitting is not very gentle with the user effort, however, it is not easy to change with the current infrastructure.  A new issue is not necessary I think.
Maybe you find your issue in this list: https://github.com/agda/agda/labels/case-splitting

[2016-06-20 20:02] #2052 closed, assigned to asr

[2016-06-21 07:07] UlfNorell commented on #2026
Done.

[2016-06-21 07:23] nad commented on #1829
If I recall correctly the test case was set up in such a way that Agda crashed if the memory consumption was too high, both on 32-bit and on 64-bit systems. I think it would be good if this property was preserved.

[2016-06-21 07:40] andreasabel opened #2053 "Parameter refinement causes Panic: unbound variable"
[code]

This is the third time I am shrinking the same file, see #2047 and #2049.

[2016-06-21 07:42] andreasabel commented on #1829
Ok, then ...or relocated to benchmarks or some later phase of the test suite?

[2016-06-21 07:57] nad commented on #1829
I don't understand what you mean by "or". It's fine with me if you relocate the test case _and_ preserve the property that I mentioned above.

[2016-06-21 09:48] andreasabel opened #2054 "Size solver too eager for where blocks"
[code]

[2016-06-21 09:54] MatthewDaggitt opened #2055 "Add documentation for abstract blocks"
I know the new docs are a work in progress, but they don't currently have even a stub for abstract blocks. For such an incredibly useful feature, the documentation is almost non-existent.

I just discovered it after months of 30 second+ type checking times, and only found it because of stumbling upon this 8 year old [page](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.AgdaLanguageReview).

[2016-06-21 10:07] andreasabel commented on #2054
Solved by not defaulting size to infinity in where block type signatures. See #1862.

[2016-06-21 10:07] #2054 closed, assigned to andreasabel

[2016-06-21 10:32] andreasabel opened #2056 "Cannot instantiate meta to solution...: Pattern checking done too early in where block"
[code]

reports

[code]

The problem here is that the unifier cannot deal with the unsolved meta.

The meta can be solved by the call to `testw` outside the `where` block.
Maybe the checking of the `where` block should only done that far until the parent rhs can be checked.  Only then, the remaining of the `where` block would be checked.

In the end, this is an instance of `Postponing checking of

[2016-06-21 10:36] nad opened #2057 "Problem with underapplied display form, surfaced with parameter refinement"
The following code triggers an internal error (`src/full/Agda/TypeChecking/Substitute.hs:680`):

[code]

The error can also be triggered by replacing the last definition with

[code]

and inferring the type of `p` in the hole.

This is a regression. Bisection points to @UlfNorell's commit "[ refine param ] allow module parameters to be refined by pattern matching" (943e9bee0a1fc58575b8e292e28d03c0

[2016-06-21 10:43] andreasabel commented on #2056
@jespercockx Can you take a look?

P.S.: Agda < 2.5 gives error "Refuse to solve heterogeneous constraint".
Even if the meta cannot be solved here, there should be a better error message.

[2016-06-21 11:02] nad commented on #1829
Shorter: With my current setup (32-bit GHC 8.0.1) I need 382 lines in `Issue1829.in` to trigger the `Heap exhausted` error (after reverting 2fd39d4246b00be243103a438691f76775dd112c). Currently the file contains 1000 lines, so perhaps it could be made shorter. However, I think we should include some margin to allow for differences between different versions of GHC.

[2016-06-21 11:05] nad commented on #1787
See #1235.

[2016-06-21 11:07] nad commented on #1787
See #1346.

[2016-06-21 11:15] nad commented on #1787
The documentation of polarity pragmas states that "Polarity pragmas [...] can be given wherever fixity declarations can be given". If action is taken on this issue, then the documentation of polarity pragmas should perhaps be updated.

(I'm not in favour of taking action on this issue, because it would limit Agda's expressiveness, or shoot-yourself-in-the-footness, or whatever you want to call it.

[2016-06-21 11:21] nad commented on #2005
@Blaisorblade: I guess it would be a good idea to also document this in the manual (along with use cases).

[2016-06-21 11:41] jespercockx commented on #2056
When checking just the where block (before the meta is solved by the call to testw in the main clause), Agda encounters the unification problem `↑ i =?= _35 ft`. In theory, this equation can be solved if _35 is either a flexible variable (e.g. `j`) or if it is equal to `↑ i`.  But consider that there could be multiple flexible variables of type `Size` in scope, and all of them could equally well l

[2016-06-21 12:23] jespercockx commented on #2056
I don't understand the current status of #480. It says it's fixed, but I cannot find any machinery for postponing lhs checking. Shouldn't there be some constructor for `Constraint` or `PostponedTypeCheckingProblem` for a postponed LHS?

[2016-06-21 12:47] asr opened #2058 "Missing continuous integration with Windows"
A continuous integration with Windows is very convenient. You can see an example in the `README.md` file of the [hlint](https://github.com/ndmitchell/hlint) repository.

[2016-06-21 12:48] IanOrton opened #2059 "Rewriting doesn't check preconditions"
It seems that rewrite rules don't check any preconditions. Is this expected behaviour?

[code]

This typechecks on Agda 2.5.1

[2016-06-21 13:24] Blaisorblade commented on #2005
Docs in the manual is a good idea. Since I can't do this right now, reopening the issue.

[2016-06-21 13:25] andreasabel commented on #2056
Only the original issue of #480 is fixed.  In general, there is no postponing of LHS checking.

[2016-06-21 13:27] andreasabel commented on #2056
Would it not make sense to apply the substitution also to the current meta-variable arguments?  So if meta `_35` is dependent on a variable that is refined by the unifier via a substitution, should not the dependency of `_35` be updated accordingly?

[2016-06-21 13:39] asr commented on #2026
FYI, I removed the 2.5.1.1-candidates milestone.

[2016-06-21 13:54] jespercockx commented on #2056
I don't understand what you mean, the substitution _is_ applied to the meta-variable arguments. The problem's just that Agda cannot find a substitution because it cannot guess solutions out of nowhere (or out of the parent clause of a where block, in this case).

[2016-06-21 14:23] andreasabel commented on #2059
In principle, rewriting is unsafe, there are no solid checks of preconditions.

What is a bit funny for this example that `obvious` is rejected if I replace one of the `refl`s in its definition by a hole, e.g.

[code]

fails with

[code]

@jespercockx Did not you recently make sure all bound variables are used on the lhs of the rewrite rule, even the non-dependent `p` ?

[2016-06-21 14:39] jespercockx commented on #2059
Yes, I added the check that all variables used by the rewrite rule are bound in the LHS. However, somehow in this example the third argument of `obvious` gets marked as an `UnusedArg`.

I think I misunderstood the meaning of `UnusedArg` in Agda: I thought it meant that it is not matched on or used in the rhs, but it rather means that the function is _constant_ in this argument, a much weaker prope

[2016-06-21 15:01] jespercockx commented on #2056
On the subject of improving the error message: I think we would get better error messages if we didn't instantiate metavariables so eagerly during unification. For example, if I change line 757 of Unify.hs from
`addContext (varTel s) $ noConstraints $ equalTerm a u v`
to
`addContext (varTel s) $ noConstraints $ dontAssignMetas $ equalTerm a u v`
then the error message becomes

[code]

However, thi

[2016-06-21 15:32] asr commented on #2026
The release was done.

[2016-06-21 15:32] #2026 closed, assigned to UlfNorell, asr

[2016-06-21 16:09] favonia commented on #2043
Hi, just want to add several points:
- It seems `agda-stdlib` does not need anything beyond the ML-style polymorphism either. I am wondering if anyone knows of an example showing the need of polymorphism beyond that. I can assert that `HoTT-Agda` should survive the restriction, and therefore I only see benefits.
- I noticed that http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.UniversePolymor

[2016-06-21 16:12] mietek opened #2060 "Add installation instructions for OS X"
[Homebrew](http://brew.sh) provides prebuilt packages for OS X.  To install:

[code]

This should take less than a minute, and install Agda together with the Emacs mode and the standard library.

By default, the standard library is installed in `/usr/local/lib/agda`.  To use the standard library, it is convenient to add `/usr/local/lib/agda/standard-library.agda-lib` to `~/.agda/libraries`, and sp

[2016-06-21 16:15] UlfNorell commented on #2026
Thanks!

[2016-06-21 16:31] asr opened #2061 "Change in the internal syntax representation after parameter refinement"
Given the following code

[code]

before the parameter-refinement commit 943e9bee0a1fc58575b8e292e28d03c0ba98bbc8, the internal syntax representation of the type of `A` was

[code]

and after that commit (and also with the current stable), it is

[code]

Note that `Abs "Pn"` changed to `NoAbs "Pn"`. Was this change intentional?

I also noticed some changes in the internal representation of the cla

[2016-06-21 16:47] asr commented on #2060
Thanks for taking care of the Agda formula.

Sure. Please create a PR using the _stable-2.5_ branch and adding the documentation to the [installation.rst](https://github.com/agda/agda/blob/stable-2.5/doc/user-manual/getting-started/installation.rst) file.

[2016-06-21 17:22] UlfNorell commented on #2061
I don't know about intentional, but it certainly seems harmless. Why are you looking at this?

[2016-06-21 18:51] nad commented on #2043
I have used higher-rank universe polymorphism to axiomatise "equality with J". One might try to do this in the following way:

[code]

However, note that the final use of equality is not between types in `Set a`, but between types in `Set p`, so the code above is rejected.

In order to work around this I split up the definition into two. First I defined a record type for reflexive relation familie

[2016-06-21 19:07] favonia commented on #2043
@nad Thanks for your example. It reminds me of the time the polymorphic univalence axiom was being passed around. However, I claim that ML-style polymorphism with cumulativitiy is sufficient for your usage (and maybe also for our/my previous usage of univalence). The approach I outlined above will type check your intended code in the first place, and infer that the identification type takes types

[2016-06-21 19:10] mietek commented on #2060
Thanks.

[2016-06-21 19:10] #2060 closed, assigned to nobody

[2016-06-21 19:58] favonia commented on #2043
The scheme with parameters `{a,b,c,d,e,f,g,h}` is

[code]

with the constraint set `{a,b,c,d,e,f,g,h}.{d<=b,e<=b,e<=d,g<=b,g<=d,f=h,g=e,h<=b,b+1<=a,c<=a,d+1<=a,e+1<=a,f+1<=a,g+1<=a,h+1<=a}`. With some simplification it is a scheme with parameters `{a,b,c,d,e,f}`:

[code]

where the constraint set is `{a,b,c,d,e,f}.{e<=d<=b,f<=b,b+1<=a,c<=a}`. (Hope I did not make (too many) mistakes while tracking

[2016-06-22 08:04] nad commented on #2043
Some questions:
- Do you check, after every definition, that the current set of constraints is satisfiable? Can this be done efficiently?
- How large can the set of constraints become? Can it become, say, quadratic in the size of the program?
- I seem to recall that @UlfNorell once tried to implement one of the Harper/Pollack algorithms, but that his implementation was too inefficient. Is the prop

[2016-06-22 09:24] #2048 closed, assigned to UlfNorell

[2016-06-22 10:33] UlfNorell commented on #2047
The problem is with printing pattern lambdas. Specifically [here](https://github.com/agda/agda/blob/4421d56/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L535-536).

Previously we could just drop the module parameters from the clauses, but now things are not so simple. Will look at fixing during the week.

[2016-06-22 12:46] nad commented on #1937
I used to use `--no-default-libraries` to ensure that all `.agda-lib` files were ignored (see `HACKING` for one example). Now this no longer works. Perhaps we should add a flag (`--no-libraries`?) that works like `--no-default-libraries` used to work.

[2016-06-22 13:40] nad opened #2063 "Bad interaction between caching and instances?"
Consider the following three modules:

[code]

[code]

[code]

The following sequence of actions leads to buggy behaviour:
- Type-check `Instance`.
- Load `Bug` in Emacs, with caching turned on.
- Uncomment the commented-out lines in `Bug.agda`.
- Load `Bug` again.

Agda complains:

[code]

However, if caching is turned off, then the code is accepted.

The following script and `.agda-lib` file can

[2016-06-22 13:45] favonia commented on #2043
- Conceptually (Table 12 in Harper and Pollack's paper), you check every time when a union of sets is formed. Practically, this process can be delayed. Also, I suspect that an adaptive negative cycle detection algorithm for dynamic graphs (as representations of constraint sets) is more efficient than re-solving a list of inequalities every time. To further simplify the constraint solving, I am all

[2016-06-22 15:07] nad commented on #1913
@UlfNorell, you wrote "only consider top-level instances if they are in scope". Here is a variant of `test/Fail/Issue1913.agda` in which an instance that is not in scope is used:

[code]

[code]

[code]

[2016-06-22 20:42] asr commented on #2026
@UlfNorell did you use the Haskell Platform for testing the installation with Windows and GHC 8.0.1?

[2016-06-23 07:13] andreasabel commented on #2061
I am not sure what the issue here is, so I am closing it, please feel free to reopen if you want to continue the discussion.

[2016-06-23 07:13] #2061 closed, assigned to nobody

[2016-06-23 07:20] andreasabel commented on #2059
In internal syntax, an absurd pattern just becomes a variable pattern. Thus the positivity checker cannot see a match going on here.  This, of course, can be changed, to take absurd matches into account.  For a conservative change, we could refine the `Relevance` type to parametrize the `Unused` by a bit whether it was unused in the current sense, or whether it is unused but for absurd matches.

[2016-06-23 07:44] UlfNorell commented on #2026
No, I didn't know they had a platform out already. I just got the ghc binary distribution. I checked, and `old-time` did install no problems for me.

[2016-06-23 15:16] andreasabel commented on #2047
Thanks!

[2016-06-23 15:34] andreasabel commented on #2059
I am afraid I will not be able to work on this until Monday (even one week after).  However, I think the relevance/polarity stuff needs some clarification.  I think we have the following aspects muddled together:
1. Irrelevant args: things irrelevant at compile (and thus also at runtime). Explicitly declared by the user.  Can be skipped during definitional equality checking.
2. Forced args: typing

[2016-06-23 15:54] andreasabel commented on #2056
I agree for #314, but why is the solution T := D in #199 not unique?

[2016-06-23 16:29] jespercockx commented on #2056
Ok, I agree the solution T := D in #199 is unique. But in general the mechanism that instantiates metavariables during unification doesn't ensure this, so I'm not sure if we should keep it.

[2016-06-26 02:39] mietek commented on #2056
[code]

I hope we can also agree this error message needs to be taken out and shot.  It would be equally useful if it said “Something went wrong. Try rearranging your implicits.”

[2016-06-26 08:44] jespercockx commented on #2056
Yes, I agree that's one of Agda's least helpful error messages (and that's saying something). The problem is that a better error message would depend on a lot of non-local information that we just don't have available right now:
- The reason why the metavariable _252 was introduced (an implicit argument, an underscore, a postponed constraint, ...).
- In case the meta was introduced because of an i

[2016-06-26 10:28] UlfNorell commented on #2053
Simplified:

[code]

The record pattern matching seems to confuse the type checker. Instead of binding `fa = wrap (suc a)` it binds `unwrap = suc a`. Investigating.

[2016-06-26 10:54] #2053 closed, assigned to UlfNorell

[2016-06-26 10:59] UlfNorell commented on #2053
I fixed this by changing how the unifier handles eta expansion of variables.

Previously eta-expansion of a variable `fa` would introduce a constructor pattern `wrap unwrap` (with variable `unwrap`). This meant that `unwrap` would be treated as the refined variable (and thus get the let-binding) instead of `fa`.

Now eta-expanding `fa` introduces a dot pattern `.(wrap _)` instead.

@jespercockx: w

[2016-06-26 11:01] UlfNorell commented on #2049
Same issue as #2053. Also fixed by aa00a99.

[2016-06-26 11:01] #2049 closed, assigned to UlfNorell

[2016-06-26 14:42] mietek opened #2066 "Case splitting leads to type mismatch"
[code]

Case splitting on `p` results in the following change, which immediately gives the following error:

[code]

[code]

[2016-06-26 15:27] mietek commented on #2066
And yet, this is accepted:

[code]

[2016-06-26 15:43] UlfNorell commented on #2057
The problem was actually there already in `2.5.1`. It's just that after my changes we are more sensitive to deBruijn indices being nonsense. Note that in `2.5.1` you get the error message

[code]

with a broken display form for `P`. After the fix you get the correct error:

[code]

[2016-06-26 16:03] UlfNorell commented on #2046
It looks like the size constraint solver is doing something wrong. With `-v tc.size.solve:20 -v tc.conv.size:10`:

[code]

Note that the invariant that module parameters are the first arguments to metas, which held in `2.5.1`, is violated for `_42`. Reassigning to @andreasabel since it seems clear that the size solver is misbehaving regardless of any bugs I might have introduced.

[2016-06-26 18:16] andreasabel commented on #2066
With current stable-2.5, splitting on `p` works just fine!

[2016-06-26 18:21] mietek commented on #2066
The problem happens under the 2.5.1.1 release.

[2016-06-26 18:23] andreasabel commented on #2066
It is fixed on the upcoming 2.5.2 release.  I think the fix will not be backported to 2.5.1, since it is Ulf's [parameter refinement] AIM XXIII code sprint with major changes.

[2016-06-26 18:24] mietek commented on #2066
So does the fixed version accept a pattern-matching lambda, without requiring an auxiliary function?

[2016-06-26 18:25] andreasabel commented on #2066
I'd think so, but I only tested the splitting on `p` which goes through without problems.

[2016-06-26 18:36] #2066 closed, assigned to andreasabel

[2016-06-27 09:38] jespercockx commented on #2053
LGTM, this seems like the correct thing to do now that we can refine parameters.

[2016-06-27 12:42] andreasabel commented on #2057
See the line note at https://github.com/agda/agda/commit/d88a00858d0296eb2e836bf2bb8d30f27c99578d

[2016-06-27 13:16] #2057 closed, assigned to UlfNorell

[2016-06-27 13:16] andreasabel commented on #2057
Ah, forget my comment, mea culpa.

[2016-06-28 05:52] UlfNorell commented on #2057
No it looks like you are right. I'm opening a new issue for it though.

[2016-06-28 06:00] UlfNorell opened #2067 "Display forms in parameterised module too general"
Display forms created when applying a module are too general. The lambda lifted version of the display form is applied also locally, causing badness.

[code]

cc #2057.

[2016-06-28 09:31] nad commented on #2056
@jespercockx wrote:

This sounds like a bug to me.

[2016-06-29 12:39] anuyts opened #2068 "Copattern matching: Hyvernat termination would succeed"
There is a problem in how copattern matching interacts with type checking and resolving implicit arguments.
- When creating a dependent record using copattern matching, the type of a dependent field may contain references to the record under construction. (This is in itself unpractical when you want to split up the record's definition, e.g. when you want to say field5 = myField5 and define myField

[2016-06-29 14:04] andreasabel opened #2069 "Typed pattern synonyms"
Roman writes:

Hi, I'm doing some generic programming and defining lots of pattern synonyms, but they are not equivalent to constructors due to their untyped nature. E.g. I have

[code]

Clearly, Agda can't infer that `_∷_` has type `∀ {α} {A : Set α} -> A -> List A -> List A`, so the inferred type of `2 ∷ []` is `μ (_Ds_57 x xs) (_j_58 x xs)` instead of `List ℕ`, i.e. completely unspecified. It m

[2016-06-29 14:07] andreasabel commented on #2069
Typed pattern synoyms could be overloaded (and overload constructors), this would be handy.  However, this would probably then defeat your purpose, Roman, as they will be only checkable, not inferable.  Only for non-ambiguous pattern synonyms one could get inference, like for unambiguous constructors now.

[2016-06-29 15:09] effectfully commented on #2069
Thanks for considering the request.

I don't expect pattern synonyms (or constructors) to be both inferrable and overloaded at the same time (is it even possible without adding something like union types to the language?). For my use case I need pattern synonyms to be equal in power to constructors (because I want to replace constructors in existing code with corresponding pattern synonyms), i.e.

[2016-06-29 15:20] UlfNorell commented on #2069
I haven't run into the need for inferrable pattern synonyms, but I've often wished for overloadable ones. Here's a common design pattern I'm using:

[code]

It's really annoying that I can reuse the `c` constructor for another datatype but not the `c!` synonym.

One might consider deferring name resolution in pattern synonyms to the use site, allowing the single definition of `c!` to serve both co

[2016-06-29 16:23] asr opened #2070 "Missing Travis test for the `debug` flag"
A `debug` flag was added to install Agda in 21b3938. Travis isn't testing this flag.

[2016-06-29 16:42] asr opened #2071 "Missing documentation for the `debug` flag"
A `debug` flag was added to install Agda in 21b3938. There isn't documentation (CHANGELOG and manual) for this flag. @nad I assigned you this issue.

[2016-06-29 18:32] #2070 closed, assigned to asr

[2016-06-29 19:25] identicalsnowflake opened #2072 "Reflecting literals in patterns causes problems"
[code]

Comment/uncomment line 9 to see the strange behavior. String literals work as expected when they only appear in the body, but when they appear in a pattern, Agda complains `Cannot unquote non-canonical literal "password1"`.

Possibly related: there is some additionally odd but less wrong behavior with other literals -- in particular, when I pattern match on Nat literals, it works, but it d

[2016-06-29 19:49] UlfNorell commented on #2072
The problem is that literal patterns are quoted incorrectly. Instead of `lit (string "password1")` the pattern is quoted to just `lit "password1"`, which is of course not correct.

[2016-06-30 08:49] jespercockx commented on #2056
I think so too, however it doesn't impact soundness and fixing it could break people's code, so that's why I've kept the old behaviour wrt metavariables in the new unifier so far. Maybe I can push a fix to master instead of stable so people have some time to adapt before the change is released?

[2016-06-30 08:53] jespercockx commented on #2056
I think we are discussing three different topics here:
1. We should be able to postpone LHS checking in order to check the example in the OP.
2. We should give better error messages when a metavariable cannot be instantiated.
3. The unifier shouldn't instantiate metavariables since this can lead to non-unique solutions.

I propose we continue the discussion of 1. here, I'll create new issues for 2

[2016-06-30 08:57] jespercockx opened #2073 "Better error messages when metavariable cannot be solved"
@mietek writes:

On which I responded:

[2016-06-30 09:15] jespercockx opened #2074 "Solving metas in the pattern matching unifier leads to non-unique solutions"
Currently, the pattern matching unifier has two places where it can solve a metavariable:
1. When it encounters an equation of the form `c xs =?= _1` where `c` is a constructor, it tries to instantiate `_1` to `c` applied to fresh metas.
2. When it cannot solve an equation `u =?= v` by the regular rules, it tries to force `u` to be equal to `v` by instantiating metas (through a call to `equalTerm`

[2016-06-30 10:33] nad opened #2075 "Implicit pattern accepted in definition of function without implicit arguments"
The following code is accepted:

[code]

This is a regression, introduced in Agda 2.4.2.4. Bisection suggests that the problem was introduced by @andreasabel in "Fixed #1634 by moving the check for WrongHidingInLHS to bindLHSVars." (48b4f47115921b34eda5d5b3973be38f8342d60d).

[2016-06-30 10:44] nad commented on #2071
As long as there is no documentation of the various `-v` options I don't see the point of adding more documentation for this flag. The `.cabal` file currently includes the following line: "Enable debugging features that may slow Agda down." We could decide to not include this flag in released versions of Agda, to reduce the risk of confusing users.

[2016-07-01 07:43] #2075 closed, assigned to andreasabel

[2016-07-01 07:46] andreasabel commented on #2074
A situation where you would want non-unique solutions is in local definitions (where-blocks), wouldn't you?  (See flag `envCheckingWhere`.)

[2016-07-01 09:31] Saizan commented on #1040
Fixed by commit 8fae46cdf22758d7c1996323c687cc0c813fbb40

[2016-07-01 09:31] #1040 closed, assigned to nobody

[2016-07-01 09:57] Saizan opened #2076 "pattern lambdas get printed with incorrect bodies"
With 8fae46cdf22758d7c1996323c687cc0c813fbb40 we are closer to printing pattern lambdas (aka extended lambdas) the right way, but the bodies/RHS are not quire right yet.

Example:

[code]

by C-c C-n in the goal we get  `λ { true → p , q }` which is ill-scoped.
We should be getting `λ { true → a , b }` instead.

The problem is that while we drop the correct amount of arguments both from the LHS of

[2016-07-01 10:13] andreasabel commented on #2068
Simplified test case:

[code]

The content of the holes is inferred by unification.  Error:

[code]

See also #906 and #942.

[2016-07-01 13:20] andreasabel opened #2077 "Regression in parsing literate files"
This does no longer parse:

[code]

Error:

[code]

Works fine with agda-2.4.2.5 and agda-2.5.0.

[2016-07-01 13:22] andreasabel commented on #2077
@vlopezj Since you changed something in parsing of literate files, I assign you to this issue.

[2016-07-01 13:28] andreasabel opened #2078 "Cannot split applied extended lambda"
[code]

See #1083.

[2016-07-01 15:19] andreasabel commented on #2078
The problem is that the checking of the extended lambda has been postponed, as its type is unknown.  Thus, the type checker never reached the hole, and no actions are available.  All we can do here is to improve the error message.

[2016-07-01 15:23] #2078 closed, assigned to andreasabel

[2016-07-01 16:28] andreasabel commented on #2068
What we could do here is to simplify the rhss of the clauses with non-recursive other clauses from the mutual block.  However, this could also lead to removal of diverging subterms.

[code]

In this case, if we simplify with the first equation, the second one becomes

[code]

and the loop is removed.  Thus, we only get weak normalization from the termination checker.  However, Agda might rely on s

[2016-07-01 18:06] anuyts commented on #2068
Let's forget about my second suggestion for now. Then your last example would (1) probably not be accepted (I don't have Agda around right now) even if you replace the second clause with e.g.
`snd (test a) x = fst (test a) x`
and (2) not be relevant, because `B` does not refer to `fst`.

My other suggestion is to remove self-references in the fields' _types_ before type-checking and inferring impl

[2016-07-02 17:39] mietek opened #2079 "Better error messages for constructor conflict"
This is another one of those error messages that do not help with understanding why things have gone wrong.

[2016-07-02 17:45] mietek commented on #2079
[code]

In this example, the solution is simply to omit the impossible `nec` case.  However, sometimes it is nice to explicitly mark certain cases as impossible, with `()`, and I don’t see a way to do this here.

[2016-07-03 05:30] vlopezj commented on #2077
In the current state of things, both `\begin{code}` and `\end{code}` must be on a line of their own (modulo whitespace) in order to be recognized as code delimiters, like so:

[code]

I will fix the implementation so that it recognizes `\end{code}` even if it is followed by more characters in the same line. I would rather still require that `\begin{code}` be in a line of its own. Otherwise one nee

[2016-07-03 13:02] andreasabel commented on #1669
Thanks @phile314 now I am trying to compile the docs.  I think the vanilla

[code]

did not work.

[code]

I am googling for solutions...

[2016-07-03 13:22] andreasabel commented on #1669
Ok, back 17 minutes later:  I also need

[code]

To install `pip`, I did this more complete procedure (but I don't know whether it was necessary in the end):

[code]

[2016-07-04 08:18] effectfully opened #2080 "Computed implicit arguments are introduced too early."
The following code doesn't type check:

[code]

If I write `fold (A ∷ As) f = {!!}`, then I see that implicitly bound `x` is already in scope. `fold (A ∷ As) f {x} = fold As (f {x})` type checks fine.

I don't know whether this is a bug or a feature, but it broke some my code, so here is a report. Agda version 2.6.0

[2016-07-04 09:19] andreasabel commented on #2080
This is an intended change by Ulf. See issues #2001 and #679.
It is already documented in the release notes for 2.5.2.
No further action intended, but reopen this issue if you have a suggestion.

[2016-07-04 09:29] #2080 closed, assigned to nobody

[2016-07-04 09:30] andreasabel commented on #2077
Ok.  It think folks usually put `\begin{code}` on its own line.  Something preceding it is thinkable though.  For now, it is sufficient to address the `\end{code}` issue.

[2016-07-04 12:39] andreasabel commented on #2079
Reduced test case:

[code]

[2016-07-04 12:42] andreasabel commented on #2079
Anyway, there **is** a way to use the absurd pattern, but you need to put the constraint on the context for `nec` in an equality proof.

[code]

[2016-07-04 20:25] nad opened #2081 "Where module inside private block not private"
Is there a good reason for making `Public.Public` visible in the definition of `Works` below, but not `Private`?

[code]

Agda 2.2.10 handles this correctly (in my opinion), and complains about both of the last two definitions. However, Agda 2.3.0.1 accepts `Works`.

[2016-07-05 13:10] asr commented on #2071
I only was talking about the flag, no the `-v` options. I'll reopen the issue if we include the flag in the next release.

[2016-07-05 13:10] #2071 closed, assigned to nobody

[2016-07-05 13:51] andreasabel commented on #2081
Looks like a bug to me.

[2016-07-05 15:31] jespercockx commented on #1775
Fixed by https://github.com/agda/agda/commit/7b73c1c66a0ee2dba4aef0943f98c9c250eec1d2

[2016-07-05 15:31] #1775 closed, assigned to jespercockx

[2016-07-05 15:38] andreasabel commented on #875
No attachments here.

[2016-07-05 17:46] phile314 commented on #1669
I'm a bit surprised myself, but part of this is actually already documented :-) :
https://github.com/agda/agda/blob/master/HACKING#L314-L323

I also often find it useful to look at what travis does to install the dependencies.

[2016-07-05 19:13] asr commented on #1669
I just removed the unnecessary information:

[code]

[2016-07-06 07:29] andreasabel commented on #2047
The offered fix is incomplete.  What happens here is that we have

[code]

with an extended lambda lifted to the top-level as

[code]

and, in terms of de Bruijn indices

[code]

Since it was created in section `(n m : N)`, or current philosophy is to drop the two "parameters".  However, they are no longer parameters.  So, we have to be extra careful.  For instance, we cannot just drop the first t

[2016-07-06 07:35] andreasabel commented on #2047
Also, I would like to see the rules of this new type theory with parameter refinement be written out.  I am not satisfied with an anecdotal description in form of a few simple examples.
How and where are all the substitution represented which we now get with parameter refinement?  How do we ensure that with all this dropping-magic we never drop something which is not the identity substitution?

[2016-07-06 08:43] UlfNorell commented on #2047
I don't agree. `λ { (valSuc n) → anything }` is a perfectly valid function of type `Val 2 → Set`, and is in fact how the pattern lambda is defined. The unifier will unify the `n` with `1` but that doesn't mean it's wrong to print it with the `n` pattern.

Bear in mind that parameter refinement does not affect the core theory; it's all elaboration and printing. Ignoring pattern lambdas (which are a

[2016-07-06 09:10] #2072 closed, assigned to nobody

[2016-07-06 09:14] UlfNorell commented on #2072
The behaviour of nat literals is intended. That is in fact how literal nat patterns are represented internally in order to make pattern coverage checking easier.

[2016-07-06 10:22] andreasabel commented on #2076
I think the key to solving this issue is to not simply drop the parameters, but to use `apply` to substitute them into the body.  I'll push a fix that does this.  However, this does not work soundly with parameter refinement, where the first patterns of an extended lambda generated function may be different from variable patterns.  In this case, I just fall back to printing the internal name.  Thi

[2016-07-06 11:00] andreasabel commented on #2047
#2076 is fixed and concerns printing of extended lambdas without parameter refinement.  The current status on this issue is that the printed error message is

[code]

which mentions the internal name as there is no good story yet how to print an extended lambda that has refined parameters.  This part remains open.

[2016-07-06 11:07] UlfNorell commented on #2047
I don't see the problem to be honest. Why doesn't it work to simply substitute the (current values of the) module parameters? Can you give an example of where things go wrong if you don't fall back to printing the internal name for pattern lambdas?

[2016-07-06 11:10] UlfNorell commented on #2047
This is not true. Module parameter patterns are either variables or dot patterns so there's never any danger of a mismatch.

[2016-07-06 11:18] UlfNorell commented on #2076
This still doesn't work:

[code]

The problem, as far as I can see, is that the `ExtLamInfo` numbers don't include the module parameters so while it works inside the module (where module parameters are dropped) it doesn't work outside.

[2016-07-06 13:30] #2076 closed, assigned to andreasabel

[2016-07-06 13:48] andreasabel commented on #2046
`Agda.TypeChecking.SizedTypes.Solve` relied on an invariant that is violated now:

[code]

With the effect:

[code]

[2016-07-06 14:22] #2077 closed, assigned to vlopezj

[2016-07-06 14:31] andreasabel commented on #2046
However, if printed with arguments, the solution for `_i_43` does not look bad:

[code]

It is, correctly, the second projection.

[code]

Only the one for `_47`, that should be the lowered solution for `_i_43` not the same.
It should be the third projection, not the second.

[2016-07-06 15:04] andreasabel commented on #2046
We start out with

[code]

The violated invariant leads to metas applied to their arguments in permuted order.  The size solver assumes the order is always the same.  There is already code to fix this, namely `canonicalizeConstraint`.  But it triggers issue #1914, thus, it is commented out.  So the actual issue is to fix #1914 (and finally settle WW1).

[2016-07-06 15:19] andreasabel commented on #2047
Well, but I gave an example that does not work (it is the current test case for this issue).

[code]

If you apply this to two arguments you get

[code]

which is not a well-formed clause, as the de Bruijn pattern cannot be turned into a permutation.  In fact, `@1` is a dangling reference after the first two (=all) bindings from the telescope have been dropped.

[2016-07-06 15:33] jespercockx commented on #2051
FYI: I just pushed a change that should make Agda much gentler with the contents of the LHS when case splitting. This still only takes into account the changes up to the last reload, though.

[2016-07-06 15:44] UlfNorell commented on #2047
You shouldn't drop anything from the telescope, so you can still construct a permutation.

[2016-07-06 15:49] UlfNorell commented on #2047
To clarify, we're only talking about dropping things for the purposes of printing. Internally we should keep all the patterns around every time we do anything interesting with the clauses.

My argument is that in this case it's perfectly fine to print the lambda as `λ { (valSuc n) → anything }`, so unless you have an example where something will actually be printed incorrectly I don't see the prob

[2016-07-06 16:02] asr opened #2083 "Move the internal tests outside of the Agda library"
See the discussion/motivation for moving the internal tests outside of the Agda library in #2038.

Starting...

[2016-07-06 16:02] andreasabel commented on #2047
The current implementation

[code]

assumes that the de Bruijn indices for the pattern variables are a permutation of `0..n-1` for some `n` and computes this permutation.  This matches the invariant that the de Bruijn numbering of pattern variables, which are pointers into the telescope, is just a permutation of the right-to-left(? or was it left-to-right) numbering of the variables, which are how

[2016-07-06 16:04] andreasabel commented on #2047
[Aside: now, as we have de Bruijn patterns, do we actually need this permutation any more?  Why don't we number the variables in the body in the same way as in the patterns?  Would simplify things a lot, presumably?!  What would block such a simplification?]

[2016-07-06 16:07] andreasabel commented on #2047
And: we do drop from the telescope!

[code]

[2016-07-06 21:00] asr opened #2085 "The internal test-suite doesn't report if a test failed"
When an internal test doesn't use QuickCheck, the internal test-suite doesn't report if the test failed.

For example, if I replace  `Agda.Interaction.Options.prop_defaultOptions` by

[code]

and run

[code]

I only get the following information:

[code]

that is, I don't know if a test failed in `Agda.Interaction.Options`.

[2016-07-07 06:04] UlfNorell commented on #2047
Right, I see. Yes the `Apply` instance clearly needs to be updated.

I would say no. If nothing else, because you can always recover the permutation from the de Bruijn patterns. That would be a nice refactoring!

[2016-07-07 07:23] andreasabel commented on #2047
The first part (recovering the permutation) has already done by @jespercockx.  Dropping it fully would relieve my brain of all the twisting needed currently to comprehend the code.  Needless to say, it is not good at comprehending permutations (despite all my documentation efforts); for a start, I never know which direction the permutation goes...

[2016-07-07 07:33] andreasabel commented on #2051
Which commit is that? 5e71c3d6bb10cfa43d464ca21e58523645f17e96..a3f7eaf3411f09f1faea30551bd8310f6292591e

[2016-07-07 08:38] jespercockx commented on #2051
Mostly d7c56d9a0ed73a999ee088c67f7b19cd6f8a9f72, though it makes use of the Origin tags introduced in 5e71c3d6bb10cfa43d464ca21e58523645f17e96, c19daeb79f5598178d4d46a77a5850bd3da21ba5, 64f712f6eeef3d51890e54890d3d17fb0b96bcae, 0aeba755387a5639fea22672437a2dd45948f488.

[2016-07-07 09:30] jespercockx commented on #2047
I also agree completely that getting rid of permutations would be very nice. The main obstacle I see is that this would require a rather large refactoring of case trees (CompiledClauses), as these currently don't take the de Bruijn indices in the patterns into account at all but just count arguments from left to right (or right to left, whatever).

Here is a (probably incomplete list) of the parts

[2016-07-07 10:29] jespercockx commented on #2079
In order to suggest to the user what he should do, we need to know whether there are still other constructors left for this case split (so the case should be removed) or not (so the user should use an absurd pattern). The problem is that the error is already thrown during LHS checking, while we only have the information we need during coverage checking (which is in a later phase). For now, I can a

[2016-07-07 11:52] #2079 closed, assigned to jespercockx

[2016-07-07 11:54] jespercockx commented on #2074
I don't see why checking definitions in a where block should behave any different from top-level ones. Can you explain?

[2016-07-07 12:04] andreasabel commented on #2047
Well, for sure there is unpleasant work to be done to refactor CompiledClauses/Compile, but the compiled clauses can keep their structure.  They have their own matching algorithm, which can remain as it is.
The clause compiler will have to apply the/a permutation to the body, since the original clauses don't do this then anymore.

In the refactored clauses, `clauseBody` will just be an open term w

[2016-07-07 12:16] jespercockx commented on #2047
Ah, I see. That actually seems doable, I'll give it a try in one of the coming days.

[2016-07-07 12:19] jespercockx opened #2086 "Refactor clauseBody to be relative to the clause telescope"
(following the discussion in #2047)

[2016-07-07 15:41] ghost opened #2087 "Do not fall back to pattern match for rewrite as rewrite is not a syntactic sugar anymore"
Since rewrite is no longer a syntactic sugar, agda should not transform rewrites  into pattern matching when doing case splitting
After case splitting, rewrite is transformed into pattern matching.
I am using Agda 2.5.1

[2016-07-08 05:11] asr commented on #2038
While working in #2083, I realised a nice feature of using `TemplateHaskell` in the internal test-suite: The name of the tested property is shown, for example,

[code]

If `TemplateHaskell` is not used, we don't see the name of the property:

[code]

Before removing `TemplateHaskell` from the internal test-suite, I'll see if I can print the name of property without using  it.

[2016-07-08 05:44] andreasabel commented on #2038
This is one of the reasons why I favored the TemplateHaskell solution: less to maintain, more informative output.

[2016-07-08 08:29] GavinMendelGleason opened #2088 "Implicit arguments hard to find in interface"
Sometimes during pattern matching with a number of constructors, it becomes very difficult to know the source of a given implicit variable in order to make it explicit so that it can be referred to.

Currently if it is possible to pattern match on the variable, one can use C-c C-c to case split and then manually unsplit to use the variable, but if it is not possible there appears to be no way to f

[2016-07-08 11:26] andreasabel opened #2089 "''No such module'' is a rude error message for private modules"
[code]

The error is `No such module M.Private` which is a lie.  More polite would be `M.Private is not scope because it is declared private` or something similar.

[2016-07-08 12:42] andreasabel commented on #2081
In fact, the `where`-module `Public` should be `private`, we should propagate this modifier to the names of `where`-modules.

[2016-07-08 12:49] andreasabel commented on #2088
Thanks for reporting! Can you please add a concrete case with
- a short example and
- the envisioned behavior of the new command for this example.

Thanks!

[2016-07-08 12:55] #2081 closed, assigned to andreasabel

[2016-07-08 13:23] guillaumebrunerie opened #2090 "Rewriting and universes"
The code below should typecheck but it doesn’t with the error

[code]

Note that it does work if `A` and `B` (in the last definition) are both in the same universe `Set i`, so it seems to be a problem with the interaction with the universe levels somehow.

[code]

[2016-07-08 13:40] jespercockx commented on #2090
The problem seems to be that the matching algorithm doesn't know about the additional (in)equalities between universe levels, in this case that `lsuc i ⊔ lsuc j == lsuc (i ⊔ j)`. It really should take these equalities into account, and others as well such as `i ⊔ j == j ⊔ i` etc. Now we only need to find a principled way to do matching modulo these equations...

[2016-07-08 14:26] GavinMendelGleason commented on #2088
A completely contrived example which hopefully conveys the underlying feature request:

[code]

In the final hole we have the following goal:

[code]

It's not so clear which constructor to augment to make a given implicit parameter, explicit, in order to refer to it.

Some Key sequence (C-c C-j ?) could potentially take the implicit parameter in the hole and transform it to:

[code]

[2016-07-08 16:10] jespercockx commented on #2090
The problem doesn't seem to be solvable in general: how do you match something of the form `(n1 + t1) ⊔ (n2 + t2) ⊔ ... ⊔ (nk + tk)` against a pattern of the form `(m1 + p1) ⊔ ... ⊔ (ml + pl)`? There's no way to decide which part of the pattern to match with which part of the term. However, it's possible to do something simpler that only works for `lsuc` but would at least fix this specific exampl

[2016-07-08 17:56] andreasabel commented on #2088
Thanks.  A possibility would be to modify the case split command `C-c C-c` to not split on a hidden variable, but to bring it into scope.  Then, one can split on it on a second invokation of `C-c C-c`.  Seems more economic: the user has to remember less commands.

[2016-07-08 23:09] asr commented on #2083
TODO: [Here](https://github.com/agda/agda/blob/1598f415d4deb0115023b583a6b7836f65e33f3c/.travis.yml#L363-L364)

After the above commit, it is convenient to modify the `Makefile` for avoiding to build the two Cabal tests-suites when running for example `make install-bin`.

@phile314 feel free for integrating the Cabal tests-suites. I suggest to wait a couple of weeks, though.

[2016-07-09 13:42] Saizan commented on #2047
The following code used to cause an internal error when printing M.bar, I fixed it in 691f2e3069f33aae8e10b9c594a01232a01479c6

[code]

[2016-07-09 14:28] Saizan commented on #2047
Do you mean that dot patterns match regardless of the terms actually matching?
Consider the code from my previous comment and the term `(\ u -> M.bar u)`, the argument `u` does not match the pattern `true`, should we still print `(\u -> \{ itis -> x})` ?

I don't have a strong opinion against it, but I was a bit surprised so I wanted to have it clarified!

[2016-07-10 00:47] asr commented on #2038
I have no objections for using `TemplateHaskell` in the internal test-suite.

[2016-07-10 01:02] asr commented on #2083
@andreasabel wrote [here](https://github.com/agda/agda/issues/2038#issuecomment-226093822):

Since `QuickCheck` is a common and well-maintained library, I don't see any problem in keeping the dependency on it.

In addition, for removing the dependency on `QuickCheck` from the Agda library, it was necessary to increase in a 20% the number of files in the internal test-suite. These files only contai

[2016-07-10 08:18] andreasabel commented on #2083
After pulling `make install-bin` gets only that far:

[code]

`cabal configure` does not help (of course).

[2016-07-10 08:31] #2088 closed, assigned to andreasabel

[2016-07-10 14:04] asr commented on #2083
I guess you meant `make internal-tests`.

Does `make clean` fix the problem?

[2016-07-10 15:27] andreasabel commented on #2088
Thanks to @jespercockx 5e71c3d6bb10cfa43d464ca21e58523645f17e96, this was straightforward to implement.
@GavinMendelGleason , does this suit your needs?

[2016-07-10 21:19] mietek opened #2092 "The handling of renamed modules should be improved"
Let’s say we are reorganising a repository, and we rename the file “Foo.agda” to “Bar.agda”, in the filesystem. Next, we update “Everything.agda” to `import Bar`, and we reload the file.  We get an error:

First, the error message is not very helpful.  This could be improved to say “The file `Bar.agda` should contain the `Bar` top level module, but it contains the `Foo` top level module.”, or some

[2016-07-10 21:55] Blaisorblade commented on #2023
I was not sure how to solve all issues, but I just noticed (by chance) that `stack` has this feature and it seems to work well, based on the [gitrev](https://hackage.haskell.org/package/gitrev) package—it's a better version of `vcs-revision`, appears actually maintained, is used in `optparse-applicative`, and it seems to call `addDependentFile` often enough to track the version accurately.

As far

[2016-07-11 10:46] andreasabel commented on #2083
No, `make clean` did not help, I get the same error again.

[2016-07-11 11:57] asr commented on #2083
From the error message, it seems you are using the _same_ Agda directory for compiling using different versions of GHC (I use different directories for avoiding a complete recompilation). How do you switch between the GHC versions? Do you use the `--with-ghc` Cabal option?

[2016-07-11 12:17] andreasabel commented on #2092
1. I think the error message is so complicated because of hierarchical modules.  Of course, Agda could suggest the most likely fix.
2. The other concern is that the error is raised in the wrong location.

I addressed 2. by raising the error in the file with the wrong module name.

Wrt. 1., what currently Agda does it finds the file "Bar.agda" for the import of "Bar".  Then it processes this file w

[2016-07-11 12:42] andreasabel commented on #2083
Actually, I am using only ghc 7.8 now, but I used ghc 7.10 at some point in the past.  However, I do not see how cabal picks up the stale information (whereever it is).
If I just do `cabal test`, I get the same error.  `cabal configure` succeeds but does not change anything.

[2016-07-11 13:05] asr commented on #2083
Does `rm -r dist*` fix the problem?

[2016-07-11 13:14] ghost opened #2093 "Agda sits on a solution for a meta and does not apply it!?"
[code]

---

I am using Agda 2.5.1 and stdlib 0.12

When refining the hole, this message is shown:
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Reduce/Monad.hs:176

[2016-07-11 14:06] ghost commented on #2093
#2028 not sure if this is related or not

[2016-07-11 16:39] asr commented on #2093
After removing the extra `;` I couldn't reproduce the error. I got  the message `Cannot refine`.

[2016-07-11 18:10] andreasabel commented on #1140
Fixed in 085da78b8ff66a6db9bb98806138fbaeaf7101dc,
but does not work well for hierarchical modules.

[2016-07-12 00:10] ghost commented on #2093
there is no extra ;, the ; is for the pattern matching lambda

[2016-07-12 04:16] asr commented on #2093
Thanks for fixing the OP.

I could reproduce the problem with 2.5.1, 2.5.1.1 and stable-2.5.

[2016-07-12 12:15] #2090 closed, assigned to jespercockx

[2016-07-12 12:33] asr commented on #982
The test case (in test/LaTeXAndHTML/succeed) is failing using a recent version of `lualatex`:

[code]

[code]

Pinging @stevana.

[2016-07-12 12:40] asr commented on #2090
@jespercockx since you closed the issue, please add the 2.5.2 milestone.

[2016-07-12 12:54] asr commented on #2090
Thanks!

[2016-07-12 13:08] andreasabel commented on #2083
I can run the internal test-suite at `dist-2.5.2/build/internal-tests/internal-tests` without problem from the command line. Seems like `cabal` is buggy!?

[2016-07-12 13:13] asr commented on #2083
Could you reproduce the problem using the latest version (1.24.0.0) of `cabal-install`?

[2016-07-12 13:39] andreasabel commented on #1140
Pushing a fix soon.

[2016-07-12 13:39] #1140 closed, assigned to andreasabel

[2016-07-12 13:43] andreasabel commented on #2092
Ok, now I addressed also 1.  Required some digging through my (least) favorite Spaghetti code, which got some small clarification along the way: `Agda.Interaction.Imports`.
Now, Agda will suggest you name the wrongly named module as you said so in the import statement.

[2016-07-12 13:52] asr commented on #2083
It seems. See https://github.com/haskell/cabal/issues/2214#issuecomment-63752340.

[2016-07-12 14:00] andreasabel commented on #2093
The yellow around the hole should already warn you!  However, you should not get an internal error.
As one can see with `C-c C-=`, the hole `?0` is already solved with meta `_17 x`.  This might trigger the internal error.

[2016-07-12 14:02] andreasabel commented on #2028
#2093 is another instance of this bug.

[2016-07-12 14:07] andreasabel commented on #2093
In the light of #2028, it might be rather the postponed type checking problem

[code]

which causes the internal error.

Funnily, Agda sits on the solution for the hole, but does not apply it:

[code]

[2016-07-12 14:11] andreasabel commented on #1735
Duplicate: #2087.

[2016-07-12 14:12] andreasabel commented on #2087
Duplicate of #1735.

[2016-07-12 14:51] asr opened #2094 "GHC 8.0.1 doesn't report unrecognised warning flags"
What the title says.

Following @andreasabel suggestion (can you find  his suggestion in GitHub?), I'm opening a new issue, commenting on this issue and tagging this issue. I will submit a no-one-line patch and close the issue later (feeling sarcastic too).

[2016-07-12 15:13] #2094 closed, assigned to asr

[2016-07-12 16:53] mietek opened #2095 "Fillable size hole not filling"
Agda 2.5.1.1 refuses to fill the hole in `ccont′`, despite having found the code acceptable just two lines earlier, in `ccont`.

[code]

[2016-07-12 17:26] mietek opened #2096 "Filling size hole causes regrets"
Agda 2.5.1.1 happily fills the hole in `cont′` with `m`, but fails on subsequent reload.

[code]

[2016-07-12 20:05] mietek opened #2097 "Size solver should offer better suggestions"
Agda’s suggestions with regard to sizes are surprisingly poor, and optimising the sizes by hand gets old really fast.

Here are some examples:

| Function | Suggested size |
| --- | --- |
| `cont` | `↑ (↑ ((↑ (↑ (↑ (↑ ω)))) ⊔ˢ (↑ (↑ m))))` |
| `exch` | `↑ (↑ (↑ ((↑ (↑ (↑ (↑ (↑ ω))))) ⊔ˢ (↑ (↑ m)))))` |
| `comp` | `↑ (↑ ((↑ ((↑ (↑ (↑ (↑ (↑ ω))))) ⊔ˢ (↑ m))) ⊔ˢ (↑ n)))` |

After removing some parent

[2016-07-12 21:25] mietek opened #2098 "The handling of the maximum operator on sizes should be improved"
Consider `concat`:

[code]

Agda’s suggested size `↑ ((↑ m) ⊔ˢ n)` is fairly reasonable, and the code is accepted.  However, my attempt at simplifying the size to `↑ ↑ (m ⊔ˢ n)` results in an odd:

Is it a warning?  An error?  Some debug output?  Let’s find out!  `↑ (m ⊔ˢ n)` gets me the similarly unclear:

Finally, with `m ⊔ˢ n` I get the utterly baffling:

I’m somewhat concerned that these attem

[2016-07-13 08:34] andreasabel commented on #2095
Agda has already solved this meta with infinity.  You can see that with `C-c C-=` and substantiate it with `C-c C-s`.  However, it should not have done so.  Somehow the mechanism from preventing it is failing here.  I need to investigate.

[2016-07-13 15:53] andreasabel commented on #2083
Switching to the latest version of cabal-install fixed the problem for me.  Thanks!

[2016-07-13 16:49] andreasabel commented on #2098
The left-over constraints you see are apparently unsolvable, even though Agda's size solver is too weak to see this.  The first one, is, for instance,

[code]

which does not hold universally.

Unfortunately, the handling of size-max is not well-developed in Agda yet.

[2016-07-13 16:54] andreasabel commented on #2097
Mmh, I wonder how infinity sneaks in here.  We are almost lucky that Agda does not compute the maximum in these size expressions, otherwise we would only see the uninformative infinity.

[2016-07-13 16:57] andreasabel commented on #2096
We did not check the constraints on the meta solved by give.  (And the check was insufficient.)  Fixed now.

[2016-07-13 16:59] andreasabel commented on #2095
This required some refactoring in the size-solver, to keep track of which interaction metas are constrained and thus should not be solved by infinity (even if the solver did not find a solution).

[2016-07-13 17:02] #2095 closed, assigned to andreasabel

[2016-07-13 17:02] #2096 closed, assigned to andreasabel

[2016-07-13 17:08] andreasabel commented on #2094
Good that is not a one-liner, otherwise the issue might have been wasted. :D

[2016-07-13 18:34] andreasabel commented on #2028
Ha, found the culprit, I think.  Mea culpa.  See `Term.hs`:

[code]

Typical final words...

[2016-07-13 18:52] andreasabel commented on #2028
We fix this by resetting the state to before the attempted type-checking of the extended lambda (which is being postponed).

[2016-07-13 18:54] andreasabel commented on #2093
The issue is fixed (see #2028), but I am still curious why Agda does not solve this meta...

[2016-07-13 18:58] #2028 closed, assigned to andreasabel

[2016-07-14 12:54] andreasabel commented on #2047
Here is a variant of your example:

[code]

Ideally, I would like to see the error displayed as:

[code]

[2016-07-14 18:21] asr commented on #2083
After the above commit, you can run `make quick-install-bin` for installing Agda without installing the Cabal tests-suites.

[2016-07-15 12:27] mietek opened #2099 "The handling of implicit arguments should be improved"
Filling either hole succeeds, but fails on subsequent reload.  This is Agda 2.5.1.1.

[code]

[2016-07-15 12:34] andreasabel commented on #2083
The only flaw in the ointment is that `quick-install-bin` compiles everything from scratch because `[dist-2.5.2/build/autogen/cabal_macros.h changed]`.  That is, unfortunately, not very quick.  And if I do a `install-bin` afterwards, again everything is recompiled.  Which is not quick either.

[2016-07-15 12:54] andreasabel commented on #2099
The problem persists also without instance arguments.

[code]

[2016-07-15 13:18] andreasabel commented on #2099
This is the old problem with eager insertion of implicit arguments.  If `mono⊩ {A} ξ a` is a hole, it's type can be inferred, but if you reload, it is expanded too far to `mono⊩ {A} ξ a {_} {_}`.  Make `C` visible and your plight disappears:

[code]

Related issues are #1079 and #1095.

[2016-07-15 13:34] asr commented on #2083
Cabal correctly changes `cabal.macros.h` depending if or not the `--enable-tests` option is used. Testing...

[2016-07-15 15:38] asr commented on #2083
I don't understand why if a module uses the `CPP` language extension, this module is recompiled. Cabal bug? I filed [this](https://github.com/haskell/cabal/issues/3562) issue on Cabal.

[2016-07-15 16:28] mietek opened #2100 "`where` clauses should not confuse termination checker"
Here is part of an implementation of hereditary substitution with sums and bottom.  Apologies for the amount of code:
https://gist.github.com/mietek/5495b1376a65a738e50ed1f61ec06a93

Filling the holes in the `where` clauses triggers a termination complaint, following a reload.

However, as can be seen by uncommenting one of the two blocks preceding the holes, inlining the `where` clauses or replac

[2016-07-15 19:29] mietek commented on #2100
The issue no longer appears if the code is simplified by replacing the `_⊢ˢᵖ′_⦙_` and `_⊢ˢᵖ″_⦙_` datatypes with a single `_⊢ᵗᵖ_⦙_` datatype:
https://github.com/mietek/hilbert-gentzen/blob/master/IPC/Gentzen/HereditarySubstitution.agda

[2016-07-15 20:33] asr commented on #2083
From the above commit message: "I fixed the needed of recompilation by using a different directory in the quick installation."

[2016-07-16 04:00] asr commented on #2083
From https://github.com/haskell/cabal/issues/3562#issuecomment-233101286: The real Cabal issue was https://github.com/haskell/cabal/issues/1893 which is fixed in master.

[2016-07-16 09:22] andreasabel commented on #2100
`let` behaves just as a substitution, so that the two variants (1. calls inlined, 2. calls in let) behave the same, is expected.  However `where` might behave different, as it creates local functions which are mutual with their parent function.  The termination checker treats them as different nodes in the call graph.  Thus, instead of having a call from `reduce` to `reduce`, there is two calls: `

[2016-07-17 10:08] andreasabel commented on #2055
I agree!

On 21.06.2016 11:54, MatthewDaggitt wrote:

##

Andreas Abel  <><      Du bist der geliebte Mensch.

Department of Computer Science and Engineering
Chalmers and Gothenburg University, Sweden

andreas.abel@gu.se
http://www2.tcs.ifi.lmu.de/~abel/

[2016-07-17 10:43] andreasabel opened #2101 "`abstract` and `where`"
Question raised by Serge Mechveliani, see http://comments.gmane.org/gmane.comp.lang.agda/8721
If a definition has a `where` block, we cannot simply make it `abstract`:

[code]

The reason is that abstract definitions are not translucent in type signature, no matter whether we are in an abstract block or not.  Thus, the definition of `B` is opaque in the type signature for `test`.

However, would n

[2016-07-17 10:45] andreasabel commented on #2101
See also discussion at issue #1485.

[2016-07-17 10:53] andreasabel commented on #2100
Partially shrank it to this (but it is still too long).

[code]

[2016-07-18 11:54] andreasabel commented on #2101
Private type signatures can see through abstract definitions.  Thus, I fixed this issue by making `where`-declarations private automatically.  They can anyway not be accessed from outside.
The situation is different for the form `module M where` of the where-block.  Here, declarations will not be private by default. Thus, one will still get the error for the example above.
However, this works now:

[2016-07-18 11:59] #2101 closed, assigned to andreasabel

[2016-07-19 07:39] andreasabel opened #2102 "Type inference fails for abstract definition with where-block"
[code]

The type of `test` is not inferred, due to the non-relevant `where`-block.

See also #729.

[2016-07-19 08:59] #2055 closed, assigned to andreasabel

[2016-07-19 09:22] Saizan commented on #1703
For anyone following, the development is ongoing at

https://github.com/agda/agda/tree/cubical

with some demonstration/testing code available at

https://github.com/Saizan/cubical-demo

[2016-07-19 09:52] andreasabel commented on #418
The fix is too restrictive.  It does not take into account, e.g., that in private type signatures metas should not be frozen, since abstract definitions are translucent there.

[code]

[2016-07-19 17:01] andreasabel commented on #2102
This bug has been introduced by the fix of #418, which is too crude: Encountering the abstract definition in the where-block freezes /all/ metas.  After that, the type of `test` is frozen and cannot be instantiated to the solution `Set1`.

Trying something better for #418: only freeze metas generated in type signatures of abstract definitions.

[2016-07-19 17:04] andreasabel commented on #2055
Here you go!  (I learned the rules of `abstract` through fixing #2101.)

Some of the genesis of the current semantics of `abstract` is documented at issue #278.

[2016-07-19 19:23] MatthewDaggitt commented on #2055
Thanks, that explains a lot. I'd worked out there was something weird going
on between abstract and private, but that clears it up!
Thanks,
Matthew

On Tue, Jul 19, 2016 at 6:04 PM, Andreas Abel notifications@github.com
wrote:

[2016-07-20 06:27] #2102 closed, assigned to andreasabel

[2016-07-20 07:00] andreasabel commented on #2100
Here is a simplified account of the situation:

[code]

The termination analysis extracts the calls

[code]

and abstracts it to

[code]

Composing calls we get

[code]

and finally

[code]

which could lead to non-termination.

Now the question for the student: Why does `works` work?  :)

[2016-07-20 07:02] andreasabel commented on #2100
Moral of the story: we need a better termination checker!  Can Pierre Hyvernat's do it?

[2016-07-21 14:23] ilovezfs commented on #1945
I fixed this in https://github.com/Homebrew/homebrew-core/pull/3193 since it finally bit a user, at least one who reported it.

[2016-07-21 20:46] asr commented on #1945
@ilovezfs from http://git.savannah.gnu.org/cgit/emacs.git/tree/etc/NEWS.23#n1910, the `byte-compile-disable-warning` function was added in Emacs 23.1. Had you any particular reason to raise the Emacs requirement to 23.4 instead of 23.1?

[2016-07-22 16:30] jespercockx opened #2108 "Internal error in positivity checker"
Here is a minimized example (maybe further minimization is possible):

[code]

This results in the following error:

[code]

[2016-07-22 22:00] miikka commented on #1627
Out of curiosity, I spent some time today looking at making the compiler tests under `test/Compiler/simple` runnable with Node.js. You can execute a test case with something like this:

[code]
- Getting `HelloWorld.agda` pass with Node is as easy as to add `{-# COMPILED_JS putStr function (x) { return process.stdout.write(x); } #-}` to `Common/IO.agda`.
- When you want to use more than one module:

[2016-07-24 11:27] andreasabel commented on #2108
On a first glance, it looks like we reach a projection despite `unSpine` because it has no effect on level expressions.  We could either also call `reallyUnLevelView` before `unSpine` or deal with projections in `occurrences` (needs investigation).

[2016-07-24 18:18] ghost opened #2112 "Build fails using cpphs in some locale environments"
On Ubuntu, with GHC 7.10.3, `cabal install Agda` fails with:

[code]

This is the same with and without the addition to `.cabal/config` suggested in the README under "Note on GHC's CPP language extension".

Thanks for any help.

[2016-07-24 18:51] jespercockx commented on #2112
I had the same problem but I thought it was something specific to my system. I solved the problem by changing the locale (locally) to C.UTF-8 by running the command `LANG=C.UTF-8`.

Since there's now at least two people with this problem we should probably investigate why cpphs doesn't like other locales.

[2016-07-24 19:17] ghost commented on #2112
That also works for me!  Thanks a lot.

I should say that I'm running a [chroot](https://github.com/dnschneid/crouton/), which might mean I have a funny setup or something.  My locales are `en_GB.UTF-8` normally.

[2016-07-24 23:57] asr commented on #2112
@tswilkinson and @jespercockx using your default locale and removing `cpphs` works? That is, could you install Agda using

[code]

?

[2016-07-25 11:32] phile314 commented on #1627
Thank you for your contribution, this makes hacking on the JS backend much more pleasant :-)

I started porting the JS backend to use the intermediate Treeless Syntax as input, you can see my WIP branch here:
https://github.com/agda/agda/tree/treeless-js

The basic stuff works, but quite a few primitives are still missing. The good news is that almost half the tests already work. If somebody wants

[2016-07-25 13:24] #2108 closed, assigned to andreasabel

[2016-07-25 13:48] jespercockx commented on #2108
Thanks!

[2016-07-25 16:29] andreasabel opened #2113 "Rendering of agda code in user-manual"
It would be nice if the Agda-processed code blocks in the rst files of the user manual would be highlighted with the Agda LaTeX backend.

To this end, parametrize the html backend to generate .html.rst.  Rst knows raw html code in this form

[code]

Then, when running the user-manual-test we also generate this .html.rst, and use this as input to Sphinx.

Also, we need to distinguish Comment coming

[2016-07-25 16:43] andreasabel opened #2114 "Failing code blocks"
For documentation and testing of Agda, it would be nice to have `failure` blocks similar to MiniAgda.
This could be realized by putting the to-fail definitions in an anonymous module which is not opened.
Then either scope or type errors can be provoked.

[code]

The pragma has the effect to not open this module and to expect an error.

Alternative:

[code]

This would also wrap it in a new module.

[2016-07-25 19:37] UlfNorell commented on #2114
How would you check that you get the expected error? If it any error would be accepted I don't think it would be very useful for testing (or documentation).

[2016-07-26 08:21] effectfully opened #2115 "A pattern match failure."
[code]

The error is

[code]

If I change the type of `f` to `Term -> Term`, the code type checks fine.

Agda version 2.6.0

[2016-07-26 11:40] andreasabel commented on #2114
For instance, we could add the error id to the pragma

[code]

[2016-07-26 11:51] andreasabel commented on #2115
MWE:

[code]

Probably a missing `reduce`.

[2016-07-26 11:58] andreasabel commented on #2115
Culprit:

[code]

Well, the haddockumentation for getConType says that it expects the type in reduced form.  But no one RTFM.

Blame: https://github.com/agda/agda/commit/38d8537e7ac300479a654f7328e5a690e1991d77

Fix:

[code]

[2016-07-26 12:03] #2115 closed, assigned to andreasabel

[2016-07-26 12:24] jespercockx opened #2116 "Agda gets confused by changing order of projections"
An example:

[code]

This code is accepted and the type of the hole is `Nat`, but filling in `0` and reloading causes the following error:

[code]

I encountered this strange behaviour when looking into #2068.

[2016-07-26 14:33] andreasabel commented on #2116
The equation `R.A test = Nat` is not available when checking the rhs of `R.a test`, since clauses are processed in order.  Thus, reloading should fail.
The problem is that all of the signature is in scope in all interaction points, thus, giving `0` succeeds.
This is an old hat.

[code]

You can give `c` here but can't reload.

I am closing this, feel free to reopen if you want to do something abou

[2016-07-26 14:33] #2116 closed, assigned to nobody

[2016-07-26 14:43] jespercockx commented on #2116
I was thinking we should check the clauses in the order of the projections, not in the order they are given (or alternatively prohibit giving them in a different order). But this would require us to do check _all_ the left-hand sides before checking the right-hand sides, in order to determine the correct order in which to add them.

[2016-07-26 18:38] andreasabel commented on #2116
Yes, if/when we do the "big refactoring" of LHS checking (merging with the coverage checker), then we can do this.

[2016-07-27 11:33] anuyts commented on #2068
It does work for record expressions:

[code]

type-checks fine.

[2016-07-27 18:11] andreasabel opened #2117 "instance keyword ignored in record declaration"
[code]

reports

[code]

Age-old record declaration type-checking misery, see #1720, #1570, #528, #434 for instance.

[2016-07-27 19:06] andreasabel commented on #1963
Agda should show postfix projections for goal type here:

[code]

Currently C-c C-. shows us:

[code]

But I'd like to see

[code]

[2016-07-27 20:12] andreasabel commented on #2117
I managed to fix this one, by making sure `notSoNiceDeclarations` does not forget about `instance`.

[2016-07-27 20:16] #2117 closed, assigned to andreasabel

[2016-07-28 03:28] effectfully opened #2118 "Generated implicit lambdas don't line up with implicit function types."
[code]

Agda version 2.6.0

[2016-07-28 09:46] effectfully opened #2119 "Allow to quote types of type Setω."
Both

[code]

and

[code]

result in "Setω is not a valid type".

[2016-07-28 10:15] andreasabel commented on #2074
This would be an example:

[code]

We don't freeze metas after checking a `where` block.  But we do for a similar external module.

[2016-07-28 13:34] gallais opened #2120 "Ill-typed definition seemingly accepted, provokes internal error"
When I load the following file, it gets typechecked, syntax-highlighted and after that I get an internal error:

[code]

[2016-07-28 14:54] andreasabel commented on #2120
Again (see #2028) a bug in the fix for #1811, offending patch is https://github.com/agda/agda/commit/b6b3f7a257e8fe03396ec1cd5a73878941c1bf56.

What is happening here is that we catch an error and then try to see whether a type delivered by this error is blocked by a meta.  However, this type is only well-formed in the state which is also delivered by the error. The issue is fixed if we reset to t

[2016-07-28 15:23] #2120 closed, assigned to andreasabel

[2016-07-28 17:54] andreasabel commented on #779
Error is now better, pointing out that functions with `with` are illegal before the last `field`.

[2016-07-28 18:03] andreasabel commented on #1720
PROBLEM 1 and PROBLEM 3 is fixed now, see work on #779.  You get a proper error now.

PROBLEM 2 remains open.

[2016-07-28 18:04] andreasabel commented on #779
Rest of the problem should be handled with #434.

[2016-07-28 18:04] #779 closed, assigned to andreasabel

[2016-07-29 12:41] asr opened #2121 "Missing support for haskell-src-exts 1.18"
I'm working on this issue...

In haskell-src-exts (HSE) < 1.18 there are annotated and non-annotated modules. In HSE 1.18, the non-annotated modules were _replaced_ by the annotated ones which were removed.

Agda uses the non-annotated modules.

For supporting HSE 1.18, we need

i) to use the annotated types instead of the non-annotated ones

and for supporting both "versions" of HSE, we need

ii)

[2016-07-29 12:58] phile314 commented on #2121
Do we need to support HSE 1.17? HSE 1.18 didn't introduce any new dependencies as far as I can see, so why not just bump the lower bound? That way we don't need any CPP.

[2016-07-29 13:16] asr commented on #2121
I no see any reason for supporting HSE 1.17. The support for this version of HSE would be handle in the step ii) in the OP. That is, a solution to the question in the OP it is necessary even if we don't support HSE 1.17.

[2016-07-29 13:23] phile314 commented on #2121
Ah yes, I missed that, thanks.

(Bidirectional) Pattern Synonyms could be an elegant solution for the data constructor problem? The only problem is that they are not available in GHC 7.6.

[2016-07-29 13:30] asr commented on #2121
From a previous discussion (see #1972),  it seems we will support GHC 7.6 for a while.

[2016-07-29 13:41] asr commented on #2121
For more clarity, I edited the OP.

[2016-07-29 14:27] jespercockx commented on #2074
Well, but not freezing metas is not the same thing as solving them with a non-unique solution. I agree that we may want to do the former, but the latter goes against (my image of) the philosophy of Agda.

[2016-07-29 16:07] andreasabel opened #2122 "--library-file=GARBAGE should complain about non-existent file"
Current behavior:

[code]

[2016-07-29 17:00] jespercockx commented on #2086
Whew, this took a lot more effort than I initially thought it would take, but it was definitely worth it. See 6771d807d6b3e6274535439d9c3b732d37382347 for all the changes. I managed to remove a lot of old and dusty code in the process.

[2016-07-29 17:00] #2086 closed, assigned to jespercockx

[2016-07-29 18:57] mechvel opened #2123 "Segmentation fault at run-time in Agda 2.5.1.1"
This is on  Agda 2.5.1.1, ghc-7.10.2, MAlonzo, Debian Linux (64 bit).
Please, download this small program from

http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-jul28-2016.zip

`main' prints to string and to output a certain data element  [0].
Instead ,the commands

yield
  Segmentation fault

[2016-07-29 19:02] andreasabel commented on #717
This was not fixed yet.

[2016-07-29 19:21] #707 closed, assigned to andreasabel

[2016-07-29 19:21] #717 closed, assigned to andreasabel

[2016-07-29 19:21] #1720 closed, assigned to andreasabel

[2016-07-29 19:21] #2122 closed, assigned to andreasabel

[2016-07-29 19:23] andreasabel commented on #2086
Ah, yes, I was going to inquire how things are with this issue.  Great you finished!!

[2016-07-29 19:26] jespercockx commented on #2086
Hm, according to travis I broke something, but I'm not sure what. The failing build can be found at https://travis-ci.org/agda/agda/jobs/148365525. Can someone figure out what's going wrong?

[2016-07-29 19:52] identicalsnowflake opened #2124 "Catch-all pattern match"
This isn't a bug per se, but it's an annoying issue which has come up repeatedly for me when using Agda. Consider the following, where everything past line 2 is basically pure mechanical repetition:

[code]

This is enormously verbose -- literally 90% of those patterns are simply syntactic noise. I want to write this:

[code]

But Agda doesn't accept this, even though the path from the latter to t

[2016-07-29 20:03] asr commented on #2086
You can reproduce the problem on Travis running

[code]

and you can fix this particular problem removing the apostrophe from `u'`.

[2016-07-29 20:22] andreasabel commented on #2086
I pushed a small patch after reviewing your big refactoring.

[2016-07-30 10:28] mechvel commented on #2123
Here is a smaller example:

http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-jul30-2016.zip

[2016-07-30 12:21] andreasabel commented on #2086
I pushed a patch fixing the CPP error (renamed `u'` to `u1`).

[2016-07-30 18:41] andreasabel commented on #2086
Mmh, there are more CPP failures...  Ok, this time I wait for

[code]

to complete.  (Takes a while since it compiles everything from scratch.)

@asr: Maybe I should make this the default!?  Or are there other errors that might come when not using these flags?

[2016-07-30 18:50] asr commented on #2086
We are using `cpphs` as the default because `cpp` generates some problems in Mac.

[2016-07-30 19:33] asr commented on #2086
Due to the apostrophe, `cpp` (but no `cpphs`) generates an error of compilation in equations of the form

[code]

Replacing `foo'` by something like `foo''`, `foo1` or `foo_` fix the problem.

[2016-07-30 19:41] asr commented on #2086
The above issue is an [open issue](https://ghc.haskell.org/trac/ghc/ticket/860) in GHC from 10 years ago.

[2016-07-30 22:43] asr commented on #2112
No feedback and I couldn't reproduce the issue using `LANG=en_GB.UTF-8`. Please reopen if necessary.

[2016-07-31 05:46] andreasabel commented on #1963
I think the problem is that `A {{r}}` is a `ProjPrefix` projection, internally `Def r [Proj ProjPrefix A]`, and this is printed as `R.A r`.
(See `Rules.Term.inferHead`).

[2016-07-31 22:58] asr commented on #2121
A nice solution could be to use the new [haskell-src-exts-simple](https://hackage.haskell.org/package/haskell-src-exts-simple) library. Unfortunately, this library [doesn't support GHC < 7.10](https://github.com/int-e/haskell-src-exts-simple/blob/2353fefc16508458225f8e45c4da3a46eb633603/COMPATIBILITY.md#ghc-versions).

[2016-08-01 11:43] andreasabel opened #2125 "REWRITE pragma does not accept qualified name"
[code]

reports

[code]

[2016-08-01 12:26] #2125 closed, assigned to andreasabel

[2016-08-01 13:49] jespercockx opened #2126 "Cannot split when defining irrelevant function (+ bad error message)"
An example:

[code]

Trying to split on x gives the following error message:

[code]

I would expect the splitting to succeed (manually doing the split works), or at least an error message that makes more sense.

[2016-08-01 15:30] andreasabel commented on #2126
This simply works for me both on 2.6.0 and 2.5.2, cannot reproduce...

[2016-08-01 15:38] jespercockx commented on #2126
Sorry, this must've been a result of not cleaning up properly after an experiment. Recompiling Agda fixed it for me.

[2016-08-01 15:38] #2126 closed, assigned to nobody

[2016-08-02 08:11] UlfNorell commented on #1664
On the other hand, having it in the monad makes it hard to write a satisfactory pretty printer for `Term`s, so it would probably make more sense to make it pure and keep the fixity information around at runtime.

[2016-08-02 08:40] ghost opened #2127 "internal error at src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs:1356"
[code]

This illegal data type declaration triggers an internal error in Agda 2.5.1:
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs:1356

[2016-08-02 08:51] ghost commented on #2124
maybe agda should have something similar to coq's tactic that act on every branch.
something like:
induction e; refl.
in coq

[2016-08-02 09:09] jespercockx commented on #2124
One solution would be to expand catch-all patterns _before_ checking the right-hand side. However, this can cause seemingly ill-typed patterns to be accepted by Agda. It's also not clear what the type of a hole should be in this situation, e.g. what would be the type of `?` in

[code]

?

The other solution would be to leverage Agda's reflection mechanism to generate the boilerplate clauses automa

[2016-08-02 09:17] UlfNorell commented on #2123
Minimized test case:

[code]

[2016-08-02 09:32] UlfNorell commented on #2124
It think it's possible already. Here's an idea off the top of my head:

[code]

[2016-08-02 09:32] UlfNorell commented on #2123
For some mysterious reason the compiler thinks that the `Pair` type is erasable. Investigating...

[2016-08-02 09:49] andreasabel commented on #2127
Once upon a time, the parser ensured that inside a `data` declaration there can only be type-signatures.  In the mean time, the parser has been relaxed (for `instance`), but the scope checker still relied on this invariant.

Fixed, should give a proper error now.

[2016-08-02 09:51] #2127 closed, assigned to andreasabel

[2016-08-02 10:17] #2123 closed, assigned to nobody

[2016-08-02 13:37] vlopezj commented on #2113
Keeping in mind that we also want to generate documentation in other formats (at least `.pdf`), I see two ways of going at it.

## Embed raw HTML, LaTeX, etc...

This involves adding a raw block for each supported back end, with an additional "catch-all". For example, one for HTML, one for LaTeX, and one for the rest, with a hacky way of hiding it from both the HTML and the LaTeX back ends.

_Inpu

[2016-08-02 14:42] phile314 commented on #2113
The raw-\* approach would make sure that we always get exactly the same highlighting as with the Agda backend itself, right? I assume this would be harder to ensure for the parsed literal approach?

For rendering, requiring people to locally compile the source files sounds unhandy. Also, this would make it much harder to do pull requests for new contributors. Using Travis for that sounds much bett

[2016-08-02 16:02] andreasabel commented on #2113
Changing the documentation does anyway require to run

[code]

thus, the documentor needs to have a source installation of Agda.
Maybe not for fixing a single typographic error.  (But that one could be fixed in the generated file manually also, when it comes down to it.)

[2016-08-02 16:08] andreasabel commented on #2124
@jespercockx: Well, the context of the meta would exclude the variables coming from the automatic split.  In this case, the meta would be closed (not dependent on any variable).
The type of the meta should be `reifyReduction PolynomialReductions.+-associative p`, we have to do something about the `p` however.  Contextual TT to the rescue!  The substitution (specialization of p) stays outside the m

[2016-08-03 08:05] UlfNorell opened #2128 "Run-time irrelevance not context-aware"
Consider the following:

[code]

I believe `x` should be allowed as an argument to `R` here since we are in an irrelevant context.

[2016-08-03 08:49] vlopezj commented on #2113
@andreasabel Yes. But right now one can simply make a pull request and have Travis run  `make user-manual-test`, without having to install the source version locally.

@phile314
It is possible to match the highlighting style by using the same stylesheet/TeX sty macro files with some modifications:
- For HTML, the classes must be `lower-case-names-with-dashes` instead of `CamelCase`.
- For TeX, the

[2016-08-03 11:07] asr commented on #2113
Generally speaking to solve a problem locally it's more easy than to solve a problem in Travis. Moreover, the local installation shouldn't _too_ complicate and we can help if necessary.

[2016-08-03 13:55] andreasabel commented on #964
A simple solution is this one:  Before serialization, create a new postulate for each open meta and solve the meta with this postulate.
Works, except that in interaction mode, we build the interface before we let the user work on interaction points.  They should not have been solved my postulate at this point.

[2016-08-03 14:59] UlfNorell commented on #2128
After discussion with @andreasabel the conclusion is that it should work even if `r` is not double-dotted, since we are in a type context.

[2016-08-03 15:07] #2128 closed, assigned to nobody

[2016-08-04 09:41] andreasabel commented on #964
I implemented this: metas are replaced by postulates in file imported from the main file, but not in the main file itself.  This allows interaction on the main file.

[2016-08-04 09:42] #964 closed, assigned to andreasabel

[2016-08-06 10:53] effectfully opened #2129 "Inconsistent treatment of `_` in reflection."
[code]

`quoteTerm f` equals `lam visible (abs "A" (lam visible (abs "x" (lam visible (abs "x" (var 1 []))))))`

But if we instead define

[code]

it's an error: `Set !=< A of type Set₁ when checking that the expression A has type A`, because `var 1` there points to `A` rather than `x`, because the `var "_"` binding is ignored wrt interpretation of de Bruijn indices, which is not the case for pis

[2016-08-06 13:33] effectfully opened #2130 "Reflect macroses."
I have a code like

[code]

where `byMagic` is a macros that executes various `TC` actions besides `unify`. Now I want to define `f` via `unquoteDecl` and I'm completely stuck here. Macroses are not reflected (right?), so I need to somehow inline `byMagic`, but `declareFun` requires a pure term and there is no way to purify `byMagic` or move the impure part before `declareFun`. Even if there is a

[2016-08-08 14:07] Saizan opened #2131 "Inference too pessimistic for irrelevance"
The following code reports an error, but is accepted with no constraints if `_` is replaced with `A`.

[code]

[2016-08-08 14:46] effectfully opened #2132 "A "Panic: Unbound name"."
I made a typo

[code]

and got

[code]

[2016-08-08 15:29] effectfully opened #2133 "`quoteTerm` loses information."
[code]

`qd₂` evaluates to `con (quote C₂) (arg (arg-info hidden relevant) unknown ∷ [])` instead of `con (quote C₂) (arg (arg-info hidden relevant) (con (quote C₁) []) ∷ [])`.

[2016-08-08 17:41] andreasabel commented on #2131
This works:

[code]

Agda instantiates the meta with `V`.  It tries to do the same for the non-eta-expanded version (the issue report) and fails as `V` is not in scope of the meta.  However, the error should be caught and the meta left unsolved, as the solution is not unique for irrelevant metas.

[2016-08-08 17:53] #2051 closed, assigned to andreasabel

[2016-08-08 17:53] #2131 closed, assigned to andreasabel

[2016-08-08 19:32] andreasabel commented on #2132
I think no one tried to define a display form for a pattern synonym yet...

Fixed by expanding pattern synonyms on lhs.

[2016-08-08 19:33] andreasabel commented on #2133
You will have to try to get @UlfNorell 's attention to fix the reflection bugs...

[2016-08-08 19:35] #2132 closed, assigned to andreasabel

[2016-08-08 20:05] UlfNorell commented on #2133
This one is working as intended as far as I can see. Data constructors don't store the data type parameters and the only reason you get the any argument at all is to make sure that any implicit proper arguments to the constructor get the correct position (since we don't have named implicits in the reflected syntax).

It would be possible to reconstruct the parameters, but not without a potential e

[2016-08-09 04:55] effectfully commented on #2133
I spent two hours trying to understand "where the hell this unsolved meta comes from", so, as a user, I would characterize this behaviour as at least surprising. Maybe it's worth adding a line somewhere in the documentation that says that `inferType d₂` doesn't return the type of `d₂`.

[2016-08-09 04:59] UlfNorell commented on #2133
Yeah. The problem is that terms are normalised before being reflected so `inferType d₂` is the same as `inferType C₂` without the argument to `C₂`.

I'll add a note to the reflection documentation.

[2016-08-09 06:38] UlfNorell commented on #2133
Also note that `inferType (quoteTerm d₂)` gives yellow, but `inferType (def (quote d₂) [])` does infer the correct type.

[2016-08-09 06:52] #2133 closed, assigned to UlfNorell

[2016-08-09 08:03] #2130 closed, assigned to UlfNorell

[2016-08-09 09:45] UlfNorell opened #2134 "Warnings messing up Emacs buffers"
I get the following behaviour (Aquamacs-23.4.1) on a file with warnings:
- On first load: Info buffer is too big (info + warning = half the window)
- On second load: cursor jumps to info buffer

Simple test file

[code]

I'm not strong enough in the Elisp to fix this, so for now I'm printing the warnings in the together with unsolved metas in the info buffer. Personally I think I prefer this anywa

[2016-08-09 10:03] UlfNorell commented on #2134
I'll leave this open for now if someone (@fredrikNordvallForsberg?) wants to have a go at the underlying problem.

[2016-08-09 10:23] #2129 closed, assigned to nobody

[2016-08-09 11:48] #1943 closed, assigned to nobody

[2016-08-09 12:19] UlfNorell commented on #2118
The reason for the different behaviours is that `unify` is not commutative. It will infer the type of the first argument and then check the second argument against that type. You can demonstrate the different behaviours without using reflection:

[code]

[2016-08-09 12:19] #2118 closed, assigned to nobody

[2016-08-09 12:39] effectfully commented on #2118
I meant to say it's strange for me that quoting-unquoting is not an identity transformation: `id₁ = id` type checks, but `id₁ = m₁` doesn't despite `m₁` being essentially `id`.

[2016-08-09 13:02] UlfNorell commented on #2118
I guess it's the normalisation that gets in the way again. `id₁ = id` means `id₁ {A} = id {A}`, but when you say `id₁ = m₁` you get `id₁ {A} = λ {A} x → x` which is an error.

[2016-08-09 16:30] fredrikNordvallForsberg commented on #2134
Okay, so far, my elisp-fu is also lacking. I think it would be good if we could get the warnings in a window (ie in emacs' sense, a part of the frame) of their own, since they could get lost off the screen among the goals if there are too many of the latter. But, emacs windows handling is annoying.

As a minimal improvement, I suggest that we at least change the displayed name of the info buffer t

[2016-08-09 16:32] UlfNorell commented on #2134
Thanks :)

[2016-08-10 07:28] UlfNorell opened #2136 "Overloaded postfix projections"
Overloading resolution doesn't seem to work for postfix projections:

[code]

[2016-08-10 10:06] andreasabel commented on #2136
F*cking `ScopedExpr`.

[2016-08-10 10:14] #2136 closed, assigned to andreasabel

[2016-08-10 15:36] #2047 closed, assigned to UlfNorell

[2016-08-11 10:12] andreasabel commented on #2134
After merging PR #2137, I am closing this.  Please reopen if necessary.

[2016-08-11 10:12] #2134 closed, assigned to nobody

[2016-08-12 09:13] mechvel opened #2139 "Question: _+-mono_ for Integer"
Nat and Bin are supplied with a proof for  _+-mono_,
but  I do not find such for Integer.
(?)

[2016-08-12 10:26] UlfNorell commented on #2139
Did you mean to file this on the standard library repository?

[2016-08-12 10:26] #2139 closed, assigned to nobody

[2016-08-12 10:52] mechvel commented on #2139
On Fri, 2016-08-12 at 03:26 -0700, Ulf Norell wrote:

I mean a suggestion for Standard library.
If it has not  _+-mono_  for Integer, it would is very natural to add it
there.
Because  Nat and Bin  have such.

---

Sergei

[2016-08-12 12:09] UlfNorell commented on #2139
Feel free to submit a pull request to the [standard library repo](https://github.com/agda/agda-stdlib). This is the repo for the Agda implementation.

[2016-08-12 14:41] fredrikNordvallForsberg commented on #2134
I just realised that the release notes still say "Non-fatal errors and warnings are now displayed in their own emacs window [...]".

Maybe someone who doesn't need to prepare a pull request to do so could change this to e.g. "Non-fatal errors and warnings are now displayed in the info buffer [...]"?

[2016-08-12 14:49] UlfNorell commented on #2134
I'm setting you up with some belated commit rights. Knock yourself out :).

[2016-08-12 14:54] fredrikNordvallForsberg commented on #2134
Ha, that's another way to do it. :)

[2016-08-12 15:27] fredrikNordvallForsberg commented on #2134
Hm, I joined the organisation, but I still get

[code]

when I try to push. Am I missing some repository permissions, or doing something stupid?

[2016-08-12 16:04] UlfNorell commented on #2134
Oh that's my bad. I forgot to add you to any teams. Should work now.

[2016-08-13 01:13] ghost opened #2140 "agda-mode: Highlight operators in fixity declarations"
_∧_ : 𝔹 → 𝔹 → 𝔹
infixr 6 _∧_
tt ∧ b = tt
ff ∧ b = ff

The _∧_ in the fixity declaration will not be highlighted like an operator.

Near as I can tell, the highlight code just figures out that infixr is a keyword, and that 6 is a number, before going -_o_\- at the actual operator.

[2016-08-13 02:01] ghost opened #2141 "agda-mode: Make unicode play well with evil-mode"
Unicode input does not work in normalisation (via C-c C-n) or typechecking (C-c C-d) when using evil-mode.

To demonstrate this, install agda-mode and evil-mode, require evil-mode and load-file agda-mode, then open an Agda source file where you M-x evil-mode, and try to C-c C-n with e.g. '\bn'. Spoiler alert: you'll end up typing literally '\bn'.

[2016-08-13 02:46] ghost commented on #2141
Using unicode in the regular /-search would also be beneficial.

[2016-08-13 05:09] ghost opened #2142 "Bad interaction between agda-mode and fill-column-indicator"
Currently C-c C-a is pretty stupid. Install fill-column-indicator, and add the following somewhere:

[code]

Now you may observe how C-l C-a puts its suggestions on column 79. This is Somewhat Suboptimal.

[2016-08-13 16:01] andreasabel commented on #2140
For Agda, the name `+` is different from the name `_+_`.  The latter can be used infix, but not the former.  Here you go:

[code]

Agreed, Agda could be a bit more helpful here in its error message.

Agreed II, the operator should be highlighted.

[2016-08-13 16:07] andreasabel commented on #2142
Sorry, I don't understand, could you elaborate, please?  `C-l C-a` does nothing Agda-specific on my installation. I am not sure what `C-l` does, but `C-a` just jumps to the first column.

[2016-08-13 16:09] andreasabel commented on #2141
I do not know evil-mode, but the Agda input method can be toggled by `C-\` (e.g. turned on for search after C-s).

[2016-08-13 18:27] ghost commented on #2140
I'm sorry, this was simply a paste gone wrong -- the paste should have been precisely what you wrote. I don't know how that went wrong.

The only issue I wanted to report was the operator highlighting issue.

[2016-08-13 18:29] andreasabel commented on #2140
Ah, ok.
Yes, some markup uses underscores for underline or bold, so things could have become muddled up by cut-and-paste.

[2016-08-13 18:33] ghost commented on #2142
Sorry for the lack of info. I also had a typo -- which I have now edited out of my original post. I meant C-c C-a, not C-l C-a. I.e. I am referring to Agsy.

As an example, try:

id : {A : Set} → A → A
id = ?

Now C-c C-l will give you 'id = { }0', and C-c C-a on that will insert 'λ {A} z → z'. If you have the fill-column-indicator configuration I posted in the original post, it will be inserted t

[2016-08-13 18:43] andreasabel commented on #2140
To fix this problem, the `Fixity` constructor should also store the `Range` of the operator name. Then, the highlighter can extract the necessary information when walking over `Syntax.Abstract.Declarations`.

[2016-08-13 18:55] ghost commented on #2141
I am able to reproduce this when evil-mode is disabled.

Furthermore, if I run with (require 'evil-mode), open an Agda program, and run (turn-on-evil-mode), it still works. It even works using evil-mode's /-search. It also works in the normaliser and in the typechecker.

But, if you have (evil-mode 1) in your configuration, which turns on evil-mode globally -- it doesn't work in search. I don't kn

[2016-08-13 19:06] ghost commented on #2140
I would be willing (and interested!) to work on this if someone could give me some pointers. Could we talk on IRC, XMPP, or similar? If not, and if you have the time, any pointers in here would be helpful. I assume you are talking about adding operatorRange :: Range to the data Fixity of src/full/Agda/Syntax/Fixity.hs, and then doing something to Abstract.hs -- but I haven't done anything with the

[2016-08-14 08:55] andreasabel commented on #2140
Good!  On the way from `Syntax.Concrete` (from the `Parser.y`) to `Syntax.Abstract`, fixity declarations are distributed into `NiceDeclarations` (see `Syntax.Concrete.Definitions`).  Then in `Syntax.Translation.ConcreteToAbstract` the declarations are processed into the `Abstract` declarations, which are later processed in `Interaction.Highlighting.Generate` to extract highlighting information to

[2016-08-14 09:01] andreasabel commented on #2141
Shooting in the dark: could it be that if evil-mode is on globally, then the C-\ functionality is bound to something else globally, even in the search minibuffer?!  [Not very consistent with the fact it works in Agda interaction though...]

Unfortunately, I am not good a emacs-lisp and I am not a vi user at all.  Maybe @UlfNorell knows something, he is a vi user.

[2016-08-14 14:45] ghost commented on #2141
Interestingly C-h k C-\ says "C-\ runs the command toggle-input-method". I'm not an advanced emacs user yet, so I'm not sure how I can check what C-\ is bound to at the moment of attempting to search (either via / or via C-s). Amusingly, I found out that C-h d supports C-\ for some reason. It's all seemingly quite random to me as an inexperienced user.

[2016-08-14 17:46] UlfNorell commented on #2141
I'm a vi user, but not an emacs user (except for Agda coding) and no evil-mode experience.

[2016-08-16 07:12] UlfNorell commented on #1902
The problem is that we do use the `-fwarn-incomplete-patterns` to ensure that `COMPILED_DATA` types have the right constructors. For instance, if you try something like

[code]

you'll get an error (from ghc) complaining that you're missing a cons case. I suppose it might be possible to put these checks in separate modules...

[2016-08-16 08:08] nad commented on #2046
#1914 is closed, and has been closed since before you wrote the comment above.

[2016-08-16 09:33] nad commented on #418
Why and since when are abstract definitions translucent in type signatures of private definitions (in the same abstract block/group)?

[2016-08-16 11:17] andreasabel commented on #418
Since always, it seems.  See the ancient examples in agda/examples/AIM4/bag/.
But I did not know so, either...

[2016-08-16 12:02] nad commented on #2112
[code]

I guess that `cpphs` uses the standard, locale-aware methods to read files. I think all of our source files use the UTF-8 character encoding, so the problem can perhaps be solved by setting `LC_CTYPE` to `<something>.UTF-8` before invoking `cpphs`, for some locale `<something>.UTF-8` that is installed. However, I would not be surprised if it is impossible to do this in a system-independent

[2016-08-16 12:08] nad commented on #1963
Now the prefix dot is used, ambiguously, both for postfix projections and for names that are not in scope. If you want to use the prefix dot for postfix projections, then I suggest that names that are not in scope should be printed in a different way.

[2016-08-16 12:25] nad commented on #2124
No, you can (at least in many cases) get away with fewer cases. For instance, if you have a data type called `ASCII` with 128 nullary constructors, then you can first prove that `ASCII` is isomorphic to `Fin 128`, and then use decidable equality for `Fin 128`.

[2016-08-16 12:43] UlfNorell commented on #418
Doesn't it make sense though? Why wouldn't you be allowed to see through the abstraction in private definitions?

[2016-08-16 13:03] nad commented on #2141
Let's try to figure out where the problem lies.

Load the following code (by placing the cursor right after the final closing parenthesis and typing `M-x eval-last-sexp RET`):

[code]

Now execute the code (using `M-x quick-test RET`) when `evil-mode` and the Agda input method are both active. Is the input method preserved? If not, then I don't think that the Agda mode is to blame.

[2016-08-16 13:09] nad commented on #418
The problem in the original post also applies to private definitions.

No, the following code is rejected when Agda 2.5.1.1 is used, but accepted by the current development version:

[code]

[2016-08-16 13:29] WolframKahl commented on #1902
The easy way would be to document that the new option should only be used after compilation without it passes GHC. And to also document that failures are only expected from `COMPILED_DATA` and from Agda compiler errors.

[2016-08-16 15:13] mietek opened #2143 "Missing documentation for record types"
The wiki says:

Unfortunately, this doesn’t always work:

[code]

[2016-08-16 17:45] jmchapman commented on #2143
I think the problem is that you can't define recursive functions in a record

[2016-08-16 17:57] andreasabel commented on #2143
With Agda 2.5.2, you get a better error message:

[code]

[2016-08-16 21:12] mietek commented on #2143
I’m sorry, but I don’t understand the problem.

@jmchapman: the `[_]⋆` function is accepted as part of `Model₂` — doesn’t that rule out your explanation?

@andreasabel: the error message doesn’t explain _why_ should this declaration be illegal.

[2016-08-16 21:20] jmchapman commented on #2143
@mietek Sorry, I didn't spot that earlier. I didn't realise it was ok at the end. I think the reason is that definitions in records are desugared to lets and in lets you can only define one line constants not functions by pattern matching. However, it would be nice if you could define functions by pattern matching in lets and everywhere in records, and/or the error message could be better.

[2016-08-16 21:30] mietek commented on #2143
Just to be absolutely clear — the following is accepted without any errors.

[code]

[2016-08-17 07:52] ghost commented on #2141
I'm not sure what you mean by "preserved", but I can indeed activate it in this prompt.

[2016-08-17 08:19] nad commented on #2141
I interpret your response as saying that, despite the Agda input method being active just before you run `quick-test`, it is not initially active in the minibuffer. This suggests to me that `evil-mode` messes with the input method in some way.

[2016-08-17 08:19] #2141 closed, assigned to nobody

[2016-08-17 08:47] nad commented on #2143
See #434, #528, #917, #967, #1570, and perhaps other issues as well. I'm not sure if there is an issue tracking problems with the documentation of this quirk before, so I'm not closing this issue.

[2016-08-17 10:03] mietek commented on #2143
I see the issue has been renamed. While the documentation for records could certainly be improved, the problem I tried to describe here is that two separately valid pieces of code are not valid together.

[2016-08-17 11:12] nad commented on #2143
Isn't the problem you described covered by the other issues I linked to?

[2016-08-17 13:49] mietek commented on #2143
No. The closest related issue seems to be problem 3 in #1720.

[2016-08-18 00:42] mietek commented on #2143
I apologise for making a nuisance, but this issue is quite important to me.

@andreasabel, I would very much appreciate it if you could clarify for me whether:
1. `Model₃` should be accepted by Agda but isn’t and therefore this is a bug;
2. `Model₃` should not be accepted by Agda and isn’t and therefore this is a documentation problem.

[2016-08-18 01:21] mietek commented on #2143
For your information, here’s how I’m working around this issue:

[code]

[2016-08-18 07:41] nad commented on #2143
Your problem is that you can't define recursive functions before the last field in a record type declaration, right? This is covered by #434 (see, for instance: https://github.com/agda/agda/issues/434#issuecomment-235684127).

[2016-08-18 10:15] andreasabel commented on #2143
`Model₃` should be ideally accepted by Agda but the current interpretation of record declarations does not support it.  Currently, `Model₃` is not accepted by Agda and therefore this is a documentation problem.

Ideally, someone sits down for a couple of days and changes the interpretation of record declarations as I have outlined in the referenced comment https://github.com/agda/agda/issues/434#i

[2016-08-18 10:31] MatthewDaggitt opened #2144 "Remembering results of previous "with" statements"
Consider the following minimal example:

[code]

To prove `⊔-assoc` it is necessary to prove that `x ⊔ (y ⊔ z) = (x ⊔ y) ⊔ z`. In the first hole, Agda has established that `x ⊔ y = x` and `y ⊔ z = y` and therefore we need to prove that `x ⊔ y = x ⊔ z`.

At this point it feels like that Agda should remember that we've already tested `x ≤? y` and therefore should automatically be able to reduce `x ⊔

[2016-08-18 10:52] andreasabel commented on #2144
Have you already tried the Inspect Pattern?

[2016-08-18 11:02] MatthewDaggitt commented on #2144
Apologies, I'm not quite sure how you would use the "Inspect Pattern" in this instance. As in?

[code]

Still doesn't pick up on it...

[2016-08-18 11:07] andreasabel commented on #2144
No, but it gives you an equality **proof** you can use for further rewriting.

[2016-08-18 12:12] MatthewDaggitt commented on #2144
Ah as in:

[code]

Thanks! That cuts down on the number of lines (albeit at the cost of making the remaining lines a lot longer) but it definitely makes the proof more intuitive to read!

I realise that I know almost zilch about the innards of Agda, and I'm sure it's incredibly complicated, but it still feels like intuitively it should be able to remember the results of previous with statements, m

[2016-08-18 15:32] davdar opened #2145 "explicit module param incorrectly converted to implicit param"
I tried building my code with branch stable-2.5 agda version 2.5.2 and noticed a change in behavior for explicit module parameters. Consider the following code:

[code]

In 2.5.1.1 `f` and `op` have the same type with explicit parameter `A`, whereas in 2.5.2 `op` has `A` as an implicit parameter.

[2016-08-18 16:02] WolframKahl commented on #2145
I think this is due to a language change documented in the release notes:

[code]

(Since I want to be able to use released versions 2.5.1\* for the time being, this currently keeps me  from trying master with my own code..).

[2016-08-18 16:04] davdar commented on #2145
Ah, thanks for the pointer to the docs. I'll mark closed.

[2016-08-18 16:04] #2145 closed, assigned to nobody

[2016-08-19 12:57] asr commented on #2112
A smaller test case:

[code]

[code]

[2016-08-19 13:15] asr commented on #2112
I just filed [this](https://github.com/malcolmwallace/cpphs/issues/6) cpphs issue.

[2016-08-19 16:13] mietek opened #2146 "Unicode syntax for instance arguments"
The documentation states:

Unfortunately, `⦃ ⦄`  is not exactly equivalent to `{{ }}`, because while we are allowed to write `{{F : Foo}}`, we are required to add spaces and write `⦃ F : Foo ⦄`.

Writing `⦃F : Foo⦄` seems more consistent with `(B : Bar)` and `{B : Baz}`.  Can we make these spaces optional?

[2016-08-19 17:53] nad commented on #2146
I think this was intentional. Another example: Currently Agda parses `\x → e` as a λ-expression, but not `λx → e`.

[2016-08-20 16:26] mietek commented on #2146
Indeed. I would also like this fixed.

[2016-08-20 17:06] WolframKahl commented on #2146
On Sat, Aug 20, 2016 at 09:26:18AM -0700, Miëtek Bak wrote:

In my opinion, if there is anything that needs fixing here,
then it definitely is the fact that

Agda is designed for use with predominantly multi-symbol (including multi-letter)
identifiers (and mixfix operator name parts), and in such a context,
I consider it healthy to put spaces between tokens almost everywhere,
just as Agda demands.

[2016-08-21 12:22] andreasabel commented on #2146
Yes, I think the exception for `\x -> e` should not have been there in the first place.

[2016-08-21 15:40] mietek commented on #2146
This reminds me: could we have `@` available for use?

[2016-08-21 19:59] UlfNorell commented on #2146
`@` is used for [as-patterns](http://agda.readthedocs.io/en/latest/language/function-definitions.html#as-patterns).

[2016-08-21 23:31] m0davis opened #2147 "Memory hogging in tail recursion"
Agda uses (much) more memory than required when it typechecks the below code.

[code]

[2016-08-22 08:34] #2147 closed, assigned to nobody

[2016-08-22 08:38] UlfNorell commented on #2093
With `--show-implicits` the mystery is solved:

[code]

[2016-08-22 08:38] #2093 closed, assigned to nobody

[2016-08-22 19:02] CarstenKoenig opened #2148 "Option to use use `stack exec` for GHC backend"
as far as I can tell you use `ghc` for the Haskell (MAlonzo?) backend right now (https://github.com/agda/agda/blob/ffe322de865ec2388ec72d0f37ffd00fcfcde6fb/src/full/Agda/Compiler/MAlonzo/Compiler.hs)

Now when I want to try [Ulf Norells summer school examples](https://github.com/UlfNorell/agda-summer-school) (using 2.4.2.4) I have to grab and install the `agda-ffi` [here](https://github.com/UlfNor

[2016-08-22 20:09] UlfNorell commented on #2148
FWIW you no longer need `agda-ffi` (since Agda-2.5.1).

A flag to customize the call to ghc would make sense though.

[2016-08-23 09:47] mechvel opened #2149 "monot-pred"
Data.Nat.Properties   contains several lemmata about `pred`. And it is will  probably be useful to add

`monot-pred :  pred Preserves _≤_ ⟶ _≤_`

[2016-08-23 10:03] UlfNorell commented on #2149
This is an issue with the standard library, not the Agda implementation.

[2016-08-23 10:03] #2149 closed, assigned to nobody

[2016-08-23 12:48] jespercockx opened #2150 "Internal error in TypeChecking.Substitute"
This bug is triggered by the HoTT-Agda library:

[code]

I haven't had time to minimize the problem yet, but maybe someone can already guess what's going on?

[2016-08-23 17:46] andreasabel commented on #2150
The error is very generic, just says that somewhere an ill-typed term was created...

[2016-08-24 16:12] ghost commented on #1376
Is it even desirable to mess with the TeX input method?

[2016-08-24 16:30] nad commented on #1376
The Agda input method code does not mess with the TeX input method.

[2016-08-24 16:31] nad commented on #1376
@andreasabel, I suggest that you file an Emacs bug report.

[2016-08-24 16:31] #1376 closed, assigned to nobody

[2016-08-24 18:18] identicalsnowflake opened #2151 "Add TC primitive to check left-hand side"
What are the requirements on `normalise` in the reflection API? It seems to behave extremely strangely. I'm not crafting any terms myself directly, just using stuff already obtained from reflection, and using `normalise` on these terms sometimes works and sometimes causes all sorts of strange errors--everything from complaining about dubruijn indexes not being in scope to unsolved metas to stuff t

[2016-08-24 18:44] andreasabel commented on #1376
I sent an email to bug-gnu-emacs@gnu.org with the following content:

[code]

[2016-08-24 19:42] UlfNorell commented on #2151
Can you give some concrete examples?

Some problems are likely due to the fact that normalise needs to infer the type of the term to be normalised. You can use `checkType` instead, which also returns the normal form but takes the expected type as an argument.

[2016-08-24 20:40] identicalsnowflake commented on #2151
Ok, I didn't know I could use `checkType` like that. I think I always have the types handy, so this should work fine.

As for examples, I can at least give you a partial example which will demonstrate my issue. Look at these two definitions:

[code]

When I reflect `nicelyReduces`, the result I get is already normalised (I don't even need to pass it through `normalise`) -- all the fancy implicits

[2016-08-25 05:12] UlfNorell commented on #2151
How exactly are you reflecting it? When I use `getDefinition` on `pathological` I get a definition with a sensible (but not normalised) right-hand side. Calling normalise on the right-hand side works as expected.

[2016-08-25 18:21] identicalsnowflake commented on #2151
When I say I'm "reflecting a term", I'm doing this:

[code]

Sensible, yes: it's not corrupting the term or anything. But why does `nicelyReduces` reduce to normal form when the exact same expression in `pathological` does not? And for me, my `pure` and `>>=` entail proofs of all the laws, so this unreduced form is enormous!

You mean on the resulting `pat-lam`? For me it doesn't change the term a

[2016-08-26 05:19] UlfNorell commented on #2151
Ah, I see now. Pattern lambdas don't reduce. This is not a reflection problem, but just the way they are handled internally. If you define

[code]

and try to normalise with `C-c C-n pathological`, you get

[code]

A potential problem here is that you normalise `t` in the wrong context. Getting the right context could be a bit fiddly though.

To avoid enormous dictionaries you can define instances

[2016-08-26 08:35] nad opened #2152 "--allow-unsolved-metas and --safe can be used together"
[code]

This is a regression:

[code]

[2016-08-26 11:47] nad commented on #2152
Bisection suggests that the problem was introduced by @andreasabel in the following patch (694d31929e18960505293b286718b1a6059f9485):

[2016-08-26 14:19] Araneidae opened #2153 "PDF version of Language Documentation on readthedocs lacks most Unicode characters"
The PDF version of the language documentation available on [readthedocs](https://media.readthedocs.org/pdf/agda/latest/agda.pdf) seems to lack nearly all Unicode characters, for example the code and accompanying narrative on page 6 (for Release 2.6.0) looks extremely odd.

As the [wiki](http://wiki.portal.chalmers.se/agda/ReferenceManual.TOC) directs me straight to [readthedocs](http://agda.readth

[2016-08-26 14:22] gallais commented on #2153
[This seems relevant](https://github.com/rtfd/readthedocs.org/issues/416#issuecomment-61596994). We can maybe generate such a preambule from the list in `agda-input.el`?

[2016-08-26 14:35] asr commented on #2153
At the moment (by using `XeLaTeX` instead of `LaTeX`) you can _locally_ generated a PDF with very few missing Unicode characters running

[code]

[2016-08-26 15:06] jespercockx commented on #2003
I've thought about this some more and come to the conclusion that the feature as it is now is quite ill-conceived, so I've disabled it for now. Hopefully higher-dimensional unification should cover some cases where set-detection was useful. If there is interest in it, I can maybe implement a better version of set detection in the future.

[2016-08-26 15:06] #2003 closed, assigned to jespercockx

[2016-08-26 18:44] andreasabel commented on #2152
Every features that is not secured by a test case is doomed to rot away... ;)

[2016-08-26 19:04] andreasabel commented on #2152
Looking at the cited patch, it seems that it fixed a severe problem: type signatures are not allowed in safe more (see #586).  After the cited patch, your `Bad` case passes, but there seems no connection to `--allow-unsolved-metas`, but it is simply the presence of a type signature.  The blame needs to be put on some other patch...
However, the problem seems easy to fix, by just forbidding the two

[2016-08-26 19:41] #2152 closed, assigned to andreasabel

[2016-08-27 02:41] identicalsnowflake commented on #2151
Yeah I tried to do that. My strategy to do that for a clause body was to knock out unusued dubruijn indexes, then wrap that result term in `lam`s for each used var, normalise this, then reify back to the original db indexes by flipping the first map.

It actually does work somewhat--at least it worked in a lot more cases than simply trying `normalise` on the body, but it still fails a lot when it

[2016-08-30 06:33] UlfNorell opened #2154 "Travis failure"
Travis is currently not building due to a change in `optparse-applicative`.

`tasty-silver-3.1.8.1` is expecting `<>` to be exported from `Options.Applicative`, which it was in `optparse-applicative-0.12.1`. In `0.13.0.0` this is no longer the case.

I'm not sure what the best course of action is, but I can think of a couple of alternatives:
- exclude `optparse-applicative-0.13.0.0`
- notify the t

[2016-08-30 08:14] phile314 commented on #2154
This should already be fixed:
https://github.com/phile314/tasty-silver/issues/10
http://hackage.haskell.org/package/tasty-silver-3.1.9/changelog

Let me know if there is still a problem.

[2016-08-30 08:21] UlfNorell commented on #2154
Yep, looks like travis is building now.

[2016-08-30 08:21] #2154 closed, assigned to nobody

[2016-08-30 14:52] nad commented on #1985
I used the new script `agda-bisect` to find the commit that introduced this regression, and it seems to be the same one as before. (Due to build failures the following commits were suggested: 988fae3a26f4f1adb9edc6e1685317888285f789, ac60cf95b19fec2bd38419a6040d3ab7538cc4c6, e9030d7fd094fa9cd0070398ee7bbff8cffb6c4e, 7d3036bb9640720973f7acf94302babb339dd90c.)

[2016-08-30 15:08] Blaisorblade commented on #1985
@nad Thanks for investigating, makes sense—should you want to re-review that diff, I built back then a splitout version separating the refactorings:
https://github.com/Blaisorblade/agda/commits/topic/refix-892

[2016-08-30 18:25] phile314 opened #2155 "Improve documentation of NaN == NaN"
Following code compiled with GHC backend says `NaN == NaN` is true, which is incorrect:

<pre>
module _ where

open import Agda.Builtin.Float
open import Common.Prelude hiding (_+_; _*_)

print : Float → IO Unit
print x = putStrLn (primShowFloat x)

printB : Bool → IO Unit
printB true  = putStrLn "true"
printB false = putStrLn "false"

_/_ = primFloatDiv
_==_ = primFloatEquality

NaN : Float
NaN =

[2016-08-30 19:57] nad commented on #2155
If you normalise `NaN == NaN` you also get `true`:

[code]

Some code from `Agda.TypeChecking.Primitive`:

[code]

Some code from `Agda.Compiler.MAlonzo.Primitives`:

[code]

[2016-08-30 19:59] nad opened #2156 "Mismatch between Float and Double?"
`Agda.Builtin.Float` contains the following line:

[code]

However, `Agda.Compiler.MAlonzo.Primitives` uses `Double` in the implementation of many (all?) `Float` primitives. Is this intended? Correct?

[2016-08-30 20:08] phile314 commented on #2156
This code is correct. This binds the Agda Float datatype to the builtin Agda FLOAT datatype, which is implemented using Double in MAlonzo.

[2016-08-30 20:09] phile314 commented on #2155
I find this surprising. Normally, `NaN /= NaN`. Does anybody know why equality is implemented this way?

[2016-08-30 20:32] UlfNorell commented on #2155
Subject reduction. You can prove `NaN ≡ NaN` using congruence, so having equality return false would mean we couldn't have decidable equality on `Float`.

[2016-08-30 20:37] WolframKahl commented on #2155
On Tue, Aug 30, 2016 at 01:09:32PM -0700, Philipp Hausmann wrote:

If NaN is a data constructor, then, propositionally, unavoidably, NaN == NaN.
The attitude behind `NaN /= NaN'' probably corresponds to an
`equality semidecision procedure'' point of view ``FPType -> FPType -> Maybe Bool'',
and the re-use of the operator names == and /= for that is unfortunate...
(Equality on floating point represe

[2016-08-30 20:40] mietek commented on #2024
I’m still on 2.5.1.1.  Is this the same issue?

[code]

[2016-08-30 20:48] phile314 commented on #2155
That sounds reasonable. This probably should be documented a bit better, because it's surprising coming from Haskell/Javascript/C etc..

[2016-08-30 20:50] mietek opened #2158 "Panic: Unbound name, take two"
[code]

This might be a duplicate of https://github.com/agda/agda/issues/2024, but seems serious enough to deserve a report of its own.

This is Agda 2.5.2.1.

[2016-08-30 21:05] mietek commented on #2158
Compare:

[code]

[2016-08-31 02:31] m0davis opened #2159 "(another) Memory hogging in tail recursion"
Similar to #2147, Agda uses (much) more memory than required when it typechecks the below code.

[code]

[2016-08-31 04:43] #2156 closed, assigned to UlfNorell

[2016-08-31 04:47] UlfNorell commented on #2155
[It is documented](http://agda.readthedocs.io/en/latest/language/built-ins.html#floats). What improvements are you suggesting?

[2016-08-31 07:15] UlfNorell commented on #2159
Thank you for finding these issues!

The problem here is that substitution is too lazy so we build up a huge thunk in the second argument. It's easy enough to fix but not without a pretty bad performance hit in other places.

I'll poke around a bit...

[2016-08-31 08:16] andreasabel commented on #2024
Agda 2.5.2 does not allow to fill the hole, it complains about `Tm` not in scope.

[2016-08-31 08:19] andreasabel commented on #2158
Agda 2.5.2 complains about `Tm` not in scope.  Maybe you should try also the development version before reporting...

[2016-08-31 08:19] #2158 closed, assigned to andreasabel

[2016-08-31 08:37] nad commented on #2156
Right, I was thinking of `COMPILED_TYPE`.

[2016-08-31 08:39] nad commented on #2158
I don't think we should require that users install the development version before reporting a bug.

[2016-08-31 08:46] nad commented on #2159
This program reminds me of [LateMetaVariableInstantiation.agda](https://github.com/agda/agda/blob/b0eaa5bdb2bc3b30ee7d6e2072b3bc568b54f4fb/benchmark/misc/LateMetaVariableInstantiation.agda).

[2016-08-31 08:48] UlfNorell commented on #2158
I think it's fair in this case since a very similar bug was already reported and fixed.

[2016-08-31 08:54] UlfNorell commented on #2159
Yeah, it's the same problem but building Haskell thunks instead of Agda "thunks".

I believe I have managed to make things strict enough to avoid the memory leak without compromising performance in other places. Commit forthcoming...

[2016-08-31 11:55] nad commented on #2150
@jespercockx, bisection points to 679682397481230b69e16385f6298e26707fd629:

[code]

[2016-08-31 13:45] mietek commented on #2158
Thanks, and apologies. I will do better next time.

[2016-08-31 16:00] phile314 commented on #871
Most of the test/Compiler/simple tests are now enabled for the JS backend, so I'm closing this.

[2016-08-31 16:00] #871 closed, assigned to np

[2016-08-31 17:04] jespercockx commented on #2150
Thanks for running the bisection! At least we know that it's probably got something to do with display forms, so splitting up the big refactoring pays off now. I'll see what I can do.

[2016-09-01 07:06] #2159 closed, assigned to UlfNorell

[2016-09-01 07:27] nad commented on #2063
[code]

[Issue2063.agda-lib](https://github.com/agda/agda/files/448989/Issue2063.agda-lib.txt)
[script](https://github.com/agda/agda/files/448990/script.txt)

[2016-09-01 15:50] scott-fleischman opened #2160 "Put Agda 2.5.1.1 on Stackage"
Stackage only has Agda 2.5.1. https://www.stackage.org/package/Agda

It looks like they disabled Agda on Stackage after the release of GHC 8. Now that Agda builds with GHC 8, it would be great to enable it again.

[2016-09-01 18:32] m0davis opened #2161 "(yet another) Memory hogging in tail recursion"
Similar to #2147 and #2159, Agda uses (much) more memory than required when it typechecks the below code. NB I am drawing this (and the prior two) simple examples from a more complicated case, https://github.com/m0davis/scratch/blob/569a75668ab72263b1c56c756edb779ebcfbc739/Snowflake/AgdaIssue2159-mod2.agda, which tries to rearrange a list of four unique elements.

[code]

[2016-09-01 18:39] UlfNorell commented on #2161
This one is on you, I'm afraid. Agda uses non-strict evaluation, and this is a perfect example of a space leak. You'll get the same memory behavior if you do the example in Haskell.

To fix it you need to make it strict in the second argument (either by matching or using primSeq).

[2016-09-01 18:39] #2161 closed, assigned to nobody

[2016-09-01 18:56] m0davis commented on #2161
Can you provide a definiton of primSeq in Agda? I don't find it in the agda-stdlib or agda-prelude (or hoogle).

[2016-09-01 19:01] UlfNorell commented on #2161
It's a builtin defined in one of the `Agda.Builtin` modules. Look at the builtin section in the manual.

[2016-09-01 19:24] m0davis commented on #2161
I see. Fwiw, here's the worked-out (non-memory-hogging) example using Ulf's recommendation from the docs (https://agda.readthedocs.io/en/latest/language/built-ins.html#strictness)

[code]

[2016-09-02 08:44] vlopezj commented on #2114
@Saizan pointed out that, if there happens to be more than one error in a failing block, which one will trigger is unspecified.

On the other hand, the different phases of compilation happen in a fixed order. So, if not the error id, one could at least specify in the pragma which phase the error belongs to (scope checking, type checking, …).

[2016-09-03 14:48] asr commented on #2160
I created this [PR](https://github.com/fpco/stackage/pull/1841) on Stackage for enabling Agda 2.5.1.1.

[2016-09-03 23:02] identicalsnowflake opened #2162 "Abstract causes solver to crash"
[code]

Trying to solve the hole with C-c C-a yields `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/Interaction/MakeCase.hs:137`

[2016-09-04 18:25] #2162 closed, assigned to andreasabel

[2016-09-05 16:55] andreasabel commented on #2140
Are you working on this?  If yes, you should assign yourself.  I assume "no".

[2016-09-05 16:56] ghost commented on #2140
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 05/09/16 18:55, Andreas Abel wrote:

iQIcBAEBCgAGBQJXzaOyAAoJENQqWdRUGk8B94MP/jLHR8pSntKdIx8D3uhsfh6x
7ejpJJP2/8WwBAStKA3O2sGIpDLuwmA2yG/758HlnmZlUXMONbLLxxcgb1A1MblI
6R1sVzsHr/c939sMIyALoHUc4Ntm89qRCwn8pIAedM/Vb9FLr617qsjLe+goQ80Q
FAmYVromoimSxygp1brCfXg+DrKIbXNl7CahtRP6aEcO0CGKc9dxMwT98AnmDlGc
7hDDxQ5dv0YsCG+LQZWDnnQMRcyfzIPknsLCRMS0eI3esoRXBeI

[2016-09-05 17:11] #2112 closed, assigned to asr

[2016-09-05 18:22] asr opened #2164 "The Travis job for stack is failing"
The job is [failing](https://travis-ci.org/agda/agda/jobs/157689906) because we are requiring the latest version (1.20.2) of cpphs which is not included in the latest LTS.

I guess cpphs 1.20.2 will be included in LTS in a couple of days. Meanwhile, I'll allow the failure of this job in Travis.

[2016-09-06 01:28] asr commented on #2160
The above PR was merged, so I'm closing the issue.

[2016-09-06 01:28] #2160 closed, assigned to asr

[2016-09-06 12:22] jespercockx commented on #2150
I'm looking into this issue now, here's a self-contained example:

[code]

I found one small error in my patch (`size $ namedClausePats cl` should be `size $ clauseTel cl`) but I still get the same error so I don't think that's the problem here. Any ideas are welcome.

[2016-09-06 19:27] identicalsnowflake opened #2165 "Reflection internal error"
Example:

[code]

Crash report: `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/TypeChecking/Quote.hs:178`

[2016-09-07 07:50] #2165 closed, assigned to UlfNorell

[2016-09-07 10:03] asr commented on #2164
@Blaisorblade currently Travis is using LTS 6.2. How can I configure Travis for using a different version of LTS?

[2016-09-07 10:08] Blaisorblade commented on #2164
On my phone, but the LTS version should be named in stack.yaml. I'll take a look today if you'd like.

[2016-09-07 10:29] asr commented on #2164
You are right. Thanks!

It isn't necessary.

[2016-09-07 12:13] andreasabel commented on #418
HQ decision: remove feature "private type signatures can see through abstract definitions".

[2016-09-07 12:39] #2155 closed, assigned to nobody

[2016-09-07 13:22] asr commented on #1285
@jstolarek reported the following error using the master branch:

[code]

[code]

[code]

I noticed that the error in the OP was reported in the `src/full/Agda/Syntax/Parser/Lexer.x` file. Now the error is reported in a different file.

As I mentioned before, @jstolarek has no problems using cpp instead of cpphs.

[2016-09-07 15:21] andreasabel commented on #2150
I see "open public" here, so maybe #892 and friends. :laughing:

[2016-09-07 15:45] asr commented on #1285
@jstolarek which is the output of

[code]

[code]

?

[2016-09-07 15:47] jstolarek commented on #1285
[code]

[2016-09-07 16:04] asr commented on #1285
This isn't an Agda issue. I filed https://github.com/malcolmwallace/cpphs/issues/7.

[2016-09-07 16:10] andreasabel commented on #2150
Further shrinkage:

[code]

[2016-09-08 04:05] #2164 closed, assigned to asr

[2016-09-08 04:52] m0davis opened #2166 "case-split introduces wrong variable name for implicit argument"
Case-splitting on 'y'...

[code]

...yields an error:

[code]

Notice that the name of the implicit is wrong ('y' instead of 'x'). Case-splitting should have yielded something like this:

[code]

[2016-09-08 08:06] #2140 closed, assigned to andreasabel

[2016-09-08 08:32] effectfully opened #2167 "Can't return an irrelevant type: Agda loops."
This eats all the memory on my machine and then I kill agda.exe:

[code]

Agda version 2.6.0.

For my use case I need to return irrelevant types (wrapping them in a record is not a solution in my case), does it make sense to allow such thing and could this feature be added, if it's not already there?

[2016-09-08 09:19] andreasabel commented on #2140
In the end, I followed through with the plan, but there are some things I do not understand, like why ranges of names in fixity declarations get imported if they are not serialized.

Maybe it is good you did not work on this issue after all, with the slightly obscure information flow involved here...

[2016-09-08 09:48] andreasabel commented on #2167
Currently, irrelevance is not a first-class type constructor, but just a modality for the function space.  The former is more complicated, especially to determine when something is of irrelevant type.

[code]

Currently Agda refuses this, but with irrelevant types this could not be refused until the value of `X` is known.
Without a type-theory in the background (that also has a story for meta-vari

[2016-09-08 09:49] #2167 closed, assigned to andreasabel

[2016-09-08 10:38] jespercockx commented on #2167
If this is an unsupported feature, shouldn't Agda at least give an error message instead of looping?

[2016-09-08 10:41] ghost commented on #2140
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

On 08/09/16 11:19, Andreas Abel wrote:

It would be tremendously valuable if we had a wiki that explains the
overview and layout of the compiler, like GHC does. Something like The
Glasgow Haskell Compiler entry for The Architecture of Open Source
Applications would also be useful.

Anyway, thank you for working on this.

---

Alexander
alexander@pla

[2016-09-08 13:06] nad commented on #418
We came up with an example similar to the following one:

[code]

Note that the type of `bad` is ill-formed, because `A` is not equal to `Set <something>`.

[2016-09-08 14:23] andreasabel commented on #2167
It does now.

[2016-09-08 15:36] andreasabel commented on #2166
I think this error is due to the use of `teleNamedArgs` in `Coverage.hs`:

[code]

`teleNamedArgs` just takes the variable names as argument names, which is wrong in general.

[2016-09-08 16:08] andreasabel commented on #2166
@m0davis: Thanks for reporting!  This bug may well be 4.5 years old!

[2016-09-08 16:13] #2166 closed, assigned to andreasabel

[2016-09-08 16:13] WolframKahl commented on #2167
@effectfully: Consider making it a habit to never run agda without a maximum
heap setting, e.g., on a machine with 16G of RAM that you are also using
to run a web browser and other stuff:

[code]

Then the GHC RTS will take care of killing it for you...

[2016-09-08 16:38] nad opened #2168 "Internal error related to coverage checking of functions with clauses of different arity"
The following code triggers an internal error at `src/full/Agda/TypeChecking/CompiledClause/Compile.hs:230`:

[code]

This regression seems to have been introduced by @andreasabel in "Fixed #1986 and #842: allow missing trailing patterns as catch-all" (4b9f6f72a945981d5cd446001200357cfe1c01fd).

[2016-09-08 16:48] phile314 opened #2169 "Float 0.0 == -0.0 makes Agda inconsistent"
[code]

I discovered this due to a similar issue discussed in the Idris bug tracker, the proof comes also from there:
https://github.com/idris-lang/Idris-dev/issues/2609

The proper solution is to use bitwise equality.

[2016-09-08 18:25] effectfully opened #2170 "Two equal irrelevant definitions: one is type checked, the other is not"
[code]

Moreover, if I turn `.(x : A)` into `(x : . A)` Agda loops in both the cases (perhaps solved in #2167?). (What is the difference between `.(x : A)` and `(x : .A)`?)

[2016-09-08 21:15] identicalsnowflake opened #2171 "Irrelevance messes up instance resolution"
[code]

The `{{i : ApplyOp A}}` is definitely there and valid -- manually writing the argument `ApplyOp._<*>_ i` in `blah` will cause Agda to accept it.

This may or may not be related to #2170, but in any case, I'm also experiencing lots of weird issues with attempting to mark irrelevance in my code.

[2016-09-09 05:54] andreasabel commented on #2170
Ah, yes, this seems inconsistent.

[2016-09-09 06:16] #2171 closed, assigned to UlfNorell

[2016-09-09 06:20] andreasabel opened #2172 "Instance search fails when instance meta is exposed"
It makes a difference whether we leave out an instance argument entirely or whether we give an underscore or question mark for it:

[code]

Note also the clever renaming of instance argument `L` to `L_1` that Agda performs (see #2018).

[2016-09-09 06:53] andreasabel commented on #2172
I think the metas created here should inherit the "instance" attribute.

[2016-09-09 10:36] effectfully commented on #2170
@andreasabel, should both the definitions be rejected or accepted?

[2016-09-09 11:02] UlfNorell commented on #2172
Yeah, that would make sense. We need to be careful only to apply it to metas that sit immediately inside an instance argument though.

[2016-09-09 12:16] nad commented on #869
Duplicate of #1314.

[2016-09-09 12:16] #869 closed, assigned to nobody

[2016-09-09 12:51] nad opened #2173 "Interactive highlighting should not be used for terms given in the minibuffer"
Load the following code, and infer the type of the term `Set` in the given goal:

[code]

Result: The highlighting of the first three characters of the first occurrence of `Long-name` is changed.

If the type of `Set` is inferred at the top-level (outside the goal), then interactive highlighting does not seem to be applied.

[2016-09-09 12:53] #2173 closed, assigned to nad

[2016-09-09 13:06] nad commented on #2173
Now the Emacs mode turns off highlighting when input is given in the minibuffer. Previously it did this for (some?) top-level commands, but not for goal commands.

[2016-09-09 14:35] nad opened #2174 "Goalification is broken"
Consider the following code:

[code]

Infer the type of the expression in the goal, and then give the expression. Result:

[code]

Note that Agda has not "goalified" the question mark.

This is a regression, the example is handled correctly by Agda 2.5.1.1. I think the bug was introduced by @andreasabel in 3a6dea615c9b8f160c7d190a65b0ce0e63cdab53:

[code]

[2016-09-09 14:55] andreasabel commented on #869
I cannot reproduce this issue.

[2016-09-09 15:19] nad commented on #869
[code]

Note that the last annotation applied to `Set` (positions 19-22) is `()`, not `(primitivetype)`.

If `B` is removed, then the situation is different:

[code]

Did you forget to activate interactive highlighting?

[2016-09-10 08:29] effectfully opened #2175 "Allow qualification in using/renaming/hiding."
[code]

Would be good to get `D₂.d` parsed. Is it currently possible to open `M` such that only `D₁.d` is brought in scope?

[2016-09-10 09:30] andreasabel commented on #2175
Yes, it is, like this:

[code]

[2016-09-10 09:43] effectfully commented on #2175
@andreasabel, thanks. But it interacts with `open public` strangely:

[code]

Should I open a separate issue?

[2016-09-10 10:12] andreasabel commented on #2175
What is strange here?  Can you elaborate?
If you write

[code]

instead, then `d` is not exported.

[2016-09-10 10:20] effectfully commented on #2175
Ah, sorry, I decided that `hiding (module D₂)` in your `Issue2175` is needed to hide the constructor of `D₂`, but this is achieved via `using (D₁; D₂)`.

[2016-09-10 10:41] andreasabel commented on #2175
Do you still want to pursue the original issue?  (I feel there should be more evidence for its usefulness to further pursue it.)  There are 3 options.
1. Do nothing on this issue.
2. Parse qualified names, but still give an error.
3. Fully support qualified names in import directives.

[2016-09-10 11:16] effectfully commented on #2175
My issue was that I couldn't write

[code]

But after getting your help I can now write

[code]

It seems a bit less nice, but still looks pretty good. So for me all three options are satisfying.

Here is another example:

[code]

instead of

[code]

[2016-09-10 16:18] andreasabel commented on #2175
We can leave it open as a feature request.  Maybe @UlfNorell or @nad have an opinion about it.  For, it seems useful, but there are more urgent things for me to work on.

[2016-09-10 16:21] andreasabel commented on #2174
Maybe `Cmd_infer` should not change the state, should it?  What happens anyway with the meta-variables it creates, do they linger on in the meta store? Looks like a memory leak to me.

[2016-09-10 16:33] UlfNorell commented on #2174
They go away as soon as you reload, so as memory leaks go it's not very serious. It would of course be better to not have it change the state at all.

[2016-09-10 17:10] andreasabel commented on #2174
I am in the process of changing the interaction commands to preserve the state.

[2016-09-10 17:56] andreasabel commented on #2174
Fixed this by taking care that the state is preserved by (most) interaction commands.

Once record declaration checking is properly implemented, my workaround https://github.com/agda/agda/commit/3a6dea615c9b8f160c7d190a65b0ce0e63cdab53 can be rolled back, of course.

[2016-09-10 18:46] andreasabel commented on #2172
This can be fixed as follows (see file `TC.Rules.Term`): In `checkApplication`, replace `checkExpr (namedThing e) a` by `checkNamedArg arg a` where `checkNamedArg` is a new function that does something special if the arg is an `Instance` and calls `checkExpr` otherwise.  Also, the code for cases `A.QuestionMark` and `A.Underscore` in `checkExpr` should be moved into helper functions which are call

[2016-09-10 18:58] #2063 closed, assigned to Saizan

[2016-09-10 20:09] asr opened #2177 "Internal error when using `-v 10`"
[code]

[code]

[2016-09-10 20:17] asr commented on #2177
This is a regression. I couldn't reproduce the issue with 2.5.1.1.

[2016-09-10 20:35] asr opened #2178 "Behaviour of `primFloatEquality 0.0 -0.0`"
After #2169 I noticed that `primFloatEquality 0.0 -0.0` is equal to `true`:

[code]

Is it the expected behaviour? If not, it can be fixed using the bitwise equality (see https://github.com/idris-lang/Idris-dev/pull/3101).

[2016-09-10 20:54] UlfNorell commented on #2178
Duplicate of #2169. `primFloatEquality` needs to match definitional equality.

[2016-09-10 21:03] asr commented on #2178
Since the equalities in both issues are different, I don't understand why the issues are duplicate. In fact, I'll push a commit fixing this issue, but this commit doesn't fix #2169.

[2016-09-10 21:07] UlfNorell commented on #2178
Please don't. The equalities should match, so just changing `primFloatEquality` without fixing definitional equality makes the problem worse.

[2016-09-10 21:07] #2178 closed, assigned to nobody

[2016-09-10 21:08] UlfNorell commented on #2169
When fixing, remember to also fix `primFloatEquality` (both compile-time and the various runtimes).

[2016-09-10 21:15] asr commented on #2178
OK. I can fix `primFloatEquality` replacing in `Agda.TypeChecking.Primitive`

[code]

by (I have no tested the behaviour of `identicalIEEE` with NaN)

[code]

Where I need to look for fixing the definitional equality?

[2016-09-10 21:32] asr commented on #2169
The `primFloatEquality` primitive can be fixed replacing in `Agda.TypeChecking.Primitive`

[code]

by

[code]

 and adding the `ieee754` dependency in Agda.cabal

[2016-09-11 07:05] UlfNorell commented on #2169
For definitional equality you need to change the `Eq` instance for `Literal`.

[2016-09-11 10:50] andreasabel commented on #2177
Yes, I realized this bug recently.  @nad, something for your agda-bisect tool?

[2016-09-11 21:10] asr commented on #2169
That works. Thanks!

[2016-09-11 23:08] asr opened #2179 "LaTeX backend: Error using LuaLaTeX"
The following test cases are failing using a recent version of `lualatex`:

[code]

[code]

Pinging @stevana.

[2016-09-11 23:10] asr commented on #982
I reported in #2179 the current problems with `LuaLateX`, so I'm closing the issue.

[2016-09-11 23:10] #982 closed, assigned to nobody

[2016-09-12 00:25] asr commented on #2179
Invalid. Sorry for the noise.

[2016-09-12 00:25] #2179 closed, assigned to nobody

[2016-09-12 03:35] asr opened #2180 "Why `primShowFloat` returns `0.0` on negative zero?"
This is correctly [documented](http://agda.readthedocs.io/en/latest/language/built-ins.html#floats) that `primShowFloat` returns `0.0` on negative zero. Why?

[2016-09-12 05:16] UlfNorell commented on #2180
Before #2169 it was necessary since `0.0` and `-0.0` were equal and thus should not behave differently. Once #2169 is fixed we can have negative zero show as `"-0.0"`.

[2016-09-12 06:22] UlfNorell commented on #2169
Check list:
- [x] Definitional equality (`Eq Literal`) [06335a4]
- [x] `primFloatEquality` [06335a4]
- [ ] `primFloatLess` (needs `-0.0 < 0.0 == true` to get a total order)
- [ ] `primShowFloat` (show `-0.0` as `"-0.0"`)
- [ ] Backends (all prim ops)
  - [ ] GHC
  - [ ] UHC
  - [ ] JS

[2016-09-12 06:23] UlfNorell commented on #2180
Closing this as it's really part of #2169.

[2016-09-12 06:23] #2180 closed, assigned to nobody

[2016-09-12 06:38] UlfNorell commented on #2169
Looking at the code I noticed that `primFloatLess NaN NaN == true`, which is not good. That should be fixed when changing it for `-0.0`.

[2016-09-12 16:12] andreasabel commented on #2172
Due to the mysteries of `ScopedExpr`, this took me about 2 days... sigh.

[2016-09-12 16:51] andreasabel opened #2181 "Not a splittable variable"
[code]

reports

[code]

The reported type looks also fishy.  De Bruijn mess with module parameters?

Works fine with agda-2.5.1.1.

[2016-09-12 16:57] andreasabel commented on #2181
In the debug output I get

[code]

Thus, the with-variable preceeds the module parameters.  The calculation which variables are interactively splittable (because not module parameters) should be more complicated now, as the module parameters can be shuffled arbitrarily into the argument vector by the with-abstraction.

[2016-09-12 17:03] andreasabel commented on #2181
@UlfNorell: where does a function store which of its arguments are module parameters?
I pass this to you...

[2016-09-12 17:33] effectfully opened #2182 "`getType` treats macroses as regular functions"
[code]

`test` equals `Name -> Term -> TC _` as one might expect,  however I think it's incorrect. `TypeOf` is not a proper function — it's a macro and when it's used it receives only one argument. When it's used it also doesn't return a `TC _`, it returns something else, depending on what `?r` was unified with.

Currently `getType TypeOf` returns (wrapped in the `TC` monad)

[code]

I think it sh

[2016-09-12 18:07] UlfNorell commented on #2182
I think that `getType` does the right thing, but `getDefinition` should indicate in some way that the name refers to a macro. Either as through a new constructor in the `Definition` type, or with an extra bit in the function case.

[2016-09-12 18:51] effectfully commented on #2182
And with that I can implement `getType` as I want it to be. But that change would break existing code most of which doesn't care about reflected macroses. Maybe add a separate `isMacro : Name -> TC Bool`?

[2016-09-12 19:44] UlfNorell commented on #2182
Yes, that might be a nice backwards-compatible solution.

[2016-09-13 09:08] nad commented on #2177
The tool is available in the Agda repository... but here you go:

[code]

(Linked: e0fe94f284fd1f5b3fe880a0417815edf49b4f39.)

[2016-09-13 09:39] andreasabel commented on #2177
Thanks, this is very likely the reason for this `__IMPOSSIBLE__`.  Since error locations can now be outside the current file, we should maybe remove the check whether ranges for error locations are in the current file.

[2016-09-13 09:57] UlfNorell commented on #2181
Hm, that didn't quite do it:

[code]

In this case the value of the module parameter is `m` so my fix gets confused.

[2016-09-13 10:10] #2177 closed, assigned to andreasabel

[2016-09-13 10:20] UlfNorell commented on #2181
Actually, that's not the problem. The problem is that the `m` has been refined to a dot pattern and so is not available for splitting. This is no longer a regression wrt to `2.5.1` so I'll remove that label.

[2016-09-13 11:49] UlfNorell commented on #2181
Fixing this would require a bit of work. I'll close this issue and add a fresh one for this feature.

[2016-09-13 11:49] #2181 closed, assigned to UlfNorell

[2016-09-13 11:55] UlfNorell opened #2183 "Allow splitting on dotted variables"
Since you can now leave dotted patterns as named variables, it would make sense to allow splitting on them when they refer to variables from the module telescope. For instance, in the example below, `m` is really `.n`.

[code]

Allowing this would require moving the dot to the `n` instead.

A complication is that with-functions don't necessarily take the module parameters as their first arguments

[2016-09-13 12:33] #2182 closed, assigned to nobody

[2016-09-13 12:39] UlfNorell commented on #2151
I might be able to get you something like

[code]

where you give a function type and a list of patterns and the continuation gets passed the expected type of the right-hand side and runs in the context computed by the patterns.

[2016-09-13 13:01] UlfNorell commented on #2150
Some further shrinking (removing the `open public`, so there!)

[code]

[2016-09-13 19:07] mechvel opened #2184 "Parse error NO_SMASHING<ERROR> in Agda of September 13, 2016"
I try to use Development Agda of September 13, 2016
on ghc-7.10.2, Debian Linux.

Installing looks successful.
Then
            `agda $agdaLibOpt  ... myProgram.agda`
## reports

...
       Finished Algebra.Operations.
       Checking Relation.Binary.Reflection (/home/mechvel/agda/stLib/0.12/src/Relation/Binary/Reflection.agda).
        Checking Data.Vec.N-ary (/home/mechvel/agda/stLib/0.12/src/Da

[2016-09-13 20:21] identicalsnowflake commented on #2151
So if I break apart a definition and get a `pat-lam`, I could do `checkLHS topLevelSignature pattern1 (checkType clauseBody1)`? Awesome!

[2016-09-13 20:43] UlfNorell commented on #2184
The development version of Agda needs the development version of the standard library (at https://github.com/agda/agda-stdlib).

[2016-09-13 20:43] #2184 closed, assigned to nobody

[2016-09-13 20:46] UlfNorell commented on #2151
That's the idea. I haven't added it yet though :).

[2016-09-13 21:17] nad commented on #2174
Here's a very similar problem. Consider the following code:

[code]

First try to give `F ?`, and then give `F ? ?`. (In both cases the text should be entered in the goal, not in the minibuffer.) Result:

[code]

Note that Agda has not "goalified" the final question mark.

This is a regression, the example is handled correctly by Agda 2.5.1.1. Bisection suggests that the bug was introduced by the

[2016-09-14 08:26] UlfNorell commented on #2150
The problem turned out to be that the display form generation broke down for eta-contracted copies. In the example above we had

[code]

and we tried to generate a display form from a saturated application.

[2016-09-14 08:32] #2150 closed, assigned to UlfNorell

[2016-09-14 12:40] UlfNorell commented on #1664
`primQNameFixity` is now working at compile time and in the GHC backend.

I tried to add it to the UHC backend (8a0b4eb) but failed for mysterious reasons. (@phile314: Help!)

I didn't touch the JS backend because it represents names as strings (which is wrong since it doesn't match the compile-time semantics) and would require some moderate refactorings to support fixity.

[2016-09-14 12:45] mechvel opened #2185 "x1 x2 : T is not parsed in Development version of September 13, 2016"
The code of the kind

`x1 x2 x3 :  ℕ`

`x1 = 1`

`x2 = 2'
...

is parsed in  2.5.1.1  and  is not parsed in Development  version of September 13, 2016.

`halve-sides≤ x y zs (halveCons ls rs ls++rs≡x:y:zs (inj₁ |rs|≡|ls|)) =   ( |ls|<l , |rs|<l )`
`where`
`|zs| : ℕ`
...
causes
 Parse error
)<ERROR>

[code]

[2016-09-14 12:54] #2185 closed, assigned to nobody

[2016-09-14 13:00] mechvel opened #2186 "Idiom brackets should require inner whitespace"
`( |xs|  +  |ys| )`
is parsed in Agda-2.5.1.1 and is not parsed in Development Agda of September 13, 2016.
Probably, this is something about  the character sequences   `( |`  and  `| )`.
Which version is better?

[2016-09-14 13:02] #1937 closed, assigned to Blaisorblade

[2016-09-14 13:04] mechvel commented on #2186
Here   `( |`  and  `| )'   need to be  written without blanks
(I have an impression that the editor has inserted blanks here).

[2016-09-14 13:05] mechvel commented on #2186
One more attempt:

`(|xs| + |ys|)`

[2016-09-14 14:20] UlfNorell commented on #1664
I reverted 8a0b4eb, since it made Travis fail (local tests passed without problems). It didn't do the right thing anyway...

[2016-09-14 14:27] andreasabel commented on #2186
My guess is that `(|` and `|)` are now reserved for idiomatic application (idiom brackets).  See the release notes for Agda 2.5.2.

[2016-09-14 14:39] andreasabel commented on #2186
We should limit parsing of idiom brackets to a flag `--idiom-brackets`.   I am doubting a wide-spread adaptation of the idiom brackets feature.
(I also find the implementation a hacky, it violates our current philosophy of specifying all concrete names with meaning by a BUILTIN pragma.)

[2016-09-14 14:39] UlfNorell commented on #2186
Indeed. In particular [here](https://github.com/agda/agda/blob/master/doc/release-notes/2-5-2.txt#L144-L169).

The parser should however not treat your example as an idiom bracket application since there is no whitespace between the `(|` and the `xs`.

[2016-09-14 14:43] UlfNorell commented on #2186
Hiding it under a flag would certainly prevent wide-spread adaptation...

I'm using idiom brackets to make applicative uses of mixfix operators look not horrible. I suppose there could be some form of builtin declaration to decide which names to use, but for now I think it's enough to make it not conflict with existing code.

[2016-09-14 14:47] andreasabel commented on #2186
Ok, that is fine with me.

[2016-09-14 18:54] asr opened #2188 "Speed up some Travis jobs"
We should use Stackage for speeding up some Travis tests (e.g. `cpp-and-debug`, `haddock` and `ghc-7.8.4-transformers-0.3.0.0`).

[2016-09-14 19:42] phile314 commented on #1664
The UHC Core target language internally uses integer Constructor Tags to distinguish different constructors. I assume the Agda UHC backend produces the wrong constructor tags. Will investigate.

[2016-09-14 21:34] asr commented on #2169
@phile314 for fixing `primFloatEquality` on the UHC backend, I need to use the function `identicalIEEE` from the [ieee746](http://hackage.haskell.org/package/ieee754) package. How can I use this function on UHC?

Right now, I'm getting the following error:

[code]

[code]

[code]

[2016-09-15 06:07] phile314 commented on #2169
Good question. UHC support in Cabal in UHC has been unmaintained and is most likely not working at the moment. Maybe we could use something like Storable to create our own identicalIEEE, if Storable is supported by UHC.

[2016-09-15 06:13] UlfNorell commented on #2169
I suppose you could also implement it using `isNegativeZero` and friends instead of bitwise equality. Something like

[code]

[2016-09-15 08:09] nad commented on #2169
If you don't use bitwise equality, then you need to be careful so that no other operation distinguishes values that should be treated as equal. With bitwise equality there is no such risk.

[2016-09-15 08:16] UlfNorell commented on #2169
Do you know if there are other values that are equal according to the `Eq` instance, but not bitwise equal?

[2016-09-15 09:30] andreasabel commented on #2146
I close this one.  The only thing one could pursue here is change the parsing of `\x -> e`.  If someone wishes to do this, he can reuse this issue and change the title, or open a new one.

[2016-09-15 09:48] andreasabel commented on #2144
I guess `with` is very confusing if you do not understand what it desugars to.  People expect it to work like "smart case" (see #239).  But the wished-for smart case lacks a theoretical foundation...

[2016-09-15 09:48] #2144 closed, assigned to andreasabel

[2016-09-15 14:05] WolframKahl commented on #2169
On Wed, Sep 14, 2016 at 11:07:14PM -0700, Philipp Hausmann wrote:

Just curious: Is UHC currently striving to be a compiler, or is it just used as a compiler development framework experiment?

(Last time I looked (roughly half a year ago), my impression was that it was the latter, and I could not discern any serious aspirations to make it actually useful, that is, generate efficient code. Since th

[2016-09-15 15:51] phile314 commented on #2169
I consider the Agda UHC backend mature and mostly stable, the remaining issues are mostly related to UHC.

As to where UHC is heading, @atzedijkstra can probably answer this better. As far as I know, it would be nice if UHC would be a production-ready compiler, it's just that that would take a lot of work. So being realistic, I personally expect that UHC stays a compiler development experiment for

[2016-09-15 16:33] WolframKahl commented on #2169
On Thu, Sep 15, 2016 at 08:51:58AM -0700, Philipp Hausmann wrote:

That exactly matches my impression and understanding.

Thank you!

[2016-09-15 17:48] mietek commented on #2133
This is surprising, given the purpose of `QUOTE` in Lisp.  Could you explain the rationale for this design decision?

[2016-09-15 17:58] UlfNorell commented on #2133
The purpose is to make the result stable under minor changes to the order of type checking. Depending on the order in which metavariables are solved you might end up with syntactically different solutions to a particular meta, but which nevertheless normalise to the same term.

[2016-09-15 18:10] atzedijkstra commented on #2169
Hi all,

Yes, as much as would like otherwise, I currently only keep UHC in a maintained state so it can be used as it is. There are many ideas for further development but (as so very often) it is lack of time (nonacademic day job) which keeps me from implementing them. In some way that might be good news, stuff will not break because I change stuff :-). I try to fix reported issues occasionally a

[2016-09-15 20:37] mietek commented on #2133
@UlfNorell: Thank you for the answer. Could you clarify whether is it at all possible to use Agda’s reflection facilities to distinguish between two terms that have the same normal form?

For comparison, here’s what happens in Idris:

[code]

[2016-09-16 03:24] asr commented on #2169
I used this function on the UHC backend.

[2016-09-16 03:35] asr commented on #2169
Check list (edited on 2016-09-30):
- Definitional equality (`Eq Literal`)  ✓
- `primFloatEquality` (`0.0` not equal to `-0.0`)
  Agda compiler  ✓
  GHC backend  ✓
  JS backend  ✓
  UHC backend  ✓
- `primShowFloat` (show `-0.0` as `"-0.0"`)
  Agda compiler  ✓
  GHC backend  ✓
  JS backend  ✓
  UHC backend  ✓
- `primFloatLess` (needs `-0.0 < 0.0 == true` to get a total order)
  Agda compiler  ✓
  GH

[2016-09-16 05:26] UlfNorell commented on #2133
No, I don't believe so. Can you explain what it is you want to do when you need this?