[2016-12-21 11:01] ilovezfs commented on #2319
With the directory constraint bumped, 2.5.1.2 builds and tests successfully with 8.0.2 RC2: https://bot.brew.sh/job/Homebrew%20Core/13523/version=sierra/console

[2016-12-21 19:07] andreasabel opened #2353 "LaTeX backend: double space should only serve for alignment, not for extra space"
The LaTeX backend recognizes columns and aligns when they are separated by more than one space.  Thus, two spaces are needed at least to get alignment.  However, putting two spaces have at the same time the meaning of a larger separator.  This means I cannot get alignment without larger separation.

Enhancement request: two spaces should only separate as one space does, but serve as alignment indi

[2016-12-21 21:17] asr commented on #2319
The [.cabal](https://hackage.haskell.org/package/hackage-security-0.5.2.2/revisions/)  file on Hackage of hackage-security was updated allowing directory 1.3.0.0 (thanks @hvr), so I removed the temporal fix and the `--allow-newer=directory` option shouldn't be necessary for installing cabal-install.

[2016-12-22 02:11] JLimperg opened #2354 "Interaction between instance search, size solver, and ordinary constraint solver."
Minimal example (wasn't able to compress it further, sorry):

[code]

The error occurs when checking the last line; the comment there shows a version that doesn't trigger the bug.

Tested with:
- Agda 2.5.1.1, Stackage LTS 7.2
- Agda 2.5.1.2, Stackage LTS 7.2 plus Agda-2.5.1.2 and EdisonAPI-1.3 as extra-deps

[2016-12-22 10:40] ruhatch commented on #2346
Ah, I see, thanks for the tip. The example was a great help, and I am actually using an old version of HoTT-Agda, so that particular bug cropped up in my version of the library too.

[2016-12-22 10:40] #2346 closed, assigned to nobody

[2016-12-22 11:17] asr commented on #2337
I'm preparing the release, so the release-2.5.2 branch is frozen.

[2016-12-22 14:24] asr commented on #2337
Done!

[2016-12-22 14:24] #2337 closed, assigned to asr

[2016-12-22 17:11] andreasabel opened #2355 "Literate Agda parser does not recognize TeX comments"
In a `.lagda` file, this commented-out block
[code]
gives a parse error.

@vlopezj Can you take this issue?

[2016-12-22 17:13] andreasabel commented on #2355
Used to work e.g. in Agda-2.4.2.5.

[2016-12-22 17:20] andreasabel commented on #2354
At least shrinking away the `>>=` was only a matter of five minutes:
[code]

[2016-12-22 17:27] andreasabel commented on #2354
Another 5 minutes to remove the dependency on the standard library:
[code]

[2016-12-22 17:34] andreasabel commented on #2354
And 5 minutes more to remove levels and the indexed monad:
[code]

[2016-12-22 17:37] andreasabel commented on #2354
This worked up to agda-2.4.2.5, must be a regression introduced in 2.5.1.1.

Possibly introduced in https://github.com/agda/agda/commit/6c494513272063f5787af2054791447657ebd85c or https://github.com/agda/agda/commit/405ae1abbc0e9bb67e40a4a0a1522ee336c7042d .

[2016-12-22 17:52] andreasabel commented on #2354
Debug printing:
[code]
It seems that the first try to find the instance is aborted "due to non-rigidly constrained meta".  Then, metas are frozen, and the next instance search is successful.  It triggers constraint solving, which solves a size constraint and then crashes when attempting to set the frozen size met.

[2016-12-22 20:08] andreasabel commented on #2354
The crashing is easily fixed.  But to actually solve the size constraints, we need to attempt it after the instance search and before freezing.  I modified the final actions in mutual block checking to that extend.  Now, we do:
* constraint solving (incl. instance search)
* size solving
* constraint solving again (since some constraints become unblocked by the size solver)

[2016-12-22 20:25] andreasabel commented on #2337
Thanks @asr Andres!

[2016-12-22 20:41] #2354 closed, assigned to andreasabel

[2016-12-23 19:18] atzedijkstra commented on #1857
I have update the lib/runtime (backaned bc only) to also read unicode correctly and released (to hackage) 1.1.9.5.

cheers,
Atze

[2016-12-23 19:35] asr commented on #1857
Thanks!

Did you forget to push the tag (ie. `git push --follow-tags`) in GitHub? I don't see 1.1.9.5 [here](https://github.com/UU-ComputerScience/uhc/releases).

[2016-12-23 19:37] atzedijkstra commented on #1857
I did forget actually :-), should be ok now.

A

[2016-12-23 19:38] asr commented on #1857
It is ok now. Thanks!

[2016-12-23 22:07] #1857 closed, assigned to asr

[2016-12-23 22:41] asr opened #2359 "UHC backend when using UHC 1.1.9.5 prints `1.0` as `1`"
[code]

GHC (8.0.1) backend:    `1.0`
UHC (1.1.9.4) backend: `1.0`
UHC (1.1.9.5) backend: `1`

Note that UHC 1.1.9.5 was required when fixing #1857.

Blocked by https://github.com/UU-ComputerScience/uhc/issues/89.

[2016-12-27 00:25] m0davis opened #2360 "With clause stripping chokes on ambiguous projection"
R.agda:
[code]
S.agda:
[code]
Error:
[code]
There's no such error if `module R` and `R.agda` are renamed to something else. Alternatively, if, in S.agda, the imported record is renamed (i.e. `open import R renaming (R to R1)`)

[2016-12-27 15:04] ahmadsalim opened #2361 "Allow support for pattern matching function binders"
Currently, defining functions which depend on a specific sub-component of a record element requires a bit of work.

Either you have to use the record projections explicitly each time you need a subcomponent, like so:

[code]

Or you need to have a pattern matching let in the function signature, like so:

[code]

It would be nice if it was possible to have an in-line way of pattern matching for rec

[2016-12-28 10:46] andreasabel commented on #2360
This situation can also be triggered without `import`:
[code]

[2016-12-28 11:21] #2360 closed, assigned to andreasabel

[2016-12-28 11:23] andreasabel commented on #2360
Fixed.  This was an omission when implementing feature #1944.

[2016-12-28 11:28] andreasabel commented on #2361
Coq 8.6 has this feature now, so it would be good if we followed suit.
The question is whether we should make the parentheses around each non-refutable pattern mandatory, but I think, this would be safest (and fully backwards compatible).  Consider
[code]
`p` is the new feature.  `q` now means to bind two variables `c` and `x` of type `R`, but I think we should throw an error now that the binding

[2016-12-29 15:07] andreasabel opened #2362 "Printing of parent patterns when with-clause does not match"
[code]

[2016-12-29 16:33] andreasabel opened #2363 "Allow underscore in with-clause patterns"
Why not allow `_` in with-clause patterns to avoid boring repetition.
[code]
Of, course, `_` does not bind any variables, but it makes sense if the variables are anyway not used.

[2016-12-29 16:41] andreasabel opened #2364 "With-clause stripping for Nat literals reports the diff (funny)"
[code]
reports
[code]

[2016-12-29 16:54] andreasabel opened #2365 "Matching against negative literal"
[code]
reports
[code]

[2016-12-29 17:25] andreasabel commented on #2365
Fixed the crash (pushing soon).  Ideally, we would be able to type check this:
[code]
but we get a
[code]

[2016-12-29 17:39] andreasabel commented on #2364
Two things:
1. This is an artifact of `TypeChecking.Pattern.Abstract.expandLitPattern` which replaces Nat-literals by their unary notation suc^n zero.
2. But also, it does not report the error between the user-written patterns, but what ever mismatch the stripping algorithm encounters on the way. Example
[code]
reports
[code]
Maybe that's ok.

[2016-12-29 17:41] andreasabel opened #2366 "With-clause patterns renamed in error message"
[code]
reports
[code]
Note the `x₁`!

[2016-12-29 18:57] andreasabel commented on #2366
This was easily fixed by putting a `noTakenNames` before the printing of the with-clauses in `AbstractToConcrete`.

[2016-12-29 19:07] #2362 closed, assigned to andreasabel

[2016-12-29 19:07] #2366 closed, assigned to andreasabel

[2016-12-29 22:34] m0davis opened #2368 "Internal error after refining a tactic @ MetaVars.hs:267"
This one seemed a bit too daunting for me to simplify. It uses agda-prelude.
[code]
Refine (C-c C-r) the hole containing `m≮n`, then refine (without reloading) the last hole. The result is:
[code]

[2016-12-30 07:22] mietek opened #2369 "“Module cannot be imported since it has open interaction points” should always point to module"
Agda 2.5.2 likes to say “Module cannot be imported since it has open interaction points”.  This message should include the module name.

It would be nice if the Emacs mode also automatically navigated to the offending module.

[2016-12-30 11:24] andreasabel commented on #2369
My test case gives an error location, which shows the name of the module.
[code]
[code]
Error:
[code]
Could you please upload a MWE which lacks the module name in this error message?

[2016-12-30 11:27] andreasabel commented on #2368
That's for @UlfNorell then, I suppose.

[2016-12-30 12:22] m0davis commented on #2368
Sorry. I'll buckle down and make a simplified error case.

[2016-12-30 12:37] m0davis commented on #2368
Heh. It wasn't nearly so hard as I imagined it would be:
[code]
Load it, refine the first `Term`, then (without reloading, of course), try to refine the second `Term`, and voilà, an error at MetaVars.hs:267.

[2016-12-30 14:48] andreasabel commented on #2368
Thanks.
I tried to simulate a similar interaction pattern without reflection:
[code]
There is a postponed type checking problem `_9 := c ? ? :? _8`.
If I try to give a `d`, I get
[code]
This is because the type checker never reached the two interaction metas; they are unnumbered question marks in the postponed type checking problem constraint.

In your example, Agda did reach the interaction point

[2016-12-30 14:50] andreasabel commented on #2368
A solution would be to never remove interaction points from the store, rather just mark them as solved.
I am implementing it.

[2016-12-30 15:43] #2363 closed, assigned to andreasabel

[2016-12-30 15:57] #2368 closed, assigned to andreasabel

[2016-12-30 16:02] andreasabel commented on #2364
@UlfNorell : Is there a good reason why Nat-literal patterns are expanded to constructors (other than to have some code non-monadic)?
The current solution also has this funny effect:
[code]
You can only match against literals up to 20.

[2016-12-30 16:22] andreasabel commented on #1886
[code]
It seems unnatural that the data type signature should dictate the name of the hidden arguments of the constructors, since it might be far away from the constructors.
Would it then give the names for those parameters that have been omitted by the data type definition?
[code]
I think we have less trouble if we require names and types to match, but we could allow hidden arguments to be omitte

[2016-12-30 18:43] UlfNorell commented on #2364
I can't remember, it's been like that from the very beginning. I suppose it simplifies things for the coverage checker...

[2016-12-30 20:34] andreasabel commented on #1886
I implemented my proposal (given in the previous comment).

[2016-12-30 21:04] subttle opened #2371 "Shadowed module parameter crashes interaction"
Good day,

I have narrowed this error down to being reproducible for me with a 2-line file, test.agda.
[code]
Then asking for the normal form of, for example, `true`, I get the following error:

I'm using OS X 10.11.6, Agda 2.5.1.1, and agda-stdlib 0.12. As a work around, I've just renamed the Σ in my project.

For quick reference, here is the code being imported.

https://github.com/agda/agda-std

[2016-12-30 23:37] andreasabel commented on #2371
I can confirm this for the current development version.
[code]

[2016-12-31 00:11] andreasabel commented on #2371
There was some buggy code dealing with a shadowed module parameters when preparing the context for the execution of top-level interaction commands. I fixed it.

In general, it is not good to shadow a module parameter by an import. Both the parameter and the imported symbol will be considered ambiguous.

@subttle: I suggest to place the import outside of the module (or to use the `hiding` directive

[2016-12-31 00:26] #2371 closed, assigned to andreasabel

[2016-12-31 01:30] mietek commented on #2369
Good question. I'm positive I've had a case where there was no message after what I quoted, but I cannot reproduce that right now.

[2016-12-31 09:33] m0davis opened #2372 "problems when instances are declared with inferred types"
Agda properly complains that `Terms marked as eligible for instance search should end with a name`, but the error message can come come too late, confusing the user. This happens when the invalid instance declaration's type is inferred.
[code]

[2016-12-31 09:44] andreasabel opened #2373 "Parse {{...}} in module applications"
[code]
The last statement gives a parse error, but it would make sense to parse this.

[2016-12-31 09:50] andreasabel opened #2374 "Ambiguous projection pattern could be disambiguated by visibility"
Currently, the order matters when we have ambiguous projections that are only distinguished by hiding:
[code]

[2016-12-31 09:52] m0davis commented on #2372
Probably related: Agda doesn't find the instance when it's declared in a separate file.

M1.agda
[code]
M2.agda
[code]

[2016-12-31 12:57] andreasabel commented on #1976
I am fixing this according to @nad's suggestion.  I added a check for the parameters, similar to the one for constructors.

[2016-12-31 13:13] #1975 closed, assigned to andreasabel

[2016-12-31 13:13] #1976 closed, assigned to andreasabel

[2016-12-31 13:13] #2374 closed, assigned to andreasabel

[2016-12-31 13:26] andreasabel commented on #1834
This is nothing copattern specific:
[code]
This fails as well.

Thus, I consider this issue fixed.

[2016-12-31 13:26] #1834 closed, assigned to andreasabel

[2016-12-31 15:54] andreasabel commented on #2369
I think I also encountered this message once without the "when checking" clause.  If you happen to reproduce it, please reopen this issue.  Thanks!

[2016-12-31 17:09] asr opened #2375 "Musical coinduction regression"
[code]

The example type-checks with Agda 2.5.3-[0bca11e](https://github.com/agda/agda/commit/0bca11e868fa15a6c967ccc4cf0ee7962360a65a).

[2016-12-31 19:43] asr commented on #2375
I got the error in my own version of Agda. Invalid.

[2016-12-31 19:43] #2375 closed, assigned to nobody

[2017-01-01 14:44] gallais opened #2376 "Termination checking interacts badly with eta-contraction"
`∈-filter` and `∈-filter⋄` are two mutually-defined functions which Agda happily accepts as terminating. However η-contracting `∈-filter` yields a termination error.

[code]

[2017-01-01 17:00] andreasabel commented on #1899
If we reduce to whnf during positivity checking, we will loop as soon we define a looping term, rather than when we eliminated the looping term.  For instance `test/Succeed/Hurkens` (with `--type-in-type`) will loop.  Anything which produces a big whnf will quasi-loop, see `test/Succeed/Issue1351`.  Therefore, I am hesitant to perform reduction in function definitions for positivity checking.
Howe

[2017-01-01 17:15] andreasabel commented on #1544
Inlining non-recursive functions could still be non-terminating, or a performance killer, see https://github.com/agda/agda/issues/1899#issuecomment-269910492
The fix for #1899 fixed the test case above.

[2017-01-01 17:15] #1544 closed, assigned to andreasabel

[2017-01-01 17:41] andreasabel commented on #2229
I am opening a new issue for the useless `public` import.

[2017-01-01 17:48] andreasabel opened #2377 "open public is useless before module header"
This should be a warning or error:
[code]
Currently, it is simply ignored.

[2017-01-01 17:52] #2229 closed, assigned to andreasabel

[2017-01-01 19:25] andreasabel commented on #2377
I implemented a new warning `UselessPublic` for this.  It applies also to let-statments now.

[2017-01-01 19:25] #2377 closed, assigned to andreasabel

[2017-01-01 21:00] andreasabel commented on #2372
I fixed this by keeping track in aliases like `i` and `iR` that they are instances.  Before, this information was only in the type signature `FunSig` not in the definition `FunDef`.  Handling of aliases was thus broken.

[2017-01-01 21:03] vlopezj commented on #2355
I'll take a look.

[2017-01-01 21:14] andreasabel commented on #2365
The original test case now passes the type checker, which is not intended, I guess. `-20` just is not a natural number.

However, the infrastructure for negative literals seems underdeveloped as of now.
[code]
Negative literals pass as `Nat`.  @UlfNorell: What _is_ the intended type of a negative literal?

[2017-01-01 21:16] #2372 closed, assigned to andreasabel

[2017-01-02 00:20] asr opened #2378 "Case spliting and parametrised modules"
[code]

When case splitting (C-c C-c) on `b` Agda generates

[code]

Note that the `Bool` data constructors are qualified with the module `Foo`.

Now, If I remove the parameter `(n : Nat)` from the module `Foo`, case split on `b` generates

[code]

That is, the `Bool` data constructors aren't qualified.

Is this behaviour (qualified the data constructors) of case splitting on parametrised modules

[2017-01-02 03:11] tomjack commented on #2170
Here is a possibly related proof of false, using just irrelevant projections:

[code]

[2017-01-02 07:06] andreasabel commented on #2378
No, this is not intended, it is known as issues #1932 and #2245.

Display forms are so far only used for terms, not for patterns.  I started working on making terms remember more information that only patterns remember now (see e.g. #2326).  The goal is, in `Syntax.Translation.InternalToAbstract`, to convert patterns to terms, use the display form machinery there, and convert back to patterns.

[2017-01-02 12:33] asr commented on #1932
The above [test case](https://github.com/agda/agda/issues/1932#issuecomment-261574229) doesn't type-check. In the line `open N B` I got the error:

[code]

[2017-01-02 12:45] asr commented on #1932
I added the following missing line to the OP:

[code]

[2017-01-02 13:00] asr commented on #2378
Duplicate of #1932.

[2017-01-02 13:00] #2378 closed, assigned to nobody

[2017-01-03 09:08] UlfNorell commented on #2365
In right-hand sides `-20` desugars to `FROMNEG 20`. There's no support for negative literals in left-hand sides at the moment. I suggest to fix this issue by giving the proper error message (negative literals not supported in patterns, or some such), and opening a new feature request for negative literal patterns.

[2017-01-03 11:30] jespercockx commented on #1993
I added a new pragma to mark a specific datatype as injective in https://github.com/agda/agda/commit/6e65e6f1c9d029bc361fcf845fa76c183eb621b4

[2017-01-03 15:57] asr commented on #2355
@vlopezj, please add the 2.5.3 milestone to this issue.

[2017-01-04 14:40] gallais opened #2381 "Search (`C-c C-z`) panics on pattern synonyms"
In the presence of pattern synonyms in the context, the search functionality (`C-c C-z`) panics. E.g. looking for "Z" triggers:

[code]

[2017-01-04 17:35] gallais commented on #2376
Minimal example:

[code]

[2017-01-04 17:50] mietek opened #2382 "C-u C-u C-c C-n broken; “Not in scope: show at 1,1-5 when scope checking show”"
In Agda 2.5.2, attempting to normalise any term results in an error.

[code]

### Example

[code]

| Command | Input | Output |
| -- | -- | -- |
| `C-c C-n` | `A` | `A` |
| `C-u C-c C-n` | `A` | `A` |
| `C-u C-u C-c C-n` | `A` | error |

[2017-01-04 18:10] mietek commented on #2382
Sorry, this is my mistake.  The documentation for [Emacs mode](http://agda.readthedocs.io/en/latest/tools/emacs-mode.html#global-commands) lists `C-c C-n` as the normalise command, while `C-u C-u C-c C-n` is a newly-introduced command that expects `show` to be in scope.

The reason for my confusion is simple: I’ve trained myself to use the `C-u C-u` prefix whenever I wish to see a normalised term,

[2017-01-04 18:10] #2382 closed, assigned to nobody

[2017-01-04 18:41] andreasabel commented on #2376
To fix this, we could `etaExpandClause` (with a better implementation than the current) on the clauses before termination checking.

[2017-01-05 02:17] xekoukou commented on #2146
Given that the parser does not give a good error message, people can be confused with the difference between ```\{{``` and ```{{```. It should definitely be put in the documentation on the instance arguments section.

[2017-01-05 06:07] m0davis commented on #2361
@andreasabel, why do you say it would be "fully backwards compatible" when `q` and `r` would now fail? (Also, unimportantly, note that the example you gave would have a type error in each of the postulates, since `R` is `Set → Set`. ...but I know what you meant.)

[2017-01-05 06:09] m0davis commented on #2361
How about we abuse the `let` keyword? Following the [example above](https://github.com/agda/agda/issues/2361#issuecomment-269464717),
[code]
`p` is the new feature. `p₂` is the same but binds `x` and `y`. `p₃` is like `p₂` but also binds `z` in way we all have come to love. `q` and `r` work as they do now (fully backwards compatible!). In `r₂`, `c` would be shadowed, and so would fail.

[2017-01-05 06:10] m0davis commented on #2361
This issue might overlap some with #2298. Just saying.

[2017-01-05 14:58] andreasabel opened #2384 "More fine-grained blocking in constraint solver"
Martin Escardo reports that the hole was automatically solved in 2.5.1.1, but no longer in 2.5.2:
[code]

[2017-01-05 15:28] andreasabel commented on #2361
Ok, not fully backwards compatible, but compatible when we include the change contemplated in #297.
Mmh, the `let` does not look good here (defies aesthetics, in my eyes).

[2017-01-05 16:46] andreasabel commented on #2376
I implemented this, but it comes at the cost of worse error messages: expanded calls reported.

Ok, after considerably more effort, the error messages are as accurate as before.
I noticed that some error messages are anyway bad, since Agda eta-contracts function bodies.
[code]
becomes simply
[code]
and gives a sub-optimal termination error.

[2017-01-05 18:47] #2376 closed, assigned to andreasabel

[2017-01-05 18:56] andreasabel commented on #2365
Ok, I close this then, and leave it to someone who is interested in negative pattern literals to open a feature request.

[2017-01-05 18:56] #2365 closed, assigned to andreasabel

[2017-01-05 19:08] andreasabel commented on #2381
I wonder whether your `collectNamesIn` functions are crucially different than `getDefs`, see https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Internal/Defs.hs.
If yes, please document the specifics of `collectNamesIn`.  Otherwise, please consider using getDefs.

[2017-01-06 16:48] m0davis opened #2386 "Relax requirements of BUILTIN EQUALITY"
The current requirement of a BUILTIN EQUALITY is for a universe-polymorphic one in the same universe as the equated type:
[code]
@andreasabel suggests [here](https://lists.chalmers.se/pipermail/agda/2017/009186.html) that the requirement should be relaxed to allow for universe-polymorphic in Set₀ or for Set₀ in Set₀:
[code]
It occurs to me that some or all of the following variants might also be a

[2017-01-08 14:30] andreasabel commented on #730
In the same way, REFL is not needed by implicit in EQUALITY.  See #2389.

[2017-01-08 15:10] andreasabel opened #2389 "BUILTIN REFL not needed"
BUILTIN REFL can be subsumed by BUILTIN EQUALITY.  See #730.

[2017-01-08 15:11] #730 closed, assigned to andreasabel

[2017-01-08 15:26] #2389 closed, assigned to andreasabel

[2017-01-10 01:37] asr opened #2392 "LaTeX-backend is not tested on some test cases of the latex-html test suite"
See https://github.com/agda/agda/issues/1675#issuecomment-271475660 and https://github.com/agda/agda/issues/1675#issuecomment-271955029.

[2017-01-10 03:17] asr commented on #1675
@phile314, after removing `pdflatex` from my computer, by running `make latex-html-test` I would expect a fail in every file in `test/LaTeXAndHTML/succeed/` but I only found a fail in the following files:

[code]

Why the other files didn't fail? I see this is related to the existence of a `.compile` file...

[2017-01-10 11:12] nad commented on #2353
What does this mean? I suggest that we follow lhs2TeX with the `--poly` option, and stick to two categories: "one space" and "two spaces or more".

[2017-01-10 14:46] nad commented on #2384
Bisection suggests that this regression was introduced by @fredrikNordvallForsberg and @gallais in "Add warnings machinery" (56c804c51a22de785c6465a66564f4b363e99118). However, I think this is a false positive. I looked at this commit, and didn't see anything that could trigger the problem reported above. This version of Agda does reject the code above:
[code]
However, when I load `Bug.agda` in Em

[2017-01-10 14:57] #1912 closed, assigned to asr

[2017-01-10 16:15] nad commented on #2384
Another attempt:
[code]
Perhaps this meta-variable *shouldn't* have been solved. @UlfNorell, do you want to take a look?

[2017-01-10 17:19] andreasabel commented on #2353
Indeed, what I said about "Three spaces..." does not make a lot of sense.

[2017-01-10 17:33] andreasabel commented on #2386
I think we only need equality `Eq` to be a relation, i.e., of type `{xs:As} (x y : B) -> Set l` for some `As`,`B`,`l`, and `refl` to be the diagonal, i.e., `{xs:Cs} -> Eq xi xi`.

[2017-01-11 01:56] asr opened #2394 "Master branch was merged into the stable branch"
@vlopezj, the PR #2393 was based on the master branch and you merged it.

I see the commit in that  PR in the stable-2.5 branch too. How did you "move" the commit from the master branch to the stable-2.5 one? I'm asking because the commit has the *same* hash (5703d8bc86849669c4cc2df0889c7eb0f37ffdf4) in both branches. This should not happen if the commit was cherry-picked from the mater branch int

[2017-01-11 02:38] asr commented on #2394
NO merge stable-2.5 in your local repository.

[2017-01-11 02:41] vlopez commented on #2394
I think you mean @vlopezj

[2017-01-11 02:44] asr commented on #2394
I don't know what happened. Even I don't know if I am the the culprit. Anyway, I see two options to fix the problem:

We erase stable-2.5 and

1. Someone with a good stable-2.5 push it in GitHub or

2. Since the current difference between master and stable-2.5 is small, we create the new stable-2.5 from master.

In any case, after the fix, everyone should remove your local copy of stable-2.5 and p

[2017-01-11 02:46] asr commented on #2394
Oops, sorry. You are right.

[2017-01-11 08:54] nad commented on #2394
Please don't force everyone to do this. Can't you just add some kind of rollback commit?

[2017-01-11 08:56] nad commented on #2386
Is this sufficient for `primTrustMe`? What if `refl` is a definition that computes to something else?

[2017-01-11 09:06] nad commented on #2207
That fix was intended for where modules. Now I have to (?) jump through hoops if I want to have multiple independent abstract blocks in a file:
[code]

[2017-01-11 09:20] nad commented on #2207
I can see why the following code should be accepted (Agda 2.4.2.3 rejects it):
[code]
However, it's less clear to me that the following code should be accepted:
[code]

[2017-01-11 10:49] vlopezj commented on #2394
@asr It was almost certainly my fault. See [log_2017_01_10.txt](https://github.com/agda/agda/files/698534/log_2017_01_10.txt).
The difference was small and it was a fast-forward commit, so I assumed everything was all right (it wasn't).

Here's what stable-2.5 looked like before I messed up:
https://github.com/agda/agda/tree/good-2017-01-10-stable-2.5

[2017-01-11 12:53] asr commented on #2394
Yes. Starting...

[2017-01-11 13:57] #2394 closed, assigned to asr

[2017-01-11 13:58] andreasabel commented on #2394
This seems relevant: http://stackoverflow.com/questions/7099833/how-to-revert-a-merge-commit-thats-already-pushed-to-remote-branch

[2017-01-11 14:06] andreasabel commented on #2394
@vlopezj: Latest here you alarms should have gone off:

[2017-01-11 14:11] asr commented on #2394
After pulling the current stable-2.5, you can continue with your usual work-flow.

[2017-01-11 17:17] andreasabel commented on #2386
The type of `primTrustMe` should be `{xs:As} {x y : B} -> Eq {xs} x y`.  `refl` is a constructor of `Eq` with full type `{xs:As}{x:B} -> Eq {xs} x x`. This should work.

[2017-01-11 18:36] phile314 commented on #1675
Yes, according to the code, that's whats happening. See https://github.com/agda/agda/blob/master/test/LaTeXAndHTML/Tests.hs#L93-L108 .

It was quite some time ago, but I think the .compile files were already used by the old Makefile-based test runner.

[2017-01-11 19:06] asr commented on #1675
I updated the OP  of #2392 pointed out this problem.

[2017-01-11 19:06] #1675 closed, assigned to asr

[2017-01-11 19:20] asr commented on #2319
GHC 8.0.2 was [announced](https://mail.haskell.org/pipermail/glasgow-haskell-users/2017-January/026460.html) and the Travis jobs using this version of GHC are green:

* master: [Travis job](https://travis-ci.org/agda/agda/jobs/190999031)

* stable-2.5: [Travis job](https://travis-ci.org/agda/agda/jobs/190998872)

Good!

[2017-01-11 20:21] asr opened #2396 "Travis: Use Stackage on the `UHC_FLAG` test"
We should use Stackage for speeding up the `UHC_FLAG` test.

Blocked by

* https://github.com/atzedijkstra/logict-state/issues/2
* https://github.com/UU-ComputerScience/shuffle/issues/8
* https://github.com/UU-ComputerScience/uhc/issues/91
* https://github.com/UU-ComputerScience/uhc-util/issues/11
* https://github.com/UU-ComputerScience/uulib/issues/6

[2017-01-11 21:30] astump opened #2397 "On Windows, Agda2 Program Args gives error with -i, is fine with --includepath"
On Windows, it seems that setting Agda2 Program Args from the emacs customize-group section for Agda2 does not work correctly with -i.  The Agda backend does not interpret the path correctly.  It seems to view an absolute path as a local path.  Surprisingly, using --includepath with the exact same absolute path works fine.

[2017-01-11 22:43] #2319 closed, assigned to asr

[2017-01-12 05:02] rgrinberg opened #2398 "removeLink: permission denied"
Agda 2.5.2 (installed with pacman) is giving me the following error when loading any file in Emacs:

[code]

[2017-01-12 07:27] nad commented on #2397
Have you entered `-i...` as one string, or two? I use one string (`-i.`), and this works fine on my Linux setup.

[2017-01-12 07:34] nad commented on #2398
Let me guess:
* You installed the standard library when using an older version of Agda.
* The standard library is installed in a location which is not writable by the user running the Agda program.
* Now you have upgraded to a newer version of Agda (but you did not upgrade the standard library, or at least you did not rebuild its interface files).
* As the interface file format has changed Agda tr

[2017-01-12 10:17] nad commented on #1899
@andreasabel, your commit broke some of my code. Here is a cut-down example:
[code]
This code is accepted by Agda 2.5.2, but rejected by Agda e3c2ce469:
[code]

Note that the following code is accepted:
[code]

[2017-01-12 11:26] andreasabel opened #2399 "Make `argInfoOverlappable` a part of `Instance`"
@UlfNorell: as the bit `argInfoOverlappable` only makes sense when `argInfoHiding == Instance`, please refine the constructor `Instance` of the `Hiding` type to `Instance :: Bool -> Hiding`.
[code]

[2017-01-12 15:36] asr commented on #2355
The LaTeX-backend was not tested in some test cases (see #2392) including  `test/LaTeXAndHTML/succeed/Issue2355.lagda`. Since this test case failed, I removed it from the latex-html test suite.

The error is:

[code]

[code]

Note that for testing the LaTeX-backend on `Issue2355.lagda` must exist a file called `Issue2355.compile`. If this file is empty, `Issue2355.lagda` is tested using all the La

[2017-01-12 16:19] asr commented on #2392
@vlopezj, why you added `*.lagda.md` and `*.lagda.rts` test cases to the latex-html test suite?

[2017-01-12 16:24] rgrinberg commented on #2398
That seems very likely. Seems like the agda and agda-stdlib version in Archlinux aren't compatible:

[code]

[2017-01-12 16:31] asr commented on #2398
Yes. With Agda 2.5.2 you need standard library 0.13.

Cannot you install a local version of the standard library using these [instructions](http://agda.readthedocs.io/en/latest/tools/package-system.html)?

[2017-01-12 16:31] vlopezj commented on #2392
@asr I want to check whether each part of the file is parsed as code or comments, and checking the HTML rendering of the syntax highlighting is a quite straightforward way to achieve this.

If there's a test suite that just checks parser output I could move those cases there (?)

"Andrés Sicard-Ramírez" <notifications@github.com> skrev: (12 januari 2017 17:19:51 CET)

[2017-01-12 18:00] asr commented on #2392
I see. Thanks!

[2017-01-12 18:44] vlopezj commented on #2355
@asr After some digging I see that the problem you report is not with the literate parser, but with the LaTeX back-end. In this case it starts a new code-block from commented-out `\begin{code}`, which is wrong.

However, I think the real problem is having two different implementations for finding `\begin{code}` and `\end{code}` macros: one in `Agda.Syntax.Parser.Literate.literateTeX` and one in `A

[2017-01-12 19:13] asr commented on #2392
I'm thinking that merge of the LaTeX and HTML test suites was not a good idea. I know they share some code, but now with the different literates formats supported (`*.lagda`, `*.lagda.md`, `*.lagda.rts`, `*.lagda.tex`), the three supported LaTeX compilers (pdflatex, xelatex and lualatex) and the latex-html test suite requiring *.tex and *.html golden files for every test case, we are adding unnece

[2017-01-12 19:36] asr commented on #2392
I will split the latex-html test suite.

[2017-01-12 19:40] asr commented on #2355
I'll file a new issue reporting the LaTeX backend problem and adding your comment.

[2017-01-12 19:40] #2355 closed, assigned to vlopezj

[2017-01-12 21:29] asr commented on #2392
I was worried about of requiring `.compile` files for *every* LaTeX-backend test case, but I figured out  how to use these files only for removing some LaTeX compilers. So I won't split the test.

[2017-01-12 21:30] #2392 closed, assigned to asr

[2017-01-12 22:07] asr opened #2400 "LaTeX backend error on LaTeX comments"
[code]

[code]

In relation to this error, @vlopezj [wrote](https://github.com/agda/agda/issues/2355#issuecomment-272246219):

[2017-01-12 22:35] asr opened #2401 "LaTeX backend error"
While working on #2392 I found the following problem:

[code]

[code]

[2017-01-12 22:43] asr commented on #2355
I filed #2400 and I added the original Issue2355.lagda into the suite of successfull tests.

[2017-01-12 23:16] rgrinberg commented on #2398
It works quite well now, thanks.

[2017-01-12 23:16] #2398 closed, assigned to nobody

[2017-01-13 01:11] astump commented on #2397
I just enter

-i PATH

in one text entry box in the emacs customization for Agda2 Program Args
on Windows, and this leads to the problem.  Writing

--includepath=PATH

instead works fine, for the same value of PATH.

It is not a problem for me, since I found a way to solve it with
--includepath.  I'm just bringing it to your attention since it was
weird and hard to debug until I tried --includepat

[2017-01-13 07:24] andreasabel commented on #2386
I am implementing a relaxation that will allow all of the suggested forms of equality above except `≡-any-in-any` which separates the two main arguments (by a level).  That particular one, with a hidden level `l'` for the universe of the equality type would be a pain to use anyway, as this level can usually not be inferred.

[2017-01-13 07:41] andreasabel commented on #2386
@m0davis: I pushed my fix, please evaluate whether it fits your needs.

[2017-01-13 09:12] andreasabel commented on #1899
I can see how this regression arose:  Since the positivity checker now normalizes record field types, it does not consider `D` to be mutually recursive with `D'`.  But the termination checker, to see whether a projection is coinductive, looked for occurrences of mutually recursive symbols in the non-normalized type.  This is fixed by normalizing in the termination checker as well.

Anyway, the unt

[2017-01-13 09:20] #1899 closed, assigned to andreasabel

[2017-01-13 09:48] nad commented on #2397
Do you mean `--include-path`, with an extra dash?

[2017-01-13 10:41] andreasabel commented on #2170
This is some older problem:
[code]
Agda happily solves the meta with `unsquash` since at least Agda-2.3.2.

Update 2018-06-12: It seems that subtyping `.A -> Squash A` <= `A -> Squash A` essentially contributes to this problem.  Changing to `s : .A -> Squash A` yields the `Cannot instantiate` error.  However, this problem might be fixable in the constraint solver that "uncurries" the meta `?0 : Sq

[2017-01-13 15:26] andreasabel opened #2402 "Parameters not dropped when reporting incomplete patterns"
[code]

[2017-01-13 17:10] #2402 closed, assigned to andreasabel

[2017-01-13 19:06] astump commented on #2397
Must have been.

On Fri, Jan 13, 2017 at 3:48 AM, Nils Anders Danielsson <
notifications@github.com> wrote:

[2017-01-13 19:56] andreasabel opened #2403 "Termination checker should reduce arguments in structural order check"
Coq accepts this:
[code]
Agda does not:
[code]

[2017-01-13 20:39] asr commented on #2403
Which option(s) did you use for getting that error message?

[2017-01-13 21:05] #2146 closed, assigned to andreasabel

[2017-01-13 21:15] #2386 closed, assigned to andreasabel

[2017-01-13 21:50] identicalsnowflake opened #2404 "checkType doesn't accept a type-checking definition checked with the same type"
[code]

`prog` type checks above, but `example` does not: Agda complains about dubruijn indices.

There are a couple closely-related things which do not bother Agda: changing `prog` to just `show 3` or using the second (commented) definition of `reflect` which doesn't include `checkType` are ok, so it seems to be some problem with `checkType` and the instance `mShow`.

[2017-01-13 23:45] WolframKahl commented on #2355
Is 2.5.3 coming very soon? Otherwise this might deserve a bugfix release --- this is issue pretty bad for trying to get large literate code bases into Agda-2.5.2.

[2017-01-14 00:23] m0davis commented on #2386
@andreasabel, I'm sure it's fine for my purposes. I'm not well-versed in type theory and my [original, newbie question](https://lists.chalmers.se/pipermail/agda/2017/009180.html) was just out of curiosity.

[2017-01-14 07:26] m0davis opened #2405 "instance search failing in parameterized module"
module `M0` is identical to `M1` except for the parameter. I don't see why instance search should fail in the latter case. Bug?
[code]

[2017-01-14 08:03] gallais commented on #2403
Coq is famously not SN because it normalises a `Fixpoint`'s body before guard-checking it. As showcased by this example:

[code]

Does this patch make Agda not SN anymore?

[2017-01-14 09:19] andreasabel commented on #2386
I see.  Maybe there was no pressing need then.  Anyway, I wanted the non-universe polymorphic one for my own pleasure.

[2017-01-14 09:46] andreasabel commented on #2405
This works with Agda-2.5.1.1.  I somehow suspect the "parameter-refinement" deep change of the system for this, but let's see...

Slightly edited test case:
[code]

Agda-2.5.2 chokes on
[code]
It seems that a de Bruijn index concerning the parameter is off.

Agda-2.5.1.1 correctly has here
[code]
and succeeds.

[2017-01-14 13:35] andreasabel commented on #2403
No, this patch does not change the situation of SN.  Agda already accepts
[code]
The internal representation of the body of `f` is `[f/x]0` which is simply `0`.  Internal syntax does not keep beta-redexes and lets.

[2017-01-14 13:41] andreasabel commented on #2402
Fixed this by properly printing clauses using `Reify`.

[2017-01-14 13:43] andreasabel opened #2406 "agda-bisect: sed on OS X does not accept option `-r`"
agda-bisect: sed on OS X does not accept option `-r`

[2017-01-14 14:15] andreasabel commented on #2405
Bisection blames 5e555839df2794dd86f440c3a2577eac316283d4 confirming my hunch.
[code]

[2017-01-14 15:26] xekoukou opened #2407 "Case-splitting produces something with unsolvable size constraints."
[code]

[2017-01-14 15:41] gallais opened #2408 "DLub sorts are not serialized"
I have a pretty gnarly module in which I compute quite a lot of `Level`s, then `Set`s of the corresponding `Level`s and ultimately values inhabiting them. It triggers an internal error on current stable (but also 2.5.1.1 and 2.5.2 AFAICT).

I've tried to reduce the example but it's still pretty big (there's a lot of boiler plate at the beginning). See the attached file: [InternalError.agda.txt](ht

[2017-01-14 19:04] #2405 closed, assigned to andreasabel

[2017-01-15 08:01] xekoukou opened #2409 "Size subtyping does not work with types that depend on Sized types."
[code]

[2017-01-15 08:32] andreasabel commented on #2408
The serializer seems to assume that there are no `DLub` sorts left (dependent least upper bound) and crashes when encountering one.  I do not know why such an assumption is justified. @UlfNorell?

[2017-01-15 09:06] andreasabel commented on #2407
Well, if you think about it, this is what happens in the case that is not accepted:
First, let us note that `i = gi`.  Then, we have given arbitrary `gk <= i` and `gj <= i` and the dot pattern claims that `gk <= gj` always to make things well-typed.  However, this does not hold in general.
In the accepted case, we are given arbitrary 'gk <= gj <= gi = i' and by typing, we infer that `j = gk`.  Tha

[2017-01-15 09:13] andreasabel commented on #2409
This is a known problem with sized types.
[code]
As you see, subtyping cannot work (at least not naively) as when we want to get from `D j x` to `D i x`, we need to change the embedded size variable in constructed term `d`.

The usual workaround is to not index by sized data, but by data in the infinity-slice only:
[code]

[2017-01-15 16:48] xekoukou commented on #2407
I hope that the solution here is not to refuse to case split but to split into a well-typed result.

Mostly because I don't know how to write the above data type differently so as not to produce these problems.

[2017-01-15 19:07] mietek commented on #2369
The issue seems to be caused by something going wrong inside an `.agdai` file, and so, reproducing it is tricky.

I can provide a set of mostly-empty files that reproduce the issue, however:

- Deleting `Everything.agdai` or causing it to be regenerated will break reproduction;
- Therefore, making any change to `Everything.agda` will break reproduction;
- Therefore, renaming or removing any of the

[2017-01-15 21:56] asr commented on #2369
I couldn't reproduce the issue. After unziping your file I got the error:

[code]

[2017-01-15 22:31] andreasabel commented on #2407
With hidden sizes, splitting works:
[code]
Splitting on `x` here produces `split (c x x1) = ?`.

Funnily, splitting with visible arguments as underscores fails:
[code]
I think this is related to #819.

[2017-01-16 07:45] xekoukou commented on #2409
I do not have the {j : Size< i} in the d constructor and id2 still fails.

I think you are right though that I need to use \inf. I still haven't learned to use inf where it is needed.

[2017-01-16 08:42] UlfNorell commented on #2408
`DLub`s can (should) only appear if you have unsolved metas. Since we don't allow unsolved metas in interfaces the serialiser assumes there are no `DLub`s.

[2017-01-16 10:32] nad commented on #2397
Does it work if you write `-iPATH` without a space in between? If you write `-i PATH`, then I think that the path that is used starts with a space character.

[2017-01-16 10:40] nad commented on #2406
I suggest that the call to sed is replaced by some Haskell code, in which case the following part of the `--help` text should be edited:
[code]

[2017-01-16 14:53] gallais opened #2410 "`C-c C-n` unfolds non-terminating functions"
The typechecker does avoid unfolding `f` (cf. commented out equality test) but `C-c C-n` goes on forever eating up more and more memory.

[code]

[2017-01-16 19:08] astump commented on #2397
That could be it.  I did not try this, but it would make sense.
Aaron

On 01/16/2017 04:32 AM, Nils Anders Danielsson wrote:

[2017-01-16 19:08] nad commented on #2410
Perhaps functions marked as non-terminating should only be unfolded if a prefix argument is used.

[2017-01-16 19:10] nad commented on #2397
OK, then I'm closing this issue now.

[2017-01-16 19:10] #2397 closed, assigned to nobody

[2017-01-17 06:52] bixuanzju opened #2411 "subtyping inductive sized types"
I was playing around Datatype a la carte with sized types in Agda, and came across this problem (bug?) in subtyping sized types:

[code]

However the following will type check

[code]

Any pointers would be appreciated!

[2017-01-17 08:39] UlfNorell commented on #2410
This is the intended behaviour. Typically when you define a non-terminating function it's terminating on certain known arguments, which are the ones you want to `C-c C-n` on.

[2017-01-17 16:18] andreasabel commented on #570
For another example, see #2411.

[2017-01-17 16:20] andreasabel commented on #2411
The positivity check determines about whether subtyping is admissible.  For `Nat`, it is admissible, since `NatF` is monotone.  For `\mu`, it is not admissible since `F` is arbitrary.

The positivity check runs on a data type when you define it, but what you would need is a delayed positivity check that runs per-instantiation of a data type.  This is, however, unlikely to become a feature of Agda.

[2017-01-17 16:25] andreasabel commented on #2408
I challenge this theory.
[code]
There are other reasons for `DLub`s to remain.

[2017-01-18 02:29] bixuanzju commented on #2411
@andreasabel Yes, exactly. Thanks for your explanations!

[2017-01-18 02:41] bixuanzju commented on #2411
@andreasabel Also I am not clear when subtyping of sized types is admissible, how it relates to the monotonicity of `F`. Is this paper http://www2.tcs.ifi.lmu.de/~abel/mscs06.pdf of yours relevant?

Many thanks!

[2017-01-18 08:57] andreasabel commented on #2411
Yes, this is relevant, but Agda does not have explicit polarity annotations, it can only use what it infers.  Clearly for negative F like `F X = X -> Bool` subtyping is not admissible for `\mu {i} F`, you could not even program the corresponding cast function yourself!

[2017-01-18 09:12] UlfNorell commented on #2411
The way you typically solve this is to build a universe of positive functors. Something like

[code]

[2017-01-18 09:23] UlfNorell commented on #2408
Obviously. But that was the case in the beginning. `Flexible` only happens if you have metas and `Irrelevantly` and `Free.Unused` are newer inventiontions.

[2017-01-18 09:33] UlfNorell commented on #2408
Would it not make sense to change the `Irrelevantly` and `Free.Unused` cases to `sLub s1 (noabsApp (mkType 0) b)`? In both cases the actual level should not matter.

[2017-01-18 10:29] andreasabel commented on #2408
I guess you meant `sLub s1 (absApp b (mkType 0)`?
We can try, but I would not bet any money on it.
Most likely, the current test case chokes because of an `Unused` level.  It would be worthwhile shrinking it to the point we can see what is going on.

[2017-01-18 10:32] bixuanzju opened #2412 "Problem with checking with sized types"
I was experimenting the following code, basically I was trying to write the induction principle for the sized type `Arith`

[code]

As far as I see, the type of `hl` exactly matches what the first hole requires, but Agda rejects saying

when checking that the expression (λ {.j₁} → hl) has type
({j : Size< .k} (n : ℕ) → p (In (Lit n)))

I also tried to eta-expand `hl`, but still doesn't work.

Than

[2017-01-18 10:41] bixuanzju commented on #2411
@UlfNorell Thanks! I am aware of the approach you mentioned. My point is that it's more convenient to write conventional datatypes instead of decomposing into base functors. Anyway you can close it since polarity annotation is unlikely to be implemented.

[2017-01-18 11:39] andreasabel commented on #2408
Here is a MWE:
[code]
@gallais: you have not tried hard enough! :)

[2017-01-18 11:51] andreasabel commented on #2408
After shrinking, it is clear this does not work either, it is ill-typed.  We cannot pull an element of `A` out of the hat.

If we do not want to serialize `DLub`s then we can only assign sort `Inf` to `FInsertT`.  But why not simply serialize `DLub`s, what is so bad about it?!

[2017-01-18 12:31] UlfNorell commented on #2408
No that's the easy solution to this problem. Having `DLub`s around will make things hard on the level constraint solver, but I guess there's nothing to be done about that.

[2017-01-18 13:11] andreasabel commented on #2408
Well, we can still abuse `Sort Prop` for a value that is `inert` and only equal to itself, and inhabits any type, but only when in irrelevant context.
[code]
Or better, use `__IMPOSSIBLE_TERM__`.

[2017-01-18 14:12] andreasabel commented on #2408
Here is a similar case for unused argument in a level function:
[code]
If we hack something with `Prop` or `__IMPOSSIBLE_TERM__`, we will have ill-typed sorts. I am not sure this is a good idea for the future, even though it seems to be logically consistent.
It might be very disturbing if `Prop` shows up in error messages, which can be triggered (at least at will).

I now think that serializing `D

[2017-01-18 14:44] andreasabel commented on #2404
Works without extended lambda:
[code]
I cannot help but suspect parameter-refinement here as well...

Slightly modified test case:
[code]
passes with Agda-2.5.1.1 but fails with Agda-2.5.2/3.

[2017-01-18 14:46] #2408 closed, assigned to andreasabel

[2017-01-18 16:53] andreasabel commented on #2404
I think quoting of pattern lambdas is broken.  Actually, the test-suite seems to only check quoting of absurd lambdas (file `QuoteExtLam.agda`).  In Agda-2.5.1.1, this example works since an instance argument is not counted as hidden argument for an extended lambda.  This changed for Agda-2.5.2.  But when dropping the instance argument from the lambda patterns, the variable for `Show A` (instance

[2017-01-18 17:32] andreasabel commented on #2412
The trick is to _prevent_ eta-expansion by making `k` visible:
[code]
For soundness reasons, Agda does not like assumptions like `j : Size< k` in the typing context if there is no evidence that such a `j` always exists.  Unfortunately, Agda by defaults inserts hidden lambdas eagerly (like `λ {.j₁} → hl`), and, in this case, you have to prevent her from doing so. See #1079.

[2017-01-18 17:38] andreasabel commented on #2412
Thanks for your interest in sized types. Please consider asking such questions on the agda-list first, we'd like to keep the issue tracker for actual bugs.  One can always later file a bug in case there is a (new) problem with Agda.

[2017-01-18 17:39] andreasabel commented on #2411
Maybe also a question for the mailing list.

[2017-01-18 17:39] #2411 closed, assigned to nobody

[2017-01-18 18:58] andreasabel opened #2413 "Agda crashes on x@y pattern"
Agda is not prepared to handle variable as-patterns:
[code]
Reports:
[code]

[2017-01-18 19:25] andreasabel commented on #2413
This seems to be easily fixable by replacing to `__IMPOSSIBLE__`s in `Rules.LHS` by the obvious handling of as-patterns.

[2017-01-18 19:33] #2413 closed, assigned to andreasabel

[2017-01-18 19:54] andreasabel opened #2414 "Case splitting loses as-patterns"
[code]
The as-patterns should be kept!

[2017-01-18 21:06] andreasabel commented on #819
Good things can happen even after 4 years!
The proliferation of `Origin` made this rather easy fixable now.

[2017-01-18 21:06] #819 closed, assigned to andreasabel

[2017-01-18 21:10] andreasabel commented on #2407
What's left here is:
[code]
The size constraints are not checked after splitting and before printing.
I wonder whether it is preferable to get an error about unsolvable size constraints, or splitting goes through but fails upon reload.
Opinions?

[2017-01-18 21:16] andreasabel commented on #2212
I am not motivated to do this in the near future.

[2017-01-18 21:16] #2212 closed, assigned to andreasabel

[2017-01-19 02:56] bixuanzju commented on #2412
@andreasabel noted, sorry for any inconvenience. Next time I will ask in the mailing list.

[2017-01-19 08:34] xekoukou commented on #2407
It seems better to me to not case split and thus do it by hand.

[2017-01-19 10:25] andreasabel commented on #2412
Actually, I thought about it again and managed to improve the type-checker such that your example works.
Here is a simplified example:
[code]

[2017-01-19 11:31] #2412 closed, assigned to andreasabel

[2017-01-19 11:32] andreasabel commented on #2412
Fixed this as a belated Christmas present. ;-)

@bixuanzju : Thanks for the alert!

[2017-01-19 11:45] andreasabel commented on #2407
@jespercockx : The unifier seems to ignore constraints due to SIZELT types. What is going on here is:
[code]
But `k` and `j1` are of different type, should not that be reflected in the solver somehow?
Maybe you have an idea which place is best to deal with size constraints in the splitter or unifier.

[2017-01-19 13:36] andreasabel opened #2415 "Size solver reports "inconsistent upper bound" even though there is a solution"
[code]
reports
[code]
But there is a solution:
[code]

[2017-01-19 13:41] andreasabel opened #2416 "Cannot give size as computed by solver"
[code]
Giving `l`, which is the already computed solution `?0 := l`, fails with message
[code]

[2017-01-19 14:55] #2416 closed, assigned to andreasabel

[2017-01-19 15:53] andreasabel commented on #2415
A very stupid bug in the size constraint solver: wrong implementation of substitution.

[2017-01-19 16:06] #2415 closed, assigned to andreasabel

[2017-01-19 16:46] andreasabel opened #2417 "Interaction prefix for show implicit arguments"
Often I just want to see the implicit arguments once for the result of a specific interaction command.  For instance, I would like to see a goal with implicit arguments printed.  A prefix like `C-u` (for the amount of normalization) would be nice here.

[2017-01-19 17:20] bixuanzju commented on #2412
@andreasabel you rock! 👍

[2017-01-19 17:27] m0davis commented on #2417
My recommendation: add a family of functions starting with `C-c C-i`, e.g. `C-c C-i C-t` for `agda2-implicit-goal-type`. It seems to me that would be better than either adding another prefix to `C-c` (b/c it's more likely conflict with some other emacs package) or overloading `C-u` (b/c that would mean yet more keystrokes---and I take it the point is to save on keystrokes).

P.s. Prolly you know t

[2017-01-20 00:50] andreasabel commented on #2329
Here is a simplified version:
[code]

[2017-01-20 01:01] andreasabel commented on #2329
Putting a meta for the rhs,
[code]
fails with error
[code]
The better behavior would be to postpone the constraints.

But, to some extend it is pathological to expect a function to generate a size < i...
[code]
See #1428 why this is anyway inconsistent.

[2017-01-20 01:20] #1817 closed, assigned to andreasabel

[2017-01-20 01:28] andreasabel commented on #2041
See also #1515.

[2017-01-20 15:16] MatthewDaggitt opened #2418 ""renamingAll" construct"
One feature that would be an enormous time saver is an addition to the `renaming`/`hiding`/`using` syntax along the lines of `renamingAll`.

For example imagine you're working with two different equivalences:
[code]
At the moment if you want to open them and use the records within both of them you have to write something along the lines of:
[code]
An enormous time saver would be to be able to writ

[2017-01-20 15:25] guillaumebrunerie commented on #2418
Does the following answer your question?

You can do:

module ≈₁ = IsEquivalence ≈₁-isEq
module ≈₂ = IsEquivalence ≈₂-isEq

and then use ≈₁.refl, ≈₁.sym, ≈₁.trans, ≈₂.refl, ≈₂.sym, ≈₂.trans (it uses
a dot instead of an hyphen, but I think that’s the only difference with
what you are proposing).

On Fri, Jan 20, 2017 at 10:16 AM, MatthewDaggitt <notifications@github.com>
wrote:

[2017-01-20 15:30] MatthewDaggitt commented on #2418
That would certainly work for plain names, but it doesn't interact well with misfix notation right? If you had for example `_+_` in your module you would have to write `≈₁._+_ a b` instead of `a ≈₁-+ b`?

[2017-01-20 15:31] guillaumebrunerie commented on #2418
No, I think you can write `a ≈₁.+ b`.

[2017-01-20 15:36] MatthewDaggitt commented on #2418
Oh you're right, my apologies. Thank you very much for your help!

[2017-01-20 15:36] #2418 closed, assigned to nobody

[2017-01-20 16:48] asr opened #2419 "hTags warnings on GHC >= 8.0.1"
When running `make TAGS` on GHC >= 8.0.1, hTags generates warnings like

[code]

The warnings are due to the addition in GHC >= 8.0.1 of the `MIN_VERSION_pkgname(x,y,z)` macros (see [documentation](http://downloads.haskell.org/~ghc/8.0.1/docs/html/users_guide/phases.html#standard-cpp-macros)) which also are defined in Cabal in the `build/autogen/cabal_macros.h` file.

[2017-01-20 17:29] #2419 closed, assigned to asr

[2017-01-20 18:05] andreasabel opened #2420 "Failed to solve level constraints in record type with hole"
[code]
reports
[code]

The error gets more interesting when we open something:
[code]
reports:
[code]
And all this without level polymorphism!

Enjoy!

I guess this is an incarnation of issue #434.

[2017-01-21 03:20] astump opened #2421 "After emacs starts up, Agda does not process file without restart of Agda"
Since I upgraded to Agda 2.5.2, I have been encountering some strange behavior loading Agda files in emacs.  Generally, if I do Control-c Control-l in a buffer where an existing .agda file is open, Agda complains that "Another command is currently in progress".  I have to do Control-c Control-x Control-r to restart Agda, and then I can load the file.  Sometimes this does not happen, but mostly it

[2017-01-21 05:49] m0davis commented on #2421
I dunno if this will help but it's the first thing I would try: quit emacs, run "agda-mode compile", restart emacs.

[2017-01-21 09:03] andreasabel commented on #2417
I realized when Agda reloads, it turns printing implicits off.  Thus, it is fine to C-c C-x C-h C-c C-c RET to introduce all function arguments, including implicits.

However, for just viewing a goal with implicits, I do not want to type C-c C-x C-h C-c C-, C-c C-x C-h, especially I do not want to have to remember to turn implicits off again.  I want no `State` change, so to say, but a `local` mod

[2017-01-21 10:32] andreasabel opened #2422 "Overloaded inherited projections don't resolve"
[code]
reports
[code]

[2017-01-21 11:19] andreasabel commented on #2422
The scope checker thinks `S.f` is a projection, but the type checker does not agree, since it is defined as a composition of projections: `S.f s = R.f (S.r s)`.

Either we fix the scope checker, to make Agda's responses more consistent.  Or we add new machinery to the type checker to handle compositions of projections.

For the present issue we can just relax overloading to work with anything that

[2017-01-21 11:47] andreasabel opened #2423 "Inherited projection on lhs"
[code]
reports
[code]

[2017-01-21 11:48] #2422 closed, assigned to andreasabel

[2017-01-21 12:04] andreasabel commented on #2423
What is happening here is that from the two candidates `S.f` and `R.f` found by the scope checker, `S.f` is silently discarded as it is not a projection for the type checker (see #2422) as it is a composition of projections.  The splitter then only considers `R.f` which has the wrong type.  The resulting error message is not very helpful, as the disambiguation is not reflected.  The cleanest solut

[2017-01-21 13:37] #2423 closed, assigned to andreasabel

[2017-01-21 16:29] andreasabel opened #2424 "UserWritten variable names should have priority over system-Inserted ones"
[code]
Split on `As` produces
[code]
but I'd rather expect
[code]

[2017-01-21 18:51] WolframKahl commented on #2417
Ah! It would be nice if it didn't, so that one can see implicits on load errors.
(That has frustrated me quite a few times...)

[2017-01-22 08:42] andreasabel commented on #2424
Related: #819 (preserve underscores), #573 (preserve ellipsis), #1820 (shadowing ellipsis variables).

I think this can be fixed as follows:
1. Before splitting, we know which variables were `UserWritten` and their original names should be preserved in the pattern variables (check this!).
2. The case splitting itself replaces some variables by patterns or dot patterns, we need to make sure that ev

[2017-01-22 16:18] xekoukou opened #2425 "Do not reload after refine."
Is it possible to not reload after we refine?

In many cases, the hole is removed and the remaining holes are not affected by the change, so there is no need to reload.

[2017-01-22 18:14] jespercockx commented on #2407
I must admit I've never considered subtyping when implementing the unification algorithm. In this example, the unifier has a choice between instantiating `k` or `j₁`, it randomly chooses `k`. However the type of `k` is actually a subtype of the type of `j₁`, so this instantiation is unsound. The conservative thing to do would be to only instantiate a variable when its type is equal to the type of

[2017-01-22 19:00] m0davis commented on #2417
@WolframKahl, I believe you can see implicits on load errors by putting {#- OPTIONS --show-implicit #-} at the top of your file.

[2017-01-22 19:47] andreasabel commented on #2425
If you mean `C-c C-r` (refine), then yes, you do not have to reload.
Agda reloads only after `C-c C-c` (case split), doesn't it?

[2017-01-22 23:58] andreasabel opened #2426 "On just warning about missing cases"
@gallais: Let's discuss the consequences of allowing incomplete definitions!
There are some interactions with pruning
[code]
Since `f false x` is absurd (can never reduce), `x` is rigid, and hence the first argument to meta `X` is removed and Agda solves `X x y = y`.  However, this contradicts the second equation.

If we add the missing clause `f false x = true`, then `X` has for instance solution

[2017-01-23 02:47] astump commented on #2421
Thanks for this suggestion. I tried it, but the behavior was the same.

On 01/20/2017 11:49 PM, Martin Stone Davis wrote:

[2017-01-23 08:23] gallais commented on #2426
Ah! That was my first idea too except that I didn't know about freezing and my metas kept getting solved / leaking all over the "unsolved metas / constraints" error messages. When the version with `Nothing` for a body went through all the test cases, I assumed it was alright.

I'll work on the change later today in the train.

[2017-01-23 09:00] jespercockx commented on #2426
But if we make the missing clauses reduce to a metavariable, then the user will see a metavariable instead of the term for which there is no reduction rule. Maybe it would be better to add a new Blocking tag for when there are missing clauses That way we can prevent the pruning without losing the information in the left-hand side.

[2017-01-23 09:04] gallais commented on #2426
Good point. How about replacing `Maybe Term` for the right-hand side with `Either BlockedBecause Term`? The reduction machinery can be kept morally the same and the pruning made to work only in the case where we have `Left AbsurdClause`.

[2017-01-23 09:25] andreasabel commented on #2426
There is already a `MissingClauses` tag for `NotBlocked`,
[code]
which is handled correctly by the occurs check.
[code]
However, the clause compiler/matcher does not seem to use `MissingClauses` as the clause compiler assumed covering clauses so far...

[2017-01-23 09:28] andreasabel commented on #2421
I think I experience the same sometimes, also when changing the Agda version with `agda2-set-program-version`.  I do know where this comes from.

[2017-01-23 10:27] xekoukou commented on #2425
I think you are right.

[2017-01-23 10:27] #2425 closed, assigned to nobody

[2017-01-23 11:25] jespercockx commented on #2426
An alternative solution would be to *not* insert a catchall clause for an incomplete definition and instead replace the `__IMPOSSIBLE__` in the reduce function by a `return MissingClauses`. However, this would also mean we don't get the `__IMPOSSIBLE__` when there would actually be a bug in the coverage checker.

[2017-01-23 13:04] andreasabel commented on #2426
This would not be a problem if we could make the warning strict, i.e., an error, on demand.

It is the usual absurdity: we recently removed the option
[code]
now @gallais brings it back, in a better incarnation.

It is time to think about controlling warnings from the command-line in a systematic fashion!
1. suppressing warnings
2. making warnings fatal (for interaction / for success (serializatio

[2017-01-23 13:19] UlfNorell commented on #2426
I'm doing something along this line with the new backend API. Compiler backend options will soon be listed in their own sections in `--help`.

[2017-01-23 13:48] jespercockx commented on #2426
Do you mean the warning would become an error as soon as Agda reaches a missing case during evaluation? That would indeed be another viable option.

[2017-01-23 14:00] gallais commented on #2426
This seems to do the trick. Should I push it?

There should probably be a semantic distinction between an "assert total" which crashes during evaluation and a "strict coverage" which would fail upon finding a partial cover in `Typechecking/Coverage.hs`.

[2017-01-23 14:10] jespercockx commented on #2426
Maybe you can do something like `unless (coverageWarningPresent) __IMPOSSIBLE__` before returning the `MissingClauses`? That way we keep the current behaviour in case the coverage checking passed.

[2017-01-23 14:41] andreasabel commented on #2426
@jespercockx: sounds good!

I meant if we have an option for strict coverage checking (turning the warning into an error).  Then, encountering missing clauses would be `__IMPOSSIBLE__` and we'd want to crash, like it is currently.

But Jesper's suggestion would work as-is.

[2017-01-23 14:50] jespercockx commented on #2407
I have a little quiz for people who understand more of subtyping than I do. Which of the following versions of the `J` eliminator should be accepted by Agda? If we want to write something in place of the underscores, where should the dot patterns go?
[code]
Currently, all of these examples are accepted, but you have to be very careful about where to put the dot: for `J=` you can put it in either p

[2017-01-23 15:28] andreasabel commented on #2270
The severity of this issue shows with the `refine` command:
[code]
produces
[code]

[2017-01-23 16:36] jespercockx commented on #2407
More interesting examples using double-indexed equality and explicit dot patterns:
[code]
The problem isn't limited to the solution rule, the deletion rule (a.k.a. K) suffers from the same problem:
[code]

[2017-01-23 21:17] identicalsnowflake opened #2427 "Enhancement: interaction command to infer non-unique levels"
[code]

I think Agda is smarter than it realizes here: if you load the above, Agda will complain that it's not smart enough to figure out what level should go in `_`; but if you put the wrong answer (e.g., `ℓ₁`) in this position, suddenly Agda proceeds to tell you you're wrong and give the correct answer!

This results in an odd workflow where I deliberately put in wrong answers so that Agda will

[2017-01-23 22:04] jespercockx commented on #2427
The reason for this behaviour is that Agda checks the record signature separately from the field types, so information about the fields can never flow back to the signature. Maybe Agda could leave the sort meta in the signature open until after the fields are added, allowing the `fitsIn` function from `TypeChecking.Rules.Data` to fill it in?

[2017-01-24 08:25] nad commented on #2329
You closed this ticket, but neither of the two examples that I reported are accepted. Was this what you intended?

[2017-01-24 08:41] nad commented on #2426
If anyone is planning a major overhaul of the options handling, then I suggest switching to optparse-applicative, like in agda-bisect.

[2017-01-24 08:44] nad commented on #2270
The refine command also removes "unnecessary" module qualifiers that I put in on purpose to make the code more readable.

[2017-01-24 08:52] nad commented on #2421
Don't?

I've also experienced similar problems, but not consistently.

If anyone can construct a reproducible test case, please report it here.

[2017-01-24 10:07] andreasabel commented on #2421
Don't.

[2017-01-24 10:16] andreasabel commented on #2427
Actually, the `Level` meta `_` is not uniquely determined.  It is constrained (press `C-c C-=`), thus, you get an error if you put in a wrong solution.  But you can put in a sub-optimal solution, like `lsuc (lsuc (ℓ₁ ⊔ ℓ₂))`.
Except for sizes, Agda only infers unique solutions.

Currently, I do not see an action to take here.  Maybe you can come up with an example where the solution is unique, but

[2017-01-24 10:30] andreasabel commented on #2426
Sorry for hijacking this issue for a discussion about options which should take place on a new issue.
The original issue seems to be addressed properly but @gallais last commits.

[2017-01-24 10:30] #2426 closed, assigned to gallais

[2017-01-24 10:43] andreasabel commented on #2329
Mmh, my Agda accepts your original example both with and without field `y`.
But I did not investigate the `not-ok`.

[2017-01-24 10:50] jespercockx opened #2428 "Type-checking-order-dependent choice between relevant and irrelevant function type"
Consider the following example:
[code]
Calling the constraint solver in the hole (C-c C-s) produces the solution `{A = (a : A) → Set}`, but this solution is not unique: another valid (and distinct!) solution is `{A = .(a : A) → Set}`.

I encountered my issue when trying out my fix of #2407 on `test/Succeed/EtaContractIrrelevant.agda`.

[2017-01-24 10:50] andreasabel commented on #2329
The postulate `f` makes Agda inconsistent. (See #1428).
Do you have an example for this issue which does not rely on such a postulate?

[2017-01-24 11:20] anuyts commented on #2407
A few things can be said about this by looking at it from a semantical viewpoint, although it is quite possible that it is sound, on syntactical grounds, to be more liberal.
A first thing to note is that semantically, the implicit coercion from subtype to supertype need neither be injective nor surjective. Consider Str A i, the type of streams of size i, semantically the type of i-tuples. The coer

[2017-01-24 12:46] identicalsnowflake commented on #2427
I think this is kinda what I'm getting at: I can't think of any time when I've ever intentionally used a sub-optimal level solution, so if the optimal is decidable, even if not unique, I'd be happy to have it use that for `_`.

Alternatively, if widening `_`'s meaning within the language is undesirable, it'd be fine to have `?` and `C-c C-a` do this instead (this currently does not work).

[2017-01-24 12:55] #2407 closed, assigned to jespercockx

[2017-01-24 13:01] jespercockx commented on #2428
In my fix to #2407 (https://github.com/agda/agda/commit/0dae57c75ca5f6fd22ca2a0a1844e01ca85ac6bb#diff-3ecf99d3033eaf761b2a27c3b1f4c4a8R28) this issue forced me to make the type of the equality explicit because otherwise it would be resolved to a non-irrelevant function type and subsequently cause the case splitting to fail.

[2017-01-24 13:05] jespercockx commented on #2407
Pushed my fix by comparing the types of the variable and the equation before instantiating. Funnily, this also causes the original example to pass with `test {i = i} {j = gk} (gm {i = gi} {j = gj} {k = .gk} x x₁) = {!!}`. This is because my fix causes `gk` to be instantiated, but later on the dot will be shuffled to another position. I don't think this is actually harmful to the soundness, though

[2017-01-24 14:07] andreasabel commented on #2428
After pulling your fix, behavior has slightly changed, but Agda allows a split here and later complains:
[code]

[2017-01-24 14:28] andreasabel commented on #2428
I'd say the only valid solution is `.A -> Set`, which is also unique.  Note that `A -> Set <= .A -> Set` but not the other way round, thus, the only common type of `F` and `F'` is `.A -> Set`.

[2017-01-24 14:33] jespercockx commented on #2428
If you eta-contract `λ a → F a` and `λ a → F' a` manually to `F` and `F'` then the constraint solver correctly finds the solution `.(a : A) → Set`. However, the eta-expanded form is inherently ambiguous: either you're lambda-binding a relevant variable and then only using it irrelevantly, or you're lambda binding an irrelevant variable from the beginning.

@anuyts suggested that we maybe should ha

[2017-01-24 14:39] andreasabel commented on #2428
Sorry, I got it wrong, the subtyping is `.A -> Set <= A -> Set`, thus, my previous comment is bogus.  The only common type is `A -> Set` which is found by Agda.  Where was the problem again?

[2017-01-24 14:43] jespercockx commented on #2428
The problem is that the constraint solver is filling the implicit argument with solution `A -> Set`, but the solution I actually wanted is `.A -> Set` and that's not found by the unifier.

[2017-01-24 14:44] andreasabel commented on #2428
Because it is not a solution.

[2017-01-24 14:45] jespercockx commented on #2428
So then why is it accepted when I fill it in manually? Are you saying this is a bug and I shouldn't be able to?

[2017-01-24 14:51] jespercockx commented on #2428
Oh sorry, I think we're talking about different examples. If one `F` is relevant and the other is irrelevant, then I agree that the only solution should be the relevant function space `A -> Set`. However, we *also* get this solution if both `F`'s are irrelevant, even though `.A -> Set` is in that case also a valid solution.

[2017-01-24 14:54] andreasabel commented on #2428
OK, sorry about that.

For my example:
If I try to fill it in manually with give, I get
[code]
If I write it before loading,
[code]
Agda complains about `F a`:
[code]
LGTM.

By why is the split result

not accepted?

[2017-01-24 14:57] jespercockx commented on #2428
I don't know, it is accepted on my system.

[2017-01-24 15:00] andreasabel commented on #2428
Regarding your example:
If I put a `.` on the first lambda, Agda takes the solution `.A -> Set`.
[code]
If I put a `.` on the second lambda, I get an error:
[code]
[code]
Agda already decided that the solution should be `A -> Set`.
But this error is not justified, the eta-expansion does not change anything...

[2017-01-24 15:01] andreasabel commented on #2428
You are right, your fix for #2407 must have repaired this.

[2017-01-24 15:09] andreasabel opened #2429 "Irrelevant lambda should be accepted when relevant lambda is expected"
[code]
Eta-expansion should not change the acceptance of `f`!
@jespercockx: singled this out from #2428.

[2017-01-24 15:16] andreasabel commented on #2429
However, a `NonStrict` annotation should not be ignored in this case:
[code]
This passes, but should not.

[2017-01-24 16:40] nad commented on #2427
[code]

[2017-01-24 17:14] nad commented on #2329
Sorry, I managed to test using the wrong version of Agda.

I don't remember.

[2017-01-24 17:30] nad opened #2430 "Another regression related to parameter refinement?"
The following code is accepted by Agda 2.5.2, but rejected by Agda 2.6.0-e516306:
[code]

Bisection suggests that this regression was introduced by @andreasabel in 80794767db1aceaa78a72e06ad901cfa53f8346d ("Re #2405: update module parameter substitution in underAbstraction.").

[2017-01-24 18:00] andreasabel commented on #2427
I would not mind someone adding such a feature to Agda.

[2017-01-24 18:30] andreasabel commented on #2428
After fixing #2429, putting the dot on the second lambda has no effect, the inferred type stays `A -> Set`.
Lambdas are somewhat ghastly, the heuristics associated with them make type-checking non-confluent, i.e., the order in which Agda considers the subterms of an expression matters.  And the order is dependent on the constraint solver, which metas have already been solved and which are waiting.

[2017-01-24 18:31] #2429 closed, assigned to andreasabel

[2017-01-24 18:42] andreasabel commented on #2430
Ah, I think I still don't know what I am doing when it comes to parameter-refinement.  The API is super-brittle, imho.

[2017-01-24 18:48] #2430 closed, assigned to andreasabel

[2017-01-24 19:13] identicalsnowflake commented on #2427
@nad you're right, it definitely doesn't work everywhere; but it works often enough that I consider it an odd part of my workflow.

[2017-01-24 20:45] m0davis commented on #2427
@identicalsnowflake, could you write a macro to find the optimal value?

[2017-01-24 21:54] jespercockx commented on #2428
Well, I guess the original example can be fixed by putting dots before the lambda-bound variables (which I didn't know was already possible) so I guess the problem is not very urgent. In a sense we are already in a situation where a regular lambda `\ x -> ...` is always assumed to be relevant, *unless* the user gives the lambda explicitly annotates the lambda with an irrelevant function type someh

[2017-01-24 23:45] andreasabel commented on #2428
I also have no plans to return to fixing the lambdas, so I close...

[2017-01-24 23:45] #2428 closed, assigned to nobody

[2017-01-25 06:41] identicalsnowflake commented on #2427
@m0davis if you had access to the constraint information then probably, but I don't think that the constraints are accessible from the reflection APIs? Reflection gives you access to the goal type, and normally that's enough (in the sense that any value of the goal type will suffice), but Level goals in `Set ?` are weird in that not any value of type `Level` is a valid solution to that `? : Level`

[2017-01-25 09:48] UlfNorell opened #2431 "Making the UHC backend a stand-alone product"
I've put together an API for compiler backends for some students of mine. This makes it easy to write backends using Agda as a library. Basically you implement a few callbacks in a `Backend` type and then define

[code]

This gets you a fully functional Agda executable with your backend included.

I've successfully migrated the GHC and UHC backends to use this API. Now, I would like to exploit thi

[2017-01-25 10:45] UlfNorell commented on #2431
One thing to note is that I haven't come up with a nice generic solution for `COMPILED` pragmas, so these would stay in the Agda code base for the time being.

[2017-01-25 13:40] UlfNorell commented on #2384
The proper blocking of constraints is indeed what makes the difference in this case. In `2.5.2` we get

[code]

In `2.5.1` the dependency on problem 90 is lost and `_65` is solved, which happens to solve the Gordian constraint bundle in this case.

However, in this particular case we're blocking too much. `_65` arises from a failure to solve

[code]
Since the domains are equal there is no reason t

[2017-01-26 07:58] phile314 commented on #2431
I agree that maintenance of the UHC backend is too costly given that no one is relying on it as far as I know. I find it important that the Agda code base contains at least two backends to make sure the APIs are generic enough for the future, but we have that with the GHC + JS backends. I am okay with splitting the UHC backend off from the Agda code base.

About ``COMPILED`` pragmas, there is also

[2017-01-26 11:29] jespercockx opened #2432 "Higher-order rewrite rules is broken in parametrized modules"
This should be accepted:
[code]
I'm already working on a fix...

[2017-01-26 11:39] jespercockx commented on #2423
Damn I got the wrong issue number, sorry

[2017-01-26 11:41] jespercockx commented on #2432
Fixed by c6f50b2e678076142c3018f7c7afb9c4f16b98e1

[2017-01-26 11:41] #2432 closed, assigned to jespercockx

[2017-01-26 15:32] andreasabel commented on #2423
:-) Which is the correct one?  Ok, it is #2432.

[2017-01-26 15:47] andreasabel opened #2433 "rebindLocalRewriteRules re-adds global rewrite rules"
See my comment at commit https://github.com/agda/agda/commit/943e9bee0a1fc58575b8e292e28d03c0ba98bbc8

[2017-01-26 16:33] andreasabel opened #2434 "Exact split analysis is too strict when matching on eta record constructor"
[code]

[2017-01-26 16:39] andreasabel opened #2435 "Projection-likeness not stable under record pattern translation"
Introducing a match on a eta-record argument does not change the internal representation of a function (because of record pattern translation), thus, should not destroy projection-likeness:
[code]

[2017-01-26 17:41] #2434 closed, assigned to jespercockx

[2017-01-26 17:43] jespercockx commented on #2434
Nothing is quite like having a thesis to write to motivate you to work on other things. I even got the issue number right this time!

[2017-01-26 20:47] andreasabel opened #2436 "Agda allows coinductive records with eta-equality"
[code]
See also #2197.

[2017-01-26 21:24] andreasabel commented on #2436
Since we do not allow pattern matching on coinductive constructors, we should not have eta either.

[2017-01-26 21:39] andreasabel commented on #2434
Ah sorry, I am giving you a pretext for procrastination...

[2017-01-26 21:42] andreasabel commented on #2433
After my patch, one can reproduce the issue e.g. with this testcase:
[code]

[2017-01-26 22:22] andreasabel commented on #2436
Outlawed now.  The current syntax does not warn the user he is doing something very dangerous.  If someone needs eta for coinductive records, he could bring it back with an option or pragma.

[2017-01-26 22:26] andreasabel commented on #2436
Bugger, pushed too early... there is a test case for colists with eta-equality.

[2017-01-27 00:56] andreasabel commented on #2436
@UlfNorell @Saizan : While `no-eta-equality` is fine as a declaration, I am not so happy about the `eta-equality` declaration in records.  With `eta-equality`, you can make Agda loop.  For this, it looks too regular.  I liked the ETA pragma better, because it looks more like one does something unsafe.  At least in cases where one overrides the positivity checker (recursive unguarded records) or fo

[2017-01-27 18:09] andreasabel opened #2437 "Types in signatures get reduced by polarity machinery"
We would like to preserve the types as much as the user has written them.

For instance:
[code]
After doing the proof, we do `C-c C-d plus-0 RET` and we want to see `Identity ...` and not `∀ x → x + 0 ≡ x`, unless we request normalization/simplification.

The problem here is that the polarity machinery always reduces types in signatures to telescope-normal form, even without need.

[2017-01-27 19:17] andreasabel opened #2438 "Interaction testsuite: .out files are not updated when changing .agda or .in"
Interaction testsuite: `.out` files are not updated when changing `.agda` or `.in`.

Possibly introduced by f3ef2f6e72cd98ed17c4879bbd1b8f69aabe42de.

[2017-01-27 19:21] andreasabel commented on #2438
@asr: My apology, I am now also reporting every little issue.  This gives a forum for discussion and documentation, and the issue number allows automatic cross-references.

[2017-01-27 19:51] #2437 closed, assigned to andreasabel

[2017-01-27 19:51] #2438 closed, assigned to andreasabel

[2017-01-27 20:01] andreasabel commented on #2436
Wishes:
1. Without the `ETA` pragma, Agda should not loop because of infinite eta-expansion.
2. Agda should not silently turn eta on or off (apart from setting it to the default).

Proposal:
1. Use `eta-equality` and `no-eta-equality` to specify the desired behavior of the record (constructor). (One of them might be the default.)
2. Agda switches eta-equality on only after it has been checked posi

[2017-01-27 20:11] andreasabel commented on #2431
Maybe a backend pragma could just be
[code]
then the `backend` is fine to do whatever it wants with the `text`.  We need to know the list of backends though to complain about garbage pragmas.

We could (and should) move the pragma parsing out of `Parser.y`.  The parser should accept anything between `{-#` and `#-}` as pragma, and later phases could then parse the context of the brackets and raise

[2017-01-27 20:18] asr commented on #2438
I was waiting that you give me the reason :smile:

Documentation and cross-references are convenient for every one.

[2017-01-27 20:22] UlfNorell commented on #2431
Right now I'm leaning towards generalising the `COMPILED` pragmas to take a backend argument. Right now they get attached to a definition and serialised, so a fully general pragma would mean a bit more work in the backends.

[2017-01-27 20:30] andreasabel commented on #2431
We could still serialize them and provide a toolbox for processing them (basically refactoring the current code).  Would the scope checking be a problem at later phase?  (We serialize the scope as well.)
We would need to remember with each pragma in which module it was found.

[2017-01-28 08:58] phile314 commented on #2431
I am not sure we can check the backend names. The UHC backend is likely to be moved out of Agda, and with the new API other backends could spring up as well. I like the idea of just extending the ``COMPILED`` pragma with a backend name:
`` {-# COMPILED <backend> <text> #-}``

[2017-01-28 09:25] jespercockx commented on #2436
I would expect there would be a difference in behaviour between writing `eta-equality`, `no-eta-equality`, or nothing at all: if I write `eta-equality` explicitly and Agda cannot fulfill this demand (e.g. because the record is recursive), I'd expect Agda to tell me so with an error. OTOH, if I didn't write anything then I would be OK with Agda turning on eta-equality if the record is 'safe' and di

[2017-01-29 14:15] xekoukou opened #2439 "Size solver picks non-unique solution [Removing a deducible Size constrain leads to error]"
The question I sent to the mailing list :

If anyone wants to typecheck the code, it is in the 56th commit of https://github.com/xekoukou/sparrow , in the agda folder.

This is the piece of code that I am trying to change and that creates the error:

[code]

Removing "i" from "elf" results into error into a piece of code that uses the constructor.

[code]

It seems to me though that the size of pl

[2017-01-29 14:45] andreasabel commented on #2439
Hi xekoukou, I spent my flight shrinking your example to this:
[code]
As I see it, the problem is that in the situation `i : Size, j <= i` Agda fills an unknown size with `j` where `i` would also fit.  The wrong guess leads to a type error later.
In situations where the solution is not unique, but later code depends on the choice, Agda should just report an unsolved meta.

[2017-01-30 12:30] nad commented on #2436
Please don't do this, it will break existing code.

Do we have any examples of code which becomes *much* slower, or uses *much* more memory, due to eta-equality?

Is this safe? In the past this kind of pattern matching led to issues with subject reduction.

[2017-01-30 13:12] UlfNorell commented on #2436
If you program with pairs it's reasonably easy to run into call-by-name induced exponential behaviour with eta-equality for sigma (although I don't have a concrete example right now).

Whether disabling eta for algebraic (or similar) structures has any considerable performance gains is still not fully investigated.

We are certainly not in a position where making `no-eta-equality` the default is w

[2017-01-30 16:33] Saizan opened #2440 "Ill-typed solution to meta in case of subtyping"
The following code is accepted and normalizing ```H``` gives ```λ x → a``` which does not fit the type:

[code]
Note that if we remove the (x : Set) argument from H we get this error instead
[code]

[2017-01-31 14:45] gallais opened #2441 "Incorrect alignement in latex using the new ACM format"
The alignment method in the LaTeX backend is somehow incompatible with the new `acmart` format. The following small document behaves differently whether compiled using `article` or `acmart`.

acmart:
![incorrect-alignment](https://cloud.githubusercontent.com/assets/1094905/22469399/2c3e9b26-e7cc-11e6-90a3-965d6978aa35.png)

article:
![correct-alignment](https://cloud.githubusercontent.com/assets/1

[2017-01-31 15:08] gallais commented on #2441
@kosmikus may know what's going on in this example. I'm not sure it's a polytable problem: lhs2TeX seems to behave properly on a similar input even when using `acmart`.

[2017-01-31 16:16] gallais commented on #2441
Changing `\defaultcolumn{@{~}l@{~}}` to `\defaultcolumn{@{ }l@{ }}` in `agda.sty` solves the issue for me. Not sure how backwards compatible that change is.

[2017-01-31 20:58] gallais opened #2442 "Request: Being able to use --safe in the OPTIONS pragma"
It is currently not possible to specify that a file should only use the `--safe` subset of the language in its `OPTIONS` pragma.

[code]

yields

[2017-01-31 22:34] gallais commented on #2442
I suppose incompatibilities between `--safe` and other features should be non-fatal errors so that it's still possible to edit the file interactively to fix the issue.

There should also be an additional check when typechecking a module that the `OPTIONS` are consistent. [My naïve patch](https://github.com/gallais/agda/commit/2715040840ab472714933346eb1f080a51d30290) turning `--safe` into a `Pragm

[2017-02-01 12:21] asr opened #2443 "Broken compilation with GHC <= 7.8.4"
Travis reported an error when building with  GHC <= 7.8.4 due to [this](https://github.com/josefs/STMonadTrans/issues/6) issue.

[2017-02-02 10:16] UlfNorell opened #2444 "Generalising compiler pragmas"
Continuing the discussion started in #2431.

One obstacle to stand-alone compiler backends is the way that compiler pragmas are handled at the moment. Basically each backend has a set of pragmas hard-wired into the guts of Agda (parser, scope checker and type checker). It would make much more sense if we could shift the work of dealing with these pragmas to the backend in question.

Currently ther

[2017-02-02 10:22] gallais commented on #1678
Turns out #2442 was a duplicate of this one. Which we can now close.

[2017-02-02 10:22] #1678 closed, assigned to nobody

[2017-02-02 10:29] UlfNorell commented on #2431
I filed a new issue for the pragmas, let's continue the discussion there.

[2017-02-04 08:09] andreasabel commented on #2442
Thanks for your work on this!

I think there is a problem with test/Fail/Issue639-2.agda (see my comments to your patch).

[2017-02-04 09:55] gallais commented on #2442
I did notice it but forgot to mention this issue's number in the commit fixing the module's name: https://github.com/agda/agda/commit/a87c7ee46b6a7e6763f484c64bd493596ae18d90

[2017-02-04 12:28] andreasabel commented on #2436
Well, eta-coinductive constructors are no longer lazy, so we can also do pattern matching on them.  By record pattern translation, which is valid for eta-constructors, it vanishes in the next step.

[2017-02-05 08:23] #2442 closed, assigned to gallais

[2017-02-06 01:06] asr commented on #2396
Closing due to #2431.

[2017-02-06 01:06] #2396 closed, assigned to asr

[2017-02-06 09:20] nad commented on #2444
You missed one instance of `GHC` in the example above:

[2017-02-06 11:33] phile314 commented on #2444
Maybe we can also improve on the pragma names? I think ``COMPILE`` and ``COMPILED_CODE`` are not entirely self-explaining. What about ``COMPILED_DEF`` and ``COMPILE`` instead?

[2017-02-06 13:02] nad commented on #2444
I suggest that we avoid abbreviations like `DEF`.

[2017-02-06 13:21] nad commented on #2441
With `article`:
![With article.](https://cloud.githubusercontent.com/assets/293222/22648534/6a1d1396-ec77-11e6-831b-696d27529c8e.png)

With `acmart`:
![With acmart.](https://cloud.githubusercontent.com/assets/293222/22648548/7b3ce246-ec77-11e6-9365-d703ca25196e.png)

[2017-02-06 14:02] nad opened #2445 "The LaTeX backend is slow"
The LaTeX backend is very slow (at least for one set of examples). I suspect that the LaTeX backend uses some quadratic algorithm.

Consider modules of the following kind:
[code]
With 100 `module _ where` lines:
[code]
With 200 `module _ where` lines:
[code]
With 400 `module _ where` lines:
[code]

[2017-02-06 15:19] Saizan opened #2446 "Make sure cubical additions to Agda.Primitive are consistent with other features."
Several cubical-related primitives are in Agda.Primitive so that for every datatype or record declaration we can derive the reduction rules for primComp.

The primitives there are not enough to prove univalence so they should in principle be consistent with --with-K.

A issue remains with parametrized modules, which allows to derive "unsafe" versions of primPOr and primComp which do not check thei

[2017-02-06 15:59] nad commented on #2445
Profiling indicates that most of the time is spent in the `code` function in `Agda.Interaction.Highlighting.LaTeX`. In some cases this function calls itself recursively twice:
[code]
@stevana, is this intended? Should `when` be replaced by if-then-else?

[2017-02-06 16:04] andreasabel commented on #2445
You could try if it still works with if-then-else... (you are probably trying already).

[2017-02-06 16:06] nad commented on #1832
A relatively easy way to solve this problem might be to ensure that relative indentation is preserved in the output, even for things preceded by only a single space character. However, I think this would lead to too much alignment in the output.

[2017-02-06 16:11] andreasabel commented on #1832
We might also want to fix the Agda parser to accept something like
[code]

[2017-02-06 19:42] nad commented on #1832
I suspect that the current implementation could also yield code of the following form:
[code]

[2017-02-06 21:54] nad commented on #2445
This seems to have been intended. The code uses an exception monad, and a non-local exit is used when there is no more input to process.

I found the problem causing the poor performance: The monoid instance of Text was used, repeatedly, to construct a Text value.

[2017-02-06 22:21] #2445 closed, assigned to nad

[2017-02-06 22:23] nad commented on #2445
By the way, the time profile was somewhat confusing:
[code]
I guess most of the time was spent in `append` and `run`, but the `%time` and `%alloc` columns put the blame on `code`. However, note the `entries` column: there are zero entries for `code`, but lots for the other two functions.

[2017-02-06 22:55] nad commented on #2431
Another thing to consider: At the moment there is a hardwired list of compilers in the Emacs mode:
[code]
I guess that this list can be generated dynamically by the Agda executable.

[2017-02-06 23:04] nad commented on #1832
Here is a smaller example:
[code]
The generated document puts the `A` right under the `p` in `postulate`.

[2017-02-06 23:45] nad commented on #2353
Perhaps you can achieve what you ask for by adding the following line after the import of the `agda` package:
[code]
I tried this, and noticed that in some cases I want larger spacing: when using equational reasoning I want extra space between the terms and the equality signs. When lhs2TeX is used one can insert an invisible token to increase the spacing, or use a `%format` directive, but those ap

[2017-02-06 23:48] nad commented on #2441
I just suggested a similar change (#2353).

[2017-02-06 23:52] nad commented on #2353
Perhaps one can add extra spacing by adding a special case to `\AgdaFunction` (say).

[2017-02-07 09:44] UlfNorell commented on #2431
I was hoping that we could just use an arbitrary string here, but maybe that's what you meant. When you try to set a backend we could check that it exists and print a list of existing ones otherwise.

[2017-02-07 10:30] #2353 closed, assigned to nad

[2017-02-07 10:30] #2441 closed, assigned to nobody

[2017-02-07 10:39] nad commented on #2353
Yes: 11039b4ac1ee6dcc494029b46eb31f13e3c0c2be.

[2017-02-07 10:45] nad commented on #1832
A compromise might be to preserve the relative indentation when at least two space characters are used. I think this is what lhs2TeX does. This is not perfect, because the user is left with the responsibility to check that the output makes sense, but perhaps it is easier to implement than a perfect solution.

[2017-02-07 11:00] gallais commented on #2441
Thank you!

[2017-02-07 15:01] nad opened #2447 "Cache loaded interfaces even if a type error is encountered"
Consider the following modules:
* `M` is empty.
* The following module imports `M`, and contains a type error:
[code]
If the latter module is loaded using the Emacs mode, then `M` is checked or skipped. If the module is then reloaded, then the interface file for `M` is read again, because the interface has not been cached.

For modules with lots of dependencies it can take a fair amount of time to

[2017-02-07 15:38] nad commented on #2447
A test case:
[code]
Current output (partial):
[code]
The line containing `Skipping Issue2447.M` should not be part of the output.

[2017-02-07 16:10] nad opened #2448 "Sometimes anonymous top-level modules cannot be imported"
Consider the following situation:
* `A.agda`:
[code]
* `A/B.agda`:
[code]
Let's try to load `A.agda`:
[code]
Note the strange error message: One cannot access `A/B.agda` via the name `B`. Note also that we first check `A.B` (`Checking`), and then reload its interface (`Skipping`). This shouldn't happen. The following comment in `Agda.Interaction.Imports` is incorrect:
[code]
The problem is that th

[2017-02-07 16:38] nad commented on #2443
I guess that you did not intend to close this issue.

[2017-02-07 16:40] asr commented on #2443
Right.

[2017-02-07 16:57] nad commented on #2447
The problem was that `Agda.Interaction.InteractionTop.handleCommand` reset the state (also the persistent state) if an error was encountered. Perhaps this problem was introduced by the fix for #2174.

[2017-02-07 17:36] nad commented on #2447
There is also a similar problem if an error is encountered in an imported module.

The function `freshTCM` is used when imported modules are typechecked. This function does not preserve all of the persistent state, only the `stBenchmark` and `stAccumStatistics` components. @andreasabel, you introduced this function, can you explain why some parts of the persistent state are more persistent than ot

[2017-02-07 18:21] nad commented on #2447
I changed the function so that the persistent state is preserved (unless if certain errors are encountered). Hopefully this did not break anything.

[2017-02-08 08:39] andreasabel commented on #2447
As far as I remember, I just factored out some code from `Interaction.Imports` and called it `freshTCM`.

[2017-02-08 08:43] andreasabel commented on #2448
Modules which are not at the project root cannot be anonymous, at least that does not work at the moment, and I doubt it has ever worked.

[2017-02-08 08:45] andreasabel commented on #2435
This issue is hardly worth the time spent on it.

[2017-02-08 08:45] #2435 closed, assigned to nobody

[2017-02-08 08:49] andreasabel commented on #1832
Why is it easier?  Cannot you say it is a new indentation level if it is strictly bigger than the previous one?

[2017-02-08 09:34] #2447 closed, assigned to nobody

[2017-02-08 10:28] nad commented on #2448
The error message is still incorrect.

I noticed that one can construct a counterexample to the comment above ("Note that this doesn't actually read the interface file") by using nested project roots instead of anonymous top-level modules, see `test/Fail/customised/NestedProjectRoots.err`:
[code]

[2017-02-08 10:37] nad commented on #1832
I don't want to align everything that just happens to start in the same column. Figuring out when it is essential to preserve the relative indentation of two things seems non-trivial to me.

My idea of a perfect solution:
* The output is valid Agda that is equivalent to what is written in the code block. (As long as the defaults set up in `agda.sty` are not changed.)
* If the user explicitly asks

[2017-02-08 10:38] nad commented on #2445
Why did you assign me a closed issue?

[2017-02-08 11:27] nad commented on #1832
I just realised that my recent change to the LaTeX backend (4b0f79cf9a19ebe58b1d27f6d626ba6b8366bbe0), in which extended grapheme clusters are counted instead of code points, makes the problem discussed above worse.

Consider the following code:
[code]
Previously `zero` was not aligned with `(suc n)`, because `+̲` contains two code points. Now, because `+̲` contains a single extended grapheme clus

[2017-02-08 14:32] nad commented on #1832
@andreasabel pointed out that Agda does not satisfy a property that he attributed to Frank Pfenning (I am not sure if my statement matches Pfenning's): If you take a valid program and α-rename an identifier, then you should get an equivalent, valid program. In the case of Agda you may get a program which is no longer valid. We could perhaps change Agda so that Pfenning's property holds by not allo

[2017-02-08 15:11] andreasabel commented on #1832
`in` on the same line cancels the layout started by `let`, thus, these are also fine.
See also #1145 for some more discussion.

[2017-02-08 15:13] andreasabel commented on #2445
Because you fixed it, thus it is your issue.  This was the practice we had, at least on google code.

[2017-02-08 15:30] andreasabel opened #2449 "Agda depends on additional C library icu"
Agda seems to depend on more libraries, this should be documented (amongst others?) in the CHANGELOG and the prerequisites in the README.
[code]
On my system, I can fix this with
[code]

[2017-02-08 15:31] Saizan opened #2450 "Irrelevant variables are pruned too eagerly"
In the following Agda shouldn't prune away the first argument of Y but only the second.
The variable 'y' is needed to trigger the pruning in the first place.

[code]

[2017-02-08 17:12] UlfNorell commented on #1832
I suspect you'll find quite a lot of code like

[code]

Note that allowing this code does not invalidate the alpha-renaming principle, though.

[2017-02-08 17:16] UlfNorell commented on #2445
Tbh I also find it annoying when I get emails about old closed issues. Is there a use case where having someone assigned to a closed issue matters? If the issue reappears it's not that hard to see who fixed it.

[2017-02-08 18:33] andreasabel commented on #2445
Matters maybe only for statistical purposes, when you want to argue with Peter about your salary increase. :)  I can stop assigning you guys...

[2017-02-08 18:42] andreasabel commented on #1832
Yes, this should be continued to be allowed.  We can allow some exceptions to the general rule

Exception:

This exception covers your case and also cases like
[code]
If the layout keyword is not last on the line or not preceded only by keywords, then the whole block needs to be given until the end of the line, e.g.
[code]
But this discussion should really happen at #1145.

[2017-02-08 18:58] identicalsnowflake commented on #2449
I didn't notice anything on my Linux build (it seems I already had this installed), but on my OSX machine I had to: `brew install icu4c` and then manually `brew link icu4c --force`.

[2017-02-08 19:08] identicalsnowflake opened #2451 "Agda panics when attempting to rewrite a typeclass Eq"
[code]

I get `Panic: Pattern match failure in do expression at src/full/Agda/TypeChecking/Rewriting.hs:151:3-11 when checking the pragma REWRITE plus0p`.

[2017-02-08 19:11] UlfNorell commented on #1832
I knew we had discussed this before...

[2017-02-08 20:25] asr commented on #2445
You can use the assignation information for searching purposes. Sometimes I only can remember who was assigned to an issue I'm looking for.

[2017-02-08 20:43] nad commented on #2449
I added a dependency on `text-icu` in order to count extended grapheme clusters rather than code points in the LaTeX backend. However, I raised the possibility to revert this commit (#1832), so we can delay updating the documentation until we've decided what to do.

[2017-02-08 20:55] nad commented on #1832
I think we should also allow certain reserved characters, like parentheses (consider `(let ...`).

[2017-02-08 21:18] nad opened #2452 "The LaTeX backend does not handle options very well"
Consider the following code:
[code]
The LaTeX backend renders this code in the following way:
![bug](https://cloud.githubusercontent.com/assets/293222/22757274/7b906f04-ee4a-11e6-95ce-8f78df0100e1.png)
There are three problems here:
* The two options are not aligned.
* The character sequence `--` is rendered as an en dash (`–`).
* I would prefer if a different font style was used for the options.

[2017-02-08 21:21] nad commented on #2452
Perhaps the second problem can be fixed by escaping dashes in the following way: `{-}`.

The third problem could be fixed rather easily if the highlighting machinery generated a (new?) `Aspect` for options.

[2017-02-09 08:41] andreasabel commented on #1832
Ah yes, this falls under "no identifier".

[2017-02-09 08:48] nad commented on #1832
But not under "only keywords".

[2017-02-09 08:50] nad commented on #2452
The comment-starting character sequence `--` is also typeset using an en dash.

[2017-02-09 09:04] andreasabel commented on #1832
Ah, in some sense, reserved symbols are in one league with keywords.  They are both for the grammatical structure, the identifiers are the semantics...

[2017-02-09 09:50] andreasabel commented on #2451
New error will be:
[code]
This is because `plus0p` targets `_≡≡_ `, which is not the rewrite relation.

[2017-02-09 10:06] andreasabel commented on #2451
I fixed the issue in a negative way.  For a positive fix, we could extend Agda to allow several rewrite relations.  Please open a new issue if you want to request such a feature.

[2017-02-09 10:06] #2451 closed, assigned to andreasabel

[2017-02-09 10:25] UlfNorell commented on #2444
My reading of the pragma names were: `{-# COMPILE <backend> <name> <text> #-}` means _**compile**_ `<name>` using the information in `<text>`, and `{-# COMPILED_CODE <backend> <text> #-}` means `<text>` is some (already _**compiled**_) _**code**_ in the backend's target language that should get included in the compiled output.

[2017-02-09 10:38] UlfNorell commented on #2444
A minor consideration is that the new pragmas don't conflict with the old ones, since I'd like to leave the old ones in there for a version or two (with deprecation warnings).

[2017-02-09 10:56] identicalsnowflake commented on #2451
@andreasabel

To be honest I don't actually know what I'm looking for or whether there's enough already: I encountered this because I wanted to try some rewrite rules on `List t`, like `∀ {t} {{_ : Eq t}} (xs : List t) -> id <$> xs ≡ xs`, but this is problematic because the `Eq` for `List t` is derived from `Eq t`.

From a mathematical sense, builtin eq is "stronger" than any other valid equality,

[2017-02-09 11:14] identicalsnowflake commented on #2451
Here is what confuses me:

[code]

[2017-02-09 14:26] andreasabel commented on #2444
Instead of `COMPILED_CODE` we could have `EMBED` or `FOREIGN`.
It is not really "already compiled code", it is just embedded code from a foreign (=not Agda) language.

[2017-02-09 14:29] andreasabel commented on #2451
What confuses you?  This is accepted, as expected, no?

[2017-02-09 14:47] identicalsnowflake commented on #2451
oops, I apparently hadn't rebuilt. Yes, it works as expected now!

[2017-02-09 20:54] nad commented on #2400
Here is a similar example:
[code]
The parser does not treat this as a code block, but the LaTeX backend does.

[2017-02-09 21:03] nad opened #2453 "Code block markers sometimes do not delimit a code block"
Consider the following code:
[code]
The literate Agda parser does not treat this as a code block, but the code is accepted. (And the LaTeX backend treats this as a code block: #2400.)

This can be confusing. I suggest that `\begin{code}` and `\end{code}` should be rejected unless they actually start or end a code block, or are commented out.

The current rule seems to be that `\begin{code}` must b

[2017-02-09 23:01] gallais commented on #2452
- [x] The two options are not aligned.
- [x] The character sequence `--` is rendered as an en dash (`–`).

The alignment issue is solved by introducing a new aspect for options (so far they were just returned as raw strings): the alignment code kicks in once they're assigned this new aspect.
Your suggestion to use `{-}` seems to work fine. This is what we get:

![options-lagda](https://cloud.githu

[2017-02-10 12:30] UlfNorell commented on #2444
I like `FOREIGN`.

[2017-02-10 13:39] UlfNorell commented on #1081
Not sure why this is still open.

[2017-02-10 13:39] #1081 closed, assigned to dominiquedevriese

[2017-02-10 15:25] fredefox commented on #2032
I have a problem that may (or may not) be related to this issue.

    § which agda-mode

    § agda-mode --version

    ...

Yet when I try to load an Agda-file in Emacs I get the error:

    agda2-restart: The Agda mode's version (2.5.1) does not match that of agda (unknown).

The thing to note here is that the version of `agda-mode` doesn't match the one in my path &mdash; and of course that it

[2017-02-10 15:26] fredefox commented on #2032
I should maybe add that I don't know where this 2.5.1-version is coming from. I can't find it anywhere in my system xD

[2017-02-10 15:32] andreasabel commented on #2032
What is the output of `agda-mode --locate`?

[2017-02-10 15:32] fredefox commented on #2032
§ agda-mode locate

[2017-02-10 15:40] fredefox commented on #2032
I see a potential issue. As you may have gathered I've build agda from source using `stack`.

When you do `stack build` it puts the binaries in a location like the above, when you then do `stack install` it copies the binaries to `~/.local/bin` so perhaps the way agda detects where it lives interferes with this pattern. I dunno. Just a thought...

[2017-02-10 15:51] fredefox commented on #2032
So... I am tbh a total emacs-noob, but re-reading the comments above I decided to try this: comment out everything agda-related (`.spacemacs` -- spacemacs have a notion of configuration-layers. I don't fully understand how it works) and then in `init.el` I have (and had before-hand) the result of `agda-mode setup` i.e. the agda-mode locate thingy. It seems to be resolved now. Though I don't know i

[2017-02-10 16:07] Blaisorblade commented on #2032
Any chance your .spacemacs config contained an out-of-date agda2.el (rather than a call to `agda-mode locate`?

Alternatively: Maybe unrelated (but surely related to this issue), `./src/data/emacs-mode/agda2-mode-pkg.el` still uses version 2.5.1 on both releases 2.5.2 and on master. That should affect packages (CC @spwhitton), and would affect any code relying on that file (possibly including spac

[2017-02-10 16:13] Blaisorblade commented on #2032
I've manually fixed `agda2-mode-pkg.el` on `stable-2.5` and `master` (pushed directly). I hope that wasn't too eager.

I've added a PR for the release docs so this is avoided in the future, reopening till the PR is merged or some other fix is found.

[2017-02-10 16:38] fredefox commented on #2032
`.spacemacs` contained:

    dotspacemacs-configuration-layers '( ... agda ...)
    dotspacemacs-additional-packages '(agda2-mode)

I've removed this entirely and just have this in `.init.el`

    (load-file (let ((coding-system-for-read 'utf-8))
                    (shell-command-to-string "agda-mode locate")))

as per `agda-mode setup`. Like I said, not an emacs-expert, so I don't know if this i

[2017-02-10 16:47] Blaisorblade commented on #2032
@fredefox If it works I wouldn't worry too much — but I'm no Emacs/Spacemacs expert and you might want to ask the author of that layer if there's one.

Googling found two Spacemacs layers that seem to not have this problem—they seem to rely on `agda-mode` as usual:
https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/agda (official?)
as does this older (more minimal?) one: https://gith

[2017-02-10 17:21] asr commented on #2032
Did you install a previous version of Agda using Cabal?

[2017-02-11 09:37] Saizan opened #2455 "freeVarsToApply ignores Relevance (esp. UnusedArg computed by polarity checker)"
Introducing the intermediate definition ```se``` prevents aux' from being assigned the right polarity.

[code]

Translating the module away also avoids the bug:

[code]

[2017-02-11 14:57] fredefox commented on #2032
@Blaisorblade: Thanks for the input. You're right I should just be happy that it seems to be working.

@asr: No I intentionally stay far away from using cabal directly. It's caused me many a headache.

[2017-02-11 15:57] mechvel commented on #2455
Probably, many proofs will become easier to set after fixing this bug.

[2017-02-11 20:23] identicalsnowflake opened #2456 "Internal error when postulating instance"
[code]
`An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/Syntax/Concrete/Definitions.hs:319`

[2017-02-11 21:29] identicalsnowflake commented on #1397
I think I just hit this. Here is a case with no dependencies:

[code]

Proof search in the hole with `-m` yields `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/Auto/Typecheck.hs:362`.

Interestingly, if you postulate those 3 theorems instead of proving them, this will not happen and proof search will simply time out.

[2017-02-12 16:47] identicalsnowflake opened #2457 "Macros parameters of type `Term` do not properly type check"
There are two parts below: the first few comments demonstrate that `Term` parameters to macros do not type check in the same way as parameters of any other type; the second part demonstrates why this is problematic.

[code]

[2017-02-12 19:27] UlfNorell commented on #2457
I think this is working as intended. Did you read the [section on macros in the user manual](https://agda.readthedocs.io/en/latest/language/reflection.html#macros) that explains how macro arguments of type `Term` and `Name` are handled?

Closing, but reopen if needed.

[2017-02-12 19:27] #2457 closed, assigned to nobody

[2017-02-12 19:52] identicalsnowflake commented on #2457
@UlfNorell That behavior is surprising to me. I encountered this while attempting to get the following via the macros `reflect` and `unreflect`:

[code]

The `unreflect` is causing me problems. If I already have some `x : Term`, passing it to a macro messes it up by reflecting it again instead of using the term I'm trying to pass it.

[2017-02-12 20:06] identicalsnowflake commented on #2457
I tried that `unquoteDef` instead of `unreflect`, but I think I'm doing something wrong:

[code]

Agda says `⊤ !=< Set of type Set`.

EDIT: Creating a type wrapper for `Term` allows me to pass it to `unreflect` cleanly. I'll use that.

[2017-02-12 21:02] UlfNorell commented on #2457
`unify` takes two terms to unify. Typically one is the metavariable that you get passed to a macro.

If you desperately want to pass a `Term` to a macro you can wrap it in a datatype to avoid the special treatment kicking in.

[2017-02-13 02:21] asr commented on #2005
One year later...

[2017-02-13 08:42] phile314 commented on #2457
I think the current solution is not too bad, but I now see that it can be a bit surprising. Maybe adding a "newtype" for quoted terms/types could be a nice solution:

    record Quoted : (A : Set) -> Set where
      field quoted : A

    macro
      test : Term -> Quoted Term -> Quoted Name -> TC T

    f = test a b c
    -- desugars to
    f = unquote (test a (quoteTerm b) (quote c))

This would

[2017-02-13 12:34] #2443 closed, assigned to asr

[2017-02-13 12:54] andreasabel commented on #1397
In absence of a maintainer for Auto, it is rotting away...

[2017-02-13 13:21] andreasabel commented on #2456
Probably introduced in connection with fix for #1698.

Fix: give a regular error instead of an internal error.

[2017-02-13 13:22] #2456 closed, assigned to andreasabel

[2017-02-13 21:02] identicalsnowflake commented on #1397
I wish I could help, but I simply have no idea what is even going on, much less know how to fix it.

But I think the cause of this bug is because [this match](https://github.com/agda/agda/blob/master/src/full/Agda/Auto/Typecheck.hs#L353) assumes these two lists are going to be the same size. You can see in the proof `¬==→¬≡` above that this is a bad assumption. It doesn't crash if we rewrite `¬==→

[2017-02-14 12:17] andreasabel opened #2458 "Regression: Agda-2.5.3 loops where Agda-2.5.2 passes"
https://bitbucket.org/mr-ohman/dec-of-conv/commits/6e0ec506c46b98466817b488419158c19c704114?at=decidable

module Definition.Conversion.Decidable

Possible cause: termination checker loops.

[2017-02-14 12:46] andreasabel opened #2459 "Restore debug printing in Reduce.hs"
@UlfNorell: Please restore the debug printing you deleted in https://github.com/agda/agda/commit/57130662b2f4a45bd1e538f7a1241005f8734971

When Agda loops, it is very useful to confirm the loop is in reduction by just flicking on `-v 100`.

[2017-02-14 12:47] andreasabel commented on #2458
Blocked on #2459.

[2017-02-14 12:48] andreasabel commented on #2459
Blocking #2458.

[2017-02-14 13:27] andreasabel commented on #2403
Since with-inlining destroys well-typedness, we should not do this in combination with with-inlining.  Could be causing #2458.  At least if we switch off normalization if we inlined with-functions, #2458 no longer loops.

[2017-02-14 13:51] andreasabel commented on #2458
Seems like with-inlining (which destroys well-typedness) does not go well with argument normalization as introduced in #2403.
For a test case, I would have to shrink the example, or do some hard thinking... :D

[2017-02-14 15:32] #2458 closed, assigned to andreasabel

[2017-02-14 22:33] andreasabel commented on #2455
Relevance info is not put in for module free variables in the use of `se` in the type of `aux'`, even though `se` has already been lambda-lifted and its polarity has been computed.
[code]
This should be `ru(e) ku(f)`. Where `k`onstant is `UnusedArg`.

The basic function
[code]
is actually bogus since it ignores that `Relevance` may be different for different definitions in the same section.

Re 41

[2017-02-15 00:02] andreasabel opened #2460 "Document new (parts to) data structures for cubical"
For instance, `domFinite`:
https://github.com/agda/agda/blame/master/src/full/Agda/Syntax/Common.hs#L541

[2017-02-15 00:07] andreasabel commented on #2455
Fixed by getting relevances from definition type in freeVarsToApply.

[2017-02-15 12:48] mechvel commented on #2455
On Tue, 2017-02-14 at 16:07 -0800, Andreas Abel wrote:

I have an impression that this fix  does not help  with the example that
I give in my letter of February 7 2017 to the mailing list
(lemma2 in the code attached there).

I use Development Agda of February 15, 2017.

Am I missing something?

------
Sergei

[2017-02-15 16:30] andreasabel opened #2461 "Support with in the presence of IApply patterns"
[code]

[2017-02-15 17:42] andreasabel opened #2462 "Overloaded postfix projection does not resolve"
[code]
yields
[code]

[2017-02-15 17:47] andreasabel commented on #2462
Just a missing `unScope`.  (Did I mention that I hate `A.ScopedExpr`?)

See #1963 for the origin of postfix projections.

[2017-02-15 17:48] #2462 closed, assigned to andreasabel

[2017-02-15 19:47] andreasabel commented on #2455
Please put a self-contained test case on the issue page #2455 and reopen
the issue if you think it does not work yet.  The example given there by
Andrea passes.

Best,
Andreas

On 15.02.2017 13:48, mechvel wrote:

--
Andreas Abel  <><      Du bist der geliebte Mensch.

Department of Computer Science and Engineering
Chalmers and Gothenburg University, Sweden

andreas.abel@gu.se
http://www.cse.chalm

[2017-02-16 03:35] JLimperg opened #2463 "Reflection: Missing information for record definitions"
Apologies in advance if I'm overlooking something basic, but as far as I can tell, for a given record `R`, reflection currently doesn't provide information on

1. whether `R` is coinductive;
2. what fields `R` has.

It also doesn't include the parameters of `R`, though these could be inferred from the fields' types (iff `R` has any fields).

For reference, the `record-type` constructor of `Definit

[2017-02-16 07:41] UlfNorell commented on #2463
You can get the parameters from the type of `R` and you can get the (types of) the fields from the type of the record constructor. There is currently no way to get the names of the fields.

[2017-02-16 09:22] Saizan commented on #2455
Seems like there's an independent bug with ```where```:

[code]

[2017-02-16 11:50] mechvel commented on #2455
This is on the type checker of  Agda 2.6.0-112ad0c  and  Agda 2.5.2
(both on ghc-7.10.2).
Please download the code (about 140 lines) from
  http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-feb4-2017.zip

See there  readme.agda.
It was said by A. Vezzosi

I expect that this my code is simplified by the Agda developers and put to the issue #2455.
And this issue is said to be (probbably) relat

[2017-02-16 12:46] andreasabel commented on #2455
This is #2012.  In a mutual block (such as `where`), the positivity checker is run too late to influence the polarity analysis sufficiently.  The whole type checking of the `where`-block is done before the positivity checker runs, hence before the polarity checker.  The `Arg` annotations in `P se` are already set (to `Relevant`) when the polarity checker is run on the type `Unit -> P se` to see wh

[2017-02-16 12:49] JLimperg commented on #2463
Thanks, I didn't think of the record constructor (and records have no indexes, duh). That said, can I get the name of the record constructor (if defined)? And by the way, can I generate values of records with an unnamed constructor? It seems that `quoteTerm` translates the `record {foo = bar}` syntax into an application of the unnamed constructor, which I don't think should be in scope(?).

Would

[2017-02-16 13:17] UlfNorell commented on #2463
The name of the record constructor is the argument to the `record-type` constructor in the `Definition` (there seems to be a bug in the documentation there). Reflected code is not limited by the normal scoping rules, so constructing a record value with an unnamed constructor is not a problem. Basically, if you have a `Name` you can use it without worrying about scope.

PRs are always welcome.

[2017-02-16 13:38] JLimperg commented on #2463
Oh, I see. Thanks for both the info and the doc fix.

To summarise, it is currently impossible to find out the names of a record's fields and whether a record is coinductively defined. Everything else is already supported.

I'll leave this issue open for now in case I or anyone else wish to add this information.

[2017-02-17 09:04] andreasabel commented on #2455
As discussed with @Saizan, we can use `CheckInternal` to propagate `UnusedArg` information from type to term before we do the `dependentPolarity` analysis.  This fixes the relevance annotations in `P se` and the test case succeeds.

However, as I always feared, if we run the internal type checker for double-checking the terms generated by the main type checker, we will discover all sorts of bugs i

[2017-02-17 09:10] andreasabel opened #2464 "Eta contraction for irrelevant functions breaks subject reduction"
Test case `test/Succeeds/EtaContractIrrelevant` says:
[code]
Agda contracts here to `(F≡F' : F ≡ F')` which is ill-typed.
Currently we contract `\ .x -> f M` to `f` for any term `M` if `f` is an irrelevant function.  This seems to liberal.  We need to make sure that `x` has the correct type!

Blocks #2455.

[2017-02-17 14:45] andreasabel commented on #2317
Any update on this?  How about creating the temporary files in the TEMP folder of the system instead of locally?  Then we do not have to worry about cleaning them up always.

Another take would be that the test runner cleans up everything that is left over from previous runs as well.

[2017-02-19 22:27] nad commented on #2317
I've noticed this bug when running the LaTeX and HTML tests. The [process documentation](https://hackage.haskell.org/package/process-1.5.0.0/docs/System-Process.html#g:4) seems to contain relevant information.

[2017-02-19 22:33] nad commented on #2452
I was referring to the options, not the keyword. The font style used above works for me.

[2017-02-19 22:58] nad commented on #2452
I suspect that your commit does not handle options like `-v 100` correctly.

[2017-02-20 07:20] nad commented on #1832
I've implemented a partial fix, see the [CHANGELOG](https://github.com/agda/agda/blob/5e34943f792c2a62b743330d07f071394abf5171/CHANGELOG.md#latex-backend). Are you content with this design? I make no attempt to ensure that the output is always valid Agda code.

I'm leaning towards keeping it. I've documented a potential problem in the CHANGELOG, and I hope that people write code in the fragment of

[2017-02-20 07:26] phile314 commented on #2317
I investigated this a few months ago but didn't find the root cause. The tests use ``withTempDirectory``, which should always remove the test directory [1]. For some reason, this does not seem to work.

Maybe @andreasabel suggestion is the better way to go. One option would be to have one temp directory, e.g. "test-temp" in the project root. Cleanup could be done on the start of the test run. This

[2017-02-20 07:28] nad opened #2465 "Make Agda "Pfenning-safe"?"
@andreasabel pointed out that Agda does not satisfy a property that he attributed to Frank Pfenning (I am not sure if my statement matches Pfenning's): If you take a valid program and α-rename an identifier, then you should get an equivalent, valid program. In the case of Agda you may get a program which is no longer valid. We could perhaps change Agda so that Pfenning's property holds by not allo

[2017-02-20 07:30] nad commented on #1832
I created a separate issue for discussion of "Pfenning-safety": #2465.

[2017-02-20 07:35] nad commented on #2317
Did you try setting `delegate_ctlc` to `True`? (See the  [process documentation](https://hackage.haskell.org/package/process-1.5.0.0/docs/System-Process.html#g:4).)

[2017-02-20 10:29] gallais commented on #2452
Good point. I think I'll generate the list of all possible strings corresponding to pragma options using [this list](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Options.hs#L550) and then test for membership.

[2017-02-20 13:13] nad commented on #2452
I suggest that you instead define a highlighting aspect corresponding to `TokString`, and use this aspect for all pragma strings. This would make alignment work also for other pragmas, right? Perhaps the aspect could be called `Pragma`, or `PragmaData`, or something like that.

[2017-02-20 16:24] andreasabel opened #2466 "Case split to make hidden variable visible does not work"
In the goal below, when `C-c C-c` on `.p` to bring this variable into scope, nothing happens.  Rather the binding `{x = x}` is discarded, leading to a sope error.

Did not have time to shrink this case much.
[code]

[2017-02-20 16:47] andreasabel opened #2467 "REWRITE without BUILTIN REWRITE crashes"
This gives an internal error.
[code]

[2017-02-20 16:58] andreasabel commented on #2464
Actually, since the unifier has improved, we get this test through without risky eta-contraction of irrelevant functions.

[2017-02-20 17:04] #2464 closed, assigned to andreasabel

[2017-02-20 17:04] #2467 closed, assigned to andreasabel

[2017-02-21 15:56] rntz opened #2468 "Internal error (irrefutable pattern failed) with overlapping copattern/noncopattern definitions"
The following code:

[code]

Produces the following internal error:

```src/full/Agda/Utils/List.hs:296:3-42: Irrefutable pattern failed for pattern (left, el : right)```

Expected behavior: an error message telling me that I can't simultaneously define `example` directly and using copatterns.

[2017-02-21 16:02] asr commented on #2468
Agda version?

[2017-02-21 16:02] rntz commented on #2468
[code]

[2017-02-21 16:15] asr commented on #2468
I got the expected error using Agda 2.5.2.

[2017-02-21 16:15] #2468 closed, assigned to nobody

[2017-02-22 09:54] nad commented on #2452
Another way to handle the problem with `--` might be to not activate TeX ligatures, but perhaps that only works when XeLaTeX and LuaLaTeX are used.

I wonder if there are also other TeX ligatures that could be problematic.

[2017-02-22 10:25] nad commented on #2225
I tried using Deja Vu Sans and Deja Vu Sans Mono, but in my opinion this made some of the rendered documents uglier. Is it possible to use these fonts only for missing glyphs?

[2017-02-22 10:33] nad commented on #1832
@UlfNorell suggested a better way to handle indentation, and I've implemented something along these lines, see the [CHANGELOG](https://github.com/agda/agda/blob/bff1211973571c4293b1ddda124939b7b6c2cbea/CHANGELOG.md#latex-backend).

@andreasabel, can we close this issue now?

[2017-02-22 12:10] nad commented on #1832
Perhaps I should mention that some documents (for instance `Issue1062.lagda`) compile more slowly now. The reason seems to be that many more polytable columns are generated. Many of these columns are not actually used, so it should be possible to generate more efficient LaTeX code.

[2017-02-22 15:09] SuprDewd opened #2469 ""Partial" pattern match causes segfault at runtime"
Using Agda 2.5.2, the following code type checks, but when executed (`agda -c crash.agda && ./crash`), it segfaults.
[code]

This was also tested using Agda 2.5.1.1, where it fails to type check with the following message:
[code]

If one looks closely, the pattern matching for `f` is complete, so it may be that the type checker was made smarter for 2.5.2, but somewhere the runtime is still unable

[2017-02-22 15:40] nad commented on #1832
Done.

[2017-02-22 17:27] wenkokke opened #2470 "Overloaded number syntax"
I'm pretty sure this has come up before, but is there any reason the number syntax has to be bound to natural numbers?

If we would have numbers unfold to applications of whatever the successor and zero for naturals happen to be—but don't enforce the type—then we could use the same number syntax for various different types of number (naturals, finite types, positive naturals, etc).

E.g.

    n4 =

[2017-02-22 17:43] jespercockx commented on #2470
See https://github.com/agda/agda/blob/master/CHANGELOG.md#literals-and-built-ins

[2017-02-22 17:43] wenkokke commented on #2470
Thanks @jespercockx !

The fromNAT solution does address this issue, but only for types A for which there exists a total mapping from the natural numbers to A. This isn't true for finite types and it isn't true for positive naturals.

[2017-02-22 17:52] jespercockx commented on #2470
Actually you can: see https://agda.readthedocs.io/en/latest/language/literal-overloading.html on how.

[2017-02-22 17:54] wenkokke commented on #2470
Thanks! 👍

[2017-02-22 17:54] #2470 closed, assigned to nobody

[2017-02-22 21:25] JLimperg opened #2471 "Corecursive records: Proving propositional equality if all fields are propositionally equal"
Greetings,

consider a coinductive record `R` with single field `force`. Currently, as far as I can tell, it is impossible to define a function of type

    (r s : R) → force r ≡ force s → r ≡ s

since one cannot deconstruct `r` and `s`. Hence the questions:

1. Am I overlooking something and such a function can be defined?
2. If not, should this be possible?

[2017-02-23 07:08] phile314 commented on #2469
Fixed in the GHC backend, still a problem in the JS backend.

[2017-02-23 07:48] nad opened #2472 "Regression related to the auto command"
Martin Escardo reported that the hole in the following piece of code can be filled using the auto command when Agda 2.5.1.1 is used, but not with Agda 2.5.2:
[code]

[2017-02-23 07:53] nad commented on #2472
Here is a cut-down test case:
[code]
The auto command's error message:
[code]

[2017-02-23 08:10] nad commented on #2469
I restored the labels that you removed. Sometimes we search for fixed issues using labels.

[2017-02-23 08:52] nad opened #2473 "Don't reread the source code without checking that it is unchanged"
The following problems should be fixed:
- [ ] `Agda.Interaction.Imports.buildInterface` rereads the source code before hashing it. It should hash the source code as seen by the parser.

  Sometimes I edit the file while it is being type-checked, and then Agda does not do anything when I try to reload. I guess that the problem is that Agda hashes the edited code.
- [ ] `Agda.Interaction.Highlightin

[2017-02-23 09:07] nad commented on #2472
Bisection indicates that the problem was introduced by @andreasabel in 6a83085da5d80720a79043ae4515e737131f3c27:
[code]

[2017-02-23 10:48] nad opened #2474 "The LaTeX and HTML backends do not highlight (all) unsolved metas"
Consider the following literate Agda code:
[code]
The LaTeX backend generates the following LaTeX code:
[code]
Note that there is no call to `\AgdaUnsolvedMeta` in the code above.

[2017-02-23 13:31] andreasabel commented on #2472
I can see that I introduced the regression, but I do not understand why.  How did the original code find the meta?  It is only looking in function clauses.  But the meta is in a type signature.
[My (new) code only looks in function clauses (and of course does not find it).]

[2017-02-23 13:34] andreasabel commented on #2471
For coinductive records, you should not use propositional equality (unless you are playing with cubical Agda).  You should define equality coinductively as well. See, for instance,

  http://www.cse.chalmers.se/~abela/eptcs14.pdf

Does this help?

In general, the Agda mailing list is the right place to ask such questions, the issue tracker should be kept for actual bugs.

[2017-02-23 13:54] andreasabel opened #2475 "Load does not turn placeholders into holes in emacs"
With current Agda 2.5.3, commit b00a3aaeea2948bb37d1a6e93362a4012b089d95, if I load `Logic.agda` from the enclosed `.zip`-file  (with the `.agdai` file present), emacs does not turn the `{!!}` placeholder into interaction points.

[Bug.zip](https://github.com/agda/agda/files/796589/Bug.zip)

[2017-02-23 14:50] JLimperg commented on #2471
Apologies for asking this question in the wrong forum. I'll turn to the mailing list and add a bit more context as to why I want propositional equality rather than a bisimulation. In any case, thank you for the pointer.

[2017-02-23 14:50] #2471 closed, assigned to nobody

[2017-02-23 20:22] nad opened #2476 "Better highlighting before type-checking"
The new QuickLaTeX backend (see the [CHANGELOG](https://github.com/agda/agda/blob/08c553acdc7d5aa1cde0842c287d73e5561b18c1/CHANGELOG.md#latex-backend)) uses the highlighting information produced by the scope-checker. This means that some highlighting information is not available. In some cases this is expected. For instance, overloaded constructors are not resolved. However, in some cases I think

[2017-02-23 20:26] nad commented on #2449
I don't think the commit will be reverted.

[2017-02-23 20:33] UlfNorell commented on #2449
What's the impact on Windows users? I'd rather not make Agda a nightmare to install on Windows just to fix obscure unicode/latex interactions.

[2017-02-24 13:14] #2444 closed, assigned to UlfNorell

[2017-02-24 15:23] #2431 closed, assigned to UlfNorell

[2017-02-24 15:44] UlfNorell commented on #2431
New repo in https://github.com/agda/agda-uhc.

[2017-02-24 18:07] favonia commented on #2003
Hi, I think I count as a “HoTT” person and I do care about judgmental equality. However, I also understand the hesitation here. It will be great if this is implemented as an option.

[2017-02-24 19:27] UlfNorell commented on #1476
Moved to agda-uhc.

[2017-02-24 19:27] #1476 closed, assigned to nobody

[2017-02-24 19:29] #1475 closed, assigned to phile314

[2017-02-24 19:29] UlfNorell commented on #1475
Due to #2431.

[2017-02-24 19:31] UlfNorell commented on #1769
Moved to agda-uhc.

[2017-02-24 19:31] #1769 closed, assigned to phile314

[2017-02-24 19:33] UlfNorell commented on #1844
Moved to agda-uhc.

[2017-02-24 19:33] #1844 closed, assigned to phile314

[2017-02-24 19:35] UlfNorell commented on #1879
Moved to agda-uhc.

[2017-02-24 19:35] #1879 closed, assigned to nobody

[2017-02-24 19:36] UlfNorell commented on #2359
Moved to agda-uhc.

[2017-02-24 19:36] #2359 closed, assigned to asr

[2017-02-24 19:55] identicalsnowflake commented on #2470
^^ For what it's worth, this does seem to be missing for `Float` literals.

[2017-02-25 17:44] gallais commented on #2003
Should we, following the coq stdlib, add properties about UIP to agda-stdlib to make it easier for users to prove these? E.g. something like this:

https://gist.github.com/gallais/9f017c51100c63cdc199fe60dc902b82

[2017-02-26 13:28] andreasabel commented on #2003
Ah, yes, this could go somewhere under Relation/Binary/PropositionalEquality/

[2017-02-26 23:26] andreasabel opened #2477 "Sized data type analysis brittle, does not reduce size"
This should work, but Agda does not reduce `i + 1` to `↑ i` when analysing `Nat`.  Subtyping fails silently.
[code]

[2017-02-27 08:36] nad commented on #2003
The standard library does not (or at least did not use to) use `--without-K`. However, I would not be surprised if this flag could be enabled in many modules.

[2017-02-27 08:45] nad commented on #2449
There seems to be a [Windows installer](http://site.icu-project.org/download/58#TOC-ICU4C-Download) for ICU. The page contains a note about how "There are known issues building on IBM z/OS", so I imagine that cross-platform support is a priority for this project.

[2017-02-27 09:28] nad commented on #2449
An alternative would be to use a native Haskell implementation of the algorithm. I found a [Haskell implementation](https://github.com/rde1024/hs-unicode-algs), but this implementation does not seem to be available on Hackage, it depends on a Unicode data file, and I think it is based on an older version of the Unicode standard.

[2017-02-27 09:36] jespercockx commented on #2003
Some time ago, I did an experiment to enable --without-K on the std-lib. Here is a list of the offending functions I found back then:
[code]
Most of them are the ones you'd expect, like heterogeneous equality and proof irrelevance. It definitely seems to be worthwhile to have a (version of the) std-lib that can be used without-K, perhaps with the K-specific functions in separate files.

[2017-02-27 10:55] asr commented on #2477
From [closing issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages/):

@andreasabel, the commit message "Fixed issue #2477" didn't follow the above instructions, so I'm manually closing the issue.

[2017-02-27 10:55] #2477 closed, assigned to andreasabel

[2017-02-27 13:34] asr opened #2478 "Multiply defined labels on the user manual (pdf)"
When running `make latexpdf PDFLATEX=xelatex`, I got some warnings like

[code]

These warnings are generated because the cross-references were created using
[code]
instead of

[code]

In addition, the Sphinx [documentation](http://www.sphinx-doc.org/en/stable/markup/inline.html) says:

Please continue using `:ref:` instead of  `Section title_`.

[2017-02-27 13:41] canndrew commented on #1703
It looks like some of the cubical types stuff has made it on to master. Should this issue be closed now?

[2017-02-27 15:15] #2478 closed, assigned to asr

[2017-02-27 19:07] UlfNorell commented on #2449
We might also consider adding a cabal flag for the dependency so that it's possible to install Agda without it. Is it possible to have cabal issue a warning but proceed with the installation if ICU is missing?

[2017-02-28 10:54] nad commented on #2449
I am not aware of such a feature.

[2017-02-28 13:42] andreasabel commented on #2477
Ah, yes that was stupid of me.  It was late in the evening...

[2017-02-28 13:56] gallais opened #2479 ""Occurs check" error in generated Haskell code"
Compiling the following module using `agda --compile --no-main InfiniteType.agda` yields the error:

    /home/gallais/languages/agda/MAlonzo/Code/InfiniteType.hs:61:1: error:
        • Occurs check: cannot construct the infinite type:
            t1 ~ MAlonzo.Code.Data.Vec.T8 Integer a1 t1
          Expected type: Integer
                         -> MAlonzo.Code.Data.Vec.T8 Integer a1 t1 -> a ->

[2017-03-01 09:46] nad opened #2480 "Agda accepts incorrect (?) code, subject reduction broken"
The following example was distilled from code written by @simhu:
[code]
Note that `accepted` reduces to (the body of) `also-rejected`.

The problem seems to go back to Agda 2.3.2.

[2017-03-01 10:00] nad commented on #2480
The bug can be used to prove a statement to which it seems as if @coquand has found a counterexample, so I suspect that this bug makes Agda inconsistent.

[2017-03-01 10:20] nad commented on #2480
Bisection suggests that the problem was introduced by @andreasabel in one of the following commits:
* fb89f9c23b5a60ca9e364975414f7e088532e519: "Code for new polarity Nonvariant. However, it is unused still, so no outside effect."
* 41e59c645710fb5a8dad8d3ad2395a0539fc6910: "Addition of polarity Nonvariant and relevance UnusedArg. Fixing issue 44 and 691."

[2017-03-01 10:27] jespercockx commented on #2480
Here's a reduced version:
[code]
This is accepted, and if you ask Agda for the type of `accepted` you get `ap (A → B) (λ f → f a₁) p ≡ ap (A → B) (λ f → f a₂) p`. However, filling in this type manually results in a type error:
[code]

[2017-03-01 10:28] andreasabel commented on #2480
Agda accepts
[code]
the rest is transitivity. (`cong` is `ap`)

@nad: Please add the prove of absurdity.

[2017-03-01 10:52] jespercockx commented on #2480
I guess internally Agda fills in the type of _constant_ functions `A →c B` instead of the regular function space `A → B`. This causes the arguments `a₁` and `a₂` to be marked as `UnusedArg`s, so they are skipped when comparing `λ f → f a₁` to `λ f → f a₂`.

It seems to be bad practice to solve a metavariable with a solution the user has no hope of writing. However, I don't see how this could lead

[2017-03-01 10:55] nad commented on #2480
I wrote that I *suspect* that this makes Agda inconsistent. I don't currently have Agda code demonstrating an inconsistency. Do you need such an example?

[2017-03-01 10:59] jespercockx commented on #2480
Not necessarily, I'm just saying that the fact that you can prove this seems to be a consequence of a feature of Agda (namely constant function types). There's a difference between the situation where a new feature allows us to prove new but consistent theorems (in which case we either want to keep it, or make it an option), and the situation where the feature leads to inconsistency (in which case

[2017-03-01 10:59] andreasabel commented on #2480
@nad: Well, the "false" flag is waving over this issue.
And for the foundational debate, it would be interesting whether this makes Agda inconsistent or only inconsistent in the presence of postulates (we thought to be consistent with Agda).

[2017-03-01 12:21] nad commented on #2480
Subject reduction is broken, so this is a bug, not a feature.

I am fairly certain that I can construct a counterexample that depends on univalence (which should now be provable if `--cubical` is used). However, the counterexample I have in mind is not small.

[2017-03-01 12:45] jespercockx commented on #2480
You're right, there's definitely also a bug here. The core issue seems to be that the following is accepted:
[code]
Here, the underscore `_` is filled in with the constant function type `A →c B` (which the user is not allowed to write). There seems to be some strange subtyping going on here, as `ap (A →c B) B (λ f → f a₁) p ≡ ap (A →c B) B (λ f → f a₂) p` (the type of `refl`) is considered to be a

[2017-03-01 13:50] jespercockx commented on #2480
And BOOM:
[code]
It's a party!

[2017-03-01 15:23] carlostome opened #2481 "Reflection: getContext doesn't work properly"
[code]
I would expect the code to raise a type error where the two first elements of the list have different type. However, the following is what we get.
[code]
I tried this on  Agda version 2.5.3-7540b4a

[2017-03-01 17:07] UlfNorell commented on #2481
No that's the correct value. Each type lives in a different context, in this case

[code]

[2017-03-01 17:07] #2481 closed, assigned to nobody

[2017-03-01 17:22] andreasabel commented on #2480
`swap` is definitely not constant.  I can easily spoil this party!

Please find a better exploit.

[2017-03-01 18:47] andreasabel commented on #2480
The strange subtyping is because `ignoreForced` also ignores `UnusedArg`, see file `Conversion.hs`:
[code]
The whole `UnusedArg` machinery is brittle.  I should be removed, after we find a better solution for issue #44.

[2017-03-01 20:52] simhu commented on #2480
While this seems to fix both @nad's and @jespercockx's snippets, my original file still is accepted:

[code]

I'm on Agda version 2.6.0-912061b

[2017-03-01 23:51] gallais opened #2482 "Wrong counting of data parameters with new-style mutual blocks"
It looks like mutual blocks are not equivalent to grouped type declarations followed by data / function definitions: the following code leads to an internal error whilst the supposedly equivalent commented out version doesn't.

[code]

[2017-03-02 08:52] andreasabel commented on #2482
Here is a reduced test case:
[code]
`getNumberOfParameters` returns the wrong value for `D`, presumably because the parameter `{b}` is not listed in the `data` definition. This violates an assertion, and Agda crashes on intent.

[2017-03-02 09:15] andreasabel commented on #2482
This must have been wrong since the existence of new-style mutual blocks (2011, Agda 2.3.0).

Probably, it surfaced with the new feature introduced in #1886, see also #555.

[2017-03-02 09:17] nad opened #2483 "Files are sometimes truncated to a size of 201 bytes"
Some of my Agda files were truncated when I ran `dired-do-find-regexp` in Emacs.

Here is a cut-down illustration of the problem, tested using "GNU Emacs 25.1.1 (i686-pc-linux-gnu, GTK+ Version 3.22.4) of 2016-12-01, modified by Debian built on binet":
[code]
The initial size of `file.bug` is 210 bytes, and the final size is 201 bytes.

The problem is that the xref function [`xref--collect-matches

[2017-03-02 09:19] #2482 closed, assigned to andreasabel

[2017-03-02 09:48] andreasabel commented on #2480
Well @nad's code is still accepted.
How do you derive a contradiction now (probably you need the univalence axiom)?

[2017-03-02 10:09] jespercockx commented on #2480
Still too easy:
[code]
And the party goes on!

[2017-03-02 10:28] Saizan commented on #2480
@andreasabel regarding getting rid of UnusedArg, compareElims already makes use of the Polarity of a definition when we compare applications with the same head, wouldn't that be enough for #44 ?

[2017-03-02 10:31] #2483 closed, assigned to nad

[2017-03-02 11:00] simhu commented on #2480
Oops, sorry, of course @andreasabel.  Here comes a proof of UIP using funext:

[code]

[2017-03-02 12:55] nad opened #2484 "Regression related to sized types"
Consider the following code:
[code]
This code is accepted by Agda 2.5.2, but rejected by Agda 2.6.0-1b0d568:
[code]
Note the occurrence of `ω` above.

If any of the following changes are performed, then the code is also rejected by Agda 2.5.2:
* If the last underscore is replaced by `j`.
* If the module `M` is inlined.
* If the top-level module's module parameter is removed.
* If the definition of

[2017-03-02 13:19] andreasabel commented on #2480
@Saizan : right, and we could add a traversal that replaces any `UnusedArg`-ument by `Sort Prop`, to be consistent in the free variable analysis (which is outside of TCM). (Lunch discussion with @UlfNorell.)

[2017-03-02 15:56] carlostome commented on #2481
Just as a small follow up, I also don't understand the behaviour of getContext when there are some `with` bound variables. For example in:
[code]
the following context is returned:
[code]
Is this behaviour documented somewhere? Maybe if not I can write something in the docs about it when I understand it.

[2017-03-02 17:57] UlfNorell commented on #2481
It's fairly well-documented [here](https://agda.readthedocs.io/en/latest/language/with-abstraction.html#technical-details).

[2017-03-03 06:00] UlfNorell opened #2485 "readthedocs.org versions are branches not releases"
I just tried to look at the documentation for 2.5.2 and found that the only two versions are `latest` and `stable-2.5`, none of which match the current release. How do we make readthedocs build keep the docs for all released versions?

[2017-03-03 10:16] andreasabel commented on #2484
Congrats! Almost certainly you broke the hack to make the size solver work with parameter-refinement.
If you put a `?` for the offending size (which is solved by infinity),
[code]
you can see that Agda fails to solve a trivial constraint.
[code]
The solution is to implement a whole new size-solver that can deal with parametrized size metas properly.

[2017-03-03 14:11] #2479 closed, assigned to gallais

[2017-03-03 16:24] fredrikNordvallForsberg commented on #2485
If I understand correctly, it should be possible to use e.g the [v2.5.2 tag](https://github.com/agda/agda/releases/tag/v2.5.2) for this: https://docs.readthedocs.io/en/latest/versions.html#how-we-envision-versions-working

[2017-03-03 17:54] phile314 commented on #2485
I just tried it out, one just has to switch the active flag on the tag then it gets built. I have done that now for 2.5.2. Will update the release instructions accordingly. Note that only readthedocs Agda admins can do that (currently me, asr, andreas).

We could also switch stable-2.5 to protected, then it would not appear in the listing but you could still look at it using the direct [link](http

[2017-03-03 18:55] fredrikNordvallForsberg commented on #2485
I guess all releases should be active? Making stable-2.5 protected seems like a good idea to me.

[2017-03-03 23:59] gallais opened #2486 "Imports via FOREIGN are not transitively inherited anymore"
The `IMPORT` pragma used to be inherited by the modules importing the one it was in. The current `FOREIGN` replacement isn't. As a consequence, a compiled base type used in multiple modules can be handled by:

* either adding a `FOREIGN` import pragma to *all* of the modules using it
* or duplicating the data declaration code and converting between the `COMPILE`'d one and the "internal" one (cf. g

[2017-03-04 08:58] UlfNorell commented on #2486
I would really like to avoid inheriting Haskell code from imported modules. Ideally we should reexport (perhaps by aliasing) the things needed from Haskell imports. For functions we already do this, and for compiled types it should be straightforward. I wonder if we could use pattern synonyms for constructors...

[2017-03-04 20:16] identicalsnowflake opened #2487 "Options used for different modules must be consistent with each other, and options used when loading an interface must be consistent with those used when the interface was created"
Currently, even in a module marked `{-# OPTIONS --safe #-}`, you may still import (and use!) `primTrustMe` and postulates from other modules.

It wouldn't bother me if you could import modules not marked as --safe provided they still follow the safe rules, but it seems currently imported modules are totally exempt from these rules.

[2017-03-04 23:04] gallais commented on #2487
~~I guess it's due to the fact [it's the options in the persistent state](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Imports.hs#L299) that get used to typecheck submodules. I don't think we want to modify the persistent state but we could grab the status of the `--safe` flag right before the call to `bracket_` and push it back in after the reset.~~

Doesn't seem to work.

[2017-03-05 00:01] gallais commented on #2487
Minimal test case:

[code]

[code]

[2017-03-05 14:58] phile314 commented on #2485
I updated the release instructions:
https://github.com/agda/agda/commit/49cd0c8ed0a06d7b0aa5b65af1abf85054d3a261

Default doc version is now 2.5.2, as I think it makes more sense to default to the latest release than the current master branch.

The manual for the old versions (2.5.1 etc.) doesn't build right now, so the old ones are still inactive. I don't think this is that much of a problem, so

[2017-03-05 14:58] #2485 closed, assigned to nobody

[2017-03-05 17:41] identicalsnowflake opened #2488 "Instance search inhibits holes for instance fields"
[code]

If you load the above, Agda will throw an error saying it couldn't find an instance for `c`--which is true except that it shouldn't be looking for one in the first place! A hole in `c` should indicate that I intend to solve this problem myself, so it shouldn't stop me from trying by saying it can't find a solution.

[2017-03-06 11:14] nad commented on #2487
This is an instance of a more general problem: Agda does not check that options for different modules in the same project are consistent with each other. For instance, one can use `--without-K` in one module, and `--with-K` in another. I suggest that interfaces should contain information about "important" features (various options, use of unsafe features like postulates, and possibly more; perhaps

[2017-03-06 19:46] identicalsnowflake opened #2489 "Where clauses in functions leak instances to global instance search"
[code]

You can see above, the `search` in `leak` somehow finds the `top` instance even though it's not in scope -- which can be confirmed by trying to manually apply `leak = search {{top}}` which Agda does correctly reject on the grounds that `top` is not in scope.

This is bad because it causes unwanted instance collisions in global scope which would not otherwise occur.

[2017-03-07 02:28] andreasabel commented on #2489
Well, what is actually happening is that first, only this instance is in scope:
[code]
Instance search `correct` fails since the `TT` argument is not an instance argument, and there is no instance for `TT` anyway.
Then, the `open` adds another instance
[code]
which is subsequently found by instance search `leak`.
If you let `someDef` take an argument, like in
[code]
then instance search `leak` fai

[2017-03-07 04:05] UlfNorell commented on #2489
Currently instance scope is only restricted at file boundaries, so instances from the current module are considered even if they are not in scope. See #1265 and #1913 for some discussion.

In general I would consider local instances to be bad practice, but that's just because of problems like this one.

[2017-03-07 11:58] andreasabel commented on #2489
Maybe the error message deserves a face-lift:
[code]
It could be part of the present confusion.
This is still the original error message from the Devriese implicits.  We have long departed from that.

[2017-03-07 13:33] amp12 opened #2490 "possible non-terminating inference of instance arguments?"
When I uncomment either one or the other of the two comments blocks at the end of the attached file, Agda 2.5.2 checks the file almost instantaneoulsly. However, if I uncomment both, then after a few minutes Agda brings my entire machine to a grinding halt .

[test.agda.txt](https://github.com/agda/agda/files/824497/test.agda.txt)

[2017-03-07 16:17] andreasabel commented on #2472
@nad: It seems that I am struck by blindness.  I cannot see how the code that I replaced in https://github.com/agda/agda/commit/6a83085da5d80720a79043ae4515e737131f3c27 could have possibly worked for holes which are not in function clauses.  Do you have a clue?

[2017-03-07 16:22] andreasabel commented on #2490
Code here:
[code]

[2017-03-08 10:04] nad commented on #2472
I'm not familiar with this part of the code base. I have not checked the code carefully, so this is a guess: Perhaps some part of the body was blocked by an interaction meta, and the code found this meta.

[2017-03-08 12:06] mjustus opened #2491 "Record parameter not printed in field-derived goal type"
The goal type in the following snippet is pretty-printed as `explicit _ r` rather than `explicit X r`.

[code]

[2017-03-08 14:50] andreasabel commented on #2472
@nad: In the test case you give, the interaction meta is part of a type signature. My code only looks for interaction metas in function clauses, thus, cannot refer to this meta.  As far as I can tell, the old code also only looks inside function clauses (and there, not in sorts or sort annotations), so how can it possibly find it??

[2017-03-08 15:17] andreasabel commented on #2491
Since `explicit` is a projection-like function, its argument is treated as a parameter and dropped.  The printer is not type-directed, thus, cannot reconstruct the parameter, and simply prints an underscore.

[2017-03-08 22:48] gallais opened #2492 "Limit the size of terms agsy is allowed to insert"
I was using the following `Singleton` datatype for tests and by force of habit made the mistake of calling agsy on the hole for the singleton corresponding to a large natural number. Needless to say, I had to prompty kill emacs. And clean up my file now mostly filled with `suc`(k)s.

I'd argue that any term with depth > 10 is probably not worth printing. A principled solution would be to make it p

[2017-03-08 22:58] nad opened #2493 "Regression: Agda seems to loop when expression is given"
Consider the following code:
[code]
If "give" is invoked in the second hole, then Agda 2.6.0-1b0d568 seems to loop.

This is a regression. Bisection suggests that the problem was introduced by @andreasabel in f800408ea91c2812f5d8d44e591ed2646a7d9cb2 ("Fixed #2416.  Forgotten reduce made coerceSize fail."):
[code]

[2017-03-09 15:10] andreasabel commented on #2493
The core of the problem is that Agda solves the first meta as `?0 := A`, and then you have a nice loop `A = A`.  My patch brought this behavior to the light, but certainly is not the cause of the problem.
[code]
... and off to Nirvana.

[2017-03-09 15:38] #2493 closed, assigned to andreasabel

[2017-03-09 15:39] andreasabel commented on #2493
Preventing metas from being instantiated during checkInternal did the job.

[2017-03-09 15:44] andreasabel commented on #2492
In this particular case, printing the solution as `1005 !` would probably not have raised your anger.

[2017-03-09 16:05] gallais commented on #2492
Yes, I was tempted to open another issue at the same time suggesting to pretty print literals (which I guess only means Nat at the moment).

[2017-03-09 18:43] identicalsnowflake opened #2494 "Instance fields sometimes have incorrect goal types"
[code]

Loading the above, Agda incorrectly states a goal of `Type₁` for solving `i₂`. It will also accept `type₁` as a valid solution if you provide it for this hole, even though the `i₂` field has type `Type₂`.

[2017-03-09 19:41] mr-ohman opened #2495 "Regression: termination checker of Agda-2.5.3 seemingly loops where Agda-2.5.2 passes"
The module Definition.Conversion.Decidable in the codebase below passes for Agda-2.5.2, but loops for Agda-2.6.0-c0386ee until the heap is full:
https://bitbucket.org/mr-ohman/dec-of-conv/commits/4634b1897f6bafab8ec7a293c373fe2c85321ecc

This is almost the same issue as #2458 (same codebase), the only difference is that all modules now use `--without-K` and some changes have been made for the impl

[2017-03-09 20:40] identicalsnowflake commented on #2489
@UlfNorell After working with this some more, I see what you mean: even putting an instance in a module and never opening that module allows it to be found, despite other terms in the module not being in scope.

It would be nice if instance search respected regular scoping semantics, because from early experiments, it looks like these instance fields have a lot of potential.

[2017-03-10 10:09] jespercockx commented on #2495
Is there any chance you could give a minimal example, or at least a pointer to the file where the problem occurs? That would be very helpful in trying to find out what the problem is.

[2017-03-10 11:03] mr-ohman commented on #2495
The file where the problem occurs in is Definition/Conversion/Decidable.agda. It is actually enough to remove `{-# OPTIONS --without-K #-}` from that file for type checking to pass in Agda-2.6.0-c0386ee. I will also look into creating a minimal example.

[2017-03-10 13:07] andreasabel commented on #2492
Thanks!
Out of curiosity: why did you place the NATURAL-folding in AbstractToConcrete rather than InternalToAbstract?

[2017-03-10 13:11] gallais commented on #2492
As far as I can tell Auto is working on Abstract terms: https://github.com/agda/agda/blob/master/src/full/Agda/Auto/Auto.hs#L325

[2017-03-10 13:17] andreasabel commented on #2492
Ah, good.

[2017-03-12 03:27] WolframKahl opened #2496 "ghcversion.h setup problem?"
With current master and stable-2.5 branches, with a fresh GSC-8.0.2 install in `/usr/local/packages/Agda` from a locally produced binary distribution, running `./Setup build` starts with a large number of messages of the following shape:
[code]
The file `/usr/local/packages/Agda/lib/ghc-8.0.2/include/ghcversion.h` exists and is readable.
I've never seen these messages before...

[2017-03-12 11:03] nad commented on #2489
@identicalsnowflake, would you be satisfied if #1913 was fixed?

[2017-03-12 11:08] nad commented on #2496
I'm using GHC 8.0.2, and I haven't seen this kind of message. However, I don't use `Setup.hs` directly. What happens if you use cabal-install instead?

[2017-03-12 12:26] identicalsnowflake commented on #2489
@nad Well in #1913 there's also the fact that it's explicitly declared `private`. For `private`, it should only be accessible from within that `M` module.

But in this issue, I'm also interested in clarifying how instance declarations respect module boundaries in general. Behavior like this:

[code]
In my mind, the declaration of `i` *as an instance* is inside of `M`, so even though you may write

[2017-03-12 14:00] andreasabel commented on #2489
Note that declarations in `where` blocks are private.

[2017-03-12 17:19] identicalsnowflake commented on #2489
@andreasabel it would help, but I can still get this same issue even without function where blocks:

[code]

This has the same issue as function where clauses with leaking local reasoning into global scope.

[2017-03-13 10:31] jespercockx commented on #2495
I can confirm the problem on my machine. The file (and presumably the whole library) checks fine with `--no-termination-check` enabled at the top, so presumably there is some bug in the `--without-K`-specific parts of the termination checker (see comments on #1023).

[2017-03-13 11:49] asr commented on #2496
I couldn't understand your current set up.

Are you talking about of a locally produced binary distribution of GHC or Agda?

How did you produce the `Setup` executable?

 I have seen this kind of errors related to CPP. Which is your `cpphs` version?

[2017-03-13 20:07] karljs opened #2497 "Better error message if include field is missing from .agda-lib file"
Either I've misunderstood the documentation, or depending on a library using a `.agda-lib` file fails for me in Agda 2.5.2.

`~/.agda/libraries` contains:

    /Users/karl/src/agda-stdlib/standard-library.agda-lib

`~/a/.agda-lib` contains:

    name: a
    depend: standard-library

`~/a/a.agda` contains:

    module a where

When I load the `a.agda` file, I get the the following error.  As far as

[2017-03-13 20:13] karljs commented on #2497
I'll note that this works when I put the library in a `defaults` file, but I don't want to do that.

[2017-03-13 20:47] karljs commented on #2497
I figured this out.  I'm required to put an explicit `include: .` in my `.agda-lib` file which was not clear to me from the documentation.

[2017-03-13 20:58] nad commented on #2497
Perhaps the error message could include a hint that one might want to consider adding an include field to some .agda-lib file.

We could also reject .agda-lib files without include fields, but I imagine that one might want to define "meta-libraries" without local source code.

[2017-03-14 09:46] gallais opened #2498 "Resolution of unnamed instances"
I have noticed an inconsistent behaviour in the way unnamed instances are resolved: they can be found by the instance resolution mechanism in the module they are declared in but not outside of it, unlike named instances. I can see two ways to fix this issue:

* either make unnamed instances completely invisible to the resolution mechanism
* or make them behave just like named ones

I am partial to

[2017-03-14 13:26] vlopezj commented on #1258
This issue was fixed in commit fb2a8fe1. See also issue #2296.

[2017-03-14 13:26] #1258 closed, assigned to vlopezj

[2017-03-14 22:20] WolframKahl commented on #2496
On Mon, Mar 13, 2017 at 04:49:35AM -0700, Andrés Sicard-Ramírez wrote:

I locally created a binary distribution of GHC-8.0.2 from the GHC source,
and then used that to produce a dedicated GHC installation
for this copy of Agda.
(It is now populated with all dependencies of Agda.)

ghc --make -O Setup

cpphs 1.20.4

I am normally building in a shadow directory set up using lndir,
and remembered tha

[2017-03-14 22:40] asr commented on #2496
Can you build Agda replacing cpphs by cpp?

[2017-03-15 12:00] gallais commented on #708
Another issue when we have an incomplete pattern matching: the second clause is declared to be unreachable. If we add the third one then the warning goes away.

[code]

[2017-03-15 14:49] xekoukou opened #2499 "Better documentation on Library management."
The [documentation](https://agda.readthedocs.io/en/v2.5.2/tools/package-system.html) is correct but confusing and it has to do with the existence of metavariables.

1.  AGDA_STDLIB is a metavariable while the name of the library is not, it is of a specific library, the standard library.
2. AGDA_STDLIB is used as a metavariable in the documentation. AGDA_DIR is also capitalized but it is an actual

[2017-03-15 17:58] WolframKahl commented on #2496
I haven't tried yet. These are only warning messages, and agda built fine and appears to work as expected for typechecking. (I haven't tried compiling yet.)

[2017-03-15 19:22] UlfNorell commented on #2499
(I assume you mean `AGDA_DIR` and not `AGDA_BIN`)

I'm not sure what's confusing about (1). The text is pretty clear about `AGDA_STDLIB` being a metavariable. Is it the fact that the standard library refers to a specific library that's confusing? If so, that could be addressed by linking to where you can download it when it's first mentioned.

`AGDA_DIR` is also a metavariable, used in the same wa

[2017-03-15 19:51] xekoukou commented on #2499
I tried to make a guess on what confused me a few weeks ago. I don't know for sure what actually confused me.

[2017-03-15 19:56] xekoukou commented on #2499
For example, the fact that the standard-library.agda-lib should exist in the library folder is not necessary.

[2017-03-15 20:14] identicalsnowflake opened #2500 "Adding fields to a record can cause Agda to reject previous definitions"
[code]

Agda accepts the above code, but rejects it if you uncomment the final `top : ⊤` field. Strangely, changing the definition of `g` to the following (adding a single `{_}` pattern) causes it to be accepted again:

[code]

[2017-03-16 05:53] UlfNorell commented on #2499
I'm not sure what you mean. The [standard library](https://github.com/agda/agda-stdlib) *does* have `standard-library.agda-lib` in it's root directory, and any library you want to use needs to have a `.agda-lib` file.

[2017-03-16 12:57] gallais commented on #733
Nowadays Agda does preserve unicode double braces.

[2017-03-16 12:57] #733 closed, assigned to nobody

[2017-03-16 13:03] xekoukou commented on #2499
Yes, but the users of the library do not need to know that. The standard library developers need to know that.

[2017-03-16 13:12] UlfNorell commented on #2499
I think it's helpful for people reading the documentation to know that the thing you put in your `libraries` file refers to an actual file. Keep in mind that the example isn't (only) there to teach people how to use the standard library, but how to use any library, including libraries they create themselves.

[2017-03-16 13:46] xekoukou commented on #2499
That is why I made point 1. You can't do everything in one paragraph.

First paragraph : The min info to use the standard library.
Second paragraph : The minimum info to use any library.
Second section : How to write your own library.

[2017-03-16 16:32] mr-ohman commented on #2495
I haven't been able to to create a minimal example of the issue, since the termination checking of the proof passes if some of the larger lemmas are postulated. I was however able to minimize the file where the issue occurs:
https://bitbucket.org/mr-ohman/dec-of-conv/commits/ce0ccc96803913b31cffbd255624466c069b4a66

The minimized variant of Decidable.agda is Definition/Conversion/DecidableIssue249

[2017-03-16 18:03] jespercockx commented on #2495
Thanks for the minimized example, that already helps a lot. The problem is indeed the same as in #2458: the termination checker loops when normalizing call arguments. What's strange is that this is exactly the same code that gets called if `--without-K` is not enabled, so it should also have been fixed by the fix to #2458. @andreasabel could you take a look to see what's different here?

[2017-03-17 15:19] asr commented on #2496
I just realised you are using cpphs 1.20.4. I could reproduce the problem using this version of cpphs and `make install-bin`.

[2017-03-17 15:27] asr commented on #2496
Blocked by https://github.com/malcolmwallace/cpphs/issues/11.

[2017-03-17 16:07] andreasabel commented on #2500
CONGRATS, YOU FILED ISSUE 2500!  YOU WON 50 HOURS OF FREE AGDA BUG FIXING!  START NOW!  IT IS COMPLETELY FREE!!

[2017-03-17 16:09] andreasabel commented on #2500
This is just good old #434.  I had heroic plans to fix it at the last AIM.  For various reasons I lacked the concentration to attack it.  But the next AIM is coming up soon.

[2017-03-17 16:35] andreasabel commented on #2495
The mystery is explained by these facts:
1. --without-K prevents with-inlining
2. with-inlining prevents normalization of call arguments

There must be another reason why normalization loops, other than with-inlining.

[2017-03-17 16:40] andreasabel commented on #2495
Agda loops when normalizing
[code]
Some of these are postulates: `lemma3`, `ne~↓`, the non-postulates are
[code]

[2017-03-17 18:43] andreasabel commented on #2459
Ok, I did it myself, but you lost some points for removing useful code instead of migrating it.

[2017-03-17 18:50] andreasabel opened #2501 "Add module documentation for TypeChecking/Names"
The current documentation looks wrong (cut-and-paste?).

https://github.com/agda/agda/blame/master/src/full/Agda/TypeChecking/Names.hs#L10

[2017-03-17 18:51] #2459 closed, assigned to andreasabel

[2017-03-17 19:10] identicalsnowflake commented on #2500
Did you ever hear the tragedy of Darth Abel the Wise? I thought not. It’s not a story the Haskellers would tell you. It’s an Agda legend. Darth Abel was a Dark Lord of the Types, so powerful and so wise he could use the Types to influence the terms to create... types. He had such a knowledge of the types that he could even keep the ones he cared about from bugs.

He became so powerful that the onl

[2017-03-17 22:14] identicalsnowflake opened #2502 "Macros don't play nicely with abstract"
[code]

Trying to load the above, Agda says `Cannot unquote non-canonical type checking computation`.

How macros in general should treat/respect abstract data types is probably a hard question -- but given that this macro is actually located in the same abstract block definition, I think it should have full access.

[2017-03-17 22:22] asr commented on #1156
@nomeata, can we drop support for transformers 0.3.0.0?

[2017-03-17 23:52] andreasabel commented on #2500
Alas, we are still far from being able to bootstrap Agda in Agda.  For one, Agda is not efficient enough for feasible development of a 300 module piece of software.  For two, we probably would need 60 very active developers instead of the 6 we have.  Even developing a verified kernel would be a heroic effort.  While this would prevent bugs like proving false, it would not weed out all the usabilit

[2017-03-18 09:04] identicalsnowflake commented on #2500
Oh I'm under no delusion that it's going to happen any time soon. But to the latter point, I think there's lots of untapped potential in formalizing (or at least stating basic properties of) "non-mathy" stuff: things like quote compose unquote should form the identity, case splitting should generate only valid syntax, etc..

An example I encountered: I wrote a JSONEncoding typeclass which entails

[2017-03-19 16:33] gallais opened #2503 "On warning about redundant imports"
I have [pushed a commit on a separate branch](https://github.com/agda/agda/commit/9dd6c6a91f45038ea9aa4e4251f0d936ed50eb63) to open a discussion on warning about redundant imports.

When I refactor code, I often end up with useless imports and it's a bit of a pain to pinpoint exactly the `import`s I should drop. I thought I'd try to track them down automatically and generate a warning. Simple enou

[2017-03-20 12:17] banacorn commented on #2499
The documentation is really confusing.

It takes a lot of effort to keep metavariables like `AGDA_STDLIB` and `AGDA_DIR` in mind while trying to figure things out.

[2017-03-20 12:35] #2501 closed, assigned to Saizan

[2017-03-20 12:47] #2460 closed, assigned to Saizan

[2017-03-20 19:54] andreasabel commented on #2501
Thanks!

[2017-03-20 23:02] andreasabel commented on #2503
Thanks!  I am a bit confused, because I thought you would check for unused imported symbols ("redundant imports") as in Haskell, but from the code it seems you only check for unused modules.

The scope (`iInsideScope`) should have all the information you need to see which symbols are exported by `public`.

[2017-03-20 23:16] andreasabel commented on #2500
I am totally on your side.  Even doing a pen and paper proof for a significant fragment of Agda would be a revolution.  Just documenting invariants of the code does make a huge difference.  I think in the beginning, @nad put some effort into writing quick-check properties. I try to document invariants where I can.  But of course, yes, trying to prove them would bring many issues to light.

I think

[2017-03-21 01:45] andreasabel commented on #2466
Shrank this down to
[code]

[2017-03-21 16:31] andreasabel commented on #2466
The problem is that the new unifier of @jespercockx turns this lhs into
[code]
I added the `Origin` information to the flexible variables in the unifier to make it try to preserve the `UserWritten` variables (and instantiate the `Inserted` ones instead).

[2017-03-21 16:31] #2466 closed, assigned to andreasabel

[2017-03-21 16:34] andreasabel commented on #2495
I shrank this further to the following, in particular, removing the `with` clauses.
[code]
If you give the expression, the termination checker loops.

[2017-03-22 08:06] xekoukou opened #2504 "When inspecting a hole, the type of the goal is not reduced."
I get this :
[code]
but putting ```ss≤s``` in the hole actually works.

The function extend is a bit odd. ( i need to learn the technical details of with abstractions).

https://github.com/xekoukou/sparrow/blob/58fd21115b00a9064a3451748a7f66e9fad611e7/agda/SetLL.agda#L738

[2017-03-22 08:29] UlfNorell commented on #2504
By default, the show goal command doesn't normalise the goal type. Prefix with `C-u C-u` if you want normalisation. See https://agda.readthedocs.io/en/v2.5.2/tools/emacs-mode.html.

[2017-03-22 08:29] #2504 closed, assigned to nobody

[2017-03-22 08:48] xekoukou commented on #2504
I used ```C-c C-,``` and it seems to normalize the goal by default.

edit : Ok, I prefixed with ```C-u C-u``` and it did reduce it, thus ```C-c C-,``` sometimes does not reduce types.

[2017-03-22 09:46] gallais commented on #2504
`C-c C-,` uses the macro `agda2-maybe-normalised` which means [it has 3 levels](https://github.com/agda/agda/blob/master/src/data/emacs-mode/agda2-mode.el#L1203) which [correspond to different strategies](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/BasicOps.hs#L280):

* "naked", it simplifies the goal (it's a heuristic which does *some* reductions)
* prefixed with `C-u` it i

[2017-03-22 09:57] nad opened #2505 "Intermittent problems with "make fail""
I've noticed that, occasionally, one or more of the "make fail" tests fail for me: instead of an error message I get an empty output. I have not tried to track down the cause of this problem. Perhaps there is some kind of race condition in the testing script, or perhaps a file gets overwritten because the same file name is used for multiple test cases.

[2017-03-22 10:27] nad commented on #2217
I've implemented an abort command. When a command is aborted the previous persistent state and the previous options are restored. One might want to take this a step further by preserving some of the changes to the persistent state inflicted by the aborted computation.

[2017-03-22 10:33] #2217 closed, assigned to nad

[2017-03-22 10:36] nad opened #2506 "Duplicate paths"
I noticed that the list of include paths sometimes include multiple occurrences of the current working directory. Here is one example:
[code]
(No directory above the directory in which the example is run contains any `.agda-lib` file.)

I saw at least one occurrence of `nub` in the library code, so I imagine that the intention is that there should be no duplicate paths. Perhaps the list of include

[2017-03-22 10:48] andreasabel commented on #2495
After more shrinking I now think that Agda does not loop, but just does not finish normalizing.
I am not sure how to address this, maybe remove new feature #2403, or only reduce non-recursive functions.

[2017-03-22 10:51] andreasabel commented on #2505
Does this also show up on travis?

[2017-03-22 12:28] asr commented on #2505
Did you mean `make interaction`? Travis and I are getting these intermittent problems with this command.

[2017-03-22 13:24] Saizan opened #2507 "Composition for records does not reduce properly under the face"
```primComp (\i -> R(i)) phi u a``` reduces to a generated function for ```R```, if it's a record type, and such a function does not reduce to ```u``` when ```phi = i1```.

[2017-03-22 13:38] nad commented on #2505
No, `make fail`.

[2017-03-22 19:19] phile314 opened #2508 "JS primitive operations handle postulates incorrectly"
Bug reported by dnkndnts in https://www.reddit.com/r/agda/comments/60f6gx/evaluation_strategy_in_agda/

[code]

[2017-03-22 19:26] phile314 commented on #684
Could not reproduce this, most likely fixed by the new Treeless JS backend.

[2017-03-22 19:26] #684 closed, assigned to np

[2017-03-22 19:29] phile314 commented on #1072
Could not reproduce this, appears to be fixed by now.

[2017-03-22 19:29] #1072 closed, assigned to phile314

[2017-03-22 20:50] phile314 commented on #1661
Could not reproduce this on current stable-2.5 and master branches. This seems to have been fixed by the JS Treeless backend rewrite.

[2017-03-22 20:50] #1661 closed, assigned to np

[2017-03-22 21:13] #2469 closed, assigned to phile314

[2017-03-22 22:50] gallais commented on #2381
I have started by cleaning up and documenting the definition of `findMentions`. It was frankly hard to read.

I have tried to replace `collectNamesIn` with `getDefs` and it does not deliver the right behaviour. The problem is that we can (and do!) lookup theorems mentioning constructors too and constructor names are ignored by `getDefs`.

However, `Agda.Syntax.Internal.Names`' `namesIn` seems to d

[2017-03-22 23:03] #2381 closed, assigned to gallais

[2017-03-23 10:09] nad commented on #2317
I tried this (using `-halt-on-error` rather than `-interaction=errorstopmode`). Result: When I interrupt the LaTeX program I get a diff between the golden value and the LaTeX error message. The process documentation states that "in delegate_ctlc mode, waitForProcess and getProcessExitCode will throw a UserInterrupt exception if the process terminated with ExitFailure (-SIGINT)". If Agda is interru

[2017-03-23 15:30] WolframKahl commented on #2495
I also have a module (on top of a large development) that typechecked with 2.5.1 and 7c5f712aac3afefeb0a05329592b263437a40b98 in at most a few minutes, but fails to typecheck in days with 2.5.2 and current stable. (However, it typechecks quickly with @Saizan 's patch from #1625 .

[2017-03-23 17:38] nad commented on #2495
@WolframKahl, perhaps you could use `agda-bisect` to try to track down some commit that made Agda considerably slower for your example.

Perhaps you could use a script of the following form:
[code]

A suggested command-line (untested):
[code]
I suggest that you use `--dry-run` to make sure that the script does what it should for Agda 2.5.1 and Agda 2.5.2.

[2017-03-23 17:50] WolframKahl commented on #2495
I'll try the bisection, perhaps on the week-end. Thank you , @nad !

Slight complication: A language change somewhere in the middle of that range...

[2017-03-23 21:10] phile314 commented on #1664
This now works for the JS backend too. I am closing this issue, for the corresponding uhc backend issue see https://github.com/agda/agda-uhc/issues/6 .

[2017-03-23 21:10] #1664 closed, assigned to nobody

[2017-03-23 22:56] andreasabel opened #2510 "Wrong error with --no-pattern-matching"
[code]
reports
[code]
instead of
[code]

[2017-03-24 11:02] UlfNorell commented on #2172
I've come to think this was a bad idea. With the current behaviour you can't easily give an instance argument explicitly, since you get an "no instance" error on the interaction meta.

I don't feel the change was really properly motivated to begin with. It's not very counterintuitive to have

- `?` - filled in by hand
- `_` - filled in by unificiation
- if you want explicitly filled in by instance

[2017-03-24 12:20] asr opened #2512 "Propose: Split the changelog"
Finding in which version of Agda was introduced a change is getting tedious because the size of the changelog is incrementing. I propose to split the changelog by Agda version, that is,

[code]

Cons: It'll be necessary grepping various files when looking for a change.

[2017-03-24 12:37] UlfNorell opened #2513 "Extensible syntax for function space annotations"
Currently the only ways we have to annotate a function space is with braces `( ) / {} / {{ }}` or with varying numbers of dots (for irrelevant and non-strict). The problem is that there are lots of things people want to add annotations for: linearity, polarity, parametricity, strictness, custom meta solvers, etc.

It would be nice if we could come up with an extensible syntax that would let us exp

[2017-03-24 12:56] Saizan commented on #2513
Recently I implemented the alternative syntax ```(x :{ annotation } A) -> B``` for the Agda/parametric branch.
Actually not only for function types but for definitions too, e.g.
[code]
declares ```foo``` as parametric. I guess it might be better to focus on Pi types for now though.

Here's the commit:

https://github.com/agda/agda/commit/38d06ec0f4108102e3035bf76bb785242df3fbde

There the annotati

[2017-03-24 13:58] andreasabel commented on #2512
Does this harmonize with hackage?

[2017-03-24 14:00] andreasabel commented on #2513
Right, we need a story also for declarations and record fields.

@Saizan's syntax goes back to Jean-Philippe and Guilhem's colors.

`implicit` --> `hidden`

[2017-03-24 14:01] UlfNorell commented on #2512
We could generate the current `CHANGELOG` at release time by concatenating the split changelogs and include that in the hackage bundle.

[2017-03-24 14:07] andreasabel commented on #2172
Well, you should not get one.

Anyway, why do you get errors on unresolved instance arguments, and only yellow on unresolved hidden arguments?  Something is amiss, maybe we should first make Agda consistent here.

[2017-03-24 14:10] UlfNorell commented on #2513
Generalising from the `field {x} : A` syntax, I suppose my syntax would be `(annotation | x) : A`. It's tempting to drop the parens, but not sure that would fly in the parser.

I feel that having the annotations between the `x` and the `A` makes the type a bit hard to read if all you care about is the unannotated type (which you often do).

[2017-03-24 14:13] UlfNorell commented on #2172
That's certainly worthwhile. I still think this change should be rolled back though.

[2017-03-24 14:19] asr commented on #2512
Yes. In Hackage for version X.Y.Z we could show only the changelog for this version.

Instead of concatenating the split changelogs, we could add them to the tarball.

[2017-03-24 14:39] andreasabel commented on #2172
But the role of a meta (solved by unification, solved by instance search) depends on its __position__, not on whether it is `?` or `_`.  It is the argument decoration that determines what should happen with the meta.  Completely omitting a hidden/instance meta should not be a semantic-changing action.

Your story of `?` filled in by hand is not completely accurate.  `?`-metas are also solved inter

[2017-03-24 14:42] andreasabel commented on #2512
I am fine with experimenting different ways to manage the CHANGELOG.  We should follow the conventions, otherwise I am neutral.

[2017-03-24 14:46] andreasabel commented on #2513
I think it should be consistent with the function space.  Either dropping the parentheses, or doing them in the same way as in the Pi-type:  `(annotation | x : A)`.  But we also need to support the `(annotation | x)` notation, for the `forall`.  Thus, maybe all variants should be accepted.

Note we also want `(x (hidden | y z) : A) -> B` matching the current `(x {y z} : A) -> B`.

The question is

[2017-03-24 15:04] UlfNorell commented on #2172
The problem with the current fix is that it's very syntactic, and thus brittle. Consider the following variants:

[code]

I think treating `_` as always being solved by unification is the more principled thing to do.

Anyway, I rolled this back at least until we change the instance error to a warning.

[2017-03-24 15:11] UlfNorell commented on #2513
It's not obvious that we need to handle the non-dependent function space, since we currently don't support it for most annotations. I'd be ok with `(annotation | _ : A) → B`.

How would you deal with `forall` in @Saizan's syntax?

[2017-03-24 15:59] jespercockx commented on #2172
For what it's worth, I think it's also more intuitive if an argument given as `{{_}}` is solved by unification rather than instance search: the `{{ }}` says "please don't use instance search, I want to give this argument myself" and the `_` says "please insert a new metavariable here and solve it by unification". So composing these two means "please don't use instance search but use regular unific

[2017-03-24 16:24] andreasabel commented on #2172
@jespercockx:  Your story does not scale, just consider `{_}`.

`_` is the notation for a meta that is solved automatically the method depends on the `ArgInfo`.
`?` is the notation for a meta that is solved manually (but can be constrained by the automatic search).

If that is not the case what is the notation for a meta that is solved by instance search?  Do you want a new notation for each way o

[2017-03-24 16:26] andreasabel commented on #2172
Also with disabling instance search for `{{?}}` you do not have an easy way to put a resolved instance into your code.  With `{{?}}` you get a constrained meta which you can insert with `C-c C-s`.

[2017-03-24 16:33] andreasabel opened #2514 "Turn unsolved instance error into a warning"
Unsolved metas should give a warning instead of an error.  Instance and unification metas should be handled in the same way.

See also #2172.

[2017-03-24 16:36] andreasabel commented on #2513
There is no good story for `forall` in @Saizan's syntax.

Non-dependent function space could be
[code]

[2017-03-24 16:39] jespercockx commented on #2172
If you want to solve an argument by instance search, you can use `it`. Similarly, we don't actually need special syntax for `_`, you can just use your `hid` instead. I imagine you can define similar functions if we add other ways to solve implicit arguments besides unification and instance search.

For your other remark, maybe we need a way to invoke instance search to solve a particular interacti

[2017-03-24 17:56] identicalsnowflake opened #2515 "Poor inference on pattern lambda"
[code]

It's strange to me that Agda happily accepts `example2` but says it can't solve `example3`.

[2017-03-24 19:56] UlfNorell commented on #2172
That's consistent with Jesper's story. Here you're saying, "I want to fill this argument myself" and then "please insert a unification metavariable here".

That's exactly what `it` does. I don't think we need special support for it.

[2017-03-24 20:00] UlfNorell commented on #2172
Oh, nevermind the last comment. I see what you're after.

Maybe the command should be *"Check term against current goal and normalise"*. Then you could invoke it with `it` in the hole. Anyway, I agree with Jesper that this seem like a useful feature regardless of whether you're sitting immediately inside `{{ }}`.

[2017-03-24 20:05] UlfNorell commented on #2513
Unfortunately that conflicts with the (not yet implemented) `with` application syntax.

[2017-03-24 21:21] gallais commented on #2514
What about `InstanceSearchDepthExhausted`? Should it also be a warning?

[2017-03-24 23:06] andreasabel commented on #2515
It is no longer strange when you compare `example3` to a possible desugaring, `example4`, which is also not accepted by Agda:
[code]
See #480.

[2017-03-24 23:13] andreasabel commented on #2514
I think whenever no solution is found, it should be like an unsolved meta.  If two or more solutions are found, it can be an error (as this does not go away by more information, does it?).

[2017-03-24 23:14] andreasabel commented on #2513
Maybe it is time to implement it then before it is too late.  Or wait another 8 years...

[2017-03-24 23:29] andreasabel commented on #2172
Ah, ok, that is when a visible argument is replaced by `_`.  True.

But still we are missing a way to bring an instance solution to the light.  For a unification solution we put `{?}` and then solve.  For instance solution we would put  `{{?}}` and then solve.  That was the symmetry I was after.

Also, as `{_}` is a no-op (making a unification meta explicit and solving it automatically), I turned

[2017-03-24 23:31] gallais commented on #2514
Ok it's a hard one. This [typeError](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/InstanceArguments.hs#L228) seems to be an integral part of the control flow of the search. If it is turned into a warning, some files (such as `test/Succeed/Issue1532.agda`) do not check anymore.

[This auxiliary function](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Inst

[2017-03-24 23:39] andreasabel commented on #2514
Naive suggestion: catch the `IFSNoCandidateInScope` on the top level and turn it into a warning.  Top level means outside of the recursive instance search.

[2017-03-25 06:46] UlfNorell commented on #2172
What about my suggested normalisation command. I must admit I don't quite understand the use case. If it's solvable by instance search why would you want to put the instance in the code explicitly?

Sure, in the same way that `{it}` or `{_ : A} → B` are quite useless; in a predictable way.

[2017-03-25 06:48] UlfNorell commented on #2514
FYI, it's only an error if instance search fails irretrievably, i.e. there's no more information that could appear to make an instance be found.

[2017-03-25 06:51] identicalsnowflake commented on #2515
Hmm, so the `λ x → x` syntax succeeds because it guarantees there are no other hidden arguments, whereas the `λ { x → x }` syntax does not guarantee that, forcing a harder problem on the inference machinery?

[2017-03-25 14:48] andreasabel commented on #2172
Well, for exploration, understanding what is going wrong etc.
I often make hidden values explicit by `{?}` and `C-c C-s`.

[2017-03-25 16:15] UlfNorell commented on #2172
So having a command like the one I suggested above would be sufficient for you?

[2017-03-25 16:55] andreasabel commented on #2172
Couldn't hurt, no?

[2017-03-25 22:48] nad commented on #2512
I think most changelogs that are displayed on Hackage contain changes for multiple versions of the corresponding package.

[2017-03-26 01:18] WolframKahl commented on #2495
Observation: There is a tag `2.5.1`, but no tag `2.5.2`.
[code]

[2017-03-26 02:00] asr commented on #2495
For 2.5.2 the tag name is `v2.5.2`.

[2017-03-26 17:52] #2510 closed, assigned to andreasabel

[2017-03-26 17:54] andreasabel commented on #2495
Fixed this by not reducing recursive functions during normalization of arguments in the termination checker.

[2017-03-26 21:01] WolframKahl opened #2516 "Performance regression (apparent non-termination) before 2.5.2"
Originally reported under #2495:

Thanks @nad for the help with setting up `agda-bisect`! There were actually two language changes (at 1432ff46aa53fd3981c2acbfb83a04d411450ce8 and 43f945ee660ddf2ccaf2435ea2d14e0bb4caada2) in the range before the relevant commit, but they affected only one place each in my code.

The module in question pulls in 248 other modules as dependencies,  including 77 from

[2017-03-27 07:30] identicalsnowflake commented on #2515
Was something changed here recently? Agda no longer accepts `example2`.

[2017-03-27 08:21] andreasabel commented on #2515
The most recent master 9036aa96ad5b6cc88e2d89a42d1481dad16a3cf8 and stable-2.5 7aa6eb6724e6bdd0812c8d83cf8d7050606ec2fb seem to pass `example2`, at least on my machine.

[2017-03-27 08:23] andreasabel commented on #2516
Just yesterday I pushed the fix of #2495 which should improve performance for all big developments, the performance regression introduced by #2403.  Are your results from before or after my fix?

UPDATE: Aeh, sorry, I did not read the heading.  As the performance regression was introduced for 2.5.2 it has nothing to do with #2495.

[2017-03-27 08:37] nad commented on #2495
A rule of thumb is to avoid normalisation as much as possible. What do you mean by "expand"?

I don't think that the problem brought up in #2403 needs to be fixed, and "expand" sounds unprincipled to me (users might find it hard to understand why the code works in some cases and not in others). Perhaps we could skip the expansion.

[2017-03-27 08:58] identicalsnowflake commented on #2515
That's odd. My `agda --version` yields `Agda version 2.6.0-9036aa9`. I can create a new Agda file in a temporary directory, paste the above, C-c C-l, and `example2` fails.

EDIT: I think it's something related to interaction. If I use `agda test.agda` from the command line, it accepts `example2`, but opening the same file in emacs and `C-c C-l`, it's rejected.

[2017-03-27 09:15] Saizan commented on #1703
Indeed, merged into master with commit

9bb7c9e07f500899b80f5dbcfe7717118be55d31

[2017-03-27 09:15] #1703 closed, assigned to nobody

[2017-03-27 09:40] identicalsnowflake commented on #2515
Ok I found the issue: apparently I had `--cubical` enabled in my emacs settings. So as far as I can see, ~~this latest commit changes the behavior with respect to `--cubical`, but not with respect to normal settings (reverting to cc7549bd479e4ec325bbd062390c60f7be80bd3d `example2` still type checks, even with `--cubical`)~~.

Additionally: even on current 9036aa9, if you compile from the command l

[2017-03-27 11:25] andreasabel commented on #2403
It turns out that normalization of call arguments is too expensive in general.  See #2495.  I cut this down to only unfold non-recursive functions during normalization.

[2017-03-27 11:27] andreasabel commented on #2472
I can confirm that the blamed patch introduced the regression. However, I do not understand how.

Now I understand:  Agsy is fine if findClauseDeep returns Nothing.  My patch introduced an unnecessary error throwing.

[2017-03-27 11:43] #2472 closed, assigned to andreasabel

[2017-03-27 11:47] andreasabel commented on #2515
Ok, then there is a regression in --cubical which should be reported.  It is best you open another issue.  Thanks!

[2017-03-27 11:54] xekoukou opened #2517 ""Not a variable error""
Possibly related to #2183 #2181
When I try to case split on rll :
```findCallGraph {ll = ll} {rll = rll} {olf = olf} (call x) if msr ms = {!!} ```

I get this:

[code]

This works fine :
[code]
Commit to reproduce error:
https://github.com/xekoukou/sparrow/blob/74de191538e421fd0a62f67344c5e83fd18f7612/agda/IndexLF.agda#L306

The error message should be improved. Certainly ```rll``` is a variable.

[2017-03-27 11:55] andreasabel opened #2518 "CopatternReductions in TreeLess"
@UlfNorell @phile314 In `ToTreeless` I read
[code]
This allows arbitrary reductions as long as the involved functions make use of copattern matching.  How is that not too blow up on complex examples?  There seems to be some assumption that definition by copattern matching are "simpler" that those without.  Maybe this is true for the limited examples you have in the test suite, but I can see no evi

[2017-03-27 11:58] andreasabel commented on #2183
Added milestone because of #2517.

[2017-03-27 12:17] UlfNorell commented on #2518
I added that in 99b354a. I suspect it's there to specialise instance functions defined by copatterns. For instance, if you define

[code]

then `fmap {{FunF}}` gets specialised to `fmapF` by `ProjectionReductions`, but if you define it with a copattern instead

[code]

it doesn't. I don't think limiting this to non-recursive functions would cause any problems. It might even be the sensible thing t

[2017-03-27 12:17] #2518 closed, assigned to nobody

[2017-03-27 12:21] andreasabel commented on #2517
Confirmed that is is #2183.
For now, I am just improving the error message.

[2017-03-27 13:54] identicalsnowflake opened #2519 "Lambda inference with --cubical"
From #2515:

[code]

With and without `--cubical`, ~~Agda previously accepted `example2` (until at least https://github.com/agda/agda/commit/cc7549bd479e4ec325bbd062390c60f7be80bd3d)~~, but now rejects it with `--cubical` enabled, and accepts it without `--cubical`.

EDIT: Cannot reproduce acceptance of `example2` on cc7549bd479e4ec325bbd062390c60f7be80bd3d

[2017-03-27 19:33] nad commented on #2487
As noted by @identicalsnowflake (https://github.com/agda/agda/issues/2515#issuecomment-289404113) there is an additional problem: when a `.agdai` file is loaded we don't check that the current options are consistent with those used when the file was created.

[2017-03-27 20:45] asr commented on #1696
Duplicated (see https://github.com/agda/agda/issues/2487#issuecomment-289560636).

[2017-03-27 20:45] #1696 closed, assigned to nobody

[2017-03-27 20:46] asr commented on #1776
Duplicated (see https://github.com/agda/agda/issues/2487#issuecomment-289560636).

[2017-03-27 20:46] #1776 closed, assigned to nobody

[2017-03-27 20:48] asr commented on #1762
Duplicated (see https://github.com/agda/agda/issues/2487#issuecomment-289560636).

[2017-03-27 20:48] #1762 closed, assigned to nobody