[2017-10-09 16:01] fredefox opened #2795 "Top-level pattern-bindings"
As a novice Agda user I find it immensely annoying that I cannot pattern-match on expressions in lambdas/where-clauses. This is particularly annoying when this pattern-match is mandated by a locally scoped variable that has a function-type.

As a contrived example I'd like to be able to do something like:

[code]

Or for instance when I want to further pattern-match when using the [case-of idiom](

[2017-10-09 19:41] UlfNorell commented on #2795
You can pattern match in lambdas (am I reading the title wrong?), which I suppose you know since you linked the documentation of pattern lambdas.

You can't pattern match in a `where`, but you can pattern match on record constructors in a `let` (this doesn't seem to be documented). In your example (provided `_,_` is a record constructor):

[code]

I guess what you're asking for is top-level patter

[2017-10-09 21:48] fredefox commented on #2795
What I mean when I say "can't patter-match in lambdas" is that I can't e.g. do:

[code]

I know that I can revert to using with-abstractions as nicely documented in the link I provided - but I just feel that it is needlessly verbose.

I just wish pattern-matching in lambdas and where-clauses worked like at the top-level.

Of course I can use let-bindings in the mean-time.

[2017-10-10 05:21] UlfNorell commented on #2795
The syntax for pattern matching lambdas (that you [linked to](http://agda.readthedocs.io/en/v2.5.3/language/with-abstraction.html#pattern-lambdas)) is

[code]
or alternatively
[code]

Pattern matching in where clauses works exactly like at the top-level. We don't have pattern bindings like in Haskell though. For instance, this is valid Haskell code with no immediate Agda equivalent:

[code]

[2017-10-10 07:37] nad commented on #2795
How hard would it be to support pattern bindings for record types? We would need to decide what the syntactic rules should be. Once this has been settled an Agda variant of the clause above could perhaps be translated into something like the following:
[code]
One potential problem is that the error message might be confusing if the type of `.fresh` cannot be inferred.

Perhaps one could also inclu

[2017-10-10 08:18] nad commented on #2794
This is not the first bug of this kind. Here are some others: #601, #873, #1104, #1144. I don't think it is feasible for us to implement and maintain two Agda lexers, and I've [previously suggested](https://github.com/agda/agda/issues/1144#issuecomment-129029032) that we should let Emacs use the Haskell lexer.

[2017-10-10 08:32] andreasabel commented on #1549
Here is a small test case:
[code]

[2017-10-10 08:51] andreasabel commented on #1549
The current resolving strategy seems to be:
- Get all matching constructors with their datatype.
[code]
- Weed out those that have the wrong datatype (none in this case).
- If only one is left, accept this one.  (Fails in our case.)

We could do further weeding by trying to type check the non-ambiguous candidates. (Does not fit the current algorithm well.)
Couldn't we start with the type, get its

[2017-10-10 09:26] nad commented on #1096
trouble.

We stopped using `ByteString.Char8` in 2015 (c0455a969f708abe8219e211d0b0362d1ad02a53).

I'm closing this issue now. If anyone is still experiencing problems, please reopen the issue.

[2017-10-10 09:26] #1096 closed, assigned to nobody

[2017-10-10 11:30] andreasabel commented on #1549
I realized this is almost the same test case as in #357.  There, the present error message was introduced; previously, Agda would just pick an arbitrary disambiguation of `c` and complain if it did not work.  Related is also #279.

[2017-10-10 12:07] andreasabel commented on #1549
It feels like we are missing the use of parameters for disambiguation.

[2017-10-10 12:26] monnier commented on #2794
There is no doubt that "duplicating" here implies extra work, bugs and inconsistencies.  Whether that's more important than the immediate feedback you get from on-the-fly highlighting is a question of personal judgment.

[2017-10-10 14:34] UlfNorell commented on #1549
In the case of indexed data types, the target parameters depend on the arguments, which we haven't type checked yet. Speculatively type checking the arguments, I fear would easily lead to exponential trouble.

We could do something for non-indexed data types, but it feels to me like this is not a very common problem(?) and not worth implementing an ad hoc solution to.

[2017-10-10 20:16] xekoukou commented on #2793
I do not know if it is the same error but here is a small example :

[code]

If we look at the type of eq we will see this :

[code]

We are allowed to case split ```eq``` but afterwards , we get an error :
[code]

Notice that one case is missing. In my original code, this was to reduce the 'typecheck' time.

[2017-10-11 06:59] andreasabel opened #2796 "Overloaded (inherited) projection resolution fails with parametrized record"
[code]

Since #2422 this should work.

[2017-10-11 07:27] andreasabel commented on #2796
The problem here was that `Sub.add` was not classified as projection-like, because the `funMutual` flag was set to `Nothing`.  Fixed this by setting `funMutual` for projections to `Just []` from the beginning.

[2017-10-11 07:50] andreasabel commented on #2769
After all, bisection _WAS_ right. Fixing #2796 also fixes this issue, due to the fixed projection-likeness check.

[2017-10-11 08:07] #2796 closed, assigned to andreasabel

[2017-10-11 08:08] #2769 closed, assigned to andreasabel

[2017-10-11 09:01] andreasabel opened #2797 "Relevance check missed for overloaded projection"
I am getting a non-informative error when trying to give something with a irrelevant projection in a relevant context.
[code]
The term in the last hole type checks fine and matches the goal when `C-c C-.`, but giving fails with a `PatternErr` which is raised in the occurs check.  (Making the theorem `fam-comp-inv` irrelevant makes the give succeed.)

A better error message is needed, propagating t

[2017-10-11 09:55] jespercockx commented on #2793
What version of Agda are you using? On my system I don't get that error when I case split on eq and then reload (only an error for incomplete pattern matching). So probably this has already been fixed.

[2017-10-11 12:39] xekoukou commented on #2793
I am at commit [c5faf7aecc4479ba3d31a84d7cad19874a42534d](https://github.com/agda/agda/tree/c5faf7aecc4479ba3d31a84d7cad19874a42534d) .

[2017-10-11 13:10] nad opened #2798 "The LaTeX backend ignores the "operator" aspect"
The HTML backend attaches the `Operator` class to operator name parts. The LaTeX backend does not generate corresponding output: the second argument to `Name` is [thrown away](https://github.com/agda/agda/blob/e12fec58047ffae17084d8a9c06a98410794ddc6/src/full/Agda/Interaction/Highlighting/LaTeX.hs#L492).

[2017-10-11 15:04] jespercockx opened #2799 "Productivity checking fails for coinductive proof in Cubical Agda"
I'm trying to load the demo from https://github.com/Saizan/cubical-demo, but I'm getting termination errors. Here's a self-contained example:
[code]
The error is:
[code]

[2017-10-11 15:42] jespercockx opened #2800 "Case split with non-trivial RHS should either be disallowed or do the right thing"
Currently, Agda allows me to perform a case split on `x` in this example:
[code]
However, the resulting code is not type-correct:
[code]
We should either disallow this again or (preferably) substitute `x` with `zero` and `suc x` in the respective clauses.

[2017-10-11 15:42] andreasabel opened #2801 "Printing of overloaded functions broken due to eager normalization of projections"
[code]
prints goal as
[code]
But we would like to see
[code]
The problem can be traced back to the replacement of projections by the original projections in the type checker.  (See `projDropParsApply` in `inferHeadDef`, which does not use projection `x` but the original projection coming from `Projection` in the signature.)

The problem is already apparent with module aliases:
[code]
Since the pro

[2017-10-11 15:45] andreasabel opened #2802 "Printing of overloaded functions broken due to eager normalization of projections"
[code]
prints goal as
[code]
But we would like to see
[code]
The problem can be traced back to the replacement of projections by the original projections in the type checker.  (See `projDropParsApply` in `inferHeadDef`, which does not use projection `x` but the original projection coming from `Projection` in the signature.)

The problem is already apparent with module aliases:
[code]
Since the pro

[2017-10-11 16:18] andreasabel commented on #2802
Duplicate of #2801

[2017-10-11 16:18] #2802 closed, assigned to nobody

[2017-10-11 16:20] andreasabel commented on #2239
And #2800.

[2017-10-11 16:20] andreasabel commented on #2800
This is a known problem. Originally, one could not even split if the rhs was more than a single hole.  Now, you can split, but in some cases you get garbage.  I still consider this an improvement.

The problem is mostly on the side of the emacs mode (see #2340), but in your case, there is also the substitution into the rhs missing.  However, at this point we cannot reify internal syntax to concret

[2017-10-11 16:25] andreasabel commented on #2799
Removing a destructor is only counted as descent if the result type is coinductive, if I remember correctly.  Paths between of coinductive things should count as coinductive, if `--cubical` is on.

[2017-10-11 17:11] xekoukou commented on #2793
Ok, I do not get any errors with master.

[2017-10-11 17:11] #2793 closed, assigned to nobody

[2017-10-11 20:46] #2798 closed, assigned to nad

[2017-10-12 08:05] andreasabel commented on #2798
Now, operators are wrapped with the `\AgdaOperator` command, which by default is the identity.  But one could change it to print operators in bold face, for instance.

[2017-10-12 08:18] andreasabel commented on #2800
Maybe a possible solution here would be to put the content of rhss into holes.  However, emacs does not know where the rhs of a clause ends.

[2017-10-12 13:39] gallais commented on #2800
What about using an `@` alias to keep the name we are case-splitting on if it shows up on the right hand side?

[code]
would lead to:
[code]

[2017-10-12 14:04] gallais commented on #2794
Cf. #2268 for a quick fix: turn the regular expression `{-[^#]` into `{-[^#}]` [here](https://github.com/agda/agda/blob/master/src/data/emacs-mode/agda2-mode.el#L1017). Or maybe we want to to have `{-[[:space:]\n]` instead?

[2017-10-12 16:37] monnier commented on #2794
I believe `{-} blabla {-}` is a valid Agda comment, which your quick fix would break.  If you decide to fix the font-lock rule rather than to get rid of it, I can try to provide a real fix (which will involve using `syntax-propertize-function`).

[2017-10-12 19:42] andreasabel opened #2803 "Case splitting loses names of hidden arguments"
[code]
Happens also without `--postfix-projections`.

[2017-10-12 19:49] andreasabel commented on #2803
MakeCase already gets the wrong names in the clause telescope, thus, the error must be in the left hand side checker.
[code]

[2017-10-12 20:06] andreasabel commented on #2803
It seems that in the LHS-checker, the implicit argument insertion after a projection pattern loses the names.  Minimal test case constructed from scratch:
[code]

[2017-10-12 22:50] andreasabel commented on #2803
I fixed the problem for simple hidden arguments, but it is still open for named hidden arguments.
[code]
Splitting on `x` yields
[code]
and the name `b` is lost.

The problem is that we communicate these names through the telescope, but the telescope does not have `NamedArg`, it does not distinguish between the argument name `Named` (which is not subject to alpha-equality) and the name of the boun

[2017-10-12 23:05] andreasabel commented on #2800
Ah, yes, this would fix the present issue!

[2017-10-12 23:09] andreasabel commented on #2794
I think it is rather useful that commenting out Agda code immediately shows in the syntax highlighting (without reload).

[2017-10-13 07:13] nad commented on #2794
One option would perhaps be to invoke the Haskell lexer every time the buffer is modified.

[2017-10-13 10:02] andreasabel commented on #2795
As a first step, one could allow type signatures for pattern bindings in `let`.  Then, one could see how to port this to `where` and the top-level.

[2017-10-13 10:05] UlfNorell commented on #2795
I changed the title to "Top-level pattern bindings".

[2017-10-13 12:14] #2792 closed, assigned to nad

[2017-10-14 01:47] nomeata opened #2804 "Load libraries from central location"
Debian packages agda and agda-stdlib. Ideally, once you run
[code]
you should be able to run `agda -l standard-library Foo.agda`.

For this to be working, `agda` needs to be able to look for `.agda-lib` files in a well-known system-wide location.

I propose (and actually have prepared the `agda-stdlib` package in Debian accordingly) to load all files named `*.agda-lib` in
[code]

Of course other p

[2017-10-14 02:57] nomeata commented on #2804
Here is the patch I am using for now, feel free to use this or to implement it a better way:
[code]

[2017-10-14 09:43] andreasabel opened #2805 "Generalize `Relevance` by `Modality` in `ArgInfo`. Add `Quantity` field to `Modality`."
Refactoring for #2757: Generalize `Relevance` by `Modality` in `ArgInfo`.  Add `Quantity` field to `Modality`.

[2017-10-14 14:54] andreasabel commented on #2804
Thanks!  What would be suitable locations for Windows and Mac OS?

[2017-10-14 16:11] andreasabel commented on #2004
I bumped into this issue again when I tried to add a DISPLAY rewrite rule for nested projections:
[code]
Since display form lhss need not be patterns, I do not understand why they are parsed and scope checked as patterns.

[2017-10-14 19:36] nomeata commented on #2804
Sorry, not my field of expertise. Whoever creates ready-to-use packages of the standard library for these systems might have an opinion (homebrew etc.).

[2017-10-15 13:46] andreasabel opened #2806 "Display forms for inherited projections do not fire"
[code]
The error is reported as
[code]
I wonder why the last bit is not written as
[code]
It looks that there is a display form for `S.v`, but it does not fire.
[code]
The last sentence is confusing since Agda later does try to apply a display form.
[code]
If the display form had `Var 0` where it has `Var 1`, it would probably fire.  But the record variable seems to be bound to `CtxId 44` rather t

[2017-10-15 22:15] Saizan commented on #2799
The check on the result type is only done when --without-K is on. Only recently I made --cubical imply --without-K, so that explains why it's a new issue.

[2017-10-15 23:10] #2799 closed, assigned to nobody

[2017-10-16 04:17] xekoukou opened #2807 "Internal Error at "ConcreteToAbstract.hs:724""
[code]

If one tries to refine on the first hole it returns this :

[code]
My version is at :
https://github.com/agda/agda/tree/e12fec58047ffae17084d8a9c06a98410794ddc6

Possibly related :
#2785

[2017-10-16 08:00] andreasabel opened #2808 "Confusing error when inserting declaration before top-level module"
Consider this valid Agda program:
[code]
Now, if I accidentially put a declaration before the top level module header,
[code]
I get this confusing error:
[code]
The problem is that then Agda interprets the input as
[code]
I come to the conviction that allowing to omit the top-level module header completely was a mistake...

Related: #1077

[2017-10-16 08:16] andreasabel commented on #2808
I think we should row back a bit and require at least a `module _ where` top-level header.

I suppose big developments would not be affected, as there anyway modules have sensible names.

[2017-10-16 08:42] jespercockx opened #2809 "Change Forced from a type thing into a Definition thing"
Currently, the Forced tag of a function argument is attached to its type, but this has all kinds of unfortunate consequences (rgrep ignoreForced for examples). Instead, Forced should be attached to a particular definition.

[2017-10-16 08:43] andreasabel opened #2810 "Make `--caching` a pragma option"
I want to turn on `--caching` by setting the option in the file.

[2017-10-16 09:06] andreasabel commented on #2810
I see, doing this naively breaks the test case for #2728.

If `--caching` is given on the command line, it should be treated as a persistent pragma option.  Such a category does not exist yet.

[2017-10-16 09:24] #2772 closed, assigned to nobody

[2017-10-16 19:38] Saizan commented on #2810
I think it should be fine with my last commit, but please test it before merging.

[2017-10-17 10:53] andreasabel commented on #2809
I quickly read these patches. LGTM.

On master, test case #203 (in Succeed) and others are broken, reporting
[code]
Could that be related to the refactoring (or the merging of the refactoring)?

[2017-10-17 10:54] #2807 closed, assigned to nobody

[2017-10-17 11:04] jespercockx commented on #2809
Yes, I also noticed that after pushing (sorry for being too quick with assuming master would be fine). However, I have no idea how my refactoring triggers this error. Maybe @Saizan  knows what's going on? I'll look into it further.

[2017-10-17 11:11] andreasabel commented on #2809
E.g on #203 the forcing analysis returns something different:

Previously:
[code]
Now:
[code]
Not sure how this would make a difference.

But if it is just a refactoring, maybe the result should be the same?

Ah, yes, always run the testsuite...

[2017-10-17 11:15] andreasabel commented on #2809
Ah, I have an idea.

Previously, `addForcingAnnotations` would partially normalize the type (by traversing it).
Now, this does not happen any more.
Since substitution is stricter than we want, the `applySubst (strengthenS __IMPOSSIBLE__ (size fields)) tgt` can trigger an `__IMPOSSIBLE__` too eagerly in a redex that would have gone away previously.

See #2703 where I stumbled over this recently.

[2017-10-17 11:34] jespercockx commented on #2809
The `[3,2,1]` are the parameters of the datatype, previously they were filtered out in advance but with my new implementation of the forcing analysis this was no longer needed. Since the final result is the same as before (no arguments are forced), I don't think this is the problem.

There is still a `telView` in there, so I don't see how the new code normalises the type any more or less than the

[2017-10-17 12:07] UlfNorell commented on #2809
This is what I do all the time. As long as you watch the Travis results I think this is the most efficient way to work.

[2017-10-17 13:10] #2809 closed, assigned to jespercockx

[2017-10-17 13:10] andreasabel commented on #2809
For the individual, yes, but if you work in parallel you slow down the coworkers in case you introduce an error.

[2017-10-17 13:12] #2805 closed, assigned to andreasabel

[2017-10-17 13:21] Saizan commented on #2809
To be honest, doing the telView and then strengthen is a bit fishy, I guess the better option would be to change "constructs" to return the fields and target type (if needed at least).

[2017-10-17 15:23] jespercockx commented on #2809
@Saizan If you decide to change this, could you please remove the `instantiateFull` I introduced?

[2017-10-17 19:06] andreasabel commented on #2809
Yes, but I fell into the same trap with #2703.  Intuitively, one reasons with ordinary substitution when invoking `applySubst`, and it should not crash when it applying the strengthening substitution you are applying in this case.  It should treating the exception in strengthening more lazily.

[2017-10-17 19:34] nad commented on #2810
What is a "persistent pragma option"?

[2017-10-17 19:59] Saizan commented on #2810
We figured out we probably don't need such a thing.

[2017-10-17 19:59] nad commented on #2808
I have previously suggested that one should only be allowed to omit the name for top-level modules, not for imported modules.

[2017-10-17 20:15] nad commented on #2804
None of the [predefined directories](https://hackage.haskell.org/package/directory-1.3.1.5/docs/System-Directory.html#g:3) in `System.Directory` seem to match. Perhaps we can have a list of system directories, and let the list be empty by default. Replacing this list with something suitable is then presumably easy for those who package Agda.

If such a list is added, then I think that it should be

[2017-10-17 20:27] andreasabel opened #2813 "Interactive command to show consequence of `with` or `rewrite`"
When the user enters `rewrite e` into a hole, the following two commands should handle it:
- infer (`C-c C-.`): Should tell the user whether rewriting with `e` is possible and what the new type and context would be.

- give (`C-c C-SPC`): Should insert the `rewrite` clause and reload.  (Ideally, not reload but fix the type and context directly, but this could be complicated.)

[2017-10-18 06:37] tomjack opened #2814 "cubical, rewriting(?), and module parameters"
The code is a prelude followed by two copies of the same module, Good and Bad, where Bad fails due to the addition of a dummy module parameter.

RewritePuzzle.agda:
[code]

with -vrewriting:10000 we can see:

[code]

".(.C)" in the instantiated rewrite rule should actually be ".(.Dummy)", as it is in the logs for Bad.test₁. Somehow the interval variable j in test₂ seems to throw things off?

[2017-10-18 06:41] tomjack commented on #2814
In contrast, there is no problem with:

[code]

[2017-10-18 07:09] UlfNorell commented on #2809
I still maintain that it's overall more efficient, since errors are reasonably rare.

[2017-10-18 10:05] andreasabel commented on #2809
Compiling and testing master takes around 30min, but you can do this in the background while starting the next patch on stable.  It is only that you cannot push master immediately.

[2017-10-18 14:48] tomjack commented on #2814
I guess the problem is that freeVarsToApply in Agda.TypeChecking.Monad.Signature uses telView'UpTo, but in cubical it should use something like telViewUpToPath?

[2017-10-18 17:15] andreasabel opened #2815 "travis output too long"
Usually, the log generated by our builds exceeds the maximum 10000 lines allowed by travis.

One way to get a shorter log would maybe to pass option `--ghc-options=-w` to cabal when installing the dependencies.

Another this is to shorten the output of the tasty-silver runs, but this would probably require modifying the tasty-silver package, @phile314 ?
I could imagine to just see a summary of the

[2017-10-18 18:12] andreasabel commented on #2810
Works according to my limited testing.

[2017-10-18 20:40] nad commented on #2809
I don't have separate directories for the two branches, and typically I don't even compile the master branch before I push (because often the code that I work on is identical in the two branches). I don't think this has resulted in any Travis complaints so far.

[2017-10-19 04:33] nad commented on #2728
The caching machinery can also be used to circumvent the `--safe` flag. Here's a test case:
[code]

[2017-10-19 07:00] #2810 closed, assigned to andreasabel

[2017-10-19 07:13] andreasabel commented on #1077
Maybe the fix was not complete, see #2808.
Agda rejects this:
[code]
because the top-level module consists of exactly a single module with the same name as the inferred top-level module.
However, it accepts this:
[code]
because now only the top-level module contains as first thing a module that that has the same name as the inferred top-level module.

[2017-10-19 07:17] Saizan commented on #2728
Right, that's because violating safe with a postulate is also a warning.

[2017-10-19 07:37] andreasabel commented on #2808
Since @UlfNorell had reservations about the rowing back, I fixed this in the minimal way by widening the fix for #1077 to the following situation:
[code]

[2017-10-19 07:38] #2808 closed, assigned to andreasabel

[2017-10-21 19:25] andreasabel opened #2816 "`where` should remain a declaration keyword"
Using `where` both as a declaration and expression keyword leads to the following funny parse error:
[code]
The error location is the `:` after the `c`.  Beginner's trap.

Keeping declaration keywords separate from expression keywords allows better parse error reporting.

[2017-10-21 19:54] UlfNorell commented on #2816
Did you actually have a beginner getting confused over this? In Agda 2.5.1 you get the parse error on the `where` instead, which I'm not sure is that much more helpful.

In any case I don't think it's worth adding another keyword just to get better parse errors in weird corner cases like this.

Also, since `where` hasn't been a "declaration keyword" for the last two releases I think the title is a

[2017-10-21 22:50] andreasabel commented on #2816
No, this is a constructed example.  I was thinking about separating declaration parsing from expression parsing.  If this were possible, parse errors would be more local.

[2017-10-22 06:27] #2816 closed, assigned to nobody

[2017-10-22 10:28] xekoukou opened #2817 "Unable to refine correct solution."
Trying to refine the hole with ```eqc``` is not possible but removing the hole
and doing it by hand works.

[code]

[2017-10-22 16:55] andreasabel commented on #2817
This is because some size variables have been instantiated to infinity where they shouldn't.  I guess it is a duplicate of #992.

[2017-10-23 02:11] #2817 closed, assigned to nobody

[2017-10-25 04:18] ssomayyajula opened #2818 "Cubical triggers internal error when normalizing ua/equivToPath"
[Here](https://github.com/ssomayyajula/cubism/blob/master/Cubical/Bug.agda) is a small example that triggers the error. I've been copying & editing @Saizan 's [`cubical-demo`](https://github.com/Saizan/cubical-demo) for my own purposes. However, when I attempt to normalize the expression `not-ua true`, I get the following error.
[code]
Strangely enough, when I run `coe (equivToPath idEquiv) true`

[2017-10-25 06:53] andreasabel commented on #2818
Test case without standard library:
[code]

[2017-10-25 07:17] Saizan commented on #2818
@ssomayyajula Apparently you forgot to declare the COMPGLUE builtin.

It's a big definition in PathPrelude
{-# BUILTIN COMPGLUE compGlue #-}

[2017-10-26 14:05] UlfNorell opened #2819 "Forcing analysis doesn't consider relevance"
[code]

[2017-10-26 14:20] #2819 closed, assigned to UlfNorell

[2017-10-27 02:22] copumpkin commented on #2761
Watching eagerly 😄

[2017-10-27 09:18] andreasabel opened #2820 "Equality is incompatible with sized types"
[code]
The term `test` is looping.

[2017-10-27 09:48] Saizan commented on #2820
Without using trustMe, but proofs of equality to \infty instead.

[code]

[2017-10-27 10:01] andreasabel commented on #2820
And the slightly dubious `get` function...   Is this related to #1428?

[2017-10-27 10:04] Saizan commented on #2820
Isn't ```∞ : Size< ∞``` the most dubious part here? :)

[2017-10-27 12:16] Saizan commented on #2820
Without using the get function:

[code]

[2017-10-27 12:17] UlfNorell commented on #2820
Time to bring back the size universe?

[2017-10-27 12:20] andreasabel commented on #2820
The trouble with `SizeUniv` was that since the introduction of universe polymorphism much of the sort machinery relies on the fact that we have a linear hierarchy of sorts.  This needs to be refactored properly to accommodate other PTSs than `{Set i | i in Nat}`.

[2017-10-27 12:20] UlfNorell commented on #2820
Without standard library

[code]

[2017-10-27 13:20] nad commented on #2820
Is the following code not supposed to work?

[code]

[2017-10-27 13:26] nad commented on #2820
The fact that `∞ : Size< ∞` seems to be problematic. Is this a fundamental problem, or can the problem be contained by, say, letting sizes live in a separate universe (so that we cannot talk about equality of sizes, for instance)?

[2017-10-27 14:31] pigworker opened #2821 "BUILTIN BOOL gremlin"
I ran a program that fiddles with bits, which went hilariously wrong. The behaviour I expected for "true" happened for "false", and vice versa. I was using
[code]
I got the correct behaviour by doing this instead:
[code]
I also got the correct behaviour by reordering the constructors:
[code]
The order of BUILTIN FALSE and BUILTIN TRUE seems not to matter, but the order of ff and tt seems to be the

[2017-10-27 14:52] UlfNorell commented on #2821
Indeed. It looks like the primitives assume that builtin booleans compile to Haskell `Bool`, but the `BUILTIN` pragmas ensure no such thing. In the example below `Two` is compiled to a new datatype and the result of `"foo" == "bar"` is unsafeCoerced from an actual boolean to the new datatype.

Complete example:
[code]

[2017-10-27 15:51] jespercockx opened #2822 "Allow (co)patterns after with patterns"
(Perhaps this is already known, but I could not find any open issue.)

If you split on the result type in a with clause, Agda produces garbage:
[code]
Case splitting produces:
[code]
Coming up with a reasonable syntax here could be problematic. However, with postfix projections I think there is a solution:
[code]
Currently this doesn't parse, but it would be nice if it did (and if case splitting p

[2017-10-27 16:11] andreasabel commented on #2822
We need a story for introducing more patterns after a `with` as well.  Trivial example:
[code]
As `|` starts with-patterns, we also need a syntax to switch back to ordinary patterns.
When I implemented #727, I did not do anything for `with`.

[2017-10-27 16:23] andreasabel commented on #2822
With extended lambda, you would write:
[code]
We can use `λ` as a `with`-pattern stopper and write:
[code]
Maybe the ASCII version would even be preferable here:
[code]
However, this is currently a legal `with`-application:
[code]
meaning
[code]
which is in conflict with using `\` as a `with`-stopper.
@jespercockx 's suggestion
[code]
has the same problem, it has already the meaning
[code]

[2017-10-27 18:08] Saizan commented on #2820
Avoiding equality of sizes does not seem to be enough, though if we would only allow irrelevant size quantification in datatypes it might.
(Personally I'd rather get rid of ```∞ : Size< ∞``` ! But it's not like I have a design ready either)

[code]

[2017-10-27 20:03] pigworker commented on #2821
I forgot to mention, I discovered this problem in a [somewhat open situation](https://t.co/PF0kL3nv0x).

[2017-10-27 20:30] UlfNorell commented on #2821
I gathered as much from my Twitter feed :)

[2017-10-27 20:56] nad commented on #2820
Andreas and I briefly discussed removing `∞ : Size< ∞` the other day. As I recall the main problem is that the `force` projection would no longer have type `D′ ∞ → D ∞`. (For a typical coinductive definition involving a data type `D` and a coinductive record type `D′` with a field `force : {j : Size< i} → D j`.)

[2017-10-27 21:11] nad commented on #2820
One way to think about sized types, that might not be entirely compatible with the current implementation, is that there are two kinds of definitions: those that have (possibly) not been completed yet (of size `i`), and completed definitions (of size `∞`). Once a definition has been completed it should be fine to ignore all sizes, and it should also be fine to turn a completed definition into a po

[2017-10-27 21:15] nad commented on #2820
I guess it would help if the isomorphism between `D′ ∞` and `D′ (ssuc ∞)` was available to the programmer in some way.

[2017-10-28 05:18] andreasabel commented on #2822
The simplest would be `(test | x) .fst`, but this currently does not parse:
[code]
says
[code]

This is a also the reason why the splitting prints the internal with-function.  The display form is actually found, but subsequently rejected as it is not a valid lhs:
[code]

The way forward here is to extend Concrete and Abstract syntax and parse lhss like `(test | x) .fst` or `(test | p) q`.  Then we

[2017-10-28 09:46] ice1000 opened #2823 "Is there an Agda icon?"
Are there any icon designed for Agda?

[2017-10-28 16:10] jespercockx commented on #2823
We had a competition for designing an Agda logo a while ago, the competitors are on [the Agda wiki](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=AIMXXIII.LogoCompetition). However, there hasn't been a decision yet on which one should become the official logo.

[2017-10-28 18:03] andreasabel commented on #2823
I hadn't seen Aive's "all Gs" design before, but I think it is really
clever:

https://raw.githubusercontent.com/jmchapman/agda-logos/master/IMG_0246.JPG

On 28.10.2017 18:10, Jesper Cockx wrote:

--
Andreas Abel  <><      Du bist der geliebte Mensch.

Department of Computer Science and Engineering
Chalmers and Gothenburg University, Sweden

andreas.abel@gu.se
http://www.cse.chalmers.se/~abela/

[2017-10-28 21:23] andreasabel commented on #2822
Plan:
- [X] integrate ellipsis into patterns
- [X] integrate with-patterns into patterns
- [x] parse with-patterns as just patterns
- [ ] fix with-clause stripping
- [ ] remove restrictions when printing lhs with-app display forms (reifyDisplayFormP)

[2017-10-29 17:41] ice1000 commented on #2823
Thanks @jespercockx @andreasabel !
![](https://raw.githubusercontent.com/jmchapman/agda-logos/master/IMG_0246.JPG) This one looks really nice.

[2017-10-29 17:42] ice1000 commented on #2823
Get it. Closed.

[2017-10-30 16:41] andreasabel opened #2824 "Allow {-# BUILTIN #-} in preamble and in parametrized modules"
The following is rejected with `Illegal declaration(s) before top-level module`:
[code]
However, if I move the `{-# BUILTIN REWRITE #-}` pragma into the module, I get the error:
[code]
We could also fix the latter problem; allow to bind imported things in a parametrized context.

[2017-10-31 10:38] Snicksie opened #2826 "Case splitting on earlier variable uses duplicate variable name"
Fairly minimal example:

[code]

case splitting on s in the first hole gives:
[code]

The variable p is now used twice, which is obviously not accepted by the type checker:

If I'm first splitting on s and then on the result of doTest n, the result is correct as expected.

[code]

[2017-10-31 11:18] sattlerc commented on #2826
Shrunk test case:
[code]

[2017-10-31 14:42] laMudri opened #2827 "Variables off in with-clauses. Parameter refinement?"
Agda 2.5.3, stable release.

Consider the following file. In the final definition, the pattern match on `inferRes e` allows the type of hole 0 (the `just` case) to be computed to a function type, while hole 1 (the `nothing` case) is computed to `Lift One`. The module parameters `dummy` and `Dummy` are unused.

[code]

`inferResBest e` should fill hole 0, but the application fails to type, with the

[2017-10-31 15:01] laMudri commented on #2827
Additionally, if we instead have the following,

[code]

the generated with function fails with `w₁ !=< List C of type Set c`.

[2017-10-31 16:23] andreasabel commented on #2827
The variable confusion first appears in Agda-2.5.2.  In Agda-2.5.1.1 you get a different error message:
[code]
Let me guess the culprit: parameter refinement?

[2017-10-31 16:28] andreasabel commented on #2826
Works in Agda-2.5.1.1:
[code]

[2017-10-31 16:32] andreasabel commented on #2826
My guess is that the regression was introduced by the change below.  The problem seems to be that with-patterns are not taken into consideration when assigning fresh variable by the logic below.
This problem might just disappear by the refactoring I do for #2822.

commit 67d50a9159147f0aa990aef4ae3ccbbfdd2b56df
Author:	Ulf Norell <ulfn@chalmers.se>  Tue Nov 29 16:57:44 2016
Committer:	Ulf Norell <

[2017-10-31 18:59] xekoukou commented on #2713
Possibly the same error as in my case :

[code]

[2017-10-31 19:59] guillaumebrunerie commented on #2713
@xekoukou In your case, the problem is that you are using `it` inside a function declared as `instance`, so the function `indτ&Ord⇒ge` itself is considered as a candidate which makes instance search loop. If you don’t put `indτ&Ord⇒ge` in an instance block, then it works. So I’m not sure it’s the same bug, but it might be a different one.

[2017-10-31 20:08] brprice commented on #2668
This seems to have been fixed in 2.5.3 (specifically, commit 8518b8e seems to have solved this, along with #2727 and #2726)

[2017-11-01 08:06] UlfNorell commented on #2827
It looks like something goes wrong when we insert the implicit `G'` in the with clause.

Shrunk test case:

[code]

[2017-11-01 08:10] UlfNorell commented on #2827
This is expected. If you abstract over `w₁ = QCtx`, you end up with `forall {G' : w₁} -> G' |- t -> One`, which is not well-typed.

[2017-11-01 08:29] UlfNorell opened #2828 "Identity pattern synonym causes looping"
Most likely introduced by 0d60ad9.

[code]

[2017-11-01 08:41] #2828 closed, assigned to UlfNorell

[2017-11-01 08:50] UlfNorell commented on #2692
It's been almost 2 months now, so can we act on this?

Maintaining `7.8` compatibility is a constant pain due to the library changes in `7.10`. I count 8 commits fixing build failures on `7.8` in the last month alone.

Also, if there's a super serious regression we can always make a hot-fix release based on `2.5.3`.

[2017-11-01 08:53] UlfNorell commented on #1182
We now have builtin do-notation, so I'm closing this issue.

[2017-11-01 09:14] UlfNorell opened #2829 "Allow instance arguments to pattern synonyms"
Currently pattern synonyms accept implicit arguments, but not instance arguments. One use case for this would be to make an argument that's not an instance argument available for instance search. For instance,

[code]

An obstacle to the implementation is that pattern synonyms are expanded before we get to type checking and currently there's no way to represent in abstract syntax that a non-instan

[2017-11-01 09:35] UlfNorell commented on #2821
The `BUILTIN LIST` has the same problem, except in that case you get a segmentation fault.

[2017-11-01 11:09] asr commented on #2692
OK. I'll remove the support for GHC 7.8.4.

[2017-11-01 15:58] #2692 closed, assigned to asr

[2017-11-01 16:05] andreasabel commented on #2692
My take on this would have been to just disable the travis test and let the 7.8 support rot, rather than actively removing it.  But, well, ok.  (I am having a dejavu here, see #1972.)

[2017-11-01 16:41] andreasabel commented on #2668
Thanks for noticing!  I close...

[2017-11-01 16:41] #2668 closed, assigned to nobody

[2017-11-01 16:57] andreasabel opened #2831 "NO_POSITIVITY_CHECK pragma can be written before a mutual block without data or record types"
This succeeds
[code]
while this gives an error
[code]
Two things:
1. It should be a warning, not an error.
2. There should also be a warning if there is no data/record type in the mutual block.

[2017-11-01 17:27] #2821 closed, assigned to nobody

[2017-11-01 18:39] #2831 closed, assigned to andreasabel

[2017-11-01 20:00] andreasabel commented on #2824
I fixed both problems.

In principle, we could also get the following to work, but it does not seem worth the effort:
[code]

[2017-11-02 08:36] UlfNorell opened #2832 "BUILTIN NIL and CONS are not needed"
We've done this for Nat (#730) and equality (#2389), so I guess we should also do it for lists.

[2017-11-03 13:30] jespercockx opened #2833 "Coverage checker splits on result too eagerly"
In the following example, Agda complains about both incomplete pattern matching and unreachable clauses:
[code]
However, if you force Agda to first split on the Nat argument, then there are no errors:
[code]

[2017-11-03 17:52] jespercockx opened #2834 "Disambiguation of type based on pattern leads to non-unique meta solution"
In the following example, Agda instantiates `X` to `Bool`, even though it could equally well be instantiated with `A` instead.
[code]

[2017-11-04 00:37] ssomayyajula commented on #2818
Thanks! That fixes it.

[2017-11-04 15:43] nad opened #2836 "The Emacs mode does not handle .lagda.tex files"
The Emacs mode doesn't know about `.lagda.tex` files, as witnessed by the following code:
[code]

[2017-11-04 15:45] nad opened #2837 "The Emacs mode only handles LaTeX-based literate Agda"
Perhaps we should support things like `.lagda.md` in the Emacs mode.

[2017-11-05 20:35] nad commented on #2836
Note also that `buffer-name` does not necessarily give the name of the buffer's file (if any). If the buffer is associated with a file, then `buffer-file-name` can be used.

[2017-11-06 08:22] andreasabel commented on #2834
This does not look scary, can you make the case scarier?

[2017-11-06 09:36] jespercockx commented on #2834
Halloween is over, but I can try. This code is rejected:
[code]
but simply filling in the hole with `A` causes it to be accepted. Scary enough? 👻👻👻

[2017-11-06 10:33] andreasabel commented on #2834
Ok, good enough.  I still do not tremble. ;-)

[2017-11-06 15:56] xekoukou opened #2839 "Access to the generated "with" function."
From @nad

At the moment, if you use "with" abstraction in a function, you are more or less forced to use "with" abstraction wherever you use this function.

If it happens to be difficult to decipher why the "with" abstraction on the new function does not create well-typed results, you are unable to revert to manual abstraction. You are stuck with the error message.

[2017-11-06 17:28] andreasabel commented on #2839
@nad : This seems to be a pie in the sky which is not attainable with the current interpretation of `with`.
Consider this simple example:
[code]
This desugars into
[code]
with two with-functions
[code]
I wonder how we would interpret
[code]
in terms of `f`, `f_true`, `f_false` ?!

[2017-11-07 06:17] UlfNorell commented on #2839
I'd expect `f x | y` to be an error. With-application should only be accepted if it actually corresponds to a call to a with-function.

[2017-11-07 10:32] xekoukou commented on #2839
Let us say that ```fun-with``` is the with-function. So if today, when we check the type of a goal, we see :
```fun x | y ``` , we will now see :
~```fun x (fun-with y)```~ ```fun-with y```

And ```fun-with``` will be accessible to the user, meaning that if one creates a lemma at the hole ```C-c C-h``` ,
the lemma will type check.

(personally I prefer to put ```-abs``` at the end of the function

[2017-11-07 13:52] wenkokke opened #2840 "Internal error in positivity with modules/datatype definitions"
Imagine I have a module which is parameterised on some type constructor, e.g. Algebra.FunctionProperties:

[code]

And imagine I want to use these properties during the constructor of some datatype. I would try to use a mutual block:

[code]

This results in an error, stating that "modules are not allowed in mutual blocks". No worries, I can get around this, using implicit arguments! (In the case

[2017-11-07 14:03] wenkokke commented on #2840
Oh, btw, I'm using Agda version 2.5.3-7654ff3.

[2017-11-07 15:49] andreasabel commented on #2840
I shrank this to:
[code]
This seems to be a regression of 2.5.3.  Up to including 2.5.2 we get instead:
[code]

[2017-11-07 16:01] andreasabel commented on #2840
Probably I introduced this regression by 46635bda44fb6cd5372e4ff0d5410efb42952653 which allows the target of a constructor to be a meta.  This meta cannot be solved because of non-linearity and is postponed, resulting in the crash in the positivity checker.  The latter is not prepared to see a meta as target of the constructor.

[2017-11-07 16:42] #2840 closed, assigned to andreasabel

[2017-11-07 16:43] andreasabel commented on #2840
Fixed by not postponing the constraint.
Also, data parameters need not be metas in the target.

[2017-11-07 20:15] andreasabel opened #2841 "Opting out of idiom brackets"
I'd like a flag to opt out of idiom bracket syntax, e.g., to reuse the banana brackets for my own purposes.
Currently, I just get this error when trying to use the banana brackets:
[code]
Related: #2186.

Anyway, isn't it enough to reserve the ASCII syntax `(| ... |)` for idiom brackets?

[2017-11-08 06:37] andreasabel commented on #2839
@UlfNorell :
- Is `f x | ?` a call to a with-function?
- Would we recognize `f x | a` as meaning just `f x`?

Somehow I cannot see how the interpretation of `f x | y` (for suitable x y) can be robust without a way to disambiguate, something like:
[code]
which would us allow to write `W.f x | y` and `V.f x | y`.

[2017-11-08 08:10] UlfNorell commented on #2839
No.

No, because it doesn't.

I think you're confused. A with-application `g us | v` corresponds to a call to a with-function when `g us` matches a clause of `g` that has a with right-hand side. So, you disambiguate between `f_true x` and `f_false x` by writing `f true | x` and `f false | x`, which incidentally is exactly the inverse of how we print with-application. Writing `f x | y` (for neutral

[2017-11-08 08:22] andreasabel commented on #2839
Ok, let's spell out how we would go about doing the type checking and interpretation of with-application, to lift my confusion.
- Agda sees `f e1 | e2` after scope checking.  Next thing is, `e1` and `e2` need to be type-checked and evaluated to internal syntax.
- We can get the type of `e1` from `f`, so we type check `e1`, getting `v`.
- Then we reduce `v` and match it against the patterns for the

[2017-11-08 08:27] UlfNorell commented on #2841
Idiom brackets initially only supported the ASCII syntax. There was an opportunity to object to reserving the unicode banana brackets in PR #2104, but it's a bit late now.

I'm sure there are other unicode brackets you can use (or call the operator `-⦇_⦈ᵗ`).

As for adding a flag, we discussed this for do-notation and concluded that adding flags to change the (lexical) syntax was a bad idea.

[2017-11-08 08:27] #2841 closed, assigned to andreasabel

[2017-11-08 08:29] UlfNorell commented on #2382
Mislabeled the above commit.

[2017-11-08 08:30] UlfNorell commented on #2832
Fixed by (the mislabeled) commit fda20b721b8730c63bea517d4337e67031964d7c.

[2017-11-08 08:30] #2832 closed, assigned to UlfNorell

[2017-11-08 08:48] UlfNorell commented on #2839
Yes, that's roughly what I've been thinking.

I think the best bet for the second to last step is to record the required information (how to compute the required type of `e2` and how to build the with-function call) when desugaring the 'with'.

[2017-11-08 12:08] andreasabel commented on #2382
I think the error message could be nicer instead of just a scope error on `show`.

[2017-11-08 22:47] mietek commented on #2692
Please consider that some of us are still stuck on GHC 7.8.4 because of business reasons.

[2017-11-08 23:06] asr commented on #2692
@mietek, note that you can revert f5b1b95946a8ac626ffc8fac1da0cd63ea6e6bb8 in your local repo. Are you using Ubuntu?

[2017-11-09 02:28] mietek commented on #2692
This is not a problem for my personal use, but rather a potential barrier for adoption of future Agda versions in an organisational context.  The organisation has standardised on Windows 7 and GHC 7.8.4, and it is unclear when upgrading will be possible.

I recognise that it is more important to ease future development than to support obsolete versions of GHC on obsolete operating systems.  Howeve

[2017-11-09 03:04] asr commented on #2692
I don't understand how to deprecate the support would be sufficient in the organisational context. If we remove the CI for GHC 7.8.4 the next release won't support this version of GHC. Off the top of my head the first issue would be #2745.

[2017-11-09 06:02] UlfNorell commented on #2692
Why not stay on Agda 2.5.3 then? It seems strange that the organisation cannot possibly install a more recent ghc but require a bleeding edge Agda.

I agree. As soon as we stopped testing with ghc-7.8, Agda stopped building with ghc-7.8, and all the ifdefs for 7.8 were just dead code.

If you're serious about the deprecation path, I suggest you create a fork of Agda, revert f5b1b95946a8ac626ffc8fa

[2017-11-09 18:03] jonaprieto opened #2843 "A request for a symbol input in the emacs mode"
Hi all,

I've been writing some functions like "nameFunction-∧" or "nameFunction-∨".
But now, I would like to remove the hyphen and subscript the symbols.
In the last case, for example, I can type "\_v" (fourth option) to write, "nameFunctionᵥ".

     \_v:(1/1) 1.̬ 2.̮ 3.̺ 4.ᵥ 5.ᵥ

But with the example "nameFunction-∧" I didn't find how.
I think It's not supported. If so, any chances to add to the

[2017-11-09 18:24] guillaumebrunerie commented on #2843
If you want a superscript `∧`, you can maybe simply use the ASCII `^` symbol (obtained by typing it twice).
If you want a subscript `∧`, well, it seems there is no such character in Unicode at all, so it can’t be supported by Agda…

[2017-11-10 00:52] scott-fleischman opened #2844 "Root documentation URL redirects to version 2.5.2"
https://agda.readthedocs.io/ redirects to https://agda.readthedocs.io/en/v2.5.2/  , which is not the latest version.

Related: I have noticed Google search results often take me to the 2.5.2 version, and perhaps this is why?

Here is what `curl` returns:
[code]

[2017-11-10 09:31] cj-xu opened #2845 "Normalization of paths with built-in natural numbers in cubical Agda"
The following example doesn't normalize to zero
[code]
but this one does
[code]

[2017-11-10 09:41] cj-xu opened #2846 "Internal errors in the computation rule of Id in cubical Agda"
The computation rule of Id holds judgementally as shown in Andrea Vezzosi's "cubical-demo":
  https://github.com/Saizan/cubical-demo/blob/master/Id.agda
But we get an internal error (seemly in type-checking) while trying to verify this ourselves. You would see it when doing "C-c C-SPC" in any of the following holes:
[code]

[2017-11-10 17:42] martinescardo commented on #2761
It would be nice to have propositional truncations to begin with, maybe as a built-in type constructor if this is easier. This is a fundamental construction needed to implement univalent logic and define a number of fundamental notions such as image, surjection and more. We need this to do any serious univalent mathematics in Cubical Agda.

[2017-11-10 18:32] andreasabel commented on #2692
This is hardly an option as we do not backport bugfixes.

I wonder whether we could keep 7.8 compatibility by building a big `Prelude` module which exports everything we need from `base` and other packages.  This module could provide the compatibility layer for things that change in `base` etc. over different `ghc` releases.
Of course, we could not use new `LANGUAGE` features of ghc.

[2017-11-10 18:51] andreasabel commented on #2844
Thanks for the alert.  I was able to set the default to `2.5.3` now.  Probably this was forgotten during the release procedure.

[2017-11-10 19:03] andreasabel commented on #2841
Seems my last comment there did not get any response.

A question is of course, why are banana brackets in the lexical syntax while many other brackets are not?  Why would they get the privileged treatment while the more often used equation chains do not, for instance?  In general, matching parentheses should be respected when parsing expressions in general, not just for a few privileged cases.

H

[2017-11-10 20:03] asr commented on #2843
I could not find an Unicode symbol either. Reopen the issue if you find it, please.

[2017-11-10 20:04] #2843 closed, assigned to nobody

[2017-11-10 20:57] andreasabel commented on #2841
I did something small to give a better parse error, and added banana brackets to the Agda input method.  They look like idiom brackets and are not taken.

[2017-11-13 14:14] ice1000 opened #2848 "Case splitting generates invalid syntax when there's a `rewrite`"
Like, if I have:

[code]

And I type <kbd>C-c C-c b RET</kbd> in the hole, then I get:

[code]

Which is invalid.

is this a bug?

[2017-11-13 16:14] andreasabel commented on #2848
This is a combination of bugs #2340 and and #2087.

Thanks for reporting, I close this as duplicate.

[2017-11-13 16:14] #2848 closed, assigned to nobody

[2017-11-13 17:52] ice1000 commented on #2848
Glad to hear that!

I really appreciate your quick reply! :+1: :smiley:

[2017-11-13 21:00] andreasabel commented on #2848
Unfortunately, the bugs require some extra work to fix, thus, I am a bit pessimistic that they will be attacked soon.

I hope you can work around them!

[2017-11-14 09:29] nad commented on #2843
Note also that `ᵥ` is "LATIN SUBSCRIPT SMALL LETTER V".

[2017-11-14 12:16] laMudri opened #2849 "Internal error at absurd pattern followed by `rewrite`"
Trying to check the following file leads to the error:
[code]

[code]

Replacing the absurd pattern by a variable and splitting that via agda-mode also causes an error. It seems to act as if the `rewrite` were actually expanded into a `with` on the previous line and the corresponding patterns on the current line. This leaves `... | () | .false | refl`, but because there is no extra `with` on the p

[2017-11-14 13:32] jespercockx opened #2850 "Record constructor is accepted, record pattern is not"
Example:
[code]
Error message:
[code]

[2017-11-14 14:05] laMudri commented on #2849
The same internal error is given when checking this definition in place of `lemma`.
[code]

Meanwhile, the following produces a genuine error message.
[code]
[code]

[2017-11-14 16:39] andreasabel commented on #2849
It seems to be a `rewrite` issue, since the `with` version actually works:
[code]

[2017-11-14 16:43] andreasabel commented on #2849
Agda 2.5.2 still says:
[code]
It seems that this internal error was introduced in the refactoring that added `AbsurdP`, @jespercockx ?

[2017-11-14 21:48] andreasabel commented on #2849
I fixed the internal error and restored the unsolved constraints error.

However, we might want to process absurd patterns after the rewrite.  Then this would succeed, like the `with` version.
@jespercockx : maybe something for your refactoring.

[2017-11-14 21:50] #2849 closed, assigned to andreasabel

[2017-11-15 11:47] gergoerdi opened #2851 "FROMNAT in Fin pattern doesn't work"
Based on https://agda.readthedocs.io/en/v2.5.2/language/literal-overloading.html via https://stackoverflow.com/a/47300525/477476, I was expecting the following code to compile:

[code]

however, it fails with

[2017-11-15 11:57] ice1000 opened #2852 "Excluding some files of a library"
Like, I wanted to generate html from my codes, so I definitely want to write a file named `index.agda` (which will generate `index.html`, the homepage), which conflicts with the stdlib's one.

If I can exclude the stdlib's `index.agda` that'll be awesome.

Mentioned in #2847

[2017-11-16 09:06] ice1000 opened #2853 "Auto does not work well with record types"
My code here (removed irrelevant part):

[code]

I typed <kbd>C-c C-a</kbd> at the hole. Nothing happens.

Even Agda has correctly displayed the type of the hole (`?0 : a × (b × c) ≡ a × (b × c)`).

It should obviously been filled with a `refl` but it says `no solution found`. Why? Is this a bug?

[2017-11-16 09:07] ice1000 commented on #2853
P.S. After filling the hole with `refl`, everything goes fine.

[2017-11-16 14:44] andreasabel commented on #2853
Auto is currently not maintained.

In such situations, where the next thing is a constructor, `refine` <kbd>C-c C-r</kbd> can solve your goal.

It seems that Auto does not deal well with record fields.  Here is a simplified case:
[code]

[2017-11-16 15:46] andreasabel commented on #2851
Here is a self-contained test case:
[code]
The simple answer is:  It does not work with patterns yet.
(It could if we evaluated literal expressions on the lhs to patterns.)

[2017-11-17 06:02] ice1000 commented on #2853
<kbd>C-c C-r</kbd>.. thanks.

Ok. Get it. So should this be closed or keep open until auto is updated?

[2017-11-17 13:48] fredefox commented on #237
Was this bug closed inadvertently?

I just encountered a piece of syntax for `with`-*application* presented to me in the Agda minibuffer that I never really thought about before. As an example:

    f n | even n

As I understand it, it's the value of `f n` given the result of `even n`. `f` in this case is defined using `with`-abstractions. However, when I copy this definition into my file (doing a

[2017-11-17 13:59] fredefox commented on #2852
I just wanted to repeat my comment from #2847:

[2017-11-17 16:52] nad commented on #2852
I have used `README` modules in several projects, but I avoid "exporting" such modules, because that would lead to name clashes. Perhaps the standard library does not need to expose a module called `index.agda`.

[2017-11-17 17:34] andreasabel commented on #237
No, this bug was fixed by not going through abstract syntax when checking `rewrite`.  The problem was that Agda produced code for itself it wanted to type-check, but failed due to with-applications.

Now, Agda only fails on with-applications that the user tries to write.  That is another issue, see #2839.  Please discuss the feature request there.

[2017-11-17 17:34] #237 closed, assigned to nobody

[2017-11-18 09:36] andreasabel commented on #2853
Let's keep it open. I did not find a duplicate of this issue (although Auto might be broken for 4 years already).

[2017-11-18 11:48] ice1000 commented on #2853
:fearful:

[2017-11-18 11:57] jespercockx commented on #2853
Maybe we should advertise an open position? Wanted: Haskell developer willing to refactor and/or build from scratch a proof search algorithm for a dependently typed programming language (Agda). Payment: honorary membership of the Agda development team, free tickets for the next 10 AIM's*, Agda t-shirt and coffee mug**.

(*) travel, accomodation, and food not included.
(**) once we decide on a logo

[2017-11-18 12:02] ice1000 commented on #2853
Shouldn't `Auto` be just combination of some other keys? (I've read this on [learnyouanagda](http://learnyouanagda.liamoc.net/pages/proofs.html#how-does-this-all-relate-to-agda)

[2017-11-18 16:41] andreasabel commented on #2853
The more relevant chart can be maybe found here: https://github.com/frelindb/

[2017-11-19 09:26] ice1000 commented on #2853
Can I make the search time longer? @andreasabel

[2017-11-19 12:30] identicalsnowflake commented on #2853
I wonder how viable it would be to do this through Agda's reflection API instead of making it a built-in Agda command?

[2017-11-19 15:16] UlfNorell commented on #2853
@ice1000: You can change the timeout to `N` seconds by writing `-t N` in the hole before invoking Auto. Although, I would be surprised if you could find a problem that can be solved in 5s, but not in 1s.

@identicalsnowflake: The use cases are slightly different. I occasionally use Auto in cases where there are multiple type correct solutions, so manual inspection of the solution is required. See

[2017-11-19 16:04] identicalsnowflake commented on #2853
@UlfNorell That paper was half of what I had in mind, actually! Another thing that could be promising for propositional equality proofs on inductive data types (and maybe more?) is simply performing a supercompilation pass and tracing the equality proof each step of the way. The nice thing about this approach is it has some principled direction and predictability to it, both from a developer and u

[2017-11-19 17:45] andreasabel opened #2854 "Agda worries about possibly empty type of sizes even when no builtins for size are active"
[code]

[2017-11-19 19:35] #2854 closed, assigned to andreasabel

[2017-11-19 19:45] andreasabel commented on #2854
Fixed. Check for non-empty type of sizes only if SIZELT is bound.

[2017-11-20 01:21] ice1000 commented on #2853
@UlfNorell Thanks! :+1:

[2017-11-20 21:46] #2845 closed, assigned to Saizan

[2017-11-20 22:36] #2846 closed, assigned to Saizan

[2017-11-21 12:50] jespercockx opened #2855 "Single-clause definition is both unreachable and incomplete"
I'm not entirely sure what's going on here, but I'm quite certain it's not what *should* be happening.
[code]
Error messages:
[code]

[2017-11-21 12:57] jespercockx opened #2856 "Panic: unbound variable"
It seems Agda is not very well equipped to handle dot patterns in nonstandard positions.
[code]
Error message:
[code]
What's interesting is that in the first example, the error location is on the dot pattern `.z`, while in the second one it is on the *variable pattern* `z`.

[2017-11-21 13:05] ice1000 commented on #2855
If you don't pattern match on `a`/`b`, it will work. Maybe it's a bug of exhaustiveness check.

[code]

[2017-11-21 15:07] andreasabel commented on #2856
Worked fine with 2.5.2, which reports:
[code]

[2017-11-21 15:17] andreasabel commented on #2855
This was <= 2.5.2's answer:
[code]

[2017-11-21 15:28] jespercockx commented on #2856
Except that this shouldn't really be an error, or?

[2017-11-22 16:17] yanok commented on #2490
I'm not sure it's the same bug, but it seems to be related to the instance lookup too. This seems to never terminate with the type checking:

[code]

it type checks if I specify instance argument explicitly for the recursive `vtr` call.

PS. Also I had to eta-expand `vtr`, is it how it's supposed to work with instance arguments?

[2017-11-22 20:52] andreasabel commented on #2856
No. It should be able to instantiate `z` to `zero`.
So, it did not work fine; only failed more gracefully.

[2017-11-25 08:17] ivanperez-keera opened #2857 "Compiling from command line: missing modules"
Compiling [Hello.agda](https://github.com/pigworker/MetaprogAgda/blob/master/Hello.agda) with Agda version 2.5.3 gives the following errors:
[code]

[2017-11-25 08:21] ivanperez-keera commented on #2857
Just a problem with sandboxes. Can be solved with cabal flags. Closing.

[2017-11-28 10:44] gallais opened #2858 "Feature request: Interleaving mutually-defined functions & datatypes"
It's quite common in papers to see proofs of multiple statements by mutual induction. And it is also quite common to see all of the base cases dealt with in one go, and then all of the similar induction cases too. It'd be nice if Agda allowed this kind of didactic presentation. E.g. in normalisation by evaluation:

[code]

Similarly for inductive types:

[code]

This could apply to IR too, I suppo

[2017-11-28 16:29] andreasabel commented on #2858
Yes, but then with a `constructor` keyword, please.

[code]
This can would then also work for Even/Odd:
[code]

[2017-11-28 21:20] m0davis commented on #2858
What about inferring whether a type declaration is intended as a constructor or a function by checking whether it is eventually (in the same module) given a definition? The Even/Odd example then becomes even simpler:
[code]

[2017-11-28 21:30] jespercockx commented on #2858
That'd potentially lead to unexpected effects when you really did forget to give an implementation to a function, though.
[code]
Now suddenly `Even-suc-suc` becomes a constructor of `Even`!

I think Andreas' proposal makes more sense and also works better with the syntax we already have for `postulate`.

[2017-11-28 22:48] mjustus commented on #2760
I had a look at the instance search code and, as far as I can tell, instance resolution is aborted because of a [check](https://github.com/agda/agda/blob/c84e4a3a2d861db7260e0fb05dc7c18d3cbd36b0/src/full/Agda/TypeChecking/InstanceArguments.hs#L150) introduced in c84e4a3a2d861db7260e0fb05dc7c18d3cbd36b0 by @guillaumebrunerie in order to prevent certain collections of candidate instances from causin

[2017-12-01 09:41] gallais commented on #2815
We need to be a bit careful: by default if something runs for more than 10 minutes without outputting anything, the job is killed. We need to explicitly mark these commands with `travis_wait`.

[2017-12-01 16:51] gallais commented on #2749
Next up: getting rid of the indices introduced by pattern-matching (this happens in another module entirely IIRC).

[2017-12-01 17:04] andreasabel opened #2859 "Error "pattern variable shadows constructor" caused by parameter refinement"
[code]
reports
[code]
The error location is the module parameter `c` rather than the pattern variable `c`.

Location is still correct in 2.5.1.1.

[2017-12-01 17:59] andreasabel commented on #2859
In fact, this is a regression introduced by parameter refinement.  It affects every single definition by pattern matching in a module where you shadowed a constructors by a module parameter.
[code]
Since parameter refinement, internally this is
[code]
and Agda does not like the fact that pattern variable `c` shadows constructor.

I am fixing this simply by not doing the shadowing-check for system-

[2017-12-01 18:32] andreasabel commented on #2749
Something is wrong with `test/interaction/Issue2749`.
It seems to have the wrong module name `asciionly` instead of `Issue2749`.

[2017-12-01 18:34] #2859 closed, assigned to andreasabel

[2017-12-03 05:55] asr opened #2861 "Migrate internal-tests test suite into agda-tests test-suite"
Right now we have two cabal test-suites `agda-tests` and `internal-tests`. Since `agda-tests` is more functional, I'm working in migrate `internal-tests` into `agda-tests`.

So far the only drawback will be that we won't can to use `$quickCheckAll`, that is, the names of the QuickCheck properties must be added manually.

Are you agree in the migration with the above drawback?

[2017-12-03 14:06] andreasabel commented on #2861
Could you elaborate a bit more on the situation, what are the advantages of fusing these two test-suites that compensate the extra maintenance effort?

Also, recently, I came across the `doctest` package at https://hackage.haskell.org/package/doctest-0.13.0.
This tool allows to extract and run test cases embedded in haddock comments.  I also supports quickcheck.  One can specify the properties usi

[2017-12-03 16:02] andreasabel commented on #2826
Turns out this was indeed the case.

[2017-12-03 16:02] #2826 closed, assigned to andreasabel

[2017-12-03 16:04] andreasabel commented on #2803
Ok, then I leave it to you @jespercockx

[2017-12-04 08:26] phile314 commented on #2815
Another reason for always printing everything was that we still get the intermediate output if the test runner crashes itself (e.g. out of memory, kill by travis, bugs, etc.). However, I agree that the output is too long and it is harder than it should be to see the test errors.

[2017-12-04 15:21] m0davis opened #2862 "inconsistency from a mutual datatype declaration and module definition"
There's a problem with Agda allowing the definition of a (not-really-)mutually-defined datatype in a submodule to where it is declared. The following does not typecheck in `Agda 2.5.3`, but does so in the latest on master, `Agda version 2.6.0-d6d140c-dirty`.

[code]

[2017-12-04 18:20] andreasabel commented on #2815
Maybe there is a middle ground where the test runner, as long as tests are succeeding, prints a status every `n` tests (configurable). Then we could choose a suitable `n` for travis.

[2017-12-04 18:28] andreasabel commented on #2862
That could be a regression introduced by me via ada3a6d3948451386b8a50a4e70c284fe1af0b93 when addressing #2576.
Code which was rejected by `Syntax.Concrete.Definitions` now makes it to the scope checker, who does not check that a definition is not in a different module than its signature.

[2017-12-04 19:00] andreasabel commented on #2862
Here is the `record` analogue:
[code]
Wow, not sure we had such a simple exploit recently, certainly not using the scope checker!

I am fixing this by adding a check to scoping that the definition is in the same module as the signature.

[2017-12-04 19:19] andreasabel commented on #2576
Introduced regression #2862.

[2017-12-04 19:27] #2862 closed, assigned to andreasabel

[2017-12-04 19:33] andreasabel opened #2863 "make up-to-date-std-lib fails"
I currently cannot run the library-test suite, because:
[code]
returns
[code]
For me, this is both on `stable-2.5` and on `master`.

@UlfNorell : any clue what to do about it?

[2017-12-04 20:18] andreasabel commented on #2749
I think you introduced a bug in the printer:
[code]
Now `C-c C-x C-h C-c C-c RET` (split on result adding also hidden arguments) produces
[code]
and error
[code]
The problem is that `⦃A⦄` is a single identifier, it should be printed as `⦃ A ⦄`.

On a related note:  Can the choice of the user (non-unicode instance brackets) be respected here?  (Would require tracking some bit from the lexer all the

[2017-12-05 06:23] UlfNorell commented on #2863
Try `git fetch`? If that doesn't work nuke your std-lib directory and retry. The commit certainly exists: https://github.com/agda/agda-stdlib/commit/aaa04c9a6b7ab787eb30ccc0cd5e1604470a6eb6.

[2017-12-05 06:23] phile314 commented on #2815
By the way, I just discovered that travis can fold log sections if they are marked with a begin/end marker:
https://github.com/travis-ci/travis-ci/issues/2285

I will take a look if I can shorten the output of tasty-silver, but it may take some time until I get round to it.

[2017-12-05 09:48] gallais commented on #2749
Thanks for fixing the golden value!

That's the command I was looking for! I was trying to write a test using `C-c C-r` to introduce a lambda binding the instance argument but Agda would systematically ignore it.

Was this choice made so that `⦃` and `⦄` wouldn't be reserved characters? I'll replicate the current behaviour but it would be nice to have a uniform treatment of `(`, `{` and `⦃`.

I'd

[2017-12-05 11:06] asr commented on #2863
Note that this commit hasn't associated any branch.

[2017-12-05 13:52] UlfNorell commented on #2863
The reason is that @MatthewDaggitt rebased/cherry-picked the commit instead of merging when accepting the PR, so it's https://github.com/agda/agda-stdlib/commit/be4f3bf6aaed0ba2f4b0a3193084a41e02476e36 on the master branch. If all else fails you could changed the submodule pointer to that commit instead.

[2017-12-05 14:17] nad commented on #2749
Please include some text in the changelog and reference manual.

[2017-12-05 16:15] andreasabel commented on #2863
Neither of these changes the error.

I am moving the `std-lib` submodule to https://github.com/agda/agda-stdlib/commit/be4f3bf6aaed0ba2f4b0a3193084a41e02476e36 .
If this is wrong, please move to the correct commit, but not back to https://github.com/agda/agda-stdlib/commit/aaa04c9a6b7ab787eb30ccc0cd5e1604470a6eb6 .

[2017-12-05 16:24] andreasabel commented on #2749
Yes, you can still use decorations of these braces for your own identifiers.  Note that a similar choice was made for unicode lambda.
[code]

[2017-12-05 16:29] #2863 closed, assigned to andreasabel

[2017-12-05 17:05] MatthewDaggitt commented on #2863
@UlfNorell my deepest apologies that it was my fault. What did I do wrong so I know how to avoid it in future? I assume it happened while merging https://github.com/agda/agda-stdlib/pull/182, but all I did was hit "Squash and merge" as usual...

[2017-12-05 17:25] mietek opened #2864 "JS backend does not support --no-main"
Looks like a simple omission.

[2017-12-05 17:32] mietek commented on #2864
Sorry, I guess this was already fixed in the current version of the code.

[2017-12-05 17:32] #2864 closed, assigned to nobody

[2017-12-05 19:37] UlfNorell commented on #2863
You didn't do anything wrong. The problem was that we were pointing the stdlib submodule in the Agda repo to the commit in the PR, and this became a dangling commit when you merged and the PR branch got deleted. People, like Andreas, who hadn't fetched the standard library before the merge, couldn't then get to that particular commit.

The right move is to do what @andreasabel did and change the p

[2017-12-06 12:23] #2749 closed, assigned to gallais

[2017-12-07 08:36] andreasabel commented on #2863
Thanks for the explanation, now I understand what the problem was.

[2017-12-08 18:48] Oinkium opened #2865 "Could it be possible to reorder the occurrences of variables in mixfix declarations?"
At the moment, a mixfix declaration reads from left to right, and is treated the same way as a function.  This causes problems, because the dependent type theory imposes constraints on the order in which variables can occur, and these might not correspond to the desired order for the operator.

For example, suppose I wanted (for aesthetic reasons) to display a function as an arrow between types:
[

[2017-12-08 18:58] andreasabel commented on #2865
You can use the "syntax" facility:
[code]

On 08.12.2017 19:48, Oinkium wrote:

--
Andreas Abel  <><      Du bist der geliebte Mensch.

Department of Computer Science and Engineering
Chalmers and Gothenburg University, Sweden

andreas.abel@gu.se
http://www.cse.chalmers.se/~abela/

[2017-12-08 18:59] #2865 closed, assigned to andreasabel

[2017-12-08 18:59] Oinkium commented on #2865
Thanks for this - should have done more research before opening the issue.

[2017-12-08 19:01] andreasabel commented on #2865
The Agda list is your friend.

[2017-12-13 18:49] andreasabel opened #2867 "Give does not insert parenthesis for module parameters"
[code]
Here I would expect `M (F A)`, but I get `M F A`.

[2017-12-13 19:02] andreasabel commented on #2867
Fixed by in `ConcreteToAbstract` by using `toAbstractCtx`.

[2017-12-13 19:02] #2867 closed, assigned to andreasabel

[2017-12-13 19:06] andreasabel commented on #2857
Ah, ok.  What is the solution?  (To inform the posterity.)

[2017-12-13 19:32] andreasabel opened #2868 "With --postfix-projections, record fields are printed preceded by a dot when working within the record"
[code]

[2017-12-14 12:37] xekoukou opened #2869 "Same name in function type does not return an error."
Shouldn't this return an error?

[code]

[2017-12-14 14:40] ice1000 commented on #2869
Maybe it's just a kind of shadowing.

[code]

This code checks, seems that same name doesn't mean they should be the same.

[2017-12-15 07:31] andreasabel commented on #2869
Sometimes it is convenient to allow this kind of shadowing, e.g.:
[code]

[2017-12-15 07:55] andreasabel opened #2870 "Lexical error for \- (hyphen)"
[code]
This reports a lexical error.  I think the error message should be more user-friendly.

[2017-12-15 08:10] andreasabel opened #2871 "Introduce just trailing hidden arguments by result splitting"
Result splitting to just introduce hidden arguments does not work (as they are introduced internally already):
[code]

[2017-12-15 08:32] ice1000 commented on #2869
I think this should be closed.

[2017-12-15 08:43] andreasabel commented on #2869
Duplicate of #2284.

[2017-12-15 08:43] #2869 closed, assigned to nobody

[2017-12-15 11:58] Zalastax opened #2872 "Case splitting adds a dot in front of pattern matches on Chars"
When pattern matching on a Char, the split adds a dot that should not be there.

[code]

Splitting on foo-ls results in this:

[code]
Resulting in this error:
[code]

[2017-12-15 12:16] UlfNorell commented on #2870
What's special about hyphen? Why should it be an error at all?

[2017-12-15 13:52] andreasabel commented on #2870
I am not sure.  Maybe it is not printed unless it is at the end of the line (speculating), thus, it could be confusing to allow it in identifiers.  As you can see, it is not printed by github (or it did already not survive the copy-paste).

The reason I got this error is because I typed `\ -` by accident when I wanted to type `-`, and then was a bit surprised to get a lexical error.  I don't mind

[2017-12-15 13:57] andreasabel commented on #2872
I confirm.  But let's wait how this is handled after @jespercockx big refactoring #2866 is in place.

[2017-12-15 14:43] jespercockx commented on #2872
This is not fixed by my refactor, but the problem seems to be a omission of a case for literals in the `displayLHS` function in `InternalToAbstract`.

[2017-12-15 21:35] m0davis opened #2873 "Refinement problem in presence of overloaded constructors"
I am running into a problem where `agda2-refine` is reporting `Cannot refine` when I would have expected it to work.

[code]

In the code above, note that the `public` declaration allows refinement to go through.

For what it's worth, the problem began for me when using the `agda-prelude` in the following code:

[code]

I found a workaround in the following manner:

[code]

[2017-12-16 08:33] andreasabel commented on #2873
It fails even if you put the ambiguous constructor `_::_` in the hole and then ask Agda to refine.
For some strange reason, some arbitrary disambiguation happens when Agda tries to give `(_::_) ? ?`:
[code]
Somehow some wrong disambiguation happened here.

[2017-12-16 08:51] andreasabel commented on #2873
Not so mysterious anymore given https://github.com/agda/agda/commit/3c6e42fe4b8a133b3c4deab8f24308c15d078bca introduced an indirection which would print to concrete syntax and scope-check back to abstract syntax.  Yeah, that does not fly.  Especially not with ambiguous constructors.

[2017-12-16 09:22] andreasabel commented on #737
I am afraid the solution taken in https://github.com/agda/agda/commit/3c6e42fe4b8a133b3c4deab8f24308c15d078bca does not work, since concrete syntax does not faithfully represent ambiguous constructors, see regression #2873.

I reverted the code introduced in the mentioned commit, which reopens this issue.

[2017-12-16 09:26] andreasabel commented on #2873
Ok, I am fixing this regression by reverting the code introduced in https://github.com/agda/agda/commit/3c6e42fe4b8a133b3c4deab8f24308c15d078bca . This leaves #737 broken, unfortunately.

[2017-12-16 09:26] #2873 closed, assigned to andreasabel

[2017-12-16 10:05] andreasabel commented on #2868
Small test case:
[code]

[2017-12-16 11:00] andreasabel commented on #2868
It works for prefix projections because the name of the record variable inside the declaration is "" (the empty string).  Thus, the internal term `a @0` is printed as `a` followed by the empty string which is what we expect.  This hack breaks when we print projection postfix: empty string followed by `.a`.
There is a workaround: use prefix projections if projecting from a variable with empty name.

[2017-12-16 11:06] #2868 closed, assigned to andreasabel

[2017-12-16 11:12] andreasabel commented on #2870
[code]
Apparently, hyphen is a non-printable character.

[2017-12-16 11:40] #2870 closed, assigned to andreasabel

[2017-12-16 11:43] andreasabel commented on #2870
Added a slightly nicer error message.

[2017-12-16 15:13] xekoukou opened #2874 "Internal error in src/full/Agda/TypeChecking/Coverage/Match.hs:312"
Trying to case split on ```eq``` [here](https://github.com/xekoukou/sparrow/blob/7211b25a7744d0b5af6d6b4ad6bacfea08a6501e/agda/SetLLProp.agda#L161) results in an internal error in the above location.

Replacing ```eq``` with ```()``` typechecks. I assume that error is in the case split itself.

This is the aforementioned function :
[code]

The context in the hole is this one :
[code]

My agda vers

[2017-12-16 16:24] #2871 closed, assigned to andreasabel

[2017-12-18 13:16] andreasabel commented on #2871
Now, if result splitting is not possible, and there are trailing variable patterns which are not `UserWritten` yet, they will be marked as `UserWritten` (and subsequently added by the reload).

[2017-12-18 13:17] andreasabel commented on #2874
@jespercockx : Does PR #2866 fix this issue?

[2017-12-18 13:47] jespercockx commented on #2874
Yes! With my version `eq` is replaced by an absurd pattern.

[2017-12-18 13:53] ice1000 commented on #2874
Maybe an off-topic question but I don't know where to ask: when will Agda 2.5.4 out? Just curious :sweat_smile:

[2017-12-18 21:11] andreasabel commented on #2874
I think we should aim for a pre-AIM release, where the next AIM is 28 Jan - 3 Feb in Budapest.

[2017-12-18 21:12] andreasabel commented on #2874
@jespercockx : So we can justify an early merge of your PR #2866 as fix for #2874. ;-)

[2017-12-18 21:29] andreasabel opened #2875 "Release Agda 2.5.4"
I think we should aim to release Agda 2.5.4 before the next Agda's implementor's meeting.  What do you think?

[2017-12-19 01:08] MatthewDaggitt commented on #2875
Not quite on topic, but I would be happy to do a standard library release around then. There are definitely some useful things now included that should go out.

[2017-12-19 07:49] UlfNorell commented on #2875
Sounds like a plan.

[2017-12-19 10:00] nad commented on #2870
I suspect that @andreasabel used U+00AD SOFT HYPHEN, not U+2010 HYPHEN.

[2017-12-19 10:11] andreasabel commented on #2870
Well, what ever one gets in Agda input mode when typing `\ -`.

[2017-12-19 13:31] asr commented on #2875
When we are ready, I can make the releases (candidate and final).

[2017-12-19 14:55] nad commented on #2870
You can get both U+00AD SOFT HYPHEN and U+2010 HYPHEN.

[2017-12-19 15:02] asr commented on #2875
I created the 2.5.5 milestone. Please start to relabel the open issues which won't be fixed in 2.5.4.

[2017-12-19 16:30] xekoukou commented on #2875
I wish issue #2839 makes it in release 2.5.4.

[2017-12-19 17:33] vlopezj opened #2876 "Overzealous pruning (reprise)"
Previously: https://github.com/agda/agda/issues/458, https://github.com/agda/agda/issues/1153.

Agda throws away solutions when pruning arguments containing variables of `record Unit` type.
Here are some examples.

[code]

Tested with `Agda version 2.6.0-c284008`. Here is the offending function:
https://github.com/agda/agda/blob/c28400868068f0192bb01e55aed7249330c88d49/src/full/Agda/TypeChecking/M

[2017-12-20 21:43] andreasabel commented on #2876
Related is #2625. The problem is that we have neutral terms of unit type which should be expanded to `record{}` to not be in the way of constraint solving. In MiniAgda, I eta-expanded such terms away, using a technique inspired by NbE (reflection, the up-arrow).
However, I am a bit unsure whether it is worthwhile being correct for the unit type, when these are more theoretical examples and the cos

[2017-12-21 09:10] nad opened #2877 "Confusing error message when overloaded literal is used as pattern"
Overloaded natural number literals do not work in patterns. This is not so strange: `fromNat 4` is not a valid pattern. However, I think that this should be pointed out in the documentation of overloaded literals, and the error message should be improved:
[code]
Confusing error message:
[code]

[2017-12-21 11:42] vlopezj commented on #2876
I wonder: now that Agda has instance arguments... is there a use case for having eta for the unit type?
Apart from backwards compatibility.

Andreas Abel <notifications@github.com> skrev: (20 december 2017 22:43:24 CET)

[2017-12-21 12:48] asr opened #2878 "Support GHC 8.4.1"
Last edit:  2018-03-28

GHC 8.4.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2018-March/015452.html). I created this issue for collecting/reporting the required changes/issues.

Some fixed issues (for the record):

* cabal-install

  `make install-bin` generates the following error (I filed [this](https://ghc.haskell.org/trac/ghc/ticket/14775) GHC issue):

[code]

  The issue was f

[2017-12-21 13:51] nad opened #2879 "Include COMPILE GHC pragmas for size primitives"
The following code can be compiled:
[code]
However, if I try to export `f` under a specific name, then Agda complains:
[code]
[code]

[2017-12-21 13:52] nad commented on #2876
I was thinking along the same lines.

[2017-12-21 14:09] nad opened #2880 "Disallow FFI binding for defined functions when --safe is used"
Should we allow use of the FFI when `--safe` is active? My inclination would be to say no.

[2017-12-21 14:19] UlfNorell commented on #2880
What are you basing that on?

[2017-12-21 17:35] andreasabel commented on #2875
Sorry, but this seems unlikely, there is no PR of fix of this yet.  Once we decided we want to release, we have to concentrate on eliminating regressions.

[2017-12-21 17:41] andreasabel commented on #2876
For a start, you can try to "Keep your Neighbors in Order" with a unit data type instead of record see http://www.cse.chalmers.se/~abela/projects.html#agda

[2017-12-21 18:10] xekoukou commented on #2875
No problem. I was expecting as such.

On Thu, Dec 21, 2017 at 7:35 PM, Andreas Abel <notifications@github.com>
wrote:

[2017-12-22 09:11] nad commented on #2876
I think it would be rather awkward to convert old code. Consider the following example:
[code]
Even if we change Agda so that the code above is accepted I would be reluctant to, say, mark the fields of `Σ` as instance arguments.

[2017-12-22 09:13] nad commented on #2880
The question is whether `--safe` should mean merely "no inconsistencies (other than via bugs)" or also "no segfaults etc.".

[2017-12-22 10:09] andreasabel commented on #2876
Yeah, that's the magic of the "singleton types" check which solves a meta if there is a unique inhabitant. (Not a complete check, but works for records.)

[2017-12-22 13:50] UlfNorell commented on #2880
The FFI doesn't let you cause segfaults etc (other than via bugs). Do you have an example.

[2017-12-22 14:38] nad commented on #2880
From the documentation:

[2017-12-22 14:43] nad opened #2881 "Internal error in BasicOps"
If you load the following code and then try to show the constraints, then an internal error is reported:
[code]
[code]
The following script can be used to trigger the error:
[code]
This is a regression. The error is not present in Agda 2.5.2, but it is present in Agda 2.5.3.

[2017-12-22 16:48] UlfNorell commented on #2880
Right, that particular feature should not be allowed in safe mode.

[2017-12-22 18:55] andreasabel commented on #2881
Sounds very much like #2637.
Apparently the size solver violates some invariants of the constraint / meta store.

[2017-12-23 00:09] nad commented on #2881
Bisection suggests that the bug was introduced by @UlfNorell in a45f5ce064b97a590a090a4921d92906ab34a461, a fix of #2384 (which was later reopened): "[ constraints ] anti-unification when getting stuck checking argument spines".

[2017-12-23 15:37] andreasabel commented on #2879
You get the same error if `Size` is just a postulated `Set`.

You could fix this by replacing some calls to `notAHaskellType` by `return mazAnyType`.

[2017-12-23 18:32] UlfNorell commented on #2879
Levels get special treatment when translating Agda types to Haskell. I guess it would make sense to do the same for sizes?

[2017-12-23 19:42] andreasabel commented on #2879
Yes, indeed.

[2017-12-23 21:19] asr opened #2882 "Use doctest on the internal tests"
@andreasabel [wrote](https://github.com/agda/agda/issues/2861#issuecomment-348772662):

I came across the `doctest` package at https://hackage.haskell.org/package/doctest-0.13.0.
This tool allows to extract and run test cases embedded in haddock comments.  I also supports quickcheck.  One can specify the properties using the `prop>` tag in haddock comments, and doctest runs them.

In general, I th

[2017-12-23 21:32] asr commented on #2861
It seem that using [this](https://github.com/nick8325/quickcheck/pull/192) PR, written by @Lysxia, we could use `quickCheckAll` with the Tasty framework, that is, there would be no an extra maintenance effort. I'm testing the PR.

For discussing about using `doctest` on the internal tests, I created https://github.com/agda/agda/issues/2882.

[2017-12-24 03:42] asr commented on #2861
Blocked by https://github.com/nick8325/quickcheck/pull/192.

[2017-12-27 13:49] gergoerdi opened #2883 ""internal error in TypeChecking/Substitute.hs:379""
With the below module:

[code]

I am getting the following internal error from Agda:

My Agda version is https://github.com/agda/agda/commit/3b39f0f865273553ab0d59d3314b13c3acad3d0d and my stdlib is at https://github.com/agda/agda-stdlib/commit/db160802e15b4661ae86486e7feb68934614b7f0 . I have no other external dependencies.

Note that I've tried to make my file simpler than what it originally was

[2017-12-27 19:58] asr commented on #2617
Done.

[2017-12-27 19:58] #2617 closed, assigned to asr

[2017-12-28 14:09] asr opened #2884 "Missing PDF user manual in the tarball"
I want to to include the PDF user manual in the tarball (from the next release if possible).

[2017-12-28 14:18] asr commented on #2884
From the above commit you can run

[code]

for generating the user manual in PDF:

[code]

[2017-12-29 00:20] asr commented on #2884
I made some small changes, so now running

[code]

generates the user manual  in `doc/user-manual.pdf`.

[2017-12-29 09:17] andreasabel commented on #2884
Thanks, very good initiative, @asr.

[2017-12-29 09:23] andreasabel commented on #2883
@jespercockx This should be tested with #2866.

UPDATE: I tested it with #2866, no difference.  The error points to code introduced for "parameter refinement".

[2018-01-01 17:14] asr opened #2885 "Running LaTeX compilers is required for the LaTeX test suite in Travis"
From the discussion in #1675 we are not running the LaTeX compilers (pdfLaTeX, LuaLaTeX and XeLaTeX) on Travis. On the other hand, some test cases, which *must* fail on the LaTeX compilers, were removed from the LaTeX test suit in a1a83bb because they fail in Travis. An easy fix to include those test cases is run the LaTeX compilers on Travis.

Testing...

[2018-01-01 23:00] asr commented on #1286
The commit 38fdd12be0d11131e0a3db8fa5cc841512d471a6 by @nad returned us to the title of this issue, i.e. "Poor error messages from the LaTeX test suite" (but I understand we need different messages for the *intentional* failing test). In addition, we need the previous error messages because we are planning to run the TeX engines on Travis (see #2885).

[2018-01-02 15:53] asr opened #2886 "LaTeX test suite: Failing test cases and Travis"
Some test cases, which *must* fail on the LaTeX compilers (pdfLaTeX, LuaLaTeX and XeLaTeX), were removed from the LaTeX test suite in a1a83bb because they fail in Travis. The LaTeX test suite should handle this situation.

[2018-01-02 15:58] asr commented on #2885
I'll handle the test cases which must fail on the LaTeX compilers in the test suite (see #2886),

[2018-01-02 15:58] #2885 closed, assigned to asr

[2018-01-03 16:47] andreasabel commented on #2886
Again problems with the latex test suit. ;-) https://figyura.files.wordpress.com/2012/02/figyura_review_shikinami_asuka_langley_06.jpg

[2018-01-03 17:06] asr commented on #2886
Arghhh! Did you change the suit? :-) Fixed.

[2018-01-04 09:03] m0davis opened #2887 "Better error when refine gets stuck on a unification problem"
In the code below, `agda2-refine` reports "No introduction forms found", but remove the `break` constructor and it finds one.
[code]

[2018-01-04 14:43] gallais commented on #2887
The list of potential constructors is obtained by [calling the coverage checker](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/BasicOps.hs#L805)
which returns the list of valid constructors if we were to case-split on a term of
type the goal's.

When the coverage checker returns an error, [`intro` gives up](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Bas

[2018-01-04 16:16] MatthewDaggitt commented on #2732
Don't suppose anyone can suggest a temporary work around for this issue? Some sort of transformation in the examples above that preserves meaning but still gets through? It's causing me a lot of headaches.

[2018-01-04 21:15] jespercockx commented on #2732
A sledgehammer solution would be to use `no-eta-equality` for the record `R`, though this could possibly require rewriting other parts of your code as well.

EDIT: Alternatively, you could try to avoid using `with` and instead write the helper function yourself.

[2018-01-05 10:24] jespercockx opened #2888 "Internal error caused by new forcing translation"
I minimized the example as far as I could:
[code]
Location of the error: src/full/Agda/TypeChecking/Forcing.hs:208

@UlfNorell could you take a look?

[2018-01-05 10:30] jespercockx commented on #2888
This bug is triggered in the code by @nad I was testing with my refactoring, e.g. in http://www.cse.chalmers.se/~nad/repos/codata/:
[code]

[2018-01-05 11:19] andreasabel commented on #2888
@UlfNorell : And while you are at it, please document the `unforce` function (expected inputs, expected outputs), possibly with a representative example.  Thanks.

[2018-01-05 15:38] MatthewDaggitt commented on #2732
Thanks, I'll try that out and see how much it breaks!

Edit: For those who also have this problem, putting the line `no-eta-equality` immediately below the line with `record R` fixed the problem with no other noticeable adverse effects.

[2018-01-07 11:06] UlrikBuchholtz commented on #2761
Another option would be to just have pushouts as a built-in to start with. From these, most other common HITs can be defined, including propositional truncation, and n-truncation for any n. I agree with @martinescardo that we need propositional truncation at a bare minimum.

[2018-01-07 11:11] martinescardo commented on #2761
I agree. But, pragmatically, it would be good to have propositional truncation directly, at least to begin with, because it is a serious formalization effort to derive it from pushouts.

[2018-01-07 11:48] UlrikBuchholtz commented on #2761
Well, I hereby volunteer to do the derivation :)

[2018-01-07 12:45] mjustus opened #2890 "Termination checker stumped by with-abstraction --without-K"
When using `--without-K`, Agda fails to see that the two mutually-recursive functions defined below are structurally recursive. Both enabling `--with-K` as well as replacing the with-abstraction by a helper function make the program pass the termination check.

[code]

[2018-01-07 17:43] #2815 closed, assigned to asr

[2018-01-08 11:04] jespercockx opened #2891 "Agda allows absurd pattern in let binding"
This *probably* shouldn't be allowed, although I don't immediately see what can go wrong.
[code]

[2018-01-08 12:44] jespercockx opened #2892 "'With' should also abstract over the type of stripped dot patterns"
Agda rejects the following reasonable code:
[code]
Error message:
[code]
In the with clause, Agda still thinks that the type of the dot pattern `.y` should be A, but it should be `X` instead.

[2018-01-09 14:42] Saizan commented on #2761
I'm glad there's interest in this, unfortunately I haven't found a good chunk of time to work on this so far.

The current plan is to split `primComp` into a `hcomp` and a `trans` primitive as is done in "cubicaltt/hcomptrans", so that for HITs one would have `hcomp` as a constructor and only have to provide computations for `trans`.

That would enable a fairly general class of HITs to be defined

[2018-01-09 23:06] nad opened #2893 "Display warnings also when an error is encountered"
Consider the following code:
[code]
The syntax declaration above triggers an informative warning:
[code]
Let us now extend the code above with the following definition:
[code]
Now the code is rejected with an error message that, in my opinion, could be more informative:
[code]

[2018-01-10 12:05] UlfNorell opened #2894 "Unifier tries to eta expand non-eta record"
[code]

This causes an internal error at `Agda/TypeChecking/Records.hs:570`. The offending call to `etaExpandRecord` is [here](https://github.com/agda/agda/blob/26a030e14c266f1707b0cc05417cf65be1f19757/src/full/Agda/TypeChecking/Rules/LHS.hs#L186):

[code]

[2018-01-10 12:24] #2894 closed, assigned to UlfNorell

[2018-01-10 13:49] gallais commented on #2474
You'd think it'd be a simple matter of [also looking at `otherAspects`](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Highlighting/LaTeX.hs#L462) and this is what
[I have attempted to do](https://github.com/agda/agda/commit/bc74b3e420fa41ea2df545f89ae43b045ebcf8af) but it turns out that `otherAspects` seems to be empty for `F`.
Which is pretty puzzling given it is properly hig

[2018-01-10 15:05] gallais commented on #2881
Andreas is right. The problem comes from a call to `reify` in [`getConstraints`](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/BasicOps.hs#L538)
which does not expect an `UnBlock (InstV ...)`.

Looking around a bit, this seems relevant ([link](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Constraints.hs#L223)):

[code]

We could either adopt the same fix

[2018-01-12 07:54] UlfNorell commented on #2888
The problem is that the unifier solves the equation `x = tt` by eta expansion instead of by turning `x` into `.tt` (due an unsolved level meta). This should be fine, except `x` is in a forced position so the forcing translation tries (and fails) to move the binding of `x`.

As far as I can see, this is only a problem for (possibly nested) singleton records, so a possible solution would be to do a

[2018-01-12 09:00] UlfNorell opened #2896 "Unifier throws away pattern"
[code]
The unifier throws away the `suc` patterns and returns `foo x y d .(x, y)`. This is fixed by the lhs refactoring in #2866.

If you don't use `n` in the right-hand side you get an "unreachable clause" error on the second clause instead.

[2018-01-12 10:31] UlfNorell opened #2897 "Internal error for local modules with refined parameters"
[code]

The local module `M'` just has the `m` parameter since `n` has been refined. This causes problems when we exit the scope of `M'`.

[2018-01-12 10:47] UlfNorell commented on #2897
You can also prove false:
[code]

[2018-01-12 11:06] UlfNorell commented on #2897
There might be a story on inverting the module parameter substitution that makes sense of this example, but I think the best fix for now is to disallow named where modules if the module parameters have been refined.

[2018-01-12 11:34] fredefox opened #2898 "Suggest replacements for various unicode characters"
Agda should suggest replacements based on similarity of unicode-characters.

When entering a symbol into a hole that is not in scope Agda will suggest replacements based on similar spelling. E.g.:

[code]

I think it would be super helpful if Agda had a notion of which characters from some of the more exotic parts of the unicode-spectrum are similar. I get that it would not be practically possible

[2018-01-12 12:59] gallais opened #2899 "Add a warning for infix notations without corresponding fixity declaration"
I thought about this because of agda/agda-stdlib#207

[2018-01-12 14:49] #2861 closed, assigned to asr

[2018-01-13 09:57] andreasabel commented on #2898
Yes.  Let me grep that for you:
[code]
You find the code involving the edit distance there.  Happy hacking!

[2018-01-13 10:02] andreasabel commented on #2899
Yes, thinkable, but I probably would not want this as the default.  Assigning fixities is this arduous chore I only attack if there is no way to proceed sensibly without. ;-)

[2018-01-13 10:09] andreasabel commented on #2890
This is a known issue, however, I could not find the number.
`peek` passes `--with-K` because there is a heuristics for with-clauses that is unsound `--without-K`.

This specific example, however, passes with increased termination depth:
[code]
The reason is that the with-function is implemented as:
[code]
and to track also argument increase (`suc m`) you need termination depth 2.

I think you mea

[2018-01-13 17:11] mjustus commented on #2890
Thanks for the explanation! I suppose this really is just an instance of #59 (and #238).

Yeah, I could have phrased that a bit more clearly.

[2018-01-15 11:05] nad commented on #2897
Are you sure that anonymous where modules are unaffected by this kind of problem?

[2018-01-15 11:09] UlfNorell commented on #2897
Reasonably sure. The module parameter substitution is only used to insert the module parameter arguments when the user explicitly references a name. Since you can't reference definitions from anonymous where modules it wouldn't be a problem.

[2018-01-15 12:23] sstucki opened #2901 "Regression in positivity checker"
Agda rejects the definition of `TernRel` below with the following error message:

    TernRel is not strictly positive, because it occurs
    in the first argument to N.UniRel
    in the first clause
    in the definition of UniRel, which occurs
    in the type of the constructor c
    in the definition of TernRel.

This used to work in earlier versions of Agda (at least up to version 2.5.1.2). I

[2018-01-15 12:38] UlfNorell commented on #2901
Interestingly, if you replace
[code]
by
[code]
it goes through. Those two should be equivalent, but they are represented differently internally which might be a clue to the problem.

[2018-01-15 12:38] jespercockx commented on #1608
This was fixed by the new unifier.

[2018-01-15 12:38] #1608 closed, assigned to jespercockx

[2018-01-15 12:49] sstucki commented on #2901
Interesting indeed.

I just checked and the same trick works in my project as well. That gives me a workaround for the migration to 2.5.3, but it would still be nice to have a proper fix, I guess :-)

[2018-01-15 13:34] andreasabel commented on #2901
Works still in Agda-2.5.2, fails in 2.5.3.
I am trying a bisect.

[2018-01-15 15:13] andreasabel commented on #2901
Bisecting suggest the regression was introduced by my commit ea711d0a4faa1cc79d1bfdad15a4723f75c5679b
[code]

[2018-01-16 07:35] andreasabel commented on #2901
Why is this commit pointed to?  Well, when termination checking happened before positivity checking, the `UniRel` definition was confirmed by the termination checker to be non-recursive and safe to reduce.  Subsequently, during positivity checking, the call to `UniRel` was normalized away, since the positivity checker normalizes constructor types.

This does not happen any longer, thus, the regres

[2018-01-16 07:44] andreasabel commented on #2901
@UlfNorell wrote:

Excuse me to be confused about the semantics of `open public` still.  Issue #892 is still open.
I remember you saying that `open public` is a scope thing, thus, `N.UniRel` would not even be parametrized by the ternary `R`.  If these are equivalent now, then I my proposed change (#892) for `open public` has finally been implemented!?

[2018-01-16 08:40] UlfNorell commented on #2901
This isn't an `open public` issue. If it makes you less confused replace the open public by
[code]
and `N.UniRel` by `N.MB.UniRel` in the mutual block.

What you tend to get confused about is the difference between `open M public` and `open M args public`. The former is a scope only thing and the latter is sugar for
[code]
and generates proxy definitions (through the module application). Your sugg

[2018-01-16 08:43] UlfNorell commented on #892
I'm closing this again. Reopen with experimental evidence that changing the behaviour of `open public`
- does not require a lot of work updating existing libraries
- does not cause non-trivial performance regressions

[2018-01-16 08:43] #892 closed, assigned to nobody

[2018-01-16 09:30] nad opened #2902 "Case-splitting should not generate patterns containing pattern synonyms"
Consider the following code:
[code]
Now let's define a function from `Bool`:
[code]
In order to avoid some typing, let us use the case-splitting machinery. We end up with the following code:
[code]
This is perhaps not very helpful.

A proper fix to this problem might be to associate certain pattern synonyms to certain type "abbreviations" in a principled way (yet to be designed). In the absence of

[2018-01-16 09:37] UlfNorell commented on #2902
This is a deliberate change. See #2762. Typed pattern synonyms are #2069 (still open).

[2018-01-16 09:55] nad opened #2903 "Sized types machinery does not make use of transitivity?"
Consider the following code:
[code]
Here `accepted` is accepted, but `rejected` is rejected by the termination checker. The corecursive call to `rejected` takes place at size `j₂ : Size< (↑ j₁)`, with `j₁ : Size< i`. Thus `j₂` is strictly smaller than `i` (ignoring `ω`), which suggests that this code should be accepted by the termination checker.

The use of the successor function on sizes does no

[2018-01-16 09:57] nad commented on #2902
Perhaps this is a deliberate change, but I think it is a change to the worse. I think that we should revert this change.

I don't see how typed pattern synonyms would address this problem.

[2018-01-16 10:04] UlfNorell commented on #2902
I suppose you are also suggesting to not use pattern synonyms when printing goals etc.

A compromise might be to add a pragma to declare certain pattern synonyms *write-only*.

@gallais do you want to weigh in?

[2018-01-16 10:51] gallais commented on #2902
I suppose we could abstain when the folding is ambiguous or only one constructor deep?

Edit: note that using a record (a bit like a newtype wrapper) for these defined `Set`s would prevent this.

[2018-01-16 13:09] nad commented on #2902
Yes, unless pattern synonyms were used in user-written code.

The point of defining the types in this way is to make it possible to use library functions defined for the binary sum type without any syntactic overhead.

[2018-01-16 13:23] nad commented on #2902
Consider the following code:
[code]
Now let's define a map function for lists. After repeated case-splitting I end up with the following code:
[code]
Your suggested fix would not address the problem with the `leaf` synonym.

[2018-01-16 14:01] andreasabel commented on #2901
Right.

One conjecture on what makes the difference is this: When using `open M' public`, the positivity checker is /not/ run for the definitions that are added to the module.  When writing the definition `UniRel = M'.UniRel`, the positivity checker /is/ run for this definition.  Thus, the `argOccurrences` are less precise in the former case.

However, maybe the positivity information gets rather

[2018-01-16 14:04] nad opened #2904 "No tab completion for GHCNoMain"
@UlfNorell, you removed "GHCNoMain" from `agda2-backends` (3bc19b0c998bf320375c7d8b064eb34fa836870a). This means that there is no tab completion for this variant of the GHC backend, even though the backend still exists. Was this an intended change?

[2018-01-16 14:05] UlfNorell commented on #2902
Unless you define the `nil` pattern synonym...

There are basically two kinds of pattern synonyms:
- ones used to make heavy encoding schemes more palatable (discussed here)
- ones used to make common patterns for particular data types nicer

For the former, printing pattern synonyms causes weird results as shown here, but for the latter you absolutely want them to be printed in goals and case spl

[2018-01-16 14:07] nad opened #2905 "Missing backends in list of installed backends"
If a non-existing compiler backend is chosen, then the Emacs mode prints "installed backends: GHC, JS". However, there are more, at least the following ones: LaTeX, QuickLaTeX, GHCNoMain. Have I missed any? Is there a reason for not including these backends in the list of backends that is printed?

[2018-01-16 14:12] nad commented on #2902
What kind of examples do you have in mind? I can think of examples involving equality, using `refl` in the pattern synonyms.

Perhaps the write-only mode should be the default.

[2018-01-16 14:15] gallais commented on #2902
We now have this example in the standard library following my refactoring of Data.AVL: https://agda.github.io/agda-stdlib/Data.AVL.Height.html#349

The changes are completely transparent from the user's point of view thanks to pattern re-folding. Edit: [what used to be](https://github.com/agda/agda-stdlib/commit/f6ae4f7ffe70e9f3f9c028fe341f7af91439d3a3#diff-8e2458aa58cbbc3500f1b6fa16db3263L92)

[2018-01-16 14:25] nad commented on #2902
If you import `Data.AVL.Height`, but also use `Fin` directly, then you may not want to use these synonyms. Thus this is, in my opinion, not an example where it is clearly better to use the synonyms.

[2018-01-16 14:28] nad commented on #2902
I suggest that, if we decide to use a pragma, then the default should be the old behaviour, to minimise "breakage" of existing code (not type errors, but weird behaviour when people build on that code).

[2018-01-16 14:32] nad opened #2906 "Confusing "cannot be translated to a Haskell type" error message"
Consider the following code:
[code]
If I try to compile this code, then I get the following error message:
[code]
This looks strange to me. If the pragma is removed, then the type is compiled to a Haskell type.

See also #2879.

[2018-01-16 14:36] #2834 closed, assigned to jespercockx

[2018-01-16 14:36] #2850 closed, assigned to jespercockx

[2018-01-16 14:56] asr commented on #2905
HTML.

[2018-01-16 15:01] nad commented on #2879
So, how should sizes be translated? The `Level` type is translated to the unit type (`()`), and I guess we could do the same for the `Size` type, but what about the operations? It seems to me as if certain level expressions are translated to `()`. What part of the code performs this translation?

[2018-01-16 16:37] nad opened #2907 "Unnecessary normalisation?"
Consider the following code:
[code]
The last expression triggers a stack overflow on my machine. I defined `X = Box X` to make sure that reduction of `X` to WHNF should not be problematic, so it seems to me as if Agda tries to normalise `X`. However, there is no need to normalise `X` here. Is Agda too strict?

I seem to recall reporting something similar in the past, but I failed to find any such

[2018-01-16 16:58] nad opened #2908 "primForce is compiled away"
The reference manual [states](http://agda.readthedocs.io/en/v2.5.3/language/built-ins.html#strictness) that "`primForce e f` is compiled (by the GHC backend) to `let x = e in seq x (f x)`". However, that is not the case for the following code:
[code]
This code is compiled into a `seq`-free program that terminates quickly.

[2018-01-16 17:41] nad opened #2909 "Agda uses newtypes incorrectly, causing wellformed programs to loop"
Consider the following code:
[code]
The resulting program should terminate quickly. However, the GHC backend uses newtypes to compile the two record types, and the resulting program prints `<<loop>>`.

It seems as if the problem is that the compiler treats record types as being inductive. Note the two occurrences of `Inductive` below:
https://github.com/agda/agda/blob/a3c5c4340a2683c7ed5d445bacf3d

[2018-01-16 17:50] nad commented on #2909
For some reason the `R` type is compiled using `data` if `Box` is removed:
[code]
Compiled type:
[code]
Does Agda somehow detect that this type is isomorphic to the unit type?

[2018-01-16 18:24] nad commented on #2909
Here is a related problem. The following program also prints `<<loop>>` when compiled using the GHC backend:
[code]
The problem here is that both `D` and `∞` are compiled to newtypes.

[2018-01-16 18:51] nad commented on #2909
Currently there is a special case for `∞` in the compiler:
https://github.com/agda/agda/blob/a3c5c4340a2683c7ed5d445bacf3d3bf4aad0ca5/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L273-L287
This code suggests that `∞` is compiled to (roughly) `type Tn a0 a1 = a1`. However, the actual output is (roughly) `newtype Tm = Cn AgdaAny`. This suggests to me that the special case is never triggered, and testi

[2018-01-16 18:59] nad commented on #2909
The changelog contains the following text:

As far as I can tell the standard library [still relies](https://github.com/agda/agda-stdlib/blob/bb0d16eee8caa9fad1c6b60a1d27a2cabfd24dda/src/Data/Colist.agda#L42-L47) on this property of `∞`.

[2018-01-16 19:17] UlfNorell commented on #2908
It *is* compiled to `let x = e in seq x (f x)`, but in your case the `seq` is then optimised away since it's pointless. Do you have an example where the compiler is actually doing something bad?

[2018-01-16 19:22] UlfNorell commented on #2906
This has nothing to do with the empty type. The compiler is complaining that `D` doesn't correspond to a non-generated Haskell type. It sensibly refuses to generate Haskell exports whose types contains generated names. If you actually explain which user-friendly Haskell type you want for `D` there's no problem:

[code]

[2018-01-16 19:36] nad commented on #2909
Here is another example that leads to `<<loop>>`:
[code]

[2018-01-16 19:38] nad commented on #2909
I'm not quite sure how to handle the `INFINITY` builtin, because if this builtin is no longer compiled to "nothing", then we get the following problems:

* The `Colist` type in the standard library is no longer compiled to Haskell lists, and some of the IO bindings in the standard library use colists. This can be fixed by including functions that translate between the different representations, bu

[2018-01-16 20:13] nad commented on #2906
I didn't claim that this problem is restricted to the empty type. My problem is that the error message states that a type that Agda knows how to translate to Haskell cannot be translated to Haskell. The error message would be more helpful if it stated that Agda refuses to compile `f` with a user-specified name because its type contains one or more compiler-generated (and thus unstable) names (assu

[2018-01-16 20:24] nad commented on #2908
In what sense is it pointless? Please include this information in the documentation. Note that if you only care about the denotational semantics of the generated code, then `seq` can *always* be removed (ignoring `--no-termination-check`, bugs, the FFI, etc.).

Note that `f zero = f zero`: the code above should not terminate (successfully).

[2018-01-17 06:42] UlfNorell commented on #2908
The use case for `primSeq` is to control evaluation order, improving the memory profile of a program. In your case the term you `seq` on isn't used so forcing its evaluation will not improve anything.

Do you have an example where this information would actually help a user? I'm reluctant to maintain documentation for all the optimisation passes in the compiler.

The compiler gives no promises abo

[2018-01-17 06:48] UlfNorell commented on #2901
Not sure what you mean.. In what sense are they not equivalent?

The problem, as you noted, is most likely that the module application doesn't preserve (or recomputes) the arg occurrences.

[2018-01-17 06:54] UlfNorell commented on #2904
Ideally, I'd like to get rid of the `GHCNoMain` backend and just have the ordinary `GHC` backend handle the no-main case as well. If the loss of tab completion pains you feel free to put it back until that happens.

[2018-01-17 07:02] UlfNorell commented on #2879
https://github.com/agda/agda/blob/c2bf416f57f73594129141a105d35bd1c79ab7d1/src/full/Agda/Compiler/ToTreeless.hs#L400

[2018-01-17 07:04] UlfNorell commented on #2906
Can we please not tag "this error message could be more helpful" with the `bug` tag?

[2018-01-17 07:09] UlfNorell commented on #2906
That's what the title suggests...

You get the same error for foreign imports:

[code]

[2018-01-17 08:45] UlfNorell commented on #2907
The culprit is `expandProjectedVars`:
https://github.com/agda/agda/blob/c2bf416f57f73594129141a105d35bd1c79ab7d1/src/full/Agda/TypeChecking/MetaVars.hs#L1008

@andreasabel: is normalisation necessary here?

[2018-01-17 09:57] andreasabel commented on #2907
Yes, we need to normalized meta arguments in the hope they become a variable, such that we can abstract.

I think that normalization was done even before this enhancement, see this comment:
https://github.com/agda/agda/blob/c2bf416f57f73594129141a105d35bd1c79ab7d1/src/full/Agda/TypeChecking/MetaVars.hs#L623-L627

I am not claiming this could not be done smarter.  For instance, one could have metho

[2018-01-17 13:40] gallais opened #2910 "HTML testing: allow golden values for imported modules"
It seems to me that it is currently impossible to test that an *imported*
module is rendered correctly. In #2895 I have had issues with getting
unsolved metas highlighted in imported modules but not in the toplevel
one. The ability to add a test case for this would be useful.

[2018-01-17 13:56] UlfNorell opened #2911 "Inferring missing instance clause panics in refined context"
[code]

[code]

[2018-01-17 16:22] Saizan commented on #2761
So, I decided I would actually go for the quick solution first and provide pushouts as a builtin:

https://github.com/Saizan/cubical-demo/blob/master/src/Cubical/PushOut.agda
https://github.com/Saizan/cubical-demo/blob/master/examples/Cubical/Tests/PushOut.agda

Will you then derive prop. truncation, @UlrikBuchholtz ? :)

[2018-01-17 17:08] nad commented on #2908
I had expected the program above to fail to terminate, so clearly the current documentation is not sufficient for me. The current explanation suggests to me that Agda preserves the denotational semantics of a Haskell expression involving `seq`, but that is not the case.

Does Agda verify that thunks that are thrown away are not aliased? Forcing of aliased thunks is used in some of Chris Okasaki's

[2018-01-17 17:14] nad commented on #2906
I see this as a bug related to error-reporting, but I don't really care. I don't use the bug tag when searching for issues, I guess it is mainly used for statistics.

Anyway, I'd prefer a less confusing error message, and I don't know what the rules are, so it's not so easy for me to fix this myself.

[2018-01-17 17:21] nad commented on #2907
The code that led me to report this issue contains an expensive but terminating piece of code, but I prefer non-terminating code in this kind of test case for two reasons:
* The code tends to be shorter.
* The code tends to be easier to test, there is no need for, say, a carefully tuned timeout value.

[2018-01-17 17:26] martinescardo commented on #2761
@UlrikBuchholtz , I am waiting for the truncations now. :-)

When this is done, I will attempt to port a 10000 line Agda development which uses truncation, funext and propext and UA as assumptions.

[2018-01-17 17:40] #2904 closed, assigned to nobody

[2018-01-17 17:50] nad commented on #2909
Given that `primForce` does not have the semantics I thought it had (#2908), the test cases that I have provided should perhaps be modified in some way, to make them stable under compiler optimisations. One option might be to use the FFI and `seq`.

[2018-01-17 18:02] andreasabel commented on #2907
We could still have a special `try-to-normalize-and-eta-contract-to-a-variable-or-projection-thereof` function that would abort normalization early if there is no hope to arrive at the eta-expansion of a variable or projection.

[2018-01-17 19:03] #2474 closed, assigned to gallais

[2018-01-17 20:52] martinescardo commented on #2761
Many thanks, @Saizan !

[2018-01-17 21:38] UlrikBuchholtz commented on #2761
Yes, many thanks @Saizan !

@martinescardo I'll let you know when the truncations are there.

[2018-01-17 21:41] martinescardo commented on #2761
Can you do them with elimination into any universe, please?

[2018-01-17 21:48] UlrikBuchholtz commented on #2761
Sure, since the pushout eliminator takes a separate universe variable for the target, that should not be an issue.

[2018-01-17 22:49] fredefox commented on #2898
I'm looking at it a bit now. Apparently in-scope symbols with fewer than 3 characters will never be considered `close` to any other symbol. The edit-distance between the symbols should be compared to something. It has been chosen that it's compared against the length of the in-scope symbol divided by three. This is a decent metric in most cases but obviously not for my use-case.

I tried googling

[2018-01-17 23:27] gallais commented on #2898
As a first approximation you could identify all the symbols declared
in the same `agda-input-to-string-list` group in [agda-input.el](https://github.com/agda/agda/blob/master/src/data/emacs-mode/agda-input.el#L196).

Projecting them all to the group's name will sometimes even give you
a string long enough to match similarities. :D

[2018-01-18 06:05] UlfNorell commented on #2908
No, you are right that the compiler would do the wrong thing in this case. I'll get rid of this particular transformation.

[2018-01-18 06:10] UlfNorell commented on #2906
The rules are very simple: the type must translate to a Haskell type containing no generated types. In other words all data/record types must have explicit `{-# COMPILE GHC ... #-}` data or type pragmas.

[2018-01-18 12:56] nad commented on #2879
I have a hard time figuring out how the compiler works, there is very little documentation (that I've found, at least). It seems as if code involving sized types is currently compiled successfully in many cases, but I'm not sure if this is by design or by accident. Sizes are typically unused, so they often seem to be compiled away, and thus it may not matter that `error` is generated for things li

[2018-01-18 13:06] UlfNorell commented on #2879
Did you read http://agda.readthedocs.io/en/latest/language/foreign-function-interface.html#the-compile-pragma ?

[2018-01-18 13:07] #2911 closed, assigned to UlfNorell

[2018-01-18 13:29] UlfNorell commented on #2909
Answering the first question: the compiler detects that
[code]
is *erasable*, and thus erases the argument to the constructor. Erasable types have at most one inhabitant. The coinduction is not important for this, the type
[code]
is also compiled to a Haskell unit type.

[2018-01-18 13:32] UlfNorell commented on #2909
Second question:

https://github.com/agda/agda/blob/b8953e74d5ab7c296215aa1c025bcce43de2c493/src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs#L70-L92

[2018-01-18 13:57] #2908 closed, assigned to UlfNorell

[2018-01-18 14:25] nad commented on #2906
OK, then we could perhaps use error messages of the following form (where appropriate): "The type *A* will not be translated to Haskell, because it mentions the type *B*, and there is no pragma {-# COMPILE GHC *B* = ... #-}". In cases where the problem is, say, that the type contains a lambda, then this could be stated in the error message.

[2018-01-18 14:57] nad commented on #2879
I had missed the `type` pragma. Thanks. However, that text does not (and should not) explain how the compiler is implemented, and I don't think it answers my question about why and how term-level pragmas affect the generation of Haskell types.

[2018-01-18 14:58] nad commented on #2909
Any opinions about what to do about the `INFINITY` builtin?

[2018-01-18 15:10] UlfNorell commented on #2879
I wouldn't expect term-level pragmas to affect Haskell type generation. Can you construct an example that doesn't involve the size type formers?

[2018-01-18 15:16] nad commented on #2909
I'm leaning towards using newtypes only for inductive/non-recursive types with a single constructor with a single argument for the time being, thus making developments using `INFINITY` potentially less efficient. However, in the future we could consider using newtypes also for coinductive types with a single constructor with a single argument (after erasure) when it is safe to do so. Here is one e

[2018-01-18 16:36] gallais opened #2912 "Add fine-grained control over the displayed warnings"
Looking at the current setup because of #2899, it'd be nice to have something
closer to [ghc's approach](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-warnings.html): individual flags for individual warnings and names for
common sets of warnings.

Edit: we already have a problem because the options `AllTheWarnings` (`-Wall`)
and `TurnIntoErrors` (`-Werror`) can't be used at

[2018-01-18 16:37] gallais commented on #2899
I got the warning working and I'm currently adding a new `WarningMode`
called `AllWarnings` which is more verbose than the default (renamed
`UsualWarnings` rather than `LeaveAlone`).

[2018-01-18 18:21] nad commented on #2879
Yes. The following code can be compiled successfully:
[code]
However, if we add the following pragma, then the compiler complains:
[code]
Error message:
[code]

[2018-01-18 19:18] #2879 closed, assigned to nobody

[2018-01-18 19:20] nad commented on #2879
I tried to give two pragmas for (for instance) `Size`:
[code]
However, this does not work:
[code]
Thus the term-level translation of `Size` is still a call to `error` (and similarly for `Size<_`):
[code]
Given that sizes should never be forced I suppose that this is OK.

[2018-01-18 19:22] nad commented on #2879
@UlfNorell, if the example I included [above](https://github.com/agda/agda/issues/2879#issuecomment-358735852) requires action, then we should perhaps open a new issue for it.

[2018-01-18 19:55] UlfNorell commented on #2879
It's not a critical problem, but clearly something is not right. A new issue is probably called for.

[2018-01-18 21:20] nad commented on #2909
I'm in the process of implementing what I suggested above (not the "in the future" part). Now I want to write a Haskell function that converts the Haskell representation of colists into Haskell lists, with colists defined in the following way:
[code]
Now, in order to give Haskell names to the colist constructors I seem to need access to the Haskell name for `INFINITY`, but the `COMPILE GHC f as g`

[2018-01-18 21:23] nad opened #2913 "A term-level pragma can affect the generation of Haskell types"
The following code can be compiled successfully:
[code]
However, if we add the following pragma, then the compiler complains:
[code]
Error message:
[code]

(This issue came up in the discussion of #2879.)

[2018-01-18 21:31] nad opened #2914 "Slicing ignores as pragma?"
The GHC backend fails to compile the following code:
[code]
Error message from GHC:
[code]
It seems to me as if the private variable `n` is not compiled at all. I guess that some kind of slicing is involved, and that the slicing ignores the `COMPILE GHC n as n` pragma.

[2018-01-19 06:41] UlfNorell commented on #2909
I think it would make more sense to special case `INFINITY` and friends. The Haskell definitions could go in `MAlonzo.RTE`.

[2018-01-19 06:43] UlfNorell commented on #2914
Slicing is here:

https://github.com/agda/agda/blob/ac46e756fe9a6c4d25c750d31fbd38033c1e7c1f/src/full/Agda/TypeChecking/DeadCode.hs#L2

I'm pretty sure you are right that it doesn't consider `COMPILE`-`as` pragmas.

[2018-01-19 08:18] andreasabel commented on #2899
Well, bracketing constructs like `[_]` or `[_,_]` do not need a fixity, in fact, since they are neither pre/post nor infix operators, a precedence or associativity value for these does not make sense.
The warning mechanism should be adapted to disregard these.

[2018-01-19 11:48] gallais commented on #2899
We should probably not warn about the ones that are not exported:
* declarations in `private` blocks
* declarations in unnamed `where` clauses

[2018-01-19 13:23] asr commented on #2884
I just realised that there are some missing subsections of documentation in the PDF.

[2018-01-20 13:33] asr commented on #2884
I couldn't reproduce the problem.

[2018-01-20 13:33] #2884 closed, assigned to asr

[2018-01-20 20:13] nad commented on #2899
And you shouldn't warn about bound operators. (I don't know if the current implementation warns or not.)

[2018-01-20 20:15] nad commented on #2914
How should this be handled? The compiler backends are supposed to be independent of the frontend.

[2018-01-21 07:55] UlfNorell commented on #2914
The simplest solution would be to forbid compile-as for private definitions. This makes a lot of sense too, since if you're exporting the function from the compiled code, it really isn't private.

[2018-01-21 18:55] nad commented on #2914
One might think that another option is to have export lists in the generated Haskell modules, and not include private definitions in those lists. However, due to reduction and unification private definitions can be referenced from other modules. I guess that currently I would recommend people writing Haskell libraries in Agda to manually write wrapper modules that reexport exactly the names that s

[2018-01-22 06:16] UlfNorell commented on #2914
Also it wouldn't address the current issue in any way.

[2018-01-22 07:34] nad commented on #2914
I was referring to your comment that "if you're exporting the function from the compiled code, it really isn't private".

[2018-01-22 10:36] fredefox commented on #2898
I'm mentally putting this on hold because I don't feel I currently have a good way of solving this.

[2018-01-22 11:21] #2909 closed, assigned to nad

[2018-01-22 11:54] nad opened #2916 "The GHC backend generates code with an incorrect number of constructor arguments"
The GHC backend fails to compile the following code:
[code]
The key part of the error message (from GHC):
[code]

This is a regression, Agda 2.5.1.1 manages to compile this code.

[2018-01-22 11:58] UlfNorell commented on #2916
Can you include the relevant part of the generated code?

[2018-01-22 14:10] nad commented on #2916
Sure:
[code]

Bisection points to af3ca2c3b8a9f11ab2951c1c37bc8fb73e096720 ("[ ghc-backend ] completely erase erasable constructor arguments").

[2018-01-22 15:12] nad opened #2917 "Very slow due to unsolved size?"
The time required to check the following code seems to be superpolynomial in the number of underscores in the last line:
[code]

[2018-01-22 15:35] nad opened #2918 "Memoisation"
The following program is an attempt to implement memoisation, following Hinze's [Memo functions, polytypically!](http://www.cs.ox.ac.uk/ralf.hinze/publications/index.html#P11):
[code]
However, the resulting program is not efficient (when compiled using the GHC backend). I can fix this by performing two changes:

1. Replace the body of `memo-fix` with the following code (to avoid allocating new mem

[2018-01-22 20:41] nad commented on #2918
I think I managed to erase the size argument. With this change in place the code now works with the usual dependently typed composition operator:
[code]

On to the other point: How can the hack with `NON_TERMINATING` be avoided? (I also seem to recall  @andreasabel or @Saizan mentioning that functions like `size` should perhaps not be allowed.) @andreasabel suggested that we could "optimize code u

[2018-01-23 08:41] UlfNorell commented on #2918
I still get poor performance with the size argument erased (`ghc-8.2.2`). Looking at the generated Haskell code, this is not surprising:

[code]

GHC core:
[code]
The memo table is constructed under the `v1` lambda in both cases.

[2018-01-23 09:39] nad commented on #2918
That's with the original code, right? As I wrote above I get good performance with the following implementation of `memo-fix`:
[code]
Generated code:
[code]
Core:
[code]
How do you generate the core? I used [ghc-core](https://hackage.haskell.org/package/ghc-core) along with `-dsuppress-coercions`, and I also tried [dump-core](https://hackage.haskell.org/package/dump-core), but I think you are usin

[2018-01-23 09:42] nad commented on #2918
By the way, one can note above that the "rank-2" size argument is still present in the core. There is room for improvement of Agda's erasure transformation.

[2018-01-23 09:53] nad commented on #2918
With `-dsuppress-coercions -dsuppress-uniques -dsuppress-idinfo -dsuppress-module-prefixes` I get the following output:
[code]

[2018-01-23 09:58] nad commented on #2918
One can avoid using `size` and `unbox`. The following code runs quickly:
[code]

[2018-01-23 10:15] nad commented on #2916
Here is a possibly related example:
[code]
Error message:
[code]
Generated code:
[code]
My guess is that Agda erases the argument to `c` without taking the `data` pragma into account.

[2018-01-23 10:19] nad commented on #2918
I tried to use a `COMPILE GHC` pragma to control the compilation of `memo-fix`, but this led to [a problem](https://github.com/agda/agda/issues/2916#issuecomment-359743928) involving the combination of `data` pragmas and erasure of constructor arguments.

[2018-01-23 10:46] nad commented on #2918
I managed to write Agda code that is accepted by the termination checker and compiles to fast Haskell:
[code]
Generated Haskell code for `wrapper`:
[code]
And for `memo-fix`:
[code]
Generated core:
[code]
Note that one call to `f` (`v0`) is under the final lambda.

I wonder how certain one can be that GHC will perform these transformations.

[2018-01-23 10:51] UlfNorell commented on #2916
This looks like a different issue. I think a case can be made that you want to drop erased arguments also in `COMPILE`d data. The argument against is of course that it's not obvious which arguments will get erased.

[2018-01-23 10:53] UlfNorell commented on #2918
I used
[code]

[2018-01-23 13:44] nad opened #2919 "Internal error in Agda.TypeChecking.Forcing"
Code:
[code]
Error:
[code]
This is a regression, Agda 2.5.3 does not trigger this error.

[2018-01-23 15:47] nad commented on #2919
Bisection points to 433429fb85e44da48b6f6ff91859f588e144f1d5 ("[ forcing ] perform forcing translation on deBruijn patterns").

[2018-01-23 15:54] nad commented on #2918
Given that my code works with just a small wrapper I'm closing this issue now, but it can be reopened if an example for which the wrapper does not work is encountered, or if someone comes up with a design for a more principled solution.

[2018-01-23 17:18] doofin opened #2920 "type synonym in agda?"
Not sure whether it is ok to ask there.. Recently I am experimenting with W types,is it possible to write type synonym like that in haskell : type Nat = Nat2 ?

[2018-01-23 17:36] nad commented on #2920
I suggest that you use the mailing list for questions of this kind.

You can define "type synonyms" in the following way:
[code]
(Assuming that `Nat2` has type `Set`.)

[2018-01-23 17:36] #2920 closed, assigned to nobody

[2018-01-24 10:06] UlfNorell commented on #2916
The problem is that the erasability analysis gets confused over mutually recursive types. When analysing a recursive type we assume recursive occurrences to be erasable. In this case, when checking if `R` is erasable we assume it is and proceed to check if `R′` is erasable, which it is under the assumption that `R` is. Here is the mistake: we then mark `R′` as erasable, forgetting that this is onl

[2018-01-24 10:21] UlfNorell commented on #2916
Nevermind.. the performance regression seems to have been a temporary hiccup on my machine. I can't reproduce it.

[2018-01-24 10:21] #2916 closed, assigned to nobody

[2018-01-24 10:26] UlfNorell opened #2921 "COMPILE data for data types with erased constructor arguments"
Reported by @nad in a comment to #2916.

Original example

[code]

If you try to remove the argument to the Haskell `Unit` type, i.e.
[code]
you instead get
[code]

[2018-01-24 10:35] UlfNorell commented on #2921
There's a question here on how to handle `COMPILE`-data bindings for data types with erased constructor arguments: should we erase constructor arguments or not?

The argument against is that it's not obvious to the user which arguments will be erased, so it's hard to tailor the Haskell type to fit. The argument for is that in the case that you *can* figure out which arguments get erased, it would

[2018-01-24 10:36] UlfNorell commented on #2916
Filed the issue above for the compiled `Unit` issue.

[2018-01-24 14:02] #2921 closed, assigned to UlfNorell

[2018-01-24 15:21] #2914 closed, assigned to nobody

[2018-01-24 15:25] UlfNorell commented on #2914
Dead-code elimination happens before compilation, and hence also the checking of `COMPILE` pragmas. It seems like a terrible idea to forbid *all* `COMPILE` pragmas on private definitions, so the simplest solution was to not eliminate anything with an attached `COMPILE` pragma.

[2018-01-24 16:36] #2906 closed, assigned to nobody

[2018-01-24 16:40] UlfNorell commented on #2906
Fixed. The code
[code]
now results in the much more helpful error message
[code]
Depending on `D` it suggests a suitable pragma (`data` for data and record types, and `type` for others). The name `HsD` is not derived from `D`.

[2018-01-24 17:04] #2913 closed, assigned to nobody

[2018-01-25 06:56] langston-barrett opened #2922 "Can't compile files with GHC backend in certain locales"
If I attempt to use Agda 2.5.3 to compile the example file:
[code]
using the following script:
[code]
then it fails with the message:
[code]
while it succeeds if I just use the following:
[code]
This is an issue because when using the Nix package manager to build projects, those are the default locale settings.

Thanks for your work on this awesome project, I'm having a lot of fun learning Agda!

[2018-01-25 07:08] langston-barrett commented on #2922
For others stuck on this issue, the advice that [the nixpkgs manual](https://nixos.org/nixpkgs/manual/#automatic-tests) gives works for me. I added `glibcLocales` to the `buildInputs` and exported the environment variables like in the script above.

[2018-01-25 07:24] UlfNorell commented on #2922
I can't reproduce this on MacOS (10.13), what OS are you on?

[2018-01-25 07:49] langston-barrett commented on #2922
@UlfNorell [NixOS Linux](http://nixos.org/)!

[2018-01-25 08:32] UlfNorell commented on #2922
Can you run agda with `-v100` to see if we can pinpoint exactly when the error occurs?

[2018-01-25 15:39] nad commented on #2922
I can reproduce this:
[code]

A related problem:
[code]
Here the error is truncated. I would like to see a second error message pointing out that the first one was not printed properly.

[2018-01-25 17:45] nad commented on #2922
The `commitBuffer` error seems to be triggered by `liftIO $ putStr $ unlines ss` in `Agda.Main.runTCMPrettyErrors`:
https://github.com/agda/agda/blob/7e310485de6ac5246270efb9903e35bc48ea81a7/src/full/Agda/Main.hs#L199-L213

Agda tries to print the following text:
[code]
Note the use of `—` (U+2014, EM DASH).

[2018-01-25 17:57] nad commented on #2922
GHC seems to handle this by replacing illegal characters with something else:
* https://ghc.haskell.org/trac/ghc/ticket/6037
* https://ghc.haskell.org/trac/ghc/ticket/10762
* https://phabricator.haskell.org/D1153

Should we take this approach, or should we crash loudly?

[2018-01-25 20:09] langston-barrett commented on #2922
Since whatever characters were replaced would be visible to users/consumers of the program (as seen in the example of the error message you gave above), I think Agda should crash loudly. There's no way to tell what might be a "close" ASCII alternative to a generic Unicode character, and the semantics might be important for this program (perhaps its output is consumed by another program that expect

[2018-01-25 21:23] asr commented on #2922
That symbol is not necessary for triggering the error:

[code]

[2018-01-25 21:30] iitalics opened #2923 "Word.agda not included as builtin"
The `Setup.hs` script does not include the `Word` module located in `src/data/lib/prim/Agda/`, but it includes every other file. Is this intentional?

[2018-01-26 06:10] UlfNorell commented on #2923
No, that's an oversight on my part. Good spot.

[2018-01-26 08:09] andreasabel commented on #2922
@asr:  I think U+2014 is used by Agda to print the `All done;...` separator, it is not part of the user input.

[2018-01-26 10:09] #2923 closed, assigned to UlfNorell

[2018-01-26 14:38] mietek opened #2925 "Allow adding the same rewrite rules multiple times"
For reasons of code organisation, I wish `Rewrite rule  foo  has already been added` was not an error.

[2018-01-26 14:53] jespercockx commented on #2925
I guess we could turn it into a warning instead of an error. Would that satisfy your needs?

[2018-01-26 15:30] jespercockx commented on #2925
I've implemented this and it seems to be working, but when I run the test suite for some reason no .warn file is generated. Does anyone know what's the proper way to create a test case that should produce a warning? (perhaps @gallais ?)

[2018-01-26 15:34] fredrikNordvallForsberg commented on #2925
You need to `touch` the .warn file yourself; then you can accept the new golden value. (Some succeeding tests contain some (possibly changing) debug output, so we didn't want to record output for all tests.)

[2018-01-26 15:40] jespercockx commented on #2925
Ah, that works. Thanks!

[2018-01-26 15:43] #2925 closed, assigned to jespercockx

[2018-01-28 07:22] #2919 closed, assigned to nobody

[2018-01-28 15:02] gallais commented on #2794
Ok, here's a new suggestion (unless the target is the very beginning of the
file in which case we use the old behaviour): jump to the character *before*
the one the comment may start at and check that it is either a space or a
newline like so:

[code]

This means that things like:

[code]

won't get highlighted but then again the *same* comment with a single-line marker
instead of a multiline one

[2018-01-28 18:32] identicalsnowflake opened #2926 "Inference change"
I don't know if this is important or not, but I updated Agda master and checked my project, and there are a couple places where inference no longer works as before. Here's a minimal example:

[code]

Agda currently complains `Cannot split on argument of non-datatype _14 x`, but previously it solved this. Fwiw, it works when I write `go : Dec _ -> _`, so it's just the `Dec` part it's stuck on, whic

[2018-01-28 21:54] jespercockx commented on #2926
Yes, this is an intentional change to the semantics of Agda. It turns out
that we cannot solve metas in the type of a function based on the pattern,
lest we get non-unique solutions (see
https://github.com/agda/agda/issues/2834). So in the new implementation of
the LHS checker I tried to be more principled and only have the information
flow from the type to the patterns, not the other way. Unfortu

[2018-01-28 23:06] gallais commented on #2926
Food for thoughts (together with @fredrikNordvallForsberg) :

[code]

* The first one stops with unsolved metas & constraints
* The second one is accepted

Aren't both of these elaborated to something like:

[code]

?

[2018-01-29 09:08] nad commented on #2794
Instead of another hack I suggest that we do something principled. I repeat my previous comment: "One option would perhaps be to invoke the Haskell lexer every time the buffer is modified." (This is assuming that the Haskell lexer is sufficiently fast.) We could for instance let Emacs ask for highlighting information from the backend every time the buffer is saved manually by the user.

[2018-01-29 09:46] nad opened #2927 "Panic related to sized types"
Code:
[code]
Error message:
[code]
This is a regression, Agda 2.5.2 gives a proper error message:
[code]

[2018-01-29 11:03] nad commented on #2927
Bisection points to 7109bbb2dd34ad3f0235c0e89822e299a6909778:

[2018-01-29 11:10] nad opened #2928 "Internal error in Agda.TypeChecking.Rules.LHS"
Code:
[code]
Error message:
[code]
I'm not sure if this is a regression or not. Agda 2.5.3 gives the following error message:
[code]

[2018-01-29 11:13] gallais opened #2929 "Turn "missing definition" into a warning"
If we find a declaration without an accompanying body, we can simply raise a warning,
refuse to make it available in the scope (or do so and declare it "NON_TERMINATING"
to avoid unfolding) but let the user keep interacting with the file.

[2018-01-29 13:04] nad commented on #2928
Bisection points to the big LHS checker refactoring implemented by @jespercockx (859a80af089d381fc27539f2d442c464f76e1965).

[2018-01-29 13:48] nad commented on #2551
@andreasabel wrote:

And then later:

Is irrelevance to blame or not?

[2018-01-29 13:52] jespercockx commented on #2926
For pattern matching lambdas there's some postponing already implemented, so that explains why the pattern-lambda version of test'' is accepted but the local definition is not. For test', Agda doesn't know yet that the type of the pattern lambda/helper function should be a function type so it fails immediately, postponing would help here as well.

[2018-01-29 13:57] nad commented on #2903
I was thinking of #2331.

[2018-01-29 14:01] nad commented on #2098
How important is it to support the maximum operator for sizes? Do you have any killer applications in mind?

[2018-01-29 14:04] nad commented on #2041
See also #2331 and #2903.

[2018-01-29 14:38] nad commented on #1209
Perhaps we could hide the old guardedness machinery under a flag:
[code]
We should reject the combination of `--guardedness` and `--sized-types` (or the absence of `--no-sized-types`) when `--safe` is active. Perhaps other combinations should also be rejected.

[2018-01-29 14:42] nad commented on #701
Back in 2012 @andreasabel wrote:

@andreasabel, do you think we should still support successor-based sized types?

[2018-01-29 14:56] nad commented on #300
Here is a slightly shorter test case:
[code]
If the size index is replaced by a size parameter, then Agda does not complain:
[code]
However, if I replace the underscore with a hole and try to solve it (using `C-c C-s`), then I don't get a solution, and Agda does not report any unsolved constraints.

[2018-01-29 14:59] asr commented on #431
@UlfNorell, it is great you fixed this issue.

Please document the new option `--inversion-max-depth` in the CHANGELOG and [here](http://agda.readthedocs.io/en/latest/tools/command-line-options.html#command-line-and-pragma-options) in the user manual.

I reopened the issue for remembering the missing documentation.

[2018-01-29 15:21] UlfNorell commented on #431
Also user manual.. coming shortly.

[2018-01-29 15:24] #431 closed, assigned to UlfNorell

[2018-01-29 15:25] nad opened #2930 "Agda picks the wrong size"
Consider the following code (based on the example in #2484):
[code]
Agda rejects the code:
[code]
Note that Agda has inferred the size `ω`. This is incorrect. If the final clause is changed in the following way, then the code is accepted:
[code]
For similar problems, see #2651, #2439, #1579 and #992.

[2018-01-29 15:28] nad commented on #2484
Agda 2.6.0-17a4b08 accepts the first example, as well as the following variants (listed above):
* If the last underscore is replaced by `j`.
* If the module `M` is inlined.
* If the top-level module's module parameter is removed.
* If the definition of `P` is replaced by the following code, and `⟨_⟩` is removed from the definition of `p`:
[code]
* If the definition of `q′` is placed between the de

[2018-01-29 15:40] #2484 closed, assigned to nobody

[2018-01-29 16:14] #2928 closed, assigned to jespercockx

[2018-01-29 17:31] nad opened #2931 "Rename Agda.Builtin.Size.ω to ∞?"
`Agda.Builtin.Size` gives the name `ω` to the `SIZEINF` builtin. This name seems misleading to me, because this concept is commonly modelled by ordinals that are larger than ω. I suggest that we use the name `∞` instead. Any objections?

[2018-01-29 17:33] andreasabel opened #2932 "Switch to `ghc-tags`, retire`hs-tags` ?"
Switch to `hasktags`, retire our hand-crafted `hTags`.

[2018-01-29 17:48] nad commented on #2932
The [hasktags program](https://hackage.haskell.org/package/hasktags) does not depend on [ghc](https://hackage.haskell.org/package/ghc). This, along with the [list of hasktags issues](https://github.com/MarcWeber/hasktags/issues), suggests to me that the program does not use a proper Haskell parser.

[2018-01-30 08:09] andreasabel commented on #2931
No objections. Old coinduction and size are anyway inconsistent together.

[2018-01-30 09:24] nad commented on #2824
I find the changelog entry somewhat confusing. First it discusses `BUILTIN REWRITE`, showing code that works, and then `BUILTIN EQUALITY`, showing code that does not work. Is there a difference between the two builtins? If not, then I suggest that we use the same builtin in all the examples, and mention afterwards that the other builtin is treated in the same way. Otherwise I think we should expla

[2018-01-30 09:34] #2931 closed, assigned to nad

[2018-01-30 13:19] jespercockx commented on #2926
Since we already have #2056 I'm closing this issue.

[2018-01-30 13:19] #2926 closed, assigned to jespercockx

[2018-01-30 15:05] fredrikNordvallForsberg commented on #2657
I think this is fixed by the above commit. Closing.

[2018-01-30 15:05] #2657 closed, assigned to nobody

[2018-01-30 16:00] gallais commented on #2794
If no one is planning to fix this in a principled manner any time soon (this report is
already 3+ months old), I'd argue that a partial solution is better than no solution.
Then again I don't have to suffer this \texttt{-} issue so if you'd rather leave it like
this, it won't bug me.

[2018-01-30 16:06] nad commented on #2794
A very simple solution would be to only use the backend for highlighting, and only when other highlighting takes place. My suggestion was to do backend-based lexical highlighting more often, but perhaps that can wait (possibly indefinitely).

[2018-01-30 16:24] nad commented on #2794
I'll try this locally.

[2018-01-30 17:05] halfaya opened #2935 "Internal error when too few arguments to constructor"
Attempting to pattern match against a constructor with too few arguments resulted in an internal error.
The fix, courtesy Jesper Cockx, is to modify useNamesFromPattern in ProblemRest.hs to rename the variables in the telescope that correspond to the supplied patterns, but also append any remaining telescope entries (without renaming), instead of throwing them away.

[2018-01-30 19:44] nad commented on #2421
I don't think I've experienced this problem in a while now. Can we close this issue?

[2018-01-30 19:48] nad commented on #2475
I assume that this interface file is not recognised by the most recent version of Agda. Unless you can provide a recipe for reproducing this problem I suggest that we close this issue.

[2018-01-30 19:55] nad commented on #2698
I'm closing this issue due to the lack of a concrete test case. Feel free to open it again if a test case is constructed.

[2018-01-30 19:55] #2698 closed, assigned to nobody

[2018-01-30 20:13] nad commented on #2905
There does not seem to be a backend called `HTML`:
[code]

[2018-01-30 20:37] #2836 closed, assigned to nad

[2018-01-30 20:37] #2905 closed, assigned to nad

[2018-01-30 20:42] nad commented on #2794
I've implemented the very simple solution. I do think it is somewhat annoying that, say, a commented-out line of code is not immediately highlighted as a comment.

[2018-01-30 21:54] astump commented on #2421
I do still regularly experience this issue.  The workaround to restart agda
within emacs is ok.

On Jan 30, 2018 1:44 PM, "Nils Anders Danielsson" <notifications@github.com>
wrote:

[2018-01-30 22:05] m0davis commented on #2475
Here's a recipe using 0ec340704596766c6e5fa77c3a786273a4d6b479 (`master` from within the last month):

1. Create `M1.agda`:
[code]
2. Create `M2.agda`:
[code]
3. Open both files in emacs.
4. `C-c C-l` in `M1`.
5. `C-c C-l` in `M2`.
6. `C-c C-l` in `M1`.
7. Observe the hole that isn't there.

UPDATE: At step 4, you can see the hole, but the problem also reproduces if you leave that step out.

[2018-01-31 03:55] asr commented on #2836
I'm confused. The changelog for 2.5.3 says

and the commit closing this issue says

Were or weren't the `.lagda.md` files treated/parsed as literate files?

Has the above fix some observable change for the user?

[2018-01-31 07:41] nad commented on #2836
Agda can parse such files, but the Emacs mode's goal detection machinery can only handle LaTeX-based literate Agda files.

First, note that the Agda mode is not activated by default in `.lagda.md` (or `.lagda.tex`) files. However, it can be turned on manually.

Previously `.lagda.md` files were treated as non-literate Agda files, which I guess worked in many cases (but including a question mark in

[2018-01-31 07:55] #2912 closed, assigned to fredrikNordvallForsberg, gallais

[2018-01-31 08:04] nad commented on #2837
If highlighting of comments is handled by the backend (#2794), then the main thing left to take care of is goal detection. I'd prefer to handle this in a uniform way, without special support for different literate styles.

One option might be to let the backend inform the frontend of the positions of new goals. This is unproblematic when an entire file is loaded. If a user performs free-form editi

[2018-01-31 08:05] nad commented on #2421
Are you using the development version of Agda?

[2018-01-31 08:16] nad commented on #2475
I guess this has something to do with the way Agda handles interface files for files with unsolved metas, which I know little about.

I notice that no interface file is written out when `M1` is loaded, only when `M2` (which imports `M1`) is loaded. When `M1` is then reloaded the backend claims that this file does not contain any goals, and the frontend responds correctly by not highlighting any go

[2018-01-31 09:36] gallais opened #2936 "Sort warning flags alphabetically in user manual"
Sort warning flags alphabetically in user manual.

[2018-01-31 10:30] m0davis opened #2937 "--no-unicode pragma applies to whole session (when it should apply to the file)"
The `--no-unicode` pragma is evidently applying to the whole Agda session rather than the currently-loaded file. When I want to change whether Agda displays unicode, I am finding I need to restart Agda. Steps to reproduce the problem:

1. Open a file in emacs:
[code]
2. Restart agda (`C-c C-x C-r`).
3. Load (`C-c C-l`) and observe the goal is (correctly) displayed in ascii.
4. Comment-out the prag

[2018-01-31 10:39] gallais commented on #2937
Another instance of #2789

[2018-01-31 10:45] nad commented on #2937
Isn't this just a bug?

[2018-01-31 10:55] gallais commented on #2937
Oh yeah, my bad. I was thinking about the (related?) problem:

nounicode.agda:
[code]

unicode.agda:
[code]

[2018-01-31 11:14] halfaya opened #2939 "make install-bin on a Mac can fail to install text-icu"
On a Mac `brew install icu4c` installs icu into a non-standard location (/usr/local/opt/icu4c/).
As a result, `make install-bin` fails when trying to install the `text-icu` package (required due to `-fenable-cluster-counting`) which relies on standard locations for its C dependencies.
[code]
As noted these flags need to be added to `cabal install` somehow:
[code]
We should determine the best way t

[2018-01-31 12:47] m0davis commented on #2935
Reportedly fixed by a2ffadd79c77631ca15af1a70c4bc945447a1186. @halfaya I believe including `Fixed #issue-number` in the commit message lets github associate it with the issue. In your commit, you left out the `#`.

[2018-01-31 13:10] halfaya commented on #2935
Okay, thanks for letting me know. As noted, this was fixed by https://github.com/agda/agda/commit/a2ffadd79c77631ca15af1a70c4bc945447a1186.

[2018-01-31 13:10] #2935 closed, assigned to nobody

[2018-01-31 14:27] astump commented on #2421
2.5.2 -- so maybe you fixed it in 2.5.3 or later?

On Wed, Jan 31, 2018 at 2:05 AM, Nils Anders Danielsson <
notifications@github.com> wrote:

[2018-01-31 15:20] nad commented on #2421
That's what I'm hoping.

[2018-01-31 15:22] nad commented on #2937
That's also a bug, and also not an instance of #2789.

[2018-01-31 22:49] gallais opened #2941 ""coinductive" record inconsistent"
[code]

[2018-01-31 23:12] UlfNorell commented on #2941
Not sure about the `not (recRecursive d)` part...

https://github.com/agda/agda/blob/93c04e838b05c029093ddf48225585a4c47ce1c4/src/full/Agda/TypeChecking/Records.hs#L344-L345

[2018-01-31 23:19] jespercockx commented on #2941
Slightly simplified testcase:
[code]

[2018-01-31 23:39] gallais commented on #2941
good catch @UlfNorell. The following diff seems to fix the bug:

[code]

The gist of it: if the user tells you it's `coinductive`, you better believe them. If they don't tell you anything, do try to guess (as long as you do so in a uniform way across the codebase, I suppose?)

Edit: probably a bit more complicated

* This diff triggers an internal error (at  [TypeChecking/Monad/Base.hs:1640](https

[2018-02-01 00:11] WolframKahl commented on #2941
On Wed, Jan 31, 2018 at 03:39:35PM -0800, G. Allais wrote:

Nano-optimisation:
[code]
(This saves a `flip`: Better not try to rely on GHC knowing that this particular `(==)` is symmetric.)

Wolfram

[2018-02-01 07:07] #2941 closed, assigned to nobody

[2018-02-01 07:12] UlfNorell commented on #2941
Maybe my fix was too simplistic? The test suite and the example above goes through though.

[2018-02-01 10:07] djanin opened #2942 "Instance record "artificial" type checking problem ?"
Hello,
The following code, with a valid proof term (Agda says so), creates a type error when instantiating a record with this valid proof term. Tested both with Agda  2.5.3 and 2.6.0-0170a69-dirty with ghc 8.0.1
Though I am just beginning with Agda, this sounds like a bug does it ?
David

[Bug0.txt](https://github.com/agda/agda/files/1685026/Bug0.txt)

[code]

[2018-02-01 10:50] djanin commented on #2942
Playing a bit more with this example, I see that

recordingAlt : recordedProof
recordingAlt = record {foo = λ {x} → sucInNat {x}}

compile just fine which suggest a unification problem with implicit argument doesn't it ?

Observe that I have already met a similar problem with GHC type checker where unification sometimes must be made explicit...

[2018-02-01 11:13] identicalsnowflake commented on #2942
I think it's because there is not a unique solution to the first parameter. Consider:

[code]

[2018-02-01 11:46] djanin commented on #2942
I agree there are many proofs... yet I still don't see why
recording : recordedProof
recording = record {foo = λ {i} x → sucInNat {i} x }
is valid while
recording'' : recordedProof
recording'' = record {foo = sucInNat}
is NOT VALID since these two parameters are eta-equivalent aren't they ?

[2018-02-01 11:47] fredefox opened #2943 "Internal error @ src/full/Agda/TypeChecking/Primitive.hs:1253"
Agda gives me:

[code]

But unfortunately no guide on what information to provide.

Steps to reproduce:

[code]

Produces the above error.

Further information:

[code]

Dependencies:

Cubical:

[code]

Standard Library:

[code]

[2018-02-01 11:53] fredefox commented on #2943
I'm installing the most recent version of Agda to see if it removes the error (old one was all of 2 weeks old). I think not though, since the line where the error originates from is also on `master` just a few lines down from where I reported.

[2018-02-01 12:09] fredefox commented on #2943
Fixed in `2.6.0-5d84754-dirty` (it wasn't dirty tho)

[2018-02-01 12:09] #2943 closed, assigned to nobody

[2018-02-01 12:12] identicalsnowflake commented on #2942
Well they are eta equivalent with respect to the visible parameter, yes - you can remove the `x`s in my examples and nothing changes.

But the curly brackets parameter means "solve this parameter by unification." If there is not a provably unique solution, Agda will complain that it doesn't know which solution you want to use. In this example, there are multiple valid solutions for the curly brack

[2018-02-01 12:19] djanin commented on #2942
Hmm. I guess I see the point though I can probably practice some more to feel it in the depth.
Thanks for the answers and my apologies for having proposed a debug question instead of a bug report indeed.
Best

[2018-02-01 12:19] #2942 closed, assigned to nobody

[2018-02-01 12:35] identicalsnowflake commented on #2942
Yup - for what it's worth, you're right that eta expansion of the curly parameter would be a valid solution, but that's just not what Agda is doing. Curly parameters are not solved via eta expansion - they're solved via unification.

If you remove all the curly brackets from your original code and replace them with visible parameters, everything will be solved as you expect.

[2018-02-01 12:38] djanin commented on #2942
Yes, I indeed eventually checked out that the « uncurlied » version work just fine.
Thanks again

[2018-02-01 16:59] nad opened #2944 "Regression, seemingly related to record expressions"
The following code is rejected by Agda 2.6.0-17a4b08, but accepted by Agda 2.5.3:
[code]
Error message:
[code]
The code is accepted if the only clause of `f` is replaced by the following code:
[code]

[2018-02-01 19:23] nad opened #2945 "Inversion warning in code that used to be accepted"
The following code is accepted:
[code]
However, Agda 2.6.0-17a4b08 prints out the following warning:
[code]
Perhaps this kind of warning should only be printed for code with unsolved metas.

(I got this warning in some old code involving the natural number 3!!.)

Given that this code is accepted by Agda 2.5.3, which does not have a maximum depth for inversion, I also wonder if the recent changes t

[2018-02-01 19:28] nad commented on #437
@UlfNorell, I'm guessing that your recent code sprint has fixed this issue. I added a test case.

[2018-02-01 19:31] nad commented on #2944
Bisection points to 32d9df61d939cdb968092f247494c3c8801ab3a5 ("[ injectivity ] improved pattern match inversion").

[2018-02-01 19:38] nad commented on #2945
This warning also gets printed when other modules that import the module triggering the warning are type-checked:
[code]

[2018-02-01 20:05] UlfNorell commented on #2944
The problem exists already in 2.5.3. Here's a variant:

[code]
It fails with
[code]
but manually solving the meta with `c x` makes it check.

The problem is that we shouldn't invert stuck applications that have projection eliminations.

[2018-02-01 20:34] UlfNorell commented on #2945
I wouldn't expect it to make a considerable difference, but please keep an eye out for such examples.

[2018-02-01 20:51] gallais opened #2946 "LaTeX-backend: add option to erase (prenex) implicit arguments"
It's quite common to remove them by hand to lighten the presentation in papers
using the convention that free variables are assumed to be quantified universally
at the beginning of a type.

It would be nice not to have to rely on brittle `sed` scripts (e.g. I'm still using an
old version of agda to generate papers because the introduction of `\AgdaSpace`
breaks my setup).

[2018-02-01 21:03] #2945 closed, assigned to nobody

[2018-02-02 09:46] gallais opened #2947 "Internal error in Agda.TypeChecking.Forcing"
triggered by:

[code]

[2018-02-02 10:41] UlfNorell commented on #2947
Related to #2919. The fix of that issue doesn't cover this case properly.

[2018-02-02 11:06] #2947 closed, assigned to nobody

[2018-02-02 13:06] andreasabel opened #2948 "Print shadowed identifiers as such, reloaded"
[code]
`C-c C-.` shows the confusing
[code]

[2018-02-02 13:13] #2944 closed, assigned to nobody

[2018-02-02 13:42] gallais opened #2949 "Steal Typechecking.Serialise' generic programming to implement killRangeN"
As the title says

[2018-02-02 16:56] #2056 closed, assigned to jespercockx

[2018-02-02 21:49] jespercockx opened #2950 "Error: first load the file after loading file with higher inductive type"
This relates to the `hits` branch. When loading the file below, the first question mark is not turned into a hole. The second one is, but trying to get any information from the hole results in an `Error: First load the file.`

[code]

[2018-02-02 22:16] jespercockx opened #2951 "Case split on HIT triggers internal error at TypeChecking/Substitute/Class.hs:173"
Note that this triggers an internal error even without --cubical:
[code]

[2018-02-02 23:34] guillaumebrunerie opened #2952 "Wrong compilation of pattern matching to Haskell"
The code below type checks with no errors or warning, but normalizing `main` in the Agda mode gives `putStr "left"` (the expected result), whereas compiling it to Haskell and running it gives `nowhere`.

[code]

[2018-02-03 00:06] gallais commented on #2952
I get `nowhere` with 2.5.3 but `left` with `2.5.4`

Edit: btw, loading `Data.String.Base` cuts down the dependencies dramatically

[2018-02-03 05:33] guillaumebrunerie opened #2953 "Generated Haskell code does not typecheck"
The compilation to Haskell of the following code fails with a Haskell type-checking error. I only tested it with the latest commit of the stable branch. I believe it used to work with Agda 2.5.3 (I found it by upgrading to Agda 2.5.4).

[code]
[code]

[2018-02-03 05:35] guillaumebrunerie commented on #2952
Thanks, it seems to be already fixed in the stable branch indeed.
I found a different issue while upgrading to 2.5.4 : #2953

[2018-02-03 05:35] #2952 closed, assigned to nobody

[2018-02-03 07:56] #2953 closed, assigned to nobody

[2018-02-03 09:10] jespercockx commented on #2950
I should stop reporting bugs late at night.

[2018-02-03 09:10] #2950 closed, assigned to Saizan

[2018-02-03 09:39] #2951 closed, assigned to Saizan

[2018-02-03 14:04] guillaumebrunerie opened #2954 "Pattern matching on string gives unexpected unreachable clause"
The code below gives the warning `Unreachable clause when checking the definition of test` and highlights the second clause (with `right`), and normalizing `test "a" "x"` gives `nowhere` instead of `right`.
This is surprising, why is the second clause unreachable? Compare for instance to the code in #2952, which is very similar but works as expected.
(tested on the stable branch)

[code]

[2018-02-03 21:28] jespercockx commented on #2954
This bug was probably introduced by @andreasabel in https://github.com/agda/agda/commit/c688d09960f8e246b2bfc63d81c2ae1b3f34bc5e (fix of #2243).

[2018-02-03 22:21] asr commented on #2952
@guillaumebrunerie, could you add a test case, please.

(since I don't know which commit fixed the issue, I don't know if a a test case was already added).

[2018-02-04 09:34] jespercockx opened #2956 "Catchall when matching on HIT circumvents boundary checks"
[code]

[2018-02-04 09:46] Saizan commented on #2956
Right, the current check relies on the patterns to be there.

I guess the coverage check is generating the ones implied by the catchall, right?

[2018-02-04 10:19] nad commented on #2946
Do you have some design in mind? How should this feature interact with alignment?

An alternative would be to add support for omitting certain implicit argument declarations from the code. We have discussed this in the past. As far as I recall we could probably do this by adding support for arguments that can only be given by name, and marking the variables that should be implicitly declared in so

[2018-02-05 10:33] MatthewDaggitt commented on #2875
I take it the release before AIM didn't make it. Is there a new target date?

[2018-02-05 10:43] asr opened #2957 "Support for async 2.2.1"
Using  `async` [2.2.1](https://hackage.haskell.org/package/async-2.2.1) the interaction test-suite fails (in all the versions supported of GHC):

[code]

The error is due to the above three *new* lines are generated *only* when using `async` >= 2.2.1.

I don't know if the new lines can be silenced from Emacs or we should only support  `async` >= 2.2.1.

I labelled the issue with `type: bug` and `m

[2018-02-05 13:27] andreasabel commented on #437
Possibly fixed by b1473f66a6b58b0784c894c202f5f2114f8dac29 .

[2018-02-05 13:27] #437 closed, assigned to UlfNorell

[2018-02-05 13:28] andreasabel commented on #2421
Probably fixed.  Please reopen if you experience this problem again.

[2018-02-05 13:35] andreasabel commented on #2932
Needs more research, on how good hasktags is in comparison with hTags.

[2018-02-05 13:44] andreasabel commented on #2794
Everyone, we need to make a decision on this change (whether it is what we want) before the release.  The problem now is that commenting out code does not highlight it as comment until the next reload.  Maybe this change effects more common working situations for the worse than the original bug did.

[2018-02-05 14:08] nad commented on #2957
The async library now uses `AsyncCancelled` instead of `ThreadKilled`. I suggest that we only support new versions of async.

[2018-02-05 14:24] asr commented on #2957
@nad, thank you for self-assigned this issue.

I agree.

Remember you need to modify the `stack-GHC-version.yaml` files too.

[2018-02-05 14:28] asr commented on #2957
In relation to https://github.com/fpco/stackage/issues/3268, I only shall bump the upper version of async on Hackage (on the contrary the released `stack-GHC-version.yaml` files would not work).

[2018-02-05 14:50] asr commented on #2957
Done via [revision](https://hackage.haskell.org/package/Agda-2.5.3/revisions/) 4.

[2018-02-05 15:13] nad commented on #2957
How? These files don't mention `async`.

[2018-02-05 15:28] asr commented on #2957
Since `async` 2.2.1 will not available in (all) the LTSs,  see [what should you do](https://docs.haskellstack.org/en/stable/faq/#i-need-to-use-a-different-version-of-a-package-than-what-is-provided-by-the-lts-haskell-snapshot-im-using-what-should-i-do).

[2018-02-05 15:36] nad commented on #2957
What's the point of this? Agda 2.5.3 does not support async 2.2.

[2018-02-05 15:39] nad commented on #2957
I've implemented a fix, but I don't know if I handled the `.yaml` files properly.

[2018-02-05 15:59] nad commented on #2957
What about the error that you posted above?

[2018-02-05 16:25] asr commented on #2957
I thought the problem only was a different golden file. I undid the change in Hackage.

[2018-02-05 17:00] nad commented on #2957
Travis doesn't complain.

[2018-02-05 18:48] nad commented on #2794
I have implemented (but not pushed) the following preliminary enhancement:
* I added a command which allows a frontend to ask the backend to compute highlighting information based on the token stream for a file, and send it to the frontend along with a command that asks the frontend to remove the current token-based highlighting.
* I wired the Emacs mode so that this command is sent whenever `comm

[2018-02-05 19:27] asr commented on #2957
@nad, thanks!

[2018-02-05 19:27] #2957 closed, assigned to nobody

[2018-02-06 16:54] MatthewDaggitt opened #2958 "`as` names being duplicated in buffer after `with`"
Consider the following code
[code]
After running `c-x c-,` in either of the holes, you get the following output:
[code]
Every time you use another `with` statement then another `v` appears in the buffer.

Agda version: 2.6.0-0ec3407-dirty

[2018-02-06 18:27] nad opened #2959 "Repeating a successful command after revert + reload fails with caching enabled"
If caching is enabled, then one can sometimes get into a situation where a case-split first works and then, after the file has been reverted and reloaded, does not work.

The following files demonstrate the problem:
* `M.agda`:
[code]
* `Bug.agda`:
[code]
* `script`:
[code]

Result of running `./script agda`:
[code]

This is a regression, Agda 2.5.1.1 does not have this problem. (However, note tha

[2018-02-06 19:54] nad commented on #2959
I used bisection to search for the first commit that prints `Cannot split here` for the code above, and that seems to be the commit that introduced this error message (446674e487b4e59440f07678e38c03d87e957f1b): "Fixed #289 (see #2006) no more shutter with disgusting findClause". The previous commit on the stable branch (a06c2095c7668a34406c4c7f4c8f4be1ee17af86) seems to work fine (in this particul

[2018-02-06 21:31] nad commented on #2622
I tried to define a copattern synonym today. It took a while before I realised that Agda does not support them. I got error messages of the following kind:
[code]
I'd prefer if the error message stated explicitly that copatterns are not supported. (But I think it would be even better if copattern synonyms were supported. Are they fundamentally harder than constructor pattern synonyms?)

[2018-02-07 08:03] identicalsnowflake opened #2960 "Uncommenting indented lines doesn't work"
[code]

In emacs, selecting and trying to uncomment (`M-;`) the second line above simply double-comments the line, rather than uncommenting it.

This command does work properly on un-indented (top-level) lines.

[2018-02-07 09:40] UlfNorell commented on #2960
Possible culprit (although I haven't checked): 2077af4 (partial fix for #2794). @nad?

[2018-02-07 11:31] andreasabel commented on #2960
Must be.  This is a very recent regression.  Since I have not pulled for one week, it still uncomments correctly for me.

[2018-02-07 13:36] andreasabel commented on #2959
Maybe the `registerInteractionPoint` / `connectInteractionPoint` logic does not work together with caching.

[2018-02-07 13:45] andreasabel commented on #2622
I don't think so.

[2018-02-07 13:45] nad commented on #2960
I have already noticed this, presumably the problem is that I changed the syntax table. This also had other unintended consequences. I'll probably restore the syntax table (more or less).

[2018-02-07 14:50] andreasabel commented on #2824
I find it perfectly clear, but if you want to change it, please go ahead.

[2018-02-07 14:52] #2960 closed, assigned to nad

[2018-02-07 14:55] nad commented on #2824
OK, please explain what it means, then I can change it.

[2018-02-07 15:13] UlfNorell commented on #2824
What specifically is unclear? I find
[code]
and
[code]
to explain the change quite well.

[2018-02-07 17:49] nad commented on #2824
The unclear part was the text "Note that the following is still illegal: [...]", leading me to wonder whether there was some special restriction related to `BUILTIN EQUALITY`. I'll update the text.

[2018-02-07 18:03] #2824 closed, assigned to andreasabel

[2018-02-07 23:49] #2956 closed, assigned to Saizan

[2018-02-12 12:32] fredefox opened #2961 "agda-mode uncomment does the opposite"
When I try to remove comments (uncomment) with `comment-line` in agda-mode for emacs it just comments the lines further. Same happens with `comment-region`. It only applies to members of modules or stuff define in let/where-bindings.

Steps to reproduce:

To try remove the comments here:

[code]

Expected result: Comments are removed. Actual result:

[code]

Similar thing happens for where/let.

T

[2018-02-12 12:37] fredefox commented on #2961
Any proposed work-around is also quite welcome (something more handy than changing mode).

Manually uncommenting many lines is a bother.

Also: `agda2-comment-dwim-rest-of-buffer` works fine.

[code]

[2018-02-12 12:44] identicalsnowflake commented on #2961
It's probably #2960, since the commit hash you linked is from right before the fix was pushed.

[2018-02-12 13:05] fredefox commented on #2961
That's great. I'll have a look. Thank you so much!

[2018-02-12 13:22] fredefox commented on #2961
Jubilation! Thanks @identicalsnowflake - and sorry for not spotting that issue.

Closing. Duplicate of #2960.

[2018-02-12 13:22] #2961 closed, assigned to nobody

[2018-02-12 14:33] WolframKahl commented on #2961
On Mon, Feb 12, 2018 at 04:37:52AM -0800, Frederik Hanghøj Iversen wrote:

?

In Emacs, assuming the `-- ` are nicely lined up, I use the rectangle command:

C-x C-r C-d

[2018-02-12 16:35] fredefox opened #2962 "Syntax highlighting fails"
In emacs, when I load my file everything is syntax-highlighted. But when I change a character somewhere the syntax highlighting of the entire file disappears. Also I get this in `*Messages*`:

[code]

I excpect this to be related somehow to #2960 and 99522f4ba98c2d62e28e6f820c2742e12246a910 since this was not an issue earlier today when I was running `Agda version 2.6.0-6f3203e`. Now I'm on `Agda

[2018-02-13 10:38] andreasabel commented on #2961
`M-;` should also uncomment commented lines (if all are commented out).

[2018-02-15 14:13] Saizan opened #2963 "Extended lambdas bypass positivity checking in records"
Agda does not complain about the following
[code]

It does complain if you try the same with "data".

[2018-02-15 15:02] asr commented on #2939
The issue was reported from a developer point of view (i.e. using `make install-bin`). You can pass extra arguments to `cabal install` using the `CABAL_OPTS` variable defined in the `Makefile`.

@halfaya, does the following command fix the issue

[code]

?

I guess end users also have the issue when they enable the `-fenable-cluster-counting` flag (this flag is enabled by default in the upstream v

[2018-02-15 23:55] andreasabel commented on #2963
Here is the subsequent proof of False:
[code]

[2018-02-16 00:20] xekoukou commented on #2906
Even though the new error message proposes the solution to the problem, it does not explain the reason. You can of course deduce that it needs a manually specified haskell type but it keeps you wondering.

[2018-02-16 20:25] halfaya commented on #2939
This looks like it should be fine, although I can't reproduce now since `text-icu` has been installed so it won't fail again--I guess I could try to manually uninstall but that I recall that's a little tricky with Haskell packages. I think it should be fine to just document this as an option for Mac users.

[2018-02-17 14:21] jespercockx opened #2964 "Mismatch between order of matching in clauses and case tree; subject reduction broken"
While checking a definition by pattern matching, Agda uses left-to-right matching for the previous clauses. After the definition is checked, Agda uses the case tree computed by the coverage checker. Unfortunately, these don't always give the same result. For example, consider the following function:
[code]
The coverage checker will first split on the third argument, then on the fourth, and finally

[2018-02-17 15:15] jespercockx commented on #2964
Another solution would be to change the matching algorithm used while checking the definition (the one in `TypeChecking.Patterns.Match`) to be more conservative. In particular, we could replace the current rule
[code]
by two rules
[code]
and

[code]
This would mean we only go to the next clause when *all* the arguments either match or fail to match (and at least one of them fails). This seems a bi

[2018-02-17 15:45] UlfNorell commented on #2964
I think this makes sense. Before we know what splitting order we'll get in the end the only sensible thing to do is to be conservative. The test suite passing is a good sign.

[2018-02-18 10:35] Saizan opened #2965 "inContext fails on context with dependencies"
[code]

[2018-02-18 15:17] andreasabel commented on #2964
See issue #408.

[2018-02-19 16:09] Saizan commented on #2964
Here is something that fails with an internal error at Match.hs:167 :
[code]

[2018-02-19 17:30] andreasabel commented on #2964
Did you mean to reopen the issue?

[2018-02-19 18:03] jespercockx commented on #2964
Right, when we carelessly continue matching after a failure we may get a comparison between an application and a projection copattern. This shouldn't really count as a mismatch by itself but OTOH it can also never block evaluation of the case tree since these clauses clearly don't belong to the same branch. So maybe it would be fine to return 'No' anyway? I need to do some more thinking...

[2018-02-19 18:07] jonaprieto opened #2966 "Internal error in Auto"
Hi all,

I have this:

[code]

Using auto to solve the holes (`C-c-C-a`) I got this error message:

[code]

If you remove the proofs for `2+5≡7` or `25+25≡50`,
filling the hole will work without type-checking error.

Best,

Jonathan.

[2018-02-19 20:48] andreasabel commented on #2966
Unfortunately, Agsy is still unmaintained...

[2018-02-20 06:42] #1163 closed, assigned to nobody

[2018-02-20 06:51] UlfNorell commented on #1963
@andreasabel I think it's fair to say that postfix projections have been implemented, so maybe we can close this issue and open a fresh one for the problem in https://github.com/agda/agda/issues/1963#issuecomment-235687606.

[2018-02-20 11:39] Saizan opened #2968 "Bad Interaction with copatterns and eta?, leads to ill-typed terms in error messages."
This also broke recently, but not sure if it's related to the changes in Match.hs
Seems like category theory is an excellent source of bugs!

[code]

[2018-02-20 13:48] andreasabel commented on #2968
I pushed some changes to eta yesterday evening, but they do _not_ seem to be blamed for that.
https://github.com/agda/agda/commit/de4225ebf044a7c73b3025506a4055794b0be86a

Interestingly, one can give `refl`, but on reload the error is raised.

[2018-02-20 16:58] andreasabel commented on #1963
We could (except that I know this issue number by heart already).  Maybe the remaining problem here is an instance of #2801.

[2018-02-20 16:59] #1963 closed, assigned to andreasabel

[2018-02-20 17:17] jespercockx opened #2969 "Module parameter is erased from dot pattern"
Consider the following Agda code:
[code]
Case splitting on `eq` results in this
[code]
with an unsolved metavariable. The generated dot pattern should be `.(F Set)`.

[2018-02-20 17:24] jespercockx opened #2970 "Splitting on with argument after a rewrite produces too many with patterns"
[code]
Splitting on `w` produces the following garbage:
[code]
Expected output:
[code]

[2018-02-20 18:40] nad commented on #2963
Agda 2.4.2 rejects the first piece of code above, but Agda 2.4.2.1 accepts it (if `coinductive` is removed).

[2018-02-20 18:50] nad commented on #2756
@andreasabel, some comments on commit 06c92f5f648ec669536c620346e6d414c547f1a9:
* You did not document the changes in the changelog. Is the idea that users should inspect the generated HTML code in order to find suitable anchors?
* You did not include the code above as a test case.
* You generate code of the following form:
[code]
  Note that the first `<a>` tag is not wrapped around `A`. Is this

[2018-02-20 18:59] nad commented on #2962
I have not managed to reproduce this problem. Can you provide a step-by-step recipe for reproducing it, starting from a clean installation? Note that if you had previously compiled the Emacs mode's files (for instance by running `agda-mode compile`), but you did not do this when reinstalling Agda, then Emacs was perhaps using the old, compiled files rather than the new ones.

[2018-02-20 19:05] fredefox commented on #2962
I'm on the most recent version now - though nothing seems to have changed that should touch this behavior. I haven't been affected by the problem for some time now - so it's likely I forget to call `agda-mode compile`. I'll close and reopen if it happens again and then I'll try to give more details. The problem was even causing agda-mode to get stuck (so that I had to issue `M-x agda-restart`).

[2018-02-20 19:05] #2962 closed, assigned to nobody

[2018-02-20 19:38] nad commented on #2963
Bisection points to 43803ccd077d4f033e604fcb5fe6c10cb1d87164: "[ refactor ] Factored out scopeCheckExtendedLambda".

[2018-02-21 16:26] UlfNorell opened #2971 "Copattern split with `--no-irrelevant-projections` panics"
[code]

[2018-02-21 17:17] jespercockx opened #2972 "Case split qualifies constructors too much"
[code]
Case splitting on x produces `f M₁.c = {!!}`, but I'd like to see `f c = {!!}` instead.

[2018-02-21 19:28] nad opened #2973 "Agda inserts superfluous parentheses"
Consider the following code:
[code]
If I first use `Cmd_refine_or_intro` in the hole (to introduce the constructor `c_`), and then `Cmd_give` with `F A` as the argument, then Agda inserts `c (F A)`, with superfluous parentheses. However, if I write the constructor manually, and then give `F A`, then the superfluous parentheses are not inserted.

Here is a script that can be used for testing:
[code

[2018-02-21 21:44] UlfNorell opened #2974 "Copatterns break canonicity"
[code]

[2018-02-21 21:52] UlfNorell commented on #2973
Duplicate of #737?

[2018-02-22 01:28] vjackson725 opened #2975 "Termination checker runs too early for definitions inside record (or: positivity checker runs too late)"
[code]

[code]

This does not occur when the same definition is in a module.

[2018-02-22 06:03] UlfNorell commented on #2974
I think the best way to solve this is to get rid of the record pattern translation completely, and deal with record patterns during reduction.

[2018-02-22 08:15] andreasabel commented on #2974
This is one problem I left unaddressed when adding copatterns.  To be complete, `p` should reduce to `record { fst = 2; snd = 2}`, since the projection pattern matches here are not proper matches: they are not coinductive projections, and there are no proper matches following them.  (In analogy, if `q x = bla`, then `q` alone reduces to `\ x -> bla`.)
However, it seems that many rely on this missi

[2018-02-22 08:26] andreasabel opened #2976 "Emacs mode reports errors in connection with highlighting comments"
Since very recently (just observing this behavior for the first time now), the emacs mode seems broken:
[code]
Emacs reports
[code]
and the part `postulate B : Set` after the comment is not highlighted.

Also, if I invoke an interactive command then, I get the error
[code]
My versions:
[code]
This does not seem to be a problem in stable (2.5.4).

[2018-02-22 08:37] UlfNorell commented on #2974
My proposition is that `p` still does not reduce by itself, but that matching against a record constructor does not block evaluation.

Indeed, but I guess it's gone unnoticed since people aren't using copatterns heavily, and nested matches inside record patterns are not that common.

I would still argue that it's critical, since changing a single definition to use copatterns can cause difficult-to

[2018-02-22 13:10] nad commented on #2973
Yes, perhaps.

[2018-02-22 13:10] #2973 closed, assigned to nobody

[2018-02-22 13:10] nad commented on #737
See also #2973.

[2018-02-22 13:16] nad commented on #2975
Here is a slightly smaller test case:
[code]
This seems to be a regression introduced with the release of Agda 2.5.3.

[2018-02-22 13:18] nad commented on #2976
Did you by any chance forget to recompile the Emacs mode when reinstalling Agda? (See #2962.)

[2018-02-22 13:21] nad commented on #2974
Should this ticket be closed?

[2018-02-22 13:22] #2974 closed, assigned to UlfNorell

[2018-02-22 15:07] UlfNorell commented on #2974
Those commits were on my fork. It closed once they made it onto master.

[2018-02-22 17:16] UlfNorell opened #2978 "Double solving of meta"
[code]

The problematic code:
https://github.com/agda/agda/blob/855c235b9366ad7e51433d1369e01b14fb1d741d/src/full/Agda/TypeChecking/Conversion.hs#L463-L475

We need to check if the low priority meta has been instantiated before assigning the other way around!

[2018-02-22 17:45] #2978 closed, assigned to UlfNorell

[2018-02-23 11:14] #2965 closed, assigned to nobody

[2018-02-23 11:32] favonia opened #2979 "Rewriting matching does not respect eta rules"
`git bisect` says commit ecf5e7fde63f96a78d9e76929bf9907c78703307 broke HoTT/HoTT-Agda. The error message against HoTT/HoTT-Agda@66f800adef943afdf08c17b8ecfba67340fead5e is
[code]
(Sorry I just finished `git bisect` and will not have time to do the shrinking till this evening or tomorrow.)

[2018-02-24 08:19] andreasabel commented on #2976
I hardly recompile the Emacs mode ever.  If the `.elc` files are outdated, emacs works with the `.el` files.  (At least this is the impression I got.)
Anyway, I ran the compilation:
[code]
But this did not fix the problem or change the observed behavior in any way.

[2018-02-24 08:22] andreasabel commented on #2972
Could be #1932.

[2018-02-24 08:44] andreasabel commented on #2975
The problem seems to be that the positivity checker for `R` has not run when the termination checking for `r` is attempted.  There, Agda wants to see whether `force` is a recursive projection, but recursivity of `R` has not been computed yet, thus, Agda crashes.

[2018-02-24 13:15] favonia commented on #2979
Standalone file:
[code]

[2018-02-24 15:45] andreasabel commented on #2975
Well, maybe the problem was amplified by the refactoring e7240e844e0d670eb471f983fd26922cdb4af3d0 .  However, Agda 2.5.2 reports a termination error, for the same reason that Agda 2.5.3 crashes: It cannot yet see that `force` is a projection from a recursive coinductive type.  Thus, both releases reject the test case, and are wrong in doing so.

[2018-02-25 11:33] #2255 closed, assigned to nobody

[2018-02-25 12:06] favonia commented on #2979
Hi, I could not shirk the above standalone file anymore. (All non-trivial simplifications I tried would hide the bug.)

[2018-02-25 13:12] UlfNorell commented on #2979
The problem is that `rel₀` and `rel₁` no longer unfold unless applied, causing a rewriting mismatch.

Using `-v rewriting:100 --show-implicit`:
[code]
The call to `Q-rec` has `R = rel₁`, but the (second) call to `q[_]` has `R = rel₀`. `rel₀` and `rel₁` are definitionally equal (thanks to eta), but the rewriting matching doesn't use eta.

Not sure what to do about this one.

[2018-02-25 13:44] UlfNorell commented on #2979
Note that you can work around the problem by replacing the record patterns by projections:

[code]

[2018-02-25 13:54] favonia commented on #2979
Based on the above comments, here is a smaller test case:
[code]

[2018-02-25 14:07] UlfNorell commented on #912
The problem here isn't with tail-recursion; you have a memory leak in the accumulator argument. Agda uses a factor 3-4 more memory and runs 60% slower than `ghci` for `dummy` but has the same asymptotic behaviour. Fixing the memory leak by changing the last clause to
[code]
makes it run in constant space.

[2018-02-25 14:07] #912 closed, assigned to nobody

[2018-02-25 16:13] UlfNorell opened #2980 "User manual link check fails a lot on Travis"
I'm disabling the job for now.

[2018-02-25 19:00] guillaumebrunerie opened #2981 "Internal error related to record patterns"
The code below fails with the error
[code]

I am on the stable branch, and this error did not occur a few weeks ago.
Note that `f` and `R` are not used anywhere, but if you remove either of them, the error goes away.

Edit: simplified the code further.
[code]

[2018-02-25 19:08] guillaumebrunerie commented on #2981
I haven’t done a bisection, but presumably the culprit is ecf5e7fde63f96a78d9e76929bf9907c78703307.

[2018-02-25 20:27] UlfNorell commented on #2981
Yes, indeed. I assumed (without checking) that record pattern translation happened only once for each case tree. It turns out there's a function called `revisitRecordPatternTranslation`...

[2018-02-25 20:40] UlfNorell commented on #2980
After disabling that job Travis fails after 30 seconds with `rake` complaining about no `Rakefile`. I don't see how that can possibly be my fault... Any Travis experts around? @asr?

[2018-02-25 20:40] #2981 closed, assigned to UlfNorell

[2018-02-26 01:03] asr commented on #2980
I guess Travis cannot parse the commented-out line, so it is using some default. The above commit fix the missing `rake` problem.

[2018-02-26 05:54] UlfNorell commented on #2980
Wow. What language is the yml file written in that doesn't allow comments inside if statements?

[2018-02-26 07:27] andreasabel commented on #2975
I am replacing the internal error by a termination error.  A proper fix could be done together with #434 / #2500.

[2018-02-26 07:34] andreasabel commented on #2980
Probably not bnfc. Haha!

[2018-02-26 11:34] asr commented on #2980
The previous broken link (http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html) is working now.

[2018-02-26 12:21] ajrouvoet commented on #2857
I have the same issue (Agda 2.6.0); also curious how you solved it.

[2018-02-26 12:35] ivanperez-keera commented on #2857
I don't remember exactly what I did, but I think all I needed was `cabal exec -- agda <args>`.

Does that work for you?

[2018-02-26 12:51] UlfNorell commented on #2980
It wasn't just that one though. I got failures on several other links (www.vim.org for instance) that I suspect were just a bit slow to respond. I guess we can wait and see if it starts failing again...

[2018-02-26 13:19] asr opened #2983 "Broken Tags test on Travis"
Travis is failing with the following error (see, for example, job [346239552](https://www.travis-ci.org/agda/agda/jobs/346239552)):

[code]

[2018-02-26 13:27] favonia commented on #2979
Personally I hope this test case can be accepted. The workaround in the original context will probably require many changes in the library HoTT-Agda, because the purpose of the original proof is to show two complicated `rel`s induce the same group. Besides, I think definitional equality should be respected everywhere, as a design principle.

[2018-02-26 14:10] jespercockx commented on #2979
Rewriting should definitely respect eta (except possibly for the singleton record type, since reduction is untyped), so I consider this a bug. Possibly we need to do something smarter for eta-record types in the construction of the non-linear pattern.

[2018-02-26 15:16] #2983 closed, assigned to asr

[2018-02-27 16:50] nad commented on #2976
[Not by default](https://www.gnu.org/software/emacs/manual/html_node/emacs/Lisp-Libraries.html).

Anyway, I don't observe your problems. What happens if you reinstall from scratch?

[2018-03-01 10:03] nad opened #2985 "The termination checker accepts non-terminating code"
The following code should not be accepted:
[code]
The problem goes back at least to Agda 2.5.2. I suspect that one can use this bug to prove that the empty type is inhabited.

I think this is a rather serious problem. I was working on some code and realised that it should not have been accepted, and now I wonder if I have accidentally relied on this bug in other code.

[2018-03-01 12:05] UlfNorell commented on #2985
Indeed:
[code]

[2018-03-01 21:20] Saizan opened #2986 "Agda Abstract Machine does not honor IApply"
So I'm surprised I didn't have a test case for this, but the new Fast reduce kinda breaks cubical, because we get the following:
[code]

The problem seems to be that when evaluating a ```Closure``` the AM does not look at the spine to see if there are ```IApply``` patterns with ```i0``` or ```i1``` for their interval element, in which case it should use one of the endpoints in the ```IApply``` to

[2018-03-02 06:51] UlfNorell commented on #2986
Why don't you make the change first and then we can see about making it more efficient. One simple optimisation would be to only do the check if `--cubical`.

[2018-03-02 07:10] andreasabel commented on #2985
Is this one different from #1946 ? (Just a hunch.)

[2018-03-02 10:05] nad commented on #2985
I don't see any similarity. There's no structural recursion in my example.

[2018-03-02 10:35] nad commented on #2985
The following variant of my example is rejected by Agda:
[code]
However, Agda accepts the following code and the goal is instantiated to `∞`:
[code]

[2018-03-02 10:49] nad commented on #2985
I have not managed to trigger the bug without using a pattern-matching lambda.

Inspection of debug output suggests that the termination checker works on the code with `?` instantiated to `∞`, but if I write `∞` manually, then the termination checker complains.

[2018-03-02 11:01] nad commented on #2985
Now I'm looking at the following code:
[code]
The debug output includes the following text:
[code]
If I replace the final underscore with `∞`, then I instead get the following output:
[code]
The inferred type of `Bug..extendedlambda0` seems to be `(i : Size) → Unit′ ∞` in the former case, and `Size → Unit′ ∞` in the latter.

[2018-03-02 11:14] #2986 closed, assigned to nobody

[2018-03-02 11:18] Saizan commented on #2986
I guess I was wondering if the stack should worry about this, but this simple patch works fine it seems.

Checking only if ```--cubical``` would be quite confusing if you are only importing defined paths but not defining any yourself, and so not using the flag in the current module.

[2018-03-02 12:09] nad commented on #2985
I discussed this with @andreasabel, who said that `-2` might come from an uninstantiated meta-variable.

I added an assertion that the meta-variable is uninstantiated to the following code, and managed to trigger it using one of the problematic pieces of code above:
https://github.com/agda/agda/blob/a53521ba799e8a3e96ad6451ba0b2e30923f2fdd/src/full/Agda/Termination/TermCheck.hs#L1183-L1192

[2018-03-02 12:21] nad commented on #2985
Adding a call to `instantiate` seems to fix the problem. However, it seems as if the precondition of `compareTerm'` is broken by some caller:
https://github.com/agda/agda/blob/a53521ba799e8a3e96ad6451ba0b2e30923f2fdd/src/full/Agda/Termination/TermCheck.hs#L1163-L1165

[2018-03-02 12:37] nad commented on #2985
I'm implementing a temporary fix.

[2018-03-02 13:08] nad opened #2987 "Mixing libraries and -i leads to unexpected result"
Using the library facilities together with `-i` in a certain way does not work:
[code]
Given that the first two calls to Agda above succeed I had expected that the last one would also succeed.

[2018-03-02 15:58] andreasabel commented on #2985
The `data` is not necessary for this bug:
[code]

[2018-03-02 17:20] nad opened #2988 "Incorrect Git hash"
I realised that the Git hash that `agda --version` prints wasn't correct for some binaries that I have compiled, it pointed to some old commit. I fixed this by touching `src/full/Agda/VersionCommit.hs` before rebuilding. Has anyone else observed this?

I don't know how to reproduce this problem.

[2018-03-02 18:58] UlfNorell commented on #2988
Yes, this happens to me a lot too.

[2018-03-02 19:03] identicalsnowflake opened #2989 "Internal error when checking record match in let expr"
[code]

Loading with `C-c C-l` yields `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/TypeChecking/Records.hs:164`.

[2018-03-02 19:07] nad opened #2990 "Performance regression related to the abstract machine"
Some code that used to check without problems started running out of memory. Bisection (unsurprisingly) points to the introduction of the abstract machine (a02895d2c897f6926fd0e9ec5bf37fd8b6d9cb3c).

To reproduce the problem:
[code]

[2018-03-02 19:14] nad commented on #2989
Here is a test case that does not depend on the standard library:
[code]

The problem seems to go back to Agda 2.5.2.

[2018-03-02 19:15] scott-fleischman commented on #2989
If you use a nested `let` it shows a more helpful error message:
[code]
[code]

[2018-03-02 19:42] identicalsnowflake commented on #2989
@scott-fleischman ya it's a bit odd because using a `with` and matching on the same record pattern allows it to go through.

EDIT: I should clarify - I think the `with` is probably correct, as it allows the match but still only allows the pieces to be used in irrelevant contexts, which is right where I needed them.

[2018-03-03 12:13] andreasabel commented on #2989
Shrank this to:
[code]

[2018-03-03 12:43] andreasabel commented on #2989
This is fixed by adding a `reduce` in `Agda.TypeChecking.Records.getRecordTypeFields` which is called from the record-pattern to projections translation in `RecordPatterns`.

Frankly, I do not understand why, because there is a `reduce` in plain sight just before the call to `getRecordTypeFields`:
https://github.com/agda/agda/blob/21536f6d5ad08d2b4258c3c4d464ded3718d152a/src/full/Agda/TypeChecking

[2018-03-03 12:58] andreasabel commented on #2985
I am not sure there is any more to be done to your temporary fix.  The
[code]
is already violated by the first recursive call I can see in `compareTerm'`.  It seems just a lie.
As we do not track invariants as such in the type system (probably this would be impossible, since we have meta-variables and state), they get easily broken by refactorings and other patches.

Maybe it used to be the case t

[2018-03-03 12:59] UlfNorell commented on #2989
It’s easier now. Run with `-v tc.reduce.fast:110` to get a trace of the machine. It should be idempotent.

[2018-03-03 13:32] andreasabel commented on #2987
Some how the `libraries` file gets ignored.

Note that your second command even succeeds without the `--library-file` option, since it finds the `.agda-lib` file in the current directory.

I think this test case is not pointing to the problem yet.

[2018-03-03 15:19] andreasabel commented on #2987
Since your library does not have a name, it cannot be referenced by the `--library` option.
Thus, it does not matter whether, by providing a `--libraries-file`, you give the possibility to locate it.

The `lib.agda-lib` file is located by searching from the project root upward.  It should be found in both cases.  The include pathes retrieved from the `lib.agda-lib` file will be relative, thus, in

[2018-03-03 15:52] andreasabel commented on #2989
Ah, I found the reason.  The call to `reduce` is on `Arg Type` and because of irrelevance, it does not reduce anything.  Only after `unArg`, reduction is effective.

Best not too rely on preconditions too much...

[2018-03-03 16:02] #2989 closed, assigned to andreasabel

[2018-03-03 17:53] andreasabel commented on #2980
It has started failing again.