[2022-01-09 13:03] xekoukou commented on #5725
I personally use nix. It installs all the dependencies without affecting the system.

Every few weeks, I upgrade agda from github. If new ghc and other package versions are needed, it automatically performs the upgrade to those packages.
(It does that by readying the cabal file.)

It works on all linux distros, MacOS and WIndows. At least that's what it says in the site.

Maybe @shlevy could help

[2022-01-09 13:41] shlevy commented on #5725
I'd be happy to help with the actual implementation if we use Nix, but I'd prefer to defer to more serious Agda users as to the right bundling of various components to expose to users.

[2022-01-09 14:57] jespercockx commented on #5725
The target audience here are users who want things to "just work" without having to configure a ton of things by hand. I am not a Nix user myself so I might be wrong, but my impression is that it is rather unlikely that this target audience will be satisfied with a solution that requires them to use Nix. Unless perhaps there is a way to abstract away all the details and create some kind of install

[2022-01-09 15:47] shlevy commented on #5725
Yes, Nix itself is a challenge if you don't already have it set up. There are definitely ways to hide the Nix usage (either producing truly Nix-independent artifacts or hiding the Nix store usage through startup namespace trickery) but I don't know if that will be the best fit for your needs.

[2022-01-09 17:17] JacquesCarette commented on #5725
I agree with @jespercockx that the main target audience here should be users who want things to "just work". So that calls for some kind of installer?

As to the list of issues brought up earlier (also by @jespercockx ):
- the installer should be opinionated: it makes choices of what it does and doesn't install. It should be optimized for "just work".
- versioning issues: see above. A release of a

[2022-01-09 23:54] L-TChen commented on #5725
By the way, we still need to resolve the license issue of distributing binaries. #5202

[2022-01-10 06:32] L-TChen commented on #5727
By the way, there is also a similar problem with `leqLevel`. I guess this can be fixed by restoring normalization and using `equalLevel` for `leqLevel` by translating an inequation to an equation, so at least they would have the same logic under the hood.

Does a syntactic equality check after normalisation suffice?

[2022-01-10 13:01] cartazio opened #5729 "is the lexer / alex remarks about how unicode support is done out of date?"
i was looking at https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316311f5795d760d/src/full/Agda/Syntax/Parser/Lexer.x#L40-L42

and it mentions a "foolAlex" function, which i cant seem to find in the code base? is unicode support in place now?

[2022-01-10 13:55] nad commented on #5729
I removed `foolAlex` back in 2018 (c8995d54295b68cf73bd3f99de5b181c35c64212). The commit comment:

Feel free to update the outdated comment.

[Currently the lexer uses `String`s.](https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316311f5795d760d/src/full/Agda/Syntax/Parser/Alex.hs#L29-L35) Perhaps it would make sense to switch to some kind of bytestring instead, and remove the hack.

[2022-01-10 14:58] nad commented on #4506
I tried to construct a test case for this problem, and noticed that Agda sometimes truncates its output:
[code]
I think that if an exception is encountered when Agda tries to print an error message, then this exception is ignored:

https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316311f5795d760d/src/full/Agda/Main.hs#L253-L267

[2022-01-11 07:40] andreasabel commented on #5729
@nad wrote:

I'd say fixing the comment is part of the task when changing the code.

[2022-01-11 07:45] andreasabel commented on #5722
I am labelling this with `proposal needed` since to make memoization using coinduction work, changes the the evaluator are needed, but these need to be researched.

[2022-01-11 08:28] L-TChen opened #5730 "Datatype in `Setω` breaks unification on the LHS"
Consider the following example,

[code]

where `RecD I` is just (equivalent to) `I` and `RecO e D E` consists of all pairs of `(i : I)` and `(j : J)` such that `e i ≡ j`. We can write a composition function `seq` to compose two pairs. The only thing unusual is that `RecO` lives in `Setω`.

Now, if the `RecD` is declared to be in `Setω` (so that `RecD` can be level-polymorphic), then Agda `seq` fai

[2022-01-11 09:22] jespercockx commented on #5730
It seems the unifier is not up-to-date with datatypes in sorts other than `Set l`, i.e. `Setω` and `SSet`. Fix incoming.

[2022-01-11 09:36] L-TChen commented on #5730
Right, after inspecting the output of `tc.lhs.unify`, I see that while solving `ι i =?= D, ι j =?= ι j₁` the unifier jumps to the deletion step instead of the injectivity step.

[2022-01-11 11:20] nad commented on #5729
I guess I wasn't aware of this comment when I made the change, because the comment was in a different file. Do you have some reasonable workflow that ensures that all comments are always up to date? In this case I removed a definition, so I could have searched for its name in the code base. In general I guess one could try to attach a test case to each comment that refers to a non-adjacent piece o

[2022-01-11 11:41] nad opened #5731 "Performance: Instantiated meta-variables in interface files"
I'm currently working on some code for which Agda fails to create the interface. I think my code should be optimised, but I want to document the problem. Agda spends a lot of time instantiating meta-variables when eliminating dead code, before running out of memory:

https://github.com/agda/agda/blob/ff89bebacb6e8710dde125993e8c91dbe9282413/src/full/Agda/TypeChecking/DeadCode.hs#L23-L29

Note that

[2022-01-11 12:08] L-TChen commented on #5730
Hum.. not so fast. By turning on `--without-K`, Agda now panics instead:
[code]
pointing to the function clause of `seq`, no matter `RecD` is in `Set` or `Setω`.

[2022-01-12 12:25] nad opened #5732 "Optimise reification?"
It can take quite a bit of time for Agda to print goal types, even though the output is not more than 100-200 lines long. In the case that I investigated it was reification that took most of the time:

https://github.com/agda/agda/blob/1fe6beb76160fbc7e1f430f57823ad7c78761c43/src/full/Agda/Interaction/BasicOps.hs#L806

I tried to disable display forms (`disableDisplayForms (reifyUnblocked t)`), an

[2022-01-12 13:05] nad commented on #5388
I removed `freezeMetas`, `withFreezeMetas`, `unfreezeMetas'` and `getInstantiatedMetas`.

The procedure `freezeMetas'` was renamed to `freezeMetas`. The meta-variables that should be frozen are now given as an `IntSet` instead of as a predicate.

There is no longer a procedure that freezes all meta-variables. However, `unfreezeMetas` is still available.

I have not done anything about `getOpenMeta

[2022-01-12 13:07] nad commented on #5731
I have optimised this piece of code. However, the main problem remains.

[2022-01-12 14:17] nad commented on #5731
One should at least also include bindings for the instantiated meta-variables in the interfaces.

Are meta-variable identifiers only unique within a single module? In that case that should also be addressed in some way.

[2022-01-12 14:24] jespercockx commented on #5731
Yes, metavariables are currently only unique within the same top-level module, so they should be qualified properly.

One more advantage of allowing metas in interfaces would be that it would allow us to get rid of the current ugly hack in the implementation of `--allow-unsolved-metas`, which is turning unsolved metavariables into postulates.

[2022-01-12 14:52] andreasabel commented on #5729
Thanks for fixing the comment.
I suppose it happens that we fail to update comments, but if someone notices, it is appropriate to deliver the update then.
I am afraid I do not have a recipe to keep comments up-to-date.  A careful proof-reading of the commit I am preparing often helps me to spot such issues, though.

[2022-01-12 19:33] nad commented on #5731
I was wondering how much of the `MetaStore` we need to include in the interfaces. If we restrict ourselves to instantiated meta-variables, then I guess it would suffice to have only the instantiations:

https://github.com/agda/agda/blob/1fe6beb76160fbc7e1f430f57823ad7c78761c43/src/full/Agda/TypeChecking/Monad/Base.hs#L1312

A `MetaStore` contains a number of other things:

https://github.com/agda/

[2022-01-12 21:52] #5729 closed, assigned to nobody

[2022-01-13 05:37] L-TChen opened #5734 "Relevance check in reflection"
While erased variables cannot be used during computation, they can be used to type-check. In particular, it should be fine to be referred to in a context. However, consider the following macro `m`:

[code]
When extending the context with the second variable `A` in the above telescope `(("ℓ" , arg (arg-info visible (modality relevant quantity-0))  (def₀ (quote Level)))
    ∷ ("A" , vArg (agda-sort

[2022-01-13 07:14] andreasabel commented on #4506
If I display some document in a web browser with the wrong text encoding, it is displayed as garbage, but it is displayed. Garbage in, garbage out.
Is there a similar mechanism available in Haskell?
Some printer that does not whine about illegal characters?

[2022-01-13 09:12] jespercockx commented on #5734
I'd say the solution is just to add a call to `workOnTypes` to the line https://github.com/agda/agda/blob/60e2c7ae49e872b354db7d934ec2e16890947b93/src/full/Agda/TypeChecking/Unquote.hs#L787

Or is there are reason this would not be fixing the issue "systematically"?

[2022-01-13 10:03] L-TChen commented on #5734
In this particular case, it seems fine to call `workOnTypes`. In general, a term itself is not sufficient to determine which mode the type checker should use, so it is not clear how other primitives should interact with modalities.

By the way, we should add `workOnTypes` to https://github.com/agda/agda/blob/015759ce86586343acff8fe73c98656ed25bde76/src/full/Agda/TypeChecking/Unquote.hs#L780
instea

[2022-01-13 10:07] nad commented on #5734
One approach would be to let the reflection machinery generate code without any restrictions, and then check the generated code. I guess this is not how things are set up.

[2022-01-13 10:47] nad commented on #5731
I located some pieces of code that are at least linear in the size of the meta-store (if everything is evaluated strictly).

* The following four pieces could be improved by having separate meta-stores for open and closed meta-variables:

  https://github.com/agda/agda/blob/e204c14c3261c188c089d60b9c685303af8a55f3/src/full/Agda/Interaction/BasicOps.hs#L822-L825

  https://github.com/agda/agda/blob

[2022-01-13 12:10] jespercockx commented on #5731
In general, no: the closed metas are used in that function (grep for `generalizableClosed`) for finding metavariables that should be transitively generalized because they occur in the solution of a generalizable meta. However, perhaps this could be done more eagerly by marking all metas in the solution of a generalizable meta as being generalizable *when solving that meta*. But I'm not 100% that t

[2022-01-13 12:29] nad commented on #5731
OK, perhaps one could replace (the relevant instance of) `metasCreatedBy` by a mechanism that records created meta-variables as they are created. Then one could perhaps also address the following TODO note:

https://github.com/agda/agda/blob/3a6394332780458125230d684bb4111cfd0ab03a/src/full/Agda/TypeChecking/Generalize.hs#L161-L164

Do you know if `createMetasAndTypeCheck` is ever invoked recursiv

[2022-01-13 12:55] nad commented on #5731
I found a simple way to optimise `metasCreatedBy`, making use of the fact that `MetaId`s are always increasing (as long as they do not wrap around).

[2022-01-13 13:06] UlfNorell commented on #5722
The fundamental problem with a definition like
[code]
is that coinductive objects defined by copatterns are never constructed, only eliminated. At no point in the evaluation of the program is there a cons cell being built. You could force the expansion of `trie f` explicitly:
[code]
This works (i.e. runs fast), but doesn't pass termination. We know how to fix this of course: just use sized streams

[2022-01-13 13:08] UlfNorell commented on #5731
Don't forget to add a test case to test what happens when they wrap around!

[2022-01-13 13:16] nad commented on #5731
Some things that remain to be done:

* Have a separate meta-store for closed meta-variables.
* Optimise the pieces of code listed above. (One could also add `openMetasCreatedBy`, and use that in some cases.)
* Make it possible to refer to meta-variables from other modules without ambiguity.
* Store meta-variables in interfaces.
* Stop using `instantiateFull` when eliminating dead code, and when cr

[2022-01-14 06:56] L-TChen commented on #5734
It might be useful to have an operation checking a term in run-time mode, although I don't have any concrete application.

[2022-01-14 07:31] #5715 closed, assigned to L-TChen

[2022-01-14 08:25] wouter-swierstra commented on #5722
@UlfNorell Thanks for this! I'm snowed under with teaching at the moment (end of term stress incoming) -- but I'll try to find some time to build your branch and test it.

[2022-01-14 08:54] jespercockx commented on #5734
The problem is not so much that there are restrictions on the generated code, but that arguments to built-in primitives such as `extendContext` need to be well-formed, lest they break internal invariants of Agda. You don't have to use these primitives if you don't want to; you can just write pure functions generating terms without any `TC` primitives and only unquote it at the very end.

[2022-01-14 12:36] L-TChen commented on #5730
Ping @jespercockx. Do you have any idea about the above error after your fix? ~[ I can try to fix this next week. ]~

[2022-01-14 13:43] jespercockx commented on #5730
That's an error in the implementation of `--cubical`, I honestly have to idea what's going on but I guess it has something to do with the fact that it does not take into account datatypes in `Setω`. Perhaps @Saizan has a better idea.

[2022-01-14 15:43] omelkonian opened #5738 "Reflection: cannot programmatically give refl"
Consider the simple no-op macro that just unifies the hole with a given term:
[code]
We would expect this to work the same as directly writing the argument term, but this is not true even for a trivial equality by reflexivity:
[code]
[code]
If we examine the argument term and its type we discover that the problem lies with unresolved metavariables in `refl`'s implicit arguments and inferred type:

[2022-01-14 16:42] Saizan commented on #5730
Yeah, the left-inverse machinery should more gracefully give up in case it would need to transport in `Setω`.

More long-term we should have `transp/hcomp` primitives that apply to the `Setω` hierarchy, since they are considered fibrant.

[2022-01-14 16:58] jespercockx commented on #5738
This is a recurring issue / design flaw. What's going on is that Agda will first typecheck the term `refl` with a fresh meta as its type, then quote the result, and finally execute the call to `unify`. However, in the quoting process any link with the original term is lost, so there is no connection between the `refl` that you wrote in the code and the `refl` that ends up in the elaborated term. I

[2022-01-14 21:00] JacquesCarette commented on #5738
That last paragraph is extremely interesting indeed. What comes to mind is an abstract interface for each representation (handle on term, syntax representation). The internal representations could be extremely similar, but still offer a quite different external API of functionality.

I think of it like the difference between a directed graph and a Quiver. Formally, they are identical objects, but

[2022-01-15 02:05] gshen42 opened #5739 "Failed to build due to hGetContents"
I'm building Agda 2.6.2.1 on macOS with `ghc` 9.2.1 and `cabal` 3.6.2.0. The build mostly succeeded, but at the very end when it tried to type check some primitive module, it threw an error which says `hGetContents: invalid argument (invalid byte sequence)`. Here is the relevant output:
[code]

[2022-01-15 07:36] andreasabel commented on #5739
@gshen42 Could this be a _locale_ issue?  Please read up on #2922 and similar issues (google!).

[2022-01-15 13:15] nad commented on #4506
Apparently I also noticed this in [2018](https://github.com/agda/agda/issues/2922#issuecomment-360504242).

Perhaps you could use `//TRANSLIT` instead of `//IGNORE` when [selecting](https://hackage.haskell.org/package/base-4.12.0.0/docs/System-IO.html#v:mkTextEncoding) the text encoding. I have not tested the following code, but it might work:
[code]

[2022-01-15 13:17] nad commented on #2922
Well, I could reproduce the error message, but my code was rejected by Agda. I don't know what caused the problem reported in the OP.

[2022-01-15 13:46] nad opened #5740 "Optimise readTextFile"
Consider the implementation of `readTextFile`:

https://github.com/agda/agda/blob/9399b3a05e56b9957265949d2eeaba64e004e799/src/full/Agda/Utils/IO/UTF8.hs#L32-L42

The documentation for [`Data.Text.Lazy.IO.readTextFile`](https://hackage.haskell.org/package/text-2.0/docs/Data-Text-Lazy-IO.html#v:readFile) suggests that it is "much faster and safer" to read a lazy byte string and then use `Data.Text.

[2022-01-15 13:49] nad opened #5741 "Do not use readFile"
I noticed that the code uses `readFile` to read certain files that are (or should be) required to use the UTF-8 text encoding:

https://github.com/agda/agda/blob/9399b3a05e56b9957265949d2eeaba64e004e799/src/full/Agda/Interaction/Library.hs#L255-L260

https://github.com/agda/agda/blob/9399b3a05e56b9957265949d2eeaba64e004e799/src/full/Agda/Interaction/Library.hs#L295-L304

https://github.com/agda/ag

[2022-01-15 14:02] nad opened #5742 "Use GHC_CHARENC=UTF-8 when calling GHC"
We use `hGetContents` in `callCompiler'`:

https://github.com/agda/agda/blob/9399b3a05e56b9957265949d2eeaba64e004e799/src/full/Agda/Compiler/CallCompiler.hs#L55-L76

The handles `out` and `err` [use](https://hackage.haskell.org/package/process-1.6.13.2/docs/System-Process.html#t:StdStream) the default (locale) encoding. That is perhaps appropriate, if we know nothing about the encoding used by the

[2022-01-15 17:01] andreasabel commented on #5741
How? What do you suggest?
Use `readTextFile` from #5742?

[2022-01-15 17:44] nad commented on #5741
I guess you meant some other issue, but I think it is appropriate to use `Agda.Utils.IO.UTF8.readTextFile` to read these files.

[2022-01-15 18:02] nad commented on #5734
If code generated by macros were not trusted but checked, then it would presumably be safe to allow unrestricted use of erased definitions in macros. If the generated code satisfies all typing rules, then it does not matter if some erased name is used as part of the (compile-time) computation that generates the code. It might still be nice to catch errors early, though.

[2022-01-15 18:48] nad commented on #5742
If the environment variable `GHC_CHARENC` is set to `UTF-8`, then GHC appears to use UTF-8 for stdout and stderr:

https://github.com/ghc/ghc/blob/0dc723957d0fdb5909f145405b775efea0fe2f6e/ghc/Main.hs#L113-L118

https://github.com/ghc/ghc/blob/0dc723957d0fdb5909f145405b775efea0fe2f6e/libraries/ghc-boot/GHC/HandleEncoding.hs#L9-L17

The variable `GHC_CHARENC` does not seem to be mentioned in the GHC

[2022-01-15 18:51] nad commented on #5742
Perhaps `callCompiler` or `callCompiler'` are used by other packages. I suggest that we add an optional encoding argument to these procedures.

[2022-01-15 18:52] nad commented on #2922
I guess the reported problem is related to the GHC backend. The GHC backend writes text using `writeTextToFile`. It also reads output from GHC, using `callCompiler` (see #5742). Does the error message come from GHC, or from Agda? If someone encounters this problem again, then it may make sense to see what happens when `--ghc-dont-call-ghc` is used.

[2022-01-15 18:54] nad commented on #2922
Some problems I discuss above are part of another issue (#4506). I suggest that we restrict this issue to problems related to the GHC backend.

[2022-01-15 19:12] nad commented on #5739
The error message mentions `hGetContents`, and Agda should not make use of the locale to decide how to read something. Unfortunately that is not always the case (#5741, #5742).

It would perhaps be easier to debug this problem if we knew which instance of `hGetContents` causes it. One option is to compile Agda with profiling turned on, and use `+RTS -xc` to get a stack trace. I guess the error mes

[2022-01-15 23:29] gshen42 commented on #5739
Sorry, I didn't mention I was doing this on a M1 Mac, after doing some research, it seems like GHC 9.2.1 has some issues dealing with unicode (see https://gitlab.haskell.org/ghc/ghc/-/issues/20677 and https://discourse.haskell.org/t/psa-9-2-1-aarch64-miscompilation/3638), so it's not Agda's fault.

I reverted back to GHC 9.0.2 and everything works fine now.

[2022-01-16 08:31] andreasabel commented on #5739
Let's keep it open until it is fixed (either by us or upstream).

[2022-01-16 08:45] andreasabel commented on #5741
I think I meant #5740.

[2022-01-16 09:06] #5741 closed, assigned to nad

[2022-01-16 09:06] #5742 closed, assigned to nad

[2022-01-16 09:07] nad commented on #5739
I've at least fixed #5741 and #5742.

[2022-01-16 13:52] jespercockx commented on #5734
I'm not sure I understand what you are saying. Code generated by macros is already not trusted, as it always passes through the typechecker when it is unquoted. The only time you get an error "early" in the macro is when you use one of the TC primitives that take a term as input, but there it is really necessary to check that the input is well-formed because otherwise it could violate internal inv

[2022-01-16 16:19] jespercockx commented on #5734
Perhaps what you are saying is that we could allow the definition of a macro itself to be erased? This seems true to me and would be a good idea, but it's unrelated on whether the generated code is trusted or checked.

Edit: See #5744

[2022-01-17 10:31] nad commented on #5734
My understanding is that the unquoting code is trusted: if you make a mistake in the wrong part of `Agda.TypeChecking.Unquote`, then that could make Agda (more) inconsistent. That is perhaps to some degree unavoidable, but it appears to me as if we have not tried to make the trusted part of `Agda.TypeChecking.Unquote` as small as possible. Did I get that right? If not, why do you suggest using `wo

[2022-01-17 11:59] omelkonian opened #5745 "Reflection: name confusion under module parameters"
Here are two simple macros defined in a parametrized module:
[code]
`_∙A` applies `A` to a given name and `P∙A` just returns the term `P A` using `quote P`.
Both macros work when trying to generate the type `P A` (to be inhabited by the postulated term `PA`).

In another file now, with the same parameters, only the name-generic macro works!
[code]
It turns out that the name `quote P` inside the ma

[2022-01-17 13:23] #5726 closed, assigned to andreasabel

[2022-01-17 13:58] jespercockx commented on #5734
Ah yes, you are correct that the code in the implementation of Agda responsible for unquoting needs to be correct. In principle it just constructs the abstract syntax by running the user macro and then passes this to the typechecker, so there is not much that can go wrong, but it calls the typechecker in the wrong way (e.g. by wrapping it in a `workOnTypes` where it shouldn't) then that means the

[2022-01-17 15:14] nad commented on #5734
It is for reasons like this one that I wrote "That is perhaps to some degree unavoidable" above. Even with a fully verified type-checker, if you don't call the type-checker at all, or if you manipulate the source code incorrectly before you send it to the type-checker, then you can get incorrect results.

[2022-01-17 15:26] jespercockx commented on #5734
Yes, this is a problem that cannot be solved by verifying the typechecker, but it can in principle be solved by a much more strict separation between trusted and untrusted parts of the typechecker than we have now.

[2022-01-17 19:19] omelkonian opened #5747 "Reflection: termination of generated instance"
Assume you want to count the number of variables in a term and provide this as an instance to a `Countable` typeclass:
[code]

Termination checking passes in this case, but not if we generate the same instance declaration from a meta-program using reflection:
[code]
[code]

NB: The termination problem remains even if we explicitly pass the instance argument in the recursive `count` calls:
[code]

[2022-01-17 19:39] nad commented on #4506
Do the following error messages seem reasonable?
[code]
[code]
I'm not sure if the advice given for Windows is correct. I seem to recall reading somewhere that it might not suffice to change the code page, one should perhaps also change the locale (or something like that).

I have not added any test cases to the test suite.

[2022-01-17 23:05] JacquesCarette commented on #4506
I like those error messages.

When encountering a similar problem in my Drasil project on Windows (which is written in Haskell), the 'CHCP 65001' was enough to fix locale-related issues regarding printing on the console.

[2022-01-18 10:14] jespercockx commented on #5747
Thanks for reporting. Could you please add the imports to the example so we can try to reproduce the error? A standalone example is ideal but stdlib imports are fine too.

[2022-01-18 10:36] omelkonian commented on #5747
I've added stdlib imports.

[2022-01-18 11:07] nad commented on #4506
I tried the `//TRANSLIT` approach as well, and got the following outputs for the two examples above:
[code]
[code]
If you get this output, then you might understand that something is wrong, but it might not be so easy to figure out how to fix it. I think I'll add a flag that enables this approach, and mention it in the long error message.

[2022-01-18 11:55] nad commented on #4506
I added the option `--transliterate`. I thought about activating this option in the calls to Agda in `Setup.hs`, but those calls should not fail, and they use `-v0`, so I decided not to do this.

[2022-01-18 12:26] jespercockx commented on #5747
Indeed, I can now reproduce the problem. I don't know of any way in which termination checking is different for definitions defined through reflection, so I don't have an idea yet of what could cause this.

[2022-01-18 12:38] jespercockx commented on #5747
Looking at the debug output, it seems like for the version not using reflection Agda has eta-expanded the clause:
[code]
while this is not the case for the one defined by reflection:
[code]
However, manually eta-expanding the clause leads to unsolved metavariables since Agda cannot infer the type of the extended lambda.

[2022-01-18 13:52] nad commented on #5740
I tried to optimise `readTextFile`. I don't know if it made much of a difference, but I took the opportunity to change the error message that you get if Agda tries to read an Agda file that cannot be decoded. Before (with some changes related to #4506 in place):
[code]
After:
[code]

The compiler backends can create rather large text files, so perhaps it would make sense to optimise `writeTextToFi

[2022-01-19 08:47] andreasabel commented on #5740
Can we have this rendered more nicely?  I do not like it when `user error` leaks...

[2022-01-19 09:27] andreasabel commented on #5742
I reported this upstream: https://gitlab.haskell.org/ghc/ghc/-/issues/20963

[2022-01-19 14:19] nad commented on #5740
I was also not happy with this, but it is not obvious to me how to fix it:

* We could use `error` instead of `ioError . userError`, but then the error is not caught by Agda, we get a different exit code (1 instead of 42), and a stack trace is included with the error message.

* We could make `readTextFile` return something like `Either String Text`. However, that would force all callers to handle

[2022-01-19 18:27] andreasabel commented on #5740
Good idea.  A standard error handling as suggested in the next point could be added by wrapping this function in a handler somewhere, e.g. in our sin-bin Agda.TypeChecking.Monad.Base.

[2022-01-19 20:02] nad commented on #5740
What you suggest would complicate the source code, for (in my opinion) little benefit.

[2022-01-19 20:28] nad commented on #5731
Sometimes there are interaction points corresponding to solved meta-variables. I guess that `getInteractionScope` can be invoked for such meta-variables.

[2022-01-19 22:37] nad commented on #5731
I'm thinking of changing the representation of `MetaId` so that it contains two `Word64` values, like `NameId`:

https://github.com/agda/agda/blob/382861b1967b7ced0806343b8410709b2ce91df0/src/full/Agda/Syntax/Common.hs#L2331-L2333

What promises do we make about the results of the following functions?

https://github.com/agda/agda/blob/382861b1967b7ced0806343b8410709b2ce91df0/src/data/lib/prim/Agd

[2022-01-21 21:57] nad commented on #5731
@jespercockx, @UlfNorell: Do we not make any promises (other than injectivity)?

[2022-01-21 22:00] nad commented on #1948
I added some code which detects hash collisions. I only did this for `ModuleNameHash`, but `hashString` is used also in the parser and in the JS backend:

https://github.com/agda/agda/blob/84d1f047d2227941f393a35a1315b3a86e118c78/src/full/Agda/Syntax/Parser/Parser.y#L1383-L1399

https://github.com/agda/agda/blob/84d1f047d2227941f393a35a1315b3a86e118c78/src/full/Agda/Compiler/JS/Pretty.hs#L312-L313

[2022-01-22 08:00] andreasabel commented on #1948
Fine.
Just for the record, I restate my opinion here that identifying modules via hash is _wrong_, rather there should be a context of modules for a project and modules are identified via de Bruijn indices (in the general sense as pointers into this context).

[2022-01-22 10:00] jespercockx commented on #5731
I think the "promise" (if you want to call it that) is that the `TC` primitives do roughly the same as the actual Agda typechecker itself, so the numbers/names ought to correspond to what the user sees in error messages and such. I am not sure how important it is to keep this promise, though.

[2022-01-23 21:34] omelkonian opened #5750 "Reflection: unexpected inferred type of goal"
The following macro just infers the type of the hole and prints it:
[code]
I would expect `ty` to be `⊤ → ⊤`, but the argument appears to be a meta-variable instead:
[code]

----
*agda: 2.6.2.1*
*stdlib: 1.7*

[2022-01-24 07:15] UlfNorell commented on #5731
I think it would be good if you could still use those functions to implement a pretty printer for `Term` that matches (more or less) how Agda prints terms.

[2022-01-24 15:20] omelkonian commented on #5738
This still bugs me, as I would expect my macro to work even without the connection you mention.
We have a hole of type `5 ≡ 5` and a term given by the user of type `refl {unknown} {unknown} {unknown}`:
shouldn't `unify` itself replace the `unknown`s inside `refl` appropriately, without the need for your quoting workaround?

[2022-01-24 15:37] jespercockx commented on #5738
Yes, those metavariables are indeed solved. The problem is just that *before* running the macro, Agda has already typechecked `refl` at an unknown type, and the metas created during this process have not been solved. So the problem is really that Agda always typechecks arguments (at unknown type) before passing them to a macro.

[2022-01-24 15:41] #4506 closed, assigned to nad

[2022-01-24 15:43] omelkonian commented on #5738
Aha, now I think I get it! I had confused the notion of a term at unknown type (`unknown`) with a meta-variable (`meta ?152`).

So, ideally we would like the term to be `refl {meta_?178} {meta_?179} {meta_?180}` inside the macro, right?

[2022-01-24 15:43] nad commented on #5740
I pushed my change. It is still possible to change the code.

[2022-01-25 07:42] isovector opened #5751 "json interaction produces Haskell output for `SolveAll`"
Compare the `--interaction` output for `Cmd_solveOne`:

[code]

to the `--interaction-json` output for the same command

[code]

Oops! It looks like the Haskell value is getting shown:

https://github.com/agda/agda/blob/015759ce86586343acff8fe73c98656ed25bde76/src/full/Agda/Interaction/JSONTop.hs#L426

rather than the pretty printed expression from `--interaction`:

https://github.com/agda/agda/bl

[2022-01-25 13:25] nad opened #5753 "Fix or disable broken test cases"
Some test cases depend on the Agda library, and may or may not work depending on what is installed. I've found the following examples in `test/interaction`:

https://github.com/agda/agda/blob/9a29f3a1f5e24c818bdabbf2c17d0f79887aa8b4/test/interaction/Issue720.hs#L7

https://github.com/agda/agda/blob/9a29f3a1f5e24c818bdabbf2c17d0f79887aa8b4/test/interaction/Issue983.hs#L6

https://github.com/agda/ag

[2022-01-25 13:32] nad commented on #5753
I found three more examples:

https://github.com/agda/agda/blob/9a29f3a1f5e24c818bdabbf2c17d0f79887aa8b4/test/api/Issue1168.hs#L14-L21

https://github.com/agda/agda/blob/9a29f3a1f5e24c818bdabbf2c17d0f79887aa8b4/test/api/PrettyInterface.hs#L17-L29

https://github.com/agda/agda/blob/9a29f3a1f5e24c818bdabbf2c17d0f79887aa8b4/test/api/ScopeFromInterface.hs#L27-L41

When I run `make api-test` I get the

[2022-01-25 13:37] nad commented on #5753
The API test cases could perhaps be integrated into the `agda-tests` program.

[2022-01-25 13:58] JacquesCarette commented on #5753
My experience (from long ago as a professional software developer) was that disabling tests seemed to always come back to bite us, because someone re-broke the thing that ways being tested. Even changing the way the test was conducted sometimes defeated the point of the test, as the original method was a better trigger of the bad behaviour!  [Unfortunately, the time elapsed between the test being

[2022-01-25 16:09] wouter-swierstra commented on #5722
Thanks again for all your input! I've managed to rewrite my code so that the sharing is indeed preserved based on some of your suggestions -- and it seems to work.

At the same time, I won't close the issue as it seems like the interaction between copatterns/coinduction and laziness may still need some additional thought.

[2022-01-25 16:25] nad commented on #5731
I suppose that the implementations should match the implementations in `Agda.Compiler.MAlonzo.Primitives` (but I don't know if you can construct a `Meta` that can be used at runtime without using the FFI).

[2022-01-25 16:38] jespercockx commented on #5731
Well, about that...
[code]
Trying to compile this with the GHC backend this produces an internal error:
[code]

[2022-01-25 16:45] nad commented on #5731
Please open a separate issue for that bug.

[2022-01-25 16:54] jespercockx opened #5754 "Internal error when compiling program with quoted metavariable"
(forked off from the discussion at https://github.com/agda/agda/issues/5731)
[code]
Trying to compile this with the GHC backend this produces an internal error:
[code]

P.S. (Andreas): Error is thrown here:
https://github.com/agda/agda/blob/5f074ffbb86024f32f94f7b2372d2cfaeda73d9e/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L1110

[2022-01-25 17:10] nad commented on #5731
Is it a problem if the numbers created by `primMetaToNat` are large (2^64 times the module name hash plus the sequential meta-variable number)? Are there any reasonable tactics that do something recursive with the natural numbers that you obtain from this function? Using the equality and ordering tests from `Agda.Builtin.Nat` should be fine.

[2022-01-25 17:15] jespercockx commented on #5731
I think they're just meant to be unique identifiers, so I would really hope no-one ever recurses on them.

[2022-01-25 18:14] #5751 closed, assigned to nobody

[2022-01-25 18:17] andreasabel commented on #5719
The is likely no MWE coming.  Closing.

[2022-01-25 20:25] AndrasKovacs opened #5755 "Cubical Agda & non-injectivity of Glue"
I'm trying to catch up on the rules used in modern cubical TT implementations. For Agda, I looked at http://www.cse.chalmers.se/~simonhu/misc/hcomp.pdf, which is AFAIK the only online documentation on computation rules on `Glue`. The [source code](https://hackage.haskell.org/package/Agda-2.6.2.1/docs/src/Agda.TypeChecking.Primitive.Cubical.html#compGlue) appears to largely follow this.

Now, looki

[2022-01-25 20:25] nad commented on #5753
Another broken test case:
[code]
I don't see why this test case needs to be part of `make test`.

[2022-01-25 20:31] nad commented on #5731
In order to avoid getting horrible error messages (with things like `_1@10189251152579365012` instead of `_1`) I made the module name hash "optional", and omit it for the current module. An alternative would have been to replace the `Pretty` instance for `MetaId` with a `PrettyTCM` instance, so that the pretty-printer could see if the `MetaId` was from the current module, but I expect that this wo

[2022-01-26 09:53] andrejbauer commented on #5719
Sorry for the delay. Using Agda 2.6.2 on MacOS, I can confirm that the problem is caused by case-insensitive file names. When I make sure that the file name matches, I get a reasonable error (about termination checking).

Is there a way for Agda to fail more graciously, or should we just blame Apple for this bug?

[2022-01-26 11:12] gallais commented on #5719
Looks like `Agda.Interaction.FindFile` already has the right logic. Should this ifdef:

https://github.com/agda/agda/blob/798be60d51a56a8c74cfd309c1498b070240e686/src/full/Agda/Utils/FileName.hs#L107-L114

also be activated for mac?

[2022-01-26 11:27] L-TChen opened #5757 "Freshly generated instance by reflection cannot be searched"
If a name is generated by reflection using `freshName`, then it cannot be used as an instance even though it is declared so. For example, consider the following record type `_HasNat` which merely contains a natural number:
[code]

Then, for every `Name` an instance is defined by macro with its name freshly generated:
[code]

As far as I know, I understand that the name generated by macro cannot be

[2022-01-26 13:37] jespercockx commented on #5757
Instance search requires that the name of the instance is in scope (unqualified or qualified) for it to be considered. This prevents e.g. private instances from other modules from polluting the instance scope. However, it seems likely that names generated by `freshName` are also not considered to be in scope (since the user cannot refer to them) and hence the same logic in the instance search algo

[2022-01-26 14:20] L-TChen commented on #5757
If the instance search algorithm considers names generated by `freshName`, then it is possible to define Haskell-style `deriving` as a macro. I am testing different usages of my library in development, and it seems that `deriving` could be useful.

Could you point out where to start if I’d like to change this behaviour? Adding an option at least should be okay?

[2022-01-26 14:34] jespercockx commented on #5757
The currently supported way of defining `deriving`-like macros in Agda is by using `unquoteDecl` or `unquoteDef`. What is the problem with using those instead (except obviously the fact that you are required to give a name to the instance yourself)?

[2022-01-26 15:05] L-TChen commented on #5757
Yes, I can use `unquoteDecl` to define `deriving`-like macros, but I don’t really want to give a bunch of names which can be inferred and are never referred explicitly.

[2022-01-26 15:23] jespercockx commented on #5757
Fair enough, though there's good reasons for wanting each definition to have an actual name that's written in the source code, e.g. for showing them in error messages.

If you anyways would like to experiment with changing instance search so it also considers names generated by `freshName`, the point to start would be at https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/InstanceA

[2022-01-26 15:47] andreasabel opened #5758 "Generated Haskell code has redundant matches triggering GHC warnings"
Generated Haskell code produces tons of `overlapping-patterns` warning because we have a catch-all in every alternative:
[code]

Suggested fix: Put
[code]
into the generated Haskell files.

[2022-01-26 15:58] andreasabel commented on #5758
Currently, the `no-overlapping-patterns` option is passed in from inside Agda when calling GHC:
https://github.com/agda/agda/blob/798be60d51a56a8c74cfd309c1498b070240e686/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L1284-L1292
However, we might process the generated `.hs` files from outside after `--dont-call-ghc`, e.g. with `cabal` or `stack`.  So I think it is better the option is written to each

[2022-01-26 21:04] nad commented on #5758
If you include `-Wno-warn-overlapping-patterns` in the files, why not also `-Wwarn-incomplete-patterns`?

[2022-01-26 23:20] nad commented on #5731
I've started implementing the things above, and unsurprisingly my first attempt did not work. An internal error is raised when the result of type-checking the following code is serialised:
[code]
The problem is that the definition of `f` contains `__DUMMY_TERM__`:
[code]
As you can see I obtained the result above for Agda 2.6.2. I suppose that this is not a problem for Agda 2.6.2 because of the us

[2022-01-27 08:14] UlfNorell commented on #5731
The way generalisation works is it checks a type to be generalised in scope of a variable `genTel : ?G`. Once we know what metavariables to generalise over `?G` is instantiated with a record type packing them up and the metas are instantiated with the corresponding projections from `genTel`. Finally we perform the substitution unpacking the record type giving us a type that depends on the telescop

[2022-01-27 08:54] andreasabel commented on #5719
No, sorry @andrejbauer, this it totally Agda's fault.  I am on macOS myself, so I would be curious to reproduce the issue, but I was lacking information (i.e., the spelling of the filename of the module).  Issue #5508 could be related, which is fixed on Agda 2.6.2.1.  Could you please try to reproduce the issue on 2.6.2.1 (or complete the information so I can reproduce it)?

[2022-01-27 08:55] jespercockx commented on #5731
Doing a pass to instantiate all metavariables that were generalized right after generalization seems like it would be a reasonable thing to do: the instantiations are always just variables, so it does not blow up the size of the term.

[2022-01-27 09:00] andreasabel commented on #5508
(Had to reopen the issue just to link it to #5510.)

[2022-01-27 09:00] #5508 closed, assigned to andreasabel

[2022-01-27 09:16] andreasabel commented on #5719
Trying to remember my thought process here.  OK:
- For one, fixing `doesFileExistCaseSensitive` according to the _compile-time_ OS (rather than the _runtime_ OS) is a hack in the first place (think cross-compilation), but well.
- But then, case-sensitivity is not really an _OS_-specific thing, but a it is _file-system_ specific, if I am not mistaken. You can access a case-insensitive system also f

[2022-01-27 12:26] nad commented on #5719
[Apparently](https://www.collabora.com/news-and-blog/blog/2020/08/27/using-the-linux-kernel-case-insensitive-feature-in-ext4/) some recent Linux kernel supports file systems for which `floß` and `FLOSS` refer to the same file.

What is the goal with Agda's support for case-insensitive file systems? One goal is presumably to avoid making users confused. Should we also aim to ensure maximum portabil

[2022-01-27 15:05] andreasabel commented on #5719
Yes!  I definitely support this.

That sounds too complicated.
If you are using non-ASCII Unicode characters in your filenames, you have to be prepared for trouble.

I'd stick to the common case of upper/lowercase confusions.

[2022-01-27 15:22] nad commented on #5719
[code]

[2022-01-27 15:26] nad commented on #5719
Perhaps one should first normalise:
[code]

[2022-01-27 19:29] andreasabel commented on #5719
This suggests that `text-icu` provides the standard.  I can change my mind, knowing a standard exists...

[2022-01-27 19:52] andreasabel commented on #5758
Good question.  I want users to be able to switch on `-Werror=overlapping-patterns` without failing at the Agda-generated code which they cannot influence.  We _know_ that the overlaps introduced by Agda do not point to potential logical errors in the code and are all harmless.

What would be the motivation to force `-Wincomplete-patterns` in the Agda-generated files?  Say Agda knows that a match

[2022-01-27 20:19] UlfNorell commented on #5758
Note that we do rely on the `-Wincomplete-patterns` for checking that Agda data types bound to Haskell types are not leaving out any constructors:
[code]
fails with
[code]

[2022-01-28 00:40] AndrasKovacs commented on #5755
Here's a more concrete example.

[code]

At the final `f` definition, I can print out the normal form, and try to typecheck it, but this gives multiple errors which are pretty much impossible to interpret, and which are not necessarily related to the problem that I described.

Anyway, I don't think it's essential to try to check the normal form. It should be enough for my purpose to look at the fo

[2022-01-28 15:28] andreasabel commented on #5659
The new RC4 breaks very little, but the removal of `ErrorT` will still affect us.
(EDIT: Rather, our dependencies.)

[2022-01-28 19:46] AndrasKovacs commented on #5755
After reviewing [CHM](https://arxiv.org/pdf/1802.01170.pdf) and digesting this problem a bit more, "checking constancy during reduction" seems the most practically sensible solution. There's another somewhat sensible design, namely the one in CHM sections 3.1-3.3, where `comp` is the primitive Kan operation for *arbitrary* types, and `hcomp` and `transp` are bundled to specific canonical & injecti

[2022-01-29 16:33] nad commented on #5755
Perhaps @Saizan or @mortberg could comment about this.

[2022-01-29 17:37] nad opened #5760 "Some code related to Cubical Agda runs also when the K rule is on"
I suppose that it would make sense to not run the following code when the K rule is on:

https://github.com/agda/agda/blob/798be60d51a56a8c74cfd309c1498b070240e686/src/full/Agda/TypeChecking/Rules/Data.hs#L188-L189

@Saizan, do you agree?

[2022-01-29 18:41] ElifUskuplu opened #5761 "Two-level & cumulativity interaction"
Hi, I'm making an experiment abou 2LTT, and after adding `two-level` and `cumulativity` flags, I experinced something strange. We can prove Lemma 2.11 in that [paper](https://arxiv.org/abs/1705.03307). However, using a coercion `c : Set i -> SSet i` sending `A |-> A` we can also prove that some maps, which shouldn't be isomorphisms, are isomorphisms. So there might be bug about type checking. Here

[2022-01-29 19:55] MatthewDaggitt opened #5762 "Installation of Agda fails when missing executable from `executables` file"
If you have an executable listed in your `executables` file that is missing, and you try to install Agda, it fails. The error message given does mention that the executable is missing, but doesn't flag that its the main cause. I'd diagnosed it as a configuration problem with Cabal, and I've spent about 10 hours in the last few days nuking and reinstalling cabal/Agda repeatedly trying to get to the

[2022-01-29 20:11] nad commented on #5762
There is an option `--no-libraries` that (I hope) ensures that the `libraries` and `defaults` files are not read. We could add a similar option for the `executables` file, and use it in `Setup.hs`.

[2022-01-30 00:08] sattlerc commented on #5755
I can't speak to the implementation in Cubical Agda, but the incorrect unfolding of the arguments for transp for Glue in http://www.cse.chalmers.se/~simonhu/misc/hcomp.pdf looks like a simple mistake with no consequences. The definition does not depend on it. (We still have Γ, ψ, i : 𝕀, φ ⊢ T = T(i/0).)

Recall that `transp` and `hcomp` are special cases of `comp`.

`comp` for `Glue [φ ↦ (T, w)] A

[2022-01-30 01:22] foones opened #5763 "Internal parser error using syntax rules"
The following snippet produces an internal (`__IMPOSSIBLE__`) parser error at `src/full/Agda/Syntax/Concrete/Operators/Parser.hs:114:77` in Agda-2.6.2.1. I have tried it in a slightly older version (Agda-2.6.1) with similar results:
[code]

[2022-01-30 07:37] AndrasKovacs commented on #5755
@sattlerc yeah, that's what I describe in my previous comment as option 2. It does have consequence in the Agda codebase, because it needs significant refactoring and it appears to be less efficient. For an example for inefficiency, if I do

    transport (λ i → Susp (A i)) north

In the current Agda it computes to `north` right away. But if we only have `comp` as primitive at arbitrary types, the

[2022-01-30 08:37] Saizan commented on #5760
Yes, I agree.

[2022-01-30 10:03] sattlerc commented on #5755
I was not suggesting to take `comp` as primitive. I was just explaining the high-level perspective of how `transp` for `Glue [φ ↦ (T, w)] A` arises from `transp` for `T` and `transp` and `hcomp` for `A` (using the `comp`-based point of view as given).

None of options 1 and 2 should be needed.

[2022-01-30 10:38] AndrasKovacs commented on #5755
OK I think I get it. You say that the computation rule should be just

    transpⁱ (Glue [α ↦ (T, f)] A) β g₀ := compGlueⁱ [α ↦ (T, f)] A [β ↦ g₀] g₀

where `compGlueⁱ` is the computation rule for `comp Glue`, and we can use that without needing primitive `comp`. I was fixated on how the original definition breaks without the `A` constancy assumption, but indeed there's a different definition whic

[2022-01-30 10:50] Saizan commented on #5755
As you say though the assumed injectivity is relied on for other type formers, so algebraically we have to revise those rules as well, if we want them to be sound in cubical sets with the usual interpretation of type formers.
Once we do that we would have to see if the current rules are still admissible or not.

There is also a fourth option here: move to some version of cartesian cubical type the

[2022-01-30 15:38] nad commented on #5763
One cannot use lambda abstractions as patterns (excluding dot patterns), but the error message should be better.

[2022-01-30 15:48] andreasabel commented on #5763
The error is raised here (second `__IMPOSSIBLE__`): https://github.com/agda/agda/blob/798be60d51a56a8c74cfd309c1498b070240e686/src/full/Agda/Syntax/Concrete/Operators/Parser.hs#L109-L118

This never worked properly, there is an internal error all the way back to 2.4.2.6 (and probably further).

[2022-01-30 16:30] andreasabel commented on #4883
Looks like I finally know how to make progress on this issue: https://github.com/haskell/cabal/issues/7368#issuecomment-1025176917

EDIT: I can make progress on the "cabal v1 command" by changing it to a "cabal v2 command".  But this issue seems about a `type-check` goal for `stack`.

[2022-01-30 16:41] andreasabel commented on #5758
Ok, this could be a reason to write it to the files as well.  Do you suggest this?
I am still not sure this is good practice.  Note that this cannot be overwritten from the outside then, can it?

[2022-01-30 18:19] nad commented on #1948
If you take this approach, isn't there a risk that you have to reprocess lots of files if you add or remove a module?

[2022-01-30 22:51] nad opened #5764 "Dummy terms are always treated as equal"
Why are `Dummy` terms always treated as equal by the syntactic equality check, even if the `Elims` are not equal?

https://github.com/agda/agda/blob/0b71569945ba8cb0fefb7e9e450ed04b855b286a/src/full/Agda/TypeChecking/SyntacticEquality.hs#L100

Was this something that was missed when the `Elims` argument was added to `Dummy` (in which case it should be fixed), or is it fine (in which case I think s

[2022-01-31 07:58] UlfNorell commented on #5764
Dummy terms are only supposed to be used in places where they will not be looked at (see for instance our recent discussion on generalise https://github.com/agda/agda/issues/5731#issuecomment-1022953478), so treating them as irrelevant for syntactic equality makes sense.

[2022-01-31 08:59] andreasabel commented on #1948
All that import this module.  But this has to be done anyway.

Analogy: In the small:
It is like identifying definitions inside a file by de Bruijn indices.  If you add/remove a definition, everything below that definition has to be re-checked. Definitions that are exported will be sitting in an export table that maps names to de Bruijn indices.

How would interface files look?
They contain a tabl

[2022-01-31 10:05] andreasabel commented on #5762
Do we have to verify the contents of the `executables` file eagerly whenever starting Agda, or could this be done lazily, when using an executable the first time?  CC @wenkokke

[2022-01-31 14:50] nad commented on #1948
I thought your idea was to have a global table of de Bruijn indices. Local tables make more sense. However, I don't see the need for contiguous numbers: any bijection between used top-level module names and some subset of the integers would do, and that way you could avoid having to renumber module identifiers when writing interfaces (but you might have to renumber when loading an interface).

[2022-01-31 14:55] nad commented on #5764
In that case, what is the point of the `Elims`?

https://github.com/agda/agda/blob/0b71569945ba8cb0fefb7e9e450ed04b855b286a/src/full/Agda/Syntax/Internal.hs#L218-L224

Could they be removed?

[2022-01-31 15:29] jespercockx opened #5765 "Erasure check failure when pattern matching on refl in erased definition"
The following file is currently not accepted:
[code]
Error message:
[code]
However, since the definition of `f` itself is marked as erased, I think this function should be completely fine and hence the error does not make sense. To justify this intuition, Agda accepts the file if we translate the pattern match on `refl` to an application of `J`:
[code]
To fix this, I believe it would be fine to ju

[2022-01-31 16:23] jespercockx commented on #4743
When developing a backend for Agda (e.g. Agda2Hs) it would be very useful to be able to mark various top-level definitions as being erased: modules but also individual datatypes and record types. Likewise, it would be good to be able to add an erasure annotation to a module import, so as to avoid having that import in the code generated by the backend.

[2022-01-31 19:54] nad commented on #5765
That makes sense to me.

[2022-01-31 22:40] nad commented on #5731
I made serialisation of meta-variables optional. The feature is *disabled* by default, and can be controlled using the pragma options `--save-metas` and `--no-save-metas`.

Some notes about the implementation:

* Perhaps I managed to fix the problem with `__DUMMY_TERM__` that we discussed above (meta-variables are now instantiated using the new procedure `instantiateWhen`). That fix also fixed a p

[2022-01-31 22:43] nad commented on #3094
Now that Agda can serialise meta-variables (#5731) it might make sense to revisit this idea.

[2022-02-01 07:18] andreasabel opened #5768 "CI: Installation of ICU lib failing on `stack.yml`/`windows-latest` workflow"
The installation of the ICU lib started failing on `stack.yml`/`windows-latest` workflow on 2022-01-23 and is still broken.  Seems to be a problem with certificates.  Trying a couple of hours to fix this, I gave up and reported it upstream.  Detailed description and workaround attempts at
- https://github.com/actions/virtual-environments/issues/4987
- https://github.com/agda/agda/tree/ci-stack-win

[2022-02-01 10:07] andreasabel commented on #5764
They do help in debugging...  Are they harmful?  If they confuse, the documentation should be extended.

[2022-02-01 15:38] jespercockx opened #5769 "Parameter arguments of projections of instance-opened record type are not erased"
Consider the following code:
[code]
This results in the following error:
[code]
In contrast, defining `g {x} {{r}} = R.f {x} r` instead works just fine. So this looks like there's a bug in the implementation of the instance-open syntax `{{...}}`.

[2022-02-01 15:39] jespercockx commented on #5769
Workaround until this is fixed: instead of using the `{{...}}` syntax, define `f` by hand:
[code]

[2022-02-01 16:34] nad commented on #5769
Note that the parameters are erased in the type of the record constructor, but not in the record module's telescope (https://github.com/agda/agda/issues/4786#issuecomment-820510925).

[2022-02-01 16:38] jespercockx commented on #5769
Yeah, now I actually wish it were possible to mark the module parameters of the record module as erased, but without marking the arguments to the record type as erased.

[2022-02-01 16:43] jespercockx commented on #5769
Actually, would that be a reasonable thing to do? We are already changing the visibility of the record parameters to be hidden; why not also change the quantity to `@0` at the same time?

[2022-02-01 16:45] nad commented on #5769
A workaround, if you really want to have a module with the same name as the record type:
[code]

[2022-02-01 16:48] nad commented on #5769
It is not necessarily the case that all code in a record module can be type-checked when the parameters are erased.

[2022-02-01 16:49] jespercockx commented on #5769
Yes that works, unfortunately I also do care about being able to use the actual unqualified name of the field in copatterns.

That is something we could check. (At the cost of throwing error messages about erasure at users who did not use erasure in their code.)

[2022-02-01 16:58] nad commented on #5769
Are you suggesting that we should see if the code type-checks with `@0`, and only change the telescope if it does? I would prefer if the user had to declare their intention more explicitly. One could imagine using some kind of keyword in the record type's header, but what if you want to mark only some parameters as erased in the record module? I suggest that we first get some experience with this

[2022-02-01 17:21] andreasabel commented on #5731
Your last remark should find a more visible home, e.g. as a commentary in the Agda code base.

[2022-02-01 17:24] jespercockx commented on #5769
Yeah no I agree completely that we should not decide on whether or not it checks, what I meant was that we might just always mark parameters of the record module as erased. But this doesn't seem possible since you have an example that would be broken by this change. So perhaps a specific keyword to toggle on erasure of record parameters would be the best solution.

Independently of whether we deci

[2022-02-01 18:44] nad commented on #5731
I don't think it makes sense to put all of that text in the code, but I can integrate some parts:

I can add some comments to the relevant files.

I can add a note to the documentation of `lookupMeta`.

[2022-02-01 22:55] andreasabel commented on #5659
Seems we are hit by the following innovation in `transformers-0.6`:

[code]
Problem here:
https://github.com/agda/agda/blob/c7499fb8a85eb8be160246ad5a2f0996c43eea9f/src/full/Agda/TypeChecking/Monad/Base.hs#L4263-L4276
[code]

Reported this problem upstream:
- https://hub.darcs.net/ross/transformers/issue/85
- https://gitlab.haskell.org/ghc/ghc/-/issues/19922#note_405825

[2022-02-02 09:11] andreasabel commented on #5659
According to my experience so far, Agda 2.6.2.1 could be relaxed to `mtl < 2.4` if restricted to `transformers < 0.6` (the latter is implicit in `mtl < 2.3`).  Let's do this revision once `mtl-2.3` is out.

[2022-02-02 11:11] nad commented on #5731
I opted to replace the calls to `lookupLocalMeta` with a variant that notes that the auto command does not support remote meta-variables, and that suggests the use of `--no-save-metas`.

Done.

[2022-02-02 12:44] RossPaterson commented on #5659
Would this be fixed if agda changes the instance to
[code]
and transformers limits the constraint to GHC >= 8.8?

[2022-02-02 13:58] jespercockx opened #5770 "Option to erase record parameters in record module without erasing them as arguments to the type"
As noted in https://github.com/agda/agda/issues/5769, it would be useful to have an option (either a global flag or a record keyword) to mark the parameters of a record module as being erased (as in having a `@0` annotation) without marking the arguments to the record type itself as erased.

This would mean for example that the following code should be accepted:
[code]
... and the following code s

[2022-02-02 14:50] jespercockx commented on #5769
I've made a separate issue for erasure of module parameters from definitions inside the record module: https://github.com/agda/agda/issues/5770

[2022-02-02 16:21] andreasabel commented on #5659
@RossPaterson : Thanks for engaging!  I will investigate your suggestion and get back to you.

[2022-02-02 18:19] andreasabel commented on #5659
@RossPaterson : Indeed, your fix simply works for all our GHC versions!, except for GHC 8.6.
(I was afraid the choice of superclass constraint of `Monad (TCMT m)` would affect more locations, but its really just that bit now (after my previous AMP-refactoring).)

So your suggested revision of `transformers-0.6.0` would work for us.

[2022-02-02 18:31] RossPaterson commented on #5659
Glad to hear it. The change is in `transformers-0.6.0.3`.

[2022-02-02 20:57] nad commented on #5770
As I wrote elsewhere I think we should wait a bit until we have more practice writing code like this. We can already express what you want to express, except that you might not be able to use certain names.

I saw that there is a bug in agda2hs that you want to fix. Perhaps it makes sense to change Agda in order to fix this bug, but I don't think we should rush things.

Currently record modules ar

[2022-02-02 21:07] andreasabel opened #5773 "Support `text-icu-0.8.0`"
Version 0.8.0 of `text-icu` breaks build for GHC < 8.10:
- https://github.com/haskell/text-icu/issues/60 (https://github.com/haskell/text-icu/issues/61)

Further, the release of `text-icu-0.8.0` broke our CI:
- [x] Haddock: https://github.com/agda/agda/runs/5042477191?check_suite_focus=true#step:7:404
[code]
- [x] Cabal/Windows: https://github.com/agda/agda/runs/5042480710?check_suite_focus=true#s

[2022-02-02 21:43] nad opened #5774 "Repeated work"
I found some examples of repeated work:

* The termination checker uses `instantiateFull` for `Def`:

  https://github.com/agda/agda/blob/c7499fb8a85eb8be160246ad5a2f0996c43eea9f/src/full/Agda/Termination/TermCheck.hs#L776

  The result is not retained. The positivity checker uses `instantiateFull` for function clauses:

  https://github.com/agda/agda/blob/c7499fb8a85eb8be160246ad5a2f0996c43eea9f/

[2022-02-02 22:15] #5659 closed, assigned to andreasabel

[2022-02-03 09:01] jespercockx commented on #5770
The problem with "waiting until we have a bit more practice" is that this issue is currently preventing me from experimenting further with using `@0`: it is currently impossible to mark record module parameters as erased, which means all functions that use a function defined in a record parameters can also not have erased arguments, which renders the whole exercise pointless.

Technically I can wo

[2022-02-03 11:34] nad commented on #5770
If agda2hs relies on the use of this option, not only in the implementation of agda2hs, but also in the Agda code, isn't there a risk that we will have to support it to ensure backwards compatibility? I'm fine with adding the option temporarily, use it for testing, and then evaluate it before we release the next version of Agda.

(By the way, I suspect that lots of code in the standard library wil

[2022-02-03 13:20] jespercockx commented on #5770
I could create a separate branch of Agda2Hs for testing out this new flag, but keep the main version as it is until and unless we decide to keep the behaviour of `--erase-record-parameters` in Agda (either as an option or as the default behaviour). I cannot promise that no people will start using this version and decide they like it better than the current one and will thus demand this flag to sta

[2022-02-03 13:28] jespercockx commented on #5770
Regarding the standard library: It is the kind of change that only works when you consistently annotate arguments with `@0` across your codebase, so I understand that the standard library will not just check with this option enabled.

[2022-02-03 15:41] nad commented on #5770
Sure.

If you use `--without-K`, then you cannot even mark all "types" with `@0`. The following code is rejected (#4784, #5448):
[code]
[code]

[2022-02-04 01:14] isovector opened #5775 "JSON interaction produces fully qualified terms"
Consider the following interaction via `--interaction`:

[code]

vs `--interaction-json`:

[code]

The resulting goals are very different:

[code]

vs

[code]

[2022-02-04 01:19] isovector commented on #5775
The difference here appears to be that `EmacsTop` calls `showGoals` before handing it off:

https://github.com/isovector/agda/blob/c15b484129e55d62cbab17550286cd7d2403e133/src/full/Agda/Interaction/EmacsTop.hs#L125

while JSON sends it as is:

https://github.com/isovector/agda/blob/c15b484129e55d62cbab17550286cd7d2403e133/src/full/Agda/Interaction/JSONTop.hs#L263

[2022-02-04 09:56] nad commented on #3094
One idea is to treat instantiated meta-variables like (simple) function definitions. We already have (or should have) code that ensures that, for a definition like `f (suc n) = f n + f n`, we only look at the right-hand side of `f` once in, say, the termination checker. However, for code like `f x = _12 x + _12 x` we look at the body of `_12` multiple times in (for instance) the termination checke

[2022-02-04 10:25] nad commented on #5388
Once my changes related to issue #5731 are merged we have a separate meta-store for open meta-variables.

After the merge this operation is linear in the number of open meta-variables. The operation is only used in `createInterface`, so perhaps that is fine.

[2022-02-04 10:25] #5388 closed, assigned to nobody

[2022-02-04 10:34] nad commented on #5443
This function is used for looking up names:

https://github.com/agda/agda/blob/8d77d03e4b99051f4d119252968b2533798af800/src/full/Agda/TypeChecking/Reduce/Fast.hs#L435-L443

Note that `memoQName` already uses `unsafePerformIO` (in a nested way!):

https://github.com/agda/agda/blob/8d77d03e4b99051f4d119252968b2533798af800/src/full/Agda/TypeChecking/Reduce/Fast.hs#L387-L391

Perhaps one could set thi

[2022-02-04 11:21] andreasabel commented on #5768
The workaround that got me further is actually this one:
- https://github.com/commercialhaskell/stack/issues/5567#issuecomment-865297387
[code]
Now I am stuck at https://github.com/agda/agda/runs/5065495277?check_suite_focus=true#step:12:192
[code]
 (with `text-icu-0.7.1.0`)

[2022-02-04 11:37] #5731 closed, assigned to nad

[2022-02-04 12:47] laMudri opened #5778 "An agda-mode REPL"
It came up recently on the mailing list that several people want a REPL that takes into account a local scope. I think this could make a good AIM project if there's a sensible design to work to. Here I'll list the design I have in mind.

1. Pressing `C-c C-p` in a hole pops out a REPL.
2. The REPL window replaces the `*Agda information*` buffer (the one usually containing the list of holes or curr

[2022-02-04 13:35] jespercockx commented on #5778
This is a great proposal. One thing to keep in mind is compatibility with other IDEs, either through the JSON API or possibly by being able to run the REPL in a standalone modus.

As for commands that should be supported, aside from inferring types and normalizing I also would like one for elaborating a term (i.e. the equivalent of `C-c C-m` but without a hole).

For naming the commands, I'd say t

[2022-02-04 14:11] #5760 closed, assigned to nad

[2022-02-04 14:22] gallais commented on #5778
Inspiration from Idris2:

* `:set/:unset` options (such as `showimplicits`)
* `:doc` (displaying the doc attached to a definition, instances in scope if the identifier is an interface or a datatype that satisfies  some interfaces, etc.)
* `:browse X.Y.Z` to browse the content of a namespace
* `:logging` to set the Idris2 equivalent of `-v` options (`:logging off` to revert back to silent REPL)

[2022-02-04 16:29] nad commented on #5778
I'm not sure that this is what @txa and @csetzer have in mind. Note that @csetzer wrote that he does not want to create a dummy goal. However, it could still be useful.

[2022-02-06 21:04] andreasabel commented on #5773
Relevant for `stack` build:
- https://github.com/commercialhaskell/stack/issues/5567

This magic might be relevant for the cabal/win build (updating msys2 outside of stack):
[code]
From:
- https://github.com/actions/virtual-environments/issues/4987#issuecomment-1027711773

[2022-02-07 11:31] andreasabel commented on #5768
Trying to upgrade to `text-icu-0.8.0` I am getting [this error](https://github.com/agda/agda/runs/5092114483?check_suite_focus=true#step:11:1307):
[code]

UPDATE: This seems to be fixable by adding:
[code]

[2022-02-07 13:17] #5768 closed, assigned to andreasabel

[2022-02-07 16:35] andreasabel commented on #5659
Revision 3 of 2.6.2.1 to allow `mtl-2.3` but restrict to `transformers-0.5.*`: https://hackage.haskell.org/package/Agda-2.6.2.1/revisions/

[2022-02-07 18:57] andreasabel commented on #5719
Ping @andrejbauer for a self-contained reproducer.

[2022-02-08 13:29] szumixie opened #5780 "Irrelevant Prop-kinded variable is generalized into multiple implicit arguments"
When using variables indexed over an irrelevant Prop-kinded variable, the irrelevant variable is generalized into multiple implicit arguments.

For example, with the following code:
[code]
The type of `c` becomes the following, with multiple implicit arguments of type `A`:
[code]
This often causes problems with the inference of those implicit arguments.

[2022-02-08 15:21] jespercockx commented on #5780
Thanks for reporting. I don't think this is a bug per se, since the generalization that is currently computed is in some sense the "most general" one. However, from a practical usability point of view I agree that Agda should perhaps not be so eager to introduce more arguments when one of them would suffice.

[2022-02-08 18:03] nad commented on #5780
For the common case of universe levels I think it makes sense to be as general as possible.

[2022-02-08 22:50] nad opened #5781 "New flag `--profile` replaces verbosity option `-vprofile`"
I noticed that `-vprofile:7` overrides `-vprofile.definitions:10` and `-vprofile.modules:10`:

https://github.com/agda/agda/blob/ff82d4ab9009d5af8bd267661b65614564f63ed6/src/full/Agda/TypeChecking/Monad/Benchmark.hs#L60-L64

Is this intentional? It is not [documented](https://agda.readthedocs.io/en/v2.6.2.1/tools/performance.html#measuring-typechecking-performance).

[2022-02-09 08:27] Trebor-Huang opened #5782 "Allow unsolved metas in `where` clauses if they are not used with `--safe`"
Sometimes for illustration purposes (especially in literate Agda), I would like to leave holes in some parts of the program. They will not eventually be used, so it is probably safe. But `--allow-unsolved-metas` cannot coexist with `--safe`.

Of course, one ultimate workaround is to stop using `--safe`, or just make a copy of the file without the illustrative holes. But maybe we can relax the requ

[2022-02-09 09:23] nad commented on #5782
I don't think we should allow something like this. When you are using `--safe` and the file is checked successfully it should be clear that everything that you see is type-correct (if we ignore bugs).

[2022-02-09 09:51] nad commented on #5781
I guess the reason is that the current implementation cannot handle several of these options at once: if you activate both `-vprofile:7` and `-vprofile.modules:10` (say), then the output for modules will be incorrect, because only the innermost call to `billTo` "counts".

I see some ways forward:
* Make the code work.
* Make Agda complain if two or more of these options are activated at the same t

[2022-02-09 15:38] andreasabel commented on #5781
The usual semantics if `-v` is cumulative, so more instances of this flag can only add more output.

[2022-02-09 17:25] #5758 closed, assigned to andreasabel

[2022-02-09 17:27] andreasabel commented on #5758
I merged #5759 now, fixing the OP.
Welcome to do something about `-Wincomplete-patterns` if you will.

[2022-02-09 17:52] #5773 closed, assigned to andreasabel

[2022-02-09 17:54] andreasabel commented on #5773
Phew, that was another week of my life dedicated to `text-icu` issues...

[2022-02-10 07:16] Trebor-Huang opened #5784 "Regression in 2.6.2: `primEraseEquality` fails to compute (lack of normalization)"
I'm implementing NbE for STLC. I found out that if I wrap some of my substitution lemmas with `primEraseEquality`, it blocks the computation of concrete terms when I hit `C-c C-n`.

How should I start debugging the source of the problem? I have no idea how to produce a MWE. I don't know how to read terms like this:
[code]

Does this mean that `primEraseEquality` blocks even on `refl`? I'm not sure

[2022-02-10 07:31] andreasabel commented on #5784
Such terms come from a stuck `with`-auxiliary function.

[2022-02-10 07:42] Trebor-Huang commented on #5784
So it is stuck when rewriting with `symm (primEraseEquality refl)`, right?

[2022-02-10 12:30] Trebor-Huang commented on #5784
I tried to print that term with `--show-implicit` on. It produces a huge term
[code]

Then I copy-pasted these two terms, and let Agda typecheck
[code]
And it checks as expected. Then why couldn't `primEraseEquality` compute? I think after printing all the implicit variables, they are definitely definitionally equal.

[2022-02-10 12:37] gallais commented on #5784
Are the values equal up to eta or on the nose? Or are they equal up to whnf or just nf?
Because according to the comments in the code `primEraseEquality` only does whnf
at the moment (no eta, no nf):

https://github.com/agda/agda/blob/7028350ce1e6b8f5c2250f304d1d393e50781485/src/full/Agda/TypeChecking/Primitive.hs#L555-L566

[2022-02-10 12:40] Trebor-Huang commented on #5784
They are plain `data` values. The complete term is too long to paste here I guess. But I also noticed that when I shift some `symm` or `rewrite` around some of the blocking `primEraseEquality` disappears (and others appear :( ). I'll keep trying to minimize it.

[2022-02-10 13:24] jespercockx commented on #5784
@Trebor-Huang could you try if you still have the same problem if you use this erasure function instead of `primEraseEquality`:
[code]
This one does use type-directed conversion, while I believe `primEraseEquality` is only guaranteed to compute on closed first-order terms.

[2022-02-10 13:39] Trebor-Huang commented on #5784
Yes, I was going to do that. The problem does go away with the `REWRITE` version. But I'm still wondering why `primEraseEquality` did not reduce. I can narrow it down to
[code]
which is a plain lambda term using the well-scoped de Bruijn syntax.

[2022-02-10 13:56] jespercockx commented on #5784
Perhaps the reason is that `primEraseEquality` uses `reduce` rather than `normalise`, so it will not normalise constructor arguments.

[2022-02-10 14:51] UlfNorell commented on #5784
That seems like a bug, no? Here's a small test case
[code]

[2022-02-10 15:46] mortberg commented on #5755
Indeed, I agree that @sattlerc 's suggestion is the best short term fix.

In the long run we should probably consider doing what @Saizan suggests and switch to the cartesian Kan operations, but that's a much bigger change. It's not clear to me if we can do this while keeping the connections and reversals on the interval while still having decidable typechecking as we would have to add "diagonal co

[2022-02-10 22:25] andreasabel commented on #5784
agda-bisect says:
f728537966f6fe54089de0f7bbd0c9d0ee8861d1 is the first bad commit (ping @jespercockx)

[2022-02-11 09:18] UlfNorell commented on #5781
Indeed, the use of `-v` for profiling is a bit of a hack, and we really should have a separate flag for it. How about
[code]
Aside from those three we also have `sharing`, `serialize`, `metas`, `constraints`, `interactive`, `iface`, and `ticks`. I believe those aren't using the billing system so they can all coexist without problems.

[2022-02-11 09:25] #5764 closed, assigned to nobody

[2022-02-11 10:49] nad commented on #5764
Thanks. With the current implementation of `--save-metas` we sometimes store dummy terms in interfaces. The dead-code elimination looks for reachable names and meta-variables in the second argument of `Dummy`:

https://github.com/agda/agda/blob/ba99b8e1833946e43e7722e2e7d2c3a1dd40fc74/src/full/Agda/Syntax/Internal/Names.hs#L218

Perhaps one could replace the right-hand side with `mempty`.

[2022-02-11 10:51] nad commented on #5781
Sounds good to me.

[2022-02-11 11:12] UlfNorell commented on #5762
I postponed the check in #5786. It's checking every time an executable is called rather than only the first time. I haven't measured anything, but I don't believe the checks take any significant amount of time.

I don't see any problems delaying the check. One concern might be that executables can appear or disappear (or change) during the execution of Agda, but checking up front doesn't help anyt

[2022-02-11 12:58] jespercockx opened #5787 "Erased instance arguments are not considered for erased instance goals"
Minimal example:
[code]
I'm getting the following error:
[code]
even though defining `g {{x}} = f {{x}}` works perfectly fine.

[2022-02-11 13:24] #5763 closed, assigned to nobody

[2022-02-11 14:11] jespercockx opened #5789 "Erased tactic argument cannot use erased value"
Minimal example:
[code]
Agda gives the following error:
[code]
even though defining `test = f {a}` manually works just fine.

[2022-02-11 14:14] #5762 closed, assigned to nobody

[2022-02-11 14:59] andreasabel commented on #5784
It seems to me that we should revert f728537966f6fe54089de0f7bbd0c9d0ee8861d1 because it confuses the users.

However, @jespercockx seems to suggest that the REWRITE version works better.  If we go for the REWRITE version, we should place it somewhere canonical and deprecate the old `primEraseEquality`.
A caveat is of course that then the user needs `--rewriting` in their project, and this might h

[2022-02-11 15:20] jespercockx commented on #5784
The way I see it each of them has their own use cases:
- `primEraseEquality` is used for implementing decidable equality on primitive, non-composite types such as `Float` and `String`.
- `eraseEquality` defined with rewrite rules is used when you actually want an equality that computes to `refl` whenever it becomes reflexive.

So IMO the only thing that should really change is the documentation wh

[2022-02-11 15:22] UlfNorell commented on #5784
Also works for `Nat` since `suc` is strict.

[2022-02-11 15:23] Trebor-Huang commented on #5784
Is it possible to internally use `REWRITE` mechanisms to define `eraseEquality`, but make it exempt from the `--rewriting` flag? Is that safe? I think since `eraseEquality` is defined via a postulate it is a conservative extension.

[2022-02-11 15:34] jespercockx commented on #5784
The easiest way to do that is just to change the implementation of `primEraseEquality` to use `pureEqualTerm` from `Agda.TypeChecking.Conversion.Pure`, which is the function internally used by `--rewriting` as well. However, that might make it less efficient than the current implementation for base types `Float`, `String`, `Nat`, ... so I'm not sure if we want to do that.

[2022-02-11 15:48] #5787 closed, assigned to jespercockx

[2022-02-11 16:32] #5789 closed, assigned to jespercockx

[2022-02-11 18:56] nad commented on #5765
It appears to me as if generated `with` functions have the default modality:

https://github.com/agda/agda/blob/cf7ea79a8e6cb8fc62dd5a258f1d6317c5314cdd/src/full/Agda/TypeChecking/Rules/Def.hs#L1215

(Note the use of `defaultArgInfo`.) If that is the case, then the following code should presumably not be accepted:
[code]
However, this code is now accepted. @jespercockx, can you investigate this?

[2022-02-12 12:43] jespercockx commented on #5765
This doesn't seem to be a problem with unification in particular: the following code is also accepted:
[code]
Here `M.b'` is regarded as erased so there is no actual problem. It's just that all definitions in a `where` block of an erased definition are automatically also marked as erased, which makes sense to me. Perhaps this should be added to the documentation at https://agda.readthedocs.io/en/v

[2022-02-12 21:53] howsiyu opened #5791 "Error message only mentions .agda and .lagda"
I can typecheck a `.lagda.md` file but cannot make such file a module as it would complain
[code]
and list a bunch of files that ends with `.agda` or `.lagda`. I am using Agda 2.6.2.1.

[2022-02-13 01:13] howsiyu commented on #5791
It turns out it's a stupid mistake by me (I put the `.agda-lib` in the wrong place). Still, the error message is misleading.

[2022-02-13 13:26] caryoscelus opened #5793 "[JS backend] add option for AMD-style and/or native JS modules support"
after https://github.com/agda/agda/pull/2157 JS backend produces node-compatible code , but it doesn't work in browser without modifications . how about we make an option for different kind of js targets ? amd-style modules seem to be very easy to generate (i've already experimented a little bit) and we can have additional `--js-amd` flag (and perhaps opposite `--js-node` enabled by default) for t

[2022-02-13 15:18] andreasabel commented on #5793
Options can be added here: https://github.com/agda/agda/blob/cf7ea79a8e6cb8fc62dd5a258f1d6317c5314cdd/src/full/Agda/Compiler/JS/Compiler.hs#L113-L120
For efficiently building there are these `Makefile` goals:
1. `make typecheck` (1min) : gives no code
2. `make quicker-install-bin` (5min): gives `-O0` code, suffix `-quicker`, e.g., `agda-quicker`
3. `make v1-install` or `make install-bin`: full com

[2022-02-13 19:26] caryoscelus commented on #5793
thank you ! building does work great now , i'll get to impl details in the coming days

[2022-02-14 10:06] nad commented on #5765
Are the generated `with` functions associated to an erased function treated as erased? The use of `checkFunDefS withFunType defaultArgInfo`, as well as the following documentation, suggest to me that they are not:

https://github.com/agda/agda/blob/cf7ea79a8e6cb8fc62dd5a258f1d6317c5314cdd/src/full/Agda/TypeChecking/Rules/Def.hs#L234-L236

[2022-02-14 15:57] nad commented on #5782
There was no further input, so I'm closing this issue.

[2022-02-14 15:57] #5782 closed, assigned to nobody

[2022-02-14 16:14] Trebor-Huang opened #5794 "Agsy/Auto crashes with `Prelude.!!: index too large`"
When trying to formalize some very dependent inductive-recursive types, Agda crashes when trying to `C-c C-a` a hole:

[code]

The hole is marked with `--Here`. However, if the hole below in `rent` is filled with the expression in the comment then the issue disappears.

Agda version: v2.6.2.1-af5bfc0 installed with cabal. I'm using OS X, on VSCode.

[2022-02-14 16:24] Trebor-Huang commented on #5784
Why not keep both versions? This means

- Add a built-in `eraseEquality` (we can bikeshed a better name later), that act exactly like the version using rewrite pragmas, but without requiring the `--rewrite` flag;
- Keep the `primEraseEquality` in place where we need efficiency on the base types;
- Switch to `eraseEquality` where appropriate in the standard library. (Is there even any place where w

[2022-02-14 16:49] nad commented on #5794
I replaced every (?) occurrence of `(Prelude.!!)` with a new function that provides better error messages. The following call to `(!!)` uses an index that is out of bounds:

https://github.com/agda/agda/blob/cf7ea79a8e6cb8fc62dd5a258f1d6317c5314cdd/src/full/Agda/Auto/Typecheck.hs#L25

[2022-02-14 16:53] nad commented on #5794
The comment on the previous line looks suspicious to me:

https://github.com/agda/agda/blob/cf7ea79a8e6cb8fc62dd5a258f1d6317c5314cdd/src/full/Agda/Auto/Typecheck.hs#L24-L25

Perhaps one could simply fail if the variable is out of scope.

[2022-02-14 20:51] caryoscelus commented on #5793
well , here's a start for my work : https://github.com/caryoscelus/agda/tree/js_amd , but it overrides current behaviour instead of providing options atm . should i open a pr and discuss development / report progress there or should i prepare something remotely mergeable first ?

[2022-02-15 14:06] wenkokke commented on #5553
Okay, I’m gonna try and tackle this using voice coding. Here’s a list of milestones:

- [ ] Add support for reading configuration from `~/.agda/config.yaml` with fallback to the current format;
- [ ] Add support for reading library information from `*.agda-lib.yaml` with fallback to the current format;
- [ ] Add support for `agda --init`;
- [ ] Add deprecation warning to previous formats.

[2022-02-15 14:12] wenkokke commented on #5553
Regarding scaffolding:

- Should `agda --init` generate the global Agda configuration file if it is missing?
- Should there be a separate command to generate the global file?
- Should there be a command to convert from the old format to the new format?

Regarding Agda library files:

- Should the Agda library file be allowed to have any arbitrary name as long as it is followed by `.agda-lib.yaml`?

[2022-02-15 14:25] wenkokke commented on #5553
Furthermore, would there be any objections to splitting out the parsing of library files and their corresponding data types into a separate package, so that, e.g., a package manager or such could easily depend on Agda’s configuration parsing without having to depend on all of Agda?

[2022-02-15 15:40] jespercockx commented on #5553
Regarding the question whether `agda --init` should generate the global config, I think that would make sense. But perhaps you can take a look at how other tools do it, e.g. `cabal`?

Generating a new config from the old format would be nice to have, but I don't see it as a requirement.

Regarding the name of the library file, it might make sense to have a canonical name for the project file so we

[2022-02-15 19:46] gallais commented on #5553
I think you want 2 different commands: one to initialise an `.agda-lib`-based project & one to initialise the global config.

[2022-02-15 21:53] wenkokke commented on #5553
Yes, that makes sense :)

[2022-02-15 21:54] wenkokke commented on #5553
I do enjoy `agda.project`, but that won’t trigger editor support for yaml.

[2022-02-16 15:43] nad commented on #5553
I agree.

I don't think we need to spend time on this.

[2022-02-17 11:39] andreasabel commented on #5793
Thanks for the proof of concept, @caryoscelus !

I do not see any obstacles to add a new flavor to the JS backend, given:
1. The old flavor still works (so, option!).
2. The new flavor is up to the same standard as the old one.  This means you need to add documentation (https://github.com/agda/agda/blob/master/doc/user-manual/tools/compilers.lagda.rst) and extend also the testsuite and add in the

[2022-02-18 03:02] simhu commented on #5755
Thanks, @AndrasKovacs, for pointing out this possible problem.  One thing I should clarify about the note: the equalities should be read as premises to the judgmental equalities (so, e.g., `transp` for `(x:A) -> B` requires suitably constant `A` and `B` to compute).  But these premises might be too much of a requirement in the case of `Glue`, and it doesn't seem unlikely that an example like yours

[2022-02-18 07:34] Saizan commented on #5755
@simhu thanks for chiming in! Have you worked out the cubical sets semantics of transp in e.g. Pi types though?
If we take the standard presheaf construction on Pi types then I believe we do not have injectivity, then we need to specify what transp does in general, not just when the domain and codomain are constant under `\phi` ?
Is there a way to do that so that the equality in the hcomp note hol

[2022-02-18 13:19] simhu commented on #5755
Tbh I don't remember how detailed we looked into this back then. AFAIR, no one wrote out the exact semantics for all type formers in detail somewhere, and no one proved canonicity or the like (which, as this thread suggests, might have failed without this adaption..).

But I think that there are no problems with the semantics, and they really just should follow the algorithms of the note.  One sho

[2022-02-18 14:06] Saizan commented on #5755
The algorithm for Pi-types in section 3.4 only covers the case when `A` and `B` are constant when `\phi` is true, though. So we do not have an algorithm for the whole of `transp^i ((x : A) -> B) \phi u` which should be given as a section of `((x : A) -> B)(i1)`, while only knowing that the whole Pi-type is constant on `\phi`.

[2022-02-18 14:42] simhu commented on #5755
To give semantics to such a system would start with proving that type formers are closed under having `transp` and `hcomp` structures.  For Pi-types we would have, say, `A : Γ -> U` and `B : (Sigma (γ : Γ) . A γ) -> U` (using the internal language of the presheaf topos) both with `transp` structures (as in Def.3 of CHM).  For `transp` of `Pi A B` we would start with `γ` in `II -> Γ` such that `φ =

[2022-02-18 17:04] simhu commented on #5755
Hmm, maybe it is not quite clear how this interpretation works and whether the notion of transport structure in CHM is enough to interpret the syntax sketched in the note.  It might be that one has to modify the condition for transport structures on `A` from `φ => all (i:II). γ 0 = γ i` to `φ => all (i:II). A (γ 0) = A (γ i)`.  But with this modified notion it is not clear how Pi-types would work.

[2022-02-19 16:48] andreasabel commented on #5782
A similar request is in
- #5098.

I disagree that everything is _working as intended_.

[2022-02-20 15:47] nad commented on #5782
You asked for something different in the other issue: "It should be an error to have an unsolved meta either if `--safe` is on or if `--allow-unsolved-metas` is off, but it should not be an error just to have both `--safe` and `--allow-unsolved-metas` in sight." If you want to support something along the lines of what is suggested in the OP, please either reopen this issue or add a note to the oth

[2022-02-21 18:05] ice1000 commented on #3551
I have asked a relevant question on pase: https://proofassistants.stackexchange.com/q/777/32

[2022-02-23 08:11] Saizan commented on #5755
Oh, indeed, it is not clear how to interpret `trans` as typed in the note or in CHM by using the transport structure as given in Def. 3. The `γ` one has to use is definitely not constant under `φ`.

It would be interesting to see a typing rule that matches Def. 3. Maybe it needs to incorporate an explicit substitution somewhere.

[2022-02-23 09:35] #5781 closed, assigned to UlfNorell

[2022-02-23 16:04] nad commented on #3094
@AndrasKovacs [mentions](https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/README.md#meta-freezing-and-approximate-occurs-checking) that smalltt can type-check something like the following code quickly:
[code]
Agda currently does not handle this code efficiently. @AndrasKovacs explains that, when performing the occurs-check for a meta-variable α, if the proposed

[2022-02-23 16:08] nad opened #5797 "Glued evaluation"
I think it makes sense to try out the [glued evaluation](https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/README.md#glued-evaluation) that @AndrasKovacs uses in smalltt (see also his discussion of [paired values](https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/README.md#paired-values)). This kind of glued evaluation could l

[2022-02-24 08:53] #5775 closed, assigned to andreasabel

[2022-02-24 10:52] nad commented on #5797
András [credits](https://github.com/AndrasKovacs/elaboration-zoo/blob/48a31b642745830458fc26cbaecd3628e691457d/GluedEval.hs#L6-L8) the idea to @ollef (see [sixty](https://github.com/ollef/sixty)).

[2022-02-24 11:41] AndrasKovacs commented on #5797
To be concrete about the development history of the "efficient unfolding control" feature, I first included it in the old smalltt branch in a more complicated way, then ollef used a simplified implementation in sixty, then I used a pared-down version of that in the new smalltt.

[2022-02-24 16:14] nad opened #5799 "Quadratic behaviour"
Agda's time complexity for the following code seems to be roughly quadratic in `n`:
[code]
I wonder why this is the case. I looked at some debug output (for `n = 4`), and I saw things like the following:
[code]
Does Agda repeatedly do something which is linear in the set of problems mentioned above?

The code above is artificial, but I think it makes sense to avoid quadratic behaviour when we can

[2022-02-24 20:13] nad opened #5800 "Optimise quoting?"
Consider the following code:
[code]
It takes about one second for Agda to normalise `f n c` on my current system when the given macro is used. Why is that code so slow? Let us define `force` in the following way:
[code]
Normalisation of `force (f n c)` (using `C-c C-n` in Emacs) completes more or less instantaneously, as does `norm (force (f n c))` (but not `force (norm (f n c))`).

When the macro

[2022-02-25 11:25] nad opened #5801 "Make it possible to limit how many times the syntactic equality shortcut is allowed to fail"
Agda's syntactic equality shortcut is employed recursively (unless `--no-syntactic-equality` is used). In the implementation of smalltt @AndrasKovacs takes a [different approach](https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/README.md#approximate-conversion-checking):

One can make Agda very slow by unifying two big terms that are almost syntactically identi

[2022-02-25 13:21] xekoukou commented on #3209
Maybe related.

[code]

[2022-02-25 13:33] nad commented on #5801
I added the option `--syntactic-equality`. From the changelog:

* The new option `--syntactic-equality[=FUEL]` can be used to limit how many times the syntactic equality shortcut is allowed to fail (see [#5801](https://github.com/agda/agda/issues/5801)).

  If `FUEL` is omitted, then the syntactic equality shortcut is enabled without any restrictions.

  If `FUEL` is given, then the syntactic equa

[2022-02-25 13:37] JacquesCarette commented on #5801
And 23 isn't enough? It would be fascinating to see which file fails at 23, and then figure out what causes Agda to consume so much fuel for that one example.

[2022-02-25 17:13] nad commented on #5801
The file `Relation.Binary.HeterogeneousEquality.Quotients.Examples` took more than 900 seconds to type-check (in one test) when I used the depth 2 (I think), and about 2 seconds when the depth was 24 for all files. I tried different depths, and settled for 24, but the numbers were similar for 23.

For `Function.Related.TypeIsomorphisms.Solver` there is a major difference between 1 and 2.

[2022-02-25 17:13] #5801 closed, assigned to nad

[2022-02-26 19:46] Trebor-Huang opened #5804 "Allow (or elaborate) datatype constructor types ending with records"
# Motivation

It would be very useful if the following is accepted, or automatically translated away:
[code]
This is helpful in complicated inductive structures. It becomes even more powerful in cubical Agda where you can define `GroupStr X` with equational laws.

This can always be manually translated:
[code]
In short, for each field in the record, a corresponding constructor is created by substi

[2022-02-27 12:54] meithecatte opened #5805 ""Panic: uncaught pattern violation" involving holes and `with`"
I have encountered a `Panic: uncaught pattern violation` error when refactoring my development. This is the furthest I could minimize it:

[code]

Notably, moving the definition of `mono` into `module SetCat` stops reproducing, as does this variation that avoids `with`:

[code]

I am using Agda 2.6.2.1.

[2022-02-28 08:42] andreasabel commented on #5804
Dunno, the syntax you give in the OP could have another interpretation, as tagged union:
[code]
This is how I (mis)understood it when I did a first rough reading.

Your proposal is tailored towards syntactic convenience for free structures.
It seems to me that this is a bit of a domain-specific use case and maybe not universal enough to warrant an Agda syntax extension.

Maybe we should rather dir

[2022-02-28 16:04] kangxyz opened #5806 "Better error for meaningless HIT `data` declaration"
I tried to define an indexed HIT as follows:
[code]
With error:
[code]
~~The problem seems that the definition of `coh` is out of the syntax of HIT allowed. But the idea of `coh` is simple. It just describes a commutative square of whose boundaries involve the map `λ xs → unit xs i`, continuously parametrized by `i`. So I think that's something natural and cannot lead to any inconsistency. Is this

[2022-02-28 22:20] jamestmartin opened #5807 "The irrelevance axiom is provable inside Agda with --irrelevant-projections"
The [documentation on irrelevance claims](https://agda.readthedocs.io/en/v2.6.2.1/language/irrelevance.html#irrelevant-declarations) that:

However, with `--irrelevant-projections` enabled, the irrelevance axiom is easy to prove:

[code]

The documentation should be amended to clarify that the irrelevance axiom *is* provable, but only with `--irrelevant-projections`, and indeed, in #429 it was cla

[2022-02-28 22:45] jamestmartin commented on #5807
The irrelevance axiom/`--irrelevant-projections` proves (at least?) something which looks like AC(infinity, -1) as described by the HoTT book:

[code]

which is simple enough that it could probably even be included inline in the docs, if you think the non-constructive choice thing is worth noting (and if it actually is a form of non-constructive choice).

[2022-02-28 23:46] gallais commented on #5807
I think the accepted meaning of "provable in Agda" implies that `--safe` should be turned on.
And `--safe` is incompatible with `--irrelevant-projections`.

[2022-02-28 23:56] jamestmartin commented on #5807
Ah, you're right. I hadn't noticed. I disabled `--safe` so I could mess with `irrAx` but didn't try to re-enable it when adding `--irrelevant-projections`. That makes this a lot less of a problem if you want to just close the issue.

Though, it still could be informative to mention that `--irrelevant-projections` implies `irrAx` (and thus a form of non-constructive choice) if you think that's wort

[2022-03-01 04:48] Trebor-Huang commented on #5804
If we are to implement this as a macro, perhaps it would be beneficial to add a record field declaration syntax, that just calls a macro, and may expand to several field declarations? From my understanding of the docs you can't do it at that granuality right now, and have to write a macro that operates on whole record declarations, right?

[2022-03-01 14:16] andreasabel commented on #5804
@UlfNorell @jespercockx Can you chime in here?

[2022-03-01 15:05] jespercockx commented on #5804
It's currently not possible to generate record definitions through reflection, granularly or otherwise. If we add an unquote operation for record types it would perhaps make sense to incorporate this suggestion and allow unquoting of specific record fields individually.

[2022-03-01 22:33] msuperdock opened #5808 "--interaction-json: interaction points with empty ranges after refine"
## Issue

Take the following file `Test.agda`:

[code]

Load the file using --interaction-json, and then refine the hole using `id1`. One of the resulting JSON messages is:

`{"kind":"InteractionPoints","interactionPoints":[{"range":[],"id":1}]}`

The issue is that the `range` field is an empty list. This JSON message should look like this:

`{"kind":"InteractionPoints","interactionPoints":[{"rang

[2022-03-01 23:56] msuperdock commented on #5808
Just some notes as I try to understand the relevant code:

The issue is with the `Resp_InteractionPoints` response, which should affect both emacs & JSON interaction, though my understanding is that the emacs interaction doesn't use the given ranges. This response is constructed in [InteractionTop.hs](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/InteractionTop.hs#L300) just b

[2022-03-02 03:22] ice1000 commented on #5808
Apparently I didn't try to find the better solution mentioned by Jesper ;)

[2022-03-02 07:16] L-TChen opened #5810 "Loss of subject reduction with Setω"
Subject reduction is lost with `Setω`.  Consider
[code]
whose type is `Setω` but after normalisation it becomes
[code]
whose type is now `Set₁`. Indeed, if we fill the hole with the normalised expression by `C-c C-m`, Agda happily produces the second expression and complains about the term it just produced ... Any idea?

[2022-03-02 08:32] nad commented on #5810
The only theoretical work in this area (first-class level types and `Setω`) that I am aware of is @AndrasKovacs' [Generalized Universe Hierarchies and First-Class Universe Levels](https://doi.org/10.48550/arXiv.2103.00223). However, that paper does not seem to address subject reduction.

[2022-03-02 10:54] andreasabel commented on #5810
In type theories with subtyping, reduction may produce something of a _more precise_ type.  So, with `--cumulativity`, this would be perfectly fine.
Agda's double checker uses cumulativity _always_, independent of flag `--cumulativity`, so this subject reduction "problem" isn't found by the double checker:
[code]

[2022-03-02 12:28] andreasabel commented on #5784
The discussion has died down.  So I went ahead and proposed the easiest fix by reverting the commit that introduced the regression: #5811.

[2022-03-02 12:34] #5563 closed, assigned to nobody

[2022-03-03 09:38] nad commented on #2506
The following code makes use of the fact that a list is used:

https://github.com/agda/agda/blob/8f8b1f981a9d22bbb80316334964501c3958813f/src/full/Agda/TypeChecking/Monad/Options.hs#L220-L223

[2022-03-04 12:05] nad commented on #2506
Instead of switching to a set data structure I added `nubOn id`:

https://github.com/agda/agda/blob/8277c9e4e9f11863eb0b0383ed00c7c1cc7bbf3e/src/full/Agda/TypeChecking/Monad/Options.hs#L224

Perhaps it would also make sense to figure out why `[...]/test` is included twice in the output above.

[2022-03-04 12:13] nad commented on #2767
I've implemented something like that.

Switching between different libraries can still be slow. One could imagine storing the decoded libraries that are now discarded in a separate data structure, and reusing them if, say, the old include paths are restored (and nothing else has changed). However, I don't think we should waste memory on this.

[2022-03-04 15:47] #2506 closed, assigned to nad

[2022-03-04 15:48] #2767 closed, assigned to nad

[2022-03-06 11:38] cdornan opened #5813 "stackage filing to build agda-mode"
We are seeing:

[code]

Agda has been temporarily disabled on Stackage Nightly pending a fix.

[2022-03-06 11:43] cdornan commented on #5813
Actually this might be something on our end -- cleaning out and rebuilding everything, which will likely take quite a while ...

[2022-03-06 11:51] #5784 closed, assigned to andreasabel

[2022-03-07 06:28] jamestmartin commented on #5807
I documented my findings for anyone who ends up confused about the same topic [on Proof Assistants SE](https://proofassistants.stackexchange.com/a/932/788). The answer should get indexed by search engines whenever the site enters public beta. I also asked [a follow-up question](https://proofassistants.stackexchange.com/q/965/788) to try to contextualize the implications of adding the irrelevance a

[2022-03-07 07:17] andreasabel commented on #5805
This correctly reports unsolved metas with Agda 2.6.1.
Running a bisect with this slightly modified testcase (changed first 7 lines so it does not depend on the standard library):
[code]

[2022-03-07 08:20] andreasabel commented on #5805
Bisection blames commit d1a9d7d5f5422701037ae48d780feeafd30a82c0 (ping @jespercockx).

Debug printing with `-v tc.meta.occurs:35` gives:
[code]
So it seems that _erasure_-stuff is leaking into type-checking code that does not use erasure.  I wonder whether this calls for an option `--erasure` (with default `--no-erasure`) so that we can ensure by simple means that "basic Agda" isn't plagued by bug

[2022-03-07 09:27] andreasabel commented on #5805
We can shrink away the universe levels:
[code]

[2022-03-07 12:08] #5807 closed, assigned to nobody

[2022-03-07 15:50] nad commented on #5805
We have discussed `--erasure` before (#4786). A problem came up: When `--erasure` is used I want parameters to be erased in the types of constructors and projections. I want this to apply also to builtin types like `Agda.Builtin.Sigma.Σ`, but I don't want to have two different builtin Σ-types. Because the use of `--erasure` presumably does not rule out any models, and no-one objected, I did not im

[2022-03-08 06:19] Trebor-Huang commented on #5804
As a side note, I'm slightly confused. Isn't *every* `data` a free structure? Why would that be domain specific?

[2022-03-08 07:11] andreasabel commented on #5804
Basically, you are doing universal algebra stuff here (single sorted).  You have a signature (a nullary and a binary operation) and you want both algebras in general (`RawGroupStr`) and the initial algebra (`FreeGrp`).  You can get this using _containers_.
I have written up the multi-sorted version (using indexed containers) here: https://arxiv.org/abs/2111.07936

[2022-03-09 03:49] jamestmartin opened #5816 "Panic at Cubical.hs:2265 with `--without-K` and `--prop`"
Encountered while trying to convert some code from `Set` to `Prop`.

Example:
[code]

Error log with latest master:
[code]

Log with 2.6.2.1:
[code]

I wanted to run a bisect but `agda-bisect` does not work with recent versions of cabal and I don't have any old versions installed.

(Btw, what is `Issue5789.agda` doing at the root of the repo? Shouldn't that be in the test cases folder?)

[2022-03-09 04:45] jamestmartin opened #5817 "Internal error at Def.hs:485"
Example:
[code]

Error log with latest master:
[code]

Error log with 2.6.2.1:
[code]

[2022-03-09 04:47] jamestmartin commented on #5817
Oops, this is just a variant of #5728. I checked before opening my previous issue a moment ago but forgot to check for this one.

[2022-03-09 04:47] #5817 closed, assigned to nobody

[2022-03-09 04:49] jamestmartin commented on #5728
Alternative example:
[code]

Error log with latest master:
[code]

Error log with 2.6.2.1:
[code]

[2022-03-09 07:41] andreasabel commented on #5728
Can you have a look, Guillaume @gallais?

[2022-03-09 07:54] andreasabel commented on #5816
Thanks for the alert!  Fixed in  5401dc157fa3dda3a1bac06c09f222436d81c3c4 .

[2022-03-09 08:55] andreasabel commented on #5269
The main challenge, when switching to `v2-cabal` is the location of the generated `agda` executable.  With `v1-cabal` is has a fixed path in the `builddir`, but in `v2-cabal` this path is quite parametrized, e.g. `dist-newstyle/build/x86_64-osx/ghc-9.2.1/Agda-2.6.3/build/agda/agda`, and we should rely on `cabal` to locate it, rather than hacking something together that may be brittle and fail in c

[2022-03-09 09:49] MatthewDaggitt opened #5818 ""Panic: uncaught pattern violation" involving new `with ... in`"
Another bug I found when trying to push through https://github.com/agda/agda-stdlib/pull/1630.
[code]
If you remove `in eq` then the error goes away.

[2022-03-09 13:34] nad commented on #5269
Another option might be to install Agda (in a custom directory) with a version suffix. Then caching should still work.

[2022-03-09 16:03] zilinc opened #5819 "__IMPOSSIBLE__ at src/full/Agda/TypeChecking/Reduce/Fast.hs:1394:20"
Produced on MacOs, with Agda version 2.6.3-b4e5b7a (also with 2.6.2.1 but on Line 1380).

The error message is:
[code]

There are two places that can trigger the bug. To reproduce, load the following program (which I haven't been able to reduce to a smaller one, sorry), and in the holes in `invˡ ` and the one in `All/Fresh′→Fresh`, follow the comments to reproduce.

[code]

[2022-03-09 16:22] andreasabel commented on #5269
Yes.  This would be option 4.
A flaw in the ointment is though that `cabal v2-install` _always_ compiles the project from scratch.  This is a regression wrt. `v1-install` and would slow down the bisection process.

I just learned (the hard way) that plan 2. does not work.  Even though we get hold of the executable that was build, this executable looks for the AGDA_DATA_DIR in the install location

[2022-03-09 16:23] andreasabel commented on #5269
@nad Btw, do you use `--cache` by default?  I never use it.

[2022-03-09 19:14] andreasabel commented on #5816
bisection blames commit c9ff1cd53276921356e999c79340b1cc2f89047a (ping @Saizan).

Crash site: https://github.com/agda/agda/blob/5401dc157fa3dda3a1bac06c09f222436d81c3c4/src/full/Agda/TypeChecking/Primitive/Cubical.hs#L2265
`toLType` does not cover `Prop`.  Is this intended?

[2022-03-09 19:39] nad commented on #5269
Yes. One use case for `--cache`:
* You start the bisection process.
* After a while you realise that your test condition was not quite correct.
* When you restart the bisection process there is a chance that Agda has already been built for the first few commits that are tested. This can save quite a bit of time, especially if you are investigating a performance bug and build with optimisations on.

[2022-03-09 20:38] andreasabel commented on #5819
It is not too hard to shrink the standard-library away from this test case:
[code]

Crash site: https://github.com/agda/agda/blob/5401dc157fa3dda3a1bac06c09f222436d81c3c4/src/full/Agda/TypeChecking/Reduce/Fast.hs#L1277-L1280

In Agda 2.6.1 you get a termination error, so this is a regression.

The internal error goes away if I label `dl-iso` as one of these:
- `{-# TERMINATING #-}`
- `{-# NON_TERM

[2022-03-09 22:08] andreasabel commented on #5819
Bisection blames commit 8e0fca895b9c6740d9d6c1751ed1e0ecefe63473 (ping @jespercockx)

[2022-03-09 22:36] andreasabel commented on #5805
Yes, the problem with `--erasure` is that it changes the semantics of code even it if does not explicitly erase anything.  So, flag `--erasure` would have to be treated like it was a different version of Agda.  If you have this in your project, you need a separate build-tree.  Maybe we have enough of the infrastructure (like separate build directories for separate Agda version) so that such a feat

[2022-03-10 07:32] andreasabel commented on #5816
@jamesstmartin wrote:

The draft version of `agda-bisect` at https://github.com/agda/agda/pull/5820 works with cabal v2-style commands now.  I used it to run bisection on this issue.  However, you also need old GHCs, in this case 8.8.  (See the list at https://wiki.portal.chalmers.se/agda/Main/Download.)

[2022-03-10 16:36] caryoscelus commented on #5793
@andreasabel

i got back to implementing the switch and almost finished there. however, i'm not sure how would AMD-style modules can be tested

[2022-03-10 17:36] oisdk opened #5823 "Singleton check loops on recursive eta record"
The following code loops in Agda 2.6.2.1:

[code]

It uses a recursive inductive record (the `Acc` type for well-founded recursion), and tries to prove a property on it by recursing over it.

I am not sure if this behaviour is expected (it goes away if `eta-equality` is replaced by `pattern`), but the [manual](https://agda.readthedocs.io/en/v2.6.2.1/language/record-types.html#recursive-records) se

[2022-03-10 20:25] #5819 closed, assigned to andreasabel

[2022-03-10 20:28] andreasabel commented on #5819
Fixed by reverting the blamed commit, which tried to optimize termination checking by getting rid of a `normalize`.  Unfortunately, it introduced a `reduce` on a term that went through the hack `stripAllProjections` and thus wasn't wellformed anymore.  Hence, the pattern matching failures during reduction.

[2022-03-10 20:51] andreasabel commented on #5823
Agda loops when trying to check whether `Acc R x` is a singleton; it unfolds forever:
[code]

[2022-03-10 21:44] andreasabel commented on #5823
Congrats, @oisdk, you found a bug that has been open since Agda 2.5.1.1!
It is fixed on #5824, and now you get the termination error you deserve instead.  (Can't recurse on a eta record type!)

[2022-03-11 04:34] jamestmartin commented on #5816
ghcup supports GHC 8.8 so that's a lot more convenient for me. I'll see if I can use it next time I find a regression between my oldest installed version of Agda and master. Thanks for letting me know.

[2022-03-11 16:48] isovector commented on #957
Without knowing anything about the internals, this feels like a rather arbitrary limitation. What would be necessary to get copatterns supported here?

[2022-03-11 17:04] andreasabel commented on #957
Understand and extend the `Agda.Auto.*` implementation.  No one has been willing to do that; Auto is bit-rotting.  If you look at the code, you might understand why.
@UlfNorell has a student working on a new term synthesizer.

[2022-03-11 17:29] kindaro opened #5828 "Agsy/Auto panics with `-r` in the presence of a pattern synonym"
See:

[code]

_(You will need to erase the hole and make a new one in the same place for Agda to understand what you mean.)_

If you try to fill the hole with [automatic proof search][1], you will see an error like this:

[code]

Without `-r`, the hole is automatically filled with `y`.

I am on Agda 2.6.3 built recently from source.

[1]: https://agda.readthedocs.io/en/latest/tools/auto.html#auto

[2022-03-12 09:48] nad commented on #5805
If you were to go down that route, would you also fork the standard library? That does not sound like a good idea to me.

[2022-03-12 09:56] andreasabel commented on #5805
Would this be necessary?  As long as the standard library does not use `@erased`, it would suffice to maintain two build trees for it, one with `--erasure` on and one with `--no-erasure`.  E.g. that would be `_build/agda-2.6.3-erasure/...` and `_build/agda-2.6.3/...`.

[2022-03-12 10:01] andreasabel commented on #5828
Thanks for reporting, @kindaro.  Auto has no maintainer, so there is little hope this is going to be fixed...

[2022-03-12 10:24] nad commented on #5805
Let's say that we start using erasure in some standard library modules. Consider the following scenario:
* You have no `.agdai` files for the standard library.
* You load a module that uses `--erasure`. Then all the dependencies are type-checked as if `--erasure` had been turned on (if I understand you correctly).
* Now you load one of these dependencies which does not use `--erasure`. In that cas

[2022-03-12 10:51] andreasabel commented on #5805
Well, I would think that `--erasure` would be a project-wide flag (in the `.agda-lib` file---we don't have those yet), not a per-module one.

[2022-03-12 11:38] nad commented on #5805
If we start to use `@0` in the standard library, and enable `--erasure` for all files in the library, then the library is unusable for those who do not use `--erasure`.

[2022-03-13 08:44] andreasabel opened #5831 "Release Agda 2.6.2.2"
Agda-2.6.2.1 is not buildable with latest `bytestring` (#5718), so we need to re-release to stay in stackage-nightly once it switches to GHC 9.2.
The release could fork off branch `release-2.6.2.1`, cherry-picking the commit fixing #5718 and commits fixing regressions.

Organization:
- [x] branch `maint-2.6.2` picking commits from `master`
- [x] branch `release-2.6.2.2` adding to `maint-2.6.2` 2.6

[2022-03-13 08:55] andreasabel commented on #5805
I see, I get your point.  So a just project-wide flag would not work for the standard library once it starts using erasure.  We need to retain the possibility to apply it module-wise.  The flag would be coinfective.
Still I think the penalty could be kept low.  If you are working a mixed project (like in the scenario of https://github.com/agda/agda/issues/5805#issuecomment-1065857552), you could s

[2022-03-13 08:57] andreasabel commented on #5805
@jespercockx : Do you think you can look into this issue for a soonish release of 2.6.2.2 (#5831).

[2022-03-13 09:03] andreasabel commented on #5727
Relevant commits seem to be:
- https://github.com/agda/agda/commit/0348659e9f3e9f741dda2c751eb32ea29c2cb9c7
- https://github.com/agda/agda/commit/ba469e99d14e3b77e073fc04755739293d830f2d

[2022-03-13 09:05] andreasabel commented on #5728
@gallais: Putting this on 2.6.3 since this can be worked around, but if there is an easy fix, we could aim for 2.6.2.2.

[2022-03-13 09:12] andreasabel commented on #5681
@Saizan: Do you think you can make a stab at this?  Would be nice if this could be fixed for 2.6.2.2.

[2022-03-13 10:49] gallais commented on #5728
I tried to have a look but my naïve fix in `Agda.TypeChecking.Rules.Def` was too strict and
started rejecting a lot of well-formed programs. I guess I should try to catch these a lot earlier
in the pipeline.

[2022-03-13 11:21] kindaro commented on #5828
Wow well good to know. I am learning Agda yet so I cannot solve this myself but maybe some time later I could!

[2022-03-13 11:38] andreasabel commented on #5728
Yes, at least the OP could already be caught in the parser.  I seems like an ellipsis `...` _must_ be followed by a bar `|`, or am I wrong about this?

[2022-03-14 16:46] jespercockx commented on #5805
I'm taking a look now, if it doesn't take too much time I'll try to fix it. So far, I found that the actual problem seems to be not in the part of the occurs check that I changed, but in `checkInternal` which calls `elimView`, which can throw a pattern violation that is not caught by the `checkInternal`. Somehow the change to the occurs check causes metas to be solved in a different order which ca

[2022-03-14 17:38] jespercockx commented on #5805
I found the cause of the problem: the call to `checkType` at https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/Def.hs#L1174

The problem here is that `checkType` calls `checkInternal`, which can throw uncaught pattern violations when it gets blocked on a meta. The best solution looks to me to catch pattern violations in the definition of `checkType` and turn them into a pro

[2022-03-14 17:57] andreasabel commented on #5805
Continue discussion at #5832.

[2022-03-14 18:04] omelkonian opened #5833 "Cannot prove property of function that uses with-in instead of stdlib's `inspect`"
The following lemma about membership and `mapMaybe` has to be defined using the non-internalized inspect,
in order to prove the `∈-mapMaybe⁻-nothing` property:

[code]

Seems like a bug in the implementation of `with...in...`, @gallais?

[2022-03-15 00:01] andreasabel commented on #5763
(Removed from 2.6.2.2 as it does not pick cleanly.)

[2022-03-15 08:15] andreasabel opened #5834 "GHC backend: Consider writing `-Wincomplete-patterns` to generated `.hs` files"
Consider writing `-Wincomplete-patterns` to generated `.hs` files.  Continues #5758.

[2022-03-16 07:29] jamestmartin opened #5835 "Runaway error message formatting"
Every occurrence of punctuation appears to force the indentation to the right, which results in this runaway error message formatting:

[code]

This formatting makes the error message difficult to read. This issue occurs in both the latest master and 2.6.2.1.

Unfortunately this specific example is finicky and from an ugly source file, so it's pretty opaque and not as minimal as I'd like:

[code]

[2022-03-16 07:49] andreasabel commented on #5835
The positivity checker may report _false positives_ (in the sense of testing theory) if there is spurious mutuality (cf #1984).
Since `TermZ` occurs in the type of `tz-cast_1`, additional edges enter the occurrence graph when you put them into the same mutual block.  So the fix you propose is the right one: Move TermZ out of the mutual block initiated by the lone type signature of `tz-cast_1`.

Ye

[2022-03-16 12:53] #957 closed, assigned to isovector

[2022-03-16 16:52] jamestmartin commented on #5816
Another small example:

[code]

[2022-03-16 19:53] andreasabel commented on #5727
`git revert` fails for these commits, and fixing merge conflicts is confusing and error prone, so maybe the best path is to fix this issue manually (restore normalization).
@L-TChen : can you fix this issue (you are assigned) and supply a regression test?

[2022-03-17 03:32] L-TChen commented on #5727
Yes, I just need some time to work it out.

[2022-03-17 10:05] andreasabel commented on #5727
Great, @L-TChen !  If you think it is too rushed for 2.6.2.2, welcome to set the milestone back to 2.6.3, then I unschedule it from 2.6.2.2.

[2022-03-18 09:45] jespercockx commented on #5703
I keep getting frustrated by this problem when working with erasure. Looking into the code a bit, it seems this problem might be caused by the fix of https://github.com/agda/agda/issues/4480 by @UlfNorell being too crude. There is also a TODO in the code, which suggests that the fix might not be complete:

https://github.com/agda/agda/blob/2816605bfdc24c93d8801016d31beeed7608ad02/src/full/Agda/Typ

[2022-03-18 14:00] jespercockx opened #5837 "Occurs check does not properly handle singleton type"
I encountered this issue while working on a possible solution for https://github.com/agda/agda/issues/5703. Consider the following example:
[code]
Here we get a hard error, even though eta-expanding `F Y` to `tt` leads to a valid solution. The problem is that the occurs check currently only considers singleton types for variables, but not for general expressions containing variables such as `F Y`.

[2022-03-18 14:21] jespercockx commented on #5837
Here another variant of this issue that involves a variable rather than a postulate:
[code]
Here the problem is that the occurs check currently only looks at the type of the variable `Y` (which is not a singleton type), but not at the type of the application `Y true` (which is a singleton type).

[2022-03-19 02:16] tomjack opened #5838 "Proof of ⊥ with --safe --cubical"
I stumbled upon a proof of ⊥ based on computations over univalence. In the example, I am using the cubical library.

I really don't understand anything more about what is going wrong. Is there a bug in transp on Glue when φ is not i0, maybe?

[code]

[2022-03-19 03:23] andreasabel commented on #5838
Here is a version with explicit imports:
[code]

I could reproduce the bug on 2.6.2 and `master`.
Trying to reproduce on 2.6.1 failed because the MWE uses the cubical library.

[2022-03-19 08:02] isovector opened #5839 "Incorrect usage of underscore in names breaks parsing"
[code]

produces the error message

[code]

Removing `x`, and then attempting to refine the hole instead gives this error:

[code]

[2022-03-19 11:02] andreasabel commented on #5839
Well, `x` is part of a mixfix constructor, so it cannot be used as a pattern variable here.  But I agree there is something off here, because Agda claims:
[code]
Maybe I expect to see:
[code]
This is what you get if you also include `var` on the lhs, e.g.:
[code]

[2022-03-19 11:52] sattlerc commented on #5838
This looks like a consequence of #5755.

[2022-03-19 15:18] jespercockx commented on #5837
I've been slowly getting convinced that in order to deal correctly with eta-equality for the unit type, the occurs checker needs to become type-aware. Below is the example that convinced me that a purely syntactic check will never be fully satisfactory.
[code]
Note that in the internal representation of the solution term `c (λ G → G Y)`, there is no trace left of the type parameter of D, since par

[2022-03-19 15:56] jespercockx commented on #5837
Possible duplicate/sister issue: https://github.com/agda/agda/issues/2625

[2022-03-19 18:11] nad commented on #5839
The grammar only includes operators for which, roughly speaking, all name parts are present in the expression/pattern that is parsed.

[2022-03-19 18:31] andreasabel commented on #5839
But if this is the case, what is the reason that parsing would fail?

[2022-03-19 18:51] isovector commented on #5839
I actually hadn't noticed that my variable name `x` was part of the mixfix `var_x`, which makes this behavior more scrutable. However, I think a better error message here would go a very long way!

[2022-03-19 20:39] tomjack commented on #5838
Thanks, glad to see you all are already on the case! Feel free to close this issue if desired, of course.

Side note: I thought maybe the problematic `local'` should _always_ behave trivially, like `\_ _ -> refl` (so the winding numbers from it would always be 0.) This is what I originally expected to find. Intuitively, if `i \/ ~ i` is basically the same as `i1`, then the transport should be basi

[2022-03-20 07:13] andreasabel commented on #5838
Well, we still need someone to fix it... @Saizan is less available since he moved to industry, so we'd be happy for a volunteer.  (Ping @mortberg @sattlerc.)

[2022-03-20 13:03] nad commented on #5839
https://github.com/agda/agda/blob/2816605bfdc24c93d8801016d31beeed7608ad02/src/full/Agda/Syntax/Concrete/Operators.hs#L299-L301

In this case `var` and `x` are part of `conParts` (because `x` is mentioned in the pattern), but not `conNames`. Perhaps the error message could include an explanation of which things are allowed as "atoms".

[2022-03-20 16:35] andreasabel commented on #5839
Yes, please.  Should be easy since all the information is on the table already.

[2022-03-20 18:54] isovector commented on #5839
One other confounding issue here is that make case and refinement were both _automatically_ choosing the name `x` for my variable in `bug`.

[2022-03-21 07:56] andreasabel commented on #5839
`x` is the default if no other name is suggested.  You can give a name to the argument of `bug`, and then this one will be used:
[code]
The default chosen name for the first argument of `bug` is then `philosantos`.

Unfortunately, if that chosen name isn't valid as pattern variable, then Agda doesn't try another one, but errors out, as you report.  Agda doesn't maintain a set of names that mustn't

[2022-03-21 14:50] #5805 closed, assigned to nobody

[2022-03-21 16:33] andreasabel commented on #5838
Shrinking action by 4 C/H type theorists and me produced this simplification in 3 hours:
[code]

[2022-03-21 16:35] andreasabel commented on #5838
Inlining the cubical library, this confirms the problem existed from the beginning (Agda 2.6.0), maybe unsurprisingly:
[code]

[2022-03-21 16:46] andreasabel commented on #5755
If #5838 is indeed an incarnation of the problem discussed here, there might be more incentive to fix it now...

[2022-03-22 06:50] andreasabel commented on #5823
Here is a MWE that makes Agda loop (since Agda 2.5.1.1, when `eta-equality` was added):
[code]

[2022-03-22 09:18] jonsterling commented on #5755
I think we have thought about this question and although I was initially worried about the algorithm for such a system, I believe there is actually no fundamental problem. Of course, putting aside the structure on the interval, even just adding the diagonal cofibrations is likely a pretty invasive change to Agda if it was not initially designed to support them, but it would be Cool.

[2022-03-22 09:30] Saizan commented on #5755
@jonsterling with both connections and diagonal cofibrations, do you think can we still turn cofibrations into "solved form", i.e. disjunctive normal form where all equations have a variable on at least one side?

[2022-03-22 09:39] jonsterling commented on #5755
@Saizan I am not sure that this strategy will succeed, unless you replace equations by inequalities; this is actually reasonable to consider, as you can think of this in terms of a graph reachability problem.

In `cooltt`, we have an abstract type that implements a solver for the dimension theory (see http://redprl.org/cooltt/cooltt/Cubical/index.html). We use this everywhere, so most of `cooltt`'

[2022-03-22 11:12] favonia commented on #5755
It's likely that, for directed type theory, the current cooltt-flavored cofibration theory extended with only `i <= j` (which would mean `i = meet(i,j)` but we don't want to introduce general meets or joins) would be sufficient for the type constructors we care about. It's trivial to add `i <= j` to cooltt, but I'd like to wait until all the details of directed type theory have been worked out on

[2022-03-22 11:22] Saizan commented on #5755
Using a decision procedure for "interval equality modulo assumed cofibrations" would be quite a different approach to what Agda is currently doing. Not sure how difficult it would be to integrate.

[2022-03-22 17:47] tomjack commented on #5755
In the meantime, is it worth it to "just" apply the change in simhu's updated note above? The following patch seems to fix the examples in #5838. `compHCompU DoTransp` should also be fixed, maybe? I don't know if there are any other problems...

[code]

[2022-03-22 19:00] sattlerc commented on #5755
Andreas and I just checked with a similar patch, which also seemed to fix the self-contained example in #5838.

Do you want to submit a pull request?

Don't forget to apply the same change in [a second place](https://github.com/agda/agda/blob/e2eb867be0353cec5ad1a3edf0ef209b3ed6aef4/src/full/Agda/TypeChecking/Primitive/Cubical.hs#L583) in the code (that should be refactored in the future).

[2022-03-23 10:24] andreasabel commented on #5712
Picked for 2.6.2.2-rc2 (with easily fixed merge conflict).

[2022-03-23 14:57] andreasabel opened #5843 "Proposal: new flag `--cubical-compatible` replacing `--without-K`"
Agda dev discussion on 2022-03-23 (@UlfNorell @nad @MatthewDaggitt @jespercockx).
Problem we address:
- buggy/incomplete/expensive code for cubical stuff affects users that just want `--without-K`.
- @MatthewDaggitt: "cubical" errors popping up when there was no mention of anything "cubical" (not even in flags)

New semantics:
- [x] `--cubical-compatible` is the current `--without-K`: implies the

[2022-03-23 20:07] #5823 closed, assigned to andreasabel

[2022-03-23 20:36] tomjack commented on #5755
@sattlerc I will make a PR if you wish, but I think yours will be better :wink:. Also, I don't know how to fix `compHCompU DoTransp`. (I assume a similar change should be applied there?)

[2022-03-24 05:27] dolio opened #5845 "Internal error caused by abstracting `variables`"
The following code causes an internal error:
[code]
It seems to be related to quantifying the variables for `lam`. The error message is:

    An internal error has occurred. Please report this as a bug.
    Location of the error: __IMPOSSIBLE__, called at src/full/Agda/TypeChecking/Generalize.hs:301:38 in ...

Latest version from the master branch as of this comment.

[2022-03-24 06:58] andreasabel commented on #5755
Ok, @tomjack, I'll make a stab at a PR.

[2022-03-24 08:34] andreasabel commented on #5845
Running a bisect...

[2022-03-24 08:48] tomjack commented on #5838
Here is an addendum to Issue5838.agda which shows (I think?) that `compHCompU DoTransp` also needs to be fixed:

[code]

[2022-03-24 08:49] UlfNorell commented on #5845
It's #3667. The check for constrained metas is missing a meta for some reason. The "regression" is that I put an `__IMPOSSIBLE__` when this happens rather than generating an ill formed type.

Prediction: bisect will blame baf79f9774

[2022-03-24 09:11] andreasabel commented on #5838
@simhu, do you also have a fix for this? The current PR (#5846) implements (hopefully) the fix mentioned in https://github.com/agda/agda/issues/5755#issuecomment-1043797776.

Ping @sattlerc @Saizan @AndrasKovacs @mortberg.

[2022-03-24 09:36] andreasabel commented on #5845
Bisection yields:
  `Checking Issue5845 (/Users/abel/tmp/agda/Issue5845.agda).`
  `An internal error has occurred. Please report this as a bug.`
  `Location of the error: __IMPOSSIBLE__, called at src/full/Agda/TypeChecking/Generalize.hs:285:38 in Agda-2.6.2-inplace:Agda.TypeChecking.Generalize`
Verdict: Bad
d1a9d7d5f5422701037ae48d780feeafd30a82c0 is the first bad commit @jespercockx
Date:   Fri

[2022-03-24 11:26] xekoukou opened #5848 "Internal error with `--confluence-check`"
[code]

[code]

[2022-03-24 12:56] andreasabel commented on #5848
The internal error is raised here: https://github.com/agda/agda/blob/d8ec8dd860b21272cb53747e55000c096db75885/src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs#L319-L320

[2022-03-24 12:58] andreasabel commented on #5848
Would be interesting to see whether this is a regression.  @xekoukou , could you shrink your test case so that it does not use the `cubical` library, only the `Agda.Builtin.*` modules?

[2022-03-24 14:42] xekoukou commented on #5848
[code]

[2022-03-24 15:20] mortberg commented on #5838
Yeah, I think that any changes made to transp for Glue should also be made for transp for HCompU.

[2022-03-24 16:34] andreasabel commented on #5848
Thanks @xekoukou !
For this minimal test, 2.6.3 and 2.6.2 have the same location of the internal error.  2.6.1 has a different one, and 2.6.0 does not know about `--confluence-check`.  So, it is not a regression.

[2022-03-25 10:44] andreasabel opened #5850 "Warn about useless hiding in `variable` declaration"
Since generalized variables are hidden by default, explicitly asking them to be hidden should give a warning.
[code]
The only hiding modifier that has some effect is _instance_ (`{{a}}`).

[2022-03-25 11:34] andreasabel opened #5851 "`genTel` shows up in context, meta-solution printed as `_`"
This is a reasonable (yet not maximal) shrinking of a real-life Agda project:
[code]
The goal context shows up as follows:
[code]
The meta is solved but its solution is not printed, probably due to `genTel`:
[code]
This is problematic, because I would like Agda to help me figure out the hole _and insert the solution so that I can read it_.

A related issue has been fixed, but maybe the fix wasn't

[2022-03-25 15:31] andreasabel commented on #5719
Ping @andrejbauer for a self-contained reproducer.

[2022-03-25 15:42] andreasabel commented on #5739
I find the GHC 9.2.2 release notes somewhat inconclusive: https://downloads.haskell.org/ghc/9.2.2/docs/html/users_guide/9.2.2-notes.html
@gshen42 : Is the build problem fixed with GHC 9.2.2?

[2022-03-25 16:02] asr commented on #5831
@andreasabel, you can cherry-pick 1d9cd2227c1f4a36139a7df11282c2bccd0a5a76 in 2.6.2.2.

[2022-03-25 19:42] gshen42 commented on #5739
Just tested it, the build succeeded with GHC 9.2.2, thanks for the help!

[2022-03-25 21:19] #5850 closed, assigned to andreasabel

[2022-03-25 21:21] #5739 closed, assigned to nobody

[2022-03-26 09:20] andreasabel commented on #5831
This would probably be painful and conflict with my added patches (_changelog hell_), but I'll release the content of this commit.

[2022-03-26 11:32] andreasabel commented on #5715
Note: this breaks `master` of `cubical`:
- https://github.com/agda/cubical/issues/743

[2022-03-26 14:15] andreasabel commented on #5509
I suppose we can remove the conditional and request developers/users using the `Makefile` to either install ICU or comment this out themselves.

[2022-03-27 09:27] andreasabel commented on #3092
@UlfNorell (CC: @jespercockx): How does your proposal relate to
- #5784

[2022-03-27 10:13] UlfNorell commented on #3092
That problem was that we only computed whnf instead of normalising. This proposal is about primEraseEquality on neutral terms and I believe the op in that case had canonical terms?

[2022-03-27 10:29] andreasabel commented on #3092
So that would mean we would reduce the terms under comparison,
- give up when we reach neutrals
- block when we reach blocked things
- continue comparison if we get canonicals
- apply eta when one is a neutral and one is a canonical and continue ?

Is that the idea?

[2022-03-27 12:32] #5838 closed, assigned to andreasabel

[2022-03-27 20:59] szumixie opened #5856 "Lambda with irrefutable pattern is not rejected when used on Path"
The following code is accepted by Agda:
[code]

While the following results in `Panic: unbound variable`:
[code]

[2022-03-28 09:47] andreasabel commented on #5856
These examples fail on 2.6.0, e.g.
[code]
This is probably because the irrefutable pattern lambda wasn't implemented yet, and Agda 2.6.0 interpreted `\ (c e) -> _` as `\ c e -> _`.

When you expand the sugar manually to `λ i → let (c e) = i in _`, then you get the expected error:
[code]
So, I'd rather blame a hackish implementation of irrefutable pattern lambdas than Cubical Agda.

[2022-03-28 12:21] andreasabel commented on #5856
Links:
- PR https://github.com/agda/agda/pull/3884
- commit https://github.com/agda/agda/commit/2fbef7d4bb4b2060aa10d0a14f0c42e53aa43cb2

[2022-03-28 14:23] andreasabel commented on #5856
The culprit seems to be https://github.com/agda/agda/commit/2fbef7d4bb4b2060aa10d0a14f0c42e53aa43cb2#r69718062 :
https://github.com/agda/agda/blob/c5b4e202bf59f4f1fcb9cd73303a752385502a48/src/full/Agda/TypeChecking/Rules/Term.hs#L423-L425
The pattern contained in `x'` is just discarded when checking a path-lambda.

[2022-03-28 14:56] andreasabel commented on #5856
With #5857, we now error out if a path-lambda has a pattern.

[2022-03-28 16:46] #5856 closed, assigned to andreasabel

[2022-03-29 15:01] andreasabel commented on #4954
When interactive-highlighting is on, constructor blocks are not highlighted in `interleaved mutual` blocks.  (More precisely, they are briefly highlighted with information coming from the scope checker, and then decolorized again.)
Works with non-interactive highlighting.

[2022-03-29 22:52] anuyts commented on #5843
It may be sound to have both the cubical operators (but not Glue) **and** K, though I don't know the details, see [A Cubical Language for Bishop Sets](https://arxiv.org/abs/2003.01491).
Edit: It seems they're not actually substantiating such claims for large types.

[2022-03-30 08:50] nad commented on #5843
See #3750.

[2022-03-30 10:49] MatthewDaggitt opened #5859 "Improve `execTC`'s interaction with caching"
The result of the `execTC` builtin which is used for making system calls can depend on external resources which can change over time. The problem is that if the file containing that system call type-checks, then the result will be cached in the interface file and the module will not be re-type checked unless the code in that file is actively changed. Therefore if the external resource changes, the

[2022-03-30 10:51] MatthewDaggitt commented on #5859
Just realised I should have been more precise. It's not any file that "contains a system call", otherwise `Reflection.External` in the standard library would never be cached. It's any file which _runs_ a macro which contains a system call which shouldn't be cached.

[2022-03-30 10:55] MatthewDaggitt commented on #5859
Hmm actually this would be disruptive to system calls which are deterministic in their arguments. Maybe we need two separate `execTC` primitives? `execTC` and `execNonDeterministicTC`? Only the latter would prevent caching...

[2022-03-30 12:29] jespercockx commented on #5859
We could have a separate `TC` primitive `volatile : TC A -> TC A` that marks the result of running the operation as volatile, so it is always re-run even when the file didn't change.

[2022-03-30 12:41] jespercockx commented on #5843
I think we should think very carefully and perhaps do a poll before making a change to the default behaviour of Agda such as making `--without-K` be enabled by default.

[2022-03-30 13:48] jespercockx commented on #4599
Two possible solutions for fixing this properly:
- Either remember which variables were generated during the desugaring of record pattern lambdas, and do a custom printing of them in the pretty-printer.
- Or go all the way in the other direction and add a primitive pattern-lambda or case operator in the internal syntax.

[2022-03-30 14:55] gallais commented on #4599
Remember that irrefutable patterns are elaborated to irrefutable lets. I see that in

[code]

we get `P p → Q (p .fst) (p .snd) → A` as the type of the goal which is also not very satisfactory IMO.

So I think the issue may come from the fact we deal with `let` by inlining (& then eta-contraction kicks in
to refold `(p .fst , p .snd)` as `p`. Ideally it'd be nice to have:

[code]
IIRC we already h

[2022-03-30 14:57] nad commented on #5843
I don't think we should change the default, that might break a lot of code for little benefit.

[2022-03-31 07:45] nad commented on #5843
In what sense is `--without-K` supposed to ensure compatibility with univalence? The fix of issue #5448 relies on the new treatment of inductive families. Here is some self-contained code that uses postulated univalence:
[code]
I don't think the code above should be accepted, and if Agda 2.6.3-0a9a5dd is used, then we get the following error message:
[code]
The code is accepted by Agda 2.6.2.

You

[2022-03-31 08:23] wenkokke commented on #5859
That’s a nice, general solution, but do we think we’ll ever have any source of nondeterminism other than from external processes? Might just be worth having an `execVolatileTC` as @MatthewDaggitt suggested, and deprecate it if ever we need the general keyword?

[2022-03-31 09:09] jespercockx commented on #5859
That's a valid point as well. One other solution would be to allow marking a specific *macro* as being volatile rather than the TC operations used in the macro, which might be easier to implement.

[2022-03-31 19:39] jespercockx commented on #4193
I noticed that the Treeless syntax currently does not preserve any of the `ArgInfo`. If we do not erase arguments marked with `@0` entirely from the Treeless syntax, then we should at least preserve the annotations so that each backend can make its own decision on whether to keep or remove them.

[2022-04-02 18:44] andreasabel commented on #5831
Agda 2.6.2.2 released from https://github.com/agda/agda/pull/5841 (tag v2.6.2.2).

[2022-04-02 18:44] #5831 closed, assigned to andreasabel

[2022-04-03 15:15] wenkokke opened #5860 "Bad performance with equation-chain structure done in the wrong order"
See this issue on PLFA: https://github.com/plfa/plfa.github.io/issues/639

Could this be a regression?

[2022-04-03 21:23] andreasabel commented on #5860
Here is the self-contained code (no std-lib):
[code]

[2022-04-03 21:34] andreasabel commented on #5860
I cannot observe any significant difference between these versions:
- 2.6.2.2
- 2.6.2
- 2.6.1
- 2.6.0
- 2.5.4.2

They all consume roughly 4GB of main memory and take quite loooong to produce goal text (which is 3700 lines long in my emacs).
I couldn't test 2.5.3 (even after inlining `Agda.Builting.Sigma`) because the MWE does not type check; there have been improvements in the unifier in 2.5.4.

M

[2022-04-03 23:10] andreasabel commented on #4883
I tried
[code]
but it does not compare in speed to the cabal goal `make type-check`.
Neither does:
[code]

So I come to the conclusion that for now, the goal is not attainable.  [Why not develop with `cabal`?]
`stack` enthusiasts, if you find a solution, please contribute it!

[2022-04-04 10:26] gallais commented on #5860
The following change makes a massive difference:

[code]

Cf. agda/agda-stdlib#622 for the explanation

[2022-04-06 13:07] andreasabel commented on #5843
Revised proposal:
- Just add `--cubical-compatible` as alias for `--without-K` and mention it in the documentation.
- `--with-K` will be the antagonist of `--cubical-compatible`.

Rationale:
As shown by @nad, current (2.6.2.x) `--without-K` does not guarantee compatibility with univalence, and we do not know how to implement such a flag without the `--cubical-compatible` stuff.

[2022-04-07 08:00] nad commented on #5843
As an aside the following code that does not make use of `@0` is accepted by both Agda 2.6.2 and a recent development version:
[code]
I don't think this is a problem: The GHC backend erases equality proofs for `--without-K` and `--erased-cubical` (and `--with-K`), and having non-erased univalence is not compatible with that. If one wants to use non-erased univalence, and compile the code, then one

[2022-04-07 08:04] nad commented on #5843
I don't know exactly what this means, but I guess there should be no change: one can currently import code that uses `--without-K` from modules that use `--with-K`, but not vice versa.

[2022-04-07 10:00] UlfNorell commented on #5843
The only change (PR: #5862) is adding the flag `--cubical-compatible` as an alias for `--without-K` and updating the documentation to reflect that `--cubical-compatible` is the new, party-approved named.

[2022-04-07 12:10] nad commented on #5843
I'd like to note that I find the name a little strange, given that code that uses `--cubical-compatible` will be compatible with "everything", including `--with-K`. However, perhaps `--compatible-with-everything-including-cubical` is too long.

[2022-04-07 12:26] UlfNorell commented on #5843
Code using `--cubical-compatible` is also compatible with the natural numbers, but I don't think it would help to put that in the name. Do you have a list of things that you *need* `--cubical-compatible` for, that aren't cubical?

[2022-04-07 12:47] UlfNorell commented on #1625
Flag is documented, so I think this can be closed?

[2022-04-07 12:53] martinescardo commented on #1625
Could we rename the flag to "--lossy-unification". It is not reassuring to have an "experimental" flag in a formalization behind a paper one submits for publication.

[2022-04-07 14:44] nad commented on #5843
I import modules that use `--without-K` from modules that use `--with-K`, `--erased-cubical`, and `--cubical`.

[2022-04-07 18:36] UlfNorell commented on #5843
What's your point? Do you think it should be explicit in the name of the option that it doesn't break compatibility with `--with-K`?

[2022-04-08 15:53] andreasabel opened #5863 "Publish `Agda.Utils.Graph.AdjacencyMap.Unidirectional`?"
I have been once more searching for dynamic graph libraries today on hackage and didn't find anything suitable...
I am playing with the idea of publishing `Agda.Utils.Graph.AdjacencyMap.Unidirectional` as
- package `adjacency-map-graphs`
- module `Data.Graph.AdjacencyMap.Unidirectional`

As a candidate for our in-house `SemiRing` class, there would be https://hackage.haskell.org/package/star-0.0.1

[2022-04-11 19:24] ice1000 commented on #3733
@Saizan is there any update on the cubicalagda2.pdf thing? Is it published now or is there an updated version?

[2022-04-13 06:34] #5843 closed, assigned to UlfNorell

[2022-04-13 09:39] andreasabel commented on #5399
Discussion entry (dev meeting 2022-04-13): `unquoteDecl` could be generalized to take scope-versions of arbitrary declarations, followed by an expression which delivers these at type-checking time (using reflection).  Syntax draft:
[code]

[2022-04-13 13:28] andreasabel commented on #1625
I think that would be fine. `--lossy-unification` already shows a red flag, not need to double this up with `experimental`.

[2022-04-13 20:28] finegeometer commented on #5793
Is there a workaround for this problem, if I want to run Agda code in the browser now?

[2022-04-14 02:20] L-TChen opened #5864 "Redesign syntax for unquoting declarations"
As I am extending Agda with unquoting scoped datatype declarations that would inevitably need some addition apart from  `unquoteDecl`. It will be wise to have a discussion on this matter with potential users, and perhaps continue the discussion in AIM later. This version of declarations, like `unquoteDecl`, only allows introducing names into scopes explicitly.

As discussed yesterday during dev me

[2022-04-14 02:36] L-TChen commented on #5864
Another issue I have in mind is whether the tactic used to define these declarations should take names as arguments implicitly.

As an example, I have a patched Agda which allows the user to declare a datatype by tactic as
[code]
similar to the second syntax proposal (see [here](
https://github.com/Zekt/Type-Embellishment/blob/500e8c74bfe6d4cb6a12aaf384e1569b6da12fa2/src/Tests/Example.agda#L92)).

[2022-04-14 11:23] caryoscelus commented on #5793
@finegeometer you can merge my branch from https://github.com/agda/agda/pull/5825 locally and build agda. or post-process .js output (i'm not very familiar with node/npm, but i think some people build webapps using bundling of node code)

[2022-04-16 02:21] tomjack commented on #5806
Very interesting idea! I was surprised to find that this actually seems to work, with some fixes to `coh`, below.

At least, the definition is accepted, and we can define the desired isomorphisms. I am suspicious whether it works _correctly_... There appears to be at least one minor problem: canonicity fails when we do transp directly over one of these types, but eta-expanding seems to resolve the

[2022-04-17 18:04] kangxyz commented on #5806
Ohhh... I see the undesired ``i``. I wrote something really stupid, and I have no idea why I haven't notice that. Thanks!
Btw, I have updated the file `Cubical.HITs.James.Inductive.Reduced` [you may see here](https://github.com/agda/cubical/pull/722) by applying this method further. The result is much simplified!

So the problem is not the _syntax_ of but the _error message_ about HITs. It's total

[2022-04-19 11:06] nad commented on #5843
If we have to include something like `cubical` (to satisfy @MatthewDaggitt's request), then perhaps it would also make sense to include something like `K`.

[2022-04-20 22:37] ionathanch opened #5867 "Feature request: Indexed records"
Records currently only allow parameters; I propose being able to define indexed records as well by giving constructors type annotations. For instance, the following `data` definition:
[code]
could alternatively be defined as
[code]
Another example: the identity type (Martin-Löf style).
[code]
Has this been suggested before? Are there any immediate problems with this? Some issues I can think of:
*

[2022-04-20 22:49] gallais commented on #5867
This is a duplicate of #4650 (admittedly it's not easy to find unless you know to look for @txa)

[2022-04-20 22:49] #5867 closed, assigned to nobody

[2022-04-22 17:24] nad opened #5868 "Document `--two-level`"
The flag `--two-level` is not mentioned in the documentation.

[2022-04-24 18:13] howsiyu opened #5869 "Relax definitional equality of `transp`"
[code]

The code above typechecks. Just focusing on the last line, If I understand the requirement of `transp` correctly, this implies that `P (i ∨ ~ (j ∨ k))` is constant wrt `k` when `i ∨ j = i1`. However, this cannot be deduced merely from identities of De Morgan Algebra. Consider the De Morgan Algebra `{0, 1, i, j}` where `~ i = i`, `~ j = j`, `i ∧ j = 0`, and `i ∨ j = 1`. `i ∨ ~ (j ∨ 0) = 1`

[2022-04-25 07:00] andreasabel commented on #5869
Isn't it that `i ∨ j = i1` implies that either `i = i1` or `j = i1` (1)?  In both cases, `i ∨ ~ (j ∨ k)` is constant in `k`.
Which De Morgan Algebra would refute (1)?

Btw., I think the relevant line in the Agda code base is: https://github.com/agda/agda/blob/505464961f07f0991263708fd8cbf5f7ad12f53f/src/full/Agda/TypeChecking/Primitive/Cubical.hs#L1809

[2022-04-25 09:14] howsiyu commented on #5869
If we are just using the rules of De Morgan Algebra, `i ∨ j = i1` does not imply `i = i1` or `j = i1`. I have provided a counterexample in the original comment.

[2022-04-25 09:17] sattlerc commented on #5869
That's right. But it's not needed.

The implication `i ∨ j = 1 → P constant` holds whenever for all interval context substitutions in which `i ∨ j = 1` holds, we also have `P constant`.

The interval presheaf at some interval context K is the elements of the **free** de Morgan algebra on K. And in a free de Morgan algebra, `i ∨ j = 1` implies `i = 1` or `j = 1`.

[2022-04-25 09:39] andreasabel commented on #5869
Thanks, @sattlerc.  While we are at it, is it sound to reason in the real interval [0;1] with min, max, and (1-) to derive theorems of a free de Morgan algebra?  In other words, would the real interval be a complete model of de Morgan algebras, or is there a theorem that is true in [0;1] but not in all de Morgan algebras?

[2022-04-25 09:40] howsiyu commented on #5869
[code]

In that case, should `qux` and `quux` be definitionally equal? They are the same except for the second argument in `transp`, and the second argument is only used to decide which face of the square to check the first argument is constant.

[2022-04-25 09:46] sattlerc commented on #5869
No, these are different `transp` instances. The second argument is relevant.

[2022-04-25 09:48] howsiyu commented on #5869
My point is even though their second arguments are different, they determine the same set of faces in the square.

[2022-04-25 10:07] sattlerc commented on #5869
They have different reduction behaviour: when the proposition encoded by the second argument is true, the transport is guaranteed to evaluate to the third argument. So they cannot be identified.

[2022-04-25 10:09] sattlerc commented on #5869
No. For example, the real interval validates `∀ x, y. x = min(x, y) ∨ x = max(x, y)`, but the free de Morgan algebra on two variables does not.

[2022-04-25 10:14] howsiyu commented on #5869
But both `(i ∧ k) ∨ ~ (i ∨ k) = 1` and `(i ∨ ~ k) ∧ (~ i ∨ k) = 1` iff `i = 0, j = 0` or `i = 1, j = 1` in a free De Morgan algebra.

[2022-04-25 10:20] howsiyu commented on #5869
What if we use [0;1] ^ n instead?

[2022-04-25 10:25] sattlerc commented on #5869
But `(i ∧ k) ∨ ~ (i ∨ k)` and `(i ∨ ~ k) ∧ (~ i ∨ k)` are different elements of the free de Morgan algebra on `i` and `k`.

[2022-04-25 10:27] howsiyu commented on #5869
True but it seems like we only care about the condition when they are equal to `1`.

[2022-04-25 10:27] sattlerc commented on #5869
Why?

[2022-04-25 10:28] sattlerc commented on #5869
Probably.

[2022-04-25 10:46] howsiyu commented on #5869
In [A CUBICAL TYPE THEORY FOR HIGHER INDUCTIVE TYPES](http://www.cse.chalmers.se/%7Esimonhu/misc/hcomp.pdf), transp is described as

[2022-04-25 11:16] andreasabel commented on #5869
Yes, these are their normal forms (I hacked together a normalizer...):
[code]
(Note that conjunction binds stronger than disjunction here.)

@howsiyu : So you are saying we should identify `transp A phi1` and `transp A phi2` already when `phi1 = 1` _iff_ `phi2 = 1`?
Afaict, atm they are only identified when `phi1 <==> phi2`, via this function: https://github.com/agda/agda/blob/505464961f07f0991263

[2022-04-25 11:40] sattlerc commented on #5869
@howsiyu I think I understand now what you mean. You are asking why we take an interval variable `i` as second argument instead of the proposition encoded by `i = 1`.

Indeed, that's how cubical type theory has been defined, with the cofibration classifier (of which the second argument of transport is an element) a strictly univalent universe of propositions.

In the implementation in cubical Agda

[2022-04-25 11:43] howsiyu commented on #5869
Yes. If we are working in general De Morgan Algebra `phi1 = 1` _iff_ `phi2 = 1` is the same as `phi1 = phi2`. However, if we are working in free De Morgan Algebra `phi1 = 1` _iff_ `phi2 = 1` is weaker than `phi1 = phi2` and I claim the former suffices for our purpose.

[2022-04-25 11:47] howsiyu commented on #5869
Yes.

[2022-04-25 16:53] andreasabel commented on #5869
This would be a relaxation of the definitional equality which could be beneficial.  Most likely, the building blocks to implement this relaxation are already present in the code base and just have to be put together.
Does this only affect `transp` or also other cubical primitives?

[2022-04-25 17:14] sattlerc commented on #5869
It is preferable to implement the cofibration classifier `Cof` as its own sort, separate from the interval sort `I`. It is true that we have two obvious surjections `I → Cof`, but it is ugly to speak about `Cof` using an equivalence relation on `I`.

Basically, `Cof` is generated by the strict propositions `i = 0` and `i = 1` for `i : I` (only one of them is needed in the presence of negation, but

[2022-04-25 20:49] andreasabel commented on #5843
Maybe `--without-K` had the advantage to explicitly stating one change (dropping K from unification) but the disadvantage of not stating the rest of the package (termination checking, cubical boilerplate).
On the other hand `--cubical-compatible` hints that some stuff is done to ensure `--cubical` will work in importing modules, but isn't specific about any technical details (such as dropping K).

[2022-04-26 10:52] Saizan commented on #5869
`(~ r) = 0` is not the same as `Not (r = 0)`, in fact handling Not in Cof would probably be complicated: `Not (i = 0)` does not give you an assignment for `i`.

So in that sense using `I` as argument for the various primitives gives you a little more expressivity, at the cost of more distinctions on that argument. We used to rely on this in some of the reductions for transp and hcomp, not sure any

[2022-04-26 13:00] sattlerc commented on #5869
My point was that `(~ r) = 0` is the same as `r = 1`, so in the presence of negations in the interval, only one of the equalities `i = 0`, `i = 1` is needed. But that seems like a hack to me (that depends on reversals).

I don't think we need negation of cofibrations.

EDIT: I should have used the term _reversal_ instead.

[2022-04-26 15:31] WhatisRT opened #5873 "Reflection primitives turning TC into a reader and state monad"
Several reflection primitives in Agda simply reflect aspects of the `TCM` monad into Agda, particularly some of its state and environment. There is not much structure to those primitives though, whereas the `TCM` monad is a reader & state monad.

This issue is about mirroring this structure in the reflection mechanism. This should make the reflection interface more consistent to use while making i

[2022-04-27 06:47] Saizan commented on #5869
I see, I misunderstood that aside, anyhow my main point was that if you try to refactor `I` to `Cof` you might bump into places where we made use of reversals to "optimize" computations. Maybe this was mostly in the compGlue implementation we dropped, but it could show up elsewhere.

[2022-04-27 09:07] andreasabel opened #5874 "Workflow `deploy` broke"
Workflow `deploy` on ubuntu-20.04 broken since 2022-04-08
- https://github.com/agda/agda/runs/5883429340?check_suite_focus=true

[code]

- Last successful run:
  Environment: ubuntu-20.04
  Version: 20220330.0
  Included Software: https://github.com/actions/virtual-environments/blob/ubuntu20/20220330.0/images/linux/Ubuntu2004-Readme.md
  Image Release: https://github.com/actions/virtual-environmen

[2022-04-27 09:48] lawcho commented on #5818
The Sigma type causes this issue too:
[code]
As before, removing `in eq` makes the error go away.

(tested on Agda 2.6.2.1)

[2022-04-27 09:56] lawcho opened #5875 "Instance Search breaks Termination Highlighting"
The termination checker correctly finds the bad call in the following code:

[code]

However, when I replace `open Monad-Lite Monad-id` with `open Monad-Lite {{...}}`, the highlighting disappears.

The termination checker still complains, it just doesn't say where the suspicious call is any more.

Screenshots:

![Expected Behaviour](https://user-images.githubusercontent.com/95857153/165492239-f168

[2022-04-27 10:00] WhatisRT commented on #5864
In my opinion, the current system of `unquoteDecl` and `unquoteDef` is very limiting and I think there's a different direction to go in that would also make this a non-issue. I think there should be a single syntax for invoking a metaprogram at the top level, and the functionality that `unquoteDecl/Def` provide should just come from functions that transform those metaprograms.

For this concrete i

[2022-04-27 11:32] andreasabel commented on #3230
For  example (error message involving `with`) see
- #5866

[2022-04-27 15:02] asr opened #5876 "GHC 9.0.2 missing warning: -Wunicode-bidirectional-format-characters"
GHC 9.0.2 adds the  [`-Wunicode-bidirectional-format-characters`](https://downloads.haskell.org/~ghc/9.0.2/docs/html/users_guide/using-warnings.html#ghc-flag--Wunicode-bidirectional-format-characters) to the standard warnings.

[2022-04-27 16:19] andreasabel commented on #5876
@asr: Please read https://github.com/agda/agda/commit/fe75c14b8c963ee0f1b3aeade49e8f0ba2eeb125#r72324051

[2022-04-27 19:13] andreasabel commented on #5876
Thanks!

[2022-04-27 19:40] #5876 closed, assigned to nobody

[2022-04-27 19:50] andreasabel commented on #5875
Thanks for reporting!  This used to work in Agda 2.5.2/3/4, broke in 2.6.0.

[2022-04-28 09:50] andreasabel commented on #5875
Starting bisection:
[code]
Skript `issue5875.sh`:
[code]
The file `Issue5875b.agda` is the MWE from the OP.

[2022-04-28 14:00] anuyts opened #5880 "Refine replaces syntax with its definition"
Attempts to create a minimal example failed, so I'll have to refer to a bloated example.

In [this commit](https://github.com/anuyts/cubical/tree/7005c82f), in [this file](https://github.com/anuyts/cubical/blob/7005c82f8fb593b20f703678014d825abf53d097/Cubical/Categories/Instances/FunctorAlgebras.agda), if you replace the line that says
[code]
with
[code]
and then load (C-c C-l), stand in the hole

[2022-04-28 15:25] andreasabel commented on #5875
Bisection produced this:
47358b362129b6848ec9d6ea57c626e321ffb261 is the first bad commit
Date:   Thu Dec 13 13:32:18 2018 +0100
[ #3435 ] postpone instance constraints while checking applications

Let's see how helpful this information is to fix the issue...

[2022-04-28 17:19] andreasabel commented on #5875
The real culprit seems to be 2970da8f47e89b3e79c398c0948c722100b5a6d2 (ping @gallais) see https://github.com/agda/agda/commit/2970da8f47e89b3e79c398c0948c722100b5a6d2#r72426685:

[2022-04-28 20:16] #5875 closed, assigned to andreasabel

[2022-04-28 21:09] andreasabel commented on #5880
Welcome to dig around, a starting point could be here: https://github.com/agda/agda/blob/bed2ecf8a9b00711779452e00b78a1a60fa8e542/src/full/Agda/Interaction/InteractionTop.hs#L1015
If I read this correctly Agda does not give `literally` when _refine_ changed something in the expression, like adding a `?`.

[2022-04-29 13:10] andreasabel commented on #5874
Problem reported to `ghcup`:
- https://gitlab.haskell.org/haskell/ghcup-hs/-/issues/356

[2022-04-29 13:35] anuyts commented on #4573
For what it's worth, I'm having a similar issue.

On [line 216 here](https://github.com/anuyts/ctx-alg/blob/c294cfef1b43b88827f761e922fd49364c12a2ea/src/Mat/Free/Term.agda#L216), I have a functor definition that does not type-check within reasonable time. The functor is defined by composing two other functors, and it seems that making metas explicit does not help: I think the problem is in the tim

[2022-04-29 13:46] ayberkt commented on #4573
@anuyts I almost always have this issue in the development I'm currently working on (that has got quite big). The only solution I've found is to use the `--experimental-lossy-unification` flag (which I believe was implemented by @Saizan). This has dramatically reduced the frustration I experience when working with Agda and I don't know what I would do without it :smile:

[2022-04-29 14:03] jamesmckinna opened #5883 "irrefutable `with` patterns in the scope of a `where` clause"
I previously posted this on the Agda Zulip, #**newcomers>`where` clauses governing irrefutable `with` clauses** , but no-one answered (well, Matthew did, but he wasn't familiar with nested `with`...), and the workaround, using a parenthesised `let`, seems unsatisfactory in general. Is this 'merely' a parsing issue, or something more subtle going on?

Suppose I have a function defined by nested wit

[2022-04-29 17:47] andreasabel commented on #5874
The issue was moved to GHC:
- https://gitlab.haskell.org/ghc/ghc/-/issues/21454

There it is suggested by @bgamari that building a statically linked executable might be problematic:
https://github.com/agda/agda/blob/a1575bc63bd984c19cab97b1137771cf48a0b5dd/src/github/workflows/deploy.yml#L37

@hasufell suggests building on Alpine Linux instead, using a workflow akin to https://github.com/hasufell/

[2022-04-30 10:07] andreasabel commented on #5874
Resolved (for now) by reverting to `ubuntu-18.04` in  7bda16229ef4728761a9b538f17bb63e20777618.

[2022-04-30 10:07] #5874 closed, assigned to andreasabel

[2022-05-02 08:58] andreasabel commented on #5864
@WhatisRT : How do you propose scope-checking would work then?
The problem we are facing here is that the scope-checker needs to know about the names and their kinds (module, data, constructor...) _before_ the TC actions are run.

[2022-05-02 13:05] anuyts opened #5884 "Keeping track of constraints in cubical via non-primitive path types?"
What I'm going to write here is something between a feature request and a research proposal.

One of the great advantages of cubical type theory is that the path type behaves somewhat like a function type, making results like `funExt`, `refl`, `sym`, `cong` and `flipSquare` trivial to implement and giving them nice computational behaviour.
However, when as a user of Agda cubical you dare to make u

[2022-05-02 13:10] howsiyu opened #5885 "More efficient `hcomp` of dependent pair"
I notice that `hcomp` of dependent pair uses `fill` under the hood as evidenced by

[code]

It would be more efficient to use `v = hfill (λ i o → u i o .fst) (inS (outS u₀ .fst))` instead as described by https://simhu.github.io/misc/hcomp.pdf. I'm using Agda version 2.6.2.2.

[2022-05-02 13:14] anuyts commented on #5884
Well we can probably only allow Kan operations in the extension type if φ is constant in the dimension of composition/transport. This could be a problem.

[2022-05-02 21:04] howsiyu opened #5886 "`primFaceForall φ = i1` does not imply `φ i = i1`"
I'm trying to define `transp` for Glue type internally in Agda following the paper by Simon Huber. However, I'm stuck at defining `t` at
[code]

for getting the error

[code]
in the second last line of the code.

[2022-05-03 08:53] mortberg commented on #4573
Yeah, we're currently using this in many places in the library to get down the type qchecking times.

Having a discussion about how to organize and speed up the CT library sounds like an excellent topic for AIM

[2022-05-03 10:32] MatthewDaggitt commented on #5494
Example:
[code]

[2022-05-03 10:52] gallais commented on #5494
This is the relevant lossy unification bit:

https://github.com/agda/agda/blob/7bda16229ef4728761a9b538f17bb63e20777618/src/full/Agda/TypeChecking/Conversion.hs#L200-L207

[2022-05-03 13:33] andreasabel commented on #5886
Would you need some new primitive?
[code]

With that, you could write the type of `t`:
[code]

[2022-05-03 14:44] jespercockx commented on #5494
Discussion on Zulip during AIM XXXV: https://agda.zulipchat.com/#narrow/stream/321314-aim-xxxv/topic/Irrelevant.20instance.20arguments

[2022-05-03 20:04] andreasabel opened #5887 "Caching in the stack.yml CI workflow done correctly?"
Atm, we are restoring the cache after doing `stack update`:
https://github.com/agda/agda/blob/7bda16229ef4728761a9b538f17bb63e20777618/src/github/workflows/stack.yml#L150-L166
A few questions:
1. Is `stack update` actually needed?  Cannot find this step in e.g. https://github.com/freckle/stack-action/blob/605917bad6487161de15eea71f03163f9d37399f/action.yml
2. Does `stack update` write to the `~/.s

[2022-05-03 21:10] howsiyu commented on #5886
That does solve my problem. I have neither the expertise to determine whether this is the right solution nor understanding of the code base to implement it though.

[2022-05-04 03:41] L-TChen commented on #5887
1. `stack update` creates `${STACK_ROOT}/config.yaml` which is needed in the following step (`echo ...`)
2. Yes, if cache succeeds. Otherwise, the stack index needs to be updated anyway. Changing the order and using a conditional may work as well.
3. This workflow checks if Agda can be built from scratch, except dependencies, using `stack`. Caching `.stack-work` may store older snapshots and incre

[2022-05-04 13:17] nad commented on #4573
Note that Agda is not really designed for the use of lossy unification. In ["A comprehensible guide to a new unifier for CIC including universe polymorphism and overloading"](https://doi.org/10.1017/S0956796817000028) Ziliani and Sozeau argue for a form of lossy, first-order unification. They present an example with multiple solutions, and claim that the first-order solution is the natural, expect

[2022-05-04 16:10] andreasabel commented on #5886
@Saizan : Andrea, do you have some advice how to solve the OP in the best way in Cubical Agda?

[2022-05-04 19:08] Saizan commented on #5886
A primitive like you suggested is sound and can simply be postulated as `IsOne _` is proof-irrelevant.

More generally I would say parametrized faces are not well-supported as they go beyond what you could have in plain cubical type theory

[2022-05-05 06:21] howsiyu commented on #5886
@Saizan Thanks for the suggestion. Should I close this bug then or is it still a good idea to add that as a primitive?

[2022-05-05 06:58] howsiyu commented on #5886
Actually, I still can't define `t`. I tried
[code]

but get an error
[code]

[2022-05-05 07:07] andreasabel commented on #5886
I get a bit further:
[code]
Error now:
[code]

[2022-05-05 07:10] howsiyu commented on #5886
Actually I get it working after adding another function

[code]

[2022-05-05 08:25] lawcho opened #5890 "`... with` provokes internal error"
Removing the `...` before `with` makes the code pass type-checking.

The error:
[code]

The code:
[code]

[2022-05-05 08:28] gallais commented on #5890
This is probably #5728

[2022-05-05 10:03] lawcho commented on #5728
Another test case -- this time `with` is *after* the `...`

[code]
(the first `with` is there to tell the parser that `bad` isn't a stand-alone absurd clause)

Error:
[code]

[2022-05-05 10:03] lawcho commented on #5890
Looks like it -- closing as duplicate.

[2022-05-05 10:03] #5890 closed, assigned to nobody

[2022-05-05 18:30] ionathanch opened #5891 "`SizeUniv : SizeUniv` is inconsistent"
I guess this is fairly obvious since it's exactly the same as type-in-type but I thought I might as well create an explicit example since I didn't see one around (based on Hurkin's paradox). It also means sized types aren't consistent merely by removing `∞ < ∞`. Wasn't `SizeUniv` formerly somewhere in the universe hierarchy?

[code]

[2022-05-06 06:20] mortberg commented on #4573
Right, but what we noticed (especially when working on the Z-cohomology stuff) is that it's pretty much impossible to do anything without the `--experimental-lossy-unification` flag as Agda gets so slow without it activated.... So how bad is it to have the flag activated? Agda accepts it together with `--safe`, so I've assumed that it's still pretty safe.

[2022-05-06 07:05] Saizan commented on #4573
With `--experimental-lossy-unification` some unification variables will be solved even if they might have more than one correct solution, which means that you might have expected them to be solved some other way.

I would expect that in most cases if a variable gets solved with an unexpected term you'll realize when you try to prove something about the affected definition.

[2022-05-06 07:22] mortberg commented on #4573
Ok, this seems like it's pretty much never a problem in practice for us and having type checking be fast (seconds instead of minutes) is much more important than Agda very rarely being unpredictable.

[2022-05-06 08:11] nad commented on #5891
I think the idea is that `SizeUniv` should only contain `Size` and `Size<`: https://github.com/agda/agda/commit/628fdcf12758a1bef659dd9f1fe4261fa5de3db2.

[2022-05-06 08:17] anuyts commented on #4573
So it never has the effect of refuting a well-typed definition, i.e. it applies non-lossy unification if lossy unification fails?

[2022-05-06 08:22] nad commented on #5891
More potentially problematic code:
[code]
However, the following code is rejected:
[code]

The following code is also rejected:
[code]

[2022-05-06 08:31] Saizan commented on #4573
It does also have that drawback: picking the "wrong" solution can lead to type errors in some other part of the code.

(I was going to add there is no backtracking in Agda's unification, but actually there is a tiny bit within the solution of a given constraint, but it's not enough to prevent this problem, and we would not want to add more backtracking)

[2022-05-06 08:44] ionathanch commented on #5891
How function types into types in `SizeUniv` are typed will have to change then, since `SizeUniv` is a little... impredicative? In any case, ⊥ doesn't need to be a data def:

[code]
Although I thought the reason you can define a data def in `SizeUniv` was because it's a sort, I'm surprised `IUniv` doesn't work the same way.

[2022-05-06 08:47] nad commented on #4573
When things get too slow I usually try to rewrite the code. (See for instance my [presentation](https://www.cse.chalmers.se/~nad/publications/danielsson-aim32-talk.txt) from AIM XXXII.)

[2022-05-06 08:50] nad commented on #4573
Perhaps it is possible for some malicious actor to come up with a theorem statement that looks like it says one thing, but actually means something else.

[2022-05-06 10:32] andreasabel commented on #5891
@ionathanch : I can get Agda to loop by eliminating \bot to get an inhabitant of `Size< i` for any `i` (which is inconsistent with the model of sizes).  But I couldn't exploit this to show absurdity...

[2022-05-06 17:01] ionathanch commented on #5891
I managed to do so using `∞` but only because it's the only closed size expression, not using the `∞ < ∞` property, although the principle is the same as for #3026:
[code]

[2022-05-07 08:35] andreasabel commented on #5891
Here is the proof of inconsistency in its full glory:
[code]

[2022-05-07 14:59] #5891 closed, assigned to andreasabel

[2022-05-07 18:10] jashug opened #5893 "Support Propositional Extensionality when combining --cubical and --prop"
Proposal: Add `primGlueProp` which acts analogously to `primGlue` but for `Prop`. Because types in `Prop` are definitionally irrelevant, instead of an equivalence it can simply take a bi-implication.

This would allow giving a constructive, computational proof of Propositional Extensionality for `Prop` (that `{P Q : Prop} -> (P -> Q) -> (Q -> P) -> Path Prop P Q`), which would allow proving that `

[2022-05-09 08:21] andreasabel opened #5894 "Why is `reduce (PiSort ... meta ...)` not blocked?"
@jespercockx, I was wondering why `PiSort` does not behave like a usual `Def`, meaning that if it cannot compute to a sort value because of unsolved metas, it would signal `Blocked`.  Atm, it does not do this.
This is a follow up of:
- https://github.com/agda/agda/pull/5892

The relevant code snippet is here: https://github.com/agda/agda/pull/5892/files#r867752534
The test case is here: https://gi

[2022-05-09 08:48] andreasabel commented on #5728
Note that Agda master accepts ellipsis in other situations, like
[code]
This replaces `...` by `foo` and gives the expected error:
[code]
Maybe we can just accept `...` as repeating the parent clause, `with` or not, and give a proper error for the OP, like _lhs cannot be omitted_.

[2022-05-09 11:03] #5728 closed, assigned to andreasabel

[2022-05-09 11:11] andreasabel commented on #5893
Can you elaborate a bit more.. Would that be this?
[code]

[2022-05-09 11:17] andreasabel commented on #5818
According to my experiments, this is fixed on 2.6.2.2.  You get unsolved constraints now (no uncaught pattern violation).

Please reopen if the behavior of 2.6.2.2 does not match your expectations.

[2022-05-09 11:17] #5818 closed, assigned to andreasabel

[2022-05-09 11:25] andreasabel commented on #5860
I don't see any concrete action to take here.  Closing...

[2022-05-09 11:25] #5860 closed, assigned to nobody

[2022-05-09 13:07] nad commented on #5797
@AndrasKovacs, we discussed glued evaluation during the Agda meeting today. Do you have any concrete, preferably small examples that show that one gets smaller meta-variable solutions if glued evaluation is used?

[2022-05-09 13:31] AndrasKovacs commented on #5797
There are small examples here:

- https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/bench/asymptotics.stt
- https://github.com/AndrasKovacs/smalltt/blob/989b020309686e04374f1ab7844f468386d2eb2f/bench/asymptotics.agda

These are highly synthetic though. The current smalltt implementation preserves all top-level unfoldings in meta solutions. In real code, this can

[2022-05-09 13:31] nad commented on #5893
During the Agda meeting today we discussed disallowing the combination of `--cubical` and `--prop`, because little thought seems to have gone into the combination of these features (see issue #5816).

Does it make sense to support univalence for `Prop`? Corollary 8.4 of ["A Cubical Language for Bishop Sets"](https://doi.org/10.46298/lmcs-18(1:43)2022) states that if one has "a boundary separated u

[2022-05-10 02:55] jashug commented on #5893
I was thinking of:

[code]

You can leave little `t` out of `prim^glueProp` because you can get an element of the right type by applying `e` to `a`, and `T : Prop _` so any two elements are definitionally equal.

Seeing it written out, I realize that `T o ↔ A` naturally lies in `Prop` while `PartialP` expects a `Set`, suggesting the use of `Box : Prop ℓ → Set ℓ`. This avoids needing to define vers

[2022-05-10 03:19] jashug commented on #5893
@nad

My understanding is that, in the language of ["A Cubical Language for Bishop Sets"](https://doi.org/10.46298/lmcs-18(1:43)2022), we have strict propositions which correspond to Agda's `Prop` (all elements are judgmentally equal) and weak propositions (hProps, for every two elements there is an element of the Identification type between them)

Corollary 8.4 is about univalence for h-Props whe

[2022-05-10 07:39] sattlerc commented on #5893
Corollary 8.4 from the cited paper is not relevant here (as explained by Jasper). Prop is fully compatible with cubical type theory (as mentioned by @Saizan in #5897).

If we had cumulativity, one could simply add that the existing `primGlue` is valued in `Prop` if the arguments are in `Prop`. With the current non-cumulative setup, it would be natural to treat `primGlue` as a sort-polymorphic type

[2022-05-10 14:02] nad commented on #5797
Related: #3094.

[2022-05-10 14:50] andreasabel opened #5899 "Regression in the termination checker for cubical:Data.W.Indexed"
AIM XXXV: Trying to run the "latest" `cubical` (https://github.com/agda/cubical/commit/ea67da91c5cd6cd374cd76c08b8e99ffa66e2848) on current `master` (Agda-2.6.3), I notice a termination error in these functions: https://github.com/agda/cubical/blob/021ecbf4580dc25a3dc3673eabcffff868ec35b3/Cubical/Data/W/Indexed.agda#L87-L119

This error can be fixed here by turning the index of `IW` into a paramet

[2022-05-12 09:20] anuyts opened #5900 "De Bruijn fail in Cubical (Was: Garbled boundary contexts & naming eta expansion.)"
The following minimal example does _not_ cause a problem:
[code]
so I will have to refer to my own code.

There are some holes at
* https://github.com/anuyts/ctx-alg/blob/15259093b0802315d7dc1d6b061540305680e1d7/src/Mat/Term.agda#L609
* https://github.com/anuyts/ctx-alg/blob/15259093b0802315d7dc1d6b061540305680e1d7/src/Mat/Term.agda#L623
* https://github.com/anuyts/ctx-alg/blob/15259093b0802315d7d

[2022-05-12 09:34] anuyts commented on #5900
Actually I cannot fill the hole using the boundaries obtained from the output:
[code]
The remaining `i` is not accepted on the grounds of an ill-typed inequality
[code]
where `strHom` is the name of the _second_ field of `AlgebraHom`, so I have the impression that the de Bruijn fail persists.

Also, why can't I use C-c C-s (or just type an underscore) to have the boundaries of my `Square` type fil

[2022-05-12 17:24] catern opened #5901 "Use `emacs --batch` mode in `agda-mode` setup"
agda-mode setup should just run "emacs --batch" and have Emacs write the results of the query to stdout, instead of using a temporary file. Besides greatly simplifying the current askEmacs function, it would also work properly when running "agda-mode setup" without a terminal, which currently doesn't work.

(I would just make this patch myself but I can't figure out how to get agda building inside

[2022-05-12 18:00] jxxcarlson opened #5902 "error using VSCode"
Below (1) is the error message I get on file (2).  Example: I opened the file in emacs, did ctrl-C, ctrl-L.  It did the syntax checking.  Then I did ctrl-C, ctrl-P and dismissed the dialogue that came up.  Then I did ctrl-C, ctrl-L again and got the error.

This after getting errors in VSCode.  It was working fine for a few hours, then stopped responding normally.  I quit, re-opened, and ran crl-C

[2022-05-12 23:33] ncfavier opened #5903 "Locale-independent handling of filenames?"
On Linux, trying to check an Agda file that imports files with Unicode characters in their name fails when using a non-UTF-8 locale.

For example, the following Nix derivation

[code]

fails with

[code]

or with `-v5`

[code]

and succeeds after adding `LANG = "C.UTF-8";`.

Why is that needed? According to the doc, Agda files are UTF-8 encoded.

More context at https://github.com/NixOS/nixpkgs/is

[2022-05-13 00:27] greydot commented on #5903
Just passing by. While Agda files _contain_ UTF-8, filenames aren't a part of file. Agda must call a C function to open a file and that's where it fails. So, it's more of a C bug and not Agda.

See, for example, this issue https://github.com/libarchive/libarchive/issues/587

[2022-05-13 07:38] andreasabel commented on #5902
Thanks for the report!

I see that you are not using the latest version of Agda.  This would be either 2.6.2.2 (released) or 2.6.3 (unreleased, from this repo).  We only fix bugs that appear in the latest version.

[2022-05-13 11:13] nad commented on #5903
See #4678.

[2022-05-13 11:13] #5903 closed, assigned to nobody

[2022-05-14 05:57] andreasabel commented on #5901
The relevant code snippet is this: https://github.com/agda/agda/blob/257a324006bc1758d58a0e4c2a132b2ab4c7ab05/src/agda-mode/Main.hs#L163-L177
Documentation of `emacs --batch` here: https://www.emacswiki.org/emacs/BatchMode

[2022-05-14 17:40] andreasabel commented on #5901
@catern, how does this work?
[code]
Maybe emacs in batch mode does not know about  `user-init-file`?
Bingo!:
[code]

So, I suppose this does not work... Closing...

[2022-05-14 18:32] catern commented on #5901
Ah, that's true. If you pass `--user=''` to set init-file-user to an empty string then Emacs will load the init file normally:
[code]
prints `/home/catern/.emacs.d/init.el` to stdout for me (no newline)

[2022-05-15 10:07] andreasabel commented on #5900
@anuyts:  Usually, when I tried to produce a minimal counterexample from my suspicion what the problem is, I could not reproduce the problem.  In my experience, one has to go through the process of shrinking the original occurrence of the problem, and this typically takes 2 hours (however, this might take longer due to the slow response of Cubical Agda on this file when working interactively).  Th

[2022-05-15 10:35] martinescardo commented on #5843
OK. So I am *not* using cubical and I still need --without-K for formalizing univalent mathematics. Will I be forced to write the misleading `--cubical-compatible` if all I want is `--without-K` in my code?

[2022-05-15 13:00] andreasabel commented on #5843
Yeah, this is a problem.  For the moment, `--without-K` is still there as a synonym.
What we would actually want is a `--without-K` that does not prepare for `--cubical`.  Maybe we could change the semantics of `--without-K` to just:
1. no K in pattern matching
2. modifications to the termination checker that enable HoTT postulates.
3. forbid large indices (UPDATE following @martinescardo)

Actual

[2022-05-15 13:11] andreasabel commented on #5901
On my system, this prints extra garbage:
[code]
However, what currently is done in `agda-mode` works correctly:
[code]

[2022-05-15 13:40] catern commented on #5901
Hm, that's weird, but it's definitely something that it's important to be tolerant of - a user's init file could do anything, including printing random stuff to standard-output. So I guess sticking with the temp-file is best.

It's still good to switch to `--batch` even though it doesn't simplify the implementation, because it allows agda-mode setup to be run without a terminal - e.g. `M-& agda-mo

[2022-05-15 15:47] martinescardo commented on #5843
Doesn't `--without-K` also change the universe levels of certain definitions with `data`? (Again in theory to retain HoTT/UF compatibility.)

I don't really understand (2), by the way.

[2022-05-16 06:53] andreasabel commented on #5887
Re 4.: I tried `stack-cache-action` but found it isn't sufficiently mature:
- https://github.com/freckle/stack-cache-action/issues/68
- https://github.com/freckle/stack-cache-action/issues/69

Re 2.: Restoring an old `.stack/` _after_ `stack update` and `stack configure` does not feel safe.  E.g. where are the results of `stack update` stored if not inside `.stack/` somewhere?
I wonder whether thi

[2022-05-16 08:03] andreasabel commented on #5901
I switch to `--batch` in
- #5908

Please test!

[2022-05-16 08:12] andreasabel commented on #5843
Maybe a good entry point for digging:
- #1023

[2022-05-16 08:24] andreasabel opened #5910 "Termination checker still incompatible with univalence"
Reported by @Saizan.  Lifted from:
- https://github.com/agda/agda/issues/1023#issuecomment-765223893
[code]

[2022-05-16 08:24] andreasabel commented on #1023
Meta-comment: Please do not reopen issues whose fix has been shipped.  Rather, open a new issue linking to the old one:
- #5910

[2022-05-16 08:24] #1023 closed, assigned to andreasabel

[2022-05-16 16:46] nad commented on #5843
Perhaps a better name would be `--compatible-with-univalence` (or `--compatible-with-univalence-and-uip`).

[2022-05-16 16:49] nad commented on #5843
As noted [above](https://github.com/agda/agda/issues/5843#issuecomment-1084216719) this does not suffice to ensure compatibility with univalence.

[2022-05-17 10:30] anuyts commented on #5900
I'll see what I can do.

Meanwhile, I remain interested in a theoretical explanation of this:

I'm really quite puzzled that Agda's current metavariable solver cannot automatically do this; I've been manually copy-pasting terms from Agda's output.

[2022-05-17 13:15] anuyts commented on #5900
[Here](https://github.com/anuyts/ctx-alg/blob/fb2bf5b4ffffa10571e35e7004edb3fd0929c90a/src/Mat/Term.agda) I now get the following output:

[code]

I do not get it if I comment out the last uncommented line. (Line 90. Note: github syntax highlighting does not bother with well-nested comments.)
I do not know how to interpret this output. What does it mean that agda is "stuck"?
What is the meaning of

[2022-05-17 16:54] andreasabel commented on #5887
@L-TChen wrote:

This is a valid concern, I raised it to the author of https://raehik.github.io/2021/03/01/caching-stack-and-cabal-haskell-builds-on-github-actions.html at:
- https://github.com/raehik/raehik.github.io/issues/1

[2022-05-17 17:05] andreasabel commented on #5887
I think rather then putting `system-ghc: true` into `config.yaml` we can simply add `--system-ghc` to the `ARGS`.

If we hash `stack.yaml` instead of `stack.yaml.lock` for the cache-key we could also skip the `stack build --dry-run` step.

As you suggest, we could try skipping `stack update` if we get a cache hit.

[2022-05-18 09:24] GetContented opened #5912 "agda-mode compile not working (macOS 11.6.5)"
Complete emacs noob here. Trying to get agda-mode working in emacs, but it seems to be failing with `agda-mode compile`. The setup seemed to work just fine, though. Wondering if someone could point me in the right direction if I'm doing something incorrectly.

reference: https://github.com/plfa/plfa.github.io/issues/644

[code]

[2022-05-18 09:59] andreasabel commented on #5912
Well, you are not using the latest release of Agda, which is 2.6.2.2 (you use 2.6.1.3).
I suspect you are on Emacs > 26.  Emacs 27 does not tolerate package `cl` anymore, but we switched to `cl-lib` in aa5e3a127bf17a8c80d947f3c286758a36dadc36 in Sep 2020, and this patch was released with Agda 2.6.2 in June 2021.

Upgrading Agda could fix your problem.
(General strategy: upgrade to the latest versi

[2022-05-18 13:01] Mr-Andersen opened #5913 "Arrow notation a-la Haskell"
Feature request: support arrow notation like Haskell does: https://downloads.haskell.org/ghc/latest/docs/html/users_guide/exts/arrows.html

[2022-05-18 14:53] andreasabel commented on #5913
Mr. Andersen, could you please provide a motivation in form of mouth-watering (fantasy) code snippets?
Also, do we have an arrow library yet for Agda?
What would be the killer app for the arrow notation?  (In Haskell, I rarely come across uses of this notation, and of Arrows in general.  They seem fringe in comparison to Applicative and Monad.)

[2022-05-18 14:56] andreasabel commented on #5912
@GetContented : I am closing this issue because I believe it is fixed by Agda 2.6.2.  Should you still experience the problem after updating, please reopen the issue.

[2022-05-18 14:56] #5912 closed, assigned to andreasabel

[2022-05-18 15:20] GetContented commented on #5912
Aplogies @andreasabel — I was following the suggestions by the PLFA book, which locks it to a certain version (for pedagogical reasons, I'm fairly sure). Bit of an annoying conundrum, really! I'll see how I go.

[2022-05-18 16:38] nad commented on #5912
There is no need to run `agda-mode compile` in order to use Agda's Emacs mode. However, if Emacs can choose between byte-compiled files and source files, then the byte-compiled files are (by default) chosen, even if the source files are newer. (At least for some version of Emacs.)

[2022-05-18 20:06] Mr-Andersen commented on #5913
@andreasabel
Motivation: arrows syntax may represent a program that requires only Arrow typeclass (~Applicative), ArrowChoice (~Selective) or ArrowApply (~Monad). With Haskell's ApplicativeDo extension one can write code with do notation and expect it to only use Applicative. This doesn't extend to Selective class (because it's not in `base`), which would allow limited choice of following effect.

[2022-05-18 20:15] Mr-Andersen commented on #5913
About arrow library for Agda: neither agda-stdlib nor agda-prelude seem to define needed types

[2022-05-18 21:03] nad commented on #4573
I'm investigating whether @vlopezj's work on heterogeneous unification (#5234) can be merged. I tried to get the cubical library to type-check with the new implementation of unification, and noticed that some code related to ℤ-cohomology was very slow. If the code relies on artefacts of the unification algorithm, then the code can break if unification changes.

I briefly tried to optimise the code

[2022-05-19 01:55] GetContented opened #5914 "agda-mode C-, and C-. and C-; not working"
Context:

[code]

Code context:

[code]

Within the first hole, if I try to use C-c C-, or C-c C-. or C-c C-; the punctuation character is not recognised as a command and agda beeps at me and displays C-c waiting for the next part of the command.

[2022-05-19 05:27] mortberg commented on #4573
I know @aljungstrom experimented a lot with locking things to speed up typechecking already? But maybe there are more definitions that should be locked?

[2022-05-19 09:00] andreasabel commented on #5914
Does your Emacs work correctly in other situations when it comes to input control sequences?
How long have you been using Emacs?

[2022-05-19 12:06] GetContented commented on #5914
I've been using Emacs about 2 days, so I'm a total noob pretty much.

I'm not sure what you mean by "input control sequences", but everything else I've tried works, pretty much.

If I type `\bN` then agda mode prints `ℕ` just fine. If I use C-a and C-e it goes to beginning and end of line, and C-v goes to next page. C-c C-f and C-c C-b work for moving between holes just fine, and C-c C-l works for

[2022-05-19 13:36] nad commented on #5914
Are you using Emacs in a terminal?

[2022-05-19 13:40] fredrikNordvallForsberg commented on #5914
This seems to be a known problem when running Emacs in a terminal, see for example https://emacs.stackexchange.com/questions/1020/problems-with-keybindings-when-using-terminal and linked and answers therein. Looks like the most reliable solution is "Don't run Emacs in a terminal, but use the GUI version instead"... Or you could try and [rebind the keys for the commands in question](https://www.gnu

[2022-05-19 13:44] aljungstrom commented on #4573
I actually don't think `Kn→ΩKn+1 _` or `_⌣ₖ_` should be problematic. Its definition is very simple and it's defined via truncation elimination anyway, so I don't think it should unfold very often. Its inverse is probably more problematic though. Regarding  `_⌣ₖ_`, it's defined via pattern-matching (and N-induction), so that guy should rarely unfold to anything.

My guess is that the slow type chec

[2022-05-19 13:59] GetContented commented on #5914
Yes, because agda mode isn't working at all for me in Aquamacs. It also doesn't work in VSCode properly, but I have an issue open in the VSCode plugin for that.

So far I've just not been using those features.

[2022-05-19 14:18] andreasabel commented on #5914
On my mac, I use https://emacsformacosx.com/ (rather than Aquamacs).

[2022-05-19 14:30] andreasabel commented on #5913
I think before we change the Agda language, we need solid evidence that the new feature will see substantial following.
This does not seem the case at the moment, with no Arrow library known.

Also, notice that one can do monadic programming without the `do` notation, and Agda long did not have the `do` notation, but folks were using `>>=` (bind) directly.  Only after sufficient experience with Mo

[2022-05-19 15:28] Mr-Andersen commented on #5913
Well, was worth a try :)

[2022-05-19 15:28] #5913 closed, assigned to nobody

[2022-05-19 18:33] nad commented on #4573
The first module that I encountered problems in was `Cubical.ZCohomology.RingStructure.RingLaws` (see the local definition `finalTransp`).

Here is the type signature given for `finalTransp`:
[code]
The first occurrence of `Kn→ΩKn+1 _` stands for `Kn→ΩKn+1 (suc (suc (n + suc (m + k))))`, and the second occurrence stands for `Kn→ΩKn+1 (suc (suc (suc (n + m + k))))`.

The normal form of `Kn→ΩKn+1 n`

[2022-05-20 05:03] UlfNorell commented on #4573
From https://agda.readthedocs.io/en/latest/tools/emacs-mode.html#keybindings (emphasis added):

[2022-05-20 05:29] nad commented on #4573
Thanks! The weak head normal forms of the terms I mentioned are small. I noticed that I could give the body of `finalTransp` piece by piece (in a certain order), but reloading takes a long time. (I don't have time to investigate this further right now.)

[2022-05-20 09:10] GetContented commented on #5914
Acquamacs is the recommended approach on the mac on the recommended tutorial for learning Agda (PLFA). Just for some context as to why I was trying to use it.

I guess I'll close this.

[2022-05-20 09:10] #5914 closed, assigned to nobody

[2022-05-20 12:38] andreasabel commented on #5900
This is unfortunately the status quo atm, indexed inductive types are still not well-supported by Cubical Agda.

[2022-05-22 22:19] andreasabel opened #5915 "Add option `--cwd DIR`"
Add option `--cwd DIR` to change to `DIR` before doing anything else relative to a dir.

Motivation:
- `cabal run agda` needs to be run from the agda repo root if agda has been cabal-built but not installed.
- Option is cheap to implement and gives extra flexiblity.

Bikeshedding:
- `stack exec` has option `--cwd DIR`
  (Thus, `stack exec --cwd DIR agda -- ARGS` does what `stack exec agda -- --cwd

[2022-05-23 10:06] nad commented on #5915
Could you use something like `cabal exec /bin/sh -- -c 'cd DIR && agda […]'` instead of `cabal run agda -- --cwd DIR […]`?

[2022-05-23 10:14] UlfNorell commented on #5915
I don't expect `cabal exec /bin/sh` sets up the shell with the locally built agda in the path, or have you checked that this actually works?

[2022-05-23 16:42] andreasabel commented on #5915
~~I think Ulf is right:~~
[code]
~~With `cabal exec` we get the _installed_ version of agda (if any), not the locally built one.~~

[2022-05-24 15:10] nad commented on #5901
The new code triggers a warning for me:
[code]
My current `.emacs` does not work properly together with `--no-site-file`. If we have to run the users' `.emacs` files, then I don't think we should use `--no-site-file`. However, the old code did not load `.emacs`, right?

An alternative might be to ensure that Emacs is run inside a terminal, but I don't know how to do that in a platform-independent

[2022-05-24 15:24] nad commented on #5915
[code]
From `cabal exec --help`: "The PATH is modified to make all executables in the dependency tree available (provided they have been built already)."

[2022-05-25 06:24] andreasabel commented on #5915
After all, @nad is right:
[code]
My experiment
[code]
fails because the (theoretically) built executable `agda` isn't existing (in practice):
[code]
Weird that `list-bin` (both with `cabal` and `cabal-plan`) would give me non-existent executables.

[2022-05-25 06:30] andreasabel commented on #5915
I still feel that programs whose behavior depends on the CWD should allow me to set it for them, but I do not see a pressing need in this case.  So let's postpone for now...

[2022-05-25 11:47] andreasabel commented on #5901
Well, I think it did: https://github.com/agda/agda/pull/5908/files#r881547737

But we can of course load the site file.  Please test again:
- https://github.com/agda/agda/pull/5919

[2022-05-25 13:05] nad commented on #5901
I manually ran code similar to what is in your pull request, and that seems to have worked.

[2022-05-26 09:40] nad opened #5920 "Erased constructors skipped in modality check"
The following code is rejected:
[code]
[code]
However, the following code is accepted:
[code]
Presumably the latter piece of code should also be rejected.

The following code is also accepted:
[code]
However, the following, similar code is rejected:
[code]
[code]

[2022-05-26 09:53] nad commented on #5920
For some reason we check modalities of definitions, but not of constructors:

https://github.com/agda/agda/blob/215a31a1ed6ff687f212173cbd8a04395b66035c/src/full/Agda/TypeChecking/Irrelevance.hs#L394-L402

I guess this code was written before we had erased constructors.

[2022-05-26 12:17] #5920 closed, assigned to nad

[2022-05-26 12:48] j-towns opened #5922 "Failure of termination checking for reflection-generated code due to data projections"
In the following, the function `F-to-N` passes the termination checker:
[code]
If we define a trivial macro which quotes and then unquotes the function, it still passes:
[code]
But if we explicitly pass the argument `b` to the macro, termination checking fails:
[code]
gives the warning
[code]
Another way to cause (to me unexpected) termination checking failure is to check the type of `f-term` in t

[2022-05-27 03:43] mikeshulman opened #5923 "Internal error in rewriting"
I'm trying to hack an approximation of Higher Observational Type Theory (for the curious, see my talks at the [CMU HoTT seminar](https://www.cmu.edu/dietrich/philosophy/hott/seminars/index.html)) in Agda using rewrite rules.  It was working surprisingly well, but then I hit an internal error.  I've been able to minimize the error-producing code down to the following:
[code]
In Agda 2.6.2.2 this pr