[2021-04-17 07:53] nad commented on #4954
I think I have fixed all problems reported above, but I would be surprised if there are not more problems that fall under the header of "Missing highlighting when interactive highlighting is used".

[2021-04-17 08:05] nad opened #5325 "Inefficient Eq instance for TCWarning"
The following comment is out of date:

https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/TypeChecking/Warnings.hs#L78

The current `Eq` instance:

https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/TypeChecking/Monad/Base.hs#L3421-L3423

Perhaps it makes sense to optimise the `Eq` instance.

[2021-04-17 08:29] nad commented on #5306
Highlighting for unsolved meta-variables and constraints is for some reason explicitly not generated right away:

https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/Interaction/Highlighting/Generate.hs#L90-L93

The commit implementing this behaviour (9a3a7043b5f14dfa58fd7b62c92de1445fccbc8a) seems to have been a reaction to a commit with the title "[ fix #3417

[2021-04-17 09:03] nad opened #5326 "The highlighting code should be optimised"
[Elsewhere](https://github.com/agda/agda/issues/4954#issuecomment-821480767) I wrote the following:

The `splitC` function is called from `generateAndPrintSyntaxInfo`:

https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/Interaction/Highlighting/Generate.hs#L163-L164

I added code that counted the length of `prevTokens`, and this indicates that the worst-case t

[2021-04-17 09:05] nad commented on #4954
We don't (#5326).

[2021-04-17 10:04] nad commented on #5326
Perhaps the new representation can also be used for [`File`](https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/Interaction/Highlighting/Precise.hs#L197-L202), in which case [`CompressedFile`](https://github.com/agda/agda/blob/aea2c53340f509c2c67157caeac360400ea6afbc/src/full/Agda/Interaction/Highlighting/Precise.hs#L345-L350) could be removed.

[2021-04-17 16:46] nad commented on #4525
When I ran a bunch of tests I only found one problem. Agda fails to solve a constraint in the following piece of code:
[code]
This can be fixed by, say, replacing the last underscore with `Q`.

However, something strange is going on here: If `{@0 _ : Set}` is removed from the type signature of `fails`, then the current development version of Agda also fails to solve a (very similar) constraint. Ca

[2021-04-18 11:21] nad commented on #4525
I compared the debug printout (`-vtc:20 -vtc.meta:40`) for the code above with the code where the last instance of `@0` has been removed, and it appears as if in the former case the meta-variable `_140` is η-expanded, but not in the latter case. The meta-variable is η-expanded after the following message:
[code]
There is no occurrence of `oops` in the debug printout for the failing code.

Some inf

[2021-04-18 11:29] nad commented on #4786
@wenkokke, do you discuss how parameters affect the types of constructors or projections in PLFA? If so this change might "break" the text. As an example, the statement that the constructor `c` of the data type `D` below is `{A : Set} → D A` is no longer correct after this change, because the type is `{@0 A : Set} → D A`.
[code]

[2021-04-19 07:00] andreasabel commented on #5326
5 years ago Guilhem Moulin was working on this, but this wasn't merged.  Maybe Guilhem still has the patches.  They were on a separate repo.
But if you are fixing this now, @nad, there may be no need to look for the old solution.

I had also looked around for better representations.  There are some libraries for interval trees on hackage, but I didn't find one back than that implemented what I wan

[2021-04-19 13:52] googleson78 opened #5329 "Broken doc pages in README.md"
These links, present in the readme, are broken:
https://agda.readthedocs.io/en/latest/getting-started/prerequisites.html
https://agda.readthedocs.io/en/latest/getting-started/quick-guide.html

[2021-04-19 17:01] #1145 closed, assigned to andreasabel

[2021-04-19 17:33] #5329 closed, assigned to andreasabel

[2021-04-19 17:46] andreasabel commented on #5236
We could store layout-inducing keywords in the stack of layout blocks.  When we encounter `constructor`, we search backwards through the stack.  If we see `mutual` we let `constructor` be a layout keyword, if we see `where` (which is following `record`), we don't.  If the stack is exhausted, we also don't.

[2021-04-19 20:58] andreasabel commented on #5250
This leaves a changed `.agda-lib` file after running the interaction suite.
[code]
That file is under version control, so this behavior is unpleasant.

[2021-04-20 00:51] jonsterling opened #5331 "Strange equation involving transp and postulate"
I was a bit surprised by the following behavior, in which postulated type constants seem to exhibit some form of regularity:

[code]

I would have expected that the definiens of `strange` wouldn't type check, based on my (limited) understanding of Agda's intended semantics. The reason I was surprised by this was I felt that in principle, it should be sound (in theory) to take a development in Agda

[2021-04-20 07:06] #5313 closed, assigned to nobody

[2021-04-20 07:20] andreasabel commented on #5061
Short of 4 months later travis-ci.com comes back with the following offer:

My answer:

[2021-04-20 07:28] andreasabel commented on #5061
@asr

One could say that `make TAGS` is a developer-only feature and need not be tested with CI.  Or something akin to https://github.com/agda/agda/blob/5f947133322abe62215362d7ab3ac4a4d1928cb8/.github/workflows/whitespace.yml could be implemented.

[2021-04-20 07:42] #4681 closed, assigned to nobody

[2021-04-20 09:20] jespercockx commented on #5250
Ah whoops :P I think this is the first time I wrote an interaction test using a script so I didn't realize I had to restore the state. It should be fixed now!

[2021-04-20 09:20] #5250 closed, assigned to jespercockx

[2021-04-20 12:08] MatthewDaggitt opened #5333 "Regression: unsolved metas when using `variable`s in `Data.Container.Indexed.Combinator`"
There appears to have been a regression with respect to `variable`s since the last release. If you type-check [`Data.Container.Indexed.Combinator`](https://github.com/agda/agda-stdlib/blob/master/src/Data/Container/Indexed/Combinator.agda) from the `master` branch of the standard library at any commit after https://github.com/agda/agda-stdlib/commit/747351e1675e29e882fc65e6ce54b968567648cb then it

[2021-04-20 16:25] andreasabel opened #5334 "Meta-variable in constructor type busts interleaved mutual"
@gallais
Why cannot `interleaved mutual` blocks handle meta-variables when matching a constructor type against possible data types?
[code]
reports
[code]
Why doesn't `Fin ?` match `Fin _`?

In a complex mutual very-dependent signature, I would hope to get some help from Agda to fill in some indices...

[2021-04-20 16:35] gallais commented on #5334
Patterns cannot have holes in them and I am reusing the `couldBeCallOf`
logic that is used to group blocks of function clauses inside a single
definition to identify potential parent data types:

https://github.com/agda/agda/blob/a96724385f3fd54f3a38a25ebeea69c6c598640c/src/full/Agda/Syntax/Concrete/Definitions.hs#L947-L957

(here `ns` is the list of names of datatypes declared in the interleaved

[2021-04-20 18:08] nad opened #5335 "Incorrect id attributes for local modules inside local modules"
Consider the following line in the file `test/LaTeXAndHTML/succeed/Indenting7.html`:

https://github.com/agda/agda/blob/a96724385f3fd54f3a38a25ebeea69c6c598640c/test/LaTeXAndHTML/succeed/Indenting7.html#L12

Note that the `id` attribute is `B₁`. This is a local module inside a local module:

https://github.com/agda/agda/blob/a96724385f3fd54f3a38a25ebeea69c6c598640c/test/LaTeXAndHTML/succeed/Indent

[2021-04-20 18:42] andreasabel commented on #5334
@gallais: Thanks for the explanation.  This should not be too hard to mend.
(At some point we should throw out patterns from the concrete syntax altogether...)

[So, I am trying `interleaved mutual` for the first time, and it is mind boggling what kind of mutuality one can formulate with that... Fascinating!]

[2021-04-20 18:49] andreasabel opened #5336 "`data Foo constructor {cs : ts}` notation in `interleaved mutual`"
In `interleaved mutual` blocks, I find myself writing comments which `data` some `constructor`s belong to.  For example,
[code]
It would be nice if one could make this formal.  Concrete suggestion:
[code]
This could also help Agda sorting constructors into data types in situations like #5334.

[2021-04-21 14:03] andreasabel commented on #4786
Put erasure under a flag.  (`--erasure` / `--no-erasure`).

[2021-04-21 14:07] andreasabel commented on #4613
Can we assume this is fixed?  Please reopen if issues remain.

[2021-04-21 14:13] andreasabel commented on #4729
Discussion 2021-04-21:  Let's implement this:

Pushes to `master` should also run CI.

Update: In PR #5338 I left the old prefixes 'issue' and 'release' in place rather than introducing a new one like `ci-`.
Ironically, this means that the OP won't be fixed (which talked about an `issueXXX` branch).

[2021-04-21 14:27] turion commented on #4613
From the rest of the thread I don't see why it should be fixed, but I think @alexarice will be able to confirm?

[2021-04-21 14:36] alexarice commented on #4613
This was not fixed last time I checked

[2021-04-21 15:08] jespercockx commented on #4994
After some further investigation this was not at all because of anti-unification, but rather because of a call to `computeElimHeadType` from `Rewriting.hs`. I have a fix incoming...

[2021-04-21 15:44] Saizan commented on #4994
@jespercockx Also test against https://github.com/HoTT-Intro/Agda/commit/24f6861188f1405df7c3f673b5192a3d17016254

[2021-04-21 16:12] andreasabel commented on #5334
Looking at `couldBeCallOf`, it actually does not make use of the pattern structure, only the names a pattern contains.  Thus, we can easily generalize `couldBeCallOf` to simply use a list of names.  Or we could patch the translation to pattern to map all non-pattern things to `WildP`.

[2021-04-21 16:16] jespercockx commented on #4994
@Saizan I just ran the test with that version. First I was getting an error in `09-equivalences.agda` that there's an abstract definition that's missing a type signature (which is due to a recent change I guess). After adding the missing type signature to the function `is-equiv-map-right-absorption-prod`, I managed to check up to `15-univalence.agda`, where I'm getting the same error as the one me

[2021-04-21 16:19] #4994 closed, assigned to jespercockx

[2021-04-21 17:25] turion commented on #4613
@alexarice I can't even reproduce on the released version 2.6.1.3:

[code]

Am I reproducing incorrectly?

[2021-04-21 17:30] andreasabel opened #5339 "`constructor` blocks do not tolerate overloading in same block"
Agda wants overloaded constructors in _separate_ blocks:
[code]
However, I think this is more an artifact of the implementation than a necessity.

[2021-04-21 17:56] laMudri commented on #4613
IIRC, Agda from Nixpkgs has `--local-interfaces` on by default. On my setup:

[code]

[2021-04-21 18:08] nad opened #5341 "Do not make context variables non-erased"
This issue has been broken out of issue #4525.

Agda accepts the following code:
[code]
The reason why this code is accepted is that when an erased argument is checked, then Agda makes all variables in the context non-erased:

https://github.com/agda/agda/blob/b63b0ad0e4f1af7e001342bebb0c3daaf542f328/src/full/Agda/TypeChecking/Rules/Application.hs#L694-L699

Thus, when the pattern-matching lambda

[2021-04-21 18:09] nad opened #5342 "Constraint solving fails unless an unused variable is marked as erased"
This issue has been broken out of issue #4525.

Agda accepts the following code:
[code]
However, if the final occurrence of `@0` is removed, then the code is rejected. Given that this annotation applies to an unused argument this seems like a bug to me. (The code is accepted again if the last underscore is replaced with `Q`.)

I compared the debug printout (`-vtc:20 -vtc.meta:40`) for the code abo

[2021-04-21 18:27] nad commented on #4525
I created new issues for the remaining things.

[2021-04-21 18:27] #4525 closed, assigned to nad

[2021-04-21 18:58] nad commented on #4786
@wenkokke, if this change is only active when `--erasure` is on, then it should not affect PLFA, so you can ignore my question.

[2021-04-21 19:01] nad commented on #5326
I've implemented some different data structures and run some benchmarks (`make std-lib-test`). Some observations and comments:
* I made the changes and ran the benchmarks on top of (roughly) commit f86f7044b40fc4a73e04254b627610062a295acb plus the change in commit 92c6f646364183e9f95ca238919b43df066b9033.
* Times vary quite a lot from run to run.
* Quite a bit of the time spent on computing and se

[2021-04-21 19:35] nad commented on #4786
The option `--erasure` should be infective. I wonder if one can still set things up so that (for instance) `Agda.Builtin.Sigma._,_` can have erased parameter arguments.

One idea is to generate such arguments, but only print `@0` if `--erased` is active. I wonder if anything would break if this approach is taken. If the only erased things are constructor arguments, what can go wrong? You can't inc

[2021-04-21 20:01] #5334 closed, assigned to andreasabel

[2021-04-22 05:51] #5259 closed, assigned to nobody

[2021-04-22 05:54] L-TChen commented on #5120
@jaycech3n now running `make install-bin` uses the patched `text-icu` so it should work again.

[2021-04-22 06:19] Saizan commented on #4786
@nad the code for the composition operations still gets the parameter telescope from the datatype, so it's fine. The `CubicalPrims` test also passes, which confirms the generated code runs as expected.

[2021-04-22 07:06] andreasabel commented on #5326
Excellent!

Yes, I think it is good to separate the data structure (`RangeMap`) from its application (map to `Aspects`).

Please open a PR so we can have a structured discussion with the conveniences offered by the PR functionality.

[2021-04-22 07:55] #4729 closed, assigned to andreasabel

[2021-04-22 09:02] andreasabel commented on #5258
The ghost is back to haunt us: https://github.com/agda/agda/runs/2408325047?check_suite_focus=true

[2021-04-22 09:09] #5339 closed, assigned to nobody

[2021-04-22 09:25] turion commented on #4613
Yes true, I forgot about that. I'm currently unable to patch this in a way that I can test this.

[2021-04-22 09:32] L-TChen commented on #5258
A-ha, at least I think I know why. Oddly enough, stack does not generate a different lock file from the previous one without including the locally patched `text-icu` so the cache is hit (which it shouldn't).

It is also my bad that I removed the hash of `stack.yaml` as part of cache key by mistake.

[2021-04-22 14:01] nad commented on #4786
Thanks.

If we take the approach that I speculate above, where `@0` is inserted into the types of constructors and projections, but not printed, could the cubical composition operations be used to observe that the `@0` annotations are present?

[2021-04-23 07:21] nad commented on #5326
Another comment: The append function (`<>`) is not associative for `Aspects`. I think this is the reason for some changes to the highlighting behaviour. @andreasabel, you made append non-associative (66a82e62df9455e158818189d6ed3c6ee98f8626). I'm not convinced that this is a good idea.

[2021-04-23 10:57] Saizan commented on #5331
My approach was that it should only be fine to substitute postulates for closed terms/global elements that take the module parameters as arguments. This is how they interact with the `@flat` modality as well.

In that case T might as well be given a "regular" transport structure, right? But I guess it doesn't have to.

Anyway this regularity trips people up enough that I should change it, in fact

[2021-04-23 10:57] #5331 closed, assigned to nobody

[2021-04-23 11:30] nad commented on #5326
No, this was due to a mistake I made.

[2021-04-23 15:28] nad opened #5347 "Make append associative for Aspect"
@andreasabel and I discussed this today. It should be possible to make `(<>)` associative by changing the `Name` constructor of `Aspect` so that it takes a set of `NameKind`s instead of a `NameKind`:

https://github.com/agda/agda/blob/b7a3e9ffd5f458e29ca04e3af97142e5bb1e9dc9/src/full/Agda/Interaction/Highlighting/Precise.hs#L79-L117

Perhaps `NameKind` can be partially ordered in a useful way, as

[2021-04-24 13:12] nad commented on #5326
I opened a separate issue related to how append is not associative (#5347).

The code passes all the tests now. It took me a few iterations to get the code to work for old versions of GHC. I also changed the implementation. Now the conversion from `HighlightingInfoBuilder` to `HighlightingInfo` no longer goes via `PositionMap`. (The difference in performance seems to be small for the standard libr

[2021-04-25 16:07] #5236 closed, assigned to andreasabel

[2021-04-28 11:25] mietek opened #5349 "Instance resolution should not require type annotations in unambiguous situations"
It seems that Agda 2.6.1.3 or earlier has introduced a regression with regards to instance resolution.  A whole lot of my code that previously typechecked now needs additional type annotations in situations that do not seem like they should require such annotations.

Arjen confirms the failure happens also in Agda 2.6.2-4f87d39.

[code]

[2021-04-28 16:09] asr commented on #5297
Due to this issue we are not using GHC 9.0.1 on GitHub workflows. I'm waiting a release of `stack` for fixing this issue (see https://github.com/commercialhaskell/stack/issues/5516).

I could compiling the current master (131bca433b7918056080b76f040267acc8499ca5) using [this](https://github.com/commercialhaskell/stack/releases/tag/rc%2Fv2.7.0.1) release candidate for `stack`.

[2021-04-28 16:38] andreasabel commented on #5336
After implementing this in #5350, I noticed that `data...where` is cumulative, so the existing syntax could work:
[code]
Test case in #5351.

[2021-04-29 10:14] andreasabel opened #5352 "Testsuite: Let `--double-check` be controlled by `.flags`"
Currently, there is a hard-wired list of test cases that should skip the `--double-check`:
https://github.com/agda/agda/blob/131bca433b7918056080b76f040267acc8499ca5/test/Succeed/Tests.hs#L73-L78
https://github.com/agda/agda/blob/131bca433b7918056080b76f040267acc8499ca5/test/Succeed/Tests.hs#L128-L132
I think we should rather put this information into the `.flags` file.  Rationale: it is less hidd

[2021-04-29 12:57] #5352 closed, assigned to andreasabel

[2021-04-29 13:37] #5317 closed, assigned to nad

[2021-04-29 13:52] andreasabel commented on #4216
To migrate to v2-cabal these problems remain for me:
- [ ] `make type-check`:  The v1-solution passing `--ghc-options=-fno-code` does not work with v2-cabal, as it wants then to reinstall all the dependencies (haskell/cabal#1176, haskell/cabal#7368)
- [ ] `make install-bin`: `cabal install` after `cabal build` recompiles Agda from scratch, since it compiles from the `sdist`-tarball.  One could try

[2021-04-30 19:07] uncle-betty opened #5355 "Invalid case split for with ... in"
I think that I ran into an issue with a `C-c C-c` case split on `x` in the goal in the following piece of code, using current `master`:

[code]
Doing the case split results in this:

[code]

Which makes Agda say `Unexpected with patterns | eq`.

Manually removing `| eq` is an easy workaround.

[code]

[2021-04-30 19:29] gallais commented on #5355
Related: #513, #3995

[2021-05-01 07:01] andreasabel opened #5356 "`interleaved mutual`: `data _ where` instead of `constructor`"
The new `interleaved mutual` blocks introduced `constructor` blocks.  However, I noticed that for uniform constructor blocks, introducing just constructors for one data type `D`, one can use the existing notation `data D where` (https://github.com/agda/agda/issues/5336#issuecomment-828603619).

It seems more conservative to _not_ introduce a new syntax, i.e., `constructor` blocks (with layout-or-n

[2021-05-01 08:01] jespercockx commented on #5356
I vote in favour of re-using the existing syntax if possible.

[2021-05-01 11:38] nad commented on #5356
I have not paid much attention to this discussion. I generally prefer syntax that can be copied verbatim into papers: I think it is a positive sign if you can write a functional pearl in Literate Agda without having to explain the notation that you are using (and without too much hacking to hide parts of the code).

The mutual keyword is quite self-explanatory, and is easy to hide if you want to:

[2021-05-01 11:39] UlfNorell commented on #5356
+1 on dropping `constructor` blocks in favour of `data .. where`

[2021-05-02 13:48] andreasabel commented on #5356
@nad, what about the new `interleaved mutual`?  How would you rate this?  Also, your comment does not touch on `data` signatures and `data...where` blocks...

[2021-05-02 17:25] andreasabel commented on #5245
With Agda version 2.6.2-47702b6-dirty (build yesterday), I am experienced the loop:
[code]

[2021-05-02 18:27] uncle-betty commented on #5245
Oh, hey! Surprise!

Hmm. Can you still reproduce it? If so, could you tar up or zip up a copy of your code and your `_build` directory, and make it available for download somewhere? I'd like to try to reproduce it and to take a shot at this.

[2021-05-02 19:00] uncle-betty commented on #5245
Oh, and for how long did you let it loop? I think that it may also be something like the following situation:

  * Suppose that a top-level module A is being type-checked. Suppose that A has a few imports and that a few of these imports in turn import a module B. (The import tree rooted at A will thus have multiple paths from A to B, via different intermediate imports.) Suppose that a type-check o

[2021-05-03 07:30] andreasabel commented on #5245
I pressed Ctrl-C after maybe a couple hundred lines of `Checking Foo` with a repeating pattern.  I am packing the material which reproduces this, but its more than 300MB, will take while to upload.

In general, I don't think the same file should be checked visited several times during checking a module.  So if I see `Checking B` twice, I consider this a bug.  Because that never happened in the old

[2021-05-03 08:27] andreasabel commented on #5245
Material is here: http://www.cse.chalmers.se/~abela/tmp/agda-issue-5245/index.html

[2021-05-03 09:28] uncle-betty commented on #5245
Great! Thanks for the upload. I was able to reproduce the issue.

A bit over 8 minutes after starting the type-check, Agda finished with:

[code]

For some reason, when I looked into this ticket originally, I assumed that this re-check was by design. But now I agree that this is a bug. I didn't mean to imply otherwise. I just meant to say that I believe that we have two distinct bugs at our hands.

[2021-05-03 10:20] uncle-betty opened #5357 "Modules with warnings get type-checked multiple times"
This issue was initially observed while tracking down an infinite type-check loop in #5245. To reproduce, let's consider the following four files:

[code]

[code]

[code]

[code]

Type-checking `A.agda` works as expected:

[code]

Now let's make `D.agda` fail by changing `test = foo` to `test = bar`:

[code]

Now `D.agda` gets type-checked multiple times:

[code]

As far as I can see, this is a co

[2021-05-03 10:23] uncle-betty commented on #5245
I created an MWE for (ii) and opened a separate issue to track it: #5357. Let's maybe move further discussion over there.

[2021-05-03 12:04] nad commented on #5356
I might write something like the following:
[code]
I don't think `interleaved mutual` is self-explanatory, and writing `constructor` for each constructor could be rather noisy (and waste space), so I've hidden those parts of the code: the surrounding text explains what is going on. If I had to present actual Agda code I would prefer it there was at most a single, easily understandable keyword like

[2021-05-03 17:18] ecavallo opened #5358 "tactic annotation on record field of function type drops domain in copattern definition"
I'm using a tactic to give a record field a default definition, as in #4225. When the field has a function type, like `Bool → Bool` below, and I try to define an element of the record type by copattern matching (but not by the constructor), Agda seems to think I should give something of type `Bool` instead. `Bool → Bool → Bool` and so on also want to become just `Bool`.
[code]

[2021-05-04 06:24] andreasabel commented on #5356
Ok, if you would hide `constructor`, it wouldn't matter for you whether it is written `data _ where` instead.

[2021-05-04 07:00] nad commented on #5356
I'd prefer if I didn't have to hide anything.

[2021-05-04 07:11] gallais commented on #5356
(...) If I had to present actual Agda code I would prefer it there
  was at most a single, easily understandable keyword like mutual.

That would require some guesswork like turning all of the type
declarations that end in an applied type constructor and that
do not have a definition in the block into constructors.
But this heuristics could mistake e.g. a smart constructor with a
missing definitio

[2021-05-04 07:17] UlfNorell commented on #5356
@nad In your example you write `The constructor bla bla bla:` and then the constructor declaration, so clearly you feel the need to explain to the reader that the following declaration is of a constructor. Are you saying that in your ideal version of Agda the syntax for constructor blocks should be a literate comment containing the word constructor?

[2021-05-04 08:03] nad commented on #5356
Perhaps the `constructor` keyword, or the alternative notation discussed here, could be optional.

[2021-05-04 08:05] UlfNorell commented on #5356
But only if you have a literate comment explaining that it's a constructor of course.

[2021-05-04 08:10] nad commented on #5356
In another language one could perhaps treat everything of the form `name : type`, where there is no further definition of `name`, as a constructor declaration (and complain if the type does not make sense). However, in Agda it might be hard to tell what the defined name is in a function clause. Can we even do this in all cases now?

[2021-05-04 09:10] nad commented on #5356
No:
[code]
[code]

By the way, the disambiguation code seems to be rather crude, neither of the following two clauses are accepted:
[code]

[2021-05-04 10:28] nad commented on #5356
Consider the following code:
[code]
Agda accepts this, but if you split on `x`, then the resulting code is rejected:
[code]
I did not find any way to complete the code above (without changing anything but the clause of `f`, and having `f` applied to `_c` in the left-hand side). This is not a problem with `mutual` blocks, the following code is accepted:
[code]
I'm not sure this is actually a proble

[2021-05-04 11:42] andreasabel opened #5359 "Switching `-W error` on or off rechecks everything"
Whenever I switch `-W error`, Agda rechecks everything.
[code]

Does this make any sense?
- Switching `-W error` on: makes some mild sense to recheck everything, if you want to find the warning by stopping at the first file with a warning.
- Switching `-W error` off: Does not make sense to recheck everything, imo.  This is a monotone situation: everything that checked before will still check with

[2021-05-04 14:27] andreasabel opened #5361 "Records: separate field names from binders"
In theoretical treatments of record declarations, e.g. http://www-sop.inria.fr/oasis/DTP00/Proceedings/pollack.ps , the label names (which are not subject to alpha-renaming) are distinguished from their role as binders (which would be subject to alpha-renaming).  We could support this e.g. by the following syntax:
[code]
Note how `apply` would be awkward to read in the definition of `Congruence.co

[2021-05-04 14:51] jespercockx commented on #5361
I think being able to rename the fields in this way would be a very nice feature to have. For the bikeshedding part, I'm in favour of your second proposal, since it is similar to the existing syntax we have for renaming function arguments `{x = y : A}`, as well as how shadowed context variables are displayed in the interactive mode.

[2021-05-04 14:59] JacquesCarette commented on #5361
So which one is the label and which one is the binder? Which one is supposed to be used when?

This seems like a good idea. I'm extremely interested in the meta-theory of such a feature, which is why I'm asking for more details.

While I understand that `=` is consistent with current uses, `=` is already massively overloaded. Plus `=` is symmetric while all these uses are fundamentally oriented. I

[2021-05-04 15:30] UlfNorell commented on #5361
+1 for `fst = a`.

This syntax is currently used for
- renamed implicit function arguments
- shadowed context variables
- record expressions and patterns
- giving and matching on implicit arguments by name

In all of these cases it's `label = value/pattern/binding` so I don't see how adding one more consistent use case would add any (additional) confusion.

[2021-05-04 16:35] akaposi opened #5362 "Interleaved mutual and equality constructors"
For the following code:
[code]
I get the following error:
[code]

As it is clear from the previous line, `b` is in scope for the point constructor `d`, but for the equality constructor `e`.

I am using the development version of Agda.

[2021-05-04 16:37] akaposi commented on #5362
Here is a workaround with forward declarations:
[code]

[2021-05-04 17:38] gallais commented on #5362
Equality constructors are not supported by the interleaved mutual syntax
as I implemented it. I guess #5356 may solve that as there won't be any
need to automatically figure out to which inductive family the constructor
should be associated.

[2021-05-04 19:02] andreasabel commented on #5362
I am afraid this would not fix it; even if you do not use `constructor` but `data ... where`,
[code]
then still `interleaved mutual` blocks are reduced to forward declarations, resulting in
[code]
At least according to the user manual:
https://github.com/agda/agda/blame/master/doc/user-manual/language/mutual-recursion.lagda.rst#L83-L87

[2021-05-04 19:32] akaposi commented on #5362
Indeed, the problem is not specific to cubical. The following also doesn't typecheck as it cannot be reduced to forward declarations:
[code]

[2021-05-04 19:37] andreasabel commented on #5361
@JacquesCarette:

I was asking myself this question for the suggestion `x@y`, but for `x = y` I can hold on to the analogy of record expressions as a handrail.

An open question is how to scale this to record extension:
[code]

[2021-05-04 19:38] andreasabel commented on #5361
Actually, we can already simulate the feature using `private` declaration, for the price of extra noise:
[code]

Well, mostly.  Since the `private` declarations are not bound variables, they can clash with things of the same name already in scope, unless we fix #3801.

[2021-05-05 06:17] andreasabel commented on #4940
So there must be a problem with the test runner; the individual tests are not cleanly separated if some environment change from one test can spill over to the subsequent tests.

[2021-05-05 08:21] jespercockx opened #5363 "Regression: wildcard in type of generalizable variable becomes irrelevant"
Here's a minimal example:
[code]
On current master, this raises an error:
[code]
This used to work in 2.6.1, and I believe up to very recently. It is causing the build of my PR https://github.com/agda/agda/pull/5354 to fail.

It seems to be a problem specific to universe levels, as the following variant is still accepted:
[code]

[2021-05-05 08:36] jespercockx commented on #5363
Looking at the debug output, the inferred type of `levelOf` is actually `..{A.1 : Level} {A : Set A.1} → A → Level`, so somehow shape irrelevance managed to sneak its way into the type somehow.

[2021-05-05 10:00] jespercockx commented on #5363
This was introduced by the fix for #5058 in https://github.com/agda/agda/commit/2f896975db85287b13db5461428c8abcbfae1513. That patch is doing the right thing for metas that were created from explicitly mentioned generalizable variables, but not for metas created from the type of other generalizable metas: these should be generalized using the default modality.

[2021-05-05 12:11] JacquesCarette commented on #5361
In your first example (second-last message), why do you need
[code]
since you had already "done that" in the declaration of `Semigroup`. This is why I asked what you mean by 'label' and 'binder', as I honestly don't know. [Of course, I know the English and intuitive PL meanings, but not the technical meaning you/Agda attach to them. I guess I should go re-read that paper...]

Your simulation also

[2021-05-05 14:43] nad commented on #5359
Related: #4496, #5151, #5248.

[2021-05-05 15:13] nad commented on #4786
One option is to not have a `--erasure` option: the presence of `--erasure` should not rule out any models. The main disadvantage is perhaps that someone not familiar with erasure might see `@0` in some type signature.

Consider the following code:
[code]
If you infer the type of `c₁`, then you get `D _A_5`, and for `c₂` you get `(f : _A_5) → R _A_5`. However, for some reason the type inferred for

[2021-05-06 05:55] andreasabel opened #5365 "Escaping exception when parsing incomplete bind in `do` notation"
A proper error is missing for:
[code]
Agda prints:
[code]

Up to 2.6.1, Agda prints:
[code]

[2021-05-06 09:42] nad commented on #4786
@Saizan, doesn't it make sense to erase the parameters also in the composition operations?

[2021-05-06 11:02] #5363 closed, assigned to jespercockx

[2021-05-06 11:56] Saizan commented on #4786
@nad it doesn't, why would it make sense? if you transport along `(\ i -> List (ua e i))` I'd better be able to compute with that `e`. Even homogeneous composition needs them, as for e.g. `\Sigma A B` you'll need to transport along `B` composed with a filling.

[2021-05-06 14:18] nad commented on #4786
I'm not familiar with the computation rules for the composition operations, that's why I asked you. If the parameters are (supposed to be) used for run-time computations, then it makes sense to not mark them as erased.

[2021-05-06 17:30] #5365 closed, assigned to andreasabel

[2021-05-06 17:43] andreasabel commented on #5356
So we go for `data _ where` instead of `constructor`.

[2021-05-07 06:24] andreasabel commented on #5361
@JacquesCarette

Yeah, this is an open question, if the binders could survive their use in the record declaration and be exported somehow.  But that would contradict their spirit, they should be local (bound variables).

C.f. `data` declarations, e.g.
[code]
Here `x` is just a bound variable.

Actually, I meant to assign the meaning the other way round...

[2021-05-07 10:34] andreasabel opened #5367 "Parser regression involving `with` and `let`"
There is a parse error at the `let` now:
[code]
This is accepted by 2.6.1 and before.

In the `CHANGELOG`, I do not see any alert that such code is no longer expected to parse.

Is this change necessary to make the new internalized inspect idiom work, or is it accidential? (The `in` keyword is now used in both `let` and `with`...)

If we agree to this change, there should be an alert in the change

[2021-05-07 17:09] #5356 closed, assigned to andreasabel

[2021-05-07 17:10] andreasabel commented on #5336
Fixed by PR #5351.

[2021-05-07 17:10] #5336 closed, assigned to andreasabel

[2021-05-07 17:14] andreasabel commented on #5367
The parser was changed in ecb93230ad9327991e542731756cbe1405c85d5f when implementing #4041.

[2021-05-07 18:04] andreasabel commented on #5367
I tried to understand for one hour why in
[code]
I cannot replace `Application3` in the last line by `Application` (which includes `let...in...`).
But I did not understand the problem.

I _think_ that part of the problem is that for the sake of the `do` notation, a `let` expression does not have to have a `in`-body.  So there is at least some ambiguity in `with let z = x in z` which could be under

[2021-05-07 18:37] andreasabel commented on #5367
It is not only `let`, but also lower precedence expression that do not parse as with-expressions any more.  E.g., this previously correct Agda code is now rejected by the parser, due to the `forall`:
[code]
However, such a pointless `with` expression is unlikely to appear in the wild...

[2021-05-07 18:42] andreasabel opened #5368 "The stack-8.4.4 build is broken on github actions"
The `stack` workflow breaks for ghc version 8.4.4 since recently, see https://github.com/agda/agda/actions/workflows/stack.yml, e.g. https://github.com/agda/agda/runs/2529451554?check_suite_focus=true. Probably something upstream changed...

[2021-05-07 19:37] andreasabel commented on #5358
What is happening here?
- The coverage checker detects a missing clause `testB .y : @(tactic defaultTo x) {Bool → Bool}`.
- It expands this to `testB .y b : @(tactic defaultTo x) {Bool}`, eliminating the function type.
- It then runs the tactic at the wrong type.

A fix is to not expand the clause if there is a tactic attached to the projections.

[2021-05-07 19:59] #5358 closed, assigned to andreasabel

[2021-05-07 21:02] UlfNorell commented on #5367
I had to fix a couple of `with λ` in agda-prelude, so there are some cases in the wild. It's easy to fix though and it's not unreasonable to bracket the lambdas. Probably deserves a changelog entry though.

[2021-05-08 04:53] asr commented on #5297
`Stack 2.7.1` supporting GHC 9.0.1 was released.

[2021-05-08 06:59] nad commented on #5368
This seems to be a [GHC bug](https://gitlab.haskell.org/ghc/ghc/-/issues/15444) that can perhaps be [fixed](https://www.reddit.com/r/haskell/comments/an405v/ghc_up_installation_fails_with_error/) by installing `libnuma-dev`.

[2021-05-08 09:15] #5335 closed, assigned to nad

[2021-05-08 09:15] #5326 closed, assigned to nad

[2021-05-08 09:23] nad opened #5370 "Inconsistency in agda --help"
In the output of `agda --help`:
[code]
It seems as if `--qualified-instances` is the actual default. Is this also the intended default?

[2021-05-08 09:25] nad commented on #4908
We should perhaps mention that if one simply removes `--safe` from `{-# OPTIONS --safe --sized-types #-}`, then one also turns on `--guardedness` (in the absence of options given on the command-line or in a `.agda-lib` file). What is currently the best approximation of `--safe-except-for-sized-types --sized-types`? Is it `--sized-types --no-guardedness`?

[2021-05-08 09:28] jespercockx commented on #4908
Perhaps we should consider turning off `--guardedness` by default when enabling `--sized-types`.

[2021-05-08 09:32] nad opened #5371 "Unnecessary use of unsafePerformIO"
Why is `unsafePerformIO` used in the following piece of code?

https://github.com/agda/agda/blob/cbba4e4c6f658e8d9d332ed6173caf98ea075904/src/full/Agda/Interaction/Options/Base.hs#L549-L552

The `Flag` monad does not necessarily have support for IO, but it could be changed to support it. As far as I could tell `runOptM` is only used "close to" code that has support for IO.

@rwe, you [implemented]

[2021-05-08 09:33] nad commented on #4908
Yes, that makes sense. Let's do this before we release Agda 2.6.2.

[2021-05-08 09:49] nad commented on #4908
An alternative would be to make `--no-guardedness` the default even in the absence of `--sized-types`. This would break some code, but it might be less confusing: I prefer "`--guardedness` is off by default" to "`--guardedness` is on by default, unless `--safe` or `--sized-types` is used".

[2021-05-08 12:13] jespercockx commented on #858
@gallais could you take a look at this or should someone else take over?

[2021-05-08 12:15] jespercockx commented on #1625
Since #5279 has been fixed, I'm bumping this to 2.6.3.

[2021-05-08 12:17] jespercockx commented on #2907
@andreasabel could you please either make a fix or bump this?

[2021-05-08 12:18] jespercockx commented on #3039
@andreasabel Could you please make a fix soon or else bump this to another milestone?

[2021-05-08 12:20] jespercockx commented on #4150
@andreasabel did you have time to look at this yet?

[2021-05-08 12:23] jespercockx commented on #4329
@andreasabel Did you have time to take a look at this yet?

[2021-05-08 12:24] jespercockx commented on #4365
@Saizan Are you still planning to fix this before the release? If not, please bump it to 2.6.3.

[2021-05-08 12:26] jespercockx commented on #4627
@gallais We're now probably getting too close to the release to still bring this in for 2.6.2, so I'm bumping the milestone to 2.6.3.

[2021-05-08 12:27] jespercockx commented on #4628
@Saizan Any plans on fixing this before the release? It does not seem critical to me, so please bump if you don't have the time.

[2021-05-08 12:30] jespercockx commented on #4959
:+1: on undoing the fix

[2021-05-08 12:31] jespercockx commented on #4989
@UlfNorell Are you planning to fix this before the release? If not, please bump it to 2.6.3 as I don't think it's a critical issue.

[2021-05-08 12:33] jespercockx commented on #5034
@Saizan Could you please add something to the changelog? If this is still in an experimental stage, then I think it makes sense of saying so, so that people won't be too surprised by backwards-incompatible changes in the coming releases.

[2021-05-08 12:34] jespercockx commented on #5204
@andreasabel Since you didn't post a concrete issue, I'm going to close this. Please reopen if you have a reproducible test case.

[2021-05-08 12:34] #5204 closed, assigned to andreasabel

[2021-05-08 12:36] jespercockx commented on #5298
This seems unrelated to a specific release but rather to the development process, so I'm removing the milestone for now.

[2021-05-08 12:38] jespercockx commented on #5306
@nad is this something you suggest we should fix before the release? If yes, are you planning to implement it soon?

[2021-05-08 12:39] #5297 closed, assigned to asr

[2021-05-08 12:42] jespercockx commented on #5333
I believe I independently discovered and fixed this issue in https://github.com/agda/agda/issues/5363. Please reopen if the problem persists.

[2021-05-08 12:42] #5333 closed, assigned to jespercockx

[2021-05-08 12:43] asr opened #5372 "Use GHC 9.0.1 on GitHub workflows"
Since `stack 2.7.1` is not in GitHub [virtual environments](https://github.com/actions/virtual-environments) we cannot use GHC 9.0.1 on the GitHub workflows.

[2021-05-08 12:48] jespercockx commented on #5370
Yes, we had a discussion on this in https://github.com/agda/agda/issues/5030 and decided against changing the default from `--qualified-instances` to `--no-qualified-instances`.

[2021-05-08 12:51] jespercockx commented on #5154
I've posted some reminders in some of the issues that are still open. If there's no response I'll start bumping the non-critical ones in a few days.

[2021-05-08 13:21] #5370 closed, assigned to jespercockx

[2021-05-08 14:15] jespercockx commented on #5307
Both your examples seem to be working on the current master. #5308 is still open though, so I'm not sure what changed to fix this.

[2021-05-08 15:58] UlfNorell commented on #4989
I had a look at this and it's not an easy fix. With the new forcing translation we don't have the clause before translation, other than as abstract syntax (and for pattern lambdas we need to substitute things into the body, so we can't use abstract syntax). Bumping for now.

[2021-05-08 16:32] rwe commented on #5371
That PR (#5089) was part of an effort to remove IO from option parsing, because parsing is supposed to be a pure operation and it's done in a number of places, so infects other things with an IO constraint.

That flag in particular is a wart (though, an existing one): it's a mutable global state outside the TCM, which behaves inconsistently based on module caching or loading order, I believe. That

[2021-05-08 18:22] jespercockx commented on #4908
In theory I agree, but I'm a bit scared of the amount of code that would break. Most people see guardedness as the default option, which will be even more so now that sized types are no longer considered safe.

[2021-05-08 18:37] andreasabel commented on #4959
I spent some time this week on this issue, let's see if I can carve out more time.

[2021-05-09 06:37] #5368 closed, assigned to andreasabel

[2021-05-10 13:55] fsestini commented on #4721
Hi all,

would it be possible to reopen the issue? Unfortunately I keep getting the same error even after this fix, this time on slightly different code.

[code]

The snippet above is an extremely simplified version of a project I'm working on. Attempting to typecheck it (on Agda 2.6.2 compiled from commit 0caec01c2) produces the following error:

[code]

Removing `coe-R` as a rewrite rule also re

[2021-05-10 15:36] nad commented on #5306
Yes. Regressions of the kind that @martinescardo reported could be easier to understand and fix with this change in place.

I could take a look at it.

[2021-05-10 16:32] nad commented on #5306
@Saizan, I did not find any test cases related to your change discussed above (9a3a7043b5f14dfa58fd7b62c92de1445fccbc8a). Could you add a test case?

[2021-05-10 17:26] nad opened #5375 "Efficient conversion between interaction points and meta-variables"
I found the following comment:

https://github.com/agda/agda/blob/5dc884baedcfb4646bc1f4a651dde53c37922642/src/full/Agda/TypeChecking/Monad/MetaVars.hs#L453-L456

I guess it makes sense to make it possible to answer this question, and similar questions, more efficiently. Perhaps it also makes sense to improve the following code:

https://github.com/agda/agda/blob/5dc884baedcfb4646bc1f4a651dde53c37

[2021-05-10 17:55] andreasabel opened #5376 "Possibility to turn off warnings about infective/coinfective warnings"
The warnings concerning infectiveness are atm not benign:
[code]
If I understand this correctly,  this makes e.g. `--safe` quite inflexible during refactorings.  A scenario is where a large `--safe` code base is refactored and one wants to first get the big picture right, leaving some goals open here and there (with `--allow-unsolved-metas`), but the safety bureaucrat wouldn't let us pass.
[code]

[2021-05-10 18:00] #5357 closed, assigned to UlfNorell

[2021-05-10 18:01] andreasabel commented on #5324
Agreed.

Is there a solution or make target for this already?

[2021-05-10 18:12] gallais commented on #5376
I am extremely uneasy about adding ways to bypass `--safe`.

[code]

And `git checkout -p` later on to revert these changes.

[2021-05-10 21:29] ecavallo opened #5378 "Internal error with tactic on record field"
The definition of `strange` below triggers:
[code]
The error vanishes when I combine any of the three files.

Test1.agda:
[code]
Test2.agda:
[code]
Test3.agda:
[code]

[2021-05-11 07:08] andreasabel opened #5379 "__IMPOSSIBLE_VERBOSE__ isn't verbose any more"
Somehow `__IMPOSSIBLE_VERBOSE__` doesn't work anymore, for quite a while already, says my stomach.
https://github.com/agda/agda/blob/b8f3916b107ada9a3b7376c2fccc0b147a2311b7/src/full/Agda/TypeChecking/Monad/Debug.hs#L193-L197
Agda does not actually print the message when instructed so via `-v impossible:10`:
[code]
Did this functionality maybe get lost in your refactoring, @rwe ?

[2021-05-11 07:39] #5252 closed, assigned to jespercockx

[2021-05-11 07:41] jespercockx commented on #5252
In the end I was sufficienly horrified by the idea of just replacing the `__IMPOSSIBLE__` with an error message and instead I found a way to fix the issue that works well with the hacky workaround for rechecking clauses before splitting. As an added bonus, there is no more de Bruijn arithmetic used in case splitting, just simple lookups.

[2021-05-11 09:07] UlfNorell commented on #5308
Not eta contracting has some potential performance problems (see #5348), so I'm reluctant to change this so close to release. Especially since this isn't a critical issue.

[2021-05-11 09:17] #5367 closed, assigned to nobody

[2021-05-11 11:38] nad commented on #5324
Is there any string of text that is not valid Markdown? Perhaps it is hard to automate this test. I sometimes use `grip -b` to check that my changes look OK.

[2021-05-11 13:47] andreasabel commented on #5324
I now use a markdown viewing plugin for Google Chrome.

There is markdown linting, see e.g. this ruby gem: https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md

[2021-05-11 16:06] jespercockx commented on #4721
Here's a minimized example:
[code]
This throws the following error:
[code]

[2021-05-11 16:17] jespercockx commented on #4721
This one was introduced in the fix https://github.com/agda/agda/commit/e11b1aa882f4d2d3fad50dbd0c68a964748f9410#diff-e95bbfc978673152d80fcebea7e31c9b1ea667fffb5a9f299a414c3c42841effR459 of #1899: the call to `normalise` is not done in the right context.

But actually this patch only made it so that record types would be treated the same as datatypes. The same issue exists for datatypes as well:
[c

[2021-05-11 16:58] andreasabel commented on #5378
Debug this with `{-# OPTIONS -v tc.cover:40 -v tc.term.tactic:40 #-}`.
Must be something weird going on with modules defined in records.

If I put `module C` outside of the record, e.g.,
[code]
the problem goes away.  In this case, the debug printout is:
[code]
In contrast, in the OP the debug printout is:
[code]
Name `Test1.IsContr.spoke` is bound, while `Test2.C.spoke` naturally isn't, a correct

[2021-05-11 17:23] andreasabel commented on #5378
`Test2`, with `{-# OPTIONS -v tc.rec:5 #-}` already stumbles here with an `impossible`:
https://github.com/agda/agda/blob/35d7405120f7e9a6e4981b765b1ef78cc8108c8c/src/full/Agda/TypeChecking/Rules/Record.hs#L556
So the `domTactic` seems to have scoping problems here already.
This is worth the `de-Bruijn` label!

[2021-05-11 17:30] andreasabel opened #5382 "`make haddock` goal broken with cabal-3.4"
With cabal-3.4:
[code]

[2021-05-11 17:32] #4721 closed, assigned to jespercockx

[2021-05-11 18:59] andreasabel commented on #5378
In the good case (`C` outside record), we get for the second field:
[code]
where `@2` stands for parameter `c`.

In the OP, we get
[code]
where `@1` stands for `a0`.

I haven't made any progress in hours...  I don't have a good theory yet...
I assume this is not primarily a `tactic` issue, `tactic` only brings it to the surface.  I would think that the `module C` created inside the record module o

[2021-05-11 20:20] jespercockx opened #5384 "Less eager normalisation in positivity checker"
Currently the positivity checker will normalise the types of constructor arguments: https://github.com/agda/agda/blob/6a0386b0aa7639c64adadad6efb4cd286852fcb9/src/full/Agda/TypeChecking/Positivity.hs#L538 and https://github.com/agda/agda/blob/6a0386b0aa7639c64adadad6efb4cd286852fcb9/src/full/Agda/TypeChecking/Positivity.hs#L573. It should be possible to instead reduce on-the-fly during the positiv

[2021-05-12 07:21] andreasabel commented on #5379
In simple settings, `__IMPOSSIBLE_VERBOSE__` works, but not e.g. in the OP of #5378.
So maybe some monads swallow debug printout?

[2021-05-12 13:13] andreasabel commented on #5379
Looks like I have found the culprit: `ReduceM`!  This `unsafePerformIO` does not seem to work as expected:
https://github.com/agda/agda/blob/98d4eb09bc23fae73ac93ce56397e514536d13f0/src/full/Agda/TypeChecking/Reduce/Monad.hs#L72-L78

[2021-05-12 13:33] andreasabel commented on #5379
It seems that fixing line
https://github.com/agda/agda/blob/98d4eb09bc23fae73ac93ce56397e514536d13f0/src/full/Agda/TypeChecking/Monad/Debug.hs#L194
to
[code]
is enough to get the `unsafePerformIO` to be evaluated.

I wonder whether we need to change the `Monad.>>` implementation for `ReduceM` to systematically force pure computations of result type `()` to be evaluated.  Something like
[code]

[2021-05-12 13:46] jespercockx commented on #5379
I've also noticed in the past that debug messages are sometimes dropped in the Reduce monad (this was already the case before my change I believe). The only reliable way I've found to get them to print is by using the CPS versions, so I've been using those in cases where I really needed to see the debug output in the Reduce monad. But if adding the `seq` to the monad instance works, that'd be grea

[2021-05-12 15:40] #4365 closed, assigned to Saizan

[2021-05-12 15:46] jespercockx commented on #4908
I realized making `--sized-types` turn off `--guardedness` only makes sense if `--sized-types` is no longer default. So it seems we have three options:

1. Make `--no-sized-types` the default
2. Make `--no-guardedness` the default
3. Keep the current situation (both `--sized-types` and `--guardedness` are on by default)

My vote would go to option 1 as there are no known soundness issues with `--g

[2021-05-12 15:57] UlfNorell commented on #5379
That should be safe performance-wise, since basically only debugging should use `>>` in the reduce monad.

[2021-05-12 16:01] andreasabel commented on #5379
Making the `Applicative ReduceM` instance sequential seems to do the trick, e.g.:
[code]
I also ensure with `seq` that evaluation of idiomatic application `<*>` is left-to-right.

@UlfNorell : Is there something that speaks against
[code]

[2021-05-12 16:21] nad commented on #4908
There are perhaps no known soundness issues with `--guardedness`, but it is not backed by solid theory (see #5273). I think I would prefer to make both `--no-sized-types` and `--no-guardedness` the default.

[2021-05-12 17:32] andreasabel commented on #5120
Looks like after #5380 text-icu is broken again on CI.

[2021-05-12 18:10] jespercockx commented on #4908
Indeed, that is a fourth option. Actually I have no idea how much code out there relies on guardedness; I was under the impression that it is quite a lot but maybe that's not the case? I'll have to do the experiment I guess.

[2021-05-12 18:14] UlfNorell commented on #5379
I'm a little bit worried that throwing seqs into `<*>`, which is used everywhere, might have unpredictable performance consequences. But, for all I know, it might make things a lot faster.

[2021-05-12 18:40] jespercockx commented on #4908
I was trying out the approach where `--sized-types` would turn off `--guardedness`, but this makes it impossible to import a module with no flags from a module that uses `--sized-types` (because the module with no flags has an implicit `--guardedness`, while the module with `--sized types` has an implicit `--no-guardedness`). This in turn requires a lot of modules in the standard library to get th

[2021-05-12 19:53] jespercockx commented on #4908
Here is the impact on the standard library of disabling both `--sized-types` and `--guardedness` by default: https://github.com/jespercockx/agda-stdlib/commit/2c8a40ef524e0d809396d33cff52863580ad75b5
I'm preparing a PR so we can assess the impact on the Agda codebase itself as well.

[2021-05-12 19:54] JacquesCarette commented on #5361
That's the usefulness of expanding out one's informal meaning...

So there seems to be two concepts here, "the field name", which is visible externally, and "the name of the value of that field", which is not.

It seems that the underlying reasons to want this are: 1) usability and 2) wishing to not pollute the namespace too much. So `Carrier` is a good enough name externally, but taking over `A`

[2021-05-12 21:04] jespercockx commented on #4908
See https://github.com/agda/agda/pull/5386. Overall the impact of disabling --sized-types by default seems to be much larger than disabling --guardedness by default, at least on the test suite and the standard library. So maybe just disabling --guardedness by default always is the right way to go.

[2021-05-13 05:15] #5120 closed, assigned to L-TChen

[2021-05-13 08:11] jespercockx commented on #5154
It looks like we made quite a bit of progress in the last couple of weeks, great work everyone! There's just 10 open issues at the moment. Looking through the list, I think the only one that is really critical is https://github.com/agda/agda/issues/4959 (and perhaps https://github.com/agda/agda/issues/5378). Maybe once those are solved, we could prepare a first release candidate so people can test

[2021-05-13 13:17] asr commented on #5154
I'll prepare the release candidate after those issues are closed.

[2021-05-13 13:29] nad commented on #4908
You added `--no-guardedness` to some standard library modules with the `--safe` flag. That should not be necessary.

The changes to the standard library seem to be fairly small, and I think we can ignore the changes to the test suite.

[2021-05-13 14:19] nad commented on #5306
I think that warnings for the following things are currently generated at the end of the module:
* Unsolved meta-variables corresponding to some goal.
* Other unsolved meta-variables.
* Unsolved constraints.

I suggest that we warn about unsolved meta-variables that do not correspond to a goal when they are frozen. I guess there is no need to warn about unsolved meta-variables corresponding to goa

[2021-05-13 15:27] andreasabel commented on #5379
Here is a MWE demonstrating the effects of optimization levels on mixing `unsafePerformIO` with `Control.Exception.throw`:
[code]
Running this with optimizations will skip the debug message `test:`!
[code]
So, just putting `seq` in is not enough to force `unsafePerformIO`!

[2021-05-13 15:59] andreasabel commented on #5379
It seems that `seq` isn't resistant to optimization.  It get the debug output if I pattern match on `five`:
[code]
So the promise that `seq a b` first evaluates `a` to whnf and then does `b` does not seems to hold in all contexts.  I'll probably never understand lazy evaluation.  Simply because it is contextual, so it never allows local reasoning...

[2021-05-13 18:00] nad commented on #5379
I tried your example. When I replaced `seq` with `pseq`, then I got the same output with `-O0` and `-O1`.

[2021-05-13 19:09] nad opened #5388 "Inefficient meta-variable code?"
The code that freezes meta-variables is at least linear in the number of meta-variables in the meta-store:

https://github.com/agda/agda/blob/4773470ceb0e8671e128109f4728d6416ff93fae/src/full/Agda/TypeChecking/Monad/MetaVars.hs#L593-L602

I guess that the meta-store contains all meta-variables that have been generated so far for a given file. This function is used repeatedly, so it may make sense

[2021-05-14 05:14] andreasabel commented on #5379
Thanks @nad.

Porting this fix to Agda would mean that we `pseq` every sequence of computations in `ReduceM`... This will likely have a huge negative performance impact due to the overhead of parallelism...

Strangely, my attempts fix the problem on GHC 9.0.1 (not on GHC 8.10.4), but I am not sure that this fact is a bug or a feature of GHC 9.0.1.  E.g. there has been GHC regression https://gitlab

[2021-05-14 06:16] andreasabel commented on #5379
I now realize that my MWE might be particular to `Debug.trace`, because the debug message is __not__ optimized away when I implement tracing myself:
[code]
So my MWE isn't actually the right one for the OP.

I filed a GHC issue: https://gitlab.haskell.org/ghc/ghc/-/issues/19841

[2021-05-14 07:36] andreasabel commented on #5372
Seems like it is now: https://github.com/actions/virtual-environments/commit/0409144182dc17ad9bed72886ba4aa3506cf8a6d

[2021-05-14 08:24] andreasabel opened #5389 "Pushes to `stack.yml` cancel existing `test.yml` workflow run"
Pushing [`c54c453` (#5385)](https://github.com/agda/agda/pull/5385/commits/c54c453008fac30fffdf0e062fe6fb39708a465f)
1. started the `test.yml` workflow
2. cancelled the running `test.yml` workflow
   This is undesirable, as the work spent in 2. is lost and 1. will not reveal any new insights.

I do not understand why this happens, because `stack.yml` is listed as path to ignore:
https://github.com

[2021-05-14 08:33] nad commented on #5379
It might impact performance, but `pseq` does not make things run in parallel.

[2021-05-14 08:50] andreasabel commented on #5379
Could you elaborate?  I thought `pseq` creates a spark...

[2021-05-14 08:57] nad commented on #5379
No, that is `par`. See the [documentation](https://hackage.haskell.org/package/parallel-3.2.2.0/docs/Control-Parallel.html) of these functions.

[2021-05-14 09:04] andreasabel commented on #5389
I suppose this is because `stack.yml` uses the https://github.com/styfle/cancel-workflow-action which will cancel all unfinished workflows.  Maybe this can be made more fine-grained, cancelling only the `stack.yml` workflow?
It has ID 8645, see https://api.github.com/repos/agda/agda/actions/workflows

Or simply put the standard recipe into `stack.yml`:
[code]
UPDATE: this standard recipe is what i

[2021-05-14 09:21] nad commented on #5375
I did not optimise `findInteractionPoint_`.

[2021-05-14 09:58] andreasabel commented on #5379
Thanks for clarifying this for me.  That's good news!

So I was mistaken about `seq`.  In particular, with exceptions in `b`, just `seq a b` isn't effective to force side effects in `a`,  if the compiler can rewrite this to `seq b (seq a b)`.

[2021-05-14 10:37] nad commented on #5306
I started looking into this, but the code that handles warnings is for some reason rather complicated. For this reason I don't think we should change it shortly before the release of Agda 2.6.2.

Note also that highlighting unsolved meta-variables at the end of mutual blocks would not have made it easier to find the cause of [one of](https://github.com/agda/agda/issues/5279#issuecomment-801352579)

[2021-05-14 12:45] nad commented on #5251
This should be easy to fix:

https://github.com/agda/agda/blob/4773470ceb0e8671e128109f4728d6416ff93fae/src/full/Agda/TypeChecking/Rules/Term.hs#L606-L619

[2021-05-14 12:51] nad opened #5391 "TODO related to quantities"
The TODO related to quantities in `checkPostponedLambda` should perhaps be addressed:

https://github.com/agda/agda/blob/4773470ceb0e8671e128109f4728d6416ff93fae/src/full/Agda/TypeChecking/Rules/Term.hs#L656-L682

@andreasabel, you wrote this comment. Do you know what you had in mind?

[2021-05-14 16:32] L-TChen commented on #5389
I have no idea either ….I observe that recent workflows reported some internal errors, so my guess is it was a GitHub workflow bug.

[2021-05-14 21:24] nad opened #5392 "Internal error"
You can trigger an internal error by trying to "give" `a`:
[code]
[code]
Using "solve constraints" also triggers the error. I have encountered this internal error several times.

This is a regression.

[2021-05-15 14:13] #5375 closed, assigned to nad

[2021-05-15 15:18] Saizan commented on #4628
`no-eta-equality` on `Equivalently` speeds this up quite a bit, but also we could disable the eta rules for `Glue` and provide a path instead, which would more generally improve comparisons of elements of Glue.

[2021-05-15 17:55] nad commented on #4701
I have implemented a first draft of `--erased-cubical`, and performed initial testing.

I did not change the import statement syntax.

Currently all cubical features are allowed when `--erased-cubical` is used, except for non-erased higher constructors and the builtins/primitives in `Agda.Builtin.Cubical.Glue` and `Agda.Builtin.Cubical.HCompU`. Are there any other primitives that should be disallo

[2021-05-16 16:10] andreasabel commented on #4490
I suppose one could use `agda-bisect` with a script like https://github.com/agda/agda/blob/c6401a63e84caa495d74f4a5696b4628c306d5dc/test/interaction/Issue2174.sh
@nad, maybe you have a better idea?

One problem with such an approach is that `agda --interaction` does not report errors as system exit codes.  A suitable option that makes `agda` exit on the first interaction error would make bisection

[2021-05-17 06:36] andreasabel opened #5394 "CI: user manual build fails, TeX installation too old?"
I notice that the user manual build fails on CI:
https://github.com/agda/agda/pull/5393/checks?check_run_id=2591398198
[code]
Possible reason: `sphinx-4.x` expects something newer than `texlive-2017`?
[Locally, I am on `sphinx-2.4.4` and `texlive-2020`.]

Would it help to switch CI to ubuntu-20.04 in general?
Why are we on ubuntu-18.04, btw?

[2021-05-17 06:41] #5372 closed, assigned to asr, andreasabel

[2021-05-17 06:41] #5379 closed, assigned to andreasabel

[2021-05-17 06:59] andreasabel commented on #5375
The milestone needs to be adjusted since this is merged into master.

[2021-05-17 07:02] andreasabel commented on #5367
So this is an official language change now rather than a regression.

[2021-05-17 07:25] andreasabel commented on #4208
I suppose closed issues should remain on the milestone.

[2021-05-17 07:28] andreasabel commented on #899
Since there is a new issue for the problem, this one can remain closed.

[2021-05-17 07:28] #899 closed, assigned to guillaumebrunerie, andreasabel

[2021-05-17 07:37] andreasabel commented on #5146
That should stay on the 2.6.2 milestone, as we will release the fix there.

[2021-05-17 07:48] asr commented on #5372
Thanks!

[2021-05-17 07:50] asr commented on #5394
I don't think so. I guess the problem is a missing TeX Live package.

[2021-05-17 07:53] andreasabel opened #5395 "Workflow `test.yml` fails because of problems with `Post Cache dependencies`"
Er, it is a bit of a problem if the testsuite isn't run on CI because of an administrative problem in the workflow...
https://github.com/agda/agda/runs/2598173866?check_suite_focus=true
Do we need to fail hard on these cleanup steps?

[2021-05-17 07:54] asr commented on #4208
Right. We list the closed issues in the Changelog.

[2021-05-17 07:55] #5394 closed, assigned to asr

[2021-05-17 10:21] nad commented on #4490
I've used [`RunAgda.hs`](https://github.com/agda/agda/blob/87ea144139326ba922f9c19ad96f52a57944f1fe/test/interaction/RunAgda.hs) for this kind of thing. Here is one example that I had lying around (related to #4959):
[code]
(The file `Issue4959.agda` contains the following line: `open import Issue4959-2`.)

[2021-05-17 11:24] nad commented on #4701
Currently at least the following builtins/primitives are allowed:
* `builtinPath`
* `builtinPathP`
* `builtinInterval`
* `builtinSub`
* `builtinSubIn`
* `builtinIOne`
* `builtinPartial`
* `builtinPartialP`
* `builtinIsOne`
* `builtinItIsOne`
* `builtinIsOne1`
* `builtinIsOne2`
* `builtinIsOneEmpty`
* `builtinId`
* `builtinConId`
* `primIMin`
* `primIMax`
* `primINeg`
* `primPOr`
* `primComp`
* `pr

[2021-05-17 12:18] Saizan commented on #4701
I'm not sure you should forbid the primitives from `Agda.Builtin.Cubical.HCompU`, those do not introduce higher paths and are there to support composition in the universe.

`Partial/PartialP` already reduce to function types from `IsOne ..` so it would make sense to compile them as functions from unit.

`Id` should be compiled much like paths, as it's a path with a flag for when it counts as refle

[2021-05-17 12:35] nad commented on #4701
Some names in that module contain `glue`. Are those definitions not related to glue?

If everything matches up when we do it in that way, then I guess that is one way to go.

Perhaps one could have a new universe of some kind. However, if the approach with booleans works, then we could avoid such changes to the type system.

[2021-05-17 12:59] Saizan commented on #4701
`prim^glueU` and `prim^unglueU` are only related to `Glue` in the sense of being inspired by it. However they are intro and elim for composition in the universe, which is its own type former.

If you look at closed elements of the interval in the models you do get something isomorphic to the booleans, so it seems appropriate.

[2021-05-17 15:49] nad commented on #4638
The following code is accepted:
[code]
There is no reasonable way to compile `x`. I think the problem is that Agda currently treats the right-hand side as erased if there is a match on an erased constructor in an *erased* position.

[2021-05-17 15:57] jespercockx commented on #5376
Since this is an at least somewhat controversial change, I propose we delay this until after the release to allow for some more time for discussion (perhaps at the Agda meeting).

[2021-05-17 15:59] jespercockx commented on #5391
There are lots of TODO's in the source code, a quick grep suggests at least 280. Why are you worried about this one in specific? I'm a bit hesitant to label things as 'bug' unless there's an actual test case of it failing.

[2021-05-17 16:13] jespercockx commented on #5392
I think I probably broke this in my fix for https://github.com/agda/agda/issues/4727, I'll take a look

[2021-05-17 18:14] nad commented on #5391
I don't know whether it is a bug or not, I have not studied the code carefully. However, there have been some cases where Agda has not checked quantities correctly, so I think this should be investigated.

[2021-05-17 18:34] #5392 closed, assigned to jespercockx

[2021-05-17 19:15] nad commented on #4701
I realised that there is a problem with the current implementation. Consider the following code:
* Module `C1.agda`:
[code]
* Module `EC.agda`:
[code]
* Module `C2.agda`:
[code]
Note that `bad`, which is not erased, reduces to `erased`, which is.

The definition of `f` is accepted because `unit` is treated as an erased constructor. Perhaps this can be fixed by not treating (non-erased) constructor

[2021-05-17 20:20] jespercockx commented on #3846
I don't think we should reopen issues that have a milestone of a released version. I will create a new issue for this instead.

[2021-05-17 20:20] #3846 closed, assigned to jespercockx

[2021-05-17 20:25] jespercockx opened #5396 "Internal error for rewriting without --confluence-check"
(This is a continuation of https://github.com/agda/agda/issues/3846)

Currently, when you use `--rewriting` without `--confluence-check` it is possible to get an internal error, e.g.

[code]

We should consider changing this so we get a proper error message when using `--rewriting` "unsafely".

[2021-05-17 20:27] jespercockx opened #5397 "Confluence check fail to detect non-confluent combination of pattern matching + rewrite rule"
(This is a continuation of #3846)

The following example is currently accepted by Agda:
[code]
This is not confluent: `F false` reduces to both `Bool` and `Nat`.

[2021-05-17 20:29] jespercockx commented on #191
I'm not sure anymore what I meant by that comment and I'm not sure if the problem is even still there, so I'm closing this. There should be a new issue if the problem still exists.

[2021-05-17 20:29] #191 closed, assigned to andreasabel

[2021-05-17 20:31] jespercockx commented on #3566
I think the ship has sailed by now. Please create a new issue if you think the implementation should be changed.

[2021-05-17 20:31] #3566 closed, assigned to nobody

[2021-05-17 20:36] jespercockx commented on #2588
Since I think there should not be open issues that are assigned to a closed milestone, I'll create a new issue for the remaining problem.

[2021-05-17 20:36] #2588 closed, assigned to nobody

[2021-05-17 20:37] jespercockx opened #5398 "Problem with LaTeX code for multi-line comments with blank lines"
In #2588 , @bafain reports the following:

There seems to be a problem with the LaTeX code generated for multi-line comments that contain blank lines.

Agda version: `2.6.2-292237b`
XeTeX version: `3.14159265-2.6-0.999991 (TeX Live 2019/Arch Linux)`
Literate Agda file `Test.lagda`:
[code]
Generated LaTeX file `latex/Test.tex`:
[code]
Error:
[code]

[2021-05-17 20:42] jespercockx commented on #5134
I assume this should have the 2.6.2 milestone?

[2021-05-18 14:37] Saizan commented on #4638
Yeah, if the argument is erased then erased constructors shouldn't make the RHS an erased position, good catch.

[2021-05-18 14:45] nad commented on #5391
That piece of code is dead. We could remove the `CheckLambda` constructor:

https://github.com/agda/agda/blob/989a13a3dc360f8355a1ea2ded9423b809b84ef6/src/full/Agda/TypeChecking/Monad/Base.hs#L1337-L1344

Is there a reason for keeping it around?

[2021-05-18 14:45] #5391 closed, assigned to nad

[2021-05-18 14:53] nad commented on #5391
I pushed a commit removing `CheckLambda` to a separate branch.

[2021-05-19 05:29] UlfNorell commented on #4729
(continuing discussion from #5393)

@andreasabel Can motivate *why* you decided to not implement the change we agreed on. What's the use case you wanted to preserve where you need to run CI but don't want to make a PR and a more natural name for the branch is `issueXYZ`, rather than `ci-ABCD`.

[2021-05-19 07:32] nad commented on #4638
I may have fixed this problem, but I found another one. Consider the following code:
[code]
This code should not be allowed: both `f c₁` and `f c₂` are valid applications.

[2021-05-19 07:40] nad commented on #4638
Here is another problem:
[code]
This code can be allowed, but the GHC backend generates the following code:
[code]
The function `d6` should return something corresponding to `true`. I guess the problem is that the GHC backend removes the clause because of the match on the erased constructor.

[2021-05-19 10:52] laMudri opened #5399 "Reflection on modules"
It would be nice if macros could take in and generate modules. For example, bulk renaming macros could help us avoid code like [this, that adapts `isCommutativeMonoid` to `+-isCommutativeMonoid`](https://agda.github.io/agda-stdlib/Algebra.Structures.html#9835). Usage of a bulk renaming macro `rename` may look something like `unquoteModule +-CommutativeMonoid = rename ("+-" ++_) (quoteModule (Commu

[2021-05-19 10:57] laMudri commented on #5399
Potential issue: opening a generated module will put names in scope depending on the result of a macro. This might cause difficulties for the scope checker.

[2021-05-19 10:58] jespercockx commented on #5399
That's similar to the problem we have with unquoting data and record types, see https://github.com/agda/agda/issues/3699

[2021-05-19 13:20] nad commented on #4701
Note that, with the current implementation of `--erased-cubical`, it may make sense to compile both `--cubical` code and `--erased-cubical` code differently, depending on what language the top-level module uses (if support for compiling `--cubical` code is added). Here is one example:
* Module `C1.agda`:
[code]
* Module `EC.agda`:
[code]
* Module `C2.agda`:
[code]
How should `f` be compiled? If th

[2021-05-19 14:20] jespercockx commented on #858
I think it's fine to release this as-is, and perhaps add support for the more general @ modalities later. However, there should be an entry in the changelog and the user manual before we release it.

[2021-05-19 14:22] jespercockx commented on #4613
Unless we get feedback from someone who uses NixOS and can actually reproduce this in the next few days, we won't take action on this before the next release.

[2021-05-19 14:24] #4638 closed, assigned to Saizan, nad, andreasabel

[2021-05-19 14:32] alexarice commented on #4613
I can reproduce the error with revision 1bac8797a5987e07ec28284807f57e0cddeb2ba9, though this is 24 days old now so I could try building the latest master if this will help

[2021-05-19 15:12] nad commented on #4701
@Saizan suggested that one could add two flags instead of one, more or less in the following way:
* `--cubical-without-glue-and-HITs`: This flag would enable all Cubical Agda features except for glue and HITs. Code using this flag could import code that uses `--without-K`, and be imported by code that uses `--cubical` or `--erased-cubical`.
* `--erased-cubical`: As above, except that modules using

[2021-05-19 15:15] KumoNanahoshi opened #5401 "Internal error when typechecking in a where-block"
When checking the lastline(L226) in test1.agda
`UFD.factor      (Field-is-UFD {R} FR) = ?`

Agda infomation says:

[code]

but after I deleted the `open Field FR` in L197 and opened the annotation block below L197
(test2.agda)

the error vanished and typecheck passed.

The agda I'm using is from archlinux `community/agda 2.6.1.3-18`
and my agda-stdlib is from archlinux `community/agda-stdlib 1.5-1

[2021-05-19 15:22] KumoNanahoshi commented on #5401
And after typecheck of test2.agda, there is a hole in L226.
I tried to C-c C-c the hole and agda gave me
` UFD.factor (Field-is-UFD {R} FR) .patternInTele0 = ? `

and raised error
[code]

[2021-05-19 15:22] ice1000 commented on #5401
What's the output of `agda --version` on your machine?

[2021-05-19 15:26] KumoNanahoshi commented on #5401
`Agda version 2.6.1.3`

[2021-05-19 15:44] andreasabel commented on #4959
In PR #5402 I am ripping out the fix for #4647, as I do not have the time atm for a proper investigation.  _Maybe_ after the release we can revisit #4647 (maybe...).

[2021-05-19 15:50] andreasabel commented on #5154
The deadline for the release of 2.6.2 is [AIM XXXIV](https://wiki.portal.chalmers.se/agda/Main/AIMXXXIV).  I suggest we try to release by June 1st (Milestone 2.6.2 deadline).

[2021-05-19 16:58] nad commented on #4701
I have enabled support for the primitives in `Agda.Builtin.Cubical.HCompU` and fixed the problem mentioned [above](https://github.com/agda/agda/issues/4701#issuecomment-842568104). I also made the GHC and JS backends refuse to compile code that uses `--cubical` or `--erased-cubical`.

[2021-05-19 23:40] #4959 closed, assigned to andreasabel

[2021-05-19 23:44] andreasabel commented on #4647
I undid the fix.  A workaround (in many cases) is to leave a hole in the file one wants to issue top-level interaction commands.

[2021-05-19 23:47] andreasabel commented on #5154
I think we can start with a first release candidate.
Issue #4613 is still open, but I don't know if anyone will work on this...

[2021-05-21 15:23] asr commented on #5154
I'll prepare the release candidate.

Could someone to add a `Highlights` section to the CHANGELOG, please (something like [Agda 2.6.0 Highlights]( https://github.com/agda/agda/blob/ed6730a1717a0e3ddc25a75de0c2e109371391c7/doc/release-notes/2.6.0.md#highlights)).

[2021-05-22 11:15] L-TChen commented on #5395
Other jobs depend on the cache to restore `stack`’s global store, and the cache is updated in this step.

It does not seem a problem with the workflow itself but GitHub though.

[2021-05-22 14:12] jespercockx commented on #4908
I have done everything on this issue that I planned to do before the release. I'm still working on a bigger refactoring that will modularize the --safe flag (and will have some other benefits as well, such as being able to import modules that do not use --safe as long as they do not use unsafe features), but that will have to wait until 2.6.3.

[2021-05-24 08:52] jespercockx commented on #858
I've added something to the changelog and user manual, so I'm bumping this to 2.6.3 for the remaining enhancement with support for more general modalities.

[2021-05-24 08:55] jespercockx commented on #4613
Unfortunately it seems no-one with sufficient knowledge about NixOS has been able to find a fix for this yet. Since this is the only remaining open issue for 2.6.2 and I do not want to postpone the release any longer, I am bumping the milestone on this one.

[2021-05-24 08:56] jespercockx commented on #5154
I've added the highlights section, and bumped the milestone on the two remaining open issues. So we are all set for the release (candidate)!

[2021-05-24 08:59] alexarice commented on #4613
I don't mind postponing this problem as we have a workaround, but I also know what causes it.

The problem is that when there is an `.agda-lib` file in a parent directory of where agda is installed, Agda thinks the primitive files are part of the directory the `.agda-lib` file is in. In nixos, this directory is readonly, causing the error. A fix discussed somewhere was to include an `.agda-lib` fi

[2021-05-24 09:12] jespercockx commented on #4613
Ah, you mean https://github.com/agda/agda/pull/4616? I'm not sure what the problem with that one was, but if that would actually fix this issue I'll take a look.

[2021-05-24 09:34] jmchapman commented on #4613
I think there is another related problem: the nix agdaWithPackages package doesn't allow you to use libraries that are not packaged by nix. @laMudri shared a workaround with me to wrap adhoc libraries.

In a way I think both of these problems are part of a single one: an inability to manage read-only 'global' packages and read-write 'local' packages. This sounds like a typical package manager prob

[2021-05-24 10:07] alexarice commented on #4613
I think these problems are seperate. The primitives are precompiled as part of the packaging process, but are compiled with the interface files next to the primitives files. However if we later try to typecheck anything, it sees the upstream `.agda-lib` file and looks for a `_build` directory in this folder. When it can't find it, it tries to rebuild.

An an aside, If there's enough interest it wi

[2021-05-24 10:08] alexarice commented on #4613
I believe fixing that issue will fix this one

[2021-05-24 19:55] asr commented on #5154
Starting the preparation for the release candidate...

[2021-05-24 20:06] asr opened #5403 "`make up-to-date-std-lib` fails on cabal-install 3.2.0.0"
[code]

[2021-05-24 20:27] asr commented on #5403
I locally fixed the issue by using `cabal v1-install`. I'll file an issue against the standard library.

[2021-05-24 20:27] #5403 closed, assigned to asr

[2021-05-24 23:24] asr opened #5404 "CHANGELOG: Links to Read the Docs"
The links to Read the docs in the CHANGELOG should be to the `latest`. We change `lastest` for `current version` in release time.

[2021-05-24 23:27] #5404 closed, assigned to asr

[2021-05-25 02:39] MatthewDaggitt opened #5405 "Ill-typed expression after with abstraction triggered by @ pattern"
If you write the following code in Agda 2.6.1:
[code]
you get the not very enlightening error:
[code]
However if you remove the `@` pattern and write:
[code]
then the error goes away.

I suspect the error shouldn't appear in the first case as I don't think I'm trying to do anything dodgy?

[2021-05-25 09:46] gallais commented on #5405
Looks like the stripping pattern phase (whatever that is) is operating on the type of
the parent's function and so the type of the stripped patterns it returns may not be
valid in the context of the `with` function:

[code]

`Fᵢ<Fⱼ == @1 , @0 : F @3 Nat.≤ F @2 × F @3 ≢ F @2` is the type of the stripped pattern
in the parent's function but not in the `with` function where we'd want something like

[2021-05-25 11:11] L-TChen commented on #5202
The following is the list of all licenses used by dependencies reported by `cabal-plan`:

- BSD-2-Clause (`indexed-traversable`, `text`)
- MIT (`base-compat`, `base-compat-batteries`, `base-orphans`, `integer-logarithms`)
- ISC (`th-abstraction`)
- BSD-3-Clause (everything else)

The clause from BSD-2/3 in which we are interested is the following part

MIT license is similar

so is ISC

with or wi

[2021-05-25 12:02] ajrouvoet commented on #5202
Thank you for looking into this! Do you mean the online docs or something like a man page or --help? I think the notices should be accessible from the distributed package, so the online docs won't do afaict.

[2021-05-25 12:37] asr opened #5406 "cifm: Build error with GHC 9.0.1"
I cannot install the `closed-issues-for-milestone` program with GHC 9.0.1 because

- [x] deepseq-generics (https://github.com/haskell-hvr/deepseq-generics/issues/10)
- [x] cryptohash-sha1 (https://github.com/haskell-hvr/cryptohash-sha1/issues/10)
- [x] github (https://github.com/phadej/github/issues/460, https://github.com/phadej/github/pull/456)

[2021-05-25 13:19] asr opened #5407 "`make user-manual-pdf` fails on Ubuntu 16.04 (ImageMagick 6.8.9-9)"
[code]

[code]

[2021-05-25 13:23] asr commented on #5407
I fixed the issue by installing a newer version of ImageMagic:

[code]

[2021-05-25 13:23] #5407 closed, assigned to asr

[2021-05-25 13:54] L-TChen commented on #5202
Aha, you're right. It should be the documentation bundled with the distribution according to the clause.

I am now baffled after checking how other software is doing it. For example, `pandoc` does not mention dependencies at all, and the macOS binary provided on the official website shows its own GNU license only. Is it enough to just include the license report as part of the distribution?

[2021-05-25 14:43] ajrouvoet commented on #5202
Just like protecting your software against malicious updates of dependencies, licensing of dependencies is also largely ignored in much software development...

Does the report include the copyright notices? The literal text should be in there.

[2021-05-25 15:49] asr commented on #5154
I'm planning to make the release on June 1st.

[2021-05-25 15:55] L-TChen commented on #5202
Here is the [report](https://github.com/agda/agda/files/6540632/index.md) generated by `cabal-plan`. It lists Haskell dependencies (but external libraries) and licenses with a link to the license declaration on Hackage. Perhaps a little script is needed to download all copyright notices following the link and put all of them as part of distribution?

[2021-05-26 07:40] nad commented on #5202
Note that, as I wrote above, `cabal-plan` does not list all relevant dependencies.

[2021-05-26 12:50] asr opened #5408 "Replace `agda/text-icu` with released version of text-icu"
In relation to the hotfix for #5120 and #5259, @L-TChen [wrote](https://github.com/agda/agda/pull/5337#issuecomment-848453457):

[2021-05-26 14:09] Saizan commented on #4701
Re: how to compile primitives.

- Assuming we stick to compiling `I` as a two element type, we should compile `IsOne r` as correspondingly empty or unit.

- The other thing we talked about was how to compile `Id`,  see the comments in the attached file
[Id.agda.md](https://github.com/agda/agda/files/6547270/Id.agda.md)

[2021-05-26 14:14] nad commented on #4701
I assume that it is fine to approximate this with the unit type.

[2021-05-26 15:28] asr commented on #5154
I *don't want* to frozen `master` while 2.6.2 is released. So, if you pushed some commit to `master` which also should be in 2.6.2, please cherry-pick the commit into the `release-2.6.2` branch.

[2021-05-26 15:31] jespercockx commented on #5154
I'm working on addressing the comment by @nad at https://github.com/agda/agda/pull/5386#issuecomment-848785598, I'll cherry-pick it once it's finished.

Update: it's done now.

[2021-05-27 07:35] nad commented on #4701
@Saizan, you wrote the following:
[code]
However, `primIdFace` can return `i0`:
[code]
The normal form of `i` is `i0`. Wouldn't it make more sense to compile `Id x y` to `(Bool, Bool -> a)` for some `a`?

[2021-05-27 08:05] nad commented on #5154
I noticed that an entry in the changelog was out of date. I've pushed a fix to both `master` and `release-2.6.2`.

[2021-05-27 10:24] Saizan commented on #4701
Sure, then change `primIdElim` accordingly.

[2021-05-27 12:48] nad opened #5410 "Module applications in where clauses of erased definitions yield non-erased code"
Module applications in where clauses in erased definitions can use erased values, but the resulting definitions are not treated as erased. The following code should not be accepted:
[code]

Related: #4743.

[2021-05-27 15:15] nad commented on #5410
I tried to fix this by making the definitions arising from a module application erased if the module application was made in an erased setting. However, this does not work very well. With my change in place the following code was rejected:
[code]
This is similar to the problems with pattern-matching lambdas that we have discussed. We solved this by introducing erased pattern-matching lambdas, and

[2021-05-27 15:47] nad commented on #5251
The fix referred to above replaces `moreQuantity` with `sameQuantity`. However, I guess that if `--subtyping` is on, then the code should be allowed. Then we get another problem, the code is rejected if `--double-check` is used:

https://github.com/agda/agda/blob/465e46a20b59160ea38bd50a30beaab849d176c5/src/full/Agda/TypeChecking/CheckInternal.hs#L310-L321

@jespercockx, should the double-checker

[2021-05-27 17:25] jespercockx commented on #5251
Yes, that seems plausible.

[2021-05-27 19:17] nad commented on #5410
I tried another fix, in which module applications are always type-checked in non-erased contexts. This made the following code fail:
[code]
[code]
The output produced by Agda when `-vtc:100` is used includes the following lines:
[code]
@jespercockx, you recently worked on the code that produces that output. Do you have any ideas about how this could be fixed?

The problem only seems to affect one

[2021-05-27 19:20] nad commented on #5251
This procedure is used both for lambdas and for applications, so I guess one should use either `moreUsableModality` or `flip moreUsableModality`.

An alternative might be to turn off subtyping completely for erasure and relevance. Does anyone rely on it?

[2021-05-27 19:28] andreasabel opened #5411 "`open` in module telescope goes wrong with generalization"
[code]

[2021-05-28 07:16] jespercockx commented on #5410
I don't understand the details 100%, but since the debug message mentions that the meta is frozen I would guess that the actual problem occurs earlier in the process. What is the output of `-vtc.meta.occurs:50`?

[2021-05-28 07:47] nad commented on #5251
I tried to fix the issue with `--subtyping`, and the output for `Issue3855d` changed:
* Before:
[code]
* After:
[code]

This reverses the change that accompanied @jespercockx's fix of issue #4727 (fa0dfc466f7ecf7a4e8cdbc3afacb86afcc85a8a). I wonder if this indicates that my "fix" broke something.

Given that `--subtyping` is off by default (and hence presumably not used a lot), and that, in @jespe

[2021-05-28 07:55] nad commented on #5410
I switched to a test case that does not make explicit use of `Level`s:
[code]
Here is the output produced by Agda with `-vtc.meta.occurs:50`:
[code]

[2021-05-28 08:14] nad commented on #5410
Meta-variable 2 is frozen by the generalisation machinery right after it is created.

[2021-05-28 08:53] jespercockx commented on #5251
It's already hidden under a flag, I do not see the need to disable it completely. We have plenty of other options that we do not understand fully but are still there hidden under a flag (--experimental-irrelevance comes to mind, --sized-types might qualify as well).

I'd rather just move it to "currently unsupported" status than remove it completely.

[2021-05-28 09:16] nad commented on #5251
In that case I think we should also make it incompatible with `--safe`.

[2021-05-28 09:24] jespercockx commented on #5410
Here's what I think is going on:

- The meta-variable A_2 comes from the generalized variable `A`, it is marked as erased because it is created at the type level
- The meta-variable A_5 comes from the implicit argument of the module application `R r`, normally it is also marked as erased but with your change it isn't.
- We cannot instantiate A_2 := A_5 because A_5 has an extra variable in scope (`

[2021-05-28 09:48] jespercockx commented on #5251
I wouldn't mind that.

[2021-05-28 11:22] nad opened #5412 "The abort command should kill running threads"
I noticed that if `C-c C-x C-a` is used while the GHC backend is running, then one can end up in a situation in which the Agda process is aborted and ready to accept new commands, but the GHC process continues running.

Perhaps `forkTCM` can register the forked thread's identifier in the state, and then the abort command could attempt to kill all registered threads.

[2021-05-28 11:59] nad commented on #5410
The following call uses the quantity ω:

https://github.com/agda/agda/blob/465e46a20b59160ea38bd50a30beaab849d176c5/src/full/Agda/TypeChecking/Generalize.hs#L728-L730

However, that call sets the quantity that will be used if the meta-variable is turned into an argument later. In this case that does not happen. The meta-variable's quantity is presumably set by `newNamedValueMeta` above:

https://g

[2021-05-28 12:04] jespercockx commented on #5410
Yes, I think that would make sense. Though perhaps to be safe there should be a check that the modality of the variable is usable at the location where the meta is created, otherwise you could run into trouble for e.g. variables that are declared as irrelevant.

[2021-05-28 13:08] nad commented on #5410
Are you sure that such a check is necessary? Can you suggest some code that would be incorrectly accepted in the absence of such a check?

When I added such a check the following code was rejected:
[code]
This can be fixed by moving `workOnTypes` to the outside of the following expression, but I don't know if that creates any other problem:

https://github.com/agda/agda/blob/465e46a20b59160ea38bd5

[2021-05-28 13:44] jespercockx commented on #5410
I was thinking of an example like this, which would perhaps be accepted if we're not careful:
[code]
But perhaps there are already other mechanisms in place that prevent this kind of invalid uses of variables, in which case the extra check would not be necessary.

[2021-05-28 14:01] nad commented on #5410
If type signatures with generalisable variables are re-checked after the variables have been generalised, then this kind of problem should be caught, right? I guess that such re-checking currently does not take place.

[2021-05-28 15:29] jespercockx commented on #5410
Not unless you enable double-check. But I propose we try to generate well-typed code in the first place, instead of detecting it is ill-typed after the fact.

[2021-05-28 17:50] nad commented on #5410
That particular piece of code is rejected without an extra check:
[code]
However, perhaps another, more problematic example can be constructed.

[2021-05-28 17:54] nad commented on #5410
I noticed that, with the code in my latest commit above, the following code is accepted:
[code]
However, the following code is rejected:
[code]

[2021-05-29 10:26] txa opened #5414 "Rewriting bug"
Sorry - we don't have a small example. This showed up in the middle of a bigger file:
https://bitbucket.org/akaposi/qiitcont/src/master/Bug.agda
We define
[code]
and then we can prove:
[code]
doesn't type check because one of the reductions doesn't work.

[2021-05-29 16:23] asr opened #5415 "Add `-Winvalid-haddock` warning for GHC 9.0.1"
In relation to GHC 9.0.1, @nad [wrote](https://github.com/agda/agda/issues/4955#issuecomment-784269131):

[2021-05-29 16:25] asr commented on #5415
I couldn't add the `-Winvalid-haddock` warning because it reports some false positive warnings.

[2021-05-29 16:45] #5298 closed, assigned to asr

[2021-05-29 19:10] #5408 closed, assigned to asr

[2021-05-29 19:41] asr commented on #5415
I was wrong in my previous comment. I'm testing the flag right-now.

[2021-05-29 21:29] #5415 closed, assigned to asr

[2021-05-29 21:34] asr commented on #5415
Please note that, due to the new `-Winvalid-haddock` warning, we can *not* use Haddock comments in `where` clauses.

[2021-05-30 17:09] andreasabel opened #5417 "More fine-grained tracking of infective options"
The impact of 7bc919262a0b35e9ea78d988b282b3a20edf1c75 (re #4908) on the standard-library may be bigger than expected, see https://github.com/agda/agda-stdlib/issues/1509, so we should postpone this change until after the release, imo.

(The general rule: do not rush features into the release last minute...)

[2021-05-30 19:10] jespercockx commented on #5417
@andreasabel thanks for the feedback. In general I agree that we should not rush new features just before the release. However, in this case I believe I had a good reason to make an exception, so let me try to explain my decision:

First, we had a long discussion about this in https://github.com/agda/agda/issues/4908, where @nad brought up a (in my opinion) good argument for disabling these two fl

[2021-05-31 07:17] nad commented on #5417
@andreasabel, is the problem that you are now asked to turn on `--guardedness` in code that imports code from the standard library, and that did not use to be marked as `--safe`? This can be fixed by adding `--guardedness` to the `flags` field of your `.agda-lib` files. I don't really see the problem with declaring explicitly that your code depends on code that uses `--guardedness`.

[2021-05-31 08:51] nad commented on #5251
Note that `--cumulativity` implies `--subtyping`. Are you fine with making `--cumulativity` incompatible with `--safe`?

[2021-05-31 15:00] nad opened #5419 "Missing licences?"
I noticed that the source tree contains some files that seem to have been copied from other projects:

https://github.com/agda/agda/blob/a4560307cb9e2ed30221294fabb870ff6f99f90a/src/data/JS/highlight-hover.js#L1-L3

https://github.com/agda/agda/blob/a4560307cb9e2ed30221294fabb870ff6f99f90a/src/data/JS/biginteger.js#L1-L11

I'm not convinced that the licence conditions associated with these files a

[2021-05-31 15:48] nad opened #5420 "The JS backend generates incorrect code for Agda code that uses reflection"
Consider the following code:
[code]
If you compile this using the JS backend and run the code using `node`, then you get an error message:
[code]
It should be possible to compile and run code that uses reflection, if reflection primitives are only used on the meta-level.

[2021-05-31 15:54] nad opened #5421 "The GHC backend generates incorrect code for Agda code that uses reflection"
If you compile the following code using the GHC backend and run the resulting binary, then the result is a crash:
[code]
[code]
I acknowledge that the code above is not idiomatic, but I don't think that the GHC backend should generate code that crashes in this way.

[2021-05-31 15:56] jespercockx commented on #5251
The original reason for introducing --subtyping was to avoid a performance problem with a certain check in the constraint solver that's only required when subtyping is used. But at the moment it is also the only way to turn on or off the specific subtyping rules for irrelevance and erasure. This has the weird effect that turning on --cumulativity also automatically turns on those other subtyping r

[2021-05-31 16:16] nad commented on #5251
I don't think we should spend time on a feature that no one is using. What about removing `--subtyping` entirely, and only keeping those parts of the implementation that are related to `--cumulativity`?

[2021-05-31 16:19] jespercockx commented on #5251
Well, I'm not 100% sure on the "no one is using" it part. But we could do the experiment by removing it just after the release, and seeing if anyone complains.

[2021-05-31 17:18] nad opened #5422 "The GHC and JS backends do not warn about missing COMPILE pragmas"
Both the GHC and the JS backend compile the following code without any errors:
[code]
However, the resulting code does not execute correctly:
[code]
[code]
I think the backends should warn about postulates without associated `COMPILE` pragmas.

[2021-05-31 18:33] andreasabel commented on #5417
@nad:

Well, my code does not depend on code that uses `--guardedness`, this is why I do not want to declare it.  I happens to import a module (`Data.Container.Indexed.FreeMonad`) that imports another module (`Data.Container.Indexed`) that uses a function defined by guardedness  imported from a third module somewhere.

So now I have to declare that I use a broken feature (`--guardedness`) even tho

[2021-05-31 18:40] andreasabel commented on #5422
I think you want some mechanism to detect whether a `postulate` is reachable during program execution.  This is in general undecidable.
One could maybe detect some cases whether a postulate will be evaluated in all possible program executions, like in your simple case.  But I wonder what the limits of such an analysis would be and whether it is worth the effort.
With systematic use of erasure, one

[2021-05-31 19:14] andreasabel opened #5423 "Weird error (and weird location) with tactic on hidden argument"
I am trying to use `@tactic` annotations to solve equalities via the ring solver for Nat.
If I hide the tactic argument, Agda produces a weird error.
(If I do not hide the tactic argument, no error, but also the tactic does not solve the goal.)
[code]

[2021-05-31 19:32] jespercockx commented on #5417
@andreasabel Yes, as I said I agree with the ideal that backwards incompatible changes should not be made too close to the release. But in this case @nad brought up a reasonable concern, namely that removing --safe from a module with --sized-types implicitly also turns on --guardedness, which is incompatible with --sized-types. In other words, there was going to be some kind of backwards incompati

[2021-06-01 07:02] MatthewDaggitt opened #5424 "Internal error in v2.6.2 release candidate 1"
Just been testing out my own [library](https://github.com/MatthewDaggitt/agda-routing) with the release candidate and I run into the following reproducible error whenever I try to type check [RoutingLib.Routing.Protocols.ShortestWidestPaths](https://github.com/MatthewDaggitt/agda-routing/blob/master/RoutingLib/Routing/Protocols/ShortestWidestPaths.agda) with v1.7-rc1 of the standard library:
[code

[2021-06-01 07:34] MatthewDaggitt commented on #5424
I've got the following so far:
[code]
and I can't seem to make it any smaller.

This is actually giving a slightly different error than the original:
[code]

[2021-06-01 07:47] nad commented on #5417
Are you proposing to put flags like `--guardedness` before every definition? Or are you suggesting that Agda should somehow keep track of which features are "actually used" in a certain definition? Is that feasible?

[2021-06-01 07:51] nad commented on #5422
I stated above what I want, and that is not undecidable.

[2021-06-01 08:21] UlfNorell commented on #5424
Further shrinking:
[code]

[2021-06-01 08:41] nad commented on #5251
I've fixed the problem in the OP. The fix might break some code that uses `--subtyping` and `λ (@0 x) → …`, but I doubt that there is a lot of code like that in use.

I plan to merge the fix into the `release-2.6.2` branch.

[2021-06-01 09:23] nad opened #5425 "Internal error related to --js-optimize"
The new feature `--js-optimize` can trigger an internal error:
* `M.agda`:
[code]
* `Bug.agda`:
[code]
[code]
https://github.com/agda/agda/blob/a4560307cb9e2ed30221294fabb870ff6f99f90a/src/full/Agda/Compiler/JS/Compiler.hs#L442-L465

[2021-06-01 09:23] jespercockx opened #5426 "Feature request: an annotation for run-time identity functions"
With the `@0` modality, we can now annotate what parts of a program should be erased by the compiler, instead of relying on the compiler to infer it for us. Another thing that the compiler does (or at least some compilers do) is detect functions that are run-time ~~constant~~ identity, i.e. that only change the erased parts of the input. This is useful for relaxing invariants on intrinsically type

[2021-06-01 10:44] nad opened #5427 "Remove support for subtyping for erasure and irrelevance"
As discussed elsewhere (#5251).

[2021-06-01 10:46] nad commented on #5251
I opened a new issue for the removal of support for subtyping for erasure and irrelevance.

[2021-06-01 10:46] #5251 closed, assigned to nad

[2021-06-01 11:04] nad opened #5428 "Code should be recompiled if (certain) options change"
I think the backend machinery should have support for recompiling things if the backend options change. Here is one example of what can go wrong:
* `M.agda`:
[code]
* `Bug.agda`:
[code]
[code]

[2021-06-01 13:13] UlfNorell commented on #5424
Some preliminary analysis shows that the impossible is coming from the `conPType` of the instantiated pattern for `r`. With forcing turned on (without forcing the problem moves to the implicit `k` of `[_]`) `r` becomes a lazy match on a sigma:
[code]
and the `conPType` of the `_,_` is `Σ (0 .PathWeight) λ _ → Nat`, where somehow the literal `0` has been substituted for what should be the module pa

[2021-06-01 16:03] andreasabel opened #5429 "Agda silently ignores backend options like `--js-optimize` (when `--js` is not given)"
Agda silently ignores a backend option like `--js-optimize` (when `--js` is not given).

I think Agda should not silently drop options it does not consume.

Proposal: Let `--js-optimize` imply `--js`, and likewise for the other backends and their options.

[2021-06-01 17:08] andreasabel commented on #5425
https://github.com/agda/agda/blob/a4560307cb9e2ed30221294fabb870ff6f99f90a/src/full/Agda/Compiler/JS/Compiler.hs#L460-L462
Naive equality `==` is used here to find constructor `q` in the list `cs`, but both `q` and `cs` need to be turned into `canonicalName`s to succeed when applied modules are involved.
Fix forthcoming.

[2021-06-01 17:32] andreasabel commented on #5417
Why not?  We also check which free variables are actually used in a definition, as opposed to just assuming that all variables that are in scope are used. :P

Checking termination is a relatively expensive operation, so setting a flag whether we used guardedness or not should be comparatively cheap.  Accumulating in a definition whether one of its references uses guardedness should also be compara

[2021-06-01 17:44] jespercockx commented on #5417
I actually started drafting such a thing for the (proper) fix of #4908 - you can find my WIP on https://github.com/jespercockx/agda/tree/UnsafeThings. The main idea is that we store a data structure that records all "unsafe things" that are used in a file in the interface. That way we can easily check whether an unsafe feature is actually used or not without requiring an explicit flag. I agree wit

[2021-06-01 18:20] #5425 closed, assigned to andreasabel

[2021-06-01 18:24] andreasabel commented on #5425
Cherry-picked the fix (71e06cf88f8b23000ba44d1845f5c79218688318) onto the `release-2.6.2` branch.

[2021-06-01 23:46] JW-Schuetz opened #5430 "Agda installation failed"
I tried to install agda with the command "cabal install Agda" but it failed.
The content of the log-file:

[1 of 1] Compiling Main             ( /tmp/cabal-install.-8338/dist-newstyle/tmp/src-8338/Agda-2.6.1.3/dist/setup/setup.hs, /tmp/cabal-inst
all.-8338/dist-newstyle/tmp/src-8338/Agda-2.6.1.3/dist/setup/Main.o )
Linking /tmp/cabal-install.-8338/dist-newstyle/tmp/src-8338/Agda-2.6.1.3/dist/setup

[2021-06-01 23:59] JW-Schuetz commented on #5430
I am using Debian-Linux 10 (Buster) kernel version 5.12.8 and ghc 9.01.

[2021-06-02 01:23] asr commented on #5430
Please note that Agda 2.6.1.3 does not support GHC 9.0.1 (not related to the above error). You can try Agda 2.6.2 release candidate by running

[code]

[2021-06-02 09:08] JW-Schuetz commented on #5430
I removed ghc 9.0.1 and installed 8.10.4: same problem.

[2021-06-02 09:30] L-TChen commented on #5202
Is it enough to check if the description file `.cabal` contains a nonempty field `extra-libraries`?

[2021-06-02 10:54] nad commented on #5429
I disagree. I have `--latex-dir=.` in `agda2-program-args`.

[2021-06-02 10:58] nad commented on #5202
Perhaps it is possible to "smuggle in" a dependency using `Setup.hs`.

[2021-06-02 11:39] asr commented on #5430
Which is the output of running the `locale` command?

[2021-06-02 12:23] nad commented on #5417
I see two potential problems:

* If one can't easily get information about whether a certain feature is used without running the typechecker twice, then this approach could be very expensive: I don't want to typecheck my code 2^n times. Does the termination checker produce a certificate from which one can tell if `--guardedness` is absolutely necessary to accept a certain definition (or could it e

[2021-06-02 12:27] andreasabel commented on #5429
Maybe we can have config file in `~/.agda` where we store such defaults.  This seems to be common practice.

[2021-06-02 12:37] andreasabel commented on #5202
@L-TChen

I took that seriously in BNFC/bnfc#308.  BNFC has an option `--license` which prints the license text, see https://github.com/BNFC/bnfc/blob/master/source/src/BNFC/License.hs.
https://github.com/BNFC/bnfc/blob/3bb050a426c6fbdc9d89b4c8217a648701681b6e/source/main/Main.hs#L60

While implementing this, I wondered why cabal does not have a standard solution for this, like it has for the vers

[2021-06-02 12:43] andreasabel commented on #5422
@nad

I would think that it is not uncommon that you want to ship a product with some proof still postulated.  A warning (which can be disabled) would not hurt, though.  I would however only want to see warnings about postulates that actually end up in the compiled code.

[2021-06-02 14:14] nad opened #5431 "--ghc-strict-data and --ghc-strict"
I've implemented two flags that make the GHC backend emit possibly more strict code:
* `--ghc-strict-data`: Based on the GHC language extension `StrictData`. Makes most inductive constructors strict.
* `--ghc-strict`: Based on the GHC language extension `Strict`. Makes the code mostly strict.

Are there any thoughts about this before I push the changes?

I'm not sure how useful these flags are:
*

[2021-06-02 15:23] nad commented on #5410
This is related to issue #5341.

[2021-06-02 15:25] nad commented on #5341
I [found](https://github.com/agda/agda/issues/5410#issuecomment-850577821) a related problem, and I hope I have a fix for it.

[2021-06-02 16:47] L-TChen commented on #5202
Right, it makes sense to solve this issue upstream. I will see if I can make a PR to improve the situation.

[2021-06-02 17:02] JW-Schuetz commented on #5430
Output of locale:
locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_MESSAGES to default locale: No such file or directory
locale: Cannot set LC_ALL to default locale: No such file or directory
LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="e

[2021-06-02 17:39] JW-Schuetz commented on #5430
I tried "sudo dpkg-reconfigure locales". Maybe this helps.

[2021-06-02 18:49] asr commented on #5430
I didn't see any problem in your `locale`'s output. Which is the output of `file -i src/full/Agda/Syntax/Parser/Parser.y`?

[2021-06-03 06:26] #5341 closed, assigned to nad

[2021-06-03 06:29] JW-Schuetz commented on #5430
Sorry, but in the meantime I decided me to try coq instead. And so I don't have an agda installation anymore. Thank you very much for helping.

[2021-06-03 06:54] nad commented on #5410
Let us consider some cases:
* A generalisable variable with the default modality. The associated meta-variable has the default modality, which I think means that there are restrictions on how it can be instantiated, but that it can be used anywhere. The resulting Π type, if any, will have a non-erased and non-irrelevant domain. I guess this is unproblematic for erasure. I don't know how irrelevanc

[2021-06-03 07:21] andreasabel commented on #5417
https://github.com/agda/agda-stdlib/issues/1509

[2021-06-03 08:27] andreasabel commented on #5417
Zoom discussion 2021-06-03:

Fundamental issues:

- Flags like `--guardedness` are overloaded:
   * Turn on guardedness checker in current module.
   * Import a module that uses (transitively) guardedness.

- No warning about unused flags: inherited `--guardedness` may become obsolete as someone upstream ditches it, but Agda does not warn about it, so infection continues.

Current problematic case

[2021-06-03 08:56] nad commented on #5342
It was adopted, so I suppose that we could close this issue.

[2021-06-03 08:56] #5342 closed, assigned to nobody

[2021-06-03 10:21] #5410 closed, assigned to nad

[2021-06-03 11:20] #5424 closed, assigned to UlfNorell

[2021-06-03 12:57] nad opened #5433 "The JS backend "installs" highlight-hover.js"
When you compile using the JS backend the file `highlight-hover.js` is copied into the output directory. @ice1000, is this file used by the JS backend? I guess the answer is no. This can presumably be fixed by moving this file to its parent directory and removing `"JS" </>` from the following code:

https://github.com/agda/agda/blob/914040984c26e827cbc4960f25ee5a7934cbda69/src/full/Agda/Interactio

[2021-06-03 13:05] #5430 closed, assigned to andreasabel

[2021-06-03 17:04] ice1000 commented on #5433
You are right

[2021-06-03 17:07] ice1000 commented on #5433
So the `JS` directory is for the JS backend only. I guess it's a good idea to document this behavior.

[2021-06-03 17:51] andreasabel commented on #4729
No, I was just conservative.  Changing this to `ci-*`...

[2021-06-04 03:27] MatthewDaggitt commented on #5424
I've just tried my library with the latest version of the release branch and I can now type check the entire thing :+1: Thanks @UlfNorell!

[2021-06-04 06:42] nad commented on #5433
Well, the JS backend copies everything from that directory into the target directory:

https://github.com/agda/agda/blob/54dfa724cf496f0cd5a067d6bc8cb8a834445841/src/full/Agda/Compiler/JS/Compiler.hs#L158-L162

Perhaps a file with documentation could be put in the parent directory.

[2021-06-04 08:31] nad opened #5434 "The user manual's explanation of how erasure is checked for constructors does not match the implementation"
According to the user manual the type-checker does not enter compile-time mode when checking the types of non-erased constructors, unless the K rule is active. However, the implementation does enter compile-time mode, and instead checks after the fact that the types are OK:

https://github.com/agda/agda/blob/54dfa724cf496f0cd5a067d6bc8cb8a834445841/src/full/Agda/TypeChecking/Rules/Data.hs#L217-L21

[2021-06-04 08:32] nad commented on #5410
I noticed that constructors are treated differently. I opened a new issue related to this (#5434).

[2021-06-04 08:38] nad commented on #5434
The following code is rejected, which suggests to me that uninstantiated meta-variables might be handled correctly:
[code]
[code]

[2021-06-04 09:36] Saizan commented on #5434
Yeah, we should check the result type and the boundaries as well.

But for non-fibrant types we should not need this check. The check is trying to make sure that transp/hcomp can be defined (as non-erased) for the type, but we don't define those for non-fibrant types.

[2021-06-04 10:55] jespercockx commented on #5154
There were a few issues that came up with the first RC that are all fixed now (well, except for https://github.com/agda/agda/issues/5419 which is about the licenses), so perhaps we could prepare a second release candidate now?

[2021-06-04 11:21] nad commented on #5154
I'd like to merge [another](https://github.com/agda/agda/pull/5435) bug fix first.

[2021-06-04 12:55] #5434 closed, assigned to nad

[2021-06-04 14:06] asr commented on #5154
I'll release RC2. The `release-2.6.2` branch is frozen.

[2021-06-05 10:36] jespercockx commented on #4799
I think after the release of 2.6.2 would be a good time to push this through.

[2021-06-06 04:24] asr opened #5436 "Support GHC 8.10.5"
GHC 8.10.5 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-June/019962.html). I created this issue for collecting/reporting the required changes/issues.

[2021-06-07 18:52] #5420 closed, assigned to nad

[2021-06-07 18:52] #5421 closed, assigned to nad

[2021-06-07 19:02] asr commented on #5420
What about of cherry-picking the fix into `release-2.6.2`?

[2021-06-07 19:02] asr commented on #5421
What about of cherry-picking the fix into `release-2.6.2`?

[2021-06-07 19:07] #5431 closed, assigned to nad

[2021-06-07 19:07] #4701 closed, assigned to nad

[2021-06-07 19:10] nad commented on #5154
@asr, we have now started adding new features to the `master` branch, so I renamed `CHANGELOG.md` to `doc/release-notes/2.6.2.md`.

[2021-06-07 20:48] jespercockx opened #5437 "Internal error with --injective-type-constructors or INJECTIVE pragma for postulate with projections"
The LHS unifier currently does not handle the case where an injective symbol has projections applied to it. In most cases, this actually causes unification to drop some equalities silently (which is bad enough), but here is a test case that actually triggers an internal error:
[code]
Error message:
[code]
The same problem appears (with a different error location) when using a pragma `{-# INJECTIVE

[2021-06-07 20:53] jespercockx commented on #5437
Perhaps postulates should not be made injective by --injective-type-constructors. For {-# INJECTIVE #-} pragma's I'm not yet sure what would be the best thing to do, but perhaps there is some way we could refuse to use it on symbols of record type (or that return something of record type).

[2021-06-08 05:42] andreasabel commented on #5417
I still do not agree with the current state of affairs.
The way infective options are currently handled by Agda breaks important abstraction principles.
- You cannot use coinduction in a library without pushing either `--sized-types` or `--guardedness` too all your users and users' users etc. forever downstream.  In a large development that pulls in all kinds of libraries which again rest on libra

[2021-06-08 11:25] nad commented on #5417
I added the `wontfix` label because we decided not to make any further changes before the release of Agda 2.6.2, not to suggest that the current design is frozen in stone forever.

[2021-06-08 11:26] nad commented on #5420
I have no strong opinion on this.

[2021-06-08 11:26] nad commented on #5421
I have no strong opinion on this.

[2021-06-08 12:50] andreasabel opened #5438 "GHC: Bind instantiated data types to `data`s"
Say I want to interface an instance of a data type with a data type in Haskell:
[code]
This does not work, instead I get the warning:
[code]

[2021-06-08 16:43] andreasabel commented on #5438
I think this is working-as-intended.  If only `Name' String` is represented in Haskell, what should values of `Name' Foo` compile to?

[2021-06-08 16:43] #5438 closed, assigned to nobody

[2021-06-10 12:17] Saizan commented on #5097
It seems you would need `--cumulativity` to have sensible introduction and elimination rules, but in that case the original `PathP` should be enough.

[2021-06-10 20:43] JacquesCarette opened #5440 "(Re)Documenting `catchfilebetweentags` method of building latex files with Agda"
There are two methods to do this, the one that used to be documented using `catchfilebetweentags`, and one using `\newcommand`.

The documentation only mentions the latter now, while it used to only mention the earlier. This change was done by @nad in https://github.com/agda/agda/commit/38c03221fc6229951c9b6757bfbd8c3205006add but there is no rationale given for why one method is preferred.

I sug

[2021-06-11 00:05] gallais commented on #5428
AFAICT it's even worse than that: we seem to purely rely on module names to decide whether
to compile something. In https://github.com/agda/agda-stdlib/pull/1518 I am using a shared `--compile-dir`
to cache some of the dependencies and because all of my executables are called `Main.agda`,
I need to actively remove the generated `Main.hs` & friends in between runs otherwise agda
just skips code gen

[2021-06-11 06:11] Saizan commented on #3733
Note: indexed families with no parameters can have transp = transpX

[2021-06-11 08:11] nad commented on #5440
I don't see a problem with including both methods, if they have different use cases. Is the point of the method that uses `catchfilebetweentags` that the Agda code does not need to be in a LaTeX file? The currently documented method can be used inside a single `.lagda.tex` file if you want to present code in an order that does not match the order imposed by Agda.

[2021-06-11 16:28] nad opened #5441 "Segfault with --ghc-strict"
I noticed that one program using `--erased-cubical` segfaulted when compiled using the GHC backend and `--ghc-strict` (but not with `--ghc-strict-data`).

[2021-06-11 17:22] andreasabel commented on #5436
I could compile Agda successfully on GHC 8.10.5, standard build with `cabal build` (no flags).

[2021-06-11 17:26] andreasabel opened #5442 "Support GHC 9.2"
Umbrella issue for tracking progress of compiling under GHC 9.2.  Please add issues to the following list:
- [x] aeson (https://github.com/haskell/aeson/issues/885)
- [x] assoc (https://github.com/haskellari/assoc/issues/13)
- [x] base-compat (https://github.com/haskell-compat/base-compat/issues/74)
- [x] blaze-builder (https://github.com/lpsmith/blaze-builder/issues/23)
- [x] blaze-markup (jasper

[2021-06-12 16:09] nad opened #5443 "Read the interface files on demand"
In @edwinb's AIM talk this week I think he said that Idris reads information from the interface files (or whatever Idris is using) on demand. Given that it can take quite a bit of time to read the interface files for large Agda developments I think we should consider doing the same thing. (Presumably with a different interface file format.)

[2021-06-12 16:21] edwinb commented on #5443
More preciseiy, what we do is read the interface file, but not decode the definitions until something asks for it. So a context entry is:

    data ContextEntry : Type where
         Coded : Namespace -> Binary -> ContextEntry
         Decoded : GlobalDef -> ContextEntry

Then if we lookup something that's `Coded`, we decode it to a `GlobalDef` and update the entry.

This is a huge benefit if you

[2021-06-12 18:11] jespercockx commented on #5443
We already have a monadic operation for looking up things in the signature though:

https://github.com/agda/agda/blob/044843c5281a7bdb9479317793a75c8c0fcfadd9/src/full/Agda/TypeChecking/Monad/Signature.hs#L715-L748

So one would hope that this would actually not take too much effort to add to Agda. The tricky part is that this typeclass is currently implemented by two base monads: `TCM` and `Reduc

[2021-06-14 07:58] L-TChen commented on #5436
GHC 8.10.5 adds the support for Apple M1 hardware using GHC's LLVM ARM backend, and it will be nice if anyone can report their experience with Agda on an Apple M1 machine. GitHub-hosted runners do not support `arm64`, so it is not easy to fully test the compilation of Agda on mainstream platforms at the moment.

[2021-06-14 08:27] googleson78 opened #5446 "Use names given in data type definitions for case splitting"
Currently, if I have something like
[code]
and I do a case split, I get
[code]
which is good for UX imo, as it helps me reason about what I'm doing.

When I have
[code]
and I split on `x`, a similar nice thing happens:
[code]

However, if I happen to have a recursive structure (not sure if this is the reason though):
[code]

and split on `x`:
[code]
the same isn't true.

Is there some reasoning be

[2021-06-14 08:47] UlfNorell commented on #5446
The reason for this heuristic is for cases like natural numbers, where is quite nice to have `n` split into `suc n` and `k` split into `suc k`. But maybe an improvement could be to only do this when there's exactly *one* recursive argument.

[2021-06-14 09:03] googleson78 commented on #5446
That would improve my use case, but it would still "fail" e.g. a list where you name the contained data `head` and `tail`.

Another compromise would be to always use the names, when they are present, but this would impact cases where you're actually using the names for a dependent type.

I don't have enough experience to confidently say which tradeoff is better.

(the "best" solution is to be able

[2021-06-14 09:10] nad commented on #5446
See #3214 and #815.

[2021-06-14 09:10] #5446 closed, assigned to nobody

[2021-06-14 13:59] nad commented on #5441
I could trigger a segfault without using `--erased-cubical`.

[2021-06-14 16:08] jespercockx commented on #5419
@nad did you have an actual plan for doing something with this? As far as I can tell these licenses have been in Agda for a long time so I don't understand why it is suddenly an issue now.

[2021-06-14 16:09] jespercockx commented on #5154
The second release candidate has been out for over a week now and there haven't been any major complaints. Is there anything that we should still do before the release? Is there anything we should still do to add support for GHC 8.10.5 (https://github.com/agda/agda/issues/5436)? If not, I propose we do the release.

[2021-06-14 17:44] asr commented on #5154
Yes. Everything in https://github.com/agda/agda/blob/ecdeda1c1e3bb8d178efa4b365aa02399375495c/notes/ghc-releases.md. I'm starting to work in #5436.

[2021-06-14 20:28] asr commented on #5436
I could run `make test` without problems. Since currently GitHub CI doesn't support GHC 8.10.5 and there is not Stackage LTS for GHC 8.10.5, my plan is release Agda 2.6.2 without 'officially' support GHC 8.10.5.

[2021-06-14 20:31] asr commented on #5154
I'm waiting for a fix of #5419 to make the release.

[2021-06-15 12:36] nad commented on #5419
I reported this as soon as I saw it. I don't think we should "steal" the code of others without following their licences.

[2021-06-15 12:41] nad commented on #5419
@ice1000 and @phile314, can you verify that the licences that I added are correct?

[2021-06-16 02:16] ice1000 commented on #5419
I think the highlight-hover.js license is fine

[2021-06-16 09:52] nad opened #5447 "Make "{-# COMPILE GHC x as y #-}" more usable"
The GHC backend rejects the following code:
[code]
[code]
Is there a reason for this restriction?

There is also a problem with the following code:
[code]
The GHC backend generates the following code:
[code]
Note that the pragma applies to `y`, not to `d_x_2`, but the definition of `d_z_4` uses `d_x_2`.

I suggest that `{-# COMPILE GHC x as y #-}` should make the GHC backend generate the same code

[2021-06-16 10:03] nad commented on #5447
One complication is that some functions turn into two different Haskell functions, one with the prefix `d` and one with the prefix `du`.

[2021-06-16 16:06] jmchapman commented on #5436
I tested building the `release-2.6.2` branch with `cabal install` using ghc 8.10.5 from homebrew on an Apple M1.
[code]
It seems to work fine!

[2021-06-16 17:46] nad commented on #5441
Here is a small test case:
[code]
(Note that the test case might be brittle: it refers to the generated Haskell name for `f`. This is related to issue #5447.)

Agda generates the following code:
[code]
The segfault goes away if the strict lambda is made lazy. Here is some standalone Haskell code that also triggers a segfault (using GHC 8.10.5 and `-O`):
[code]
If `Any` is replaced by `()`, then th

[2021-06-16 17:48] nad commented on #4193
If subtyping is removed for `@0` (#5427), then no coercions would be necessary.

[2021-06-16 17:53] nad commented on #5428
Related: #3985.

[2021-06-16 17:54] nad commented on #3753
Related: #4701.

[2021-06-17 05:26] L-TChen commented on #5436
Nevertheless, we can still include @jmchapman's experience and yours in the announcement. I believe there are already M1 users who want to give it a try given the performance gain.

Edit: In addition, the stackage resolver LTS-18.0 works fine with GHC 8.10.5 for building Agda, see https://github.com/L-TChen/agda/actions/runs/945317753. I've included `stack-8.10.5.yaml` in the commit https://github

[2021-06-17 09:05] #5419 closed, assigned to nobody

[2021-06-17 09:06] nad commented on #5154
I've closed #5419.

[2021-06-17 10:48] jmchapman commented on #5436
Incidentally, Homebrew's package of Agda 2.6.1.3 already seems to support arm64:

https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/agda.rb

What are the requirements for 'official support'? It seems logical to me that want to have CI support but what if Github don't add this support for a long time? I don't have an opinion about stack.

[2021-06-17 10:57] jespercockx commented on #5436
CI is mainly there for the development version, not for the released versions. So in theory it would be sufficient to run the installation and full test suite locally (and perhaps also make sure it works on Mac and Windows?).

[2021-06-17 13:51] asr commented on #5436
The `Makefile` hasn't rules for testing everything tested by CI (e.g. the `cpphs` flag). So, following @L-TChen suggestion and I'll mention that shouldn't have problems using GHC 8.10.5 when announcing 2.6.2.

[2021-06-17 13:53] jespercockx commented on #5436
Ok, I'm fine with that approach. But perhaps for the future, we should make sure that there is an easy way to reproduce **all** CI tests locally.

[2021-06-17 13:53] asr commented on #5154
Starting the release of 2.6.2.

[2021-06-17 14:07] asr commented on #5436
From the CI results for 4d972a3c6f7d75d42dc7e7eae9626d925c2c3f69, I realised we can use 8.10.5 on CI now. I'll try to close this issue before the release.

[2021-06-17 16:11] andreasabel opened #5448 "Should the predicate be erasable in the subst rule (without-K)"
With Nisse and Andrea we discussed that the definitions below, erasing `P`, might not be compatible with univalence.

[code]
Cf. #4784

[2021-06-17 17:25] Saizan commented on #5448
Let `ua : A ≃ B -> A ≡ B` be the map we get from univalence, then with (a level polymorphic) `subst` from above we can define

[code]
we can then prove that `foo ≡ false` while `bar ≡ true`.

Since `foo` and `bar` only differ in the `P` argument, this suggests that `P` is runtime relevant when univalence is around.

[2021-06-17 18:36] andreasabel commented on #5448
`P` is sort of the type-code that is recursed on to compute the "functorial action" that `subst` exhibits.   Maybe to get a better intuition, could you complete here the definition of `subst`, @Saizan, with the additional reduction rules that are not visible in the surface syntax?  The surface syntax only has the user-written clause
[code]
which justifies the typing that Agda accepts.

[2021-06-17 19:14] andreasabel opened #5449 "Agda falling out of stackage"
Stackage nightly is now switching to GHC 9.0, see https://www.stackage.org/blog/2021/05/2021-05-29-upcomming-ghc-9-on-nightlies

Agda has now been disabled on stackage:
https://github.com/commercialhaskell/stackage/blob/bdd6ae2ebbd0656db4c9ff4f7ae3fdc0616be091/build-constraints.yaml#L5116-L5119

Once we get 2.6.2 out, we need to reactivate Agda on stackage.

[2021-06-18 07:27] Saizan commented on #5448
If you mean in the `--cubical` case, we would have e.g. this extra clause, where I added type annotations to some variables in the pattern for clarity.
[code]

[2021-06-18 07:49] jespercockx commented on #5448
See also https://github.com/agda/agda/issues/5266. It really depends on what we want `--without-K` to mean:

1. Don't use UIP during the elaboration of pattern matching to a case tree
2. Don't use *any* features that are incompatible with univalence (or perhaps with HITs)

[2021-06-18 08:28] Saizan commented on #5266
There is a difference between "do not delete reflexive equations" and "all pattern matching on equality and indexed families could be done with J".

Already in vanilla Agda, we need the masking in the termination checker to get closer to the latter.
Similarly, the restriction on the sorts of indexes is about ensuring that indexed families could be translated into uniformly-indexed datatypes with e

[2021-06-18 11:17] nad commented on #5448
Note that this also affects `--erased-cubical`:
[code]
I postulated some things, but the only non-erased postulate is the one for `print`, and the remaining postulates should be non-controversial.

The result of running the resulting binary (with or without `--ghc-strict`) is incorrect:
[code]

[2021-06-18 11:25] nad commented on #5448
Perhaps the problem will be fixed once (if?) proper support for inductive families is added to Cubical Agda (#3733), as discussed above.

I think there should be some variant of Agda that is compatible with both `--with-K` and `--cubical`/`--erased-cubical`. This variant could perhaps use a more descriptive name than "without K", but for historical reasons I don't think we should remove the flag `

[2021-06-18 11:36] nad commented on #5448
Doesn't it make sense to include the extra clauses also when `--without-K` is used? (This is related to issue #4527.)

[2021-06-18 11:41] Saizan commented on #5448
We already discussed this: looking at these generated clauses might be a good way to avoid definitions incompatible with --cubical.

[2021-06-18 17:32] asr commented on #4729
@andreasabel, why you didn't make the change in `github/workflows/lint.yaml`?

[2021-06-18 20:13] #5436 closed, assigned to asr

[2021-06-18 20:14] asr commented on #5436
We shall release 2.6.2 officially supporting GHC 8.10.5.

[2021-06-18 20:22] HarrisonGrodin opened #5451 "Internal error in TypeChecking.Monad.Signature.canonicalName"
On Agda v2.6.1.3:

It seems like the issue may have to do with importing parameterized modules across files, although I'm having trouble creating a small example which showcases the bug.

[2021-06-19 06:41] asr commented on #5154
Great job everyone!

[2021-06-19 06:41] #5154 closed, assigned to asr

[2021-06-19 07:12] jespercockx commented on #5154
Thanks @asr and everyone who made this release possible!

[2021-06-19 09:18] ice1000 commented on #5449
It seems it's already out

[2021-06-19 16:15] asr opened #5452 "`make haddock` fails"
@knrafto, please note that `make haddock` is failing after [this](https://github.com/agda/agda/commit/e4866bd5b76993945a268dd46364a4d29a712ed6) commit:

[code]

[2021-06-19 16:37] asr opened #5453 "Label `Makefile` is not exclude in the `closed-issues-for-milestone` program"
From `HACKING.md`: https://github.com/agda/agda/blob/16faf8a529f83a1e62f1865cd10291f4d485f1be/HACKING.md#L544-L550

So, the person who created the label `Makefile` please exclude it in the `closed-issues-for-milestone` program.

[2021-06-19 16:39] asr opened #5454 "Label `devx` is not exclude in the closed-issues-for-milestone program"
From `HACKING.md`: https://github.com/agda/agda/blob/16faf8a529f83a1e62f1865cd10291f4d485f1be/HACKING.md#L544-L550

So, the person who created the label `devx` please exclude it in the `closed-issues-for-milestone` program.

[2021-06-20 10:54] MatthewDaggitt opened #5456 "Default vs absolute flags in the library file"
Version 2.6.2 introduced the ability to set flags in the library files, however as a discussion https://github.com/agda/agda-stdlib/issues/1524 has just raised, we have two use cases for this.
 1. To provide a guarantee that *all* files use that flag
 2. To cut-down on boilerplate when *most* files use that flag, and some files override it locally.

I propose we need to split the `flags` field in

[2021-06-20 10:57] MatthewDaggitt commented on #5456
I should add that flags given via the command line would be treated as absolute flags.

[2021-06-20 11:11] jespercockx commented on #5456
Related: https://github.com/agda/agda/issues/5265

[2021-06-21 11:10] nad commented on #5265
@MatthewDaggitt proposed (#5456) that there should be two fields in library files, one for flags that must not be overridden by options pragmas, and one for flags that are allowed to be overridden.

[2021-06-21 11:11] nad commented on #5456
I suggest that we move this discussion to the other ticket.

[2021-06-21 11:11] #5456 closed, assigned to nobody

[2021-06-21 11:52] nad commented on #5265
I think we should aim for a design that is flexible, but that makes it hard to shoot yourself in the foot. A preliminary, incomplete design, based on what others have suggested:

* One can give options in four places:
  * In options pragmas.
  * In `.agda-lib` files:
    * Overridable.
    * Not overridable.
  * On the command-line.

  More could be added later.

* Some options must not be overrid

[2021-06-22 01:23] MatthewDaggitt commented on #5265
That scheme all makes sense to me apart from the precedence order:

As @jespercockx and @andreasabel have previously stated, If a user is specifically providing an option on the command line, then they very definitely want to use that option, and having it overridden locally seems counter-intuitive to me. Much better to throw a warning that the local options are not compatible with it.

It seems t

[2021-06-22 04:50] MatthewDaggitt opened #5457 "Agda incorrectly accepting *any* type"
Came across this fun little bug today in Agda 2.6.2 with Standard Library v1.7:

If you have the following:
[code]
then Agda fails to infer the type of the implicit argument `A` in `_≡_`. A bit disappointing, but not a massive problem, let's just provide it:
[code]
and Agda stops complaining, great! However I originally made a mistake and typed `{A = A}`  rather than `{A = B}`, and Agda accepted i

[2021-06-22 07:52] nad commented on #5265
I don't think it should be possible to override `--safe` given in options pragmas. From the point of view of a person *writing* the code this may be fine, but I think we should also consider *readers* of the code.

[2021-06-22 08:47] UlfNorell commented on #5457
I think this is a bug in the standard library. Here's the definition of `Surjective`:
[code]
Note how `A` is free. Here's where it's reexported in `Function.Definitions`:
[code]
Nothing pegs the free `A` in the definition of `Surjective` to the parameter `A` of `Function.Definitions`. Asking for the type of `Surjective` in the test module also shows the problem:
[code]

[2021-06-22 09:50] MatthewDaggitt commented on #5457
That is very embarrassing :facepalm: Thank you @UlfNorell .

[2021-06-22 09:50] #5457 closed, assigned to nobody

[2021-06-23 02:13] MatthewDaggitt commented on #5265
I don't quite see the problem? Someone creates a file which they mark as `--safe` at the top using an options pragma. The reader comes along and sees this pragma and ascertains that this module only contains and depends on safe things. A third person (could be the reader) now comes along and passes the `--unsafe` flag in at the command line. The reader is not deceived, they are explicitly asking t

[2021-06-23 08:27] david9991 opened #5458 "Agda freezes when checking this code."
[code]

[2021-06-23 08:33] jespercockx commented on #5458
EDIT: Sorry, I just noticed this is your first issue here. Thanks for reporting it! If you could answer the questions below, that would be very helpful to us developers to find a fix.

Which version of Agda and the standard library are you using?
Are you using Agda from the command line or an IDE?
How long did you wait after freezing to make sure the problem wasn't just that Agda took a long time?

[2021-06-23 08:43] david9991 commented on #5458
Agda version 2.6.1.3.
Both command line and IDE will freeze.
I had been waiting for it to finish loading for several minutes.
And it takes maximum 3.6GB memory.
here is a sample file from Activate Monitor of macOS.
[Sample of agda.txt](https://github.com/agda/agda/files/6700342/Sample.of.agda.txt)

[2021-06-23 08:46] david9991 commented on #5458
And stdlib-1.6.

[2021-06-23 09:03] jespercockx commented on #5458
After inlining a few definitions that were removed from the standard library recently (see https://github.com/agda/agda-stdlib/commit/cfbc5784b4437bbf34989cb4f41b07b81334ceff) I could reproduce the issue on the current development version of Agda:

[code]

The last message that I get from the debug output is the following:
[code]

[2021-06-23 10:33] nad commented on #5265
Scenario:
* I'm reading code that I know that Agda has accepted.
* I don't know or remember which command-line options were used to check the code. Perhaps I'm reading some generated HTML file, and I might not even have access to all the source code.
* The file that I'm looking at contains `{-# OPTIONS --safe #-}`.

In this situation I want to be sure (ignoring Agda bugs) that nothing unsafe was u

[2021-06-24 00:32] ghost opened #5459 "Feature request: Sharp modality"
Agda already has crisp variables and the flat modality from spatial type theory, so it should make sense to also include the sharp mobility from spatial type theory as described in [Shulman 2015](https://arxiv.org/abs/1509.07584).

[2021-06-25 02:36] MatthewDaggitt commented on #5265
Hmm thanks for the example @nad. I think I may have misinterpreted your original proposal, apologies. If I now understand correctly, the set of flags in use will have to dynamically change during type-checking as we go down the module hierarchy. So to have a concrete example, if we have the following modules, where `Unsafe`/`Unsafe2` are locally marked `--unsafe`, `Safe` is locally marked `--safe`

[2021-06-26 11:27] amp12 opened #5460 "Feature request: a sort hierarchy Propωᵢ like Setωᵢ"
The new sort hierarchy Setωᵢ in v2.6.2 is very welcome. But I use Propᵢ a lot; please can we have a Propωᵢ hierarchy?

[2021-06-26 19:02] jespercockx opened #5461 "`open public` in a private block should not bring names into scope"
Here is a small example where I think Agda currently does the wrong thing:
[code]
Currently this fails with an error:
[code]
(this error message should also be improved, see https://github.com/agda/agda/issues/4780)

It feels to me that Agda's behavior here is wrong: whatever the effect is of the `private` block, it should be contained to the current module (i.e. the record type), not leak into th

[2021-06-26 19:11] jespercockx commented on #5461
You'd think that the problem was somehow related to instance arguments, but you'd be wrong:
[code]
This gives a slightly different error:
[code]

[2021-06-27 07:37] UlfNorell commented on #5461
Is the suggestion to issue a "useless public" warning for the `public` and then ignore it for scope checking? I think that would be reasonable.

[2021-06-27 09:52] jespercockx commented on #5461
Yes, that sounds like a reasonable solution.

[2021-06-27 15:34] nad commented on #5265
(An aside: I think I'm using the terms infective/coinfective in the opposite way. I think we should try to come up with less confusing terminology.)

When you are checking a module, how do you know which options are in effect in all the modules that import it (perhaps in other projects)? I did not propose any changes to the rules regarding infective/coinfective options. With the current rules, if

[2021-06-29 17:03] amp12 opened #5462 "Internal error caused by a REWRITE on a projection-like function"
The following is a stand-alone example extracted from the actual code that caused the internal error.

[code]
When checking this with Agda 2.6.2, one gets the message:

    An internal error has occurred. Please report this as a bug.
    Location of the error: __IMPOSSIBLE__, called at  src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs:134:41 in Agda2.6.26ce032c1:Agda.TypeChecking.Rewriting.No

[2021-06-30 21:27] jonsterling commented on #5238
Hmmm, I am not sure why this ticket has been closed. In Agda 2.6.2, I can still typecheck my erroneous example. Did I misunderstand what the intention was with this?

[2021-07-01 07:14] jespercockx commented on #5238
That's really strange, I've added your example to the (failing) test suite in https://github.com/jespercockx/agda/commit/f6359f059be1459633c2c1c98889b36d4757150e, you should be getting the following error:
[code]
Perhaps you need to delete the corresponding .agdai file? (Normally these are invalidated automatically for new versions of Agda, but you never know..)

[2021-07-01 08:55] laMudri commented on #5461
I think I make use of the current behaviour to hide the module name `F`, but still export its contents. This is useful in cases where there has to be a module name, for example when the module has parameters. Maybe the better fix, though, is to allow `_` to be the name in those cases.

[2021-07-01 09:01] jespercockx commented on #5461
If you don't need the module name at all, you can already just write `open Functor functor public`, no? If you want to give a name but keep it local to the current module, there's also a (slightly more verbose) way to do that:
[code]

[2021-07-01 09:03] laMudri opened #5463 "Hole in the middle of a record is malformed"
The following code gives the error below.

Code:

[code]

Error:

[code]

[2021-07-01 09:07] laMudri commented on #5461
If it were something like `open module F functor = Functor functor public`, then the name `F` would be necessary. But indeed, the more verbose solution would work.

[2021-07-01 12:18] jonsterling commented on #5238
ok, let me check that i haven’t messed something up on my end :)

[2021-07-01 12:38] omelkonian opened #5464 "`let open` should not fail too eagerly [WAS: Generalized variables break instance resolution]"
AGDA: 2.6.1.3

It seems that generalized variables do not behave as expected w.r.t. instance resolution.
Here is a completely artificial example, minimized from a larger development:
[code]
results in the error:
[code]

This is fixed by any of the following:
1. supply the instance argument explicitly: `[1] : (p : 𝕍 ⦃ I ⦄ n)  → ...`
2. add `n` as an implicit argument instead: `[1] : ∀ {n} ...`
3. i

[2021-07-01 13:01] jonsterling commented on #5238
OK it looks like I was on some pre-release version of Agda 2.6.2 somehow haha; I wiped out my Agda and installed fresh and now I get the correct behavior. Sorry for the false alarm and thanks for your help!!

[2021-07-01 13:31] UlfNorell commented on #5464
I think both generalized variables and instance resolution are red herrings here. Rather the problem is that `let open` is failing eagerly rather than postponing:

On semi-recent 2.6.2 this also fails with the same error:

[code]

[2021-07-01 13:42] UlfNorell commented on #5464
Here's a test case that shows the problem more clearly:
[code]

[2021-07-01 16:55] andreasabel commented on #5461
You currently get a _useless private_ warning when you do not define identifiers in a private block (importing does not count as defining).  Here is a particular example:
[code]
(where the `public` does not matter for the sake of the warning).

So atm this is _working as intended_.  But maybe we want to revise the language design, to avoid confusions like the OP.

[2021-07-01 21:15] jespercockx commented on #5461
I refuse to take the bait to start discussing whether or not this is working as intended (which is anyway meaningless without a specification). But I do believe that it would be more intuitive if nothing inside a `private` block could bring new names into scope that are exported.

[2021-07-02 11:42] nad commented on #5461
I agree.

[2021-07-02 17:20] asr commented on #5430
Which are the output of running `cat /etc/default/locale` and `locale -a`?

[2021-07-02 17:21] edrx opened #5465 "Compilation of Parser.y depends on the locale on Debian too"
The latest version of the Agda Manual from

https://readthedocs.org/projects/agda/downloads/pdf/latest/

mentions a certain error as something that can only happen on M$ Windows. It says:

[code]

I'm on Debian stable and I got something similar. I tried to install Agda with

[code]

and it failed with:

[code]

My default value for $LC_ALL is "C" and the only uncommented line in my /etc/locale.ge

[2021-07-03 05:21] edrx opened #5466 "The cabal-installed Agda on Debian looks for IO.agda in the wrong place"
This is a follow-up to this issue:

https://github.com/agda/agda/issues/5465

My file ~/AGDA/test1.agda has just this, plus comments:

[code]

I've tried to compile this test.agda in several ways - for example:

[code]

I always get this error:

[code]

I do have both an IO.agda and an IO.agdai here, but in a slightly different path... the first one below is the path of the existing IO.agda, and t

[2021-07-03 05:58] gallais commented on #5466
This looks suspicious as [Agda installs no such file](https://github.com/agda/agda/tree/master/src/data/lib/prim)

Did you install the standard library too? The program you're trying to compile
[specifically relies on it](https://agda.readthedocs.io/en/v2.6.2/getting-started/a-taste-of-agda.html#building-an-executable-agda-program).

[2021-07-03 06:54] edrx commented on #5466
I did that a few minutes ago, after a long debugging session on IRC (many thanks to tomsmeding!), and everything works now... sorry for the noise!

[2021-07-03 08:24] #5466 closed, assigned to nobody

[2021-07-04 00:04] andreasabel commented on #5461
Well, the thing is, the current logic is symmetric:
1. By default, we are in `public` mode and declarations made in this mode will be exported.
2. Imports via `open` are not affected by being in public mode, i.e., `open M` will _not_ export identifiers imported from `M` by default, one has to declare `public` explicitly.
3. Under `private`, we are in private mode and declaration made in this mode

[2021-07-04 13:26] MatthewDaggitt commented on #5265
I think you would have to type-check a module with the strictest version of options permissible. For example if you arrive at a module in the hierarchy and don't know whether you need to check it with `--safe` or `--unsafe`, you should check it with `--safe` by default. If you encounter an unsafe option then you don't throw an error but simply mark it as `--unsafe`.

The question then is, are ther

[2021-07-05 13:00] omelkonian opened #5467 "Unnamed instance arguments not considered for instance resolution"
In contrast to "don't care" instance arguments of the form `{{ _ : P }}`, unnamed instance arguments of the form `{{ P }}` are not considered as candidates in this case:
[code]

Is this intended? If so, the [docs](https://agda.readthedocs.io/en/v2.6.1.3/language/instance-arguments.html#instance-resolution) should be updated under 'Find candidates'.

### AGDA: 2.6.1.3

[2021-07-05 18:19] nad opened #5468 "Disallow certain forms of pattern matching when an index is erased"
The following code should not be accepted:
[code]
The (non-strict) GHC backend compiles the right-hand sides of `should-be-true` and `should-be-false` to identical pieces of code:
[code]
A simple way to fix this would be to disallow indices from being erased. Can we do better?

Related: #4784, #5448.

[2021-07-06 08:06] jespercockx commented on #5468
I hope you mean indices should not be erased when `--erased-cubical` is on, right? When it is off I don't see a problem here.

Also, I don't have a strong intuition on how `--erased-cubical` is supposed to work, but I have a feeling that the problem here might be that `[]-cong` should not be accepted? Since it is turning an erased equality proof (which does not have any computational content) into

[2021-07-06 08:22] nad commented on #5468
I suggest that we leave things like they are when the K rule is on.

This is a key lemma in the theory of `Erased`, and I don't see a problem with its proof, as given above.

[2021-07-06 18:13] UlfNorell commented on #5468
Perhaps unrelated to the issue at hand, but do we not have canonicity for cubical?
[code]

[2021-07-07 07:40] jespercockx commented on #5467
Interesting. Knowing the implementation I can see why this happens: a dependent function type (even one with an argument named `_`) brings a new variable into scope, while a non-dependent function type does not. So in the latter case there is no variable in the context for instance search to find.

https://github.com/agda/agda/blob/007a26fb5f7d9eb54db16484fb116d6e47c8cc5e/src/full/Agda/TypeCheckin

[2021-07-07 07:52] MatthewDaggitt commented on #5467
Heads up that I've also come across this recently in https://github.com/agda/agda-stdlib/pull/1538. e.g.
https://github.com/agda/agda-stdlib/blob/2c2490faea53e1e15fbf2b5ec8081bd564716717/src/Data/Nat/DivMod.agda#L74-L83

It's quite noisy to have to write `⦃ _ : NonZero ⦄` absolutely everywhere, and would be nicer to have a cleaner syntax for this

[2021-07-07 08:45] gallais commented on #5467
We have many non-dependent specialised versions of more general higher order
combinators in the standard library because the non-dependent version leads
to better reconstruction of the implicit arguments via unification.

I don't think it's that big of a deal that you need to name an argument for
it to be available in the codomain. If the worry is consistency then I'd
advocate going in the other d

[2021-07-07 09:24] omelkonian commented on #5467
IMO it would be annoying to have to find a meaningful name for these instance arguments, although 99% of the time you are not actually using it to the right of the arrow (that's why they are instance arguments anyway!). It's funny that dependencies involving implicit arguments is syntactically explicit, while ones that involve instance arguments are implicit :P.

Would it be possible to statically

[2021-07-07 09:57] jespercockx commented on #5467
There is a difference between using an instance argument in the *type* and using it in the *body* of the function. For the latter, both versions of instance arguments are considered by instance search. So it is only if you want the *type* of the function to depend on the instance argument, that you need to write `{{_ : A}}` instead of `{{A}}`. I'm not sure, but it feels to me that this would not a

[2021-07-07 10:54] nad commented on #5468
Cubical Agda does not yet have proper support for inductive families (#3733).

[2021-07-07 16:10] jespercockx opened #5469 "`onlyReduceDefs` should not prevent evaluation of macros"
Consider the following example code:
[code]
The `TC` action `make2 hole` unifies the hole with the normalization of `1 + 1`, and in the macro `tester` this is called inside `onlyReduceDefs (quote _+_ ∷ [])`. I would thus expect calling this macro would produce the term `2`. However, we get an error instead:
[code]
What I think is happening is that the call to `onlyReduceDefs` prevents the call to

[2021-07-08 02:27] HarrisonGrodin opened #5470 "Internal error when using `REWRITE` in `private` block"
After moving a local `module Foo` to a new file `Data/Nat/Foo.agda`, I encountered the following error message:

The new file typechecks on its own, but when I add `open import Data.Nat.Foo` to my existing file, the given error is produced.

(I'm using `--rewriting` in both files - not sure if that's relevant.)

[2021-07-08 02:55] HarrisonGrodin commented on #5470
Aha - got a MWE! Looks like it has to do with defining `REWRITE`s under a `private` block, and then using the rewrite in conjunction with another function.

[code]

[code]

`Bar.agda` is fine, but loading `Example.agda` produces the error. (In the short term, I can solve the issue by moving the rewrite out of a `private` block.)

[2021-07-08 02:57] HarrisonGrodin commented on #5470
(Possible that #5451 is related.)

[2021-07-08 05:16] MatthewDaggitt commented on #5467
I think it might be used more than you think! See https://github.com/agda/agda-stdlib/blob/2c2490faea53e1e15fbf2b5ec8081bd564716717/src/Data/Nat/DivMod.agda#L74-L83 for an example where I'm proposing to have a lot of types which depend on the instance argument.

[2021-07-08 06:55] UlfNorell commented on #5467
I think the status quo is the most sensible. Not having to write `{{_ : A}}` would of course be convenient, but at the price of introducing an ad hoc exception to the type language.

The fact that the `_` is available for instance search is quite natural; instance search uses unnamed variables all the time. I think the only confusion is that there isn't a mechanism by which naming a variable `_` e

[2021-07-09 13:29] andreasabel commented on #4729
@asr: I think I grepped in `*.yml`, but `lint.yaml` does fall out of this pattern, so I missed it.

[2021-07-09 22:16] ajrouvoet opened #5471 "LaTeX backend: italics correction"
The LaTeX backend has an issue with the italics used for bound variables. Usually, if one switches from an italic to a upright font, one has to take care that an italics correction (`\/` is the TeX command) is inserted to prevent overlapping characters. The LaTeX macro `\textit{..}` does this automatically.
It seems however that despite agda.sty using `\textit`, the correction is often not correct

[2021-07-11 13:23] Saizan commented on #5468
The naive desugaring of `Box` which the bad example seems to rely on would indeed not be allowed by our rules.
[code]

A more appropriate desugaring for erased indexes might be to consider the equality erased as well
[code]
This is accepted as a definition, but `unbox : {@0 A} -> BoxD A -> A` cannot be written anymore, unless marked `@0`.

Also `subst (λ ([ A ]) → BoxD A) ([]-cong not) ([ true ] r

[2021-07-12 10:11] andreasabel commented on #5449
Agda 2.6.2 is in LTS 18.2 and currently nightly: https://www.stackage.org/lts-18.2/package/Agda-2.6.2

[2021-07-12 10:11] #5449 closed, assigned to nobody

[2021-07-13 15:52] andreasabel commented on #5470
Thanks for the small example.
Here is a version without the standard library:

[code]

[code]

That's what I call a MWE! ;-)
(Well, I am sure this isn't yet minimal...)

[2021-07-13 16:18] andreasabel commented on #5470
The problem is that `instantiateRewriteRule` calls `freeVarsToApply` which calls `getConstInfo`, expecting the `QName` to be in scope:
https://github.com/agda/agda/blob/ef433beed7f4c22e1bff02b9a09afa2ff2cd90ac/src/full/Agda/TypeChecking/Monad/Signature.hs#L1100-L1106

I wonder whether this is the golden way to instantiate a rewrite rule, given that rewrite rules live in their own structure in the

[2021-07-13 16:19] andreasabel commented on #5471
Can this be handled on the level of `agda.sty`?

[2021-07-13 17:45] #5453 closed, assigned to andreasabel

[2021-07-13 17:45] #5454 closed, assigned to andreasabel

[2021-07-14 05:39] ajrouvoet commented on #5471
I'm unsure why it happens at all. My feeling is that it is because of the nesting of different style commands, but I've tried modifying agda.sty in different ways and couldn't make it work yet.

[2021-07-14 07:24] jespercockx commented on #5470
`freeVarsToApply` is just the current value of the module parameters for a given definition, right? I don't see why we should duplicate this information just because rewrite rules happen to live in a different part of the signature. Perhaps we could instead just forbid private rewrite rules until https://github.com/agda/agda/issues/2335 is implemented?

[2021-07-14 08:15] andreasabel commented on #5470
For a `QName` imported from another file, `freeVarsToApply` should be `0`.  But isn't it more generally, that if a `QName` is not in scope because it is private, it is not in a child module of its defining module, so there are no free vars to apply?

Setting `freeVarsToApply` to 0 for not-in-scope rewrite rules would then fix this problem.  (Rewrite rules are never private then for the sake of sub

[2021-07-14 08:48] andreasabel commented on #5471
MWE:
[code]

[2021-07-14 08:51] andreasabel opened #5473 "agda.sty has no version"
Like any package, `agda.sty` shipped with Agda should contain a version information and print it during TeXing.

[2021-07-14 09:11] andreasabel commented on #5471
A workaround in case of the MWE is:
[code]

The automatic italics correction `\/` tries to analyse when to insert the space but fails if `\textcolor` is wrapped around the italic text:
[code]
[Issue5471.pdf](https://github.com/agda/agda/files/6814902/Issue5471.pdf)

It seems like swapping the wrappers for color and style would do the job, but there could be collateral damage.  Not sure how to test

[2021-07-14 09:33] ajrouvoet commented on #5471
From a quick glance over a draft it appears that swapping the style and color indeed does the job :+1: This surprises me, because I thought only face modifiers would affect the italics insertion.

Note that several of the classes are affected (at least AgdaGeneralizable, and AgdaArgument).

[2021-07-14 09:35] andreasabel commented on #5471
Then let's believe (as long as we can) that miracles can still happen... ;-)

[2021-07-14 10:12] andreasabel commented on #5471
@ajrouvoet If you have a PR, let me know, I am currently side tracked by other issues.  Otherwise, I will return to make a PR later.

[2021-07-14 11:14] #5452 closed, assigned to knrafto

[2021-07-14 11:17] #5440 closed, assigned to nobody

[2021-07-14 11:19] #5433 closed, assigned to andreasabel

[2021-07-14 11:20] #5470 closed, assigned to andreasabel

[2021-07-14 12:28] #5473 closed, assigned to andreasabel

[2021-07-14 12:44] andreasabel commented on #5471
Ok, I get to it now...

[2021-07-14 14:30] ajrouvoet commented on #5471
Thanks @andreasabel for the fix; this will improve a lot of future Agda papers :)

I'll compile my drafts and thesis with this agda.sty for testing.

[2021-07-14 14:49] #5471 closed, assigned to andreasabel

[2021-07-14 16:30] andreasabel commented on #5467
At first sight it is surprising that `{{P}} -> A` should be different from `{{_ : P}} -> A`, but we can verbalize the first as non-dependent functions space and the second as _potentially dependent function space where I do not mention the name of the argument because I can live without giving it a name_.

[2021-07-14 18:02] gallais commented on #3717
With @Ohad we have discovered that in Idris you can write essentially:

[code]

and the coverage checker is happy. It's still not ideal but at least you only
have to write the last "impossible catchall". In Agda this is not seen as total
and we get

[code]

even though the implicit proofs forced in the first cases should normalise to these.

[2021-07-14 18:29] andreasabel commented on #5465
The problem is upstream: https://github.com/simonmar/happy/issues/157.

[2021-07-15 01:08] MatthewDaggitt commented on #5467
Okay, so it sounds like the consensus is that the distinction _is_ useful. The next question is how can we stop the user from shooting themselves in the foot with this feature. I've spent at least 20 frustrating minutes trying to work out why the following:
[code]
gives me a "No instance available" error message and I'm sure I'm not the only one. Documenting it would obviously help, but is there s

[2021-07-15 01:17] MatthewDaggitt commented on #5467
Actually on second thoughts, you wouldn't even need to retry instance resolution. You could simply detect the presence of non-dependent instance arguments and add a `possible fix: change {{NonZero n}} to {{_ : NonZero n}}` line to the error message?

[2021-07-15 08:26] jespercockx commented on #5467
How specific would you want this warning to be? Would it be fine if it mentioned all the unnamed instance arguments that are currently "in scope" or would you only want those that would actually make the instance resolve?

[2021-07-15 08:30] MatthewDaggitt commented on #5467
I mean in an ideal world the latter, but I think the former would do the job fine :+1:  Upon failure warn the user "Perhaps you meant to name one of the instance arguments X,Y,Z? Unnamed instance arguments are not considered in instance resolution in types." I think that would have been more than enough for me to have worked out what the problem was.

[2021-07-15 08:42] jespercockx commented on #5467
Right, I was just thinking about it and one problem might be that we currently do not store anything in the context for unnamed instance arguments while checking the codomain. So we might have to change that to generate the list of suggestions. But that shouldn't be impossible.

[2021-07-15 08:54] MatthewDaggitt commented on #5467
I guess a minimal implementation wouldn't even have to store the instance arguments at all, only a flag that there *were* unnamed instance arguments in the context, and that could be used to create a still reasonably informative error message.

[2021-07-15 13:23] mr-ohman opened #5478 "Open goal inside record causes internal error (eta-contraction)"
The following code produces an internal error:
[code]
[code]
If the goal of `bR1` is replaced with `record {}` then the code type checks. This error occurred with Agda versions 2.6.2 and master branch at commit 23e07c0389182121332ca89b92390497aa95504e.

[2021-07-16 05:56] andreasabel commented on #5465
In `head.hackage` this is fixed by simply avoiding unicode characters in `Parser.y`:
https://gitlab.haskell.org/ghc/head.hackage/-/commit/6d0a6c46777414b3f85c59f7c2525bb07348b3ae

[2021-07-17 12:30] andreasabel commented on #5478
The error already occurs with
[code]

[2021-07-17 15:09] andreasabel commented on #5478
Bisection says: 56c804c51a22de785c6465a66564f4b363e99118 is the first bad commit.
[code]
(Patch comprises _14 changed files with 380 additions and 97 deletions_ - sigh...)
Ping @fredrikNordvallForsberg @gallais .

UPDATE: This patch isn't the problem, maybe it exposed the problem, or it is a false alarm.

[2021-07-17 18:39] #5465 closed, assigned to andreasabel

[2021-07-18 13:21] andreasabel commented on #5478
It seems like the crashing eta-reduction happens during this `instantiateFull`: https://github.com/agda/agda/blob/8e4a198399a0455ff121a224021de043ea6313d3/src/full/Agda/TypeChecking/Rules/Def.hs#L342
It is called on `foo r = _1 r` and I supposed `_1 := record{}` so we end up with the ill-formed `record{} r`.
I suppose when the meta is created during computing the type of the constructor (hello #43

[2021-07-18 13:35] andreasabel commented on #5478
I suppose the heuristics here:
https://github.com/agda/agda/blob/8e4a198399a0455ff121a224021de043ea6313d3/src/full/Agda/TypeChecking/MetaVars.hs#L365-L375
blows up in this case.  We need to use a meta-variable created in one context (without the `r` variable) in an extended extension (with the `r` variable)?  Is this something we can do with checkpoints @jespercockx @UlfNorell ?

[2021-07-19 03:30] L-TChen opened #5480 "`Makefile` fails to retrieve `ghc` version when `stack.yaml` is present"
The `Makefile` uses the 3-argument version of `awk` function `match` to retrieve the ghc version as follows

[code]

However, the default `awk` on macOS is POSIX-compliant and does not support this function and every `make` command emits an error message:

[code]

[2021-07-19 06:59] gallais commented on #4250
This suggests it's the version installed by the package manager that gets used.
Have you uninstalled it before trying cabal or stack? If you type `which agda`
in a terminal it should tell you which one it's picking up. This way you can
make sure you're not repeatedly trying the same one despite different installs.

[2021-07-19 18:14] ionathanch opened #5481 "Pattern-matching on records in Prop allows eliminating into Set"
Defining the accessibility predicate as an inductive record in Prop with pattern matching allows me to eliminate it to things in Set:
(I've specialized to order on naturals for convenience)

[code]

Replacing the record definition with the data definition yields the usual "`Cannot split on datatype in Prop unless target is in Prop`" error for `AccRect`.
The example is from §2.3 of the Definitional

[2021-07-19 20:01] jespercockx commented on #5481
Yes indeed, induction on `Prop`-valued arguments should not count as structurally recursive in the termination checker. Thanks for reporting!

[2021-07-20 06:45] jespercockx commented on #5481
Actually I was a bit too quick adding the `false` flag. This does not break consistency, only strong normalization.

[2021-07-20 14:12] andreasabel commented on #5480
I suppose I am responsible...

[2021-07-20 17:31] L-TChen opened #5484 "Support user-defined implicit prelude?"
It is a feature request about adding the support for user-defined implicit prelude via the existing library management mechanism. The reason is obvious, and it is particularly useful when the option `--no-import-sorts` is specified in a `.agda-lib`.

It should suffice to have a new field called `prelude` so that modules listed in `prelude` are loaded by default for every module.

(I may try to imp

[2021-07-21 05:36] #5480 closed, assigned to andreasabel

[2021-07-21 05:39] andreasabel commented on #5480
Replace `awk`-use with `sed`:
[code]

[2021-07-21 05:42] andreasabel commented on #5484
That would mean the user-defined prelude has to reside outside the project (otherwise it would try to load itself).  My user-defined preludes are usually _part of_ the project.

[2021-07-21 10:36] andreasabel commented on #5463
Similar: #5478, #2257

[2021-07-21 13:57] L-TChen commented on #5484
Good point. I didn't think very carefully. My user-defined preludes are also often part of the project.

So we need to specify a *directory* or *directories* in a field, say `prelude-directories`, to indicate preludes should not be loaded for modules under those directories. Of course, the modules specified by `prelude` should not load preludes.

Or maybe we can support a multiple-library project

[2021-07-21 14:05] jespercockx commented on #5484
I think it would make more sense in that case to just have two separate libraries (with separate .agda-lib files). We could then provide an option to import in each module of a library a specific (set of) modules from another library by default.

[2021-07-21 14:14] L-TChen commented on #5484
It sounds reasonable to me, although I'd like to have a local configuration so that I don't have to add another library to the global configuration.

[2021-07-21 14:50] andreasabel commented on #5484
I often define a module `Library.agda` which imports needed bits from the standard library and maybe defines some more functions absent from the standard library.  Then I `open import Library` in all the project modules, and I didn't find it such a nuisance to repeat this line in every module.
I thought in Haskell the trend is to move away from an implicit prelude...
A standard prelude is mostly g

[2021-07-22 18:15] andreasabel commented on #5463
After #5483 the error is now:
[code]

[2021-07-22 18:28] andreasabel commented on #5478
While #5483 fixed my shrunk MWE, the OP still produces an internal error (but a new one):
[code]
[code]
It seems that on the first pass, Agda did not insert the hidden binding `{a}`, but on the second pass.

[2021-07-23 05:48] L-TChen commented on #5484
You have me convinced that an implicit prelude might be a bad idea. I am closing this issue.

[2021-07-23 05:48] #5484 closed, assigned to nobody

[2021-07-25 16:23] edrx opened #5486 "agda --compile hello-world.agda: how do I install ieee754 with stack?"
Hi all, beginner question here...

I am trying to prepare a script that deletes everything that was installed by Cabal and Stack and reinstalls everything again, where this "everything" that I install (again) is just what is needed for the first sections of PLFA and of the Agda User Manual. PLFA recommends using Stack instead of Cabal, so I'm trying to use Stack this time. Running "agda -v 2 hello

[2021-07-26 03:13] MatthewDaggitt opened #5487 "Improve interactions between generalised variables and injectivity analysis"
In the following code below the type of `A` in the `(x : A)` parameter in `singleton2` is not inferred correctly :
[code]
From discussion on Zulip:

**Jesper Cockx**

**gallais**

**Jesper Cockx**

[2021-07-26 03:42] MatthewDaggitt commented on #5487
I should add that this issue is blocking the introduction of the emulation of syntactic sugar for list types in the standard library: https://github.com/agda/agda-stdlib/pull/1499

[2021-07-26 08:30] #5478 closed, assigned to andreasabel

[2021-07-26 15:27] edrx commented on #5486
I was able to solve the problem with the help of 1) "--ghc-dont-call-ghc" and 2) people at the @haskell IRC channel. My hello world program is called test1.agda, and if I run

[code]

I get this output:

[code]

If I run just

[code]

I get the same errors, but in a context that is more familiar to Haskell users, and if I run this, with the "stack exec --" in the beginning,

[code]

then the compi

[2021-07-27 11:36] isti115 opened #5488 "Parameter order breaks eta reduction with Prop"
While writing a formalization I have encountered a weird issue with not being able to eta reduce a definition.
I have managed to iteratively extract the critical part from the huge context and I arrived at the following minimal example:

As you can see, eta reduction does not work with my original list of parameters, but I have discovered that the reduced variation is accepted if I reorder them. I

[2021-07-27 11:51] jespercockx commented on #5488
Eta-reduction here is actually not valid because of the implicit arguments that are inserted. Making them explicit, your definition of `bar` is as follows:
[code]
while the fully explicit definition of `bar'` is as follows:
[code]
In other words, by changing the position of the implicit arguments Agda got the chance to insert the right implicit argument to `foo'`, while this was not possible in th

[2021-07-27 11:51] #5488 closed, assigned to nobody

[2021-07-27 13:41] isti115 commented on #5488
Oh, I see, so if I understand it correctly, the issue is esentially due to the fact that partial application is only possible for arguments in the beginning of the parameter list and cannot be done by name. (Which as a wild guess might be a limitation due to dependent typing, since the type of latter parameters sometimes aren't even fixed until all the former ones are known?)
Thank you very much f

[2021-07-28 16:49] #5463 closed, assigned to andreasabel

[2021-07-28 16:51] andreasabel commented on #5463
Seems like this was fixed by my work on #5478.

[2021-07-29 09:59] andreasabel commented on #5451
Thanks for reporting!
However, without an MWE, there is nothing we can do about this.
Please reopen with some code that reproduces the bug.

[2021-07-29 09:59] #5451 closed, assigned to nobody

[2021-07-29 10:41] andreasabel commented on #5458
Shrank this to:
[code]

[2021-07-29 11:25] andreasabel opened #5489 "C-c C-x C-a (abort) does not communicate well"
After `C-c C-x C-a`, the `*Agda information*` buffer still says `Checking Foo`, rather than telling me that checking has been aborted.

[2021-07-29 11:52] andreasabel opened #5490 "Why does abort (C-c C-x C-a) remove highlighting from the buffer?"
Why does abort (C-c C-x C-a) remove highlighting from the buffer?

Maybe it shouldn't, as one could still want to jump-to-definition.

[2021-07-29 12:01] andreasabel commented on #5458
With some more debug printing, it seems like I can tie down the problem to the normalization of `mkProb 0.2`:
[code]

[2021-07-29 12:24] andreasabel commented on #5458
In the end, I think there is no bug, it is just improper use of floats.
The user code converts floats via Word to unary natural numbers and then compares them.
Considering that `primFloatToWord64 0.2 = 4596373779694328218`, it is not unimaginable that compile-time comparison of unary numbers of that size takes a while, even with fast-reduce.

That will be 300 EUR, thanks!

[2021-07-29 12:24] #5458 closed, assigned to andreasabel

[2021-07-29 13:09] andreasabel commented on #5462
Looks like there is a misalignment between the arguments of the rewrite rule and their types:
[code]

[2021-07-29 13:48] andreasabel commented on #5462
The reason is that the code for building the rewrite rule doesn't handle projection-like functions (such as `_≀₁_`) correctly.  So the immediate workaround is to add
[code]
to switch this optimization off.

[2021-07-29 16:28] mr-ohman opened #5492 "Instance dependent definition before instance field in record causes internal error"
The following code causes an internal error to occur in version 2.6.2 and Agda at commit e75750a55d8c45132f772eea341c7541f4989f04.
[code]
[code]
The error still remains if the type of `r2A` is changed to `R2 _`, however letting `r2A` have the type `R2 B` for some `B : Set` in `R3` makes the internal error go away. My guess is that `r1A` is somehow available for instance resolution in `r2A` in one

[2021-07-29 17:51] andreasabel commented on #5492
I suppose your hunch is correct, turning on debug printing gives this:
[code]
Hello #434, good to see you again!

[2021-07-29 17:55] andreasabel commented on #5492
This works with Agda 2.5.4 and 2.6.0, fails with 2.6.1.

[2021-07-29 20:11] andreasabel commented on #5492
Bisection says that b3aec6fa44a5ef077c30e563208c2274ef39e4d4 is the first bad commit.
Looking at that commit, it seems that it surfaces the problem rather than creating it...

[2021-07-29 20:40] andreasabel commented on #5492
If I replace the internal error by a `patternViolation` exception, we get an unsolved instance constraint:
[code]
This may be better to work with.

I do not really understand how this commit can be introducing the internal error.  It is raised in `modalityOfConst`, but before the commit `relOfConst` should have raised it as well...

[2021-07-31 01:51] MatthewDaggitt opened #5494 "Assume injectivity of functions during irrelevant instance search"
Been doing a deep dive into the world of instance arguments lately in the attempt to work out how to use them better in the standard library. Came across the following example using Agda 2.6.2:
[code]
where instance search is getting stuck on finding the instance `P (f m n)`. In particular I'm getting the error:
[code]
I don't quite understand why Agda is failing to solve this constraint. It looks

[2021-07-31 15:38] MatthewDaggitt commented on #5494
Okay, so it's not the `with` as I've managed to shrink it further:
[code]
with the error
[code]

[2021-07-31 15:44] JacquesCarette opened #5495 "Documenting Agda anti-patterns 1: equational proofs in records"
[This could be considered to be a bug, but in the meantime, we should warn people.]

As discussed on Zulip [General -> *Very* long checking times for equational proofs], putting equational proofs inline to a record is currently a kind of anti-pattern that causes both long typechecking time, *and* causes explosions in compilation size -- doing this in `Categories.Category.Cartesian` cut down a gene

[2021-07-31 16:20] JacquesCarette opened #5496 "Agda anti-patterns: convenience modules and open public"
Related to issue #5495.

`Categories.Category.Cartesian` was still producing too-large compiled files (both `.agdai` and `.hs`). The following change fixed that. The original:
[code]
New:
[code]
(this may still evolve). That cut things down further, from 5M `.hs` down to 2M.

What is going on here is that `BinaryProducts` is a very very large record. It contains a bunch of fields (reasonable numbe

[2021-07-31 17:37] gallais commented on #5494
Isn't this the usual unification issue when you're trying to reconstruct
the arguments of a function rather than a (type or data) constructors?

[code]

`f` is not injective so you can't solve by instantiating `?n := n` when
considering a constraint `f ?n ~ f n`.

[2021-08-01 03:32] MatthewDaggitt commented on #5494
Thanks @gallais, that definitely helped me make sense of Agda's current behaviour! Okay, so it definitely makes sense if you're  doing _relevant_ instance search as yes, in second example above you could instance the `?n` with any natural number. So there would be multiple valid instances.

However, `g` is purposefully looking for an _irrelevant_ instance. In such a case, I don't care which instan

[2021-08-01 13:38] JacquesCarette opened #5497 "Compilation size extremes"
While investigating https://github.com/agda/agda-categories/issues/215, I decided to check out the extremes. Results:
[code]

That outlier is quite something, isn't it? As far as I can tell, it's all due to loss of sharing!  Is using `let` another Agda anti-pattern? Using `let` is normally a functional programming **pattern**...

[2021-08-02 13:15] laMudri opened #5498 "Solvable implicit not solved"
Example file: https://github.com/laMudri/generic-lr/blob/hash-bug/src/Generic/Linear/Example/HashBug.agda. This behaviour occurs with Agda version 2.6.2, and also occurred with the previous version. I have minimised this file, but not any of its dependencies. I can minimise the dependencies on request, but it might take some effort.

## Background

I have a type [`LTree`](https://github.com/laMudr

[2021-08-03 14:15] JacquesCarette opened #5499 "Feature request: aliases (or 'light' modules)"
Context: the 'feature' that all records in Agda can be used as modules too is *incredibly convenient*. However, its implementation has serious implications (i.e. because it's done via copying, AFAIK, this increases `.agdai` size quite a bit, and also increases typechecking time quite a lot, because even though it's guaranteed correct, it's checked again). The size issue can be somewhat mitigated b

[2021-08-03 16:25] UlfNorell commented on #5499
Some clarification:

Given
[code]
when you write
[code]
this turns into a new definition
[code]
The only thing that gets copied is the type, and there is no rechecking of anything.

A possibly cheap way to avoid the copying of the type would be to introduce a redirection in `defType` here:
https://github.com/agda/agda/blob/1f7932e3efb26a8ba58528e7e652c77780ee8108/src/full/Agda/TypeChecking/Monad/B

[2021-08-05 17:30] L-TChen commented on #5399
What is the current status of this issue? There was a code sprint but I do not see any progress.

@Zekt and I are working on reflection on datatypes, and I'd like to make sure that changes in the syntax are compatible with future extensions like this. We are planning to extend `unquoteDecl` with an optional keyword to indicate what kind of declaration is being unquoted. The following could be a po

[2021-08-05 17:45] L-TChen opened #5500 "`make install-bin` should always add a version suffix"
First, it seems that `make install-bin` is used mainly for development purposes. Second, the development version of Agda should not replace the stable version. So, very often some people use the `cabal` option `--program-suffix` to have a different version of Agda. Unfortunately `stack` does not support this option and the developer of `stack` was not keen to have this option (see https://github.c

[2021-08-05 19:02] arthuraa opened #5501 "Flat pattern matching and expressions on indices"
Consider the following snippet:

[code]

If I try to load this in Agda, I get an error:

[code]

Is this a spurious error, or is there a reason behind it? If I replace the expression `n + n` with `n`, the error goes away. On the other hand, if I add other flat declarations in the definition of `Bar` (e.g., when declaring `n`), the error does not go away.

[2021-08-05 20:55] laMudri commented on #5399
There was no progress during AIM, as I was busy with other things.

The proposal looks good to me. I imagine that if this issue ever gets acted upon, then the syntax `unquoteDecl module <ModuleName> = <macro>` (without the `where` clause) will be used to allow programmatic generation of member names.

[2021-08-06 10:55] andreasabel commented on #5399
Two comments:
- We should make up our mind whether we use dash-style keywords or CaMl-case.  It seems that recent keywords have been added in dash-style, so I'd prefer `unquote-decl`.
- In `unquoteDecl data v where x y z = foo` the `x y z = foo` looks like the definition of a function `x` with two arguments `y` and `z`.  An alternative is the syntax with a colon instead of the equal sign:
[code]
O

[2021-08-06 11:02] andreasabel commented on #5500
I am not opposed to that, although, as a developer, I will always use the latest version of Agda that I built, and I am fine with it being simply `agda`.

This is a bit problematic because many versions will pile up in `.cabal/` and take my precious hard drive space.  This should come with an automatic solution to garbage-collect old development versions of agda.

[2021-08-06 11:08] andreasabel commented on #5501
The reason is the one stated:  Agda cannot find an `n` such that `n + n` is `n_1`.  (And I couldn't either...)

The advice is confine yourself to _patterns_ in indices, and `n + n` is not a pattern because `+` is not a constructor but a defined function.  The standard workaround is to use equality (writing `==` for the triple-dash):
[code]

[2021-08-06 11:14] andreasabel commented on #5497
`where` is preferable where possible, as it generates a local binding, whereas `let` generates a substitution (which is not an explicit substitution).

[2021-08-06 11:26] andreasabel commented on #5495
Yes!

There could be a top-level section (say _User guide_ or _Real world Agda_) with advice on best practices.  One there could be subsections detailing anti-patterns (like `let` or `where`).

Anti-patterns due to efficiency issues should be labeled with the Agda version that exhibits the bad behavior (so atm 2.6.2).  This helps with aging of the documentation: it could be that later versions do

[2021-08-06 13:47] L-TChen commented on #5500
Thanks. I think I will go with adding a version suffix only.

The stable version is always the version I used to communicate with my collaborators, students, or colleagues; the experimental version is of course for experiments. ;-)

[2021-08-06 16:31] L-TChen commented on #5399
I am fine with `unquote-decl` but it would be a breaking change, though.

[2021-08-06 22:26] andreasabel commented on #5399
I thought your forms are anyway new syntax, so there wouldn't be any breakage.

[2021-08-07 00:39] L-TChen commented on #5399
`unquoteDecl` is already part of syntax used to bring generated functions into scope. Other constructs like `unquoteDef` and `quoteTerm` are also part of Agda already.

[2021-08-07 06:39] andreasabel commented on #5399
Well, yeah, I suppose we need to have a deprecation process for the caml-case keywords.  Does not necessarily have to be coupled with your PR, so be free to stick to the old keywords if you think this is better.

[2021-08-09 01:00] arthuraa commented on #5501
Thanks for the explanation! I think that using an explicit equality might work for me.

However, I still don't see what the issue is. I understand that Agda can run into problems when arbitrary expressions occur as indices of a data type. But here there also seems to be a strange interaction between the indices and the flat modality. E.g., the following modified snippet works even though the const

[2021-08-09 07:17] andreasabel commented on #5501
A sorry, my explanation was off.
The error seems to be triggered by a modality mismatch in the unifier, but I do not know the flat modality off the top of my head, so maybe someone else can explain this better, e.g. @Saizan.  In any case the error message could be better.

[2021-08-09 07:21] #5489 closed, assigned to andreasabel

[2021-08-09 07:21] #5490 closed, assigned to andreasabel

[2021-08-10 12:39] ajrouvoet opened #5504 "LaTeX backend does not use the \AgdaPragma command."
LaTeX backend does not use the \AgdaPragma command.
Instead it outputs \AgdaKeyword for pragmas in the source.

MWE:

[code]

![image](https://user-images.githubusercontent.com/475738/128868321-779965b2-c61d-44b4-b62d-7af8a5160201.png)

[2021-08-10 15:18] L-TChen opened #5505 "Make the location information parametric"
As I am extending the syntax on metaprogramming, I found there is a lot of boilerplate code about `Range` such as, `killRange1`, `killRange2`, .., and `killRange19` which can be eliminated if `Range` is abstracted away. For example,

Instead of
[code]
we define
[code]
Note that `Pragma` is an instance of `Functor`, so the instance `KillRange (Pragma Range)` becomes just one line code
[code]
instea

[2021-08-10 20:19] alexarice opened #5506 "Agda panic: Pattern match failure"
I seem to have managed to trigger a panic in the Agda codebase. I've reduced it down to this code:

[code]

Which gives the following error with agda version 2.6.2:
[code]

Inlining the call to `extend pdb` in the constructor type seems to fix the issue, though I'm guessing it is not ideal that agda is doing this.

[2021-08-11 08:26] Saizan commented on #5501
The main reason we have restrictions on when `@flat` variables can be refined by pattern matching is that local equalities do not generally imply global equalities.

I.e. there are models where `(P : @flat A -> Set) (@flat x  y : A) -> x == y -> P x -> P y` would be unsound, as `x == y` is only talking about x and y being equal as element of A in the default modality, i.e. locally, but not as elem

[2021-08-11 16:38] arthuraa commented on #5501
Yes, I am aware that rewriting without the modality would be unsound in some cases (including my own application!). This is why I tried eliminating `Bar` with the modality.

(BTW, is `@0` just an alternative syntax for the flat modality?)

I don't know if this is quite what you meant by your comment, but having special support for types satisfying `@0 T = T` would be nice.

My use case is to model

[2021-08-12 07:07] Saizan commented on #5501
Ah, I have also seen https://github.com/uelis/contextual in that direction, in case you haven't.

Spatial type theory also seems to validate the kind of transports we are talking about, so I'll promote(?) this to a bug.

[2021-08-12 07:09] Saizan commented on #5501
Btw, no, `@0` is notation for the erasure modality instead, it was a typo in my previous message, I edited it now to `@flat`.

[2021-08-12 16:34] arthuraa commented on #5501
@Saizan No, I was not aware of this work. Thanks for pointing it out!

[2021-08-12 19:09] james-smith-69781 opened #5508 "Internal error typechecking non-terminating function on case-insensitive filesystem"
Working through the tutorial at http://www.cse.chalmers.se/~ulfn/papers/afp08/tutorial.pdf , I wanted to see the error given by 'fold'. Here is the somewhat-minimized code:

[code]

`An internal error has occurred. Please report this as a bug.
Location of the error: __IMPOSSIBLE__, called at src/full/Agda/TypeChecking/Errors.hs:296:\
18 in Agd-2.6.2-d8dfa68e:Agda.TypeChecking.Errors`

Agda install

[2021-08-12 20:50] gallais commented on #5508
Strange, I can't reproduce this in either 2.6.1.3 or 2.6.2

I can't find this Agda commit in the git history. :raised_eyebrow:

Edit: I have just compiled & installed HEAD and I'm not able to reproduce the internal error either.

[2021-08-13 05:25] james-smith-69781 commented on #5508
Is there additional info I could share that would be useful?

I updated to Homebrew's HEAD version of Agda and it still reproes for me:

[code]

[2021-08-13 10:27] andreasabel commented on #5508
I cannot reproduce this with any of 2.6.1, 2.6.2, or 2.6.3 (dev version).

[2021-08-13 10:50] andreasabel commented on #5504
I thought this is intentional.  These are actually keywords according to the lexer, see https://github.com/agda/agda/blob/8aec1e6d655c082de3a3239f528015760862fd2f/src/full/Agda/Syntax/Parser/Tokens.hs#L22-L30
I like the status-quo.

[2021-08-13 10:55] andreasabel commented on #5506
This is a bug in the forcing optimization, you can work around it with `{-# OPTIONS --no-forcing #-}`.

Error location is here: https://github.com/agda/agda/blob/8aec1e6d655c082de3a3239f528015760862fd2f/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L1313

[2021-08-13 11:03] andreasabel commented on #5506
Here is a version without the standard library (probably not minimal yet):
[code]
It works in 2.6.1, so it is a regression in 2.6.2.

[2021-08-13 11:17] andreasabel commented on #5508
Actually, looking at the error location, this could be a problem with case-insensitive/ignoring file systems (wild guess).  https://github.com/agda/agda/blob/8aec1e6d655c082de3a3239f528015760862fd2f/src/full/Agda/TypeChecking/Errors.hs#L296
Is the filename exactly `Universesbug.agda` or is it a case-variant of it?

[2021-08-13 11:30] ajrouvoet commented on #5504
Thanks again for looking into these arguably small issues :)

Ah, that makes some sense from an implementation perspective, but aren't they really pragmas from a user perspective, because they are listed as such on readthedocs. Also, what is the `\AgdaPragma` used for then?

[2021-08-13 12:16] andreasabel commented on #5506
Bisection points to commit 2f212bf5568a8d408f3b3a8d3cb87a6fa6e6b3a1 by @UlfNorell

    Date:   Thu May 28 09:54:29 2020 +0200

    Add --auto-inline and make it off by default

  #4681

Likely, Agda did that before the above commit.  But this commit only brings the bug to surface, I suppose.

[2021-08-13 12:19] andreasabel commented on #5504
I think for additional text in pragmas which doesn't have other highlighting.

[2021-08-13 16:13] james-smith-69781 commented on #5508
@andreasabel

The file name _is_ `universesbug.agda` not `Universesbug.agda`. My filesystem is APFS (encrypted), which is case insensitive.

`agda universesbug.agda` reproduces the bug, while `agda Universesbug.agda` results in correct behavior.

New shrunk repro is any non-termination error in a module where the case of the module name does not match the case in the invocation of agda.

`casebug.

[2021-08-14 19:12] shlevy commented on #5097
@Saizan Interesting, can you explain why cumulativity would be needed?

[2021-08-16 08:09] jespercockx commented on #5505
So the main counterargument against this is that it removes the possibility of turning `Pragma` into a functor in some *other* way, since that's not possible in Haskell. I don't immediately see what else we would want to parametrize it by, but it's something to consider.

[2021-08-16 09:22] L-TChen commented on #5505
One can define a `newtype` for another instance just like those  `Monoid` instances in GHC. Data types that are already functors are trickier since `Bifunctor` cannot be derived directly.

[2021-08-16 15:03] Saizan commented on #5097
Mostly the problem would be type preservation.
If we have `p : PathT {ℓ₀} {ℓ₁} A B` then I suppose we can take type application to have type `p r : Type (ℓ-max ℓ₀ ℓ₁)`.

However paths should also compute on endpoints, e.g. `p i0 = A` and `p i1 = B`, but neither `A` nor `B` have type `Type (ℓ-max ℓ₀ ℓ₁)` without cumulativity.

One way to fix this would be to make the level of a `PathT` application

[2021-08-16 15:21] shlevy commented on #5097
Ah, I see, OK. That definitely complicates it

We're not looking for a path in `Level` here though right? We're not asking to say that two levels are equivalent, just that two types (in different levels) are. If we allow `≃` across universes shouldn't we also allow `≡`?

[2021-08-17 08:46] andreasabel commented on #5508
This bug is likely caused by my work on #4828 (commit https://github.com/agda/agda/commit/be5cafa4a47d5952d3bc259ba076ce042c67027b, amended by https://github.com/agda/agda/commit/0eaf4390361dce47e1200c4676d4b67c17710085, see also the repercussions it had on #4671).

[2021-08-17 13:36] andreasabel opened #5509 "Makefile: flag enable-cluster-counting is selected on Windows"
The `Makefile` intends to not select flag `enable-cluster-counting` on Windows, but fails to do so.
https://github.com/agda/agda/blob/3376fcd27edebfa90a3267cb26187f4bc6318c96/Makefile#L100-L105
I am getting:
[code]
The test seems brittle, but maybe it is sufficient to add `cygwin` for now...

[2021-08-17 13:58] andreasabel commented on #5508
I can reproduce this on a FAT32-formatted USB stick, when I call `agda` with the case-variant of the file.  (Everything works if I use the case-variant of the `module`.)

UPDATE (5 hrs later): Actually, this bug also exists on macOS, I could have saved myself many hours trying to get a dev env on Windows running...

[2021-08-17 14:48] Saizan commented on #5097
We'd be essentially looking for a path in `Level` if we wanted to make the level of a `PathT` application dependent on `r`, otherwise no.

I will close this as wontfix as I don't see a way forward which is not just `--cumulativity`.

[2021-08-17 14:49] #5097 closed, assigned to nobody

[2021-08-17 15:23] andreasabel commented on #5500
@L-TChen you overshot, imo, by also modifying the developer quick-and-dirty targets `quicker-install-bin` etc.
Can you please motivate why you also want to differentiate these throw-away products by version?  They were not in conflict with executable name `agda`.  I think this differentiation causes more friction than gain.

Also since `quicker-install-bin` does not produce `agda-quicker` anymore,

[2021-08-17 17:10] andreasabel commented on #5508
The `moduleToSource` map contains apparently the wrong `AbsolutePath`: rather than the original file name, one that has been constructed from the module name:
[code]

[2021-08-17 17:51] L-TChen commented on #5500
Ooops, I changed them for consistency. I wasn't aware that the suffix `-quicker` changes the behaviour of Agda, too. I will change this part back.

[2021-08-17 18:24] L-TChen commented on #5509
The issue in #5012 seems no longer problematic. I am not sure if we still need this conditional to avoid the flag `enable-cluster-counting`. Maybe we can have a makefile target to install `ICU` instead?

[2021-08-17 19:14] andreasabel commented on #5509
Maybe I took the comment in the Makefile too literately...  Anyway, `make v1-install` failed on cygwin for me since I hadn't ICU installed, and I thought Windows-builds should not `enable-cluster-counting`.

On cygwin, it seems one has to go through the GUI package-manager to install the ICU library, so I am not sure it could be done via make.  However, it could help on other Windows flavors...

[2021-08-17 19:42] andreasabel opened #5513 "Release 2.6.2.1"
It seems that atm we have a few bug fixes and not too many new features (only the erased-cubical compiler) on `master`, so we could cut a minor release.

- [x] move closed 2.6.3 issues to milestone 2.6.2.1
- [x] check that #5546 is included if #5522 is included
- [x] support aeson-2.0 (#5593)
- [x] support hashable-1.4 (see https://github.com/commercialhaskell/stackage/issues/6268)
- [x] support G

[2021-08-17 19:58] asr opened #5514 "Support GHC 8.10.6"
GHC 8.10.6 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-August/020101.html). I created this issue for collecting/reporting the required changes/issues.

- [x] build on macOS
- [x] compiler tests (MAlonzo) and full test-suite on macOS
- [ ] CI (yet too early: https://github.com/agda/agda/runs/3359722052?check_suite_focus=true)

[2021-08-17 20:00] asr commented on #5513
I agree. Agda 2.6.2.1 should be include the "fix" for #5514.

[2021-08-18 08:29] andreasabel commented on #5500
Thanks for changing this back in #5511.

[2021-08-18 08:29] #5500 closed, assigned to L-TChen

[2021-08-18 08:44] andreasabel commented on #5430
Duplicate of #5465.

[2021-08-18 12:10] andreasabel commented on #5508
Fixed by proactively putting the correct entry into the `ModuleToSource` map.  Thanks for reporting, @james-smith-69781 !

[2021-08-18 16:17] andreasabel commented on #5506
I shrank this to:
[code]
This version already crashes with 2.6.1 (and passes in 2.6.0), so we can restart bisection!

[2021-08-18 17:08] andreasabel commented on #5506
There is a new blamed commit: 8760d1553859430799b0e8c23c15abe470eff720 (ping @UlfNorell)
[code]

[2021-08-18 17:51] andreasabel commented on #5401
I cannot reproduce the bug neither in 2.6.2 nor the development version (with a recent standard library).
@Cloudifold, thanks for reporting.  If the bug persists for you in 2.6.2 please reopen this issue with new information.

[2021-08-18 17:51] #5401 closed, assigned to andreasabel

[2021-08-18 18:08] andreasabel opened #5519 "CI: Run at least the succeed/fail/interaction test also on Windows or macOS"
A test involving case-insensitive file system is not covered by the current CI.
This allowed a false golden value to slip in, see b30fa1af6f3b0b75c15a6ae0fd8032d37a43554f.

Suggestion: Run at least the succeed/fail/interaction tests also on Windows or macOS. (Or the whole `test.yml` workflow.)

[2021-08-18 18:13] andreasabel commented on #5398
A fix seems to be:
- wrap each non-empty comment line into its own `\AgdaComment` macro,
- output empty comment lines as such.

This is basically https://github.com/agda/agda/issues/2588#issuecomment-607802569 (@nad):

[2021-08-19 04:21] asr opened #5521 "GitHub workflows: Missing GHC 8.10.6 test"
At the moment, GHC 8.10.6 is not available in CI:
- [x] CI (yet too early: https://github.com/agda/agda/runs/3359722052?check_suite_focus=true)
- [x] https://github.com/haskell/actions/issues/69