[2019-08-24 00:11] JasonGross commented on #4032
Note that I can work around this issue by adding
[code]
*above* `fromIso-refl` (if I try to add it after, Agda tells me that it's not a valid rewrite rule because the LHS reduces to refl)

[2019-08-24 02:22] JasonGross opened #4033 "confluence checker fails to notice obviously unsolvable constraints imply non-overlap of equations"
[code]
This constraint is obviously unsolvable because `x` is a variable and is not a subterm of anything in the context `_f_66`.  The confluence checker should hence consider these equations as non-overlapping

[2019-08-24 02:44] JasonGross commented on #4033
Another example of an equation that should be considered as provably unsolvable:
[code]
where `Σ.fst` is a record projection.

[2019-08-24 04:55] JasonGross commented on #4033
Perhaps this overlaps with #3871?  If so, then I would like to be able to add the rewrite rule that is UIP for unit types, i.e.,
[code]
for some `IsUnitType` such that if I have `IsUnitType A`, then I can get that all elements of `A` are equal.  And then this rewrite rule should be enough for Agda to judge the above rules confluent.

[2019-08-24 05:00] JasonGross commented on #3795
I've also run into this problem, and would be interested in seeing it solved.  Is there a reason you can't just confluence check each rule doing reduction with all of the other rules given simultaneously with that rule?

[2019-08-24 09:31] jespercockx commented on #4033
Yes, as you guessed the problem is that the type `_A_58` might become a (eta) unit type, thus making the constraint solvable trivially. Currently the confluence check errs on the side of caution and reports possible overlap in such cases.

Having custom eta rules like the one you would propose would be very useful and is something I've thought about before. However, it's probably going to take som

[2019-08-24 09:40] jespercockx commented on #4020
This should be quite easy to fix after the work I did in https://github.com/agda/agda/commit/010fef964f2ec7dce8964764ac818a495f773da4. All that is needed is to add an extra `PSort` constructor to the pattern syntax for rewrite rules.

[2019-08-24 11:29] #4020 closed, assigned to jespercockx

[2019-08-24 14:15] EdNutting commented on #2005
@Blaisorblade + others:

What's the status of "docs in the manual"? Would you like some help?
And how well maintained is Stack support?

[2019-08-24 14:48] Blaisorblade commented on #2005
@EdNutting Sorry for dropping the ball on the docs. Stack is still used in Travis.
IIRC, what I wanted to document was why and how, to make your Agda codebase reproducible, you could just include a stack.yaml pointing to the commit you wanted, for any version with a stack.yaml. My documentation plans overshot, but probably you just need something like this in `stack.yaml` (like [here](
https://git

[2019-08-24 15:35] L-TChen commented on #2005
I am glad that you ask, and I have been using Stack to compile Agda all the time.

There is one stack configuration for each supported GHC version, e.g., `stack-8.6.5.yaml`. After renaming `stack-8.6.5.yaml` to `stack.yaml`, you can compile Agda with stack as normally you would do it. It is also fine to specify `.yaml` using the option `--stack-yaml`. The current makefile compiles with `cabal` or

[2019-08-24 19:02] JasonGross commented on #4020
Thanks!

[2019-08-24 19:52] EdNutting commented on #2005
Okay, I'm working on overhauling the installation instructions in my fork, and I'll include stack instructions at the same time.

(Overhauling = keeping what's there, adding info about stack etc, and cleaning everything up / checking things work - because honestly it's very unclear and tricky to navigate all the possible installation routes/options at the moment).

[2019-08-24 20:35] L-TChen commented on #2005
Yeah, it is clear to Haskell programmers only, I guess... at least I didn’t read anything on the user manual or Agda wiki to install. So, your work on revising installation instructions will be much appreciated.

[2019-08-26 07:59] andreasabel commented on #4025
Too late, we already have `[ci skip]`.

[2019-08-26 10:17] nad commented on #4025
I'm not fond of that one either, but I see it as less bad, because it provides possibly useful information about the commit. A command like "run the second part of the test suite even if the first part fails" is more of an ephemeral command, unlikely to provide useful information to people reading the commit message a week later.

[2019-08-26 10:38] nad opened #4034 "Include modules in abstract blocks"
The following code works:
[code]
Let's say I want to put `f` in a module. (I have a larger example with several definitions that take identically typed arguments, and I want to use a named parametrised module.) The following code does not work, because the abstract block does not include the body of `M`:
[code]
I can make the definition of `f` work by adding a second `abstract` keyword. However, t

[2019-08-26 18:27] nad commented on #1097
It seems as if do-notation is still translated to pattern-matching lambdas when regular lambdas with record patterns would work.

[2019-08-26 18:30] nad commented on #1097
I suppose that the following code should be changed:
https://github.com/agda/agda/blob/037b495bebe2e6aa6746e846cf460b67671fdb11/src/full/Agda/Syntax/DoNotation.hs#L76-L91

[2019-08-26 19:04] nad opened #4035 "Instance resolution not completed before macro is invoked"
Consider the following code:
[code]
Why isn't instance resolution completed before the macro is invoked? Is this intended?

Here is some related code:
[code]
The debug output is `Inhabited.witness _27`, but there are no unsolved meta-variables, so it seems as if Agda solves the meta-variable after invoking the macro. (Note that using `solveConstraints` does not help.)

[2019-08-26 19:43] nad opened #4036 "Inefficient normalisation"
It would be nice if the type-checker normalised applications of the first two definitions below as efficiently as for the second two applications:
[code]
For the last two definitions I get the result for 1000 more or less immediately, for the first two I have to wait for an answer when the input is 20.

[2019-08-27 06:36] UlfNorell commented on #4036
See also #426.

And there's no need for strictness:

[code]

[2019-08-27 06:44] UlfNorell commented on #4035
Yes. We leave instance constraints for last. I can't find the issue for it right now (@jespercockx?). We don't do the same for macros because there are situations where you want the macro to run early, and you can always `blockOnMeta` if you didn't.

[2019-08-27 15:10] nad commented on #3960
Do you think you will make any progress on this? Should we revert the changes that triggered this bug?

[2019-08-27 15:40] jespercockx commented on #3960
I'm rather busy with other things at the moment so I won't be able to look into this anytime soon.

When I took a look at this issue before, it was not easy to find the cause of the problem (or indeed whether Agda's former or current behaviour is correct). A smaller example would definitely help.

I would really rather not revert my patch because it is absolutely crucial for getting double-checkin

[2019-08-27 16:43] andreasabel commented on #4036
The `where` does not buy you anything here, since definitions inside `where` blocks are lambda-lifted to the top-level.
[code]
Thus, you could as well have written:
[code]
saving you one indirection.

Similar for `let`, which is substituted away immediately.

We need both a new semantics for `where` as well as for `let` to address this issue.

[2019-08-27 16:48] andreasabel commented on #4025
If we had a tag like `[ci full]`, couldn't you just ignore it when reading the commit message?

[2019-08-27 17:35] xekoukou commented on #4036
In agda-ocaml , I actually use an algorithm to detect when two expression have the same treeless representation and introduce a let statement. So , they run the same.

I would expect that haskell would perform the same on both functions , given that haskell uses call be need, ie performs memoization.

That means that the haskell backend does something to break the memoization.

[2019-08-27 18:28] nad commented on #3960
I have quite a bit of code that does not work anymore, with error messages mentioning `piSort`. I have hesitated to spend time on reporting these issues, but it sounds as if that might be useful to you.

[2019-08-27 18:42] nad commented on #4025
Would these commands mostly be used for preliminary pull requests, not for commits going to the main repository? In that case the question of aesthetics is even less important than it would otherwise be.

[2019-08-27 18:47] nad commented on #4036
Sure, this is not news, I was just adding a ticket for this.

Where is the semantics that forces us to use lambda-lifting and substitution? Does Agda have any semantics that makes it possible to reason about the compile-time or run-time cost of a program (other than those provided implicitly by the implementation)?

[2019-08-27 18:48] nad commented on #4036
This is done before the code reaches the backend, as discussed by @andreasabel above.

[2019-08-27 18:56] UlfNorell commented on #4025
What situation would you use this tag though? If it doesn't pass the stack targets is there any reason to believe it will get to the test suite?

[2019-08-27 19:02] UlfNorell commented on #4036
GHC is actually quite careful about common subexpression elimination. See for instance here for some notes https://gitlab.haskell.org/ghc/ghc/wikis/more-cse.

[2019-08-27 19:56] nad commented on #3960
Here is one example, accepted by 2.6.0.1, but not by 2.6.1-037b495:
[code]
The error message mentions `piSort`.

A variant with a different error message (still accepted by 2.6.0.1):
[code]
[code]

And yet another variant (also a regression):
[code]
[code]

I don't know if these regressions are triggered by the same commit as the first regression above.

[2019-08-27 20:04] nad commented on #3960
I have some other examples as well, but they look similar (they involve implicit function spaces).

[2019-08-27 20:28] nad commented on #3960
All of them seem to be triggered by the same commit.

[2019-08-27 20:32] xekoukou commented on #4036
I actually had to deal with this problem too (and think that I solved it.) :

[2019-08-27 20:39] nad commented on #3960
Here is a slightly shorter example:
[code]
[code]

[2019-08-27 21:03] Boarders opened #4037 "Parse error when something is not imported"
In the following code block:
[code]
when I split on p I get:
[code]
along with the error message:
[code]
This is a result of Relation.Nullary not being in scope. I think this error message for a parse error generated by a case split is not ideal and it would be better if it were able to say that the module is not in scope.

[2019-08-28 01:14] JasonGross opened #4038 "Rewriting sometimes fails to rewrite in the presence of unsolved metas"
The fact that `C-c C-n` does not fully normalize in the presence of unsolved metas results in extremely frustrating and confusing debugging sessions where things will sometimes magically start working when I fill in enough arguments, but when I use shorthand and `_`s, Agda will seemingly not recognize that I asked it to rewrite.

Consider the following code:
[code]
Both terms in the holes normaliz

[2019-08-28 01:17] JasonGross commented on #4038
Also, I have occasionally gotten heisenbugs where the first time I ask Agda to normalize a term, it'll complain that the term is ill-typed because `rv != lsuc rv` or because `Set rv != Set (lsuc rv)`, but when I ask it to normalize the term again immediately after, the error message disappears.  I haven't managed to reproduce this reliably, so no idea if this is related.

I am using Agda version 2

[2019-08-28 06:29] gallais commented on #1097
I think it would have to come much later in the pipeline, as an optimisation
when type-checking pattern-matching lambdas. Indeed in the scope-checking phase
we may not be able to tell whether an overloaded constructor is used as a record
or a datatype constructor.

[2019-08-28 07:57] gallais commented on #4037
I would argue that the interactive mode generating invalid code is a bug.

[2019-08-28 10:05] nad opened #4039 "Segmentation fault with 2.6.0.1"
I've encountered reproducible segmentation faults using Agda 2.6.0.1:
[code]
The final line of the output:
[code]
I rebuilt Agda 2.6.0.1 (using GHC 8.6.5), and the problem was still there. I checked which libraries were used, and the library version numbers seem to match those used for the development version exactly. However, I can't recall encountering any segfaults when using the development ve

[2019-08-28 10:27] nad commented on #4039
I managed to avoid the segfault for the example above by building Agda 2.6.0.1 using GHC 8.4.4.

[2019-08-28 10:42] nad commented on #3960
Here is another regression:
[code]
[code]

[2019-08-28 10:51] UlfNorell commented on #4039
fwiw I don't get a segfault with 2.6.0.1 built using ghc-8.6.5.

[2019-08-28 12:04] nad opened #4040 "Performance regression"
One part of one of my developments type checks about 30% slower using Agda 2.6.1-037b495 compared to Agda 2.6.0.1 (both built using GHC 8.4.4).

[2019-08-28 13:16] L-TChen commented on #3553
I have been wondering if adding constructs manually to reflected syntax is a good design, after reading [(Berger et al, 2017)](http://drops.dagstuhl.de/opus/volltexte/2017/7277/) and talking to people at TyDe'19.

If, say, we use internal (or abstract) syntax directly then the reflection framework would updates automatically with full access to all information for AST.

Another drawback of using a

[2019-08-28 14:13] gallais opened #4041 "`with` on steroids"
Listing things I do not want to forget before AIM XXX.

* [x] Internalising inspect (#4084)
* [x] Implicit with (#4078)
* [x] Irrelevant with (more generally: control over modalities)
* [ ] Lightweight with-function
* [X] Bunched irrefutable with (#4074)
* [x] LHS let bindings (#7078)

### Internalising the `Inspect` idiom

When we `with` over an expression `f es` and want to remember that the
var

[2019-08-28 15:27] andreasabel commented on #3801
Some related issues:
- #154
- #2862

[2019-08-28 19:32] nad commented on #4040
Bisection points to 3f9d17fb13cc122cc91d1e1e47cb8c0d185b177e ("[ fix #3774 ] Use the right context for eta-expanding metas"). The [test case](https://github.com/agda/agda/files/3552529/Benchmark.agda.txt) I used type-checked roughly 50% slower after this commit compared to just before.

The commit apparently fixes a bug. Perhaps Agda used to be faster because it was "cheating", or perhaps we can l

[2019-08-28 22:41] L-TChen commented on #4025
I think it is mostly the case. We only need to *squash* commit histories for PRs instead of merging directly so that ci commands do not pollute the log.

[2019-08-28 23:06] L-TChen commented on #3895
This should be easy to do.

If I understand the current design correctly, then this would require a major revision. One reason is that quoted terms do not have any location information. When translating from the abstract syntax to the internal syntax, this information is dropped. Either reconstructing this information or changing reflected syntax seems nontrivial.

I prefer to have a reflection fr

[2019-08-29 13:53] guillaumebrunerie opened #4044 "Equality checking uses too much memory in 2.6.0 (compared to 2.5.4)"
The test below constructs two large identical trees (with dummy function types in each branch) and compare them for definitional equality. In Agda 2.5.4.1 it takes 49 seconds and a very small and constant amount of memory (42 MB), whereas in Agda 2.6.0.1 it takes 3 minutes and 42 seconds and memory usage peaks at 8 GB.

Without the `A → B → C → D → ` parts, Agda 2.6.0.1 does not use any excessive

[2019-08-30 10:56] #760 closed, assigned to gallais

[2019-08-31 11:50] mechvel opened #4045 "Irrelevant message for definition preceeding a top-level module"
This is on Agda 2.6.0.1, ghc-8.6.3.
Type checking of
[code]
produces a report
[code]
Probably it needs to be "A definition before the top-level module ...".
?

[2019-08-31 16:08] ggreif opened #4046 "Remove (deprecated) codata keyword"
[code]
gives me the error message
[code]

`test/Fail/Codata.err` is more than 4 years old.

See also #214 and #1271.

[2019-08-31 16:10] ggreif commented on #4046
I am working on a patch.

[2019-08-31 20:19] nad commented on #4044
You can perhaps track down a problematic commit by running the following command in a fresh clone of the Agda repository:
[code]
(If the code above is saved in `Bug.agda` and the GHC on your path can build both Agda 2.5.4.1 and 2.6.0.1. It might make sense to first try with `--dry-run agda-2.5.4.1` and `--dry-run agda-2.6.0.1`.)

[2019-09-01 05:22] sattlerc opened #4048 "Rewriting rule fails to trigger"
On master (commit a09aa4e3).

[code]

[2019-09-01 07:37] sattlerc commented on #4048
Could this be the contraint solving bug noticed in https://github.com/agda/agda/issues/3001#issuecomment-376158449 involving rewriting?

[2019-09-02 02:53] andy-morris opened #4049 "Internal error with sized types if the target type of a constructor is an alias"
With Agda 2.6.0.1, the following code gives an internal error pointing to `src/full/Agda/TypeChecking/Polarity.hs:307`.

[code]

The code seems to assume that the target type of a constructor is a literal occurence of the parent datatype, which of course may not be true in all cases.

[2019-09-02 09:04] jespercockx commented on #4048
It seems there is a `telePi` missing at https://github.com/agda/agda/blob/a09aa4e3e343bb48be60d6cdfce4c85a0f8d39d3/src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs#L260

[2019-09-02 09:20] gallais commented on #4049
The error is raised in a function whose precondition is that the input type is
reduced. Evidently it is called somewhere with this condition violated.

Edit: cannot reproduce in 2.6.1 (I should have started with that!).

[2019-09-02 09:28] #4049 closed, assigned to andreasabel

[2019-09-02 09:36] guillaumebrunerie commented on #4044
I did the bisection and the result is the following (@jespercockx):

There are only 'skip'ped commits left to test.
The first bad commit could be any of:
b42ac7eb50eec4309fa9940f41af94ec5657bc7c
832dffbc8b0f25dd4ad658964748fb373210c580
e060f2d4eba82ed5cce2107e8b6e0862d4c8fdea
c487b8a2bea1244113e2d6d581ce0b6b76b50e9d

[2019-09-02 10:53] #4048 closed, assigned to jespercockx

[2019-09-02 10:54] jespercockx commented on #4048
Thanks for reporting!

[2019-09-02 11:23] guillaumebrunerie commented on #4044
So this is apparently related to #3446, and commit c487b8a is most likely the culprit (the other three are refactoring commits)

[2019-09-02 12:15] nad commented on #4044
The following code looks suspicious to me:

https://github.com/agda/agda/blob/957f54f8405c0add88391fca543a71fe14c89795/src/full/Agda/TypeChecking/Monad/Context.hs#L191-L198

It seems as if every time this instance of `addCtx` is run something is done for all names in the context. This could lead to quadratic behaviour.

[2019-09-02 13:14] gallais opened #4050 "Missing CHANGELOG entry for scoping of names of where-modules?"
I was surprised to notice in agda/agda-stdlib#878 that the (very sensible) fact
that the module corresponding to a named where-clause is available on the
RHS it is attached to is only a recent change.

The following code is invalid in all versions going back to 2.5.2 but works just
fine with master. Should this language change be documented in the CHANGELOG?
(Bonus question: which commit is respon

[2019-09-02 13:27] nad commented on #4044
Commenting out lines 193-197 seems to fix the regression. (Now the example can be type-checked in roughly 50 s, using 1 MB of memory, on my machine.)

[2019-09-02 13:30] sattlerc commented on #4048
Thanks for fixing so quickly!

[2019-09-02 14:18] nad commented on #3855
- [x] The following code should not be accepted:
[code]

[2019-09-02 19:00] nad commented on #4045
Consider the following code:
[code]
If you place this code in `M.agda` (and use `agda --no-libraries M.agda`), then you get the following error message:
[code]
However, if you place the code in `M2.agda`, then the code is accepted, because then `M` is a local module in the module `M2`.

I'm not sure I agree with this design, but I think what you see is intended.

[2019-09-02 19:00] #4045 closed, assigned to nobody

[2019-09-03 05:15] JLimperg opened #4051 "Internal error when importing a module with a hole in a type"
Test case:

In `bug1.agda`:

[code]

In `bug2.agda`:

[code]

Loading `bug2` leads to an internal error with reported location `src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs:148`.

Agda versions: 2.6.0.1 and master@957f54f8405c0add88391fca543a71fe14c89795.

[2019-09-03 06:40] nad commented on #3993
@andreasabel, what is your plan? If you want this to be fixed on the Emacs side, then I guess it makes sense to submit a patch, or at least a feature request.

[2019-09-03 06:55] nad commented on #3985
The problem seems to be that GHC does not perform the final linking step (`Linking […]/Main ...`):
[code]
This GHC problem has been [reported](https://gitlab.haskell.org/ghc/ghc/issues/14651).

[2019-09-03 13:15] monnier commented on #3993
Indeed, I think all it takes is:

    diff --git a/lisp/rect.el b/lisp/rect.el
    index 34f79e3ed3..799f066098 100644
    --- a/lisp/rect.el
    +++ b/lisp/rect.el
    @@ -520,7 +520,8 @@ string-rectangle
                    (read-string (format "String rectangle (default %s): "
                                         (or (car string-rectangle-history) ""))
                                 nil '

[2019-09-04 10:20] UlfNorell commented on #4044
Specifically, it's this `addContext` in the conversion checker that is the culprit:
https://github.com/agda/agda/blob/96d0dd00b696b381d87972ec78c4de31ff20b414/src/full/Agda/TypeChecking/Conversion.hs#L316-L318
Changing `name` to `"_" :: String` makes the example check in constant memory.

[2019-09-04 10:39] nad commented on #4044
This kind of construction, with `suggests` and `addContext`, is used in two other places as well:

https://github.com/agda/agda/blob/96d0dd00b696b381d87972ec78c4de31ff20b414/src/full/Agda/TypeChecking/Conversion.hs#L691-L692

https://github.com/agda/agda/blob/96d0dd00b696b381d87972ec78c4de31ff20b414/src/full/Agda/TypeChecking/CheckInternal.hs#L182-L183

[2019-09-04 10:43] nad commented on #4044
But I see that `suggests` returns a `String`, so I guess the use of this function isn't so interesting.

[2019-09-04 11:46] mrakgr opened #4052 "Typechecking a simple proof involving rationals takes immense amounts of time"
[code]

Roughly by the time I reached the...

[code]

...part the typechecker started to choke on this. Sometimes it typechecks this, but making any kind of change takes so long that I am not sure if the typechecker has crashed. I am effectively stuck on this proof as it is due to that.

[2019-09-04 14:04] nad commented on #4052
Perhaps it makes sense to make `E` abstract:
[code]

[2019-09-04 14:30] nad commented on #3840
I seemed to recall that something like this had been implemented, and looked for this kind of option in the output of `agda --help`. I focused my attention at the section called "GHC backend options", but didn't find anything.

I find it strange that there is one flag `--with-compiler` for two backends. One can invoke multiple backends at the same time (`agda --compile --js Test.agda`), so perhaps

[2019-09-04 14:37] mrakgr commented on #4052
Yeah, this helped a lot and I've been able to finish the proof thanks to this. I've seen abstract used in the libraries at some point as well as in the documentation, but I've never understood what the point of it was. I guess now I do.

Why did this help so much?

[2019-09-04 14:37] #4052 closed, assigned to nobody

[2019-09-04 18:52] hborum opened #4053 "Emacs-mode: Case split leaves part of old line behind"
A case split on a hole does not remove the text to the right of the hole.

Example:
[code]

A case split (C-c C-c) in the first hole on `x` produces:

[code]

Similarly, from the initial state, a case split in the second hole on `z` produces:

[code]

I have been using this as my motivation for looking around in the code base for some days, so I will be happy if I am actually able to solve this mi

[2019-09-05 07:19] UlfNorell commented on #3725
`aeson-1.4.4.0` and `attoparsec-0.13.2.3` build on `8.8.1` and #4055 removes the Edison dependency.

[2019-09-05 08:19] nad commented on #4052
Because the `E` function no longer reduces.

[2019-09-05 08:27] mrakgr commented on #4052
Still, the magnitude of the improvement is large. I have to wonder whether the compiler has some exponential cases lurking in it. Maybe I closed this issue a bit too quickly? I mean this proof is still only 75 lines, and it is not like I am trying to make the compiler choke on purpose. It is true that `E` is used in many places, but it is not like it is a complex function.

[2019-09-05 08:45] nad commented on #4052
There is a substantial difference in size between `E f l` and its normal form (included below). I suspect that this is also the case for the weak head normal form (WHNF), but I don't think the Emacs mode provides a simple way to display the WHNF. Sometimes Agda is too eager to normalise something (as opposed to reducing it to WHNF), and if that is the case, then that might be a bug.

Here is the n

[2019-09-05 08:51] mrakgr commented on #4052
I've noticed that it would print out parts that look similar to the above during type errors. I found those completely unreadable.

[2019-09-05 09:11] mrakgr commented on #4052
There is just one other thing I don't understand. Since Agda is a lazy language, at which points is `E` getting reduced? Surely it can't be everywhere. For the purposes of typechecking just knowing the type should suffice, right?

Since using `abstract` to prevent `E` from reducing does not invalidate the proof, shouldn't that be the default behavior in a lazy language?

[2019-09-05 09:13] mrakgr commented on #4052
By default I don't mean that everything should be `abstract`, but rather highlighting the fact that the compiler might be doing reduction that it does not need to.

[2019-09-05 10:51] nad commented on #4052
[code]

[2019-09-05 11:23] nad commented on #3903
Now I encountered the following error message:
[code]
However, I have two occurrences of `nothing` in this clause, and the error's range includes both of them.

[2019-09-05 12:13] mrakgr commented on #4052
Yeah, this example illustrates why everything should not be `abstract` by default. Still isn't the compiler doing too much reduction for it to get so slow in the program I've posted? If it respected its own lazy semantics during typechecking wouldn't this be a non-issue?

[2019-09-05 12:15] nad commented on #4052
What, exactly, do you think Agda should do when type-checking your code?

[2019-09-05 12:41] gallais opened #4057 "Public open import in parametrised module wrongly reparametrises non parametrised definition"
This is a problem we have encountered many times in the standard library.
I have finally managed to write a test case for it.

First, have a parametrised module re-exporting some non-parametrised definitions.

[code]

Until there everything is fine: whether you import `openpublic` applied or not,
`Bool` is still a `Set` (and not a `Set -> Set`).

Then have a doubly parametrised module and use only

[2019-09-05 12:45] MatthewDaggitt commented on #4057
Yes!! This would be amazing to fix :+1: :+1: (Am I being too enthusiastic here?)

[2019-09-05 12:57] mrakgr commented on #4052
Hmmm...I've been thinking that given a hypothetical large function like `E` that proofs on it should not necessarily require a reduction beyond the obvious, but thinking about it more deeply I see that the way Agda does it makes sense.

[code]

Suppose I have a function `G` which is just `E` copy pasted and with variables renamed, then I should be able to replace all the instances of `E` with `G`

[2019-09-05 13:02] nad commented on #4057
For consistency, wouldn't it be better to add the telescopes to all definitions in `openpublic`, whether they are defined locally or re-exported? (See #892 for a long discussion about this, including some arguments against such a change.)

I saw that you [rely on](https://github.com/agda/agda-stdlib/blob/835a59a741eb27381f1cab946505d25775834517/src/Function.agda#L9-L25) Agda's current behaviour in

[2019-09-05 13:16] gallais commented on #4057
Note that it is currently impossible to `open ... public` before the module's name
(and telescope of parameters). If it were possible, we would be able to distinguish
between a reparametrised open-public and non reparametrised one.

[2019-09-05 13:16] MatthewDaggitt commented on #4057
Yes it's fairly deeply embedded in the standard library since at least v0.12 via `Algebra.FunctionProperties` exporting `Algebra.FunctionProperties.Core`.

My main question is that if you remove it, how can we get the same effect? It's a **really** useful feature when trying to make summary modules that re-export other modules. In fact just earlier this week I opened an [issue](https://github.com/

[2019-09-05 13:51] JLimperg opened #4058 "refine fails for records with >9 fields and explicit constructor"
Here's a fun one. ;) Test case:

[code]

Trying to `refine` the hole yields 'Cannot refine'. With one less field or without the `constructor R+`, `refine` succeeds. Tested with Agda 2.6.0.1 and master@957f54f8405c0add88391fca543a71fe14c89795.

[2019-09-05 13:55] gallais commented on #4058
Duplicate of #3532

[2019-09-05 13:55] #4058 closed, assigned to nobody

[2019-09-05 13:58] nad commented on #4057
I just think that the current feature is not very aesthetic. If I have a function `f x = record { … }`, then I do not expect to be able to project out any field without supplying an argument to `f`. Why should this be possible for parametrised modules of the form `module M (x : …) where …`?

[2019-09-06 08:29] nad opened #4059 "Two variants of irrefutable with?"
I tried to use irrefutable with for some code of the following form (I):
[code]
However, the following code (II) does not work:
[code]
Presumably the reason is that this code is not equivalent to the code above, but rather to the following code (III):
[code]
Perhaps it would be more natural to use the following notation for (III), and let (II) mean (I):
[code]

[2019-09-06 08:57] gallais commented on #4059
I had recorded your suggestion in my #4041 megathread of with-related things I
want to work on during the upcoming AIM. I fully agree that giving users the
syntax to express these subtly different meanings would be a net improvement
over the current implementation.

[2019-09-06 11:00] gallais commented on #2795
Note that `filter (λ (_ , x) → x)` is now valid syntax since #3884.

That PR also suggests a possible syntax for such declarations, mimicking the now
valid pattern-matching syntax in telescopes:

[code]

would declare a level pair `favouritePrime` as well as names for its two components
`favouriteNumber : Nat` and `favouriteNumber-is-prime : IsPrime favouriteNumber`.

(It is quite annoying not to

[2019-09-06 15:00] guillaumebrunerie opened #4060 "Very high memory usage in 2.5.4 compared to 2.5.3"
Consider the code linked below (about 150 lines of code, that’s how far I got shrinking it so far).

In Agda 2.5.3, giving `refl` at the last line succeeds almost immediately, but in Agda 2.5.4.1 (or later) memory usage increases very quickly instead (it reaches 25G after only one minute). In both versions, asking for the normal form of the type of the goal is instant.

The problem in 2.5.4.1 can

[2019-09-07 08:49] L-TChen commented on #4025
By the way, does anyone know how to build the travis cache for dependencies while building via `cabal`?

`cabal` spends about 10 mins on building the whole dependencies every time, and it seems safe to cache these if possible. Can they be fetched via the apt system in advance?

[2019-09-07 13:33] ghost commented on #4057
Here is a (perhaps more compelling) argument against this feature:

If you write `module M (x : X) where n = 17`, the `n` declaration can’t be used without an `X`, so why should a module import statement behave differently?

This seems to me like unexpected behavior, and an open gate for mistakes and accidents (such as the one described in this very issue).

As an example of another possible mista

[2019-09-07 20:47] gallais commented on #4057
I do not understand how your proposition is supposed to help: `Function` is not
a parametrised module anymore and as such cannot be applied upon import. We have
to first import it then `open` it `using` the non parametrised things and finally
open every single parametrised sub-module applied.

Earlier in this thread, I suggested the ability to `open (...) public` *before*
the top-level `module` de

[2019-09-07 21:14] ghost commented on #4057
Yes, I acknowledge that, but it’s important to note what I wrote in my comment (inside the code).

In that case, instead of “opening every parameterized module applied”, one could open the explicitly‐named module once and be done with that.

[code]

I know this is not a solution that reproduces the exact behavior of the feature.

Either way, what I’m saying is that I personally don’t see the “conv

[2019-09-08 04:28] MatthewDaggitt commented on #4057
That's the crux of this from my point of view. As far as I'm aware, this behaviour is impossible to replicate using other features of Agda. It's not a matter of reducing boilerplate.

@gallais's proposal is simply to make this behaviour consistent. I'm not sure I quite buy your "thin end of the wedge" argument, that we shouldn't fix this inconsistency in the current implementation, because then pe

[2019-09-08 05:04] ghost commented on #4057
Yes, there is no way to reproduce it using other features, sure. But what I meant when I talked about boilerplate is for *importing* modules, and not declaring them. That is, people would need to add an extra `open` declaration when using your module. I’m just saying that you could avoid relying on the feature by requiring library users to add such an `open`.

---

I’m saying that I think an `open

[2019-09-08 08:01] gallais commented on #4057
They can declare it in a separate module which they can then import before the
top-level module declaration as is already possible.

[2019-09-08 14:20] L-TChen commented on #2192
I wonder if the change to Travis is still relevant. Currently the pre-installed Node.js versions on Travis include

[code]

and if I understand it right v8.9.1 should work fine ...?

[2019-09-08 14:21] #2192 closed, assigned to asr

[2019-09-08 15:30] nad opened #4064 "Annotated do binders"
The following code works (with a suitable definition of `_>>=_` in scope):
[code]
However, the following code does not parse:
[code]
Does it make sense to allow this notation (for those cases in which the do translation yields a regular lambda abstraction, rather than a pattern matching lambda)?

[2019-09-08 16:07] nad opened #4065 "Missing error message (only error location given)"
The following code triggers a rather uninformative error message:
[code]
The error message:
[code]

[2019-09-09 07:16] nad opened #4066 "Regression related to instance resolution"
If the following code is loaded, then the hole can be filled (with the term that is already present in the hole). However, if the code is then reloaded, then it is rejected. This is a regression, Agda 2.5.4.2 accepts the (filled) code, but Agda 2.6.0 rejects it.
[code]

[2019-09-09 07:42] nad commented on #4066
Bisection points towards 47358b362129b6848ec9d6ea57c626e321ffb261 ("[ #3435 ] postpone instance constraints while checking applications").

[2019-09-09 08:56] guillaumebrunerie commented on #4060
I shrank it a little bit more to remove stuff about setoids (about 150 lines now).
I also noticed (see beginning of the code) that defining `and` as a record instead of as a datatype makes it typecheck faster and using much less memory (about 10 seconds and less that 2G of memory). So it seems like it has to do with datatypes?

[2019-09-09 09:00] guillaumebrunerie commented on #4060
And turning both `and` and `Σ` into records instead of datatypes, it takes half a second and no memory that I can measure.

[2019-09-09 09:10] nad commented on #4060
If you use `--no-projection-like` and/or `no-eta-equality`, can you still observe a difference when you switch from data types to record types?

[2019-09-09 09:16] guillaumebrunerie commented on #4060
I tried all four combinations of `--no-projection-like` and `--no-eta-equality` and in all cases it’s very fast, unlike when using datatypes.

[2019-09-09 09:56] nad opened #4067 "Solving blocked terms loses the user-written code"
Consider the following code:
[code]
The three goal types:
[code]
Note that the final goal contains `x` instead of `⟨ x ⟩`. This is unfortunate, because some tactics rely on being able to mark subterms in this way (see, for instance, Bradley Hardy's (@bch29) library [holes](https://github.com/bch29/agda-holes)).

This is a regression, Agda 2.5.4.2 computes the following goal types:
[code]

[2019-09-09 11:00] nad commented on #4067
Bisection points to 47358b362129b6848ec9d6ea57c626e321ffb261 ("[ #3435 ] postpone instance constraints while checking applications").

[2019-09-09 14:54] guillaumebrunerie opened #4070 "A later abstract block can see through the definitions of a former one"
I’m not sure if that’s a bug or a feature (it already works in 2.5.3 up to the dev version), but I was very surprised to discover that abstract definitions are not actually abstract in other abstract blocks.

[code]

I would not have expected `works` to work, I thought that once we exit the first abstract block, then it is not possible to look inside `d` ever again. Note that it (obviously) doesn’

[2019-09-09 15:17] guillaumebrunerie commented on #4070
One way to work around that seems to be to wrap `d` in a named module and open it immediately afterwards:

[code]

Is there a simpler way? Without having to come up with dummy names?

[2019-09-09 15:21] nad commented on #4070
Yes.

I've [used](https://github.com/agda/agda/issues/2207#issuecomment-271815203) the dummy module trick (but I have made the module private, to avoid polluting the name space).

[2019-09-09 15:36] asr commented on #3725
Agda depends on `regex-tdfa` which depends on `regex-base`. From https://github.com/ChrisKuklewicz/regex-tdfa/issues/23 it seems `regex-base` is unmaintained. Someone knows some maintained replace for `regex-tdfa`?

[2019-09-09 15:44] nad opened #4071 "Ill-scoped code in error message"
Consider the following code:
[code]
Instance resolution fails on the last line, as intended. However, the error message contains ill-scoped code:
[code]
I suppose that the first candidate should be `list-like : {ℓ : Level} → List-like F ℓ`.

[2019-09-09 15:47] gallais commented on #3725
[code]

yields only 2 minor use cases for regular expressions:

[code]

It may be worth dropping the dependency altogether and stop using regular
expressions?

[2019-09-09 15:49] nad commented on #3725
Is regex-base going to be dropped from the [Haskell Platform](https://www.haskell.org/platform/contents.html)?

[2019-09-09 15:54] asr commented on #3725
I just found [this](https://mail.haskell.org/pipermail/libraries/2019-September/029927.html) message to the library list. So, regex-{base,compat,pcre,posix} will be take over.

[2019-09-09 17:54] nad commented on #3750
@Saizan, have you thought about my two questions [above](https://github.com/agda/agda/issues/3750#issuecomment-496490806)?

[2019-09-10 07:31] andreasabel commented on #4065
Until 2.6.0 there is an error message:
[code]
Probably caused by work on #3606?! @Saizan

[2019-09-10 08:06] Saizan commented on #3750
@nad Yes, I think we can handle both concerns positively, but the model construction is not fully done yet.

[2019-09-10 08:15] Saizan commented on #4065
I mean, I wonder if `[5] _6 := (_ : _4) [ℓ] :? Set` contains any useful information, however I suppose we can print such constraints when they get elevated to an error?

[2019-09-10 11:13] nad commented on #3750
This sounds promising.

[2019-09-10 11:27] nad commented on #3855
- [x] Here is another example that should not be accepted:
[code]

[2019-09-11 05:46] L-TChen opened #4072 "Moving fix-agda-whitespace away"
This is another issue concerning the development of Agda.

I propose to move the package `fix-agda-whitespace` to a new repository and upload it to hackage for the following reasons:

1. `fix-agda-whitespace` can be installed without downloading Agda source code. Good for contributors to the standard library.

2.  A precompiled binary can be released via GitHub. Good for testing---there is no need

[2019-09-11 06:14] andreasabel commented on #4072
If I remember correctly, there are corner-cases hardcoded in `FixWhitespace.hs`. If you want to move this as a standalone package to hackage, you should probably generalize it a bit and read the exclusions/inclusions from a config file.

[2019-09-11 06:30] L-TChen commented on #4072
Right, the first part of the program is essentially the configuration

https://github.com/agda/agda/blob/6549537601848d9c27b1c1119d50978135a0abc3/src/fix-agda-whitespace/FixWhitespace.hs#L18-L66

I will first move this package to a new repository and release the compiled one on GitHub to use on Travis.

[2019-09-11 07:21] L-TChen commented on #4072
@andreasabel , @UlfNorell can you turn Travis on for this repository? https://travis-ci.org/agda/fix-whitespace

[2019-09-11 08:08] #4070 closed, assigned to nobody

[2019-09-11 08:14] jespercockx commented on #3960
The last example is an instance of #3982, I have a fix for it that I will push soon.

[2019-09-11 08:24] #3982 closed, assigned to jespercockx

[2019-09-11 09:14] jespercockx commented on #3940
After the fix of #3982, this now gives unsolved constraints:
[code]

Is this the expected behaviour?

[2019-09-11 09:19] nad commented on #4072
A possible disadvantage: If the program is moved to a separate Hackage package, then it becomes much harder to change it. What previously amounted to just pushing a commit now also involves the release procedure for a Hackage package, with testing on multiple platforms and so on (unless you are happy to release untested code).

[2019-09-11 09:48] gallais commented on #4059
When you write

[code]

should the variables in `p₁` be in scope in `e₂`?

I do not think it is reasonable to expect so if we consider that `e₁` and `e₂`
get with'd over at the same time.

[2019-09-11 10:20] nad commented on #4059
I agree.

[2019-09-11 11:16] nad commented on #3960
Your fix works for the original example as well.

[2019-09-11 14:04] #4059 closed, assigned to gallais

[2019-09-11 14:28] nad commented on #3960
By the way, the example that you fixed was more important to me than the other ones. I have already patched the few pieces of code that I have found that were affected by the regression that still remains.

[2019-09-11 15:49] ggreif opened #4076 "Allow wildcards in rewrite"
Consider the following (contrived) snippet:
[code]

I suggest allowing `_` wildcard patterns in rewrite clauses. That would simplify the above code to
[code]
since the wildcard rewrite rule would trigger three times.

N.B. Syntactically wildcards are *already* allowed in rewrite rules, but do something different. (I am not sure what.)

This is a follow up to https://www.reddit.com/r/agda/comments/

[2019-09-11 17:48] nad commented on #4076
Do you have a semantics in mind for this proposed new feature?

They have their usual meaning. See the [documentation](https://agda.readthedocs.io/en/v2.6.0.1/language/with-abstraction.html#with-rewrite) for more information about `rewrite`.

[2019-09-12 05:42] andreasabel commented on #4076
Currently, `rewrite` does not instantiate meta-variables when trying to find a match in the goal.
If you put a wildcard in the `rewrite` expression, it is subject to solving only during the type inference process for the rewrite expression.  In your example, the meta variable would remain unsolved, rendering the `rewrite` statement ineffective.

We should maybe check for unsolved metas before atte

[2019-09-12 07:41] #4065 closed, assigned to andreasabel

[2019-09-12 09:22] nad commented on #4076
That is not quite correct. The following code is accepted:
[code]

And you can help out by, for instance, providing a type signature:
[code]

However, there is currently no way to use a lemma at two different types at the same time (unless there is some bug).

[2019-09-12 11:26] jespercockx commented on #3541
The fix introduced a regression: the following code is now accepted, but it (arguably) should not be:
[code]
I will revert the patch again until we find a proper solution.

[2019-09-12 11:38] nad commented on #3855
Consider the following code:
[code]
When I compile this code using the GHC backend I get the following output for `n`:
[code]
It seems as if `n` is completely erased, even if it is only the argument to `[_]` that is marked as erased.

Is this something that I can rely on? Is everything of type `Erased A` erased? I noticed that I had some code of the form `subst … [ … ]`, and I would not like to se

[2019-09-12 15:36] andreasabel opened #4081 "Forcing translation crashes"
[code]
produces
[code]

[2019-09-12 15:41] andreasabel commented on #4076
This does not contradict my statement.  The meta in `lemma _ true` is solved to `Bool` by virtue of `true` __before__ matching in the goal type.

Ditto. Confirms my statement.

[2019-09-12 16:00] andreasabel commented on #4050
Might have been worked on in #3824: cc094ca21b906ad44b55773e29baf10a49c6ee13

[2019-09-13 07:34] #4050 closed, assigned to andreasabel

[2019-09-13 08:40] gallais commented on #4050
Thanks!

[2019-09-13 09:13] nad commented on #4076
I guess I misinterpreted you.

[2019-09-13 09:16] #4076 closed, assigned to nobody

[2019-09-13 11:01] Saizan commented on #3733
It's still provably an equivalence, by path induction/contractibility of singletons:
[code]

[2019-09-13 11:48] ggreif commented on #4076
So this got closed because it is not possible to repetitively apply a rewriting equation (with a `_` inside)? Or would there be a conflict with the standard semantics of `_`?

[2019-09-13 14:55] andreasabel opened #4083 "Agda confuses file module with record module"
Given the following files:
[code]
[code]
[code]
[code]
The last statement fails with error:
[code]
However, because of `import`, the name in non-ambiguous, since you can only `import` a file module.

See also #3818.

[2019-09-13 15:53] UlfNorell commented on #4076
Yes, the way rewrite is implemented it's not possible to do what you are asking.

[2019-09-14 06:10] gallais commented on #4025
Should we also have a zero-th stage checking for whitespace violations?
At the moment we run the first one and fail after 10 minutes on the second
when presumably this error could be raised almost immediately.

[2019-09-14 06:40] L-TChen commented on #4025
Working on it and Windows environment now...

[2019-09-14 13:44] #500 closed, assigned to nobody

[2019-09-14 13:47] gallais commented on #3574
Fixed by 9c91d2f7bbb767f348618b6ca29fe68c66d19619

[2019-09-14 13:47] #3574 closed, assigned to andreasabel

[2019-09-14 16:26] L-TChen commented on #4025
It's done, but the script is a bit ugly. I will take some time to polish it.

https://travis-ci.org/L-TChen/agda/builds/584994959

[2019-09-15 15:38] nad opened #4088 "Strange scoping rules for irrefutable with, part 2"
I think the following code should be accepted:
[code]
Agda complains that `b′` is not in scope on the last line.

[2019-09-15 15:55] gallais commented on #4088
Works with #4084! \o/

[2019-09-15 16:22] nad opened #4089 "Add a solver for universe levels when --cumulativity is used"
I started experimenting with cumulativity. Agda fails to infer the level argument to `id` in the following code (because any level greater than or equal to "`a`" would work):
[code]
Agda also fails to infer the level argument to `natrec` in the following code (for a similar reason):
[code]

Can something be done about this? I suppose that if the choice of meta-variable does not matter (in a suffic

[2019-09-15 16:34] nad opened #4090 "Bug related to cumulativity"
The following code is rejected:
[code]
Error message:
[code]
Given that `works` is accepted `fails` should not give rise to an error (but possibly unsolved meta-variables).

[2019-09-15 16:53] nad commented on #4089
I think that lack of some kind of solver could become annoying rather quickly. Consider the following code:
[code]
Agda fails to infer the level arguments to `List`, and you can't refer to them by name.

When cumulativity is used I suppose that the idea would be to use only one level argument, rather than two:
[code]
Even if Agda could infer the level arguments to `List` the type signature would b

[2019-09-15 16:58] gallais commented on #4089
This would prevent us from writing "level decreasing" maps
e.g. `map (\ _ -> 0) : List Set -> List Nat`

[2019-09-15 17:01] nad commented on #4089
Scratch that:
[code]

[2019-09-15 19:12] jespercockx commented on #4089
I have some plans for adding a (simple) solver for universe levels when `--cumulativity` is enabled, please try again in a few days :)

[2019-09-15 19:13] jespercockx commented on #4090
Seems like there could be a problem in the implementation of the `sortOf` function.

[2019-09-16 08:26] #4090 closed, assigned to jespercockx

[2019-09-16 09:08] jespercockx opened #4092 "Inequal levels are printed as inequal sorts"
[code]
This gives an error `Set != Set₁`, but it should instead print `lzero != lsuc lzero`.

[2019-09-16 09:37] #3582 closed, assigned to jespercockx

[2019-09-16 09:37] #4092 closed, assigned to jespercockx

[2019-09-16 10:14] vlopezj commented on #3027
Replacing the `Nat` datatype by postulates makes the internal error go away:

[code]
[code]

@UlfNorell Is a benefit from having more lax behaviour about types when it comes to constructors?

[2019-09-16 14:28] vlopezj commented on #470
The test case given in https://github.com/agda/agda/issues/470#issuecomment-129023473 seems to type-check at least since commit ba4354f2c47a534ff9fc543fc7824eff222181f6.

[2019-09-16 15:09] gallais commented on #470
Can you please add it to the test suite?

[2019-09-16 15:27] UlfNorell commented on #3027
I don't understand the question.

[2019-09-16 15:40] gallais commented on #4041
Here is a new and improved design worked out with @UlfNorell.

All the variations on with are of the form `with p <- e`. Some surface-level syntax may be kept for common forms e.g. `with e`; `with {e}` and `with {{e}}`.

### With Patterns

With patterns are essentially LHS patterns with three additional features:

* `abstract` demanding that the tagged sub-expression is abstracted over in the RHS

[2019-09-16 15:47] nad opened #4093 "Make it possible to rename Set?"
@jespercockx [gave](https://github.com/agda/agda/pull/4091#issuecomment-531653874) me an idea.

I don't think that `Set` should be a hardwired name. Perhaps we can fix this without breaking any code:
* Export `Set` (an identifier without a type, like `Agda.Primitive.Cubical.I`) from `Agda.Primitive`, and allow this identifier to be renamed. If the identifier is in scope as `S`, then it should be p

[2019-09-16 15:58] vlopezj commented on #3027
@UlfNorell Right, the phrasing was not the best. I will rephrase.

The original example does not pattern match on values of type `Nat`. So, replacing the inductive definition of `Nat` with one postulate for each constant should give an (almost) equivalent example.

After replacing the constructors by postulates, Agda behaves correctly (see previous comment). So my question is: why isn't  applicati

[2019-09-16 16:08] andreasabel commented on #4041
Syntax bikeshedding:

With patterns are essentially LHS patterns with three additional features:

* `@abstract` attribute demanding that the tagged sub-expression is abstracted over in the RHS of the with
* `...` demanding that the user gets to further inspect the tagged sub-expressions by writing clauses
* `@instance` attribute making the sub-expression an instance argument

Full description of p

[2019-09-16 16:52] UlfNorell commented on #4041
- 👍 on `...` for clause.
- Attributes for `instance` would be nice (and generalize to other attributes), but might be tricky to get through the parser. Ideally you'd want to be able to tag pattern variables (naked or @-binding) with attributes.
- I think using an attribute for `abstract` make less sense, and going with a builtin rebindable name would be nicer.

[2019-09-16 17:28] UlfNorell commented on #3027
You are still pattern matching on booleans.

The internal error (I suspect, but haven't verified) is because you are matching a natural number constructor against boolean patterns. In other words, it's not unification but reduction that behaves differently on constructors than on postulates, which I hope is not too surprising.

It's easy enough to treat a missing case for a constructor as a stuck

[2019-09-17 07:39] jespercockx opened #4094 "Feature request: reflecting abstract syntax"
It would be nice if there was some way to write a macro that takes as input the *abstract* syntax representation of a term (i.e. before typechecking). This would enable us to write macros that change the elaboration process. Some examples:

- Idiom brackets as a macro
- Reuse Agda's abstract syntax as the input to the typechecker of a deeply embedded DSL
- Reuse Agda's syntax to denote codes in a

[2019-09-17 07:46] vlopezj commented on #3027
Ah, I see. The term `f false (suc zero)` is indeed ill-typed.
Thanks!

[2019-09-17 08:41] andreasabel commented on #4046
Thanks for your work, Gabor.

We might have use for `codata` though when introducing higher coinductive types, which do not fit well with the current `record` syntax.  Thus, I like to keep `codata` as a keyword.

[2019-09-17 09:16] ggreif commented on #4046
I remember seeing an older entry in the CHANGELOG that the `codata` _keyword_ was removed. Not sure whether `codata` currently counts as a bona-fide keyword (that is reserved everywhere), or is just recognised as a terminal in certain grammar productions.

[2019-09-17 09:31] #470 closed, assigned to vlopezj

[2019-09-17 10:03] gallais opened #4096 "Expose the reflected syntax as a sized type?"
At the moment writing any kind of structure-preserving function on `Term` is
extremely painful: one needs to inline all the calls to `map` (on `List` or `Arg`).
If we had a sized type of `Term` we would not need to implement up to 7 functions
every time we want to work with `Term`.

Case in point:

[code]

[2019-09-17 10:20] txa commented on #2858
I would like to reiterate the proposal. Since this is now the end of AIM XXX maybe it can be realistically tackled at the next AIM in Edinburgh. In the meantime we can use the work around by Szumi, eg. see https://bitbucket.org/akaposi/qiit/src/master/UniversalQIIT.agda

[2019-09-17 12:18] L-TChen commented on #4094
Reusing reflected syntax might not be optimal as abstract syntax provides additional information such as `range` which would be good to have too.

On the other hand, is it really necessary to have a different syntax for reflection? Using a different syntax means that each (un-)quotation needs to traverse the whole representation, but in principle we shall be able to use the same syntax so that any

[2019-09-17 13:05] L-TChen commented on #4025
I give up automatic deployment for now...

[2019-09-17 15:30] UlfNorell commented on #4094
See #4087 for my work on avoiding translation and retype checking of reflected terms.

Reusing the same Agda type for abstract syntax has the advantage of not requiring functions to be implemented twice and saving us from ~100 extra builtin bindings. The disadvantage is of course that we lose some information present in abstract syntax, that cannot be represented by the current type.

There's a mi

[2019-09-17 18:28] rwe commented on #4094
Just for reference/discussion to a previous related (or duplicate) issue about this:
  - Issue #3849: _Syntax macros / delay type-checking of macros_

[2019-09-18 10:21] andreasabel opened #4100 "GHC backend produces code that is wrongly compiled by GHC 8.4.* and 8.6.*"
[code]
The program compiled with the GHC backend for GHC versions 8.4 and 8.6 produces
[code]
and exit code 0.  GHC 8.0, 8.2 and 8.8 produce a program that outputs correctly
[code]
and exit code 1.

This seems to be a problem of GHC 8.4 and 8.6: with optimizations `-O`, `unsafeCoerce` seems to be compiled wrongly. The GHC issue has been reported under https://gitlab.haskell.org/ghc/ghc/issues/1720

[2019-09-18 19:02] nad commented on #3855
- [x] Should the following code be accepted?
[code]

Edit: Moved to #4173.

[2019-09-18 19:04] ice1000 commented on #4093
This can supersede many existing hacks such as https://github.com/agda/cubical/blob/48bd72e073b11d7501342d88eede05974a616977/Cubical/Core/Primitives.agda#L32-L39, https://github.com/HoTT/HoTT-Agda/blob/1037d82edcf29b620677a311dcfd4fc2ade2faa6/core/lib/Base.agda#L33-L40

[2019-09-20 07:25] jespercockx commented on #4040
It seems the problem is caused by bad performance of `addContext`. We should revisit this issue once #4044 is fixed.

[2019-09-21 08:52] andreasabel opened #4103 "Rewrite rule rejected because of projection likeness"
Posted by Michael Shulman on the Agda list:
[code]
This produces the error
[code]
but should succeed.

The problem is that the type arguments to `fst` are erased sind `fst` is a _projection-like_ function. With
[code]
 Agda tells us
[code]
This explains why Agda complains about `C` not being bound.

Projection-likeness is an optimization heuristics.  It checks if a function `f` has type
[code]
whe

[2019-09-21 09:57] UlfNorell commented on #4103
I don't see how this demonstrates any unsoundness. The rewrite rule is rejected so what's the harm? As to having a rewrite rule on `B`, is that something you can do without breaking *everything*?

[2019-09-21 14:00] andreasabel commented on #4103
Well, for instance this reports an unsolved meta unless projection likeness is disabled:
[code]
Agda cannot solve the first `_` to `A` because it has optimized away the first argument of `fst`.

[2019-09-21 15:18] UlfNorell commented on #4103
Right. This seems like a bug (though still not a soundness bug):
[code]
`fst` shouldn't be projection-like since the reduced type of the principal argument doesn't mention `A`.

[2019-09-21 19:57] nad commented on #4060
Could you try again once @andreasabel has pushed a commit (07831176a2e84eb572e0f2620e44f3382d9858de) fixing `--no-projection-like`?

[2019-09-23 08:45] AndrasKovacs opened #4105 "Better support for "impredicative" instantiation"
Related to #1387 (or even the same, depending on interpretation).

I looked at the [new GHC proposal](https://github.com/serras/ghc-proposals/blob/quick-look/proposals/0000-quick-look-impredicativity.md) for "impredicative" instantiation. In GHC terminology, "impredicative" means supporting solving metas to implicit function types. This is already possible in Agda, but the point is not just to hav

[2019-09-23 15:51] canndrew opened #4106 "Add a pragma for telling agda that a definition is injective"
Agda has REWRITE rules for turning a propositional equality into a definitional equality. Could we have something similar for injectivity? That is, agda's unifier can often use `foo x ≡ foo y` to infer `x ≡ y`, but this only works when it can see that `foo` is injective from the definition of `foo`. I'm in a situation where I can prove that `foo` is injective propositionally and I'd like to make u

[2019-09-23 16:42] jespercockx commented on #4106
You're in luck, since there is already such a feature:
[code]
Only it is not as safe as the version you are proposing, since it does not actually require you to prove injectivity first. It is also undocumented and mostly untested, so use it at your own risk (and please report any bugs you encounter).

[2019-09-24 02:41] canndrew commented on #4106
Oh cool! I'm curious why it doesn't require a proof of injectivity though? It wouldn't be any more restrictive since you could just postulate the proof if need be.

[2019-09-24 07:37] jespercockx commented on #4106
I guess the reason is just because it was easier to implement without the proof of injectivity.

[2019-09-24 10:10] canndrew commented on #4106
It's totally unsound though without the proof. Is it sound with the proof?

Also it doesn't appear to be working for me 😞. Here's my code:

[code]

If you try to compile this it says there's an unsolved meta in the definition of `$cons` where I've written `UNSOLVED META HERE`. This should work if `Ctx` is injective - `ctx` has type `Ctx ctx-l`, so the `{ctx-l}` argument to `Type` must be `ctx-l`.

[2019-09-24 13:03] L-TChen commented on #3869
Closed by #4102

[2019-09-24 13:03] #3869 closed, assigned to L-TChen

[2019-09-24 14:17] jespercockx commented on #4044
I am trying to find a way to fix this issue but I cannot think of a simple way to remove the quadratic behaviour. The problem is that the new machinery to avoid shadowing relies on `addContext` as a kind of 'lookahead' to predict which names are shadowing a given name. Ideally, this should be restricted to just the pretty-printer. However there are often many independent calls to `prettyTCM`, and

[2019-09-24 19:14] nad commented on #4106
There is some documentation of `INJECTIVE`:

https://github.com/agda/agda/blob/c8be152f58c1bda4713817de89458a37b8beda97/CHANGELOG.md#L2213-L2231

[2019-09-24 19:38] nad commented on #4044
Some points based on our discussion:
* The renaming strategy is underspecified, and it might make sense to change it. (Not only because it is buggy. @jespercockx, could you report the bug that you encountered?)
* A partial specification:
  * There should be no shadowing in pretty-printed terms/contexts.
  * Free variables that are in scope should not be renamed.

  An example: Consider `λ x → (? ,

[2019-09-25 05:15] canndrew commented on #4106
@nad is it supposed to work with functions, like I've done in my code (declaring `Ctx` as injective)?

[2019-09-25 08:06] jespercockx commented on #4106
It is supposed to work with functions like in your example, yes. However, at the moment it only gives you *propositional* injectivity (so you can pattern match on a proof of `interp x ≡ interp y`, but not *definitional* injectivity (so the constraint solver still doesn't know how to solve the constraint `interp ctx-l = interp _ctx-l_17`). It would probably not be too hard to improve the constraint

[2019-09-25 08:14] jespercockx opened #4107 "Inserted implicit arguments of lambda both get the same name"
Example code:
[code]
When asking Agda to normalize and print `foo`, it returns `λ x → ?0 {x = z} {x = z} (x = x)`. Both implicit arguments `x` of the hole are called `z`, but they are clearly distinct. Asking Agda to show the goal type and context gives the correct response:
[code]

[2019-09-25 08:15] jespercockx commented on #4044
Yes, I reported it here: https://github.com/agda/agda/issues/4107

[2019-09-25 08:56] AndrasKovacs commented on #4105
I investigated this a bit more, and now I think that my previously proposed solution is too simplistic.

It's too paranoid: it thinks that any checked expression might possibly be wrapped in implicit lambda. This is true in principle, but in practice we avoid using implicit arguments which are never inferable.

For example, if we have

[code]

We get an unsolved constraint for `true'`, because `id

[2019-09-25 12:28] andreasabel commented on #4089
Example from ProgLog meeting 2019-09-25:
[code]

[2019-09-25 18:01] nad commented on #4040
I tried to comment out the [problematic lines in `addCtx`](https://github.com/agda/agda/issues/4044#issuecomment-527126084), and with that change the difference in performance between 2.6.1-6df563c and 2.6.1-3f9d17f seems to be small for the test case mentioned above. (I used GHC 8.4.4 for the test.)

[2019-09-26 14:31] bishboria opened #4108 "Changing parameter order increases typechecking time"
I'm working on proving metatheory for Dependently typed lambda calculus and have noticed that changing the order of the input parameters has a big effect on the time it takes to typecheck the file.

For example, I originally had (ignoring `forall` implicits):

[code]
This takes 22 seconds to typecheck the whole file.

I changed the order to
[code]
and the typechecking time halved to 11 seconds!

I

[2019-09-27 09:43] nad commented on #4040
Oops, I should have compared 3f9d17fb13cc122cc91d1e1e47cb8c0d185b177e and 941d94b59aa77f88097136828614257560c466ff… I'll rerun the tests.

[2019-09-27 10:36] nad commented on #4040
2.6.1-3f9d17f seems to be about 17 % slower than 2.6.1-941d94b (for the same test as above, with the lines commented out). Thus it seems as if some of the slowdown can be explained by the problem discussed in #4044, but not all of it.

[2019-09-27 11:29] guillaumebrunerie commented on #4060
I tried on the issue4103 branch, which includes that commit, and the results are the same. It’s very fast with records, whether or not I use `--no-projection-like`, and very slow and memory hungry with data types, whether or not I use `--no-projection-like`.

[2019-09-27 11:33] guillaumebrunerie commented on #4060
And with the `--no-fast-reduce` option, it very fast in all situations (records or data types, `--no-projection-like` or not), so it definitely has to do with the Agda Abstract Machine.

[2019-09-28 14:16] canndrew opened #4109 "cannot declare data types in Setω"
On agda master branch this code no longer compiles:

[code]

[2019-09-28 16:43] asr commented on #3725
For the record, commits 0406cea17b5380d4ee797318f26d8642359bfe74, c58ad55446ce1d6341614d6f8b5efab0c61142a4, and 36df9213fc6cc783d04d9da70bc3c93d3b3b21b1 are related with this issue.

[2019-09-28 16:55] asr opened #4110 "Re-enable use of Edison"
The dependency in [EdisonCore](http://hackage.haskell.org/package/EdisonCore) was removed in [this](770fa53e9bee462484e74a6d3017962e6c731b9b) commit because #3725. In relation to the use of this library, @nad [wrote](https://github.com/agda/agda/issues/3725#issuecomment-512343829)

and @L-TChen  [wrote](https://github.com/agda/agda/issues/3725#issuecomment-512513452)

I'm waiting the merge of http

[2019-09-28 16:58] asr commented on #3725
In relation to the use of Edison, I filed #4110 and I updated the OP.

[2019-09-28 21:40] UlfNorell commented on #4110
Why would we want to add the Edison dependency back? If you're concerned about performance regressions from using `Data.Sequence`, please provide test cases.

[2019-09-28 21:43] UlfNorell commented on #4109
Does this work with previous versions?

[2019-09-29 17:38] andreasabel commented on #4105
See also #1079 for the canonical issue dealing with implicit lambda insertion.

[2019-09-29 18:11] andreasabel commented on #4103
Well, I consider an optimization "sound" if it is merely an optimization, i.e., only changes the timing behavior but not the logical behavior.

The projection-likeness optimization speeds up the `library-test`by around 3-4%, from around 620sec to around 600sec on my machine.  The speed-up seems to be in the garbage collector (fewer runs), but what is puzzling me is that the optimization does not s

[2019-09-29 19:48] UlfNorell commented on #4103
The standard library is probably not the best place to look. The big win is in examples working with heavy encodings where you can easily go from exponential to close-to-linear checking time.

It doesn't change the logical behavior. The erased arguments are there, the problem is that the rewriting machinery doesn't know where to find them. As you mention, projection-likeness existed before rewrite

[2019-09-30 08:38] andreasabel commented on #4103
If that is true (I don't per se doubt it), then it should not be hard to have a corresponding test in the testsuite that exhibits this behavior.  In particular, it would execute instantaneously with projection likeness on, but run out of time with `--no-projection-likeness`. Such a test would secure projection-likeness as a feature against accidential breakage by refactorings etc.

So, is there su

[2019-09-30 09:20] UlfNorell commented on #4103
Not sure (couldn't find one in 5 min looking). A version of `benchmark/categories/Language.agda` with a datatype for Σ should do it I believe.

[2019-09-30 09:28] nad commented on #4103
It might be easier to find/construct a test case if you pushed 07831176a2e84eb572e0f2620e44f3382d9858de.

[2019-09-30 12:40] L-TChen commented on #4094
I am planning to pull the translation between the reflected syntax and internal/abstract syntax out of the core and insert a constructor called `Reflected` (subject to change) into abstract and internal syntaxes. This will be similar to #4087, but more radical.

Afterwards, the translations will exist as a package written in Agda. Moreover, the abstract and internal syntaxes should be accessible t

[2019-09-30 13:38] jespercockx commented on #4094
How do you intend to make the abstract and internal syntax available to the user? By providing Agda bindings directly to the corresponding Haskell datatypes? I am not sure if that is a good idea, since the constructors tend to change between different releases of Agda (for example, I recently did a refactoring of the internal representation of universe levels).

[2019-09-30 14:20] L-TChen commented on #4094
Yes, unless there is any better way.

The current situation is not better than the proposal. Whenever the internal syntax is changed, the reflected is not always updated accordingly, or it simply does not support new constructs at all. By exposing the entire syntax, one can choose to work with the internal representation (for performance?) or translate it to a simplified reflected syntax as we hav

[2019-09-30 15:01] jespercockx commented on #4094
Working with the internal representation directly would not necessarily give a boost in performance, at least not in the same way as #4087. The reason is that any change to the syntax may invalidate well-typedness of the term, so it has to be re-typechecked before being accepted by Agda. In contrast, #4087 avoids (part of this) cost by tagging literal reflected terms with their type and context.

[2019-09-30 17:36] L-TChen opened #4111 "Proposal: Revise the reflection framework"
As suggested in #4094, I plan to re-organise the reflection framework in a number of ways.  The following are proposed changes:

1. exposing the abstract and the internal syntaxes,
2. moving the translation between the original reflected syntax and other syntaxes from the core to an external Agda library,
3. adding the ability of running macros before type checking, and
4. adding a syntax for type

[2019-10-01 08:01] gallais opened #4112 "Size inference incompatible with eta-expansion"
`concatMap` is accepted, the version with an eta-expanded argument and
`concatMap'` is also accepted because we explicitly pass the size argument.
`concatMap''` is not however accepted (and similarly the version using a
section which is desugared to `concatMap''` is also rejected).

[code]

[2019-10-02 09:41] andreasabel commented on #4025
I have the cabal builds failing strangely:
https://travis-ci.org/agda/agda/jobs/592075578
[code]
There seem to be problems with the build script!?
(I cannot see how my commits could have causes that: https://github.com/agda/agda/compare/c18cf06731bd...ea0285235e4f )

[2019-10-02 12:21] L-TChen commented on #4025
That's really odd. The build script consists of essentially the same commands as the old one. I will take a look soon.

[2019-10-02 12:35] andreasabel commented on #4060
Pushed now.

[2019-10-02 13:14] andreasabel commented on #4103
OP can be fixed since the rewriting matcher is anyway type-directed, thus, can reconstruct dropped parameters.

[2019-10-02 13:29] #4039 closed, assigned to nobody

[2019-10-02 13:32] #4035 closed, assigned to nobody

[2019-10-02 13:35] andreasabel commented on #1097
Please open a new issue for this part.

[2019-10-02 13:35] #1097 closed, assigned to nobody

[2019-10-02 15:56] L-TChen commented on #4025
I re-started one of successful jobs in the past, and it also failed when building dependencies.
See, https://travis-ci.org/agda/agda/jobs/591267479.

Therefore, the sed parsing (also used in the original build scripts) fails probably due to a change of output format of `cabal install --dependencies-only --enable-tests --dry-run` so that `cabal fetch` does not get the list of dependencies correctly

[2019-10-02 19:14] #4025 closed, assigned to L-TChen

[2019-10-03 09:51] gallais commented on #4064
At some point we are going to need to make `<-` a reserved symbol and properly
parse do / irrefutable with expressions.

At the moment `(A : Set) ← unquoteTC A` is parsed as an expression (which fails
because we cannot have type annotations in expressions) and then the `RawApp` is
mined for a unique occurence of the identifier `←` which splits the expression
into pattern on the one hand and expres

[2019-10-03 12:01] nad opened #4114 "Translate do notation using record pattern lambdas (if possible)"
Do notation is translated to pattern-matching lambdas when regular lambdas with record patterns would work (see #1097).

[2019-10-03 12:12] nad commented on #4103
[code]

[2019-10-03 13:06] nad commented on #3759
Due to lack of (expressed) interest I am closing this issue.

[2019-10-03 13:20] JacquesCarette commented on #3759
Which perhaps a good way to force people express interest.  I know I've changed my own setup to up the defaults. Sometimes people who agree because something just seems obvious won't say so. Hopefully this will force the issue, at least with people actively watching this repo.

[2019-10-03 13:25] jespercockx commented on #3759
Wait, why would we *not* change the default RTS options? Is there something magical about the current values that they should stay this way? I say we should change it to some reasonable default that works well for most users. I don't have an opinion on exactly what value it should be, but the current one isn't it.

[2019-10-03 20:37] berndlosert commented on #2857
I installed agda 2.6.0.1 using homebrew on macOS Mojave and I also have this problem. I have neither cabal nor stack installed.

[2019-10-03 20:49] andreasabel commented on #4103
OK, excellent!

[2019-10-03 23:04] L-TChen commented on #2857
Sorry, what’s the problem? @berndlosert, can you post the error message if it is not identical to op’s?

[2019-10-04 06:32] berndlosert commented on #2857
It's the same:

[code]

[2019-10-04 11:09] L-TChen commented on #2857
It appears that you don't have the required package `ieee754` installed in your system, since you don't have cabal or stack.

Run `brew install cabal-install` and `cabal install ieee754`. Then it should work afterwards.

[2019-10-04 12:00] guillaumebrunerie opened #4115 "Elements in a proposition are needlessly reduced when pattern matching"
I’m having some performance issues with `Prop`, where it seems like sometimes Agda decides to reduce/normalize elements of propositions, even though it should never be needed. I reduced it to the following code, where the function `works` loads instantly whereas the function `loops` loops, which shows that it is somehow trying to reduce `tr` even though there is no reason to.

[code]

[2019-10-04 12:55] guillaumebrunerie commented on #4115
Slightly simpler test case:

[code]

[2019-10-04 13:09] ashinkarov opened #4116 "Internal error Forcing.hs:232"
When I press `C-c C-c x` on the hole in the example below, the argument is correclty expanded into cases, but instead of creating new holes for each case, I get the following error:
[code]

[code]

Example code:
[code]
I have seen two open bugs mentioning the same internal error, but it is difficult to tell whether it points to the same problem.

[2019-10-04 13:36] gallais commented on #4116
Shrunk down:

[code]

If you turn `1 + n` into `suc n` the problem goes away.

[2019-10-04 14:11] palkarz opened #4117 "Reflection: 'inferType' fails on functions"
In the following code Agda is unable to infer types for the first three tests (only `namedWithPatternsTest` passes).
[code]
The reported failure is
[code]

[2019-10-04 16:27] nad commented on #3759
By default there is no maximum heap size. Unfortunately it seems as if this setting makes GHC use quite a bit more memory in some cases.

@jespercockx, did you forget to add this issue to some milestone?

[2019-10-04 19:36] berndlosert commented on #2857
Thanks @L-TChen. Here's what I actually did to get it to work:

[code]

[2019-10-04 19:42] #2857 closed, assigned to nobody

[2019-10-07 12:10] #4044 closed, assigned to jespercockx

[2019-10-07 12:11] jespercockx commented on #4040
I pushed a fix for #4044, could you please try again to see how large the difference is now?

[2019-10-07 12:16] jespercockx commented on #4115
I can confirm the issue. The last message Agda gives before going into the loop is: `Checking injectivity of Issue4115.loops`.

[2019-10-07 12:42] #4115 closed, assigned to jespercockx

[2019-10-07 12:45] jespercockx commented on #4066
I cannot reproduce this issue on the current master.

[2019-10-07 14:11] zraffer commented on #3437
The reason why we have `Setω` is to give a type to expressions like `∀ ℓ → S ℓ` where `S ℓ : Set ℓ`. Also, the reason to have `Propω` is to type expressions like `∀ ℓ → P ℓ` where `P ℓ : Prop ℓ`; e.g. the irrelevant type `∀ ℓ → True ℓ` which itself is inhabited by the unique member `λ ℓ → tt {ℓ}`. The distinctive property of `Propω` should garantee the irrelevance of such level-polymorphic `tt`.

[2019-10-07 14:33] guillaumebrunerie opened #4118 "Elements in a proposition are needlessly reduced with datatype/no-eta record and an underscore"
Similar to #4115, the following code attempts to reduce an element of a proposition for no apparent reason. The debug output shows it to be stuck after saying `setting twin of _24 to be _23`

[code]

[2019-10-07 15:14] zraffer opened #4119 "make `ω : Level` when `--omega-in-omega`"
I whould vote for reopen the (ancestor of the) issue #3439 due to current presence of `--omega-in-omega`. I agree that there was no sence in `Setω` with `--type-in-type`. But currently I'm trying to write a code with level-polymorphic types with `--omega-in-omega` and it appears that there are no way to write functions on type which act both on `Set ℓ` and `Setω`. Even usual product `_x_` should b

[2019-10-07 15:18] #3828 closed, assigned to jespercockx

[2019-10-07 15:32] jespercockx commented on #4119
This seems like a nice idea. However, it might be a lot of work to actually implement because a lot of code relies on the internal representation of the `Level` (as I realized during a recent refactoring of that type). Basically one would have to add a new constructor to `Level'` in `Syntax.Internal` and fix all the coverage errors.

[2019-10-07 16:26] #4118 closed, assigned to jespercockx

[2019-10-07 16:27] jespercockx commented on #4118
Thanks for reporting, keep 'em coming!

[2019-10-07 16:36] jespercockx commented on #3008
@andreasabel in what release was this regression introduced? Please add the corresponding "regression in ..." label.

[2019-10-07 16:37] guillaumebrunerie commented on #4118
Thanks for fixing everything that quickly !

[2019-10-07 16:38] jespercockx commented on #3550
It seems the problem has not reappeared, so I'm closing this issue.

[2019-10-07 16:38] #3550 closed, assigned to nad

[2019-10-07 16:43] #543 closed, assigned to andreasabel

[2019-10-08 09:09] jespercockx commented on #1114
Since no-one seems to be eager to pick up further development of this feature, maybe it would be better to drop it. This would make space for someone to add a similar new feature that actually has a theoretical basis (e.g. https://dl.acm.org/citation.cfm?id=3209119).

[2019-10-08 09:12] jespercockx commented on #1145
@gallais why did you add the `status: blocking-issue` tag?

[2019-10-08 09:27] #1381 closed, assigned to jespercockx

[2019-10-08 09:39] jespercockx commented on #2170
Both the original issue and the issue reported by @tomjack seem to be fixed now. What remains is the issue reported by @Saizan (copied below):

[code]
This typechecks, but there is no way to fill in the `_` by hand (except by enabling `--irrelevant-projections`).

[2019-10-08 09:57] jespercockx commented on #1820
The original issue isn't, but the problem described by @andreasabel in comment 4 is:
[code]
The current behaviour of Agda when case splitting is to produce the following:
[code]
which is what one would expect.

Also, in a more tricky situation, Agda still seems to know what to do:
[code]
Case splitting on n produces this:
[code]

[2019-10-08 09:58] gallais commented on #1145
Because it is blocking #2293?

[2019-10-08 09:58] #1820 closed, assigned to jespercockx

[2019-10-08 10:09] AndrasKovacs commented on #4105
I worked out a general solution for implicit lambda insertion:

https://github.com/AndrasKovacs/elaboration-zoo/tree/master/experimental/poly-instantiation

In Agda, it would probably require adding two extra type formers to core syntax (telescopes, and telescope functions). I don't know if it's worth it; but it's also possible that native telescopes in core could be used to deal with other proble

[2019-10-08 10:14] andreasabel commented on #4116
See also #3898.

[2019-10-08 10:28] andreasabel commented on #4109
Before 2.6.0 the error was `Not in scope: Setω`, now it is `Failed to solve the following constraints:
  Has bigger sort: Setω`.

[2019-10-08 10:30] andreasabel commented on #4110
There seem to be no strong arguments to reintroduce _Edison_, thus, I close this issue.  Feel free to reopen should there be need for further discussion.

[2019-10-08 10:30] #4110 closed, assigned to asr

[2019-10-08 10:31] guillaumebrunerie opened #4120 "Elements of a proposition needlessly reduced during occursCheck"
Another one of the same flavor as #4115 and #4118. The last message given is
`occursCheck _18 (WeaklyRigid) of  (a ab)`.

[code]

[2019-10-08 10:33] andreasabel commented on #4106
Seems like the discussion has finished; thus, I am closing this issue.  Feel free to come back with a concrete proposal and reopen, if necessary.

[2019-10-08 10:33] #4106 closed, assigned to nobody

[2019-10-08 10:48] andreasabel commented on #4105
There might be similarities to a MSc thesis I supervised, see http://www.cse.chalmers.se/~abela/MScThesisJohanssonLloyd.pdf . This thesis was not implemented, as it did not solved all the problems.

[2019-10-08 11:18] nad opened #4121 "Pattern synonyms cannot be made private"
It appears to be impossible to make pattern synonyms private. The following code is accepted (with a warning about how "Using private here has no effect"):
[code]

[2019-10-08 11:37] nad commented on #4121
Note that hiding works, the following code is rejected:
[code]

[2019-10-08 12:08] guillaumebrunerie opened #4122 "Elements of a proposition needlessly reduced during positivity checking"
Similar to #4115, #4118, #4120. Both the record and the datatype below loop when checking positivity. It loops after
[code]
[code]

[2019-10-08 12:13] jespercockx commented on #4120
This one is harder to fix because there is currently no type information available in the occurs check.

It's also not 100% that the occurs check *shouldn't* do some reduction of (irrelevant) proofs. For example, suppose we have the following:
[code]
and the constraint solver is trying to solve `_1 := f false (_2 x)` where `x` is not in scope of the metavariable `_1`. Then it really helps to reduc

[2019-10-08 12:18] nad commented on #4040
2.6.1-4c04c65 seems to be about 8 % slower than 2.6.0.1 (for the same test as above).

[2019-10-08 12:25] #4066 closed, assigned to andreasabel

[2019-10-08 12:27] jespercockx commented on #2732
Now we have `pureEqualTerm : Type -> Term -> Term -> m Bool` in `Agda.TypeChecking.Conversion.Pure`, so we should revisit this issue. @andreasabel do you know in what places we are still using eta-contraction? Can they now be replaced by something more type-directed?

[2019-10-08 12:36] jespercockx commented on #2530
We now no longer reload primitive modules with `--ignore-interfaces` (but you can use `--ignore-all-interfaces` if you really want to), so I'm closing this issue. Feel free to open an enhancement request for the part of your proposal to not recreate interfaces from (external) libraries.

[2019-10-08 12:36] #2530 closed, assigned to nobody

[2019-10-08 12:55] jespercockx commented on #2498
Seems to be working in current master, probably this was fixed in https://github.com/agda/agda/commit/eb4ef55ac2386654498b639995a418c0f79fb2aa

[2019-10-08 13:10] jespercockx commented on #2902
@nad are you happy with the current solution (`--no-print-pattern-synonyms` + no resugaring of qualified patterns)?

[2019-10-08 13:24] jespercockx commented on #2823
The results of the poll are in: https://civs.cs.cornell.edu/cgi-bin/results.pl?id=E_ce6fe5e2a518ac98 ! It seems "Hönan Agda" is the favourite.

![Hönan Agda (Agda the Hen)](https://cdn.statically.io/gist/mietek/b7f53ad7259779c3509e8b236f569a5f/raw/2e3f3605f15fe73b06595f033f26b0928edb6600/logotype.svg)

What are the next steps for turning this into the official logo?

- [ ] Professional design (?)

[2019-10-08 13:31] ice1000 commented on #2823
+ [x] Change the avatar of Agda's GitHub org
+ [ ] Change the Agda icon on CodeWars

[2019-10-08 13:38] jespercockx commented on #3095
[code]
What is the expected behaviour here? Should Agda throw an error instead?

[2019-10-08 13:58] guillaumebrunerie commented on #4122
Issue #1899 seems related. The positivity checker fully normalize the telescope before checking for positivity, which is likely to cause a problem here.
Despite reading the comments at #1899, I’m not entirely convinced yet that we do need full normalization, though.

[2019-10-08 14:03] jespercockx commented on #4122
I wonder what is your actual use case for having a proof of a `Prop` marked as `{-# TERMINATING #-}`? Wouldn't  `{-# NON_TERMINATING #-}` do exactly what you want here (i.e. not reduce the proposition)?

[2019-10-08 14:07] guillaumebrunerie commented on #4122
My use case is simply that I have proofs of propositions that take quite a long time (and a lot of memory) to reduce. `{-# TERMINATING #-}` is just used here to simulate the fact that it takes a long time to reduce them (and find the places where Agda does try to reduce them), I don’t actually use `{-# TERMINATING #-}` in practice.

[2019-10-08 14:11] guillaumebrunerie commented on #4122
And so I can’t use `{-# NON_TERMINATING #-}`, as it makes Agda inconsistent.

But maybe the part of Agda that blocks reduction for definitions marked as `{-# NON_TERMINATING #-}` could be reused to automatically block reduction of elements of propositions?

[2019-10-08 14:15] gallais opened #4123 "Bug in the HTML backend"
Noticed by @laMudri: In [Relation.Binary.Rewriting](https://agda.github.io/agda-stdlib/v1.1/Relation.Binary.Rewriting.html) we get the following broken syntax highlighting:

![oops-agda-colours](https://user-images.githubusercontent.com/1094905/66402951-a8c46c00-e9dd-11e9-86a4-82d2e1bb2c17.png)

The corresponding html code is clearly not the right thing:

[code]

[2019-10-08 14:22] UlfNorell commented on #4122
You should be able to use `abstract` for that.

[2019-10-08 14:26] guillaumebrunerie commented on #4122
I tried, that’s how I found out about #4070. Abstract definitions still do reduce in other abstract definitions, so it’s not ideal either.

[2019-10-08 14:30] nad commented on #4123
I've also noticed this kind of thing, but I think I failed to reproduce the problem. Do you have a reproducible test case?

[2019-10-08 14:32] nad commented on #2902
I wasn't aware of `--no-print-pattern-synonyms`. I've turned it on now, but I haven't tested it thoroughly yet.

[2019-10-08 14:36] gallais commented on #4123
Travis seems to generate this for the dev version of [`Relation.Binary.Rewriting`](https://agda.github.io/agda-stdlib/Relation.Binary.Rewriting.html) too
so I would guess it is a (non-minimal) candidate.

Tried `agda --html --ignore-interfaces Relation/Binary/Rewrite.agda` just now
and I got the same problem

[2019-10-08 14:42] jespercockx commented on #4122
This would be possible, but I'm not sure if this will actually result in the proper behaviour for the checks that are now looping (occurs check, polarity check). I could set up a branch to experiment further with this idea.

[2019-10-08 14:58] #4121 closed, assigned to nad

[2019-10-08 15:01] jespercockx commented on #3099
As suggested to me by @nad, I enabled the `--double-check` flag in the test suite (for succeed and fail), except for the test cases where it doesn't pass (yet). That way, we make sure future patches do not make the situation worse than it is currently, and newly introduced bugs might be uncovered faster.

[2019-10-08 15:07] L-TChen commented on #4111
I need to formalise the idea in a smaller language like PCF first and see how it works. Close this issue for now before I have a concrete proposal.

[2019-10-08 15:07] #4111 closed, assigned to nobody

[2019-10-08 15:48] jespercockx commented on #4122
I've added a flag `--no-reduce-prop` which seems to solve the problem. Could you please test out if it also helps with your performance problems? If it does and doesn't have too many negative side-effects, we could make it into the default behaviour.

[2019-10-09 08:34] jespercockx commented on #2099
It seems @AndrasKovacs has a proposal on how to fix this problem at https://github.com/AndrasKovacs/elaboration-zoo/tree/master/experimental/poly-instantiation.

[2019-10-09 08:51] jespercockx commented on #3381
I'm closing this in favour of #434

[2019-10-09 08:51] #3381 closed, assigned to nobody

[2019-10-09 08:53] #3351 closed, assigned to nobody

[2019-10-09 08:57] jespercockx commented on #3316
Current error message:
[code]
Does this seem acceptable @nad?

[2019-10-09 09:12] jespercockx commented on #3210
@andreasabel you added this to the 2.6.1 milestone. Are you planning to work on this?

[2019-10-09 09:22] gallais commented on #3801
Should we at least have a warning (turned off by default if it is judged too
verbose) whenever we shadow a previous toplevel declaration?

[2019-10-09 09:27] jespercockx commented on #3559
This seems to be an instance of the general problem where Agda doesn't know whether to insert an implicit function space or not (#2099).

[2019-10-09 09:27] #3559 closed, assigned to nobody

[2019-10-09 09:31] jespercockx commented on #3549
This works fine for me. @andreasabel can you confirm this is still a problem?

[2019-10-09 09:33] jespercockx commented on #3493
There is now the `--no-reduce-prop` flag to control reduction of definitions in `Prop`, so I'm closing this issue.

[2019-10-09 09:33] #3493 closed, assigned to jespercockx

[2019-10-09 09:36] #3453 closed, assigned to nobody

[2019-10-09 09:37] gallais commented on #3549
Does not work for me.

[2019-10-09 09:39] jespercockx commented on #3423
@UlfNorell what's the status of this feature? I remember you working on it but I cannot find it in the user manual yet :)

[2019-10-09 09:45] nad commented on #2099
@AndrasKovacs, how is the example described by @andreasabel [above](https://github.com/agda/agda/issues/2099#issuecomment-305958549) handled by your system?

[2019-10-09 09:49] nad commented on #3316
Yes, I think so.

[2019-10-09 09:49] #3316 closed, assigned to jespercockx

[2019-10-09 09:52] nad commented on #3549
Can you construct a reproducible test case?

[2019-10-09 09:55] gallais commented on #3549
It does not work for any module at all. So this is enough (open it, load it,
close emacs, open another file and then `C-x C-f` the M module):

[code]

[2019-10-09 09:56] nad commented on #3423
https://github.com/agda/agda/blob/856415f51b60171f9799912cfc89622913783f88/CHANGELOG.md#L188-L203

[2019-10-09 10:04] nad commented on #3549
I saw now that this feature is only supposed to work for cached interface files:

https://github.com/agda/agda/blob/856415f51b60171f9799912cfc89622913783f88/src/full/Agda/Interaction/InteractionTop.hs#L565-L595

[2019-10-09 11:09] jespercockx commented on #3423
Thanks, I was looking in the user manual. @UlfNorell could you please add something there as well?

[2019-10-09 11:10] nad commented on #3549
I seem to recall that the reason for this restriction is that I did not want Agda to automatically purge the cache if a file outside of the current project was visited. However, presumably it is possible to load the highlighting information without affecting the cache.

[2019-10-09 11:28] martinescardo commented on #3903
I am also getting "Uh oh" in patterns `refl (x , y)` where my `refl` has its argument explicit, with Agda 2.6.1-856415f. With Agda 2.6.0.1 it works fine.

[2019-10-09 12:12] mietek commented on #2099
Additional test cases can be found in these issues:
https://github.com/agda/agda/issues/1079
https://github.com/agda/agda/issues/1092
https://github.com/agda/agda/issues/1095
https://github.com/agda/agda/issues/1533
https://github.com/agda/agda/issues/2412
https://github.com/agda/agda/issues/2500
https://github.com/agda/agda/issues/2766
https://github.com/agda/agda/issues/3468
https://github.com/a

[2019-10-09 12:21] jespercockx opened #4124 "Tactic modality for record fields"
It would be nice if it was possible to have a record field with an `@tactic` modality. Currently this example parses but Agda silently drops the tactic:
[code]

[2019-10-09 13:10] jespercockx commented on #2801
Currently, the goal is displayed as `Goal: (a b : A) → P (plus a b)`. Arguably this situation is worse than before (although in this particular case more readable).

[2019-10-09 13:14] jespercockx commented on #2801
Adding a display form `{-# DISPLAY Class._+_ inst a b = a + b #-}` does solve the problem (EDIT: only when asking for the unreduced goal with `C-u C-c C-,`). Maybe we could generate such display forms automatically when checking an `open Class {{...}}` statement.

[2019-10-09 13:19] jespercockx commented on #2801
The problem with adding a display form is that it applies equally to terms that were written using definitions from the original module. So it would be better to preserve the original name rather than trying to reconstruct it after the fact.

[2019-10-09 13:19] UlfNorell commented on #2801
I've considered this in the past, and decided it's not a good idea since it would also apply when the instance argument is not the one that would be found by instance search. Counterpoint: I frequently use these display forms myself.

[2019-10-09 13:51] #3423 closed, assigned to UlfNorell

[2019-10-09 14:04] UlfNorell commented on #4124
Currently there's no place put the tactic in the abstract syntax. I think the `DefInfo` would be a good candidate.

[2019-10-09 22:32] AndrasKovacs commented on #2099
@mietek Thanks for gathering this, I'll review the examples.

@nad Regarding that example:

First, I did a bit more simplification, and looked at the Church-encoded version of the following code in my implementation:

[code]
Observations:

#### Behavior of my current implementation

It does the same thing as Agda: it chooses the outer quantifier instead of the inner one. With holes, we would get t

[2019-10-10 07:41] jespercockx commented on #2801
Another possible solution would be to add a `QName` to the `ProjOrigin` to remember the original name that the user has written (as opposed to the normalized name that we store now). This name could then be used by the pretty-printer to generate something closer to what the user wrote.

[2019-10-10 20:24] nad commented on #2099
Here is another example:
[code]
Does your system handle this example correctly?

[2019-10-10 21:13] AndrasKovacs commented on #2099
@nad: I can't reproduce that closely because it uses constructor-headed function inference. But just looking at it, it would not work, because I don't sandwich telescopes between lambdas. I would check `(λ hyp _ → hyp _)` with the meta-headed type `α ↝[ β ] γ `, which results in a telescope lambda inserted only on the outside of the expression. Possible solution would be more aggressive telescope

[2019-10-13 07:06] divipp commented on #2823
I've made my contribution (maybe a bit late...): https://i.imgur.com/fZ4YoE1.jpg

[2019-10-13 13:04] andreasabel opened #4125 "Type checker normalizes too much"
[code]
The context displays the type of `b` as `F A` where I would like to see `B`.

(Does not matter much for this toy example, but in real projects, needless unfolding kills readability.)

UPDATE: The above problem is already created in the type checker (`checkExpr`), not in the constraint solver.

[2019-10-13 15:52] JacquesCarette opened #4126 "Renamed module in scope confuses C-c C-o"
Consider the following definition
[code]
When using C-c C-o to ask about the module content, we get the expected result:
[code]

But, when adding the following that renames the binary operation from op to _+_
[code]
and using C-c C-o in a hole to ask about the module content of **Semigroup** _not AddSemigroup_ , we get
[code]
The symbols used somehow involve `AddSemigroup`, for no apparent reason.

[2019-10-13 16:00] JacquesCarette opened #4127 "Module contents (C-c C-o) should sort its output"
This is a continuation of #4126 , so the preamble there will not repeated here.

When asking about the module content of AddSemigroup, this is what we get:
[code]
Notice that, although correct, the declarations are not presented in a 'valid' order in the sense that they are not well-typed, i.e. they cannot be interpreted as a telescope. This is not very helpful.

[The fact that the names are all q

[2019-10-13 19:43] AndrasKovacs commented on #2099
I added extra telescope lambda insertion in order to support @nad's previous example.

I looked at the code examples which were sufficiently reproducible. [Here's a link](https://github.com/AndrasKovacs/implicit-fun-elaboration/blob/8df450d530da5f674485c81f6d5704f072c08285/fcif/Agdaissues.txt) to the file that I produced, containing some discussion.

In short:

- https://github.com/agda/agda/issue

[2019-10-13 20:42] andreasabel commented on #4125
Here is an example from a large development where case splitting one level further weak-head(?) normalizes all context entries: https://gofile.io/?c=kjI4yu

Could the reduction of the unifier state be responsible for this?
https://github.com/agda/agda/blob/eb1792efa07c1c415dbf7272c6b85c5b68f7817b/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L256-L262

See also #3578.

[2019-10-13 22:34] andreasabel commented on #4126
Mmh, I am not very surprised, given Agda's name architecture.  Agda's internal "abstract names" are turned into "concrete names" (which are printed) by some heuristics.  If you add a module alias 'module N = M' then 'M.x' and 'N.x' map to the same abstract name, and the conversion back to concrete names is ambiguous.  No matter what heuristics is chosen, it does not serve all cases well. For insta

[2019-10-14 08:29] andreasabel opened #4130 "Testsuite: add failing test reporting "Ambiguous constructor" error"
There isn't a single test triggering this error yet.

I am filing this since I believe there are problems with this error message.  I have come across an error like:
[code]
This error message has some flaws:
- renaming the constructor name from `[]` to `[]₁`
- both <loc>ations point to the same: the original declaration of the data type with the offending ambiguous constructor.  Instead they shoul

[2019-10-14 09:50] bgavran opened #4131 "Record definition doesn't compile without a specific `let` binding"
The following function is a part of a record:

[code]
and the entire record fails to compile unless I change the function implementation to:
[code]

The error which shows up when compiling the record with the first function is:
[code]

I would expect not to have to write that `let` binding and I'm not sure how to approach the issue.
The only code this particular problematic code is the following f

[2019-10-14 12:54] laMudri commented on #4131
I've cut it down this far:

[code]

Not sure what the problem is still, but it has something to do with how definitions before fields are handled.

[2019-10-14 14:43] guillaumebrunerie commented on #4131
Here is an even shorter example. The idea is that we should have `f' {x} {y} = f {(x , y)}` but Agda only figures it out when using `f' = let u = f in u`.
It seems to have to do with the fact that the let in for `f'` does not maximally insert its implicit arguments, but the one for `u` does.

[code]

[2019-10-14 14:47] guillaumebrunerie commented on #4131
Definitions before fields are translated to let-in expressions, and this creates various issues. See #434.

[2019-10-14 14:49] guillaumebrunerie commented on #4131
A very similar issue is #3381.

[2019-10-14 15:03] bgavran commented on #4131
Thanks for making the example more precise, and for linking this to other issues. Putting an empty pattern match `{_}` on  `αₘ` seems to mitigate the issue, for now.

[2019-10-14 15:37] gallais opened #4132 "The regular expression for floats in the lexer is too liberal"
Trying to import the following file yields a `Prelude.read: no parse` error.
We should not do that.

[code]

[2019-10-14 17:18] #1073 closed, assigned to jespercockx

[2019-10-14 18:36] jespercockx opened #4133 "Coercion from irrelevant to relevant function space should eta-expand"
While working on the (final remaining subproblem of) #2170, I (re)discovered that Agda allows the subtyping rule "if `f : .A -> B` then `f : A -> B`". This is obvious nonsense, `f : .A -> B` only implies that `\x -> f x : A -> B`. We could make use of the `coerce` function to insert this lambda when necessary.

Since this does not seem to be the *direct* cause of #2170, I'm creating this issue to

[2019-10-14 20:29] jespercockx opened #4134 "Internal error triggered by missing check for irrelevant meta dependencies"
(discovered while working on a solution for #2170)
[code]
[code]

Analysis of the problem:
- conversion checker tries to solve `X (x true) == f x`
- occurs check doesn't complain about the dependency of the solution `x` since it occurs unguardedly on the LHS
- however, `inverseSubst` cannot find a way to bind `x` in the solution of `X`, falling back to putting `__IMPOSSIBLE__`
- the final solution

[2019-10-14 23:14] asr commented on #3725
Enjoy Agda with GHC 8.8.1.

[2019-10-15 02:32] andreasabel commented on #4125
Indeed it was!  I removed the whole `Reduce` instance, as it is harmful to readability of proof states. (This finishes #3578 for now, I suppose.)

[2019-10-15 02:32] #4125 closed, assigned to andreasabel

[2019-10-15 02:46] andreasabel commented on #4133
I agree with the action plan.  However, I disagree with

Since Agda does not fully erase irrelevant arguments in the compiler backend, but replaces them by a dummy argument, this subtyping rule is sound.

[2019-10-15 03:09] andreasabel opened #4135 "Constructor disambiguation picks non-unique solution"
In connection to working on the refactoring 8d20d5575c2f863fb13fa445309b8d53ee8896d3 of the disambiguation introduced in fea1dd1f1889fb122320314c0bb7d6a6126f6dd5, I am finding that we can bring Agda to assign a non-unique solution to a meta through its (too eager) disambiguation mechanism.
[code]
Agda has decided on
[code]
via the course of constructor disambiguation.
This contradicts the principl

[2019-10-15 07:46] jespercockx commented on #4133
But it leads to the construction of ill-typed terms! If we have `f : .A -> B` but apply it as a function of type `A -> B`, then the argument gets a `relevant` argInfo instead of the expected `irrelevant`. This messes up several things, in the case of #2170 it causes trouble for the occurs check.

[2019-10-15 08:20] jespercockx opened #4136 "Overzealous pruning of metavariable with irrelevant argument"
(issue found while working on a potential solution of #4134 while working on a solution of #2170)

[code]
Try to give the solution `λ x → x` for `Z`, this is rejected with message:
[code]
However, giving the solution `λ x → x` for `Y`, then reloading the file (important!), and *then* giving the solution for `Z` is accepted.

What happens is that when solving the equation `X (Y x) ≡ f (Z x)`, `x` i

[2019-10-15 08:33] jespercockx commented on #4136
I'm wondering whether we should even be doing any kind of pruning of metavariables that occur in irrelevant positions in the solution, since any solution that *does* use a certain variable can always be definitionally equal to a solution that *doesn't*.  In this sense this issue is similar to #2876. The difference is that the issue here might be easier to solve since it's easy to tell if we're in

[2019-10-15 09:34] #2170 closed, assigned to Saizan, andreasabel, jespercockx

[2019-10-15 09:34] #4134 closed, assigned to jespercockx

[2019-10-15 09:34] #4136 closed, assigned to jespercockx

[2019-10-15 11:54] jespercockx commented on #3073
The cause seems to be in the call to `etaOnce` in `instantiateFull`: this is eta-contracting `\(A : Set) -> Set' lzero` to `Set'`, which is absolutely wrong. The check that the type of the domain is indeed `Level` is simply missing. However, it is not easy to add it because `instantiateFull` is not type-directed. Instead, I will try to remove it and see if anything breaks.

[2019-10-15 12:18] #3073 closed, assigned to jespercockx

[2019-10-15 12:19] jespercockx commented on #3073
Removing the ill-typed eta-contraction did not break anything in the test suite, so I went ahead and pushed it.

[2019-10-15 14:01] nad opened #4137 "Reflexive constraint involving erased projection not solved"
I have some code that used to work. Bisection suggests that, starting from b3aec6fa44a5ef077c30e563208c2274ef39e4d4 ("[ #3855 ] occursCheck: check for erased definitions"), the code fails to type-check. Apparently there is a constraint of the form "e = e" that Agda refuses to solve. Further bisection suggests that, starting from 72c8afd53b7b3e6b0af2b73fb6066f9e4140fdfd ("[ #4125 ] Use unreduced ty

[2019-10-15 15:06] jespercockx commented on #3233
In case of code highlighting, I am of the opinion that more colors is always better.

[2019-10-15 21:46] gallais opened #4138 "Handle indented blocks in the lexer?"
Looking at https://github.com/pigworker/Syrup, I envy the fact that a parse
error in a definition does not mean the rest of the file is ignored: if we
handle indentation (& the corresponding notion of a block being the child of
another) directly in the lexer then parsing may fail in a sub-block without
preventing us from parsing and making sense of the rest of the file.

Example:

[code]

[2019-10-16 03:44] andreasabel commented on #4133
Ah, yes, this is #3986 (forgot about it). See also PR #3914.
Closing as duplicate.

[2019-10-16 03:44] #4133 closed, assigned to nobody

[2019-10-16 03:55] andreasabel commented on #4135
Note that on the RHS we do get the `Can't resolve overloaded constructors targeting the same datatype`:
[code]

[2019-10-16 12:32] guillaumebrunerie commented on #4122
It doesn’t seem to solve the performance problems :(
I think that I’m often dealing with terms (in Set) where some of the subterms are elements of propositions, but they don’t necessarily have a name themselves.

Also it seems to badly interact with `--no-fast-reduce` and importing modules. In some situations (somewhat unclear so far) I get:
[code]

[2019-10-16 12:50] oisdk opened #4139 "Allow Errors in Latex Output"
Occasionally it would be useful to be able to display a complaint from the totality checker in the latex output from a literate Agda file. Something like the following would be ideal:

<img width="645" alt="Screenshot 2019-10-16 at 13 44 57" src="https://user-images.githubusercontent.com/12214150/66920525-62918d00-f01b-11e9-90f0-9f00d177d365.png">

From Conor McBride's [Turing-Completeness Totally

[2019-10-16 12:55] gallais commented on #4139
May be worth considering adding an `--unsafe` pragma option so that the default
behaviour of Agda even with the `--latex` option is still to fail upon finding
errors but we can explicitly state that we know there is an issue but still want
the latex/html/whatever output.

Somewhat related: #2114

[2019-10-16 13:05] MirceaS opened #4140 "removing final empty implicit argument changes behaviour"
Hi!
I was working in Agda and I found a weird scenario where putting in an empty implicit argument `{_}` at the end of a function definition was accepted by agda while removing it made the whole program not type-check.
https://github.com/agda/agda-categories/blob/2eb7858ec634a2fe44767528014b4ac21f5ef061/Categories/Category/Monoidal.agda#L68
Here is the repository and file that I was working on. At

[2019-10-16 13:21] guillaumebrunerie commented on #4140
Your issue is identical to #4131.
The problem is because definitions between fields of record types are translated to let-expressions, and let-expressions have several problems, including some related to implicit arguments.

[2019-10-16 13:32] guillaumebrunerie commented on #4140
A slightly shorter workaround is
[code]

[2019-10-16 15:14] jespercockx commented on #3337
I implemented printing apllications of *defined symbols* in `Prop` as `_` (unless `--show-irrelevant` is enabled). This does not quite cover all cases, but hopefully proofs that don't use any definitions are not very large anyway. Feel free to reopen if there is still too much clutter.

[2019-10-16 15:14] #3337 closed, assigned to jespercockx

[2019-10-16 15:24] jespercockx commented on #4122
Another idea would be to wrap all elements of a `Prop` in a `DontCare` constructor as we do for irrelevance. In principle this ought not to be necessary for `Prop` so I didn't feel the need to do it, but perhaps it would actually make things easier (also e.g. #3337). I'll try and see if it works.

[2019-10-16 15:33] jespercockx opened #4141 "Printing of DontCare should not use dot syntax"
Currently terms that are marked internally as `DontCare` are printed as a dotted term `.t`. I propose that they should be printed instead as either `_` or `t` (when `--show-irrelevant` is enabled). See also #316, #3337, and #4122.

[2019-10-16 17:10] HuStmpHrrr opened #4142 "defCopatternLHS needs to be set when record expression were translated to copatterns"
consider the following program

[code]

to make the proof to work, either

* turn on `eta-equality` in the definition of `single`, or
* case split on `x`.

however, [the doc](https://agda.readthedocs.io/en/v2.6.0.1/language/record-types.html#eta-expansion) seems to indicate that `eta-equality` is on by default. so why this program doesn't work? is this a bug or just some subtlety?

[2019-10-18 08:06] chiaki-i opened #4143 "`unify` for parameterized datatypes"
It would be nice if `unify` succeeds under the parameterized datatypes.
The source code below is checked with Agda 2.6.0.1 and std-lib v1.0.

I got two minimal examples of multi-step addition of natural numbers (module Nat, module Nat-param). In the first module (Nat), `runTC` succeeds in `multi-step` example although the fourth argument of `trans*` is dependent on the second argument.

[code]

In

[2019-10-18 08:25] UlfNorell commented on #4143
I cannot reproduce this on `2.6.0.1` with `stdlib-1.0`.

When I give (<kbd>C-c C-SPACE</kbd>) `runTC` in the 4th arg hole it is accepted and I'm left with
[code]
Reloading the module also works.

Same on Agda `master` + stdlib `experimental`.

[2019-10-18 14:59] guillaumebrunerie commented on #4122
Would that also solve #4120, about occursCheck? I profiled Agda (`-v profile:10`) on another file of the project on which we have performance issues (`totality.agda` from https://github.com/guillaumebrunerie/initiality, if you want to try it yourself, although you might need a lot of memory to make it work).
The results are the following:
[code]
As you can see, positivity checking and occurs check

[2019-10-18 17:09] nad commented on #4122
"Positivity" includes the machinery that keeps track of how function arguments are used, in case a function is later used as part of a (co)inductive definition.

[2019-10-18 17:57] anuyts opened #4145 "Print error messages *above* goals"
I would suggest to print error messages and important warnings above goals, rather than below.
I've noticed that with the current output of the load command, in a file with many holes, students tend to *not* notice they're getting errors, as these may be off-screen when you have many holes.

[2019-10-19 01:33] chiaki-i commented on #4143
(I'm sorry I didn't make it clear enough.)

When I tried `C-c C-SPACE` and `C-c C-r`, `runTC` was accepted and there were some unsolved metas.

[code]

However, when I tried `C-c C-m` (elaborate and give), I received the following error.

[code]

[2019-10-19 10:28] jespercockx commented on #3337
With the fix of #4120 all elements of a proposition should now be printed as `_`, not just the `Def`s.

[2019-10-19 10:31] jespercockx commented on #4122
I pushed the new behaviour of wrapping all elements of a `Prop` in a `DontCare` constructor. @guillaumebrunerie could you do the performance test again with this change?

[2019-10-19 12:17] nad commented on #3337
#4120 is still open. Did you mean some other issue?

[2019-10-19 12:40] jespercockx commented on #4122
I tried to run the test myself but I ran out of memory. Apparently 16GB is not enough...

[2019-10-19 12:43] jespercockx commented on #3337
It's part of a series of issues that is *hopefully* fixed by https://github.com/agda/agda/commit/7383b7e4b637a3371524abeebc76c66659573067, but I'm waiting for confirmation by @guillaumebrunerie since I cannot run the test myself due to limited RAM.

[2019-10-19 15:44] guillaumebrunerie commented on #4122
I’ll try it on Monday when I’ll have access to my work computer (with 32GB of memory…).

[2019-10-20 01:36] MirceaS opened #4146 "collapsing/expanding code blocks in emacs"
If I may suggest an addition to the emacs agda mode, I would say that it would be rater useful if we could collapse or expand blocks of code, such as the implementation of a function, or a whole record. This would make large files a lot easier to navigate although I don't know whether this functionality can be added in emacs or how difficult that would be; I just thought I would throw this idea ou

[2019-10-20 08:42] gallais commented on #3549
Related: #725

[2019-10-20 08:49] jespercockx commented on #4146
It seems this feature could be implemented as an independent emacs package rather than as a part of Agda. If anyone wants to take a look, the HideShow package (https://www.emacswiki.org/emacs/HideShow) seems like it would be a good starting point. I tried their "universal folding function" on some piece of Agda code, but unfortunately it does not work as expected for function definitions since the

[2019-10-20 15:29] sattlerc opened #4147 "Loss of subject reduction with rewriting and abstract"
The following code is accepted by a recent version of master (1845cb0, Sep 16).

[code]

Note that it is rejected with --double-check:
[code]

I'n not sure what the semantics of rewriting rules in abstract blocks are.

I would have expected to be forbidden from declaring the above rewriting rule inside the abstract block since the left-hand side reduces. Declaring the rewriting rule outside the ab

[2019-10-21 07:05] nad commented on #725
There is also the "Abort a command" command, which preserves highlighting.

It is presumably very easy to change the "Kill and restart Agda" command so that it does not remove highlighting (just remove `(agda2-remove-annotations)`, but make sure that this command is still run when Agda starts rather than restarts). However, I like the visual feedback that I get when all the highlighting is removed

[2019-10-21 07:10] nad commented on #4147
It would be easy to check if there are any subsequent uses of `abstract` in the same "scope".

[2019-10-21 08:14] andreasabel commented on #4145
Not sure this would suit all Agda users the same.  I want to ignore warnings while working on goals; often they go away when the goal is solved.

Maybe one of the following alternative would also solve this problem:
1. Print a single line above the goals notifying that there are errors below. (Easy fix.)
2. Have a separate buffer for displaying errors and warnings. (Need to restructure the emacs m

[2019-10-21 08:59] anuyts commented on #4145
Too many buffers seems annoying. I would prefer 1 over 2 (and 1 as a default in case 3).

[2019-10-21 11:06] andreasabel commented on #4142
This seems to be another regression introduced by the record-expression-to-copattern-translation (ace8e0d099402a625ac460862ae0a81fcec538d4).  There, it was forgotten to mark the replaced definition of `pack` with flag `defCopatternLHS = True`, this is why eta-expansion for the equality of neutrals `w = pack w` does not kick in.

[2019-10-21 12:25] nad commented on #4137
The following code triggers the internal error:
[code]
This code is accepted by b3aec6fa44a5ef077c30e563208c2274ef39e4d4, so perhaps the two issues are separate.

[2019-10-21 12:34] guillaumebrunerie commented on #4122
This seems to have broken implicit arguments whose type is a proposition. I now have tons of yellow everywhere. For instance the following works in 2.6.0.1, but now Agda can’t guess the implicit argument of `f`
[code]

[2019-10-21 12:42] jespercockx commented on #4122
Right, I guess the constraint solver now has to be a bit smarter and also solve equations of the form `DontCare x == u` when working in an irrelevant context. I'll see if I can fix it.

[2019-10-21 14:23] nad commented on #4137
Here is a test case for the other issue:
[code]
Agda fails to solve a constraint of the form `e = e`:
[code]

[2019-10-21 14:28] andreasabel commented on #4142
Fixed this by making the record-expression-to-copattern-translation remember whether a new copattern match was introduced, and if needed update the `defCopatternLHS` flag when the translation is revisited after positivity checking.

A quicker fix could have been to simply recompute the `defCopatternLHS` via `hasProjectionPattern` such as it is done in `Def.hs`.  Ideally, the `defCopatternLHS` coul

[2019-10-21 14:41] omelkonian opened #4148 "Internal error related to records and type-level indices"
The minimal program below produces the following internal error:
[code]
The type-level indices involved are particularly important:
[code]

- Tested with `Agda version 2.6.0`

[2019-10-21 14:48] andreasabel commented on #4140
Thanks for reporting @MirceaS, and for analysing, @guillaumebrunerie.  I am closing this as duplicate of #4131.

[2019-10-21 14:48] #4140 closed, assigned to nobody

[2019-10-21 15:17] andreasabel commented on #4148
Simplified slightly to
[code]
Agda's last words are:
[code]
This is a sanity check.  It may be that the check `con == con_` is too optimistic, as these constructors may not be in normal form.  Or a real problem was introduced between 2.5.4.2 and 2.6.0.  Bisect would be able to tell...
[code]
Let's see what it says (in a couple of hours).

[2019-10-21 15:24] #4142 closed, assigned to andreasabel

[2019-10-21 15:37] andreasabel opened #4149 "Internal error with instance and variable"
Split this bug out from https://github.com/agda/agda/issues/4137#issuecomment-544490634.
[code]
Agda reports an internal error at https://github.com/agda/agda/blob/94392cd0248f803026ae22cdc7e891510ac3fd32/src/full/Agda/TypeChecking/Substitute.hs#L84

[2019-10-21 15:41] andreasabel commented on #4137
The first problem does not involve erasure, so I split it out to #4149.
The second problem likely is caused by erasure, as the problematic terms involve the erased projection `index`.

[2019-10-21 15:50] andreasabel opened #4150 "Not in scope error instead of missing type signature error"
[code]
Up to 2.5.3, Agda reported
[code]
Since 2.5.4, the error has gotten worse:
[code]

[2019-10-21 16:19] jespercockx commented on #4122
Fix = pushed! Hopefully this will also help with solving metavariables when using irrelevance.

[2019-10-21 16:20] andreasabel opened #4151 "Cabal option to not generate the builtin .agdai files !?"
When running `agda-bisect` (and also when `make quicker-install-bin`) I don't want the `.agdai` for the builtin files to be generated eagerly.  I often have simple test cases that do not import any of the builtin modules.  It is annoying that `agda-bisect`, after compiling 370 Haskell modules, chokes  on the builtin modules and does not get to check my test case.

During a single bisection (#4148)

[2019-10-21 17:17] andreasabel commented on #4151
Ok I figured out one way to steer `Setup.hs` from outside:
* add a flag to the .cabal file, e.g.
[code]
* this flag can be queried in `Setup.hs`:
[code]
* pass this flag with `-fquicker` to cabal

However, the big drawback is that a change of cabal flags warrants a complete recompilation.  Thus, we cannot switch flag `quicker` cheaply on and off.

[2019-10-21 17:34] UlfNorell commented on #4151
I actually tried to do exactly this, but only to save some time recompiling with `make quicker-install-bin`. I gave up after 20 min trying to dig out information from the various build hook arguments and just temporarily commented out the code.

The program suffix is in `configProgSuffix (configFlags lbi)`, but it's a `Flag PathTemplate` and not a `String` and showing it to get something to compar

[2019-10-21 17:49] andreasabel commented on #4151
A better way is to check for program suffix `-quicker` in the `Setup.hs`:
[code]
This avoids the recompilation problem with the cabal flag.

[2019-10-21 17:51] andreasabel commented on #4151
However, for agda-bisect this does not help, as we are dealing with the `Setup.hs` from the past.  Maybe one could overwrite the setup file with the simple version
[code]
before cabal is run.

[2019-10-21 19:24] andreasabel commented on #4151
I implemented a new option `--simple-setup` for `agda-bisect` that replaces the `Setup.hs` file as described above.  Seems to do the job.

@UlfNorell : Thanks for your comment, unfortunately I did not see it on time, but I figured the `program-suffix` trick out myself.  Yeah, hackish, but it is only for developer productivity and not affecting our users.

[2019-10-21 20:59] andreasabel commented on #4151
Ha, success!  Bisect now finished in less than one hour!

[2019-10-21 21:29] andreasabel commented on #4148
After fixing `agda-bisect` in #4151, I got:

8abf95c40d405c4c2ade296be23d82c80f158b1b is the first bad commit

Seems the internal error is harmless, the sanity check goes through when we normalize the constructors.

[2019-10-21 21:29] #4148 closed, assigned to andreasabel

[2019-10-21 21:37] andreasabel commented on #4141
Testcase?!

[2019-10-21 21:44] andreasabel commented on #4136
Except for that darn empty types!

[2019-10-21 22:35] andreasabel commented on #4025
Thanks for fixing!

[2019-10-21 22:53] andreasabel commented on #3881
I did some work in 7c6ca42965a4c8ffb4f9f8cccfe5cf7bf100d054 to replace linear lookup in list by the logarithmic lookup in sets.

[2019-10-21 23:57] asr commented on #3881
@andreasabel, for keeping record of this good practice, please add an entry for the new function `hasElem` in the CHANGELOG [API](https://github.com/agda/agda/blob/754423526350459a7cdbc876da7eec534c52e4af/CHANGELOG.md#api) section.

[2019-10-22 06:26] andreasabel commented on #4149
[code]
says:
2f6f0c3d70a209011b28e30015cc1593135c89d0 is the first bad commit

However, such a commit does not exist in master.  Probably my invocation of `agda-bisect` was wrong.

[2019-10-22 07:50] jespercockx commented on #4136
There could still be *another* variable of the same empty type, no? So we can still not rely on any *particular* variable being present, even if we know that there must be *some* variable.

[2019-10-22 07:55] jespercockx commented on #4141
Two test cases in https://github.com/agda/agda/commit/7383b7e4b637a3371524abeebc76c66659573067

[2019-10-22 07:55] #4141 closed, assigned to jespercockx

[2019-10-22 08:34] guillaumebrunerie commented on #4122
Thanks!
The yellow is gone, although now I’m running into an issue when doing pattern matching on `refl`, when one side includes elements of propositions:
[code]
[code]

[2019-10-22 08:42] jespercockx commented on #4147
Thanks for reporting. There seem to be two main issues here:

- The confluence check should be able to look through `abstract` if a rewrite rule is added inside an abstract block (or if the abstract block could still be reopened).
- Rewrite rules declared *inside* an abstract block should not fire outside that abstract block (see #2335)

For the question about abstract blocks being related, @nad i

[2019-10-22 09:40] jespercockx commented on #4122
Aha, this seems to be similar to the fix I made to the occurs check in https://github.com/agda/agda/commit/e3562449c1fd67d9005edccb9323af73ae35a9a0, only now for the LHS unifier.

Apparently I unknowingly made a change to the semantics of `DontCare`: before it meant "this CAN only be used in an irrelevant context" (which has to be checked each time we encounter one), now it means "this WILL only b

[2019-10-22 10:10] nad commented on #4151
Why are there so many commits that do not build cleanly? I suspect that it happens that people merge branches without making sure that every commit is OK.

Perhaps this is inevitable. One workaround might be to somehow make the bisection procedure favour merge points over other commits. A simple strategy that might work out of the box today is to first run with `--on-branch master` set, and then i

[2019-10-22 10:13] nad commented on #4149
My bisection (see #4137) pointed to 72c8afd53b7b3e6b0af2b73fb6066f9e4140fdfd ("[ #4125 ] Use unreduced type in checkExpr").

[2019-10-22 10:55] gallais commented on #4151
May be worth officially adopting a workflow based on feature PR + squash & merge.

[2019-10-22 11:25] guillaumebrunerie commented on #4122
Here are the results. It definitely solved the performance issue about positivity checking, but occursCheck and termination checking still take a long time.
[code]

[2019-10-22 12:01] andreasabel commented on #4149
Same here now.  In my previous bisect, I was accidentially on some local branch, I think.  On a second try I also got:
72c8afd53b7b3e6b0af2b73fb6066f9e4140fdfd is the first bad commit

Bisection took only little more than 30 min.

[2019-10-22 12:27] jespercockx opened #4152 "Variables in Prop position should not raise hard error in occurs check"
This file fails to type check:

[code]
Error message:
[code]
However, swapping the definitions of `test₁` and `test₂` makes the test case go through.

[2019-10-22 12:29] jespercockx commented on #4152
The analogue of this test case using irrelevance does check, so there is something missing in the handling of `Prop`:

[code]

[2019-10-22 13:06] andreasabel commented on #4149
My patch (less reduction in the type checker) exposed a flaw with generalization.  Here is a version of the test case with named bound variables:
[code]
The debug printing says towards the end:
[code]
As you can see here, we have an illformed type here: `Set (record { .generalizedField-z = z })` which has been created by the generalization feature.

There seems to be a brittleness in the generaliz

[2019-10-22 13:16] jespercockx commented on #4152
Crf #2131 for the corresponding issue for irrelevance

[2019-10-22 13:34] #4152 closed, assigned to jespercockx

[2019-10-22 13:38] jespercockx commented on #4122
Great, it seems it really helped for the positivity checking! Thanks for running the tests. Since this issue is about positivity checking and the remaining problem is with the occurs check, let's move the discussion to #4120. (For the termination check, I'm not sure if there is much to be done with the current infrastructure. I'm certainly not eager to dive into it at the moment.)

[2019-10-22 14:04] jespercockx commented on #4120
The current strategy for occurs checking is to first try the occurs check without reducing anything, and then if that fails try again with full normalization. This is certainly a good way to maximize our chances of passing the check, but is not very efficient.

I think it should be possible to do better than this:

1. When the first try results in a **hard** error (i.e. an illegal variable was enc

[2019-10-22 15:10] jespercockx opened #4153 "Cyclic metavariable should raise error, not unsolved constraints"
Currently the following file produces an unsolved constraint, but it could fail hard instead:
[code]
Output:
[code]
Note that there is a type error called `MetaOccursInItself`, but it is currently completely unused.

[2019-10-22 16:37] jespercockx commented on #4120
Ok, I changed the occurs check so it doesn't do the second run (the one with normalization) in two situations:

- When the first run finds a rigid occurrence (that cannot disappear through reduction)
- When the first run fails but the metavariable we are solving is irrelevant

The second change may lead in theory to more unsolved metavariables of implicit irrelevant arguments or implicit arguments

[2019-10-22 16:42] jespercockx commented on #4120
Ok, now I actually pushed the changes :)

[2019-10-22 17:59] ysharoda opened #4154 "Renaming declarations within a module may cause name clash"
Consider the following definition of a module with two type declarations
[code]
It is possible to define a module which renames one of these two declarations to the other
[code]
Agda accepts this rename, until one of the declarations is referenced
[code]
When trying C-c C-w, we get the following error
[code]
Without attempting to access any of the declarations of the NameClash module, the file is

[2019-10-23 08:43] nad commented on #4154
If you want to avoid the name clash, then you can use `hiding (U)`.

In some cases name clashes may be what is intended (because Agda supports overloading for constructors and projections), so I do not think this kind of thing should be ruled out entirely.

[2019-10-23 08:46] nad commented on #4120
The second change sounds like a bad idea to me. It happens that we change Agda so that it reduces terms less eagerly. Now such a change could lead to a regression. I think that the conversion checker should respect definitional equality.

[2019-10-23 09:11] UlfNorell commented on #4120
Do you have an actual plan for making this happen in the presence of irrelevance? For instance, what do you propose for this example:

[code]
Here `squash n` and `squash 0` are definitionally equal so if we should either solve the meta in both cases or in neither?

[2019-10-23 09:11] jespercockx commented on #4120
But the only way to make sure the conversion checker respects definitional equality is by *never* solving any irrelevant metavariables. This problem is actually the same for eta-unit types, irrelevant arguments, and terms of a type in `Prop` (collectively known as 'definitional subsingletons'). Every time Agda has to solve an equation between two elements of a definitional subsingleton, it has the

[2019-10-23 09:15] jespercockx commented on #4120
Maybe there should be an option to not apply any heuristics for solving irrelevant equations, but instead always chooses the principled option of discarding the equation. I can image this being used by someone who doesn't want to be surprised by unsolved irrelevant metavariables in future versions of Agda. (This option would essentially make it impossible to use implicit irrelevant/`Prop` argument

[2019-10-23 10:13] guillaumebrunerie commented on #4120
This did not actually fix the performance issue, the timing results are essentially the same as in https://github.com/agda/agda/issues/4122#issuecomment-544916614.

I’m not sure I completely understand how the occurs check works, but maybe this is because when doing the second step for a *relevant* term, then it gets normalized, and all irrelevant terms that it contains are normalized as well?

[2019-10-23 12:22] guillaumebrunerie commented on #3233
This is not quite working, in the example below, only `A` is highlighted orange:
[code]

[2019-10-23 12:56] nad commented on #4120
OK, if respecting definitional equality is undecidable, unless we cripple constraint solving, then I guess we shouldn't do it. I hope this doesn't lead to too many regressions in user code.

Is this case also undecidable? Doesn't the strategy of always eta-expanding work? Doesn't Agda eta-expand when it would otherwise be stuck?

[2019-10-23 16:02] jespercockx commented on #4120
You're right, inhabitation of eta unit types is decidable, so don't share this problem. However, records where all fields are irrelevant and/or in `Prop` do have the problem.

[2019-10-23 16:03] jespercockx commented on #4120
Ah yes, that could very well be the problem. I guess we could  refuse to normalize anything when we're in an irrelevant context, also during the second pass.

[2019-10-23 16:40] jespercockx commented on #4120
Here is a test case that currently loops on the second pass in the occurs check, but would terminate (with unsolved constraints) if we didn't normalize in irrelevant contexts:
[code]

[2019-10-23 16:48] jespercockx commented on #4120
And the fix is (a)live!

[2019-10-23 23:35] sattlerc commented on #4147
That's great, I wasn't aware that private and abstract talk to each other. Thanks, that would solve my use cases. I guess the complexity is then shifted to the confluence checker in figuring out whether an abstract definition could still be reopened.

[2019-10-24 08:40] guillaumebrunerie commented on #4120
Still no difference, unfortunately :/

[2019-10-24 11:49] jespercockx commented on #4120
Damn, that's unfortunate. I could try to do some further optimization, but it would be good to know if the problem is actually related to `Prop` or if there is some more general performance problem with the occurs check. In the latter case, it doesn't make sense to focus specifically on elements of a `Prop`.

[2019-10-24 12:21] nad commented on #4147
The use of `private` in @jespercockx's example is only to avoid polluting the name space. See the [documentation](https://agda.readthedocs.io/en/latest/language/abstract-definitions.html) for more details.

[2019-10-24 14:39] nad commented on #3855
Yes, if you erase the argument completely. However, as far as I have understood Agda retains the argument, but applies the function to a dummy value (or something like that). Thus this kind of erased code should work also in a strict setting.

[2019-10-24 14:41] nad commented on #3855
- [ ] Another thing to take care of:

  https://github.com/agda/agda/blob/b8d673bc09bc50f4539114ea90e141127ab60bf4/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L914-L921

Edit: Moved to #4174.

[2019-10-24 14:45] UlfNorell commented on #3855
Do we have a test case for that? (cc @andreasabel)

[2019-10-24 15:03] sattlerc commented on #4147
I see, thanks for clarifying.

[2019-10-24 15:34] nad commented on #3855
I tried to make Agda accept this code by tweaking the following test:

https://github.com/agda/agda/blob/49ad0b3f0d39c01bc35123478b857e702b29fb9d/src/full/Agda/TypeChecking/Coverage.hs#L1394-L1396

However, I did not find a simple way to figure out if the pattern matching takes place in an erased context. The `envModality` field in the environment does not contain the quantity 0 when the code abov

[2019-10-24 16:42] nad opened #4157 "Agda gets confused by multiple anonymous definitions in a single mutual block"
The following code is rejected:
[code]
Error message:
[code]
It seems as if the second type signature is used when checking the first body.

Note that this kind of code is handled in a sane way when "new-style" mutual blocks are used:
[code]
[code]

[2019-10-24 20:48] sattlerc opened #4158 "Double check failure (unaware of rewrite rule)"
On master (750941f).

[code]

The error is
[code]

[2019-10-25 08:52] jespercockx commented on #4158
Looking at the debug output, it seems that the double-checker is called in the wrong context:
[code]

[2019-10-25 10:22] andreasabel commented on #4154
[code]
Agda should reject the last statement, for the simple fact that it does so if one makes the `using` explicit:
[code]
[code]

[2019-10-25 23:35] xekoukou opened #4160 "Printing implicit lambdas with --show-implicit"
[code]

[2019-10-26 08:09] UlfNorell commented on #4160
The type checker inserts an implicit lambda so you get the HSet `λ {_} → G {false}`. You can see it using a bit of reflection:
[code]

[2019-10-26 11:53] xekoukou commented on #4160
I think that there are two problems here :

A.

If I ask agda to show me the hidden arguments, and to not normalize, this is the info I get from the hole :
[code]

This , to me, is obviously wrong. It should have been something like :
[code]

So the first problem is the lack of documentation and the incorrect information given by agda.

B.
The domain of ```⊨``` is greater than the one that is poss

[2019-10-26 17:11] UlfNorell commented on #4160
A. Good point. I renamed and reopened the issue.
B. I don't understand. In this case you happened to get a constant HSet, but nothing stops you from writing the lambda explicitly: `boo : ⊨ λ {b} → G {b}`

[2019-10-26 17:24] xekoukou commented on #4160
B. I was wrong about B. I thought that the hole showed Set, but it showed HSet. So the point is mute.
[code]

[2019-10-29 10:16] xekoukou commented on #3238
Probably , this introduced the printing "error" in #4160 :
https://github.com/agda/agda/commit/eab488ef45a8017e2c8df71f11c3e992dc30f6e0#diff-36dccb1101d64196a959ddd699f4ef2cR709

[2019-10-29 15:59] ice1000 opened #4161 "An alternative solution for hGetContent error on Windows when non-English"
On non-English Windows, people may encounter some stupid issues of Haskell, like the following:

[code]

This issue is solved and documented here: https://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.WindowsNotes-2-4-2 and the solution points you to a link that no longer exists.
Good news: I have found an alternative solution. You actually don't need to change your system encoding, you can simpl

[2019-10-29 16:01] ice1000 commented on #4161
https://github.com/chrisdone/intero/issues/603#issuecomment-453784278

[2019-10-29 21:25] nad commented on #4161
The cause of the problem discussed there is presumably that cpphs reads (or used to read?) Haskell files using the currently active code page instead of UTF-8 (which GHC uses, more or less). Was your problem also caused by cpphs, or something else?

[2019-10-29 23:03] ice1000 commented on #4161
It's Happy this time.

[2019-10-30 07:12] andreasabel opened #4162 "Unifier (pattern matching) cannot handle bounded sizes"
[code]
Agda reports:
[code]
However, a possible type assignment for the pattern variables on the LHS is:
[code]

This probably never worked.  Agda versions 2.4.2.4 to 2.5.2 report:
[code]

[2019-10-30 08:37] jespercockx commented on #4162
Looking at the debug output, the instantiation `j₁ := ↑ j` fails because the type of the equation is `Size`, while the type of the variable `j₁` is `Size< (↑ i)`. The code points to https://github.com/agda/agda/issues/2407 for the reason why this is using `equalType` rather than `leqType`, which is another issue about sized types. Quoting myself from that issue:

I guess that is also what I implem

[2019-10-30 08:39] jespercockx commented on #4162
Maybe instead of refusing to instantiate, Agda could go through with it but add a constraint that `↑ j < ↑ i`.

[2019-10-30 10:45] Saizan opened #4163 "pattern matching in parametrized module leads to ill-typed definitions in where modules."
The following code leads to `TM.foo` being assigned a wrong type from inside the `Inner` module:

[code]

`C-c C-d` reports `(n → Set) → Nat → Set` from inside the goal in `test`.

`C-c C-d Inner.TM.foo` reports a seemingly correct `(A₁ : Set) → (A₁ → Set) → Nat → Set`

Although it's a bit surprising that the `Nat` got moved to last place.

[2019-10-30 13:56] nad commented on #4161
In that case I suggest that you report this bug to the Happy developers.

[2019-10-30 15:30] ice1000 commented on #4161
This is unlikely a Happy issue, I think GHC should be blamed. It happens to [other Haskell projects](https://github.com/chrisdone/intero/issues/603#issuecomment-453784278) (also [HIE](https://github.com/haskell/haskell-ide-engine/issues/667), [hakyll](https://github.com/jaspervdj/hakyll/issues/593), [another Haskell proj](https://github.com/koalaman/shellcheck/issues/324)) as well.

(or maybe it's

[2019-10-30 19:56] nad commented on #4161
If standard functions like `readFile` are used, then the default character encoding used when reading files [depends on the locale/code page](https://hackage.haskell.org/package/base-4.12.0.0/docs/System-IO.html#g:23). If you want to use a specific character encoding, then you should ask for it.

Here is the function that Agda uses to read text files which are supposed to use the UTF-8 character e

[2019-10-30 20:52] andreasabel commented on #4162
Another (similar) example is:
[code]
Agda refuses to accept pattern `c x` here.
The unification problem should be:
[code]
This has solution
[code]
but as one sees, the type of `k` has to be strengthened to `k : Size< i`.

If a constraint `↑ k ≤ i` is added as a first step, it needs to be reified as typing `k : Size< i`.

[2019-11-01 15:00] guillaumebrunerie opened #4165 "Typechecker looping (nonterminating definition in a where not caught early enough)"
The code below makes Agda loop instead of reporting a termination error (shrunk example from a report of Sergei Mechveliani)

[code]

[2019-11-01 15:48] UlfNorell commented on #4165
This is our old friend #42 I believe.

[2019-11-01 15:48] #4165 closed, assigned to nobody

[2019-11-01 20:48] nad opened #4166 "Instances that are not in scope are candidates for instance resolution"
Consider the following code:
* `A.agda`:
[code]
* `B.agda`:
[code]
Note that there is only one instance in scope at the end of the file: `A′.i`. However, Agda treats `A.i` as being in scope, so the instance argument in the body of `b` is not resolved:
[code]

I noticed this problem when debugging some slow instance resolution. In that case the instances were resolved correctly, but the resolution

[2019-11-02 10:02] jespercockx commented on #4166
Could the problem be that `open import A {b = true} as A′` is desugared to something like
[code]
which *would* bring both instances into scope?

[2019-11-02 21:28] nad commented on #4006
Now the code triggers an internal error (also if ` {x = i}` is removed):
[code]

[2019-11-03 09:54] nad opened #4167 "Absurd matches in let and lambda record patterns"
Record pattern lambdas currently do not support absurd patterns. Should they?

Here is some code that is currently not accepted:
[code]

[2019-11-03 11:09] nad commented on #4167
The following code is accepted, even though it presumably shouldn't:
[code]
The hole's environment:
[code]

[2019-11-03 11:45] nad opened #4168 "Agda fails to compile code involving @0"
Agda fails to compile the following code properly:
[code]
GHC complains:
[code]
The generated Haskell code:
[code]
I'm guessing that `d10` corresponds to the projection `erased`, which is not compiled:
[code]

[2019-11-03 13:42] nad opened #4169 "The GHC backend generates code that is rejected by GHC"
Code:
[code]
Complaint by GHC (both 8.6.5 and 8.8.1):
[code]

[2019-11-03 15:21] nad commented on #4169
This is a regression. @andreasabel, bisection points towards 2ce41740c4eaa33693cbc4a10511ec2c455295e5 ("[ #3792 ] refactored conErased to Maybe [Bool] ") and d19d527f062cc55454ead76de935f5a362888368 ("[ #3792 ] fixed faulty MAlonzo compilation of constructor applications").

[2019-11-04 09:06] gallais commented on #4167
That bug comes from pattern-matching lets:

[code]

[2019-11-04 19:32] xekoukou opened #4170 "Tactic causes Agda to enter into an infinite loop"
Beware, it consumes both CPU and eventually memory.

[code]

[2019-11-04 19:53] xekoukou opened #4171 "Reflect on the constraints."
I am using the new ```tactic``` , to determine the value of an implicit. It would be useful to know the constraints of the meta to pick the correct term.

For example, I get these constraint errors when I let agda determine the implicit :
[code]

I could define HQ_28 as HQ if I were to get that constraint when the tactic is executed.

Will the constraints be present when the tactic is executed? (I

[2019-11-05 08:25] nad commented on #3855
- [ ] I notice that the following code is accepted:
[code]
  I guess this makes sense. Is the intention to have some kind of subtyping for `@0`, or is the code accepted by accident? My guess would be the latter, because the following code is also accepted:
[code]
  This code should not be accepted. Here is an example without postulates that Agda compiles without complaints:
[code]
  If you load th

[2019-11-05 10:39] nad opened #4172 "Restrict pattern matching for erased arguments of single-constructor data types"
The following code should be rejected when the K rule is turned off:
[code]
Perhaps it could be allowed when the K rule is turned on.

The following code could perhaps be allowed even when the K rule is turned off:
[code]

(This issue was broken out of #3855.)

[2019-11-05 10:39] nad opened #4173 "Allow pattern matching on erased arguments in an erased context"
The following code should presumably be accepted:
[code]

I tried to make Agda accept this code by tweaking the following test:

https://github.com/agda/agda/blob/49ad0b3f0d39c01bc35123478b857e702b29fb9d/src/full/Agda/TypeChecking/Coverage.hs#L1394-L1396

However, I did not find a simple way to figure out if the pattern matching takes place in an erased context. The `envModality` field in the envi

[2019-11-05 10:39] nad opened #4174 "Missing modality check in unifier leads to segfaults"
The following comment should be addressed in some way:

https://github.com/agda/agda/blob/b8d673bc09bc50f4539114ea90e141127ab60bf4/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L914-L921

(This issue was broken out of #3855.)

[2019-11-05 10:40] nad opened #4175 "Disallow or restrict subtyping for @0"
The following code is accepted:
[code]
I guess this makes sense. Is the intention to have some kind of subtyping for `@0`, or is the code accepted by accident? My guess would be the latter, because the following code is also accepted:
[code]
This code should not be accepted. Here is an example without postulates that Agda compiles without complaints:
[code]
If you load this code in GHCi (8.6.5) an

[2019-11-05 10:40] nad commented on #3855
I created separate tickets for some of the remaining problems. This ticket is now mainly about documentation.

[2019-11-05 10:43] nad commented on #4172
Here is an example [due to @andreasabel](https://github.com/agda/agda/issues/3855#issuecomment-505759769) that should perhaps always be accepted:
[code]

[2019-11-05 10:46] jespercockx commented on #4172
I thought `@0` had no impact on the semantics of the function type, so why should it matter whether we have `K` or not? As long as the argument can be erased at runtime, everything is fine! (This could be different for `--cubical`, but that cannot be compiled ATM anyway.)

[2019-11-05 10:53] nad commented on #4172
The idea is to eventually have a compiler for Cubical Agda (#3753), and cubical code can depend on code that uses `--without-K`. I'd like to avoid introducing breaking changes to code written using `--without-K` when (if?) support is added for compiling Cubical Agda.

If we want to allow this kind of pattern matching when the K rule is turned off, then we could add a new flag for that, and make co

[2019-11-06 09:41] mrakgr opened #4176 "Top level binding forgotten inside an expression"
[code]
[code]

As you can see I've bound `List.map proj₁ xs'` as `xs'ₚ`, yet Agda completely forgot about it.

This is causing me issues as I want to destructure `xsₚ≡xs'ₚ` and then pass `¬k'∈xsₚ` as the solution, but I am not able to do this either.

[2019-11-06 10:26] gallais commented on #4176
You have refined the problem by *abstracting* over `List.map proj₁ xs'` and called
the result `xs'ₚ`. You cannot both abstract over the value and keep a definitional
equality between the expression and the variable.

We had a PR (#4084) to give you syntax to remember the connection between the
expression abstracted over and the pattern obtained but it went nowhevere because
of a lack of agreement

[2019-11-06 15:40] andreasabel commented on #4175
The necessary check on quantity for subtyping has not been implemented yet, I am fixing this now.

[2019-11-06 15:42] andreasabel commented on #4173
Pattern matching is already allowed in the LHS checker, but the coverage checker has not been called in erased context and also does not respect it.  I am fixing this.

[2019-11-06 16:13] andreasabel commented on #4172
I am adding the positive examples (which pass already) as `test/Succeed/Issue4172.agda`.

[2019-11-06 17:47] nad commented on #4172
Cubical Agda adds (or is planned to add) a new constructor `hcomp` to every data type, right? This means that one-constructor data types become two-constructor data types. However, I'm not sure if this means that pattern matching should always be disallowed for erased arguments of one-constructor data types in Cubical Agda. (Hopefully pattern matching is still OK for the empty type, at least.) The

[2019-11-06 20:32] #4175 closed, assigned to andreasabel

[2019-11-06 20:32] #4173 closed, assigned to andreasabel

[2019-11-06 20:35] #4176 closed, assigned to nobody

[2019-11-06 21:45] andreasabel commented on #4168
Looking at debug output, it seems that compiler and type checker are not to be blamed, but an invalid __eta-contraction__, which turns the definition into:
[code]

[2019-11-07 06:36] andreasabel opened #4177 "Travis GHC 8.0 Cabal compilation times out frequently"
Often the compilation of Agda on ghc 8.0 with cabal does not finish on travis, running out of time or memory.  This has the effect that the tests of the subsequent phase (haddock and user manual) are not run.
Example: https://travis-ci.org/agda/agda/builds/608463955

@L-TChen: could we move the 8.0/cabal test out of the block "Main" on which the "Documentation" block depends?

Re: #4025

[2019-11-07 08:59] Saizan commented on #4172
Cubical Agda plans to add an hcomp for HITs and Indexed datatypes.
Indexed datatypes will actually have an extra `transp`-like constructor.
Datatypes that are only parametrized (in the agda sense) will not have extra constructors,
so the examples with `⊥` and  `W` shouldn't be affected.

Still `hcomp` itself shouldn't be a problem: if the type is otherwise one-constructor we could make hcomp reduc

[2019-11-07 09:58] nad commented on #4172
Here is an example based on Figure 5.1 in @rnml's PhD thesis:
[code]
The term `loopy` gets compiled to `d22`:
[code]
GHC isn't entirely happy with the resulting code:
[code]
Note that we get exactly the same Haskell code if the erasure annotations are removed:
[code]

[2019-11-07 12:42] Saizan commented on #4172
I believe that's just a known bug that they decided to not fix in ghc. See third bullet point here:

https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/bugs.html#bugs-in-ghc

[2019-11-07 13:07] L-TChen commented on #4177
Yes. That's absolutely fine.

However, I failed to see why cabal with GHC 8.0.2 takes much longer than stack with GHC 8.0.2. Travis only caches dependencies not the local build of Agda, so they should take roughly the same time to compile Agda itself. It seems there is some other issue involved.

[2019-11-07 14:57] nad commented on #4172
Yes.

[2019-11-07 19:41] andreasabel commented on #4169
An extra coercion `coerce` is needed
[code]
when erased version `du26` is used.

[2019-11-07 19:54] andreasabel commented on #4172
@nad: you can report you implementation of \Omega using type casts to the GHC issue tracker.  Not sure they will accept it as a more realistic program than the one with the negative data type. :)

[2019-11-07 19:57] andreasabel commented on #4172
Is the integration of `@0` and `--without-K` urgent?
(As I don't think so, I bump the milestone.)

[2019-11-07 20:07] andreasabel commented on #4163
Works fine in 2.5.1.1 and below.  Broken from 2.5.2.

[2019-11-07 21:35] nad commented on #4172
Perhaps my comment above was unclear. I do not see this as a problem with GHC. Maybe it is not a problem for Agda either, because no problematic binary is generated. However, one might include this kind of code in an example that is not meant to be executed, as part of a development that includes other parts that should be compiled. That kind of problem could perhaps be fixed by not compiling unre

[2019-11-08 07:56] andreasabel commented on #4177
Well, the last words on travis are usually:
[code]
My first guess is that compilation on ghc 8.0 needs more memory than travis supplies, so the compilation stalls in thrashing.  Just a guess, of course.

One thing we could try is to split `Coverage.hs` into several smaller modules and see if this improves compilation times.

[2019-11-08 08:22] UlfNorell commented on #4172
We already get rid of unused private definitions before compilation.

[2019-11-08 08:37] andreasabel commented on #4154
Related: #3057.

[2019-11-08 09:54] UlfNorell opened #4179 "Coverage check false positive"
This is blocking #4178

[code]
The second clause clearly covers the alleged missing case.

The split tree looks ok (`-v tc.cover.splittree:10`):
[code]
But the covering patterns do not (`-v tc.cover.covering:10`):
[code]
The `leaf` case is indeed missing here.

[2019-11-08 13:12] UlfNorell commented on #4179
Fix: #4180.

[2019-11-08 14:17] guillaumebrunerie commented on #4122
I’m having another issue somewhat similar to https://github.com/agda/agda/issues/4122#issuecomment-544493991 (there is yellow where there wasn’t yellow before the change that wrapped every element of a proposition in a `DontCare`):

[code]

In `test`, Agda does not figure out what `B` should be. It does find out `f` and `g` (of type `(a : A) → B _`) but cannot use that information to figure out th

[2019-11-08 17:14] L-TChen commented on #4177
I was talking about the difference between stack and cabal compilation. However, I forgot that the stack compilation does not apply optimisation.

As @UlfNorell mentioned, it seems unnecessary to run the Agda test suite against every supported GHC version, so we shall compile only one Agda with optimisation enabled to run tests and others without it. It would also make the testing time much shorte

[2019-11-08 17:21] asr commented on #4177
Which optimisation are you talking about?

[2019-11-08 17:23] L-TChen commented on #4177
Stack compilation uses `-O0` and cabal uses the default option.

[2019-11-08 18:38] #4154 closed, assigned to andreasabel

[2019-11-08 19:27] nad commented on #4172
Great.

[2019-11-08 19:32] nad commented on #4177
I'd suggest to use the latest version, as I imagine that this one is typically most representative of future versions of GHC.

[2019-11-08 19:40] JacquesCarette commented on #4177
I would counter-suggest using the "latest version fully supported by cabal and stack". There can sometimes be up to 2 months of delay between a shiny new GHC release and the stabilization of the library ecosystem so that things are reliably buildable.

[2019-11-08 21:25] nad commented on #4177
Sure, I don't think we should use a version of GHC that fails to build Agda.

[2019-11-08 23:12] nad opened #4181 "Question about @0"
Consider the following code:
[code]
Agda accepts `Works`, but not `Fails`:
[code]
In `Works` `A` is erased. Why is that type OK, if `Fails` is not?

[2019-11-08 23:17] nad opened #4182 "Why does Agda use less memory?"
Some of my code type-checks faster, using quite a bit less memory than before. Has anyone else noticed this? I'd be interested in knowing the cause of this improvement.

With Agda 2.6.1-ed526b5 compiled with GHC 8.6.5:
[code]
With Agda 2.6.0.1 compiled with GHC 8.4.4:
[code]

[2019-11-09 03:51] ice1000 opened #4183 "Finish the `EncodeTCM` instance for `DisplayInfo`"
https://github.com/agda/agda/blob/ed526b5372fffb881d5b6c544be57125f2c7cf1f/src/full/Agda/Interaction/JSONTop.hs#L44-L110

And I need this for a toy I'm working on. Probably taking this myself.

[2019-11-09 04:35] ice1000 commented on #4183
Reference: https://github.com/agda/agda/commit/f9915d9e0ebe6671e4bdc4dd2b44391b5d160ea0

[2019-11-09 06:17] MatthewDaggitt opened #4184 "Report time taken (and memory?) to type check files"
When type checking a file Agda prints out something like this:

`Checking Data.List.Relation.Binary.Disjoint.Setoid (agda-stdlib/src/Data/List/Relation/Binary/Disjoint/Setoid.agda)`

It would be really useful for finding hot spots in your code if it could append some additional information about the type checking:

`Checking Data.List.Relation.Binary.Disjoint.Setoid (agda-stdlib/src/Data/List/Rela

[2019-11-09 09:38] nad commented on #4184
The option `-vprofile:7` gives some information about the time taken, but not for individual modules. I'm not sure how hard it would be to give information for one module at a time: Haskell is non-strict. We write the interface file before moving on to the next source file, so computations that could affect the contents of the interface file must have completed when we start working on the next fi

[2019-11-09 10:39] nad opened #4185 "Agda uses η-equality for record types defined with no-eta-equality"
Consider the following code:
[code]
This code works fine, but I can make Agda behave strangely by tweaking `works`:
[code]
Here Agda complains about the final `f`:
[code]
It seems as if Agda has instantiated the underscore with `λ x → P [ unbox x ]`. Here is another example:
[code]
Here Agda complains about the penultimate `f`:
[code]
Again it seems as if Agda has instantiated the underscore with

[2019-11-09 12:45] nad opened #4186 "Automatically make certain type arguments erased?"
@andreasabel and I discussed the possibility to automatically add `@0` annotations to certain type arguments. I am not eager to add this annotation to lots of existing code, but I would not want to break existing code.

Consider the following code:
[code]
Making all arguments of type `Set a` (or all arguments that end in `Set a`) erased does not work (`id₃` fails). Making all "strictly positive" a

[2019-11-09 14:10] sliedes opened #4187 "`agda-mode setup' fails if ~/.emacs contains non-ascii characters"
On Agda-2.6.0.1, running `agda-mode setup' gives me the following error:

agda-mode: /home/sliedes/.emacs: hGetContents: invalid argument (invalid byte sequence)

Temporarily removing a non-ASCII character from my .emacs file fixed this issue.

[2019-11-09 14:25] nad commented on #4187
Presumably your locale is not consistent with the contents of your `.emacs` file. The documentation of `agda-mode setup` includes the following text: "It is assumed that the .emacs file uses the character encoding specified by the locale."

The .emacs file can use many different character encodings, specified in [complicated ways](https://www.gnu.org/software/emacs/manual/html_node/emacs/Recognize

[2019-11-09 14:25] #4187 closed, assigned to nobody

[2019-11-09 14:36] sliedes commented on #4187
1) I believe my .emacs encoding in fact is consistent with my locale. My locale is generally en_US.UTF-8, with LC_CTYPE=fi_FI.UTF-8. The offending byte sequence in .emacs was 0xc2 0xa0, which is valid UTF-8 for Unicode character NO-BREAK SPACE.

2) For fixing this, it would have been immensely helpful if agda-mode had told where the problem was (I could guess that it was probably somewhere in .ema

[2019-11-09 14:43] nad commented on #4187
If you want to get to the bottom of this I suggest that you try to create a minimal file that exhibits the problem, using the following code to read the file: `ghc -e 'readFile "<file>"'`.

I guess one could catch the exception, and then read the file one character at a time and see if the exception is thrown again (the file might have been changed). Contributions are welcome, the [source code](ht

[2019-11-09 14:50] sliedes commented on #4187
Hmm, I might have been wrong after all, it works now with that character in .emacs... Maybe I did have something different wrong there, and saving the file in emacs corrected it.

[2019-11-09 16:19] L-TChen commented on #4177
Alright, the consensus seems to be the latest GHC version which is fully supported by the ecosystem and is able to compile Agda successfully.

I will get this change in soon.

[2019-11-09 22:11] nad commented on #4168
The following code exhibits a similar problem:
[code]
Error message:
[code]
Here `d72` corresponds to `erased`.

Agda generates the following code:
[code]
The code is compiled without complaints if the first underscore in `p′` is replaced by `Erased A`, or if the second underscore is replaced by `Erased (Erased A)`, or if the third underscore is replaced by `Erased A`, or if the fourth underscore

[2019-11-10 05:02] greatBigDot opened #4188 "Using `mutual` block trickery, Agda accepts a datatype whose type depends on itself. Should it?"
$ agda --version
    Agda version 2.6.0.1

Note: I think this is a bug, but I'm not 100% sure.

#### Motivation

So I'm trying to make a dependently typed lambda calculus with a universe `U0 :: U0`. (I'm using `::` for the language's typing relation here, reserving `:` for Agda's). To represent this in Agda, the idea is that I'm going to have a type family `U` of well-typed expressions in the lang

[2019-11-10 08:44] UlfNorell commented on #4188
This is #1556 I believe.

[2019-11-10 16:28] nad opened #4189 "Record constructors sometimes in record modules, sometimes not"
The following code is accepted:
[code]
Thus it appears as if `tt` is defined in the module `⊤`. However, the following code is rejected:
[code]
[code]
If I ask Agda to display the contents of the module `⊤`, then I get the following response:
[code]
The code above is accepted by Agda 2.2.10 (if a module header is added), but Agda 2.3.0 rejects it.

[2019-11-10 20:15] andreasabel commented on #4185
Due to invalid η-expansion, the equation
[code]
is solved as
[code]
resulting in a subsequent type error as Box has no η.

I have an easy fix: check for eta-equality enabled in `inverseSubst`.

[2019-11-10 20:36] andreasabel commented on #4189
The release notes for 2.2.6 say:

Also there is an obscure attribute on concrete names called `OnlyQualified`:
https://github.com/agda/agda/blob/ed526b5372fffb881d5b6c544be57125f2c7cf1f/src/full/Agda/Syntax/Common.hs#L1821-L1827
https://github.com/agda/agda/blob/ed526b5372fffb881d5b6c544be57125f2c7cf1f/src/full/Agda/Syntax/Scope/Base.hs#L68-L70

[2019-11-10 20:40] andreasabel commented on #4189
Ha, the following variant of your testcase
[code]
triggers an internal error:
[code]
https://github.com/agda/agda/blob/ed526b5372fffb881d5b6c544be57125f2c7cf1f/src/full/Agda/TypeChecking/Substitute.hs#L580-L585

The internal error is a regression in 2.5.2.

[2019-11-10 20:44] #4185 closed, assigned to andreasabel

[2019-11-10 23:29] andreasabel commented on #4189
Bisection gives:

My hijacking of this issue looks very similar to #2007.

[2019-11-10 23:38] andreasabel commented on #4189
`{-# OPTIONS -v tc.mod.apply:100 #-}` shows:
[code]
Maybe the problem is really just that the record module contains the constructor and tries to apply it to the record value (as all other 0 fields and definitions in the record module).  Of course, the record constructor does not take the record value as argument.  Also, the record constructor does not belong into the record module which has the r

[2019-11-11 00:07] andreasabel commented on #4189
My recommendation: don't make the record constructor available as qualified by the record module (anyway unsound since it does not take the module parameter; but see also the open-public dispute). Then send the whole `OnlyQualified` hack to Hades.

[2019-11-11 09:05] #4179 closed, assigned to nobody

[2019-11-11 11:08] jespercockx commented on #4182
I did some work on improving the performance of the occurs check (see https://github.com/agda/agda/issues/4120). The issue is about `Prop`, but one change I made could also impact general performance (https://github.com/agda/agda/commit/87d5957eb22f2dc1e692b68b7fdd0e4fd32825be)

[2019-11-11 11:52] andreasabel commented on #4189
Running the test suite after removing record-module qualified record constructors reveals that there is not a single use of that feature in the standard library.

[2019-11-11 12:08] nad commented on #4189
I have used that feature.

[2019-11-11 13:15] MatthewDaggitt commented on #4184
Thanks, didn't know about that. That's a great starting point.

I know you said there's no current plans, but just putting it out there that I'd definitely prefer parallelised type checking over stats if it did come down to an either/or!

[2019-11-11 13:45] nad commented on #4168
It seems as if Agda replaces the pattern-matching lambda with `erased`. Here are some fragments of the debug print-out (for `-vtc:20`):
[code]
[code]
[code]

[2019-11-11 15:36] andreasabel commented on #4189
If needed, one can qualify the record constructor by the parent module.

[2019-11-12 09:16] nad opened #4193 "Why are erased function arguments not removed entirely?"
The backends support subtyping for `@0` (mainly?) by not removing erased function arguments, and supplying dummy arguments when a function is applied to something erased, right? Is there a reason for not removing the arguments entirely, and supporting subtyping using coercions instead?

I've seen that at least the GHC backend generates wrappers for functions with erased arguments. Is the idea that

[2019-11-12 21:45] andreasabel commented on #4168
At first, the term in `from`, extended lambda ` λ { (box (box x)) → box {A = A} x }`, is a postponed type checking problem assigned to meta, say:
[code]
Field `from-to` has type `(x : Box A) -> ?f (box x) == x` and value `\ x -> refl` which means that Agda attempts the conversion:
[code]
This apparently solves `?f = unbox`:
[code]
`inverseSubst` turns `x : Box A |- ?f (box x) = x` into:
[code]
Thi

[2019-11-13 07:19] andreasabel commented on #4177
Note that the current problem is that already the _compilation_ of Agda stalls on GHC 8.0; it never gets to run the test suite.

For the compilation tests (GHC backend) it does matter which GHC version we are testing Agda on.  (See #4100, #4018, #3792.)  However, we could restrict to only running the compiler tests on each GHC version, and run the full testsuite only on one version.

[2019-11-13 07:42] andreasabel commented on #4182
@nad: You could do a bisection with a hard memory limit for checking your development.

[2019-11-13 07:48] andreasabel commented on #4193
Since we also target strict languages, we cannot remove all erased function arguments completely in the intermediate stage (treeless).  Some more work could be done in the GHC backend, already for type arguments which are kept as dummies of type `()`, but as discussed over lunch, we may put our energy into that once we know it makes a performance difference.

[2019-11-13 11:09] nad commented on #4182
Yes, perhaps I'll do this later.

[2019-11-13 11:48] L-TChen commented on #4177
If it is not for testing, we can use `-O0` to turn off optimisation, so it will take only about 10 mins to compile in total for each compilation. I turn on Travis cabal ghc 8.0 test with a longer waiting time for now.

I am currently working on another configuration as proposed above. The progress is a bit slow as it is not possible to run Travis locally to try out different configurations.

[This

[2019-11-13 13:43] nad commented on #4166
@ulfn, @jespercockx and I discussed a possibly better desugaring:
[code]

[2019-11-13 15:29] L-TChen commented on #4177
https://travis-ci.org/L-TChen/agda/builds/611387067

Almost there. I’m not sure if it makes sense to test `agda-bisect` and `size-solvers` in the last stage. It is probably better to have another repos for them with their own Travis configurations and to include these two as submodules.

[2019-11-13 16:02] #4168 closed, assigned to andreasabel

[2019-11-13 22:40] nad commented on #4177
I don't think `agda-bisect` should be moved to another repository.

[2019-11-14 09:52] #3903 closed, assigned to UlfNorell

[2019-11-14 09:53] #3930 closed, assigned to UlfNorell

[2019-11-14 09:53] #4081 closed, assigned to UlfNorell

[2019-11-14 09:53] #4116 closed, assigned to nobody

[2019-11-14 11:01] UlfNorell opened #4195 "Modalities not set correctly for instantiated lhs variables"
[code]

[2019-11-14 11:01] UlfNorell commented on #4195
cc #2640

[2019-11-14 13:37] UlfNorell commented on #4193
This would also require some more during type checking to insert the coercions, so I agree that we shouldn't spend effort on this without some examples where it would likely make a difference.

[2019-11-14 13:44] UlfNorell commented on #4181
As discussed in the proglog meeting this is the expected behaviour.

The `@0` annotation for the bound `A` in the domain of the function type applies to uses in the body of a function of that type, not to uses in the codomain. In contrast, `Id` is declared to be `@0` and cannot be used in a right-hand side.

One could imagine having special rules for function types, but you would get the same prob

[2019-11-14 13:44] #4181 closed, assigned to nobody

[2019-11-15 04:01] banacorn commented on #4183
Hope that this will be useful https://github.com/banacorn/agda/blob/json/src/full/Agda/Interaction/JSONTop.hs#L80

Here's the serialization of all of the concrete syntax tree: https://github.com/banacorn/agda/tree/json/src/full/Agda/Interaction/JSON/Syntax

[2019-11-15 04:11] ice1000 commented on #4183
Wow look at that. Is this thing ready or there's something missing?

[2019-11-15 04:12] ice1000 commented on #4183
I've pushed a modified version of this into the current master Agda

[2019-11-15 04:30] banacorn commented on #4183
I've built a prototype last year (with agda-mode on Atom as the frontend).
You can do lots of fancy stuff if the frontend also has access to the AST (especially source locations). For example, when there's a type error, you can hover the cursor on those "code part" of the error message and it will highlight the corresponding source code.

[2019-11-15 04:34] ice1000 commented on #4183
Cool, but you don't have access to the TCM do you? And does that mean you don't have contextual information?

[2019-11-15 04:41] banacorn commented on #4183
I have access to the TCM, and in fact most of the serialization would need to be done in the TCM.
IIRC that's because most information we need are not readily stored as *Concrete* syntax tree, you need to convert them from *Internal* or *Abstract* to *Concrete*, and that can only be done in the TCM

Edit: relevant PR https://github.com/agda/agda/pull/3192

[2019-11-15 04:45] banacorn commented on #4183
It would be nice if we can serialize stuff without the TCM, but that's a lot of work.

[2019-11-15 04:54] ice1000 commented on #4183
I'm talking about when you're in Atom/Code. Of course you have access to TCM during serialization

[2019-11-15 04:56] ice1000 commented on #4183
I tend to include (and keep it even after the entire AST serialization is implemented) a pretty-printed term because this interface can be used in many places and we shouldn't need to always impl full AST deserialization.

[2019-11-15 05:11] banacorn commented on #4183
We can add some flags for different "depths" of serialization, but then there will be the problem of "where to draw the line".
Or perhaps we can simply just include the pretty-printed term in the serialized JSON.

[2019-11-15 05:26] ice1000 commented on #4183
I'd say it's not necessary, we can simply include all the info. I believe modern deserializers will allow ignoring unknown fields :).

[2019-11-15 06:27] xekoukou opened #4198 "Delay execution of macros."
I am thinking of delaying macros so that the constraints are created before.
So one thought of mine is to execute them at the end of CheckMutual :
https://github.com/agda/agda/blob/aee5d328ea820c1a3524e5fe991033990f69bded/src/full/Agda/TypeChecking/Rules/Decl.hs#L730

Are there any drawbacks to this?

[2019-11-15 08:51] jespercockx commented on #4198
An argument against this: it is already possible to postpone the macro if you want (using `blockOnMeta`). OTOH, there is no way to make a macro run *sooner* if you need it to.

If the current mechanism for postponing a macro is insufficient for your purposes, maybe a better solution would be to add a new primitive to unconditionally postpone the macro until the end of the current mutual block?

[2019-11-15 08:57] xekoukou commented on #4198
Sometimes, there is no meta to block on. So I will try to perform the second option.

[2019-11-15 12:39] #4147 closed, assigned to jespercockx

[2019-11-15 12:40] jespercockx commented on #4147
I fixed the former issue, the latter one is part of #2335.

[2019-11-15 14:13] nad commented on #3791
We (I don't remember exactly who, perhaps @jespercockx, @UlfNorell and I) decided to remove the new primitives.

[2019-11-15 14:46] jespercockx commented on #3813
Here's a standalone version of the problem in the OP (after performing the case split):

[code]

The problem is that the unifier gets stuck on unifying `to _ =?= to n`. `to` is a function that might compute depending on the value of the `_`, so simplifying the constraint to `_ =?= n` might lose solutions.

The least thing we could do is to remove the hard error and leave an unsolved constraint ins

[2019-11-15 15:09] jespercockx commented on #3813
Here is a small example demonstrating the problem with shadowing variables in the context:
[code]
The goal is:
[code]
It seems variables that have been instantiated are not considered to be shadowing other variables, but they are still printed in the context (and they are actually in scope, so really they *do* shadow).

[2019-11-15 15:32] jespercockx commented on #3813
There is a general problem with the naming of let-bound variables in the context:
[code]
This produces the context:
[code]

[2019-11-15 16:42] jespercockx opened #4199 "Show values of let-bound variables when printing the context"
Currently, when printing the context of a hole Agda also includes the names and types of let-bound variables, but not their values. I think it would often be very useful to also include the values, especially as this would also make it clear what parameters have been refined.

[2019-11-15 16:44] sattlerc commented on #4147
Thanks!

[2019-11-15 16:46] jespercockx commented on #4199
Showing the value of refined/let-bound variables would also make it less confusing to not replace variables by dot patterns during case splitting, which would fix #3813 in a nice principled way.

[2019-11-15 21:44] nad opened #4200 "Constructors can be marked as erased"
The following code is accepted:
[code]
Limited testing suggests that the `@0` annotation does not have any effect on type-checking or compilation.

[2019-11-16 10:13] jespercockx commented on #4089
The current heuristic (while definitely not perfect) seems to be handle simple cases well enough not to be a nuisance. Since it's unlikely that I will have time to implement the full solver before the next release, I'm bumping this to 2.6.2.

[2019-11-16 11:02] #4199 closed, assigned to jespercockx

[2019-11-16 11:32] andreasabel opened #4201 "Task: possibly get rid of constraint equality"
Equality on things involving internal terms is potentially expensive (given they can be huge), thus, try to get rid of constraint equality e.g. in:
https://github.com/agda/agda/blob/cce9daf9a4a774cceb43e80ac8c7a63ace1a0c51/src/full/Agda/TypeChecking/Constraints.hs#L71

[2019-11-16 12:58] L-TChen commented on #4089
Can you point where the solver is located in the codebase?

[2019-11-16 14:33] andreasabel opened #4203 "Non-conservativity of --cumulativity"
The example of https://github.com/agda/agda/issues/2223#issuecomment-253797805 leads to a wrong solution with `--cumulativity`.
[code]
[code]

[2019-11-16 14:36] andreasabel commented on #4203
Simplification:
[code]

[2019-11-16 15:23] jespercockx commented on #4089
https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Conversion.hs#L1315-L1338 and https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Level/Solve.hs

[2019-11-17 03:32] ghost opened #4204 "option to disable termination checking"
Hello, everyone! A couple months ago, I was writing an Agda library, and I was hoping to be able to continue resuming my “Agda misadventures” soon.

But, as a consequence, I begun wondering if it would be feasible to add an option to disable termination checking in Agda. I know certain pragmas exist, such as `{-# TERMINATING #-}`, but I feel like it would be convenient to have an option to disable

[2019-11-17 04:44] ice1000 commented on #4204
You may checkout the coinduction support, which allows you to have termination-checking non-terminating functions (well it's actually called "productivity-checking" for coinduction though): https://agda.readthedocs.io/en/v2.6.0.1/language/coinduction.html

[2019-11-17 05:09] ghost commented on #4204
I acknowledge coinduction in my fourth paragraph. Although, perhaps a more accurate way to have put it would have been:

I did not know about “guardedness”, though — I will definitely investigate it (even though the documentation seems to be lacking). But at the same time, my worries about having to redefine datatypes in both inductive and coinductive form (like the standard library does) still bo

[2019-11-17 05:14] ice1000 commented on #4204
Ok, I missed that.

[2019-11-17 07:38] jespercockx commented on #4204
https://agda.readthedocs.io/en/v2.6.0.1/tools/command-line-options.html#errors-and-warnings

[2019-11-17 07:45] ghost commented on #4204
@jespercockx, oh neat! I guess maybe I should have looked a bit harder for it. Thank you! Sorry for the inconvenience.

[2019-11-17 07:45] #4204 closed, assigned to nobody

[2019-11-17 08:20] ice1000 commented on #4204
@jespercockx does that also allow Agda to reduce nonterminating functions?

[2019-11-17 08:26] jespercockx commented on #4204
It's equivalent to putting a TERMINATING pragma on each function iirc.

[2019-11-17 08:38] Smaug123 opened #4205 "Internal error in connection with with, copatterns, and open record"
Reproduction:
[code]

where the EquivalenceRelations file is the following (but I've renamed with the `.txt` extension to allow Github upload): [EquivalenceRelations.txt](https://github.com/agda/agda/files/3855374/EquivalenceRelations.txt)

Expected output: some sort of error telling me that `symmetric` can't be used to pattern-match here. (My error here is pretty obvious: I needed to prepend `Equ

[2019-11-17 11:07] jespercockx commented on #3813
Current status:

- The problem with printing let-bound variable names in the context was fixed in https://github.com/agda/agda/commit/273b080874d542ee4c15cbd726ba6fa241a49b83.
- The case splitting in the OP no longer fails hard, but only produces unsolved constraints (https://github.com/agda/agda/commit/26df88889b890678e6a8e2aabf778689c2013e62).
- You can use the new `--keep-pattern-variables` fla

[2019-11-17 11:07] #3813 closed, assigned to jespercockx

[2019-11-17 12:48] #4203 closed, assigned to jespercockx

[2019-11-17 12:48] andreasabel commented on #4168
For now, we do not uncurry metas over records that have an erased field any more.
Maybe this could be relaxed in case the record argument to the meta is erased, like in this artificial example:
[code]
Here we should be able to massage the constraint into the form:
[code]
The rationale is that if the record pattern is an erased argument, then all pattern variables will appear in erased context only

[2019-11-17 15:19] #4201 closed, assigned to andreasabel

[2019-11-17 20:27] nad commented on #4169
The following code triggers a similar error:
[code]
Bisection points to the same commits as before.

[2019-11-17 20:43] andreasabel commented on #4177
Haha, quite ironically, after I commented out the ghc 8.0 cabal test, it is now the 8.2 cabal test that breaks, running out of memory for ghc: https://travis-ci.org/agda/agda/jobs/613179836

[2019-11-17 21:46] L-TChen commented on #4177
🤦‍♂ I will try to finish the new configuration soon when available.

[2019-11-17 22:27] WolframKahl commented on #4177
Consider passing maximum heap settings also to GHC?

[2019-11-18 03:36] ice1000 opened #4207 "Does Agda tell Emacs where the goals are?"
I have this `Simplest.agda` file:

[code]

I loaded it with Emacs interaction mode, and the log is:

[code]

However, I don't think this contains information about the location of the goals. `27 28 (symbol) t` is probably the goal, but I can't tell its difference among other `symbol`s.

Or is Emacs parsing the Agda file and find the goals itself?

[2019-11-18 04:19] ice1000 commented on #4207
Current research -- the code goes here:
https://github.com/agda/agda/blob/eb493024b79640fa9560c355972547ad59cbdcda/src/data/emacs-mode/agda2-mode.el#L1552-L1564
Emacs can find all the goal tokens, and the goal number goes here `((last . 1) . (agda2-goals-action '(0)))`

[2019-11-18 04:19] ice1000 commented on #4207
Thanks @ice1000

[2019-11-18 04:19] ice1000 commented on #4207
No problem @ice1000, closing.

[2019-11-18 04:19] #4207 closed, assigned to nobody

[2019-11-18 04:31] banacorn commented on #4207
Wait, what is happening XD?

[2019-11-18 04:38] ice1000 commented on #4207
I'm trying to implement an external tactic framework (a repl with commands that interact with Agda and somehow modifies an Agda file), and I was wondering how do those editors know where the goals are (so I can fill the goals XD). But it seems that the Emacs mode is using a very primitive way to handle this. Sounds like I'll have to implement something similar myself 😢

[2019-11-18 09:19] jespercockx commented on #3440
Duplicate of #2427

[2019-11-18 09:19] #3440 closed, assigned to nobody

[2019-11-18 09:23] gallais commented on #2427
May be worth trying the macro approach once #4190 lands.

[2019-11-18 09:23] jespercockx commented on #4207
Internally there's the function `getInteractionRange` in `Agda.TypeChecking.Monad.MetaVars` that gives the source location of a hole.

There's lots of known bugs that come from Emacs not having precise enough information about source code locations (#575, #2628, #2672, #2800). If you're working on a better solution, it would be awesome if it could also be used for the Emacs mode itself :)

[2019-11-18 09:26] jespercockx commented on #2427
There's also some functionality for defaulting levels to their lowest possible value that's used for `--cumulativity`, which could maybe be reused for this feature.

[2019-11-18 09:48] andreasabel opened #4208 "Field named `_` in `genTel` record"
See https://github.com/agda/agda/issues/4159#issuecomment-554934501.  PR #4206 turns projections `f` from `genTel` into new variables `f(genTel)`.  Currently, some fields are given name `_`, which makes it hard to understand error messages, talking then about `_(genTel)`.

Task: give fields of `genTel` record names showing their provenance.  In the conrete case, I would have expected name `i`, giv

[2019-11-18 10:10] banacorn commented on #4207
Currently Agda only gives a list of goal indices on the load file command.
The editor would have to parse the whole file and figure out where the holes are, and rewriting those `?` into `{!!}` if there's any.
At least that's how it's done in Atom, and [it was no fun](https://github.com/banacorn/agda-mode/blob/master/src/Hole.re#L163).

It would be nice if Agda can also give the source locations.

[2019-11-18 11:15] nad commented on #4207
It is easy to give the locations of goals in a file that has just been loaded (assuming that it has not been changed; the Emacs mode keeps track of whether the file is edited while it is being type-checked). However, it is harder to support commands like give and refine.

[2019-11-18 12:28] #3095 closed, assigned to andreasabel, jespercockx

[2019-11-18 12:43] nad commented on #4207
See also `agda2-goals-action`:

https://github.com/agda/agda/blob/eb493024b79640fa9560c355972547ad59cbdcda/src/data/emacs-mode/agda2-mode.el#L1482-L1550

Ideally I'd like to get rid of this code (this has been discussed before).

[2019-11-18 13:41] nad commented on #4204
Note that type soundness does not hold for Agda when you turn off the termination checker. Consider the following code:
[code]
When I compile and run this code I get the following output:
[code]
GHC handles this kind of code better. Here is a similar Haskell program:
[code]
When I compile and run this program I get the following output:
[code]
The difference between GHC and Agda is that GHC tries

[2019-11-18 14:19] ghost commented on #4204
I knew there must have been some fundamentality that I was missing that makes my entire issue description sound silly!

Either way, maybe I shouldn’t mind that, as I have (recently) enabled `--omega-in-omega` in my library anyway.

As the library is meant for programming (and not proving), unlike I said in the issue description, I have decided that it’s actually fine for it to be inconsistent, as

[2019-11-18 14:32] jespercockx commented on #4037
Now you get an error that the constructor is not in scope, and the code in the buffer is left unchanged.

[2019-11-18 14:38] #3702 closed, assigned to nobody

[2019-11-18 14:42] jespercockx commented on #3956
This is fixed by https://github.com/agda/agda/commit/273b080874d542ee4c15cbd726ba6fa241a49b83

[2019-11-18 14:42] #3956 closed, assigned to jespercockx

[2019-11-18 15:26] jespercockx commented on #3842
I'm going to assume this question has been answered. Please open a new issue if you have a concrete proposal for an enhancement.

[2019-11-18 15:26] #3842 closed, assigned to nobody

[2019-11-18 15:30] jespercockx commented on #3788
Perhaps @UlfNorell can answer this question?

[2019-11-18 15:31] jespercockx commented on #3781
In closing this in the assumption you found a solution, please reopen with a smaller example if needed.

[2019-11-18 15:31] #3781 closed, assigned to nobody

[2019-11-18 15:42] jespercockx commented on #3727
@strake I think we all agree that this would be a sensible feature to have (and also have the change to the current semantic of `open import ... as ...` that @erydo suggests). If you are still planning to work on this, let me know something so I can update the milestone.

[2019-11-18 15:52] jespercockx commented on #4205
Thanks for reporting, I could reproduce the problem. Here's a smaller version:
[code]

[2019-11-18 15:55] #4188 closed, assigned to nobody

[2019-11-18 15:57] jespercockx commented on #4183
@ice1000 what's the status on this issue?

[2019-11-18 15:59] jespercockx commented on #4170
Would it be possible to post a self-contained test case?

[2019-11-18 16:09] jespercockx commented on #4117
Note that for `unnamedWithPatternsTest`, Agda already fails to infer the type of `λ { tt → tt }` without any macros involved. However, at least in the first two examples the macro should be able to return the inferred type.

[2019-11-18 16:13] jespercockx commented on #4046
@ggreif What is the current status on this issue?

[2019-11-18 16:16] jespercockx commented on #4029
@andreasabel why is this labeled as a bug rather than an enhancement?

[2019-11-18 16:20] jespercockx commented on #4038
I'm trying to reproduce the problem, but already with the code as given I'm getting a type error when normalizing the terms in the holes:
[code]
and
[code]

Could you please submit a corrected version of the code? Or maybe something has changed since the release?

[2019-11-18 16:26] UlfNorell commented on #3788
That sounds right to me, but I haven't thought about it too carefully.

[2019-11-18 16:49] ice1000 commented on #4183
I'm not sure, there's a lot of thins can be made, but speaking of `instance EncodeTCM DisplayInfo` (`EncodeTCM` supersedes `ToJSON` to some extent), it's already finished (not including serializing the entire AST).
Maybe I should close this?

[2019-11-18 16:49] ggreif commented on #4046
It is mostly done from my viewpoint. I just asked for a little piece of information (in #4047), how to reformulate a comment (https://github.com/agda/agda/pull/4047#issuecomment-532202818). Then it needs to be rebased and merged. That's all.

[2019-11-18 16:52] ice1000 opened #4209 "Provide interaction id's precise range"
We can make this in json interaction first, and then emacs (because for emacs, one will have to modify the emacs lisp files as well).

_Originally posted by @jespercockx in https://github.com/agda/agda/issues/4207#issuecomment-554928810_

[2019-11-18 16:56] ice1000 commented on #4183
Probably not, I just saw some `Null`s. Reopening

[2019-11-18 18:06] jespercockx opened #4211 "Cannot add as-pattern on literal pattern"
[code]
I get an error message:
[code]

[2019-11-18 18:35] JasonGross commented on #4038
It sounds like what was a heisenbug for me just occurs all the time for you?  I'm confused by the universe error, though l, too.  Can you explain why the universe error is correct for normalizing these terms?  (It seems possible to be that the universe error is just another way that the bug here is showing up.)

[2019-11-18 18:42] nad commented on #4207
Perhaps it's not so hard to do this after all.

Currently the backend returns a list with all interaction points, in the order in which they appear in the buffer. However, perhaps it suffices to include information about which interaction points have disappeared, and ranges for new interaction points.

Furthermore the Emacs mode does not provide range information when terms are given using the min

[2019-11-18 18:46] nad commented on #3727
See also #4166.

[2019-11-18 18:50] ice1000 commented on #4207
I'm still wondering why. Not passing range info doesn't seem to break anything.

[2019-11-18 22:20] #4211 closed, assigned to jespercockx

[2019-11-18 22:20] #2414 closed, assigned to jespercockx

[2019-11-19 00:44] strake commented on #3727
@jespercockx Yes, i will work on this now as it seems we have a consensus it's a good idea ☺

[2019-11-19 08:15] jespercockx commented on #2421
I'm closing this due to the lack of a reproducible test case.

[2019-11-19 08:15] #2421 closed, assigned to nobody

[2019-11-19 08:43] jespercockx opened #4212 "Release Agda 2.6.1 release candidate 1"
The time for the next release is coming close. We will not make our (optimistic) 1 December deadline, but it would be nice if we could release 2.6.1 before Christmas (or at least have a RC).

To avoid the delays and crunch period we had with the release of 2.6.0, I want to propose a policy to decide which issues must be fixed and which ones can be bumped. Let's define a **critical issue** as one i

[2019-11-19 08:55] guillaumebrunerie commented on #4212
Hi Jesper, please take a look at my latest comment at https://github.com/agda/agda/issues/4122#issuecomment-551844309 (maybe I should have opened a new issue for it). It makes using Prop much harder than it was before (and is a regression on master).
Thanks!

[2019-11-19 09:43] gallais commented on #3570
Will not have time to work on this before Christmas.

[2019-11-19 09:44] gallais commented on #4041
Will probably not have time to work on this before the next AIM.

[2019-11-19 09:46] gallais commented on #3840
I am happy with the current state of this feature. Given how many people
actually compile their code, I wonder how common it is to call multiple
backends at the same time.

[2019-11-19 09:50] gallais commented on #3129
I am happy with this. If someone wants to run the tests on travis,
please take over.

[2019-11-19 09:53] gallais commented on #3989
With the following file I get warnings for the lambda. Am I missing something?

[code]

[code]

[2019-11-19 10:40] jespercockx commented on #4122
Fixed now, let me know if there's further issues.

[2019-11-19 10:40] #4122 closed, assigned to jespercockx

[2019-11-19 11:16] Blaisorblade commented on #2009
Unassigned from #2009 as I had proposed earlier. This seems now needed for GHC 8.8 IIUC, but it can only be fixed correctly by people who understand the actual code. If it hasn't been fixed.

https://github.com/agda/agda/issues/2009#issuecomment-225750622
https://github.com/agda/agda/issues/2009#issuecomment-225890969.

[2019-11-19 11:18] Blaisorblade commented on #4212
Hi Jesper, see my summary on this issue: https://github.com/agda/agda/issues/2009#issuecomment-555460908.

[2019-11-19 12:35] guillaumebrunerie commented on #4189
I’ve used that feature as well (e.g. defining Σ-types and product types, both with a constructor called `_,_`, and it is now impossible to unambiguously refer to one of the constructors). I worked around some issues by adding type annotations, and I also had an issue with reflection and `quote`, where it was impossible to quote the constructor of a particular record (as it was impossible to refer

[2019-11-19 12:41] L-TChen commented on #4072
I didn't find the license for `fix-agda-whitespace`, so I was not able to submit it to Hackage.
Once it is submitted to Hackage, then it should be ready to close this issue.

I also tried to release a binary via Travis, but the binary was not usable for unknown reason.

[2019-11-19 13:09] jespercockx commented on #2009
I'm confused, is this actually required for 8.8? #3725 seems to suggest otherwise. If we don't need this to support 8.8, then I think it's fine to bump.

[2019-11-19 13:38] Blaisorblade commented on #2009
I then expect Agda supports MonadFail already?

I haven’t tested, only googled, but it seems [GHC 8.8 implements the MonadFail proposal](https://gitlab.haskell.org/ghc/ghc/wikis/migration/8.8#base-41300).

There’s no other clear actionable item here, so I’m tentatively closing. (For any other needed migrations, use separate issues I guess).

I should have unassigned myself earlier; sorry about tha

[2019-11-19 13:38] #2009 closed, assigned to nobody

[2019-11-19 17:58] L-TChen commented on #4177
I don't know why I got the following error message on Travis while I cannot reproduce on my machine either with ghc 8.8.1 or 8.6.4:
[code]
This only happens when `make TAGS`, `make test-size-solver`, and `make install-agda-bisect`.

The configuration file is [here](https://github.com/L-TChen/agda/blob/issue4177/.travis.yml).

Did anyone experience this?

(working with Docker and run Travis locally

[2019-11-19 21:00] ice1000 commented on #4212
I'll be closing the only issue (#4183) assigned me via #4213, which is a finished and waiting-for-CI PR.

[2019-11-19 21:03] ice1000 commented on #4183
Will be closed by #4213

[2019-11-19 22:54] #4183 closed, assigned to ice1000

[2019-11-19 23:20] L-TChen commented on #4177
No help is needed. After running Travis locally, I managed to solve the problems. I am waiting for Travis running on my branch to finish. It should be ready in a few days.

The new configuration should shorten the testing time by few hours.

[2019-11-20 00:03] Rotsor opened #4214 "`with` abstraction fails with HIT constructors in the goal"
When checking this:

[code]

I get an error:

It seems that this shouldn't be an error.

[2019-11-20 10:06] jespercockx commented on #3878
With the fix of #3879 the problem here seems to be fixed as well.

[2019-11-20 10:06] #3878 closed, assigned to gallais

[2019-11-20 10:08] jespercockx opened #4215 "Case splitting should respect Nat literals"
Similar to #3878:
[code]
Case splitting on `m` produces the following:
[code]
The literal `0` should be preserved!

[2019-11-20 10:09] Saizan commented on #3577
Currently Agda manages to compute a normal form for `test`, probably due to
fdbe073d2a88e89597f2ed0a86cafebb8d441249, however it takes a whole 2 seconds.

`test` involves transporting across `hcompU` which creates a fairly big term, there's possibly room for optimization there.

[2019-11-20 10:56] jespercockx commented on #3964
The problem is that Agda does not pick the right name for the variable `x` in the internal telescope of the clause: it is named `proj₁` (after the name of the field of `Σ`) rather than `x` (after the module parameter). When it prints back the clause after case splitting, it sees the dot pattern `.proj₁` where `proj₁` is a variable that's not in scope, so it replaces it by `._`, which is subsequent

[2019-11-20 12:32] asr commented on #2009
Right.

[2019-11-20 12:44] asr opened #4216 "Support cabal-install 3.0.0.0 in the Makefile"
I created this issue for collecting/reporting the required changes/issues for supporting `cabal-install 3.0.0.0`.

[2019-11-20 12:47] asr commented on #4212
We should add to the list of critical issues the support of new versions in the tool-chain (GHC, cabal-install, stack, alex, happy, etc). I filed #4216.

[2019-11-20 13:18] UlfNorell commented on #4216
We already made the necessary changes as part of the `ghc-8.8` support (#3725) unless I'm very much mistaken. At least I've been using `cabal-3.0.0.0` without issue since then. Is the `ghc-8.8` Travis job not using `3.0.0.0`?

[2019-11-20 13:20] Saizan commented on #3722
Even if we assume `Level` to be discrete we do not have that functions `I -> Level` are definitionally constant.

The type of `fill` is like that to match the type of `comp`/`transp`.
The extra generality in `transp` is used for `(x : A) -> B` types: `A` and `B` come with their sort, so the sort of `B` depends on `x` and so we need the extra generality to typecheck the following:

`\x -> transp (\

[2019-11-20 13:23] asr commented on #4216
The Travis job for GHC 8.8.1 is using `caba-install 2.4.1.0`.

[2019-11-20 13:24] Saizan commented on #3690
Pull request #4164 is also relevant when pattern matching on HITs

[2019-11-20 13:24] asr commented on #4216
I got an error when running `cabal install` in a fresh repository. I'll report the error later.

[2019-11-20 13:33] Saizan commented on #3606
For the original code example we now get the following, which is much closer to the expected.

[code]

Things to consider:

* remove the list of blocking problems `[9,10]` ?
* keep the `Errors` header or turn it into `Constraints` ?

[2019-11-20 13:33] L-TChen commented on #4216
`cabal-3.0` works well to me.

The following one is built with GHC 8.8.1 and cabal 3.0

https://travis-ci.org/L-TChen/agda/jobs/614341754

[2019-11-20 13:36] asr commented on #4216
The above job don't use `cabal-install` but `stack`.

[2019-11-20 13:36] UlfNorell commented on #4216
You have to use `cabal v1-install`.

[2019-11-20 13:38] L-TChen commented on #4216
[code]
If I was not mistaken, stack uses cabal to install packages ...
https://docs.haskellstack.org/en/stable/faq/#what-is-the-relationship-between-stack-and-cabal

[2019-11-20 13:41] asr commented on #4216
I think `stack` uses `Cabal` the library, but it doesn't use `cabal-install` the program.

[2019-11-20 13:46] asr commented on #4216
I guess. Are you planning to update the [user documentation](https://agda.readthedocs.io/en/latest/getting-started/installation.html#installation-from-hackage) for taking care of the different versions of `cabal-install`?