[2017-08-12 07:17] andreasabel commented on #1972
Good, you bring this up @asr! I think code related to GHC 7.6 can be removed now.  In the CHANGELOG, we could add a reference to the GHC backports to Ubuntu 14.04.

What do the others think?

[2017-08-12 07:42] andreasabel commented on #2682
Here, `CheckInternal`, which is invoked by `give`, catches the error that the type checker overlooks.

[2017-08-12 08:51] andreasabel commented on #2682
The question is whether fields of abstract records should be in scope outside of abstract blocks or not.  (Constructors are not in scope.)

There is some discussion at #580.

At #759, I claimed

but this either was not true or got lost over time.

[2017-08-12 13:41] asr commented on #2680
No, `cabal-install` 2.0.0.0 only brings up the problem.

Agda requires `cabal-install` >= 1.20 so we have

[code]

Then `cabal --version` should report version 2.0.0.0 but it is reporting the initial version, i.e.
1.18.0.4. Before the release of `cabal-install` 2.0.0.0 the above situation was the same. Why the job was successful before `cabal-install` 2.0.0.0 if it is using 1.18.0.4? I don't know.

[2017-08-12 15:04] andreasabel opened #2684 "Bad error message for abstract constructor"
[code]
reports
[code]
It should tell me that `c` is abstract, and thus not available.

[2017-08-12 20:18] UlfNorell commented on #2568
Can you check if reverting 6df6354 makes the problem go away?

[2017-08-12 20:29] andreasabel opened #2685 "test/interaction/CompilationWarnings does not run stably"
When I run the interaction testsuite, sometimes the following line is missing from the output, resulting in a (false) failure of the test case `test/interaction/CompilationWarnings`.
[code]
Test was added by commit https://github.com/agda/agda/commit/04dfa8245bc9973f53d694de5a9e124e699a2787
CC: @fredrikNordvallForsberg

See also #2657.

[2017-08-12 21:14] #2680 closed, assigned to asr

[2017-08-12 21:38] andreasabel commented on #2657
test/Succeed/ImportWarnings fails sometimes (different output).

See also #2685.

[2017-08-12 21:43] andreasabel opened #2686 "Abstract constructors should be ignored when resolving overloading"
[code]
reports
[code]
but I would expect it to succeed and resolve `c` to `D.c`.

Related: #2684.

[2017-08-12 21:50] asr opened #2687 "Travis fails on the internal-tests suite for GHC 7.8.4"
The Travis [error]( https://www.travis-ci.org/agda/agda/jobs/263916571) is

[code]

I couldn't reproduce the error.

[2017-08-12 23:42] andreasabel commented on #2686
Similarly, on the LHS:
[code]

[2017-08-13 01:55] asr opened #2688 "Missing support for version of the Win32 library shipped with GHC 8.2.1"
The [Win32](https://hackage.haskell.org/package/Win32) library is shipped with GHC. The version of this library shipped in GHC 8.2.1 is 2.5.4.1 (see the [release notes](https://downloads.haskell.org/~ghc/8.2.1/docs/html/users_guide/8.2.1-notes.html)).

The current versions supported of this library are

[code]

Could someone add the missing support for Win32 2.5.4.1, please.

[2017-08-13 02:10] asr commented on #1972
In the above commit, I removed the code related to GHC 7.6.3 but I didn't add references to the GHC back-ports.

[2017-08-13 02:10] #1972 closed, assigned to asr

[2017-08-13 06:22] m0davis commented on #2568
@UlfNorell Will do.

p.s. Ulf was responding to a post (I insanely deleted) saying that I was getting Agda looping problems after this patch

[2017-08-13 06:38] asr opened #2689 "`make internal-tests` is recompiling the Agda library"
`make internal-tests` is recompiling the Agda library because this command and `make install-bin` use different Cabal flags. A principled solution is to migrate the `internal-tests` test-suite to the `agda-test` test-suite.

[2017-08-13 06:54] m0davis commented on #2568
@UlfNorell Yup, I verified that reverting https://github.com/agda/agda/commit/6df6354147ab1f33677f9b2678d1c7cec0221468 makes the problem go away. Still working on a simplified example... Frustratingly, I spent considerable time simplifying an example that turned out to loop even w/o the patch. Waah.

[2017-08-13 06:58] UlfNorell commented on #2687
You actually changed the `Eq` instance, ignoring the `Elim` in `StuckOn`. I'm not sure if this actually matters, but wouldn't a more conservative fix be to simply import `Agda.TypeChecking.Substitute` in `InternalTests.Syntax.Internal`?

[2017-08-13 07:02] UlfNorell commented on #2568
That might be interesting too though. Instance search now has limited search depth, so it shouldn't loop regardless.

[2017-08-13 07:06] asr commented on #2687
I considered that fix, but since my fix pass all the test and it doesn't require importing modules from the `TypeChecking` name space,  I used it.

[2017-08-13 07:16] asr commented on #2687
But you are right. I'll use the more conservative fix.

[2017-08-13 07:16] UlfNorell commented on #2687
Thank you.

[2017-08-13 10:30] m0davis opened #2690 "[regression?] Agda engages in deep search instead of immediately failing"
After https://github.com/agda/agda/commit/6df6354147ab1f33677f9b2678d1c7cec0221468 (#2568), Agda now fails with "Instance search exausted" instead of (as before) "No instance" when type-checking the code below.

Fwiw, this alleged regression also affects code that fully type-checked prior to the patch but now fails after exhaustive instance search. I'm presenting failing code below only because it

[2017-08-13 12:14] UlfNorell commented on #2690
I'm reverting 6df6354 until we figure out why it's looping.

[2017-08-13 13:02] asr commented on #2679
OK. For now I'll release a release candidate.

[2017-08-13 13:08] #2687 closed, assigned to asr

[2017-08-13 14:04] UlfNorell commented on #2687
I feel a bit nit-picky, but why didn't you fix it by importing `Agda.TypeChecking.Substitute`? Now the property is using a different `Eq` instance (for `ghc > 7.8`) than the one in the actual code base.

It seems reasonable that if you want to test a property about the `Eq` and `Monoid` instances of a type, you import the modules where those instances are defined.

[2017-08-13 14:29] asr commented on #2687
I don't understand your comment because I fixed the issue by importing `Agda.TypeChecking.Substitute`. Note that the issue was fixed by 8de8380bbfc7540d289c836df5738f69b8f02a01.

[2017-08-13 14:36] asr commented on #2659
As preparation for the release, I have "frozen" the stable-2.5 branch by creating the release-2.5.3 branch. You can continue pushing on stable-2.5/master as usual.

[2017-08-13 14:38] UlfNorell commented on #2687
Oh, sorry. I was looking at a27b0e6, which it's telling me was the commit closing the issue.

[2017-08-13 14:39] UlfNorell commented on #2687
Oh, I see what happened. When you revert a commit with a `fixed #X` message it also closes the issue.

[2017-08-13 15:14] asr opened #2691 "Missing documentation for simplification"
The CHANGELOG says:

[code]

So, the documentation for simplification is missing.

[2017-08-13 20:06] andreasabel commented on #2672
I think when the pattern lambda was originally added, the emacs mode was patched to make splitting work.  More patching is needed to get splitting for lambda-where working.

[2017-08-13 20:42] #2684 closed, assigned to andreasabel

[2017-08-13 20:42] #2686 closed, assigned to andreasabel

[2017-08-13 20:55] andreasabel commented on #2659
I pushed fixes for #2684 and #2686 onto stable-2.5, but these are not urgent for release.
After the release, https://github.com/agda/agda/commit/cba35819399876a489be0e79b4bcc4ab95054df1 should be reverted.

[2017-08-13 22:06] #2679 closed, assigned to jespercockx

[2017-08-13 22:10] jespercockx commented on #2679
I finally managed to make my fix work without breaking the standard library. I pushed it to stable-2.5, so if there's still time you could add it to the release candidate (or otherwise to the actual release).

[2017-08-13 22:40] asr commented on #2659
I will include these fixes in the RC.

[2017-08-13 22:42] asr commented on #2621
I will include the fix in the RC, so I changed the milestone to 2.5.3.

[2017-08-13 22:43] asr commented on #2679
Great! I will include the fix in the RC.

[2017-08-13 23:02] asr opened #2692 "Remove support for GHC 7.8.4"
Agda 2.5.3 will require that users on Ubuntu 14.04 (which is shipped with GHC 7.6.3) use GHC back-ports. Since there are back-ports for GHC 7.10.3, why not also remove the support for GHC 7.8.4 in Agda 2.5.3? Note that the current Debian stable is shipped with GHC 8.0.1.

[2017-08-14 00:25] asr commented on #2659
I have tested the installation of  [2.5.3 RC 1](http://www1.eafit.edu.co/asr/tmp-asr/Agda-2.5.2.20170813.tar.gz) on Ubuntu.

Could someone test the installation on Windows and Mac OS using the following instructions:

[code]

Which GHC version(s) did you use?

[2017-08-14 00:43] asr opened #2693 "Missing stack.yaml files for GHC 7.8.4 and 7.10.3"
After installing [2.5.3 RC 1](http://www1.eafit.edu.co/asr/tmp-asr/Agda-2.5.2.20170813.tar.gz) I realised that the Stackage `*.yaml` files for GHC 7.8.4 and 7.10.3 are missing. Are we going to include these files for each version supported of GHC? If so, we also should add the corresponding Travis tests.

[2017-08-14 06:32] andreasabel commented on #2692
It seems like Ubuntu 16.04 (Xenial) comes with GHC 7.10.3.

But I see no advantage of removing support for GHC 7.8.4 for the imminent release of Agda 2.5.3.
We could fade out 7.8.4 after the release.

[2017-08-14 06:47] andreasabel commented on #2682
In #2684, I did a refactoring of `getConstInfo` that allows for a better fix of the present issue.  We should converge on the rules for abstract projections.  There are two alternatives:

1. Treat projections like constructors, i.e., for an abstract record the projections are not in scope, like the constructors for a data type are not in scope.  (Seems to be the view taken at #759.)

2. Limit `abs

[2017-08-14 07:30] andreasabel commented on #2682
Ah, I think we should stick to the current solution, 2.: only the constructor is abstract.
I'll fix `checkInternal`.

[2017-08-14 07:38] andreasabel commented on #2674
Apparently, the fix in #2422 was not sufficient for non-applied overloaded projections.

It does work if you eta-expand to
[code]

[2017-08-14 08:19] andreasabel commented on #2621
@jespercockx Please document the change in the CHANGELOG.

[2017-08-14 10:55] fredrikNordvallForsberg commented on #2685
Is https://github.com/agda/agda/commit/9dd886fd1048465f9ac450b03081f7f2cec2ef48 perhaps relevant here?

[2017-08-14 11:48] asr commented on #2692
OK.

[2017-08-14 12:01] andreasabel commented on #2685
Yes, probably silencing the ghc output would fix this issue.

[2017-08-14 12:48] fredrikNordvallForsberg commented on #2685
We didn't delete the `MAlonzo` directory, which probably caused `MAlonzo.RTE` to not be recompiled sometimes. Can you confirm that this fixes the issue? If we still run into the problems mentioned in https://github.com/agda/agda/commit/9dd886fd1048465f9ac450b03081f7f2cec2ef48 we should maybe adopt the same solution as there.

[2017-08-14 12:56] #2621 closed, assigned to jespercockx

[2017-08-14 13:19] andreasabel commented on #2685
I suppose this fixes the problem.  If I should notice the problem again, I will reopen this issue.

[2017-08-14 13:19] #2685 closed, assigned to fredrikNordvallForsberg

[2017-08-14 18:07] andreasabel commented on #2659
I tried, with some effort, to use the github API bindings for Haskell to get the list of closed issues for this release.  I added them to CHANGELOG (but deleted the ones that only affect our development process, like testsuite etc.).
See `src/issues/` for the code I wrote.  Can be developed further, e.g., at the next release.

[2017-08-15 01:41] asr commented on #2659
@andreasabel, Great! Good job!

[2017-08-15 06:34] andreasabel commented on #2659
Thanks.  It would have been a more pleasant coding session if the `github` package was better documented and had less design glitches.

From my side, there is nothing very urgent to do for the release left, I have no more bug fixes planned.
I think we can go ahead.

[2017-08-15 09:14] mechvel opened #2694 "`Integer.Properties.≡-decSetoid`"
`Integer`  has not standard equalities other than `≡`. So, why Standard library changes
`.decSetoid` to `.≡-decSetoid`
?

[2017-08-15 09:25] andreasabel commented on #2694
Please file this issue at https://github.com/agda/agda-stdlib/issues
Thanks!

[2017-08-15 09:25] #2694 closed, assigned to nobody

[2017-08-15 13:27] favonia commented on #2693
FYI: `lts-2` for GHC 7.8.4 and `lts-6` for GHC 7.10.3.

[2017-08-15 13:28] gallais commented on #2503
I've switched to a new branch after rebasing against current stable to take advantage of the caching of warnings in interfaces. I think I'm going to use the [`WarningMode`](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Options.hs#L92) for this.

@fredrikNordvallForsberg : shouldn't we have a list of `WarningMode`s rather than just a single one in `PragmaOptions`? We would have

[2017-08-15 13:37] favonia commented on #2693
@asr I can help if you are busy working on other things.

[2017-08-15 14:10] asr commented on #2693
@favonia, I accept your help. Thank you!

You can start from the .yaml files shipped with Agda 2.5.2.

[2017-08-15 14:28] asr commented on #2693
Please use the stable branch for creating your PR.

[2017-08-15 14:38] gallais commented on #2503
So I got something working on https://github.com/agda/agda/tree/issue2503-useless-imports however:

- [ ] the highlighting is not preserved through reloads
- [ ] modules that are opened `public` are erroneously reported as useless

[2017-08-15 14:41] favonia commented on #2693
@asr You are welcome. I want to have 2.5.3 too. Yes I know the stable-2.5 branch.

I found a dependency issue of lts-2/GHC 7.8.4: EdisonCore-1.3.1.1 -> QuickCheck 2.8.2 -> base 4.8.0.0 but the base in lts-2.22 is of version 4.7.0.2. I never tried to overwrite the version of base and I feel it's not worth it even if possible. What would you say? Should we give up testing GHC 7.8.4 with stack?

[2017-08-15 14:45] favonia commented on #2693
Conflicting versions in Stackage snapshots add some weight to the proposal #2692 I guess.

[2017-08-15 14:46] fredrikNordvallForsberg commented on #2503
@gallais When I introduced `WarningMode` I think they were all contradicting each other, but it might make sense to change it to a list going forward.

[2017-08-15 15:24] favonia commented on #2693
Found an issue about lts-6/GHC 7.10.3: due to https://github.com/commercialhaskell/stack/issues/595 the stack will not install the new cpphs automatically. One workaround is to manually install the newer cpphs and then build Agda.

[2017-08-15 16:07] asr commented on #2693
It seems I found a build plan for GHC 7.8.4 using

[code]
and running

[code]

where `stack-7.8.4.yaml`:
[code]

[2017-08-15 16:29] favonia commented on #2693
Sorry for the late report. I also found one by setting flags of QuickCheck. Is there a reason to disable `bytestring-builder`?

[2017-08-15 16:32] asr commented on #2693
I don't remember the reason for disable `bytestring-builder` (maybe currently it's not necessary).

[2017-08-15 16:35] favonia commented on #2693
This build plan runs into some wierd recursive dependency when building `gitrev-1.2.0`. Let me try yours. Mine tries hard(er) to use the "minimum" version.

[code]

[2017-08-15 16:36] asr commented on #2693
I realized that since we are not running the test-suites on Stackage, we can simplify the build plans by removing the `--test` flag.

[2017-08-15 16:37] favonia commented on #2693
I thought we intended to build the test suites without running them (why? I don't know).

[2017-08-15 16:38] asr commented on #2693
I just use the build log in Travis for choosing the versions of the dependencies.

[2017-08-16 01:50] #2693 closed, assigned to asr

[2017-08-16 11:30] mechvel opened #2696 "eq proof rejected by Agda 2.6.0-c9e11c1"
Please download the code from
ftp://ftp.botik.ru/pub/local/Mechveliani/agdaNotes/bugRep-aug16-2017.zip
(17 Kb).
See   Readme.txt   there.
It rejects a certain equality proof, whis was accepted by Agda
 2.6.0-207bde6 (April 13, 2017).
I wonder: which Agda is more correct?
Is this a bug in Agda 2.6.0-c9e11c1 ?

[2017-08-16 11:53] gallais commented on #2696
After a few changes for compatibility with stdlib-0.13 (cf. [compat-2.5.2.patch.txt](https://github.com/agda/agda/files/1228049/compat-2.5.2.patch.txt)), it does indeed typecheck with 2.5.2.

[2017-08-16 12:12] mechvel commented on #2696
1) Which type checker is more correct at this example:
2.5.2patched or Agda 6.0-c9e11c1 ?

2) I cannot use 2.5.2 for DoCon-A-2.00, due to certain bugs in 2.5.2.
I hope for the line of  2.6.0-207bde, 2.6.0-c9e11c1.

[2017-08-16 13:08] fredrikNordvallForsberg commented on #2696
The proof `cong-fromJustIf {mp-digs-e'} {mp-bs+1} (uReflexive mp-digs-e'=mp-bs+1) isJust-mp-digs-e'` proves
[code]
where `p = cong-isJustC (uReflexive mp-digs-e'=mp-bs+1) isJust-mp-digs-e'`, while we need a proof of
[code]
So somehow Agda 2.5.2 concludes that `p = isJust-mp-bs+1` for the purposes of that equation. Since `p` is of the form `cong-isJust ...` and `isJust-mp-bs+1` is of the form `subs

[2017-08-16 13:15] mechvel commented on #2696
DoCon-A-0.04.1 is of January 2016, and it works under 2.5.2.
I do not recall what was the first reason for leaving  2.5.2.
Anyway  DoCon-A-2.00 uses Agda Prelude in such a way that it would not be type-checked in
2.5.2.
This misfeature for relation to Agda Prelude is fixed in  2.6.0-c9e11c1 (as Ulf and you  wrote recently).
(And the reduced example reported here does not use Agda Prelude).

So tha

[2017-08-16 13:23] andreasabel opened #2698 "emacs24: "selecting deselected buffer" triggered by agda2-mode in unrelated modes"
I see the following behavior:
1. Start emacs24, loading the desktop which contains .agda files (and much more).
2. Before I have located to any .agda buffer, I do a `C-c C-c LaTeX` in a .tex buffer.
3. After compilation returns, I get tons of `error in process buffer: selecting deselected buffer`.  They are coming in 1sec intervals.

I can stop this by locating an `.agda` buffer, doing a `C-c C-x

[2017-08-16 13:30] andreasabel commented on #2696
@fredrikNordvallForsberg : Indeed, with the fix of #2480 Agda will consider less arguments to be irrelevant (and be more sound).

[2017-08-16 13:41] favonia commented on #2688
~Maybe we could set up an AppVeyor CI or something to detect this. (Unfortunately I am not familiar with Windows.)~ Never mind. There is already an issue about this.

[2017-08-16 16:13] UlfNorell commented on #2659
RC 1 works fine on MacOS, ghc-8.2.1. Stay tuned for Windows results...

[2017-08-16 18:05] mechvel commented on #2696
It looks like my library has several places that rely on the above irrelevance incorrectly, and so that Agda of April 13 allows this.
I need to somehow rewise  the program.
Thanks to you, people, for fast response and explanation !

[2017-08-16 19:29] UlfNorell commented on #2659
Window 10, ghc-8.0.1 works ok.

[2017-08-16 20:53] andreasabel commented on #2696
I guess we can close this then.

[2017-08-16 20:53] #2696 closed, assigned to nobody

[2017-08-17 00:55] m0davis commented on #2690
Here's a simpler(?) example that succeeds prior to the patch but fails after.
[code]

[2017-08-17 07:46] UlfNorell commented on #2688
I don't have `ghc-8.2.1` on my Windows VM, but the functions we are using from `Win32` (in `Agda.Utils.FileName`) have not changed between `Win32-2.4` and `Win32-2.5` so it's safe to simply bump the upper bound.

[2017-08-17 07:53] #142 closed, assigned to UlfNorell

[2017-08-17 07:54] UlfNorell commented on #142
@andreasabel: Fixed as suggested.

[2017-08-17 08:11] asr commented on #2659
Please note that the RC announced on the mailing lists corresponds to the stable branch on commit 7750254e93c722b2cc642f8b4240a212cc6de4b2.

[2017-08-17 08:20] asr commented on #142
Is a consequence of this fix that the current master of the standard library is not compatible with the RC for 2.5.3?

[2017-08-17 08:43] asr commented on #142
Self-answer: The master branch of the standard library continues being compatible with the RC.

[2017-08-17 08:55] UlfNorell commented on #142
Indeed. After the fix Agda is more picky, so if it checks with current stable it also checks with the RC (at least wrt this fix).

[2017-08-17 09:39] #2690 closed, assigned to nobody

[2017-08-17 12:51] asr commented on #142
For preparing the release of 2.5.3 next week I'm planning to use the stable branch on that week, so I added the 2.5.3 milestone to this issue.

[2017-08-17 14:44] asr opened #2699 "Cubical status"
@Saizan, is the cubical implementation ready for releasing? (I know an entry in the CHANGELOG is missing).

AFAIK the only difference between stable and master is the cubical implementation, so if cubical is ready, we can discuss about release from the master branch rather than the stable one.

[2017-08-17 14:50] UlfNorell opened #2700 "Add a command to check against goal type (and normalise)"
Use case: invoke instance search to find a solution to the current goal. You could then put `it` in the hole and invoke the command. With `it` defined as

[code]

See #2172 for more discussion.

[2017-08-17 14:50] UlfNorell commented on #2172
I filed #2700 for the new command, so closing this issue.

[2017-08-17 14:50] #2172 closed, assigned to andreasabel

[2017-08-17 14:51] Saizan commented on #2699
I would like to move some definitions from my cubical-demo repo into Agda.Builtin.* modules before releasing cubical, I plan to do that this week.

Would also be good to turn some of the demo code into Agda tests.

We should also do something about #2461 .

[2017-08-17 14:51] UlfNorell commented on #2514
In fact, once the problem with errors being integral to instance search (and also reflection with `catchTC`) is solved, it might make sense to turn *all* type errors into warnings in order to get all errors in one go instead of just the first one.

If checking a term fails we can simply create a place-holder meta and keep going.

[2017-08-17 15:01] UlfNorell commented on #2699
Since we're trying to get this release out quickly (see the OP of #2659), I'd rather we release `2.5.3` first and then we can worry about getting cubical in shape for release.

[2017-08-17 15:02] gallais commented on #2514
Surely we would have to prevent this meta from being solved by unification?

[2017-08-17 15:05] asr commented on #2172
and changing the milestone.

[2017-08-17 15:06] asr commented on #2699
OK.

[2017-08-17 15:06] #2699 closed, assigned to nobody

[2017-08-17 15:10] UlfNorell commented on #2514
We certainly could, but I don't think we have to. We'll still get the error and it might be that further errors are more informative if we allow the place holder to be instantiated with the "correct" value.

[2017-08-17 15:12] UlfNorell commented on #2172
You probably don't want to put this one in the release notes though, since we closed it with "working-is-intended".

[2017-08-17 15:18] andreasabel commented on #2699
@Saizan : Before release, I suggest a code review session for the cubical additions, during which the following can be addressed

- [ ] source code documentation
- [ ] comprehensive regression tests covering the features of cubical

[2017-08-17 15:23] asr commented on #2688
Do it, please.

[2017-08-17 15:26] Saizan commented on #2699
@andreasabel : Sounds good, would we go over the code together, or?

[2017-08-17 15:29] andreasabel opened #2701 "Search the scope of imported libraries"
Now that we have the `.agda-lib` files, we could use the libraries to improve the `NotInScope` error to also list hits in the non-imported files of the libraries in the project.

Steps to make this work:

- [ ] get all the source files of a library.
  This could either be directory search, or we agree on a convention that if `Everything.agda` or   `README.agda` are present, then only this file is

[2017-08-17 15:33] asr commented on #2172
Re-labelled.

[2017-08-17 15:42] UlfNorell commented on #2514
Experimenting with errors as warnings on [a branch on my fork](/UlfNorell/agda/tree/issue2514). There are some interaction test issues I haven't looked into and some of the changed errors from test/Fail in https://github.com/UlfNorell/agda/commit/17fa35bb6abb1c0bfe63beb4b04acef8fa08f264 are not clearly correct.

[2017-08-17 15:48] #2688 closed, assigned to nobody

[2017-08-17 15:54] asr commented on #2688
Thanks!

[2017-08-17 16:08] WolframKahl commented on #2701
- [ ] Benchmark for memory consumption.

- [ ] Provide a verbosity switch that reports for each library some number that is at least closely connected with the memory occupied.

- [ ] Provide a command-line switch to turn it off, for cases where memory is tight anyways.

EDIT (Andreas): github does not render these check boxes, maybe it takes them only from one comment.

[2017-08-17 16:22] asr opened #2702 "test/interaction/Issue1829.agda fails sometimes with GHC 8.2.1 (only in master)"
In master, sometimes I got this error with GHC 8.2.1 when testing #1829:

[code]

If I run `make interaction` again, the problem disappears. Travis also has the same behaviour, that is, sometimes `test/interaction/Issue1829.agda` fails (see for example jobs [265498079](https://www.travis-ci.org/agda/agda/jobs/265498079) or [265087070](https://www.travis-ci.org/agda/agda/builds/265087070)) but the

[2017-08-17 16:25] asr commented on #2540
See #2702.

[2017-08-17 16:28] asr commented on #2702
In a previous report of this problem, @andreasabel [wrote](https://github.com/agda/agda/issues/2540#issuecomment-300066961):

[2017-08-17 19:10] davdar opened #2703 "Regression: Internal error for underapplied indexed constructor"
Attached is the project which triggers the error. The error is in F.agda, which uses the included Core library. The reported error:

[bug.zip](https://github.com/agda/agda/files/1232329/bug.zip)

[2017-08-17 22:51] gallais commented on #2703
Shrunk test case (I use `with` here but the original error showed up when using `rewrite`):

[code]

[2017-08-18 00:33] xekoukou commented on #2699
Is the cubical implementation complete?
It seems that HIT are not possible at the [moment](https://github.com/Saizan/cubical-demo/blob/master/Circle.agda#L8)

[2017-08-18 06:22] UlfNorell commented on #2703
The code throwing the error was introduced recently by @andreasabel in 8afa335, when working on #1515 and #2384.

It looks wrong to me:

[code]

Here the original `t` is the type of a constructor `c`, partially or fully applied. The claim that the target type does not depend on the telescope is clearly not correct in the case of indexed data types.

We get the failure when calling `getConType` fro

[2017-08-18 08:41] Saizan commented on #2699
@xekoukou it would still make sense to release without HITs.

However it might be that we also have HITs by that time.

[2017-08-18 09:28] Saizan commented on #2702
Memory use does grow with a longer Issue1829.in, while it's supposed to be constant.

So we do have an issue here.

[2017-08-18 10:50] andreasabel commented on #2703
Thanks @davdar @gallais @UlfNorell.  Here is a further shrunk test case:
[code]

[2017-08-18 11:05] andreasabel commented on #2703
I wonder what is going wrong here.  Is the substitution applied eagerly?  I thought I can strengthen and only get the `__IMPOSSIBLE__` when I am actually strict on the impossible variable.

[2017-08-18 11:32] UlfNorell commented on #2703
Yes, that should be the case.

[2017-08-18 11:37] andreasabel commented on #2703
Well then I don't understand the error.  All we want from the strengthened type is the datatype parameter, which should be well-scoped.  We ignore the indices which have the impossible variables.

Anyway, I am now trying to do the strengthening after the call to `getFullyAppliedConType` which is safer.
The reason is that it is hard to debug terms with `__IMPOSSIBLE__`s inside.

[2017-08-18 11:49] andreasabel commented on #2703
I think I located the problem: It is the way we apply substitutions to `Def`s:
[code]
In the particular case, `applySubst (StrengthenS...) (Def f var0)` will check whether `strengthen var0` is a record constructor with field `f`, and crashes.

Thus, my assumption about the laziness of substitution is wrong.

The workaround of my last comment fixes the present issue.

However, to get the lazy behav

[2017-08-18 12:12] andreasabel commented on #2701
@WolframKahl : good points!

We could cache a search index which is only rebuilt when a module of one of the used libraries changes.  This would keep memory use pretty low, I suppose.

[2017-08-18 12:16] #2703 closed, assigned to andreasabel

[2017-08-18 12:42] andreasabel opened #2704 "Interaction testcase for #983 does not run stably"
If my machine is quite busy, the test case for #983 fails.  Must be some race coditions, see the `sleep` instructions in the test script (below).  I wonder whether this test could be done without the sleep magic.
[code]

[2017-08-18 12:45] gallais commented on #2058
I started looking into this on https://github.com/gallais/agda/tree/appveyor. It looks like I'm on the path of getting [something very basic working](https://ci.appveyor.com/project/gallais/agda/build/1.0.10). However one of the big limitations of appveyor is that we only get **1 build** running at any time.

They nonetheless have one neat feature which can be activated in the `Settings` tab of a

[2017-08-18 13:57] Saizan commented on #2702
Some investigation:

It seems unrelated to --caching.

Without passing the --caching flag: using a 25k lines long Issue1829.in we get that all 4 of agda master and stable-2.5 compiled both with 8.0.2 and 8.2.1 exhaust an heap of 10MB while they all do fine against a 1k lines long Issue1829.in

[2017-08-18 14:03] andreasabel opened #2705 "The GHC backend might diverge in infinite file creation"
To produce this bug with Agda-2.5.3 and ghc-7.10.3:
[code]
This will attempt to copy the contents of
[code]
into
[code]
and, due to the implementation of `Agda.Utils.IO.Directory.copyDirContent`, produce an infinitely deep tree containing
`MAlonzo/MAlonzo/MAlonzo...`.
The problem is that `copyDirContent A A/B` exhibits this behavior; there should be a check that the source and target directories a

[2017-08-18 14:12] UlfNorell commented on #2704
One might also ask the question whether it's worth keeping the test at all if it doesn't succeed reliably. Do we think it's likely it will catch some future bug?

[2017-08-18 15:01] identicalsnowflake commented on #2705
It seems like we just need a coinductive file system.

[2017-08-18 15:15] andreasabel commented on #2704
It is not too bad to keep it.  If it fails, I will accept the new output and then run the testsuite again.  Usually the old output comes back then.  However, this test might also cause problems on travis.

So far we have no tool to justify the usefulness of our test cases.  We do not keep a history of failing test cases.  (This one would even distort the usefulness measure.)  Our test cases are ra

[2017-08-18 15:19] andreasabel commented on #2705
Well, a safe implementation would first make a list of files to be copied, and then do the copying.  I looked for package on hackage, and found
* https://hackage.haskell.org/package/fsutils-0.1.2/docs/src/System-Path.html#copyDir
  correct implementation, but package seems dead (last commit 2012)
* https://hackage.haskell.org/package/filesystem-trees
  has a `copyTo` function.  Last commit in 2015

[2017-08-18 15:55] andreasabel commented on #2705
I am fixing this by refactoring the existing code of `copyDirContent` into two phases:
1. Create a TODO list.
2. Execute the TODO list.

Now, we still get slightly stupid behavior of MAlonzo, but there is no risk of filling your harddrive with an infinite tree.
[code]
Things have been copied twice, but who cares, this bug is very unlikely to surface in the wild.

[2017-08-18 16:11] #2705 closed, assigned to andreasabel

[2017-08-18 16:13] gallais commented on #1764
Ok here is a practical use case. Currently `IO` is quite unusable because:

- all of the types used in an IO action need to live at the same level
- the bindings to Haskell all live at `Set 0`

This means that in practice you have to either only have `IO` actions delivering values of type in `Set 0` or not use any of the bindings. Here is an alternative definition that would be nice to have:

[cod

[2017-08-18 20:22] UlfNorell commented on #2704
Of course we shouldn't throw out tests for no reason, but if it takes a continuous effort (restarting Travis builds, rerunning the test suite) to keep it, I don't think the benefits justify the costs.

[2017-08-18 20:27] asr commented on #2704
I don't recall to restart a Travis job due to this test case.

[2017-08-18 20:29] UlfNorell commented on #2704
Neither do I. Nor can I remember it failing on my machine. I'm just saying that removing it is a valid option if it's causing problems.

[2017-08-19 05:19] favonia commented on #2058
@gallais FYI: travis also has the "auto cancellation" feature, if Agda devs want it.

[2017-08-19 08:26] andreasabel opened #2706 "Document Interaction.Library"
The library management code is undocumented and lacks test cases.  I have started reading it and adding comments as I understand the code.  I may also add a few quick check properties.

This issue serves to discuss questions I might get while reviewing the code.

The first one is for @UlfNorell at https://github.com/agda/agda/commit/c2739a13009166f6d8e9fa615ac356bde9f1e4cf##commitcomment-23739006

[2017-08-19 09:05] andreasabel opened #2707 "Bump QuickCheck to latest version (after release)"
I realized that QuickCheck-2.10 (or something > 2.8.2) has the intelligence to run a `Bool` test only once, not a 100 times.

We should bump the QuickCheck dependency after the release, it builds stably with all ghc versions >= 7.4, see https://matrix.hackage.haskell.org/package/QuickCheck .

[2017-08-19 12:35] andreasabel opened #2708 "Why is the `name` field in .agda-lib files mandatory?"
I often write throw-away .agda-lib files to define just dependencies and include pathes of my project.
Why do I have to give it a name if I do not intend to use it as a library in other projects?

We could make the `name` field optional.  "Libraries" with no name cannot be depended on, naturally.

[2017-08-19 13:10] asr commented on #2707
Since QuickCheck is only used in the `internal-tests` test-suite and the tests-suites are not included in the release, you can bump the QuickCheck dependency now.

[2017-08-19 13:22] asr commented on #2707
Please note that the comment

[code]

in `Agda.cabal` is outdated because we are not  including the tests-suites when testing Agda on Stackage via Travis.

[2017-08-19 14:31] m0davis opened #2709 "Problems with inconsistent constraints (was internal error)"
I get an in internal error at `src/full/Agda/TypeChecking/Substitute.hs:98` in [this very complicated yet self-contained program](https://github.com/m0davis/oscar/blob/508e7f92fe2d984ba1cc5340e225decd6b1ee679/src-agda/src/Test/ṖropertyFactsSubstitunction.agda), which I'll be happy to reduce to a small(er) test case if anyone asks. Please let me know if that would be helpful. (UPDATE: reduced test

[2017-08-19 16:35] UlfNorell commented on #2709
See reply to mailing list: reduction to small test case is much appreciated.

[2017-08-19 16:56] andreasabel commented on #2709
There are unsolved metas before the crash happens.  I wonder if the crash will still happen if these metas are solved.  (In any case, Agda should not crash even with unsolved metas.)

After refining
[code]
There are still unsolved metas in the type of  `fact5⋆`.

Anyway, a smaller test case (with less unicode) would be greatly appreciated.

[2017-08-19 17:13] m0davis commented on #2709
@andreasabel Those unsolved metas only came about while I was trying to reduce the test case, so yeah, it'll still crash. In addition to making a small, less-unicode test case, I'll make sure there are no unsolved metas in the type.

[2017-08-20 23:55] kevinclancy opened #2710 "Type checker hangs"
When I try to load Typecheck.agda in the following project, the Agda compiler gets stuck while type checking. Uses Agda 2.5.2 and standard library 0.13.

https://github.com/kevinclancy/agda-hang

[2017-08-21 00:24] gallais commented on #2710
2.5.2 seems to spend an awful lot of time on `intT`. Maybe a type annotation could help?

2.6.0 quickly finds a type error line 284:

ℕ !=< (Γ (_m_1299 Γ₀)) of type Set
when checking that the expression m has type Γ (_m_1299 Γ₀)

[2017-08-21 03:14] m0davis commented on #2709
I stopped as soon as the program length (including the comment) was in the double-digits.
[code]
Honestly, I stopped b/c I don't know what else I can do to simplify the problem.

[2017-08-21 06:04] andreasabel commented on #2709
Ok, great!  I will do some further shrinking from here.

[2017-08-21 07:23] andreasabel commented on #2709
I got it a bit further, making the final `B` monomorphic and making a number of arguments visible.
The internal error is very brittle, many changes just turn it into a "No instance found" error.
[code]
The final message from Agda is:
[code]
@UlfNorell : do you want to take over?

[2017-08-21 10:18] #2707 closed, assigned to andreasabel

[2017-08-21 10:19] andreasabel commented on #2706
Ok, my documentation marathon is finished.

No issues found.

[2017-08-21 10:19] #2706 closed, assigned to andreasabel

[2017-08-21 10:28] andreasabel commented on #2701
We could even lazily build the search index only when it is used, i.e., by an error message or user query.  For code that compiles in batch mode, this would be zero overhead then.

The search index can be built from the .agdai files, even out-dated ones.  Basically from the last compilable state. This is important because we need it in cases where there are scope errors.

[2017-08-21 14:35] WolframKahl commented on #2701
The last .agdai file still might contain completely different identifiers than the current source.

[2017-08-21 18:09] rntz opened #2711 "Absurd pattern synonyms in pattern lambdas sometimes don't parse"
[code]

[2017-08-21 18:46] MatthewDaggitt commented on #2711
Just my two cents, but they do work sometimes (e.g. [Data.Bin](https://github.com/agda/agda-stdlib/blob/master/src/Data/Bin.agda) in the standard library)

[2017-08-21 19:15] andreasabel commented on #2711
The parser is too eager to throw an error here.  This bug is explained by the advent of pattern synonyms _after_ pattern lambdas.

Pattern synonyms for absurd patterns do work for definitions already, however:
[code]

[2017-08-21 19:34] andreasabel commented on #2592
This bug is undead, I saw it again while playing with issue #2711 and an outdated standard library.

Depend on this library (directory `src`):
[outdated-std-lib.zip](https://github.com/agda/agda/files/1239917/outdated-std-lib.zip)

Consider this file depending on the outdated library.
[code]
- Load it.
- Move the commented-out function higher up (still commented out).
- Load again.
[code]

[2017-08-21 19:50] andreasabel commented on #2711
The problem seems to be that the parser does not even recognize `\ { nope }` as pattern lambda.  It sees a hidden lambda without a body and complains.
Parseable, though not type correct is for instance `\ { z -> z; nope }`.

A variant that fails with a different error message is `\ { (nope) }`:
[code]

On the other hand lambda-where works:
[code]
There are plenty of workarounds and plenty of cases

[2017-08-21 20:22] fredrikNordvallForsberg commented on #2592
Hm, I can't reproduce this following the instructions above... (That is, I replace my standard library `src` with the one from the zip file, and follow the instructions, but I don't get the internal error.)

I'm assuming the problem comes from the warnings generated by the outdated `COMPILED_DATA` and `HASKELL` pragmas in the old `Data.Empty`. Do you have the same problem if you import just a loca

[2017-08-21 20:25] andreasabel commented on #2711
@UlfNorell @fredrikNordvallForsberg I am lost trying to debug our grammar.  We are doing too much in the happy parser.  I think we should get rid of all attempts to parse patterns or absurd matches in the parser and do these in a later phase.

But please have a look, maybe you can still patch this...

[2017-08-21 20:31] andreasabel commented on #2592
No, if I copy `Data.Empty` into a local file, I do not get the internal error.  I might be that the old `Data/Empty.agdai` file is important here.
Did you unpack with preserving the timestamp?

[2017-08-21 20:36] kevinclancy commented on #2710
Thanks. I updated to 2.6.0 and continued working until running into another hang. I have pushed the new version to the agda-hang repo. Once again, type checking Typechecker.agda causes a hang.

I believe that the problem emerged after making some of the arguments of my weakenBy functions implicit.
What compiler options should I set to easily identify which pieces of code are causing type checker p

[2017-08-21 20:55] gallais commented on #2710
In emacs, you can type `M-x customize-group RET agda2-highlight` and pick `Interactive` in the `Agda2 Highlight Level` option. You will then see a green background move through the file as it is getting typechecked. If it spends a lot of time on a definition that's because typechecking that definition takes a lot of time.

[2017-08-21 20:57] andreasabel commented on #2592
Inserting a debug message I get:
[code]
Mmh, HashTable does not want to show its contents...

Ok, here it is:
[code]
Why is `Agda.Builtin.Size` even referenced!?  Or, better, where?

[2017-08-21 21:11] fredrikNordvallForsberg commented on #2592
If I remember correctly the solution last time was to not serialise the path in question, hence bypassing the problem. So why are we serialising absolute paths this time?

Still no luck getting the error myself. I did unpack preserving timestamps, and the old interface files stay after loading `Bug.agda`.

[2017-08-21 21:35] andreasabel commented on #2592
I can consistently reproduce the problem in Agda 2.5.3.  `currentInterfaceVersion` is July 28th, and the `Data.Empty.agdai` file is from July 29th.

[2017-08-21 22:00] fredrikNordvallForsberg commented on #2592
I'm not doubting you of course, just feeling left out :-)

[2017-08-22 12:56] nad commented on #2604
Shouldn't this issue be fixed (or the changes reverted) before 2.5.3 is released? I don't think we should break links now, and then again when the next version of Agda is released.

[2017-08-22 13:42] nad commented on #2505
I can still reproduce the problem, so I don't think we should close this issue.

Am I really the only one seeing this? I think I've built the test suite using the following packages:

* EdisonAPI 1.3.1.
* EdisonCore 1.3.1.1.
* ListLike 4.5.1.
* QuickCheck 2.10.0.1.
* STMonadTrans 0.4.3.
* ansi-terminal 0.6.3.1.
* ansi-wl-pprint 0.6.8.1.
* array 0.5.2.0.
* async 2.1.1.1.
* base 4.10.0.0.
* base-com

[2017-08-22 13:52] nad commented on #2682
Doesn't it make more sense to hide all implementation details?

[2017-08-22 19:14] nad commented on #2698
Can you construct a reproducible test case? Does this not affect GNU Emacs 25?

[2017-08-22 19:23] nad commented on #2444
@gallais, I suggest that you open a new issue for this question.

[2017-08-22 20:12] nad commented on #2514
What about performance? Unsolved metas can slow Agda down. Are the warnings presented when they are encountered, or all at the same time?

[2017-08-22 20:13] nad commented on #2172
I guess you mean "working *as* intended".

[2017-08-22 20:43] nad commented on #496
I see no problem with closing this issue, it seems to be out of date. I don't even remember what kind of `abstract` keyword we had when I opened it.

Perhaps you could replace the `abandoned` label with `no longer applicable`, or something like that.

[2017-08-22 20:55] nad commented on #668
See #2217.

[2017-08-22 20:55] #668 closed, assigned to nobody

[2017-08-22 21:11] nad commented on #740
The flicker still annoys me, and it is inefficient.

[2017-08-22 21:25] nad commented on #2659
[code]

[2017-08-22 21:36] asr commented on #2217
@nad, I added the missing milestone.

[2017-08-22 21:59] nad commented on #2217
I thought milestones were targets: "We intend to resolve this issue before this version is released, or at least make an active choice to not do so".

[2017-08-22 23:51] fredrikNordvallForsberg commented on #2592
I implemented generation of the warning message at the time of throwing the warning, instead of at the time of printing it, thus bypassing the need to serialise the state and the environment.

@andreasabel, does that commit https://github.com/agda/agda/commit/c82680b241ee2a13631e7aca79db9f53201a6d1a make this problem go away for you? (Potential problem in order to find out: this necessarily update

[2017-08-23 00:31] asr commented on #2217
Some of us are using them as TODO/DONE lists.

[2017-08-23 01:14] asr commented on #2659
`binary 0.9.0.0` was deprecated in [Hackage](http://hackage.haskell.org/package/binary/preferred).

[2017-08-23 05:07] UlfNorell commented on #496
We haven't changed the way abstract works since you opened this issue.

[2017-08-23 06:35] nad commented on #2659
From https://www.stackage.org/package/binary:

[2017-08-23 06:42] nad commented on #496
I think the only point of contention is how to handle nesting, and the discussion above does not contain a clear specification of how nesting should be treated. Furthermore we have been discussing and changing this more recently (see, for instance, #2207).

[2017-08-23 06:48] andreasabel commented on #2604
Is there evidence for breakage?

A yes, and a paper submission depends on this feature, so I would be glad if it was released soon.

[2017-08-23 06:54] andreasabel commented on #2682
Maybe the rationale for solution 2. is that abstract classes (in Java) still export their methods, even if you cannot construct objects of these classes.  Exporting the projections of an abstract record type feels similar: you cannot construct a record value, but you can get its components.

[2017-08-23 06:59] andreasabel commented on #2698
I have not tried Emacs 25,  my system is on 24.
Constructing a test case would take some time I do not have right now.

[2017-08-23 07:03] andreasabel commented on #2172
I renamed the label to "status: working-as-intended".

[2017-08-23 07:06] UlfNorell commented on #2682
One argument against is that projections are treated differently from ordinary functions, so if you were to change the implementation of the abstract record, making some or all projections ordinary functions, code using it might break. Most obvious breakage: copattern matching and postfix projections.

[2017-08-23 07:07] andreasabel commented on #2217
A milestone should list the issues fixed for this release (or possible fixed unnoticed before).
I used the milestone to extract a list of fixed bugs for the CHANGELOG, see https://github.com/agda/agda/blob/master/src/issues/ClosedIssuesForMilestone.hs .

[2017-08-23 07:12] nad commented on #2604
If you intend to have links to identifiers in published papers, then it seems reasonable to me to make the links as stable as possible.

I gave you evidence of breakage above: we generate syntactically incorrect code.

I expect that it is easy to fix this by using another encoding scheme than the one @gallais tried above, for instance the [z-encoding used by GHC](https://ghc.haskell.org/trac/ghc/w

[2017-08-23 07:18] andreasabel commented on #496
We also have the label "status: already-fixed" or the new label "status: working-as-intended" in the menu today. ;)

[2017-08-23 07:24] andreasabel commented on #2682
Both 1. and 2. are valid standpoints, but we are discussing things a bit in the air since we do not have any real life use cases that could guide us in the design, have we?  (I have only used `abstract` to make some definitions (like lemmata) opaque for efficiency reasons.)

[2017-08-23 07:40] andreasabel commented on #2604
I guess the current popular browsers skip the syntax check since nothing is gained by the restriction it imposes.

One thing to keep in mind is that the anchor names should be as similar to the QNames as possible, since the user writes them in his LaTeX document.  If we do some encoding, we should also ship a LaTeX macro that performs this encoding, to keep things simple to use.

The current use i

[2017-08-23 07:57] andreasabel commented on #2592
Confirming that the problem went away.

[2017-08-23 08:03] nad commented on #2702
I fed 25000 lines of input to Agda 2.6.0-439fe3e (roughly), built using GHC 8.2.1, with a 20M heap, and got the following `-h` heap profile:

![1829](https://user-images.githubusercontent.com/293222/29604685-9a8c6916-87e8-11e7-82f3-c7a135c33064.png)

This profile is consistent with the changes I implemented for #2217, in which I added a command queue, and a process that reads commands and places t

[2017-08-23 08:07] nad commented on #2682
I have used `abstract` to hide implementation details, see my paper in POPL 2008.

[2017-08-23 08:10] fredrikNordvallForsberg commented on #2592
Great! Then I'll close this again.

[2017-08-23 08:10] #2592 closed, assigned to fredrikNordvallForsberg

[2017-08-23 08:12] nad commented on #2604
We don't have to do this before the next release, the LaTeX macro can be added later. However, we can keep it in mind when deciding what kind of encoding scheme to use.

[2017-08-23 08:13] nad commented on #2604
We are generating `name` attributes.

[2017-08-23 08:25] UlfNorell commented on #2709
Further simplification: getting rid of the module applications, exposing the instance goal that triggers the error, and specialising some arguments:

[code]

[2017-08-23 08:35] Saizan commented on #2702
Oh, that explains why the heap exhausted error is thrown after not much of the usual interaction output. I was not aware of this command queue.

[2017-08-23 08:47] nad commented on #2604
I've read a small part of the specification of [XHTML 1.0](http://www.w3.org/TR/2002/REC-xhtml1-20020801). Some notes:
* The `id` attribute [must be used](https://www.w3.org/TR/xhtml1/#h-4.10) to specify anchor targets.
* For compatibility reasons it is [recommended](https://www.w3.org/TR/xhtml1/#C_8) to use both `name` and `id` attributes, with equal attribute values.
* The `name` attributes [can

[2017-08-23 10:06] andreasabel commented on #2682
Abstract records?  Where?

[2017-08-23 10:12] nad commented on #2604
On the other hand, perhaps we can ignore compatibility guidelines from 2002.

I replaced all `name` attributes with `id` in the test case mentioned above. The validator complains about attribute values starting with digits, as well as attributes containing `#`, `%` and `∀`.

Here you have referred to a draft of the HTML 5.3 standard. I suggest that we switch to HTML 5. While the current HTML 5 sta

[2017-08-23 10:21] nad commented on #2604
I have not checked things very carefully, but I think this amounts to percent-encoding the UTF8-encoded stream of octets. I'm not aware of any UTF8-encoders implemented in TeX/LaTeX...

[2017-08-23 10:27] nad commented on #2682
I don't recall using abstract records, but I've used abstract to hide implementation details (rather than to improve performance).

I don't see a good argument for treating projections differently from constructors.

[2017-08-23 10:33] nad commented on #2604
This package can generate HTML 5, right? Did you complete porting the backend?

[2017-08-23 10:40] gallais commented on #2604
I have nuked the branch because I thought it was useless. But it's a straightforward port so I can reproduce it if you think that'd be helpful.

[2017-08-23 11:49] gallais opened #2712 "Compiler Pragma for headers"
Following @nad's suggestion in #2444, I open a standalone issue:

Is there a way to turn some language extensions on in the generated code from inside Agda? E.g. I'd like `PackageImports`. If I use:

[code]

then I get

[code]

and the `LANGUAGE` pragma is just ignored by ghc.

[2017-08-23 11:57] asr commented on #2505
Which is the output of
[code]
?

[2017-08-23 12:06] asr commented on #2505
I'm getting an error using the `freeze` option of `cabal-install`:

[code]

[code]

[2017-08-23 12:29] asr commented on #2505
From the above error it seems we are using the same versions of the dependencies.

[2017-08-23 13:36] nad commented on #2505
[code]

[2017-08-23 13:37] nad commented on #2604
Yes, please do so.

[2017-08-23 14:25] nad commented on #2604
A summary of what I suggest that we do:
* [x] Switch to HTML 5.
* [x] Use the `id` attribute.
* [ ] Use **unique** Agda identifiers as the `id` attribute values, except that some characters (to be determined, at least including `&`) should be escaped in some way.
* [x] When we generate links to these identifiers we use the standard encoding (percent-encoding of the UTF-8 representation) of the val

[2017-08-23 14:27] m0davis opened #2713 "Unexpected behavior of instance argument application"
I had thought that, in all cases where an argument is applied to a function, any unmentioned preceding instance arguments would be filled by agda as `{{it}}`. For example, given `foo : {{_ _ : _}} -> _ -> _`, `foo x` is equivalent to `foo {{it}} x`, which in turn is equivalent to `foo {{it}} {{it}} x`. But it turns out that isn't the case, as shown below.
[code]

The error is

    Instance search

[2017-08-23 15:01] andreasabel commented on #2713
`fails` adds local instance `idF = toDiagonalFunctionClass` to `works-1` and fails.
(`works-2` works with or without the `idF` local instance.)

Why does `works-1` actually work?  Which instance solves the second instance meta?
#2700 would help to investigate this further (see #2172).

[2017-08-23 15:07] andreasabel commented on #2712
It seems natural to try to make this work:
[code]
which currently gives a
[code]
error.

- [ ] Allow `ForeignPragma` before module header
- [ ] Remember in `stForeignCode` which FOREIGN pragmas occured before the module header.
- [ ] Put those before the Haskell module header when generating Haskell code.

[2017-08-23 15:12] andreasabel commented on #2712
Short testcase:
[code]
Should not raise error:
[code]

[2017-08-23 15:27] UlfNorell commented on #2709
More simplification, splitting `Class` into two separate types.

[code]

Much simplified this is what happens:

[code]

It looks like the problematic step is `(*)`, but I haven't quite figured out what exactly we're doing wrong. (If you're following along in the debug output, `(*)` is really `_147 := _B?_163 _x_143 : _171 → Set`.)

I confirmed that this isn't an instance issue. You can also trigge

[2017-08-23 15:30] andreasabel commented on #2712
Alternatively, we could keep the old order
[code]
and just print the LANGUAGE pragmas in the correct position in the Haskell file.

[2017-08-23 15:31] UlfNorell commented on #2712
We already have logic like this in place for imports, which need to go at a particular place in the Haskell file. See `Agda.Compiler.MAlonzo.Pragmas.isImport` and its uses.

[2017-08-23 15:38] andreasabel commented on #2712
I looked at this.  We can do the same for _file-header pragmas_, see https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#pragmas

In general, I was a bit surprised to see that foreign code is just printed as two blobs (imports, non-imports) and not in the order and position as they appear in the Agda source.  But it seems that this is fine, as Haskell does not have co

[2017-08-23 15:41] UlfNorell commented on #2713
`{{it}}` is not exactly equivalent to omitting the argument. The former adds some extra meta indirections (the arguments to `it`). That really shouldn't matter, but it will change the order of constraint solving in some cases.

[2017-08-23 15:43] asr commented on #2505
Could you reproduce the issue using the file

[code]

?

[2017-08-23 16:25] andreasabel commented on #2712
The correct test case is:
[code]

[2017-08-23 16:30] andreasabel commented on #2712
CHANGELOG entry:

[2017-08-23 16:49] andreasabel opened #2714 "Option --no-main should be allowed as file-local option"
Make this compile without warning, e.g. with the GHC backend:
[code]
Currently it gives:
[code]

[2017-08-23 17:00] #2712 closed, assigned to andreasabel

[2017-08-23 17:01] andreasabel commented on #2172
Mixed up #2712 with #2172.

[2017-08-23 17:01] andreasabel commented on #2712
Closed by https://github.com/agda/agda/commit/49c5c7d95475cd700a02dd822217c6d65ad535bc .

[2017-08-23 17:20] andreasabel commented on #2714
Funny: I moved the the command line option `optCompileNoMain` to the pragma options and changed to
[code]
in `Agda.Compiler.Backend.backendInteraction`.  Now it works if Agda is called from the command line, but not if I call the GHC backend from Emacs.

[2017-08-23 17:48] nad commented on #2604
* Ampersands [must not](https://www.w3.org/TR/2014/REC-html5-20141028/syntax.html#attributes-0) be [ambiguous](https://www.w3.org/TR/2014/REC-html5-20141028/syntax.html#syntax-ambiguous-ampersand). I suggest that we encode all ampersands using `&amp;`.
* If the value is delimited by double quotation marks (`"`), then double quotation marks inside the value must be encoded. However, we can't use do

[2017-08-23 18:12] andreasabel commented on #2714
From Emacs, we enter `compilerMain` directly, not through `backendInteraction`.
I recover the `--no-main` flag now from the pragma options of the interface.

CHANGELOG entry:

[2017-08-23 18:24] #2714 closed, assigned to andreasabel

[2017-08-23 18:24] nad commented on #2505
I have (unsurprisingly?) not managed to reproduce the issue with this setting in place.

[2017-08-23 18:35] m0davis commented on #2713
@andreasabel, it must be the `iDP` instance argument (in the context of `works-1`). It fits:
[code]
The only other instance in scope is `iC`, but it has the wrong shape.

[2017-08-23 18:39] asr commented on #2505
Which is the output of

[code]

?

[2017-08-23 18:54] andreasabel commented on #2708
CHANGELOG entry:

[2017-08-23 18:57] #2708 closed, assigned to andreasabel

[2017-08-23 19:05] andreasabel opened #2715 "Hide projections of abstract record types?"
Continuing #2682 here.
Current status: projections of abstract record types are in scope, but do not reduce.
Proposed change: projections of abstract record types are not even in scope.

[2017-08-23 19:06] andreasabel commented on #2682
The actual bug has been fixed here.  Let's move the discussion to a new issue: #2715. (And a new milestone.)

[2017-08-23 19:06] #2682 closed, assigned to andreasabel

[2017-08-23 19:12] andreasabel commented on #2689
On my system, this does not happen (ghc-7.10, cabal-install-1.24).  Is this a feature of cabal-install-2.0?

[2017-08-23 21:18] nad commented on #2505
[code]

[2017-08-23 21:57] asr commented on #2505
We have a similar set up, but neither Travis or I can reproduce the issue. Does the issue also show up in the stable branch?

[2017-08-23 22:18] gallais opened #2716 "Decouple the LaTeX and HTML backend tests"
At the moment it is impossible to run either one or the other: there is only one make target for both.

[code]

[2017-08-24 07:30] nad commented on #2505
Yes.

[2017-08-24 07:58] andreasabel commented on #2689
Ah, sorry, it does:
[code]
Depends what you mean by `recompiling`.  It is not actually recompiling anything if nothing has changed.

[2017-08-24 08:29] m0davis opened #2717 "internal error at DisplayForm.hs:197"
I've managed to trigger an internal error when the verbosity is set to 100.
[code]
The error message is

    An internal error has occurred. Please report this as a bug.
    Location of the error: src/full/Agda/TypeChecking/DisplayForm.hs:197

The last line in the debug window is

    displayForm for AgdaErrorDisplayForm197.M.D:
      context = [CtxId 126,CtxId 125,CtxId 26],
      dfs = [Local Ag

[2017-08-24 08:37] UlfNorell commented on #2709
I managed to engineer a test case exhibiting the problem from scratch based on the simplified explanation above:

[code]

The problem is the rule for checking argument spines:

[code]
If the arguments are not a conclusive match we proceed with a fresh meta in their place. This is (perhaps unsurprisingly) not enough to avoid building illtyped terms.

See also #2384.

[2017-08-24 08:47] andreasabel commented on #2716
I think this can be solved by either:
1. defining additional `TestTree`s outside the `all` tree which then can be invoked through the `Makefile`.
2. breaking the `LaTeXAndHtml` tree into subtrees.

Option 2. would be very easy to implement, but would change the order of test.  Currently, the `HTML`, `LaTeX`, and `QuickLaTeX` test are run together per file.  For option 1. we would run first the `HT

[2017-08-24 08:49] andreasabel commented on #2716
I am going for additional test trees inside `all` with the names `HTMLOnly`, `LaTeXOnly`, and `QuickLaTeXOnly`.  It turned out the `all` tree is never used in its entirety, thus, it is fine to add groups with redundant tests there.

[2017-08-24 08:54] andreasabel commented on #2716
Done: new `Makefile` targets:
[code]

[2017-08-24 09:02] andreasabel commented on #2717
Works with agda-2.5.2.

[2017-08-24 09:11] #2716 closed, assigned to andreasabel

[2017-08-24 09:12] andreasabel commented on #2717
Thanks for reporting!  This regression was likely introduced by the fix of #2590.

[2017-08-24 09:23] #2717 closed, assigned to andreasabel

[2017-08-24 09:25] UlfNorell commented on #2717
The minimal verbosity required to trigger the error is `-v tc.display.top:100 -v tc.polarity.dep:20` if you want to reduce unnecessary output from the test case.

[2017-08-24 09:29] andreasabel commented on #2717
Ok, can please update `test/Succeed/Issue2717.agda` accordingly?  I cannot test these bounds anymore...
(You can also zap the garbage comment at the end of the file.)

[2017-08-24 09:31] andreasabel commented on #2709
@vlopezj This might also be a test case to try in `tog`.

[2017-08-24 09:32] UlfNorell commented on #2717
Done.

[2017-08-24 09:39] UlfNorell commented on #2709
Related: #1467.

[2017-08-24 09:41] andreasabel commented on #2709
agda-2.5.2 fails with an error:
[code]

[2017-08-24 09:45] UlfNorell commented on #2709
That's not too surprising. The test case is very brittle and we've changed constraint solving since `2.5.2`, so we just happen to attack the constraints in a different order. I don't think this is something we should hold up the release over.

[2017-08-24 10:36] andreasabel commented on #2253
See #2684 and #2686.

[2017-08-24 11:09] andreasabel commented on #2253
Here, the call chain `flexiblePatterns -> isRecordConstructor -> getConstInfo` raised the scope error.
I made `isRecordConstructor` work for abstract constructors by using `getConstInfo'`.
Now, we get past `flexiblePatterns` and can raise a custom error in the splitter.
[code]
The original goal of interpreting `x` as a pattern variable is harder to realize, since the scope checker already decided

[2017-08-24 11:13] UlfNorell commented on #2707
Misstagged the commit. Should have been #2709.

[2017-08-24 11:13] UlfNorell commented on #2709
I implemented a temporary workaround in e43838242cd4f8e5d0 by removing the `__IMPOSSIBLE__`s.

[2017-08-24 11:15] andreasabel commented on #2702
@nad I seems you should also commit the new `Issue1829.out` file.

[2017-08-24 11:17] andreasabel commented on #2702
Ok, I do it.

[2017-08-24 11:19] andreasabel commented on #2702
Actually, it does not work on ghc-7.10:
[code]

[2017-08-24 11:24] #2253 closed, assigned to andreasabel

[2017-08-24 11:29] andreasabel commented on #2239
See also #2340 and #2628 and #2672.

[2017-08-24 11:39] andreasabel commented on #1611
Fixed by @jespercockx along #2621.

[2017-08-24 11:39] #1611 closed, assigned to andreasabel, jespercockx

[2017-08-24 12:05] nad commented on #2604
I don't see a good reason for escaping the strings that should be encoded using what I called the standard encoding.

It would be nice to know that that the "standard encoding" is the right way to produce links that will resolve correctly by standards-compliant browsers. I have not studied the relevant standards in enough detail to be able to say for sure.

In Agda we distinguish between, say, `Ö`

[2017-08-24 12:28] nad commented on #2604
Perhaps non-ASCII code points will be allowed in the upcoming HTML 5 standard. The current draft [refers](http://w3c.github.io/html/infrastructure.html#urls-terminology) to the WHATWG URL standard, which [includes](https://url.spec.whatwg.org/#url-code-points) lots of code points. However, some kind of encoding may still be required, see below.

Yes. Consider the following code:
[code]
Firefox 54.

[2017-08-24 12:33] UlfNorell commented on #2710
What happens is that the meta in the rhs of `weaken1-T` gets solved with `T↑∞ (weaken1-T Γ₀ T₀ T₁))` causing the divergence. This ought to be caught by the meta occurs check, so I'm not sure what's going wrong.

[2017-08-24 12:46] UlfNorell commented on #2710
The reason is that meta occurs check does not look inside definitions for interaction points. See #589.

Note that you can also provoke the loop by defining `weaken1-T  Γ₀ T₀ T₁ = T↑∞ (weaken1-T Γ₀ T₀ T₁))`  directly. That would be an instance of #42.

[2017-08-24 12:48] UlfNorell commented on #2710
Better solution of #589 would be to only disable the recursion check when giving/refining and not when the type checker instantiates an interaction point.

[2017-08-24 12:49] nad commented on #2604
Actually, I think that it is already fine to use the WHATWG URL standard. There is also a [WHATWG HTML standard](https://html.spec.whatwg.org/multipage/) that some people seem to prefer to the W3C one, and that is perhaps closer to (certain?) major browser implementations.

[2017-08-24 13:23] nad commented on #2702
It works on GHC 7.6.3 if you have installed a sufficiently recent version of process (>= 1.4.3.0). Sufficiently recent versions of process ship with GHC 8.0.2 and 8.2.1.

I'll remove the use of `withCreateProcess`.

[2017-08-24 13:30] #2702 closed, assigned to nad

[2017-08-24 13:33] nad commented on #2058
I turned on auto cancellation for "branch builds".

[2017-08-24 19:36] m0davis commented on #2713
Following the example of @UlfNorell's train of thought [ending here](https://github.com/agda/agda/issues/2709#issuecomment-324571584), I'll attempt to engineer a simplified test case for this issue. (caveat emptor: no promises on how far I'll get; but since I'm somewhat on the learning curve, this will be good for my edification.)

[2017-08-24 20:32] nad commented on #740
Here is some code that could perhaps be handled in a better way:
[code]

If we assume that highlighting of a string is linear in the length of the string, then the time required to highlight the large expression above is at least quadratic in its length.

[2017-08-25 04:39] asr commented on #2505
I'm running out of questions. Which file system (ext3, ext4, ... ) are you using? Is your directory mounted via NFS,  NTFS, ...?

[2017-08-25 04:46] asr commented on #2709
What is `tog`?

[2017-08-25 07:23] vlopezj commented on #2709
@asr It's a prototype type-checker for a subset of Agda. It is meant to test out the performance of various implementations of conversion.

https://lopezjuan.com/project/togt

"Andrés Sicard-Ramírez" <notifications@github.com> skrev: (25 augusti 2017 06:46:20 CEST)

[2017-08-25 08:01] nad commented on #2505
I'm using a local ext4-formatted disk.

[2017-08-25 09:19] andreasabel commented on #740
Is this a speculation what emacs does or does it concern our code?

[2017-08-25 10:03] nad commented on #740
We instruct Emacs to highlight in the following way:
* ⋮
* The entire expression.
* The first occurrence of `≡⟨⟩`.
* The entire expression.
* The first occurrence of `≡⟨⟩`.
* The first occurrence of `≡⟨⟩` and its left-hand subexpression.
* The first occurrence of `≡⟨⟩`.
* The first occurrence of `≡⟨⟩` and its right-hand subexpression.
* The first and second occurrences of `≡⟨⟩`.
* The first occurr

[2017-08-25 10:09] nad commented on #2505
Have you tried the following command?
[code]

[2017-08-25 13:49] jespercockx opened #2718 "Interactive 'give' doesn't insert enough parenthesis"
In the following program, you can 'give' the contents of the hole, but after reloading the solution is rejected.
[code]
This is in some way the dual problem to #737.

[2017-08-25 13:51] nad opened #2719 "Quadratic errors"
When an error is encountered Agda sends the error message to Emacs n + 1 times, where n is the number of highlighted regions: for every region the mouse-over text is set to the error message. If the error message also contains the highlighted text, then the amount of data sent to Emacs is (at least) quadratic in n.

[2017-08-25 13:55] nad opened #2720 "More compact representation of path to current file"
The highlighting data sent to Emacs contains "go to definition" links. Every such link includes an absolute path name, and typically those paths point to the current file. I suggest that we optimise this by representing the current path using a special atom.

[2017-08-25 14:03] nad commented on #2718
I seem to recall that Agda keeps track of fixities and uses that information in some way to figure out whether parantheses should be inserted. The following variant of your example is handled correctly:
[code]
I guess that the parenthesis-insertion machinery has not been programmed with lambdas in mind.

[2017-08-25 14:20] nad commented on #1904
Perhaps because of laziness and sharing, respectively.

[2017-08-25 18:30] WolframKahl commented on #2719
(And, as far as I can see, the link to the definition is destroyed.)

Does anybody actually look at the error message in the mouse-over text?

I don't; I always look at the error message in the *Agda* buffer, and move my mouse away when it happens to trigger that mouse-over error mesage.

[2017-08-25 19:12] nad commented on #2719
I don't. However, I can imagine that this feature could be useful if you are subjected to a buffer with a large number of different warnings.

[2017-08-26 00:04] asr commented on #2505
Are you getting the error running the above command? If so, how long it takes for getting the error?

[2017-08-26 16:56] m0davis commented on #2713
Interesting debug output with `-v tc:30`:
[code]

[2017-08-26 18:24] m0davis commented on #2713
A similar error arises from the following test case:
[code]

The error is:

    Instance search depth exhausted (max depth: 10) for candidate
    iDP : DiagonalPropertyClass {lzero} {r} {p} {I} R P C
    when checking that the expression it has type
    DiagonalPropertyClass {?i} {r} {p} {?I} ?R ?P ?C

[2017-08-28 10:06] asr commented on #2689
By running

[code]

I see the recompilation. You can also see the recompilation in Travis. For example, the log of [this](https://www.travis-ci.org/agda/agda/jobs/268326406) job shows the following output when running the `internal-tests` suite:

[code]

[2017-08-28 11:51] andreasabel commented on #2698
Maybe related to this issue: The .agda buffers restored with the desktop are not in agda2-mode.

[2017-08-28 12:21] jespercockx opened #2721 "Without-K doesn't prevent heterogeneous conflict between literals"
Agda accepts the following file:
[code]
However, with univalence it's possible to construct a proof of `_≡_ {A = Σ Set (λ X → X)} (Nat , 0) (Nat , 1)`, so Agda shouldn't consider this type to be empty.

[2017-08-28 12:53] jespercockx commented on #2721
@asr can we still include this in the release? It's a straightforward fix and I don't expect it will break any code (though you never know).

[2017-08-28 14:28] Saizan opened #2722 "LHS: internal error from implicit argument in a Path type"
Seems like something is going wrong when inserting implicit arguments coming from inside a path type.

[code]

We get the following with "-vtc.lhs.top:10". The internal patterns and the telescope are in sync, but the "x" pattern seems just ignored.
[code]

[2017-08-28 14:34] asr commented on #2721
Yes. I'm waiting the fix of #2604 for "freezing" the stable branch.

Please add the issue to the list of fixed issues in the CHANGELOG file and close the issue after it.

[2017-08-28 14:41] #2721 closed, assigned to jespercockx

[2017-08-28 14:44] Saizan opened #2723 "Unreachable clauses in definition by copattern matching trip clause compiler"
I guess we should get some kind of error message from a definition like ```foo```
[code]

[2017-08-28 14:45] andreasabel commented on #2604
In case you are waiting for me to fix this issue for the release #2659, I am not available soon enough.  Actually, @nad is now the most competent to fix this.

[2017-08-28 14:52] andreasabel commented on #2723
Related: #1986.

[2017-08-28 15:12] andreasabel commented on #2723
With `{-# OPTIONS --warning=error #-}` you get
[code]
Maybe a principled fix would be to mark unreachable clauses as such and leave them out of the clause compilation.

[2017-08-28 18:27] andreasabel commented on #2723
I implemented this fix (rather than making the clause compiler work correctly also in case of unreachable clauses).  Related: #424.

[2017-08-28 18:33] #2723 closed, assigned to andreasabel

[2017-08-29 06:25] nad commented on #2505
Sometimes one run suffices, sometimes it takes a while.

[2017-08-29 06:35] nad commented on #2604
Then I suggest that we roll back your changes (from the stable branch), rather than landing something that hasn't been tested properly just before the release.

[2017-08-29 21:18] andreasabel commented on #2604
Well, but even in its current state it is much more useful than what we had before.  I do not see a strong reason to roll it back.

[2017-08-30 06:29] nad commented on #2604
As I demonstrated above the current implementation is broken. If you want to use the new implementation for some paper that you are preparing, then you can do this even if we don't release it just yet.

[2017-08-30 07:51] nad commented on #2604
I just opened the following issue: https://github.com/jaspervdj/blaze-html/issues/110.

[2017-08-30 10:26] AndrasKovacs opened #2724 "Unsolved metas should be highlighted as soon as they are frozen"
The following is accepted in Agda-2.5.2:

[code]
The `_` can't be filled in manually, obviously.

[2017-08-30 10:48] nad commented on #2724
Agda does not enforce scoping rules for meta-variable solutions.

[2017-08-30 10:50] nad commented on #2604
I found another problem: The same `name` is sometimes used for multiple nodes. Here is a cut-down example:
[code]
Generated HTML:
[code]
Note that the two occurrences of `!_` have the same `name`.

It appears as if `defSiteHere` is [calculated](https://github.com/agda/agda/blob/867c083211e88c6890cd076d2b352da582e70539/src/full/Agda/Interaction/Highlighting/Generate.hs#L730) incorrectly for fixity

[2017-08-30 10:56] nad commented on #2604
Here is a related problem, that should perhaps be fixed at the same time. Consider the following code:
[code]
If we generate HTML for this file, then the generated links point to `A.html`, not `%41.html`.

[2017-08-30 11:10] nad commented on #2689
With my setup the library is recompiled with profiling turned on. Perhaps Cabal decides to recompile because the configuration has changed. Can the problem be fixed by running `cabal configure` with suitable options before `cabal test` is run?

[2017-08-30 11:16] AndrasKovacs commented on #2724
If I lift the "where" block to top, I get unsolved metas. Why does the behavior differ, then? Presumably because of freezing metas between top-level groups, but that suggests that we do care about meta scoping, doesn't it?

[2017-08-30 11:35] nad commented on #2724
We want to avoid "spooky action at a distance". Furthermore unsolved metas can make the type-checker slower, and the freezing allows us to highlight unsolved metas before the following block is checked. Unfortunately we don't do this, in the following example the underscore is not marked as being unsolved:
[code]
I think this should be fixed.

[2017-08-30 11:51] nad commented on #2604
I've pushed an incomplete fix to the Issue2604 branch. The problem with fixity declarations has not been resolved.

[2017-08-30 12:28] nad opened #2725 "File names for generated HTML files"
How should top-level module names containing non-ASCII characters be handled by the HTML backend? If we have a module called `Σ`, then we currently (using the code on the Issue2604 branch) generate proper links to a file called `Σ.html`. The generated HTML is placed in a file called `Σ.html`, but for file systems without a specified character encoding this could be problematic. I suggest that we u

[2017-08-30 17:21] andreasabel commented on #2724
@AndrasKovacs: a `where` block is implicitely `mutual`, thus, Agda solves `A = B`, and this is well-scoped.

[2017-08-30 17:27] AndrasKovacs commented on #2724
@andreasabel If it's mutual then I think I should not get a scope error when writing `A = B` explicitly. If I put a `mutual` inside the `where`, `A = B` works, but not otherwise.

[2017-08-30 20:58] andreasabel commented on #2724
Ah, ok, I am wrong.  But the freezing rules are like in a mutual block.  Basically, no meta is frozen until after the definition of `f`.

[2017-08-31 06:53] nad commented on #2724
An aside: @andreasabel, do you know why Agda fails to terminate when checking the code in my example above? Any attempt to reduce `F Set` to, say, WHNF results in non-termination, but why does Agda do this?

[2017-08-31 08:50] #2689 closed, assigned to asr

[2017-08-31 10:02] UlfNorell commented on #2724
Without checkout the debug output, my guess is that Agda wants to know whether to eta expand `? : F Set`.

[2017-08-31 11:22] gallais commented on #2700
Can / should we make this part of 2.5.3?

[2017-08-31 12:16] asr commented on #2700
Yes. Please add the issue to the list of fixed issues in the CHANGELOG file and close the issue after it.

[2017-08-31 13:24] #2700 closed, assigned to gallais

[2017-08-31 17:10] nad opened #2726 "Old regression related to with"
Consider the following code:
[code]
Agda 2.3.2.2 accepts this code. Agda 2.4.0.2 rejects it with the following error message:
[code]
Agda 2.6.0-439fe3e rejects the code with a similar error message:
[code]
Given that all three versions of Agda accept the code if `D` is moved to the top-level I assume that the code should be accepted.

[2017-08-31 17:22] nad opened #2727 "Internal errors related to rewrite"
Consider the following code:
[code]
This code triggers an internal error:
[code]
This is a regression. Agda 2.5.2 accepts the code.

The following code, which is also accepted by Agda 2.5.2, triggers a different internal error:
[code]
[code]

[2017-08-31 17:35] nad opened #2728 "Bad interaction between caching and the warning machinery"
Turn on caching and load the following code:
[code]
Result:
[code]
Edit the code:
[code]
Reload:
[code]

This is a regression. Bisection suggests that this bug was introduced by @andreasabel in 76dabd25e3d41fb0bda0b02e47a21aafddd6b6a4:
[code]
The script used above:
[code]

[2017-08-31 17:42] nad commented on #2725
I have fixed this issue, as outlined above, on the Issue2604 branch.

[2017-08-31 19:31] nad commented on #2727
Bisection with the first piece of code above points to @andreasabel's commit c46725e6b755cfc1fd42b916d841641d9e4ce892:
[code]
My guess is that this commit did not introduce the underlying problem.

We can replace `rewrite` by `with`:
[code]
In this case Agda 2.5.1 triggers an internal error. If a suitable implementation of `Agda.Builtin.Equality` is provided, then Agda 2.4.2.2 gives the following

[2017-08-31 21:38] nad commented on #2727
When I used the second piece of code, with `with` instead of `rewrite`, bisection pointed to @andreasabel's commit 07c52b9a43d29d3a71dbc3422a00039df76fd158:

[2017-09-01 07:26] nad commented on #2727
If this commit is reverted, then `make test` succeeds, and some of the test cases above are accepted. Status summary:
* Internal error, `Agda/TypeChecking/Abstract.hs:133` (accepted by Agda 2.5.2):

[code]
* Internal error, `Agda/TypeChecking/Abstract.hs:133` (internal error also for Agda 2.5.1, Agda 2.4.2.2 gives a type error that is similar to the errors listed in Issue #2726):

[code]
* Accepte

[2017-09-02 17:22] andreasabel commented on #2728
Sorry, in this change I was a naive user of the warning machinery.
It seems like caching keeps too many warnings...

@Saizan @fredrikNordvallForsberg What is mechanism to keep/discard warnings for caching?

[2017-09-03 04:25] ilovezfs commented on #2659
Any news on the 2.5.3 front?

[2017-09-03 09:39] Saizan commented on #2728
@andreasabel Caching is designed to care about the typechecking phase, so it starts recording the cache (and possibly invalidate it) according to what's happening after scope checking, and it logs the full "PostScopeState" part of TCState in the cache.

Warnings seem to be stored in the PostScopeState so they get cached, but if you generate them from the nicifier they won't get invalidated in most

[2017-09-03 13:25] andreasabel commented on #2728
@nad  Btw, not a regression, as we went from error to warning.

@Saizan If caching detects a file change, it now needs to clear out the warnings with a range past the change location.  Or it needs to compare the current PostScopeState to the previous one to see whether the previous one is still valid.

[2017-09-03 13:27] andreasabel opened #2729 "Regression: case splitting uses variable name variants instead of the unused original names"
[code]
This is a rather annoying regression; it affects interactive proof development quite a bit.

[2017-09-03 13:31] andreasabel opened #2730 "Command to give in spite of termination errors"
[code]
I already implemented this feature on my machine, just giving it an issue number here.

[2017-09-03 15:39] andreasabel commented on #2018
Looking at the history of test/interaction/Issue231.out , it is likely that regression #2729 was introduced by the fix of this issue: https://github.com/agda/agda/commit/67d50a9159147f0aa990aef4ae3ccbbfdd2b56df

Probably the fix of #2424 also contributes: https://github.com/agda/agda/commit/e60c544ed9f2234c7a2021adfae356811025d4bc

[2017-09-03 15:40] andreasabel commented on #2729
@UlfNorell regression introduced by fix of #2018 https://github.com/agda/agda/commit/67d50a9159147f0aa990aef4ae3ccbbfdd2b56df ?

My patch https://github.com/agda/agda/commit/e60c544ed9f2234c7a2021adfae356811025d4bc bears also responsibility.

[2017-09-03 16:27] andreasabel commented on #2729
https://github.com/agda/agda/commit/67d50a9159147f0aa990aef4ae3ccbbfdd2b56df introduced fresh name picking in AbstractToConcrete, treating pattern variables in a left-to-right order.  Instead, it should do two passes: first bind the user-written patterns without freshening, then the system-inserted ones with freshening.  Then my patch https://github.com/agda/agda/commit/e60c544ed9f2234c7a2021adfae

[2017-09-03 18:16] andreasabel commented on #2580
@jespercockx The splitter in Coverage.hs still produces `VarP "()"` rather than `AbsurdP`.

[code]
(Note: `ps'` is a dead definition.)  Maybe the `ps` should be manipulated to replace the splitted variable pattern by a `AbsurdP`.

[2017-09-03 18:17] nad commented on #2728
I don't follow you here. Previously you could fix the error/warning and reload successfully, now you can't.

[2017-09-03 18:42] nad commented on #2727
I reverted (parts of) the commit listed above. I'm not familiar with this part of the code base, but the commit is marked as a refactoring, so I assume that it was intended to be semantics-preserving.

@andreasabel, I wonder if your commit uncovered some broken invariant, caused by a bug in another part of the code.

[2017-09-03 18:55] nad commented on #2727
The following command can perhaps be used to track down a commit that can be blamed for the internal error that was introduced in Agda 2.5.1:
[code]
`Bug.agda`:
[code]

[2017-09-03 21:18] andreasabel commented on #2018
I will push a fix for #2729 which reverts my fix for #2424 and refines @UlfNorell 's fix introduced for this issue.

[2017-09-03 21:19] andreasabel commented on #2424
The above plan has not been fully implemented.  Actually, it is easier to build on the fix for #2018.  I will push a fix (also for #2729).

[2017-09-03 21:31] andreasabel commented on #2727
@nad thanks for doing the analysis.  Btw: Along these lines, I also caused regression #2703.  In that case it was because strengthening with our hereditary substitutions is stricter than strengthening with ordinary substitutions. (We are more strict than necessary because of how we implement the projection reduction.)

[2017-09-03 21:46] #2729 closed, assigned to andreasabel

[2017-09-03 21:46] #2730 closed, assigned to andreasabel

[2017-09-03 21:48] #2424 closed, assigned to andreasabel

[2017-09-04 09:40] nad commented on #2727
It points to 4a849c4404ef78a57bfebf75516b82e8ed8df59d, committed by @UlfNorell:

[2017-09-04 09:54] nad commented on #2659
Some issues are still unresolved:
* [x] #2604, #2725: Mostly fixed on the Issue2604 branch. One known problem remains to be fixed. I wouldn't mind if we delayed the release of this new feature.
* [x] #2727: Documents a regression, as well as another problem. The regression could perhaps be fixed by rolling back commit c46725e6b755cfc1fd42b916d841641d9e4ce892.
* [x] #2728: A regression.

[2017-09-04 17:27] andreasabel commented on #2727
CheckInternal is unforgiving with wrong hiding information.  It has uncovered sloppy hiding information before.  In principle, each use `defaultArg` or `defaultDom` is a suspect.  Issue #2668 could be related.

[2017-09-04 17:53] Blaisorblade commented on #2670
Also relevant: #1732, opened after Agda introduced this restriction. There @UlfNorell suggested functional dependencies as an alternative, while I mentioned that Lean claims to behave as we'd like. It's unclear (to me at least) whether their implementation approach could apply to Agda or not:

https://github.com/agda/agda/issues/1732#issuecomment-224003859

[2017-09-04 17:59] andreasabel commented on #2727
There seems to be some bug with the visibility of module parameters.  For instance, why is the following type-correct?
[code]
Shouldn't both `M.R` and `M.R.D` take `A` as visible parameter?

Agda-2.4.2.5 rejects this:
[code]
I thought module parameters only get abstracted hidden in constructors and fields, not in record modules and other definitions in a record module.

Maybe we changed that, but

[2017-09-04 18:18] andreasabel commented on #2727
Module application seems to be buggy (hello #892 and 7d3036bb9640720973f7acf94302babb339dd90c ?):
[code]
Suddenly, the hidden `A` becomes visible again.

[2017-09-04 18:19] Blaisorblade opened #2731 "Agda fails to build with happy 1.19.6"
The full error is in Happy generated output, and shown here:
https://gist.github.com/Blaisorblade/99db535d414e3011f0d9f647bca9f2a9.

It appears similar to simonmar/happy#94, but I haven't tried confirming it's the same issue.

Building Agda with Stackage LTS 8.24 (and happy 1.19.5) does not trigger the error, but building Agda 2.5.2 with Stackage LTS 9.3 (and happy 1.19.6) does. Which is a bit sur

[2017-09-04 18:47] andreasabel commented on #2727
Internally, in `checkSectionApplication'` the argument vector for module `R` is computed with the wrong hiding:
[code]
I think to blame is the call to `moduleParamsToApply`:
[code]
`moduleParamsToApply` should return a hidden `A` but returns a visible `A`, since it take the parameter telescope of the top-level module `Issue2727` instead of considering the necessary modification to the hiding for `

[2017-09-04 19:16] nad commented on #2731
Perhaps this issue should be fixed before the next release (#2659).

[2017-09-04 19:19] asr commented on #2731
I could reproduce the problem using the latest versions of alex, cabal-install, GHC and happy.

[2017-09-04 19:20] asr commented on #2731
I agree.

[2017-09-04 20:07] Blaisorblade commented on #2659
- [x] #2731 is a build failure (on 2.5.2) with latest happy from two days ago — @ilovezfs that also sounds potentially relevant to Homebrew. Since `happy` has no fixed version, does your Agda formula still build from source?

EDIT: #2731 is fixed on release-2.5, which IIUC will be merged in release-2.5.3 and end up in the release.

[2017-09-05 02:05] Blaisorblade commented on #2731
simonmar/happy#94 (due to https://github.com/simonmar/happy/pull/49) seems now indeed related; it *seems* a workaround might be to add type signatures to productions that have none.

[2017-09-05 04:57] asr commented on #2731
@Blaisorblade, you were absolutely right. Thanks!

[2017-09-05 05:03] asr commented on #2731
Oops, I should add a flag to avoid that the issue occurs again.

[2017-09-05 05:16] asr commented on #2731
It wasn't possible because happy generates top-level functions without type signatures.

[2017-09-05 05:16] #2731 closed, assigned to asr

[2017-09-05 06:31] ilovezfs commented on #2659
@Blaisorblade thanks for the heads up. Workaround in https://github.com/Homebrew/homebrew-core/pull/17622.

[2017-09-05 12:44] andreasabel commented on #2726
It looks like this is the same problem as #2727.

[2017-09-05 12:54] andreasabel commented on #2704
@nad: It seems you did work to fix this in 9bb868bc460af564b02a6e4b29e8182dc8824519 ?!

[2017-09-05 13:41] MatthewDaggitt opened #2732 "Eta-contraction is not type-preserving"
Agda version 2.6.0-75e13d3-dirty

[code]

Type checking triggers the error:
[code]
Compiles fine when you remove the `with` clause in `test` with
[code]

[2017-09-05 13:41] nad commented on #2704
No, I had forgotten about this issue. Is it fixed now?

[2017-09-05 21:37] andreasabel commented on #2704
Optimistically, I would assume yes, since you completely changed the code.
I close it, and reopen if I comes back.

[2017-09-05 21:37] #2704 closed, assigned to nad

[2017-09-05 21:46] andreasabel commented on #2732
This one turns into an internal error if `Nat` and equality are defined locally:
[code]
Error:
[code]
Debug info:
[code]

[2017-09-05 22:00] andreasabel commented on #2732
I think this bug shows the unsoundness of eta-contraction.  `r2` is eta-contracted to `r`, but they have different types thanks to phantom argument `b` of `R`.

Thanks.  Finally a more solid counterexample against eta-contraction than #361.

[2017-09-05 22:14] andreasabel commented on #2732
Here is a slightly reduced test case:
[code]

[2017-09-05 22:21] andreasabel commented on #2732
We even do not need modules:
[code]

[2017-09-06 07:29] UlfNorell commented on #2727
Also in record modules. The rationale is that it shouldn't matter if you say

[code]
or
[code]
In both cases the parameter `A` is hidden in the record module telescope. See #1759. This has been the semantics since `2.5.1`.

[2017-09-06 09:11] nad commented on #2732
Is this issue related to #2726/#2727? I notice that the internal error for [one piece of code](https://github.com/agda/agda/issues/2732#issuecomment-327313043) above is not triggered by Agda 2.4.2.5, but by Agda 2.5.1.

[2017-09-06 12:05] nad opened #2733 "Avoid some uses of \AgdaIndent?"
Consider the following code:
[code]
It is typeset in the following way:

![bug](https://user-images.githubusercontent.com/293222/30110069-0a72f38c-9309-11e7-8a9d-c62d05fff164.png)

I think that the three occurrences of `Set` should be aligned.

Currently Agda generates the following LaTeX code:
[code]
The problem is that the last occurrence of `\AgdaIndent{0}` is aligned with the two colon charact

[2017-09-06 12:28] UlfNorell commented on #2727
Yes, I think that's the problem.

[2017-09-06 12:29] andreasabel commented on #2732
Currently, `with` is the place where we invoke CheckInternal, and there, all the sins of the type checker will become apparent.
I thought #2727 is triggered by a wrong hiding annotation, this one is triggered by a more seriously ill-formed type.

[2017-09-06 12:31] nad opened #2734 "Make height of empty lines configurable"
I would like to have some way to control the amount of vertical space emitted for empty lines in code blocks. Consider the following code:
[code]
Resulting output:

![bug](https://user-images.githubusercontent.com/293222/30111623-b101d772-930e-11e7-8d2c-3941197a29bf.png)

I'd like to make the empty line between `A : Set` and `B : Set` less tall.

The amount of space before and after the code is co

[2017-09-06 12:37] gallais commented on #2733
Doesn't

[code]

yield the alignment you want? I think Agda's behaviour is more predictable if we have to explicitly put these two spaces to request alignment.

[2017-09-06 12:39] andreasabel commented on #2727
Ah, yes, remembrance comes back.  I was trying to find this information in the documentation, at http://agda.readthedocs.io/en/v2.5.2/language/module-system.html#parameterised-modules, but it does explain what the effect of module parameters is on module contents other than functions (it is different to functions for records and data now).

[2017-09-06 12:45] UlfNorell commented on #2727
[code]

I think the problem is simply that we're getting the module parameters for the wrong module. The code above gets the module parameters for the *parent* of `m2`, but it should  get the parameters for `m2` itself:

[code]

That is after all the module we're applying. Test suite running now, but this at least makes the test cases above go through.

[2017-09-06 13:18] nad commented on #2733
No, I want to avoid the extra space between `:` and `Set`.

[2017-09-06 13:20] nad commented on #2727
Did your commit also fix #2726?

[2017-09-06 13:52] nad commented on #2734
I decided to make `\baselineskip` the default for `\AgdaEmptySkip`.

[2017-09-06 13:53] #2726 closed, assigned to nobody

[2017-09-06 13:54] UlfNorell commented on #2727
Yes.

[2017-09-06 14:20] UlfNorell commented on #2725
Why is the Issue2604 branch not merged?

[2017-09-06 14:54] UlfNorell commented on #2728
Note that editing the file in the other direction is also problematic: start without the bad fixity declaration, adding it and reloading produces no warning.

This means that clearing out warnings with a particular range is not a valid solution, since we might need to produce new warnings.

One possible solution might be to not generate warnings during scope checking, but instead produce special w

[2017-09-06 15:37] UlfNorell commented on #2604
I fixed the fixity declaration problem (above commit). Does that mean we can merge the Issue2604 branch and close this issue?

[2017-09-06 17:08] nad commented on #2604
I guess so. Perhaps the issue numbers (#2604, #2725) should be added to the list of fixed issues in the changelog.

[2017-09-06 17:18] nad commented on #2725
Because Issue #2604 wasn't (and still isn't?) fully resolved, and it was (is?) unclear whether the new feature should be part of Agda 2.5.3 or not.

[2017-09-06 17:21] nad commented on #2728
I think we should aim to enable `--caching` by default soon.

[2017-09-06 17:24] asr commented on #2604
I'll add the new issues fixed to the list of fixed issues in the CHANGELOG after freezing the branch.

[2017-09-06 17:25] nad commented on #2733
To be more precise: I think that the main problem here is that we insert extra space between the second occurrence of `:` and the second occurrence of `Set`. I don't think we should insert space when aligning things, only when indenting things.

[2017-09-06 17:25] UlfNorell commented on #2604
Ok. I'll go ahead and merge the branch.

[2017-09-06 18:22] #2604 closed, assigned to nobody

[2017-09-06 18:22] #2725 closed, assigned to nobody

[2017-09-06 18:25] UlfNorell commented on #2734
I'm getting a test failure on the test case. Is `acmart` really crucial to this test or could it be something more standard?

[code]

[2017-09-06 19:37] nad commented on #2734
Perhaps we shouldn't require every developer to have an up-to-date installation of TeX Live.

The first line can be replaced by `\documentclass{article}`.

[2017-09-06 20:05] #2734 closed, assigned to nobody

[2017-09-06 20:26] asr commented on #2659
No more open issues with milestone 2.5.3. Great!

I'll wait for the beautiful green in Travis before freezing the branch.

[2017-09-06 20:29] nad opened #2735 "More links could be named"
The new implementation of the HTML backend uses numbered links for definitions in anonymous modules. In many (all?) cases it should be fine to use named links for these definitions (dropping the `_.` parts from the links).

[2017-09-06 20:44] asr commented on #2058
@gallais Can I see the output of building the current stable-2.5 branch on Windows?

[2017-09-07 03:13] asr opened #2736 "Segfault using Alex 3.2.2 and cpphs"
I'm getting a segmentation fault (core dumped) in both branches when type-checking any file.

Versions:

OS: Ubuntu 16.04.3
GHC: 8.2.1 and 8.0.2 (I haven't tested with other versions)
cabal-install: 2.0.0.0 compiled using version 2.0.0.2 of the Cabal library
Alex: 3.2.2
Happy: 1.19.7

I guess Travis isn't getting the same problem because it uses different versions:

OS: Ubuntu 14.04
cabal-install:

[2017-09-07 03:44] nad commented on #2736
Another thing to look into is whether this is related to the new dependencies that were introduced when the Issue2604 branch was merged, `uri-encode` and `blaze-html`. I'm using version 1.5.0.5 and 0.9.0.1, respectively.

[2017-09-07 03:47] asr commented on #2736
I could fix the problem by replacing Alex 3.2.2 by 3.2.1...

[2017-09-07 03:48] asr commented on #2736
Which version of Alex are you using?

[2017-09-07 03:57] asr commented on #2736
Note that it is necessary to run the following command before building Agda with a different version of Alex or Happy:

[code]

[2017-09-07 04:00] asr commented on #2736
Travis and I also are using the above versions.

[2017-09-07 04:57] asr opened #2738 "Update Stackage LTS from 9.1 to version supporting Alex 3.2.3"
It seems there is a problem with Alex 3.2.2 and/or Happy 1.19.6(7) (see #2736). Since the changes in these tools between Stackage LTS 9.1 and 9.3 were

Alex: 3.2.1 -> 3.2.2
Happy: 1.19.5 -> 1.19.6

we should test/support (via Travis) LTS 9.3 before the release of 2.5.3.

[2017-09-07 05:02] asr commented on #2736
I could reproduce the segmentation fault with

Agda 2.5.2,
GHC 8.0.2,
Alex 3.2.2 and
Happy 1.19.5.

[2017-09-07 06:20] andreasabel commented on #2736
Tarmo wrote to me:

[2017-09-07 06:36] andreasabel commented on #2735
But these names are ambiguous, no?

[2017-09-07 06:43] andreasabel commented on #2727
@nad: Can you partially revert ccc6da275689e3f71540fdcf181d6335f43aa593 (keeping the test case) now without breaking anything?

[2017-09-07 06:47] andreasabel commented on #2727
@UlfNorell : Can you please leave in the source an argument why you think the new computation of the module telescope is correct, including hiding info etc.?  It said before
[code]
but it was not correct.  Please argue (in comments) why this is correct now.  The (internal) reasoning that lead to this code should be somehow understandable by reading the comments.

[2017-09-07 07:33] UlfNorell commented on #2727
I added a comment. There isn't really any argument to be made for the hiding information at that point though. The section telescope should (does) have the right hiding already.

The changes in ccc6da2 cannot be reverted without breaking the test cases (causes internal error at `TypeChecking.Rules.Datatypes:87`).

[2017-09-07 07:33] #2727 closed, assigned to UlfNorell

[2017-09-07 07:37] UlfNorell commented on #2735
For public definitions in anonymous modules (`module _ Γ where ...`) I think @nad is right that it won't be ambiguous. Though it might be hard to distinguish these from private names or functions in `where` blocks, which certainly can be ambiguous.

[2017-09-07 08:30] nad commented on #2735
I think it is unfortunate that the URLs change if you, for instance, replace
[code]
with the following code:
[code]

Users may have the expectation that links to public identifiers are stable as long as you don't rename them or move them to another module (and `module _` might not be seen as introducing a new module).

[2017-09-07 08:31] nad commented on #2735
I also noticed that identifiers coming from `open public` get numbered links.

[2017-09-07 08:32] #2710 closed, assigned to UlfNorell

[2017-09-07 08:35] nad commented on #2736
3.1.4.

[2017-09-07 08:41] UlfNorell commented on #2718
The problem here is that we decide whether to insert parenthesis based on what the pretty printer (`AbstractToConcrete`) does, but we're not actually using the output from the pretty printer since we want to preserve the user input.

In this case the pretty printer wants to print the term as `pre (λ x → x)` and thus (correctly) determines that no parentheses are needed. A possible solution might b

[2017-09-07 08:58] UlfNorell commented on #737
There are two separate problems here:
- superfluous parentheses around lambdas
- superfluous parentheses in holes created by `refine`

The former arises from the fact that the pretty printer always adds parentheses around lambdas in argument position, even if it's the last argument.

The latter, more serious problem, is a bug in how we build expressions for `refine`. The above commit (6b832d83cb52

[2017-09-07 10:20] nad opened #2740 "Indenting every line of code should be a no-op"
The following two documents, that only differ in the amount of whitespace preceding a line of code, are not rendered in the same way:
[code]
[code]

Compare the results:

![a](https://user-images.githubusercontent.com/293222/30158745-80e6e678-93c6-11e7-92c9-1fd983995b88.png)

![b](https://user-images.githubusercontent.com/293222/30158746-80e8e248-93c6-11e7-8bf3-a4249cf3d8bc.png)

I think that thes

[2017-09-07 10:44] #2733 closed, assigned to nad

[2017-09-07 10:44] #2740 closed, assigned to nad

[2017-09-07 11:59] tarmouu commented on #2736
I solved my problem thanks to Andreas's help (he pointed me here and told me that my trouble could be due to alex).

The situation is:

With ghc 7.10.3 you cannot make happy 1.19.7, I therefore used 1.19.5 instead.

Further, Agda 2.5.2 builds successfully with alex-3.2.2, but running agda thus built segfaults immediately.

In summary the fix for me was to constrain to happy ==1.19.5 and alex ==3.2

[2017-09-07 12:02] gallais commented on #2058
I have launched [a new build](https://ci.appveyor.com/project/gallais/agda/build/1.0.17) with the current stable-2.5. If this goes through I'll turn on builds for agda/agda.

Edit: okay, I've tracked down the issue with 7.10.3: [the package itself is broken](https://chocolatey.org/packages/ghc/7.10.3). I'm trying [a new build](https://ci.appveyor.com/project/gallais/agda/build/1.0.18) with [ghc-7.

[2017-09-07 12:45] nad commented on #2058
If your build does not include d33216b65c409dad038a7bc898fbe7d37ac58ec1, then you might want to cancel it (assuming that you run the test suite).

[2017-09-07 12:47] gallais commented on #2058
The current build is not running any tests (I have yet to learn how to get `make` to work on windows).

[2017-09-07 13:51] nad commented on #2452
Some examples: `` !` `` gets turned into `¡`, `` ?` `` gets turned into `¿`, `x''` gets turned into `x”`, ``` `` ``` gets turned into `“`.

[2017-09-07 14:22] asr commented on #2736
@tarmouu, thank you for the feedback!

The incompatibility with Happy 1.19.6(7) was fixed in upstream (see #2731).

Yes, it seems that the problem is with Alex 3.2.2.

[2017-09-07 14:26] asr commented on #2736
Travis also [segfaults](https://travis-ci.org/agda/agda/builds/272764313) with Alex 3.2.2.

[2017-09-07 14:32] gallais commented on #2058
I don't know why appveyor doesn't automatically start a build when I push. It worked fine on my branch and the tokens I have generated do give them access to the organisation's repos. :/

Edit: nevermind, it just started. It just takes a few minutes for the website to notice the push apparently.

[2017-09-07 14:53] nad commented on #2401
The example in the OP is now handled correctly. I wonder if the underlying problem has been fixed properly.

[2017-09-07 15:20] nad commented on #2623
The example in the OP has been fixed by 2d858381d8090927f1792791efc128db246e9a94. However, I'm not satisfied with how the following code is handled:
[code]
Output:

![issue2623-2](https://user-images.githubusercontent.com/293222/30170878-a314d172-93f0-11e7-8d3e-d4775b1d1937.png)

I think `\AgdaHide` should be deprecated in favour of an environment that does not typeset its contents, but still perf

[2017-09-07 15:20] #2718 closed, assigned to UlfNorell

[2017-09-07 15:28] UlfNorell commented on #2718
Fixed by doing exactly that.

[2017-09-07 15:33] UlfNorell commented on #737
The problem with lambdas is fixed by the fix to #2718. The refine issue remains.

[2017-09-07 16:26] andreasabel commented on #2740
Why should they?  Indentation matters in Agda, shouldn't this be reflected in the LaTeX-rendering?
Maybe your example is not representative, with just a single code-block.

If you replace "a line of code" by "every line of code" in the quoted text, I agree.

[2017-09-07 16:52] asr commented on #2736
It seems the problem is related to `cpphs`. Using Alex 3.2.2 I could fix the problem replacing `cpphs` with `cpp`. It would also explain why the problem hasn't been reported. The combination of using `cpphs` and Alex is not common in Hackage.

[2017-09-07 16:52] andreasabel commented on #2727
Ok, I will have to look at this later.

[2017-09-07 17:20] asr commented on #2736
I'm starting to think that we are getting more problems than solutions by using `cpphs`. I know that `cpphs` fix some problems related to the Haskell syntax (e.g. prime characters in identifiers) but we know how to fix them. I have also been curious why `cpphs` is not commonly used by the community. Maybe we should consider removing the use of `cpphs`.

[2017-09-07 17:45] UlfNorell commented on #2736
It would certainly be interesting to know what the actual concrete benefits of using `cpphs` are, considering all the problems.

[2017-09-07 19:17] nad commented on #2740
I don't think that the LaTeX backend should (by default) try to align code in different code blocks. I suspect that this would look strange in the rendered documents. (One could imagine having a second, different LaTeX backend that produces documents from which you can cut and paste valid Agda code, including `\begin{code}`/`\end{code}`. Perhaps that is even possible with the current backend, if P

[2017-09-07 20:18] nad commented on #2736
I noticed that Alex 3.2.2 uses string gaps, while Alex 3.1.4 doesn't.

I looked at the result of processing `Lexer.hs` with `cpp` (really `gcc` with various options including `-E`, `-traditional` and `-x assembler-with-cpp`) and `cpphs`. The main difference seems to be that `cpp` removes string gaps. However, when it does this it keeps one of the backslash characters. Alex 3.2.2 seems to have take

[2017-09-07 20:22] nad commented on #2736
See https://github.com/simonmar/alex/issues/84.

[2017-09-07 20:30] asr commented on #2736
@nad, while I process what you wrote, could you report our problem in the Alex bug tracker, please.

[2017-09-07 20:34] nad commented on #2736
See https://github.com/simonmar/alex/issues/116#issuecomment-327919422.

[2017-09-07 20:38] asr commented on #2736
Great! Thanks!

[2017-09-07 20:46] gallais commented on #2058
It looks like only my commits trigger a build. I'm guessing that's because I created the project with my credentials. Can an owner (@ulfnorell? @andreasabel?) create an account for the organisation agda on appveyor?

Here is the process you need to follow:
https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization

Additionally, once you've added the agda/agda pr

[2017-09-07 20:53] nad commented on #2736
It seems as if we switched because back in 2014 "Recent versions of Clang's preprocessor don't work well with Haskell": https://github.com/agda/agda/commit/943ea3cf659a31e79849bcd67683e33b679a30df#diff-04c6e90faac2675aa89e2176d2eec7d8R46.

The [release notes for GHC 7.8.1](https://downloads.haskell.org/~ghc/7.8.1/docs/html/users_guide/release-7-8-1.html) contain the following text:

[2017-09-08 07:56] UlfNorell commented on #2736
There are no issues with `ghc-7.8` and `clang` on my machine. Note that we don't support `ghc < 7.8.4`.
[code]

[2017-09-08 08:04] UlfNorell commented on #2736
Maybe the first move should be to not use `cpphs` by default, but still keep the flag if it turns out there are problematic setups that we don't know about.

[2017-09-08 08:36] UlfNorell commented on #2058
I'm attempting to follow the instructions from the link but I'm confused about this step:

When I click the `Authorize GitHub` button it wants access to my personal GitHub account (and thus all my organisations). I don't see where how the AppVeyor account gets linked to a particular organisation. In fact, how does any of the steps described differ from setting up a personal AppVeyor account?

[2017-09-08 08:50] gallais commented on #2058
I guess the main difference is that you have to go through the picking a name / email process when you could just create your personal account in one click based on your github profile. Not sure indeed that they are intrinsically different notion on Appveyor's side.

[2017-09-08 09:04] UlfNorell commented on #2058
So do we have any reason to believe that it will start jobs on commits other than mine if I go through with the process?

[2017-09-08 09:57] UlfNorell commented on #2058
I'm also reluctant to add everyone in the Agda organisation as collaborators to an AppVeyor account with access to my personal GitHub account.

[2017-09-08 10:41] #2270 closed, assigned to nobody

[2017-09-08 10:41] UlfNorell commented on #2565
The section part is solved by the fix to #2270. Overloaded literals still print with their conversion function.

[2017-09-08 10:51] UlfNorell commented on #2270
The fix makes any system-inserted lambda term print as a section when possible.

[2017-09-08 11:32] MatthewDaggitt opened #2741 "`Give` command doesn't seem to be working"
Just updated to f5e0f4137cf391d4930209ff9c031b1b5bce39a0 and the interactive `give` command no longer seems to be working for me.

[code]
Pressing C-space in the hole results in:

Looking at the \*agda2* buffer I see

Agda2> cannot read: IOTCM "/auto/homes/mld46/Test.agda" Interactive Indirect ( Cmd_give 0 (intervalsToRange (Just (mkAbsolute "/auto/homes/mld46/Test.agda")) [Interval (Pn () 562 27

[2017-09-08 11:45] asr commented on #2736
Alex 3.2.3 supporting cpphs was released. Testing...

[2017-09-08 12:03] UlfNorell commented on #2741
It looks like you are still running an old version of the Emacs mode. Since 021e6d2 `Cmd_give` takes an additional argument `WithoutForce | WithForce`. Here's what the command looks like for me:

`IOTCM "..." NonInteractive Indirect ( Cmd_give WithoutForce 0 (intervalsToRange (Just (mkAbsolute "...")) [Interval (Pn () 62 7 12) (Pn () 66 7 16)]) "..." )`

[2017-09-08 12:44] MatthewDaggitt commented on #2741
Ah thanks! Apologies, not sure why I've been failing to update `agda-mode` along with `agda` itself.

[2017-09-08 12:44] #2741 closed, assigned to nobody

[2017-09-08 12:55] #2314 closed, assigned to asr

[2017-09-08 13:01] asr commented on #2738
For fixing this issue we need to wait that a version of LTS supporting Alex 3.2.3 be released.

[2017-09-08 13:02] asr commented on #2736
The current code base supports Alex 3.2.3 so I'm closing the issue.

[2017-09-08 15:00] jmchapman commented on #2449
'brew link icu4c --force' doesn't seem to fix it for me.

It works when I do 'cabal install' but not when I do 'make install', which I want to do so I can run the test suite.

[2017-09-08 16:46] asr commented on #2449
Does this command work for you

[code]

?

[2017-09-08 16:50] jmchapman commented on #2449
no, i get the same error message

[2017-09-08 17:49] asr commented on #2449
It seems we cannot disable an enabled flag from the command-line options...

Anyway, does removing `-fenable-cluster-counting` from the line

[code]
in the Makefile fix your problem?

[2017-09-08 17:59] asr commented on #2449
@jmchapman, I need to freeze the stable-2.5 branch to make the release of 2.5.3. Since your problem is not a final user problem but a developer problem (i.e. `cabal install` works but `make install` doesn't) and since this issue has the milestone 2.5.3, could you close the issue and file a new issue please.

[2017-09-08 20:25] asr opened #2742 "Makefile: Turned on Cabal flags cannot be turn off from command-line options"
It seems we cannot turn off a turned on Cabal flag in the Makefile from command-line options, for example, the command

[code]

didn't turn off the `enable-cluster-counting` flag.

[2017-09-08 20:26] asr commented on #2449
I filed Issue #2742.

[2017-09-08 20:26] #2449 closed, assigned to nad

[2017-09-08 20:29] asr commented on #2659
I have "frozen" the stable-2.5 branch to make the release of 2.5.3. You can continue pushing on stable-2.5/master as usual.

[2017-09-08 21:16] jmchapman commented on #2742
Thanks for opening the new issue. I made the following change to the makefile:

[code]

Running make install produces the following below output, doesn't complete and opens some files in emacs!

[code]

[2017-09-08 23:33] asr commented on #2659
Argh! I saw that the [CHANGELOG](https://hackage.haskell.org/package/Agda-2.5.3/changelog) layout is messed up after releasing to Hackage.

[2017-09-09 00:01] asr commented on #2659
I feel that closing this issue was a great *team* work! Thanks everyone!

[2017-09-09 00:01] #2659 closed, assigned to asr

[2017-09-09 06:52] andreasabel commented on #2659
Thanks Andrés, for ensuring a stable release!

Ulf's beautiful table is not rendered as such:
[code]

[2017-09-09 07:05] UlfNorell commented on #2659
Oh no! My poor table.

Very good job everyone though!

[2017-09-09 08:42] ilovezfs commented on #2659
2.5.3 shipped in Homebrew (https://github.com/Homebrew/homebrew-core/pull/17853). Thanks everyone! :heart:

[2017-09-09 15:22] asr commented on #2742
Which are the outputs of

[code]
and
[code]

?

[2017-09-09 15:53] jmchapman commented on #2742
ah, that's it. thanks.

I am using this version of emacs (https://github.com/railwaycat/homebrew-emacsmacport) and had a script (https://gist.github.com/railwaycat/4043945#gistcomment-1456680) bound to the emacs command. The script chokes on `emacs --version`. I have moved it out of the way and now `make install` works with the apple supplied version of emacs.

So, removing `-fenable-cluster-count

[2017-09-09 16:10] nad commented on #2742
It seems as if cabal-install picks the *first* `-f` setting on the command line... I wonder if this is intentional.

[2017-09-09 16:26] nad commented on #2270
I did not include a test case, and when I tried some simple examples now they worked fine. If I encounter this problem again I might open a new issue.

[2017-09-09 16:37] andreasabel opened #2743 "make install-bin fails without error message; cabal configure segfaults"
Pulling the latest stable-2.5, I get
[code]
I have these versions: (ubuntu 16.04)
[code]
Calling `cabal configure` just segfaults:
[code]

[2017-09-09 16:50] andreasabel commented on #2743
Switching to `cabal-install 2.0.0.0` solves this problem.

But Agda should not depend on `cabal-install 2`, or?

[2017-09-09 17:04] asr commented on #2743
Right, Agda must not depend on this version of cabal-install. Testing...

[2017-09-09 17:14] asr commented on #2743
Travis [here](https://travis-ci.org/agda/agda/builds/273493562) doesn't show any problem when using GHC 7.10.3 and cabal-install 1.22.

[2017-09-09 17:27] asr commented on #2743
I couldn't reproduce the issue using Ubuntu 16.04 and the same versions of the programs (GHC, Alex, Happy, cpphs, and cabal-install) reported in the OP.

[2017-09-09 17:28] andreasabel commented on #2732
First, here is a list of components that use eta-contraction:
A. The Miller unifier. Here, eta-contraction is even sound for `R`.
B. Rewriting.
C. Record pattern translation.
D. Builtin.inductiveCheck
E. Quoting (see #2525)
F. With
G.Termination checker
H. Auto
I. PrimTrustme (see #1433)

Now, we have a record type `R` here for which eta-contraction is unsound. There are two possibilities to proce

[2017-09-09 17:50] nad commented on #2623
Upon closer thought I think that the code above is handled in a reasonable way, assuming that it should be handled at all, rather than throwing an error message.

Here is a different example, that one might expect should work:
[code]
Output:

![bug](https://user-images.githubusercontent.com/293222/30242407-33ac7554-9596-11e7-9df5-882c459ee8f3.png)

Should we even try to handle code of this form?

[2017-09-09 17:56] nad commented on #2623
I added a test case for the example in the OP.

[2017-09-09 18:36] nad opened #2744 "It should be possible to give arguments to the code environment"
I think that it should be possible to give arguments to the `code` environment. At the moment I have one use case in mind: I'd prefer writing
[code]
rather than the following code:
[code]
Does anyone object to this?

[2017-09-09 22:29] asr commented on #2732
To get rid of eta-reduction also would simplify the translation of (subsets of) Agda into others logics or languages (e.g. first-order logic, SMT-LIB, etc.).

[2017-09-09 22:52] asr opened #2745 "Broken build with GHC 7.8.4 due to (new) version 1.2.2.0 of hashtables"
[code]

[2017-09-09 23:43] asr commented on #2692
I could fix #2745 by fixing this issue but I want to wait at least two months for removing the support for GHC 7.8.4. I want to avoid that an user report an important regression and our bug-fix release (e.g. 2.5.3.1) requires that her use a different version of GHC.

[2017-09-10 04:39] #2745 closed, assigned to asr

[2017-09-10 11:48] andreasabel commented on #2743
Well, it might depend on having had 2.5.3 in the same directory before, or even some more old baggage.  Unless someone else reports similar problems, we can leave it at that.

[2017-09-10 11:49] andreasabel commented on #2744
Sounds reasonable.  How would other translators handle this, like `lhs2TeX --agda` ?

[2017-09-10 13:16] #2743 closed, assigned to nobody

[2017-09-10 14:48] xekoukou commented on #2736
I am a noob with regards to Cabal, but shouldn't ```Agda.cabal``` be changed to exclude alex 3.2.2?

(I am trying to build agda from github on the nixos distribution and it keeps downloading alex 3.2.2.)

[2017-09-10 14:57] xekoukou opened #2747 "Update default.nix"
It seems that one needs to add ```blaze-html uri-encode``` into it.

Another issue is that nixos downloads alex 3.2.2 which is problematic. Maybe ```Agda.cabal``` [needs](https://github.com/agda/agda/issues/2736#issuecomment-328347418) to be updated or default.nix could specify to download a specific version. I do not know the correct answer.

On another note, I personally remove the ```tex``` dep

[2017-09-10 15:32] andreasabel commented on #2736
Yes, of course.

[2017-09-10 15:34] #2736 closed, assigned to asr

[2017-09-10 16:14] asr commented on #2736
I didn't exclude Alex 3.2.2 because Agda isn't compatible with this version of Alex per se.

From the ANNOUNCE message:

cpphs preprocessor. You can use a different version of Alex (e.g.
3.2.1, 3.2.3, etc.) or you can use the cpp preprocessor by running the
following command:

[2017-09-10 16:40] asr commented on #2731
I agree. Agda 2.5.2 and Happy 1.19.6 shouldn't be include in the same LTS. I filed https://github.com/fpco/stackage/issues/2851.

[2017-09-10 17:02] asr commented on #2747
@phile314, can you help us with this issue?

[2017-09-10 17:49] andreasabel commented on #2736
Since Alex 3.2.3 has been released shortly after 3.2.2, I think it is ok to exclude 3.2.2, just to be on the safe side.

[2017-09-10 21:36] xekoukou commented on #2747
My own default.nix which I use to build the latest agda from github is this one . I found out how to specify a version for alex. Maybe it can help @phile314 update the file.

[code]

[2017-09-10 23:41] asr commented on #2743
@Blaisorblade mentions [here](https://github.com/fpco/stackage/issues/2852#issuecomment-328370272) a similar issue due to old baggage using stack:

[2017-09-10 23:48] asr commented on #2747
Alex 3.2.2 was exclude in [this](https://github.com/agda/agda/commit/79e9b916d8e82f411e7012ce42fb9316a3a59d7b) commit. Is still it necessary to specify a version of Alex?

[2017-09-11 01:23] Blaisorblade commented on #2743
So FWIW I haven't been able to build Agda 2.5.3, but I still suspect some build issue on my part (a corrupted snapshot)? This was with stack and lts-9.3. Logging anyway in case somebody runs into similar issues. For extra fun, the `--help/--version` options work.

[code]

[2017-09-11 01:30] asr commented on #2743
Are you sure you aren't using Alex 3.2.2?

[2017-09-11 01:48] Blaisorblade commented on #2743
Thanks! I am, because it's part of that LTS snapshot (https://www.stackage.org/lts-9.3/package/alex-3.2.2). Just found #2736 (and then re-read https://github.com/fpco/stackage/issues/2852).

[code]

[2017-09-11 01:58] asr commented on #2743
Right. I'm waiting for a new LTS for using it in `stack-8.0.2.yaml` (see #2738).

[2017-09-11 02:13] xekoukou commented on #2747
Yes, It is still needed. With the new cabal file, the build doesn't continue. Previously , it segfaulted.

It seems that ```default.nix``` , as it is in the repo , will always pick the default version of alex, which at the moment is 3.2.2.

[2017-09-11 02:20] Blaisorblade commented on #2736
FWIW, I often check the CHANGELOG, but never the announce. Is it correct that the info on Alex is only on https://lists.chalmers.se/pipermail/agda/2017/009713.html (and in various issues), but not in the changelog, also called "release notes" on http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Download?

Somehow, Google even fails to find it:
https://www.google.it/search?hl=en&biw=1678&bih=86

[2017-09-11 03:04] asr commented on #2736
Yes, it is correct.

[2017-09-11 07:17] nad commented on #2732
@asr, @andreasabel is only suggesting to get rid of eta-contraction, not eta-expansion.

[2017-09-11 07:21] nad commented on #2732
Given how problematic eta-contraction seems to be I wouldn't mind getting rid of it (or the problematic aspects of it), assuming that this wouldn't make the user experience significantly worse. One question to consider is how this would affect performance.

Option 2 does not seem appealing to me, for the reason that @andreasabel mentions.

[2017-09-11 07:29] nad commented on #2744
If lhs2TeX 1.19 is used, then `[hide]` is treated as a variable. However, I don't see this as a major problem, `lhs2TeX --agda` and `agda --latex` already have different semantics. For instance, `agda --latex` does not support `spec` environments.

What "other translators", other than lhs2TeX, do you have in mind?

[2017-09-11 07:34] nad commented on #2747
I guess that `xhtml` can be removed.

[2017-09-11 07:38] nad commented on #2736
I haven't observed any errors recently (from inside or outside the Chalmers network).

[2017-09-11 07:51] andreasabel commented on #2744
None. A single witness is usually sufficient to establish an existential statement. ;)

My concern was whether there is some unwritten convention that the `code` environment takes no arguments, but googling around I found counterexamples to this convention.

So, no objections from my side.  Your proposal seems very useful to make better-structured literate Agda code.

[2017-09-11 08:24] identicalsnowflake commented on #2732
I'm [concerned about this as well](https://github.com/agda/agda/issues/2525), though unfortunately I don't know enough to contribute anything to the discussion. All I know is that this can make enormous (orders of magnitude) difference in the size of my generated code, so I spend a fair amount of time trying to line up the planets to make it happen.

[2017-09-11 08:25] nad commented on #2744
I suggest that we change the syntax in the following way: All text after `\begin{code}`, up until the end of the line, is treated as an argument to `\begin{code}`.

[2017-09-11 08:41] jespercockx commented on #2732
For the rewriting machinery, it would be possible to remove eta-contraction if we had a way to check for definitional equality outside the TCM. I'm imagining a function `equalTerms : Type -> Term -> Term -> ReduceM (Either Blocked_ Bool)`. I would imagine that this could also be useful in some of the other places where we currently use eta-contraction.

About performance: I also don't know much ab

[2017-09-11 08:52] decentral1se opened #2748 "Agda-2.5.3 has a Haddock build failure (on Stackage build)"
[code]

[2017-09-11 11:22] andreasabel commented on #2744
That should be fine, as the rest of the line after `\begin{code}` is already not treated as Agda code:
[code]
Note that our parsing will not conform to TeX semantics, e.g., this would be valid Agda code:
[code]

[2017-09-11 12:22] asr commented on #2736
I also see the same error.

[2017-09-11 12:32] asr commented on #2732
I don't understand your comment because I'm talking about eta-reduction/contraction.

[2017-09-11 12:45] asr commented on #2748
I couldn't reproduce the issue using `cabal-install`:

[code]

How do you get the issue using `stack`?

[2017-09-11 13:01] andreasabel commented on #2732
- CheckInternal should use this (or its generalization to subtyping) instead of the one from Conversion
- The `trustme` would also need this to respect eta. #1433 (see also #882)

[2017-09-11 13:29] decentral1se commented on #2748
I saw this failure as part of the stackage-curator driven LTS build. I was in a rush and wasn't able to grab any more logs. I'm not really sure how you might debug this. If you really cannot reproduce this, then re-enable haddocks (revert https://github.com/fpco/stackage/commit/8fff76ac405078f0a4b63d7d56e65fb988c507ce) and perhaps it works (it may also have been some build server issue) or at leas

[2017-09-11 13:40] #2738 closed, assigned to asr

[2017-09-11 14:08] andreasabel commented on #2736
I contacted our IT-support about this and got this reply:

This issue is tracked at (no external access, I am afraid):
https://service.portal.chalmers.se/issue/1904242/5daa4be225f1a817440d/

@Blaisorblade @asr Please email me your IP-addresses and browser details (and other potentially useful information) to pass on to our IT-service.

[2017-09-11 14:34] Blaisorblade commented on #2736
@andreasabel Thanks, I've sent you an email (if I decoded your address correctly).

For the record for anybody else, this is my `curl` log (included in that email).

[code]

[2017-09-11 14:36] asr commented on #2748
@Blaisorblade, can you reproduce the problem?

[2017-09-11 15:08] gallais opened #2749 "Add --no-unicode cli option to Agda"
Recording here @bishboria's request so that I don't forget it

[2017-09-11 15:12] asr commented on #2748
I neither could reproduce the issue using `stack`:

[code]

[code]

@lwm, from which version of GHC did you get the error?

[2017-09-11 15:19] decentral1se commented on #2748
It was GHC-8.0.2 alright.

[2017-09-11 17:27] Blaisorblade commented on #2748
Trying this out with Stack.

But we just learned from Michael Snoyman that Stackage does not use Stack (ahem).

And `Agda.Version` includes file `Paths_Agda`, which is generated (IIUC) while configuring Agda.

So hypothesis: if haddock is called before configuring the build, trouble should be expected, maybe even the above error. Not sure how to invoke `haddock` to verify that—does somebody know t

[2017-09-11 17:29] andreasabel commented on #2749
Sounds more like a pragma option and/or an emacs mode customization.  But yes.  Currently Agda forces the unicode flavor, also when picking variable names during case-splitting.

[2017-09-11 17:32] andreasabel commented on #2736
Looks like a `http` request is redirected to a `https` request?

What do you get for `curl -v https://lists.chalmers.se/mailman/listinfo/agda` ? (HTTPS)

[2017-09-11 17:43] Blaisorblade commented on #2736
Yes, sorry, I pasted the wrong thing here, luckily the answer is hidden in my email. Pasting here too:

[code]

[2017-09-11 17:49] gallais commented on #2749
My thinking was that you can set the option as an `Agda2 Program Args` in emacs (`M-x customize-group RET agda2 RET`) if it's a command line one. With a pragma option, you'd have to repeat it at the beginning of each file you're editing which is annoying.

[2017-09-11 18:31] andreasabel commented on #2749
Ah, yes, but pragma options can also be given at the command line.
See, e.g., #2714 where I turned a command line option into a pragma option.
Anyway, you have done this before: https://github.com/agda/agda/commit/60f240d29ce7e91a2fc6358022f8a5159ae160c8 (#2442).

[2017-09-11 18:42] fredrikNordvallForsberg commented on #2749
Wouldn't it make more sense to make this an emacs custom option? Or is there a need to also not print unicode in error messages on the command line? (I imagine the main use case would be to keep _source files_ unicode free.)

[2017-09-11 18:45] andreasabel commented on #2749
With comparable options like `--show-implicit` it is like that: they can be given at the command line and in pragmas, and turned on in the emacs mode.

(P.S.: `--postfix-projections` currently lacks the emacs mode option)

[2017-09-12 09:49] bishboria commented on #2749
Fred is correct: my specific use case is to have unicode free source files.

[2017-09-12 09:56] Blaisorblade commented on #2748
So, `stack haddock` completed successfully.

I suspect the problem is with stackage and would likely be solved by having stackage using stack (as mentioned — Snoyman explains [here](https://github.com/fpco/stackage/issues/2852#issuecomment-328583840) this isn't the case yet). I'd suggest @asr close this on our side, but I'll leave him the choice.

Somehow, https://www.stackage.org/haddock/lts-9.4/

[2017-09-12 10:01] decentral1se commented on #2748
@Blaisorblade - reverted 👍

[2017-09-12 10:01] #2748 closed, assigned to asr

[2017-09-12 12:40] andreasabel opened #2750 "Auto does not work for synthesis-by-example"
[code]
`C-c C-a` does not produce anything here, and does not even exhaust the search time of 5sec.

[2017-09-12 14:13] nad commented on #2453
Now the code above is rejected, but the following code is accepted:
[code]
I'm not sure what to think of this code. I'm inclined to say that Agda should accept it. Any opinions?

[2017-09-12 14:14] #2744 closed, assigned to nobody

[2017-09-12 14:37] andreasabel commented on #2453
1. I am surprised that `\end{code} \begin{co` are valid arguments to your code environment command.
2. Maybe `\begin` and `\end` should not be valid Agda identifiers.
3. Why is `\end{code}` by itself accepted?

[2017-09-12 15:32] UlfNorell commented on #2750
What are you expecting it to do? Agsy can't do copatterns (#957) so I don't see what solution you could possibly hope to get.

It does exhaust the search time (which is 1s, not 5s) for me though.

[2017-09-12 15:38] UlfNorell commented on #2750
However it does (almost) work in the following example:

[code]
The only problem is that it names both variables in the last clause `n`.

[2017-09-12 15:51] UlfNorell commented on #2750
Complete example:

[code]

[2017-09-12 18:24] asr commented on #2744
@nad, I added the milestone 2.5.4.

[2017-09-12 18:56] andreasabel commented on #2750
At Oxford I heard people talking about synthesis by example, and I thought I try Agsy if it can already do this.  It would be nice if my original spec would work (we need copatterns or local recursion then).

Regarding your partial success:  Agsy finds the short-cut `plus (suc m) (suc n) = 3`. Hehe.
I think my example is bad: `plus0r` is usually not definitional!

[2017-09-12 18:58] nad commented on #2453
The code is not valid LaTeX, but it is valid literate Agda.

They are not, they are initial fragments of lambda abstractions. (I'm not very happy about the special case in the lexer for backslash followed by certain characters without intervening space, but for reasons of backwards compatibility I don't think we should change that part of the syntax now.)

To start with [Agda searches for](https:/

[2017-09-12 18:59] nad commented on #2453
Currently `\%` is treated as a comment starter. I guess this should be fixed.

[2017-09-12 19:19] andreasabel commented on #2750
Even with more examples, Agsy just keeps on splitting, instead of inserting a recursive call.
[code]
Here, we get:
[code]
Associativity, e.g., cannot be specified with `PlusSpec'`.

[2017-09-12 19:34] UlfNorell commented on #2750
It seems like neither `-s N` or `-l` work together with `-c`. Otherwise I was curious to see what functions it tries to generate for `plus`.

[2017-09-13 06:32] nad commented on #2401
Bisection suggests that the statement above is incorrect.

[2017-09-13 06:32] #2401 closed, assigned to nobody

[2017-09-13 08:43] nad opened #2751 "Unsolved constraints, but no highlighting"
Consider the following code:
[code]
Agda rejects this code:
[code]
Fine, the size solver has problems. Let's make the code more explicit, in an *incorrect* way:
[code]
Now Agda reports that some size constraints are unsolved:
[code]
However, there is no indication of where these constraints come from: no line numbers, no highlighting of the code.

[2017-09-13 08:57] nad opened #2752 "Mutual blocks inside instance blocks"
Consider the following code:
[code]
This code is rejected:
[code]
This problem can be fixed by swapping `mutual` and the second occurrence of `instance`. I think that we should either accept the code above, or (less preferably) warn about the incorrect ordering of `instance` and `mutual`.

[2017-09-13 09:31] nad commented on #2728
Here is a related problem. Load the following code (with caching turned on):
[code]
Add the following code and reload:
[code]
This code is rejected, as expected. However, if the first line is then changed to `F : ⦃ r : Set₁ ⦄ → Set₁` and the code is reloaded, then it is still rejected.

[2017-09-13 09:39] UlfNorell commented on #2728
I get that you want to use fancy unicode braces whenever possible, but the problem exists also for plain non-instance implicit arguments.

[2017-09-13 09:44] nad opened #2753 "Unsolved constraint, related to instance arguments and sized types"
The following code is not accepted:
[code]
Error message:
[code]
I suspect that this is a bug.

[2017-09-13 09:56] UlfNorell commented on #2753
The problem is that the meta occurs check refuses `_r_24 := r`, since it forms a recursive solution. Somewhat related to #2710 and #589.

Perhaps the recursion check should be disabled for instance metas?

[2017-09-13 13:11] nad opened #2754 "--ignore-interfaces should not ignore builtin modules nor libraries depended on"
The following code (an empty file) triggers an internal error if `-vtc:10 --ignore-interfaces` is used:
[code]
Output:
[code]

[2017-09-13 13:13] nad commented on #2753
If I remove the sized types, then the code is accepted:
[code]

[2017-09-14 07:35] nad opened #2755 "Warning for nonsensical higher-order instance arguments"
The reference manual and/or the implementation is incorrect.

The reference manual states the following:

It seems as if `C` can also be a postulated name.

The manual continues as follows:

However, further down it states that

This text suggests that instance arguments (which can be candidates) can take arguments that are not implicit.

I tried this, and using instance arguments as arguments to

[2017-09-14 08:10] nad opened #2756 "HTML backend generates broken links"
If HTML is generated from the following code, then the link from `M′.A` does not point to the right place:
[code]
A link is generated to `#M′.A`, rather than `#M.A`.

[2017-09-14 08:13] nad commented on #2756
Due to this bug I would advise against using Agda 2.5.3 for generating HTML intended to be read by anonymous reviewers.

[2017-09-14 10:04] UlfNorell commented on #2755
Indeed. Feel free to update the documentation.

It says that *candidates* can, but not all candidates are instance arguments.

What's missing from the documentation (aside from the postulates thing) is the explanation of higher-order instance search. I don't think we have this fully locked down, so I think it's better to be conservative in the documentation.

[2017-09-14 11:22] nad commented on #2755
That's why I wrote "suggests".

If the text claiming that instance arguments must only have implicit arguments is correct, shouldn't instance arguments that do not have this form be rejected? Now `Also-works` is accepted, and the type of `Fail`'s first argument is also accepted.

[2017-09-14 11:26] #2565 closed, assigned to nobody

[2017-09-14 11:35] UlfNorell commented on #2755
It ought to say *should* rather than *must*. I suppose we could also add a note that having instance arguments in `Γ` works in some cases.

[2017-09-14 11:57] nad commented on #2755
What do you mean by *some* cases?

(Feel free to answer by updating the documentation rather than writing something here.)

[2017-09-14 12:02] UlfNorell commented on #2755
By that I mean that, while we could document exactly how the current implementation handles higher-order instance arguments, I don't feel confident enough that this is the way it *should* handle higher-order instance arguments, so I'd rather no one relied on them working.

[2017-09-14 12:27] nad commented on #2755
I tried to interpret what you wrote, and updated the documentation. However, in order to avoid surprises for users I think that we should give an error (or at least a warning) if an instance argument that does not have the right form is declared.

[2017-09-14 12:48] UlfNorell commented on #2755
Looks good to me.

We don't want to give an error for higher-order instances, and I'm not sure about the warning. I guess we could issue a warning for the case where you have explicit arguments (`Fails` above), since there's really no way that's going to work with the current implementation.

[2017-09-14 13:21] nad commented on #2755
Yes.

[2017-09-14 13:45] jespercockx commented on #2640
After failing to fix this last time, I tried again and finally managed to find the solution with some help by @anuyts. Unfortunately, the fix breaks some examples of runtime-irrelevance in the compiler tests, so I had to turn some indices from relevant to shape-irrelevant in VecReverseIrr.agda and IdentitySmashing.agda. I think this is a consequence of the unfortunate conflation of shape-irrelevan

[2017-09-14 13:45] #2640 closed, assigned to jespercockx

[2017-09-14 14:04] jespercockx opened #2757 "Proposal: split non-strict relevance into shape-irrelevance, parametricity, and runtime-irrelevance"
Right now, we're using the non-strict `..` modality for (at least) three purposes:

- The codomain of an irrelevant function type must depend non-strictly on its argument (aka shape-irrelevance).
- Variables that are bound non-strictly can be used relevantly at the type level but only in a 'parametric' way at the term level (aka parametricity).
- Non-strict arguments can be erased during compilati

[2017-09-14 15:01] jespercockx opened #2758 "Relevant meta is instantiated with irrelevant solution"
[code]

In the above code, the meta is filled in with solution `b`, but manually filling in this solution results in an error.

We need to double-check the solutions of metas that they don't use irrelevant top-level definitions in a relevant position. We could integrate this check with the occurs check, so we don't have to traverse the solution twice.

[2017-09-14 15:39] jespercockx commented on #2635
This is a duplicate of #1114.

[2017-09-14 15:39] #2635 closed, assigned to nobody

[2017-09-14 15:41] jespercockx commented on #2758
See also #875

[2017-09-14 17:56] nad commented on #2757
I suggest that we use the following notations: `....`, `.....` and `......`. (I don't want to overload `...`, and code using `..` should trigger an error.) I guess I don't need to explain what modality each of the notations refers to.

[2017-09-14 18:29] m0davis commented on #2640
The new issue is #2757.

[2017-09-14 18:51] jespercockx commented on #2757
That's a great proposal, however on the parametric branch there's actually something else already implemented. For example, you can write `(x :{#} A)` to bind x parametrically.

[2017-09-14 19:00] jespercockx commented on #2757
Oh, and something else: even keeping track of parametricity internally without assigning it a specific syntax would be helpful, as parametricity can be 'created' by going from the term level to the type level (i.e. by `workOnTypes`). But if we're putting in the effort of implementing the guts, I'd very much like to annotate it explicitly, too. The idea is that this change would be mostly backwards

[2017-09-14 19:41] UlfNorell commented on #2757
There's some syntax discussion in #2513. I'm not really fond of the `(x :{#} A)` syntax since it doesn't handle `∀`-bindings and separates the variable from its type too much (especially if the modality annotation is longer than a couple of characters).

[2017-09-14 21:46] andreasabel commented on #2757
At least for function types and typed bindings, the following syntax is available:
[code]
for modality `p` in function type.

[2017-09-14 21:51] andreasabel commented on #2513
Forall can be handled as `forall :{p} x -> A` or maybe, for a single modality `forall :p x -> A`.

[2017-09-14 21:55] andreasabel commented on #2757
@nad: For the record, using `.` for irrelevance was your idea back then...

[2017-09-15 05:09] UlfNorell commented on #2513
The latter is already valid syntax binding two variables `:p` and `x`. The former isn't but only because `:` is a reserved character.

I would like any syntax we device to scale up to more complex modalities like use-this-tactic-to-solve-this-argument.

[2017-09-15 09:23] anuyts commented on #2513
Whatever syntax you come up with, should work for:

* Function type formation (including the declaration of constructor arguments):
    * `(x :{p} A) -> B`
    * `{p} A -> B`
* Module parameters
* Postulates: `postulate a :{p} A`
* Declarations
[code]
* Perhaps lambda-terms, with or without type annotation:
    * `\ (x :{p} A) -> b`
    * `\ x :{p} -> b`
* Record field declarations
[code]
* Perhap

[2017-09-15 11:47] #875 closed, assigned to jespercockx

[2017-09-15 11:47] #2758 closed, assigned to jespercockx

[2017-09-15 12:09] jespercockx commented on #2757
Please, let's keep the discussion about syntax in #2513 and keep the discussion here about the *internal* representation of relevances/modalities.

A question related to the discussion here is whether we actually need a separate annotation for runtime irrelevance. If irrelevance and shape-irrelevance were working properly, wouldn't it be better to make those arguments _actually_ irrelevant? Or is

[2017-09-15 14:11] UlfNorell commented on #2757
Compile-time and run-time irrelevance are clearly different (`Vec A n != Vec A m`, but you might not need to carry the length at run-time). Shape irrelevance is closer, which is why they're currently collapsed, but the fact that @andreasabel calls this an abuse suggests that it isn't a perfect match...

[2017-09-15 16:23] andreasabel opened #2759 "Empty mutual blocks should be warning rather than error"
Empty block
[code]
should parse and raise a warning in `Agda.Syntax.Concrete.Definitions`.

[2017-09-15 18:07] mjustus opened #2760 "Relax instance search restriction on unconstrained metas"
I find it difficult to predict whether instance search is going to succeed when working with parameterised records. Here is an example

[code]

Instance search fails with the following error message

    _X_14 : Set  [ at `f` ]
    _r_15 : R (_X_14 p)  [ at `f` ]
    _x_16 : _X_14 p  [ at `f` ]
    _17 : R.P (_r_15 p) (_x_16 p)  [ at `p` ]
    _18 : R.P (_r_15 p) (_x_16 p)  [ at `p` ]
    _19 : R.

[2017-09-15 18:39] jespercockx commented on #2757
Well, if you make `Vec` shape-irrelevant in the length, then you can make its constructors actually irrelevant in the length. The result is that `Vec A n != Vec A m`, but the length is erased from the constructors both at compile time **and** at runtime. At the type-level, the index is not erased but this shouldn't be a problem since types can be erased altogether. So is there still some reason to

[2017-09-15 18:59] m0davis commented on #2760
To be clear, in your `test'` workaround, you're passing the `X : Set` parameter of `R`. Another workaround (which, anyway, gives me a fuzzier feeling that Agda is doing instance search) is to instead pass the `x : X` argument of `f`:
[code]
p.s. Fwiw, my intuition was telling me that #2099 is related, but I'm not certain now. I didn't want to mention this and have it referenced in the linked issue

[2017-09-15 19:08] identicalsnowflake commented on #2760
Playing around with your example, I encountered this, which might be interesting:

[code]

I would expect Agda to reject this as not even type correct -- and if you try to manually plug in `{{r2}}`, it does. But loading the above instead yields `No instance of type R (X × X) was found in scope.`, which is an odd error because there definitely is an instance `r2 : R (X × X)` in scope!

EDIT: I thin

[2017-09-15 23:27] andreasabel commented on #2759
Fixed this for
[code]

[2017-09-15 23:40] #2759 closed, assigned to andreasabel

[2017-09-16 06:42] UlfNorell commented on #2757
I wasn't thinking about the constructors, but functions over vectors. I'd like to be able to get rid of the length argument to vector map for instance. What modality would I use for that?

[2017-09-16 09:27] jespercockx commented on #2757
You can also use real irrelevance:
[code]
Currently, this still needs the `--experimental-irrelevance` option, but the idea is that this becomes the default.

The thing that's currently possible with the `..` modality that would *not* be possible after the split is to use a `..` argument relevantly at the type level:
[code]
Instead, here you will be able to choose between making A either relevant

[2017-09-16 15:18] nad commented on #2757
Really? I have no recollection of this.

[2017-09-17 08:28] asr commented on #2660
Agda 2.5.3 was added to [nightly-2017-09-13](https://www.stackage.org/nightly-2017-09-13).

[2017-09-17 08:28] #2660 closed, assigned to asr

[2017-09-17 08:55] asr commented on #2565
The email automatically sent when this issue was closed says

but I cannot find which commit closed the issue here in the bug tracker. Is the same for you?

[2017-09-17 14:59] asr commented on #875
Other example of https://github.com/agda/agda/issues/2565#issuecomment-330030472?, that is, the email automatically sent when this issue was closed says

but I cannot find which commit closed the issue here in the bug tracker.

[2017-09-18 08:05] Saizan opened #2761 "Add support for Higher Inductive Types"
As the title says: Add support for Higher Inductive Types!

Support can be broken down to multiple tasks:
* [x] data declarations allowing paths and higher paths, and turning off no-confusion for the datatype in that case.
* [x] `primComp` (or equivalent) should compute doing the right thing for HITs.
* [x] Make sure to check pattern matching against a HIT checks that the clauses commute with face

[2017-09-18 08:46] andreasabel commented on #875
@asr: Must be a recent github bug.

[2017-09-18 12:57] asr commented on #875
It is fixed now, i.e. I can see which commit closed the issue.

[2017-09-18 16:45] gallais opened #2762 "Automatically generate display forms to fold pattern synonyms"
What it says in the title. Basically I'd like to see the pretty goal `3+ n ≡ 3+ n` even without the `DISPLAY` pragma.

[code]

[2017-09-18 19:00] UlfNorell commented on #2762
A minor complication: constructors in pattern synonym can be overloaded, but display forms use resolved constructors. For instance, if you had both `Nat.suc` and `Fin.suc` constructors in the example above you would need 8 different display forms.

Possible solutions:
1. generate all 8 display forms
2. use types to rule out impossible variants
3. change display forms to allow overloaded constructo

[2017-09-18 19:20] gallais commented on #2762
Didn't think of that! I'll throw in a:

5. Remove the ambiguity by implementing typed pattern synonyms #2069

[2017-09-18 20:46] andreasabel commented on #2069
@effectfully : What you actually want is functions that you can also use on the left hand side.
Your proposal is not far from allowing functions in patterns, like allowing the addition function `+` there.
[code]
Agda could evaluate the second clause to
[code]
and then do pattern matching as usual.

In general, I think your proposed typed pattern synonyms require an entirely different mechanism tha

[2017-09-18 20:49] andreasabel commented on #2762
I think #2069 should be kept out of this issue.  Typed pattern synonyms would probably not replace the current "pattern macro" mechanism, but be another mechanism.  #2069 actually contains two different proposals: overloaded pattern synoyms, and "typed pattern synonyms" which I would analyse as "functions you may use in patterns".

I would also think 4. would be the way to go.

[2017-09-18 21:02] andreasabel commented on #2754
Yeah, it tries to print debug info involving levels and has not bound the built-ins yet.  In particular, it happens why it is checking the postulate for `lzero`.

I think `--ignore-interfaces` should be given an overhaul.  In particular, it should not recompile:
- the `Agda.Primitive` modules
- any library modules that come from the `depend` group rather than the `include` group

Imho, it does not

[2017-09-18 21:28] andreasabel commented on #2635
We should document `..` once we have resolved #2757 (and actually know what `..` is).

[2017-09-19 05:52] xekoukou opened #2763 "Internal Error at "src/full/Agda/TypeChecking/Abstract.hs:138""
Trying to compile [this](https://github.com/xekoukou/sparrow/blob/error/agda/LinFunContructw.agda#L41) returns :

[code]

It is almost at the same position as issue #2679

My agda version :
https://github.com/agda/agda/tree/8f487662589c3f5a813aa853383ccd03bc49491f

[2017-09-19 08:29] nad commented on #2754
In case of an overhaul, see also #2610 and #2330.

[2017-09-19 08:39] nad commented on #2763
Have you tried constructing a smaller example that triggers this problem?

[2017-09-19 08:44] jespercockx commented on #2635
Well, $..$ is related to $.$ the same way $#$ is related to regular relevant functions. So in principle, once we know how parametricity works, explaining $..$ shouldn't be hard.

[2017-09-19 08:57] xekoukou commented on #2763
I removed 3k lines of code but it is still too slow to typecheck. I added the .agdai files in case they are portable across computers.

We need a tool to remove non-dependent ,to the function, code automatically.

[2017-09-19 09:31] andreasabel opened #2764 "Sections do not work on lhs"
[code]
throws error
[code]

[2017-09-19 12:38] nad opened #2765 "Inferred level expressions are often "reversed""
Consider the following code:
[code]
The inferred value of the goal is `c ⊔ (b ⊔ a)`. It would be convenient for me if the inferred value was `a ⊔ b ⊔ c`, because then I would not need to edit the expression inferred by Agda.

I tried to fix this by replacing `foldr1 max as` with `foldr1 (flip max) as` in [`Agda.TypeChecking.Level.unlevelWithKit`](https://github.com/agda/agda/blob/1be557429fab09b32

[2017-09-19 12:41] nad commented on #2764
From the [changelog](https://github.com/agda/agda/blob/1be557429fab09b32cac2c94d07a978de7df7dff/CHANGELOG.md#operator-syntax):

[2017-09-19 12:45] nad commented on #2764
See also the [code](https://github.com/agda/agda/blob/1be557429fab09b32cac2c94d07a978de7df7dff/src/full/Agda/Syntax/Concrete/Operators.hs#L146-L151):

[2017-09-19 14:03] nad opened #2766 "Another example of how our treatment of implicit arguments is sometimes annoying"
The following code works fine:
[code]
Let's try to generalise `f`:
[code]
Unfortunately `fails` is rejected, and the workarounds are somewhat annoying:
[code]
Is there anything (non-drastic) we can do about this?

[2017-09-19 14:09] nad commented on #2766
The following workaround is less annoying, but might be hard to employ if `f? p` is a subexpression of some larger term:
[code]

[2017-09-19 16:24] Saizan commented on #2728
Fixed test-case 2728-2 with commit d223d2f, a bit surprising that this hasn't come up before to be honest.

Maybe equality on ```Abstract.Name``` should be even stricter, but it would be better to create a test case that requires that first.

[2017-09-20 06:31] UlfNorell commented on #2764
Since sections desugar to lambdas, it's not that surprising that you can't use them on the left. While we could conceivably do something sensible for definitions like `a ⊕_` above, I really don't think it's worth the implementation cost.

[2017-09-20 07:08] xekoukou commented on #2763
An example in one file with all the functions as postulates:

[code]

[2017-09-20 07:27] nad commented on #2763
What is `Common`?

[2017-09-20 07:36] xekoukou commented on #2763
Mostly imports from the standard library.

[code]

[2017-09-20 08:20] nad opened #2767 "Avoid discarding cached interfaces"
I often use the following setup in my Agda libraries:
* The exported source files are placed in a subdirectory `src`.
* Other files are placed elsewhere. One example might be a file `./README.agda` that provides an overview over the library, importing modules located in `src`.
* The `.agda-lib` file lists `src` as the only `include` directory.

In order to be able to type-check `./README.agda` I i

[2017-09-20 10:42] m0rphism opened #2768 "agda-mode: generate with-clauses from hole"
I propose adding a feature which given

    foo : ℕ → ℕ → ℕ
    foo x y = {! x ≟ y !}

generates

    foo : ℕ → ℕ → ℕ
    foo x y with x ≟ y
    ... | c = {!!}

and ideally moves the cursor to the new hole.

There is an implementation of that feature in [this](https://github.com/wjzz/Agda-mode-improvements) repository. I've tested the lisp file and it still seems to work, even though the last comm

[2017-09-20 11:07] gallais commented on #2766
Another example:

[code]

`argh` leads to the error:

[code]

[2017-09-20 11:07] nad commented on #2768
Duplicate of #560.

[2017-09-20 11:30] effectfully commented on #2069
@andreasabel, is it easier to allow functions on lhs than to adjust the meaning of patterns on rhs? Stuff like

[code]

can be processed as follows: first, `suc2` is type checked against its signature. If it's alright, then all instances of `suc2 x` on lhs are syntactically substituted by `suc (suc x)`, but on rhs `suc2` is treated as a regular function. Patterns are non-recursive and pattern marc

[2017-09-20 12:39] gallais commented on #2069
Being able to write `[1..10] ++ z` would indeed be pretty convenient. A distinct but related thing: when defining a constructor for the datatype `D` it is already possible to use a computation that will deliver a `... -> D` type after being fully evaluated rather than something syntactically equal to `... -> D`. E.g.

[code]

We could imagine these "typed patterns synonyms" to similarly be any wel

[2017-09-20 12:51] gallais commented on #2767
Would it help to turn `-i` into a pragma option? You'd be able to mention that additional path directly at the top of README.

[2017-09-20 13:39] nad commented on #2767
I don't think it should be possible to change the include directories inside a module.

[2017-09-21 05:33] xekoukou commented on #2763
Is there a way to avoid this error ,for the moment, apart from not using "with'?

This error blocks me from continuing my work.

[2017-09-21 07:53] nad commented on #2763
It happens that I discover a workaround when reducing a test case. You could try reducing the test case above further.

[2017-09-21 08:05] UlfNorell commented on #2763
Self contained, shrunk test case:

[code]

I haven't analysed this in detail, but it seems like the problem is that abstracting the right-most with-expression creates an ill-formed type (abstracting over `¬ho-shr-morph ind`, but not `pres-¬ord ind`). The next with-abstraction then panics over this and throws an internal error.

If this is the case then there might be hope for you to work around th

[2017-09-21 08:23] UlfNorell commented on #2763
I think this is a small as it gets:
[code]
The problem is that we use typed abstraction when abstracting over constructors (#745), but not when abstracting over other terms. Typed abstraction panics if the thing being abstracted over is not well-typed, which can absolutely happen if you're not careful in your with abstractions.

[2017-09-21 08:56] UlfNorell commented on #2763
Fixed by removing the internal error and simply refusing to perform the abstraction if it's ill-typed. In that case you'll get an appropriate error message from the checking of the with-function type.

[2017-09-21 09:12] andreasabel commented on #2764
Well, the reason that this is so hard to implement points maybe to certain design decisions that could be revised.  For instance, we separate patterns from expressions already in concrete and abstract syntax.  This might not be necessary, and fusing them would spare us of code duplication in other parts as well.  For instance, display forms do not work on the lhs #1932, simply because no one likes

[2017-09-21 09:26] andreasabel commented on #2766
@gallais : For your example, Agda gets to the point
[code]
and it does not know whether `?C` will expand to a hidden Pi.  At this point, it decides to infer the type of `\ c -> ?`, which yields `(c : _29 f) -> _31 f c`.  Later it discovers that the type should have been a hidden Pi, and fails in the subtyping check.  The work around is to tell Agda that it should expect a hidden Pi (as you do).

A

[2017-09-21 09:31] andreasabel commented on #2763
Please improve your fix (see comment on commit).

[2017-09-21 09:32] UlfNorell commented on #2764
Are you suggesting that if we unified patterns and expressions in abstract syntax we could allow left-hand sides like this:
[code]
If not, then the problem with implementing lhs sections is that you need a different desugaring mechanism and I don't see that you gain enough to make it worth that.

[2017-09-21 09:40] andreasabel commented on #2768
Thanks, @m0rphism, for the pointer.  Would you be able to turn this into a pull request?  On the Agda side, the new functionality would have to be added to `Agda.Interaction.InteractionTop`.

[2017-09-21 09:44] UlfNorell commented on #2763
This issue isn't about with-function error messages. Please open a new issue for that instead of reopening this one.

[2017-09-21 09:44] #2763 closed, assigned to nobody

[2017-09-21 09:49] andreasabel commented on #2764
No, expansion to lambda is just one way of treating sections.  In my example, the desugaring would apply both sides to a new variable.

[2017-09-21 10:00] UlfNorell commented on #2764
That's exactly what I meant. That's a different desugaring that only applies to left-hand sides that I don't believe is worth the effort.

[2017-09-21 10:13] nad opened #2769 "Agda prints ill-formed expression, record argument dropped"
Infer the type of the only goal in the following piece of code:
[code]
If the result is normalised, then we get `F R₂.A`, which is not well-formed.

This is a regression introduced between Agda 2.5.2 and 2.5.3. Bisection suggests that the problem was introduced by @andreasabel in 7fc73607703e0373beaf65ba05fb1911b6d84a5e:
[code]

[2017-09-21 13:31] m0rphism commented on #2768
I could give it a try, but I have no experience with the Agda codebase yet and also not much experience with emacs lisp, so I may need a bit of assistance to get things going.

I had a closer look at the existing implemention I've mentioned, which is an elisp-only solution.

The good thing is, that it can also create with-clauses matching on multiple expressions, e.g.

    foo : ℕ → ℕ → ℕ
    foo

[2017-09-21 13:49] nad commented on #560
The discussion seems to have migrated to #2768.

[2017-09-21 13:49] #560 closed, assigned to nobody

[2017-09-21 14:05] nad opened #2770 "Library dependencies should not be transitive"
Let's say that we have the following files:
* `libs`:
[code]
* `a/a.agda-lib`:
[code]
* `a/A.agda`:
[code]
* `b/b.agda-lib`:
[code]
* `c/c.agda-lib`:
[code]
* `c/C.agda`:
[code]
Note that library `c` does not depend on library `a`, thus one might believe that the code above should be rejected. However, it isn't: `BASE=$PWD/.. agda --no-default-libraries --library-file=../libs C.agda` (in directory

[2017-09-21 14:24] xekoukou commented on #2763
I am still trying to figure out how to make it correctly typed. By the way, the error message for my example is this one :

[code]

[2017-09-22 05:28] xekoukou opened #2771 "Erroneous 'with' error message"
@UlfNorell 's simplified [example](https://github.com/agda/agda/issues/2763#issuecomment-331083535)

[code]

returns this error message :

[code]

This is not the correct generated with function.

[2017-09-22 06:55] #2771 closed, assigned to nobody

[2017-09-22 07:36] UlfNorell commented on #2763
60787df0380c7 fixes the `w₁` problem.

[2017-09-22 09:49] xekoukou opened #2772 "Incorrect implicit arguments in "with" error message."
I took the generated 'with'-function type from the error message and typeckecked it.
It typechecks.

The generated function :

[code]

The with abstraction though returns an error :

[code]

The core resides in the [with-error2](https://github.com/xekoukou/sparrow/blob/with-error2/agda/LinFunContructw.agda#L65) branch.

The example with the postulates from issue #2763 actually typechecks if we rem

[2017-09-22 10:48] UlfNorell commented on #2772
Can you repeat the experiment with implicit arguments turned on (`--show-implicit`)? It may well be that Agda infers different values for the implicit arguments in `itActuallyWorks` than what you have in the with-function.

[2017-09-22 15:32] gallais commented on #2768
I don't think this needs to be perfect to be included. A lot of the current agda-mode features already break when things are not on the same line. Using `C-c C-c` in the following hole for instance leads to an invalid file:

[code]

However, @wjzz's work is not explicitly permissively licensed so I guess that integrating it as is is not an option at least until we have acquired his consent.

[2017-09-22 16:09] wjzz commented on #2768
Feel free to use the code if you find it useful :)

22 wrz 2017 17:32 "G. Allais" <notifications@github.com> napisał(a):

[2017-09-22 19:33] nad opened #2773 "The nofontsetup option does not work as advertised"
I made the following claim:

However, when XeLaTeX or LuaLaTeX is used `fontspec` is still loaded, and this appears to sometimes have an effect on the font.

[2017-09-23 07:55] xekoukou commented on #2772
The problem is that I removed ``` | w | w1``` (because the feature is not implemented). Thus I removed the places where abstraction happens, and that is why it typechecks.

A simplified example :
[code]

In other words, one cannot copy the type of the generated function and expect it to find the problem in this way. One could consider this as a problem of documentation. Similar to this , the expla

[2017-09-23 12:09] carlostome opened #2774 "Internal error with sized types"
The following program gives an internal error with agda 2.5.3 when trying to load it in emacs.
[code]
The error is:
[code]

[2017-09-26 07:46] xekoukou opened #2775 "Irrelevance to be taken into account in 'with' abstraction."
I finally found the reason why my abstractions do not work. I had an irrelevant term.

[code]

[2017-09-26 07:50] xekoukou commented on #2772
I managed to perform the with abstraction by removing irrelevance from a term. ( #2775 )

The remaining issue here is that the generated function in the error message has incorrect implicits.

[2017-09-26 07:53] nad commented on #2774
Here is a cut-down example:
[code]

This is a regression: the code is accepted by Agda 2.5.1.1, but Agda 2.5.2 triggers an internal error.

[2017-09-26 10:54] nad commented on #2774
Bisection suggests that the problem was introduced by @andreasabel in 9a6128647a13b57d8a42590125af259196e9a743 ("Fixed 2046 by an agreeably dirty hack (no clean up yet)").

[2017-09-26 19:30] nad opened #2776 "Dotted variable in inferred type"
Consider the following code:
[code]
If the type of `M.G` is inferred, then Agda prints `(.x : Set) → D → Set₁`, which is not a valid expression.

This is a regression: Agda 2.5.1.1 prints `(_ : Set) → D → Set₁`, while Agda 2.5.2 produces the string mentioned above.

[2017-09-26 21:03] nad commented on #2776
Bisection suggests that the problem was introduced by @andreasabel in 637d485489327f398ca38c2ebbad8ac846e45374 (a bug fix for #1848):
[code]

[2017-09-27 06:56] nad commented on #2776
My guess is that the commit above is not to blame, and that the problem is related to conversion from internal to concrete syntax.

[2017-09-27 12:34] UlfNorell commented on #2634
The second part (the ignored fixity declaration) can't really be blamed on #2500. There's no reason the scope checker shouldn't be able to use the correct fixity for the operator when checking the fields.

[2017-09-27 12:49] marco-vassena opened #2777 "Split on Argument in Anonymous Functions should rewrite to Pattern Match syntax"
Agda version 2.5.3.
In the interactive agda-mode on emacs , case split on the argument of an anonymous function fails.

Consider the following:
[code]

Splitting on x (C-c C-c x RET), will produce the following error:
[code]

However, if curly brackets are present it succeeds.
That is C-c C-c x RET on the following:
[code]
rewrites the function as
[code]
as expected.

I believe that C-c C-c x RET

[2017-09-27 14:15] #2634 closed, assigned to nobody

[2017-09-27 14:31] jespercockx commented on #2777
Currently, there is a semantic difference between regular and extended lambdas (i.e. without and with curly braces): regular lambdas are compared structurally, but each extended lambda introduces a new (anonymous) top-level function. So we have `λ x → x == λ x → x`, but `λ { x → x } != λ { x → x }`. Since they have a different semantics, I think it would be misleading to turn the former into the l

[2017-09-27 14:31] UlfNorell commented on #2634
The first part is still open, but since that's an instance of #2500 I'm closing this issue.

[2017-09-27 15:03] marco-vassena commented on #2777
I see. I just started using pattern match in anonymous lambdas (which I find super-useful to deal with short proofs by contradiction), and I did not realise that they have different semantics. It seems to be a rather subtle difference.

As a user, I would argue that if I do case split (an explicit `C-c C-c x RET` command), then my intention is clearly to use the extended lambda semantics instead o

[2017-09-27 20:49] sattlerc commented on #2634
Thanks!

[2017-09-27 21:12] asr commented on #2777
@marco-vassena, please note that since you replied via email, we cannot distinguish your comments from @jespercockx comments.

[2017-09-28 07:42] UlfNorell commented on #528
Same as #2634. Now fixed.

[2017-09-28 07:42] #528 closed, assigned to nobody

[2017-09-28 07:54] UlfNorell commented on #2777
I agree with Marco here. If the user asks for a case split, I don't see how it could possibly be misleading to perform one.

[2017-09-28 08:34] UlfNorell commented on #2757
@jespercockx:

Can you elaborate what the problem is when trying to do what I was doing before the fix of #2640:

[code]
Having to add a modality to the length argument of `Vec` is really inconvenient, and being able to erase the length argument of `_∷_` is crucial for performance, so it would be very nice if we could make this work.

[2017-09-28 11:24] #2762 closed, assigned to UlfNorell

[2017-09-28 11:28] UlfNorell commented on #2634
The first part is actually #917.

[2017-09-28 12:18] gallais commented on #2762
Nice! Should we also have a test case making it clear what ought to happen in case the user does define a DISPLAY pragma refolding a pattern synonym (potentially to something else)? E.g.

[code]

[2017-09-28 12:28] #917 closed, assigned to nobody

[2017-09-28 12:28] UlfNorell commented on #2762
I'm not sure about **should**, but display forms are applied in `InternalToAbstract` and pattern synonym folding in `AbstractToConcrete`, so it's pretty clear what **does** happen.

[2017-09-28 12:30] UlfNorell commented on #2634
First part now also fixed.

[2017-09-28 15:32] gallais commented on #2762
I'd argue this is the right decision (the user's explicit choices should override the automated behaviour) and it would be nice to guard against regressions.

[2017-09-28 18:33] nad opened #2778 "Using pragmas related to rewriting without --rewriting"
Neither of the following two pieces of code are accepted:
[code]
[code]
I suggest that the second piece of code should be accepted. I'd like to mark a definition for later use with the rewriting facility, without making that piece of code unsafe.

In fact, I suppose all pragmas related to rewriting should be safe, as long as `--rewriting` is not active.

[2017-09-28 18:46] nad opened #2779 "Remove need for parentheses around certain lambda expressions?"
Should we accept some or all of the definitions below that are currently rejected?
[code]
I'm not quite sure what I think.

[2017-09-28 19:11] UlfNorell commented on #2779
What's your argument for accepting (other than "it's technically possible to parse it unambiguously")?

[2017-09-28 19:13] UlfNorell commented on #2762
I have no objections if you want to add a test case :).

[2017-09-28 19:57] nad commented on #2779
Here's some code that I worked on today that might look a bit better without the extra parentheses:
[code]

[2017-09-28 20:07] UlfNorell commented on #2779
For that code I think a better change would be to allow any lambdas in inner holes of operators:

[code]

[2017-09-28 21:46] nad opened #2780 "Improve level constraint solving for groups of inequality constraints"
Consider the following code:
[code]
Agda solves the meta-variable in `Two`, but not the metas in `Three`. Error message:
[code]
These equations have a unique solution, `_16 = _17 = ℓ`. In `Two` I guess that Agda solves (more or less) the following equations successfully:
[code]
Why can Agda solve the meta in `Two`, but not the metas in `Three`?

[2017-09-29 06:31] UlfNorell commented on #2780
There's special code for the `Two` case in [Agda.TypeChecking.LevelConstraints](https://github.com/agda/agda/blob/0f817be40775d56a303565689ee4a6e3787e1c71/src/full/Agda/TypeChecking/LevelConstraints.hs#L14-L21).

[2017-09-29 07:05] nad commented on #2780
What is the rationale for having a special case (AKA a hack)?

Speculation: Constraints of the form xᵢ = x₁ ⊔ … ⊔ xᵢ ⊔ … ⊔ xₙ mean exactly the same thing as xᵢ ≥ x₁, …, xᵢ ≥ xₙ (excluding xᵢ ≥ xᵢ). One could transform constraints in this way, and if a pair of constraints xᵢ ≥ xⱼ and xⱼ ≥ xᵢ is found, then these can be turned into xᵢ = xⱼ. This would handle the situation in `Three`.

[2017-09-29 08:21] UlfNorell commented on #2780
This is exactly what `simplifyLevelConstraint` is doing (I think the technical term is *antisymmetry*, not *hack*), so the only thing you would have to do is to split up the `xᵢ = x₁ ⊔ … ⊔ xᵢ ⊔ … ⊔ xₙ` constraints.

[2017-09-29 10:49] andreasabel commented on #2780
Seems to be related to #2246.

[2017-09-29 15:04] nad commented on #2756
I have implemented a temporary fix: all links are numbered again. If no proper fix is implemented before the next version of Agda is released, then this change should be documented in the changelog and (if appropriate) the user manual.

[2017-09-29 15:42] gallais commented on #2749
I'm really confused. I have edited [these strings](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/BasicOps.hs#L855) and refine (`C-c C-r`) still returns a unicode lambda in emacs...

Edit: wait. Is the expression created as a string, parsed, checked and then the elaborated internal representation printed?! I think I also transform the lambda in all of the pretty printers except

[2017-09-29 19:11] UlfNorell commented on #2749
Yes, the one that you really need to change is `Agda.Syntax.Concrete.Pretty`.

[2017-09-29 22:23] gallais commented on #2749
And these `Agda.Syntax.Concrete.Pretty` instances are in the `Pretty` class, not in the `PrettyTCM` one which means that they're pure rather than in the `TCM` monad i.e. you don't get to have access to the `PragmaOptions` when defining them. :/

[2017-09-29 23:50] stasoid opened #2781 "Tabs in literate Agda files"
Agda 2.5.2 fails to compile literate Agda file with tabs in a comment section.
Example: file tab.lagda, first character is tab:
[code]

It fails with "Lexical error (you may want to replace tabs with spaces)".

[2017-09-30 08:48] nad commented on #2781
I guess that it is fine to allow tab characters in non-Agda code. This can perhaps be fixed by modifying the [`illiterate` and `bleach`](https://github.com/agda/agda/blob/7ef8061b950e406d355dc81edd3095cb436ed3a8/src/full/Agda/Syntax/Parser/Literate.hs#L104-L118) functions in `Agda.Syntax.Parser.Literate` so that they replace tabs with spaces.

Currently we also create other potential trouble for n

[2017-10-01 01:38] pavenvivek opened #2782 "Extending Agda reflection to introduce postulates"
I propose adding a new feature in Agda reflection library to introduce postulates. I have been working on automating the generation of boilerplate codes for higher inductive types using Agda reflection. Currently, Agda reflection does not have any interface to introduce new postulates. I implemented declarePos (similar to declareDef) interface which allows me to add new postulates using reflection

[2017-10-01 06:45] UlfNorell commented on #2782
Sure, PR against `stable-2.5`. Call it `declarePostulate` though, since "pos" is usually short for position.

[2017-10-01 07:57] nad commented on #2782
Please include a test case that checks that this facility fails in `--safe` mode.

[2017-10-01 08:15] nad commented on #2779
Note that lambdas can bind operators (consider `[ λ _] → 0 ] ]`). Our current mixfix parser uses a fixed grammar for every run. I guess your suggestion amounts to having dynamic grammars that change based on what operators are bound. One can also imagine handling let expressions in this way (`[ let _] = id in 0 ] ]`); layout can perhaps still be handled in a previous pass.

[2017-10-01 08:45] nad opened #2783 "Make more primitive/builtin modules safe?"
Currently quite a few `Agda.Builtin` modules cannot be type-checked in `--safe` mode. In the case of `Agda.Builtin.TrustMe` this is good, but perhaps it should be possible to type-check `Agda.Builtin.Char`, `Agda.Builtin.Float`, `Agda.Builtin.IO` and `Agda.Builtin.String` in this mode.

I'm not sure what the `--safe` status of `Agda.Builtin.Reflection` should be. I would hope that all construction

[2017-10-01 08:51] nad opened #2784 "Move cubical primitives to dedicated module?"
Currently `Agda.Primitive` contains a bunch of cubical primitives. Should these primitives really be present when `--cubical` mode is not used? Perhaps it would be better to move these primitives to `Agda.Primitive.Cubical`, and load this module automatically when `--cubical` is active. I guess that this module can contain an `OPTIONS` pragma with the `--cubical` and `--without-K` flags, in antici

[2017-10-01 09:13] nad commented on #2783
See also #2784.

[2017-10-01 09:13] nad commented on #2487
I guess it makes sense to fix #2783 and #2784 at the same time as (or before) this issue.

[2017-10-01 10:21] Saizan commented on #2784
We discussed this a few times: yes they "must" be there so that we have the appropriate "QName"s when we generate the reductions of "primComp" from data or record definitions. Currently Agda does not support "late-binding" of primitives in internal syntax.

Either that or we have to add --cubical to Agda.Builtin.Nat etc. which I don't believe helps with keeping things --cubical neutral.

[2017-10-01 12:37] m0davis opened #2785 "internal error @ ConcreteToAbstract.hs:721"
In the code below, an internal error occurs at `src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs:721` when trying to refine (`C-c C-r`) the goal.

[code]

[2017-10-01 12:51] nad commented on #2784
I noticed that several cubical primitives in `Agda.Primitive` compute even if `--cubical` is not active.

If we change things so that these primitives do not compute when `--cubical` is not active, and furthermore the (non-computing) primitives can be implemented (up to some notion of observational equivalence) in plain Agda, then I guess it is fine to keep them in `Agda.Primitive`.

As far as I u

[2017-10-01 15:04] Saizan commented on #2784
If we load Agda.Primitive.Cubical no matter what flags are used then ok.

I guess the point of loading without importing is that you wouldn't throw an error if Agda.Primitive.Cubical is loaded and not imported and a flag incompatible with --cubical is used?

[2017-10-02 07:45] #2785 closed, assigned to andreasabel

[2017-10-02 19:35] andreasabel commented on #2778
I somewhat agree, but if option `--rewriting` just switches on the use of rewrite rules, it could be very confusing to be able to declare rewrite rules and see no effect because of forgotten option `--rewriting`.

It seems more natural that `--rewriting` is automatically on if you import a file that declares rewrite rules.  We could have an option `--no-rewriting` to switch rewriting off in this c

[2017-10-02 19:52] andreasabel commented on #2776
Probably this is best fixed in `AbstractToConcrete`, like #2729.
In this specific case, the inferred type could be printed as `Set -> D -> Set1`; it is not a user-written `Pi`-type, hence, it could be converted into a `Fun`.

[2017-10-02 20:06] andreasabel commented on #2775
@xekoukou To clarify the bug report; I suppose you expect to see goal `q == a1`, but the goal is still `gun x fun == a1`.  I.e., you expect `with`-abstraction to take irrelevance into account.

[2017-10-02 20:08] andreasabel commented on #2764
Ok, this would require a different representation of sections (not just desugaring).

[2017-10-02 20:09] #2764 closed, assigned to nobody

[2017-10-02 20:24] andreasabel commented on #2777
What would you expect in case there are several lambdas?
[code]
Maybe
[code]
Or should it not matter whether the lambdas are joined or not?

Internally, both are represented the same:
[code]
prints the goals the same:
[code]
Thus, without extra infrastructure we would also not be able to distinguish them for case splitting.

[2017-10-03 08:27] UlfNorell opened #2787 "Overloaded pattern synonyms"
Copied from my comment on [#2069](https://github.com/agda/agda/issues/2069#issuecomment-229390270):

My current thinking is that we could allow overloaded pattern synonyms with the same *shape*, i.e. equal up to argument and constructor names. Pattern synonym expansion could then produce a single term with constructor names being the union of the constructors from the overloaded definitions. Norma

[2017-10-03 09:21] UlfNorell commented on #2782
Fixed by PR #2786.

[2017-10-03 09:21] #2782 closed, assigned to nobody

[2017-10-03 10:24] #2787 closed, assigned to UlfNorell

[2017-10-03 20:43] nad commented on #2784
If a flag that is incompatible with `--cubical` is used, then there is no need to do any work related to `--cubical`, is there? If `--cubical` is not active and we are in a setting that is compatible with `--cubical`, then it may make sense to do some preliminary work in case another module imports this module and turns on `--cubical`. However, this preliminary work should not have observable effe

[2017-10-03 20:51] nad commented on #2778
Rewriting is very experimental, so I want to keep careful track of where it is used. Hence I don't think `--rewriting` should be switched on automatically.

[2017-10-03 21:34] Saizan commented on #2784
Yes, the "preliminary work" won't be observable unless you import the
cubical primitives.

So why complicate things with loading the cubical primitives only
conditionally?

On Tue, Oct 3, 2017 at 10:43 PM, Nils Anders Danielsson <
notifications@github.com> wrote:

[2017-10-03 21:36] stasoid commented on #2781
Adding `go '\t'          = ' '` before `go c | isSpace c = c` in `bleach` fixes the issue (I checked):
[code]

[2017-10-04 07:00] nad commented on #2784
Is the extra time spent on the preliminary (but wasted) work guaranteed to be negligible?

[2017-10-04 07:04] nad commented on #2781
If you do this, then column numbers may not be computed correctly, assuming that Agda code can follow on the same line as a tab character. For LaTeX this is not the case, but perhaps for other formats.

[2017-10-04 07:15] UlfNorell commented on #2784
Yes.

[2017-10-04 11:24] andreasabel commented on #2769
I'd be surprised if the patch pointed to by bisection had anything to do with this regression.

It looks more like another one of these parametrized modules bugs.  Feels like #2727.  The issue disappears when removing the unused module parameter of `M`.

[2017-10-04 11:44] andreasabel commented on #2769
Could also be a display form problem.
[code]
The declaration of module `M'` is enough to skrew up the printing of the goal.

[2017-10-04 11:57] andreasabel commented on #2769
No `open` statements are required to trigger this bug.  Also, hiding the parameters does not change the situation.
[code]

[2017-10-04 13:06] andreasabel commented on #2769
In fact, no normalization is needed:
[code]
The two module applications work together to mess up the goal display.

This display form seems to drop the record argument:
[code]

[2017-10-04 13:28] andreasabel commented on #2769
My guess is that the calculation using `projectionArgs` is wrong here (`TC.Monad.Signature`):
[code]
Last edit of this code is f915b1e4ad3d41baa359b09e9e99a0b84f392dc7 by @UlfNorell for fixing regression #2210 introduced for fixing #2057.

[2017-10-04 13:37] andreasabel commented on #2777
This proposal needs to be fleshed out more before implementation can start. The behavior for cases involving several variables needs to be specified, including: several, lambdas, several variables in a lambda, several variables to split at the same time.

[2017-10-04 15:15] UlfNorell commented on #2777
I think it's a mistake to spend too much time on the specification before starting implementation. Without at least starting the implementation it will be hard to figure out what the limiting factors are. For instance, what can reliably be achieved on the Emacs side.

Also, I don't see a problem in implementing something that works for the common simple case, but fails (gracefully) in more complex

[2017-10-04 15:38] andreasabel commented on #2777
For a start, my questions raised above need to be answered.  They arose when I thought about a possible implementation.

Most of the work would have to be done already for a simpler feature:
==> Turn an ordinary lambda into a pattern-lambda.

Likely, concerning emacs interaction, we will hit similar problems as we have now for case-splitting. https://github.com/agda/agda/labels/case-splitting

[2017-10-04 15:53] marco-vassena commented on #2777
I don't think that it should matter whether the lambdas are joined or not and I would expect case splitting to retain which ever style the user used.

[2017-10-04 15:56] andreasabel commented on #2749
`IORef`s and `UnsafePerformIO` are your friend to get options in a pure setting.  I use such black magic in the benchmarking facility.

[2017-10-04 16:09] andreasabel commented on #2753
If one replaces sized types by their dead shell and resolves the hidden size variable `j`,
[code]
then the code is accepted.

With actual sized types, the constraint you describe is left over in the last expression `applyTo e`.

[2017-10-04 16:11] #2775 closed, assigned to andreasabel

[2017-10-04 16:52] andreasabel commented on #2753
@UlfNorell is correct: the `metaOccurs` check prevents the solution.  However, why does it work without the sized types then?  The meta-occurs check does not go into solutions of metas.  Thus, in the case without sized types, where instance search succeeds immediately (solving the hidden argument `i` by the conversion check), we are lucky enough to slip through the meta-occurs check.  However, in

[2017-10-04 17:11] andreasabel commented on #2777
I would so, too, but this requires first some refactoring to actually remember how the user wrote the lambdas.

[2017-10-04 17:19] #2753 closed, assigned to andreasabel

[2017-10-04 17:29] andreasabel commented on #2752
It seems this is a simple oversight in Concrete.Definitions: `instanceBlock` does not go into mutual blocks for probably no reason.

[2017-10-04 17:33] UlfNorell commented on #2777
I think it wouldn't be the end of the would if split lambdas were lost. I would propose implementing this feature in two steps: first without worrying about preserving split lambdas, and second tracking more information about how the user wrote their lambdas.

[2017-10-04 17:39] UlfNorell commented on #2753
Instance search always terminates (or did until the fix?), since it has a limited search depth.

[2017-10-04 18:00] andreasabel commented on #2765
The current behavior is easily explained by the fact that the `levelMax` uses `sort` on level expressions.
[code]
and sorting of variables is by de Bruijn index, not by de Bruijn level, which is more what the user expects.  Maybe in general, the order of variables should be reversed to consider earlier variables as lower.

[2017-10-04 18:13] #2752 closed, assigned to andreasabel

[2017-10-04 18:27] andreasabel commented on #2765
I changed the `Ord` instance for `Term` to sort de Bruijn indices descendingly.

[2017-10-04 18:32] andreasabel commented on #2770
If I understand correctly, then, currently, `depend`encies bring modules into scope transitively, but should not do so.

[2017-10-04 18:37] #2765 closed, assigned to andreasabel

[2017-10-04 18:39] andreasabel commented on #2753
But what if instance resolution introduces a non-terminating function, which is subsequently evaluated in further instance search?  (Do this in a mutual block, before the termination checker kicks in.)

[2017-10-04 18:59] andreasabel commented on #689
Ported test case:
[code]
displays (without highlighting):
[code]
Note the out-of-scope de Bruijn index.  Which is apparently created by `TypeChecking.Forcing.force`.

[2017-10-04 19:02] andreasabel commented on #2751
Unsolved constraints have not produced any highlighting so far, see also #689.

[2017-10-04 19:05] UlfNorell commented on #2753
Isn't that what the occurs check is supposed to prevent?

[2017-10-04 19:07] UlfNorell commented on #2770
This is due to the fact that the library system is built on top of the existing include path machinery. It simply computes an include path from the `agda-lib` file and its dependencies.

[2017-10-04 19:37] andreasabel commented on #689
Irgendwie wird hier die `ProblemId` verschlampert.
The problem id gets lost while solving level constraints!?  If I understand the log correctly:
[code]
Mysterious how Agda declares that `Problem 18 is solved!` after having achieved `no simplification` only to get the same constraint back later in anonymous form (no problem id).

[2017-10-04 19:46] andreasabel commented on #689
Another absurdity about this case: it should pass, because `x` and `xs` are forced.  An indeed it passes if `S` is placed in `Set` and not in `Set1`. Magic 0?!
[code]
Ok, the explanation must be somehow that `max 0 a` simplifies to `a`, while `max 1 a` does not simplify.

It seems I introduced the weird behaviors in 5e9ec5f208ecb184f55e0bb0aec4f81f9e453469 which added the Big/Small distinction to

[2017-10-04 21:12] #689 closed, assigned to andreasabel

[2017-10-04 21:14] andreasabel commented on #2753
Well, but it does not go into meta solutions, thus, is sensitive whether `instantiateFull` has been called or not.  Maybe it should go into meta solutions...

[2017-10-04 22:53] #2784 closed, assigned to nobody

[2017-10-05 08:16] Saizan commented on #2758
I agree that the occurs check should be made to verify that the solution for a meta is respecting the relevance rules.

However, I would think that in this case we should have that the following typechecks:
[code]

because the following should typecheck and it would be nice if "." didn't break referential transparency, (though I see how DontCare is supposed to be a sort of sealing operation):

[co

[2017-10-05 11:04] nad opened #2788 "No cubical primitives/builtins without --cubical"
I don't think it should be possible to declare the `--cubical` builtins and primitives if `--cubical` is not active.

One complication: Now every module depends on `Agda.Primitive.Cubical`. If this issue and #2487 is fixed, then we may end up in a situation in which every module has to be compatible with `--cubical`.

See also #2784.

[2017-10-05 11:05] nad commented on #2784
I see that you did not add such a pragma. See #2788 for some related discussion.

[2017-10-05 11:17] MatthewDaggitt opened #2789 "Narrow and broad options"
This is a result of the discussion we've had at agda/agda-stdlib#143. The proposal would help fix #2783 but  would require #2487 to be fixed first.

I think it should be possible for options such as `--safe` and `--without-k` to be applied in different modes.

1. _Broad file mode_. In this mode the option applies to a file. The entire contents of the file and the set of transitively imported files

[2017-10-05 11:35] identicalsnowflake commented on #2789
I'm not bothered by `--safe` having some sort of hard-coded allowance for the builtin primitive modules included with Agda itself. It makes little sense to trust the Agda devs to write the compiler and type checker, but not trust them to decide which builtin modules they think are safe.

That being said, outside of the packaged builtin primitives, I think `safe` should be pretty strict: I'd prefer

[2017-10-05 11:41] MatthewDaggitt commented on #2789
Yes. For example consider having a file `C` full of postulates, and a file `D` that contains lots of useful proofs, one or two of which depend on the postulates in `C`. Without one of the latter two proposed modes, there's no way of using the useful, safe theorems in `D` without becoming unable to check for safety.

The example above sounds trivial, but the hierarchy in the standard library is qui

[2017-10-05 11:58] nad opened #2790 "The --cubical option should imply --without-K"
The `--cubical` option should imply `--without-K`. The following code should not be accepted:
[code]

[2017-10-05 12:13] identicalsnowflake commented on #2789
Well a lot of the postulates in the standard library are just asserting that the builtin ops behave correctly (like decidable equality on floats, etc.). I think those could be moved into the builtin modules. `erase` could probably be moved there, too.

But yeah, I see your point with something trickier like `--without-k`.

[2017-10-05 12:29] MatthewDaggitt commented on #2789
I should also mention that adding one of the latter two modes might remove the need to add the extra "Safe" files in the standard library as described in agda/agda-stdlib#143

[2017-10-05 12:36] Saizan commented on #2788
I thought we wanted "M depends on A" and "A is loaded while M is checked" be two different notions, exactly because of #2487 ?

[2017-10-05 13:19] UlfNorell opened #2791 "More illtyped meta solutions"
Related to #2709. Here we get `?Y : Nat := true`.

[code]

[2017-10-05 16:05] andreasabel commented on #2751
Here is an example with levels where unsolvable constraints are reported, but no location where they come from.
[code]
Reports:
[code]
The error message is radically different when we use `Set` instead of `Set1`:
[code]
(Somehow this error does a worse job explaining what goes wrong than the one with the unsolved constraints.)

[2017-10-05 16:39] nad commented on #2788
Yes, but with the current implementation they are (as far as I understand) not two different notions.

[2017-10-05 16:41] nad commented on #2791
Does this give us a new opportunity to prove that the empty type is inhabited?

[2017-10-05 16:43] UlfNorell commented on #2791
No, you can only have illtyped terms if there are unsolved inconsistent constraints.

[2017-10-05 17:12] nad opened #2792 "Safe modules can sometimes not be imported from unsafe modules"
I decided to create a separate issue for a problem mentioned by @identicalsnowflake, see https://github.com/agda/agda/issues/2487#issuecomment-290693626.

Consider the following situation:
* `Safe.agda`:
[code]
* `Rewriting.agda`:
[code]
If you try to load `Rewriting.agda`, then you get the following error (even if `Safe` has already been type-checked):
[code]
However, the code is accepted if you

[2017-10-05 17:28] nad commented on #2792
@gallais, the following line that you seem to have written looks suspicious to me:
https://github.com/agda/agda/blob/961e6d878534a3502414b1b8cf4fc3c008c990fa/src/full/Agda/TypeChecking/Monad/Options.hs#L51
There is no documentation of what this line is intended to accomplish. Can you take a look?

[2017-10-06 11:36] gallais commented on #2792
IIRC it was a way for us to get `--safe` to be used to check dependencies when it was set as a pragma rather than a command-line option. Without this, the pragma option would only get applied to the file itself and the dependencies' safety would be ignored.

[2017-10-06 11:50] jespercockx commented on #2758
But isn't declaring a top-level definition as irrelevant **supposed** to break referential transparency? If I mark a definition as irrelevant, then I'd expect the actual definition of the thing to be, y'know, *not relevant*. So I think there's a pretty strong case that we shouldn't accept the definition of b'.

[2017-10-06 12:11] Saizan commented on #2758
I can see the reasoning behind that expectation.

But referential transparency makes sense if you think of ¨.b : Bool" as instead saying "I will only use b in an irrelevant context", so that what it does is making more things available from the context.

However now I'm wondering how much this makes sense with irrelevant projections.

[2017-10-06 12:19] jespercockx commented on #2758
But in the definition `b' = unbox b (c b)`, aren't you using `b` in a relevant context (as an argument to `c`)?

[2017-10-06 12:32] Saizan commented on #2758
Hah, that's true.

But the special thing about "b" is that it's defined in a closed context, so actually there's no information flow to track. it's more of a relativized notion. I'm wondering if it scales to more in-the-wild uses of irrelevance.

[2017-10-06 13:28] andreasabel commented on #2780
Here is another example where transitivity of level constraints is needed:
[code]
Agda rejects this because it cannot solve the constraints, but it should discover that they are definitely unsatisfiable.
[code]
Interestingly, if we replace `Set1` by `Set`, Agda can see that they are unsolvable, since then `_4` can be solved and assigned to zero.

Partial order constraints as we have in levels need

[2017-10-06 13:34] andreasabel commented on #2751
Currently only unsolved emptyness constraints get highlighted.  This could be changed, but we might get lots of confusing yellow.

[2017-10-06 14:10] andreasabel commented on #2792
Please put that explanation __into the source code__.
And ideally, make this a habit.

[2017-10-06 15:10] andreasabel commented on #2751
I am fixing this issue by highlighting unsolved constraints.

The other issue, the problem with the size solver, should be handled in a new issue.

[2017-10-06 15:27] #2751 closed, assigned to andreasabel

[2017-10-06 18:47] nad commented on #2751
Perhaps unsolved constraints could be highlighted in a different way.

[2017-10-06 18:50] nad commented on #2780
Note that the term xᵢ  occurs on both sides of the equation.

[2017-10-06 18:58] nad commented on #2792
The current implementation fails at this task. The following code is accepted (if `Everything.agda` is loaded):
* `Unsafe.agda`:
[code]
* `Safe.agda`:
[code]
* `Everything.agda`:
[code]
Note that the module `Unsafe` is typechecked before `--safe` is activated.

[2017-10-06 21:53] xekoukou opened #2793 "Case splitting error."
If we look at the type of ```meq``` [here](https://github.com/xekoukou/sparrow/blob/12b0f0de32345388506237a7cfc4e195bfbaafb4/agda/LinFunContructw.agda#L117) , we will see that it has type :
```meq   : ¬∅ (∧→ s) ≡ ¬∅ .mx```

Agda is able to case split on ```meq``` but then returns an error :
[code]

But this equation is wrong. It should be :
[code]
which reduces to :

```meq   : ¬∅ (∧→ s) ≡ ¬∅ .mx`

[2017-10-08 18:57] andreasabel commented on #2594
I have a fix.  If splitting fails, we retry it, this time not failing hard on a partial cover.  This fixes the issue for the test case above.

[2017-10-09 07:11] andreasabel commented on #2576
Ok, the solution is to not raise the error in Concrete.Definitions, but to catch it in the scope checker instead.

[2017-10-09 07:25] #2576 closed, assigned to andreasabel

[2017-10-09 07:25] #2594 closed, assigned to andreasabel

[2017-10-09 08:30] andreasabel commented on #2175
I started to implement 2, but ran out of steam.  There is too much to refactor for too little gain.
In general, we should avoid reporting `Parse error` where we can.  But this should be solved systematically, by introducing a `Parsed` syntax before the `Concrete` syntax and a preprocessing phase which tightens the syntax and gives nice error message.  Modifying `Concrete` to cater for `QName`s whe

[2017-10-09 08:30] #2175 closed, assigned to andreasabel

[2017-10-09 08:50] #1884 closed, assigned to andreasabel

[2017-10-09 08:51] andreasabel commented on #1884
After 19 months, the probability of arrival of a PR within Agda's lifetime was estimated to 10^-19.
Thus, I fixed this myself.

[2017-10-09 09:03] andreasabel commented on #1826
The original issue has been fixed (internal error).  Closing...

[2017-10-09 09:03] #1826 closed, assigned to andreasabel

[2017-10-09 09:35] jespercockx opened #2794 "Using \texttt{-} destroys code coloring in literate file"
Minimal example: a file `test.lagda` with the following contents:
[code]
The postulate doesn't get any code coloring, but it does when I remove the `texttt{-}`.

[2017-10-09 09:56] nad commented on #2794
A workaround is to insert `{}` before `-`.

Perhaps we should stop using the font-lock mechanism for highlighting comments. I see that @monnier switched to using font-lock back in 2009 (6c70946d363e54cb43ae770eedf5467f223d32d9). @monnier, do you have any opinion on this?

[2017-10-09 11:23] Saizan commented on #2790
--without-K seems the sane default if you have --cubical, but we should still allow the following and complain if you also have --safe.

[code]

[2017-10-09 12:30] #2790 closed, assigned to Saizan

[2017-10-09 13:17] #2773 closed, assigned to nad

[2017-10-09 14:02] cartazio commented on #1884
My bad 😅

Many thanks!

On Mon, Oct 9, 2017 at 4:51 AM Andreas Abel <notifications@github.com>
wrote:

[2017-10-09 15:31] monnier commented on #2794
As an Emacs user, I expect highlighting to be updated on-the-fly immediately (that's how it works in every other major mode).  That's why I changed agda-mode to use font-lock for comments (I'd use it for even more things if it were me).  Obviously, this requires duplicating part of the syntactic rules into the Elisp code, and in this present case, I think the problem is that this part of the Elisp