[2019-05-09 11:33] andreasabel commented on #3732
The problem https://github.com/agda/agda/issues/3732#issuecomment-489917081 (which was indeed a problem, thanks for clarifying this, @erydo) was fixed, first in commit e160bf18e94917f82f005788dce6247827cad353 and then, in a more modular way, in commit 9ab7b474c15b6c2301754eb712bceaaaefeaceb3.  There is no further action needed on this.

There is however still the problem that the two compilers GHC

[2019-05-09 11:42] andreasabel commented on #3709
Why does this issue have a milestone?

[2019-05-09 11:49] andreasabel commented on #3735
Please keep milestone 2.6.0.1 clear of issues that concern the new features of Agda 2.6.0.

[2019-05-09 11:50] andreasabel commented on #3724
Please keep milestone 2.6.0.1 clear of issues that concern the new features of Agda 2.6.0.

[2019-05-09 11:50] andreasabel commented on #3695
Please keep milestone 2.6.0.1 clear of issues that concern the new features of Agda 2.6.0.

[2019-05-09 11:50] andreasabel commented on #3672
Please keep milestone 2.6.0.1 clear of issues that concern the new features of Agda 2.6.0.

[2019-05-09 11:56] andreasabel commented on #3705
I just went through the 2.6.0.1 issues and bumped all that did not concern _new_ regressions in _pre-2.6.0_ features to 2.6.1.

Can we release 2.6.0.1 now?  The main reasons for a swift release are #3692 (regression) and #3685 (support GHC 8.6.5).

[2019-05-09 12:00] jespercockx commented on #3709
Are we running out of milestones as well?

[2019-05-09 12:06] UlfNorell commented on #3709
Did you just take credit for resolving this issue?? I'm pretty sure *I* answered the question in the title. Also what's with the `already-fixed`? Obviously there was some confusion about issue numbers that I (heroically) cleared up.

[2019-05-09 13:26] nad commented on #3724
Why? I think it makes sense to fix serious bugs (like internal errors) before 2.6.0.1 is released.

[2019-05-09 13:28] nad commented on #3724
I saw that you added some motivation in another ticket (https://github.com/agda/agda/issues/3705#issuecomment-490872892).

[2019-05-09 14:17] asr commented on #3755
The option `--regex-include all/Compiler` includes the `simple` and the `with-stdlib` tests. I only want to run the `simple` tests.

[2019-05-09 15:11] asr commented on #3705
I'll prepare the release.

[2019-05-09 16:16] UlfNorell commented on #3755
[code]

[2019-05-09 17:02] xekoukou commented on #3758
Some reasons why we need to use the browser as an editor (and don't bother with other editors) :
1. Javascript , interactive charts, etc.
  You could create a view of data structures that can then be used when testing or when evaluating a function.
2. Literate programming.
  Each piece of programming text can contain metadata that can be viewed when hovering over it. Metadata can be custom informa

[2019-05-09 20:26] WolframKahl commented on #3749
As long as .agdai files are platfom-independent,
you could prove
[code]
on Machine1, and transport the proof together with its .agdai file onto Machine2,
where you also prove
[code]
...

Some day in the future, this could even be done on the same machine,
with one Agda implementation running on the GPU.  :wink:

[2019-05-09 23:49] rwe commented on #3758
@nad — That's fine, I just wanted to create an issue to attach to discussion/information about the idea.

@banacorn You've definitely done more in this area than anyone else. I use your `agda-mode` in Atom now, and it's excellent.

When you say:

Aside from the Unicode input, which I think needs to be editor specific (unless  the [Completion](https://microsoft.github.io/language-server-protocol/sp

[2019-05-10 02:31] aljce opened #3761 "Primitive Bool file does not compile"
When attempting to build the latest commit of agda (2.6.1) with nix I continuously get an error where the agda primitive bool file doesn't compile:
[code]
To reproduce this bug run `nix-build` in this [repo](https://github.com/mckeankylej/agda-nix-problem).

Full log file found [here](https://pastebin.com/159CMd0V).

[2019-05-10 02:51] rwe commented on #3761
That line:

Looks suspicious. I suspect that the "Failed to typecheck…" error may actually just be saying it's failing to launch Agda.

When you say "latest commit of Agda", which specific commit are you referring to?
You can find out with:
[code]

[2019-05-10 02:55] aljce commented on #3761
0ebc7407693fd09a525d4f2f35a3412b9deac8d1

[2019-05-10 03:06] rwe commented on #3761
Hmm. So that rules out some of the more recent changes that I worried about. Unfortunately, I'm not very familiar with Nix's build process or with the Agda dev activity prior to a month or so ago, and don't see anything that pops out to me in more recent history of `Agda.cabal`. I hope someone else can jump in and help.

[2019-05-10 08:22] Saizan commented on #3753
To give some context, the best way to compile this stuff would involve some research.

The first obstacle is how to compile ```primTransp``` as its computation rules are written as looking into the body of the function ```I -> Set```. That's why canonicity for cubical is proven for terms in a context of interval variables.

[2019-05-10 09:13] banacorn commented on #3758
@erydo thanks for your support ❤️

I think unicode input is a larger problem on its own. Perhaps one day there will be some kind of input method protocol to rule them all.

Code actions look promising, I think it could handle most of the code editing tasks with no problem.
However, to put holes on the editor, aside from giving them distinctive appearances, they need to be resilient to accidental d

[2019-05-10 15:28] rwe commented on #3758
I agree those wouldn't be covered by the server part of the LSP, though don't see why they'd need to. Clients like `agda-mode` could continue to implement additional functionalities like that—but I think those two examples wouldn't prohibit new clients. Coloring of holes could just be syntax highlighting rules; and I'm not sure if holes _need_ to be resilient to deletion — especially if in the fut

[2019-05-10 20:08] nad commented on #3672
The following short piece of code triggers an internal error:
[code]
[code]
The inferred type of `subst-const`:
[code]

[2019-05-11 08:10] molikto opened #3766 "Question about unification"
It seems to me meta variables must be solved inside the same closure/scoping where meta is introduced? So the code below is not a bug?

Is it true in general meta must be solved inside the scope they are in?

![1FFCB33379DE21121EAE14F4F0F00B20](https://user-images.githubusercontent.com/1373829/57567104-e7da9b00-7406-11e9-87a6-104d02c0cf4d.jpg)

[2019-05-11 13:01] #3755 closed, assigned to asr

[2019-05-11 13:29] asr opened #3768 "Support hashable 1.3.0.0"
Version 1.3.0.0. of hashable was [released](http://hackage.haskell.org/package/hashable-1.3.0.0). There are various dependencies that do not support this version, so we can neither support this version. I created this issue for collecting/reporting the required changes/issues.

Fixed issues:
* aeson (https://github.com/bos/aeson/issues/713)
* hashtables (https://github.com/gregorycollins/hashtable

[2019-05-12 07:35] UlfNorell commented on #3766
Yes. Metas are frozen after each mutual block, so the unsolved meta in the type of `b` cannot be solved by the use of `b` in `e`.

[2019-05-12 07:35] #3766 closed, assigned to nobody

[2019-05-13 13:38] guillaumebrunerie opened #3774 "de Bruijn index out of scope with rewrite rules"
While testing Jesper’s confluence checker for rewrite rules #3763, I stumbled upon the following "de Bruijn index out of scope" error, which has to do with rewriting (I have only tried it on the confluence checker branch, but it probably doesn’t have anything to do with the confluence checker itself).
[code]
Loading gives:
[code]

[2019-05-13 13:40] guillaumebrunerie commented on #3774
By the way, why don’t "de Bruijn index out of scope" errors give the standard "internal error, please report as a bug" message?

[2019-05-13 22:58] asr commented on #3749
I realised this issue has milestone `2.6.0.1` but the fix wasn't cherry-pick into `release-2.6.0.1`. I'm trying of cherry-picking the fix.

[2019-05-13 23:16] asr commented on #3749
The fix depends of other changes don't include in `release-2.6.0.1`, so I'll change the milestone to `2.6.1`.

[2019-05-13 23:16] #3749 closed, assigned to nobody

[2019-05-14 00:25] asr commented on #3705
I uploaded to Hackage the package candidate [Agda-2.6.0.1](https://hackage.haskell.org/package/Agda-2.6.0.1/candidate) and I tested its installation on Ubuntu with GHC 8.6.5, 8.4.4, 8.2.2, 8.0.2 and 7.10.3.

Could someone test the installation on macOS and Windows using the following instructions:

[code]

[2019-05-14 00:34] rwe commented on #3705
@asr I'm doing that now. My system is macOS (Mojave 10.14.4, which is current) running `cabal@2.4.1.0`, `ghc@8.6.5`

[2019-05-14 01:00] rwe commented on #3705
@asr — Worked, with small hiccup on `alex`:

I'm surprised by that, because it looks like it's in the `build-tools` section of `Agda.cabal`, but maybe it needs to be in `build-depends` as well?

Anyway, I ran:

which installed successfully. And then re-running `cabal install` succeeded, and I verified that Agda would run, at least enough to print out its version number.

(There were also the usual

[2019-05-14 01:02] rwe commented on #3705
Ah, this looks right: https://www.haskell.org/cabal/users-guide/developing-packages.html#pkg-field-build-tool-depends

[2019-05-14 01:05] rwe commented on #3705
Except the docs say it should be desugaring it that way automatically. Sigh. Cabal, why are you like this.

[2019-05-14 05:57] MatthewDaggitt commented on #3700
Just come across this again. Sorry, not sure how to phrase this without coming across as too obnoxious, but are you sure this behaviour is the right one? My understanding of generalised variables is that they should only activate when the name isn't already in scope. Hence hence why Example1 goes through as `A` is not generalised as it is already available via a module parameter. In Example2 it se

[2019-05-14 07:20] UlfNorell commented on #3700
Are you arguing that
[code]
should type check and resolve to `a : M.A`? This seems like a terrible idea.

[2019-05-14 07:40] MatthewDaggitt commented on #3700
No I'm not, I agree that your example shouldn't type check. I'm proposing that:
[code]
should type check and resolve to `a : M.A`, i.e. that names introduced via `variable` should(?) behave differently from those introduced via `postulate` (or indeed any other method).

Hmm, okay thanks your example helped me understand why they don't work as above. In my head `variable`s were treated with more sh

[2019-05-14 08:59] jespercockx commented on #3328
Quoting myself from https://github.com/agda/agda-stdlib/issues/775:

[2019-05-14 14:30] jespercockx opened #3776 "Conversion check fails too quickly when type could be eta unit type"
Here's a minimal example:
[code]
This results in an error:
[code]
However, replacing the hole with `unit` makes the file typecheck.

[2019-05-14 15:07] jespercockx commented on #3776
The original issue here is https://github.com/agda/agda/issues/856, but the fix was incomplete: it only triggers when at least one side is a constructor or lambda, but here we are comparing two `Def`s.

[2019-05-14 16:48] #3774 closed, assigned to jespercockx

[2019-05-15 08:59] gallais opened #3778 "Positivity discrepancy between a Set parameter and one detected as parametric by forcing"
[code]

Even though `C₁` and `C₂` are virtually identical (note that `C₂` is correctly
accepted as a small type because forcing notices that `A` is in fact a
parameter), they behave differently when it comes to positivity.

`D₁` is accepted just fine while `D₂` is rejected with the error

[code]

Bug found by @ichistmeinname [on SO](https://stackoverflow.com/questions/56143587/why-is-my-definition

[2019-05-15 09:35] #3776 closed, assigned to jespercockx

[2019-05-15 13:57] nad opened #3779 "Incorrectly ordered generalised variables"
Consider the following code:
[code]
Note that `g` precedes `f` in the type signature of `lemma`. This is a bug. The documentation of generalisable variables [states](https://agda.readthedocs.io/en/latest/language/generalization-of-declared-variables.html#placement-of-generalized-bindings) that "Variables mentioned eariler are placed before variables mentioned later".

[2019-05-15 21:12] astump opened #3780 "Automatic case splitting fails when '-' is a constructor"
If one has a datatype where '-' (no quotes) is a constructor, then automatic case splitting on an implicit argument of that type fails because it generates the pattern '{ -}' where the '-}' looks like end-of-quotation.  Here is a self-contained example, where doing Control-C Control-C in the hole in the body of myfun will generate that bad pattern '{ -}':

[code]

[2019-05-15 21:21] gallais commented on #3780
Good news: it's fixed in 2.6.0 already! #3161 fixed the fix for #269 so that
constructors either starting or ending with `-` do not lead to parse errors
in this situation.

[2019-05-15 21:22] #3780 closed, assigned to nobody

[2019-05-15 21:29] astump commented on #3780
Excellent!  Sorry I did not check the most recent version.

[2019-05-16 12:04] jmchapman opened #3781 "confusing name choices related to hiding of dot patterns/different names in context and type of goal"
I was just presented with the following situation that really confused me. My mistake was to give a name "K" to a pattern which actually was a constructor pattern star. The thing I intended to give the name "K" to was called "K₁" by Agda and was out of scope. But, in the type of the hole I was trying to fill in, I believe "K" computed to star, my call to the function "extricateK K" computed to sta

[2019-05-16 13:04] jespercockx commented on #3781
It's hard for me to understand from your description what exactly is the problem. Could you perhaps post a self-contained example where Agda chooses a bad name?

[2019-05-16 13:50] jmchapman commented on #3781
Yes, sorry, I will get back to you with a boiled down example.

[2019-05-16 16:40] omelkonian commented on #3672
Found an easter egg!

[code]

[code]

[code]

[2019-05-16 19:12] L-TChen opened #3783 "Verbosity 0 and 1 do not work for debugPrint"
The following code does not print anything to Agda debug unless the verbosity for `debugPrint` is set to 2 or above. Is it intended? And why?

[code]

[2019-05-16 19:20] UlfNorell commented on #3783
Level 0 and 1 are printed to the info buffer instead of the debug buffer in Emacs. It's cleared once the file loads though, so you don't have time to see it. You can see the command in the `*agda2*` buffer:

[code]

If you run it from the command line it prints as expected.

[2019-05-16 19:20] #3783 closed, assigned to nobody

[2019-05-16 20:51] L-TChen commented on #3783
Thanks for your prompt reply! I will create a PR later for this as well as the purpose of the first argument to the user manual.

[2019-05-17 10:59] asr commented on #3705
I'm waiting someone tests the package candidate [Agda-2.6.0.1](https://hackage.haskell.org/package/Agda-2.6.0.1/candidate) on Windows for releasing 2.6.0.1.

[2019-05-17 11:29] UlfNorell commented on #3705
Tested on Windows 10, ghc-8.4.1.

[2019-05-17 11:31] jespercockx opened #3785 "Comparison of blocked terms doesn't respect eta"
Minimal example:
[code]
Currently Agda reports the following:
[code]
However, the constraint can be solved trivially by eta-equality for the unit type.

This issue finally answers the question by @andreasabel from 8 years ago:

https://github.com/agda/agda/blob/6f983b0d8bd32d9f299599b75c7d3d53c63b90b3/src/full/Agda/TypeChecking/Conversion.hs#L190-L195

Answer: no, we want proper definitional equal

[2019-05-17 16:28] strake commented on #3727
Sorry, forgot about this! @gallais Yes, both your conclusions are correct. However, that one can not refer to the original `M` already follows from the definition/desugarization of the syntax.

Edit: Ought we to warn on `import M as _`?

[2019-05-17 23:52] asr commented on #3705
Agda 2.6.0.1 was released.

[2019-05-17 23:52] #3705 closed, assigned to asr

[2019-05-19 20:17] rwe commented on #3727
@gallais in your example, that sounds intuitive to me. Though the characterization of the logic here:

makes it seem like special exclusion effort, when it seems it should be more of a natural outcome of how names would be brought into scope.

This suggestion seems to have two parts, if I'm interpreting correctly:
  1. To *not* introduce the original module name into global scope when doing an ali

[2019-05-20 06:01] xekoukou opened #3788 "[question]: Coinduction and strict backends."
How can someone implement coinduction on strict backends?
Without the use of musical notation.

It appears that the JS backend supports musical notation only.

Unfortunately, the primitives I have from Ocaml are [lazy and force](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Lazy.html) , meaning that I need to know which expression will be delayed and when it will be forced to return a value.

[2019-05-20 09:59] #3785 closed, assigned to jespercockx

[2019-05-20 13:55] gallais opened #3790 "Syntax declarations can't be used partially applied"
The following module fails to check with an out of scope error for `_⇒_`:

[code]

Either we should allow partially applied notations, or we should [document](https://agda.readthedocs.io/en/v2.6.0.1/language/syntax-declarations.html)
that they can only be used fully applied.

It's also worth revamping the example of a `syntax` we have in the manual: now
that we have nice `do`-notations, the `bind`

[2019-05-20 13:59] MatthewDaggitt commented on #3790
Upvote for allowing partially applied notation. That would be amazingly useful!

[2019-05-20 15:18] gallais commented on #3736
Alternatively you could export a function extracting the pair of `Word64`.
This way we are still not able to mess with a `NameId` from outside of the module.

[2019-05-21 05:03] xekoukou commented on #3788
I used the coinduction information I am given [here](https://github.com/agda/agda/blob/3c51ce531397bb2ebbd211b9418a7c7c2cc8b27b/src/full/Agda/TypeChecking/Monad/Base.hs#L1844) to introduce ```force``` before the constructor is eliminated (in TCase) and introduce ```lazy``` before a constructor is created.

With ```lazy``` things are more tricky because ```TLet``` statements can create infinite loo

[2019-05-21 09:39] nad opened #3791 "Asking Agda to solve a constraint inside a macro"
Consider the following code:
[code]
This code is rejected:
[code]
If `typeError (strErr "Meta" ∷ [])` is replaced by `returnTC _`, then the code is accepted. This suggests to me that there is some constraint that can be solved, but isn't solved by the call to `unify`. Is there some way to get Agda to solve this constraint inside the macro? If not, should we make it possible to do this?

[2019-05-21 10:04] jespercockx commented on #3791
I'm in favour of adding a `solveConstraints` primitive to the reflection API. In the past I encountered some similar problems which I managed to solve by creative use of `catchError` and `blockOnMeta`, but being able to just call the constraint solver directly would've been much easier.

Edit: maybe the primitive should take an argument of type `MetaId -> Bool` to only solve constraints that menti

[2019-05-21 10:18] jespercockx opened #3792 "Compiler `with-stdlib` test running forever on GHC 8.0?"
Travis is timing out on the GHC 8.0 build, and on my own PC I'm getting (after waiting for a long time) an error:
[code]

The first commit that had the failure was my own https://github.com/agda/agda/commit/3f9d17fb13cc122cc91d1e1e47cb8c0d185b177e but I don't see how this change could have causes this issue. Does anyone know what is going on?

[2019-05-21 11:22] nad commented on #3791
Yes.

[2019-05-21 11:37] nad commented on #3791
Is there currently some efficient way to find out which constraints mention a certain set of meta-variables?

[2019-05-21 11:44] jespercockx commented on #3791
I don't know about efficiency, but the current code implementing this internally can be found here:

https://github.com/agda/agda/blob/6c7f3ff048ac18c3711eff9a26353fde51dbefb7/src/full/Agda/TypeChecking/Constraints.hs#L175-L192

(edit: fixed link)

[2019-05-21 11:59] jespercockx commented on #471
Feature added in https://github.com/agda/agda/commit/abb4bbd56d54ee06232476ffbfbe83fd8f97d4cc

[2019-05-21 11:59] #471 closed, assigned to jespercockx

[2019-05-21 14:51] L-TChen commented on #3736
Yes that's way better. I'll come back to this issue soon.

[2019-05-21 16:56] andreasabel opened #3795 "Check confluence of several rewrite rules at once"
Check confluence of several rewrite rules at once.

A not minimal example:
[code]

[2019-05-21 21:20] jonsterling commented on #3750
Propositional UIP (in which UIP is implemented as yet another component of composition structure) is a reasonable middle ground between Cubical Agda and XTT --- the judgmental UIP of both XTT and OTT relies unfortunately on a non-standard notion of universe, in which the type constructors are injective up to paths (which is not compatible with the standard semantics for universes -- not to be conf

[2019-05-21 21:21] jonsterling commented on #3750
To clarify, nothing semantically is wrong with judgmental UIP, but both XTT and OTT obtain (conjectured) decidability of typechecking only by virtue of being able to calculate coercions by only inspecting the _boundary_ of a path of types, which requires this nonstandard injectivity condition.

[2019-05-22 08:21] jespercockx commented on #3795
I played around a bit with this example. The problem with `•-id-l` and `lift•-id-l` can be solved by simply swapping the order in which you add the rewrite rules, so strictly speaking simultaneous confluence checking is not necessary (though probably desirable nevertheless).

The rule `•-id-r` is more problematic since its confluence requires an eta rule for the type `ε ≤ ε`, and likewise for the

[2019-05-22 08:51] nad commented on #3791
OK, not so efficient.

Does anyone know if "`isConsideringInstance`" can be true when the new primitive(s) are called from a macro? I want to know whether this detail should be explained in the documentation.

[2019-05-22 09:08] jespercockx commented on #3791
As the one who added it, I'm pretty sure that `isConsideringInstance` is only true during the candidate check of instance search, so it is not something users of the reflection API should have to worry about.

[2019-05-22 11:17] nad commented on #3790
What about notation with binders?

[2019-05-22 11:20] nad commented on #3727
i suppose it might bring instances into scope.

[2019-05-22 16:36] nad opened #3797 "Problematic output when an operator constructor that was not originally declared as an operator is split"
Split `x` in both holes in the following code:
[code]
Result:
[code]
[code]
I would have liked to see `g (! x) = {!!}`.

[2019-05-22 17:06] nad opened #3798 "The fix for #3785 broke some code"
The fix for #3785 (3c51ce531397bb2ebbd211b9418a7c7c2cc8b27b) broke some code for me:
[code]
Result:
[code]
I don't know if this is a bug or not, but I think it makes sense to investigate the problem.

[2019-05-22 17:32] nad commented on #3798
A first analysis of the problem:

* The tactic tries to solve the goal `suc ⟨$⟩ _ ≡ suc ⟨$⟩ return xs` using reflexivity (where `_` is a meta-variable which I guess stands for a blocked term).

* Previously this failed: The tactic tried to unify the goal with reflexivity, but because the goal meta-variable did not reduce to an application of `refl` this attempt was aborted.

* Now this attempt is

[2019-05-22 21:05] xekoukou commented on #3749
The test here only checks the haskell implementation of Floats, not the other backends , since other backends might have other definitions of primitives.

On another note, since during typechecking the haskell version is used, then any divergence from the haskell version will have quite unexpected results.

[2019-05-22 21:20] HuStmpHrrr opened #3799 "Variable generalization should also work with primed or indexed symbols"
It would be nice if `variable` keyword allows generalization over a symbol that is also primed and/or indexed. For example,

[code]

Notice that the type of `lem` will be automatically generalized to `∀ {a₁ a₂} → f a₁ ≡ f a₂`.

[2019-05-23 00:31] asr opened #3800 "Build error using hashtables-1.2.3.2 and primitive-0.7.0.0"
Travis reported the error [here](https://travis-ci.org/agda/agda/jobs/535946204).

I could reproduce error when installing `hashtables-1.2.3.2` with `primitive-0.7.0.0`:

[code]

[2019-05-23 01:59] asr commented on #3800
`primitive-0.7.0.0` was (temporally?) excluded from `hashtables-1.2.3.2` [here](https://github.com/gregorycollins/hashtables/pull/58), so the Travis builds should be green on a while.

[2019-05-23 13:45] gallais commented on #3736
I have a bit of time today before switching back to deadline mode tomorrow so I
will try to get this one in.

[2019-05-23 16:51] andreasabel commented on #3351
It is not unreasonable to use short names for hidden record fields.

[2019-05-23 16:59] andreasabel opened #3801 "Allow declarations in inner scopes to shadow declarations in outer scopes"
Agda should allow declarations in inner scopes to shadow declarations in outer scopes, e.g.:
[code]
This would also solve #3351: shadowing `variables` in e.g. `record`s would be really useful.

A more tangible example is:
[code]
We might even allow shadowing by `open` statements:
[code]
This currently gives the error
[code]

[2019-05-23 17:02] andreasabel commented on #3351
Issue continued in #3801 in generalized form, concerning shadowing of outer declarations.

[2019-05-23 17:14] andreasabel opened #3803 "Parse empty field lists"
A continuation of #2759. This gives a hard parse error:
[code]
[code]
It would be nicer if this was just a warning, as with other empty blocks.

[2019-05-24 09:21] carlostome opened #3804 "Wrongly fully qualified constructors on pattern matching when importing from a parametrized module"
Given a parametrized module:

[code]
After importing this module passing the parameter, if I try to define a function
by pattern matching on a value of type `Type`:
[code]
Then I get the constructors from `Type` wrongly qualified and an error:
[code]

I'm using Agda compiled from the master branch on commit:

`ae72a869d63e21c39e50da262212db5e32018f56`

[2019-05-24 09:23] xekoukou opened #3805 "Agda prelude: Internal error at src/full/Agda/TypeChecking/Reduce/Fast.hs:1347"
The code is from [agda-prelude](https://github.com/UlfNorell/agda-prelude/blob/master/src/Data/TreeRep.agda)

Agda version 2.6.1-64218e5

[2019-05-24 09:28] gallais commented on #3778
Oh wait, this is a duplicate of #3541, right?

[2019-05-24 09:28] #3778 closed, assigned to nobody

[2019-05-24 09:34] gallais commented on #3804
This is a duplicate of #3209 I believe.

[2019-05-24 09:34] #3804 closed, assigned to nobody

[2019-05-24 10:15] jespercockx commented on #1981
I'm considering to give this a try, but change a bit how rewrite rules on projections would work. In particular, I propose that we should be able to declare rewrite rules *inside* a record type. Here's an example of what I have in mind:

[code]
When actually constructing an element of the record type, the equalities should then be checked to hold definitionally, in order to avoid problems with sub

[2019-05-24 10:23] amp12 commented on #1981
Hi Jesper. That looks very nice — I would use it. At the moment I have to go through an annoying yoga of declaring single-constructor data types instead of records, defining functions on the data that would have been the fields I wanted, and only then using the existing REWRITE facility; the code looks ugly.

Andy

[2019-05-24 11:17] L-TChen commented on #3736
Great. I can update the CHANGLOG today if you don’t have time.

[2019-05-24 12:36] nad opened #3807 "Internal error related to generalisable variables"
[code]
[code]

[2019-05-24 12:56] gallais commented on #3736
Ah yeah sorry I forgot to.

[2019-05-24 15:20] nad commented on #3791
@jespercockx and I noticed that the new primitive `solveConstraints` does not solve constraints if Agda is already solving constraints when the tactic is run. We tried to change the implementation so that constraints are solved anyway, but this lead to a recursive invocation of a tactic. This problem should be addressed in some way before the new primitives are released. Some possible ways forward

[2019-05-24 15:25] nad commented on #3798
@jespercockx and I tried to analyse the problem. It seems as if his fix is not to blame.

It seems as if this meta-variable was not blocked, but it was not solved. There was a solvable constraint that for some reason was not attempted before the tactic was invoked. What kind of internal invariants do Agda maintain? Here is a (perhaps simplified or incorrect) view of the problem:

* There is a cons

[2019-05-24 16:24] L-TChen commented on #3736
I think this issue can be closed, and finish the project (hooray). Thanks so much.

[2019-05-24 16:24] #3736 closed, assigned to gallais, L-TChen

[2019-05-25 12:18] asr commented on #3792
I also could reproduce the issue. I don't know what causes it but I fixed the issue by increasing the maximum heap size to 3GB in my local repository. I'll increase the maximum heap size only for GHC 8.0.*.

[2019-05-25 14:36] strake commented on #3727
@nad Yes, good point — as specified (and intended), yes, it would do so.

[2019-05-27 12:48] jespercockx opened #3810 "Confluence check confused by rewrite rules with different arities"
Example:
[code]
Agda accepts this, but the confluence checker should complain.

[2019-05-27 14:37] jespercockx commented on #3810
Here's another related problem where the rules only overlap when `X` is a function type:
[code]

[2019-05-27 15:01] jespercockx commented on #3810
Same problem for record types:
[code]

[2019-05-28 09:13] jespercockx commented on #1445
We should revisit this test case now that we actually have a confluence checker.

[2019-05-28 09:18] jespercockx opened #3812 "Rewriting projected symbols leads to loss of subject reduction"
This is similar to the third test case in #3810, but here the confluence checker is not to blame.
[code]
I wonder whether it was a good idea in the first place to allow matching on projections in rewrite rules. It allowed to work around the lack of rewrite rules with projections as their *head* (#1981), but once we add that feature I'd be tempted to just get rid of projections as *patterns*.

[2019-05-28 09:45] mrakgr opened #3813 "Destructuring leads to invalid premises"
[code]
[code]

If I try to destructure `prf` here this is what happens.

[code]

[code]

When I try to fix that by replacing it with the following, I get ill typed premises.

[code]
[code]

Note that the type of `to : ℕ → Bin` whereas `n : Bin`. I am not sure what to do here. I'll try to pare down the example so it can be run in a single file.

[2019-05-28 09:55] mrakgr commented on #3813
Here is the whole thing in a single file. I had to do some renaming by hand.

[code]

[2019-05-28 11:59] #3812 closed, assigned to jespercockx

[2019-05-28 12:13] nad commented on #3750
Some questions:

* The idea is that the proposed new variant of Agda should be compatible with UIP. Would it be compatible with `--with-K`?

* What about propositional extensionality/univalence for "hprops"? This principle can be used to prove that, for set quotients, `[ x ] ≡ [ y ]` implies `R x y`, where `R` is the quotient relation (assuming that `R` is a propositional equivalence relation). I'

[2019-05-28 12:17] nad commented on #3599
And perhaps we could also make progress on "`--cubical-without-glue`" (#3750). Have you decided how to proceed with this ticket? Is the implementation easy or hard?

[2019-05-28 12:20] mrakgr opened #3814 "`refl` does not work despite the definitions being equal."
[code]
[code]

You'd expect that `refl` would work in this situation, but I cannot get it to trigger. This error feels like a compiler bug more than anything else.

I'll try to isolate the bug.

[2019-05-28 12:23] UlfNorell commented on #3814
`prf-from` and `there-prf` are two unrelated bound variables. What makes you think they would be equal?

[2019-05-28 12:27] mrakgr commented on #3814
Ah, I see your point. They have the same type only. Sorry about this.

[2019-05-28 12:27] #3814 closed, assigned to nobody

[2019-05-28 13:27] nad commented on #3814
Here is my proof of basically the same property:
[code]
I'm using a recursive definition of `Any`, but the proof can be tweaked to work for an inductive definition.

See my paper ["Bag Equivalence via a Proof-Relevant Membership Relation"](http://www.cse.chalmers.se/~nad/publications/danielsson-bag-equivalence.html) for more proofs in this style.

[2019-05-28 13:38] mrakgr commented on #3814
Thank you. I will take a look at it.

[2019-05-28 16:13] jonsterling commented on #3750
Yes, the effectivity of quotients is (1) necessary in practice, and (2) I think you need propositional extensionality to do it.

It is unclear to me whether you can include univalence for only hprops (defined in the usual way) without some strange consequences, but it is definitely worth investigating.

[2019-05-29 08:46] jespercockx opened #3816 "Subpatterns with bound variables not considered by confluence check"
I keep finding new and unexpected corner cases for confluence checking. I'm not sure whether that's good or bad? At least this one shouldn't be too hard to fix.
[code]

[2019-05-29 09:04] jespercockx opened #3817 "Subpatterns in Level expressions not considered by confluence check"
[code]

[2019-05-29 09:36] MatthewDaggitt opened #3818 "For open import M, Agda should remember that M is an external module"
Consider the following example:

File: Test.agda
[code]

File: Test/A.agda
[code]

File: Bug.agda
[code]
As written the code type checks fine. If you uncomment the line in `Bug.agda` it fails with the message
[code]
Spent my afternoon chasing this error around the standard library with `Function.Injection` instead of `Test.A`.

[2019-05-29 10:00] jespercockx commented on #3810
Simplified version of example 2:
[code]
This simplified version could also be seen as an instance of https://github.com/agda/agda/issues/3816.

[2019-05-29 10:08] nad opened #3819 "Hygienic macros?"
I'm trying to develop a tactic that takes parameters, and that should work in other modules that take parameters of the same types. Currently I find this to be rather awkward. Here is a simplified example:

The parameter type is defined in module `A`:
[code]

The tactic takes an `Eq` record, and constructs a proof showing that `0` is "equal" to `0`:

[code]

Let's try to use this tactic in another

[2019-05-29 12:36] andreasabel commented on #3818
This can be shrunk to these 3 files:

[code]

[code]

[code]

Of course, a _file_ module like `import Foo` should not clash with a non-file module `Foo` in import-declarations.  However, the last declaration is likely desugared to
[code]
where the connection between the file system and module hierarchy is lost.  (This shows that this desugaring is not complete...)
But even the desugaring should no

[2019-05-29 13:18] #3816 closed, assigned to jespercockx

[2019-05-29 13:18] jespercockx commented on #3810
Simplified version works correctly now that #3816 is fixed, but the original one still stands.

[2019-05-29 14:26] #3817 closed, assigned to jespercockx

[2019-05-29 14:56] andreasabel commented on #3818
My analysis was not entirely correct;
[code]
or
[code]
adds the following to the scope:
[code]
If we want to ban `N` entirely, we have to omit `open`; import directives such as `using` and `hiding` behave differently for `open` and `import`:
[code]
or
[code]
A weak point in the design here is that
[code]
could be read as either
[code]
or
[code]
which have different meanings.  The first reading is

[2019-05-29 15:27] nad opened #3821 "An application primitive for meta-programming"
Does it make sense to add an application primitive to the reflection interface? Perhaps it could have the following name and type:
[code]
Arguments:
* The type of the function to be applied.
* The function to be applied.
* A list of arguments.

Results:
* The type of the resulting value.
* The resulting value.

If an attempt is made to apply a meta-variable, then `apply` could block, and if the fu

[2019-05-29 15:28] nad commented on #3818
This is by design, not by accident.

[2019-05-29 15:32] andreasabel commented on #3818
What can be done about this issue is that in
[code]
the `open` not just gets the concrete name `M`, but also its previous resolution, which is non-ambiguous, as `M` must be a module with a incarnation as file in the file system.

[2019-05-29 15:37] nad commented on #3818
I'm not sure I agree that this is a bug, and I am not convinced that it makes sense to change the desugaring of `open import`.

[2019-05-29 16:11] andreasabel commented on #3818
Just remembering the resolution of a concrete name when calling `openModule`, instead of letting it resolve it again, fixes this issue, see PR #3822.

Without the fix, can you give an intuitive justification why
[code]
is ok, while for
[code]
Agda suddenly complains that `M` is ambiguous?  What made it more ambiguous?

NB: I do recall my surprise years ago when seeing that the representation of mo

[2019-05-29 16:40] andreasabel commented on #3813
Plese note that you also have hypothesis `n : ℕ` which salvages `to n`.  Only this other `n` is shadowed by `n : Bin`, so you cannot write it yourself.

The less confusing workaround might be to fix the Agda-generated clause towards:
[code]
i.e., just get rid of the dot pattern that chokes the unifier.

I don't think we will bring the case-splitting command towards a state where the generated clau

[2019-05-29 17:20] andreasabel commented on #3805
Could maybe interest @UlfNorell .

[2019-05-29 17:26] andreasabel commented on #3781
Hopefully not famous last words. :D

[2019-05-29 18:41] #3818 closed, assigned to andreasabel

[2019-05-29 19:26] rwe commented on #3805
Link to the exact line of that file at that revision: https://github.com/agda/agda/blob/64218e5358343dd9bc76bf7deba860e611f15933/src/full/Agda/TypeChecking/Reduce/Fast.hs#L1347

[2019-05-30 08:26] mrakgr commented on #3813
This might unchoke the unifier, but for some reason I cannot get the rewrite to work.

[code]
[code]

...

[code]
[code]

Why is this happening? If I could apply the rewrite here, the `refl` should then suffice to solve the exercise.

**Edit**: I thought that something like `to∘from t (Can- prf) = Eq.sym (Eq.subst (λ v → to' v ≡ ⟨ to n , Can- prf ⟩) (Eq.sym prf) refl)` might work, but I do not kno

[2019-05-30 08:52] gallais commented on #3642
I am starting to convince myself that parsing needs to generate a `Set` of options
which then gets interpreted as a record of flags. At the moment we are trying to
do two things at the same time: check that we are not using incompatible options
and to compute the meaning of the set of options.

If we had a set of incoming options (cli ones + coinfective options encountered along
the way), we could

[2019-05-30 08:58] jespercockx commented on #3813
I disagree here as a matter of principle. I think it is a very important goal for the code generated by interactive commands to be accepted by Agda. Failing that goal, it at least needs to be predictable when an interactive command might fail (e.g. currently when you case-split on a clause spread over multiple lines).

[2019-05-30 09:00] jespercockx commented on #3813
Also, the printing of the context
[code]
is definitely buggy: Agda should have renamed the out-of-scope `n` to something else to avoid the shadowing.

[2019-05-30 12:20] andreasabel opened #3823 "Name of where-module should be in scope in rhs of clause"
I expected this to work:
[code]
but Agda does not consider `M` in scope in the rhs of `test`.

[2019-05-30 13:07] andreasabel commented on #3823
It seems that the current semantics of
[code]
is, assuming `Delta` is the telescope of the pattern variables of patterns `ps`,
[code]
I suggest the following alternative semantics:
[code]

[2019-05-30 14:38] andreasabel opened #3824 "rewrite drops named where module"
While working on #3823, I discovered that `rewrite` silently drops a named `where`:
[code]
`M` is not in scope in `test` or `Test`.

[2019-05-30 14:54] andreasabel commented on #3824
Indeed, there is a `TODO` that has been sleeping soundly for 10 years:
https://github.com/agda/agda/blob/93ba31e3a9a0c004cfdb02ff5d4a84e3288bcf67/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L2191-L2195
So in fact, this never worked.

[2019-05-30 15:16] andreasabel commented on #3824
The issue is easily fixed by making the `whname` a component of record `RightHandSide` and pass it to `whereToAbstract`.

[2019-05-30 15:36] #3824 closed, assigned to andreasabel

[2019-05-30 15:59] andreasabel opened #3825 "record{M} syntax reports unsolved metas in module M instead of in record expression"
When `record{Module}` produces unsolved metas, they are located in the module `Module` rather than in the record expression.
[code]
This is clearly wrong, but on the other hand, also quite useful, since on knows that `Foo` produces the unsolved meta.

Related topic: #3122

Not sure---probably fixing this bug is rather removing a feature, and makes the UX worse.

[2019-05-30 17:55] #3810 closed, assigned to jespercockx

[2019-05-30 17:56] jespercockx commented on #3810
Phew, this was really quite tricky to fix. I hope all possible critical pairs are now finally checked!

[2019-05-30 18:20] #3825 closed, assigned to andreasabel

[2019-05-30 18:21] andreasabel commented on #3825
After being fooled by this issue some more, I decided that it is more of a bug than a feature.  A single `killRange` fixed it.

[2019-05-30 19:06] andreasabel commented on #3541
Ok, fix is live again.

[2019-05-30 20:28] L-TChen opened #3826 "Eliminate nested idiom brackets and support Alternative"
It will be very nice if one can write expressions like

[code]
for
[code]

instead of

[code]

Also, stole from Strathclyde Haskell Enhancement, it will also be good to have a syntax sugar for `<|>` typically used in the `Alternative` class in idiom brackets. For example,

[code]
for
[code]

[2019-05-31 08:51] jespercockx commented on #3211
Since the original internal error is fixed, I'm closing this issue and opening a new one for rewriting of constructors of parametrized datatypes.

[2019-05-31 08:51] #3211 closed, assigned to andreasabel, jespercockx

[2019-05-31 08:54] jespercockx opened #3827 "Rewriting of constructors of parametrized datatypes"
In #3211, @andreasabel mentions that he would like to add rewrite rules to constructors.

[code]

Currently, this often fails for constructors of parametrized datatypes, because of the restriction that the parameters have to be distinct variables.

If this would work and we combine it with the confluence checker, we could have datatypes with rewrite rules as a kind of safe (?) 'definitional quotie

[2019-05-31 08:56] jespercockx commented on #3827
Ah never mind, we already have #3538.

[2019-05-31 08:56] #3827 closed, assigned to jespercockx

[2019-05-31 09:04] #1445 closed, assigned to jespercockx

[2019-05-31 10:34] gallais commented on #3778
Should be fixed by cd25ceeaa35e7df5642917c5931fcbc483bacd60

Edit: indeed it is!

[2019-05-31 13:30] gallais opened #3828 "Internal error in Agda/TypeChecking/Coverage.hs:467"
Case-splitting `t` yields an internal error on

https://github.com/agda/agda/blob/2c5db56079d1a057e1baf272aa35c7aa23cf9edf/src/full/Agda/TypeChecking/Coverage.hs#L466-L468

[code]

[2019-05-31 13:39] gallais opened #3829 "Case-split: don't generate pattern covered by unreachable clause"
It's quite common when refactoring to add a few extra constructors to a
datatype. It's also convenient to be able to throw in a catch-all clause
to existing functions and use case-splitting to generate the missing cases.

However if we threw in the catch-all clause anywhere but at the bottom,
the split will ignore the clauses below it and generate clauses for cases
which are already handled.

e.g.

[2019-05-31 13:48] jespercockx commented on #3829
Here is the relevant code:

https://github.com/agda/agda/blob/2c5db56079d1a057e1baf272aa35c7aa23cf9edf/src/full/Agda/Interaction/MakeCase.hs#L299-L301

When I implemented this, I decided to only take into account the previous clauses because the later clauses are already unreachable. It shouldn't be hard to also consider the *following* clauses rather than just `prevClauses`, if that's what we wan

[2019-05-31 15:24] gallais opened #3830 "primShow(Char/String) display spurious square brackets"
This seems wrong:

[code]

Looks like a 13 years old bug (d11516df5ca3a1e9117c1b75c0db17777c4828db). Is that a new record?

Edit: Ah! Maybe not! The bug is in the implementation used for the abstract machine.

[2019-05-31 16:28] L-TChen opened #3831 "Wrong de Bruijn indices for reflected variables inside an extended context"
Consider the following macro.
[code]

If we execute the above code in Emacs by normalising

[code]

then we will get the following  message
[code]
showing that the de Bruijn indices `i` and `j` are both `0`. However, `i` should be `1`.

[2019-05-31 20:07] gallais commented on #3829
Looks like the refactoring introducing `getClauseZipperForIP` and thus returning
the preceding *and* following clauses is going to be useful after all! :D

Hmmm... if there's a catchall somewhere later in the list of clauses then the whole
split is thrown away which is not what we want. Trying to filter the catch-alls out
using `not . clauseCatchall` does not seem to have any effect. That's a sham

[2019-05-31 20:30] #3826 closed, assigned to nobody

[2019-05-31 20:57] jespercockx commented on #3829
`clauseCatchall` only indicates whether the user wrote a `{-# CATCHALL #-}` pragma or not, so it's no surprise that it has no effect. However, we could remember whether the coverage checker marks the clause as an exact split or not, and maybe somehow use that information. Actually I already have some code on my machine at work for remembering this information (for a different purpose). I could pus

[2019-05-31 21:09] nad commented on #3831
Shouldn't `i` be 2?

[2019-05-31 21:32] gallais commented on #3829
Ok, it's a bit more subtle than a mere catchall: we want to ignore all the clauses
which are coming after the one the split is made at and which cover it.

E.g. if we split on `n` we want to only get `suc n` even though the last clause
(which is not a catchall) does cover the pattern `f (suc m) (suc n) _`.

[code]

PR incoming.

[2019-05-31 21:40] jespercockx commented on #3829
Ah so the new criterion would be that if a later clause already covered the clause before the case split, we don't want to take it into account for the filtering of the clauses after the case split. That does seem to make sense.

[2019-05-31 21:55] L-TChen commented on #3831
The last argument to a macro does not get into the context, as `getContext` shows only two variables inside the extended context.

If the last argument should be inside the context, then we shall open another issue for it.

[2019-06-01 06:34] #3830 closed, assigned to gallais

[2019-06-01 07:02] UlfNorell commented on #3831
The arguments to the macro doesn't matter, it's the context of the call site that's relevant. So you'd expect:
[code]

[2019-06-01 08:21] nad commented on #3831
Right, of course.

[2019-06-01 12:35] JacquesCarette commented on #3699
So some of the things that @alhassy is working on will very much need this. He's currently hacking it (by doing it externally to Agda). It is high enough on his priority list that he might well be the labour that gets this done - if he gets the right guidance as to how to do it 'right'. So documenting what you'd do (to the scope checker) to resolve this impasse would not be a waste of your time.

[2019-06-01 14:57] JacquesCarette commented on #3818
Question: are parens legal in the `open import` syntax? i.e. could one do
[code]
?

[2019-06-01 16:49] jespercockx commented on #3699
I guess the main problem here is that it would require an architectural change of the typechecker, which is currently split up strictly in two phases: first scope checking, then type checking. What we would need instead is that we check declarations one by one (or mutual block by mutual block), doing both scope checking and type checking for each one. Then the typechecker would be able to send inf

[2019-06-01 16:59] xekoukou commented on #3699
The type of architecture is pretty crucial for many other things, ex. parallelization and use of agda as a server etc.

[2019-06-01 19:21] UlfNorell commented on #3699
The alternative to messing with scope checking is to not bring generated constructors into scope and use some other mechanism to refer to them. Maybe some combination of hint databases and pattern macros.

[2019-06-02 12:06] gallais opened #3836 "Should we normalise types in error messages?"
In agda/agda-stdlib#798, I try to ensure that error messages are helpful when
the string format is broken.

The problem I now have is that the error message for the following application
("%a" is not a valid type specification for a format string)

[code]
is as follows:

[code]

Ideally I would like to have:

[code]

Hence the question in the title: should we normalise the types in error messages?

[2019-06-02 12:18] L-TChen commented on #3836
In some cases, normalised types are harder to understand.

A new option for normalised error messages would be better.

[2019-06-02 14:25] andreasabel commented on #3836
Clearly no, not in general.  We have devoted some effort in the past to do minimal normalization during type checking, in order to give the least expanded types in error messages.

However, I am afraid, there is no one-size-fits-all.  A high hanging fruit is an interactive normalizer for things Agda prints.  Such has been suggested a number of times...

[2019-06-02 14:26] mrakgr opened #3837 "How to get around the implicit vs explicit function type error?"
This is from [the last chapter](https://plfa.github.io/Lists/) of PLFA book.

[code]

When I fill in the hole with `to (from x∈xs→Px) ≡ x∈xs→Px`, I get the following error.

[code]

I am not sure what this means, but Agda can be iffy when implicit arguments get involved. The one thing I have not tried is replacing `{x}` with `(x)` in `∀ {x} → x ∈ xs → P x` because it is a part of the problem defin

[2019-06-02 14:32] mrakgr commented on #3813
Sorry to bring this up, but since I had not received an answer to my [earlier question](https://github.com/agda/agda/issues/3813#issuecomment-497249755) let me highlight it again. Is there a way to bring that implicit variable into scope somehow so I can do the substitution?

There seem to be several issues at play at once here:

1) Case splitting generating invalid code.
2) Buggy printing.
3) Not

[2019-06-02 15:20] xekoukou commented on #3836
relevant :  #3414

[2019-06-02 18:44] UlfNorell commented on #3836
In this particular case you might be able to force normalisation by making `InvalidType` a defined function that's strict in its argument.

[2019-06-02 20:12] gallais commented on #3837
As said on SO you need to explicitly eta-expand the functions so that the type of
`to∘from'` does not contain any unsolved meta-variables:

[code]

[2019-06-03 00:38] L-TChen opened #3838 "Improve GHC backend"
_Originally posted by @nad in https://github.com/agda/agda/pull/3815#issuecomment-497926095_

Compiler test uses lots of resource to finish. Simply updating the std-lib submodule forces me to increase the heap size to 3GB from 2.5GB for all GHC versions (not just 8.0.x) in order to run the compiler test on Travis. It will be nice to figure out why and possibly to improve the GHC backend.

As sugge

[2019-06-03 01:18] WolframKahl commented on #3838
Are the tests running Agda (*.agdai --> *.hs) and GHC separately?

If you do not call Agda with `--ghc-dont-call-ghc`, then Agda and GHC compete for memory.

[2019-06-03 05:26] mrakgr commented on #3837
Ah, so that is what you meant. That solves my problem. Thank you.

That having said this issue might qualify as a compiler bug. If so, please feel free to reopen this.

[2019-06-03 05:26] #3837 closed, assigned to nobody

[2019-06-03 09:15] jespercockx commented on #3813
I'm not a frequent user of `with` and `rewrite` because I find them quite unpredictable and hard to reason about. So I'm afraid I'm not sure whether this particular case is a problem with your code, a limitation of `rewrite`, or a bug in the typechecker. But in my experience these kind of error messages are quite common when using with/rewrite. Hopefully someone else has a better idea.

[2019-06-03 09:28] gallais commented on #3813
If I understand correctly this is what you want to write:

[code]

The need to explicitly introduce a constructor's implicit variable is often a good
indicator that it should have been explicit in the first place. Here it very much
is the case because `Can` is a view: if you have a value of type `Can m`, by
pattern-matching on `Can- {n} eq` you reveal that `m = to n`. And the point of a
view for a

[2019-06-03 10:15] anuyts opened #3839 "Rewrite rules ignore modalities"
In the following code, we can prove `thm` using `refl` because of the rewrite rule, but the rewrite rule itself cannot be called in the same proof.

The example also works for irrelevance instead of shape-irrelevance, but then I expected people might argue that it is not a problem.

The problem also occurs in agda-parametric (where @jorisceulemans pointed it out to me) and likely also in agda-flat

[2019-06-03 11:24] jespercockx commented on #3839
Interesting. What would be the expected behaviour here? Should Agda just refuse this rewrite rule or should Agda try to actually do something smart?

[2019-06-03 12:29] anuyts commented on #3839
I would recommend simply refusing.
Many a headache can probably be prevented by explaining to the user what's going on when a term doesn't type check with modality-aware rewriting but does with modality-unaware rewriting...

[2019-06-03 19:46] ice1000 opened #3840 "Customizable GHC path"
Currently, Agda uses the ghc from system path:

https://github.com/agda/agda/blob/2dc760c4f6a46a0b768c718d1620ee61c12d09ce/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L852

However, (especially for stack users) people may not have a ghc in their system path.
It'll be nice for Agda to support custom ghc path (via command line arguments, or emacs options).

[2019-06-03 20:13] WolframKahl commented on #3840
I wouldn't call `$PATH` “system path”.

I routinely have multiple GHC installations and multiple Agda installations,
and select the ones to be picked up by setting $PATH accordingly.

This makes sense in particular as long as the recommended `.emacs` snippet also picks up `agda-mode` from `$PATH`.

From my `.bashutils`:
[code]

For me, just doing
[code]
before starting Emacs or command-line `agda`

[2019-06-03 20:30] UlfNorell commented on #3840
Adding a `--ghc=...` flag seems like a sensible thing to do.

[2019-06-04 09:51] #3829 closed, assigned to gallais

[2019-06-04 09:52] #3745 closed, assigned to gallais

[2019-06-04 09:55] banacorn commented on #3836
@andreasabel @xekoukou https://github.com/agda/agda/pull/3811 is the PR that is inching towards a more interactive normalizer.

Here's a demo when the editor knows a bit more about the error message.

![Agda json demo](https://media.giphy.com/media/1vZ6Qs9PHeAn9INkUI/giphy.gif)

[2019-06-04 14:03] mrakgr commented on #3813
Yeah, that is exactly what I was asking for. I forgot that `Can-` had an implicit argument. I have a tendency to make dumb mistakes when I change frames from thinking about the problem to thinking about the compiler.

That having said, I've never underestimated a problem as much as this one. I thought I would be done in 5m with it, but now after more than a few hours of working on it, it seems pre

[2019-06-04 14:50] MatthewDaggitt opened #3842 "Suggestion for non-structurally decreasing function arguments analysis whilst termination checking"
Forgive me if this is yet another case a naive suggestion for the termination checker, but it seems to be me that a fairly simple structural analysis counting the number of constructors in the input and output could improve the termination checker in many cases. Consider the following example:
[code]
A simple count of constructors during termination checking would show that `f`'s output is no bigg

[2019-06-04 15:18] alhassy commented on #3699
@jespercockx I'm happy to undertake this task, though I will need some guidance.

[2019-06-04 16:27] jespercockx commented on #3699
@alhassy That's great to hear! Just let me know when you need to know anything and I'll do my best to help.

[2019-06-04 17:18] mrakgr commented on #3813
[code]

Nevermind. `subst` works after all. It seems I've tried all the wrong things first.

I apologize for writing all of this, though I am still interested in why `rewrite` fails.

[2019-06-05 02:01] shinji-kono opened #3843 "Internal error with-clause and unification"
I've got following internal error as in attached file. It may caused by a kind of double recursion with a unification. In this case, I can avoid recursion using trio< predicate, anyway I report this.

 agda --version
Agda version 2.5.4.2

agda
commit 6f3046e081ebfa40793c3a064e53bdbd83c82dcf
Author: Andrea Vezzosi <sanzhiyan@gmail.com>
Date:   Mon Mar 11 10:46:45 2019 +0100

agda-stdlib
commit 2c27

[2019-06-05 03:15] MatthewDaggitt opened #3844 "Add flag to WarningOnUsage and WarningOnImport to only fire for external libraries"
When deprecating an operation you also want to deprecate all the proofs associated with it as well. At the moment you can't attach a `WarningOnUsage` to the operation itself because it's reused by the proofs which you also want to deprecate. See for example

https://github.com/agda/agda-stdlib/blob/f3b17f24ed136143dac80042d34b79aaed78a213/src/Data/Integer/Properties.agda#L1631

It'd be great if th

[2019-06-05 03:16] asr commented on #3843
Thanks for reporting the error. We fixed some internal errors in `src/full/Agda/TypeChecking/Substitute.hs` in recent versions of Agda. Could you reproduce the error with Agda 2.6.0.1 and standard library 1.0.1?

[2019-06-05 11:25] gallais commented on #3844
You can put `{-# OPTIONS --warn=noUserWarning #-}` at the top of the file where you
use the deprecated names.

[2019-06-05 11:34] MatthewDaggitt commented on #3844
Ooh neat, thanks! The option `userWarning` doesn't seem to documented [here](https://agda.readthedocs.io/en/v2.6.0.1/tools/command-line-options.html). It might also be worth adding that tip to [here](https://agda.readthedocs.io/en/v2.6.0.1/language/pragmas.html#warning-pragma) as well.

[2019-06-05 14:05] jespercockx commented on #3538
Note that this works when you add the rewrite rule *outside* of the parametrized module:
[code]

[2019-06-05 15:45] jespercockx opened #3846 "Internal error when rewriting type constructors"
This has been known for a while, but lately I have been reconsidering the kind of guarantees one should be able to expect from rewrite rules, and it bothers me that it's so easy to trigger internal errors:
[code]
Error message:
[code]
I'm thinking that we should maybe not allow rewrite rules on type constructors by default.

[2019-06-05 23:25] L-TChen commented on #3838
No.

https://github.com/agda/agda/blob/928fa9c1a5718eaf213e7a2c0f148af50c10a4f6/test/Compiler/Tests.hs#L113-L131

The change should go to Agda itself instead if it works. [ It seems so on my machine ... ]

[2019-06-06 10:49] gallais commented on #3836
As @xekoukou indicates, this is somewhat a duplicate of #3414.
Plus following @UlfNorell's advice was enough to fix my use case.

[2019-06-06 10:49] #3836 closed, assigned to nobody

[2019-06-06 15:10] gallais commented on #3844
Fixed with 2b9c7e3e75b8f36dd6d3ec7463274b2f3cf6e3d1 and e6be097e1d6c8807de9d633a32b28a5a84434a02

[2019-06-06 15:10] #3844 closed, assigned to gallais

[2019-06-07 15:16] SimonBoulier commented on #3525
It works well, thank you :-)

[2019-06-07 16:42] jespercockx opened #3848 "Confluence checking with record constructors and projections"
Here are three examples of non-confluent rewrite rules that are currently not detected:
[code]

[2019-06-07 17:46] jespercockx commented on #3848
On second thought, the second example is not a violation of confluence. Edit: but the third rule is only a violation if we also have the second rule.

[2019-06-07 17:52] #3848 closed, assigned to jespercockx

[2019-06-08 00:49] MatthewDaggitt commented on #3210
Just thought I should add that the standard library is being forced to add multiple top-level modules that exist solely to circumvent this issue (agda/agda-stdlib#440, agda/agda-stdlib#683, agda/agda-stdlib#719).

[2019-06-08 20:21] rwe opened #3849 "Syntax macros / delay type-checking of macros"
## Feature request/discussion

One of the following would be nice:
  1. Delay type-checking of terms passed to macros. (If this is possible).
  2. Provide a macro argument type other than `Term` and `Name` that operates at an expression level. In other words, at most only perform fixity transformations, but otherwise treat the expressions as symbols and applications. Macros can perform additional

[2019-06-08 20:26] rwe commented on #3849
Actually, it looks like this could be closely related to #3821 (_An application primitive for meta-programming_) too.

[2019-06-08 21:49] jespercockx commented on #3849
Your suspicion is correct: currently terms are always first typechecked before being passed to the macro. The reason for this is a bit technical: before typechecking, terms are in 'abstract' syntax, while after typechecking they are in 'internal' syntax (see `src/full/Agda/Syntax/Abstract.hs` and `src/full/Agda/Syntax/Internal.hs`). The reflected syntax that you get in the macro is a (somewhat sim

[2019-06-08 23:00] L-TChen commented on #3849
Huh, how about concrete syntax?

The vertical bar `|` in Agda is only used for with-application, but it is convenient and readable for separating cases. Sometimes I use the Unicode variant, but using similar glyphs is so confusing.

Not sure if it is possible to customise syntax in Agda like in Racket...

[2019-06-09 06:47] andreasabel commented on #3842
This is exactly what is made formal through the introduction of sized types:
[code]
The problem is that sized types are not a silent analysis behind the veal but an explicit syntax.  The explicit syntax was to get something to work, I never got to the stage where sizing of data is just happening automatically.

I suppose one could do a syntax analysis like with positivity for sizing and then store

[2019-06-10 14:41] gallais opened #3851 "C-c C-h should default to AsIs rather than Simplified"
[code]

[2019-06-11 09:20] gallais commented on #3851
Hmmm. I see that helper already takes a `B.Rewrite` argument:

https://github.com/agda/agda/blob/0b8698c13209647a85a7b63dbe75cf3173e3347c/src/full/Agda/Interaction/InteractionTop.hs#L637

I guess what I want is for the default to be `AsIs` rather than `Simplified` which
means using `agda2-maybe-normalised-global` rather than `agda2-maybe-normalised`
in the emacs mode.

https://github.com/agda/agda

[2019-06-12 01:42] WorldSEnder commented on #3733
Any updates on this?

[2019-06-12 08:48] #3545 closed, assigned to gallais

[2019-06-12 11:02] sstucki commented on #3148
I can no longer reproduce this bug in Agda 2.6.0.1 (with stdlib 1.0.1) so I suggest marking it as resolved.

[2019-06-12 11:36] MatthewDaggitt commented on #3842
Whoops, yes it is. Apologies for not realising it.

Thanks for the explanation, I can definitely see where your coming from and it seems like a reasonable philosophy.

The only problem I have with the introduction of explicit sized types, is that in all three examples where this has caused me problems is that sizes are only required in perhaps 1 out of 40 proofs. Adding in sizes just to get a coup

[2019-06-12 12:10] #3148 closed, assigned to nobody

[2019-06-12 12:29] JacquesCarette commented on #3842
@alhassy something to add to your list of things to consider.

[2019-06-13 10:32] nad commented on #3842
An alternative is to use manual sizes, then you get to choose exactly where to use them:
[code]
Note that I chose not to match on the equality proof in `g′`. This way the computation does not get stuck if the proof has the wrong shape. The computation does depend on the structure of the size argument, though. In this case that is not a problem, but it might be in other cases.

[2019-06-13 14:18] jespercockx opened #3853 "Pi type cannot depend on runtime-irrelevant argument"
Minimal example:
[code]
This should work, but instead Agda complains that `x` is erased.

[2019-06-13 16:52] WorldSEnder commented on #3733
In my rather naive eyes, the following should define an equivalence, but currently does not due to getting stuck.

[code]

I am wondering, is this understanding correct?

[2019-06-13 20:04] #3853 closed, assigned to jespercockx

[2019-06-14 13:19] nad opened #3855 "Implement (or at least document) @0"
- [ ] Agda parses the `@0` attribute but it seems to be undocumented.

A [commit comment](https://github.com/agda/agda/commit/5f5efa7406c90a63c700d9f3dfbd4d13af1317de) suggests that it has something to do with runtime erasure, but states that, at the time, it didn't "do anything yet".

What is the status of this attribute now? I saw that @jespercockx recently changed something related to `@0` (#38

[2019-06-14 13:31] nad commented on #3753
One thing to keep in mind: The idea is to eventually have proper support for inductive families in Cubical Agda (#3733). Once we do have such support the erasure feature of one or more backends might need to be turned off or adjusted: erasing propositional equality proofs might not be sound in a cubical setting.

[2019-06-14 13:45] nad commented on #3855
- [X] Here is one example:
[code]

[2019-06-14 13:49] nad commented on #3855
- [X] Here is another example:
[code]
The inferred type of `f`: `{A : Set} → A → A`. Presumably it should be `{@0 A : Set} → A → A`.

[2019-06-14 13:59] nad commented on #3855
- [X] And another example:
[code]

- [X] Edit: @UlfNorell stated that the latter term should be accepted, because `refl` does not take any arguments. The following example should illustrate the problem in a better way:
[code]
- [X] Or this one:
[code]

[2019-06-14 22:34] gallais commented on #2058
I have just learned that Travis has had support for windows builds for a little
while. So we now have an AppVeyor-free alternative:

https://docs.travis-ci.com/user/reference/windows/

[2019-06-16 12:05] andreasabel opened #3856 "Agda input mode: \ G h for \eta"
With `\ G a` we get Greek letter `\alpha` in the Agda input method, why not `\ G h` for `\eta`?  The letter H is the Greek capital version of η, thus, it would be consistent to add the suggested key binding.

[2019-06-16 12:52] #3856 closed, assigned to andreasabel

[2019-06-17 10:43] gallais opened #3857 "Should DISPLAY inline definitions on the LHS?"
Found by @bishboria: when you want to refold a projection out of a specific
record to the name it was given, Agda understands the record's name as a mere
variable and concludes that you want to refold *all* projections out of a
record value.

[code]

Suggestion: allow dotted expressions on the LHS of DISPLAY pragmas indicating
we want an equality check.

[2019-06-17 14:24] nad commented on #3855
- [ ] Either the following code should be rejected, or `@0` should not be allowed when `--without-K` is active:
[code]

Edit: Moved to #4172.

[2019-06-17 14:28] nad commented on #3855
- [x] The annotations `@0` and `@erased` are not highlighted in the same way: `0` is highlighted as a number, and `erased` is not highlighted. I think both should be highlighted in the same way (one option would be to highlight both as symbols, like `forall`, `=` and `@`).

[2019-06-17 14:31] nad commented on #3383
@gallais, you only documented one kind of pragma, not all that were listed in the OP.

[2019-06-17 14:50] gallais commented on #3383
? The OP was a screenshot of the current state of the doc to demonstrate `DISPLAY`
is not listed. Am I missing something?

[2019-06-17 14:51] ice1000 commented on #3383
I don't think so. The fix looks good to me.

[2019-06-17 14:57] nad commented on #3383
Oh, I read the text as "Currently we didn't document \[list of undocumented pragmas\]".

[2019-06-17 15:02] nad commented on #3855
- [X] Here is another broken example:
[code]

[2019-06-17 15:12] andreasabel commented on #3855
- [X] Currently, the following fails in the compiler:
[code]
Agda produces Haskell code with unbound identifiers (`gone`).

[2019-06-17 16:32] nad commented on #3855
- [X] Here is a piece of code that should not be rejected:
[code]

[2019-06-17 17:38] andreasabel commented on #610
Associated commits (2012):
- f300ed77e00f5f6bf180320178bcbd7c657aa48b
[code]
- 7c041573fe0ec0d4883fbb4b62146a60f5a2f351
[code]

[2019-06-17 21:44] andreasabel commented on #3383
The fix broke the test suite:
[code]
Agda complains:
[code]

[2019-06-18 07:57] #3383 closed, assigned to gallais

[2019-06-18 15:13] jespercockx opened #3859 "Meta instantiated to piSort fails too eagerly when piSort could still reduce"
@nad notified me that my patch https://github.com/agda/agda/commit/0a3e5c772fae55a8e27e821074a2b89d593f79b5 introduced a regression:

[code]
Error message:
[code]

[2019-06-18 16:30] jespercockx commented on #3859
I pushed a tentative fix to https://github.com/jespercockx/agda/tree/Issue3859 which fixes the problem, but it breaks some other stuff:
[code]
This used to typecheck, but with my fix it throws an error:
[code]
Curiously, this only triggers when the variable `a` is implicit and `F` has no type signature. This calls for some further investigation...

[2019-06-18 20:16] L-TChen commented on #3831
I'd like to fix this myself. If I understand it correctly, I shall start from the following function, right?

https://github.com/agda/agda/blob/af3c1cf76c8c4e7f9d11102f8a7ec69ad403bea8/src/full/Agda/TypeChecking/Unquote.hs#L635-L636

[2019-06-18 20:51] UlfNorell commented on #3831
Yes.

[2019-06-19 06:45] andreasabel opened #3860 "Agda.TypeChecking.Free.Old is bit-rotting"
I had a look into `Agda.TypeChecking.Free` where it says that module `Old` https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Free/Old.hs serves as a specification and `Lazy` https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Free/Lazy.hs as the implementation.  Their congruence is tested by `test/Internal/TypeChecking/Free.hs` https://github.com/agda/agda/blob/ma

[2019-06-19 07:05] UlfNorell commented on #3860
👍

[2019-06-19 07:52] jespercockx commented on #3860
I'm fine with retiring `Old`, I never really saw the point of it (except maybe as some kind of migratory measure when the new free variable checker was still, well, new).

[2019-06-19 13:18] L-TChen commented on #2133
Hi, @andreasabel do you remember to which paper you were referring? The link is invalid. Given my knowledge, it might be something about staged computation, contextual (modal) type theory, or both?

I am using Agda's reflection framework to implement a typed meta-language for Agda, but elaborator reflection does not seem well-understood type-theoretically yet.

(We may have another issue ticket on

[2019-06-19 14:41] andreasabel commented on #3860
Ok, I remove it.

[2019-06-19 16:42] mietek commented on #2133
@L-TChen, that was Frank Pfenning’s [“Intensionality, Extensionality, and Proof Irrelevance in Modal Type Theory”](https://www.cs.cmu.edu/~fp/papers/lics01.pdf).

It would be interesting to exchange notes.  Join us in [##dependent](https://www.irccloud.com/invite?channel=%23%23dependent&hostname=irc.freenode.net&port=6697&ssl=1) on Freenode IRC?

[2019-06-19 16:44] JLimperg commented on #2820
For the record: Getting rid of `∞ < ∞` is not enough since it also follows from `∞ = ∞ + 1` together with `i < i + 1`.

[code]

[2019-06-19 16:56] Saizan commented on #2820
Right, what's actually possibly sound is that ```Nat ∞ = Nat (∞ + 1)```, though that might still be problematic.

[2019-06-19 17:43] JLimperg commented on #2820
Afaict, the question of when it's safe to instantiate a size variable with ∞ is already discussed in [Hughes' original paper](https://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=0C2A61D16C418D91076C3190DCA66DC2?doi=10.1.1.124.5589&rep=rep1&type=pdf), Sec. 3.7. I don't yet understand the details, but we may find inspiration there.

[2019-06-19 17:47] andreasabel opened #3861 "Semantics of `Flexible MetaSet` in free variable occurrence"
A flexible variable occurrence is decorated by a set of meta variables, see:
https://github.com/agda/agda/blob/af3c1cf76c8c4e7f9d11102f8a7ec69ad403bea8/src/full/Agda/TypeChecking/Free/Lazy.hs#L60-L63
This was originally introduced by @jespercockx in f305ee9d05b26dd5e4f74a12927e0eabd4988a8d to use in REWRITE pattern matching.  What is its intended semantics?

The `FlexRig` type is (supposed to be)

[2019-06-19 17:55] #3860 closed, assigned to andreasabel

[2019-06-19 18:23] mefff commented on #3831
Do you think this bug is related to the following issue? Here, we are extending the context with a Set, and then with an element of the set (i.e., var 0). But when we try to unquote the element (again, var 0), we get an error from de Bruijn indices. From our understanding, it seems that the elements in the context are not being lifted to acomodate to the new variable, is that correct?

Macro:
[cod

[2019-06-19 19:13] jespercockx commented on #3861
Well the comment of the constructor says `In arguments of metas.` The set is just there to keep track in the arguments of **which** metas the variable occurs. This allows us to retry the free variable check when one of these metas is instantiated, hopefully making the variable no longer free.

At least that's the theory, in practice most of this information is currently forgotten as there is only

[2019-06-19 19:31] L-TChen commented on #3831
Yes. If you observe the de Bruijn index for `v` by `debugPrint` or `typeError`, then you will find that it is `0` instead of `1`.

The problem is that the de Bruijn index is assigned and fixed when Agda transforms the reflected or abstract syntaxes to the internal syntax, and `quoteTC` just returns the index in the internal syntax.

It is not obvious to me how this can be fixed without changing `T

[2019-06-19 19:43] mefff commented on #3831
Now that I think of it, wouldn't it suffice to just lift the indices of the continuation by 1?

[2019-06-19 19:45] mefff commented on #3831
(@beta-ziliani talking here: I don't think CMTT is the answer...)

[2019-06-19 20:11] L-TChen commented on #3831
Huh, that was what I thought initially. Hope I am wrong.

Agda provides not only `extendContext` but also `inContext` which can set an arbitrary valid context, e.g., an empty context. Following the idea of lifting the indices, if we quoted a variable from the call site but in an empty context set by `inContext`, then the variable would not be quotable. Is this behaviour intended?

I am not familia

[2019-06-19 20:17] andreasabel commented on #3861
Thanks!  So then `x` should also occur `Flexible [X, Y]` in `(X x, Y x)`.  Addition and multiplication is the same operation on`MetaSet`.  The semantics is that the status of variable `x` can change when one of the metas gets instantiated.  I'll put that into the code documentation.

A test case where my new implementation of addition (`addFlexRig`) makes a difference is probably hard to cook up.

[2019-06-19 20:55] beta-ziliani commented on #3831
Sorry, I'm missing the point about `inContext`. Can you be more specific?

[2019-06-19 21:40] L-TChen commented on #3831
Okay, maybe a concrete macro. The question is what the intended behaviour of the following macro is.

[code]

For now, Agda shows `0` referring to the outer context containing solely `ℕ`. If it updates the index according to the context, then `x` will cause type checking error.

[2019-06-20 01:25] beta-ziliani commented on #3831
I would expect it to fail, but perhaps I'm missing some point here. @UlfNorell ?

[2019-06-20 06:58] andreasabel commented on #3861
The `MetaSet` in `Flexible` sabotages the semiring properties of `VarOcc`, for example distributivity:
[code]
but
[code]
The laws could be salvaged if the `MetaSet` was a separate component that does not get destroyed by aggregation with `StronglyRigid`, but it would be less precise.  (Of course, the `MetaSet` would be ignored unless the final outcome was `Flexible`.

Another way to fix this could

[2019-06-20 08:04] jespercockx commented on #3861
Well, if we look at the occurrences of `x` in `c1 (_1 (_2 x) (c3 x))` and `c2 (_1 (_2 x)) (_1 (c3 x))`, then in both cases the free variable can only disappear when `_1` is instantiated, `_2` only comes into the picture later. But looking just at `c (_1 (_2 x))`, we should retry if EITHER of `_1` or `_2` is instantiated. So it seems that distributivity just doesn't hold here.

Of course we could d

[2019-06-20 15:03] nad commented on #3855
- [x] Consider the following code:
[code]
Agda presents the goal's context in the following way:
[code]
I think it would make sense to include the `@0` annotation in the presentation of the context (but perhaps not first on the line).

[2019-06-20 16:11] asr commented on #3800
`hashtables-1.2.3.3` supporting `primitive-0.7.0.0` was [released](https://hackage.haskell.org/package/hashtables-1.2.3.3).

[2019-06-20 16:11] #3800 closed, assigned to asr

[2019-06-20 20:22] L-TChen commented on #3831
Alright, I overthought the problem. I will just increase the index inside `extendContext`, i.e. indices in `m`.

https://github.com/agda/agda/blob/af3c1cf76c8c4e7f9d11102f8a7ec69ad403bea8/src/full/Agda/TypeChecking/Unquote.hs#L665-L668

As for `inContext`, it seems to me that any variable in the original context shouldn't be quotable in the new context.

[2019-06-21 22:57] L-TChen commented on #3821
For efficiency and consistency, I second the idea. Further, I would argue that if there are any internal functions which can be of use for reflection, then it shoudl be considered to export to the reflection API.

For example, we may also consider exporting functions for manipulating of de Bruijn indices in `Agda.TypeChecking.Substitute`, since they are used internally already and likely to be use

[2019-06-23 13:03] nad commented on #3855
I have developed some code that uses `@0`. I would not be surprised if this code stops working when the implementation of `@0` becomes more complete, but perhaps it could be used for testing:

* Some [theory](http://www.cse.chalmers.se/~nad/listings/equality/Erased.html) of a type family `Erased`.
* An [example](http://www.cse.chalmers.se/~nad/listings/equality/Nat.Binary.html) of how `Erased` can

[2019-06-23 13:30] nad commented on #3855
In the development above I use Cubical Agda, I don't think `@0` should be disabled in that setting.

I also have code like the following function (where `[_]` has type `{a : Level} {@0 A : Set a} → @0 A → Erased A`):
[code]
Does it make sense to allow matching on single-constructor non-indexed data types in an erased context? One could almost rewrite the code above using projections instead of pat

[2019-06-24 09:46] bishboria opened #3866 "`--no-unicode` option producing unicode variable names"
With the `--no-unicode` option on, Agda is producing unicode variable names.

Lambda symbols aren't unicode, so that's ok.

Example:
[code]

[2019-06-24 15:39] #3866 closed, assigned to gallais

[2019-06-25 07:45] pnlph opened #3868 "Unicode input for symbols with multiple characters"
## Description
Not possible to keep the unicode input mode for multiple characters.
## Current behavior
Eg `≡⟨⟩` consists of unicode symbols `\==`, `\<` and `\>`  and the sequence to introduce it in the keyboard is:
`\== <space> <backspace> \< <space> <backspace> \> <space>`
## Possible solutions
Allow to stay in unicode input mode by introducing a backslash. The introduction sequence would result

[2019-06-25 08:08] guillaumebrunerie commented on #3868
This already works for me and I haven’t changed anything to my Agda.

[2019-06-25 08:17] pnlph commented on #3868
OK, sorry i am not using emacs. Maybe is it an issue for @banacorn [agda-mode](https://github.com/banacorn/agda-mode) for Atom?

[2019-06-25 08:35] guillaumebrunerie commented on #3868
Ah ok, I guess you should report it to the bug tracker there then, as it is not an issue for the official agda-mode for emacs.

[2019-06-25 08:35] #3868 closed, assigned to nobody

[2019-06-25 08:39] gallais commented on #3868
Oh, I misread the original issue and I thought the feature request was for
`\==<>` to result in `≡⟨⟩`.

[2019-06-25 08:49] guillaumebrunerie commented on #3868
I don’t see how that could work, it would create way too many ambiguities.

[2019-06-25 08:55] gallais commented on #3868
We could at least support the cases where there is no ambiguity.
After typing `\==`, the only possible next characters according to the input mode
are `=` and `n`. Anything else (apart from a space) could be interpreted as the start
of a new token for a unicode symbol.

[2019-06-25 09:04] guillaumebrunerie commented on #3868
Right, but then it means that symbols consisting of both Unicode and ASCII characters would sometimes take longer to type, so it’s not clear if it would be better.
For instance names like `_≡_`, `_∙_`, `×-cong`, `x≈y` would take more keystrokes.

[2019-06-25 09:36] gallais commented on #3859
This also breaks the stdlib, e.g. in `Relation.Nary`:

[code]

[code]

[2019-06-25 09:41] jespercockx commented on #3859
You mean it is broken by 0a3e5c7 or by my (not yet functional) fix at https://github.com/jespercockx/agda/tree/Issue3859?

[2019-06-25 10:18] gallais commented on #3859
I just tested with your branch and the stdlib checks just fine.

[2019-06-25 10:40] nad commented on #3868
If you want to terminate the input of a symbol without inserting a new character into the buffer, then you can type `C-SPC` (at least with some configurations).

[2019-06-25 10:41] nad commented on #3868
And in this case you can just type `\==\<\> C-SPC`.

[2019-06-25 19:12] L-TChen commented on #3553
It seems relatively easy to add `Prop` to reflected syntax than other open issues. If @jespercockx is busy on something else (hopefully on cumulativity :wink:), I will take this.

[2019-06-25 19:33] L-TChen opened #3869 "Retiring previous reflection framework"
The previous reflection is not documented and appears that the current elaborator reflection totally subsumes the previous one. It is mentioned in the release notes for Agda 2.5.1 that these will be removed in the future. Is now the future?

I plan to remove them from syntax and try to simplify the codebase if possible.

[2019-06-26 07:03] andreasabel commented on #3861
I decided to stick to the current implementation, where `MetaSet`s are unioned for both semiring operations; thus, `FlexRig`is not distributive.
However, the types are now parametrized what to put in `Flexible`, and e.g. for `()` (equals the empty `MetaSet`) there is no problem with distributivity.
TODO: adapt internal tests for the parameterized versions (or some of their instances) `FlexRig'`, `

[2019-06-26 07:28] andreasabel commented on #3855
@nad wrote:

Maybe a good moment to test now since @0 is now respected during meta variable solving.

How? HTTPS does not seem to work:
[code]
HTTP seems to hang:
[code]

[2019-06-26 07:42] andreasabel commented on #3855
@nad writes:

Good question.  If we allow this, then we blur the distinction between inductive and coinductive at runtime (which the GHC backend already does by compiling to Haskell).  Function `to` creates an infinitely deep (canonical) tree `to = sup λ _ -> to` out of nothing.

Another example is:
[code]
At runtime, `magic` is an inhabitant of the empty type created by an infinite (busy) loop.

[2019-06-26 07:42] jespercockx commented on #3553
I will probably not be able to work on this (or sadly, cumulativity) before **checks calendar** the Agda meeting in September. So if you want to take this, go for it!

[2019-06-26 10:07] UlfNorell opened #3870 "Internal error during instance search"
Something goes wrong when trying the `FunUnit` instance as the solution to the `_=$=_` functor constraint.
[code]

[2019-06-26 10:38] #3861 closed, assigned to andreasabel

[2019-06-26 10:41] andreasabel commented on #3861
Fixed the TODO and added semiring/module properties to test/Internal/TypeChecking/Free.

[2019-06-26 10:46] andreasabel commented on #3299
Hickup during the Nottingham AIM 2018; I forgot to bump the interface version.

[2019-06-26 10:48] pnlph commented on #3608
I am grateful that i found this thread. I like also the contributor covenant that Github recommends. If you like it, it may be a good idea to add it to the badges in the readme for better visibility.

[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-v1.4%20adopted-ff69b4.svg)](https://www.contributor-covenant.org/version/1/4/code-of-conduct)

Apart from the code of cond

[2019-06-26 11:26] UlfNorell commented on #3870
Checks in `2.5.4.2`, but not `2.6.0`.

[2019-06-26 12:41] UlfNorell commented on #3870
Test case not using instance arguments and also failing in `2.5.4.2`:
[code]

[2019-06-26 12:46] jespercockx opened #3871 "Consider unit type separately in confluence checker"
Example code:
[code]
Agda complains:
[code]
but this constraint is clearly unsolvable since `f` and `g` are postulates with no rewrite rules of their own.

[2019-06-26 18:20] andreasabel opened #3872 "--no-forcing on a per-file basis (make it a pragma option)"
Currently `--no-forcing` is a command-line option, but it could also be a pragma option (per file basis).  Since `--no-forcing` only steers the analysis which constructor arguments should be forced, but not what the compiler does with it, there is no risk of incompatibility of interfaces if `--no-forcing` modules use `--forcing` modules or vice versa.  In fact, forcing could be disabled (or enable

[2019-06-26 18:25] palkarz opened #3873 "Type inference failure"
In the following example Agda is unable to infer the type of the implicit argument `w`.
[code]
I am not sure if this is a bug, but this kind of inference certainly seems (at least from a noob's perspective) like something Agda should be able to cope with.

[2019-06-26 18:36] #3872 closed, assigned to andreasabel

[2019-06-26 18:43] andreasabel commented on #3873
It works if you make `w` an instance argument:
[code]
The reason it does not work with a hidden argument is that then only unique solutions are constructed.  However, the `relation` field alone does not determine the `World` record, there is also the `sym` field!
With an instance argument, Agda tries to construct the solution from existing instances in scope, and it finds instance parameter `{{w}}

[2019-06-26 18:43] #3873 closed, assigned to andreasabel

[2019-06-26 18:45] andreasabel commented on #3873
@palkarz : The Agda mailing list is a good first source of inquiry in such questions!  There are lots of nice and helpful readers eager to answer.

[2019-06-26 19:27] palkarz commented on #3873
Thank you, @andreasabel. In the future I will use the mailing list for questions like this, but with your permission I would like to get through with this one here.

Ironically, this problem arose during a rewrite of a code that uses a lot of instance arguments in order to overcome some performance issues and limitations (like inability to provide functions as instances). But that's beside the poi

[2019-06-26 19:54] palkarz commented on #3873
OK, I think it finally dawned on me. Agda only infers implicit arguments if they are uniquely predetermined by the explicit ones and does not do it if there is any room for uncertainty. So if it deduces that there is one and only one way to build the AST of the implicit arguments from the explicit ones, it does the inference. So while with instance arguments we say, "Hey, there is a unique instanc

[2019-06-27 05:42] UlfNorell commented on #3873
To make it extra clear, here are two valid (and different!) solutions for the implicit argument:
[code]

[2019-06-27 10:09] pnlph opened #3874 "Core Syntax Documentation"
I am having trouble finding in the documentation an unitary description of the core syntax of Agda. I found these by now:
- the [Core language](https://agda.readthedocs.io/en/latest/language/core-language.html) in readthedocs, self-labeled as stub, where a **Term** is defined in Agda
- an old [Core Syntax](https://wiki.portal.chalmers.se/agda/pmwiki.php?n=ReferenceManual.CoreSyntax) in the wiki ab

[2019-06-27 11:18] jespercockx commented on #3874
Concrete, Abstract, and Internal syntax are the three main forms of syntax that are used internally. Aside from those we also have the 'nice' Concrete syntax (a somewhat cleaned-up version of concrete syntax), Reflected syntax (used for reflection), and Treeless syntax (final stage of syntax before being handed off to one of the backends). The pipeline is as follows:
[code]
The core language in th

[2019-06-27 13:49] banacorn commented on #3874
It's nice to know about the existence of these syntax.

[2019-06-28 11:58] nad commented on #3855
I don't think HTTPS is enabled for our personal web pages…

Perhaps the web server was down. At least it works now.

I suppose I could move the repository to an external hosting service.

[2019-06-28 12:21] nad commented on #3855
Assuming that you can construct a value of type `E`, which should not be possible in the empty context (if we pretend that Agda is consistent).

[2019-06-28 17:14] SimonBoulier commented on #3724
We have the same bug. A minified version by Szumi Xie:
[code]
With version 83a48d2 (yesterday) the error location is on line 230.

[2019-06-30 00:20] guilhermehas opened #3875 "Proof search can not split lambda"
[code]

I tried the proof search `Ctrl+C Ctrl+A` in emacs in this simple example and it can not find the solution because it has to split a lambda function.

[2019-06-30 01:57] msuperdock commented on #2497
This same issue happens when using the `--library` flag; see below for a minimal reproduction. (I almost posted this as a separate issue but then found this issue.) Based on the [documentation](https://agda.readthedocs.io/en/latest/tools/package-system.html#using-a-library), the current directory is added to the path only when there is no `--library` flag or `.agda-lib` file in the project root. S

[2019-06-30 08:23] gallais commented on #3875
No one is maintaining auto anymore because the code is basically incomprehensible.
So this probably will not happen anytime soon.

[2019-06-30 08:26] shinji-kono commented on #3843
Sorry for slow replay.  I've tried

agda --version
Agda version 2.6.0-6f3046e

and got the same one.

An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Substitute.hs:109

on the same attached example.

[2019-06-30 08:43] shinji-kono commented on #3843
same on
agda --version
Agda version 2.6.1-4e989c1

[2019-06-30 09:27] gallais commented on #3843
With current master the error is in `CheckInternal`:

Location of the error: src/full/Agda/TypeChecking/CheckInternal.hs:207

Edit: cleaned up a bit the test case:

[code]

[2019-07-01 07:54] pnlph opened #3876 "Dotted variables / not in scope variables"
I think in old versions of Agda, there was this concept of dotted variables that was notated:
`.n : ℕ`
But now the notation for the latest Agda 2.6 is:
`n : ℕ  (not in scope)`
I could not find anything about this in the docs, have dotted and not in scope variables the same meaning? What was the background of this change?

[2019-07-01 08:04] jespercockx commented on #3876
From the [changelog](https://github.com/agda/agda/blob/master/CHANGELOG.md#interaction-and-error-reporting):

[2019-07-01 09:20] #3876 closed, assigned to nobody

[2019-07-01 09:26] andreasabel commented on #3855
No noticeable improvement from my side.  Maybe it only works from within Chalmers or Sweden.

Yes, please.

[2019-07-01 09:33] andreasabel commented on #3843
Agda's last words:
[code]
Seems like a problem with the `projection-like` optimization.
[code]

[2019-07-01 11:04] pnlph commented on #3876
Thank you so much. This is exactly the information i was looking for.

[2019-07-01 16:33] andreasabel commented on #3843
Without standard library:
[code]

[2019-07-01 17:11] andreasabel commented on #3843
Further shrinking, without uni-poly and data types.
[code]

[2019-07-01 17:14] andreasabel commented on #3724
With the latest development version there is a workaround: disable the forcing optimization:
[code]

[2019-07-02 14:17] pnlph opened #3877 "Broken link "Edit on GitHub" on user manual"
This seems to affect the pages on the section "Language Reference", the current link tries to point to the file `.rst` instead of `lagda.rst`

Eg. for the cubical page doc page
https://agda.readthedocs.io/en/v2.6.0.1/language/cubical.html

the github link points to
https://github.com/agda/agda/blob/v2.6.0.1/doc/user-manual/language/cubical.rst

instead of
https://github.com/agda/agda/blob/v2.6.0.1

[2019-07-02 16:12] SimonBoulier commented on #3724
Thanks!

[2019-07-02 16:31] mietek commented on #1820
This issue seems to have been misrenamed.  It doesn’t seem to be about case splitting in the sense of the user-accessible operation triggered by `C-c C-c`, is it?

[2019-07-02 16:31] mietek opened #3878 "Case splitting should respect existing input"
Before case splitting on `m`:
[code]
After case splitting on `m`:
[code]

There are at least three problems here.  **This issue is about problem 1.**

1. **Case splitting on `m` changes a part of the line that is not `m`.**
2. Pattern synonyms are imported even though they are not requested. (https://github.com/agda/agda/issues/3879)
3. The Agda standard library includes pattern synonyms in `Data.

[2019-07-02 16:33] mietek opened #3879 "Only unqualified pattern synonyms should be used for resugaring"
Before case splitting on `m`:
[code]
After case splitting on `m`:
[code]

There are at least three problems here.  **This issue is about problem 2.**

1. Case splitting on `m` changes a part of the line that is not `m`. (https://github.com/agda/agda/issues/3878)
2. **Pattern synonyms are imported even though they are not requested.**
3. The Agda standard library includes pattern synonyms in `Data.

[2019-07-03 09:37] gallais opened #3881 "Refactor: for Map/Set/HashSet `elem` is O(n) while `member` is O(logn)"
From https://chshersh.github.io/type-errors:

Worth checking how many of the occurences of `elem` can be replaced with `member`.

[2019-07-03 13:53] gallais commented on #3879
The pattern synonyms are not actually imported here: if you try to use them,
you will get a scoping error. The problem is that Agda still uses them for
resugaring even though they are not in scope (hence the fully qualified name).

[2019-07-03 14:02] gallais commented on #3879
There clearly is the intention of filtering out the pattern synonyms which are
not in scope:

https://github.com/agda/agda/blob/4e989c1a0587e38cf35dd936b4e2dd699a9260b2/src/full/Agda/Syntax/Translation/AbstractToConcrete.hs#L1605

However `open import A using ()` does bring everything in scope in `A` in the
current scope under an `A.` qualifier. If only we had #3727!

[2019-07-03 14:15] nad commented on #3855
It was sufficient to modify one definition (I inlined `_∘_`).

I have tested that access is not restricted to the Chalmers network. Can you access the [code](http://www.cse.chalmers.se/~nad/listings/equality/Erased.html) [listings](http://www.cse.chalmers.se/~nad/listings/equality/Nat.Binary.html)? Those might be a bit more awkward to move.

[2019-07-03 15:39] ecavallo opened #3882 "de Bruijn index out of scope"
I am getting the error
[code]
with this code: https://gist.github.com/ecavallo/9f8a54554093aed0a2360194d0b89ad4. It seems related to rewrite rules, but I have not isolated very successfully.

[code]

[2019-07-03 17:18] mietek commented on #3879
Is there a method by which the user can prevent unrequested pattern synonyms from being brought into scope under a fully-qualified name?  If not, then can we refocus this issue on creating such a method?

[2019-07-04 08:39] gallais commented on #3879
This is why I mentioned #3727

[2019-07-04 09:23] amp12 opened #3883 "Impredicative Prop"
Would it be possible to have a "--prop-in-prop" option that collapses the Prop_ hierarchy and makes Prop into an impredicative (but hopefully still consistent) universe of proof-irrelevant propositions?

[2019-07-04 09:40] jespercockx commented on #3883
Currently Agda's termination check assumes predicativity so such an option would not be consistent:
[code]
So first we would have to patch the termination checker.

[2019-07-04 13:32] gallais opened #3885 "Out of order code block in literate mode"
A feature suggestion by @pigworker, the ability to:

* name code blocks in literate mode
* declare ordering constraints on the names

Agda would process the code blocks in a manner compatible with the
constraints. This would allow user to use a definition before it
has been declared.

[2019-07-04 14:40] andreasabel commented on #3855
Got it now.
I never had problems accessing the code listings.
Maybe the http access to your repo was just too slow from Germany.

[2019-07-04 16:45] andreasabel opened #3886 "Disable forcing when explicit quantity annotation"
This should work with the forcing optimization on (cf. Issue #3872).
[code]
The way I am fixing this is by retaining the origin of quantity information, and switching off forcing of arguments which have a quantity annotation given by the user.

[2019-07-04 17:26] andreasabel commented on #3882
Thanks for reporting. Could you shrink this down a bit?  E.g. by uses of
[code]
and step-wise eliminating code that does not contribute to the error?

[2019-07-04 17:44] ecavallo commented on #3882
I've done a bit of that already, but I'll go over again and see if I can improve.

[2019-07-04 21:24] ecavallo commented on #3882
Here's where I'm at now: https://gist.github.com/ecavallo/7d79f8898ffceb3a9d4db6524dcb6068

[2019-07-05 04:49] #3886 closed, assigned to andreasabel

[2019-07-05 05:48] andreasabel opened #3889 "Caching ignores quantity"
[code]
Switching the `@plenty` to `@erased` does not always trigger the error when loading.  I suspect it is the caching mechanism, see: https://github.com/agda/agda/blob/84f7ffe05e4d843713b2a2f405b3fde0c798525c/src/full/Agda/Syntax/Common.hs#L1216-L1225
Since we want to respect quantity for caching but not for with-abstraction, we might need a different equality in with-abstraction in places like

[2019-07-05 15:15] #3889 closed, assigned to andreasabel

[2019-07-06 16:16] iitalics opened #3892 "Internal error with `data .. where` definitions"
The following code causes an internal error:

[code]

This should instead trigger an error explaining that `Foo` was not previously declared as a data type. Note that we do get the correct error message if we don't give Foo a body:

[code]

[code]

[2019-07-06 19:18] andreasabel commented on #3892
MWE:
[code]
This is a regression in 2.5.4.  Version 2.5.3 reports:
[code]

[2019-07-06 19:36] andreasabel commented on #2576
Probably introduced regression #3892 as well.

[2019-07-06 20:39] andreasabel commented on #3892
A related problem is
[code]
which only complains about the duplicate _module_:
[code]
This suboptimal error message was actually introduced in #2576.

[2019-07-06 23:05] L-TChen commented on #3881
I didn't find any noticeable improvement after replacing `elem` by `member`.

A related issue I can see here is that lists are used almost everywhere, but lists are rarely the right choice as a sequential container. The benchmark [here](https://github.com/haskell-perf/sequences) shows that `Data.Sequence`, i.e. finger tree, outperforms `List` in every test but two.

Try to use `Data.Sequence`?

[2019-07-07 17:52] xekoukou opened #3895 "[ Question ] : Adding additional restrictions through reflection."
It seems to me that it is possible to add additional restrictions in agda through reflection if some facilities were provided.

Those additional restrictions can be orthogonal to the current rules. For example, linear types or
contextual computation (my effort) does not require any changes to existing rules.

Since reflection enables us to create typeErrors, the only remaining functionality that i

[2019-07-07 19:36] #3881 closed, assigned to L-TChen

[2019-07-07 20:18] andreasabel commented on #3892
I am heaping more heuristics onto the scope checker to fix this error (#2576 really).  But the root cause is the ugly nicifier (Concrete.Definitions).

[2019-07-07 20:42] #3892 closed, assigned to andreasabel

[2019-07-08 07:10] UlfNorell commented on #3870
Possibly same as #3805.

[2019-07-08 07:12] UlfNorell commented on #3805
Most likely the same (with shrunk test case): #3870.

[2019-07-08 13:32] jespercockx commented on #3871
Actually, thinking about it there **is** a possible overlap here, namely when `A` is instantiated to a (eta) unit type. But in that case, the right-hand sides are trivially equal as well so there is no confluence problem. So this could be fixed by considering the eta-unit and non-eta-unit cases separately.

[2019-07-08 14:43] andreasabel opened #3898 "Forcing analysis sensitive to normalization"
While working on #3886, I found that the forcing analysis is sensitive to normalization.
E.g., in constructor
[code]
`x` was only forced when the singleton list `[ x ]` was defined via pattern synonym, not when defined as ordinary definition `[ x ] = x :: []`.
Since being forced is a semantic property, the analysis should be stable under judgemental equality.

[2019-07-08 15:02] andreasabel commented on #3898
This issue might be in conflict with #1469, which reports bad performance for a forcing analysis on normalized targets.

However, repeating the test there done for 32bit on my 64bit machine with memory requirements doubled succeed even if forcing analysis reduces the indices to expose patterns.
[code]

[2019-07-08 18:44] msuperdock opened #3900 "Abstract constructor not usable in function definition involving "with""
When compiling the file `Abstract.agda` below, I get the following error:

[code]

It seems I am unable to use `tt` at all in the right side of a function after a with-abstraction. If I change the definition of `f` to `f x = tt`, the file compiles without error.

I would expect to be able to use `tt` anywhere on the right side of a definition within the abstract block. On the other hand, if this i

[2019-07-08 21:19] msuperdock opened #3901 "Unnamed implicit non-dependent function space {A} -> B and {{A}} -> B"
I suggest that Agda should allow unnamed implicit arguments, which it currently seems not to. The code below, which is a variation on the example given in the "Irrelevance" documentation, is an example use case:

[code]

The code compiles, but I would like to write `{head ≤ bound}` in place of `{_ : head ≤ bound}`, in analogy with `(head ≤ bound)` as I would write if I wanted an explicit argument.

[2019-07-09 08:53] andreasabel commented on #3901
There is no facility that would disallow implicit quantification.  The user can decide which arguments are implicit as they* likes. (*Singular third-person gender-neutral pronoun.)

However, non-dependent implicit function space is not parsed.
- In case of `{A} -> B`, this design decision is motivated by the fact that Agda will usually not be able to infer the implicit argument by unification.  Yo

[2019-07-09 09:09] andreasabel commented on #3900
Works fine in Agda 2.5.4.2.  A case for running agda-bisect: https://github.com/agda/agda/blob/master/HACKING.md#finding-the-commit-that-introduced-a-regression

[2019-07-09 09:11] UlfNorell commented on #3901
I think part of the reason for it not being allowed is that it's a bit tricky to get it to parse unambiguously (although, I can't see any obvious ambiguities at the moment). Feel free to have a go at the parser and submit a PR.

[2019-07-09 10:26] #3859 closed, assigned to jespercockx

[2019-07-09 14:09] andreasabel opened #3903 "Forcing translation produces segfaulting program"
While trying to understand the forcing translation with @jespercockx, we found out that it actually does not work.  The forcing translation tries to relocate a match happening in a forced position to a non-forced position.  In the example below, we have a match `cons zero ...` but pattern `zero` is in a forced position.  The forcing translation now tries to reconstruct a match against `zero` by tr

[2019-07-09 14:10] andreasabel commented on #3898
Blocked by issue #3903.

[2019-07-09 14:11] andreasabel commented on #3903
Blocking issue #3898.

[2019-07-09 17:02] andreasabel opened #3905 "Turn off tasty ansi-tricks on travis"
tasty 1.2.2 now has an option `--ansi-tricks=false` that could improve rendering of our testsuite output on travis, see https://github.com/feuerbach/tasty/issues/250#issuecomment-492512782 .

Task: try this out for running our testsuite travis.  This should remove the garbling of the output.

[2019-07-09 21:16] andreasabel commented on #3900
agda-bisect claims commit fa7ee0e679d72b4b38e774696e64419819a2015b
@jespercockx
Date:   Fri Dec 14 23:04:50 2018 +0100
  [ fix #3434 ] Use canonical name of constructor for injectivity map

[2019-07-09 22:43] #3900 closed, assigned to andreasabel

[2019-07-09 23:40] andreasabel commented on #3792
The GHC (MAlonzo) compiler tests take too long with ghc 8.0:
[code]
This causes travis to fail often for the ghc 8.0 test.

Full list (ran on my Mac):
[code]

[2019-07-10 09:22] andreasabel commented on #3792
How does ghc 8.0 treat expressions like `coe (\ x -> termNotMentioningX) erased` where `coe` is the unsafe coercion?  It may not be able to simplify this to `termNotMentioningX`.  Could this lead to huge thunks?
[code]
is compiled to
[code]
which looks reasonable although one could argue that `(\ v6 -> coe v0 erased)` would maybe be better eta-contracted to `coe v0`.  UPDATE: this seem indeed the

[2019-07-10 19:15] #3792 closed, assigned to andreasabel

[2019-07-11 06:32] andreasabel commented on #3843
Agda 2.5.4.2 gives the same internal error.
Agda 2.5.3 and 2.5.2 give the bogus error `With clause pattern x is not an instance of its parent pattern pack lv ord`.
Agda 2.5.1.1 succeeds!
Agda 2.4.2.6 does not know about record patterns yet.
If I change the record pattern match into a constructor match then the error goes away.

Here is a version that succeeds with 2.5.3 but raises the internal err

[2019-07-11 08:51] andreasabel commented on #3843
agda-bisect blames commit ace8e0d099402a625ac460862ae0a81fcec538d4
@UlfNorell
Date:   Wed Feb 21 17:06:14 2018 +0100

    [ records ] translate definitions returning record expressions to use copatterns

    Functions returning big record expressions are problematic since they
    tend to blow up when reduced. This becomes a bigger problem with
    call-by-need evaluation since sharing causes more

[2019-07-11 10:08] andreasabel commented on #3843
In fact, the copattern version
[code]
is rightfully not considered projection-like since it violates the contract that it _can only be stuck if the principal argument is neutral_, which is not the case for `pidcop (pack l o)`.
Thus, the _projection-like_ analysis should run after this copattern translation, and/or the copattern translation should not touch projection-like functions.  The question

[2019-07-11 11:39] L-TChen commented on #3553
I will try to work on this next week, but I have a design question regarding the reflected syntax for `Sort`. The following is the current data type for `Sort`:

[code]

There are few possible extension I can think of:

1. Simply add another two constructors `prop` and `propLit` (and maybe rename `lit`to `setLit` as well).

2. Extend `set` and `lit` with another argument for its relevance.

3. Sim

[2019-07-11 11:58] jespercockx commented on #3553
1. would be the closest to the current representation used internally by Agda, but otherwise I don't really have a strong preference.

[2019-07-11 15:18] andreasabel commented on #3843
This issue is an example of two obscure magical features:
- projection-likeness
- record expression to copattern translation

Wonder how more heuristics we need to bring Agda to a grinding halt. :D

[2019-07-11 15:19] #3843 closed, assigned to andreasabel

[2019-07-11 17:25] gallais opened #3910 "Dotted pattern should fail if argument is not inferrable"
In 2.5.3 the following module fails to typecheck, it is now accepted

[code]

[2019-07-11 17:38] gallais opened #3911 "Contraction pattern"
I have a (not quite working yet) implementation of the contraction pattern
(which I kept calling "strict underscore" in #3880).

Currently written `!`, its meaning is more or less:

* Introduce as many non (co-)inductive record constructors, recurse over their arguments
* Introduce one inductive constructor and demand that all of its arguments are uniquely determined (which should be easy to enfor

[2019-07-11 19:29] HuStmpHrrr opened #3912 "Generalisable variables generate unknown and explicit parameters"
I was trying to define dinatural transformation in https://github.com/agda/agda-categories, and I put the code in this gist: https://gist.github.com/HuStmpHrrr/d54d157a4160472d7058f87ec49e3c21

In this two lines I was trying to define a function

[code]

I expect that there are only two explicit variables. however, in the hole, I can see the following:

[code]

This is strange: why `C` cannot be g

[2019-07-11 19:38] HuStmpHrrr commented on #3912
If the definition explicitly mentions `C` then it is fine. (notice that `D` remains generalized.)

[code]

[2019-07-12 13:12] andreasabel commented on #3910
I guess this feature got lost in @jespercockx big redesign of dot-pattern handling. I cannot judge if it is easy to bring back.
[code]
gives
[code]
(a slightly questionable error message since the user did not write `x`, and it is not indicated that this is a system-generated identifier. When I try to please Agda's complaints in the literal sense,
[code]
Agda is of course not happy either:
[code]

[2019-07-12 13:44] andreasabel commented on #3911
Can you add a link to your proposal that explains your language extension and gives a couple of meaningful motivating examples?
(I have a hard time seeing what you are aiming at from just this non-example.)

[2019-07-12 17:20] pigworker commented on #3911
I'll at least drop in a code snippet that shows something of what prompted me to think in this direction.

[This file](https://github.com/pigworker/TypesWhoSayNi/blob/master/codeb/Thin/Cover.agda) finishes with a proof that all coproduct diagrams in the category of thinnings are unique. It's exactly the kind of proof I'd like to make neater. I have lots of them.

[code]

(In my peculiar ascii dial

[2019-07-12 20:38] L-TChen commented on #3905
After upgrading `tasty-silver` (which is actually the test runner used by `agda-test`) to 3.1.13, it works as expected (see https://travis-ci.org/agda/agda/jobs/557936795 for example).

Closed now.

[2019-07-12 20:38] #3905 closed, assigned to L-TChen

[2019-07-12 22:11] andreasabel commented on #3910
It seems if a dot pattern has (by position) de Bruijn index `i` and is during unification solved by `v`, then `v` should not contain `i`.  More generally, de Bruijn indices corresponding to dot patterns should not occur in the dot pattern solutions, no?  Currently there is no such test, this is the reason for this issue.

A naive implementation of such a test however fails because Agda is careless

[2019-07-13 07:23] jespercockx commented on #3910
I'm away from my pc until Tuesday, but I just want to add that `x@.x` is currently a valid pattern.

[2019-07-13 16:53] ghost commented on #3901
Hello!

I always felt like a good reason to require implicit parameters (instance or otherwise) to have a name was to allow users to pass in arguments for the parameter more easily in functions with multiple implicit parameters.

If the person writing the function really does not care for that, then I feel like they should need to be explicit about it and give the parameter the name `_` (as it is

[2019-07-13 21:07] L-TChen commented on #3512
It is somehow surprising that Agda's makefile ships a target to draw the module dependency using `graphmod`. The [result](https://github.com/agda/agda/files/3389236/module-dependency-graph.pdf) is rather scary to me ...  and this [one](https://github.com/agda/agda/files/3389400/moddep.dot.pdf) ignoring `Agda.auto.*`, `Agda.Interaction.*`, and `Agda.Compiler.*` is still pretty complex.

I hope this

[2019-07-13 21:48] L-TChen opened #3913 "Only run stack test against the latest GHC version"
Unlike cabal users who may be reluctant or not able to upgrade their system GHC, stack users install packages in an isolated environment by default and they (should be able to) compile Agda always with the latest GHC supported by Agda.

Hence, to save some time on Travis CI, I propose to run the stack test against the latest GHC only on Travis.

A more radical proposal is to urge users (and develo

[2019-07-13 23:05] asr commented on #3913
We use `stack` for testing different flags of Agda which are not tested with `Cabal`. So we need to run `stack` on all GHC versions supported by Agda.

[2019-07-13 23:05] #3913 closed, assigned to nobody

[2019-07-14 00:31] L-TChen commented on #3725
The package `EdisonCore` is only used by [Agda.Utils.Graph.AdjacencyMap.Unidirectional](https://github.com/agda/agda/blob/master/src/full/Agda/Utils/Graph/AdjacencyMap/Unidirectional.hs). And only two modules `BankersQueue` and `SimpleQueue` are used. I guess they can be replaced by `Data.Sequence` from `containers` without performance loss. So if it is not easy to fix it, then one can try to drop

[2019-07-15 11:59] andreasabel commented on #3910
Isn't this a bit odd?  Shouldn't `foo x@.x = rhs` (which is accepted) be sugar for `foo .x = let x = x in rhs`(which is not accepted)?

[2019-07-15 12:18] andreasabel commented on #3901
Well, personally I name even most explicit arguments, since this has benefits for case-splitting (`C-c C-c`) and provides some rudimentary documentation.

But from a UX and learning perspective it is better to not have seemingly arbitrary restriction in a language.  If `A -> B` is supported by the syntax, then `{A} -> B` should be supported by the syntax as well.  If one wants to discourage the us

[2019-07-15 13:11] andreasabel commented on #3901
Implementation of this feature was trivial, see PR #3915.

[2019-07-15 13:37] UlfNorell commented on #3725
Regardless of how easy it is, it seems to me that getting rid of a dependency we don't really need is a good thing in its own right.

[2019-07-15 14:11] jespercockx commented on #3910
I agree that it's somewhat odd, but it's more of a stylistic choice than a foundational one. I'm not fundamentally opposed to changing how dot patterns work from how it is implemented currently, as long as there is a clear and simple semantics. Currently, the semantics of dot expressions is that:

1. They should be valid expressions in the context of the RHS of the clause (including hidden/implici

[2019-07-15 14:13] jespercockx commented on #3910
This would be solved with #3215

[2019-07-15 15:29] amp12 opened #3916 "Heterogeneous equality without-K"
I know that heterogeneous equality
[code]
is not very useful without Axiom K. But nevertheless I need it. Agda --without-K will not accept the above definition, complaining about universe levels, but will accept
[code]
But that makes it annoying to compare this with homogeneous equality
[code]
What has --with-K/--without-K got to do with the universe level of this definition? Surely it would not b

[2019-07-15 15:35] jespercockx commented on #3916
Heterogeneous equality is basically a (dependent) pair of a proof of equality between the types + a proof of equality between the terms (dependent on the first proof). But with `--without-K`, an equality has to live in the same universe level (or greater) as the elements being equated (this is a recent change, see https://github.com/agda/agda/issues/3420).

[2019-07-15 15:46] amp12 commented on #3916
That is just _a_ way to define heterogeneous equality in terms of other things and clearly that definition should raise the universe level by one.

However, I was referring to a specific inductive definition of heterogeneous equality, for which I can see no semantic reason for universe-level-raising (irrespective of univalence).

Indeed, and for me clearly not a very convenient one. Is there any c

[2019-07-15 15:50] jespercockx commented on #3916
I don't really have a strong opinion either way; I guess we should ask @nad what he thinks since he suggested the change.

[2019-07-15 16:42] andreasabel commented on #3910
The change would be that dot-patterns do not bind a variable, unlike variable patterns, underscores, and hidden (thus, omitted) patterns.  This would modify 1., which does not say explicitly now what the bound variables actually are, i.e., how this context is computed.

[2019-07-15 16:52] jespercockx commented on #3910
With the current infrastructure for LHS checking, all arguments are considered bound whether you want it or not. So if you want the behaviour you describe, we need to introduce a new kind of splitting operation that explicitly brings a variable out of scope (i.e. a weakening). Then, when Agda encounters a dot pattern it could use this new operation instead of considering splitting to be finished (

[2019-07-15 19:38] andreasabel opened #3919 "Case splitting fails in parameterized module"
[code]
Attempt to split on `b` gives `Cannot split on module parameter b`.

[2019-07-15 20:17] andreasabel commented on #3919
Twin issue: #3095.

[2019-07-15 21:45] #3919 closed, assigned to andreasabel

[2019-07-16 05:07] andreasabel commented on #3916
@amp12 : How do you model this as a parameterized inductive type?  Currently I am under the impression that for `--without-K` we do not accept inductive _families_ as primitive but seek to explain them by inductive types (of higher kind).

It should be possible to get your the definition through by turning the universe check off.  However, this does not work currently, which is a __bug__.  I am wo

[2019-07-16 05:40] andreasabel commented on #3095
OP 2 https://github.com/agda/agda/issues/3095#issuecomment-392648294 is open again.

[2019-07-16 05:50] andreasabel commented on #3916
@amp12 : With my latest patch, Agda accepts your definition under the pragma that disables universe checking for the following data definition:
[code]

[2019-07-16 08:47] amp12 commented on #3916
I was thinking of the classical set theoretic model of extensional type theory where x ≡≡ y is very small and could even live in Set lzero.

Andy

[2019-07-16 08:53] amp12 commented on #3916
Is there documentation on NO_UNIVERSE_CHECK? — what is usually checked about universes that this switches off?

Andy

[2019-07-16 09:16] jespercockx commented on #3916
It seems to be missing from the documentation (my bad). From the changelog:

So basically, it turns off the check that the sort of each of the constructor argument types should fit in the sort of the datatype.

[2019-07-16 17:41] martinescardo opened #3921 "cached type checking slow if comments are edited, but not if code is edited"
In a large literate file, if we change Agda code, type checking is reasonably fast, presumably because of caching. However, counter-intuitively, if we change something outside the code environments, then everything is type checked from scratch and takes a long time. My extended MGS lecture notes are an example (https://github.com/martinescardo/HoTT-UF-Agda-Lecture-Notes/blob/master/HoTT-UF-Agda.la

[2019-07-17 02:51] JLimperg opened #3926 "Document the effect of `mutual` to the order of type checking"
The following code is rejected because `tt` is not in scope in the type of `prf`:

[code]

Without the `mutual` or with an implicit mutual block, everything is fine. Tested with Agda 2.6.0.1 and HEAD.

[2019-07-17 07:04] jespercockx commented on #3926
Maybe something to do with @andreasabel 's recent refactoring of the implementation of mutual blocks?

[2019-07-17 15:13] nad commented on #3916
I'm not an expert on this topic. The following discussion about the Coq option `-indices-matter` seems relevant: ["Do indices matter?"](https://github.com/HoTT/HoTT/issues/842).

[2019-07-17 15:59] nad commented on #3725
My experience is that the `Data.Sequence` sequences can be rather slow in practice (they seem to come with high "hidden constants"). I ran some benchmarks when developing a previous variant of the code. The current code is not identical, but I would not be surprised if running `reachableFrom` and forcing the lists is sometimes substantially faster with banker's queues than with `Data.Sequence` seq

[2019-07-17 16:23] nad commented on #3879
[code]

[2019-07-17 16:28] nad commented on #3885
If you are using LaTeX, then you can put the code inside LaTeX command declarations where it makes sense for Agda, and invoke the commands when you want the code rendered. (I think this trick is due to Anton Setzer.)

[2019-07-17 17:39] mietek commented on #3879
Thanks, @nad.

So, hiding while importing, _then_ opening works:
[code]
But, hiding and opening while importing doesn’t work:
[code]
Shouldn’t both methods work the same way?

[2019-07-17 18:27] L-TChen commented on #3725
The effort of switching to `Data.Sequence` is minimal, but maintaining `Edison` is not. Every package currently incompatible with GHC 8.8 but `Edison` is actively maintained. I am a bit pessimistic about the future of `Edison`, because it is not included in LTS Haskell since LTS 13.0 (https://www.stackage.org/diff/lts-13.0/lts-12.26) and its GitHub repository has been quiet for a while. The overal

[2019-07-17 21:19] asr commented on #3725
Please note that [`geniplate-mirror`](http://hackage.haskell.org/package/geniplate-mirror) is not actually maintained.

[2019-07-17 22:01] L-TChen commented on #3725
Hmm, how about taking over its maintainship instead? This one is much easier to maintain.

[2019-07-17 22:07] asr commented on #3725
How about removing the dependency of `geniplate-mirror` and as by-product to remove Template Haskell (I guess) from Agda (the library)?

[2019-07-17 22:22] L-TChen commented on #3725
That's even better, if the removal is not very time consuming.

[2019-07-18 07:56] Saizan commented on #3916
That's a fine model, but it's also one that would verify ```--with-K```: internally you can show that ```x ≡≡ y``` is equivalent to the pair of equalities formulation, so the semantics of the two can't be too different.

I think the confusion is that the ```--without-K``` flag is actually meant to keep you consistent with univalence, not just forbid things that directly rely on the K axiom or woul

[2019-07-18 08:19] jespercockx commented on #3916
How about the assumptions in the termination checker that rely on K (crf https://github.com/agda/agda/issues/1023)?

[2019-07-18 08:49] Saizan commented on #3916
That issue also seems to be more about consistency with some form of univalence rather than use of K.
However it is a bit fuzzy what "relies on K" means since we never explicitly translate into J and K. I'm also not sure how much use this new flag would get.

[2019-07-18 09:20] gallais commented on #3885
I personally write the code in a set of .lagda files and the text in another,
using `catchfilebetweentags` to grab the parts of the code I want to include.

[2019-07-18 10:53] mietek commented on #3879
Following discussion with @gallais and @Blaisorblade, I understand that identifiers can be in three states:
- accessible unqualified;
- accessible fully-qualified;
- inaccessible.

@nad shows the method to make an identifier inaccessible.

The error in my previous comment is caused by the use of `hiding` and `using` at the same time.  If we remove `using`, we get `open import Data.Fin hiding (0F)`

[2019-07-18 11:05] mietek opened #3927 "`import … hiding …` should be documented"
As seen in https://github.com/agda/agda/issues/3879#issuecomment-512353532.

Identifiers can be in three states:

- accessible unqualified;
- accessible fully-qualified;
- inaccessible.

Writing
[code]
makes `foo` inaccessible.

[2019-07-18 11:13] mietek opened #3928 "The error message `Hiding … has no effect` should be improved"
As seen in https://github.com/agda/agda/issues/3879#issuecomment-512468153.

Attempting to write
[code]
results in the following error message:
[code]

This is misleading.  There are, in fact, two different methods to hide `0F` that have different effects.

### Method 1.
The following code fragments both make all identifiers in `Data.Fin` accessible unqualified, except for `Data.Fin.0F`, which is

[2019-07-18 11:23] mietek commented on #3879
@Blaisorblade suggested that perhaps pattern synonyms that are accessible fully-qualified shouldn’t be used for resugaring.  Can we consider this suggestion?

[2019-07-18 12:49] Blaisorblade commented on #3927
Indeed. To improve on that: IIUC `import M hiding (foo)` works for any `foo`, not just `pattern-synonym`. You just need it seldom — in cases like #3879 for pattern synonyms (and maybe constructors, if you want to resugaring to use only pattern synonyms instead of constructors?).

[2019-07-18 13:18] Blaisorblade commented on #3928
How can we improve this?

I’d propose to say “0F is already hidden by `using` clause”. That’s why hiding has no effect. There, ‘hidden’ refers to method 1. But I see that doesn’t address your point.

But I don’t see how to address it. Currently, `open import` statements can only use “method 1”, and `import` statements can only use method 2. Would you want more complex rules? That would seem confus

[2019-07-18 13:31] mietek commented on #3928
I expected
[code]
to work as method 2.  If we were to make it work as method 2, then we would get rid of the error condition, and the error message would be dropped.

Otherwise, the two meanings of `hiding` should first be clarified in the documentation (https://github.com/agda/agda/issues/3927).  Then, the error message could use the same wording as the documentation.

[2019-07-18 13:32] mietek commented on #3927
Thanks; updated my comment.

[2019-07-18 13:53] Blaisorblade commented on #3928
TLDR: the distinct meanings of `hiding` are clearly confusing and is bound to cause confusing expectations, so making this less arcane requires either docs or an alternative syntax for meaning 2, preferably not involving a new keyword. Alternatively, one could address #3879 so that `import Foo hiding (bar)` becomes much less necessary (which might be simplest) — so this issue would become less imp

[2019-07-19 09:53] #3851 closed, assigned to gallais

[2019-07-19 11:50] pigworker commented on #3911
# The Contraction Pattern

Agda has `()`, the &lsquo;absurd pattern&rsquo;, to mark places in patterns which inhabit a readily refutable type. The definition of &lsquo;readily refutable&rsquo; is a movable feast, but we expect
at least that `()` may be used in a place inhabiting a datatype where one case split yields zero
cases: further search may be desirable, e.g., searching within fields of rec

[2019-07-19 13:03] jespercockx commented on #3911
Thanks for the detailed proposal. I definitely agree that such a feature would be very useful.

I have some doubts however about the desirability of recursive splitting (condition 2 in your proposal). I'm not sure when splitting should stop for an inductive datatype. For example:
[code]
When should Agda decide that no matter how much it splits on the argument, it will never get to the `stop` case?

[2019-07-19 13:11] jespercockx commented on #3911
One potential problem with implementing this feature is that the precise placement of dot patterns by the unifier cannot be guaranteed, but whether the contraction pattern is valid depends on it. For example:
[code]
If splitting on the equality proof produces the pattern `f {x} (.x , refl)` then the conditions are satisfied and Agda accepts. OTOH, if splitting produces the pattern `f {.x} (x , ref

[2019-07-19 13:56] pigworker commented on #3911
There is no way the contraction pattern should do arbitrary search in inductive types. When you split an active variable, its children are passive, and there's your cut-off. That's to say `D zero` accepts the contraction pattern, but no other `D n` will. (In the speculative extension, you could *teach* it to contract `D n`, but there's no sensible way to control a wild inductive split-frenzy.)

It

[2019-07-19 13:59] pigworker commented on #3911
My bad. I misread `D`. Not even `D zero` contracts. I misread it as the inductive singleton type for numbers, which is morally contractible, but not automatically so.

[2019-07-19 15:29] laMudri opened #3930 "BUILTIN NATURAL internal error at Forcing.hs:232"
Checking this example in Agda 2.6.0.1
[code]
gives error message
[code]

Note that the error only turns up at the pattern match, not at the data declaration.

Some experiments:

* Removing the pragma `  {-# BUILTIN NATURAL ℕ #-}` makes it check fine.
* Replacing all of the expressions like `Δ +↓ [- π -]` using a new postulate `_-,_ : RCtx m → U → RCtx (suc m)`, resulting in `Δ -, π` makes it check

[2019-07-19 16:18] gallais commented on #3930
Thanks for the shrunk down test case!

Removed the `variable` block so that it could be tested with older versions of
Agda. Works fine on 2.5.4.2.

[2019-07-20 08:48] JLimperg opened #3932 "Internal error when mixing implicit and explicit mutual blocks"
Code:

[code]

Error message:

[code]

Agda HEAD (`master@a9dc9bea224e86bbe46a42b89e72910522636e7c`).

[2019-07-20 08:59] gallais commented on #3932
Fails with "Missing definition for f" (pointing at the type declaration) in 2.5.4.2

[2019-07-21 10:01] andreasabel commented on #3930
This could be related to #3898.

[2019-07-21 10:31] andreasabel commented on #3911
Bikeshedding:
- `@` has already two syntactic functions: as-patterns (infix) and attributes (prefix).  These functions are superficially related as both _at_tach more stuff to some stuff.  I would not like to add a new, different meaning of `@` only to be very conservative in what syntax we take from the user.  We already have the demise of `.` which is confusingly overloaded, shouldn't repeat thi

[2019-07-21 10:51] andreasabel commented on #3928
I agree that it is confusing that the import directives such as `hiding` and `using` apply to either the `import` or the `open`, depending on the context.  The radical, not backwards-compatible solution would be to deprecate `import M hiding/using`.  Your suggestion (#3879), to make `import M hiding/using` first class, would be another solution.

Maybe the error message `Hiding ... has no effect`

[2019-07-21 11:03] andreasabel commented on #3928
Imho, the handling of `import` is a bit too imperative.  Note that Agda accepts the following,
[code]
but if we swap the `import` statements, Agda refuses,
[code]
with error
[code]
It would be clearer if Agda only allowed a single `import` of a module `M`, unless it gets a new name as in `import M as M'`.  Or at least disallows contradictory imports such as in my example.

[2019-07-21 11:04] andreasabel commented on #3928
I can make the situation more absurd as follows:
[code]
For the type signature of `fails`,  Agda complains:
[code]
ROFL :D

[2019-07-21 11:30] andreasabel opened #3933 "`import` can remove definitions from scope"
Agda being a declarative language, the handling of `import` is way too imperative. Basically, `import M directives` overwrites module `M` in the current scope to the restriction of `M` by the `directives`.  This makes scope non-monotone, things can be __deleted__ from the scope.  Deleting symbols via an `import` statement is imho absurd.

Example from https://github.com/agda/agda/issues/3928#issue

[2019-07-21 12:56] JacquesCarette commented on #3911
Bikeshedding opinions: I must admit I quite like the idea of `uniq`.  Overloading `tt` and `refl` seems problematic to me, as they have intensional content on top of their extensional uniqueness. The upside is that one could use `uniq` instead of `tt` and `refl` when one wants to additional assert uniqueness [which for `refl` is not trivial].  I find overloading of `()` problematic... yes, superfi

[2019-07-21 18:48] andreasabel commented on #3932
Nice catch!

[2019-07-21 18:56] andreasabel commented on #3818
Maybe we should think about making this legal, see also https://github.com/agda/agda/issues/3928#issuecomment-512825189 .

[2019-07-22 12:19] andreasabel commented on #3926
Why is this a bug?  `mutual` instructs Agda to first check the signatures, then the implementations of the declarations in the mutual block.  Then, of course, `tt` is not in scope when checking the signature of `prf`.

[2019-07-22 12:23] andreasabel commented on #3926
This has been Agda's behavior at least since Agda 2.4.2.
[code]
I am closing this issue, feel free to reopen should there be need for further discussion or maybe improvement of the documentation.

[2019-07-22 12:30] andreasabel commented on #3921
A straightforward implementation of caching would roughly type-check everything below the point of the topmost edit, regardless whether code or comments are edited.  Is this the behavior you observe, or do you observe something different?
(A more detailed test report would be appreciated.)

[2019-07-22 13:20] #3879 closed, assigned to gallais

[2019-07-22 13:27] gallais opened #3935 "Add support for inline do-notations"
The following definition is currently rejected with a parse error:

[code]

[2019-07-22 14:44] #3353 closed, assigned to andreasabel

[2019-07-22 18:22] pigworker commented on #3911
Another bikeshedding option just occurred to me: `][`

*ducks*

[2019-07-22 19:00] andreasabel commented on #3353
Fixed by adding `Origin` to argument names in `Named_` (and thus `NamedArg`).

[2019-07-22 20:21] jespercockx commented on #3911
That's a valid Agda identifier, so it falls under @andreasabel s proposal to have a `{-# BUILTIN CONTRACTION_PATTERN ... #-}` pragma.

[2019-07-22 21:14] andreasabel commented on #3932
[code]
gives a different internal error:
[code]

Bisecting* blames my commit 5ffac504f5a83d881013e333758bb096c010d44a

  Date:   Sun Oct 28 17:54:15 2018 +0100
  [ #3246 ] many more declarations allowed in mutual blocks

*I ran `agda-bisect --cabal-option '--ghc-options=-O0' --must-fail --no-internal-error --good v2.5.4.2 --bad v2.6.0 Issue3932.agda` which was reasonably fast thanks to `-O0`.

[2019-07-22 22:07] andreasabel opened #3936 "agda-bisect: --no-internal-error should imply --must-fail"
Success means no error is raised, in particular no internal error.  Thus, just giving the option `--no-internal-error` should imply `--must-fail`, since otherwise, in absence of `--must-fail`, the option `--no-internal-error` has no effect.

[2019-07-22 23:12] gallais commented on #3911
I think `(...)` would make sense as a form of "please Agda expand this pattern to the only thing it can be".

[2019-07-22 23:16] JacquesCarette commented on #3911
:+1: for `(...)`. `...` has a long history in mathematics of being "the unique thing that fits here". There were a series of neat papers on the semantics of `...` as it occurs in mathematical practice.

[2019-07-22 23:17] gallais opened #3937 "Internal error at "ConcreteToAbstract:1372""
Loading the following module

[code]

I get:

2.6.0.1: Internal error at ConcreteToAbstract:1372
2.5.4.2: Internal error at ConcreteToAbstract:1301
2.5.3: Parse error at location of `...`

[2019-07-23 08:11] andreasabel commented on #3937
This internal error is just an `__IMPOSSIBLE__` in an actually possible case.

[2019-07-23 08:14] jespercockx commented on #3937
Aren't they all, though? ;)

[2019-07-23 09:25] #3937 closed, assigned to andreasabel

[2019-07-23 11:16] JLimperg commented on #3926
Ah, so this is expected behaviour. I was confused for two reasons:

- I thought that if a block of definitions typechecks without `mutual`, then it should also typecheck with `mutual`.
- I thought that if a block typechecks as an implicit mutual block, then it should also typecheck as an explicit mutual block.

More practically, the docs for `mutual` would benefit from adding your explanation that

[2019-07-23 13:22] andreasabel commented on #3725
I'd ask to be assigned the maintainership of the original `geniplate` instead.  @augustss hasn't kept it up to date nor acted upon requests to do so.  `geniplate-mirror` was created by @danr as reaction to this inactivity.  Instead of forking a `geniplate-mirror-mirror` you could try to get `geniplate` from the hackage trustees.

I already tried this in 2014, see emails at
https://mail.haskell.org

[2019-07-23 14:01] andreasabel commented on #3725
@L-TChen : Will you ask for maintainership of geniplate?

[2019-07-23 14:03] L-TChen commented on #3725
Yes, I will try and ask @augustss to transfer his GitHub repository to Agda Github Community and take over the maintainership.

By checking Stackage, it seems that Agda is the only package depending on `geniplate`.

**Update (2019-07-23)**. An email request was sent.

[2019-07-23 14:24] #3936 closed, assigned to andreasabel

[2019-07-23 15:20] andreasabel commented on #3932
According to `agda-bisect`, the OP
[code]
triggers first the internal error for @gallais commit c7b17fc24533a857e0e062e7636c12aa9342a2da

    Date:   Fri Aug 24 16:45:47 2018 +0200

    [ new ] Turning MissingDefinition into a warning

    Functions, Datatypes, and Record types declarations are all
    replaced with Axioms if there is no corresponding definition.
    We raise a warning when doing

[2019-07-23 15:23] gallais commented on #3932
However note that:

[code]

fails in 2.5.4.2 with "Mutual blocks are not allowed in mutual blocks" but
with an internal error in 2.6.0.1

So it may be independent from the fact that `MissingDefinition` is now a warning.

[2019-07-23 16:49] andreasabel commented on #3932
I restored the error "mutual blocks are not allowed in mutual blocks", which fixes "my" internal errors which were all located in `Concrete.Definitions`.  This leaves the OP open.

[2019-07-23 16:55] andreasabel commented on #3935
Unfortunately, the Agda parser does not accept explicit braces and semicolons instead of layout. (In the way GHC does for Haskell.)

[2019-07-23 17:02] andreasabel commented on #3911
Yes, but
[code]
What speaks against `(...)`, in addition to the optics above, is that parentheses should _only_ be used for disambiguation by bracketing, and ambiguity isn't present here strictly speaking.  Thus,
[code]
should also be possible, but this even more confuses the passive ellipsis `...` with the active matching `...`.

[2019-07-23 18:44] andreasabel commented on #3566
The current fix adds a field `nameIsRecordName :: Bool` to each `A.Name`, which feels a bit invasive.
Alternatively, one could add a `Set NameId` to the `Signature` which remembers the record self names.  This would be serialized and deserialized with the signature.

[2019-07-24 09:09] danr commented on #3725
I will happily give you geniplate-mirror otherwise.

[2019-07-24 10:35] gallais opened #3939 "Add a typechecking only target to the Makefile"
Thanks to 08522e5e3aa24b3ff56a3dfd1dd3b55a80f9c759 the edit / compile cycle has gotten a lot of faster.

We could go even faster in the cases we are only interested in fixing all of
the type errors before even attempting to generate code.

Reading haskell/cabal#1176, it seems that using the option
`--ghc-options="-fno-code -fwrite-interface"` should do the trick.

* `no-code` skips the code genera

[2019-07-24 14:49] gallais commented on #3935
But, confusingly, newlines + alignment can sometimes be replaced by `;`.

[2019-07-24 16:02] andreasabel opened #3940 "Weird error with piSort and generalization"
[code]
I find this error quite incomprehensible, because why should `ℓa`, a global module parameter, not be in scope of a metavariable?  Or why irrelevant?

Note: Error becomes "Unsolved constraints" if we make es and es' module parameters instead.

The problem seems to involve overloaded constructors, since it is triggered by removing the manual disambiguation.

[2019-07-24 17:49] andreasabel commented on #3939
Why would type-checking-only suddenly work?  I thought our use of Template Haskell was a show stopper here, because then code is needed to type-check the rest?
See discussion at #2038.

[2019-07-24 17:51] andreasabel commented on #3935
Maybe only the braces part does not work.

[2019-07-26 02:06] ggreif opened #3943 "Print also hidden problematic unification terms"
Agda version 2.6.0.1

[code]
Try case-splitting on `x1`. You get
[code]
Where does the `{_} ≟ {_}` constraint come from?

[2019-07-26 08:05] jespercockx commented on #3943
The `{_} ≟ {_}` constraint comes from the first (implicit) index of the `_↓_` datatype. The braces `{}` indicate the fact that it is implicit, but I'm not sure why Agda prints them as `_` rather than the actual term (I've seen this happen before). It goes away if you turn `A` into a parameter instead of an index, though.

The real reason why Agda cannot figure out the unification problem is becaus

[2019-07-26 08:29] #3932 closed, assigned to gallais

[2019-07-26 09:42] Saizan commented on #3599
As of 47ad9b3dbdc2f4cfd36b4c6570c1ba593573409e Agda no longer relies on ```pathToEquiv``` or ```Glue``` for ```hcomp``` in  ```Set```.

[2019-07-26 09:42] #3599 closed, assigned to Saizan

[2019-07-26 10:28] gallais commented on #1182
Re-opening this issue now that lambdas with record patterns are valid
syntax and pattern-matching still cannot be used in syntaxes' binding
positions.

New example not using do-notations:

[code]

[2019-07-26 10:56] gallais commented on #3238
So I had a look at this test case and it turns out that the recorded `Origin`
of the implicit `x` is `UserWritten` according to Agda. We need to fix that
bug first.

[2019-07-26 11:58] gallais commented on #3238
I cleaned up the `Doc` generated by `Concrete.Pretty` to remove hidden lambda
abstractions inserted by the machine.

However the translation from Abstract to Concrete seems to be pretty keen to
insert `Paren` constructors so I get the following:

[code]

I will have a crack at it after lunch.

[2019-07-26 12:33] L-TChen commented on #3725
Thanks! I think you can add ~~@asr (AndresSicardRamirez on Hackage) or~~ me (LTChen on Hackage) to the maintainer group.

@asr, sorry.

[2019-07-26 12:38] asr commented on #3725
@danr, please do not add me to the maintainer group of `geniplate-mirror`.

[2019-07-26 14:58] Saizan commented on #3939
@gallais I guess you could ```cabal configure``` without ```-fno-code``` first and then ```cabal build``` with ```-fno-code```.

However, even if Template Haskell is no longer a show stopper for ```-fno-code```[1] I still don't recommend it because the necessary object files are not cached properly (they get put in a temp directory and forgotten). Maybe we should open a ticket with ```ghc``` about

[2019-07-26 17:05] gallais commented on #3238
The fix in #3944 naturally changed some of the error messages in the test suite.
If you are happy with the modifications (the most disruptive change is probably
that some sizes are now implicit in error messages), do not hesitate to merge.

[2019-07-27 00:34] ecavallo opened #3945 "flat modality always allowed on anonymous lambdas"
For example, I can write
[code]
which should be rejected because `a` is not available as a flat hypothesis.

[2019-07-27 11:02] ggreif opened #3946 "Termination checker and twisted way of proving bisimulation"
**Newbie alert!**

_Edit_: I think my confusion stems from the fact that I didn't fully grok copatterns. Now I understand that they are necessary to build up a stream (or other codata) instead of dissecting it.

That way `sim-pre-repeat x` in the error message refers to the object being built, which I cannot use in the process of building it, obviously. If this is the correct reason, please just p

[2019-07-27 14:17] ggreif commented on #3946
The last two lines could be shorter:
[code]
But I suspect that the `coerce` is not a safe thing to do here (though morally justified). Anyway the original problem is gone.

[2019-07-27 14:39] ggreif commented on #3946
I figured it out. Another lemma was all I needed:
[code]

Thanks for an awesome product!

[2019-07-27 14:39] #3946 closed, assigned to nobody

[2019-07-27 23:10] L-TChen commented on #3895
Can you elaborate this point?

[2019-07-28 10:41] xekoukou commented on #3895
[code]

In my case, I do not want to create new terms or new definitions, but to typecheck already existing terms, definitions.

Right now, I create a macro ```g``` that returns the ```unit``` term and then fill the hole for a useless function f , so as to be able to execute the macro ```g``` :
[code]

https://agda.readthedocs.io/en/v2.6.0.1/language/reflection.html?highlight=reflection#unquoting-

[2019-07-29 07:41] #1182 closed, assigned to gallais

[2019-07-29 07:42] #3238 closed, assigned to gallais

[2019-07-29 09:38] gallais commented on #3803
Even though fields form a block in the concrete syntax, they are currently
recorded as a list of field declarations rather than a single declaration
containing a list of fields.

As a consequence if we happily parse an empty block, we simply output an
empty list of declaration and the nicifier will be blind to it. Thus it will
not be able to raise a warning.

I am going to try to introduce a block

[2019-07-29 09:42] jespercockx commented on #3803
I believe @ayberkt was also working on this issue at some point, is that still the case?

[2019-07-29 10:41] gallais commented on #3270
This problem shows up often e.g. agda/agda-stdlib#827 in the stdlib.

I do think it would make sense to have a "private" field in `agda-lib` and
compute the list of modules available as `include` minus `private`.

[2019-07-29 15:24] gallais commented on #2610
It was really easy to get something half-working. However the fact that source
files (that definitively exist) and interface file (that may not exist) share
the same `AbsolutePath` type means it is really easy to write code raising
exceptions.

To add to the confusion, in some places we use `FilePath` instead of
`AbsolutePath`. I guess a refactoring is in order.

[2019-07-30 07:07] wenkokke commented on #3270
Why not call it `exclude`, then?

[2019-07-30 08:54] mortberg commented on #3599
Nice! Did you do any benchmarks?

How did you implement this? hcomp in U is a value and hcomp/transp has an extra case for these values?

[2019-07-30 08:56] mortberg commented on #3599
PS: are you using the "Dagstuhl lemma"?

[2019-07-30 09:54] gallais commented on #2610
Alright, in #3949 I have an implementation of this feature.
I am currently dumping all `.agdai` files in `_build/VERSION`
but it would be easy to adopt @andreasabel's suggestion to
have an `agda/` subdirectory to make room for `ghc/`, `latex/`, etc.

[2019-07-30 10:02] gallais opened #3950 "Allow multiple input files"
At the moment trying to pass Agda more than one file yields an error:

https://github.com/agda/agda/blob/7cf4d388d5626bbc00026f72f906d7af318cca16/src/full/Agda/Interaction/Options.hs#L445-L449

However, it would be nice to be able to generate `.tex` for *all* the `.lagda`
files in a repo without having to call Agda multiple times (and thus having to
reload modules again and again).

[2019-07-30 10:44] #3803 closed, assigned to gallais

[2019-07-30 12:38] Saizan commented on #3599
Actually no, I suppose I could have benchmarked the cubical library.

Yes.

Yep:

https://github.com/agda/agda/blob/master/src/data/lib/prim/Agda/Builtin/Cubical/HCompU.agda#L62

[2019-07-30 13:06] gallais commented on #3840
`--ghc` is already used as an alias of `--compile`.

I am going to go with `--with-compiler`. This is what `cabal` does and it has
the advantage of being an option name that can be reused for other backends.

[2019-07-30 14:19] mortberg commented on #3599
Cool!

What do you do for hcomp in nat?

[2019-07-30 14:20] mortberg commented on #3599
(or other closed datatypes)

[2019-07-31 16:46] #3945 closed, assigned to Saizan

[2019-07-31 21:24] JLimperg commented on #3950
This would also help with testing Agda projects. The current best practice (write a script that generates an auxiliary `Everything.agda` that imports every module) is not a very good practice.

[2019-08-01 12:34] #2610 closed, assigned to gallais

[2019-08-01 15:47] dorchard commented on #3642
Is there any way around this for now? I'm trying to use something in interactive mode were my top-level module has unsolved metas but all my modules are safe.

[2019-08-01 20:00] msuperdock opened #3955 "Document module keyword in using/hiding/renaming"
## Issue

The current module system allows control of which names are imported, via the `using` and `hiding` keywords. But these keywords do not seem to apply for modules defined within a file. For example, consider the following two files:

## Example

File `Test1.agda`:
[code]

File `Test2.agda`:
[code]

## Explanation

I expect both files to check correctly. But on running `agda Test2.agda`, I

[2019-08-01 20:26] msuperdock opened #3956 "Duplicate name in environment buffer with @-pattern"
## Issue

The interactive mode usually chooses fresh variable names when it needs to assign a name to a variable, but it seems to not be aware of names assigned by @-patterns.

## Example

[code]

Loading the context/environment shows:

[code]

## Explanation

The unnamed variable is assigned the name `k`, even though `k` is already used. I would expect the unnamed variable to receive the name `k₁

[2019-08-02 06:40] gallais commented on #3955
Definitions and modules live in different scopes so in the using / hiding
statement, you need to explicitly say that you are talking about a module:

[code]

has the behaviour you are looking for.

[2019-08-02 06:41] UlfNorell commented on #3955
The [documentation](https://agda.readthedocs.io/en/latest/language/module-system.html) should mention this.

[2019-08-02 09:41] gallais commented on #3642
You should be able to add `{-# OPTIONS --safe #-}` at the top of every single one
of your modules.

[2019-08-02 12:57] gallais commented on #3956
The fact that `VarP` and `AsP` do not receive the same treatment looks dodgy to
me but doing the same thing in both cases does not solve this problem so I have
dropped the changes.

https://github.com/agda/agda/blob/0a284d1070563150605080c55a0ce95791290e20/src/full/Agda/Syntax/Translation/AbstractToConcrete.hs#L1189-L1194

https://github.com/agda/agda/blob/0a284d1070563150605080c55a0ce95791290e20/

[2019-08-02 13:40] dorchard commented on #3642
Thanks for replying. That seems to be the case already (things from `agda-stdlib`). A MWE is the same as the one posted at the top of this issue.

[2019-08-02 14:57] gallais commented on #760
What should happen in the #759 case with `open Wrap public`?

[code]

[2019-08-02 16:01] gallais commented on #2902
Following #3879, we do not resugar the patterns which have a qualified name.
So you can avoid / control the patterns being used by putting them in a module
and only opening it in places where you want to use them.

[2019-08-02 16:16] gallais commented on #2768
The parser already has a `HoleContent` target:

https://github.com/agda/agda/blob/0a284d1070563150605080c55a0ce95791290e20/src/full/Agda/Syntax/Parser/Parser.y#L1116-L1123

But we do not seem to make any use of it. Seems like we could generalise
`C-c C-c` to use this parser instead of merely looking at the content of
the hole as it if were a bunch of variables.

[2019-08-03 16:59] nad commented on #3921
I failed to reproduce the reported behaviour.

Consider the following code:
[code]
Loading the file takes a little time. Reloading after editing the first comment is slow, but reloading after editing the second comment is fast.

[2019-08-03 17:04] nad commented on #3933
Sounds good to me. (Feel free to use the "bug" label rather than "language-change", I don't think the present behaviour was intended.)

[2019-08-03 17:16] nad commented on #3943
@jespercockx, why did you leave this issue open?

[2019-08-03 17:37] nad commented on #3270
How is `exclude` intended to be used? For the example in the OP I would expect to see something like the following:
[code]
This doesn't look very nice to me.

[2019-08-03 17:43] jespercockx commented on #3943
I was thinking we should improve the printing of unification problems so you can actually see the terms instead of just `_`.

[2019-08-03 17:57] nad commented on #3642
Perhaps you could use `{-# OPTIONS --allow-unsolved-metas #-}` in the top-level module.

[2019-08-03 18:07] nad commented on #760
This is related to #2715.

One option is to disallow `open Wrap public` inside the `abstract` block. This is a conservative design that can be changed later.

How are definitions inside abstract record modules treated? Are they allowed?

[2019-08-03 18:19] nad commented on #3950
Perhaps you can already accomplish what you want to do by using `agda --interaction`. I'm not suggesting that we should tell users to do this, but perhaps the changes required are fairly small: I suppose that the command queue can be used.

[2019-08-03 20:32] nad opened #3960 "Another regression related to piSort"
The following code is accepted by Agda 2.6.0.1, but rejected by Agda 2.6.1-0a284d1:
[code]
Bisection points towards 60dc65d7af7491f4ca059fc04d36c1a0a6de43b3 ("[ re #3099 ] Another attempt at adding domain to PiSort").

[2019-08-04 13:00] danr commented on #3725
@L-TChen done!

[2019-08-04 13:48] msuperdock commented on #3955
Great! Glad that this feature already exists.

[2019-08-05 13:50] gallais commented on #760
This is the current situation:

[code]

[2019-08-05 14:39] gallais opened #3961 "Missing documentation for coverage checking"
We have some great documentation for termination checking but nothing for
coverage checking. Which is a net loss compared to the old reference manual!

https://wiki.portal.chalmers.se/agda/pmwiki.php?n=ReferenceManual.Totality#Coveragechecking

Additional todo:

* [x] Document `NON_COVERING` in that section of the manual just like we do `NON_TERMINATING` in the termination chapter

[2019-08-05 15:49] #3089 closed, assigned to gallais

[2019-08-06 01:56] guillaumebrunerie opened #3962 "Names starting with an hyphen + instance arguments mess up goal detection"
Loading the following code in emacs does not change the question mark to a goal, despite properly detecting it as a goal in the info buffer.

[code]

[2019-08-06 06:48] andreasabel commented on #3943
@jespercockx  wrote:

I'd say this is due to
https://github.com/agda/agda/blob/f21ed8c2fa088a5bc238dafe4c8cb5794d4d4e42/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L795-L799

[2019-08-06 07:14] andreasabel commented on #3950
What would be the semantics of several input files?  Would they all be processed as main file, from first to last?  (Think of `-c` compilation.)

[2019-08-06 07:31] jespercockx commented on #3962
This clearly has something to do with the emacs mode wrongly parsing `{-` as the beginning of a comment. If you use a hidden argument instead of an instance argument, you get an error:
[code]
Error:
[code]

[2019-08-06 07:35] jespercockx commented on #3943
Right, but the current situation where we print `{_}` is a bit crazy: either you want to not see anything, or else you want to see the actual term. Maybe we should disable this code for hidden arguments but leave it in for irrelevant ones?

[2019-08-06 11:32] gallais commented on #2148
I think this was solved at the same time as #3840.

[2019-08-06 11:32] #2148 closed, assigned to nobody

[2019-08-06 12:40] gallais commented on #2535
The effort to make reflection safe means that we now have a [primitive](https://agda.github.io/agda-stdlib/experimental/Agda.Builtin.Reflection.html#2318)

[code]

Is that a satisfactory solution @identicalsnowflake?

[2019-08-06 13:27] gallais commented on #3183
This seems related to #2851, #2877.

[2019-08-06 15:18] gallais opened #3964 "Agda overwrites user-written dotted pattern"
[code]

[2019-08-06 16:15] andreasabel opened #3965 "Wrong indication of unreachable clauses"
Agda marks clauses as unreachable, but reports missing clauses when they are removed.

All but the first clause in helper function `cs` are marked as unreachable:
https://github.com/agda/agda-stdlib/blob/baaae8ff6e2291389bd9039fdef9e9316027f604/src/Data/List/Relation/Binary/Sublist/Propositional/Properties.agda#L407-L424

However, only the second clause is unreachable.

Test case on branch `agda-i

[2019-08-06 16:38] andreasabel opened #3966 "All clauses marked when one clause has unification error"
The range of the following error includes all clauses rather than just the problematic one:
[code]
See branch `agda-issue-3966` of the stdlib,
https://github.com/agda/agda-stdlib/blob/agda-issue-3966/src/Data/List/Relation/Binary/Sublist/Propositional/Properties.agda#L412-L470

Permalink:
https://github.com/agda/agda-stdlib/blob/15abef3bfeeefb758df72014754a0d8891b59a2d/src/Data/List/Relation/Binar

[2019-08-06 18:58] identicalsnowflake commented on #2535
Yeah I think so. I haven't played around with this for a long time, but I think I was experimenting with compilation via the reflection API and I was having trouble with being unable to distinguish between colliding names. Looks like this should provide enough to distinguish variables in scope with the same name.

[2019-08-07 05:28] #2535 closed, assigned to gallais

[2019-08-07 07:07] andreasabel commented on #3965
Here is a cleaned-up version of the OP (still depending on the standard library):
[code]

[2019-08-07 07:18] gallais commented on #3965
Shrunk down test case:
[code]

Anything between the two unreachable clauses `f 0 = 0` is highlighted.

[2019-08-07 07:21] andreasabel opened #3967 "Internal error at Serialise/Instances/Internal.hs:129"
While shrinking the test for #3965, I hit this `__IMPOSSIBLE__`:
https://github.com/agda/agda/blob/6fb055adbc961f211cfa6e32ae773d782ef4d15d/src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs#L129

This is the code triggering the bug:
[code]

[2019-08-07 07:35] andreasabel commented on #3965
@gallais, you beat me to it:
[code]
The problem is that a continuous range is used where a non-continuous one is needed.  (Do we still have non-continuous ranges or did they fall prey to some optimization?)

[2019-08-07 07:52] andreasabel commented on #3966
Here is the extracted test case (still dependent on the standard library):
[code]
The problem seems to arise in the coverage checker, which has a different split order than the LHS checker and probably not (yet) a careful error location handler.

[2019-08-07 08:00] andreasabel commented on #3966
Shrunk away the std-lib:
[code]
Interestingly, if `⊆-trans` is turned into a `postulate`, then the error is precisely located at the `refl` adjacent to `HERE`.  Maybe then it arises already in the LHS checker!?

[2019-08-07 08:14] andreasabel opened #3968 "Single clause marked unreachable"
While shrinking the test case for #3966, I found a paradoxical situation where the single given clause is marked unreachable (while many clauses are missing).
[code]
Produces
[code]
This problem exists since 2.5.3.  Agda 2.5.2 only reports the incomplete pattern matching. Not surprising, as the warning for unreachable clauses was introduced as a new feature in 2.5.3.  From the CHANGELOG:
[code]

[2019-08-07 08:15] gallais commented on #3965
We have non-continuous ranges but deadcode highlighting fills in the gaps to get
continuous ones (which is useful for warnings talking about useless blocks IIRC).
My plan is to highlight each unreachable clause separately.

[2019-08-07 08:37] andreasabel commented on #3099
De Bruijn bug fixed by @jespercockx  in 0f67eb82365ef4d767bbc7216473744668c752a5

[2019-08-07 08:47] andreasabel commented on #3962
I suppose `{{-` should also be interpreted as the start of a comment (inside a hidden argument). Then we can leave the emacs mode as it is.  My intuitive reading of `{{-foo-}}` is a comment `{-foo-}` inside braces. Rationale: `{ } ( ) {- -}` is punctuation which does not need space-separation.
Opposition: `{{ }}` is also punctuation.  Alternative: make `{{-` and `-}}` lexer errors, requiring the u

[2019-08-07 08:51] #3293 closed, assigned to gallais

[2019-08-07 09:15] andreasabel commented on #3966
Currently, the `cover` function gets __all__ clauses as in put, not only these that have no conflict with the current `SplitClause`.  We would like to mark only the latter if a unification error occurs, not those that are already irrelevant for the current coverage problem.

[2019-08-07 10:05] jespercockx commented on #3966
Counterpoint: if you get an error during coverage checking rather than during LHS checking, it really is a problem with the whole definition and not with an individual clause (after all, they were already successfully typechecked).

[2019-08-07 10:30] gallais commented on #3967
I do not get this internal error with master.

[2019-08-07 11:18] gallais commented on #3129
I got something working. A lot of the 'bugs' now typecheck. Should I just move
them to `Succeed/`?

[2019-08-07 15:50] asr commented on #3725
@L-TChen, please make a revision in Hackage for `geniplate-mirror` changing

`template-haskell < 2.15` -> `template-haskell < 2.16`

[2019-08-07 15:54] L-TChen commented on #3725
@asr Done. It will take a moment to see the revision.

[2019-08-07 18:01] KarlusMarxen opened #3971 "Weird rewriting error"
[code]
results in the following error, "rewriteMe  is not a legal rewrite rule, since the following variables are not bound by the left hand side:  b
when checking the pragma REWRITE rewriteMe".

Replacing  `A → B` with `A × B` works, as does changing `B`'s type to `Set a`.

[2019-08-07 22:18] #3768 closed, assigned to asr

[2019-08-08 06:23] #3966 closed, assigned to andreasabel

[2019-08-08 06:32] andreasabel commented on #3967
I get it with this version of the std-lib:
[code]
https://github.com/agda/agda-stdlib/commit/505cc141596afd966705904576bbfea1151a07fc

[2019-08-08 06:36] andreasabel commented on #3965
See PR #3969.

[2019-08-08 07:29] andreasabel opened #3972 "Unreachable clause leads to internal error at Serialise/Instances/Internal.hs:94 (MetaV)"
While shrinking #3967, I get a related internal error for serializing a `MetaV`:
https://github.com/agda/agda/blob/6fb055adbc961f211cfa6e32ae773d782ef4d15d/src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs#L94

Using standard library
[code]
I have the following files:

First file, imported by second:
[code]

Main file:
[code]

[2019-08-08 07:39] andreasabel commented on #3972
Without standard library:

Imported file:
[code]

Main file:
[code]

[2019-08-08 08:30] jespercockx commented on #3971
The problem here is quite subtle. The full version of your rewrite rule (with implicit arguments expanded) is `decorate {a ⊔ b} (A → B) ≡ (decorate {a} A → decorate {b} B)`. But just `a ⊔ b` is not enough to figure out the values of `a` and `b` individually.

There is a trick in the rewriting machinery that helps in many cases, which works by annotating the function types in the left-hand side of

[2019-08-08 08:34] andreasabel commented on #3972
Single file test case:
[code]
In Agda-2.5.2, this reports:
[code]
From 2.5.3, the internal error is raised.

Seems to be due to the unreachable clause.

[2019-08-08 08:37] andreasabel commented on #3967
Likely subsumed under #3972.

[2019-08-08 08:37] #3967 closed, assigned to andreasabel

[2019-08-08 08:45] andreasabel commented on #3966
In some sense, yes, but the coverage checker creates a partition of clauses and you are most interested in the part that produces the split error.  Highlighting everything conveys too little information, just "here is something wrong", and with the fix you get more information, namely also a likely place where things go wrong.

[2019-08-08 11:00] KarlusMarxen commented on #3971
Thanks, Jesper. In the real case the functions are dependent, so it's not even a workaround.
Agda's parser does not seem too fond of expressions like `x : A : Set a`. Given that I have never seen this syntax anywhere, I am probably doing something wrong. So could you please give a minimal working example or a reference to one?

[2019-08-08 11:48] #3965 closed, assigned to gallais

[2019-08-08 12:00] andreasabel commented on #1829
Recent travis failures under 8.6.5:
- https://travis-ci.org/agda/agda/jobs/569248603
- https://travis-ci.org/agda/agda/jobs/569346144
- https://travis-ci.org/agda/agda/jobs/569538566
- https://travis-ci.org/agda/agda/jobs/572291102
- https://travis-ci.org/agda/agda/jobs/572672173 (build 6066)

4M heap exhausted.

Failure under 8.4.4:
- https://travis-ci.org/agda/agda/jobs/572672174 (build 6066)
-

[2019-08-08 12:06] jespercockx commented on #3971
Sorry if I wasn't clear, `x : A : Set a` is not actually valid syntax but I was trying to describe what Agda does internally when checking the rewrite rule.

Could you give the full example (with the dependent function space) where it goes wrong? Then I can try to see what you can do to fix it.

[2019-08-08 12:48] andreasabel commented on #3962
I fixed the lexer so that Agda treats `{{-` as beginning of a comment after a brace.

[2019-08-08 12:52] #3962 closed, assigned to andreasabel

[2019-08-08 13:02] andreasabel commented on #3972
It seems like PR #3969 fixing #3965 also fixes the present issue.  Since the unreachable clauses (as part of the warning) are not serialized anymore, only their ranges, it might be that the offending unsolved meta is not hit by the serializer any longer.

[2019-08-08 13:12] KarlusMarxen commented on #3971
Let's modify the initial example. If I understood you correctly the following should work.

[code]
But it fails with the same error. So what should I do to make it work?

[2019-08-08 13:21] #3972 closed, assigned to andreasabel

[2019-08-08 13:54] andreasabel opened #3974 "Range for unexpected implicit argument on lhs too big"
[code]
Error:
[code]
this error should only mention the lhs, not the whole clause (including where-block).

[2019-08-08 14:28] jespercockx commented on #3971
Oh, I see now, the problem is still there for the dependent function space because the *sort* of the codomain is still not dependent on the argument. So it seems the current approach of treating sorts as 'irrelevant' for matching is problematic.

Actually, thinking about it made me realize that it is not necessary to consider sorts as irrelevant: since the sort of a type can be computed from that

[2019-08-08 14:56] KarlusMarxen commented on #3971
Great! And since you mentioned it, I don't think there exists a single Agda programmer who wouldn't appreciate universe cumulativity. Has anything changed since [your blog post](https://jesper.sikanda.be/posts/agdas-new-sorts.html)?

[2019-08-08 15:06] andreasabel commented on #3974
I am fixing this by adding a `CheckLHS` constructor to the `Call` type and setting it at the beginning of `checkLeftHandSide`, resetting it for the continuation.

[2019-08-08 15:10] jespercockx commented on #3971
Currently blocked on https://github.com/agda/agda/issues/3099, I'm working on it from time to time but finding the source of the bugs uncovered by --double-check is very hard work.

[2019-08-08 15:36] #3974 closed, assigned to andreasabel

[2019-08-08 15:40] andreasabel commented on #3943
Well, if you drop `{_}` entirely, you produce ill-formed terms sometimes, because the position of subsequent hidden arguments shifts.

[2019-08-08 16:35] jespercockx commented on #191
The underlying issue here was never really fixed, my changes just happened to produce the right error for this particular test case.

[2019-08-08 16:52] andreasabel commented on #3943
In PR #3975 I changed the printer of unification constraints to look into hidden and irrelevant `Arg`.

[2019-08-08 16:57] #3971 closed, assigned to jespercockx

[2019-08-08 17:58] andreasabel commented on #3803
Thanks @gallais, for fixing this.  I had reserved this issue for @ayberkt, thinking it was as easy to fix as empty mutual blocks, but apparently, this was not the case. I'll remove the `easy` tag...

[2019-08-08 19:50] andreasabel opened #3976 "Fix broken links in user manual"
Fix broken links in user manual, as indicated by
[code]
Remaining problems (as of 2019-08-12):
- [ ] gmane.org does not respond
- [ ] agda/cubical#172

[2019-08-08 20:16] #3901 closed, assigned to andreasabel

[2019-08-08 20:17] jespercockx opened #3977 "GHC 8.0.2 not warning for incomplete matches"
See https://travis-ci.org/agda/agda/builds/569450616: GHC 8.0.2 does not warn about incomplete matches but newer versions do.

I think this was introduced by https://github.com/agda/agda/commit/dc12aff892506d53ec61c03308b44a7a57908a02#diff-b771849a88d590a1da0b3a183b4f2be7, though I'm not sure what's wrong exactly.

[2019-08-08 20:41] #3943 closed, assigned to andreasabel

[2019-08-09 13:14] gallais opened #3980 "Cannot split on argument even though goal type is inductive"
Found live by @pigworker. The first mixed co-pattern and pattern matching
definition leads to a case tree too strict in `n` for `F (r zero n) (k , l) refl`
to make sense.

However, Agda is not consistently showing this strictness:
* inspecting the type of `F (r zero n) = {!!}` gives us a fully reduced type
* but typechecking `F (r zero n) (k , l) refl` fails!

[code]

[2019-08-09 21:29] andreasabel commented on #3980
Well, I suppose this is because the LHS checker adds clauses for reduction as soon as they type-check, e.g., `P (r zero n) (k , l) = k ≡ l`.  However, the coverage checker builds a case tree that no longer supports this reduction, because this clause is preceded by a match on `n` in clause `A (r (suc m) zero) = {!!}`.  Thus, while available a priori, the reduction disappears a posteriori.

@jesper

[2019-08-10 12:13] andreasabel commented on #3976
Currently, debugging broken links with `make user-manual-linkcheck` is tedious because
- the whole manual is compiled to html from scratch
- the first broken link is a hard error, aborting the link check

Thus, to see the next broken link always takes around 3 minutes (depending also on the response time of the linked servers).

[2019-08-11 13:46] EdNutting opened #3981 "Missing import"
Hi,

When building manually on Windows, compilation of this line failed:

https://github.com/agda/agda/blob/e03e94977064d7eb5cdbe220b666795b85a074da/src/full/Agda/Utils/FileName.hs#L117

`and2M` not defined

I think the issue is that Agda.Utils.Monad is not imported? Adding the import made the build for that file work.

Thanks,
Ed

[2019-08-11 14:06] wenkokke commented on #3270
@nad That's a good point. Having a `public` and `private` field, which are merged to produce the total set of files available within the library would make more sense.

Another question is, would it make more sense to do this on the level of modules instead of files?

[2019-08-12 06:43] andreasabel commented on #3981
Seems like dc12aff892 was a bit too eager? It removed imports that were needed for compilation under Windows only.

@L-TChen , can you have a look at this, please?

[2019-08-12 07:37] andreasabel opened #3982 "Regression in UX, probably related to piSort"
Given this WIP code, shrank from a larger development:
[code]
With 2.6.0, I get an unsolved constraint related to the unspecified target type of `lem` which is not solved by unification.  I can still work on the file, like use `C-c C-c` to introduce arguments to `lem` and to split them etc.
This is what 2.6.0 shows me, which is quite comprehensible:
[code]

With current master I get a hard and not

[2019-08-12 12:02] L-TChen commented on #3981
As I don't have windows either, @EdNutting can you check if it works now?

@andreasabel Maybe it is better to set up a Travis testing environment for Windows?

[2019-08-12 12:26] L-TChen commented on #3977
:-(

It looks like a GHC bug. Switching manually these flags is already problematic, as you can see from the comment.

Is it possible for you to update your GHC to at least 8.2.2 to avoid this bug?

[2019-08-12 12:33] jespercockx commented on #3977
I could, but I'd rather not as long as we're still supporting 8.0.2. In the past, I've been burned too often by accidentally using some newer GHC feature that's not available in an older version, so now I prefer to stay on the oldest one we still support.

(We *could* have a discussion about dropping support for 8.0.2, but note that it is still the default GHC version in the latest LTS release of

[2019-08-12 14:35] L-TChen commented on #3977
I am not sure what the best practice should be in this case.

As It mainly affects developers instead of end users,  dropping support for 8.0.2 entirely sounds too eager. It makes sense to me to use GHC 8.2.2 or later to develop but make sure that Agda is compatible with 8.0.2.

Reverting back to the earlier `Agda.cabal` is an option. However, as I played with these GHC options last time, I didn't

[2019-08-12 15:14] jespercockx commented on #3977
Maybe we should then leave those warnings off until we drop support for 8.0.2, since it's more important to get errors for incomplete matches than warnings for unused definitions.

[2019-08-12 15:50] L-TChen commented on #3977
Okay, I will revert those changes later.

[2019-08-12 20:15] andreasabel commented on #3981
That would be great!

[2019-08-12 21:10] andreasabel commented on #3976
Fixed by --keep-going flag.

[2019-08-12 22:08] gallais commented on #3981
Related: #2058
Also worth noticing that github is starting [actions](https://github.com/features/actions) which may give us
complementary CI abilities?

[2019-08-13 10:50] gallais commented on #2250
While working on #3959, I have found a way to revive this proof of false
using the `INJECTIVE` pragma:

[code]

[2019-08-13 11:20] JacquesCarette commented on #2250
I don't get it -- you chose to lie to Agda, in ways that are outside the logic (with a pragma), and tried to hide your track (with abstract), and you're somehow surprised that this gets you into trouble?  Is the point that this shouldn't have happened under `--safe`?

[2019-08-13 11:20] gallais commented on #2250
Yes. The point is that `--safe` should reject any use of `INJECTIVE` just like
it rejects uses of `TERMINATING`.

[2019-08-13 13:01] gallais opened #3983 "TERMINATING accepted with --safe if hidden in a block"
Trying to fix #2250, I have noticed that the following file is silently
accepted.

[code]

We only check that the illegal pragmas are not present at the top level,
but if they are hidden in a block then we miss them!

[2019-08-13 18:01] nad commented on #760
That looks like a bug to me.

[2019-08-13 18:15] nad commented on #3950
One issue is that if you are compiling both `A/Main.agda` and `B/Main.agda`, then you end up with a single binary `Main`.

[2019-08-13 19:19] nad opened #3985 "Sometimes an outdated binary is not overwritten"
Consider the following three files:
* `Prelude.agda`:
[code]
* `A/Main.agda`:
[code]
* `B/Main.agda`:
[code]
If we compile first `A`, then `B`, then `A` again, then we do not get the correct result.

Test script (`script.hs`):
[code]
Result of running `runhaskell script2.hs agda | grep -v '^('`:
[code]
The final `B` should be `A`.

[2019-08-13 19:59] EdNutting commented on #3981
Can confirm, this now works using master 0511b11

[2019-08-13 20:01] EdNutting commented on #3981
Also, I don't know if this matters, but I'm using "stack install" rather than cabal or (Cygwin) make - because cabal gives me too much trouble on Windows on its own and the make script doesn't work when executed inside Cygwin.

If Agda could work inside Windows Subsystem for Linux (WSL) _and_ still work in emacs mode, now that would be good. Because then it'd just be Agda as a Linux tool but acces

[2019-08-13 21:54] L-TChen commented on #3981
`stack` should just work, although it is not documented in the official manual. `stack` uses `cabal` under the hood in an isolated environment, so I would actually recommend you to compile Agda by `stack` without worrying about system's ghc environment.

I have no idea about WSL. If you can open another ticket for it, then there might be someone using Windows who can address this, I guess.

[2019-08-14 09:12] EdNutting opened #3986 "Subtyping `.A -> B <= A -> B` leads to wrong `ArgInfo`"
Hi,

Replication (using Agda@master and agda-stdlib@master as of today):

[code]

Not clear to me what's happening but essentially the test fails when `_$_` is used to provide the irrelevant argument to `fromℕ≤` in the function's type definition (anywhere in it - I just happened to use for the return type here). Also, the test doesn't fail if you remove the `with`.

@mietek helped me with this las

[2019-08-14 15:24] andreasabel commented on #3986
What exactly is the problem here?  The file loads without complaints, and I see 4 holes:
[code]
UPDATE: Sorry, wasn't on the latest std-lib.
I can reproduce your error:
[code]

[2019-08-14 15:33] gallais commented on #3986
Shrunk down:

[code]

[2019-08-14 15:57] andreasabel commented on #3986
Shrunk down:
[code]
The problem is that in `app g`, the application `g a` is relevant, but we are substituting an irrelevant function `f` for `g`, which strictly would need a irrelevant application.
Because `.A -> B` is a subtype of `A -> B`, this is ok, but it means that our relevance annotations in arguments are currently not accurate; they err in the direction of _more relevant_.  This can be b

[2019-08-14 16:07] andreasabel commented on #3986
Similar #1186, #2668.  Bug goes back to at least 2.4.2.4.

[2019-08-14 16:58] andreasabel commented on #3981
I consider the OP closed, discussion CI for Windows should be on a new ticket.

[2019-08-14 16:58] #3981 closed, assigned to L-TChen

[2019-08-15 08:03] andreasabel opened #3989 "Warn about duplicate bindings in a single telescope"
In a longer type signature I forgot an arrow, but get an operator parse error for this:
[code]
The error is located in the last line:
[code]
However, the actual mistake is quite a bit further up.  Agda directs my attention to the wrong location.

The omitted arrow leads to a non-linear telescope, which is currently legal, but should at least throw a warning.  This warning could be seen in addition

[2019-08-15 09:51] gallais commented on #3989
:+1:

Always puzzled by the level error when I write

[code]

[2019-08-15 11:47] UlfNorell commented on #3027
cc #2709 #3870

[2019-08-15 12:50] andreasabel opened #3991 "Allow fractional precedence levels"
This was several times discussed already: precedence levels should be dense, such that you can squeeze an operator precedence between any two existing precedences.
A imho sufficient approximation is to use `Double` for precedence levels.

[2019-08-15 13:30] gallais commented on #3989
The easy way to implement this warning is to look at the `LocalVars` and raise
a warning in case there is a shadowing. But it may be a bit noisy, especially
when we have `where` clauses.

More concretely, what do you expect should happen in the following situations?

[code]

[code]

[code]

[code]

[2019-08-15 14:28] andreasabel opened #3993 "Emacs mode: stay in Agda input mode for C-x r t"
Emacs command `C-x r t` (`string-rectangle`) is not executed in the Agda input mode, but in the plain input mode.  Currently, a manual switch back to the Agda input mode is necessary every time.

[2019-08-15 14:45] guillaumebrunerie opened #3994 "Emacs’ keyboard macros and Agda input method"
Emacs’ keyboard macros don’t work well with the Agda input method. For instance `C-x ( \to C-x e` gives `→\to` instead of the expected `→→`.

[2019-08-15 15:11] andreasabel commented on #3129
It seems that the `bugs` test suite is not run on travis.
Also, I think `bugs` should be run first (even before `succeed`).

[2019-08-15 15:13] gallais commented on #3129
Buried in #3984 is a bunch of changes cleaning up the golden values & output of
the bugs tests to make them more robust (e.g. to ignore the line number of the
`__IMPOSSIBLE__` encountered).

I think we should wait for this to be in before running the tests on travis.

[2019-08-15 15:51] andreasabel commented on #3991
Relevant test case: #1664. (compiler/simple/Issue1664)

[2019-08-15 15:58] andreasabel commented on #3993
Relevant: https://emacs.stackexchange.com/questions/38310/how-to-make-minibuffer-always-use-the-input-method-of-the-main-buffer

Functioning workaround.

[2019-08-15 16:10] andreasabel commented on #3993
@monnier : Maybe this is something to be fixed in emacs, in the rect package? http://git.savannah.gnu.org/cgit/emacs.git/tree/lisp/rect.el
(Pinging you because I saw you contributed the preview functionality.)

[2019-08-15 16:32] andreasabel opened #3995 "New pattern guards do not support case splitting"
The new pattern guards feature (#3880) does not work with case-splitting:
[code]

[2019-08-15 16:42] #3991 closed, assigned to andreasabel

[2019-08-15 16:47] andreasabel commented on #3989
My take would be to only warn about shadowing in the _same telescope_.  That would be warnings for
[code]
However, no warning for
[code]
since the user started a new telescope.  We would need to preserve telescopes carefully until scope checking, of course.

[2019-08-16 15:12] andreasabel opened #3997 "Scope checker (?) superlinear performance"
Looking at the performance of `hiding` I deviced this test (here for n = 10):
[code]
Checking times are on my Mac:
[code]
The test was designed to point to a quadratic behavior in the scope checker which I found while working on #1346, but of course, there could be (many) other sources for the non-linear behavior. (Note: the use of _linear_ is slightly incorrect, since logarithmic factors are mean

[2019-08-17 10:03] juhp opened #4000 "How to get Agda to ignore `~/.agda`?"
I have `~/.agda/` setup for stdlib, but when I "build' a new version of stdlib and do:
[code]
It complains
[code]

However even with `--no-libraries` or `--no-default-libraries` I get the same error.
The old workarounds I know are to change `HOME` or move/delete ~/.agda/.
Does Agda support a way to do this?

(This is not a new issue at all - though today I trying with Agda-2.6.0.1.)

[2019-08-17 10:04] juhp commented on #4000
(Okay maybe if I had Agda-stdlib installed, the `--no-*libraries` options would work?? Even so it is kind of annoying.  -- Also the old stdlib would be for an older version of Agda.)

[2019-08-17 10:42] gallais commented on #4000
[The documentation](https://agda.readthedocs.io/en/v2.6.0.1/tools/package-system.html#installing-libraries) states that Agda looks into `AGDA_DIR` so by locally overriding
this environment variable you should be able to point to a directory that does not
matter.

On my machine, I can typecheck an empty module `m.agda` using this technique by
writing: `AGDA_DIR=/tmp/ agda m.agda` even if my `~/.agd

[2019-08-17 12:18] nad commented on #3989
That might lead to lots of warnings being raised in my code. Perhaps that warning could be turned off by default.

[2019-08-17 12:28] nad commented on #3993
I think it would suffice to set the fifth argument of `read-string` to a non-nil value in the implementation of `string-rectangle` (and similar procedures). The value of this argument could be taken from a user-customisable variable.

[2019-08-17 12:45] nad commented on #3994
This is presumably not specific to the Agda input method, but rather a poor integration of keyboard macros and (Quail?) input methods in Emacs.

[2019-08-17 21:07] gallais commented on #3989
I just ran the current implementation of the warning on the whole stdlib and got
26 hits which is not too bad for ~70k LoC. Most (perhaps even all, I have not
checked thoroughly) of these are a lowercase letter being used both for a `Set`'s
level and then a value in that `Set`. Meaning that they would go away after a
simple cleanup of the file to use `variable` for levels.

If you have the time @n

[2019-08-18 05:43] #4000 closed, assigned to gallais

[2019-08-18 10:26] andreasabel commented on #1829
@UlfNorell @nad @Saizan : While working on #1346, I made the following innocuous refactoring:  I made a custom lens
[code]
that accesses two fields of `ScopeInfo` at the same time and used it in `computeFixitiesAndPolarities` instead of both of the lenses `scopeFixities` and `scopePolarities`.  This change causes the test case to fail (see e.g. above, travis build 6066).  Apparently, introduces a

[2019-08-18 11:08] Saizan commented on #1829
`useScope` (because of `useR`) forces the result of projecting the lens, this usually prevents retaining the whole structure when we only need a field, however your combined lens adds an extra layer of laziness with the pairs, so the actual projections remain unforced.

I guess `scopeFixitiesAndPolarities` could add some strictness when building the pair?

[2019-08-18 11:20] andreasabel opened #4004 "LANGUAGE BangPattern as default extension in Agda.cabal"
Why is extension `BangPatterns` not enabled by default?

Maybe because of:

(quoted from https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extension-BangPatterns)

However, I think this is a very small incompatibility with standard Haskell, which we are unlikely to hit often.  (How often do we define a function `(!)`?)

[2019-08-18 11:28] andreasabel commented on #1829
Thanks @Saizan.  Your explanation is consistent with my findings by trial-and-error.

Interestingly, forcing the components of the _old_ value `fp0` is sufficient.
I am currently testing the following version of the lens:
[code]

[2019-08-18 11:29] nad commented on #3989
Issue #3960 affects a module that a fair amount of my code depends on…

That was the kind of code I was thinking of.

[2019-08-18 11:35] nad commented on #1829
Perhaps it also makes sense to make the second argument to `<&>` strict in the pair.

[2019-08-18 14:17] andreasabel commented on #3997
After fixing `applyImportDirective` in PR #3996, there is still a quadratic behavior left in the parser or scope checker.  It manifests already in a postulate statement with _n_ entries.

[2019-08-18 19:17] nad opened #4005 "Regression related to abstract"
The following code is accepted by Agda 2.6.0.1, but not by Agda 2.6.1-591cb95:
[code]
The code is accepted if `module _ ` is removed, or if the type of `F` is changed to `Set → Set`.

Bisection points towards e8c7ad0f6d8ec4a52353a0c35883c68a82964535 ("[ conversion ] Compare types without knowing (or caring about) the sort").

[2019-08-19 08:07] andreasabel commented on #1829
What do you suggest? The following?
[code]
What is the rationale?  (Andrea's explanation was that projections from the state need to be forced.)

[2019-08-19 08:24] nad opened #4006 "Internal error related to abstract and variable"
The following code is rejected:
[code]
Error message:
[code]

[2019-08-19 08:25] nad commented on #1829
Yes.

This might make the code more strict. (The fields of `s` are not strict.)

[2019-08-19 08:41] nad opened #4007 "Cannot give pattern-matching lambda in abstract setting"
[code]
Agda complains when I try to "give" the given expression in the hole above:
[code]

[2019-08-19 08:44] nad commented on #4007
Here is a related test case:
[code]
[code]

[2019-08-19 09:45] Saizan commented on #1829
`f' !fixs !pols = f (fixs, pols)` is what I was thinking of.

About the second argument:

A bang here is not making things stricter `\ !(fixs, pols) -> ...`, there's already a constructor match.

Bangs here do  `\ (!fixs, !pols) -> ...`.

[2019-08-19 11:07] nad commented on #1829
Right, I was thinking of the special treatment of pattern bindings in Haskell (they are by default lazy), but that does not apply here. And I don't think forcing the pair constructor makes much of a difference anyway. Forcing the components might have some effect, but in that case it is perhaps better to make the fields strict.

[2019-08-19 11:25] andreasabel commented on #1346
Implementation of this feature:  for renamed names, set the `nameFixity` attribute of `A.Name` during `applyImportDirective`.

[2019-08-19 11:56] andreasabel commented on #4007
Weird, since `giveExpr` does enter the context of the metavariable using `withMetaInfo`, which sets the `TCEnv` containing the `envAbstractMode` flag.

[2019-08-19 12:09] andreasabel commented on #4007
Testing giving
(a) `\ { x -> c }`
(b) `\ { c -> c }`

on  previous Agda versions:
- 2.4.2.4 does not even accept `works`.
- 2.4.2.5 - 2.5.1.1 accept (a), complain for (b) about `type mismatch`.
- 2.5.2 (a) complains `Not in scope: Issue4007.D.c (did you mean 'c'?)` :D, (b) type mismatch.
- 2.5.3 has same behavior as current Agda.

So, 2.5.2 introduced a regression for (a) while (b) may have never

[2019-08-19 15:03] andreasabel commented on #4007
Puh, a >3 hour bug hunt.  Everything was set up already for this to work correctly.
- `checkExtendedLambda` respects the `defAbstract` information coming with the `A.DefInfo` of the `A.ExtendedLam`.
- `scopeCheckExtendedLam` puts the information about abstract in from the `TCEnv` when creating the extended lambda.
- `giveExpr` runs in the context of the interaction meta; thus, in `AbstractMode`.

[2019-08-19 16:09] #4007 closed, assigned to andreasabel

[2019-08-19 16:38] nad opened #4009 "Some warnings are shown for already type-checked files, but not all"
Consider the following code:
[code]
Let us type-check the code:
[code]
Now let us type-check the code again:
[code]
Note that the second warning has disappeared.

[2019-08-19 16:39] nad commented on #3989
One fairly large library (roughly 100 modules) triggers 19 occurrences of this warning. However, some of these warnings shouldn't have been triggered:
[code]
(I use this kind of code to inform Agda that a certain lambda is a regular lambda, and not an interval lambda.)

[2019-08-19 17:26] andreasabel opened #4010 "unquoteDef fails in abstract block"
`unquoteDef` fails in an `abstract` block.  I'd assume the following to work:
[code]
Error:
[code]

[2019-08-19 18:54] WolframKahl commented on #3989
[code]
This also demonstrates the the error message should say `repeated variable names`, because `_` is a nameless variable. :wink:

[2019-08-19 19:20] andreasabel opened #4012 "Internal error when accessing abstract definitions created by unquoteDef/Decl"
After fixing #4010, an internal error surfaces:
[code]
Checking `refl` gives:
[code]
Smells like the wrong version of `getConstInfo` ends up being used somehow.

[2019-08-19 20:59] #4010 closed, assigned to andreasabel

[2019-08-20 05:56] gallais commented on #3989
Strange given that [I explicitly filter out names which satisfy `isUnderscore`](https://github.com/agda/agda/commit/2a90ac810fc8c725c2c8da07e4d98f39094436ee#diff-1ba4da578c81df6cfc7553917faf0bd4R206).

[2019-08-20 07:28] andreasabel commented on #4012
The problem is actually that `defineFun` adds functions always as `ConcreteDef`, which is easy to fix.  Continuation of #4010.

[2019-08-20 08:11] #4012 closed, assigned to andreasabel

[2019-08-20 08:50] andreasabel commented on #3926
TODO: improve documentation according to @JLimperg 's suggestions.

[2019-08-20 11:52] andreasabel opened #4016 "Don't raise internal errors during debug printing"
Debug printing may trigger an internal error when attempting to show a value that has occurrences of `__IMPOSSIBLE__`.  One way to avoid this would be to not put `__IMPOSSIBLE__` into data, even if upon regular program execution this value should not be accessed.  A better way seems to just no crash when printing something with `__IMPOSSIBLE__` values, but catch the exception during debug printing

[2019-08-20 14:04] andreasabel commented on #4016
I manage to implement something by generalizing `catchImpossible` to `TCM`.
Internal errors are caught though only when debug _printing_ something; because then, we can turn the caught internal errors into strings.  Thus, internal errors thrown during `reportS` and `traceS` are caught, but not everything inside `verboseS` is safe from triggering internal errors.  Thus, do not write debug code like

[2019-08-20 16:18] andreasabel opened #4018 "Compiler test for GHC 8.0.2 takes too long"
Issue #3239 is back, the travis instance for 8.0.2 runs out of time due to the compiler-test (AllStdLib).  The fix then was an increase of the RTS parameter `-H` to 2G.  The maximum heap size `-M` is currently 3G.

See also #3792, which was fixed by optimizing the GHC backend.

Seems like from build 6083 on https://travis-ci.org/agda/agda/builds/573485300  the failure is persistent.

[2019-08-20 16:33] #4016 closed, assigned to andreasabel

[2019-08-20 19:38] andreasabel commented on #2284
See #3989 for some work in this direction.

[2019-08-20 19:40] andreasabel commented on #3989
See #2284 for the original issue, which also asks for a warning for lambdas, e.g. `\ x x -> x`.

[2019-08-20 19:51] andreasabel opened #4019 "Don't put highlighting for imported warnings in current buffer"
When I open a file that has already an .agdai file, like opening `test/Succeed/ImportWarnings.agda`, it puts highlighting stemming from the ranges of warnings in the imported files onto the current file.

This looks as in the attached screenshot.
<img width="522" alt="Screenshot 2019-08-20 at 21 50 11" src="https://user-images.githubusercontent.com/1155218/63379425-9726f680-c394-11e9-9d35-696ad21f

[2019-08-20 20:14] juhp commented on #4000
Thanks
Yeah happy to get #4k :smile:

[2019-08-20 23:49] JasonGross opened #4020 "Rewriting incorrectly considers level variables under lambdas as unbound in the LHS"
[code]
I think this should work just fine, especially given that the similar rule
[code]
does, in fact, work.

[code]

[2019-08-21 07:54] andreasabel opened #4022 "Interaction feature `SearchAbout` (C-c C-z) has no tests?!"
I did some refactoring on the module `Interaction.SearchAbout` but couldn't find any test in `test/interaction` nor `test/lib-interaction` covering this feature (`Cmd_search_about_toplevel`, `C-c C-z`).
Note that features not covered by regression tests are likely to get broken in course of time.

@gallais could you add some tests please?

[2019-08-21 08:43] #2250 closed, assigned to gallais, andreasabel

[2019-08-21 08:43] #3983 closed, assigned to gallais

[2019-08-21 09:53] #2284 closed, assigned to gallais

[2019-08-21 12:12] #4022 closed, assigned to gallais

[2019-08-21 17:36] #3977 closed, assigned to L-TChen

[2019-08-21 17:49] L-TChen opened #4025 "Revise the Travis CI environment for more platforms and automatic upload"
As discussed in #3981, we should set up new build environments for Windows and perhaps for macOS, too, since Travis now supports them as well as multi-platform support.

https://docs.travis-ci.com/user/multi-os/

As a by-product, we can also release nightly and stable builds automatically via Travis for all platforms we support.

https://docs.travis-ci.com/user/deployment/releases/

I open this is

[2019-08-21 18:09] L-TChen commented on #4018
I'd suggest to use Stack as the official build tool so that we can simply ditch 8.0.2.

Stack downloads a GHC compiler of the specified version and builds a package in an isolated environment, and it doesn't matter what GHC exists in the system---to some extent it is platform-independent. Then, we can avoid hassles related to 8.0.2. Personally, I would like to move up to 8.4 since `Semigroup` is a

[2019-08-21 21:09] gallais opened #4026 "Warning for COMPILE pragmas at scope-checking time"
This issue is twofold:
* [x] Make scope errors in COMPILE pragmas a warning (simply drop the pragma)
* [ ] Warn of duplicates at scope checking time instead of waiting all the way to the call to the backend

[code]

[2019-08-22 07:34] UlfNorell commented on #3930
Problem is indeed with reduction, but not really related to #3898. The problem there is during the analysis of which arguments are forced. In this case the problem is the translation of left-hand sides to rebind patterns in forced positions. Fix: #4028.

[2019-08-22 08:47] andreasabel commented on #4018
I am not using stack and other container systems habitually since they eat up my diskspace so quickly.  The unit of consumption here seems to be GB; if I had a 5000 GB hard drive, I would not care, but with my current capacity it is too much clean-up and maintenence work.  Thus, I am hesistent to commit to stack yet.

Also, some of our clients use the haskell packaged by linux distros, and we want

[2019-08-22 08:58] nad commented on #4018
[code]

[2019-08-22 09:21] andreasabel opened #4029 "Package / library identifiers"
If I want, say, to use to different versions of some module, say `Data.Stream`, from two different external libraries, say `standard-library` and `foo`, I think there is no nice way in Agda to do that.

A most basic way to fix that is to introduce _package prefixes_ into module names for disambiguation, e.g.
[code]
Naively, this will fail still if both `Data.Stream` modules import a module that is

[2019-08-22 10:11] nad commented on #2754
Is this a duplicate of #2530?

[2019-08-22 10:24] nad commented on #4029
You take up several things at once:
* I definitely think that "A package should be self-contained and only depend on previously defined things, in the same way that modules do". See also #2770.
* How to handle duplicate module names is a different question. There is a GHC extension called PackageImports which is similar to one of your suggestions. However, I've rarely seen it used in practice, and

[2019-08-22 11:10] UlfNorell commented on #2754
It looks like it is. Note also that since #3522 `--ignore-interfaces` already does not ignore builtin modules.

[2019-08-22 18:28] andreasabel commented on #4022
Thanks!

[2019-08-22 19:27] andreasabel commented on #4025
On a related note: We could make use of `travis stages` (see e.g. https://bytes.babbel.com/en/articles/2018-10-30-travis-build-stages.html) to abort a travis run more quickly if it is bound to fail.  For instance:

1. First stage runs the STACKAGE tests.  They complete usually in <10min.  We could add here the user-manual build which takes <2min.
2. Second stage runs the remaining CABAL tests whic

[2019-08-23 10:11] nad commented on #4025
I'd rather not pollute the commit history with Travis commands.

[2019-08-23 22:55] JasonGross commented on #4020
Here's another example that doesn't work, which is currently causing me a great deal of pain:
[code]

[2019-08-24 00:08] JasonGross opened #4032 "Loss of subject reduction involving --rewriting even when --confluence-check is on and everything passes the confluence checker"
Consider the following code
[code]

It does not work.  However, if I replace `g2` with `g1` in the type of `pf` at the end, then it works fine.  But the normal forms of `g1` and `g2` are both `λ f x → f x` (as shown by `C-c C-n`), and Agda can prove them equal by `refl`.  But when I inline the normal form of `g1` into a working type for `pf`, Agda no longer succeeds in typechecking my file.  Even