[2018-10-16 10:58] nad commented on #3272
If the idea is to support generalisable variables of the implicit and instance kinds, but not the explicit kind, then I suggest that Agda should raise a (non-fatal) error when the latter kind is encountered.

[2018-10-16 11:00] nad commented on #3274
I wonder how brittle this approach is. Does the result, for instance, depend on implementation choices in the conversion checker?

[2018-10-16 11:03] wenkokke commented on #3270
I guess the real fix would be to have public and private includes? Or to just recommend the workaround of separate modules?

[2018-10-16 11:05] nad commented on #3275
This feature might be convenient for the programmer, but I wonder how easy it will be to read source code that uses it.

[2018-10-16 12:34] UlfNorell commented on #3274
Allowing this make things less brittle. Without it, it would matter whether a generalisable meta is instantiated to a non-generalisable meta or the other way around.

[2018-10-16 12:41] UlfNorell commented on #3272
It seems really petty to force people to write the curlies around all generalizable variables. I would argue that the default expectation is anyway that generalised variables are implicit so it won't create a lot of confusion to just implement this.

[2018-10-16 13:09] divipp commented on #3117
This has a separate issue now:  #3275

[2018-10-16 13:17] divipp commented on #3117
Implemented on the `generalize` branch.

[2018-10-16 13:29] divipp commented on #3117
See also #3163

[2018-10-16 13:44] divipp opened #3280 "Access generalized variables by name"
Currently generalized variables may be accessed by position only.
A possible enhancement would be to access generalized variables by name.

Questions:

- The algorithm currently chooses one hierarchical name, even though other names might also make sense.  Should all of them be allowed when giving arguments by name?

(This issue is a simplified summary of #3117)

[2018-10-16 13:44] divipp commented on #3117
Closed in favor of #3280

[2018-10-16 13:44] #3117 closed, assigned to nobody

[2018-10-16 14:27] divipp opened #3281 "cascading generalized variables"
(This issue was extracted from discussion #3117)

Consider

[code]

The point is that `i` was named in the variable declaration `X`, so `X` should have type `Set i` in any context.

If one wants the current behavior then one could write either of the following two solutions:

[code]

Second solution (a bit more verbose):

[code]

[2018-10-16 15:12] divipp opened #3283 "be able to highlight inline Agda code"
It would be nice to be able to highlight inline Agda code approximately.
This would be used in literate Agda code.

There is an approximate Agda syntax highlighter in the [skylighting Haskell package](http://hackage.haskell.org/package/skylighting), but there could be also an approximate guess whether an identifier is a constructor or not too.

Example (suppose that markdown comments are supported

[2018-10-16 15:15] gallais commented on #3283
Note that there is already something a bit similar in the latex backend. Cf. [the wiki](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.LiterateAgda)

## Semi-automatically typesetting inline code

Since Agda version 2.4.2 there is experimental support for semi-automatically typesetting code inside text, using the references option. Here is a full example.

#### Example.lagda

    \documentc

[2018-10-16 15:17] andreasabel opened #3284 "`make internal-test` does not rebuild the internal test suite"
Reproduce:
1. `make install-bin`
2. modify some files under `test/Internal`, like commenting out some tests
3. `make internal-tests`

This does not recompile the internal test suite, thus, does not take changes in 2. into account.

[2018-10-16 15:23] UlfNorell commented on #3281
I don't think this is a reasonable expectation. It seems like naming the level would make the variable all but useless if we enforce this.

I read
[code]
as "`X` should be generalised `Set i`, *for some level `i`*". Not that the level of `X` must always be called `i`.

[2018-10-16 15:28] UlfNorell commented on #3284
Easy fix: add `install-bin` as a make dependency of `internal-tests`. Might be annoying when running the test suite though, since it would rebuild Agda in the middle of the tests.

[2018-10-16 16:55] #2273 closed, assigned to jespercockx

[2018-10-16 20:40] #3277 closed, assigned to asr

[2018-10-16 20:40] asr commented on #3277
After closing the issue, all the current versions of GHC supported are using `text` >=1.2.3.1 except GHC 8.4.1, 8.4.2 and 8.4.3.

I made the exception for keeping "not-official" support for those versions of GHC.

[2018-10-17 00:50] ice1000 opened #3285 "Internal error for syntax declaration"
![image](https://user-images.githubusercontent.com/16398479/47055347-089a8500-d185-11e8-9f15-961167ff5148.png)
This works fine, but:
![image](https://user-images.githubusercontent.com/16398479/47055358-17813780-d185-11e8-84f2-1513e21838b8.png)

This code causes the parser internal error.

[2018-10-17 02:54] asr commented on #3245
Note that the example in the OP doesn't use `tasty`.

[2018-10-17 02:56] asr commented on #3228
We haven't included a `.msi` installer for Windows in the releases. I suggest to file a new issue requesting it.

[2018-10-17 04:00] ice1000 commented on #3228
On Agda Wiki: http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Windows

[2018-10-17 10:27] andreasabel commented on #3284
I imagine this won't work since then for `make install-bin test` cabal will be called twice, and each call to `cabal install` costs me 20sec.  (Since cabal unconditionally runs the linker even if nothing has changed.)

[2018-10-17 11:02] gallais commented on #3228
Cf. #3286

[2018-10-17 12:30] asr commented on #3228
[Aaron Stump](http://homepage.divms.uiowa.edu/~astump/), the author of the [installer]( http://homepage.divms.uiowa.edu/~astump/software.html), was so kind in share it on the Wiki. I don't know if Aaron is planning to update the installer. Before thinking in include an installer, we need a CI on Windows (see #2058). Any help is welcome. Ping @astump.

[2018-10-17 18:48] ice1000 commented on #3285
I know the code is invalid, but it can't be the reason for the compiler to crash.

[2018-10-17 18:52] gallais commented on #3285
Note that it's easier for us if you submit *code* rather than just screenshots.
This way we don't have to transcribe whatever is in the image into text.

[2018-10-17 20:22] ice1000 commented on #3285
[code]

[2018-10-17 21:52] UlfNorell commented on #3284
I think your imaginary `make` is not the same as the real `make` and you'll find that it will only call `cabal install` once.

[2018-10-17 21:57] ice1000 opened #3288 "Termination check failed for copattern version of fibonacci sequence"
Code:

[code]

I tried `C-c C-n` to find if my declaration of `cofib` is correct with this helper function:

[code]

`cofib !! 5` gives `5`, `cofib !! 10` gives `55`, seems the semantics is correct.

However, this code does not cause any termination error:

[code]

Error message:

[code]

[2018-10-17 21:58] ice1000 commented on #3288
As a reference, I read https://www.irif.fr/~letouzey/types2014/abstract-40.pdf

[2018-10-17 21:59] ice1000 commented on #3288
Oh! Seems that I've missed the `Size` and `Size<` part. Sorry for bothering.

[2018-10-17 21:59] #3288 closed, assigned to nobody

[2018-10-17 22:20] nad commented on #3284
Sometimes I edit the source code while running the test suite, and I want to decide by myself whether or not to recompile.

[2018-10-17 23:12] UlfNorell opened #3289 "Postfix projections should not have hiding information"
Something is not quite right:

[code]

I propose that it should not be allowed to put postfix projections in (any kind of) braces, and consequently not complain about wrong hiding for postfix projections.

[2018-10-18 11:01] fredrikNordvallForsberg commented on #3285
Minimal example:
[code]
results in

[code]

[2018-10-18 12:54] UlfNorell opened #3290 "Generalized variables of function type"
Does not work at the moment:

[code]

[2018-10-18 15:31] #3285 closed, assigned to andreasabel

[2018-10-18 15:51] #3163 closed, assigned to nobody

[2018-10-18 15:51] #3274 closed, assigned to nobody

[2018-10-18 15:51] #3134 closed, assigned to nobody

[2018-10-18 15:51] #3272 closed, assigned to nobody

[2018-10-18 15:51] #3276 closed, assigned to nobody

[2018-10-18 15:51] #3164 closed, assigned to nobody

[2018-10-18 15:51] #3290 closed, assigned to UlfNorell

[2018-10-18 15:55] #3281 closed, assigned to nobody

[2018-10-18 15:56] #3165 closed, assigned to nobody

[2018-10-18 16:19] UlfNorell opened #3291 "Allow generalization in module telescopes"
[code]

[2018-10-18 16:26] #3166 closed, assigned to nobody

[2018-10-18 16:28] UlfNorell commented on #1706
Now merged and reasonably stable. See the `generalize` label for open issues.

[2018-10-18 16:28] #1706 closed, assigned to nobody

[2018-10-18 16:32] #3157 closed, assigned to nobody

[2018-10-18 16:33] UlfNorell commented on #3126
Also related #3275

[2018-10-18 17:00] UlfNorell opened #3292 "Generalized variables in applied modules don't work"
[code]

[2018-10-18 22:33] semenov-vladyslav commented on #3266
Thanks @nad. Added a test case in `examples/uptodate` and also an exception to `FixWhitespaces.hs`.

I meant `git config core.autocrlf` so that CRLF is not autoconverted to LF which will make test incorrect. Please, check that module `examples/uptodate/C.agda` has CRLF line-ending and I didn't mess up uploading it.

[2018-10-18 22:47] ice1000 commented on #3285
Great!

[2018-10-18 22:49] ice1000 commented on #3291
An off-topic question but I don't know where else can I ask:

Where can I find documentation related to telescopes? https://agda.readthedocs.io/en/latest/language/telescopes.html This page is empty.

[2018-10-19 08:50] UlfNorell commented on #3291
The [mailing list](https://lists.chalmers.se/mailman/listinfo/agda) is a better place for questions like this.

[2018-10-19 09:27] nad commented on #3266
This seems to have worked fine. Please add some documentation to the module so that we know later that it is supposed to have this line ending.

Did you also include test cases for, say, `'\x2029'` and `'\r'`?

[2018-10-19 10:44] semenov-vladyslav commented on #3266
Do you mean a comment in the `C.agda`?

Not yet. Should it be a separate test case, or all cases in one module will do?

[2018-10-19 12:50] jespercockx opened #3293 "Absurd match in a do block"
It would be nice if I could use absurd patterns to end a do block. For example, if `f : m ⊥` for some monad `m`, then I'd like to write:
[code]
Internally, this can be translated to `f >>= λ ()`.

[2018-10-19 13:37] guillaumebrunerie opened #3295 "Allow import of files with incomplete pattern matching"
It should be allowed (maybe under a flag) to import files with incomplete pattern matchings, in the same way as we can import files with unsolved metas via the flag `--allow-unsolved-metas`.

[2018-10-19 13:56] UlfNorell opened #3296 "Generalise in datatype and record parameters"
Needs to generalise both the parameter telescope and the sort.

[2018-10-19 14:02] gallais opened #3297 "Refold let-bindings when displaying goal / filling-in solved metas"
As the title says. test case:

[code]

[2018-10-19 14:40] xekoukou opened #3298 "Discussion : Separating backends and Compiler Tests from the agda repository."
There are two issues when you create a new backend :
A) You need to add pragmas to all the pieces of code that need it. If this piece of code is in the agda repository, like [here](https://github.com/agda/agda/blob/master/src/data/lib/prim/Agda/Builtin/Size.agda#L16), you will have to either fork agda or try to push the pragmas into agda.

B) Compiler tests that are added in agda, need to be added

[2018-10-19 14:42] #3291 closed, assigned to UlfNorell

[2018-10-19 15:01] UlfNorell commented on #3292
Module application in general seems to be broken:
[code]

[2018-10-19 16:10] #3170 closed, assigned to nobody

[2018-10-19 16:10] #3224 closed, assigned to nad

[2018-10-19 16:52] gallais opened #3299 "Variable inferred as erased when it is not meant to be"
Taken from `Data.Integer.Literals` in the stdlib

[code]

[2018-10-19 17:00] gallais commented on #3299
Nevermind it's an interface problem *in the `lib/prim/Agda`* files.

[2018-10-19 17:00] #3299 closed, assigned to andreasabel

[2018-10-19 17:18] nad commented on #3266
Yes, in `C.agda`. You can put all test cases in one module.

[2018-10-19 18:13] semenov-vladyslav commented on #3266
Added description comment and test cases for various line-endings from `readTextFile`.

[2018-10-20 09:24] UlfNorell commented on #3298
For B you could just add the full Agda repo as a submodule to your backend.

For A I don't see how removing the GHC backend pragmas from the builtin modules helps. This makes things harder for the GHC backend without improving the situation for other backends. I think what you want is a way to provide compile pragmas separately from the Agda files for your backend. This could be implemented by the

[2018-10-20 10:40] nad commented on #3266
Can this issue be closed now?

[2018-10-20 12:08] xekoukou commented on #3298
Both B and A then coalesce to one because many tests have ```compile``` pragmas.
I wanted to avoid the clutter of adding pragmas into this repo. This might be the easiest option, though.

(I was thinking that compile pragmas should be prohibited for ```Size``` and that this would be consistent across all backends, for consistency's sake.)

(I like that pragmas are placed in the files that they are

[2018-10-20 21:19] nad commented on #2225
In the light of the action taken in relation to #3224 I'm closing this issue now.

[2018-10-20 21:19] #2225 closed, assigned to nobody

[2018-10-20 21:22] nad opened #3301 "Underscore as the type of a generalisable variable triggers an internal error"
The following code triggers an internal error:
[code]
[code]

[2018-10-20 21:26] nad opened #3302 "Multiple definitions called _ are sometimes allowed, sometimes not"
The following code is accepted:
[code]
However, the following code isn't:
[code]

[2018-10-21 04:42] gallais commented on #3245
Looks like a bug in ghc breaks `containers` on 8.6.1 https://ghc.haskell.org/trac/ghc/ticket/15696

I now understand better why we have errors related to flags and warnings: the new machinery
is using `Set` with big enumerations (the `WarningName` datatype).

[2018-10-21 07:09] asr commented on #3245
It seems we need to wait the release of GHC 8.6.2, so I'm closing the issue.

[2018-10-21 07:15] asr commented on #3228
Due to [this](https://github.com/agda/agda/issues/3245#issuecomment-431638475) comment, 2.5.4 won't include support for GHC 8.6.1. I'll wait the merge of #3286 and the Travis test using the standard library 0.17 for preparing the release candidate.

[2018-10-21 09:57] UlfNorell commented on #3292
It seems hard to give a reasonable semantics to generalisable variables from let-opened modules. The only thing that makes sense is to do the generalisation at the point of the let, but this leads to hard questions about nested generalisations which I'm pretty sure we don't want to worry about. I've fixed this issue by given a nice error message if you try to use generalisable variables from let-o

[2018-10-21 15:25] semenov-vladyslav commented on #3266
Yes. Looks good.

[2018-10-21 15:25] #3266 closed, assigned to nobody

[2018-10-21 23:00] guillaumebrunerie opened #3305 "Records with many fields using generalize take an exponentially long time to type check"
The code below takes a very long time to type check. This is a regression compared to a few weeks ago where it type checked very quickly.

[code]

[2018-10-21 23:03] guillaumebrunerie opened #3306 "Records with many fields using generalize take an exponentially long time to type check"
The code below takes a very long time to type check. This is a regression compared to a few weeks ago where it type checked very quickly.

[code]

[2018-10-22 09:43] bishboria opened #3307 "`--no-unicode` bug: case splitting inside a pattern matching lambda still produces unicode arrows"
Given the following code, with `--no-unicode` switched on:

[code]

Case splitting on `b` inside the pattern matching lambda still produces unicode arrows:
[code]

agda version: 2.6.0

[2018-10-22 09:55] bishboria opened #3308 "`--no-unicode` still producing unicode in pattern matching lambdas"
Given the following code, with `--no-unicode` option switched on:

[code]

Splitting on `b` inside the pattern matching lambda produces:
[code]

[2018-10-22 11:06] #3307 closed, assigned to nobody

[2018-10-22 11:08] #3308 closed, assigned to nobody

[2018-10-22 13:45] asr commented on #3228
Done. Thanks to @gallais.

[2018-10-22 13:54] asr commented on #3228
I want to include the fixes of #3224 and #3170. Testing...

[2018-10-22 16:05] guillaumebrunerie commented on #3305
Duplicate of #3306, posted twice as Github was having issues

[2018-10-22 16:05] #3305 closed, assigned to nobody

[2018-10-22 16:28] asr commented on #3305
Right. E.g. pushing a commit does not trigger a Travis build (see [status](https://status.github.com/messages)).

[2018-10-22 17:18] nad commented on #3292
The following code no longer works:
[code]
Is this intended? I don't see any semantic problems with this code.

[2018-10-22 18:28] guillaumebrunerie opened #3309 "Use of irrelevant arguments with copatterns and irrelevant fields"
The code below doesn’t type check with the error `Variable b is declared irrelevant, so it cannot be used here when checking that the expression b has type ;B (fst (f a _))` at the last character.

That doesn’t make sense to me, we are defining the second projection of `f a b`, and `snd` is an irrelevant field, so it should not be a problem that `b` is declared irrelevant, right?

And defining `f

[2018-10-22 18:44] UlfNorell commented on #3292
This is intended. Supporting it is not worth the complication of having let-opened generalisable variables sometimes be allowed and sometimes not.

[2018-10-22 18:44] #3292 closed, assigned to UlfNorell

[2018-10-23 07:08] andreasabel opened #3311 "agda-bisect: Cannot interrupt with C-c"
On Mac OS X at least, `agda-bisect` cannot be cancelled with Ctrl-C.

[2018-10-23 07:56] andreasabel commented on #3284
Ok, then maybe this is just a FAQ.

[2018-10-23 07:56] #3284 closed, assigned to andreasabel

[2018-10-23 08:27] nad commented on #3311
It works fine for me under a different OS.

I've observed that if I type Ctrl-C once, then the program typically shuts down in an orderly way, but if I type it twice, then I might have to do some cleanup afterwards to get the repository back to its original state (more or less).

[2018-10-23 11:07] andreasabel commented on #3309
This checks fine in Agda-2.5.4.1.
agda-bisect blames it on commit e12b34845025f3e1e8a7361bbb52b9f9dec986b2 :
[code]

[2018-10-23 14:29] #3302 closed, assigned to gallais

[2018-10-23 15:00] useronym opened #3312 "Crash in Substitute.hs"
Using the definition of `DList` from [1]:
[code]
I am trying to define a lookup function, but having trouble with the return type for some reason:
[code]
Attempting to fill the hole in the type, I get an error message:
[code]

[1] https://arxiv.org/abs/1808.09234

This is on Agda 2.5.4.1.

[2018-10-23 15:08] nad commented on #3312
This bug seems to have been fixed in the development version.

[2018-10-23 15:08] #3312 closed, assigned to nobody

[2018-10-23 16:12] nad commented on #3187
I have another example that checks without problems without `-Werror`, but fails with `-Werror`. I'll try to construct a small test case later.

[2018-10-23 19:26] nad commented on #3187
The following code is rejected:
[code]
[code]
However, if `-Werror` is not turned on, then the code is accepted, without any warnings.

[2018-10-23 19:27] #3309 closed, assigned to andreasabel

[2018-10-23 19:29] nad commented on #3228
I reopened #3187 after trying to type-check some of my code with `-Werror` activated.

[2018-10-23 19:30] andreasabel commented on #3309
Fixed by also updating the clause telescope using `inverseApplyRelevance`.  Necessary since the refactoring removed that update in https://github.com/agda/agda/commit/e12b34845025f3e1e8a7361bbb52b9f9dec986b2#diff-eead6d9c75712f58755e483984d87ed3L748

[2018-10-23 19:48] gallais commented on #3187
Right. These warnings are [filtered out after the fact](https://github.com/agda/agda/blob/2b1fe5621af463217d190b60003b9229f0317bb9/src/full/Agda/Interaction/Imports.hs#L943) if the unifier manages to find a
solution despite inversion failing.

One way to handle that would be to:
* not fail when `-Werror` is set and a warning of interest is raised
* fail once we wrap-up (where we currently are filt

[2018-10-24 03:39] asr commented on #3228
Done.

[2018-10-24 04:47] ice1000 commented on #3137
Created a PR that might fix this.

[2018-10-24 06:40] UlfNorell commented on #3187
It's not completely obvious what inversion depth warnings correspond to a particular meta. At the point we're issuing the warning we have a constraint `f us = v` where `us` contains some metas. One possibility would be to gather the metas in `us` and not issue the warning if they have all been completely solved.

[2018-10-24 09:15] #3306 closed, assigned to UlfNorell

[2018-10-24 09:37] nad commented on #3228
There was some discussion regarding these changes during the latest Agda meeting. I don't think we should release them before at least one person other than me has tested the new code in a proper development, and checked that the documentation is sufficiently helpful.

[2018-10-24 10:44] fsestini opened #3314 "Result type is non-fibrant when pattern matching on multiple elements of a HIT"
I'm hitting an error when defining n-ary (with n > 1) functions out of HITs by pattern matching on more than one argument. I'm on a21ac60 of Agda and 9fda0c8 of the cubical library.

Consider Z:

[code]

I get the following error when trying to write down addition directly, with no auxiliary functions, by pattern matching on both arguments:

[code]

[code]

Is this intended behaviour? How should w

[2018-10-24 11:34] divipp commented on #3116
To help to close this ticket we could mention here exactly what is missing from the current documentation.

This is missing:

- documentation of irrelevantly generalized variables

[2018-10-24 11:35] divipp commented on #3116
- documentation of places where generalizable variables can be used / limitations where it cannot be used

[2018-10-24 11:39] asr commented on #3228
I see. I excluded the fixes of #3224 and #3170 from 2.5.4.2. How we are going to know that "at least one person other than me has tested the new code in a proper development, and checked that the documentation is sufficiently helpful" before these fixes be released? Are you planning to reopen the issues asking for feedback?

[2018-10-24 11:40] divipp commented on #3116
[link to current changelog](https://github.com/agda/agda/blob/master/CHANGELOG.md#type-checking-and-interaction)
(The user manual should be adjusted to the CHANGELOG before closing this issue.)

[2018-10-24 12:00] gallais commented on #3116
And / or the other way around too. Cf. 8e5b33d7ad6a9f7b01e79c658f07d9fb4a573b6c which fixes errors related to parsing,
out-of-scope identifiers, and conflicting generalize blocks in the user manual.

[2018-10-24 12:14] nad opened #3315 "The primErase primitive is not safe"
At the moment `primErase` is treated as a safe feature. However, @sattlerc pointed out that it is not consistent with univalence.

[2018-10-24 12:20] nad commented on #3315
I don't think `primErase` should be treated as safe even if `--with-K` is active, unless someone presents some convincing theoretical argument for why this is the case.

[2018-10-24 12:30] gallais commented on #3315
We thought a bit about this and couldn't see any way to exploit `primErase` to derive
UIP (unlike with `erase` defined as the constant function returning `trustMe`).

Do we have a proof? Part of the point of the change was to be able to consider `erase`
safe and use it in the stdlib to make some decision procedures more efficient.

Edit: code based on @sattlerc's description of the proof:

[code]

[2018-10-24 12:30] sattlerc commented on #3315
The comment was the usual argument. J shows that primErase p = p for p : Id(x, y). So p = primErase p = refl for p : Id(x, x), i.e. UIP. So replacing primTrustMe by primErase is orthogonal to compatibility with without-K.

[2018-10-24 13:34] asr commented on #3312
@nad, why did you add the `not-in-changelog` label?

[2018-10-24 13:42] asr commented on #3312
Also fixed in 2.5.4.2.

[2018-10-24 13:43] nad commented on #3228
I don't think we should release these changes only a week or so after they have been implemented, unless someone else tests them first.

[2018-10-24 13:48] nad commented on #3312
Because this had already been fixed. However, this does not guarantee that there is another ticket for it, so feel free to remove the label if you want to.

[2018-10-24 13:54] asr commented on #3312
You shouldn't use the `not-in-changelog` label on issues on *released versions* but already fixed in upstream. I removed the label.

[2018-10-24 14:00] asr commented on #3228
Thanks. I changed the milestone of this issue.

I'm going to to prepare the release candidate, so the branch is "frozen".

[2018-10-24 14:04] Saizan commented on #3314
Hi, thanks for the report. This looks like a bug to me.

It's funny I can only trigger it by that specific configuration of patterns, e.g. splitting on both x and y at the same time works fine.
[code]

From the type error it sounds like it's trying to generate a clause for the case where both arguments are ```hcomp```, I need to think more about that case.

[2018-10-24 14:11] #3301 closed, assigned to nobody

[2018-10-24 14:48] nad commented on #3301
Perhaps we could document the following workaround:
[code]

[2018-10-24 14:49] nad commented on #3312
If an issue is reported twice, then I don't think we should include the duplicate report in the changelog.

(However, in this case I couldn't be bothered to find out if the problem in the OP had actually been reported before.)

[2018-10-24 17:14] nad opened #3316 "Better error message when C-c C-m is used to declare or define something"
I suggest that some kind of informative error should be raised when commands like `declareDef` or `defineFun` are invoked (directly or indirectly) by `agda2-elaborate-give`. At the moment you can get some not very informative errors:
[code]
[code]

[2018-10-24 19:00] identicalsnowflake opened #3317 "Internal error frequently showing"
I just updated Agda for the first time in a while, and get this internal error all the time, although weirdly, it... seems to work, type check the file, color everything in emacs, and then display the internal error:

[code]

Looking at the logs, it says it can't find the paths for any of the Agda files used, but... when I try opening these files, they're definitely there, and they're absolute pat

[2018-10-24 19:17] halfaya commented on #3316
This is not really specific to `agda2-elaborate-give` since the intention is to give exactly the same feedback as you'd get if you entered the term manually, and if you insert `;Example.A` into the hole you'll get the identical error message, so perhaps that error message (and anything related) needs to be improved.

Incidentally what is the meaning of the ; prefix? It seems it was added recently

[2018-10-24 19:20] halfaya commented on #3316
One possible improvement for `C-c C-m` might be to display the raw term generated along with the error message, since that would give some extra context to help the user interpret the message. The raw term is would be what is displayed by `C-c C-;`.

[2018-10-24 19:42] nad commented on #3316
See #3127.

[2018-10-24 19:45] nad commented on #3317
This sounds like #3199. Are you using the development version, or 2.5.4.1?

[2018-10-24 19:49] identicalsnowflake commented on #3317
I think the dev version, `agda --version` shows `Agda version 2.7.0-de976e2`.

[2018-10-24 20:33] nad commented on #3317
Are you using the `future` branch? The problem seems to be fixed on the `master` branch.

[2018-10-24 20:33] #3317 closed, assigned to nobody

[2018-10-24 21:16] nad opened #3318 "Lots of primitives and builtins are not declared in the primitive/builtin modules"
Lots of (mostly but not only cubical) primitives and builtins are not declared in the primitive/builtin modules. I guess most or all of them should be.

The following primitives are missing:
* `primFaceForall`
* `primGlue`
* `primIdElim`
* `primLevelMax`
* `primLevelSuc`
* `primLevelZero`
* `primPushOutElim`
* `primPushOutForward`
* `primPushOutHComp`
* `primSetOmega`
* `prim^glue`
* `prim^unglue`

[2018-10-25 04:53] UlfNorell commented on #3116
- #3301: workaround for no sort generalization

[2018-10-25 04:54] UlfNorell commented on #3301
I did put that in the warning, but something in the manual also makes sense. I added a note to #3116.

[2018-10-25 05:13] andreasabel commented on #3315
Also, the name `primErase` is too generic.  It should reference equality in its name.  I suggest `primEraseEq`.

[2018-10-25 08:14] nad commented on #3315
Why not `primEraseEquality`?

[2018-10-25 08:17] nad commented on #3315
I wonder if the use of the term "erase" is misleading with this new primitive. The old `erase` function "erased" its argument by reducing to `primTrustMe`. However, `primErase` only reduces if the two sides are definitionally equal.

[2018-10-25 12:52] jespercockx commented on #3315
Wouldn't it make more sense to make `primErase` mutually exclusive with `--without-K` instead of excluding it from `--safe`? (or at least in addition to)

[2018-10-25 13:05] sattlerc commented on #3315
Or you could require an extra argument that the supplied type is an h-set.

On Thu, Oct 25, 2018 at 2:53 PM Jesper Cockx <notifications@github.com>
wrote:

[2018-10-25 13:25] jespercockx commented on #3315
So far I've been hesitant to allow users to give proofs of UIP for specific types for the purpose of `--without-K`, since it would allow you to turn a *propositional* h-set into a *definitional* one, which is in general not conservative (I think). Another problem is that the actual proof of UIP is not recorded anywhere in the term, which is problematic if it contains free variables. Probably the s

[2018-10-25 16:45] identicalsnowflake commented on #3317
Ya, I'm on `future`. I'll try `master`.

[2018-10-25 16:45] nad commented on #3315
Do we have a solid argument showing that `primErase` is safe for sets?

[2018-10-25 17:47] #2946 closed, assigned to nobody

[2018-10-25 17:54] UlfNorell commented on #3317
@identicalsnowflake `future` is actually `2.5.4` right now. Since we haven't got any features that shouldn't go in `2.6.0` we're not bothering to keep `future` up-to-date. You'd be better off picking either `2.5.4.1` (or soon `2.5.4.2` I guess) or `master`.

[2018-10-25 18:24] identicalsnowflake commented on #3317
Ok, ya I've switched to `master` and everything works.

[2018-10-25 18:53] nad commented on #2453
I have tried to document the current behaviour:

Perhaps it would make sense to change the semantics as outlined [above](https://github.com/agda/agda/issues/2453#issuecomment-388412965), or in order to simplify the quoted text.

[2018-10-25 19:34] nad opened #3320 "Extra indentation when code is hidden"
When code is hidden the resulting document sometimes contains possibly unintended extra indentation. Here are some examples:
[code]

Result:

![bug](https://user-images.githubusercontent.com/293222/47525296-2a8aba80-d89d-11e8-94c6-599a4fa645f2.png)

I think it would be nice if this could be (at least partially) fixed in some way.

[2018-10-25 20:10] ice1000 opened #3321 "Emacs mode: support emacs' own highlighting schema"
As we can see, Emacs has some default highlighting schema: https://www.gnu.org/software/emacs/manual/html_node/elisp/Faces-for-Font-Lock.html

In current Agda's emacs mode, we hard-code some colors:
https://github.com/agda/agda/blob/8bce5a940adf2b0a7c8917d15202046dbf86229d/src/data/emacs-mode/agda2-highlight.el#L225-L367

At least we should provide an option to use the default schema.

[2018-10-25 20:30] jespercockx commented on #3315
What do you mean with 'safe' exactly? Certainly `primErase` exists in all of the standard set models of type theory, since semantically it's just the identity function.

[2018-10-25 20:50] nad opened #3322 "The QuickLaTeX backend handles field labels in record expressions incorrectly"
The QuickLaTeX backend does not handle field labels in record expressions correctly. The following document is compiled without problems (by XeLaTeX) when the LaTeX backend is used, but not when the QuickLaTeX backend is used:
[code]
The QuickLaTeX backend currently generates the following code for the last line:
[code]
Note that `\AgdaField` is not applied to `⊥`. My guess is that no aspect is ge

[2018-10-25 20:54] nad commented on #3320
I've implemented a partial fix. Some of the test cases are now handled correctly:
[code]
![bug](https://user-images.githubusercontent.com/293222/47529693-cd950180-d8a8-11e8-918a-048823134bd1.png)

[2018-10-25 20:55] nad commented on #3320
I don't think I will try to fix the remaining cases in the near future.

[2018-10-25 20:55] #3320 closed, assigned to nobody

[2018-10-25 21:04] nad commented on #3322
This is a regression, presumably related to #3120 (see 209639d927054a4e88cecc820fc6c7ff0d3813ea).

[2018-10-25 23:13] guillaumebrunerie opened #3323 "Internal error with inconsistent irrelevance info between declaration and definition of data type"
The code below gives an internal error. It works if we either remove the dot, or add a dot in front of the second `A`.
[code]
[code]

[2018-10-26 00:12] ice1000 commented on #3137
For those who don't have patience to read the PR:

+ This should only work with the HTML backend:
  + It has something to do with the HTML header/footer
  + It's pointless to generate LaTeX/GHC/JS with comments not preserved
+ This will prevent the HTML renderer from escaping the non-Agda-code characters, so markdown symbols like `>` will be preserved as-is
+ This will remove the HTML header/foote

[2018-10-26 00:46] ice1000 commented on #3321
What? `icebox`?

Are `icebox` issues expected to fixed by third-party contributors? Will those fixed issues be included in releases?

[2018-10-26 02:59] asr commented on #3321
See https://github.com/agda/agda/issues/2473#issuecomment-391586929.

Yes. If an `icebox` issued is fixed, we change its milestone to the version to be released.

[2018-10-26 04:48] ice1000 commented on #3321
Thank you!

[2018-10-26 09:17] nad commented on #3315
I guess safe means "we believe that this is consistent and will not lead to segfaults", or something like that.

[2018-10-26 09:21] jespercockx commented on #3315
Well, then I'd say having `primErase` for `--with-K` is pretty safe:
- The standard set model ensures that it is consistent
- Equality is a one-constructor datatype so it is erased anyway at runtime, so this certainly won't *introduce* any new segfaults. It only affects type-checking behaviour.

[2018-10-26 14:08] andreasabel commented on #3311
Cannot reproduce now.  I will reopen if I can reproduce it.

[2018-10-26 14:08] #3311 closed, assigned to nobody

[2018-10-26 15:06] andreasabel commented on #3322
In #3120, I removed the highlighting of record fields coming from the scope checker.  This is actually not necessary, since the disambiguation information from the type checker will overwrite the aspects produced by the scope checking highlighting pass.

Fixed by restoring the removed lines for extracting highlighting info of fields.

[2018-10-26 15:06] #3322 closed, assigned to andreasabel

[2018-10-26 21:34] guillaumebrunerie opened #3324 "Pattern matching on datatypes in Prop fails in some cases"
The definition of `g` should work, I believe.
[code]
[code]

[2018-10-26 21:41] guillaumebrunerie opened #3325 "Pattern matching out of Prop to a Set, but as an irrelevant function"
I expected it to be possible to pattern match out of a `Prop` into a `Set` when the function is tagged as being irrelevant, but I am not sure how `Prop` and irrelevance are supposed to interact so I may be wrong.

[code]
[code]

[2018-10-26 21:52] guillaumebrunerie opened #3326 "Interaction between --prop and --type-in-type"
There seems to be various weird interactions between `--prop` and `--type-in-type`. For instance the file below only type checks if we *remove* `--type-in-type`.
[code]
[code]

[2018-10-27 04:41] asr commented on #3228
I uploaded to Hackage the package candidate [2.5.4.2 RC 1](https://hackage.haskell.org/package/Agda-2.5.4.1.20181027/candidate) and I tested its installation on Ubuntu with GHC 8.4.4, 8.2.2, 8.0.2 and 7.10.3.

Could someone test the installation on macOS and Windows using the following instruction:

[code]

[2018-10-27 06:09] UlfNorell commented on #3228
- [x] MacOS X, ghc-8.4.3

[2018-10-27 09:31] andreasabel opened #3327 "NO_UNIVERSE_CHECK pragma is global by cut-and-paste error in Concrete.Definitions"
While working on #3246 I detected a fatal typo (cut-and-paste error)
https://github.com/agda/agda/blob/65ec6605a0371ead3cd53d09c2175d102f09b14b/src/full/Agda/Syntax/Concrete/Definitions.hs#L733-L736
that can be exploited to prove false:
[code]

Introduced in commit be89d4a8b264dd2719cb8c601a2c7f45a95ba220.

Lesson: even trivial syntax mangling such as in Concrete.Definitions can open the door to e

[2018-10-27 10:51] guillaumebrunerie opened #3328 "Allow universe polymorphic functions for both Set and Prop"
I would like to be able to define a universe polymorphic function which could be applied to both types in `Set` and in `Prop`. Given that `Prop` is not of the form `Set i`, it doesn’t seem possible using the current universe polymorphism infrastructure.
I skimmed through https://jesper.sikanda.be/posts/agdas-new-sorts.html and I couldn’t find mention of this issue.

[2018-10-27 10:59] #3327 closed, assigned to andreasabel

[2018-10-27 11:01] andreasabel commented on #3327
Unfortunately, the cut-and-paste error also enabled the feature for attaching the pragma to data signatures instead of data definitions (by just leaving it on forever).  Fixed this by new code that propagates the pragma from signatures to definitions.

[2018-10-27 11:04] guillaumebrunerie opened #3329 "Attempting to comment out a pragma doesn’t do the right thing"
If I select a pragma like `{-# BUILTIN EQUALITY _≡_ #-}` in Emacs and try to comment it out using `M-;`, it removes the `{-…-}` around it leaving `# BUILTIN EQUALITY _≡_ #`, which is certainly not the expected behaviour. It should add `-- ` in front of it instead.

[2018-10-27 11:18] guillaumebrunerie opened #3330 "Make BUILTIN EQUALITY more permissive"
I would like to be able to use rewrite on an identity type obtained by wrapping a record around the normal identity type. But `BUILTIN EQUALITY` is not allowed for such an identity type, even though it is just as usable as a normal one.

[code]
Uncommenting the BUILTIN EQUALITY gives:
[code]

[2018-10-27 13:02] andreasabel commented on #3330
Mmh there was a BUILTIN REFL before, but this got removed.  Now, without the REFL builtin, there is no easy way to make Agda understand what you intend to use for reflexivity.

[2018-10-27 13:31] asr commented on #3228
Any one on macOS or Windows using GHC 8.4.4?

[2018-10-27 14:59] andreasabel commented on #3324
This seems to be just a missing `reduce`.  I am fixing it.

[2018-10-27 15:50] #3324 closed, assigned to andreasabel

[2018-10-27 16:45] #3323 closed, assigned to andreasabel

[2018-10-27 16:47] andreasabel commented on #3323
This case is now accepted.  In the dual case, you get a proper error now.

[2018-10-27 17:07] favonia opened #3331 "Documentation on name modifiers is outdated."
The documentation says the following:

Agda current forbids this.

[2018-10-27 18:06] UlfNorell commented on #3330
This would complicate things a lot in the implementation and the workaround is very simple:
[code]

[2018-10-27 18:06] #3330 closed, assigned to nobody

[2018-10-28 00:35] guillaumebrunerie opened #3332 "Strange termination error with the identity type in Prop"
The code below should work but it says `Termination checking failed` for the function `test`.
It works if the identity type is `Set`-valued instead.
It also works if `test` is written using `cong`/`ap` instead of `rewrite`.

[code]

[2018-10-28 00:50] guillaumebrunerie opened #3333 "Confusing error message when a file without --prop imports a file with --prop"
I’m not exactly sure what is the intended semantics of having a file with `Prop` disabled importing a file with `Prop` enabled, but there seems to be some unexpected behaviour (or at least a very confusing error message).

First file:
[code]
Second file:
[code]
Error message:
[code]
It works if we add `{-# OPTIONS --prop #-}` to the second file.

[2018-10-28 01:01] guillaumebrunerie commented on #3330
Ah, thanks for the workaround!

[2018-10-28 01:16] guillaumebrunerie opened #3334 "It should be possible to eliminate from Prop to a proof-irrelevant Set (e.g. a boxed Prop)"
As the title says, it should be possible to pattern match on a `Prop` as long as the result is in a (definitionally) proof-irrelevant type, not only in a `Prop`.
Examples of proof-irrelevant types that are not in `Prop` include in particular `Box P : Set` for `P : Prop`, or more generally any record for which all fields are proof-irrelevant, and also Pi-types whose codomain is proof-irrelevant, fo

[2018-10-28 08:05] jespercockx commented on #3333
Well, let it be on record that I was against hiding `Prop` under a flag ;)

I guess the right thing to do is to refuse using any `Prop`s unless the flag is enabled (so in your example, there would be an error when stating the type of `ap` already).

[2018-10-28 08:09] jespercockx commented on #3334
In general, it seems quite hard to detect which types are 'proof-irrelevant'. It also seems counter-productive: isn't that exactly what we have `Prop` for?

For functions targeting `Box P`, you can make the pattern matching work by introducing the copattern `.unbox`. The same trick works for `(a : A) -> Box (P a)` after first introducing the variable `a`. So the motto is: if you want Agda to see t

[2018-10-28 08:11] jespercockx commented on #3332
I think we shouldn't support `Prop`-valued `BUILTIN EQUALITY` since, at least at the moment, it is impossible to implement `J` for it (which is used implicitly by `rewrite`).

[2018-10-28 08:20] jespercockx commented on #3328
This is a hard problem, I'm not sure what's the best way to solve it. One obstacle is that in contrast to the universe hierarchy `Set i`, the typing rules for `Set` and `Prop` are really different so it's not clear how to treat a type that could be in either `Prop` or `Set`.

[2018-10-28 08:36] jespercockx commented on #3325
It's not possible to construct a value of type `Squash (Unit -> A)` that pattern matches on the `Unit` (where `Squash : Set -> Prop` is defined as usual). Since I usually think of top-level irrelevant definitions as 'squashed values', I think your definition here should likewise not be accepted. Unless you have a strong argument why it should be?

[2018-10-28 10:36] jespercockx commented on #3333
I see a few options here:

- Keep track for each definition whether it uses `Prop` in some way and give an error message when such a definition is used in a file without `--prop`
- Refuse to import any file with `--prop` from a file that doesn't use `--prop` itself
- Allow the *usage* of `Prop`s even when `--prop` is disabled, the flag would then only control whether it is allowed to define *new*

[2018-10-28 11:09] #3326 closed, assigned to jespercockx

[2018-10-28 11:31] jespercockx commented on #3256
`--allow-unsolved-metas` turns unsolved metas into postulates, including unsolved sort metas. However, there is no way to actually represent a postulated sort in the internal syntax, so Agda crashes.

One way to fix this, is to add postulated sorts to Agda (at least in the internal syntax). But this seems like a lot of work for the purpose of just making `--allow-unsolved-metas` work, especially s

[2018-10-28 11:36] fredrikNordvallForsberg commented on #3333
From a user's point of view, isn't this similar to the situation with `--cubical`? I would vote for allowing using Props, but not defining new ones (or mentioning `Prop`) unless `--prop` is on.

My plan for #2487 when I have more time next week is to track what features a file actually uses in the interface, which is different from what options are turned on. Importing a file using `--prop` from a

[2018-10-28 12:26] jespercockx commented on #3333
Actually that's not really a possibility since the constraint solved currently assumes there are **no** occurrences of `Prop` at all when `--prop` is not enabled. And having this rule in the constraint solver was the whole reason for hiding `Prop` under a flag in the first place...

[2018-10-28 12:30] guillaumebrunerie commented on #3332
Well, rewrite could still work as long as you are always building a `Prop` (which is the case here).

By the way, are there plans for making it possible to implement `J` for the `Prop`-valued identity type?

[2018-10-28 12:32] guillaumebrunerie commented on #3325
I don’t have any strong argument for it. I have now looked at your POPL'19 paper and I understand better why it makes sense to reject it.

[2018-10-28 12:44] guillaumebrunerie commented on #3334
I may be missing something but it seems quite easy to detect whether a type is proof-irrelevant or not. Just create two new metas of that type and check whether they are convertible. Eta for records and proof-irrelevance for `Prop` will imply that `Box P` is proof-irrelevant, and eta for functions will imply that `(a : A) -> Box (P a)` is proof-irrelevant as well.

I am aware of the copattern tric

[2018-10-28 12:50] jespercockx commented on #3332
True, but it seems safer to turn off the possibility of having `Prop`-valued equality as the built-in equality until someone checks that it actually makes sense in all cases where the built-in equality is used. I can leave this issue open in case someone wants to do the work, but it's currently not high on my priority list.

I know Gaëtan has been working on adding this to `sProp` in Coq. One prob

[2018-10-28 13:05] jespercockx commented on #3334
That seems like it's a bug, can you please post it as a new issue?

I admit that it wouldn't be that hard to detect proof-irrelevant types. It still feels wrong somehow to do this, but I can't quite put my finger on why. I'll have to think about it some more.

[2018-10-28 13:45] guillaumebrunerie opened #3335 "Rewriting doesn’t respect eta"
It seems like rewriting doesn’t respect eta.
The last line of the code below should type check, but it gives an error instead.
[code]
Error:
[code]

[2018-10-28 13:47] guillaumebrunerie commented on #3334
See #3335 .

[2018-10-28 15:09] favonia commented on #3335
Could be related: #2979.

[2018-10-28 15:30] jespercockx commented on #3335
Hmm, this is a much more interesting bug than I expected since it isn't using `Prop` at all. I recently tried to make the rewriting more type-directed but it seems it's doing something wrong when it tries to match a defined symbol `f us` against a constructor pattern of an eta-record type. What it *should* do is eta-expand the value `f us`, but that's not happening somehow. Working on it...

[2018-10-28 15:32] andreasabel opened #3336 "Remove `ImpossiblePragma`?!"
We have the `ImpossiblePragma` in concrete syntax that triggers an `__IMPOSSIBLE__`.
While it might have been useful in the initial implementation of Agda, I am not sure we need it anymore.  We have plenty of bugs now that trigger internal errors. :D

It is a bit annoying when one does a case distinction over pragmas.

It is used in #2447, but we have lots of means to trigger errors, thus it is no

[2018-10-28 15:34] andreasabel commented on #3334
`Prop` is exactly the universe of proof-irrelevant `Set`s.  Thus, I do not see why we should have another category of "things which are props but declared in `Set`".

The motivation seems to be the lack of sort polymorphism, see #3328.  Maybe we should address this issue rather than adding some new heuristics.

[2018-10-28 15:39] andreasabel commented on #3328
I wonder if `Prop` shouldn't be another dimension of `Set` rather than fully separate thing.
Say we have sorts `Type l r` where `l` is the level and `r` the proof relevance.
Then `Prop l = Type l irrelevant` and `Set l = Type l relevant`.  One could then quantify over either of these two dimensions (or both, of course).  One could quantify over a universe at level `0` to mean either `Prop` or `Set

[2018-10-28 15:42] ice1000 commented on #3336
Sounds like you're treating bugs as features :D

[2018-10-28 15:42] jespercockx commented on #3335
It turned out it *was* eta-expanding `f us`, but it was also eta-expanding the record constructor pattern by applying projections to it, which is wrong since patterns don't compute. Taking the fields directly from the record constructor pattern fixes the problem.

[2018-10-28 16:03] jespercockx commented on #3328
Sure, that's a possibility. But the question is whether one can define *any* useful functions on a type when you don't even know it's a `Prop` or a `Set`. Most things defined for `Set` don't make much sense for `Prop`s in the first place. Perhaps it would be more useful to have some kind of subtyping `Prop <: Set` instead.

[2018-10-28 16:59] andreasabel commented on #3246
The new semantics allows almost all declarations in mutual blocks.  For now, I excluded:
* `module A where ...` because the user might expect the module contents to be mutual with the defs in the mutual block (discussion with @UlfNorell)
* REWRITE pragmas, because they are sensitive to whether they appear before or after the definition (discussion with @jespercockx)
* BULTIN pragms as some require

[2018-10-28 17:06] andreasabel commented on #3335
`Whitespace violation detected in test/Succeed/Issue3335.agda.`

[2018-10-28 17:27] jespercockx commented on #3335
Oh no, I'm working on my home computer but it seems I didn't set up my environment fully.

[2018-10-28 17:30] #3335 closed, assigned to jespercockx

[2018-10-28 18:19] asr commented on #3335
The example in the OP type-checks on 2.5.4.1.

[2018-10-28 18:36] WolframKahl commented on #3334
On Sun, Oct 28, 2018 at 06:05:52AM -0700, Jesper Cockx wrote:

My feelings are the other way around:
I consider it counterproductive to be able to declare irreleveance,
and even more counterproductive to have to do it for efficiency reasons,
because that encourages premature optimisations.
The compiler (including the type checker) should detect it whenever possible,
and optimise it away as soon as

[2018-10-28 20:41] guillaumebrunerie commented on #3333
Maybe in such cases `--prop` could be enabled automatically together with a warning
[code]

[2018-10-28 20:42] jespercockx commented on #3334
Often the fact that a certain term is irrelevant is obvious to *you* as the Agda programmer but there's no way for Agda to figure this out from the code. If it's possible that you will use the term at any point in the future, Agda cannot (and should not) erase it. So any automatic detection of irrelevance would probably be very disappointing. (The alternative where Agda would eagerly erase things

[2018-10-28 22:50] guillaumebrunerie commented on #3332
Actually the original issue had nothing to do with `rewrite`. Using `with` instead triggers the same error:
[code]
[code]

I thought the only thing the built-in equality is used for is the `rewrite` construct, which is just syntactic sugar for `with`. So I don’t see how turning off rewrite for it is any safer.

[2018-10-28 22:54] guillaumebrunerie commented on #3332
And here is the same example using only `Squash` and the usual identity type instead of a `Prop`-valued identity type (it still doesn’t pass the termination checker)

[code]

[2018-10-29 02:36] andreasabel commented on #3336
Not sure this was worth opening an issue.

[2018-10-29 03:06] #3331 closed, assigned to andreasabel

[2018-10-29 09:07] jespercockx commented on #3332
The error message is complete bonkers:
[code]
and the manual expansion of `with`  works just fine:
[code]
The only possible explanation is that this has to do something with the with-inlining in the termination checker. Summoning @andreasabel to see if he can explain what's going on.

[2018-10-29 09:16] jespercockx commented on #3332
Besides for `rewrite`, builtin equality is also used for `primErase` and `primForceLemma`. But I don't see how it would hurt to have these use a `Prop` instead of a `Set` for equality, so perhaps I was just being overly cautious. So I'll revert my patch prohibiting builtin equality in Prop, since it didn't actually fix the issue here.

[2018-10-29 10:33] andreasabel commented on #3327
I replace the `Bool` by a `data UniverseCheck`.
Really not so much harder to use, see the smallness of the patch https://github.com/agda/agda/commit/a551f677dc201644729b37ea1152ed8d92014f29

I wonder whether we should use the http://hackage.haskell.org/package/cond package (overloaded boolean operations) to make the use of handrolled boolean types even less effort.

[2018-10-29 10:42] andreasabel commented on #3332
I wonder whether the removal of the ellipsis can shed some light on the termination issue:
[code]
There is a recursive call in a dot pattern which might not be handled correctly.  It is not present for a hand-unrolling of `with`:
[code]
Brings memories of #142 back...  Didn't you finally clean up that issue, @jespercockx ?  I dimly remember that your refactoring simplified the handling of such "2n

[2018-10-29 12:30] asr commented on #3228
I have planed to release a release candidate because the support for GHC 8.6.1. Since this version of GHC won't be supported, I'll omit the release candidate. I'll release 2.5.4.2 in a couple of hours.

[2018-10-29 13:15] andreasabel commented on #3333
@fredrikNordvallForsberg wrote:

This does make sense but is a quite drastic change of the semantics of flags.  Now they are boolean, then it would be 3-valued: yes, no, I-dont-mind.

[2018-10-29 13:19] guillaumebrunerie opened #3337 "Display elements of propositions as underscores?"
I switched some project from using irrelevance to using `Prop` and one thing I noticed is that in goals, irrelevant arguments were displayed simply as an underscore, which helped reduce the clutter.

Given that arguments in `Prop` are supposed to correspond to irrelevant arguments, maybe the same feature should be implemented for `Prop`?

[2018-10-29 13:43] andreasabel commented on #3333
@jespercockx and I constructed another problematic case:

File 1, with Prop enabled:
[code]
File 2, Prop not enabled, importing file 1:
[code]
Since Prop is not enabled, a heuristics kicks in to solve `X` to the bottom sort which is `Set`.  The later use in `foo` leads then to error:
[code]
While in the OP a better error message could be easily given, this error message is more subtly referring to

[2018-10-29 13:48] andreasabel commented on #3336
@ice1000

And the other way round:
[code]
leads to
[code]
asking to report the feature as a bug.

[2018-10-29 13:50] andreasabel commented on #3332
Note: `--without-K` makes the problem go away, hinting and with-inlining.

It was indeed a problem with the with-inliner, choking on a `DontCare` inserted due to `Prop`.

[2018-10-29 13:51] #3332 closed, assigned to andreasabel, jespercockx

[2018-10-29 14:43] UlfNorell commented on #3333
I was never a fan of the `--prop` flag, but it's starting to look like it's really not worth the hassle. The only reason it was introduced was to be able to keep the "`Set` is the smallest sort"-heuristic, and I don't think that's terribly important. The workaround is very simple and we are moving towards a more interesting sort system so it's unreasonable to be able to keep that heuristic forever

[2018-10-29 16:35] m0davis commented on #2929
Isn't this already fixed by https://github.com/agda/agda/pull/3196?

[2018-10-29 16:51] m0davis opened #3338 "Missing Definitions not recognised in instance search"
While utilising the new nifty Missing-Definitions-now-treated-as-warning feature, I found a problem wrt instance search. In the following code, instance resolution fails (but succeeds if `RI` is given a dummy definition).

[code]
The failure in the type of `foo` is:
[code]

[2018-10-29 17:06] gallais commented on #2929
Indeed it is!

[2018-10-29 17:06] #2929 closed, assigned to gallais

[2018-10-29 17:29] gallais commented on #3338
I see. I think the issue is that we should check for lone signatures at the end of each block
introduced by a layout keyword. Shouldn't be too hard to fix if it is indeed the problem.

[2018-10-29 18:29] gallais commented on #3338
Ok, I can't actually check for lone signatures at the end of an instance block
and turn them into axioms because they may actually receive their definition
later on thanks to the new-style mutual definitions!

Checking at the end of the block renders this kind of code invalid but it currently
is (and the way record declarations are elaborated seems to rely on it as my fix
makes `test/Succeed/Issue

[2018-10-29 21:16] #3338 closed, assigned to gallais

[2018-10-29 23:18] asr commented on #3228
Done.

[2018-10-29 23:18] #3228 closed, assigned to asr

[2018-10-30 14:30] guillaumebrunerie opened #3340 "Goals in type signatures using `generalize` show genTel things"
[code]
Doing `C-c C-,` in the goal in the code above gives the following output
[code]
instead of the expected
[code]

[2018-10-30 14:32] guillaumebrunerie opened #3341 "Can’t give generalized variables"
[code]
In the code above, it should be possible to give `a` but instead we get the error
[code]

[2018-10-30 17:15] asr opened #3342 "GHC panic on stack and GHC 7.10.3"
Using GHC 7.10.3 and stack we are getting sometimes a GHC panic:

[code]

It seems that there are some leftovers after the first build.

[2018-10-30 19:17] asr opened #3343 "QuickCheck test failed (i.e. internal test-suite)"
The error in Travis [was](https://www.travis-ci.org/agda/agda/jobs/448449820):
[code]

[2018-10-30 20:33] #3137 closed, assigned to ice1000

[2018-10-30 22:06] asr commented on #3137
@vlopezj, please add the 2.6.0 milestone.

[2018-10-31 00:04] m0davis opened #3344 "Disable compilation with GHC 8.6.1"
In emacs, load the following file twice (C-c C-l):
[code]
After the first load, there are no errors or warnings, as expected. However, upon loading the second time, agda reports:
[code]
I have checked that my `Agda2 Program Args` are set to `STANDARD` in emacs. If I add `{-# OPTIONS --no-exact-split #-}` to the top of the file, then there are no warnings. So interactive mode is setting a global `-

[2018-10-31 01:16] gallais commented on #3344
Could be related to #3187.

Which version of Agda are you using? I couldn't reproduce the issue with any of the
versions I have installed (2.5.4 to 2.5.4.2 and some version of 2.6.0).

[2018-10-31 02:26] asr commented on #3128
The installation with `stack` (any GHC version) generates the following warning:

[code]

That means we are not generating the interface files (using both `cabal` or `stack`).

The error is due to this line in `Setup.hs`:
 https://github.com/agda/agda/blob/12afa483a6f820251edf0986a76681a418dce427/Setup.hs#L57

because `Builtins` should be `Builtin`.

Since we are not testing the generation of the

[2018-10-31 02:58] m0davis commented on #3344
The version I was using was, I believe, from yesterday. Just now, I rebuilt using the lastest on master (12afa483a6f820251edf0986a76681a418dce427) via stack and the 8.6.1 yaml.

It is tricky to reproduce! I am now getting the opposite behavior: now, the first load (after deleting the `agdai` file) gives a warning about exact-splitting, but subsequent loads do not have the warning. Steps to reprodu

[2018-10-31 02:59] m0davis commented on #3344
Btw, my .emacs is simply:
[code]

[2018-10-31 03:12] m0davis commented on #3344
Actually, I can get the exact-split warning without emacs at all: delete the agdai file and then run `agda AgdaBugExactSplit.agda`. (The file is the same as that in the OP.)

[2018-10-31 03:21] asr commented on #3344
Agda is ignoring the warnings on GHC 8.6.1. It seems that the issue is related to a serious bug in GHC 8.6.1 (see https://github.com/agda/agda/issues/3245). I suggest to use other version of GHC.

[2018-10-31 03:37] asr commented on #3128
The tentative release date for 2.6.0 is in one month according to its milestone. What about if we use my stupid error above for starting to prepare the release of 2.6.0?

[2018-10-31 03:56] m0davis commented on #3344
Thanks @asr. I rebuilt using the yaml for GHC 8.4.4, problem solved.

[2018-10-31 04:45] asr commented on #3160
Due to Agda is ignoring the warnings on GHC 8.6.1 which seems related to a serious bug in GHC 8.6.1 (see #3245), we won't support this version of GHC.

[2018-10-31 08:33] mietek opened #3345 "Constructors of coinductive records should be useful"
This is a modification of [Codata.Thunk](https://agda.github.io/agda-stdlib/Codata.Thunk.html), [Codata.Conat](https://agda.github.io/agda-stdlib/Codata.Conat.html), and [Codata.Colist](https://agda.github.io/agda-stdlib/Codata.Colist.html) that adds a `delay` constructor to `Thunk`.

I thought it should be possible to use this constructor instead of the magical copattern-matching lambda that _som

[2018-10-31 08:41] mietek commented on #3345
I’m hoping that resolving the above issue will allow `length″` to be accepted.

[code]

[2018-10-31 09:04] jespercockx opened #3346 "Expose TCState in the reflection API"
Currently, the built-in way to implement tactics with backtracking in the `TC` monad is by using `throwError` and `catchError`. However, this catches **all** errors which is often not what you want and enforces a bad programming style.

So I'd rather implement my own backtracking mechanism in Agda, but currently that isn't really possible because there is no way to 'roll back' the TC state (metava

[2018-10-31 09:10] #3325 closed, assigned to jespercockx

[2018-10-31 11:29] asr commented on #3325
@jespercockx, please add the label `status: working-as-intended`.

[2018-10-31 16:58] ice1000 commented on #460
I think it refers to using `_`s

[2018-10-31 16:58] ice1000 commented on #339
Why not put this into `icebox`?

[2018-10-31 20:03] ajrouvoet opened #3347 "Records and definitional equality broken"
I've hit a weird thing involving Agda being able to see a definitional equality that looks trivial to me.
Altering the definition of c-==-top to the written alternative makes 'refl' fit into the hole.
With the active definition of c-==-top agda says: `i (⟶-mono (c-==-bot .m)) != zero `

This is the most minimal example I could produce in an hour. Trying to construct a standalone example
from scrat

[2018-10-31 21:38] andreasabel opened #3349 "Generalization for variables bound in the type signature"
[code]
I'd expect the generalized implicit arguments to `Q` to be solved.  Currently one is unsolved, which looks like a bug.

[2018-10-31 21:42] andreasabel opened #3350 "Implicit generalized arguments should not be given by position"
This should work:
[code]
Hidden arguments inserted by generalization should not be positional hidden arguments, thus, be skipped when a positional hidden argument is up next.

[2018-10-31 22:29] andreasabel commented on #3347
Thanks for reporting!
However, to proceed, we need a self-contained test case which we can run.

[2018-10-31 23:04] andreasabel opened #3351 "Fields should shadow generalizable variables, no?"
[code]
It is surprising that fields cannot shadow generalizable variables.

[2018-10-31 23:29] andreasabel opened #3352 "Cannot quantify over generalized variable"
It would be nice to allow this:
[code]
I understand that the current algorithm does not support this, as `test` would have to be elaborated to the following:
[code]
But at the moment, the generalized bindings cannot be interspersed with the regular bindings.
(However, the error is formidable.)

[2018-10-31 23:52] andreasabel opened #3353 "Case splitting turns named arguments into positional arguments"
[code]

[2018-11-01 00:00] andreasabel opened #3354 "Ordering of generalized variables should prefer the usage order instead of the declaration order"
[code]
I would expect left-to-right ordering of generalized binders when possible.

Even better, the generalized variables should be bound simultaneously and the user should be able to give them in any order (and by name only).

[2018-11-01 00:21] andreasabel commented on #3354
Here is an extended test case demonstrating that the order is not left-to-right.  (I conjecture that it is in the order of `variable` declarations given previously; but this is very brittle.)
[code]
For `monTm-comp`, the order is left-to-right, but I guess just by accident (since `variable t` was declared last).

[2018-11-01 05:50] UlfNorell commented on #3349
This is working as intended.
- There is no notion of generalizable implicit arguments. Defining `Q` as above or as `∀ {x} → P x → Set` is equivalent in every way.
- (corollary) No generalization happens unless you use at least one declared generalizable variable.

[2018-11-01 05:56] UlfNorell commented on #3350
Duplicate(ish) of #3280. Let's keep the discussion to that issue.

[2018-11-01 05:56] #3350 closed, assigned to nobody

[2018-11-01 06:00] UlfNorell commented on #3351
Fields cannot shadow other declarations. I see no reason why generalizable variables should behave differently. If the suggestion is to allow fields to shadow arbitrary definitions please open another issue for that.

[2018-11-01 06:07] UlfNorell commented on #3354
The [documentation](https://agda.readthedocs.io/en/latest/language/generalization-of-declared-variables.html) currently documents the current behaviour, but I agree that left-to-right order of mention in the type is more predictable.

[2018-11-01 09:12] ajrouvoet commented on #3347
Thanks for checking it out. I am trying to create a minimal example, but haven't figured out yet what triggers it. If you have any ideas that can help me narrow it down or issues that come to mind that might be related, that might help.

[2018-11-01 10:23] ajrouvoet commented on #3347
The following is a complete example that mirrors the entire setup.
But frustratingly this goes through!

At the moment the real project is not public, but if it helps I can share a copy with you or anyone else who wants to have a go at narrowing it down.

-- edit see below for a better example

[2018-11-01 10:27] andreasabel commented on #3349
Sorry, I forgot the `variable` declaration for `p`.
[code]
(Doesn't cause a difference in behavior, thus, I did not notice.)

We can take Twelf as a model for comparison (even though it is different in many aspects.)
[code]
You can try Twelf at http://twelf.plparty.org/live/
It infers the types as
[code]

[2018-11-01 10:31] andreasabel commented on #3280
See an example at #3350 where one would expect a positional argument to refer to an actually user-written argument, but a generalized implicit interferes.

[2018-11-01 10:43] andreasabel commented on #3335
@asr wrote:

Consequently, it is _not_ a regression released in 2.5.4.1.

[2018-11-01 10:50] andreasabel commented on #3351
Indeed, it is a general questions if declaration in a module can shadow declarations of the parent module. [Link to #359 as umbrella issue for shadowing.]

However, in the case of `variable`, which are declarations for administrative purposes only (or can they be exported and imported!?), it seems even more surprising that they cannot be shadowed.

[2018-11-01 10:56] andreasabel commented on #3347
Any volunteers for a bug shrinking sprint?  Please contact @ajrouvoet .

[2018-11-01 10:59] andreasabel commented on #3347
@ajrouvoet  What you could try: make some hidden arguments (e.g. of -->-mono) visible in the pattern matching and see if there are any unexpected blockers to reduction.

[2018-11-01 11:03] andreasabel commented on #3345
Ah, no, the current behavior is intended.  Pattern lambdas (such as lambda-where) introduce an auxiliary definition that blocks reduction until the destructor `force` is applied.
The constructor `delay` is not doing any such magic, thus, size `j` cannot guarantee to exist.

The error could be improved, however, pointing at the use of pattern lambdas.

[2018-11-01 11:09] andreasabel commented on #3344
I suppose `working-as-intended` implies `not-in-changelog`.  Removing the latter.

[2018-11-01 11:24] andreasabel opened #3355 "NO_POSITIVITY_CHECK pragma ignored in local `where` block"
[code]
This just gives a positivity error and the appearance that the pragma is simply discarded.

[2018-11-01 11:33] andreasabel commented on #3355
On a related note the attempt to place it in front of the `T`
[code]
gives an error that leaves some wishes open concerning grammar:
[code]
_No longer music can only play with amps._ :D
The significance of dashes. http://www.nolongermusic.com/

[2018-11-01 12:33] UlfNorell commented on #3349
If you actually use `p` it does work:
[code]

[2018-11-01 12:34] UlfNorell commented on #3351
They can be imported and exported just like any other definition.

[2018-11-01 12:38] ajrouvoet commented on #3347
Okay, had some more time to narrow it down and that produced the following standalone example.

Notice that the following changes make the refl proof for `c1` go through:

- getting rid of `c0`
- getting rid of the substitution in the `c0` index
- postulating the substitution on `G` function instead of implementing it

Explicating more arguments in either the pattern match of `-->-mono` or in call

[2018-11-01 13:43] fredrikNordvallForsberg commented on #3347
Giving `refl` in the hole works for me using the current development version (master branch, version `2.6.0-8d6a32c`).

[2018-11-01 14:24] asr commented on #3350
@UlfNorell, please add the `language-change` label to #3280.

[2018-11-01 15:44] fgaz commented on #3247
5550 will be fixed in the next cabal-install point release

[2018-11-01 16:12] ajrouvoet commented on #3347
I'm compiling master now to confirm that it is solved entirely there. Maybe someone with more knowledge of what changed can do an educated bisection to figure out where it was solved.

[2018-11-01 19:41] ajrouvoet commented on #3347
The master branch indeed does the trick :+1:

[2018-11-01 20:21] #3347 closed, assigned to nobody

[2018-11-01 21:14] ajrouvoet commented on #3347
@fredrikNordvallForsberg is this not something that needs to be addressed in a potential 2.5.4.3 release at some point?

[2018-11-01 23:04] mietek commented on #3345
If this is intended behaviour, then record constructors seem a bit vestigial.

[2018-11-02 06:03] UlfNorell commented on #3345
They're certainly very useful for inductive records, if not for coinductive.

[2018-11-02 10:58] ajrouvoet commented on #3351
I understand the rationale here, but I agree that the behavior is surprising, if not annoying.
E.g in the following example we use the "shadowing field" to make explicit how this thing should be quantified. Analogue to explicit `forall` quantification in function definitions.

[code]

Forcing the user to chose a non-standard name for the field {s} or to jump through hoops to only bring the general

[2018-11-02 11:05] jespercockx opened #3356 "C-c C-s prints postfix projections by default"
Example by @guillaumebrunerie :
[code]
C-c C-s produces `p .fst`, but it should produce `fst p`.

[2018-11-02 11:47] #3356 closed, assigned to jespercockx

[2018-11-02 12:30] martinescardo commented on #3356
Thank you!

[2018-11-02 12:58] UlfNorell opened #3358 "Instance search fails too eagerly when generalization will introduce instance"
[code]

[2018-11-02 13:49] asr commented on #3344
Right. I added [this](https://github.com/agda/agda/blob/ac38171335f3cdd4be92326c1b3aace484320803/HACKING.md#closing-issues) information to `HACKING.md`.

[2018-11-02 14:05] mietek commented on #3356
Thanks!

[2018-11-02 15:26] mrkkrp opened #3360 "Make Emacs mode available as a normal package via MELPA"
The title says it all. All these manual manipulations are not nice if there is a proper package manager and a repo with packages (MELPA).

[2018-11-02 15:30] fredrikNordvallForsberg commented on #3347
I believe the next non critical-bug-fix-only release will be 2.6.0 anyway, so it's probably not worth the effort to try to find and backport the fix.

[2018-11-02 16:30] gallais commented on #3360
Is this #3234?

[2018-11-02 16:31] andreasabel opened #3361 "Empty variable block should be warning rather than parse error"
[code]
Currently gives a parse error, should be warning just as for other block keywords like `private`.

[2018-11-02 17:25] andreasabel commented on #3351
Aha!
Well, this is a bit unexpected as well, but may be useful.
Yet I am thinking that `variable` declarations should be `private` by default.
We should have `public` blocks to override the default.  (This could be useful in other situations as well, e.g., in a `private` block.)

[2018-11-02 17:29] andreasabel commented on #3344
Can we do something about ghc 8.6.1 here?  I imagine some pragma in the source could that makes compilation of ghc 8.6.1 crash with a suitable error like  "Agda cannot be built with ghc 8.6.1 due to a compiler bug".

[2018-11-02 17:42] ice1000 commented on #3360
@mrkkrp You should first understand that different Agda versions has different agda2-mode for them. You should be aware that if you want to have agda2-mode in melpa you'll need to publish many many agda2-mode at the same time to ensure compatibility.

[2018-11-02 17:45] andreasabel commented on #3349
What I want here is to give an argument explicitly (for the obvious purpose of passing it explicitly to the function later) or implicitly (for the purpose of fixing its position), but still omit its type and have it figured out by generalization.

Without such a feature, my code will inevitably look as follows, if I want to make full use of generalization:
[code]
I would like to give generalized v

[2018-11-02 17:48] andreasabel commented on #3349
Duplicate of #3352.

[2018-11-02 17:48] #3349 closed, assigned to nobody

[2018-11-02 17:49] andreasabel commented on #3352
See https://github.com/agda/agda/issues/3349#issuecomment-435457249 why such a feature would be terribly useful.

[2018-11-02 19:05] asr commented on #3344
I suggest to wait the release of GHC 8.6.2 for disabling the compilation with 8.6.1 (which actually is tested on Travis).

[2018-11-02 19:11] asr commented on #3344
We don't support GHC 8.6.1 so I'm closing the issue.

[2018-11-02 22:02] jespercockx opened #3362 "Variable in constructor type is generalized too eagerly"
MWE:
[code]
This gives an error:
[code]
If the generalization would be postponed a bit longer, the meta would've been solved and no generalization over `x` would be necessary.

[2018-11-03 03:39] mrkkrp commented on #3360
All right, but then it is certainly not very handy. Even proof general is now on MELPA. Perhaps Agda has its own reasons to do things this way...

[2018-11-03 05:37] ice1000 commented on #3360
@mrkkrp The API changes! This is a huge problem.

For me, it's acceptable to create different agda2-mode on melpa for different versions of Agda

[2018-11-03 06:10] alexvong243f opened #3363 "The wiki should support HTTPS"
Hi,

The description of the project writes `Agda is a dependently typed programming language / interactive theorem prover. https://wiki.portal.chalmers.se/agda/pmwiki.php`. However, when I visit https://wiki.portal.chalmers.se/agda/pmwiki.php, I get the following error:
[code]
Is it because the home page of agda has been moved to somewhere else? If so, what is the new official home page?

[2018-11-03 06:42] xekoukou commented on #3362
I have many instances of this problem in my code. I do not know why it does not work. I have to introduce y for it to work like this :
[code]

In other words, the generalization over ```y``` is useless.

[2018-11-03 06:51] UlfNorell commented on #3362
The problem is that we check the constructor target (i.e. that `c` returns something of type `D {x} _`) outside the generalization. Before we do, the `x` argument is unsolved and thus gets generalized over.

[2018-11-03 06:55] UlfNorell commented on #3363
The wiki doesn't do `https`. As far as I can see we don't have any `https` links though.

[2018-11-03 07:07] UlfNorell commented on #3351
No. Treating all declarations uniformly is a better design. Maybe you mostly want them to be private (although I'm not sure), but it's not worth adding a whole new dimension of public-by-default vs private-by-default declarations for people to remember.

[2018-11-03 07:28] alexvong243f commented on #3363
Ulf Norell <notifications@github.com> writes:

Thanks for the quick reply! So the underlying reason must be the fact
that I've enable the option to block all unencrypted requests...

Btw, I really hope the site would switch to use HTTPS as HTTP is not
secure (it's vulnerable to MITM attacks). For examples, by using
Let's Encrypt[0]. Also, both mozilla[1] and google[2] have plans to
deprecate HTTP

[2018-11-03 08:29] jespercockx commented on #3362
Maybe we could add a new constraint kind that forces something to be a pi type ending in an application of the datatype? IIUC variables are not generalized if they are still mentioned in a constraint.

[2018-11-03 08:29] andreasabel opened #3364 "Funny scope error when trying to import as qualified"
[code]
gives the funny error:
[code]

[2018-11-03 08:34] jespercockx commented on #3363
Wait, why don't we serve the wiki over https??! I know it is old-school, but that is really something we should fix. If it's too hard with the current hosting, then I see that as (another) good reason to move it somewhere else.

[2018-11-03 09:07] andreasabel commented on #3362
Generalization has already conditioned me to give up on data type parameters, and only use indices.  This works:
[code]
The problem is that generalization in the indices of a data signature is not supported, ideally I would like to write:
[code]
But I get the error:
[code]
To solve the issue with generalization in parameters vs. generalization in indices, I am in favor to move towards Idris-style

[2018-11-03 17:36] andreasabel commented on #3364
See also #481, in particular https://github.com/agda/agda/issues/481#issuecomment-129023545.

[2018-11-03 19:43] #3361 closed, assigned to andreasabel

[2018-11-03 19:43] #3364 closed, assigned to andreasabel

[2018-11-03 19:45] andreasabel commented on #3364
Now a warning is issued:
[code]
and the part `as Builtin.Nat` is highlighted as dead code.

[2018-11-03 20:23] ice1000 commented on #3363
BTW there're a lot of outdated materials on Agda wiki. Like, the instance argument parts say Agda will search for type constructors, but

[code]

doesn't work.

[2018-11-03 20:28] ice1000 opened #3365 "Update GitHub linguist syntax highlight file"
We're continuously adding new syntax, but GitHub's syntax highlight doesn't know about that.

[code]

Highlighting for `==`, `postulate`, `b`, `a` and `variable` is wrong.

I'm opening an issue to collect similar issue, please comment to add more. Maybe I'll PR the linguist repo someday.

[2018-11-03 20:30] ice1000 commented on #3364
Is `as` treated as a keyword during lexing/parsing? I see it's not highlighted as a keyword in the HTML backend.

[2018-11-03 20:44] gallais commented on #3364
You are free to use `as` pretty much anywhere. It's quite common to find it used as
the variable name for a value of type `List A`.

[2018-11-03 20:46] ice1000 commented on #3365
Also, I want to add special highlights for built-in names like `Set`, `Prop` too

And non-built-in but very usual names like `Nat`, `Size`, `Size<`, `Bool`, `Int`, `List`, etc.

[2018-11-03 20:50] ice1000 commented on #3364
Get it.

[2018-11-04 07:44] UlfNorell commented on #3362
I don't think we should use this issue as an excuse to embark on serious language changes. I expect it's reasonably straightforward to move the parameter check inside the generalization.

[2018-11-04 09:53] jespercockx commented on #3363
It seems counterproductive to keep both the wiki and the official documentation on readthedocs up-to-date. I think it would be better to go over all the old wiki pages with documentation, move everything that's still relevant to the docs, and then remove them.

[2018-11-04 12:01] nad commented on #3363
You're discussing several distinct issues above:
* Enable HTTPS.
* Move the wiki to some other host. (And switch to different wiki software?)
* Merge relevant wiki material into the user manual, and remove outdated material.

I'd like to add that, if we move to some other host, then I'd like to see the wiki history preserved in some way. I wouldn't want to lose, say, the documentation of all the o

[2018-11-04 12:09] nad commented on #3329
I don't think the Emacs syntax table is expressive enough to represent Agda's lexical syntax (where `{-` starts a comment, but only if it is not followed by `#`).

How do Haskell modes handle this?

[2018-11-04 12:14] nad commented on #3360
I think it would be great if the Agda mode could be available via MELPA. For some further discussion, see #3234.

[2018-11-04 12:26] nad commented on #339
That label was added rather recently.

[2018-11-04 18:09] ice1000 commented on #3363
I wonder if the domain name www.agda-lang.org is owned by someone in the team?

[2018-11-04 20:04] UlfNorell commented on #3363
Yes, me.

[2018-11-04 20:07] ice1000 commented on #3363
@UlfNorell Any plan to create a website with the domain name? We can make use of GitHub Page's custom domain name functionality.

[2018-11-04 21:08] nad commented on #3333
Sounds good to me.

I don't think this is a good idea. I would prefer sticking to default values for flags.

[2018-11-04 21:15] nad commented on #3346
You don't intend to allow direct modification of components of the state, right?

[2018-11-04 21:36] nad commented on #3351
I agree.

[2018-11-04 21:51] jespercockx commented on #3346
I just want to be able to save the TC state and restore it, I don't need any direct access to its fields (as that would indeed be quite unsafe).

[2018-11-04 21:59] ice1000 commented on #3070
I'm very looking forward to this.

[2018-11-04 22:54] ice1000 opened #3366 "Add a command line flag to change the extension of the files generated by the HTML backend"
@vlopezj said in #3313,

For usability, we can also have a `--markdown` command line flag  which would be an alias for the conjunction of flags `--html --html-highlight=code --html-output-extension=md`. (Another possibility would be for Agda to give sensible default values of `--html-highlight` and `--html-output-extension` depending on the extension of the input file(s?); but this seems harder bo

[2018-11-05 06:01] UlfNorell commented on #3363
No immediate plans, but some vague long-term ambitions. I'm a bit daunted by the prospect of migrating the wiki though...

[2018-11-05 08:13] ice1000 commented on #3366
Also, it'll be good to make `html-dir`, `html-highlight`, `html-output-extension` only usable with `html` flag.

[2018-11-05 14:00] alexvong243f commented on #3363
Ulf Norell <notifications@github.com> writes:

Long-term ambitions are of course great in the long run, but is it
possible to apply a quick / temporary fix like using Let's Encrypt for
the current wiki?

[2018-11-05 14:15] nad commented on #3363
@UlfNorell, have you asked the Chalmers support team whether they are willing to enable HTTPS?

[2018-11-05 14:16] nad commented on #3363
Given that anyone can update the wiki I think there are other attack vectors.

[2018-11-05 14:54] UlfNorell commented on #3363
I have not.

[2018-11-05 17:03] asr opened #3368 "Support GHC 8.6.2"
GHC 8.6.2 was [released](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-November/026820.html). I created this issue for collecting/reporting the required changes/issues.

[2018-11-05 17:23] asr opened #3369 "Release Agda 2.5.4.3"
I'm planning release 2.5.4.3 including the fix to #3128 and supporting GHC 8.6.3 (#3442).

[2018-11-05 19:29] ice1000 commented on #3369
Will it include some recent master changes? Like #3313 ?

[2018-11-05 19:44] vlopezj commented on #3369
@ice1000 From the milestone, I assume that #3313 will only be included from 2.6.0 onwards (due end of this month). ~~I think that `2.5.4.3` will be released from the `stable-2.5` branch.~~

In any case, given that #3366 may change how #3313 is used, and that #3366 is still in the making, I would recommend against including it already.

[2018-11-05 20:06] asr commented on #3369
Right.

`2.5.4.3` will be released from the `release-2.5.4.2` branch.

[2018-11-05 22:02] ice1000 commented on #3369
Information get

[2018-11-05 23:22] ice1000 commented on #2823
I think we can leave this open until we decide on an official icon.
All the designs listed on the wiki looks good, I'm not good at making decision so I'm not giving my choice here.

[2018-11-06 10:14] nad commented on #2452
@gallais, #3370 "fixes" a problem that is related to the discussion above. However, arguably the problem was that you did not include something like `\usepackage[T1]{fontenc}` in the document that you compiled.

I think that we should either have a complete solution for problems of this kind, or none at all. Given that the problems that we discuss [are related to fonts and font encodings](https://

[2018-11-06 10:44] gallais commented on #2452
I followed [the docs](https://agda.readthedocs.io/en/latest/tools/generating-latex.html#unicode-latex) to get my document up to date and assumed that the garbled
output was a bug, especially given that it was an ascii character causing the problem.

I think we will get a lot of similar bug reports (and waste a lot of people's time because
they'll start by assuming they screwed up somewhere in LaTe

[2018-11-06 10:57] nad commented on #2452
output was a bug, especially given that it was an ascii character causing the problem.

The documentation that you link to does not present a complete LaTeX document. Without knowledge of the class that is used and other settings it is hard to give complete and correct advice to users.

they'll start by assuming they screwed up somewhere in LaTeX which is notoriously hard
to debug) unless we provi

[2018-11-06 11:16] nad commented on #2452
Note that switching to math mode (like in edad5a8334e86a456fc04062897a83b255349a12) might be incorrect in some cases, because the math font glyphs and the text font glyphs might be different, and the user might want to use the text font glyphs.

[2018-11-06 11:30] nad commented on #2452
I've implemented this.

[2018-11-06 11:59] #3154 closed, assigned to nobody

[2018-11-06 12:09] nad commented on #2452
I have already encountered such a problem. Consider the following code:
[code]
When I compile this code using XeLaTeX I get the following output:

![bug](https://user-images.githubusercontent.com/293222/48063297-e5cc2100-e1c4-11e8-9dde-b83ca4485aaa.png)

I'll get rid of the special cases for `<`, `>` and `-`.

[2018-11-06 12:49] nad opened #3371 "Document common LaTeX backend pitfalls"
It might make sense to document common LaTeX backend pitfalls in the user manual, while being clear that something that works in one setting (style file, font, LaTeX engine, etc.) might be inappropriate in another. Some examples:
* If `<` and `>` are typeset like `¡` and `¿`, then the problem might be that you are using pdfLaTeX and have not selected a suitable font encoding.

  Possible workaroun

[2018-11-06 12:51] nad commented on #2452
See #3371.

[2018-11-06 12:51] #2452 closed, assigned to gallais

[2018-11-06 13:00] gallais commented on #2452
I'll install this version and try your `fontenc` suggestion.

I still think that we could provide template files to get newcomers going with a
basic project (e.g. an internship report or a draft paper in no particular style yet).
This could also declare a few unicode characters (the ones used by the core
language for instance).

Would that incur any burden on us as long as we make it clear that an

[2018-11-06 14:20] nad opened #3372 "Provide some simple LaTeX backend templates"
@gallais suggests (https://github.com/agda/agda/issues/2452#issuecomment-436244106) that we should provide some templates for use with the LaTeX backend. I think this sounds like a good idea. We could include:
* Templates for pdfLaTeX as well as LuaLaTeX/XeLaTeX.
* Templates for `article`, `beamer`, and perhaps some other commonly used class (like `acmart`).

Given that the options listed above ar

[2018-11-06 14:34] JacquesCarette commented on #3372
Huge thumbs up. I can definitely offer to test the end results on my machines (I have Windows/Mac/Linux).

[2018-11-06 19:58] alexvong243f commented on #3363
Nils Anders Danielsson <notifications@github.com> writes:

Yeah, you are right that there are certainly other attack vectors. But I
think MITM are more "stealthy" (editing the wiki would leave traces
visible to everyone, while MITM would only leave traces to those being
targeted). I could be overlooking other factors though ...

[2018-11-06 20:05] ice1000 commented on #3363
So come on, let's build a github.io website and use `CNAME` to map our custom domain to it!

When I see my friends (I'm an undergrats freshman) see www.idris-lang.org or www.fstar-lang.org and go to learn those languages I feel really jealous!

[2018-11-06 20:05] ice1000 commented on #3363
I mean I just want to see a website, which is in any sense better than simply a wiki.
We can by the way have https then.

[2018-11-07 13:31] andreasabel commented on #2421
I am having this problem on Mac OS X with
- GNU Emacs 26.1 (build 1, x86_64-apple-darwin14.5.0, NS appkit-1348.17 Version 10.10.5 (Build 14F2511)) of 2018-05-31.
- Agda version 2.6.0-03d1720-dirty (current master)

I am experience it for instance after restarting Emacs which does a `desktop-read`; also complains about `selecting deleted buffer`. (See #2698.)
[code]

[2018-11-07 13:33] andreasabel commented on #2698
Issue still exists.

[2018-11-07 13:43] nad commented on #2421
Please provide a self-contained test case.

[2018-11-07 14:02] nad commented on #3112
I vote for separate.

Currently the highlighting is broken, as some of us discovered today. Consider the following code:
[code]
When I load this code in Emacs, with non-interactive highlighting, then all occurrences of `A` get treated as bound variables *and* postulates. This is a bug.

If I instead use interactive highlighting, then the first occurrence of `A` gets treated as a bound variable and

[2018-11-07 15:24] asr commented on #2421
label `regression` and milestone `icebox`?

[2018-11-07 17:49] nad commented on #2421
This is (presumably) an already released regression, without any detailed instructions for reproducing it.

[2018-11-07 18:23] ice1000 commented on #3112
Vote for separate

[2018-11-07 19:06] nad commented on #3372
I have written seven templates. The following items remain to be taken care of:

* The test suite should include some infrastructure for building and testing these templates. I have stated in the user manual that we have tested the templates using TeX Live 2018. This text might need to be modified.

* I saw that the makefile contains support for building a PDF version of the user manual. This PDF

[2018-11-07 19:12] ice1000 commented on #3372
BTW should we have a separated repo for lAtEx templates?

[2018-11-07 19:25] nad commented on #3371
I've documented the pitfalls mentioned above. Feel free to add more.

[2018-11-07 19:26] nad commented on #3372
I have not included any templates for LuaLaTeX. Perhaps the XeLaTeX ones work for LuaLaTeX as well.

[2018-11-07 19:27] nad commented on #3372
No, each template is linked from the user manual.

[2018-11-07 19:47] ice1000 commented on #3372
So it's not a part of the Agda compiler? I thought the compiler is supposed to output the template itself.

[2018-11-07 20:26] ice1000 commented on #3315
Incompatible with univalence axiom doesn't mean it's not safe.
This comment doesn't discuss `--cubical` cus I don't know much about it.

With `--safe`, `postulate` is not allowed, so no fake equality proofs can be given, we should always prove an equality relation before erasing it, so why not.
Back to the topic, univalence is a `postulate` definition, no accepted with `--safe`. We should keep in

[2018-11-07 20:27] ice1000 commented on #3333
I like the issue number

[2018-11-07 22:50] ice1000 opened #3373 "Wrap HTML in `raw` directive when working with ReStructuredText"
Ref: https://stackoverflow.com/a/8622176/7083401
Ref: http://docutils.sourceforge.net/docs/ref/rst/directives.html#raw-data-pass-through

We should wrap the rendered HTML code blocks into a `raw` directive.
Related codes:

https://github.com/agda/agda/blob/92a6f49a0b9fbae997d01cf97de1b85dc3ee13ab/src/full/Agda/Syntax/Parser/Literate.hs#L253-L307
https://github.com/agda/agda/blob/92a6f49a0b9fbae997

[2018-11-08 07:45] nad commented on #3372
It isn't. I don't even call them templates in the user manual, I call them examples.

[2018-11-08 07:52] nad commented on #3315
I'm not sure what you're arguing for, but in the basic `--without-K` mode we should not support anything that is incompatible with univalence.

Note also that univalence does not need to be a postulate, you can also have functions of type "univalence implies something".

[2018-11-08 07:55] ice1000 commented on #3372
Ok. Please fix tests on the master branch. @nad

[2018-11-08 07:57] ice1000 commented on #3315
Hmm, makes sense. I think we should first discuss about the meaning of the `--safe` flag...

[2018-11-08 08:00] nad commented on #3315
Agda provides various back doors that allow you to change the theory: postulates, rewrite rules, polarity pragmas, pragmas for turning off termination and positivity checking, and so on. I think the `--safe` flag is meant to rule out such back doors.

[2018-11-08 08:04] ice1000 commented on #3315
How can `primErase` bee incompatible with back doors disabled?
If it doesn't introduce any inconsistency when we add it to safe agda, can we tell it's safe?

[2018-11-08 08:18] nad commented on #3315
It should be possible to import code that uses just `--without-K` from code that uses `--cubical`. Thus `primEraseEquality` is unsafe in plain `--without-K` mode.

A goal of basic `--without-K` Agda is that it should be compatible with various different axioms (UIP, univalence, excluded middle, choice principles, and so on). Some of these axioms are incompatible with each other. If you enable one

[2018-11-08 08:22] jespercockx commented on #3315
I don't think anyone is arguing to allow `primErase` when `--without-K` is enabled, at least not after Christian's example. So why is the `--without-K` flag relevant for the question whether we should allow `primErase` under `--safe`? AFAICT `--safe` and `--without-K` are orthogonal options.

[2018-11-08 08:57] nad commented on #3315
I thought that the idea was to always allow `primEraseEquality` when `--safe` is not active, just like we always allow, say, `TERMINATING` when `--safe` is not active.

[2018-11-08 09:00] jespercockx commented on #3315
My proposal was to allow `primEraseEquality` when `--safe` is active, but not when `--without-K` is active.

[2018-11-08 09:32] nad commented on #3372
I've fixed the test suite, and verified that some templates work under LuaLaTeX. (Not the acmart one: For some reason the version of acmart that I am using, v1.55, has a special case for XeLaTeX, but not for LuaLaTeX.)

I've also added a comment about how the file names do not link to the files in the PDF version of the manual.

[2018-11-08 09:35] nad commented on #3315
Doesn't it make sense to allow this primitive also when the K rule is not present (in unsafe mode), and leave it to the user to verify that this is safe? Just like we do with rewrite rules and other things.

[2018-11-08 09:44] jespercockx commented on #3315
I'm not sure if that's a good idea, it may not be obvious immediately that you really **shouldn't** use it when you care about the guarantees provided by `--without-K`. I would expect Agda `--without-K` to be consistent with postulated univalence (or at least not contain any **known** inconsistencies) even without using `--safe` (which cannot be used because of the postulate).

I guess having a fl

[2018-11-08 09:57] gallais commented on #3372
Thanks a lot!

[2018-11-08 10:17] nad commented on #3315
In that case we should disallow postulates as well when `--without-K` is active, because you can postulate the K rule. Are you arguing for making `--safe` the default, and requiring users to use a new flag like `--no-safe` if they want to use postulates?

[2018-11-08 10:32] jespercockx commented on #3315
I'd argue that `postulate` is different since it's immediately obvious that you're doing something potentially unsafe; primitives are different since they are part of the system which implies (or at least I think it should imply) they can be trusted.

[2018-11-08 10:47] gallais commented on #3315
Note that we can:

* raise a warning when `primEraseEquality` is used together with `--without-K`
* raise a different *error* warning when `primEraseEquality` is used together with `--safe` and `--without-K`

[2018-11-08 11:26] nad commented on #3315
I think a warning sounds like a good idea.

[2018-11-08 18:15] ice1000 commented on #3372
Nice work!

[2018-11-08 19:30] ice1000 opened #3374 "Support code fragments which are supposed to raise a compile error in literate mode"
This is important for the literate mode, we can see error message and show it to the readers in this case.

I'm not sure about agda's current behavior and future plan about this feature, please correct me if I've made incorrect assumptions.

[2018-11-09 00:58] mietek commented on #3297
Yes, please!

[2018-11-09 01:32] ice1000 commented on #3185
We can create a command line flag for that.

[2018-11-09 01:32] ice1000 commented on #3185
I really want to work on this! Hope I have time.

[2018-11-09 01:33] ice1000 commented on #3185
I asked the maintainer of https://tio.run to support Agda, and he's running into problems related to permission denied with stdlib's agdai files.

[2018-11-09 02:15] ice1000 opened #3376 "Completion for command line options"
It'd be good to have this feature

[2018-11-09 02:15] ice1000 commented on #3376
https://www.gnu.org/software/bash/manual/bashref.html#Programmable-Completion-Builtins

[2018-11-09 02:27] asr commented on #3185
Maybe #3128?

[2018-11-09 03:33] ice1000 commented on #3185
Why is it related to #3128 ? Isn't #3128 about pre-checking builtin libraries?

[2018-11-09 06:18] xekoukou commented on #3185
Maybe use something like a union mount?
https://en.wikipedia.org/wiki/UnionFS
https://en.wikipedia.org/wiki/Union_mount

It seems that you can union two directories, one read-only and the other writable. Maybe installation that require read-only installations could use it. I haven't tested it though.

[2018-11-09 08:47] nad commented on #3376
I used [optparse-applicative](https://hackage.haskell.org/package/optparse-applicative) in the implementation of [`agda-bisect`](https://github.com/agda/agda/blob/6cfe57d226d432ce62ab9e5d2aa9f9a5cac77d3a/src/agda-bisect/Bisect.hs), and was quite happy with it. If this library is used, then you get Bash completion "for free". I have wanted to switch to optparse-applicative, but have had other prior

[2018-11-09 08:56] nad commented on #3185
I suggest that we close this issue and move the discussion to #2610.

[2018-11-09 08:59] nad commented on #3374
The benefit/cost ratio of such a feature sounds rather small to me. It might be nice when writing a tutorial.

[2018-11-09 09:00] ice1000 commented on #3185
Agreed

[2018-11-09 09:01] ice1000 commented on #3374
Yes, that's what I mean! Especially for literate agda.

[2018-11-09 09:04] ice1000 commented on #3374
Like you can add this in the generated HTML: when mouse hovered on an error/warning, the error message displays. This should be very nice

[2018-11-09 09:08] #3185 closed, assigned to nobody

[2018-11-09 09:10] nad commented on #3374
I guess that you want to support code that is marked as being incorrect in some way, so that you can first present something that is incorrect, and then some correct code. See #2114. If we implement that kind of feature, then we should support it also in the LaTeX and HTML backends.

[2018-11-09 09:10] #3374 closed, assigned to nobody

[2018-11-09 09:11] ice1000 commented on #3374
Please add duplicate label

[2018-11-09 09:11] ice1000 commented on #3374
Oh.

[2018-11-09 09:13] ice1000 commented on #2114
I really hope we can have this

[2018-11-09 09:30] nad opened #3377 "Removed builtin modules can still be present in installations"
I noticed that when we install the builtin Agda modules we do not remove any modules that are already present in the target directory (for instance if a builtin module is renamed, and then Agda is reinstalled). However, deleting files on the user's system could be dangerous, so I suggest that we ignore this minor problem (that might only affect developers and early adopters).

I have opened this t

[2018-11-09 09:30] #3377 closed, assigned to nobody

[2018-11-09 09:40] nad commented on #3315
I don't think you implemented what you said you would implement. The following code is accepted without raising any warnings:
[code]
On the other hand the *declaration* of the primitive raises a warning. Now the declaration is placed in a module in which the K rule is activated, which means that, once #2487 is fixed, this module cannot be imported from a module which does not activate the K rule.

[2018-11-09 10:05] nad commented on #2114
If we do not try to check that the right error is triggered, then the semantics of this feature is presumably a bit less complicated. I guess that the informal meaning of a failing code block (whatever syntax is chosen) would be "this block triggers an error (either fatal or non-fatal)", and is otherwise ignored. I suggest that we focus on type errors, so that we do not need to mess with the scope

[2018-11-09 10:08] nad commented on #2114
When it comes to the syntax I think I would prefer a block keyword to a pragma. I guess other systems support this kind of thing. What notation do they use?

[2018-11-09 10:15] nad commented on #3318
For some reason there are both builtins and primitives for levels. Is this the reason for not binding the primitives in the builtin modules?

@jespercockx and @andreasabel, is there a reason for not binding `REWRITE` in the builtin modules?

@Saizan, is there a reason for not binding the various cubical builtins and primitives?

[2018-11-09 10:19] jespercockx commented on #3318
There's no particular reason why there's no binding for `REWRITE` afaik. Sometimes you want to bind it to a different constant than the builtin equality (e.g. for heterogeneous rewriting), but as a default I think it's fine to bind it to the builtin equality.

[2018-11-09 10:24] nad commented on #3318
OK, then it could be bound in `Agda.Builtin.Rewrite` or perhaps `Agda.Builtin.Equality.Rewrite`.

[2018-11-09 10:27] gallais commented on #3315
Do we have any errors raised at the point of use rather than the point of declaration
(except for `WARNING_ON_USAGE` which is a bit special)?

As for `--with-K`, I used it because it's a sane default which does not allow you to
prove false. But anyone can bypass this by using a `primitive` block directly to bind
`primEraseEquality` if they want to use it with `--without-K`.

I suppose I could drop

[2018-11-09 10:28] gallais commented on #3318
I vote for `Agda.Builtin.Equality.Rewrite` (and we should move `Agda.Builtin.EraseEquality` to `Agda.Builtin.Equality.Erase`).

[2018-11-09 12:10] nad commented on #3315
I guess this makes sense. (I checked now that primitives can be bound multiple times.)

I don't think we should re-check things.

[2018-11-09 12:12] nad commented on #3318
I've already done this. (But perhaps I hadn't pushed when you wrote that comment.)

[2018-11-09 12:38] nad commented on #3318
Two questions remain:

* For some reason there are both builtins and primitives for levels. Is this the reason for not binding the primitives in the builtin modules?

* @Saizan, is there a reason for not binding the various cubical builtins and primitives?

[2018-11-09 12:54] UlfNorell commented on #3318
The level primitives are for implementation purposes and should not be bound by the user. They should be added to this list:
https://github.com/agda/agda/blob/ffecec4a177270c0144c94b7b43cd5f51e9c3580/src/full/Agda/TypeChecking/Rules/Decl.hs#L623-L627

[2018-11-09 15:07] ice1000 commented on #3315
@nad Please add `lib/prim/Agda/Builtin/Equality/Rewrite.agda` to the repo. I can't build Agda locally.

[2018-11-09 19:48] nad commented on #3315
Done. (But note that this file is related to #3318 rather than this ticket.)

[2018-11-09 20:47] nad commented on #3318
I removed the level primitives.

[2018-11-10 11:37] gallais commented on #2114
What about `{-# FAILINGWITH FILEPATH #-}` where `FILEPATH` points to a file with a golden value for the error?

[2018-11-10 11:38] ice1000 commented on #2114
This will be useful for testing, but it should be very very very ugly to expose this to the user imo

[2018-11-10 13:59] potato4444 opened #3378 "HITs: clause compiler does not handle inserted missing hcomp clause"
[code]
I first arrived at this error by case splitting on the second argument followed by the first. This error happens both in the emacs mode and on the command line.

This is a minimization of from me trying to define addition on HIT integers.

agda version: 2.6.0-a40792b

[2018-11-10 15:00] potato4444 commented on #3378
Possibly related to #3314, If I do my case splitting in the opposite order I trigger that bug.

[2018-11-10 15:02] potato4444 commented on #3314
Here is a slightly simpler case that manifests the same bug, only needs the interval instead of the integers.
[code]

[2018-11-10 23:42] ice1000 commented on #2153
https://github.com/rtfd/readthedocs.org/issues/1556#issuecomment-278544075
https://github.com/rtfd/readthedocs.org/issues/1556#issuecomment-282535827

[2018-11-10 23:49] ice1000 opened #3379 "Adding a tutorial set in the readthedocs frontpage"
**Apart from language reference**,
Idris has this: http://docs.idris-lang.org/en/latest/tutorial/
But Agda only has: https://agda.readthedocs.io/en/latest/getting-started/

To be more new-comers-friendly, we may add a `tutorial` section as the front page of https://agda.readthedocs.io and put links like https://plfa.github.io/ https://people.inf.elte.hu/divip/AgdaTutorial/Index.html and add our ow

[2018-11-10 23:52] ice1000 commented on #3379
Maybe me and @lwoo1999 have some interest on this.

[2018-11-10 23:53] gallais commented on #3379
We have a longer list of existing tutorials (some may be outdated now) on the wiki:
http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Othertutorials

[2018-11-10 23:55] ice1000 commented on #3379
We should put them on the readthedocs site

[2018-11-10 23:57] ice1000 commented on #3379
A friend just told me he considers Idris more new-comers-friendly because:

+ Idris doesn't use Unicode
+ Idris has a tutorial, while Agda's "tutorial" (it's actually the language reference) is hard to understand

These are all false-positive! 0. Agda **can** be used without any Unicode; 1. Agda has a lot of tutorials.
We should do something to stop them from thinking that way.

[2018-11-11 07:00] xekoukou commented on #3379
I personally first read the idris tutorial and then the brutal introduction to Agda by Jan Malakhovski.

I think that we need to look at the incentives of those that will want to maintain such a tutorial. I think  the best bet would be to create a tutorial / introduction that can at the same time be used as lecture notes. It would be a collaborative effort instead of each person writing his own le

[2018-11-11 09:07] UlfNorell commented on #2114
If we're not going to check that the right error is raised I don't see any reason to check that an error is raised at all. It seems a lot more likely that changes in the code will make a failing code block fail in a different, undesired way than suddenly make it succeed.

For the notation, I like @andreasabel's suggestion in https://github.com/agda/agda/issues/2114#issuecomment-235243460 of puttin

[2018-11-11 11:12] jespercockx commented on #3379
There are already a few options for people wanting to learn Agda: there's Aaron Stump's Verified Functional Programming in Agda (https://dl.acm.org/citation.cfm?id=2841316), and Phil Wadler's Programming Language Foundations in Agda (https://plfa.github.io/Preface/). There's also a list of other tutorials on the wiki (http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Othertutorials), some of w

[2018-11-11 17:44] ice1000 commented on #3379
I agree. I'd like to create a list on the readthedocs site.

[2018-11-11 18:19] divipp opened #3380 "Too much erasure in strict backends"
I started to use the JS backend and I think I have found a bug.

Agda erases `(λ _ → tt)` but then later it tries to apply the erased function.

This is how to reproduce the bug
(I only tried it with Agda 2.5.4.1 because I switched to NixOS and I could not install Agda from source yet):

Assume that `ErasureBug.agda` contains:

[code]

Assume that `index.html` contains:
[code]

1.  Compile the Agd

[2018-11-12 03:28] ice1000 commented on #3366
Closed by #3367

[2018-11-12 03:28] #3366 closed, assigned to ice1000

[2018-11-12 08:55] nad commented on #2153
What is the use case for the PDF document? Perhaps the HTML manual suffices.

If you really think that we should have a PDF manual, then I suggest that we include `\tracinglostchars=2` in the document's preamble, and check that there are no warnings about problematic characters.

[2018-11-12 10:07] divipp commented on #3380
The bug is present in the master branch.

[2018-11-12 10:46] andreasabel commented on #3378
Sigh, are we still using the partial function `Prelude.!!`?? There is `Agda.Utils.List` with safe functions like `(!!!)`,
https://github.com/agda/agda/blob/a40792bbab282c7579cd8b778f0f5375d60a12ad/src/full/Agda/Utils/List.hs#L87-L88
and I am adding `indexWithDefault` for uses like
[code]

[2018-11-12 11:33] nad commented on #2114
The use case that was discussed in #3374 was writing tutorials using literate Agda. For this use case I think we could live without checking that the right error message is raised, if that makes the feature more likely to be implemented: the author would have to check that the output is formatted in a sane way before publishing the tutorial, but I think that is often done anyway.

Should this file

[2018-11-12 11:37] nad commented on #3380
Do we still support this backend?

[2018-11-12 12:17] UlfNorell commented on #3380
It's still in there, so I guess it's at least "supported", if not actually supported. It's lacking a maintainer, though.

Regardless, I suspect this issue is a problem for any strict backend, and I do think we want to support people implementing those.

[2018-11-12 13:44] guillaumebrunerie opened #3381 "No insertion of implicit arguments for definitions between fields of records"
The code below fails with the error
[code]

This is rather unexpected, as for usual definitions, the `C` would be automatically abstracted over.

[code]

[2018-11-12 14:10] xekoukou commented on #3380
It segfaults on agda-ocaml.

[2018-11-12 14:36] andreasabel commented on #3378
The exception is thrown in the coverage checker here:
https://github.com/agda/agda/blob/a40792bbab282c7579cd8b778f0f5375d60a12ad/src/full/Agda/TypeChecking/Coverage.hs#L228-L233

[2018-11-12 15:19] gallais commented on #3378
Should we think about using `hlint` with [ad-hoc hints](http://community.haskell.org/~ndm/darcs/hlint/hlint.htm#customization) focusing on partial functions?

[2018-11-12 15:30] asr commented on #3378
+1

(You can run `make hlint` for running `hlint` without any customisation)

[2018-11-12 16:41] andreasabel commented on #3378
I think `hlint` would be useful, but only if it just gives the relevant warnings;  thus, we need a customization tailored to our needs.
I once tried hlint with the emacs-integrated refactoring facility on Agda, but this just revealed that that tool is not up to speed for realistic Haskell software products such as Agda.

[2018-11-12 17:14] andreasabel commented on #3378
This bug is really an instance where you would want dependent types to prevent it in the first case.  The set `noex` is a set of indices into the list of clauses `cs`.  With dependent types, this could be checked by the compiler.
What happens here is that this code
https://github.com/agda/agda/blob/2c4da0841d38a8c6af0083de3e635bac958168bc/src/full/Agda/TypeChecking/Coverage.hs#L341-L346
seems to a

[2018-11-12 18:00] andreasabel commented on #3378
The OP now crashes in the clause compiler.
This issue needs help of an expert, @Saizan .

[2018-11-12 18:05] andreasabel commented on #3381
See #434 (umbrella issue for problems with record type declarations that contain method definitions).

[2018-11-12 23:13] mortberg opened #3382 "Rewriting and cubical"
I'm trying to make the following Path into a rewrite rule:

https://github.com/agda/cubical/blob/master/Cubical/HITs/Circle.agda#L51

by adding the `--rewriting` flag and

[code]

But it doesn't seem to work. Any ideas? Maybe the rewriting rules don't work with `--cubical`? ( @jespercockx @Saizan )

[2018-11-13 00:21] ice1000 opened #3383 "Document the DISPLAY pragma"
Currently we didn't document that:
![image](https://user-images.githubusercontent.com/16398479/48382689-32759780-e6b0-11e8-9b9e-16018b13f9d3.png)

[2018-11-13 08:11] jespercockx commented on #3382
It used to work but I think I may have broken something in one refactoring while fixing another bug in rewriting.

For example, at https://github.com/agda/agda/blob/bce8a456d4628756da94d08730eceeec9b6c32bf/src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs#L97 and https://github.com/agda/agda/blob/bce8a456d4628756da94d08730eceeec9b6c32bf/src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs#L305

I

[2018-11-13 08:16] nad commented on #3383
If you search for `{-# DISPLAY` in the changelog, then you can find some documentation that can be copied to the user manual.

[2018-11-13 09:22] guillaumebrunerie commented on #3382
Here is a self-contained test case. It doesn’t trigger any ``__IMPOSSIBLE__``, it just doesn’t seem to rewrite. The last line should work but it fails with the error
[code]

[code]

[2018-11-13 09:30] ice1000 commented on #3360
Is like to put the input method minor mode on melpa first.

[2018-11-13 12:59] #3382 closed, assigned to Saizan

[2018-11-13 14:17] mortberg commented on #3382
Great, thanks a lot for fixing this so fast! I will include self-contained test cases in future bug reports.

[2018-11-13 15:12] guillaumebrunerie opened #3385 "Go to definition doesn’t work in expressions that do not type check, but they still get highlighted"
After loading the code below (which has an expected type error at the last character), middle clicking on the `a` does not jump to its definition (and `M-.` does not work either). What it confusing is that on mouseover the cursor changes and it gets highlighted, as if it would work. This is especially annoying on Linux (and Mac?) as middle click will then paste whatever you had selected before.

[

[2018-11-13 15:20] nad commented on #3385
You're using interactive highlighting, right? With non-interactive highlighting it seems to work, at least for this example. I guess it would be possible to restore the old highlighting after a type error has been encountered.

[2018-11-13 15:24] guillaumebrunerie commented on #3385
Ah, yes I’m using interactive highlighting.

[2018-11-13 17:11] #3373 closed, assigned to ice1000

[2018-11-13 17:17] jespercockx commented on #3346
Another solution to my problem would be to have some primitive to run a given `TC` action in 'speculative mode', and decide based on the result whether to keep the new TC state or roll back to the old one.

One way you can get something close to this with the current infrastructure is by using `catchTC`:
[code]
This isn't quite enough to implement 'true' backtracking for two reasons:
1. `catchTC`

[2018-11-13 19:42] ice1000 opened #3386 "Generate a Jekyll-compatible website with HTML backend"
This should make blogging with Literate Agda Markdown mode a lot easier.

### Motivation

Me myself tried to use lagda to blog long ago, failed because the generated HTML didn't preserve the non-code contents. My blog (https://ice1000.org/lagda/) is using [Jekyll](https://jekyllrb.com/) to generate static website which is natively supported by GitHub Pages service, which is very nice. With #3313,

[2018-11-13 19:43] ice1000 commented on #3386
This is my ultimate goal, after #3137 #3313 #3366 #3367 #3373 #3384

[2018-11-13 19:47] ice1000 commented on #3386
So that everyone will be able to use a nice Jekyll template + Literate Agda to blog!

+ Nice UI by Jekyll
+ Index page by a `lagda.md` file which `import`s every blog, click to jump to the blog
+ Blog cross-reference with `import`s
+ Chapter cross-reference with sub`module`s and `import`s

Oh, I'm so excited!

[2018-11-13 20:09] jespercockx commented on #3386
It would be very nice indeed if this would work nicely! I will also try to use literate markdown files for my blog (using Hakyll), I'll report back here if there are any problems.

[2018-11-13 20:09] jespercockx commented on #3386
ps: your blog seems to be down at the moment.

[2018-11-13 20:14] ice1000 commented on #3386
Are you sure? It works for me.

[2018-11-13 20:15] jespercockx commented on #3386
Hmm, it seems it's just blocking the VPN I'm using, without it works fine.

[2018-11-13 20:16] ice1000 commented on #3386
Yes I read all your blogs, they're awesome. I read your without K paper too

[2018-11-13 20:16] ice1000 commented on #3386
Wow. Does that block all GitHub Pages websites?

[2018-11-13 20:25] jespercockx commented on #3386
Nope, but apparently it was blocking IPv6 addresses. After turning them back on it works fine. Sorry for the false alarm.

[2018-11-13 20:33] ice1000 opened #3387 "A nice way to hide instances?"
Suppose I'm trying to create a module to put some module-local stuff inside so Agda won't get confused when I create things outside the scope of the module.
However, Agda's instance resolution still get confused by module-local instances:

A very small reproducible example:

[code]

Temporary solution: hide the first declaration inside a `where` statement of an arbitrary declaration

[2018-11-13 20:34] ice1000 commented on #3386
Nevermind!

[2018-11-13 20:37] ice1000 opened #3388 "Highlight soft keywords as keywords in HTML backend?"
Currently there're treated as symbols.

![image](https://user-images.githubusercontent.com/16398479/48441620-0282ce80-e75a-11e8-993f-652aecdd7b99.png)
![image](https://user-images.githubusercontent.com/16398479/48441646-0a427300-e75a-11e8-8d43-7a802485337d.png)

[2018-11-13 21:43] jespercockx commented on #3387
This is working as intended: the instance is in scope under its qualified name `IWantToHideSomethingInsideThisModule.ThisIsTheInstanceIWantToHide`, so it's still considered by instance search. However, if you mark the instance as `private` then it's not exported by the module so it's not considered as an instance outside the module (it also works with `where` since everything in a where block is a

[2018-11-13 22:49] ice1000 commented on #3387
Nice suggestion! I didn't think of that!

[2018-11-13 23:21] ice1000 commented on #3386
Personally, I'd recommend providing a command line flag like `--html-template=[plain,jekyll,hexo,hakyll]`, so we can add more target type in the future.
The flag name is not good, do you guys have some suggestions?

[2018-11-13 23:37] ice1000 commented on #3388
`to` in import renaming as well.

[2018-11-14 01:18] ice1000 commented on #3379
Some useful scripts:

[code]

[2018-11-14 01:43] ice1000 commented on #3388
Oh! All symbols are highlighted the same, `forall` is treated the same as non-alphabetical symbols `∀`.

Is this good?

[2018-11-14 01:48] ice1000 opened #3389 "Add `--dump-highlight` cli flag to output highlighting information"
In some format like json, xml, etc. So we can create external renderers.
The HTML backend and Vim backend can be replaced by this entirely maybe.

Proposed by @dramforever, I like this idea.

[2018-11-14 01:50] ice1000 commented on #3389
He says Jekyll has nothing to do with Agda (#3386), so does HTML.

[2018-11-14 01:57] dramforever commented on #3389
We discussed this in private a while ago, and I felt that dealing with technicalities like that is outside of the scope of the official Agda compiler.

It (**Edit**: I meant a hypothetical tool that deals with all kinds of formats) doesn't even need to be third-party -- it can even just reside within agda/agda. I just don't think it's worth cluttering the compiler.

[2018-11-14 03:14] asr commented on #3379
I'm getting the following error:

[code]

[2018-11-14 03:23] ice1000 commented on #3379
I've just figured out how to install sphinx locally, will fix soon

[2018-11-14 03:30] #3379 closed, assigned to ice1000

[2018-11-14 03:53] asr commented on #3379
Now, I'm getting the error:

[code]

[2018-11-14 08:15] nad commented on #3388
I think it makes sense to highlight these two symbols that mean exactly the same thing in the same way. If you want to highlight all symbols as keywords (or vice versa), then you can tweak your local copy of `Agda.css`.

[2018-11-14 08:17] ice1000 commented on #3388
What I meant is to highlight alphabetical symbols to make it look nicer.

[2018-11-14 08:21] nad commented on #3388
As I wrote: I think it makes sense to highlight these two symbols that mean exactly the same thing in the same way.

[2018-11-14 08:22] ice1000 commented on #3388
Oh, sorry for my bad English.

[2018-11-14 08:32] nad commented on #3386
I don't really understand what you're trying to do, but I have a question: Should this be part of Agda, or could it be a separate tool (that might depend on the Agda library)? I would rather not tie Agda to various tools (Jekyll, Hakyll and so on) that I don't know anything about.

[2018-11-14 09:05] xekoukou opened #3390 "An internal error at src/full/Agda/TypeChecking/Monad/Context.hs:119"
I was  at the middle of refactoring my code due to a change to the type PSet when the error occurred.

The last change I made was at the [RefStAction](https://github.com/xekoukou/tla-agda-v2/blob/c951b81c05b71932d7b7e9af6c24764a4017feee/src/TLA/Refine2.agda#L47)

[2018-11-14 09:11] xekoukou commented on #3390
Adding some implicit arguments on the type GRefSpec stops the error from happening.

[code]

[2018-11-14 09:35] ice1000 commented on #3386
I consider #3389 a more general approach.
I'm closing this one.

[2018-11-14 09:36] #3386 closed, assigned to nobody

[2018-11-14 09:56] jespercockx opened #3391 "Release Agda 2.6.0"
I think we should start working seriously on getting Agda 2.6.0 out, hopefully before Christmas. Hence I hereby declare a **feature freeze** of the `master` branch until the release (new features should go to `experimental` instead).

I will start to go over all the issues currently labeled with `2.6.0` and move the ones that are not critical to `2.6.1`.

[2018-11-14 09:59] UlfNorell commented on #3391
It's called `future`, but otherwise yes. If you add something to `future`, make sure to bring it up to date with current `master` first. It's currently sitting somewhere close to `2.5.4`.

[2018-11-14 10:01] jespercockx commented on #1625
@Saizan any plans to integrate this before the next release?

[2018-11-14 10:09] jespercockx commented on #2851
I'll take a look at this, if it's not too difficult I think we should fix this before the release.

[2018-11-14 10:13] jespercockx commented on #2837
This currently makes it very annoying to write literate Agda files using markdown. @nad could you try to implement one of your proposed solutions?

[2018-11-14 10:16] jespercockx commented on #2004
Putting this in the `icebox` until someone actually comes up with a concrete idea of how DISPLAY should work.

[2018-11-14 10:18] jespercockx commented on #2783
Since https://github.com/agda/agda-stdlib/issues/143 is closed, can we now close this issue as well?

[2018-11-14 10:23] jespercockx commented on #2964
The original problem in this issue is fixed and what remains amounts to "maybe we could implement matching in a nicer way" which is not worth an issue IMHO, so I'm closing this.

[2018-11-14 10:23] #2964 closed, assigned to jespercockx

[2018-11-14 10:24] jespercockx commented on #3039
@andreasabel do you have plans to fix subtyping of sized types before the release?

[2018-11-14 10:28] jespercockx commented on #3008
@UlfNorell will this be fixed by your refactoring of the nicifier?

[2018-11-14 10:31] gallais commented on #2783
We are still missing `Agda.Builtin.IO` from @nad's original issue. Although we could
make it safe (the type is trivially inhabited by `Identity`), I have no intention of working
on it:

* the IO in the stdlib uses `NON_TERMINATING`
* the library of sized IO I'm working on uses `NO_UNIVERSE_CHECK`.

[2018-11-14 10:34] #1709 closed, assigned to nobody

[2018-11-14 10:35] jespercockx commented on #3391
Oh, I remember having a discussion about how we should name this branch, but apparently I misremembered the outcome :S

[2018-11-14 10:38] UlfNorell commented on #3008
Not sure, maybe leave it in for now. I've made a note to check on this issue when the refactorings are done.

[2018-11-14 10:50] jespercockx commented on #2801
This is a very annoying problem. Does anyone have an idea how to fix it (preferably without too much effort)?

[2018-11-14 10:50] jespercockx commented on #2774
@andreasabel can you take a look?

[2018-11-14 10:58] jespercockx commented on #2502
OTOH, you're *running* the (abstract) macro outside of the abstract block, so maybe the current behaviour is as expected.

[2018-11-14 13:39] guillaumebrunerie opened #3392 "Reloading a file compiled with --allow-unsolved-metas does not show the goals"
Steps to reproduce:
- Open (create) two files `test.agda` and `test2.agda` in emacs with the content shown below.
- Load `test2.agda`.
- Attempt to load `test1.agda`.

The question mark isn’t made into a goal. As a workaround, modifing `test.agda` allows one to load it.
This happens rather often to me in practice, as everytime I modify `test2.agda` and then try to go back to `test.agda`, I can’t w

[2018-11-14 13:46] guillaumebrunerie opened #3393 "Loading a file with --allow-unsolved-metas should create an interface file"
When loading in emacs a file with open goals with the option `--allow-unsolved-metas`, it doesn’t create an interface file (whereas loading a file without open goals does).
This is annoying when working with two files `test.agda` and `test2.agda` where `test` has open goals (and `--allow-unsolved-metas`) and `test2.agda` imports `test` : if you first load `test.agda` and then load `test2.agda`, it

[2018-11-14 14:10] jespercockx commented on #1913
Maybe all things brought into scope by `import I` (without `public`) should be automatically considered `private`? That way they wouldn't be considered by instance search outside of the module containing the import statement.

[2018-11-14 14:14] #2747 closed, assigned to nobody

[2018-11-14 14:16] nad commented on #3389
See also #3186.

[2018-11-14 14:21] Saizan commented on #1625
@jespercockx it would require some careful study. So maybe best for next milestone.

Mainly we cannot just try unifying the arguments, because that could lose solutions. We could block unification while comparing the arguments but we need to verify if that would still solve the original problem.

Even then it might slow down other examples: if the expressions being compared are both ```const cheap

[2018-11-14 14:27] nad commented on #1913
What do you mean by `private`? The names introduced by `import I` are never (or at least should not be) exported.

[2018-11-14 14:31] jespercockx commented on #1913
Exactly, I just mean we should mark them as if they were defined as `private` by the user, because this will prevent them from being considered as candidates by the instance resolution.

[2018-11-14 14:32] nad commented on #3393
See also #2475.

[2018-11-14 14:34] nad commented on #3392
See #2475.

[2018-11-14 14:34] #3392 closed, assigned to nobody

[2018-11-14 14:34] jespercockx commented on #2455
No response in half a year, so I'm closing this issue.

[2018-11-14 14:34] #2455 closed, assigned to nobody

[2018-11-14 14:37] jespercockx commented on #2487
@fredrikNordvallForsberg do you have time to look into this issue before the release of Agda 2.6.0?

[2018-11-14 14:37] nad commented on #2502
The code is accepted if the final definition is moved inside the abstract block.

[2018-11-14 14:39] fredrikNordvallForsberg commented on #2487
@jespercockx Yes, I hope and think so!

[2018-11-14 14:43] jespercockx commented on #3066
It seems this was fixed in af7c0b3be9e6631c50ab1cba070ea06a88e02f07

[2018-11-14 14:43] #3066 closed, assigned to banacorn

[2018-11-14 14:46] asr commented on #3391
Before the release, the closed issues with milestone `2.6.0` will be added to the `CHANGELOG` except the issues with [these](https://github.com/agda/agda/blob/a9d4392fa13efb63e886a3bbf8df59fbdde74d15/HACKING.md#closing-issues) labels. Please add a missing label if necessary when closing issues.

[2018-11-14 14:47] jespercockx commented on #3068
I added this option in https://github.com/agda/agda/commit/50c9cc29c4e944da3d9e43c964f39ecb46490850

[2018-11-14 14:47] #3068 closed, assigned to jespercockx

[2018-11-14 14:54] nad commented on #2837
This is not currently a priority for me.

[2018-11-14 14:56] jespercockx commented on #466
I'm closing this due to a lack of a concrete proposal. Reflection is always going to be somewhat dependent on how things are represented internally in Agda, and for let there just isn't anything there in the internal syntax.

[2018-11-14 14:56] #466 closed, assigned to nobody

[2018-11-14 14:56] nad commented on #3390
It would be helpful if you could provide us with a small, self-contained test case.

What version of Agda are you using?

[2018-11-14 14:59] xekoukou commented on #3390
This is my agda version :
[code]

[2018-11-14 15:04] jespercockx commented on #2589
I will take a look at this before the release.

Edit: I took a look and changed my mind.

[2018-11-14 15:07] guillaumebrunerie opened #3394 "Internal error in mutual block with unsolved implicit argument in termination checker"
The code below fails with
[code]
Removing the `{X : A}` or moving down the typing declaration of `Ploop` removes the internal error.

[code]

[2018-11-14 15:10] jespercockx commented on #723
We could still have a constraint that ensures a type has at least a given number of visible function arrows (aside from an arbitrary number of hidden/instance ones).

[2018-11-14 15:18] jespercockx commented on #758
@UlfNorell since you seem to have an idea what to do here, can you take a look at it before the release? (or else bump the milestone)

[2018-11-14 15:25] #2502 closed, assigned to nobody

[2018-11-14 15:34] jespercockx commented on #887
This seems to be working fine now, Agda no longer complains about missing clauses. I think I may have fixed this in https://github.com/agda/agda/commit/242684bca62fabe43e125aefae7526be4b26a135 (not sure though).

[2018-11-14 15:34] #887 closed, assigned to nobody

[2018-11-14 15:37] xekoukou commented on #3390
Here is a smaller test case.

[code]

[2018-11-14 15:57] jespercockx commented on #1114
We should decide *something* on the future of shape-irrelevance: is it something we want to support? If yes, do we want to keep the current syntax or move to the new attribute syntax (`@shirr`)? I personally find shape-irrelevance quite useful when working with sizes or universe levels.

[2018-11-14 16:01] nad commented on #3390
Here is a shorter test case:
[code]

[2018-11-14 16:05] nad commented on #1114
I'm not sure [`shirr`](https://en.wiktionary.org/wiki/shirr) is an ideal abbreviation.

[2018-11-14 16:15] jespercockx commented on #1209
I agree, the combination of `--guardedness`, `--sized-types`, and `--safe` should be rejected. Maybe we should also make `--sized-types` imply `--no-guardedness` by default (but still allow the user to override it with an explicit `--guardedness` flag).

[2018-11-14 16:28] jespercockx commented on #1381
Another reason to remove the current implementation of with-inlining.

[2018-11-14 16:34] jespercockx commented on #1428
We could try re-enabling `SizeUniv` now that the sort system actually allows it.

[2018-11-14 17:06] nad commented on #1209
I think the default should be something that we believe is safe, to avoid leading people astray.

[2018-11-14 18:01] #3388 closed, assigned to nobody

[2018-11-14 18:08] nad commented on #3145
Would it make sense to transfer this issue to https://github.com/agda/agda-stdlib?

[2018-11-14 19:39] gallais commented on #3145
If we can reproduce the bug and make sure the error comes from the stdlib, sure.
But so far it's not clear.

The `Not in scope` error for a `dN` looks pretty suspicious IMO: these definitions
are generated by Agda, not sourced from a FOREIGN pragma. It would have to
come from a bug in the compiler (?).

[2018-11-15 06:11] UlfNorell commented on #758
Will do

[2018-11-15 06:28] UlfNorell commented on #3145
It would help with a reproducible test case. Standard library commit where `Data.Colist` fails would be sufficient.

[2018-11-15 08:09] #2791 closed, assigned to UlfNorell

[2018-11-15 08:18] #1764 closed, assigned to andreasabel, jespercockx

[2018-11-15 08:25] jespercockx commented on #1902
Is there perhaps a way to turn `-fwarn-incomplete-patterns` on/off locally in the generated haskell code?

[2018-11-15 08:29] jespercockx commented on #1946
Is this the same problem as in #1209 ?

[2018-11-15 08:29] UlfNorell commented on #1902
Not that I'm aware of.

[2018-11-15 08:45] jespercockx commented on #2099
This is more of a research problem than a concrete proposal, so I'm putting it in the `icebox`.

[2018-11-15 08:49] jespercockx commented on #2151
This would be a very nice feature.

[2018-11-15 09:01] jespercockx commented on #2513
Maybe we should offer an alternative color scheme which makes use of different contrast/fonts/bold/italics to distinguish different syntax, I'll create a new issue for that.

[2018-11-15 09:01] #2513 closed, assigned to UlfNorell, andreasabel

[2018-11-15 09:23] jespercockx commented on #2515
I'm not sure what's a good way to go forward with this. I'm putting this in the `icebox` until someone comes up with a good proposal.

[2018-11-15 09:27] jespercockx commented on #2548
Many people are still getting confused between the (outdated) wiki and the documentation on readthedocs (perhaps because of google linking directly to some places deep in the wiki). Ideally we should remove all outdated information before the next release.

[2018-11-15 09:32] jespercockx commented on #2556
I guess the thing blocking this issue is the fact that `checkInternal` currently exposes many internal/invisible bugs.

[2018-11-15 09:46] jespercockx commented on #2760
I consider instance search to be broken atm because of this issue. Is there any chance of a solution before the release?

[2018-11-15 09:51] UlfNorell commented on #2760
I hope so, but I also have the generalize stuff to get done. If you want to look at it feel free :-).

[2018-11-15 09:51] jespercockx commented on #2622
We should at least add a proper error message before the release.

[2018-11-15 09:56] jespercockx commented on #2675
This shouldn't be hard to implement, we just need to make the decision. I think the proposal by @UlfNorell is fine.

[2018-11-15 10:03] jespercockx commented on #2757
Now that we have the `@0` modality, all that's left to do is to make the `..` modality no longer imply run-time irrelevance.

[2018-11-15 10:11] jespercockx commented on #2820
I see two options here to go forward:
- Bring back `SizeUniv` (which should actually be doable now)
- Remove / restrict `∞ < ∞`

[2018-11-15 10:13] jespercockx commented on #2822
@andreasabel how much progress did you make on this? Do you have an idea of how much work is left?

[2018-11-15 10:32] jespercockx commented on #3034
I tried to fix this a while back by treating datatype parameters as indices for the purpose of higher-dimensional unification, but this results in some added dot patterns for eta-unit types which the forcing translation doesn't like (it throws an internal error). Maybe we should rather have a separate pass for eta-expanding patterns to make the forcing analysis happy...

[2018-11-15 10:37] #3101 closed, assigned to nobody

[2018-11-15 10:45] #3138 closed, assigned to nobody

[2018-11-15 10:46] nad commented on #2675
It is not backwards compatible. Will it break lots of code?

[2018-11-15 10:48] jespercockx commented on #2761
What is the current status of this issue? Are HITs fully implemented now?

[2018-11-15 10:50] nad commented on #2820
Would a size universe fix all problems with ∞ < ∞?

[2018-11-15 10:53] jespercockx commented on #2087
Perhaps we should just refuse to split when there is a `rewrite`?

[2018-11-15 12:07] nad commented on #2820
@Saizan suggested the following approach: Get rid of ∞ < ∞, but support it via special typing rules for certain projections/constructors for which it makes sense (like the typical construction with a `force` projection, but perhaps not the `Thunk` type used by the standard library).

@Saizan, could you define more explicitly what "makes sense" means?

[2018-11-15 12:09] jespercockx commented on #2820
I don't think so.

[2018-11-15 12:12] Saizan commented on #2761
As of 2c4da0841d38a8c6af0083de3e635bac958168bc I would consider them implemented!

I guess we should have a label for issues about HITs now.

[2018-11-15 12:12] #2761 closed, assigned to Saizan

[2018-11-15 12:12] jespercockx commented on #1743
Not happening for 2.6.0 either :(

[2018-11-15 12:18] UlfNorell commented on #2675
Certainly some code would break, but updating it should be straightforward.

[2018-11-15 12:22] jespercockx commented on #418
If the behaviour of a type signature is random, the type-checker shouldn't rely on it, since any internal change could change the behaviour. So I think freezing the type signatures of `abstract` definitions is the right thing to do.

I agree, who will finally implement this?

[2018-11-15 12:25] jespercockx commented on #2670
This is probably a duplicate of #2760 (or vice versa)

[2018-11-15 12:28] jespercockx commented on #2461
We should do something about this before the release, at least there should be a proper error message that `with` is not supported for `--cubical`.

[2018-11-15 12:29] jespercockx commented on #3142
@andreasabel did you make any progress on this issue? Or where did you get stuck?

[2018-11-15 12:40] jespercockx commented on #3212
I couldn't typecheck the original example here, have the primitives of `cubical-agda` changed? Can this bug still be triggered somehow?

[2018-11-15 12:41] jespercockx commented on #2818
Same problem as #3212 ?

[2018-11-15 12:42] jespercockx commented on #3211
Closing due to a lack of response.

[2018-11-15 12:45] Saizan commented on #2818
yes, this is a duplicate of #3212

[2018-11-15 12:45] #2818 closed, assigned to nobody

[2018-11-15 12:46] Saizan commented on #3212
@jespercockx ISEQUIV changed to EQUIV but the error-reporting problem still stands

[2018-11-15 12:58] #3371 closed, assigned to nad

[2018-11-15 13:00] xekoukou commented on #3380
Here is the treeless representation of buggy :
[code]

and here is the same code with a ```main``` function that triggers the segmentation fault in agda-ocaml.

[code]

[2018-11-15 13:42] jespercockx commented on #3378
@Saizan is this fixed now? Can you add a test case?

[2018-11-15 13:51] jespercockx commented on #3391
Phew, after a first pass the number of open issues with 2.6.0 milestone went down from >250 to 133 that I think we should still look at.

Open issues by assignee:
- no assignee: 76
- @jespercockx 19
- @andreasabel 13
- @UlfNorell 9
- @Saizan 6
- @asr 3
- @gallais 2
- @fredrikNordvallForsberg 1

Still lots of work to do, but I'm confident we can get it done!

[2018-11-15 14:02] jespercockx commented on #3363
I have sent a mail to Chalmers support to ask if they can enable https for the current wiki.

[2018-11-15 14:03] jespercockx commented on #3360
This is a great idea. I'm assigning `icebox` not because I want to shoot it down, but because this doesn't have to be linked to a specific release of Agda.

[2018-11-15 14:05] jespercockx commented on #3337
Good idea, I'll look into it.

[2018-11-15 14:10] jespercockx opened #3396 "Rename 'icebox' milestone to 'future'?"
I feel bad for assigning the `icebox` label to issues because it seems to imply that the issue has been abandoned or we don't think it is worth it. What it actually means is just that we don't have concrete plans to implement the new feature for the next release. Hence I propose we rename `icebox` to `future`, which would also nicely mirror the name of the branch.

[2018-11-15 14:16] UlfNorell commented on #3396
In that case we should have both `icebox` and `future`. There are certainly some issues that are in the icebox for exactly the implied reason.

What's the problem with just bumping the milestone for the issues you feel bad about? Do we really need a level between `icebox` and `2.6.1`?

[2018-11-15 14:20] jespercockx commented on #3396
I feel there is a difference between

1. "we have concrete plans to implement this for the next release"
2. "this would be nice to have but currently no-one is working on it"
3. "this issue has been abandoned / we don't think it's worth it".

Personally I think issues that fall under 3. should be closed with an 'abandoned' or 'wontfix' label, so we don't need a separate milestone for them. For 2.

[2018-11-15 14:26] UlfNorell commented on #3396
Yeah, maybe. We might want to do a pass over the icebox and close some issues in this case, to avoid giving false hope.

[2018-11-15 14:29] jespercockx commented on #2823
It would be nice if we could finally decide on a logo before the release of 2.6.0. I have argued for Ulf's logo (https://raw.githubusercontent.com/UlfNorell/agda-logo/master/agda-logo.png) several times in the past and I will continue to do so.

[2018-11-15 14:30] WolframKahl commented on #1625
From extensive experience using this patch: Losing solutions only raises the problem that some metas are resolved with this patch that wouldn't be resolved without it.

Practically that means that developments done with this patch enabled may need to have underscores expanded and implicit arguments supplied for checking without this pach enabled.

However, since what is found still are solutions,

[2018-11-15 14:30] jespercockx commented on #1602
Now runtime-irrelevance is implemented, so we should revisit this issue.

[2018-11-15 14:34] jespercockx commented on #1625
Adding it under a flag seems like a good idea.

[2018-11-15 14:50] asr commented on #3396
Please document the final decision in `HACKING.md` (see, for example, the 'Closing issues' section).

We should not have closed issues with `icebox` milestone. A closed issue should has a `X.Y.Z` milestone or has no milestone at all.

[2018-11-15 14:55] Saizan commented on #2820
@nad here's a first approximation.

We should recognize for which sized types we have ```F ∞ = F (∞ +1)``` so that we can "downcast" as needed.

Typically it would be (co)inductive record/data types that follow the usual pattern of having recursive occurrences at a smaller size. We should implement some checker for this, possibly quite close to the one that enables size subtyping.

Then e.g. for a

[2018-11-15 16:29] nad commented on #2820
I think you inadvertently used too much shadowing in the rule.

Should this typing rule be used everywhere, both in patterns and in expressions?

[2018-11-15 16:35] nad commented on #3396
You also have variations like "none of the main developers think this is a priority, but contributions would be welcome". Perhaps we don't need separate labels for everything, we could indicate what is meant in a comment. However, things that we definitely do not intend to implement even if we get a pull request should be closed.

[2018-11-15 16:54] #1602 closed, assigned to jespercockx

[2018-11-15 17:09] jespercockx commented on #3337
We currently have no infrastructure for printing terms differently based on their type, so this is not so easy to implement.

[2018-11-15 17:30] andreasabel commented on #3160
I think this should be labeled `wontfix` rather than `abandoned` because it is not the lack of manpower, put the pointlessness of the enterprise that lead to its termination.
(Subtle nitpicking in the light of discussion #3396.)

[2018-11-15 17:41] #3387 closed, assigned to jespercockx

[2018-11-15 17:50] andreasabel commented on #3396
We could have milestones like this (say master at 2.6.0, latest release 2.5.4.2):
* `2.5.4.3` : critical issues, demanding a bugfix release asap
* `2.6.0` : features planned for next release
* `future` : features the core developers want to work on, but not for the next release
* `PR-welcome` : valuable features the core developers will probably not get to work on
* `debatable` : features whose va

[2018-11-15 18:26] #3394 closed, assigned to andreasabel

[2018-11-15 18:27] andreasabel commented on #3394
This was a forgotten initialization of `terSizeDepth` in the new `termType` termination checking function for types.

Thanks for reporting!

[2018-11-15 21:39] andreasabel commented on #3393
After digging around in Agda.Interaction.Imports, I found the probably reason why no interface file is created for the current main file (the one you are working on in Emacs) if there are open metas:
- creating an interface file with `--allow-unsolved-metas` turns all open metas into postulates
- usually you would want to work on the metas of your current file after C-c C-l
- seeing them turned in

[2018-11-15 22:48] guillaumebrunerie opened #3397 "Add a universe of strict hSets"
I think the code below should work but it fails with error
[code]
It does work when `_≡_` and `PathOver` are both `Set`-valued, or when the `--without-K` flag is removed.

[code]

[2018-11-15 23:42] guillaumebrunerie opened #3398 "With the option --allow-unsolved-metas, the unsolved metas are not shown, only yellow"
When loading the file below, the `u` in the type of `v` is turned yellow (as its argument `X` is an unsolved meta), but the unsolved meta isn’t shown at all in the AgdaInfo buffer, which makes it pretty hard to debug, and is also very confusing to see yellow and no corresponding unsolved meta.

[code]

[2018-11-15 23:55] gallais commented on #3398
What is the expected behaviour here? No yellow highlighting at all?

[2018-11-16 00:05] guillaumebrunerie commented on #3398
I think there should be yellow and the unsolved meta should be shown in the AgdaInfo buffer, just like when we don’t use `--allow-unsolved-metas`.
My understanding is that when working in some file, there should be no difference in behaviour whether this file has `--allow-unsolved-metas` or not. The only difference should be when *importing* such a file.

[2018-11-16 00:10] guillaumebrunerie commented on #2844
This issue is back, https://agda.readthedocs.io/ redirects to https://agda.readthedocs.io/en/v2.5.4.1/ which isn’t the latest version.

[2018-11-16 08:00] nad commented on #3393
@guillaumebrunerie, when using `--allow-unsolved-metas`, would you want to create an interface file every time you use the load command? I guess it would also be possible to have a separate command for loading and then creating the interface file.

[2018-11-16 08:18] nad commented on #964
@andreasabel, did you intend to reopen this issue? (I would prefer a fresh issue.)

[2018-11-16 08:44] jespercockx commented on #3397
In the `Set` case, there is only one way to solve the equation `refl =?= refl`: by using the injectivity rule, which triggers higher-dimensional unification, which then discharges the equation `a =?= a`. However, in the `Prop` case, there is another way to solve it: by simple deletion, since any proof will be trivial. So this is a case where unification is actually non-confluent, and picking the w

[2018-11-16 08:48] jespercockx commented on #3397
Actually unification **is** confluent here since the injectivity rule (and hence higher-dimensional unification) don't apply for datatypes in `Prop`. So `skipIrrelevantStrategy` is really the only thing the unifier can do here.

Maybe we could just allow the `deletion` rule when the target type is in `Prop`? It seems like it could make sense, but I'll have to check to make sure.

[2018-11-16 08:52] Saizan commented on #2820
Fixed the shadowing.

Yes, it should be used both in patterns and in expressions.

There's still a mismatch with the ICFP13 paper, because of the difference between \forall, \exists and \Pi, \Sigma. I wonder if that's exploitable.

[2018-11-16 08:56] guillaumebrunerie commented on #3393
Yes.

The way I'm using `--allow-unsolved-metas` is that I have several files depending on each other with unfinished proofs in several of them. Sometimes I'm working on the goals in one file, sometimes on the goals in another file, and if I just loaded file1 and decide to look at file2 (which depends on file1), it is strange that file1 needs to be typechecked again even though I just loaded it be

[2018-11-16 10:35] Saizan commented on #3212
Is it sensible to ```throw``` a  ```TCErr.Exception``` to report such errors?

[2018-11-16 11:20] nad commented on #3393
If we go down this route, then I wouldn't be surprised if we later get a bug report about how performance is sometimes noticeably worse when `--allow-unsolved-metas` is used.

[2018-11-16 11:21] nad commented on #2820
Could you be a little more explicit about this mismatch?

[2018-11-16 12:35] Saizan commented on #2820
In Agda we can project the ```j``` out of a ```Nat i``` like so

[code]
which is not possible in the ICFP13 paper, because it's an extension of System F and ```Size``` is just a kind. In turn quantification over sizes is modeled by union/intersection and I believe this is necessary to reach a fixpoint.

The above is in line with the fact that those ```(j : Size< i) -> ...``` should be irrelevant q

[2018-11-16 12:40] gergoerdi opened #3399 "Internal error in TypeChecking/Reduce/Fast.hs with --cubical"
As of 3161248c2dcde48c19246b125a7a2ad0785d9d7a, using `--cubical` with https://github.com/agda/cubical, the following program with a hole causes an internal error during typechecking:

[code]

[2018-11-16 12:45] gergoerdi commented on #3399
If I define a helper function

[code]

and use that both in the type and definition of `lem`, then it passes the typechecker with no issues:

[code]

Only replacing it in `lem`'s type, or only in its definition, is not enough to work around this.

[2018-11-16 13:40] guillaumebrunerie opened #3400 "Obscure parse error with copattern and infix field"
The last line of the code below fails with a rather cryptic error:
[code]
Also I’m not sure why there is an error at all, what is ambiguous about that last line? How can it mean `((return x) $) tt`?

[code]

[2018-11-16 13:42] gallais opened #3401 "Generalize triggers Internal error at Substitute:100"
The following program crashes with:

Location of the error: src/full/Agda/TypeChecking/Substitute.hs:100

[code]

Note that if we swap `i : I` and `T : I → Set` in the `variable` block the internal error
goes away (and we get some unsolved metas instead).

[2018-11-16 14:13] jespercockx commented on #3397
Do you have any intuition as to why this property should hold for `Prop`-valued equality (other than that it holds for Set-valued equality --without-K)? I tried to prove it manually by doing the desugaring of pattern matching by hand, but it seems impossible because we currently don't have `J` (or even `subst`) for `Prop`-valued equality.

I do have plans to eventually make `Prop`-valued equality

[2018-11-16 15:09] guillaumebrunerie commented on #3397
No, I don’t have any more intuition for why it should hold. It was just a guess based on the fact that it works for `Set`-valued equality. But indeed, for `Set`-valued equality, one can prove it by showing that `PathOver p u u'` implies `subst p u ≡ u'` and then specialize it for `p = refl`, but it requires `subst`…

This is the only place requiring `--with-K` (or `subst`/`J` for the `Prop`-valued

[2018-11-16 15:55] guillaumebrunerie commented on #3337
I noticed that they are sometimes printed with a prefix dot (even though I use only `Prop`, no irrelevance). I’m not sure where the dot comes from, but whatever prints the dot should probably be able to print it as an underscore. The dot isn’t always there though…

[2018-11-16 20:26] nad commented on #2820
Does coinduction have similar (potential) problems?

I guess the definition of `f` could be prevented through the use of a special size universe.

Is shape-irrelevance well-understood now?

[2018-11-16 20:55] nad commented on #3400
I don't know exactly how copatterns are parsed, but I guess that this piece of text stands for `return` applied to three arguments. Perhaps this kind of ambiguity was @andreasabel's reason for introducing postfix projections.

[2018-11-17 12:25] andreasabel commented on #3400
Yes, @nad has explained it.  The contributing factors are:
- `$` is a distinct name from `_$_`.
- There is no _syntactic_ separation of pattern variables from other identifiers allowed in patterns (constructors, projections).  Thus Agda has to resort to guessing what is a pattern variable, and the heuristics is that any name not in scope as a constructor qualifies to be a pattern variable.

The ob

[2018-11-17 12:36] andreasabel commented on #3385
I recall a lament from my side that the highlighting API does not guarantee monotonicity, i.e., information should only be added during the different highlighting phases and not taken away.  (I cannot find the reference to my comment, but this does not matter, as I repeated my lament here.)

[2018-11-17 16:14] nad commented on #3400
And we also complain if a pattern variable matches a constructor that is only in scope with a qualified name.

Now that we have copatterns, doesn't it make sense to treat projections in the same way as constructors? I have not checked, but perhaps it suffices to add `FldName` to the following lists:

https://github.com/agda/agda/blob/3161248c2dcde48c19246b125a7a2ad0785d9d7a/src/full/Agda/Syntax/Co

[2018-11-17 16:18] nad commented on #3385
Interactive highlighting currently works roughly as follows (when there is no error):
* First the entire file is highlighted in an imprecise way.
* Then, for each mutual block:
  * The expression currently being typechecked is highlighted.
  * Once the block has been successfully typechecked, it is highlighted again, now with more precise information available.

How would you do this in a monotone

[2018-11-17 20:32] nad commented on #3400
I tried changing the first line, and with that in place the code in the OP is accepted. However, the following code is rejected:
[code]
The problem is that `+` is now only treated as an infix operator. This is in line with how constructors are treated at the moment, the following code is rejected:
[code]
What do you say, should we go ahead with this change? I think I'm in favour of it. (For 2.6.1?

[2018-11-18 15:15] gallais commented on #3390
I just got the same one. Even shorter test case:

[code]

Edit: note that adding a type annotation to `id` makes the error go away!

[2018-11-18 18:58] andreasabel commented on #3400
Sounds reasonable.
It does not hurt if the choice of names for pattern variables is restricted a bit; it will give less opportunity for confusion.

A priori, yes. (Without thinking a lot about the consequences.)

[2018-11-19 08:26] nad commented on #2820
I discussed this with @Saizan now, and he mentioned that `bnm` does not commute with substitution. This makes me wonder whether this construction breaks subject reduction. @andreasabel?

[2018-11-19 08:30] nad opened #3402 "Extend a certain special treatment of constructors to projections?"
Broken out from #3400:

There is some special treatment of constructors (and pattern synonyms) that should perhaps be extended to projections:

https://github.com/agda/agda/blob/3161248c2dcde48c19246b125a7a2ad0785d9d7a/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L571-L573

It seems as if @andreasabel implemented this logic (99aa816). I asked him whether it should be extended with suppor

[2018-11-19 08:31] nad commented on #3400
I have already implemented it, but I don't want to resurrect the `future` branch just for this (I think having two active branches is too much of a hassle), so I won't push my changes just yet.

I opened a new issue for this question (#3402).

[2018-11-19 10:46] guillaumebrunerie commented on #3397
Update: by being more clever on how I define quotients (using the version of `PathOver` where `p` is a relevant (Set-valued) equality instead of an irrelevant (Prop-valued) equality), then everything goes through without needing `--with-K`.
So I’m happy now, and so far everytime I thought I needed `subst` for the `Prop`-valued equality, it turned out that I just needed to juggle between the two ty

[2018-11-19 12:42] jespercockx commented on #3397
That's great to hear. One trick I found is that for types with decidable equality, it is possible to 'resurrect' Prop-valued equalities and hence to implement `subst` for them:
[code]

If you're feeling a bit more adventurous, you can also use rewriting to make it work for arbitrary hSets (which I think also gives a better computational behaviour on equalities between neutral terms):
[code]

[2018-11-19 13:20] guillaumebrunerie commented on #3397
Ah, that’s nice, thanks! (although I guess that it works because the definition of "having decidable equality" uses the Set-valued equality?)

In one place I do need to transport along equalities in Nat, so for now I just proved those equalities using the Set-valued identity type.

The only other place where I need Set-valued equalities is to define quotients (using the HIT definition). Initially

[2018-11-20 03:58] ice1000 commented on #3378
Dunno if it's related:

[code]

Agda throws:

[code]

[2018-11-20 09:11] potato4444 commented on #3378
@ice1000 That is the #3314 that I mentioned at the start of the issue thread

[2018-11-21 08:42] nad opened #3403 "Internal error in Agda.TypeChecking.Rules.Term"
The following code triggers internal errors for Agda 2.5.4, 2.5.4.1, 2.5.4.2, and 2.6.0-3161248:
[code]
For Agda 2.6.0-3161248 I get the following error:
[code]

[2018-11-21 08:57] guillaumebrunerie opened #3404 "Positivity checker marks postulates as constant in mutual block"
The implicit argument of `f` at the last line of the code below is not solved by Agda (it should be). Note that if you remove `x'` (which isn’t used anywhere), then it does get solved.

[code]

[2018-11-21 09:17] guillaumebrunerie commented on #3404
The following is type-checked with no error. This doesn’t look good.
[code]

[2018-11-21 09:50] guillaumebrunerie commented on #3404
Does that qualify for the `false` label? There are postulates, but it’s simply the existence of the 2^ function, and its values at 0 and 1.

[code]

[2018-11-21 09:53] UlfNorell commented on #3404
I think you deserve the `false` label for this :-)

Got rid of implicit arguments (to rule out elaboration problems) and some minor simplifications:
[code]

[2018-11-21 11:04] #3399 closed, assigned to Saizan

[2018-11-21 12:18] nad commented on #3403
Bisection points to 70e0ff497b732677d2e14aecc94d26e812327b51: "[ fixed #2056 ] Implement postponing of checking a definition by pattern matching".

[2018-11-21 13:29] guillaumebrunerie opened #3405 "Allow the user to run TC computation (reflection) in the emacs mode"
Given a definition created with `unquoteDef` (or `unquoteDecl`), it would be nice if we could inspect the generated code, for instance by having an emacs command that prints the generated code.
I tried to print the list of clauses using error messages, but then I ran into problems because the right-hand sides have de Bruijn indices, so we cannot easily print those terms.

Something maybe easier to

[2018-11-21 14:00] gallais commented on #3405
If I understand you correctly, that is precisely what @halfaya and @brprice were
working on at the last AIM.

implementation e062fd21600f3e2483d4055d9fe2452b6a2f831c
test & documentation c2f750a8320df0b40be15219e495fcf5b38fca61

[2018-11-21 14:16] guillaumebrunerie commented on #3405
It seems that elaborate-and-give only allows one to print a *term* generated by reflection. This is good, but not yet enough for what I want. The constructs `unquoteDef` and `unquoteDecl` are used when you have a list of clauses (generated by some code) and you want to make a function out of it.

For instance, I have a data type representing terms of some type theory and I want to define substitut

[2018-11-21 15:26] UlfNorell commented on #3405
You can see what `unquoteDecl` and `unquoteDef` produces if you give `-v tc.unquote:10`.

[2018-11-21 15:39] nad opened #3406 "Should the section desugarer be a little smarter?"
Sections are currently turned into lambda abstractions. However, this is not necessary if all the holes "come at the end". For instance, `5 +_` could be desugared into `_+_ 5` rather than `λ fresh → 5 + fresh`. In some cases this can make a difference, as demonstrated by the following code:
[code]

Do you think we should make the section desugarer a little smarter? Pros:
* More code is accepted.
*

[2018-11-21 16:17] guillaumebrunerie commented on #3405
Ah, great, thanks!
I still think it would be good to have an emacs command for that, though, or maybe at least mention the `-v tc.unquote:10` trick in the docs.

[2018-11-22 00:46] xekoukou opened #3407 "New dropping of absurd clauses causes internal error at Reduce.Fast.hs"
In the middle of cleaning my code I encountered this bug , the problem is in the reftheorem.

[code]

[2018-11-22 00:56] xekoukou commented on #3407
The problem is when you case split on rspec :
[code]

By the way, are there ways to avoid the error till it is fixed? It is blocking me from working.

[2018-11-22 04:41] GregoryMorse opened #3408 "No option to prevent Erasure makes use of IORef and FunPtr from Haskell not possible"
This code does not work because Agda detects erasable types which are not truly erasable as they are really being used to merely pass and encapsulate Haskell data types.  Is there a workaround?  Why not add a {#- NON-ERASABLE -#} compiler option for data types with no constructor so that the Haskell code will work?  Obviously this causes a runtime crash due to erased being effectively a null point

[2018-11-22 06:17] UlfNorell commented on #3408
The problem is that you defined `FunPtr` to be an empty data type, which is a lie. The correct way to do it is
[code]
Exactly what you do for `CtrlEvent`.

The compiler really should catch this lie though, but the FFI coverage check doesn't work for empty types. I'll open a separate issue for this.

[2018-11-22 06:17] #3408 closed, assigned to nobody

[2018-11-22 07:44] nad commented on #3407
My experience is that, when I try to produce smaller test cases, the problem often disappears. Sometimes this points to a workaround. I suggest that you try to produce a smaller test case.

[2018-11-22 10:22] jespercockx commented on #3363
I got an email back from the support:

I sent them the two links that @alexvong1995 posted here. However, I do not have great confidence that anything will happen anytime soon, so if we are serious about https we should look into other solutions.

[2018-11-22 13:16] xekoukou commented on #3407
A bit smaller. The error occurs because I had removed an impossible case. Since there was no yellow highlighting, I assumed that Agda found out that the case was impossible.

[code]

[2018-11-22 15:09] JacquesCarette commented on #3406
As I user, I was very surprised to see this issue, as it makes it clear that the syntactic form you choose for writing a function has a larger-than-expected impact on type inference.

Again, as a user, I would very much like it if the details of my syntax choice only mattered with respect to human-readability, but that Agda wouldn't care. So I am quite 'pro' this change.

[As someone who also buil

[2018-11-22 15:12] JacquesCarette commented on #3405
:+1: for both of @guillaumebrunerie 's suggestions (i.e. inclusive or please!)

[2018-11-22 18:44] UlfNorell commented on #3408
You don't have to postulate them as `Set`. I wasn't reading your code carefully enough when suggesting the fix. It should of course be

[code]

[2018-11-22 18:46] GregoryMorse commented on #3408
Thank you very much for the reply there.  But now I cannot compile because I get endless kind errors - I have not seen any examples of how to deal with data type constructors which have kinds but must be postulated as Set.  The manual mentions this for type class instances via a dictionary method.

`    * Expecting one more argument to `T14'
      Expected a type, but `T14' has kind `* -> *'
    *

[2018-11-22 18:47] GregoryMorse commented on #3408
At this moment I am unsure if this can be done with type synonyms - its impossible to parameterize them in Agda and I cannot even find a trick to use lambdas to jacket the Haskell function calls when this involves the return values.

This is what led me to resolve this route by realizing it had to be done with a data type and an empty constructor - I have seen examples of almost all the possibly s

[2018-11-22 18:49] GregoryMorse commented on #3408
Well at least this inquiry led to a genuine bug report :D - appreciate your help.

[2018-11-22 20:12] jmchapman opened #3410 "ghc backend generates program that segfaults"
I have an evaluator for well typed terms. If I compile the evaluator and test it on certain examples the generated haskell program segfaults at runtime. The language has bounded integers and bytestrings, the bounds are represented as extra proof arguments to the constructors of integers and bytestrings. If I make the bounds trivial (i.e. the unit type instead of i < j) then it works ok. It's from

[2018-11-22 21:08] xekoukou commented on #3410
I tested it with agda-ocaml and my version of agda-prelude and it returns "something went wrong" , which I assume is the correct answer (?).

With ghc , it segfaults.

Here is a bit smaller piece of your code :
[code]

[2018-11-22 21:24] jmchapman commented on #3410
@xekoukou thanks for this! I am puzzled by the ocaml output. I was expecting it to work instead of  producing "something went wrong"

[2018-11-22 21:27] jmchapman commented on #3410
Indeed, if you evaluate "help _ (eval 100 builtin2plus2)"  in agda it returns "4"

[2018-11-22 21:40] jmchapman commented on #3410
~260 lines
[Main.lagda.txt](https://github.com/agda/agda/files/2609301/Main.lagda.txt)

[2018-11-22 23:11] gallais commented on #3410
I've removed a few extra things (it's ~190 lines now) and thrown in a bit of
`Debug.Trace` for good measure.

I get a weird trace:

[code]

Notice how the second `con2` doesn't lead to a second `conint`: we silently skip
from `progressTelHead` to the `progressTelTail` which will uncover the empty telescope.

[code]

[2018-11-22 23:26] gallais commented on #3410
Believe it or not if I compile the `.hs` file by hand **without** passing `-O` to `ghc`, I don't get a segfault anymore (I get "something went wrong").

The command to compile `Main.hs` by hand:

[code]

[2018-11-22 23:27] jmchapman commented on #3410
interesting, so without `-O` it gives the wrong answer like the ocaml backend
Do you get the same trace? (I am not sure how traces work)

[2018-11-22 23:31] gallais commented on #3410
I get a better trace when I don't pass the optimization flag `-O`.
This time both `conint`s show up.

[code]

[2018-11-22 23:55] jmchapman commented on #3410
Using `Debug.trace` like this is a nice trick.

[2018-11-23 00:03] gallais commented on #3410
If I remove the dot in `| .(size⋆ s)` in the definition of `BUILTIN`, everything
works out just fine (both with and without `-O` I get `4` as an output).

Maybe compilation tries to make use of the information that `size⋆ s` is forced
to get rid of it?

[2018-11-23 00:17] jmchapman commented on #3410
Brilliant! Thank you!

[2018-11-23 01:19] xekoukou commented on #3410
The problem is that with the dot , ```s``` is not used as Input for boundedI? because it is erased.

Without the dot :
[code]

With the dot :

[code]

[2018-11-23 08:50] jespercockx commented on #3056
Should we only disallow splits on irrelevant variables of dependent records or should we disallow splitting on irrelevant records altogether? I'm not sure if the extra expressiveness is worth it having the special case for non-dependent records. I will try the solution where we rule out all irrelevant record splits and see how annoying it is.

[2018-11-23 10:20] #3056 closed, assigned to jespercockx

[2018-11-23 12:41] #3256 closed, assigned to jespercockx

[2018-11-23 12:43] jespercockx commented on #3256
Fixed by adding a constructor for postulated sorts. Things to think about in the future:

- Should `--allow-unsolved-metas` work as it does now (turning metas into postulates) or should we preserve metas as-is?
- Should we merge the `Sort` datatype into the `Term` datatype to get rid of the duplication between the constructors (`MetaS` and `MetaV`, `DefS` and `Def`, `DummyS` and `Dummy`, ...)?

[2018-11-23 12:47] GregoryMorse commented on #3408
I can confirm the Set -> Set approach also works - the cleanest most general elegant solution.  I suppose it should have been obvious - I just had some mistakes when I initially tried that approach which led me in some circles to the empty data type.  The single Set approach works but the whole point of using a type checking system is somewhat being defeated if the kinds are arbitrarily ignored ev

[2018-11-23 13:09] UlfNorell commented on #3372
The xelatex tests don't work for me (MacOS). Some quick googling suggest (for instance [here](https://tex.stackexchange.com/questions/74383/fontspec-error-font-not-found-on-mac-os-x)) that xelatex will only use system fonts, and it's impossible to make it look in the TeX distribution.

To fix the problem I disabled the xelatex examples on MacOS.

[2018-11-23 14:12] GregoryMorse commented on #3408
The Set -> Set data type case should still be added to the reference manual - is there a place to make such a request?

[2018-11-23 14:55] mortberg opened #3412 "Automatic case-splitting for boundary equations in cubical agda"
In Cubical Agda I can write things like:
[code]
in order to define the boundary of a partial element by cases on the face formulas. This is really great, but it would be even greater if I could generate these cases automatically. So I would like to be able to write
[code]
, press `C-c C-c` on x in the goal and Agda would then generate the two cases. This would save me a lot of time and boring typi

[2018-11-23 15:02] UlfNorell commented on #3408
Ideally you would make a PR with the suggested additions, otherwise opening a new issue here is fine.

[2018-11-23 16:43] andreasabel commented on #3403
Fixed by removing the `__IMPOSSIBLE__` and replacing it by `reraise` (of the caught exception).

[2018-11-23 17:07] jespercockx commented on #2833
It's hard for the coverage checker to see the difference between cases where it's fine to split immediately on the result and cases where it's not. In the example `h` above if `zero` were the only constructor of `Nat` then it would be fine to split on the result immediately and report the final clause as unreachable. But we can only tell the difference after we have performed the second split!

Gi

[2018-11-23 17:36] andreasabel commented on #3407
Testcase wasn't quite minimal; this still triggers the error:
[code]

[2018-11-23 17:47] andreasabel commented on #3407
In Agda-2.5.4.1, this still works as expected, since the error
[code]
is thrown before the Agda machine hits the incomplete definition.

I suspect feature #1086 is to blame, see 242684bca62fabe43e125aefae7526be4b26a135.
@jespercockx @UlfNorell Either the coverage checker should add the absurd clauses, or the Agda machine (Reduce.Fast) should honor `MissingClauses`.  I would think the first alterna

[2018-11-23 18:12] andreasabel commented on #3404
More concisely, use old-style `mutual` blocks:
[code]
I do not understand what it going on here.  Why should there be unsolved metas from the `mutual` block?

Old-style `mutual` makes also the `false` example shorter:
[code]

[2018-11-23 19:00] andreasabel commented on #3404
Apparently Agda thinks that `B` is a constant function (and, likewise `2^`).
The positivity checker seems to treat postulates in mutual blocks as functions with an empty body, thus, of course, none of its arguments are used, and it is declared a constant function.

Agda-2.5.3 still complains about `1 != 0 of type Nat`, but Agda-2.5.4.1 accepts the false program.

[2018-11-23 20:18] andreasabel commented on #3404
Assuming postulates to be constant is maybe not in the intention of the user, but does not introduce inconsistency.
Here is your actual inconsistency, using primitives:
[code]

[2018-11-23 20:32] andreasabel commented on #3369
Fixes to regressions #3403 and #3404 could be included.  The respective commits are
- [ ] a47afbc9c774a0be4a961eaaf9cd4d458d5828ff (issue #3403)
- [ ] e03485c4f871dc07df59923b27bf2632878d09c8 (issue #3404)

[2018-11-23 21:36] brunoczim commented on #3365
Quoting from [here](https://github.com/mokus0/Agda.tmbundle/issues/2)

[2018-11-24 19:03] jespercockx commented on #2833
Since catchalls are not allowed for copatterns, I decided the best thing to do here is to not split on the result unless *all* clauses have an unsplit copattern. This rules out some valid edge cases (such as my second example in the original post), but I think it's a price worth paying for having a clearer error message.

With this change, both examples work if we are explicit that the final claus

[2018-11-24 19:09] #2833 closed, assigned to jespercockx

[2018-11-25 14:44] gallais commented on #3345
Is this a duplicate of #1869?

[2018-11-25 14:57] xekoukou opened #3413 "Termination checker rejects anonymous lambda function."
The TC does not complain with function ```foo```, but it does with a lambda function.

[code]

[2018-11-25 21:27] nad commented on #3372
If you had this problem, then I can imagine that others might also encounter it. Could you write something about it in the "common pitfalls" (see #3371) section of the user manual?

[2018-11-25 21:40] UlfNorell commented on #3372
Don't think it's worth documenting. It's not something Agda specific, and I doubt we have many xelatex-MacOS users.

[2018-11-25 21:40] #3372 closed, assigned to nobody

[2018-11-26 02:03] xekoukou opened #3414 "Interactively normalize goal and variables."
Neither no-normalization or full normalization produce intelligible output in most cases. We need to be able to click on the Type of the Goal and variables to "evaluate" specific functions, till the types become readable. This also means that the level of normalization needs to be remembered if we switch to a different hole for a moment.

I opened the issue so as to have this feature in mind for a

[2018-11-26 10:25] #3378 closed, assigned to Saizan

[2018-11-26 11:45] nad commented on #3372
At the time of writing none of the issues in [that section](https://agda.readthedocs.io/en/latest/tools/generating-latex.html#known-pitfalls-and-issues) are specific to Agda.

[2018-11-26 11:48] nad commented on #3414
Related: [[Agda] Offer of Elisp help](https://lists.chalmers.se/pipermail/agda/2018/010518.html).

[2018-11-26 15:41] mortberg opened #3415 "Add ghcomp to get rid of empty systems in cubical agda"
It would be great if cubical agda would implement "ghcomp" to get rid of empty systems. This should make it easier to prove things and computing faster (especially for HITs).

This operation can be defined using the existing `hcomp` operation as follows (idea due to @Saizan ):
[code]
This should then be used in `transp` for `Glue` where the "forall" operation occurs (as this is in only in one plac

[2018-11-26 17:09] jespercockx commented on #723
Thinking about this, we actually already have a more refined version of the `isFunctionType X` constraint: the `CheckArgs` case of `PostponedTypecheckingProblem` enforces that a type accepts the arguments it is given.

The actual problem here seems to be the same as #2760 : instance search doesn't even try to filter out the candidates because there's an unconstrained meta in the type.

However, ev

[2018-11-26 17:10] jespercockx commented on #2760
This is blocking #723

[2018-11-27 14:53] nad opened #3416 "Warnings are printed before errors"
Consider the following code:
[code]
When I load this code in Emacs the cursor jumps to the final occurrence of `Set`, and the following text is printed in the information buffer:
[code]
Given that the cursor jumps to the problem associated with the error I really think that the error should precede the warnings in the information buffer. The current output can be rather confusing.

This is a regre

[2018-11-27 15:32] nad commented on #1556
I have some code of (roughly) the following form:
[code]
Now this code is rejected. I can fix this by replacing `f (c x y)` in the type signature of the lemma by the corresponding right-hand side. This right-hand side is rather large, so I don't want to duplicate it, but this can be fixed by giving a name to it. Unfortunately the type signature of the resulting definition is also rather large. (An

[2018-11-27 15:54] nad opened #3417 "No highlighting for code that fails termination checking when an error is encountered"
Consider the following code:
[code]
Agda rejects this code:
[code]
However, the problematic call in `A` is not highlighted as such in Emacs. (I tried using both non-interactive and interactive highlighting.)

[2018-11-27 16:15] gallais commented on #3417
This is strange: if I throw in extra definitions then *at some point*, I start getting
highlighting for the first batch.

E.g. with the following code I get highlighting for the termination warnings in
A, B, and C but not D.

[code]

[2018-11-27 16:42] fredrikNordvallForsberg commented on #3416
@gallais Sorry, I should have assigned myself! Currently running the test suite after a fix.

[2018-11-27 16:46] gallais commented on #3416
@fredrikNordvallForsberg No problem!

[2018-11-27 17:22] #3416 closed, assigned to fredrikNordvallForsberg

[2018-11-27 17:25] fredrikNordvallForsberg commented on #3416
I'm not sure if "not-in-changelog" is needed in conjunction with "regression", but just in case.

[2018-11-27 17:27] fredrikNordvallForsberg commented on #3416
Also note that I didn't change the order of the warnings and the error for the command-line output; there, I think it makes sense to look to the last output to see what made us crash out with an error.

[2018-11-27 17:49] jespercockx commented on #3416
I think we *do* need it because if we actually released a version of Agda with the regression, it *should* be mentioned in the changelog that it is now fixed.

[2018-11-28 09:19] #2582 closed, assigned to Saizan

[2018-11-28 09:19] #3212 closed, assigned to Saizan

[2018-11-28 10:08] jespercockx commented on #3407
I'll try to implement the first alternative.

[2018-11-28 10:36] #3407 closed, assigned to jespercockx

[2018-11-28 10:37] jespercockx commented on #3407
This was quite easy to fix once I knew what the problem was. Thanks @xekoukou and @andreasabel for doing all the hard work on minimizing the example!

[2018-11-28 21:38] andreasabel opened #3418 "Generalization generates parameter clash"
[code]
I expect generalization to unify `a₁` with parameter `a` rather than throwing a type error.

[2018-11-28 22:12] andreasabel commented on #3351
This issue (fields cannot shadow variables) is really obnoxious.
It is a bit funny to change the shadowing rules for /all/declaration forms just because of this issue here.  (I was much less annoyed by not being able to shadow a definition in a local module.)
But if we have to, then change the shadowing rules in general.

[2018-11-28 23:54] gallais commented on #3418
I have faced the same sort of errors in code I recently refactored to use generalisation.

In case you need a quick fix to keep working on your code, I know a temporary
workaround: if we make `a` explicit in `P` then we get enough constraints for Agda
to find the right generalisation.

[code]

[2018-11-29 05:59] UlfNorell commented on #3418
This is #3362.

[2018-11-29 05:59] #3418 closed, assigned to nobody

[2018-11-29 08:38] jespercockx commented on #1003
I don't think this fix is very satisfactory because it breaks an important guarantee of instance arguments: that any solution is indeed one of the marked 'instance's. Maybe a more principled solution would be instead to refuse to solve any instance metas through conversion, instead **requiring** that they are solved by instance search.

[2018-11-29 09:03] nad commented on #3351
Why? In the OP you gave an example showing that they cannot, but you didn't explain why this is a problem. Is it because you use short, non-descriptive names both for generalisable variables and for fields? Perhaps you should try to use descriptive names for fields.

[2018-11-29 10:59] UlfNorell commented on #1886
With generalizable parameters, I think we should treat parameters in definitions more like left-hand sides. That is,
- disallow repeating the type
- allow named implicits
- allow giving different names in signature and definition

[2018-11-29 12:39] gallais opened #3420 "Inductive definitions live in a larger set --without-K"
Cf. [this example](https://github.com/agda/agda-stdlib/commit/2811a9b5989c5f06abfa86adba9696880d943583#r31456760)

If this is not necessary then we should make sure we can lower the definitions again,
otherwise we should document this in [the doc for `--without-K`](https://agda.readthedocs.io/en/v2.5.4.2/language/without-k.html)

[2018-11-29 13:06] guillaumebrunerie commented on #3420
I think this is the expected behaviour. One of the motivations for having `--without-K` is that it should be compatible with univalence, and from the point of view of HoTT if a type `A` lives in a universe `U`, then the identity type of `A` should live in the same universe, not in a lower one.

[2018-11-29 17:17] ivoysey opened #3421 "extended visualization of dependency graph"
Current versions of Agda  can produce a DOT file showing the module dependency graph. This feature could be extended to provide information that's more useful in the process of developing a collection of modules, rather than just the high level structure of a possibly complete development. Specifically,

- if modules that use postulates, they are colored red,
- those that have unsolved metas are c

[2018-11-29 17:57] andreasabel commented on #3413
Shrunk to:
[code]
It seems like this is an instance of the long-standing open issue #906.

[2018-11-29 21:23] nad commented on #3420
Yes, this is intended. [Coq also does something like this](https://coq.inria.fr/refman/credits.html) (see the discussion of the `-indices-matter` flag).

I think the rule is that all index types must fit in the target universe. Does anyone know where in the Agda code base this is implemented?

[2018-11-29 21:29] nad commented on #3421
Perhaps this kind of thing could be developed as a separate application, or separate backend, rather than being part of Agda.

[2018-11-29 21:45] ivoysey commented on #3421
Yeah, that's certainly a fine approach too. A lot of the machinery to traverse the parse tree must already exist in Agda in order to produce the DOT output that it already can, though. It would be a shame to duplicate that work, especially as the syntax of the language changes and creates a chance for version skew. I was more trying to think of ways that would be a small extension to the existing

[2018-11-29 22:41] gallais commented on #3420
Interesting. So `All` and `all` are not equivalent in HoTT?

[code]

[2018-11-30 08:55] jespercockx opened #3422 "Show names of instance candidates in error message"
When instance search fails because there being multiple candidates, you get a list of all candidates. However, these candidates are (partially) reduced, so it is sometimes not easy to tell where they actually come from. Since all (non-anonymous) instances actually also have a corresponding top-level name, it would be nice to show this name to the user.

[2018-11-30 10:08] nad commented on #3420
I have not checked the details, but I guess that you can prove that `All` is equal to `all` in HoTT with univalence and cumulativity.

[2018-11-30 10:15] jespercockx opened #3423 "Implicit arguments with custom macro for resolution"
It would be nice if we could annotate implicit arguments with a custom macro that is run when the implicit argument is inserted. We could make use of the new attribute syntax:
[code]
One obstacle to adding this feature is that it requires the `QName` of the macro to be part of the `ArgInfo`, but the `ArgInfo` is constructed before scope checking.

[2018-11-30 12:38] jespercockx commented on #3175
This succeeds when we allow unconstrained instances (https://github.com/agda/agda/pull/3419)

[2018-11-30 12:49] jespercockx commented on #2490
This issue is likely also solved by https://github.com/agda/agda/pull/3419, but I'm unable to check the original example by @amp12 because some change in the standard library (`W` used to take a `Set` instead of a `Container`?). The second example by @yanok now terminates quickly but reports an unsolved instance argument with two candidates `aG` and `applicativeComp` (`applicativeComp` cannot be r

[2018-11-30 13:25] #2757 closed, assigned to andreasabel

[2018-11-30 14:16] xekoukou opened #3425 "Internal error at src/full/Agda/Termination/Monad.hs:177"
The error is because of a lambda function [here](https://github.com/xekoukou/LTL/blob/9d6fe22f1e51f57d62231b197d4b231c9fc578bc/src/LTL/Theorems.agda#L22)

For now you can reproduce the error. When I have time I will reduce the test case.

[2018-11-30 20:42] xekoukou commented on #3425
The problem is in the line that has the holes. You can remove the other  cases if you want.

[code]

[2018-11-30 20:46] xekoukou opened #3426 "Termination checking false positive when using "where""
The code is almost the same as in #3425 . According to @gallais , this is a regression.
By the way, the reason why it should terminate is because of the ```w``` variable.

[code]

[2018-11-30 20:54] gallais commented on #3426
Well, I don't know about this one in particular. But I have encountered a case where
a `where` clause that used to be accepted now causes a termination error (which I
fixed by `let`-binding the intermediate results rather than `where`-binding them).
Unfortunately I haven't manage to shrink the problem to a manageable test case.

[2018-12-01 14:29] jespercockx commented on #3391
Since we just missed our initial deadline (which was perhaps a tad optimistic), I propose the following adjustment to the plan:

- Have an initial release candidate ready before Christmas
- Release Agda 2.6.0 before the 13th of January (start of POPL)

[2018-12-02 17:13] jespercockx commented on #1909
See also #2618

[2018-12-03 13:32] nad commented on #3426
Based on the description above this doesn't sound like a false positive.

[2018-12-03 14:58] jespercockx commented on #1063
Actually @divipp already implemented the second alternative in https://github.com/agda/agda/commit/32220e0415c38ef5e85c493bba3eab6ace298e97#diff-74c7bcc666176816c0d565cbaf6ef7c1R181 (without advertising it). So this issue has been fixed for 7 months already. I now feel stupid for wasting my Sunday on implementing the alternative solution, but I'm also happy I don't have to implement it myself.

[2018-12-03 17:19] #2872 closed, assigned to jespercockx

[2018-12-03 17:19] #2969 closed, assigned to jespercockx

[2018-12-03 17:37] jespercockx commented on #2892
Error message is now:
[code]
The suggestion to replace `y` with `_` fixes the problem. I think this is acceptable behaviour (or at least it's not obviously wrong), especially considering a user who writes such silly code.

[2018-12-03 17:37] #2892 closed, assigned to jespercockx

[2018-12-03 22:09] caryoscelus opened #3428 "Another interal error in Substitute:72 when filling a hole"
Using Agda version 2.5.4.2 (similar #3312 is reported to be fixed in it).

[code]

The simplest code i've found that triggers it:

[code]

Both C-c C-r and C-c C-space trigger this. C-c C-. shows `Have: piSort (univSort _8) (λ B → _8)`

Removing ℓ or specifying B type is enough to avoid issue.

[2018-12-03 22:33] gallais commented on #3428
Same as #3312: it looks like it has been fixed in master.

[2018-12-03 22:34] #3428 closed, assigned to nobody

[2018-12-03 23:05] gallais opened #3429 "Errors during `make interaction`"
I get:

[code]

which should probably get fixed.

[2018-12-04 09:05] nad commented on #3429
@ice1000, this might be related to your changes.

[2018-12-04 09:10] nad commented on #1063
I suggest that we document the change. When are module parameter metas frozen?

[2018-12-04 15:33] jespercockx opened #3431 "Rewrite rule doesn't fire during conversion checking"
François Thiré reports a strange error with `--rewriting` on the Agda mailing list (https://lists.chalmers.se/pipermail/agda/2018/010686.html). Here is a somewhat smaller version that exposes the same problem:

[code]
Error message:
[code]

Looking at the debug output with `-v tc:49`, there's something strange going on:
[code]
Here, `prod (Lift 1ℓ a) (Lift 1ℓ b)` reduces to `Lift (suc zero ⊔ suc z

[2018-12-04 15:38] #2993 closed, assigned to UlfNorell, jespercockx

[2018-12-04 15:38] #2670 closed, assigned to jespercockx

[2018-12-04 15:38] #3175 closed, assigned to jespercockx

[2018-12-04 15:39] #723 closed, assigned to jespercockx

[2018-12-04 15:41] jespercockx commented on #2563
Closing this as the restriction on unconstrained metas is no longer there.

[2018-12-04 15:41] #2563 closed, assigned to jespercockx

[2018-12-04 15:53] #2760 closed, assigned to jespercockx

[2018-12-04 16:01] jespercockx commented on #1063
Modules are treated the same as other declarations in this respect, so any metas created while checking a module telescope are frozen at the end of that module. I'll add something to the changelog.

[2018-12-04 16:04] ice1000 commented on #3429
Why...

[2018-12-04 16:04] #1063 closed, assigned to jespercockx

[2018-12-04 16:09] jespercockx commented on #3421
It's possible for another application to use Agda as an API, so ideally it wouldn't be necessary to implement a new parser from scratch.

[2018-12-04 16:10] #3421 closed, assigned to nobody

[2018-12-04 16:15] jespercockx commented on #3420
The rule is that the types of the *constructor arguments* must all fit in the sort of the datatype. Usually forced arguments are excluded from this check, but if `--without-K` is enabled they are also included. It's implemented at https://github.com/agda/agda/blob/d57465aaa9b97dd9f3e1003f90ebf68fc31a4ee3/src/full/Agda/TypeChecking/Rules/Data.hs#L1160-L1164

[2018-12-04 16:17] ice1000 commented on #3429
I think it's caused by this change:

https://github.com/agda/agda/commit/bbc6d95fc10c6fbe3cacd8b4234a157a5bb64160#diff-eeeec794b16992f033749cc794d5a305

A better way to fix it is to add a test case which has `.lagda.md` ending.

[2018-12-04 16:21] nad commented on #3429
Never mind, I didn't study the output very carefully.

[2018-12-04 16:29] nad commented on #3429
@gallais, when I tried `make Issue641.cmp` locally I didn't encounter any problems:
[code]
What, exactly, do you think is problematic? The "lagda.md" warnings?

[2018-12-04 16:33] gallais commented on #3429
The `highlighting-tmp` and `cmp` related issues may come from stopping the tests with `C-c`
and restarting them afterwards but I included them to be thorough.

The `lagda.md` warnings are indeed what bothers me most.

[2018-12-04 16:36] nad commented on #3420
Isn't this too liberal? The following code is accepted:
[code]

[2018-12-04 16:37] jespercockx commented on #3420
Yeah, that should *probably* not be allowed.

[2018-12-04 17:33] jespercockx commented on #3415
@Saizan please add a milestone when you accept a new issue!

[2018-12-04 17:33] #3413 closed, assigned to nobody

[2018-12-04 17:35] jespercockx commented on #1003
Fixed.

[2018-12-04 17:35] #1003 closed, assigned to andreasabel, jespercockx

[2018-12-04 17:51] mortberg commented on #3415
It would be very nice to have this as soon as possible! I suspect that it might make some things a lot faster and it would be very interesting to see if it can help with computing the Brunerie number (which I will define some day). As a first step I think we can just ignore the validity check and add the extra `~ r` where we use forall in transp for Glue. If I understand the code correctly this sh

[2018-12-04 18:04] #3420 closed, assigned to jespercockx

[2018-12-04 18:07] jespercockx commented on #3420
I implemented the more restrictive check and added it to the documentation & CHANGELOG.

[2018-12-04 18:08] jespercockx commented on #3420
I had to disable some code in the documentation for `--cubical` since the equality type for interval elements is no longer legal Agda. Maybe @Saizan wants to take a look to see how to fix it more properly.

[2018-12-04 18:12] xekoukou commented on #3425
I updated to latest agda version. It no longer returns an internal error but it returns a termination error.
Since Sigma is a record and I use an extended lambda there, this must be a duplicate issue to  #3413 and #906.

[2018-12-04 18:12] #3425 closed, assigned to nobody

[2018-12-04 18:13] xekoukou commented on #3426
Duplicate issue to #3413 and #906.

[2018-12-04 18:13] #3426 closed, assigned to nobody

[2018-12-04 18:20] jespercockx commented on #3415
Well, we have declared a feature freeze for 2.6.0, so 2.6.1 is likely the earliest release that could have it.

[2018-12-04 19:02] mortberg commented on #3415
Ok, I'm fine with just having this in the development version for experimenting. If it is indeed much faster then we should make sure to get it into 2.6.1. I could try to implement it myself if @Saizan confirms that these three places are the only ones that need to be updated.

[2018-12-04 19:23] asr commented on #3425
@xekoukou, I labelled the issue as `status: duplicate`.

[2018-12-04 19:24] #3431 closed, assigned to jespercockx

[2018-12-04 19:25] jespercockx commented on #3431
There turned out to be an error in some very innocent-looking boilerplate instance for tuples. It's fixed now, thanks for reporting!

[2018-12-04 19:49] ice1000 commented on #3429
[code]

What

[2018-12-04 19:52] ice1000 commented on #3429
Since there're already tests under `test/LaTeXAndHTML`, I prefer reverting this change (instead of adding test under `test/interaction` again.

[2018-12-04 19:53] #3429 closed, assigned to ice1000

[2018-12-05 08:41] nad commented on #3420
Thanks.

[2018-12-05 09:26] jespercockx commented on #3340
Here's another example where some of Agda's internals are exposed in full gory detail:
[code]
Error message:
[code]
Notice in particular `"dummyType: src/full/Agda/TypeChecking/Generalize.hs:354"`. Also, what does `[$ y] ~~ [$ x]` even mean? (I can tell because I know Agda's internals, but as a user this looks very confusing).

[2018-12-05 10:00] jespercockx commented on #3127
I'm currently trying out the approach without any prefix and while there's still a few things to fix (mostly related to #572) I really have to say ALL THE ERROR MESSAGES LOOK SO MUCH NICER! You will be amazed once I push this change.

[2018-12-05 11:03] Saizan commented on #3415
Just changing the computation of comp for ```Glue``` wouldn't really be a new feature.

@mortberg Those are the three spots where we use forall. We should probably add some tests for Glue's transp when this change is made though, it's easy to get such things wrong.

Also, I am a bit unconvinced by ```ghcomp``` implementation in terms of ```hcomp```, as ```u0``` gets duplicated. Though maybe it's g

[2018-12-05 13:05] jespercockx commented on #3125
Since this is an internal error in a part of the code that has since been removed, I strongly suspect it is no longer there. Please reopen or post a new issue if there's still a problem.

[2018-12-05 13:05] #3125 closed, assigned to jespercockx

[2018-12-05 14:13] nad commented on #2487
I have tried to analyse our different options, to see how they should be handled. There are a number of questions below.

Can perhaps be ignored:

* Options related to include paths and libraries: When a module is loaded we already check that none of its dependencies have changed. (This check uses a hash and can perhaps be fooled.) Note that these options cannot be set in pragmas.
* `--verbose`: I

[2018-12-05 15:03] nad opened #3432 "Highlighting does not work for pattern synonyms in import lists"
Highlighting does not work for pattern synonyms in import lists. Example:
[code]
In the `using` list `c` is highlighted, but not `c′`. (Tested using both non-interactive and interactive highlighting.)

[2018-12-05 15:34] guillaumebrunerie opened #3433 "Prop-valued equality not accepted anymore with --without-K"
The following code isn’t accepted anymore

[code]
[code]

I guess that this is due to 3316e456ca160fd6e5b465c3eef1b2f48a80e4f6, but is it intended? Is there another way to define the `Prop`-valued identity type?

[2018-12-05 15:43] jespercockx commented on #3433
This was not intended, no. Datatypes in `Prop` are interpreted as the squash of their equivalent definition in `Set`, so the equality type should also be definable in `Prop` (even if you currently cannot eliminate it).

[2018-12-05 16:00] mortberg commented on #3415
As `ghcomp` will only be used in 3 places I don't think the duplication will be too bad, but I guess you are thinking about taking ghcomp as primitive and defining it by cases on `A`?

Btw, redtt has ghcom (but implemented in a much more complicated way) and we tried disabling it which led to much worse performance. It is of course hard to compare the two systems, but I'm optimistic that this chan

[2018-12-05 17:27] nad commented on #3433
The following code is accepted:
[code]

[2018-12-06 06:53] jespercockx commented on #3032
Or we could just replace interaction points with an underscore, as we already do for out-of-scope names.

[2018-12-06 07:13] #952 closed, assigned to nobody

[2018-12-06 07:13] #3296 closed, assigned to UlfNorell

[2018-12-06 07:13] #1886 closed, assigned to andreasabel