[2015-11-19 14:16] #1721 closed, assigned to asr

[2015-11-19 15:49] jespercockx commented on #1719
Ok, I changed it so CtxId's only have to be unique on a per-file basis: https://github.com/agda/agda/commit/bd9766c32b76f761184ec18a14c6781d3c39efa9 Hopefully this is ok.

[2015-11-19 15:49] #1719 closed, assigned to jespercockx

[2015-11-23 13:12] nad commented on #1711
I don't think we should change the meaning of `TAB TAB`.

[2015-11-23 13:28] nad commented on #1706
A discussion from 2009 about this issue: [Why aren't free vars in types automatically generalized](http://thread.gmane.org/gmane.comp.lang.agda/772).

[2015-11-24 05:39] WolframKahl commented on #1692
On a file that has not changed since Feb. 2, and which does not use `with`, I get:

[code]

This file is also in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz .

[2015-11-24 09:15] andreasabel commented on #1701
81e99cf triggers in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz

[code]

[2015-11-24 17:52] andreasabel commented on #1701
Shrunk test case:

[code]

[2015-11-24 20:46] WolframKahl commented on #1701
On Tue, Nov 24, 2015 at 10:49:04AM -0800, Andreas Abel wrote:

I found a fix in master (and it works for Categoric/SGFunctor/Coproducts.lagda,
but apparently not for the problem behind the original error report for this issue)
but not yet in  https://github.com/andreasabel/agda-issue-1692.git ---
which way will this move? 2.4.2.5 from agda-issue-1692.git
appears to have a problem with at least one

[2015-11-25 01:26] WolframKahl commented on #1701
With master at 36a35e3858d4379e92ddd5d3db835e0ff766938c , I get a new module system regression:

[code]

I put the development up to that file at:
http://relmics.mcmaster.ca/RATH-Agda/SUList-Core-2015-11-24.tar.gz

[2015-11-25 01:32] WolframKahl commented on #1692
With agda-issue-1692 branch maint-2.4.2 at  5b7f703b5b8956289af1ff3ed0272b8ec968159b , I get

[code]

on a deeply nested `with` together with a `rewrite` that typechecks with previous versions.
The development up to that file is available at:
http://relmics.mcmaster.ca/RATH-Agda/SUList-Core-2015-11-24.tar.gz

[2015-11-25 02:29] WolframKahl commented on #1701
With master still at 36a35e3858d4379e92ddd5d3db835e0ff766938c, the original `ModParamsLost` starting this issue is indeed accepted, but the file that motivated this issue is not:

[code]

As I won't have time these days to attempt another slimming down (getting the original ModParamsLost was already pretty hard), I just put everything up to that file at:
http://relmics.mcmaster.ca/RATH-Agda/Monoid

[2015-11-25 10:07] andreasabel commented on #1692
Please update the tar archive to include the missing modules (e.g. Data.Maybe.*).

[2015-11-25 10:08] andreasabel commented on #1701
Regarding SepElemTypes, this does not check for me as Data.Maybe.\* is missing in your .tgz.

[2015-11-25 14:03] jespercockx commented on #1608
I'm currently working on fixing this issue for my new unifier. The unifier has two eta-expansion rules:
- A flexible variable of record type can be eta-expanded into one variable for each record field.
- An equation of record type can be eta-expanded into equations between the projections, e.g. an equation `x == y` of type `A x B` can be eta-expanded into two equations `proj1 x == proj1 y` and `pr

[2015-11-25 14:24] andreasabel commented on #1701
Partially shrank (in 4 hours) to http://www.cse.chalmers.se/~abela/Outer-Wire2.tgz, problematic file is still Categoric/MonoidalCategory/Outer/Wire.lagda.
Works with agda-2.4.2.2 and fails with agda-2.4.2.3.

[2015-11-25 14:45] WolframKahl commented on #1692
No idea how I managed to remove that from my file list --- sorry!

Updated.

[2015-11-25 18:11] andreasabel commented on #1701
Actually the original test case is as good if split over several files:

[code]

[code]

Main file:

[code]

Originally, I fixed this issue by keeping private modules around.  However, through serialization, they are deleted anyway.
Trying to keep them in the serialized files, by modifying the `publicModules` function to not `restrictPrivate`, gives me clashes and panics about ambiguous names.  Cu

[2015-11-26 09:45] UlfNorell commented on #1701
The problem arises when a parameterised parent module is private, and thus not getting copied. It isn't a scope issue though--the parent module really should be private--so instead of messing about with the scope I fixed this by always copying parent modules.

@andreasabel: I think you can rollback your scope changes (668c7ff2 and 80625047), but I have not checked.

[2015-11-26 22:44] guillaumebrunerie opened #1724 "Rewrite rule not always applied"
In the code below, I declare a rewrite rule of type `ap from foo ↦ bar`, but then trying to prove again exactly the same rewrite rule with `idr` fails with the error message `ap from foo != bar`. However, `C-u C-u C-t` in the goal does reduce `ap from foo` and shows that we have to prove `bar ↦ bar` (which is what we expect).

[code]

[2015-11-27 01:17] WolframKahl commented on #1701
At b289cbf2ce34d0daf295ef2d2f71fe47ccbacfd6, the Wire problem is gone --- thank you!
But the SepElemTypes problem is still there...

[2015-11-27 10:52] jespercockx commented on #1608
I've tried to implement my second suggestion (shuffling around the dots, or rather checking that the user pattern and computed pattern are shuffle-equivalent). The first rule (moving a dot on a variable to another position) is working, but implementing the second one seems to require eta-expanding all pattern variables recursively, which brings us back to square one. So I'm not sure what to do any

[2015-11-27 14:11] jespercockx commented on #1724
Fixed: 2d205020d22c8d579f07a78b9c0471de172116a8

Thanks for the catch!

[2015-11-27 14:11] #1724 closed, assigned to jespercockx

[2015-11-27 14:47] guillaumebrunerie commented on #1724
Great, thanks!

[2015-11-30 02:27] asr opened #1725 "__IMPOSSIBLE__ triggered in TypeChecking.Substitute.piApply"
From http://www.botik.ru/pub/local/Mechveliani/docon-A/0.03/docon-A-0.03.zip using the maint-2.4.2 branch:

[code]

The file type-checks with Agda 2.4.2.4 and master.

`git bisect` points out  that issue was introduced by the commit 80625047ebbf0fbf8f338ef876712f84ed076853.

[2015-11-30 03:40] asr commented on #1701
I reverted 8062504 by d5fd6f466a0ff8d543126c9015d5a860960d727c.

[2015-11-30 03:42] asr commented on #1725
Fixed by reverting 80625047ebbf0fbf8f338ef876712f84ed076853 in d5fd6f466a0ff8d543126c9015d5a860960d727c.

[2015-11-30 03:42] #1725 closed, assigned to nobody

[2015-11-30 04:20] asr commented on #1725
TODO: Missing test case.

[2015-11-30 09:34] andreasabel commented on #1725
Ulf pointed out that he fixed #1701 in a different way, so the modifications to scope can be reverted.  However, instead of a git revert I would have just manually reverted the relevant 2 lines.  I can do this later.

[2015-11-30 12:20] asr commented on #1725
You are right.

Ok.

[2015-11-30 15:56] andreasabel commented on #1701
https://github.com/agda/agda/commit/668c7ff22ca102f8af8136c7ac11dcd456c5564b has been reverted by https://github.com/agda/agda/commit/80625047ebbf0fbf8f338ef876712f84ed076853 but unreverted by https://github.com/agda/agda/commit/d5fd6f466a0ff8d543126c9015d5a860960d727c and finally ununreverted by 7a0838cedaeb0361c9f06e126c9d45c2341e6aa8. So no scope changes for this issue left.

[2015-11-30 15:59] asr commented on #1701
GitHub automatically closed the issue, so I'm reopening it.

[2015-11-30 16:04] asr commented on #1725
Testing the issue after 7a0838cedaeb0361c9f06e126c9d45c2341e6aa8...

[2015-11-30 16:08] andreasabel commented on #1701
@WolframKahl: SepElemTypes seems to pass now, please try again!
Closing...

[2015-11-30 16:20] asr commented on #1725
After 7a0838cedaeb0361c9f06e126c9d45c2341e6aa8 the issue continues fixed in maint-2.4.2 and master.

[2015-11-30 23:12] WolframKahl commented on #1701
[ListSet0.lagda.txt](https://github.com/agda/agda/files/47916/ListSet0.lagda.txt)

Now it stumbles on the next file after SepElemTypes, on uses of SepElemTypes modules --- trimmed-down version of that file only attached (this works with previous versions).

[code]

[2015-12-01 05:33] andreasabel commented on #1701
Agda's last words with `-v tc.mod.apply:80`

[code]

As `totalArgs` is 7, Agda decides to drop all arguments following the first `{@2}`.  But not all of them are vanilla variables, so actual content is dropped.

@UlfNorell : Should not all dropped arguments always be certain variables, like in this case, de Bruijn indices 5,4,3,2,1,0?  I think this should be checked before dropping stuff, the rele

[2015-12-01 15:36] banacorn commented on #1693
Could you please elaborate this a little bit more?
I've built a [agda-mode for Atom editor](https://atom.io/packages/agda-mode) and I'm currently working on library management things. Thanks.

[2015-12-01 15:56] UlfNorell commented on #1701
Here's a shrunk test case. It's got something to do with datatype modules (which I did note in 2afc6a2 are treated a bit differently), because if you remove the completely unused datatype in M2 everything works.

[code]

[2015-12-01 16:20] andreasabel commented on #1701
This also looks wrong:

[code]

[2015-12-01 18:47] nad commented on #1693
On 2015-12-01 16:36, Ting-Yan Lai wrote:

This issue refers to the Emacs variable agda2-include-dirs, which is no
longer used. For more information about the new library management
system, see
http://agda.readthedocs.org/en/latest/tools/package-system.html.

##

/NAD

[2015-12-02 08:32] UlfNorell commented on #1701
It is indeed the copying of parent modules that breaks down for datatype modules. What happens is that the parent of a datatype module (the anonymous module M2 X in this case) gets copied to the wrong thing overwriting an existing module.

[2015-12-02 09:10] UlfNorell commented on #1701
I can fix the datatype module issue, but only on master. In #836 we changed datatype/record modules so you can't use the type name as a module, which means there's no need for special copying of datatype/record modules. This change is only on master though.

@andreasabel: your examples look unrelated, maybe open a separate issue for those?

[2015-12-02 13:20] asr commented on #1701
Why #836 wasn't fixed in maint?

Anyway, I would like to release a new version after the release of GHC 7.10.3 which should soon (see https://mail.haskell.org/pipermail/ghc-devs/2015-November/010592.html).

At the moment, the _regression_ in this issue is the only blocking-issue for releasing a new version of Agda. I'll try to back-port the fix to #836.

[2015-12-02 13:38] UlfNorell commented on #1701
The reason the fix to #836 isn't on maintenance is that it changes the semantics of using/hiding, and consequently breaks people's code. I would rather we tried to find a different way of fixing this issue that doesn't rely on 836.

[2015-12-02 13:47] #836 closed, assigned to nobody

[2015-12-02 14:01] asr commented on #1701
I see.

I know you want to release Agda 2.4.4 soon and I really agree, but I'm seeing that getting a "stable" version from the master branch is too difficult because we continue adding new features and creating new issues in this branch. Any ideas how we can address it? Maybe we can create a maint-2.4.4 branch for preparing the release of Agda 2.4.4, but I'm not sure if it is a good idea.

[2015-12-02 14:14] asr commented on #1383
@jespercockx the above commit doesn't exits.

[2015-12-02 14:42] asr commented on #1701
BTW, since there are many and nice new features implemented in the master branch, what about to call the next release Agda 3.0.0?

[2015-12-02 14:44] andreasabel commented on #1701
We can rename 2.4.3 to 2.4.5 and release maint-2.4.2 + some stable semantics changes as 2.4.4, which would include #836 then.

[2015-12-02 14:47] andreasabel commented on #892
The new semantics would be (which strangely was the semantics of 2.4.2.2, but not 2.4.0 or 2.4.2.5):

[code]

[2015-12-02 16:42] jespercockx commented on #1383
Oops, apparently I deleted that branch from my github accidentally. Here's a version of the patch that's up-to-date with the current master: https://github.com/jespercockx/agda/commit/e48a45ca97b83e8337e12b59c12bcf90f16f590a

[2015-12-02 17:28] asr opened #1726 "Bug with open public in parameterised module"
From https://github.com/agda/agda/issues/892#issuecomment-161320255:

The new semantics would be (which strangely was the semantics of 2.4.2.2, but not 2.4.0 or 2.4.2.5):

[code]

[2015-12-02 17:29] asr commented on #1726
This also was the semantics in Agda 2.4.2.3.

[2015-12-02 17:30] asr commented on #1726
`git bisect` points out that the issue was introduced by 9cf7dd6f2958df114525e926054ea4ab8a4f5539.

[2015-12-02 17:33] asr commented on #892
I created #1726 for discussing Andreas' test cases.

[2015-12-02 18:21] andreasabel commented on #1701
@asr Agda 3.0.0 is reserved for a new language.  We are developing Agda 2, so all versions start with 2.  But we could release 2.5.0.

[2015-12-02 18:37] andreasabel commented on #1726
According to Ulf, the current behavior is what he intended with `open public`.  However, he agreed it can be confusing, and it will be changed to the "new semantics" I hinted at in the examples above.

Strictly speaking, this is a regression towards the intended behavior which was broken for at least 2.4.2.2 to 2.4.2.4.

This is a duplicate of what is left to do for #892.

[2015-12-02 18:48] andreasabel commented on #1713
On current master it checks now (please confirm!), so I guess this was a duplicate of #1701.

[2015-12-02 18:48] #1713 closed, assigned to nobody

[2015-12-02 18:58] andreasabel commented on #1712
Can you try this again with current master (Agda-2.4.3)?

[2015-12-02 20:53] UlfNorell commented on #1701
In any case I don't think we have that many new features for 2.4.4... What were you thinking specifically?

[2015-12-02 21:02] asr commented on #1701
I proposed to bump the version after reading https://github.com/agda/agda/blob/master/doc/release-notes/2-4-4.txt.

Anyway, it is more important to define the work-flow for preparing the next release.

[2015-12-02 21:03] asr commented on #1701
What did you mean for "We can rename 2.4.3 to 2.4.5"?

[2015-12-03 06:54] andreasabel commented on #1701
I meant that if we cannot release master now as 2.4.4, we can pick some stable feature onto the maint branch and release it as 2.4.4, and continue developing master as 2.4.5 (which will then be released as 2.4.6 or 2.5.0).

[2015-12-03 07:03] andreasabel commented on #1383
I commented on your patch that you might have to inline `LamCatchall` in `Parser.y`.

[2015-12-03 08:02] andreasabel commented on #1669
Can I generate the documentation offline, to check it before pushing my commit?
We currently do not check the Agda code snippets in the documentation automatically, do we? That would be great, maybe we need another literate Agda backend.

[2015-12-03 09:28] phile314 commented on #1669
You can generate the documentation offline, but the following packages need to be installed:
- Sphinx http://sphinx-doc.org/tutorial.html
  <pre>pip install Sphinx</pre>
- Sphinx RTD theme
  <pre>pip install sphinx_rtd_theme</pre>
- Latex

After that, doing a "make html" inside doc/user-manual should build the html documentation.

Currently, Agda code inside rst files is not checked. Creating a ba

[2015-12-03 09:31] phile314 commented on #1669
Btw, currently I, asr and andreasabel have admin access on readthedocs.org.

[2015-12-03 11:52] Blaisorblade commented on #1713
I'm confirming (as much as I can — I can't test the exact same version since I never had time to minimize this, but I can't trigger that message in the closest variants).

[2015-12-03 12:21] asr opened #1727 "To define a work-flow for releasing the new version"
At the moment, we cannot release a new version from
- the maint-2.4.2 branch because there was a regression (#1701) which only was fixed in the master branch (because the reason given in https://github.com/agda/agda/issues/1701#issuecomment-161228673).
- the master branch because this branch is not "stable"

[2015-12-03 12:22] asr commented on #1701
I created #1727 for continuing the discussion.

[2015-12-03 12:29] asr commented on #1727
Andreas' suggested (see https://github.com/agda/agda/issues/1701#issuecomment-161535123):

[2015-12-03 13:22] asr commented on #1727
Both branches have diverged too much, so I think this option would be very difficult. I propose:
- Stop developing in the maint-2.4.2 branch
- Create the maint-2.4.4 branch from the master branch

  After seeing the issues with milestone 2.4.4, for releasing a new version we need:

  *\* To fix the regressions in #1679 and #1712

  *\* To remove the new `DISPLAY` feature due to #1644

  *\* To rem

[2015-12-03 14:47] asr opened #1728 "Broken installation of UHC with GHC 7.10.2 following Agda documentation"
http://agda.readthedocs.org/en/latest/tools/compilers.html#uhc-backend says

By running `make` with GHC 7.10.2 I got the following error:

[code]

In https://github.com/agda/agda/issues/1475#issuecomment-129030996 Philipp wrote:

Since https://github.com/UU-ComputerScience/uhc/issues/54 is fixed I don't if there is an error in the Agda documentation or in UHC.

[2015-12-03 15:13] phile314 commented on #1728
UHC should work now with GHC 7.10. I will update the Agda UHC installation instructions.

[2015-12-03 15:19] asr commented on #1728
Note also that the documentation in  http://agda.readthedocs.org/en/latest/tools/compilers.html#uhc-backend says

but running `./configure` says

[code]

[2015-12-03 15:27] UlfNorell commented on #1727
Neither #1644 or #1536 are critical bugs, certainly not sever enough to warrant removing `DISPLAY` and `macro` from a 2.4.4 release. Why don't we just release maintenance like usual, and make a proper 2.4.4 release later?

[2015-12-03 15:32] asr commented on #1727
OK.

Because #1701 is a _regression_ only fixed in master.

[2015-12-03 15:35] UlfNorell commented on #1727
The regression has already been released in 2.4.2.3 and 2.4.2.4 hasn't it, so I don't see a huge problem with leaving it also in 2.4.2.5? If that's totally unacceptable, I'm pretty sure it's a lot less work fixing #1701 also on maint than it is to start cutting features out of master.

[2015-12-03 15:52] asr commented on #1727
Unfortunately I find myself in an awkward position, I think we _shouldn't_ make a release with a regression known but I don't how to fix #1701. Could you fix this issue in maint?

[2015-12-03 16:01] UlfNorell commented on #1727
Unless Andreas fixes it first, I'll look at it on Wednesday.

[2015-12-03 16:06] asr commented on #1727
Great!

[2015-12-03 16:09] jespercockx commented on #1383
Ah, inlining the catchall pragma into NonAbsurdLamClause and AbsurdLamClause seems to have done the trick, see https://github.com/jespercockx/agda/commit/a3a4d27dc68d04dbfb6276e5139d51002ebb7613

[2015-12-03 16:28] WolframKahl commented on #1727
Since #1701 was motivated from my code base: I am hoping for a release of 2.4.4, and I am highly  unlikely to use 2.4.2.5, since at least parts of my code already use new features.

[2015-12-03 16:47] #1728 closed, assigned to phile314

[2015-12-03 16:49] asr opened #1730 "Fixing an issue which requires to change the semantics and breaks people's code"
Which should be the work-flow for fixing an issue which requires to change the semantics and breaks people's code?

In a previous issue I asked?

Ulf's answer was (https://github.com/agda/agda/issues/1701#issuecomment-161292012):

I agree that changes in the semantics breaking people's code shouldn't be pushed in the maintenance branch, but these changes neither should be pushed in the master bran

[2015-12-03 16:53] WolframKahl commented on #1692
I just did a `git pull` of `agda-issue-1692` while on `maint-2.4.2`, resulting in:

[code]

The error reported above (`Data/SUList/SepElemTypes.lagda:640,119-121`) is still there.

[2015-12-03 17:42] asr commented on #1475
Following the instructions in http://agda.readthedocs.org/en/latest/tools/compilers.html#uhc-backend  I installed UHC and I also installed Agda using

[code]

Now, running `make compiler-test` I see

[code]

Shouldn't be the UHC back-end enable after installing Agda using the `-fuhc` option?

[2015-12-03 19:00] phile314 commented on #1475
The problem is that the user manual says how to install Agda with the UHC backend to be able to just use it, and it is aimed solely at users of Agda, not developers of Agda itself.

If you are developing Agda, calling "make" should do trick. If the "uhc" binary exists and is in $PATH, it will automatically enable the UHC backend. You can try "uhc --version" to see if the binary is in $PATH.

I wil

[2015-12-03 20:20] asr commented on #1475
I shouldn't mix users and developers stuff.

You are right, after installing UHC running `make install-bin` (or `make`) fix the problem.

Please mention that UHC should be installed before running `make install-bin` and also add the instructions for installing UHC.

[2015-12-03 20:29] asr commented on #1475
I just saw that you added this information. Thanks!

[2015-12-03 20:53] asr opened #1731 "UHC back-end and Windows"
From [UHC - WebHome](https://wiki.haskell.org/UHC), UHC runs under Windows (cygwin). Has someone tested the UHC back-end on Windows?

[2015-12-04 03:03] Blaisorblade commented on #1712
On my TODO list — the changes in instance resolution are still there, so I need to find time to change definitions or reduce the bug.

In particular, it appears that to resolve an instance argument of type T, there can't be unresolved metavariables in T — it looks as if before resolving the instance could fix the values to such metavariables. Is that plausible? I wrote something like that before (

[2015-12-04 04:00] Blaisorblade commented on #1712
Here's my progress with the new master (24e4deef6b5fe3cff91d2faf69d5faad508ada45). Right now I'm unable to sort this into more bugs, apologies.

I got farther, but there's a new bug:

[code]

If I comment out the offending definition, I see tons of unresolved metas.
But more importantly, again on instance resolution, please take a look to inc-lc/ilc-agda@77b5caa6a6605ebaf46108a64d89b1b9b358ea0c.

[2015-12-04 04:07] Blaisorblade opened #1732 "Functional dependencies for multiparameter type classes"
The current implementation of non-exponential instance resolution appears a huge undocumented regression — I'm most annoyed by inc-lc/ilc-agda@77b5caa6a6605ebaf46108a64d89b1b9b358ea0c.

As I wrote [elsewhere](https://github.com/agda/agda/issues/1712#issuecomment-161858703): It appears that instance resolution never happens until the type of the instance to resolve is fully determined — this preven

[2015-12-04 04:07] Blaisorblade commented on #1732
BTW, this breakage seems relevant to discussions about releasing master (#1727).

[2015-12-04 06:19] UlfNorell commented on #1732
The current implementation is very much documented here: http://agda.readthedocs.org/en/latest/language/instance-arguments.html#instance-resolution.

In your case you are suffering from the lack of something equivalent to functional dependencies for multiparameter type classes in Haskell. If you have ideas on how to add that feel free to share them.

[2015-12-04 07:34] UlfNorell commented on #1730
#836 is a bad example, since that was a request to change the semantics, and not a bug that required a change of semantics to fix. Even so, I guess it might make sense to give more room for semantics changes in the maintenance branch. My suggestion would be to change the policy for the version numbers as follows:

If current released version is Agda `2.X.Y.Z`, master will be `2.(X+1)`. Pure bug fi

[2015-12-04 09:22] andreasabel commented on #1383
Good.  Teaching Programming Language Technology and Compiler Construction did give me the practical knowledge to work around LALR's non-compositionality... :)

[2015-12-04 11:50] Blaisorblade commented on #1732
Cool docs! I see

Still, when was that introduced? This showed up in porting to master, so it'd seem appropriate to mention this/add a link in some release notes — say these?

[2015-12-04 12:48] asr commented on #1727
Since #1701 hopefully will be fixed on the maintenance branch, I'm closing this issue.

[2015-12-04 12:48] #1727 closed, assigned to nobody

[2015-12-04 13:05] andreasabel commented on #1692
I found that there are altogether 5 instances of this error: `eq` is rejected in the final proof.  In all cases, `eq` had become trivial, i.e., of the form `e == e`.  The cause is that `eq`'s type has been rewritten with itself, by the clause `rewrite eq`.  Of course, if `eq : a == b`, after rewriting with itself it will be `eq : b == b`.  In essence, once you rewrite with a hypothesis, it is gone

[2015-12-04 14:15] asr commented on #1383
Testing #1729...

[2015-12-04 14:22] phile314 commented on #1731
Neither the UHC backend nor UHC itself are currently supported on Windows.

I updated the user manual: https://github.com/agda/agda/commit/8a36de430c7d594a1af976b95f04ed034c4ca5b0

[2015-12-04 14:22] #1731 closed, assigned to phile314

[2015-12-04 14:24] asr opened #1733 "How to add a command-line option to a particular test suite?"
I want to run the suite of successfully tests (i.e. `make succeed`) using Agda with the `--exact-split` command-line option. Where can I add this option?

[2015-12-04 14:35] phile314 commented on #1733
Currently, that's only possible for the compiler-tests. Will fix this in a sec.

[2015-12-04 15:26] phile314 commented on #1733
Fixed in commit https://github.com/agda/agda/commit/c3a8e9a205791f5eca3b8fd91febb95da3f117d9. You can now use the AGDA_ARGS env variable to pass additional arguments to Agda.

[2015-12-04 15:26] #1733 closed, assigned to phile314

[2015-12-04 22:40] pigworker opened #1734 "Clause compiler skrews up with catch-alls"
Here's some trouble, distilled down from an exercise I was preparing for my class. I'm using version 2.4.2.4 (so that I can compile programs which use copatterns).

I need a few basics:

[code]

Now, I define the singletons over `Two`.

[code]

I'll be pattern matching on a later `Twoey` to learn about an earlier `Two`.

Next, I need some actual payload. Doesn't matter what.

[code]

Sometimes we

[2015-12-05 01:17] WolframKahl commented on #1701
For the record: At 0f44002666b2c0e1f1f01907fe2f91c7bd5a5711 , I threw all my recent/active code at it and encountered no problems.

[2015-12-05 05:05] asr commented on #1733
Thanks!

[2015-12-05 05:41] asr commented on #1383
Fixed by #1729.

[2015-12-05 05:41] #1383 closed, assigned to nobody

[2015-12-05 08:19] andreasabel commented on #1701
This was before the fix of #1692.  I can try to make the fix more backwards compatible (and thus, less principled, but maybe more useful).

[2015-12-05 08:45] andreasabel commented on #1734
For cut-and-pasting an automated test case:

[code]

This should succeed, but fails with:

[code]

Funnily, for 2.4.0 up to an including 2.4.2.3, we get another error:

[code]

[2015-12-05 09:24] andreasabel commented on #1734
The split tree for thingy? is correct:

[code]

But the clause compiler produces the following case tree:

[code]

It somehow deviates from the plan (the splittree) and decides to split on x before z.

[2015-12-05 10:01] andreasabel commented on #1734
The clause compiler discards the splittree at the point it encounters a catch-all, and then tries on its own and skrews up.  You can work around the problem by reducing the catch-alls.  E.g. the following works:

[code]

I replaced the last `_` in the last line by `(ff , _)`.

[2015-12-05 20:22] #1734 closed, assigned to andreasabel

[2015-12-05 20:26] andreasabel commented on #1734
The fix was not hard: just be more corageous and follow the split tree even when there are catch-alls and literals.  Seems to work.  I guess originally I just did not know what to do in these cases.

I speculate this test case never worked properly with the clause compiler.

[2015-12-06 00:48] asr commented on #1730
I agree. I will change the versions and create the required branches later.

[2015-12-06 04:53] asr commented on #1730
Fixed by eeabf71 and ccd01fb.

[2015-12-06 04:53] #1730 closed, assigned to asr

[2015-12-07 07:11] andreasabel commented on #1730
Doesn't this fundamental change in versioning policy warrant a broader discussion among the developers!?

Maybe having the master at 2.5 is fine, but we should reserve the option to still release it as 2.4.X.

I do not know the implication of renaming a git branch, but a priori I am a bit hesitant to applaude. At least now I do not see the need for such a renaming, this would have sufficed at the

[2015-12-07 13:27] asr commented on #1730
You are right, I should wait a broader discussion. As I previously mentioned, I agree with Ulf's proposal.

Before renaming maint-2.4.2:
- I couldn't find any problem with renaming a branch and
- I created a safety copy of this branch in https://github.com/agda/agda/tree/safety-copy-of-maint-2.4.2.

[2015-12-07 13:44] asr commented on #1730
Supposing that renaming a branch has not implications (I couldn't find any problem), we still have this option after "closing" the maint-2.4 branch.

[2015-12-07 13:49] asr commented on #1730
Since, as pointed out by Ulf, in maint-2.4 we have the option to release 2.4.2.5 or 2.4.3, I didn't see any reason for wait.

[2015-12-07 16:03] asr commented on #1701
@WolframKahl Please add a link to your code which type-checks with Agda 2.4.2.2 but doesn't type-check with the current maintenance version.

[2015-12-07 21:34] andreasabel opened #1735 "No nice display of rewrite lhss"
[code]

gives error

[code]

but this does not correspond to what the user wrote.  Nicer would be:

[code]

[2015-12-08 03:33] WolframKahl commented on #1701
That link is already there --- look for “Wire” above, and note also Andreas' test case split over several files.

[2015-12-08 04:30] hoyeunglee opened #1736 "how to run a hello world example"
I downloaded Agda tar file from wiki, and after unzip, I install with cabal install, then

i follow http://stackoverflow.com/questions/9692445/agda-as-a-programming-language

then installed https://github.com/agda/agda-stdlib

but after load it , it got error

Main> :l ag.agda
The name of the top level module does not match the file name. The
module hello should be defined in one of the following

[2015-12-08 04:34] hoyeunglee opened #1737 "how to create a basic function and test it agda?"
i googled example below, it has many symbol such as all and arrow
is there a complete example about which library needed to be imported and how to
test these basic function?

Rel : Set → Set₁
Rel X = X → X → Set

Decidable : ∀ {X} → Rel X → Set
Decidable R = ∀ x y → Either (R x y) (¬ (R x y))

record Equivalence {X} (_≈_ : Rel X) : Set₁ where
  field
    refl  : ∀ {x}     → x ≈ x
    sym   : ∀ {x

[2015-12-08 06:15] UlfNorell commented on #1736
This: **The name of the top level module does not match the file name.**

[2015-12-08 06:15] #1736 closed, assigned to nobody

[2015-12-08 06:17] UlfNorell commented on #1737
Please post questions like this to the mailing list: https://lists.chalmers.se/mailman/listinfo/agda.

[2015-12-08 06:17] #1737 closed, assigned to nobody

[2015-12-08 06:21] hoyeunglee opened #1738 "how to run a helloworld example 2"
last time i copy the wrong file in a hurry, actually i know the filename error,

this error is the latest error

The interactive mode is no longer supported. Don't complain if it doesn't work.
Main> :l ag.agda
Checking ag (/home/martin/adga2/ag.agda).
/home/martin/adga2/ag.agda:3,13-25
Failed to find source of module IO.Primitive in any of the
following locations:
  /home/martin/adga2/IO/Primitive

[2015-12-08 07:51] UlfNorell commented on #1738
Please post these kinds of questions to the mailing list. The issue tracker is for bug reports. (The problem in this case is that you're missing an include path to the standard library).

[2015-12-08 07:51] #1738 closed, assigned to nobody

[2015-12-08 10:07] andreasabel commented on #1735
Slightly simplified:

[code]

Current error:

[code]

My suggestion

[code]

would be misleading, as `f true rewrite lie = ff` is suggested by the definition.
Maybe

[code]

would be better. Still looks better than the current error.

[2015-12-08 19:59] sylvainnahas opened #1739 "agda-mode for Atom editor : IOTCM communication problem?"
I am using Agda installed with:
$git clone
$cabal install

$ agda --version
Agda version 2.4.3

When loading an Agda file in the Atom editor and trying to "Load" the Agda mode, I get the error message: "Chose at most one: input file or --interaction"

The command sent by the Atom code to Agda (started with --interaction) is:
IOTCM "/home/sylvain/Documents/Agda/exos.agda" NonInteractive Direct ( Cm

[2015-12-09 10:26] UlfNorell commented on #1701
This should now be fixed also on maint-2.4. I got rid of the free-variables tracking for sections completely. The same information is stored in the length of the parameter telescopes, so it's not actually needed.

(Why didn't 51248b3 auto-close the issue? Is it waiting for Travis?)

EDIT: maybe because I managed to leave that commit out of the merge...

[2015-12-09 10:57] #1679 closed, assigned to UlfNorell

[2015-12-09 10:57] #1701 closed, assigned to nobody

[2015-12-09 13:54] UlfNorell opened #1740 "Rewrite on reflexive equality should not be a no-op"
Sometimes you use `rewrite` to prove something about a function defined by `rewrite`. For instance,

[code]

With the change where wildcards no longer need to be dotted (#1605), the fix to #1110 (d6fcedb1) should be much simpler (just desugar rewrite to use a wildcard for the left-hand side).

[2015-12-09 15:34] andreasabel commented on #1740
The naive fix does not work, though, see test case for #1402:

[code]

This fails then with error:

[code]

The generated auxiliary function is:

[code]

I guess we have to first fix #520, then we can fix this.

[2015-12-09 15:48] UlfNorell commented on #1740
I think it perfectly fine that the above example fails. We may or may not want to do something about #520, but I don't think it's relevant here.

[2015-12-09 17:42] andreasabel commented on #1740
Well, if I rewrite Set1 to Set1 I expect to get Set1 and not w.  At least the intuitive understanding of rewrite breaks here.

[2015-12-09 19:51] UlfNorell commented on #1740
Sure, but that's #520 and not this one. Think about it like this: if we hadn't already changed reflexive rewrite to be a no-op and I suggested I could fix #520 in the special case of `x ≡ x`, but it would make some useful rewriting of reflexive equations break, would you think that was a good idea.

[2015-12-10 16:52] asr commented on #1701
The code at http://relmics.mcmaster.ca/RATH-Agda/MonoidalCategory-Outer-Wire-2015-11-24.tar.gz doesn't type-check with Agda 2.4.2.2:

[code]

[2015-12-10 17:25] asr commented on #1701
Great. Thanks!

@WolframKahl FYI, the code at  http://relmics.mcmaster.ca/RATH-Agda/MonoidalCategory-Outer-Wire-2015-11-24.tar.gz type-checked with the current version on maint.2.4.

[2015-12-10 17:27] asr commented on #1518
GHC 7.10.3 was released, so I'll fix this issue before releasing Agda 2.4.2.5.

[2015-12-10 20:40] peti opened #1741 "Please add support for haskell-src-exts 1.17.1"
Stackage has update to the latest version of `haskell-src-exts`, which unfortunately breaks the current Agda build: http://packdeps.haskellers.com/feed?needle=exact:Agda

[2015-12-10 20:41] peti commented on #1741
FYI: A complete build log that shows the compiler error when trying to build with the latest version (ignoring the Cabal constraints) is available at http://hydra.cryp.to/build/1411721/log/raw.

[2015-12-10 20:47] asr commented on #1741
Thanks for reporting the problem which was pointed out in https://github.com/fpco/stackage/issues/981. We'll release a new version of Agda fixing this issue soon.

[2015-12-10 20:56] asr commented on #1741
FYI, the issue was fixed in the maint-2.4 branch three weeks ago (see #1721).

[2015-12-10 21:54] asr commented on #1518
@phile314 for adding a test case for this issue, I need to run Agda _twice_ on

[code]

That is, I need to run

[code]

How can I do it in the test-suite?

[2015-12-10 23:42] asr opened #1742 "Release Agda 2.4.2.5"
Starting...

[2015-12-11 00:51] m0davis opened #1743 "Termination checker for instance search"
The type-checker never terminates in the below. However, removing the instance declaration and placing `wrappableComp` at the toplevel allows it to terminate (though it---correctly---fails to typecheck).

[code]

[2015-12-11 03:49] asr commented on #1742
I have tested the release candidate [Agda-2.4.2.4.20151210.tar.gz](http://www1.eafit.edu.co/asr/tmp/Agda-2.4.2.4.20151210.tar.gz) with GHC 7.6.3, 7.8.4 and 7.10.3 using Ubuntu 12.04 64-bits.

Could someone test the RC on Windows and/or Mac OS using the following instructions:

[code]

Thanks.

[2015-12-11 07:50] andreasabel commented on #1743
This works fine on maint (2.4.2.5), but loops on master (2.5).

[2015-12-11 08:51] UlfNorell commented on #1743
Changing it to

[code]

makes it loop also on maint. This difference is due to #1540.

[2015-12-11 09:17] UlfNorell commented on #1743
The problem is the lack of a termination checker for instance search (I thought we had an issue for that but I can't find it at the moment).

In this example, given the constraint `Wrappable F`, it's perfectly reasonable to try to use (recursively) `wrappableComp` with some `I` and `J` such that `λ X → I (J X) == F`. Then you need to solve `Wrappable I`, and it's ok to try that because the constra

[2015-12-11 09:44] phile314 commented on #1518
Just adding the Issue1518.agda file should be enough to get it to run once. To run agda a second time, you will have to add a special case similar to the one for Issue481:
https://github.com/agda/agda/blob/master/test/Succeed/Tests.hs#L76-L84

Calling "run []" in the special case should do the trick.

[2015-12-11 12:30] asr commented on #1741
Since I started the release procedure in #1742, I'm closing this issue.

[2015-12-11 16:17] asr opened #1744 "Replacing CHANGELOG for a 'Release notes for X' section in the documentation"
In the master branch, what about if we stop using the CHANGELOG file and we start adding the changes in a 'Release notes for X' section in the [documentation](http://agda.readthedocs.org/en/latest/index.html)? That is, we should move https://github.com/agda/agda/blob/master/doc/release-notes/2-5-1.txt into the documentation.

Since Hackage uses the CHANGELOG file, we can add a link to the release

[2015-12-12 00:45] asr commented on #1744
I realised that keeping the old release notes in CHANGELOG has a drawback: We need grepping in _two_ files when searching for a change.

[2015-12-12 11:40] andreasabel commented on #1744
The documentation has to be kept up-to-date, meaning that any changes merged into master need to be followed by an update of the documentation.
However, I see this independent of the CHANGELOG or release notes, which gives you the diff on what is new.

[2015-12-12 12:04] andreasabel commented on #1740
After the fix of #520, reverting the fix of #1110 does not longer fix this (#1740).  However, the example is a bit weak, as we can directly match `eq` against `refl` to get where we want.

[code]

I need a more convincing example to get active.
Even if `eq` is not a function argument, but a more complicated term, a simple `with eq` and then matching on `refl` is sufficient.

I am closing this, ple

[2015-12-12 12:11] #1740 closed, assigned to andreasabel

[2015-12-12 13:42] asr commented on #1744
I agree, of course

So do I.

My proposal is related to the CHANGELOG or release notes. I propose to follow the GHC approach. AFAIK, GHC doesn't use a CHANGELOG but a release notes section on its user manual, for example, [Release notes for version 7.10.1](https://downloads.haskell.org/~ghc/7.10.1/docs/html/users_guide/release-7-10-1.html).

[2015-12-12 16:26] UlfNorell commented on #1740
It's more the principle that you should be able to use the same recursion patterns when proving something about a function. Had `eq` not been a variable, you would've been forced to do a `with`. I'm curious, why will fixing #520 make this not work?

[2015-12-13 13:55] asr commented on #1742
It seems people are busy for testing the RC on Windows or Mac OS (I understand it). Anyway, I'll make the release in a few minutes.

[2015-12-14 15:28] WolframKahl commented on #1692
On Fri, Dec 04, 2015 at 05:05:22AM -0800, Andreas Abel wrote:

If I change my code now to type-check with master,
will I need to change it back later?

Wolfram

[2015-12-16 08:01] UlfNorell commented on #1742
Tested with
- Windows 8.1, ghc-7.6.3
- OS X 10.10, ghc-7.10.2

[2015-12-16 09:07] andreasabel commented on #96
On master, one can now write

[code]

I suggest the shorthands

[code]

or maybe

[code]

[2015-12-16 09:27] UlfNorell commented on #96
I would prefer the latter, to avoid introducing extra keywords.

[2015-12-16 23:04] sindikat opened #1745 "Agda Wiki: NixOS installation"
On http://wiki.portal.chalmers.se/agda/agda.php?n=Main.Linux it says that command to install Agda in NixOS is:

[code]

But this doesn't work anymore. I installed Agda using this command:

[code]

See also:
- https://github.com/NixOS/nixpkgs/pull/7172
- http://nixos.org/nixpkgs/manual/#users-guide-to-the-haskell-infrastructure

[2015-12-17 10:28] hoyeunglee opened #1746 "failed to install in Agda-2.4.2.3 in a new ubuntu 12.04 desktop virtual machine"
[12 of 12] Compiling Data.HashTable.IO ( src/Data/HashTable/IO.hs, dist/build/Data/HashTable/IO.o )
Registering hashtables-1.2.1.0...
Installing library in /home/martin/.cabal/lib/hashtables-1.2.1.0/ghc-7.4.1
Registering hashtables-1.2.1.0...
cabal: Error: some packages failed to install:
Agda-2.4.2.3 depends on terminfo-0.4.0.1 which failed to install.
haskeline-0.7.2.1 depends on terminfo-0.4.0.

[2015-12-17 16:18] phile314 commented on #1745
Wiki links to user manual now.

[2015-12-17 16:18] #1745 closed, assigned to phile314

[2015-12-17 16:46] asr commented on #1746
From the above log, you are using GHC 7.4.1.

Agda 2.4.2.3 supports the following versions of GHC (from Agda.cabal):

[code]

Anyway, can you install Agda 2.4.2.3 with GHC 7.4.1 using the following commands:

[code]

?

[2015-12-17 18:40] asr commented on #1742
Since we don't use a different branch for making the releases, please consider the maint-2.4 frozen. I'm planning to make the release tomorrow.

[2015-12-18 01:19] hoyeunglee commented on #1746
Hi ,
After tried, got  error
martin@ubuntu:~/hilbertreborn$ cabal install Agda-2.4.2.3 --only-dependenciesResolving dependencies...All the requested packages are already installed:Use --reinstall if you want to reinstall anyway.martin@ubuntu:~/hilbertreborn$ cabal install Agda-2.4.2.3Resolving dependencies...[1 of 1] Compiling Main             ( /tmp/Agda-2.4.2.3-2838/Agda-2.4.2.3/Setup.hs, /tmp/A

[2015-12-18 01:28] WolframKahl commented on #1746
On Thu, Dec 17, 2015 at 05:20:06PM -0800, Lee Ho Yeung wrote:

Perhaps it helps to try

   ghc-pkg check

first, and resolve any problems it reports.
Then do

   ghc-pkg check

again, and only proceed if it reports no problems.

Regards,

Wolfram

[2015-12-18 02:55] asr commented on #1746
This error makes no sense.

Can you install the data-hash and geniplate-mirror packages?

P.S Please don't replay the messages from your email manager, but from GitHub.

[2015-12-18 03:03] asr commented on #1746
Just out curiosity, if you are using a virtual machine, why you didn't install a more recent version of Ubuntu?

[2015-12-18 08:34] hoyeunglee commented on #1746
I like number 12, and succeed to write kernel networking program without layer 2 directly use kernel function, but version 14 makes my program can not be compiled and need to learn a new kernel module method, old version is more promising and compatible

[2015-12-18 23:52] asr commented on #1742
Done.

[2015-12-18 23:52] #1742 closed, assigned to asr

[2015-12-18 23:54] asr commented on #1741
Agda 2.4.2.5 was released which supports haskell-src-exts 1.17.1. I'll make a pull request for including Agda in Stackage later.

[2015-12-19 03:51] asr commented on #1741
The pull request was merged in Stackage (https://github.com/fpco/stackage/commit/74bd03efc4156b84f070d3ce7e5d89e6f2ab2efd).

[2015-12-19 03:51] #1741 closed, assigned to asr

[2015-12-19 04:04] hoyeunglee commented on #1746
there so many version error such as cpphs < 1.9 , i finally use my another virtual machine image which succeed to install to do,

[2015-12-19 04:16] #1746 closed, assigned to nobody

[2015-12-19 07:07] hoyeunglee opened #1749 "it has cpphs-1.19.3 but report no cpphs-1.19 , failed install in ubuntu 14.04"
martin@ubuntu:~$ cabal install agda
Resolving dependencies...
[1 of 1] Compiling Main             ( /tmp/Agda-2.4.2.5-9458/Agda-2.4.2.5/Setup.hs, /tmp/Agda-2.4.2.5-9458/Agda-2.4.2.5/dist/setup/Main.o )
Linking /tmp/Agda-2.4.2.5-9458/Agda-2.4.2.5/dist/setup/setup ...
Configuring Agda-2.4.2.5...
setup: The program cpphs version >=1.19 && <1.20 is required but it could not
be found.
Failed to install

[2015-12-19 07:27] hoyeunglee opened #1750 "install happy-1.19.4 but report it is happy-1.19.0"
martin@ubuntu:~$ rm /usr/bin/happy
rm: remove write-protected regular file ‘/usr/bin/happy’? y
rm: cannot remove ‘/usr/bin/happy’: Permission denied
martin@ubuntu:~$ cabal install happy-1.19.4
Resolving dependencies...
[1 of 1] Compiling Main             ( /tmp/happy-1.19.4-21215/happy-1.19.4/Setup.lhs, /tmp/happy-1.19.4-21215/happy-1.19.4/dist/setup/Main.o )
Linking /tmp/happy-1.19.4-21215/happy-

[2015-12-19 07:29] hoyeunglee commented on #1750
i discover there are two files happy, one is in /home/martin/.cabal/bin, one is in /usr/bin
i deleted /usr/bin/happy, succeed to continue to install

[2015-12-19 07:30] hoyeunglee commented on #1749
after export PATH=$PATH:/home/martin/.cabal/bin, succeed to continue install

[2015-12-19 09:19] #1749 closed, assigned to nobody

[2015-12-19 09:20] #1750 closed, assigned to nobody

[2015-12-19 09:30] UlfNorell commented on #1742
Good job, thanks!

[2015-12-19 09:42] andreasabel commented on #1692
I would wait a bit until the dust settles.  Ulf and I have been discussing a bit how to attack the problem raised by your failing rewrites.  But now the Christmas break has come between.

[2015-12-20 01:02] identicalsnowflake opened #1751 "With-clauses break record pattern matching"
I'm on a recent version of master and the following isn't working:

[code]

I receive the error message:

[code]

As far as I can see, `with`-clauses always break pattern matching on records.

[2015-12-20 03:48] asr opened #1752 "Unnecessary compiler-simple.agda-lib file?"
In master, was/is/will be the test/Compiler/simple/compiler-simple.agda-lib file used for something?

[2015-12-20 07:22] UlfNorell commented on #1752
Yes. When developing/fixing tests it makes sure you get the right include path in Emacs.

[2015-12-20 07:22] #1752 closed, assigned to nobody

[2015-12-20 14:08] andreasabel commented on #1751
I guess this is me who should fix this, as I added record patterns.

[2015-12-21 14:05] asr opened #1753 "Missing Cabal test for the successfull tests using the standard library"
The successfull tests using the standard library (i.e. lib-succeed) are not using the new test approach.

[2015-12-21 14:09] asr commented on #1518
Missing test case. Blocked on #1753.

[2015-12-21 14:15] asr commented on #1741
Agda 2.4.2.5 is in the [Stackage Nightly 2015-12-21](https://www.stackage.org/nightly-2015-12-21).

[2015-12-21 17:05] andreasabel opened #1754 "Bad error for with clause pattern mismatch"
[code]

gives ugly error

[code]

[2015-12-22 03:13] asr opened #1755 "Error when using two positional pragmas before the `mutual` keyword"
I started to think in the implementation of the `{-# NON_POSITIVITY_CHECK #-}` pragma (#1614).

At the moment, Agda has the following positional (i.e. they have no associated an entity when they are used) pragmas: `{-# NON_TERMINATING #-}`,  `{-# TERMINATING #-}` and `{-# CATCHALL #-}`.

The positional pragmas are handled by the [nice](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/

[2015-12-22 03:14] asr commented on #1614
Blocked on #1755.

[2015-12-22 03:37] asr opened #1756 "LINE and MEASURE pragmas"
Will be the [LINE](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Parser/Lexer.x#L112) and [MEASURE](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Parser/Lexer.x#L110) pragmas used for something?

[2015-12-22 08:25] UlfNorell commented on #1755
I agree that it's a little strange that we have both named and positional pragmas, but from a user point of view I prefer the positional ones. Also, you couldn't implement the pragmas above in the same way as other named pragmas, since they affect the checking of a definition. You would have to do something like the handling of fixity declarations, so I don't think it would actually simplify anyth

[2015-12-22 08:43] UlfNorell commented on #1756
I guess they're not used at the moment (@andreasabel?). `FILE` and `LINE` pragmas would maybe be nice to have for generated code, although they might mess up the emacs mode.

[2015-12-22 12:29] asr commented on #1755
Just out curiosity, has GHC some positional pragma? (I'm considering the `LANGUAGE` and the `OPTIONS_GHC` pragmas as named ones)

[2015-12-22 12:32] asr commented on #1755
Yes. For example the `{-# UNPACK #-}` and `{-# NOUNPACK #-}` pragmas.

[2015-12-23 20:03] andreasabel commented on #1756
MEASURE is work-in-progress.

[2015-12-23 20:12] asr commented on #1614
Can I get the mutual block information (i.e. [MutualInfo](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Info.hs#L165-L169)) inside the [checkStrictlyPositive](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Positivity.hs#L61) function? How?

Remark: I could get the mutual block information from the first argument (i.e. `Info.MutualInfo`) of [mutualChecks](https:

[2015-12-24 01:03] #1756 closed, assigned to nobody

[2015-12-24 19:55] effectfully opened #1757 "A level is not equal to itself in a data definition."
[code]

Agda (the development version) complains:

[code]

[2015-12-25 09:55] andreasabel commented on #1741
Thanks.

[2015-12-25 20:56] #520 closed, assigned to andreasabel

[2015-12-26 11:17] andreasabel commented on #520
I implemented Andrea's idea.

[2015-12-26 11:26] andreasabel commented on #1740
Only "rewrite refl" is still a no-op now.

[code]

is desugared as

[code]

[2015-12-26 21:36] yuriy0 opened #1758 "Interactive mode unconditionally raises Windows timer resolution to maximum value"
For those not familiar, the timer resolution is roughly how often the CPU is interrupted to check if Windows timers have "fired". I don't know how, if at all, this affects other platforms. Setting this value very high is bad because:

More importantly, the timer resolution for the entire system is set to the maximum requested amount by any program. To reproduce, run `agda --interaction` (give agda

[2015-12-27 07:02] asr commented on #1614
I finished the implementation of the pragma for data definitions and mutual blocks. Although I have no implemented the pragma for records yet, I'll push my implementation.

Is there some nice example of mutually non-strictly positive data types? I need this example for the CHANGELOG.

[2015-12-28 08:07] andreasabel commented on #1757
The problem here is that `zero` is reduced to `Level (Max [])` in one case and stays a `Def zero []` in the other case, so the expressions are not recognized as equal.  Fully normalizing both sides helps here.  Shorter test case:

[code]

[2015-12-28 08:42] UlfNorell commented on #1758
We don't have any Windows-specific code so the problem is likely in some ghc library. The relevant code in Agda is in [Agda.Interaction.EmacsTop](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/EmacsTop.hs#L40-L69). Essentially we do

[code]

All functions from `System.IO`.

[2015-12-28 11:16] mechvel opened #1759 "Hiding of record parameters leads to hiding mismatch in checkInternal"
This is on the  Development Agda type checker  of December 18, 2015,
                      ghc-7.8.3.

Please, download the archive from
http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bug-dec28-2015.zip
and see  README.agda.
(I have reduced the example many times, but probably it can be reduced several times further).

FtMonoid.agda  presents a certain combination of the two parametric module

[2015-12-28 11:32] mechvel commented on #1759
I am almost sure that this is a bug in Agda. So, I have decided to report to the bug tracker.
If it is my error, then I am sorry.

[2015-12-28 12:12] #1757 closed, assigned to andreasabel

[2015-12-28 14:20] WolframKahl commented on #1758
Perhaps it is the machinery involved in supporting `-v profile=7`?

[2015-12-28 15:35] asr opened #1760 "NO_POSITIVITY_CHECK pragma doesn't work on records"
In #1614 the pragma was implemented on data definitions and mutual blocks. The pragma also should be work on records.

[2015-12-28 15:54] asr commented on #1755
After adding the `NO_POSITIVITY_CHECK` pragma in #1614, the following example should type-check:

[code]

Right now, we get the following error:

[code]

I'll fix 'manually' the issue, but we need the refactoring suggested by Ulf:

[2015-12-28 20:34] asr opened #1761 "UHC, uhc-light and GHC <> 7.10.*"
I installed UHC using GHC 7.10.3. After switching to GHC 7.8.4, I got the following error:

[code]

Agda shouldn't install uhc-light if GHC < 7.10.*.

[2015-12-29 00:17] asr opened #1762 "Safe mode uses interface file generated without using the --safe option"
[code]

[code]

I would expect by running `agda --safe Bug.agda` the error

[code]

Related issue: #1696.

[2015-12-29 00:29] asr opened #1763 "Safe mode accepts removed NO_TERMINATION_CHECK pragma"
In  master the `{-# NO_TERMINATION_CHECK #-}` pragma was replaced, but

[code]

generates the error

[code]

instead of the expected error

[code]

[2015-12-29 13:04] #1755 closed, assigned to asr

[2015-12-29 14:33] asr commented on #1759
Isn't this error related to the error in #1666?

P.S. You can use the [markdown](https://guides.github.com/features/mastering-markdown/) language when reporting issues.

[2015-12-29 15:56] mechvel commented on #1759
Currently I run Agda only from the command line
(because I fail with setting adda-mode for emacs).
As I recall, the matter with #1666 was that a certain case of  "unsolved metas" was shown in emacs but was not reported by the command line type checker.

Probably, this effect itself is a bug. Is not it?
Can the Agda developers make the command line checker  to agree with the interactive checker?
(t

[2015-12-29 22:11] asr commented on #1759
I suggest to ask in the mailing list about this problem. Maybe someone using the master branch of the developing version can help you.

[2015-12-30 00:30] asr opened #1764 "Type in type and universe polymorphism"
Nils wrote in the [user mailing list](https://lists.chalmers.se/pipermail/agda/2015/008346.html):

and Escardo [wrote](https://lists.chalmers.se/pipermail/agda/2015/008349.html):

I'll create a branch allowing type in type and universe polymorphism for experimental purposes.

[2015-12-30 00:39] asr commented on #1764
I created the [issue-1764-maint](https://github.com/agda/agda/tree/issue-1764-maint) branch.

[2015-12-30 20:29] #1751 closed, assigned to andreasabel

[2015-12-30 20:38] andreasabel commented on #1754
On master, this error is a bit better now, and a lot better for this particular example; see `test/Fail/WithClausePatternMismatch`:

[code]

Closing for now, as I have no intention to fix this soon in general, which would need a proper reification for patterns.

[2015-12-30 20:38] #1754 closed, assigned to andreasabel

[2015-12-30 20:39] andreasabel commented on #1764
I think it makes sense to allow both together, and be it just to temporarily disable universe checking in a universe polymorphic development.

[2015-12-30 20:42] andreasabel commented on #1763
Maybe you want a specific error like

[code]

[2015-12-30 20:52] identicalsnowflake commented on #1751
Thanks! This is an extremely helpful fix for me.

[2015-12-31 17:43] asr commented on #1761
Thanks!

[2015-12-31 18:10] asr commented on #1763
No really. I want to see the "parser" error:

[code]

I'll will push the fix later.

[2015-12-31 18:39] #1763 closed, assigned to asr

[2015-12-31 20:40] andreasabel commented on #1764
A combination of --type-in-type and --universe-polymorphism would still need to try to solve for level metas, but not report an error if there is an inconsistency.  Not so easy to implement.

[2015-12-31 21:41] andreasabel commented on #1759
[code]

If `Q` remains a meta, `e1` is accepted, otherwise not.
I'd say this is a bug.

[2016-01-01 12:12] mechvel commented on #1759
Thanks for looking into this!
This bug is going to stuck my project.

[2016-01-01 15:52] mechvel commented on #1759
asr   commented  Dec 29, 2015

It occurs that it is not related. Because the interactive Agda does not highlight anything before the reported place.
It looks like a real bug.

[2016-01-01 15:54] asr commented on #1764
I created the [issue-1764-master](https://github.com/agda/agda/tree/issue-1764-master) branch and I removed the issue-1764-maint branch.

[2016-01-02 17:13] phile314 commented on #1163
I implemented a --ghc-dont-call-ghc flag, which suppresses the call to GHC but still prints the GHC command:
https://github.com/agda/agda/commit/a927b974a5ed79b9adb3dba1ab767f1b9619abf3

@WolframKahl FYI

[2016-01-02 22:20] WolframKahl commented on #1163
@phile314 : Thank you!

Happy new year everybody!

[2016-01-03 14:20] andreasabel commented on #1759
Here is a an analysis of the situation:

[code]

[2016-01-03 15:28] mechvel commented on #1759
This is strange that this effect has not been discussed years ago.
Because probably people often write modules similar to

[code]

I understand your analysis so that the type checker needs to be somehow fixed in this point.

[2016-01-04 13:38] asr opened #1765 "lib-succeed: Issue854.lagda is not being tested."
The fix for #784 (ab03a3384e97e51b3cbeeda91ef7c39f0e8157c2) commented out the literate Agda files, so test/lib-succeed/Issue854.lagda is not being tested.

Currently this test-case generates an error.

Blocking #1753.

[2016-01-04 17:15] #1753 closed, assigned to asr

[2016-01-04 17:20] asr commented on #1765
~~Blocking #1753~~. I disabled Issue854.lagda in the fix for #1753 (53e8c223df025c4b290f67a028ae413ff38c0d48).

[2016-01-04 19:18] andreasabel opened #1766 "Underscore patterns not printed in clauses"
[code]

Error is printed as

[code]

The underscores are dropped, but should not.

[2016-01-04 21:51] asr commented on #1163
@phile314 Please take ownership of this issue (sometimes I need to search in the bug tracker using anything I can remember).

[2016-01-04 23:05] asr commented on #1518
~~Blocked on #1753~~.

When preparing the missing test case, I realised it isn't necessary. This issue can be reproduced using incompatible versions of GHC and zlib and running `make lib-succeed`.

[2016-01-04 23:05] #1518 closed, assigned to asr

[2016-01-05 00:02] #1765 closed, assigned to asr

[2016-01-05 12:45] phile314 commented on #1163
Maybe it would make sense to call `perform(Major)GC` before calling GHC? GHC should release unused memory back to the OS on major GC according to this ticket:
https://ghc.haskell.org/trac/ghc/ticket/698

One problem might be that currently, the calls to GHC are done inside TCM, so the whole TCM environment is still live. Not sure if that's a problem. Profiling Agda would probably be a sensible nex

[2016-01-05 16:30] WolframKahl commented on #1163
Also, according to my observations when I still let Agda execute GHC, the Agda process is actually active while GHC is running, IIRC because GHC's IO channels pass through the Agda process.

I think that `--ghc-dont-call-ghc` is a good solution for those for whom this is a problem, so this should just be documented together with its motivation everywhere where compilation is documented.

A solutio

[2016-01-06 13:17] jespercockx commented on #1408
Fixed by the new unifier, see https://github.com/agda/agda/commit/a92c76e3b7a0bd7a38ef685b354a9b1de70aa5b0.

[2016-01-06 13:17] #1408 closed, assigned to nobody

[2016-01-06 13:31] jespercockx commented on #1613
Fixed because new unifier no longer eta-expands eagerly. See https://github.com/agda/agda/commit/221058ed3372d3d2d94ce05337f8b8f226f70002.

[2016-01-06 13:31] #1613 closed, assigned to nobody

[2016-01-06 13:41] jespercockx commented on #635
Fixed by the new unifier: https://github.com/agda/agda/commit/9b56c07c23c36899ca4a7e9e483b4692657368ec

[2016-01-06 13:41] #635 closed, assigned to nobody

[2016-01-06 13:44] jespercockx commented on #1608
I've managed to implement the second rule as well, see function checkLeftoverDotPatterns at https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/LHS.hs#L332-L425. This makes https://github.com/agda/agda/blob/master/test/Succeed/Issue1608.agda work with the new unifier, however there's still something going wrong when combined with 'with' as you can see by the tests I had to di

[2016-01-06 18:20] andreasabel commented on #1766
Fixed by https://github.com/agda/agda/commit/95c14f10385d3f989b14b07f20f6f5aac0fc26da.

[2016-01-06 18:20] #1766 closed, assigned to nobody

[2016-01-07 11:06] andreasabel commented on #1605
Maybe this will eventually be fixed by @jespercockx new unifier.

[2016-01-07 12:42] jespercockx commented on #1605
Well, AFAICT this _should_ be fixed by my new unifier, but there's still a problem when using dot patterns and with together. I think the problem is that when checking the child pattern, the dot pattern instantiations of the parent pattern are missing, so my `checkLeftoverDotPatterns` function doesn't have anything to work with.

[2016-01-07 15:33] asr opened #1767 "Positivity check: Renaming pragma"
I want to make the following renaming:

`--no-positivity-check` -> `--no-strict-positivity-check` (in master)

`NO_POSITIVITY_CHECK` -> `NO_STRICT_POSITIVITY_CHECK` (in master and maint-2.4)

Motivation: I would like to add an option for experimenting with positive but not-strictly positive types in the future.

Any objection?

[2016-01-07 23:49] andreasabel commented on #1767
I think such a renaming has to wait until there is truly need for it.
Also, I think `NO_POSITIVITY_CHECK` is already on the long side and should not get longer.  One could think of a shorter pragma `STRICTLY_POSITIVE`, analogously to `TERMINATING`.

[2016-01-07 23:52] andreasabel commented on #1764
One way to implement this is that whenever we conversion-check `Set l ?= Set l'` and we have `--type-in-type`, we set a flag in the type-checking environment that we want to ignore all errors coming from the comparison of the levels `l ?= l'`.

[2016-01-08 05:00] asr commented on #1767
I agree with the shorter pragma.

[2016-01-08 05:01] asr commented on #1614
TODO: Rename `NO_POSITIVITY_CHECK` to `STRICTLY_POSITIVE`.

[2016-01-08 05:02] asr commented on #1760
TODO: Rename `NO_POSITIVITY_CHECK` to `STRICTLY_POSITIVE`.

[2016-01-08 16:43] phile314 opened #1768 "Compilation of full stdlib broken"
<pre>
Compiling Data.BoundedVec in /home/philipp/Projects/agda/agda/std-lib/build/stdlib-1.0/lib/ifaces/Data/BoundedVec.agdai to build/stdlib-1.0/lib/cabal-pkg/src/MAlonzo/Code/Data/BoundedVec.hs
fauchi: Agda build failure:
Panic: Pattern match failure in do expression at
src/full/Agda/Compiler/ToTreeless.hs:61:5-11
</pre>

[2016-01-08 17:22] andreasabel commented on #1767
Currently, we do not need to rename anything or?  NO_POSITIVITY_CHECK will simply turn off any check, be it positivity or strict positivity.  A pragma like STRICTLY_POSITIVE should only be used on things that are strictly positive, but Agda's checker fails to see it.  But there might be proper negative things on which a pragma like NO_POSTIVITY_CHECK is more meaningful.

In contrast to TERMINATING

[2016-01-08 19:31] phile314 commented on #1768
This was actually my own fault, I was playing around with the compilers and tried to add some packaging support to Agda, but by mistake removed the "ignoreAbstractMode" function call in MAlonzo in my local code ....

Apart from that, MAlonzo runs through without problems, so closing this.

[2016-01-08 19:31] #1768 closed, assigned to nobody

[2016-01-08 22:47] asr commented on #1760
~~TODO: Rename NO_POSITIVITY_CHECK to STRICTLY_POSITIVE.~~ We'll continue the discussion on #1767.

[2016-01-08 22:47] #1760 closed, assigned to asr

[2016-01-08 22:48] asr commented on #1614
~~TODO: Rename NO_POSITIVITY_CHECK to STRICTLY_POSITIVE.~~ We'll continue the discussion on #1767.

[2016-01-08 22:48] #1614 closed, assigned to asr

[2016-01-08 23:40] asr commented on #1767
I thought you proposed the `STRICTLY_POSITIVE` pragma in the same way that (from the CHANGELOG)

Anyway, let's continue the discussion...

After your comment, I think we are talking about to different issues:
1. The name of pragma for turning off the positivity and strict positivity check.
2. Possible new pragmas like `POSITIVE`, `STRICTLY_POSITIVE` or `NON_POSITIVE`.

For simplify the discussion,

[2016-01-08 23:54] asr commented on #1764
Great! I removed the issue-1764-master branch and I'll write to the mailing list.

[2016-01-09 05:01] asr opened #1769 "UHC back-end performance"
[code]

Any reason why UCH is too slow in the above test cases?

[2016-01-09 06:34] asr opened #1770 "-v 10 triggers __IMPOSSIBLE__ in Syntax.Scope.Monad.createModule"
In master and maint-2.4:

[code]

[2016-01-09 09:09] andreasabel commented on #1770
This internal error is triggered when importing a module twice. Smaller test case:

[code]

[2016-01-09 09:41] andreasabel commented on #1767
Ah, right, NO_POSITIVITY_CHECK is a new pragma.  Maybe I got confused because you also proposed to rename the option --no-positivity-check, which has been there for a long time.

As strict positivity implies positivity, if you turn off the positivity check (which is a precondition for strict positivity), you will also not check for strict positivity. A new pragram NO_STRICT_POSITIVITY_CHECK could

[2016-01-10 01:25] effectfully commented on #1764
D.agda:

[code]

Fail.agda:

[code]

Agda reports

[code]

[2016-01-10 03:41] asr opened #1773 "Missing Haddock test in Travis"

[2016-01-10 05:45] #1773 closed, assigned to asr

[2016-01-10 15:21] phile314 commented on #1769
The difference by factor ~20 is really quite large. I will need to investigate this.

[2016-01-10 18:25] andreasabel commented on #1764
Currently, using --type-in-type with universe polymorphism implies that some inferred levels are garbage.  You see this garbage when you use a --type-in-type module in a non-type-in-type module.

I can try to refine the implementation to produce less garbage, but ultimately, I would need a specification of how the expected behavior of mixing universe polymorphism and type-in-type should look like.

[2016-01-13 05:32] m0davis opened #1774 "Record patterns cause internal error @ Syntax/Abstract.hs:852"
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/Syntax/Abstract.hs:852

[code]

[2016-01-13 13:12] asr opened #1775 "The --without-K option generates unsolved metas"
This issue was found while using the `--without-K` option on the standard library. Only the `Data/Fin/Dec.agda` file has this issue.

The B.agda file:

[code]

The A.agda file:

[code]

The issue:

[code]

I had used the `--without-K` option on the standard library without problems some time ago.

[2016-01-13 13:44] asr opened #1776 "The --exact-split option uses interface file generated without this option"
[code]

[code]

I would expect by running `agda --exact-split Bug.agda` the error:

[code]

A workaround is to add the `--exact-split` option in the Agda module.

[2016-01-13 14:24] jespercockx commented on #1775
This is due to the new unifier that's still missing a feature to generalize the datatype over the datatype indices when applying injectivity. Specifically, the unifier gets stuck on the following unification problem

[code]

The unifier needs to generalize the equation over the index `(suc .n₁)`, but I haven't implemented this yet. I was secretly hoping this feature wouldn't be necessary in most c

[2016-01-13 16:41] jespercockx commented on #1775
Another example of this problem occurs when you enable --without-K on test/Succeed/Issue291.agda. You get an unsolved meta: `Is empty: Val .s (π₁ ∙ .M) [ at /home/jesper/agda/test/Succeed/Issue291.agda:41,8-10 ]`

[2016-01-13 17:32] asr commented on #1775
Good to know you are testing the new unifier :-)

[2016-01-13 17:40] asr commented on #1195
@jespercockx after some testing it seems the `WITH_K` pragma should be implemented on function clauses like the `CATCHALL` pragma.  Do you know some reason for implementing the pragma on function definitions instead?

[2016-01-13 17:55] jespercockx commented on #1195
The unifier is called from two different locations: once from the LHS checker (i.e. for each individual clause) and once from the coverage checker (once for the complete function). So even if you put WITH_K on a single clause, there will still be an error in the coverage checker.

[2016-01-13 18:29] asr commented on #1195
Thanks!

[2016-01-14 05:25] m0davis opened #1777 "Printing of record patterns broken, e.g. during interactive case splitting"
Agda is not allowing the use of a with-abstraction when a case includes record syntax. In `qux`, below, Agda complains that `With clause pattern record { unMaybeRecord = just x } is not an instance of its parent pattern`. However, `bar` and `baz` type-check.

[code]

[2016-01-14 16:54] #1774 closed, assigned to andreasabel

[2016-01-14 16:55] andreasabel commented on #1774
Thanks for reporting! (And helping debugging my new feature of record patterns.)

[2016-01-14 16:58] andreasabel commented on #1777
For me, this type-checks with the latest master (possibly after the fix of #1774).  Can you try again?

[2016-01-14 18:19] mechvel opened #1778 "Record pattern elimination loses hiding information"
Please, download the code from
http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bugJan14-2016.zip
and see there README.agda.

This is on the type checker of Development Agda of January 14, 2016,
ghc-7.10.2.

Probably this is a bug in Agda. And it looks like it has the same origin
as the bug of
   "Expected a hidden argument, but found a visible argument"
which the Agda developers were dealing w

[2016-01-14 18:50] m0davis commented on #1777
Much better. However, there is a problem with case-splittng. If I try to C-c C-c on `foox` in the last hole of `qux`, I get the following, which does not type-check:

[code]

[2016-01-14 19:02] asr commented on #1520
After the commit 1d0984e64037520f3aa745d7c6e20bdd87502f3c the Travis builds are failing because we use the `--avoid-reinstalls` option.

[2016-01-14 19:23] asr commented on #1539
This Travis build is failing after the commit 1d0984e64037520f3aa745d7c6e20bdd87502f3c.

[2016-01-14 19:47] #1520 closed, assigned to asr

[2016-01-14 20:17] asr commented on #1156
The compilation with GHC 7.8.4 and transformers 0.3.0.0 fails after the commit 1d0984e64037520f3aa745d7c6e20bdd87502f3c.

[2016-01-14 21:34] asr commented on #1539
Arggg... while testing in Travis the unordered-containers-0.2.6.0 library was released and it added the error "Ambiguous occurrence ‘mapMaybe’"...

[2016-01-14 22:43] asr commented on #1539
Fixed by 021cc1390a83407d8196246657dd15c67fe6eaa7.

[2016-01-14 22:43] #1539 closed, assigned to asr

[2016-01-15 07:36] asr opened #1779 "Missing support for unordered-containers 0.2.6 and remove Utils.HashMap"
The new unordered-containers 0.2.6 added the functions in Utils.HashMap, so I'll bump the lower bound for this library and I'll comment out Utils.HashMap.

[2016-01-15 14:49] mechvel commented on #1778
I recall,  I mean  "Closed #1759 via 9c64919".
The Development version of January 14 type-checks  #1759, but does not type-check this example.

[2016-01-15 15:13] asr commented on #1778
I don't know what you expect by writing this kind of comments.

[2016-01-16 00:24] asr opened #1780 "Broken suite of internal tests"
Using GHC 8.0.1 RC1:

[code]

[2016-01-16 00:36] #1780 closed, assigned to asr

[2016-01-16 18:37] asr opened #1781 "Broken compilation due to the -fwarn-monomorphism-restriction option"
In GHC 8.0.1 RC 1, the `-fwarn-monomorphism-restriction` option generates new warnings due to missing local type signatures. Since we use `-Werror` these warnings generate errors of compilation.

[2016-01-16 22:07] #1781 closed, assigned to asr

[2016-01-17 01:14] asr opened #1782 "Missing support for transformers-compat 0.5.*"
This version of transformers-compat is required by GHC 8.0.1 RC1 and stackage.

[2016-01-17 01:56] asr commented on #1779
Removed support for unordered-containers 0.2.6 in Hackage.

[2016-01-17 01:57] asr commented on #1782
Added support for transformers-compat 0.5.\* in Hackage.

[2016-01-17 02:27] asr commented on #1782
Blocked on https://github.com/pcapriotti/optparse-applicative/issues/183.

[2016-01-17 17:57] Twey opened #1783 "piApply fails when printing open metas"
The attached file produces an error:

[code]

[Categories.Functor.ProductPreserving.agda.txt](https://github.com/agda/agda/files/93532/Categories.Functor.ProductPreserving.agda.txt)

It seems that Agda (2.4.2.4) encounters an error when attempting to check the type of `map-obj`.

[2016-01-17 18:44] asr commented on #1783
The same internal error (see #1725) was fixed in Agda 2.4.2.5. Can you reproduce the issue with this version of Agda?

[2016-01-17 22:25] Twey commented on #1783
2.4.2.5 gives:

[code]

[2016-01-17 22:36] asr commented on #1783
I can't test your attached file because there are some missing modules.

[2016-01-17 23:18] #1782 closed, assigned to asr

[2016-01-17 23:19] asr commented on #1782
We can use `--allow-newer` for installing optparse-applicative with transformers-compat 0.5.*.

[2016-01-18 12:53] andreasabel commented on #1778
Here is a short test case:

[code]

gives error

[code]

The issue can be fixed by makeing record pattern translation faithful to hiding and other arg info.

[2016-01-18 16:44] #1778 closed, assigned to andreasabel

[2016-01-18 16:47] andreasabel commented on #1778
@mechvel: maybe your test case was not quite minimal yet ;-), but a minimal test case is hard to get from black box testing only...
Thanks for your report!

[2016-01-18 16:48] andreasabel commented on #1783
@Twey please submit a self-contained reproducible test case (does not have to be minimal, a big test case is better than none).

[2016-01-18 20:08] identicalsnowflake opened #1784 "Standard library no longer checks on master"
I just pulled master, and I get the following error:

[code]

The spot in question (in `Data/Maybe/Base.agda`) is here:

[code]

To be honest, the current algorithm actually does make more sense to me here (it's not pattern-matchingly-obvious to me that `to-witness-T nothing ()` is a valid absurd pattern, though I can arrive at that conclusion if I dig for a minute), so perhaps it's the library wh

[2016-01-19 02:48] Twey commented on #1783
Here's a ‘minimal’ working example with no external dependencies:
[error.agda.txt](https://github.com/agda/agda/files/95264/error.agda.txt)

I had difficulty getting it smaller than this.

[2016-01-19 05:42] UlfNorell commented on #1784
How is that not obviously absurd? `T (is-just nothing)` reduces to `⊥` doesn't it?

[2016-01-19 10:13] jespercockx commented on #1784
Strange, I couldn't reproduce the problem with Agda at 9a1012a4123b1498ccd579f795cb34aaad9a13a1 and the standard library at e553454c42bc51ccf8e83c2144ad8a72d2cf2869. What version of the standard library are you using?

[2016-01-19 13:26] andreasabel opened #1785 "Agda crashes badly for bad entry in .agda/libraries"
Just giving a path in `.agda/libraries`, instead of a filename, like

[code]

crashes Agda with

[code]

This should be a proper error message with filename and location, as for other errors.

[2016-01-19 13:29] andreasabel opened #1786 "MAlonzo/GHC cannot compile Relation.Binary on maint"
MAlonzo creates a lambda abstraction with 9221 variables, which just sends GHC into infinite thinking.

[2016-01-19 13:36] UlfNorell commented on #1786
Is it only on maint or also master?

[2016-01-19 13:53] andreasabel opened #1787 "Allow fixity declarations in parent module of anonymous module"
The following could maybe be allowed:

[code]

Current error:

[code]

[2016-01-19 14:04] andreasabel commented on #1783
Thanks a lot!  Here a tiny variation:

[code]

The error could be somehow connected to the fact that the `_` has no solution!?  Writing `Product _ _ _` there makes the crash disappear and gives yellow.

[2016-01-19 14:36] Twey commented on #1783
Yeah, it shouldn't succeed, but presumably also shouldn't give an internal error =P
The Rel thing is very odd, though. I assumed before that it was just map-obj that triggers the error, but substituting A → A → Set gets rid of the error, even though that Rel isn't used anywhere.

[2016-01-19 16:39] identicalsnowflake commented on #1784
You're right, I confused `is-just` with `Is-just` (defined in the preceding few lines). It does trivially reduce to bottom.

@jespercockx

I made sure I had current Agda/std-lib versions just now and had the same problem, but after removing all `.agdai` files from my library directory and rebuilding, everything works fine now.

[2016-01-19 16:42] andreasabel commented on #1783
What is happening is that during printing of open metas, a `piApply (Rel _) x` fails (for x being `var 0`).  This is because `piApply` expects `Rel _` to be already unfolded into `_ -> _ -> Set`.  Somewhere `piApply` is used without ensuring that the type is already reduced.

[2016-01-19 19:09] ghost commented on #1779
Instead of bumping lower version bound I would prefer to keep compatibility with older `unordered-containers` versions. IMHO this amounts to turning `Utils.HashMap` into a kind of compatibility module using some simple CPP tinkering: for versions < 0.2.6 it provides the functions missing from `Data.HashMap.Strict` (as it does at the moment); and for versions >= 0.2.6 it simply reexports `Data.Hash

[2016-01-19 22:37] andreasabel commented on #1786
Worked on master.

[2016-01-19 22:41] andreasabel commented on #1784
Closing.  Please reopen if necessary.

[2016-01-19 22:41] #1784 closed, assigned to nobody

[2016-01-19 23:43] #1783 closed, assigned to nobody

[2016-01-20 04:38] asr commented on #1786
Please write down your test case. I couldn't reproduce the issue.

[2016-01-20 05:47] UlfNorell commented on #1787
Will it not be weird to allow it in anonymous modules, but not named modules? If we allow it in named modules there might be many `_+_`s, though. I suppose the declaration would apply to all of them in that case.

[2016-01-20 05:48] #1779 closed, assigned to asr

[2016-01-20 05:51] asr commented on #1779
The functions in Utils.HashMap currently are not used, so I removed them, kept the support for older versions of unordered-containers and added support for unordered-containers < 0.3.

[2016-01-20 05:59] asr commented on #1779
Just out curiosity, have you a particular reason in mind?

[2016-01-20 08:31] andreasabel opened #1788 "Testsuite destroys FFI package installations!?"
I had the feeling that I needed to reinstall the FFI components of the standard library all the time recently.  It seems that the testsuite destroys my FFI installation:

[code]

Somehow the compiler test (?) reinstalls the FFI packages into a temporary directory like `exec-test-pkgsXXXXX` which is then deleted.

That's bad.

[2016-01-20 08:42] andreasabel commented on #1786
I couldn't either now.

[2016-01-20 08:42] #1786 closed, assigned to nobody

[2016-01-20 08:53] andreasabel commented on #1712
I confirm that on this commit of your development

[code]

in `module Parametric.Change.Validity` Agda (current maint, 2016-01-20) crashes with:

[code]

[2016-01-20 10:02] UlfNorell commented on #1788
I think it would make more sense if the test suite didn't install the package at all, but just passed the required Haskell modules as dependencies to ghc using `--ghc-flag`.

[2016-01-20 10:19] phile314 commented on #1788
Currently, the compiler tests (try to) create a temporary ghc package db in the exec-test-pkkgsXXX directories. However, that seems to fail for some reason.

I like Ulfs suggestion, it's probably easier to just pass the HS include directories to GHC using --ghc-flag.

[2016-01-20 14:45] phile314 commented on #1788
This should be fixed now for all enabled compiler tests (simple + special).

[2016-01-20 14:45] #1788 closed, assigned to phile314

[2016-01-20 14:54] gallais opened #1789 "Agsy generates ill-typed terms referring to shadowed variables"
The problem is that agsy does not notice that a variable it wants to use
has been shadowed and that the typechecker will therefore reject the
generated term as ill-typed.

[code]

Credits to @pigworker for highlighting that the machine being able to
generate valid names for shadowed variables is crucial for a smooth
interactive programming experience.

We can either patch agsy so that it refuses t

[2016-01-20 18:58] mechvel commented on #1778
On Mon, 2016-01-18 at 08:47 -0800, Andreas Abel wrote:

Thank you very much for fixing it.

[2016-01-20 22:30] andreasabel commented on #1788
Thanks for the quick fix!

[2016-01-20 22:46] andreasabel commented on #1789
I think `C-c C-s` does the right thing here: it fills the whole and then giving fails.  This gives the user a chance to analyse the problem.
Agsy should do the same: instead of filling in the solution directly, go via "give".

[2016-01-21 09:49] andreasabel commented on #1789
My plan is not trivial to implement, as Agsy instantiates the metas directly instead just computing their solution. Fredrik might work this year on a new Agsy.

[2016-01-21 14:17] andreasabel opened #1790 "Projections highlighted as bound variables in record type definition."
[code]

The last `proj₁` should be highlighted as projection, but is highlighted as bound variable.

[2016-01-21 19:03] andreasabel opened #1791 "Too few arguments in with clause"
[code]

produces

[code]

[2016-01-21 19:49] #1791 closed, assigned to andreasabel

[2016-01-21 20:14] andreasabel opened #1792 "Overapplied mix-fix notation not used on the left hand side."
[code]

With exactly applied mix-fix, this works:

[code]

[2016-01-22 00:42] andreasabel commented on #1790
There actually is correct highlighting info, but it is overwritten by incorrect highlighting info coming from the record constructor type.  Deleteing the latter for highlighting solves this issue.

[2016-01-22 00:46] andreasabel commented on #1790
Closed by ccfc2df008c697b73e02f9e83e379a748020efc2.

[2016-01-22 00:47] andreasabel commented on #1791
The last commit was actually for issue #1790. I mixed that up.

[2016-01-22 01:40] andreasabel commented on #1790
Problem persisted for records in a mutual block.

[2016-01-22 01:41] #1790 closed, assigned to andreasabel

[2016-01-22 13:39] andreasabel opened #1793 "Make the highlighting output in interaction testsuite more readable"
When highlighting is changing, it is hard to evaluate its correctness when running `make interaction`.  The diff is unreadable, because the lines with `agda2-highlighting-add-annotation` are too long.

I tried to add a new line after each highlighting info tuple, which would give better results in diff.
However, `agda2-output-filter` in `agda2-mode.el` relies on the fact a an emacs command is prin

[2016-01-22 18:50] m0davis opened #1794 "blockOnMeta: fresh meta"
Using Ulf's new-reflection branch and agda-prelude, I can generate an internal error. Replace the induction-example of Tactic.Nat with the following, then C-c C-r in the hole. The location of the error is src/full/Agda/TypeChecking/Rules/Term.hs:1080.

[code]

commits used:
https://github.com/UlfNorell/agda/tree/daac59336d8d4d5c00083e8976fc1e177f73cdec
https://github.com/UlfNorell/agda-prelude/tre

[2016-01-22 19:04] andreasabel opened #1795 "Agda claims with-type is ill-formed when its rendering is well-formed"
[code]

[2016-01-22 20:17] #1795 closed, assigned to andreasabel

[2016-01-22 20:19] andreasabel commented on #1795
The fixing commit is https://github.com/agda/agda/commit/e568a72d057d280b314993dcb29d5130bbec0c05.

[2016-01-23 00:20] andreasabel opened #1796 "Need to run size constraint solver before with-abstraction"
[code]

[2016-01-23 00:33] #1796 closed, assigned to andreasabel

[2016-01-23 08:42] UlfNorell commented on #1794
This is a known problem. What happens is that the tactic blocks on a meta (`blockOnMeta`) that was created during the execution of the script. I'm not sure yet of how to handle this case.

[2016-01-24 20:31] m0davis opened #1797 "[new-reflection] Silly example doesn't work"
Following the example [here](https://github.com/UlfNorell/agda/blob/new-reflection/doc/release-notes/2-5-1.txt#L593), I get an error at the refl, `a + b != a * b of type Nat`.

[code]

[2016-01-24 22:02] m0davis commented on #1797
Scratch that. I changed the quoted terms and it typechecks:

[code]

I guess it's clear enough as it is.

[2016-01-24 22:43] asr opened #1798 "Remove non-canonical monad instances"
These are the instances which don't satisfy the [MPR](https://ghc.haskell.org/trac/ghc/wiki/Proposal/MonadOfNoReturn).

[2016-01-25 00:33] #1798 closed, assigned to asr

[2016-01-25 05:42] #1797 closed, assigned to nobody

[2016-01-25 13:10] andreasabel commented on #1787
In general, we could say a fixity decl. applies to all child modules as well:

[code]

Having two fixities for the same symbol in one file is more an obfuscation technique than good programming style.

[2016-01-25 13:27] andreasabel commented on #1792
Quickest route to success might be (see `AbstractToConcrete`)

[code]

As `recoverOpApp` fails if there are more arguments than holes in the operator, get the number of holes first, and then call `tryToRecoverOpAppP` with the exceeding arguments dropped, and do for these exceeding arguments the ordinary application.
The number of holes can be retrieved as in `recoverOpApp`.

[code]

[2016-01-26 01:51] #1714 closed, assigned to andreasabel

[2016-01-26 01:53] andreasabel commented on #1714
Fixing this issue amounted to representing `ImportDirective` also in the AST.
Merging into master was a bit tedious, due to many conflicts.

[2016-01-26 10:53] asr commented on #1761
@phile314 Please take ownership of this issue.

[2016-01-26 12:11] nad commented on #576
Can we close this issue now?

[2016-01-26 12:19] UlfNorell commented on #576
Yes, this is fixed by the library system

[2016-01-26 12:19] #576 closed, assigned to UlfNorell

[2016-01-26 12:23] phile314 commented on #1761
Just to be clear, this is a closed issue and I'm not going to do anything about it.

@asr By the way, you can assign issues to anyone by clicking on the small cog icon, you don't need to ask.

[2016-01-26 12:26] asr commented on #576
I added the 2.4.4 milestone, so we can track when an enhancement/bug was made/fixed.

[2016-01-26 12:35] asr commented on #1761
Since we don't get notifications related to the issues assigned, we can

i) assign the issue and notify the person or
ii) ask the person to take ownership of this issue.

I follow ii).

[2016-01-26 13:12] andreasabel commented on #576
Yes, considered fixed, but observe #1785 and #1693.

[2016-01-26 13:30] asr opened #1799 "Preparation for supporting GHC 8.0.1"
Last edit: 2016-05-01
GHC version: 8.0.1-rc4

Current issues related to support GHC 8.0.1:
- pqueue (see https://github.com/lspitzner/pqueue/issues/2) which is required by uhc-util
- uhc-light (see https://github.com/UU-ComputerScience/uhc/issues/71)

  From https://github.com/UU-ComputerScience/uhc/issues/73#issuecomment-187059603, the support for GHC 8.0.1 by uch-light requires that UHC supports

[2016-01-26 13:49] m0davis opened #1800 "[new-reflection] Internal error @ TypeChecking/Unquote.hs:444"
Location of the error: src/full/Agda/TypeChecking/Unquote.hs:444

[code]

[2016-01-26 16:15] UlfNorell commented on #1800
Fixed by c27f232

[2016-01-26 16:15] #1800 closed, assigned to nobody

[2016-01-26 16:17] UlfNorell commented on #1800
I guess the commit link will show up once it's merged with master....

[2016-01-26 16:29] asr commented on #1800
I added the 2.4.4 milestone, so we can track when an enhancement/bug was made/fixed.

[2016-01-26 18:02] asr opened #1801 "The `Aspects` data type doesn't satisfy the monoid properties"
In [Precise.hs](https://github.com/agda/agda/blob/maint-2.4/src/full/Agda/Interaction/Highlighting/Precise.hs) is defined the instance

[code]

but `Aspects` doesn't satisfy any of the three monoid properties in accordance with QuickCheck (see below). I guess some possible reasons are
1. In Agda source code _no_ every instance of `Monoid` must be an actual monoid.
2. The `mappend` function is bugg

[2016-01-27 04:53] m0davis opened #1802 "Reflected meta literals"
Location of the error: src/full/Agda/TypeChecking/Quote.hs:138

Sample code is pasted [here](http://lpaste.net/5020540722885951488). Sorry I couldn't figure out how to shorten it!

[2016-01-27 05:48] UlfNorell commented on #1801
From a quick glance it looks like the Arbitrary instance is to blame.

[2016-01-27 07:39] UlfNorell commented on #1802
The offending `__IMPOSSIBLE__` comes with a comment

[code]

There should be a constructor in the reflected literal type for metavariables.

[2016-01-27 10:13] UlfNorell commented on #1802
Fixed by 4633731.

[2016-01-27 10:13] #1802 closed, assigned to nobody

[2016-01-27 10:55] UlfNorell commented on #1794
Fixed by a630a7e. Solves it by blocking on one of the metavariables in the goal type instead of on the fresh meta. If there are no metas in the goal the macro call will be left yellow.

[2016-01-27 10:55] #1794 closed, assigned to nobody

[2016-01-27 11:04] asr commented on #1802
I added the bug label and the 2.4.4 milestone.

[2016-01-27 11:05] asr commented on #1794
I added the 2.4.4 milestone.

[2016-01-27 14:22] asr opened #1803 "Broken compilation with GHC 7.6.3 because EdisonCore doesn't support it"
[code]

I filed an issue for EdisonCore (see https://github.com/robdockins/edison/issues/4).

[2016-01-27 14:24] asr commented on #1803
@nad Please take ownership of this issue.

[2016-01-27 22:33] andreasabel commented on #1692
I restored the old behavior of `rewrite` after Aaron's protest.
https://lists.chalmers.se/pipermail/agda/2016/008447.html
This means that your example no longer works, @m0davis. Sorry, but I think this is the lesser evil.  After all, rewrite is just some heuristics, and it will not always do what you intend it to do.
@WolframKahl, I checked your SUList-example, and it type-checks again. :-)

[2016-01-27 22:48] #1692 closed, assigned to andreasabel

[2016-01-28 10:51] andreasabel commented on #1803
Why did https://travis-ci.org/agda/agda/builds/105359554 succeed even before this fix?
On a quick glance, travis did not attempt to recompile agda with ghc-7.6, but used some already compiled version!?

[2016-01-28 11:05] asr commented on #1803
Because

i) before the the fix the dependence was `EdisonCore == 1.3.1.*` and

ii) EdisonCore 1.3.1.1 fixing the issue was released

So Travis chose the right version of EdisionCore.

[2016-01-28 11:05] #1803 closed, assigned to nobody

[2016-01-28 11:14] asr commented on #1803
No. Travis compiles a fresh version Agda (expand lines 413, 636, etc., in the [105359554](https://travis-ci.org/agda/agda/builds/105359554) Travis build.

[2016-01-28 13:00] nad opened #1804 "Name in scope is claimed to be out of scope"
[code]

[2016-01-28 13:06] nad commented on #1801
Do the properties hold if you treat `otherAspects` as a set, and ignore the `note`?

[2016-01-28 14:21] andreasabel commented on #1804
It works if you `open public`.
It also works if you do `C-c C-w` inside hole

[code]

appended to the end of the file (without `public`).

Currently, you are only in the `insideScope` inside a hole, otherwise you are in the scope exported by the module.  With this definition, Agda behaves correctly.

Maybe you want to be in the `insideScope` also on top-level?!

[2016-01-28 16:55] nad commented on #1804
For the module

[code]

I get an in-scope answer if I ask why ℕ is in scope, so this explanation doesn't seem correct to me.

Maybe.

[2016-01-28 23:41] asr opened #1805 "Strict Maybe doesn't satisfy the monoid properties"
The `Monoid` instance

[code]

 defined in Utils/Maybe/Strict.hs doesn't satisfy the monoid properties. I filed the issue https://github.com/meiersi/strict-base-types/issues/11.

[2016-01-29 00:03] #1805 closed, assigned to asr

[2016-01-29 00:09] asr opened #1806 "Broken UHC test-suite in CompilingQNamePats.agda"
[code]

[2016-01-29 14:38] andreasabel commented on #1804
You could have a look in Interaction.Imports on where private etc. things are removed from the scope.  Maybe this bug has been introduced there.

[2016-01-29 17:04] #1806 closed, assigned to phile314

[2016-01-29 17:13] asr commented on #1475
Any news on this front? It is necessary to add the UHC tests to Travis.

@phile314 I'll assign you this issue.

[2016-01-29 18:58] andreasabel opened #1807 "._ should be printed as _ on the lhs"
[code]

[2016-01-29 19:04] andreasabel opened #1808 "maint installs cpphs as cpphs-2.4.2.6"
On a fresh Mac OS X El Capitan, with ghc-7.10 installed with homebrew, `make` fails for maint-2.4 with error:

[code]

However, I got a `cpphs-2.4.2.6` on my system, which I suspects comes from this failed install attempt. ;-)

[2016-01-29 19:20] andreasabel opened #1809 "New unifier crashes on C-c C-r"
Non-minimal test case:

[code]

[2016-01-29 19:58] andreasabel commented on #1805
Thanks!

[2016-01-29 20:47] np commented on #1475
What are you waiting from the next nix version? I would say that nix-copy-closure should do most of the work for such a case.

[2016-01-29 22:35] asr commented on #1808
I could reproduce the problem.

[2016-01-30 05:26] asr commented on #1808
The cabal-install program is doing the right thing. The problem is because cpphs (the library) and cpphs (the program) use the same .cabal file. I'll talk with @malcolmwallace (cpphs' author) about it.

[2016-01-30 11:50] malcolmwallace commented on #1808
Is there a different way to use cabal that has separate files for library vs executable?

[2016-01-30 18:52] liamoc opened #1810 "Instance arguments search regression?"
I typechecked an old paper of mine (previously developed with Agda 2.4 or 2.3, I can't remember) with the latest revision ( 9081bb1 ) of Agda (I wanted to use the libraries feature, and a few other things) and a bunch of instance arguments can no longer be found. I think this is a bug.

I boiled it down into a minimal working example, found in this gist.

https://gist.github.com/liamoc/4e7981de3c4

[2016-01-30 21:20] UlfNorell commented on #1810
That does indeed look like a bug. If you look at the constraints (`C-c C-=`) there isn't even an instance constraint for the unsolved meta.

[2016-01-31 00:11] asr commented on #1808
No.

@malcolmwallace  Independently of this issue, cpphs has two different and _independent_ uses: the library and the program. For example, Agda uses the program but not the library, and haskell-src-exts uses the library but not the program. In fact, there are different Cabal fields for representing the different uses: `build-depends` for the library and `build-tools` for the program. I suggest t

[2016-01-31 14:58] jespercockx commented on #1809
Fixed by https://github.com/agda/agda/commit/391041b50c16cb69c5527b6e807ad6d97cac0e97

[2016-01-31 14:58] #1809 closed, assigned to jespercockx

[2016-02-01 10:13] andreasabel commented on #1809
Thanks!

[2016-02-01 10:14] andreasabel commented on #1809
Can you please add a test case?  Maybe since you know the cause, it is easier to come up with a small self-contained test?!

[2016-02-01 10:23] andreasabel commented on #1810
Works on maint (2.4.2.6), but fails on master.  This is a release blocker.

[2016-02-01 10:30] andreasabel commented on #1388
Issue rediscovered by a user in
https://lists.chalmers.se/pipermail/agda/2016/008463.html

[2016-02-01 13:07] jespercockx commented on #1809
Added a test case (see 97c5415eaecfad9da6754c451a01f1b6e1c73d4d)

[2016-02-01 13:35] andreasabel commented on #1388
It seems that the weird behavior is introduced by the following code in `Parser.y`:

[code]

case 1: If there are no non-import statements before the first module, we add the declarations `ds2` following the first module to the first module declarations `ds1`.  This makes code like

[code]

legal when it really should be a parse error.  In general, either `ds1` or `ds2` should be empty for this to

[2016-02-01 14:24] andreasabel commented on #1388
Issue was introduced by https://github.com/agda/agda/commit/f30432239881536f92f50bc048307453ca528279 which fixed #953.

[2016-02-01 15:38] #1388 closed, assigned to nobody

[2016-02-01 20:41] andreasabel commented on #1159
I figure the local branch has withered!?

[2016-02-01 20:56] andreasabel opened #1811 "Type info should be propagated into last argument, esp. when it is an extended lambda"
This is a special case of #480, which has turned to stone while waiting for a fix. ;-)

[code]

For constructor `do'` the order of type-checking is the good one for this case: push the type info into the arguments.  This is not done for `do` which is just a function.  At #1159 I had a failed attempt at postponing the argument until after unifying the computed type of the application with the expec

[2016-02-02 05:38] UlfNorell commented on #1159
If I remember correctly I did merge some small refactorings but didn't make much progress on fixing the issue.

[2016-02-02 07:44] UlfNorell commented on #1810
I introduced this bug with 711bc27e. Working on a fix.

Here's a self-contained test case:

[code]

[2016-02-02 07:56] #1810 closed, assigned to nobody

[2016-02-02 07:57] liamoc commented on #1810
Thanks Ulf!

[2016-02-02 12:27] asr opened #1812 "Relocate the standalone program for testing size constraint solver"
See https://github.com/agda/agda/commit/f2a865b9aee0a19c946e3d7985f694004aacf0dc#commitcomment-15806770.

[2016-02-02 14:23] asr commented on #1808
For the discussion related to split cpphs, I filed https://github.com/malcolmwallace/cpphs/issues/1.

[2016-02-02 15:15] andreasabel commented on #520
This has already been released in 2.4.2.5.
I cannot created milestone 2.4.2.5 as it has existed at some point and got deleted.

[2016-02-02 15:29] #480 closed, assigned to andreasabel

[2016-02-02 15:29] #1159 closed, assigned to andreasabel

[2016-02-02 15:29] #1811 closed, assigned to andreasabel

[2016-02-02 15:47] asr commented on #520
Really? The release was on 2015-12-18 and you fixed the issue on 2015-12-25.

The milestone is closed. You can open it, label an issue and close it again.

[2016-02-02 15:52] andreasabel commented on #1804
Caused by removing private things before serialization. Fix: keep private things.

[2016-02-02 16:01] andreasabel commented on #1804
Fixed on maint-2.4, but open on master.  Ulf mentioned something with dead code removal which could cause this.

[2016-02-02 16:03] andreasabel commented on #1804
For master, over to @UlfNorell.

[2016-02-02 16:30] asr commented on #1510
Renamed the issue because the `compile-emacs-mode` rule in the Makefile tests the Emacs mode.

[2016-02-02 19:14] andreasabel commented on #520
You are right. I think I fixed #520 while I had not pulled the release, so I put the description in the wrong section in CHANGELOG.  Fixed.

[2016-02-02 20:45] phile314 commented on #1475
I hoped that UHC would be in the next Nixpkgs release, which would provide us with UHC binaries for free. UHC is in Nixpkgs now, but due some other issues (https://github.com/UU-ComputerScience/uhc/issues/69 , https://github.com/NixOS/nixpkgs/pull/12674 ) Nixpkgs doesn't provide binaries.

I can build the closure on my computer and upload it somewhere (e.g. dropbox) for Travis, but that is too fra

[2016-02-02 21:45] UlfNorell commented on #1804
This is working as intended.

[2016-02-02 23:08] asr opened #1814 "Codec.Compression.Zlib: premature end of compressed data stream"
I have seen the error

associated with different files in some Travis builds. After restarting the builds, the error disappears.

Right now, the error is in https://travis-ci.org/agda/agda/jobs/106551279.

Do we need to pay attention to this problem? (self-question)

[2016-02-02 23:29] asr commented on #1814
Cabal also generates the same error (see https://github.com/haskell/cabal/issues/2001).

[2016-02-02 23:34] #1510 closed, assigned to asr

[2016-02-03 08:08] nad commented on #1804
Perhaps, but it doesn't seem very consistent that, in the following example, `ℕ` is in scope, but not `F`:

[code]

Furthermore I think the workaround where you create a goal at the end of the file is less than ideal:
- Hard to discover for the user. (Could be fixed by adding a hint to the output of `C-c C-w`.)
- Need to edit the file, invalidating any .agdai file.
- Perhaps the top-level `C-c C-w

[2016-02-03 09:22] andreasabel commented on #1814
Mmh, I wondered myself what is the cause.  Could it be that too many files are open on travis, so it refuses to open one more instance of Common/Prelude.agda or what ever it is?  Are the tests in the testsuite run in parallel?  (Just a shot in the dark.)

[2016-02-03 09:35] UlfNorell commented on #1804
We could certainly do this for `C-c C-w`, but then you'd get an inconsistency with `C-c C-n` (for instance) where we absolutely cannot let private things be in scope.

[2016-02-03 09:49] #1801 closed, assigned to nobody

[2016-02-03 09:49] UlfNorell commented on #1801
Yes.

[2016-02-03 10:08] nad commented on #1804
Why? And why is there a difference between `ℕ` and `F`?

[2016-02-03 10:36] UlfNorell commented on #1804
The difference is that `ℕ` is a public entity from a different module and `F` is a private entity from the current module. The dead-code elimination removes unused private entities from a module before writing the interface file, so if you're loading the module from an interface, `F` might not exist (in this case it does, since it's used, but the scope checker can't know that) .

[2016-02-03 12:56] asr commented on #1814
Yes.

[2016-02-03 14:49] asr commented on #520
Correction: You don't need to open/close the milestone. Just choose the closed milestone from the milestone menu.

[2016-02-03 16:33] andreasabel commented on #520
github does not offer me Milestone 2.4.2.5, only 2.4.4 and 2.4.2.6.  If I type 2.4.2.5 nevertheless, it suggests to create this milestone, and then reports an error:

[code]

So I guess what you said before is true: open m., assign issue to m., close m.

[2016-02-03 18:29] asr commented on #520
I just changed the milestone without problems. You need to choose the 2.4.2.5 milestone in the 'Closed' tab from the Milestone menu in the right.

[2016-02-03 22:21] WolframKahl opened #1815 "A new module system change/regression?"
While I had been waiting for my problem with issue #1692 to go away, something has changed in the module system ─ the attached module typechecks neither in the current development version (9081bb140b8e880c45c2cb720bf8ee0f886b4a89), nor in the 2.4.2.6 branch (fe788f8da47e2662ad6904f51c3d5e05297b01ca). However, it, and the original module it has been pruned from, typecheck with 2.4.2.3 and with 6ede

[2016-02-04 12:16] asr commented on #1815
I could type-check the example with Agda 2.4.2.5.

[2016-02-04 12:59] MatthewDaggitt opened #1816 "Internal error when trying to prove things about lengths of lists"
When trying to compile the following (leaving aside that the theorem itself is false):

[code]

Agda reports:

However if you either
1.  change `open import Relation.Binary` to `open import Relation.Binary using (Setoid)`
2.  change `⊆-length (x ∷ xs) []        xs⊆ys = contradiction ? ?` to `⊆-length (x ∷ xs) []        xs⊆ys = ?`

the error disappears.

[2016-02-04 13:18] asr commented on #1712
Using the master branch and https://github.com/inc-lc/ilc-agda/compare/topic/2.4.2, I could type-check the Parametric.Change.Validity module:

[code]

[2016-02-04 13:18] #1712 closed, assigned to nobody

[2016-02-04 13:30] asr commented on #1605
@andreasabel why this issue has the 'regression' label?

[2016-02-04 13:30] asr commented on #1816
Agda version?

[2016-02-04 14:00] MatthewDaggitt commented on #1816
Version 2.3.2.2

[2016-02-04 14:15] WolframKahl commented on #1815
On Thu, Feb 04, 2016 at 04:16:52AM -0800, Andrés Sicard-Ramírez wrote:

This supports my impression that this must be a rather recent change.
(Agda 2.4.2.5 has other differences (wr.t issue #1692) that make it currently unusable for me.)

[2016-02-04 14:21] asr commented on #1816
You are using an old version of Agda. I couldn't reproduce the internal error using Agda 2.4.2.5, so I'm closing the issue.

[2016-02-04 14:21] #1816 closed, assigned to nobody

[2016-02-04 14:31] asr commented on #1712
@Blaisorblade I would appreciate if you write-down a [MWE](https://en.wikipedia.org/wiki/Minimal_Working_Example). I would like to add a test case for this issue.

[2016-02-04 15:23] andreasabel commented on #1815
It looks like I introduced this regression by https://github.com/agda/agda/commit/9c64919edb6d0b98b6b89ebce4f5f66c0fc0aa91, fixing issue #1759.

Somehow the assumption is used that in a parametrized module, all definitions share the same module telescope.  However, this is not true for record modules, where e.g. fields have hidden parameters, but other definitions keep the module parameters as wri

[2016-02-04 15:23] #1792 closed, assigned to andreasabel

[2016-02-04 15:23] #1807 closed, assigned to andreasabel

[2016-02-04 15:43] andreasabel commented on #1815
Here is a short test case:

[code]

[2016-02-04 16:12] andreasabel commented on #1605
Because the last example worked on Agda prior to the changes for this issue.

[2016-02-04 17:17] MatthewDaggitt commented on #1816
Ah okay, apologies. I'll update my version.

On Thu, Feb 4, 2016 at 2:21 PM, Andrés Sicard-Ramírez <
notifications@github.com> wrote:

[2016-02-04 17:38] nad commented on #1273
Is the idea that the argument marked with `instance` should be treated as an instance argument? In that case I think the notation should be `{{eq}} : Eq set`, in order to match the notation `{eq} : Eq set`.

[2016-02-04 17:53] andreasabel commented on #1273
Yes, your suggestion would be the first logical thing todo.
But then, we could also optionally allow the `instance` keyword, like for declarations.

[2016-02-04 19:35] UlfNorell commented on #1273
Both make sense but would do different things:

[code]

makes the `x` argument to the constructor an instance argument (and so will be filled in by instance search).

[code]

makes the projection function `x` an instance (of the class `A`).

[2016-02-04 22:53] davdar commented on #1787
For what it's worth, I would love to have this feature.

I prefer to put all fixity declarations at the top of my files, and this would allow me to do this for definitions inside "module _ where" as well as immediately opened modules (e.g. type classes).

[2016-02-05 09:33] andreasabel commented on #1815
Ulf suggests: I would expect

[code]

to yield the same types for functions and projections as

[code]

This can surely be implemented, but to make this stringent, we have to rethink what it means to abstract a telescope over definitions.

Think food 1:

[code]

Think food 2:  Should not we expect

[code]

to create `M'` as an identical copy of `M`?

[code]

[2016-02-05 11:16] UlfNorell commented on #1815
I do think ideally that the `N` and `M` modules should behave the same in example 1, and that `M'` and `M` should be the same in example 2. As you observe, this would require rethinking abstraction and application for definitions. My suggestion for this is to have abstraction over a record/data type be parameter insertion. A complication in that case is that record modules cannot be treated as reg

[2016-02-05 14:16] andreasabel opened #1817 "Solvable size constraints reported as unsolvable"
Use Agda 2.4.2.2 (current Agda does not allow functions into Size):

[code]

Agda reports:

[code]

However the solution is to set all `_i := i` for all `_i_...`.

[2016-02-05 15:31] guillaumebrunerie opened #1818 "Allow lambdas and function types in inner operator holes"
The following code fails to parse with the following error message:

Could not parse the application [ λ a → b ]
Operators used in the grammar:
  None
(the treatment of operators has changed, so code that used to parse
may have to be changed)
when scope checking [ λ a → b ]

I don’t see any reason for it to fail.

[code]

[2016-02-05 16:46] nad commented on #1804
In that case, wouldn't it be more consistent to hide `ℕ` as well?

[2016-02-06 07:47] UlfNorell commented on #1818
At least there are no good reasons for it to fail. What makes it tricky is that currently it's the happy parser that parses lambdas. For this to parse we would have to move the lambda handling to the operator parser, which is non-trivial.

[2016-02-06 07:51] UlfNorell commented on #1804
I don't know about more consistent, but it would make all top-level commands completely unusable, since you could never refer to things from other modules.

[2016-02-07 00:02] WolframKahl commented on #1815
(I have adapted my code to work around this issue by defining (private) modules and accessing the problematic fields via those. So far I have found only two places where that was necessary. Those modules are defined using the same actual parameters in both versions, so my code should now be unaffected by this issue. If this changes against 2.4.2.5, I think it should be documented, and would in pri

[2016-02-07 09:53] andreasabel commented on #1818
The only bracket-pairs Agda recognizes are the built-in ones, `( )` and `{ }`.  Agda gets `[ \ a -> b ]` from the happy parser as `[ (\ a -> (b ]))`.
It would be very useful if Agda recognized also bracketing coming from mixfix operators, for instance, to parse equality reasoning chains more robustly.

[2016-02-07 23:01] m0davis opened #1819 "Reflection documentation: Context functions"
The List (Arg Type) returned by getContext is in the reverse order of that expected by inContext. Starting at the head and moving towards the tail, the list returned by getContext goes from most to least dependent  whilst that expected by inContext goes from least to most.

It's obvious to me (now) why that should be, but I think the documentation [here](http://agda.readthedocs.org/en/latest/langu

[2016-02-08 08:37] #1819 closed, assigned to nobody

[2016-02-08 08:54] andreasabel commented on #1812
I had to compile the size solver to test something, so I took the opportunity to relocate it into `src/size-solver` and remove it from `src/full/Agda`.

TODOs:
- make it Agda version specific (currently hard-wired to 2.4.2.6)
- make it part of the test suite.

[2016-02-08 08:55] #1812 closed, assigned to andreasabel

[2016-02-08 08:57] andreasabel commented on #1817
The solver throws the towel if there are metas in the hypotheses.  TODO: extend the size solver to this case.

[2016-02-08 09:13] andreasabel opened #1820 "Case splitting should preserve existing names"
[code]

Loading reports:

[code]

[2016-02-08 11:08] andreasabel opened #1821 "SizeUniv != Set when using inspect pattern"
[code]

reports

[code]

[2016-02-08 11:18] #1785 closed, assigned to nobody

[2016-02-08 11:21] #1538 closed, assigned to nobody

[2016-02-08 12:21] asr opened #1822 "size-solver program: Missing test-suite"

[2016-02-08 12:23] asr opened #1823 "size-solver program: Wrong Agda version in master"

[2016-02-08 12:24] asr commented on #1812
Thanks!

I filed #1823.

I filed #1822

[2016-02-08 13:39] UlfNorell commented on #1494
This is working as intended. Display pragma right-hand sides are checked in the empty context (i.e. outside the module telescope), so if you want to use names from a parameterised module in the right-hand side of a display pragma you need to supply values for the module parameters as well. If you didn't it's not at all clear what to do outside the module. For instance,

[code]

[2016-02-08 13:39] #1494 closed, assigned to nobody

[2016-02-08 14:22] andreasabel commented on #1821
Self-contained test case:

[code]

[2016-02-08 14:37] andreasabel opened #1824 "Allow syntax {let x = t} and {open M} in telescopes"
So far, only `(let x = t)` and `(open M)` are allowed, but since the let-bound identifiers are neither visible nor hidden, braces should be as good as parentheses.

Why is this useful?  Less editing when specializing a binding {x : A} to {let x = t}.
Also, suggesting "hidden" makes more sense than suggesting "visible" for these let bindings.

[2016-02-08 14:52] np commented on #1824
Agreed. This should still be clearly stated that both forms are equivalent.

[2016-02-08 18:08] WolframKahl commented on #1820
Why should ellipsis should not report `Repeated variables on left-hand side` when there are indeed repeated variables on the left-hand side?

I understand `... |` to _add_ additional matching against the `with` arguments, but the previously matched pattern variables remain in scope, and shadowing is, in my opinion, at least dangerous.

[2016-02-08 19:14] #1635 closed, assigned to nobody

[2016-02-09 01:12] andreasabel opened #1825 "Argument of projection-like function can have blocked type during conversion checking"
[code]

Agda reports

[code]

[2016-02-09 07:54] UlfNorell commented on #1820
I agree with Wolfram here. Are you saying that the error message should be better?

[2016-02-09 08:38] andreasabel commented on #1825
Despite the long test case, after the shrinking was done, this bug was easy to fix.  Just turned one `__IMPOSSIBLE__` into a postponement of conversion checking.

[2016-02-09 08:42] #1825 closed, assigned to andreasabel

[2016-02-09 09:36] #1716 closed, assigned to nobody

[2016-02-09 10:59] #1273 closed, assigned to nobody

[2016-02-09 14:39] asr commented on #1744
No enough discussion, so I'm closing the issue.

[2016-02-09 14:39] #1744 closed, assigned to nobody

[2016-02-09 15:12] andreasabel commented on #1759
Working on a fix of both #1815 and this issue, I realize that this also needs to work:

[code]

[2016-02-09 15:37] #1823 closed, assigned to asr

[2016-02-09 15:38] andreasabel commented on #1815
Ulf, your expressed expectation is not what is being implemented, see `test/Succeed/RecordInParModule.agda`.  Here is a variant of this test case:

[code]

If `x` is a parameter to the record type `R` (see `module Works`) then module `M.R` only expects `r` visibly.  But if we pull the parameter out to the parent `module M`, then module `M.R` expects both `x` and `r` visibly.
Currently, the `sectio

[2016-02-09 15:55] andreasabel commented on #1824
I am tempted to fix this on maint-2.4.

[2016-02-09 15:56] #1815 closed, assigned to andreasabel

[2016-02-09 15:57] andreasabel commented on #1815
This regression is defeated, like Napoleon in Waterloo, but we can continue to discuss the semantics of parametrized modules and records here.

[2016-02-09 16:06] nad commented on #1824
I'm opposed to this change. What's next? Support for `{{let x = t}}` as well?

Andreas, if you want to edit less, then I suggest that you implement an Emacs macro or function that does what you want.

[2016-02-09 16:21] nad commented on #998
Commit: c834e1c581071d9010054cf1ceac2a95a8c65b93.

[2016-02-09 16:27] nad opened #1826 "Better error message for identically rendered unequal terms"
Test case:

[code]

Output:

[code]

The code above triggers an internal error starting from c834e1c581071d9010054cf1ceac2a95a8c65b93, but I suspect that the problem lies elsewhere. I think that the `__IMPOSSIBLE__` that is triggered by the current development version was introduced in the fix for #1005 (5ce8daf6fe443fa5676dfe503599f31206c4d6ae).

[2016-02-09 18:21] nad commented on #1804
Is there any reason why the top-level commands aren't executed "in a hole at the end of the file", except for efficiency? And in that case, how important is this optimisation? (I've forgotten the details.)

[2016-02-09 18:32] UlfNorell commented on #1804
The dead-code elimination reduced some of Wolfram's interfaces by a factor 5, so I'd say pretty important.

[2016-02-09 19:36] mechvel commented on #1759
My large program is type-checked by  Development Agda of January 19, 2016
(this needs 17 Gb).
And it  has parameterized modules and records of various kinds, sometimes parameters are hidden with `{}'.
On the other hand, I do not know, may be this is a bug that it is type-checked.
Also I do not understand these record`magic' matters.
If the language developers formulate some clear restriction on th

[2016-02-09 20:06] mechvel commented on #1759
Concerning

  `T = (w p : R.P _ a) → Set`

:

`R.P`  is declared as having 1 argument, and  `R.P _ a`

gives  it two arguments. Am I missing something?

[2016-02-09 20:31] andreasabel commented on #1759
Since `P` is declared in a `record`, it gets as additional argument the record value.  In this case the record value is `_`, which eta-expands into `record{}`.  Note that `R` has no fields.

[2016-02-09 21:00] andreasabel commented on #1826
Now you get

[code]

This is not super helpful, but better than crashing.  There is room for enhancement of this error message.

[2016-02-09 21:06] asr commented on #1804
I see `F` in scope in the current master:

[code]

[2016-02-09 21:06] andreasabel commented on #1824
Na.  The brace syntax is more natural than the parentheses syntax, but double braces make little sense.
If you are opposed, do you have a different, smooth semantics for `{let x = t}` you would like to see?  That would be a reason to save this syntax for later.

[2016-02-09 21:17] andreasabel commented on #1820
The annoying thing is in the following workflow:

[code]

Splitting on `x` gives:

[code]

When I then reintroduce the ellipsis

[code]

I get the error.
Somehow Agda shamelessly renames `n` to make space for the `n` in `suc n` when expanding the ellipsis, but does not accept it when the ellipsis is still in place.

[2016-02-09 21:22] WolframKahl commented on #1820
Then perhaps that interactive mechanism should be fixed, instead of changing the language...

[2016-02-09 21:24] UlfNorell commented on #1824
If you think the brace syntax is more natural, it would be better to change the syntax. Having both forms just leads to confusion. Personally I find the parens more natural though. Also, I don't see why your argument for introducing the new syntax doesn't apply equally to double braces.

[2016-02-09 21:28] UlfNorell commented on #1820
Indeed. See #573.

[2016-02-09 22:58] nad commented on #1804
I don't:

[code]

[2016-02-09 23:09] m0davis opened #1827 "internal error @ Agda/TypeChecking/Substitute.hs:398"
internal error @ Agda/TypeChecking/Substitute.hs:398

[code]

[2016-02-09 23:10] asr commented on #1804
My bad. I was using the `public` keyword in the example.

[2016-02-10 08:24] UlfNorell commented on #1827
You can get the same error with

[code]

The problem is that the fresh function gets added inside a parameterised module, but with a mismatched context. The simplest fix is to ignore the local context for `declareDef` and `defineFun` and use the context of the macro call.

[2016-02-10 08:24] #1827 closed, assigned to nobody

[2016-02-10 08:53] andreasabel commented on #1820
It is perfectly fine to change variable names in with-clauses; manually I could also write

[code]

I think it is consistent to interpret the ellipsis as choosing variable names that do not conflict with the variable names written by the user in the additional patterns.  The safe option, which makes most sense, is to choose `_` in ellipsis expansion for names that are shadowed by the with-patterns

[2016-02-10 09:03] andreasabel commented on #1824
It does, but I would be less surprised if `{{let x = t}}` does not work as I was when I found that `{let x = t}` does not.

[2016-02-10 09:41] andreasabel commented on #520
Ah, thanks for this eye-opener!  I must have been blind. ;)

[2016-02-10 12:16] asr opened #1828 "size-solver program: Missing suffix -${VERSION} in the stable branch"

[2016-02-10 13:29] Saizan opened #1829 "Reloading consumes linear memory with caching enabled"
Reloading the following module with --caching consumes linear memory rather than constant as it should:

[code]

[2016-02-10 14:16] #1829 closed, assigned to Saizan

[2016-02-10 15:38] WolframKahl commented on #1820
On Wed, Feb 10, 2016 at 12:53:55AM -0800, Andreas Abel wrote:

I still do not like that: If I (succeed to) use ellipsis, I want to keep the original matching.

I typically named these variables consciously, and I am using almost all of them in almost all clauses. Being able to accidentally shadow them would be dangerous. And if you are thinking about pages: The shadowing binding may also be pages

[2016-02-10 20:04] drull95 opened #1830 "agda doesn't ignore multiline comment delimiters inside strings"
The following will fail with an `unterminated {-` error.

[code]

[2016-02-10 22:40] andreasabel commented on #1830
Bah, can the lexer be that crappy!? ;)

At least not worse than Haskell's, who can't do it either:

[code]

In GHCI:

[code]

So at least no error was introduced when cut-and-pasting GHC's lexer. ;-)

[2016-02-10 22:44] asr opened #1831 "Release Agda 2.5.1 release candidate 1"
I'll release Agda 2.5.1 release candidate from the master branch.

[2016-02-10 22:56] andreasabel commented on #1820
Ok, we cannot agree on this one.  I am fine to postpone.

However, then we should change the case splitting tactics to not shadow any pattern variables in what was the ellipsis.
Splitting on `x` should give me:

[code]

[2016-02-10 23:09] andreasabel commented on #1831
I need to fix #1821 before the release.

[2016-02-11 05:45] UlfNorell commented on #1830
It's a deliberate choice not to lex inside comments. In the case where you're commenting out code I can see that this might be annoying, but in general we don't know anything about the structure of text inside a comment.

[2016-02-11 08:26] andreasabel commented on #1830
The opposite case:

[code]

Here, GHCI says:

[code]

Agda says:

[code]

[2016-02-11 08:53] andreasabel commented on #1830
The ocaml compiler can handle these cases:

[code]

[code]

(Seems like the pygments lexer is not able to cope.)

If Wadler was right https://wiki.haskell.org/Wadler's_Law, the abundance of issues should be like the current one.

[2016-02-11 09:32] Saizan commented on #1829
Debugged this one with the direction of @nad : retainer profiling was actually helpful this time, among other things it pointed to "use", which we just made stricter.

[2016-02-11 12:31] Saizan commented on #610
Sometimes they come back:

[code]

[2016-02-11 12:41] andreasabel opened #1832 "Insufficient indentation in LaTeX-rendered Agda code"
[code]

This generates the attached PDF.
[IndentingLatex.pdf](https://github.com/agda/agda/files/126312/IndentingLatex.pdf)

If someone typed that into Agda, he'd get a parse error, since `field` is a layout keyword and the type of the field is not sufficiently indented.

I guess `polytable` is to be blamed for this.  The generated LaTeX is fine:

[code]

[2016-02-11 15:12] jespercockx commented on #610
I guess we'll have to reset the counter again. Note that this time, it isn't necessary to use `with`:

[code]

Is the application `cong ack` supposed to typecheck?

[2016-02-11 17:00] UlfNorell commented on #610
I suspect that the problem is `out`. Note that if you try

[code]

you get an error. Although I have to admit I'm not exactly sure what the rules are for irrelevant definitions.

[2016-02-11 18:08] andreasabel commented on #1832
In fact, polytable is not to blame. `\AgdaIndent` is currently emitting a fixed amount of whitespace, independent from its parameter, which might not be enough.
I tried to make `\AgdaIndent{#1}` emit `\hspace*{#1ex}` but this did not look good (too much indentation).  I think we might need a smarter mechanism to get a correct and aesthetically pleasing indentation for situations like the example I

[2016-02-11 18:28] kosmikus commented on #1832
@andreasabel I've added an example to the polytable bug on how you could perhaps use polytable in such a way that the desired layout would be generated more or less independently of the definition of `\AgdaIndent`.

[2016-02-11 19:28] andreasabel commented on #610
I'm not either.  But it feels like the bodies of irrelevant definitions have to be protected by a `DontCare` just as for irrelevant projections.  It fixes this issue.  The rationale is that adding a `DontCare` does no harm, as irrelevant terms are all equal in irrelevant context.  But the `DontCare` prevents us from tracelessly reducing away the constructor `set` whose argument is irrelevant.

[2016-02-11 19:39] #610 closed, assigned to andreasabel

[2016-02-11 20:20] m0davis opened #1833 "[reflection] defineFun should not depend on unobservable features of the context"
I'm having trouble defining helper functions in reflection because the defined functions are set-up differently, depending on whether the context comes from a module definition or from the local clause.

It looks like the local clause is included twice in the defined function's context, thus requiring patterns for the second copy. Instead, the local clause should be included just once, like that c

[2016-02-11 22:26] andreasabel opened #1834 "Copattern matching: order of clauses should not matter here"
[code]

Agda complains

[code]

However, the split heuristics should split on the result first, not on the boolean, since the column `true - b` has a catch-all, whereas the result splitting on projection R.p is complete.

[2016-02-11 22:40] andreasabel commented on #1834
To fix this, we probably need to join the `Block` and `BlockP` case in `Coverage.Match`.  Currently, a blocking variable overrides a blocking result, see `choice`.

[2016-02-12 08:41] andreasabel commented on #1830
Discussing this over lunch with Victor a bit, there is two to three separate things people what to do with comments:
1. Put arbitrary garbage into the program text with different purposes.
2. "Comment-out" program text.
3. Put reasonably looking explanations into the program text.

We have two type of comments now:
1. Single line comments support 1-3 with the following limitations/short-comings:

[2016-02-12 10:27] vlopezj commented on #1830
I'll add that, when programming in C, one can use the C preprocessor's
#if directive to disable arbitrary blocks of code:

[code]

This approach is common enough that the vim editor will highlight
anything inside an "#if 0" block as if it where a comment.

As Andreas said, by forcing the commenting-out directives to _take a
whole line_, lexing issues are avoided.

If we introduce new syntax in Agd

[2016-02-12 12:37] asr opened #1835 "Travis timeout with GHC 7.8.4 but not with GHC 7.6.3"
Andreas wrote:

I wrote:

[2016-02-12 13:14] asr commented on #1835
The `-j` option was added in GHC 7.8.1 ([Release notes for version 7.8.1](https://downloads.haskell.org/~ghc/7.8.1/docs/html/users_guide/release-7-8-1.html)):

[2016-02-12 13:28] UlfNorell commented on #1833
Yes. The problem is that we never had to create definitions under non-module parameter bindings before, so there are some kinks to work out. The behaviour in the `module _ (S : String)` case is the correct one.

[2016-02-12 14:41] andreasabel commented on #1835
From the first build for ghc 7.8 which did not complete in 2h (build 636) https://travis-ci.org/agda/agda/jobs/106969287, the command travis executes starts with

[code]

When it still just took over one hour (build 634) https://travis-ci.org/agda/agda/jobs/106821668, it said

[code]

Unluckily, the build 636 hit your harmless patch "fixing compilation with ghc 7.10.3".

Maybe if we succeed to put

[2016-02-12 14:43] asr commented on #1831
@andreasabel some objection to release a _release candidate_ without fixing #1821?

[2016-02-12 14:50] asr commented on #1835
Yes. I'm testing in my own repository. Right now I getting faster builds with `-j1` than `-j4`. I guess it is related to the 4GB of memory available.

[2016-02-12 14:58] andreasabel commented on #1831
No objections.  As sized types are used by only a few people, the rest of the community can test their developments with this RC.

[2016-02-12 15:00] andreasabel commented on #1770
It might be worthwile to make sure this regression is harmless before the release.

[2016-02-12 15:06] phile314 commented on #1831
I just read up on how readthedocs.org handles releases [1].

According to the Agda release instructions, we create a git tag for a new release. Readthedocs should handle this fine and should add a version "2.5.1" documentation release without any manual intervention.

[1] http://docs.readthedocs.org/en/latest/versions.html

[2016-02-12 16:33] #1835 closed, assigned to asr

[2016-02-12 17:19] asr commented on #1770
The regression is respect to Agda 2.4.2.3.

[2016-02-12 19:09] asr commented on #1831
I merged the 2.4.2.6 milestone into the 2.5.1 milestone.

[2016-02-12 20:03] asr commented on #1831
I started the preparation of the RC from the current master branch.

You can continue pushing in master, but stop pushing in the maintenance branch.

[2016-02-12 22:29] asr commented on #1831
I have tested the installation of release candidate [Agda-2.5.0.20160212.tar.gz](http://www1.eafit.edu.co/asr/tmp/Agda-2.5.0.20160212.tar.gz) in Ubuntu 12.04 64-bits with:
- GHC 7.6.3, 7.8.4 and 7.10.3, and
- GHC 7.10.3 and the `uhc` flag

Could someone test the installation of the release candidate on Windows and/or Mac OS using the following instructions:

[code]

If you use Mac OS and GHC 7.10.

[2016-02-12 23:40] asr opened #1836 "UHC back-end: Wrong documentation in Agda.cabal?"
Agda.cabal says:

[code]

I don't understand the mix of `when the uhc backend is disabled` and `if flag(uhc)`. In addtion, after some tests I don't know when the `-DUHC_BACKEND` option is necessary.

Also note that
- `cpp-options:    -DUHC_BACKEND` is duplicated and
- the documentation for the `uhc` flag says `requires GHC 7.6 or newer`.

[2016-02-13 02:44] WolframKahl commented on #1835
Try adding `+RTS -S -M3.5G -RTS`?

[2016-02-13 09:30] UlfNorell commented on #1831
I can build with `-fuhc` on Mac OS 10.10 and GHC 7.10.3, but I can't run the compiler tests. Trying to compile the master branch of uhc I get
`src/ehc/files1.mk:468: *** multiple target patterns.  Stop.`

[2016-02-13 10:18] asr commented on #1831
I didn't install UHC from its master branch. I followed the instructions in [UHC Backend](http://agda.readthedocs.org/en/latest/tools/compilers.html#backends):

[code]

[2016-02-13 10:40] asr commented on #1835
@WolframKahl thanks for the advice. Using `-j2` we have very good building times on Travis, so I did not plan to make new tests. If you get better times, please let me know.

[2016-02-13 11:21] UlfNorell commented on #1831
Compiled RC on Windows 8.1 / ghc-7.10.3.

[2016-02-13 11:22] UlfNorell commented on #1831
I managed to install uhc-1.1.9.2 but all compiler tests fail with exit code -11.

[2016-02-13 11:33] asr commented on #1831
How are you running the compiler tests?

[2016-02-13 12:24] UlfNorell commented on #1831
`make compiler-test`

Something is wrong with my uhc though. I get segmentation fault trying to run any compiled program.

[code]

[code]

[2016-02-13 12:25] asr commented on #1831
Keep in mind we cannot run the test-suite with the RC because I removed the Cabal `test-suite` section from Agda.cabal (it is not necessary for the user). Now I'm thinking it is a good idea to keep the Cabal test-suite because:
- we can run the test-suite from the repository and
- it shouldn't be a problem for the user because she doesn't use the `--enable-test` option when installing Agda.

I'll

[2016-02-13 12:25] andreasabel commented on #1835
@asr: Thanks for fixing this!  Yes, now the times look very good, it is better than before it stopped working!

Are you in contact with travis?  You could let them know how we fixed the problem, and that the -j ncpus of cabal is not a good default.  They might then know next time someone complains how to give good advice..

[2016-02-13 12:29] asr commented on #1831
After `make clean` you should got

[code]

[2016-02-13 12:32] asr commented on #1835
Yes, I told Travis about the problem and the solution. I also asked them to restore the default timeout for Agda. I'm waiting their answer.

[2016-02-13 12:34] asr commented on #1835
Yep!

[2016-02-13 13:02] phile314 commented on #1836
@asr I can push in master, right?

[2016-02-13 13:12] asr commented on #1836
Right.

[2016-02-13 13:17] #1836 closed, assigned to phile314

[2016-02-13 13:22] asr commented on #1831
The new RC Agda-2.5.0.20160213 is [here](http://www1.eafit.edu.co/asr/tmp/Agda-2.5.0.20160213.tar.gz).

[2016-02-13 13:28] phile314 commented on #1831
@UlfNorell I wouldn't recommend using the UHC master branch.
Can you compile Hello.hs again using "uhc -v3 Hello.hs". Last line of debug output should be the call to the C compiler. Which compiler and version is that? If you are using GCC 4.9 or newer, you may hit this bug: https://github.com/UU-ComputerScience/uhc/issues/32

[2016-02-13 13:36] phile314 commented on #1669
We now have an Agda manual (http://agda.readthedocs.org/en/latest/), so I will close this. Mind you, the manual is still incomplete but coming along nicely. Please open a new issue if there is a concrete, actionable problem with the new manual.

[2016-02-13 13:36] #1669 closed, assigned to phile314

[2016-02-13 13:50] phile314 opened #1837 "Use Paths_Agda to find Agda executable in test suite"
Currently, the Makefile sets AGDA_BIN to tell the test suite where the Agda executable resides. It would be better if this works out of the box with plain Cabal, so that we could get rid of the AGDA_BIN environment variable. Paths_Agda might do the trick, not sure, but worth a try.

[2016-02-13 14:00] phile314 commented on #1831
Note that if you want to execute the test suite you will have to set the AGDA_BIN environment variable to point to the Agda executable. See also https://github.com/agda/agda/issues/1837 .

I can build Agda on Fedora 23 Linux 64bit. The tests sadly don't work because the *.agda files are missing, e.g. test/Succeed/ contains only Tests.hs but no *.agda files. This is probably because we don't includ

[2016-02-13 14:09] UlfNorell commented on #1831
Of course. I used the master branch to try the test suite.

Yeah, that's most likely it.

[2016-02-13 14:23] asr commented on #1831
I included the Cabal test-suite section in Agda.cabal for testing the RC from the master branch. We don't need to run the test-suite outside of the master branch.

[2016-02-13 14:48] asr commented on #1831
I realised we have a wrong work-flow. How can you run the test-suite from the master branch using the RC/release if I have not pushed the commits related to the RC/release?

So far, when I have asked for testing a RC/realease I only asked for testing the _installation_ of the RC/release on different platforms.

Do we also want to run the test-suite with the RC/release on different platforms or is

[2016-02-13 15:40] UlfNorell commented on #1831
I don't think we need to run the test suite for the release. As you say we haven't really had any problems with releases compiling but not working. I ran `compiler-test` on the master branch since I assumed there weren't any differences when it comes to the uhc backend. I did compile the release candidate though.

[2016-02-13 15:48] asr commented on #1831
OK. I'll push the RC.

You are right.

[2016-02-13 17:54] asr commented on #576
#1785 and #1693 were fixed.

[2016-02-13 18:17] asr commented on #1775
Removed the `bug` label. The `regression` label is enough.

[2016-02-13 19:04] asr commented on #1831
Done.

[2016-02-13 19:04] #1831 closed, assigned to asr

[2016-02-14 03:35] m0davis opened #1838 "Cease hostilities between libraries"
When libraries conflict, Jeff Bezos wins.

As Ulf mentioned [here](https://lists.chalmers.se/pipermail/agda/2016/008380.html), the agda-stdlib and agda-prelude libraries are incompatible because of the duplication of BUILTIN declarations. Yet another reason for incompatibility is due to duplication of module names (e.g. Data.Nat.Properties).

As for BUILTIN duplication, may I take it that there ar

[2016-02-14 09:12] UlfNorell commented on #1838
The current thinking is that we should pull out the builtins into a core library, possibly putting that in the same place as `Agda.Primitive`. Not sure what to do about the module clashes. The simplest thing would be to just agree on names that don't clash.

[2016-02-14 12:38] phile314 commented on #1837
This doesn't work, as getBindir returns $HOME/.cabal/bin and not the current dist/ build directory. This means "cabal build && cabal test" without "cabal install" still wouldn't work, so not much point in doing anything about it.

[2016-02-14 12:38] #1837 closed, assigned to nobody

[2016-02-14 21:45] andreasabel commented on #1838
@m0davis Since you mentioned a TODO file, I checked upon it.  It was last modified in Nov 2007.  But it is an interesting historic document.  Some issues mentioned there have not progressed in the last 8 years. (smile)

[2016-02-14 23:00] phile314 opened #1839 "MAlonzo hits IMPOSSIBLE"
As reported by Sergei (https://lists.chalmers.se/pipermail/agda/2016/008534.html):

<pre>
-----------------------------
Compiling Structures1
in /home/mechvel/agda/tosave/bugs/feb14-2016/Structures1.agdai
to /home/mechvel/agda/tosave/bugs/feb14-2016/MAlonzo/Code/Structures1.hs
Unbound name: Structures1.OfMonoidHomo.recCon-NOT-PRINTED
[157]@263218534
An internal error has occurred. Please report th

[2016-02-14 23:08] phile314 commented on #1838
I think reserving the Agda.\* namespace for builtin/core libraries should be fine.

I assume this would be a separate file from Agda.Primitive, e.g. Agda.Core?

[2016-02-15 00:25] m0davis commented on #1838
Lol about the TODO. I did not check the date.

The mentioned solution for builtins sounds fine to me.

As for module name clashes, I suggest that there be an optional prefix supplied with --library. E.g., for a project that mostly uses agda-prelude but sometimes wants modules from agda-stdlib, we could have:

[code]

[2016-02-15 02:03] asr opened #1840 "Re-enable Agda in Stackage (unordered-containers 0.2.6)"
I removed Agda 2.4.2.5 from Stackage because it doesn't support unordered-containers 0.2.6 (see https://github.com/fpco/stackage/issues/1222). This problem was fixed in #1779, so I will re-enable Agda after realising 2.5.1.

[2016-02-15 02:13] asr commented on #1839
I couldn't reproduce the issue in maint-2.4.

[2016-02-15 05:48] UlfNorell commented on #1839
Looks like a problem with the dead code elimination since it's only when compiling and not if you merge modules. 4ec8443 shouldn't have affected that, but it's not impossible. I'll check it out.

[2016-02-15 08:58] andreasabel opened #1841 "Agda warns of changed operator treatment even when no operators used"
[code]

reports

[code]

The warning should not be issued when no operators are used anyway.
Further, the warning should include Agda version numbers (changed between which versions)...
@nad

[2016-02-15 09:25] andreasabel opened #1842 "C-c C-c throws internal error with -v interaction.case:100"
[code]

Invoking case-split on `x`, we get

[code]

**Blocking** #1777.

[2016-02-15 10:50] UlfNorell commented on #1839
Shrunk test case:

[code]

It does indeed look like 4ec8443 is the culprit. Investigation continuing...

Note that it only fails when you compile from an existing `.agdai` file.

[2016-02-15 11:36] UlfNorell commented on #1839
The problem was that dead-code elimination didn't look inside display forms, so there could be display forms mentioning names that had been eliminated. 4ec8443 introduced display forms for constructors and for some reason the problem only shows up for constructor display forms.

Fixed by removing display forms involving dead names during dead-code elimination.

[2016-02-15 11:54] asr commented on #1839
@UlfNorell add a test case, please.

[2016-02-15 12:13] UlfNorell commented on #1839
I don't know how to do that in the current test framework. To provoke the bug you need to first type check the file and then, in a separate call, compile it.

[2016-02-15 12:36] mechvel opened #1843 "internal error in compilation, src/full/Agda/TypeChecking/Reduce/Monad.hs:174"
Please, download the code from
http://www.botik.ru/pub/local/Mechveliani/agdaNotes/bugFeb14-2016.zip
(3 Kb).
This is on  Agda-2.5.0.20160213   (Agda 2.5.1 candidate),
ghc-7.10.2,  MAlonzo,  Debian Linux.

`> agda -c -i . -i $agdaStLib Main.agda`

reports

---

...
Compiling Structures1 in /home/mechvel/agda/tosave/bugs/feb14-2016/Structures1.agdai to
/home/mechvel/agda/tosave/bugs/feb14-2016/MAlon

[2016-02-15 12:36] asr commented on #1839
@phile314 could you help us here?

[2016-02-15 12:40] UlfNorell commented on #1843
This was already reported as #1839 and fixed by f575d9a.

[2016-02-15 12:40] #1843 closed, assigned to nobody

[2016-02-15 12:49] asr opened #1844 "Missing UHC-backend tests using the standard library"
We had a full MAlonzo test for the standard library (I couldn't find it) but it was disabled because it was too slow.

Right now, the compilers tests (UHC and MAlonzo) using the standard library are disabled for the same reason (test/Compiler/Tests.hs):

[code]

Since we have very good building times on Travis, we should at least to add the MAlonzo test for the standard library on Travis.

[2016-02-15 12:57] asr commented on #1843
Thanks for adding the `duplicate` label. I plan to add this label and remove the other labels on duplicate issues.

[2016-02-15 13:04] #1833 closed, assigned to UlfNorell

[2016-02-15 13:08] asr opened #1845 "Release Agda 2.5.1 release candidate 2"
I'm using this issue for keeping track of _some_ changes related to RC 2.

Last update: 2016-02-23
- Fixed regressions
  - #1770
  - #1839
  - #1847
- Incompatibilities
  - Addition of the Agda.Builtin modules
  - Fix of #1726
  - Fix of #1759

[2016-02-15 13:14] andreasabel commented on #1844
I strongly agree.

[2016-02-15 13:15] UlfNorell commented on #1844
They don't have to be that slow. If we could make sure to
- use the interface files created during library-test
- share the MAlonzo directory between the different tests

it shouldn't be too bad. On my machine it's 10s to read interfaces, 7s to generate Haskell code and another 1m20s to run ghc. I guess you'd need to not run the tests in parallel if they're sharing the Haskell code though, but on

[2016-02-15 13:17] mechvel commented on #1843
On Mon, 2016-02-15 at 04:40 -0800, Ulf Norell wrote:

What does this mean
f575d9a ?  where to find it ?

Does the to-day Development version fix this bug?

Regards,

---

Sergei

[2016-02-15 13:22] UlfNorell commented on #1843
It's a hash referring to a particular commit. You should be able to click on it if you view this issue on github. It is included in the current master branch.

[2016-02-15 13:23] #1804 closed, assigned to UlfNorell

[2016-02-15 13:44] phile314 commented on #1844
Yep, the main problem has been that all test cases compiled the stdlib from scratch.

The stdlib Haskell FFI code also needs to be fixed prior to re-enabling those tests: https://github.com/agda/agda/issues/1788 .

[2016-02-15 14:00] #1770 closed, assigned to nobody

[2016-02-15 14:06] #1842 closed, assigned to nobody

[2016-02-15 14:08] UlfNorell commented on #1743
This is not happening for 2.5.1.

[2016-02-15 14:52] asr opened #1846 "Remove MAlonzo pragmas from Primitive.agda"
I asked:

Ulf wrote:

[2016-02-15 15:10] #1846 closed, assigned to nobody

[2016-02-15 15:11] UlfNorell commented on #1846
Turns out you can't remove the `COMPILED_TYPE` or you can't map level polymorphic to Haskell functions.

[2016-02-15 15:28] asr commented on #1846
It almost seems that the issues are being fixed _before_ I report them... Great!

[2016-02-15 15:37] UlfNorell commented on #1839
My pruning of display forms was a little too aggressive, also removing display forms mentioning names from other modules. This I can make a test case for though...

[2016-02-15 15:41] asr commented on #1844
I'll add a test case for testing MAlonzo on all the standard library.

[2016-02-15 15:50] #1839 closed, assigned to nobody

[2016-02-15 19:43] UlfNorell commented on #1644
Closed by 6374fee. Now refuses to add the looping display form.

[2016-02-15 19:43] #1644 closed, assigned to nobody

[2016-02-15 19:54] DanBurton commented on #1840
When Agda is ready to be re-enabled, please also request that we re-enable agda-snippets, too. Thanks!

[2016-02-15 20:01] asr commented on #1840
OK.

[2016-02-15 23:47] asr commented on #1743
Let's see if this happens for 2.5.2.

[2016-02-16 05:48] UlfNorell opened #1847 "Instance parameters should not be turned into hidden parameters in record modules"
[code]

[2016-02-16 07:29] #1847 closed, assigned to nobody

[2016-02-16 10:05] nad opened #1848 "Unnamed variable missing from context"
[code]

This problem seems to go back at least to Agda 2.3.2. I've given this issue a high priority, because the inconsistent treatment of the different underscores suggests to me that something is broken.

[2016-02-16 10:10] nad commented on #1841
I think this rather annoying warning should only be included in 2.5.1, and then removed. Do you agree? In that case I don't see the point of including version numbers.

[2016-02-16 10:27] nad commented on #1830
What problem are you trying to solve? I suggest that you stick to single-line comments.

I occasionally use the `{- -}` comments to comment out a subexpression, but if it weren't for reasons of backwards compatibility, I wouldn't mind if we removed them entirely. As I see no reason to keep them other than backwards compatibility, I don't think we should change their meaning.

I don't think it is c

[2016-02-16 11:02] asr commented on #1775
Please ignore this comment.

[2016-02-16 11:40] asr commented on #1841
I disagree. A previous user could use Agda > 2.5.1 without using Agda 2.5.1.

[2016-02-16 11:43] asr commented on #1841
Only the version where the change was made it is necessary.

[2016-02-16 13:13] andreasabel commented on #1777
Ah, I think the last issue is a display-form problem!
TODO: In InternalToAbstract.hs, generalize this code:

[code]

to reification of display terms,

[code]

[code]

[2016-02-16 14:44] asr opened #1849 "Version number in the documentation"
In https://github.com/agda/agda/issues/1831#issuecomment-183365106 @phile314 wrote:

It isn't working. I created a Git tag for Agda 2.5.1 RC 1, so the stable documentation should show the version number 2.5.0.20160213, but the version number showed [here](http://readthedocs.org/projects/agda/downloads/pdf/stable/) is 2.5.0.

Note that in doc/user-manual/conf.py we have the version number hard-wire

[2016-02-16 14:53] #1777 closed, assigned to andreasabel

[2016-02-16 15:39] asr opened #1850 "Missing issue number in CHANGELOG"
The CHANGELOG for 2.5.1 says:

[code]

Which is the issue related to this fix?

[2016-02-16 16:18] asr opened #1851 "Amount of simplification/normalization of goals"
Reported by John Leon [here](http://thread.gmane.org/gmane.comp.lang.agda/8379):

[code]

Using `C-c C-,` in the first goal, master and 2.4.2.5 have different behaviours. In master the type of `a` is not normalised

[code]

but in 2.4.2.5 the type of `a` is full normalised

[code]

From the CHANGELOG for 2.4.0

[code]

the type of `a` should be not normalised in both master and 2.4.2.5.

Why the d

[2016-02-16 16:26] UlfNorell commented on #1838
I put all the builtins in `Agda.Builtin.*` (83b3922 and subsequent commits) and updated standard library and test suite. Working on fixing agda-prelude.

The problem with clashing module names still remains.

[2016-02-16 16:28] np commented on #1838
Should we have something such as PackageImports in GHC?

[2016-02-16 16:35] phile314 commented on #1849
I assume that the documentation always uses the version hard-wired in doc/user-manual/conf.py in the generated html pages/pdfs.

What surprises me more is that one cannot explicitly select version 2.5.0.20160213 on readthedocs (press on "v:latest" in bottom left corner to see the menu).  If you compare this with the Idris documentation, you can select all the different versions in Idris, e.g. http

[2016-02-16 18:11] UlfNorell commented on #1838
Fixed agda-prelude as well.

Package imports would be one way to go, but would require some design work (and implementation work). I still haven't given up hope on simply renaming the offending modules though. Currently the clashing modules are
- `Data.List`
- `Data.List.Properties`
- `Data.Nat.DivMod`
- `Data.Nat.GCD`
- `Data.Nat.Properties`
- `Data.Rational`

Does anyone have an alternative to `

[2016-02-16 19:36] nad commented on #1850
No issue number (AFAIK).

[2016-02-16 19:36] #1850 closed, assigned to nobody

[2016-02-16 19:42] nad commented on #1851
AFAIK the Emacs Lisp code is not tested (by `make test`).

I found one test of simplification, see `test/interaction/Long.in`.

[2016-02-16 19:45] nad commented on #1841
The warning is rather noisy, so I'd prefer to remove it as soon as possible. I guess it would be fine to keep it in bug-fix releases (Agda 2.5.1.x?).

[2016-02-16 19:48] asr opened #1852 "Broken type-checking of the standard library with Agda 2.5.1 RC 1"
After the addition of the new `Agda.Builtin.*` (see https://github.com/agda/agda/issues/1838#issuecomment-184754304) the master branch of the standard library doesn't type-check with Agda 2.5.1 RC 1.

I think the addition of  the `Agda.Builtin.*` was untimely because we are in a middle of a release process and we don't need additional problems (e.g. were the  `Agda.Builtin.\* tested with the UHC b

[2016-02-16 21:00] UlfNorell commented on #1852
We are releasing a second RC anyway aren't we? There's been quite a few fixes since RC 1.

[2016-02-16 21:11] np commented on #1838
I would say that more often than not we could simply remove the 'Data.' prefix.
However Nat and Rational could go under a Num or Numeric.

[2016-02-16 21:21] asr commented on #1852
RC 1 was released three days ago. I was waiting for additional feedback before taking a decision about release a second RC (see #1845).

[2016-02-16 21:42] UlfNorell commented on #1852
The `Agda.Builtin` stuff needs to go in the release, so I think it would be good if we released a candidate with it (and all the other changes).

[2016-02-16 21:46] UlfNorell commented on #1852
It would make sense to create a `2.5.0.20160213` tag in the standard library though, so we don't have to rush out RC 2. There are still some pending changes (like #1759) that would be good to include in the new candidate.

[2016-02-16 21:53] asr commented on #1852
OK. I'll release RC 2.

[2016-02-16 21:55] #1852 closed, assigned to nobody

[2016-02-16 21:59] asr opened #1853 "Missing documentation for the new Agda.Builtin modules in the user manual"
What the title says.

[2016-02-16 22:02] asr commented on #1852
I was writing the same...

[2016-02-16 23:22] asr opened #1854 "Broken UHC test-suite after the addition of the Agda.Builtin modules"
What the title says.

[2016-02-16 23:32] asr commented on #1475
Since it seems only @phile314 and me are testing the UHC back-end (please correct me if I'm wrong), I added the `2.5.1` milestone because we shouldn't release a new broken feature.

[2016-02-17 07:41] phile314 commented on #1854
I will take a look in the next few days.

[2016-02-17 07:45] phile314 commented on #1475
I assume you mean that #1854 shows that we really should run the UHC tests on travis?

I fully agree, but I'm rather busy right now so it probably will take some time. I don't think this will make it in time for the 2.5.1 release.

[2016-02-17 08:13] UlfNorell commented on #1838
How about
- `Numeric`
  - `Nat`
  - `Rational`
- `Container`
  - `List`
  - `Foldable`
  - `Traversable`
- `Structure`
  - `Monoid`
  - `Smashed`

and just leave `Data.TreeRep` in `Data`?

[2016-02-17 08:44] #1853 closed, assigned to nobody

[2016-02-17 10:32] UlfNorell commented on #1854
I managed to get a working uhc using clang. Fixing some stuff and filing issues for some others.

[2016-02-17 10:45] UlfNorell opened #1855 "UHC backend can't handle renamed identifiers"
The UHC backend uses concrete names when picking names in the compiled code. This breaks when you rename things. Example:

[code]

[code]

For reasons I don't understand, this only triggers with `--ignore-interfaces`. If you compile again everything is fine.

[2016-02-17 10:53] UlfNorell opened #1856 "UHC prints floats with too low precision"
[code]

With GHC backend: `1.414213562373095`
With UHC backend: `1.414214`

I guess this isn't super important, but it complicates testing since we assume identical output from GHC and UHC backends.

[2016-02-17 10:57] UlfNorell opened #1857 "Add UHC backend Unicode support"
[code]

Output: `BEFORE`

[2016-02-17 10:58] UlfNorell commented on #1854
Filed #1855, #1856, #1857. Only critical one is #1855.

[2016-02-17 11:13] #1854 closed, assigned to phile314

[2016-02-17 14:55] asr commented on #1475
Yes.

[2016-02-17 15:09] UlfNorell commented on #1475
At least I'm also running the UHC backend tests now, which should help a lot since I'm responsible for around 98% of breakage.

[2016-02-17 15:16] asr commented on #1475
Mmm... 98%? What am I missing? :-)

[2016-02-17 15:22] andreasabel commented on #1694
The linked docu page says: "If you absolutely positively want all the rest of the options in a command line to go to the program (and not the RTS), use a --RTS. "
So I am a bit puzzled by the implementation

[code]
1. Shouldn't that return the empty list instead?
2. Is it possible to test this in our current test framework?

[2016-02-17 15:25] UlfNorell commented on #1694
Oops you're right that it's wrong. It should be

[code]

I don't want to spend time testing this since it's a pointless flag to support.

[2016-02-17 15:29] andreasabel commented on #1841
I guess the non-controversial part is not to print

[code]

if there are no operators in use.
Maybe this part could be implemented and then bike-shed the rest of my request?

[2016-02-17 15:33] andreasabel commented on #1694
I meant `... = []`.

[2016-02-17 15:37] UlfNorell commented on #1694
Yes I understood that, but that would be wrong. All the options after `--RTS` should go to the program according to the documentation. Your version would throw them all away.

[2016-02-17 15:37] #1694 closed, assigned to nobody

[2016-02-17 15:57] andreasabel commented on #1694
Ah, my bad, I pasted the docu, but did not read it properly.  `--RTS` behaves very unlike other options, but makes sense.  Sorry.

[2016-02-17 17:29] #1841 closed, assigned to nobody

[2016-02-17 18:00] nad commented on #1851
By the way, I would assume that this has nothing to do with the Emacs Lisp code.

[2016-02-17 20:03] andreasabel commented on #1841
Thanks!

[2016-02-18 00:22] m0davis opened #1858 "[emacs] agda2-display-implicit-arguments should be sticky and invokable before a file is loaded"
agda2-display-implicit-arguments a.k.a. C-c C-x C-h defaults back to hiding implicit arguments whenever a file is loaded. Trying to turn this mode on before a file is loaded results in "Error: First load the file."

When debugging tactics, this is especially a problem because of a catch-22: an error may occur in a tactic and we would like to view the implicits in the error message, but we can't be

[2016-02-18 06:15] asr commented on #1857
This is an UHC issue (see https://github.com/UU-ComputerScience/uhc/issues/72).

[2016-02-18 08:01] #1838 closed, assigned to nobody

[2016-02-18 15:23] asr opened #1859 "Replace 'MAlonzo' by 'GHC backend' in the --help option"
[code]

[2016-02-18 15:47] #1859 closed, assigned to asr

[2016-02-18 15:50] phile314 commented on #1859
Looks like someone else is also reading the [Agda reddit](https://www.reddit.com/r/agda/comments/46dwg7/malonzo/) ;-)

Maybe add an entry to the changelog about the name change?

[2016-02-18 16:10] asr commented on #1859
It was a coincidence. BTW, Andreas wrote (private communication): "MAlonzo is the "Monadic Alonzo" as far as I know."

We are moving to rename 'MAlonzo' by 'GHC backend'. The entry in the CHANGELOG will be added after finishing  this renaming.

[2016-02-18 16:25] asr commented on #1859
I forgot to mention that I changed the 'MAlonzo' label by 'ghc-backend' in the bug tracker.

[2016-02-18 16:53] asr opened #1860 "Immediately stop the Travis build if cabal-install, Alex, Happy or some dependency fails to install"
From Travis semantics, the steps in the `install` section stop the build when they fail.

Right now the builds  `ghc-7.8.4-transformers-0.3.0.0`, `cpp` and `haddock` don't stop when  cabal-install, Alex or Happy fails to install.

[2016-02-18 17:06] asr commented on #1860
The above description is wrong, a right description is as follows:

Since the installation of cabal-install, Alex and Happy in the tests `ghc-7.8.4-transformers-0.3.0.0`, `cpp` and `haddock` are not in the Travis `install` section (there are in the Travis `script` section), these tests don't stop _immediately_ when there was a failure installing cabal-install, Alex or Happy.

[2016-02-18 17:36] asr commented on #1860
It is not possible to validate the `.travis.yml` file due to https://github.com/travis-ci/travis-ci/issues/3663#issuecomment-185823919.

[2016-02-18 20:31] phile314 commented on #1855
We should replace all renamed symbols by their original QName during the translation to Treeless.

[2016-02-18 20:44] phile314 commented on #1855
Related GHC backend problem: https://github.com/agda/agda/issues/728

[2016-02-18 21:08] UlfNorell commented on #1855
I'd rather not mess with the `QName`s during treeless translation. They make perfect sense as they are. The problem is the UHC backend relying on the concrete name instead of the `NameId`. If you really must have the concrete name it was defined as it would probably work to do

[code]

It would make most sense to put that at the point where you generate the name for the backend.

[2016-02-18 21:48] phile314 commented on #1855
Technically, I could also use the nameIds, but this leads to very cryptic code, see e.g. the MAlonzo generated code.

If I just put it in ToTreeless, all tests go through and renaming works in both the GHC/UHC backend. See https://github.com/phile314/agda/commit/e93c9a60d7c79723acf56252f92cee6c7283b9e7 . I don't care where this ends up in the Treeless pipeline, I could also add it as a final trans

[2016-02-19 12:10] phile314 commented on #1855
@UlfNorell Are you strongly against adding this to Treeless? I haven't yet pushed anything to the Agda repo, but I really think adding this is the right way of solving this issue once and for all.

[2016-02-19 12:22] andreasabel commented on #1858
Suggested workaround: How about adding

[code]

to the top of your file?  This is how I do it, I don't use C-c C-x C-h.

[2016-02-19 12:26] UlfNorell commented on #1855
I don't like it since it adds an extra invariant to Treeless (namely that the `nameConcrete` fields are consistent for all `QName`s). We would need to take care to maintain this when changing things around. To me it feels much more natural to add a function that gives you a stable name hint for a `QName`, and use that when generating the names. That way when you look at the name generation code it

[2016-02-19 14:22] nad commented on #1061
Andreas, do my latest changes fix your problems?

I think this commit should be tested under Aquamacs.

[2016-02-19 15:45] andreasabel commented on #1061
Works for me on emacs24, it seems.  Thanks!

[2016-02-19 15:52] andreasabel opened #1862 "Premature instantiation to size infinity"
@nad reports the following misbehavior of Agda:

[code]

Error:

[code]

(Works, e.g., if definitions of `s` and `r` are switched, even when `j` is not given.)

[2016-02-19 20:35] m0davis commented on #1858
@andreasabel Thanks, that works for me.

[2016-02-20 08:33] nad opened #1863 "Internal error in new pattern match unifier"
[code]

The code above triggers the following internal error (for d72b3cf90d12511bf830c4a2c6412fb7ae8a6423):

[code]

This is a regression. The problem seems to have been introduced with the new unifier (1b0a2d6a27fd1dc2f89b3c4a18100335ee037a31). However, for that commit Agda gives the following error message:

[code]

The internal error seems to occur starting with fe8fac46045493abd311764875ca281

[2016-02-20 09:52] jespercockx commented on #1863
Hm, the meta gets instantiated with `i (λ y → tt)`. That certainly shouldn't happen :) I'll look into it.

[2016-02-20 13:31] phile314 opened #1864 "Update to UHC 1.1.9.3"
@asr Should this go into 2.5.0 or not? I don't have a strong opinion on it, but I suggest to wait until after the 2.5.0 release.

[2016-02-20 14:31] #1855 closed, assigned to phile314

[2016-02-20 15:25] asr commented on #1864
Yes, please.

[2016-02-20 15:42] jespercockx commented on #1863
Fixed by https://github.com/agda/agda/commit/6990ced90dd4ddfcd23b4882da72c6eefa93a318

The problem turned out to be that metas that result from pruning depend on only a subset of the variables of the context they are defined in, yet calling `withMetaInfo` brings you in a context containing all of them. I fixed this by permuting the telescope according to the mvPermutation that I got from the meta.

[2016-02-20 15:42] #1863 closed, assigned to jespercockx

[2016-02-20 16:15] asr commented on #1799
I updated the OP.

[2016-02-21 06:56] #1860 closed, assigned to asr

[2016-02-21 06:59] asr commented on #1860
The same happens when installing the dependencies.

[2016-02-21 16:21] andreasabel commented on #1061
Actually, at a closer look, the current behavior is not right either.  If I have to choose, I want the previous behavior back; but maybe this can be fixed without the new undesired effect:
Now, if an AgdaInfo window is already defined in another frame, C-c C-l (or any other command) does not open an AgdaInfo window in the current frame anymore.
I only wanted to fix that Agda opens an AgdaInfo wind

[2016-02-21 16:26] andreasabel opened #1865 "Fill level metas during instance search"
[code]

[2016-02-21 19:28] #1862 closed, assigned to andreasabel

[2016-02-21 19:29] UlfNorell commented on #1865
I believe this would be safe from the looping problem you can get if instantiating unconstrained metas. Any instance that would lead to a loop should be rejected by the (as yet fictious) instance termination checker.

[2016-02-21 21:44] asr commented on #1849
I didn't change the version number in the `version` field of the conf.py file in the RC. This should explain the above problem.

[2016-02-21 21:49] #1849 closed, assigned to nobody

[2016-02-21 22:27] asr opened #1866 "__IMPOSSIBLE__ triggered in Syntax.Abstract.Name.toTopLevelModuleName"
[code]

[2016-02-21 23:40] asr commented on #1844
From the commit message of 96c196d5c978859fae7c16a3b22d3ce8a856bdd1:

@phile314 After reverting the above commit, I found that the disabled tests

[code]

are ignored, that is, `make compiler-tests` runs those tests. Is this problem the "unnecessary setup work" you are talking about?

[2016-02-22 03:33] asr commented on #1814
After ea1438139819fda6aced3ac8aa98f6687683563b I'm closing the issue.

If it is necessary to reopen the issue, please report the test-suite (succeed, fail, etc.) where the issue occurred again.

[2016-02-22 03:33] #1814 closed, assigned to asr

[2016-02-22 07:29] phile314 commented on #1844
I think the stdlib no longer requires any cabal ffi package to be installed, so this might be as easy as removing the ffi setup code from the tests. Will take a look.

[2016-02-22 07:41] UlfNorell commented on #1865
See also #1422.

[2016-02-22 07:47] UlfNorell commented on #1844
Yes, I removed the ffi package dependency.

[2016-02-22 07:48] #1865 closed, assigned to nobody

[2016-02-22 08:00] UlfNorell commented on #1851
What is the issue here? Is it deciding what the key bindings should be for 2.5.1? Right now in master:
- `(no modifier)`: simplification
- `C-u`: non-normalised
- `C-u C-u`: normalised

I don't have strong opinions on this, but personally I use normalised more than the other two.

[2016-02-22 08:23] UlfNorell commented on #1726
Here's an example showing that something is clearly not as it should be. The outer `f` gets applied to `u` in the module application, but the module `M` doesn't.

[code]

[2016-02-22 09:44] UlfNorell commented on #1726
@WolframKahl Can you check your code with this change?

This might break people's code so we need an RC2 for this one (#1845).

[2016-02-22 11:58] asr commented on #1799
I updated the OP.

[2016-02-22 12:24] asr commented on #1844
In addition to the current compilers tests (`simple`, `special` and `with-stdlib`), we could add a new `stdlib` test using the `AllStdLib.agda` file. In this case, the MAlonzo files could be generated in the `stdlib` directory and they could be used by the `with-stdlib` tests.

[2016-02-22 12:48] asr opened #1868 "Key bindings for simplification/normalization of goals"
In https://github.com/agda/agda/issues/1851#issuecomment-187061391 Ulf wrote:

Andrea Vezzosi wrote [here](http://thread.gmane.org/gmane.comp.lang.agda/8379/focus=8391):

I'm also agree with switching the default back to fully normalised.

[2016-02-22 12:50] asr commented on #1851
Why master and 2.4.2.5 have different behaviours if the change was introduced in 2.4.0.

[2016-02-22 12:54] asr commented on #1851
I filed #1868 for discussing about the key bindings.

[2016-02-22 12:56] UlfNorell commented on #1851
Is this important? Isn't the behaviour of master the intended one?

[2016-02-22 13:50] andreasabel opened #1869 "Termination checking fails with delay + extended lambda, but not with force"
[code]

Reports:

[code]

[2016-02-22 15:23] jespercockx commented on #1868
Personally, I'm in favor of keeping the current behavior: normalised only helps me very rarely, since it destroys all my carefully crafted layers of abstraction. I can understand that newcomers don't find this a big problem (since they don't have as many layers of abstraction) but for me, having the default behavior be normalization would discourage me from trying to build the abstractions in the

[2016-02-22 15:29] jmchapman commented on #1868
I like the current behaviour, normalized is sometimes slow and unreadable.

[2016-02-22 15:31] asr commented on #1761
I have a similar issue to the original one when using GHC 8.0.1 RC 2.

[2016-02-22 15:33] #1761 closed, assigned to phile314

[2016-02-22 15:36] WolframKahl commented on #1868
On Mon, Feb 22, 2016 at 07:29:03AM -0800, James Chapman wrote:

(can be several minutes in some of my theories)

[code]

(I've had over 120,000 lines there --- sometimes it is still
 useful and essential; for quick exploration I just use the
 double-click-for-matching-parentheses feature of Emacs
 to skip past irrelevant material (in the case of `(record { etc })`
   , click on the brace, not on t

[2016-02-22 15:42] asr commented on #1868
There are strong arguments for keeping the current behaviour, so I'm closing the issue.

[2016-02-22 15:42] #1868 closed, assigned to nobody

[2016-02-22 15:57] asr commented on #1868
@WolframKahl Please edit your [comment](https://github.com/agda/agda/issues/1868#issuecomment-187234011). The ellipsis on the gray box can be easily not taken into account.

[2016-02-22 16:01] asr commented on #1868
I agree. Please open a new issue related to this enhancement.

[2016-02-22 16:10] asr commented on #1851
At least we should know why the behaviour changed and to add a test case if possible.

Yes, it is.

[2016-02-22 16:16] asr commented on #1864
I could install UHC 1.1.9.3 without problems, so I'll make the update.

[2016-02-22 16:56] UlfNorell commented on #1864
I'm also running UHC 1.1.9.3.

[2016-02-22 17:02] asr commented on #1864
Great!

[2016-02-22 17:59] #1864 closed, assigned to asr

[2016-02-22 18:02] asr commented on #1864
It only was necessary to update the documentation. I kept the support for UHC 1.1.9.2 for testing purpose (e.g. performance testing).

[2016-02-22 18:18] UlfNorell commented on #745
Fixed by reconstructing constructor parameters before with-abstraction.

@WolframKahl: Can you check this on your code. There's a small but noticeable performance penalty for this fix on the standard library. Might be a lot worse for you.

Important for #1845.

[2016-02-22 18:26] WolframKahl commented on #1868
@asr I have no idea what is going on there, and why it does not even format mail quotations as it does for example in the original posting in this issue. I find nothing in the github MarkDown documentation that might explain that ellipsis: Where do I find that documented? Please feel free to fix it if you know how.

[2016-02-22 19:12] phile314 commented on #1866
I could reproduce this on Agda 4e80ae0812e0db1466f603df0e6e170a035777c0 using stdlib f05064fc8e4afd1373bf532fe074dfe8a706049e .

[2016-02-22 20:30] asr commented on #1868
The same here.

[2016-02-22 22:08] phile314 commented on #1844
Done for MAlonzo, blocked on https://github.com/agda/agda/issues/1866 for UHC.

[2016-02-23 03:03] WolframKahl commented on #1726
With Agda at  b0aaf8841badf5b843acba56582d6d53cb5ad083 pulled 2016-02-22,
compiled with ghc-7.10.3; with standard library pulled as sub-module at
f05064fc8e4afd1373bf532fe074dfe8a706049e

[code]

This happens already with the versions in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz .

I am not consciously doing anything about display forms.

[2016-02-23 03:52] WolframKahl commented on #745
A lot of my with-heavy code typechecked with 4ca0087feeee1e6d0bcba4a46e85f39c988f47ff, in 202 seconds, compared with 182 seconds for  4ca0087feeee1e6d0bcba4a46e85f39c988f47ff, but for being able to check everything I am blocked on #1726.

More detailed timing results, including `-v profile:7`, in the attached file.

[2016-02-22_Agda-2.4.3.22_ListSetMap_log.txt](https://github.com/agda/agda/files/1

[2016-02-23 05:55] UlfNorell opened #1870 "Recursive display form error without DISPLAY pragmas"
@WolframKahl reported in https://github.com/agda/agda/issues/1726#issuecomment-187497477:

With Agda at  b0aaf8841badf5b843acba56582d6d53cb5ad083 pulled 2016-02-22,
compiled with ghc-7.10.3; with standard library pulled as sub-module at
f05064fc8e4afd1373bf532fe074dfe8a706049e

[code]

This happens already with the versions in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz .

I am not co

[2016-02-23 05:56] UlfNorell commented on #1726
The display form error is from #1644 (6374fee). It should only trigger when you use explicit `DISPLAY` pragmas so that looks like a bug. I filed #1870.

[2016-02-23 07:05] UlfNorell commented on #745
Thanks for testing Wolfram. From the looks of things I think this fix is too expensive. I'll see about fixing it in a less principled, but more efficient way.

[2016-02-23 08:56] #1870 closed, assigned to UlfNorell

[2016-02-23 09:15] UlfNorell commented on #1726
@WolframKahl: fixed #1870.

[2016-02-23 10:04] UlfNorell commented on #745
I'm coming up empty on alternative fixes. A work-around might be to make one of the parameters to the inspect type an index.

[2016-02-23 10:19] UlfNorell commented on #892
Since I fixed #1726, the only remaining issue here is whether we should make

[code]

desugar to

[code]

The only reason for doing this would be to match the intuition that `module M' = M` is a no-op. I think this is a bad idea since it isn't a no-op. For instance,

[code]

There's also the already mentioned performance concerns, and the problem that the old behaviour would be impossible to expre

[2016-02-23 11:47] #1532 closed, assigned to nobody

[2016-02-23 12:18] asr commented on #1475
Travis doesn't support GHC 7.10.\* (#1502).  I removed the 2.5.1 milestone.

[2016-02-23 13:34] nad commented on #1851
I seem to get output like `const <something> <something else>` quite often now. I think the reason is often that `_×_` is defined in the following way: `A × B = Σ A (const B)`. Are you saying that this is intended?

[2016-02-23 14:12] UlfNorell commented on #1851
I don't know what simplification is doing and what its intended behaviour is. It wasn't clear to me from the OP that this issue is about what the simplifier is doing.

[2016-02-23 16:15] WolframKahl commented on #1726
With Agda at 221c621e54e8a3f59c4c0b9df80a088530aa7e50, with the standard library still at f05064fc8e4afd1373bf532fe074dfe8a706049e but type-checked again, again  in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz:

[code]

[2016-02-23 17:25] WolframKahl commented on #745
In my eyes, that slow-down as such is harmless ─ recent Agda releases were more likely to have speedups in at least that order of magnitude, and doing the right thing has priority.
(I would probably be more worried if it used 10% more heap... :wink: ).

Once my other code typechecks again, I will post numbers for that, too (assuming you re-introduce that fix) ─ AContext, for example, does not cont

[2016-02-23 17:46] WolframKahl opened #1871 "Add different normalisation variants to the goal type entries in the goal menu in Emacs"
For the purpose of discoverability of the prefixed key bindings `C-u C-u C-c C-,` and  `C-u C-u C-c C-.` it might be worth adding those variants directly to the goal menu in the Agda2 Emacs mode.

[2016-02-23 21:04] nad opened #1872 "Internal error in clause compiler"
[code]

Result:

[code]

@jespercockx, the offending patch seems to be 1b0a2d6a27fd1dc2f89b3c4a18100335ee037a31.

[2016-02-23 21:34] nad opened #1873 "Internal error related to display pragma"
[code]

Result:

[code]

[2016-02-23 22:55] nad commented on #1873
Bisection indicates that the bug was introduced by d186b58531780ecdad7f3fa289f5b48871abeff8. One of the parents of this merge commit is 35ab49f9ae2dd1908f829614d3ab9c607f47e0b1.

[2016-02-24 02:25] andreasabel commented on #1869
Reduced test case:

[code]

[2016-02-24 02:38] andreasabel commented on #1869
The size parameters in `aux` are `Masked` because they do not come from constructor or projection patterns.  Thus, `j < i` is not used.  The reason is that current Agda reduces `aux i s` to `\ j -> id j (...)` resulting in an infinite loop. See issue #1458.
The reduction behavior has to change to not reduce an underapplied definition if `Size<` arguments are missing.  Or, use `SizeLt`.  See propos

[2016-02-24 07:44] UlfNorell opened #1874 "Internal error: Section added twice with different telescope"
@WolframKahl reported in https://github.com/agda/agda/issues/1726#issuecomment-187768859:

With Agda at 221c621e54e8a3f59c4c0b9df80a088530aa7e50, with the standard library still at f05064fc8e4afd1373bf532fe074dfe8a706049e but type-checked again, again  in http://relmics.mcmaster.ca/RATH-Agda/AContext-2.1.tar.gz:

[code]

[2016-02-24 07:45] UlfNorell commented on #1726
I filed #1874.

[2016-02-24 08:46] UlfNorell commented on #1874
Minimal counterexample:

[code]

[2016-02-24 09:07] #1874 closed, assigned to nobody

[2016-02-24 09:13] UlfNorell commented on #745
I have an idea for a more efficient, but still correct fix. Stay tuned...

[2016-02-24 09:35] #1873 closed, assigned to nobody

[2016-02-24 10:16] UlfNorell commented on #1872
Slightly simplified

[code]

The coverage checker is generating a bad split tree:

[code]

After the first split on `refl` the index for the second pattern is 4, not 6.

[2016-02-24 11:00] UlfNorell commented on #1872
Or maybe the problem is that there's a missing split on `σ₂`... The patterns generated are

[code]

where the curlies indicate an implicit match. The problem might be that there's no record of the implicit match in the split tree, confusing the clause compiler.

[2016-02-24 12:34] jespercockx commented on #1872
This seems to be caused by the on-demand eta-expansion of flexible variables during unification: commenting out the etaExpandVarStrategy (line 440 in Unify.hs) makes the file typecheck. However, disabling this rule triggers Issue #473. The proper solution would be to make `compileClauses` aware of variables eta-expanded by the unifier somehow, but this could take some work.

[2016-02-24 13:26] UlfNorell commented on #1872
It feels like there ought to be something in the `SplitTree` marking the eta-expansion.

[2016-02-24 13:32] UlfNorell commented on #892
Closing. Reopen if you have objections.

[2016-02-24 16:15] asr opened #1875 "Agda Prelude"
Stephen Diehl wrote in [The Joy and Agony of Haskell in Production](http://www.stephendiehl.com/posts/production.html):

\begin{quote}

**Consider rolling an internal prelude**. As we’ve all learned the hard way, the Prelude is not your friend. The consensus historically has favored the “Small Prelude Assumption” which presupposes that tools get pushed out into third party modules, even the core t

[2016-02-24 16:45] nad commented on #1061
@andreasabel, is the new implementation more to your liking?

[2016-02-24 16:58] UlfNorell commented on #1875
We're not pretending that you will ever be able to compile Agda with UHC are we?

As to the actual proposal, I don't think it will save many lines of imports. Of 310 source modules only 40 have more than 10 non-Agda imports and 150 have less than 5. The most imports are 23 in `Agda.TypeChecking.Monad.Base`. It could still be worth it, I suppose, just to avoid `Control.Applicative` and `Data.Foldab

[2016-02-24 17:04] asr commented on #1875
No. I was thinking about that versions of UHC supports the UHC backend. Right now the backend supports UHC 1.1.9.2 and 1.1.9.3.

[2016-02-24 17:09] UlfNorell commented on #1875
Right, of course.

[2016-02-24 17:10] asr commented on #1875
I'm also counting various of the Agda.Util.Foo imports.

[2016-02-24 18:37] phile314 commented on #1875
The UHC backend shouldn't be relevant to this discussion. For the time being, we (officially) want to support only one UHC version, everything else is too much work.

The whole UHC backend cpp magic is only in ~1 file ( https://github.com/agda/agda/blob/master/src/full/Agda/Compiler/UHC/Bridge.hs ), so there should also be no cpp-related problems.

---

Simplifying our GHC compatibility related co

[2016-02-24 20:10] nad opened #1876 "Better documentation of DISPLAY"
I've received an error message referring to recursive display forms. This suggests to me that the thing on the right-hand side of a DISPLAY pragma can be subjected to further rewriting. Is this the case? Please make the documentation in the CHANGELOG more precise.

[2016-02-24 21:35] UlfNorell commented on #745
The fix in d93cba2 should be both correct and have very little performance impact.

[2016-02-24 21:38] andreasabel commented on #1875
In principle I like the idea to bundle common imports in a Prelude.  This would save us fiddling with the import statements a bit.  `Agda.TypeChecking.Monad` is such a prelude for the type checking modules.
On the downside, frequent changes to the Prelude would require frequent long compilation times.

[2016-02-24 21:41] UlfNorell commented on #1876
It'd take you five seconds to find out by trying it. Feel free to update the change log when you figure it out.

The recursive display form error is from #1644.

[2016-02-24 21:44] UlfNorell commented on #1875
Hopefully it would be reasonably stable after a short while of figuring out what should go in it.

[2016-02-25 02:36] WolframKahl commented on #745
Something changed: At 84a05643b97140cbe7a6728155b13c1a499efb34, with standard library as sub-module at dcc2ab74e066dc15cfcfcee3e93a474939ecba95, I get

[code]

for something that still worked with b0aaf8841badf5b843acba56582d6d53cb5ad083.

I couldn't even figure out which underscore this error message is referring to, so I just created a slice of the two top-level modules and packaged all dependen

[2016-02-25 08:32] UlfNorell commented on #745
I changed with-abstraction to be type-aware to fix the problem of abstracting over terms of the wrong type. The problem with that is that you have to be careful to keep all the types and contexts lined up. In this case we're abstracting over `inspect (f a) bs` after having first abstracted over `f a bs`, but we do this in the original context instead of the context abstracted over `f a bs`. I'll s

[2016-02-25 15:40] #745 closed, assigned to nobody

[2016-02-25 15:46] UlfNorell commented on #745
Here's a cut-down example:

[code]

It turned out that the aggressive with introduced in d8b1317 was playing fast and loose with the well-formedness of intermediate types and telescopes, so I had to revert that to make this work. The good thing about that is that it vastly simplified the with-machinery.

[2016-02-25 18:03] WolframKahl commented on #745
Just a quick heads-up for the speed: What I call Agda-2.4.3.24 (4a849c4404ef78a57bfebf75516b82e8ed8df59d) was actually faster on my with-heavy code than  4ca0087feeee1e6d0bcba4a46e85f39c988f47ff (even though it allocates a bit more and generates slightly larger .agdai files).

(These times are on a slower machine than those posted previously in this issue.)

[code]

Agda is busy typechecking more

[2016-02-25 19:45] andreasabel commented on #1820
I think the current behavior is due to the left-to-right name reification, combined with the fact that the internal order is different than the printed order due to the with-displayform.  Internally, the second clause probably looks:

[code]

and when reifying these name suggestions we get

[code]

which is then printed as

[code]

thanks to the with-displayform.

[code]

[2016-02-26 07:51] goerch opened #1877 "An internal error has occurred. Please report this as a bug."
Location of the error: src/full/Agda/TypeChecking/Monad/MetaVars.hs:81
[issue.agda.txt](https://github.com/agda/agda/files/147808/issue.agda.txt)

[2016-02-26 07:53] goerch commented on #1877
Tested with version 2.5.0. Worked in earlier versions.

[2016-02-26 07:54] goerch commented on #1877
Sorry, wrong button.

[2016-02-26 07:55] UlfNorell commented on #1877
Here's the test case for convenience

[code]

[2016-02-26 09:15] andreasabel commented on #1877
This checks fine on maint-2.4.

[2016-02-26 12:12] asr commented on #1877
With Agda 2.5.1 RC 1 I got the error:

[code]

[2016-02-26 12:20] #1877 closed, assigned to nobody

[2016-02-26 12:21] UlfNorell commented on #1877
Bug introduced by fix of #1865 (5aca8aa).

[2016-02-27 08:08] m0davis opened #1878 "agda2-show-context can misreport the type of variables brought into context by 'let'"
The type of `A≡A` (as reported by `agda2-show-context`) is incorrect in the hole of `baz`.

[code]

[2016-02-27 11:06] andreasabel commented on #1878
Seems like the fix for #1112 was not complete.  (See also #888 where this functionality was added.)

[2016-02-27 11:11] UlfNorell commented on #1878
Here's a simpler example:

[code]

The problem is that the code that adds the let bindings completely ignores the context in which they were defined. Fix incoming.

[2016-02-27 11:13] #1878 closed, assigned to nobody

[2016-02-27 11:36] andreasabel commented on #1878
Mmh, I am also fixing this...  Should have taken ownership.  Usually there was not such eagerness on bug fixing... :)
Ok, I can step back.  You fix with 'getOpen' seems to be more principled.

[2016-02-27 17:04] asr commented on #1851
What did you mean by 'OP'?

[2016-02-27 17:08] UlfNorell commented on #1851
OP is short for "original post" (or poster) and is commonly used in forums to refer to the first post in a thread.

[2016-02-27 17:40] asr commented on #1851
I'll write the test case...

[2016-02-27 17:58] phile314 opened #1879 "UHC backend generated code doesn't compile"
<pre>
[124/238] Compiling Core                 Agda.Relation.Binary.Product.Pointwise (Agda/Relation/Binary/Product/Pointwise.bcr)
Compilation error:
Grin to ByteCode
(Internal) GRIN ByteCode location names not in scope:
  Agda.Relation.Binary.Product.Pointwise.x134_@UNQ_@188_@FFE_@nl.uu.agda.fresh-local-name
</pre>

Using UHC 1.1.9.3
Agda: 0dcc5642027e2e1a2364231aaf2d1dac7b8060d6

[2016-02-27 18:10] #1866 closed, assigned to phile314

[2016-02-27 18:27] UlfNorell commented on #1879
Not the same problem as #1855?

[2016-02-27 18:38] phile314 commented on #1879
No,#1855 was an Agda UHC backend problem with module names. I'm not entirely sure yet, but it looks like this is a bug in UHC itself.

[2016-02-27 18:49] phile314 commented on #1879
Related UHC issue (but not necessarily root cause): https://github.com/UU-ComputerScience/uhc/issues/74

[2016-02-27 21:30] asr commented on #1879
Are you using `-O0` when calling `uhc`? I couldn't find it.

[2016-02-27 21:33] asr commented on #1844
Philipp fixed ~~#1866~~, blocked on #1879.

[2016-02-27 21:52] asr opened #1880 "test-suite fails on Cabal sandbox"
[code]

[2016-02-27 22:00] asr commented on #1880
If the sandbox uses for example the directory `dist/dist-sandbox-12345/`, the following command fails:

[code]

[2016-02-27 23:41] #1880 closed, assigned to asr

[2016-02-28 01:47] WolframKahl commented on #745
I have not encountered any trouble with 4a849c4404ef78a57bfebf75516b82e8ed8df59d (2016-02-25); speed-wise there are also no big changes compared with 4ca0087feeee1e6d0bcba4a46e85f39c988f47ff (2016-02-06). The `-v profile:7` output of the following runs is contained in the attached file.

[2016-02-25_Agda-2.4.3.24.log.txt](https://github.com/agda/agda/files/149695/2016-02-25_Agda-2.4.3.24.log.txt)

[2016-02-28 07:05] UlfNorell commented on #745
Excellent. Thanks for testing.

[2016-02-28 12:06] phile314 commented on #1879
I haven't pushed anything that uses -O0 when calling UHC, but I did make some experiments.

The error messages in https://github.com/UU-ComputerScience/uhc/issues/74 and in this issue are quite similar, so the two issues may or may not be related. But this is just a shot in the dark.

[2016-02-28 12:08] phile314 commented on #1857
UHC is not getting unicode support for the time being:

[2016-02-28 15:24] asr opened #1881 "Missing custom per-user file for setting the number of parallel tests"
The `--ghc-flag=-j3` option was introduced in 7f608f0.

It seems this option is unnecessary (is the option been ignored?). For example, in my four processors machine

[code]

running `make compiler-test` reports the following figures:

| `AGDA_TESTS_OPTIONS` value | Time compiling `AllStdLib` |
| --- | --- |
| `-i -j $(shell getconf _NPROCESSORS_ONLN)` (default) | 400s |
| `-i -j3` | 103s |
| `-i

[2016-02-28 15:57] phile314 commented on #1881
Note that the "-j" flag in AGDA_TESTS_OPTIONS specifies how many tests are run in parallel, whereas the "ghc -j" flag specifies if GHC should use parallel compilation for that specific test case.

AGDA_TESTS_OPTIONS influences all tests using the Haskell test runner (compiler, latex, fail, succeed).

Adding an optional file for custom per-user settings is fine with me, but we should provide some s

[2016-02-28 16:05] asr commented on #1881
Thanks for the explanation.

What about the half of `getconf _NPROCESSORS_ONLN`?

[2016-02-28 16:06] UlfNorell commented on #1881
Looking at the time reported by the test suite for individual tests is very misleading. For instance with `-j8` I get 5.7s reported for the first `MAlonzo/simple/Arith`, but with `-j1` it reports 1.4s.

On my machine (your mileage may vary of course) I get

| `-jN` | `--ghc-flag=-jM` | AllStdLib | Total |
| --- | --- | --- | --- |
| 8 | 3 | 2m6s | 2m35s |
| 8 | 1 | 1m30s | 2m59s |

As you can see

[2016-02-28 16:17] asr commented on #1881
It doesn't seem misleading. I got the following times for MAlonzo/simple/Arith:

| `-jN` | time |
| --- | --- |
| 4 | 4.01s |
| 3 | 2.08s |
| 2 | 1.84s |
| 1 | 1.77s |

[2016-02-28 16:29] UlfNorell commented on #1881
What I mean is that it's hard to tell what the actual runtime of the tests are from the individual reported numbers (as you can clearly see from the AllStdLib case). For instance given your table for Arith, which `N` would you say is best?

[2016-02-28 17:44] phile314 commented on #1881
Total running time != sum of runtime of each test. (except for -j1)

If you enable parallel test runs, the individual test cases tend to get slower, but as they are executed in parallel total running time of all tests often still gets better.

| -jN | time (compiler-test including UHC) |
| --- | --- |
| 1 | 13m19.701s |
| 4 | 4m22.433s |
| 6 | 4m13.189s |
| 7 | 2m57.451s |
| 8 | 2m55.975s |

I hav

[2016-02-28 19:50] asr commented on #1881
Thanks for the explanations.

After c563c54, we can use the `mk/parallel-tests.mk` file for setting the number of
parallel tests, e.g.

[code]

[2016-02-28 20:30] #1881 closed, assigned to asr

[2016-02-29 02:04] asr opened #1882 "Split the compiler tests"
@phile314 can we split the compilers by type (i.e. simple, special and with-stdlib) and backend (i.e. GHC and UHC)?

I don't want to wait for _all_ the tests when I'm testing a concrete type with a concrete backend.

[2016-02-29 05:53] UlfNorell commented on #1882
You can run specific tests with the `-p` option:

`make compiler-test AGDA_TESTS_OPTIONS="-p MAlonzo/simple"`

[2016-02-29 10:53] asr commented on #1882
Thanks!

[2016-02-29 10:53] #1882 closed, assigned to nobody

[2016-03-01 07:39] karljs opened #1883 "Emacs agda-mode graphical glitch on ⟫ character (double angle bracket)"
Using the ⟫ character (achievable with `\>>`) in an Agda file seems to cause some unusual highlighting bugs.  It appears with the colors inverted as if the cursor were on it and also causes curly braces to exhibit the same effect.

You can see what I mean in the following screenshot, showing some code I copied from an online discussion.

<img width="353" alt="screen shot 2016-02-29 at 23 31 54" sr

[2016-03-01 11:23] andreasabel commented on #1883
Cannot confirm this on my emacs.

[code]

Can you research which emacs version / fonts / operating systems this concerns?

[2016-03-02 01:46] cartazio opened #1884 "what is the format of the libraries and defaults files"
The new documentation doesn't seem to specify whether the defaults and libraries files have the same or different formats than the project level libraries files.

based on looking at the source code it looks like the libraries file is the absolute paths TO the root dir library files of a each respective library, at least if i'm reading the code in
https://github.com/agda/agda/blob/df96c95caf5831e0

[2016-03-02 01:54] cartazio commented on #1884
basic experimenting suggests

defaults file lists library names

libraries file lists absolute (after env var expansion) paths to those libraries

[2016-03-02 05:52] UlfNorell commented on #1884
From the [documentation](http://agda.readthedocs.org/en/latest/tools/package-system.html):

and

Do you have suggestions for making this more clear?

[2016-03-02 07:34] #1876 closed, assigned to nobody

[2016-03-02 10:03] #1759 closed, assigned to andreasabel

[2016-03-02 10:09] UlfNorell commented on #1759
@WolframKahl This fix might affect some of your code.

[code]

[2016-03-02 10:12] UlfNorell commented on #1759
cc #1845

[2016-03-02 11:38] #1541 closed, assigned to nobody

[2016-03-02 11:53] #994 closed, assigned to nobody

[2016-03-02 12:14] UlfNorell commented on #1851
I get the same behaviour in both master and `2.4.2.5`. Here's the stand-alone example I'm using:

[code]

Closing this tentatively. Please reopen if you have a self-contained test case where master and 2.4.2.5 differ.

[2016-03-02 12:34] UlfNorell commented on #1824
Closing this. There doesn't seem to be enough value to make up for the potential confusion.

[2016-03-02 12:34] #1824 closed, assigned to andreasabel

[2016-03-02 12:37] UlfNorell commented on #1061
Reopen if not.

[2016-03-02 12:37] #1061 closed, assigned to nobody

[2016-03-02 13:08] UlfNorell commented on #1608
I'm not sure I would consider any of the tests you disabled problematic. A bunch of them are using `._` which is deprecated in favour of `_` (and work if you replace `._` by `_`). The others all seem to be variants of dotting something in a with-clause that wasn't dotted in the parent:

[code]

I don't think it's unreasonable that this doesn't work. You might have expected the error

[code]

but I

[2016-03-02 13:14] UlfNorell commented on #326
Fixed a long time ago by c3aac2f.

[2016-03-02 13:14] #326 closed, assigned to nobody

[2016-03-02 15:21] #140 closed, assigned to nobody

[2016-03-02 15:26] #777 closed, assigned to nobody

[2016-03-02 15:35] UlfNorell commented on #79
Closing since no info in two years.

[2016-03-02 15:35] #79 closed, assigned to nobody

[2016-03-02 15:41] cartazio commented on #1884
Something like the following should in its own paragraph / subsection about
file format
Each line of the libraries file shall be the absolute file system path to
the root of a library
Each line of the defaults file shall be the name of a library resolvable
using the paths listed in the libraries file.

Possible with a two line example of each file.

I hope that helps!
It's an excitign and big impr

[2016-03-02 16:21] nad opened #1885 "Problem with NO_POSITIVITY_CHECK and mutual definition (new style)"
[code]

Result:

[code]

The CHANGELOG explains that the pragma should be present both before the declaration and the definition of `D`. Why? Ease of implementation? I suggest that we drop this requirement, it should suffice to write the pragma once.

I've labelled this as a bug, because the current error message is not very helpful.

[2016-03-02 16:51] cartazio commented on #1884
I'm happy to pr such an edit if that would help.

A lot of the work and ideas in Agda (and ghc )are guiding the engineering
for a now open source language I'm doing as part of work.  So the least I
can do is try to upstream improvements in small ways :)

On Wednesday, March 2, 2016, Carter Schonwald carter.schonwald@gmail.com
wrote:

[2016-03-02 16:52] UlfNorell commented on #1884
If you're up for it a PR would be great.

[2016-03-02 16:58] karljs commented on #1883
I can confirm that this is something peculiar to my setup or some packages.  I moved my `.emacs.d` directory and trimmed my config down so that only Agda is being loaded and it seems to be fine.

I will have to do a binary search of my config/packages to figure out what's causing this, but it's likely not a bug here.

[2016-03-02 16:58] #1883 closed, assigned to nobody

[2016-03-02 17:09] karljs commented on #1883
For anyone who might encounter this in the future, it seems to be caused by the rainbow-delimiters package.  The right double angle bracket is recognized as a mismatched closing delimiter, and so the inverted colors emphasize this.

I was eventually able to fix this by configuring Emacs' default syntax table to treat those characters as part of words rather than as matched delimiters.

[2016-03-02 17:57] nad opened #1886 "Second copies of telescopes not checked?"
The following code is accepted:

[code]

There are two problems here: The two telescopes don't match, and the code `Set Set` is not type-correct.

[2016-03-02 19:06] UlfNorell commented on #1886
I guess you don't mean `X /= Y`, but `Set /= Set Set`. The two options are
1. forbid typed parameters in data definitions
2. check that the two telescopes are equal

Option 2 would let you add the types as documentation closer to the constructors, but on the other hand we don't support that for function definitions, so I don't know.

[2016-03-02 19:12] UlfNorell commented on #96
An argument against the syntax extension is that I predict we would quickly get the feature request that you should be able to say

[code]

I don't think it's really that inconvenient to split it over two module statements.

[2016-03-03 11:47] asr opened #1887 "False positive and type-checking error: examples/lib/Test.agda"
The above module isn't being tested:

[code]

After renaming the `lib` rule to `library` (or adding a .`PHONY` target name) in Makefile, I got the following error:

[code]

[2016-03-03 12:15] asr commented on #1887
BTW, I don't know why I can _only_ reproduce this error when testing Agda with GHC 8.0.1 RC 2.

[2016-03-03 13:13] asr commented on #1887
It seems `examples/lib/Test.agda` hasn't been tested at least from 2010! I'm getting errors related to the fix 42de243.

[2016-03-03 13:28] nad commented on #1886
Both. The names of the parameters are significant (because we have named arguments), so they should be consistent.

I think that we should check that the telescopes match.

[2016-03-03 13:35] UlfNorell commented on #1886
The names would be taken from the type signature obviously. We don't require that names match in types and left-hand sides for functions. I suppose that would be more clear if we go for solution 1. Also I would like to allow (it isn't at the moment, I found out)

[code]

[2016-03-03 13:40] nad commented on #1886
OK.

If we change the syntax so that the telescope is only given once (Option 1), then the parameters might be bound very far from their use sites.

[2016-03-03 14:04] #1887 closed, assigned to asr

[2016-03-03 14:10] UlfNorell commented on #1886
Not at all. You would still need to give the parameters in the definition, just not the types. See the List example above where you need to give the `A` since it's explicit.

[2016-03-03 14:11] UlfNorell commented on #1886
Your example would be (with a constructor)

[code]

[2016-03-03 15:27] asr opened #1888 "The customised/* failing tests are not included in the Haskell test runner"
After changing `foo` by `bar` in test/Fail/customised/FFI.err, by running `make fail` I would expect an error message and  the message

[code]

However, the current behaviour is

[code]

that is, `agda-tests` didn't ask for accepting the new the golden value.

[2016-03-03 15:58] asr commented on #1885
Yes.

I agree.

[2016-03-03 16:18] phile314 commented on #1888
A few of the Fail tests are still defined using a Makefile, see https://github.com/agda/agda/blob/master/test/Fail/Makefile . To get consistent behaviour, this tests need to be ported to the Haskell test runner.

[2016-03-03 16:35] asr commented on #1888
You are right, of course.

[2016-03-03 18:15] WolframKahl opened #1889 "More details in “I'm not sure if there should be a case for the constructor” desired"
I am used to seeing the error message “I'm not sure if there should be a case for the constructor” as response to C-c C-c, but now I get it also for C- C-l, in the definition of a function taking two arguments of the same type, and with no information that would help me to find out which argument it refers to ─ I already have the constructor in question in both argument positions...

[2016-03-04 00:40] m0davis opened #1890 "quoting and unquoting do not agree on module parameters"
This is similar to issue #1833. The code below shows that one needs to know the current module context when defining a function that refers to the record `R`. When within the anonymous module, it needs to have no arguments, but outside, it needs the module's argument. I believe that the intended design is to define all functions in an empty context. I.e. `mac₁` should succeed in both cases.

[code