[2016-03-04 06:29] andreasabel opened #1891 "Can't split variable if clause has a where-block"
[code]

[2016-03-04 07:21] UlfNorell commented on #1891
Isn't that reasonable (although I guess the error could be better)? What should it do when there are multiple patterns?

[2016-03-04 18:27] m0davis opened #1892 "agda2-refine is broken"
[code]

my ~/.emacs

[code]

GNU Emacs 24.5.1
Linux, 4.3.3-gnu-1

I'm using the latest of agda/master and have run `agda-mode compile`.

[2016-03-04 18:36] UlfNorell commented on #1892
Most likely introduced by e9d338d, but I can't quite see how at the moment.

[2016-03-05 18:51] WolframKahl commented on #1759
@UlfNorell: Thanks! Indeed I somewhere had the comment

[code]

followed by re-defining those modules with implicit parameters ─ I don't have to jump through these hoops anymore, thank you!
(Since I had mostly avoided defining records inside parameterised modules for that reason, the changes required were limited to 64 modules, involving fewer than 20 record types.)

[2016-03-06 03:18] WolframKahl opened #1893 "agda-ghc-names does not pick up du* identifiers"
After a long hiatus, I tried profiling again, and discovered that, in the code generated by the GHC backend, there are now `du*` identifiers  which apparently typically are functions being passed only the relevant arguments by the corresponding `d*` identifiers.

@UlfNorell, is this correct? (Are they new?)

Do I need to know anything else to do the right thing in agda-ghc-names?

[2016-03-06 03:54] WolframKahl commented on #1893
Under the assumptions stated in the OP, this should be fixed by 8333bde4a4e8d0c9edeed692d52a8cda0107e56d.

[2016-03-06 05:54] andreasabel opened #1894 "Size< satisfaction not recognized with postulates"
[code]

Should pass but reports

[code]

Works if postulates are turned into module parameters.

[2016-03-06 05:55] andreasabel commented on #1883
Thanks for documenting your solution here!

[2016-03-06 08:14] UlfNorell commented on #1893
That's correct. They were introduced in 6c965ef.

[2016-03-06 16:15] #1893 closed, assigned to WolframKahl

[2016-03-06 16:39] WolframKahl opened #1895 "GHC backend: Automatically inline all projections?"
After learning about `{-# INLINE #-}` from the ChangeLog and seeing at the top of my profile output:

[code]

, I added `INLINE` pragmas in the standard library for `Data.Product.Σ.proj₂` and `Data.Product.Σ.proj₁`, and obtained a **16% speed-up.**

Close to the top of the list in my profiling output, there are quite a few more record fields ─ shouldn't they all be inlined automatically?

Summary

[2016-03-06 17:09] asr opened #1896 "Error and warning when generating the documentation"
[code]

[2016-03-06 17:11] asr opened #1897 "Missing Travis test for the documentation"

[2016-03-06 18:03] #1896 closed, assigned to asr

[2016-03-06 20:23] wenkokke commented on #1664
I suppose the easiest way to implement a feature such as this would be to expose something like `primQNamePrec` and `primQNameFixity`. Do you foresee any problems with such a solution?

[2016-03-06 23:38] WolframKahl opened #1898 "Agda stderr should be reported in Emacs"
There are two cases where I sorely miss Agda's `stderr` output when using the Emacs interface:
- When Agda crashes, I don't know whether it was a spurious segmentation fault (which I tend to get not too rarely, but not reproducibly), or because it ran out of heap.
- When Agda is unresponsive, I do not know whether it is actually doing work, or only garbage collecting. Since I included `-S` in the

[2016-03-07 02:45] #1897 closed, assigned to nobody

[2016-03-07 05:55] UlfNorell commented on #1664
I would probably go for

[code]

Having it in the TC monad rather than as a primitive means we don't have to worry about keeping the fixity information around at run-time.

[2016-03-08 09:18] andreasabel commented on #96
I guess the current syntax is not too verbose, so we can postpone this issue and such recursive import declarations until some screams again.

[2016-03-08 09:18] #96 closed, assigned to nobody

[2016-03-08 09:27] andreasabel commented on #1892
This bit me during my Agda tutorial at FLOPS, so I had to downgrade to 2.4.2.6 during the tutorial.

[2016-03-08 09:36] andreasabel commented on #1889
Could you give a test case?  Also, is this a regression w.r.t. 2.4.2?

[2016-03-08 09:38] andreasabel commented on #1891
Well, if there is not exactly one clause after splitting, it could still report a (better) error.  There is no need in reporting an error just because something **could** go wrong.

[2016-03-08 09:48] andreasabel commented on #1886
I think we wanted to allow the repetition of types in the second binding of parameters as option to document the types of parameters close to the constructors.  This should be legal:

[code]

But, of course, we should check that the types match (up to definitional equality).

[2016-03-08 15:40] WolframKahl commented on #1889
On Tue, Mar 08, 2016 at 01:36:01AM -0800, Andreas Abel wrote:

Not easily, since the case where I saw it depends on a ton of other stuff.

I'd be surprised --- this error message has always been too poor in the information it provided.

But I would only be able to test that if I could construct a test case outside of my developments, since I adapted to the fix of #1759, which makes my developments

[2016-03-08 23:48] m0davis commented on #1363
Here's another example of the same problem. Only `test-inside-M₁` fails.

[code]

[2016-03-09 06:37] UlfNorell commented on #1363
I haven't had time to look closer at this but I believe (correct me if I'm wrong) that you only get a problem when you use a macro inside the module where it is defined?

[2016-03-09 18:49] m0davis commented on #1363
Yeah, that's true. And that's a good point. Based on that, I'll look for a workaround to https://github.com/UlfNorell/agda-prelude/issues/28.

[2016-03-10 13:27] nad commented on #1872
Due to this bug some of my old code fails to type-check, so unless there is a simple workaround I really think it should be fixed before the next release.

[2016-03-10 13:37] nad commented on #1898
Is there some part of the stderr output that is not echoed to the *agda2* buffer?

The documentation of `agda2-output-filter` claims that 'All commands are echoed to the *agda2* buffer, with the exception of commands of the form "(agda2-highlight-... ...)"'. However, the documentation also states the following: 'This filter function assumes that every line contains either some kind of error messag

[2016-03-10 13:39] nad commented on #1895
I thought that GHC automatically inlines small, simple functions. Perhaps it would be worthwhile investigating why inlining is not happening automatically in this case.

[2016-03-10 17:32] jespercockx commented on #1872
I agree that this should be fixed before the next release, I'll see what I can do to get the extra record-splits in the splittree.

[2016-03-10 17:39] WolframKahl commented on #1898
Agda sends “Skipping ...” to stdout, not to stderr ─ I am actually not aware of anything sent to stderr by Agda itself: Even error messages go to stdout.

The output of +RTS -S -RTS goes to stderr, and is not visible anywhere in Emacs.

After a crash of the agda process, the error message for that crash is not visible anywhere in Emacs, while in a terminal I see, so far, either a segmantation faul

[2016-03-10 18:10] #1898 closed, assigned to nobody

[2016-03-10 18:10] nad commented on #1898
I realised now that, even though many _commands_ are echoed to the *agda2* buffer, this only applies to commands. I changed the code so that complete lines that are not recognised as commands are echoed (if the filter function is invoked).

[2016-03-10 19:53] nad commented on #1898
Note that if you mess with Agda's output, then strange things may happen. The Emacs command `start-process` merges stdout and stderr, so some commands from the backend may be garbled. (I have observed this with `-S`.)

[2016-03-10 19:55] nad commented on #1898
If you really want to use `-S`, then I suggest that you direct the output to a file (`-S<file>`).

[2016-03-10 22:51] WolframKahl commented on #1898
I had not been aware of the possibility to pass a file to `-S` ─ thank you!

(Now I need to keep two terminal windows in view while working with Agda interactively: One for htop, to see whether Agda is still busy, and one with `tail -f AgdaRTS.log` to see how busy Agda really is while htop shows it busy...)

[2016-03-11 13:11] nad opened #1899 "Positivity checker does not treat datatypes and record types in the same way"
I found the following line in one of the `Datatype` clauses in `Agda.TypeChecking.Positivity.computeOccurrences`:

[code]

Do we really need to perform full normalisation, rather than on-demand reduction? And why is there a special case for datatypes? We accept the following definition:

[code]

But not the following one:

[code]

(With `_^_` defined as in `Bush.agda`.)

[2016-03-11 13:30] nad opened #1900 "Compiler tests broken"
Some of the compiler tests have been broken (for me) for a while now. Have others also observed this? One example:

[code]

[2016-03-11 14:37] jespercockx commented on #1872
Fixed by https://github.com/agda/agda/commit/f895967e41aa01e194325a83a55fc3eb3f564875. In the future, I think it would be a good idea to have the SplitTree indices be relative to the clause telescope rather than the pattern, as this would prevent mistakes like this from happening in the first place.

[2016-03-11 14:37] #1872 closed, assigned to jespercockx

[2016-03-11 14:46] nad commented on #1872
Thanks, now my old code is accepted again.

[2016-03-11 23:32] nad opened #1901 "Replace OccursWhere?"
Andreas Nuyts [reported](http://thread.gmane.org/gmane.comp.lang.agda/8454) that Agda used lots of time and space to type-check some of his code.

I found a potential cause: For each occurrence of a variable or defined name in `coreAdjunction` (see Andreas' code), Agda generates information about where it occurs (using the `OccursWhere` type), and I don't think this occurrence information is share

[2016-03-12 02:28] WolframKahl opened #1902 "Consider command-line option for GHC backend to not generate unreachable catch-alls"
I just did an experiment, and removed the `_ -> MAlonzo.RTE.mazUnreachableError` catch-alls: The resulting executable allocates exactly the same number of bytes, but runs 5% to 7% faster.

[code]

[2016-03-12 07:55] nad commented on #1901
I made some commits related to this issue before opening the ticket:
- A potential minor optimisation, that I guess made more or less no impact: 63ca6c904d29b9534e6fa1d0cc97b745c59f3110.
- Documentation: 4a736cb4a18d6c31641dad985b457edd0f6e9e94, ad0cad8ad68bf92838d5c623364e4159d13a4345.
- Removed some potential sources of quadratic behaviour, added [test](https://github.com/agda/agda/blob/93b3c633

[2016-03-12 12:29] asr commented on #1900
No. Since Travis neither reports this problem I removed the 2.5.1 milestone.

[2016-03-12 17:59] cartazio opened #1903 "include spelling / scoping based suggestions when reporting a variable out of scope"
ran into this in my build of agda master, and its likely true of older agdas pre 2.5 rc too :)

it took me about 10 minutes to realize whats going on because i was bit tired and hit this yesterday evening (because the type error didn't do a "maybe you meant"), a mini example would be such as the following

[code]

the error I get is

[code]

and in the error handling code one could imagine instead

[2016-03-14 01:49] m0davis commented on #1890
To make the point a bit more clear, here's another example of the same problem. `trust-the-doppelganger` tries to define a function with a type copied from the current context and goal, using `trustMe` as a proof. In the case where the current context is partly from a parameterised module, the definition fails because `define` (wrongly) expects us to refer to types within the current module withou

[2016-03-14 01:52] m0davis commented on #1890
@UlfNorell I suspect this issue may have fallen between the cracks. Care to comment?

[2016-03-14 12:50] UlfNorell commented on #1890
I'm sorry, I'm a bit busy at the moment. How does this relate to #1363?

[2016-03-14 13:01] m0davis commented on #1890
Actually, it doesn't! I had (earlier) suspected that it did due to a similarity in problems related module parameters, but as [my latest example](https://github.com/agda/agda/issues/1890#issuecomment-196102513) shows, this issue is actually quite different from #1363. Importantly, this one is also tougher for me to work around than #1363.

[2016-03-14 21:05] #1502 closed, assigned to asr

[2016-03-15 03:34] andreasabel commented on #1903
+1.  At least looking for all qualified names that match the unqualified name would be something easy and systematic to do.

[2016-03-15 13:43] nad commented on #1900
For the test case mentioned above the problem is that the output lines are reordered. I have observed the same problem for two other test cases:

[code]

[code]

[2016-03-15 14:20] nad opened #1904 "Bad performance, related to ranges"
If we take [`Issue1108.agda`](https://github.com/agda/agda/blob/c47157ccffa5c5055395eb24eb58a6dfc71687f2/test/Succeed/Issue1108.agda) (see #1108), and replace the cons-list with a snoc-list, then scope-checking becomes _much_ slower (with my present setup):

[code]

Source code (for some reason `.agda` files can't be attached, and I don't want to attach a `.zip` file):

[code]

[2016-03-15 21:06] nad commented on #1900
I suspect that the problem was that hashcodes for `QName`s are not equal on 32-bit and 64-bit platforms.

[2016-03-15 21:53] nad commented on #1904
Time profiling indicates that a large fraction of the time (~30% with my present setup) is spent comparing positions in the definition of `fuseRanges` (in the local function `outputLeftPrefix`). I removed the call to `fuseRanges` from the `OpAppV` case of `unExprView` in the `IsExpr` instance for `Expr`, and then Agda was much quicker.

[2016-03-15 22:04] nad commented on #1904
Comparing positions involves comparing `Text` values (`Text` is used in `AbsolutePath`). In this case all `Text` values are equal, but AFAICT comparing a string with itself is linear in the length of the string (with `text-1.2.2.0`).

[2016-03-15 23:00] nad commented on #1904
The operator parser builds an expression tree. The expression type contains `Range`s, and `Range`s for a given node are constructed by using the ranges of one or more children, using `fuseRanges` to merge ranges. There are several problems:
- All `Position`s in a `Range` must come from the same file, but we still compare them. This is easy to fix for `fuseRanges`, but perhaps it would be better to

[2016-03-16 00:31] #1903 closed, assigned to nobody

[2016-03-16 00:33] UlfNorell commented on #1903
Lists things where the `editDistance` is less or equal to a third of the length (after stripping underscores and ignoring case).

[2016-03-16 02:29] cartazio opened #1905 "typo detection for left-hand sides and function definitions"
here are two (related) deliberate typos in the context of copattern matching where the isn't any helpful suggestion. This also happens when defining a function

a mini example for a  function

[code]

the error we get back is
`Missing definition for Myadd`

some more complicated but analogous examples in the realm of copattern matching are the following

[code]

in this case the error is

[code]

[2016-03-16 02:30] cartazio commented on #1903
just built master to try it out! Its pretty nice, many thanks

[2016-03-16 09:52] goerch opened #1906 "Possible performance problem"
Running the attached file with the definition

[code]

results in

Total                        34,211ms
Miscellaneous                    15ms
Parsing.Operators               156ms
Deserialization                   0ms
Scoping                          46ms
Scoping.InverseScopeLookup   18,657ms
Typing                        3,088ms
Typing.OccursCheck              468ms
Typing.CheckLHS

[2016-03-16 14:06] asr opened #1907 "The GHC-backend tests using the standard library are too slow"
The tests are slow because

@phile314 [wrote](https://github.com/agda/agda/issues/1844#issuecomment-184213128):

@ulf [wrote](https://github.com/agda/agda/issues/1844#issuecomment-184201386):

[2016-03-16 14:10] asr commented on #1844
I'm keeping this issue for the missing UHC-backend tests. For the performance of the GHC-backend tests I filed #1907.

[2016-03-16 14:52] asr opened #1908 "Travis is stopping the build when finding the first error in the `script` step"
From Travis [semantics](https://docs.travis-ci.com/user/customizing-the-build/) it shouldn't happen:

[2016-03-16 15:40] #1901 closed, assigned to nobody

[2016-03-16 16:47] #1908 closed, assigned to asr

[2016-03-16 16:56] nad commented on #1906
Here's a cut-down and modified version of your code:

[code]

If the line `open Setoid (⇔-setoid _)` is replaced by `open Setoid (⇔-setoid a)`, then the code type-checks quickly, with all three versions of `∨-cong`.

I'm not sure if this should be classified as a bug or not.

[2016-03-16 17:51] goerch commented on #1906
Cool!

Is there a way for me to see when it is useful to specify such (implicit) arguments?

[2016-03-17 05:32] m0davis opened #1909 "parameters are not dropped from reflected pattern lambda"
[code]

The `args` of the `pat-lam` behaves weirdly, being different when "read" (say, via `getClauses`) than "written" (say, via `unify`). When read, the `args` are a list of `var`s representing the current context, outermost first. However, when written, they must be `[]` (or else there are unsolved metas). The below code illustrates these points.

[code]
The results of showDefinition are below.

[2016-03-17 08:32] nad commented on #1906
In this case it is a bit tricky. The meta-variable is solved, but rather late, and I suspect it is this that leads to the poor performance.

In this case the `open` statement would be highlighted (typically in yellow) if you omitted, say, the right-hand side of `heyting-algebra`, the entire definition of `∨-cong`, and the right-hand side of `∧-cong`. If you included the right-hand side of `∧-cong`

[2016-03-17 14:28] banacorn commented on #1739
Accidentally stumbled upon this thread ... Hi, I'm the developer of [agda-mode](https://github.com/banacorn/agda-mode) for Atom.

Looks like this is a problem of agda-mode, not Agda.

The library management system in Agda 2.5 is different from the one in Agda 2.4, which would cause some trouble if you were using Agda 2.5 (fixed!)

But I can't seem to find the version of 2.4.3, did you mean 2.4.2.3

[2016-03-17 15:04] asr commented on #1739
@banacorn thanks for answering this issue. I suggest to add some information about the agda-mode for Atom in Agda's [README.md](https://github.com/agda/agda/blob/master/README.md) (via a pull request).

[2016-03-17 15:04] #1739 closed, assigned to nobody

[2016-03-17 19:46] nad commented on #1904
This has been implemented now. This solves the problem for the example above. The latter two points do not seem to be important for this particular example.

I realised that it is non-trivial to switch to "continuous ranges": syntax highlighting for mixfix operators makes use of the holes. I considered adding ranges to name parts, but this doesn't work for syntax coming from notations. @andreasabe

[2016-03-19 15:12] asr commented on #1851
This is a self-contained test case.

[code]

Let's see what `git bisect` says...

[2016-03-19 20:58] asr commented on #1851
Added `infixl 6 _+_` to the above example because it was required when running `git bisect`.

[2016-03-20 02:21] asr opened #1910 "Git and GitHub first commits are different"
Does anyone understand why the Git first commit

[code]

is different to the GitHub [first](https://github.com/agda/agda/commits/master?page=100) commit?

[2016-03-20 02:26] JasonGross commented on #1910
For whatever reason, GitHub decided to disable the "Older" button on that
page.  If you manually edit the URL to go to page 101, then you can keep
clicking older, and you get to the first commit on page 309
https://github.com/agda/agda/commits/master?page=309, which matches the
first git commit.  Maybe GitHub has a bug?

On Sat, Mar 19, 2016 at 10:21 PM Andrés Sicard-Ramírez <
notifications@github

[2016-03-20 02:31] JasonGross commented on #1910
This seems to be a GitHub bug, inasmuch as it's also disabled on page 100
(but not 101 nor 200 nor 10 nor 1000) for coq/coq and torvalds/linux
and mozilla/firefox-ios, to take a small sample.  I've contacted them about
it.

On Sat, Mar 19, 2016 at 10:25 PM Jason Gross jasongross9@gmail.com wrote:

[2016-03-20 02:35] asr commented on #1910
Thanks!

[2016-03-20 02:35] #1910 closed, assigned to nobody

[2016-03-20 02:47] asr commented on #1910
AFAIK, GitHub has no a bug tracker. For reporting issues I contact them and I file an issue in https://github.com/isaacs/github.

[2016-03-21 13:13] UlfNorell commented on #1900
The fix only applies to the GHC backend. The UHC tests (which are using the same golden value) fail with 91786c4.

[2016-03-21 16:09] asr commented on #1851
A simplified test-case by removing the dependency on `Agda.Primitive`:

[code]

[2016-03-21 18:16] asr commented on #1851
I added a [test case](https://github.com/agda/agda/commit/d76b3920f20624ee630f1a90ad69ce97d2a386db).

It seems that change was caused by 344296c.

For the record: I couldn't find the "bad commit" using `git bisect` because from the OP reported [here](http://thread.gmane.org/gmane.comp.lang.agda/8379) the change occurred between 2.5.0.20160213 (f8ee850) and 2.4.2.5 (75cb744), but the "bad commit" r

[2016-03-22 01:52] #1851 closed, assigned to asr

[2016-03-22 10:44] nad commented on #1900
Currently the UHC backend is not tested if you run `make install test`. In fact, I've never built the UHC backend (I tried once, but AFAIR the extra dependencies couldn't be built using the version of GHC that I was using). Perhaps the UHC backend should be enabled automatically for supported versions of GHC.

[2016-03-22 12:03] asr commented on #1900
I guess you meant UHC (instead of UHC backend). You can install UHC using GHC 7.10.*, see the instructions [here](http://agda.readthedocs.org/en/latest/tools/compilers.html#uhc-backend).

[2016-03-22 12:11] asr commented on #1900
`make test` tests the UHC backend only if UHC is installed.

If UHC is installed the `Makefile` automatically detects it for the supported versions of GHC, i.e. GHC 7.10.*.

[2016-03-22 13:35] asr opened #1912 "Wrong generated authors and contributors in the .pdf documentation"
The generated authors and contributors are wrong because there are missing '\\and's in `latex_documents` in the conf.py file.

Note that the issue cannot be tested with Sphinx 1.3.6 because https://github.com/sphinx-doc/sphinx/issues/404.

[2016-03-22 13:49] asr commented on #1912
What about to move the lists of authors and contributors to the [Overview](http://agda.readthedocs.org/en/latest/overview.html) section and use 'Agda Team' instead?

[2016-03-22 15:41] WolframKahl commented on #1857
On http://agda.readthedocs.org/en/latest/tools/compilers.html#uhc-backend it says:

[code]

However, there are no details here, either, and from the UHC github pages I also find no link to documentation.

What does “does not support Unicode strings” mean exactly? What is the specification of the UHC-Haskell datatypes `Char` and `String` that UHC implements?

[2016-03-22 18:48] phile314 commented on #1857
ASCII for sure, probably also 8bit encodings like ISO-8859-1.

To be perfectly clear, this only applies to string values, not to identifier/symbol names. Agda Unicode identifiers are supported.

[2016-03-22 18:58] phile314 commented on #1900
I guess having Travis test the UHC backend would have helped here as well ( #1475 ).

If I have some time to spare, I will try to take a look at all the UHC related bugs next week or so.

[2016-03-23 18:23] nad opened #1913 "Names that are not in scope can sometimes be candidates for instance resolution"
The following code type-checks:

[code]

Let's move `M` to a separate file:

[code]

The following code is rejected:

[code]

Error message:

[code]

Is this the intended behaviour? It seems reasonable to me to reject the second example, because `x` is not in scope. However, `x` is not in scope in the first example either.

The [instance argument documention](http://agda.readthedocs.org/en/latest/

[2016-03-23 20:49] nad opened #1914 "Agda claims that consistent constraints are inconsistent"
The following code is rejected by Agda:

[code]

Error message:

[code]

As far as I can tell these constraints are not inconsistent. Is the error message incorrect? Should the code be accepted?

[2016-03-23 21:14] UlfNorell commented on #1913
See some discussion in #1265. Your suggested reformulation of the documentation is not good since it suggests that lambda bound instances also need to be in scope, which absolutely must not be required.

[2016-03-23 22:21] #1900 closed, assigned to nobody

[2016-03-23 22:41] phile314 commented on #1879
When calling a UHC version with UU-ComputerScience/uhc#74 fixed and using -O0, compilation works and the produced binary executes successfully.

[2016-03-24 11:16] asr commented on #1475
#1502 was fixed, so the Travis builds include GHC 7.10.3.

I'll try to install UHC on Travis...

[2016-03-24 11:25] phile314 commented on #1475
You have to compile UHC itself (~250 modules), UHC-light (~250 modules), Agda (~300 modules). I would be surprised if this is feasible in the travis time limit, but it might be worth a try. Don't let me stop you in any case. There is also no binary UHC distribution, so there is no easy way out.

I also heard rumors that Rackspace and Microsoft Azure offer some free resources for open source projec

[2016-03-24 11:42] asr commented on #1475
The time limit of 120 min (I couldn't find a reference for this information) should be enough...

[2016-03-24 12:42] nad opened #1915 "Instance candidate pruning should perhaps be improved"
Consider the following code:

[code]

Instance resolution fails in the right-hand side of `x`. Candidates:

[code]

Why is `λ r₁ → R.is-pointed r₁ : (r₁ : R) → Pointed (R.A r₁)` a candidate? There are no instances of type `R`.

(I used the 2.5.1 milestone because instance fields are new in 2.5.1.)

[2016-03-24 19:13] nad opened #1916 "Lack of documentation of breaking change"
Consider the following code, which is accepted by Agda 2.4.2.5:

[code]

The current development version of Agda rejects this code, because instance resolution gives too many candidates:

[code]

I find it annoying that `bb` can be a candidate, because the types don't match. I guess this is related to the following comment due to @guillaumebrunerie (c84e4a3a2d861db7260e0fb05dc7c18d3cbd36b0) that I

[2016-03-24 19:27] nad commented on #1916
In fact, if `bb` is removed, then Agda still refuses to attempt to use `aa`:

[code]

The documentation states, incorrectly, that "If there is a single solution we use it to solve the goal".

[2016-03-24 19:40] nad commented on #1916
What could go wrong if `_X_5` were unified with `A`? I found some discussion in [[Agda] Recursive instance search](https://lists.chalmers.se/pipermail/agda/2014/006859.html) (sent by @guillaumebrunerie on 2014-07-11). This message includes the following comment:

There are no recursive instances in the code above, so I guess the comment above no longer applies.

[2016-03-24 20:34] asr commented on #1475
The time limit of 120 min was barely enough (the Travis build needed 106 min). Since the times of the Travis builds are variables and since #1844 hasn't been fixed (to compile the standard library with UHC will require more time), we need a precompiled version of UHC for adding the UHC backend tests to Travis.

[2016-03-24 20:47] asr commented on #1475
In addition, based on the last releases of GHC, I won't be surprised if the time required by GHC 8.0.1 is bigger.

[2016-03-25 08:35] nad commented on #1916
The special case was removed in b428d1db4464c3b42d265554112ea65f3c183fb5, without any explanation. I tried to re-enable the special case. Outcome:
- The code above is accepted, with or without `bb`.
- `Issue723.agda` and `NonRigidlyConstrained.agda` in `test/Fail` are accepted, all other test cases pass.
- The time required to check the code above with `bb` present and the body of `x` replaced by

[2016-03-25 16:17] UlfNorell commented on #1916
There are two reasons for the non-rigidly constrained check:
- non-termination and/or exponential behaviour for recursive instance search
- strange unintended solutions

An example of the second case is instantiating an unconstrained regular meta to `Nat` (say) just because the only visible instance of some class is for `Nat`.

[2016-03-27 13:54] asr opened #1918 "Remove --no-coverage-check option"
[code]

[2016-03-27 14:07] UlfNorell commented on #1918
Is there a good reason to keep `--no-coverage-check`, or can we just remove it?

[2016-03-27 15:35] asr commented on #1918
~~If you remove `--no-coverage-check` you get an error due to the missing pattern matching `id zero` in the definition  of `id`.~~

Edit (2016-03-28). After reread Ulf's comment and my answer, I don't know what I was thinking...

[2016-03-27 15:56] UlfNorell commented on #1918
Which is what you would expect. What I mean is, are there legitimate cases where `--no-coverage-check` makes sense? It's quite easy to emulate it with a catch-all and a postulate.

[2016-03-27 17:23] asr commented on #1918
Good question! I don't know any legitimate example.

[2016-03-27 18:12] halfaya opened #1919 "Type displayed in context is incorrect"
Using Agda  2.5.0.20160213 and agda-stdlib that goes with it (I'm not sure of the version, but just after 0.11 according to the CHANGELOG).  Consider the following example (sorry I don't know of a simpler one):

[code]

This code typechecks.  Now replace the "r" at the end of the line that starts "g : y ≡ a" with a ?, type C-c C-l, go to the hole and type C-c C-, .  The following goal and context

[2016-03-28 00:35] WolframKahl commented on #1919
In the goal and context display, the variables are somehow permuted (or possibly just a subset of the variables is shifted ─ I haven't tried yet to make sense of that). I only had far more complicated instances of that so far, and unfortunately no time to try to cut it down.

[2016-03-28 21:05] andreasabel opened #1920 "Bad error message for where-clause in hole"
Just getting a parse-error for filling this hole cost me quite some time:

[code]

The equation chain was actually longer, and I looked in the wrong spot for the error.  It took long shrinking until I realized that `where` cannot be written in holes.
A better error message would point me to the fact that `where` cannot be handled here.

[2016-03-28 21:18] andreasabel commented on #1918
Before Nisse @nad insisted to make this an internal error, there was an error like "Incomplete matching for function id" triggered by "id zero".  However, from our perspective in only arose for Agda bugs, as no one used `--no-coverage-check`.
I think  `--no-coverage-check` could go to the attic, but it might be worthwhile asking on the Agda list first.

[2016-03-28 21:26] #1920 closed, assigned to andreasabel

[2016-03-29 09:27] UlfNorell commented on #1280
We shouldn't reconstruct the constructor parameters when quoting. We drop them internally for a reason, and reconstructing them would lead to potentially massive reflected terms.

[2016-03-29 09:27] #1280 closed, assigned to nobody

[2016-03-29 09:53] UlfNorell commented on #1890
I can't reproduce the original issue. I get `mac₀` failing and `mac₁` succeeding (as expected) both inside and outside the module. There is a problem though, and it doesn't seem to have anything to do with `defineFun`: When quoting a term it includes the module parameters, but when unquoting it expects them to not be there. Simplified doppelganger example:

[code]

[2016-03-29 09:55] UlfNorell commented on #1890
Or even simpler

[code]

[2016-03-29 09:59] UlfNorell commented on #1890
Oh never mind, I can reproduce the original problem. I was looking at a modified version of the code... I think the problem is the same though.

[2016-03-29 10:33] andreasabel opened #1921 "(omega ≡ suc zero) !=< (omega ≅ suc zero)"
[code]

Giving `p` results in unhelpful error message

[code]

[2016-03-29 10:34] andreasabel commented on #1921
Bugger, my font is too small, or my eyes are too weak...

[2016-03-29 10:34] #1921 closed, assigned to andreasabel

[2016-03-29 11:43] asr commented on #1280
@UlfNorell I added the 2.5.1 milestone.

[2016-03-29 12:03] UlfNorell commented on #1890
Upon further review I believe the original example is working as intended. Inside the anonymous module you really are supposed to refer to `R` without the argument, as you do in normal code. Putting the macro and its use in different modules makes `mac₀` fail and `mac₁` pass as expected.

[2016-03-29 12:20] #1890 closed, assigned to UlfNorell

[2016-03-30 07:14] UlfNorell commented on #1916
The documentation is fine. It has a whole paragraph about this under [Instance resolution](http://agda.readthedocs.org/en/latest/language/instance-arguments.html#instance-resolution) (Verify the goal). Obviously the /single solution/ quote only applies if it is in fact a valid solution.

[2016-03-30 07:14] #1916 closed, assigned to nobody

[2016-03-30 07:15] UlfNorell commented on #1916
An instance of the problem (if not the original one) is in #1532.

[2016-03-30 07:33] UlfNorell commented on #1915
~~The problem is that `R.is-pointed` is a projection, which seems to confuse the instance machinery. Any other instance of type `(r : R) → Pointed (R.A r)` will get pruned as expected.~~

Edit: no that's not true. The problem seems to be that instance search never gets to try solving `_X : R` since it gives up on the type constraint `R.A _X == R.A r`.

[2016-03-30 08:41] #1915 closed, assigned to nobody

[2016-03-30 08:54] #1892 closed, assigned to nobody

[2016-03-30 09:13] #1265 closed, assigned to nobody

[2016-03-31 16:02] vlopezj commented on #1906
@nad and I have been looking at this during the past week.

 Here's an example that shares some performance characteristics with your example: [Issue_1906_branch.agda](https://gist.github.com/vlopezj/d3f51e5ba1941b527b801904eb271c9f).
The role of  `⊔` is taken by `xor`.

[code]

![graph](https://cloud.githubusercontent.com/assets/1593773/14181934/7123ec68-f769-11e5-8873-1315052d7a73.png)

For both

[2016-04-01 08:54] yoricksijsling opened #1922 "Type information about the argument is lost in a pattern-matching lambda"
This part works as expected:

[code]

But Agda is not able to infer the `1` in this case:

[code]

The problem gets worse when i add arguments to the `t2` function. This gives an error:

[code]

The interactive mode does tell me that (k : Fin 1) in the following case, it only goes wrong after the case split:

[code]

I'm using the latest development version of Agda, commit 33f5bbf.

[2016-04-02 10:27] andreasabel commented on #1906
Maybe we should never instantiateFull, but keep the meta-variables and their instantiations in the internal syntax. (Or only instantiate linearly used meta-variables.)  Meta-variables **are** a way of sharing terms.

[2016-04-04 13:50] asr commented on #1885
Thanks for fixing this issue. I'll modify the previous test cases and update the CHANGELOG and the documentation.

[2016-04-05 19:05] nad opened #1923 "Performance regression due to new inverse scope lookup machinery?"
The following code triggers a performance problem when `--caching` is used. The problem seems to be related to the new implementation of inverse scope lookup. I have not verified that this is actually a regression, but I was annoyed at how slow Agda was today, so I'm fairly sure that it is.

Consider the following two files:
- `A.agda`:

[code]
- `B.agda`:

[code]

With caching turned off:

[code]

[2016-04-05 19:38] nad commented on #1923
I realised now that I hadn't pulled all patches that @UlfNorell pushed today. It seems as if the problem, as reported above, has already been fixed. However, I have another test case for which reloading takes more time than loading. I plan to report on this later (or close the issue).

[2016-04-06 05:39] andreasabel commented on #1922
This type checks fine with Agda 2.4.2.6, but not with master.
@jespercockx: Could this be a problem of the new unifier?

[2016-04-06 05:43] andreasabel commented on #1922
Here is a standalone version of the test case:

[code]

[2016-04-06 08:15] nad commented on #1923
I've tweaked the example above. Now `A.agda` contains 500 definitions, and `B.agda` 50 (excluding `X`).

Profiling info when loading `B.agda` in Emacs, with highlighting turned off, caching turned on, and `A.agda` cached:

[code]

And when reloading:

[code]

[2016-04-06 08:38] nad commented on #1923
Heap profiling command:

[code]

Result:
![Heap profile](https://cloud.githubusercontent.com/assets/293222/14310529/8ee20e74-fbe2-11e5-9a06-b2ac607f91d2.png)
Note the spike related to `recomputeInverseScopeMaps`.

Time profiling command:

[code]

Result:

[code]

Some highlights from the detailed profiling info:

[code]

The time under `runInteraction` seems to relate mostly to parsing (Happy, not

[2016-04-06 09:02] UlfNorell commented on #1922
It does seem to be a problem with the new unifier and not related to pattern lambdas. Here's a variant:

[code]

It looks like the unifier is creating a dangling metavariable that's not connected to the other constraints.

[2016-04-06 09:11] UlfNorell commented on #1922
Fixed the problem with the dangling meta in 4d64b5e (but messed up the commit message). The `t3` problem still remains.

[2016-04-06 09:55] jespercockx commented on #1922
The unifier itself seems to be doing its job correctly, it just happens to get a unification problem with metas in it. It's possible that I introduced the problem when changing the LHS checker in order to make it work with the new unifier, however. Looking into it...

[2016-04-06 10:01] gallais commented on #1889
Potentially related: [PatternFail.agda.txt](https://github.com/agda/agda/files/206160/PatternFail.agda.txt)

[2016-04-06 11:28] UlfNorell commented on #1889
Here's `PatternFail.agda`:

[code]

[2016-04-06 11:39] nad opened #1924 "Normalise applications of qualified names, coming from modules that are not in scope, when printing?"
I debugged this issue together with @UlfNorell.

Consider the following four Agda files:

[code]

[code]

[code]

[code]

If the "working" variant is used, then the goal type given by Agda is `F B` (with or without normalisation/simplification). If the "broken" variant is used, then the goal type is `F (.C.M.B a)` if the goal is not normalised, and `F B` if it is. The reason for this discrepancy s

[2016-04-06 11:42] nad commented on #1923
@UlfNorell suggested that it might be useful to remove `billToPure [ Scoping , InverseScopeLookup ]` from `recomputeInverseScopeMaps`. However, this didn't seem to make much of a difference for the `-p` or `-hc` profiles.

[2016-04-06 11:50] nad commented on #1919
I get the following output (using more or less the most recent development version of Agda):

[code]

Perhaps the problem has already been fixed. I'm closing this issue, feel free to reopen it if you encounter a similar problem with a more recent version of Agda.

[2016-04-06 11:50] #1919 closed, assigned to nobody

[2016-04-06 12:48] jespercockx commented on #1922
Turned out the problem came from the new unifier after all: the new metas generated as constructor arguments were generated in the wrong context, causing them to depend on the wrong variables and causing all kinds of havoc. Should now be fixed by https://github.com/agda/agda/commit/1bde75fdf8e4f91ecf6f6257bbf777b216c55f68.

[2016-04-06 12:48] #1922 closed, assigned to jespercockx

[2016-04-06 12:51] UlfNorell commented on #1924
Fixed by 7816e21 (attributed commit to #721).

[2016-04-06 12:51] #1924 closed, assigned to nobody

[2016-04-06 13:00] andreasabel opened #1925 "Funny error context for C-c C-o (show module contents)"
[code]

`C-c C-o` gives error

[code]

I guess the `when checking...` is not accurate.

[2016-04-06 13:07] asr commented on #1885
Done. I'm closing the issue.

[2016-04-06 13:07] #1885 closed, assigned to asr

[2016-04-06 13:20] asr commented on #1918
No one requested the option, so I'll remove it.

[2016-04-06 13:22] nad commented on #1923
@UlfNorell and I looked further into this. Heap profiling suggested that the caching machinery retained a large part of the memory spike, and that most of that memory was void (the thunks were never forced). Furthermore almost all the memory occupied by `Map`s was void (and the inverse scope maps are `Map`s). It took a while for us to figure out what it was that forced the inverse scope maps: the

[2016-04-06 13:26] asr commented on #1923
@nad Why you didn't close the issue?

[2016-04-06 13:33] nad commented on #1923
I haven't pushed the commit yet.

[2016-04-06 13:33] asr commented on #1845
I think we can release RC 2. Any objection?

I would like release 2.5.1 before the next Agda meeting.

[2016-04-06 13:48] andreasabel commented on #1925
Fixed this to print "when retrieving the contents of a module" instead.

[2016-04-06 13:51] andreasabel opened #1926 "C-c C-o (show module content) should also work for records"
[code]

[2016-04-06 14:02] #1925 closed, assigned to andreasabel

[2016-04-06 14:08] asr commented on #1925
Thanks for adding the 2.5.1 milestone when closing the issue.

[2016-04-06 15:24] #1926 closed, assigned to andreasabel

[2016-04-06 16:32] nad commented on #1923
@UlfNorell, do we need to check equality of `ScopeInfo` fields when checking equality of abstract syntax `Expr`s and `Declaration`s? The caching machinery uses these equality tests, and in some cases it becomes considerably faster if the `ScopeInfo` equality test is replaced with `_ == _ = True`.

[2016-04-06 16:33] UlfNorell commented on #1845
Yes I agree. I don't think any of the still open issues tagged with 2.5.1 are super serious and we could very well bump them to the next release.

[2016-04-06 16:43] asr opened #1927 "Missing instance arguments tests"
The `Makefile` in the `examples` directory says:

[code]

We can test the missing examples in the `lib-succeed` (Successfull tests using the standard library) test. I'll test _all_ the instance arguments examples in `lib-succeed` for keeping the 14 examples together.

[2016-04-06 16:53] UlfNorell commented on #1923
I wouldn't expect us to need to check the scope--it's hard to see how the scope could be different if the abstract syntax is the same.

(cc @saizan)

[2016-04-06 17:00] asr commented on #1927
s/14/15

[2016-04-07 11:45] Saizan commented on #1923
If what's in the ScopeInfo is determined from the rest of the abstract syntax and imported modules then it should be fine to ignore.

It's also wasteful to keep it around in the log then. A further improvement might be to compute an hash of the relevant information in abstract syntax and store just that.

[2016-04-07 12:18] andreasabel commented on #1914
Because of this false claim of inconsistency, WW1 broke out.

[2016-04-07 12:20] andreasabel commented on #1914
The size constraint solver apparently messes up in the presence of pruned metas such as _i_42 (which are not applied to all variables in the context).  This happens probably when converting terms with metas into size expressions with size metas.  I need to investigate this!

[2016-04-07 13:17] nad commented on #1923
I would really like to drop the equality test for `ScopeInfo`, because IME this makes caching much more useful. However, your comments above suggest that you don't fully understand what's going on. Should we keep the test or remove it?

[2016-04-07 13:21] andreasabel commented on #1923
As far as I know, the Scope embedded in the abstract syntax is only used during type-checking.  It should be dropped as far as caching is concerned (also to avoid potential space leaks).
If I am not mistaken, the ScopeInfo should not matter for equality checking abstract syntax.

[2016-04-07 14:20] #1927 closed, assigned to asr

[2016-04-07 16:06] Saizan commented on #1923
This is how ScopeInfo's end up in the abstract syntax, during scope checking, and I would guess there's loads of them. That 's' comes from the type-checking state, so it's hard to figure out the data dependencies, we can only trust Ulf and Andreas.

Ultimately you can always retypecheck from scratch from time to time to make sure that caching didn't do the wrong thing.

[code]

[2016-04-07 17:16] UlfNorell commented on #1923
Since import directives are kept around in the abstract syntax I cannot think of any way of changing the scope that wouldn't also affect the abstract syntax.

[2016-04-07 17:35] asr commented on #1927
Great! Thanks!

[2016-04-07 18:46] nad commented on #1923
Now the `Eq` instances for `Expr` and `Declaration` no longer test equality of `ScopeInfo` fields.

@Saizan, you suggested that we should remove the `ScopeInfo` fields from the cache. I'm not certain that this is useful, but feel free to try.

I'm more interested in getting rid of the pink bump in the last graph above. The bump seems to be related to caching and highlighting. I'm reopening this is

[2016-04-07 21:17] #1918 closed, assigned to asr

[2016-04-08 00:54] WolframKahl opened #1928 "Observation: .agdai files recently became much bigger"
With very recent development versions, I see significantly larger `.agdai` files. I'd guess this is connected with some of the changes around #1923. `-v profile:7` information is attached:

[large_agdai_2016-04-07_AContext2_log.txt](https://github.com/agda/agda/files/209592/large_agdai_2016-04-07_AContext2_log.txt)

[code]

Agda-2.4.3.34 is d14b90b9d72a4fd8b340fc7c83c4b7de750877b6 pulled 2016-04-0

[2016-04-08 08:36] andreasabel commented on #1928
I guess we should understand why this happens before releasing it.

[2016-04-08 08:40] andreasabel commented on #1693
For backwards-compatibility, I'd prefer that agda2-include-dirs is transformed into -i... upon calls to agda (rather than removing this customization option).

[2016-04-08 08:52] UlfNorell commented on #1928
I've put two new things in interfaces recently:
- set of names in scope (e628420)
- display forms (24ed64c)

The former could reasonably easily be recomputed on reading an interface. The latter, not so much. If it's the display forms that are the problem it might be that I'm storing more of them that are strictly necessary.

[2016-04-08 10:30] banacorn commented on #1693
+1

[2016-04-08 12:21] WolframKahl commented on #1928
On Fri, Apr 08, 2016 at 01:52:01AM -0700, Ulf Norell wrote:

Are those before dead-code elimination? If yes, that would partially undo the good effects of dead-code elimination...
(Peak memory use also appears to increase as a consequence, and typechecking run-time, too.)

[2016-04-08 12:57] UlfNorell commented on #1928
If those sets really are only the names in scope, then they would not include dead code, but of course it might be that the interfaces contain more scope data than it should really need.

Did you check that it is the name sets that are the culprits?

[2016-04-08 13:33] WolframKahl commented on #1928
On Fri, Apr 08, 2016 at 05:57:16AM -0700, Ulf Norell wrote:

How do I inspect .agdai files?

[2016-04-08 14:05] andreasabel commented on #1928
That is a long standing issue, that we cannot easily see what really ends up in the agdai files.  However, you can run your tests with the additional `-v profile.serialize:20` flag and see which quantity increases from the older Agda version to the newer one.  Thanks!

[2016-04-08 14:06] andreasabel commented on #1693
Also, the current solution does not really work well if one alternates between agda-2.5.1 and agda-2.4.x and has a binding for agda2-include-dirs in the .emacs file.

[2016-04-08 14:10] WolframKahl commented on #1928
On Fri, Apr 08, 2016 at 07:05:05AM -0700, Andreas Abel wrote:

Try to have somebody hack on that at AIM!  :wink:

I'll try.

Wolfram

[2016-04-08 14:23] WolframKahl commented on #1693
As long as I routinely work with multiple Agda installations, anything that uses a single global configuration file with hard-coded paths does not work for me.

In each of my Agda installations (`/usr/local/packages/Agda-2.X.Y.Z`) I generate a `bin/agdalib` that just `echo`s the path to the standard library, so that at least on the command-line, the complete Agda configuration is covered by the cu

[2016-04-08 14:37] UlfNorell commented on #1928
Oh.. I was thinking you would just try the two commits I gave above to see where the problem was introduced. The display forms were added after the scope stuff.

[2016-04-08 15:16] UlfNorell commented on #1693
Ignoring agda-2.4.*, one idea might be to allow version suffixes on the libraries file. So if you have `~/.agda/libraries-2.5.1` it's preferred over `~/.agda/libraries` by Agda-2.5.1 and ignored by other versions.

[2016-04-08 15:18] UlfNorell commented on #1693
I guess for this to work with different versions of the development version we'd need an easy way to add a version suffix when building.

[2016-04-08 15:39] WolframKahl commented on #1693
On Fri, Apr 08, 2016 at 08:19:00AM -0700, Ulf Norell wrote:

I am changing 2.5.0 to, e.g., 2.4.3.34 in two places in Agda.cabal and in one place in agda/src/data/emacs-mode/agda2-mode.el .

[2016-04-08 16:19] andreasabel commented on #300
Unfixing this to fix #1914, which is a more natural use of sizes than this one.
The solution implemented for this one is not very proper anyhow.

[2016-04-08 16:27] #1914 closed, assigned to andreasabel

[2016-04-08 16:37] WolframKahl commented on #1928
`-v profile.serialize:20` had significant allocation and time costs, but apparently did not produce any additional information. Almost the whole time difference seems to be accounted for just in `Serialization`.  I'll probably try those two commits tonight.

With Agda-2.4.3.34:

[code]

[2016-04-08 16:41] andreasabel commented on #1928
Ah, sorry, this option only collects the additional information, but does not output it. Haha!
`-v profile:20` should work. Mea culpa.

[2016-04-08 16:42] andreasabel commented on #1928
You should get something like

[code]

[2016-04-08 17:38] asr commented on #1928
FWIW, you can use `-v main:50` which prints the .agdai file.

[2016-04-08 17:43] WolframKahl commented on #1928
Does `-v main:50` print only the last .agdai file, or all those checked in the current run? (The latter compress to 50MB in the example here...)

[2016-04-08 17:47] asr commented on #1928
Only the last .agdai file.

[2016-04-08 20:48] WolframKahl commented on #1928
Now I ran `-v profile:20 -v profile.serialize:20` also with Agda-2.4.3.32; the two log files are attached. The most blatant differences, from a quick look with `kompare`, are:

[code]

[2016-04-08-AContext2-Agda-2.4.3.32_profile.serialize.log.txt](https://github.com/agda/agda/files/210829/2016-04-08-AContext2-Agda-2.4.3.32_profile.serialize.log.txt)
[2016-04-08-AContext2-Agda-2.4.3.34_profile.seri

[2016-04-09 18:07] WolframKahl commented on #1928
That change made .agdai files only a little bit larger, but seems to have had a beneficial effect on run time: Added a `e628420` line to the summary:

[code]

[2016-04-11 03:48] asr commented on #1845
Blocked on #1928.

[2016-04-12 07:37] #1928 closed, assigned to nobody

[2016-04-12 07:40] UlfNorell commented on #1928
I did some pruning of exported display forms that should fix the problem. On the standard library the interface files went from 5% bigger than before 24ed64c to 0.2% bigger.

[2016-04-12 07:45] UlfNorell opened #1929 "Memory issue with caching and highlighting"
Discovered during debugging of #1923. Heap profile with a suspicious pink bump:

![Heap profile](https://cloud.githubusercontent.com/assets/293222/14317565/1f8ee084-fc09-11e5-9725-906b82ea5843.png)

[2016-04-12 07:45] UlfNorell commented on #1923
Opened new issue for the highlighting memory issue (#1929)

[2016-04-12 07:45] #1923 closed, assigned to nobody

[2016-04-12 08:38] UlfNorell commented on #1693
Now `.agda/libraries-VERSION` is picked over `.agda/libraries`. Hopefully this will let you get rid of your `agda-lib` script @WolframKahl.

[2016-04-12 08:46] UlfNorell commented on #1693
I'm not sure that transforming `include-dirs` to `-i` options is a good idea. There's enough difference between `2.5.1` and `2.4.*` that old libraries (which are what you would have in your include dirs) likely won't work with `2.5.1`.

As far as I can see, the only thing this will do is not give people an incentive to switch to the library system. What is your use case?

[2016-04-12 13:36] andreasabel commented on #1889
@jespercockx The problem seems to be that `ri` (`r` resp.) is not eta-expanded in the unifier.  Can the new unifier be improved (easily) to handle this?  (I somehow remember doing these eta-expansions was part of the new features of the unifier).

[2016-04-12 13:57] andreasabel commented on #1899
The collection of occurrences runs in the `OccM` monad which does not reduce/normalize.  I guess there is a special case for data types since this example came up in practice.  I agree that the version with records should be accepted as well, and the use of normalization/reduction should be more principled.

Here is an example that exploits that the positivity analysis does not normalize function

[2016-04-12 13:59] andreasabel commented on #1909
`pat-lam` does not follow the standard naming convention used in Agda (which is camlCase), so please rename to `patLam`.

[2016-04-12 14:55] UlfNorell commented on #1909
Actually the correct naming convention is camelCase for functions and snake-case (but with dash instead of `_`) for constructors.

[2016-04-12 15:00] WolframKahl commented on #1928
For my example, the effect has disappeared, too: Summary with new last line for 7ba987b9870173a6a362b59fa6488222239a4eb7:

[code]

Thank you!

[2016-04-12 15:14] jespercockx commented on #1889
Strange, I don't have any problem case splitting on k on my computer with the latest master (7ba987b9870173a6a362b59fa6488222239a4eb7). Eta-expansion of the first visible argument happens automatically in both cases:

[code]

[2016-04-12 16:33] andreasabel opened #1930 "Declared syntax should be handled as importable name"
Why do not we treat `syntax`-declared names like other names?
Then we could use the syntax facility e.g. to define

[code]

and get Agda to fold back `zipWith _,_` to `zip` during printing, if `zip` is in scope.

[2016-04-12 17:08] UlfNorell commented on #1930
Short answer: because syntax declarations do not declare any names.

I'm confused about what you're asking for here. Certainly using the syntax declarations when printing is something we should fix (can't find an issue for it though). That wouldn't require syntax declarations to introduce new names though.

I suppose we could make

[code]

introduce a new name `_foo_bla_` (although there might be

[2016-04-12 18:28] andreasabel commented on #1930
Maybe I am on the wrong track here.  Maybe we get what I want with display forms.  For each declaration without pattern matching which is just a specialist call to another function,

[code]

we introduce a displayform

[code]

(and make sure we do not loop! :D).

[2016-04-12 18:40] asr commented on #1845
Starting...

[2016-04-12 20:36] nad opened #1931 "Just the usual lack of subject reduction?"
Consider the following code:

[code]

(The example is partly based on some code that I wrote together with Thorsten Altenkirch, but it has been shrunk and obfuscated.)

The code is rejected with the following error message:

[code]

However, if the hole above is instantiated with the expression contained in it, then the code is accepted. The code is also accepted if the third argument to `g` is re

[2016-04-12 20:49] asr commented on #1845
I have tested the installation of the second RC [Agda-2.5.0.20160412.tar.gz](http://www1.eafit.edu.co/asr/tmp/Agda-2.5.0.20160412.tar.gz) in Ubuntu 12.04.5 64-bits with:
- GHC 7.6.3, 7.8.4 and 7.10.3, and
- GHC 7.10.3 and the `uhc` flag

Could someone test the installation of the second RC on Windows and/or Mac OS using the following instructions:

[code]

If you have Mac OS and GHC 7.10.*, please

[2016-04-13 00:46] halfaya commented on #1919
I just downloaded the latest development version and tried it out--it does work now.  Thank you very much.

[2016-04-13 05:16] UlfNorell commented on #1845
- [x] Windows 8.1, ghc-7.10.3
- [x] Mac OS X 10.10, ghc-7.10.3
- [x] Mac OS X 10.10, ghc-7.10.3 -f uhc

[2016-04-13 05:48] UlfNorell commented on #1845
All good.

[2016-04-13 12:50] asr commented on #1726
I couldn't find any related information to the fix of this issue in CHANGELOG. @UlfNorell could you add the missing information, please.

Blocking #1845.

[2016-04-13 13:15] andreasabel opened #1932 "Display forms are not used for patterns"
[code]

[2016-04-13 13:16] asr commented on #1918
Relevant for #1845.

[2016-04-13 14:08] UlfNorell commented on #1726
I'm not sure what you want me to write. Despite what the title previously said this was just a simple bug fix. We're not documenting every single bug fix in the CHANGELOG are we?

[2016-04-13 14:15] andreasabel commented on #1932
@UlfNorell Fixing unSpine helped because now the display form is generated, but it is not used on lhss.  Please have a look at `InternalToAbstract`.  When I added copatterns, I did not really know what to do with `okDisplayForm` and friends since I do not know their semantics (see my rfcs there).  I suspect `reifyDisplayFormP` does not actually do anything sensible for copatterns since I just rand

[2016-04-13 14:20] asr commented on #1726
No. I thought it was a regression, sorry.

[2016-04-13 14:20] #1726 closed, assigned to nobody

[2016-04-13 15:35] asr commented on #1845
Done.

[2016-04-13 15:35] #1845 closed, assigned to asr

[2016-04-13 16:31] asr opened #1933 "Release Agda 2.5.1"
I just realised that  [AIM XXIII](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.AIMXXIII) will start on 20 April (I thought it would start on 26 April), so if we want to release 2.5.1 before AIM XXIII  we don't have much time available.

Do we need to rush for releasing 2.5.1? What do you think?

What about the regressions labelled with the 2.5.1 milestone, i.e. #1523, #1775 and #1821?

[2016-04-13 16:44] jespercockx commented on #1933
I'm quite certain I won't be able to fix #1775 before the start of AIM next week. I have some ideas on how to fix it, but they require a non-trivial amount of implementation. Maybe during or after AIM I'll fix it.

[2016-04-14 04:54] UlfNorell commented on #1933
In my opinion none of those issues are release blocking. I think it would be good if we could get the release out, but of course if people find new problems with the release candidate that's not going to happen. At the very least I think it's important to have the new maintenance branch structure set up before the meeting.

[2016-04-14 12:41] asr commented on #1933
Thanks for the feedback. It is perfectly understandable.

[2016-04-14 12:46] asr commented on #1933
I changed the milestone of #1775 to 2.5.2.

@andreasabel what about #1523 and #1821?

I absolutely agree.

[2016-04-14 13:26] WolframKahl commented on #1933
FWIW, I encountered no problems when doing my routine measurements on essentially all my active material with 7ba987b9870173a6a362b59fa6488222239a4eb7, which, according to `git log`, is for my purposes identical with 2.5.1-rc2 (so that I don't bother to install the latter).

[2016-04-14 13:36] asr commented on #1933
Great! Thanks!

[2016-04-14 15:16] WolframKahl commented on #1895
Some time ago, I did some experiments: After some exploration, I arrived at the following patch:

[code]

The result is that the generated Haskell code explodes, with code of the following pattern (simplified for readability):

[code]

(With default cases and `coe` calls liberally sprinkled in-between.)

I thought about adding a “case folding” pass to `ToTreeless`, but that would still generate th

[2016-04-14 15:30] UlfNorell commented on #1895
I thought there was a pass in the treeless compiler that would get rid of repeated cases, but of course that still would have the problem with the huge intermediate terms. This might make a nice code sprint for next week.

[2016-04-14 16:27] asr commented on #1362
I modified the example for type-checking with master. Is the current error reported a bug?

[code]

[2016-04-14 17:00] phile314 commented on #1895
Another option would be to not inline projection functions in ToTreless itself, but to add an additional pass inlining projection functions and making sure that we generate only one case expression per scrutinee (like wolfram outlined above).

@UlfNorell I also thought there is such a pass. Maybe it only works on consecutive cases?

[2016-04-14 17:32] andreasabel commented on #1933
I am mostly done fixing #1821.  I pushed a patch, but need to add the test case etc.
This is to say please do not release without this fix.  Thanks!

[2016-04-14 18:07] UlfNorell commented on #1362
Looks reasonable to me. Maybe it would be clearer if it has said `quote M₂.D != quote M₁.D`, but I guess that's not what this issue is about.

[2016-04-14 20:48] #1821 closed, assigned to andreasabel

[2016-04-14 20:53] andreasabel commented on #1933
I am done with the work on #1821 and removed the milestone for #1523.  From my perspective, we can release.

[2016-04-14 22:07] asr commented on #1933
Great! Thanks!

[2016-04-14 22:30] asr commented on #1844
I changed the milestone to 2.5.2.

[2016-04-14 22:31] asr commented on #1879
I changed the milestone to 2.5.2.

[2016-04-14 22:38] asr commented on #1362
I added a test case. I'm closing the issue. Please reopen if necessary.

[2016-04-14 22:38] #1362 closed, assigned to nobody

[2016-04-15 12:23] UlfNorell commented on #1932
`okDisplayForm` was added in 2008, bear with me while I try to figure out what I meant for it to do...

[2016-04-15 12:54] UlfNorell commented on #1932
As far as I understand `okDisplayForm` is meant to weed out display forms that don't make sense as left-hand sides. For instance, having arguments that are function applications rather than constructor applications. Not sure that this ever kicks in though.

The problem rather seems to be that we don't look at display forms for the patterns (co or otherwise) of a left-hand side. This should happen

[2016-04-15 16:17] WolframKahl commented on #1895
For illustration, here is an example of what came out with that patch (I switched Haskell pretty-printing to PPInLine to avoid megabytes of spaces, and then manually indented):

[code]

This contains 15 `case` expressions. Applying the transformation outlined above (collapsing each of `v0`, `v8`, and `v9` twice) gets this down to 9:

[code]

Notice that `coe v1 v2 v3` occured already originally fo

[2016-04-15 16:29] WolframKahl commented on #1895
To avoid changing the evaluation order, one could generate a pattern `let`, eliminating `v14`:

[code]

[2016-04-16 04:24] asr commented on #1933
Starting...

[2016-04-16 06:28] asr commented on #1933
I have tested the installation of  [Agda-2.5.1.tar.gz](http://www1.eafit.edu.co/asr/tmp/Agda-2.5.1.tar.gz) in Ubuntu 12.04.5 64-bits with:
- GHC 7.6.3, 7.8.4 and 7.10.3, and
- GHC 7.10.3 and the `uhc` flag

Could someone test the installation of 2.5.1 on Windows and/or Mac OS using the following instructions:

[code]

If you have Mac OS and GHC 7.10.*, please also test

[code]

[2016-04-16 09:27] phile314 commented on #1895
Could this have any negative consequences, like for example causing space leaks? I haven't yet looked at this in detail, but it might be worth checking this before implementing. GHC's literature discusses this to some extent:
- GHC's Common Subexpression Elimination (CSE) https://kar.kent.ac.uk/21455/1/Common_Subexpression_Elimination_in_a_Lazy.pdf ,  section 3.5
- GHC's full laziness transform, h

[2016-04-16 09:44] phile314 commented on #1902
The semantics of `TError TUnreachable` is undefined behaviour(!), so applying your patch as-is sounds good to me. We don't need a command line option for that in my opinion.

The default case could only be helpful if we want to provide better error messages at some point like <pre>Error: Got unexpected constructor ... in case expression in file ...</pre> But we are not doing that right now anyway,

[2016-04-16 09:47] phile314 commented on #1902
<pre>
data TError
  = TUnreachable
  -- ^ Code which is unreachable. E.g. absurd branches or missing case defaults.
  -- Runtime behaviour of unreachable code is undefined, but preferably
  -- the program will exit with an error message. The compiler is free
  -- to assume that this code is unreachable and to remove it.
  deriving (Typeable, Show, Eq, Ord)
</pre>

[2016-04-16 14:31] WolframKahl commented on #1902
Yes. But at least for the GHC backend, applying this patch makes a change in the call to GHC necessary, as I documented in the patch:

[code]

(It may also change the experience of debugging Agda compiler errors, so perhaps you may want to put the current default behaviour into a command-line option `--ghc-verbose-unreachable-branches`.)

[2016-04-16 15:35] asr commented on #1933
I'm waiting the above tests for adding a tag into the repository...

[2016-04-16 22:34] jespercockx commented on #1933
Installation of agda and agda-mode worked for me on Windows 10 using GHC
7.10.3 and Emacs 25, and I was able to check the master branch of the
standard library (84ad2bf)

Jesper

On Sat, Apr 16, 2016 at 5:35 PM, Andrés Sicard-Ramírez <
notifications@github.com> wrote:

[2016-04-16 22:39] asr commented on #1933
Thanks!

[2016-04-16 22:55] asr commented on #1933
FYI, I renamed the 2.5.2 milestone. The new name is 2.5.1.1.

[2016-04-16 23:55] asr commented on #1933
Done.

[2016-04-16 23:55] #1933 closed, assigned to asr

[2016-04-17 03:26] ghost opened #1934 "Strange error in rewrite & pattern matching involving functions with implicit arguments"
http://pastebin.com/tTDuAaRV
In the function id-lem-left:
It doesn't accept "rewrite id-lem-right {a}", and gives the strange error:
"""
Function does not accept argument {r = _}
when checking that {r = a} is a valid argument to a function of
type {a : G} → G
"""

even if I change it to

  id-lem-left : {a : G} -> (a op e {a}) ≡ a
  id-lem-left {a} with id-lem-right {a}
  ...

[2016-04-17 07:15] UlfNorell commented on #1933
Thanks Andrés. Well done!

[2016-04-17 08:03] UlfNorell commented on #1934
Agda-2.5.1 accepts the rewrite happily (of course there's nothing to rewrite, but also no error).

[code]

is not the proper desugaring of the rewrite and should not type check. See http://agda.readthedocs.org/en/latest/language/with-abstraction.html#rewrite.

[2016-04-17 08:03] #1934 closed, assigned to nobody

[2016-04-17 11:34] phile314 opened #1935 "User Manual not updated since ~3 weeks ago"
The user manual is stuck at commit 0187c0ce . Error message from readthedocs.org:

<pre>
 Running Sphinx v1.3.5
making output directory...

Traceback (most recent call last):
  File "/home/docs/checkouts/readthedocs.org/user_builds/agda/envs/latest/lib/python3.4/site-packages/sphinx/application.py", line 431, in setup_extension
    mod = __import__(extension, None, None, ['setup'])
ImportError: No

[2016-04-17 11:38] phile314 opened #1936 "Notify on user manual build failures"
Issue https://github.com/agda/agda/issues/1935 happend without anybody noticing. This shouldn't happen again.

Maybe readthedocs.org itself or travis can notify us on build failures?

[2016-04-17 11:43] phile314 commented on #1935
Readthedocs.org uses Sphinx 1.3.5, but we require 1.4 (see also https://github.com/agda/agda/commit/acc9bd12b455ecfa118381cca4cd8f9522ef96c8 )

[2016-04-17 11:43] UlfNorell commented on #1935
I got this after 7c01266 (I believe). I went away after I upgraded to sphinx 1.4. @asr: was there a reason 1.3 didn't work?

[2016-04-17 12:07] adamse opened #1937 "`--no-default-libraries` doesn't use project local `.agda-lib`"
It seems that when I use `--no-default-libraries` also ignores project local `.agda-lib` files, I would expect that option to only exclude the `defaults` file.

(This is in Agda 2.5.1)

[2016-04-17 12:17] phile314 commented on #1935
RTD.org now uses Sphinx 1.4 and works again.

[2016-04-17 12:17] #1935 closed, assigned to phile314

[2016-04-17 12:21] phile314 commented on #1936
@asr Travis builds the documentation as well, right? So normally it should catch user manual build problems?

Because the problem was that RTD.org had a too old Sphinx version, there was no way travis could catch that. Adding a comment to .travis.yml and doc/user-manual/requirements.txt that the Sphinx version should be kept in sync should be good enough I think.

[2016-04-17 18:42] WolframKahl commented on #1895
One factor coming in here to make a difference is that Agda has a module system. :wink:

Another important difference is that Haskell datatypes are by default coinductive. (All I am arguing about here is about constructors for (at most) inductive datatypes. One might even make a difference between non-recursive records and inductive recursive records. Constructors for coinductive records in Agda w

[2016-04-17 20:12] asr commented on #1935
I'm using the `-W` option (turn warnings into errors) for building the documentation. Supporting Sphinx 1.3.6 and 1.4.1 there was a warning related to an obsolete library, so I removed the support for Sphinx 1.3.6.

[2016-04-17 22:44] asr commented on #1936
Yes.

Yes.

I think so. Please add the documentation and close the issue.

[2016-04-17 23:31] asr commented on #1840
@DanBurton I wrote the PR https://github.com/fpco/stackage/pull/1369 for re-enabling Agda. After the PR be merged, please re-enable agda-snippets.

[2016-04-18 00:27] asr commented on #1934
I could reproduce the issue with Agda 2.4.2.5. I added a successful test case.

[2016-04-18 01:48] asr opened #1938 "Hackage reports "Build status unknown [no reports yet]" for 2.4.2.1, 2.4.2.2, 2.4.2.5 and 2.5.1"
I'll will report the issue on Hackage.

[2016-04-18 02:15] asr opened #1939 "Broken compilation of size-solver"
While working on #1828, I found the following error:

[code]

After fixing this issue and #1828, I will fix #1822.

[2016-04-18 03:04] asr commented on #1939
The error is due to changes introduced in 02846e4.

[2016-04-18 06:43] andreasabel commented on #1939
Ah sorry, I did not try to compile the size-solver.  Some functions now return an error message instead of just "Nothing".  Let me know if I should take over (currently you are assigned to this issue).

[2016-04-18 07:04] asr commented on #1939
I'll push a fix in a few minutes.

[2016-04-18 07:07] #1828 closed, assigned to asr

[2016-04-18 07:13] asr commented on #1932
I didn't fix this issue in 09d20bb but #1939 (I wrote wrong the commit message).

[2016-04-18 07:15] asr commented on #1939
I fixed this issue in 09d20bb (but I wrote wrong the commit message).

[2016-04-18 07:15] #1939 closed, assigned to asr

[2016-04-18 07:30] andreasabel commented on #1939
I am sorry I caused WWII.  (As always, it's the German's fault.) :D

[2016-04-18 07:31] andreasabel commented on #1914
Beyond WW1, I also caused WW2 (#1939).  Fate of a German... :D

[2016-04-18 08:02] andreasabel commented on #1822
Somehow there are still no tests for the size-solver (except compiling it).  Shouldn't this issue be left open?

[2016-04-18 08:12] andreasabel commented on #1938
Also, there are no docs since 2.4.2.3.

[2016-04-18 11:11] ghost commented on #1934
wonders which change/commit in Agda fixed this bug

[2016-04-18 12:49] asr commented on #1938
Done. https://github.com/haskell/hackage-server/issues/489.

[2016-04-18 12:56] asr commented on #1840
The PR was merged, so I'm closing the issue.

[2016-04-18 12:56] #1840 closed, assigned to asr

[2016-04-18 13:08] asr opened #1940 "Missing documentation on Hackage since 2.4.2.3"

[2016-04-18 13:10] asr commented on #1938
It seems that (see [2.4.2.2](http://hackage.haskell.org/package/Agda-2.4.2.2)) the unknown build status and the missing documentation are different issues. I filed #1940 for the docs.

[2016-04-18 13:19] asr commented on #1822
Yes, I was thinking the same.

[2016-04-18 13:31] andreasabel commented on #1834
Here is a simpler example:

[code]

[2016-04-18 13:33] andreasabel commented on #1834
Jesper's `--exact-split` appropriately warns me here, though.

[2016-04-18 13:36] andreasabel commented on #1940
There are logs (for building the documentation) saying something about the wrong version of cpphs, so I guess it is partially our fault.

[2016-04-18 14:01] asr commented on #1834
Why you didn't use the 2.5.1.1 milestone?

[2016-04-18 14:15] asr commented on #1939
I back-ported the fix and the refactoring into maint-2.4.

[2016-04-18 14:16] asr commented on #1828
I back-ported the fix into maint-2.4.

[2016-04-18 15:29] #1822 closed, assigned to asr

[2016-04-18 17:56] andreasabel commented on #1834
Because I was not sure when to fix this.  I thought 2.5.1.1 is for the next bug fix release.

[2016-04-18 18:41] asr commented on #1834
I think 2.5.1.1 is for the next stable release.

[2016-04-18 20:55] asr commented on #1934
I added the new `already-fixed` label to this issue.

[2016-04-18 21:00] asr commented on #1934
I couldn't reproduce the issue in maint-2.4. Bisection indicates that the bug was fixed by b2c11d7.

[2016-04-18 21:02] UlfNorell commented on #1834
No, we only release 2.5.1.1 if there aren't any compatibility breaking changes--something that seems exceedingly unlikely with the new branch policy. We did make room in the version numbers to allow 2.5.2 to be released from stable for this very reason.

[2016-04-18 22:11] asr commented on #1799
I updated the OP.

[2016-04-19 01:11] WolframKahl commented on #1834
On Mon, Apr 18, 2016 at 11:41:25AM -0700, Andrés Sicard-Ramírez wrote:

That forces me to have quite horribly long version numbers for all the intermediate development versions until then: 2.5.1.0.1, 2.5.1.0.2, ...

[2016-04-19 07:08] andreasabel commented on #1934
Good!

[2016-04-19 09:37] andreasabel commented on #1834
No, only 2.5.1.1, 2.5.1.2, etc.

[2016-04-19 15:04] WolframKahl commented on #1834
I was referring to my own versions, that is, every time I install the current development version. Right now, `Agda.cabal` says:

[code]

But since that won't be changing at least until the next release, and since `2.5.1 < 2.6.0 ≮ 2.5.1.1`, using that version number for anything can only be misleading. So the next time I install the current development version, I will call it 2.5.1.0.1, since `2.5

[2016-04-20 15:04] asr commented on #1940
I uploaded the documentation for [2.4.2.3](https://hackage.haskell.org/package/Agda-2.4.2.3), [2.4.2.4](https://hackage.haskell.org/package/Agda-2.4.2.4), [2.4.2.5](https://hackage.haskell.org/package/Agda-2.4.2.5) and [2.5.1](https://hackage.haskell.org/package/Agda-2.5.1) using the [neil](https://hackage.haskell.org/package/neil) program.

[2016-04-20 15:07] #1940 closed, assigned to asr

[2016-04-20 15:15] asr commented on #1938
The unknown build status implies the missing documentation. Since I closed #1940, I'm closing this issue.

[2016-04-20 15:15] #1938 closed, assigned to asr

[2016-04-20 15:34] asr opened #1941 "Version numbers"
@asr [wrote](https://github.com/agda/agda/issues/1834#issuecomment-211520606): I think 2.5.1.1 is for the next stable release.

@UlfNorell [wrote](https://github.com/agda/agda/issues/1834#issuecomment-211573984): No, we only release 2.5.1.1 if there aren't any compatibility breaking changes--something that seems exceedingly unlikely with the new branch policy. We did make room in the version numbe

[2016-04-20 15:35] asr commented on #1834
I filed #1941 for continuing the discussion on version numbers.

[2016-04-20 16:52] mietek commented on #1799
There appears to be an issue with compiling `agda-mode` using GHC 8.0.1-rc3, as reported in https://github.com/Homebrew/homebrew-core/pull/440#issuecomment-212501561 by @ilovezfs:

[code]

[2016-04-20 16:54] ilovezfs commented on #1799
@mietek Thank you for reporting this in the right place!

[2016-04-20 17:30] asr commented on #1715
[code]

[2016-04-20 17:32] asr commented on #1715
I plan to fix the issue by replacing `make latexpdf` by `make xelatexpdf` which was introduced when fixing https://github.com/sphinx-doc/sphinx/issues/894.

[2016-04-20 17:55] asr commented on #1799
@mietek I couldn't reproduce the issue with GNU Emacs 24.5.1. As it was [mentioned](https://github.com/Homebrew/homebrew-core/pull/440#issuecomment-212516110) by @zmwangx, the issue doesn't depend on GHC 8.0.1-rc3.

[2016-04-20 21:06] andreasabel commented on #1940
Thanks!

[2016-04-21 01:16] asr commented on #1934
@andreasabel For a while I asked myself why did you continue pushing to maint-2.4. The information required by this issue gave me one answer. Thanks for pushing to maint-2.4.

[2016-04-21 07:00] ilovezfs commented on #1799
The formula for agda only requires

[code]

The version that ships on El Capitan is 22.1.1.

@asr Given that the issue does not occur when using agda 2.5.1 + ghc-7.10.3b + emacs 22.1.1, and it does occur when using agda 2.5.1 + ghc 8.0.1-rc3 + emacs 22.1.1, there's clearly some sort of difference.

[2016-04-21 07:06] zmwangx commented on #1799
Emacs 22.1.1 from 2007 doesn't seem to have `byte-compile-disable-warning`. I'm surprised that it worked at all.

Anyway, assuming that agda2-mode is supported on 22.1.1 (I doubt it, because even some big name packages like magit have long since moved on), we can safely ignore the error, because the only difference between byte compiling or not is speed.

[2016-04-21 07:08] ilovezfs commented on #1799
@zmwangx well that would mean the bug is with 7.10.3b not failing. Also it means that if the formula is going to have an emacs option it should be requiring a higher version if 22.1.1 is not sufficient.

[2016-04-21 08:42] andreasabel opened #1942 "Safe GHC LANGUAGE extensions to be put into Agda.cabal"
There is a couple of safe language extensions we keep repeating in each .hs file. I suggest to put all frequently-used and semantics preserving language extension into the Agda.cabal file instead.  These are extensions to the Haskell 98 syntax and safe extensions to the Haskell 98 type class systems.  I suggest the following ones:

[code]

Purposely not in the list are

[code]

[Breakfast discussi

[2016-04-21 09:29] andreasabel opened #1943 "Reflection: alias inference does not work in macro block"
AIM XXIII, Ulf's reflection talk:

[code]

Error:

[code]

[2016-04-21 09:47] andreasabel commented on #1943
The offending code is in `Decl.hs`.  It does not postpone upon a meta-variable in the type of the macro.

[code]

telView does not produce the right thing if type t is blocked by a meta.

[code]

Relevant patches include dbe8cb4d @phile314 and 3e8d104a @UlfNorell.

[2016-04-21 10:24] andreasabel opened #1944 "Implement overloaded projections"
AIM XXIII code sprint.  Milestone 1:

[code]

[2016-04-21 13:29] asr opened #1945 "agda-mode: Symbol's function definition is void: byte-compile-disable-warning"
@mietek [wrote](https://github.com/agda/agda/issues/1799#issuecomment-212512137):

There appears to be an issue with compiling `agda-mode` using GHC 8.0.1-rc3, as reported in https://github.com/Homebrew/homebrew-core/pull/440#issuecomment-212501561 by @ilovezfs:

[code]

[2016-04-21 13:30] asr commented on #1945
@asr [wrote](https://github.com/agda/agda/issues/1799#issuecomment-212535152): @mietek I couldn't reproduce the issue with GNU Emacs 24.5.1

[2016-04-21 13:32] asr commented on #1945
@ilovezfs [wrote](https://github.com/agda/agda/issues/1799#issuecomment-212772770): @asr Given that the issue does not occur when using agda 2.5.1 + ghc-7.10.3b + emacs 22.1.1, and it does occur when using agda 2.5.1 + ghc 8.0.1-rc3 + emacs 22.1.1, there's clearly some sort of difference.

[2016-04-21 13:37] asr commented on #1945
I didn't see any difference using Agda 2.5.1, GNU Emacs 22.1.1 and  GHC 8.0.1-rc3 or GHC 7.10.3., that is, `agda-mode compile` generates the error reported in the OP.

[2016-04-21 13:39] asr commented on #1799
I filed #1945 for continuing the discussion with the issue with `agda-mode`.

[2016-04-21 13:39] ilovezfs commented on #1945
It's a build-time failure when agda-mode compile is run.

[2016-04-21 13:42] asr commented on #1945
Did you mean it's not an Agda issue?

[2016-04-21 13:43] ilovezfs commented on #1945
https://github.com/Homebrew/homebrew-core/blob/master/Formula/agda.rb#L71-L75

I mean that fails, so the whole thing fails.

[2016-04-21 13:45] ilovezfs commented on #1945
`agda-mode compile` fails, which causes the entire `brew install --build-from-source agda` to fail. This doesn't happen if the GHC is 7.10.3.

[2016-04-21 13:55] asr commented on #1945
As I said, I could reproduce the issue with both GHC 8.0.1-rc3 and 7.10.3, so I'm closing the issue.

[2016-04-21 13:55] #1945 closed, assigned to nobody

[2016-04-21 13:57] ilovezfs commented on #1945
Can you explain what you mean by "with both GHC 8.0.1-rc3 and 7.10.3"? Where are you testing this?

[2016-04-21 14:12] asr commented on #1945
I installed `agda-mode` from Agda 2.5.1 with both versions of GHC. Using GNU Emacs 22.1.1, I got the following errors:
- GHC 7.10.3

[code]
- GHC 8.0.1-rc3

[code]

[2016-04-21 14:14] asr commented on #1945
For the record, to install GNU Emacs 22.1.1 in my Ubuntu 12.04.5 I followed [these](http://stackoverflow.com/questions/16124763/emacs-22-3-does-not-compile-on-ubuntu-12-04) instructions.

[2016-04-21 14:18] ilovezfs commented on #1945
OK, so not on OS X 10.11. Thanks for clarifying.

Is the exit code the same in both cases? That's my top suspicion right now. That it differs.

[2016-04-21 14:25] ilovezfs commented on #1945
Ah I see what's going on now. When brew does --build-bottle it's installing the newer emacs along the way which means it doesn't trip over this, and you're right that it's not a problem specific to the new ghc, just a difference between --build-bottle and --build-from-source. Thanks for checking.

[2016-04-21 14:27] andreasabel opened #1946 "Sized types allow a type which is both inductive and coinductive in an inconsistent way"
AIM XXIII, with Nisse and Andrea:

[code]

[2016-04-21 14:32] ilovezfs commented on #1799
@zmwangx Yep you were right. The issue is that --build-bottle fulfills the requirement `:emacs => ["21.1", :recommended]` with brew's emacs, which is 24.5, whereas --build-from-source fulfills the same requirement with the system emacs, which is 22.1.1. Despite the error, do the compiled agda emacs bindings from the bottle work with 21.1.1 at all? If not we really should raise that requirement to

[2016-04-21 14:33] ilovezfs commented on #1945
@asr Do you know the minimum emacs the compiled bindings actually do work with?

[2016-04-21 14:35] asr commented on #1945
No.

[2016-04-21 14:37] ilovezfs commented on #1945
@asr hmm OK. I will investigate further so that brew's --build-from-source actually works for agda even if the user only has the system emacs.

[2016-04-21 14:45] asr commented on #1945
Thanks!

[2016-04-21 15:01] zmwangx commented on #1945
@ilovezfs

To respond to [your earlier question in another thread](https://github.com/agda/agda/issues/1799#issuecomment-212945179):

No. Here are the steps to reproduce the error:
1. `/usr/bin/emacs -Q`;
2. `M-: (load-file (let ((coding-system-for-read 'utf-8)) (shell-command-to-string "agda-mode locate"))) RET`;
3. `M-x agda2-mode`.

At this point you get an error:

[code]

[2016-04-21 15:02] mietek commented on #1945
@ilovezfs: The existing minimum is completely arbitrary. @xu-cheng added it simply because there was no minimum before, and there is no reason for sticking specifically with 21.1. Feel free to raise it.

See the commit here: https://github.com/Homebrew/legacy-homebrew/commit/4c764c70bac9a3f6691c5de51d7b404c321812c2

[2016-04-21 15:05] zmwangx commented on #1945
I would say any Emacs user worth their salt shouldn't be using system Emacs 21, so it's pretty safe to raise the minimum. But whether Emacs should remain `:recommended` is debatable if we require a newer version.

[2016-04-21 15:05] mietek commented on #1945
See also the brief discussion on the matter here: https://github.com/Homebrew/legacy-homebrew/pull/45327#discussion_r43578621

[2016-04-21 15:05] mietek commented on #1945
@zmwangx: Emacs should remain `:recommended` because Emacs is the primary mode of interaction with Agda.

[2016-04-21 15:07] ilovezfs commented on #1945
@mietek Yeah, there was a bug at the time that he was working around. The bug has since been fixed, but the workarounds remain.

@zmwangx Right now the consequence of having it as recommended is that brew emacs is actually forced on the user when you install from a bottle:

[code]

[2016-04-21 15:09] zmwangx commented on #1945
Hmm interesting. Then no objection to raising the minimum AND keeping it recommended.

[2016-04-21 15:12] ilovezfs commented on #1945
@zmwangx Yeah, it's probably better to just get the appropriate minimum in there rather than require people to figure out they need to do `agda-mode compile` on their own.

[2016-04-21 15:15] zmwangx commented on #1945
Byte compiling is not really required. Emacs can run code from Elisp source files (`.el`) just fine (but `agda2-mode` first needs to support 22.1.1, which I doubt). Byte compiling to `.elc` just makes it faster.

[2016-04-21 15:15] ilovezfs commented on #1945
Here's the counterargument to making it recommended:

[code]

[2016-04-21 15:22] zmwangx commented on #1945
I have no strong preference either way. To me `/usr/bin/emacs` is just a joke (damn GPLv3).

By the way, what is `ag`? An alias of `grep -rIn`?

[2016-04-21 15:25] ilovezfs commented on #1945
`ag` is a pun on `ack`. It's the command name for `the_silver_searcher`. There's now also `the_platinum_searcher`, the command for which is, of course, `pt`.

https://github.com/ggreer/the_silver_searcher (written in C)
https://github.com/monochromegane/the_platinum_searcher (written in Go)

You can `brew install the_silver_searcher` or `brew install ag`.

[2016-04-21 15:33] zmwangx commented on #1945
Interesting, bookmarked. (I'll probably keep on sticking with good ol' grep though. I've got `ack` bookmarked for probably years but I've been too lazy to ever take a serious look... 😜 GNU grep + general grep alias ignoring VCS and stuff like .tox + a few dedicated grep aliases/wrappers served me very well.)

[2016-04-21 15:33] ilovezfs commented on #1945
@zmwangx You should really try it vs. grep. The speed difference is absurd especially with source code.

[2016-04-21 15:35] zmwangx commented on #1945
Sure, will try. I `grep -rI` all the time and never felt slow though... (By the way, sorry for being off-topic.)

[2016-04-21 15:41] ilovezfs commented on #1945
It's probably not appropriate to install emacs just because someone is using bottled agda, especially since you said it's not necessary to byte compile it (sorry for my ignorance - I only use vi).

The only ones with non-optional dependencies on emacs appear to be `cask`, `doxymacs`, and `proof-general`, all of which are emacs specific formulae.

[2016-04-21 16:05] zmwangx commented on #1945
`agda2-mode` isn't just a bunch of font-lock definitions; it seems to pack much interactivity and tightly integrates with the compiler (see [docs](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Docs.EmacsModeKeyCombinations)). The facts that
- Emacs integration is prominent in README;
- `agda` ships three binaries, one of them being `agda-mode`;

all seem to suggest Emacs's special position for

[2016-04-21 16:08] asr commented on #1942
I disagree for various reasons. I start saying that default languages extensions makes it harder to understand the errors of compilation and to support three released versions of GHC.

To give a concrete example. I _just_ added the list of the extensions proposed and I got the error:

[code]

Which extension generated the error?

[2016-04-21 16:23] ilovezfs commented on #1945
@zmwangx It looks like @mietek already litigated this so it's fine: https://github.com/Homebrew/legacy-homebrew/pull/45327

A correct minimum version should be sufficient to put the issue to rest.

[2016-04-21 16:26] zmwangx commented on #1945
I just tried to mess around with `agda2-mode` in system Emacs (byte-recompiled first), and didn't encounter any obvious issues (I couldn't get ahold of any code with "goals", so no messing around with goal-related functions), so I have no idea if it is broken in 22.1.1.

By the way, this is no longer an Agda issue and an issue/PR should be created in Homebrew rather than tagging along in this thre

[2016-04-21 18:37] UlfNorell commented on #1942
Stab in the dark: `BangPatterns`.

I would argue that having a default set of extensions make errors more easy to understand since you are using a (more) consistent language across modules. Also it really annoying to have to enable perfectly harmless language extensions.

[2016-04-21 18:54] asr commented on #1942
You are right.

By removing `BangPatterns` I got the error:

[code]

Which extension generated the new error?

[2016-04-21 19:21] asr commented on #1942
Other reason to disagree: Handle the default extensions is too Cabal-version dependent.

Examples:
- In recent versions of Cabal, the `extensions` field was removed and the `default-extensions` and `others-extensions` fields were added (see my comment [here](https://github.com/haskell/cabal/issues/1517#issuecomment-46843791)).
- From [here](https://github.com/haskell/cabal/pull/2818/commits/6916f3

[2016-04-21 19:24] asr commented on #1942
(I updated the previous comment).

[2016-04-21 19:32] UlfNorell commented on #1942
This is a Wrong Question (although `ScopedTypeVariables`?). The question isn't which extension caused the error, but rather what's wrong with the code? It's like asking which module in GHC caused a type error.

If I'm reading that correctly, that's `cabal >= 1.10`. Given that a current version is `1.22`, surely we can require `>= 1.10`?

How is this situation improved by having the language pragma

[2016-04-21 19:44] asr commented on #1942
Yes. We are using `cabal-version: >= 1.8` for [this](https://github.com/judah/haskeline/issues/17#issuecomment-68946643) reason.

[2016-04-21 19:55] asr commented on #1942
I don't understand why the question is related to my comment. I was pointed out an example where different versions of Cabal have different behaviour related to the default extensions.

[2016-04-21 20:00] UlfNorell commented on #1942
I don't understand the reason. It looks like that issue suggests you should use >= 1.10?

Yes, but it looks to me like newer versions of cabal will behave better if you put extensions in the cabal file. I don't see a reason to cripple later cabal versions just to make them behave the same as older ones.

[2016-04-21 20:04] asr commented on #1942
I understood the opposite, that is, it's not necessary to use >= 1.10.

[2016-04-21 20:13] UlfNorell commented on #1942
It is if we want to use the `default-extensions` field. Is there a reason we cannot require `>= 1.10`?

[2016-04-21 20:14] asr commented on #1942
I agree.

For supporting the old ones (I guess some distributions don't use the latest version of Cabal). Our current  restriction (i.e. `cabal-version: >= 1.8`) is not a real one and we test on Travis the different versions of GHC only using the latest version of Cabal.

[2016-04-21 20:17] asr commented on #1942
I don't know any reason.

[2016-04-21 20:17] UlfNorell commented on #1942
Yes, but in this case older versions of cabal behave exactly the same regardless of whether you put the extensions in the cabal file or in the Haskell modules, so I fail to see how that argument applies to the current issue.

[2016-04-21 20:22] #1936 closed, assigned to phile314

[2016-04-21 20:29] asr commented on #1942
No, if you exclude those older versions of Cabal.

[2016-04-21 20:34] asr commented on #1942
Instead of adding the "deriving extensions"  we should remove them. This is a common advice for reducing the compilation time.

[2016-04-21 20:38] asr commented on #1942
I would like to compile Agda using SAFE Haskell. The last time I checked, we couldn't use `GeneralizedNewtypeDeriving` nor `TemplateHaskell`.

[2016-04-21 20:44] UlfNorell commented on #1942
Are you saying we need to support distributions running `cabal 1.8`? For reference, that was released around the same time as `ghc-6.12`.

Do you have any sources for this? I have a very hard time believing compilation times goes up just because you enable `DeriveFunctor` (say) without actually deriving any Functor instances. If they do that sounds like a pretty bad bug in GHC.

This issue isn't a

[2016-04-21 20:47] asr commented on #1907
After b27f6df this issue is obsolete.

[2016-04-21 20:47] #1907 closed, assigned to nobody

[2016-04-21 21:05] asr commented on #1799
Since Agda compiles with GHC 8.0.1-rc3 and I didn't find any problem running `make test` I'm closing this issue. I'll open new issues for other problems known.

[2016-04-22 04:31] asr commented on #1715
I didn't fix the issues with `make latexpd` but I added `make xelatexpdf`. Since XeLaTeX has better support for Unicode, I'm closing the issue.

[2016-04-22 04:31] #1715 closed, assigned to nobody

[2016-04-22 04:46] asr commented on #1942
Nope.

[2016-04-22 05:05] asr commented on #1942
No. I was pointing out that currently we don't exclude any recent version of Cabal (I don't remember any issue related to Cabal). If we add the default extensions then to keep the support for different recent versions of Cabal could be more difficult.

[2016-04-22 05:12] asr commented on #1942
I didn't say that. What I mean is that we should remove the _current_  "deriving extensions"  for reducing compilation times. By adding these extensions as default ones we are going in the opposite direction.

[2016-04-22 05:41] asr commented on #1942
I got the error reported [here](https://github.com/agda/agda/issues/1942#issuecomment-213065349) using GHC 7.10.3. By using GHC 8.0.1-rc3 I got a different error (I know it is a release candidate).

[2016-04-22 07:03] UlfNorell commented on #1942
I don't understand what you mean here. All recent versions of cabal support the `default-extensions` flag.

That's insane. Writing instances by hand is error prone and tedious and leads to extra work every time a data type changes. You would need some extremely solid evidence that there's a performance problem with deriving instances before even considering getting rid of those extensions.

A bett

[2016-04-22 10:53] andreasabel opened #1947 ""Invalid filename" should give a reason"
`Example2.6.agda` is an "invalid filename".  Agda should explain why.

[2016-04-22 11:34] asr commented on #1942
I agree.

(Since I agree with your previous comment just for clarifying) I'm not talking about a different error message, I got an error in a different module.

[2016-04-22 15:09] nad opened #1948 "Exploit via hash function collision"
@andreasabel, @UlfNorell and I discussed how module names are implemented. The implementation uses a hash function, and it turned out to be very easy for me to find lots of collisions. These collisions can be exploited:

`Prelude.agda`:

[code]

`zVft.agda`:

[code]

`ZiRa.agda`:

[code]

`Bug.agda`:

[code]

Everything is accepted by Agda. Reason: `hashString "zVft"` and `hashString "ZiRa"` retur

[2016-04-22 15:32] jmchapman commented on #1948
I don't understand why you can prove `interesting` like this. If you just put the code in the same module then it is fine. I would have thought it would either naively add all the code to the same module (which I expected to be ok in this case) or complain that you have already imported this module.

[2016-04-22 15:34] jmchapman commented on #1948
Ah, I see you can import the same module twice.

[2016-04-22 15:35] andreasabel commented on #1948
The point is that files `zVft` and `ZiRa` get the same hash which tricks Agda into confusing some imported definitions.

[2016-04-22 15:41] #1948 closed, assigned to UlfNorell

[2016-04-23 03:12] WolframKahl commented on #1879
With 2.5.1, I still get this:

[code]

if I call UHC with the command line proposed by `agda --uhc`, or when I add any of

[code]

With `-O0,0` compilation appears to succeed, but with three truncated integer warnings:

[code]

However, the resulting 42MB executable segfaults immediately.

If I ask for whole-program optimisation, the executable is only 3.94MB with `-O1,2`, `-O2,2`, or `-O3.2` (pro

[2016-04-23 12:52] asr commented on #1799
Agda doesn't compile with GHC 8.0.1-rc4. I updated the OP.

[2016-04-23 12:59] asr commented on #1948
FWIF, I couldn't reproduce the issue.

[2016-04-23 13:06] asr commented on #1942
I want to avoid something like `cabal-version: >= A.B.C` where A.B.C is a very recent version of Cabal. I know that this is currently not the case.

[2016-04-23 13:09] asr commented on #1942
See section "Fast builds lead to faster turnaround" on  [The Joy and Agony of Haskell in Production](http://www.stephendiehl.com/posts/production.html).

[2016-04-23 13:11] asr commented on #1942
Are the Cabal default options included in the modules generated by Alex and Happy?

[2016-04-23 13:56] UlfNorell commented on #1942
Quoting from that:

Reading this as "you shouldn't using deriving" is clearly insane. It's saying that if you have a problem with deriving taking a long time, here's an ugly workaround. Are you saying we have a big problem with compilation times for derived instances?

Yes of course.

[2016-04-23 14:22] asr commented on #1942
No. I'm saying I'm not comfortable with compilation times. Are the derived instances one important factor in the current compilation times?  I don't know but it's worth finding out.

[2016-04-23 14:53] UlfNorell commented on #1942
Sure, but it's not really relevant to this issue.

[2016-04-23 15:16] asr commented on #1942
Note the CPP was not mentioned in the OP.

[2016-04-23 15:33] asr opened #1949 "hTags: Broken compilation with GHC 8.0.1-rc4"

[2016-04-23 17:42] andreasabel commented on #1944
Does not work yet with copied projections:

[code]

[code]

[2016-04-23 20:20] #1949 closed, assigned to asr

[2016-04-25 15:38] andreasabel opened #1950 "Case splitting in with-clauses breaks display forms"
[code]

Case splitting on B' produces:

[code]

[2016-04-25 15:55] andreasabel commented on #1950
Fails on 2.5.1, 2.4.2.{2-6} (for a different reason).
Works on 2.3.2.
Test case from issue #679.

[2016-04-25 21:25] davdar opened #1951 "Mixfix binders no longer supported in 'syntax'"
I just upgraded to Agda 2.5.1 and it appears mixfix binders are no longer supported in 'syntax' pattern binders. Example below. I believe `doesn't-parse₁` and `doesn't-parse₂` worked just fine in Agda 2.4.2.5. The only difference is their binders have underscores and are therefore mixfix identifiers. Was this change intentional or is it a bug?

[code]

[2016-04-26 21:49] mjustus opened #1952 "Instance resolution slow in presence of implicit arguments"
Trying out the new 2.5.1 release, I have hit a performance regression related to, I believe, instance resolution. The slow-down is caused by the last line in the following test case

[code]

The time needed to process the file measured via

[code]

jumps from less than one second in 2.4.2.6 (latest commit in branch `maint-2.4`) to roughly 6 minutes in the 2.5.1 release. See the table below for det

[2016-04-28 14:46] asr opened #1953 "Unicode numerical subscripts in code examples are wrongly generated in the pdf"
For example, the code example `Foo₁` is wrongly generated as `Foo1` using `make xelatexpdf`.

[2016-04-28 16:31] andreasabel commented on #1098
In #1944 I am implementing overloaded projections.  However, bringing the fields of a record module into scope automatically is problematic as it is not compatible with the use of a record as a type class dictionary.

[code]

If the record was opened automatically as well, we would have projections

[code]

and if the user then writes `show x` is it not clear which one is meant.

[2016-04-28 22:19] phile314 commented on #1888
Fixed by https://github.com/agda/agda/commit/bedd36e7189825c4a058a90353c8f78502df88bc .

[2016-04-28 22:19] #1888 closed, assigned to nobody

[2016-04-29 02:20] WolframKahl commented on #1944
The original post here provides a test case for this proposed change (and possibly enhancement).

I would feel safer if there was also a future ChangeLog entry... (that is, a specification...) :wink:

[2016-04-29 05:08] #1944 closed, assigned to andreasabel

[2016-04-29 05:12] andreasabel commented on #1098
Currently no plans to do more than what has been done for #1944.  Reopen if you want to discuss more.

[2016-04-29 05:12] #1098 closed, assigned to andreasabel

[2016-04-29 08:34] Saizan commented on #1946
I think there's a reasonable argument that the blame should be assigned to the recursive call on `(f (size ∞))`

U is rightfully the least fixed point of the functor F X = \ i -> (s : SizeLt i) -> X (getSize s), so it does support a recursion operator

[code]

it should also be the case that `U ∞ ~ U (↑ ∞)`

However we cannot elaborate the definition of `empty` into an use of `rec` and the isomorp

[2016-04-29 15:46] andreasabel opened #1954 "Module copy: constructor parameters remain hidden, projection parameters not."
There is some magic keeping constructor parameters hidden when we copy a module.
The same magic should apply to field parameters.

[code]

[2016-04-30 20:53] davdar opened #1955 "false dependency between instance constraints"
This file doesn't typecheck because there is no instance for `Y unit` (which is commented out). The issue is the error, which reports:

"No instance of type Z unit was found in scope."

This appears to be an off-by-one error in reporting errors when instance resolution fails; the correct error output should identify `Y unit` as the missing instance.

Extra notes: if the `ZA` constraint on foo is r

[2016-05-01 07:54] andreasabel commented on #1955
Confirmed. You can drop `X` from the picture.

[code]

If we give the instance for `ZA` explicitly, the error is correct.

[2016-05-01 08:34] andreasabel commented on #1955
This worked fine up to Agda-2.4.2.6.  Somehow solving YA is considered as a subproblem of solving ZA.  Even though ZA succeeds, the failure of YA somehow makes Agda think the original problem (solving ZA) fails.

[2016-05-01 17:21] arey0pushpa opened #1956 "Unable to run Lambda.agda"
I'm following your OPLSS 2015 lectures and have setup things like it should according to the https://github.com/UlfNorell/agda-summer-school.

   Agda2 Include Dirs:
INS DEL Directory: .
INS DEL Directory: /home/mokambo/src/agda/lib/src
INS DEL Directory: /home/mokambo/agda-prelude/src
INS

Error while type checking showing  :

/media/mokambo/Pablo Naruda/ORAGON/AGDA/agda-summer-school/lectures/La

[2016-05-01 19:40] UlfNorell commented on #1956
Please file this issue on the summer school repo instead. Most likely cause is that you are using versions of agda and the summer school code that are incompatible.

[2016-05-01 19:40] #1956 closed, assigned to nobody

[2016-05-02 00:07] asr commented on #1799
The murmur-hash issue was fixed, I updated the OP.

[2016-05-02 02:16] asr commented on #1953
The issue was [fixed](https://github.com/sphinx-doc/sphinx/issues/2501) in Sphinx master. We need to wait the next release of Sphinx before closing this issue.

[2016-05-02 05:23] arey0pushpa commented on #1956
Thanks professor. Will do that.

[2016-05-02 08:39] np commented on #1948
As I mentioned in a comment to the commit a280783. Murmur hash will not prevent collisions from an adversary.

[2016-05-02 08:47] UlfNorell commented on #1948
I'm not too worried about adversarial collisions. The important thing is that you don't get any accidental collisions.

[2016-05-02 16:42] np commented on #1948
Still the original report was not accidental.

[2016-05-02 18:18] phile314 commented on #1948
Could this be problematic for "Safe Agda"? Is "Safe Agda" actually maintained?

[2016-05-03 08:22] andreasabel commented on #1951
@nad Could you please have a look at this?

[2016-05-03 10:59] nad opened #1957 "Regression related to rewriting"
The following code is accepted by Agda 2.5.1, but not by 0b06e89ce446194f70871d5481b2e2c3318464d8:

[code]

The code is accepted if the rewrite rule is removed.

The regression seems to have been introduced by "[ rewriting ] Remember which symbols rewrite rules match against to prevent overly eager pruning" (bc9b88f447ee2fc850758d543590d69238b3c831). I don't know if it is the new or the old behavi

[2016-05-03 13:34] jespercockx commented on #1957
I'm afraid this is an example of something that used to work "by accident" but now no longer works with the correct pruning. The meta _20 in question should satisfy the two constraints

[code]

Previously, applications of `f` were considered non-matchable since it is a postulate, so _20 could not depend on its final argument. However, the rewrite rule `e` enables the recovery of the argument `x` f

[2016-05-03 13:34] #1957 closed, assigned to jespercockx

[2016-05-03 13:42] andreasabel opened #1958 "Case splitter produces unreachable clauses"
[code]

[2016-05-03 13:52] andreasabel commented on #1950
Splitting on B' introduces trailing hidden arguments which confuse the display form machinery.

[2016-05-03 14:51] andreasabel commented on #1950
Now we have the behavior of 2.4.2.{2-6}:

[code]

with subsequent error

[code]

[2016-05-03 15:32] #1950 closed, assigned to andreasabel

[2016-05-03 15:39] andreasabel commented on #1950
Now splitting does not introduce trailing new patterns, so the printing is not broken any longer.

One can still force this issue when doing a result-split in a with-clause. In the example above, this is possible after making the hidden argument visible.

[2016-05-03 15:44] andreasabel commented on #1942
I suggest to include all safe language pragmas in the cabal file that are sufficiently popular, e.g. are used in at least 5 of our Agda source files (this threshold is negotiable, could be 10).

[2016-05-03 16:02] nad opened #1959 "Internal error related to instances"
The following code triggers internal errors (using 0b06e89ce446194f70871d5481b2e2c3318464d8):

[code]

If Agda 2.4.2.5 is used, then `internal-error₁` seems to make Agda loop, while `internal-error₂` triggers the following error message:

[code]

[2016-05-03 16:22] nad opened #1960 "Overloaded projection in opened parametrised module not found"
Consider the following code:

[code]

Agda complains in the following way:

[code]

Why is the projection `R₁.f` not found?

[2016-05-03 16:29] asr commented on #1942
I know I wont' win the discussion :-)

Anyway, I'm strongly against of including `GeneralizedNewtypeDeriving`.

Some suggests:
- Right now, Agda supports GHC 8.0.1-rc4 (except the UHC backend). Before adding the defaults extensions I suggest to add a Travis instance for this version of GHC (which is possible in our current Travis set up).
- I suggest to keep the current local extensions for debugg

[2016-05-03 21:57] nad commented on #1959
The internal error for `internal-error₂` seems to be triggered starting with "[ fixed #1915 ] instance argument constraints not woken up properly" (85716a62899fd032073240f2915923b130adfb3a). However, I doubt that this commit introduced the bug.

[2016-05-04 00:49] WolframKahl opened #1961 "The GHC backend should not generate (as many) unused imports"
Currently, the GHC backend generates many unused imports: In the 367 Haskell modules (including many from the standard library) my running example compiles to, there are 3904 unused import warnings when calling GHC with `-fwarn-unused-imports`, referring to 194 different modules, both from the standard library and built-ins, and from my application.

[2016-05-04 01:06] WolframKahl commented on #1961
From a black-box perspective, this is an enhancement suggestion. From a white-box perspective, I see that the mechanism for dealing with this is already there, “the `xqual` trick” in `Agda.Compiler.MAlonzo.Compiler.Misc`, but it is not being trusted.

The following patch improves the situation considerably:

[code]

The second of these two changes alone, namely just throwing out `iImportedModules

[2016-05-04 06:44] UlfNorell commented on #1961
I would just remove the code. If we need to know what was removed I'm pretty sure git keeps track :).

From a quick glance at the code it looks like the problem with `getHaskellImports` is that they are inherited from imported modules. I'm not sure why we would need that. You could try to remove the `stHaskellImports` line from `Agda.Interaction.Imports.addImportedThings`.

[2016-05-04 06:52] UlfNorell commented on #1941
Here's what I think we should do:
- bump the version of stable to `2.5.2`, and when we release it will be `2.5.2.1`
- if needed, release `2.5.1.1` by cherry-picking important bug fixes to a stand-alone `maint-2.5.1` branch

This way there aren't any version clashes between actual releases and snapshots of the repository. It's a little odd that current stable is `2.5.1.1` when we might release a `2

[2016-05-04 08:42] phile314 commented on #1961
I'm not sure, but I think the HaskellImports are inherited because of the ffi foreign datatype bindings. I believe we do not re-export Haskell datatypes/constructors used by FFI bindings. E.g.:

<pre>
module A where
{-# HS_IMPORT MY_BOOL_MOD #-}
data Bool : Set where
  ...
{-# COMPILED_DATA Bool MY_HS_BOOL HS_CON_1 HS_CON_2 #-}
</pre>

I guess we do not re-export the HS_\* datatype/constructors in

[2016-05-04 09:03] UlfNorell commented on #1961
Ah, that sounds right. That might be hard to fix, since we don't know which Haskell import exports the constructors.

[2016-05-04 10:14] phile314 commented on #1961
Re-exporting datatypes could also be problematic if there are two FFI bindings in the same Agda module targeting two different Haskell datatypes of the same name. E.g. Data.Maybe and MyModule.Maybe.

[2016-05-04 10:50] arey0pushpa opened #1962 "Agda install 2.6.0"
While installing agda 2.6.0 :
1. agda2-include-dirs variable is not present after doing customize-group in emacs how then to change the Agda search path.
1. How to version manage agda . I want to install two versions that i want to work with. One which is developmental and one which is stable is there any way just to switch the one which you want to use while running emacs / command. for example :

[2016-05-04 11:09] UlfNorell commented on #1962
Please send questions like this to the [mailing list](https://lists.chalmers.se/mailman/listinfo/agda). The bug tracker is for reporting bugs and other issues.

That said,
- Since 2.5.1 search paths are managed using the new [library system](http://agda.readthedocs.io/en/latest/tools/package-system.html).
- Managing different versions of Agda could be done setting up some symbolic links and writin

[2016-05-04 11:09] #1962 closed, assigned to nobody

[2016-05-04 12:25] arey0pushpa commented on #1962
I think its become a pain just to start quick. It should not have to be like this.

[2016-05-04 12:56] WolframKahl commented on #1961
Sorry, I should have been clearer about that: I actually do not think it is urgent to precisely restrict `getHaskellImports` so that it produces only needed imports. That's why I have the “(as many)” in the issue title ─ getting down to no unused imports may not be worth while.

I think the real question is whether `importsForPrim` can ever produce something that is not produced by `xqual`, to dec

[2016-05-04 13:18] UlfNorell commented on #1962
Can you be more specific. Managing multiple versions of Agda isn't required to "start quick". If you don't want to use the library system (although you should because it saves you from the fiddly emacs settings), you can use the `agda2-program-args` instead (and pass `-i PATH`).

[2016-05-04 13:20] UlfNorell commented on #1961
I believe you have the power to make that happen.

[2016-05-04 14:09] asr commented on #1941
I agree with bumping the version of stable to 2.5.2.

I suggest to use 2.5.2 for the release and after the release to bump the version of stable to 2.5.3.

[2016-05-04 14:17] asr commented on #1961
I guess you meant 'into stable soon'.

Too late, I saw your pushed your commit only in master. Please, back-port your commit into stable.

[2016-05-04 14:59] UlfNorell commented on #1941
The advantage of releasing it as 2.5.2.1 is that there's no confusion between the release and a snapshot of stable.

[2016-05-04 15:07] asr commented on #1941
I see. I'll bump the version of stable.

[2016-05-04 15:09] andreasabel commented on #1960
(See #1944 for the introduction of overloaded projections.)
Pushing a fix soon.

[2016-05-04 15:11] #1960 closed, assigned to andreasabel

[2016-05-04 15:13] asr commented on #1941
I merged the milestone 2.5.1.1 into the milestone 2.5.2.

[2016-05-04 15:50] UlfNorell commented on #1941
I guess it would make sense to keep the 2.5.1.1 milestone for critical bugs.

[2016-05-04 17:16] asr commented on #1941
Anyone with enough permissions can create the milestone if necessary.

[2016-05-04 17:28] nad commented on #1951
Bisection points to the following commit (95d4470c4ce1f00f7425a3faf045876eed74105d): "[ Issue 1109, Issue 1436 ] New default precedence level: unrelated."

[2016-05-04 17:53] asr commented on #1941
Done.

[2016-05-04 18:03] nad commented on #1962
Perhaps you can use `agda2-set-program-version`:

[code]

[2016-05-04 20:14] UlfNorell commented on #1951
Didn't we roll back that one?

[2016-05-04 20:26] #1954 closed, assigned to andreasabel

[2016-05-05 02:38] WolframKahl commented on #1961
@asr, how do you want this done? From initial investigation, it looks like one of `git rebase --onto stable` or `git cherry-pick` might be part of it, or possibly `git merge`, but I could not discern what “the right way” to do this backporting might be. I have not yet done anything of this complexity in git, so if you really want me to do it, giving me precise instructions would be safest.

On the

[2016-05-05 03:07] WolframKahl commented on #1961
By the way, the answer to my previous question

is yes, as `make compiler-test` immediately reveals.

[2016-05-05 05:47] andreasabel opened #1963 "Implement postfix projections"
At AIM XXIII it was strongly suggested to allow projections to be written postfix.

[code]

(Currently you cannot result-split in an extended lambda, that would be fixed.)

Here is a larger example:

[code]

[2016-05-05 07:11] nad commented on #1951
The current problem is unrelated to that commit, but rather related to the way we parse sections (by splitting up names with multiple name parts). This should be straightforward to fix.

[2016-05-05 14:21] asr commented on #1961
I'm writing the instructions in `HACKING`...

[2016-05-05 15:02] asr commented on #1961
I pushed the instructions in d37cf03.

[2016-05-05 15:04] asr commented on #1961
Yes. Just push your commit in stable and merge stable into master.

[2016-05-05 15:50] asr commented on #1961
I updated the file `HACKING`. It mentions `stable` now.

[2016-05-05 15:55] WolframKahl commented on #1961
Thank you, @asr! Done. (Your second change to `HACKING` came right in the middle of the procedure, so now there are probably even more “Merge” messages in `git log` than originally necessary ─ sorry!)

[2016-05-05 16:04] WolframKahl commented on #1961
To summarise: In `Agda.Compiler.MAlonzo.Compiler.imports`, both `importsForPrim` in

[code]

and `getHaskellImports` in

[code]

contribute qualified imports that are, at least in some cases, needed, but not produced by the `xqual` trick.

This leaves the following 10 qualified imports that are superfluous in many modules:

[code]

As such, these have a minor impact on GHC compilation time, but ot

[2016-05-05 16:04] #1961 closed, assigned to nobody

[2016-05-05 16:23] asr commented on #1961
Thanks for cherry-picking your commit into stable-2.5.

Since we require stable be a subset of master, sometimes these "collisions" happens. I don't what work-flow we should use for avoiding this situation.

Before pushing, I first merge the local repositories to minimize the risk of "collisions" (among other things).

[2016-05-05 17:01] nad commented on #1951
I've partially fixed this issue. If a suitable fixity is declared for `_≡_`, then David's code parses.

I'm aware of one remaining regression, see the commit comment above. I think I prefer the new behaviour to the old one, so I'm leaning towards not fixing this regression. Are there any objections to this?

[2016-05-06 12:33] asr opened #1966 "Missing Travis test for the documentation in pdf"
Blocked by https://github.com/rtfd/readthedocs.org/issues/1556.

[2016-05-06 13:03] andreasabel opened #1967 "Improve error "Instance search can only be used to find elements in a named type""
[code]

reports

[code]

This error should come earlier, at formation of {{A : Set}} -> Set.

[2016-05-06 13:34] andreasabel commented on #1967
For now, I just made instance search lazier, so the more helpful error

[code]

comes first.

[2016-05-06 13:51] #1967 closed, assigned to andreasabel

[2016-05-08 06:56] arey0pushpa commented on #1962
Updated version to agda Agda version 2.6.0

Warning (agda2): Note that the variable agda2-include-dirs is
no longer used. You may want to update your configuration. You
have at least two choices:
- Use the library management system.
- Set the include path using agda2-program-args.

One way to avoid seeing this warning is to make sure that
agda2-include-dirs is not bound.

??? what to do now.

trie

[2016-05-08 07:14] UlfNorell commented on #1962
In `~/.agda` create two files, `libraries` and `defaults`, with the following content:

[code]

(But replace `/path/to/agda/stdlib` with the actual path to where you have the standard library)

[2016-05-10 20:18] andreasabel commented on #1848
Well, in the second case there is no source for a name for the variable `_`.  The constructor has type `(_ : D) -> D`, and the pattern gives name `_` to it, so it stays `_`.  The context printer drops variables that have no name (for whatever reason).  In the first case, the name `x` comes from the type of `foo`.  It is not entirely surprising what happens here, and nothing seems particularly brok

[2016-05-10 23:52] #1848 closed, assigned to andreasabel

[2016-05-11 13:46] Saizan opened #1969 "Primitives in types of patterns cause internal error"
Taking primForce as an example of a primitive that can return a type, the following code causes and internal error:

[code]

[code]

[2016-05-11 13:57] #1969 closed, assigned to Saizan

[2016-05-11 21:48] mjustus commented on #1952
I did some detective work with `git bisect`. The majority of the additional time spent on type-checking appears to be due to commit 85716a62899fd032073240f2915923b130adfb3a. I re-ran the test case from above using a recent, unmodified copy of master (db021bec38daafa3c95f4c6325592b18cc3ffa1d) and the same version but with commit 85716a62899fd032073240f2915923b130adfb3a manually reverted:

|  | db02

[2016-05-12 04:29] asr opened #1970 "agda-tests: Broken compilation with GHC 8.0.1"
[code]

[2016-05-12 04:34] #1970 closed, assigned to asr

[2016-05-12 05:04] UlfNorell commented on #1952
That means that some thinking will be required to fix this. 85716a6 fixes an obvious bug where instance constraints were simply forgotten. It seems clear that we need to be more careful about when we try to solve instance constraints.

[2016-05-12 06:24] andreasabel commented on #1969
The prime force...
I don't even know what `primForce` is good for... :D

[2016-05-12 07:31] UlfNorell commented on #1969
It's `seq`. With call-by-name compile time evaluation controlling strictness can be quite important. Also run-time of course.

[2016-05-12 14:16] asr opened #1971 "Missing support for GHC 8.0.1"
Last edit: 2016-05-21

Known issues:
- Travis test for Haddock fails
- ~~Missing Travis test when building using the `-f uhc` option~~

Issues related to the UHC backend:
- ~~pqueue (see https://github.com/lspitzner/pqueue/issues/2) which is required by uhc-util~~
- ~~uhc-light (see https://github.com/UU-ComputerScience/uhc/issues/71)~~

  ~~From https://github.com/UU-ComputerScience/uhc/issues/73

[2016-05-12 14:18] asr commented on #1799
GHC 8.0.1 (source tarball) was released, so I'm closing this issue. Please use #1971 for reporting new issues related to this version of GHC.

[2016-05-12 14:18] #1799 closed, assigned to asr

[2016-05-12 15:07] asr opened #1972 "Remove support for GHC 7.6.3"
Since we are supporting GHC 8.0.1 (with exception of the UHC backend), I'll remove the support for GHC 7.6.3.

[2016-05-12 16:40] nad commented on #1972
What does this mean? Are you changing Agda so that it does not compile using GHC 7.6.3, or are you no longer testing Agda under GHC 7.6.3?

[2016-05-12 16:42] nad commented on #1971
See also https://github.com/danr/geniplate/issues/5.

[2016-05-12 16:46] nad opened #1973 "Internal error related to overloaded projections"
[code]

[2016-05-12 16:52] asr commented on #1972
The first one.

[2016-05-12 16:56] asr commented on #1971
I fixed that geniplate issue in https://github.com/danr/geniplate/pull/4.

[2016-05-12 17:23] nad opened #1974 "Internal error, possibly related to instances"
[code]

[2016-05-12 17:40] nad commented on #978
This issue seems to have been fixed.

[2016-05-12 17:40] #978 closed, assigned to nobody

[2016-05-12 17:52] nad opened #1975 "Type-incorrect instantiated overloaded constructor accepted in pattern"
[code]

See also #279.

[2016-05-12 18:41] nad commented on #1972
I don't see the point of this. I don't think we should go to extra lengths to support old versions of GHC or other dependencies, but spending time actively removing support seems counterproductive to me.

[2016-05-12 19:06] #1951 closed, assigned to nad

[2016-05-13 08:06] andreasabel commented on #1972
I tend to agree with Nisse.  Some folks do not update their GHC frequently.  I remember Guillaume Brunerie working with a ghc 7.0 still two years ago or so.

It would be sufficient to drop support for ghc 7.6 once it causes us extra work.

Ubuntu 14.04 LTS is still on ghc 7.6, and 16.04 LTS has just been released.  I have not upgraded to 16.04 yet as it is a bit fresh and others might be postponin

[2016-05-13 10:02] jmchapman commented on #1972
I think we should also keep in mind that Agda gets installed on lab machines/servers at universities. Of course you can install ghc yourself locally but this makes the installation even more complicated.

For reference/example I talked to our IT support here who use ubuntu:
For lab machines they do upgrades in the summer, so will move from 14.04 to 16.04 then, in that sense it is not enough to jus

[2016-05-13 10:33] UlfNorell commented on #1972
For me It comes down to whether people are still using 7.6. If there are distributions that come with 7.6 we should of course try to support it. Once reasonable people can be expected to have moved to 7.8, actively removing 7.6 support is simplifying the code base quite a bit.

[2016-05-13 10:39] nad commented on #1972
I can imagine that it can be harder to run `git bisect` if we remove support too aggressively. For instance, when I run `git bisect` I often use a script that removes the version bound for `cpphs`, and I would not want to complicate things even further.

[2016-05-13 10:47] jmchapman commented on #1972
@UlfNorell: Concretely, at my institution we will still be using 7.6 until the middle of September 2016. I expect that others might be slower than this.

[2016-05-13 13:58] asr commented on #1972
I thought we are only supporting the last _three_ major versions of GHC. I'll reverse the commits.

[2016-05-13 14:02] asr commented on #1972
You can use the `-f -cpphs` cabal option instead in recent versions.

[2016-05-13 14:02] #1973 closed, assigned to nobody

[2016-05-13 14:20] nad opened #1976 "Type-incorrect instantiated projection accepted in pattern"
[code]

See also #1975.

[2016-05-13 14:28] asr commented on #1972
I reverted the commits.

[2016-05-13 15:30] andreasabel commented on #1974
Here is a bit of an analysis:

[code]

[2016-05-13 15:32] andreasabel commented on #1972
Thanks!

[2016-05-13 15:39] andreasabel commented on #1976
In the bidirectional world, a projection does not have any parameters.  Only if you use a projection as a function then it makes sense to assign it a type that fixes its parameters.
I know we are not fully consistent with this view of things, but this is the direction in which I would like to move.
I hold a similar view on constructors (#1975).  As constructors they are always polymorphic, as func

[2016-05-13 15:54] nad commented on #1976
We should at least treat constructors and projections in the same way.

[2016-05-13 19:51] nad opened #1977 "Out-of-scope operators sometimes included in operator grammar?"
Consider the following code:

[code]

Agda correctly rejects this code, but I think the error message is strange:

[code]

Why is `[_]` (claimed to be?) included in the grammar? If `M.undefined` is replaced by `Set`, then the error message is more reasonable:

[code]

[2016-05-13 21:33] favonia opened #1978 "Expansion of "~/" in the library listing"
This is a feature request. I think it would be useful to support path expansion `~/` in the listing of `.agda-lib` files.

[2016-05-14 22:26] asr opened #1979 "Broken compilation (process-extras 0.3.4)"
[code]

[2016-05-14 22:30] #1979 closed, assigned to asr

[2016-05-15 16:03] jespercockx opened #1980 "Arguments of rewrite rules don't have to be bound"
Currently, it is allowed to declare rewrite rules that have arguments that are not bound by the left-hand side. In particular, by adding an absurd argument this allows the creation of arbitrary rewrite rules without actually having an element of the rewrite relation. For example:

[code]

Maybe we should require that all arguments of the rewrite rule are bound in the left-hand side? Or alternative

[2016-05-15 18:26] jespercockx commented on #1980
It's not possible to call the constraint solver or instance machinery from the ReduceM, so the second option is not really feasible (and we probably shouldn't have reduction depend on the constraint solver anyway). So I'd say we just have to go for the first option: require all variables to be bound by the LHS. I don't think this will break too many things, but I could be wrong...

[2016-05-15 21:11] andreasabel commented on #1980
I agree, we should only allow relevant bindings (in the sense of lambda-I calculus). This is your option 1.  Option 2 would correspond to conditional rewriting which is a whole new story.

[2016-05-17 08:40] andreasabel opened #1981 "Rewriting of projections"
Andy Pitts reports that he would like to rewrite projections:

[code]

Currently, rewriting of projections is not supported, since terms are in spine form.

[2016-05-17 08:58] andreasabel commented on #1981
Due to our spine form, the following is allowed

[code]

and counts as a rewrite rule for `act` (not for `swap`)!
Currently, rewrite rules are organized by head symbol wrt. spine form.  If we allow rewriting with projections, we have to consider different heads of a term, e.g., in `swap act`, which is internally `act. swap`, both rewrite rules for `act` and `swap` have to be considered.

[2016-05-17 10:11] amp12 commented on #1981
OK. So with rewriting as it is currently, I could get round the problem, case-by-case, by using data types instead of record types. For example

[code]

[2016-05-17 10:36] jespercockx commented on #1980
I have a fix, but this breaks https://github.com/agda/agda/blob/master/test/Succeed/Issue1652-2.agda:

[code]

gives `plus0p  is not a legal rewrite rule, since the following variables are not bound by the left hand side:  A`. I guess this is to be expected?

[2016-05-17 10:38] jespercockx commented on #1980
Now I'm just requiring _all_ variables to be bound in the LHS. Maybe it's enough to do this only for all variables that are used in the definition of the rewrite rule.

[2016-05-17 12:16] andreasabel commented on #1981
Indeed, if it not too much of a hassle, a workaround seems best at the moment.
You can keep the rewrite rules in the record if you want.

[code]

[2016-05-17 12:55] andreasabel commented on #1980
Here is a variant of your example:

[code]

`x` is not ``used in the definition of the rewrite rule'', I suppose?
So to prevent your paradoxical example, probably the strict checking is the safe variant.

[2016-05-17 13:54] jespercockx commented on #1980
It is used in the body of `funny`, which is what I would check (in addition to checking whether it is used in the RHS, which we do already).

[2016-05-17 15:41] mietek opened #1982 "Internal error due to new unifier?"
Here’s a somewhat minimised test case:

[code]

`ren-true--pass` works as intended.  I would have expected to have to declare the type of `A`, but I accidentally tried to typecheck `ren-true--fail`, which triggers the error.

[2016-05-17 15:51] andreasabel commented on #1982
No internal error raised with Agda 2.4.2.6.

[2016-05-17 15:55] andreasabel commented on #1982
@jespercockx Could that be due to the new unifier?  With verbosity `tc:30`, one of the last messages of Agda is

[code]

Then Agda crashes.

[2016-05-17 15:57] andreasabel commented on #1980
Ok. Sounds plausible.

[2016-05-17 16:16] mietek commented on #1982
This was in Agda 2.5.1.

[2016-05-18 07:27] UlfNorell opened #1983 "Instance modules ({{...}}) forget their telescope"
[code]

[2016-05-18 07:41] #1983 closed, assigned to nobody

[2016-05-18 09:30] andreasabel commented on #1982
Indeed, the current version has this problem, but not the last, so I labeled it as "regression".

[2016-05-18 14:41] andreasabel opened #1984 "Positivity checking fails with spurious mutuality"
[code]

The second version, where `Fun` is included (without need) in the mutual block, fails with error

[code]

[2016-05-18 18:50] Blaisorblade opened #1985 "Regression with open public"
Hi!
Just tried Agda 2.5.1 on my infamous inc-lc/ilc-agda codebase, which you might remember from #1712. This time, I only got _two_ seemingly distinct substitution bugs, and one looks like minimizable. I'm first building stable-2.5 to check if the bug is still there, I'll try minimizing later.

https://github.com/inc-lc/ilc-agda/commit/d43fb2f89ef473dccaa4c9fcc455c8cbc9963bd5

[code]

Here's the o

[2016-05-18 18:51] Blaisorblade commented on #1712
@asr I'm sorry I never answered; I finally got back to this, and `Parametric.Change.Validity` typechecks on 2.5.1, but I got stuck on an error on the next file, https://github.com/agda/agda/blob/2.5.1/src/full/Agda/TypeChecking/Substitute.hs#L93 — essentially, on any use of the code in https://github.com/inc-lc/ilc-agda/commit/bc0f697e345522fad65844eed07cba984158e3b7. I should check what exactly f

[2016-05-18 19:58] Blaisorblade commented on #1985
I reproduced this on the `stable-2.5` branch, and minimized this to the following.
My further attempts at minimization fail.

Required ingredients:
- have an `open import SomeModule public` inside a parameterized module `Foo`.
- rename `Foo` to `Bar` (this was originally, IIRC, an `import Foo as Bar`).
- apply `Bar` to a type-correct argument.

The bug can produce errors in different locations, so

[2016-05-19 07:17] andreasabel commented on #1985
Thanks for the test case!
The external `import` is not needed, also not the final `open`.  Here is another shrinkage:

[code]

This is a regression since at least 2.4.2.2.  It works fine with 2.3.2.

[2016-05-19 07:23] andreasabel commented on #1985
@UlfNorell seems we are not done with the "open public" series of bugs.

[2016-05-19 07:37] nad opened #1986 "Copattern matching with catch-all is inconsistent"
Consider the following code:

[code]

Agda fails to see that the pattern matching in `f` is complete:

[code]

Is this intended?

[2016-05-19 07:47] andreasabel commented on #1986
I think so.  At least I cannot see which case-tree this should compile to.

[2016-05-19 07:57] andreasabel commented on #1986
Here is a variantion of puzzle:

[code]

This has a much more interesting behavior:  Agda crashes with

[code]

[2016-05-19 08:17] nad commented on #1984
I'm not intimately familiar with how occurrences are computed (I've only optimised the code, not really tried to understand it), but here's some data:

In `Works` we get the following edges for `El`:

[code]

In `Fails` we get the following edges:

[code]

The third and fifth edges are different.

We get the following graph for `Works`:

[code]

For `Fails` we get the following graph:

[code]

Not

[2016-05-19 08:20] andreasabel commented on #1986
I am replacing that "irrefutable pattern" error by a proper **IMPOSSIBLE** for now.

[2016-05-19 08:32] andreasabel commented on #1984
I don't know the semantics of occurrences.  What does this mean:

[code]

They close a cycle which does not exists if `Fun` is taken out of the mutual block.

[2016-05-19 08:44] nad commented on #1984
The first (0-th) argument of `Fun` occurs negatively to the left of an arrow in the definition of `Fun`.

[2016-05-19 12:16] andreasabel commented on #1984
Discussion with Nisse.  The following, which just introduces a "newtype" for `(x : El A) → El (B x)`, should actually also work:

[code]

In the end, we do not understand why even the basic induction-recursion

[code]

works.  It is somehow hoped that positivity checker and termination checker together rule out all bad uses of induction-recursion, but it is not obvious they do.  Maybe by being dum

[2016-05-19 15:05] nad opened #1987 "Constraint involving postulate with associated rewrite rule not postponed?"
Consider the following code:

[code]

The code is rejected:

[code]

However, it is accepted if `refl` is replaced with a hole, the module is loaded, and `refl` is given in the hole. The code is also accepted if `f` is replaced by `g` in the body of `d₃`.

I guess that the problem is that Agda treats `f` as an inert postulate, even though there is a possibility that the meta-variable `_44` may lat

[2016-05-20 07:01] arey0pushpa commented on #1962
bash: cd: /home/mokambo/.agda: No such file or directory
Installed agda version 2.6.0 from git repo. like stated.

mokambo 12:50 PM ~/ agda --version
                                     Agda version 2.6.0

[2016-05-20 07:11] UlfNorell commented on #1962
`mkdir ~/.agda`?

[2016-05-20 07:23] arey0pushpa commented on #1962
No use. Same Report / warning in emacs .

Warning (agda2): Note that the variable agda2-include-dirs is
no longer used. You may want to update your configuration. You
have at least two choices:
- Use the library management system.
- Set the include path using agda2-program-args.

One way to avoid seeing this warning is to make sure that
agda2-include-dirs is not bound.

[2016-05-20 07:32] arey0pushpa commented on #1962
previously there was just problem of compatibility btw the summer agda-lib and version of summer school code.  Now after new agda install things got worse.

Should i undo the " Agda2 Program Args " :

It looks like this now

INS DEL String: —include-path=.
INS DEL String: —include-path=/home/mokambo/agda-stdlib-0.12/src
INS DEL String: include-path=/home/mokambo/agda-stdlib-0.12/src
INS DEL String

[2016-05-20 07:35] UlfNorell commented on #1962
My suggestion was to use the library system to avoid having to mess with include paths (but flags start with double dash, as you can see if you do `agda --help`).

[2016-05-20 08:28] laMudri opened #1988 "MAlonzo crashes when compiling Agda.Builtin.Equality"
I'm trying to fix the Hackage-derived `Agda-2.5.1` package for Nix. All of the `.agdai` files need to be built from the `.agda` files in `lib/prim/Agda/`, which I am doing using

[code]

where `$out` is a bit like the root directory. This compiles the first few files correctly, but gets stuck at `lib/prim/Agda/Builtin/Equality.agda`, with the following error.

[code]

[2016-05-20 08:43] andreasabel commented on #1988
It looks a bit dangerous to just call `agda` to compile stuff in `Agda-*/lib`.  Are you sure the Agda versions match?

[2016-05-20 08:51] UlfNorell commented on #1988
That's clearly a bug, but like Andreas I don't quite understand what you are trying to do.

If all you need is the `.agdai` file then you don't need `-c`. Also is there a reason you can't use `Setup.hs` which does create the `.agdai` files when you `cabal install` Agda?

If you really do need the compiled code (.hs and .o) then a workaround is to first type check and then compile:

[code]

[2016-05-20 08:52] laMudri commented on #1988
The build is done in isolation, so there are no other Agda versions (or `Agda-*/` subdirectories) in sight. The `$out` directory from a previous successful build looks like this (truncated to a level of 4):

[code]

[2016-05-20 08:55] laMudri commented on #1988
Ulf, I'll take a look at some of those options. I was taking the approach I was because that's what was done for previous versions. All I need is to have everything built so that I never have to write to the `$out` directory again.

[2016-05-20 09:39] UlfNorell opened #1989 "Reflection does not respect instance parameters to constructors"
Since 1432ff4 instance parameters remain instance in the type of constructors. This change has not been taken into account when quoting constructors.

Test case:

[code]

[2016-05-20 10:01] UlfNorell commented on #1989
Seems like it's not just reflection that didn't get the memo:

[code]

[2016-05-20 10:39] #1989 closed, assigned to nobody

[2016-05-20 11:06] arey0pushpa commented on #1962
Okay, At least its loading now... Still few prob during compiling .   Now i understand what u have suggested besides changing the include path. Still One issue to run my agda program

File saved as Babe.agda :

module Babe where
import Level

test : {T : Set} → T → T
test = λ x → x

After compilation :
    The IO action ‘main’ is not defined in module ‘MAlonzo.Code.Babe’

??? Searching internet do

[2016-05-20 11:08] Blaisorblade commented on #1985
@andreasabel
Thanks for the further shrinkage!

I just confirmed your reduced example also works with 2.4.0.2 and fails with 2.4.2 (if the prebuilt Agdas I have have the correct version). This is consistent with the versions where `ilc-agda` could be ported to, and (IIRC) with the source of the other `open public` bugs.
I'm trying to bisect the bug down to the source.

But to state the obvious (an

[2016-05-20 11:15] UlfNorell commented on #1962
You need a main function if you want a runnable program. With `agda-prelude`:

[code]

[2016-05-20 14:29] Blaisorblade commented on #1985
FWIW, I managed to `git bisect` this all the way down to 7d3036bb9640720973f7acf94302babb339dd90c, the original fix mentioned in https://github.com/agda/agda/issues/892#issuecomment-129026286.

[2016-05-20 15:28] jespercockx commented on #1987
Seems to be an instance of issue #1663. I'm not sure yet why the fix in 8aaf1056f249498f09d04eeb8363cbd3a0951416 doesn't work in this case...

[2016-05-20 16:08] andreasabel commented on #1985
Ah that infamous monster patch.

[2016-05-20 16:46] laMudri commented on #1988
Indeed, checking all of the files before compiling any of them means that everything will compile successfully. It's a workaround, I think, so the issue still stands.

[2016-05-21 06:30] asr commented on #1971
The uhc-util issue https://github.com/UU-ComputerScience/uhc-util/issues/8 was fixed in version 0.1.6.6 and the uhc-light issue https://github.com/UU-ComputerScience/uhc/issues/71 was fixed in version 1.1.9.4. I'm testing the UHC backend with UHC 1.1.9.4.

[2016-05-21 08:00] asr commented on #1791
The above commit was actually for Issue #1971.

[2016-05-21 15:16] jespercockx opened #1990 "Warning when final arguments of rewrite relation are hidden?"
Since we can have a heterogeneous rewrite relation now, you'd think you can use standard heterogeneous equality as the rewrite relation. However, this does not work as expected:

[code]

Adding a rewrite rule of this type rewrites the type B to an element of that type, which is almost certainly not what's intended (though you never know...). Instead, you need the following version:

[code]

Maybe

[2016-05-21 17:15] asr commented on #1971
The pqueue issue lspitzner/pqueue#2 was fixed in version 1.3.1.1.

[2016-05-21 17:21] asr commented on #1971
I updated the OP.

[2016-05-21 21:54] asr opened #1992 "Travis test for Haddock fails using GHC 8.0.1"
Haddock in GHC 8.0.1 requires too much memory so Travis is killing the process.

[2016-05-21 21:56] asr commented on #1971
I filed #1992 for this problem.

[2016-05-21 21:56] #1971 closed, assigned to nobody

[2016-05-22 14:48] Blaisorblade opened #1993 "Regression on datatype injectivity on 2.5.1 (?)"
Are there untracked known issues with HeterogeneousEquality (--with-K) under Agda 2.5.1?

I’m having trouble with code that worked before, and found nothing on the bug-tracker (modulo mentions of a new unifier by @jespercockx).

In particular, it _seems_ a _datatype_ I have is no more considered injective, so I need the blanket  --injective-type-constructors to get previously working code to be ac

[2016-05-22 16:59] jespercockx commented on #1993
This is working as intended: previously you could prove injectivity of the `Var` type constructor, now you have to enable `--injective-type-constructors` explicitly. Maybe you want a way to enable injective type constructors only for specific types?

[2016-05-22 17:02] jespercockx commented on #1993
See also issue #1406. In particular:

[2016-05-22 18:22] Blaisorblade commented on #1993
I've looked at #1406 and #292, and again at the original thread from 2010 in Chung Kil Hur.

What I know is that my Var type seems much less dangerous than his example or the one in #1406 (parameterized by functions on Set!). And maybe I do want injective type constructors only for specific types.
- Thorsten Altenkirch argued earlier that at least List should be (provable to be) injective...
  htt

[2016-05-23 08:44] asr commented on #1879
I could reproduce the error in the OP using UHC 1.1.9.4:

[code]

[code]

[2016-05-23 09:45] asr commented on #1988
I could reproduce the issue:

[code]

Works:

[code]

Doesn't work:

[code]

[2016-05-23 09:46] asr commented on #1988
I fixed the above example.

[2016-05-23 11:42] asr commented on #1988
I guess there are two issues/questions here: Why the built-ins are removed when creating the interface files and why the built-ins aren't handled by the GHC backend.  I'll have a look at it.

[2016-05-23 19:45] amp12 opened #1994 "src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs"
Agda 2.5.1 when run on the attached file reports:

An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs:287
[NonLinMatch-bug.agda.zip](https://github.com/agda/agda/files/278133/NonLinMatch-bug.agda.zip)

[2016-05-24 11:53] jespercockx commented on #1993
Yes, I'm sorry for the short response. You're right that this should definitely be documented somewhere.

Currently, Agda has no way to detect type constructors that are injective, nor a way to mark specific type constructors as such. So the fact that this example used to work in older versions of Agda was by accident, as it relies on injectivity of `Var`.

I understand, however I believe it is a

[2016-05-24 13:07] Blaisorblade commented on #1993
Thanks for your supportive answer!

Makes sense, thanks. If implementable, something that is compatible with LEM but not with univalence would be an interesting option. In case autodetecting types that are injective is hard (as I assume), a "way to enable injective type constructors only for specific types", as you proposed, could be cool.

Regarding possible workarounds (which one might mention i

[2016-05-24 20:31] jespercockx commented on #1994
The problem seems to be that the argument `(r : Path A x y)` of the `seq` is not bound by the pattern, but it's used in the LHS. This causes an internal error when trying to match. We should do a check that all free variables in the LHS are bound somewhere, as we already do for the RHS.

However, fixing the bug in this way would mean your rewrite rule would be rejected with the error "... is not a

[2016-05-24 20:35] jespercockx commented on #1994
See also #1980 for another instance where we should check that certain variables are bound but we currently don't.

[2016-05-24 21:40] amp12 commented on #1994
On 24 May 2016 at 22:06, Jesper Cockx notifications@github.com wrote:

I could explain what I had in mind, but since I was just experimenting
I don't think it's worth doing so --  I'm happy for Agda to report
that an attempted rewrite rule is illegal and try to work around that
(which I can do in this case in fact by just dropping the offending
rewrite rule): better that than causing an internal e

[2016-05-26 09:21] MatthewDaggitt opened #1995 "Correct names in goal types after multiple renaming imports."
When importing a module multiple times and renaming the same term,  the goal types involving those terms aren't aware of which renaming to look for. For example:

[code]

gives the goal  as `?0 : Foo` whereas you'd probably expect it to give `?0 : Bar`.

In the trivial example above it isn't a problem as the type `Bar` and `Foo` are actually identical. However it is a problem when combining the ab

[2016-05-29 21:44] #1953 closed, assigned to asr

[2016-05-30 06:01] andreasabel commented on #1995
With the current architecture, this is hard to fix.  Currently Agda's scope checker translates the concrete name `Bar` into the abstract qualified name (`A.QName`) `Data.Bool.Bool`, which has two concrete names associated to it (`Bar` and `Foo`).  In the internal syntax, only `A.QName`s are present.  Upon printing internal syntax, the "best" concretization of names is chosen.  In this case, the be

[2016-05-30 11:00] andreasabel commented on #1990
An error seems fine for the moment.  We can wait for the complaints if that should be too restrictive.

[2016-05-30 12:15] jespercockx opened #1996 "Case splitting instantiates implicit function"
Case splitting can instantiate variables that have an implicit function type, even though the result is not type-correct. This even happens when a different instantiation would produce a valid result:

[code]

Case splitting on p results in the following:

[code]

Error message:

[code]

[2016-05-30 12:30] andreasabel commented on #1996
It looks a bit fishy also that Agda chooses `f` as name for pattern `x`.

[2016-05-30 17:16] asr opened #1997 "Confused error message when incorrectly duplicating a rewrite rule"
By incorrectly duplicate `{-# REWRITE plus0 #-}`, I got the confused error message below:

[code]

[2016-05-30 18:43] jespercockx commented on #1997
What's confusing about the error message? Once you've added the rule the first time, the left-hand side is no longer neutral, so you cannot add another rewrite rule with the same type.

[2016-05-31 09:30] jespercockx commented on #1982
This took quite some time to debug, but in the end the problem turned out to be that the result of `getContextTelescope` is not yet fully instantiated, so I had to add a `instantiateFull`. This problem was invisible in the debug output since prettyTCM _does_ instantiate the term before printing. In order to avoid problems like this in the future, I think we should either instantiate all metas in `

[2016-05-31 12:53] jespercockx commented on #1996
It seems that the case splitter was producing the correct pattern, but it gets mangled up by the `shuffleDots` function in InternalToAbstract. I'm wondering if we actually need this function, if I just remove it then this test goes through fine. However, it causes some problems in the test cases for issues #800 and #811. I'm investigating further...

[2016-05-31 14:06] #1996 closed, assigned to jespercockx

[2016-05-31 14:07] #1982 closed, assigned to jespercockx

[2016-05-31 16:12] andreasabel commented on #1997
I guess in case the user accidentially adds the same rule twice, we could give a simpler error message, like: "you already added this rewrite rule".  Or we could simply ignore it as redundant pragma.  Probably the former is better (error).

[2016-05-31 16:12] mietek opened #1998 "A postulate, a parameterised record, and an instance argument walk into a non-linear slowdown"
This code takes an unreasonable amount of time to typecheck.  The amount of time can be increased or decreased by adding or removing constructors of the `Baz` datatype, or adjusting the complexity of these constructors.  When the code does finally typecheck, unsolved metavariables remain.

The issue can be avoided by removing the `p` record parameter, _or_ the `asBaseT` instance declaration.

[cod

[2016-05-31 16:17] andreasabel commented on #1982
Ah, yes, that is unfortunate.  For the paranoid, you can also add debug messages that simply `show` a `Term`.  These messages should have a verbosity level of >=60 (so that you usually do not have to look at Agda's vomit).

[2016-05-31 16:19] andreasabel commented on #1982
Thanks for fixing!
To whether `getContextTelescope` should be instantiated or not: One way of deciding this is too look at all current uses of it.  However, in general I would like to move away from `instantiateFull` (expensive?) and rather instantiate on demand only.  Most code sits in the TCM monad and does not rely on metas already instantiated.

[2016-05-31 16:24] andreasabel commented on #1996
Thanks!

[2016-05-31 16:43] mietek opened #1999 "applySection buggy for projections"
For the bug to occur, the first module must be parameterised, and it must re-export a definition.

[code]

In the second module, `Atom` may be a parameter, a postulate, or a datatype.  Sorry for the relatively large test case, but I’m not sure how to minimise it further.

[code]

[2016-05-31 20:09] asr commented on #1997
+1

[2016-05-31 23:07] andreasabel commented on #1999
Can also be reproduced with a single file importing from `Common.Product`:

[code]

[2016-06-01 08:09] andreasabel opened #2000 "Agda hardly builds out-of-the-box, according to the build matrix"
http://matrix.hackage.haskell.org/package/Agda

[2016-06-01 08:38] UlfNorell opened #2001 "Unsound fix of #679"
The fix to #679 (a020ab4) makes implicit arguments be eagerly inserted for checking where clauses, but not for right-hand sides. This only works if the right-hand side immediately binds the implicit variable, which isn't necessarily true. The below example uses a pattern lambda in the right-hand side making things go spectacularly wrong:

[code]

[2016-06-01 09:47] #2001 closed, assigned to UlfNorell

[2016-06-01 10:39] #1994 closed, assigned to jespercockx

[2016-06-01 10:39] #1980 closed, assigned to jespercockx

[2016-06-01 11:41] asr commented on #2000
The latest released version (2.5.1) supports  GHC 7.6.3, 7.8.4 and 7.10.3, so I will remove the labels related to other versions of GHC.

[2016-06-01 11:55] asr commented on #2000
Recent versions of Alex and Happy don't build with the versions of cabal shipped with GHC 7.6.3 or 7.8.4, so the problem associated to Edison is not a "real" problem. In other words, the user needs a recent version of cabal for installing Agda.

[2016-06-01 11:55] #2000 closed, assigned to nobody

[2016-06-01 12:53] UlfNorell commented on #679
Slight variation

[code]

[2016-06-01 13:43] andreasabel commented on #679
My patch fixes the "Slight variation" example of UlfNorell.

[2016-06-01 17:41] andreasabel opened #2002 "Spaces should separate pathes in library file"
Often I write in my `.lib` file

[code]

and then Agda looks for stuff in directory `a b` instead of in `a` and `b`.
I propose to treat a space as separator here.  Spaces in path names should be escaped.

[2016-06-01 21:41] #1997 closed, assigned to andreasabel

[2016-06-01 22:13] andreasabel commented on #1999
This has nothing to do with instances, actually:

[code]

Agda crashes when the projection is applied.

[2016-06-01 22:22] andreasabel commented on #1999
Further shrunk:

[code]

[2016-06-01 22:54] andreasabel commented on #1999
Ah this is just a silly bug in the code for projections in Signature.applySection.  It was `ts` when it should be `ts'`. Sigh.

[2016-06-01 22:55] #1999 closed, assigned to andreasabel

[2016-06-01 22:56] mietek commented on #1998
I think the unsolved metavariables signal that the parametrised record `ParamT` gives rise to multiple in-scope instances.  My expectation is that defining `ParamT` should not yield any instances; only when `ParamT` is applied to an argument an instance should appear in-scope. Please let me know if this is incorrect.

[2016-06-01 23:02] andreasabel commented on #1999
@UlfNorell:  Seems like this issue was introduced by your monster patch https://github.com/agda/agda/commit/7d3036bb9640720973f7acf94302babb339dd90c for #892.
I hate you!

[2016-06-01 23:10] andreasabel commented on #1679
See also #1999.

[2016-06-01 23:27] asr commented on #1997
Thanks!

[2016-06-01 23:34] andreasabel commented on #1985
`argsToUse` fails to compute the right amount of applications for this example.

[code]

I don't understand `open public` in parametrized modules, and neither does Agda.

[2016-06-01 23:43] andreasabel commented on #892
Reopening because of #1985, which demonstrates that `open public` in parametrized modules is not understood.  I still think the semantics should change so that definition in a parametrized module carry the parameters, regardless of whether they entered the module by definitions or `open public`.

[2016-06-02 00:17] andreasabel commented on #87
Now the following is accepted:

[code]

This seems to allow to change the dotting (the binder is now before the `y`, at least it looks like this).  However, the following is rejected:

[code]

Error:

[code]

This looks weird.

[2016-06-02 04:53] UlfNorell commented on #87
Well yeah. You're allowed to name dot patterns from the parent clause, not dot binders from the parent clause.

[2016-06-02 04:53] #87 closed, assigned to UlfNorell

[2016-06-02 05:18] UlfNorell commented on #1985
Well clearly this is a bug. I think the best (and easiest) solution is to eta expand the application in `Fails`.

[2016-06-02 05:23] UlfNorell commented on #892
You can't say that `open public` is not understood every time there's a bug... My performance concerns still stand. You could make a branch with the changed behaviour and ask @WolframKahl to run his RATH library to see how bad it would be.

[2016-06-02 07:54] andreasabel commented on #1986
@nad You filed the exact same issue as #842 three years ago.  I found a comment in `Coverage.Match`.

[2016-06-02 08:38] andreasabel commented on #1986
In fact, the case-tree compilation and matching needed only few changes to accommodate this feature.  However, probably the ghc backend will crash.
Indeed:

[code]

I am replacing this error by

[code]

@phile314 Could you extend the ToTreeless translation to account for copatterns with catch-alls?

[2016-06-02 09:17] andreasabel commented on #1947
It now explains that this name does not constitute a valid module name.

[2016-06-02 09:18] #1947 closed, assigned to andreasabel

[2016-06-02 14:10] #1990 closed, assigned to jespercockx

[2016-06-02 14:13] jespercockx commented on #1987
Fixed by f21aa28c1a5b8cad06b0f220fb6a630e4130783e

[2016-06-02 14:13] #1987 closed, assigned to jespercockx

[2016-06-02 14:25] #1931 closed, assigned to jespercockx

[2016-06-02 16:14] andreasabel commented on #1931
Thanks!  Was this fixed by https://github.com/agda/agda/commit/f21aa28c1a5b8cad06b0f220fb6a630e4130783e ?

[2016-06-02 16:21] jespercockx commented on #1931
Yes, both problems turned out to be caused by the lies that there were no blocking metas.

[2016-06-02 21:50] phile314 commented on #1986
I can give it a go in the next few days.

[2016-06-02 22:48] phile314 commented on #1986
The catchall combined with copatterns looks very strange to me. Do catchall clauses really make sense in copatterns? And should the following example really typecheck!?

[code]

[2016-06-03 06:01] UlfNorell commented on #1986
What madness is this?! Catch-alls should absolutely not be allowed for copatterns.

[2016-06-03 06:06] UlfNorell commented on #1986
Case in point

[code]

[2016-06-03 06:17] andreasabel commented on #1986
Good point!  (Very-dependent types are subtle!)

[2016-06-03 07:34] #1986 closed, assigned to andreasabel

[2016-06-03 07:38] andreasabel commented on #1986
So, the morale seems to be: With copattern matching (or very-dependent function types), dead code can lie about the typing in redundant matching.  Without very-dependency, it seems to be tolerable, even though

[code]

is not pretty to behold.

[2016-06-03 08:29] jespercockx commented on #1986
I don't see what this has to do with very dependent types. Isn't Ulf's example just exploiting non-confluence of copatterns with catchalls? `p` evaluates to `true , tt`, but `fst p` evaluates to `false`.

[2016-06-03 12:36] andreasabel commented on #1986
With very dependent types, you can encode `Sigma Bool T` as `{f : (x : Bool) -> if x then Bool else T (f true)}` and then replay Ulf's counterexample as:

[code]

and then `f false : (if false then Bool else T (f true)) = T (f true) = T false = Bot`.

[2016-06-03 16:16] jespercockx opened #2003 "Set detection is not a conservative extension of MLTT"
When --without-K is enabled, Agda currently tries to detect datatypes that do satisfy K (such as `Nat`) in order to reintroduce the deletion rule on a more limited basis. For example, this ensures that the following code is accepted:

[code]

Without this feature, it is still possible to construct UIP by induction on `m`:

[code]

This is probably not the nicest way to do it, but at least you can

[2016-06-03 16:18] jespercockx commented on #2003
A few possible solutions:
- remove the set-detection feature of the unification algorithm
- make definitions like UIP-Nat be _strict_ in their arguments `m` and `n`, i.e. only reduce if these are closed terms
- ignore it and wait until someone finds a way in which this is actually incompatible with some extension of MLTT, then see what we can do to fix that issue

[2016-06-03 21:57] andreasabel commented on #2003
I would ignore this for now.  So far, the HoTT people have little interest in definitional equality.

[2016-06-06 09:59] mietek opened #2004 "`DISPLAY` should be more pragmatic"
I’d like to use `Data.List.Any` from the standard library _and_ have readable goals.  I tried the following, but was rebuked:

[code]

The only [documentation for `DISPLAY`](https://github.com/agda/agda/blob/ab65a0ad66a23561da35a32c235ff8051940d313/CHANGELOG#L203) says lambdas are not allowed. I’m not sure if `(_≡_ x)` qualifies as a lambda; it seems like a partially-applied defined function to me

[2016-06-06 11:09] andreasabel commented on #2004
I like the pun.

I think display forms are probably not allowing nested function symbols. Not even this simple thing works.

[code]

The error message is trash, of course.  (If you ask me, the whole feature is ... (censored).)

[2016-06-06 15:59] Blaisorblade commented on #1732
I see that would be one way of addressing the problem, and I'm afraid I can't help there. The old algorithm was also fine.

But I've just learned that the Lean theorem prover makes a point of supporting these scenarios, and describes this approach in a [paper](http://arxiv.org/abs/1505.04324). Quote:

The quote is from https://homotopytypetheory.org/2015/12/02/the-proof-assistant-lean/#comment-978

[2016-06-06 16:01] Blaisorblade commented on #1732
Orthogonally, @mietek had found quite a few examples of breakage — starting from @pigworker's encoding of a HOAS frontend for typed deBrujin indices.

[2016-06-06 16:15] Blaisorblade opened #2005 "Proposal: start shipping stack (or Cabal) configuration for reproducible builds"
I'd like to contribute stack configs to support reproducible builds of Agda, so that I can ensure an Agda codebase can be rechecked in the future by simply copying the stack config from github.

If using Stack is controversial, I understand reproducible builds could also be provided through cabal via `cabal freeze`.

Here's a Stack config for Agda 2.5.1/2.5.2:
https://gist.github.com/Blaisorblade/

[2016-06-06 16:26] identicalsnowflake opened #2006 "Better error message for out-of-scope deBruijn index in tactics"
[code]

`printTerm` causes Agda to panic here, but if I just comment out the pattern-matching line `printTerm (var x args) = "0"` (and leave the rest unchanged), it works. I'm using `master` branch from within the last day or so.

[2016-06-06 16:33] mietek commented on #1732
(To avoid trouble, I have to stress the front-end is HOAS-_like_.)

Here’s @pigworker’s 2010 “classy hack” (`Untyped.Good`) and 2013 “modern convenience” (`Typed.UsedToBeGood`):
https://gist.github.com/mietek/3b37dc77c28ec797f7d4eb90f7f5a9b0

The former still works, but the latter doesn’t.  Context extensions `Ξ` and instance arguments `q` are left unsolved, in line 134:

[code]

However, adding e

[2016-06-06 16:41] mietek commented on #2005
I’m in favour of providing a `cabal freeze` file together with each Agda release.

[2016-06-06 16:48] mietek commented on #1998
This may be related to https://github.com/agda/agda/issues/1952.

[2016-06-06 17:08] scott-fleischman commented on #2005
I've had people successfully build Agda 2.5.1 by installing `stack` then running `stack install --resolver nightly-2016-05-08 Agda`. I imagine it should work now with `--resolver lts-6.2` but I haven't tried it.

[2016-06-07 07:32] nad commented on #1986
@andreasabel, the following [insane](https://github.com/UlfNorell/insane) code is rejected:

[code]

[2016-06-07 07:43] nad commented on #2003
I suggest that set detection should only be enabled if the user asks for it using a flag. Should this flag be safe or unsafe?

[2016-06-07 10:33] jespercockx commented on #2003
I would probably mark it as unsafe for now, as the computational consequences of it haven't really been grasped yet. We could also allow users to mark specific (data)types as sets themselves with a pragma, e.g. `{-# HSET Nat #-}`.

[2016-06-07 12:18] #78 closed, assigned to UlfNorell

[2016-06-07 13:14] andreasabel commented on #78
Good things come to those who wait!  Thanks!

[2016-06-07 13:24] andreasabel commented on #1986
For what reason?

[2016-06-07 13:30] nad opened #2007 "Internal error for "⦃ ... ⦄" for record type with constructor but no fields"
Consider the following code:

[code]

Result with a recent development version of Agda:

[code]

Result with Agda 2.3.0.1:

[code]

[2016-06-07 13:45] andreasabel commented on #2007
Congrats, this is a record-short code for producing an internal error!

[2016-06-07 13:51] andreasabel commented on #2007
Crashes at the same point as #1985.  Visible with `{-# OPTIONS -v tc.mod.apply:100 #-}` thanks to https://github.com/agda/agda/commit/7a39fa95bea42b77410e434ee4fbe8c7acfd8351.

[2016-06-07 14:19] nad opened #2008 "Three different internal errors, all caused by the same small commit"
The following three (rather similar) modules trigger three different internal errors:

[code]

[code]

[code]

[code]

[code]

[code]

This is a regression, and `git bisect` points to "[ refactor ] use module parameter substitution to compute freeVarsToApply" (5e555839df2794dd86f440c3a2577eac316283d4).

[2016-06-07 14:28] nad commented on #1986
[code]

The constructor `unit` on the last line has type `Unit`, but should have type `T (g true)` (which reduces to `Empty`).

[2016-06-07 15:43] UlfNorell commented on #1986
The insanely dependent type checker is not so easily fooled!

[2016-06-07 15:59] #2008 closed, assigned to nobody

[2016-06-07 18:03] #2007 closed, assigned to nobody

[2016-06-07 18:37] UlfNorell commented on #2006
Here's a simpler example:

[code]

There should be a better error message when tactics produce out-of-scope deBruijn variables.

The reason the `var`-clause of `printTerm` makes a difference in your example is that without it `printTerm x` reduces to `"1"`. When it's there `quoteTerm (printTerm x)` will be `def (quote printTerm) (var 1 [] :: [])`, which has an out-of-scope deBruijn index. Note tha

[2016-06-07 19:32] identicalsnowflake commented on #2006
Ah, nice! Ok, using the above, I changed my original example to this:

[code]

which behaves as expected. However, something still isn't right near here -- it's probably a different issue, but it's triggered by almost the same example. The first thing I tried to do was redefine `printTerm` to `printTerm x = ?` and case split with `C c x`. Agda tells me "An internal error has occurred, please repor

[2016-06-07 20:23] UlfNorell commented on #2004
Indeed display pragmas are a little bit limited. The left-hand side of a display pragma is scope checked as a function definition left-hand side, so you can use variables (and wildcards) and constructor patterns.

The main use case is to display specialised calls to overloaded functions using the overloaded names, as you can see in the documentation.

Feel free to suggest a design for (or implemen

[2016-06-07 20:31] UlfNorell commented on #2006
Wow, that's funny. The problem is that the hole in the right hand side of `printTerm` is also exactly the same hole that's in the right hand side of `test`, since it got quoted by the macro. The case split then gets confused since it doesn't know which function to split.

@andreasabel has been itching to fix that code for the last 6 years, so I'll leave it up to him.

[2016-06-08 02:35] asr commented on #2005
I'm not familiar with `stack`. The latest released version (2.5.1) is in Stackage, isn't it enough?

[2016-06-08 02:38] asr commented on #2005
Agda currently supports four versions of GHC. Can I use the same `cabal freeze` file for different versions of GHC?

[2016-06-08 05:47] andreasabel commented on #2006
Well, I was itching to make a hole remember which clause it belongs to (and that might be easy to fix), but I do not know about duplication/sharing of holes...
I will fix the 6 year old issue.

[2016-06-08 06:13] UlfNorell commented on #2006
If the hole knows which clause it belongs to duplication won't be a problem. You always want the split in the original location (`printTerm` not `test`).

[2016-06-08 08:00] nad opened #2009 "Enable more warnings? Support MonadFail proposal"
GHC 8.0.1 introduces `-Wcompat`, which "Turns on warnings that will be enabled by default in the future". I tried this out, and got the following error message:

[code]

If this will become an error in a future release, then it might be a good idea to address this warning right away.

[2016-06-08 08:02] #1988 closed, assigned to asr

[2016-06-08 08:50] UlfNorell commented on #1978
Not sure what you're asking. Environment variables are expanded in `~/.agda/libraries`, which is the only place where there should be any absolute paths.

[2016-06-08 09:40] #1349 closed, assigned to andreasabel

[2016-06-08 09:56] andreasabel commented on #2006
I guess we can close this issue.  Reopen if necessary!

[2016-06-08 09:56] #2006 closed, assigned to andreasabel

[2016-06-08 12:30] UlfNorell commented on #1959
Seems to be a duplicate of #1974. After fixing that both examples give `No instance of type...` errors (as expected?).

[2016-06-08 12:30] #1959 closed, assigned to UlfNorell

[2016-06-08 12:32] UlfNorell commented on #1958
This isn't a bug per se. The case-splitting warranty is void if you write some cases by hand.

[2016-06-08 12:45] #1974 closed, assigned to nobody

[2016-06-08 12:51] UlfNorell commented on #1955
This is a little subtle. Suppose you have an unsolved constraint `C` (in the example `Y unit`) and are looking at a candidate instance solution `t : D`. Now suppose `C` fails after solving the instance problem with `t : D`. There are two scenarios:
- `C` fails for unrelated reasons (like in the example above), in which case we want to report a failure to solve `C`
- `C` fails because we solved the

[2016-06-08 13:02] UlfNorell commented on #1955
But see #1998 and #1952 for some indications that this problem needs to be solved.

[2016-06-08 14:01] favonia commented on #1978
@UlfNorell You are right. I made a mistake. However `~/` is still not expanded. The description and the title are updated.

[2016-06-08 14:24] scott-fleischman commented on #2005
Yes, I believe having released versions of Agda in Stackage is enough. I guess my point was that since Agda is in Stackage, it's a one-line command at the terminal to build and install Agda using the [stack](http://haskellstack.org/) tool.

The following command should build/install Agda 2.5.1. This works because Agda-2.5.1 is in Stackage [LTS Haskell 6.2](https://www.stackage.org/lts-6.2)
`stack

[2016-06-08 15:19] UlfNorell commented on #1978
Feel free to submit a PR. For now you can always use `$HOME` instead of `~`.

[2016-06-08 15:35] Blaisorblade commented on #2005
## Regarding stack

I agree this helps a lot for some scenarios, but is not enough in other ones. I'd volunteer to support them with at least Stack.
- We can debate whether to support the other ones I list below — and you might decide you don't are about all the advantages I list (which would be reasonable).
- Or you can accept contributions and then I can contribute the build files and even maint

[2016-06-08 15:46] Blaisorblade commented on #1985
Thanks for the fix!
1. Would it be possible to backport it to 2.5.2?
2. FWIW, while all my minimizations work, https://github.com/inc-lc/ilc-agda/commit/d43fb2f89ef473dccaa4c9fcc455c8cbc9963bd5 still crashes on the same line. Message:

[code]

The offending line is indeed the same as before.

Now:
https://github.com/agda/agda/blob/fc1c191ea0fdf94c082d5647f9d07b0fea55a49e/src/full/Agda/TypeChecking

[2016-06-08 15:56] asr commented on #2005
Dear `stack` configuration maintainer :-)

Please create a PR using the stable-2.5 branch.

[2016-06-08 16:10] UlfNorell commented on #1985
The fix is already on `stable-2.5` (2.5.2).

[2016-06-08 16:36] Blaisorblade commented on #1985
Here's a new minimized (and self-contained) version, done on top of master (fc1c191ea0fdf94c082d5647f9d07b0fea55a49e). It seems I needed two nested parameterized modules, but maybe yet more shrinking elsewhere is possible. I also got a crash on https://github.com/agda/agda/blob/fc1c191ea0fdf94c082d5647f9d07b0fea55a49e/src/full/Agda/TypeChecking/Substitute.hs#L400, though I assume the source of the

[2016-06-08 18:12] asr commented on #1985
Where GitHub suggested otherwise?

[2016-06-08 18:47] Blaisorblade commented on #1985
@asr:
Uh, I was (semi-)wrong, sorry for the noise. Anyway, I was referring to `master` here.

![image](https://cloud.githubusercontent.com/assets/289960/15905863/c3d4b19e-2db6-11e6-835a-dc91b7c3a9a6.png)

I assumed that place list branches containing the commit, but that's not true for commits on the default branch (here `master`): https://help.github.com/articles/commit-branch-and-tag-labels/

[2016-06-09 07:02] andreasabel commented on #1958
The situation arises when I already have a completely defined function by pattern matching, but then change the representation of my data-type and may have to do some deeper matching in some cases.

Ideal Agda would only produce code it can parse back in, so this is why I labelled it as bug.  But fair enough, could rather be seen as enhancement.

[2016-06-09 07:13] andreasabel commented on #2005
@Blaisorblade Please go ahead and add this feature! Please be prepared to maintain it as well.

[2016-06-09 08:28] nad opened #2010 "Size solver forgets to solve trivial constraints?"
Agda rejects the following code:

[code]

Result:

[code]

Why are these constraints not solved? The size `j` is declared to be strictly smaller than `i`.

The following definition of `A` is accepted:

[code]

[2016-06-09 09:05] nad opened #2012 "Polarity checker lies"
Consider the following code:

[code]

Agda complains:

[code]

However, debug printouts suggest that the polarity of `F`'s argument is `Nonvariant`. Why is the code still rejected? I would have hoped that the code would be accepted even if the polarity was `Contravariant`.

[2016-06-09 12:53] andreasabel commented on #2012
What Agda is doing is (we always weak-head normalize in conversion testing):

[code]

This obviously fails.  `Q` is a postulate hence arbitary, so why should it preserve any variances?

The problem is that the output of the polarity checker is not consistent, as it only takes the positivity checker's verdict and makes it a bit weaker by making dependent quantifications `Invariant`.
Since the posit

[2016-06-09 12:53] vlopezj opened #2013 "CI main build for GHC 7.8.4 segfaults"
The job https://travis-ci.org/agda/agda/jobs/136407817 segfaulted when installing dependencies. All other tasks in [the build](https://travis-ci.org/agda/agda/builds/136407810) seem to work fine.

Strangely enough, my commit https://github.com/agda/agda/compare/e3472d7c1441...b43e3ae21a0d does not touch any files related to Cabal.

~~It might to be related to the zlib issue (https://github.com/agd

[2016-06-09 12:56] jespercockx commented on #1958
I'll take a shot at fixing/enhancing this.

[2016-06-09 12:56] asr commented on #2013
Just restart the job.

[2016-06-09 12:56] andreasabel commented on #2013
This can be a coincidence, did it happen persistently or just once.

[2016-06-09 12:59] andreasabel commented on #2010
Looks like it is the same problem as in #1896.

[2016-06-09 12:59] asr commented on #2013
This issue and #1518 are not related.

[2016-06-09 13:43] UlfNorell commented on #2013
This happens about every other run. It's quite annoying.

[2016-06-09 14:10] andreasabel commented on #2013
Well, it is a free service.  We do not pay, so cannot complain a lot.  Surprisingly, complaining to travis still works sometimes (@asr did so successfully once).

[2016-06-09 14:17] asr commented on #2013
The job in the OP is running, so I'm closing the issue.

[2016-06-09 14:17] #2013 closed, assigned to nobody

[2016-06-09 14:35] #1958 closed, assigned to jespercockx

[2016-06-09 14:55] vlopezj commented on #2013
Both master and stable-2.5 build now without segmentation faults. Thanks for all the help.

[2016-06-09 19:32] Blaisorblade commented on #2010
#1896 is about docs, is that maybe #1894?

[2016-06-09 21:02] identicalsnowflake opened #2016 "Name conflict with Data.Foldable on GHC 7.10+"
[code]

Breaks on CI with GHC 8.x and for me locally on 7.10.3.

[2016-06-09 21:18] asr commented on #2016
This issue is fixed in [this](https://github.com/agda/agda/pull/2015) PR. @Blaisorblade will merge the PR.

[2016-06-09 21:30] identicalsnowflake commented on #2016
Ok thanks I'll use that for now.

[2016-06-09 21:51] #2016 closed, assigned to nobody

[2016-06-09 21:52] asr commented on #2016
Fixed by 1bdc79d.

[2016-06-09 22:18] Blaisorblade commented on #679
@andreasabel Because of your patch, this should be closed (IIUC). Doing that to tidy up.

[2016-06-09 22:18] #679 closed, assigned to andreasabel

[2016-06-09 23:21] Blaisorblade commented on #2002
Makes sense. If one just forbids spaces, the change seems to be just:

[code]

[2016-06-10 00:52] Blaisorblade commented on #1942
I'm taking a look at this. The type error in https://github.com/agda/agda/issues/1942#issuecomment-213065349 is introducing by adding at least one of GADTs or TypeFamilies.

I'm trying to add all extensions in the list, minus those debates or that introduce at least one compile error.

The experiment shows that adding a "safe" extension can still introduce compile errors — but we can detect those

[2016-06-10 01:12] Blaisorblade commented on #1942
I've noticed that NondecreasingIndentation was excluded on purpose. However, it's enabled by default _and_ disabled by Haskell2010, and it's used in at least one file:

[code]

[2016-06-10 10:46] nad commented on #2012
The code is still rejected if `Q` is replaced by a data type:

[code]

This seems wrong to me.

On the other hand, the old code is accepted if the pointless mutual block is removed. Your argument suggests that this is also incorrect.

[2016-06-10 11:30] nad opened #2018 "Shadowing parameters are sometimes renamed"
Agda rejects the following code:

[code]

Error message:

[code]

I don't think that Agda should change the type of `R` in this way.

[2016-06-10 12:23] Blaisorblade commented on #2002
I've committed that it in 4f9c04ad4fc110a4657e7a9f9bec6eb6f1497720, and it appears to work as expected in minimal testing on one testcase. It seems easy enough and I didn't find a testsuite to extend; if you prefer adding a testsuite this would take more time.

[2016-06-10 12:53] radams78 opened #2019 "Internal error when compiling literate Agda"
Compiling the attached code with agda --latex crashes with the message:

An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/Interaction/Highlighting/LaTeX.hs:495

The problem is somewhere in the last 15 lines.  If the definition of botsub3-Rep\up3, the file compiles.
[Botsub.txt](https://github.com/agda/agda/files/309000/Botsub.txt)

[2016-06-10 13:21] Blaisorblade commented on #1978
@favonia I hope it's no problem if I beat you to it. Testing it now, but that commit has a couple thinkos I gotta fix — I need to add support for escaping `~`.

[2016-06-10 13:27] andreasabel opened #2020 "lambda-where crashes on case split in emacs-mode"
[code]

Splitting `b` fails in the emacs mode with

[code]

It gets even better!
Consider the file extended with some commented out extended lambda, like:

[code]

Case splitting `b` will now "succeed", yielding

[code]

Yes, your eyes do not fail you: The case splitting happened in the commented out code!!

[2016-06-10 13:29] andreasabel commented on #2020
@UlfNorell After all one line of code at the AIM breakfast was not enough. Too bad!

[2016-06-10 13:30] andreasabel commented on #2019
Thanks for reporting!
Please provide a self-contained test case, ideally a MWE (minimal working example).

[2016-06-10 13:42] favonia commented on #1978
@Blaisorblade Thanks for your commit! I haven't found time to dig into the Agda code. At first glance it seems `~` is expanded wherever it appears, but it should only be expanded at the beginning. I was referring to a simplified version of http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_06_01 where no login names are taken into consideration. (That is, we can only r

[2016-06-10 14:21] nad opened #2021 "Rewriting broken in the presence of sized types"
The following code is rejected by Agda:

[code]

Error message:

[code]

The code is accepted if `g` and `h` are defined separately rather than in a mutual block, and also if the `Size` type is replaced with a postulated type `S : Set`.

[2016-06-10 14:38] asr commented on #2005
@Blaisorblade Shouldn't  `stack.yaml` be added to the `extra-source-files` field in `Agda.cabal`?

[2016-06-10 14:43] asr opened #2022 "Stack configuration is not tested in Travis"
@Blaisorblade I assigned you this enhancement.

[2016-06-10 14:45] Blaisorblade opened #2023 "Include git hash in Agda version"
On a prerelease version, `agda --version` is certainly very unspecific. Other software includes additionally the git commit at build time, and a marker if the tree was dirty, and I'm already at the point where I wish it for Agda. Would you accept a PR for this?

I'm preparing a prototype based on https://mail.haskell.org/pipermail/haskell-cafe/2012-February/099654.html; the dependency is not on St

[2016-06-10 14:56] jespercockx commented on #2021
With --show-implicit, the error message is:

[code]

The rewrite rule doesn't fire since it assumes that the `{A : Set}` argument of map is the same as the `{A : Set}` argument of `[_]`, but in this case they're `D ω` and `D .i` respectively. The code works if you change the definition of `h` to the following:

[code]

It also works if you change the type of `rejected` to `∀ {i} (x : D i) → h ([_]

[2016-06-10 14:57] asr commented on #2023
+1

What we need to do in releasing time for removing the Git hash from the version?

[2016-06-10 15:03] UlfNorell commented on #2020
Ah, I guess it was too good to be true. I'll try to limit the emacs mode patch to a one liner though.

[2016-06-10 15:07] asr commented on #1942
I was surprised that so many language extensions were accepted by the four versions of GHC, so I changed my mind on the above suggestion.

[2016-06-10 15:11] UlfNorell commented on #2023
@nad did some research on this at the latest AIM and we concluded it required more hackery than it was worth. I believe that might have been with the goal of getting the commit hash into the repository though. Just baking it in at compilation time should be less trouble.

[2016-06-10 15:25] Blaisorblade commented on #1942
@asr Local extensions = the language directives in sources, right? Removing them sounds good, but doing it eagerly might be lots of work. I'll see if I can get a decent result semi-automatically with `grep -v`, but I'll need to review the result.

[2016-06-10 15:30] asr commented on #1942
Right.

[2016-06-10 15:33] Blaisorblade commented on #1942
Also: what I enabled were just the extensions that could be enabled with minimal changes. I'm sure one could try adding the other ones that caused problems (ScopedTypeVariables, GADTs, BangPatterns, TypeFamilies), one would just have to do it one extension at a time. But I'd say that's for after #2017.

[2016-06-10 16:01] Blaisorblade commented on #2023
Yes; using TemplateHaskell makes this simpler than going, e.g., through `Setup.hs` (see https://gist.github.com/hvr/656738, now even bitrotten).

I think this forces each release to be actually tagged, but that's now part of the workflow anyway
I'm tempted to rely almost entirely on the output of `git describe`, since it's designed exactly for this purpose and it's been there since forever. When t

[2016-06-10 16:13] andreasabel commented on #2023
Ad 2: Yes, I think the agda-mode does not change so often, also not the interface to the agda-mode, so the match does not have to be commit-precise.

[2016-06-10 16:26] andreasabel commented on #2002
I guess we do not need a testsuite for this.
Thanks a lot!
Is this already on stable and master?

[2016-06-10 16:27] andreasabel commented on #2010
Ah yes, indeed.

[2016-06-10 16:34] mietek opened #2024 "Panic: Unbound name"
[code]

Admittedly, this is a rather silly thing to do, but there’s no reason to panic.

[2016-06-10 16:45] asr commented on #2024
The original name `Aczel77.Foo` was more interesting :-)

[2016-06-10 16:51] Blaisorblade commented on #2002
Now it is :-)

[2016-06-10 16:51] #2002 closed, assigned to Blaisorblade

[2016-06-10 21:49] asr commented on #2023
In releasing time, we change the version in these [files](https://github.com/agda/agda/blob/7445ce495b3caa11265571ee711cfc87aa9fb29a/notes/agda-releases-candidates#L8-L16).

Which files are you talking about?

[2016-06-10 21:58] asr commented on #2023
It didn't work. After cloning your [wip/2023](https://github.com/Blaisorblade/agda/tree/wip/2023) branch and running the following commands:

[code]

the version reported by Agda is

[code]

[2016-06-10 22:07] Blaisorblade commented on #2023
No, I simply talked about Haskell files that import `Agda.Version` hence get recompiled. I don't want to increase too much the minimal build time.

Sorry I was unclear — I didn't implement that yet. But in that tree, `git describe --dirty --always --match '*.*.*'` should (hopefully) give 2.5.2.
BTW, since you cloned the branch: I might force-push it.

[2016-06-10 22:19] asr commented on #2023
No yet...

Your branch didn't pass the test-suite.

[2016-06-10 22:23] asr commented on #2023
It is "funny" you cite this section when discussing a commit that includes TemplateHaskell.

[2016-06-10 22:30] asr commented on #2023
Yep.

[2016-06-11 06:28] UlfNorell opened #2025 "Distinguish instance solutions with/without constraints"
Currently we compare potential solutions for equality (too see if they're really the same), even if they have leftover constraints. This is not safe to do. I can't provoke an error without first fixing #1952, #1955, and #1998 though.

Test case:

[code]

[2016-06-11 06:43] #1952 closed, assigned to nobody

[2016-06-11 06:43] #1955 closed, assigned to nobody

[2016-06-11 06:43] #1998 closed, assigned to nobody

[2016-06-11 06:43] #2025 closed, assigned to UlfNorell

[2016-06-11 06:43] andreasabel commented on #2023
Nice article, the one by Stephen Diehl.

[2016-06-11 06:49] UlfNorell opened #2026 "Bug fix release 2.5.1.1"
We might want to consider a `2.5.1.1` bug fix release. I just fixed a serious performance bug with instance arguments: #1952 and #1998 (and the related #1955 and #2025).

I'll create a `release-2.5.1` branch and cherry pick the relevant commits. Are there any other serious bug fixes we might want to include?

[2016-06-11 07:04] andreasabel commented on #2024
Scope checking is done out of order here.
A related problem may be

[code]

which looks non-sensical (and dangerous) to me.

[2016-06-11 07:09] andreasabel opened #2027 "Free variables in pattern synonym (WAS: Recursive pattern synonym)"
[code]

[2016-06-11 07:26] UlfNorell commented on #2026
Done.

[2016-06-11 07:39] #2024 closed, assigned to andreasabel

[2016-06-11 07:40] andreasabel commented on #2024
Continuing the pattern synonym issue on #2027.

[2016-06-11 07:41] andreasabel commented on #2027
At least I removed the loop.  But still this is accepted probably because `c` becomes a variable.

[2016-06-11 09:11] UlfNorell commented on #2027
It would not be unreasonable to require variables in pattern synonyms to be bound by the left-hand side. Here's a quiz:

[code]

[2016-06-11 09:18] Blaisorblade commented on #2023
That implementation is very "preliminary" — which is why I didn't even send a PR yet :-)

In case you have a technical concern: that guide discourages TemplateHaskell, indeed, but it seems this usage is the safest possible, and the cost of running `git` should hopefully dwarf the cost of interpreting the few lines to launch the process and process its result. (I'm no expert on TemplateHaskell prob

[2016-06-11 12:34] andreasabel commented on #2019
Actually. I could reproduce the problem.  There must be a non-standard space somewhere in your file, like a non-breaking space (BACKSLASH SPACE) or some other esoteric space, e.g. BACKSLASH SEMICOLON.

[2016-06-11 14:29] asr commented on #2026
I could mention some _closed_ regressions related to Agda <= 2.4.2.6, but I'll ask a different question. Are there issues stopping us from releasing the current stable-2.5? I have no objections in release the current stable-2.5.

[2016-06-11 14:31] UlfNorell commented on #2026
There have been quite a lot of new developments on stable. I'd prefer to give them a few weeks of testing before considering a release.

[2016-06-11 16:19] asr commented on #2026
Our recent final releases were one or two weeks after the release of their RCs. I don't see any problem in releasing a final release a few weeks (or months) after its RC.

Moreover, we can use Hackage [package candidates](http://hackage.haskell.org/packages/candidates/) feature for announcing the RC.

[2016-06-11 16:42] UlfNorell commented on #2026
The thing is the bug I fixed is really crippling 2.5.1, making instance arguments all but useless in some situations. I'd rather not wait a few months before getting that fix released. If we rush out 2.5.2 it will (likely) contain serious bugs in the new features.

[2016-06-11 17:05] mietek commented on #2026
Could we also get the new layout syntax for pattern-matching lambdas?

[2016-06-11 17:09] UlfNorell commented on #2026
No. That will have to wait for the 2.5.2. Also, #2020.

[2016-06-11 18:28] UlfNorell commented on #2026
Not to mention that we have 27 open issues for milestone:2.5.2.

[2016-06-11 18:46] UlfNorell commented on #2026
Those are exactly the kind of issues I was thinking of.

[2016-06-11 19:18] asr commented on #2026
The fixed regressions related to Agda <= 2.4.2.6 are #1950, #1951 and #1982.

[2016-06-11 19:38] mietek opened #2028 "Postponed extended lambda leads to ambiguous extendedlambda-name"
This happens when attempting to fill either of the holes (`C`-`space`).

[code]

[2016-06-11 20:02] Blaisorblade opened #2029 ".travis.yml don't use pre-built versions of Alex or Happy"
Starting from 22df2d6c952b97fd95725f9feb60e8d0c56de88c, `.travis.yml` installs old cabal-install versions using `multi-ghc-travis`, then runs `cabal install cabal-install`. It looks odd and I don't get why — @asr, do we need to keep this?

Finally, compiling `cabal-install` takes precious time on Travis — the same holds for `alex` and `happy` BTW. For all these tools, we should be able to use prec

[2016-06-11 20:29] UlfNorell commented on #2026
I'll see if I can cherry-pick the fixes to `release-2.5.1`.

[2016-06-11 20:34] Blaisorblade commented on #1475
Isn't UHC indeed tested on Travis? Closing, please reopen if I'm wrong.

[2016-06-11 20:53] UlfNorell commented on #2028
Here's a simplified and self-contained test case:

[code]

It looks like the problem is that the pattern lambda is getting postponed, but I have no idea how that is causing the internal error. The `__IMPOSSIBLE__` is triggered because the pattern lambda function is both in the signature for the current file and in the imported signature (where it really shouldn't be).

[2016-06-11 22:09] WolframKahl commented on #2026
How about commit a87578f1c874a4b0498fcc2f078db8602d438c12 (which “Removed killRange call”), another performance improvement?

[2016-06-11 23:04] Blaisorblade commented on #2026
Personally, I'd love the partial fix to #1985 a06c2095c7668a34406c4c7f4c8f4be1ee17af86 to get in, if you agree — though that's a regression from earlier and the fix is not complete, it even changes semantics for working cases, and a new fix might change them again...

I'm using a snapshot either way, so I can also live without that fix in a release for now.

[2016-06-11 23:12] asr commented on #2029
There were some problems using some versions of Cabal with recent versions of Alex and Happy (see for example [this](http://stackoverflow.com/questions/25104367/ghc-incompatibility-installing-haskell-src-exts-via-cabal/25138529#25138529)  question/answer) some time ago. I don't know if install the latest version of Cabal is currently necessary.

Which was the Travis output for https://github.com/B

[2016-06-11 23:22] asr commented on #1475
No.

[2016-06-11 23:33] Blaisorblade commented on #2029
Those are both still building on Travis (actually, they haven't yet started, I seem to have flooded Travis). In particular,
https://github.com/Blaisorblade/agda/pull/3 maps to https://travis-ci.org/Blaisorblade/agda/builds/136984930 and https://github.com/Blaisorblade/agda/pull/4 maps to https://travis-ci.org/Blaisorblade/agda/builds/136987701.

I see why those links recommend the newest Happy and

[2016-06-11 23:57] asr commented on #2029
Please push these commits if the Travis builds are successful.

I saw it.

[2016-06-12 02:38] asr commented on #2019
I also could reproduce the example using the [Univalence](https://github.com/radams78/Univalence) repo.

@radams78  the non-standard space is your OP example is in the line 182

[code]

The space between `≡⟨⟨`and `sub-compSR` is a NARROW NO-BREAK SPACE' (U+202F).

[2016-06-12 03:18] asr commented on #2019
@andreasabel Did you start to work on this issue? I'm asking because you self-assigned the issue but I also can fix it.

[2016-06-12 06:45] #2021 closed, assigned to jespercockx

[2016-06-12 07:21] andreasabel commented on #2019
@asr Please go ahead. I guess a fix would mean to generalize the check against `' '` to a more unicode compatible check near the offending location.

[2016-06-12 07:44] andreasabel commented on #2027
Indeed, I was thinking along the same lines, so I opened this issue.  Where is the original discussion about pattern synonyms?  I wonder what the original designers had in mind by allowing free variables on the rhs...

Seems like the free variable issue was never discussed in the original proposal at #495.

[2016-06-12 07:52] spwhitton opened #2032 "Emacs mode should use package.el"
Hello,

It would be nice if the Emacs mode was packaged as a package.el package.

Here is a sample `agda2-mode-pkg.el`:

[code]

Thanks.

[2016-06-12 08:02] UlfNorell commented on #2027
My best guess is that it's an oversight.

[2016-06-12 08:12] andreasabel commented on #2027
What currently is happening for a pattern synonym

[code]

is that first `p` is scope-checked, adding binding for all free names in `p` as pattern variables.  Then the variables `xs` are checked in this scope.  An unbound variable here is an error `Unused variable in pattern synonym`.

The other direction is never checked.  I wonder if this is a feature in combination with hidden arguments or dot

[2016-06-12 12:42] Blaisorblade commented on #2032
Hi. First, thanks for the suggestion! Could you elaborate a bit?
1. Is that code sufficient? Where would it go (OK, probably https://github.com/agda/agda/tree/stable-2.5/src/data/emacs-mode), and how would one take advantage of it? Doesn't one need to also publish it through MELPA/Marmalade/...?
2. Unlike for other modes, the version of agda-mode must match exactly the version of Agda, which often

[2016-06-12 18:57] #2019 closed, assigned to asr

[2016-06-12 19:02] Blaisorblade commented on #2029
Using Alex and Happy was not a problem.

But the build fails with GHC 7.6.3 and cabal-install 1.18: https://travis-ci.org/Blaisorblade/agda/jobs/136982131
The failure is consistent but I didn't manage to reproduce it yet — reproducing a similar environment leads to a successful build. Leaving that alone for now.

[2016-06-12 20:56] #1978 closed, assigned to Blaisorblade

[2016-06-12 21:58] asr commented on #1978
@Blaisorblade please add the 2.5.2 milestone and self-assign this issue.

[2016-06-13 00:17] favonia commented on #1978
Sorry I was busy this weekend. I didn't test so I remained silent, otherwise it looks good to me. :smiley:

[2016-06-13 01:01] Blaisorblade commented on #2009
Yes, this might break as early as 8.2. I'm testing a fix that should still be compatible with older releases without using CPP. On earlier GHCs, using the `semigroups` package will provide the same API.

For further info:
https://ghc.haskell.org/trac/ghc/wiki/Migration/8.0#Librarychanges
https://prime.haskell.org/wiki/Libraries/Proposals/SemigroupMonoid

[2016-06-13 02:51] asr commented on #2009
The above commit doesn't work because the new warnings were enabled _before_ the `-w` option, so those warnings are disabled by this option. I'll revert this commit.

[2016-06-13 03:03] asr commented on #2009
I only removed the wrong part of the commit.

[2016-06-13 03:45] asr commented on #2009
@Blaisorblade in d819d93 you didn't need to add `-Wnoncanonical-monad-instances` and `-Wnoncanonical-monadfail-instances` because you added `-Wcompat`.

In fact, please explicitly use the warnings enable why `-Wcompat` rather that this flag.

Also note that  `-Wnoncanonical-monad-instances` was duplicated.

[2016-06-13 04:31] spwhitton commented on #2032
Dear Paulo,

On Sun, Jun 12, 2016 at 05:42:30AM -0700, Paolo G. Giarrusso wrote:

Yes: see [1].  A tarball containing all the .el files in that directory
constitutes a package.  You could choose to publish that package on
MELPA if you wanted to, but the use case I had in mind does not depend
on that publication -- see below.

As far as I know the Emacs packaging system has no mechanism to keep the

[2016-06-13 07:24] UlfNorell commented on #2026
Added #1950, #1951, #1982, and a87578f to `release-2.5.1`. The case for #1985 isn't clear-cut so I think it's better to leave that out.

[2016-06-13 09:48] Blaisorblade commented on #2009
Whoops sorry. That makes more sense.

Agreed — I did it following recommended practices in https://ghc.haskell.org/trac/ghc/wiki/Migration/8.0#Librarychanges.

I'll do this more properly.

[2016-06-13 09:56] Blaisorblade commented on #2022
Reopening until I confirm the build issues started here are solved.

[2016-06-13 10:07] Blaisorblade commented on #2029
Given the amount of current issues, when I come back to Travis I plan to try (elsewhere) to just always use the latest cabal-install (1.24). Apparently the one we built uses the latest version of the Cabal library, so just installing 1.24 should work.

What's annoying is that, in fact, the build seems to work with an old cabal, just not on Travis 😞

[2016-06-13 10:16] Blaisorblade commented on #2032
Ah, now I get your point, though not yet in full detail (I should study your link more, no time right now).

Would this hurt people using `agda-mode setup`, or alter that setup in any way?
Would one still need to bytecompile code by hand? Avoiding that would be nice.
From my POV, I guess one would need to ensure that setup instructions are up-to-date after the change.

I'll still need to defer to

[2016-06-13 11:23] asr commented on #2029
So, I renamed the issue and I'm closing it.

[2016-06-13 11:23] #2029 closed, assigned to nobody

[2016-06-13 11:32] asr commented on #2009
Please report the issue.

[2016-06-13 12:04] Blaisorblade commented on #2009
What issue? The docs are correct. Maybe I see the misunderstanding — `-Wcompat` doesn't imply those other warnings ([docs](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-warnings.html#ghc-flag--Wcompat)), it only implies `-Wmissing-monadfail-instances` `-Wsemigroup` `-Wnoncanonical-monoid-instances`.

Using only `-Wcompat` would be possible, but I think it is preferable to e

[2016-06-13 12:17] asr commented on #2009
I was wrong, sorry.

[2016-06-13 12:24] spwhitton commented on #2032
On Mon, Jun 13, 2016 at 03:16:37AM -0700, Paolo G. Giarrusso wrote:

Ah, that's another advantage of packages :) I think that if you install
one into your home directory, Emacs automatically bytecompiles it.

Done.

[2016-06-13 12:26] Blaisorblade commented on #2009
No problem :-) (And BTW sorry for all the breakage with Travis.)

[2016-06-13 12:28] spwhitton commented on #2032
And no, I'm pretty sure it wouldn't prevent people installing with the
old method.

[2016-06-13 12:52] asr commented on #2009
It is difficult debugging Travis and its behaviour sometimes is "weird". My rules for modifying it are:
1. Keep as simple as possible
2. Full test the commits in my personal repository before pushing on the main repository
3. Push only one commit at a time

[2016-06-13 14:20] effectfully opened #2034 "An instance arguments related internal error."
I'm doing some generic programming stuff and stumbled upon an internal error. It appears on trying to type check `fail` at the bottom of [this](https://github.com/effectfully/Generic/blob/master/Examples/Fail.agda) file. The error is

[code]

Agda version 2.5.1 (from Hackage).

I don't know how to minimalize the example. Should I attach an archive with files or is the link above enough?