[2019-02-25 18:55] 3abc commented on #3581
What does this mean? Is `[ ... ]` some particular syntactic sugar?

[2019-02-25 19:24] 3abc commented on #3583
Is `ghcomp` already available and can be imported?

Or do I have to define it as (I'm not sure if this is the best way)

[code]

[2019-02-25 19:56] Saizan commented on #3581
@3abc https://github.com/agda/cubical/blob/master/Cubical/Core/Primitives.agda#L49

[2019-02-25 19:58] Saizan commented on #3583
@3abc I don't think it's defined anywhere. Your definition is fine except the type of `u` would be better as `I → Partial φ A`

[2019-02-25 20:22] 3abc commented on #3581
On removing the **cubical** tag: is there an example where we have termination problems without using `I`? If not then it still has something to do with **cubical**.

[2019-02-25 21:11] Saizan commented on #3581
You can replace it by `Bool` as long as the occurences of `foo` in the type of `Z` do not reduce away:

[code]

[code]

[2019-02-26 14:13] nad opened #3590 "Superlinear time required for simple code"
Consider the following code:
[code]
Profiling suggests that the time spent on `Termination.RecCheck` might be roughly quadratic in the size of the code.

Possibly related: #2963.

[2019-02-26 16:12] nad commented on #3590
For code of the following form the majority of the time seems to be spent on `Termination` rather than `Termination.RecCheck`:
[code]

[2019-02-26 18:34] mcoblenz opened #3591 "Internal error given on attempt to make cases for (bogus) function in let-expression"
In the agda emacs mode, if I put the insertion point in the first hole of the code below and press C-c C-c, I get:
[code]

I now know that I can't do pattern matching inside a let-expression, but I didn't realize that initially. I suggest that the new error message explicitly suggest using `where` instead -- and eventually, if possible, extend `let` to permit defining functions by pattern matching

[2019-02-26 18:56] gallais commented on #3591
I think this is #3501 which is fixed in 2.6.0.

[2019-02-26 18:56] mcoblenz commented on #3591
Oh good, thanks.

[2019-02-26 20:54] nad opened #3592 "Strange complaint from the positivity checker"
Consider the following code:
[code]
Agda complains:
[code]
This does not make any sense to me. Does `f` occur in the definition of `P`? Does `g` occur in the definition of `f`?

This is a regression, Agda 2.3.2.2 accepts this code (if a module header is added).

A simple workaround is to remove the `mutual` keyword. However, I encountered this problem in a record module, which is treated as a mutu

[2019-02-26 21:04] nad commented on #3590
An observation: If
[code]
is replaced by `mutual`, then the second example (with 80 identity functions) seems to be accepted much quicker.

[2019-02-26 21:15] nad opened #3593 "More fine-grained caching for record modules"
When I develop code in a record module interactively all the code in the record module is rechecked every time I reload, even if caching is on. I think it would make sense to have more fine-grained caching for record modules.

One problem may be that record modules are currently, in some respects, treated as mutual blocks. (See #2963.)

[2019-02-26 21:20] nad commented on #2963
Perhaps it would make sense to implement a safe version of the old optimisation. Would it be safe to restrict the mutual block to the underlying record type, including definitions that precede some field and definitions inside field declarations (like anonymous lambdas)?

[2019-02-26 21:25] #3591 closed, assigned to nobody

[2019-02-26 22:17] nad commented on #3590
For the first example `Agda.Termination.RecCheck.recursive` seems to be run, for the entire mutual block, *once per definition in the record module*.

[2019-02-26 22:21] nad commented on #3590
The second example seems to have similar problems. Perhaps the profiling machinery allocates the time to the wrong bin.

[2019-02-26 22:35] nad commented on #3590
Perhaps the problem is that the definitions in the record module are not actually mutually recursive, but in some respects treated as if they are. I can make the code type-check much faster by *adding* the `mutual` keyword to the code.

[2019-02-27 08:14] 3abc opened #3594 "Occurs check throws error when a solution is possible by eta expansion"
In the following code snippet, I was trying to define a term `rotIsEquiv'`.

It seems to me this code should **not** work, but it passes type check.

If I inline the definition of `B0` (using that `rot (loop i0) x = x`) then it won't type check. However hiding things inside `pp` will fool the type checker.

[code]

[2019-02-27 12:27] guillaumebrunerie opened #3595 "The doc of --no-auto-inline is not quite accurate"
The doc of `--no-auto-inline` (in https://agda.readthedocs.io/en/latest/tools/command-line-options.html) says
[code]
The word `compile-time` should be removed, as inlining also happens at type checking time and `--no-auto-inline` disables that as well. There should also be a link to https://agda.readthedocs.io/en/latest/language/pragmas.html#inline-pragma there.

[2019-02-27 12:48] guillaumebrunerie opened #3596 "--no-auto-inline is somehow backwards"
Assume we have two files `A` and `B`, where `A` defines a function `f` that Agda decides to mark for auto-inlining, and `B` imports `A` and uses `f`.
In order to prevent `f` to be auto-inlined in `B`, the `--no-auto-inline` flag has to be used on `A` (having the flag on `B` has no effect). This is rather counter intuitive, I would expect `--no-auto-inline` to mean "do not auto-inline functions tha

[2019-02-27 13:53] guillaumebrunerie commented on #3315
I don’t think that the warning "Using primEraseEquality with the without-K flag is inconsistent." is accurate. `primEraseEquality` is not actually inconsistent with `--without-K`, it’s just that `primEraseEquality` implies K, so `--without-K` becomes somewhat useless/misleading, but not inconsistent.

[2019-02-27 15:17] nad commented on #3595
I think the idea is that "compile-time" refers to any part of the process of compiling a program, including type-checking.

[2019-02-27 17:40] 3abc commented on #3594
Here is a simpler version to reproduce this bug

[code]

With the definitions above, the whole definition of `L i` is marked red, with a lot of `Failed to solve the following constraints`, however if for the definition of `B0` I put in `P i0` (which shouldn't give any information in this case), the number of `Failed to solve` constraints is much less.

[2019-02-28 13:53] guillaumebrunerie opened #3597 "Agda loops on simple code with a record and a hole"
Agda loops when trying to type-check the simple code below (which should type-check without any issues). It also ends up using all the memory available although this is not progressive, it alternates between moments where memory usage increases quickly and calm periods.

If the field `A` is taken out of the record (either as a postulate or as a goal), if the argument of `eq` is replaced by `A`, or

[2019-02-28 13:57] guillaumebrunerie commented on #3597
It loops with versions 2.5.4.1 and 2.5.3 as well.

[2019-02-28 14:04] guillaumebrunerie commented on #3597
Memory usage does not seem to increase at all with 2.5.3, but it does with 2.5.4.1 and with master at about the same rate (4.4 G after 30 seconds, 8.7 G after one minute, 17.3G after two minutes).

[2019-02-28 14:10] guillaumebrunerie commented on #3597
It also works if we add `no-eta-equality` in `R`.

[2019-02-28 14:56] mietek commented on #3585
Is #2004 subsumed by this issue?

[2019-02-28 14:59] mietek opened #3598 "Printing goals should respect `DISPLAY` rules defined in parametrised modules"
Contexts for goals within a `with` clause are printed without making use of a `DISPLAY` rule that is used elsewhere.  This is Agda 2.5.4.2.

[code]

[2019-02-28 19:13] 3abc opened #3599 "Bad performance on pathToEquiv"
For cubical mode, the following simple code is very slow to type check:

[code]

[code]

What I put in the definition is just `ua f` inlined, shouldn't be that slow.

And `pathToEquiv` is used quite often (for example when doing `hcomp` in `Set`), so it seems vital to have good performance on this.

[2019-03-01 12:54] andreasabel opened #3600 "Size solver complains, explicit sizes work"
On behalf of DeyaaeIdeen.
[code]
Fails if we write `(_⇒_ A B)` instead.

[2019-03-02 02:10] 3abc opened #3601 "`transp must be fully applied` complained even when it is fully applied"
In the following snippet the result of `transp` is a function. But if I apply it to another variable I got the `transp must be fully applied` error. Putting the `transp` in a `where` clause can bypass this bug.

Similar error also seems to happen to `primPOr`.

[code]

[2019-03-02 09:42] 3abc opened #3602 "A term fills a hole, but Agda complains later"
In the following snippet I encounter a weird bug, namely `refl` fills the hole (using `Ctrl-SPACE`), then later when I load the file it won't type check.

[code]

The error message is `x != t0 of type A`.
It only happens when definition of `t0` comes after that of `t1`.

[2019-03-02 10:09] guillaumebrunerie commented on #3602
This is a well-known issue, see #118.

[2019-03-02 13:04] guillaumebrunerie commented on #3574
Wouldn’t it be simpler to not introduce any new syntax but simply allow rebinding of fixities?
For instance:
[code]

[2019-03-02 17:51] 3abc commented on #3602
Oh, I didn't know this. So is it planned to be fixed?

[2019-03-02 19:51] andreasabel commented on #3602
Issue #118 has been open for 10 years.  Did you know that your life expectancy grows with your age?  Same for issues.
It is unlikely that this issue will be fixed any time soon.  It would require a persistent implementation of Agda's `Signature`, with the risk of huge memory leaks.

[2019-03-02 19:51] #3602 closed, assigned to nobody

[2019-03-02 20:56] andreasabel commented on #3601
Thanks for the report.  Agda seems to reject overapplied `transp`.  However, there is no good reason to do so, @Saizan !?

[2019-03-02 21:39] andreasabel commented on #3566
I have a question about the fix as implemented in #3584, see there.

[2019-03-02 21:43] andreasabel commented on #3391
I suppose all issues with label:cubical should not appear in the change log.

[2019-03-02 22:31] andreasabel commented on #3597
Seems like we are building a cycle here:
[code]
which blows up when we try to eta expand `_16` or type `_15`.
The `metaOccursCheck` does not look into the definition `C` because it is not mutual with `test`.

[2019-03-02 22:49] asr commented on #3391
Right, see https://github.com/agda/agda/issues/3391#issuecomment-463398808.

[2019-03-02 22:54] 3abc commented on #3601
@andreasabel this bug also appears for `primPOr`, and maybe other primitives.

[2019-03-03 04:24] 3abc commented on #3601
@andreasabel Also I don't think `Glue` can be over-applied at all. The result of `Glue` is in `Set ℓ` and cannot be applied to anything.

[2019-03-03 07:33] Saizan commented on #3601
@andreasabel Indeed there's no problem with over-application, just a bug.

@3abc The relaxed check is on `glue`, which can be overapplied if the face is `i1`.

As `conid` cannot be overapplied I think we covered all the affected primitives.

[2019-03-03 12:28] mietek commented on #2369
Still there in Agda 2.5.4.2.  Can we reopen this issue, please?

Here’s the entirety of the message I just received:
[code]

This happened when trying to reload an `Everything` module that imports all other modules.  However, this time, there were no modules with open interaction points in my development at all.  I manually opened and reloaded the other modules, and then reloaded `Everything`, whi

[2019-03-03 12:54] gallais commented on #2369
We probably still need a MWE to be able to make progress on this front.

[2019-03-03 14:23] andreasabel commented on #3601
I have some doubts that my simple fix can also be applied to `primPOr`.  In the cases that I fixed, the type `t1` of the application was not used, but for `primPOr` it is used.  But it is only the correct type to compare `u` and `v` at when the application ends in `v`.

Here a test:
[code]
Agda complains now:
[code]
It seems to compare `u` and `v` at the wrong type.

[2019-03-03 14:26] Saizan commented on #3601
@andreasabel That's fair, we can use `A` then.

[2019-03-03 19:11] #3601 closed, assigned to Saizan, andreasabel

[2019-03-03 19:46] Saizan commented on #3599
I agree it can be a problem. That is the main reason `pathToEquiv` is defined by copatterns, so that Agda expands it less often. What's something you were trying to prove where you encountered this?

Mainly the issue is that the normal form of `pathToEquiv (ua f) .snd .equiv-proof x .snd y` when printed out is over 42MB, and it's going to be computed 4 times to typecheck that definition. (All the

[2019-03-03 20:13] 3abc commented on #3599
So you know we have `ua` which send equivalences to paths and it is defined by
[code]
However it's annoying that `ua (idEquiv A) ≡ refl {x = A}` is kinda hard to prove (is it? let me know if you have a easy proof.)

If I change the definition of `ua` to
[code]
I can easily prove
[code]

Ideally I'd like to have a easy proof of `transport p ≡ transport q → p ≡ q`. It is true and can be proved but I

[2019-03-03 20:18] guillaumebrunerie commented on #3599
Is there a strong reason for having eta in the types involved?

[2019-03-03 20:29] 3abc commented on #3599
How do I ask Agda to show the full normal form? If I do `C-c C-n` it doesn't alway expand things in `where` clause. Isn't it supposed to expand everything? Sometimes normal forms end up containing things like `T.u` (where `T` is the name of the module). Is this a known issue?

[2019-03-03 23:30] WolframKahl commented on #3599
At the source of my knowledge about Cubical, https://github.com/mortberg/agda/blob/cubicaldoc/doc/user-manual/language/cubical.lagda.rst, I find:

I somehow have the impression that using a pattern lambda is quite some overkill, and would expect a more-efficient-and-easier-to-reason-about way to communicate those two endpoints, corresponding to:
[code]
(Are `i = i0` and `i = i1` special patterns f

[2019-03-03 23:39] laMudri opened #3604 "With-abstraction fools the productivity checker"
Following on from [Thorsten's post to the mailing list](https://lists.chalmers.se/pipermail/agda/2019/010902.html), in the following code, Agda mistakenly accepts `f` as productive. We can use this to make the type checker loop on `test`.

[code]

If this
[code]
is replaced by this
[code]
the productivity checker will notice that this definition is not productive. But it believes that the version

[2019-03-03 23:51] mortberg commented on #3599
I'll have to think about whether we can optimize the proof of `pathToEquiv`, but no matter what we should probably not use it at all internally. The idea is that instead of reducing hcomp in U to a Glue with pathToEquiv's we treat hcomp U as a value. We then have to explain transp in hcomp U and this follows the same algorithm as for Glue, except we can do some optimizations as we know exactly whi

[2019-03-03 23:54] mortberg commented on #3599
You can comment and ask questions about the documentation on my pull request: https://github.com/agda/agda/pull/3571

I would very much appreciate comments about what is unclear in that thread.

[2019-03-03 23:57] mortberg commented on #3599
This has a very simple proof using a higher Glue: https://github.com/agda/cubical/blob/master/Cubical/Foundations/Univalence.agda#L44

Can't you just use J twice?

[2019-03-04 00:35] 3abc commented on #3599
Oh I wasn't aware of this! Thanks for letting me know.

Emmm, how?

[2019-03-04 00:40] mortberg commented on #3599
Nevermind, I have to think more about this. You can prove that transport is invertible as follows:
[code]

But I don't see how this helps with what you want to prove... Anyway, we should probably not discuss this further here but rather on the agda/cubical.

[2019-03-04 00:45] 3abc commented on #3599
OK. It would be great if we open a weekly (or biweekly) issue there for free discussion of cubical things. What do you think? Sometimes things like "how to simply prove `ua (idEquiv A) ≡ refl {x = A}`" feels too trivial to open a specific issue for it but having a place for it is good.

[2019-03-04 03:22] molikto commented on #3599
does hash consing mentioned in http://www.cse.chalmers.se/~nad/publications/danielsson-lopez-juan-types2017.pdf this paper might help the situation? (don't know if Agda have it or not

[2019-03-04 08:01] guillaumebrunerie opened #3605 "Improve constraint reporting for cubical"
This is surely well-known but I haven’t found a bug report about it. I find it quite difficult to work with cubical Agda because the constraint reporting on end points is incomprehensible. See for instance the code below.

[code]

Current output when doing `C-c C-l`:
[code]

Expected output:
[code]

In addition, there shouldn’t be any yellow in this file.

[2019-03-04 08:34] Saizan commented on #3599
We could easily try to disable eta for `isEquiv` and see how that impacts proofs. There shouldn't be a fundamental reason for it to have eta.

@mortberg That's fair, but then `hcomp {A = Set _}  u u0` will be its own type former, with introductions and eliminations, and semantics a priori independent from `Glue`.

@molikto I'm interested in more definitive results from that project :) My intuition

[2019-03-04 10:10] Saizan commented on #3599
There's no command to get the eta-long normal form, if that's what you are referring to.

[2019-03-04 10:26] Saizan commented on #3605
How so? There's plenty of unsatisfied constraints around.

I mean, I agree that it's annoying to have so much yellow around, but yellow for unsolved constraints is a fairly expected UI principle of agda.

[2019-03-04 11:43] Saizan commented on #3594
@3abc can you explain why you think the first code block should not work?

As far as I can tell, what's going on is that some definitions lead to agda's unifier doing a better job at inferring the implicit `{A}` argument of `hcomp`. That's something to look into for sure but not quite the same as the typechecker being fooled.

Note that the following also gets accepted (pending definition of `q`,

[2019-03-04 12:16] guillaumebrunerie commented on #3605
Maybe I’m using the word "constraints" in a wrong way here, but I thought that yellow meant unsolved metas, not unsolved constraints.
For instance
[code]
has an unsolved "constraint", namely that `?0 : A`, yet there shouldn’t be any yellow.

[2019-03-04 12:26] jespercockx commented on #3605
Agda uses yellow for both unsolved metas and unsolved constraints. Originally 'constraint' meant 'equality constraint' but a lot of other constraints have been added since, including postponed typechecking problem 'constraints' `x : A`.

Actually I think there *is* yellow but it's hidden by the hole.

[2019-03-04 12:29] guillaumebrunerie commented on #3605
Ah ok. So then maybe that the two constraints `?0 (j = i0) = a` and `?0 (j = i1) = a'` should be considered to be constraints about `?0` and therefore be hidden by the hole as well, and similarly for `?1`?

[2019-03-04 12:29] jespercockx commented on #3605
I feel like for unsolved constraints that are blocked on an interaction meta, the yellow is often not very helpful. OTOH if there are no more interaction holes but still unsolved constraints then I really want to see the highlighting. So maybe we should try to keep track of which meta a constraint is blocked on (I think in principle we do already but it's not very accurate) and wait with displayin

[2019-03-04 12:31] jespercockx commented on #3605
Or we could even only highlight constraints that are not blocked on *any* meta (but still unsolved). After all, if there are unsolved metas they will be highlighted already and this will often give you a better idea of the location where to insert the implicit argument.

[2019-03-04 12:38] gallais commented on #3605
Technically we actively [remove interaction metas](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Highlighting/Generate.hs#L720-L731) from the set of metas that should
be highlighted. But the result is the same: they are not displayed.

[2019-03-04 12:39] guillaumebrunerie commented on #3605
In any case, in addition to the issue about the yellow:
- there shouldn’t be any unsolved metas except for the two goals (where do `_15` and `_16` come from?)
- the word "error" should not be used, there is no error, only yet-to-be-satisfied constraints

[2019-03-04 12:45] guillaumebrunerie commented on #3605
Do you have an example of code with no interaction metas and no unsolved metas, but still unsolved constraints? I had the impression that because type-checking and conversion are decidable, if there is no unsolved metas then all type-checking/equality constraints are either provably true or provably false, so I do not see when it is needed to have yellow for unsolved constraints.

[2019-03-04 13:01] Saizan commented on #3605
@guillaumebrunerie As far as I understand there has to be an unsolved meta, but what gets highlighted is the code which depends on the constraint being satisfied to successfully typecheck.

Also the "_15" and "_16" metas are generated because some terms are blocked on the resolution of a constraint. Agda replaces those terms by metas (storing what they should eventually be), so that it doesn't hav

[2019-03-04 13:06] mortberg commented on #3599
Yes, in cubicaltt we reused the glue/unglue constructors for this. But that is maybe a bit too much of a hack... In yacctt I just added intro/elim forms for `hcomp` in `Set` and it wasn't particularly hard to do. No matter what we do I think this is worth implementing as it should make Cubical Agda faster and the internals would not rely on `pathToEquiv`.

[2019-03-04 13:32] guillaumebrunerie opened #3606 "Do not create/display superfluous metas and show constraints in a readable way"
(related to #3605, but without cubical features)
When loading the code below, it gives two unsolved metas and an "error" about some constraint not being solved. Yet the hole can simply be filled with `x` and it works. From a user point of view, I don’t see why there should be unsolved metas, it’s confusing that Agda reports an error, and the whole thing is not very readable.
[code]
Output of `C-c

[2019-03-04 13:34] guillaumebrunerie commented on #3605
@Saizan Ah, that makes sense.

The `_15` and `_16` and the "error" are actually not related to cubical, so I filed #3606 (although it does come up very often when using `hcomp`).

[2019-03-04 13:38] jespercockx commented on #3606
I expect this would greatly improve the readability of many of the eldritch invocations that Agda regularly spews at the user.

[2019-03-04 13:44] jespercockx commented on #543
The (known) inconsistency with irrelevant projections was fixed in #2170. As far as I understand irrelevant projections are now consistent but non-conservative (they imply some form of non-constructive choice). I don't know whether it's best to enable them by default but provide a flag to disable them (as for `--without-K`) or to keep the current situation where they are hidden under a flag by def

[2019-03-04 13:54] jespercockx commented on #3559
There are two possible type signatures for `f`: `f : ∀ {t : Set} → t → Identity t` and `p → Identity p`. If you pick the second one, then you get unsolved metas on the first line even if you comment out the second one. So I'm not sure whether this is actually a bug or that Agda is now a bit more conservative in solving metavariables when they are multiple solutions.

[2019-03-04 13:58] jespercockx commented on #3582
I guess there is really a conflict between the levels `lsuc lzero` and `lzero` but Agda tries to display the error in a more readable form, which is however not valid in this example.

[2019-03-04 14:12] jespercockx commented on #3604
Manually writing out the desugaring of `with` doesn't fool the productivity checker, so I assume this is yet another problem with the with-inliner.
[code]
My suggestion is to get rid of with-inlining altogether, as it seems to create way more problems than it solves.

[2019-03-04 15:14] #2774 closed, assigned to andreasabel

[2019-03-04 15:15] mietek commented on #3598
Moving the `DISPLAY` rule out of the parametrised module and duplicating it seems to help.  Thanks, @gallais.

[code]

[2019-03-04 15:16] jespercockx commented on #2774
I fixed the surface cause of the error, but the underlying hack is just as horrible as it ever was.

[2019-03-04 15:16] guillaumebrunerie opened #3607 "Inaccuracy in the doc about pattern matching for records"
The doc (https://agda.readthedocs.io/en/latest/language/record-types.html#decomposing-record-values) says the following

The second part is only true if eta equality is enabled. If the record has `no-eta-equality` then `sum` does not seem to be translated to `sum'`, see code below. It seems to make sense as it is, so the doc should reflect that.

[code]

[2019-03-04 15:22] jespercockx commented on #3315
Now it says "Using primEraseEquality implies K, but you have the without-K flag enabled."

[2019-03-04 15:22] #3315 closed, assigned to nobody

[2019-03-04 15:28] nad commented on #3604
Agda also complains if `--without-K` is turned on, in which case the inlining is apparently turned off.

I wouldn't mind if the inlining is removed.

[2019-03-04 15:33] nad commented on #3574
Are you suggesting that it should be possible to change the fixity of an operator midway through a file?

[2019-03-04 15:36] nad commented on #3574
Or we could switch to a different notion of precedence that is not so strongly tied to the natural numbers (preferably in a backwards-compatible way). @UlfNorell and I discussed one possibility in ["Parsing Mixfix Operators"](http://www.cse.chalmers.se/~nad/publications/danielsson-norell-mixfix.html), but other designs are possible.

[2019-03-04 15:37] nad commented on #3602
Could you elaborate on this?

[2019-03-04 15:37] guillaumebrunerie commented on #3574
Yes. It’s probably not a very good practice but I see no strong reason for why it should be forbidden. Although maybe that the parser/fixity solver assumes that the fixity is the same everywhere?

[2019-03-04 15:39] HuStmpHrrr commented on #3574
another possibility is to support fixities at levels of rational numbers (arbitrary precision)? this is clearly backward-compatible.

[2019-03-04 15:42] HuStmpHrrr commented on #3574
this would make the code extremely difficult to read and libraries very hard to maintain, if this feature is misused.

[2019-03-04 15:46] guillaumebrunerie commented on #3574
Well, essentially every feature can make the code difficult to read and the libraries hard to maintain if it is misused :)
But if it is only used in the use case considered here, for rebinding fixities of imported functions, then it should be fine.

[2019-03-04 15:49] nad commented on #3559
It sounds to me as if the previous behaviour might have been buggy.

[2019-03-04 15:58] nad commented on #3574
I don't think we should turn `infixr` and friends into imperative commands.

Furthermore, at the moment you can give the fixity of an operator after its declaration, so such a change might break code.

[2019-03-04 16:10] guillaumebrunerie commented on #3574
Isn’t it strange that the following code passes, but fails to parse if we comment the last line?
[code]
If the fixity declaration is much further down, it could probably get very confusing.
And I don’t see the problem with having them being "imperative commands". Other kinds of declarations, like declaring/defining identifiers, opening modules, various pragmas, and so on, are imperative.

[2019-03-04 18:33] identicalsnowflake commented on #3559
Yeah that's what was surprising me: it seems to me like either it should reject the first line as unsolvable or it should use/refine the solution it found on the first line on subsequent metas. It seems very odd for the type checker to find a solution it's happy with, then subsequently re-decide that meta was unsolvable after all based on later code.

But it's certainly possible there are reasons

[2019-03-04 18:37] 3abc commented on #3594
Hmmm? If I put this version in I got
[code]

I'm on `Agda version 2.6.0-1becd2e`

[2019-03-04 19:08] 3abc commented on #3594
And I just upgraded to `Agda version 2.6.0-dfb04d5`, then it's a different error message:

[code]

However when I did it again I got back the old error message.

[2019-03-04 19:11] Saizan commented on #3594
@3abc probably something is wrong with some of your interface files somewhere then. Which might also explain the weirdness about the example. Try loading the file with the `--ignore-interfaces` flag then.

[2019-03-04 19:12] 3abc commented on #3594
Actually when I did it again I got back the old error message. It was just weird.

[2019-03-04 19:13] 3abc commented on #3594
Do you mean adding `{-# OPTIONS --ignore-interfaces #-}` to the file? I got `Unrecognized option: --ignore-interfaces`

[2019-03-04 19:14] Saizan commented on #3594
@3abc I meant calling the agda directly. `agda --ignore-interfaces Foo.agda"

@3abc Also please make sure you are testing my code with the `{A = ...}` argument of `hcomp` given explicitly.

[2019-03-04 19:15] 3abc commented on #3594
Hmmm didn't notice that.

[2019-03-04 19:16] 3abc commented on #3594
Adding {A = isEquiv ((rot (loop i)))} solves the problem.

Let me think why I thought it shouldn't type check...

[2019-03-04 19:31] 3abc commented on #3594
@Saizan My concern was the following:

If you look at the type of the sides of the `hcomp`, it's this

[code]

And `B0` is not constant. If I'm allow to do a `hcomp` to get the top, then think about the `hfill` of it, on each vertical line the type will be constant. However `B0` is not constant. On a horizontal line (fix `j`) the path `B1` would be a path from `B0 j` to `B0 j`, which is not true.

[2019-03-04 19:39] Saizan commented on #3594
@3abc `B0` is constant though, because `transp (λ _ → S1) i x` is definitionally `x`.

[2019-03-04 19:43] 3abc commented on #3594
Oh good point. In this case I've no concern.  I believe this can be closed.

[2019-03-04 20:18] Saizan commented on #3594
I'll keep it open for the unification problem.
What's happening is that eta-contraction is causing `transp` to be under-applied and not compute away. And the occurs check is not trying eta expansion when determining if a variable is in a strong position.

Similarly with record types:

[code]

Leads to error:

[code]

when we could instead fill the hole with `(P (wrap x))`

[2019-03-04 20:41] jespercockx commented on #3539
Since #3571 has been merged, I'm now closing this issue. Please create a new issue if there are still things missing.

[2019-03-04 20:41] #3539 closed, assigned to mortberg

[2019-03-04 21:16] #3607 closed, assigned to nobody

[2019-03-05 09:53] jespercockx commented on #3566
I changed the implementation to keep track of record names in the abstract names instead of the concrete ones. I also tried to change the name "r" to "self", but it causes a (small) backwards incompatibility in the reflected syntax, so I suggest we hold it off until after the release.

[2019-03-05 10:21] jespercockx commented on #3536
I guess the reason why we compile again is because the forcing translation is implemented on the clauses and not on case trees, so after we do the forcing translation we have to compile again to get the updated case tree.

[2019-03-05 13:36] nad commented on #3574
:)

I would prefer if the fixity declaration had to, say, precede the declaration of the identifier, but generally speaking I am hesitant towards introducing breaking changes for minor things like this.

You can't do things like removing a name so that it is out of scope, or changing the meaning of an identifier. (You can introduce a new identifier with the same unqualified name in a different sco

[2019-03-05 15:50] Saizan commented on #3605
@guillaumebrunerie My last commit should have improved the situation with `hcomp` and friends.

At least the constraints shown are more readable:

[code]

I also plan on having something more systematic at least for interaction points in positions like `foo .... = ?`, but let me know if you have other bad experiences with arguments to `hcomp/transp/comp`.

[2019-03-05 16:34] jespercockx opened #3608 "A code of conduct for the Agda community?"
I believe the Agda community is in general really nice and friendly to newcomers. (Please let me know if you're a newcomer and you found that's not the case!) Since I hope the community will grow in the future and I would like it to stay a welcoming place, I think it would be a good idea to have a code of conduct for interactions here on Github, on the mailing list, and at the Agda meetings.

Gith

[2019-03-05 17:11] xekoukou commented on #3608
In my opinion, the main problem with codes of conducts is that the entity that enforces them is different from the community. This leads to the question of what can be considered as the agda community, what are the goals of the community etc.

  **In order to avoid those difficult questions, I think that we need to define an objective method of who is part of the governing body. One such objective

[2019-03-05 21:36] HuStmpHrrr opened #3609 "File should be readonly when loading a file from emacs"
I think it would make sense, if agda-mode can turn the file readonly immediately after `C-c C-l` is pressed, then make it writable again once the file is fully loaded.

this is going to be helpful, because in a big file when loading takes noticeable time, editing the file before fully loaded will remove the syntactical highlight, and that will force me to reload the file again. furthermore, before

[2019-03-05 22:33] asr opened #3610 "Support GHC 8.6.4"
GHC 8.6.4 was [released](https://mail.haskell.org/pipermail/ghc-devs/2019-March/017166.html). I created this issue for collecting/reporting the required changes/issues.

[2019-03-05 23:03] andreasabel commented on #3608
Is there any pretext for necessitating a code of conduct for our github community?
The absence of a dedicated code does not mean _anything goes_.  Common sense and high moral standards apply by default.  We can take measures against someone violating good behavioral standards even without a written code of conduct.
Btw, this gives me an opportunity to remind all developers of this code of conduct:

[2019-03-05 23:18] andreasabel commented on #3536
Yes, but why not do the forcing translation already before the first compilation?

[2019-03-06 07:39] jespercockx commented on #3608
I agree in principle, however I think regular contributors who do *not* want to deal with community management shouldn't be forced to. So I would take both commitment to the project *and* willingness as necessary qualifications.

No, as I said I believe the Agda community is a very healthy one. In an ideal situation, the code of conduct would just sit in the repo and be read by newcomers, but we w

[2019-03-06 07:39] martinescardo commented on #3391
It also works with 8.0.2, for the record.

[2019-03-06 08:32] jespercockx commented on #3391
I'm currently testing the installation on Windows.

[2019-03-06 09:15] jespercockx commented on #3391
Installation works and I managed to typecheck the `experimental` branch of the standard library. This is on Windows 10 using GHC 8.4.3 and Cabal 2.2.0.0 (which was what I happened to have installed).

[2019-03-06 10:58] MatthewDaggitt commented on #3608
Just a heads-up we did have an incident in https://github.com/agda/agda-stdlib/issues/595 where a newcomer mentioned that they felt unwelcome in the community due to the title of the issue in question. Hopefully it was resolved to the user's satisfaction (although we didn't get direct feedback).

[2019-03-06 12:27] nad commented on #3609
I really want to be able to edit the file while it, and its dependencies, are being loaded.

Agda caches the result of typechecking the file, and the mutual blocks (roughly speaking) above the ones you have edited are not typechecked again.

[2019-03-06 15:10] HuStmpHrrr commented on #3609
does that mean I have some problems with my editing habits?

normally when the file grows above 400 lines the delay starts to be noticeable. how do you, for example, realize a hole when a file is loading? or do you do a different kind of editing while loading?

[2019-03-06 16:12] #3610 closed, assigned to asr

[2019-03-06 18:24] jespercockx commented on #3536
I guess because the forcing translation messes up the patterns in a way which is fine for Treeless but not for internal use by the typechecker, maybe? I don't really know, maybe @UlfNorell has a better answer.

Anyway, I implemented the fix where we remember the split tree computed by the coverage checker and use it when recompiling the clauses. I'm now taking a flight to Tokyo, but if Travis is g

[2019-03-06 20:24] nad commented on #3609
What do you mean by "realize a hole"?

If it seems as if caching does not work, or works less well than it should, then you could report this. I recently reported such a problem (#3593).

[2019-03-07 12:07] nad commented on #3609
I'm closing this ticket, but feel free to ask more questions.

[2019-03-07 12:07] #3609 closed, assigned to nobody

[2019-03-07 16:36] #3572 closed, assigned to Saizan

[2019-03-08 13:12] asr commented on #3391
I'm starting the procedure for creating a new RC.

Edited: I'm freezing this RC in 44f5fb6.

[2019-03-08 15:21] guillaumebrunerie opened #3618 "a != .(a) with Prop or irrelevance"
The code below fails to type-check with the unexpected error `a != .(a) of type A
when checking that the expression c has type P b`.
The issue is that somehow `b` does not reduce to `a` but to `.(a)`. If you change `Q : Prop` to `Q : Set` it works as expected.
[code]

[2019-03-08 22:09] VictorTaelin opened #3619 ""Could not find module ‘Numeric.IEEE’" error when compiling Agda helloworld"
I'm trying to compile the example "Hello World" from [Agda 2.5.4 documentation](https://agda.readthedocs.io/en/v2.5.4/tools/compilers.html):
[code]
When running the `agda --compile HelloWorld.agda` command, though, I get the following error:

    Calling: ghc -O -o /Users/v/vic/dev/agmoon/HelloWorld -Werror -i/Users/v/vic/dev/agmoon -main-is MAlonzo.Code.HelloWorld /Users/v/vic/dev/agmoon/MAlonzo/

[2019-03-08 22:14] 3abc opened #3620 "Internal Error while case splitting on a `Primitive` type"
In the following snippet I got

[code]

So I reported. It only appears after splitting the last variable of `f` into `base` and `loop k`.

[code]

[2019-03-09 13:43] Blaisorblade commented on #3619
The issue as reported is not a bug. The generated code uses a Haskell library, as mentioned in https://agda.readthedocs.io/en/v2.5.4/tools/compilers.html#required-libraries-for-the-built-ins, so that must be installed, e.g. via `cabal install ieee754`.
I expect PRs clarifying docs could be accepted? If you want an issue, I'd recommend a separate one.

[2019-03-10 06:37] m0davis opened #3621 "performance problem"
The following code takes a long time to typecheck on my machine:
[code]
I'm using the latest from master (66b8fc33d5d4e19edc0bbd1b23a00719dc2ce0d9), built with stack-8.6.4.yaml.

[2019-03-10 14:05] martinescardo opened #3622 "Internal error at src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs:314"
Agda version 2.6.0-66b8fc3 gives

[code]

I am unable to create a self-contained example. By binary search, I found that the error is in lines 347-352 of the code https://github.com/martinescardo/TypeTopology/blob/master/source/UF-StructureIdentityPrinciple.lagda

Agda version 2.6.0-1771bb2 doesn't give this error.

[2019-03-10 14:18] gallais commented on #3622
Looks like it's possibly @Saizan's f7db2bf171080e51e199ab17d2a2ff4974fb0aad

[2019-03-10 14:19] gallais commented on #3391
We should probably wait for #3622 to be fixed.

[2019-03-10 17:18] martinescardo commented on #3622
I checked out the version immediately before that commit, and it type checks my whole development. It seems faster than the version of a few weeks ago I had, by the way.

[2019-03-10 18:01] martinescardo commented on #3622
(It is not faster actually. I measured and it is slower than the version I was using.)

[2019-03-10 20:06] asr commented on #3391
Ok. I'll wait.

[2019-03-10 21:47] martinescardo opened #3623 "performance regression"
With https://github.com/martinescardo/TypeTopology/blob/master/source/AllModulesIndex.lagda in a core i5 machine with 8gb of ram.

1. Agda 2.6.0-069e51e (7 March) uses 66% of ram (by monitoring with top) and takes 4m25s

2. The older Agda 2.6.0-95f4a2 (16 January) uses 14% of ram and takes slightly less time, 4m11s

With a core i3 laptop with 4gb ram and 4gb of swap,  (2) consistently uses 30% of

[2019-03-10 22:03] #3622 closed, assigned to nobody

[2019-03-10 22:20] WolframKahl commented on #3623
Please mention the RTS settings you are using.

On the 8G machine, you will probably want to use something like:
[code]
On the 4G machine, you will want to kill your web browser before you start Agda, and use:
[code]
In either case, you probably also want `-S` in there to watch garbage collections and active heap size.

Also have htop running to see how tight memory is on the machine overall.

Onc

[2019-03-11 03:36] asr commented on #3391
I uploaded to Hackage the new package candidate [Agda-2.5.4.2.20190310](https://hackage.haskell.org/package/Agda-2.5.4.2.20190310/candidate) and I tested its installation on Ubuntu with the following versions of GHC:

- 8.6.4
- 8.4.4
- 8.2.2
- 8.0.2
- 7.10.3

Could someone test the installation on macOS and Windows using the following instructions:

[code]

or

[code]

[2019-03-11 03:58] asr opened #3624 "CHANGELOG: Missing entry for the cubical mode"
After uploading [Agda-2.5.4.2.20190310](https://hackage.haskell.org/package/Agda-2.5.4.2.20190310/candidate) to Hackage :-(, I noted that there is not entry for the cubical mode in the `CHANGELOG` file.

[2019-03-11 07:37] martinescardo commented on #3622
Thanks. I've tested it.

[2019-03-11 07:39] martinescardo commented on #3623
After https://github.com/agda/agda/commit/d6b522c9264eec098ce5744d8ac822f43c2fda96, I tested both machines, and they again use 15% and 30% of ram as they used to. I am not aware of changing any RTS option for the previous behaviour.

[2019-03-11 09:33] #3620 closed, assigned to nobody

[2019-03-11 09:35] Saizan commented on #3620
@3abc Thanks for the report, you should have gotten a proper error there. The patterns provided were ill-typed, you might want to use `unglue` instead.

[2019-03-11 09:47] #3624 closed, assigned to nobody

[2019-03-11 10:20] Saizan commented on #3608
The contributor covenant code of conduct seems pretty good, it covers a lot of bases while being short and not overly specific.

https://www.contributor-covenant.org/version/1/4/code-of-conduct.txt

As for enforcement it could be enough to have 2-3 people assigned, as in the example here:

https://opensource.guide/code-of-conduct/#deciding-how-youll-enforce-your-code-of-conduct

[2019-03-11 18:19] martinescardo opened #3625 "Holes remain as "?" in .lagda.md literate files"
Example:

[code]
After ctrl-c-ctrl-l, we see "?0 L Set" in the bottom buffer, but the question mark remains as `?` instead of becoming a hole `{ }`.

Moreover, emacs doesn't activate the emacs mode, and one has to do this manually.

Am I doing something wrong? Agda version 2.6.0-d6b522c

(I did do `agda-mode compile` just in case.)

[2019-03-11 18:29] nad commented on #3625
See #2837.

[2019-03-11 18:29] #3625 closed, assigned to nobody

[2019-03-11 19:21] nad commented on #3592
I checked the debug output (`-vtc.pos:10`), and realised that the error message is misleading. I inserted some parentheses to clarify the error message:
[code]
After checking the Agda source code I also came to the conclusion that the part about how the first argument of `P` occurs "as matched against" in the definition of `P` refers to the fact that the first argument of `P` is an index.

There a

[2019-03-11 19:28] nad commented on #3592
The following code is accepted:
[code]
The reason is that now Agda does not treat `y` as being the second argument of `f`, but rather the first one. Could this quirk be exploited in some way?

[2019-03-11 19:52] nad commented on #3592
Here is a cut-down example:
[code]
Error message:
[code]

[2019-03-12 09:14] Saizan commented on #3606
I would guess that one reason for showing these blocking metas `_8, _9, ..` is so that you do not expect some reduction that won't happen.

For example in the following you have `?1` of type  `isTrue _9`. We have that  `isTrue _9`  is not definitionally `⊤` until we have given a sensible definition to `A`. So showing `?1 : isTrue x` would be misleading as well.

However, we can probably find a bet

[2019-03-12 10:03] guillaumebrunerie commented on #3606
I don’t really understand your example, it seems to me that the only constraint here is

And whatever (sensible) definition you give for `A`, you will always have that `?1 : isTrue x` and that `isTrue x` reduces to `⊤`.
But we don’t know yet that `isTrue x` is well-typed (it depends on the constraint being satisfied), so maybe this is what prevents Agda from reducing it anyway? I’m not familiar wi

[2019-03-12 11:46] Saizan commented on #3606
In particular in my example we don't know that the definition of `x` is well-typed, so `x` will not reduce to `true`. The way I see it is that Agda is trying to enforce that both type preservation and typing inversion lemmas hold at all times, without assuming that the outstanding constraints are true.

In your variation where `A` is defined by cases there's the additional complication that metas

[2019-03-12 12:14] jmchapman commented on #2837
This is perhaps the biggest feature I was looking forward to in 2.6. Does it make sense to release support for .lagda.md if it doesn't work in the emacs mode yet?

[2019-03-12 12:51] nad commented on #2837
Agda has supported `.lagda.md` since version 2.5.3.

[2019-03-12 13:28] nad commented on #3550
Another option: The backend puts incoming requests on a queue:

https://github.com/agda/agda/blob/6f3046e081ebfa40793c3a064e53bdbd83c82dcf/src/full/Agda/Interaction/InteractionTop.hs#L130-L138

In order to avoid confusing users the Emacs mode has been set up so that it (mostly) only sends one command at a time to the backend. In this case it should be fine to send a load command to the backend bef

[2019-03-12 16:03] ice1000 opened #3626 "Safe Agda with REWRITE?"
Is it possible to use safe Agda (say, no `TERMINATING`, not `primTrustMe`) with only one unsafe feature that is `--rewriting`?
I tried enabling `--rewriting` after `--safe` but Agda says rewriting is unsafe and reject my code.

[2019-03-12 18:47] guillaumebrunerie commented on #3626
No. The idea of `--safe` is that you should not be able to prove false while `--safe` is active. Of course some postulates/rewrite rules/other potentially unsafe things may actually be safe, but Agda has no way of checking it, so this is not allowed.

[2019-03-12 18:50] #3626 closed, assigned to nobody

[2019-03-12 18:51] ice1000 commented on #3626
Thanks!

[2019-03-12 18:51] guillaumebrunerie commented on #3626
The word "rewriting" seems rather innocuous for someone who doesn't know Agda (unlike "safe" which is pretty transparent), so someone who is not very familiar with Agda could easily be fooled believing that `--safe --rewriting` is a safe combination. So I think it's good that it's not allowed.

[2019-03-12 18:58] ice1000 commented on #3626
What if I want this unsafe combination intentionally?

I'm trying to make a programming exercise problem on www.codewars.com, I want people to use `REWRITE` but not `postulate`, `trustMe`, etc.

[2019-03-12 18:58] ice1000 commented on #3626
This should not be `working-as-intended`, I'm not making a bug report but asking a "How to".

[2019-03-12 19:43] guillaumebrunerie commented on #3626
Do you mean that you want people to be able to use whatever `REWRITE` they want, or only one specific rewrite rule that you chose yourself? It’s trivial to prove false (or anything) using `REWRITE`.

[2019-03-12 20:04] gallais commented on #3626
You can't. And it's on purpose: `--safe` means that Agda *guarantees* that there is
no way to abuse the powers you are given to prove false. It simply is not the case
when `--rewriting` is turned on.

[2019-03-12 20:14] ice1000 commented on #3626
I get it, thanks for the explanation!

[2019-03-12 22:34] jmchapman commented on #2837
Ah, I see. I didn't realise that support was being added incrementally.

[2019-03-13 12:35] jespercockx commented on #3618
Note that the same problem occurs for irrelevance, so this is no new problem introduced by `Prop`:
[code]
gives the same error.

[2019-03-13 12:36] Saizan commented on #3606
I did some digging and discovered why we get some metas like `_9` above, with no constrains displayed. Tracing it back to commit adf9065763a1a4b0bd72d74792c903c8186e9a75 .
In particular there's a comment motivating the behavior: https://github.com/agda/agda/commit/adf9065763a1a4b0bd72d74792c903c8186e9a75#diff-32adfcdd487db3ba46f6896d55c5ae44R266

Whenever a term is blocked into a meta `m` such met

[2019-03-13 14:15] jespercockx opened #3627 "Where-blocks of clauses with irrelevant projections can use irrelevant variables"
(found this while debugging #3618)
[code]
Note that `M.IsTrue' : .(b : Bool) → Set` is using `b` in a relevant manner! I tried to exploit this to prove `⊥`, but my attempt resulted in an internal error:
[code]
[code]

[2019-03-13 14:20] jespercockx commented on #3627
Another weird error message:
[code]
Trying to give `_` (yes, that's an underscore!) in the hole results in the following error:
[code]

[2019-03-13 18:29] 3abc opened #3628 "Agda fails to recognize some definitionally equal terms"
This is cubical mode.

In the following snippet, `c i i1 k` is definitionally equal to `base` since the system in `hcomp` says so. However if I change the term `c i i1 k` in the type of `c'` into `base` it emits error. Weirdly enough just changing the order of the clauses in the definition of the system helps to bypass the bug.

[code]

[2019-03-14 01:42] UlfNorell commented on #3391
- [x] MacOS X 10.14, ghc-8.6.3
- [x] Windows 10, ghc-8.4.3

[2019-03-14 05:57] jespercockx commented on #3618
I'm working on a fix which involves weakening the interaction between irrelevance and `Prop`, which should resolve all these weird problems with dotted terms popping up when all you're using is `Prop`.

[2019-03-14 07:22] jespercockx commented on #3618
I pushed my fix (see https://github.com/agda/agda/commit/65bda2ad4bdc539266aea209c2542566be0a46bb), now you're no longer allowed to use irrelevant variables when proving a `Prop`, but you will (hopefully) never get dotted terms when you're only using `Prop`. @guillaumebrunerie could you please test this on your development using `Prop` to make sure I didn't break anything? Thanks!

[2019-03-14 09:03] nad commented on #3550
I've pushed such a change.

[2019-03-14 09:58] nad commented on #3550
The Emacs mode is largely based on the assumption that only one command at a time is sent to the backend. Making it possible to send multiple commands to the backend without breaking anything might be nontrivial.

I noticed that `agda2-update` calls `agda2-go` with the `do-abort` argument set to `nil`. I wonder if that code is correct, `agda2-go` overwrites some variables that might be in use by a

[2019-03-14 10:50] guillaumebrunerie commented on #3618
I just tested it and everything still works. Thanks!

[2019-03-14 10:57] guillaumebrunerie commented on #3493
This now works (since 65bda2a), but I’m now thinking that we rarely want to actually reduce elements of propositions, so maybe `C-c C-n` should not reduce them by default. An easy fix would be to automatically make `abstract` all definitions whose type is a proposition. This shouldn’t break anything (I think) as Agda should never have to inspect such definitions, and the user could use `C-u C-c C-

[2019-03-14 15:14] martinescardo opened #3630 "Literate \begin{code}[hide] doesn't work with --html --html-highlight=code"
The code is not hidden. I am trying to use this feature to hide solutions of exercises in lecture notes distributed on the web. I can use html comments, but then the solution is available in the source code of the page.

[2019-03-14 16:30] Saizan commented on #3628
Thanks for the report.

Problem: `c i0 i1 k` does not reduce to `base`. Because the partial element given to `hcomp` doesn't.

It seems the bug should be fixed in `compileClause` as we are getting this case tree:

[code]

While we want this one:

[code]

@andreasabel Do you know if this should be handled by `expandCatchAlls`? And if so, how does it work?

[2019-03-14 16:53] rrose1 opened #3631 "Performance with --no-universe-polymorphism"
Agda without universe polymorphism has noticeable difficulty type-checking parametrized modules as a function of the number of parameters. The following example takes more than a few minutes to load:

[code]
Of course, without `no-universe-polymorphism`, this example loads almost instantly.

[2019-03-14 18:52] nad commented on #3630
The `[hide]` functionality is implemented using LaTeX code.

I read this as a feature request.

[2019-03-14 20:51] nad commented on #3550
I've made an attempt to fix this problem. If everything seems to work as it should, then you can close the ticket.

[2019-03-14 20:54] nad commented on #3550
I also made an attempt to fix this potential problem (in the same commit).

[2019-03-15 01:24] #2837 closed, assigned to jespercockx

[2019-03-15 01:25] jespercockx commented on #2837
I added support for modes that use ` ``` ` for code blocks. If there are any other supported literate modes that use a different separator, please let me know and I'll add them too.

[2019-03-15 09:03] gallais opened #3632 "Confusing parse error message: not in scope name not mentioned"
In the following module, using `_⇒_` alone we get a helpful error message
suggesting we should open some of the modules in scope. However using it in
conjunction with `_<infix>_`, gives us a puzzling message.

[code]

Note that we don't have the same problem with non-mixfix identifiers which are
out of scope: the following file yields helpful messages in both cases.

[code]

[2019-03-15 12:08] #3536 closed, assigned to nobody

[2019-03-15 12:20] jespercockx commented on #3391
All set for the release!

[2019-03-15 12:53] martinescardo commented on #2837
I installed this version of Agda and tested my .lagda.md file and it works - thanks!

At the moment I have to switch to Agda mode manually and I can live with that. Can this be fixed, too? Or is there anything I can add to my .emacs file for this to happen automatically?

[2019-03-15 13:10] #3628 closed, assigned to Saizan

[2019-03-15 13:20] jespercockx commented on #2837
You can put this in your .emacs file
[code]

[2019-03-15 14:04] VictorTaelin opened #3634 "Compiling side-effective functions to the JavaScript backend produces wrong results"
If we try to compile the following program to JavaScript:

[code]

It outputs both `"Hi"` and `"Ho"`, despite both being in different branches. Seems like this is an issue due to the lack of laziness evaluation on JavaScript. This can be avoided by simply not exporting side-effective functions, but I wonder if this is the expected behavio.

[2019-03-15 14:10] jespercockx commented on #3391
We should go over the release notes to rearrange them and add some highlights to the beginning; currently they are quite unorganized.

[2019-03-15 14:18] UlfNorell commented on #3634
This is the intended behaviour. `if_then_else_` is just a function, so under strict evaluation both branches will be evaluated. You can change the code to
[code]

[2019-03-15 14:18] #3634 closed, assigned to nobody

[2019-03-15 14:32] asr commented on #3391
Following the documentation of GHC (see, for example, [Release notes for version 8.6.4](https://downloads.haskell.org/~ghc/8.6.4/docs/html/users_guide/8.6.4-notes.html)), a better place for the highlights could be the user manual.

[2019-03-15 23:05] VictorTaelin opened #3635 "Can we bind two variables on the same argument in a `syntax` declaration?"
I'm trying to define the following syntax in Agda:

[code]

This would allow writing procedural-like loops like:

[code]

For some reason, though, it fails to compile with the following error:

[code]

I can, though, remove the `x`:

[code]

And it works fine, allowing me to write it as:

[code]

But the former version was a little bit nicer. Is there some way to bind two variables in the same arg

[2019-03-15 23:12] m0davis commented on #3544
Needs a test case, yeah?

[2019-03-16 00:50] UlfNorell commented on #3635
See #394.

[2019-03-16 00:50] #3635 closed, assigned to nobody

[2019-03-16 01:09] UlfNorell commented on #3544
Indeed that would have been good to add, because the problem seems to have come back.

[2019-03-16 03:07] andreasabel commented on #3538
I do not agree that this is working as intended.

I do not understand why the parameters are not fully general, module parameter `Base` looks fully general to me:
[code]

[2019-03-16 08:54] #3544 closed, assigned to nobody

[2019-03-16 10:54] MatthewDaggitt commented on #3224
I've also just been bitten by this in the paper I'm submitting. I've upgraded to use the style file from the 2.6.0 release candidate. How do I now tell latex which symbols to use for the unicode characters?

Obviously \DeclareUnicodeCharacter doesn't work now. I've tried using `\newunicodechar` as suggested by @Ulf in #3170 but no luck with that either. Is it covered in the updated documentation f

[2019-03-16 11:03] gallais commented on #3224
`\newunicodechar` worked for me: https://github.com/gallais/thesis/blob/master/doc/unicode.tex

[2019-03-16 12:22] guillaumebrunerie commented on #3631
Out of curiosity, do you have a reason for using `--no-universe-polymorphism`? My impression is that there is essentially no reason for why one may want to use it, so it’s not very surprising that it might be buggy. Maybe this option should be removed altogether.

[2019-03-16 14:17] andreasabel commented on #3211
I tried to fix this using constructor parameter construction in rewrite rules and during matching of rewrite rules.  However, when we initially call try to rewrite a constructor expression, we have no way to reconstruct the parameters, as we are not given the type of this expression.

Thus, constructor rewriting defined and used in parametrized modules will not be supported in Agda-2.6.0.

[2019-03-16 14:24] andreasabel opened #3638 "Rewrite rules do not fire in goal normalization in parametrized module"
[code]
However, giving `eq` in the goal is fine.

Debug output:
[code]

[2019-03-16 15:10] jespercockx commented on #3525
I finished my fix and pushed it to my fork of Agda (https://github.com/jespercockx/agda/tree/MonadConversion). However, the fix depends on #3589 which still needs some work, so the fix will have to wait a bit before it gets into master.

[2019-03-16 15:37] andreasabel commented on #3638
Fixed.  The problem was that the full type Gamma -> Goal of the metavariable was subjected to normalization, rather than just Goal, and the rewrite rule did not fire because it only applies to the exact module parameter.

[2019-03-16 15:43] #3638 closed, assigned to andreasabel

[2019-03-16 17:47] ice1000 commented on #2837
Cool!

[2019-03-17 00:09] rrose1 commented on #3631
Is your question rhetorical then? In any case, I wouldn't protest if you decided no longer to support the option.

[2019-03-18 05:06] UlfNorell opened #3639 "Argument to function created by tactic is lost"
Looks like a problem with `blockOnMeta`.

[code]

[2019-03-18 06:17] andreasabel commented on #3631
Fixed, thanks for reporting.

This was a performance regression introduce in the makeover of sorts, introducing `PiSort` (Agda 2.5.3 -> 2.5.4).  The fix is to remember `NoAbs` once we checked for absence of occurrence of variable 0 in the smart `piSort` constructor.

[2019-03-18 06:29] andreasabel commented on #3621
This seems to be the same as #3631, at least is is much faster as before the fix.

[2019-03-18 06:54] UlfNorell commented on #3639
Shorter test case:
[code]

It does indeed look like something bad happens when we `blockOnMeta`. Any arguments to the tactic hole get swallowed by the blocked term.

[2019-03-18 07:02] andreasabel commented on #3102
Related: #3631.

[2019-03-18 07:10] #3621 closed, assigned to andreasabel

[2019-03-18 07:10] #3631 closed, assigned to andreasabel

[2019-03-18 07:29] SimonBoulier commented on #3525
Wow, great!
I will test it when I have a bit of time.

[2019-03-18 08:12] andreasabel commented on #3122
No one seemed to have an opinion on this.  I decided that hidden fields should also be picked up.

[2019-03-18 08:25] #3122 closed, assigned to andreasabel

[2019-03-18 12:20] #3639 closed, assigned to UlfNorell

[2019-03-18 13:43] andreasabel commented on #3597
Fixed with Ulf at AIM XXIX: The problem is that a frozen meta is eta-expanded, and the new metas are not frozen.  This renders freezing of record metas inefficient in some cases, and the occurs check relies on proper freezing for detecting cycles.
Solved by eta-expanding frozen record metas to records of frozen(!) metas.

[2019-03-18 14:34] andreasabel commented on #3562
Shrinking away the universe-polymorphism:
[code]

[2019-03-18 14:42] andreasabel commented on #3562
Shrinking the Table away:
[code]

[2019-03-18 15:08] #3597 closed, assigned to andreasabel

[2019-03-18 15:22] gallais opened #3640 "Polarity: Size index check crashes due to wrong parameter number calculation"
I am getting (with Agda 2.5.4.2):

[code]

However I have a hard time building a minimal example. I have pushed the file
leading to this error [on this fork of the stdlib](https://github.com/gallais/agda-stdlib/blob/irrefutable-error/README/Trie.agda#L17-L24)

Edit: moving the open out of the parametrised modules solves the issue for me.

[2019-03-19 03:54] MatthewDaggitt commented on #3089
Seconded, got confused by this recently!

[2019-03-19 05:05] jespercockx commented on #3391
I did some reordering and cleaning up of the release notes in https://github.com/agda/agda/commit/c833661d3a813a68a3a42e31a7ca1faf04ad2eba, let me know what you think.

[2019-03-19 06:09] MatthewDaggitt commented on #3391
Presumably when v2.6.0 officially releases we'll want the standard library submodule to point towards to the v1.0 release of the standard library? Currently this is almost ready, subject only to a few last PRs being merged in.

@asr do you know when you are planning on releasing? I'll try to sync up timings wise.

[2019-03-19 06:13] jespercockx commented on #3391
If we do release v1.0 of the standard library together with 2.6.0 then that should definitely also be mentioned in the highlights of the release.

[2019-03-19 06:47] MatthewDaggitt commented on #3391
We kind of need to because I'm pretty sure v0.17 of the library doesn't work with v2.6.0! So if we don't get the timings right, then Agda would be temporarily without a standard library and civilisation might come crashing down :fearful:

[2019-03-19 11:25] UlfNorell opened #3641 "Remove old compiler pragmas"
[code]
Produces the warnings
[code]

and similar for the other old FFI pragmas. We should probably make them errors as promised.

[2019-03-19 13:20] jespercockx opened #3642 "Cannot import `--safe` modules when using `--allow-unsolved-metas` command-line option"
Suppose I have a file `Foo.agda`
[code]
and I try to load it from the command-line using `agda --allow-unsolved-metas Foo.agda`. Then I get the error message:
[code]
Instead, we could check if there are actually any unsolved metas being ignored in `--safe` modules and only complain if that is the case.

[2019-03-19 13:36] fredrikNordvallForsberg commented on #3642
Another slightly orthogonal option would be to compute the safety of imported modules even when they are not declared `--safe`, and use this for import checking; that way, the builtin modules does not need to be declared safe, and your particular problem disappears. (In general, checking if there are actually any unsolved metas would still be useful when importing your own module that you want to

[2019-03-19 21:27] phile314 commented on #3634
As the JS backend uses eager evaluation, you need to manually delay evaluation in all FFI IO definitions. E.g. this is how the Agda Test Library defines ``putStr``:
[code]

Source: https://github.com/agda/agda/blob/master/test/Common/IO.agda

[2019-03-20 03:15] #3526 closed, assigned to gallais

[2019-03-20 06:56] MatthewDaggitt opened #3643 "Using ill-typed terms (Setω) as module parameters"
I was trying to write a generalise this form of  [function extensionality](https://github.com/agda/agda-stdlib/blob/8f15d480bab00dc3c7e985436c438ee60db68010/src/Relation/Binary/PropositionalEquality.agda#L127) when I came across the following.

If I write
[code]
I get the error `Setω is not a valid type`.

However the following
[code]
 type checks fine and indeed is [used](https://github.com/agda/

[2019-03-20 10:30] asr commented on #3391
Great! I'll mention the highlights when I announce the release.

[2019-03-20 10:48] asr commented on #3391
Yes!

The RC was announced five days ago. I suggest to wait at least one week but at most two weeks starting from the date when the RC was announced. @MatthewDaggitt, is this time window  enough for you?

[2019-03-20 14:38] nad commented on #3224
The documentation [suggests](https://agda.readthedocs.io/en/latest/tools/generating-latex.html#known-pitfalls-and-issues) to use `\newunicodechar`. If this does not work for you, then it might be a good idea to edit the documentation.

[2019-03-20 14:45] nad commented on #2837
RST?

[2019-03-20 23:23] JacquesCarette commented on #3643
Isn't this the difference between "has a type" and "is a type" ?  The `Ext` expression is a perfectly fine type, however it doesn't have a 'perfectly fine' type.  So the module parameter is fine, because `Ext` is a fine type. And, well, modules in Agda, as far as I know, are first elaborated then checked, so there is no need to ever check that `Ext` has a type.

At least, that's my understanding.

[2019-03-21 01:54] MatthewDaggitt commented on #3643
Hmm that makes sense, I was confusing the two, thanks for the explanation. It's kind of weird that 95% of the types of the proofs in the standard library have no type :open_mouth: The non-closure of "has a type" is counter-intuitive but I guess that's the whole problem universe polymorphism is designed to hide most of the time.

[2019-03-21 01:54] #3643 closed, assigned to nobody

[2019-03-21 02:00] MatthewDaggitt commented on #3391
Yes. Let's say it'll be ready to go by first thing Monday.

[2019-03-21 02:52] asr commented on #3391
Good! Please let me know when you get green on Travis after updating the submodule commit to standard library 1.0.

[2019-03-21 08:22] nad commented on #2778
Given the recent work on option consistency checking (#2487) I suggest that we close this issue.

[2019-03-21 08:22] #2778 closed, assigned to nobody

[2019-03-21 08:27] nad opened #3644 "Error message without position"
The following code triggers an error message, but the error message does not include information about the position of the offending code:
[code]
Error message:
[code]

If this module is imported from another module, then the error message points to the other module:
[code]
Error message:
[code]

[2019-03-21 11:52] nad commented on #3630
The `--html` option by default produces web pages that contain verbatim copies of the Agda code, including markup like `\begin{code}[hide]`. I think this functionality should be kept as it is.

The new feature `--html-highlight=code` replaces the code blocks with HTML, and it *removes* code like `\begin{code}[hide]`. Thus it might make sense to actually omit such code from the resulting document.

[2019-03-21 16:30] martinescardo commented on #3630
It would be probably better if there was a more general treatment of code, independent of whether one intends to generate html, latex, md or what have you. But I haven't though of a good design.

I have used code environments for both latex and html. For example, in my personal development I use --html to generate the pages for public viewing. But sometimes I have copied parts of this development

[2019-03-22 07:59] MatthewDaggitt commented on #3224
Thanks @gallais and @nad! That was a huge help.

It seems like an expanded version of @gallais's file might be a valuable community resource. Just in the middle of compiling my own and it's certainly very painful to do manually. Would it even be possible to incorporate into `agda.sty` under some appropriate `if` statements?

[2019-03-22 08:15] gallais commented on #3224
May be worth opening a separate issue for this so that it doesn't get lost?

It would make sense to have a file providing bindings for all (or as many as possible)
of the unicode characters made available in the agda input mode.

[2019-03-22 08:21] MatthewDaggitt opened #3645 "List of unicode bindings (in `agda.sty`?)"
See discussion in #3224.

of the unicode characters made available in the agda input mode.

It seems like an expanded version of @gallais's [bindings file](https://github.com/gallais/thesis/blob/master/doc/unicode.tex) might be a valuable community resource. Just in the middle of compiling my own and it's certainly very painful to do manually.

Would it even be possible to incorporate into agda.st

[2019-03-22 09:47] nad commented on #3645
This seems somewhat orthogonal to the code in `agda.sty`, so I suggest that a separate file is used.

[2019-03-22 10:05] nad opened #3647 "Internal error in Agda.TypeChecking.Reduce.Monad"
The following code triggers an internal error:
[code]
[code]
This is a regression, Agda 2.5.4.2.20190310 rejects the code.

[2019-03-22 11:36] nad opened #3648 "Agda could fail to build if a .agda-lib file exists in a parent directory"
If you put a `.agda-lib` file, with a dependency on a library that is not listed in the default `libraries` file, in a directory above the root directory of the Agda source tree, then Agda fails to build:
[code]
I encountered this problem when using `agda-bisect`. I suppose it could also affect `cabal install Agda`. I suggest that we use `--no-libraries` when typechecking the builtin files.

[2019-03-22 11:39] nad commented on #3648
I'm not sure if this is a regression. @asr, do you know? If it is, then we should perhaps fix this before releasing Agda 2.6.0.

[2019-03-22 12:15] #3641 closed, assigned to nobody

[2019-03-22 15:17] L-TChen opened #3649 "Suggestion: A different resolution strategy for Prop"
It is fantastic that instance argument can be used for proof search and combining it with Prop, I think, opens a door for elegant proof search in dependently-typed programming.

However, the current resolution strategy is rather limited for this purpose, because

1. The option --overlapping-instances allow overlapping instances not only for Prop but also Set. I suggest to have another option like

[2019-03-22 16:42] jespercockx commented on #3649
Thanks for your interest in using `Prop`! I'm looking into possible ways to extend its power, but for the initial release I really wanted to have the simplest possible version to see what people do with it. After the release would be a perfect time to experiment with some new additions.

Could you explain (perhaps with an example) why you need the `--overlapping-instances` flag for instances in `P

[2019-03-22 19:50] asr commented on #3648
In previous versions, Agda generated a warning instead of an error if there was a problem when typechecking the builtin files. I changed the warning by an error due to some issues (e.g. #3128). I'm not sure either if the issue in the OP is a regression.

[2019-03-22 20:48] L-TChen commented on #3649
Here is an example I have in mind. The list membership is usually defined as
[code]
and I would love to use the propositional squash type to derive its Prop version:
[code]
Since  `∣_∣` takes an explicit argument, another instance of  `∥ A ∥` is required
[code]
But the following instance search fails even with `--overlapping-instances`
[code]
Of course, with `--overlapping-instances`, the followin

[2019-03-23 08:50] m0davis opened #3650 "incomplete pattern match after case-split"
In the code below, case-splitting results in a complaint about incomplete pattern matching.
[code]
The complaint after case-splitting is:
[code]
I am using the lastest from master (60ea60ae34e41c665ff10a41a853577c7db83cf2).

[2019-03-23 09:18] jespercockx commented on #3650
Seems that this could be caused by https://github.com/agda/agda/pull/3533. First Agda sees that the case `foo (frght (fright x)) (ediff (esucc nzdiff))` is impossible so it filters it out, but when re-loading it decides to do the case splitting in a different order which results in the missing clause `foo (frght x) (ediff (esucc nzdiff))`.

One possible solution would be to augment the coverage ch

[2019-03-25 05:36] MatthewDaggitt commented on #3391
Okay, I've fast forwarded the submodule to the right commit, and fixed the tests so they all now pass locally. I've pushed the changes to `release-2.6.0`. Waiting for travis to go green.

[2019-03-25 08:06] asr commented on #3391
I need the changes in the `master` branch no in the `release-2.6.0` branch.

[2019-03-25 08:10] MatthewDaggitt commented on #3391
Ah sorry. I always get that wrong 😔. I'm afraid I'm away from my computer
for the next 4 hours. Is it possible for you to cherrypick the last two
commits across? If not I'll fix it when I get home.

On Mon, 25 Mar 2019, 16:06 Andrés Sicard-Ramírez, <notifications@github.com>
wrote:

[2019-03-25 08:17] asr commented on #3391
Yes, I'll do it.

[2019-03-25 09:12] jespercockx commented on #3650
The second option (simplifying splitting strategy) on its own doesn't work but makes the situation worse: it already produces missing cases *before* you do any case splitting.

The first option (trying to split missing clauses further in the hope they go away) requires more changes to the coverage checker than I am comfortable making so close to the release.

Thus I propose we disable #3533 for no

[2019-03-25 09:13] asr commented on #3391
I cherry-picked (and squashed) the two commits on `master` and I reverted them on `release-2.6.0`.

[2019-03-25 09:33] #3648 closed, assigned to nad

[2019-03-25 10:54] nad commented on #3648
@asr, I leave it to you to decide whether to include this fix in 2.6.0.

[2019-03-25 10:54] nad commented on #3647
Bisection points towards a78d7f54e447cadf039da81b50ff40c81aa93909 ("[ refactor ] use IntMap for MetaStore").

[2019-03-25 12:40] jmchapman commented on #2837
I have just installed the RC (Agda-2.5.4.2.20190310) and added `(add-to-list 'auto-mode-alist '("\\.lagda.md\\'" . agda2-mode))` to my .emacs. It auto starts the agda mode when I open a `*.lagda.md` file. Goals are listed in the goal buffer but they remain as question marks and I cannot go into them.

[2019-03-25 12:46] jmchapman commented on #3391
I tested the new support for .lagda.md in RC Agda-2.5.4.2.20190310. The ?s don't turn into proper goals. (unless I am doing something stupid).

https://github.com/agda/agda/issues/2837

[2019-03-25 12:56] martinescardo commented on #3391
I tested it a while ago and it did work for me. Did you run `agda-mode compile` after installing Agda?

[2019-03-25 13:13] andreasabel commented on #3647
Oh, I forgot a negation when refactoring a set expression.  Constructive logicians are not good at negation...

[2019-03-25 13:17] jmchapman commented on #3391
I didn't. I have now. It doesn't seem to have any effect.

[2019-03-25 13:24] martinescardo commented on #3391
I have Agda version 2.6.0-d6b522c and the following

[code]
does create the hole with a `.lagda.md` file. I will try the pre-release version to see.

[2019-03-25 13:41] #3647 closed, assigned to andreasabel

[2019-03-25 13:48] martinescardo commented on #3391
You are right, @jmchapman. With the pre-release version, the "?" remains and the hole is not created.

[2019-03-25 14:07] martinescardo commented on #3391
It does work with the very latest commit, which is b239cb3.

[2019-03-25 14:09] jmchapman commented on #3391
@martinescardo thank you for checking!

I pulled the current head `Agda 2.6.0-b71beb8` and can confirm that ?s get correctly turned into goals with this version on my machine.

[2019-03-25 14:10] nad commented on #3647
@andreasabel, your refactoring is currently not on the release branch.

[2019-03-25 14:21] ice1000 commented on #2837
@jmchapman you need to compile Agda from the newest source code to get this update

[2019-03-25 14:23] jmchapman commented on #2837
Thank you for this. I understand that now. @martinescardo just pointed me in the right direction on the #3391.

[2019-03-25 14:25] andreasabel commented on #3640
Shrunk to:
[code]

[2019-03-25 14:38] asr commented on #3648
I'm planning to merge `master` in `release-2.6.0`, so this fix will be included.

[2019-03-25 14:57] andreasabel commented on #3640
`checkSizeIndex` used the number of data type parameters of `L.U` (2) when checking the target of constructor `node`, but this is `M.U A ...` with just a single parameter.
Solution: look up correct number of parameters.

Presumably, this never worked correctly, I tested back to 2.4.2.5.

[2019-03-25 14:59] asr commented on #3391
I'm planning to merge `master` in `release-2.6.0`, so the new support for `.lagda.md` files will be included in 2.6.0.

[2019-03-25 15:00] #3640 closed, assigned to andreasabel

[2019-03-25 15:02] asr commented on #3647
I'll include the refactoring in the release branch.

[2019-03-25 15:05] andreasabel commented on #3592
Should be revisited after #3541 goes live.

[2019-03-25 15:17] andreasabel commented on #3594
This suggests that the `Cannot instantiate` error should rather lead to a postponement than failing hard.

[2019-03-25 15:25] andreasabel commented on #3594
A long time ago we considered whether underapplied definitions by copattern matching for non-recursive records should reduce.  But we did not implement it.  Had we, then `f y = wrap x` and the problem would go away.  The question is of course, whether we should still implement it, or whether this would be hazardous to performance.

[2019-03-25 15:43] Saizan commented on #3594
Maybe we should make use of the ```Underapplied``` in ```NotBlocked``` to either postpone or expand.

[2019-03-25 15:48] jespercockx commented on #3650
I managed to fix the splitting strategy to take the new improved emptiness check into account: now a split doesn't count as partial unless at least one of the missing clauses is not impossible. This seems to fix the issue; however it's possible that we're doing a bit of double work. I'll leave any improvements to eliminating double work to when I finally get to finish my refactoring of the LHS che

[2019-03-25 16:02] jespercockx commented on #3649
You should make the second argument to `pf` into an instance argument:
[code]
That way your example works with `--overlapping-instances` enabled.

The reason why we don't solve the instance argument without `--overlapping-instances` is that instance search != proof search: we don't want to do unrestricted backtracking for resolving instances because it's unpredictable and can be extremely slow (se

[2019-03-25 16:04] #3618 closed, assigned to jespercockx

[2019-03-25 16:47] L-TChen commented on #3649
Ooops, thanks for pointing it out.

True, instance search is not supposed to be proof search, but it is rather an abuse of feature and makes life a bit easier.

I think I will have to use reflection-based approach in the end. Ta!

[2019-03-25 17:45] nad commented on #3592
I've tried to improve the error messages. The other issues remain.

Regarding the quirk I mentioned above: Could the reason for the observed behaviour be that Agda somehow moves the dot from one occurrence of `y` to the other?

[2019-03-25 23:33] jmchapman opened #3651 "internal error ghc backend"
$ agda --compile bug.agda --no-main
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/Compiler/ToTreeless.hs:212

[code]

[2019-03-25 23:59] gallais commented on #3651
I can't reproduce this with either 2.5.4.2 or 2.6.0-314d236 (11 days old) so it's
probably coming from a recent commit.

[2019-03-26 05:50] UlfNorell commented on #3651
Likely culprit: fix of #3536

[2019-03-26 09:50] jmchapman commented on #3651
Git bisect narrowed it down to d5a14b885087efb9e9cc32751c96beaac972459b but maybe I did something wrong.

[2019-03-26 10:04] UlfNorell commented on #3651
No that doesn't seem farfetched.

[2019-03-26 12:26] nad commented on #2963
I found the following code, which might be relevant to the discussion above:

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/TypeChecking/Rules/Decl.hs#L435-L440

[2019-03-26 12:38] Saizan commented on #2963
Also this bit of code could be relevant: an opportunity to run checks on extended lambda definitions outside a mutual block. Though if they are indeed mutually defined with something else it doesn't help I suppose.

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/TypeChecking/Rules/Term.hs#L631-L633

[2019-03-26 12:49] andreasabel opened #3652 "Volatile internal error at Rules/LHS.hs:767"
Internal error in Agda-2.6.0 87fb8278650472a3c9d93badd7888ced15b51240  with the following version of the standard library:
[code]
The following code triggers an internal error at `src/full/Agda/TypeChecking/Rules/LHS.hs:767`:
[code]
My attempts at shrinking have not been very successful.

[2019-03-26 12:54] andreasabel commented on #3650
Your commit seems to break the standard library test and could be causing #3652 !?

[2019-03-26 14:33] andreasabel commented on #3650
How about just reverting #3533 and restore the original behavior until after the release?

[2019-03-27 04:06] Bubbler-4 opened #3653 "Failed to install on Windows using GHC 8.6.3"
Environment:

* Windows 7
* Haskell Platform Core 8.6.3 (downloaded today)
* Downloaded Agda from the github repo (2.6.0) using "Download ZIP"

Commands:

* `cabal update`
* `cabal install alex happy` (to make sure latest version)
* `cabal install` (from source)

Failure log:

[code]

[2019-03-27 04:35] asr commented on #3653
From a similar error [here](https://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.WindowsNotes-2-4-2):

[2019-03-27 04:50] asr commented on #3653
Note that you can install a version of Agda compatible with GHC 8.6.3 by running
[code]

[2019-03-27 06:33] Bubbler-4 commented on #3653
Changing system locale didn't work. Exactly same failure as above.

Using the "2.6.0 candidate" release (@asr mentioned) seems to be running forever at "Building" stage.

[2019-03-27 07:28] Bubbler-4 commented on #3653
When run in verbose mode (`--verbose`), the log says `pkg-config` is required but not found. Could it be related to the issue?

[2019-03-27 08:13] Bubbler-4 commented on #3653
Full log file:

[code]

[2019-03-27 08:55] UlfNorell commented on #3651
Shrunk test case
[code]

[2019-03-27 08:56] nad commented on #2963
Consider the following code in `checkDecl`:

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/TypeChecking/Rules/Decl.hs#L173

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/TypeChecking/Rules/Decl.hs#L182

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/TypeChecking/Rules/Dec

[2019-03-27 08:57] #3590 closed, assigned to nad

[2019-03-27 08:57] nad commented on #3590
The following lines in the termination checker seem to have caused the problem:

https://github.com/agda/agda/blob/87fb8278650472a3c9d93badd7888ced15b51240/src/full/Agda/Termination/TermCheck.hs#L118-L120

The `Mutual` constructor surrounding record type definitions was ignored. However, the termination checker later used the state to find all mutually recursive names in the current mutual block.

[2019-03-27 09:12] nad commented on #2963
I missed that the returned checks are skipped inside mutual blocks, so it should be safe to remove `mutual empty [d]` (or rather, replace it with `impossible`), but this should not have any effect.

[2019-03-27 09:28] nad commented on #2963
I don't think this special case could be triggered any longer. I removed it.

The termination checker's performance degradation might, in part, be related to the quadratic behaviour that I just fixed (#3590). I did not benchmark the code properly, because the standard library test is currently broken.

[2019-03-27 09:42] nad commented on #3592
I suppose that if the proposed fix of #3541 is committed, then there should be fewer weird problems like the one in the OP. In that case I think we could close this ticket (if the quirk I mentioned above is benign).

[2019-03-27 10:10] #3651 closed, assigned to nobody

[2019-03-27 12:23] asr commented on #3653
No. From your log file you are getting the same error

[code]

Note that the [versions](https://www.haskell.org/platform/contents.html) of `alex` and `happy` in  the Haskell Platform 8.6.3 are supported by Agda.

Please, reinstall `happy` using the system locale in English and try to install the Agda 2.6.0 candidate.

[2019-03-27 12:53] asr commented on #3653
Googling for the problem, I find the same solution everywhere: Set `Language for non-Unicode` programs to `English (US)`.

For testing purpose, you can download and install Agda 2.6.0 candidate  using

[code]

From your log file, it seems you are using MinGW (I'm not familiar with it). Using MSYS [(a Bourne Shell command line interpreter system)](http://www.mingw.org/) which is the output of

[cod

[2019-03-27 13:04] jmchapman commented on #3651
Many thanks!

[2019-03-27 14:22] jespercockx commented on #3652
I have pushed a patch that (hopefully) fixes the build for now. However, it is still possible to trigger the internal error by changing the definition of `lookup` in `Data.Vec` to
[code]
It seems that with this small change to the `lookup` function the internal error is also triggered without the recent changes to the coverage checker.

[2019-03-27 15:34] UlfNorell commented on #3652
I cannot reproduce the internal error (even when rolling back 16bce9b, with or without `--ignore-interfaces`, cmdline or emacs). I get lots of yellow constraints on `lookup` though. I think is because when you split on the vector first `lookup ?X y` is blocked, but if you split on the Fin first, it's a neutral term. The latter allows more constraint solving.

[2019-03-27 15:48] asr commented on #3652
I noted the error with GHC 7.10.3 in [Travis](https://www.travis-ci.org/agda/agda/jobs/512040618):

[code]

I'm testing a fix in my machine right now...

[2019-03-27 15:49] UlfNorell commented on #3652
That one is my bad. Sorry.

[2019-03-27 15:52] UlfNorell commented on #3652
Here's the difference in constraint solving for the two versions of `lookup`. This is with the stopgap commit in place (otherwise both definitions turn into `lookup₂`):

[code]
It would be nice if we could detect that all these calls are neutral, but this is a bigger change than I'm willing to undertake before the release.

[2019-03-27 16:55] asr commented on #3652
I pushed the commit fixing the building error with GHC 7.10.3, so Travis should be green in a while.

[2019-03-28 05:09] Bubbler-4 commented on #3653
Tried it with system locale set to en-US (assuming `cabal install happy --reinstall` is the correct command), but still the same error.

For the `cabal get ...` one, I don't get the same `happy`-related error, but it seems to be running forever; specifically, the program `Agda-2.5.4.2.20190310\dist\setup\setup.exe` seems to have an infinite loop or something. I can see that `agda-mode.exe` is read

[2019-03-28 09:57] jespercockx commented on #3652
Likewise, after updating to the latest commit I cannot reproduce the internal error anymore even without 16bce9b. Maybe it got fixed by @UlfNorell in 29a27580013292ae57fca08e064d643838fd6e62 somehow?

Regarding the unsolved constraints, it seems to me we have three options:

1. Roll back everything related to allowing skipping of absurd clauses, up to and including https://github.com/agda/agda/com

[2019-03-28 10:15] gallais commented on #3652
It only breaks the invariant if we do include #3533, doesn't it? Otherwise we have
the old splitting strategy which may be too verbose but should produce valid covers.
I agree with @andreasabel in #3650: we should just roll back #3533 an try to ship
it in 2.6.1 after extensive testing instead (i.e. re-merge it back in right after
2.6.0 is released and catch all the bugs we can find by using it our

[2019-03-28 10:20] jespercockx commented on #3652
No, the invariant was already broken before that. The only difference is that with #3533, you're much more likely to actually get into a situation where the problem occurs. So just rolling back that PR doesn't really fix anything IMHO.

[2019-03-28 12:59] #3600 closed, assigned to andreasabel

[2019-03-28 13:02] andreasabel commented on #3600
The problem was here that when trying `a <= b` speculatively during checking `a <= max b c`, constraints arising from `a <= b` were kept, which is wrong, since `a <= b` is not necessary for `a <= max b c`.

[2019-03-28 14:07] UlfNorell commented on #3652
I'm also in favour of option 2. The current behaviour is the right one, and with the internal error fixed there is no evidence of any bugs. It seems backwards to release a version with known issues just because we are afraid that there might be unknown issues in the fixed version.

[2019-03-28 14:10] jespercockx opened #3654 "Show non-blocked constraints first in list of unsolved constraints"
When writing or refactoring Agda code with lots of unsolved constraints, I often have to hunt for the constraints that are not blocked on another problem (usually the blocked ones go away once the non-blocked ones are solved). It would be nice if Agda could show the non-blocked constraints *first* in the list so I don't have to do linear search manually.

[2019-03-28 14:14] asr commented on #3653
It seems there is an inconsistency between the versions of `Cabal` (the library) and `cabal-install`) (the program) reported [here](https://www.haskell.org/platform/contents.html).

Which is the output of
[code]
?

[2019-03-28 14:44] jespercockx commented on #3652
I made a PR with the required changes to the standard library to make it check with the alternative splitting strategy of #3650: https://github.com/agda/agda-stdlib/pull/673

[2019-03-28 15:14] asr commented on #3653
Did you get the same behaviour by running

[code]

?

What about

[code]
?

[2019-03-28 17:29] andreasabel commented on #3248
This used to work until 2.5.3.  (Ulf's refactoring e49d1ca276e5adbf2eb9f6cd33926b786cef78f7 of the application checking seems to take the blame for this.)
The problem is that `leqType` is insufficient when the target type is a Size<, it is necessary to invoke `coerce` then.
Related: #3039.

[2019-03-28 17:40] #3248 closed, assigned to andreasabel

[2019-03-28 19:52] andreasabel commented on #3039
For the second example, it seems that Agda drops some constraints for meta variable `_152` which enables it to wrongly instantiate it to infinity later:
[code]

[2019-03-29 01:38] MatthewDaggitt commented on #3652
Merged in the PR, and fast-forwarded the standard library on master (26835b4)

[2019-03-29 02:08] Bubbler-4 commented on #3653
Cabal version:

[code]

`cabal install -j1` on `cmd.exe` : Got the `happy` error, message is the same as the original.

`cabal install -j1` on MinGW : Seems to take forever at the following:

[code]

`cabal install -j1 -fcpphs` on `cmd.exe` : Same `happy` error.

`cabal install -j1 -fcpphs` on MinGW : Same as above, stuck at `[126 of 357]`.

[2019-03-29 02:34] asr commented on #3653
I have no Windows. We tested the 2.6.0 candidate with Windows 10 and GHC 8.4.3. Can someone reproduce the problems on Windows using GHC 8.6.3?

[2019-03-29 03:36] asr commented on #3653
The above file uses Template Haskell and there is a problem with Template Haskell on Windows and GHC 8.6.3 (see https://gitlab.haskell.org/ghc/ghc/issues/16071). You need to use a different version of GHC on Windows. The versions of GHC supported are 8.6.4, 8.4.4, 8.2.2, 8.0.2 and 7.10.3.

I'll close the issue after adding an error message when installing Agda on Windows and GHC 8.6.3.

[2019-03-29 04:25] Bubbler-4 commented on #3653
Haskell Platform for Windows offers neither 8.6.4 nor 8.4.4. I'll try installing with GHC 8.4.3 then.

[2019-03-29 07:15] Bubbler-4 commented on #3653
Using GHC 8.4.3 and MinGW did work. (vanilla `cmd.exe` did not work; `happy` issue is still there.) Now I can work with `--cubical` on my local PC. Thanks for all the help.

[2019-03-29 08:07] jespercockx commented on #3650
Not actually fixed yet since we have to undo the stopgap patch 16bce9b

[2019-03-29 08:10] jespercockx commented on #3652
Thanks!

[2019-03-29 08:10] #3652 closed, assigned to jespercockx

[2019-03-29 08:39] #3650 closed, assigned to jespercockx

[2019-03-29 09:30] andreasabel commented on #3653
@asr, thanks for seeing this through.  I am closing this, feel free to reopen in case something remains to be done on this issue.

[2019-03-29 09:31] jespercockx commented on #3653
@asr said:

[2019-03-29 11:05] nad opened #3655 "Internal error related to generalisable variables"
With Agda 2.6.0-29a2758:
[code]
[code]
If I replace the final underscore with a hole and try to give `P _ _ x`, then I get the following error message:
[code]

[2019-03-29 11:16] nad opened #3656 "Generalisable variables cannot be "given" in type signatures"
The following code is accepted:
[code]
However, if I replace the final occurrence of `A` with a hole and try to give `A`, then I get the following error message:
[code]

[2019-03-29 11:20] guillaumebrunerie commented on #3656
See issue #3341 and Ulf’s comments there.

[2019-03-29 11:28] nad commented on #3656
I searched for similar tickets, but only among the open ones…

[2019-03-29 12:09] UlfNorell commented on #3656
There's also https://agda.readthedocs.io/en/latest/language/generalization-of-declared-variables.html#interaction

[2019-03-29 13:35] asr opened #3657 "Disable compilation with Windows and GHC 8.6.3"
The file `Agda\Syntax\Internal.hs` uses Template Haskell. There is a problem with Template Haskell on Windows and GHC 8.6.3 (see https://gitlab.haskell.org/ghc/ghc/issues/16071), so I'll disable the installation on this case.

[2019-03-29 13:44] asr commented on #3653
I filed #3657, so I'm closing this issue.

[2019-03-29 13:44] #3653 closed, assigned to asr

[2019-03-29 14:11] jespercockx opened #3658 "Builtins PATH and PATHP are not bound in Agda.Primitive.Cubical"
Why not?

[2019-03-29 14:14] jespercockx opened #3659 "Wrong de Bruijn index in error message for path constructor with unsolved constraints"
Minimal example:
[code]
Error message:
[code]
I'm not sure whether it makes sense to get an error message here or not, but the message should definitely not refer to `Set A` as `A` does not have type `Level`.

[2019-03-29 14:34] jespercockx commented on #3658
Never mind, I found they are defined Agda.Builtin.Cubical.Path.

[2019-03-29 14:34] #3658 closed, assigned to nobody

[2019-03-29 14:40] jespercockx opened #3660 "Wrong variable name in constraints for higher constructor"
This may be related to #3659, but this time it is in the unsolved constraints you get when pattern matching on a higher inductive type. Minimal example:
[code]
Agda reports the following:
[code]
The proper constraints should be like this instead:
[code]

[2019-03-29 14:46] jespercockx commented on #471
I wanted to submit the enhancement request below but Github notified me of the existence of this existing issue.

[2019-03-29 19:13] #3657 closed, assigned to asr

[2019-03-29 19:21] asr commented on #3655
Since that generalisable variables is a feature not released, the closed issues with label `generalize` and milestone `2.6.0` should have the `not-in-changelog` label. I'll also add this label to the other issues.

[2019-03-29 19:22] jespercockx opened #3661 "Internal error at TypeChecking/Substitute.hs:109 with cubical"
[code]

[2019-03-29 19:56] martinescardo commented on #3391
I am going to be teaching at the Midlands Graduate School in about two weeks, and my lecture notes use Agda 2.6.0. Do you think it will be released by then? Or should I write instructions for the students to use the development version or the pre-release? Thanks.

[2019-03-29 20:04] andreasabel opened #3662 "Regression in termination checker for copatterns"
This is accepted (at least) in 2.4.2.4 - 2.5.4.2, but not in current master (2.6.0):
[code]
Error:
[code]

[2019-03-29 20:45] andreasabel commented on #3662
Shrunk further:
[code]
The problem is an unholy interaction between the termination checking for type signatures (#1556, ced4ec34598d1cdc24130d8e9a8d7767b6c90825) and copatterns (#906).
A proper fix would be the implementation of the Hyvernat termination checker (#1390), which would detect that the call `Aux --> T.Carr test` is harmless since `T.Carr test` does not have any recursive calls, only `

[2019-03-30 02:02] asr commented on #3391
Is the current master (4d1f6f4063c4cd7c0aea52d567376da79a52f9c7) enough for your course? If so, I can release a new release candidate.

[2019-03-30 03:34] asr opened #3663 "Memory explodes using QuickCheck 2.13.1"
While working in supporting [QuickCheck 2.13.1](http://hackage.haskell.org/package/QuickCheck-2.13.1), I found that the memory explodes when running `make internal-tests`.

[2019-03-30 03:35] asr commented on #3663
I filed https://github.com/nick8325/quickcheck/issues/253.

[2019-03-30 07:47] andreasabel commented on #3659
Maybe related: #3537.

[2019-03-30 07:55] martinescardo commented on #3391
Thanks. I've just tested this version just in case, and it works fine with both the lecture notes and my personal Agda development, so that this as the new release candidate will be excellent.

[2019-03-30 21:06] nad opened #3666 "Generalisation leads to a type with "orphan" implicit arguments"
Consider the following code:
[code]
The inferred type of `p` (neither normalised nor simplified):
[code]
Note that `d.f.u`, `d.f` and `d.4` could have been omitted from this type signature. This looks like a bug to me, but I don't know enough about generalisation to be able to tell for sure.

[2019-03-30 21:30] nad opened #3667 "Generalised types can be ill-formed"
Consider the following code:
[code]
The inferred type of `q`:
[code]
Note that this type is ill-formed.

[2019-03-30 22:19] jespercockx commented on #3666
I guess Agda somehow creates some metavariables that are left unsolved, and the implementation of generalization automatically turns these unsolved metavariables into additional arguments without checking whether they are actually mentioned. Looks like a bug to me.

[2019-03-31 04:18] asr commented on #3391
I'm preparing the second release candidate from 4eb2d7d.

[2019-03-31 05:48] #3663 closed, assigned to asr

[2019-03-31 05:59] asr commented on #3663
I didn't remove the support for QuickCheck < 2.13.1 in the above commit because I did not want to complicate the release of 2.6.0. Anyway, since QuickCheck 2.13.1 exposed a couple of buggy instances (see 2ac14ac), I suggest to update your version of QuickCheck.

[2019-03-31 08:10] UlfNorell commented on #3666
This looks like the same problem as #3667. Somehow `d` is given two extra generalizable arguments.

[2019-03-31 08:10] #3666 closed, assigned to nobody

[2019-03-31 09:04] UlfNorell commented on #3667
The problem is that generalization doesn't handle constraints properly.

The type that it gets to work with is this:
[code]
which has the unsolved constraints
[code]
At this point two things go wrong:
- we decide to generalize over both `_20` and `_13` (causing #3666), and
- we lose the constraint (causing this issue)

[2019-03-31 09:30] jespercockx commented on #3667
It seems dangerous/wrong to generalize over constrained metavariables in the first place. Why don't we just postpone generalization until there are no more constraints left (or show the unsolved constraints to the user in case they're never solved)?

[2019-03-31 09:41] UlfNorell commented on #3667
The constraints are local, so postponing doesn't help. Also it's problematic to postpone generalization: how would you check the lhs of the function if you don't have a type?

The right thing is indeed to not generalize over constrained metas.

[2019-03-31 11:10] nad opened #3669 "Make the record update syntax more liberal?"
The following code is rejected:
[code]
[Apparently](https://agda.readthedocs.io/en/latest/language/record-types.html#record-update) record updates have to preserve not only the record type family, but also the record parameters. Is this the right design?

[2019-03-31 12:24] UlfNorell commented on #3667
@nad I have a fix that solves the problem here and in #3666. Can you try #3670 on your original example (I assume some shrinking happened to obtain the test case in the OP)?

[2019-03-31 17:13] asr commented on #3391
I uploaded to Hackage the second release candidate [Agda-2.5.4.2.20190330](https://hackage.haskell.org/package/Agda-2.5.4.2.20190330/candidate) and I tested its installation on Ubuntu with the following versions of GHC:

- 8.6.4
- 8.4.4
- 8.2.2
- 8.0.2
- 7.10.3

Could someone test the installation on macOS and Windows using the following instructions:

[code]

or

[code]

[2019-03-31 17:48] jespercockx commented on #3391
I managed to install Agda-2.5.4.2.20190330 under Windows 10 with GHC 8.4.3.

[2019-03-31 18:54] nad commented on #3667
Some code that used to be accepted is now rejected. I tried to construct a small test case (but it might not be entirely representative of the original code):
[code]
There is one unsolved metavariable, `_x.A_25`, and no unsolved constraints. The inferred type of `q` is `{x : D _x.A_25} {p : P _x.A_25 x} → Q _x.A_25 x p`.

[2019-03-31 19:04] UlfNorell commented on #3391
Installs fine on Mac OS 10.14 and GHC 8.6.3.

[2019-03-31 19:41] UlfNorell commented on #3667
This is an expected side effect of the fix. At the point of generalisation there's a constraint on the first argument to `Q` preventing it from being generalised. Once we generalise over `x` injectivity kicks in and the constraint is solved, which is why you don't see it.

This could be fixed by treating metas from generalisable variables as neutral, can you file a separate enhancement ticket for

[2019-03-31 19:41] #3667 closed, assigned to nobody

[2019-03-31 19:57] nad opened #3671 "Treat metas coming from generalisable variables as neutral?"
The following code is currently rejected:
[code]
There is one unsolved metavariable, `_x.A_25`, and no unsolved constraints. The inferred type of `q` is `{x : D _x.A_25} {p : P _x.A_25 x} → Q _x.A_25 x p`.

@UlfNorell [wrote](https://github.com/agda/agda/issues/3667?_pjax=%23js-repo-pjax-container#issuecomment-478373756) the following:

[2019-03-31 20:43] nad opened #3672 "Better error messages for generalize easter eggs"
The following code triggers an internal error:
[code]
[code]
This error is not triggered by Agda 2.5.4.2.20190310.

[2019-03-31 22:39] asr commented on #3391
@jespercockx added a *necessary* section of 'highlights' to the `CHANGELOG.md`. I think we should include in this section all the language changes from closed issues with label `language-change`. What do you think?

[2019-04-01 05:17] UlfNorell commented on #3391
None of those 4 issues look like they deserve a spot in the highlights section. It would be one thing if these were the main things people had to worry about when migrating from 2.5.4 to 2.6.0, but I'm pretty sure that's not the case.

[2019-04-01 06:53] andreasabel commented on #3669
Record update is rather a fringe feature, I'd say, thus, its design might not have been given a lot of consideration.  To progress with your question, one should investigate the amount of expected breakage (yellow) if the typing would be relaxed in your sense.  Which situations are examples for such breakage?

[2019-04-01 09:20] nad opened #3673 "Yet another internal error related to generalisable variables"
Code:
[code]
Error message:
[code]

Is the internal checker only used for `with`? Perhaps it would be a good idea to run the test suite with the internal checker turned on.

[2019-04-01 09:25] jespercockx commented on #3673
See https://github.com/agda/agda/issues/3099 for the issue concerning the `--double-check` option (enabling the internal double-checker in more places). Last time I tried to run the test suite with `--double-check` enabled, I ran into lots of unsolved constraint dealing with sized types.

[2019-04-01 10:03] nad commented on #3655
I can still trigger this internal error:
[code]
The inferred type of `f`:
[code]

[2019-04-02 05:52] gallais opened #3674 "Irrefutable pattern in Auto/CaseSplit"
Don't have time to investigate right now but running auto in the hole yields

[code]

[2019-04-02 09:13] Saizan opened #3675 "Omit path-constructor corrections for ```transp``` when possible."
In general ```transp``` on path constructors needs an extra ```hcomp``` to preserve the endpoints.

If the endpoints are nice enough, i.e. ```transp``` reduces on them, we can do without the ```hcomp```.

This optimization is employed in cubicaltt https://github.com/mortberg/cubicaltt/blob/pi4s3_nobug/Eval.hs#L664

We should either recognize the path constructor for which this is safe, or implemen

[2019-04-02 10:20] Saizan commented on #3675
@mortberg The optimization as implemented in that link does not seem to work when you have path arguments to your constructors (e.g. for set truncation).

cubicaltt seems to just avoid putting an ```hcomp``` on the outside, while applying ```transp``` to all the arguments, that however leads to an extra internal ```hcomp``` for path arguments.

[code]

The good news is that one can optimize even m

[2019-04-02 11:03] nad opened #3676 "Agda gives unnecessarily imprecise error messages for code involving instance arguments"
Consider the following code:
[code]
Here `m n` should be `m + n`. Agda 2.5.4.2 points to `m` and gives a reasonable error message:
[code]
However, Agda 2.6.0-4241ac2 points to `return` on the previous line and gives a less readable error message:
[code]
Why doesn't Agda commit to the `F` monad and give the error message that Agda 2.5.4.2 gave?

This bug can make it awkward to develop code using in

[2019-04-02 15:00] andreasabel opened #3677 "Operator parse error should include "nullary operators""
[code]
The problem is that `,` is not mentioned because it is not an operator, but it would be very helpful to get its location (and thus a hint how it was imported).
(What confused me in addition is that `(A ,)` looked like a section to me (as a Haskell programmer), thus, I was more expecting a bug in the parser...)

The scenario is: you import a gazillion modules, and a third party added a new d

[2019-04-02 15:18] andreasabel commented on #3677
The list `[NotationSection]` in `OperatorInformation` coming from `buildParsers` should be enriched by the imported non-operators which have the same name as contributing operators.

[2019-04-02 19:16] UlfNorell commented on #3676
The change from 2.5.4.2 is because we check instance constraints later (due to #3435). When we do check I don't see anything suggesting that the `F` instance is better than the `G` instance. But I guess you have something in mind?

[2019-04-02 19:55] nad commented on #3676
The type signature uses `F`, not `G`. If one instance uses the right type family and no other instances do, then I don't think we should include the others in the error message.

I see that you moved this to 2.6.1. In my opinion the user experience is significantly worse now. I really think we should fix this before the release.

[2019-04-02 20:40] UlfNorell commented on #3676
Currently we don't track where constraints are coming from, or give higher weight to certain constraints when reporting instance errors. When instance search attempts the goal in question there are two (relevant) constraints:
[code]
Trying `G` fails the first constraint and trying `F` passes the first constraint and fails the second. I'm not sure what a principled solution looks like here. Some po

[2019-04-02 21:25] nad commented on #3676
I think this might be rather harrowing to some users. My user experience earlier today:

* Code, code, code. Reload.
* There was a type error. The cursor jumped ∼40 lines.
* There is some long error message that mentions lots of instances. I rarely try to decipher such error messages.
* Replace code with holes (starting in the vicinity of the supposed position of the error) until Agda stops compla

[2019-04-02 21:30] nad commented on #3677
Perhaps we could include all non-operator names which match (in some sense) one *name part* in the (partial) expression that is parsed.

[2019-04-03 05:01] UlfNorell commented on #3676
How would you decide which error is more specific?

The location of the error is the location of the instance meta and the location for a candidate is the location of the specific error message.

[2019-04-03 08:38] jespercockx commented on #3676
AFAIU, currently the candidate check works like follows:

1. Check if the type of the instance matches the type of the goal
2. Instantiate the instance meta with the actual instance
3. Solve constraints

Maybe we could do another "solve constraints" pass between 1. and 2. and distinguish candidates based on whether they were already ruled out during this first pass. If at least one candidate made

[2019-04-03 08:39] jespercockx opened #3678 "Two out-of-scope variables are given the same name"
Example by @Saizan in #572:
[code]
After loading the file, Agda displays the following:
[code]
However, the two `x`s in the type of `?2` are actually two *different* variables. This also shows in the context for the hole:
[code]
Note that if you replace one of the first two holes with an underscore, Agda prints the right thing. So somewhere interaction metas must be treated differently from regula

[2019-04-03 08:47] Saizan commented on #3678
According to my understanding, what's happening is that during the printing of goal types for ?0 and ?1 the concrete name "x" is picked for each of the variables and stored in ```stConcreteNames```. This is allowed to happen because the context for each of ?0 and ?1 only mentions one of the two variables, not both at once.

Then when time comes to print the type for "?2" the already chosen concret

[2019-04-03 09:20] UlfNorell commented on #3676
This wouldn't make a difference in this particular case. Both candidates fail the first pass.

[2019-04-03 09:55] jespercockx commented on #3678
Yeah, that explanation seems to make sense. However, I don't see why `toConcreteName` doesn't pick up on the shadowing: why doesn't `lookupNameInScope` return the shadowing variable in one of the cases, which would trigger the other one to be renamed?

[2019-04-03 09:58] jespercockx commented on #3678
Oh no, I see now: `lookupNameInScope` only looks at user-written variables but not at system-inserted ones. So we should look at the `takenVarNames` instead.

[2019-04-03 10:48] nad commented on #3676
I was referring to the range. The list could be sorted based on the lengths of the ranges.

[2019-04-03 13:48] rogerbosman opened #3680 "Unicode slow"
Hi,

On my machine, whenever there are unicode symbols (math symbols, auto-generated subscripts etc.) on-screen, emacs grinds to a halt. For example, displaying the current hole goal takes 3+ seconds, where it is instant in other cases.

The issue is not just in the "editor window": even if there are only unicode symbols in the "result window" (where goals etc. are shown) the experience is slow.

[2019-04-03 14:32] #3678 closed, assigned to jespercockx

[2019-04-03 16:48] nad commented on #3680
My guess would be that this has nothing to do with Agda. A quick search [suggests](https://emacs.stackexchange.com/questions/33510/unicode-txt-slowness) that it might be possible to fix the problem by running `M-x (setq inhibit-compacting-font-caches t) RET`. Eli Zaretskii, an Emacs maintainer, has [asked](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=27350#8) for this kind of problem to be report

[2019-04-03 20:15] rogerbosman commented on #3680
This I should have found out by myself, d'oh! This is my first experience with emacs, so I figured the problem lied here. But now it is solved.

Just as a sidenote, running it in the `M-x` window does not let me set the variable, `(setq*space*` gives `(setq [No match]`, but including it in the .emacs init script worked without problem!

[2019-04-03 20:15] #3680 closed, assigned to nobody

[2019-04-04 10:33] UlfNorell commented on #3672
I have a PR that fixes this (including its duplicates #3655 and #3673): #3681. @nad can you try to break it again?

[2019-04-04 10:45] nad commented on #3680
Sorry, that should be `M-:`, not `M-x`.

[2019-04-04 10:48] nad commented on #3672
I'm compiling it now.

[2019-04-04 11:31] Saizan commented on #3599
The changes needed in the library for no-eta on ```isEquiv``` are very small, and that would already speed up the original example: https://github.com/agda/cubical/commit/0df744ad010e716e8fe81bac6ce244b160427455

It might still be more efficient to ```transport``` across a ```hcomp {A = Set}``` if we make it a canonical form, but I would try the smaller change first.

@mortberg What do you think?

[2019-04-04 11:44] Saizan commented on #3660
I believe this is just an unfortunate printout. notice how ```(f = x)``` and ```(x = x₁)``` in the arguments to the meta.

If you give names in the type signature you get better names in the constraints:

[code]

[code]

It would be great if we could get the user-provided names in the clause all the way to ```checkIApplyConfluence```. However we get the clauses from the coverage checker, while the

[2019-04-04 12:29] akaposi opened #3683 "Inductive-inductive type nontermination"
The following code was accepted by Agda 2.5.4.2 but Agda master says

[code]

The code just defines the eliminator for a simple inductive-inductive type.

[code]

[2019-04-04 15:18] #3676 closed, assigned to nobody

[2019-04-04 19:05] nad commented on #3672
[code]
[code]

[2019-04-04 19:08] nad commented on #3683
See #1556.

[2019-04-05 07:47] UlfNorell commented on #3672
@nad I've pushed a fix to this problem to the PR branch.

[2019-04-05 07:59] nad commented on #3672
I tested the previous commit (before your force-push) and only found one problem. This problem still exists:
[code]
[code]
It should be easy to solve this constraint.

[2019-04-05 08:04] UlfNorell commented on #3672
Not that easy. With `--show-implicit`:
[code]

[2019-04-05 08:11] MatthewDaggitt commented on #3391
Fast-forwarded the standard library again (on `master` this time!) to include a few more bug fixes before v1.0. The commit 92823a9 needs cherry-picking across to release.

[2019-04-05 10:51] Saizan commented on #3661
My code assumes that the split patterns you get from `.Coverage.Match.match` are in the right order to build a subsitution for the clause telescope. However it doesn't seem to be the case for `foo`.

I suppose a difference is that ```x ~ y``` is indexed.

It seems like it should be possible to change ```match``` to return a proper substution.

[2019-04-05 11:05] nad commented on #3672
Ah, OK. Perhaps we should always display implicit arguments (to some depth) when two terms are claimed to be distinct, but are printed in the same way.

[2019-04-05 12:11] #3661 closed, assigned to Saizan

[2019-04-05 12:15] asr commented on #3391
Thanks! I'm planning to merge `master` into `release-2.6.0` when preparing the release.

[2019-04-05 13:13] #3659 closed, assigned to nobody

[2019-04-05 13:44] #3537 closed, assigned to Saizan

[2019-04-05 15:55] #3655 closed, assigned to nobody

[2019-04-05 15:55] #3673 closed, assigned to nobody

[2019-04-06 12:21] canndrew commented on #2858
Any updates on this? I've been trying to define type theory in type theory ever since I started learning type theory years ago. First I had to wait for people to invent HoTT, then I had to wait for people to make HoTT computable, then I had to wait for cubical types to make it into Agda, now it looks like the only thing holding me back is Agda's `mutual` blocks not being mutual enough.

If I fork

[2019-04-08 08:45] andreasabel opened #3684 "Make error about non-existent record field a warning?"
Due to restructuring of the standard library I am getting the following error:
[code]
Being in the state of error, jump-to-definition does not work, which in my case would make it easy to find out the new field names or the new organizational structure.

In principle, this error could be turned into a soft error (serious warning) which markes the code in the non-existing fields as dead (we have si

[2019-04-08 08:57] MatthewDaggitt commented on #3684
Seconded. Jump-to not working when in an error state is very irritating. Preserving the jump-to functionality where possible would be great! I remember thinking there are other places where this might (albeit in my limited experience) be possible as well. Though I can't remember them at the moment, I'll add them when I come across them again.

[2019-04-08 11:08] nad commented on #3684
It would also be possible to make jump-to-definition work better when an error is encountered.

[2019-04-08 11:21] gallais commented on #3684
Slight head-scratcher: when a record pattern on the LHS mentions a non-existing
field, the scope checker has already assumed that whatever it bound is now available
on the RHS. With my naïve patch, this leads to a panic in `test/Fail/RecordPattern2.agda`:

[code]

[2019-04-08 18:42] asr opened #3685 "Support GHC 8.6.5"
GHC 8.6.5 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2019-April/017544.html). I created this issue for collecting/reporting the required changes/issues.

[2019-04-09 14:05] mortberg commented on #3599
How do you disable eta for `isEquiv`? Is it a change internally to Agda or just to the Primitives (or something else)?

[2019-04-09 14:08] Saizan commented on #3599
It's a change in the definition of the record type, so in ```Agda.Builtin.Cubical.Glue``` for example.

[code]

[2019-04-09 14:09] mortberg commented on #3599
I see, that seems simple enough! Can it make it into the next release?

[2019-04-09 14:10] andreasabel commented on #3684
Ok, I did not think about the LHS at all.  It would be ok if the whole clause would be skipped if there was a type error in the record pattern.

[2019-04-09 14:13] Saizan commented on #3599
I think so. I will push it now.

[2019-04-09 15:03] mortberg commented on #3675
Yeah, I realized this a while ago with Evan Cavallo but we didn't implement the further optimization in cubicaltt yet. It is indeed quite subtle to figure out how to optimize this correctly for the general schema. I vote for having a pragma that experts can use to tag certain HITs with whether these optimizations should be enabled or not. That way we could experiment with it and see if it makes a

[2019-04-10 06:58] UlfNorell commented on #3662
Is there an improper cheap fix that we could implement while waiting for #1390? If not, this will have to be bumped to 2.6.1.

[2019-04-10 11:39] andreasabel commented on #3683
With counting calls in the type signature as well, we get
[code]
which does not pass the naive termination checker, since `a` and `f _` are unrelated in size.

However a more sophisticated type checker (Hyvernat) will see that the composed call
[code]
is not idempotent; it cannot be composed with itself.

Thus, it is to be discounted during termination checking.

Verdict: this test case should pas

[2019-04-10 12:05] andreasabel commented on #3581
See also #3662 and #3683.

[2019-04-10 12:05] #3581 closed, assigned to andreasabel

[2019-04-10 12:12] #3662 closed, assigned to andreasabel

[2019-04-10 12:12] #3683 closed, assigned to andreasabel

[2019-04-10 12:12] andreasabel commented on #3662
See also #3581 and #3683.

[2019-04-10 12:13] andreasabel commented on #1556
Undid my fix for the sake of #3581, #3662, and #3683.

[2019-04-10 12:20] andreasabel commented on #1209
Your fix as described in https://github.com/agda/agda/issues/1209#issuecomment-447142035 LGTM, @nad.

[2019-04-10 12:21] asr commented on #3391
All issues with milestone 2.6.0 are closed. Great! I'm waiting for green in Travis to make the release based on `master` from ba50d355f3407c64d948d60042b3e0a31b2b18c6.

[2019-04-10 16:47] andreasabel opened #3687 "Show module contents (C-c C-o) prints garbled names in clause"
Show module contents (`C-c C-o`) shuffles bound variables badly in its output.
[code]
In the output, the names are completely garbled.

I'll do some further shrinking.

[2019-04-10 17:01] andreasabel commented on #3687
Same amount of garbage for less code.
[code]
Seems to be a bug in feature #1926 which exists since 2.5.1.1.

[2019-04-10 17:35] andreasabel commented on #3687
MWE:
[code]
[code]

[2019-04-10 18:44] #3687 closed, assigned to andreasabel

[2019-04-10 18:56] asr commented on #3687
Why milestone 2.6.0? I'm preparing the release based on  ba50d355f3407c64d948d60042b3e0a31b2b18c6?

[2019-04-10 19:38] rwe opened #3688 "[feature] Permit `COMPILE` pragma outside of defining module"
## Proposal
Permit `COMPILE` pragma outside of the defining module of a data/record type. Something like:

[code]
With an error if duplicate `COMPILE` definitions are defined for the same data/record type.

## Context
`COMPILE` and `FOREIGN` pragmas were disallowed and removed from `--safe` modules in agda/agda#2880, yet `COMPILE` cannot be declared outside the defining module of a type. This leav

[2019-04-10 20:47] andrejtokarcik opened #3689 "Internal error at TypeChecking/Substitute.hs:109"
[code]

When I attempt to case-split the `x` variable in the definition of `fun` on the last line (e.g., by pressing `C-c C-c` in the Emacs mode) the following message is printed:
[code]

The issue was discovered with a custom build of master, commit 709bda3. I just verified it still fails with the most recent commit d0afa8f. I have not tested the code with any other versions of Agda.

#3661 might

[2019-04-10 20:54] andrejtokarcik commented on #3689
FWIW, it's possible to manually replace the offending `x` variable by a pattern involving the `_,_` constructor as expected without any problems.

[2019-04-10 21:08] andreasabel commented on #3689
This works fine with 2.5.4.2, thus, is a new regression that should be fixed before the release of 2.6.0.
[code]
Likely a bug introduced by new feature #3526 (PR #3533).

[2019-04-10 21:11] andreasabel commented on #3687
Ok, you can leave this one for 2.6.1, it is not so important. I was not aware you were packing up now.  But see also the new regression #3689.

[2019-04-10 21:11] ice1000 commented on #3391
FYI CI is already green.

[2019-04-11 06:18] andreasabel commented on #3689
This is the MWE:
[code]

[2019-04-11 06:52] andreasabel commented on #3689
Problem was a missing `inContextOfT` at call to `isEmptyType`: https://github.com/agda/agda/blob/69ddcc096a55b111234ccb941b8e8002064c96b9/src/full/Agda/TypeChecking/Coverage.hs#L1272
Inserting it fixes this issue.
Thanks for reporting @andrejtokarcik

[2019-04-11 06:53] #3689 closed, assigned to andreasabel

[2019-04-11 06:58] andreasabel commented on #3391
Fix of #3689 needs to be included in the release (but _not_ in the changelog, as it was a regression caused by new feature #3533).

[2019-04-11 10:47] asr commented on #3391
Noted.

[2019-04-11 10:51] asr commented on #3687
Since I need to include the fix of #3689, I'll also include the fix of this issue.

[2019-04-12 04:39] asr commented on #3391
I uploaded to Hackage the package candidate [Agda-2.6.0](https://hackage.haskell.org/package/Agda-2.6.0/candidate) and I tested its installation on Ubuntu with GHC 8.6.4, 8.4.4, 8.2.2, 8.0.2 and 7.10.3.

Could someone test the installation on macOS and Windows using the following instructions:

[code]

or

[code]

[2019-04-12 04:48] asr commented on #3391
Please note I'll be without access to any computer for six days starting this Saturday. If I haven't  information about the tests on macOS and Windows soon, I'll not be able to make the release in the coming days.

[2019-04-12 05:41] UlfNorell commented on #3391
- [x] Windows 10, ghc-8.4.1
- [x] MacOS 10.14, ghc-8.6.4

[2019-04-12 11:22] Saizan commented on #3606
@UlfNorell @andreasabel @jespercockx @nad Anyone opposed to instantiating away blocking metas when printing out constraints?

[2019-04-12 12:12] nad opened #3690 "Cubical interaction: Display inferred type with interval variables instantiated"
When working with Cubical Agda it might be nice if commands like `agda2-goal-and-context-and-inferred` (`C-c C-.`) included information about the value of the given expression for each relevant instantiation of interval variables.

[2019-04-12 12:42] asr commented on #3391
Agda 2.6.0 was released. Good job everyone!

[2019-04-12 12:42] #3391 closed, assigned to asr

[2019-04-12 13:00] martinescardo commented on #3391
Great! Just in time for the Midlands Graduate School, which starts on Sunday.

[2019-04-12 15:33] andreasabel commented on #3684
I implemented this for record expressions now.

[2019-04-12 15:49] andreasabel commented on #3684
For copatterns, the improvement of the error seems harder to achieve, since we are handling the resolution of projection patterns in the scope checker already (while record field tags are checked later, during type checking).
[code]
[code]

[2019-04-12 18:07] xekoukou opened #3692 "Omission of absurd patterns in automatically added absurd clauses causes too optimistic polarity."
refl is accepted here while it should not.

[code]

Agda version 2.6.0-4241ac2

[2019-04-12 20:42] nad commented on #3672
[code]
[code]

[2019-04-12 21:45] nad opened #3693 "Documentation of computational behaviour of cubical primitives"
Some pieces of information related to Cubical Agda that I failed to find in the user manual:
* How `primSubOut` computes.
* How `primTransp` computes.
* How `primHComp` computes.
* How `primGlue` computes.

And so on for the remaining cubical primitives without complete documentation.

[2019-04-12 23:12] nad commented on #3656
The variable `A` cannot be "given" in the hole below:
[code]
If I understood the user manual correctly this should be possible.

[2019-04-13 09:07] nad opened #3694 "Importing Agda.Builtin.Size in one module affects another module"
`Bug2.agda`:
[code]
`Bug.agda`:
[code]
Agda accepts the code in `Bug2.agda`:
[code]
However, if `Bug2.agda` is loaded via `Bug.agda`, then Agda complains:
[code]
Importing `Agda.Builtin.Size` in `Bug.agda` should not affect `Bug2.agda`.

[2019-04-13 09:22] andreasabel commented on #3692
Congrats, you found the first released regression!

Version without the standard library:
[code]
This regression is on new feature #1086.

[2019-04-13 09:49] andreasabel commented on #3407
In https://github.com/agda/agda/issues/3407#issuecomment-441294394 I wrote:

It seems that the absurd clauses are added now, but without putting appropriate absurd patterns in. https://github.com/agda/agda/commit/cd73027f764398167d0d995755275cc791630648#r33166414
Likely the cause of #3692.

[2019-04-13 09:52] andreasabel commented on #3692
While Agda does put _some_ clauses in for the missing absurd clauses, these do not seem to contain absurd patterns. https://github.com/agda/agda/commit/cd73027f764398167d0d995755275cc791630648#r33166414 Thus, the polarity checker considers `le` as unused argument (non-variant polarity), and `refl` suffices as proof.

[2019-04-13 11:35] #3692 closed, assigned to andreasabel

[2019-04-13 11:36] andreasabel commented on #3692
Fixed this issue by putting absurd patterns in the absurd clauses generated by feature #1086 / #3407.

[2019-04-13 11:49] andreasabel commented on #3694
This seems to be a problem with the constraint machinery, probably in connection to the new generalization feature.
The constraint `Is not empty type of sizes: _P.A_16` is stuck on a meta which comes from generalization.  Likely, this variable was not abstracted over _because_ of the constraint.  However, this particular constraint should _not_ prevent generalization, since generalization will sat

[2019-04-13 14:34] mortberg commented on #3693
What would you like us to add more specifically?

The way `primTransp` and `primHComp` computes is very technical and described in various papers. Maybe I should add some links to these to the manual?

[2019-04-13 14:43] mortberg commented on #3690
Yes, this would be especially useful when working with HITs. At the moment Agda only displays the type and not the boundary conditions which makes it extremely confusing as seemingly correctly typed terms doesn't fill holes because they don't have the right boundary. The same applies when building hcomp's interactively. I think @Saizan is working on fixing this?

Maybe cubical extension types (typ

[2019-04-13 15:29] nad opened #3695 "Generalisation introduces multiple explicit arguments for one generalisable variable"
Agda does not handle the following code correctly:
[code]
The inferred type of `F`:
[code]
Note that Agda has introduced two arguments corresponding to `R`, and that these arguments are explicit.

[2019-04-13 17:13] nad commented on #3693
Links to papers sounds like a good idea. Perhaps the manual could also contain some illustrative examples. If you don't know how these primitives compute, then it is (sometimes) hard to use them in proofs.

[2019-04-13 20:53] #3649 closed, assigned to nobody

[2019-04-14 01:28] xekoukou commented on #3692
Apparently, I found this bug from mere luck. I just found an old agda [feature](https://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Version-2-3-2) :

[code]

[2019-04-14 06:59] andreasabel commented on #3667
See #3694 where the handling of constraints is still not correct.

[2019-04-14 07:05] andreasabel commented on #3694
@UlfNorell I stalled my attempts to fix this problem since the present solution raises fundamental questions on its correctness: https://github.com/agda/agda/commit/514ca28126740353d7f16de38ce3b691aed81985#r33170209

[2019-04-14 09:44] nad commented on #3694
Are you suggesting that the following code should be accepted?
[code]
Perhaps it should, but I think it is even more serious that the result of checking `Bug2.agda` depends on how it is imported.

[2019-04-14 21:54] gallais opened #3696 "Make `AgdaAny` polykinded?"
Compiling the following module:

[code]

yields a bunch of errors coming from the fact that `map` gets compiled to
a function with the type annotation:

[code]

but the kind of `AgdaWrapper`'s argument is `* -> *` rather than `AgdaAny`'s `*`.

Edit: compiles with 2.5.3 which doesn't generate any type annotations and for which
ghc infers the following unhelpful type: `du18 :: a1 -> a2 -> p`.

[2019-04-14 22:06] gallais commented on #3696
Note that `AgdaAny` is defined as an alias for ghc's `Any` which is polykinded!

[code]

[code]

Simply adding `PolyKinds` to the `LANGUAGE` extensions of `RTE.hs` is enough for the
file `AgdaAny.hs` to load in ghci because the polymorphism is then preserved through
the type alias. Thoughts?

[2019-04-14 23:28] iitalics opened #3697 "Panic when checking non-Setω data definitions with --type-in-type"
When `--type-in-type` is enabled, data definitions with sort `Set` will panic if a data constructor has an argument with sort `Setω` type:

[code]

[2019-04-15 08:11] Saizan commented on #3690
I don't want to reimplement constraint propagation in the typechecker, the unifier is doing a good job at it. That's why extension types do not seem like they would help.

Here I've been working on printing constraints out as you would expect them, there it's only for those coming from HIT splitting, but it can be generalized.

https://github.com/Saizan/agda/tree/interaction-constraints

However t

[2019-04-15 16:40] nad opened #3698 "Remove primComp?"
@mortberg has written that `Agda.Primitive.Cubical.primComp` [is **not** recommended to use](https://homotopytypetheory.org/2018/12/06/cubical-agda/). I suggest that this primitive is removed.

[2019-04-15 21:47] dylanede opened #3699 "Allow metaprogramming to generate top level definitions other than functions"
Currently (I believe) metaprogramming is only capable of generating function declarations and definitions at the top level. It is not capable of defining data types or instantiating other constructs like `open`. Adding these other capabilities would really help with reducing repetitive code.

[2019-04-16 07:30] jespercockx commented on #3699
This has been on my todo list for a long time, but I'm not sure if I will ever find the time for it. IIRC the main problem is the scope checker, which needs to know the names of all the constructors but runs *before* any reflection code.

[2019-04-16 07:47] MatthewDaggitt opened #3700 "Generalise ignores renaming when opening modules"
Variables are incorrectly generalised over even when the name is already available via renaming. The following code raises the error `Ambiguous name A.` at `test`:
[code]
Came across this while using `variable` for the first time in anger in the standard library. It's preventing me from using it in several modules.

[2019-04-16 12:06] dylanede opened #3702 "Allow function types with explicit parameters as instance arguments"
Currently, instance arguments must be of a record or data type. This precludes some uses of instance resolution as an automatic proof search. As a motivating example, consider negation of a proposition (taken from agda/cubical):
[code]
Instances (and instance arguments) of `¬A` (for any particular `A`) are currently not allowed since it is a function type. This forces proof arguments of this form

[2019-04-16 17:19] xekoukou commented on #3606
Here is one error message I get because it can not find 3 implicit arguments on a SINGLE function. Error messages do not help at all.

[code]

[2019-04-16 19:37] JacquesCarette commented on #3700
Shouldn't the `rename` throw an error? This is indeed an ambiguous name, as it is both a record projector and a variable.  What are you expecting to happen here?

[2019-04-16 23:20] ghost opened #3703 "nonterminating function between split datatype causes typechecker to freeze"
It seems like, whenever a nonterminating recursive function is used inside a datatype, the typechecker will happily enter it (and loop/freeze), but only if the datatype signature comes before the function.

[code]

[2019-04-17 02:12] MatthewDaggitt commented on #3700
I was expecting no generalisation to occur and for `A` to refer only to the renamed A when opening the setoid. Variables should only be generalised over when they are not otherwise defined in the scope right? But by opening the setoid and renaming we've now got A in scope so it shouldn't be generalised.

What's the difference between the example above and:
[code]
Would you expect the module parame

[2019-04-17 07:10] UlfNorell commented on #3700
It's the same behaviour as
[code]
Generalisable variables behave as top-level definitions when it comes to scoping rules. There's some discussion in #359.

[2019-04-17 07:10] #3700 closed, assigned to nobody

[2019-04-17 07:52] MatthewDaggitt commented on #3700
Why is this behaviour desirable? I'd argue that this is similar to the discussion in #3351.

I guess my point is that the reasoning behind the shadowing rules are unclear.
[code]
In the above two snippets `A` is introduced in two different ways, neither as a top-level definition. In the first snippet the A does shadow the top-level variable definition and in the second snippet it doesn't. I don't

[2019-04-17 12:55] andreasabel opened #3704 "The branch parametric does not build under ghc 8.6"
The branch parametric does not build under ghc 8.6.
It would be good to keep agda-parametric alive; we have submitted a paper that relies on it. :)

[2019-04-18 15:34] asr opened #3705 "Release Agda 2.6.0.1"
I'm planning release 2.6.0.1 from `master` (after all issues are closed), so if you close an issue with milestone 2.6.1 please change its milestone to 2.6.0.1.

[2019-04-18 16:27] gallais commented on #3705
I was hoping we'd get more testing of #3458 before it got released. Last time we
released a WARNING_ON feature it caused hard to reproduce internal errors and we
had to release a minor version once the bug was fixed.

[2019-04-19 05:03] asr commented on #3704
Note that the `parametric` branch doesn't build with various versions of GHC (8.2.2, 8.4.4 and 8.6.4) currently supported. It seems it would take less time if someone *familiarised* with this  branch merge the current `master` and fix the conflicts.

[2019-04-19 11:49] molikto commented on #3558
@mortberg it seems to me extension type requires subtyping.

[code]

I am under the impression Agda don't have any form of subtyping. Or this proposal is about adding extension type without removing path type and without subtyping?

[2019-04-19 14:41] asr commented on #3705
I see. I'm planning release from `master` because

1. I'm supposing the release will be a couple of weeks.

2. The release will include, in addition to the fix of closed issues, all 'minor' changes in `master`.

3. It requires less time for everyone.

If we agree on release 2.6.0.1 from the current status, I could cherry-pick the fix for #3692 and the PR #3701 and make the release.

[2019-04-20 08:34] gallais commented on #3705
I guess you could use master but revert cd0c214b1d4a961d2d19c6e522076a00527a1f0f?

[2019-04-21 15:37] asr commented on #3705
OK. I'll try to revert cd0c214b1d4a961d2d19c6e522076a00527a1f0f before the release.

[2019-04-23 07:19] andreasabel commented on #3703
Right, this is because the termination checker only runs _after_ the mutual block (consisting of X and A here).  See #1270.

[2019-04-23 08:29] ghost commented on #3703
@andreasabel, okay, so, since this is a duplicate, should I close it? Feel free to reopen it if you think it’s different enough for some reason I can’t see.

Either way, since it seems like the code I shared is much simpler to reproduce the issue, do you reckon it’d be of value to share it over at the issue report you shared?

[2019-04-23 08:29] #3703 closed, assigned to nobody

[2019-04-23 19:55] uhotspot4 opened #3708 "Error while installing on windows 10"
Getting following error while installing Agda on windows 10:

Resolving dependencies...
Starting     Agda-2.6.1
Failed to install Agda-2.6.1
Build log ( C:\Users\firouz\AppData\Roaming\cabal\logs\ghc-8.6.3\Agda-2.6.1-7JA3EIOSoGFBs6WdrrRl9u.log ):
cabal: Entering directory '.'
[1 of 1] Compiling Main             ( dist\setup\setup.hs, dist\setup\Main.o )
Linking .\dist\setup\setup.exe ...
Configuri

[2019-04-23 20:11] asr commented on #3708
Agda 2.6.1 cannot be installed on Windows using GHC 8.6.3 (see #3657).

[2019-04-23 20:11] #3708 closed, assigned to nobody

[2019-04-23 20:36] uhotspot4 commented on #3708
Thanks and so does Agda 2.5 work with GHC 8.6.3 on windows?

[2019-04-23 23:14] asr opened #3709 "Do we have to worry about running out of issue numbers?"

[2019-04-23 23:15] asr commented on #3709
Oops!

[2019-04-23 23:20] asr commented on #3708
No. Agda 2.5.* does not work with GHC 8.6.*.

[2019-04-23 23:40] uhotspot4 commented on #3708
Thanks a lot.

[2019-04-24 00:17] asr commented on #3442
Note that Agda 2.6.0 cannot be installed on Windows using GHC 8.6.3 (see #3657).

[2019-04-24 05:17] #3696 closed, assigned to nobody

[2019-04-24 08:00] nad opened #3710 "More overloading for 0/1?"
When using Cubical Agda I'd like to use 0/1 for the endpoints of the interval. The current overloading machinery for natural number literals doesn't work for the interval, because the interval is not a type. Would it make sense to add special overloading support for this case? We already overload lambdas and applications for the interval.

[2019-04-24 08:56] andreasabel commented on #3698
Moved this to 2.6.1 since it is not a severe bug or regression that need immediate attention.

[2019-04-24 12:09] Saizan commented on #3698
That blog post is outdated. ```primComp``` is now defined in terms of ```primTransp``` and ```primHComp```, so it's fine to use when you need the heterogeneity.

It's not necessary as a path-equal ```comp``` can be user-defined, however ```primComp``` is used internally in some places to create smaller terms, and also it could be optimized compared to the user-defined one.

[2019-04-24 12:23] Saizan commented on #3710
```0``` gets turned into ```fromNat 0``` during ConcreteToAbstract for any declared ```{-# BUILTIN fromNat #-}```.

This makes it harder to just insert a special case for the interval, if we also want it to work for Nat, etc. .

Would be nicer if we could come up with a general enough ```fromNat```.

[2019-04-24 13:32] Saizan commented on #3704
I don't know if a straight up merge is an option, things have diverged considerably. Fortunately the changes weren't that huge, so there should be a refactor and integration effort.

In the short term it would be great if there was a good way to identify ghc-compatibility commits to cherry-pick.

[2019-04-24 14:12] asr commented on #3704
I don't think so. It seems the branch was tested with GHC 8.0.* and we have added to many changes for supporting the new versions of GHC.

[2019-04-24 15:45] berndlosert opened #3712 "Sigma not listed in Built-ins documentation"
I'm checking https://agda.readthedocs.io/en/latest/language/built-ins.html and I don't see it. Is this intentional?

[2019-04-24 18:20] #3685 closed, assigned to asr

[2019-04-24 18:20] mortberg commented on #3698
I've updated the blog post and deleted the comment about primComp now.

I think the agda/cubical library should use the built-in comp instead of the user-defined one for the reasons @Saizan explain. One nice thing with this is that we can get rid of a lot of `inS`/`inc`. One thing I don't like is that the `φ : I` argument is explicit in the built-in `comp`, but that should be easy to change.

[2019-04-24 18:39] asr commented on #3704
I guess it is more easy incrementally to add/remove recent/old versions of GHC. *Some* commits necessaries for this job are in the following issues:

Remove support for GHC 7.6.3: #1972
Remove support for GHC 7.8.4: #2692
Support GHC 8.0.2: #2319
Support GHC 8.2.1: #2540
Support GHC 8.4.1: #2878
Support GHC 8.4.2: #3023
Support GHC 8.4.3: #3096
Support GHC 8.4.4: #3273
Support GHC 8.6.1: #3160
Sup

[2019-04-24 19:13] mortberg commented on #3698
I made a PR making the phi argument implicit in the builtin comp now: https://github.com/agda/agda/pull/3713

[2019-04-24 19:43] mortberg opened #3714 "Rename inc/ouc everywhere"
The cubical primitive `primSubOut` is currently called `ouc` in many of the builtin files and the reference manual. This was chosen to match its inverse primitive `inc`. However, this has caused quite a bit of confusion and I've lost track by how many times someone asked me what `ouc` stands for (maybe "ouclusion"?). Because of this we renamed them to `inS` and `outS` in the agda/cubical library.

[2019-04-24 19:48] mortberg opened #3715 "Primitive cubical hfill/fill operations"
The `hcomp`/`comp` operations are currently builtin primitives in Cubical Agda which means that we do not have to use `inc`/`inS` on the last element. I suggest we do the same for `hfill`/`fill` so that they get more convenient to use. This should eliminate the majority of calls to `inc`/`inS` in the agda/cubical library.

[2019-04-25 10:17] gallais opened #3717 "Coverage issue"
I'm trying to play a sneaky game:

* define a list of available commands (strings)
* let users refer to command names, not the proof they belong to the list of commands
* make sure we can build the corresponding membership proof
* hope the coverage checker is clever enough to notice when all cases have been handled

It works until the last point where the coverage checker shouts at me.

[code]

If

[2019-04-25 12:33] gallais commented on #3717
I should add that if I do mark the split as forced in `case'` then I do get the
same coverage error:

[code]

So I guess my question is whether we can use the contribution of forced patterns
when making sure a set of equations is covering.

[2019-04-25 13:00] nad commented on #3715
What about `transpFill`?

[2019-04-25 13:11] mortberg commented on #3715
`transpFill` is only used once in the library while hfill/fill are used ~300 times. The reason is that transpFill is often easier to just inline which doesn't require any `inS`. So I would not add a primitive for `transpFill`.

[2019-04-25 16:32] gallais commented on #3694
I get the same error in https://github.com/gallais/generic-syntax (for instance [this build on travis](https://travis-ci.org/gallais/generic-syntax/builds/524556150#L1314))
every time the module is checked for the first time. The second import
goes through without any problem.

[2019-04-25 17:23] rwe opened #3718 "Replace `__IMPOSSIBLE__` with throw + HasCallStack"
It would be useful to replace the [`__IMPOSSIBLE__` preprocessor macro](https://github.com/agda/agda/blob/47eecb71752536effba9f26b337a66f7b2c722a9/src/full/undefined.h#L1) by decorating [`throwImpossible`](https://github.com/agda/agda/blob/47eecb71752536effba9f26b337a66f7b2c722a9/src/full/Agda/Utils/Impossible.hs#L47) with [`GHC.Stack.HasCallStack`](https://hackage.haskell.org/package/base-4.9.0.0

[2019-04-25 17:28] rwe opened #3719 "Remove support for GHC 7.10 (aka base <4.9)"
Agda currently [maintains support for GHC 7.10](https://github.com/agda/agda/blob/47eecb71752536effba9f26b337a66f7b2c722a9/Agda.cabal#L36), which was released ~3.5 years ago. That version [corresponds with `base-4.8.*`](https://wiki.haskell.org/Base_package). It is the pre-GHC-8 version still supported.

A lot has changed in Haskell-world in that time, and continues to change, which makes supporti

[2019-04-25 18:37] jespercockx commented on #3719
In the past we have used the following policies:

- support at least the latest 3 releases of GHC
- support the version of GHC that's in the repositories of the latest LTS release of Ubuntu
- don't remove support for a version of GHC unless there's a compelling reason to do so

In this case, all three checkboxes are ticked so I think it would be fine to drop support for 7.10.

[2019-04-25 18:41] jespercockx commented on #3718
Yes please, I'm all in favour of removing dependencies on archaic tools in favour of build-in features of Haskell.

[2019-04-25 19:46] andreasabel opened #3720 "Emacs error `Search failed: "{!"` when case-splitting in refined rhs of lambda-where"
Emacs does not find the split hole in this case:
[code]

[2019-04-25 22:27] gallais commented on #3718
What would the new error messages look like?

[2019-04-25 22:30] gallais commented on #3719
I'd speak out in favour of debian stable too; in this case it's not an issue either
(the current ghc is 8.0+).

[2019-04-25 23:45] rwe commented on #3718
@gallais — The error messages are identical, though it's possible to add more information (like the rest of the call stack, if available). The original error messages use the current line and filename via `__LINE__`, `__FILE__`. Here, they're pulled from the [`CallStack`](https://hackage.haskell.org/package/base-4.9.0.0/docs/src/GHC.Stack.Types.html#CallStack)'s  [`SrcLoc`](https://hackage.haskell

[2019-04-26 08:01] andreasabel commented on #3719
We have in the past dropped support for older ghc versions if it was a hassle to maintain compatibility.  It was very much so for ghc-7.8, but ghc-7.10 wasn't so much of a problem yet.  However, if there is a strong incentive, like in this case getting mostly rid of CPP, we do not have to hold on to ghc 7.10.

[2019-04-26 08:04] andreasabel commented on #3702
Your example is too vague.  In particular, cannot you wrap your function types into some record type to facilitate instance search?

[2019-04-26 11:05] nad commented on #3715
And the reason you're inlining `transpFill` is not that there is no special support for it?

[2019-04-26 11:13] nad commented on #3720
I failed to reproduce the behaviour that you have reported.

[2019-04-26 11:15] nad commented on #3718
Perhaps `throwImpossible` could be shortened to `impossible`.

[2019-04-26 11:29] UlfNorell commented on #3720
Works for me as well (Emacs 26.1).

[2019-04-26 11:35] nad opened #3722 "Make comp/transp less general [WAS: PathP more general?]"
Consider the type of the [`hfill`](https://github.com/agda/cubical/blob/8391a4835b3d2478e9394c6c3ec7e6fff42ede62/Cubical/Core/Primitives.agda#L160-L170) operation from the cubical library:

[code]

The final line of this operation's type signature can be replaced by `→ outS u0 ≡ hcomp u (outS u0)`.

Now consider the type of [`fill`](https://github.com/agda/cubical/blob/8391a4835b3d2478e9394c6c3ec7

[2019-04-26 12:30] nad commented on #3715
The implementation of [`transpFill`](https://github.com/agda/cubical/blob/8391a4835b3d2478e9394c6c3ec7e6fff42ede62/Cubical/Core/Primitives.agda#L197-L205) in the cubical library has the downside that the universe level is not interval-dependent. Perhaps a primitive could be made more general.

[2019-04-26 12:37] asr commented on #3719
I have changed my opinion about supporting older GHC versions with the years. Nowadays, I want to keep the latest version of Agda available for *final* users as much as *necessary* and *possible*. To have information to make a decision, I'll ask in the mailing list about removing support for GHC 7.10.3.

Could you share some figures about it? That is, how much is the reduction on compilation times

[2019-04-26 12:43] asr commented on #3719
It seems we are going to release a bug-fix version (i.e. 2.6.0.1). Since 2.6.0 supports GHC 7.10.3, the bug-fix version must also support this version of GHC if possible.

[2019-04-26 13:38] mortberg commented on #3715
The reason that `transpFill` is simpler to inline than `hfill`/`fill` is that it just a very simple case of `transp`. The power of `transp` lies in its interval argument, so to define a path from `a` to `transp A i0 a` we abstract over `i` and do:
[code]
More generally we can make a path between `a` and `transp A r a` as in `transpFill` in the cubical library, but I more or less always only need t

[2019-04-26 13:58] mortberg commented on #3715
There is in fact a whole family of `transp` operations that we can consider as primitive. Note that `transp A i0` is an operation of type `A i0 -> A i1`. It is also easy to define an operation `transpNeg` of type `A i1 -> A i0`. Given an interval variable `i` we can then think of `transpFill` as an operation of type `A i0 -> A i`. There is an analogous `transpFillNeg` operation of type `A i1 -> A

[2019-04-26 14:47] AndrasKovacs opened #3724 "Internal error with Prop and inductive-inductive type"
The following snippet fails with `An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Forcing.hs:232` on Agda commit `c240843` (but on 2.6.0 as well).

[code]

[2019-04-26 15:31] asr opened #3725 "Support GHC 8.8.1"
GHC 8.8.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2019-August/018050.html). I created this issue for collecting/reporting the required changes/issues.

The GHC 8.8 migration guide can be found [here](https://gitlab.haskell.org/ghc/ghc/wikis/migration/8.8).

Fixed issues (Last update: 2019-10-14):
* Agda library
    [x] aeson (https://github.com/bos/aeson/pull/697)
    [x] attopa

[2019-04-26 17:22] rwe commented on #3719
Unfortunately I don't know without actually implementing it—hence the hedge with "should".

There are some references [here](http://blog.haskell-exists.com/yuras/posts/stop-abusing-cpp-in-haskell.html) and [here](https://stackoverflow.com/questions/26785036/why-the-presence-absence-of-the-hscolour-binary-forces-to-recompile-the-quickche) about modifications to `cabal_macros.hs` causing unnecessary

[2019-04-26 18:16] UlfNorell commented on #3719
Just making it possible to have single quotes and impossibles on the same line would make it worth it.

[2019-04-26 20:54] strake opened #3727 "Feature request: open import Module as _"
Now `open import Module as Name` means the following:
[code]

I sometimes want to bring into scope the contents of a module, but not the module itself.
I propose a minor extension of the syntax: `open import Module as _`, which does just so.

I am willing to implement, but would like to know whether the keepers of Agda think it a good (or at least minimally acceptable) idea first.

[2019-04-28 07:03] andreasabel commented on #3720
`make compile-emacs-mode` somehow fixed the problem.

[2019-04-28 07:03] #3720 closed, assigned to nobody

[2019-04-28 19:07] nad commented on #3715
OK, this sounds reasonable.

[2019-04-28 19:20] nad commented on #3719
I found 28 occurrences of `#if MIN_VERSION_base(4,11,0)` in the code base, and base-4.11 corresponds to GHC 8.4, so dropping support for 7.10 will not mean that we can stop using CPP.

If your refactoring tools work with one module at a time, then it might be useful to push some of these CPP directives into a project-specific prelude file (#1875).

[2019-04-28 19:21] nad commented on #3727
Can your proposed syntax be explained in terms of currently existing syntax?

[2019-04-28 20:21] jespercockx commented on #3727
I guess `open import A as _` should mean the same thing as `open import A as SomeUnusedName`, which in turn means the same as
[code]

[2019-04-28 20:42] rwe commented on #3719
@nad — Yep, I agree. #1875 is referenced in the description and in #3718 which motivated this issue and removes the most common use of the preprocessor otherwise.

I think the project-specific Prelude file (mainly just to deconflict `(<>)`) is a good next step. Or if there's a way to have Cabal to choose one source module versus another, that might avoid the preprocessor also for other currently-p

[2019-04-29 14:40] mcoblenz opened #3730 "Internal error resulting from unused implicit argument"
Typechecking the attached test.agda file, which imports heapPropertiesReduced.agda, gives the error below:

[code]

The error occurs if and only if `o` is included as an (unused) implicit argument in `locationsInΔAreCompatibleWithFieldTypes`, which is declared at the end of heapPropertiesReduced.agda. Note that the latter file typechecks successfully; the internal error occurs only when typechecki

[2019-04-29 14:41] mcoblenz commented on #3730
[bug.zip](https://github.com/agda/agda/files/3127869/bug.zip)

[2019-04-29 18:18] andreasabel opened #3731 "GHC backend thinks that a constructor called 'main' is the main program"
When testing my new BNFC Agda backend I was mystified by compiler errors like
[code]
or
[code]
I found out that my Main program (with a proper main function) was importing some other module which declared a constructor `main`, like in
[code]
The GHC backend mistakes this as the `main` program, even though it is only an imported module, not the main module we are compiling, and even though a constr

[2019-04-29 18:27] andreasabel commented on #3730
Thanks for reporting, @mcoblenz !
I am getting this error, unfortunately:
[code]

Could you please shrink the problem to a single file not relying on imports except for `Agda.Builtin.*`?
This will greatly increase the chances of someone diving into this bug hunt.

[2019-04-29 18:30] mcoblenz commented on #3730
Sorry about that. I suspect that the problem requires imports to reproduce, since the error occurs only in a file that imports the file in question, not in the file itself. However, I'll attach a fixed package so you can reproduce this.
[bug.zip](https://github.com/agda/agda/files/3128699/bug.zip)

[2019-04-30 08:01] andreasabel commented on #3730
I can confirm this issue.
[code]
This bug already exists in 2.5.4.1.

It would be helpful to have a MWE, since this behavior is likely to be reproducible with a shorter test case.  Could you help shrinking this example?
- Remove definitions that are inessential to the bug.
- Inline imported modules as much as possible.

[2019-04-30 08:15] #3731 closed, assigned to andreasabel

[2019-04-30 08:19] andreasabel commented on #3722
I am moving this to 2.6.1, as it is not a critical bug.

[2019-04-30 08:25] guillaumebrunerie commented on #3722
Why is `ℓ′` interval dependent in `fill`? At least my intuition is that the type of levels is supposed to be discrete, so any function `I → Level` is constant as `I` is connected.

[2019-04-30 08:26] UlfNorell commented on #3709
Yes, we wouldn't want to run out of issue numbers... 🙄

[2019-04-30 08:27] jespercockx commented on #3709
Since when are we being economical with issue numbers? Are we at risk of running out?  Maybe GHC has used up all the issue numbers (they're at #16614!) and now there's none left for the new generation?

[2019-04-30 08:30] UlfNorell commented on #3709
Answer: no.

[2019-04-30 08:30] #3709 closed, assigned to andreasabel

[2019-04-30 08:30] UlfNorell commented on #3709
There, issue reused!

[2019-04-30 10:55] andreasabel commented on #3709
Issue numbers are 16bit by definition, the GHC folks have already exhausted 25%.

[2019-04-30 12:57] andreasabel opened #3732 "GHC backend: Constructor argument is erased in spite of COMPILE data pragma"
Working on BNFC's Agda backend I discovered the following problem.
[code]
The generated Haskell module
[code]
has the following issues:
[code]

[2019-04-30 13:47] nad commented on #3732
This looks correct to me.

[2019-04-30 14:13] Saizan commented on #3715
It would be straightforward to add hfill/fill. However I wonder if it would work just as well to define them as macros using the reflection support.

[2019-04-30 17:56] UlfNorell commented on #3732
You haven't defined the datatype on the Haskell side as far as I can see. Were you expecting it to define it for you?

[2019-04-30 18:47] andreasabel commented on #3732
Ah, I shrank too much.

[2019-04-30 19:00] andreasabel commented on #3732
[code]
This reports:
[code]
The compiled file is:
[code]
It seems that the erasure machinery runs on the constructor `foo` even though its translation to Haskell is fixed by the `COMPILE` pragma.

[2019-04-30 19:27] UlfNorell commented on #3732
Ah yes, that's because `I` gets erased. It might be possible to have the ghc backend tell the treeless compiler not to erase types with a `data` pragma.

[2019-04-30 20:16] nad commented on #3732
See #2921 for some previous discussion.

[2019-04-30 21:00] nad opened #3733 "Proper support for inductive families in Cubical Agda"
It would be nice with proper support for inductive families in Cubical Agda. If I have understood correctly this is a non-trivial research problem, so I have put this issue in the icebox for now.

What is the current status of inductive families in Cubical Agda? I seem to recall @Saizan mentioning that they can break canonicity. What about consistency?

[2019-04-30 21:13] Saizan commented on #3733
Inductive families shouldn't break consistency, as ``--without-K``` makes sure pattern matching is consistent with the indexing being up to a weak enough equality.

They indeed break canonicity as transp/hcomp do not compute for them, and pattern matching definitions will get stuck on those elements.

I've recently started working on this btw, so hopefully we get a full implementation not too late

[2019-04-30 21:25] andreasabel commented on #3732
Even if I as a human could figure out that the argument to `foo` gets erased, a tool such that BNFC should not have to reimplement Agda's erasure machinery only to be able to generate Agda bindings for generated data types.

This is bringing me once more back to my mantra: __declare, not infer__.
The base line always needs to be the ability to declare what you want.  Inference is only if you are t

[2019-04-30 23:56] xekoukou commented on #3732
In agda-ocaml, I make the assumption that what you see is what you get. Of course, with erasure, this is not true. It would be true if we could disable erasure for a specific data type.

[2019-05-01 07:40] andreasabel commented on #3697
I think the code responsible for the crash should not even run unless `--cubical`.

[2019-05-01 07:51] andreasabel commented on #3705
I think we should __now__ create a `maint-2.6.0.1` branch and cherry-pick the critical fixes (and risk-free improvements) from the `master` branch.  Things are beginning to pile up on the master branch which are not for immediate release.

We can then push critical fixes to the maintenance branch and merge into master.

@asr, can you prepare such a branch?

[2019-05-01 08:14] andreasabel commented on #3697
Mmh, apparently cubical Agda needs the `conComp` composition structure for _all_ constructors, even for those data types that were defined when --cubical was off.
Thus, --cubical is not orthogonal; even if I never use --cubical in an Agda development, structures are created just in case.  This consumes resources, and also bears risk that bugs in cubical affect non --cubical developments, as in thi

[2019-05-01 08:19] jespercockx commented on #3705
Wasn't the plan that `master`should be the new maintenance branch, and all the new stuff that needs more testing should go to `future` instead? Otherwise we'll soon again be in the same situation that we wanted to move away from...

[2019-05-01 08:21] UlfNorell commented on #3705
In this case I think it makes sense to create a `release-2.6.0.1` branch and keep master for `2.6.1`.

[2019-05-01 08:26] jespercockx commented on #3705
So then what should we use `future` for? For things that will go into 2.7.0 maybe? I think we should document these policies somewhere so people don't violate them by accident.

[2019-05-01 08:31] UlfNorell commented on #3705
That might not be a bad idea 😁

[2019-05-01 08:44] Saizan commented on #3697
Yeah, the code needs to run, unless we do something fancy with interfaces as you say.

It should be easy to make it more robust, it was written before any of the revamp of universes happened.

[2019-05-01 10:09] gallais opened #3734 "WARNING_ON_USAGE is not raised for constructors"
re agda/agda-stdlib#747

[code]

[2019-05-01 10:27] nad opened #3735 "Incorrect context when generalisable variable is used"
Consider the following code:
[code]
If I try to give `X`, then I get the following error:
[code]
When I print the goal type and the context, then Agda claims that `X : Set` is not in scope:
[code]

[2019-05-01 12:54] L-TChen opened #3736 "Safe decidability equality support for Name and Meta"
The current implementation of primitive equality for data types `Name` and `Meta` only gives a Boolean value. It seems impossible to me to define a safe decidable equality for them.

Would it be possible to export an encoding or low-level representation for them with a primitive injectivity proof like https://github.com/agda/agda/pull/3701? Or anything similar?

I am trying to use reflection in th

[2019-05-01 13:05] gallais commented on #3736
`MetaId` is a `Nat` so that should be easy to do via an injective conversion function.

A `QName` has a `NameId` which is essentially a pair of `Word64` so maybe we
can get a well-behaved injective conversion function using that!

(I'll be too busy in the upcoming weeks to look at this; If you want to have a
go yourself, you should look into `src/full/Agda/TypeChecking/Primitives.hs`;
there is alr

[2019-05-01 13:15] L-TChen commented on #3736
Thanks for your prompt reply and the brief guideline. It looks pretty doable for beginners like me to hack in. I will try it!

[2019-05-01 17:23] asr commented on #3705
I agree, so I'm going to:

1. Create `release-2.0.6.1` from the current (88b5670014bb7772cc66a6950700a176dd0094cf)`master`.

2. Revert cd0c214b1d4a961d2d19c6e522076a00527a1f0f from `release-2.0.6.1`.

3. Merge PR #3728 into `master`.

After it, we could merge PRs #3729 and #3589 into master when them are ready (they are running on Travis right now).

I will let you know when I finish.

[2019-05-01 17:28] asr commented on #3731
Since that I'm going to create `release-2.0.6.1` from the current `master`, I changed the milestone to `2.6.0.1.`

[2019-05-01 18:04] #3719 closed, assigned to rwe

[2019-05-01 18:24] asr commented on #3705
Done!

If you want your great commit/change be released in 2.6.0.1, you can merge it into `master` and cherry-pick it into `release-2.6.0.1` (or vice versa).

[2019-05-01 23:58] #3718 closed, assigned to rwe

[2019-05-02 05:33] #3530 closed, assigned to asr

[2019-05-02 10:04] UlfNorell opened #3738 "Importing Agda.Builtin.Size creates extra constraints"
Spawned from #3694. What is potentially problematic is that the import can appear in an unrelated module that just happens to be checked before this one. There are two underlying problems:
- Builtins are "global"
- Binding the SIZE builtins changes the behaviour of the code

In #3694 this caused a problem for generalization (since fixed). While this behaviour is certainly not nice, it's not clearl

[2019-05-02 12:32] nad commented on #3738
It is currently rather awkward to develop code that does not use sized types, but that should be usable with sized types.

An "obvious" way to fix this problem would be to check if the size builtins have been bound in a module that is reachable from the current position (via imports). Is there some major downside to doing this?

Another way to fix the problem would be to only turn on the special b

[2019-05-02 13:55] UlfNorell commented on #3694
I fixed the problem with generalizable variables and filed a new issue for the more general issue with size builtins.

[2019-05-02 14:11] UlfNorell commented on #3738
Do you have an example?

[2019-05-02 14:16] asr commented on #3694
Please cherry-pick your fix into `release-2.6.0.1`.

Which is the new issue?

[2019-05-02 17:35] UlfNorell commented on #3694
Cherry picked. The new issue is referenced just above (#3738).

[2019-05-02 17:35] #3694 closed, assigned to nobody

[2019-05-03 02:38] rwe opened #3741 "Consider replacing `String` with `Text` or `ByteString` in most locations"
The Agda codebase leans strongly toward `String` v. `Text` or `ByteString`, although `String` has well-documented performance and memory-weight issues.

I have not profiled this, but given the amount of string operations and related types (e.g. `QName` → `Name` → `String`), it's possible that there may be some easy runtime performance gains by simply switching to `Text` or `ByteString` in most pla

[2019-05-03 09:44] banacorn commented on #3741
I think perhaps the *short* version of [`Text`](https://hackage.haskell.org/package/text-short-0.1.1/docs/Data-Text-Short.html) and [`ByteString`](https://hackage.haskell.org/package/bytestring-0.10.8.2/docs/Data-ByteString-Short.html) would even be better suited.

[2019-05-03 09:50] nad opened #3742 "Strange error message for code that combines mutual and abstract"
Code:
[code]
Error message:
[code]
The code is accepted if the first underscore is replaced by `D A`.

[2019-05-03 09:51] jespercockx commented on #3741
Seems like it would be worth trying out. Personally I would be a bit surprised if this has more than, say, 1% performance impact, but I've been surprised before :)

[2019-05-03 09:53] nad commented on #3738
How do you detect if you have code like `f` above in some module? I guess you could have a top-level module that first imports `Agda.Builtin.Size`, and then all the other modules in your development. If this module type-checks without problems when `--ignore-interfaces` is used, then your code should be OK. I would classify this as "rather awkward".

[2019-05-03 10:02] nad commented on #3741
I would prefer Text to ByteString.

[2019-05-03 10:08] UlfNorell commented on #3738
The only difference between importing `Agda.Builtin.Size` and not is that you get an extra constraint on the metavariable. There's an unsolved meta in both cases.

What I was asking for was an example where this actually matters, where adding an unused Size import makes the code break (or vice versa I guess). If not, I don't see why it would be awkward.

[2019-05-03 10:12] UlfNorell commented on #3741
I would also be surprised if it gives any measurable performance gains, but it should be straightforward to try it out. We already have `OverloadedStrings` on by default which should make it require fewer changes.

[2019-05-03 11:44] nad commented on #3738
OK, that's not a big problem. Do you think that there are no examples "where this actually matters"? If not, then I think we should still fix this (but it is perhaps less urgent).

[2019-05-03 11:59] nad opened #3744 "Internal error related to abstract"
The following code triggers an internal error:
[code]
[code]
The following, similar code is accepted:
[code]
However, it shouldn't be: `d` should not be in scope in the type signature of `p′`.

The second piece of code is rejected by Agda 2.2.10 but accepted by Agda 2.3.0. Agda 2.5.2 reports an internal error for the first piece of code.

[2019-05-03 12:55] UlfNorell commented on #3738
I don't feel confident making general statements about the sized types implementation. If you're offering a bet I guess we can discuss terms...

[2019-05-03 13:08] andreasabel commented on #2921
@UlfNorell wrote:

This is in particular the case if the Haskell-types are third party, like, in my case, generated by the BNFC Haskell/Agda backend.  See #3732.

[2019-05-03 14:51] andreasabel commented on #3732
I pushed the fix I discussed with @UlfNorell: Every type that has a GHC COMPILE binding is treated as non-erasable.
The unwanted side effect is maybe that now the Builtin.Unit type is non-erasable.
We have to see what the effect on performance will be.

[2019-05-03 14:55] andreasabel commented on #3732
@xekoukou: The GHC backend uses the `Treeless` compiler for erasure.  I added a check in Treeless whether erasure for a data/record type is disallowed (new fields `dataErasureAllowed`/`recErasureAllowed` in `Signature`).  The permission is removed for types that have a `GHC COMPILE` binding.

Does your compiler also go through Treeless?

[2019-05-03 15:01] xekoukou commented on #3732
@andreasabel I think it works for me too. ( I use the ```toTreeless``` function.) I just need to add a data compile pragma so that it stops erasure for the specific data type.

[2019-05-03 15:08] andreasabel commented on #3742
This worked fine until including 2.5.1.1.  I am starting agda-bisect...

[2019-05-03 15:21] andreasabel commented on #3719
There is one argument for keeping maximal compatibility that has not been voiced here yet:
The ability to run bisection to discover the cause of regressions.

Say a regression was introduced between version A and version B, we need a GHC version that can compile both A and B.  In practice, this should not be a problem, as we can narrow down the boundaries to two subsequent releases of Agda without

[2019-05-03 15:33] L-TChen opened #3745 "Update user manual on built-ins"
Re: https://github.com/agda/agda/blob/master/doc/user-manual/language/built-ins.lagda.rst

1. The following primitive functions

* `primCharToNatInjective`
* `primStringToListInjective`
* `primWord64ToNatInjective`

are not documented.

2. The following sentence

is no longer valid, as we have `primWord64ToNatInjective`.

[2019-05-03 15:57] rwe commented on #3741
I agree it's not likely to be earth-shattering (though, I wonder also if it might help with GC performance), just possibly low-hanging fruit worth noting. Easy for someone otherwise-unfamiliar with the internals to contribute.

[2019-05-03 16:34] guillaumebrunerie commented on #3741
Maybe it would improve memory usage when running Agda though? I’m guessing that a lot of the memory used by Agda consists of names of identifiers, but I may be wrong.

The second link in the OP contains the following comments:

[2019-05-03 16:46] guillaumebrunerie commented on #3741
Using the numbers from https://wiki.haskell.org/GHC/Memory_Footprint, for an ASCII string of length N on a 64 bit computer:
- a String uses 8 + 40N bytes
- a short Text uses 48 + N bytes

It seems to me there is a potentially huge gain here.

[2019-05-03 19:32] andreasabel commented on #3742
Hours later, fighting with a cabal bug https://github.com/haskell/cabal/issues/6031, it seems like the culprit is commit a1bb2cfe7c4eed49666b1cb4978a5a634e8bb84f
[code]

- Fixed #2250, fixed #2248 by clarifying API of getConstInfo to return AbstractDefn instead of Axiom for abstract definitions

[2019-05-03 20:37] andreasabel commented on #3742
Fixed by adding some `ignoreAbstractMode` in `metaOccurs` check, which looks into the types of (even abstract) constructors of mutual data types for meta variable occurrences.
This fix can go into 2.6.0.1.

[2019-05-03 20:38] #3742 closed, assigned to andreasabel

[2019-05-03 21:15] andreasabel commented on #3744
With option `-v impossible:10` we can see the error before the crash, but only with Agda-2.5.2:
[code]
This error is thrown by `getConstInfo`: https://github.com/agda/agda/blob/176f92027ea31ca868480879164f4fc65bed0c41/src/full/Agda/TypeChecking/Monad/Signature.hs#L633-L647
I have no clue why or where the debug text is swallowed.

[2019-05-03 22:35] L-TChen opened #3749 "Inconsistency: Rounding op differentiates NaNs"
By testing #3740, I found a bug regarding `Float`. The following code produces inhabitants of the empty type using decidable equality for `Int` defined in the standard library. #2155 is also affected, I think.

[code]

[2019-05-04 01:40] rwe commented on #3738
Re the comment:

There's an issue with some general discussion of that issue here: #3579 ("_Think about making duplicate BUILTIN bindings a warning_"). Hopefully I hadn't derailed the comments there too much. But seems worth linking to for reference.

[2019-05-04 10:34] nad opened #3750 "A variant of Cubical Agda that is consistent with UIP"
I have a development where I use extensionality and the propositional truncation, some parts of the code use instances of univalence (introduced as assumptions), and some parts use instances of UIP (also introduced as assumptions). I think it would be nice if there was a variant of Cubical Agda that was consistent with UIP. What would this take? I imagine that it does not suffice to have a flag th

[2019-05-04 10:57] nad commented on #3749
One might argue that the problem is that `PNaN` is treated as equal to `NNaN`.

[2019-05-04 10:59] L-TChen commented on #3750
Sounds like https://jozefg.github.io/papers/xtt-short-2019.pdf

[2019-05-04 11:15] L-TChen commented on #3749
This NaN issue in IEEE754 is notorious. I think there are few possible solutions.

1. Giving up identifying all NaNs, use their raw representation for propositional equality. If the user wants, she can use HIT to introduce identities and take care of the rest. Or she can use the exception monad to wrap Float. This approach  is easier for Agda implementers to maintain.

2. Having a wrapper for func

[2019-05-04 11:38] nad commented on #3741
There has already been some work on improving sharing of strings (by @andreasabel and Makoto Takeyama?), so I doubt that further work will make much of a difference.

[2019-05-04 11:56] JacquesCarette commented on #3749
I think option 1 is more consistent with how IEEE 754 is supposed to work.

[2019-05-04 12:23] phile314 commented on #3749
Floats really are a can of worms ...

The current float implementation assumes that different float NaN values cannot be observed. Quote manual:

However, if not even our own primitives adhere to that, I am not sure other people will follow that rule ...

Option 1 has the problem that NaN handling on different CPU architectures and compile targets can differ. E.g. JS only has one canonical NaN val

[2019-05-04 13:02] JacquesCarette commented on #3749
I was not aware of that part of the manual. Option 1 does seem inconsistent with that -- which implies that Agda's implementation of floats is not consistent with IEEE 745 either.  Maybe that design decision was convenient at the time, but should be revisited?

[2019-05-04 13:19] phile314 commented on #3749
What part of the Agda Float implementation are you referring to exactly? E.g. ``NaN != NaN`` or ``-0.0==0.0`` would make Agda incosistent (https://github.com/agda/agda/issues/2194, https://github.com/agda/agda/issues/2169 ), so just copying the standard / IEEE 745 float implementations into Agda is not possible.

What would an IEEE 745 - compliant Float implementation look like?

The "easy" way ou

[2019-05-04 13:31] JacquesCarette commented on #3749
Both of those came to mind.  Which is totally fine, as indeed IEEE 754 is 'mathematically broken' in that sense. So an IEEE 754 compliant implementation cannot be easily done in Agda.

There would be ways to do it, by having a wrapper for all Float values that would be abstract, so that `==` would not be applicable at all. Then one could export a relation from that module that is `==Float` a la IE

[2019-05-04 14:19] phile314 commented on #3749
I think the wrapper-question is orthogonal to the NaN problem. The big two NaN choices are:

* Multiple logical NaN values (=can be observed):
  + Works well & fast on x86
  - Every Agda interpreter/compiler target has to match the x86 Float implementation down to each bit (!)
  - Difficult to do in WebAssembly/JS (JS has only one NaN value)
  - Could make support for other CPU architectures such

[2019-05-04 15:02] JacquesCarette commented on #3749
Very soundly argued. I am convinced by your position.

[2019-05-04 15:03] L-TChen commented on #3749
I am also in favour of single logical NaN now.

It can be done easily by e.g., `mkPrimFun1 (round . normalise :: Double -> Integer)` or a safe
`mkPrimFun`.

[2019-05-04 16:09] strake commented on #3727
@nad Yes, it's as @jespercockx said, with a guaranty `SomeUnusedName` is impossible to write (i.e. won't clash with any name anywhere in the source code).

[2019-05-04 18:08] gallais commented on #3727
What should happen in the following scenario:

* both `M` and `N` define a function named `f`
* We `open import M as _` and `open import N as M`
* We write `M.f`.

Following your spec, I assume that `M.f` should mean `N.f`. So `open import M as _`
would not only not declare `M`, it would also have to remember that `M` can't possibly
be referred to.

Additionally, I assume `import M as _` is just d

[2019-05-05 15:13] copumpkin commented on #3749
I’m not convinced IEEE 754 is compatible with logic, really. Take 0 and -0, which are “equal” in the standard. In almost all situations, the two behave identically, but not all. So say we have a proof that `0 == -0` in Agda: what should happen if we apply `cong (1/)` to it? Now we have a proof that `+Inf` and `-Inf` are equal, which they aren’t.

Edit: I see @phile314 already mentioned that, sorry

[2019-05-05 17:12] rwe commented on #3749
Is this a false choice? The discussion here is attempting to resolve three sets of semantics:
  * The language- and platform-specific semantics of float on the Agda compiler target (HS + your laptop)
  * The language- and platform-specific semantics of float types on an export target (JS or HS + an unknown machine)
  * An abstracted notion of "floating point numbers" (which refers to "some" implem

[2019-05-06 10:20] andreasabel commented on #3732
My patch 53de2254459948846b2f895b040ae427f39ac5f6 broke the travis test: https://travis-ci.org/agda/agda/builds/527794823.
@erydo commented https://github.com/agda/agda/pull/3589#issuecomment-489335511 that the difference between golden vs. actual output is:
[code]
On my machine, the `Agda.Builtin.Unit.\8868.tt` is actually produced instead of `_`, thus I put it into the patch.
[code]
I am mystifi

[2019-05-06 12:01] asr commented on #3732
After seeing the `.travis.yml` file, I couldn't reproduce the Travis error running

[code]

[2019-05-06 12:35] rwe commented on #3732
The diff I posted was from Travis, I haven't tried to repro locally yet

[2019-05-06 13:12] Saizan commented on #3715
Using macros works, but then interactive development would suffer as ```unquote``` gets stuck on the interaction points.

I post the code here for reference in case there's a workaround.

[code]
[code]

[2019-05-06 13:56] Saizan commented on #3750
XTT is relevant, but it also goes all the way to definitional UIP (which we might want, but we might not need to start there).

For consistency of UIP you need to:

* Restrict to only set-truncated HITs
* Disable ```Glue```

You would then have ```hcomp``` in the universe as a new canonical type former when ```\phi``` is not ```i1```.  This type former would have introduction and elimination rules

[2019-05-06 17:07] rwe commented on #3732
It'll take me a while to get everything building locally, but I'm working on it. Since @UlfNorell mentioned it did not fail on his machine either: Could this be a caching issue? Like the `.agdai` being generated and then reused, but behaving differently?

[2019-05-06 17:20] rwe commented on #3732
Here's a more specific idea (cc @andreasabel):
  * Multiple tests import `test/Common/Prelude/*`
  * Those generate `.agdai` files.
  * These tests are run in parallel.
  * In 53de2254459948846b2f895b040ae427f39ac5f6, types default to "erasable" unless a binding indicates otherwise.
  * The specific set of imports determines which bindings are encountered.
  * The erasability of a type is [seriali

[2019-05-06 17:53] rwe commented on #3732
Basically, then, you should be able to reproduce this by a test scenario something like:

*`Shared.agda`*
[code]

*`IsNonErasable.agda`*
[code]

*`IsErasable.agda`*
[code]

If that hypothesis is right, then deleting all `.agdai` files and running `IsErasable` would show `_`. But if you run it after `IsNonErasable`, it would erroneously show `⊤`. (Or something like that). The behaviour would be dep

[2019-05-06 18:35] JacquesCarette commented on #3749
Oops, I forgot I was signed-in as drasil-bot! Sorry, that previous comment is mine.

[2019-05-06 20:35] rwe commented on #3749
@JacquesCarette I understand what you're saying but I think you might be misinterpreting my suggestion. I'm sorry I wasn't more clear.

I agree, Agda should not use "Haskell's floating point equivalence" as equality. Set aside Agda's current "Float" implementation for now.

I disagree. At the very least, there is a _bitwise_ equality that holds by definition. IEEE754 floats aren't totally abstract

[2019-05-06 21:02] rwe commented on #3749
Section 3 ("Floating Point Formats") from the spec itself (Google "IEEE-754 spec") is very helpful here, by the way. It discusses the various format guarantees and how different representations and specification levels relate to each other. They don't need to be magical.

[2019-05-06 21:47] phile314 commented on #3749
The explicit approach with records looks quite neat. However, I believe you also need to move the actual Float type and operations into the record. Else you would have expressions that compute to different values for different compiler targets. E.g. evaluating "primFloatAdd 0.0 nan" in Emacs should return exactly the same thing as when compiled to Haskell or JS.

On the other hand, from a maintena

[2019-05-06 22:32] rwe commented on #3732
#3752 (deleting the `.agdai` files beforehand running the Compiler tests) failed with the same error: https://travis-ci.org/agda/agda/jobs/529020401#L4924

Though, if it's a problem _between_ the Compiler tests, it could still be the cause. So my next suggestion would be to disable parallelism in those tests and see if they behave differently.

[2019-05-07 00:24] rwe commented on #3732
Well, that doesn't seem to be working either. But I have two more good clues CC @andreasabel.

If I executing the test compilation manually, locally:
[code]

And diffing:
[code]

Exhibits the problem locally. This does not happen if I just run the tests via `stack build --test`.
[code]

**Also interesting and probably relevant**: If I run `"${AGDA_BIN}"` directly — i.e. the same command as above,

[2019-05-07 00:52] rwe commented on #3732
After adding `--ghc-flag=-j2` to the second command above, it began to _also_ eliminate the `⊤` symbol. (In other words, failing the test). Removing the flag restored the `⊤`.

Though, I just installed `ieee` globally to fix that error, and now running manually eliminates the `⊤` in all cases, just like `stack exec` did; they're behaving the same now. So my current state is: `stack exec ${AGDA_BIN

[2019-05-07 03:45] rwe commented on #3732
Ok, still not sure why — but if I do:
[code]
(The command from my comment), the output equals `CompileAsPattern.out`.

If do *not* remove that output first, and just run `"${AGDA_BIN}" --compile …`, it generates something different.

Diffing the output itself, i.e. initially versus the output files created *if they already existed*, there's one difference, which corresponds closely to the test out

[2019-05-07 03:58] rwe commented on #3732
Ok, I think this it's caused by something around here: https://github.com/agda/agda/blob/b8473159f43720932e1f96e90cd01474893b89c5/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L155-L183

Running cleanly (which produces matching output) and with `-vcompile.ghc:2` gives me:
[code]

Running again (which does not match the `.out`, and has erased the `Unit` type) gives me:
[code]
CC @andreasabel

[2019-05-07 05:45] andreasabel commented on #3732
Thanks @erydo, for the excellent research!  I think I understand the problem now.
I think the following scenario triggers the issue:
- `Agda.Builtin.Unit`(short: `U`) defines the unit `Top` type with a Haskell binding.
- modules `A` and `B` both import `U`
- module `A` is compiled first:  After type checking, we have files `{U,A}.agdai`. The compiler compiles `U` to `U.hs`.  In the process, it dis

[2019-05-07 07:09] andreasabel commented on #3741
In 2014 in the process of making serialization more efficient, I tried to get rid of `String`.  Remnants of this refactoring attempt are several aliases to String, e.g., this one:
https://github.com/agda/agda/blob/126cab169a4d9e80b46fba102e5c7252720459ca/src/full/Agda/Syntax/Internal.hs#L252-L262
See 5df4e94e46727923d4814492d00ad7bd139de542 .
My experiments did not demonstrate a clear improvement

[2019-05-07 07:31] andreasabel commented on #3732
Unfortunately, my attempt 126cab169a4d9e80b46fba102e5c7252720459ca did not fix the problem, we still have:
[code]
The problem might be that `CompileAsPattern` is not importing `Unit` directly, but via `Common.Prelude`.  Thus, if `Common.Prelude` is already compiled, `Unit` might not be visited still, even if `Common.Prelude` is visited for the non-erasure propagation.

My next try is to propagate

[2019-05-07 08:32] guillaumebrunerie commented on #3741
Ok, you’re certainly more aware of the internals of Agda than I am.

Where does the sharing happen? Is it visible somewhere explicitly in the code?

I’m just wondering why they say that for a compiler you should use some special version of strings. If GHC has its own implementation of fast strings, why wouldn’t Agda benefit much from it?

[2019-05-07 08:42] andreasabel commented on #3697
Should this go on 2.6.0.1 !?  It is not a regression, though, as Set\omega is also new in 2.6.0.

[2019-05-07 08:45] Saizan commented on #3697
I guess it would make sense to include such bugfixes in 2.6.0.1

[2019-05-07 08:49] andreasabel commented on #3741
No, sharing is automatic in Haskell, unless something destroys the sharing.  For instance, a concrete name contains a string / strings, but this concrete name is passed around and stored in other structures without modification of the string.  Thus, the string remains shared among all these references.
Also, identifier resolution is not using strings.  After scope checking, all names are unique in

[2019-05-07 08:52] andreasabel commented on #3732
Walking the whole signature seems to have a noticeable performance impact.
Maybe the problem could be solved much more easily, by just having a flag for the treeless compiler whether it should keep types with a `HaskellPragma`.

[2019-05-07 08:56] andreasabel commented on #3697
You can pick your commit onto the release-2.6.0.1 branch (seems that conflicts will have to be resolved, though).

[2019-05-07 12:09] andreasabel commented on #3732
Not sure about what I said here.  The performance degradation of the compiler-test could as well be caused by the diminished erasure.

This does not seem to be the first test failing on travis, but not locally.  I did it before (#2757), commenting out a test, shame on me!
https://github.com/agda/agda/blob/fa8dc45ca933938a316d031d490e8cb90be3ecdb/test/Compiler/Tests.hs#L66-L77

[2019-05-07 12:57] nad commented on #3750
This doesn't sound so bad:

Easy.

I suppose one way to do this would be to check that at least one constructor of every higher inductive type family `D` has the type `∀ {Δ} → Is-set (D Γ Δ)` (or something like that).

OK, once that change has been implemented I suggest that we also implement "`--cubical-with-uip`".

[2019-05-07 13:03] guillaumebrunerie commented on #3750
Is this restriction really needed? At least in book HoTT, it is perfectly consistent to consider the circle HIT together with UIP, it just happens that the circle will be contractible. You need univalence to prove that the circle is not contractible, so there is no contradiction.

[2019-05-07 13:04] jespercockx commented on #3750
I am very much in favour of a version of cubical with UIP. Ideally we could also make UIP hold *definitionally*.

[2019-05-07 13:19] nad opened #3753 "Cubical code cannot be compiled"
The following code is type-correct, but the GHC backend cannot handle it:
[code]
Error message:
[code]
I assume that the JS backend exhibits similar problems.

[2019-05-07 13:35] nad commented on #3750
That is a bad name choice, I want something that is consistent with both UIP and univalence. Let me provisionally call the flag `--cubical-without-glue`. I'd like this flag to imply `--without-K`, and I want it to be compatible with `--cubical`. If possible I'd also like it to be compatible with `--with-K`, but perhaps the combination of HITs and the K rule requires more thought.

[2019-05-07 13:36] Saizan commented on #3750
@guillaumebrunerie I suppose the circle might be fine, but the HIT formed by two disjoint lines wouldn't be. Because you could map the two lines respectively to ```(\ i -> true)``` and ```(\ i -> false)``` and derive a contradiction from the proof that the lines are equal.

The circle doesn't seem to allow for such a proof, maybe there's a better property than set-truncation to consider?

[2019-05-07 13:45] nad opened #3754 "Inferring that a lambda is not a dimension abstraction ("cubical-lambda")"
The following code is accepted by regular Agda but rejected by Cubical Agda:
[code]
I assume that the reason is that the lambda could be either a regular lambda or an interval lambda. Why doesn't Agda infer that it is a regular lambda? `G` is applied to something that is not an element of the interval.

(See also #2519.)

[2019-05-07 13:56] guillaumebrunerie commented on #3750
@Saizan What do you mean exactly by that? If the lines have disjoint endpoints, then they are not equal even with UIP.

[2019-05-07 14:11] Saizan commented on #3750
@guillaumebrunerie Oh, you are right of course. I forgot about that.

In fact it seems that a model where everything is set-truncated (either weakly or strictly) would be able to support the same eliminators by using the truncatedness of the codomain.

Ok, so we just need to restrict ```Glue```, much better.

[2019-05-07 14:12] andreasabel commented on #3732
I think we have been chasing a phantom here.  The travis failure seems to be that the two compilers MAlonzo (for GHC) and JS (for node) now behave _differently_ wrt. to the debug output produced by test case `CompileAsPattern`, but there is a _single_ golden value they are supposed to match.

I have disabled the `MAlonzo` version of `CompileAsPattern`, while in fact the `JS` version is now deviati

[2019-05-07 17:02] rwe commented on #3732
@andreasabel

This does not match up with my experiments. See my most recent comments: the difference was just whether compiled output files already existed. I was reproducing by running Agda manually and did not touch anything to do with JS.

[2019-05-07 17:04] rwe commented on #3732
Oh, but I think I misunderstood what you were saying. You seem to be saying you fixed the issue with compilation to Haskell but the tests are failing now for a different reason, that the output differs between HS/JS. Sorry, that makes sense.

[2019-05-07 20:04] identicalsnowflake commented on #3749
What about simply declaring the float primitives unsafe? This way there's no need to untangle or formally model the float semantics, but users can still opt into them if they want for real-worldy reasons.

[2019-05-07 21:56] #3525 closed, assigned to jespercockx

[2019-05-07 21:59] gallais commented on #3749
This whole endeavour started in #3740 with the need for a safe proof of decidable
equality for Floats so that we could make the `Reflection` module of the standard
library safe.

[2019-05-08 08:15] nad commented on #3749
Is it important that floating-point primitives compute at compile-time? If not, then floats could be relegated to an unsafe library, and there would be no floating-point literals to worry about in the internal syntax. However, perhaps the answer to my question is [yes](https://github.com/agda/agda/issues/2194#issuecomment-251525747).

[2019-05-08 09:32] L-TChen commented on #3749
Floating-point arithmetic is important, but I don't find IEEE 754 equally important per se. There are other implementations, say [MFPR](https://dl.acm.org/citation.cfm?id=1236468), to improve/fix IEEE754. I also wonder if there is a type-theoretic floating-point arithmetic so that numerical computation can be done in a type-safe language while preserving efficiency. This is not a trivial task naiv

[2019-05-08 12:14] Saizan commented on #3754
Agda loosely follows bidirectional typechecking so arguments are not inferred, they are checked against the domain of the function they are provided to. But only if the type of the head is known to be a function type or a path type.

However I suppose if the type is blocked we could try to infer the argument and see if it helps.

[2019-05-08 13:26] L-TChen commented on #3736
Do you think it is okay to export the data type `NameId`?

https://github.com/agda/agda/blob/adcd57d5a952b023a3c055d5d0310b479def1738/src/full/Agda/Syntax/Common.hs#L1305-L1308

[2019-05-08 13:55] asr opened #3755 "HACKING.md: Wrong instruction for running certain tests"
Let's suppose I want to run only the simple MAlonzo compiler tests. Following the instructions

https://github.com/agda/agda/blob/4bdc539eb50d6aaec98c6d82c2fd8f61c7a798f5/HACKING.md#L176-L186

I'm getting the error:

[code]

Could someone fix the the instructions, please.

[2019-05-08 22:21] aljce opened #3756 "Does anyone have a nix expression for 2.6.1"
I have been trying to compile Agda 2.6.1 on nixos and my nix file is already this long:
[code]
This is starting to feel like cabal hell. Has anyone already solved this problem?

[2019-05-09 01:36] JacquesCarette commented on #3749
In the end, what matters most is that floats don't provide a way to prove false; also, it would be a pity if they introduced platform-visible differences (it would be a shame to be able to have computations yield different values on different platforms, even if I don't know how to leverage that to prove false).

They indeed don't have to be fully compliant with IEEE 754 to still be useful. And whe

[2019-05-09 01:46] rwe commented on #3755
I'm not familiar enough with the Makefile to update that, but the flag that I used with `stack` was `--regex-include`, so you might try that:
[code]

[2019-05-09 03:26] rwe opened #3758 "Implement Language Server Protocol (LSP)"
Over the past couple years, there has been a well-supported and broad effort to unify various languages' interactive development capabilities such as symbol lookup, renaming, type-checking tooltips, warnings, etc.

That is the [Language Server Protocol (LSP)](https://microsoft.github.io/language-server-protocol/). The protocol is in many ways very similar to the system that Agda exposes via its Em

[2019-05-09 05:17] nad commented on #3758
At first glance this sounds like a good idea, if we disregard the non-negligible implementation cost. Have you evaluated how this would impact the implementation and the user experience?

The [overview of the LSP](https://microsoft.github.io/language-server-protocol/overview) suggests that the go-to-definition functionality would need to be reimplemented (if we want to use the LSP to handle it). C

[2019-05-09 05:19] nad commented on #3758
I put this in the icebox for now. If we come to the conclusion that this is a good idea, and someone is willing to actually do the work, then we can adjust the milestone.

[2019-05-09 06:31] #3756 closed, assigned to nobody

[2019-05-09 07:22] Saizan commented on #3697
Cherry-picked the fix into release-2.6.0.1:  423dc1d

[2019-05-09 07:22] #3697 closed, assigned to Saizan

[2019-05-09 07:38] nad opened #3759 "Change the default RTS options?"
@WolframKahl has argued several times that Agda should be run with non-default RTS options (see for instance https://github.com/agda/agda/pull/3589#issuecomment-467969770). I'm also often using non-default options. We could change the defaults by using [`-with-rtsopts`](https://downloads.haskell.org/~ghc/8.6.5/docs/html/users_guide/phases.html#ghc-flag--with-rtsopts=%E2%9F%A8opts%E2%9F%A9).

Shoul

[2019-05-09 07:40] #3732 closed, assigned to andreasabel

[2019-05-09 08:32] nad commented on #3732
If I understand the discussion correctly the potential problem that you discussed [above](https://github.com/agda/agda/issues/3732#issuecomment-489917081) did not trigger this bug. However, it might still be or have been a problem. Was it a problem? And did you fix it? If it is a problem that has not been fixed, then I think we should open a new ticket for it.

[2019-05-09 08:46] banacorn commented on #3758
I've looked into LSP, and even tried to implement a [language server for Agda](https://github.com/banacorn/agda-language-server) as an attempt to remedy the pain when I was working on [agda-mode on Atom](https://github.com/banacorn/agda-mode).

But soon I gave up, because I'm not sure if it's a good idea.
I'm not saying it's bad to have the common functionalities available to all LSP-compatible ed

[2019-05-09 09:02] nad commented on #3758
We're typically not sending plain strings to Emacs, but rather sexps (serialised as strings).

[2019-05-09 09:10] banacorn commented on #3758
Sorry, I meant those strings stored in `Info_AllGoalsWarnings`.
I've managed to expose the concrete syntax tree of those types and terms to the frontends, and it looked really nice!!