[2018-06-03 09:29] UlfNorell commented on #3101
Yes.

[2018-06-03 09:34] UlfNorell commented on #3101
In general I think it's a good idea to keep the main repo as clean as possible. So, if you are working on a feature branch by yourself, it's better to use your own fork.

[2018-06-03 11:56] andreasabel commented on #2875
The easiest is to add a new tag "mention-in-changelog" that can be selected by the one who closes the issue.

[2018-06-03 12:00] andreasabel commented on #3006
Maybe the main problem currently is that if you split on result for the empty record, the clause disappears altogether.  Either we have to forbid splitting on the empty result or we have to add a syntax for the empty set of projections.  I'd say the latter alternative is nicer (and more streamlined).

[2018-06-03 12:02] andreasabel commented on #3006
The bug is:
[code]
The clause disappears and we get the error:
[code]

[2018-06-03 12:09] andreasabel commented on #3009
I think it would be most consistent with the remainder of the lexical syntax if comment dashes have to be separated from name-constituting characters by whitespace.

That would make your example declare a set `A--`.  That seems for me the most consistent interpretation of that code snippet.

[2018-06-03 12:30] andreasabel commented on #3101
You can delete all *my* feature branches, I forked agda anew.

However, I'd say the `legacy` branches could stay.  These are to update old Agda versions to compile with new GHCs.

[2018-06-03 12:33] andreasabel commented on #3099
I had this for the terms produced by unification, only that it uncovered the hack where level variables were abused as sort variables.  Since you (presumably) cleaned this up, we can reactivate the double checking of solutions.

[2018-06-03 14:08] andreasabel opened #3102 "Performance regression: very slow reduction in the presence of many module parameters"
On stable and master I observe a severe performance regression on the test cases for #2402, dropping from instantaneous to 35s per test case to produce the expected error message
[code]
[code]
I am not sure whether 2.5.4 has this regression or just the current development version.

[2018-06-03 14:40] asr commented on #2875
I agree with add this tag, but @nad is talking about other issues:

[2018-06-03 19:21] UlfNorell commented on #2875
Maybe a tag `released-bug`? That makes more sense to apply right a way.

[2018-06-03 20:52] nad commented on #3102
This problem does not seem to affect Agda 2.5.4.

[2018-06-03 21:22] asr commented on #2875
No. The `closed-issues` program lists *all* the closed issues (by milestone) and we are using tags for *excluding* (not including) issues from that list.

So, for excluding the "bugs in previous development versions that have never been released", we should tag them. I suggest the `non-released-bug` tag.

Right now, we are excluding issues tagged with

`status: abandoned`,
`status: duplicated`,
`s

[2018-06-04 00:31] Ebanflo42 opened #3103 "Failed installation of Agda 2.5.4 on Ubuntu 18.04"
Using cabal 1.24.0.2 and ghc 8.4.3

    Failed to install Agda-2.5.4
    Build log ( /home/ebanflo/.cabal/logs/Agda-2.5.4.log ):
    cabal: Entering directory '/tmp/cabal-tmp-12018/Agda-2.5.4'
    [1 of 1] Compiling Main             ( /tmp/cabal-tmp-12018/Agda-2.5.4/dist/setup/setup.hs, /tmp/cabal-tmp-12018/Agda-2.5.4/dist/setup/Main.o )
    Linking /tmp/cabal-tmp-12018/Agda-2.5.4/dist/setup/setup

[2018-06-04 02:16] asr commented on #3103
It seems you  compiled `cabal-install` with a previous version of GHC. Am I right?

Which ones?

[2018-06-04 02:30] Ebanflo42 commented on #3103
I used `ghc-8.4.3` and, while I thought I was using `cabal-2.2.0.0` because I just installed it, `cabal --version` reveals that I was using `1.24.0.2`

[2018-06-04 02:32] asr commented on #3103
OK. I'm closing the issue. Please reopen it if necessary.

[2018-06-04 02:32] #3103 closed, assigned to asr

[2018-06-04 02:35] asr commented on #3103
Please note that GHC 8.4.* requires cabal-install ≥ 2.2.0.0.

[2018-06-04 03:24] andreasabel commented on #2875
Maybe a tag like `latest` or `development-only`.

[2018-06-04 03:51] andreasabel commented on #3102
Somewhat mysteriously, the time seems to be spent before the actual coverage checking starts, in these lines:
https://github.com/agda/agda/blob/cb18777ff7c30f7df940db3188e7f7213bf15cc9/src/full/Agda/TypeChecking/Coverage.hs#L148-L160
The last patch affecting this region is 5 months old.

Time stats:
[code]

More investigation shows that the time apparently is spent in the first line, `TelV gamma a

[2018-06-04 04:24] andreasabel commented on #3102
@UlfNorell @jespercockx Anyone tinkered with modules/parameters/imports/reduction in the development version after the release?
@nad: Maybe this can be tracked down by agda-bisect?

[2018-06-04 04:33] #3057 closed, assigned to andreasabel

[2018-06-04 07:01] UlfNorell commented on #3102
I don't believe I have any commits not in the release. As far as I know the only new stuff is @jespercockx's Prop.

[2018-06-04 07:23] adlerd commented on #2783
It looks like a lot of things may have been cleaned up, but there's a hidden gotcha with Agda.Builtin.Reflection. It checks with --safe, but `Term` equality isn't decidable because the primitives for `Meta` and `QName` equality are `... -> Bool`. This makes it pretty difficult to use reflection; although in `TC` I guess `unify` is kind of like equality checking...

[2018-06-04 08:59] andreasabel commented on #3102
Bisection blames commit b9c7af0292375f74acf044f17fb6539d7f875561

    [ refactor ] Make univSort and univSort' monadic in HasOptions m

[2018-06-04 09:10] andreasabel commented on #2875
We could actually use the tags `stable` and `master` which identify issues as not on the released versions.

[2018-06-04 11:05] asr commented on #2875
We have used the tag `stable`/`master` for issues in the `stable-2.5`/`master` branch but not in the `master`/`stable-2.5` branch.

[2018-06-04 11:58] Saizan commented on #2170
Better version of "Issue2170-unify"

[code]

[2018-06-04 12:02] jespercockx commented on #2170
This seems to be a separate problem from the one given by @tomjack, since it relies on the constraint solver instantiating a relevant meta with an irrelevant solution somehow.

[2018-06-04 12:06] andreasabel commented on #2875
Actually, I created the `stable` tag today.  But yes, we used the `master` tag for recent issues that only affect the master branch, and we can continue to do so.  The `stable` tag can be used for recent issues that affect stable and may also affect master.  Together, they give us the set of issues that have been fixed before they ever entered a released version.

[2018-06-04 12:12] UlfNorell opened #3104 "New branch policy"
After some discussion at the Agda meeting we made came to the conclusion that given how we use the `stable-2.5` and `master` branches it would make more sense to call them `master` and `experimental`.

Furthermore, @Saizan expressed a desire to include cubical in the next release (meaning that the next release would be `2.6.0`). Thus, the natural thing to do would be to "freeze" `stable-2.5` and c

[2018-06-04 12:47] UlfNorell commented on #2875
See also #3104 before you commit to any tag names.

[2018-06-04 12:50] #3102 closed, assigned to jespercockx

[2018-06-04 13:18] asr commented on #2875
I think a unique tag (e.g. `non-released-bug`) is less confusing.

[2018-06-04 13:32] asr commented on #3104
If I understood correctly the propose is

`master`: the (stable) branch to be use for releasing
`experimental`: the branch to be used for new features

If  so, why continue *all* development on `master`? That is, who is going to test the new features in `experimental`?

[2018-06-04 13:56] UlfNorell commented on #3104
No I mean we should keep working as before but with the new names. For now though, there aren't any new features on `experimental`.

[2018-06-04 14:04] asr commented on #3104
I see. Thanks!

[2018-06-04 14:30] andreasabel commented on #3104
Why would we create the experimental branch right away?  We would then have to do pointless merges all the time...

[2018-06-04 15:05] andreasabel commented on #1432
@jespercockx: Types of sort metas could be represented just by a telescope `G`, rather than `G -> Prop`.

[2018-06-04 15:49] UlfNorell commented on #3104
They would be fast-forwards so they wouldn't really be in the way. The point would be that we have all the infrastructure and instructions set up for two branches. I'm a bit reluctant to change all of that only to have to add it back once we decide to create `experimental`.

[2018-06-04 18:00] andreasabel opened #3107 "Proper dummy terms; remove Sort Prop hack"
Proper dummy terms; remove Sort Prop hack.

[2018-06-04 19:14] andreasabel commented on #3107
In https://github.com/agda/agda/commit/d3280e0d097814703cdc656876e587595f884d3c I introduced a new `Term` constructor `Dummy`.  Maybe I could also have introduced it in `Sort`; fewer cases to add!?  Anyhow, I think it is clearer in `Term`.

[2018-06-04 19:14] #3107 closed, assigned to andreasabel

[2018-06-04 19:20] asr commented on #3107
I tagged the issue with `dev-ops`.

[2018-06-04 19:20] andreasabel commented on #3104
How can they be fast-forwards if they differ (e.g. in the `Makefile`)?  It appears this would be constant merging into experimental, compilation again, testsuite again...

How would you name the 2 agda versions? `agda` and `agda-experimental`?  Actually, I prefer `agda-X.Y.Z`.
What version would `experimental` be? 2.7.0?
It seems like all the work you have to put in to set up `experimental` can be

[2018-06-04 19:26] UlfNorell commented on #3104
I was thinking they would be exactly the same until we actually need them to diverge. If you absolutely need it to have a different version number then we should wait to create it.

What I'm saying is that some of the work to set it up we have already done (for instance, Travis jobs and hacking instructions) and this would have to be *undone* if we don't have an experimental branch. Maybe that's n

[2018-06-04 19:29] UlfNorell commented on #3107
Now I'm confused about what the `dev-ops` tag is used for.. The description says Travis, Makefile, test suite, etc. This is about refactoring the actual Agda implementation.

[2018-06-04 19:35] asr commented on #3107
Note that this issue isn't a bug.

We are excluding issues tagged with

`status: abandoned`,
`status: duplicated`,
`status: invalid`,
`status:  wontfix`,
`status: working-as-intended` or
`dev-op`.

Which tag should I use for excluding this issue from the list in the CHANGELOG?

[2018-06-04 19:38] UlfNorell commented on #3107
`type: task`? Or the absence of `bug` or `enhancement`?

[2018-06-04 19:45] asr commented on #3107
No absences please. We use `type: task` for some issues (e.g. missing documentation) we list in the CHANGELOG.

[2018-06-04 19:51] UlfNorell commented on #3107
Ok, but then `dev-ops` is not really a good name for it. Maybe it should just be `skip-changelog` if that's exactly what it means. Then we can use it for bugs that haven't been released as well, as discussed in #2875.

[2018-06-04 19:58] asr commented on #3107
Good idea!

[2018-06-05 05:23] andreasabel commented on #3059
Well, but I want my parametrized rule to depend on one record that packages everything up.  Here is the original code;
[code]
I want to parametrize over `P : KLP`. Of course I can break everything up in bits and pieces, but where it the modularity then, the organization into mathematical structures?

[2018-06-05 05:30] UlfNorell commented on #3059
With a little bit of reordering you could put `wk-KLP` in `KLP-Ext`.

You still haven't explained why it's safe to ignore the lhs check in this particular case.

[2018-06-05 06:50] UlfNorell opened #3108 "Internal error when generalizing in constructor type"
Reported by @m0davis in divipp/agda#1.

The following code results in an internal error.

[code]

The error is

[code]

[2018-06-05 06:53] UlfNorell opened #3109 "Internal error when asking for goal type"
Reported by @m0davis in divipp/agda#2.

Trying to view the goal (with C-c C-t) in hole of the following code results in an internal error.

[code]

The error is

[code]

[2018-06-05 06:55] UlfNorell opened #3110 "Unexpected context for generalized type"
Reported @m0davis in divipp/agda#3.

The context generated by --generalize changes unexpectedly after declaring a function, as seen using the code below.

[code]

The context of before is:

[code]

The context of after is:

[code]

[2018-06-05 06:58] UlfNorell opened #3111 "Allow generalization in right-hand sides"
Reported by @m0davis in divipp/agda#4.

I hope it would not be too much of a stretch to support generalized variables in the rhs when the goal is a Set. For example, I would like to following to work in the obvious way:

[code]

In the last bit, the error is:

[code]

[2018-06-05 09:03] nad commented on #3102
Note that if you add `data [...]` before the top-level module header, then the header is no longer the header of a top-level module, but rather of an empty local module.

[2018-06-05 11:13] #3108 closed, assigned to nobody

[2018-06-05 11:15] UlfNorell opened #3112 "Generalized variables should be highlighted as bound variables"
Currently they are highlighted as defined names.

[2018-06-05 11:21] jespercockx commented on #3112
Maybe we could have a separate highlighting for generalized variables? This would be useful for e.g. the LaTeX mode where you may want to make clear syntactically which variables are generalized.

[2018-06-05 11:23] jespercockx commented on #3101
I don't have permission to delete `stable-2.4` and `stable-2.4.0` myself. Could someone with more rights do this?

[2018-06-05 12:02] andreasabel commented on #2513
Syntax alternatives summary.  The modality annotation should work in:
- telescopes (typed bindings and untyped bindings)
- declarations (type signatures, e.g. on the top level and in records)
- non-dependent function space

@UlfNorell 's proposal:
- telescope `(m | x y : A) (m | z v)`
- declaration `(m | x) : A`
- non-dependent function space: `(m | _ : A) -> B`  (no syntax)

@Saizan 's syntax
- t

[2018-06-05 12:08] UlfNorell commented on #2513
I can get behind the pre-@ proposal.

[2018-06-05 12:10] gallais commented on #2513
Do the `@` proposals mean we would get a new primitive `_@_ : Mode -> forall {l} -> Set l -> Set l`?
With this we could state generic distributions laws such as `m @ All id As -> All (m @_) As`
(for the `m`s for which it makes sense, obviously) where `As` is a list of Sets.

[2018-06-05 12:13] UlfNorell commented on #2513
No.. I'm pretty sure it doesn't mean that.

[2018-06-05 12:15] UlfNorell commented on #2513
I can also get behind the attribute proposal.

[2018-06-05 12:29] andreasabel commented on #2513
I'll try to make the parse understand the attribute proposal.

[2018-06-06 07:13] banacorn opened #3113 "Are we allowed to elide the body of let-expressions?"
I'm working on a [parser for syntax highlighting](https://github.com/banacorn/tree-sitter-agda) on Atom.
And I found some difficulties when parsing *let-expressions*.

Normally we would write something like this:
[code]

However, according to the grammar, the expression after and including the token `in` could be elided.

https://github.com/agda/agda/blob/d673f075a2d74c660f8451114f2769dbb23c5aff/s

[2018-06-06 07:22] gallais commented on #3113
These are used by [do-notations](https://agda.readthedocs.io/en/latest/language/syntactic-sugar.html?highlight=do%20notation#id4)

[2018-06-06 07:38] banacorn commented on #3113
I didn't think about that! Thanks!

The nightmare of the dangling-in has become the reality.

[2018-06-06 07:38] #3113 closed, assigned to nobody

[2018-06-06 09:38] Saizan opened #3114 "Missing alpha-renaming when printing constraints"
The code below generates constraints printed as

[code]

Where the two "x" are presumably two distinct arguments, just both named "x" in the telescope.

[code]

[2018-06-06 11:22] asr commented on #3107
@andreasabel, I'm waiting your opinion on the tag name `skip-changelog`.

[2018-06-06 19:13] andreasabel commented on #3102
Ah, yes, silly me.

[2018-06-07 08:10] nad commented on #3113
I assume that you have some reason for not using the actual Agda parser. Let me guess:

* Atom is implemented in some language that is not Haskell, and interfacing with Haskell is non-trivial.
* The Agda library takes up tens of megabytes.
* Interfacing with the unstable Agda API requires too much work.

[2018-06-07 08:12] nad commented on #3102
I seem to recall that it was your idea to make it possible to omit the top-level module header. :)

[2018-06-07 09:24] banacorn commented on #3113
The reason why I'm not using the actual Agda parser is *interfacing*.

I'm using [tree-sitter](https://github.com/tree-sitter/tree-sitter) to create my parser. A parser generator that was designed to target some editor-related features like syntax-highlighting and code-folding. It's not until 2017 when the humans finally discovered that they should be doing this with *context-free grammars* instea

[2018-06-07 09:28] nad commented on #3113
Could Atom support the kind of interaction with the Agda backend that Emacs supports?

[2018-06-07 09:46] banacorn commented on #3113
If you are referring to interactions other than dynamic syntax highlighting, yes!

The reverse engineering took quite some effort:
https://github.com/banacorn/agda-mode/wiki/Conversations-between-Agda-&-agda-mode

I [tried](https://github.com/banacorn/agda-language-server) to implement [Language Server Protocol](https://langserver.org/) for Agda. I think it's a bit an overkill though.

It would be

[2018-06-07 10:32] nad commented on #3113
The Emacs Lisp part is (hopefully) isolated to `Agda.Interaction.EmacsTop`. I suppose you could add a similar module with JSON support.

[2018-06-07 12:26] UlfNorell opened #3116 "Documentation for generalize"
User manual and changelog.

[2018-06-07 13:41] nad opened #3117 "Some questions related to generalisation"
* Should it be possible to give "generalised arguments" by position? (No?)
* Should it be possible to give "hierarchical generalised arguments" by name? (Yes?)
* The algorithm currently chooses one hierarchical name, even though other names might also make sense. Should all of them be allowed when giving arguments by name? (Yes?)

[2018-06-07 13:48] nad commented on #3117
* Should it be possible to export generalisable names?

  In that case it should be possible to mark the names as being private. As this is currently not possible I think we should make a decision before the next release, to avoid changing the meaning of code in a later release.

[2018-06-07 18:57] UlfNorell commented on #3117
This is one of the todo's from the PR and should have it's own issue.

[2018-06-08 04:28] andreasabel commented on #3102
My Idea was to be able to use `_` in the top level module header.  But then Ulf extended this to _drop it altogether_.

[2018-06-08 04:31] andreasabel commented on #3107
@asr: Sounds good, go ahead!

[2018-06-08 04:44] UlfNorell commented on #3102
I think you'll find you got that backwards: #953.

[2018-06-08 07:30] andreasabel commented on #3102
Memory is selective. :D

[2018-06-08 08:12] nad commented on #3107
I created the label `not-in-changelog` yesterday. Feel free to rename it.

[2018-06-08 16:16] jespercockx opened #3118 "Feature request: default flags in .agda-lib file"
It would be nice if we could put some default flags for an entire library in its `.agda-lib` file, like for Cabal. For example this would be very useful for `--without-K` or `--safe`. Or is there already an easy way to get the same effect?

[2018-06-08 19:37] ysharoda commented on #1945
I have the exact same problem. I run Mac OS Sierra, Emacs 24.5 and Agda 2.5.4.
I installed agda using homebrew, but emacs cannot load the agda-mode.

Here is the error that I get on emacs:

Here is the error that I get when I run "agda-mode compile"

Symbol's function definition is void: byte-compile-disable-warning
Symbol's function definition is void: byte-compile-disable-warning
Symbol's functi

[2018-06-09 09:03] nad commented on #1945
It seems as if agda-mode was not installed on your PATH.

[2018-06-09 09:11] ilovezfs commented on #1945
Note the Hombrew formula does install agda-mode.
[code]

[2018-06-09 09:27] UlfNorell commented on #3104
@asr do you have any input on this?

The current proposal is to switch over the development to `master` and not add `experimental` until we need it.

[2018-06-09 10:15] ysharoda commented on #1945
agda-mode is in the PATH.
I can actually run
`> agda-mode locate`
`/usr/local/Cellar/agda/2.5.4/share/x86_64-osx-ghc-8.4.3/Agda-2.5.4/emacs-mode/agda2.el`
and
`> agda-mode setup`
`The .emacs file used: /Users/ymmagdi/.emacs`
`It seems as if setup has already been performed.`
But I still get the error when I run `agda-mode compile`

Is the error related to compiling the .el files using the `byte-co

[2018-06-09 10:19] ilovezfs commented on #1945
Which emacs is in your PATH?
[code]

[2018-06-09 10:35] ysharoda commented on #1945
/usr/bin/emacs
After I added these three lines to PATH, Aquamacs is working in agda-mode, but not emacs !!

`export PATH=/usr/local/bin/agda-mode:$PATH`
`export PATH=/usr/local/Cellar/agda/2.5.4/bin/agda-mode:$PATH`
`export PATH=/usr/local/Cellar/agda/2.5.4/share/x86_64-osx-ghc-8.4.3/Agda-2.5.4/emacs-mode/:$PATH
`

[2018-06-09 10:53] ilovezfs commented on #1945
`/usr/bin/emacs` is the system emacs. The Homebrew `agda` formula depends on the Homebrew `emacs` formula, which you seem to have uninstalled or unlinked.

[code]

and `which emacs` should point to `/usr/local/bin/emacs`.

[2018-06-09 11:13] ysharoda commented on #1945
I did `brew reinstall emacs` then `which emacs`, got the same path

`/usr/bin/emacs`

[2018-06-09 11:21] ilovezfs commented on #1945
What's the output of
[code]

[2018-06-09 12:51] nad opened #3119 "Missing highlighting when delete-trailing-whitespace is used"
@UlfNorell and @jespercockx noticed that if you have `(delete-trailing-whitespace)` in your `before-save-hook` and add some whitespace at the end of a line before loading a file, then there is no highlighting after loading has completed.

[2018-06-09 13:07] asr commented on #3107
* I replaced `dev-ops` by `not-in-changelog` and
* I added the `not-in-changelog` label to the closed issues labelled `cubical` or `generalize`

[2018-06-09 13:58] asr commented on #3104
We are using the current work-flow (i.e. `master` and `stable-2.5`) because we need/want that new features:

1. don't block the release of a new version (e.g. the last release didn't include cubical)
2. be tested for many developers as possible

Now, if we want to release from `master` (good!) and keeping 1. and 2., I suggest:

A. frozen `stable-2.5`
B. create `stable-2.6` from the current `master

[2018-06-09 14:14] UlfNorell commented on #3104
There are two things we're talking about here:

I wanted to rename the two branches so instead of `stable-2.6` and `master` we have `master` and `experimental` (or `experimental-2.7` or some such), to fix the problem with PRs and the fact that we really are using the stable branch as a master branch.

The other question is whether we wanted to hold off on creating the experimental branch until we

[2018-06-09 14:42] asr commented on #3104
Let's suppose we have `master` and `experimental` working. Who will be the responsable by merging the new commits pushed in `master` into `experimental`? The author of the commit in `master`? The guys working in `experimental`?

[2018-06-09 14:59] UlfNorell commented on #3104
Same as before: the person pushing to `master`. The (first) proposed change is *only* to rename the branches.

Regarding experimental, I think the most sensible thing to do would be to set it up right away, but not start the actual merge-every-commit-from-master until we have something interesting on experimental.

[2018-06-09 15:08] andreasabel opened #3120 "No tooltips for record field names in record expressions"
Cannot jump to definition of record field in record expression.
[code]
The last `f` is highlighted correctly, but one cannot jump-to-definition.

[2018-06-09 15:34] andreasabel opened #3122 "Hidden record fields are not picked up from module in record expression"
Working on #3120, I discovered that hidden record fields are not picked up from module in record expression.
[code]
The record expression is yellow.

Maybe the field `f` should be picked up from `M`.  What were the design considerations to not do this, @np ?

[2018-06-09 17:39] asr commented on #3104
TL;DR: make the renaming without setting `experimental` up.

I don't see any *strong* reason for setting `experimental` up right now, that is, I propose to
set it up when needed.

In relation to the renaming:

1. So how the names `master` and `experimental` have different implicit meaning. I can imagine the following rude conversation:

    someone: please merge your commit to `experimental`

[2018-06-09 17:57] UlfNorell commented on #3104
This would be equivalent to saying I don't care about the next major release of Agda, which would be a strange thing to say. If the person pushing to `master` is not responsible for merging into `experimental` it puts an undue burden on the people that care about developing and maintaining the new features.

We should (and do) certainly have feature branches, but having a dedicated `experimental`

[2018-06-09 18:04] WolframKahl commented on #3117
* Is `generalize` really the right name for this?

  A similar feature has been part of many algebraic specification formalisms for ages; there the keyword usually is `vars` respectively `var` (CASL, for example, allows both, independent of the number of items).

  My proposal would be `variables` and `variable`.

[2018-06-09 18:08] #3120 closed, assigned to andreasabel

[2018-06-09 18:08] WolframKahl commented on #3104
Perhaps it should then have a less `experimental` name, and instead something like `next-master`, `next-stable`, `future`, ...

[2018-06-09 18:10] UlfNorell commented on #3117
I wouldn't mind `variable` (singular; we don't have plural versions of `postulate` and `field`).

[2018-06-09 18:12] UlfNorell commented on #3104
Sure, I suggested `experimental` because the standard library has an experimental branch, but I'd be fine with a different name. My main desire was to have the main branch be called `master` instead of `stable-2.X`.

[2018-06-09 18:36] UlfNorell opened #3123 "Malformed projection definition"
My work on `generalize` uncovered a sleeping bug triggering this impossible:

https://github.com/agda/agda/blob/657be3f73ba47146e4a89f8e0734f24b8538c11c/src/full/Agda/TypeChecking/Substitute.hs#L253-L257

when being strict in the `theDef d` here:

https://github.com/agda/agda/blob/657be3f73ba47146e4a89f8e0734f24b8538c11c/src/full/Agda/TypeChecking/Rules/Application.hs#L292-L296

For now I'll make

[2018-06-09 18:43] jespercockx commented on #2760
This issue hit me today after a long time of not using instance arguments. I approve of Ulf's suggested solution. The question is what we should consider local candidates. I have in particular an example at the bottom of [this file](https://github.com/jespercockx/categories/blob/master/Category.agda) where I use the pattern
[code]
and I'd like the instance to still be considered 'local' in this ca

[2018-06-09 18:48] jespercockx commented on #3104
I support calling the new branch `future`. There should be clear instructions that the policy is to always merge `master` into `future`. Without such a policy, developing new major features such as cubical-agda would be as good as impossible.

[2018-06-09 18:52] jespercockx commented on #3099
I added the new option in https://github.com/agda/agda/commit/934c1a1a44b13dc054b347fa2fbc52552eb4af94, but we're still a long way off from actually using double-checking since the option currently only uncovers all the hacks we've been using. In particular, at the moment the first problem one runs into when running the test suite with `--double-check` is that `checkInternal` doesn't work correctl

[2018-06-09 18:53] andreasabel commented on #2170
On AIM XXVII we agreed to fix this issue by turning off `--irrelevant-projections` off by default, since they are unsound, at least currently.  The new `Prop` can be used when irrelevant projections are needed.

[2018-06-09 19:24] #3109 closed, assigned to UlfNorell

[2018-06-09 19:24] #3110 closed, assigned to UlfNorell

[2018-06-09 19:51] nad commented on #3117
Coq uses the keywords `Variable`, `Variables`, `Hypothesis` and `Hypotheses` in sections (see the [Coq manual](https://coq.inria.fr/refman/language/gallina-specification-language.html#assumptions)). As discussed elsewhere Coq sections are somewhat different from the Agda feature discussed here. However, I think the two concepts are sufficiently similar that it makes sense to use an established ter

[2018-06-09 20:15] UlfNorell commented on #3123
Here's the shrunk test case (from #1906) that provoked the issue:

[code]

[2018-06-09 20:40] andreasabel opened #3124 "De Bruijn index in lhs checking error message"
[code]
yields
[code]

[2018-06-09 20:53] asr commented on #3104
+1 in both, the branch name and the policy.

[2018-06-09 21:12] andreasabel commented on #2971
In my work on #2170, I changed the fix of this.  We can always create irrelevant projections, but may only use them on the _rhs_ if `--irrelevant-projections`.  On the lhs, they are always fine, since they are also fine as record expression field tags.

[2018-06-09 21:53] andreasabel commented on #1602
Should be revisited once runtime-erasure is implemented, see #2513.

[2018-06-09 23:24] #2797 closed, assigned to andreasabel

[2018-06-10 09:38] andreasabel commented on #2797
Fixed by adding the missing call `checkRelevance`.
Problems as this one could be caught by double-checking #3099.

[2018-06-10 09:40] andreasabel commented on #3099
Maybe a way to go is to ignore certain problems (like wrong sorts) at first to catch more important problems, such as #2797.  Once we caught the most harmful bugs, we can deal with stuff like sorts etc.

[2018-06-10 10:17] #3124 closed, assigned to andreasabel

[2018-06-10 10:18] andreasabel commented on #3124
For some reason, this error is only thrown in the coverage checker.
The context was off there when throwing `IrrelevantDatatype`.

[2018-06-10 10:29] andreasabel commented on #3114
Printing is ok in 2.5.1.1.  I suppose this is the same regression as in #2522.

[2018-06-10 13:55] andreasabel commented on #3095
Ok, for @UlfNorell 's most recent test case, splitting on `.n` gives me this debug output:
[code]
How do I find out from this information that I can split on `.n` which is`1` but not on `p` which is `0` ? @jespercockx ?

[2018-06-10 15:30] timjb opened #3125 "Internal error in InstanceArguments.hs:292"
I got the error

[code]

while checking the code

[code]

with Agda 2.5.4. ([Permalink to the code in context](https://github.com/HoTT/HoTT-Agda/blob/e48a16bcd719e2fcb409d79e3f7df6c6b81223bb/theorems/cohomology/SpectrumModel.agda#L226-L230), [Permalink to line in InstanceArguments](https://github.com/agda/agda/blob/v2.5.4/src/full/Agda/TypeChecking/InstanceArguments.hs#L292))

The problematic inst

[2018-06-11 07:58] andreasabel commented on #3117
These are our module parameters.
The generalization feature is what is called _Implicit Generalization_ (search for this header here: https://coq.inria.fr/refman/language/gallina-extensions.html).

I think reusing `variable` or `hypothesis` for the generalization feature would be confusing.  Note that
[code]
does not mean that the development is parametrized by a `n : Nat` or that you have such a

[2018-06-11 08:05] divipp commented on #3110
Thanks!

[2018-06-11 09:40] jespercockx opened #3126 "Generalizable instances"
This is perhaps a bit of a crazy request but I think having something like this would be very nice:
[code]

[2018-06-11 09:59] UlfNorell commented on #3126
cf #1151

[2018-06-11 12:26] WolframKahl commented on #3117
This is the same as how I would explain
[code]
in CASL: The scopes of `n` are where it is implicitly universally quantified.

[2018-06-11 13:19] andreasabel commented on #3117
In PVS `x : VAR A` gives the type of `x` should it be bound somewhere, and it seems to automatically forall-generalize in propositions, see: http://pvs.csl.sri.com/doc/pvs-language-reference.pdf#section.3.2 and http://pvs.csl.sri.com/doc/pvs-language-reference.pdf#chapter.6 .

Isabelle does automatic forall-generalization like ML without any pragma for the variables needed.

[2018-06-12 10:19] jespercockx commented on #2170
Note that the definition of `bizarre` by @tomjack doesn't work anymore when you eta-expand `irr`:
[code]
gives
[code]
Internally, the difference is that Agda interprets `irr` as `\x → record { unirr = x }` but interprets `\ x → irr x` as `\x -> record { unirr = DontCare x }` instead. Maybe if we manage to insert `DontCare` consistently, we could make `--irrelevant-projections` (more) sound.

On th

[2018-06-12 10:29] jespercockx commented on #2170
A similar thing seems to happen in the example by @Saizan: the second argument to `Unsquash` in the type of test is `squash`, but if you eta-expand it Agda rejects the definition. So it seems worth investigating whether we can insert the appropriate `DontCare`'s when encountering an application of a record constructor with irrelevant fields.

[2018-06-12 11:26] jespercockx commented on #2170
After some more investigation, it seems that Agda considers `.(x : A) -> B` to be a supertype of `(x : A) -> B`, but this is invalid without the appropriate coercion: if `f : (x : A) -> B` then it doesn't follow that `f : .(x : A) -> B`, but only that `\x -> f (dontCare x) : (x : A) -> B`. So either we have to do something here to actually perform the coercion, or we have to disable this subtyping

[2018-06-12 11:39] jespercockx commented on #2170
Failing test cases when I disable this subtyping rule:

- [test/Succeed/Issue2429-subtyping.agda](https://github.com/agda/agda/blob/37d38f5a3cdd830d00a65c16da277f1916168c69/test/Succeed/Issue2429-subtyping.agda)
- [test/Succeed/RelevanceSubtyping.agda](https://github.com/agda/agda/blob/37d38f5a3cdd830d00a65c16da277f1916168c69/test/Succeed/RelevanceSubtyping.agda)

See also #2428 and #2429. All in

[2018-06-12 13:12] jespercockx opened #3127 "Notation for out-of-scope variables conflicts with notation for irrelevance"
This is SUPER confusing and pops up all the time when working with irrelevant arguments. Example:
[code]
shows goal type:
[code]
This is especially confusing given that double-dot is also the current notation for (the undocumented) shape-irrelevance.

My proposal would be to print not-in-scope arguments using `{}`:
[code]
This would require we rename hidden variables when they are shadowed by a vi

[2018-06-12 14:58] andreasabel commented on #3127
That would work in the hypotheses display, but we should also have a notation inside types.  My plan was to exchange the `.` for an `@`, but maybe this will now be confusing with attributes.  What about `'a`?
A single quote usually opens a character literal, thus, it will not be parseable (that addresses one of @nad's main concern).

Update: This could be confusing with a shadowed identifier `a'`

[2018-06-12 15:25] andreasabel commented on #2170
Well, a coercion would be cleaner since we could aggressively remove irrelevant arguments in the compiler early on.  Currently, it seems the compiler has safeguards to deal with the subtyping and seems to subsume irrelevant arguments under its own dead code analysis.
[code]
This compiles fine, since Agda creates two versions of `ignored`, one with and one without erasure of the first argument, and

[2018-06-12 15:52] andreasabel commented on #2170
In `bizarre`, I do not know why `refl` type checks here, since `unirr (irr a)` should reduce to `DontCare a`, printed as `.(a)`.  See the use of `argToDontCare`:
https://github.com/agda/agda/blob/da5afc593a25d1ccc2e6ee20d3b69cd20a557263/src/full/Agda/TypeChecking/Substitute.hs#L90-L102
https://github.com/agda/agda/blob/da5afc593a25d1ccc2e6ee20d3b69cd20a557263/src/full/Agda/TypeChecking/Substitute.

[2018-06-12 16:26] andreasabel commented on #2170
@UlfNorell : How does the fast reduce handle irrelevant projections?  Shouldn't this case do something equivalent to `argToDontCare` rather than just `unArg`?
https://github.com/agda/agda/blob/da5afc593a25d1ccc2e6ee20d3b69cd20a557263/src/full/Agda/TypeChecking/Reduce/Fast.hs#L847-L854

[2018-06-12 18:47] andreasabel commented on #2170
Concerning the original issue, the rejection of:
[code]
We could resurrect the context after checking the lhs, and protect the body by a `DontCare`.  Then this could be accepted, within the caveat of `--irrelevant-projections`.

[2018-06-12 19:04] UlfNorell commented on #2170
It doesn't. I didn't think about irrelevant projections in the implementation.

Most likely. Can you break it?

[2018-06-13 15:02] jespercockx commented on #3095
There's a similar problem for visible variables:
[code]
Splitting on `x` produces the following garbage:
[code]
Agda produces two clauses, one where `x` is `zero` and one where it is `suc x`, and then happily drops these patterns when printing the clauses.

I think maybe we should make it `__IMPOSSIBLE__` to drop any patterns that are not variables or dot patterns.

[2018-06-13 16:33] andreasabel commented on #3127
I implemented the `''` prefix but it does not look good since often identifiers end in `'`.
Another option would be `;`.

[2018-06-13 17:59] andreasabel commented on #3127
I now switched to ';' which looks acceptable and does not conflict with any parts of the term syntax that the printer produces.
I close this issue, feel free to reopen if you wish to continue bikeshedding.

[2018-06-14 02:36] louisswarren opened #3128 "Sigma builtin not added to setup, agdai file missing."
`Agda.Builtin.Sigma` was added in v2.5.4 (commit 707ce60), but wasn't added to `Setup.hs`, meaning the .agdai file is not generated at installation. This prevents Sigma from being imported under normal circumstances, as users invoking agda won't have permission to generate the file.

[2018-06-14 03:57] asr commented on #3128
Before releasing 2.5.4 we added the missing `Agda.Builtin.Word` (see #2923) but we didn't add `Agda.Builtin.Sigma`, argh!.

I could suggest to make a bug-fix release however the issue can be easily fixed from the user/admin side. Opinions?

[2018-06-14 04:06] asr commented on #3128
Or if cubical is ready to see the world, we can release 2.6 including a fix to this issue.

[2018-06-14 05:47] UlfNorell commented on #3128
We are not ready for 2.6.

Can't this be hotfixed on hackage without making a new release? Just uploading a new `2.5.4` with an updated `Setup.hs`?

[2018-06-14 05:56] asr commented on #3128
No, we cannot update `Setup.hs` on Hackage.

[2018-06-14 06:57] andreasabel commented on #3128
Since there is the 2.5.4 release branch, maybe making a release 2.5.4.1 isn't so much work maybe?!

[2018-06-14 07:03] UlfNorell commented on #3128
Should just be updating `Setup.hs` and the version numbers and `cabal upload` no?

[2018-06-14 07:30] andreasabel opened #3129 "Usage of `test/bugs`"
I was going to suggest to remove `test/bugs` from the repo, but then I realized that @UlfNorell recently added new test cases there: https://github.com/agda/agda/commit/5118d4ebdb6a0ce1bc7dbd9b66aa9bfe5ffa08e2
Thus, I suggest to implement one of the two:
- remove `test/bugs`
- include `test/bugs` in the test suite run

The latter option could be implemented as follows:
- accept either failure or s

[2018-06-14 07:42] UlfNorell commented on #3129
It would function exactly as `test/Fail` no? Since we switched to tasty silver I believe the only difference between success and failure is in the golden value.

[2018-06-14 08:25] nad commented on #3128
Has `Agda.Builtin.Sigma` been advertised? Does anyone need to use it? Perhaps we could just pretend that it does not exist.

[2018-06-14 08:33] UlfNorell commented on #3128
I think some people might want to use the standard library:

https://github.com/agda/agda-stdlib/blob/e3978bbe8c103ef759f45a979d47b243708f05ef/src/Data/Product.agda#L21

**[Edit]** Huh, source code rendering doesn't work for other repos :(. (That's the import of `Agda.Builtin.Sigma` in `Data.Product`.)

[2018-06-14 08:36] MatthewDaggitt commented on #3128
So I didn't advertise the change in implementation of `Sigma` in the standard library in the CHANGELOG in the latest release.

I haven't noticed any problems using `Data.Product` with Agda 2.5.4. From the sound of it above, I take it that you'd expect there would be?

[2018-06-14 08:42] UlfNorell commented on #3128
The problem is that `Agda.Builtin.Sigma` isn't compiled (type checked) when installing Agda, so if you install as administrator you might not be allowed to create the interface file as a user, meaning anything using `Data.Product` would fail.

[2018-06-14 08:51] MatthewDaggitt commented on #3128
Hmm, that's strange then. Reasonably large numbers of people have been using the `experimental` branch of the standard library for at least 3 or 4 weeks since the first 2.5.4 release candidate was announced, and I haven't received any complaints so far. Maybe everyone is installing it as a user...

[2018-06-14 09:56] andreasabel opened #3130 "Conflict between dot pattern and postfix projection"
[code]
yields
[code]
Workaround: eta-expand projection:
[code]
Maybe postfix-projection parsing should not allow parentheses.  This also fails:
[code]
We should not generate this error as a result of case splitting.

[2018-06-14 10:44] gallais opened #3131 "Missing test case for the `--no-forcing` option"
I would expect the following definition to be rejected but it is not.

[code]

Do we have a special case declaring that because `S` is forced by
the index then it's OK? Do we silently turn the index into a parameter?

[2018-06-14 11:31] jespercockx commented on #3131
Yes, Agda does a forcing analysis and ignore the sorts of the forced constructor arguments when checking that they fit in the sort of the datatype.

[2018-06-14 11:39] andreasabel commented on #3128
I think this is what is happening...

While we are at it, could not Setup.hs figure out the builtins from reading the directory contents, or would that be unsafe? @UlfNorell ? https://github.com/agda/agda/commit/83b392296daaca96a1c9221cbb6aefdd0d131bb6
https://github.com/agda/agda/blob/b3eb0a0852e8b7493e6ff815b9d9d8edc2f99df6/Setup.hs#L16-L29

[2018-06-14 11:45] UlfNorell commented on #3128
If someone is in a position to inject things into the `datadir`, I'm pretty sure they could also change `Setup.hs` to do arbitrary things...

[2018-06-14 11:52] andreasabel commented on #3128
Ok, then it should be fine to just run `checkPrim` on all `agda` files in `datadir dirs </> "lib" </> "prim" </> "Agda"`.

[2018-06-14 13:28] asr commented on #3128
I'll add  the missing `Agda.Builtin.Sigma` and release 2.5.4.1.

[2018-06-14 13:31] asr opened #3132 "Release Agda 2.5.4.1"
Release Agda 2.5.4.1

[2018-06-15 07:15] andreasabel commented on #1086
Fixed by @jespercockx in https://github.com/agda/agda/commit/242684bca62fabe43e125aefae7526be4b26a135

[2018-06-15 07:15] #1086 closed, assigned to andreasabel, jespercockx

[2018-06-15 08:06] nad commented on #3130
From #1963:

:)

[2018-06-15 08:23] Saizan opened #3133 "Subtyping between Paths and Lines"
[code]

The types of ```foo``` and ```bar``` get eta contracted to the ill-typed ```pathApply A r``` because ```A``` is not a path. This causes the error above when we compare ```A r = A r``` because those are path applications where the head is instead a function.

We can go several ways:
* annotate the ArgInfo in lambdas to tell us which are path ones so eta contract can do a better job
* have s

[2018-06-15 08:35] nad commented on #3132
I'm working on a fix of #3119. I suggest that this fix is included in the release.

[2018-06-15 09:02] nad commented on #3119
As part of the work on #2794 I set up the Emacs mode so that highlighting is aborted when the buffer is modified (using `after-change-functions`). Previously the buffer was only highlighted when the buffer was saved, and then it sufficed to abort highlighting when an unmodified buffer was modified (using `first-change-hook`). However, `agda2-go` sometimes saves the buffer, and then the `before-sav

[2018-06-15 09:21] jespercockx opened #3134 "Internal errors with 'variable'"
[code]
This produces an internal error at `src/full/Agda/TypeChecking/Substitute.hs:72`. You get a different variant when you change the type signature of `divide-nat-correct` to `divide-to-nat-correct : (e : m ∣ n) → _`: internal error at `src/full/Agda/TypeChecking/Monad/MetaVars.hs:98`.

As an aside, I liked the old `generalize` keyword better than the current `variable`; the latter feels too g

[2018-06-15 13:21] asr commented on #3132
Noted.

[2018-06-15 14:49] nad opened #3135 "Uninformative error message for ambiguous parse"
Let's say that we have the following code:
[code]
In this setting the following ambiguous code yields a somewhat informative error message:
[code]
[code]
However, if the following minor variation of the code above is used, then the error message is less informative:
[code]
[code]
I suppose that it would be easy to make the latter error message match the former one.

[2018-06-15 14:52] #3119 closed, assigned to nad

[2018-06-15 14:55] nad commented on #3119
I think it would be good if someone other than me could test that the code works properly before we release. Emacs configurations and workflows can differ quite a bit from person to person.

[2018-06-15 17:39] andreasabel commented on #3129
I suppose so.

[2018-06-15 17:43] andreasabel commented on #3130
Well, there is no ambiguity such that both a postfix projection and a dot pattern would make sense (finally), since we are either dealing with a record or a function type.  However, the disambiguation happens already in the scope checker, where not enough information is available.  Maybe the problem could be fixed in the splitter, to reinterpret a postfix projection pattern as a dot pattern in cas

[2018-06-15 18:43] asr commented on #3134
Please note that we are using the `not-in-changelog` label for bugs in new features (e.g. `generalize`) which have not been released.

[2018-06-16 10:36] andreasabel commented on #3127
The semicolon prefix confuses my reading a lot.  Too noisy.  I am a bit at a loss now.
Anyone else tried it yet?

[2018-06-16 13:45] andreasabel commented on #3127
We could reserve an obscure Unicode character to not be legal in a name (test in scope checker!) and use this character as prefix maybe.

[2018-06-17 23:29] sattlerc opened #3136 "Spurious module parameters printed in extended lambda in termination error"
Tested on master and 2.5.4.

[code]

Running this results in the following message:

This refers to the following Haskell function in the Agda source:
[code]

Curiously, the internal error vanishes if the option `--postfix-projections` is removed, resulting "merely" in a termination checking error.

[2018-06-18 08:26] andreasabel commented on #3136
A way to debug this is to replace unsafe `argFromElim` by a safe version that returns a `Maybe (Arg a)`.

[2018-06-18 10:37] vlopezj opened #3137 "Preserve Markdown as-is when outputting HTML"
@ice1000 said on issue https://github.com/agda/agda/pull/2357#issuecomment-397890105:

I think this would be a useful feature. I don't know if someone else will be interested in implementing it; but you are welcome to give it a try yourself.

To avoid changing existing behaviour, I would suggest an extra flag `--preserve-comments`, which would tell Agda to leave all non-Agda text as-is when output

[2018-06-18 14:15] andreasabel commented on #3130
There is a related problem that a pattern variable can shadow a projection even if it comes later:
[code]
This reports
[code]
What is going on here is that the scope checker first skips all dotted things in the lhs, binds `y` to a pattern variable, and then considers `.y`.  Because the projection `y` is now shadowed, this is interpreted as a dot pattern instead of a projection.
What the scope chec

[2018-06-18 19:20] andreasabel commented on #3136
It seems this is a bug in the printer.  Without `--postfix-projections`, the error is the following:
[code]
This looks already wrong to me:
- [x] Where does the  `.extendedlambda1` come from here, or why is it not dropped by the printer?
- [ ] The module parameter `A` should be dropped.

With the option, the internal error is thrown in `applyE` for `instance Apply Clause`.  I seem to remember ther

[2018-06-18 20:05] andreasabel commented on #3136
I fixed the spurious `.extendedlambda1` printing.
I leave the problem with the parameter dropping to the parameter refinement experts @UlfNorell .
https://github.com/agda/agda/blob/84502aa6e996f1157f2ad811267757f47750b5f7/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L662
https://github.com/agda/agda/blob/84502aa6e996f1157f2ad811267757f47750b5f7/src/full/Agda/TypeChecking/Substitute.hs#L3

[2018-06-18 20:17] andreasabel opened #3138 "Result splitter introduces pattern variable that conflicts with constructor"
[code]
produces
[code]
This might be confusing in situations where a library is imported that defines a constructor the user is not aware of, and (s)he shadows it by accident.

I'd expect Agda to generate pattern variable `true'` instead.
It seems that in checking for taken names when picking name variants, we should not only look into the context but also in the scope.

[2018-06-19 11:35] andreasabel commented on #3130
What is remains is to also print a dot pattern with parentheses if its content is a mere projection name, i.e., as `.(p)`.

[2018-06-19 18:14] #3130 closed, assigned to andreasabel

[2018-06-19 21:19] andreasabel commented on #1342
@Saizan : Can you extend the substitution printing to the parameter dropping case?  I.e. only silently drop parameter arguments to a defined symbol if they are identical to the original parameters (i.e. the correct de Bruijn index).  Otherwise, they are printed in substitution notation.
Then we could allow `with` on variables again and close this issue.

[2018-06-20 05:56] UlfNorell commented on #1342
This is not the correct criterion though. They should be printed if they differ from the parameters that get filled in, and these may have been refined. Those are computed by `freeVarsToApply`.

[2018-06-20 07:09] awson opened #3139 "Internal error in parser"
Fresh (20 June, 2018) master Agda spits

Location of the error: dist/build/Agda/Syntax/Parser/Parser.hs:7480

on benchmark/nofib/N-queens.agda.

[2018-06-20 07:39] UlfNorell commented on #3139
Same problem as in #3090.

[2018-06-20 07:40] #3139 closed, assigned to UlfNorell

[2018-06-20 07:49] Saizan commented on #1342
```freeVarsToApply``` will give me the correct arguments to compare with (I guess?), but
currently I drop the substitution only if both sides are variables, in fact we get the following behavior for metas

[code]
Which actually seems reasonable to me here, but maybe we disagree here?

If we put the refinement outside the sigma we get no substitution simply because the meta won't have ```n``` as a

[2018-06-20 08:03] UlfNorell commented on #1342
Here's a simple one
[code]
The argument for printing the goal as `Goal` without the substitution is that this is exactly the substitution that gets filled in when you just write `Goal` at that point.

On the other hand, if you do
[code]
you need to print the substitution since `Goal` by itself would get filled in with `Goal (n = n)`. This is the reason for with-on-module-parameter being disabled a

[2018-06-20 08:05] UlfNorell commented on #3104
I'm starting the process. Consider `stable-2.5` frozen.

[2018-06-20 09:04] jespercockx opened #3140 "Cannot give but copy-paste is accepted (with experimental irrelevance)"
[code]
Attempting to give the contents of the hole results in an error:
[code]
However, manually copy-pasting the contents of the hole succeeds.

[2018-06-20 09:22] UlfNorell commented on #3104
Completed. Happy hacking on master! 🎈

[2018-06-20 09:22] #3104 closed, assigned to UlfNorell

[2018-06-20 10:37] UlfNorell commented on #3136
This isn't a parameter refinement issue. The problem is that the termination checker produces ill-formed "problematic calls":

https://github.com/agda/agda/blob/18743484d0a0f01e068287fe50a465d8e0044699/src/full/Agda/Termination/TermCheck.hs#L839-L842

cc #2376

[2018-06-20 12:31] Saizan commented on #1342
Is ```checkSyntacticEquality``` a good choice to compare these arguments? using conversion would require to infer the types.

[2018-06-21 12:00] Saizan commented on #1342
@andreasabel I have implemented something that seems reasonable to me, but it seems to have issues when printing termination problems, you can try running ```make fail``` from this branch:

https://github.com/Saizan/agda/commit/501a7fa0444d13d67abeb40313157d5f5c9f945a

[2018-06-21 12:19] UlfNorell commented on #1342
Most likely the same problem as #3136.

[2018-06-21 22:10] jespercockx opened #3141 "Cannot generalize over irrelevant level"
[code]
Error message:
[code]

[2018-06-21 22:17] jespercockx opened #3142 "Copattern split in extended lambda with infix projection is broken"
[code]
When you split on the result, Agda produces the following nonsense:
[code]

[2018-06-21 22:52] jespercockx opened #3143 "Universe conflict when applying projection"
This is a curious one: in the hole you have a variable `T` of record type `NaturalT (π₁ .X₁) (π₁ .Y₁)`, but trying to apply the projection `.component` to it results in a type error. I haven't managed to simplify it any further so far.
[code]
Error message when asking for type of `T .component` with `C-c C-d`:
[code]

[2018-06-21 23:07] jespercockx commented on #3140
Probably the same problem:
[code]
Trying to give the contents of the hole fails, but copy-pasting it succeeds.

[2018-06-23 17:49] alhassy opened #3145 "Possible Problem with Data.Colist Compilation and the Compiler"
When I attempt to compile and execute a large program, I encounter

Compilation error:

    /home/musa/trunk/MAlonzo/Code/Data/Colist.hs:295:11:
    Couldn't match type ‘MAlonzo.RTE.Inf (T48 xa xA)’ with ‘[xA]’
    Expected type: xA
                   -> MAlonzo.RTE.Infinity xa (T48 xa xA) -> T48 xa xA
      Actual type: xA -> [xA] -> [xA]
    Relevant bindings include
      check60 :: xA -> MAlon

[2018-06-23 19:00] gallais commented on #3145
I can't reproduce the issue when running `agda --compile --no-main Data/Colist.agda`
with `2.5.4` and the latest `agda-stdlib` (on the `master` branch).

Your error seems to be related to the change in #2909 but the stdlib was made
compatible with https://github.com/agda/agda-stdlib/commit/05c75c6fa0c6be74103e46186e183b7938272696

[2018-06-27 06:48] UlfNorell commented on #3141
I don't understand `experimental-irrelevance` enough to hazard a fix. Generalizable variables are treated the same as definitions; changing `variable` to `postulate` gives the same error.

Here's the check that fails (`rel = NonStrict`, `drel = Irrelevant`):

https://github.com/agda/agda/blob/323f58f9b8dad239142ed1dfa0c60338ea2cb157/src/full/Agda/TypeChecking/Rules/Application.hs#L337-L351

Maybe

[2018-06-27 07:42] UlfNorell commented on #3134
This is this TODO:

https://github.com/agda/agda/blob/323f58f9b8dad239142ed1dfa0c60338ea2cb157/src/full/Agda/TypeChecking/Rules/Term.hs#L1266-L1267

[2018-06-27 08:57] jespercockx commented on #3141
The intention is that it should be possible to use irrelevant values (both variables and top-level definitions) in shape-irrelevant positions in the type, but this is currently only the case for variables. To do this, we should take into account not just the `envRelevance` but also the `envWorkingOnTypes` in `checkRelevance'`. I wonder whether there are other places where we look at `envRelevance`

[2018-06-27 16:41] SimonBoulier opened #3146 "Should inference fail here?"
When compiling the following, the last line is yellow.
If I fill the underscores (by `r n (f tt)`) it compiles correctly.
Should Agda be able to infer those arguments?
The type of `r _ _` is `R n (f tt)` so it seems simple...

[code]

(tested with Agda master 20a08f0)

[2018-06-27 17:30] SimonBoulier commented on #3146
A still simpler example:
[code]

[2018-06-28 06:28] UlfNorell commented on #3146
There's nothing forcing a solution of those arguments. In the first case a possible solution is
[code]
This doesn't pass termination checking, but the constraint solver does not rule out solutions based on termination. The same is true in the second example.

[2018-06-28 06:28] #3146 closed, assigned to nobody

[2018-06-28 08:21] SimonBoulier commented on #3146
Ok thank you, it far less obvious in my real use case. Maybe I simplified too much the example, I'll have a deeper look.

[2018-06-28 18:39] bafain opened #3147 "Non-linear as-patterns"
Consider the following function definition, which is accepted by `Agda version 2.6.0-20a08f0` (and `Agda version 2.5.4` but not `Agda version 2.5.3`).

[code]

Does it define the identity function or the predecessor function?

[code]

As expected, the definition gets rejected after inserting a dot before the second occurrence of `x`.

[code]
[code]

Is this related to what @jespercockx writes [on

[2018-06-29 12:31] jespercockx commented on #1764
@gallais could you try if the new `{-# NO_UNIVERSE_CHECK #-}` pragma helps for your use-case? If yes, I think we can close this issue.

[2018-06-29 15:49] gallais commented on #1764
It's perfect! Thanks @jespercockx!

[2018-06-29 15:56] gallais commented on #3145
@alhassy I've pushed a patch on agda-stdlib's master branch. Can you pull it
and check it fixes your problem?

[2018-06-30 00:08] nad commented on #3138
Perhaps this issue can be merged with #2522.

[2018-06-30 00:11] nad commented on #3130
I'm not sure it's a good idea to let `.p` and `.(p)` mean different things.

[2018-06-30 10:42] andreasabel commented on #3130
The syntax of postfix projection patterns has become stricter, we no longer accept `.(p)`, `.((p))` or the like.  It has to be `.` followed by the projection identifier.  This part is uncontroversial, is it?
The other part, that `.p` could denote a dot pattern containing just a projection name is a fringe case; the present issue did not come from a real use case, just arose from discussions on the

[2018-06-30 10:48] andreasabel commented on #3147
It seems that as-patterns were forgotten about when the linearity check for variables on the lhs was dropped in favor of a more subtle mechanism.

UPDATE: the linearity check succeeds wrongly since the as-variable and the pattern-variable get different name ids by the scope checker and thus are regarded different by the new linearity check.
[code]

[2018-06-30 12:48] #3147 closed, assigned to andreasabel

[2018-06-30 12:50] andreasabel commented on #3147
Fixed by regarding as-bound variables just as pattern variables in the scope checker.

[2018-06-30 14:02] nad commented on #3130
Yes.

[2018-07-02 13:01] sstucki opened #3148 "Regression: unification error in function application"
This bug affects Agda >= 2.5.4.

I encountered this issue when trying to upgrade a project from Agda 2.5.3 to 2.5.4. The code type checks under 2.5.3 but in 2.5.4 I get a strange type-inference/unification error. I spent 2h trying to minimize the program but did not succeed, so I'm reporting it here as found in the original project, which is available [on GitHub](https://github.com/sstucki/f-omega

[2018-07-03 15:45] XachaB commented on #2244
I think I am facing a similar issue. I get an error for a  table with combining unicode characters, such as õ  and ã:

    Running Sphinx v1.7.5

    [...]

    WARNING: Malformed table.
    +-----+
    | õ   |
    +=====+
    | ã   |
    +-----+

But not for a table without combining characters, such as:

    +-----+
    | o   |
    +=====+
    | a   |
    +-----+

I can't use another style o

[2018-07-03 16:23] asr commented on #2244
@XachaB, are you having the issue when building the Agda user guide? Please note this isn't the bug-tracker for Sphinx.

[2018-07-03 16:24] XachaB commented on #2244
Oops, I was lost, indeed ! I apologize for the inconvenience. Should I delete the message ?

[2018-07-03 18:44] nad commented on #3119
I don't know if anyone other than me has tested the code, but at least it seems to work fine for me.

[2018-07-05 05:11] asr opened #3149 "Unnecessary --type-in-type option on test case"
@andreasabel wrote three years ago:

https://github.com/agda/agda/blob/0ad14b893cb463ddeb2e9959aba899bb67867a6b/test/Succeed/SizeSucMonotone.agda#L3-L5

but currently the `--type-in-type` option is not needed. Could someone update the test case, please.

[2018-07-05 05:39] asr opened #3150 "Option --type-in-type and NO_UNIVERSE_CHECK pragma"
This code type-checks

[code]

but replacing the `--type-in-type` option by the `NO_UNIVERSE_CHECK` pragma generates the error

[code]

Based on [this](https://github.com/agda/agda/blob/0ad14b893cb463ddeb2e9959aba899bb67867a6b/test/Succeed/CompileTimeInlining.agda) test case.

@jespercockx, for helping with your procrastination I assigned you this issue :-).

[2018-07-05 07:16] UlfNorell commented on #3150
`NO_UNIVERSE_CHECK` only disables the size check on data and record types. It doesn't (and shouldn't) give you `Set : Set`.

[2018-07-05 07:18] UlfNorell commented on #3150
In this example you can put `El` in `Set₁`:

[code]

[2018-07-05 08:50] jespercockx commented on #3149
The size universe (`SizeUniv`) is disabled at the moment, or rather defined as `SizeUniv = Set0`. I think the plan is to re-enable it before the next release (see #2820 and #1428). After it is re-enabled, we should see if the `--type-in-type` flag here is still necessary (hopefully not).

[2018-07-05 12:46] asr commented on #3150
I see. Thanks!

[2018-07-05 12:46] #3150 closed, assigned to jespercockx

[2018-07-05 12:53] asr commented on #3148
I don't know the reason of the regression, but I suggest to create a branch with the changes required so far (e.g. to add the signatures `ℕ → Set`) for reproducing the issue.

[2018-07-05 12:59] gallais opened #3151 "Add support for do-notations in agda-mode's give"
It's currently impossible to use `give` (`C-c C-space`) on the following hole:

[code]

Note that for some reason `give` on `{!do ?!}` did work.

[2018-07-05 13:02] gallais opened #3152 "`give` in a do-block inserts spurious parentheses"
Using `give` in the following hole gets us `(f a)` instead of `f a`.

[code]

[2018-07-05 13:02] asr commented on #3149
Note that #1482 is about release Agda 2.4.2.3.

[2018-07-05 13:21] jespercockx commented on #3149
Oops, I meant #1428

[2018-07-05 13:40] gallais commented on #3151
I think I understand what happens: the expression only makes sense because it is in a
context with a `do`. And it is indeed the case that if we were to try to give the *whole* do
block in one go then it would be accepted.

So the parser run on the expression we're trying to give should be started in a different
state if there is an enclosing do.

[2018-07-05 13:58] asr commented on #3125
I could reproduce the issue with 2.5.4 and master (2.6.0-0ad14b8).

[2018-07-05 14:16] sstucki commented on #3148
@asr, here you go: https://github.com/sstucki/f-omega-int-agda/tree/agda-issue-3148

As per your suggestion, that branch just contains the changes necessary to make it compatible with stdlib 0.16.

And here's one where I applied the workaround described above (insert dummy `let`-bindings): https://github.com/sstucki/f-omega-int-agda/tree/wip/upgrade-2.5.4

[2018-07-05 14:29] asr commented on #3148
Note that using Agda 2.5.4 and the `agda-issue-3148` branch I got the error:

[code]

[2018-07-05 16:01] sstucki commented on #3148
@asr: whoops, sorry about that.

I had only tested the branch using Agda 2.6.0, but apparently Agda 2.5.4 requires some extra annotations. I updated the two branches, so they should work with both Agda 2.5.4 and 2.6.0 (and stdlib 0.16) now.

(Note that your local versions of these branches will have diverged as I rebased and force-pushed the changes.)

[2018-07-05 16:20] asr commented on #3148
Thanks! As I said, I don't know the reason of the regression, but I *easily* could reproduce the issue with both Agda 2.5.4 and Agda 2.6.0-0ad14b8 using the `agda-issue-3148` branch:

[code]

[2018-07-05 16:35] asr commented on #3148
I'm not aware of this situation. To avoid a possible future regression or to improve the documentation, could you create a new issue reporting this behaviour, please.

[2018-07-06 01:31] asr commented on #3037
For the record, I just updated the std-lib commit in Agda to use the current master of the standard library. I have no problem updating the test suite because the CHANGELOG of the standard library is *very* complete. Great job @MatthewDaggitt and @gallais!

[2018-07-06 07:53] sstucki commented on #3148
Sure, I can do that. Do you want me to find a minimal example or just create two more branches of my project on Github and report them in a new issue?

To be clear: this is just about 2.6.0 being able to infer a few more type signatures automaticall than 2.5.4, so it's not strictly speaking a bug.

[2018-07-06 08:32] Saizan commented on #1946
The original problem was a (guarded) coinductive defined with "data", we can also have a (guarded) inductive defined with a coinductive-record.

[code]

[2018-07-06 11:25] asr commented on #3148
I MWE would be great.

[2018-07-06 12:17] sstucki opened #3153 "Type checker fails to infer missing signature of module parameter."
The following example type checks using Agda 2.6.0 but not using Agda 2.5.4:

[code]

In 2.5.4, the type checker fails to infer the type/level of the parameter`T` of module `M`. In 2.6.0 it manages to infer the type correctly.

(Reporting this [as requested by @asr](https://github.com/agda/agda/issues/3148#issuecomment-402781412) when discussing #3148.)

[2018-07-06 12:20] sstucki commented on #3148
Reported in #3153.

[2018-07-08 13:49] WolframKahl commented on #3130
I'm pretty sure it's not a good idea to let `.p` and `.(p)` mean different things.

[2018-07-08 19:41] andreasabel commented on #3130
It should not come as a surprise that `x .(fst)` is not a valid projection application, confer JAVA:
[code]

[2018-07-08 21:17] UlfNorell commented on #3130
Indeed. Allowing `x .(fst)` would suggest you could also write `x .(const fst zero)`.

[2018-07-09 11:47] jespercockx opened #3154 "'make install' adds wrong agda-mode binary to .emacs"
With the current master branch, 'make install' installs the binaries 'agda-2.6.0' and 'agda-mode-2.6.0' in .cabal/bin, but in the code added to the .emacs file it refers to 'agda-mode' instead of 'agda-mode-2.6.0', which causes emacs to fail loading the agda mode or use the wrong version.

[2018-07-09 12:28] WolframKahl commented on #3154
Perhaps installation could test whether the `bindir`already contains executables named `agda` and `agda-mode`, and if not, produce links or copies of the `*-2.6.0` executables.

(My habit is to install different versions of Agda into different prefixes; this somewhat biases my proposal...)

[2018-07-09 13:17] jespercockx commented on #3154
I don't really understand what you're proposing, shouldn't 'make install' just install agda with the configured prefix ('-2.6.0' in this case) and then configure emacs to use that version? If you want something else there is 'make install-bin' and then you can do the emacs setup yourself.

[2018-07-10 10:23] #2936 closed, assigned to gallais

[2018-07-10 16:09] andreasabel opened #3155 "Adding rewrite rules for aliases"
[code]
Maybe we should allow this.

[2018-07-10 16:11] Lapin0t commented on #3117
Nice feature! Some comments/feature suggestions after my fiddling with it (not sure if it deserves an issue of it's own):
* variables get exported which may be intended but it's not very intuitive: you get generalization over random identifiers just by `open`ing some module (and thus possible name clashes); for me it should behave as an implementation details just to make the code cleaner and addi

[2018-07-10 16:15] andreasabel commented on #3152
@UlfNorell : I looked at this but failed to see why Agda behaves like this.  I couldn't reproduce it with manual do-desugaring.

[2018-07-11 09:01] gallais opened #3156 "Syntax highlighting of record fields in a parametrised module"
I've noticed that if I have a parametrised module with a record type then the record
fields are only properly highlighted if it comes *last* in the telescope of parameters.

[code]

[2018-07-12 12:32] nad commented on #3154
I commented on the commit (18743484d0a0f01e068287fe50a465d8e0044699) that introduced this problem:

[2018-07-12 12:36] Lapin0t opened #3157 "Generalization breaks on unsolvable kind"
[code]
Wild guess since i'm not familiar with the code but it might be related to this todo: [Generalize.hs:89](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Generalize.hs#L89).

[2018-07-12 12:46] nad commented on #3154
Ulf replied:

By default the Emacs mode uses `agda`. You can switch to another version, but I find it annoying to have to do that every time I want to use the latest development version (which I often do). Now, if you download the master branch and run `make install`, then chances are that the Emacs mode does not work, or that it uses some other version of Agda.

I suggest that we install `agda`,

[2018-07-12 12:59] nad commented on #3132
I have used 2.5.4 for a while now, to ensure that my code works with a released version of Agda, and I find it rather annoying, because my fix to #3119 is not included in 2.5.4.

In order to avoid people picking up 2.5.4 I suggest that we release 2.5.4.1 rather soon.

[2018-07-12 13:10] gallais commented on #3154
What's wrong with adding a symbolic link from `agda` to `agda-VERSION`?

[2018-07-13 15:45] andreasabel commented on #3156
Doesn't come as a suprise to me.  In the second case, you can eta-contract the function `a.set` to a projection, but not in the first case.

Possibly related: #1581 and #3010.

[2018-07-17 20:17] Lapin0t commented on #3117
By the way, some feature which might be interesting to have is some kind of pattern synonyms for generalized variables, eg you declare `i0` and `incr` as level variables and then declare pattern `i1 := i0 ⊔ incr `. This would very much reduce the pain of doing level generalization on structures that have lots of set arguments for which certain level inequalities must hold. Of course another way to

[2018-07-18 04:28] asr commented on #3132
I just fixed #3128. I'll prepare the release tomorrow.

[2018-07-18 13:06] asr opened #3159 "Common tests: Missing standard-library"
After removing the `.agda` directory from my home directory, I'm getting the following error on the `release-2.5.4` branch (but it works on `master`):

[code]

¿Can someone reproduce this problem?

[2018-07-18 14:50] #3159 closed, assigned to asr

[2018-07-18 20:49] asr commented on #3132
I have tested the installation of [Agda 2.5.4.1](http://www1.eafit.edu.co/asr/tmp-asr/Agda-2.5.4.1.tar.gz) on Ubuntu.

Could someone test the installation on macOS and Windows using for example the following instruction:

[code]

Since Agda 2.5.4 wasn't tested on Windows with GHC 8.4.3, I would appreciate this test.

[2018-07-18 21:15] jespercockx commented on #3132
I'm currently running the test on Windows with GHC 8.4.3. Stay tuned...

[2018-07-18 21:37] jespercockx commented on #3132
Installation successful. I did have to install `cpphs` by hand first (via `cabal install cpphs`) but I guess this is a known problem.

[2018-07-18 21:40] asr commented on #3132
Great!

Yes, it is.

Anyone using macOS?

[2018-07-19 09:11] UlfNorell commented on #3132
No problems on MacOS (ghc-8.4.3).

[2018-07-19 18:48] asr commented on #3132
I have uploaded to Hackage Agda [2.5.4.1](https://hackage.haskell.org/package/Agda-2.5.4.1).

[2018-07-19 19:14] asr commented on #3132
Done!

[2018-07-19 19:14] #3132 closed, assigned to asr

[2018-07-20 08:04] andreasabel commented on #3132
Thanks, Andres!

[2018-07-20 14:59] asr opened #3160 "Support GHC 8.6.1"
Last edited: 2018-10-01

GHC 8.6.1 was [released](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-September/026803.html). I created this issue for collecting/reporting the required changes/issues.

Info: The [MonadFail proposal](https://prime.haskell.org/wiki/Libraries/Proposals/MonadFail).

Known issues with dependencies:

* cpphs (https://github.com/malcolmwallace/cpphs/issues/18)

[2018-07-21 12:16] andreasabel opened #3161 "Case splitter produces end-of-comment"
[code]
gives a parse error after producing
[code]
Apparently, someone thought of this case and made Agda print a space before the minus, but unfortunately, not after the minus.

[2018-07-21 13:23] gallais commented on #3161
I'm pretty sure the bug was unearthed by splitting an implicit integer `k` and getting one branch
with `{-[1+ k ]}` which caused a parse error. However I can't find the corresponding bug report. :/

Edit: Ah! #269

And the fix is here: https://github.com/agda/agda/commit/8c85bb65b6e46e33f0fc8be517afaae230031b4b

[2018-07-21 18:57] #3161 closed, assigned to andreasabel

[2018-07-22 22:12] andreasabel commented on #3136
Ah sorry about that.
Indeed, the internal error goes away if I only drop arguments at the end (which is anyway the correct thing to do to remove arguments appended by eta-expansion).

Now the error is:
[code]
The second extended lambda still has the spurious module parameter.

[2018-07-23 15:04] anuyts commented on #2513
In order to come up with a good syntax for a toy type checker for multimode dependent type theory, I've been writing some example code in different syntaxes. I found the pre-`@` and pre-`|` (Ulf's) proposals significanlty more readable than the attribute proposal. I think the reason is that the attribute proposal does not give you an obvious visual boundary between the annotations and the annotate

[2018-07-23 18:10] andreasabel commented on #2513
Some more visual aid would come from coloring.
The problem with `(p | A) -> B` is that the domain can be confused for a with-application.  This cannot be parsed.

[2018-07-24 14:48] anuyts commented on #2513
That does not refute pre-@ proposal `(p @ A) -> B`.
But indeed, when syntax coloring is available, they are probably equally readable.

[2018-07-25 13:22] jespercockx opened #3162 "Highlighting of generalized variables"
Currently, generalized variables are highlighted the same as defined symbols. I think it would be nice if there was some visual cue that the variable has been generalized, for example some dark-red color.

[2018-07-25 13:25] jespercockx opened #3163 "Importing and exporting generalizable names"
Currently, generalizable names are exported by default, and there is no way to *not* export them (using private gives a "using private here has no effect"-warning). I think variables should either be private by default, or it should be possible to make them private.

[2018-07-25 13:25] jespercockx commented on #3162
Sorry, this is a duplicate of #3112

[2018-07-25 13:25] #3162 closed, assigned to nobody

[2018-07-26 16:10] andreasabel opened #3164 "Generalization does not work in parameterized modules"
[code]

[2018-07-26 16:19] andreasabel opened #3165 "Generalization should also generalize name variants"
[code]
should also generalize name variants like `Γ₁` `Γ'` etc.

[2018-07-26 16:22] andreasabel opened #3166 "Generalized variables not hidden for case and result splitting"
[code]
Further in the situation
[code]
splitting on `x` gives:
[code]

[2018-07-28 08:18] andreasabel opened #3167 "Regression due to Prop: X <= Set does not force X = Set"
Definitions like `Wrap` used to be fine.  But even with `--no-prop` I get yellow now:
[code]

[2018-07-28 16:07] WolframKahl commented on #3167
I wouldn't even have thought that that definition of `Wrap` would be legal.

I wouldn't be opposed to remove it from the language (if it is indeed currently specified as legal) and require the parameter type declaration.

[2018-07-29 09:49] identicalsnowflake commented on #3167
@WolframKahl

Really? If the meta is constrained to where Agda can see there's only one valid solution, it should choose that solution. If you abandon that principle, how do you decide which metas Agda should solve and which ones it should force you to annotate even though it knows the solution? The tricky thing in OP is just, as I understand, that whether there is a unique solution in the example

[2018-07-29 10:15] jespercockx commented on #3167
Well, I removed this heuristic in https://github.com/agda/agda/commit/d04e62b03c4701af3aec408c3ece74e3ca5e6471#diff-0b7812ea54e58cd0d7d4d5f8209f5557 so if you want to add it back that should be easy enough.

That being said, I think we should keep it as it is now. The old heuristic assumed that `Set0` was the *only* bottom sort, which is invalidated by `Prop`, but would *also* prevent the addition

[2018-07-29 16:32] WolframKahl commented on #3167
@identicalsnowflake , I'd consider my point as independent of the unique valid solution principle you raise, since you always can write `_` in such places; here it would be:
[code]
(Which however currently does not have a unique solution for the meta induced by the underscore.)

[2018-07-31 05:51] oisdk opened #3168 "Irrelevant Variables not being used for case coverage?"
When I translated some code over from Haskell recently, I marked all the type parameters as irrelevant in the Agda version, as I assumed that they *had* to be irrelevant (because they'd been simple type parameters in Haskell).

When I do, though, Agda seems to not realise that some cases are impossible. Take, for instance, natural numbers and their singletons:

[code]

I get a missing case error o

[2018-07-31 06:29] UlfNorell commented on #3168
By marking the index as irrelevance *in the type* of `Nat` you are saying that `Nat m = Nat n` for any `n` and `m`, which is not what you intended. Indeed:

[code]

[2018-07-31 06:29] #3168 closed, assigned to nobody

[2018-07-31 13:09] gallais opened #3169 "Doc for rewriting"
It seems to be a bit of a shame that we have some [nice doc about rewrite](https://agda.readthedocs.io/en/latest/language/with-abstraction.html#rewrite) but users
are [presented with a stub](https://agda.readthedocs.io/en/latest/language/rewriting.html) if they look at the wrong spot.

Can we put in place at least a link if not a redirection?

(I would have looked into it but the version of sphinx

[2018-07-31 13:45] nad commented on #3154
It could be confusing to early adopters who are used to cloning the repo and running `make install`. If we decide to change the meaning of `make install`, then this should at least be documented in the changelog. Perhaps the command itself should also print a warning:
[code]
However, I don't see why we should complicate things for early adopters.

[2018-07-31 14:00] nad commented on #2513
Syntax highlighting is perhaps not always available (consider papers printed on black-and-white printers), and might not be suitable for people with certain kinds of impaired eyesight.

[2018-07-31 14:05] nad commented on #3165
How do you define "name variants"? Is `map` a variant of `m`? I think some people want to use the same scoping rules for generalisable names as for regular definitions. In that case, should it be possible to import a name but hide a variant of it?

Without further arguments I am negative towards this change.

[2018-07-31 14:07] nad commented on #3167
Is the change documented in the changelog?

[2018-07-31 14:11] nad commented on #3169
Perhaps the page pointed to by the first link is supposed to discuss the feature enabled by `--rewriting`, not the `rewrite` keyword. (I did not pick those names.)

[2018-07-31 20:29] asr commented on #3169
old to be able to make the docs...)

To locally install Sphinx and sphinx-rtd-theme (from https://github.com/agda/agda/blob/master/HACKING):

       $ pip install --user -r doc/user-manual/requirements.txt

      Note that the `--user` option puts the Sphinx binaries in
      `$HOME/.local/bin`.

[2018-07-31 21:31] nad commented on #2474
Now Agda generates code like `\AgdaUnsolvedMeta{\AgdaPostulate{F}}` instead of code like `\AgdaPostulate{\AgdaUnsolvedMeta{F}}`. I implemented this change because the `\AgdaFormat` command is (by default) applied to the argument of (for instance) `\AgdaPostulate`, not to the argument of `\AgdaUnsolvedMeta`.

[2018-07-31 21:31] gallais commented on #3169
Now that you say it, it seems evident!

[2018-07-31 21:36] gallais commented on #3154
Good points. I suppose we could have `make install` do what it used to do and e.g.
`make install-with-suffix` offer the new behaviour.

[2018-07-31 21:41] nad opened #3170 "UnicodeDeclare fails with pdflatex from TeX Live 2018"
The `UnicodeDeclare` test case is not built correctly by pdflatex when TeX Live 2018 is used:
[code]

[2018-08-01 09:25] UlfNorell commented on #3169
Still, having a *"this is the stub for `--rewriting`, look here for documentation on the `rewrite` keyword"* wouldn't be a terrible idea.

[2018-08-02 10:27] banacorn opened #3171 "Bypassing "make install-bin test""
Somehow I can't get `make install-bin test` to work due to some dependency installation problem, which is exactly what **stack** is aiming to solve.

So far I'm lucky enough to build the project and develop Agda in GHCi using stack.
However, I'm out of luck when I'm testing the project with `stack test --stack-yaml=stack-8.4.3.yaml` as this error message came out:

[code]

Is it okay if I just set

[2018-08-03 08:15] banacorn commented on #3171
Manually setting `AGDA_BIN` and `AGDA_TESTS_BIN` works

[code]

[2018-08-03 08:15] #3171 closed, assigned to nobody

[2018-08-04 14:44] ice1000 opened #3172 "Could not parse with pattern"
Simple, minimum code to reproduce the error:

[code]

The code above uses these declarations:

[code]

If I change `(yes y)` to `y`, the parser works. But I need to pattern match on `x ≟ '%'`, how can I do that?

[2018-08-04 14:50] ice1000 commented on #3172
And of course use `C-c C-c` to do a case split on `y` causes a parse error:

[code]

[2018-08-04 15:01] gallais commented on #3172
You need to `open import Relation.Nullary` so that `yes` is in scope. Otherwise Agda
does not know about `yes` and thinks you are trying to declare a pattern of the form
`(function argument)` which is illegal.

[2018-08-04 15:03] ice1000 commented on #3172
Ok thanks

[2018-08-04 15:03] #3172 closed, assigned to nobody

[2018-08-04 15:47] ice1000 commented on #3172
@gallais And BTW why Agda complains about the termination of this function?

[code]

![image](https://user-images.githubusercontent.com/16398479/43678170-bc5a5292-9840-11e8-8b6b-730f1bc2b788.png)

[2018-08-04 15:54] ice1000 commented on #3172
While the normal form checks:

[code]

[2018-08-04 15:56] ice1000 opened #3173 "Difference between Decidable and Equality"
With this code (which uses some declarations listed in #3172 ):

[code]

Agda complains about the termination of the function:

![image](https://user-images.githubusercontent.com/16398479/43678170-bc5a5292-9840-11e8-8b6b-730f1bc2b788.png)

While the one using Equality checks:

[code]

[2018-08-04 15:57] ice1000 commented on #3172
Moved discussion to #3173

[2018-08-04 16:21] gallais commented on #3173
The problem is not the difference between using a pattern vs. a decision procedure for equality
but the `with xs` which adds one level of indirection between `xs` and the recursive call. This
prevents Agda from seeing that the call is legal.

A solution would be to drop `with xs` entirely (not tested):

[code]

[2018-08-04 16:26] gallais commented on #3173
Note that issues are probably not the best place to discuss these type of things:
they are used to track bugs and them getting fixed.

For questions, the mailing list (https://lists.chalmers.se/mailman/listinfo/agda) and stackoverflow are probably more appropriate

[2018-08-04 16:51] ice1000 commented on #3173
I know, I thought it's a bug. Now it's clear, thanks for your explanation.

Is it expected that there's a difference between with `with pattern` and without `with pattern`? I think this sounds strange.

[2018-08-05 08:45] andreasabel commented on #3173
`with` creates an auxiliary function, and all kinds of mangling happens.
In your case there is no reason to do `with xs`, since you can use ordinary pattern matching.

[2018-08-05 08:45] #3173 closed, assigned to nobody

[2018-08-05 09:02] andreasabel commented on #3167
I think backward-compatibility should not be broken needlessly.  There were already 2 dozen cases in the testsuite that used this feature, shouldn't this have raised some alarms that user code there in the wild could be affected by this regression?!

I think that if the user works in a type theory where `Set` is the only bottom sort, then `X <= Set` should solve `X` to the bottom sort.

Also, what

[2018-08-06 04:44] gallais commented on #3173
Let me throw in [the really good docs about with-abstraction](https://agda.readthedocs.io/en/latest/language/with-abstraction.html) which even include an
explanation of how they are elaborated away!

[2018-08-06 21:39] ice1000 commented on #3173
Thanks @andreasabel @gallais

[2018-08-10 11:47] andreasabel opened #3175 "Instance resolution fails with defined method"
[code]
`concat` is yellow.
[code]

[2018-08-10 11:55] andreasabel commented on #3175
Maybe it is not related to methods like `concat`, rather to the lack of a `FunctionalDependencies` mechanism!?  In any case, a definition of `concat` outside of the record does not work either:
[code]
yields error
[code]

It works with `IsSeq : (Set -> Set) -> Set1` where a functional dependency is not needed.

[2018-08-10 14:06] vlopezj commented on #2791
@UlfNorell This seems to be fixed now:

![deepinscreenshot_select-area_20180810160410](https://user-images.githubusercontent.com/1593773/43962103-17f9df80-9cb7-11e8-9de8-b7099a028b09.png)

Agda version 2.5.5-fe99851

[2018-08-11 06:11] andreasabel commented on #2791
I pushed the test case. @UlfNorell, please close this issue if things work as intended.

[2018-08-12 07:02] identicalsnowflake opened #3176 "Empty lambdas are sometimes considered definitionally equal, other times not"
[code]

The above should load into Agda. If you put the cursor in the first hole and try to provide the solution `f`, Agda will accept this solution. But if you reload the file, Agda will then reject that solution (with a strange error that doesn't seem related to the problem, actually -- it says `(s₁ X s₂) != s₁ of type (S 0)`).

However, if you replace the 4 occurrences of `(λ ())` with `∅`, the

[2018-08-13 14:26] ajrouvoet opened #3177 "Slow typechecking with unsolved instance constraint"
In trying to update a project from 2.5.3 (that I successfully compiled under 2.6.0) to 2.5.4, typechecking a somewhat large mutual block slows down to the point where it seems Agda has gotten stuck.
Compiling with `--verbose=5` shows that Agda is making progress, but seemingly slows down exponentially while checking the mutual block.

Steps to reproduce with the project are:

[code]

I understand

[2018-08-13 15:07] andreasabel commented on #1556
2018-08-13: Now loops even without `--without-K`.

[2018-08-13 15:23] ajrouvoet commented on #3177
*EDIT: See below for updated profile*

Running with `make AGDA_OPTS="-v5 -v profile:100"` gives:

[code]

[2018-08-13 16:54] rntz opened #3178 "agda2-make-case turns "{{" into "⦃""
I'm using agda version 2.5.4.1-6b1d87f. Say I have the following:

[code]

And in agda-mode in emacs, I type `C-c C-c` in the hole to case-analyse `x`. This produces

[code]

Notice that my ASCII double-braces "{{x}}" got turned into unicode double-braces "⦃ tt ⦄". I would prefer if agda2-make-case (and any other commands) preserved formatting (ASCII double-braces stay as they are; unicode "⦃⦄" st

[2018-08-14 06:53] banacorn opened #3179 "How to pass the latex-html-test?"
I've managed to pass all tests listed in the Makefile
[code]

Except for the `latex-html-test`, where I would fail all of the `_LaTex` and `_QuickLaTex` tests, with golden and actual result like this:

[code]

Is there anything I should be aware of if I'm getting `LATEX_COMPILE_FAILED with lualatex, xelatex, pdflatex`?

The version of Agda I'm testing on is  https://github.com/agda/agda/commit/67f

[2018-08-14 07:53] andreasabel commented on #3178
Currently the distinction between these brace types is already lost in the parser, thus, Agda has no memory of what the user wrote here.  Similar to the loss of indentation, see #575.

However, the option `--no-unicode` should get you there for the original problem.

[2018-08-14 07:58] andreasabel commented on #3179
Yes, you should try to find out why latex compilation fails.

Possibly related: #3170.

[2018-08-14 08:09] andreasabel commented on #2909
@nad : Still using `--guardedness-preserving-type-constructors`?!  I am removing this feature in connection to #1556 which I fix by a change to the termination checker.  If there is actually still interest in this feature, I could retain it, however the prime examples are now rejected by the termination checker.

[2018-08-14 08:16] andreasabel opened #3180 "Remove feature `--guardedness-preserving-type-constructors`"
Remove feature `--guardedness-preserving-type-constructors`.  Reasons:
- No semantics for this experimental feature has emerged within a decade.
- I am not aware of serious applications.
- It is crippled by a change to the termination checker fixing #1556.

One could look into Guarded Type Theory (by the Danish crowd: Birkedal & Møgelberg) if a similar feature is wanted.

[2018-08-14 08:36] andreasabel commented on #1556
I am fixing this issue via the termination checker.  It will now also look for recursive calls in the _type_ of definitions.  The rationale is that for well-foundedness, the type should be defined before the function.

Concretely, the termination checker will now record a call `D --> A` since `A` occurs in the type of `D`.  Together with the definition `D = A ...` this will cause a termination err

[2018-08-14 09:22] #3180 closed, assigned to andreasabel

[2018-08-14 09:43] andreasabel commented on #3177
If 15min is the running time under 2.5.4, what would be the numbers for 2.5.3 and 2.6.0?

From the release notes of Agda 2.5.4:

* Call-by-need reduction.

  Compile-time weak-head evaluation is now call-by-need, but each weak-head
  reduction has a local heap, so sharing is not maintained between different
  reductions.

  The reduction machine has been rewritten from scratch and should be faster

[2018-08-14 10:26] andreasabel commented on #3176
Mmh, the current check for equality of absurd lambdas was weird:  https://github.com/agda/agda/blob/2796d596ffc458821fe2f1aa88d0c870278201a9/src/full/Agda/TypeChecking/Conversion.hs#L540-L549
If the absurd lambdas were internally represented as _different functions_, they were treated _equal_, but if they were the _same_ function, they were only treated equal if they were applied to equal argument

[2018-08-14 10:42] andreasabel commented on #3176
Thanks for reporting!

[2018-08-14 10:46] #3176 closed, assigned to andreasabel

[2018-08-14 13:46] ajrouvoet commented on #3177
Thanks for the pointers. I'm trying to diagnose this a bit more precisely today and have 2 useful data-points.

[code]

Ensuring the profile can be compared sensibly.

## Agda 2.5.4.1

Reran the profile I gave before:

[code]

## Some Agda 2.6.0 (39bb8893c6b4)

This is the version of Agda that I used "back in the day" to compile my code sufficiently fast.
Current master has the same problem as 2.5

[2018-08-15 03:56] banacorn commented on #3179
I guess the test failed because it doesn't know where to find `agda.sty`.

There's a [line](https://github.com/agda/agda/blob/master/test/LaTeXAndHTML/Tests.hs#L178) in `test/LaTeXAndHTML/Tests.hs` where it would try to execute commands like this:
[code]

And when I execute this command by myself, `xelatex` would halt and ask me for the path of `agda.sty`. If I add `agda.sty` manually to my system

[2018-08-15 04:09] asr commented on #3179
I guess the problem is a missing LaTeX/XeLaTeX/LuaLaTeX package.

Do you get any error running the following commands:

[code]

?

[2018-08-15 04:22] asr commented on #3179
No. Issue #3170 doesn't occur with TeX Live 2017.

The LaTeX compilers were disabled on Travis due to the TeX Live version of Ubuntu was too old. You should can run the test on your machine using your current version of TeX Live (i.e. TeX Live 2017).

[2018-08-15 05:04] banacorn commented on #3179
[code]

[2018-08-15 05:14] asr commented on #3179
You need to install the `xifthen` package from your LaTeX distribution. After installing this package I guess you will find similar errors due to other missing packages.

[2018-08-15 05:14] #3179 closed, assigned to nobody

[2018-08-15 05:20] banacorn commented on #3179
Thanks for the heads up!

It would be wonderful if we can get everything we need on CTAN like:
[code]

[2018-08-15 05:22] asr commented on #3179
As I said before, if you use TeX Live 2018 you will hit #3170.

[2018-08-15 06:30] #2547 closed, assigned to nobody

[2018-08-15 07:27] UlfNorell commented on #3177
The problem seems to be an unsolved instance argument. If you change [this line](https://github.com/metaborg/mj.agda/blob/aa37b2b68904edb5befd2e840858e8e4c60625d0/src/MJ/Semantics/Monadic.agda#L171) to
[code]
giving the instance argument `m` explicitly, the code checks in about a minute on my machine.

There are two questions I haven't investigated:
- Why doesn't 2.5.4 solve the instance argument?

[2018-08-15 07:50] UlfNorell commented on #3177
Do you have equivalent code that checks with 2.5.3? What's on the `master` branch seems to be completely different when it comes to the use of instance arguments.

[2018-08-15 09:25] banacorn commented on #3066
Hopes that https://github.com/agda/agda/pull/3181 could remedy the pain a bit

[2018-08-15 09:38] hvr commented on #3066
@gallais why can't you use `cabal` to install Agda?

[2018-08-15 09:42] UlfNorell commented on #3066
Using cabal is the (currently) recommended method to install Agda. This issue is about how to install using stack.

[2018-08-15 09:46] hvr commented on #3066
Sure, but what problem is stack solving here? This ticket has been referenced by #3181 which claims there was a problem that stack would solve.

[2018-08-15 09:51] UlfNorell commented on #3066
I don't think this is the right forum for asking why anyone would ever want to use stack, and as I'm not a stack user myself I don't feel qualified to answer it. Regardless of their reasons, a lot of people *are* using stack, and I can't see any reasons why we shouldn't support that.

[2018-08-15 09:52] hvr commented on #3066
That wasn't what I was asking for; I rather asked what problems were encountered with `cabal` as @banacorn put this into relation w/ #3181

[2018-08-15 09:55] banacorn commented on #3066
@hvr I'm trying to reproduce the problem I encountered with `cabal`, perhaps I should open a new issue so that it can be better addressed.

[2018-08-15 09:57] hvr commented on #3066
@banacorn thanks, that would be very helpful; if you were encountering it, it's likely other people would too, so addressing that one would certainly be desirable for the benefit of everyone.

[2018-08-15 10:18] ajrouvoet commented on #3177
@UlfNorell Thank you for having such a detailed look. Really appreciate your work on Agda.

I can confirm that adding the instance argument solves the performance issue of checking the file.
The same instance argument must be resolved in many other places. So I'm also surprised by the fact that Agda does not in this particular case.

Indeed I do not have equivalent code that compiles with 2.5.3, b

[2018-08-15 10:21] UlfNorell commented on #3177
Thanks, I'll have a look.

[2018-08-15 10:31] banacorn opened #3182 "Problems encountered with cabal"
I will be addressing the problems that I've encountered when building the project with `cabal`, how to solve some of them, and the point where I got stuck.

The version numbers:
[code]

This is what I want to do:

[code]

# missing `text-icu` on macOS

Since I'm on Mac, the first problem that many could've encountered would be `text-icu`

[code]

A quick search will lead you to issues such as http

[2018-08-15 10:33] banacorn commented on #3066
#3182
Hope that this would be helpful.

[2018-08-15 10:48] hvr commented on #3182
thanks; the key here is

Since you

[code]

you'd need to also pass this to `cabal install --disable-library-profiling cpphs`; however I wonder why it's default enabled to begin with;

That being said, this issue as well as `cpphs` not being autoinstalled are some of the things that have been fixed/improved in `cabal new-build`; see https://wiki.haskell.org/Cabal/NewBuild for more information poin

[2018-08-15 10:55] banacorn commented on #3182
I heard that there are lots of exciting developments in Cabal 2.0!
Hope that we can upgrade the workflow of Agda dev to there soon.

[2018-08-15 15:15] anuyts commented on #2670
The following seems an acceptable workaround, as many multisorted algebras have a 'base' sort:

[code]

Remarkably, in each of the cases where i wrote an `_`, replacing it with `Edge` (without specifying `{Node}`) yields an instance search failure with a single candidate:

[code]

[2018-08-15 19:44] identicalsnowflake opened #3183 "Nat literals are not always properly decoded as literals"
[code]

Use the macro `reflect` to inspect the terms above: `reflect nat-pat` and `reflect str-pat`. In `str-pat`, you can see both the left hand side and the right hand side decode to the literal "hi"; in contrast `nat-pat` is *only* decoded as a literal on the right hand side, and on the left hand side it's actually a big stack of 5 suc constructors.

It would be nice if `nat-pat` would decode a

[2018-08-16 11:04] UlfNorell commented on #3177
Stand-alone test case (very brittle). It passes with 39bb889 and `2.5.3`, but fails to solve the `Monotone` constraint for `^` on `2.5.4` and current master:

[code]

[2018-08-17 11:33] asr commented on #3182
The problem installing the `text-icu` library on Mac was reported in #2939.

[2018-08-17 12:02] asr commented on #3182
So do I. Since installing without profiling libraries is the Cabal default and the user enabled them, I think the user should know what to do when she finds errors such as

[code]

[2018-08-17 12:02] #3182 closed, assigned to nobody

[2018-08-18 18:55] riaqn opened #3185 "agdai files should be put in seperate locations"
Currently the `foo.agdai` is generated in the same directory as `foo.agda`, which could be problematic because `foo.agda` might be in a directory the user has no write access to.

Alternatively, we can hash the soruce file `foo.agda` and write the binary file to `$HOME/.agdai/$HASH.agdai`, where `$HOME` is user's home directory.

[2018-08-18 20:48] gallais commented on #3185
related: #2610

[2018-08-21 13:06] nad opened #3187 "Acceptable code rejected when -Werror -Wignore is used"
Consider the following code:
[code]
This code is accepted by Agda, but rejected when `-Werror -Wignore` is used:
[code]
Note that I did not turn on `--exact-split`. Adding `--no-exact-split` to the command line does not help.

[2018-08-21 13:27] gallais commented on #3187
It looks to me like [`applyFlagsToTCWarnings`](https://github.com/agda/agda/blob/be89d4a8b264dd2719cb8c601a2c7f45a95ba220/src/full/Agda/TypeChecking/Errors.hs#L233) is completely ignoring the `WarningMode`.

[2018-08-21 14:07] nad opened #3188 "Warnings disappear when fatal error is encountered"
I updated some code that uses the standard library, and I got lots of deprecation warnings. However, once a fatal error is encountered the warnings disappear from the (main) Emacs information buffer. The warnings reappear later, but if the module with the fatal error does not depend on (all) the modules with warnings, then they might not reappear until after I've type-checked every module in the p

[2018-08-21 14:21] nad opened #3189 "No information about which warnings are enabled by default"
The command `agda --help=warning` mentions "Default warning level", but does not indicate which of the listed warnings are enabled by default. This information should also be available in the reference manual.

[2018-08-21 14:55] nad commented on #2909
I don't think I have any maintained code that uses this feature. The standard library mentions this option in a comment in the module `Coinduction`.

[2018-08-21 16:34] mechvel opened #3190 "proposal with built-in function for termination"
I propose to add to Agda _language_ the construct of well-founded recursion.
I believe it is easy to implement.
The extension will preserve all the existing applied code.
The reason for adding this construct is that using the feature of
WellFounded of Standard library complicates programs essentially.
The extension will preserve all the existing applied code.

Example
-----------

[code]
`TERMINAT

[2018-08-21 21:09] nad commented on #3190
I don't think it is sound in general to combine structural recursion with an arbitrary wellfounded ordering.

Note also that the code of a function could fail to be strongly normalising even if the code terminates for every closed argument. Example:
[code]

[2018-08-22 09:06] UlfNorell commented on #3177
After some poring over the debug output I've identified one (the?) cause of the unsolved constraint. The problem with the pruning of a metavariable here:
https://github.com/agda/agda/blob/45cee704933f5fe14525e89cd6e278bc632fd958/src/full/Agda/TypeChecking/MetaVars.hs#L734-L735

This was introduced a long time ago by @andreasabel in 8ee3d39, and later extended to neutral arguments to fix #629.

Min

[2018-08-22 09:09] ajrouvoet commented on #3190
FYI: In [this "Equations Reloaded" draft](https://www.irif.fr/~sozeau//research/publications/drafts/Equations_Reloaded.pdf) there is a description of a "by rec ..." construct that allows the user of equations to define functions by well-founded recursion. The way this works is:

[2018-08-22 09:10] UlfNorell commented on #3177
Indeed. Here's a version that relies on ordinary pruning:

[code]

[2018-08-22 09:50] mechvel commented on #3190
Is this strong normalization as in lambda calculus?
(weak normal form, strong normal form, ... `strong' means that the argument expressions are normalized first -- ?).
Do you mean that Agda-2.5.4 decides that a function f is  terminating only after  the type checker has obtained  a strong normal form of f ?
What is a strong normal form for a function defined by pattern matching?
For example, consi

[2018-08-22 09:53] mechvel commented on #3190
My last message is a reply to NAD.

[2018-08-22 11:04] nad commented on #3177
Does this mean that it is incorrect to use pruning in this case?

[2018-08-22 11:13] UlfNorell commented on #3177
As the second test case shows, there's nothing particular about the situation in which we do the pruning. If we conclude that it's incorrect to do pruning in this case then we can never do any pruning (until we've looked at all future constraints and decided that they won't be harmed by the pruning).

[2018-08-23 11:00] nad commented on #3177
When Gundry specifies unification in his [PhD thesis](http://adam.gundry.co.uk/pub/thesis/) he writes the following:

It seems as if we do not satisfy the "makes the problem simpler" part, but it is not obvious to me that this necessarily breaks the "most general" property.

[2018-08-23 11:35] #2893 closed, assigned to gallais

[2018-08-23 11:35] #3188 closed, assigned to gallais

[2018-08-23 14:13] gallais commented on #3187
Another source of problems: when we are checking the main interface we ignore the flags:
https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Imports.hs#L817

Simply changing `IgnoreFlags` to `RespectFlags` there leads to an internal error in
[`Serialize.Instances.Internal`](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs#L128) when

[2018-08-23 15:32] gallais commented on #3187
Got it (I think)!

In `TypeChecking.Warnings`, [we classify](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Warnings.hs#L106) `CoverageNoExactSplit` as an `ErrorWarning`.
These kind of warnings [cannot be bypassed by a user-set flag](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Warnings.hs#L47).

I think it is a mistake to call the lack of an exact split

[2018-08-23 15:51] jespercockx commented on #3187
The reason why CoverageNoExactSplit is an ErrorWarning instead of a regular Warning is because it was originally only used when the user enabled `--exact-split` explicitly, in which case it makes sense to have a proper error. But now I guess it is better to have it as a warning, and use `-Werror` when necessary.

[2018-08-24 01:26] EdNutting opened #3194 "Decidable equality of Booleans - what am I doing wrong?"
Hi all/anyone,

2am here so I'm sure I must be doing something wrong... In the following code, I expect to be able to pattern match with "refl" in place of "p", but instead I get the error shown below/after.

Any ideas as to what I'm doing wrong? [Agda 2.5.4.1 from Cabal with Agda StdLib]

[code]

[code]

Many thanks,
Ed

P.s. This is the smallest repro I can think of at the moment. Probably somet

[2018-08-24 01:28] EdNutting commented on #3194
If I avoid using emacs case-split and just put "refl" in place of "p" then reload, the error is this (if it helps at all):

[code]

[2018-08-24 06:20] andersk opened #3195 "Internal error at Auto/Typecheck.hs:373"
In Agda 2.5.4.1, invoking Auto in this goal results in an error at [Auto/Typecheck.hs:373](https://github.com/agda/agda/blob/v2.5.4.1/src/full/Agda/Auto/Typecheck.hs#L373):

[code]

[code]

I don’t expect Auto to do anything useful here, but I figured you’d want to know about the internal error.

[2018-08-24 07:30] nad commented on #3188
Thanks.

[2018-08-24 07:33] nad commented on #3187
Perhaps we shouldn't have both `--exact-split` and the corresponding warning. Can one enable `-Werror` for a subset of warnings, and still have other warnings enabled?

[2018-08-24 08:06] gallais commented on #3187
At the moment `Werror` sets a boolean telling Agda we want all warnings to be turned
into errors. I suppose we could have a more fine-grained approach and offer `-E(no)Flag`
as the counterpart of `-W(no)Flag` but for treating them as errors rather than warnings.

[2018-08-24 09:25] EdNutting commented on #3194
I think I've worked this one out. It's possibly because evalChoice prevents Agda from normalising the term so it can't decide if refl should exist or not.

[2018-08-24 09:25] #3194 closed, assigned to nobody

[2018-08-24 13:49] jespercockx commented on #3190
Agda already has a built-in mechanism for doing all sorts of termination proofs (sized types). Does this proposal add anything fundamental that cannot already be done using sized types? We should try to avoid having too many different features that accomplish essentially the same goal (although I have sinned against this principle myself in the past).

The main advantage of the proposal here seems

[2018-08-24 15:32] mechvel commented on #3190
I am sorry, I need to study what is (and how to use)  sized types!

In your opinion, what is easier to use for termination proof:
``<-rec + WellFounded`` of Standard or sized types?
Which one makes a smaller change to a program? How does it change proofs for a function?
(for example, for  ``log₂`` given above).

My proposal was not for increasing fundamental possibilities but for user program simp

[2018-08-24 16:05] mechvel commented on #3190
The example of log₂ is written with the proposed constructs as
[code]
(I do not know, may be it is not sound to mix structural recursion with WellFounded one (?),
but anyway in these remaining statements  can be done by  ``recurseWith``).

How will it look the  version of ``log₂`` using sized types?

[2018-08-25 10:56] gallais commented on #2858
After working on #3196 I think I now have an idea of how to implement this in the nicifier:

* Collect all the contiguous `LoneSig`s upon finding one in [`inferMutualBlocks`](https://github.com/agda/agda/blob/5971daea3a596690e5afe42a166a41c764773a80/src/full/Agda/Syntax/Concrete/Definitions.hs#L928)

* Do not let [`untilAllDefined` add new `LoneSig`s](https://github.com/agda/agda/blob/5971daea3a59

[2018-08-25 11:12] gallais commented on #2858
Btw, `inferMutualBlock` is so liberal that we can throw entire modules between the
mutual declarations and the corresponding definitions!

I am not sure this is a good idea in terms of readability. :/

[code]

Edit: that being said, it's probably super useful for instantiating e.g. `RawMonad` and then opening it.

[2018-08-27 07:33] nad commented on #2858
Is there a good reason for breaking backwards compatibility?

[2018-08-27 08:32] gallais commented on #2858
In the current nicifier when we find a block of `LoneDefs` we immediately [remove the
corresponding `LoneSigs`](https://github.com/agda/agda/blob/731439680a13e717bfc1bc2c5d8dea429903732d/src/full/Agda/Syntax/Concrete/Definitions.hs#L900-L901) from the environment. We consider that all the equations
should come in one block and we are done with these definitions.

As soon as we run out of `LoneSigs

[2018-08-27 08:57] nad commented on #2858
we are done or not?

Perhaps we could use the coverage checker.

If it is too hard (especially for human beings) to figure out how the definitions should be grouped, then I would prefer that we required the use of a keyword (ideally `mutual`, but I'm not sure if this would break old code).

[2018-08-27 09:17] nad opened #3198 "Links to comments rather than code"
When linking to some piece of code (rendered by the HTML backend) I would often prefer to link to the comment preceding a definition, rather than the definition itself. However, this means that I cannot use the new stable links. Perhaps we could generate targets of the form "name;comment", targetting the first token of the earliest comment (if any, otherwise the actual code) between the current de

[2018-08-27 10:22] nad opened #3199 "Panics when serialising absolute paths"
I'm getting errors of the following kind (using Agda 2.5.4.1):
[code]
However, I have trouble replicating the errors consistently. Has anyone else seen this?

[2018-08-27 10:29] gallais commented on #3199
I have too. Haven't been able to reproduce consistently either and they go away when I restart Agda.

[2018-08-27 12:29] gallais commented on #2858
Given that we would have the ability to also add constructors, I don't think that would
give us accurate results. And AFAIK coverage checking happens way later in the pipeline.

The solution I have in mind clarifies where the boundaries of the blocks are: you need
to be upfront about all of the names you are planning to mutually define in the block.
Any new declaration starts a new block (and we c

[2018-08-27 12:50] UlfNorell commented on #2858
Does this not limit the expressiveness of the current (new) mutual blocks? It might be that you need an earlier definition to reduce in order to state the type of a later one. I'm sure the type-theory-in-type-theory people have lots of examples of this :P

[2018-08-27 15:56] nad commented on #2858
I wonder if we make use of the feature that @gallais wants to remove to state unification problems in the test suite.

[2018-08-27 17:16] gallais commented on #2858
I don't know because of the grouping pass that would reorder the equations in name-based
blocks so that we could feed the output of the modified nicifier directly to the current setup.
These blocks could be fed in the same order as the signatures. So you would preserve the
fact that some definitions come before others when typechecking.

I think the changes would not be that big so I am more and m

[2018-08-27 21:03] gallais commented on #2858
Okay, my experiment failed: when you stop relying on `noLoneSigs` to decide where to
split the mutual blocks, you run into a _lot_ of issues. Waiting for a `LoneSig` is not enough:
you also want to break on `NiceMutual`, sometimes on `postulate` or `module`s (but
not necessarily all the time!). This is way more complicated than #3196 led me to believe.

I think @nad's suggestion to use a keyword i

[2018-08-28 08:10] nad commented on #2858
If anyone plans to continue working on this I suggest that we try to nail down a rough design before too much time is spent on implementing things.

[2018-08-28 08:52] jespercockx commented on #2858
Maybe this would be a good discussion/code sprint for the upcoming AIM in Nottingham?

[2018-08-28 15:21] jespercockx commented on #3190
Here's an example of how you could define `log₂` using sized types:

[code]

I'm not saying that sized types are better than your proposal; in fact it was surprisingly tricky to find the right sizes for the constructors for this example (maybe someone else can find a simpler solution?).

What I *am* saying is that we already have some way to achieve the desired effect so perhaps we should focus on

[2018-08-28 19:07] mechvel commented on #3190
Jesper,
thank you for providing the example.

Probably everyone will agree that for a programming tool is very important to support writing simple programs.
Personally I suffer greatly of complicating programs by adding termination proofs.
Also the application user will say:
"Using this library, really am I supposed to invent these brain-twisted complications, when my intended method does not impl

[2018-08-29 10:12] UlfNorell commented on #3190
### Well-founded recursion using the standard library is not as bad as you think

You complain that your program is greatly complicated when using well-founded recursion. This is primarily a library issue. Instead of using `wfRec` you can recurse on the accessibility predicate directly. Personally I find this much clearer than using `wfRec`:

[code]

There is no (or negligible) run-time cost for u

[2018-08-30 10:07] gallais opened #3200 "Function marked as irrelevant when it isn't"
This is a reduced version of agda/agda-stdlib/issues/429. All my attempts to simplify
it even more make the problem go away.

It is a regression in 2.6.0: the code works just fine in 2.5.4.1 (which is what we use
on travis to check the stdlib).

The `test` fails with the error (**NB:** note the dot before `just` and the fact the redex
`From-just (just _)` doesn't fire) :

[code]

At some point I h

[2018-08-30 18:08] gallais commented on #3200
Reduced, self-contained test-case.

Note that if you drop `let record {} = tt in` then it goes through just fine!

[code]

[2018-08-30 18:18] HuStmpHrrr commented on #3200
this version also gives the same error
[code]

let me try even earlier one.

[2018-08-30 18:29] gallais commented on #3200
@HuStmpHrrr I'm currently running a git bisect to pinpoint the commit where it started to fail.

There are less than 7 steps left so it should converge in ~1h30m maximum.

[2018-08-30 20:00] gallais commented on #3200
git bisect points at @andreasabel's a1030da59d1726b5b4ee6c82028434e05a6d584b

[2018-08-30 22:09] HuStmpHrrr opened #3202 "Internal Error from Emacs Interaction"
I was having an error from emacs in following environment:

[code]

Error message is following:

[code]

I have error from the following code:

[code]

Commenting out the last line removes this error. Uncommenting again produces this error again.

[2018-08-30 22:15] gallais commented on #3202
This is #3199.

We have a hard time finding a reproducible test case. I tried this one and couldn't
get the error (I run a modified version of agda-mode because of the PR I just made
but I doubt it plays a role: it doesn't touch that part of the serializer).

[2018-08-30 22:15] #3202 closed, assigned to nobody

[2018-08-31 00:07] HuStmpHrrr commented on #3202
This error seems caused by agdai files. `make clean` fixes it.

[2018-08-31 11:36] mechvel opened #3203 "`accessible' for ℕ"
Please how to extract
```<-acc :  {n : ℕ} →Acc _<_```
from `` Induction.Nat`` ?

I program it by
[code]
, but probably it can be somehow imported from `` Induction.Nat``.

[2018-08-31 11:39] UlfNorell commented on #3203
This is not an appropriate forum for this question. Please address it to the mailing list, or as a last resort (if you believe there's a problem with the library) to the standard library issue tracker (https://github.com/agda/agda-stdlib/issues).

[2018-08-31 11:39] #3203 closed, assigned to nobody

[2018-08-31 14:22] #2979 closed, assigned to jespercockx

[2018-08-31 14:22] #2814 closed, assigned to nobody

[2018-08-31 14:28] jespercockx commented on #2979
A bit later than I hoped, but I managed to make the non-linear matching (more) type-directed, so matching should now be less sensitive to eta-contraction/expansion. The check for the non-linear parts of the pattern is still untyped though.

@favonia could you try if this fixes all the problems with HoTT-Agda in Agda-2.5.4 or if there are other regressions?

[2018-08-31 14:34] favonia commented on #2979
@jespercockx Thanks! I will try it and report the result.

[2018-08-31 17:45] tomjack commented on #2814
Wow, thanks! :)

[2018-08-31 19:17] #3177 closed, assigned to nobody

[2018-08-31 21:41] m-yac commented on #3199
Yes, I am also seeing this – the only fix I've found is just removing all `.agdai` files in stdlib.

Is this perhaps #2592 coming back from the dead? I ended up with the same testcases just with Data.Integer instead of Data.Empty...

[2018-09-01 11:25] jespercockx commented on #2814
I'm actually not sure if I fixed this or someone else did, but after my work on #2979 this issue seemed to have fixed itself so I closed it :)

[2018-09-03 06:09] andreasabel opened #3207 "Non-existing option --enable-prop mentioned in error message"
Non-existing option --enable-prop mentioned in error message.
[code]
gives
[code]
but
[code]

[2018-09-03 06:21] andreasabel commented on #3200
Some observations:
* The blamed commit removed the abuse of `Prop` for dummy types.  However, dummy types still have sort `Prop`. Together with @jespercockx resurrection of  `Prop` it likely triggered this issue.
* What is happening is that after checking pattern `record {}` the `envRelevance` is `Irrelevant`.  This does not look right.
* Records are treated as irrelevant if all their components a

[2018-09-03 06:44] andreasabel commented on #3107
See #3200: the abuse of `Prop` was not completely eradicated.  I shall also introduce a `DummyS` to remove the last abuses of `Prop` in sorts.

[2018-09-03 06:45] andreasabel commented on #3200
I will fix this by completing the #3107 eradication of the `Sort Prop` hack.

[2018-09-03 07:59] #3200 closed, assigned to andreasabel

[2018-09-03 08:32] #3207 closed, assigned to andreasabel

[2018-09-03 08:37] andreasabel commented on #3185
This is the solution commonly used in the past, see LaTeX, C, GHC etc.

This will silently eat the users disk space.

However, in connection with a built system we should look into a solution where the generated files (`.agdai`) are put into a distinct location (cf. the `cabal` approach).

[2018-09-03 11:08] mechvel commented on #3190
Ulf, thank you for explanations.
So far I am on only at the stage of
* seeing that  ``<-acc :  Acc _ _``  is easier to use than  ``wfRec``,
* trying to realize how difficult is it composing proofs for functions defined with <-acc.

[2018-09-03 11:08] gallais commented on #3200
Thanks!

[2018-09-03 16:13] gallais opened #3209 "Case-split on a datatype defined in a parametrised module produces needlessly-prefixed patterns"
When case-splitting on `x` in `B.agda`, we get the pattern `(;A.A⁺.a x)` which is a
parse error rather the completely valid `(a x)`.

`A.agda`:
[code]

`B.agda`:
[code]

Note that if we inline `A.agda` as a parametrised module defined in `B.agda` then
everything is fine!

[2018-09-03 18:55] gallais opened #3210 "Feature request: parametrised datatypes generate parametrised modules"
As explained [in the doc](https://agda.readthedocs.io/en/latest/language/module-system.html#datatype-modules-and-record-modules) each datatype comes with a module which make it possible to
refer to its constructors unambiguously.

AFAICT no matter the datatype we always generate a basic module. It would be nice to
have a parametrised one for parametrised datatype.

This would make it possible to a

[2018-09-04 09:17] mechvel commented on #3190
Can anybody, please, demonstrate on example that  ``<-acc,  wfRec`` of
``Induction.WellFoundedRec``  allow us to write reasonably looking proofs for functions defined with
these constructs?

I try the example with the logarithm function  ``log₂``  for ``Bin``,
where ``Bin`` is defined as
[code]

The code is on
  http://www.botik.ru/pub/local/Mechveliani/agdaNotes/wfRecAttempt.zip

``Logarithm.agda

[2018-09-04 09:37] MatthewDaggitt commented on #2783
Mostly fixed by @gallais in e134cce

[2018-09-04 09:45] gallais commented on #3190
For what it's worth, I think `Acc` is too low-level to use directly. This is what I
would do instead (à la Bove-Capretta):

(`Irrelevant` is in the current dev stdlib, if you use an earlier one you may need
to call it `IrrelevantPred` or something).

[code]

Edit: not included here but, of course, you would use `Acc _<_` to prove that `Log`
holds for all non-zero values.

[2018-09-04 09:45] UlfNorell commented on #3190
First you prove that the accessibility proof is irrelevant. This follows the same well-founded recursion as the function definition.

[code]

Using this result you can prove a generalisation of your goal over the accessibility proof in the left-hand side. The purpose of the generalisation is to make it easy to pattern match on the accessibility proof, which in turn makes the definition of log₂ red

[2018-09-04 11:47] nad commented on #3190
If you are willing to use Cubical Agda (or assume that equality of functions is extensional), then you can prove that accessibility proofs are propositional:
[code]

[2018-09-04 13:12] andreasabel opened #3211 "Rewriting/NonLinMatch.hs:192:9-54: Irrefutable pattern failed for pattern (Just (_, ct))"
Just got this error:
[code]
Here is a shrunk test case:
[code]
Works fine in Agda-2.5.4.

[2018-09-04 14:41] pjbruin opened #3212 "Missing binding for builtin/primitive throws an "internal error""
Trying to typecheck the "cubical" code below gives an internal error, apparently related to the `Glue` type:

[code]

Source of `Cubical.agda`:
[code]

[2018-09-04 14:50] gallais commented on #3212
The error corresponds to [getting the Builtin COMPGLUE](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Primitive.hs#L875) so I'm guessing this should do the trick:

https://github.com/agda/agda/issues/2818#issuecomment-339237698

Should this Builtin be bound in one of the `Agda.Builtin` modules?

[2018-09-04 15:53] andreasabel commented on #2818
This should give a proper error, not an internal error!

[2018-09-04 22:24] andreasabel opened #3213 "Use `-fwarn-incomplete-uni-patterns`"
We have since forever the GHC option `-fwarn-incomplete-patterns` to warn about incomplete pattern matching, using `__IMPOSSIBLE__` to complete matches.  However, we allow incomplete irrefutable patterns and sometimes the user will see an error message about a match failure rather than the official error message printed by `__IMPOSSIBLE__`.
I propose to consider the use of `-fwarn-incomplete-uni-p

[2018-09-04 22:50] andreasabel commented on #3212
Couldn't a proper error be raised by getting the builtins in the definition of these primitive functions (where we are in `TCM`), rather than only when they are run (and we are in `ReduceM` without error raising)?

[2018-09-05 04:58] UlfNorell commented on #3213
I don't see the benefit here. I'm not too concerned about exposing users to match failure errors, I think most of our users are savvy enough to report those even without the carefully worded encouragement of the `__IMPOSSIBLE__` errors.

The main purpose of `-fwarn-incomplete-patterns` is to make GHC tell us where the missing cases are when adding constructors to a datatype. Neither irrefutable pa

[2018-09-05 07:48] jespercockx commented on #3211
It seems the problem occurs when the head symbol of a rewrite rule is the constructor of a parametrized datatype: the type is not applied to its parameters. Since rewriting is now type-directed, this becomes a problem. I'm not sure if it would be safe to just drop the parameters though, perhaps it would be better to reconstruct them and make them part of the pattern. But then we would also have to

[2018-09-05 10:03] pjbruin commented on #3212
@gallais: this solution worked, thanks for the quick reply.
@andreasabel: it would indeed be nice to get a more informative error message (I seem to remember that at some point I got an error saying that some other builtin hadn't been bound).

[2018-09-05 12:42] jespercockx opened #3214 "Proposal: pragma to add suggested names to a type"
Currently, when you case split on a variable Agda usually chooses very bad names like `x`. It would be nice to have a pragma that attaches some suggested names to a specific (defined) type, and have Agda cycle through these names. For example:

[code]
Currently, `C-c C-c` produces `x ++ x₁ = {!!}`. With this pragma, it would instead produce `xs ++ ys = {!!}`.

[2018-09-05 12:43] jespercockx commented on #3214
See also https://github.com/agda/agda/issues/815

[2018-09-05 12:46] jespercockx commented on #3127
The current situation is unacceptable, the semicolons are way too noisy.

My proposal would be to drop the prefix entirely and print the context entry with curly braces (see my original post). This would remove the noise completely and I think it would still be clear to the user. Are there any arguments against this (other than that it takes some more effort to implement)?

[2018-09-05 12:50] jespercockx opened #3215 "Proposal: show current context for type errors"
Currently some type errors are hard to understand because they don't give the user all the necessary information, in particular they don't show the context in which the error was generated. I propose to add the context to the bottom of *all* error messages (perhaps configurable with a flag).

@UlfNorell had an alternative proposal to save the context of the latest error message and add a command t

[2018-09-05 13:07] JacquesCarette commented on #3214
Yes please!

[2018-09-05 13:39] gallais commented on #3215
If we are going to display a context for each error, can we make sure that we filter out
the variables which are not needed in the telescope to type the error?

[2018-09-05 15:39] jespercockx commented on #3211
Fixed by applying the type of the constructor to the parameters when adding the rewrite rule. This may create some weird effects in corner cases, for example adding a rewrite rule for `[]` of type `List Bool` will actually fire for `[]` at any type `List A`, but other than that I don't see anything serious that could go wrong.

[2018-09-05 16:02] andreasabel commented on #3211
Well, I use it for a poor man's version of non-free datatypes. I found it convenient for OPEs, but one could also have a poor man's version of the integers like that.

[2018-09-05 16:04] andreasabel commented on #3214
This is the Twelf approach to name picking, which I think works well in practice and is more principled than our current heuristics.

[2018-09-05 16:10] andreasabel commented on #3213
My proposal is also going towards views (like `ifPiType`) rather than direct matching on constructors of `Term`.

[2018-09-05 16:47] HuStmpHrrr commented on #2592
Having this issue on 2.5.4.1. Which version should I use to make this problem go away?

[2018-09-05 16:55] HuStmpHrrr commented on #3199
I keep hitting the error from #3202 and #2592 these couple days which makes adding import extremely painful. This very often happens when adding a new import. I can reproduce it from following steps:

1. `cd ~/.agda/agda-stdlib && git clean -fdx`
2. create a new project:
[code]
3. in emacs, open the file above, then `C-c C-l`. Add a line of import, say `open import Data.Nat`, then `C-c C-l`. The e

[2018-09-05 20:43] JacquesCarette commented on #3210
@alhassy , this feature request is something you should think about.

[2018-09-06 09:27] nad commented on #3127
Perhaps we shouldn't use `{A} : ...`, which suggests that `A` is an implicit argument. (One alternative might be to write `(A) : ...`, another might be to write `A : ... (not in scope)`.) Otherwise I think the original suggestion sounds fine.

[2018-09-06 09:30] nad commented on #3211
If you decide to go ahead with this, then I think it should be documented.

Is it impossible to rule out the weird cases?

[2018-09-06 09:39] nad commented on #3214
For a list of binary trees I might want to split `ts` into `t ∷ ts`, but for the node constructor I might instead want to split `t` into `node l r`.

For a type with both unary and recursive constructors I might want to split `x` into `c x` and `d x₁ x₂`.

Can anyone come up with a method that can handle most or all of the cases I've listed?

[2018-09-06 10:22] mechvel commented on #3190
I use Agda 2.5.4.  Is ``--cubical`` in Development Agda ?
Also can anybody, please, explain (in simple words): what is extensional equality relatively to Agda ?
Is it an axiom
[code]
?
``accessibility-propositional`` suggested by NAD means that all proofs for ``(Acc _<_ x)`` are equal by
``_≡_``.
And   ``log₂``  also has an argument ``nz : x ≢ 0#``.
Is it true that in Cubical Agda it is possible t

[2018-09-06 11:15] jespercockx commented on #3211
Well, rewriting in general is not really documented anywhere. I should really get around to that sometime.

To rule out the weird cases, we would have to reconstruct the constructor's parameters before applying the rewrite rule, which is problematic because `reduce` doesn't take a type. So no, I don't think it is possible to rule out these weird cases (unless we rule out constructors as head symbo

[2018-09-06 11:32] nad commented on #3211
Can't you raise an error when problematic rules are declared? A rule for `[] : List Bool` might not be OK, but perhaps `∀ {a} {A : List a} → [] {A = A} ≡ <whatever>` is.

[2018-09-06 11:37] nad commented on #3199
I failed to reproduce the error in (roughly) this way using Agda 2.5.4.1 and version 983e1487e67d02ff9f3ee79c74e4f959e98aa799 of the standard library.

[2018-09-06 11:44] nad commented on #3199
Did you restart Emacs (or the Agda mode) before following the steps above?

[2018-09-06 11:51] nad commented on #3190
Yes.

The type you have given is extensional equality for non-dependent functions. You can also state it for dependent functions.

Yes.

No, there are bugs in Agda.

Note that `--cubical` is not compatible with "standard" Agda (with the K rule): if you switch to Cubical Agda some of your existing definitions might fail to type-check.

[2018-09-06 11:54] jespercockx commented on #3211
Hm, I guess we could reconstruct the parameters when *adding* the rewrite rule, and refuse the rule unless all of the parameters are variables.

[2018-09-06 12:21] nad commented on #3211
Distinct variables? What about the variables' types?

[2018-09-06 13:12] nad opened #3217 "Position missing from error related to Cubical Agda"
The following code is rejected, as it should be, but the error message does not contain a position:
[code]
[code]

[2018-09-06 15:04] HuStmpHrrr commented on #3199
Restarting agda will make this error go away, until the next import.

Restarting emacs is a good point. Since I use emacs server, it's very often not my first attempt. After restarting emacs the problem did go away and hasn't shown up yet. Let me pay attention on what I do to produce the error.

[2018-09-06 23:35] rntz opened #3218 "termination checking failure in copattern-style definition"
I've run into a strange case where, if I combine two functions which are each individually accepted by the termination checker into a record value defined with copatterns, the termination checker rejects it:

[code]

[2018-09-07 08:09] nad commented on #3199
Are you saying that you see a difference between restarting Emacs and restarting the Agda mode (C-c C-x C-r)? Unless restarting Emacs leads to the use of new code for the Agda mode (perhaps because you have reinstalled Agda) I find this unlikely.

[2018-09-07 10:32] mechvel commented on #3190
I put this into a separate file:
[code]
and use ``accessibility-propositional`` in another module:
[code]
First, Development Agda of September 7, 2018
requires ``_≡_`` to be imported from  ``Agda.Builtin.Cubical.Path``.
Then,  ``refl`` is not type-checked.
Need all these ``_≢_; refl; sym; trans; cong; subst`` to be imported from  ``Agda.Builtin.Cubical.Path`` ?
Other application modules use items

[2018-09-07 10:35] mechvel commented on #3190
Will  ``EquationalReasoning``  work for ``_≡_`` of ``Agda.Builtin.Cubical.Path`` ?

[2018-09-07 11:32] UlfNorell commented on #3190
The discussion seems to have derailed a little. I'm closing this issue, but feel free to reopen if there are more to be said about the actual proposal.

@nad, can you show @mechvel how to use cubical over private emails or on the mailing list?

[2018-09-07 11:32] #3190 closed, assigned to nobody

[2018-09-07 11:36] #3217 closed, assigned to andreasabel

[2018-09-07 11:42] andreasabel commented on #3211
I am afraid the original issue isn't really fixed, at least when this rewrite rule is considered for firing, Agda still crashes:
[code]
yields:
[code]

[2018-09-07 15:05] nad commented on #3190
I'm not an expert on Cubical Agda. @mechvel, I would not recommend you to use Cubical Agda in the near future.

[2018-09-07 16:42] HuStmpHrrr commented on #3199
OK, let me precisely replicate my environment here:

1.
[code]

2. Inside of emacs `GNU Emacs 26.1 (build 2, x86_64-pc-linux-gnu, GTK+ Version 2.24.32) of 2018-08-29`, open `~/projects/test/src/Test`, then `C-c C-l`.

3. Add a line `open import Data.Nat`, `C-c C-l`
4. Add another line `open import Relation.Binary`, `C-c C-l`.

Then I can see the error message:
[code]

[2018-09-07 16:58] HuStmpHrrr commented on #3199
I just tried with other revision, and these steps do not produce the error:

[code]

The previous revision comes from `release-2.5.4.1` branch, so I guess it has something to do with that particular release?

[2018-09-08 05:24] asr commented on #3213
Due to the [MonadFail proposal](https://prime.haskell.org/wiki/Libraries/Proposals/MonadFail), in GHC 8.6.1 the above code could generate an error like
[code]

Right now, using GHC 8.6.1-beta1 I'm getting the error

[code]

+1 on the proposal.

[2018-09-08 11:08] andreasabel commented on #3213
[code]

The nested pattern gives less precise information in case of a crash in comparison to
[code]
which would give the equivalent error location to the combinator version
[code]

@asr: Are you saying that failable matches in a monad are on their way to deprecation or customized error handling?

[2018-09-08 11:25] andreasabel commented on #3211
Next crash:
[code]
Error:
[code]

Debugging:
[code]
show the ill-typed match problem which leads to the crash:
[code]
The type `Cxt` is the wrong one.

[2018-09-08 15:44] UlfNorell commented on #3213
Sure. You get even more information by

[code]
The question is how much readability one is prepared to trade off to get more precise crash diagnostics. In my experience most bugs require further instrumentation of the code anyway, so worrying about the initial crash report is pretty much pointless (as long as it gives you a source location).

[2018-09-08 17:00] andreasabel commented on #3211
Still broken for opening of parametrized module:
[code]
(Same error.)

[2018-09-09 08:27] mechvel opened #3219 "arrows in signature"
This is on Development Agda of September 7, 2018,  ghc-7.10.2, Debian Linux.
In the emacs mode, the below program reports "Internal error", if the arrow between  ``acc₁`` and
``acc₂`` is  removed.
The effect may change with
* repeating the C-c C-l command,
* restarting the  emacs session,
* type-checking from the command line.
* switching on/off the above arrow.

[code]

[2018-09-09 08:55] gallais commented on #3219
Can't reproduce. Which file & line does the internal error point to? Is it the same as in #3199?

[2018-09-09 10:30] mechvel commented on #3219
Looks like the same:
"An internal error has occurred. Please report this as a bug.
 Location of the error: src/full/Agda/TypeChecking/Serialise/Instances/Common.hs:178
".

[2018-09-09 11:07] #3219 closed, assigned to nobody

[2018-09-09 21:27] mechvel commented on #3190
Please, see the new content on
http://www.botik.ru/pub/local/Mechveliani/agdaNotes/wfRecAttempt.zip
(see Reame.txt there).
This is a test for
  how simply can recursion/induction be implemented by using
  ``WellFounded`` constructs of Standard library of Agda.

The module  Logarith.agda  contains
* the version without termination proof
* and the version with termination proof by using the ``WellFo

[2018-09-10 05:22] UlfNorell commented on #3190
This tool already exists and it's called pattern matching. The fact that the type checker actually evaluates your program during proof checking is very powerful, and you should take advantage of this whenever possible.

Here's what the proof looks like if you actually pattern match on the accessibility proofs (13 lines instead of 89):

[code]

[2018-09-10 08:15] nad opened #3220 "Add a --libraries flag"
There is a `--no-libraries` flag, but no corresponding `--libraries` flag. I thought that perhaps `--no-libraries --library-file=...` would lead to "library mode" being turned on, but that does not seem to be the case.

It can sometimes be convenient to be able to override earlier options on the command line. I suggest that we add a `--libraries` flag.

[2018-09-10 08:34] nad commented on #3199
If you switch to another version of Agda, then the interface file format may be different, which has roughly the same effect as deleting all `.agdai` files. Note also that the Emacs mode caches information.

It would be helpful if you could get a script like the following one to trigger the error:
[code]
This script should be invoked as `runhaskell <Script.hs> <suitable version of Agda>`, with the

[2018-09-10 08:35] nad commented on #3199
I forgot to mention that I failed to reproduce the error using the steps you gave above (using Agda 2.5.4.1 and a later version of Agda).

[2018-09-10 08:37] nad commented on #3220
Perhaps there could also be a `--default-libraries` flag.

[2018-09-10 08:47] UlfNorell commented on #3220
Is this particularly useful for the libraries flags, or would you want every `--no-X` flag to have a corresponding `--X`?

[2018-09-10 09:12] mechvel commented on #3190
Great! Thank you.
My impression is that this my proposal about improving ``WellFounded`` needs to be closed.

There is a minor question aside (for the Agda mail list).
This is about the language (or type checker). I tried to simplify the sentence
[code]
by replacing  ``(acc wf)`` with wildcard. Because I think that nothing fits this position besides
``(acc _)``.
But this is not type-checked.

[2018-09-10 09:14] gallais commented on #3190
gallais suggested to implement log by using the data type Log that contains several constructors.
I also have an implementation log returning a certain record Log:
http://www.botik.ru/pub/local/Mechveliani/binNat/4
But this somehow a different line.

It's completely orthogonal: my suggestion is to use the call graph (which I called `Log` but has nothing to do with your `Log` I didn't know about) i

[2018-09-10 09:20] UlfNorell commented on #3190
(acc _)

Treating `acc _` and `_` the same is what's called *eta equality* (like how `p = fst p , snd p` for sigma). Since `Acc` is recursive it cannot have eta equality or the type checker could expand it indefinitely: `_ = acc _ = acc (λ _ _ → _) = acc (λ _ _ → acc (λ _ _ → _)) ...`

[2018-09-10 11:36] nad commented on #3220
Perhaps this would be useful for some of the other options as well. I guess this can be decided on a case-by-case basis.

[2018-09-10 12:48] mechvel commented on #3190
gallais  wrote

Thank you.
I see now that your Log has a different idea. It is of  the call graph, and ``log₂`` has type
``Log -> Nat `,
while ``log₂`` of Binary-4 maps from ``Bin`` to the record ``Log``, which record includes several proofs:
[code]
The proper logarithm value is obtained by extracting the field  ``Log.e``.
Your ``Log`` is (probably) a general way to apply induction without using `

[2018-09-10 14:31] HuStmpHrrr commented on #3199
I will try to create this file. I might also try to create a raw vm so that my current environment can be isolated.

I did `git clean -fdx` in stdlib folder. I think this has only things to do with agda 2.5.4.1 itself. The diff is small though, which makes it suspicious. Could it be a bug from upstream library?

[2018-09-10 19:25] nad commented on #3199
I doubt that anyone will try to make use of a VM, please don't put any time into that. I've noticed this bug a number of times myself when using the standard library under Agda 2.5.4.1. It's not hard to trigger the bug, but it seems to be hard to find a simple recipe for how to trigger it starting from a clean state. I suspect that it has something to do with one or more of the following features:

[2018-09-10 19:30] MatthewDaggitt commented on #3199
I too think it has something to do with deprecation warnings. Since I've added them in, I've been getting this error quite a lot when messing around them. Likewise no luck reproducing it reliably though...

[2018-09-12 05:48] banacorn commented on #3215
It seems like we've been adding "current context" for type errors at the bottom for a long time:
https://github.com/agda/agda/blob/9f2006007d4d149e4146c8af56dc66a90be6f8be/src/full/Agda/TypeChecking/Errors.hs#L478-L480

@gallais is this the code you are looking for?
https://github.com/agda/agda/blob/9f2006007d4d149e4146c8af56dc66a90be6f8be/src/full/Agda/TypeChecking/Errors.hs#L1425-L1427

[2018-09-12 07:35] nad commented on #3215
The `sayWhen` part is presumably what generates messages like "when checking...".

[2018-09-12 09:13] banacorn commented on #3215
Inside `sayWhen` there's `sayWhere`, which gives the `Range` of what's happening.
https://github.com/agda/agda/blob/9f2006007d4d149e4146c8af56dc66a90be6f8be/src/full/Agda/TypeChecking/Errors.hs#L313-L315

[2018-09-12 09:20] jespercockx commented on #3215
I'm sorry if my proposal wasn't clear, with 'current context' I mean all the variables that are in scope together with their types.

Since the context is part of a closure and we already store the closure of each error message, it shouldn't be hard to print the context for each error message. The hard part is to make it not too obtrusive/annoying to the user.

[2018-09-12 12:35] WolframKahl commented on #3215
As part of that, you also don't want to spend heap on displaying the context when the heap is full.
(I always run Agda with `+RTS -M... ... -RTS`.)

[2018-09-12 14:43] UlfNorell commented on #3215
Hence my suggestion to have it as a separate command.

[2018-09-12 15:23] andreasabel commented on #3167
Indeed a partial revert did the job.

[2018-09-12 15:52] #3167 closed, assigned to andreasabel

[2018-09-13 03:27] banacorn commented on #3215
That is exactly what I'm trying to achieve on the `json` branch.
Here's a demo of how fancy our error messages could be:

![Agda json demo](https://media.giphy.com/media/1vZ6Qs9PHeAn9INkUI/giphy.gif)

Error messages were serialized into strings too early, much of the context was lost before sending to the editors. So I wanna see if we can just expose those informations and let the editors decide h

[2018-09-13 07:37] banacorn commented on #3214
I'm always wondering, does it affects name picking if I name those arguments in the datatype declaration?
[code]

Perhaps this can also serve as some kind of name suggestion to Agda?

[2018-09-13 10:18] nad commented on #3214
At the moment `x` is used, but not names for recursive arguments.

[2018-09-13 11:55] smimram opened #3222 "Applying empty pattern matching"
I cannot seem to be able to apply the "empty pattern matching" `λ()` to anything.

For instance, I can prove the following theorem
[code]
However, if I do an η-expansion
[code]
I obtain the error message
[code]
Is there a good reason why the above should raise an error?

Ultimately, I want to be able to deduce something from absurdity, as in
[code]
which results in the same error as above. Is ther

[2018-09-13 12:07] smimram commented on #3222
Okay, there is a way to circumvent this, but it is quite heavy to my taste:
[code]
I would rather use `λ()`.

[2018-09-13 12:11] gallais commented on #3222
Hi Samuel,

When I want to do something like this I typically use `case_of_` from the standard library's
[`Function` module](https://agda.github.io/agda-stdlib/Function.html#3497).

Your first example would look like:

[code]

[2018-09-13 12:21] smimram commented on #3222
Good to know, thanks!

[2018-09-13 13:33] #3222 closed, assigned to nobody

[2018-09-13 17:18] HuStmpHrrr commented on #2761
i am almost too interested in it!

[2018-09-13 19:54] Saizan opened #3223 "Use cpp instead of cpphs as the default preprocessor"
Installing Agda on windows seems to require the installation of some bash equivalent, because the haskell platform no longer ships with old-time and old-locale, and old-time runs a configure script during installation.

The haskell platform, or even ghc?, does come with a cpp though, maybe the cpphs flag should be off by default on windows?

[2018-09-13 20:58] asr commented on #3223
See https://github.com/malcolmwallace/cpphs/issues/15.

[2018-09-14 04:53] UlfNorell commented on #3223
It's been suggested (https://github.com/agda/agda/issues/2736#issuecomment-328032454) to turn off the `cpphs` flag for all platforms.

I still don't know why we are using cpphs at all. It's better at handling single quotes, but since we don't *require* cpphs you still need to write code to work without it.

[2018-09-14 09:28] EdNutting commented on #3199
Hi,
I'm seeing this error a lot too, also with the latest master branch of stdlib (on Windows and Linux with respective latest release versions of Agda (through Cabal - 2.5.4.1)/Emacs).

This might help give some clue:

If I get the "internal error" message in Emacs when reloading it will keep showing the error no matter how many times I reload. Usually, I fix this by restarting Agda and everythin

[2018-09-14 10:15] gallais commented on #3199
I have pushed a branch of agda-stdlib with no `WARNING_ON_USAGE` https://github.com/agda/agda-stdlib/tree/nowarning. Let's try to use that for a few days / weeks and see whether we still get panics.

Edit: And I have patched my version of Agda to see whether it does come from there:

[code]

Edit2: still getting the crash. Is it really coming from user warnings?

Edit3: not getting the crash on th

[2018-09-14 10:44] asr commented on #3223
It seems that in the current situation `cpphs` is unnecessary. I'll remove it.

[2018-09-14 13:03] nad opened #3224 "Switch from utf8x to utf8? Make agda.sty easier to maintain?"
When `agda.sty` is used under pdfLaTeX it by default loads `inputenc` with the [deprecated](https://tex.stackexchange.com/questions/13067/utf8x-vs-utf8-inputenc) `utf8x` option. The `ucs` package (at least a recent version) does not make the macro `\DeclareUnicodeCharacter` available when `utf8x` is used. Perhaps we should switch from `utf8x` to `utf8`. A drawback is that fewer characters get rend

[2018-09-14 13:08] nad commented on #3224
I noticed now that we recommend the use of `utf8x` together with `\DeclareUnicodeCharacter` in the [user manual](https://agda.readthedocs.io/en/v2.5.4.1/tools/generating-latex.html#complete-latex-template-for-literate-agda-with-unicode). This does not work with TeX Live 2018:
[code]

[2018-09-14 13:37] nad commented on #2225
There seems to be [work in progress](https://tex.stackexchange.com/questions/374250/are-there-opentype-sans-math-fonts-under-development).

[2018-09-14 13:42] nad commented on #3170
See #3224.

[2018-09-14 15:13] andreasabel commented on #3213
The warnings about missing `MonadFail` instances can be triggered by adding `MonadFailDesugaring` to the list of language options.  However, the `Control.Monad.Fail.MonadFail` class is only available from ghc 8.0.  It seems that for a proper migration to ghc 8.6 (re #3160), where the `MonadFailDesugaring` is on by default, we need to implement a `MonadFail` instance for `TCM`.  This implies that w

[2018-09-14 15:24] nad commented on #3213
Or use an `#ifdef`?

[2018-09-14 19:00] tarmouu opened #3225 "Install of Agda 2.5.4.1 from Hackage fails"
Hi,

Failed to install Agda 2.5.4.1 with cabal, see here.

[code]

Admittedly my ghc and cabal are not the newest, but they are the newest that come with my Ubuntu  version.

However after failing to install Agda 2.5.4.1, I successfully installed Agda 2.5.4 with the same ghc and cabal.

Is this right?

Thanks.

Tarmo U

[2018-09-14 19:11] gallais commented on #3225
Seems like you're missing `filemanip` to be able to compile `Setup.hs`.
The .cabal file does list it as a dependency but it is somehow ignored?

[2018-09-14 19:12] asr commented on #3225
If you could install 2.5.4 you should can install 2.5.4.1. Which version of GHC are you using?

[2018-09-14 19:24] tarmouu opened #3227 "Constructor overloading question"
Hi,

With Agda 2.5.4 (it may have been with earlier versions):

[code]

Agda says:

[code]

The issue is, as one can find out after some messing, that
Agda does not know if DN.suc or DF.suc is meant
in the type of peano5, although we have said n m : ℕ
in that very type expression.

One can fix this by writing DN.suc n instead of just suc n.

Is this right or should constructor overloading work a l

[2018-09-14 19:28] tarmouu commented on #3225
See above in my session snippet, it's ghc 7.10.3, admittedly outdated (but newest for Ubuntu 16.04). Still I could install 2.5.4 without any problem with the same ghc and cabal.
Note that cabal created the log file Agda-2.5.4.1.log, but left it empty.

[2018-09-14 19:37] gallais commented on #3227
At the moment the [disambiguation](https://github.com/agda/agda/blob/8f0447b55a4c415417257381b8418a6c3dcca8c8/src/full/Agda/TypeChecking/Rules/Application.hs#L740) only cares about the shape of the type pushed *onto* the
constructor (that's why adding a type annotation using [the standard library's `_∋_`](https://agda.github.io/agda-stdlib/Function.html#3061) also gets
Agda to make the right choic

[2018-09-14 19:41] asr commented on #3225
We support GHC 7.10.3 in both 2.5.4 and 2.5.4.1. The [Hackage Matrix](https://matrix.hackage.haskell.org/package/Agda) shows 'OK' when installing 2.5.4.1 on GHC 7.10.3.

[2018-09-14 19:43] gallais commented on #3225
Could be haskell/cabal/issues/2614: cabal fails to install `filemanip` because of a conflict,
tries to compile `Setup.hs` anyways and can't because `System.FilePath.Find` can't be
found.

I'd try to run `cabal install filemanip` first.

[2018-09-14 20:20] asr commented on #3225
It seems to be what is happening:

1. Dependency on `filemanip` was added in 2.5.4.1 (see #3128).

2. Old versions of cabal-install (e.g. version 1.22.9.0) ignore the `custom-setup` section in `Agda.cabal` and report a warning

[code]

So, as @gallais said, you should install `filemanip` first.

[2018-09-14 20:27] tarmouu commented on #3225
Thanks @gallais and @asr, this is very useful information, I'll try!

Still, since cabal gives me no information whatsoever, it's then perhaps worth mentioning filemanip in the prerequisites here:

https://agda.readthedocs.io/en/v2.5.4.1/getting-started/prerequisites.html#prerequisites

[2018-09-14 20:32] asr commented on #3225
I'll wait your confirmation before updating the prerequisites.

[2018-09-14 20:49] tarmouu commented on #3225
Tried and is well now, after installing filemanip (cabal chose 0.3.6.3) cabal smoothly installed Agda (2.5.4.1) and it seems to work. Thanks.

Note that the warning I got from cabal on my first attempt was not useful, as it guessed that filepath rather than filemanip was missing.

[2018-09-15 01:58] asr commented on #3225
This is really a regression. I can fix the issue in master and I'll check if I also can fix the issue in 2.5.4.1 by editing the metadata in Hackage.

[2018-09-15 04:36] #3225 closed, assigned to asr

[2018-09-15 04:40] asr commented on #3225
It's not possible to change the metadata in Hackage for fixing the issue in 2.5.4.1. I propose to release a new bug-fix version.

[2018-09-15 04:44] asr opened #3228 "Release Agda 2.5.4.2"
We should release a bug-fix version including the fix to #3225. Anything else should be included in 2.5.4.2?

[2018-09-15 08:32] gallais commented on #3228
We should probably try to fix #3199 (or at least circumvent it) too

Edit: I think I may have a fix. PR incoming.

[2018-09-15 13:12] gallais commented on #3199
I've been working a bit on the stdlib and regularly switching between 2.5.4.1 and #3229
and when it takes less than a minute to get a panic in 2.5.4.1, I have yet to get one in
#3229 so I think it's fixed.

It would be nice to have a test case though. :/

[2018-09-15 14:27] JacquesCarette commented on #3224
I've been bitten by this. Luckily the publisher agreed to use `utf8x` for the one paper.

[2018-09-15 17:44] #3199 closed, assigned to gallais

[2018-09-15 17:44] gallais commented on #3228
The commit to cherry-pick is 6349949acc7dfaeac5fe814e2b60c30edfae43c2

[2018-09-15 18:04] nad commented on #3199
Are warnings encountered in imported files still displayed to the user?

[2018-09-15 18:05] nad commented on #3227
This issue comes up relatively often. I seem to recall that @UlfNorell stated that it might be expensive to do what @gallais suggests.

[2018-09-15 18:42] UlfNorell commented on #3227
It's complicated by implicit argument/lambda insertion. It might be possible to do something, but I'm not sure what a principled thing would be (that isn't *try to type check all candidates*, which could get exponentially expensive).

[2018-09-15 19:20] JacquesCarette commented on #3227
I was under the (potentially very naive) impression that matita had a principled way to deal with disambiguation that would apply here?

[2018-09-15 19:47] gallais commented on #3199
Yes they are: [WarningOnUsage2](https://github.com/agda/agda/blob/master/test/Succeed/WarningOnUsage2.agda) makes sure of that.

I suppose the sentence is ambiguous: I was only talking about the *directive* to raise
a warning when a name is used. The warnings themselves are still handled the same
way as before.

[2018-09-17 06:38] andreasabel commented on #3102
Back to the original issue.
@jespercockx : Could you document briefly for the future generations what the problem was and what fixed it?  Thanks.

[2018-09-17 06:45] andreasabel commented on #3228
We could include fixes for closed `regression-in-2.5.4` issues.  Currently, there is only one that has not been released with 2.5.4.1, and that is #3177 (PR #3204).

[2018-09-17 07:14] andreasabel commented on #3227
Maybe the common uses could be disambiguated with some form of _approximate typing_ that rules out the bad candidates.  In the present case, we have `suc n` with candidates
[code]
All we need to know to disambiguate here is that `n` cannot have type `Fin _`.  We need to do an approximate type inference for `n` and trigger a mismatch of its type with `Fin _`.   My hunch would be that by being appro

[2018-09-17 11:43] gallais opened #3230 "Add a beginner-friendly error / warning mode which points to the relevant docs"
I was reading an issue on the Idris bug tracker where people were puzzled by the
use of "strictly positive". Given that we have great documentation covering these
topics ([case in point](https://agda.readthedocs.io/en/latest/language/data-types.html#strict-positivity)), I think it could be helpful to newcomers to point directly to
them from inside our error messages.

This mode could be enabled vi

[2018-09-17 13:51] jespercockx commented on #3102
Right. The performance regression was introduced because I turned `univSort'` (which computes the universe 'one level up' from a given sort) from a pure function into a `TCM` action (well, actually an `m` action for any `MonadReader TCState m`). The reason for this change was because when I introduced the new option `--omega-in-omega`, the reduction behaviour of `univSort'` depends on whether or n

[2018-09-17 16:17] nad commented on #3227
The problem in the OP is somewhat confusing, and annoying, and comes up fairly often, so I think it makes sense to try to solve it, perhaps even imperfectly. However, still I  wonder if your suggested approach isn't too complicated.

[2018-09-17 16:27] nad commented on #3230
Such a mode should perhaps be enabled by default. Experienced users can turn it off if they want to. This can be somewhat awkward when switching between different versions of Agda in the Emacs mode, but I don't want to ask newcomers to customise Emacs before they begin using Agda.

One alternative is to require the use of a flag, but include this flag in the default value of `agda2-program-args`.

[2018-09-19 08:28] EdNutting commented on #2124
Has a reasonable way to solve this been found? If so, I'd love to know - I'm trying to engineer a system and having the ability to write "xyz _  = thing for all cases" would be extremely useful.

[2018-09-19 09:28] jespercockx commented on #2124
In theory --- yes. The elaboration algorithm described in our (Andreas and mine) upcoming [ICFP paper](https://jesper.sikanda.be/files/elaborating-dependent-copattern-matching.pdf) does case splitting *before* checking the right-hand side (or rather, interleaved with), so you get the effect you want. It's just a question of finding the time and mental stamina to do all the refactoring required to

[2018-09-19 10:28] nad commented on #2124
How do you handle open goals on the right-hand side?

Consider the following code:
[code]
What is the final goal type?

[2018-09-20 08:13] guillaumebrunerie opened #3233 "Type declarations not accompanied by a definition should be highlighted in the emacs mode"
I think that type declarations not accompanied by a definition should be highlighted in the emacs mode (in addition to the warning).
The reason is that when you have a file with many goals, the warnings appears below the goals so you can easily miss it (for instance if you have several goals in one part of the file but you’re working on a different part).

[2018-09-21 12:51] patrl opened #3234 "agda emacs mode as separate repo?"
This is less a specific issue, and more of a general query. Is there a good reason for the agda emacs mode to be kept in this repo and distributed with agda releases? Does it need to be built against a given version of agda? If not, it would seem to me to make sense to move the agda emacs mode source into its own repo for ease of maintenance, perhaps adding the main agda repo as a submodule if nec

[2018-09-21 14:44] guillaumebrunerie commented on #3081
The following is an even more simplified example:

[code]

[2018-09-22 08:02] nad commented on #3234
Yes.

This sounds interesting.

[2018-09-22 09:34] patrl commented on #3234
Thanks for the quick response!

Huh. As far as I can see, it's just a bunch of emacs-lisp files in `/src/data/emacs-mode`. I understand that compatibility between different versions of agda needs to be maintained, but that easy to achieve by tagging releases. If the answer is just that this is how things are done and it would be a pain to change them, then that's OK! :)

[2018-09-22 13:54] andreasabel opened #3235 "Cannot pass backend flags via emacs variable `agda2-program-args`"
I am trying to pass options to GHC when invoking it via the Agda GHC backend from emacs (`C-c C-x C-c`).  The following attempts fail:
- A local `{-# OPTIONS --ghc-flags=... #-}` is not recognized.
- Adding to `agda2-program-args` fails to start agda with error
[code]

But for some strange reason, the following does not complain:
[code]
I cannot reproduce the error `Unrecognized option` on the com

[2018-09-22 14:16] andreasabel commented on #3235
The culprit may be this call to `parseStandardOptions'` in the execution of `Cmd_load`:
https://github.com/agda/agda/blame/a01873e16a4c45280a09156887e968e278ae61fd/src/full/Agda/Interaction/InteractionTop.hs#L1159 .
It does not use handlers for the backend options and complains about unrecognized options.

[2018-09-22 14:28] andreasabel commented on #3235
Regression: I am not observing a load failure in agda-2.4.2.6 with option `--ghc-flag=-v` in the `agda2-program-args`.

[2018-09-22 14:41] asr commented on #3228
Done!

[2018-09-22 21:47] asr commented on #3223
We started to use `cpphs` due to some problems with `Clang` on macOS.  Is `Clang` the default compiler in MacOS? Currently is there some problem using `Clang` and `cpp` when building Agda? I'm asking because I want to include the fix for this issue in 2.5.4.2 (see #3228).

[2018-09-22 23:08] asr commented on #3228
I couldn't include the fix of #3177. After cherry-picking the commits, I get the error

[code]

Looking for when `IApply` was added, `git blame src/full/Agda/Syntax/Internal.hs` shows that it was added in the mega-commit 54d59143b56fae5200ce03dc715ab7524f4074fd.

[2018-09-22 23:16] asr commented on #3160
GHC 8.6.1 was [released](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-September/026803.html). I updated the OP.

[2018-09-23 02:20] asr commented on #3223
I just found 5ff3fc5155af087c3881915ed82e45c9d06523df which fixed some problems with `Clang`. Since we *have no* CI for `Clang` developers using this compiler are on their own.

It seems safer
1. revert the fix to this issue, i.e. to continue using `cpphs` by default and also testing `cpp`, and
2. following the OP, make `cpp` by default in Windows, if possible.

Any opinions?

[2018-09-23 05:21] UlfNorell commented on #3228
I guess you already spotted 5ff3fc5. I'm not sure how many of those `\and` characters are in 2.5.4.1.

[2018-09-23 05:42] asr commented on #3228
Neither do I. Travis and I not use `Clang`.

[2018-09-23 14:54] UlfNorell commented on #3228
To be fair you don't need clang to see if the comments I changed are in 2.5.4.1 or to grep for `\and`. It looks like those comments are all about `cubical` though.

[2018-09-24 00:26] asr commented on #3213
It is not necessary. From the MonadFail [proposal](https://prime.haskell.org/wiki/Libraries/Proposals/MonadFail):

The [​fail](http://hackage.haskell.org/package/fail) library provides a forward-compatible `MonadFail` class for GHC versions prior to GHC 8.0.

In fact, we are importing this library in `Agda.cabal`:

[code]

I added the `MonadFail` instance for `TCMT` in 5237c619083a42c1065c8f5a0c0e

[2018-09-24 03:13] asr opened #3237 "Reenable test LibSucceed/Issue854.lagda"
I updated the submodule commit for the standard library in ec3e855918e34ab27d94443c3de77c97b8d8024b but I needed to disable the test  `LibSucceed/Issue854.lagda`. Could someone adapt this test to the current standard library, please.

[2018-09-24 07:31] nad commented on #3234
The interface between the Emacs mode and Agda changes now and then. When it does I prefer a single commit touching both sides to separate commits in two repositories.

Note also that the Emacs mode is bundled with the Agda program, and there is a small program that updates users' `.emacs` files. We implemented this a long time ago, probably before ELPA existed. Perhaps it would make sense to look

[2018-09-24 10:54] #3237 closed, assigned to asr, gallais

[2018-09-24 11:41] asr commented on #3237
Thanks!

[2018-09-24 14:21] andreasabel opened #3238 "Printing of inserted hidden lambdas"
The printing of inserted hidden lambdas has been irritating me for years.
And for newcomers it is very confusing.

Short test case:
[code]

[2018-09-24 14:31] asr commented on #3213
I reverted the above commit. We should add this instance *after* fixing the failable matches adding some `__IMPOSIBBLE__`s.

[2018-09-24 14:47] patrl commented on #3234
Thanks for the detailed explanation, I appreciate it.

For what it's worth, I think that from the perspective of long-term maintenance, it makes sense to take advantage of the existing infrastructure for emacs package management, rather than a hacky script. The current method makes it difficult to, e.g,, lazily-load agda-mode via `use-package`, and requires manual intervention for any non-standard

[2018-09-24 15:28] asr opened #3239 "Travis fails on `compiler-test`"
When running the `compiler-test` on GHC 8.0.2 Travis is failing with the error:

"No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself."

See the jobs [432305585](https://travis-ci.org/agda/agda/jobs/432305585), [432413810](https://travis-ci.org/agda/agda/jobs/432413810), and [432492508](https://travis-ci.org/agda/agda/j

[2018-09-24 16:25] asr commented on #3213
Please ignore the above comment.

[2018-09-24 16:47] JacquesCarette commented on #3238
Emphatically agreed! I am no longer a newcomer, and this still takes me some time to parse properly.

[2018-09-24 20:06] nad commented on #3234
I don't see what the issues you bring up have to do with where the Emacs mode is hosted.

If you want to make the Emacs experience smoother in some way, then that sounds good to me, as long as it doesn't create a maintenance problem for us down the road.

[2018-09-25 08:32] andreasabel opened #3240 "Printer prefers (longer) qualified over (shorter) unqualified name"
The printer prefers (longer) qualified over (shorter) unqualified name, even if the former is unambiguous.
[code]
This effectively discourages me from qualified imports in the style of
[code]

[2018-09-25 11:21] asr commented on #3239
The  `travis_wait` command didn't fix the issue.

[2018-09-26 06:51] UlfNorell commented on #3223
I think the best approach is to leave `cpp` as the default, but keep support for `cpphs`. It's a lot more common that people have problems with `cpphs` than that there is an issue with `cpp`. We might not have CI for MacOS, but we do have developers (me at least) using it, so I don't think catching the rare problems is an issue.

[2018-09-26 09:27] andreasabel opened #3244 "Let `--no-prop` be default for agda-2.6.0"
Because `--prop` is not fully backwards compatible (generates unsolved constraints, see #3167), I'd say we let `--no-prop` be the default until `Prop` has proven its merits.
(That wouldn't be the first feature that is under a flag for a certain trial period.)

[2018-09-26 09:32] andreasabel commented on #3213
Which one?  (I am a bit confused.)
Note: You can easily delete a comment of yours if it should be ignored (especially if it is the last one with no references to it).

[2018-09-26 09:47] UlfNorell commented on #3240
In this particular case the more natural qualified import would be
[code]
in which case you get the expected behaviour.

Printing of names from module applications is done by generating a display form for the right-hand side (`Agda.Builtin.Equality`) to the left-hand side (`Eq`). At the moment I don't believe there is any heuristics for deciding whether not using the display form would be a better

[2018-09-26 12:20] asr commented on #3213
This one:

[2018-09-26 13:05] UlfNorell commented on #3170
[StackExchange](https://tex.stackexchange.com/questions/161491/problem-with-defining-new-unicode-character?rq=1) suggests using [`newunicodechar`](https://ctan.org/pkg/newunicodechar?lang=en) instead of `DeclareUnicodeCharacter`.

[2018-09-26 15:23] asr commented on #3239
Current status:

The `compiler-test` started to fail *only on GHC 8.0.2* on Travis with the error

after commit ec3e855918e34ab27d94443c3de77c97b8d8024b. This commit updated the version of the standard library used  by the Agda repository. This update includes approx 70 commits from the standard library.

I have done the following tests (in personal branches):

1. I increased the timeout in Travis

[2018-09-26 15:41] nad commented on #3170
From the [documentation](http://mirrors.ctan.org/macros/latex/contrib/newunicodechar/newunicodechar.pdf) of newunicodechar: The package "won’t work with the utf8x option".

[2018-09-26 20:01] asr commented on #3160
Current status (last edited 2018-10-01):

1. The current `master` compiles with GHC 8.6.1.

2. The changes required for supporting the [MonadFail proposal](https://prime.haskell.org/wiki/Libraries/Proposals/MonadFail) were excluded from GHC 7.10.3 (see the reasons in commit c14f2336baee03edd981641f3d78b22d19faa45a). In consequence, after the complete support for GHC 8.6.1 be in `master`, it'll be

[2018-09-26 20:02] asr opened #3245 "The test-suite is failing on GHC 8.6.1"
For example, using GHC 8.6.1 I got,

[code]

but using GHC 8.4.3, I got

[code]

Note that when using GHC 8.6.1 the warnings are not reported (and in consequence
the `succeed` test fails).

I have not had time to look at this problem but I am reporting it now thinking about speeding up Agda support to GHC 8.6.1.

[2018-09-26 20:26] gallais commented on #3245
Seems strange. Have you tried passing `--ignore-interfaces` to agda?

[2018-09-26 23:29] asr commented on #3245
Yes. I see the same behaviour using `--ignore-interfaces`.

[2018-09-27 07:14] nad commented on #3160
What does this mean? Have you dropped support for GHC 7.10.3?

I'm often using 7.10.3 when running `agda-bisect`, because it tends to work fairly well for me. Thus I'd prefer if we could keep supporting 7.10.3 for a while.

[2018-09-27 07:18] nad commented on #3245
Perhaps the two binaries are compiled using different versions of libraries, and some library has changed.

[2018-09-27 08:24] andreasabel commented on #3245
Can you elaborate?  I don't understand this comment.  What binaries are you referring to?

[2018-09-27 10:07] andreasabel opened #3246 ""modules are not allowed in mutual block", but new-style implicit mutuals accept them"
Agda complains that "modules are not allowed in mutual block", but accepts modules in new-style implicit mutual blocks.
[code]
Error:
[code]

[2018-09-27 11:07] nad commented on #3245
The two Agda binaries, one compiled using GHC 8.4.3, and one compiled using GHC 8.6.1.

[2018-09-27 11:44] asr commented on #3160
No.

s/necessary/convenient

[2018-09-27 14:48] asr opened #3247 "Support cabal-install >= 2.4.1.0 in the Makefile"
Using that version of `cabal-install`I'm getting the following warning:

[code]

I created this issue for recording the changes required.

[2018-09-27 17:29] UlfNorell commented on #3247
Using `new-install` doesn't work at the moment due (at least) to https://github.com/haskell/cabal/issues/5550.

[2018-09-28 10:24] guillaumebrunerie opened #3248 "Max of two sizes less than i"
The code below does not typecheck with the following error (pointing at the argument `{j₁ ⊔ˢ j₂}` of the last `cons`)
[code]

It looks like even though `j₁ : Size< i` and `j₂ : Size< i`, we do not have `j₁ ⊔ˢ j₂ : Size< i`. Is that expected?

Another related issue is that if you replace the last line by
[code]

then C-c C-s solves the first question mark to `j₁` which is not expected as we wanted

[2018-09-28 19:10] cdunham opened #3249 "Reproducible internal error in automatic proof of false"
.hs:178

[2018-09-28 19:13] gallais commented on #3249
I believe this is #3199. It's been fixed but we have a hard time finding a good test
case for it. Unfortunately your case doesn't seem to reliably trigger the bug either.

[2018-09-28 19:14] #3249 closed, assigned to nobody

[2018-09-28 19:15] cdunham commented on #3249
Thanks. Seemed pretty reliable for me, but glad it's sorted.

[2018-09-28 19:22] gallais commented on #3249
It has to do with serialization so caching plays a role there. It's hard to get it to manifest
itself from a blank slate which is what the test suite needs. :/

The bugfix will be part of the minor release 2.5.4.2 so hopefully you won't have to suffer
from it for too long.

[2018-09-28 19:36] gallais commented on #3248
Note that for this particular case you can use either of the following types:

[code]

and then derive the type you wanted as a corollary.

[2018-09-29 14:03] asr commented on #3223
Enough for me.

[2018-09-29 14:32] jespercockx commented on #3248
Maybe this is caused by the fact that a variable `j : Size< i` is represented internally as `j : Size` together with a constraint `j < i`? So in your example it becomes `j₁ : Size` and `j₂ : Size` with `j₁ < i` and `j₂ < i`. It seems to me that something with this encoding is going wrong internally, but I'll have to investigate further.

[2018-09-29 19:01] #3223 closed, assigned to asr

[2018-09-30 18:31] gallais opened #3251 "Feature request: A keyword for a record-only pattern-matching lambda which doesn't start a new layout"
Nesting pattern-matching lambdas with the `λ { .. }` syntax is a PITA. `λ where ..`
makes our life easier except that it requires everything coming after the pattern to be
layed out to the right of it.

When our pattern-matching lambdas only have one constructor (typically: when defining
coinductive structures), we'd like to be able to use trailing patterns. That doesn't work.

[code]

[2018-10-02 13:42] andreasabel commented on #3154
Problem originated in work on #3104.

[2018-10-02 13:43] andreasabel commented on #3104
Patch https://github.com/agda/agda/commit/18743484d0a0f01e068287fe50a465d8e0044699 triggered #3154.

[2018-10-02 14:20] asr opened #3252 "Build error using QuickCheck 2.12.5"
[code]

[2018-10-02 14:40] #3252 closed, assigned to asr

[2018-10-05 13:41] asr opened #3254 "`cpphs` doesn't build with GHC 8.6.*"
I filed https://github.com/malcolmwallace/cpphs/issues/18.

[2018-10-05 13:46] asr opened #3255 "Missing `stack-8.6.1.yaml` file"
I'm waiting a resolver for GHC 8.6.1 for adding the file.

[2018-10-05 13:56] asr commented on #3160
I filed separated issues for the current problems with GHC 8.6.1: #3245, #3254 and #3255.

[2018-10-05 18:28] asr commented on #3245
The GHC 8.6.1 test on Travis also is [failing](https://travis-ci.org/agda/agda/jobs/437647189) due to the same problem.

[2018-10-05 20:40] nad commented on #2473
A potential problem: `Agda.Interaction.FindFile.moduleName'` reads source files. I have not checked whether this could lead to race conditions like the ones reported above.

[2018-10-06 08:18] omega12345 opened #3256 "Internal error at src/full/Agda/TypeChecking/Reduce.hs:148"
While in the folder Weird, run
agda ImportTests/ExtractFunction.agda --allow-unsolved-metas

[Weird.zip](https://github.com/agda/agda/files/2452833/Weird.zip)

[2018-10-07 14:11] nad opened #3257 "Anonymous top-level modules can have names with multiple components"
The following code is accepted by Agda when the file name is `Bug.tex.agda`:
[code]
If I load this file and check why `A` is in scope then Agda explains that it is defined in `Bug.tex`:
[code]

[2018-10-07 17:05] nad commented on #2092
The (history of the) error message for `Issue2092.agda` suggests otherwise. It starts in the following way:
[code]
Did you change your mind?

(If anyone decides to do something about this, please wait until after I have pushed a fix for #2473.)

[2018-10-08 08:54] #2473 closed, assigned to nad

[2018-10-08 08:54] #3257 closed, assigned to nad

[2018-10-08 08:55] nad commented on #2473
I (hope that I) fixed all the issues in the OP, as well as the potential problem with `moduleName'`. As an added bonus `moduleName'` (now called `moduleName`) no longer reads or parses files.

[2018-10-08 08:57] nad commented on #2092
Done.

[2018-10-08 09:50] fredrikNordvallForsberg commented on #3256
Smaller test case:

File `A.agda`:
[code]

File `B.agda`:
[code]

Loading `A.agda` (with Agda version 2.6.0-bc7c0b1) gives
[code]

[2018-10-08 22:36] xekoukou opened #3258 "Ordering the constructor names at Definition."
Is it possible to guarantee that the order of the constructor names in the [Datatype]( https://github.com/agda/agda/blob/323f58f9b8dad239142ed1dfa0c60338ea2cb157/src/full/Agda/TypeChecking/Monad/Base.hs#L1601) remains consistent with the order that the Constructors were defined?

I am trying to create a FFI with OCaml. Ocaml's internal representation of Algebraic data types depends on the order of

[2018-10-09 04:52] UlfNorell commented on #3258
They should be. Do you have an example when they're not?

[2018-10-09 09:12] xekoukou commented on #3258
I haven't checked yet. But even if they are ordered now, the behavior might change if this property is not documented and tested. Or another solution is to add a tag field in the [Constructor](https://github.com/agda/agda/blob/323f58f9b8dad239142ed1dfa0c60338ea2cb157/src/full/Agda/TypeChecking/Monad/Base.hs#L1642) definition, that indicates the order (of the definitions).

[2018-10-09 09:18] jespercockx commented on #3211
I implemented the check that @nad suggested (checking generality+linearity of the parameters before throwing them away). However, now the last two examples of @andreasabel are rejected without throwing an internal error, and I cannot reconstruct a good test case. Could you take a look if you can reconstruct the internal error?

[2018-10-09 09:47] gallais commented on #3258
Correct me if I'm wrong but for these kind of definitions to make sense we need to
always preserve the order the constructors were defined in?

[code]
Not sure we already have a test case for these (and I have no idea how I would go
about looking for one...).

The same is true to some extent for HITs IIUC.

[2018-10-10 07:00] nad commented on #3154
A related problem: I ran `make install-prof-bin` now, and the installed binary was called `agda-2.6.0`, not `agda_p` or `agda_p-2.6.0`. I think that this regression was also caused by 18743484d0a0f01e068287fe50a465d8e0044699.

[2018-10-10 08:42] andreasabel opened #3259 "GHC Backend: syntax for binding constructors considered brittle"
I find the syntax `{-# COMPILE GHC d = data D (cs) #-}` for binding Haskell constructors to Agda constructors brittle.  If you have a long lists of constructors, you have to manually compare them item-by-item to ensure correctness.  I'd prefer a syntax where matching constructors are adjacent.

Here is my use case, binding a Haskell AST to Agda:
[code]
I'd prefer a syntax like
[code]
A syntax simi

[2018-10-10 08:43] andreasabel commented on #3258
The order of constructors is guaranteed, otherwise the GHC backend would not work properly. See issue #3259 where this matters.

[2018-10-10 08:43] #3258 closed, assigned to nobody

[2018-10-10 09:12] UlfNorell commented on #3259
May I propose a more light-weight and backwards-compatible extension that doesn't require completely changing how pragmas are parsed:

[code]

[2018-10-10 11:45] andreasabel commented on #3256
The bug must be newer than 2017-11-05 (the date of my last compilation of Agda-2.5.4 on the current machine).

[2018-10-10 16:13] andreasabel opened #3261 "On ghc-8.2, agda with `--enable-tests` does not coexist with `pandoc`"
After (force) installing `pandoc-2.3.1` I can still install agda by `cabal install` in the agda root directory, but `make install-bin` fails.

The problem is the option `--enable-tests` which is passed to `cabal install` by `make install-bin`.

I am a bit at a loss how to interpret cabal's output; which one is the culprit that is responsible for the downgrades?
[code]

[code]

[2018-10-10 16:36] andreasabel commented on #3261
I solved my problem by hand-installing a few packages and then trying again.
[code]
The third installed `tasty`:
[code]
Then I succeeded:
[code]
I noticed that `tasty` has a major version jump: `tasty-0.11.2.5 -> 1.1.0.4`.

Is there a reason to not require the latest version of `tasty`?
It has an excellent build matrix:
https://matrix.hackage.haskell.org/#/package/tasty

[2018-10-10 16:41] andreasabel commented on #3261
@asr: My suggestion would be to bump the lower bound of `tasty`.
But since you are the expert here, I do not want to mess around.  Would you take a look?

[2018-10-10 16:55] asr commented on #3261
Yes.

[2018-10-10 20:37] ice1000 commented on #3228
When do you plan to release 2.5.4.2?

[2018-10-11 06:56] UlfNorell commented on #3170
I disabled the `DeclareUnicodeCharacter` tests for now.

[2018-10-11 07:17] nad commented on #3224
Are there no objections to this?

[2018-10-11 08:16] nad commented on #3261
FYI: This change made my latest build a little more complicated. (For some reason Cabal wanted to upgrade stm, even though the currently installed version was in range. This could have broken some installed packages. However, I could force Cabal to use the currently installed version of stm by using the `--constraint` flag.)

[2018-10-11 11:42] guillaumebrunerie opened #3262 "Suboptimal placement of "missing with-clauses" error"
Consider the following code
[code]
(note that I am doing a `with` with two terms, but on the last line I only match with one of them)

The error `Missing with-clauses for function f` points to the `f : T → Set` line. It would be more helpful if it pointed to one of the last two lines. If the definition of `f` is big and has many patterns before the offending `with`, it can be hard to find where th

[2018-10-12 00:26] xekoukou opened #3263 "Documentation on the cases where funTreeless is Nothing."
While trying to compile the ```Prelude``` Library, I stumbled upon a [function](https://github.com/UlfNorell/agda-prelude/blob/master/src/Prelude/Equality.agda#L87) that did not return a treeless Term.

Is it safe to ignore it?
The haskell backend apparently ignores [them](https://github.com/agda/agda/blob/323f58f9b8dad239142ed1dfa0c60338ea2cb157/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L366)
ed

[2018-10-12 07:49] nad commented on #3261
After you bumped the lower bound of tasty I started getting problems with the test suite. In particular, some warnings disappeared from the output of test cases under `test/Succeed`. I tried to downgrade to tasty-1.0.1.1, and the problems disappeared.

[2018-10-12 07:54] nad commented on #3261
Note that tasty-1.0.1.1 does not build under GHC 8.6.1.

[2018-10-12 07:54] nad commented on #3261
As far as I know this was the only change. (Some libraries that depend on tasty were recompiled.)

[2018-10-12 11:23] UlfNorell commented on #3261
cc #3245.

[2018-10-12 11:24] UlfNorell commented on #3245
The problem (discovered in #3261) seems to be the new version of `tasty`.

[2018-10-12 12:31] asr commented on #3228
I want to include support for GHC 8.6.1 in 2.5.4.2, so we need to fix #3245 and cherry-pick from master the commits which fixed #3160.

[2018-10-12 12:35] asr commented on #3261
On which version of GHC did you get the problems?

[2018-10-12 15:25] guillaumebrunerie opened #3264 "When refine leads to a termination error it should say so rather than "cannot refine""
In the code below, trying to refine with `f` leads to the confusing error message `Cannot refine`. Giving `f ?` instead gives the expected error message `Termination checking failed […]`.

[code]

[2018-10-12 19:01] nad commented on #3261
I retract this statement, because I'm starting to think that I switched from 8.6.1 to 8.4.3. At least I failed to reproduce the problem with 8.4.3 now. Perhaps tasty is not to blame.

[2018-10-12 19:02] #3261 closed, assigned to asr

[2018-10-12 21:50] xekoukou commented on #3263
[ defNoCompilation](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Monad/Base.hs#L1425) should be set to true if a specific function is not to be compiled.

Simpler example :
[code]

[2018-10-13 07:37] andreasabel commented on #3256
Introduced by 9d6a6540aa4abb45b07f37d08dfc10e5dd340b4e in the context of adding `MetaS` to the `Sort`syntax.
`instantiate (MetaS x es)` calls `instantiate (MetaV x es)` and expects to get either a `Sort`or a `MetaV`, but apparently in this case it is something else, maybe a `Lam` or a neutral.
@jespercockx ?

[2018-10-13 09:13] #3244 closed, assigned to andreasabel

[2018-10-13 15:35] ice1000 opened #3265 "--without-K inconsistency"
Ref: https://cs.stackexchange.com/q/98460/79971

Code:

[code]

(Depends on agda-stdlib)

`kksk-why` doesn't check while `kksk-wtf` checks.

[2018-10-13 17:07] jespercockx commented on #3265
I don't understand why this is confusing: `kksk-why` is matching on `refl` of type `ℕ ≡ ℕ` so it's rejected (since there can be other proofs besides `refl` in HoTT), while `kksk-wtf` does no matching so it is accepted. Can you explain why you think this is inconsistent?

[2018-10-13 18:51] xekoukou commented on #3263
It seems from the code that ```funMutual``` is only updated on specific cases only, when we have mutual
blocks. In a simple recursive function it is not. I am closing the issue.

[2018-10-13 18:51] #3263 closed, assigned to nobody

[2018-10-13 20:15] ice1000 commented on #3265
I'm just confused: the prohibited pattern matching (`kksk-why`) can be done indirectly (`kksk-wtf` with `kksk`). IMO it's fine to pattern match `ℕ ≡ ℕ` with `refl` (since it's [accepted in Coq][1]).

 [1]: https://cs.stackexchange.com/a/98509/79971

[2018-10-13 20:35] jespercockx commented on #3265
I don't know why Coq would accept this definition, but it's definitely not possible to implement `kksk-why` in basic Martin-Löf type theory with just the `J` eliminator for the identity type, which is (roughly) the guideline I used for implementing `--without-K` (see my [thesis](https://jesper.sikanda.be/files/thesis-final-digital.pdf) for more details). If Coq goes beyond that, then that's some p

[2018-10-13 20:35] #3265 closed, assigned to nobody

[2018-10-13 20:54] ice1000 commented on #3265
I think I understand this. Even under the context of `kksk-wtf`, I can do nothing with the matched `refl` on `ℕ ≡ ℕ` (while in `kksk-why`, you can), because such matched result is inside the context of `kksk`, which does not know about the type parameter `a`, is that correct?

[2018-10-13 20:55] ice1000 commented on #3265
It now makes sense to me.

[2018-10-13 21:05] semenov-vladyslav opened #3266 "Agda keeps rechecking already checked files."
Regression between the commits 8cb764ba5a0062bc455db69d4ac9a1822d2a02ed (older, good) and 3df6f5e937b146deaea6f1ebf1a534b699796a99 (newer, bad).

Loading a module in emacs with a few imports from std-lib (Data.Nat, Data.Sum) takes much time (like 20 min or more). Log shows that many modules are being rechecked many times (I guess because of import dependencies). Reloading the module in emacs leads

[2018-10-13 22:06] gallais commented on #3263
Might still be worth adding documentation (where `Defn` is defined).

[2018-10-14 00:00] ice1000 commented on #3199
The same thing happens to me, looking forward to 2.5.4.2

[2018-10-14 00:34] ice1000 opened #3267 "Auto should not print out-of-scope identifiers or add import statements"
Like, I can use `_+_` and `Nat` defined in the builtin package in this way:

[code]

[2018-10-14 06:13] andreasabel commented on #3267
The following works, would that suit you?
[code]
The `import` is indicating that some external file is involved.  Do you suggest one should be able to refer to these names without an import statement?  That would mean that whenever a qualified name is not in scope, we would look in the file system (as indicated by the info in the`.agda-lib` file)?!

[2018-10-14 06:17] andreasabel commented on #3266
That must be commits by you, @nad, on #2473, if I read the commit sequence correctly.

[2018-10-14 06:19] andreasabel commented on #3264
This could be fixed by distinguishing termination errors from typing errors, or by just reimplementing refine in a sane way (it also does not work with projections at the moment).

[2018-10-14 07:47] UlfNorell commented on #3266
I can't reproduce this (on a5514a2). Do you have a concrete file and std-lib commit that shows the problem? Also can you check whether
- it's also a problem when calling Agda from the command line
- the problem persists if you delete all your `agdai` files

[2018-10-14 07:50] UlfNorell commented on #3251
I've also been annoyed by this, but I don't have any good solutions. Do you have any ideas?

[2018-10-14 07:51] #3234 closed, assigned to nobody

[2018-10-14 07:56] UlfNorell commented on #3227
I prefer complicated over ad-hoc. Also I have a feeling type approximations might be useful in other places, like compiler optimisations.

[2018-10-14 07:59] gallais commented on #3264
In 2.6.0, refine seems to work in this case.

[2018-10-14 08:19] semenov-vladyslav commented on #3266
I have the same problem with a5514a2f728bd6f58c2a1efdbe7e2cc55e5ce928. Tried on the command line and deleting all `agdai` files - it's all the same. std-lib commits seem to be unrelated, but I used master.
This is the test module:
[code]
Log looks like this (excerpt):
[code]
I use stack-8.4.3.yaml to build Agda, if that helps.

[2018-10-14 08:34] jespercockx commented on #3251
Crazy idea, but how about extending do-notation to include copatterns as well as patterns? One would be able to write something like
[code]
Maybe this would be more confusing than helpful since it looks like `a'` and `a''` are being forced, while in fact it's the (anonymous) remainder of the `do`-block.

[2018-10-14 18:58] ice1000 commented on #3267
Sure, because the Auto-Proof-Search is generating such kind of code.

![image](https://user-images.githubusercontent.com/16398479/46920806-8c0b7900-cfc1-11e8-853a-2b61914b99c2.png)

Which cannot compile (since there are no imports for the constructors but for the record type itself).

[2018-10-14 19:30] ice1000 commented on #3267
Maybe I'm wrong. Such kind of generated full qualified name starts with `.`, updated the post.

[2018-10-14 20:34] semenov-vladyslav commented on #3266
I've added a debug output before https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Imports.hs#L372.
Here's what it shows (`isCached = isJust cached`):
[code]
Hashes clearly differ. `iSourceHash` seems to be defined as `hashText source` (changed from `hashFile file`). I'm on Windows and my git is configured to checkout with CRLF, so these were the conditions that triggered the prob

[2018-10-14 20:46] gallais commented on #3267
I'd argue that the bug is that Auto generates code mentioning out of scope names
and that they are accepted as hole fillers, not that we should have a syntax for
out of scope names.

[2018-10-14 21:31] ice1000 commented on #3267
It's also acceptable to me that Auto can add imports.

[2018-10-14 21:35] semenov-vladyslav commented on #3266
Ok. Changed `hashFile` in `Agda.Utils.Hash` into:
[code]
`hashFile` was only used here https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Imports.hs#L365.

This fixed the problem. Can't create PR as don't have permissions to push.

[2018-10-14 21:39] ice1000 commented on #3266
@semenov-vladyslav You can fork and create a PR.

[2018-10-14 22:17] semenov-vladyslav commented on #3266
Done https://github.com/agda/agda/pull/3269.

[2018-10-15 05:47] andreasabel commented on #3267
Unfortunately, it can't, since it can only fill holes, in which `import` statements are not legal. You will need to add the imports by hand.

I am closing this issue, mostly because Auto is unmaintained, and unless you volunteer to fix this issue yourself, things will stay as they are, I am afraid.

[2018-10-15 05:47] #3267 closed, assigned to nobody

[2018-10-15 05:55] ice1000 commented on #3267
Ok

[2018-10-15 06:25] andreasabel commented on #3259
That would work for me.  However, the old syntax should be preserved since it is sufficient for short constructor lists.

[2018-10-15 06:45] andreasabel commented on #3262
I'll attach the error location to the lhs with the with.

[2018-10-15 06:55] andreasabel commented on #3262
Fixed in eaa14b46a8605bfaaff6937025e3bdd9e7a2c7 (where I put #3263 by accident).

[2018-10-15 06:55] #3262 closed, assigned to andreasabel

[2018-10-15 06:55] andreasabel commented on #3263
The commit mentioned above actually fixes #3262, not this one.

[2018-10-15 06:58] nad commented on #3266
This fix looks correct to me. A test case should be included. I think one can construct a test case that triggers the bug on all systems by using a file with, say, `\r` as a line ending. (Note that the whitespace checking program might need a special case for this test case.)

[2018-10-15 07:38] andreasabel commented on #3264
Great!  I just added a test case.

[2018-10-15 07:38] #3264 closed, assigned to andreasabel

[2018-10-15 07:51] andreasabel commented on #3251
We could generalize the ordinary lambda to possibly be a single clause extended lambda.
[code]

[2018-10-15 08:25] guillaumebrunerie commented on #3264
Ah indeed, thanks, I think I was on a cubical branch which I assumed was up-to-date with master.

[2018-10-15 09:04] semenov-vladyslav commented on #3266
It's not actually a bug as a module will finally be typechecked. We can test it implicitly by checking that module `m is up-to-date` in log (need to pass `-v 5` to Agda) when it is imported for the second time. Or shall we instead test `hashTextFile` that it hashes files with and without `\r` to the same value? Also, is it possible to generate module with `\r` before running tests intead of having

[2018-10-15 09:33] wenkokke opened #3270 "Cannot have tests or examples not included in an Agda library"
I have the following directory structure for my Agda library:

[code]

My goal is to expose the `src/` directory through the Agda libraries mechanism, without exposing my tests or examples. For that reason, `bug-report.agda-lib` contains the following:

[code]

However, when I now try to compile `some-test.agda` or `some-example.agda`, I get the following error message:

[code]

[2018-10-15 09:40] wenkokke commented on #3270
The problem is [this function](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/Library.hs#L150-L163), which iteratively checks parent directories for .agda-lib files. Once it finds one, it doesn't check if the directory from whence we came was actually on the library include path.

I suggest updating this function with such a check, which – in effect – makes agda treat my `some-

[2018-10-15 09:42] wenkokke commented on #3270
A workaround is to put .agda-lib files in each of `tests/` and `examples/`, for separate projects called e.g. `bug-report-tests` and `bug-report-examples`.

[2018-10-15 15:45] divipp opened #3272 "make generalized variables implicit automatically"
Currently one should explicitly tell that a variable will be generalized as a hidden variable:

[code]

It is a common error to omit the braces:

[code]

which means that `n` is added as an *extra* explicit argument which is mostly not the intention.

This could be solved by transforming `variable  n : Nat` to `variable  {n} : Nat` automatically, for example.

[2018-10-15 16:26] asr opened #3273 "Support GHC 8.4.4"
GHC 8.4.4 was [released](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-October/026809.html). I created this issue for collecting/reporting the required changes/issues.

[2018-10-15 16:28] UlfNorell opened #3274 "Generalise over metas in solutions of generalisable metas"
If a generalisable meta is partially solved, it would make sense to generalise over metas in the solution, even when those metas weren't originally generalisable. For instance:

[code]
Here the meta created for the length of `xs` is generalisable, but it gets instantiated with `suc n`, where `n` is the implicit argument to `IsHead`, which is not generalisable.

[2018-10-15 16:30] divipp opened #3275 "macros next to generalized variables"
[code]

should behave as

[code]

[2018-10-15 17:09] UlfNorell opened #3276 "Generalizable variables should not be instantatied"
[code]

[2018-10-15 17:38] andreasabel commented on #3246
A semantics of `mutual` could be: A mutual block is checked in two passes:
1. In the first pass, _everything_ except the definition bodies in the mutual block is checked.  This includes modules with their full contents.
2. In the second pass, the bodies are checked in the scope consisting of the signatures and the other content (like the modules).

Such a semantics is motivated by the consideratio

[2018-10-15 18:23] asr commented on #3239
@gallais fixed the issue in 265c916778becd1dac37be4978c2ea1532933130.

[2018-10-15 18:23] #3239 closed, assigned to asr

[2018-10-15 20:56] asr opened #3277 "Bump lower bound version of text library to 1.2.3.1"
GHC 8.4.4 includes a new version of the `text` library (version 1.2.3.1) fixing several serious bugs (see the announce [here](https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-October/026809.html)). I'll require this version of the library everywhere.

[2018-10-15 23:27] ice1000 commented on #3275
A possible off-topic question but I don't know where to ask: what is `variable` here? Is it a new keyword or some syntax structure?

[2018-10-16 00:02] ice1000 commented on #3275
Sorry, I get it now (after reading issues under "generalize" tag).

[2018-10-16 02:48] #3273 closed, assigned to asr

[2018-10-16 03:58] ice1000 commented on #3228
Requesting a new `.msi` installer for Windows.

[2018-10-16 10:35] nad commented on #3266
There is already a test case that checks that a file is not re-checked, see `relocatable-interfaces` in `examples/Makefile`.

It is easy to add an exception to `src/fix-agda-whitespace/FixWhitespace.hs'.

Does Git mess with line-endings? Note that `Agda.Utils.IO.UTF8.readTextFile` maps, for instance, `'\x2029'` (PARAGRAPH SEPARATOR) to `'\n'`. Perhaps this code point could be used in the test case

[2018-10-16 10:41] nad commented on #3228
Perhaps the fix for #3187 could be included in the release. (If it has been tested properly.)

[2018-10-16 10:45] jespercockx commented on #2273
I think we should revisit this issue before the next release.

I agree with the proposal by @guillaumebrunerie that there should be two variants of the 'solve constraints'. The first one (C-c C-s) should turn all unsolved non-interaction metas into interaction holes, and vice versa also turn all interaction metas into underscores (since they already have a place in the source code for the user to

[2018-10-16 10:49] nad commented on #3270
I think this would break a fair amount of my code. I often put exported source code under `src`, and a `README` module in the root directory. I have added `-i.` to `agda2-program-args`, and when I load `README` the exported files are found. With your suggested fix I guess that the exported files would not be found, because the `.agda-lib` file in the root directory would be ignored.

[2018-10-16 10:53] jespercockx commented on #2273
Here is a small example:
[code]
Using C-c C-s in the second hole currently solves the hole with `F {!!}`, thus creating a new interaction meta where none is needed. Instead, it should produce `F _`.