[2020-10-11 08:45] UlfNorell commented on #4970
The ambiguity is what's causing the extra `snd` argument, but as you say, it should be implicit not explicit.

[2020-10-11 14:59] dolio commented on #4970
I didn't mention it, but the type of the extra argument is pretty odd. It's `ℕ → A .proj₁`, but there are no variable declarations of that type in scope. In fact, the whole type specified by Agda is odd given the ambiguity:

    {A = x₁ : NEX} {B = B₁ : x₁ .proj₁ → NEX}
    (snd : ℕ → x₁ .proj₁) →
    Σ-syntax (x₁ .proj₁) (λ x₂ → B₁ x₂ .proj₁) → x₁ .proj₁

So, it isn't quantifying over two whole `

[2020-10-11 16:34] andreasabel commented on #4962
Which Agda version are you using @frankymacster >  When I compile `Agda.Data.Nat.Properties` to JS, using Agda-2.6.2 (current master), I see:
[code]

[2020-10-11 16:36] frankymacster commented on #4962
Hi @andreasabel I'm using Agda-2.6.1. Does the JS backend of Agda-2.6.2 actually compile to es6?

[2020-10-11 16:39] andreasabel commented on #4964
Who contributed or maintains the homebrew / nix installers?

[2020-10-11 16:43] andreasabel commented on #4962
It seems that the JS backend was improved recently, see #3395.  We do not backport fixes to older versions of Agda.

Can you try to install Agda-2.6.2 from the git repo?  This seems to be your best bet.  Or do you need to work with a released version of Agda?

[2020-10-11 17:02] berndlosert commented on #4964
Here's the brew formula for reference: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/agda.rb

[2020-10-11 17:42] andreasabel commented on #4958
I implemented this feature, but it does not harmonize with the reexport practice of the standard library:
https://github.com/agda/agda-stdlib/blob/e34a31f80b215812ab26c10f84c9a658eeda3110/src/Data/Unit.agda#L21-L22
Deprecated identifiers are here imported by name for reexport.

That this works without triggering warnings is maybe more by accident.  If instead one would reexport by alias, like
[cod

[2020-10-11 18:13] andreasabel commented on #4967
If I eta-contract `check`, the output of the compiled program is correct:
[code]

Using `-v treeless:35`, the false optimization can be caught red-handed:
[code]
The wrong branch is taken.

[2020-10-11 18:49] andreasabel commented on #4967
Haha, what a fool I have been, to think I could fix this issue.
This is the simplification function:
https://github.com/agda/agda/blob/08191e66e65a4870bf43e21007909fc03150eabf/src/full/Agda/Compiler/Treeless/Simplify.hs#L73-L449
@UlfNorell : If you want someone to help you with maintenance, you need to apply at least the most basic technique of software engineering: documentation.  Not speaking of

[2020-10-11 19:10] andreasabel commented on #4882
Apparently, this worked in 2.5.4.

Please remember to set milestones for closed issues, for the sake of the automatic changelog generation.

[2020-10-11 19:11] andreasabel commented on #4888
Please remember to set the milestone when closing issues for the sake of the automatic changelog generation.

[2020-10-11 19:25] andreasabel commented on #4869
In 2.5.4 this was still a hard error, in 2.6.0 then a warning with subsequent internal error.

[2020-10-11 19:42] andreasabel commented on #4815
Thanks for your contribution @mouse07410 and the good reviewing work, @rwe and @asr.

[2020-10-11 19:47] andreasabel commented on #4812
I think the fix for the present issue (#4812) was labeled to fix #4814 and closed it by accident.

[2020-10-11 19:50] andreasabel commented on #4814
I think this issue was closed on error (by fixes that addressed #4812).

@capn-freako : Did you manage to fix the problem?  (If not, we need more information to help.)
But it looks like `emacs` is not on the `PATH` when `agda-mode` tries to run it.

[2020-10-11 23:04] capn-freako commented on #4814
It looks like I fixed the problem manually, but then realized that I’d inadvertently wiped out my Emacs installation, which might explain why I was having the problem in the first place:

Run agda-mode setup.

$ agda-mode setup
agda-mode.exe: emacs: rawSystem: does not exist (No such file or directory)
Same result in PowerShell.

Adding .emacs.d/ to home directory doesn’t help: (Real one is in: ~/

[2020-10-12 01:09] MatthewDaggitt commented on #4958
This would be a hugely positive change and I'm 100% in favour. There's plenty of places in the standard library where we have to annoyingly disable deprecation warnings for an entire file just because we're using another deprecated function.

I'm not so sold on this one. The warnings can be useful within a library as well, i.e. finding all existing use cases of the deprecated functions.

[2020-10-12 05:01] UlfNorell commented on #4970
The way it works is that if a meta you wanted to generalize over is solved with a term containing other metas we generalize over those instead. So in this case `B.A` is solved with `A .proj₁ , _snd` for a fresh meta `_snd : ℕ → A .proj₁`.

[2020-10-12 07:47] jespercockx commented on #4727
Uh, it seems `checkInternal` only checks hiding & relevance of arguments, not other modalities

https://github.com/agda/agda/blob/08191e66e65a4870bf43e21007909fc03150eabf/src/full/Agda/TypeChecking/CheckInternal.hs#L276-L285

I have the feeling this *might* explain why `--double-check` doesn't catch anything here ;)

[2020-10-12 08:04] jespercockx commented on #4727
I've fixed this issue with `checkInternal` (see https://github.com/jespercockx/agda/tree/issue4727) but that doesn't seem to change anything for the test case here.

Now that I think about it, it makes sense, since the issue here is more of a global violation of the erasure rules rather than a local one: probably the internal has the right annotation, but this annotation is lying about the actual

[2020-10-12 08:22] #4970 closed, assigned to UlfNorell

[2020-10-12 08:25] jespercockx commented on #4727
The check that the solution of a non-erased metavariable should not contain any erased subterms, is done by the Occurs checker (Agda.TypeChecking.MetaVars.Occurs). However, while there is a check for erased definitions and erased (regular) variables, the check for erased metavariables seems to be missing. The strange thing is that I cannot find the corresponding check for irrelevance either, so I

[2020-10-12 08:26] andreasabel commented on #4958
Here is the [GHC solution](https://downloads.haskell.org/~ghc/6.4/docs/html/users_guide/pragmas.html) (no essential change since 6.4):

Since we have more fine-grained modules, we cannot copy this over literally.  But we can take some inspiration.

I like the pragma name `DEPRECATED`.  We could have it in two forms:
- `{-# DEPRECATED x y z "msg" #-}` : Deprecate `x` `y` `z` with message.
- `{-# DE

[2020-10-12 08:30] jespercockx commented on #4727
The test case still passes when replacing erasure by irrelevance, so perhaps the problem is not just there for erasure.

[2020-10-12 08:42] jespercockx commented on #4727
Bingo, adding this check to the occurs checker makes the file fail with unsolved metas (both with erasure and irrelevance). Now we'll just have to see how many things this breaks in other test cases...

[2020-10-12 08:49] UlfNorell commented on #4967
The problem was that the instance gets inlined and the simplifier can't handle partially builtin-translated code. In this case the pattern matching in the instance implementation had been translated to Haskell integers instead of `pos` and `negsuc` constructors, but the `pos 0` argument in `check` had not. Solution: do builtin-translation as the first step in the pipeline.

[2020-10-12 09:44] #4904 closed, assigned to nobody

[2020-10-12 11:39] #4967 closed, assigned to UlfNorell

[2020-10-12 12:33] andreasabel commented on #4672
I checked what is missing to add Agda to stackage:
[code]
- [ ] `aeson` and `strict`: The upper bound has already been relaxed in master (see #4838) commits 292f7d8c3def7e69ce9e79c67c895d6a4956dc5f and 0497ec9fdde159a56ee42821e500b52d66374201 can be cherry-picked to Agda 2.6.1.2.
  <del>Maybe we can just edit the bounds on hackage to spare us from going through the release procedure.</del>
- [ ] `

[2020-10-12 12:48] andreasabel commented on #4672
@L-TChen : Could you please (as maintainer) add `geniplate-mirror` to stackage nightly, or tell me to do it.  It runs through `verify-package` without problems.

[2020-10-12 13:13] L-TChen commented on #4672
Sure I will do it tomorrow. By the way, are we actually using `Data.Generics.Geniplate` anywhere? I remember some commit by you tried to remove many Template Haskell. Maybe I am mistaken.

[2020-10-12 13:24] andreasabel commented on #4749
For the sake of releasing Agda to stackage (https://github.com/agda/agda/issues/4672#issuecomment-707092300), we have to release at least two commits:
- [x] 292f7d8c3def7e69ce9e79c67c895d6a4956dc5f upgrade to latest `aeson`
- [x] 0497ec9fdde159a56ee42821e500b52d66374201 upgrade to latest `strict`

We could also release some fixes mentioned in the OP:
- [x] 5dd036739690e583b998b80cd873d8d4209f0766

[2020-10-12 13:27] andreasabel commented on #4672
Indeed, it will be obsolete from 2.6.2.  However, 2.6.1.2 (#4749) will be basically 2.6.1(.1) with only some obstacles to compilation removed (and maybe 1-2 critical bug fixes).

[2020-10-12 13:58] jespercockx opened #4975 ""no such meta variable" when calling `C-u C-c C-;`"
Minimal test case:
[code]
Calling `C-u C-c C-;` in the hole gives the following error message:
[code]

[2020-10-12 15:03] Saizan commented on #4966
This kind of definition would be disallowed by the positivity checker once the extra clauses for issue #3733 get generated.

However other we would also disallow some legitimate code, like working with universes of strictly positive functors if the universe is indexed. In that case I suppose refactoring with explicit equality proofs in the constructors could help.

Also apparently `Data.Trie.NonEm

[2020-10-12 15:23] nad commented on #4968
I added `debugConstraints` to `Agda.TypeChecking.Generalize.generalizeType'`:
[code]

[2020-10-12 15:25] nad commented on #4966
Have you merged the master branch into the issue3733 branch? In that case I could test it with my code.

[2020-10-12 15:28] nad commented on #4727
Did anything break?

[2020-10-12 15:39] jespercockx commented on #4727
Yes, just postponing when there's a meta doesn't quite work. It might be better to instead 'promote' the meta from erased to non-erased (similar to pruning) but it'll take a bit more time to actually implement that.

[2020-10-12 16:38] asr commented on #4749
For fixing the current [fail](https://github.com/agda/agda/runs/1242720435) in GitHub workflows you need to cherry-pick e82cc844edb1c079acf5eebac7ab9beb9e83dd06.

Also for the changes for GHC 8.8.4 and 8.10.2 didn't include in 2.6.1.1 you need to cherry-pick cced69b7695078a5bc54a0eb0b6428ffb8033fe1, 75d06d4b1a8900fe2afe6e78ef34e1608b648b69, 4a93aa6ffbcc55df5e4f65ecb4dc1d6215501a79, eac32a3243c57de

[2020-10-12 16:50] UlfNorell commented on #4968
You could try looking at the debug output from generalization to find out why it's not getting generalized over despite being unconstrained.

[2020-10-12 16:59] vitvakatu opened #4979 "No executable generated when compiling hello-world"
Hello

I installed Agda 2.6.1.1 on Arch Linux and tried to compile simple hello world program (straight out from official docs)

[code]

The problem is, if I run `agda --compile hello-world.agda`, I only got `hello-world.agdai` + `MAlonzo` directory, no executable file is actually generated.

[2020-10-12 16:59] rwe commented on #4812
@andreasabel — You're right. I must have fat-fingered the issue number. Thanks for tracking that down!

[2020-10-12 17:07] gallais commented on #4979
Can you run `agda --compile hello-world.agda > log` and share the content of
the `log` file with us?

[2020-10-12 22:31] frankymacster commented on #4962
I'm trying to install Agda from source on my Mac following [these instructions](https://agda.readthedocs.io/en/latest/getting-started/installation.html#installation-of-the-development-version).
When I run `cabal install` I see:
[code]
but it never finishes.
I think I had the same problem when trying to use cabal to install Agda. I ended up using Homebrew and it worked for the released version.
How

[2020-10-12 23:22] knrafto commented on #4962
I recently had to struggle through this too. Does this work?

[code]

Some notes:
* `gmake` from homebrew is necessary because the version of `make` packaged with macos is too old
* I like `-j1` because then cabal will log progress to stdout, which is comforting. but it probably makes the build slower
* You can create the file `mk/config.mk` (it's automatically gitignored) with contents like `CABA

[2020-10-13 07:27] #4975 closed, assigned to UlfNorell

[2020-10-13 08:33] fsestini commented on #4721
@andreasabel I'm finally getting back to this. I've done a bisect on master, and apparently the bug was introduced in commit fbd0424f63ecdb360e5f5ee29ea4982ceb9d6c2b (Cc: @jespercockx ). Indeed the commit seems to affect both rewriting and telescopes.

[2020-10-13 08:36] nad commented on #4968
[code]
[code]
Should `_f.A_51` be in the set with the label `reallyDontGeneralize`?

[2020-10-13 08:57] UlfNorell commented on #4968
Generalization claims it's constrained at the time of generalization. Are you saying that it's solved before that?

[2020-10-13 09:11] #4132 closed, assigned to knrafto

[2020-10-13 09:33] Saizan commented on #4966
@nad I pushed a merge commit now, it should be a good one to test with.

[2020-10-13 10:21] nad commented on #4968
The two blocks of debug output above are ordered as in Agda's output.

[2020-10-13 10:43] UlfNorell commented on #4968
Then, yes. Unsolved constrained metavariables should not be generalized over. Why were you expecting it to be generalized?

[2020-10-13 10:59] Saizan commented on #4784
So the plan would be:

- [ ] Allow declaring a whole data/record definition as erased, this puts fields/constructor types in an erased context.
- [ ] field/constructor types should be type-checked at the current erasure level, not necessarily "as types"
- [ ] same goes for codomains of pi types.

[2020-10-13 11:04] Saizan commented on #4784
I suppose none of the above when we have `--with-K` though.

[2020-10-13 11:05] nad commented on #4968
The meta-variable `_f.A_85` is in the final term, and if the idea is that generalisation should work for the program in the OP, then there should not be a meta-variable in the final term. The meta-variable `_f.A_85` is in the term because `_f.A_51` is instantiated to `_f.A_85`. I wonder why Agda does not generalise over `_f.A_85`. Does generalisation happen too early?

[2020-10-13 11:13] nad commented on #4784
Do you have a use case for this?

[2020-10-13 11:17] UlfNorell commented on #4968
I see no indication that there are any bugs here. `_85` isn't generalized over because it doesn't exist when doing the generalization. `_51` is not generalized since it's constrained, which means that is can be instantiated to `_83` after generalization. Once generalization is finalized more things can be solved since some metas have turned into variables.

[2020-10-13 11:29] Saizan commented on #4784
This definition should not be allowed:
[code]

but this one could:
[code]

[2020-10-13 11:37] nad commented on #4968
The code was accepted until about two weeks ago (b371b546c6e0cfb3cad11efa7ad14a255d612edc). Was the old behaviour buggy? Or should we expect that the outcome of generalisation changes now and then? I don't think that is very nice.

[2020-10-13 11:39] nad commented on #4784
What is the point of the latter definition? If it can only be used in erased contexts, then you can just as well use the regular Σ-type, can't you?

[2020-10-13 11:59] Saizan commented on #4784
Indeed I guess you could encode `Σ₀` like this
[code]

[2020-10-13 12:07] frankymacster commented on #4962
@knrafto I tried the commands above and got:
[code]
Anything I can do to fix this? Thanks!

[2020-10-13 12:07] nad commented on #4966
I encountered the following warnings for two mutually recursive functions:
[code]
What does this mean?

[2020-10-13 12:10] nad opened #4982 "Internal error related to Cubical Agda"
You can trigger an internal error by using the Emacs command `C-c C-,` (`agda2-goal-and-context`) in the only hole in the following file:
[code]
[code]

[2020-10-13 12:11] Saizan commented on #4966
It means that definitions used a `UnifyStep` that's not currently supported, i.e. mainly `Injectivity`.

[2020-10-13 12:30] UlfNorell commented on #4968
Clearly we are not in a situation where the constraint solver is completely stable and it does happen that you get unsolved metas in situations where you didn't previously. In that case the outcome of generalization will inevitably change, as does the outcome of most other activities in the type checker. This is indeed not very nice, but hardly something you can blame generalization for.

[2020-10-13 13:54] nad commented on #4968
I've mostly stopped reporting regressions related to unification. I guess I'll do the same for generalisation.

[2020-10-13 13:54] #4968 closed, assigned to nobody

[2020-10-13 14:21] andreasabel commented on #4962
This might be that the previous compilation was interrupted before this `.dyn_o` file was written.  I'd try to remove the generated files for this module and run compilation again:
[code]
If this does not work, you can more radically remove the entire build directory and try again.

[2020-10-13 14:24] Saizan commented on #4727
@jespercockx have you pushed your attempt somewhere?

[2020-10-13 14:27] nad commented on #4966
Perhaps the warnings could be made a little more self-explanatory.

I have encountered an internal error in another development. Here is a reduced test case:
[code]
[code]

[2020-10-13 14:39] jespercockx commented on #4727
https://github.com/jespercockx/agda/tree/issue4727

EDIT: wait no that's not the right one

EDIT 2: now it's actually there

[2020-10-13 14:46] nad commented on #4966
In a third development I encountered lots of `No equiv while splitting on indexed family` warnings, plus an error. Here is a cut-down test case:
[code]
[code]

[2020-10-13 15:49] andreasabel opened #4984 "Compile BUILTIN_SIGMA to Haskell's tuples"
It is currently not possible to bind Agda's Sigma type to Haskell's product type, so that the Agda's `_,_` will be compiled to Haskell's `(,)`.  Reason: `COMPILE` pragmas need to reside in the module where the concept is defined, but `Agda.Builtin.Sigma` is shipped with Agda and thus not modifiable.

It seems that GHC bindings for the builtins are no longer handled with `COMPILE GHC` pragmas but d

[2020-10-13 16:01] Saizan commented on #4966
The error about `fibrant type Bool` could be worked around by adding more of a type signature for `F`,  I suppose fibrancy checking should be made postponable.

Did you get to test any exotic datatype definitions?

[2020-10-13 16:06] frankymacster commented on #4962
Thanks for that. The installation worked! but when I tried to compiling to js I get
`TypeError: Cannot set property '_≈_' of null`

This comes from `./src/logic/js/jAgda.Algebra.Bundles.js`
and is due to
[code]
I wonder why the compiler does this. Is it how I ran the compiler locally that causes this or does it always compile this way?
Thanks again!

[2020-10-14 08:30] nad opened #4985 "Internal error: conversion checker projecting out of lambdas"
The following code triggers an internal error:
[code]
[code]

[2020-10-14 09:03] nad commented on #4966
The following code is accepted:
[code]
The negative occurrences of `_∈_` in the `extensionality` constructor's type signature are accepted by Agda.

[2020-10-14 09:28] Saizan opened #4986 "Pattern matching allows you to turn `(x y : A) -> A` into `(@0 x y : A) -> A`"
[code]

[2020-10-14 12:11] vitvakatu commented on #4979
Well, I deleted all files except for source code, run your command and guess what? It actually worked and created a working executable. Not sure what changed since I tried last time (some environment variable update after I logged out/in ?)

Anyway, the issue solved, thank you

[2020-10-14 12:11] #4979 closed, assigned to nobody

[2020-10-14 13:20] Saizan commented on #4985
Not actually related to cubical, it seems to be a problem with heterogeneous conversion: the `unbox` projection gets applied to a lambda abstraction.

For others reading this: the final term is not of the right type, because `ext` does not produce an equality in `Box`. The trouble is that Agda gets all the way to comparing the inferred endpoints with the expected ones without realizing they are of

[2020-10-14 14:55] jespercockx commented on #2151
Is there still a need for a primitive to check the left-hand side or can we close this issue now that we get the clause telescope?

[2020-10-15 07:04] jespercockx commented on #4986
Debug output from the unifier:
[code]
It seems that somehow the `x` and `y` in the lambda expression got annotated with `@0`, producing the ill-typed term `λ (@0 x) (@0 y) → f y x`. So something already went wrong before we got to this point.

[2020-10-15 07:10] jespercockx commented on #4986
Please ignore my previous comment, I completely missed the point that `λ (@0 x) (@0 y) → f y x` is well-typed as long as we're in an erased context. So the problem is that by unification we moved something from an erased to a non-erased context.

[2020-10-15 07:10] Saizan commented on #4986
The term `λ (@0 x) (@0 y) → f y x` is the one from the type, and it is fine there because it's an erased context.

I'm looking into keeping track of the Modality in AsBinding, it might solve the issue, because really I shouldn't be allowed to use `g` in the body of `foo`.

[2020-10-15 07:19] jespercockx commented on #4986
That seems like a good thing to do. In the clause the variable `g` is really an as pattern `g@.(λ (@0 x) (@0 y) → f y x)`, which is threated as a `let` binding so it should use the modality of the body of the `let`. In general all dot patterns come directly from the type of the function, i.e. from an erased context, so a conservative approach would be to mark all dot patterns as being erased. Howe

[2020-10-15 07:27] Saizan commented on #4986
With 8eeb1f6 Agda will complain that `g` is erased and cannot be used in the body of foo.

We can still define `bar` below though
[code]

I couldn't find a way to break erasure with `bar`, but it seems iffy to have clause that essenntially says `bar f _ refl = \ (@0 x y) -> f y x` because that exact body wouldn't typecheck. I think making `usableMod` care about bound variables will fix this.

[2020-10-15 07:35] Saizan commented on #4986
I keep seeing your replies only after I post something :)

Wherever we were producing an AsBinding we had a whole `Dom Type` rather than a `Type`, so I just used the `Modality` from the `Dom`. it should match up with the modality the particular function argument is declared with, right? Hopefully it's propagated correctly for nested patterns.

[2020-10-15 08:59] nad opened #4988 "Type-checked comments"
There's been some discussion about type-checked comments during the current Agda meeting. I've been wanting to have something like this in literate Agda for quite some time. The current hack (`\begin{code}[inline]`/`\begin{code}[inline*]`/`\begin{code}[hide]`) is not very nice. Here's an example of what I might currently write:
[code]
I'd prefer to be able to write something like the following (wi

[2020-10-15 09:01] turion commented on #4988
How about having this for regular agda as well?

[2020-10-15 09:04] wenkokke commented on #4988
Perhaps we should focus on developing type-checked code in comments in regular, non-literate Agda. I'm sure the design would transfer to literate Agda, and it would be a huge boost for library documentation.

[2020-10-15 09:04] nad commented on #4988
That was the idea. The `|e|` notation should be supported in "comments", whether those comments are regular Agda comments or literate stuff.

[2020-10-15 09:05] wenkokke commented on #4988
For LaTeX literate Agda specifically, I'm not sure if the `[inline]` code block suggested by @nad meshes well with the idea of them being inline. Perhaps we should use an `\inlinecode{}` command?

[2020-10-15 09:07] wenkokke commented on #4988
I'd suggest going with backticks as opposed to `|e|` notation, for exactly the reasons you mentioned. Plus, I feel `|e|` hearkens back to the Haddock markup language, which is vastly less popular and well-known than Markdown. I feel we should move towards supporting Markdown in Agda comments as a way to style them.

[2020-10-15 09:18] nad commented on #4988
Is the idea that we should not do any translation at all when targeting Markdown? I don't know how the Markdown backend works.

Another option is to use some Unicode character that does not have a special meaning in Markdown.

[2020-10-15 09:23] nad commented on #4988
Is there some fundamental difference between commands and environments?

The `code` environment currently eats trailing whitespace, that's why I implemented both `inline` and `inline*`. This could perhaps be addressed in some way.

[2020-10-15 09:24] nad commented on #4982
Did you add a test case?

[2020-10-15 09:33] wenkokke commented on #4988
@nad There's no fundamental difference, I suppose, but there's a major difference in what it looks like to the person typesetting the document:

[code]
... versus ...
[code]

I'd prefer my sentences to not be broken up by block-level elements.

[2020-10-15 10:08] nad commented on #4988
The idea is that you write `|a|` (modulo bikeshedding), and that Agda generates `\begin{code}[inline]` (and so on). In some cases one might want to typeset code that is not type-correct, in which case it might make sense to support the command. However, I don't think we need any special Agda support for that command.

[2020-10-15 10:42] andreasabel commented on #4985
I reduced it to:
[code]

[2020-10-15 11:11] andreasabel commented on #4985
This stand-alone version throws an internal error all the way back to 2.4.2.4.  (This is my oldest version of Agda.)
[code]
I wonder if this is an internal error even in older versions of Agda (but I do not have them). (ping @nad)

[2020-10-15 11:30] nad commented on #4985
Agda 2.3.2.2 does not throw an internal error, but Agda 2.4.0.2 does.

[2020-10-15 16:07] Saizan commented on #4528
Maybe you already figured this out, but the source of the bad projections term is that these lines assume the `ConP` patterns are always record patterns, while apparently this invariance got broken.

https://github.com/agda/agda/blob/93ea99a43f4b2b5a7d1f1da8a11bea3bbc34f6ce/src/full/Agda/TypeChecking/Substitute.hs#L450-L457

Now the `ConHead` stores whether the constructor `IsData` or `IsRecord`,

[2020-10-15 16:36] oisdk commented on #3054
I think I also ran into this bug, although it's slightly different. I've pasted the minimal code below just in case it helps anyone fixing the bug:

[code]

[2020-10-16 07:42] UlfNorell commented on #4528
Here's a simplified example:
[code]
The goal type before matching on `d` is
[code]
Compare this to the type without forcing:
[code]
That is, what happens is that since the arguments of `cons` are forced we grab them from `xs` using the `::`-projections. This should be fine since in the `cons` case we know that `xs` is a `_::_`. Now the problem is that we want to look inside the pattern lambda when

[2020-10-16 07:53] Saizan commented on #4528
We could apply the data projections with a `Def f ...` since they are merely projections-like functions, not true projections to be applied with `Proj`. That would prevent triggering the `IMPOSSIBLE` in `conApp`.

However I think we should rather print `(λ { nil → nilA ; (cons y ys) → consA y ys })` to the user. since that's how the function is written.
Maybe we should keep the original version of

[2020-10-16 07:56] UlfNorell commented on #4528
Yes, that would make sense simply from a usability point as well.

[2020-10-16 09:04] UlfNorell opened #4989 "Print pattern lambdas as if they had not been forcing-translated"
Spawned from #4528

As seen in that issue this can lead to printing bogus things like projecting the head of an empty list, but even in benign cases printing what the user actually wrote would be much nicer.

Test case from #4528:

[code]

[2020-10-16 11:48] #4528 closed, assigned to UlfNorell

[2020-10-16 11:48] #4929 closed, assigned to UlfNorell

[2020-10-16 12:00] Saizan commented on #3853
I would argue that `T` as defined in the OP should not work, because for example the following wouldn't work:
[code]
So it's quite ad-hoc that we allow `x` but not `y`, there is really no semantic difference between the two. It's just that the typing rules make it easy to resurrect `x`.

What works in both cases however is to declare such definitions in an erased context:
[code]

When `--with-K` i

[2020-10-16 13:17] #4986 closed, assigned to Saizan

[2020-10-16 14:07] Saizan commented on #4784
The current plan would outlaw the following when `--without-K`

[code]

it might be sound to take into consideration the forcing analysis though.

[2020-10-16 16:10] oisdk opened #4991 "Possible simplification to NATDIVSUCAUX"
Currently the built-in `div-helper` function needs to have the following definition:

[code]

But the `k` accumulating parameter is unnecessary, as we could apply the `suc` to the recursive call:

[code]

I have found this definition much easier to write proofs about.

[2020-10-16 16:50] gallais commented on #4991
I suspect this would introduce a space leak

[2020-10-16 16:57] UlfNorell commented on #4991
This function only ever run on open terms at type-checking time, so I wouldn't worry about performance. Also I actually think that the new version is better in that regard, since `suc` is strict but `div-helper` is not.

[2020-10-16 17:02] andreasabel commented on #4991
Hardly surprising.  ;-)  Functions using accumulators are in general tedious to verify.

[2020-10-16 17:04] andreasabel commented on #4991
Clearly not a refactoring, rather a small change of the Agda2 language.

[2020-10-17 02:06] frankymacster commented on #4962
Anything I can do to get further? Or is this a limitation of the JS backend?

[2020-10-17 06:47] GregoryMorse opened #4992 "Agda 2.6.1/2.6.1.1 for Windows appears to be incompatible with GHC 8.10.1"
I follow the installation instructions per https://agda.readthedocs.io/en/latest/getting-started/installation.html:

Of course I do get e.g.:
[code]

So I run: `cabal update` and `cabal v2-install --lib Agda ieee754` revealing:
[code]

Using the latest GHC version 8.10.1 installed via Chocolatey
[code]

I have tried `choco uninstall haskell-dev` and deleting all the packages, but this happens agai

[2020-10-17 17:27] oisdk commented on #4991
w.r.t the space leak, doesn't the new version have the same behaviour as the standard definition of `_+_`?

[code]

I had thought that both were tail recursion modulo cons, and therefore didn't leak space. (whereas the version with the accumulator actually does leak space because of laziness)

[2020-10-18 09:32] mdimjasevic commented on #3758
Has there been any development in implementing LSP for Agda lately?

It would be great to allow non-Emacs users to work in Agda. For example, if only [VSCodium](https://vscodium.com/) users could use Agda, that would lower the barrier to entry significantly (because Emacs has a steep learning curve on its own). Then Emacs and e.g. VSCodium could share the effort by talking to LSP when possible, an

[2020-10-18 09:48] gallais commented on #3758
@banacorn has worked on modes for Atom and VS code:
https://github.com/banacorn/agda-mode
https://github.com/banacorn/agda-mode-vscode

[2020-10-18 10:03] mdimjasevic commented on #3758
@gallais, thank you so much for the links! I was unaware of @banacorn 's work.

[2020-10-18 10:09] #4992 closed, assigned to nobody

[2020-10-19 03:56] L-TChen commented on #4672
`geniplate-mirror` will be available on Stackage soon, see https://github.com/commercialhaskell/stackage/issues/5692.

[2020-10-19 05:21] MatthewDaggitt commented on #4991
Assuming the new definition doesn't have any major problems, this change gets a big thumbs from me. [`Data.Nat.DivMod.Core`](https://github.com/agda/agda-stdlib/blob/master/src/Data/Nat/DivMod/Core.agda) was possibly some of the most painful Agda I've ever written.

[2020-10-19 07:54] Saizan opened #4994 "Internal error at src/full/Agda/TypeChecking/Conversion.hs:391"
Error originally reported by Egbert Rijke on zulip https://agda.zulipchat.com/#narrow/stream/238741-general/topic/internal.20error

`computeElimHeadType` throws this error when called on a projection-like with no arguments provided.

The original error was about conversion checking I believe, but it was easier to produce a small test case with `--rewriting`.

[code]

[code]

[2020-10-19 08:06] nad commented on #4784
Would the following code, with an erased index, be accepted?
[code]

[2020-10-19 08:23] jespercockx commented on #4994
I guess we shouldn't call `computeElimHeadType` when both lists of eliminations are empty. There are two calls to this function, one of them is properly guarded but the other one (from `antiUnify`) is not. So I guess the easiest thing to do would be to add an extra case for `(Def f [] , Def g [])` to the definition of `antiUnify`.

[2020-10-19 08:26] Saizan commented on #4784
Yes, it would be accepted with an erased index.

[2020-10-19 08:26] andreasabel commented on #4985
If I should guess, it seems that Agda is creating some ill-typed terms, possibly due to too lenient blocking.  The introduction of projection-eliminations in 2.4 turned a previous unsolved constraint containing ill-typed terms (projecting from a lambda) into a hard internal error (ill-formed term).

This is a slightly further shrunk version:
[code]
@nad: What is the error in 2.3.2.2?

[2020-10-19 08:29] Saizan commented on #4994
`computeElimHeadType` could be made total if it also took the type of the full application as an argument btw, I wasn't sure if that was available at both call sites though.

[2020-10-19 09:00] jespercockx commented on #4994
It is available at both call sites, so making it total would be even better.

[2020-10-19 09:21] andreasabel commented on #4994
Agda versions 2.5.2-2.6.1 report `prf is not a legal rewrite rule`.  (Agda-2.5.1.1 accepts.)

[2020-10-19 09:22] jespercockx commented on #4994
When was anti-unification added? I wouldn't be surprised if that coincides with the introduction of this bug.

[2020-10-19 10:08] nad commented on #4985
[code]

[2020-10-19 10:13] nad commented on #4784
In that case I don't think this is much of a problem, because the latter variant of `Vec` is more general than the former one.

[2020-10-19 10:13] Saizan opened #4995 "No Cycle should not look under lambdas."
The No Cycle rule for pattern matching unification looks under lambdas and so refutes function extensionality.

[code]

[2020-10-19 10:23] jespercockx commented on #4995
I wonder where the construction of the proof of `noCycle` fails exactly for this datatype.

[2020-10-19 10:24] turion commented on #4995
I'm assuming you found this by investigating the bug involving sized types https://lists.chalmers.se/pipermail/agda/2020/012327.html, and realized that the sized types were incidental complexity there.

[2020-10-19 10:35] andreasabel commented on #4995
This would have an excellent candidate for issue #5000.

[2020-10-19 10:39] jespercockx commented on #4995
Better prepare for disappointment

[2020-10-19 13:04] andreasabel commented on #2820
Here is a variant of https://github.com/agda/agda/issues/2820#issuecomment-503639453 that uses `Size<` as a set and `↑∞ = ∞`:
[code]
Besides ∞ < ∞, the questionable parts are the definition of data type `_<_` and pattern matching on it in `<-wf`.  Concerning the second of these: the termination checker needs to more carefully establish that there is always a witness for `j < i`.  Usually, this com

[2020-10-19 14:31] jespercockx commented on #4995
Actually the construction of `noCycle` itself is still 100% in this case, and we do actually have a proof `noCycle : (x : N) → x ⊀ x`. However, the problem here is that it is not possible to project out a proof of `⊥` out of a proof of `noCycle (su (\ _ → n))`: the type `su (\ _ → n) ⊀ su (\ _ → n)` is defined as `(x : ⊥) → (su (λ _ → n) ⊀ (λ _ → n) x) × (¬ su (λ _ → n) ≡ (λ _ → n) x)`, so one nee

[2020-10-19 14:38] #4924 closed, assigned to andreasabel

[2020-10-19 15:46] alhassy opened #4996 "`let unquoteDecl` is invalid, whereas `where unquoteDecl` is fine"
Unquotation can happen in `where` clauses but apparently not in `let` clauses. Is there a reason for this?

Here is a minimal working example.
[code]
`three′` will not typecheck.

[2020-10-19 16:29] UlfNorell commented on #4996
Let bindings cannot contain arbitrary declarations. See #434 and https://agda.readthedocs.io/en/latest/language/let-and-where.html.

[2020-10-19 17:03] andreasabel commented on #4995
Maybe just let occurrences under lambdas not be _strongly_ rigid.

[2020-10-19 17:32] andreasabel commented on #4991
@UlfNorell wrote:

@oisdk wrote:

I am not following the arguments on space leaks.
Isn't the weak head normal form of the old `divhelper 0 m n j` always a numeral `suc^l 0`?
(The same holds for the new `divhelper' m n j` if `suc` is strict, otherwise not, so I guess that is why @gallais brought up the space leak.)

[2020-10-19 18:09] UlfNorell commented on #4991
The space leak occurs as you run the function, building up unevaluated calls to `suc` in the accumulator argument. The new version builds up `suc`-frames on the evaluation stack instead, which is slightly more efficient.

But, I stand by my initial comment that worrying about performance of this function is silly, since it won't run in the cases where you care about performance. Making it easier t

[2020-10-19 19:13] gallais commented on #4991
Right, I guess my mistake was to believe that we were going to run that Haskell
code in the backend when we actually use some magic to efficiently compute the
result of `div-helper` on closed terms.

[2020-10-19 22:42] alhassy commented on #4996
Thanks!

[2020-10-19 23:01] alhassy opened #4997 "Multiple λ's lose types when unquoting"
Agda's `Term` type models untyped lambda terms,  as such when we want to splice in a type and provide a value of it, things are okay when there is one spliced lambda, but when there  are two, things seem to fail with an error.

Any help would be appreciated!

Here is a minimal example.
[code]
During quotation, types are lost,
`quoteTerm (λ (A : Set) (a : A) → A) ≡ lam visible (abs "A" (lam visible

[2020-10-20 06:58] #4996 closed, assigned to nobody

[2020-10-20 07:14] jespercockx commented on #4995
Here's a refutation of funExt that does not rely on occurrences under lambdas being strongly rigid:
[code]
Here the problematic thing is the partially applied constructor `c1 n : ⊥ → D`. So we should *also* not count occurrences constructor arguments as strongly rigid unless they are fully applied.

[2020-10-20 07:22] UlfNorell commented on #4997
Indeed the reflected syntax is untyped so the type annotations on the lambdas are lost when quoting. Without knowing what it is you are trying to do it's hard to say what an appropriate work-around is, but the following checks without problems:
[code]
Here we nail down the type of the goal explicitly since the call do unify doesn't provide enough information.

[2020-10-20 07:47] UlfNorell opened #4998 "Make case in clause with instance projection does not work"
Instead of clauses for `zero` and `suc` the original clause simply disappears:
[code]
Probably related: #3289

[2020-10-20 12:37] alhassy commented on #4997
I'm working with types `∀ ℓ → ℕ → Set ℓ`, such as `X` below.
My macro Π→λ turns types-of-functions into functions-on-types,
and it worked in 2.6.0.1, but I'm having little success atm.

I've tried to add homemade typing annotations, including calling `checkType` at various places, but have had no success.
Any help would be appreciated.

[code]

I have also tried to do as your `tac`: To get the typ

[2020-10-20 12:59] UlfNorell commented on #4997
Is it important that it only does one pi at a time, and that you can nest them? Making sense of `Π→λ (Π→λ (X 2))` makes my head hurt. If not this works:
[code]

[2020-10-20 13:22] alhassy commented on #4997
You're the best Ulf!! (•̀ᴗ•́)و

The nesting was in the way and I don't use it at all, your fix is brilliant! Thanks so much man!!

( I plan to read your reflection code in your github repo and hopefully I can learn from that, do you recommend anything else to read to learn more about reflection in Agda? )

[2020-10-20 16:49] gullcomb opened #4999 "`primStringFromList` is not injective because of surrogate code points"
Out of curiosity (I am not even a regular Agda user), I have just spent some time exploring the built-in text support of Agda by reading the documentation and source and I think I have found a subtle inconsistency there.

If I am following correctly, Agda's `Char` type is backed by Haskell's `Char` type, which represents a [Unicode code point](https://www.unicode.org/glossary/#code_point) i.e. an

[2020-10-20 17:28] gallais commented on #4999
would be very nice), I can't show an actual proof of false using
  the above reasoning but I believe it is possible to write one.

Could you expand on the proof you have in mind? This is what I got
but the last hole cannot be filled because the types don't match up
(precisely because taking the head of the returned lists yields
'�' on both sides):

[code]

[2020-10-20 17:40] UlfNorell commented on #4999
You need to use the (fake) primitive proof that `primStringFromList` is injective:
[code]

[2020-10-20 17:51] gallais commented on #4999
Wait. Does this primitive exist? I can only find [`primStringToListInjective`](http://agda.github.io/agda-stdlib/Agda.Builtin.String.Properties.html#223)!

Edit: oh, it's a recent addition that has landed in [`experimental`](http://agda.github.io/agda-stdlib/experimental/Agda.Builtin.String.Properties.html) :(

[2020-10-20 18:04] UlfNorell commented on #4999
Added in #4790, which you merged 😄

[2020-10-21 07:32] nad commented on #4474
Is there an open issue that documents this problem with sized types?

[2020-10-21 07:43] Saizan commented on #4474
It should be #4483

[2020-10-21 07:55] nad commented on #4701
We might have to switch off some optimisations. Currently the propositional equality type is compiled to something like the unit type.

[2020-10-21 07:57] Saizan commented on #4701
That should be fine if all the cubical stuff is erased?

[2020-10-21 08:28] nad commented on #4701
These things are subtle (see #4784), so I don't know. However, I was thinking of the compiler for programs where glue is erased, but perhaps not other cubical things.

[2020-10-21 10:59] nad commented on #4701
Marking all cubical parts as erased might not be so nice. For instance, the builtins are currently not marked as erased in `Agda.Primitive.Cubical`. It might be better to ensure that no cubical thing can be reached from `main`, and only compile the reachable things (compare #4733). The reachability relation should take erasure into account. However, it is not obvious to me exactly how this reachab

[2020-10-21 14:39] turion commented on #4908
`--safe-except-for=` sounds like a good option.

[2020-10-21 15:50] nad commented on #4908
I don't think we should implement a more general variant unless there is some use for the extra generality (in the near future). Do you have some use case in mind, other than `--safe-except-for=sized-types`?

People have looked into fixing some of the problems with sized types during the current Agda meeting. If the consistency issues are fixed, then I suggest that we close this issue without taki

[2020-10-21 16:04] turion commented on #4908
For any other flag that is unsafe, and it seems like there are a lot. Maybe `--safe` should simply be implemented so it can be overridden with unsafe flags.

Who else is working on fixing other issues currently? I'm not aware of any other action currently. My impression is that the consistency issues are far from being fixed.

[2020-10-22 07:27] nad commented on #4908
Again, do you have a use case for this? Can you give a concrete example of an unsafe flag for which you would want to do this?

I don't think there should be a difference between `--safe --no-termination-check` and `--no-termination-check --safe`. Furthermore, if I run `agda --safe M.agda`, then Agda should complain if `M.agda` starts with `{-# OPTIONS --no-termination-check #-}`.

When I wrote th

[2020-10-22 08:00] turion commented on #4908
Not a concrete use case I'm working on right now. My suggestion was more to have a coherent, general mechanism instead of patching one particular use case. Usually, people have lots of use cases, but only rarely speak up in the form of a Github issue to voice their needs.

I agree. How about this: if there is the `--safe` flag and an unsafe flag _on the command line_, then agda should not complain

[2020-10-22 08:07] jespercockx commented on #4908
Perhaps what we need is not a flag `--safe-except-for` but rather a flag `--report-unsafe` that prints out a list of all unsafe features that were used at the very end of the log in BIG FAT LETTERS. That way you can make an informed decision on whether each of the unsafe features used is acceptable or not. For some unsafe features such as `postulate` it could even print out a list of all postulate

[2020-10-22 09:18] #4995 closed, assigned to jespercockx

[2020-10-22 10:18] nad commented on #4908
Perhaps `--report-unsafe` would be useful, but it does not cover my use case for `--safe-except-for-sized-types`: I invoke Agda from another program, and I want Agda to exit with a non-zero exit code when unsafe features other than sized types are used.

[2020-10-22 10:48] jespercockx commented on #4908
Maybe the output of `--report-unsafe` could be in some standard format so it would be easy to automatically analyze it and throw an error when there's any unexpected unsafe features.

[2020-10-23 07:42] jespercockx commented on #4483
On current `master` the test case above gives me an error:
[code]
Also, I'm not sure how this example can be used to prove false, even if it would be accepted. @Saizan do you know?

[2020-10-23 07:44] GregoryMorse opened #5002 "Bad JavaScript generated"
Latest Version 2.6.1.1 with Agda Standard Library 1.4

jAgda.Function.Metric.Nat.Structures.js:
[code]
Yields:
[code]

Relevant code: https://github.com/agda/agda-stdlib/blob/master/src/Function/Metric/Nat/Structures.agda
[code]

This bug should be fixed, as after more testing, a large amount of modules in the library seem to be perfectly valid javascript code and this is the only real bug though

[2020-10-23 07:55] Saizan commented on #4483
You can establish well-founded induction on sizes, and then use `X` to call the induction hypothesis without having to prove more.

[2020-10-23 08:01] Saizan commented on #4483
I guess now Agda is just preemptively recognizing that `Size< i` might be empty? Just declaring a goal like the following gives you an error

[code]

I wonder if there more subtle ways to get around that.

[2020-10-23 09:34] wenkokke opened #5005 "Add flag to print AGDA_DIR and exit"
We should add a flag to Agda which just prints the path to AGDA_DIR and exits.

The location of the AGDA_DIR is somewhat predictable on UNIX systems, but I think such a flag would really help our Windows users. Furthermore, it would really help with the automation of Agda package management, since that way we only implement the logic of figuring out the AGDA_DIR once.

I suggest `agda --agda-dir`.

[2020-10-23 09:35] gallais commented on #2858
Ok, I think my PR is ready. Note however that this won't magically solve all
of the requests in this thread. Thorsten's latest example for instance won't
check.

In the following code block `b : Bool` won't be in scope for `f : Bool → Bool`:

[code]

Indeed, we elaborate these `infix mutual` blocks to new-style mutual blocks by:
* leaving the signatures where they are
* grouping the clauses for a

[2020-10-23 10:19] jespercockx commented on #2858
A bit of brainstorming: in order to handle the examples that cannot be desugared to current new-style mutual blocks, we'd need to incrementalize the checking of both datatypes and function definitions: it should be possible to add constructors and clauses to any declaration in the current mutual block. This would also require moving certain checks that are currently done on the declaration-level t

[2020-10-23 14:15] andreasabel commented on #5002
#4962 complains about problems of the JS backend as well.  This one seems due to some printing has gone wrong: `NameId 46 18364208626971903049`.

[2020-10-23 14:21] GregoryMorse commented on #5002
Yes looking at that issue they could very well be the same issue.

Removing or commenting out : `exports["IsMetric"] = agdaRTS.primIntegerFromString("0");` and `exports["IsUltraMetric"] = agdaRTS.primIntegerFromString("0");` seems to fix things.  I do not know the details but the long string though does not seem to be the problem as much as its overwriting the whole function dictionary it previous

[2020-10-23 17:10] #4982 closed, assigned to Saizan

[2020-10-23 21:36] GregoryMorse commented on #5002
Another bug this time in jAgda.Relation.Nullary.Decidable.Core.js:
[code]

The `x4(...)` call is obviously not going to work.  e.g. in jAgda.Data.Nat.Properties.js:

[code]

Obviously a biginteger class instance will not be callable as a function.  Just removing the wrong and unnecessary x4 call fixes it.  The JavaScript library is looking difficult at this point to do interesting practical things

[2020-10-24 02:35] bottomtype opened #5008 "Ranges for new goals after give command don't respect whitespace in --interaction-json"
After a successful give command `agda --interaction-json` sends an updated list of goals and their ranges, including new ones in the given expression. However the ranges for those new goals don't respect preceding whitespace in the given string, for example, consider a file with the following content:
[code]
Sending these commands to `agda --interaction-json`
[code]
yields a new goal with range `[

[2020-10-26 01:17] ashinkarov opened #5009 "Case splitting patterns that span across multiple lines"
The following code is happily accepted by Agda:
[code]
However, if I try to case-split on `x` in Emacs, I get the following output:
[code]
and the following parsing error:
[code]
If inspect the output of `--interaction-json` when case splitting (`kind: MakeCase`), we only obtain the new clauses, and the location of the hole, but not the location of the clause that this hole refers to.  Shall we tr

[2020-10-26 07:33] jespercockx commented on #5009
I believe this is a duplicate of https://github.com/agda/agda/issues/2628 and/or https://github.com/agda/agda/issues/1146

Quoting @andreasabel from that issue:

[2020-10-26 08:50] UlfNorell commented on #2628
Historical note: Agda 1 did not have pattern matching left-hand sides, only `case` expressions.

[2020-10-26 08:58] #5009 closed, assigned to nobody

[2020-10-26 13:18] andreasabel commented on #4924
Great work, thanks, @uncle-betty !

[2020-10-27 00:35] andreasabel commented on #4749
Oops, @asr, I did not see your comment.

I made a candidate release at https://hackage.haskell.org/package/Agda-2.6.1.2/candidate

I did not make sure the CI works on the release branch (it did not work where I picked it up from 2.6.1.1). I suppose the release branch is a detached development that will not be merged into master.
I tested stack compilation for 8.0.2 -- 8.10.2 on my machine.

[2020-10-27 11:37] asr commented on #4749
After releasing, the release branch should be ready for CI. I guess there were some steps missing in the last release.

Right.

[2020-10-27 11:39] andreasabel commented on #2858
Link to a bikeshedding discussion: https://agda.zulipchat.com/#narrow/stream/257010-aim-xxxiii/topic/Bikeshedding.20.235001

[2020-10-27 11:44] andreasabel commented on #5005
I was trying to google if there is a convention for such command line flags, but wasn't very successful.
Alternatives:
* `--print-agda-dir`
* `--dump-agda-dir` (but this sounds like writing (a large amount of stuff) to disk)

[2020-10-27 11:46] andreasabel commented on #4991
PR welcome!

[2020-10-27 12:15] UlfNorell commented on #5005
👍 for `--print-agda-dir`. `--agda-dir` suggests to me I should give it an argument to change the agda-dir and `--dump-agda-dir` does sound more like it would write the contents of the agda-dir somewhere.

[2020-10-27 12:46] gallais commented on #2058
I believe this has been fixed now that we have a github action for windows.

[2020-10-27 12:46] #2058 closed, assigned to nobody

[2020-10-27 12:49] gallais opened #5012 "Broken windows build: missing packages in the repositories"
Some dependencies have been removed from the msys2 repos and now the build
reliably fails. I have tried to bump the icu version number to no avail: the
more recent releases use a `.zst` format which is not supported by the `msys2`
used by `stack` (cf. https://github.com/commercialhaskell/stack/issues/5300).

My understanding is that there is no hope atm.
I suggest disabling the windows builds.

Ed

[2020-10-27 13:25] andreasabel commented on #5008
One could start looking here maybe:  Note `trim` which removes outer whitespace...
https://github.com/agda/agda/blob/7b4209a050d5a73828df991c257625f119a5fef8/src/full/Agda/Interaction/InteractionTop.hs#L998-L1015

[2020-10-27 13:39] andreasabel commented on #5002
Unfortunately, we do not have a maintainer for the JS backend at the moment.

I wonder what the point is in emitting statements like
[code]
in the first place.  Doesn't JS have all sorts of default values so you need not initialize everything?  Maybe I am just displaying my factual ignorance of JS here...

[2020-10-27 13:44] GregoryMorse commented on #5002
It was correctly initialized here `exports["IsMetric"] = {};` as a dictionary object to contain a bag or methods.  Then the dictionary is just overridden by a biginteger value for no apparent reason.

The "map′" function having a spurious x4 in it is also a sure bug.  I got a reasonable sized project working though in browser client-side non-node-JS javascript having to write some special async lo

[2020-10-27 13:50] andreasabel commented on #4139
I think error-warnings are finally turned into errors.  We could skip this transformation under a flag `--allow-errors` or `--allow-error-warnings` or `--ignore-errors`.  Termination errors would then be just warnings.

[2020-10-27 13:52] andreasabel commented on #4988
A previous incarnation of this issue is #3283. (But there have been discussions before, mailing-list?)

[2020-10-27 14:15] andreasabel commented on #5002
These initializations to `Exp`ression `Integer 0` printed by https://github.com/agda/agda/blob/7b4209a050d5a73828df991c257625f119a5fef8/src/full/Agda/Compiler/JS/Pretty.hs#L222
likely come from https://github.com/agda/agda/blob/7b4209a050d5a73828df991c257625f119a5fef8/src/full/Agda/Compiler/JS/Pretty.hs#L248-L262 . The only place where `Module`s are created seems to be https://github.com/agda/agda

[2020-10-27 14:27] #2858 closed, assigned to gallais

[2020-10-27 14:36] wenkokke commented on #4988
@nad: You seem to be suggesting using pipes across all literate formats? I think it'd be better if the syntax used for inline code is different depending on the literate format. For instance, `\inlinecode{}` for TeX, backticks for Markdown, pipes for comments in regular Agda, etc.

I don't think there should be special support for the `\inlinecode{}` command built into the literate Agda TeX backen

[2020-10-27 14:44] wenkokke commented on #4988
@andreasabel: I'd suggest not pseudo-typesetting code based on guess, but instead typechecking code as if it had been fed to, e.g., `agda2-infer-type-maybe-toplevel`. I personally don't think it makes sense to automatically typeset code which isn't type-correct:

1. In Agda highlighting is a strong indicator for code being type-correct, and pseudo-highlighting ill-typed code breaks that indicator.

[2020-10-27 16:24] andreasabel commented on #5002
Er, I tried compilation with latest Agda (2.6.2 development version).  The JS output is now:
[code]
Still no better, but using `null` instead of `0` now.  No wonder I was on a wild goose chase...

It is easier to search for `Null` and this is quite often produced, e.g. whenever something is erased or a type.  We can simply filter out exports of the form `= null` I suppose.

[2020-10-27 19:16] andreasabel commented on #5002
The current JS compilation testsuite has the problem that it just runs the main module in `node`.  Not all compiled files are run eagerly through `node` to spot compiler errors like the OP.  Maybe Agda should, when creating the `.js` files, already run them through `node` (but not execute the main function, of course).  This could slow compilation a bit.  Files that do not pass `node` should trigg

[2020-10-27 22:20] andreasabel commented on #4962
@frankymacster : I think I fixed the problem with the `= null`, you can try the Agda version at PR #5014 to see whether this solves your problem.
[code]

[2020-10-27 23:57] EskoJTH opened #5015 "Emacs rainbow delimiters mode support."
Would It be possible to allow rainbow-delimiters mode to color parenthesis? Currenlty agda is somehow overwriting its behaviour. Would help me to see different levels of nesting and I'm quite used to it being everywhere. I tried looking at the elisp code to do this, but I feel a bit too incompetent with elisp still to do this.

I think It would be also very good if the coloring in general was boun

[2020-10-28 07:33] jespercockx commented on #5015
Welcome @EskoJTH and thanks for the suggestion. However you can already do what you're asking (by installing the right Emacs package and adding the setup to your `.emacs` file). Emacs is a very configurable platform and each person will have their own preference on how to set it up, so I don't think it's a very good idea to bundle this kind of functionality with Agda.

Regarding the color scheme,

[2020-10-28 08:57] andreasabel commented on #4749
Indeed, CI was not set up for GHC 8.10 (which was the point of releasing 2.6.1.1).  I made some attempts to copy the more recent CI infrastructure to the release branch, but it does not work out-of-the-box, and I do not have the time (and knowledge) to fix this.  A **lot** of effort has gone into the CI since 2.6.1, and did not appear to me a simple cherry-picking (I might be wrong).  I rather tri

[2020-10-28 09:06] andreasabel commented on #4988
@wenkokke: I think highlighting well-typed code will be easier to implement with just the current infrastructure, so doing this is a logical first step.

Code that is well-typed only in an extended context, or straight ill-typed code, is harder to color.  However, it is a common case (at least for me) to refer in the text to a sub-expression of some Agda code for the purpose of explaining it, and

[2020-10-28 09:25] wenkokke commented on #4988
I'd say for documentation purposes, code examples in documentation comments should not refer to names which aren't exported from the function, i.e., names bound in the where clause or in pattern matches. However, if we wish to support a limited version of this, I'd say that code in comments should be interpreted as if they were bound in a where clause on the current case. For instance, the followi

[2020-10-28 09:28] wenkokke commented on #5005
The `--print-agda-dir` flag sounds good!

[2020-10-28 14:14] asr commented on #4543
According to https://gitlab.haskell.org/ghc/ghc/-/issues/18634 we need to wait for GHC 8.10.3.

[2020-10-28 14:17] asr commented on #4513
The workflow is failing because https://github.com/agda/agda/issues/4543, so we need to wait GHC 8.10.3.

[2020-10-28 14:46] asr commented on #4805
The issue related to erase the all *.agdai files should have been fixed by #5010. The issue for the  `--double-check` is #3099.

[2020-10-28 14:46] #4805 closed, assigned to nobody

[2020-10-28 23:18] frankymacster commented on #4962
@andreasabel thanks for looking into this!
I tried with the branch `js-5002`.
I tried creating a list of records in js like so:
[code]
and now get the error:

[code]

after further debugging I found that
in `src/logic/js/jAgda.Data.Nat.Properties.js:47`
[code]
is being called with `null` as first parameter which seems to be making `z_jAgda_Relation_Nullary_Decidable_Core["map′"]` fail.

I noticed

[2020-10-29 06:06] banacorn commented on #3758
The idea of having an LSP implementation keeps coming up in my head, as [we are hitting Agda's limit](https://github.com/banacorn/agda-mode-vscode/issues/28)

[2020-10-29 07:50] MatthewDaggitt commented on #3758
Just for everyone's information, we did have a discussion with the main developers in [AIMXXXII](https://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.AIMXXXII) about implementing LSP. As far as I remember the consensus was that it was the right thing to do but as @banacorn says it's a lot of work.

@banacorn in your linked issue, you raised the question of whether the LSP server would be standal

[2020-10-29 08:07] ajrouvoet commented on #5015
I think this is indeed a problem with the current setup. Agda uses non-standard classes of syntax where it could make use of the usual syntactic classes. If it does, then the user's theme would apply to Agda code just the same. This is important, especially when you tend to swap themes regularly, as I do.

For this reason I have a snippet in my emacs mode like this:

[code]

Which gives me good re

[2020-10-29 08:19] Saizan commented on #1625
A case where the flag improves speed by ~10x https://github.com/agda/cubical/pull/467

[2020-10-29 09:25] L-TChen commented on #3758
As Agda exports its parser and other internal mechanisms as a library, it is not really a problem. The main issue is probably that as a standalone package there will be some delay for the LSP side to implement latest updates from Agda. On the other hand, as an integrated part, Agda core implementers need to update the LSP whenever there is any change to the interaction part.

[2020-10-29 09:30] EskoJTH commented on #5015
Thanks for the answers!
In the case of rainbow-delimiters-mode it is an emacs mode and I did not mean bundling it with agda. The issue is just that agda seems to overwrite the coloring of the parenthesis. The mode has worked very well with everything else I have done before this like haskell and intero for example. I'm not quite sure how this mode sets the coloring for the parenthesis though. It s

[2020-10-29 11:29] EskoJTH commented on #5015
@ajrouvoet This is exactly what I meant in regard to the color themes. This setup seems to work fine for me. I'm not very experienced with configuring the built-in themes in general as they usually have been working out out of the box for me with only little tweaking. This was one of the times when some of the dark blueish colors faded into my background very well though.

[2020-10-29 16:02] msuperdock commented on #4151
Just recording for anyone who may see this issue that Ulf fixed this on 10/13. (Thanks Ulf!)

See commit 34ea711e.

[2020-10-29 20:26] andreasabel commented on #5012
Agreed.

[2020-10-29 20:46] rwe commented on #5012
I've pushed through #5021 which removes the `text-icu` installation from the Windows CI build, and removes the `cluster-counting` flag there and from the default Windows Makefile options. I recommend keeping this issue open (or at least marking it as unresolved) because it is currently not possible to build with cluster-counting on Windows until it's resolved upstream.

[2020-10-29 21:26] andreasabel commented on #4962
The `null`s are coming from erased things, like type arguments.
However, this does not mean that they are always correctly inserted, there could be a bug.
Most helpful would be a MWE not involving the standard library, i.e. some short Agda code which demonstrates the bug in the JS backend.

Now merged into master.

[2020-10-29 21:29] andreasabel commented on #5002
I close this one, continuation at #4962 which is hitting the same problems.

[2020-10-29 21:29] #5002 closed, assigned to andreasabel

[2020-10-29 21:33] andreasabel commented on #4988
That's a good suggestion with some hope of being realized.

[2020-10-29 22:02] GregoryMorse commented on #4962
I fixed map' by removing the spurious x4 call.  Then I fixed a bug occurring twice where dictionaries were being overwritten with big integers with 0.  The whole stdlib seems to work fine otherwise.

I will share my code as I was able to run client non-node js javascript filling in the undefined functions and using a browser terminal emulator that I designed to simulate IO.  Some beautiful things

[2020-10-29 23:22] gallais commented on #4962
Probably because the backend is set up in such a way that we do not get a warning when we
add a new primitive and forget to add the corresponding magic incantation for code generation.

[2020-10-30 00:04] plragde opened #5023 "Display user-defined syntax in goals"
As a specific example, the following line appears in Data.Product:

`syntax Σ-syntax A (λ x → B) = Σ[ x ∈ A ] B`

This is convenient and readable for writing existential quantifications in code, but when developing code, what shows up in a goal is `Σ-syntax` rather than `Σ[ ... ∈ ... ]`. It would be nice to see the former, though perhaps with an option to see the latter.

[2020-10-30 00:05] plragde opened #5024 "Display user-defined syntax in goals"
As a specific example, the following line appears in Data.Product:

`syntax Σ-syntax A (λ x → B) = Σ[ x ∈ A ] B`

This is convenient and readable for writing existential quantifications in code, but when developing code, what shows up in a goal is `Σ-syntax` rather than `Σ[ ... ∈ ... ]`. It would be nice to see the former, though perhaps with an option to see the latter.

[2020-10-30 00:13] gallais commented on #5024
duplicate of #5023

[2020-10-30 00:13] #5024 closed, assigned to nobody

[2020-10-30 00:15] plragde commented on #5024
Oops, sorry, browser weirdness.

[2020-10-30 19:52] andreasabel commented on #5023
[code]
shows the goals:
[code]

Yeah, it is quite ironic that `syntax lhs = rhs` is best loud-read as "print `lhs` as `rhs`", but then Agda does not do this.

[2020-10-31 13:39] andreasabel opened #5026 "Better testing of JS backend"
It kind of worried me that elementary issues like #5002 in the JS backend go unnoticed by our testsuite.
In contrast to Haskell, JS does not have any static checking, and a testcase that just runs a small main program does not test much of the generated JS code.  Issues like #5002 could be caught if each generated JS file is evaluated by the interpreter.  I found this to work:
[code]
I considered

[2020-10-31 14:37] gallais commented on #5026
More generally we have had a blind spot wrt compilation for quite a
long time. Until 2018 we were not even compiling the stdlib with ghc
causing bugs such as the one reported in #3145 to seep into it.

It would be very nice to have a bunch of tests running executables
using as many advanced features of Agda as possible.

Cf. https://github.com/agda/agda-stdlib/issues/289 for a history of compilati

[2020-10-31 15:11] UlfNorell commented on #5026
I think the framework is general enough that you should be able to do this. In particular the `postCompile` hook gets a map from `ModuleName`s to a type of your choosing:

https://github.com/agda/agda/blob/306ed43fc79346511f29b77afac11c10f86d4495/src/full/Agda/Compiler/Backend.hs#L80-L82

[2020-10-31 17:09] andreasabel commented on #5026
Ah, very good!

Would you support to do this during compilation?  Slows compilation a bit, but is comparable to what we do in the GHC backend (invoking the Haskell compiler in the end).

[2020-10-31 17:13] UlfNorell commented on #5026
Makes sense to add a flag for it. It doesn't really add any value to a user project, since in theory the compiler should do the right thing, but would be very good for the test suite.

[2020-11-01 14:49] andreasabel commented on #5026
Submitted PR https://github.com/agda/agda/pull/5027.  It runs generated JS modules through `node`, except for main modules.

[2020-11-02 09:05] banacorn commented on #3758
I think I will start with a **standalone** language server, for some reasons:
1. less impact on the Agda codebase
2. help facilitate @L-TChen's [project of decoupling the codebase](https://github.com/agda/agda/projects/5)
3. we can always merge it back to Agda later anyway

[2020-11-02 09:13] MatthewDaggitt commented on #3758
@banacorn that's great news. Could you post a link to the repo when you start working on it? (or will you be using your [existing attempt](https://github.com/banacorn/agda-language-server)?). I've recently started a new post-doc on verification and explainability of AI so I'm sure I can probably find a couple of hours a week to contribute.

[2020-11-02 10:03] banacorn commented on #3758
That's great news!
I will be working on that existing repo. I'll let you know when I have cleaned it up 😅

[2020-11-02 11:58] nad commented on #5015
Have you tried to set `agda2-highlight-face-groups` to `default-faces`?

https://github.com/agda/agda/blob/02fe8918eb5c22bf75de040a4952c148858badb0/src/data/emacs-mode/agda2-highlight.el#L218-L232

[2020-11-02 12:05] nad commented on #5015
By default Agda uses the face `agda2-highlight-symbol-face` to highlight parentheses in code. Does the rainbow-delimiters mode start working if you remove all attributes from this face? (You can access a customisation interface by typing `M-x customize-face RET agda2-highlight-symbol-face RET`.)

[2020-11-02 13:18] ajrouvoet commented on #5015
I haven't yet, but will. It might be good to document this [here](https://agda.readthedocs.io/en/v2.6.1.1/tools/emacs-mode.html) as well.

[2020-11-02 13:21] nad commented on #4988
That makes some sense, but I'm not convinced. I really don't want to write `\inlinecode{<code>}`, because that would make the text containing the inline code harder to read: I'd prefer something shorter. Perhaps it would be possible to support `|<code>|` also if we follow your suggestions, just like LaTeX supports `$<math>$`, but I can imagine that this would break or complicate quite a few things

[2020-11-02 14:12] wenkokke commented on #4988
Escaping leads to the fact that Agda code in literate Agda might not compile outside of that literate setting, which would complicate, *e.g.*, unlitters. Would it be a lot of effort to find the matching curly brace to determine which tokens end up being parsed as code and which end up being parsed as comment?

[2020-11-02 14:13] wenkokke commented on #4988
Regaring `\inlinecode`, I just went with the original `\begin{code}...\end{code}` and extrapolated from there. Using `\agda` inline, but `\begin{code}...\end{code}` seems inconsistent.

[2020-11-02 14:14] wenkokke commented on #4988
The Markdown format would have short and sweet inline code blocks, which are consistent with Markdown syntax. Having some syntax which is inconsistent with the rest of TeX seems like a bad idea, and "short and sweet" isn't really TeX's motto either way.

[2020-11-02 15:38] EskoJTH commented on #5015
I did some test based on the suggestions here.

I started by testing with an Emacs with all agda related custom face settings removed from init. Rainbow-delimiters does not work.

I do like the way my own colors look on a glance. Not sure if there are some errors that it doesn't show or something similar though. I'm a bit too new to Agda to test that properly. Also didn't help for rainbow-delimite

[2020-11-02 22:13] effectfully commented on #2114
I also want this for my [Unification in Agda](https://htmlpreview.github.io/?https://github.com/effectfully/unification-in-agda/blob/master/UnificationInAgda.html) tutorial. It could be

[code]

or a simple

[code]

would also be great.

[2020-11-03 12:10] nad commented on #5015
The rainbow-delimiters mode seems to rely on Font Lock mode. When the Agda mode is started Font Lock mode is turned off.

[2020-11-03 12:10] #5015 closed, assigned to nobody

[2020-11-03 12:21] nad commented on #4988
The notation `|<code>|` is borrowed from lhs2TeX.

I guess one could invoke the Agda lexer. The current preprocessor is very basic:

https://github.com/agda/agda/blob/ae2469c05acc63aa34a2a26b8b16296e5e7bdb5d/src/full/Agda/Syntax/Parser/Literate.hs#L175-L203

[2020-11-03 12:59] nad opened #5029 "One can override --safe"
Agda accepts the following code:
[code]
I guess one way to fix this would be to raise an error if an attempt is made to turn off a non-benign warning when `--safe` is used.

[2020-11-03 14:05] jespercockx opened #5030 "Should --no-qualified-instances be the default?"
In https://github.com/agda/agda/pull/4522, I added a new flag `--no-qualified-instances` that restricts the scope of instance search to instances that are in scope under an unqualified name only (see the original issue for the motivation). @ajrouvoet has previously reported his positive experience with using this flag. If anyone else has an opinion on whether this should be the default behaviour,

[2020-11-03 15:07] UlfNorell commented on #5030
I have no strong preferences in either direction, but coming from Haskell I find having more than one instance available for a type a little bit scary, and not turning on the flag by default would make this case more pleasant to work with.

However, I'm open to the possibility that working with conflicting instances and `--no-qualified-instances` actually works well in practice, in which case maki

[2020-11-03 15:39] ajrouvoet commented on #5030
RE the two last arguments against (about opening modules with explicit import lists and using qualified modules): In Haskell you write `import M ()` to only import instances from a module. The jump to some special syntax like `import M (instances)` in Agda seems not that large.

[2020-11-03 15:59] ajrouvoet commented on #5030
@UlfNorell Yeah, I understand the hesitation. At the same time it feels like Scala and Agda have demonstrated that there are many useful applications of instance search that go beyond that which is covered by Haskell. What was originally "poor man's type classes" has developed into an interesting design choice. I believe that many of those violate the Haskell restrictions.

I think that the [appli

[2020-11-03 17:13] andreasabel commented on #4672
I now can install Agda from stackage with
[code]

However, without the explicit `resolver` flag I failed, see https://github.com/commercialhaskell/stackage/pull/5715#issuecomment-721260644 .

[2020-11-03 17:37] andreasabel commented on #4665
It seems that now this command works:
[code]
Until Agda is in some LTS, it seems that the `--resolver nightly` part cannot be omitted.  See also https://github.com/commercialhaskell/stackage/pull/5715#issuecomment-721260644

[2020-11-03 19:03] nad commented on #1625
I looked at the example that you linked to. One slow part involved checking that `GroupHom (coHomGr 1 (A ⋁ B)) (×coHomGr 1 (typ A) (typ B))` was convertible to `GroupHom (coHomGr 1 (Pushout (λ _ → pt A) (λ _ → pt B))) (×coHomGr 1 (typ A) (typ B))`, where you can transform the first expression into the second by unfolding `A ⋁ B`. I don't think any meta-variables were involved. Does it make sense t

[2020-11-04 01:34] L-TChen opened #5031 "Agda cannot eliminate inductive types when Tick is present."
Agda cannot type check the following file

[code]

as it complains that

is also fibrant.

when checking that the pattern `zero` has type `ℕ`.

[2020-11-04 09:36] gallais commented on #5012
Fixed! Thanks @snoyberg!

[2020-11-04 09:37] #5012 closed, assigned to nobody

[2020-11-04 12:56] nad opened #5033 "Internal error related to @tick"
[code]
[code]

[2020-11-04 12:59] nad commented on #5033
The following code also triggers an internal error:
[code]

[2020-11-04 13:04] nad opened #5034 "Document Guarded Cubical Agda, add flag"
Apparently there is something called Guarded Cubical Agda. I suspect that the two new modalities `@tick` and `@lock` are related to this in some way. However, I didn't find any documentation of these changes in the release notes.

Should Guarded Cubical Agda be activated by its own flag?

[2020-11-05 01:57] L-TChen commented on #5031
Fixed by https://github.com/agda/agda/commit/05d0e8752f3ffc80b78981e79264ef415017b064.

[2020-11-05 01:57] #5031 closed, assigned to nobody

[2020-11-05 14:09] wenkokke commented on #4988
Hm, I suppose in the context of TeX, the `|<code>|` notation wouldn't be all too controversial. Though, I think that the other literate modes should have syntaxes appropriate to the relevant markup languages.

[2020-11-05 15:47] nad commented on #4784
Now the following code is rejected:
[code]
I guess this was not intended.

[2020-11-05 16:43] nad commented on #4784
Perhaps I've found a fix. Consider the following code:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Irrelevance.hs#L414-L416

The code is accepted if the definition of `domMod` is changed to either of the following expressions:
[code]
[code]
The `Relevance` of the second expression might be different from that of `mod`. Should the `Relevanc

[2020-11-05 18:48] nad commented on #4784
The following code is also rejected (when I use a variant of Agda with support for erased constructors):
[code]

[2020-11-05 19:29] nad commented on #4784
I looked into the second problem. The implementation of `fitsIn` contains the following code:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Data.hs#L1125

I tried to replace it with the following code:

[code]
However, it seems as if the quantity in the context is not `Quantity0 something` when the type signature of an erased construct

[2020-11-06 08:30] Saizan commented on #5034
The `CHANGELOG` should be updated too.

[2020-11-06 08:46] Saizan commented on #4784
We should really keep `usableMod` consistent with the typing rules at the appropriate modality.

In particular we have that the following does not typecheck:
[code]

Error:
[code]

For the cubical semantics I would expect that the more general typing rule you expect would be fine though.

About locally setting `envModality` to `0` when working with the types of erased constructors I would agree.

[2020-11-06 09:00] Saizan commented on #4784
The relevant function for checking the domain of a pi type is this one btw

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Term.hs#L322

[2020-11-06 12:55] nad commented on #4784
Are you saying that this should type-check, or that it shouldn't?

[2020-11-06 13:00] nad commented on #4784
Note that the following code is accepted:
[code]

[2020-11-06 13:05] nad commented on #4784
The error for `T` is raised by the following piece of code:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Application.hs#L285-L291

If the quantity in the environment had been "0" here, then the code would have been accepted.

[2020-11-06 13:19] nad commented on #4784
It seems reasonable to me to "always" keep track of whether or not we are in an erased context. However, I guess this would involve lots of changes, because the internal syntax is traversed by lots of different functions. We do have functions like `underAbstraction`, but my impression is that they are not always used.

[2020-11-06 13:49] nad commented on #4784
I think I managed to fix the problem with `T`:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Term.hs#L115-L116

I changed the final line:
[code]

I also changed the corresponding code for Π:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Term.hs#L332-L335

New code:
[code]

[2020-11-06 13:59] nad commented on #4784
I managed to also get the following code to type-check:
[code]
I added `applyQuantityToContext ai $` before `do` in the following code:

https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/TypeChecking/Rules/Data.hs#L199-L200

I wonder how many other problems exist in the code, especially problems that make too many programs type-correct…

[2020-11-06 14:07] nad commented on #4784
@Saizan, I do not plan to make any changes related to other modalities, which I know little about.

[2020-11-06 15:30] Saizan commented on #4784
Oh, wow, we should definitely refactor the code so that `A.Fun` and `A.Pi` are kept in sync.

[2020-11-06 17:59] andreasabel commented on #5005
Consequently, I will change Agda's help output to say "print version number" instead of "show version number".

[2020-11-06 19:39] andreasabel commented on #5033
Agda expects here the LOCKUNIV builtin to be defined: https://github.com/agda/agda/blob/05d0e8752f3ffc80b78981e79264ef415017b064/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L1366
So don't do this at home!

[2020-11-06 22:03] andreasabel opened #5037 "Travis test for size-solver compiles Agda but shouldn't"
The travis test named "Compiler tests, benchmark summary, and other test" takes now a felt eternity.  It compiles Agda from scratch:
[code]
Something is going very wrong here...

A quick fix would be to turn off the CI for size-solver (which is of limited value anyway).
Or maybe someone has a clue why this is suddently happening.

[2020-11-06 22:05] #5005 closed, assigned to andreasabel

[2020-11-06 22:11] andreasabel commented on #5034
#5035 added a stub to the documentation.

[2020-11-06 22:27] andreasabel commented on #5005
You can now:
[code]

[2020-11-06 23:15] nad opened #5038 "The flags field is sometimes ignored"
The following code is accepted:
[code]
However, if I remove the pragma and instead add a file `test.agda-lib` in the same directory, with the following contents, then the code is rejected:
[code]
Error message:
[code]
The `flags` field seems to work in some cases, so it is not ignored entirely.

[2020-11-06 23:35] nad commented on #4999
I don't think we need to worry too much about backward compatibility for surrogate code points.

[2020-11-07 11:43] nad commented on #5038
I can no longer reproduce the behaviour above.

[2020-11-07 11:43] #5038 closed, assigned to nobody

[2020-11-07 13:54] shlevy commented on #2114
FWIW in coq there is the `Fail` vernacular command, which does not specify how the command in question actually fails, and I've found it quite useful for documentation/ad hoc code sharing purposes.

[2020-11-09 03:13] L-TChen opened #5040 "Windows nightly build workflow fails to pack"
The nightly build workflow for Windows has been broken, since the path to `msys2` provided by `stack` is different now. See the log file https://github.com/agda/agda/runs/1369386316?check_suite_focus=true.

Another way to solve this is to build a statically linked binary instead of one dynamically linked to `msys2`.

I am not familiar with Windows, so I cannot fix this myself. @ice1000 would you b

[2020-11-09 03:30] JoeyEremondi commented on #5034
Would it also make sense to add the Guarded Type Theory primitives (i.e. from https://github.com/agda/agda/blob/master/test/Succeed/LaterPrims.agda) to the Standard Library?

[2020-11-09 08:21] Saizan commented on #5034
I think it would make sense to add an `Agda.Builtin.Guarded` module with them.

[2020-11-09 08:33] ice1000 commented on #5040
The reason why I made stack to use dynamic linking, is because I found static linking with Haskell & Windows is hard.
I'd suggest upgrading the paths :(

[2020-11-09 08:35] ice1000 commented on #5040
FYI, I guess the new path is 20200903, according to https://github.com/commercialhaskell/stackage-content/blob/master/stack/stack-setup-2.yaml#L73-L83

[2020-11-09 08:38] ice1000 commented on #5040
Let's watch https://github.com/agda/agda/pull/5041/checks?check_run_id=1373052590

[2020-11-09 08:39] L-TChen commented on #5040
Is it possible to get this path from `stack path`?

[2020-11-09 08:52] ice1000 commented on #5040
Good question, but unfortunately I no longer use stack on Windows. Instead I use WSL + ghcup. Maybe we can ask someone else

[2020-11-09 12:06] nad opened #5042 "Double-check modalities"
I don't think the double-checker checks that modalities (except for relevance) are correct. Here's one example:

https://github.com/agda/agda/blob/bc327151a92f20b0ff2e2d3b18270e4b4797bca8/src/full/Agda/TypeChecking/CheckInternal.hs#L281-L285

[2020-11-09 12:41] ajrouvoet opened #5043 "Cannot alter appearance of LaTeX output for {! term !}"
Compiling a literate Agda file to LaTeX with a (partially) filled hole in it generates code without the \AgdaHole macro used.
Instead the code will just contain something like this:

[code]

This seems wrong, because this means that one cannot alter how these holes are highlighted.

[2020-11-09 12:46] UlfNorell opened #5044 "Unquoting clauses crashes on omitted implicit variables"
I have not done the bisect, but I strongly suspect 7b4209a05 (@jespercockx).

We allow omitting implicits in unquoted terms, and we used to allow it in left-hand sides, so it would be a pity to lose that. At the very least though the error message should be more friendly.

Test case:

[code]

[2020-11-09 15:44] nad opened #5045 ".agda-lib files are not reloaded automatically"
It seems as if changes to `.agda-lib` files are not picked up automatically by the Emacs mode. I guess this has something to do with the new caching of `.agda-lib` files. I think that `.agda-lib` files should be treated in the same way as `.agda` files:
* If a `.agda-lib` file has changed, then it should be reloaded, just like imported `.agda` files are reloaded if they have changed.
* When a modu

[2020-11-09 21:39] andreasabel commented on #5045
Which commit would that be?

[2020-11-09 22:17] jespercockx commented on #5045
https://github.com/agda/agda/commit/96af1a15733f0b52db9ce0fcb6379298409629c2

[2020-11-10 11:21] Saizan commented on #4527
A way to make the termination checker less restrictive without involving (#3733) would be to only do the masking from the solution to #1023 when there's a match on an inductive family in one of the clauses.

[2020-11-10 12:44] Saizan commented on #4784
@nad

This breaks the `params <- getContextTelescope` call below. I would only put `applyQuantityToContext ai $` around the `fitsIn` call below.

[2020-11-10 14:58] ashinkarov opened #5048 "Disturbing names in normalised reflected type"
Given the following Agda code (using agda 2.6.1)
[code]
When normalising `nostdlib.a` I get:
[code]
which is fine.
When normalising `stdlib.a` I get:
[code]
which is weird because of:
* the name `ℕ` assigned to the argument
* the type `Agda.Builtin.Nat.ℕ` (there is no `ℕ` in `Agda.Builtin.Nat`)

The weird name appears only if the call to `normalise` after `getType` in `m` is present.  If I remove

[2020-11-10 15:15] UlfNorell commented on #5048
This looks like a more benign variant of #4735. The fix of that issue did not fix this problem. Note that you don't need the macro, simply quoting the name shows the problem:
[code]
It's just the printing that's broken, the names are definitionally equal:
[code]

[2020-11-10 15:47] ashinkarov commented on #5048
@UlfNorell , for the second problem you don't need a macro.  But I don't know whether you can get the name `ℕ` in the pi type without a macro.  However, it would be great if your fix would resolve both issues.

[2020-11-10 16:33] UlfNorell commented on #5048
Wait, what's the first problem? I only saw the problem with reflected names being printed incorrectly.

[2020-11-10 16:46] ajrouvoet commented on #5043
Briefly looked at this today to see if this was a low-hanging-fruit/good first issue. I did not manage to find out how Agda represents `{! term !}` holes in concrete syntax at the moment. Since `{` and `{{` are tokens and you cannot use start a name with `{`, I expected `{!` to be a token, but that doesn't seem to be the case.

I'll try to find out if I can incentivize Agda to give me the result o

[2020-11-10 16:57] ashinkarov commented on #5048
The name of the variable in the pi type coincides with the name of the type.  It is set to `ℕ` after the type is normalised.

One can argue whether this is a bug or not, but it is definitely quite annoying.  One cannot really write:
[code]
You'd at least have to write something like
[code]
But given that a more sane name is picked in nostdlib case, maybe it is worth fixing?

[2020-11-10 17:23] gallais commented on #5043
IIRC the editor modes are responsible for highlighting holes themselves.
We don't store that information & do not set an `(Other)Aspect` corresponding
to it. I may have a somewhat dirty solution.

[2020-11-10 17:39] gallais commented on #5043
With

[code]

I get

[code]

from

[code]

If y'all are happy with that solution, I can write a test case & open a PR.

[2020-11-10 18:19] ajrouvoet commented on #5043
Do you prefer this 'hacky' solution because changing the representation would be a backwards incompatible change on the editor 'api'?

[2020-11-10 18:20] UlfNorell commented on #5048
Oh, I missed that. I'll check if my fixed made a difference.

[2020-11-10 18:28] UlfNorell commented on #5048
It did not. There's some heuristics for picking the variable name (not sure where it lives actually), that simply tries to turn the first letter of the type to lowercase. This fails for `ℕ` so it stays unchanged. For instance,

[code]
gives you
[code]
I'm not sure this is worth fixing (or what the fix should be).

[2020-11-10 18:54] gallais commented on #5043
After double checking, it looks like it would not be too much work to
introduce a new aspect. I'll try that.

[2020-11-10 19:09] ajrouvoet commented on #5043
If this is a good first issue I can also have a go at it? Unless anyone needs this ASAP :)

[2020-11-10 19:13] gallais commented on #5048
We could check the [`generalCategory`](https://hackage.haskell.org/package/base-4.14.0.0/docs/Data-Char.html#v:generalCategory) and only use that heuristics
if the letter is any of `UppercaseLetter`, `LowercaseLetter`, or `TitlecaseLetter`
and pick something else otherwise?

Doesn't look like there is a function to try to convert to the closest ASCII letter
which would be convenient here :(

[2020-11-10 19:54] andreasabel commented on #5043
FORGOT TO SUBMIT: Maybe understanding where the current behavior comes from is the first step to change it.

Agda lexes `{!term!}` as a single token `TokSymbol SymQuestionMark <interval>`:
https://github.com/agda/agda/blob/19c1dec8f7fe3029d68d99b7506bb2e1fd3104c7/src/full/Agda/Syntax/Parser/Comments.hs#L53-L62
Agda is oblivious to the contents of the whole.  The interacting editor will send the co

[2020-11-10 20:16] ajrouvoet commented on #5043
I think we are on the same page on that one.

[2020-11-11 07:17] UlfNorell commented on #5048
Reopening for the binder name choice.

[2020-11-11 09:48] gallais commented on #5043
Sorry, I did not realise you wanted to fix it yourself & was away
working on it at the same time.

[2020-11-11 09:56] ajrouvoet commented on #5043
That is OK, plenty of issues. I shouldn't be too eager to not work on my thesis anyways.

[2020-11-11 11:46] nad commented on #4784
Sometimes I use a record type to pack up some arguments of a function. Now this works less often than before. Here is a contrived example:
[code]

[2020-11-11 11:52] Saizan commented on #4784
@nad things like your `Fails` example is why I brought up erased type declarations in this comment https://github.com/agda/agda/issues/4784#issuecomment-707676985

[2020-11-11 12:45] nad commented on #4784
If `Fails` were erased, then presumably its field would also be erased, and then you couldn't define `fails`.

[2020-11-11 14:16] Saizan commented on #4784
No, the fields wouldn't need to be erased: given that you wouldn't be able to use use `Fails` in a non-erased `transport`, the types of fields can be checked in an erased context.

[2020-11-11 20:52] nad commented on #4784
I meant that (unless I misunderstood you) it would not be possible to use `.Fails.f` in the body of `fails`.

[2020-11-12 09:07] Saizan commented on #4784
Yes, it was clear that was what you meant, which is why I said the fields would not need to be erased, which implies you could use `.Fails.f` in the body of `fails`.

In fact, similarly to what I show in https://github.com/agda/agda/issues/4784#issuecomment-707690441, you can emulate what you need already with erased type definitions:

[code]

For more arguments you could use nested `Σ` rather tha

[2020-11-12 15:01] nad opened #5053 "Weird scope checking of pattern synonyms (WAS: Backward jumps)"
Consider the following code:
[code]
In the Emacs mode I can use the jump-to-definition feature to jump from the first `x` to the second one (and from the second one to itself). I would have expected to be able to jump from the second one to the first.

[2020-11-12 15:47] nad opened #5054 "Possible bug related to pattern synonyms and parametrised modules"
Consider the following code:
* `M1.agda`:
[code]
* `M2.agda`:
[code]
* `M3.agda`:
[code]

Agda fails to solve a meta-variable in the body of `fails`. I'm not sure if this is a bug or not. The code is accepted if `M2` is defined in the following way:
[code]

[2020-11-13 13:36] nad opened #5055 "Internal error related to pattern synonyms"
The following code triggers an internal error:
[code]
[code]

[2020-11-13 13:38] nad opened #5056 "Record patterns in the left-hand sides of pattern synonyms"
I would like to have support for record patterns in the left-hand side of pattern synonyms. Here is a contrived example:
[code]
I don't think there is currently any way to give a pattern synonym corresponding to `f`. I'd like to allow the following code:
[code]
I think one can make sense of this if record patterns are required to be given inside parentheses.

Currently the code above triggers an i

[2020-11-13 23:42] nad opened #5057 "Add erased annotations automatically (e.g. to parameters of projections)"
In the following code `works` is accepted, but not `fails`:
[code]
I thought that `Works` was supposed to be syntactic sugar for `Fails`. If that is the case, then both definitions should be treated in the same way.

[2020-11-14 08:31] UlfNorell commented on #5057
It's not syntactic sugar. Record patterns are still around in the case trees. That doesn't necessarily mean that they both shouldn't work though.

*Meta comment: A lot of your bug reports are very terse, in many cases (like this) just giving some code and saying that it doesn't work, without even providing the error message. It would be very helpful if you could elaborate a bit on the failure and

[2020-11-14 12:31] nad opened #5058 "Generalisation does not always respect modalities"
Every `variable` declaration in the following piece of code uses `@0`:
[code]
However, the type that Agda constructs for `p` is `{i : I} {@0 x : D [ i ]} → P (d x)`. The argument `i` should be erased.

[2020-11-15 19:00] nad commented on #5057
Things that are defined as syntactic sugar in the specification of a language do not have to be implemented by simple expansion.

Anyway, Agda fails to solve some implicit arguments in `Fails`: the `A` arguments of `fst` and `snd`, and the `fst` argument of `snd`. This is not surprising, because `A` is erased, and the `A` arguments of `fst` and `snd` are not erased. One way to fix the discrepancy

[2020-11-15 19:25] nad opened #5059 "Optimised implementation of transport for predicates with erased arguments?"
One can implement a variant of `subst` that takes an erased equality proof:
[code]
Note that the `P` argument's argument is erased.

Here is a self-contained implementation in Cubical Agda:
[code]
I guess that `substᴱ P eq p` does not simply return `p`, but that it traverses `P` in some way. I wonder if it makes sense to provide a variant of `primTransp` which is compiled to something more efficie

[2020-11-16 09:36] andreasabel commented on #5053
The scope checker first checks the rhs as pattern and binds the pattern variables.  Then the lhs arguments are checked in the scope of the pattern variables.  This is why the binding site of the variables is in the pattern.
https://github.com/agda/agda/blob/5069efa1c60f13fb074d3288714b5ae27686c761/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L2032-L2044

Instead, we should maybe parse th

[2020-11-16 11:14] andreasabel commented on #5055
The internal error is raised here: https://github.com/agda/agda/blob/5069efa1c60f13fb074d3288714b5ae27686c761/src/full/Agda/Syntax/Concrete/Name.hs#L292-L300
But the invariant
https://github.com/agda/agda/blob/5069efa1c60f13fb074d3288714b5ae27686c761/src/full/Agda/Syntax/Concrete/Name.hs#L36-L39
must be violated somewhere else.
Maybe the invariant (alternating identifiers and holes) should be enfo

[2020-11-16 11:23] andreasabel commented on #5055
However, the OP is caused by the too liberal parser.  It accepts `LamBinds` as lhs variables, but these include now record patterns.
https://github.com/agda/agda/blob/5069efa1c60f13fb074d3288714b5ae27686c761/src/full/Agda/Syntax/Parser/Parser.y#L1322-L1331
Before 2.6.0, this was a parse error, then the error got a bit more obscure, now we have an internal error:
[code]

[2020-11-16 14:37] sstucki opened #5060 "Manual eta-expansion of functions speeds up typechecking"
I'm reporting this after a recent discussion with @JacquesCarette (see PR agda/agda-categories#220) about the following code
https://github.com/agda/agda-categories/blob/97686247e74ae3265a486a585ed31d5f8f955abe/src/Categories/Category/Instance/Monoidals.agda#L39-L42

Without the manual eta-expansion, this takes ages to type check, with the eta-expansion it type checks almost immediately.  I assume

[2020-11-16 16:06] andreasabel commented on #5055
See also 2fbef7d4bb4b2060aa10d0a14f0c42e53aa43cb2 that allowed constructor patterns in telescopes (`LamBinds`).

[2020-11-16 16:11] andreasabel commented on #5053
Note however, that this would change the current semantics:
[code]
This is currently an error with
[code]
because `suc zero` is first scope-checked, thus, `zero` is not a pattern variable but a constructor.  The variable `zero` on the lhs is then unused.

One may wonder whether the current behavior of Agda isn't a bit confusing to the reader of Agda code.  Certainly highly unexpected.

[2020-11-16 16:15] andreasabel commented on #5054
Meta-comment: We usually use tag `status: info-needed` when we need more information from the bug _reporter_.

[2020-11-16 16:21] andreasabel commented on #5056
This would be sugar for
[code]
Flaw in the ointment: the rhs isn't a pattern.
Can you explain what the semantics of such pattern synonyms should be?

[2020-11-16 16:29] andreasabel commented on #5057
I agree, but making that work requires effort in the type checker.  (Unfortunately, the checkable typing judgment does not have all the nice properties of the semantic typing judgement---thinking of subject reduction, eta reduction/expansion and the like.)

[My comment does not contribute anything towards a solution of this issue and can be ignored.]

[2020-11-16 16:35] andreasabel commented on #5060
I'd say the speed goes up thanks to the hidden arguments you supply yourself, rather than having Agda figure them out.  It is
[code]
vs.
[code]
Finding the seemingly trivial solutions to the three metas in the latter case can take long since Agda uses higher-order unification modulo eta and might eta-expand these three metas to big nested records of metas.

[2020-11-16 16:51] nad commented on #5054
I sometimes use it when I'm not sure if something is a bug or not.

[2020-11-16 16:56] nad commented on #5056
@UlfNorell recently [informed](https://github.com/agda/agda/issues/5057#issuecomment-727167886) me that record patterns are not sugar.

[2020-11-16 17:18] andreasabel opened #5061 "Need to migrate from travis-ci.org"
Seems like https://travis-ci.org is closing down and we have to move to https://travis-ci.com by the end of the year:
https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom

Migration guide: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

I am already experiencing a lack of responsivity of travis-ci.org for my builds: they queue for long times.
It could be

[2020-11-16 17:24] andreasabel commented on #5056
But how do you want to use `p`?  Like so
[code]
Why then not do this?:
[code]
In your proposed extension, what should Agda do if the user wrote?:
[code]
How should this behave?

[2020-11-16 19:06] #5055 closed, assigned to andreasabel

[2020-11-16 20:22] UlfNorell commented on #5061
I would be for migrating to GitHub actions, but I am by no means an expert on these things. Are there things we are doing on Travis now that would be hard/impossible with GitHub actions, or is it just a matter of skilled manual labour converting the travis file?

[2020-11-16 20:40] UlfNorell commented on #5054
In general *"I get unsolved metas and I'm not sure if I should"* is not high on the priority list, and it would help if you would spend a little more time on the analysis.

This looks like a bug to me though. If you turn `p` into a definition there is no problem, and there isn't anywhere an implicit argument would go in the right-hand side of `fails`.

[2020-11-17 11:32] ajrouvoet commented on #5030
Ah, another reason for this: I think recently there was some rollback of Agda trying to take 'same instance' into account during disambiguation. Possibly as a consequence of this, some ambiguities appear now when I create an alias of a module with instance declarations and without the flag.

[2020-11-17 12:23] nad commented on #5056
The point is that I don't want to write out all the variable names.

If you write `g (p x) = rhs[x]`, then this should mean the same thing as `g (c s , v) = rhs[s , v]`. Presumably the constructors `c` and `_,_` should refer to the constructors of those names that were in scope at the site of the pattern synonym's declaration (if that is how pattern synonyms are handled today).

I wonder if the as

[2020-11-17 12:53] #5043 closed, assigned to nobody

[2020-11-17 16:34] andreasabel commented on #5056
Thanks, I am starting to understand.  You want `x` to be eta-ish-expanded to `(x-fst , x-snd)` and then expand pattern synonym `p (x-fst , x-snd)` to `(c x-fst , x-snd)`.

The current infrastructure does not allow us to do this, since pattern synonyms are expanded before LHS checking.  Aim XXXII had a code sprint to change this, but the code sprint stalled.

What you are suggesting is just an inst

[2020-11-18 05:43] banacorn opened #5063 "Enable wiki pages"
Following discussions from https://github.com/agda/agda/pull/5052 and https://github.com/agda/agda/pull/5052#issuecomment-728185329,
it would be nice if we can have wiki pages enabled for documenting internal implementation-related stuff.

[2020-11-18 08:52] gallais commented on #5063
What are the benefits compared to a bunch of `.md` files in a `wiki/`
directory of the repository? These would be versioned, could be edited
offline and would be easier to move if/when we have to leave github
in the future.

(e.g. it's very annoying that issues do not meet any of these criteria
at the moment).

[2020-11-18 09:16] jespercockx commented on #5063
Note that we already have a bunch of (mostly horribly outdated) design documents under https://github.com/agda/agda/tree/master/notes

[2020-11-18 09:27] jespercockx commented on #5063
Actually it seems that Github wiki's are actually their own repository (e.g. for Agda it would be `https://github.com/agda/agda.wiki.git`). So in fact a github wiki *would* be versioned and editable offline. So given the fact that the current documentation we have is horribly outdated and this is at least partially caused by the fact that it's not very easy to edit, I'm willing to give the Github

[2020-11-18 09:36] jespercockx commented on #5063
I figured there is no harm in giving it a try, so I enabled the wiki pages: https://github.com/agda/agda/wiki Consider this a trial period, so it is possible that we disable it again if there are objections or we find a better alternative. I'll keep this issue open until we decide that the trial period has ended.

[2020-11-18 09:40] UlfNorell commented on #5063
I think it's fine as long as we keep the scope of the wiki limited. Trying to keep some comprehensive developer documentation up-to-date on the wiki is doomed to failure, but for specific things like the json API it could work well.

[2020-11-18 09:58] andreasabel commented on #5063
I think a good place for developer documentation is our .hs source files, because there we are most likely to stumble over some outdated information.  However, the wiki could contain some more fundamental explanations, give an overview, and link to the more detailed information as found in the source files etc.
And if folks want to use the wiki (as opposed to issue discussions)to develop features

[2020-11-18 10:01] andreasabel opened #5064 "Give more information in error "Pattern matching on no-eta record types is by default not allowed""
The new error (see #4560) "Pattern matching on no-eta record types is by default not allowed" may hit you when trying a large Agda development in the latest Agda.  To help migration, this error should point to the record definition that is `no-eta-equality`.

[2020-11-18 10:16] UlfNorell commented on #5064
... and perhaps tell you how to enable pattern matching.

[2020-11-18 13:22] #5064 closed, assigned to andreasabel

[2020-11-18 16:19] nad commented on #5056
Consider the following code, where terms are triples of "skeletons", data with variable names, and erased proofs of well-formedness (this is a representation of a variant of Harper's abstract binding trees):
[code]
With support for the suggested feature `app` could be used as a constructor in patterns. Now I'm using a pattern synonym with six arguments instead of two.

[2020-11-18 16:46] UlfNorell commented on #5056
Doesn't look to me like there's anything requiring `_,_` to be a record constructor here. Basically you are asking for a way to repackage variables bound in pattern synonyms and that could be done with a data constructor as well.

I think the current proposal is not the right way of achieving this though. Given that it took you several exchanges to figure out what the syntax would even mean, it's

[2020-11-18 17:43] nad opened #5065 "The termination checker reduces with non-exact clauses"
The following code is accepted:
[code]
This seems to have something to do with `tryReduceNonRecursiveClause`: if I remove the call to this function, then the code is rejected.

[2020-11-18 22:25] andreasabel commented on #5065
Looking at the implementation, it seems that there is some unsoundness in connection to catch-all clauses:
https://github.com/agda/agda/blob/bb7a99879e7688cce5e85f384337240af81e307d/src/full/Agda/Termination/TermCheck.hs#L860-L894
Debug output: (with `-v term.reduce:80`)
[code]
Excluding catch-all clauses would likely fix this regression.

[2020-11-18 23:48] effectfully commented on #5056
I once needed the exact bound variable repackaging behaviour that you described, so I tried writing such a pattern synonym, got an error, thought it was a bummer and moved on.

[2020-11-18 23:52] andreasabel commented on #5065
Even worse, removing the catch-all, the termination checker loops:
[code]
Seems like `bad_aux b (bad b)` is matched against clause `bad_aux _ false` which will match `bad b` against `false`.  Not sure why this loops, `bad` shouldn't reduce yet.
Last message with `-v 100`:
[code]
I pushed a fix for the loop issue: d5c7d56df70f826d544c4f3ebc9adc429f78b5aa

[2020-11-18 23:54] andreasabel commented on #5065
To fix the OP, we need to know which clauses are catch-all/non-exact.  The coverage checker computes this but does not store it.  We could store it like we store the unreachability bit:
https://github.com/agda/agda/blob/bb7a99879e7688cce5e85f384337240af81e307d/src/full/Agda/TypeChecking/Coverage.hs#L252-L256
Currently, we only generate warnings:
https://github.com/agda/agda/blob/bb7a99879e7688cce5

[2020-11-19 07:56] #5044 closed, assigned to nobody

[2020-11-20 02:41] #5065 closed, assigned to andreasabel

[2020-11-20 10:22] andreasabel commented on #5056
But if `_,_,_` isn't a record constructor, it is not clear what `app x y` should mean in a pattern.

[2020-11-20 13:09] andreasabel opened #5066 "Severe performance regression in 2.5.4 ?"
Erik Palmgren's setoid model of type theory at https://github.com/peterlefanulumsdaine/palmgren-archive/tree/main/MLTT-and-setoids checks in around 2.5 minutes in both Agda 2.5.2 and 2.5.3, but starting with 2.5.4 it gets stuck on `V-model-pt6.agda` (which before took around a minute).

It is both tedious and important to investigate what caused this change in Agda's behavior and whether we can fi

[2020-11-20 13:26] jespercockx commented on #5066
Looking at the changelog for 2.5.4, here are a couple of wild guesses:

- 2.5.4 introduced call-by-need reduction; did you try with `--call-by-name` flag?
- 2.5.4 introduced automatic inline; did you try with `--no-auto-inline` flag?
- 2.5.4 introduced inversion of pattern matches in the constraint solver (I don't know if this can be disabled easily)
- 2.5.4 introduced the translation of `... = re

[2020-11-20 13:58] UlfNorell commented on #5056
Why not? You match on
[code]
and let `x = t₁ˢ , t₁ , [ wf₁ ]` and `y = t₂ˢ , t₂ , [ wf₂ ]`.

[2020-11-20 20:34] smurfhat commented on #4521
Case in point new user here, and in fact a new user after several years: Interestingly I have just waited 2 years for the install process to improve (I came back thinking it might have been ironed out), only to find myself turning off a build on my Linux machine after 3 hours for want of _not knowing_ whether it had crashed or not (was that a mistake? I have no idea whatsoever...what happens to co

[2020-11-22 10:35] nad commented on #5066
Perhaps one can track down the problem by using `agda-bisect` with the `--timeout` flag.

[2020-11-22 10:37] nad commented on #4521
Thanks for the feedback!

[2020-11-23 10:34] gallais opened #5070 "Map.fromList silently drops duplicates"
TIL: `Map.fromList` silently drops values associated to duplicated keys
(which is pretty self-evident from its type).

The behaviour is correct if we assume that the list contains unique keys
but it would be more appropriate for us to use `fromListWith __IMPOSSIBLE__`
to guarantee the invariant is enforced.

[2020-11-23 22:56] andreasabel commented on #5056
Ok, I seem to understand.  The form of such pattern synonyms would be (with `e` expression, `p` pattern, `c` pattern synonyms)
[code]
and then
[code]
means
[code]
Quite a bit more than what we do atm.

[2020-11-24 06:04] UlfNorell commented on #5056
I think in the current proposal `es` would need to be a pattern as well, so you can skip the `with` and use let bindings for the variables in `es` corresponding to compound patterns.

[2020-11-24 09:39] nad commented on #4784
Doesn't it make sense to do this for the call to `checkConstructorType` as well?

I noticed that there is also some code that generates projections:

https://github.com/agda/agda/blob/88222ed563e399dafffcd552b38c1adaaa3888ae/src/full/Agda/TypeChecking/Rules/Data.hs#L242-L243

I don't know what these projections are used for, the documentation doesn't really say anything:

https://github.com/agda/a

[2020-11-24 17:29] shlevy opened #5071 "Instance fields without eta-equality"
Given:

[code]

I get:

But this works:

[code]

Would it be possible/desirable for that instance to be implicitly available with instance fields, even without eta equality?

[2020-11-24 18:16] andreasabel commented on #5071
This works:
[code]

[2020-11-24 18:18] andreasabel commented on #5066
Aaaarrrggh, I lost my comment by forgetting to press the "Comment" button.

[2020-11-24 18:19] shlevy commented on #5071
Right, in my case I want copatterns for definitions.

[2020-11-24 18:21] andreasabel commented on #5066
I tried `agda-bisect --timeout 250 --good v2.5.3 --bad v2.5.4  V-model-pt6.agda`, but it gave me strange errors:
[code]
When I invoke the command manually, it works:
[code]
What am I doing wrong?  @nad ?

[2020-11-24 20:49] nad commented on #5066
It seems as if you have not installed the [`timeout`](https://www.gnu.org/software/coreutils/manual/html_node/timeout-invocation.html) command.

I recommend that you use `--dry-run` before starting the bisection process.

[2020-11-26 07:45] andreasabel opened #5072 "Internal error in Concrete.Pretty"
[code]
gives
[code]
which is here: https://github.com/agda/agda/blob/88222ed563e399dafffcd552b38c1adaaa3888ae/src/full/Agda/Syntax/Concrete/Pretty.hs#L447
In Agda <= 2.6.1, this is a parse error.

[2020-11-26 08:20] andreasabel commented on #5056
I was trying to give a simple approximate desugaring.  I think even if `es` are patterns, in general you cannot resolve the match `es/ps` into let bindings:
[code]
means something like (abuse of `with` for case):
[code]
Since `suc` is a data constructor rather than an eta-record pattern, the pattern synonym cannot always be expanded.  One has to statically consider the match `suc x / zero` and rep

[2020-11-26 08:41] andreasabel commented on #5071
One could imagine that something like the following should work (but doesn't):
[code]

[2020-11-26 10:53] cspollard opened #5073 "Generate html from ~/.agda/libraries"
Hello,

I'm new to Agda, and one thing I find very useful for learning are the clickable html versions of libraries that can be generated via the --html option. Is generating a global html file from the ~/.agda/libraries file something that might be possible? If a relative newbie (myself) could contribute with some guidance, I'd be happy to.

Best,

Chris

[2020-11-26 14:30] #5072 closed, assigned to gallais

[2020-11-26 14:47] ashinkarov opened #5075 "Failing to infer the type of the reflected term"
The following code:
[code]
dies with the following error:
[code]
It works fine if you get rid of call to `normalise` in the macro.  The reason is that Agda is failing to infer the type for `t₂`, however, there are no `unknown`s in neither term or the telescope.

I am on `Agda version 2.6.2-fd5ab4a`.

[2020-11-26 14:58] ashinkarov commented on #5075
It was noticed by @jespercockx that if we write `suc m` explicitly in the second case, the problem disappears:
[code]

[2020-11-26 15:46] ashinkarov commented on #5075
This actually might have something to do with #5044 .

[2020-11-26 17:36] andreasabel commented on #5066
Thanks, @nad! Indeed, it is called `gtimeout` on macOS (if installed via homebrew).

Actually, I had used `--dry-run`, but did not understand what went wrong there, so I just started the real experiment.  (I think I shouldn't be trusted with nuclear weapons, haha!)

[Rant:
[code]
I wish the implementors (Haskell? OS?) had made this error message clearer.  I do not see immediately _what_ does not e

[2020-11-26 21:29] andreasabel commented on #5066
**And the winner is** (@UlfNorell):

2a3495289d5ee089abc9a7c041c5b05dbc472f37 is the first bad commit
Date:   Thu Apr 5 11:50:05 2018 +0200

    [ inlining ] auto-inline simple definitions

    Auto-inline if all of these:
    - no pattern matching
    - no argument used more than once
    - some arguments not used at all

Seems like one of @jespercockx 's causes is it.

[2020-11-27 00:56] JacquesCarette commented on #5066
Ooh, this is fascinating. All my instincts say that, in the situation outlined in the commit message, it should be completely safe to inline. So I'm super-interested in understanding why this isn't true, if that commit is indeed the culprit. It could still cause code bloat if there is a cascade of inlining, or if this inlining causes something else to trigger that otherwise doesn't.

In other word

[2020-11-27 09:34] jespercockx commented on #5075
Oh, I think I found the cause. If I'm correct it's quite surprising no-one had problems with this before. It seems the quoting for clauses was still using the de Bruijn indices based on the order in which the pattern variables appear in the pattern, rather than the indices that are (now) embedded in the pattern variables. It's a good thing this was found before we actually released a version with

[2020-11-27 09:38] andreasabel commented on #5066
I tried with current master and `--no-auto-inline`, and the `V-model-pt6` did not complete checking in one hour.

UPDATE: Apparently, since #4681 in May 2020, `auto-inline` is OFF by default (so this experiment was futile).
UPDATE 2: `agda-2.5.4.1 --no-auto-inline` doesn't stomach `V-model-pt6` either, so the hunt needs to continue.

[2020-11-27 10:11] andreasabel commented on #5066
A next experiment could be to run bisection again with applying a patch that disables auto-inlining and see whether there is another commit that could be blamed.

[2020-11-27 11:11] nad commented on #4784
@Saizan?

[2020-11-27 11:54] #5075 closed, assigned to jespercockx

[2020-11-27 12:59] Saizan commented on #4784
Sounds correct.  Although it shouldn't really affect `checkConstructorType` because of the `workOnTypes` use in there.

[2020-11-27 13:54] nad commented on #4784
Should the projections be marked as erased?

[2020-11-27 13:57] Saizan commented on #4784
Sounds correct.

[2020-11-27 21:42] andreasabel commented on #5073
This could possible be realized outside of Agda:
- iterate through `.agda/libraries`
- for each lib file there, invoke `agda --html` on `Everything.agda`, `README.agda`, or just all of the `.agda` files

[2020-11-27 21:44] andreasabel commented on #5072
Thanks!

[2020-11-27 22:03] andreasabel commented on #5066
After applying a patch that turns off auto-inlining, we have a new winner (@UlfNorell):

e49d1ca276e5adbf2eb9f6cd33926b786cef78f7 is the first bad commit
Date:   Fri Apr 13 16:49:36 2018 +0200

    compare target types first when checking non-dependent applications

    This lets us push types into the arguments and can make a huge difference
    in performance for some examples.

Indeed. ;-D

Don

[2020-11-30 11:45] cspollard commented on #5073
Hi @andreasabel,

I don't know enough about agda packages to know how to do this. Is there a convention to have an Everything.agda or README.agda, or is there an index of all modules somewhere in the package metadata?

Best,

Chris

[2020-11-30 14:17] andreasabel commented on #2740
Remark: See the `AgdaAlign` environment for sharing indentation over several code blocks:  https://agda.readthedocs.io/en/v2.6.1.1/tools/generating-latex.html#breaking-up-code-blocks

[2020-11-30 19:02] nad commented on #2918
@Saizan, your commit 7cbb67e97067b2420a63c2a22d8029add0e57813 broke the test case for this issue. You wrote that inlining of recursive pattern-matching lambdas "caused the compiler to loop". Do you recall under what circumstances this happened? Could we allow inlining in more cases?

[2020-11-30 19:46] nad opened #5079 "Deep pattern-matching is sometimes allowed for erased arguments"
The following code is accepted:
[code]
Pattern-matching is perhaps fine for the single-constructor data type `D`, but not for `Bool`: it should not be possible to make a decision based on erased data.

The GHC backend seems to ignore the `@0` annotation:
[code]

[2020-12-01 08:58] Saizan commented on #2918
It must have been something in the testsuite or one of the test cases we had for erased constructors.

[2020-12-01 10:16] nad commented on #4638
I guess this has been taken care of, that kind of code seems to be accepted now.

[2020-12-01 11:29] nad commented on #4727
@Saizan, did you look at this?

[2020-12-01 12:01] nad commented on #5079
With `-vtc.cover:100` I get the following message five times:
[code]

[2020-12-01 12:04] nad commented on #5079
I found the following comment in the code:

https://github.com/agda/agda/blob/d20295b678fe0600630cd50ac5b51ab567e5462d/src/full/Agda/TypeChecking/Coverage.hs#L1130-L1132

Propagating the entire modality does not seem to fix the problem in the OP, but perhaps it makes sense to do this anyway.

[2020-12-01 12:46] nad commented on #2918
I tried to enable inlining again, and `make compiler-test` did not expose any problem. If we rediscover the problem, then I think we should add a small test case for it (if possible).

[2020-12-01 13:06] Saizan commented on #2918
I believe this might have been the testcase, can you try and reproduce with inlining turned on?

[code]

[2020-12-01 15:23] nad commented on #4784
I am not aware of any more problems right now. If we find one, then this issue can be reopened.

Perhaps it makes sense to add erased type declarations. If we decide to do this, then we can open a new issue for it.

[2020-12-01 15:23] #4784 closed, assigned to Saizan, nad

[2020-12-01 15:24] nad commented on #4638
Now the GHC and JS backends complain if you try to compile higher inductive types or (at least some) cubical primitives.

[2020-12-01 15:26] nad commented on #4638
TODO: Documentation.

[2020-12-01 15:44] UlfNorell commented on #5058
What you'd like to happen here is that `i` is generalized as `@0` since it's created as a meta for the `i` argument to `d` (which is marked `@0`). The problem is that *all* metas created in types are tagged as erasable since types counts as erased contexts. Now we do track the origin of quantities so in theory this should be easy. The problem is this code:

https://github.com/agda/agda/blob/5269bc

[2020-12-01 16:35] nad commented on #2918
I managed to construct a small test case:
[code]
The metavariable corresponding to the underscore is solved in the following way:
[code]
If the underscore is replaced by `R₁.A r₁`, then the compiler terminates.

[2020-12-01 17:41] nad commented on #2918
I wondered why the termination checker does not reject the code above. The following code is also accepted:
[code]
Why doesn't the termination checker reject this code? It is accepted even if `tryReduceNonRecursiveClause` is disabled. The termination checker claims that there is some measure that is decreasing strictly in several calls:
[code]

[2020-12-01 17:48] nad commented on #2918
I'm guessing that we could allow inlining of recursive pattern-matching lambdas for which every recursive cycle goes via something that is not inlined. In the example above a pattern-matching lambda mentions itself in its own body.

[2020-12-01 19:56] andreasabel commented on #5073
Currently, library files only have `name`, `include`, `depend`, and `flags` fields, see https://agda.readthedocs.io/en/latest/tools/package-system.html and https://github.com/agda/agda/blob/191427acd989f2a2847cf5cd31ba06c0f2ca8705/src/full/Agda/Interaction/Library/Base.hs#L68-L74 .

A new field `main` or `readme` or `entrypoint` could be added for the purpose of rendering documentation.

But for a

[2020-12-02 08:59] Saizan commented on #4727
I fixed the unsolved metas in `make succeed` by 1ec9948 .
We still get an IMPOSSIBLE on `Issue3390.agda` though:

[code]

Something to do with checkpoints:
[code]

@jespercockx got some idea of what could be going wrong?

[2020-12-02 11:19] nad commented on #4638
I noticed that the JS backend generates code for erased constructors. For instance, consider the following Agda code:
[code]
The JS backend generates the following code for `D`:
[code]
The code for `f` seems to be correct:
[code]

[2020-12-02 12:00] nad commented on #4784
I edited the user manual. @Saizan, can you check if things look OK?

[2020-12-02 12:38] Saizan commented on #4784
Yeah, I think it looks ok.

[2020-12-02 16:15] jespercockx commented on #4727
It seems it's somehow triggered by the generalizable variables; if I replace them with postulates or quantify over `q` explicitly in the type of `d` then the error disappears. I tried to exclude generalizable metas from the promotion process, however the problem persists. I'll have to take a deeper look.

[2020-12-04 12:45] nad commented on #5079
If you compile the following program using the GHC backend and then run it, then `True` is printed:
[code]

[2020-12-04 13:42] mortberg opened #5092 "Problem with readability of goals when opening records and using postfix projections"
When working on some commutative algebra in Cubical Agda @mzeuner found that some goals were becoming quite unreadable. According to @Saizan  the problem probably has to do with "display forms" not knowing how to deal with postfix projections correctly.

 I've made a small test case:
[code]
The goal gets displayed as
[code]

If I change the problematic line to:
[code]
then the goal looks fine:
[co

[2020-12-07 07:52] UlfNorell commented on #5058
Ping @andreasabel. Any feedback on the right-biased thing?

[2020-12-07 10:26] Saizan commented on #5079
We also need to propagate the modality to `gamma0` above.

[2020-12-07 15:09] L-TChen commented on #4478
I don’t see any harm in it. After all, ghc itself is compiled with this option too. https://gitlab.haskell.org/ghc/ghc/-/issues/11445

Is there any binary distribution of Agda?

[2020-12-08 11:15] omelkonian opened #5093 "Weird instance propagation between parameterised modules"
I came across a rather peculiar issue when using instance arguments and (multiple) paramerised modules.

Let's assume we have an Eq typeclass in a separate file:
[code]

Then a module parameterised over some type A having (decidable) equality:

[code]

All fine so far, but what if I want to split that file, e.g. to work on p₁ there:
[code]
But now there is an error:
[code]

Amusingly, this is solv

[2020-12-08 12:11] UlfNorell commented on #5093
There's no need for separate files:
[code]

[2020-12-08 12:34] asr commented on #4749
@andreasabel Agda 2.6.1.2 is in Hackage. Please finish the release procedure (Wiki, announce, etc).

[2020-12-08 14:25] #5079 closed, assigned to Saizan

[2020-12-09 13:44] nad commented on #4478
[Yes](https://agda.readthedocs.io/en/latest/getting-started/installation.html#prebuilt-packages-and-system-specific-instructions).

[2020-12-09 14:00] nad commented on #4727
@UlfNorell recently fixed a problem related to modalities and generalisable variables (#5058). Perhaps it makes sense to rebase your branch.

[2020-12-09 14:23] L-TChen commented on #4478
Oh, wait, this option appears to work only on Linux for Agda.

macOS by default uses subsection,
[code]
see the [discussion](https://gitlab.haskell.org/ghc/ghc/-/issues/11445) and the [log](https://github.com/L-TChen/agda/runs/1517516441?check_suite_focus=true).

On Windows with ghc 8.8.4, the linker complains that there are too may sections to link, see [here](https://github.com/L-TChen/agda/runs

[2020-12-09 21:01] nad commented on #5058
Now the following code is rejected:
[code]
(I don't think it should be possible to bind the variable `x` in `fails`, but that is a different issue. I encountered this problem in some code in which a use of something like `x` was inferred automatically.)

The code is rejected because `x` is marked as erased in the body of `fails`. I guess this is because `x` is marked as erased in the type signatur

[2020-12-10 03:27] #4717 closed, assigned to nobody

[2020-12-10 03:27] #5040 closed, assigned to ice1000

[2020-12-10 08:36] UlfNorell commented on #5058
If you don't think we should generalize over `x` you can change `inherited` to `Set.empty` here:
https://github.com/agda/agda/blob/62dc18ef2f3628ae05db0b132ce40060229df523/src/full/Agda/TypeChecking/Generalize.hs#L223
and see how your developments fare.

If I interpret the examples correctly, your proposed rule is that when we generalize over metas appearing in the solutions of generalizable metas

[2020-12-10 08:55] jespercockx commented on #4727
I just did a rebase but unfortunately that didn't make the problem disappear :(

[2020-12-10 12:27] nad commented on #5058
I want things to be predictable. I do not want to have to inspect the inferred type signature to know whether an argument is marked as erased or not. Perhaps the following design would work:
* For generalisable variables, use their declared modality.
* For other variables, use a default that can be set using a keyword. The default default is the "empty" modality (not erased, and so on).

Example:

[2020-12-10 12:31] UlfNorell commented on #5058
This seems more like a new feature request than the bug in the OP.

[2020-12-10 12:36] nad commented on #5058
A simple first step might be to do what I suggested, but without support for the `modality` keyword. I think that would work for most of my code. Would this be easy to implement? I can test this locally if you tell me how to change the implementation (or push a branch with the changes).

[2020-12-10 12:47] UlfNorell commented on #5058
Here
https://github.com/agda/agda/blob/62dc18ef2f3628ae05db0b132ce40060229df523/src/full/Agda/TypeChecking/Generalize.hs#L293
you could check if `m` is one of the metas in `alsoGeneralize` and if so `setModality defaultModality`.

[2020-12-10 20:51] nad commented on #5058
This seems to work fine for my code.

With this change in place, is there any difference compared to the original behaviour? I want to know if I should write anything in the changelog.

[2020-12-10 20:57] nad opened #5096 "A keyword for choosing the default modality of generalised variables"
Once #5058 has been fixed we use the following approach to decide what modality to use for generalised variables:
* For declared generalisable variables the declared modality is used.
* Other variables get the default modality.

However, I think it should be possible to use another default for the "other" variables. I suggest that we add a keyword `modality` that can only be used in `variable` blo

[2020-12-11 06:25] UlfNorell commented on #5058
Since you're going for predictable behaviour it might be nice to write something in the user manual and the changelog....

[2020-12-11 17:46] andreasabel commented on #5096
How about, instead of a new keyword, use syntax like
[code]
This could be self-explanatory, given that we already have
[code]

[2020-12-11 17:49] andreasabel commented on #5092
That's weird!  The flavor of projection (pre or post) shouldn't matter so much once we are in internal syntax.

[2020-12-12 03:49] shlevy opened #5097 "Level-agnostic type paths"
Following up from a [thread](https://agda.zulipchat.com/#narrow/stream/260790-cubical/topic/Cross-universe.20paths.3F/near/219075101) on Zulip: Would it be possible to have a special case path type for paths between types in any universe, e.g. `PathT : ∀ {ℓ₀ ℓ₁} → Type ℓ₀ → Type ℓ₁ → Type (ℓ-suc (ℓ-max (ℓ₀ ℓ₁)))`, and possibly have `PathP`'s first argument take a `PathT`. `_≃_` is already defined

[2020-12-14 13:14] martinescardo commented on #3215
See also https://agda.zulipchat.com/#narrow/stream/238741-general/topic/error.20message.20with.20variable.20that.20is.20not.20in.20the.20context/near/219677785

[2020-12-15 09:24] nad commented on #5096
Is `@0 _ : _` self-explanatory? With a keyword you at least have something to search for in the documentation.

[2020-12-15 14:26] andreasabel opened #5098 "Cannot set OPTIONS pragma --allow-unsolved-metas with safe flag."
I want to generate HTML for some code with unfinished goals.
[code]
Well, then let's allow solved metas:
[code]
That's silly.

I think the current logic is a bit too crude, requiring the user to jump through hoops.

It is not unsafe to `--allow-unsolved-metas` _per se_, it is only unsafe to _have_ unsolved metas.
So, the error should be thrown more lazily.  It should be an error to have an unsolve

[2020-12-15 17:25] gallais commented on #5098
It is quite handy to have an error when conflicting options are
set. The problem here IMO is that we do not differentiate between
CLI arguments and options set in a file. We should instead allow
the ones set in a file to make *stricter* requirements of the code.

IIRC at the moment we just combine the two lists of strings and
parse the result (?) as if it were all set in one place.

[2020-12-15 18:33] andreasabel commented on #5098
@gallais : Well, this could be another solution: `--safe` will switch off `--allow-unsolved-metas`, but not vice versa.

[2020-12-15 19:15] andreasabel opened #5100 "The --interactive mode does not load the Primitive module"
I guess it would make sense to load the Primitive module even if no input file was supplied to `--interactive`.
[code]

[2020-12-15 19:23] andreasabel opened #5101 "Error lost when --only-scope-checking in invalid combination"
Seems like refactoring #5020 dropped the check that `--only-scope-checking` isn't used meaninglessly.

Agda 2.6.1:
[code]

Current `master`:
[code]
Seems like `--only-scope-checking` is now ignored without error:  `Bla.agda` contains
[code]
and if it were only scope-checked, it could not know that the value of `S` is `Set`.

Same for `--interaction`:
[code]

Ping @rwe.

[2020-12-15 19:37] andreasabel commented on #5101
The `checkOpts` implementation
https://github.com/agda/agda/blob/0d6ff44f9cb5c5caea5fe05da4fd6ded7cc0b513/src/full/Agda/Interaction/Options/Base.hs#L323-L343
should be revisited.  I think part of the error message is dead:

I think when this error is displayed, it does not apply to the situation.
- It is not triggered when it should (OP).
- When it is displayed, the user did not mix the options de

[2020-12-15 19:37] rwe commented on #5101
Huh. Will take a look. I do recall a commit that I considered including in that PR related to additional interactor option validation, but did not include because I convinced myself it was redundant. But I might have been wrong, in that it was only redundant for the backends, not the interactors.

That said: are you certain that `--only-scope-checking` would not know that value? (Direct assignment

[2020-12-15 19:48] rwe commented on #5101
In other words: I agree with this issue that there's an options validation + error message bug.

But tangentially, is there a reason the `repl` would not work under scope-only mode? I suppose most of the commands except for `scope` would be useless or incomplete, but that might still be useful for doing the where-is/apropos-like lookups, maybe. Eh. Maybe not.

[2020-12-15 20:04] rwe commented on #5101
Ugh, I see what went wrong. The error message is not wrong, it _was_ checking the interaction modes there.
I think the issue was not #5020, it was #5082 as I removed the backends from that list.

Here's the original code: https://github.com/agda/agda/blob/250427ac7a8bd3f26e133aaed6cce7c473860d80/src/full/Agda/Interaction/Options.hs#L347-L363
And here's with the backends removed:
https://github.com

[2020-12-16 11:50] nad commented on #5098
Couldn't this lead to confusion? "I've enabled `--allow-unsolved-metas`, but Agda still complains!"

[2020-12-16 12:08] gallais commented on #5098
Well, yeah, but you've also enabled `--safe` (or are using a library that enabled
it but did not deliver safe code). It's just as confusing as the concept of
(co)infective options IMO.

[2020-12-16 13:42] andreasabel commented on #5101
Indeed, this code is super convoluted and confusing.  I was reading `checkOpts` and didn't understand why it is so complicated.  So I looked at the history and found your changes and had the impression that something in the refactoring mightn't have been rounded off.
I agree that it wasn't #5020, I mis-attributed.

There had been no checks in `test/Fail` to check for conflicting command-line optio

[2020-12-16 17:04] andreasabel opened #5102 "Load (C-c C-l) does not check for change in .agda-lib file"
In the following situation,
- `/Main.agda-lib` containing `include: .`,
- `/Dir/Module.agda` containing `module Module where`,
loading `Module.agda` in emacs with `C-c C-l` gives the expected error "module name does not match filename".

Adding `/Dir/Main.agda-lib` containing `include: .` does not change the behavior of load (`C-c C-l`)---but should, imo.
A restart of Agda is required (`C-c C-x C-

[2020-12-16 18:49] andreasabel commented on #5098
Atm, `--allow-unsolved-metas` is next to obsolete as a command-line option, since it clashes with `--safe` in the most basic builtin modules.
[code]
I'd like to fix this without drilling up the whole option machinery.
If I go with my original proposal, this doesn't close the door to a more systematic overhaul of the options logic.

[2020-12-16 19:08] jespercockx commented on #5102
Oh, this is probably a regression that I introduced when I implemented caching of `.agda-lib` files in https://github.com/agda/agda/pull/4942/commits/69d5caf62a9d38259cda4141bbb5331285c32284. Maybe it would be better to invalidate `stProjectConfigs` and `stAgdaLibFiles` in the TCM state when we do a reload?

[2020-12-16 19:14] jespercockx commented on #5102
Actually I made it part of the `PersistentState` which seemed to be a logical choice at that time, but perhaps it would be better as part of the `PreScopeState` (which I assume *is* reset on a reload?)

[2020-12-16 19:35] andreasabel opened #5103 "--js allows --allow-unsolved-metas, but --ghc not"
While investigating #5098, i realized that `--js` allows `--allow-unsolved-metas`, but `--ghc` not.
[code]

`--js` crashes if there is an actual unsolved meta:
[code]

Couldn't we simply compile metas to runtime errors, just like we do for postulates?
The `Treeless` syntax already has a `TError` case...

[2020-12-16 21:01] jespercockx commented on #5103
Sure we *could*, but I'd consider that quite unexpected behaviour. An error saying you can't compile files with unsolved metas definitely makes more sense to me. Perhaps we can make an exception for files with `--allow-unsolved-metas`? For files with that flag we already turn metas into postulates when serializing, so compiling them to errors (just as for postulates) would make sense.

[2020-12-16 22:00] andreasabel commented on #5103
That's what I am after.  Without that flag, we do not even get to the compilation phase.

Btw, under 2.6.1 the OP does not exist, there, `--ghc` and `--js` behave the same, both refusing to compile.  The missing check in the JS backend is thus a new regression.

[2020-12-17 02:17] rwe commented on #5101
@andreasabel There's now a PR fix out for that. See #5105

[2020-12-17 15:38] #4705 closed, assigned to asr

[2020-12-19 20:49] rwe opened #5107 "CI fails to build user manual (TeX Live installation issue)"
Noted here: https://github.com/agda/agda/pull/5106#issuecomment-748180263 about which @L-TChen [comments](https://github.com/agda/agda/pull/5106#issuecomment-748474309):

[2020-12-19 20:51] rwe commented on #5107
An example build failure here: https://github.com/agda/agda/runs/1582619615
includes the following relevant log (prior to the actually-failing build step):

[2020-12-21 09:16] L-TChen commented on #4513
For the record, the current workaround with `stack` is to run the build command twice if it fails to compile. Compiling with 8.10.3 on Windows works fine with the option `-O0`, and it should also work without this option if `cabal build` is executed twice.

[2020-12-21 09:23] L-TChen commented on #5061
As well as a vast amount of time working in the dark. 😭

I thought that was more or less an easy task, but ... anyway see my PR #5108.

[2020-12-21 10:34] andreasabel opened #5109 "Support GHC 8.10.3"
Agda currently does not build with GHC 8.10.3.  Let's collect the issues here.

Known issues (2021-01-06)
- [x] dependency `ListLike` does not build: https://github.com/ddssff/listlike/issues/8
        Trigger: `cabal v1-install --enable-tests --dependencies-only`
- [x] `stack` fails with GHC 8.10.3: https://github.com/commercialhaskell/stack/issues/5463
- [x] `fix-whitespace` (https://github.com/

[2020-12-21 19:03] #5101 closed, assigned to rwe

[2020-12-22 18:13] andreasabel commented on #5102
Seem like the present issue is in the same ballpark as #5045.
Worked with 2.6.1, doesn't work on master.  Likely a duplicate of #5045.

[2020-12-22 18:17] andreasabel commented on #5045
I confirm that this is not an issue with 2.6.1, but an issue with the present master.

[2020-12-22 18:23] #5103 closed, assigned to nobody

[2020-12-22 18:30] andreasabel commented on #5096
If we are aiming for a syntax that is self-explanatory (sort of) to the casual Agda reader, we should rather spell out `default-modality`.

However, I think it is also good to support default modality by type:
[code]
(And once we understand this, we can guess `@0 _ : _` --- with the drawback of ungooglability, as you note.)

[2020-12-22 18:36] UlfNorell commented on #5096
Default modality by type would be a bit gnarly to implement. You'd need to unify the type of the meta against all default modalities and have some strategy for deciding which one to pick when there are multiple matches.

[2020-12-22 19:32] andreasabel commented on #5061
_While you are doing the hard work, @L-TChen , I wrote an email to Travis CI begging for free CI.  This might buy us (and agda/agda-stdlib etc.) some time..._

Dear Madams and Sirs of travis-ci.com,

we, the developers of the Agda programming language, have benefited from the free CI service at travis-ci.org for several years, with close to 9000 builds of

  https://travis-ci.org/github/agda/agda

[2020-12-23 08:20] L-TChen commented on #2005
I am closing this issue since we do ship stack configurations and test them on all platforms and with selected ghc versions via GitHub workflow ([here](https://github.com/agda/agda/actions?query=workflow%3A%22Stack+build%22)).

Adding Agda to Stackage is done recently via #4672, and one can build Agda with the nightly resolver `stack build Agda --resolver nightly` already.

What we do not have is

[2020-12-23 08:20] #2005 closed, assigned to EdNutting

[2020-12-23 08:32] L-TChen commented on #4571
I don't see warnings any more on GHC 8.10.2 and stack 2.5.1 ([log](https://github.com/agda/agda/actions?query=workflow%3A%22Stack+build%22)). Laziness sometimes works.

[2020-12-23 08:32] #4571 closed, assigned to L-TChen

[2020-12-23 08:59] L-TChen commented on #5061
Regarding migrating to GitHub actions, there is one caveat. Although the GitHub-hosted runner does provide Ubuntu 16.04, the pre-installed GHC is 8.10.2 ([Image Version: 20201210.0](https://github.com/actions/virtual-environments/blob/releases/ubuntu16/20201210/images/linux/Ubuntu1604-README.md)). The action  [haskell/actions/setup](https://github.com/haskell/actions/tree/main/setup) used to set u

[2020-12-23 14:53] andreasabel commented on #5061
_I got the following reply:_

John Dimoulakis (Travis CI)                                                                                      Dec 23, 2020, 4:45 EST

Hello Andreas​ ,

Thanks for contacting Travis-CI Support! We would love to help. We  offer an Open Source Subscription for free to non-commercial  open-source projects. To qualify for an Open Source subscription, the  project must m

[2020-12-23 15:02] andreasabel commented on #5061
_I answered:_

Hello John,

thanks for your quick reply.

We meet the requirements for an OSS, the only clarification I need is on point 4:

We are academics (e.g., I am a senior lecturer) and get a salary from the university, and part of our time goes into Agda development.  I would guess that universities do not count as "commercial company or organization", do they?

My other questions concerns

[2020-12-24 02:08] #4774 closed, assigned to L-TChen

[2020-12-24 02:08] #5037 closed, assigned to nobody

[2020-12-24 02:23] L-TChen commented on #4543
I closed this issue accidentally instead of #4513. So, I am reopening this one and closed the other.

[2020-12-24 02:26] #4513 closed, assigned to asr

[2020-12-24 02:56] L-TChen commented on #2570
I can take care of this. I have used GitHub Action to publish websites like my own website https://l-tchen.github.io and http://flolac.iis.sinica.edu.tw. The setup is pretty easy but requires the repo administrator to select a branch (and optionally a directory).

I guess a project site is better than an organisation site (see [here](https://pages.github.com) for difference) in this case. As for t

[2020-12-24 03:01] L-TChen commented on #4770
The issue https://github.com/agda/agda/issues/4799 occurs to me, so giving up cabal 1.24 as well as GHC 8.0.2 might be an option.

[2020-12-24 03:35] asr commented on #4770
It seems we are moving from cabal to stack (and I agree). What about of only remove cabal support for older versions of GHC?

[2020-12-24 09:50] jespercockx commented on #4770
FYI, Ubuntu Bionic Beaver (18.04, the previous LTS release) comes with ghc 8.0.2-11 and cabal-install 1.24.0.2-2. Ubuntu Focal Fossa (20.04, the latest LTS release) comes with ghc 8.8.1 and cabal-install 2.4.0.0-2. So for both ghc 8.0.2 and cabal 1.24 the question is essentially the same: do we still want to support the 2018 LTS release of Ubuntu or do we expect people to have upgraded to the 2020

[2020-12-24 09:54] gallais commented on #4770
May be worth asking on the mailing list?

[2020-12-25 18:55] andreasabel commented on #4672
To add Agda to LTS, I filed
- STMonadTrans: https://github.com/commercialhaskell/lts-haskell/issues/306
- equivalence: https://github.com/commercialhaskell/lts-haskell/issues/307
- data-hash: https://github.com/commercialhaskell/lts-haskell/issues/308
- geniplate-mirror: https://github.com/commercialhaskell/lts-haskell/issues/309

[2020-12-25 19:57] asr commented on #4672
The current stack files for the different versions of GHC are used for developing Agda. We should add stack files only for using Agda. We do it for `Agda.cabal` in release time.

[2020-12-26 01:02] L-TChen commented on #4672
@asr: Can you explain a bit what the non-development version should be?

[2020-12-26 20:42] yellowsquid opened #5110 "Problems with implicit arguments"
I would expect `is-refl` and `is-refl′` to either both type check or both have unsolved constraints. Instead, `is-refl` has unsolved constraints but `is-refl′` type checks.

[code]

There is a clear workaround to this issue (writing the lambda). However, from a user experience perspective, this is a major issue. A function name is far more descriptive than an inline lambda. Additionally, this lead

[2020-12-26 21:34] andreasabel commented on #5110
Since hidden arguments are inserted eagerly, your code is interpreted as
[code]
This meta cannot be solved uniquely.  You need to write
[code]
See also #1079.

[2020-12-26 21:34] #5110 closed, assigned to nobody

[2020-12-27 07:11] asr commented on #4672
@L-TChen, for example, `stack-8.4.4.yaml` includes

[code]

The above libraries are not need for installing Agda with `stack` from a released version on Hackage (the two first libraries are used for the test suite and the last one is used for installing the `fix-whitespace` program).

[2020-12-27 11:37] andersk commented on #5109
Commit 76278c23d447b49f59fac581ca4ac605792aabbc “relax ghc version bound for transformers dependency” is also needed. It’s in `master` but not in a release. Can that be added as a Hackage revision so that Agda 2.6.1.2 can be built on NixOS (which already has the ListLike patch)?

[2020-12-27 13:39] L-TChen commented on #4672
I think that’s fine. These packages are not needed unless the option `--test` is specified. The section `extra-deps` is used to resolve the dependency as the specified resolver may not include desired packages.

One particular change I’d like to have is to move `size-solver` to `extra-deps` so that `stack build` does not build `size-solver`. I am not sure why it has been in the section of `package

[2020-12-27 16:36] rw111 commented on #4521
After days of experimentation with the advice here (and different versions and so on), this one finally worked with Ubuntu 20, GHC 8.10.3 and 4GB RAM:
cabal install --ghc-options="+RTS -M3G" -j1 --force-reinstalls Agda
and this one didn't:
cabal install --ghc-options="+RTS -M2G" -j1 --force-reinstalls Agda
Needless to say lots of other variants didn't work. For example I had to upgrade GHC to the

[2020-12-27 17:48] asr commented on #5109
No. Unfortunately, `if`conditions can not be changed in Hackage.

[2020-12-27 17:57] asr opened #5112 "`make install-fix-whitespace` shouldn't use the `stack-X.Y.Z.yaml` files used for Agda"
In order for removing unnecessary dependencies from the `stack-X.Y.Z.yaml` files used for Agda, `make install-fix-whitespace` should use the `stack-X.Y.Z.yaml` files from the `fix-whitespace` repository.

[2020-12-27 17:58] asr commented on #4672
See also #5112.

[2020-12-27 19:27] rw111 commented on #5109
Agda 2.6.1.2 installed with Ubuntu 20, GHC 8.10.3, Cabal 3.2.0.0 4GB:
cabal install --ghc-options="+RTS -M3G" -j1 --force-reinstalls Agda
(I was in any case having similar problems with GHC 8.8.4 and put it down to memory leaks in Cabal plus my 4GB RAM)
But my installation seems to have other problems, too.
Is there a well tested method for installing Agda at all? I've really been struggling with

[2020-12-27 21:48] jespercockx commented on #5109
We're currently testing installation of Agda with GHC 8.0.2, 8.2.2, 8.4.4, 8.6.5, 8.8.4, and 8.10.2, with both Cabal and Stack. If you have problems with any of these versions, please ask a question on the mailing list or on Zulip, or post an issue here on github.

[2020-12-27 22:29] asr commented on #5112
Currently the `Makefile` uses `stack` if the `stack.yaml` file (which is .gitignored) is in the root directory. So you can run
[code]
for using using `stack` with GHC X.Y.Z.

The fix will use a similar approach. That is, a `stack.yaml` (also .gitignored) is required in the root directory of the `fix-whitespace` program (i.e. `src/fix-whitespace`).

For creating both `stack.yaml` files (for Agda an

[2020-12-27 22:44] asr opened #5113 "Error removing `stack-8.10.1.yaml` file"
I'm getting [these](https://github.com/agda/agda/actions/runs/447696176) errors after removing the `stack-8.10.1.yaml` file. Any ideas?

[2020-12-28 02:03] #5112 closed, assigned to asr

[2020-12-28 02:51] asr commented on #5113
My bad. I didn't remove the file from `Agda.cabal`.

[2020-12-28 02:51] #5113 closed, assigned to asr

[2020-12-29 14:58] lclem opened #5116 "case-split and parametric modules"
Hello! I have the following issue. There are two source files. The first one is `Module1.agda` and looks as follows:

[code]

The second one is `Module2.agda` (hurray) and it looks as follows:

[code]

The issue is that by case-splitting in the hole I get

[code]

instead of the desired

[code]

Not only the current behaviour creates ugly code,
but it actually generates wrong code,
since I then ge

[2020-12-30 12:08] Alizter commented on #1981
@jespercockx Any progress with this?

[2020-12-30 22:36] cruhland opened #5117 "Poor typechecking performance when there are many instance arguments"
There appears to be quadratic behavior in the typechecker when there are many "awake" instance constraints. For example, I measured the typechecking time of [this 350 line file](https://github.com/cruhland/agda-axiomatic/blob/3a05ebd0de707a2ccffaa04e9ec8c40d6358e8c9/src/net/cruhland/models/Integers/Multiplication.agda) alone to be just over 3 minutes. More specifically, in the following term from

[2021-01-01 09:59] gallais commented on #5116
This is a duplicate of #3209

[2021-01-01 10:00] #5116 closed, assigned to nobody

[2021-01-01 11:00] lclem commented on #3209
I also stumbled into this and it is quite frustrating

[2021-01-02 16:04] cruhland opened #5119 "Move instance constraints to a separate field in the TC state"
As a follow up to the performance issue reported in #5117 and fixed in #5118, some improvements could be made to how the instance constraints are stored and processed. Comments from @jespercockx on #5118:

[2021-01-02 16:15] jaycech3n opened #5120 "Default build fails for ICU version 68 upward"
(Arch Linux, ICU packages icu-68.2-1, lib32-icu-68.2-1; current Agda master)

Just a report that the text-icu-0.7.0.1 package will fail to build if you have ICU version 68.1 upwards due to a change in header definitions, see [here](https://github.com/unicode-org/icu/pull/1282), [here](https://unicode-org.atlassian.net/browse/ICU-21267).

Disabling cluster counting let me build again.

[2021-01-02 17:56] asr commented on #4955
Running `make install-bin CABAL_OPTS=--allow-newer` with GHC 9.0.1-rc1 I'm getting the errors in https://github.com/haskell/network-uri/issues/55.

[2021-01-03 02:28] #4792 closed, assigned to asr

[2021-01-04 12:04] andreasabel commented on #5120
There seems to be a PR upstream to fix this: https://github.com/haskell/text-icu/pull/48

[2021-01-06 03:18] L-TChen commented on #5120
I doubt that this will be fixed, since the last commit is on 22 May 2017.

[2021-01-06 07:30] #2570 closed, assigned to L-TChen

[2021-01-06 10:02] fredrikNordvallForsberg commented on #4725
I think I am running into the same kind of problem, but with perhaps a simpler example, and I don't see any eta getting in the way here. Reporting partly in the hope that this will shed new light, and partly hoping to be told about a workaround.

[code]

This gives the error

[code]

because the dot pattern has been "moved" from `limit x y x<y` to `x<y` in `≤-limiting`, hence `x<y` is not seen as

[2021-01-06 13:25] asr opened #5122 "Remove duplicated definition of `singleton` for non-empty lists"
@andreasabel, was there a specific reason for adding the `singleton` function for non-empty lists in 9ad1a4a9ff91d4ad0df04c321a09e3354687ddcb, i.e. https://github.com/agda/agda/blob/dd784dde31dcd948c751a2612e5a8300f9fa451a/src/full/Agda/Utils/List1.hs#L53-L54

instead of using the definition from `Agda.Utils.Singleton.hs`?

I noted the duplicate definition while working in #4955 because in GHC 9.0

[2021-01-06 17:05] asr commented on #5122
I didn't find any problem after removing the definition from `Agda.Utils.List1.hs`.

[2021-01-06 17:10] asr commented on #5122
Closed by #5123.

[2021-01-06 17:10] #5122 closed, assigned to asr

[2021-01-06 20:04] #5109 closed, assigned to asr

[2021-01-06 22:21] andersk opened #5124 "Repository missing v2.6.1.2 tag"
It presumably belongs on commit a63abbfda72f637a868855d06c58156d3d0461bd.

[2021-01-07 03:29] L-TChen commented on #4543
The problem seems going away as it usually failed at compiling `VersionCommit`, see the [log](https://github.com/L-TChen/agda/runs/1660063111?check_suite_focus=true).

Yet, `ghc` 8.10.3 still fails at compiling `TypeChecking.Rules.Term` with a different error message
[code]
This might be caused by something else, since `ghc` 8.10.2 sometimes fails randomly on the GitHub-hosted runner with the opti

[2021-01-07 08:54] #4589 closed, assigned to L-TChen

[2021-01-07 11:18] gallais commented on #4589
Are all the people watching the repo going to get one notification per day
for this nightly release? Is it possible to turn that off?

![Notification](https://i.imgur.com/mFLdkVi.png)

[2021-01-07 12:02] L-TChen commented on #4589
Oops, it is pretty noisy. I don’t know how to turn it off.

By the way. the nightly build is not really built every night but every time the new commit on `master` changing the codebase passes all test suites.

[2021-01-07 13:50] asr commented on #4543
No. If the user has a similar problem with `cabal-install` we can suggest: to use `stack` or to use GHC 8.10.3.

[2021-01-07 13:52] asr commented on #4543
It seems the problem was fixed in GHC 8.10.3.

[2021-01-07 13:52] #4543 closed, assigned to asr

[2021-01-07 15:01] L-TChen commented on #4589
It is not possible to unsubscribe these notifications :(

See https://github.community/t/stop-receiving-email-notification-about-new-prerelease/14170.

[2021-01-07 18:35] andreasabel commented on #5122
Well, to enable the qualified `List1.singleton`.

It is of course fine to use the polymorphic version `singleton`.

Great!, then my definition is of course obsolete.

[2021-01-08 13:41] heades opened #5125 "Parse error using underscores"
The following gives a parse error:

[code]

Error:

[code]

Agda version 2.6.1.2

If I change it to `foo-open` or `fooOpen` it works.

[2021-01-08 13:55] jespercockx commented on #5125
Names with underscores have a special meaning in Agda, they are used to construct mixfix operators where the underscores indicate where the arguments should go. As the error indicates, you cannot use `open` as part of a mixfix name since it is a keyword. So this seems to be working as intended to me.

[2021-01-09 11:29] marco-vassena opened #5126 "Install old versions of Agda in Homebrew"
Homebrew can maintain different versions of the same formula, but for the Agda formula it seems that only the most recent version is available to install through Homebrew.
This makes it impossible to install an old version of Agda through Homebrew, unlike what the install section of the old docs say.

Ideally, one would type `brew install agda@2.5.3` to get Agda version 2.5.3. At the moment, one c

[2021-01-09 12:10] gallais commented on #5126
Should this go to https://github.com/Homebrew/homebrew-core?
(Also: ping @mietek)

[2021-01-10 20:30] andreasabel commented on #5120
See https://github.com/haskell/text-icu/issues/30#issuecomment-757538841 : I emailed to haskell-libraries to inquire about the maintainer Bryan O'Sullivan.

[2021-01-10 20:33] #5125 closed, assigned to nobody

[2021-01-10 22:45] heades commented on #5125
Yeah, my bad. Sorry about that.

[2021-01-11 17:16] #5058 closed, assigned to nad

[2021-01-13 10:16] marco-vassena commented on #5126
To be honest, I don't know how the deployment through homebrew works. But, I was expecting something like that after reading this [answer](https://stackoverflow.com/questions/3987683/homebrew-install-specific-version-of-formula).

[2021-01-13 10:42] gallais commented on #5126
Oh, I think it's an absolutely legitimate question / wish.
It's just that homebrew packaging is handled somewhere else AFAIK.

[2021-01-13 14:42] ajrouvoet opened #5127 "\AgdaMissingDefinition is missing a definition"
It appears that compiling a literate Agda document with a signature that misses a definition generates something like

`\AgdaMissingDefinition{\AgdaPostulate{the-thing-without-a-definition}} ...`

But `\AgdaMissingDefinition` is not defined by `agda.sty`.

[2021-01-13 19:43] asr commented on #4955
I'm getting some compilation errors like:

[code]

I can fix the error by removing the constraint `Ord n` from https://github.com/agda/agda/blob/c5400349d7d9cb1e54af19bdb2046b52ecada5bc/src/full/Agda/Interaction/Highlighting/Dot/Base.hs#L61
and adding this constraint to the type of some functions. I don't know if this error is a regression in GHC so I filled https://gitlab.haskell.org/ghc/ghc/-/is

[2021-01-14 10:30] jespercockx opened #5128 "getDefinition sometimes loses patterns"
Here's a minimal example:

[code]

This file checks, but there should be one more pattern variable in the reflected clause ("x" is there in the telescope but there is no `var 1` in the list of patterns). Strangely, the problem occurs only under very specific circumstances: if the type of `y` is not dependent then the reflected patterns are correct.

I've tested on a recent build from master and on

[2021-01-14 16:03] asr commented on #4955
The above error is not a regression in GHC (see https://gitlab.haskell.org/ghc/ghc/-/issues/19216).

[2021-01-14 19:16] mouse07410 opened #5129 "Cannot build LaTeX doc - problem with "convert""
macOS 10.15.7, Xcode-12.3, current stable Cabal-3.2.0.0, GHC-8.10.3.

[code]

[2021-01-14 20:37] gallais commented on #5129
Do you have [the right dependencies installed](https://github.com/agda/agda/blob/master/doc/user-manual/contribute/documentation.rst#rendering-documentation-locally)?
In particular you should have ImageMagick with SVG and PNG support.

[2021-01-14 23:01] mouse07410 commented on #5129
There were subtleties, but in general you're right. Some dependencies were missing.

I was unable to satisfy the dependencies on CentOS-8, but pulled everything necessary and built `Agda.pdf` on MacOS just fine, thanks.

So I'll close it for now. Please feel free to re-open, if you'd like to track it down on CentOS. Otherwise, I have my manual built, which of course I can use on any of my systems.

[2021-01-14 23:01] #5129 closed, assigned to nobody

[2021-01-14 23:09] mouse07410 opened #5130 "Built Agda fails test Issue4967"
MacOS-10.15.7, GHC-8.10.3, Cabal-3.2.0.0, current master.

<img width="555" alt="Screen Shot 2021-01-14 at 18 05 48" src="https://user-images.githubusercontent.com/5923577/104659906-89fa5e00-5693-11eb-8f7c-887371d5b4aa.png">

Complete logs:
[make-out-2021-01-14.txt](https://github.com/agda/agda/files/5817445/make-out-2021-01-14.txt)
[make-test-2021-01-14.txt](https://github.com/agda/agda/files/581

[2021-01-14 23:10] mouse07410 opened #5131 "Agda fails test Issue4967"
MacOS-10.15.7, GHC-8.10.3, Cabal-3.2.0.0, current master.

<img width="555" alt="Screen Shot 2021-01-14 at 18 05 48" src="https://user-images.githubusercontent.com/5923577/104659906-89fa5e00-5693-11eb-8f7c-887371d5b4aa.png">

Complete logs:
[make-out-2021-01-14.txt](https://github.com/agda/agda/files/5817445/make-out-2021-01-14.txt)
[make-test-2021-01-14.txt](https://github.com/agda/agda/files/581

[2021-01-15 02:58] L-TChen commented on #5131
That's odd. It runs without any problem on my machine (macOS 11.1, ghc 8.10.3 with stack) and also on the CI/CD platform provided GitHub ([log](https://github.com/agda/agda/runs/1690495133?check_suite_focus=true)).

Your build log doesn't look right to me, since there shouldn't be any warning unless you enable some flags globally.

Can you check the GHC version, the version of Agda (is it clean or

[2021-01-15 03:00] L-TChen commented on #5130
Duplicate of #5131.

[2021-01-15 03:00] #5130 closed, assigned to nobody

[2021-01-15 07:28] UlfNorell commented on #5131
This is an issue with test suite dependencies. If I remember correctly if you run `make bugs` once everything will be ok.

[2021-01-15 13:13] ice1000 opened #5132 "The repl crashes for expression \ x -> x"
[code]

Agda version `2.6.2-c540034`

[2021-01-15 13:16] mouse07410 commented on #5131
Alas, running `make bugs` does not seem to alleviate this problem. The run still ends up with one failing test - "Issue4967":
<img width="678" alt="Screen Shot 2021-01-15 at 08 13 20" src="https://user-images.githubusercontent.com/5923577/104731491-c2d51a00-5709-11eb-8d4b-1458037c7938.png">

- GHC-8.10.3
- Agda pulled from this repo via `git clone https://github.com/agda/agda.git --recurse-submodu

[2021-01-15 13:21] gallais commented on #5131
I see these from time to time too but they disappear after a re-run
of the test suite like Ulf suggested.

[2021-01-15 13:27] jespercockx commented on #5132
It seems things have degraded quite harshly since development of this feature was dropped.

[2021-01-15 15:11] L-TChen commented on #5131
Although `Makefile` is not yet updated, the nix-style cabal is tested ([log](https://github.com/agda/agda/runs/1690117282?check_suite_focus=true)).

[2021-01-15 16:31] ice1000 commented on #5132
I know, but it seems to be related to error handling so I'm posting this

[2021-01-15 16:33] ice1000 commented on #5132
Seems that all you need to do is to have builtinSet

[2021-01-15 17:27] mouse07410 opened #5133 "Current master fails LaTeX-related tests"
MacOS 10.15.7, MacTeX-2020, GHC-8.10.3, Cabal-3.2.0.0.

Tests fail:
[code]

Details:
[code]

[code]

[code]

[2021-01-15 17:28] mouse07410 commented on #5131
Interesting. Doing `make bugs` **a few times** indeed alleviated the "Issue4967" problem.

And brought me to the LaTeX-related problems *in the test suite* - for which I'll open a new issue #5133.

[2021-01-15 17:28] #5131 closed, assigned to nobody

[2021-01-15 18:04] gallais commented on #5133
I suspect you don't have `lualatex` installed

[2021-01-15 20:44] mouse07410 commented on #5133
Alas, your suspicion is unfounded:
[code]

[2021-01-15 23:05] gallais commented on #5133
You may be missing some other tex-specific dependencies.
Have you tried manually compiling one of the tex files generated
by the test suite?

[2021-01-16 09:31] andreasabel commented on #5132
Harsh degradation could be prevented by adding a few more test cases in `test/interactive`.

(Btw. maybe we should rename `interactive` to `repl` to distance it from `interaction`.  But then we should maybe deprecate `--interactive` in favor of `--repl` as well ...)

[2021-01-16 10:00] andreasabel opened #5134 "Is agda-licenses obsolete?"
The `agda-licences` tool requires Cabal-2.0 (limiting to ghc <= 8.6 it seems) to build and needs Agda to be build with Cabal-2.0, too, to run:
[code]

I recently added a economic way to get the licenses using the `cabal-plan` tool, see [doc/license-report/README](https://github.com/agda/agda/blob/d6b08db36d68c87b97d37147b0b7a100ae62a073/doc/license-report/README.md).

Could we retire `agda-licence

[2021-01-16 10:06] andreasabel commented on #5124
Tag is now present, see https://github.com/agda/agda/releases/tag/v2.6.1.2

[2021-01-16 10:06] #5124 closed, assigned to andreasabel

[2021-01-16 13:11] andreasabel opened #5136 "Release 2.6.1.3 because a hackage revision of 2.6.1.2 is not possible"
2.6.1.2 is already outdated since it does not support GHC 8.10.3:
https://github.com/agda/agda/blob/a63abbfda72f637a868855d06c58156d3d0461bd/Agda.cabal#L245-L246

- The problem is that we have no _unconditional_ constraint for `transformers`, so when none of the conditions on ghc is satisfied, cabal simply does not include transformers into the build plan.
- I cannot make a revision on hackage sin

[2021-01-16 13:21] andreasabel commented on #4770
We could stop supporting older cabal versions while keeping cabal support for older GHCs in general.  E.g. we could support GHC 8.0 with cabal 2.0 rather than giving up on GHC 8.0 altogether already. (See https://github.com/haskell-CI/haskell-ci/issues/399#issuecomment-683980085.)

[2021-01-16 13:32] asr commented on #4770
Each version of GHC is shipped with a version of Cabal (the library) which is used by `cabal-install`. I guess that requiring a different version of `cabal-install` will be a mess for the user. For this reason, I suggested only support `stack` for GHC 8.0.2.

[2021-01-16 14:10] asr commented on #5136
The constraint in `transformers` is due to #2983 as pointed out in `Agda.cabal`. I don't see as follow your suggestion without breaking the fix for #2983.

 The modification of constraints in Hackage is not a problem of Agda. I suggest fill an request.

[2021-01-16 17:08] asr opened #5138 "GitHub workflow test.yml (Build, Test, and Benchmark): Could not find module ‘System.FilePath.Find’"
The workflow is generating the [error](https://github.com/agda/agda/runs/1713733185?check_suite_focus=true):

[code]
@L-TChen, why the missing dependency in `std-test` if the `filepath` library is a dependency of Agda?

[2021-01-16 18:03] andreasabel opened #5139 "Travis [complete tests] broken also for GHC 8.2"
(See also breakage for GHC 8.0 reported in #4770.)
It seems like the travis test for GHC 8.2 triggered with commit text `[complete tests]` is broken, e.g.
* https://travis-ci.org/github/agda/agda/jobs/754755491
* https://travis-ci.org/github/agda/agda/jobs/754765376
  In PR #5137 I tried to fix this by requiring cabal-install 2.2 but this did not help.

The problem: cabal chokes in the `--dependen

[2021-01-16 19:35] nad commented on #5134
If there is some other tool that supersedes `agda-licences`, then I don't mind if it is removed.

I tried to run `make` in `doc/license-report`, and got the following error:
[code]

[2021-01-17 01:22] mouse07410 commented on #5133
Unlikely, since MacTeX is a pretty complete and comprehensive installation that includes (almost?) all packages.
Not impossible, of course...

If you be kind enough to provide the exact commands that would accomplish that, I'd be happy to try them and report.

[2021-01-17 02:18] L-TChen commented on #5138
The required package to run `GenerateEverything.hs` is actually `filemanip` instead of `filepath`.

My guess is that it was merely lucky to have `filemanip` installed as required by some dependency, but now that mysterious package does not require `filemanip` any more. Perhaps `GenerateEverything` should be built properly using `stack` or `cabal` to solve the dependency.

[2021-01-17 03:00] asr commented on #5139
Since that Travis [complete tests] is only ran if the author of the commit explicitly write 'complete tests', I'm not surprised that it is broken.

[2021-01-17 03:03] asr commented on #5138
I guess the current easier solution is to use `cabal-install` via the `GNUMakefile`. I'll try it.

[2021-01-17 19:26] asr commented on #4955
I'm getting the following compilation error:

[code]

I filled https://gitlab.haskell.org/ghc/ghc/-/issues/19228.

[2021-01-17 19:53] mouse07410 commented on #5133
Going to `test/LaTeXAndHTML/succeed/` and running `lualatex` on every `.tex` file (without checking if the given file contains `\documentclass{}`), caused several of them fail to compile:
./Issue2400-2.quick.tex, ./Issue2400-2.tex, Issue2401.lagda.tex, Issue2445.lagda.tex, probably quite a few more.

Example (this file does not have `\documentclass{}`, and does not include `\usepackage{agda}`):
[c

[2021-01-17 20:42] andreasabel commented on #5134
Yes, I suppose you have to run `cabal v2-build` for agda first.
For curiosity, would `cabal v2-configure` also suffice?

[2021-01-17 22:37] #5138 closed, assigned to asr

[2021-01-18 00:05] andreasabel opened #5140 "test/LaTeXAndHTML/succeed contains failing tests"
Directory `test/LaTeXAndHTML/succeed` should contain successful tests only, failing tests should go under a subdirectory called `fail`. (See #5133 why the current laissez-faire can be confusing.)

Problematic `.lagda` files:
* [Issue2400-2](https://github.com/agda/agda/blob/89a14a76a31bcaaac657e6d8d9b92c8ed7402967/test/LaTeXAndHTML/succeed/Issue2400-2.lagda) #2400
* [Issue2453](https://github.com/

[2021-01-18 00:55] andreasabel commented on #5133
Please note:
- `.lagda.tex` files need to go through `agda --latex` first, they are not meant to compile directly with LaTeX.
- Generated `.tex` and `.quick.tex` files need only be correct LaTeX with the associated `.compile` file lists LaTeX engines.
- `Issue2445.compile` is empty (`[]`) so no valid LaTeX expected here
- `Issue2400-2` is a failing test case (see #5140)

All of these are covered b

[2021-01-18 07:11] UlfNorell commented on #5136
Not that it helps, but for the 2.6.1.1 release I changed the constraint to
https://github.com/agda/agda/blob/fce01db8f9d2ceb9c3a4aa179330ea4aa7587a71/Agda.cabal#L246-L247
for this very reason.

[2021-01-18 09:24] L-TChen opened #5141 "Building Agda on Windows with enable-cluster-counting using stack and pacman fails"
The package `text-icu` is required by the flag `--enable-cluster-counting` and it requires the ICU library to be installed.

It is recommend on Windows to install the ICU library via `msys`' `pacman` shipped by `stack`. However, the one available in the `msys` package database is of version 68 which is incompatible with `text-icu` (#5120).

Also the GitHub workflow `stack.yaml` fails to build Agda

[2021-01-18 14:03] UlfNorell commented on #5128
The problem is the projection-like optimisation. For projection-like functions `getDefinition` needs to fill in the dropped lhs vars. We do this correctly for applications, so it should be straightforward. I'll see what I can do.

[2021-01-18 23:07] asr commented on #4955
The above error is intentional (see https://gitlab.haskell.org/ghc/ghc/-/issues/19228). I'm writing a proper fix.

[2021-01-19 03:42] mouse07410 commented on #5133
OK, OK. I just wanted to see what succeeds with LaTeX, and what - doesn't. While my test was crude, at the same time it was rather comprehensive, I'd say. ;-)

Thank you!

As you see, for me - not quite. It's only around 5 tests failing, out of 1300+ (and I personally don't care all that much), but still thought the maintainers should be informed.

Absolutely it is. Weekly updates, like a clockwor

[2021-01-19 08:43] UlfNorell commented on #5128
The first fix revealed another bug: clause telescopes were incorrect for module application wrappers of projections and projection-like functions. This was actually visible in the test case for #2226.

[2021-01-19 09:49] #5128 closed, assigned to UlfNorell

[2021-01-19 12:38] UlfNorell commented on #5093
The problem here is that we incorrectly generalize over the `Eq A` argument to `n`, even though it is bound by the instance constraint for the argument to `P`. Fix is to not ignore instance constraints when computing which metas are constrained and cannot be generalized over. PR above.

[2021-01-19 16:03] #5093 closed, assigned to nobody

[2021-01-19 18:38] msuperdock commented on #4932
This can be closed. Pull request #4939 is open due to issues around improving the test suite, but the commit fixing this issue has been cherry-picked onto master:

https://github.com/agda/agda/commit/18b8c6dd776ad41107b9a86b0921e38774cd941d

[2021-01-19 18:38] #4932 closed, assigned to nobody

[2021-01-19 19:48] andreasabel commented on #5136
Ah, and me rookie fell into the trap.

[2021-01-21 13:11] Saizan commented on #1023
It seems that the check for the original problem can be circumvented by the identity type former as a datatype.

The following proof of false typechecks on Agda version 2.6.2-c857009

[code]

[2021-01-21 13:45] jespercockx commented on #3346
This was released in 2.6.0, I just forgot to close it.

[2021-01-21 13:45] #3346 closed, assigned to jespercockx

[2021-01-21 13:57] jespercockx commented on #4274
Re-reading the discussion above, it's unclear to me whether there is actually a problem with `Prop` at all. Since I don't see anything actionable and this has been lingering for more than a year, I'll go ahead and close this. Please open a new issue if you have a more concrete test case that clearly points to `Prop`.

[2021-01-21 13:57] #4274 closed, assigned to jespercockx

[2021-01-21 14:01] jespercockx commented on #4120
As for #4274, it is unclear to me whether the remaining issue here is related to `Prop` in specific or just a general performance problem with the occurrence check. Since there have been some improvements and there hasn't been any activity here in over a year, I'm going to close this now.

[2021-01-21 14:01] #4120 closed, assigned to jespercockx

[2021-01-21 14:06] jespercockx commented on #4751
I think I just misunderstood what the code is actually doing, the usages of insertImplicit in the coverage checker are actually quite innocent.

[2021-01-21 14:06] #4751 closed, assigned to jespercockx

[2021-01-21 15:37] #5141 closed, assigned to nobody

[2021-01-21 16:25] jespercockx commented on #1023
It seems I do not understand how the termination checker works, as I would not have expected this definition to pass the termination checker. Why is it fine to consider `i f` as being structurally smaller than `i (wrap f)`? (EDIT: I mean, I don't even understand why this code is fine `--with-K`.)

[2021-01-21 16:54] jespercockx commented on #1023
I re-checked our papers on pattern matching without K, and I'm pretty sure there's no way this example would be accepted by the (rather simplistic) termination criterion we're using there. So this seems to be caused by insufficient integration between the theories supporting the different features of Agda (in this case: pattern matching and termination checking).

[2021-01-21 17:24] msuperdock opened #5145 "--interaction-json gives interaction points out of order after refine"
## Issue

In the `--interaction-json` mode, after issuing a refine command, we get a JSON response with kind "InteractionPoints" containing an updated list of interaction points. This list of interaction points is usually sorted according to the order in which the interaction points appear in the file, which is helpful for implementing an editor plugin. The issue is that this sorting is done incor

[2021-01-21 17:27] msuperdock commented on #5145
Pinging a few people: @banacorn @ice1000 @rwe

[2021-01-22 08:14] Saizan commented on #1023
I was also a bit surprised by `i f` being smaller, maybe it's size-changing termination?, but we can rework the example to not rely on it:
[code]

[2021-01-22 08:22] Saizan commented on #1023
Do we know how this problem was addressed in Coq?

[2021-01-22 09:28] jespercockx commented on #1023
I believe in Coq, constructor arguments are marked as either "recursive" or "non-recursive", and the termination checker only accepts recursive calls on arguments that come from a recursive position. In this example the argument of `i` would not be seen as recursive, so the recursive call would be rejected.

However, adopting such a criterion in Agda might also rule out a lot of "good" use cases,

[2021-01-22 10:17] Saizan commented on #1023
Is their fix for the original problem of this issue also similar to what we do in Agda? Since that definition of `noo` only matched on `wrap` whose argument is recursive.

[2021-01-22 10:54] jespercockx commented on #1023
I tried porting the example to Coq, but it seems it's not accepted:
[code]
Error message: `Cannot guess decreasing argument of fix.`

I'm not sure what Coq exactly does here to reject the example, it seems that it somehow cares about the first argument of the recursive call to `noo`.

[2021-01-22 11:03] jespercockx commented on #1023
Thinking a bit more about it, the reason why Coq rejects the example is because I had to abstract over `x : Id X` in order for the pattern match on `Refl` to have the desired effect. If you don't do the abstraction, then the type of `x` remains at `Id X` instead of being specialized to `Id One`. However, that means the link between the argument `f` in the recursive call and the original argument `

[2021-01-22 11:14] jespercockx commented on #1023
Another way to approach the problem is by saying that we can compute in advance an infinite tree of all valid recursive calls from the type of the argument on which we are recursing. The way we construct this infinite tree is just by repeatedly case splitting on a fresh variable of this type and collecting all the possible recursive arguments generated by this process. Crucially, this should be do

[2021-01-22 11:53] Saizan commented on #1023
Oh, I see, I was under the impression Coq also had this problem, but maybe it actually was only discussed on coq-club. Unfortunately I can't seem to find the coq-club thread.

[2021-01-22 17:05] jespercockx commented on #4672
TIL that I should add `--resolver nightly` to `stack install Agda` to make it work without any further configuration (see https://agda.zulipchat.com/#narrow/stream/238741-general/topic/.22configuration.20has.20no.20specified.20version.22.20with.20stack.20install/near/223663802). Should we add this to the documentation somewhere (at least until this issue is solved)? Or can we expect `stack install

[2021-01-22 17:06] jespercockx commented on #4672
Note that all four issues created by @andreasabel are now closed, so perhaps we can move forward on this issue now?

[2021-01-23 12:27] rintcius opened #5146 "v2.6.1.2 does not contain MAlonzo/RTE/Float.hs"
I was trying out hello world on v.2.6.1.2 and ran into https://github.com/agda/agda/issues/3619.

Maybe I'm missing something, but from the milestone mentioned in https://github.com/agda/agda/issues/3619#issuecomment-699661364 I think https://github.com/agda/agda/commit/aa17ef039db11c11709b0cef357691c31e78d991 should be included in v.2.6.1.2?

[code]

[2021-01-25 02:40] MatthewDaggitt opened #5147 "Regression: type of generalised variable can no longer be inferred"
Self-contained test case:
[code]
In Agda 2.6.1 this type checks fine. In Agda 2.6.2-358e080 this results in the unsolved variable:
[code]
This is preventing me from merging in the experimental branch for v1.5 of the standard library.

[2021-01-25 12:56] andreasabel commented on #5146
Thanks for reporting!

v2.6.1.2 does not fix #3619.  The milestone 2.6.1.2 is incorrect at #3619.

[2021-01-25 12:57] #5147 closed, assigned to nobody

[2021-01-25 13:30] asr commented on #5136
I'll prepare the release of 2.6.1.3 after finishing the release of 2.6.1.2 (#4749).

[2021-01-25 13:33] asr commented on #4749
I don't know if the `release-2.6.1.2` branch is ready for preparing the release of 2.6.1.3 (#5136). Anyway, I'll finish the release of 2.6.1.2.

[2021-01-25 14:12] UlfNorell commented on #3000
So, the problem is that to make #707 and similar situations work, there is logic in the scope checker to decide whether two interaction points are really the same. This is handled by `registerInteractionPoint` in `TypeChecking.Monad.MetaVars` and basically checks if there is already an interaction point with the same source location as the new hole.

In this example this results in the scope check

[2021-01-25 16:03] #3000 closed, assigned to nobody

[2021-01-26 10:44] andreasabel commented on #4955
@asr Thanks for the work!

I see that in b0cf67f0b1308b60f02c5a2eae6ad647eadc60c3 you settled for eta-expansion instead.

I would prefer your initial proposal:

I think constraints in type definitions such as `type` and `data` are anyway a somewhat obscure and hard-to-understand feature, and to the casual reader of the code eta-expansions are irritating.
At least I would try to eta-contract the co

[2021-01-26 10:53] andreasabel commented on #5136
Great, thanks!  Then maybe I can finally get Agda into stackage...

[2021-01-26 13:55] alexarice opened #5151 ""-W error" invalidates interface files"
This may be intentional, but currently it seems that adding the "-W error" flag to agda causes interface files to need to be remade and in fact the generated interface file differs depending on whether the flag is set.

This makes creating precompiled agda packages very difficult, as they won't work when this flag is turned off/on. Is there any possible workaround, as I expect rebuilding interface

[2021-01-26 14:00] UlfNorell commented on #4998
The problem was that the hiding of the principal argument of the projection (`f` in this case) was incorrectly used as the hiding of the right-hand side of the clause. This triggered the feature that lets you omit instance fields from co-pattern matches and all generated clauses were dropped.

[2021-01-26 15:04] nad commented on #5151
Perhaps one could make Agda keep track of whether `-Werror` would have made Agda reject the code. Then code that would not have been rejected could be made compatible with `-Werror`.

[2021-01-26 15:07] alexarice commented on #5151
Would this mean that typechecking code with `-Werror` that was built without `-Werror` would cause a rebuild, but not the other way round?

[2021-01-26 15:26] alexarice commented on #5151
Ah I reread what you said and that makes sense now. This would seem to fix the problem. Another solution could be for `-Werror` to not propagate into libraries, though this is likely harder to implement

[2021-01-27 13:07] andreasabel commented on #3372
@UlfNorell

Their number could be growing... #5133.

[2021-01-27 13:09] andreasabel commented on #5133
2021-01-27 macOS`xelatex acmart-xelatex.tex` fails with:
[code]

`pdflatex acmart-pdflatex.tex` has the same problem.

These `.tex` files were added without a `.lagda` file in b78820a6603f79a2cb71265c54dfc645734f5d11 for issue #3372 (templates for LaTeX literate agda in user manual).

I think these "templates" (that do not have a `.lagda` source) don't belong here in `succeed` but should reside in

[2021-01-27 13:16] andreasabel commented on #5098
Not the most urgent issue, bumping milestone to 2.6.3.

[2021-01-27 13:19] andreasabel commented on #5096
New feature, bumped to 2.6.3.

[2021-01-27 13:25] #4998 closed, assigned to UlfNorell

[2021-01-27 13:43] #4526 closed, assigned to jespercockx

[2021-01-27 13:53] #4997 closed, assigned to nobody

[2021-01-27 14:01] nad opened #5153 "Inline more often?"
The commit 7cbb67e97067b2420a63c2a22d8029add0e57813, which turned off inlining in some cases, broke the test case for #2918. Perhaps this could be fixed by allowing inlining of recursive pattern-matching lambdas for which every recursive cycle goes via something that is not inlined.

[2021-01-27 14:04] nad commented on #2918
For the new problem, see #5153.

[2021-01-27 14:04] #2918 closed, assigned to nobody

[2021-01-27 14:48] #5060 closed, assigned to nobody

[2021-01-27 14:49] andreasabel commented on #4779
Regression in printer (additional hidden arguments in patterns) visible in `.out` files in commit 1e50a08654e0e02bb32110d82e5fb584f2924bd7.

[2021-01-27 14:53] andreasabel commented on #4702
Workaround: `{-# INLINE case_of #-}`

Doing this automatically would require some substantial changes to the termination checker. (A auto-inline pass.)

Looks like we will release this regression in 2.6.2.
TODO: document in release notes!

[2021-01-27 15:00] andreasabel commented on #4353
Please submit an enhancement request if you are badly bitten by this change.

[2021-01-27 15:00] #4353 closed, assigned to nobody

[2021-01-27 15:00] nad commented on #4747
Have you made any progress on this?

[2021-01-27 15:11] Saizan commented on #5092
`addDisplayForm` uses `unSpine` which turns `x .foo .bar` into `bar [Apply (foo [Apply x])]` which is useful to figure out that the head of the display form should be `bar` but then uses `[Apply (foo [Apply x])]` as patterns for the display form which doesn't match  `[Apply (x .foo)]`.

[2021-01-27 15:11] UlfNorell commented on #5117
Fixed by #5118.

[2021-01-27 15:11] #5117 closed, assigned to nobody

[2021-01-27 15:12] andreasabel opened #5154 "Release 2.6.2"
First meeting 2021-01-27 Ulf, Nisse, Andrea, Jesper, Victor, Andreas

Release plan
============

Meet weekly Wed 2.30pm until release.

Triage until 2021-02-10
------------------------

- go through 'no milestone' issues and assign to 2.6.2 or to 2.6.3 or icebox
- go through 2.6.2 issues and bump to 2.6.3 or icebox
- assign 2.6.2 issues to someone aggressively or use release-blocker label

Priorit

[2021-01-27 15:23] JacquesCarette commented on #5060
Is there any chance we could get some debugging tools related to such issues? Surely there are ways to measure how complex a unification problem is (was?), and past some threshold (user-provided?) a debug message would be emitted.

In time, I'd be willing to do it myself. I just know that I wouldn't get to it until May at the earliest. I think performance debugging is one of the few really non-tri

[2021-01-27 15:31] jespercockx commented on #4710
In general it seems like a better strategy to not normalize things eagerly, but unfortunately in this particular case it seems to lead to worse performance. It's not clear there's anything we can do to address this in general. However, if you have a small test case then we might be able to find a different way to improve the performance.

[2021-01-27 15:31] #4710 closed, assigned to jespercockx

[2021-01-27 16:09] UlfNorell commented on #4814
So fixed? Closing for now, reopen if needed.

[2021-01-27 16:13] capn-freako commented on #4814
Yes, sorry. I'd forgotten this.
I am running under Windows 10 w/o issue (well, except for font support, but that's a separate issue).

[2021-01-27 16:33] nad opened #5155 "Memory leak?"
I have some code for which Agda runs out of memory on the first run, but is successful on the second run. This suggests that there is a memory leak. I think this should be investigated before the next release of Agda.

To reproduce (on my 32-bit system):
[code]
Agda runs out of memory, but the following invocation, where `1.7G` has been replaced by `1.5G`, succeeds:
[code]

[2021-01-27 16:43] UlfNorell commented on #4964
I don't see those options in the current documentation, so I guess this is fixed.

[2021-01-27 16:43] #4964 closed, assigned to nobody

[2021-01-27 16:53] andreasabel commented on #5132
Likely broken by PR #4629.  Could maybe be fixed by running these declarations:
https://github.com/agda/agda/blob/ad8a833ba65ca8be144ed81c2e48c8edd8752f57/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1346-L1358

UPDATE: indeed, this fixed it.

[2021-01-27 16:53] UlfNorell commented on #5061
We dropped travis now didn't we? Last build was 11 days ago. I don't see any strong reasons to go back even if we get OSS status, so maybe close this for now?

[2021-01-27 16:54] #5063 closed, assigned to nobody

[2021-01-27 16:56] asr commented on #5061
Because you need to include the sentence 'complete tests' in the commit message for running the Travis tests.

At least the `hTags`test is missing in the GitHub workflows.

[2021-01-27 17:38] #5132 closed, assigned to andreasabel

[2021-01-27 17:39] L-TChen commented on #5061
No, there are still some leftovers on Travis. And I don’t see an easy way to port them to GitHub right now.

[2021-01-27 17:55] nad commented on #5060
Please open a new feature request for this.

[2021-01-27 20:19] ice1000 commented on #5132
Cool!

[2021-01-27 20:54] mdimjasevic commented on #4747
@nad , unfortunately I have not.

[2021-01-28 19:01] andreasabel commented on #4702
Documented the regression with the OP as example.

Putting it into the icebox, we might want to add auto-inlining for the sake of termination checking.

[2021-01-29 10:00] Saizan commented on #5092
If you have `--postfix-projections` on then neither `(snd A)` nor `(A .snd)` produce display forms that match, probably because of bad interaction with the logic to print system generated projections according to the flag.

[2021-01-29 11:54] nad commented on #5155
I get the same behaviour for 55ab6e656ea794c718c4af2eec6825696c4b12fc. My code is not accepted by b5df4047e223b41f5273165adfe91bb3ca0b3acb.

[2021-01-29 13:30] anuyts opened #5157 "Use of the @tick modality is currently at one's own risk"
The following yields an internal error, rather than an error message:

[code]

[code]

[2021-01-29 13:33] anuyts commented on #5157
Oops, this is a duplicate of  #5033.

[2021-01-29 13:33] #5157 closed, assigned to nobody

[2021-01-30 10:31] andreasabel commented on #5140
While I am at it I can also place the tests coming from the user-manual in a separate directory, see https://github.com/agda/agda/issues/5133#issuecomment-768274511 .

[2021-01-30 11:04] andreasabel commented on #5133
Some LuaLaTeX tests are disabled on macOS via a CPP pragma, shouldn't they rather be excluded at runtime (checking for macOS when the testsuite runs)?
https://github.com/agda/agda/blob/5672440c6e97c0c821176e4900dc64b1a9cc15a2/test/UserManual/Tests.hs#L23-L29
See #3372 and commit acd9261af1516e7fc0659d13117ba9a896b33db3.

This exclusion should be revisited, maybe they work now!?

Maybe these test s

[2021-01-30 12:19] andreasabel commented on #4729
I don't see this issue fixed, e.g. look at https://github.com/agda/agda/pull/5158/checks .
Even though I did not push to some "blessed" branch, like `issue*`, the CI ran `on: push`, and in parallel also `on: pull_request` for the same commit set.
I thought branches didn't get CI by default unless their names falls into a special pattern. See these patterns e.g. in the travis config:
https://github

[2021-01-30 12:23] andreasabel commented on #5140
Closed in PR #5158.

[2021-01-30 12:23] #5140 closed, assigned to andreasabel

[2021-01-30 13:28] UlfNorell commented on #4729
* It's also makes it a lot easier for other people to try your branch if they don't have to set up a remote to your fork.

[2021-01-30 14:51] andreasabel commented on #4964
Fixed by 4ee9b273f31ab26e1ae4b97445e4487fa863f83b, I suppose.

[2021-01-30 14:55] andreasabel commented on #3000
Thanks for fixing my bug!

[2021-01-30 16:06] gallais commented on #4729
I don't think there is any maintaining to do: you can have both `agda/agda`
and `andreasabel/agda` as remotes to the same local repo (with agda/agda the
blessed `origin` one). When you want to work on a new feature you can:

* git checkout master
* git pull
* git checkout -b my_cool_branch
* [work & commit]
* git push andreasabel -u my_cool_branch

and then open a PR to `agda/agda`.

The branches

[2021-01-30 19:45] JoeyEremondi opened #5159 "--interaction qualifies names wrong for parameterized modules"
Minimal working example:

File `Test1.agda`
[code]
File `Test2.agda`
[code]
Doing C-C (i.e. `agda2-make-case`) elaborates the definition to:

[code]
loading this file gives the error:

[code]

Using `Baz1` and `Baz2` unqualified gets rid of the error, but it's annoying to have to manually change this when there are a lot of case splits.

[2021-01-31 02:54] JoeyEremondi opened #5160 "--interaction doesn't case split properly for `with foo <- bar` or `rewrite`"
Minimal example 1:
[code]

Doing `C-c C-c` (e.g. `agda2-make-case)` on the whole generates:

[code]
Loading then fails with :
[code]

We get the same problem with a rewrite. If instead we have:
[code]
then doing the case-split gives
[code]
which gives a similar error.

(Sorry about the open and closing, I accidentally submitted before finishing).

[2021-01-31 12:36] alexarice commented on #5151
Just checked and this likely is a thing in agda 2.6.1.2 but cubical only added -Werror to their build file since the last version

[2021-01-31 20:44] jespercockx commented on #5061
Is this something that needs to be fixed before the release of 2.6.2?

[2021-01-31 20:53] jespercockx commented on #5159
I believe this is a duplicate of https://github.com/agda/agda/issues/3209

[2021-01-31 20:54] #5159 closed, assigned to nobody

[2021-01-31 20:58] jespercockx commented on #5160
The problem with `rewrite` is a duplicate of https://github.com/agda/agda/issues/513 (which has been open since 2011!)
The first problem seems new (which makes sense since the `<-` is a recent feature).

[2021-01-31 21:06] jespercockx commented on #5160
On second thought, the first problem seems to be a duplicate of https://github.com/agda/agda/issues/3995

[2021-01-31 21:06] #5160 closed, assigned to nobody

[2021-02-01 22:54] msuperdock opened #5161 "No error location for error in imported module when .agdai file exists"
## The general issue

Suppose we have files `Test1.agda` and `Test2.agda`, such that `Test2` imports `Test1`, either directly or indirectly, with no open interaction points in `Test1`, `Test2`, or any of their dependencies. Then:

- Run `agda Test2.agda`, generating `Test1.agdai` and `Test2.agdai`.
- Modify `Test1.agda` so that it contains at least one or more interaction points (none of them impl

[2021-02-02 01:05] MatthewDaggitt commented on #5161
:+1: from me. This behaviour can be incredibly irritating. Thank you for discovering and publishing the work around!

[2021-02-02 10:13] UlfNorell commented on #5161
Thanks for the great analysis. I think I can fix this.

[2021-02-02 10:28] UlfNorell commented on #5161
The problem was that in the case of the existing interface we fail too early, already when checking the hash of the interface of `Test1`. At that point we don't have the source location of the import. The fix is to simply discard the interface if we can't get the hash without errors. That triggers rechecking and we'll get the error at a point where we actually have the import source location.

[2021-02-02 12:39] UlfNorell commented on #5048
The category of `ℕ` is `UppercaseLetter` (and it satisfies `isAlpha` which is what we checked before), so that doesn't help. Settling for picking `toLower` of the first letter if it's a character with distinct upper/lower case forms, unless the type name is a single lower case letter.

For future reference the logic is in `Agda.TypeChecking.Unquote.pickName`.

[2021-02-02 13:00] UlfNorell commented on #2151
I guess so. Reopen otherwise.

[2021-02-02 13:00] #2151 closed, assigned to UlfNorell

[2021-02-02 13:32] #5161 closed, assigned to UlfNorell

[2021-02-02 13:46] UlfNorell commented on #5061
Interaction tests are currently not working (ping @L-TChen )
[code]
This is a test case using Agda as a Haskell library (there are 15 such tests in `test/interaction`). Looks like new-cabal nonsense and we need to have a cabal file for the interaction tests and use `cabal runghc` or some such.

[2021-02-02 14:05] #5048 closed, assigned to UlfNorell

[2021-02-02 15:39] ice1000 opened #5164 "CI test fails"
It fails with

[code]

Any ideas why?

[2021-02-02 15:45] UlfNorell commented on #5164
See my comment on https://github.com/agda/agda/issues/5061#issuecomment-771645171.

[2021-02-02 15:47] ice1000 commented on #5164
Oh, I see.

[2021-02-02 16:05] L-TChen commented on #5164
I am not so sure why stack may have a different build plan even for the same `stack.yaml`, so the cached build plan is different from the build plan supposed to use. I will use the [lock file](https://docs.haskellstack.org/en/stable/lock_files/) instead as the cache key. It seems fine on my fork https://github.com/L-TChen/agda/runs/1813818417?check_suite_focus=true. I will push this tomorrow.

[2021-02-02 16:07] L-TChen commented on #5061
The following message is copied from #5164.

[2021-02-02 17:16] robwithhair commented on #4250
I just installed Agda on two Macs.  First with stack and second with Cabal.  I got the same error with both machines when running the hello world from the docs and it seems to be to do with the run function.  This is after installing the standard library version 1.5
![image](https://user-images.githubusercontent.com/6692245/106636129-831b8880-6579-11eb-9a2f-ae2ab85395a6.png)
![image](https://user-

[2021-02-02 17:39] gallais commented on #4250
We've made `putStrLn` more level polymorphic in stdlib v1.5. It should be enough to
add a type annotation to `main`. Something like:

[code]

[2021-02-03 04:41] L-TChen commented on #5164
I hope this issued is fixed by fec6097. Ping me if it happens again.

[2021-02-03 04:41] #5164 closed, assigned to nobody

[2021-02-03 09:00] jespercockx commented on #4250
The PLFA book has a different "hello world" program that doesn't require `IO` or the standard library:
[code]
Since being able to load this file is sufficient to start using Agda as a proof assistant, perhaps we should add it to the user manual before the current example, and mention that the current "hello world" is only required for testing if you have the standard library installed and are able

[2021-02-03 09:14] MatthewDaggitt commented on #4250
I strongly agree with @jespercockx. I imagine that most new users are not immediately looking to do IO in Agda. I myself have _never_ performed any IO in Agda in my 4 years of using it!

[2021-02-03 13:57] andreasabel commented on #5029
Shouldn't `{-# NON-COVERING #-}` be an error always with `--safe`?  Why is there a warning? @gallais @fredrikNordvallForsberg ?

Proposed solution: `{-# OPTIONS --safe -WnoSafeFlagNoCoverageCheck #-}` shouldn't be a valid combination of options.

[2021-02-03 14:07] jespercockx commented on #5030
After some discussion among the devs, we decided to keep the default behaviour as it is because it is the least surprising to new users. If there's an issue with ambiguous instances created by module aliases, please report it as a new issue.

[2021-02-03 14:07] #5030 closed, assigned to nobody