[2016-09-16 06:39] phile314 commented on #2169
I think there can be NaN values with different bit patterns. As Floats can/could be used in the FFI, any difference in the bit patterns can be easily observed and lead to inconsistency.

IEEE754 defines a total order, it might be best to use that. [1] No idea though how to get that total order in Haskell, doesn't seem to be present in the ieee754 package.

[1] https://en.wikipedia.org/wiki/IEEE_fl

[2016-09-16 06:46] nad commented on #2169
But bitwise equality elsewhere?

[2016-09-16 06:49] nad commented on #2146
I don't think we should do this, because it might break existing code.

[2016-09-16 07:20] m0davis opened #2189 "reflected function definition fails when a record parmeter depends on a module parameter"
This may be similar to #1890. `trust-the-doppelganger` tries to define a function with a type copied from the current context and goal, using `trustMe` as a proof. In the case where the current context contains a record whose type depends on one from an enclosing parameterised module, the definition fails.

[code]

[2016-09-16 10:01] mechvel opened #2190 "with abstracts now also in arguments of parent function"
This is on  Development Agda of September 16, 2016,  ghc-7.10.2,
Debian Linux.
Please, download

http://www.botik.ru/pub/local/Mechveliani/agdaNotes/Bug-sep16-2016.agda

It is a small program.
There the argument   `sm<mty-p'ps`
 has type
`sm < mty (p' ∷ ps)`

But the type checker does not find this.
And it improves when it is set
`debug =  sm<mty-p'ps`
instead of `sm<mty-p'ps`,
with setting for `d

[2016-09-16 11:44] asr commented on #2169
Yes (module the JS backend which I have no modified).

[2016-09-16 14:04] effectfully opened #2191 "`defineFun` allows neither to reference leading implicit variables nor bind them by hand."
Consider this function

[code]

We may try to define it via reflection as follows:

[code]

Agda throws `de Bruijn index 1 is not in scope in the context (z : _)`. So `defineFun` is not aware of leading implicit variables. OK, let's redefine `fun` so the implicit variable is introduced explicitly:

`fun = lam hidden (abs "_" (lam visible (abs "_" (var 1 []))))`

An attempt to type check `failTypeO

[2016-09-16 14:49] nad commented on #2169
I can imagine that this can lead to problems (like segfaults).

[2016-09-16 14:53] nad commented on #2168
Here's another regression (bisection points to the same commit):

[code]

[code]

[2016-09-16 14:54] UlfNorell commented on #2191
This isn't a reflection problem. Your first attempt doesn't really make sense: there really is no binding for `var 1`. The second attempt doesn't work if you try it without reflection either:

[code]

If you introduce the implicit in the left-hand side there are no problems.

[2016-09-16 14:54] #2191 closed, assigned to nobody

[2016-09-16 15:05] effectfully commented on #2191
[code]

Type checks perfectly. `var 1` refers to silently binded `{A}` and I don't see why would `defineFun` behave not like everything else. Here is another example:

[code]

OK, you may want `defineFun` to be able to define only closed terms. Why doesn't my second attempt type check then? `{A : Set} → A → Set` gets truncated to `A → Set` — Agda pretends she silently introduced an implicit variab

[2016-09-16 15:21] UlfNorell commented on #2191
Oh, I see what you mean. I'm not sure it's a good idea to fix though. When you say

[code]

the `A` is introduced in the left-hand side. Thus it's equivalent to

[code]

If `whatever` is a macro it can refer to the silently bound `A` by its index.

The problem with allowing this also for `defineFun` is that it becomes quite hard to predict what deBruijn index to use for a given variable, since you

[2016-09-16 15:40] effectfully commented on #2191
I'm not sure I'm following. `defineFun` requires a function to be already declared, so its type is known and you don't need to make any predictions. Referencing leading implicits doesn't affect your definition, because all other variables are introduced later and have lower indices therefore.

I noticed this behaviour when I tried to refactor a reflected macro application into `defineFun` and got

[2016-09-16 16:13] UlfNorell commented on #2191
That's not true. There will also be implicitly introduced constructor arguments that you need to take into account.

For value level macros it would make little sense to disallow referencing implicitly introduced variables from the context, since they may well show up in the type of later arguments.

[2016-09-16 16:50] effectfully commented on #2191
Sorry, I don't understand. Could you please show an example?

I mean the value level part of `defineFun`. This error

[code]

indicates that `{A : Set}` was truncated from the type signature of `failTypeOfViaDefineFun`, but what is the reason to truncate it if no implicit is bound?

[2016-09-16 17:31] UlfNorell commented on #2191
[code]

Currently, translating this to a reflected definition to be `defineFun`'d is straightforward. The deBruijn indices available in the right-hand side would be `0 = xs, 1 = x, 2 = f`. With your proposed change the index of `f` would change to `3` since there is an implicit length argument to `_∷_`.

The implicit `A` is bound but the reflected clause cannot refer to it, for the reasons above.

[2016-09-16 17:46] effectfully commented on #2191
Thanks, I now see what you mean. However I don't propose to silently bind all implicits — only the leading ones.

[2016-09-16 18:13] asr opened #2192 "JS backend prints `1.0` as `1`"
[code]

With GHC backend: `1.0`
With UHC backend: `1.0`
With JS backend: `1`

Blocking #2169.

[2016-09-16 18:27] identicalsnowflake commented on #2192
Well in any case, it's consistent with how JS displays floats. `console.log(1.0)` prints `1`, not `1.0`.

[2016-09-16 18:45] UlfNorell commented on #2191
That feels a little ad hoc, and I'm not sure what problem it solves.

From the discussion so far it seems that the main problem is more one of unintuitive behaviour rather than any actual problems with the current implementation. I feel like making it possible to refer to only leading implicits would make things even less intuitive.

Also, you couldn't do it for pattern lambdas without shifting th

[2016-09-16 18:48] UlfNorell commented on #2192
The problem is that any discrepancy between compile time and runtime semantics will lead to non-type safety in a dependently typed language.

In this case since you can prove that `primShowFloat 1.0 ≡ "1.0"` that had better hold at runtime as well.

[2016-09-16 19:19] nad opened #2193 "Internal error in conApp"
The following code triggers an internal error:

[code]

Error message:

[code]

This is a regression. Bisection suggests that the bug was introduced by @UlfNorell in bf9ff1e676d51ce35d50658b6274ecdb8b60fda2.

[2016-09-16 20:10] effectfully commented on #2191
It'd allow to treat patternless definitions (such definitions can contain explicit lambdas on rhs instead of bound variables on lhs) in a simple way. Currently when you generate a patternless definition (which happens pretty often for me), you can't neither prepend an implicit lambda to it, nor reference the implicit variable it binds. So you need to explicitly bind on lhs all implicit variables y

[2016-09-16 20:46] identicalsnowflake commented on #2192
Hmm, yeah I can see how that causes inconsistency. In fact, this could potentially have caused me future pain, because I remember writing code to remove the ".0" at one point, which obviously would have caused problems if the runtime show didn't have the ".0"!

[2016-09-16 20:46] UlfNorell commented on #2191
I still don't see why this is a big problem.

Actually it's trailing implicit arguments that are introduced eagerly. This has nothing to do with reflection though. See #2001 and #679. What makes you say that it's ad hoc?

I'm not sure exactly what you mean by this, but the fact is that when you write

[code]

an implicit variable is inserted in the left-hand side and the goal type in the right-han

[2016-09-17 00:11] mietek commented on #2146
So, that’s a no on making `⦃F : Foo⦄` more consistent with `(B : Bar)` and `{B : Baz}`?

[2016-09-17 00:13] mietek commented on #2133
@UlfNorell: Thanks.  Right now, my question is mostly out of curiosity.  I don’t have a concrete use case yet.  I’m looking into type theories which would allow such things.

[2016-09-17 03:52] asr opened #2194 "`primFloatEquality NaN -NaN` should return `false` on the JS backend"
[code]

On the above code the backends return as follows:

GHC: `true`
UHC: `true`
JS: `false`

The JS backend also should returns `true` (see #2155).

[2016-09-17 06:14] effectfully commented on #2191
It's not. I defined `defineTerm : Name -> Term -> TC _`  that silently introduces leading implicits and assigns a term to a name regardless of whether variables in the term refer to leading implicits or not. It's a matter of a few lines. I just thought this specific case deserves to be handled out of the box. Perhaps I should stop making noise. I was wrong when I said this behaviour is a bug.

Yea

[2016-09-17 07:04] phile314 commented on #2194
But should `NaN == NaN` ever return true? There are different types of NaN [1], and if we want to return true we have to be sure that this difference can _never_ be observed. While we can enforce that at compile time, at runtime this gets much more difficult due to the FFI. Why do we not just use `identicalIEEE` (bitwise equality) without any additional special casing?

[1] https://en.wikipedia.or

[2016-09-17 07:30] UlfNorell commented on #2194
The question is what to do when bitwise equality is not readily available, like in the UHC and JS backends. FWIW I haven't been able to construct any of the different NaN encodings using standard Haskell functions.

[2016-09-17 08:20] phile314 commented on #2194
Bitwise equality in JS should be possible by going via the byte representation[1].

I didn't actually try to construct different NaNs in Haskell. I am mostly worried about the FFI/binary serialization. If Floats are encoded/decoded e.g. from binary files or network protocols, you could get different kinds of NaN.

[1] http://stackoverflow.com/a/14379836/6231928

[2016-09-17 08:48] andreasabel commented on #2190
I guess this discrepancy arises since `with` abstracts `k ≟ k'` in the type of variable `sm<mty-p'ps` which is a function argument of a parent function, but not in `debug` which is a local definition.

Is this a regression wrt. Agda-2.5.1.1, i.e., did this check fine in Agda-2.5.1.1?

[2016-09-17 08:57] andreasabel commented on #2190
Here is a short test case.  This checked with Agda-2.5.1.1, but fails with Agda-2.5.2:

[code]

[2016-09-17 09:00] andreasabel commented on #2190
With all these regressions, I this parameter-refinement was too much of a change to go on stable, it should have gone on master.  We are in a similar situation as in 2014: new experimental features are blocking the release.

[2016-09-17 09:05] andreasabel commented on #2188
Andor Penzes suggested one could also use docker images for speeding up travis.  Such a docker image would cointain a ghc-installation with all the hackage packages Agda depends on.  However, we would have to keep track of dependency changes to decide when we need to build a new docker image.

[2016-09-17 09:14] andreasabel commented on #2133
http://repository.cmu.edu/cgi/viewcontent.cgi?article=2236&context=compsci
That would be a type theory which treats quoted code only up to alpha-equality, not beta.

[2016-09-17 09:22] andreasabel commented on #2146
@nad Why did you think this difference is intentional?

[2016-09-17 09:28] andreasabel opened #2195 "dist-$VERSION directories should also take ghc-version into their name"
Instead of `dist-2.5.2`, I'd like to have `dist-2.5.2-ghc-7.10.2` or something.  This allows ghc switching without destroying the current build on other ghc versions.

See also the directory naming under `.cabal/lib`.

[2016-09-17 09:42] mechvel commented on #2190
On Sat, 2016-09-17 at 01:48 -0700, Andreas Abel wrote:

This is a reduction of the example which was type-checked Agda-2.5.1.1
and was not type-checked in Development Agda.

---

Sergei

[2016-09-17 10:46] UlfNorell commented on #2190
Why is this blocking the release? Parameter refinement did change the semantics here (to the better), but we're not promising complete backwards compatibility between `2.5.1` and `2.5.2`.

[2016-09-17 11:07] andreasabel commented on #2190
I just checked the release notes, they do not alert the user of a changed semantics of `with`.  There should be a sections detailing the new behavior of `with` including some examples of things that work now but did not before and things that did work but work no longer.

Also, whether the change of a heuristics is "to the better" is always up to taste. People write their code to work with the heu

[2016-09-17 17:05] mechvel commented on #2190
On Sat, 2016-09-17 at 03:46 -0700, Ulf Norell wrote:

Probably, people will agree that backwards compatibility is not
necessary in general, so far, because probably the language does not
look stable, so far.
But at least, this my particular example needs to be type-checked.
It will be unnatural if it is not type-checked. Will it?

[2016-09-17 17:32] UlfNorell commented on #2190
Not without modifications. With-abstraction now abstracts also over variables bound outside the function, like module parameters or parent function arguments. When that's not desirable you can do what you did and define an alias (`debug` in your case) to hide it from abstraction, or simply not use a 'with'.

[2016-09-17 17:42] asr commented on #2194
It seems we should use the [Object.is](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is) function, but it requires a recent version of Node.js.

Could someone confirm that

[code]

prints `true`. If so, what version of Node.js are you using?

[2016-09-17 21:50] nad commented on #2146
Yes.

I don't know whether it was intentional or not, but given that lambdas are treated in an analogous way I suspect that it was.

[2016-09-18 00:59] asr commented on #2194
I confirm the above behaviour using Node.js 4.5.0.

[2016-09-18 03:36] asr commented on #2194
I'm not familiar with the versions of Node.js. Any idea which is the first version that supported the `Object.is` function?

[2016-09-18 05:25] asr commented on #2194
Never mind. The version of Node.js pre-installed on Travis supports the `Object.is` function.

[2016-09-18 06:26] UlfNorell commented on #2146
The difference is intentional. We're trying to keep the number of reserved characters (i.e. characters that cannot be part of a name) to a minimum. I believe they are `(){};.@`. By requiring space around the unicode instance brackets we don't have to add them to the list.

The special treatment of `\` was a mistake, I was seduced by an unwillingness to offend Haskell programmers. I think it's too

[2016-09-18 11:14] phile314 commented on #2194
I still think treating different NaNs as equal is dangerous.

<pre>
-- Assuming conversion of floats to word64
encode : Float -> Bytes
-- We can easily proof that encoding two equal float values should yield the same
-- bit pattern. However, if we treat different nan's as equal, this proof here is inconsistent.
proof : (x y : Float) -> x == y -> encode x == encode y
proof = cong encode
</pre>

To

[2016-09-18 12:55] andreasabel commented on #2194
Just a naive question from a spectator:  Why providing an equality for floats at all in Agda?
It seems to encourage better programming practice to rather provide a library function that tests whether to floats are less than a threshold apart, i.e., that tests whether |x-y|<epsilon.

[2016-09-18 14:11] asr commented on #2155
Note that the discussion in the OP continues on #2194.

[2016-09-18 16:27] UlfNorell commented on #2194
Without decidable equality on floats you can't have decidable equality on any structures containing floats. For instance, reflected terms.

[2016-09-18 17:00] WolframKahl commented on #2194
I guess this means “decidable propositional equality”.

Especially in the context of floats, where something called “equality” is defined in a standard, one has to be very careful with wording...

Perhaps we should outlaw the use of plain “equality” in this discussion, and always use “propositional equality” respectively  “IEEE-equality”.

The total order based on bitwise representations could be

[2016-09-18 17:18] mechvel commented on #2190
On Sat, 2016-09-17 at 10:32 -0700, Ulf Norell wrote:

With this new language, one will need, for example, to write

[code]
And in Agda 2.5.1.1 it is sufficient to write

[code]

instead of (1).
(2) looks natural, and (1) looks odd.

And you write that there are some benefits of the new language that cost this drawback.
I do not know. May be there are clear examples when the new language feature al

[2016-09-19 06:15] identicalsnowflake commented on #2194
After glancing over the `Object.is()` documentation on MDN, I think this seems reasonable. You can even use a (shortened) version of their polyfill to alleviate compatibility concerns:

[code]

EDIT: actually my function is different than their polyfill. They treat -0 and +0 as distinct, while the above says they're equal. Not sure what the desired behavior is.

[2016-09-19 07:05] #2190 closed, assigned to nobody

[2016-09-19 07:10] UlfNorell commented on #2194
`-0.0` and `0.0` need to be distinct. See #2169.

[2016-09-19 07:27] #2186 closed, assigned to UlfNorell

[2016-09-19 07:40] UlfNorell commented on #2189
This is not a bug, I'm afraid. Here's a simplified case without the record:

[code]

What `trust-the-doppelganger` is trying to do is the following:

[code]

The problem is that functions defined by macros are defined in the context where the macro is applied. In this case, since you are inside the module binding the `A` you cannot generalise over it in the type of `R`.

[2016-09-19 07:40] #2189 closed, assigned to UlfNorell

[2016-09-19 10:11] #2193 closed, assigned to nobody

[2016-09-19 17:18] asr commented on #2188
After the above commit (eb96c42), we don't use the `stack.yaml` file but the `stack-GHC-version.yaml` files. If you need/want continue using the `stack.yaml` file, you can create a symlink from the news .yaml files.

[2016-09-19 19:44] UlfNorell opened #2196 "Dot pattern regression(?)"
Discovered by Sergei Meshveliani.

[code]

Both works with `2.5.1.1`, neither with `2.4.2.5`. Personally I'm surprised either works, but it is a bit strange that there's a difference between `EqP₁` and `EqP₂`. @jespercockx ?

[2016-09-19 22:46] asr commented on #2188
I used stack on the following tests: `CPP_AND_DEBUG`, `ghc-7.8.4-transformers-0.3.0.0`, `STACK` and `UHC`. I got a speed up of approx 50% on those tests.

[2016-09-19 22:46] #2188 closed, assigned to asr

[2016-09-20 00:19] m0davis opened #2197 "Agda loops on unguarded inductive record"
Typechecking the following code uses all available memory.

[code]

[2016-09-20 02:23] asr commented on #2188
I reverted the use of stack on the `UHC` test (see fff1f59).

[2016-09-20 05:03] asr commented on #2194
From Equations (9), (10) or (11) of [this](http://ezproxy.eafit.edu.co:2144/article/10.1007/s10817-014-9317-x) paper (free version [here](https://hal.inria.fr/hal-00862689)), it is possible to produce different kinds of NaN values using the `identicalIEEE` function. For example:

[code]

[2016-09-20 05:12] UlfNorell commented on #2197
Yeah, don't do that. You're only allowed to mark a recursive record as `inductive` if you are Thorsten Altenkirch. @nad or @andreasabel might be able to give some examples of safe uses of `inductive`.

Maybe there should be a flag you have to turn on to be allowed to do this?

[2016-09-20 07:04] andreasabel commented on #2196
After record pattern translation, `EqP1` should be the same as `EqP2`.  Indeed, `C-c C-n` on `EqP1` gives

[code]

as expected.

[2016-09-20 07:14] andreasabel commented on #2197
Agda detects this as unguarded recursive record type, but does not raise an error.  It just turns eta off for `R`.  I do not know why Agda loops here.
I think the correct thing here is to raise an error.

[2016-09-20 09:21] andreasabel commented on #2197
The problem here is that the positivity check comes too late.  It would flag `R` as record type not suitable for eta-expansion, but eta-expansion already is happening while checking the record type declaration.
We need to postpone eta-expansion until after the positivity check.  However, I don't know how to do this.

[2016-09-20 09:23] #2168 closed, assigned to andreasabel

[2016-09-20 10:02] nad opened #2198 "The LaTeX backend messes up indentation"
Consider the following literate Agda code:

[code]

This code gets turned into the following document:
![bug](https://cloud.githubusercontent.com/assets/293222/18665650/7ece8f48-7f28-11e6-8663-dc7b67a85397.png)

There are several issues here:
- The start of the second paragraph is indented too much. (A bug.)
- The Agda code does not start on a line of its own. (A bug.)
- I think there should be so

[2016-09-20 11:10] UlfNorell commented on #2194
This is intriguing:

[code]

[2016-09-20 11:47] mechvel commented on #2196
Andreas asked for a self-contained example.
Try this:
`open import Relation.Binary using (Setoid; DecSetoid; DecTotalOrder)`
`open import Relation.Binary.PropositionalEquality as PE using (_≡_)`
`open import Data.Product                      using (_×_; _,_)`
`open import Relation.Binary.Product.Pointwise using (_×-setoid_)`
`open import Data.Nat                          using (ℕ; decTotalOrder)`

[2016-09-20 12:41] andreasabel commented on #2197
Just disabling eta by default and turning it on after the positivity check still passes the test suite (except for one failing case, where one has to add `eta-equality` to the record).  This seems a feasible solution to avoid Agda to loop.

[2016-09-20 12:48] andreasabel commented on #2198
You need to add more empty lines.  This gives the output you expect:

[code]

[Issue2198.pdf](https://github.com/agda/agda/files/482570/Issue2198.pdf)

[2016-09-20 12:51] #2197 closed, assigned to andreasabel

[2016-09-20 13:04] favonia opened #2199 "Private anonymous modules?"
Currently, an anonymous module under the keyword `private` will be opened publicly, effectively ignoring the `private` keyword. I am wondering if it is actually more desirable to make anonymous modules under `private` stay private, or even change the semantics of or disallow `open M public` under `private` so that everything under `private` will always remain private.

[2016-09-20 13:07] identicalsnowflake opened #2200 "Add some more builtin trigonometric primitives"
Currently the only builtin trig primitive I see is `primSin`. I'm trying to do some 3D coordinate computations, and I really need the rest of the trig functions -- especially the inverse trig functions, since I can't define those nicely in terms of `sin`.

[2016-09-20 13:13] nad commented on #2198
You can do this, but "empty line" in LaTeX means "new paragraph". I think that we should support idiomatic LaTeX code.

[2016-09-20 13:53] phile314 commented on #2200
Do you need these trig functions to reduce during type checking? If not, you can just use the FFI to import the corresponding Haskell functions. It would still be good to add them to the agda-stdlib/agda-prelude, but that's a separate issue.

[2016-09-20 13:59] asr commented on #2194
I guess that happens because `nan` and `-nan` are different

[code]

[2016-09-20 14:06] andreasabel commented on #2196
Ah, this was a stupid bug I must have introduced when adding postfix-projections.  ProjOrigin was not ignored in an equality test and lead to the different results.

[2016-09-20 14:08] identicalsnowflake commented on #2200
Almost. I do a _lot_ of `C c C n` to quick-check computations, and postulating foreign bindings, compiling, and running is at least an order of magnitude slower workflow.

But no, I don't actually make my types dependent on floating point trig computations. I'm not _that_ dirty =)

[2016-09-20 14:19] andreasabel commented on #2198
Seems like the discussion at #954 seems relevant here.

[2016-09-20 14:20] phile314 commented on #2200
Good point. This should be rather simple to add. Feel free to give it a go, these are the places one would need to change:
https://github.com/agda/agda/blob/0ee62a0171e6242d868e1c299d37e9ce07d52b43/src/full/Agda/TypeChecking/Primitive.hs#L725
https://github.com/agda/agda/blob/0ee62a0171e6242d868e1c299d37e9ce07d52b43/src/full/Agda/Compiler/MAlonzo/Primitives.hs#L174

Or if you don't want to do it y

[2016-09-20 14:24] andreasabel commented on #2199
Like you expect the following to fail:

[code]

At least, I think you should get a `UselessPrivate` error here!

[2016-09-20 14:37] andreasabel commented on #2199
For now, I implemented a `UselessPrivate` error for the above example.

Whether the semantics of `open public` under `private` should be changed, should be discussed in a larger forum (@UlfNorell, @nad).
Reopen if necessary.

[2016-09-20 14:38] UlfNorell commented on #2194
Well yeah, I was just surprised that `0.0 - x` and `-x` was not the same thing.

I wrote a little Haskell program to search for different `NaN` values and it only found `-nan`. It did find a couple of ways to construct it though:

[code]

It's also preserved by most operations of course.

[2016-09-20 14:40] #2196 closed, assigned to andreasabel

[2016-09-20 14:44] identicalsnowflake commented on #2200
Ok nice, I'll try adding them there and see if I can get it to work.

[2016-09-20 14:49] andreasabel commented on #2170
There is no real semantics for irrelevant definitions.  They were originally introduced to have irrelevant projections.  It might be reasonable to restrict them to empty contexts, thus, both would be rejected.

See also #610.

[2016-09-20 14:49] UlfNorell commented on #2199
It would certainly be useful to have `private` negate the `public` in the `open public` of anonymous modules. Currently you have to forgo anonymous modules if you want to do something like this:

[code]

[2016-09-20 15:00] andreasabel commented on #2199
You can do it with a private named module.

[code]

[2016-09-20 15:02] asr commented on #2194
Since we are using Agda propositional equality on the compiler and the GHC backend, `primFloatEquality NaN -NaN` correctly will return `false` (I wrote 'will' because a `negate` function is not defined). On the other hand, it is necessary to fix the behaviour of `primFloatEquality NaN -NaN` on the JS and UHC backends.

[2016-09-20 15:02] andreasabel commented on #2199
The more extreme suggestion was that it should also work this way:

[code]

where the `public` is neutralized by the surrounding `private`.
That is what it would take to not define a special semantics for `module _`.

[2016-09-20 15:46] favonia commented on #2199
Just want to clarify that, once anonymous modules earn special treatments to stay private under `private`, personally I am in favor of banning public opening under `private` altogether. It seems confusing and probably not that useful.

[2016-09-20 16:05] favonia commented on #2199
FYI: I made a post to the Agda mailing list.

[2016-09-20 17:31] UlfNorell commented on #2199
Since anonymous modules desugar in `ConcreteToAbstract` and the useless private error is triggered in `Concrete.Definitions` it should be very easy to keep the error for `private open public` but allow it for anonymous modules. There wouldn't even be any special treatment of `open public` under `private`, just a change to the desugaring of anonymous modules:

[code]

Non-private anonymous modules

[2016-09-20 18:10] andreasabel commented on #2199
To clarify:
You mean, just remove the useless-private error I just added and instead give `private module _` a modified semantics (open private instead of open public).
The useless-private error is currently not triggered for an `open` statement if there is a module definition in the same block (my example with `N` does not trigger this error).

[2016-09-20 19:44] UlfNorell commented on #2199
Yeah, I think that's the most sensible thing to do. That way we'd treat `open public` the same as other things that aren't affected by `private`. I.e. give an error if there's nothing else the `private` applies to and ignore it otherwise.

[2016-09-20 20:04] asr commented on #2194
Could you show an example why the IEEE-equality is not an equivalence relation?

[2016-09-20 20:05] UlfNorell commented on #2194
Um, `NaN != NaN`?

[2016-09-20 20:32] asr commented on #2194
I meant using `identicalIEEE`.

[2016-09-20 20:50] nad commented on #2198
I fixed the two bugs (by using lhs2TeX code written by @kosmikus). Extra vertical space is now inserted by default, but one can choose to omit this extra space. (See the [release notes](https://github.com/agda/agda/blob/c9065360ab8695bf71956ba75db2985b8c78634e/doc/release-notes/2-5-2.txt#L657-L672) for a little more information.)

@andreasabel and @stevana: Are you OK with the new implementation?

[2016-09-20 20:59] phile314 commented on #1627
Could not reproduce this on current stable ( 7e0d7b323cb36bce0643d82fddbffee8f76daa89 ) or master ( c9065360ab8695bf71956ba75db2985b8c78634e ). Probably fixed by https://github.com/agda/agda/pull/2157 .

[2016-09-20 20:59] #1627 closed, assigned to np, phile314

[2016-09-20 21:07] phile314 commented on #2194
I think @WolframKahl meant IEEE-equality to mean the "usual" numerical float equality, e.g. like Haskells Float Eq instance:

Propositional Equality View = bitwise Equality = `identicalIEEE`
Real Number Equality = Haskell Float Equality (NaN != NaN, -0.0 == 0.0) = IEEE-equality

The name of the Haskell `identicalIEEE` function is a bit confusing for this discussion....

[2016-09-20 21:52] m0davis opened #2202 "Agda loops on TERMINATING"
Agda loops forever typechecking this.

[code]

(Fwiw, replacing the import statement with the following avoids looping.)

[code]

[2016-09-20 21:57] m0davis commented on #2202
Btw, I've found that this still happens in an example where `bar` actually terminates (although, in that example, the TERMINATING flag is still necessary to get Agda to typecheck).

[2016-09-21 02:40] WolframKahl commented on #2194
On Tue, Sep 20, 2016 at 01:04:25PM -0700, Andrés Sicard-Ramírez wrote:

Off the bat, I believe that

  NaN != NaN

, that is, no reflexivity.

No time to look things up right now, sorry!

Wolfram

[2016-09-21 04:54] UlfNorell commented on #2202
The `TERMINATING` pragma makes Agda treat the function as if it has passed the termination checker. It's expected that you can get the type checker to loop if it's not actually terminating. In that case you should use `NON_TERMINATING` instead.

Are you sure it was terminating also on open terms? For instance, the following function, while terminating at runtime, does not terminate under evaluatio

[2016-09-21 05:10] asr commented on #2194
For testing that `primFloatEquality NaN -NaN` returns `false`, I'm implementing `primFloatNegate`. Right now, I'm testing the implementation.

[2016-09-21 06:52] andreasabel commented on #2202
I would like to understand why Agda loops here.  But I cannot reproduce it, as `open import Prelude` gives an import error.

This program type checks fine:

[code]

[2016-09-21 07:23] UlfNorell commented on #2202
It loops when `suc` is overloaded:

[code]

The particular culprit is [this line](https://github.com/agda/agda/blob/ac5f903d2de4ddf7916bb689ba97d395b3fbca11/src/full/Agda/TypeChecking/MetaVars.hs#L939) (introduced in 6e9a0def).

[2016-09-21 07:59] #2199 closed, assigned to nobody

[2016-09-21 08:22] stevana commented on #2198
Fine by me, thanks for fixing it!

[2016-09-21 12:12] identicalsnowflake opened #2203 "Internal error when quoting"
Using the same reflection scaffolding as before (in #2165), Agda throws an internal error when trying to reflect this `renderBuffer` function:

[code]

Message: `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/TypeChecking/Quote.hs:178`

[2016-09-21 13:25] asr opened #2204 "Propose: To use markdown format in the CHANGELOG and the releases notes"
I think it is unnecessary to mention the advantages. Anyone against this change?

[2016-09-21 13:38] andreasabel commented on #2202
Ok, I understand now.  A non-dependent version of `$` would avoid the looping.

[2016-09-21 13:38] #2202 closed, assigned to nobody

[2016-09-21 13:44] andreasabel commented on #2203
Maybe the reflection framework could be changed such that quoted clauses also use de Bruijn patterns now (like the internal syntax).

[2016-09-21 14:01] asr commented on #2202
The example is using the [agda-prelude](https://github.com/UlfNorell/agda-prelude) library.

[2016-09-21 14:32] UlfNorell commented on #2203
That would indeed make quoting simpler. I'm hoping this issue can fixed without it though, and save such a big change to the next release.

[2016-09-21 19:20] asr commented on #2121
FYI, Agda has been disabled from Stackage nightly due to this issue.

[2016-09-21 20:37] asr commented on #2194
- JS backend:

  I couldn't distinguish `NaN` from `-NaN` using [1]. In addition, "to ECMAScript code, all NaN values are indistinguishable from each other" [2].

  [2] http://www.ecma-international.org/ecma-262/6.0/#sec-ecmascript-language-types-number-type
- GHC backend:

  @phile314 will disable the float equality primitive in the UHC backend

[2016-09-21 22:40] #2200 closed, assigned to identicalsnowflake

[2016-09-22 06:31] identicalsnowflake commented on #2203
What might this mean for me as a user? Is the `Term` or `Clause` structure going to change soon?

[2016-09-22 08:37] UlfNorell commented on #2203
If we did switch to deBruijn patterns it would mean changing the type of the `var` constructor in `Pattern` to also carry a deBruijn index in addition to the variable name. It won't happen in `2.5.2`.

[2016-09-22 09:05] nad commented on #2121
Why not simply `type Exp = HSE.Exp ()`?

We can define wrappers: `var = HSE.Var ()`. This won't work in patterns, but there we can insert underscores.

[2016-09-22 09:05] #2198 closed, assigned to nobody

[2016-09-22 12:21] identicalsnowflake opened #2206 "Parameter inference behaving strangely?"
[code]

`badInference` should have all the information it needs, but yet Agda still complains that it can't figure out the `{a b}` to `myFunction`.

[2016-09-22 12:44] nad commented on #2206
You've given `example` the type `Interval 0 1`, but this type is definitionally equal to `Interval m n` for arbitrary `m` and `n`.

[2016-09-22 12:44] #2206 closed, assigned to nobody

[2016-09-22 13:01] identicalsnowflake commented on #2206
Huh, well that's enlightening. It's amusing how much code I've written without properly understanding something as fundamental as parameter application 😄

[2016-09-22 15:34] nad opened #2207 "Abstract is not treated correctly in anonymous local modules"
The following code is incorrectly accepted by Agda:

[code]

The code above should (according to the documentation of anonymous modules in the CHANGELOG) be equivalent to the code below, which is (correctly) rejected by Agda:

[code]

This is a regression that was introduced in Agda 2.4.2.4. Bisection suggests that the bug was introduced by @andreasabel in 5fcb6e36fbfa7c8622aabda44dbff92facc61b42:

[2016-09-22 19:45] phile314 commented on #2194
I did investigate this a bit more;-)

GHC uses the x86 change sign instruction `fchs` and does no special handling as far as I can see [1]. The `fchs` instruction seems to change the bit pattern according to my experiments. Test program:

[code]

Output:

<pre>
-nan
nan
fff8000000000000
7ff8000000000000
</pre>

So it seems that Javascript is the outlier here.

[1] https://github.com/ghc/ghc/blob/b

[2016-09-23 13:35] asr opened #2208 "`primFloatLess` on `NaN`s"
@UlfNorell  [wrote](https://github.com/agda/agda/issues/2169#issuecomment-246261081):

The behaviour should be:

[code]

[2016-09-23 13:38] asr commented on #2169
I filed #2208 for addressing this issue.

[2016-09-23 13:45] asr commented on #2169
The current status is shown in [this](https://github.com/agda/agda/issues/2169#issuecomment-247510821) check list. In consequence, I'll remove the 2.5.2 milestone.

[2016-09-23 15:00] UlfNorell commented on #2208
I suppose we should really handle the different kinds of NaNs here as well.

[2016-09-23 15:21] asr commented on #2208
Yes. Note that as @phile314 wrote:

The above link points out  §5.10 of "IEEE Computer Society (August 29, 2008). IEEE Standard for Floating-Point Arithmetic". After glimpsing that section, I noticed we need fix?/add some comparisons.

[2016-09-23 21:20] nad opened #2209 "Possibly intended regression related to η-equality"
The following code is accepted by Agda 2.5.1.1, but not by Agda 14b9fbb11264a136f6b1e92373ee4a9149d006e4:

[code]

Bisection suggests that this change in behaviour was introduced by @andreasabel in bb4e5b79e59a0cc24cfb723ef808214695f6c8cd: "Fixed #2197.  Turn eta on only after positivity checking."

If η-equality for `R` is turned off, then the code above is rejected by Agda 2.5.1.1. However, I fa

[2016-09-23 21:35] asr commented on #2192
The fix requires Node.js 0.11.X but Travis has Node.js 0.10.36, so I reverted it. I'll upgrade the version of Node.js on Travis later.

[2016-09-23 22:26] nad opened #2210 "Regression, possibly related to display forms and modules"
Consider the following code:

[code]

Infer the type of `x` in the hole. Result (instantiated or simplified): `Type` (bad). Result (normalised): `A` (good). I'm guessing that the problem is related to display forms. The problem disappears if `r₂` is defined using a copattern.

This is a regression. Bisection suggests that the bug was introduced by @UlfNorell in d88a00858d0296eb2e836bf2bb8d30f27c99

[2016-09-24 07:09] UlfNorell commented on #2209
Without looking too closely I suspect this is the key constraint:

[code]

It's really `_16 r (f r a a) = g r a : A` but with η-equality it can be simplified to `_16 (f r) (g r) (f r a a) = g r a : A`, which after some pruning can be solved with `_16 := λ _ x _ → x a`.

[2016-09-24 11:04] laMudri opened #2211 "Ambiguous constructor causes “cannot instantiate metavariable” error"
Try giving the expression in the hole on the last line.

[code]

This gives the following error.

[code]

However, changing the hole to `{!cong ℕ.suc (tighten-correct x (neq ∘ cong suc))!}` (note the `ℕ.`) makes the error go away. It seems to me that this is the wrong error message to be shown, if there should be an error at all.

Agda version 2.5.1.1.

[2016-09-24 13:39] andreasabel opened #2212 "Get rid of mvPermutation"
As I can see, the `mvPermutation` is only different from the identity permutation when we prune a meta.  The new meta (with pruned arguments) is created in the same context as the old meta (without the pruning).  The `mvPermutation` makes up for this.  Instead, we could create the new meta in the pruned context, getting rid of the `mvPermutation`.

[2016-09-24 15:17] andreasabel commented on #2212
Mmh, a meta carries the whole `TCEnv`.  Thus we would not only have to update the `envContext` but also possibly the `envLetBindings`!?

[2016-09-24 16:48] UlfNorell commented on #2212
I don't see how the meta could rely on the let bindings though. There's no way to refer to a let-bound value in internal syntax.

[2016-09-25 17:48] m0davis opened #2213 "Internal Error @ TypeChecking/Quote.hs:178"
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Quote.hs:178

[code]

[2016-09-25 22:51] m0davis commented on #2213
I imagine this is the same bug as #2203.

[2016-09-26 04:51] #2204 closed, assigned to asr

[2016-09-26 05:16] UlfNorell commented on #2204
What's a quick way to check that you didn't mess up the markdown when adding things?

[2016-09-26 05:42] asr commented on #2204
You can use gitk on 31c6097.

[2016-09-26 06:28] UlfNorell commented on #2204
Sorry, by "you" I meant "me". Do you have a nice markdown viewer that you use to look at the changelog/release notes before pushing?

[2016-09-26 13:40] andreasabel commented on #2204
I try to remember... I think I used a browser plugin to view `.md` files.

[2016-09-26 13:52] asr commented on #2204
I couldn't find an off-line viewer with _exactly_ the same behaviour than GitHub.

I edited the file on Emacs using [markdown-mode](http://jblevins.org/projects/markdown-mode/) version 2.1. I also used this [on-line editor](https://jbt.github.io/markdown-editor/).

[2016-09-26 15:43] #1856 closed, assigned to asr

[2016-09-26 15:50] asr commented on #1856
After the fix of https://github.com/UU-ComputerScience/uhc/issues/87, UHC prints doubles with better precision, however UHC's precision is still lower than GHC's precision. For example,

[code]

GHC (8.0.1): `1.4142135623730951`
UHC (https://github.com/UU-ComputerScience/uhc/commit/cdd8252b06771f07c001fa4ab335dfffadf59820): `1.414213562373095`

I closed the issue by adding a test case which only i

[2016-09-26 20:23] asr commented on #2192
Or I'm missing something very obvious or the Node.js/JavaScript/v8/ECMAScript versions are a mess.  How I know which is the minor version of Node.js including the `Number.isInteger` function?

[2016-09-27 07:48] nad commented on #2209
OK. This regression might affect other users as well, so perhaps we should warn them. However, I see that it is already documented in the release notes, and I don't think we need to do more.

[2016-09-27 07:48] #2209 closed, assigned to nobody

[2016-09-27 09:46] nad opened #2215 "Performance regression"
Consider the following timings (the experiment was run on a somewhat loaded machine, using [context.txt](https://github.com/agda/agda/files/494987/context.txt)):

[code]

Bisection suggests that this performance regression was introduced by @UlfNorell in aee0e9c9aaef56fc2c3ed018fd80b0f014dba43f: "[ fixed #2159 ] memory leak in reduction".

[2016-09-27 09:48] #2210 closed, assigned to UlfNorell

[2016-09-27 10:55] #2215 closed, assigned to nobody

[2016-09-27 11:40] identicalsnowflake opened #2216 "GHC backend error"
[code]

The above code type checks, but when I try to compile it I get `An internal error has occurred. Please report this as a bug. Location of the error: src/full/Agda/Compiler/ToTreeless.hs:194`.

The problem seems to be in `z-score` (probably the pattern match on `0.0`), because when I comment it out, the error goes away.

[2016-09-27 11:44] nad commented on #2216
Please provide self-contained code.

[2016-09-27 12:02] UlfNorell commented on #2216
That's not necessary. It's quite obvious what the problem is. But here's one if you're extremely curious

[code]

[2016-09-27 12:02] nad opened #2217 "Abort Agda without losing state"
I think it would be nice to be able to abort the current command in the Emacs mode, without having to reload interfaces from disk, or lose the --caching cache.

[2016-09-27 12:07] identicalsnowflake opened #2218 "Infinity constructor missing in JS and UHC backends"
[code]

This type checks, but fails to compile on GHC with `Not in scope: data constructor ‘Infinity’`

[2016-09-27 13:01] andreasabel commented on #2046
Brief discussion with Ulf: Look at the module parameter substitutions associated with the constraints (see `envCurrentModule . clEnv`) and see if you can fix the constraint contexts.

[2016-09-27 20:44] favonia opened #2219 "Invalid let declarations due to where clauses in records"
I believe this is a bug in Agda. This code

[code]

will lead to the following error message:

[code]

However, if the final line `field c : A` was removed then it would be fine.

[2016-09-27 20:48] favonia commented on #2219
Sorry. Duplicate of #1720.

[2016-09-27 20:48] #2219 closed, assigned to nobody

[2016-09-27 20:57] UlfNorell commented on #2216
Travis tests are failing for the JS backend. The generated code looks ok to me, so maybe someone that knows about JS can have a look.

[2016-09-28 06:17] identicalsnowflake commented on #2216
Here's the `isZero` generated code for me:

[code]

I think there's two problems: first, [primFloatEquality](https://github.com/agda/agda/blob/master/src/data/JS/agda-rts.js#L61) is curried in the RTS, but this `isZero` function is performing a normal two-parameter function application. Second, and probably the harder one, I don't even see a branch in the generated code for "neg" at all.

[2016-09-28 07:17] #2216 closed, assigned to nobody

[2016-09-28 07:18] UlfNorell commented on #2216
I get the negative case on my machine. Fixed the currying problem and letting Travis have a go.

[2016-09-28 08:41] UlfNorell commented on #2218
I didn't touch UHC or JS backends. JS backend almost works anyway, but for some reason it loses newlines printed after printing an exotic float literal.

[2016-09-28 09:37] #2203 closed, assigned to nobody

[2016-09-28 09:37] #2213 closed, assigned to nobody

[2016-09-28 11:25] UlfNorell opened #2220 "Projections quoted inside defining record drops too many arguments"
Originally reported by @m0davis in UlfNorell/agda-prelude#43.

[code]

[2016-09-28 12:15] #2220 closed, assigned to UlfNorell

[2016-09-28 13:23] asr opened #2221 "`primShowFloat -NaN` should return `"-NaN"`"
[code]

The issue should be fixed in:
- [ ] Agda compiler
- [ ] GHC backend
- [ ] JS backend
- [ ] UHC backend

[2016-09-28 13:27] asr commented on #2216
~~Note that in the last line of the test case~~

~~out >  inf  -inf   nan  -nan  |  x~~
~~out >    x     -     -     -  |  Infinity~~
~~out >    -     x     -     -  |  -Infinity~~
~~out >    -     -     x     -  |  NaN~~
~~out >    -     -     -     x  |  NaN~~

~~`NaN` should be `-NaN` (I filed #2221 for this issue).~~

[2016-09-28 13:29] asr commented on #2218
Note that in the last line of the test case

[code]

`NaN` should be `-NaN` (I filed #2221 for this issue).

[2016-09-28 13:30] asr commented on #2216
Oops, the above comment belongs to a different issue.

[2016-09-28 14:19] UlfNorell commented on #2221
This isn't really a bug. One can argue whether we want the show function to be as precise as possible, but I worry what we would then do when (if) we discover ways to construct other NaN values. I think having all NaNs show as `"NaN"` is perfectly respectable.

[2016-09-28 14:21] UlfNorell commented on #2218
That is arguable. See my comment on that issue. The key point here is that we can compile and distinguish the literals.

[2016-09-28 14:21] UlfNorell commented on #2216
You know you can delete comments right?

[2016-09-28 14:35] asr commented on #2216
Right.

[2016-09-28 18:02] asr opened #2222 "Broken `putStrLn` on the JS backend?"
[code]

[code]

You are seeing well, `foo` was printed.

[2016-09-28 18:05] asr commented on #2218
It is not related to exotic things, see #2222.

[2016-09-28 21:46] phile314 commented on #2222
Generated JS code:

[code]

The problem is that the IO monad just gets erased by the JS compiler. If an IO function is fully applied, the JS runtime will execute the side effect no matter if we are in the top-level main IO action or not.

I suggest to wrap all IO values in a lambda to block evaluation. Pseudo-js-code:

[code]

I will give that a go tomorrow or so.

[2016-09-28 21:48] phile314 commented on #1072
Could be related to Coinduction which is not (yet) implemented in the JS backend.

[2016-09-29 00:18] andreasabel opened #2223 "Level constraint solver regression with parameter-refinement"
Agda-2.5.1.1 can solve the level meta variable 'X", Agda-2.5.2 cannot.

[code]

This regression has been introduced by the new handling of module parameters.  The code in `LevelConstraints` relied on contexts only being extended and cannot handle permutations of variables in the context, as now introduced by `with`. If you remove the `with`, then the meta is solved.
Size constraints have the same

[2016-09-29 00:23] andreasabel commented on #2223
Here is a variation with data types, but this is not a regression example, as it only makes sense after 43b59a58b767dce4848b2da7f3f26fdef1ce6a32 and c181a950acc44aa1af22c91661ed0cc9e90e4262 (which, however, could be backported to 2.5.1).

[code]

[2016-09-29 07:18] nad opened #2224 "The error function is used to report a non-internal error"
It seems as if `error` is used to construct the following error message:

[code]

(See the [source code](https://github.com/agda/agda/blame/85c0d76af7a41c83e85f37747dee1bbd7048753a/src/full/Agda/Syntax/Parser.hs#L114).) @vlopezj, please use Agda's machinery for reporting errors.

[2016-09-29 07:31] nad opened #2225 "LaTeX backend + XeLaTeX/LuaLaTeX ⇒ no lambda"
Consider the following code:

[code]

If this document is compiled using `agda --latex` and XeLaTeX or LuaLaTeX, then (with my current setup) the lambda character is not rendered. The problem is that the font chosen by `agda.sty` does not support λ:

[code]

The same problem applies to lots of other characters as well, for instance ℕ.

I can work around this problem in the following way:

[code]

[2016-09-29 07:55] identicalsnowflake opened #2226 "open {{...}} gets hiding wrong"
[code]

Consider the conflict above between `works/resultWorks` and `fails/resultFails`. Either `checkType` or the initial reflection process is conflating information about how instance arguments are handled.

EDIT: The error in `resultFails` is `Found an implicit application where an explicit application was
expected`

[2016-09-29 08:16] UlfNorell commented on #2222
Does this mean that the test case for #2218 can be enabled for the JS backend?

[2016-09-29 12:06] nad commented on #2204
I just discovered [Grip](https://github.com/joeyespo/grip), which seems to work well (`grip -b doc/release-notes/2-5-2.md`).

[2016-09-29 23:27] nad opened #2228 "Performance regression in 2.5.1.1"
I have some code which takes a lot longer to type-check using Agda 2.5.1.1 (or the current development version) than with Agda 2.4.2.5. Bisection first pointed me to 3c9ee59d16de305fe075a773fe0a710151ae8239: "[ sharing ] resurrected pointer term representation". However, sharing was not turned on by default in 2.5.1.1, so I doubt that this commit is responsible for the current slowdown. Unfortunat

[2016-09-30 04:33] UlfNorell commented on #2228
I guess that depends on whether you were going to track down the problem yourself, or if you want someone else to do it...

[2016-09-30 06:48] nad commented on #2228
I was hoping (but not expecting) that you would immediately understand that the problem is <something>, fix that, and construct a corresponding, small test case.

[2016-09-30 07:34] nad commented on #2228
OK, here is a test case. `Imports.agda`:

[code]

`Bug.agda`:

[code]

Test script, using [context.txt](https://github.com/agda/agda/files/502317/context.txt):

[code]

If the abstract definitions in `Bug.agda` are replaced by one postulate (`T`):

[code]

If `P` is commented out:

[code]

If `f` is commented out:

[code]

[2016-09-30 08:01] UlfNorell commented on #2228
Where does `-v profile:10` claim the time goes?

[2016-09-30 08:11] nad opened #2229 "Absence or presence of top-level module header affects scope"
Consider the following modules. `M.agda`:

[code]

`Reexport1.agda`:

[code]

`Reexport2.agda`:

[code]

`Fails.agda`:

[code]

`Works.agda`:

[code]

Agda accepts `Works.agda`, but rejects `Fails.agda` (because `A` is claimed to not be in scope). The problem exists already in Agda 2.4.0.2.

[2016-09-30 08:31] np commented on #2222
@phile314 I'm wondering if a continuation monad would be better suited to integrate with JS libraries. Since a large fraction of JS libraries are async it would be easier to integrate them.

See for instance the monad I used in crypto-agda: https://github.com/crypto-agda/agda-libjs/blob/master/lib/FFI/JS.agda#L267-L310

And one example of an async function `readFile`: https://github.com/crypto-agd

[2016-09-30 08:40] nad commented on #2228
With imported modules already type-checked:

[code]

Interesting. The termination checker uses `ignoreAbstractMode`, so that part of the puzzle makes sense.

The slowness is caused by a [call to `normalise`](https://github.com/agda/agda/blob/42f28f1a2d87fa4449beea067166f7ccc4104e1f/src/full/Agda/Termination/TermCheck.hs#L583) in `termClause'`. There is no documentation of why we use `normalise` th

[2016-09-30 09:05] phile314 commented on #2222
Haven't given it much thought, just used the first idea that came to mind. I don't have any strong opinion on this, but yes, I see how cps style could integrate better with existing JS libraries.

PR would be greatly appreciated, else I might give it a go next week :-)

[2016-09-30 10:08] gallais commented on #2225
We (@pigworker and @jmchapman) have encountered the same issue recently. We noticed that it went away when using an older version of texlive (2014.20141024-2 on debian stable in particular).

[2016-09-30 10:09] UlfNorell commented on #2229
I guess the fix would be to disallow `open public` before the module header. That would cause `Reexport1` to desugar to the same code as `Reexport2` instead of what you get now:

[code]

[2016-09-30 10:13] UlfNorell commented on #2228
Link to #53.

I believe we only use dot patterns for termination if termination checking fails without them?

[2016-09-30 11:33] asr opened #2230 "Enable bitwise equality on the UHC backend"
The `identicalIEEE` function from the [ieee754](http://hackage.haskell.org/package/ieee754) package is implemented via a `*.c` file.

From the discussion on https://github.com/UU-ComputerScience/uhc/issues/86, UHC requires explicitly specified on the command-line invocation the `*.c` and `*.h` files.

I'll copy the required bits (including the LICENSE) from the ieee754 package.

[2016-09-30 13:21] nad commented on #2229
Sounds reasonable to me.

[2016-09-30 13:24] nad commented on #2225
Have you figured out what the difference is between the two versions of TeX Live? Does the older one employ some kind of workaround? Have glyphs been removed from the XITS Math font?

[2016-09-30 13:33] #2230 closed, assigned to asr

[2016-09-30 13:44] asr commented on #2169
After 84baac4d273c8321c39f85cf6a8e2b60f84314d8,  I updated the [check list](https://github.com/agda/agda/issues/2169#issuecomment-247510821).

[2016-09-30 13:44] #2169 closed, assigned to asr

[2016-09-30 14:30] UlfNorell commented on #2230
Couldn't you write the C code yourself and skip the huge license text?

[2016-09-30 14:51] asr commented on #2230
I wrote the `foreign import` but I copied the `identicalIEEE` function [here](https://github.com/agda/agda/blob/d4936b99bff4606b66563d00bf3c9b9977ec95a9/src/data/uhc-agda-base/src/UHC/Agda/Builtins.hs#L111-L116). If I rewrite the C code, do we need to include the licence text anyway?

[2016-09-30 14:53] UlfNorell commented on #2230
It's a trivial piece of code. I'm pretty sure you're in the clear as long as you don't copy it verbatim.

[2016-09-30 15:14] asr commented on #2218
After the fix of #2230, the issue in the test case using the UHC backend is not related to the equality but the `macro`.

[2016-09-30 19:43] andreasabel commented on #2229
What is the intended semantics of

[code]

Is `public` just ignored at the moment?  Maybe it should be an error.
Relevant code is function `spanAllowedBeforeModule` in `Syntax.Concrete`.

[2016-09-30 20:33] UlfNorell commented on #2229
From the original report it looks like it's ignored, which is not surprising I suppose. Making it an error is better.

[2016-10-01 07:24] andreasabel commented on #2229
The reason to allow import statements before the module header is to use the imported things in the module parameters.  Unparametrized modules do not need this feature, and if one drops the module header then there are no parameters.  Thus it would make sense to (virtually) insert the

[code]

before the first import declaration.  This would fix this issue.

The error message for open public befor

[2016-10-01 08:36] andreasabel commented on #2228
There is a superfluous and unconditional call to `normalise` (executed even when we do not use the dot patterns).  If that is removed, the termination checking times goes down from 30000ms to 0ms.

[2016-10-01 08:50] andreasabel commented on #2228
I fixed the issue by removing that superfluous call to `normalise`, but there will be no regression test unless we integrate Nisse's equality library into the Agda test suite.

[2016-10-01 09:03] #2228 closed, assigned to andreasabel

[2016-10-01 09:22] andreasabel opened #2231 "Should abstract definitions be transparent for the purpose of certifying termination?"
Triggered by the example in #2228, I wonder whether the termination checker should **always** be allowed to see through `abstract`.
In particular, when dot patterns are used to certify termination, abstract definitions in dot patterns should probably **not** be unfolded.

[code]

Termination relies on the fact that `suc n > n` and `suc` evaluates to constructor `suc'`.  However, this leaks informa

[2016-10-01 19:54] identicalsnowflake opened #2232 "Module applications do not eagerly introduce hidden arguments"
[code]

This is strange behavior -- why is `{{_}}` somehow providing more information than simply leaving it off?

[2016-10-01 21:10] andreasabel opened #2233 "Positivity check fails in abstract block"
Without the `abstract`, this code type checks:

[code]

As such, it fails:

[code]

Worked fine with Agda 2.4.2.3, broken since Agda 2.4.2.4.

[2016-10-02 19:09] andreasabel commented on #2232
Does not feel strange to me.  The first `open` leaves level `l` completely unconstrained, hence, the yellow. The second `open` asks to find an instance for `Eq {l} Top` which is found as `myClassT`, solving the level variable `l` to `lzero`.

Maybe what your are suprised about is that `open` does not eagerly introduce hidden and instance parameters, but lazily. But then, you should also be surpris

[2016-10-02 20:02] identicalsnowflake commented on #2232
Well it is unintuitive to me that `open MyModule` doesn't complain about unsolved parameters but `open MyModule X` does. I had written down `open MyModule X` first when I was working, and it didn't occur to me to resolve the compiler complaints about lack of constraint information by removing even more information!

But anyway, yeah, removing the type parameter works and I was able to get the API

[2016-10-03 06:58] UlfNorell commented on #2208
`-NaN < NaN` fails on JS backend.

[2016-10-03 10:26] andreasabel commented on #2232
Agda does not generalize over unconstrained metas; it seems that you intuitively expect it, though. One you force Agda to instantiate a hidden argument by a meta, it becomes a meta that needs to be solved (case `open MyModule X`).  It you don't force Agda so (case `open MyModule`), the imported symbols will be generalized over the hidden parameter (e.g. `P : forall {l} (t : Set) -> ...`).

[2016-10-03 10:26] #2232 closed, assigned to nobody

[2016-10-03 12:27] asr commented on #2208
After editing the OP, the current status is
- `primFloatLess NaN NaN ≡ primFloatLess -NaN -NaN ≡ primFloatLess NaN -NaN ≡ false`

  Agda compiler ✓
  GHC backend ✓
  JS backend ✓
  UHC backend ✓
- `primFloatLess -NaN NaN ≡ true`

  Agda compiler ✓
  GHC backend ✓
  JS backend x
  UHC backend ✓

[2016-10-03 12:33] andreasabel opened #2234 "Sort inference fails for abstract data types"
[code]

For the `abstract` definition, the `A` is yellow.
See #418.

[2016-10-03 12:51] andreasabel commented on #418
Issue #2234 made me think about our decision to freeze metas of abstract definitions again.
Why don't we adopt the original alternative 1?  This means, if the user writes a meta variable in an abstract type signature, he gets a solution which is not necessarily unique.  Subsequent behavior in a non-abstract block might be random, depending on which solution Agda chose.  But this does not seem to v

[2016-10-03 14:23] #2231 closed, assigned to andreasabel

[2016-10-03 14:23] #2233 closed, assigned to andreasabel

[2016-10-03 14:26] asr commented on #2208
Blocked by #2194.

[2016-10-03 14:30] phile314 commented on #2194
This is actually unsolvable on JS. I don't have much time right now, will try to write this up in more detail this evening.

[2016-10-03 14:46] asr commented on #2194
Blocking #2208.

[2016-10-03 14:50] asr commented on #1879
Blocking #1844.

[2016-10-03 15:14] asr commented on #2194
Just out curiosity. Isn't it possible to call/use a C function as we did on the UHC backend?

[2016-10-03 16:01] asr commented on #659
Now we have a reference manual, so the required link and documentation can be addressed.

[2016-10-03 16:59] phile314 commented on #2194
Depends. On NodeJS it might be possible, but at least in the browser it wouldn't work. Not that I know of anybody using Agda to create client-side JavaScript.

[2016-10-03 17:09] WolframKahl commented on #2194
On Mon, Oct 03, 2016 at 09:59:15AM -0700, Philipp Hausmann wrote:

Alan Jeffrey did.

I will most likely want to do that in the future --- currently I'm using Haste.

(But I will probably not need fully IEEE-conformant FP,
 and if I need FP at all, I will probably be happy with a more restrictive interface.)

Wolfram

[2016-10-03 17:40] phile314 commented on #2194
So now here the more detailed answer. The whole Float story is a bit complicated, so let's start with a list of the goals of Agdas Float Support:

 I. All operations have to be (observationally) deterministic
 II. Operations should be fast <=> map more or less directly to hardware
 III. Floats should have decidable Equality
 IV. Floats can be used in the FFI to C/Javascript/etc..
 V. Floats can be

[2016-10-03 19:18] #2222 closed, assigned to phile314

[2016-10-03 20:17] phile314 commented on #1072
The problem is related to coinduction, but the actual problem lies elsewhere. The JS backend tries to get all definitions in def-before-use order, but code using coinduction (correctly) generates mutually recursive functions. The reorder function just loops forever in that case.

[2016-10-03 21:08] identicalsnowflake commented on #2194
I do!

I've been thinking about Float behavior some, since I'm using Floats a lot in WebGL geometries, so it matters to me.

How about a different paradigm: promise Floats will behave nicely in Agda so long as you only use them in ways which Floats model approximate computations of rational numbers. No support for undefined domains (divide by zero, tan of pi/2, etc.). Drop any regard for Nan and I

[2016-10-03 22:11] phile314 commented on #2194
Good to know :+1:

About float equality, do you actually need decidable propositional equality on floats or would an additional more real-wordy equality function suffice? E.g.:

[code]

This way you would still get a "reasonable" real-world comparison function without making Agda inconsistent.

[2016-10-03 23:07] m0davis opened #2235 "--sharing results in unsolved metas"
Remove all *.agdai files (including the builtin ones) and run `agda --sharing` from the command line (the behavior is mysteriously different in emacs) on the following code:

[code]

Agda fails to typecheck `EqBool` even though it succeeds under `--no-sharing`.

[2016-10-03 23:54] identicalsnowflake commented on #2194
Sure, that sounds fine. It may make pattern matching on floats a bit surprising, though (ohno forgot to match on negative zero!). Also the same question comes up for less than (which I use far more often than equality): which equality does it respect? Usually you want `a ≤ b -> b ≤ a -> a = b`.

[2016-10-04 06:50] UlfNorell commented on #2226
Bisection points to 888f616 (my first use of `agda-bisect`!), so it looks like it not a reflection issue but rather a problem with `open M {{...}}`.

The body of `fails` is `PlusOp._+_ {{plusOp semigroupLaws}} 3.0 5.0`, which is not right.

[2016-10-04 07:21] UlfNorell commented on #2226
Here's a simplified example with some more information:

[code]

I'm surprised that `bar` and `bar₁` are calling `Foo` directly, instead of `FooI`.

[2016-10-04 09:58] nad commented on #2228
Isn't it possible to construct a small test case?

[2016-10-04 10:01] #1985 closed, assigned to UlfNorell

[2016-10-04 10:01] nad commented on #2234
Isn't this correct behaviour? Without looking at the implementation you don't even know that `A` is a type.

[2016-10-04 10:12] nad commented on #2194
Why would you want to pattern match on floating point values? (And why does Agda provide support for that?)

[2016-10-04 10:16] UlfNorell commented on #2228
Of course it's possible. Feel free to give a go.

[2016-10-04 10:40] #2235 closed, assigned to UlfNorell

[2016-10-04 11:18] identicalsnowflake commented on #2194
Well "if x isn't zero, divide y by x` is pretty common in normal programming languages, even where "normal" means Haskell! [First Google result for Haskell gamma function](https://hackage.haskell.org/package/gamma-0.9.0.2/docs/src/Math-Gamma.html#gamma) pattern matches on floats!

I'm in favor of removing it if there's any ambiguity about which equality it's using.

[2016-10-04 12:45] nad commented on #2228
The following code checks quickly with the new version of Agda, but not with the old one:

[code]

However, in the light of #2231 I guess we should have a test case that does not rely on `abstract`.

I had guessed that the following code would be checked quickly, but it isn't. Is it necessary for Agda to reduce `A` when checking the constructor `refl`?

[code]

Replacing `X ≡ A` with `A ≡ X` does

[2016-10-04 12:50] nad commented on #2194
I don't think we should encourage people to divide by "not quite zero, but very close to zero", unless they know what they are doing.

[2016-10-04 13:07] identicalsnowflake commented on #2194
[Indeed!](https://github.com/agda/agda-stdlib/commit/96a9dc1f895113dae3e1771049e54e96b16608c7#diff-242b2552b8d597f44ad702b8c5bb0d6bR44)

[2016-10-04 14:14] nad commented on #2194
When they are using floats...

[2016-10-04 18:49] andreasabel commented on #2226
Mmh, https://github.com/agda/agda/commit/888f6166fcb3dca42fc2f80b57d02fbd3d5bc414 looks rather like a harmless refactoring, splitting `projProper :: Maybe QName` into `projProper :: Bool` and `projOrig :: QName`.
Maybe someone can spot an error that sneaked in.
Are you sure about the bisect result?

[2016-10-04 18:55] andreasabel opened #2236 "Result splitting introduces hidden arguments"
[code]

Agda-2.5.1.1 did not insert hidden arguments, only the visible ones.

[2016-10-04 19:30] andreasabel commented on #2234
I don't think we ever intended to support modules that export

[code]

with an undetermined part `_` in the type signature.  What would that be good for?  How would you use `D`?

[2016-10-04 19:30] #2236 closed, assigned to andreasabel

[2016-10-04 20:19] UlfNorell commented on #2226
Yes. It checks with the commit just before (f8c8f04).

[2016-10-04 20:46] UlfNorell commented on #2234
I don't know about data types, but for functions the worry is that we infer something that is not a valid type outside the abstract block.

[2016-10-04 21:56] identicalsnowflake commented on #2194
@nad well that's kinda my point: I should be able to reason about Float using the same classical Algebra we all learned in secondary school with mostly good results.

Anyway, here are my contentions about Float equality and the place of Float in Agda in general:

### 1. Practical trumps theoretical for Float

None of us is using Float for its deep algebraic insight. Trading practical utility (0 =

[2016-10-05 00:50] m0davis opened #2238 "quotation of Name causing problems when using macros within reflected terms"
Following the fix of #2130, how does one pass a Name argument to a macro that's used in a reflected term? Here's my best try:

[code]

The last line errors with

[code]

[2016-10-05 05:13] UlfNorell commented on #2238
Here's how:

[code]

[2016-10-05 05:13] #2238 closed, assigned to nobody

[2016-10-05 08:48] nad commented on #2234
@andreasabel, I don't understand what you mean. There is an unsolved meta-variable. Do we need special support for this kind of unsolved meta?

[2016-10-05 11:14] identicalsnowflake opened #2239 "Case splitting while in record hole generates invalid syntax"
[code]

Case splitting on `x` above generates invalid syntax:

[code]

[2016-10-05 11:19] identicalsnowflake commented on #2239
Possibly related -- the following yields an incorrect error:

[code]

Attempting to case split on `x` here gives the error `Cannot pattern match on non-datatype t₁ → t₂`, but `x` doesn't even have type `t₁ → t₂` -- it has type `Wrap t₁`.

[2016-10-05 22:09] identicalsnowflake commented on #2226
@UlfNorell by checks you mean not checks, right? Your example type checks for me on current master, and it's supposed to fail, right?

Also, I question that bisect result as well: I can confirm your example doesn't build on https://github.com/agda/agda/commit/f8c8f049497d929973b36bed7c71ed3ceec7bf64, but I then tried it on https://github.com/agda/agda/commit/888f6166fcb3dca42fc2f80b57d02fbd3d5bc41

[2016-10-05 23:32] asr commented on #2226
Right. See #2023.

[2016-10-06 04:45] UlfNorell commented on #2226
Yeah my example succeeds when the bug is present. I used the code in the OP for the bisection.

Here's what I'm getting on the code in the OP:

[code]

[2016-10-06 05:58] identicalsnowflake commented on #2226
Ah, I did the opposite. I tested yours but not mine (since I was having trouble with the standard library on old versions, for some inexplicable reason).

Anyway that means our two examples may be hitting two different problems.

[2016-10-06 06:22] UlfNorell commented on #2226
Use these imports for the OP instead of the stdlib ones:

[code]

My code doesn't check with older versions because we've made some minor changes to how parameters to projections are reflected. It should be simple to adapt it to hit the issue in the OP also for the older commits though.

[2016-10-06 06:30] phile314 commented on #2194
I agree that `0.0 != -0.0` is not that useful in practice for doing any computations, but it is necessary to avoid making Agda inconsistent [ #2169 ]. Wolfram explained the same problem for primFloatLess quite nicely in https://github.com/agda/agda/issues/2194#issuecomment-247859528 .

I think the way forward is to have two equality primitives, a bitwise one for propositional equality and a numeri

[2016-10-06 06:47] identicalsnowflake commented on #2194
Sure, that looks fine. I have very few actual branching procedures on Float and they're all inside the same module, so pattern matching respecting the other equality won't bother me.

That being said, I think it needs to be made abundantly clear to new people that pattern matching uses an unintuitive equality, because it's normal for people even with Haskell backgrounds to pattern match on `0.0` (

[2016-10-06 07:02] phile314 commented on #2194
This is Haskells take on it:

[code]

I'm starting to agree that pattern matching on float literals might not be the best idea.

[2016-10-06 07:09] UlfNorell commented on #2194
Worth noting is that GHC **does not** give you an overlapping patterns warning for the code above.

[2016-10-06 09:33] nad opened #2240 "Problem when defining and using macro in parametrised module"
Agda rejects the following code:

[code]

Error message:

[code]

[2016-10-06 09:43] nad commented on #2240
A test case that does not use a record module:

[code]

[2016-10-06 13:30] andreasabel commented on #2239
The first problem is a bug in either the emacs mode or the regions communicated to the emacs mode.  Before the fix of #2051, the rhs of a clause would be a hole when case splitting, in particular, nothing would come after the hole on the line.  Thus, the existing clause is only cut away to the end of the hole and replaced by the new clause.  This leads to syntax errors.  A more drastic example is

[2016-10-06 14:04] andreasabel commented on #2239
The second problem seems to be very different.  Some de Bruijn index is off because we have been disregarding the lambda-bound variables on the rhs.
I fixed this by subtracting the number of locals from the split index.

[2016-10-06 14:35] andreasabel commented on #2239
The first problem is caused by this elisp-code in `agda2-mode.el`:

[code]

The end of the to-delete text is considered to be the next "!}".  This is no longer correct.

[2016-10-06 14:41] asr commented on #2194
Also note that

[code]

is accepted by Agda (GHC generates an overlapping-patterns warning).

[2016-10-07 00:09] m0davis opened #2241 "--sharing doesn't seem to work in emacs"
--sharing seems to not work in emacs (--interaction) mode. The code below runs fast when Agda is invoked from the command line with --sharing. Doing similarly from emacs is slow. (NB When testing, be sure to first remove all builtin *.agdai files.)

[code]

[2016-10-07 02:32] m0davis commented on #2241
I guess this was already talked about here (https://github.com/agda/agda/issues/426#issuecomment-129023263) and here (https://github.com/agda/agda/pull/1867).

[2016-10-07 02:32] #2241 closed, assigned to nobody

[2016-10-07 14:02] asr commented on #1767
You are right.

[2016-10-07 14:02] #1767 closed, assigned to asr

[2016-10-07 21:16] andreasabel commented on #1985
Good you fixed this one!

[2016-10-08 07:01] phile314 opened #2243 "Overlapping literals are (wrongly) accepted"
This typechecks on current stable:

[code]

Also happens for `Float` patterns, probably other literals as well.

Discovered by asr, see https://github.com/agda/agda/issues/2194#issuecomment-251983600 .

[2016-10-08 10:19] phile314 commented on #2221
There is no `-NaN` value anymore, so this issue is obsolete.

[2016-10-08 10:19] #2221 closed, assigned to nobody

[2016-10-08 10:21] phile314 commented on #2208
@asr Is there a reason we treat `NaN` as greater than `-Infinity` currently? If we would treat `NaN` as less than `-Infinity`, we could use Haskells Ord instance directly without any special cases.

[2016-10-08 10:22] phile314 commented on #2194
There is only a single `NaN` value now in Agda, so this issue is obsolete.

[2016-10-08 10:22] #2194 closed, assigned to nobody

[2016-10-08 10:32] UlfNorell commented on #2208
No, I was just reluctant to put anything below negative infinity. Feel free to change it.

[2016-10-08 10:49] andreasabel commented on #2243
Seems to be a duplicate of #708.

[2016-10-08 13:53] asr opened #2244 "Sphinx (1.4.8) complains about malformed table for Unicode subscript k, m and n"
Using Sphinx 1.4.8, @UlfNorell reported [this](https://github.com/agda/agda/commit/a65696fb2a0705a574502dea51a32ca02aa5c692#commitcomment-19340139) issue. Travis and I couldn't reproduce it. Could someone confirm/disconfirm the issue? Which OS are you using?

The issue:

[code]

[2016-10-08 14:36] asr commented on #2244
From Sphinx [documentation](http://www.sphinx-doc.org/en/stable/rest.html#tables), I realised we can/should use simple tables instead of grid tables.

@UlfNorell, replacing the offending table by the following one fix the problem?

[code]

[2016-10-08 18:10] UlfNorell commented on #2244
Yes it does. I suppose it got the character width wrong for the subscripts.

Will you replace the tables with the simpler syntax?

[2016-10-08 18:51] asr commented on #2244
I did. I will add the missing symbols.

[2016-10-08 18:55] UlfNorell commented on #2244
Thanks.

[2016-10-08 18:57] #2244 closed, assigned to asr

[2016-10-08 19:10] asr commented on #2153
Blocked by https://github.com/rtfd/readthedocs.org/issues/1556.

[2016-10-08 21:29] #2243 closed, assigned to andreasabel

[2016-10-08 21:30] andreasabel commented on #2243
No, #708 is still open, I only fixed a part of it: unreported unreachable clauses.

[2016-10-09 09:05] phile314 commented on #2243
Thanks!

[2016-10-09 09:32] andreasabel commented on #2020
Maybe I missed something, but this does not seem to work:

[code]

I am using
GNU Emacs 24.5.1 (x86_64-pc-linux-gnu, GTK+ Version 3.16.6)
 of 2015-09-17 on lgw01-52, modified by Debian

[2016-10-09 15:21] UlfNorell commented on #2020
That's weird. Works without problems for me:

[code]

[2016-10-10 09:24] marco-vassena opened #2245 "Case split produces invalid names when open import anonymous parametrised modules."
Pattern matching on a data type defined in a parametrised module and imported in another and opened anonymously, produces an invalid name (e.g. `.A.Foo.F`)

See attached code.

[qualified-import.zip](https://github.com/agda/agda/files/519148/qualified-import.zip)

Agda version 2.4.2.5

[2016-10-10 10:12] andreasabel opened #2246 "Level constraint solving not transitive"
Agda can simplify level inequalities `X <= Y <= X` to `X = Y`, but not `X <= Y <= Z <= X` to `X = Y = Z`.

[code]

The metas are yellow.

[2016-10-10 12:04] asr commented on #2245
Thanks for reporting the issue. I could reproduce the problem using the upstream version. The unzipped MVE is:

[code]

[code]

[2016-10-10 13:48] andreasabel commented on #2245
Thanks for the MVE.
It can't be a bug introduced by parameter-refinement as parameter-refinement did not exist in Agda 2.4.2.5.

[2016-10-10 13:54] andreasabel commented on #2245
Possibly related: #1278.

[2016-10-10 14:49] asr commented on #1278
@andreasabel, the goal in upstream is

[code]

isn't it the expected behaviour?

[2016-10-10 15:59] asr commented on #2208
Item d.2 of §5.10 in [1] says:

[1] IEEE Computer Society (August 29, 2008). IEEE Standard for Floating-Point Arithmetic.  §5.11, p. 29.

[2016-10-10 19:24] #2208 closed, assigned to nobody

[2016-10-10 20:01] phile314 commented on #2218
This seems to work now on UHC/JS backends, closing.

[2016-10-10 20:01] #2218 closed, assigned to nobody

[2016-10-10 20:11] guillaumebrunerie opened #2247 "Internal error with modules"
Running `agda2-compute-normalized` in the goal gives the error message
`An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Substitute.hs:800`

Note that the module `M` is not used anywhere, but removing its definition makes the issue go away.

[code]

[2016-10-10 22:31] nad commented on #2247
Bisection suggests that the bug was introduced by @UlfNorell in f915b1e4ad3d41baa359b09e9e99a0b84f392dc7: "[ fixed #2210 ] display form bug in parameterised module".

[2016-10-11 09:54] #2224 closed, assigned to vlopezj

[2016-10-11 12:39] andreasabel opened #2248 "COMPILED accepted on abstract definitions; produces ill-formed Haskell code"
COMPILED is by accident accepted for an abstract definition.

[code]

GHC backend produces ill-formed haskell code:

[code]

GHC error:

[code]

[2016-10-11 13:02] guillaumebrunerie opened #2249 "Superfluous parentheses when giving argument to prefix operator"
When giving the argument `f a` in the goal below, parentheses are added around it. But `f f a` type-checks, so I don’t think the parentheses should be added.

[code]

[2016-10-11 13:23] andreasabel opened #2250 "Exploit: Injective type constructors and abstract prove false"
[code]

[2016-10-11 15:58] andreasabel opened #2253 "Wrong scope error for abstract constructors"
[code]

reports

[code]

There should be the error `pattern variable shadows constructor` or no error.

[2016-10-11 16:56] #2248 closed, assigned to andreasabel

[2016-10-12 05:35] m0davis opened #2255 "Performance issue with deeply-nested lambdas"
In the code below, `foo` should normalise linearly in the size of its argument, yet Agda's actual normalisation behavior is non-linear.

[code]

[2016-10-12 09:07] andreasabel commented on #1342
Since we can refine module parameters now officially, we could allow `with` on a module parameter.  However, since we throw away the module parameter instantiation in printing, the incomprehensible error would stay.
We first need to find a way to print non-identity module parameter substitutions to the user.

[2016-10-12 10:00] UlfNorell commented on #1342
Example where you don't `with` on a variable:

[code]

[2016-10-12 18:25] andreasabel opened #2256 "Module parameters not dropped for absurd lambdas"
[code]

[2016-10-12 18:51] andreasabel commented on #1278
That looks fine.  I guess we can add the test case and close this issue.

[2016-10-12 20:30] asr commented on #1278
I'll do it.

[2016-10-12 20:54] #2256 closed, assigned to andreasabel

[2016-10-13 04:17] m0davis opened #2257 "Two seemingly related internal errors"
Location of the error: src/full/Agda/TypeChecking/Telescope.hs:317

[code]

Location of the error: src/full/Agda/TypeChecking/Rules/Term.hs:159

[code]

[2016-10-13 19:29] nad commented on #2257
Bisection suggests that the problem (at least the first one) was introduced by @andreasabel in b7e340690351eb2713d3d835fa4b4277b9cfc158: "Fixed #707: do not type check interaction meta twice."

[2016-10-13 19:37] nad commented on #2247
I have some code which triggers an internal error on `src/full/Agda/TypeChecking/Substitute.hs:802`. If the fix for the bug reported above does not solve my problem, then I can provide more details.

[2016-10-13 20:23] UlfNorell commented on #2255
This is due (in part) to the fact that the internal syntax of Agda cannot represent beta redexes, so instead of building up a (linearly sized) thunk `λ n → (λ n → (... λ n → (λ n → n) (suc n) ...) (suc n)) (suc n)` you'll end up having to push the argument through each time the substitution is forced.

I don't understand why it's quite so bad though, but as a work-around you can name the lambda:

[2016-10-13 20:44] nad opened #2260 "Internal error in MetaVars.Occurs"
Internal error, `src/full/Agda/TypeChecking/MetaVars/Occurs.hs:362`:

[code]

Bisection suggests that the problem was introduced by @andreasabel in a1bb2cfe7c4eed49666b1cb4978a5a634e8bb84f: "Fixed #2250, fixed #2248 by clarifying API of getConstInfo to return AbstractDefn instead of Axiom for abstract definitions".

[2016-10-13 22:58] brprice opened #2261 "Internal error in Auto/CaseSplit.hs:284"
In the below code, using Auto on the hole results in the above error.
Note that in the `rewrite`, `{_}` is an unsolved metavariable.

[code]

[2016-10-14 08:08] UlfNorell commented on #2255
Changing the lambda to a pattern lambda also fixes the problem:

[code]

[2016-10-14 09:07] UlfNorell commented on #2255
The reason it's slower than it has to be is that we can't be strict enough in the substitution under lambdas without destroying performance in other cases (for instance #2215).

[2016-10-14 09:18] #2260 closed, assigned to andreasabel

[2016-10-14 09:58] andreasabel commented on #2257
I made these errors go away, but a proper fix of #434 would be the correct thing to do here.

[2016-10-14 09:59] #2257 closed, assigned to andreasabel

[2016-10-14 12:14] #2247 closed, assigned to nobody

[2016-10-14 12:45] UlfNorell commented on #2261
Here's a version that doesn't require non-standard `BUILTIN` equality:

[code]

[2016-10-14 12:52] andreasabel commented on #2234
Ah, let's forget about it.

[2016-10-14 12:52] #2234 closed, assigned to nobody

[2016-10-14 12:56] UlfNorell commented on #2261
The internal error arises because a metavariable shows up when auto is not expecting it. Fixing it would require a deeper understanding of the auto code than I believe anyone possesses at the moment.

[2016-10-14 13:10] #2240 closed, assigned to nobody

[2016-10-14 13:12] vlopezj opened #2264 "Allow implicits for mixfix operators"
Here is a proposal:

https://gist.github.com/vlopezj/1de925406d10eba30f6fd849ed174917

TL;DR: Implicits would appear to the right of the part of the mixfix operator they fall under. In particular, this means that sometimes the arguments to a mixfix operator will appear before the implicit argument they depend on.

UPDATE: (per @UlfNorell) Implementing this proposal is complicated by the fact that

[2016-10-14 13:24] andreasabel commented on #2223
This still does not work:

[code]

[2016-10-14 14:39] #2023 closed, assigned to Blaisorblade, vlopezj

[2016-10-14 15:17] nad opened #2265 "Regression, possibly related to normalisation of projection patterns"
The following code is accepted by Agda 2.5.1.1, but not by a recent development version:

[code]

Error message:

[code]

Bisection suggests that this regression was introduced by @UlfNorell in 3f2e9ea8f08472c905a17fef51f09e56bd4475e4: "[ projections ] fixed bug with non-normalised projection patterns in non-compiled clauses".

[2016-10-14 15:19] nad commented on #2247
My problem was also solved.

[2016-10-14 15:32] UlfNorell commented on #2265
There's also a problem with fast and slow compiled clause reduction. Most likely due to 7cc72f0 (@jespercockx).

[2016-10-14 18:59] guillaumebrunerie opened #2266 "Double clicking on identifier containing special symbols selects only part of it"
Given an identifier called for instance `abcαβγ`, double-clicking on it only selects one half of it (either the part using the Latin alphabet or the part using the Greek alphabet), whereas it is considered as only one identifier by Agda.
The detection of word boundaries in emacs should be changed to match the one used by Agda, if it’s possible.

[2016-10-16 07:31] UlfNorell commented on #2265
Here's a simpler example. It seems the problem is with nested copatterns:

[code]

[2016-10-16 14:09] #2265 closed, assigned to nobody

[2016-10-16 14:40] UlfNorell commented on #2265
I fixed this, but I don't quite understand how it worked before @jespercockx's changes. Reduction wasn't reducing projection eliminators, but someone must have been since they were always reduced in patterns and that would have led to pattern mismatches otherwise.

[2016-10-16 18:59] identicalsnowflake opened #2267 "Instance resolution behaves inconsistently between type and body"
[code]

Here you can see that Agda is happy and properly resolves the `<>` operator and even the `≡` from the superclass. However, write in `associative` for that hole and Agda will complain. Yet, manually pattern matching on the instance `{{s}}` and applying it to `associative` works.

It seems to be resolving `≡` from the same place top and bottom, but also forgetting that it resolved them from

[2016-10-17 08:12] UlfNorell commented on #2267
It's not really inconsistent behaviour. The instance search problem you're trying to solve in the body is completely different from the one in the type. Solving the same problem works as expected with nothing unsolved:

[code]

The problem is that there's nothing determining the type argument `t` to `associative`. Given a goal `Semigroup _X` for some metavariable `_X`, instance search will block,

[2016-10-17 08:12] #2267 closed, assigned to nobody

[2016-10-17 11:38] jespercockx commented on #2265
Thanks for fixing!

[2016-10-17 19:35] identicalsnowflake commented on #2267
Ok, I didn't understand your explanation at first, but I think I got it now: associative is _only_ seeing the goal `(a <> b) <> c = a <> b <> c` and from those _terms_ alone, there is no information about the type of `a`, `b`, and `c`, right? It is not "seeing" the `{a b c : t}`.

Hmm.

My fix then is definitely just to change `{a b c : t}` to `(a b c : t)`. And I now realize this isn't the first

[2016-10-17 20:07] UlfNorell commented on #2267
No it knows the types of `a b c`, the problem is that there could be a different type `t'` with elements `a' b' c'` whose `Semigroup` instance also resulted in an `associative` of the right type. For instance,

[code]

This is what I meant when I said there is nothing determining the type `t`.

[2016-10-17 21:34] identicalsnowflake commented on #2267
Wow, that definitely makes me rethink some of my APIs. Managing that in general could be challenging. Thanks for the example -- blows my mind!

[2016-10-17 23:16] #2266 closed, assigned to nobody

[2016-10-18 17:28] guillaumebrunerie opened #2268 "Wrong coloring of OPTIONS pragma"
The syntax coloring of

[code]

is (mildly) broken. It displays the inital `{-#` in black, the word `OPTIONS` in yellow, and the rest of the line in red, including the final `#-}`.
The reason is that font-lock is used for automatically highlighting `--`-comments and that Agda’s smart highlighting cannot override that (and the two dashes before `foo` are detected as the beginning of a comment).

On

[2016-10-18 17:53] guillaumebrunerie commented on #2268
Actually I just noticed another drawback of disabling automatic highlighting of `--`-comments.
Currently, adding `--` in the middle (or at the beginning) of a line in a file which is already loaded will color the rest of line in red instantly, but with what I am proposing it will have to wait until the file is loaded again.

So I can answer to myself, I do care about it :)
The issue about the wron

[2016-10-19 07:36] identicalsnowflake opened #2269 "Instance search loops on unconstrained module parameter"
[code]

Agda hangs indefinitely when attempting to type check the above.

[2016-10-20 09:12] andreasabel opened #2270 "Printer does not use sections."
In goals I see `\ section -> x + section` and `_+_ x` but never `x +_`.
If we parse sections, we should also print them!

[2016-10-20 20:07] andreasabel opened #2271 "Helper function abstracts over module parameters, with sometimes disastrous consequences for printing"
Helper function now abstracts over module parameters, with disastrous consequences for printing

[2016-10-20 20:10] andreasabel opened #2272 "Agda Information buffer should keep history"
The AgdaInfo buffer is always erased when issuing a new interaction command.  However, it would be nice if one could go back and inspect the previous state of the goal one is working on, without having to undo the edit of the goal/file.
A simple fix would be to just prepend the new output to the buffer, instead of erasing it.

[2016-10-20 21:15] guillaumebrunerie opened #2273 "C-c C-s should put new goals instead of underscores for unknown subterms"
Doing `C-c C-s` in the following file replaces the goal by `_ == _` which is a bit strange. Underscores are supposed to represent values which are uniquely determined, which is not the case here. It would be nice if it replaced the goal by `? == ?` instead.

[code]

[2016-10-21 05:10] UlfNorell commented on #2271
Do you have an example?

[2016-10-21 08:56] nad commented on #2270
Should everything that could be written as a section be printed as one? Now we consistently choose to use lambdas. Are you suggesting to consistently use sections instead?

[2016-10-21 08:58] nad commented on #2272
Simple, but perhaps annoying in practice (lots of distracting information in the buffer), and the buffer could also become very large.

Can you give some concrete examples of what it is that you would like to do?

[2016-10-21 09:01] jespercockx commented on #2273
In this case, the values of the arguments of `_==_` are uniquely determined, their unique values just happen to be the implicit arguments `a` and `b` of f, which are unsolved metas themselves. So I don't really see the problem with this behaviour, as solving the metas in the definition of `x` will also solve the inserted underscores.

[2016-10-21 12:50] guillaumebrunerie commented on #2273
Note that if I write instead

[code]

then `C-c C-s` does not "solve" the two goals by underscores, so at least the behaviour seems inconsistent.

You’re right that the arguments of `_==_` are the implicit arguments of `f`, but those two terms can be given either in the term or in the type and here I would like to give them in the type and to use `C-c C-s` to solve constraints as much as possible

[2016-10-21 12:56] guillaumebrunerie commented on #2273
Note also that in

[code]

then `C-c C-s` replaces the goal in `P` by `? == ?`, with two new goals.

[2016-10-21 14:43] guillaumebrunerie opened #2275 "Ability to undo refine/give"
It would be nice to be able to undo refine/give. For instance if I give `f ?` in a goal and then notice that I should have given `g ?` instead, I need to reload the whole file in order to come back to the state before giving `f ?`.

[2016-10-21 16:42] jespercockx commented on #2273
You're right, that seems to be very weird behavior. As far as I know there's no formal description of what goals should be solved by C-c C-s, other than that they should be marked as solved internally. I can see at least two consistent specifications:
1. C-c C-s only solves goals if the solution contains no more metavariables, and keeps doing so until no more holes can be solved (this seems to be

[2016-10-21 16:52] guillaumebrunerie commented on #2273
I’m not sure I understand 1, do you mean that in my first example `C-c C-s` should do nothing at all given that `a` and `b` are metavariables? If so, it seems to me that 2 is strictly better than 1, do you have an example where you would want the behaviour of 1?

[2016-10-21 16:59] jespercockx commented on #2273
Well, right now C-c C-s solves all holes, not just the currently selected one. I use it often as a sanity check to see whether any of the holes I have left are unnecessary, but I wouldn't want it to touch the others. For a hypothetical variant of C-c C-s that works only on a single hole, I agree that 2 is strictly superior to 1.

[2016-10-21 17:55] mietek commented on #2133
It seems that this issue has been fixed at [AIMXXIV](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.AIMXXIV):

When can we expect this fix to make its way to a release?

[2016-10-21 18:09] UlfNorell commented on #2133
The plan is to release stable in the semi-near future. No dates set or anything though.

[2016-10-21 19:06] guillaumebrunerie opened #2276 "Simplify record projections applied to constructors"
In the following code, I think that `C-c C-t` in the goal (simplification) should return `a == a` instead of `fst x == a`. It does return `a == a` if `x` is defined by copatterns.

[code]

[2016-10-21 19:44] guillaumebrunerie opened #2277 "Simplification should apply rewrite rules"
Simplification (`C-c C-t`) should apply rewrite rules. Indeed, one of the uses of rewriting is to simulate higher inductive types with definitional reduction rules for the point-constructors, and the idea of simplification is that an eliminator applied to a constructor should reduce. So the rewrite rules used should be considered by simplification (are there other uses of rewrite rules which shoul

[2016-10-21 21:18] andreasabel commented on #2273
See #1343.

[2016-10-21 21:25] andreasabel commented on #2276
I agree.

Currently, simplify only does iota-reductions (successful non-trivial pattern matches), but not delta-reductions (just unfolding a definition).  This is not specific to projections.

[2016-10-21 22:04] guillaumebrunerie commented on #2276
Simplify should not do delta-reductions blindly (otherwise what would be the difference between simplification and full normalization?). The idea is that it should unfold a definition if and only if doing so creates a iota-redex (and then reduce the iota-redex). What I’m proposing is to add to the definition of "iota-redex" the application of a record projection to a constructor.

[2016-10-21 22:56] nad commented on #2275
If you enable caching, then you don't typically need to reload everything.

[2016-10-22 10:21] andreasabel commented on #2270
I want Agda to consistently print me back what I wrote.  So, if I wrote a section, Agda should print a section. If I wrote a lambda, I want Agda to print a lambda.  For system-generated things, we can choose a default (e.g. leave at it is, print lambdas).

The information is there in the beginning and can be preserved to be used in printing.  We do this now also for hidden arguments and style of p

[2016-10-22 10:27] andreasabel commented on #2272
For instance, I try to prove something by an application.  I did not give enough of the hidden arguments, they cannot be inferred, and there is yellow plus the new goal which contains now meta-variables.  If I can easily see my previous goal, I can match what these metas should are and fill them in, or just make sense of my current goal and fill in something that solves these unknown metas.

Pragm

[2016-10-22 10:35] andreasabel commented on #2275
Would also welcome a more clever give/refine.  For instance, if a give action produces unexpected unsolved metas, I just see yellow.  Often I would rather commit to the give only on the condition that I can also solve these metas.

[2016-10-22 10:40] andreasabel commented on #2271
Yes.

[code]

This might not be a regression though, but still bad enough to make C-c C-h unusable in practice.

[2016-10-22 10:49] andreasabel commented on #2273
I think the current behavior is consistent but arguably not very useful.

Guillaume, can one summarize your proposal as: !?

  If the user invokes C-c C-s then all unsolved meta-variables that are printed by this command should be turned into interaction metas.

[2016-10-22 15:58] UlfNorell commented on #2272
I'd hate to pollute the current info buffer, but maybe the info buffer output could be echoed to a new `*Agda output*` buffer?

[2016-10-22 16:03] UlfNorell commented on #2273
Here's my suggestion:
- In a goal: use instantiation for current meta, and replace unsolved metas with `?`
- At top-level: solve all goals that have been fully instantiated (i.e. no unsolved metas left)

[2016-10-23 13:08] andreasabel opened #2280 "Solve C-c C-s drops regular meta variable arguments"
If you have a meta-variable of function type appearing in a solution to another meta, `C-c C-s` drops its arguments.  (This is because the implementation simply drops all meta arguments, even those which are not the "module" parameters of the meta.)

[code]

[2016-10-23 13:13] UlfNorell commented on #2280
Isn't that better though? In this case you're getting a fresh meta anyway, so having it be applied to arguments will just make it harder to solve.

[2016-10-23 13:49] andreasabel commented on #2280
Ok, maybe you have a point here.  The new meta will again be constrained by `?1 := ?0 true`, but then solve does not do anything anymore, since the solution has a meta in the head.

However, if the dropping of all arguments is the blessed behavior, should not we also drop projections?

Anyway, for projections, things go somehow wrong:

[code]

Constraint is

[code]

C-c C-s gives me

[code]

with

[2016-10-23 14:50] identicalsnowflake opened #2281 "Provide a way to re-export qualified instance arguments"
Motivating case:

[code]

I'm starting to generate a lot of my instances "automatically" via transport modules like the above. It's used like this:

[code]

It works great up through my `MyPrelude.agda` file, where I run into problems: I can import lots of files with instances generated this way, and I can avoid the name conflicts by only importing the file but not actually opening it, i.e., `impo

[2016-10-23 14:51] #2280 closed, assigned to andreasabel

[2016-10-23 16:14] andreasabel commented on #2281
Can't you use just

[code]

in `MyPrelude`?  This will not open `Weakening`, but should still create the instances.

If I misunderstood you, please provide a self-contained example for experimentation.

[2016-10-23 17:19] identicalsnowflake commented on #2281
This is exactly what I needed, thanks! I had tried this before, but I had written `charInstances = Weakening N primCharToNat`. I hadn't realized I needed to prefix that declaration with the `module` keyword.

[2016-10-23 17:19] #2281 closed, assigned to nobody

[2016-10-23 17:33] favonia opened #2282 "An option to disable detection of datatypes satisfying K?"
I realized newer versions of Agda introduced some features that break our hacks for higher-inductive types, and found that the automatic detection of datatypes satisfying the axiom K might be the cause. I wonder if there's an option to disable it? This is crucial for higher inductive types to postulate paths after the definition, as follows: (The code is not self-contained; it depends on the `lib.

[2016-10-23 20:48] jespercockx commented on #2282
This feature has already been removed completely from the current stable because of a different issue (#2003). I'm still thinking of a better way to include it again in the future, but I'll try to remember testing any future versions against HoTT-Agda before pushing.

[2016-10-23 20:48] #2282 closed, assigned to nobody

[2016-10-23 21:05] favonia commented on #2282
Sorry I did not realize it was removed. How should I help the testing? This feature only permits more proofs so checking the entire HoTT-Agda (which is very CPU/memory-demanding) is not helpful. Also I am not sure if supporting HIT hacks is part of the Agda goal. We do have some testing files in https://github.com/HoTT/HoTT-Agda/tree/master/test to test whether our current HIT hacks are likely to

[2016-10-23 21:14] jespercockx commented on #2282
I don't know how you can currently help testing this feature, as I'm not even really sure how to specify it (see the other issue I mentioned). I can however notify you if I get an idea for the new version.

The 'officially supported' way to hack HITs in Agda is with rewrite pragmas.

[2016-10-24 06:59] andreasabel commented on #2281
Good.  Maybe you found a design pattern here for collecting instances.  It might be worthwhile to write a blog article or add something to the Agda documentation.

[2016-10-24 12:38] identicalsnowflake commented on #2281
Hmm maybe. I need to figure what I'm actually doing. My stuff is all scatterbrained prototyping and experimenting right now. I don't even know if "weakening" is even a good word, or exactly which instances should be "inherited" there, whether requesting more parameters up front creates other interesting inheritance shapes, etc. etc.

[2016-10-24 15:13] guillaumebrunerie opened #2283 "Yellow should disappear when it is solved by give"
When loading the following file, there is some yellow on the underscore in the type of `x` (this is expected because there is an unsolved meta). When giving `a` in the goal, the meta gets solved, therefore the yellow should disappear, but right now it only disappears when loading the file again.

[code]

[2016-10-24 15:38] guillaumebrunerie commented on #2273
It seems to me that there are two different uses of `C-c C-s`.

Either you want to use it to help you write terms, in which case it seems better to solve goals as much as possible and turn unsolved metas into interaction metas, as I’m proposing (whether in a goal or at the top-level).

Or you want to use it to check whether some goals are unnecessary, in which case
- goals with unsolved metas shou

[2016-10-25 08:34] andreasabel commented on #2283
I have experience worse behavior for a while now: In many cases the unsolved _-metas do not go away until reloaded, even when they are solved by a give.

[2016-10-25 08:47] UlfNorell commented on #2283
And also the other way around: unsolved metas introduced by give are not highlighted.

Has this ever worked? It used to be that you didn't get highlighting for given terms at all. I fixed that at some point with some extra back-and-forth with Emacs, but I didn't do anything for metas.

[2016-10-25 08:56] andreasabel commented on #2249
The current behavior goes back to at least 2.4.2.2.
The extra parentheses are not inserted if you define `f_` as `infixr`, e.g.

[code]

resulting in a `scopePrecedence` for the meta of

[code]

The default (no fixity decl) is

[code]

The decision of whether to insert parentheses is done in `Fixity.opBrackets`.

The last reworking of operator parsing was done by @nad, so he might be able to tell

[2016-10-25 11:45] UlfNorell commented on #2269
Here's a simplified version:

[code]

We don't have a termination checker for instances (#1743), so it is possible to make instance search loop. In this case Agda tries to apply the `weaken` instance and goes looking for an argument `Eq ⊥` instance even though it couldn't conclusively match the goal type.

[2016-10-25 12:09] nad commented on #2249
As far as I recall I didn't make any major changes to the printing machinery.

[2016-10-25 18:22] WolframKahl commented on #2272
On Thu, Oct 20, 2016 at 01:10:14PM -0700, Andreas Abel wrote:

Please keep in mind that goal states can easily require thousands of lines.

It can be very useful to be able to EASILY select exactly the current goal and paste it into some other buffer....

Wolfram

[2016-10-25 18:37] WolframKahl commented on #2270
On Sat, Oct 22, 2016 at 03:21:48AM -0700, Andreas Abel wrote:

Something to consider in this context:

Where do you draw the line between concrete syntax and abstract syntax?

And where do you draw the line between syntactic essence and syntactic sugar?

Wolfram

[2016-10-26 07:25] identicalsnowflake commented on #2269
Well the pain point is the experience: when I hit this issue, it wasn't obvious to me that the type check loop was even related to instances at all.

I think it would be helpful even just saying "Instance search failed to find a result after 10s," if not an error maybe just a log entry. This makes it clear to me as a user that there is something pathological happening related to instance resolutio

[2016-10-26 07:36] UlfNorell commented on #2269
I agree. I'm thinking the best solution is to put a depth limit on instance search to prevent loops.

[2016-10-26 14:07] gallais commented on #2023
Installing `gitrev` failed on my machine using debian stable because it expects a version of `gcc` supporting the `-no-pie` command line option (whatever that is). The one on testing seems to do the trick but it seems silly to impose such a strong lower bound just for including the git hash in the version number. My `~/.cabal/logs/gitrev-1.2.0.log`:

[code]

[2016-10-26 14:13] Blaisorblade commented on #2023
@gallais Can you confirm `gitrev` is actually at fault, instead of "your system broke"? Reasons:
- building gitrev uses NO language extensions (it defines TemplateHaskell code, but `TemplateHaskell` is only enabled in clients)
- (EDIT) I've seen GHC breakages related to PIE on some distributions

Sources where I looked for GHC extensions (and found none):
http://hackage.haskell.org/package/gitrev-

[2016-10-26 14:20] Blaisorblade commented on #2023
Re the PIE-related breakage: Debian unstable/Ubuntu 16.10 enable `-fpie`, so GHC must pass `-fno-pie` to gcc/binutils. (I think https://groups.google.com/forum/#!topic/linux.debian.bugs.dist/e13FoJFKiAw is relevant, stack backported that patch to some GHC it ships).

I suspect you have a very new GHC with that fix and a very old GCC (reasonable for Debian stable) rejecting that option for some rea

[2016-10-26 14:35] gallais commented on #2023
I have been (re)compiling Agda a great many times during AIM XXIV (at least once where I had to compile all of the dependencies too) and the build only failed after I pulled the changes adding `gitrev` as a dependency.

I have `ghc-7.10.3-10` and `gcc-4:4.9.2-2` ([the one on debian stable](https://packages.debian.org/jessie/gcc)). Well, not have but had, because I've now installed `gcc-4:6.1.1-1`

[2016-10-26 16:47] andreasabel commented on #2249
The question here is whether `f_` should be assumed to be right-associative by default and related to itself.

[2016-10-26 16:49] andreasabel commented on #2270
I do not exactly what you are hinting at, but the more faithful Agda printing is to the user's choice of expression, the more efficient the interaction between Agda and the user will be (for the user ;-)).

SML-NJ is the enfant terrible: it desugars and prints to the user the desugared syntax for error messages.  Haskell tries to do a better job, but is not perfect either.

[2016-10-26 16:57] andreasabel commented on #2272
Given a separator like

[code]

You could mark and copy the most recent output via

[code]

(Assuming the cursor is in the beginning of the AgdaInfo buffer).
That would not be terribly complicated.

[2016-10-26 17:21] WolframKahl commented on #2270
I think there is a tricky design space here.

If a user chooses to write `f : A → (A → A)`, are you opposed to displaying the type of `f` as `A → A → A`?

If yes, then I consider that as moving the usual boundary between abstract and concrete syntax:
The usual abstract syntax grammar for function types has only one recursive production:

[code]

while the concrete syntax grammar also has

[code]

[2016-10-26 18:15] andreasabel commented on #2270
About comments, just discussed this with Ulf today.  If we want to offer refactoring tools, we need to parse comments properly (and store them in the tree).

Wrt. to parentheses, Agda is not optimally pruning them.  However, I think more or less parentheses in error messages are not that crucial than the other issues like sections, unsolicited unfolding of definitions etc.

[2016-10-27 21:15] asr opened #2284 "Disallow duplicate bound variable in lambda and pi"
Agda should complain about duplicate bounded variables in

[code]

(GHC correctly rejects that function).

[2016-10-28 06:39] andreasabel commented on #2284
See #359 for an entry point about shadowing discussions.

I think GHC's behavior is the right one.  It seems really stupid to abstract over `x` twice **in the same lambda**.

[2016-10-28 07:42] effectfully opened #2285 "Agda allows to define data types that lie in Setω."
[code]

No unsolved metas or constraints. `C-c C-d Big` gives `Setω`. Agda version 2.6.0.

[Found](https://www.reddit.com/r/agda/comments/59nn8b/preserving_in_free_containers/) by [dnkndnts](https://www.reddit.com/user/dnkndnts)

[2016-10-28 08:12] nad commented on #2270
Are you suggesting that we should have sections in abstract as well as internal syntax, or only in abstract syntax?

I agree that it's nice not to desugar too much before checking types, but on the other hand the type checker becomes more complicated if we add sections to the abstract syntax.

I certainly don't want to have sections in the internal syntax.

[2016-10-28 08:24] nad commented on #2285
The problem seems to go back to Agda 2.3.0.

[2016-10-28 09:37] identicalsnowflake commented on #2285
Come on, it's an _incomplete feature_ with a [compelling use case](https://identicalsnowflake.github.io/Voldemort.html) 🙂

[2016-10-28 17:58] nad commented on #2249
When it comes to parsing there is no difference between marking prefix (or postfix) operators `infix`, `infixl` or `infixr`, the associativity is ignored.

[2016-10-29 15:27] carlostome opened #2286 "Refining a hole with a non structurally smaller expr makes Agda loop"
[code]

If we try to input the expression in the hole, Agda will fall in a loop. I guess the problem lies in Agda not passing the termination checker to the expression in the hole before trying to actually typecheck the module.

Also this other issue might be related: #42

[2016-10-29 16:19] jespercockx commented on #2286
See also #118

[2016-10-30 06:06] asr commented on #2284
Thanks. Reading the examples in that issue (and the merged ones) was illustrative.

I edited the OP. Now, It only points out this situation.

[2016-10-30 07:09] andreasabel commented on #2270
[code]

The `ExprInfo` could be exchanged for a type `AppInfo` which also says how this application should be printed (prefix, mixfix w w/o sections).
The internal syntax could be extended with similar information.  Note that the internal syntax already carries information about what the user has written or what comes from the system, see `argInfoOrigin`.
This could also allow us to make some prog

[2016-10-30 07:42] andreasabel commented on #2285
[code]

We end up with

[code]

which is fine, but then the sort meta `_2` is solved by `Inf`.  This is also considered fine, and there are no further checks whether some type contains a subexpression `lsuc _2`.

[2016-10-30 20:42] andreasabel commented on #2286
When giving `add x x` and before solving any constraints, we should redo the termination check for `add`.  Working on this...

[2016-10-30 21:05] andreasabel commented on #2285
Unfortunately, this bug cannot be exploited to get Hurken's paradox through. :(

[2016-10-30 21:06] #2286 closed, assigned to andreasabel

[2016-10-31 11:40] #2269 closed, assigned to nobody

[2016-10-31 12:27] UlfNorell opened #2287 "Copattern splitting uses wrong hiding for implicit fields"
Example:
[code]

We should get

[code]

[2016-10-31 12:32] #2287 closed, assigned to UlfNorell

[2016-10-31 13:26] UlfNorell opened #2288 "Make it possible to leave out instance fields for copattern matches"
When writing instance for complex hierarchies you get a lot of code like

[code]

where `f` is a member function and `super₁` and `super₂` are super class projections (and `it` solves a goal using instance search). It would make things a lot nicer if you could leave out the super class clauses.

It should be quite possible to do this: at the point where the coverage checker figures out that there

[2016-10-31 19:47] andreasabel commented on #2285
Maybe the occurs check for

[code]

could mark `_2` as not instantiable by `Setw`.

[2016-10-31 21:06] identicalsnowflake commented on #2285
So I'm obviously asking for a very ignorant friend here, but why exactly is this bad?

[2016-11-01 07:17] andreasabel commented on #2285
One could think about extending Agda by a new predicative universe `Setw`, but certainly we do not want `Setw : Setw`, which we partially have now.

[2016-11-01 07:59] identicalsnowflake commented on #2285
Sure, but isn't this just an artefact of the current definition of level? As I understand (and I don't know much about this), all we really need in universe levels is a decidable total order with a zero, right?

Exactly what that should be is a matter beyond anything I care about, but getting something more flexible than SetW and N should be doable: I mean even `N x N` has an order, and (1,a) can

[2016-11-01 09:22] andreasabel commented on #2285
You cannot have both `((i : Level) -> Set i) : Set l` and `l : Level` at the same time without running into inconsistencies.  Thus, we need a second type of levels you cannot quantify over if we want to go to `Setw` and beyond.  At the moment, this second level type has a single inhabitant, `w`, and the rules are (meant to be) designed to implement this.

[2016-11-01 09:49] identicalsnowflake commented on #2285
And then this bumps the issue back one more step, right? Is it not possible to decide how many times this needs to be done by looking at the AST, and then say "wow, what luck! One more forall and you'd have broken the rules!" -- drawing the target around the arrow, so to speak?

To me this sounds very similar to `Rank2Types` and `RankNTypes`.

[2016-11-01 10:30] andreasabel commented on #2285
Indeed, and this is called "predicativity".  You cannot quantify over a totality (Levels) to define a member of that totality (a level).

[2016-11-01 11:54] jespercockx commented on #2288
Nice!

[2016-11-01 13:49] WolframKahl commented on #2285
On Tue, Nov 01, 2016 at 12:17:05AM -0700, Andreas Abel wrote:

Would it be perhaps less effort and more gain to have new impredicative universes `Set (Level.suc w)` etc., with `Setw : Set (Level.suc w)`?

Just speculating wildly...

[2016-11-01 14:08] WolframKahl commented on #2285
On Tue, Nov 01, 2016 at 02:22:09AM -0700, Andreas Abel wrote:

Would bounded Level quantification be an option?

E.g., `((i : Levels l) -> Set i) : Set l` with `l : Level`?

[2016-11-01 17:47] andreasabel commented on #2285
Having an empty type of levels `Levels lzero` can easily get us into paradoxes as well, so we might try

[code]

@identicalsnowflake Would that be sufficient for the Voldemort example?

[2016-11-01 17:53] WolframKahl commented on #2285
On Tue, Nov 01, 2016 at 10:47:42AM -0700, Andreas Abel wrote:

In comparison with `Levels<`, this `Level<=` also looses the ability to quantify over all levels that are less than a limit ordinal (e.g., ω).

[2016-11-01 18:25] andreasabel commented on #2285
Adapting a paradox of @Saizan from sized types to strictly bounded levels, here you go:

[code]

[2016-11-01 18:37] guillaumebrunerie commented on #2285
The problem is the fact that Agda would loop or is there an actual paradox (being able to prove false)? Because of course there can’t be such an `lpred` function given that `lpred lzero` would be a level smaller than zero.

[2016-11-01 19:39] identicalsnowflake commented on #2285
Mm I don't think that's strong enough. Even if you could adjust the type classes to use `<=`, the `Interpreter` data type appears at first glance more flexible than it actually is: the combinators are where you start to notice how little wiggle room you have.

Look at the definition of `_>>-_`, in particular the expression `i r`. If the interpreter `r` only worked on types in levels <= `l` for som

[2016-11-01 19:45] andreasabel commented on #2285
@guillaumebrunerie Agda looping is bad enough.  Since we normalize open terms, we need to terminate also for those that are built from lies such as `lpred`.

[2016-11-01 19:51] guillaumebrunerie commented on #2285
Thanks, interesting example.

[2016-11-02 07:49] UlfNorell commented on #2288
Not quite working yet. Looks like the context gets messed up

[code]

Debug output from instance search:

[code]

The type of `FunctorT` is not taking into account the `AltF` in the context.

[2016-11-02 11:10] #2288 closed, assigned to UlfNorell

[2016-11-02 14:50] andreasabel opened #2289 "Sort of record type should be inferable if unique"
[code]
For `record`, Agda is more strict and complains that
[code]

[2016-11-02 15:34] andreasabel opened #2290 "Spurious complaint about dependency of data sort on indices"
[code]
Agda complains nonsensically
[code]

[2016-11-02 16:11] andreasabel commented on #2290
This is a bit trickier to fix:

[code]

Complaint:

[code]

[2016-11-02 17:02] andreasabel commented on #2289
This issue has been discovered when working on #2285.

[2016-11-02 17:03] andreasabel commented on #2290
This issue has been discovered while working on #2285.

[2016-11-02 17:07] #2285 closed, assigned to andreasabel

[2016-11-02 17:07] #2289 closed, assigned to andreasabel

[2016-11-02 17:07] #2290 closed, assigned to andreasabel

[2016-11-02 17:21] andreasabel commented on #2271
It seems better that the helper-function does the minimal abstraction possible.  Concretely, only abstract over the things needed to type the with-arguments.  In terms of `splitTelForWith`, do not abstract over `delta2`.

[2016-11-02 18:31] Aerate opened #2291 "internal error at src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs:1172"
When calling the type of helper function (C-c C-h) and using an expression with an implicit argument (appearing by itself):
[code]
`{R} -> Foo.one R`

yields

[2016-11-02 21:50] andreasabel commented on #2291
Well, `{R} -> Foo.one R` is not valid syntax.  Can you tell what you put in the hole before hitting C-c C-h?

[2016-11-03 11:58] Aerate commented on #2291
The hole was empty as in the given example before hitting C-c C-h , I then entered the (invalid) expression where emacs-mode asks for it.
I understand this is invalid syntax (forgotten quantifier); I am still learning and was just trying things out, so unfortunately I can't provide more contextual information that might help. Still, I would have expected something like a parse error but instead go

[2016-11-03 14:50] andreasabel commented on #2291
Ah, ok, I get it now.

[code]

[2016-11-03 15:07] andreasabel commented on #2291
Simplified test case:

[code]

[2016-11-03 16:15] #2291 closed, assigned to andreasabel

[2016-11-03 16:16] andreasabel commented on #2291
Thanks for reporting.

[2016-11-03 16:42] andreasabel commented on #2211
Self-contained test case:

[code]

[2016-11-03 16:56] andreasabel opened #2292 "Internal error when debug printing tc.cover.top:10"
[code]

[2016-11-03 17:23] andreasabel commented on #2211
Something is going wrong here with pruning and the occurs-check.

[code]

Agda prunes correctly (because of 2))

[code]

and the occurs-check here crashes with an unrecoverable error (which is finally reported), because of `y` occurring in rhs `g x y`.

Analysis shows that the `z` argument (`neq` in OC) is `Unused` because `⊥-elim` does not use its arguments.  At least this is what the positivity

[2016-11-03 18:59] andreasabel commented on #2211
One terrible thing is that the `UnusedArg` information is not consistent, e.g. in the recursive call `tighten` in `tighten`, the `ArgInfo` is not set correctly.
I am aiming to treat`UnusedArg` as `Relevant` in the Miller unifier (currently it is sometimes identified with `Irrelevant`, but also sometimes not).

[2016-11-03 19:26] #2211 closed, assigned to andreasabel

[2016-11-03 19:26] #2292 closed, assigned to andreasabel

[2016-11-04 00:21] larrytheliquid opened #2293 "Closed Anonymous Modules"
I find the syntax for sections / anonymous modules (introduced in #735) to be unnatural.

Once you close a definition of a named module, there is no way to reopen it by adding more definitions with the old ones in scope. This is fine, and you end up getting a sensible duplicate name error if you try:

[code]

However, if you do the same thing with anonymous modules it almost feels like there is a

[2016-11-04 02:28] larrytheliquid commented on #2293
Also, here is a self-contained example of why we might want both open and closed sections. The example shows how we might define the partial `head` function using a `Maybe` return type in a non-dependent language, then shows how to define a similar function taking advantage of dependent types. The one we want in scope is the dependently typed version (so we use an open section via ellipses), but i

[2016-11-04 06:37] UlfNorell commented on #2293
I don't agree that using `...` instead of `_` for the module name would be more natural. Currently we use `...` in two places:
- with-clauses that repeat their parent patterns, and
- instance open (`open M {{...}}`)

In both cases the meaning is (sort of) "the obvious thing", which doesn't quite match the use as an anonymous module name.

Using `_` makes more sense to me, and I guess the only thin

[2016-11-04 08:35] andreasabel commented on #2293
The issue here seems that there should be a way to define throw-away modules just like there are throw-away declarations now (which I was not aware of until now).
Maybe throw-away declarations and modules should both not use a single underscore `_`.  Instead, they could use a double underscore `__`. That would be consistent. Re #1465.

[2016-11-04 14:06] gallais commented on #2293
`_` seems to be the usual token for "please throw the binding away" in patterns too (and by extension in `let`s):

[code]

`...` is not necessarily the appropriate name for section-like modules but I do like the idea of having `_` mean across the board that the corresponding bindings are thrown away.

[2016-11-04 14:52] jespercockx commented on #2059
I'm trying to fix this by making absurd matches not count as a UnusedArg (after all, they should be desugarable to an applications of ⊥-elim, so the argument is not actually unused). That fixes this issue, however it causes test/Succeed/NonvariantPolarity.agda to fail. In particular,

[code]

now causes the following error:

[code]

I'm not sure if this kind of 'irrelevance' in arguments of the em

[2016-11-04 15:59] andreasabel commented on #2293
Maybe `module _` for sections is ugly anyway (so is `module ...`) and we should add a keyword `section` instead.
Still this would not make `module _` available for throw-away modules for a while (because we need a deprecation phase).

[2016-11-04 16:02] andreasabel commented on #2059
I am fine with removing this test (or put it into Fail).

[2016-11-04 16:11] larrytheliquid commented on #2293
I was thinking this way `...` gets consistently used to add something while implicitly using the old version of something else:
- with-clauses that repeat their parent patterns
  - add new function clause, using old patterns
- instance record modules (`M {{...}}`)
  - add new instance-arg record, using old definitions
- automatically opened sections
  - add new section definitions, using old scope

[2016-11-04 17:01] andreasabel opened #2294 "Parser should allow stacking of layout keywords"
The parser rejects
[code]
However, this could be made to parse and would be a sensible extension.

[2016-11-04 17:29] UlfNorell commented on #2294
Would (could) you also allow

[code]

?

[2016-11-04 17:45] #2059 closed, assigned to andreasabel, jespercockx

[2016-11-04 17:58] UlfNorell commented on #2293
I could get behind a new `section` keyword. It looks nice and would let us keep `module _` for backwards compatibility.

[2016-11-04 18:04] andreasabel commented on #2294
Yes, that would make sense.

[2016-11-04 18:13] fredrikNordvallForsberg commented on #2293
How about `private section` instead of `section private`? And `section` on its own should mean the current automatically opened `module _` right?

[2016-11-04 18:17] guillaumebrunerie commented on #2294
We wanted to do that with Favonia a few years ago, but we gave up as we weren’t really sure what the rules should be, see #1145.

[2016-11-04 18:33] larrytheliquid commented on #2293
Yeah, I think that would make sense:

[code]

_edit_
Ah nevermind, it looks like there would be parsing ambiguity because currently this is allowed:

[code]

Although I'm not sure what it means, since I get a parse error when trying to add anything indented underneath?

_edit_
I see now, you have to indent really far when using that syntax:

[code]

Also, it doesn't actually make `Foo` private...

[2016-11-04 21:46] andreasabel commented on #1145
The proposed change would be:

  The token following the last layout keyword on a line determines the indentation level of the block.

For the three examples, I would say:
1. Accept.
2. Reject.
3. Reject.

[2016-11-04 21:48] andreasabel commented on #2294
Maybe we should continue the discussion at #1145 then.

[2016-11-04 21:56] guillaumebrunerie commented on #1145
Would that work for the third example of the OP?

[code]

Note that the layout keywords here are `private` and `where` (not `module`).

[2016-11-04 22:23] guillaumebrunerie commented on #1145
Maybe the string `private module` should be treated differently (i.e. in that case `private` should not be treated as a layout keyword).

[2016-11-05 07:31] UlfNorell commented on #1145
There might be some gnarly cases with let. For instance:

[code]

[2016-11-05 07:38] UlfNorell commented on #1145
This might work. There could be anti-layout keywords which cancels a preceding layout keyword.

[2016-11-05 10:38] andreasabel commented on #1145
What is the problem here?  The last layout keyword on the line is `where`.  Thus, `let` is not treated as layout keyword in this case.

My preferred rule would be that a layout keyword is only treated as such if it is followed by a line break (modulo whitespace of course).  This is very much non backwards compatible but implements the Pfenning principle: Renaming of identifiers should not affect t

[2016-11-05 13:53] UlfNorell commented on #1145
Some fiddling might be needed to make let parse in this case is what I meant, but I guess that goes for all the blocks.

`in` wouldn't be an anti-layout keyword I think since they should only cancel an immediately preceding layout keyword. All the normal layout keywords would also be anti-layout keywords I believe, to let you write

[code]

[2016-11-05 16:38] identicalsnowflake opened #2295 "Partial type-in-type"
`Play/TINT.agda`:
[code]

`Play/Boom.agda`:
[code]

Trying to compile `Boom` yields the error `Set₁ != Set when checking that the expression c has type Container .Agda.Primitive.lzero`, but if you C-c C-d, you can clearly see that the expression `c` *does* have type `Container .Agda.Primitive.lzero`.

[2016-11-05 18:02] andreasabel commented on #2172
How to make an instance argument solved by unification instead:

[code]

[2016-11-06 18:41] andreasabel commented on #2295
With `--type-in-type`, `Set` has sort `Set`, but without it, `Set` has sort `Set1`.  I suspect this is the reason for the error.

What do you expect if you mix `--type-in-type` modules with predicative ones?  What job should `--type-in-type` do on sort annotations to allow uses without `--type-in-type`?  Note that with `--type-in-type`, all sorts are equal, so you can (by specification) only expec

[2016-11-06 18:52] andreasabel commented on #2293
If #1145 was fixed then both

[code]

would parse.  The first alternative does already the right thing!?  Except maybe that you can do

[code]

I.e. the scope of private does not extend into submodules.
Is the main concern in this issue that

[code]

does not parse?

[2016-11-06 19:23] larrytheliquid commented on #2293
Good catch about the `private module _` causing submodules to still get into scope because the anonymous module is opened using `public`.

[code]

In that case, yes I think having the `module _ where private` version parse would be what I'd like.

[2016-11-07 06:23] identicalsnowflake commented on #2295
I'm only just now experimenting with type-in-type (because of this interpreter thing), so it's possible I'm simply not understanding it right and it's not what I need. I was hoping rather than actually have truly 1 inconsistent universe, that it would still have all the universes and just let me put stuff in them as I please: in this case, putting the interpreter in the same universe as the `t` pa

[2016-11-07 09:22] jespercockx commented on #2295
You may find this interesting: http://www.cs.bham.ac.uk/~mhe/impredicativity-via-rewriting/resize.html#1

[2016-11-07 09:37] identicalsnowflake commented on #2295
@jespercockx yes, that looks like it might be what I need! I've never used `REWRITE` before. That `resize` should just change the type, right? And not affect the reduction behavior of the actual term?

[2016-11-07 09:50] jespercockx commented on #2295
Yes, the resize-id rewrite rule says exactly that `resize {i} {j} X` is definitionally equal to `X`, so in particular it doesn't change anything to the terms of type `X`.

[2016-11-07 10:00] identicalsnowflake commented on #2295
Excellent.

This issue can be closed, although I still think that `when checking that the expression c has type Container .Agda.Primitive.lzero` is confusing since `c` does have that type.

EDIT: Never mind, this won't work. TypeInType is absolutely required since my interpreter lives in Setw, so `rewrite` won't work.

[2016-11-07 12:16] nad commented on #2174
I get bitten by this bug (or something similar) quite a lot: When I try to give something in a hole I sometimes get weird error messages, because Agda has messed up the assignment of goal numbers to holes.

[2016-11-07 13:16] nad opened #2296 "Internal error due to lost constraint dependency"
The following code triggers an internal error (`src/full/Agda/TypeChecking/Records.hs:528`):
[code]

[2016-11-07 16:13] nad opened #2297 "Problem related to parameter refinement and with"
The following code is rejected by `2.6.0-99eb1a3`, but I think it should be accepted:
[code]
If I infer the type of `x` in the final right-hand side I get `D`, and the goal type is also `D`. However, Agda complains:
[code]

[2016-11-07 22:03] identicalsnowflake commented on #2295
Ok, after fighting with this some more, as far as I can see I am between a rock and a hard place:

`TypeInType` goes too far: I don't want to destroy the universe hierarchy, I simply want to say "TrustMe this data type can live in `Set ℓ`."

`REWRITE` gives this functionality, but it gives it too late: I can only use it after I've declared my data type, and since it lives in `Setw`, it's rejected

[2016-11-08 15:34] guillaumebrunerie commented on #2174
Same here.
Here is an interesting variant:

Load (`C-c C-l`) a file containing the line `B = ?`, then add the line `A = ?` before (but do not reload the file). Then do `C-c C-t` in the goal for `B`: the two goals get exchanged.

[2016-11-08 17:41] guillaumebrunerie commented on #1145
I like Andreas’ suggestion:

That means that the following code would not be allowed anymore, but do people write code like that?

[code]

It seems a bit ugly to me, I would rather write either

[code]

or

[code]

[2016-11-08 20:54] andreasabel commented on #1145
People write maybe more often

[code]

The problem is how we could possibly launch such a drastic syntax change.

[2016-11-08 21:08] UlfNorell commented on #1145
Or

[code]

[2016-11-09 07:38] andreasabel opened #2298 "let-patterns for single-constructor data types"
From Martin Stone Davis:
Should (or can) 'let' be allowed to pattern-match on single-constructor datatypes? As it is now, trying to use 'let' for a data constructor gives an error, "Expected record pattern". (See example below.)
[code]

[2016-11-09 07:40] andreasabel commented on #2298
A caveat: This will only work for data **types**, not inductive families in general, since we cannot do unification in a let-construct.

[2016-11-09 07:47] andreasabel commented on #2298
The current implementation translates

[code]

into

[code]

Since there are no projections available for the datatype version, this translation cannot simply be extended.
Why not simply use an extended lambda?

[code]

for a definition of `case_of_` as found in the standard library?

[2016-11-09 08:08] andreasabel commented on #1145
I think with `let`, it would be awkward to forbid

[code]

In general, I think `let-in` is ill-designed language construct in all of ML, Haskell, Agda.  I would prefer

[code]

similar to what Haskell's `do` notation allows, or even

[code]

or, on a single line

[code]

[2016-11-09 08:15] UlfNorell commented on #1145
I think this looks awkward:

[code]

Introducing mandatory `;`s would be a step backwards, and I'm not sure how you would make the first two suggestions parse without a layout block.

[2016-11-09 08:41] m0davis commented on #2298
@andreasabel It's mostly for layout reasons. I like to be able to say:

[code]

With the extended lambda, I have to either indent (as in your example) or add a curly-brace:

[code]

So, I guess my underlying problem would be solved if the layout of extended lambdas was more lenient, so I could say:

[code]

Or (and I'm just dreaming here) if Agda recognized the following as an extended lambda:

[c

[2016-11-09 14:41] jespercockx opened #2299 "Rewrite rules shouldn't try to match against _⊔_"
Currently, rewriting and levels don't play very well together:
[code]
The problem is that the `rew` rewrite rule is only triggered when the first argument of `moomoo` is literally of the form `a ⊔ b`, ignoring the fact that a plain level `a` is also definitionally equal to `a ⊔ a`.

[2016-11-09 15:00] jespercockx opened #2300 "Rewrite rules for functions with irrelevant arguments is broken"
The following doesn't work:
[code]
This is clearly insane. More generally, I'd expect the following to work as well, since irrelevant arguments should be, well, irrelevant:
[code]

[2016-11-09 16:14] jespercockx commented on #2300
D'oh, I forgot to add the `{-# REWRITE rew #-}`, so the first example is invalid. Still, I think the second example should work as well.

[2016-11-10 10:44] jespercockx commented on #2277
I agree this is a real problem, I often find myself normalizing terms when using rewrite rules because the simplification didn't trigger them. To fix this, I think the best approach would be to change when rewrite rules are applied: right now they are applied in `reduce`, but maybe a better position would be in `unfoldDefinition` or one of its variants. Since `unfoldDefinition` is called by both `

[2016-11-10 10:48] #2299 closed, assigned to jespercockx

[2016-11-10 10:51] jespercockx commented on #2299
I fixed this, but the fix may break some existing rewrite rules. In fact, these rewrite rules were already broken since they didn't take into account the additional equalities we have for levels. Feel free to give suggestions if you have a better idea to deal with the interaction between rewriting and levels.

[2016-11-10 15:25] jespercockx commented on #2300
Hm, my fix broke something else. The following used to work:

[code]

It would be nice to have some way to bind irrelevant arguments without actually requiring them to be equal.

[2016-11-11 10:41] stedolan opened #2301 "Irrelevance annotations discarded"
Agda (both stable-2.5 and current master) typechecks the following:

[code]

Since the first argument to `wrap` is not actually irrelevant, this lets us write a function that discards irrelevance annotations:

[code]

or proves things we shouldn't:

[code]

(This is a simplified version of some strangeness that came up during a talk at [SPLS](https://msp-strath.github.io/spls-16/), when an audienc

[2016-11-11 11:38] gallais commented on #2268
Looking into it because I'm not happy either about the way pragmas are highlighted / the lack of highlighting for multi-line comments my previous fix entails. One solution could be to use 3-characters long tokens to detect comments. It's not possible using emacs' syntax table but it looks like it [could be done programmatically](http://emacs.stackexchange.com/a/13300/11893).

[2016-11-11 14:46] fredrikNordvallForsberg commented on #2301
Hello from the audience member: this only seems to work because wrap is a constructor; the following is not allowed, as expected:

[code]

Similarly `weird x = wrap x` is not accepted.

[2016-11-11 14:49] #2268 closed, assigned to gallais

[2016-11-11 15:28] andreasabel commented on #2301
This bug goes back to at least 2.3.2.
`compareTel` does not take `Relevance` into account properly (and never did, I think).

[2016-11-11 16:49] #2301 closed, assigned to andreasabel

[2016-11-11 17:00] andreasabel commented on #2297
Agda infers that `x` has type `D[y/r]`, but it here something of type `D[r/r]` is required.
Internally `x = c y` because it should be a dot-pattern, but the type of `x` seems messed up.

[2016-11-12 16:22] #1343 closed, assigned to nobody

[2016-11-14 11:45] jespercockx opened #2302 "Rewriting fails too eagerly in presence of unsolved metas"
[code]

Fails with error:
[code]
Should succeed.

[2016-11-14 12:05] UlfNorell commented on #2296
The problem turns out to be that we lose some constraint dependencies when readding constraints after failed solution attempts. That means that failing to solve a blocking constraint can incorrectly unblock other constraints.

Using instances is a good way of hitting the problem since instance search tries a lot of things that aren't type correct, and you only get into trouble when the blocking co

[2016-11-14 12:23] UlfNorell commented on #2297
There's also something funning going on with `x` showing up twice in the context. One occurrence is the dot pattern variable from before the `with`, which isn't actually in scope.

[2016-11-14 14:00] UlfNorell commented on #2297
Test case now passes, but there's still the issue of the two `x`s.

[2016-11-14 14:03] #2302 closed, assigned to jespercockx

[2016-11-15 08:23] UlfNorell commented on #2297
That seems to be a general problem with `@`-patterns and `with`. I'm opening a separate issue.

[2016-11-15 08:23] #2297 closed, assigned to nobody

[2016-11-15 08:28] UlfNorell opened #2303 "@-patterns from parent clause leaking into with-clause"
[code]
`C-c C-,` in the hole yields
[code]
The scope checker at least knows its stuff, so `x` isn't actually in scope in the hole.

Issue discovered when debugging #2297 and also applies to instantiated pattern variables, which are implemented as `@`-patterns.

[2016-11-15 17:27] gallais opened #2304 "Support for multi-line string literals in the LaTeX backend"
Using a multi-line string literal leads to a broken TeX file. Here is an example:

[code]

leads to (focusing on the important part):

[code]

I guess a possible fix would be to close `\AgdaString` before a newline, reopen it afterwards and repeating the process until a non-escaped quotation mark is found?

[2016-11-16 00:29] gallais commented on #2225
I looked into it some more. From my (extremely limited) understanding, the problem is that some XITS styles (is that the proper term?) may not be available and xelatex defaults to the basic font (cmss10).

Seeing that ℕ was typeset properly in running text and omitted in Agda code, I tried to get the running text's style used for Agda code. Basically more or less what you were doing already with `

[2016-11-16 00:43] gallais commented on #2225
It'd be nicer to have a sans serif font for the code but unless there's been some new developments since last year, it looks like [that's not really a thing](http://tex.stackexchange.com/questions/224144/is-there-any-sans-serif-font-that-fully-supports-unicode-math).

[2016-11-16 11:14] #2303 closed, assigned to UlfNorell

[2016-11-16 12:06] UlfNorell commented on #1693
Seems to me there's nothing more to be done here. Reopen if you disagree.

[2016-11-16 12:06] #1693 closed, assigned to nobody

[2016-11-16 16:43] jespercockx commented on #2277
I improved the integration of rewriting with the rest of the reduction machinery, see https://github.com/agda/agda/commit/e8f61164cb515263d400df4a2bdfa18ab16e876d. This means rewrite rules are now also considered as simplifications, so this issue is fixed.

I also took the opportunity to integrate rewrite rules into @UlfNorell 's fastReduce (I hope he doesn't mind). This should improve the perform

[2016-11-16 16:43] #2277 closed, assigned to jespercockx

[2016-11-18 12:01] #2074 closed, assigned to jespercockx

[2016-11-18 12:02] jespercockx commented on #2074
Since there are no more reactions on this issue, I went ahead and pushed my proposed (and very simple) fix. Please let me know if this causes any trouble.

[2016-11-18 12:04] jespercockx commented on #2056
New error message after the fix of #2074:

[code]

[2016-11-18 12:08] andreasabel commented on #2174
Seems correct if C-c C-t is for "transpose goals" :D.
Actually, I think your problem @guillaumebrunerie is unrelated, it exists already in 2.5.1.1.  This should be a new issue.  It is more a problem of the emacs mode, which does not get told by Agda where the goals are, but finds them by grepping through the buffer.  If you added new question marks, the emacs mode will think these were part of the

[2016-11-18 13:23] guillaumebrunerie opened #2306 "Commands in the emacs-mode get confused if we add question marks to the file"
Originally reported in issue #2174.

Load (C-c C-l) a file containing the line B = ?, then add the line A = ? before (but do not reload the file). Then do C-c C-t in the goal for B: the two goals get exchanged.

[2016-11-18 14:43] andreasabel commented on #2174
@nad I had another try on this, recovering the TCState after a failed command.  Please check if things work to your satisfaction now.  (And possibly reopen this issue.)

[2016-11-18 14:53] #2174 closed, assigned to andreasabel

[2016-11-18 16:11] andreasabel commented on #2306
[code]

[2016-11-18 16:16] andreasabel commented on #1605
Maybe something can be done about this issue after fix of #2297 and #2303? @UlfNorell @jespercockx

[2016-11-18 16:25] andreasabel commented on #1932
Indeed, this fails likewise for constructor patterns.

[code]

[2016-11-18 17:27] andreasabel opened #2307 "Agda does not remember the user's choice of record expression vs. constructor"
[code]

[2016-11-19 15:16] andreasabel opened #2308 "Record pattern translation fails in mutual block?"
This checks in Agda-2.5.1.1 but not in current stable-2.5:
[code]

[2016-11-19 15:20] andreasabel commented on #2308
Reduced case:

[code]

[2016-11-19 18:54] andreasabel commented on #2308
Likely cause: https://github.com/agda/agda/commit/bb4e5b79e59a0cc24cfb723ef808214695f6c8cd to fix #2197. This also introduced #2209.
Eta-equality for records is only turned on after positivity checking which happens after the mutual block.  But the record pattern translation happens directly after the body of G is type-checked, thus, inside the mutual block.

[2016-11-19 19:12] andreasabel opened #2309 "No-eta-equality is ignored in definitions by copattern"
While debugging #2308, I found that the matcher for the non-compiled patterns treats all records up to eta.
[code]

[2016-11-19 20:45] #2309 closed, assigned to andreasabel

[2016-11-20 17:43] andreasabel commented on #2304
Please add the above test case to the test suite (test/LaTeXandHTML).

[2016-11-20 17:47] #2308 closed, assigned to andreasabel

[2016-11-21 10:13] #2304 closed, assigned to gallais

[2016-11-22 05:56] UlfNorell opened #2311 "Release Agda 2.5.1.2"
The commit abcde44 fixes compilation with `ghc-8.0.2`. We should cherry-pick this to `release-2.5.1` and release 2.5.1.2.

[2016-11-22 06:02] ilovezfs commented on #2311
Yes please. Also the constraint on alex needs to be bumped.

[2016-11-22 07:58] UlfNorell commented on #2311
Are you referring to this commit: 5f98517?

[2016-11-22 08:02] ilovezfs commented on #2311
Yup. Otherwise (without additional interventions), we get
[code]

[2016-11-22 08:43] UlfNorell commented on #2311
Cherry-picked abcde44 and 5f98517. Waiting for [Travis](https://travis-ci.org/agda/agda/builds/177901354).

[2016-11-22 08:50] UlfNorell opened #2312 "Change read-only behaviour of goals in emacs buffer"
See PR #1917 for some discussion.

Problem raised in the PR: read-only interacts badly with custom editing commands like those introduced by evil mode.

My preferred solution: don't make parts of the buffer read only.

[2016-11-22 09:11] #1278 closed, assigned to asr

[2016-11-22 09:41] UlfNorell commented on #2083
Fixed?

[2016-11-22 09:45] gallais commented on #2311
Shouldn't we be blocking on #2225? The current `agda.sty` leads to building pdfs with a lot of missing characters. Which also begs the question: should travis grep for missing characters when checking that TeX files produced by the backend build correctly?

[2016-11-22 09:53] UlfNorell commented on #2311
This is a critical bug fix release on top of 2.5.1.1. It doesn't contain anything from current stable other than the two patches I mentioned above. Are you saying LaTeX generation is broken on 2.5.1.1?

[2016-11-22 09:59] ilovezfs commented on #2311
https://gist.github.com/ilovezfs/2df4fc2d2d4cc4c33252397314fd501a

[2016-11-22 10:01] ilovezfs commented on #2311
That is with GHC 8.0.1.20161114, which is nearly the same as 8.0.2, so LGTM.

[2016-11-22 10:12] gallais commented on #2311
The generated LaTeX itself is fine but the `agda.sty` interacts badly with recent versions of texlive which means the pdf generated by xelatex is missing a lot of unicode characters (λ, ℕ, and ℤ for instance). At least that's my current understanding of the issue.

[2016-11-22 10:31] ilovezfs commented on #2311
@gallais did https://github.com/agda/agda/issues/2225#issuecomment-260815312 turn out to make it work as expected?

[2016-11-22 10:39] gallais commented on #2311
It works for me (haven't tested it with lualatex) except that the code is now using a serif font which is arguably ugly. Ideally we would probably want a sans serif by default and a fallback (e.g. XITS) for unicode symbols.

[2016-11-22 10:45] UlfNorell commented on #2311
I'd rather hold off on #2225 since it sounds like there are still some questions about how to fix it. If you have a commit that you are certain isn't breaking anything I'd be happy to throw it in there.

[2016-11-22 12:47] nad commented on #2296
Your fix broke the following code:
[code]

[2016-11-22 12:54] UlfNorell commented on #2296
Do you have compelling reasons why this code *should* work? Certainly there will be examples that worked before simply because we were ignoring some constraint dependencies.

[2016-11-22 13:58] nad commented on #2296
If you inline the module `M`, then the code is accepted.

The code is also accepted if you replace
[code]
with the following code:
[code]

[2016-11-22 13:58] asr commented on #2121
Thanks! The commits fixing this issue should be released with 2.5.1.2. I'll  cherry-pick them into release-2.5.1.

[2016-11-22 14:01] UlfNorell commented on #2296
Fair enough. I'll have a look.

[2016-11-22 14:02] UlfNorell commented on #2121
Might be some tricky merging, but that sounds like a good idea. Do we need to do anything to get stackage nightly to pick us up again?

[2016-11-22 14:05] nad opened #2313 "As patterns in with clauses"
Using as-patterns in with clauses does not seem to work. Example:
[code]
Error message:
[code]
Removing `x@` from the parent clause does not help.

[2016-11-22 14:06] asr commented on #2121
The only option is to make the release because Stackage only picks up packages for Hackage.

[2016-11-22 14:09] asr commented on #2121
I'll close the issue after merging.

[2016-11-22 15:19] asr opened #2314 "Travis should use latest versions of alex and happy"
Travis is using Alex 3.1.7 right now. Blocked by https://github.com/hvr/multi-ghc-travis/issues/59.

[2016-11-22 15:37] asr commented on #2083
No. Running `make internal-tests` *after* `make install-bin`, I see

[code]

but the output in Travis is

[code]

I don't know why Travis is compiling again these files. Could someone tell me what do you see?

[2016-11-22 16:33] asr opened #2315 "Travis: Missing cpphs"
The dependency on haskell-src-exts was removed, so it is necessary to install cpphs.

[2016-11-22 16:45] asr commented on #2315
Cabal should install the tools listed in `build-tools`. This issue is WIP by the Cabal team (see https://github.com/haskell/cabal/issues/3708).

[2016-11-22 16:54] gallais commented on #2225
Alternatively we can set a Sans font which has more unicode characters!

[code]

[2016-11-22 17:30] asr commented on #2225
+1.

I have had very few problems using DejaVuSansMono.ttf. In fact, this is the font I chose for the version of PDF + XeLaTeX of the documentation:

[code]

using

[code]

[2016-11-23 02:43] asr opened #2316 "Travis doesn't find Alex"
The test `ghc-7.8.4-transformers-0.3.0.0` cannot find Alex (see https://travis-ci.org/agda/agda/jobs/178064699).

[2016-11-23 02:46] asr commented on #2315
cpphs is missing on the `ghc-7.8.4-transformers-0.3.0.0` test.

[2016-11-23 11:30] phile314 opened #2317 "Temporary test files are not always cleaned up"
Sometimes, the compiler tests leave temporary files behind which should have been cleaned up. This seems to happen when aborting the test run with CTRL-C.

The problem could be that the test runner launches Agda sub processes which are not killed when the test driver itself is killed. Agda then may (re-)create the temporary output directories, which are no longer cleaned up as the test runner itse

[2016-11-23 14:02] andreasabel commented on #142
See `With.hs`, do something in `stripWithClausePatterns` in case `I.DotP / A.DotP`:
[code]
similar to the `tell [ A.NamedDot ...`.

[2016-11-23 19:05] asr commented on #2315
Fixed on stable-2.5 and master. It is necessary to cherry-pick into release-2.5.1.

[2016-11-23 19:06] asr commented on #2316
Fixed on stable-2.5 and master. It is necessary to cherry-pick into release-2.5.1.

[2016-11-24 12:33] asr commented on #2311
Various issues were fixed and new features were added in the current stable-2.5 (see [release notes](https://github.com/agda/agda/blob/master/doc/release-notes/2-5-2.md) for 2.5.2).

On the other hand, there are six open [regressions](https://github.com/agda/agda/issues?q=is%3Aopen+is%3Aissue+label%3Aregression). Why not try to fix these regressions and make a full release supporting GHC 8.0.2?

[2016-11-24 12:45] ilovezfs commented on #2311
@asr they're not mutually exclusive. This should ship as-is IMO.

[2016-11-24 12:57] asr commented on #2311
Right, but keep in mind the time needed for making a release. In addition, for releasing 2.5.1.2 we need to merge the fix to #2121. Otherwise Agda 2.5.1.2 would not be part of Stackage.

[2016-11-24 13:13] ilovezfs commented on #2311
from brew perspective a simple github tag will do the trick, but I hear you.

[2016-11-24 15:07] UlfNorell commented on #2311
If merging #2121 is too much work, wouldn't it be better to release a non-stackage 2.5.1.2 than not releasing at all?

The work on the 2.5.2 release is progressing, but the time frame for that is "before the holidays", and it'd be nice if we could get 2.5.1.2 out quicker.

[2016-11-24 15:36] asr commented on #2311
In any case, we need to wait the release of GHC 8.0.2...

[2016-11-24 15:38] ilovezfs commented on #2311
8.0.2-rc1 bindist is _already_ out, and agda is dead in the water without these patches.

[2016-11-24 15:47] asr commented on #2311
Really? I haven't seen any announce. I just asked Ben Gamari about it. I know there is [tarball](https://github.com/ghc/ghc/releases), though.

[2016-11-24 17:07] UlfNorell commented on #2311
The 2.5.2 release should wait for ghc-8.0.2 (unless it gets pushed back a lot), but 2.5.1.2 should go out asap.

[2016-11-24 17:41] asr commented on #2311
Really? You want to release 2.5.1.2 because there is a commit fixing the compilation with GHC 8.0.2, but you don't see to necessary to wait the release of GHC 8.0.2 for realising 2.5.1.2. I don't follow you.

[2016-11-24 18:07] UlfNorell commented on #2311
8.0.2 fixes a bug which let completely incorrect type signatures through the type checker. Some of those signatures we had in Agda. It makes sense to push out a release with those types fixed as soon as possible. Without the #2121 fix it's just two patches so making release isn't much work. I'll do it if you feel you don't have the time.

[2016-11-24 18:18] asr commented on #2311
Which 8.0.2? This is my point.

[2016-11-24 18:23] UlfNorell commented on #2311
What do you mean? Are you worried that there will be last minute changes to 8.0.2 that breaks compilation in a different way?

[2016-11-24 18:39] asr commented on #2311
Yes, but I wouldn't talk of "last minute changes". How many release candidates for 8.0.2 there will be? *Nobody* knows. Has the GHC Team enough feedback from 8.0.2 RC1? No, because this RC *hasn't* announced. (Ben Gamari told me the announce of 8.0.2 RC1 will be in a week or so).

[2016-11-24 18:47] asr commented on #2311
N.B. I'm not talking about 8.0.2 but 8.0.2 RC1.

[2016-11-24 19:15] UlfNorell commented on #2311
8.0.2 is a bug fix release. They don't usually break things. Anyway, I don't see the problem with having more releases of Agda. We've spent more time talking in this thread than it would take to finish up the release notes and push 2.5.1.2 to Hackage.

[2016-11-24 19:35] asr commented on #2311
I disagree in making a release without testing 8.0.2 (and without supporting Stackage). I guess you will make the release anyway, so please remember:

* Test the release in Windows, Mac OS and Linux
* Keep in mind Travis is not testing 8.0.2 RC1

Right because we haven't anything to add in the release notes :-)

[2016-11-24 20:42] asr commented on #1310
We know the problem: Travis runs out of memory.

[2016-11-24 20:42] #1310 closed, assigned to nobody

[2016-11-24 20:50] asr commented on #688
Please reopen if necessary.

[2016-11-24 20:50] #688 closed, assigned to nobody

[2016-11-24 23:07] asr commented on #2315
2.5.1.2 won't support Stackage, so merging it's not necessary.

[2016-11-24 23:07] #2315 closed, assigned to asr

[2016-11-24 23:08] asr commented on #2316
2.5.1.2 won't support Stackage, so merging it's not necessary.

[2016-11-24 23:08] #2316 closed, assigned to asr

[2016-11-24 23:09] asr commented on #2121
2.5.1.2 won't support Stackage, so merging it's not necessary.

[2016-11-24 23:09] #2121 closed, assigned to asr

[2016-11-25 08:39] UlfNorell commented on #2311
Released

[2016-11-25 08:39] #2311 closed, assigned to nobody

[2016-11-25 12:06] asr commented on #2311
I'm updating the wiki...

[2016-11-25 12:18] asr commented on #2311
I couldn't find a tarball for 2.5.1.2 in the [releases](https://github.com/agda/agda/releases) list.

[2016-11-25 12:21] asr commented on #2311
@UlfNorell did you tag the release? Did you forget to push the tag?

[2016-11-25 12:21] UlfNorell commented on #2311
Forgot to push the tag. Fixed now.

[2016-11-25 12:30] asr commented on #2311
Done.

[2016-11-25 15:04] andreasabel commented on #2298
I think a way to implement this feature is to translate
[code]
to `(\{ c ps -> t'}) t` during type checking.  However, there might be issues with type checking of that extended lambda.  Its type cannot always be inferred.

[2016-11-25 16:29] asr opened #2318 "The `Makefile` should use the version of `fix-agda-whitespace` in the repository"
Currently, the `Makefile` use the version installed in the path.

[2016-11-25 18:52] m0davis commented on #2298
How about allowing syntax definitions for extended lambdas? The idea is to stuff the call to case_of_ in some user-defined syntax, which would get around the type checking issue.

[2016-11-26 05:10] ilovezfs commented on #2311
@UlfNorell thanks. Upgrade now shipped on Homebrew: https://github.com/Homebrew/homebrew-core/pull/7233

[2016-11-26 11:39] andreasabel commented on #2298
Can you elaborate?  What would be your proposal?

[2016-11-27 03:50] m0davis commented on #2298
I'm imagining Agda being able to grok this:
[code]

[2016-11-27 13:56] asr opened #2319 "Support GHC 8.0.2"
GHC 8.0.2 RC1 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2016-November/013273.html). I created this issue for keeping track of the changes required for supporting GHC 8.0.2.

[2016-11-27 15:30] atzedijkstra commented on #1857
I have added to UHC (github head) support for the given failing test case, see comments at uhc github

[2016-11-27 21:17] asr commented on #1857
@atzedijkstra, I confirm this is working on UHC master:

[code]

Could you release UHC 1.1.9.5, please.

[2016-11-27 23:14] asr commented on #1992
The build is working now. Please reopen the issue if necessary.

[2016-11-28 11:21] UlfNorell commented on #2226
What changed in 888f616 is that the type checker always returns the normalised projection when inferring a head application of a projection (`projDropParsApply` no longer takes the name of the projection). In most cases this is fine since they only differ in parameters and those aren't
stored anyway. It breaks down for instance modules (`open M {{...}}`) however, since there the hiding of the prin

[2016-11-28 12:38] UlfNorell commented on #1992
It failed again for me (https://travis-ci.org/agda/agda/jobs/179387692). What did you do to fix it?

[2016-11-28 13:40] #2313 closed, assigned to UlfNorell

[2016-11-28 14:11] #2143 closed, assigned to UlfNorell

[2016-11-28 14:20] asr commented on #1992
Nothing. I did some tests on the weekend and it worked. I reverted the changes.

[2016-11-28 14:20] UlfNorell commented on #1992
I guess you didn't mean to close the issue with the revert :P

[2016-11-28 14:21] UlfNorell commented on #1992
Github should really have ignored everything inside Revert "..." when looking for closing tags.

[2016-11-28 15:41] UlfNorell commented on #2087
The problem here is that we don't have syntax for "case-split after rewrite". Patterns and rewrites are all in a single clause and the type checker interprets that as "split first, then rewrite". The naive fix to this issue, i.e. keeping the rewrite, would generate bad left-hand sides in the cases where the rewrite really needs to happen first. Translating (albeit imperfectly) to a `with` can make

[2016-11-28 15:46] UlfNorell commented on #2020
@andreasabel: Your example still works for me. Reopen as required.

[2016-11-28 15:46] #2020 closed, assigned to UlfNorell

[2016-11-28 21:08] andreasabel commented on #2020
Indeed, works now! Thx.

[2016-11-28 21:18] identicalsnowflake commented on #2226
@UlfNorell Awesome! I'm so glad to hear this, since this is an important issue for me. I'm definitely not using the reflection APIs to cross-compile code (because that would be ridiculous), but if I were, I'd say that solving this issue would be an *amazing* productivity boost.

[2016-11-29 08:41] UlfNorell commented on #2012
As far as I can tell accepting the code without the mutual block is correct.

Without the mutual block we know that `D` is `NonVariant` in its argument when type checking the type of `P`, so the `i` in the `D i` index of `P` is annotated with relevance `UnusedArg`. This lets the polarity checker discard the dependency on `i` when checking polarities of `P` allowing a `NonVariant` polarity for `i`.

[2016-11-29 13:06] nad opened #2320 "Instance arguments are not available as instances in record modules"
The following code is rejected:
[code]
Error message:
[code]
I discussed this with @UlfNorell, and he thought that `r₁` should be available as an instance in `R₂`'s record module. Note that this instance is available in fields:
[code]
However, a simple transformation breaks the code:
[code]

[2016-11-29 13:38] nad opened #2321 "An accepted definition is rejected if it is made private"
The following code is rejected by Agda-2.6.0-a3ab0a8, but accepted by Agda 2.5.1.1:
[code]
Note that the only difference between `accepted` and `rejected` is that the latter is private.

[2016-11-29 14:13] nad opened #2322 "Regression related to coinduction"
The following code is rejected by Agda-2.6.0-a3ab0a8, but accepted by Agda 2.5.1.1:
[code]

Bisection suggests that this regression was introduced by @UlfNorell in 943e9bee0a1fc58575b8e292e28d03c0ba98bbc8 ("[ refine param ] allow module parameters to be refined by pattern matching").

[2016-11-29 21:45] nad commented on #2321
Bisection suggests that the problem was introduced by @andreasabel in 5e3830a25f17cc44c56874a16208b179a05d64a2 ("Re #2231 in abstract blocks make #-generated functions abstract").

[2016-11-30 07:58] UlfNorell commented on #2320
The problem is that we haven't yet decided that it's safe to turn on eta equality for the record type when checking the record module, so there's no eta expansion available to reveal the `r₁` field. It checks if you add `eta-equality` explicitly:

[code]

The `let` version works because the types of fields are checked with previous fields explicitly in the context (rather than an element of the re

[2016-11-30 08:30] UlfNorell commented on #2320
This is kind of a special case though. It does make sense to eta expand `self` (once) when inside the record module, regardless of whether the record type supports eta or not.

[2016-11-30 08:38] #2320 closed, assigned to UlfNorell

[2016-11-30 10:59] andreasabel commented on #2321
Bisection was right.

[2016-11-30 11:07] #2321 closed, assigned to UlfNorell, andreasabel

[2016-11-30 11:16] xekoukou opened #2323 "filterN fn from BrutalDepTypes Tutorials fails the termination check."
http://oxij.org/note/BrutalDepTypes/
agda 2.5.1

[code]

[2016-11-30 12:45] m0davis commented on #2323
Evidently, the termination checker needs to see the reduction on the lhs of the `with`. This code passes:
[code]

[2016-12-01 14:48] nad opened #2324 "Make with more general again?"
Agda rejects the following code:
[code]
Error message:
[code]

There are two issues here:
* `Type-of a` is not a variable, so the error message is misleading.
* Shouldn't it be possible to drop this restriction now that we have parameter refinement? (The code is accepted by Agda 2.4.2. I seem to recall that this restriction was introduced by @andreasabel.)

[2016-12-01 16:38] nad commented on #2296
Here is another example that was broken by your fix:
[code]
The code is accepted if the module `M` is inlined, or if
[code]
is replaced by the following code:
[code]

[2016-12-01 16:52] nad commented on #2296
The following code was broken by your fix:
[code]
However, I don't know if this example ought to work or not.

[2016-12-01 19:47] andreasabel commented on #2324
Once we print also non-identity parameter substitutions, we can lift the restriction.
I cannot find the original issue now, but my restriction was built in to prevent errors like `f != f` where the first `f` has a different parameter instantiation than the second.

[2016-12-01 19:51] andreasabel commented on #2323
See issue #59.

[2016-12-01 19:51] #2323 closed, assigned to nobody

[2016-12-02 07:39] andreasabel commented on #2322
Smaller test case without inspect pattern:
[code]

[2016-12-03 12:35] mr-ohman opened #2325 "Agda cannot infer instance arguments between modules under certain circumstances"
[code]
Tested in Agda version 2.5.1.1 and 2.6.0-989c97c

[2016-12-03 15:41] #2307 closed, assigned to andreasabel

[2016-12-03 15:55] andreasabel opened #2326 "Remember user-supplied hidden arguments in error messages"
[code]

[2016-12-05 13:07] nad opened #2327 "Regression related to "Cannot `with` on variable [...]""
The following code is rejected by Agda 2.6.0-989c97c:
[code]
Error message:
[code]

This is a regression. The code is accepted by Agda 2.5.1.1.

[2016-12-05 14:20] andreasabel commented on #2327
Something looks broken with de Bruijn indices:
[code]
Here `inferExprForWith` run on `u` gets:
[code]
The context looks wrong, it has swapped `u` and `v`.  It should be `p : F u u` and `u` should be `var  1`.

This is actually seriously wrong, for instance:
[code]
gives
[code]
The context is botched somehow, but it does not always show, e.g., this does not check:
[code]
Maybe the scope has diverge

[2016-12-06 08:58] UlfNorell commented on #2325
It looks like the problem is that we lose the instance constraint when the original meta variable is pruned.

[2016-12-06 10:25] UlfNorell commented on #2327
Nothing is wrong with the context, you're just printing it wrong. If you print the context telescope instead of the list of context entries you get the expected

[code]

The problem is that `isModuleFreeVar` doesn't know about parameter refinement.

[2016-12-06 10:40] #2327 closed, assigned to UlfNorell

[2016-12-06 13:24] #2296 closed, assigned to UlfNorell

[2016-12-06 13:29] UlfNorell commented on #2296
I didn't address the last example.

I think it would be more productive if further issues that trace back to the original fix are reported as new issues instead of reopening this one. I'm pretty confident that any "breakage" will be unrelated issues that didn't show up before we started tracking dependencies properly and not a problem with the fix.

[2016-12-06 13:54] #2324 closed, assigned to nobody

[2016-12-06 13:57] UlfNorell commented on #2324
The issue Andreas couldn't find is #1342 (which could maybe do with a better title).

[2016-12-06 14:50] andreasabel commented on #2325
What about this one?
[code]
The instance meta is partially solved by `suc _` and the instance constraint is discarded, even though only one instance applies now (`one`).

[2016-12-06 15:41] #2325 closed, assigned to UlfNorell

[2016-12-06 15:45] UlfNorell commented on #2325
For reference, the check for solved metas was introduced in the fix of #1003.

[2016-12-07 09:09] andreasabel commented on #2325
Ah, no one was watching my fingers then... ;-)
Thanks for fixing.

[2016-12-07 09:46] #2322 closed, assigned to UlfNorell

[2016-12-07 10:56] xekoukou commented on #1703
I would like to build a network library on agda or a similar language. It seems that having bisimilarity as equality would be something that I would like to use.

Could you inform me whether your work will be merged into agda and when?
I also saw but not read a paper "Guarded Cubical Type Theory: Path Equality for Guarded Recursion"
and was wondering whether it will be implemented here.

I would l

[2016-12-07 11:00] #2223 closed, assigned to UlfNorell, andreasabel

[2016-12-07 13:03] asr commented on #1605
I see the release of 2.5.2 is close :+1:. This issue is the only one labelled with 'regression' but without the 2.5.2 milestone. It would be great if this regression is fixed before the release.

[2016-12-07 13:38] UlfNorell commented on #1605
This is a won't-fix. Making the unifier jump through hoops to respect where the user put the dots is not worth the effort. The user should just leave the dotting to the unifier.

[2016-12-07 14:03] UlfNorell commented on #2207
As far as I can tell this is the intended behaviour. The fix to #1366 was precisely to make anonymous modules not have separate `abstract` spaces.

[2016-12-07 14:07] UlfNorell commented on #2010
In that case I'll close this. Please continue discussions in #1894.

[2016-12-07 14:07] #2010 closed, assigned to nobody

[2016-12-07 14:09] jespercockx commented on #1605
Well I was just taking another look at this issue. One way to fix it is to remove the check from `checkLeftoverDotPatterns` that ensures degenerate dot patterns of the form `._` or `.x` where `x` is a variable have indeed been instantiated by the unifier. But then we need a different way to ensure that each variable is bound *somewhere* in the pattern (perhaps at an implicit position).

I agree th

[2016-12-07 15:17] UlfNorell commented on #1605
Are you thinking of something like

[code]

[2016-12-07 15:32] Saizan commented on #1703
@xekoukou I've been wanting to merge for a while, there isn't anything major blocking but I need to find the time to do the necessary cleanup.

You can indeed prove bisimilar streams equal as shown in the cubical-demo repo: it works by the interaction of the interval and copatterns. It should also interact fine with Sized Types in case you need more flexible productivity checking.

Regarding "Guar

[2016-12-07 15:36] jespercockx commented on #1605
Well, it could be argued that's a good case, since there is still a possible binding spot for the variable as an implicit argument to `refl`. On the other hand, the following should really be prohibited:
[code]

[2016-12-07 15:39] UlfNorell commented on #1605
Only if you use the doubly indexed equality. The `refl` from `Agda.Builtin.Equality` doesn't let you bind the `x` since it's a parameter.

[2016-12-07 15:39] jespercockx commented on #1605
Right, I was too fast. If you use single-indexed equality then your `bad` should also be rejected.

[2016-12-07 16:18] xekoukou commented on #1703
@Saizan Nice, as soon as I finish some other work, I will look at your demos to get familiar with the techniques used.

I do not know the difference between Sized types and guarded recursion. But I am currently learning Sized types because it seems that I will need then.

[2016-12-07 17:46] jespercockx commented on #1605
I've tried my proposed solution but it still doesn't work. Here my analysis:

First the definition of works1 gets expanded to
[code]
Then, the parent clause is checked and translated to internal syntax with LHS `works1 {c _} (wrap {c ._})`. Note that the dot has been moved to the second underscore! After that the second clause `
works1 {c ._} (wrap {c _}) | z = z` is checked. Since this clause con

[2016-12-07 18:04] jespercockx commented on #1605
Even replacing dot patterns with underscores doesn't work because in the concrete syntax there is no distinction yet between dot patterns and postfix projections, but we don't want to replace *those* by underscores of course.

[2016-12-07 18:16] UlfNorell commented on #1605
Wouldn't you do the replacement in abstract syntax though?

[2016-12-07 21:43] twanvl opened #2328 "Rewrite rules are broken in combination with normal reduction"
Consider this example:
[code]
In `shouldWork` I have just expanded the definition of `_<*>_`, so clearly the two sides are equal. But instead, at the `refl` we get the error `.B → .A != .A of type Set`. The RHS of _≡_ gets rewritten by the rewrite rule, but the LHS does not.

If you remove the `REWRITE bind-assoc` pragma, then the code typechecks (of course).

As far as I could figure out there is

[2016-12-07 22:12] gallais commented on #2328
You can see where the error comes from by toggling the display of implicit arguments: the first `_>>=_`'s implicit arguments get resolved to 2 different things on each side of the equality sign. Adding type annotations using `Function`'s `_ ∋_` seems to fix the problem:
[code]

[2016-12-08 10:13] twanvl commented on #2328
If I write

    doesWork : ∀ {A B} (mx : M A) (my : M B)
      → (M _ ∋ mx >>= (pure ∘ const)) <*> my
      ≡ (M _ ∋ mx >>= (pure ∘ const)) >>= (\f → my >>= (pure ∘ f))
    doesWork mx my = refl

Then agda shows that the two underscores both get unified with `(B → A)`, so this is not the cause of the error. And if it was, then the type inference would be wrong, because `B → A` is the only valid va

[2016-12-08 12:42] jespercockx commented on #2328
Looking at the debug output suggests that there is a mismatch between the relevances of two function types `B → A`: the first time it is `Relevant`, the next time its `UnusedArg`. The matcher really has no business here comparing the relevances, but so far it has been relying on the build-in equality check on terms.

[2016-12-08 13:04] jespercockx commented on #2328
The low-cost option here is to simply ignore the relevance tags when comparing two `Dom`s (as we already do for `Arg`s). This doesn't seem to break anything in the test suite, but it still doesn't feel 100% safe to me. @andreasabel , do you think this would be ok? Otherwise the fix for this issue will have to wait until I (finally) implement the type-directed equality checker in the ReduceM.

[2016-12-08 13:09] jespercockx commented on #1605
Well, the ellipsis are already expanded in the concrete syntax, and after that there is no way to tell which part of the pattern was expanded from the ellipsis. Or do you mean to replace *all* the dot patterns in a child clause if they already occurred in the parent clause? That could maybe also work, though I'd be afraid that this would also allow definitions with too many dots, for example
[code

[2016-12-08 14:25] andreasabel commented on #1605
It might be beneficial maybe to keep the Ellipsis in the abstract syntax, or mark patterns as originating from an ellipsis (also in the abstract syntax).  Maybe the existing `Origin` machinery can be adapted to this purpose?

[2016-12-08 16:02] nad opened #2329 "Size solver does not use type `Size< i` to gain the necessary information"
The following code is accepted by Agda:
[code]
However, if the *unused* `y` field of `R` is commented out, then the code is rejected:
[code]
Is this intended?

The code is also rejected if the definition of `ok` is replaced by the following one:
[code]
Error message:
[code]

[2016-12-08 18:58] #1605 closed, assigned to jespercockx

[2016-12-08 18:59] jespercockx commented on #1605
I fixed the problem when using ... by keeping track of the origins as Andreas proposed. The remaining problems (where the user repeats the parent dot patterns explicitly) are instances of #1608, so I propose we continue the discussion there.

[2016-12-08 19:12] jespercockx commented on #1608
After my work on #1605, I think I finally understand what's going on here. The problem is that the dot patterns in the *internal* patterns are not necessarily in the position where the user wrote them, but the `stripWithClausePatterns` function in TypeChecking/With.hs assumes that they are. Here are a few possible ways to fix this issue:
1. Instead of checking whether the dots in the internal patt

[2016-12-09 09:23] andreasabel commented on #1605
Thanks for fixing!!

(See my requests for documentation in the patch comments.)

[2016-12-09 09:28] andreasabel commented on #1608
Choice 3. would "fix" #142 by decree, but I think this is a bit too restrictive.  See the snippet from the std-lib at #142; I repeat it here:
[code]
The second with refines a dot pattern, which is a good documentation for what it going on here.

[2016-12-09 09:56] andreasabel commented on #2329
The presence of the unused field, referencing size `i` in its type, must help the incomplete size solver somehow.  If you change its type to `y : A ω`, you get the same unsolved constraint.
Agda does not use the type of `R.j (f x)` to solve this constraint, the solver is incomplete in this case.

[2016-12-09 10:00] andreasabel commented on #2328
I think in general, the relevance tags cannot be ignored, as the irrelevant function space`.A -> B` is not equal to the relevant one `A -> B`.  However, the inferred relevances `UnusedArg` and `Forced` are unreliable and should be ignored (keeping fingers crossed).

[2016-12-09 10:43] UlfNorell opened #2330 "Put compiled library code in the library directory instead of the top-level project directory"
We should have the compiler put generated files in the project root of the file being compiled. So module `A.B.C` in `/some/path/A/B/C.agda` would compile (with the ghc backend) to `/some/path/MAlonzo/Code/A/B/C.hs` regardless of where the top-level project is located.

This would avoid having to recompile the standard library (say) for every new project.

A concern: you might not have write acces

[2016-12-09 11:11] andreasabel commented on #2330
When working with different versions of Agda, it is a bit annoying that compilation with one Agda overwrites the interface files generated by another Agda.  cabal uses directories that include the version number, like in `x86_64-linux-ghc-7.8.4` to avoid such confusions.  However, ghc by itself does not.

[2016-12-09 11:22] UlfNorell commented on #2330
It might not be a bad idea to put all generated files, including `.agdai` files in a separate directory in the project root (`.agda/`?). Inside that we could separate files by Agda version (making sure not to include the git hash in the version though).

[2016-12-09 11:52] #2300 closed, assigned to jespercockx

[2016-12-09 11:52] #2328 closed, assigned to jespercockx

[2016-12-09 13:02] jespercockx commented on #1608
Right. What about option 2, do you know the reason why stripWithClausePatterns uses the internal patterns of the parent clause instead of the abstract ones?

[2016-12-09 13:28] UlfNorell commented on #1608
We need the actual values of dot patterns from the parent clause to set up appropriate let bindings. Also the user might write more implicit arguments in the child clauses, so we need the parent patterns after implicit insertion.

[2016-12-09 14:19] mechvel commented on #2330
On Fri, 2016-12-09 at 11:03 +0100, Andreas Abel wrote:
GHC might decide to recompile if you give it different options then the

I repeat the whole test by new:

The options are the same, but  Agda-2.5.2-dc9ffae  again reports "Compiling" for all modules of the DoCon-A-0.04 library (there are many!).

Then, I do the same to other tests in  demoTest/

Some of them cause recompilation of everything,

[2016-12-09 16:30] andreasabel opened #2331 "Termination checker too conservative on "usable size var""
From an application of Nisse:
[code]
The termination checker refuses this since none of the size variables of `helper` are "usable".
Nisse suggested that "useable" should be inherited during call graph completion.  For instance, the size `j` of `test` is usable, thus, when calling `helper`, its `j` (and thus `k`) should be usable.

[2016-12-09 17:51] andreasabel commented on #2331
Test for usability was introduced in the fix of issue #1015.

[2016-12-09 19:57] m0davis opened #2332 "Case splitting on infix copattern generates invalid syntax"
[code]
Start with something like this...
[code]
...and after case splitting (C-c C-c), we end up with something like this ...
[code]
That's fine, but case split again and we end up something Agda doesn't know how to parse:
[code]
I would have hoped for something like this when case-splitting on `I₂`:
[code]

[2016-12-09 20:40] andreasabel commented on #2332
Fixing #632 would fix this issue.

Side remark: I am a bit surprised that Agda suggests `(I₃ R.f) x` as a possible parse? @nad, do you know why?

[2016-12-09 20:57] andreasabel commented on #2018
Horray for fixing this!

[2016-12-09 21:21] andreasabel commented on #2331
@nad: Please try if this fix helps you.
@Saizan: Please try to break this fix.

[2016-12-12 10:33] Saizan commented on #2331
Is size quantification fair game? tested the following on

Agda version 2.5.2-017c22e-dirty

[code]

[2016-12-12 13:41] andreasabel commented on #2331
[code]
gives these call-matrices:
[code]
While the direct
[code]
still fails, the detour over `helper` sanctifies the size `k`.  :(

[2016-12-12 14:15] asr opened #2333 "Travis fails with Stack 1.3.0"
Stack 1.3.0 was [released](https://hackage.haskell.org/package/stack-1.3.0). From its [changelog](https://hackage.haskell.org/package/stack-1.3.0/changelog):

In consequence, Travis is [failing]( https://travis-ci.org/agda/agda/jobs/183249836) with Stack 1.3.0:

[code]
@Blaisorblade, I assigned you this issue.

[2016-12-12 14:17] Blaisorblade commented on #2333
Thanks, I'll take a look ASAP.

--
Paolo Giarrusso
From smartphone, sorry for typos or excessive brevity

Il 12 dic 2016 15:15, "Andrés Sicard-Ramírez" <notifications@github.com> ha
scritto:

[2016-12-12 16:40] abooij opened #2335 "Feature request: abstract/private rewrite rules"
[code]

I would expect `test₂` not to work, as the rewrite rule's scope should be contained by the module.

Such a scope mechanism for rewrite rules would be really useful so that their usage can be restricted: so one could write theorems with connotations such as "for this theorem we will implicitly use associativity of addition".

[2016-12-12 17:09] #1992 closed, assigned to asr

[2016-12-12 17:37] andreasabel commented on #2335
But this will lose subject reduction.  If you defined
[code]
then `test₂ x` would still reduce to `x`, which is then ill-typed.

[2016-12-12 17:50] abooij commented on #2335
I don't understand what problem is introduced by this that is not already introduced by having a rewrite pragma in one file, but not in another.
If I write `test₂ x` in a different file, I get a value of type `B`. What is the issue with this?

[2016-12-12 18:02] andreasabel commented on #2046
The module parameter substitution is insufficient to solve this issue.  Instead, we now use CtxIds and variable names (shame on me) to match contexts of different constraints.  This fixes this regression, but a proper solution has still to be found.

[2016-12-12 18:03] #2046 closed, assigned to andreasabel

[2016-12-12 18:03] andreasabel commented on #2046
Fix is in https://github.com/agda/agda/commit/9a6128647a13b57d8a42590125af259196e9a743

[2016-12-12 18:09] andreasabel commented on #2335
At least, currently, when you have --rewriting on everywhere, you don't lose subject reduction.

File `Issue2335.Rule`:
[code]
File `Issue2335.agda`
[code]
This checks.

[2016-12-12 18:12] asr commented on #2333
@Blaisorblade, I'm testing the fix (see PR #2336) on Travis.

[2016-12-12 20:21] #2333 closed, assigned to Blaisorblade

[2016-12-12 22:49] jespercockx commented on #2335
The current semantics of rewrite rules in parametrised modules is that they hold only for those specific values of the parameters while inside the module, and are generalised to hold for any value of the parameters outside the module. For example:
[code]
The reasoning is that the rewrite rule `rew` is still in scope outside of the module as `M.rew`, so it should still be applied outside of the mod

[2016-12-12 23:26] andreasabel commented on #2335
The story maybe a bit similar to `abstract`.  Abstract definitions do not fire outside of abstract blocks.  As a consequence, the do not fire inside type signatures.  We could have `abstract` rewrite rules, but they would underlie the same restriction than `abstract` definitions, if we want to retain subject reduction.

[2016-12-12 23:35] andreasabel commented on #300
The attached test case is:
[code]

[2016-12-13 02:12] asr opened #2337 "Release 2.5.2"
It seems we are ready for realising 2.5.2 (and a new version of the standard library). I'll prepare the RC.

What about the support for GHC 8.0.2? After one week of announcing the RC, I'll make the release (if nothing blocks it). If GHC 8.0.2 is released on this time window, I'll include it. If not, we can make a point release later, if necessary.

[2016-12-13 02:19] asr commented on #1808
After removing the dependency on `haskell-src-exts` (thanks @UlfNorell), this issue disappeared because cpphs should be installed before compiling Agda.

[2016-12-13 02:19] #1808 closed, assigned to asr

[2016-12-13 02:30] asr commented on #2058
Even Idris is using [AppVeyor](https://ci.appveyor.com/project/idrislang/idris-dev) for its CI on Windows :-). Any volunteer?

[2016-12-13 06:06] UlfNorell commented on #2337
Thanks.

I'd be surprised if there were any 8.0.2 issues since 8.0.2-rc1 works without problems.

[2016-12-13 08:41] nad commented on #2330
From the CHANGELOG:

Furthermore:

In `2-5-2.md`:

[2016-12-13 08:46] UlfNorell commented on #2330
I guess I meant to say *library root* rather than project root...

[2016-12-13 09:00] nad commented on #2337
In an attempt to help me @andreasabel introduced a new problem: #2331. If we're releasing now, then I guess that 7ade242857cad746837158c8e1143b4a84336d14 should not be included.

[2016-12-13 09:17] nad commented on #2335
#1445.

[2016-12-13 09:23] nad commented on #2337
If we're releasing 2.5.2, then I suggest that we remove the text
[code]
from error messages first. Do you agree?

[2016-12-13 09:44] andreasabel commented on #2337
Yes to both: don't release 7ade242 and remove that alert.

[2016-12-13 09:47] jespercockx commented on #2335
Hmm, I'm not convinced on the private vs abstract: abstract blocks *all* reduction outside of the abstract block, but here ideally we'd only want to prohibit certain rewrite rules, no? OTOH, if you make the definition abstract then you wouldn't get the problem with subject reduction. Maybe we could have both? Here's a proposal:

1. Rewrite rules declared inside an `abstract` block shouldn't be app

[2016-12-13 11:42] nad commented on #2337
I'll remove the alert.

[2016-12-13 13:12] nad commented on #2332
If you compile using `make install-debug` and then run `agda-<version>-debug -vscope.grammar:10 <file>`, then you can see the grammar that is used:
[code]
I guess that when parsing this pattern `R.f` is a valid atom, see [`isAtom`](https://github.com/agda/agda/blob/61da63a75153384e9dc3ff329b62e360e0206c73/src/full/Agda/Syntax/Concrete/Operators.hs#L279-L281) and the documentation of `buildParsers`

[2016-12-13 13:52] WolframKahl commented on #2337
On Tue, Dec 13, 2016 at 01:23:28AM -0800, Nils Anders Danielsson wrote:

Perhaps not yet. Not all Agda users enjoy the luxury of being able to
follow all releases, or even of using Agda all the time without
interruptions of several months...

[2016-12-13 15:19] andreasabel commented on #2332
I did not know there were debug versions of Agda.  Actually, the Makefile does not seem to know it either.
[code]

[2016-12-13 15:30] gallais commented on #2332
I think that's the thing: https://github.com/agda/agda/commit/3162e0c519dc25bf1b43f12661d6a4a23b38c7d0

[2016-12-13 15:43] asr commented on #2337
I agree. I'll not include the commit removing the alert.

[2016-12-13 15:45] asr commented on #2337
OK.

[2016-12-13 15:45] andreasabel commented on #2332
A thanks, it did not sound like a brand new thing...

[2016-12-13 15:51] andreasabel opened #2338 "ghc-7.8: Agda-2.5.2 depends on geniplate-mirror-0.7.4 which failed to install"
There seems to be a new dependency (since yesterday) on geniplate-mirror-0.7.4 which does not build.
https://github.com/danr/geniplate/issues/6

[2016-12-13 15:53] andreasabel commented on #2338
@nad ?

[2016-12-13 16:02] asr commented on #2337
I created the release-2.5.2 branch which will be the base for the release.

[2016-12-13 16:11] asr commented on #2338
Removed the 2.5.2 milestone because the release will be based on the latest commit [successful](https://travis-ci.org/agda/agda/builds/183533331) on Travis.

[2016-12-13 16:15] andreasabel commented on #2338
Ok.

[2016-12-13 21:56] asr commented on #2083
I don't see any more the recompilation of files on Travis, so I'm closing the issue.

[2016-12-13 21:56] #2083 closed, assigned to asr

[2016-12-14 02:38] asr commented on #2338
Fixed by 17612b2.

[2016-12-14 02:38] #2338 closed, assigned to nobody

[2016-12-14 03:55] asr commented on #2085
While working on this issue I noticed that the internal test-suite isn't reporting any failed test.

[2016-12-14 09:01] andreasabel commented on #2338
After pulling your fix, I still get the same build error:
[code]
But I fixed it now by unregistering the `template-haskell-2.11.0.0` which probably came by a forced reinstallation of agda's dependencies.

[2016-12-14 09:13] andreasabel commented on #2318
On master, I now get:
[code]
If I run the installed fix-agda-whitespace, everything checks fine:
[code]
Also, to fix the whitespace violations, I have now to run the lengthy
[code]

Would it not make sense to ignore the generated `Parser.hs` in all `dist` directories?

[2016-12-14 13:46] #2085 closed, assigned to asr

[2016-12-14 13:46] asr commented on #2085
The OP was wrong. I fixed the issue reported in the new title.

[2016-12-14 14:01] identicalsnowflake opened #2340 "Bad syntax generated on case split when hole is not on the same line as the clause lhs"
[code]

Case splitting on `a` here causes some bad syntax generation.

[2016-12-14 15:31] asr commented on #2318
After 765cbb9 `fix-agda-withespace` excludes the `dist*` directories. I don't know why are you seeing whitespace violations on those directories.

You can run `make fix-whitespace`.

 I added a missing `cabal clean`. After pulling, could you reproduce the issue?

[2016-12-14 16:13] andreasabel commented on #2340
This happens when the hole is not on the same line as the clause lhs.
[code]
gives
[code]
with a parse error.

With the current infrastructure, there is no easy fix for this.  We would need to communicate positions (such as the position of the lhs) back to emacs.  But the user could have inserted some lines before, shifting the position.  Thus, all the emacs-mode can do when Agda instructs it to s

[2016-12-15 12:26] effectfully opened #2341 "with and rewrite do not abstract levels in sorts of types."
[code]

The error is

    Set (suc .w) != Set (suc α ⊔ suc .w)
    when checking that the expression id has type Set .w → Set .w

This:

[code]

type checks fine.

This is regression: `Coerce` was type checked successfully by a previous version of Agda, but I can't say by which one.

[2016-12-15 14:36] nad commented on #2341
The following code is accepted by Agda 2.4.2.5:
[code]

[2016-12-15 14:45] asr commented on #2341
And @nad example is rejected by Agda 2.5.1 with the error:

[code]

[2016-12-15 18:31] andreasabel commented on #2341
This seems to be independent of primTrustMe, it is probably a bug introduced in the change of rewrite:
[code]

[2016-12-15 19:08] andreasabel commented on #2318
For `make test` I now get:
[code]
I think the goal `fix-whitespace` should trigger the goal `build-fix-agda-whitespace` if `src/fix-agda-whitespace/dist/build/fix-agda-whitespace/fix-agda-whitespace` is not present.

[2016-12-15 19:10] andreasabel commented on #2341
The sorts in the Pi-types in the generated with function are wrong:
[code]

[2016-12-15 19:24] andreasabel commented on #2341
Here is a simpler regression wrt. Agda-2.4.2.5:
[code]
fails with
[code]

[2016-12-15 19:28] andreasabel commented on #2341
Blame on https://github.com/agda/agda/commit/4a849c4404ef78a57bfebf75516b82e8ed8df59d for
[code]
Abstracting in the sort seems necessary.

[2016-12-15 19:42] andreasabel commented on #745
Fix introduced #2341.

[2016-12-15 19:46] andreasabel commented on #2341
@asr: Maybe this regression fix can be cherry-picked to the 2.5.2-release branch?!

[2016-12-15 19:54] #2341 closed, assigned to andreasabel

[2016-12-15 20:50] #2318 closed, assigned to asr

[2016-12-15 20:51] asr commented on #2318
Testing for the binary is not enough because it can be obsolete, so I added as prerequisite `build-fix-agda-whitespace`.

I had added `cabal clean` because if someone writes something like

[code]
she gets an error like:

[code]

Since we use `cabal clean && cabal build` it means that every time we run `make fix-whitespace` or `make check-whitespace` the program is recompiled. This isn't a nice so

[2016-12-15 21:27] asr commented on #2341
Done in 72335c0070281a6a1b818ab11a68205dba6596d7.

[2016-12-16 09:10] andreasabel commented on #2341
Thanks!

[2016-12-16 10:32] andreasabel commented on #2318
It seems reasonably fast, so, I don't think it is a problem it is recompiled each time.

[2016-12-17 02:52] asr commented on #2337
I have tested the installation of  [2.5.2 RC 1](http://www1.eafit.edu.co/asr/tmp/Agda-2.5.1.2.20161216.tar.gz) on Ubuntu.

Could someone test the installation on Windows and Mac OS using the following instructions:

[code]

[2016-12-17 07:33] UlfNorell commented on #2337
- [x] MacOS X 10.10, ghc-8.0.2-rc1
- [x] Windows 10, ghc-8.0.1

[2016-12-17 15:04] asr commented on #2337
While preparing the RC, I saw [this](https://github.com/agda/agda-stdlib/commit/e3893da0ebca8f80ca2919426529b544503d2010) commit on the standard library. In which Agda commit was the `NO_SMASHING` pragma removed? Why this changed wasn't documented on the release notes?

[2016-12-17 20:22] UlfNorell commented on #2337
The `NO_SMASHING` pragma was removed by ee35abc. I didn't see a need to mention it in the release notes since the introduction of the pragma was never mentioned and it never actually did anything.

[2016-12-18 00:05] Oinkium opened #2344 "Unifier creates ill-formed telescope for pruned meta (de Bruijn index vs. level problem)."
When type-checking some AGDA code the other day, I got the following message:
[code]

Type-checking the following code reproduces the bug:

[code]

[2016-12-18 07:59] UlfNorell commented on #2344
The internal error is clearly a bug, but it's worth noting that the example as written is not type correct. Here's what you can get away with proving (which doesn't trigger the internal error):

[code]

[2016-12-18 08:08] UlfNorell commented on #2344
Here's a simplified example that exhibits the problem:

[code]

[2016-12-18 08:25] UlfNorell commented on #2344
It looks like a problem with `mvPermutation`s triggered at [Agda.TypeChecking.Rules.LHS.Unify.hs:765](https://github.com/agda/agda/blob/ceaddac65cd00044aa7691668c5d82f5a5b03738/src/full/Agda/TypeChecking/Rules/LHS/Unify.hs#L765). Not sure if the permutation is wrong or the unifier is making incorrect assumptions.

[2016-12-18 19:46] andreasabel commented on #2344
Checks fine with 2.4.2.5, must be a regression introduced in 2.5.

[2016-12-18 21:30] andreasabel commented on #2344
It seems that the function `permuteTel` in `Agda.TypeChecking.Telescope` is buggy.
[code]
Correct is `renameP __IMPOSSIBLE__ (flipP perm)`, to turn the de Bruijn levels of `perm` into de Bruijn indices for the substitution.  Here is the analysis:
[code]

[2016-12-18 21:40] #2344 closed, assigned to andreasabel

[2016-12-18 21:42] andreasabel commented on #2344
@asr: could this be included in 2.5.2?

[2016-12-18 23:28] asr commented on #2344
Done in 1c2a4ee12cc9b0bf72f0cfec9b056a867ad9f7a.

[2016-12-19 02:22] asr commented on #2319
Travis is [failing](https://travis-ci.org/agda/agda/jobs/185020627) with GHC 8.0.2 RC2. (Partially) blocked by https://github.com/well-typed/hackage-security/pull/177.

[2016-12-19 08:40] andreasabel commented on #2344
Thanks!

[2016-12-19 21:47] ruhatch opened #2346 "Question: work around removed set-detection for --without-K"
I'm using agda-mode in Atom editor and I got the following output on a file:

    An internal error has occurred. Please report this as a bug.
    Location of the error: src/full/Agda/TypeChecking/Telescope.hs:71

The contents of the file are as follows:

[code]

The error occured on the introduction of the module around the `∈-+++-l` function and still occurs if I move the `A` into the telescope

[2016-12-19 22:01] asr commented on #2346
Agda version?

Issue #2344, which had the same error message, was fixed yesterday. Could you reproduce your issue using Agda development version? I couldn't test due to the library importations.

[2016-12-20 04:23] m0davis opened #2347 "Case split generates invalid syntax in pattern lambda which contains instance argument"
[code]
Case spltting (C-c C-c) in the above generates invalid syntax:
[code]
Better, of course, would have been `foo = λ {()}`. NB this problem also arises when splitting a non-impossible case, such as if `⊥` were replaced by `data D : Set where c : D`.

[2016-12-20 04:31] m0davis commented on #2347
I notice that by invoking `agda2-display-implicit-arguments` or setting `{-# OPTIONS --show-implicit #-}`, Agda behaves properly.

[2016-12-20 12:25] ruhatch commented on #2346
The problem disappears with the most recent development version, however now I'm having other issues.

I am using the HoTT library which uses the `--without-K` option. It appears that patterns that previously worked no longer work in the new version and I'm not sure why. For example, in the following case:

[code]

the `smr-perm` on the final line is now getting

[code]

any ideas how I might fix

[2016-12-20 12:49] jespercockx commented on #2346
This has probably something to do with the removal of the (buggy) detection of hsets (see issue #2003). The code broken by this change can usually be fixed by making the type more general, i.e. instead of splitting on something of type `SymMonRel (m , v₁) (m , v₁')` you can introduce an extra `m' : Nat` and split on a variable of type `SymMonRel (m , v₁) (m' , v₁')`. For an example, you can take a

[2016-12-20 13:50] andreasabel commented on #2347
@asr: cherry pick onto 2.5.2?

[2016-12-20 14:01] #2347 closed, assigned to andreasabel

[2016-12-20 14:14] andreasabel opened #2348 "Projection-like term with instance arguments printed wrongly"
When fixing #2347, I noticed that `isHidden` is probably to be blamed for more than just #2347.  For example:
[code]

[2016-12-20 17:12] andreasabel commented on #2348
@asr: these patches could be cherry-picked for release, but they are low priority.

[2016-12-20 17:15] andreasabel opened #2349 "Constructor application with instance arguments printed wrongly for --show-implicit"
[code]

[2016-12-20 17:49] #2348 closed, assigned to andreasabel

[2016-12-20 18:16] andreasabel opened #2350 "Constructor does not use instance argument for type inference"
Another bug in the series `isHidden`, see #2347, #2348, #2349.
[code]
Agda complains about not being able to infer instance for `D`, since it ignores it in the constructor.

[2016-12-20 18:35] andreasabel commented on #2350
Even worse, Agda may ignore a given instance parameter of a constructor:
It accepts this:
[code]
The level `ℓ` is the wrong one, but it is ignored by Agda.

[2016-12-20 18:55] #2349 closed, assigned to andreasabel

[2016-12-20 19:12] #2350 closed, assigned to andreasabel

[2016-12-20 19:38] asr commented on #2347
Done in 34eb4c33fc234e301818f4abe31a0ad445581832 and 2bb8e46a0c5741b1b6fb4a06825f323ea208bbf9.

[2016-12-20 20:29] asr commented on #2348
I cherry-picked all the above commits into release-2.5.2.

[2016-12-20 20:30] asr commented on #2349
I cherry-picked all the above commits into release-2.5.2.

[2016-12-20 20:31] asr commented on #2350
I cherry-picked the fix into release-2.5.2.

[2016-12-20 21:40] andreasabel commented on #2350
Great, thanks!

[2016-12-20 23:05] identicalsnowflake opened #2351 "expose noConstraints to reflection framework"
[code]

I tried to write `fumble`, which attempts to reduce a term, and if it can't, just uses the unreduced version, but it seems `catchTC` is unable to actually catch the constraint error thrown by `normalise`.

[2016-12-21 09:21] ilovezfs commented on #2319
You need to first bootstrap cabal with --allow-newer=directory as here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/cabal-install.rb#L25

[2016-12-21 09:50] andreasabel commented on #2351
Unsolved constraints are not reported immediately via the error mechanism, this is why you cannot catch them.  In the Agda type checker, there is a function `noConstraints` that turns left-over constraints into an error.  The TC functions as defined in `Unquote.hs` do not use `noConstraints`.

As I am unsure about the design of the Reflection features, I will not mess with it, but @UlfNorell , wou