[2017-03-28 09:13] Saizan commented on #2519
Without this quote I didn't get why it was a regression:

load the file into emacs with --cubical, Agda will load the file successfully (presumably from the .agdai file), but then proceed to not accept it if you change anything like adding a new line.

Here it should be enough to annotate the domain to make it clear it's a function type ```λ (x : ⊤) → x```.

However it's possible inference can be

[2017-03-28 09:49] identicalsnowflake commented on #2519
Annotating the domain is trivial in this demo case, yes, but in my code base the domain is often long and annoying to write.

Well this is a very recent change: cc7549bd479e4ec325bbd062390c60f7be80bd3d is just last Friday, when it worked, then I came into the office on Monday, updated to 9036aa96ad5b6cc88e2d89a42d1481dad16a3cf8, and there were unsolved metas.

[2017-03-28 15:33] Saizan commented on #2519
Can you confirm again that it worked for  cc7549b? It doesn't seem to do so for me.
I get unsolved instance arguments with the following:

[code]

[2017-03-28 17:41] nad opened #2522 "Interactive case splitting generates name clashing with out-of-scope constructor"
Consider the following code:
[code]
Agda rejects this code with the following error message:
[code]
Note that `x` is not a size. At first I thought that some internal invariant had been broken, but then I tried renaming `x` to something else, and got the following error message:
[code]
It seems as if Agda itself invents the name `x` (I checked that `x` is not mentioned in `Agda.Builtin.Size`). I t

[2017-03-28 21:31] nad commented on #2522
Bisection suggests that this regression was introduced by @UlfNorell in 67d50a9159147f0aa990aef4ae3ccbbfdd2b56df:
[code]

[2017-03-28 22:06] WolframKahl commented on #2516
In `stable-2.5` at 802a28aa8374f15fe9d011ceb80317fdb1ec0949 , the effect is still there.

(Testing with `master` would be more complicated.)

[2017-03-29 06:11] identicalsnowflake commented on #2519
Ok I cannot reproduce this. You're right, it is not accepted on cc7549b, so this is not a regression (please remove the flag). I checked carefully before I reported, tried to make sure all build/emacs caches were cleared, etc., but apparently I missed something. Sorry about that!

[2017-03-29 08:08] Saizan commented on #2519
Ok! Good to be on the same page!

Investigating this, it seems that with --cubical on the ```Short _t (Wrap (⊤ → ⊤))``` instance argument is solved by eta expansion, and so there's no constraint on what _t should be, hence no way to tell what type the lambda should be.

On the other hand the following is not solved either
[code]
With error
[code]
I guess because the meta in ```Short _t₁_23 (Wrap (

[2017-03-30 08:07] andreasabel commented on #2495
By expand I mean unfold, i.e., apply the reduction rules.

The termination checker now does a bit of (hopefully inexpensive) normalization on the arguments of the recursive call before doing the structural comparison with the function parameters.

Maybe that could be done in a smarter way.

Anyway I think the discussion is about #2403, maybe it should be continued there.  I close this issue.

[2017-03-30 08:07] #2495 closed, assigned to andreasabel

[2017-03-30 14:05] WolframKahl commented on #2516
The only change made by 6c6d358bc0d5c5d09a79594bb810fba4e2a057f7 is to weaken the predicate `properlyMatching`, which is called only in three places:

- `Pos`: `src/full/Agda/TypeChecking/Positivity.hs`

- `Pol`: `src/full/Agda/TypeChecking/Polarity.hs`, line 249 at 6c6d358bc0d5c5d09a79594bb810fba4e2a057f7

- `Inj`: `src/full/Agda/TypeChecking/Injectivity.hs`

I added a copy `properlyMatching'` wi

[2017-03-30 14:22] #2032 closed, assigned to nobody

[2017-03-30 16:13] nad opened #2523 "The documentation of `--without-K` is outdated"
The reference manual's documentation of `--without-K` is outdated.

[2017-03-30 16:43] andreasabel opened #2524 "Allow custom compilation of defined types"
It makes sense to compile abstract definitions to arbitrary Haskell code.  (This example is not super clever.)
[code]
This allows to replace a safe implementation by an efficient one.

See #2248. We have to restrict arbitrary type replacement to abstract atoms (data, record, postulate).

[2017-03-30 17:25] andreasabel commented on #2524
The problem is that this is unsafe, unless we make sure that we give correct custom compilations for __all__ involved abstract definitions.  For instance, if we comment out the
[code]
we can get a segfaulting Haskell program.

However, I guess with the `COMPILE` pragmas we can anyway generate ill-typed and crashing Haskell programs.

[2017-03-30 18:02] identicalsnowflake opened #2525 "Confused by eta-reduction when quoting record value"
I found this issue https://github.com/agda/agda/issues/1581 today, but I actually don't think it's a syntax highlighting issue: I think the syntax highlighting is accurate. Here is a reflect macro and an example:

[code]

Use `C-c C-n` and `reflect r` to see. Compare the commented example `f = d` with the current `f = a`: one is 20 lines, the other is 10. In fact, `a`, `b`, and `c` are all 20 line

[2017-03-30 18:37] andreasabel commented on #2516
Mmh, but turning an absurd pattern into a proper match in the positivity checker was a deliberate design decision.  You patch reverts this (if I understood it correctly).
I can see though how treating less arguments as 'NonVariant' would increase the tasks of the conversion checker, possibly to a point where it runs too long. @jespercockx?

[2017-03-30 18:43] WolframKahl commented on #2516
On Thu, Mar 30, 2017 at 11:37:53AM -0700, Andreas Abel wrote:

At one point, I left it running for three days...

If you can see how this increases the tasks of the conversion checker,
can you perhaps also see how to eliminate superfluous tasks?
Or how to integrate @Saizan's patch from #1625 in a safe way?

[2017-03-30 19:29] WolframKahl commented on #2516
It appears that the commit 6c6d358bc0d5c5d09a79594bb810fba4e2a057f7 that is making trouble for me here is motivated by a desire to improve the situation for some unsafe extension, as reported in #2059. If it should really only be serving that purpose, then I would strongly argue that this should be hidden behind the flag enabling those unsafe features, so that it does not impact safe modules.

[2017-03-30 20:02] identicalsnowflake commented on #2525
Maybe I should clarify -- I don't mean to say this issue is about reflection. That macro is just what I'm using to look at the terms.

The issue is when you load the file, [look at the colors of the definitions of a, b, c, and d](https://i.imgur.com/V0F7iAT.png). `a`, `b`, and `c` are all one color (for me, green) and `d` is another color (for me, pink). I'm contending that this is not a syntax hi

[2017-03-30 20:17] jespercockx commented on #2516
My commit was motivated by a bug in the rewriting mechanism (the unsafe extension you mention), but it doesn't have to do anything to do with rewriting in itself. It is a change to a rather basic assumption to Agda's notion of definitional equality. Consider the NonvariantPolarity example:
[code]
Isn't it strange that `abort Bool x` would be definitionally equal to `abort Bool y` even though they

[2017-03-30 20:27] WolframKahl commented on #2516
only under the assumption `x y : ⊥`!

Since I consider that assumption as rather unrealistic, I have no trouble with any conclusion you draw from it...

[2017-03-30 20:29] WolframKahl commented on #2516
Another unsafe extension that I'm avoiding. And I don't even know which absurd patterns I'd have to make of irrelevant type: The module in question only has single variables as patterns.

[2017-03-30 20:35] jespercockx commented on #2516
But this is about definitional equality, so we should care about it even with absurd assumptions in the context! For example, if we could deduce a definitional equality between the unit type and the empty type (I'm not saying we can here, but if) then we break subject reduction.

What I'm really arguing here is that the feature I removed in my patch *is* something potentially unsafe as well, so if

[2017-03-30 20:40] jespercockx commented on #2516
I think irrelevance is actually one of the safer and well-understood features of Agda (at least as long as you don't enable `--experimental-irrelevance` I suppose). Of course I neither can nor want to tell you how to write your code, but for me it really helps a lot to make proofs easier as well as typechecking much faster in many cases.

[2017-03-30 20:57] WolframKahl commented on #2516
Is it really necessary to consider these as “normal forms”? Anything that ends up being covered by a rule with an absurd pattern has already been proven to be something that “never needs to be reduced”, so asking whether it can be reduced (that is, whether it is a normal form) does not make sense.

[2017-03-30 21:01] WolframKahl commented on #2516
(Irrelevance (and `abstract`) used in the source for speeding up typechecking raise “premature optimisation” warning flags for me ─ they _should_ not be needed for that purpose.)

[2017-03-31 05:19] UlfNorell commented on #2516
There's [Scherer, 2016, Deciding equivalence with sums and the empty type](https://arxiv.org/pdf/1610.01213.pdf), which proves decidability of βη-equality in a simply typed system with η for the empty type.

[2017-03-31 09:19] andreasabel commented on #2525
Ah, sorry, I looked too briefly at the report.

I'd say the difference you observe is due to eta-contraction.

The difference in color is because `d` is actually recovered as projection (since it `R.f` applied to de Bruijn index 0).  The others are not.

But what is your problem?

[2017-03-31 09:34] identicalsnowflake commented on #2525
I don't know the specifics of the internals -- it's possible there's a good reason for this that I as a user just can't easily see. But from my perspective, it's odd that only dubruijn index 0 is treated as a projection. It makes a big difference for me because I run a mini-compiler in the TC monad (hence, all my TC reports) to do stuff like make compiled queries where both the app-level code and

[2017-03-31 09:57] andreasabel commented on #2525
The reason for the special treatment of de Bruijn index 0 is that it allows us to recover projections from module applications.  Consider
[code]
You can see in Agda that `M.f` is pink, even though it is not a native projection of the record `R`.  Module `M` declares a __value__ `f = R.f r`, but by abstracting over `r` we get `M.f r = R.f r` and with eta-contraction, `M.f = R.f` becomes a projectio

[2017-03-31 10:01] andreasabel opened #2526 "Better documentation of record modules"
From the mailing list:
[code]
https://agda.readthedocs.io/en/v2.5.2/language/record-types.html#record-modules

[2017-03-31 11:21] identicalsnowflake commented on #2525
Hmm, yeah I can see how that happens -- simple eta reduction does yield a magically better result for index 0.

That makes things so tricky, though! Especially because the difference is so non-trivial in practice:
with my prelude, `reflect ("a" <> "b")` yields 7 lines, while `reflect (1 + 1)` yields more than 300, despite the fact that both of these instances reduce to a builtin.

Anyway, thanks f

[2017-03-31 11:21] #2525 closed, assigned to nobody

[2017-03-31 11:56] #2507 closed, assigned to Saizan

[2017-03-31 11:59] identicalsnowflake commented on #2487
There may be some logic for this already, actually, it just seems to be backwards. For example, you may have a `{-# OPTIONS --safe #-}` module depend on a `{-# OPTIONS --type-in-type #-}` and Agda will not complain; however, if you try to make a `--type-in-type` module depend on a `--safe` module, Agda will forbid it.

[2017-03-31 13:09] andreasabel commented on #2517
Closing, as this is a duplicate of #2183.

[2017-03-31 13:09] #2517 closed, assigned to andreasabel

[2017-03-31 18:04] andreasabel opened #2527 "Termination checker needs constructor parameters (inductive-inductive types)"
Turning indices into parameters might break the termination check:
[code]
If Γ is dropped from the Π-constructor by turning it into a parameter, the termination checker loses the information that  Γ < (Π .Γ A B).

We could do parameter reconstruction for termination checking.  However, this will also make more recursive calls visible (that happen in dropped constructor parameters).  In this case,

[2017-03-31 18:26] UlfNorell commented on #2527
There's also the minor problem that parameter reconstruction could easily blow up on larger developments.

[2017-03-31 18:32] UlfNorell commented on #2527
I guess in this case it would be enough to reconstruct parameters in left-hand sides, which should be both easier and wouldn't risk blowing up.

[2017-04-01 07:28] andreasabel commented on #2527
True.
Yet now in general, I am not 100% sure it is sound to ignore the recursive calls in the parameters.

[2017-04-01 12:45] andreasabel opened #2528 "Ignore forced constructor arguments in termination checker (safe?)"
This is for our collection of performance issues.  Would be interesting to see whether `tog` has the same problem.  Since it uses induction-induction, we cannot test it in Coq at the moment.

The file is https://github.com/YouyouCong/type-preserving-cps/blob/a3203cf7c2bf4df1df6028ca37d0b52d3d8c36c8/dtlc.agda which I paste below.

If you turn most of the forced indices into parameters, it passes in

[2017-04-01 13:01] effectfully opened #2529 "Unable to install Agda on Windows."
At first I stumbled upon https://github.com/agda/agda/issues/2449. After some googling, environment variables changing and cabal flags specifying I managed to install `text-icu`. The next obstacle was `cpphs` which depends on `old-time` which requires a bunch of C-related tools. Some googling again and I installed it via `stack`, because it does all this bookkeeping automatically (but only if you

[2017-04-01 14:29] asr commented on #2529
Agda can be installed using `cpp` or `cpphs` (default). You can use the `cpphs` flag in Agda.cabal for changing the default behaviour.

[2017-04-01 14:51] asr commented on #2529
Please report the problems when installing `cpphs` on Windows in the `cpphs` [bug-tracker](https://github.com/malcolmwallace/cpphs/issues).

[2017-04-01 15:21] phile314 opened #2530 "--ignore-interfaces should not recompile Primitive.agda"
``--ignore-interfaces`` currently also recompiles ``Primitive.agda``. This fails if Agda is installed in a read-only location. ``--ignore-interfaces`` should only re-typecheck the files I am currently working on and not libraries/primitives.

Maybe this could be solved via the library system, so that ``--ignore-interfaces`` would not apply to loaded libraries and making ``Primitive.agda`` a small

[2017-04-01 15:49] phile314 commented on #2524
Having a coverage check for the pragmas would certainly be nice to have, but as we are in unsafe FFI territory anyway I think it is not that much of an issue.

I guess this can be closed now?

[2017-04-02 08:56] nad commented on #2528
@vlopezj, would you like to take a look?

[2017-04-02 09:06] vlopezj commented on #2528
`tog` has no indices though, only parameters. Indices are encoded with equality proofs, and then recovered using J.

[2017-04-02 09:08] nad commented on #2449
@UlfNorell and I discussed this. I think it makes sense to add a Cabal flag for the dependency on `text-icu`.

I do not think that the LaTeX backend should have different semantics depending on whether `text-icu` is available or not. One option would be to only include the LaTeX backend if `text-icu` is available. Another would be to activate extended grapheme cluster counting with a flag that giv

[2017-04-02 10:36] UlfNorell commented on #2449
The flag seems like the best option. People have been using the LaTeX backend without extended grapheme whatsit in the past, so it would make sense to keep that possibility open.

[2017-04-02 11:44] nad commented on #2528
I guess that you can fake "pointless" indices by adding extra constructor arguments and equality proofs.

[2017-04-02 22:46] asr commented on #1156
Since the version of Agda in Debian stable is a version from two and half years (Agda 2.4.0.2) and since GHC 8.0.1 reached Debian testing,  I'll remove support for transformers 0.3.0.0.

[2017-04-03 01:39] #1156 closed, assigned to asr

[2017-04-03 07:52] andreasabel commented on #2524
Thanks for fixing!

[2017-04-05 14:12] identicalsnowflake opened #2535 "Expose name id in reflection API"
We have two different `where` clauses below, both named `z`:
[code]

If you inspect this term via the reflection API, you can properly get two distinct names (with respect to `primQNameEquality`) for these two Z's, but the problem is you have no way to actually see *how* they're different. When you use `primShowQName : Name -> String`, the resulting strings are identical.

I noticed that the JS ba

[2017-04-05 14:19] UlfNorell commented on #2535
We could quite easily add two primitives to get the name id:

[code]

[2017-04-05 14:45] identicalsnowflake commented on #2535
Yes, that would be perfect!

[2017-04-06 11:11] andreasabel commented on #2486
We (Stephan Adelsberger, Anton Setzer) are running into the same problem.  The workaround is really ugly in our case: use `MAlonzo.Code.*` qualified names for the constructors in the `{-# COMPILED GHC #-}` pragma.

This issue should be fixed before we release the new GHC backend.

In some sense, this is a dynamic/static binding issue.  The interpretation of
[code]
is currently dynamic in 2.5.3, i.

[2017-04-06 11:25] andreasabel commented on #2486
The dynamic binding behavior allows me to smuggle another definition of `U` in a second module without another `COMPILE` pragma.
Module `Compiled-253`:
[code]
Module `Compiled`:
[code]
Just by adding some Haskell code I silently overwrite the semantics of `U` given in module `Compiled-253`.  This should not be possible.

[2017-04-06 22:32] twanvl opened #2536 "UTF8 parsed incorrectly for literate agda files"
The following literate agda file (`test.lagda`) gives a parse error, at least on Windows:
[code]
Error:
[code]
This is clearly an encoding issue.

Looking at the agda source code, it seems that non-literate `.agda` files are opened with `Agda.Utils.IO.UTF8.readTextFile` ([see here](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Parser/Monad.hs#L271)), while literate agda files use `

[2017-04-07 12:26] andreasabel commented on #2536
This might be an omission.  @vlopezj , can you take a look?

[2017-04-07 13:06] xekoukou opened #2537 "case splitting with 'with' creates {_} instead of replicating the arguments it found."
Case splitting without with :

[code]

results in :

[code]

Case splitting with ```with``` :

[code]

results in :

[code]

[2017-04-08 05:48] effectfully commented on #2529
I tried to install the last three version of `icu`, neither worked.

Then I tried to install Agda-2.5.2 instead of the development version. `agda.exe` was built properly, but for `agda-mode.exe` I got

[code]

(this was a second attempt via `cabal install agda -v3`). Is there a cure for this?

[2017-04-08 11:29] asr commented on #2529
I cannot see which package couldn't be installed. Which is the output of

[code]

?

[2017-04-08 12:53] effectfully commented on #2529
[code]

Everything is fine. Thank you.

But my first (failed) attempt was `cabal install Agda` and I don't see how this is different. Do you know? I don't think I could have messed up the typing of `cabal install Agda`...

[2017-04-08 13:17] asr commented on #2529
`cabal install Agda` needs to install *all* the dependencies and Agda. Sometimes `cabal-install` get confused about which dependencies where installed, so running again `cabal install Agda` fix the problem. For avoiding this problem I usually run something like the following commands when installing Agda in a fresh (new version of GHC, new version of stack , etc.) set up:

[code]

[2017-04-08 16:39] vlopezj commented on #2536
@twanvl: I applied your suggestion, it is now on both the `stable-2.5` and the  `master` branch. Can you check if it works on Windows now?

[2017-04-10 00:03] subttle opened #2538 "Internal error when parsing as-pattern"
Good day,

I'm using Agda 2.5.2 and I momentarily forgot to add parenthesis to some code involving an as-pattern, and I received an internal error.

https://github.com/agda/agda/blob/v2.5.2/src/full/Agda/TypeChecking/Rules/LHS.hs#L496

Here is a small snippet which reproduces the error
[code]
When parentheses are added, everything is fine. Also it is worth noting that the error only seems to occur

[2017-04-10 02:29] asr opened #2539 "cpphs 1.20.5 broken when using GHC 8.2.1 on Windows"
See https://github.com/malcolmwallace/cpphs/issues/11#issuecomment-292809174.

Blocked by https://github.com/malcolmwallace/cpphs/issues/11.

[2017-04-10 06:48] andreasabel commented on #2538
Thanks for reporting.
I cannot reproduce this internal error with the current development versions of Agda.
I think this was bug #2413 which I fixed recently.
Closing, please reopen if you can produce the bug with either 2.5.3 or 2.6.0 (current development versions).

[2017-04-10 06:48] #2538 closed, assigned to andreasabel

[2017-04-10 08:18] andreasabel commented on #2537
I fixed this bug simply by refactoring the display-form code in InternalToAbstract to not throw away information eagerly.

[2017-04-10 08:25] #2537 closed, assigned to andreasabel

[2017-04-10 12:49] asr opened #2540 "Support GHC 8.2.1"
Edited on 2017-07-08: Using GHC 8.2.1 RC 3 the current issues are:

* ~Missing Travis test~
* ~GHC warnings~
* ~Broken compilation of hTags~
* ~boxes library (see https://github.com/treeowl/boxes/issues/26)~
* ~geniplate-mirror library (see https://github.com/danr/geniplate/pull/8)~
* ~hashable library (see https://github.com/tibbe/hashable/issues/142)~
* ~split library (see http://hub.darcs.net/b

[2017-04-10 14:31] #2523 closed, assigned to jespercockx

[2017-04-10 22:40] twanvl commented on #2536
I have tested it, and the issues is fixed on the `master` branch on Windows.

[2017-04-11 14:49] asr commented on #2539
A new version of cpphs fixing the issue was released (1.20.5) and cpphs 1.20.4 was deprecated, so I'm closing the issue.

[2017-04-11 14:53] asr commented on #2496
Closed because https://github.com/agda/agda/issues/2539#issuecomment-293287951.

[2017-04-11 14:53] #2496 closed, assigned to asr

[2017-04-11 16:10] andreasabel opened #2543 "Case splitting with ellipsis produces spurious parentheses"
[code]

[2017-04-11 16:17] andreasabel commented on #2543
Small test case:
[code]

[2017-04-11 16:34] andreasabel commented on #2543
I have the feeling that the bug is in `AbstractToConcrete`, using the `thread`ing of environments for lists of `BindingPatterns`.  The context should not be threaded through, only the list of taken names!
Let's see...

[2017-04-11 17:25] #2543 closed, assigned to andreasabel

[2017-04-11 17:26] andreasabel commented on #2543
Bingo!

[2017-04-11 18:44] identicalsnowflake commented on #2494
I just noticed that this also occurs for pattern matching (probably the same root cause):

[code]

[2017-04-11 20:20] phile314 opened #2544 "Split agda-tests into separate cabal file"
The testsuite is currently defined in the main Agda.cabal file. I would prefer if the `agda-tests` test suite would be defined in a separate cabal file.

My motivation is that I am currently playing around with the CI Hydra Nix tool (see https://hydra.314.ch/project/Agda ) and I can't run the tests easily without having a separate cabal file. `agda-tests` has no dependency on the `Agda` library an

[2017-04-11 21:01] asr commented on #2544
Since the Cabal file has too many numbers (Cabal version supported, lower and upper bounds  for the dependencies, tools versions supported, etc.) splitting `agda-test` would mean longer maintenance times.

Is still strictly necessary to use the Makefile with recent versions of Cabal? That is, IIRC you used the Makefile due to some Cabal issues. Are these issues still open?

[2017-04-12 05:24] UlfNorell commented on #2544
The test suite doesn't have the same tool and libraries dependencies so I don't see how splitting it off would add to the maintenance burden.

Is there some benefit of running the tests with cabal instead of the Makefile that I don't understand? How would I say "make succeed fail" with cabal?

[2017-04-12 06:59] phile314 commented on #2544
I used the Makefile for two reasons, first some cabal bugs but also so that one could continue to use the same `make ...` commands for testing. I believe some of the cabal bugs are fixed, I haven't investigated yet in detail.

In principle you can run some of the tests directly using cabal, but the commands are less ergonomic in my opinion and would need some changes in the test runner. Example (u

[2017-04-12 13:26] asr commented on #2544
On second thought, I have no objection for splitting `agda-tests`.

[2017-04-12 18:50] phile314 opened #2545 "Race condition in api tests"
The api tests are using tmp files with constant names. If the api tests are run multiple times in parallel, this leads to race conditions while accessing/writing the same tmp files. See https://github.com/agda/agda/blob/master/test/api/Makefile#L10 .

[2017-04-12 19:12] asr commented on #2545
I'll fix it.

[2017-04-13 05:00] asr commented on #2545
@phile314, I pushed the above commit. Did it fix the issue?

[2017-04-13 06:37] phile314 commented on #2545
It fixes the issue, thank you for the fix :+1:

[2017-04-13 06:37] #2545 closed, assigned to asr

[2017-04-13 07:28] andreasabel commented on #2494
It seems that `insertImplicitPatternsT` inserts the instance argument in the wrong position.
[code]
That should be `{{_}} {{blue}}`.

[2017-04-13 07:31] andreasabel commented on #2494
I get the same problem with just hidden arguments:
[code]
Should not type-check.

[2017-04-13 07:34] andreasabel commented on #2494
I think this is because when translating records to constructor applications, we do not use the `Named` info, thus, `{{blue : _}}` passes for `{{red : _}}`.  (Here the names are just variable names, not argument names.)

[2017-04-13 08:09] andreasabel commented on #2494
Bingo!

[2017-04-13 08:13] andreasabel opened #2546 "Testsuite Fail: first run tests that have no .err file yet"
Testsuite Fail: first run tests that have no .err file yet.
For the Agda implementor's sake!
@phile314 : Do you think we could get that?

[2017-04-13 08:20] andreasabel commented on #2317
Has this issue gone cold?

While waiting for the perfect solution, we could implement

[2017-04-13 08:22] #2494 closed, assigned to andreasabel

[2017-04-13 11:24] identicalsnowflake commented on #2488
Not sure when exactly this was fixed, but it works correctly now. It no longer gives an unwanted error preventing you from working on the hole.

[2017-04-13 16:25] andreasabel commented on #2488
This was most probably fixed by the unfixing of #2172.

[2017-04-13 16:25] #2488 closed, assigned to nobody

[2017-04-14 07:17] andreasabel commented on #2317
I am fixing this issue by using `withSystemTempDirectory`.  Feel free to continue working on the underlying problem in the test runner.

[2017-04-14 07:46] #2317 closed, assigned to andreasabel

[2017-04-14 07:55] andreasabel opened #2547 "Use Neil Mitchell's `extra` package"
I found that https://hackage.haskell.org/package/extra has many utility functions we also define.
It's dependencies are modest.  It seems very well maintained, and has test cases for the functions it defines.
We could use `extra`.
We could even replace our own utilities by uses of `extra` where possible.

[2017-04-14 12:05] phile314 commented on #2546
Shouldn't be too difficult, changing the sort order of the test cases depending on the presence of the .err/.out file should do the trick. I can take a look in the next few days.

[2017-04-14 12:40] andreasabel commented on #2546
Good!  I have been thinking about what order would fit the development best.  Something like this, maybe:
1. The testcases without .err (only applies to Fail testsuite)
2. The testcases that are less than 24 hours old, alphabetically.  This should reflect the test cases one is currently working with.
3. The remaining testcases, alphabetically.

[2017-04-14 13:23] asr opened #2548 "Move the "Old Reference Manual" to the current documentation"
The [Old Reference Manual](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=ReferenceManual.TOC) in the Wiki has some information

* which is missing in the documentation,
* which is duplicated in documentation or
* which is obsolete

I guess everyone agrees that not having centralized documentation makes it harder to use Agda.

We should remove the Wiki manual step by step by

* adding the missin

[2017-04-14 14:35] jespercockx opened #2549 "Rewrite rule for higher path constructor does not fire"
Example by our master thesis student Leander Vignero:
[code]
This gives an error:
[code]
Should succeed.

[2017-04-14 14:56] jespercockx commented on #2549
Observations:
- If you replace the final `idp` with a hole, then agda accepts `idp` in the hole but complains after you reload the file.
- If you put `drumD-β` outside of the module `DiskElim`, then it *is* accepted.
- If you change the type of `drumD-β` to `apd {B = λ z → PathOver (λ z → P z) z baseD* baseD*} (apd f) drumD == drumD*`, then the definition is accepted as well.

[2017-04-16 15:01] asr commented on #2539
cpphs 1.20.5 broken when using GHC 8.2.1 on Windows (see https://github.com/malcolmwallace/cpphs/issues/11#issuecomment-294297975).

Blocked by https://github.com/malcolmwallace/cpphs/issues/11.

[2017-04-19 07:18] nad commented on #2536
The `readFile` function uses the current locale to determine the encoding, at least on some systems. Agda sources must always be UTF8-encoded, and we should always use the UTF8 encoding when reading and writing Agda sources.

I can trigger a similar problem on my Linux machine:
[code]
I suggest that we add test cases that set `LC_CTYPE` to `C`, like I do above, both for literate and for non-litera

[2017-04-20 07:39] nad opened #2550 "Internal error in Agda.TypeChecking.Substitute"
Consider the following code:
[code]
This code triggers an internal error in Agda 2.6.0-b1fdf1c:
[code]
This is a regression. Bisection suggests that the bug was introduced by @UlfNorell in bf9ff1e676d51ce35d50658b6274ecdb8b60fda2 ("[ fixed #2047 ] fixed broken apply for clauses").

[2017-04-20 09:06] andreasabel commented on #2550
Nothing to do with this issue, but is there a reason why you never use the agda markdown syntax highlighting when reporting a but, @nad.  I have just been wondering, since you are a regular bug reporter... I routinely add the highlighting to your bug reports to see quicker what is going on.

[2017-04-20 12:32] xekoukou opened #2551 "Size defaulting to infinity and with-abstraction"
Here, if one checks the 2nd goal, one will see that the type of the goal or of r is not abstracted over g.

[code]

[2017-04-20 14:21] asr opened #2552 "Let bindings in module telescopes crash Agda.Interaction.BasicOps"
MWE of an issue privately reported by @mechvel:

[code]

[2017-04-20 15:32] andreasabel commented on #2552
The code fixing #317 no longer works, as we have let-bindings in module parameters.  Also, it would not work with parameter-refinement.

The proper way to fix this issue would be to represent let-bindings also in the section telescopes in internal syntax.  Then one could, for instance, also ask for the value of `zero` interactively, with `C-c C-n zero`.

The quicker way to partially repair this is

[2017-04-20 15:42] andreasabel commented on #2552
Example not using the std-lib:
[code]

[2017-04-20 16:09] andreasabel commented on #2551
During with-abstraction, we could possibly treat all irrelevant arguments as matching.

[2017-04-21 11:51] andreasabel commented on #2551
Test-case without std-lib:
[code]

If I remove irrelevance, it behaves the same, thus, irrelevance is probably not to blame.
However, if I remove the Size argument or just postulate a Size type, it works. Thus, must be something about sizes.

[2017-04-21 12:03] andreasabel commented on #2551
If one fills in sizes explicitely, it works as expected:
[code]
It seems the best way to proceed is to fix irrelevant size arguments, then this problem can be avoided.

Related: #1796.

[2017-04-24 09:57] andreasabel commented on #2552
I am fixing this by dropping let-bound variables from the telescope when preparing the context for top-level command execution.
Resolves the original issue, but referring to `foo` is still broken, yields an unbound-variable panic.

[2017-04-24 10:34] #2552 closed, assigned to andreasabel

[2017-04-24 12:48] andreasabel commented on #2550
@UlfNorell Since you worked on this recently, I think it is most efficient if you take a look on this issue.

[2017-04-25 07:59] nad commented on #2550
Yes, the highlighting you get here is not "proper" Agda highlighting.

[2017-04-25 09:08] UlfNorell commented on #2550
The problem is that we try to reify pattern lambda clauses before record pattern translation, breaking the precondition of `apply`. Fix incoming.

[2017-04-25 09:19] nad opened #2553 "Internal error in Agda.TypeChecking.CheckInternal"
Consider the following code:
[code]
This code is accepted by Agda 2.5.2, but with Agda 2.6.0-5e11e98 I get an internal error:
[code]
Bisection suggests that this bug was introduced by @UlfNorell in a45f5ce064b97a590a090a4921d92906ab34a461 ("[ constraints ] anti-unification when getting stuck checking argument spines").

[2017-04-25 09:32] #2550 closed, assigned to nobody

[2017-04-25 10:07] #2553 closed, assigned to nobody

[2017-04-25 12:18] andreasabel commented on #2530
We could change the semantics of `--ignore-interfaces` that it does not include interfaces from
* Agda's primitive/builtin libraries
* Libraries the current project depends on (see field `depend` in the `.agda-lib` file)

It would still ignore interfaces coming from the included directories, either given on the command line, or via the `include` field of the `.agda-lib`.

[2017-04-25 13:34] jespercockx commented on #1602
The current situation is quite crazy: my example `id` in the original post is accepted by Agda, EXCEPT when you enable --experimental-irrelevance, then you get an error. This is almost certainly not what we want.

[2017-04-25 13:38] jespercockx commented on #1602
Aha, I see @UlfNorell fixed this issue under the guise of #2128, but the case for --experimental-irrelevance was left unchanged. The problem is that when we combine both features (turning irrelevant into nonstrict and nonstrict into relevant) then we can eventually get from irrelevant to relevant, which is maybe not desirable.

[2017-04-25 13:54] jespercockx commented on #1602
I thought about it for a bit and I don't immediately see what could go wrong if we do both (famous last words, I know). The testsuite also passes without problems (perhaps unsurprisingly since --experimental-irrelevance isn't used very much). Since this option literally has *experimental* in the name, I propose I push my change and we'll see what happens.

[2017-04-25 15:06] andreasabel commented on #1602
@UlfNorell hijacked my `NonStrict` modality for run-time irrelevance.  However, I intended `NonStrict` arguments as shape-irrelevant.  I have not thought about what the original example
[code]
should mean in terms of shape-irrelevance, since `id` does not necessarily construct a type, thus, formation of `.(A : Set) -> id A` is illegal for other reasons.

My intention for shape-irrelevance in types

[2017-04-26 14:17] andreasabel opened #2554 "More flexible size-assignment in successor style"
This should work:
[code]
Or mutual recursion:
[code]

[2017-04-26 15:40] andreasabel opened #2555 "Why does the positivity checker care about non-recursive occurrences?"
[code]
produces this graph:
[code]
Why should I care about occurrence of the postulates in `D`?  How would they contribute to positivity or polarity?

[2017-04-26 15:57] andreasabel commented on #2555
This goes back to at least 2.3.2.

[2017-04-26 17:21] #2554 closed, assigned to andreasabel

[2017-04-26 17:21] #2555 closed, assigned to andreasabel

[2017-04-26 18:07] andreasabel commented on #1946
One year later, I reinvented this counterexample, however, avoiding `getSize`.
[code]

[2017-04-26 18:25] andreasabel commented on #1946
The following variant is slightly more worrying.  I do not see any fishy uses of `oo : Size< oo` here.  We just need an inhabitant of `SizeLt oo`.
[code]
CORRECTION: the `oo < oo` is still used in the application of `h : (j : SizeLt oo) -> D oo j`.

[2017-04-27 15:53] andreasabel opened #2556 "Pattern unifier does not eta-contract modulo singleton types"
[code]
In `test`, the meta is yellow.  Agda does not eta-contract `λ y → x record{}` to `x`.
To implement this, we would need to check whether the argument to `x` is, if not `y`, of a singleton type.  Potentially a performance hazard, but the theory asks for this to work.

[2017-04-27 20:40] nad commented on #2556
Now I'm only speculating, but another approach might be to eta-expand (maybe lazily). However, I'm guessing that the pattern fragment, as implemented, does not include eta-expanded terms. If that is the case, could one change the implementation so that eta-expanded terms are included in the pattern fragment?

[2017-04-28 07:27] andreasabel commented on #2556
Yes, but in the end you want to eta-contract to a variable you can abstract over.

I noticed that a fix for this issue would need a type-aware traversal of terms.  Or we implement a special eta-contration procedure that only cares about whether in the end a variable is reached.

Here is an example where the singleton is deeper in the term:
[code]

[2017-04-28 07:35] andreasabel commented on #2556
Eta-contraction of record values also does not consider singletons:
[code]

[2017-04-28 09:50] m0davis opened #2557 "Unable to omit (copattern) clause for instance field"
According to the [current documentation](https://agda.readthedocs.io/en/v2.5.2/language/record-types.html#instance-fields), we may omit clauses of instance fields when defining the value of a record type using copatterns. The below shows a counter-example: any proof of `Subclass` must either use a record expression or include its instance field.
[code]

[2017-04-28 10:06] andreasabel commented on #2556
Agda could also prune zero-information arguments (however, here we should not take irrelevance into account):
[code]
Maybe going too far, but one could also take the isomorphism `(⊤ → A) ~ A` into account.
[code]

[2017-04-28 12:38] andreasabel commented on #2557
First error is
[code]
The rhs type should be `NotBlocked MissingClauses` but we do not postpone the equality check for this reason.  Maybe we should while we are processing the function.

(#1113 seems at least somewhat related.)

[2017-04-28 17:33] andreasabel opened #2558 "Internal error in Warshall Solver"
Youyou Cong reports:
[code]
[code]

[2017-04-28 17:48] andreasabel commented on #2558
Shrank to:
[code]

[2017-04-28 18:08] andreasabel commented on #2558
The corresponding size-solver problem is:
[code]
simplified to
[code]
with solution
[code]

[2017-04-28 18:54] andreasabel commented on #2558
The internal error goes away when I remove an offending `__IMPOSSIBLE__`.

[2017-04-28 18:56] #2558 closed, assigned to andreasabel

[2017-04-29 09:04] andreasabel commented on #2546
I am taking over.  But I think I will skip the .err part, for simplicity.

[2017-04-29 12:58] andreasabel commented on #2449
This should be done soon, so we are able to release.

[2017-04-29 14:58] asr commented on #2449
I renamed some labels for avoiding confusion. The new labels are `release-blocker`, `blocking-issue` and `blocked-by-issue`.

[2017-04-29 15:40] #2546 closed, assigned to andreasabel

[2017-04-30 07:51] phile314 commented on #2546
Sorry that I couldn't get round to it, I have been quite busy the last few weeks...

[2017-04-30 18:56] turion opened #2560 "Internal Error in Reduce.Fast"
I was happily coding when suddenly I got this error:

[code]
It happened when refining a hole. I can supply the code if that helps (it's not public yet).
Agda version is 2.5.2.

[2017-04-30 20:20] andreasabel commented on #2546
No problem, wasn't that hard.  I was eager to get this feature.

[2017-04-30 20:22] andreasabel commented on #2560
Ah yes, please.  Ideally a MWE.  Without an example, we cannot do anything.

[2017-05-01 20:03] andreasabel commented on #2556
I am working on this, using CheckInternal for a type-directed eta-contraction.  However, this has uncovered sleeping bugs, for instance in record definitions (see #2500).  Currently, progress is blocked here.

[2017-05-01 20:10] andreasabel opened #2561 "In record declarations, meta variables are messed up"
[code]
Without the field, the meta is solved by `?0 := x`.  When the field is present, the internal representation of the meta seems to be messed up such that the `expandProjectedVar` magic no longer works.
[code]
This issue should be fixed along with #2500.
Also, the fix for #707 does not do the correct thing for this example (see #2257).  However, even if we replace the interaction meta by an un

[2017-05-02 19:47] laMudri opened #2562 "Internal error in Agda.TypeChecking.With"
Loading the following
[code]
gives the error
[code]
Removing the line `open Coℕ` makes the file load fine, as does changing `(xs ++ ys) .force` to `(xs ++ ys) .Colist.force`. I'm guessing it's something to do with ambiguous copattern field names.

[2017-05-02 19:52] andreasabel commented on #2562
I think this bug has been fixed already.  With the development versions (2.5.3 and 2.6.0), your file checks fine.
Which Agda version are you using?

[2017-05-02 19:53] laMudri commented on #2562
Sorry, yes, I'm using 2.5.2.

[2017-05-02 19:59] andreasabel commented on #2562
Ok, then I close this.  I hope we will release in a while, but for now, this will only work with the development versions.

[2017-05-02 19:59] #2562 closed, assigned to andreasabel

[2017-05-03 04:23] m0davis opened #2563 "Improve documentation and error reporting related to instance resolution (especially unconstrained metavariables)"
The [documentation](https://agda.readthedocs.io/en/v2.5.2/language/instance-arguments.html#instance-resolution) does not say explicitly what Agda does when finding an unconstrained metavariable (UM) whilst trying to resolve an instance argument. As the following code demonstrates, what it does is fail, confusingly reporting all lambda-bound variables that are bound as instance arguments under "Can

[2017-05-03 16:57] UlfNorell opened #2564 "Non-exact-split highlighting makes other highlighting disappear"
From discussion in c9458dac.

@jespercockx wrote:

Just to make sure this doesn't get forgotten.

[2017-05-03 19:10] jespercockx commented on #2564
Thank you for the reminder, it's definitely still on my to-do list.

[2017-05-04 08:54] nad commented on #2564
I think someone asked for a lighter shade of grey. I would also prefer this.

[2017-05-04 11:22] gallais commented on #2564
The same is true of the highlighting for incomplete coverage, postivity error or even unsolved meta variables for that matter. We probably want to use [Overlays](https://www.gnu.org/software/emacs/manual/html_node/elisp/Overlay-Properties.html) rather than distinct fonts for all of these, don't we?

[2017-05-04 14:14] favonia opened #2565 "Options for the interaction action give to keep the overloaded literals and sections?"
I am thinking about an option for the action `give` during interaction to keep unexpanded overloaded literals and sections. Maybe even make it the default behavior. That is, `a +_` will not be expanded to `λ section → a + section` and `n` will stay as `n` not something like `fromNat n`. (Note: maybe this is already solved in the Emacs scripts but I am not using Emacs.)

[2017-05-04 17:08] andreasabel commented on #2565
I am not aware of any Emacs hacks to preserve sections.

I think we should preserve sections when the user wrote them.  We already have `Origin`-info for arguments and projections.  We could also equip the `Def` constructor from `Syntax.Internal` with some information on where it came from (a section, or...).

[2017-05-04 17:12] identicalsnowflake opened #2566 "Instance search complains about unsolved metas depending on how a function is defined"
Try the 3 different definitions of `_~_` below. The first two, Agda accepts with no complaint, but the third causes an unsolved meta.

[code]

Especially the discrepancy between 1 and 3 is very odd to me, since they have the same type signature, and the variables `a` and `b` are quantified so they contain no usable pattern matching information.

EDIT: Here's an even more interesting example:

[cod

[2017-05-04 17:17] favonia commented on #2565
How about the overloaded literals? I changed the title because I realized the same issue probably applies to strings as well.

[2017-05-04 17:45] UlfNorell commented on #2566
Case 1 works since `_~_` is a postulate, so the only way to solve `_X ~ _Y == u ~ v` is with `_X := u` and `_Y := v`.

Case 2 works because all right-hand sides of `_~_` are constructor headed, so the above holds when `u ~ v` is neutral.

In case 3 it does not hold: another solution is `_X := zero` and `_Y := u ~ v`.

[2017-05-04 17:45] #2566 closed, assigned to nobody

[2017-05-04 17:48] identicalsnowflake commented on #2566
Huh. This seems to, at least at a meta level, disprove functional extensionality. The two definitions in my PS are provably extensionally equal, but instance search can discern between the two.

[2017-05-04 17:58] UlfNorell commented on #2565
The hack is [here](https://github.com/agda/agda/blob/69f6a558535338a33e145337d2f887643b62557f/src/full/Agda/Interaction/InteractionTop.hs#L1189), in the `literally` variable. For the give command (and refines that didn't add any holes) we simply have Emacs insert whatever string the user wrote in the hole.

[2017-05-04 18:07] UlfNorell commented on #2566
If you couldn't "disprove functional extensionality" at the meta level, we'd have extensional type theory. Sadly we're stuck in the intentional version. For instance, the type checker happily accepts `refl : a + b ≡ a + b`, but rejects `refl : a + b ≡ b + a`, even though `a + b` and `b + a` are extensionally equal.

Also, note that instance search isn't really involved here, the difference shows u

[2017-05-04 18:20] identicalsnowflake commented on #2566
Now that you mention it, I can see with your refl example that obviously extensional equality is not exactly aligned with intentional at the meta level.

Still, regarding the instance search - does it even need to be trying to solve the problem it's getting stuck on? The postulate example demonstrates that if only the type signature is used and no information about the definition is used, then a s

[2017-05-04 18:34] UlfNorell commented on #2566
If you look at the constraints, you'll find that it did solve the instance problem. The only thing that remains is checking that the solution is type correct. For this it needs to solve the unification problem that's only solvable in the first two cases.

[2017-05-04 18:40] identicalsnowflake commented on #2566
Oh, I see what you mean now -- yes, I can provide the instance solution `{{~-com}}` and still get the unsolved unification, so it can't be instance search's problem.

[2017-05-04 18:42] UlfNorell commented on #2566
In case it wasn't clear, here's the core problem:

[code]

For a unification problem `f _X _Y == f u v`, the only solution is `_X := u, _Y := v`. For the problem `g _X _Y == g u v` you have two possible solutions: `_X := u, _Y := v` and `_X := zero, _Y := u + v`.

Saying that it's enough to look at the type signature amounts to giving up on the second solution. It's not too hard to construct an ex

[2017-05-04 19:01] identicalsnowflake commented on #2566
Right, I understand what you're saying now (at least I think I do) -- the problem is that instance search is finding an instance solution, but the instance it finds doesn't have a unique unifiable solution with the goal, and therefore, Agda refuses to solve it and gives an error, right?

In general, I agree with the unifier's behavior -- I don't want `_` choosing a non-unique solution. However, in

[2017-05-04 19:14] m0davis commented on #2566
@identicalsnowflake, fwiw, I notice that marking `_~_` as `abstract` also yields a unique solution. Maybe that somehow will help you out of your predicament.

[2017-05-04 20:03] identicalsnowflake commented on #2566
It does, but I can't immediately think of a way to make that useful, since the result you get is stated in terms of an abstract `~`, you can't use it later to compute anything.

Playing around a bit, it does work if you quantify over `_~_`, perform the search, then plug in `_+_` afterward, but doing this is fairly verbose and it requires you to explicitly restate the entire goal in terms of the qu

[2017-05-07 13:02] ggreif opened #2567 "Cpphs not installed when installing Agda on Haskell Platform"
Installation of `agda-2.5.2` just failed on a freshly installed Haskell Platform 8.0.2 (full).

Maybe the dependency to `cpphs` is not correctly declared in the cabal file?

[2017-05-07 13:54] asr commented on #2567
Thanks for reporting the issue. Current versions of `cabal-install` don't install the tools listed in the `build-tools` field in the `.cabal` file, so you need to install Alex, Happy and cpphs.

[2017-05-07 14:20] favonia commented on #2567
FYI: the `stack` tool will install these dependencies for you.

[2017-05-07 14:40] andreasabel commented on #2567
It would be nice if a simple `cabal install Agda` would suffice.

We could at least get rid of the alex and happy dependencies by adding the .hs file to the released version.
Can we do something about cpphs?

[2017-05-07 19:57] m0davis opened #2568 "agda2-infer-type-maybe-toplevel (in hole) does not respect "single-solution" requirement of instance resolution"
[code]
`agda2-infer-type-maybe-toplevel` (C-c C-d) should show `R l1`, but instead we get `R l2`.

Evidently, while in the hole, Agda is resolving `it` as `R2` instead of `R1`. This seems to be a problem only in interactive mode: when the goal is refined (the hole brought to top-level), there are no type errors, so presumably, in that case, Agda resolves `it` as `R1`.

[2017-05-07 22:25] andreasabel commented on #2568
I do not really see what you want to demonstrate with this example.  `self {{ it }}` is ambiguous, thus, Agda is not wrong to show you type `R l2`.  Maybe you want to see an error instead?

[2017-05-07 23:14] asr commented on #2567
Yes. We can add `cpphs` as a dependency but I don't like this solution. Future versions of `cabal-install` will install the tools listed in the `build-tools` field.

[2017-05-08 02:34] m0davis commented on #2568
I now see that `self {{ it }}` is ambiguous in the sense that there are multiple instance candidates, and that this is because `agda2-infer-type-maybe-toplevel` makes no attempt (by design) to unify with the goal. I still think Agda is wrong to show `R l2`: I think the example demonstrates that Agda is arbitrarily resolving an instance argument when there are multiple non-identical solutions. I wa

[2017-05-08 21:34] WolframKahl commented on #1895
Natalie Perna and I are currently working on this in https://github.com/natalieperna/agda/tree/stable-2.5-inline-projections .

[2017-05-09 00:28] xekoukou opened #2569 "Nested 'where' name collisions."
[code]

This returns an error :
[code]

[2017-05-09 04:13] asr commented on #2540
GHC 8.2.1 RC2 is reporting a heap exhausted error *only* on master when testing #1829:

[code]

[2017-05-09 05:06] UlfNorell commented on #2569
This is intended. You get the same error if you try to shadow a top-level definition with a local function.

[2017-05-09 05:06] #2569 closed, assigned to nobody

[2017-05-09 05:23] andreasabel commented on #2569
You can switch the order:
[code]

[2017-05-09 05:43] andreasabel commented on #2540
I think @Saizan and/or @nad should investigate whether ghc 8,2 brings #1829 back or this is just a false alarm.

[2017-05-09 08:24] gallais opened #2570 "Upload Haddock generated doc to github pages"
Given that we generate haddock documentation on travis after each push (?), we could have it sit on https://agda.github.io/ by getting travis to push it to a repo called agda/agda.github.io. See e.g. [1] for a travis deployment script.

[1] http://www.steveklabnik.com/automatically_update_github_pages_with_travis_example/

[2017-05-09 09:25] nad commented on #2487
I've added the "false" label, because I assume that one can currently use `--cubical` in one module, `--with-K` in another, and produce an inconsistency by combining the two.

[2017-05-09 09:57] nad commented on #2565
See also #2270.

[2017-05-09 13:08] UlfNorell opened #2571 "Record pattern translation does not eta contract"
Consider the following two functions `f` and `g`:

[code]
The compiled clauses for these are (check for instance with `-c -v treeless:20`)
[code]
I'm not sure when we eta contract the body of `f`, but since we do we ought to do the same for `g`

[2017-05-09 13:16] favonia opened #2572 "Handling of name collision of implicit module parameters and arguments"
I am slightly confused by how Agda is currently handling variable name collision. In the following code, `T.id` theoretically has three implicit arguments (badly) named as `A`. Only the second one (which I believe was a parameter of the module `S`) is renamed to `A₁`.
[code]
The behavior I expected is one of the following:

1. everything is renamed to avoid collision, so that the final `A` is `A₂`

[2017-05-09 15:32] #2571 closed, assigned to UlfNorell

[2017-05-09 16:09] andreasabel commented on #2572
The behavior we are aiming for is that no hidden argument name is changed by Agda.  The expected type would be
[code]
The current behavior is buggy.

[2017-05-09 16:19] twanvl opened #2573 "Rewrite rules fail depending on unrelated changes"
I discovered an issue with rewrite rules sometimes not firing. With the following code I can get very strange behavior. The code typechecks, but, if you do one of the following, typechecking fails:
 * remove the Unused data type
 * remove one of the constructors of the unused data type
 * copy-paste the submodule three times.

Depending on some variations of this code, different tweaks will break

[2017-05-09 16:40] favonia commented on #2572
Actually that was my original expectation, and then I found renaming or a warning could be useful after being surprised. In any case, I am fine as long as the behavior is consistent.

[2017-05-09 16:49] favonia commented on #2570
The following seems better because it uses a new SSH key instead of a personal access token. This way other collaborators will not be able to steal the token.

https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2017-05-09 17:33] phile314 commented on #1895
I only took a quick glance at your branch, but if I understood correctly you inline projections during the ``Internal -> Treeless`` translation. In a second step, you get rid of all the duplicated ``case`` expressions again and float them out. Wouldn't it be simpler to just not generate that many ``case`` expressions in the first place? E.g. following your suggestion in [https://github.com/agda/ag

[2017-05-09 17:44] gallais opened #2574 "No link attached to module without toplevel name"
What it says in the title: `B.agda` loads just fine but there is no link attached to `A` in `open import A` which means that it is impossible to reach it both in emacs (via `M-.` or `click-2`) and the generated html doc.

`A.agda`:

[code]

`B.agda`:

[code]

[2017-05-09 18:05] nad commented on #2572
See also #2018.

[2017-05-09 18:33] phile314 commented on #2508
Another related "problem" are top-level constants. This constants may be expensive to compute, but due to eager evaluation we will evaluate them no matter if they are used or not, and we do this at module load time. Example:
[code]

Generated JS code:
[code]

This is not a bug per-se, but it certainly differs from the GHC backend and it would be nicer if top-level constants where thunks.

[2017-05-10 08:06] nad opened #2575 "Internal error, related to caching"
I managed to consistently trigger an internal error related to caching, using Agda 2.6.0-f806867:
[code]
This is a regression:
[code]

[2017-05-10 08:58] nad commented on #2575
Bisection suggests that the regression was introduced by @nad in 80a3b1599be4249756b1f2561acb2027cf08848d ("Fixed a second problem related to issue #2447").

[2017-05-10 10:04] andreasabel commented on #2018
@UlfNorell: You have not answered my question from 14 Jan 2017 in https://github.com/agda/agda/commit/67d50a9159147f0aa990aef4ae3ccbbfdd2b56df

[2017-05-10 10:12] UlfNorell commented on #2018
Why does underAbstraction the realName thing and addContext not?

I don't know.

[2017-05-10 10:12] #2018 closed, assigned to andreasabel

[2017-05-10 15:56] andreasabel opened #2576 "Shadowing data decl by data sig produces Missing type signature error"
[code]
reports for the second declaration of `⊥`:
[code]
I had expected a complaint about a duplicate definition of  `⊥` instead.

[2017-05-10 16:06] andreasabel commented on #2576
This bug is not easy to fix with the current separation of `Syntax.Concrete.Definitions` (which raises the current error) from `Syntax.Translation.ConcreteToAbstract` (which should raise the error, complaining about a duplicate definition).

[2017-05-10 16:08] UlfNorell opened #2577 "deBruijn fail for higher order instance problem"
[code]

[2017-05-10 16:20] andreasabel commented on #2018
The purpose of my question is that my question is answered in a comment in the code, not here on the issue tracker.

Don't discourage your code reviewers!

[2017-05-10 17:54] nad opened #2578 "Catch-all clause face used incorrectly for parent with pattern"
Consider the following code:
[code]
Agda correctly highlights the final clause with the face for catch-all clauses. However, the pattern `false` in the left-hand side `A | false` is also highlighted with this face. This highlighting goes away if the last line is replaced by `A | false | _ | just ()`.

[2017-05-10 18:33] #2480 closed, assigned to nobody

[2017-05-10 18:33] nad opened #2579 "Import statements with module instantiation should not trigger an error message"
An import statement of the form `import M args` triggers the following error message:
[code]
However, if `M` contains instances, then this kind of import statement actually makes sense.

[2017-05-10 18:52] nad commented on #1946
Here is a related issue, posted to the Agda list by @andreasabel more than five years ago. I made the code work by changing the import statements:
[code]

[2017-05-11 09:06] UlfNorell opened #2580 "Implicit absurd match is NonVariant, explicit not"
[code]

cc #2516, @WolframKahl

[2017-05-11 09:20] #2577 closed, assigned to UlfNorell

[2017-05-11 09:33] UlfNorell commented on #2580
I think this is the cause of the sudden failure of `test/Compiler/with-stdlib/dimensions.agda`. I worked around the failure in 48c6bee, but that commit should be revisited after this issue is resolved.

[2017-05-11 09:58] gallais commented on #2577
Shouldn't this test case be in Fail? https://github.com/agda/agda/blob/master/test/Succeed/Issue2577.agda

[2017-05-11 10:48] UlfNorell commented on #2577
No, that test case should check now.

It was actually two problems here: one deBruijn error and a separate problem with instance goals that resolve to a function type after the instance meta has been created. Previously we handled function types when creating an instance meta which didn't work if the goal was a meta variable.

[2017-05-12 15:11] #2575 closed, assigned to nad

[2017-05-12 16:01] #2580 closed, assigned to jespercockx

[2017-05-13 08:23] phile314 commented on #2570
Just FYI, if you want to take a look at the current haddocks right now, I have a job running on my own server that produces them:
https://hydra.314.ch/job/Agda/Agda-master/ghc801.x86_64-linux.haddock/latest/download/1

But using github pages is probably better,  because I can't really promise that I will keep the job running on my server forever.

[2017-05-13 08:38] andreasabel commented on #2579
Ok, I commented out the line in the parser that raised the error.

[2017-05-13 09:03] phile314 commented on #2486
I implemented the pattern synonym approach and it works nicely. However, GHC 7.6 does not support pattern synonyms. Does Agda actually still support GHC 7.6? According to Agda.cabal it does. Anyway, I suggest that the GHC backend will require GHC 7.8 from now on. Any objections?

[2017-05-13 09:05] andreasabel commented on #2578
Some ranges were not set properly in expandEllipses.

[2017-05-13 09:10] gallais commented on #2486
[Debian stable is still on ghc-7.6](https://packages.debian.org/search?keywords=ghc&searchon=names&suite=all&section=all) however the backports do provide 7.8 or newer. No objection from me.

[2017-05-13 10:01] #2578 closed, assigned to andreasabel, jespercockx

[2017-05-13 15:21] Saizan opened #2582 "Operations on intervals should respect De Morgan algebra laws even for (some) neutral terms"
For example ```(i ∧ j) = (j ∧ i)``` should hold even when ```i``` and ```j``` are postulates, this should be doable by comparing clauses with bag equality.

[2017-05-13 15:33] asr commented on #2486
Yes. We discussed about removing support for GHC 7.6 in #1972 one year ago. I'll reopen this issue and remove the support for this version of GHC.

[2017-05-13 16:39] jespercockx opened #2583 "Wrong de Bruijn index introduced by absurd pattern"
I introduced an error in a test case (https://github.com/agda/agda/blob/master/test/LibSucceed/Issue784/Values.agda) in my patch d34cfe19315e826351a8bf4e6d220066325b3bfc, for which I'm very sorry. So far, I have managed to minimize the test case to the following:
[code]
This results in an internal error:
[code]
I suspect the problem has something to do with the with-inlining done by the terminatio

[2017-05-13 17:25] phile314 commented on #2486
To be clear, the GHC 7.8 requirement here only applies to code generated by the GHC backend and not to Agda itself. Personally, I am in favor of dropping GHC 7.6 support for both the GHC backend and Agda itself. Might also be easier to communicate.

[2017-05-13 22:04] #2583 closed, assigned to jespercockx

[2017-05-14 06:02] favonia opened #2584 "Duplicate warning printing"
Git-bisecting told me that, since commit 9f315a6fff45da373b357dc01b0ba0b97fc499f6, the `OldBuiltin` warning (and probably other warnings too) will be printed again when imported into other files. Such warnings were printed only once, which I feel is better. Check the following file `B.agda` and you will see the same warning twice.

`A.agda`:
[code]

`B.agda`:
[code]

[2017-05-14 16:34] andreasabel commented on #2583
So only the with-inlining in the termination checker brought this de Bruijn index error to light.  Apparently, absurd patterns are nowhere used seriously after lhs-checking.

[2017-05-14 16:38] andreasabel commented on #2584
Right, there should be maybe two classes of warnings.  Inessential ones like the one above, and more essential ones (like overlapping clauses).
Over to @fredrikNordvallForsberg and @gallais.

[2017-05-14 16:39] jespercockx commented on #2583
Yes, I think on the longer term we should remove the Pattern argument from AbsurdP entirely. But for now keeping the old pattern seemed to be the easiest solution that didn't break everything.

[2017-05-14 16:42] andreasabel commented on #2486
I recently asked about continuing support for ghc-7.6 on the mailing list and a non-empty set of people came forward in favor of keeping 7.6 support.  Thus, I'd like to keep it.

However, I see no problem that the ghc backend requires 7.8.

[2017-05-14 16:48] andreasabel commented on #1972
We should keep support for ubuntu 14.04, and I guess this is for ghc 7.6?

Quoting an email conversation with Martin Escardo:

On 28/03/17 14:27, G. Allais wrote:

If it is not much trouble, I would like Agda to run in Ubuntu 14.04, for
several reasons (a machine I use for teaching needs 14.04 as some
software I need is broken in 16.04 (yes, we do teach Agda here), a
lightweight netbook I use for

[2017-05-15 07:15] fredrikNordvallForsberg commented on #2584
The warning is printed once when encountering it in `A.agda` (before `Finished A` in the output), and again at the end after finishing typechecking `B.agda`. In general, I think this is the right thing to do, because the first time it is printed could be deep inside the trace and overlooked by the user. However I am implementing an option to ignore warnings from imported modules, would that satisf

[2017-05-15 07:39] andreasabel opened #2585 "Definition by copatterns not modulo eta"
Martin Stone Davis reports:
[code]
The error:
[code]

[2017-05-15 08:10] gallais commented on #2584
I can see use cases for both of these warnings:

* the in-trace ones allow you to cancel the build as soon as there's a warning to fix it
* the end ones allow you to actually see the list of all warnings if the trace flashes by really quickly

I guess we could have options controlling the behaviour and allowing the user to pick one, the other or even both.

[2017-05-15 09:55] #2585 closed, assigned to andreasabel

[2017-05-15 10:55] favonia commented on #2584
@gallais Indeed. @fredrikNordvallForsberg I would then concur @gallais and suggest the following as the default behavior (possibly with options to change it): one at the end of checking `A.agda` and another one *at the very end* of Agda type-checking if `A.agda` is not the "root" of type-checking. So Agda accumulates those warnings along the way and prints them at the very end, with a clear messag

[2017-05-15 11:04] asr commented on #2486
No. You asked about the support  for GHC 7.8.

[2017-05-15 11:10] asr commented on #1972
Yes, Ubuntu 14.04 has GHC 7.6.3.

[2017-05-15 14:45] andreasabel commented on #2486
Indeed, I confused this.

[2017-05-15 15:36] fredrikNordvallForsberg commented on #2584
Yes, that seems very sensible. Let's see what we can do. Maybe it would be clearer to consistently report warnings in the trace, even if they arise from the root module, and then collect them all in the end?

For `A.agda` containing `{-# BUILTIN ZERO O #-}` and `B.agda` importing A, and having unreachable clauses, I propose the following output:
[code]

[2017-05-15 15:50] favonia commented on #2584
I am fine with this, and would like to leave the detailed UI design to others.

[2017-05-15 19:01] nad commented on #2403
I have some code that takes several minutes longer to type check when this feature is active. Without the feature:
[code]
With the feature:
[code]
Please revert it.

[2017-05-15 19:39] gallais commented on #1972
It looks like [this refactoring](https://github.com/agda/agda/commit/b9cf2f9417e654e33f0e41e819dd3ab4c16262e8) will have to be reverted if we want to keep supporting 7.6: I'm getting [a parse error](https://travis-ci.org/agda/agda/jobs/232510156#L3434) on travis because apparently closed type families were added in 7.8.

[2017-05-15 20:17] andreasabel commented on #1972
Aha. Ah yes, that would be a pity.
Not clear what to do.  Save that refactoring for next year when ubuntu 18.04 is out?
I have no clue how easy it is to install 7.8 on ubuntu 14.04.

[2017-05-15 20:24] asr commented on #1972
Right, they were added on 7.8.

What about of using the open ones?

[2017-05-15 20:31] asr commented on #1972
[Here](https://launchpad.net/~hvr/+archive/ubuntu/ghc/) are the GHC backports for Ubuntu including 7.8 and newer.

[2017-05-15 21:06] gallais commented on #1972
I'd guess they are order independent like typeclasses in which case I don't see a way of writing [IsBase](https://github.com/agda/agda/blob/350259501aaa910157e2f92b4a8f2e7677a4a99e/src/full/Agda/Utils/TypeLevel.hs#L77) which is inherently overlapping. :/

[2017-05-16 07:52] nad opened #2586 ""λ where" with single absurd clause not parsed"
The following code does not parse:
[code]

[2017-05-16 09:08] #2403 closed, assigned to nad, andreasabel

[2017-05-16 10:00] andreasabel commented on #2586
There is evidence in the code that someone originally tried to get this to work (for extended lambdas), but gave up due to conflicts.
[code]
Note that the last (conflicting) clause is commented out.

I think we could just document this special case.  The workaround `\()` is actually shorter than the `\ where ()`.

[2017-05-16 10:49] nad commented on #2586
Just an aside: Your workaround does not work for more complicated absurd patterns.

[2017-05-16 14:35] andreasabel commented on #2574
There was no range created for anonymous module names.  I fixed this in Parser and ConcreteToAbstract.

[2017-05-16 14:38] andreasabel commented on #2570
Someone just contributed a github pages deployment for https://github.com/agda/agda-spec which could be adopted to publishing the haddockumentation.

[2017-05-16 14:50] #2574 closed, assigned to andreasabel

[2017-05-16 16:25] m0davis opened #2587 "postfix projections not working for (non-field) functions"
Postfix projections are not working when the projected function is not a field of some record module. Agda rejects the following:

[code]
The error is:
[code]
Fwiw, such projections do work when the function is a non-field of the given record module (but is a field somewhere):
[code]

[2017-05-16 17:16] jespercockx commented on #1209
I guess this deserves the false label?

[2017-05-17 10:35] bch29 opened #2588 "`agda --latex` produces invalid LaTeX when there are block comments"
I'm using Agda version 2.5.2.

Test.lagda:

[code]

[code]

[2017-05-17 11:03] asr commented on #2588
Thanks for reporting the issue.

I guess you meant `agda --latex Test.lagda`.

This issue is fixed in the development version.

[2017-05-17 11:14] asr commented on #2588
Using `agda-bisect` for adding a test case, if necessary...

[2017-05-17 12:02] asr commented on #1972
Right. I couldn't rewrite `isBase` using open type families.

[2017-05-18 00:11] asr commented on #2588
`agda-bisect` showed that this issue was fixed by 752d77924407da8e6a45f056d0229bda289eb89a:

[code]

[code]

[2017-05-20 15:14] andreasabel commented on #2587
In contrast to `bar`, for the scope checker `foo` is not a projection, thus, the postfix machinery does not get started.

We could treat record methods such as `foo` special and allow postfix projection for them.  Would make Agda more like object-style languages.  However, I think we should not allow postfix notation for arbitrary functions.

I suppose you expect post-fix notation to work for all

[2017-05-22 11:19] favonia commented on #2584
@fredrikNordvallForsberg @gallais I would like to reopen this thread because it seems when there is an error, the error will be printed directly (without empty lines in between) _after_ the list of warnings. I think either the error should go before the list, or it should have its own separator, or something reasonable.

[2017-05-22 12:02] gallais commented on #2584
Do you have a minimal working example?

It has to be noted that "errors" which are not fatal (termination or positivity errors, unsolved constraints, etc.) are just warnings under the hood and IIRC we print the lot in one go. So in your situation it may appear after the warnings because it was generated after them, not because of a deliberate attempt to give benign warning first and non fatal erro

[2017-05-22 12:13] favonia commented on #2584
@gallais Change the `B.agda` in my original post to
[code]
and you will see this:
[code]
Maybe we have to deliberately delay the printing of the list, then?

[2017-05-22 13:03] gallais commented on #2584
We already have [a function](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Monad/Base.hs#L2443) to partition the warnings between "benign warnings" and "non-fatal errors" so it's just a matter of calling it and displaying the two in separate lists.

So far we were printing them in the order they were raised in but I think you may be right that it would be more convenient to c

[2017-05-22 14:46] favonia commented on #2584
@gallais Not sure if I understand your solution. AFAIK the errors and the warnings in the MWE do not come from the new functions implemented by @fredrikNordvallForsberg. If they were, there would be a blank line in between. I think the real issue is that we print the warning list too early. That said, I like the idea of splitting the list.

[2017-05-23 10:39] m0davis commented on #2587
@andreasabel, yes, your supposition about my expectation is correct. I (perhaps naively) think of the postfix stuff as simply an "alternate spelling" of prefix stuff.

P.s. It's only by accident that I noticed your updated comment. Github does not notify via email when a conversation is updated via an edit, so it's best to only edit for clarity and put new content in a separate comment.

[2017-05-23 15:26] xekoukou opened #2589 "Preserve the ellipsis (dots) when case splitting "with" arguments"
It seems to me that it would make the code cleaner and more readable if case splitting of a "with" argument maintained the 3 dots "... | r".

What do you think?

[2017-05-23 15:38] jespercockx commented on #2589
This should now actually be possible since we have parameter refinement (previously it wasn't because of the mandatory dot patterns). Maybe then we should also add a new command to expand the `...`?

[2017-05-23 17:40] #2584 closed, assigned to fredrikNordvallForsberg

[2017-05-23 17:40] fredrikNordvallForsberg commented on #2584
@gallais the non-fatal errors and splitting the list is a red herring: we already error out if we encounter a non-fatal error, so the list we display at the end will always consist of benign warnings only. I tried to make this a little bit clearer by changing the title to "All done; warnings encountered" in the pushed patch.

@favonia thanks for reporting! The problem was that we printed the list

[2017-05-23 19:25] xekoukou commented on #2589
Yes it would be nice to have this command, instead of having to copy paste the remaining arguments from above.

[2017-05-24 10:54] andreasabel commented on #2589
I guess we could add "Ellipsis" to the origin of patterns and use this information during printing.

[2017-05-24 17:10] andreasabel commented on #2589
This is actually an old feature request: #573.

[2017-05-24 17:15] andreasabel opened #2590 "Case split to make hidden arguments visible does not work with `with`"
[code]
`C-c C-c` just gives
[code]
instead of the expected
[code]
Probably the 'Origin' info gets lost when going through display forms.

[2017-05-24 17:30] andreasabel commented on #2590
Indeed, the `ru` (relevant, user-written) arg. info gets turned into `ri` (relevant, inserted).
[code]

[2017-05-24 17:31] xekoukou commented on #2589
Feel free to close this issue. I didn't know that it was called ellipsis. I thought you meant [ellipse](https://en.wikipedia.org/wiki/Ellipse)

Ellipsis (έλλειψη) means the shortage/absence of something which actually makes sense in this case.

[2017-05-24 17:47] andreasabel commented on #2590
This is not a super easy fix:  display forms are like patterns which are matched against a term, producing a list of terms as instantiation which is substituted in.  We would have to also calculate and substitute in the new origins.  There is no infrastructure for substituting origins yet.

[2017-05-24 22:40] #2590 closed, assigned to andreasabel

[2017-05-25 06:31] andreasabel commented on #2590
I implemented the necessary infrastructure.

[2017-05-25 07:16] andreasabel commented on #2589
"Ellipsis" is used to describe the omission of syntactically necessary but semantically redundant words in literature.  I know this word from high school when we analysed poems.
The Japanese language makes excessive use of ellipsis (from a German perspective).

[2017-05-25 07:28] andreasabel commented on #2589
I wonder how to implement this feature.  We could record in the pattern origin that they come from an ellipsis.  We could fold back the patterns to an ellipsis in the printer if none of the ellipsis patterns has been split. This requires us to record some more history, like "was originally coming from an ellipsis but now has to be regarded as written by the user".  Because otherwise we cannot chec

[2017-05-25 11:17] nad commented on #2586
@UlfNorell, I suspect (but have not verified) that your commit broke the following code, which Agda 2.5.2 parses:
[code]

[2017-05-26 07:39] andreasabel opened #2591 "Operator parse error should be scope error"
To parse operator expressions, we consider exactly the operators which are in scope.  For the user, this can be confusing.
[code]
This gives a parse error in the postulate.
[code]
Agda pretends here it does not know anything about the operator `_+_`, even though it has seen the infix declaration, and the constructor declaration is above the postulate.

It would be better if parsing succeeded and a

[2017-05-26 08:19] andreasabel commented on #2589
Expanding an ellipsis could be bound to `C-c C-c . RET`.

[2017-05-26 08:35] #2586 closed, assigned to nobody

[2017-05-26 19:16] turion opened #2592 "Internal Error in Agda/TypeChecking/Serialise/Instances/Common.hs"
Very strangely, I'm getting an internal error for a file with these contents:
[code]
The error message is:
[code]
I'm using version 2.6.0-ba3762d.

The bug is not entirely consistently reproducible. The same file used to compile before, so maybe it's related to caching or `.agdai` files?

[2017-05-26 20:24] andreasabel commented on #2592
I cannot reproduce it with the latest 2.6 and the latest std-lib.

Can you reproduce it on the latest development version?

[2017-05-26 20:42] turion commented on #2592
Yes, that's what I'm using at the moment. My workflow currently looks like this:

* Edit file in Atom, reload after some
* After 3-5 reloads, the error occurs
* Restart Atom

So I'm guessing it must have to do with the modules agda keeps cached in memory somehow?

(I'm sorry that my reproducability ratio is around 0 in my open bugs :/ hopefully I can improve on that after TYPES...)

[2017-05-27 07:12] andreasabel commented on #2592
@fredrikNordvallForsberg reported an internal error at the same location when he worked on serializing warnings.  But I think the problem then was reliably reproducible.

You could try `--no-caching` and see if the problem goes away.

[2017-05-27 17:22] nad commented on #2591
What do you suggest should happen if another instance of `_+_` is in scope? Should both operators be part of the generated grammar? This might lead the parser to incorrectly conclude that the code is ambiguous.

Perhaps one could parse the expression again, and include the "known" operators, if the first run of the parser does not yield any valid expression. If the second run yields exactly one (o

[2017-05-28 09:27] andreasabel commented on #2591
We could get rid of name ambiguities during scope checking, once we have parsed.

Maybe the more worrying problem is that when parsing x + y * z with _+_ and _*_ in scope and a third operator _+_*_ in the set of known operators, parsing would lead to ambiguous syntax trees.  If we return all of the possible parses, we might get to a combinatorial explosion.

Your suggestion to reparse when parsing

[2017-05-29 13:15] nad opened #2593 "Private where modules"
I think that it should be possible to make where modules private without making the definition that the where clause is attached to private.

[2017-05-30 08:04] gallais opened #2594 "Valid partial cover rejected: "Cannot split on argument of non-datatype""
During interactive development, it is sometimes nice to write partial covers. In the presence of a telescope `(b : Bool) (_ : dispatch b) → _`, it can lead to the following error:

[code]
Although adding a catchall case makes the error go away, it goes against the usability of the interactive mode (we don't get any warning listing the missing cases anymore). MWE:

[code]

[2017-05-30 09:04] jespercockx commented on #2594
The problem is that the coverage checker doesn't distinguish between errors and warnings: it simply tries all possible splits until one succeeds, or returns the last error/warning in case none of them do (this is the effect of the `altM1` on line 252 of Coverage.hs). We could instead collect all the errors/warnings and pick out a warning if there is any.

An alternative solution is to not throw an

[2017-05-30 12:46] andreasabel commented on #2593
Like this?
[code]
(Gives a parse error now.)

[2017-05-30 12:56] turion commented on #2560
You can find the offending code in https://github.com/Aerate/condatis/blob/master/Examples/TrafficLight.agda, line 238. Uncomment it, comment line 239, go into the hole in line 238 and try to refine it.

[2017-05-30 22:15] #1301 closed, assigned to nobody

[2017-05-30 22:54] gallais commented on #2594
Reading the code around line 252 of Coverage.hs, this is my current understanding of what is happening:

* Agda tries to case on `b` which is clearly pattern-matched on
* Failing to find a full cover, it guesses that arguments depending upon `b` are forcing its value
* Agda tries to split the second argument first and then fails because it's not a datatype

So the collection of warnings should sta

[2017-05-31 13:21] andreasabel commented on #2560
I record the commit hash of the `condatis` repo here: 082810da4361b7f825e6e482c4c987d059773bb6.
(In case this example gets changed in the future.)

[2017-05-31 18:32] UlfNorell commented on #2560
Self-contained test case:

[code]

[2017-06-01 06:05] UlfNorell commented on #2560
Simplified a bit more and added a case where `C-c C-c` fails.

[code]

[2017-06-01 06:15] UlfNorell commented on #2560
When refining a hole of data type we simulate a case split on an argument of the goal type to figure out whether there's a single valid constructor. Thus the same code runs in both test cases above.

The problem seems to be in the unifier (cc @jespercockx). Here's an excerpt from the debug output:
[code]
It looks like the unifier thinks that the constraint `FNil =?= _v'_43` is homogenous, even tho

[2017-06-01 10:26] jespercockx commented on #2560
Right, the current implementation doesn't check at all that the type of the constructor matches the type of the meta, which is clearly bogus. We should first force the types to be equal (by using `equalTypes`) before instantiating the meta itself. I'll try to implement a fix.

[2017-06-01 12:08] UlfNorell commented on #2560
Is the problem really with meta instantiation? What happens if you have a flexible variable `v'` instead of `_v'_43`? If it unifies `FNil =?= v'`, won't we get the same error as before?

[2017-06-01 13:25] #2560 closed, assigned to jespercockx

[2017-06-01 13:25] jespercockx commented on #2560
Instantiation of flexible variables is handled by the `basicUnifyStrategy`, which *does* check that the type is homogeneous. For equations between constructors, the new unifier actually allows the type of the equation to be heterogeneous in the indices, so homogeneity is only checked for the parameters. My fix checks that the type of the meta matches the type of the constructor applied to the fres

[2017-06-02 20:05] andreasabel opened #2595 "Shape-irrelevance breaks constraint solving"
This issue is somewhat known since 2011, see https://github.com/agda/agda/blob/master/test/Fail/IrrelevantLevelHurkens.agda
We need either heterogeneous equality with the `..`-modality, or double checking of meta-variable solutions.
[code]

[2017-06-02 22:20] acertain commented on #2099
Here's another, maybe more minimal example of a related problem:

[code]

It typechecks with the hole filled, but you can't fill the hole.

The problem is you don't know if you need to insert implicit abstractions until the hole is filled.

How to implement a typechecker that doesn't have this problem? I'd expect the changes to agda to be quite invasive, but is it worth it to fix this with future

[2017-06-03 07:38] andreasabel commented on #2099
In this particular case, for the type checking problem
[code]
There are two possible hidden lambda insertions,
[code]
and
[code]
Agda picks the first because `the ...` is an application. To say "picks" gives the wrong impression, because Agda eagerly inserts the hidden lambda there and never tries to get a picture of the alternatives.
The use of `the ?` prevents Agda to push the type in to the lam

[2017-06-03 09:45] andreasabel opened #2596 "Option to switch off warnings"
I'd like a option I can put in my file to squelch the warnings, like
[code]
Maybe this  would go a bit to far, but at least I want to squelch the deprecation warnings and other unimportant warnings.

![warnings](https://cloud.githubusercontent.com/assets/1155218/26752505/ffe80f80-4851-11e7-80d4-fe7ac9dad235.png)

Note that also somehow the warnings are separated by a single space on a line. That s

[2017-06-03 14:37] identicalsnowflake opened #2597 "Inline record definitions confuse the reflection API"
[code]

In the above, the final `_` expression is rejected if `problem` is in scope, but accepted if `ok` is in scope, despite the fact that without the `reflectId` macro, both are accepted. I think this is a relatively recent change, as I have several instances declared like `problem` which I don't recall causing problems before.

EDIT: The issue is that `problem` and `ok` are defined in the same

[2017-06-05 17:41] nad commented on #2593
Yes, something like this.

[2017-06-05 18:17] fredrikNordvallForsberg commented on #2596
I've implemented the basic functionality, but the experience is suboptimal because of #2487; i.e. if A.agda contains `{-# OPTIONS -W ignore #-}` but imports B.agda which raises some warnings, then they will still be reported. However if Agda is called by `agda -W ignore A.agda` on the command-line, then the imported warnings will also be ignored as was probably intended.

Feel free to re-open then

[2017-06-06 21:37] IanOrton opened #2598 "Cubical: non-canonical faces are ignored in systems"
I think that there's a bug in the cubical mode when trying to use the "face" of an Id type as the argument to a system. Consider the following example:

[code]

This gives the error:

[code]

However, under the assumption `primIdFace pφ = i1` shouldn't `primIdPath pφ` reduce to reflexivity and hence `primIdPath pφ j` should reduce to `a` and the equality given in the error should hold?

[2017-06-07 08:03] Saizan commented on #2598
Unfortunately this is intended behavior, at least for now.

When a face is canonical, i.e. only made of variables of type I and the connectives, then it can be turned into a (family of) substitution and applied to the body during typechecking, but when it's a neutral term like ```primIdFace pφ``` then it's not as clear what to do.
(```primIdFace``` and ```primIdPath``` are mostly to be used intern

[2017-06-08 09:12] MatthewDaggitt commented on #2592
I am also getting this error when using Agda 2.6.0-0734717.

It's happening to me randomly as well. The only pattern that I can see is that it occurs after the following sequence of events:
1) I write some invalid code
2) I type check it and it spits back the "normal" error telling me why my code is wrong
3) I then fix the code.
4) I then try to type check it again and it gives the error @turion r

[2017-06-08 11:33] nad commented on #2596
I think there should be some documentation for the new option.

[2017-06-08 14:03] fredrikNordvallForsberg commented on #2596
You are absolutely right, don't know why I forgot about it to start with...

[2017-06-08 14:31] nad commented on #2596
The `--help` flag states that one can `set warning mode to MODE`, but does not list any modes.

[2017-06-08 15:57] nad opened #2600 "Stack complains about Agda.cabal"
I noticed the following output from Stack on Travis:
[code]

[2017-06-09 00:16] asr commented on #2600
We cannot fix the warning due to [this](https://github.com/commercialhaskell/stack/issues/3034#issuecomment-287149374) reason.

[2017-06-09 12:32] #2596 closed, assigned to fredrikNordvallForsberg

[2017-06-09 16:32] andreasabel commented on #2592
I also got it now with Agda 2.6.0 (and 2.5.3).
In my situation, the file imports an old version of the standard library which produces warnings.
I get the error when I switch to another module in emacs and load it.

Do you also have warnings in your cases (in the imported modules)?

[2017-06-09 16:37] andreasabel commented on #2592
@fredrikNordvallForsberg @gallais Could this be related to serialized warnings? (It seems like a recent bug.)

[2017-06-09 16:39] andreasabel commented on #2593
The main issue here is to get this into the happy parser.

[2017-06-09 16:44] andreasabel commented on #2592
Trace:
[code]

[2017-06-12 09:31] fredrikNordvallForsberg commented on #2592
@andreasabel Is your instance reproducible? Sounds like it could be warning serialisation-related...

[2017-06-12 11:45] andreasabel commented on #2592
It seems reproducible like this:
1. get old version `e3893da0ebca8f80ca2919426529b544503d2010` of the standard library.
2. Have two files A and B containing the following single import statement:
[code]
3. Load A
4. Load B
5. Edit A (e.g., by adding a comment) and reload

This produces the error.
Once A gives the error, it will continue giving the error upon reload until Agda is restarted.

[2017-06-12 13:18] fredrikNordvallForsberg commented on #2592
Thanks, will try to take a look.

Incidentally, the dystopian Sci-Fi intro when checking out that standard library commit is great:

[2017-06-12 15:12] fredrikNordvallForsberg commented on #2592
Shorter testcase:

A.agda:
[code]

B.agda and C.agda:
[code]

Loading first B, then C gives the error when loading C, *as long as* A has not been loaded on its own.

Doing the same from the command-line (i.e. first run `agda B.agda`, then `agda C.agda`) does *not* trigger the error.

[2017-06-12 19:15] andreasabel commented on #2592
Congratulations!  I tried to construct such a case myself but failed.

[2017-06-12 19:29] florence opened #2601 "internal error at src/full/Agda/TypeChecking/Rules/LHS.hs:496 on misspelled constructor names"
A small example:

[code]

(note that at `x@(y)` the "constructor name" is misspelled.

My Agda version is 2.5.2

[2017-06-13 05:43] andreasabel commented on #2601
Thanks for reporting. This bug has been already been fixed in the development version.

[2017-06-13 05:43] #2601 closed, assigned to andreasabel

[2017-06-13 10:21] nad commented on #2529
Can this issue be closed now?

[2017-06-13 10:59] nad commented on #2473
You can (perhaps) use the following script to trick Agda into accepting a file containing invalid code:
[code]

Exercise: Set things up in such a way that the highlighting looks reasonable when the invalid code is loaded in Emacs.

[2017-06-13 11:10] effectfully commented on #2529
I had two issues: with `text-icu` (which is optional now and thus solved) and with `cpphs` (which doesn't belong to this issue tracker), so I have nothing to complain about.

[2017-06-13 11:16] nad opened #2602 "Debug output messes up AgdaInfo buffer"
Consider the following code:
[code]
When this code is loaded in Emacs and the expression in the hole is "given" I get the following output:
[code]
Note that the debug output is placed right after the error message, without intervening whitespace. There is also a second problem: The cursor is positioned at the end of the output, rather than at the beginning (as is usually the case), meaning that (a

[2017-06-13 11:18] #2529 closed, assigned to nobody

[2017-06-13 11:20] nad commented on #2592
[code]

[2017-06-13 11:28] nad commented on #2453
The LaTeX backend no longer treats
[code]
as a code block. However, I still think that `\begin{code}` and `\end{code}` should be rejected unless they actually start or end a code block, or are commented out.

[2017-06-13 11:28] nad commented on #2400
@vlopezj, can this issue be closed now (once test cases have been added)?

[2017-06-13 11:34] nad commented on #1832
I think this issue can be closed now.

[2017-06-13 11:34] #1832 closed, assigned to nobody

[2017-06-13 11:38] nad commented on #2401
This issue was not fixed by "[ latex ] Make latex frontend and backend consistent" (1d20dbb331d515f5c8af614f16a3c47bed36c802).

[2017-06-13 12:20] fredrikNordvallForsberg commented on #2602
I think this is related to the following change by @UlfNorell : https://github.com/agda/agda/commit/a46fbe4efc072d41bfd995f7adff4b8810cfe8a3#diff-6ecdb7c4d91fa74f5e59ab3c278e38e6R70

If I revert that line to `reportSLn benchmarkKey benchmarkLevel $ prettyShow b` I get the old behaviour using the `Agda Debug` buffer.

[2017-06-13 12:34] nad commented on #2602
@UlfNorell, was this an intended change?

[2017-06-13 20:30] UlfNorell commented on #2602
It's certainly desirable to get the time measurements from `-v profile:interactive:10` in the info buffer. Typically I want to run `C-c C-n` on some code under optimisation and see how long it takes. It would break my workflow very much if I had to switch back and forth between the code and the debug buffer every time. The other profiling data should most likely go in the debug buffer.

[2017-06-14 12:37] nad commented on #2602
From `Agda.Interaction.EmacsTop`:
[code]
@UlfNorell's hack set the verbosity level to 0, thus directing the output to the info buffer. The benchmarking information isn't erased, because it is output after the goals or type error have been displayed. However, the formatting and focus is messed up. Now I also noticed that the mode line is messed up, it displays `*Type-checking*` rather than (say) `*

[2017-06-14 12:56] UlfNorell opened #2603 "Internal error in MetaVars.hs"
Discovered by @rfindler.

I haven't done any bisection, but the `__IMPOSSIBLE__` in question was introduced by @andreasabel in e62fd730.

Shrunk test case:
[code]

[2017-06-14 18:41] andreasabel commented on #2603
Well the story goes like this: The `rewrite` tactic tests whether the rewrite equation is a reflexive one and calls the conversion checker but `dontAssignMetas`!  The conversion checker eta-expands a meta which does not respect `dontAssignMetas` and reaches the crash site.

Since `dontAssignMetas` should be respected, the way to fix this is to disable eta-expansion of metas when `dontAssignMetas`.

[2017-06-14 19:20] #2603 closed, assigned to andreasabel

[2017-06-14 19:27] rfindler commented on #2603
Thank you! And thanks so very much for agda. It is wonderful.

[2017-06-15 06:58] #2400 closed, assigned to vlopezj

[2017-06-15 11:54] mietek commented on #2335
👍 for scoped rewrite rules.

[2017-06-15 15:44] fredrikNordvallForsberg commented on #2602
The naive solution of just changing the `reportSLn` into raising a warning instead does not work since the printing of the benchmarking information happens after the printing of the warnings. It shouldn't be hard to do something principled though, right?

[2017-06-15 18:58] andreasabel opened #2604 "Use QNames as anchors in generated HTML"
Rather than line numbers, use qualified names as anchors in `<a name="...">`.

[2017-06-16 07:18] andreasabel opened #2605 "HTML backend generates anchors for whitespace"
For instance:
[code]
This seems unnecessarily wasteful.  Who would want to link to a whitespace character as opposed to a name?
Same for punctuation and even keywords.

[2017-06-16 08:45] andreasabel commented on #2605
Removing the anchors for whitespace reduces the generated .html in `test/LaTeXAndHTML/succeed` from 457k to 320k, which is already a reduction by 30%.

[2017-06-16 11:59] andreasabel commented on #2604
Testing the generated html could maybe done with https://github.com/gjtorikian/html-proofer

[2017-06-16 12:00] andreasabel commented on #2604
CHANGELOG documentation of this enhancement:

  The new, symbolic anchors look like
[code]
  while the old anchors just give the character position in the file:
[code]

  Top-level module names do not get a symbolic anchor, since the position of
  a top-level module is defined to be the beginning of the file.

  Example:

[code]

[2017-06-16 12:03] andreasabel commented on #2605
I think removing the anchors for whitespace does most of the savings already.  Since other tokens like `Symbol` need their `<a>` tag in any case, removing the anchor from it saves maybe 10 bytes per symbol, which is a small percentage of the overall file size only.

[2017-06-16 12:03] #2605 closed, assigned to andreasabel

[2017-06-16 12:31] gallais commented on #2604
:champagne:  This is something I wish we'd had for a long time! Urls will now be more stable even after refactorings (they will be kept the same as long as the toplevel definitions have kept the same name / stayed in the same module).

A few remarks:

* What about unicode identifiers? It might be hard to write these urls by hand
* What about mixfix identifiers? I suppose we get underscore in the u

[2017-06-16 12:43] gallais commented on #2602
We could add a new category: `InfoWarning` to really distinguish these from things that are actually problematic.

[2017-06-16 15:47] jespercockx opened #2606 "Check that LHS of a rewrite rule doesn't reduce is too strict"
Example by Ambrus Kaposi on the Agda mailing list:
[code]
Results in an error:
[code]

[2017-06-16 16:14] andreasabel commented on #2604
Unicode identifiers will be unicode anchors.  No problem from the browser side, as far as I can see.
From the user side: GIGO (garbage in, garbage out).  You reap what you sow.
But I do not imagine users to type these anchors into the browser.  It is for linking from a PDF, and there you can do probably enough on the LaTeX side to ease the pain typing unicode anchors.  We will see, I have not used

[2017-06-16 19:33] nad commented on #2604
I think we should try to make sure that the generated HTML is correct. The files generated by an older version of Agda seem to be valid according to the W3C validators ([HTML](https://validator.w3.org/), [CSS](https://jigsaw.w3.org/css-validator/)). However, perhaps the old anchor names, containing nothing but digits, are incorrect. For some discussion, see https://github.com/haskell/haddock/issue

[2017-06-16 19:53] fredrikNordvallForsberg commented on #2604
If I understand the XHTML spec correctly, there are basically no restrictions on the id attribute values, except that [it must be nonempty and not contain any spaces](http://w3c.github.io/html/dom.html#element-attrdef-global-id) (which will never be a problem), and [the characters " ' & < should be entity-encoded](https://stackoverflow.com/questions/866706/which-characters-are-invalid-unless-encod

[2017-06-16 20:06] akaposi commented on #2606
Hi Jesper, thanks, now it typechecks.

But it seems to me that Agda still does not perform the rewriting. If I add the following lines to the end of the file I think it should still typecheck:

[code]

However when I remove the `X` parameters, it typechecks with these lines added.

[2017-06-16 22:00] nad commented on #2604
In practice the generated HTML might be read by, say, some anonymous reviewer, using a browser that is not standards-compliant, so I think we should avoid corner cases, and test using several common browsers.

[2017-06-17 22:12] asr commented on #2276
@guillaumebrunerie add some label(s) to this issue please.

[2017-06-18 13:09] m0davis opened #2607 "Instance search confused when an instance argument is sourced from a record"
Given some record named `Class`, the following code blocks should be equivalent and interchangeable from the point of view of instance search:

Code wherein an instance is bare:
[code]

Code wherein an instance is wrapped in a record and then subsequently made bare:
[code]

If that's not true, if the above code blocks are not supposed to be equivalent, then perhaps the rest of this post is moot. C

[2017-06-18 14:26] cartazio opened #2608 "Build failure (2.5.2) due to outdated cpphs"
src/full/Agda/Utils/Null.hs:42:10: error:
    Duplicate instance declarations:
      instance Eq Doc -- Defined at src/full/Agda/Utils/Null.hs:42:10
      instance [safe] Eq Doc -- Defined in ‘Text.PrettyPrint.HughesPJ’

I think this could be fixed by a bound somewhere, or by cutting a bugfix release ?

[2017-06-18 14:27] cartazio commented on #2608
cc @hvr @ryanGIscott for trustee wisdom

[2017-06-18 14:30] jespercockx commented on #2606
I see. It seems the rewrite rule is now added to the copy of the function created by the import statement instead of to the original function.

[2017-06-18 14:41] cartazio commented on #2608
it looks like its because of my local package db having some confusion that tripped up cabal... closing for now

[2017-06-18 14:41] #2608 closed, assigned to nobody

[2017-06-18 14:58] #2606 closed, assigned to jespercockx

[2017-06-18 15:01] cartazio commented on #2608
nope, it was that i had cpphs 1.20.4 installed locally, updating it fixed the problem :)

[2017-06-19 06:31] asr commented on #2608
GHC version?

[2017-06-19 06:37] hvr commented on #2608
I don't know the exact GHC version, but I assume he used GHC 8.0.2 + Cabal 1.24; the problem however was that cabal 1.24 doesn't yet solve for and build `build-tools`-dependencies; so the broken `cpphs-1.20.4` release was used which appears to have a bug (and is marked `deprecated` on hackage) re `#include` lookup. This wouldn't be any problem anymore with cabal-2.0, as cabal would have installed

[2017-06-19 06:45] asr commented on #2608
I couldn't reproduce the issue using GHC 8.0.2 and

[code]

The current cpphs constraint is

[code]

I'm waiting the fix of https://github.com/malcolmwallace/cpphs/issues/11 for updating the constraint.

[2017-06-19 06:57] hvr commented on #2608
@asr This could be OS-specific, I  see that http://hdiff.luite.com/cgit/cpphs/diff?id=1.20.5&id2=1.20.4 fixed something in the path-handling which makes the bug @cartazio saw plausible to me

nevermind, I just saw the cpphs#11 bug filed

[2017-06-19 10:39] jespercockx opened #2609 "Case split results in code that is not accepted by Agda"
Consider the following code:
[code]
If you case split on `x` in the third clause, Agda generates the following code:
[code]
which results in an error:
[code]
Looking at the debug output, the equation `x ≟ false` is not solved because `x` is not a flexible variable, though why is not clear to me (and certainly not to the user).

I'd guess that this wouldn't be a problem if we used the alternate spl

[2017-06-19 11:22] nad opened #2610 "Avoid rechecking by storing interfaces in separate directories?"
When you switch from one version of Agda to another it is likely that Agda will ignore existing interface files. If you switch by accident, and then switch back right away, this can be fairly annoying. Perhaps we could store interface files in separate directories, and use separate directories for different versions of Agda (or different interface versions).

[2017-06-19 13:03] jespercockx commented on #2609
Another possible solution (aside from changing split strategies) would be to allow some more leniency in skipping dots: if Agda allowed you to write the pattern `false` where currently it expects `.false`, then this code would be accepted. This would mean Agda would count *all* variables as flexible during LHS checking, and if a variable (say `x`) is instantiated with some value (say `u`) then Agd

[2017-06-19 16:11] cartazio commented on #2608
this was on mac osx with cpphs at the bad version @hvr mentioned, and ghc
8.0.2 and cabal install  1.24

upgrading cpphs to not be the broken version fixed it.

the real issue was adga forcing cpp to be via cpphs ;) :))

On Mon, Jun 19, 2017 at 2:57 AM, Herbert Valerio Riedel <
notifications@github.com> wrote:

[2017-06-19 16:25] asr commented on #2608
Agda version?

[2017-06-19 16:40] cartazio commented on #2608
was 2.5.4,
but the issue was a bad cpphs

On Mon, Jun 19, 2017 at 12:25 PM, Andrés Sicard-Ramírez <
notifications@github.com> wrote:

[2017-06-19 17:02] asr commented on #2608
Agda 2.5.4 doesn't exist. Did you mean 2.5.3?

[2017-06-19 17:34] asr opened #2612 "`exact-split` documentation is outdated and incomplete"
The user manual [says](https://github.com/agda/agda/blob/master/doc/user-manual/language/function-definitions.lagda.rst#case-trees):

[code]

After c9458dacce2cbff0db0875da9dda7f619ad619ce the warns about clauses which don't hold by definition don't require the `--exact-split` pragma.

I also noted that `CATCHALL` is not documented.

[2017-06-19 18:44] cartazio commented on #2608
2.5.2. Most recent hackage release.  The point being the issue is
resolved.  The bug was a bad cpphs that no one else can get anymore and
won't matter with cabal >=2

On Mon, Jun 19, 2017 at 1:02 PM Andrés Sicard-Ramírez <
notifications@github.com> wrote:

[2017-06-19 20:30] asr opened #2613 "Parametrised modules, with-abstraction and termination"
MWE of an issue reported by @jonaprieto.

Using `Agda version 2.5.3-bd94880` I'm getting the following error:

[code]

Two comments:

1. The example is type-checked by Agda 2.5.2.

2. By removing the parameter `(n : Nat)` from the `Prop` module, the example is type-checked by 2.5.3 (and 2.5.2).

[2017-06-19 20:38] xekoukou commented on #2612
```CATCHALL``` seems unnecessary now.

[2017-06-19 21:01] asr commented on #2612
You need `CATCHALL` for removing the error (no the warning) generated by a clause which doesn't hold by definition when using the `--exact-split` pragma.

[2017-06-20 02:02] #2612 closed, assigned to asr

[2017-06-20 09:37] UlfNorell commented on #2607
The two code blocks are not equivalent. Instances need not be 'bare' to be eligible for instance search. For instance,

[code]
When you open the record you get another available instance. In many cases this isn't a problem (except for performance) since the two instances are equal, but if the unapplied instance fails to resolve instance search will fail.

That said it's surprising that `works` wor

[2017-06-20 09:47] UlfNorell commented on #2607
Something is clearly not right:

[code]

[2017-06-20 11:24] UlfNorell commented on #2607
The problem seems to arise from the fact that `FixerInstance` is *irrelevant*(!) (@andreasabel?) in the `InstanceWrapper` argument. If you add a field to `InstanceWrapper` this is (thankfully) no longer the case and all the examples go through.

[2017-06-20 14:18] #2613 closed, assigned to andreasabel

[2017-06-20 14:19] andreasabel commented on #2613
Thanks for reporting.  Somehow this regression was introduced during fixing and unfixing #2403 and having #2458 inbetween.

[2017-06-20 14:19] asr commented on #2613
@jonaprieto, does the fix solve your real example?

[2017-06-20 14:31] andreasabel commented on #2607
A record which has no relevant fields is irrelevant.  But at the time of adding this feature #392 we did not have `no-eta-equality`, maybe it should only be this way for eta-records?

[2017-06-20 14:59] andreasabel commented on #2607
I don't understand the point of this post. @m0davis if you want to wrap the instance as above, the cleaner way seems to use a module instead of a record with no fields.
[code]

[2017-06-20 15:07] UlfNorell commented on #2607
That does seem like the sensible thing to do.

There's still something weird going on here though. The irrelevant `InstanceWrapper` argument to the non-opened instance does get solved, but somehow that solution is lost on the way. I haven't investigated, but I suspect it's got something to do with how we compare different instance solutions.

I'll try to construct an example that doesn't rely on t

[2017-06-20 15:17] andreasabel commented on #2609
I think your proposal makes sense, to be less bureaucratic about the dotting.  I wonder only what will happen if users drop dots maximally after your change, giving Agda more split possibilities.  Could such possibilities lead Agda into a dead end where it would not have come with dots in place?

[2017-06-20 15:37] andreasabel commented on #2604
I tested `#` in anchors in Firefox 54.0, and it worked fine without URI encoding.
Also on Chromium 58.0.
If you have other browsers, please report your test results here.
Try it out on https://rawgit.com/agda/agda/master/test/LaTeXAndHTML/succeed/Issue2604.html

[2017-06-20 15:38] andreasabel commented on #2604
For now, I do not intend to change anything.  Closing.  Feel free to reopen if there are problems.

[2017-06-20 15:58] jespercockx commented on #2609
That's a good question. If (after my proposed change) you drop all the dots in front of constructors, then that can certainly change which case tree is constructed. However, if a split fails then Agda will simply try a different one. For example, the following looks funny but is accepted with my change:
[code]
Agda first tries to split on the first argument, but not all constructors are covered so

[2017-06-20 15:58] m0davis commented on #2607
@andreasabel In the original code (before I cleaned it up for reporting), the `InstanceWrapper` was parameterised and the idea was to expose instances for only certain values of the parameters.

[2017-06-20 16:03] m0davis commented on #2607
@andreasabel Umm, on second thought, I guess I could have used a module for that too. Honestly, I don't know what the point is. For my use case, I'm happy to just use a module.

[2017-06-20 19:52] andreasabel commented on #2610
What is the proposed directory structure?  We could have a `_build_VERSION` directory in the project-root with subdirectories
[code]
These target directories would be the default ones, but could be set by command line options to somewhere else.

We could also integrate this issue with Jonathan Prietos package manager, maybe!?

[2017-06-20 20:06] UlfNorell commented on #2610
I'd prefer `_build/VERSION` to avoid polluting the top-level directory. Different directories for different interface version seems overkill. I'd have to go around removing interface files once a week to avoid running out of disk space.

[2017-06-21 05:29] nad opened #2615 "Turning variables into strings in macros"
When one generates a variable pattern in a macro one has to give a string. If the variable is generated based on a variable given by the user it would perhaps be nice to reuse the original variable name. However, I don't think the current interface provides a way to turn a de Bruijn index into the corresponding string.

One approach might be to provide "show" functions for `Term` and some other ty

[2017-06-21 05:36] nad commented on #2604
The W3C validator [complains](https://validator.w3.org/check?uri=https%3A%2F%2Frawgit.com%2Fagda%2Fagda%2Fmaster%2Ftest%2FLaTeXAndHTML%2Fsucceed%2FIssue2604.html&charset=%28detect+automatically%29&doctype=Inline&group=0).

[2017-06-21 05:38] nad commented on #2609
Do your changes make Agda slower by introducing more backtracking?

[2017-06-21 08:44] jespercockx commented on #2609
There's no actual backtracking involved as Agda commits to a case split once it has found one that succeeds. However, with this change Agda might try more different case splits before finding one that succeeds. So to answer your question: yes, this change might slow down Agda, but not exponentially so. Also note that the slowdown only happens when you don't put the dots. If you do, you will get th

[2017-06-21 08:54] nad opened #2616 "Merge unknown sorts?"
Is there a meaningful difference between the sort `unknown` and the sort `set unknown`? If not, then the former could perhaps be removed.

[2017-06-21 12:39] asr opened #2617 "Installation instructions"
We have instructions for installing Agda in the [Wiki](http://wiki.portal.chalmers.se/agda/pmwiki.php?n=Main.Download), the [user manual](http://agda.readthedocs.io/en/v2.5.2/getting-started/installation.html) and the [README](http://hackage.haskell.org/package/Agda-2.5.2/readme). Since the user manual is online, I suggest to move *all* instructions there. Any opinion?

[2017-06-21 12:43] asr commented on #2617
and keeping the download information on the Wiki.

[2017-06-21 12:52] nad commented on #2617
The README is displayed on Hackage. Perhaps we could keep a small number of links in this file.

[2017-06-21 14:36] UlfNorell commented on #2616
You get `set unknown` for a sort with an unknown level and `unknown` for things like `Setω` and `DLub`. Not sure that's a very meaningful difference, but I also don't think it warrants a breaking change in the reflection API.

[2017-06-21 14:36] #2616 closed, assigned to nobody

[2017-06-21 15:11] fredrikNordvallForsberg commented on #2564
This was fixed by https://github.com/agda/agda/commit/6081e1bcd647c4e3c8df31bcd7473fc335ea2679.

[2017-06-21 15:11] #2564 closed, assigned to jespercockx

[2017-06-21 16:48] nad opened #2618 "Reflection and pattern-matching lambdas"
Consider the following code:
[code]
Are all of these results to be expected? If so, can anyone explain to me what is going on?

[2017-06-22 07:31] asr commented on #2539
The cpphs issue was fixed in version 1.20.8. I'm going to wait for this version to be on Stackage before fixing this issue.

[2017-06-22 15:31] joelburget opened #2619 "Feature request: link to `renaming` clause"
Clicking `inside` or `outside` in [Data.Fin.Dec](https://agda.github.io/agda-stdlib/Data.Fin.Dec.html) links directly to `true` / `false` in [Agda.Builtin.Bool](https://agda.github.io/agda-stdlib/Agda.Builtin.Bool.html#92), which is confusing. Linking to the [renaming import](https://agda.github.io/agda-stdlib/Data.Fin.Subset.html#813) (which is in a different module) would resolve the confusion a

[2017-06-22 15:31] joelburget commented on #2619
cc @cartazio

[2017-06-22 16:11] nad commented on #2619
This could also be useful if a module is applied to one or more arguments and then opened publicly.

[2017-06-27 05:52] UlfNorell commented on #2463
9486c0d added record field names to the `Definition` type. Coinductiveness (and eta-equalitude) is still not accessible.

[2017-06-27 19:06] xekoukou opened #2620 "Internal error in auto."
Pressing C-c C-a (auto) into the hole, results into an internal error:

https://github.com/xekoukou/sparrow/blob/872efb80a4cc6d30136b2075976989235e6b3de3/agda/LinFunContructw.agda#L26

[code]
https://github.com/agda/agda/blob/master/src/full/Agda/Auto/NarrowingSearch.hs#L216

My agda version is this [one](https://github.com/agda/agda/tree/47bba7d4a4f3fd34b3ea45d8d823cf66a99b80fa) with cubical and

[2017-06-27 20:15] gallais commented on #2620
It goes back to at least to 2.5.2. I'm going to investigate some more.

[2017-06-27 21:52] gallais commented on #2620
The first commit reveals that the error arises from [CaseSplit.hs at line 479](https://github.com/agda/agda/blob/4c4e89ff2f5b3e414337b773be0e5644f40a5216/src/full/Agda/Auto/CaseSplit.hs#L479).

I think the issue shows up because there is an unsolved metavariable in the type (specifically in `t ←∧`) of the thing the pattern `hitsAtLeastOnce←∧←∧ x` splits upon. I'd be nice to have a minimal, reprodu

[2017-06-27 22:04] xekoukou commented on #2620
If you explicitly set the type of (t ←∧) , then the error goes away.

On Wed, Jun 28, 2017 at 12:52 AM, G. Allais <notifications@github.com>
wrote:

[2017-06-28 08:24] UlfNorell commented on #2607
Here's the weirdness with explicit irrelevance:
[code]

[2017-06-28 08:25] gallais commented on #2620
Shrunk test case:

[code]

I'll push it together with the fix for Haddock which I have seem to have broken (no idea how though!).

[2017-06-28 08:58] #2620 closed, assigned to gallais

[2017-06-28 15:54] andreasabel opened #2621 "Case splitting instantiates meta"
The function `detAll2` was created by case-splitting.
[code]
I think Agda should report an error here rather than silently setting the meta in the type signature to zero.
@jespercockx opinion?

[2017-06-28 22:23] rntz opened #2622 "feature request: copattern synonyms"
Agda has pattern synonyms; why not copattern synonyms?

Some (admittedly not very motivating) possible examples:
[code]

[2017-06-29 12:56] jespercockx commented on #2621
I think you're right, when doing an interactive case split it doesn't make sense to instantiate metas, not even in the restricted way we have now.

[2017-06-29 17:41] andreasabel commented on #2621
Thanks!
The remaining question is whether we want to accept the above file at all (even if there was no interactive splitting).  Can you please remind me of the issue where we discussed the instantiation of metas in the unifier?  I cannot find it anymore.

[2017-06-29 17:44] andreasabel commented on #2609
Thanks.
I think the documentation is not accurate.

It should say that the dot can be skipped if the pattern consists only of constructors.  The parts which have variables or other terms need still to be dotted, no?

[2017-06-29 18:00] andreasabel commented on #2609
It also works for literals (which it should).  "Constructor-headed" might not include "literal" for all readers.
[code]

[2017-07-02 20:43] nad opened #2623 "Incorrect indentation when \AgdaHide is used"
Consider the following code:
[code]
In the resulting document the two code blocks are not aligned:

![bug](https://user-images.githubusercontent.com/293222/27773317-36bca926-5f77-11e7-9f51-40e1acf6f4ae.png)

As a workaround one can add a module header, and make sure that everything is indented relative to it:
[code]

![bug](https://user-images.githubusercontent.com/293222/27773331-9ac9c53e-5f77-11

[2017-07-02 20:53] nad commented on #2623
By the way, I found a way to quickly generate PNG files without lots of empty space for use in bug reports:
* Make sure that the document does not contain a page number, for instance by using `\pagestyle{empty}`.
* Use the ImageMagick command `convert` in the following way to create the image file:
[code]
  (The density value could perhaps be a bit lower.)

[2017-07-02 21:44] andreasabel commented on #2623
I tried your original example, and found it looks even more wrong when the `\AgdaHide` is not used.
I did not know that this was even legal Agda code, indentation without a layout keyword.  I think the base indentation should be at column 1, everything else should be a syntax error.

[2017-07-02 23:19] nad commented on #2623
From the CHANGELOG: "Note that if any token in *L* or *E* belongs to a previous code block, then the constraint may not be satisfied unless (say) the `AgdaAlign` environment is used in an appropriate way." If you use (say) `AgdaMultiCode`, then the code without `\AgdaHide` is unproblematic:
[code]

[2017-07-03 12:15] nad commented on #987
This issue has been superseded by #2604.

[2017-07-03 12:15] #987 closed, assigned to andreasabel

[2017-07-03 13:19] #2539 closed, assigned to asr

[2017-07-03 18:08] andreasabel opened #2625 "Agda does not prune terms of singleton type"
While working on a paper on unification, I discovered that Agda does not solve meta `X` here:
[code]
Agda should prune subterm `f a` with offending variable `a` and replace it by `record{}`.  The solution `X = g record{}` is unique modulo eta.

See also #2556 and #593.

[2017-07-03 20:09] cartazio opened #2626 "triggered internal error with sized types in MetaVars module"
I was having some troubles in getting this to work, and then as I refactored it, i got  the following error:

[code]
 the following development triggered it:
any suggestions on how to clean up/work around this and the associated larger example (attached) would be appreciated

[ attached file as txt so i can upload it TypeSpec.agda.txt](https://github.com/agda/agda/files/1120478/TypeSpec.agda.txt)

[2017-07-03 21:56] gallais commented on #2626
Shrunk down:

[code]

[2017-07-03 23:51] cartazio commented on #2626
@gallais  glad I could help:)
is there any clear exposition on the difference between . and .. in types? my understanding from a pretty recent paper is that .. lets me ignore the parameter/index for equality proof purposes?

[2017-07-04 09:48] gallais commented on #2626
I think the official answer is "`..` is not documented, different people use it for different purposes and as a consequence its semantics is not clear. (Don't!) Use at your own risk".

Ultimately this should get subsumed by #2513 which will make it easier for everyone to declare their own function space annotations thus making it simple to disentangle these different visions.

[2017-07-04 13:42] jespercockx commented on #2621
See https://github.com/agda/agda/issues/2074

I only notice now that my fix to that issue doesn't actually fix the example I gave (and I didn't add a test case, shame on me!) Maybe it's better to remove the solution of metavariables during case splitting entirely, there have been enough problems with it. This may break people's code, but I imagine most code (ab)using this feature would already be

[2017-07-04 14:21] cartazio commented on #2626
in the new icfp2017 paper says it means "shape irrelevant" www.cse.chalmers.se/~abela/icfp17-long.pdf though i might have been misusing it :)
at least in the examples they give towards the start of the paper

[2017-07-04 14:22] cartazio commented on #2626
heres the relevant excerpt :)
![screen shot 2017-07-04 at 10 21 25 am](https://user-images.githubusercontent.com/4290/27833877-93d0efc4-60a2-11e7-8db8-765b5c1316dc.png)

[2017-07-04 15:25] jespercockx commented on #2621
I just tried to remove the solving of metas from the unifier completely, but this causes the following test cases to fail:
- https://github.com/agda/agda/blob/master/test/Succeed/IndexInference.agda
- https://github.com/agda/agda/blob/master/test/Succeed/Issue707-data.agda (#707)
- https://github.com/agda/agda/blob/master/test/Succeed/Issue1863.agda (#1863)
- https://github.com/agda/agda/blob/mast

[2017-07-04 15:41] jespercockx commented on #2621
To make the examples in IndexInference.agda typecheck, a more restricted version of the algorithm we have now would suffice. In particular, if a function is defined by a single clause **and** it matches on a constructor of an indexed datatype with >1 constructor **and** the constructors of that indexed datatype target conflicting indices (such as `zero` and `suc n` in the case of `Vec`) **and** th

[2017-07-04 15:45] gallais commented on #2626
Yeah I know but @andreasabel and @UlfNorell use it with different semantics in mind AFAIK.

[2017-07-04 15:59] #2609 closed, assigned to jespercockx

[2017-07-05 09:50] andreasabel commented on #2621
I checked the ones that I think are fine to break:
- [x] https://github.com/agda/agda/blob/master/test/Succeed/IndexInference.agda
  Ok to break.
- [x] https://github.com/agda/agda/blob/master/test/Succeed/Issue707-data.agda (#707)
  Ok to break, weird spooky action at a distance we need not support.
- [x] https://github.com/agda/agda/blob/master/test/Succeed/Issue1863.agda (#1863)
  Ok to break,

[2017-07-05 09:57] andreasabel commented on #2621
This issue should be discussed in a wider group @nad @UlfNorell

[2017-07-05 10:18] jespercockx commented on #2621
For #1922 I agree that it should not be broken, but this seems to be an issue with how extended lambdas are checked rather than with the pattern matching unifier. If you put a hole in place of the extended lambda, Agda infers correctly that it should have type `Fin one -> Bool` (no metas). However, this information is apparently not used for checking the extended lambda. Is there a particular reas

[2017-07-05 13:09] dm606 opened #2627 "Type checking does not terminate"
Type checking fails to terminate on the following code:

[code]

The type checker does terminate if the code is changed to make `bar` into a top-level declaration, use homogeneous equality, or declare `⊤` using `record` instead of `data`.

[2017-07-05 13:32] andreasabel commented on #2627
I am afraid you are indirectly defining `bar = bar` before the termination checker gets a chance to catch this loop.

[2017-07-05 13:47] andreasabel commented on #2626
I does not seem to be related to irrelevance.  Further shrinking:
[code]
It is connected to the constraint solving attempts regarding `⊔ˢ` which is highly experimental and rudimentary.  I'd advise not to use it.

[2017-07-05 14:34] #2626 closed, assigned to andreasabel

[2017-07-05 14:41] Snicksie opened #2628 "case splitting only works when hole is the last thing on the line"
When case splitting on `x` in the first hole in the function `add` below, additional holes get generated.

[code]

Result:

[code]
I am using Agda version 2.5.2-16, as found in the Arch repositories.

[2017-07-05 14:43] jespercockx commented on #2628
I can confirm this bug still exists in the current stable branch.

[2017-07-05 14:51] jespercockx commented on #2628
I guess this was introduced by @andreasabel in the fix to #2051.

[2017-07-06 08:50] andreasabel commented on #2628
Yes, before my work on #2051 and friends you could only split when the rhs was a single ?.  In that sense, even the current buggy behavior is better than what we had before.
Splitting in the second hole works fine.

The following also does not work nicely. Splitting on `x` here
[code]
produces rhs `quot ? zero zero`.

It seems that splitting works properly only when the ? is the last thing on the

[2017-07-06 09:11] andreasabel commented on #2628
I think with the current infrastructure the emacs mode cannot do much better.  After the load the user is allowed to shift holes around and freely add Agda text and comments.  Agda does only knows the state of the last load action, but contents of the emacs buffer may have diverged from that when the user calls the case split tactics.  Agda sends the new clauses back and the emacs-mode has to inte

[2017-07-06 09:20] andreasabel commented on #2627
Type-based termination #695 would fix this, I suppose.

[2017-07-06 09:40] andreasabel commented on #2621
Ok, then it is only the extended lambdas.

The type information is propagated into the extended lambda too late, I guess. Consider:
[code]
This produces the errors:
[code]
You see that Agda first checks the extended lambda of type `_1 -> _1`, instantiating `_1 := Nat` and noticing that there is no case for successor.  Then, once it has reached the end of the application `f {_1} \{...}` it discover

[2017-07-06 11:08] andreasabel opened #2629 "Exact splitting should not complain about absurd clauses"
[code]
reports
[code]
As absurd clauses are anyway stuck, they are fine as catch-alls always, I'd suspect.
@jespercockx ?

[2017-07-06 12:36] jespercockx commented on #2629
Yes, you're right. Absurd clauses don't have any computational behaviour that could get lost in translation.

[2017-07-06 12:45] jespercockx commented on #2628
Oh, I was kind of hoping there would be an obvious solution when I added the milestone, or at least something that would help in this case. But maybe it's not as easy as I thought...

I think case splitting should produce valid Agda code at least in those cases where there haven't been any changes since the last load action. For that case, we can just delete the whole right-hand side (even if it's

[2017-07-06 13:26] #2629 closed, assigned to jespercockx

[2017-07-06 14:11] andreasabel commented on #2628
Yes.  This could be tracked in the emacs mode and passed as a flag to the case tactic.
Also Agda then has to inform the emacs mode which part to replace.

[2017-07-06 15:40] Snicksie opened #2630 "Case splitting on datatype defined in parametrized modules produces invalid syntax"
When doing a case split on the hole in the following example (two files), the generated syntax is invalid.

File 1:
[code]

File 2:
[code]

The following syntax is generated:

[code]

When defining this in a single file, the correct syntax is generated.

[2017-07-06 20:40] dm606 commented on #2627
I'm not sure I understand. How is this defining `bar = bar`? The hole in the definition of `bar` could have the solution `tt`, so surely the type checker shouldn't instantiate it with `bar`.

[2017-07-06 21:56] andreasabel commented on #2627
Ok, maybe not `bar = bar`, but `bar = ?1 bar` which has an infinite reduction sequence
`bar --> ?1 bar --> ?1 (?1 bar) --> ...`.  The derivation could go like this:
[code]
You can actually see that if you put the `refl` into a shed.
[code]
Agda terminates, and the goal buffer shows:
[code]
One you instantiate `?2` with `refl`, this produces the definitional equality `bar = ?1 bar` which can cause

[2017-07-06 22:12] andreasabel commented on #2630
This is a duplicate of #2245 and #2378 and #1932.

[2017-07-07 15:00] cartazio opened #2631 "docs for auto aren't clear on how to use flags/options"
how do the various flags for auto work? http://agda.readthedocs.io/en/latest/tools/auto.html

do i do something like {! -t 20 !} or whatever? theres zero clarity in the docs about how to *use* auto.

[2017-07-07 16:45] asr commented on #2631
Yes but it seems it is not working in the current development version (stable branch). Please file a new issue for the timeout problem. I'll use this issue for adding the missing documentation.

[2017-07-07 17:14] jespercockx commented on #2573
I can confirm this very weird behaviour. This must be one of the weirdest bugs I ever encountered. Here's an attempt at minimizing the example, which ended up making it longer:
[code]

The cause of the problem seems to be that when rebinding local rewrite rules, they are not always added in the correct order: `law-gtrans` is added before `bool-t`, which produces a bad rewrite rule (since the `bool

[2017-07-07 17:45] jespercockx commented on #2573
Here's a simple example that exposes the same problem:
[code]
This throws an error, but replacing `id i` by `i` in the signature of `law` causes the file to pass.

[2017-07-07 18:22] cartazio opened #2632 "some flags to auto dont seem to work in current agda 2.5.2"
eg  {! -t 20 !} is the random example mentioned in https://github.com/agda/agda/issues/2631#issuecomment-313733706

(nb: i have no idea how to use any of the flags, so others may or may not also wok)

[2017-07-08 05:43] asr commented on #2540
While testing the build using GHC 8.2.1 RC 3, I found the following error:

[code]

It seems that the first report of this error in Travis was [here](https://www.travis-ci.org/agda/agda/builds/247384945).

[2017-07-08 05:48] asr commented on #2540
I can fix the error by adding

[code]

I don't understand why the importation is only required by GHC 8.2.1 RC 3. Any idea?

[2017-07-08 12:23] gallais commented on #2632
Do you have a reproducible case? The following test (`C-c C-l` followed by `C-c C-a`) works for me with `2.5.2`, `2.5.3` (commit 173cbe1) and `2.6.0` (commit 57e568c).

[code]

[2017-07-08 14:19] cartazio commented on #2632
Ummm, it was claimed by the person responding to me on the original thread
... I have no idea

On Sat, Jul 8, 2017 at 8:23 AM G. Allais <notifications@github.com> wrote:

[2017-07-08 15:17] cartazio commented on #2632
@gallais  maybe @asr can clarify his remark:

[2017-07-08 15:20] andreasabel opened #2633 "Goal garbled (displays bound variable instead of Def)"
[code]
Goal is displayed as
[code]
but should start with `LeF2`.

[2017-07-08 15:21] cartazio commented on #2610
is there a way to control where .agdai files are placed when doing agda-mode style development in emacs? (or is that what this ticket is about?)

[2017-07-08 15:36] andreasabel commented on #2633
There is a typo in my code. :$

[2017-07-08 15:37] #2633 closed, assigned to andreasabel

[2017-07-08 16:38] andreasabel commented on #2573
If you are at it you can also have a look at #2433.

[2017-07-08 16:42] andreasabel commented on #2540
When I try to load this file into `ghci` it also complains about `defaultArg`.

[2017-07-08 17:19] asr commented on #2540
GHC version?

[2017-07-09 00:30] sattlerc opened #2634 "Fixity declaration ignored in definitions in record"
Tested with Agda version 2.5.3-c8bffa4.

Operator syntax is not supported for definitions of operators in record scopes:
[code]

Fixity declarations for definitions in record scopes are ignored:
[code]

[2017-07-09 03:52] asr commented on #2540
The problem was caused by an unused module which is compiled by GHC 8.2.1 RC3 but it isn't compiled by previous versions of GHC including 8.2.1 RC 2. I think GHC 8.2.1 RC3 is doing the right thing.

[2017-07-09 09:58] andreasabel commented on #2540
7.10.x

But, surely it should complain about `defaultArg`.  How could it be possibly in scope without the import?

[2017-07-09 10:01] andreasabel commented on #2634
Yeah, sorry about that.  It is a too long open issue: #2500 ...
A theoretical solution is outlined in #434 ...

[2017-07-09 12:28] asr commented on #2540
Yes.

It isn't possible. GHC/Cabal were ignoring the module. In your case, your load the module in GHCi and you get the expected error.

[2017-07-09 15:51] cartazio opened #2635 "no documentation for `..{n} -> ` irrelevance syntax -- or in the manual"
eg in https://github.com/UlfNorell/agda-prelude/blob/master/src/Prelude/Fin.agda#L13

[code]

also  theres no docs on irrelevance and current syntax in the docs... just in the change logs :)

[2017-07-09 21:48] nad opened #2636 "The positivity checker complains when a new definition is added in the same where clause"
Consider the following code:
[code]
Agda complains:
[code]
The code is accepted if `lemma` is removed, or if the definitions in the where clause (or only `F`) are moved to the top-level, or if `= id` is replaced by `x = x`, or if `F` is removed from the definition of `D`.

[2017-07-09 22:06] nad opened #2637 "Internal error in Agda.TypeChecking.Pretty, possibly related to sized types"
Consider the following code:
[code]
Agda 2.5.2 complains about unsolved constraints and meta-variables, but Agda 2.6.0-decf1bc crashes:
[code]

[2017-07-09 22:19] nad commented on #2610
Currently interface files are stored in the same directory as source files.

[2017-07-10 14:38] zaoqi opened #2638 "interactive mode"
[code]
Why?

[2017-07-10 22:01] nad opened #2639 "Performance regression, possibly related to the size solver"
Consider the following code:
* `DR.agda`:
[code]
* `Bug.agda`:
[code]
If `unused` is commented out, then the code is quickly accepted, but otherwise Agda 2.6.0-decf1bc spends a lot of time on it.

Note that `unused` involves an unconstrained size variable. Perhaps the size solver works really hard with this code.

This is a regression, Agda 2.5.1.1 accepts the code quickly.

[2017-07-11 00:26] nad commented on #2639
Bisection suggests that the bug was introduced by @andreasabel in 9a6128647a13b57d8a42590125af259196e9a743: "Fixed 2046 by an agreeably dirty hack (no clean up yet)".

See also #2046.

[2017-07-11 15:50] andreasabel commented on #2637
Shrunk example by making most hidden arguments visible:
[code]

[2017-07-11 16:29] andreasabel commented on #2637
This issue was caused by an IMPOSSIBLE when printing an `UnBlock m` constraint.  The meta `m` was set to infinity by the size solver, a situation the printer did not expect.

[2017-07-11 16:35] andreasabel commented on #2639
That story is consistent: Agda 2.5.1.1 still did not have parameter refinement.  For Agda 2.5.2 I had to work around the hack to scale to parameter-refinement, probably introducing the performance regression there.

[2017-07-11 16:40] andreasabel commented on #2639
The regression is: Each time the size solver fails to solve the constraints, it adds another copy of these constraints.  Each attempt doubles the number of constraints.  So we get exponential behavior.

[2017-07-11 17:09] #2637 closed, assigned to andreasabel

[2017-07-11 17:15] #2639 closed, assigned to andreasabel

[2017-07-11 17:18] #2638 closed, assigned to andreasabel

[2017-07-11 17:19] andreasabel commented on #2638
Well, it actually still works, so please use it as you wish.  But we have not added any features to it since probably more than 7 years.

[2017-07-11 17:27] andreasabel commented on #2636
It would be nice to have a semantics for the positivity checker, for instance, a proof that if the positivity checker accepts an inductive type, then it denotes a set of well-founded trees.  And if the positivity checker marks a function argument as positive, yes, then what?

I think this bug shows that the positivity checker computes the SCCs naively.  I

[2017-07-11 17:55] andreasabel opened #2640 "Unifier dots the relevant pattern variables when it should dot the irrelevant ones"
@UlfNorell: I think your abuse of my `..`-modality is buggy:
[code]

[2017-07-11 17:56] andreasabel commented on #2635
I think Ulf's use of the `..` modality isn't quite safe yet, see #2640.
And mine neither: #2595.

[2017-07-11 19:47] nad commented on #2636
Did you intend to write more?

[2017-07-11 21:41] andreasabel commented on #2636
No.  I had written more and failed to delete the "I".

[2017-07-11 21:47] andreasabel commented on #2636
Agda claims:
[code]
which is obviously bogus.

The graphs look like this
[code]
Before the positivity check for `D` Agda evaluates the SCCs:
[code]
Agda constructs a spurious mutual dependency between `F` and `D`.  It finds correctly that `lemma` is non-recursive, but still includes it in the error chain given for the positivity error.

This is probably a variant of #1984.

[2017-07-12 09:36] UlfNorell commented on #2640
Here's an example that's more likely to go wrong (I accidentally get the right behaviour in the original test case):

[code]
The problem is that the unifier (cc @jespercockx ) decides to dot the `b` instead of the `a`. If you try to do this yourself you get the expected error:

[code]
I'm pretty sure the problem exists not only for my (perfectly reasonable) use of `..`, but also with your abuse of

[2017-07-12 09:56] UlfNorell commented on #2640
Indeed it should not:

[code]

[2017-07-12 09:57] UlfNorell commented on #2635
For future reference, #2640 is a problem with `..` in general and not with my particular use.

[2017-07-12 16:22] andreasabel commented on #2640
This problem exists also for plain irrelevant arguments:
[code]
Running the compiled program gives:
[code]
GHC is humble enough to blame it on itself, but looking at the generated code, it is really Agda's fault:
[code]
The compiled `test` (`d12`) returns its first argument which has been erased due to irrelevance.

@jespercockx: When you have time again, please modify the unifier to take into acc

[2017-07-13 13:40] wenkokke opened #2641 "Required instance of FromNat when compiling imported files"
When using `FromNat`, Agda requires an instance of `FromNat` to be in scope when compiling imported files which don't use `FromNat`. When compiling the imported files, they compile as expected (since they don't use `FromNat`).

I am using Agda version 2.6.0-dc58db0.

# How to reproduce

Create a file called `File1.agda` with the following content. Make sure the file is *not* compiled.

[code]

Cre

[2017-07-13 14:15] favonia opened #2642 "Records with duplicate fields"
I feel records with duplicate fields should be rejected at their definitions. Not only their semantics are confusing, but also they are very difficult to use. To clarify, I am talking about
[code]
which is currently accepted but in my opinion should be rejected or at least generates some warnings.

[2017-07-13 15:54] sattlerc opened #2644 "Wrong substitution in expandRecordVar"
Tested with the master branch Agda version 2.5.3-153e1c8.

An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Substitute.hs:89

The trace message is:
conApp: constructor F.recCon-NOT-PRINTED with fields [F.S.A,F.S.B,F.S.z] projected by F.Σ.fst

[code]

[2017-07-13 21:57] andreasabel opened #2645 "Agda accepts postulated fields in a record"
Discovered when working on issue #2642.
[code]
Why would we want postulated fields?

[2017-07-13 22:27] andreasabel commented on #2642
The following even triggers an internal error:
[code]
yields
[code]

[2017-07-13 22:52] andreasabel commented on #2644
This is a regression introduced in 2.4.2.4.

[2017-07-13 22:55] #2642 closed, assigned to andreasabel

[2017-07-13 22:55] #2645 closed, assigned to andreasabel

[2017-07-13 23:53] andreasabel commented on #2644
Mmh, agda-bisect does not work out of the box here.  My compiles seem all to fail with:
[code]
Probably I would need a bisect-script that lowers the upper-bound for the unordered-containers package.

[2017-07-14 19:22] andreasabel opened #2646 "Only warn if fixities for undefined symbols are given"
It is annoying to get an error if one comments out some definitions but not the fixities for these definitions.

[2017-07-14 19:41] nad commented on #2644
You could perhaps use `--cabal-option --constraint=unordered-containers==X.Y.Z` (untested). However, I suggest simply using GHC 7.8.4 to build the code:
[code]

[2017-07-14 21:43] andreasabel commented on #2646
I turned this error into a warning. TODOs left:
- [ ] Go through the other `DeclarationException`s in Concrete.Definitions
- [ ] In particular, turn the UselessPrivate etc into warnings.
- [ ] Move these warnings into a new type `DeclarationWarning`
- [ ] Preserve ranges of declaration warnings (currently lost).

[2017-07-14 22:51] andreasabel commented on #2644
Thanks!  I should have a look at  39eca6bf4a7f3c69e84f275df7c8ec4a808e14a6 of issue #1316.

[2017-07-15 15:26] MatthewDaggitt opened #2647 "Cannot build agda"
When running `cabal install` on a fresh version of the repository (commit 60ab017) I get the following output:
[code]
Is this a problem with Agda or a problem with my environment?

[2017-07-15 15:31] asr commented on #2647
The [latests](https://www.travis-ci.org/agda/agda/builds/253872931) Travis builds are OK.

[2017-07-15 15:35] asr commented on #2647
GHC version?

[2017-07-15 18:24] andreasabel commented on #2647
@MatthewDaggitt That is a weird location for GHC to fail...

[2017-07-15 18:31] andreasabel commented on #2641
One solution could be to put to put the `Number` class into `Agda.Builtin.Nat` and define an instance for `Nat` right there.  But I did not design the `FromNat` feature, so I do not really know how it is supposed to work.

[2017-07-15 18:32] #2646 closed, assigned to andreasabel

[2017-07-15 20:10] UlfNorell commented on #2641
That wouldn't completely fix the problem unless you also make sure to reexport the instance when you repackage `Agda.Builtin.Nat`.

The issue is that built-in bindings are global, but instance resolution relies on instances being (more or less) in scope. The way literal overloading works at the moment is that it looks at the built-in binding for `fromNat` (and `fromString`) to see if overloading i

[2017-07-15 21:09] asr commented on #2647
I could reproduce the error with GHC 7.6.3. @MatthewDaggitt, this version of GHC isn't supported in master nor stable.

[2017-07-15 21:09] #2647 closed, assigned to nobody

[2017-07-16 08:52] MatthewDaggitt opened #2648 "Update benchmark with new standard library list membership"
As Andreas [describes](https://github.com/agda/agda-stdlib/commit/6c5b6ccd216977b12a7dcdd6d9e34256fec965b4#commitcomment-23106449) one of the benchmarks is broken by my new changes to how list membership works in the standard library. I would fix it myself, but I'm on holiday and I'm currently experiencing problems with my GHC version on my personal computer. I'll keep trying to update my GHC vers

[2017-07-16 11:51] gallais opened #2649 "Empty list of "previous definition" in duplicate definition error"
While working on #2648, I've come across a weird error message:

[code]

The problem arises in [this file](https://github.com/agda/agda/blob/master/test/LibSucceed/Issue854/Run.lagda#L65) from [this `module M` definition](https://github.com/agda/agda-stdlib/blob/78d9beb9c951f63471a5196fe9cdfcc5c0e22d43/src/Data/List/Any/Membership/Propositional.agda#L25) which is simply used as an anonymous "modul

[2017-07-16 11:59] gallais commented on #2648
Blocked by agda/agda-stdlib#154

I need to update the agda-stdlib submodule so I need to fix all of the compilation errors arising from the new changes. I'd like to go for the principled solution rather than e.g. renaming [this local module definition](https://github.com/agda/agda/blob/master/test/LibSucceed/Issue854/Run.lagda#L65).

[2017-07-18 08:54] Saizan opened #2650 "Extend pattern unification to Path(P) application"
Agda should solve ```?0``` with ```(\ i -> b)``` in the following

[code]

[2017-07-19 06:26] andreasabel commented on #2648
Thanks!

[2017-07-19 17:39] andreasabel opened #2651 "Size solver wrong solution"
[code]
Agda does not find the solution for the `_`.  The computed constraints are:
[code]
which could be written as
[code]
and should have the solution `I := i, J := i+1`.
Probably Agda decides `J := i` which leads to a dead end.

[2017-07-19 17:44] jonaprieto commented on #2613
Yes, thanks! agda-prop type-checked.

[2017-07-19 18:11] andreasabel commented on #2651
The size solver finds an upper bound `I <= i` for `I` but no lower bound.  It ignores the flexible lower bound `I+1` for `J`, seeing only `i <= J <= i+1`.  It then chooses the minimal solution `J := i`.
One way to fix this is to add the lower bound `i <= I` and recompute the lower bound for `J`, which would then give `i+1`.  Note that since we do not have constant sizes nor minima, `i <= I` is a v

[2017-07-21 21:42] rntz opened #2653 "agda-mode: "cannot refine" inside instance argument even though term to be refined typechecks there"
I have a hole I'd like to fill with a term, and if I do so manually it typechecks, but using C-c C-r produces a "cannot refine" error (and using C-c C-SPC results in a more verbose error):

[code]

[2017-07-22 10:45] rntz opened #2654 "Internal error on result splitting without --postfix-projections"
Consider the following:
[code]

Putting the cursor in the hole and hitting C-c C-c RET to result-split results in an error:
[code]

Adding `{-# OPTIONS --postfix-projections #-}` at the top of the file prevents this.

I'm using Agda version 2.5.2.

[2017-07-22 12:08] xekoukou commented on #2653
This works for me and I am using a version that is higher that 2.5.2.
Maybe you can update and see if it works.

[2017-07-23 06:52] asr commented on #2540
GHC 8.2.1 was released. Except for a test case failing, Agda supports this version of GHC. I'll file a new issue for reporting the problem with the test case.

[2017-07-23 06:52] #2540 closed, assigned to asr

[2017-07-24 08:13] MatthewDaggitt commented on #2648
Okay, accepted your pull request. Thanks!

[2017-07-24 08:22] gallais commented on #2648
Perfect! Preparing the patch right now.

[2017-07-24 09:53] gallais commented on #2648
Notice that the great deprivatisation leads to Auto finding [more solutions](https://github.com/agda/agda/commit/7be1e5f1c78f87484c68c1e7bddfc2e7dbe990c0#diff-676f53cfc896d3782cc2052c0d62913d) and triggering #1789

[2017-07-24 11:04] #2648 closed, assigned to gallais

[2017-07-24 11:07] gallais opened #2655 "[ travis ] Broken build because of TAGS"
From [what I can see](https://s3.amazonaws.com/archive.travis-ci.org/jobs/256815118/log.txt?X-Amz-Expires=30&X-Amz-Date=20170724T110508Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170724/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=318af43691b78705d0380fa98c2dc3632389a125127ac136b298b55dd1050dc5) the [build is broken](https://travis-ci.org/agda/a

[2017-07-24 11:17] gallais commented on #1175
Updated test case: https://github.com/gallais/multiljf/tree/bug_auto

Can't reproduce the internal error (Agsy just doesn't produce any result).

[2017-07-24 11:25] asr commented on #2655
It seems an error related to Travis. Is the issue fixed by restarting the job?

[2017-07-24 11:25] gallais commented on #2655
I got the error on two different builds: https://travis-ci.org/agda/agda/builds

[2017-07-24 11:36] gallais commented on #2261
Can't reproduce the internal error (Agsy simply fails to produce anything and finishes in 8ms). It could have already been fixed by #2620.

[2017-07-24 11:47] #2035 closed, assigned to nobody

[2017-07-24 11:50] gallais commented on #1169
Can't reproduce: Agsy simply fails to produce any solution and returns in 0ms.

[2017-07-24 12:09] asr commented on #2035
@gallais, I added the 2.5.3 milestone.

[2017-07-24 12:10] gallais commented on #2035
Thanks!

[2017-07-24 12:24] gallais commented on #2649
Shrunk test case:

Issue2649-3.agda:
[code]
Issue2649-2.agda:
[code]
Issue2649.agda:
[code]

Error message:

[code]

[2017-07-24 12:36] asr commented on #1169
Removed use of the standard library from the test case:

[code]

[2017-07-24 12:45] asr commented on #1169
By replacing the above `foo` function by

[code]

I got in the `*Auto*` buffer the output
[code]

@gallais, did you get the above message without replacing the `foo` function? I didn't get any output.

[2017-07-24 13:01] gallais commented on #1169
In 2.5.2 with the definition of `foo`, I get nothing for the first hole (fails immediately) and a "No solution found after timeout (5s)" for the second one.

In 2.5.2 with the `postulate`, I get a "No solution found" for the first and `L` for the second one.

In both 2.5.3 and 2.6.0 with the definition of `foo`, I get nothing for both holes (the first one fails immediately, the second one takes un

[2017-07-24 15:44] andreasabel commented on #2654
Without postfix projections, the split is not possible (no syntax for it).  Thus, I guess in this case, instead of crashing, Agda should just use postfix projections automatically.

I implemented this.

[2017-07-24 16:57] andreasabel commented on #2649
Somehow I cannot reproduce the error message you see.  I get
[code]
Thus, Agda __is__ pointing me to the duplicate definition.

[2017-07-24 16:59] #2654 closed, assigned to andreasabel

[2017-07-24 17:02] andreasabel commented on #2653
Same here, I think this is fixed on 2.5.3.

[2017-07-24 17:03] #2653 closed, assigned to andreasabel

[2017-07-24 17:03] gallais commented on #2649
I think you need for the `agdai` files to already be present to reproduce the error. I do get the location when I first load the file, or if I reload it after switching to a different version of Agda (because the `agdai` are re-generated, I presume) but I don't if I simply 'kill and restart' and reload.

[2017-07-24 17:07] andreasabel commented on #2649
Ok, I get the empty list on the command line, but not in the emacs mode.

[2017-07-25 12:31] gallais commented on #2655
Is haskell/cabal#4624 related by any chance?

Edit: haddock-api, haddock-library, haddock, and base-noprelude already have a constraint `cabal-version: >=2.0` so `cabal update` does indeed pull these kind of files. I guess we'll have to wait and see. It's still weird that the other builds are not broken yet though.

[2017-07-25 16:31] fafounet commented on #1175
I'm not involved in this project anymore and I can't thus provide more information.

[2017-07-25 16:33] andreasabel commented on #2649
After refactoring for a whole day (#1293) to get more debug output, I can see that the `nameBindingSite` of the duplicate module has been partially removed:
- it is present for the part `Issue2649-2`
- it is absent for the interesting part `M`

[2017-07-25 17:23] andreasabel commented on #2649
I do not understand this issue:
- not killing the nameBindingSite does not fix the issue (Abstract.Name.killRange Name)
- it could be that the serializer throws away the information via the `Name` memoization mechanism

[2017-07-25 19:13] andreasabel commented on #2649
Maybe not killing the nameBindingSite fixes the issue after all.

@gallais If this issue persists, please reopen.

[2017-07-25 19:13] #2649 closed, assigned to andreasabel

[2017-07-25 19:39] asr commented on #2655
I guess. Thanks for the reference!

No really. The `hTags` program depends of some versions of some libraries which aren't required  by anyone else (e.g. mtl-2.1.3.1) when the GHC version is 7.8.4. However, this situation could change in the future if new versions of the dependencies causing the above Cabal bug are released.

[2017-07-25 20:30] andreasabel commented on #2068
For this issue, Pierre Hyvernat's termination checker would help.  It would find a call
[code]
but no recursive call.  This would give immediate termination.

[2017-07-25 20:36] gallais commented on #2649
I can't reproduce the issue anymore. Thanks!
That refactoring looks *intense*.

[2017-07-25 20:41] gallais commented on #2655
Looks like [this could be a workaround](https://github.com/ekmett/semigroupoids/commit/ef085d1cbe4a04245c5ace8be63e6de0c7151dcd). The build on that project went from [failing with the same error message we have](https://travis-ci.org/ekmett/semigroupoids/jobs/257425952) to [succeeding](https://travis-ci.org/ekmett/semigroupoids/builds/257435211).

[2017-07-25 21:12] asr commented on #2655
I tested something similar. I changed the `cabal-install` version used with GHC 7.8.4 but I had a problem related to using different versions of GHC when building the `internal-test` suite. For now, I [disabled the TAGS test](https://github.com/agda/agda/commit/969d237ba8250cc6dd440ad5ab7a7aad1335034c) with GHC 7.8.4, but I cannot test this commit because the build is [broken](https://travis-ci.or

[2017-07-25 22:17] asr commented on #2655
I'll push a fix in a couple of minutes.

[2017-07-25 22:25] asr commented on #2655
Too late, @andreas won :-)

[2017-07-25 22:37] asr commented on #2655
Sorry @andreas, I meant @andreasabel.

[2017-07-26 05:48] gallais commented on #2655
Thanks!

[2017-07-26 06:50] gallais commented on #1175
Ok, thanks for the update @fafounet. I suppose we can close this issue then.

[2017-07-26 06:50] #1175 closed, assigned to nobody

[2017-07-26 08:18] andreasabel commented on #2649
I will probably continue for a while.
Task #1293 was understandably not picked up by anyone in 3 years.  Grepping for `show` gives 2000 hits...

[2017-07-26 08:54] andreasabel commented on #2655
@asr: Sorry about the breakage.
I forgot to run `make test-size-solver`, somehow I assumed it was subsumed in `make test`.
Maybe it should be, as a last goal.

[2017-07-26 09:18] gallais commented on #2632
Can't reproduce so closing this. Don't hesitate to reopen if you have a MWE.

[2017-07-26 09:18] #2632 closed, assigned to gallais

[2017-07-26 10:38] andreasabel commented on #2631
Thanks, Guillaume!

[2017-07-26 11:12] asr commented on #2655
I agree. I'll add it.

[2017-07-26 11:17] gallais commented on #2399
This was fixed in 63389f8201b3c9cc12252ee15125d43e2317b9e7

[2017-07-26 11:17] #2399 closed, assigned to UlfNorell

[2017-07-26 13:22] gallais commented on #2610
Related to #2330

[2017-07-26 17:24] andreasabel commented on #2041
Simplified example:
[code]

[2017-07-26 22:41] gallais commented on #2604
I've tried porting the html backend to the blaze-html package and the same issue shows up: links are not url encoded either...

A popular solution seems to be to use [HTTP](https://hackage.haskell.org/package/HTTP)'s `urlencode` but that's a big dependency to add for something as simple as that. I've come across [uri-encode](https://hackage.haskell.org/package/uri-encode) and have tried it. It doe

[2017-07-27 08:13] andreasabel opened #2657 "test/Succeed/ImportWarnings fails sometimes"
`test/Succeed/ImportWarnings` fails sometimes after I recompile Agda and run the test suite for the first time.  The second time I run `make succeed`, the test does not fail.

[2017-07-27 08:57] andreasabel commented on #2384
I would like to see more test cases that use the new `antiUnify` tactic in the conversion checker.
The test cases should address these questions:

- [ ] Do we need to eta-expand during anti-unification (like in the conversion checker)? If not, why not?
- [ ] The current code (2017-07-26) seems to assume constructors are fully applied (precondition of `getConType`), but without eta, this is not gua

[2017-07-27 09:45] andreasabel commented on #2399
Thanks for fixing and locating the fix, resp.

[2017-07-27 17:28] #2433 closed, assigned to jespercockx

[2017-07-27 17:28] #2573 closed, assigned to jespercockx

[2017-07-27 17:29] jespercockx commented on #2433
Fixed by 46b4a0f87869b5c9bc847e43cbfbc7a4135361c9

[2017-07-27 18:42] andreasabel opened #2658 "Syntax.Internal.Names"
- [ ] This module needs comments documenting the choices made where to search for names.
- [ ] Some choices are unclear, please revisit.
- [ ] Give the intended use of `namesIn`.  For instance, in comparison to `getDefs` it does not follow metas.

[2017-07-27 19:05] ilovezfs opened #2659 "Agda 2.5.3 release"
Because the `agda` formula in Homebrew has a runtime dependency on GHC, not just build-time, it is especially important for us to be able to build `agda` with the latest GHC. Otherwise, we cannot upgrade `cabal-install`, and the 2.0 release for `cabal-install` is due out imminently, as Cabal 2.0 has already been tagged.

The `stable-2.5` branch seems to build fine with GHC 8.2.1. Are there any rem

[2017-07-27 19:42] asr commented on #2631
I'm used to see the changes in the user manual reflected in the online manual. The [commit](cb0b898d668059a8e891ab9918c3086e40902828) that fixed this issue is in master, but I cannot see the changes in the [online](http://agda.readthedocs.io/en/latest/tools/auto.html) manual. Was there some change in the manual workflow?

[2017-07-27 19:44] asr commented on #2573
@jespercockx, I just added the 2.5.3 milestone.

[2017-07-27 20:30] gallais commented on #2631
Seems like [a lot of the builds fail](https://readthedocs.org/projects/agda/builds/) with "An unexpected error occurred". rtfd/readthedocs.org#3006 may be related.

Edit: at least [one of the failures](https://readthedocs.org/projects/agda/builds/5734750/) gives a Traceback and mentions a permission problem.

[2017-07-27 21:18] gallais commented on #2631
Ah! Looking at it was enough for [one build to pass](https://readthedocs.org/projects/agda/builds/5752959/) and we now have [the updated docs](https://agda.readthedocs.io/en/latest/tools/auto.html).

The very high rate of failure is still concerning though. :/

[2017-07-27 21:29] asr commented on #2631
The builds are failing again...

[2017-07-27 21:29] #2631 closed, assigned to gallais

[2017-07-27 22:16] asr opened #2660 "Re-enable Agda in Stackage (GHC 8.2.1)"
Agda 2.5.2 will be removed from Stackage night builds because it doesn't support the versions of the libraries shipped with GHC 8.2.1. We need re-enable Agda in Stackage after releasing 2.5.3.

[2017-07-28 08:25] andreasabel commented on #2331
Now that this new unsoundness is taken back, we can release Agda 2.5.3. :)

[2017-07-28 08:30] andreasabel commented on #2659
I had a look at the current list of regressions.  None of these is not already released, thus, shipping 2.5.3 should not make things worse than they already are (to take a very pessimistic stance ;)).

Only my recent refactorings for #1293 worry me a bit, we may need a bit time to weed out possible new regressions there.

[2017-07-28 08:34] andreasabel commented on #2505
I don't know what to do with this issue? @nad Are you planing to investigate this soon? Or should we close this issue.

[2017-07-28 08:37] andreasabel commented on #2503
@gallais What kind of infos do you need to progress on this issue?

[2017-07-28 08:40] gallais commented on #2503
I'm happy with the current feature. I just need to take the time to hide this functionality behind a keystroke because it's (understandably?) a bit slow.

[2017-07-28 08:41] andreasabel commented on #460
It seems pointless to keep this issue open for another 6 years. :)
A solution to this issue would involve some caching of solutions found by agsy.  And a reliable, specified Agsy.

[2017-07-28 08:41] #460 closed, assigned to andreasabel

[2017-07-28 08:46] andreasabel commented on #2295
This issue needs a more detailed proposal what should be changed and how it would make sense.

[2017-07-28 08:46] #2295 closed, assigned to nobody

[2017-07-28 08:50] andreasabel commented on #2293
I am marking this as blocked by #1145.

[2017-07-28 08:59] andreasabel commented on #146
We can dream about this for another 7 years.

There is limited support for making hidden arguments visible for splitting in #2466.

[2017-07-28 08:59] #146 closed, assigned to nobody

[2017-07-28 09:05] andreasabel commented on #339
Nothing happened here for 6 years...  Feel free to resurrect once you start working on this. (Whoever you are.)

[2017-07-28 09:11] jespercockx commented on #2640
This should probably be fixed before the release of 2.5.3. I'll take a look at it now.

[2017-07-28 09:15] andreasabel commented on #470
For the new example I get:
[code]
Could the proposal be fleshed out to see what it takes to implement this?

[2017-07-28 09:20] andreasabel commented on #487
There is not any concrete proposal here.  I close this.

[2017-07-28 09:20] #487 closed, assigned to nobody

[2017-07-28 09:21] #2549 closed, assigned to jespercockx

[2017-07-28 09:22] andreasabel commented on #496
@nad I am closing this.  Feel free to reopen if you still have interest to implement this.

[2017-07-28 09:22] #496 closed, assigned to nobody

[2017-07-28 09:27] andreasabel commented on #500
The given use case is covered by the `rewrite` keyword.  Please provide a new use case.
This issue is related to #858.

[2017-07-28 09:33] andreasabel commented on #508
@vlopezj has implemented support for various literate agda formats now.  I am closing this.
If needed, a new issue can be opened starting that the current state-of-the art.

[2017-07-28 09:33] #508 closed, assigned to nobody

[2017-07-28 09:44] andreasabel commented on #538
I think cyclic module dependencies are not going to happen anytime soon.
There is no detailed technical proposal here.
Closing...

[2017-07-28 09:44] #538 closed, assigned to nobody

[2017-07-28 10:02] andreasabel commented on #659
Should we link from error messages to the documentation?
That sounds like a gigantic project to implement (but maybe not technically demanding).
In any case, the error messages should not get to bloated, the link should only take a few characters.

[2017-07-28 10:14] andreasabel commented on #725
Keeping the highlighting would be a useful feature and presumably not too hard to implement.

[2017-07-28 11:00] andreasabel commented on #705
Finally found a low-hanging fruit! :)  Fixing this 5 years later...  I still remember the original fix session with @jmchapman in the Wakeup-hotel during the Copenhagen AIM 2012.

[2017-07-28 11:15] andreasabel commented on #781
We could keep track when a meta comes from a record field and include this info when printing the unsolved metas.

[2017-07-28 11:16] #705 closed, assigned to jmchapman, andreasabel

[2017-07-28 11:43] andreasabel commented on #781
[code]
In emacs, this gives:
[code]
The name of the meta indicates it comes from record field `foo2`.

On the command line, we just get:
[code]
This info could be improved.

[2017-07-28 12:00] jespercockx commented on #2640
The more general problem here is the following. Since shape-irrelevant terms can be used relevantly at the type level, the pattern matching unifier may encounter equations between shape-irrelevant and relevant terms. Hence if the relevant side is a variable, then it will be solved with a shape-irrelevant solution (which may or may not be a variable). So we need to check that the given term can be

[2017-07-28 12:03] andreasabel commented on #781
Maybe a candidate for an AIM bugfix-sprint session.

[2017-07-28 12:12] andreasabel commented on #776
This issue appears to be fixed.  I am adding the test case.

[2017-07-28 12:12] #776 closed, assigned to andreasabel

[2017-07-28 12:18] andreasabel commented on #758
Patches: 279e65fe0437cfbbedcc61249ecfeeb933aa6f1e and 6f3e3a66627630997be53c748e9fbde731b10b8e

[2017-07-28 12:26] andreasabel commented on #758
Current status (2017-07-28):
[code]
In the `syntax` declaration, `suc` is not highlighted.  In `test`, it is highlighted with constructor color.
I think the syntax should inherit the color of what it stands for.

[2017-07-28 12:55] andreasabel commented on #751
One could imagine to write a procedure that tries to lead constraints to inconsistency with all kinds of heuristics, like case splitting etc.  But nothing has happened here for 5 years and no concrete proposal has been discussed. I close this one.

[2017-07-28 12:55] #751 closed, assigned to nobody

[2017-07-28 12:56] andreasabel commented on #740
No one picked this up in 5 years.  Closing...

[2017-07-28 13:16] andreasabel commented on #723
We would need a constraint `isFunctionType X` and use it during instance search to exclude the instance for Nat.

[2017-07-28 13:25] andreasabel commented on #719
This is related to #2619.

[2017-07-28 14:24] andreasabel commented on #2503
Ok. One could also do some sort of reference counting (with two values 0 and >=1) when we look up things in the signature.  Or in other works, putting a checkmark at a signature entry if it is used.  Then one could complain about names being in scope but not checked in the end.

[2017-07-28 14:26] andreasabel commented on #2640
Yeah, this is the general crux with shape-irrelevance.  See also #2595.

[2017-07-28 14:44] andreasabel commented on #719
Mmh, can fix it by setting the definition site of the imported module `Common.Size` to the range of the first `A`.  However, then clicking on `Common.Size` does no longer jump to this module.

[code]

It seems that some infrastructure is needed here.  Currently, the first `A` is only a concrete name linking to the abstract name of `Common.Size`.  We basically have two concrete names pointing to th

[2017-07-28 15:15] andreasabel commented on #719
Here is another idea for a fix (see original example).  Upon the new definition of concrete `L` we are checking whether `L` is defined already, and yes, it points to abstract `Common.Size`.  Using `inverseScopeLookup` we find that abstract `Common.Size` is referenced by concrete `Common.Size`, `M`, and `L`.  Filtering for `L` we should get a concrete `L` whose range we can use for the error locati

[2017-07-28 16:11] andreasabel commented on #719
Ok the last proposal actually worked for the error message.
[code]
However, if we want to jump the defining import of a module/identifier (rather than into the imported module), as wished in #2619, the same trick does not work.  We might need binding sites in concrete names or some magic in Highlighting.Generate.

[2017-07-28 16:32] #719 closed, assigned to andreasabel

[2017-07-28 16:37] andreasabel commented on #651
There is no MWE, and it is unlikely we can reproduce this issue now from the old large counterexample (which might now fail for other reasons).

[2017-07-28 16:37] #651 closed, assigned to nobody

[2017-07-28 16:51] #883 closed, assigned to andreasabel

[2017-07-28 16:55] #657 closed, assigned to andreasabel

[2017-07-28 17:03] andreasabel commented on #938
Since everything except termination checking has been implemented, which has its own issue #1743, I can close this.

[2017-07-28 17:03] #938 closed, assigned to nobody

[2017-07-28 17:09] andreasabel commented on #899
I'll add the second example as a test case.

[2017-07-28 17:22] andreasabel commented on #1126
This has been fixed by others.  I will add the text case.

[2017-07-28 17:22] #1126 closed, assigned to andreasabel

[2017-07-28 17:27] andreasabel commented on #1091
In the context of #2649, definition sites are now preserved.

There is no more active work going on in the serializer, thus, I am closing this.

[2017-07-28 17:27] #1091 closed, assigned to andreasabel

[2017-07-28 17:40] andreasabel commented on #1077
We could add a warning if the following conditions are met.

-  Agda reconstructs the top-level module (because of non-import statements like above).
-  The first and only module at the top-level has the same name as the file.

[2017-07-28 17:56] gallais opened #2661 "Make STATIC do some actual partial evaluation"
I have tried to use `STATIC` which is marketed as something good for partial evaluation of interpreters on the following special case and I don't really see any specialization on the extracted code. It would be nice to have a use case in the documentation, as well as a discussion of the strengths and weaknesses.

We may also want to implement a partial evaluator able to push the specialisation dow

[2017-07-28 18:57] andreasabel commented on #1077
I implemented this as an error, in fact.

[2017-07-28 18:57] #1077 closed, assigned to andreasabel

[2017-07-28 19:04] andreasabel commented on #1262
The separator can fulfill its purpose also as a closed issue.

[2017-07-28 19:04] #1262 closed, assigned to nobody

[2017-07-28 19:17] andreasabel commented on #1533
This is one instance of the problems with hidden-lambda insertion, see #1079.
Serialization has been optimized, see also #1091.

I see no reason to leave this issue open.

[2017-07-28 19:17] #1533 closed, assigned to nobody

[2017-07-28 19:24] andreasabel commented on #2621
I realized I already reported this issue in 2015, see #1611.  The example there is:
[code]
with error
[code]

[2017-07-28 19:25] andreasabel commented on #1611
Still open today (2017-07-28), and reported again, see #2621.

[2017-07-28 19:50] andreasabel commented on #2661
Currently (2017-07-28), STATIC is used in the treeless compiler here:
[code]
In your example, I do not see any calls to `natRec` which could be normalized.

[2017-07-28 19:56] gallais commented on #2661
Shouldn't the compilation of `natRec` itself get normalized? Or do you mean I'd need to declare `fold` `STATIC` to get that simplification?

I'd expect `natRec` to specialise given that `STATIC e` does get something like `e = List.map (_+ 1) [ 1 ]` down to `e = [ 2 ]` even though the `STATIC` wasn't put on `List.map`.

[2017-07-28 20:59] #2655 closed, assigned to asr

[2017-07-29 00:01] andreasabel commented on #2644
The patch found by agda-bisect triggered a dormant issue: a wrong use of substitution in expandRecordVar.
After many hours of bug hunting, the fix is trivial: convert the `ListTel` into a `Telescope` before substituting!
How we all love de Bruijn indices!

[2017-07-29 00:03] sattlerc commented on #2644
Amazing work hunting that down, thanks!

[2017-07-29 00:15] #2644 closed, assigned to andreasabel

[2017-07-29 00:18] andreasabel commented on #2644
Thanks for finding a bug that has been sleeping for years.

[2017-07-29 04:59] ilovezfs commented on #2659
@andreasabel thanks! Please let me know if there's anything you'd like tested through our CI.

[2017-07-29 07:35] andreasabel commented on #2659
I will go on vacation now and cannot continue to work for a release.
@UlfNorell can you release in August? Or @asr?

Just for the release. the following diff in `Agda.Syntax.Abstract.Name` (connected to #1293) should be reverted, to make sure that the internal change of Name printing does not have some weird unexpected effects.
[code]

[2017-07-29 08:05] andreasabel commented on #2661
The implementation says that any call to `natRec` will get fully normalized.  But there isn't any.
Even `{-# STATIC fold #-}` cannot do a lot, since the call to `fold` in `natRec` cannot be reduced.
I really cannot see what can be partially evaluated in your example.

What you would want, I suppose, is to `{-# SPECIALIZE #-}` (Haskell pragma) `fold` to `d = ℕ`, which would then allow the partial e

[2017-07-29 08:24] UlfNorell commented on #2659
I'll be back from vacation the week of the 7th, so I can continue work on the release then.

[2017-07-29 08:31] UlfNorell commented on #2661
`STATIC` is something we lifted out of the discontinued Epic backend, so it hasn't really received much attention. It'd be nice to do something more principled with it.

I was pretty sure it would do that. Is there a missed beta redex in the example in the OP?

[2017-07-29 12:50] asr commented on #2659
Under the assumption that we'll release Agda 2.5.4, I created the 2.5.5 milestone.

[2017-07-29 20:22] andreasabel commented on #2659
@asr: I thought we release 2.5.3 first.  (But nothing against a 2.5.5 milestone.)
@UlfNorell: good!

I dedicate this issue to the discussion of the 2.5.3 release.

[2017-07-29 20:31] andreasabel commented on #2172
Nothing urgent about this issue (current behavior is the one of 2.5.2), thus I upped the milestone to 2.5.4.

[2017-07-29 20:40] asr commented on #2659
I just was thinking in retaking the initial tradition and release even version numbers, i.e. 2.5.4, 2.5.6 and so on, but it's OK if we release using the 2.5.3 version number.

[2017-07-29 20:42] andreasabel commented on #2661
There are linear lets which are not inlined.

If I switch all inlining and normalizatin on
[code]
I get this Haskell code:
[code]
The first let-bound variable `v3` has a single free occurrence, thus, it could be inlined.
I am not sure this leads to additional reductions, though.

[2017-07-29 21:13] andreasabel commented on #2659
If I remember correctly, this is the next release of the stable branch (2.5.1, 2.5.2, 2.5.3).
The current master, once it becomes stable, will be released as (2.6.1).
I forgot the exact logic behind this, but I think it is because early adopters work already with 2.6.0, and when we officially release it, it should have a strictly higher version number.
The discussion is here: #1941.
It seems not f

[2017-07-29 21:15] andreasabel commented on #2602
I implemented this fix for the release of 2.5.3 (see #2659).

[2017-07-29 21:36] asr commented on #2172
So, I removed the 2.5.5 milestone.

[2017-07-29 21:49] #2602 closed, assigned to nobody

[2017-07-30 19:28] gallais opened #2663 "Hackage "source repository" command invalid"
The [Agda package](https://hackage.haskell.org/package/Agda) on hackage indicates:

[code]
But running the second command `git clone https://github.com/agda/agda/tree/v2.5.2` yields the error:

[code]

I'm using git version 2.1.4 in case that matters.

[2017-07-31 04:56] gallais commented on #2663
This seems to be working:

[code]

Although maybe someone without credentials would have to use `https://github.com/agda/agda` instead of the `git@github.com:agda/agda` url?

[2017-07-31 15:14] jespercockx commented on #2640
I've implemented the check I outlined above (not pushed yet). This fixes the errors in the compilation as Agda now puts the dot on `a` instead of `b`. However, Ulf's proof of false still goes through. It seems there is something more we need to check.

[2017-07-31 23:34] csetzer opened #2664 "Segmentation fault with compiled programs using mutual record"
In the  attached file, when we compile the file and then execute it we get segmentation fault, when using for LUniv a mutual record; if we omit the mutual record, there is no segmentation fault.

[example2.agda.txt](https://github.com/agda/agda/files/1189093/example2.agda.txt)

[2017-08-01 06:21] UlfNorell commented on #2664
Here's a smaller test case:

[code]

For some reason the internal representation (`CompiledClauses`) of the projection functions are different with and without the `mutual`.

With `mutual`:
[code]

Without `mutual`:
[code]

In the `mutual` case it looks to me (and to the compiler) that the projection is given a circular definition. @andreasabel: is this a bug in the `CompiledClauses` or in the tre

[2017-08-01 09:00] anuyts opened #2665 "Documentation: Record update syntax in wrong location"
This is a tiny one: the [section on record update syntax](http://agda.readthedocs.io/en/v2.5.2/language/module-system.html#record-update-syntax) is classified under the chapter on the module system, not the one on record types. This looks like a mistake.

(Hope this is the right place to file this issue.)

[2017-08-01 19:39] gallais opened #2666 "Internal error at Agda/Syntax/Abstract/Name.hs:113"
This one is a bit hard to reproduce. You need:

An auxiliary file `A/B/C/D.agda` (if it's not as nested as that the error doesn't show up):
[code]
A main file `A/E.agda`:
[code]

Loading `A.E` yields the error:
[code]

[2017-08-02 00:54] #2663 closed, assigned to asr

[2017-08-02 00:56] asr commented on #2663
I also fixed the issue on [Hackage](https://hackage.haskell.org/package/Agda).

[2017-08-02 06:29] gallais commented on #2663
Thanks!

[2017-08-02 22:43] xekoukou opened #2667 "Panic error on unbound variable."
I get a panic error [here](https://github.com/xekoukou/sparrow/blob/101c76996e366dc5bc2464d4ee72240a29336968/agda/LinFunContructw.agda#L30)

[code]
If I explicitly write the implicit argument {ll = lll \and rrl} at the with clause, the panic goes away.

[2017-08-03 08:17] gallais commented on #2667
Shrunk test case:

[code]

With 2.5.2 I'm getting the error message:

[code]

[2017-08-03 08:23] gallais commented on #2659
Should the regression in #2667 count as a release blocker?

[2017-08-03 14:44] #2650 closed, assigned to Saizan

[2017-08-03 21:16] brprice opened #2668 "Changing the visibility of a module parameter breaks `with`"
I would expect that within a module `M`, the following are more-or-less equivalent:
[code]
[code]
[code]

However, a combination of module renaming and `with` shows they are not (postulate and hidden works, visible does not):
[code]

Agda (both 2.5.2 and 2.6.0-837f5d9) complains that
[code]

Note that the parameter Q is completely unused (and removing it altogether makes agda accept the above).
Th

[2017-08-04 12:48] sattlerc opened #2669 "Interaction: incorrect field variable name generation"
Tested with master branch Agda version 2.5.3-6ae503d.

When case splitting on a variable of record type, invalid field variable names may be generated:

[code]
The issue disappears if the record type is given a constructor, suggesting that (strangely) name generation is handled by different code paths in the presence and absence of constructors:
[code]

[2017-08-04 14:34] anuyts opened #2670 "Instance arguments and multi-sorted algebras"
Instance arguments do not currently play well with certain multi-sorted algebras (as I discovered while implementing categories with families). Below is a code example in the simpler setting of reflexive graphs.

The example defines a type `IsRG (Node : Set) (Edge : Set) : Set`. The problem is the following: when Agda is in search of an instance of type `IsRG N E` (where `N` and `E` contain metava

[2017-08-04 15:01] sattlerc opened #2671 "Feature request: nullary pattern matching lambdas"
Function definitions can be nullary (have zero arguments), so why not anonymous pattern matching lambdas?

With the introduction of field pattern matching, this actually has practical use. Say inside an expression you want to define a value of record type by pattern matching. The natural way to proceed would be to introduce a pattern matching lambda λ { → ?} and then case split on the result in th

[2017-08-04 15:45] sattlerc opened #2672 "case splitting in lambda-where may overwrite line"
Tested with master branch Agda version 2.5.3-6ae503d.

Apologies if this issue is already known or if such issues in the interaction part of Agda do not count as bugs.

[code]

[2017-08-04 16:42] sattlerc commented on #2671
I've lifted the restriction in the following pull request: https://github.com/agda/agda/pull/2673

[2017-08-04 17:43] rntz opened #2674 "Overloading inherited projections"
As of Agda 2.5.2, projections can be overloaded. However, in the case of "inheritance" using instance fields, this form of overloading does not seem to apply:

[code]

I don't rightly know whether this is a bug or a feature request.

[2017-08-04 18:10] rntz opened #2675 "record module functions should get hidden parameters when copied by module application"
For some reason, in the following code, the type of a record's field and a definition in that record's module get treated differently:

[code]

This is really counterintuitive. I'd expect that
[code]
parameterizes every definition in the module with an *explicit* argument of type A. But here the explicit argument is getting turned into an implicit one! And it's only happening for the *field* `a-fi

[2017-08-05 00:15] m0davis commented on #2670
In `yesrecord`, this works:
[code]
So, you don't need require `{{i : IsRG Node Edge}}` as you did in `norecord`. Does that help?

[2017-08-05 08:22] gallais commented on #2672
This seems to be related to #2628

[2017-08-05 09:38] anuyts commented on #2670
Well, what I think is surprising is that Agda does not expand the metavariable of type `RG` to two variables of type `Set` (which it can solve to `Node` and `Edge`) and an instance problem of type `IsRG Node Edge` which has a unique solution `isRG rg`. Your solution is a workaround (which boils down to not using the `RG` type), as is explicitly mentioning `mkRG (Node rg) (Edge rg)` as I did above,

[2017-08-05 11:14] m0davis commented on #2670
I think Agda is treating `source {_}` as `source {mkRG _ _ {{_}}}` rather than as you expect, `source {mkRG _ _ {{`[it](https://github.com/UlfNorell/agda-prelude/blob/3f99b98394f20d300249976eb1f5c24a9a006637/src/Prelude/Function.agda#L58)`}}`. That is, she's not invoking instance search in unification. (I'm not exactly sure why that is.) Perhaps your request is that she does so?

[2017-08-05 11:33] sattlerc commented on #2669
The fault lies in the translation from abstract to concrete syntax.

The typeclass class ToConcrete comes with two functions toConcrete and bindToConcrete, which have default implementations in terms of each other. However, several instances break these equations, so this is not an invariant at all (as one might think reading the code).

In particular, the instance
[code]
only defines toConcrete (

[2017-08-05 11:42] m0davis commented on #2670
To see why I think that, you could change `mkRG (Node rg) (Edge rg)` to `mkRG _ _` and Agda would work as you'd expect, rendering it (w/o error) as `source {mkRG _ _ {{it}}}`. Or try `mkRG _ _ {{_}}` and Agda gives the same error as if you had just `_`.

[2017-08-05 11:46] m0davis commented on #2670
Here's another workaround that requires yet one fewer hint (i.e. no need for `Node rg ∋`). It works because the below implicit argument to `isource` is solved with instance search, which recursively solves ```isRG``` via instance search. [That last statement is wrong. See my next comment.]
[code]
Alternatively, if you'd like to keep the same interface to `lemma1`:
[code]

[2017-08-05 12:05] sattlerc commented on #2669
The pull request for this issue is #2676.

[2017-08-05 15:33] m0davis commented on #2670
Sorry, no, the reason I gave for it working is not correct: it works b/c `rg` is the only instance of `RG` found.

[2017-08-05 17:05] m0davis commented on #2671
I don't see why you wouldn't simply use goal refinement, but maybe I misunderstand. Would you illustrate the practical use with a show of code before and after the case split?

[2017-08-05 19:24] sattlerc commented on #2671
There is a semantic difference between goal refinement and case splitting on the result for record types with no-eta-equality.

For an example, consider a pair type without eta equality:
[code]
and suppose we want to write a function for distributing pairs over pairs:
[code]
We want to implement the function in a way that avoids unnecessary term explosion, so we will not use goal refinement (C-c C

[2017-08-06 05:56] ilovezfs commented on #2659
Any updates here?

[2017-08-06 10:00] gallais commented on #2444
@UlfNorell Is there a way to turn some language extensions on in the generated code from inside Agda? E.g. I'd like `PackageImports`. If I use:

[code]

then I get

[code]

and the `LANGUAGE` pragma is just ignored by ghc.

[2017-08-06 21:40] #2665 closed, assigned to fredrikNordvallForsberg

[2017-08-07 09:54] anuyts commented on #2670
Thanks for pointing out what happens there more clearly. Then that is probably not a bug.

That could be another request, I guess. Although it is less clear to me what is the ideal situation here. One could argue that users do not expect instance search to happen when they are not calling a function with instance arguments anywhere.

But my main point remains the issue with multisorted algebras: t

[2017-08-07 10:46] jespercockx commented on #2670
I think it is a conscious design decision of Agda to not solve metas during instance search, see e.g. https://github.com/agda/agda/issues/1272. If Agda would do so, it could later lead to an error during typechecking where you (the user) would expect an unresolved instance.

On Mon, Aug 7, 2017 at 11:54 AM, anuyts <notifications@github.com> wrote:

[2017-08-07 16:04] gallais commented on #2486
We're missing some imports still. Trying to compile:

[code]
yields the error:
[code]
The `Maybe` type is translated to `AgdaMaybe` via a `FOREIGN GHC` pragma in `Data.Maybe.Base` but because `MAlonzo.Code.Data.Maybe.Base` is not imported in `Issue2486.hs`, that name is out of scope. I suppose we should always `import qualified` a module whenever we are using something from it?

[2017-08-07 17:11] UlfNorell commented on #2670
There's also an issue with potential non-termination if you allow instantiation of metavariables. There are some details [here](http://agda.readthedocs.io/en/latest/language/instance-arguments.html#instance-resolution).

[2017-08-07 20:15] ilovezfs commented on #2659
Just a heads up that cabal-install 2.0.0.0 is now on Hackage.

[2017-08-08 13:27] sattlerc commented on #2666
Here is a stand-alone example (in a top-level file called F.agda):
[code]
It crashes on a call
[code]
in `resolveModule` in `Agda.Syntax.Scope.Monad` that doesn't seem to make any sense.

I don't understand the sense behind the assigning of ranges to parts of module names in the scope checking monad. Any `open public` will break the intention.

EDIT: comments and simplification

[2017-08-08 16:10] sattlerc commented on #2672
And also to #2340

[2017-08-08 18:57] phile314 commented on #2486
The problem is that the coverage check code generated for the ``BlockBuffering`` constructor mentions the ``MAlonzo.Code.Data.Maybe.Base.AgdaMaybe`` type. However, the compiler doesn't generate any import for the ``MAlonzo.Code.Data.Maybe.Base`` module because there is no term-level usage of the imported module in the Agda source code. E.g. adding
[code]
makes that error go away (there is another

[2017-08-08 19:19] gallais commented on #2486
Yeah, in the [actual file](https://github.com/gallais/agda-sizedIO/blob/5b3a522aed26e0029af6caab4c5f4ed377d6ce8b/src/Sized/IO/Primitive.agda#L32) I've added some translation back and forth to get around that issue.

[2017-08-08 20:29] phile314 commented on #2486
There are two problems here actually. The first is that we don't generate an import if no term-level values are used. I have fixed this on my branch and this fixes some cases, waiting for travis now.

The other issue is that ``{-# FOREIGN GHC import qualified ... #-}`` pragmas are not propagated. This means if the Haskell type is declared in another Haskell module it breaks down again. Example:
<p

[2017-08-08 23:43] xekoukou opened #2678 "Auto fills hole with name of local function that is out of scope."
If you ask 'auto' to fill the hole [here](https://github.com/xekoukou/sparrow/blob/0dd0444807737b1fb543e964f7e4558b35fd2654/agda/LinFunContructw.agda#L106) , it will fill it with :
[code]
which is the local function [here](https://github.com/xekoukou/sparrow/blob/0dd0444807737b1fb543e964f7e4558b35fd2654/agda/LinFunContruct.agda#L112)

instead of the body of that function :
[code]

I am not sure if

[2017-08-09 00:04] xekoukou opened #2679 "Internal error at "Typechecking/Abstract.hs:133" and "TypeChecking/Telescope.hs:68""
I get an internal error [here](https://github.com/xekoukou/sparrow/blob/accc893b55bf3a37d7657a72ec9ac1e69f23636d/agda/LinFunContructw.agda#L116) :

[code]
The error is [here](https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Abstract.hs#L133)

[2017-08-09 07:45] ilovezfs commented on #2659
Given that it is unclear to me what the time table here is, I have proceeded without a new Agda release so as not to hold up the cabal-install 2.0.0.0 upgrade in Homebrew.

To do this, I have shipped a "fake" Agda version "2.5.3-alpha1" as the _stable_ spec in Homebrew:
https://github.com/Homebrew/homebrew-core/commit/e1f505f26e25501c0561de80ffd48dff88b0b353

2.5.3-alpha1 is defined as
https://git

[2017-08-09 07:48] UlfNorell commented on #2659
I'm back from holidays (as mentioned above) and have started working on the release. Barring major blockers I'm expecting to get it out by early next week.

[2017-08-09 08:30] #2261 closed, assigned to nobody

[2017-08-09 08:33] UlfNorell commented on #2329
Closing this as fixed then.

[2017-08-09 08:33] #2329 closed, assigned to andreasabel

[2017-08-09 08:52] UlfNorell commented on #2498
See also #1913.

[2017-08-09 08:55] UlfNorell commented on #2500
Closing this as duplicate of #434.

[2017-08-09 08:55] #2500 closed, assigned to andreasabel

[2017-08-09 09:20] UlfNorell commented on #2659
I don't think so. While it is a regression, it's a regression of the error message (if I'm reading your analysis correctly).

My plan for `2.5.3` is to release without worrying too much about existing bugs. Hopefully there will be time for a bug fixing spree and a `2.5.3.1` release in the not too distant future.

[2017-08-09 09:27] ilovezfs commented on #2659
That would be great. I don't like inventing versions :(

[2017-08-09 09:29] gallais commented on #2678
Sounds related to #1789: Auto will happily generate terms referring to out of scope names.

[2017-08-09 09:47] asr commented on #2659
@UlfNorell, I see there are only two issues labelled with the 2.5.3 milestone. Good!

Make me a signal when the stable-2.5 branch is ready and I will start preparing the release.

[2017-08-09 09:50] gallais commented on #2679
Does adding a type annotation for [`s` in this type signature](https://github.com/xekoukou/sparrow/blob/accc893b55bf3a37d7657a72ec9ac1e69f23636d/agda/LinFunContructw.agda#L22) make the error go away?

On shrunk test cases, it does for me and I don't have enough RAM to check the whole example myself (please consider spending some time shrinking your test cases).

Edit: I've pushed a [shrunk branch]

[2017-08-09 09:52] UlfNorell commented on #2659
Will do, thank you @asr.

[2017-08-09 09:54] UlfNorell commented on #1941
Since we now include commit hashes in `--version` output, this argument no longer applies.

[2017-08-09 10:22] UlfNorell commented on #2486
Can you give a concrete example? If `Issue.agda` is explicitly mentioning `MyData`, wouldn't you expect to have to explicitly import `MyHsModule`?

[2017-08-09 10:26] asr commented on #1972
Right now stable doesn't support GHC 7.6.3, so I guess we will remove the support for this version of GHC in Agda 2.5.3. If so, I suggest to remove GHC 7.6.3 from the code base.

[2017-08-09 10:32] UlfNorell commented on #2486
Answering my own question: here's a possible `Issue.agda`:

[code]

This will generate a type signature for the compiled version of `myDataId` referencing the Haskell `MyData`, which is not in scope.

Adding type synonyms for compiled types seems like the right solution.

[2017-08-09 11:15] xekoukou commented on #2679
No, it does not help if I add the type of s.

Don't ask me why but if I add a forth abstraction on the same ```with```, the error does go away.
[code]

All four are needed to continue the proof because of the type of ord :
[code]

[2017-08-09 11:28] #2669 closed, assigned to sattlerc

[2017-08-09 12:05] UlfNorell commented on #2486
@phile314: I'm adding the type synonyms, which I believe subsumes your change in 7d24b26. Is it ok if I just cherry-pick the additions to the test case from `ghc-imports`?

[2017-08-09 12:38] phile314 commented on #2486
Sure, go ahead :-) You may want to slightly modify the test case though as it doesn't cover the case where type synonyms are really necessary.

[2017-08-09 12:48] UlfNorell commented on #2486
I'm adding the example I gave above.

[2017-08-09 13:06] UlfNorell opened #2680 "Travis fails on text-icu for ghc-7.8"
Travis fails on `text-icu` for `ghc-7.8`. Is it possible to turn off the `enable-cluster-counting` flag for the `7.8` job?

[2017-08-09 13:59] sattlerc commented on #2679
Here is a self-contained test case:
[code]

[2017-08-09 14:27] UlfNorell commented on #2524
`COMPILE` pragmas are type checked by ghc and should not lead to segfaulting Haskell programs (unless you write unsafe Haskell code in them). This feature, by contrast, is really unsafe.

I'm rolling back this for the `2.5.3` release and we can have a more in depth discussion for `2.5.4`.

[2017-08-09 14:46] #2486 closed, assigned to phile314

[2017-08-09 14:50] #2671 closed, assigned to sattlerc

[2017-08-09 18:32] UlfNorell commented on #2659
@asr: I think `stable-2.5` is ready now. Some Travis jobs are still running, but I expect no problems from those.

[2017-08-09 18:55] favonia commented on #2659
@UlfNorell Since several hours ago I have been seeing the build with the environment `TEST=MAIN GHC_VER=7.8.4 BUILD=CABAL CABAL_VER=1.18` keeps failing due to some dependency issue. Is this expected?

[2017-08-09 19:57] UlfNorell commented on #2659
I filed #2680 for that. I didn't investigate in detail, but it seems like `text-icu` fails to install with `ghc-7.8`. Since that dependency is not enable by default, and it doesn't seem like it's our fault, I'm not too worried about it.

[2017-08-09 21:32] sattlerc commented on #2679
Should be labelled 'with'.

[2017-08-09 23:17] sattlerc commented on #2679
There is something seriously wrong.
[code]
For n : [1..3], the metavariable is not given type `B a<n>`, but `B a<n+2 mod 3>`.

[2017-08-10 01:14] xekoukou commented on #2679
Please, try to fix this. It keeps popping up and I do not know what to do, how to circumvent it.

[2017-08-10 04:07] asr commented on #2680
I couldn't reproduce the issue. Let's see if the above commit fix the problem...

Edited: Nope.

[2017-08-10 05:56] asr commented on #2680
I don't know why GHC 7.8.4 in Travis is using the wrong version of cabal-install. I'm doing some tests...

[2017-08-10 07:03] andreasabel commented on #2679
Looks like a de Bruijn error in the unifier, possibly related to #2621.

In 2.4.2.6 or 2.5.1.1, I get instead an error:
[code]

[2017-08-10 07:04] andreasabel commented on #2679
@jespercockx : Do you have time to look at it now?

[2017-08-10 07:49] andreasabel commented on #2667
I am bringing the old error message back.
To make this case succeed, we need to work in the direction of #2183.

[2017-08-10 07:59] #2667 closed, assigned to andreasabel

[2017-08-10 08:14] andreasabel commented on #2664
It seems that if `mutual` then the projection definitions go through record pattern translation, see `Rules.Decl.revisitRecordPatternTranslation`, introduced for #2308 and #2197.
Record pattern translation for record projection definitions is counterproductive. They should be exempt.

[2017-08-10 08:36] #2664 closed, assigned to andreasabel

[2017-08-10 10:31] jespercockx commented on #2679
I'll take a look at it. Could have something to to with the higher-dimensional unification I added...

[2017-08-10 12:23] andreasabel commented on #2675
Yes, this is a known design flaw of the Agda language.
The current dogma is that
[code]
should behave as
[code]
but this leads to the non-compositional behavior you experience.

[2017-08-10 14:22] jespercockx commented on #2679
This is again a bug with instantiating metavariables during unification. It seems like a waste of time to try to fix this when we're planning to remove this feature (see #2621), so I'm adding a blocking tag.

[2017-08-10 14:39] andreasabel commented on #2679
The plan is to release 2.5.3 very soon now, but probably #2621 won't be fixed before the release!?
The current behavior is a bit unsatisfactory, an error message would be better (previous behavior).
I would not like to release this bug.

[2017-08-10 14:59] jespercockx commented on #2679
How about instead going ahead with the fix for #2621 by just breaking the test case for `succeed/Issue1922.agda`? We can then continue to work on better type propagations for extended lambdas after the release.

[2017-08-11 06:56] UlfNorell commented on #2597
This isn't a reflection problem, but an issue with the `overlap` keyword:

[code]

It looks like the checking of argument gets confused by the `overlap`.

[2017-08-11 07:02] UlfNorell commented on #2597
Introduced by the #2399 refactoring.

[2017-08-11 08:00] #2597 closed, assigned to nobody

[2017-08-11 08:49] #2572 closed, assigned to nobody

[2017-08-11 09:05] UlfNorell commented on #2568
For some reason I have yet to figure out, the instance meta is deemed `irrelevant` and thus instance search happily picks whichever instance it found first (`R2` in this case).

[2017-08-11 09:18] UlfNorell commented on #2568
Also it only fails when the argument to `R` is of type `Level`. Simplified test case:

[code]

[2017-08-11 09:38] UlfNorell commented on #2568
It looks like the problem might be this code (introduced by @andreasabel in 312cf84) in `Interaction.BasicOps`:

[code]

`wakeIrrelevantVars` sets the relevance of the context to `Irrelevant` so any metas created will be treated as irrelevant. It doesn't explain why the problem goes away if you pick something other than `Level` for `A` though...

[2017-08-11 10:00] UlfNorell commented on #2568
It only fails for `Level` since level metas are exempt from the non-rigidly constrained meta check.

Here is a test case without levels:
[code]

[2017-08-11 11:25] andreasabel commented on #2621
Ok to merge, I guess.
We should fix #1922 in a different way then.
Looking at https://github.com/agda/agda/commit/b6b3f7a257e8fe03396ec1cd5a73878941c1bf56 maybe we just have to catch more errors addtitionally to IllTypedPattern, say also this "Cannot decide...".

[2017-08-11 12:23] #2568 closed, assigned to nobody

[2017-08-11 13:23] #2666 closed, assigned to UlfNorell

[2017-08-11 13:24] UlfNorell commented on #2524
I don't think this is the right feature. If we only allow swapping out abstract definitions I don't see that we're gaining anything over having two separate implementations of the same signature. For the example above:

[code]

[code]

The only safety check we get is that it's possible to implement the signature, and we get that from `Pointer.Safe` as well.

[2017-08-11 13:28] UlfNorell opened #2682 "What are the rules for projections of abstract records?"
I'm confused:
[code]

[2017-08-11 13:29] UlfNorell commented on #2524
Aside: you forgot to `COMPILE` the projections (#2682).

[2017-08-11 13:37] jespercockx commented on #2621
Ok, I'm trying out a first crude fix to #1922 in the same spirit now. Ideally we'd keep track of which metas are blocking a unification problem, but I can use an over-approximation of the set of metas for now.

[2017-08-11 14:47] gallais commented on #2680
Is it because of this line `if [[ $CABAL_VER = "1.18" ]]; then cabal install cabal-install` that we pull in the more recent version 2.0 that was released recently and that the build fails later on?

[2017-08-11 15:00] #2641 closed, assigned to UlfNorell

[2017-08-11 17:04] rntz opened #2683 "feature request: let recursive record definitions use their own field accessors"
Within a recursive `record` definition, it is sometimes useful to use the record's own field accessors:
[code]

I can accomplish this using a `mutual` block and two separate structures, but this unnecessarily entangles `rest` and `head≤rest`:
[code]

[2017-08-12 07:10] andreasabel commented on #2683
The radically more consistent design would be to have a `self` or `this` keyword to refer to the record type under definition:
[code]