[2020-03-23 16:33] #4530 closed, assigned to jespercockx

[2020-03-23 21:36] pnlph commented on #4523
I think because of how is `quoteTerm List._∷_` resolved.

I guess also that I am trying to think about the representation that `Term` provides in a compositional way, in the sense that the representation of an expression can be determined by the representation of its constituent expressions and some application operation able to combine them in a meaningful way.

Is it adequate to think about comp

[2020-03-24 08:16] jespercockx commented on #4523
The parameter `A` of `List` is an *explicit* argument of the type, but an *implicit* argument of the constructors. Implicit arguments are inserted automatically by Agda, but explicit arguments are not, so that explains the difference.

Defining such a function is hard because the first `Term` could be a lambda-expression, but the reflected syntax has no way to represent a beta-redex `(\x -> u) v`.

[2020-03-24 08:16] Saizan commented on #4527
The issue with termination checking `--without-K` seems to be that the checker does not get to see the transports that actually happen when given a non-refl proof.

When implementing inductive families for Cubical I do generate a clause that inserts the necessary transports, so termination checking that clause should catch the examples from the other thread.

If your types are refining just becaus

[2020-03-24 08:59] ajrouvoet opened #4536 "co-pattern matching on empty record type removes body"
Understandably, co-pattern matching on a record type with no fields removes all equations:

[code]

But Agda won't accept that declaration without a definition, preferring `something = record {}`

[2020-03-24 09:26] jespercockx commented on #4536
There already is an issue for this: https://github.com/agda/agda/issues/3006

[2020-03-24 09:26] #4536 closed, assigned to andreasabel

[2020-03-24 10:39] gallais commented on #3006
An alternative proposition: never complain about a missing definition for
a declaration if it is trivial (i.e. either the LHS telescope is absurd or
a `_` RHS is enough).

[2020-03-24 10:43] nad commented on #4527
The idea is that `--without-K` should be compatible both with `--with-K` and with `--cubical`. Would it make sense to generate these clauses whenever the K rule is turned off, or could this create problems for code that relies on K? (It might make sense for compiler backends to remove the extra clauses.) In that case we could perhaps remove the restriction and rely only on regular termination chec

[2020-03-24 10:47] nad commented on #4526
You can find out where Agda looks for the files by using `-vimport.main:20`.

[2020-03-24 10:56] nad commented on #4517
I suggest that you either make sure that things normalise quickly, or remove the slow instances of `with`.

It is perhaps unfortunate that newcomers to Agda are taught to use `with`. It works fine in simple cases, but can blow up in more complicated situations. One option might be to implement an optional warning for every use of `with`, to make people aware of the risks.

[2020-03-24 11:27] nad commented on #4523
See #3821.

[2020-03-24 12:06] ajrouvoet commented on #4517
Using abstract module parameters worked well as a workaround. But it would be nice to think about instantiation of modules and whether things can be improved from that angle.

I don't think we need to warn users for `with`. Things actually hold up quite well for relatively complicated scenarios in my opinion. We just need better ways to diagnose and address performance issues when they do arise.

[2020-03-24 12:14] Saizan commented on #4528
I'm a bit concerned that the partial datatype projections like `Agda.Builtin.List._∷_-0` now seem to be promoted to full projection status (e.g. by inclusion in ConHead), was this a deliberate choice?

I originally introduced them only as an implementation aid for `hcomp`.

[2020-03-24 12:17] andreasabel commented on #4528
Which commit?

[2020-03-24 12:27] andreasabel commented on #3006
Not convinced.  Especially if you _read_ code, it is very ambiguous if you just see the type signature without the definition.  After all, with new-style mutual, its definition could still be given eventually, at the end of the file.  I'd say we shouldn't go down this path.

[2020-03-24 12:35] UlfNorell commented on #4528
Yes this was intentional, but I don't think they are actually used at the moment. It was done as part of the new forcing translation. The (as yet unimplemented) idea is that lazy matches, originating from the forcing translation, can use the projections instead of full matching.

[2020-03-24 12:40] Saizan commented on #4528
Here's the commit btw: 4df7f61ca2d57eb2aa0a8911ca067cd9c37ef65e

It seems that these projections are used in the elaboration of the pattern lambda that defines the `g` field. You can see them in the goal type if you replace the definition of `h` by a hole.

[2020-03-24 14:52] jespercockx opened #4537 "Hole solved with implicit function type leads to parse error"
Minimal example:
[code]
Giving the solution succeeds, but reloading the resulting file gives a parse error:
[code]
Error message:
[code]

[2020-03-24 16:31] pnlph opened #4538 "changing the predefined precedence of an operator"
I am reading the documentation about [Precedence](https://agda.readthedocs.io/en/v2.6.1/language/mixfix-operators.html#precedence) but i don't find this. Is it possible to change the precedence of an operator once imported?

Example, this does not seem to work:
[code]

[2020-03-24 16:52] gallais commented on #4538
In the CHANGELOG for 2.6.1:

 #1346. Example:

[code]

This needs to be added to the manual.

[2020-03-25 08:19] UlfNorell commented on #4060
This is indeed the problem. Measuring the sizes of terms during conversion checking, with call-by-name the size peaks at around 5k (syntax tree nodes). With call-by-need there's one reduction step that takes it from 6k to 59M, before Agda falls over.

I've added a flag `--call-by-name` (PR above) which turns off call-by-need in the abstract machine. With this turned on the example checks quickly.

[2020-03-25 09:37] UlfNorell commented on #4060
There's still a question why we need to look at this huge term, though...

[2020-03-25 13:50] ajrouvoet commented on #96
I'd like to request reopening this issue.

It is still pretty verbose to import multiple data-types from a module with their constructors.
If one has to be particular about which data-types to import from a module, this already feels like a chore. Having to repeat the same names to then also import their constructors is not fun.

Another big difference is that dedicated syntax for "including const

[2020-03-25 14:09] andreasabel commented on #4537
Works with comments:
[code]
After give:
[code]
Somewhat related: #3161.

[2020-03-25 14:29] andreasabel commented on #4537
I think the issue could be fixed by remembering in `ArgumentCtx` whether this argument context is unnamed and hidden.  In this case and if the given string starts with `{`, patch it with a space.

However, this bug is a very rare glitch in the user interaction and probably lowest prio.

[2020-03-25 14:40] andreasabel commented on #96
Yes, the record constructor is not part of the record module, which is parametrized by a record value.  Wouldn't make sense to parametrize the constructor by a value of what is constructed.

A problem with a dedicated syntax for constructor import is that then there is a difference between constructors and pattern synonyms.  This is a problem in GHC:  There, you have to import in the style
[code]

[2020-03-25 14:46] ajrouvoet commented on #96
Of course :) all the more reason to consider some special import syntax then.

Right, but that just means that there is a separate problem related to pattern synonyms, no? Because the current approach also fails there. Or is there already a way to put things into the data module that I'm unaware of?

[2020-03-26 09:25] andreasabel commented on #4481
Up to 2.5.4.2 this was a parse error.  Ulf would object to the label "regression in 2.6.0", but one could argue that throwing a hard error is better behavior than silently ignoring the will of the user.
It seems like updating the type checker for lambdas was forgotten when parsing named arguments for lambda was enabled in the implementation of #952.

[2020-03-26 10:02] andreasabel commented on #4481
Before #952, hidden lambdas would always map the current hidden pi, as there was no way to skip some hidden quantifiers and then resume with a hidden quantifier.  This functionality has to be added to fix this issue.  Should succeed:
[code]
Note that by ignoring the binder names, Agda accepts the following code which will look like a proof of inconsistency to the user:
[code]

[2020-03-26 11:13] andreasabel commented on #4481
Looks like this is dead code?
https://github.com/agda/agda/blob/f3a509441da8a2e4db0b71cc4ea7ab1e36b70247/src/full/Agda/TypeChecking/Rules/Term.hs#L1121
(Maybe already at its conception.)
The _domain-free_ named lambdas seem to arrive at the type checker as `DomainFull`.  Looks like #952 has introduced some confusion.

[2020-03-26 12:45] gallais opened #4541 "Javascript backend does not support FOREIGN"
This is a major problem if you need to import something. There is a mechanism
to detect "globals" that sets up a list of imports however it understandably
does not go dig into the raw JS code a user may write. But raw JS code is
precisely what one writes when one writes a `COMPILE JS` pragma!

A minimal example would be something like:

[code]

[2020-03-26 13:18] UlfNorell commented on #4481
No I think it's fine... as long as you are happy to fix it by reintroducing a hard error.

[2020-03-26 14:15] andreasabel opened #4542 "Sort out DomainFree / DomainFull"
During work on #4481 I noticed that domain-free lambdas arrive at the type checker as `DomainFull` rather than `DomainFree`.  This is rather confusing and should be straightened out in a refactoring.  The confusion could have been introduced during the large restructurings in connection with #952.

[2020-03-26 20:26] #4481 closed, assigned to andreasabel

[2020-03-26 20:53] gallais commented on #4481
Thanks! <3

[2020-03-27 05:34] asr opened #4543 "Access violation on Windows on GHC 8.8.3, 8.8.4, 8.10.1 and 8.10.2"
The workflow using Windows and stack [fails](https://github.com/agda/agda/runs/507890135) on GHC 8.8.3:

[code]

It seems a similar problem was reported in the GHC bug tracker: [Issue 17926](https://gitlab.haskell.org/ghc/ghc/issues/17926).

Versions used by the workflow:
* Current runner version: '2.168.0'
* Operating System
  Microsoft Windows Server 2019
  10.0.17763
  Datacenter
* Virtual Envi

[2020-03-27 05:36] asr commented on #4476
I filed #4543 for this problem.

[2020-03-27 05:45] #4476 closed, assigned to asr

[2020-03-27 07:42] andreasabel commented on #4481
Hahaha! :D

I tried to fix it in a progressive way, but did at that point not do extensive testing, hoping for the crowd..

Maybe I should have labeled it instead "progression in 2.6.0".

[2020-03-27 08:23] andreasabel commented on #4534
Looking at where the error is generated, another problem is cut-and-paste programming...

[2020-03-27 10:17] #3422 closed, assigned to jespercockx

[2020-03-27 10:27] #4534 closed, assigned to andreasabel

[2020-03-27 10:30] andreasabel commented on #4534
In this case, the new error is `Cannot quote a variable X`.

[2020-03-27 10:32] jespercockx commented on #4534
Maybe the error message should include a suggestion to use `quoteTerm` instead?

[2020-03-27 11:37] nad commented on #4060
Call-by-need can lead to worse performance than call-by-name. A classic example:
[code]
Compile using `-O0` and `main = print good` or `main = print bad` to see the difference: the first piece of code runs in constant space, the second one doesn't.

[2020-03-27 11:48] nad commented on #96
I'm not sure what you mean. I have used the following pattern to work around problems with record modules (#3592, #4251):
[code]

[2020-03-27 14:15] #3532 closed, assigned to gallais

[2020-03-27 16:04] gallais opened #4544 "Code duplication in TypeChecking.Serialise.Base"
`icodeDouble`, `icodeInteger`, `icodeString`, `icodeNode`, etc. are all
copy/pasted instances of `icodeX`. Do we really need to keep all of them around?
The comment stating that inlining `icodeX` has adverse effects is 6 years old
so is probably based on a version of ghc we are not using anymore.

[2020-03-27 16:52] andreasabel commented on #3684
PR #4545 gathers the patches on this issue.  The feature is now implemented for record expressions and record updates.
For copatterns, we could have a more general mechanism in the scope checker that marks a clause as dead if the projection is not in scope.
Invalid record patterns leading to ill-formed clauses could be handled in the LHS checker, skipping such clauses as dead (also more general me

[2020-03-27 17:57] #3684 closed, assigned to andreasabel

[2020-03-27 17:59] andreasabel commented on #3684
Fixed on day 16 of my voluntary COVID-19 quarantine.

[2020-03-27 18:00] andreasabel commented on #4544
Well, you are free to repeat the experiment.
(I personally wouldn't want to spend a day benchmarking the std-lib for this, but no objection if you are motivated.)

[2020-03-28 09:25] andreasabel opened #4547 "Make more use of List1 (List.NonEmpty) in concrete syntax"
Several sequences in the concrete syntax cannot be empty, and we can express this via `List1`.

[2020-03-28 21:21] andreasabel commented on #4547
Spent my 17th day in quarantine with a day-long refactoring of the parser to use `List1` where possible: 4ae0ba2

[2020-03-29 07:19] #4425 closed, assigned to pnlph

[2020-03-29 07:49] andreasabel commented on #2857
See also #3619

[2020-03-29 07:52] andreasabel opened #4550 "Documentation build: malformed code-block"
Building the documentation, I get this infamous error:
[code]
The solution suggested in #2857 and #3619  is to run
[code]
However,
[code]

What is the fix here?
Can we solve this frequent issue in a robust way?

[2020-03-29 11:20] andreasabel commented on #4547
There is plenty of opportunities for `List1` left in other parts of Agda, like `Concrete.Definitions` and further down the pipeline.  I may reopen if I feel like doing more on this.

[2020-03-29 11:20] #4547 closed, assigned to andreasabel

[2020-03-29 17:15] asr commented on #4550
`cabal-install` version?

[2020-03-29 18:56] laMudri commented on #4526
Sorry, I forgot to reply here, but it's basically looking in the same place, and confusingly interface files do exist.

[code]

[code]

[2020-03-30 07:42] andreasabel commented on #4550
[code]

[2020-03-30 09:47] pnlph commented on #4523
Thank you @nad for the reference.

I have a question: the `apply` application function between terms should not just have type:
[code]
instead of
[code]
or is this another _kind_ of application function that you have in mind?

[2020-03-30 10:31] jespercockx commented on #4523
I think the differences between the two can be explained:

- The extra `Type` argument is the type of the head symbol and is needed for cases where it cannot be inferred (otherwise it's fine to just give `unknown` as the type).
- Having a list of arguments is more general than having a single argument (and it might be more efficient to give all arguments at once)
- The arguments have additional in

[2020-03-30 10:57] nad commented on #4550
@andreasabel, I don't think the error you see has anything to do with your Haskell tool chain:

https://github.com/agda/agda/blob/57165760eeffdbf2aec92b636cb92075d79ac7a3/doc/user-manual/getting-started/installation.rst#L64-L70

[2020-03-30 10:58] asr commented on #4550
Which is the output of

[code]

?

(I expect the error ```"No such file or directory"```).

[2020-03-30 11:04] nad commented on #4550
I'm guessing that the problem is that `code-block::` should be followed by the name of a language, like `bash` or `emacs`.

[2020-03-30 16:03] pnlph opened #4553 "[reflection] α-conversion howto"
This code is not typechecking. Agda tries to literally compare the strings "x" and "c":
[code]
Is there a way of expressing a lambda abstraction only with de Bruijn indexes? The constructor `abs` seems to require always a `String` element.

[2020-03-30 17:22] nad commented on #4553
I guess you could traverse the terms and replace all the strings with `""`.

[2020-03-30 17:36] jespercockx commented on #4553
Other options that have a higher initial cost but might pay off in the future:

- Define your own datatype for representing terms that is better geared to what you want to do, and in particular do not include the names in binders.
- Define a custom relation `_≈_ : Term -> Term -> Set` that expresses when two terms are alpha-equivalent (you might also include other equivalences)

In general, the ty

[2020-03-31 07:45] andreasabel commented on #4550
@asr:

ghc-8.4.4 ghc-8.6.4 ghc-8.8.2

[2020-03-31 07:48] andreasabel commented on #4550
@nad:

Oh, I see, thanks.  I have been fooled, assuming this is an actual error rather than the quotation of an error.  This should be easily fixable then.

[2020-03-31 08:01] #4550 closed, assigned to andreasabel

[2020-03-31 08:58] andreasabel opened #4554 "Documentation PDF build failure: agda.png is not a PNG file"
I had this problem on python 2.7 with Sphinx 1.8.5.  Upgrading to python 3 and Sphinx 2.4.4 (latest?) did not help:
[code]
Indeed, the generated `agda.png` in `doc/user-manual/_build/latex` is not a PNG file, it starts like this:
[code]
Manually deleting this file I can build the documentation PDF without the logo.

[2020-03-31 09:44] fredrikNordvallForsberg commented on #4554
It works for me, and the generated PNG file is a PNG file... Do you have imagemagick `convert` properly installed? (This should probably be added to [the dependencies](https://agda.readthedocs.io/en/v2.6.1/contribute/documentation.html#rendering-documentation-locally).)

[2020-03-31 11:43] pnlph opened #4555 "custom pragmas, built-ins"
Is it possible to define custom pragmas eg, built-ins in Agda?

I tried to bind the `Even` datatype like this:
[code]
But is not working, the error thrown is:
[code]
I read in the Language Reference -> [Built-ins](https://agda.readthedocs.io/en/v2.6.1/language/built-ins.html#built-ins) that:

Is `primNat` this _natural number concept_, and can it be reused to define a built-in for even numbers?

T

[2020-03-31 12:05] gallais commented on #4555
The builtin `NATURAL` expects a datatype of the form `data N = Z | S N`.
You cannot throw in additional parameters and argument (implicit or not).

You may want to write an erasure function and normalise `erase (suc-suc zero)` instead?

[code]

[2020-03-31 12:05] #4555 closed, assigned to nobody

[2020-03-31 12:06] guillaumebrunerie commented on #4555
No, you cannot use the pragma `NATURAL` on `Even`.
I’m not really sure what you are trying to do, but you may be able to use the `FROMNAT` builtin, see https://agda.readthedocs.io/en/v2.6.1/language/literal-overloading.html.
This allows you to use natural number literals for other datatypes like finite types and so on. It would allow you to use `2` to mean `suc-suc zero`, although you need to figu

[2020-03-31 13:26] pnlph opened #4556 "[documentation] update hello world"
Issue #4497 raised some controversy and also proposals about updating the contents of the page Getting started -> ['Hello World' in Agda](https://agda.readthedocs.io/en/v2.6.1/getting-started/hello-world.html)

I thought it would be good to start a new issue to discuss it. You can thumb up/thumb down this text if you feel the discussion of this is meaningful/not meaningful, or even close the issue

[2020-03-31 13:31] pnlph commented on #4497
Discussion continues in #4556

[2020-03-31 13:31] #4497 closed, assigned to nobody

[2020-03-31 13:38] gallais commented on #4556
I would be in favour of a self-contained hello world. The fact that anything else
than Agda needs to be installed seems to lead to confusion: users want to be
able to copy/paste the program and get an executable.

[code]

This may look a bit verbose but it is an opportunity to highlight the fact that
Agda does not load an implicit prelude and lets users pick the one they like.
We can then add sect

[2020-03-31 15:17] WolframKahl commented on #4556
In many fonts, `T` (the letter) looks a lot like `⊤` (`\top`), and newcomers won't know where the latter comes from.

I'd recommend:
[code]

[2020-03-31 17:17] pnlph opened #4557 "activate github's discussions beta"
Hi,

would it be possible to activate the discussions beta for agda/agda? I see that sometimes the issues are about asking something or discussing about a feature, like this issue itself.

Now filing an issue is the only alternative. I would find discussons very useful, how about you?

You can see an [example of the discussions module](https://github.com/zeit/next.js/discussions) in production. Th

[2020-03-31 18:05] guillaumebrunerie commented on #4557
Well, the other alternative is to send an email to the mailing list, it usually works pretty well.

[2020-03-31 19:59] mietek commented on #4556
I support the above suggestions.  However, as I said in #4497, I think the problem with the “Hello world” page is that it sets the wrong expectations.  It is great to have the option of compiling an Agda program and getting an executable, but that is not what Agda users do most of the time.

I would amend this to say that the user wants to be able to copy/paste a program that is representative of

[2020-03-31 20:10] guillaumebrunerie commented on #4556
I agree with @mietek that it should be made clear that most users never compile Agda programs. Instead of the Hello world page, there should be something testing loading a file in the emacs mode and unicode input, as this is what matters the most.
The Hello world example is still a useful example for when the user does actually want to get an executable (I definitely used it as a starting point wh

[2020-03-31 20:17] jespercockx commented on #4556
I strongly disagree: there is definitely a need for a minimal example that beginners can use to answer the question "Have I set up my Agda correctly?" The fact that we get many questions about the current hello world example is a proof of that.

I also want to remind some people here of the first sentence on the Agda wiki: "Agda is a dependently typed functional programming language." If it is to

[2020-03-31 20:24] mietek commented on #4556
I agree there is a need for a minimal example for newcomers.  I thought that this example should show how to use Agda interactively to write a program that is also a meaningful proof, instead of showing a finished program that merely exercises the FFI.  However, I also agree that it is good to see that Agda can be used to write programs that interact with the world.  Perhaps there is room for two

[2020-03-31 20:36] jespercockx commented on #4556
Maybe there's even room three examples (not necessarily in this order):

- An example of writing a "real program" in Agda (the current "Hello World")
- An example of writing a dependently typed program in Agda (Vectors with an append function are considered the standard hello world example for this)
- An example of how to use Agda to write proofs (maybe associativity of `_+_` would be a good stand

[2020-04-01 07:51] pnlph commented on #4556
I have created [a new project](https://github.com/agda/agda/projects/8) to assemble the changes. You can add, edit, delete and move cards accordingly.

[2020-04-01 09:31] andreasabel commented on #4557
The combination of "email" and "works well" in once sentence is paradoxical, imho.  ;-)

Email is an archaic idea from the physical world.  There are many solutions now that structure and organize communication better (an issue tracker being a good example).

"Discussions" seem to add to the ordinary issue tracking the possibility to reply to a specific comment (not just post a new comment).  Ther

[2020-04-01 09:40] andreasabel commented on #2858
@txa writes:
I thought we were already able to split cases but it seems I was wrong:
[code]
doesn’t work. Was this already a feature request? I actually need it mostly for pedagogical reasons. I want to prove a theorem, ah I need a lemma, let’s prove it and then continue.

Yes, I know I could use `with` but this gets to complicated. However, splitting cases is also very useful for inductive-induct

[2020-04-01 09:45] andreasabel commented on #2858
The problem of splitting cases is that it is had to tell when the definition of a function is complete (well, latest at the end of the file).  This is both a problem for implementation (think prefix copatterns) and code readability.  It seems that we would need a syntax for definitely closing a definition, like `end f` (rings MODULA).

[2020-04-01 09:48] andreasabel commented on #4554
I have
[code]

[2020-04-01 09:52] #4553 closed, assigned to nobody

[2020-04-01 09:55] txa commented on #2858
Functions should be complete add the end of the module.

There are cases where it improves code explainability. You start writing a function and then you need another one. Ok, you can either use a where or you define it before. Both options are not ideal, maybe you want to use the function in more than one case or you want to use it later. Putting  it before destroys the line of thought - why is t

[2020-04-01 09:57] fredrikNordvallForsberg commented on #4554
Does it understand SVG files?
```convert -list format```

[2020-04-01 10:04] andreasabel commented on #2858
This suggest that one should use `module _ where` as replacement for the old `mutual`, see also #3246.  We could have a keyword like `section` to substitute for `module _ where` (also with parameters).  I tend to forget the `_` and often write something like `module (A : Set) where` on the first iteration.

[2020-04-01 10:05] andreasabel commented on #4554
It mentions in a long list:
[code]

[2020-04-01 10:13] andreasabel commented on #4554
It seems to understand SVG as the content of "agda.png" is a MVG file (imagemagick's own format).  It seems there are problems on MAC OS with support for PNG though.
PNG is conspicuously missing from the list.

[2020-04-01 10:18] andreasabel commented on #4554
Thanks @fredrikNordvallForsberg , upgrading imagemagick solved the problem!

[2020-04-01 10:18] #4554 closed, assigned to andreasabel

[2020-04-01 10:26] andreasabel commented on #4554
Done.

[2020-04-01 12:40] pnlph commented on #4553
@jespercockx What is the best way to define a custom `Term` datatype?

I tried to duplicate the Reflection module in a new atom project, but it is not typechecking without disabling the `--safe` flag.

[2020-04-01 12:49] nad commented on #4557
Email has some advantages:
* It is standardised.
* You can use lots of different tools.

I would have liked to see similar standards for, say, issue trackers.

[2020-04-01 14:59] jespercockx commented on #4553
Well how you define your type of terms really depends on what you want to use the reflection *for*, the whole point of defining your own type is that you can specialize it to the application. For example, the ring solver in the standard library uses a syntax that only represents expressions consisting of the ring operations (and lumps together all the other terms in an "other" constructor).

I'm n

[2020-04-01 17:44] pnlph commented on #4553
Thanks, I will take a look at that ring solver.

Yes, I get two errors:
[code]
It works when i remove `--safe`

[2020-04-01 19:37] nad commented on #4553
You can remove the `COMPILE` pragmas.

[2020-04-01 23:41] berndlosert opened #4558 "Agda unification problem with equality"
When I compile this program:

[code]
I get the following:.
[code]
This occurs in Agda 2.6.0.1 and 2.6.1. Am I doing something wrong or is this a known problem with the unifier?

[2020-04-02 06:30] andreasabel commented on #4558
This works because function argument `B` can be instantiated to `A` on the lhs of `worksToo`.

You can't instantiate `A` because it is a record field whose value is determined by how the record is constructed.  You could instantiate `B` and `F` to make `A = F B`, but there are several solutions, and Agda only picks unique solutions in the unifier.

[2020-04-02 06:30] #4558 closed, assigned to nobody

[2020-04-02 06:36] andreasabel commented on #4557
Which sort of tools do you suggest that bring to email the features of a bug tracker:
* already sorted by topic when you write the comment
* archived
* one-click linkable from other issues, even across projects
* one-click links to the relevant code
?

[2020-04-02 08:16] Saizan opened #4560 "Loss of canonicity with no-eta record and copatterns."
In the following code, `foo : R -> A` is defined by pattern matching and `bar : R` is defined by copatterns. Then `foo bar` is a stuck term.

[code]

[2020-04-02 08:27] ajrouvoet commented on #96
Yet another reason to have some special syntax for "a type with its constructors" is that it could be used for `hiding` them in one big sweep :)

[2020-04-02 09:41] bafain commented on #2588
There seems to be a problem with the LaTeX code generated for multi-line comments that contain blank lines.

Agda version: `2.6.2-292237b`
XeTeX version: `3.14159265-2.6-0.999991 (TeX Live 2019/Arch Linux)`
Literate Agda file `Test.lagda`:
[code]
Generated LaTeX file `latex/Test.tex`:
[code]
Error:
[code]

[2020-04-02 11:34] nad commented on #4557
I did not suggest that we should use email instead of an issue tracker.

[2020-04-02 12:00] nad commented on #2588
A recent refactoring (32664c045fffd6708c2d46204a70fcd48f063fe3) has IMO made some relevant code harder to read:

https://github.com/agda/agda/blob/292237b2da99a57cb2bef78ab38d5d45f9fb316c/src/full/Agda/Interaction/Highlighting/LaTeX.hs#L671-L726

However, the bug is present also in Agda 2.6.1:

https://github.com/agda/agda/blob/8eb0d01811a663cf2b27b482b3b18690adfa094b/src/full/Agda/Interaction/Hig

[2020-04-02 13:30] pnlph commented on #4557
Thank you all for taking the time to answer. I can only share my experience with the community by describing the problems that I found and explaining how I think a discussion module would help.

### Duplicate check
The first problem is checking for duplications before submitting an issue.

To do this, Github provides a beneficial `Similar issues` tool, but I have to look also for a possible simila

[2020-04-02 18:42] nad commented on #4557
Can one easily export data from the discussion module, if something better appears in the future?

[2020-04-02 18:55] andreasabel commented on #2588
Indeed.
But it was already quite bad before this.  How about _naming_ these macro steps in the pipeline.  It is allowed to define auxiliary functions.  The names could even provide a hint of what that step is doing.

[2020-04-02 18:59] andreasabel commented on #4560
Yes, but it seems to be doing what the user wants with their dialectics of `no-eta-equality`, matching on constructor and only reducing `bar` under projections.
How would you think this should behave instead?

[2020-04-02 19:35] gallais commented on #4556
Another trap to be aware of: you can't just pull any version of the stdlib.
You have to download one that is compatible with the version of Agda you have
installed.

[2020-04-02 23:47] asr opened #4561 "Errors running the benchmark suite"
While working in supporting GHC 8.10.1 in the benchmark suite (see 1f965d322a6e41ef15212ed429586760bf47a1ea), I read

https://github.com/agda/agda/blob/1f965d322a6e41ef15212ed429586760bf47a1ea/benchmark/Benchmark.hs#L202-L205

so, running the `Benchmark.hs` file without arguments I got various errors like this:

[code]
1. I'll fix the issue by erasing the log files with problems.
2. I'll add the t

[2020-04-03 04:59] UlfNorell commented on #4560
Surely `foo` matching on `con` should force the copatterns!

[2020-04-03 08:04] Saizan commented on #4560
Ideally `foo e` would be stuck as long as `e` is a neutral term.  And I consider `bar` canonical.

[2020-04-03 08:41] jespercockx commented on #4560
Radical solution: Agda should refuse pattern matching on records with `no-eta-equality`. The reasoning is that for a record with `no-eta-equality`, it is assumed that the *only* way of accessing the fields is through the projections. Pattern matching breaks this assumption, so it should not be allowed.

[2020-04-03 08:46] pnlph commented on #4557
About it, I only found [this question](https://news.ycombinator.com/item?id=22389736) within the [Github Discussion Beta](https://news.ycombinator.com/item?id=22388639) page at YCombinator. [Github API](https://developer.github.com/v3/issues/) should allow it programmatically. Not sure how easy the process would be and if it is good enough to keep all metadata, but an example is mentioned there.

[2020-04-03 08:52] Saizan commented on #4560
Disallowing pattern matching on records with `no-eta-equality` would make it impossible to prove even the propositional eta law (without --cubical I mean). It would mean they have a crappier equality than single-constructor datatypes.

~I think we can do without the assumption that projection is the only way to eliminate a record.~

~Matching would have to check if projecting would reduce, and if

[2020-04-03 09:03] andreasabel commented on #4560
Isn't the point of `no-eta-equality` that `bar` is __not__ definitionally equal to `con (bar .X) (bar .Y)`?

If you disagree, you are basically saying that `bar` should reduce by itself, even if not projected.

[2020-04-03 09:14] ajrouvoet opened #4562 "Agda finds proof in hole depending on instance field, but fails subsequently"
The following is a fairly simple demonstration of what I think is a bug involving instance search.

[code]

[2020-04-03 10:02] jespercockx commented on #4562
Version without dependency on the stdlib:
[code]

[2020-04-03 10:05] jespercockx commented on #4562
This is a duplicate of #2557. Workaround: add an extra clause `S.r [s] = it` to the definition of `[s]`.

[2020-04-03 10:05] #4562 closed, assigned to nobody

[2020-04-03 10:06] guillaumebrunerie commented on #4560
Maybe using copatterns on records without eta should actually reduce to a use of the constructor? Then `bar` would reduce to `con a a`.

[2020-04-03 10:11] jespercockx commented on #4560
The whole point of using copatterns is that the definition does *not* reduce unless forced by a projection, so that is not really an option.

[2020-04-03 10:36] Saizan commented on #4560
Could we allow non-dependent pattern matching to reduce without losing subject reduction?

[2020-04-03 11:05] nad commented on #4560
I thought that the idea was that record types without η-equality should be treated like single-constructor data types with some special syntax. In that case the copatterns should be translated to `record` expressions, or at least whatever Agda does should be indistinguishable from such a translation.

However, in some cases one can improve performance by using copatterns, and recently I optimised

[2020-04-03 11:29] jespercockx commented on #4560
Copatterns were developed at least in part to define elements of coinductive datatypes, so I'd hope not.

[2020-04-03 11:33] jespercockx commented on #4560
If the right-hand sides of the definition are large expressions, then it's much better to postpone unfolding the definition as much as possible. So it is not desirable to replace definitions by copatterns with record expressions, since this would lead to definitions being unfolded sooner than necessary. ~~However, as mentioned by @saizan Agda's reduction could detect when a function pattern matche

[2020-04-03 11:49] jespercockx commented on #4560
~~Maybe the most robust way of figuring out whether a given term could be expanded to a constructor would be by extending the `NotBlocked` datatype with an additional case for "reduction stuck because of missing projection" (perhaps as a subdivision of the current `Underapplied` case). If the reduction machinery is matching against a (non-eta) record constructor and reducing the term falls in this

[2020-04-03 12:07] Saizan commented on #4560
No, but it does not support pattern matching either.

[2020-04-03 12:12] EdNutting commented on #3209
This has been causing me headaches for a while. Most of my modules are parameterised - I thought I'd been using the case split incorrectly somehow.

Would much appreciate a fix as stripping the prefixes from big case splits can take a lot of time and really confuse me (especially if implicit record parameters get and deconstructed, with a zillion long prefixes to remove).

[2020-04-03 12:15] gallais commented on #3209
With search & replace it's not too bad. But it would indeed be nice to get a fix.

[2020-04-03 12:43] sattlerc commented on #4560
Should the split into inductive and coinductive records not also happen for the non-recursive case, if eta equality is off? Pattern matching should only be allowed for inductive records and copattern matching should only be allowed for coinductive records.

If you are going for a third kind of record, I would like to know what its semantics are.

MLTT is known for lacking extensionality principles

[2020-04-03 12:55] Soares opened #4563 "Merge termination and positivity checker [Simple induction that the positivity checker rejects when it's defined using records]"
Consider the following code:

[code]

In particular, observe that `manual` and `assisted` do essentially the same thing, except that in the `manual` the definition is carried out recursively, and in `assisted` it's carried out using the `record` construction.

Agda accepts `manual` but rejects `assisted`, with the error:

[code]

This example has been distilled from some code in which the analogs

[2020-04-03 15:37] nad commented on #4560
We could fix the problem by removing `no-eta-equality` (with a warning suggesting that users could replace the keyword with `coinductive`). I tried to replace every occurrence of `no-eta-equality` in one of my developments with `coinductive`, and there were no problems.

Alternatively we could keep `no-eta-equality` and disallow copatterns for such record types, but still generate projection funct

[2020-04-03 15:44] Saizan commented on #4560
You might have made some types inhabited that weren't so before.

[2020-04-03 16:27] nad commented on #4560
I should perhaps have pointed out that all record types that I modified are non-recursive.

Your comment made me remember that η-equality is by default turned off for (some?) recursive record types. The following code is rejected:
[code]
You can turn on η-equality, but this can make Agda loop:
[code]
Perhaps we should keep `eta-equality` and `no-eta-equality`, and disallow copatterns for all induc

[2020-04-03 18:26] andreasabel commented on #4560
So we have 3 feature dimensions for record types: inductivity [Ind/CoInd], eta [Eta/NoEta], recursivity [Rec/NonRec].  And we have the following properties:
1. Can match on constructor. [Con]
2. Can match on projections (copatterns). [Cop]
3. Fields are structurally smaller than whole record (for termination checker). [Ord]
4. Constructor is strictly rigid (for unification). [SRig]

Properties Ord

[2020-04-03 18:35] andreasabel commented on #4563
Such issues could be solved by fusing termination and positivity checking into one analysis.  This idea is in the air for years, but would require a major rewrite of both.

[2020-04-03 18:37] sattlerc commented on #4560
Shouldn't it be:
- Con requires Ind or Eta.
- Cop requires CoInd or Eta.

[2020-04-03 18:40] andreasabel commented on #4557
There is also stackoverflow which is much more structured than email and could be an alternative.  I prefer stackoverflow over all other help pages.  Concerning Agda, I am not active on stackoverflow since I only go there when I _need_ help.
With stackoverflow the issue of conserving the knowledge would be similar than to github discussions, I suppose.  (I haven't checked, though.)

[2020-04-03 18:59] gallais commented on #4557
Stackoverflow has a reputation for being a fairly hostile place. [They're trying
to fix the culture](https://stackoverflow.blog/2018/04/26/stack-overflow-isnt-very-welcoming-its-time-for-that-to-change/) and I have not really encountered too many aggressive people
while answering Agda-related questions but the reputation alone could put some
people off even bothering to create an account to ask a

[2020-04-03 19:00] Soares commented on #4563
Noted, thanks. Do you know offhand of a workaround? (I'm toying with various ideas, but I haven't found anything elegant yet.)

[2020-04-03 19:22] Saizan commented on #4560
We should be able to have Cop + Ord + SRig, no?  It would be useful for e.g. the `Category` record in `--cubical`.

I mean, I don't think SRig is going to be useful there, but I wouldn't want to declare that record `coinductive` either.

[2020-04-03 19:40] Saizan commented on #4560
To be clear: I care about having Cop + NoEta without having CoInd, and there doesn't seem to be a problem if the type gives up Con.

[2020-04-03 21:23] Blaisorblade commented on #4526
For the record:
An user affected by this reports on IRC reports that "Compiling a moslty empty file for me is 100 times faster with --local-interfaces". That user is also using the nixpkgs version of Agda.

In contrast, I'm using Homebrew Agda without such trouble (and I tried the reproduction testcase).

[2020-04-03 23:05] Blaisorblade commented on #4526
Discussing with @laMudri, @gallais and others on #agda, here's our current hypothesis.
Without --local-interfaces, Agda will call `findProjectConfig` and traverse `/nix/store`, which might take lots of time. @laMudri reports it's a big folder:

[code]
with moderately long directory names like `sgzrp8mlinaa165aj3lxd7g9rys189xw-Agda-2.6.1`.

After looking at `findProjectConfig` and `getDirectoryCont

[2020-04-04 08:54] andreasabel commented on #4560
Maybe my analysis was wrong.  It is more that we currently can declare eta (Eta/NoEta) and the behavior of the fixed-point (Ind/CoInd/NonRec).  Non-recursive records NonRec can be seen as both inductive and coinductive.

Eta is a priori unsafe for recursive records, but safe in guarded cases, where "guarded" is something that breaks infinite eta-expansion, i.e., a type constructor that does not ha

[2020-04-04 09:00] andreasabel commented on #4563
Sometimes one can replace an inductive type by one defined by recursion.  E.g. `Vec A n` can be both defined inductively or by recursion on `n`.  Maybe you can replace your induction by recursion.  Then you do not need positivity.

[2020-04-04 09:03] andreasabel commented on #4557
@gallais : Indeed, one cannot "import" reputation into SO.  Even as Agda developer I would start with 0 reputation there.  Doesn't reflect the real world well.

[2020-04-04 09:26] andreasabel commented on #4560
How about this proposal:
* Warn on `no-eta-equality` and say that this is deprecated and unsafe, and one of `no-matching`or `no-comatching` should be chosen instead.  In `--safe` mode, throw a hard error.
* Violations of `no-(co)matching` throw a soft error (hard in `--safe` mode).
* For recursive records that have turned off eta automatically, default to `no-comatching` for `inductive` records an

[2020-04-04 09:37] andreasabel commented on #4526
Good catch!

This could be easily replaced by using `System.FilePath.Find`, like we do in `FixWhiteSpace`:
https://github.com/agda/agda/blob/d4a7e0e562bd8f1c66784f46d859a6c4d8ab445e/src/fix-agda-whitespace/FixWhitespace.hs#L70-L72

Currently, no one is assigned to this issue.  @Blaisorblade, are you taking it?

[2020-04-04 09:40] gallais commented on #4526
`System.FilePath.Find` is also using `getDirectoryContents` under the hood.
Our conclusion was that we should probably use the lower level `readDirStream` instead.

[2020-04-04 10:52] Blaisorblade commented on #4526
- I agree that would speed up reading the folder, but since ` 'ls' /nix/store` takes 1 second on @laMudri's machine (and that might be repeated without caching?), which still dominates startup costs on small files, I think that's the lower bound for `readDirStream`-solutions, and some overhead might be expected because `readDirStream` uses `String`...

- Adding a .agda-lib for primitives would sto

[2020-04-04 10:53] nad commented on #4560
What is the intended meaning of these keywords? I guess their main purpose is to turn off η-equality, but that is not at all apparent from their names. Perhaps we could use `no-eta-equality no-copatterns` or `no-eta-equality no-dependent-pattern-matching`.

What do you mean by "soft error"? I think that any violation of subject reduction should be treated as a bug, if I understand you correctly yo

[2020-04-04 11:20] gallais commented on #4526
The `.agda-lib` solution sounds good. This means we will probably need to change
the way `Setup.hs` works so that we do generate the `.agdai` files in the `_build/`
directory rather than using `--local-interfaces`.

[2020-04-04 11:24] gallais commented on #4009
This seems fixed in master. My guess is that @fredrikNordvallForsberg's 1624898b6722fc530c0e8f16b7fdb2c47995f4d1 did it.

[2020-04-04 11:27] nad commented on #4526
I don't understand what this means.

Even if we add a `.agda-lib` file for the primitive/builtin modules Agda might still be slow if some project does not use a `.agda-lib` file. In fact, the introduction of `_build` in 2.6.1 has not only caused this performance problem, but unless I'm mistaken it has also introduced a race condition: the result of `findProjectConfig` is used by `toIFile`, and if

[2020-04-04 11:43] andreasabel commented on #4560
Are we in the bikeshedding phase yet?  Is this an approval of the general direction of the proposal?

The very name `eta-equality` itself is very bad, thus, should not be taken as baseline.  "η-equality" does not make apparent at all what its meaning is, you cannot decompose it further than "lowercase Greek letter h"-equality.  A good name for eta would be `constructor-surjectivity`.  But we accep

[2020-04-04 11:43] nad commented on #4498
@AndrasKovacs [writes](https://github.com/AndrasKovacs/smalltt/blob/ec0c624b168d81dbae3ab976337ca67531bbdc1d/Demo.stt#L69-L90) that unification in smalltt is 'weaker than in Agda', and that 'Eventually I would like to have approximate unification parity with Agda, but I would really prefer to \*not\* have postponing (a major source of headache), while also avoiding performance regression', by (amo

[2020-04-04 11:56] nad commented on #4560
A long time ago we disallowed dependent pattern matching for coinductive types to avoid issues with subject reduction. If the problem in the OP applies also to coinductive types, then we should disallow all forms of pattern matching for coinductive types. (I don't really see the point of supporting coinductive types without copatterns.)

How are definitions with errors treated when the rest of the

[2020-04-04 12:13] AndrasKovacs commented on #4498
I note that I've changed my opinion about evil tricks and postponing. I think that postponing is OK and is essential in many cases, and that evil tricks should be avoided if possible. So my stance now is essentially the same as Agda's on this matter.

[2020-04-04 13:13] Blaisorblade commented on #4526
@gallais Dropping `--local-interfaces` from the build sounds good; that can be avoided, but at the cost of some hackishness (sth. like https://github.com/agda/agda/pull/4564).

@nad Fair points; the `--local-interfaces` part isn't important and might be unnecessary, but #4564 sketches what I had in mind.

But you're right on the performance aspect; the current O(n) cost is only reasonable on folde

[2020-04-04 13:20] pnlph opened #4565 "Better support normal form overloaded constructors"
When evaluating the normal form of an overloaded constructor, `C-c C-n` `_∷_` returns `_85` without throwing any error or warning.

What is `_85`? Is it a metavariable?

Would it make sense to throw an `Error` or at least a `Warning` explaining that Agda doubts among several _concrete_ options? I saw some similar errors, like the not in scope error when `C-c C-n` `∷`:
[code]

Maybe we could use a

[2020-04-04 13:57] nad commented on #4565
In this case I assume that `∷` is not in scope, as opposed to `_∷_`. Agda might also complain that `old` is not in scope, even if `foldr` is.

[2020-04-04 15:07] jespercockx commented on #4498
So maybe the right question is not "how do we avoid postponing?" but rather "how can we make postponing more efficient?" Specifically, Agda is currently quite bad at guessing when a sleeping constraint should be woken up, more fine-grained tracking of dependencies between constraints and metavariables could potentially lead to substantial improvements in performance (for cases where postponing is

[2020-04-04 16:16] nad commented on #4498
Tog (at least the most recent variant) has more fine-grained tracking of dependencies. This seems like a good idea to me, but I'm not aware of any small test cases that demonstrate substantial gains. Perhaps it would be worthwhile to try to construct such a test case.

[2020-04-04 19:47] jespercockx commented on #2907
Perhaps the `isEtaVar` function could be used to avoid normalization here: https://github.com/agda/agda/blob/e34faff4485bd7055dd77d25c5707fe25b8b4856/src/full/Agda/TypeChecking/Records.hs#L814-L817

[2020-04-05 08:58] jespercockx commented on #3099
Note to self: currently errors from `--double-check` influence the behaviour of instance search by ruling out candidates. They should probably be their own kind of error which is not caught by instance search.

[2020-04-05 14:14] L-TChen commented on #4521
A more recent build from scratch is finished in 30min https://travis-ci.org/github/agda/agda/jobs/671254264. Why...?

[2020-04-05 22:28] mouse07410 opened #4569 "Build failure with dynamic linking (logic in Setup.hs broken)"
macOS Catalina 10.15.4, Xcode-11.4, `ghcup`-installed GHC-8.8.3, Cabal-3.2.0.0.

Cabal configured with
[code]

Attempt to install Agda:
[code]

Log: [Agd-2.6.1-bd0fa011.log.txt](https://github.com/agda/agda/files/4435078/Agd-2.6.1-bd0fa011.log.txt)

[2020-04-06 07:07] andreasabel commented on #4569
I have not tried dynamic linking yet.
`dyld: Library not loaded: @rpath/`.  This `@rpath` looks suspicious.
I quickly googled and found this, e.g.:
https://stackoverflow.com/questions/28244468/dyld-library-not-loaded-rpath-with-ios8
Can you research your problem a bit and see if you can fix, and then report back here?
Thanks!

[2020-04-06 07:16] andreasabel commented on #4560
This is already the case (and I do not recall that we made a distinction on dependent vs. non-dependent matching, not in the last decade at least):
[code]
[code]

[2020-04-06 09:13] Saizan commented on #4560
I suppose Cop/Ind records could have a form of non-dependent pattern matching that amounts to a checking whether the term is canonical and only then proceeds with projections.

However maybe such a feature can wait to see if there's more demand for it.

[2020-04-06 12:54] Saizan opened #4570 "`Set != Set lzero` in with-abstraction with copatterns"
With a recent agda/master I get the error

[code]

with the following code

[code]

@jespercockx can you check if this is related to your recent perf changes?

[2020-04-06 13:03] gallais commented on #4570
Yep: https://github.com/agda/agda/pull/4566#issuecomment-609471854

I have the same error.

[2020-04-06 13:56] mouse07410 commented on #4569
Sorry, I cannot fix it.

All I can say is that the library in question was not properly installed, if it was built at all. There is no presence of the library in question anywhere in the system.

Since the build deletes the intermediate directories, I can't dig deeper.

### Update
The problem you Googled seems about *running* a successfully-built executable, which fails to locate the *existing* li

[2020-04-06 14:54] jespercockx commented on #4570
Ok, thanks for the example. I saw the build error on Travis but could not reproduce on my own PC. I'll take a look...

[2020-04-06 15:01] jespercockx commented on #4570
Agda's last words from the debug output:
[code]
It is very suspicious that `Def Agda.Primitive.lzero []` is marked as a `NeutralLevel`, it should really have been recognized as a primitive level.

[2020-04-06 15:48] jespercockx commented on #4570
I managed to find the cause: when reducing a term with only a few `AllowedReduction`s enabled, Agda would still mark `Level` expressions it reduces as `NeutralLevel` even if they might still be reduced when all reductions are enabled. So the problem was already there before, but it seems my new uses of `AllowedReductions` exposed it.

I'm working on a fix now by only marking levels as `NeutralLeve

[2020-04-06 16:07] UlfNorell commented on #4570
I don't think there's any evidence readily available. Levels were added after the other things, and as I remember, I wanted to experiment with extending the `Blocked`/`NotBlocked` logic used for normal terms.

[2020-04-06 17:04] #4570 closed, assigned to jespercockx

[2020-04-06 17:49] nad commented on #4569
I tried using (roughly) `make install CABAL_OPTS="--enable-shared --enable-executable-dynamic"` (with GHC 8.10.1 on Linux i386), and this seems to have worked fine:
[code]

Why do you want to use dynamic linking?

[2020-04-06 17:56] mouse07410 commented on #4569
Preserving disk space.

[2020-04-06 19:24] nad commented on #4569
Perhaps I should use dynamic linking when I use `agda-bisect --cache`:
[code]

[2020-04-07 06:30] andreasabel commented on #4569
I observed that:
1. "installing the Agda executable" is the last thing that `cabal install` does.
2. Before that, it calls the freshly compiled Agda from its temporary residence in `dist/build/...` to compile some `.agda` files.
3. If step 2. fails, Agda is not installed in the final location, say `.cabal/bin/`.

This workflow has greatly annoyed me as a developer, because it quite often happened

[2020-04-07 06:33] andreasabel commented on #4569
@nad:

Did you also try it in the virginal situation where no `agda` is on the system path and thus step 2 may fail?

[2020-04-07 07:42] andreasabel commented on #4569
@mouse07410 :

This can be prevented by going into a fresh directory and there do:
[code]
Then you can look in the `dist` subdirectory what has been created.

I tried (Mac OS X and ghc 8.4.4)
[code]
and end up with the same failure:
[code]
However, I am having difficulties to reproduce this in a MWE.

Useful information about `@rpath` here: https://medium.com/@donblas/fun-with-rpath-otool-and-inst

[2020-04-07 09:42] andreasabel commented on #4569
I managed to construct a MWE in d1b41cc4d4c795a5b7e6cb084673dfa78c172fe8 that exhibits the same pathological behavior as the Agda `Setup.hs` script.
Running `agda` from the build location (before built artefacts are copied to the install location) seems to work for a statically linked executable but fails for a dynamically linked one.  Since running `agda` has been made a prerequisite to installin

[2020-04-07 12:17] nad commented on #4569
No. See the following lines in `Setup.hs`:

https://github.com/agda/agda/blob/d1b41cc4d4c795a5b7e6cb084673dfa78c172fe8/Setup.hs#L65-L66

Did you try `make quicker-install-bin CABAL_OPTS="--enable-shared --enable-executable-dynamic"`?

[2020-04-07 12:24] nad commented on #4569
If the dynamic libraries (in particular the Agda library) have not yet been copied into the correct directory, then it makes sense that the program does not work correctly. If I rename a certain directory, then I get the following error:
[code]

Perhaps the problem can be solved by moving the code that type-checks the primitive and builtin files from `Setup.hs` to `src/main/Setup.hs`.

[2020-04-07 16:46] mouse07410 commented on #4569
And that's exactly the error we (at least I) observe - the Agda library not moved to the place it's expected to reside (relative to the Agda program/executable itself).

[2020-04-07 17:05] asr commented on #4242
FYI, GHC 8.10.1 can be used in the current `master` (d11919c2b725b16613cf65ff886f2483cca47d6a).

[2020-04-07 17:11] asr opened #4571 "stack warnings on GHC 8.10.1: Failed to decode module interface"
I'm getting many warnings like the following one when using `stack` and GHC 8.10.1:

[code]

It seems the warnings are related to https://github.com/commercialhaskell/stack/issues/5134.

[2020-04-07 17:16] asr commented on #4571
@L-TChen, can I assign you this issue?

[2020-04-07 23:41] L-TChen commented on #4571
Yes.

[2020-04-08 10:16] pnlph opened #4572 "add PiSort and UnivSort to the documentation"
_Originally posted by @jespercockx in https://github.com/agda/agda/issues/3960#issuecomment-569135666_

I found this among the very long thread #3960, but still in the current version of the user-manual not a trace of either `PiSort` and `UnivSort` exist.

Where should this be located in the documentation? Maybe Language Reference -> Sorts? If there are other observations additional to Jesper's ar

[2020-04-08 13:33] #4561 closed, assigned to asr

[2020-04-09 18:53] ayberkt opened #4573 "Slow typechecking unless using abstract in cubical"
I have encountered a problem in the last step of a development I have been carrying out in Cubical Agda. I have three remaining holes in an equational proof, and the typechecker does not terminate when trying to give proofs for these holes.

I merged all my files into a single one to illustrate the problem: https://gist.github.com/ayberkt/3c8c5e3d4555f7723bbccd7a24702997.

In lines 1220-1228

[cod

[2020-04-10 08:08] jespercockx commented on #4572
Yes, it would be great to have this in the documentation. Currently we have a page on universe levels as well as one on `Prop`, but I think it would be good to have a new page explaining the sort system in general. It would be great if you could write something based on your understanding, I can add things that are missing (if there's anything).

[2020-04-10 08:38] andreasabel commented on #4569
@nad : Does my MWE (d1b41cc4d4c795a5b7e6cb084673dfa78c172fe8) also fail on linux?
[code]

[2020-04-10 08:42] andreasabel commented on #4571
Is there anything we can do about this?  The problem seems to be higher up...

[2020-04-10 08:47] L-TChen commented on #4571
Given that it is an issue with stack, I am afraid that we are not able to solve it on our side. Either we ignore the failure or we revert to 8.8.3 ?

[2020-04-10 08:52] L-TChen commented on #4571
I would like to wait until a LTS for GHC 8.10.1 is released before doing anything. Maybe I am wrong, but it seems to me adding the Stackage support before LTS is available is rather premature.

[2020-04-10 12:20] asr commented on #4571
Currently Travis stages `compilation` and `main` use `stack`. We shouldn't wait for a LTS for a particular version of GHC for adding support for this version of GHC.

[2020-04-11 16:19] dylanede opened #4576 "quoteTC for Setω"
Currently, it seems to be impossible to create a `Term` from a local term of type `Setω` inside a macro. This makes it difficult to reflect type constructors that have level parameters, for example.

Ideally, another `TC` monad postulate could be added to fix this, of the form

[code]

I appreciate that the inverse, unquoteωTC, would be impossible with the current type system.

[2020-04-11 17:30] JacquesCarette opened #4577 "Trouble using cabal to install 2.6.1 on MacOS X"
I get the following:
[code]
I have
[code]
Looking inside `Agda.cabal`, I can't see where those constraints are coming from.

[2020-04-11 18:55] nad commented on #4573
Do you think you could create a smaller test case?

How do you know that Agda does not terminate (given enough time and space)?

[2020-04-11 18:55] nad commented on #4569
Yes.

[2020-04-11 18:59] nad commented on #4577
Have you run `cabal update` recently?

[2020-04-11 19:08] JacquesCarette commented on #4577
Yes, I did that first.

[2020-04-11 19:12] ayberkt commented on #4573
@nad

I should have maybe said "Agda takes an unreasonable amount of time to typecheck" as I don't know for sure that it won't eventually terminate. I did try waiting for 3 hours 40 minutes with the heap size increased and it did not terminate. Other very similar goals in the same part of the proof take no more than a couple of seconds which is what made me think that this is looping, not just blo

[2020-04-11 19:20] mechvel opened #4578 ""Did you mean" mentions identifiers that are not in scope"
If ``does`` is forgotten to import, the error message  mentions
[code]
But the module ``Dec`` does not exist in the source root.

[2020-04-11 19:38] gallais commented on #4578
This seems more of an https://github.com/agda/agda bug report

[2020-04-11 19:50] ayberkt commented on #4573
@nad I can try making things with long proofs postulates maybe?

[2020-04-11 20:25] ayberkt commented on #4573
Tried converting things to postulates one by one, and it seems that the problem is fixed when all the lemmas defined in the where clause in the definition of `downwnard-subset-poset` are converted into postulates.

[2020-04-11 20:38] ayberkt commented on #4573
I managed to solve the problem by marking `<<-refl` and `<<-antisym` in the definition of `downward-subset-poset` as abstract:

https://gist.github.com/ayberkt/3c8c5e3d4555f7723bbccd7a24702997#file-problem-agda-L518-L528

[2020-04-11 23:13] dylanede commented on #4576
I've got a patch that implements this. I'll prepare a PR.

[2020-04-12 07:29] andreasabel commented on #4578
A MWE would be good here.

[2020-04-12 07:46] andreasabel commented on #4577
Looks like you are in cabal hell.  Need a resurrection.  Happy Easter!

[2020-04-12 07:48] andreasabel commented on #4571
I suppose we just ignore these warnings until the issue is fixed higher up.  Do you have another plan of action in mind, @asr ?

[2020-04-12 08:26] L-TChen commented on #4571
I am building a GitHub workflow  using cabal’s nix-style local builds equivalent to the one on Travis.

It usually takes a while for stack to catch the development of cabal, so it might be better to use cabal for the latest GHC support.

[2020-04-12 08:36] UlfNorell commented on #4578
I'm guessing `Dec` is a submodule (or datatype module) and that `Dec.does` *is* in scope. Reopen with test case if this in not the case.

[2020-04-12 08:36] #4578 closed, assigned to nobody

[2020-04-12 12:04] asr commented on #4571
No.

There are different combinations for setting up our CI:

1. Travis + cabal-install
2. Travis + stack
3. GitHub workflow + cabal-install
4. GitHub workflow + stack

In relation to support the latest version released of GHC, the first one is the most straightforward but the other combinations also work.

[2020-04-12 12:17] asr commented on #4577
Which is the output of

[code]
?

[2020-04-12 12:51] JacquesCarette commented on #4577
[code]

[2020-04-12 13:43] andreasabel opened #4580 "No highlighting for pragmas FROMNAT, FROMNEG, FROMSTRING"
While working on #4574 I discovered that since the `isUntypedBuiltin` forms are swallowed by the scope checker (i.e. do not get passed on as `A.Pragma`), they are not highlighted.

[2020-04-12 13:59] asr commented on #4577
What about of running
[code]
outside of the directory `MacBook-Air-2:agda-categories carette`?

[2020-04-12 14:18] t-more opened #4581 "[reflection] Get list of all available definitions?"
I've been working a bit on some rewriting tactics for Agda. I would like to create a tactic that pulls known equality proofs from the local file etc, but I seem to be unable to find any functions that returns such. Does anyone know how to do it? Alternatively, can I make my own functions on the TC monad using the Haskell FFI?

[2020-04-12 15:02] #4576 closed, assigned to dylanede

[2020-04-12 15:31] #4580 closed, assigned to andreasabel

[2020-04-12 16:08] JacquesCarette commented on #4577
After `chown`ing quite a few `root` owned files in a variety of Haskell-related directories (!), that worked.  It is possible that that was `v2-install`'s problem as well, but it didn't give me any kind of error message that would have led to that diagnosis.

I will assume that this was caused by my personal setup being weird and close.  Thanks for the help.

[2020-04-12 16:08] #4577 closed, assigned to nobody

[2020-04-13 08:05] andreasabel commented on #2038
After removing geniplate (PR #4574), the only use of TemplateHaskell will be in `Agda.VersionCommit`!
It should not be too hard to find a solution here so that we can set up a `fno-code` type-checking option for the Agda source.  Presumably, one could pass a `#define` flag from the Makefile that can be checked using some `#ifdef` to disable the TemplateHaskell stuff there.

[2020-04-14 02:16] asr commented on #4543
Now we are using GHC 8.10.1 in the test of Windows + stack. Since problem in the OP doens't happen with this version of GHC, I'm closing this issue.

[2020-04-14 03:53] asr opened #4582 "cifm: Build error with GHC 8.10.1"
I cannot install the `closed-issues-for-milestone` program with GHC 8.10.1 because

* deepseq-generics (https://github.com/haskell-hvr/deepseq-generics/issues/8) (fixed)
* github (https://github.com/phadej/github/issues/435)

[2020-04-14 10:24] andreasabel opened #4583 "QuickLaTeX backend does not highlight coinductive constructors as such"
During my work on #2038 #4574 I fixed this problem, patch forthcoming.

[2020-04-14 11:53] #4583 closed, assigned to andreasabel

[2020-04-14 13:04] #4423 closed, assigned to nobody

[2020-04-14 13:59] andreasabel commented on #4560
Instead of a new keyword, we could reuse `pattern` to indicate that the constructor should be usable in patterns.  This would then exclude definition-by-copatterns.
[code]
The `pattern` declaration could be placed anywhere, e.g.
[code]
This can almost be read as "pattern inductive constructor w/o eta-equality".

In absence of `pattern`, the default is that copattern matching is allowed and constru

[2020-04-14 14:05] L-TChen commented on #4571
~It is essentially blocked by #4216.~ (The `v1-` style might still be used, though.) The warnings emitted by stack are just ... warnings, and test suites are still working. I gave up moving the rest of scripts on Travis to GitHub workflow.

But, as the by-product, I realized the GitHub lifts the space restriction on cache, so our scripts now run faster on GitHub workflow.

If the problem mentioned

[2020-04-14 14:08] L-TChen commented on #4216
Does that mean it is safe to use nix-style local build only in the `Makefile`? It is rather tricky to maintain two different sets of commands as their options do not correspond to each other nicely in our setting as far as I remember.

[2020-04-14 14:20] asr commented on #4216
Usually there is one version of `cabal-install` associated to a version of GHC via its shipped libraries. We need to test the build of Agda using these versions of `cabal-install`.

[2020-04-14 15:10] asr commented on #4241
I had the same problem with GHC 8.8.3 and 8.10.1.

[2020-04-14 15:21] nad commented on #4216
I'm not sure what you mean. I think we should stick to either `v1-` or `v2-` in the makefile, and as discussed above there are some problems with `v2-`.

[2020-04-14 15:22] #4242 closed, assigned to asr

[2020-04-14 15:39] L-TChen commented on #4216
I am just trying to figure out the current consensus

1.  `Makefile` should either use `v1-` or `v2-` commands;
2. the above issues should be resolved before moving to the `v2-` commands;
3. cabal 3 is supported by GHC 8.0+, so adopting `v2-` commands does not need to drop older GHC versions;
4. however, there is one cabal version associated to a GHC version, and every supported version should be

[2020-04-14 16:38] rwe commented on #4241
Wow, sorry! I did not even see that I was tagged here…

Googling for the error led me to these:
* https://github.com/haskell/haskell-mode/issues/458
* https://github.com/haskell/cabal/issues/4602

The issue is not related to the `.ghci` files: if you're going to use `cabal repl`, I believe you need to specify a target like `cabal repl lib:agda`.

Later versions of Cabal like 3.2.0.0 do not seem to

[2020-04-14 17:03] asr commented on #4241
Using `cabal repl` from `cabal-install` 3.2.0.0 and GHC 8.10.1 works. Thanks!

[2020-04-14 17:03] #4241 closed, assigned to rwe

[2020-04-14 17:22] rwe commented on #4491
@gallais Relevant existing issue noting the `String`/`Text` thing: https://github.com/agda/agda/issues/3741

[2020-04-15 02:11] L-TChen commented on #4492
Given the discussion above, the proposal is unlikely to adopt. So I am closing it. Feel free to reopen it if needed.

[2020-04-15 02:11] #4492 closed, assigned to nobody

[2020-04-15 02:22] L-TChen commented on #4513
I would love to do this myself (since the additional maintenance burden to me is low), but I do not have a Windows environment to figure out the details.

Can someone using Windows help?

[2020-04-15 02:31] L-TChen commented on #4543
The problem sadly persists even with GHC 8.10.1 on Windows + stack, see https://github.com/agda/agda/runs/587539489.

[2020-04-15 11:14] jespercockx opened #4585 "In a macro, reducing a term in Setω produces a spurious constraint"
Minimal example:
[code]
This produces an unsolved (and unsolvable) constraint:
[code]
It would be nice to be able to reduce types in `Setω` (and do other reflection stuff to them), so I wonder if we could get rid of this constraint.

Related issue: https://github.com/agda/agda/issues/2119

[2020-04-15 11:38] mechvel opened #4586 "Better error message for "Not a valid let declaration""
Agda reports "invalid `let' declaration" with copying the whole ``let`` construction and  without explaining a reason.
Could it mention  a reason in some cases? For example, for the following code, this may be
the report  of "``where`` used inside ``let`` ...".
[code]

[2020-04-15 12:10] nad commented on #4216
I think this sounds more or less correct.

[2020-04-15 12:33] ajrouvoet opened #4587 "Github agda highlighting 'abstract' in names incorrectly"
I have no idea how the github highlighting of Agda works, and if anyone is interested in trying to fix this.
But the highlighting of 'abstract' when it is not a keyword is very confusing at first glance. My first instinct was that a space somehow got misrendered.

![image](https://user-images.githubusercontent.com/475738/79337495-e6bec180-7f25-11ea-83b2-b9604aa15817.png)

[2020-04-15 12:36] MatthewDaggitt commented on #4587
The syntax highlighting is done via https://github.com/agda/agda-github-syntax-highlighting. Best to open an issue on there I think.

[2020-04-15 12:38] #4587 closed, assigned to nobody

[2020-04-15 12:46] gallais commented on #4587
Note that we can transfer issues between repos of the same organisation.
The magic link is in the RHS column, at the very bottom.

[2020-04-15 12:47] ajrouvoet commented on #4587
I've added the 'abstract' keyword issue to an existing issue on that repository for 'pattern'. But good to know.

[2020-04-15 13:58] nad opened #4588 "It is not checked that the SIGMA builtin is a proper Σ-type"
The following code is accepted:
[code]
A simple fix might be to only allow the `SIGMA` builtin to appear in the "prim" library.

[2020-04-15 14:32] L-TChen commented on #4543
After trying GHC versions from 8.10.1 to 8.4.4, unknown optimization flag(s) might be involved, since turning off all optimization flags (`-O0`) on 8.6.5 (or 8.8.2) works.

For example, compiling [using GHC 8.8.2 without `--fast`](https://github.com/agda/agda/runs/588355517?check_suite_focus=true) fails, but compiling [using GHC 8.8.2 with `--fast`](https://github.com/agda/agda/runs/589135446?chec

[2020-04-15 14:39] asr commented on #4543
@L-TChen, could you mention the above information in [Issue 17926](https://gitlab.haskell.org/ghc/ghc/issues/17926), please.

[2020-04-15 14:59] L-TChen commented on #4543
Sorry, I removed the log you mentioned in the Issue 17926 by mistake. So, I am building another set of configurations {8.8.2, 8.10.1} x {with `--fast`, without `--fast`}...

[2020-04-15 16:35] L-TChen opened #4589 "Release nightly builds"
Following the discussion in #4328, I created a scheduled workflow script to release nightly builds with the default optimisation flags. ~Due to a bug of GHC, the nightly build for  Windows is still built with `--fast` (see below).~ A ghc bug preventing Agda from compiling remains unsolved but it still complies without `--fast` if ghc tries to compile after failing.

Here are some issues I found so

[2020-04-15 18:09] andreasabel commented on #4588
As far as I remember, the `builtinSigma` was introduced by cubical and is only used there.  (Search `getSigmaKit`.)  Can you crash cubical with your pseudo-Sigma?

[2020-04-15 18:41] andreasabel commented on #4586
I grepped for that error and found nothing.  It is of great help to report problems as precisely as possible, since no one gains anything if developers waste time needlessly.

I could trigger:
[code]
There are many reasons why something that parses as a `let` binding is later rejected, but in principle these are all syntax errors, and in the end, something isn't valid syntax, well, just because it

[2020-04-15 19:01] nad commented on #4588
The reflection machinery also uses it.

I don't know.

[2020-04-15 19:38] andreasabel commented on #4586
Playing with `let`, I stumbled over
[code]
which raises an internal error:
[code]

[2020-04-15 19:42] andreasabel commented on #4586
[code]
This triggers a weird error:
[code]
Who claimed that `Set₁` should be empty, stupid hen?

[2020-04-15 19:46] andreasabel commented on #4586
Similar nonsense:
[code]
[code]

[2020-04-15 20:36] andreasabel commented on #4586
More amusement:
[code]

[2020-04-15 20:47] jespercockx commented on #4586
Some of these are not really specific to pattern matching `let`s, if you write `.Set` in a normal pattern you get the same error.

[2020-04-15 21:25] #4586 closed, assigned to andreasabel

[2020-04-15 21:30] andreasabel commented on #4586
Yes.
But here I have a chance to give a better error, but excluding early the pattern forms that do not make sense here.  Fixed these instances in faca04a.

What is a bit worrying is the `x` in
[code]
There is no `x` in sight here, how could it have been inferred?

[2020-04-15 21:38] andreasabel commented on #4588
Haha, this is the mathematician's answer.

You know this joke?:

Two fishers get into a terrible storm in their fishing boat, and after days and nights of struggle to keep their vessel afloat, the storm calms and they are washed up an unfamiliar shore.  There is a man standing on the beach, to whom they shout: "Sir, where are we?"
The man shouts back: "In a boat!"

(You can continue by asking: "Wh

[2020-04-15 21:53] bbarker opened #4590 "Discuss: function equality via code content"
First, I must note I'm not a language theorist but more of an enthusiast, but I'll try to keep up with the relevant points. Also, I'm very new to Agda.

I somehow came across [this blogpost](https://semantic-domain.blogspot.com/2016/03/agda-is-not-purely-functional-language.html?m=1). The basic idea is that this doesn't check out in Agda:

[code]

In fact, this wouldn't work in most programming la

[2020-04-15 22:02] gallais commented on #4588
It's also used in #4494

[2020-04-15 22:19] gallais commented on #4590
This would be really helpful when using anonymous pattern-matching functions.
The following does not hold for instance:

[code]

A more concrete example: in the standard library we have [equational proofs of
bisimilarity](http://agda.github.io/agda-stdlib/Codata.Stream.Properties.html#1914) where some of the subterms simply *cannot* be written because the
functions we would like to talk about have

[2020-04-15 23:04] nad commented on #4588
I could add that I don't really care if you can make Agda crash in this way. I don't see the point of spending time trying to exploit a minor issue of this kind, instead of simply fixing it.

[2020-04-16 00:09] xekoukou commented on #4590
I was having a similar thought , the last days, for a different reason. I was thinking how one could look at the different versions of the same function. The only way to differentiate them is to hash their content.

The main benefit of this is that the functions are immutable objects with regard to revisions.

edit :
It appears that [Unison](https://www.unisonweb.org/) has a similar motivation as

[2020-04-16 07:19] UlfNorell commented on #4590
I would be a wary of adding syntactic equalities to theory. Consider
[code]
Suddenly `f` and `g` are no longer equal (unless we normalize bodies before hashing, which would be prohibitively expensive). This breaks referential transparency, which doesn't feel like a price worth paying to get `f ≡ g`.

[2020-04-16 07:20] L-TChen commented on #4590
You can get the desired equality by quotation since they have the same intension / code. But, the converse (the same intension should imply equal unquoted terms ...) should always be true as well...

[2020-04-16 07:36] L-TChen commented on #4590
Can you elaborate on referential transparency about this case?

Shouldn’t definitional equality include at least syntactic equality (up to alpha-conversion)?

[2020-04-16 07:40] jespercockx commented on #4586
The `x` is the name of the argument that Agda makes up before doing any case splitting (it would've used any user-provided name, but here the user provided nothing so it falls back to `x`). To check the dot pattern, Agda simply checks that the value of the pattern after all case splitting is equal to the expression behind the dot. Since there is no pattern matching here, the value of the pattern i

[2020-04-16 07:45] jespercockx commented on #4590
Definitional equality includes syntactic equality of the *elaborated* code in internal syntax. It just so happens to be the case that `\ { x -> x }` and `\ { x -> x }` are not elaborated to the same internal syntax.

[2020-04-16 07:49] L-TChen commented on #4590
Totally confused. How so?

[2020-04-16 07:53] xekoukou opened #4591 "Everything (the world) is a pure function (or deprecating the IO monad)."
Mathematics is nothing more than models , abstractions of the world. Mathematics do not have impure functions or side effects.

More importantly , we do not really care about who performs the computation.

Consider the simple physics equations that describe the motion of two balls of specific mass that hit each other with specific velocity. We could compute their movement, speed with those equatio

[2020-04-16 07:59] jespercockx commented on #4591
How would you avoid the usual problems with this approach (e.g. being able to duplicate the world or throw it away)? Last time I checked, linear types were not yet available in Agda.

[2020-04-16 08:00] jespercockx commented on #4590
See https://agda.readthedocs.io/en/v2.6.1/language/lambda-abstraction.html:

[2020-04-16 09:16] xekoukou commented on #4591
@jespercockx We do not need linear types or the world object because we model the environment as a pure function.

Here is an example. In this case, we have n agents that asynchronously interact with a specific server.

The location of the server is known beforehand and we do not lose messages , thus the environment needs to only perform a single type of computation, the permutation of the message

[2020-04-16 09:36] fredrikNordvallForsberg commented on #4590
Not the main point, but note that `refl` **does** prove the above equality (if you put in some more brackets, and specify the type of the equality), because Agda checks definitional equality of functions by applying them to fresh variables and comparing the results. The problem is with pattern-matching lambdas that actually match on their arguments, as in the example quoted by @jespercockx.

[code

[2020-04-16 09:49] jespercockx commented on #4591
Then I don't think I understand your proposal. I agree that it is good practice to keep as much code pure as possible, but in the end doing some IO at the boundaries of the program is inevitable. Are you suggesting to move this boundary outside of Agda and into the Haskell FFI? In that case, I'm strongly against, as this would make it even harder to use IO in Agda and would also lead to code that

[2020-04-16 10:13] ajrouvoet opened #4592 "[wiki] Agda IRC logs down"
Not sure where to put this issue:

The wiki refers to http://agda.orangesquash.org.uk/2019/ for the Agda freenode IRC logs. This site seems to be down. It would be nice if logs of this channel are available.

[2020-04-16 10:31] nad commented on #3821
I have [implemented](https://github.com/agda/agda/commit/9f2d02887b435f92a46639846f36d50938cc44d7) a primitive `apply` (but I do not guarantee that the implementation is entirely correct), and I pushed the implementation to a branch called [`issue3821`](https://github.com/agda/agda/tree/issue3821). However, quick testing suggests that this primitive might be slower than the implementation I mentio

[2020-04-16 10:36] nad opened #4593 "The blocking machinery seems to be broken"
I tried to figure out why one of my tactics is slow. Here is an example run for one call to the tactic:
* The tactic blocks on meta-variable _29.
* The tactic blocks on meta-variable _64.
* The tactic blocks on meta-variable _64 again. Is this a bug?
* The tactic blocks on meta-variable _40.
* The tactic does not block. Apparently the goal is solved. However, for some reason the tactic is restarte

[2020-04-16 10:47] nad commented on #4593
I can reproduce the problem by running the following commands:
[code]

[2020-04-16 11:01] xekoukou commented on #4591
Yes, sending msgs should be hidden. The code will only be written once per backend for each type of environment that we want to abstract. And it will actually be minimal.

Noone actually complains that we have a garbage collector and that we hide the algorithm that selects the memory that is to be freed. (except if you have memory constraints)

With IO, we lose the ability to reason about the whol

[2020-04-16 11:03] nad opened #4594 "Improve the blocking primitive"
I tried to figure out why one of my tactics is slow. Here is an example run for one call to the tactic:
* The tactic is given the following term (well, this term is part of what you get if you reduce the goal type):
[code]
  The tactic blocks on meta-variable `_52`.
* The tactic is given the following term:
[code]
  The tactic blocks on meta-variable `_78`. Note that `_52` seems to have been η-exp

[2020-04-16 11:09] nad commented on #4594
I can reproduce the problem by running the following commands:
[code]

[2020-04-16 11:10] gallais commented on #4591
You can do this sort of things by using a different set of types to specify
your protocol. You can look into session types for instance.

[2020-04-16 11:15] jespercockx commented on #4594
Yes, it would be great to improve the blocking machinery to be able to block on multiple metavariables at the same time.

I've previously also needed to do the dual to this, i.e. block until *at least one* of a list of metavariables is solved (I believe this is needed for rewriting).

[2020-04-16 11:17] dylanede commented on #4593
Does `commitTC` help at all?

[2020-04-16 11:18] nad commented on #4594
We could perhaps borrow some ideas from the work on Tog.

[2020-04-16 11:19] jespercockx commented on #4594
Is the design of Tog written down somewhere?

[2020-04-16 11:22] xekoukou commented on #4591
From what I know, session types define a certain order with which messages are sent and received and they make sure that both participants have defined the same protocol.

In my opinion, they are not really necessary. We do not need to specify the order at all in types.

I actually doubt that you can prove the above with session types, because the proof requires the knowledge of the functions agen

[2020-04-16 11:29] nad commented on #4593
I don't think the tactic is responsible for solving the meta-variables, so I doubt that `commitTC` would make any difference in this case. Quick testing suggests that it doesn't.

[2020-04-16 11:30] nad commented on #4594
I'm leaving this question to @vlopezj.

[2020-04-16 11:30] fredrikNordvallForsberg commented on #4591
Could you phrase your proposal more precisely: what do you want to change or add to Agda? Presumably you do not only want to remove the IO monad, because you can of course already avoid using the IO monad in your own code today, if you prefer.

[2020-04-16 11:42] UlfNorell commented on #4593
I suspect the repeated blocking on `_64` is because that meta is created during the tactic invokation. In that case we pick (arbitrarily) another meta to block on:

https://github.com/agda/agda/blob/faca04a71eca18ac5fba9857adc523f72b34c359/src/full/Agda/TypeChecking/Rules/Term.hs#L1331-L1345

The state is rolled back, so it's not surprising that you get the same meta id on subsequent calls.

I can

[2020-04-16 12:07] nad commented on #4593
I just optimised my tactic (for some test cases) by blocking on the last meta instead of the first one, because the last meta tends to be solved later than the first one. Perhaps Agda could use the same heuristic.

The tactic succeeds, and in the later invocations debug printing indicates that it does not invoke `unify`.

[2020-04-16 12:18] xekoukou commented on #4591
I made this issue mostly to bring awareness that there is a better way of describing distributed systems. I do not know the exact changes that might be needed.

1. I am sure that we need to guarantee logical consistency by guaranteeing that functions that are executed in another agent are pure. To mitigate possible attacks, we need to store all inputs that are received by external agents.

1b. Tha

[2020-04-16 13:02] jespercockx commented on #4591
This looks more like a research proposal than a concrete proposal to change Agda. Also note that `IO` is not something defined in Agda itself but in the standard library, so (a more concrete form of) this proposal should probably go to there instead.

[2020-04-16 13:02] #4591 closed, assigned to nobody

[2020-04-16 13:23] xekoukou commented on #4591
None of the remaining details require any research. They are not that difficult to solve.
None of the proposed changes have anything to do with the standard library or any library.

In any case, I hope to have created some awareness that the current methods of interaction with the environment are deeply flawed. If not, so be it.

[2020-04-16 13:30] UlfNorell commented on #4593
In what situation?

What's the significance of `unify` not being called? Did you expect it to call it?

[2020-04-16 13:30] vlopezj commented on #4594
@jespercockx The general idea is described in my licentiate thesis draft.
Here is a PDF with the relevant pages: [constraint-blockers.pdf](https://github.com/agda/agda/files/4487344/constraint-blockers.pdf)

In the implementation, disjunctions of metavariables, and disjunctions of constants are  represented as bitsets. A pair of these is a `Guard`. Unblockers (called `Blockers`) in the implementat

[2020-04-16 13:36] jespercockx commented on #4591
I'm sorry, I'm afraid I just do not understand at all what you are talking about. Like @fredrikNordvallForsberg said, if you have a *concrete* proposal of what should be changed to Agda (or even better, a PR), I would be happy to read more about it.

[2020-04-16 13:41] UlfNorell commented on #4591
Perhaps it would help if you gave some more concrete examples. For instance, what would this program look like under your proposal:

[code]

[2020-04-16 13:51] jespercockx commented on #4594
Thanks, that looks like a sensible design. I'm looking forward to read the full text when it is finished.

If I were to implement Agda again from scratch, I would try to seperate out the constraint machinery for solving and postponing in a separate module that is parametric in the representation of terms and constraints as well as the methods to solve them. Currently the logic for postponing and r

[2020-04-16 13:57] WolframKahl commented on #4591
I think that there have been proposals for fine-grained modularisation of the IO monad in Haskell; something like that would certainly be nice in Agda, and hopefully welcome in `agda-stdlib`.

@xekoukou , I think that Haste ( https://haste-lang.org/ ) has something (different in different versions) about the distributed aspects you are bringing up. Haste relies on compiler support for compiling to

[2020-04-16 14:02] dylanede commented on #4109
Why is it invalid to define a data type in `Setω`? `Failed to solve the following constraints: Has bigger sort: Setω` does not mean much to me. Also, when that error message appears, there are no line numbers associated with it, making it hard to spot which part of a file is causing the error.

[2020-04-16 14:05] jespercockx commented on #4109
It means that `Setω` is used somewhere as a term, but it cannot be assigned a type since there is no bigger sort that it in Agda. I agree that it would be useful to have a range to indicate where the constraint was generated.

[2020-04-16 14:07] xekoukou commented on #4591
@UlfNorell

  We can not manipulate files directly. All the data we have is pure functions, some with zero arguments, and all are stored in a single database. (All data are immutable.)

The database stores the inputs and the corresponding output.

[code]

These postulates could for example be stored in the database, or it could be requested by the user and then stored in the database. (The code th

[2020-04-16 14:21] jespercockx opened #4595 "Should Setω be a type?"
I'm starting to reconsider my answer I gave to the question by @nad in https://github.com/agda/agda/pull/4579#issuecomment-613371249. It used to be the case that `Setω` was a valid *sort*, but not a valid *type*. This would mean that
[code]
is not a valid type signature, since the type `∀ {A : Setω} → A → TC Term` cannot be assigned a sort. But apparently current Agda accepts definitions like this

[2020-04-16 14:29] jespercockx commented on #4109
See also https://github.com/agda/agda/issues/2285

[2020-04-16 14:35] jespercockx commented on #4595
See also https://github.com/agda/agda/issues/1151 and https://github.com/agda/agda/issues/2119 for more cases where having `Setω` as a type would be useful.

[2020-04-16 14:38] gallais commented on #4595
Also allows to write module interfaces as records (as long as they themselves do
not use `Setω`).

[2020-04-16 14:42] jespercockx commented on #4595
Yes, this was the point of #1151 I think.

[2020-04-16 14:44] jespercockx commented on #4595
On the following program:
[code]
Agda reports
[code]
so it seems that at least in some places `univSort Setω` is already accepted as a valid sort (or rather, in the general spirit of Agda, it is not explicitly ruled out).

[2020-04-16 14:55] nad commented on #4593
The code you quoted includes `firstMeta`, perhaps this could be changed to `lastMeta`.

The tactic solves the goal by unifying it with a term constructed by the tactic.

[2020-04-16 15:46] MatthewDaggitt opened #4596 "Improve pattern matching on records in telescopes"
Type-checking the following
[code]
 gives the error `Cannot split on argument of non-datatype _834
when checking that the pattern x , y has type _834`. However if you change the function type to:
[code]
then it type-checks fine.

Given that Agda can infer the type of `xy`, ideally it should also be able to infer that `xy` is a valid candidate for pattern matching without having to annotate the typ

[2020-04-16 15:55] bbarker commented on #4526
While I'm not familiar with many of the details being discussed, I wonder if a temporary workaround could be to check for an environment variable pointing to the agda installation root directory; using `'ls' /nix/store` is definitely not a good way to go about things and could even return multiple matching results for the same version of agda.

While an environment variable is not always guarantee

[2020-04-16 16:01] gallais commented on #4596
Interesting to note the different behaviours between the four following programs:

[code]

* First two suceed
* In the third one, `xy`'s type is not inferred and the whole type is yellow
* In the last one, the hard error you observed

The `(let p = e)` are what the pattern-matching telescopes are desugared to.
Sounds like these should be allowed to delay some constraints being satisfied.
The fact

[2020-04-16 16:17] nad commented on #4596
Note that there is no whitespace between `x` and `,`.

[2020-04-16 16:19] gallais commented on #4596
My bad, edited: the whole type is highlighted yellow when I put the space in. :D

[2020-04-16 18:32] andreasabel commented on #4588
Noone stands in your way.

[2020-04-16 18:41] andreasabel commented on #4595
The next natural border is `Set2ω`:
1. We can start by adding `Setω`, `Setω 1`, `Setω 2`, ...
2. This naturally generalizes to `Setω l` for `l : Level`.
3. At some point someone wants `forall l -> Setω l`.
4. Thus `Set2ω` is born.
5. Which needs a type... :-)

More seriously, I think we should implement only step 1 and then wait.

[2020-04-16 18:59] andreasabel commented on #4590
Agda is nominal, not structural, by design.  Two functions/data types with different names are distinguished even if they have identical definitions.  This isn't different from other programming languages like Java for instance.  If you copy a class `A` into `B`, then these classes will not be subtypes of each other even though they have identical definitions.  _Nominal_ means equality is by name.

[2020-04-16 19:03] nad commented on #4588
I don't think this issue has high priority, and I don't want to spend any time on it. Note that I put the issue in the icebox.

[2020-04-16 19:11] andreasabel commented on #4596
The problem can be explained by the lack of postponement forms.  The checking of `let (x , y) = xy` cannot be postponed.  If the type of `xy` cannot be inferred, we cannot make progress because we cannot compute the types of `x` and `y`.  The reason is that we use the left-hand-side checker to check pattern `(x , y)` and this needs its type.

One way out would be a custom procedure for record patt

[2020-04-16 19:12] nad opened #4598 "Reflection primitive `inContext` does not respect module parameters"
The following code raises an error:
[code]
Error message:
[code]
Should the code raise an error? Does `print-context` traverse the context in a correct way?

If the first line containing `debugPrint` is commented out, then we get the following debug output:
[code]

[2020-04-16 19:17] andreasabel opened #4599 "Weird variable .patternInTele0 showing up in goal"
Discovered while looking at #4596:
[code]
This must be an issue with the new feature of pattern matching in telescopes.

[2020-04-16 19:29] andreasabel commented on #4591
@xekoukou Is your idea related to interaction trees due to Synek, Hancock and Setzer?  Here is a paper Anton and Stephan wrote with me where IO is modelled by coinductive trees:
http://www.cse.chalmers.se/~abela/publications.html#ooAgda

[2020-04-16 19:38] nad commented on #4585
I encountered the same problem today. When I use the reflection machinery I tend to reduce types and terms before pattern-matching on them, but this fails for types of the form `{a : Level} → …`.

[2020-04-16 20:32] jespercockx commented on #4595
Why not move straight up to `Setε0`?

[2020-04-16 20:48] jespercockx commented on #4595
On a more serious note: having one polymorphic hierarchy (indexed by a type of finite `Level`s) and one non-polymorphic hierarchy on top indeed seems like it could be a reasonable sweet-spot between simplicity and expressivity.

[2020-04-16 21:36] laMudri commented on #4526
The problem here is not really about finding anything – it's about dealing with not finding anything.

When Agda checks a `.agda` file, the first check is whether a `.agdai` file exists for this version of the file. If it does, we don't have to recheck the `.agda` file. In previous versions of Agda, we knew that this `.agdai` file could only live in the same directory as the corresponding `.agda`

[2020-04-17 00:55] JacquesCarette opened #4600 "Deserialization time on already typechecked file"
In the middle of doing other profiling, I happened to profile something that was already typechecked, i.e. all of the `.agdai` files were there already, nothing needed redone.  To be precise, in agda-categories, from `src/` I did
[code]
and looking into that file, I see
[code]
Why is there a full 3 seconds of deserialization?  Yes, it uses some things from the standard library, but not very much (

[2020-04-17 04:02] JacquesCarette opened #4601 "What is a large time spent in Typing.TypeSig a symptom of?"
In `Categories.Enriched.NaturalTransformation`, there is a single definition, `UnderlyingNT` that takes the bulk of the typechecking time for that file.  And the bulk of that, 12s out of 16s spent in typechecking, is allocated to `Typing.TypeSig` in the profile.

I have tried to read the code to understand what that indicates, to no avail.  If I comment out that one definition, that whole file the

[2020-04-17 04:55] MatthewDaggitt commented on #4596
Sounds like it's a matter of making the error message more informative then. I was definitely pretty confused by it for ~5 minutes.

[2020-04-17 07:30] Blaisorblade commented on #4526
And for the record, the planned fix involves (a) adding such a `.agda-lib` file (b) for projects without such files, listing directories in a less naive way.

Looking for `.agda-lib` files in a huge directory won't ever be fast, but looking at them by reading the entire directory listing in a 1GB list is slower than needed. Annoyingly, it seems the `directory` package exposes no portable API for r

[2020-04-17 07:52] jespercockx commented on #4598
To me your tactic looks fine, so I think this is a bug in Agda. It looks like the problem is caused by the call to `reduce`:
[code]
This prints:
[code]
so before the call to `reduce` the type of the `_` in the lambda is still `C` as it is supposed to be, but after reduction it is (quoted):
[code]
The correct result should use the variable `r₂`, which is `var 1` rather than `var 2`. Maybe the probl

[2020-04-17 08:33] nad commented on #4601
https://github.com/agda/agda/blob/faca04a71eca18ac5fba9857adc523f72b34c359/src/full/Agda/TypeChecking/Rules/Decl.hs#L772-L782

[2020-04-17 08:43] nad commented on #4600
Possibly related: #4465.

[2020-04-17 09:24] jespercockx commented on #4598
I think I'm starting to understand what's the cause of this problem. The term `C` in the type of the `_` declaration is really only valid in its proper context where `r₂` is in scope, since it comes from the `open R₁ (R₂.r₁ r₂)`. This means that once you do `inContext []`, it is no longer valid and anything you do with it (getting its type or reducing it) will result in bogus (or rather, will resu

[2020-04-17 09:26] jespercockx commented on #4598
To help with your concrete problem of printing the context here: I think you should try to avoid using `inContext`, and instead properly raise the types you get from `getContext` so they can be printed without changing the context.

The moral of the story is: after using `inContext`, do not expect *any* terms you got before to be still valid. The only valid use-case of the current `inContext` is i

[2020-04-17 10:26] andreasabel commented on #4588
Well, if a false definition of the BUILTIN SIGMA just falls back to the user with comprehensible error messages, then this is not a bug.

I switch this to `info-needed` now, and a while later to `abandoned`.
I do not see the point of flooding the bug tracker with issues no one cares about and no one cares to fix.

[2020-04-17 10:30] nad commented on #4465
I tried to replace `maybe malformed return (cast u)` with `return (unsafeCoerce u)` to see if this would speed things up. Perhaps there is a small advantage, but I have only run `make std-lib-test` a small number of times, and the reported times are not stable.

It seems as if a successful call to `cast` involves computing two `TypeRep`s, checking if their fingerprints (pairs of 64-bit words) are

[2020-04-17 10:31] andreasabel commented on #4544
No big interest in this issue.

[2020-04-17 10:31] #4544 closed, assigned to nobody

[2020-04-17 10:36] gallais commented on #4588
[code]

gives a type error so at least that's reassuring.

You can probably get a segfault in a compiled program by doing enough work
to write `main = print (primQNameToWord64s (quote primQNameToWord64s))`
but I cannot be bothered.

[2020-04-17 10:45] andreasabel commented on #4592
Seems like the chat has moved to https://gitter.im/agda/agda

[2020-04-17 10:46] nad commented on #4588
I reported this so that we should not forget about it. I don't think there is any harm in having lots of issues in the icebox, I tend to ignore these issues.

[2020-04-17 11:04] gallais commented on #4592
There are definitely still people on IRC.

[2020-04-17 11:13] nad opened #4604 "Do not highlight projection functions in expressions as fields"
Now (presumably due to #4574) lots of identifiers in my code which used to be highlighted as functions are highlighted as fields. I don't think it is helpful to highlight projection functions in expressions as fields, it just makes the code harder to read. However, perhaps it makes sense to highlight copatterns as fields.

I suggest that by default projection functions in expressions (postfix or n

[2020-04-17 11:19] ajrouvoet commented on #4592
I wasn't aware of the gitter. Bit of a shame that the community is split that way. I think I recall having seem some instances where IRC and gitter where synced to some extent. Would that be an idea?

There is at least a way to connect to a gitter channel using IRC (https://gitlab.com/gitlab-org/gitter/irc-bridge), but it might not be ideal to give up on freenode; there is certainly still a commun

[2020-04-17 11:19] andreasabel commented on #4604
This regression was not intended, I have to have a look at this.
From https://github.com/agda/agda/pull/4574#issuecomment-613422422 :
[code]

[2020-04-17 11:29] xekoukou commented on #4591
The main reason we need the IO monad is due to our perception of what the World is. **We have modeled the world as a mutable variable.** When we interact with it, we change its state, thus the order of interaction is important.

  Linear types are needed because they stop us from interacting with a previous state of the world that does not exist. anymore. So linear types are a solution to a proble

[2020-04-17 11:30] JacquesCarette commented on #4601
Yes, I had found that code.  And that it must be `checkAxiom'` that is taking that time, as that seems to be the only thing `checkTypeSignature'` calls. But in reading that code (https://github.com/agda/agda/blob/faca04a71eca18ac5fba9857adc523f72b34c359/src/full/Agda/TypeChecking/Rules/Decl.hs#L565) it's still not clear where the time is spent.  I did also output `tc.decl.ax` to witness that the t

[2020-04-17 12:16] jespercockx commented on #4591
As @UlfNorell said, you can *already* use Agda without using the `IO` monad or operations like `readTextFile`. It is still not clear to me what your proposal would actually *add* to Agda that would allow you to "manipulate the World as a pure function".

[2020-04-17 12:36] xekoukou commented on #4591
@jespercockx Let's leave it at that then.

[2020-04-17 13:48] nad commented on #4601
I'm guessing that a lot of time is spent checking some type signature. Can you confirm that by replacing the definition's body with a hole?

[2020-04-17 13:55] nad commented on #4604
Note that my suggestion is not simply to fix the regression, but to make things better. If we take the example above, previously the expressions `A` and `R.A` where highlighted differently, but I think they should be highlighted in the same way.

[2020-04-17 14:10] Saizan commented on #4560
So `inductive; constructor con; no-eta-equality` would be the version supporting copatterns but not corecursion, right?

[2020-04-17 14:32] andreasabel commented on #4604
Here, I wonder why?  In the same league, we should not highlight constructors in expressions as such...

[2020-04-17 14:48] AndrasKovacs commented on #4595
What about having `ω²` universes, which could be canonically represented with a pair of `Nat`-s as `Set(i*ω+j)`? The current `Set_i` could be shorthand for `Set(0, i)`. I think this gives us lots of universes for a relatively small extra complexity of representation. I don't know though what additional complications could arise in unification.

(I've personally only encountered situations where I

[2020-04-17 14:52] JacquesCarette commented on #4601
Yes.  If I replace that single definition's body with a hole, I get
[code]
That's a nice number of metas, isn't it?

Within noise levels of timing measurements, that's the same as the hole filled
[code]
and wildly different than the same file with just that one definition commented out
[code]

So, as the name indicates, checking that one signature takes a huge amount of time. But I don't really se

[2020-04-17 15:08] gallais commented on #4601
Have you tried passing the implicit `C` & `D` arguments of type `Category` explicitly?

[2020-04-17 15:23] JacquesCarette commented on #4601
What I did try was to un-embed `UnderlyingNT` from the anonymous module, forcing me to make everything explicit.  That didn't change anything.

[2020-04-17 16:14] andreasabel commented on #4596
How about this error?
[code]

[2020-04-17 16:23] gallais commented on #4596
Why can the checking not be postponed?

[2020-04-17 16:31] nad commented on #4604
Consider the following proof:
![subst-subst-sym](https://user-images.githubusercontent.com/293222/79591356-af444680-80d8-11ea-8ed4-6daf57b3b284.png)
It is almost like someone randomly chose one of the colours blue and pink for each name, and I find it distracting.

Record fields and data type constructors tend to be used rather differently, so I do not want to extrapolate this observation to const

[2020-04-17 16:42] andreasabel commented on #4596
Well, in my lenghty explanation I argue that if we want to postpone this, we need to give makeshift types to the bound variables, which is kinda difficult.

[2020-04-17 16:58] nad commented on #4067
Is it time to go ahead with this change now?

Here is another test case:
[code]

[2020-04-17 17:00] andreasabel commented on #4604
These would all be blue if the regression was fixed.  They are not actually projection _functions_ but values coming from fields, and I agree that these should not be colored like projections.

The case of projections would arise if you kept the equality structure `Eq` visible, having expressions like `Eq .== x y` and `Eq .sym x==y` etc.

[2020-04-17 17:23] nad commented on #4265
The problem does not seem to have been fully solved:
[code]
[code]

[2020-04-17 18:58] andreasabel commented on #4596
I pushed the above slightly more accurate error messaging.

Please reopen if you are not happy with the error or are working on a better solution (postponing).

[2020-04-17 18:58] #4596 closed, assigned to andreasabel

[2020-04-17 19:19] andreasabel commented on #4588
@gallais:

I tried a bit to break cubical but also got reasonable errors, no crashes.

@nad:

Bugs that sit there for a long time get stale and tasteless.  Fresh bugs have a higher likelyhood to get fixed.  There is also the effect that if someone else reports the same bug later, it will be labeled as duplicate, taking away the incentive to fix it.  Released bugs have a higher chance to live on.

[2020-04-17 21:34] UlfNorell commented on #4593
I think it would help if you could articulate what the actual problem is here. The tactic is called when it's not supposed to be, but it doesn't execute all the way to the end?

[2020-04-18 07:39] UlfNorell commented on #4591
I have an actual file on my actual file system on my very real computer, and I want to copy it. You can't tell me I shouldn't do that without first convincing operating system developers to completely change the way we interact with computers. Good luck with that.

[2020-04-18 07:55] UlfNorell commented on #4600
The typical case when loading an interface is that you have some module that you are actually type checking that needs the contents of this interface. In this case I hope it's clear that deserialization (unpacking the stored interface into the proof state) takes a non-trivial amount of time.

I suppose it would be possible to optimize the case where *no* module needs type checking and do nothing i

[2020-04-18 08:52] andreasabel commented on #4560
Yes.

[2020-04-18 09:37] xekoukou commented on #4591
@UlfNorell Did you convince Intel to change the assembly language to not have the ```mov```
command?

You didn't. What you did was create the correct abstractions that consider addition a pure function instead of mutation of the registers.

As I said before, we need to have a database of immutable data, that is append only.

I wish you could find errors where errors exist.

[2020-04-18 09:54] gallais commented on #4591
Having a distributed evaluation model with seamless transmission of data
between the various units doing the computation seems orthogonal to `IO`
so why focus on deprecating the IO monad which would, according to you,
still be needed to e.g. read a file?

[2020-04-18 10:28] xekoukou commented on #4591
By the way, we can interact with the file too, if we want to. Let's use a similar example.

We have a sensor that measures the temperature. It is a mutable variable.
How would we represent it as a pure function?

It depends on what information we need.

[code]

If we need only one value, we use ```constTemp```.
If we need all previous values, we use ```varTemp```
If we know that there is a way to

[2020-04-18 10:46] nad commented on #4588
Perhaps we can agree to disagree.

[2020-04-18 11:00] nad commented on #4593
The tactic is called eight times, and at most one of those calls (the fifth) is successful, all the others block. Furthermore at least one invocation is successful, because the goal is solved. Thus my conclusion is that the tactic is called three times after it has completed successfully.

I also note that the tactic does not find unsolved meta-variables in the fifth invocation, but it does find a

[2020-04-18 11:52] nad commented on #4067
I'm trying to merge the master branch into the issue4067 branch.

[2020-04-18 11:56] nad commented on #4067
@vlopezj, how would Tog handle this situation?

[2020-04-18 12:18] nad commented on #4067
I'm not convinced that it makes sense to fix this issue by making constraint solving less robust. However, I do think it makes sense to preserve user-written code.

Is it possible to construct an example in which Agda replaces code (`4`, say) with less efficient but definitionally equal code (like `primForce (fib 25) (λ _ → 4)`)? A more realistic example might involve code which is expected to be

[2020-04-18 12:49] jespercockx commented on #4595
One thing I like about having one polymorphic + one non-polymorphic hierarchy is that it is the smallest extension of current Agda where both `piSort` and `univSort` are totally defined functions on sorts (currently `piSort` is total but `univSort Setω` is not defined). This would allow us to get rid of the "Has bigger sort" constraint. I honestly do not see any use-cases for universes beyond that

[2020-04-18 12:52] nad commented on #4067
Done.

[2020-04-18 23:10] dylanede commented on #4109
So why are records in `Setω` allowed but not `data` types? Seems inconsistent.

[2020-04-19 06:08] WorldSEnder commented on #4573
I have a very similar problem with my code [here](https://gist.github.com/WorldSEnder/4dc7dd1904db074dbf12be5ad1c30802). Not sure if related. Typechecking seems to go on forever when [the definition on line 298](https://gist.github.com/WorldSEnder/4dc7dd1904db074dbf12be5ad1c30802#file-sets-agda-L298) is given, when instead replaced by a hole, everything works fine.

I did not yet figure out which

[2020-04-19 09:46] UlfNorell commented on #4591
I still can't see what it is you are arguing here. Under your proposal,

*Can I write an Agda program that can be compiled and run to copy a file on my file system?*

If yes, can you sketch what it would look like? If no, what are you actually suggesting? That Agda programs should not be able to influence the outside world?

[2020-04-19 11:48] xekoukou commented on #4591
Instead of looking at the file, we should model all the programs that can change the file, whether they do it asynchronously or sequentially etc. Thus we model the processes or pure functions and not the variables.

Here is an example, where we model a room that has a radiator , a sensor that measures the temperature and a switch that turns on or off the radiator.

[code]

(after 24 hours we close

[2020-04-19 12:40] JacquesCarette commented on #4601
Ok, I found what it was: figuring out what all the implicits needed to be (which were mostly all `Level`s). When I give them by hand, that 11,000ms goes down to 150ms. I have to give pretty much all of them.

If there were some kind of agda profile setting that would make it clear what unification problems are 'hard' (like there are settings to see the positivity problems), that would make trackin

[2020-04-19 12:40] #4601 closed, assigned to nobody

[2020-04-19 12:46] JacquesCarette commented on #4600
Yes, it's clear in the typical case. [Although it seems that this is still over-eager, as loading a large module but with a very restrictive `using` doesn't seem to have any effect on load time].

I also agree that this use case is probably not worth optimizing for.  But what about the `using` cases? Is there an agda idiom that actually only loads exactly what I ask for, and nothing else?  I do re

[2020-04-19 14:04] nad commented on #4591
I haven't read the discussion carefully, but I wonder if what @xekoukou has in mind is related to functional reactive programming (FRP).

[2020-04-19 14:09] Saizan commented on #4601
@JacquesCarette What settings are there for the positivity problems? specific verbosity flags?

[2020-04-19 14:10] nad commented on #4600
What about all the dependencies of what you ask for?

Agda currently has no support for loading parts of interface files, and the interface file format is not designed for this.

[2020-04-19 14:20] amp12 opened #4606 "The combination of Cubical Agda with inductive families is logically inconsistent"
As the following example shows, the cubical mode of the current version (2.6.1) of Agda allows a proof of falsity :-(

[code]

[2020-04-19 14:22] JacquesCarette commented on #4600
Right, I should have been precise: what I ask for, and everything needed for that to make sense, i.e. all transitive dependencies.

What this implies, for me, is that I should break the files in `agda-categories` into much smaller chunks, and then I'll have the option of being minimal. The "top level" files won't change in what they export, but what they'll become is a bunch of `open import XXX pu

[2020-04-19 14:36] JacquesCarette opened #4607 "Feature request: profiling time of implicits"
I have recently sped up typechecking time of some of the worst offenders in `agda-categories`. One of the biggest culprit is, unsurprisingly, figuring out some implicits. The hard part is to figure out which ones are very costly.

I realize that providing timings for solving for each implicit in a file is likely too much to ask for. [I'm totally fine with wading through a lot of output, it's the '

[2020-04-19 14:47] JacquesCarette commented on #4601
"-v tc.pos:5" is helpful.  Looking through the Agda sources for `reportSDoc` and `reportSLn` is a very helpful way to discover all sorts of verbosity flags. Careful though, the output can get huge very very fast.  I had a file that took 11s to process that too 90minutes to run (and produced 21Megs of output) when I asked for too much verbosity!

[2020-04-19 15:12] andreasabel opened #4608 "Records without constructors cannot be instances. Why?"
One can declare a record constructor an instance, but only if it has a name.
[code]
Logically, there is no reason why a name is mandatory, is there?  The nameless record constructor `\ x -> record { a = x }` could be used during instance search.  (Internally, each record has a named constructor, but some of these names are unutterable.)
We could have
[code]
(which currently warns about empty insta

[2020-04-19 15:23] andreasabel commented on #4606
It seems that not only indexed hits are problematic, but also inductive types indexed on hits.  If you spell out type `_<_`, it becomes:
[code]
With this elaboration, you cannot fool the termination checker.

A brute fix for this issue would be to turn off the use of dot patterns for termination certification, maybe not only for `--cubical`, but also `--without-K`.

[2020-04-19 15:56] jespercockx commented on #4608
Note that the `instance` keyword for the `tt` constructor is no longer optional. From the 2.6.0 release notes (https://github.com/agda/agda/blob/master/doc/release-notes/2.6.0.md):

I do not know about other sensible uses, but I do not see why `instance` should not be allowed for a record constructor either.

[2020-04-19 15:58] jespercockx commented on #4608
Two more points:
- It is not surprising that there are no uses of `instance constructor` in the standard library since it uses almost no instances to begin with.
- The lone `instance` syntax you propose looks like you are making the *fields* into instances, which is probably not intended. If you really want to add syntax for an anonymous instance constructor, I propose `instance constructor` by it

[2020-04-19 16:13] asr opened #4610 "Support Emacs 27.1"
Emacs 27.0.91 (the second pretest for what will be the 27.1) was [announced](https://lists.gnu.org/archive/html/emacs-devel/2020-04/msg01123.html). I'm creating this issue for collecting/reporting the required changes/issues.

Initially, I got the following errors:

[code]

I know Agda developers using different versions of GHC, which is good. I would appreciate if you tell us which Emacs version

[2020-04-19 16:15] UlfNorell commented on #4591
I take your dodging the question as saying that you don't think that Agda programs should be able to change files on people's computers. I have little sympathy for this view.

[2020-04-19 16:18] jespercockx commented on #4610
I'm using GNU Emacs 25.2.2

[2020-04-19 16:21] gallais commented on #4610
I have GNU Emacs 24.5.1 installed.

[2020-04-19 16:22] UlfNorell commented on #4608
I would argue against allowing unnamed instance constructors. There are a number of issues where people are asking for ways to limit the scope of instances, and it's not clear how you would go about importing a record type, but not it's unnamed instance constructor. Of course, some syntax could be devised, but this really does not seem like it would be worth it.

[2020-04-19 18:10] andreasabel commented on #4608
Ah, interesting.  Does this mean that eta-equality is not interleaved with instance search?  I do not fully understand what "no longer ignored by instance search" means.  One interpretation would be that eta is not used to solve/advance instance problems.

[2020-04-19 18:10] andreasabel commented on #4608
Yeah, this makes sense.

[2020-04-19 18:28] jespercockx commented on #4608
It means that even if the instance meta has already been solved by eta-expansion or unification, Agda will still run the instance search algorithm and check that the solution found by instance search agrees with it. In particular you still get a "no instance found" error for an instance meta that's solved by eta-expansion.

[2020-04-19 19:51] xekoukou commented on #4591
@UlfNorell They could, but indeed I do not find this feature useful. (I actually thought that my example would suffice.)

@nad I tried FRP before, I found that it was limiting, but I can't remember what it was.

The funny thing is , that people here actually proposed to me to do things that I have actually tried before and they didn't work. So it's like you knew what I was working on, the last yea

[2020-04-19 20:45] andreasabel commented on #4560
I implemented my proposal at https://github.com/agda/agda/issues/4560#issuecomment-613459824 in PR #4611.

[2020-04-20 06:11] UlfNorell commented on #4591
As other people have said, if you don't want to write programs manipulating files you don't have to. But the reality is that file systems exist and there needs to be programs working with them. Arguing that these programs shouldn't be written in Agda because in your view "the world is a pure function" is not helpful.

[2020-04-20 08:30] ajrouvoet commented on #4610
GNU Emacs 26.3

4 developers, 4 versions of Emacs

[2020-04-20 10:11] fredrikNordvallForsberg commented on #4610
(another GNU Emacs 25.2.2 here)

[2020-04-20 10:37] guillaumebrunerie commented on #4610
I’m using GNU Emacs 25.2.2 as well (but I’m on Ubuntu 18.04 LTS which will presumably get upgraded to the new 20.04 LTS with a brand new Emacs somewhat soon).

[2020-04-20 10:45] nad commented on #4610
GNU Emacs 25.2.2.

[2020-04-20 11:07] nad commented on #4600
Given that the Emacs mode caches interfaces I'm not convinced that it makes sense to optimise things in this way. You might save tens of seconds in load time, but if a library becomes harder to navigate you might lose much more in navigation time, so perhaps it makes more sense to optimise for readability.

However, it might make sense to make the loading of interface files faster.

When I impleme

[2020-04-20 11:11] nad commented on #4607
I wonder if it would make sense to optionally abort unification if it is too costly. In that case you could perhaps more easily have identified this problem. Can we cheaply measure the cost of unification in some reasonable way?

[2020-04-20 11:18] nad commented on #4606
The code in the OP uses inductive families as well as cubical features. I think there is some work under way to add proper support for inductive families to Cubical Agda (#3733). I wonder if the problem still exists in that setting.

[2020-04-20 11:28] nad commented on #4560
You write that "The attribute 'pattern' is ignored for 'coinductive' or 'eta-equality' records". Doesn't it make sense to at least warn users who use `pattern` together with `coinductive`?

[2020-04-20 13:47] Saizan commented on #4606
I should be able to test it out this week, but the generated clause to address #3733 should not have `.(S y)` as a dot pattern, since you could see it as an automated version of the transformation @andreasabel proposed. That way the termination checker should not have a reason to believe `y` is smaller than `x`.

[2020-04-20 14:22] vlopezj commented on #4067
@nad The blocking mechanism in Tog is the same as Ulf describes, so you could have the same issues there.

[2020-04-20 14:52] nad commented on #4067
I saw that `cubical-test` fails for the `issue4067` branch. (I failed to notice this before pushing because the test was not set up properly, but I have fixed that on the `master` branch (c0b4c610f81b1e0a37616a3869cbe9adf3a322d0).) Agda fails to solve some constraints:
[code]
I used `--show-implicit`, so it would appear as if some of the constraints above can be solved. However, perhaps they are n

[2020-04-20 15:07] andreasabel commented on #4608
Ah, interesting.  What is the rationale behind that?  If something can be solved by eta-expansion, then the solution is unique, isn't it?  Why also require instance search to succeed?

[2020-04-20 15:16] andreasabel commented on #4606
My hunch was that computed dot-patterns are no longer unique with QITs and HITs, so they should not be counted toward termination.  However, this is a naive perspective.

@Saizan Do you say that @jespercockx 's _pattern matching without K_ needs to be updated when there is an equation at a type that is a HIT?

[2020-04-20 15:17] andreasabel commented on #4592
I do not know who maintains  http://agda.orangesquash.org.uk .  This issue should be raised with the maintainer.

[2020-04-20 15:23] andreasabel commented on #4595
@jespercockx

You want to deal with the ordinal notations for ε0  (Cantor normal forms)?  Seems like quite some overkill...

@AndrasKovacs

Let's wait for applications before going there.  We could also have omega^omega...

The rational behind 2ω is that this is the minimal ordinal where we have
1. quantification over the levels in ω,
2. each sort has a sort.

[2020-04-20 15:24] jespercockx commented on #4608
Because the specification of instance search is that there should be a unique *instance* in scope. Hence if there is no instance, it would be misleading to not report an error.

[2020-04-20 15:25] andreasabel commented on #4610
Emacs 26.1 (Mac).

[2020-04-20 15:28] jespercockx commented on #4606
Dot patterns computed by unification are unique up to definitional equality, even with `--without-K` and/or `--cubical`. However, the theory of pattern matching in my papers does *not* support recursion on dot patterns, so if you are looking for a culprit that's where I'd look.

[2020-04-20 15:28] andreasabel commented on #4608
Ok.  My intuition would be that there is a unique solution given instances and unification.  We lack a unified theory of these two solvers yet, though.  But this should be the goal, otherwise instance search will be a playground for smart hacks.

[2020-04-20 15:29] jespercockx commented on #4595
This was an attempt at humor, if it wasn't clear. Making jokes on the internet is hard...

[2020-04-20 15:44] ajrouvoet commented on #4592
Does anyone know? If not, perhaps it would be good/possible to host a reliable log on the same infrastructure as other community resources (mailinlist, wiki, etc..)?

[2020-04-20 15:50] alexarice opened #4613 "Agda fails to compile files without --local-interfaces in nixos"
I'm not sure if this is a nixos problem or an agda problem but currently if you try to compile an empty file with agda 2.6.1 which is not in a library, agda tries to build the interface file in `/nix/store/_build` which is read only. The problem seems to go away with `--local-interfaces`

Would be good if anyone has any ideas as to what is causing this.

[2020-04-20 16:00] andreasabel commented on #4560
@nad :

You will get this warning:
[code]
Ha, I see there is a bug in the printer: `CoInductive`, but I did not introduce it.

[2020-04-20 16:04] Saizan commented on #4606
@andreasabel The way I am approaching this is to extend _Elaborating dependent (co)pattern matching_ to handle constructors other than `refl`.

@jespercockx 's (and others) work shows how to turn the unification rules into (well-behaved) equivalences, but if you assume you only need to handle `refl` most of the equivalence is not actually needed.

For `--cubical` I have to make more use of the equ

[2020-04-20 16:11] turion commented on #4613
Example setup to reproduce:

[code]

[2020-04-20 16:49] alexarice commented on #4613
For me I can reproduce just by:
[code]

[2020-04-20 17:51] Saizan commented on #4067
@nad can you get the constraints from `M-x agda2-show-constraints` ? Those are closer to the internal representation.

[2020-04-20 20:29] gallais commented on #4613
This is very strange. `_build` directories should only be created at the root
of an Agda project. Surely you don't have an `.agda-lib` file in `/nix/store/`?

(Note that there is another, unrelated, issue with nix that should get fixed in
a minor release: #4526)

[2020-04-20 20:31] alexarice commented on #4613
I think there probably is a .agda-lib file in my nix store but It was my understanding that it shouldn't matter because as it's in a different directory to my temp directory?

[2020-04-20 20:31] andreasabel commented on #4606
@Saizan : I can wait until you are done.  Should there be a need to turn off dot-pattern-termination for cubical, it is very easy to do this; just skip this second pass:
https://github.com/agda/agda/blob/c0b4c610f81b1e0a37616a3869cbe9adf3a322d0/src/full/Agda/Termination/TermCheck.hs#L247-L251

[2020-04-20 20:40] andreasabel commented on #4590
Closing for now, welcome to reopen if there is more to discuss.

[2020-04-20 20:40] #4590 closed, assigned to nobody

[2020-04-20 20:40] andreasabel commented on #4560
The PR (#4611) is now ready for reviewing.

[2020-04-20 20:45] gallais commented on #4613
With the (new) project-based interface stashes, we do not dump the .agdai files
next to the corresponding source file anymore if we can find a project root
(i.e. an `.agda-lib` file somewhere up in the hierarchy).
This allows us to avoid retypechecking a project from scratch every time a user
switches between versions of Agda.

Here the presence of an `.agda-lib` file in `/nix/store` leads Agda to

[2020-04-20 20:47] alexarice commented on #4613
Ah I forgot about the primitives, that makes perfect sense

[2020-04-20 20:48] turion commented on #4613
So we could patch this quickly by distributing our own `.agda-lib` for builtins in Nixos I guess?

[2020-04-20 20:51] alexarice commented on #4613
That might be the best solution

[2020-04-20 20:59] gallais commented on #4613
If you do so, you need to make sure that the `.agdai` files for the builtins
end up in the corresponding `_build/2.6.1` directory. At the moment `Setup.hs`
compiles the builtins using `--local-interfaces` so they are dumped next to the
source file (the assumption was that there would never be an `.agda-lib` file
for Agda to find but that was a really bad assumption to make in retrospect.
Sorry abo

[2020-04-20 21:03] gallais commented on #4595
Just dump the content of @fredrikNordvallForsberg's recent paper in `Agda/Primitive/`

https://arxiv.org/abs/1904.10759

[2020-04-20 21:03] alexarice commented on #4613
Should the .agda-lib file just go in the same folder as the builtins?

[2020-04-20 21:07] gallais commented on #4613
I would put a file `agda-builtins.agda-lib` in `lib/prim/`:

[code]

[2020-04-20 22:28] masaeedu opened #4614 "Why does this hole cause an error?"
Hello. I'm a Haskell programmer trying to learn Agda. One common pattern I use in Haskell is to write a function piece by piece using holes. So I might start by writing a function like this:

[code]

The inferred type of the hole is reported to me as `_ :: Nat`. Now presumably I need to do something with the `b` argument to obtain the final result. So I take `b` and apply the hole to it.

[code]

[2020-04-20 23:52] MatthewDaggitt commented on #4600
Thanks for the ping. @gallais in particular is already aware of this, and has done some great work in ensuring that the contents of the `Base` modules are designed so that they have minimal dependencies and are snappy to load without dragging in all the proofs. Though there are still some sticking points (e.g. agda/agda-stdlib#1033)

[2020-04-21 07:03] jespercockx commented on #4614
The reason for this behaviour is that Agda doesn't know whether the function you will give in the hole takes any implicit arguments or not. For example, this solution is accepted by Agda:
[code]
Here the hole is filled with a function of type `{x : bool} → bool → T x`, not `bool → nat`. So if Agda were to decide that the type must be `bool → nat` in advance, then this would rule out this solution

[2020-04-21 07:31] gallais commented on #4614
It would rule out `bar` but not `bar {false}` which is what the solution
ultimately is. So I am not sure I understand this statement.

[2020-04-21 07:47] jespercockx commented on #4614
Hmm, you're right. However, the implicit argument could also come *after* the explicit one, so we would have:
[code]
Still, Agda should maybe be able to figure out at least that the hole should be something of a function type taking one explicit argument of type `bool`, even if it doesn't know the return type yet.

[2020-04-21 08:06] andreasabel commented on #4614
Agda does not speculate on how many implicit arguments and unknown in function position has.  Thus, the piecewise refinement approach described in the OP does not work.

Something more could be done if we had first-class telescopes.  But this would be a major innovation.

[2020-04-21 08:51] laMudri commented on #4613
Wait, surely not? I thought everything directly in `/nix/store/` was a directory or a `.drv`.

[2020-04-21 09:01] nad commented on #4592
@iainlane.

[2020-04-21 09:03] nad commented on #4067
[code]

[2020-04-21 09:14] nad commented on #4614
One way to do this kind of thing in Agda is to build up the expression inside the hole. For instance, you can write `bar b` inside the hole and ask Agda to infer its type.

Given that there is already a way to do this I don't see the point of working hard to support the method discussed in the OP.

[2020-04-21 10:08] alexarice commented on #4613
Ah, this only started when we started trying to write tests, this is why it took so long to notice

[2020-04-21 10:10] alexarice commented on #4613
[code]

[2020-04-21 10:11] laMudri commented on #4613
Aah, are `blxg8dm9ipq86028q9qp8qij2j4rr8rn-mylib.agda-lib` and `qcfx5glrzps4mf67clrknsw551f7bms7-mylib.agda-lib` actually directories whose names happen to end with `.agda-lib`?

[2020-04-21 10:12] alexarice commented on #4613
no they are files, A derivation can be a single file

[2020-04-21 10:13] laMudri commented on #4613
Oh okay, I suppose this should be a won't-fix from the Agda side, then.

[2020-04-21 10:14] gallais commented on #4613
I think our fix should be to add an `.agda-lib` file to the `lib/prim`.

[2020-04-21 10:45] nad commented on #4265
[code]
[code]

[2020-04-21 11:54] jespercockx commented on #4265
The problem here is another missing case in the `isType_` function, which means Agda falls back to creating a fresh sort meta and calling `checkExpr`. However, the sort meta is used as a *type* in this function, which is not valid because it should be instantiated to `Setω`. Hence you get this currently unsolvable constraint. Three possible ways to fix this:

- Add the missing case to `isType_`
-

[2020-04-21 12:02] jespercockx opened #4615 "Enable --no-sort-comparison by default?"
_Originally posted by @jespercockx in https://github.com/agda/agda/issues/4345#issuecomment-575572806_

This would also likely solve https://github.com/agda/agda/issues/4265, and maybe improve performance as well.

[2020-04-21 13:21] jespercockx commented on #4615
Currently this leads to the following error in `Data.List.Membership.Propositional` in the standard library:
[code]

[2020-04-21 13:32] jespercockx commented on #4615
It is kind of suspicious that these constraints are not solved with `--no-sort-comparison`, since (without cumulativity) there is no subtyping at universes so they should really be solved directly.

[2020-04-21 14:18] alexarice commented on #4613
As a side note, Agda also seems to recognise directories as agda-lib files for the purposes of determining what a library is

[2020-04-21 14:33] bbarker commented on #4591
This may be getting a bit far afield, however an alternative might be effect types. To bring up the [Unison language](https://www.unisonweb.org) again, it basically [has an algebraic effect system](https://www.unisonweb.org/docs/abilities), and was based on the[ Frank language](https://arxiv.org/pdf/1611.09259.pdf) by Conor McBride, Sam Lindley, and Craig McLaughlin.

I'm far away from being exper

[2020-04-21 18:50] dylanede opened #4617 "Parsing error using implicit lambdas in syntax declarations"
It seems that although this is a perfectly correct use of syntax declarations:
[code]
the following code triggers a parse error on the `{`:
[code]

This prevents syntax declarations from expanding to expressions involving lambdas with implicit arguments. The same problem also occurs for lambdas with instance arguments.

[2020-04-21 19:45] jespercockx opened #4618 "Type error `l0 != lzero` when l0 is defined as `l0 = lzero`"
This behaviour is very confusing to me. Found while trying to minimize an example for #4615.
[code]
Error message:
[code]
EDIT: minimized the example a bit further.

[2020-04-21 20:03] jespercockx commented on #4618
It looks like this is just https://github.com/agda/agda/issues/1113 again ...

[2020-04-21 20:07] jespercockx commented on #4618
However, even defining `l0` first does not fix the problem:
[code]
gives the same error still.

@andreasabel could this have something to do with the new automatic reordering of mutual blocks?

[2020-04-21 20:19] jespercockx commented on #4615
I am trying to understand why certain files fail to typecheck with `--no-sort-comparison`. Here is the smallest example I've been able to come up with so far:
[code]
This checks fine without any flags, but with `--no-sort-comparison` it produces unsolved constraints:
[code]
These constraints are left unsolved because of a non-linearity: in the constraint `B x₁ =< _20 (z = x₁)`, the metavariable `_

[2020-04-22 07:47] xekoukou commented on #4591
(To all, )

Agda is a theorem prover and a programming language. That means that we can prove properties of programs, compile them and execute them at the same time.

This is not true for a distributed system where multiple programs need to be compiled.
We could either
  1. create a model of a distributed system that never compiles to an executable
or
  2. write executable code that does not permi

[2020-04-22 08:01] jespercockx commented on #4615
After thinking about it some more, I may have an idea of how Agda solves this: the constraint `B x₁ =< _20 (z = x₁)` cannot be solved directly, however attempting to solve it teaches Agda that whatever the solution of `_20` might be, it will *not* depend on `x₂` since `x₂` does not appear in `B x₁`. So Agda can prune away the dependency of `_20` on `x₂`, which removes the non-linearity in the *oth

[2020-04-22 08:18] UlfNorell commented on #4615
That sounds plausible.

[2020-04-22 12:27] nad commented on #4618
What does this refer to?

[2020-04-22 12:41] jespercockx commented on #4618
https://github.com/agda/agda/issues/3246, and specifically the new reordering of declarations in mutual blocks implemented in https://github.com/agda/agda/commit/5ffac504f5a83d881013e333758bb096c010d44a#diff-0b7e48bb5afea395722b5d68912f2064R1491-R1588

[2020-04-22 12:49] nad commented on #3246
Were the changes related to this issue released without documentation in the changelog?

[2020-04-22 15:08] jespercockx commented on #4615
I think I finally understand the problem: Agda *does* try to prune the metavariable, but it is blocked from doing so because the *type* of the metavariable still contains the unsolved level `_l` which still depends on the variable we want to prune. Under Agda's default behaviour `_l` gets solved to `lzero` by the sort comparison, but with `--no-sort-comparison` this does not happen and thus the wh

[2020-04-22 15:32] #4560 closed, assigned to andreasabel

[2020-04-22 15:50] andreasabel commented on #4618
Why is this confusing?  It is just how type-checking of mutual blocks is specified: first the type signatures, then the implementations.  And yes, it is #1113.
If you remove the `mutual` keyword, it should check fine.

[2020-04-22 16:02] andreasabel commented on #4617
Well, the Agda language does not support syntax declarations with hidden or instance binders yet.

I think the current implementation, that uses the parser to reject unsupported or invalid syntax declarations, isn't very good.  Instead, we should parse
[code]
and let the nicifier or scope checker reject invalid syntax declarations.  Then, we can give much more user-friendly error messages.

[2020-04-22 16:02] jespercockx commented on #4618
No, if I remove the mutual keyword then the metavar gets frozen before Agda starts to check `foo`, so I am left with unsolved metas (and unsolved constraints).

[2020-04-22 16:06] #4614 closed, assigned to nobody

[2020-04-22 16:12] andreasabel commented on #4618
Oh sorry, indeed.  That is why there is also the fake mutual block technique:
[code]

[2020-04-22 16:14] andreasabel commented on #4618
This can be perfected:
[code]
I should file a patent on how to make a mutual block in Agda when things are actually not mutual. :D

[2020-04-22 16:25] jespercockx commented on #4618
Well, it seems I have to brush up my fake-mutual-block technique. I think we can close this issue then. I just want to put it on record that I am not happy with the current situation of #1113 (but I don't have a concrete proposal, which is why I haven't reopened it yet).

[2020-04-22 16:25] #4618 closed, assigned to jespercockx

[2020-04-22 17:29] jespercockx commented on #4615
With this change I now managed to get the standard library to pass using `--no-sort-comparison`. It has a small positive effect on typechecking performance: time went down from 329,664ms to 322,921ms (about 2%). It might just be noise, though. Still, it feels that the behaviour of `--no-sort-comparison` is morally the right thing to do. I'll make a PR and see what people have to say.

[2020-04-22 21:52] googleson78 commented on #513
Is this something hard to fix? Where should someone look/start, for fixing this?

[2020-04-23 01:40] guilhermehas commented on #4613
In my machine, it compiles, but it takes a very long time.

[2020-04-23 07:23] turion commented on #4613
What system do you have?

[2020-04-23 07:34] jespercockx commented on #513
Well, the fact that it has been open since 2011 probably means it is not *very* easy to fix. I guess it would mean going carefully through the whole pipeline on processing a `rewrite` statement to see where it is desugared to a `with` statement, adding some extra information at that point to indicate the origin as coming from a `rewrite` block, and then updating the printer to not print these argu

[2020-04-23 08:41] ajrouvoet opened #4619 "Feature request: dependent pattern matching let in do blocks"
The lack of dep. pattern matching for a `let` in a do-block feels arbitrary.

Regaining it via `case_of_` is heavy, in the sense that it requires another indented do block.
An alternative that is less obtrusive is to wrap the value in a return, which begets you dep. pattern matching. This seems a strange hoop to jump through to get what you want.

Is there a way to make the let-desugaring smarter

[2020-04-23 08:45] ajrouvoet commented on #4619
@jespercockx noted that the bind desugaring already seems to distinguish between pattern binds and non-pattern binds:

[code]

A question is whether record patterns can and should be distinguished?

[2020-04-23 08:47] jespercockx commented on #4619
A possible solution to consider is to desugar `let p = v; rest` to `case v of \ { p -> rest }` in case `p` is a non-trivial pattern (i.e. not a variable). However, this requires `case_of_` to be in scope (just like currently you already need to have `_>>=_` and `_>>_` in scope). I don't see a fundamental problem with this and it would be a backwards-compatible change, but some people might get a b

[2020-04-23 08:50] jespercockx commented on #4619
An alternative solution would be to extend Agda with a dedicated pattern-matching let (e.g. `let-match`) and use that as the target for desugaring. I think I've seen this proposal before, does anyone remember where?

[2020-04-23 08:51] ajrouvoet commented on #4619
What is the benefit of a dedicated pattern-let? Do you want the user to be aware of the fact that this comes with some overhead? Or is it simply impossible to distinguish between non-pattern and pattern lets automagically?

[2020-04-23 09:31] chirsz-ever commented on #4521
`cabal install Agda` ran out of my memory. The installation happend on a 64bit PC with Linux Mint 19.2 and 4GiB memory. The last log:
![图片](https://user-images.githubusercontent.com/31474766/80083095-cdea8780-8587-11ea-8789-7bbcbd0e9577.png)
This error did not stop the compliation but kept on expanding memory, if I don't kill the ghc process.

---
update: build successfully with `cabal install Agd

[2020-04-23 09:45] andreasabel commented on #4619
I think `case <expr> of <branches>` should be proper Agda syntax.  Every time I fall into the trap of writing
[code]
and then have to go back and change this to
[code]
It is quite awkward not to have a proper case construct.

Of course, adding `case` would break virtually all Agda code out there.  (Trivially fixable, though.)  Maybe the lesser evil is to use the Caml concrete syntax `match e with

[2020-04-23 09:50] gallais commented on #4619
Could be #2298

[2020-04-23 09:51] ajrouvoet commented on #4619
Although I agree (especially because I'm always struggling to get the indenting right on `\ where`), this does not address this particular issue. Because that would still only give you dep. pattern matching for non-effectful values at the cost of adding another indented do block. Whenever there is only a single branch that cost is a (too) high, because for effectful values I get matching for free!

[2020-04-23 10:40] guilhermehas commented on #4613
Nixos too.

[2020-04-23 10:41] alexarice commented on #4613
The problem only occurs if you end up with an .agda-lib file in your nix store. This only happened to us when we tried to make some nixos tests

[2020-04-23 10:43] gallais commented on #4613
@guilhermehas is probably suffering from #4526

[2020-04-23 13:04] jespercockx commented on #4615
I tried enabling it by default but while the standard library passes, the test suite still gives me trouble. Specifically:

- `test/Succeed/Issue2650` gives an unsolved constraint (something to do with cubical that I don't understand)
- `test/Succeed/Issue3695` variable generalization fails
- `test/Fail/Issue1428` succeeds unexpectedly, but since that issue is actually still open I think it is mos

[2020-04-23 15:31] nad commented on #4521
The build often runs out of memory on my system. However, `-M2G` seems to work fine.

This command returns `32` on my system. Can someone with a 64-bit system test this?

[2020-04-23 16:06] nad commented on #4521
I found a better method (if we assume that the target word size matches the word size used by GHC):
[code]

[2020-04-23 21:58] WorldSEnder commented on #4573
In my file, when I make [this definition](https://gist.github.com/WorldSEnder/4dc7dd1904db074dbf12be5ad1c30802#file-sets-agda-L297-L298) abstract, everything type checks "instantly". I believe this is connected to [`rigidVarsNotContainedIn`](https://github.com/agda/agda/blob/b1ecc72a0718de1173cd8b888b332ad94cef74fe/src/full/Agda/TypeChecking/MetaVars/Occurs.hs#L718) fully reducing a complicated te

[2020-04-23 22:12] ayberkt commented on #4573
@WorldSEnder that sounds really similar to the problem I had.

[2020-04-23 22:48] WorldSEnder commented on #4573
I found an alternative for my file, using no abstracts:

On line [290](https://gist.github.com/WorldSEnder/4dc7dd1904db074dbf12be5ad1c30802#file-sets-agda-L290) giving an explicit argument to `Σ≡` also solves the problem:

        propFibers y (p₁ , m) (p₂ , n) = Σ≡ {B = λ p → ixRep p ≡ y} .fst (base , isProp→PathP (λ _ → setIsSet _ _) _ _) where

[2020-04-23 23:00] WorldSEnder commented on #4573
I came up with a smaller test file. It's not exhibiting the problem since I couldn't come up with a complicated enough term, but with `-v tc.meta.kill:10` the difference in generated metas (specifically one close to those not getting solved in the above files) can be observed.

Toggle between the two definitions of `slow`.

[code]

Without giving an explicit `B`, agda will try to solve this and wh

[2020-04-24 07:31] jespercockx commented on #4619
Implementation-wise, there is a phase mismatch that makes this issue (pattern-matching let in do-blocks) annoying to implement. The problem is that `do`-blocks are desugared to `_>>=_` and pattern lambdas very early in the pipeline (in the translation from concrete to abstract syntax), but `let`-statements are at this stage still a block of *arbitrary* declarations which are only given more struct

[2020-04-24 08:31] Saizan commented on #4573
It's quite possible that agda is working on unifying the type of the second element of the pair with the type `PathP (λ i → B (p i)) (snd x) (snd y)` from the type of `Σ≡`. And of course `p≡q` shows up in that unification problem.

And indeed both `hasBadRigid` and `rigidVarsNotContainedIn` are fairly eager to reduce stuff, that's very good to spot!

Are there implicits we could give in @ayberkt e

[2020-04-24 08:33] nad commented on #4573
Apparently the problem causing #1386 was that Agda treated things as rigid even if they were not, and this was fixed by making the analysis more precise. An alternative might be to have a less costly analysis that answers "don't know" more often (rather than incorrectly answering "yes"). However, it seems to me as if such a change would lead to (more) situations in which the code breaks when one r

[2020-04-24 08:35] gallais commented on #2298
We could generalise this proposal to pattern-matching on arbitrary data.
Note that in Idris you can write:

[code]

The `| p => e` branches are for the unhappy paths. They are equivalent to
the `where` ones we adopted in pattern-matching bind.

[2020-04-24 08:35] chirsz-ever opened #4620 "Termination checking failed after updating Agda version"
The code caused problem is(need the standard library):
[code]
The code was no problem with Agda 2.6.0.1, but rejected by Agda 2.6.1.

[2020-04-24 08:46] nad commented on #4620
I think this is related to the fix of #3604.

[2020-04-24 08:47] gallais commented on #4620
Note that `{-# OPTIONS --termination-depth=2 #-}` (it tells Agda to work a bit
harder at tracking how smaller things get) makes the error go away.

[2020-04-24 09:21] chirsz-ever commented on #4620
Thanks, it works.

[2020-04-24 09:29] nad opened #4621 "Make --rewriting infective"
Apparently `--rewriting` is not infective. Should it be?

[2020-04-24 09:41] jespercockx commented on #4621
What I meant with "more problematic" is that it is possible to have expressions that are well-typed with --rewriting but ill-typed without, so if you import such a term from a file that uses --rewriting then you end up with an ill-typed term. So making --rewriting infective would probably be a good idea.

[2020-04-24 12:22] Saizan commented on #4573
A possible optimization is to check whether any "bad" variables are present without reduction, and only reduce if we have to make sure "bad" variable occurrences are actually rigid.

This wouldn't lose any precision, the only downside is the extra free variable analysis in case we actually find bad rigids.

[2020-04-24 12:46] #4620 closed, assigned to nobody

[2020-04-24 12:48] andreasabel commented on #4619
Couldn't this case construct then be used in the desugaring?  (See Jesper's comment: https://github.com/agda/agda/issues/4619#issuecomment-618269160 )

[2020-04-24 12:50] ajrouvoet commented on #4619
Ah yes, it wasn't clear to me that that is what you were getting at. :+1:

[2020-04-24 16:05] andreasabel commented on #3246
As far as I remember, I did not change anything, and modules are still not allowed in `mutual` blocks.  Less declaration types are now rejected in mutual blocks, but these were rejected before without good reason.  Thus, one can see the work done so far as a bug fix.  #4618 was as false alarm, if I see it correctly.

[2020-04-24 16:06] andreasabel commented on #4618
Disclaimer:  The fake `Mutual = End` might not end the mutual block if there are pending unsatisfied type signatures...

[2020-04-24 16:10] andreasabel commented on #4618
Maybe we have now the tools to address #1113 using the `NotBlocked MissingClauses` interpretation for type signatures like `l0` whose definition we have not seen yet, or add a new `NotBlocked` alternative, @jespercockx ?

[2020-04-24 16:21] nad commented on #4157
I stumbled over this problem again. Here is another test case:
[code]

[2020-04-24 16:39] jespercockx commented on #4618
The issue in #1113 is not that it is impossible or even hard to fix, it is that relying on later clauses leads to "insanely dependent" types, and we do not have a good way to rule those out as far as I know.

[2020-04-24 16:54] #4608 closed, assigned to andreasabel

[2020-04-24 17:13] JoeyEremondi commented on #2820
Just to make sure I'm understanding what's going on here, does this mean that `--sized` makes Agda inconsistent even with `--safe` enabled? I knew that it was incompatible with guardedness but this is new to me.

[2020-04-24 20:55] martinescardo commented on #3099
I've just learned of this option and tested it with my TypeTopology development. I get an error in a file (UF-Equiv.lagda). Should I worry? It is not clear what this option is really doing. Thanks.

[2020-04-24 21:26] #4604 closed, assigned to andreasabel

[2020-04-24 21:27] andreasabel commented on #4604
@nad, please check if highlighting is ok again.

[2020-04-24 21:41] andreasabel commented on #4470
@nad, you could have thought about it 11 years ago: c92b79969253b3a97391ba28b850c934ea79c298

[2020-04-25 08:34] jespercockx commented on #3099
No, there's no real need to worry yet. The `--double-check` flag enables Agda's `checkInternal` typechecker, which typechecks again all the results of the main typechecker. In theory, it serves a similar role to `Qed` in Coq, making sure that the result of elaborating the source code to the core type theory is indeed correct. In practice, there are still a bunch of test cases in the test suite tha

[2020-04-25 09:46] andreasabel opened #4622 "Github actions not triggered when only Setup.hs changes"
I submitted a patch that changes `/Setup.hs`, but the only action on github that is run is the check for correct whitespace:
https://github.com/agda/agda/actions/runs/87479564

I'd expect that the cabal / stack builds are also triggered.

[2020-04-25 10:11] andreasabel commented on #4569
@mouse07410 @nad : I pushed a fix to master, please test.

[2020-04-25 11:32] andreasabel commented on #2038
I found that this works without further changes.  Horray!

AD: Soon coming to the computer in your office:
[code]
Type-check the Agda source in a few seconds!

[2020-04-25 11:35] andreasabel commented on #3939
AD: Soon coming to the computer in your office:
[code]
Type-check the Agda source in a few seconds!

[2020-04-25 11:42] #2038 closed, assigned to andreasabel

[2020-04-25 11:47] andreasabel commented on #4588
Seems not to be a problem, and so far there is no specification what BUILTIN SIGMA is supposed to do.  (There are positive examples but no negative examples.)

[2020-04-25 11:47] #4588 closed, assigned to nobody

[2020-04-25 11:48] gallais commented on #3939
Beautiful!

[2020-04-25 12:10] andreasabel commented on #4467
@UlfNorell, this used to be `Map a a` but in aa966fc3653d8bbba4beb4a2950bc18e5ed069ea you changed this to `[(a, a)]`.  Why?

[2020-04-25 12:17] #4458 closed, assigned to UlfNorell

[2020-04-25 12:19] #4419 closed, assigned to nobody

[2020-04-25 12:30] jespercockx commented on #4467
I'm not Ulf, but the commit message says "Fixed by making renamings admit duplicate old names.", so I assume it was because `Map` does not allow duplicate keys, but `[(a, a)]` does. Of course, a more efficient implementation like `Map a (NonEmpty a)` might be more desirable.

[2020-04-25 14:08] andreasabel opened #4623 "Empty where blocks should get dead code warnings"
[code]
Empty where blocks are ignored, even if named.  There should be a warning and deadcode highlighting.  Otherwise, it is surprising that the module name is undefined.

[2020-04-25 14:23] andreasabel commented on #4400
See further #1137.

[2020-04-25 14:51] guillaumebrunerie commented on #4623
Or an empty module should be in scope?

[2020-04-25 15:33] #4622 closed, assigned to nobody

[2020-04-25 15:44] asr commented on #3939
I'm getting an error on GHC 8.10.1. Before reporting the error I went to Travis to see the behaviour of `make type-check` on 8.10.1, but I couldn't find it. Please added `make type-check` to Travis.

[2020-04-25 16:10] andreasabel commented on #4623
I have opted for the conservative path, warnings for empty `where` blocks.  I think in release code, you would not want empty `where` blocks, and during working on a file, one can ignore the warnings.

This is a continuation of theme #947.

[2020-04-25 17:18] JLimperg commented on #2820
As of 2.6.1, the proof of False given [above](https://github.com/agda/agda/issues/2820#issuecomment-503639453) compiles with `{-# OPTIONS --safe --sized #-}`. This looks like a `--safe` bug to me.

[2020-04-25 17:55] gallais commented on #4623
You should get a warning for the empty `where` but perhaps the module should
be in scope too? It was after all explicitly named and an out of scope error
is a fatal error so if you start from a valid program

[code]

and move the definition of `g` to the toplevel during a refactoring, suddenly
you end up with a fatal error!

[2020-04-25 18:00] gallais commented on #4400
We need a fuzzer inserting pragmas in random places & trying to break things. :joy:

[2020-04-25 18:01] guillaumebrunerie commented on #4623
Or maybe out of scope errors should just be warnings? That’s how it works in many programming languages :D (just kidding of course)

[2020-04-25 18:08] gallais commented on #4623
There is something to be said for that. We could decide to replace the offending
name with a hole (containing the out of scope one) and see whether we can keep
processing the file in a sensible manner.

Similarly we could have a block-aware parser and happily process the parts of
the file that do parse (if you have a parse error in a RHS, it's perfectly
sensible to postulate the function that was

[2020-04-25 18:14] andreasabel commented on #4623
@gallais, while you are right, there has been a conspicuous absence of complaints about this situation, which has been around since the fix of #947.
I conclude that the pattern in the OP and your comment does not exist "in the wild" (only in-vitro).
Thus, it is likely irrelevant whether the `M` is in scope or not.

My patch does not change the logic that already existed in Agda, only adds the warn

[2020-04-25 18:17] andreasabel commented on #4623
I think this would be the way forward and very much in the spirit of interactive program construction.

[2020-04-25 18:20] andreasabel commented on #4623
Btw, I fixed this issue to celebrate #3939!
Working on concrete syntax was such a nuisance before, now there is big penalty any more to modify the modules early in compilation.

[2020-04-25 18:23] guillaumebrunerie commented on #4623
Just to clarify, I personally don’t really care either way :)

[2020-04-25 19:01] #4623 closed, assigned to andreasabel

[2020-04-26 15:00] mouse07410 commented on #4569
[code]

[2020-04-26 16:07] nad commented on #4470
Don't you mean 00a9116a9a455554ebb466ca1262e24ff12d3487?

I know that I defined `TopLevelModuleName`, and I know that I chose a representation that was easy to work with rather than one that was efficient. However, I don't plan to work on this right now.

[2020-04-26 16:19] nad commented on #2820
Yes, one could argue that `--safe` is broken due to this problem. We could fix it by not allowing `--sized-types` when `--safe` is active, but this would break quite a bit of code. It might be better to fix this issue (even if the fix also breaks code).

Contributions are welcome!

[2020-04-26 17:18] andreasabel commented on #4569
@mouse07410 Are you sure you are not having other issues?
* Path
[code]
* Why `Agd` and not `Agda` in your case?
* What is that weird path `/Users/ur20980/.cabal/store/ghc-8.8.3/incoming/new-59693/Users/ur20980/.cabal/store/ghc-8.8.3/`??

Are you using `stack`?  I only tested `cabal install`.

I am getting:
[code]

[2020-04-26 17:28] andreasabel commented on #4275
The `record where` form seems a sensible language extensions. PRs welcome!

[2020-04-26 17:49] mouse07410 commented on #4569
Yes I am. At least in this case.

No, I'm testing only with Cabal (though my machine does have `stack` installed).

1. Because Cabal shortens the original names, at least on Mac. In the example below, it shortened "haskell" to "hskll". I've no explanation for that behavior, except that for everything else it doesn't interfere, aka works.
2. Because the build was not completed successfully? Or mayb

[2020-04-26 20:20] jespercockx commented on #4093
I've spent the weekend working on fixing this issue. It's not quite ready yet, but here's a screenshot of something that's working already to illustrate the design:

![million_dollar_mistake](https://user-images.githubusercontent.com/2910371/80318660-e8349780-880b-11ea-87d3-b92f67087f71.png)

[2020-04-27 02:16] asr commented on #4569
[code]

Somehow you are mixing the `cabal-install` and the  `stack` installations (the error is about a version of `Alex` installed with `stack`).

[2020-04-27 02:20] mouse07410 commented on #4569
If you're suggesting that I should install Alex via Cabal and try again - I'm willing to do so. Though I don't quite understand why it could matter what toolchain generated the Alex binary.

[2020-04-27 04:34] asr commented on #4569
Since Agda's`Makefile` uses `cabal-install` v1-commands I suggest use them for installing Alex.

Neither do I. I'm not familiar with `stack`. I don't know if using GHC 8.8.3 and Alex installed via `stack` on GHC 8.6.4 should work.

[2020-04-27 09:33] #4467 closed, assigned to UlfNorell

[2020-04-27 09:41] andreasabel commented on #4437
Since 2.6.1 is out, we can restart the discussion on this issue @UlfNorell @Saizan @nad.  I'd say given the arguments so far, it would be worth trying to switch the default from injective to projection-like, i.e., we give projection-likeness priority over injectivity.
If this does not break much, we could go with it, otherwise add a flag and pragma to insist on invertibility.

[2020-04-27 10:10] mouse07410 commented on #4569
It's another Haskell build and package management system. Somewhat like `make`, `cmake`, `autotools` in the C world - all use different ways to configure, etc., but once the binary is produced - you can't even tell which of those did it.

An executable is an executable - why would it matter what toolchain produced it, or even what programming language it's source was written in?

[2020-04-27 10:50] nad commented on #4569
[code]

Or did you want me to test a full build?

[2020-04-27 11:01] nad commented on #4437
The discussion above led me to believe that this was already the default in most cases. What, exactly, do you propose that we should change?

[2020-04-27 11:08] nad commented on #4604
A quick check suggests that the regression may have been fixed.

[2020-04-27 11:14] nad commented on #4093
Good work. However, I don't want to write `--no-auto-import-primitive` in every file. This could be avoided if we fix #3118.

By the way, there is a Haskell language extension called `NoImplicitPrelude`. Perhaps we could use a similar name.

[2020-04-27 11:19] jespercockx commented on #4093
Yes, this was designed with #3118 being fixed in mind. The alternative is to try to detect if the module imports `Agda.Primitive` and disable the automatic import in that case, but (1) this would be brittle and (2) this would not work when a file imports `Agda.Primitive` *indirectly*, so it would not be very useful.

Ah yes, perhaps we can name it `--no-implicit-primitive`? Although I think the me

[2020-04-27 11:20] nad commented on #3118
I think that the flags should only apply to the modules in the given library, not to the dependencies. See also #4029 and #2770, and perhaps #4272.

[2020-04-27 12:38] nad commented on #4594
@vlopezj, did you see the question above?

[2020-04-27 13:12] mouse07410 commented on #4569
Current master:
[code]

If you can test it on your side, it would be nice - but not critical. I'm happy to run the builds here.

### Update
Actually, the current master seems worse than the one of yesterday: then the build succeeded after I re-installed `Alex` and `happy` with Cabal (they were previously installed via `stack` and were one year old). Today, as you can see above, the master fails to

[2020-04-27 13:24] nad commented on #4569
When I get errors like that I remove `dist-2.6.2` and restart the build.

[2020-04-27 13:57] nad commented on #4593
Debug printing suggests that the `Nothing` branch is not taken.

[2020-04-27 14:48] vlopezj commented on #4594
@nad: Thanks for the heads up.
@jespercockx: I missed your question… It seems that GitHub does not send an e-mail notification for edits, regardless of their extent :/
Yes, it should be possible to use the same machinery as it is parameterize on the term type and the constraint type. However, the Haskell type of unblockers and the code that checks whether they unblock *does* depend on the Haskell

[2020-04-27 14:55] mouse07410 commented on #4569
Success, I think:
[code]

Comments?

And a couple of questions:
1. How to get `agda-mode` do what it's supposed to?
2. Are there other IDE (ideally - a plugin for Visual Studio Code or JetBrains IDEA or such) to support Agda? I'm not that crazy about Emacs...

[2020-04-27 16:00] nad commented on #4569
I'm guessing that Emacs is not on your `PATH`.

[2020-04-27 18:21] mouse07410 commented on #4569
Thank you (since it's MacOS, Emacs is started as an app `/Applications/Emacs.app`)! Indeed, getting `Emacs` executable on the `PATH` helped.

Now - is Emacs the only editor/IDE that can work with Agda? *Anything* for VSCode?

[2020-04-27 18:21] #4569 closed, assigned to andreasabel

[2020-04-27 18:38] nad commented on #4569
I think some people are using Atom, which has [support](https://atom.io/packages/agda-mode) for Agda.

[2020-04-27 19:55] vincent-prz opened #4625 "Installation failure, hGetContents: invalid argument"
Trying to install agda via
[code]

But the `cabal install Agda` command fails with this error:

[code]

Does someone have a fix for this? Thanks.
OS: Arch linux
cabal version: 3.0.0.0

[2020-04-27 20:38] gallais commented on #4625
What's in the `.log` file?

[2020-04-27 20:52] vincent-prz commented on #4625
[code]

Not sure yet what to make of this, the `split` package seems installed, but there seem to be some missing files.

[2020-04-27 21:00] gallais commented on #4625
I have seen similar issues on github actions for other haskell projects.
I don't know why and how packages end up broken like this. :/

If I were you I would run `ghc-pkg check` as suggested and see whether it
suggests a way to fix the issue. If not you could always try to reinstall
`split` by using something like `cabal install --reinstall split-0.2.3.4`
(you may even need to pass `--force-reinst

[2020-04-28 20:03] vincent-prz commented on #4625
Thanks for your help. I've tried the above, with no luck. Then I tried to install agda via `stack`, and it seemed to work. But then when trying to compile a file,I got this error:
[code]

[2020-04-28 20:22] nad commented on #4625
See #3619.

[2020-04-28 20:33] vincent-prz commented on #4625
Thanks. Running `cabal install ieee754` or `stack install ieee754` doesn't solve the problem. Running `cabal v2-install --lib Agda ieee754` brings me back to the initial problem. I suspect my cabal setup is broken somehow ...

[2020-04-28 21:37] asr commented on #4625
Why is the output of `cabal install split-0.2.3.4`?

[2020-04-28 22:54] gallais commented on #4625
May be of interest to you @vincent-prz: https://github.com/haskell/cabal/issues/5913#issuecomment-468990043

[2020-04-29 09:26] nad commented on #4625
Perhaps you could delete everything and start from scratch.

[2020-04-29 09:36] nad opened #4627 "Should the GHC backend support Cabal and/or Stack?"
The GHC backend calls GHC directly. However, this might not work very well if the code relies on some Haskell package (like `ieee754`). It might make sense to provide some kind of support for Cabal and/or Stack, if we can do this in a lightweight way. An alternative might be to only compile to Haskell, and let users decide what to do with the Haskell code, but I don't want to force novice users of

[2020-04-29 09:36] nad commented on #4625
Related: #4627.

[2020-04-29 10:37] zraffer commented on #4595
It's greate. Very greate. It's even working! Now we can compile all old `omega-in-omega` proofs in safe (?) mode. Thank you. `ε0` (if were implemented) would allow smooth and consistent level polymorphism for levels behind `ω`. By the costs of solver sofistications.

[2020-04-29 10:44] zraffer commented on #4275
we already can use `λ where` for the same needs (but slightly different syntax)

[2020-04-29 12:48] andreasabel commented on #3939
`make type-check` is likely to _not_ work in a virginal clone of the repo.  I have also seen errors, but they went away after a `cabal configure` or `make quicker-install-bin` (I did not properly investigate this).

It would of course be nice if `make type-check` would work reliably _and_ not be slower.  If there is another 5 sec on some `cabal configure` each time I would be negative.

[2020-04-29 12:56] andreasabel commented on #4437
The current order is (excluding projections and data projections):
1. Check for injectivity.
2. Check for projection likeness.  Injectivity prevents projection-likeness.

The proposal would be to switch the order, and then projection-like things would not qualify for injectivity.

The current problem is that if we fix the injectivity checker (see https://github.com/agda/agda/issues/4437#issuecomme

[2020-04-29 13:03] andreasabel commented on #4093
My knee jerk reaction was also to imitate Haskell here, but thinking about it, `NoImplicitPrelude` was not the greatest choice of name.

Shorter alternatives for the flag name:
* `--no-primitives`
* `--bare`

`--bare` for the bare construct of the Agda matrix, without any preloaded program: https://www.youtube.com/watch?v=AGZiLMGdCE0

[2020-04-29 13:13] andreasabel commented on #3619
Since everyone is stumbling over this problem, we should try and solve it.
* `ieee754` is already in the dependencies of the Agda library, why do we still get these glitches?
* Would it help to add it to the dependencies of the Agda executable?

We could fix the GHC backend to not require `Numeric.IEEE` unless the compiled Agda program uses floats.

[2020-04-29 13:14] UlfNorell commented on #3939
The Travis job could do the proper setup before calling `make type-check`.

[2020-04-29 13:49] UlfNorell commented on #3619
I believe the new-fangled package managers (stack and cabal-v2) are to blame for this problem. With old-style cabal v1-install, installing Agda would drop ieee in your global package database, but these days this is no longer the case. Don't know enough about stack/cabal-v2 to know if there's anything we can do.

If we break out the float parts from `MAlonzo.RTE` into `MAlonzo.RTE.Float` or somesu

[2020-04-29 14:23] Blaisorblade commented on #3619
👍 on on splitting out `MAlonzo.RTE.Float` as a workaround. And FWIW from my experience on #agda, most people running into this issue want to install Agda and try it out, not necessarily run programs. Most of the time, the solution is to ignore the Hello World section.

==
On the technical problem for people using floats, @UlfNorell is correct: you're not supposed to use the global package database

[2020-04-29 19:20] laMudri opened #4628 "Comparing Glue applications is surprisingly(?) slow."
Agda 2.6.1. GHC 8.8.3. Using `--cubical`, but I don't know whether this is relevant.

This feels like a problem I've come across before on large projects, but now I've managed to find it in a small project. I've condensed the code into 159 lines plus some library imports (stdlib and cubical), though there's more minimisation to be done.

The issue is this: commenting out the last two definitions (

[2020-04-29 20:31] vincent-prz commented on #4625
No particular output.

Indeed @gallais ! So the problem is that I seem to only have a dynamic build of the `ieee754` library (This seems to be Arch specific). Hence I am able to compile by providing the flag `--ghc-flag=-dynamic` to Agda:
[code]

Do you think it might make sense to add this in the documentation for Arch users ?

Thanks for the help folks.

[2020-04-29 20:42] vincent-prz commented on #4627
I am not sure to understand the motivation for this feature. Would there be a way to install the Haskell dependencies when installing Agda ?

I agree that bringing up the Haskell toolchain when onboarding novice users is probably not the best thing to do.

[2020-04-29 20:57] nad commented on #3939
I don't really see the point of having CI for `make type-check`.

I [fixed](https://github.com/agda/agda/commit/02cb18a317fe4ec94d2707b74676ad8bf6f4d3b9) one problem with `make type-check`: it used `cabal build` rather than `cabal v1-build`.

[2020-04-29 21:00] nad commented on #3619
See #4627.

[2020-04-29 21:12] asr commented on #3939
@nad, please change `v1-build` by `$(CABAL_BUILD_CMD)`.

[2020-04-29 22:50] berndlosert commented on #2298
I ran into the following problem today, which I think is related:

[code]

The error I get is:

[code]

[2020-04-29 23:18] gallais commented on #2298
You are getting unsolved metas because Agda does not know what
the type of the *dependent* pair `(1 , 2)` should be. The first
component is of type `Nat` but the second could belong to any
family `B : Nat -> Set` that happens to evaluate to `Nat` in `B 1`.

[2020-04-30 00:18] JLimperg commented on #2820
It would certainly be nice if this issue could be fixed, but I don't see that happening quickly. It's a problem with the axioms (i.e. not just a technicality), has been known for years, and despite some efforts from various people, there's no clear plan for fixing it. (If I had an idea, I'd gladly implement it.)

In the meantime, I would advocate for updating `--safe` and especially the docs (whic

[2020-04-30 08:07] zraffer commented on #4093
Do you really need `Typen/Typeₙ` constants? It seems backward compatibility issue only for old code with `Setn/Setₙ`.
`Set 1`... with natural literals seems as good as `Setₙ`. People prefering renaming `Set` to `Type` doubtfully would use `Typeₙ`. Rather `Type 1`...

[2020-04-30 08:47] berndlosert commented on #2298
Got it. Thanks.

[2020-04-30 09:56] ice1000 commented on #4093
Natural literal is related to the BUILTIN fromNat definition, and it's gonna be confusing to me if we use the same syntax for the `Level` type, which is unrelated to the BUILTIN.

[2020-04-30 10:21] nad commented on #3939
OK.

[2020-04-30 10:30] nad commented on #2820
I don't think we should disable `--sized-types` in safe mode until #3118 has been fixed.

[2020-04-30 11:01] Saizan commented on #2820
@JLimperg what do you think of the design I sketched above, based on the ICFP13 paper? i.e. getting rid of `oo < oo` and `oo + 1 = oo` and instead rely on the typing with `bnm(_)` for constructors.

[2020-04-30 17:18] nad commented on #4319
Arend has support for [defining data types by pattern matching](https://arend-lang.github.io/documentation/language-reference/definitions/data#varying-number-of-constructors). Perhaps we could borrow some ideas.

[2020-04-30 18:02] laMudri commented on #4628
Turning `Equivalently-≡l` into a postulate seems to alleviate the issue. This makes me think that it is about `--cubical`.

[2020-04-30 18:18] zraffer commented on #4093
@ice1000 now me is happy with the current Agda version and the obvious instance of `Number Level`. But it was a surprise to found the absence of such instance in `Agda.Builtin` library.

[2020-04-30 18:19] laMudri commented on #4628
I also tried replacing `Equivalently-≡l` at its call site with `?`, giving this code:

[code]

Then, checking the `refl-≡Prop` uses below causes equations to be unsolved. Furthermore, I tried replacing the `?` by a local postulate.

[code]

This causes the equations to actually fail, with the odd error message:

[code]

[2020-04-30 22:44] alexarice commented on #4613
@gallais I believe you have fixed this issue now so this can probably be closed?

[2020-04-30 23:07] gallais commented on #4613
The fix (#4616) is not ready yet: `Setup.hs` is not properly installing the
new `.agdai` files.

[2020-04-30 23:08] alexarice commented on #4613
ah my bad, I just saw the commit and assumed it was merged

[2020-05-01 10:21] vincent-prz commented on #3235
I am trying to pass a `--ghc-flag=-dynamic` argument, but getting `Unrecognized option: --ghc-flag=-dynamic` when compiling in Emacs (while in works on the CLI).

Here is my emacs conf (I'm using Spacemacs):
[code]

Agda version: 2.5.4.2

[2020-05-01 10:27] vincent-prz opened #4630 "Cannot pass ghc flags via emacs variable `agda2-program-args`"
I am getting a similar issue as https://github.com/agda/agda/issues/3235, but creating a new one since it was closed.

I am trying to pass a `--ghc-flag=-dynamic` argument, but getting `Unrecognized option: --ghc-flag=-dynamic` when compiling in Emacs (while in works on the CLI).

Here is my emacs conf (I'm using Spacemacs):
[code]
Agda version: 2.5.4.2

[2020-05-01 14:09] EdNutting opened #4631 "Non-linear patterns handled in a buggy way"
Hi,

I get an internal error from this line.

https://github.com/agda/agda/blob/077b5ef1bac2e14b4b5657ef9632db29597c11d6/src/full/Agda/TypeChecking/Records.hs#L611

when code of the following form is used:

[code]

This should result in a simple naming error, not an internal error.

In the following simpler case, the name error is correctly produced:

[code]

[2020-05-01 14:11] andreasabel commented on #3235
@vincent-prz : Well the problem was fixed in 2.6.0 (see milestone).  Thus, you will need to upgrade or use a workaround.

[2020-05-01 14:12] andreasabel commented on #4630
See my reply in #3235, this issue was fixed in Agda 2.6.0.

[2020-05-01 14:12] #4630 closed, assigned to nobody

[2020-05-01 14:50] andreasabel commented on #4631
This seems to be a twofold regression.
`@`-patterns are first supported in 2.5.2 which (as 2.5.3) complains about
[code]
This seems the right behavior.

In 2.5.4, the definition is accepted without complained (regression I).

From 2.6.0, we get the internal error (regression II).

[2020-05-01 15:00] andreasabel commented on #4631
The scope checker for as-pattern seems broken.  It does not resolve the as-name, but takes the user at face-value that it is a fresh bound variable.  For instance, the following is accepted:
[code]
Seems like the fix of #3147 did not go far enough.

[2020-05-01 16:02] andreasabel commented on #4631
The OP can be simplified to this:
[code]
The field names are irrelevant, the problem is the duplicate use of pattern variable `x`.

Actually, pattern linearity is no longer established in the scope checker since @jespercockx 's restructuring of the LHS checker.  It think what Agda is instead trying to do is to check whether the equality `x = c1 x` holds, but then it chokes because `x` has both typ

[2020-05-01 16:10] andreasabel commented on #4631
@jespercockx What is done to prevent ambiguous typing from non-linearity in the LHS checker?
(over to you)

[2020-05-01 16:40] andreasabel commented on #4631
Interesting is also that Agda swallows the following without complaint:
[code]
It seems to check that the two de Bruijn indices are equal at type `⊤`, which succeeds.

[2020-05-01 18:04] martinescardo opened #4632 "Pattern inconsistency?"
I am not sure whether this is an issue or my misunderstanding.

Consider the following, which works:

[code]

The idea is to make the argument of refl explicit if we wish, via the pattern definition.

However, the definitions behave differently "as patterns" and "as values". For instance, the following doesn't work:

[code]

This doesn't work either:

[code]

It would be desirable to have a defini

[2020-05-01 18:31] gallais commented on #4632
Note that you can use a named implicit and it will work in both situations:

[code]

I suspect it's a problem between parameters vs. indices. You can see the
same thing with lists: patterns on the left cannot bind the `A` parameter.

[code]

[2020-05-01 18:44] martinescardo commented on #4632
Excellent idea. I will try this!

[2020-05-01 19:15] martinescardo commented on #4632
Fantastic. It works exactly as I wanted. 40k + 8k lines of code now live harmoniously. Thanks!

[2020-05-02 08:58] #4632 closed, assigned to nobody

[2020-05-02 09:57] jespercockx commented on #4631
I can fix the issue by adding an extra check that the types of the two occurrences of a variable are equal. However, the error message you get from this is perhaps not the best:
[code]
I'm starting to think that perhaps this feature of allowing non-linear variables when all but one can be dot patterns was not the greatest of my ideas. It does help to avoid having to write a dot in some cases, but

[2020-05-02 10:12] gallais commented on #4631
You could check single patterns for linearity in `x` when we have `x@p`.
Are there any cases where we can write `x@p` and have `x` show up in `p`
without a term being infinite (except for `p = x`)?

Edit: oh, hadn't seen Andreas' example that does not involve `@`.

[2020-05-02 11:42] andreasabel commented on #4631
It could be improved by a new `Call` form that will print as
[code]

Not me, but we should get a feel for the breakage of user code if we row back here.  (People might have removed dots in the belief of progress and may be frustrated to have to undo this.)

+ The advantage of the feature is that the user does not have to make the decision where to place the dot.
- The disadvantage is that linearit

[2020-05-02 16:06] JacquesCarette commented on #4331
After doing a lot more work trying to speed things up in agda-categories (successfully for the most part), I'm coming back to this as a really big issue.  The idiom of using modules for its short name proxies is extremely useful, so used **a lot**, but it's expensive.  To take an extreme case, here is `BicartesianClosed`:

[code]
The resulting `.agdai` file is 864K
[code]
while if I remove those l

[2020-05-02 16:11] WorldSEnder commented on #4628
Connected to unification. For example, in the clause

    ⊗-distrib-⊕⇒ {A = A} {B = B} {C = C} .pairing {pa , inj₁ rb} {f , g} = refl-≡Prop

agda has to unify the following:

    (A ⊸ B ^⊥) .Pairing f (pa , rb)    -- should be equal to
    (A ⊸ (B ^⊥ & C ^⊥) ^⊥ ^⊥) .Pairing &< f , g > (pa , inj₁ rb)

both are structures of type `HProp` as defined earlier in the file. This triggers eta expansion. T

[2020-05-02 16:42] JacquesCarette commented on #4628
Any general advice on how to debug this, i.e. how did you arrive that it was the 2nd field that was hard to unify?  I am encountering a variety of slowness issues, and these are (for me, right now) the toughest to identify.  I'd like to be able to at least know the difference between "oh, I asked a really hard problem, but I really did mean to, so it's ok it is slow" and "oh, I asked a hard proble

[2020-05-02 17:18] WorldSEnder commented on #4628
I used a really ad-hoc method that just luckily worked out in this case, so your mileage may vary. I started replacing definitions by holes until the problem went away. In this case, we have holes such as:

    ⊗-distrib-⊕⇒ .pairing {pa , inj₁ rb} {f , g} = {! refl-≡Prop !}

Since OP already found what definitions are the slow ones, that was relatively quick and easy to do. Then I let agda infer t

[2020-05-02 23:24] syntoscat commented on #3619
<details>
<summary>Click here for sad cat picture</summary>

![sadcat](https://user-images.githubusercontent.com/46231518/80894394-46e09200-8ca0-11ea-812d-e82caa240e1d.jpg)

</details>
Help me!!!!! I am not able to compile a thing. Version 2.6.1 Numeric.IEEE  I am a novice.

[2020-05-03 00:18] Blaisorblade commented on #4628
The Agda heap could still be full and forbidden from expanding further: by default Agda uses at most 3.5G of RAM.
That comes from [Agda.cabal](https://github.com/agda/agda/blob/master/Agda.cabal#L713-L714), and I confirmed it with `agda +RTS --info -RTS` (which reports `-M3.5G`), and `agda +RTS -?` explains:
[code]

So, to know if the problem is memory or not, try running agda with more or less me

[2020-05-03 00:20] Blaisorblade commented on #3619
@cohradoesr I recommend asking https://gitter.im/agda/agda, but you will need to provide more details about your actual problem. I took the liberty of hiding the cat picture, as it provides no content. (People can still see it if they want).

[2020-05-03 01:18] mouse07410 commented on #4569
I found a VSCode module for Agda. Search for `language-agda` in the VSCode extensions. `language-agda` points at https://github.com/mokus0/Agda.tmbundle

[2020-05-03 11:56] nad commented on #4631
Is the idea to allow shadowing in patterns, or to turn this into some kind of error?

[2020-05-03 12:05] nad commented on #3619
This seems to impact quite a few users now, so I changed the milestone.

[2020-05-03 12:11] gallais commented on #3619
We could maybe use a templating engine such as [`mustache`](https://hackage.haskell.org/package/mustache) to appropriately
instantiate a `.cabal` file template.
Users could provide their own but we would ship Agda with a sane default.

[2020-05-03 12:14] jespercockx commented on #4631
People might think there is an actual conversion check happening during matching to check that the two `x`s are equal, which is not the case.

The example in the OP should definitely be an error, the only question is whether this error should be thrown during scope checking or during type checking.

[2020-05-03 17:31] WolframKahl commented on #4628
Also add `-S` to see garbage collections and heap usage; larger values for the allocation area `-A` can make garbage collection “less nervous”.

E.g.:
[code]
Starting with a larger heap reduces the “ramp-up time”:
[code]
To see garbage collections for Agda running inside Emacs, add a file argument to `-S`,
and watch that file in a terminal with `tail -f`.

In my `~/.gnu-emacs-custom` I have:
[code

[2020-05-04 08:50] andreasabel commented on #4631
Well, this check does happen, statically.  Thus, it is redundant dynamically.  There is no confusion for the reader of a program.  The writer of a program may wonder why a definition is rejected, but can look up the documentation.

Some rewriting tools may have non-linear matching, but is there a programming language that has this feature?

[2020-05-04 09:37] jespercockx commented on #4631
Not really. You have convinced me that it might be better to keep this feature and add the missing check that the types are equal, and also add "... when checking that all occurrences of pattern variable x have the same type" and "... when checking that all occurrences of pattern variable x are forced to be equal by typing" to the error message.

[2020-05-04 12:32] AlbandeCrevoisier opened #4634 "Add tip to case-split a with-abstraction using emacs."
The easiest way to examine a with-abstraction seems to be the following:
[code]
Then C-c C-c TYPE c RET in the hole.
It's very much not intuitive for a beginner, and a tip or example could be useful in [1].

[1] https://github.com/agda/agda/blob/master/doc/user-manual/language/with-abstraction.lagda.rst

[2020-05-04 12:43] gallais commented on #4634
You have an invalid trailing `=` on the first line.

[2020-05-04 20:54] AlbandeCrevoisier commented on #4634
@gallais Indeed, thanks!

[2020-05-05 07:53] L-TChen commented on #4627
The installation of Agda does not require the Haskell toolchain, and many users do not bother to compile (or even run) an Agda program as long as it is checked. So, I am against installing Haskell dependencies when installing Agda (by default).

I am in favour of this approach if it is not too difficult to implement. As the targeted users are not assumed to know the Haskell toolchain, it might be

[2020-05-05 08:13] UlfNorell commented on #4627
The problem is that users are having trouble compiling and running Agda programs, due to idiosyncrasies of the Haskell build ecosystem. Giving these people a bunch of generated Haskell code and telling them that they're on their own makes this problem a lot worse, so I don't see how this is an "alternative".

Compiling an Agda program should produce an executable, provided suitable dependencies ar

[2020-05-05 08:15] Blaisorblade commented on #3619
@gallais That sounds excellent. Maybe the template could even include build instructions (not sure if Agda should run them, or the user), and anybody could provide alternative templates for cabal v2/stack/(maybe nix?)/different combos.

[2020-05-05 08:25] Blaisorblade commented on #4627
cabal v2 would satisfy the same requirement, but both cabal and stack require knowing the Haskell toolchain.

IMHO @gallais’ suggestion https://github.com/agda/agda/issues/3619#issuecomment-623100447 has the right amount of flexibility to support both _simple_ use cases _and_ bigger programs written in Agda, like Cedille.

[2020-05-05 09:39] iblech opened #4635 "agda2-mode.el: better interact with undo in evil mode"
I'm using agda2-mode together with evil, to have standard Vi keybindings available. This combination works beautifully.

However, `C-c C-l` and similar commands do not break the undo sequence. Right now, the behavior is as follows:

1. Enter insert mode with `i`.
2. Enjoy Agda, using `C-c C-l` and similar commands repeatedly.
3. Exit insert mode with `ESC`.
4. Press `u` for undo.
5. All the Agda c

[2020-05-05 11:06] nad commented on #4635
I am reluctant towards changing the Emacs mode to support this kind of extension, because it might make it harder to maintain the Emacs mode. Can't you set up your own key bindings that do what you want?

[2020-05-05 13:36] iblech commented on #4635
Sure, I could, but then this improvement won't reach other users of emacs+evil+agda. :-) (I'm on a quest to simplify the user experience of Agda for newcomers. I argue that fixing this issue will be a (very small) step in that direction.)

But in any case this issue should really not be considered to be important. I certainly don't mind if this issue is closed without a fix. :-) I'm hoping that a

[2020-05-05 13:51] guillaumebrunerie commented on #4635
@iblech Did you investigate how other Emacs modes deal with this issue? For instance when compiling instead of `C-c C-l`, or something similar.

[2020-05-05 14:07] Saizan commented on #4628
Btw, a maybe simpler way is to generalize the type of `refl-≡Prop` directly:

[code]
And yeah, in this case it was the first thing to guess that the proofs of `IsProp` were going to be larger than the types themselves.

[2020-05-05 15:22] iblech commented on #4635
Good question, @guillaumebrunerie! I'm afraid it didn't occur to me, as I'm using Emacs exclusively for Agda development.

I did now. When compiling C files, the same issue arises.

Hence one could very well argue that this issue should be solved by modifications to evil-mode, as it affects more than one language. However it's not clear to me that it's possible to fix this issue in evil-mode. Also

[2020-05-05 15:47] nad commented on #4635
Are you sure that the behaviour that you observe is not the intended one? There seems to be a variable called `evil-want-fine-undo` that you can customise to change the behaviour of the undo command.

[2020-05-05 18:06] laMudri commented on #4628
Okay, this explains well what the new unification problem I'm introducing is. Should I feel surprised that it's so expensive, or can we close this issue?

[2020-05-06 09:48] andreasabel opened #4637 "recCon-NOT-PRINTED in termination error in connection to with"
[code]
Error is:
[code]

[2020-05-06 12:53] nad opened #4638 "Erased constructors"
Perhaps it makes sense to support erased constructors. The idea would be that they can only be used in erased contexts, and that if one matches on an erased constructor, then the right-hand side of the clause is treated as erased.

Here is an example of how this feature could be used:
[code]
If we ignore the issue of how to compile Cubical Agda code (with or without erasure), does this make sense?

[2020-05-06 12:59] UlfNorell commented on #4638
Are you thinking this would only be for higher constructors? I don't see how it would make sense for point constructors.

[2020-05-06 16:27] nad commented on #4638
I haven't thought of any use cases for point constructors. Are you suggesting that we should only implement this feature for higher constructors?

[2020-05-06 17:46] UlfNorell commented on #4638
I'm saying I'm not sure what it means for point constructors.

[2020-05-06 18:17] nad commented on #4638
The constructors would only be allowed in erased contexts, and run-time terms would only contain non-erased constructors. (At least that is the idea.) Note that higher constructors can be used as point constructors by applying them to one or more elements of the interval.

One question is whether something like the following should be allowed:
[code]

[2020-05-07 11:26] EdNutting commented on #3209
Does this also affect "Helper function" (C-c C-h)? It can be even more frustrating to try to figure out what's happened to the helper function definition as all the module parameters can get in the way of a simple find-replace (edit: especially as sometimes it puts in `_` for module parameters and sometimes it fills them out in-full - meaning there can be dozens of different cases to find-replace!

[2020-05-07 12:54] pnlph opened #4641 "Fixity problem when importing with renaming directive"
I am trying to rename two operators and use them without round brackets.

This code works:
[code]
and allows avoid round brackets and writing `5 + 6 * 7` instead `5 + (6 * 7)`

But this other code does not work:
[code]
So it is not possible to write `plus 5 times 6 7` instead `plus 5 (times 6 7)`

Should not renaming preserve the fixity when nothing is specified in the `renaming` directive? See #4

[2020-05-07 13:00] gallais commented on #4641
Fixities only makes sense for mixfix operators. Here your new names are usual
identifiers and cannot take advantage of fixities.

[2020-05-07 13:34] pnlph commented on #4641
Then how can priorities be set for non-mixfix operators?

[2020-05-07 14:23] jespercockx commented on #4641
They can't, function application of non-mixfix operation has a fixed precedence and is always left-associative. You can cheat by naming the function `f_` instead of `f` and giving it a lower fixity, but this does not work for functions that take multiple arguments.

[2020-05-07 14:58] canndrew opened #4642 "Feature request: Linear types"
This is something I've wanted for a while and since I couldn't find an issue for it I thought I may as well open one.

Could we add linear types to agda at some point? They are extremely nifty for being able to write programs that do IO and for guaranteeing that programs run efficiently. Idris has them (based on quantitative type theory), so maybe agda's linear types could look something like that

[2020-05-07 15:04] canndrew commented on #4642
(I accidentally hit enter, so sorry for the initially blank issue).

[2020-05-07 15:12] jespercockx commented on #4642
I believe @andreasabel has plans for adding linear types to Agda, though I am not sure how concrete these plans are.

[2020-05-07 15:54] pnlph commented on #4641
OK, I can explain what I was trying to do, maybe there is indeed a workaround.

I was trying to express `5 + 6` in the assembly-like notation `bipush 5 bipush 6 iadd` reusing the definition `_+_` from the standard library, but I only arrive to `iadd (bipush 5) (bipush 6)`. I can not even get rid of the round brackets. to get the intermediate result `iadd bipush 5 bipush 6`.

Here is [a gist](https

[2020-05-07 16:13] JacquesCarette commented on #4641
If you're willing to use 'do' notation (or explicit `>>`), that can be done.  See `tagless/stack-symantics.hs` in the https://github.com/JacquesCarette/finally-tagless repo. You'll need to 'lift' `_+_` as it has the wrong signature, you need to change it so that it operates on stacks.

[2020-05-07 21:11] #4641 closed, assigned to nobody

[2020-05-08 13:01] andreasabel commented on #4538
The module `M` is not in scope!  Documentation doesn't type-check anymore.

[2020-05-08 13:18] #4637 closed, assigned to andreasabel

[2020-05-08 13:21] andreasabel commented on #4637
Problem was:  `DisplayTerm` `DCon` was not reified as record expression.  New error is
[code]

[2020-05-08 15:47] Saizan commented on #4628
Making `isoToPath` abstract improves the time considerably, so it seems this is about comparing `Glue` applications. There's probably room for speeding things up there.

[2020-05-08 18:05] andreasabel commented on #4569
@mouse07410 I am glad you could resolve the issue on your side, and thanks for reporting the problem.  Thanks to everyone (@asr @nad) who helped!

The development workflow has improved for me after fixing this issue.  Now I can build and install the Agda executable even if it breaks one of the library files, which often happens during development.

[2020-05-08 18:57] msuperdock opened #4643 "Unsolved metas when types contain records with irrelevant fields"
## Issue

I ran into a confusing situation where Agda fails to solve for a meta which it should be able to solve; at the end of this post is code that can be used to reproduce the error (using either 2.6.0.1 or 2.6.1, at least). Unfortunately, I haven't been able to reduce the code below ~200 lines; any further simplification I make seems to enable Agda to solve for the meta, without any clear rea

[2020-05-08 20:19] andreasabel commented on #3644
This is fixed by adding a suitable `setCurrentRange` with the range of the pragma options.
However, the location is not very precise, highlighting all the options.
A better fix would have to add ranges to the `PragmaOptions` type; seems to be an overkill.

[2020-05-08 20:37] andreasabel commented on #4643
This is an unfortunate interplay between eta-equality and irrelevance.  It goes away, for instance, if you add `no-eta-equality` to the `Functor` record declaration.

In the OP, if you modify the last target type to
[code]
and then look at the constraints with `C-c C-=`, you can see that Agda has solved the first meta by `F` but the second by a record expression that contains the unsolved meta `_i

[2020-05-08 21:40] jespercockx commented on #4643
There is no guarantee of when Agda solves irrelevant metavariables, it only does so on a best-effort basis (the problem is undecidable in general so doing better is impossible). So I'm not sure if this can actually be fixed. Of course, concrete suggestions for improving the current heuristics are welcome.

[2020-05-09 09:28] MatthewDaggitt opened #4644 "Overly lenient parser"
I tried to write a comment next to a module parameter but only wrote `-` rather than `--` and was surprised to see that Agda accepted it as valid syntax, and proceeded to interpret the would-be comment as individual terms. For example:
[code]
gives the error
[code]

[2020-05-09 09:37] #3644 closed, assigned to andreasabel

[2020-05-09 09:38] jespercockx commented on #4644
What do you mean? You just defined a module with 4 parameters called `A`, `-`, `The`, and `set`. Since these are all valid identifiers, I don't really see what Agda could do to rule out mistakes like this.

[2020-05-09 09:40] andreasabel commented on #4644
Yes, I am afraid that is the status quo, unless someone wants to train an AI to detect improbable programs.

[2020-05-09 09:40] #4644 closed, assigned to nobody

[2020-05-09 09:44] MatthewDaggitt commented on #4644
Ah yes, of course. I've never seen anyone provide explicit module arguments without a type before! Hadn't really considered it was possible.

I'm afraid I'm not volunteering :smile:

[2020-05-09 10:09] andreasabel commented on #3632
This glitch is due the conception of the operator parser.  Any identifier that has holes `_` (an _operator_) can only be processed by the operator parser if its name parts are in scope.  This is because the operator parser collects operators and their fixity from the current scope, and from this builds a grammar.

The simplest instance of your issue could be
[code]
with error:
[code]
The operator