[2022-05-27 05:52] andreasabel commented on #5923
The internal error is raised here: https://github.com/agda/agda/blob/d4589f615ecf23ded7f2a66e472a2d5a7e256ced/src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs#L192
When trying to turn a type into a pattern in a rewrite rule, `patternFrom` stumbles over a dummy type.  This dummy is created by `makeSubstitution`: https://github.com/agda/agda/blob/d4589f615ecf23ded7f2a66e472a2d5a7e256ced/src/ful

[2022-05-27 06:52] andreasabel opened #5924 "Support GHC 9.4.1"
GHC 9.4.0.20220523 has been released (GHC 9.4.1 alpha2). This is an umbrella issue to track migration to GHC 9.4.1.

It looks like it is mainly the ecosystem we have to wait for, because the following succeeds already:
[code]
Observable difference to GHC 9.2.2 (as of today 2022-05-26):
1. Wants `LANGUAGE TypeOperators`.
   - #5925
2. In my working directory, complains about
[code]
   This might be

[2022-05-27 07:12] andreasabel commented on #5923
Bisection blames commit 475c7e515e2edbcff789f4fa3836b64828e1e8dc (ping @jespercockx ):
Date:   Tue Jan 21 11:29:47 2020 +0100
[ fix #4382 ] Call isEtaRecordType *after* reducing the type

[2022-05-27 08:05] andreasabel commented on #5924
Keeping this issue open until `--allow-newer` becomes obsolete.

[2022-05-27 12:28] #5901 closed, assigned to andreasabel

[2022-05-27 13:05] andreasabel commented on #5922
@j-towns

Yes, by virtue of the hidden argument to `F-to-N`, given explicitly here:
[code]

[2022-05-27 13:10] andreasabel commented on #5922
There is definitely something broken with the `macro` stuff.
Putting a meta in, solves the meta with `?0 := b` and succeeds:
[code]
But if the solution is put in (C-c C-s) and we reload (C-c C-l), we get the termination error:
[code]
Note the garbage `Agda.Builtin.Nat.suc-0` which I cannot make sense of, and how the recursive argument to `test` when from `a` to `Agda.Builtin.Nat.suc-0 (suc (Agda.B

[2022-05-27 14:17] andreasabel commented on #5922
Bisection blames my commit 792a357be0b25876bc6c479f3c49db9ffd055748
Date:   Wed Aug 12 16:45:01 2020 +0200
 [ fixed #4776 ] refactor: add conDataRecord to ConHead

[2022-05-27 15:01] andreasabel commented on #5922
Ok, this seems to be the "projection" from `suc` which is used by Cubical Agda:
https://github.com/agda/agda/blob/ca5fb2ae986f36fc410f5f393efd589c6c1b4259/src/full/Agda/TypeChecking/Rules/Data.hs#L317-L319

So, maybe `Nat.suc` is confused for a record constructor with eta-equality...

[2022-05-27 15:42] andreasabel commented on #5922
I stumbled over the following issue when looking for uses of `conFields`:
- https://github.com/agda/agda/issues/4528#issuecomment-603204214

@Saizan wrote:

So this issue is _new forcing translation redux_ (ping @UlfNorell), and my refactoring only brought the problem to the surface.  Indeed, with option `{-# OPTIONS --no-forcing #-}`, the problem goes away!

I read through the discussion at:
- #4

[2022-05-27 18:27] andreasabel opened #5926 "Cubic slowdown of variable generalization in the presence of instance search or unsolved metas"
Felix @felixwellen observed slow checking of a longer telescope (https://github.com/agda/cubical/blob/1497d8bfdf817a83a441f57f3bb2a94fcd7c3fdf/Cubical/Algebra/Algebra/Base.agda#L103-L120).  This telescope involves one free level variable that is generalized over, and a use of an instance (projecting the carrier of a mathematical structure).
This is a distilled version, comparing
1. generalization

[2022-05-29 10:41] jespercockx commented on #5923
This was a fun puzzle to minimize. Here is the result of about an hour of minimization work:
[code]
Error message:
[code]
Now I just need to fix the issue...

[2022-05-29 11:31] jespercockx commented on #5923
Here's an even smaller version:
[code]
Debug output:
[code]
It seems that the matcher is eta-expanding the term `g {X} a` to `tt`, which causes the variable `a` to be unbound on the left-hand side of the rewrite rule.

[2022-05-29 12:02] jespercockx commented on #5923
I'm honestly at a loss of what *should* be the right behaviour here. Essentially, what we have here are two functions `f {⊤} : ⊤ -> A` and `g {⊤} : A -> ⊤` that are each others inverses *definitionally*: `g {⊤} (f x)` is definitionally equal to `x` because of eta-equality, and `f {⊤} (g x)` is definitionally equal to `x` because of the rewrite rule `rew-fg`. However, since any two elements of `⊤`

[2022-05-29 12:43] jespercockx commented on #5923
I have pushed a fix to [73d146b](https://github.com/jespercockx/agda/commit/73d146b5ec49db64eff6eef8031f8b0602ecd1ab), will merge it once CI is finished.

Good news for @mikeshulman : with this patch, the example in the OP actually goes through without errors. However, please be mindful of the fact that you might still get spurious type errors with these rules as I explained above.

[2022-05-29 14:18] #5923 closed, assigned to jespercockx

[2022-05-29 14:42] jespercockx opened #5929 "Rewriting + eta-equality for unit type = incomplete conversion"
This is a continuation of #5923. The internal error is fixed, however now definitional equality is no longer transitive:
[code]
Here the term `eq true false : true ≡ false` computes to `refl`, but obviously `refl` does not have type `true ≡ false` (EDIT: or rather, in this system it does, since every type is definitionally equal to every other type, hence `true ≡ false` is equal to the type `true

[2022-05-29 14:43] jespercockx commented on #5923
Continued in #5929

[2022-05-29 14:48] mikeshulman commented on #5923
Thanks!  I agree that option 1 is better.

[2022-05-29 15:04] mikeshulman commented on #5929
Surely in the presence of arbitrary rewrites (especially non-confluent ones), definitional equality was already no longer transitive (at least, not in a way verifiable by the conversion checker)?

[2022-05-29 15:14] jespercockx commented on #5929
Yeah, the problem is that the goal is to guarantee subject reduction and completeness of conversion checking assuming we have confluent and terminating rewrite rules. However, this is clearly not the case:

[code]
Here, `cast` is definitionally an identity function between any two types, e.g. `cast 42 : Bool` evaluates to `42 : Bool`.

[2022-05-29 15:21] jespercockx commented on #5929
Well, anyway, I do not know how to solve this problem, so for now we are back to the situation we had before, which is that you should use rewrite rules on your own risk, and if you do it wrong then anything can and will happen except for internal errors. I mainly created this issue to document the behaviour and in case someone ever finds a more satisfying solution.

[2022-05-29 23:10] mikeshulman commented on #5923
I'm happy to report that Agda master with the patch also works without errors for my original much longer development.  Thanks again for the very quick fix.

[2022-05-30 08:13] thiagofelicissimo commented on #5923
I have the impression that by having syntactical matching instead of matching modulo eta this kind of problem could be prevented.

`f tt` does not syntactically match `f (g x)`, so we would not have `f tt = x`. But we would still have a "typed" critical pair, as `f (g {⊤} x)` rewrites both to `x` and to `f tt` (using the eta rule). Then, we cannot fix this neither by adding `x --> f tt` nor `f tt

[2022-05-30 08:57] j-towns commented on #5922
Thanks for looking into it @andreasabel! For now I'll use `--no-forcing`.

[2022-05-30 16:24] asr opened #5930 "Support GHC 9.2.3"
GHC 9.2.3 was [released](https://mail.haskell.org/pipermail/ghc-devs/2022-May/020728.html). I created this issue for collecting/reporting the required changes/issues.

[2022-05-30 23:52] iblech opened #5931 "HTML export with unsolved metas"
I am sure that we all love the hyperlinked HTML export. Marvelous, every used definition is just one click away!

However, it doesn't work when there are unsolved metas in the source file. I know of two workarounds:

1. Add `{-# OPTIONS --allow-unsolved-metas #-}` to the top of the file. This has the disadvantage that, just for exporting purposes, the file has to be changed; and that it does not w

[2022-05-31 07:47] nad commented on #5931
If you look at a file with `--safe` at the top in Emacs, load the file, and then read "Checked" in the mode line, then you can be fairly certain that nothing fishy is going on. (Ignoring any bugs, as well as obfuscated Agda code. I guess one could also manually create `.agdai` files that do not correspond to anything that Agda would create, so for full certainty one should type-check everything fr

[2022-05-31 08:25] andreasabel commented on #5931
One could also relax the semantics of `--safe` to mean _safe if no open goals_.  The the original meaning of `--safe` would be the new one in the absence of `--allow-unsolved metas`.  This would solve this conflict, which appears again and again (see below).
I also think it makes perfect sense to want to work safely while still working, i.e., having open goals.  Currently you have to turn off safe

[2022-05-31 08:34] gallais commented on #2114
In Idris I settled for `failing` followed by an optional string that must be present in the rendered error message.
Cf. https://github.com/gallais/Idris2/blob/f6cc39c7945268026f9dd1e17fbce03ce7176653/tests/idris2/error024/Fail.idr

[2022-05-31 10:14] nad commented on #5931
In that case, how do you find out if you have open goals? Currently we have the following guarantee (modulo bugs): If the current file uses `--safe`, and the code is accepted, then everything is complete. If we start to allow the use of `--allow-unsolved-metas` in any file in the project (including other libraries), in the presence of `--safe`, then I want Agda to make it very clear to the user th

[2022-05-31 10:37] andreasabel commented on #5931
Maybe just having or not having a flag is not enough structure to arrive at a satisfactory solution in these question.  We might need authority levels.  E.g. if I say `--allow-unsolved-metas` on the command line, this should have the highest authority, overruling any complains by `--safe` modules.  Or if I say `--no-unsolved-metas`, this should overrule any `--allow-unsolved-metas` in a module.
Th

[2022-05-31 11:11] gallais commented on #5931
Related: #5265

[2022-05-31 14:48] asr opened #5932 "The flag `Werror=unrecognised-warning-flags` does not turn unrecognised warnings on fatal errors"
What the title says. I reported the [issue](https://gitlab.haskell.org/ghc/ghc/-/issues/21682) to GHC. As a workaround, I shall add the `Werror` flag to `Agda.cabal`.

[2022-05-31 17:07] #5932 closed, assigned to asr

[2022-05-31 19:40] nad commented on #5931
I [disagree](https://github.com/agda/agda/issues/5265#issuecomment-865685563):

[2022-06-01 09:27] asr opened #5934 "On `-Werror`"
After adding `-Werror` to `Agda.cabal` as a workaround for #5932, CI reported [this](https://github.com/agda/agda/runs/6676023533) problem (which I'm planning to fix).

It seems `-Werror` was removed on 9365d0900f. Was there some specific reason for removing it and using the more verbose form `-Werror=warning-name` for setting on the warnings?

[2022-06-01 10:00] asr opened #5935 "On workflow for GitHub workflows"
I'm planning to fix [this](https://github.com/agda/agda/runs/6676023533) problem. Without changing the files in `src/github/workflows`, I followed the instructions in https://github.com/agda/agda/blob/46031e1435d323ef79de916bf7d985f7aa63729e/src/github/workflows/README.md#L6-L7

by running

[code]
Why there where changes in the above files? Shouldn't be the files on `.github/workflows` synchronize

[2022-06-01 11:30] andreasabel commented on #5935
Maybe you are using a different version of the converters?  I have
[code]

[2022-06-01 11:39] andreasabel commented on #5934
There may be some background at:
- https://github.com/agda/agda/pull/4817

(Seems plausible though that one actively decides which warnings should be errors.)

[2022-06-01 11:44] andreasabel commented on #5931
If you are user of someone else's code, you maybe would not pass `--allow-unsolved-metas` on the command line if you do not want unsolved metas.
If you are worried about _renderings_ of the code, well, I can easily postprocess generated HTML so that I sneak in an `{-# OPTIONS --safe #-}`.  There is no guarantee that a rendering speaks the truth, unless you can also cryptographically sign it.  Then

[2022-06-01 11:51] asr commented on #5935
Right, my version for both converts is 0.11.8.0. So?

[2022-06-01 11:58] andreasabel commented on #5935
You can push the changes, and I update to 0.11.8.0.

[2022-06-01 12:05] andreasabel commented on #5935
Mmh, it seems there is quite a change from the product of 0.11.6 to the product of 0.11.8.  But if CI still works, let's use 0.11.8.0.  Let me know your findings.

[2022-06-01 12:50] asr opened #5936 "Date and time for files in the repository"
I'm getting the following behaviour:

[code]

Why all the directories and files have the same date and time?

I'm using

[code]

[2022-06-01 13:01] asr commented on #5935
In a fresh repository I'm running:

[code]

Why the last command does not generate the `*.yaml` files?

[2022-06-01 13:28] andreasabel commented on #5935
This changes timestamps (to "now"), and since `make` rules are triggered on timestamps, the rules might not run.  You can force making with:
[code]

(I think that `git` does not set the modification time to the time of the last commit is a bit silly and causes such problems.)

[2022-06-01 13:39] andreasabel commented on #5936
This is the creation time of these files.  `git` unfortunately does not set the last modification time to the time of the commit where they were last modified.
See also discussion around:
- https://github.com/haskell/actions/issues/41#issuecomment-1120195000

[2022-06-01 14:06] asr opened #5938 "CI: Fails on the user manual"
CI is failing on the user manual due to a warning generated for a new version of Sphinx (5.0.0). The reported error is [here](https://github.com/agda/agda/runs/6690369194).

[2022-06-01 14:23] asr commented on #5936
I feel stupid. All these years using `git` and I didn't know it. Thanks!

[2022-06-01 14:23] #5936 closed, assigned to asr

[2022-06-01 14:37] andreasabel commented on #5936
We live and learn...

[2022-06-01 15:19] #5938 closed, assigned to asr

[2022-06-01 15:23] #5935 closed, assigned to asr

[2022-06-01 15:31] asr opened #5940 "CI fails on deploy: Warning on macOS"
CI is failing on deploy due to a warning generated adding `-Werror` to `Agda.cabal` as a workaround for #5932. The reported error is [here](https://github.com/agda/agda/runs/6676023533).

[2022-06-02 07:57] nad commented on #5936
["Why isn't Git preserving modification time on files?"](https://git.wiki.kernel.org/index.php/Git_FAQ#Why_isn.27t_Git_preserving_modification_time_on_files.3F)

[2022-06-02 08:02] nad commented on #5931
Of course one can edit the generated HTML, but I don't think we should make it easy to construct confusing output (perhaps by mistake).

[2022-06-02 08:18] andreasabel commented on #5887
Trivia:
- `stack.yml`: The cached `.stack` directory is [roughly 300MB](https://github.com/agda/agda/runs/6692465916?check_suite_focus=true#step:7:19) per instance, and we have 10 instances (8 Linux, 1 macOS, 1 Windows ([360MB](https://github.com/agda/agda/runs/6692466290?check_suite_focus=true#step:7:17))), totalling to ~3GB.
- `test.yml`: [Same 300MB](https://github.com/agda/agda/runs/6692456195

[2022-06-02 08:28] andreasabel commented on #5936
Building based on time stamps can go wrong in two ways:
1. If you date back the source, the target will not be rebuild.  This is what the git policy prevents.
2. If you date forward the target, the target will not be rebuild.  This is the problem here that the git policy _causes_.

We are in some sense violating git policy since we are placing a target under VC. However, in this case, github workf

[2022-06-02 08:56] andreasabel commented on #5931
@nad: If I understand your position correctly, you want to trust consistency of rendered code if you read `{-# OPTIONS --safe #-}`  on top (and you are inclined to trust the producer that they did not manipulate the HTML).
So, would you be happy if this option would be rendered in ~~strike-out~~ in case it was partially overridden with `--allow-unsolved-metas`?

[2022-06-02 09:14] gallais commented on #5931
Isn't the principled solution to allow local options escalation (so a `--safe` file would ignore the option
`--allow-unsolved-metas` passed on the command-line)? This way the files are checked in at least as
stringent a set of constraints as they themselves declare, and no less stringent than what the lib/cli
specified.

[2022-06-02 10:59] nad commented on #5931
This makes sense to me. (But I think we should discuss the design as part of issue #5265.)

[2022-06-02 14:56] nad opened #5942 "The HTML user manual uses incorrect formatting"
Some or all lists in the user manual are rendered incorrectly in the HTML document: there are no "bullets" or anything like that before the list items, and the items are not indented. See for instance the following list:

https://github.com/agda/agda/blob/ee8bf1d90086d46a567a4ad646e40c3d66fb9df3/doc/user-manual/language/runtime-irrelevance.lagda.rst?plain=1#L169-L181

[2022-06-02 16:00] andreasabel commented on #5942
@asr: Could you have a look?  Might be in connection with migrating to Sphinx 5...

[2022-06-03 08:12] andreasabel commented on #5942
Googling produced this:
- https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file
- https://sourceforge.net/p/docutils/bugs/417/

I'll try updating the RTD theme.

[2022-06-03 08:44] andreasabel commented on #5942
Seems to work.

[2022-06-03 08:44] #5942 closed, assigned to andreasabel

[2022-06-03 15:20] #5940 closed, assigned to asr

[2022-06-04 03:12] mikeshulman opened #5944 "Internal error in rewriting with `--two-level`"
As part of the same development from #5923, I've run into another internal error.  This one seems to involve some interaction with the `--two-level` flag, since it goes away if I remove that flag and change the `SSet`s to `Set`.
[code]
In master (2.6.3-5a0833a) this produces
[code]
I realize `--two-level` is very experimental, but I thought I'd report this anyway.

[2022-06-04 14:56] andreasabel commented on #5944
I think rewriting involving SSet was never implemented (check the blame):
https://github.com/agda/agda/blob/5a0833adf13f5b9d0b3026a1296a3e9fa4231025/src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs#L96
This is the original PR:
- https://github.com/agda/agda/pull/4781

[2022-06-04 15:26] mikeshulman commented on #5944
Okay, so I shouldn't expect it to work?  That's fair, although it might be helpful to raise an error like "Rewriting with 2LTT not implemented" as soon as the user tries to combine the flags `--rewriting` and `--two-level`.  Are there significant difficulties in implementing it?

FWIW, I haven't gotten any errors with it until now.  And it's easy to modify the example in other ways to remove the e

[2022-06-05 15:20] xekoukou opened #5945 "Possible Termination Checker Error on HIT (cubical)"
In Cubical agda, it is common to use ```ElimProp``` in order to avoid proving on all the cases. This is possible if the goal is a proposition.

[code]

This on the other hand works :

[code]

[2022-06-06 06:52] andreasabel commented on #5944
@mikeshulman :
So I made some arguments explicit until I could see why Agda wants to match against `SSet` in a rewrite rule:
[code]
As you can see, you are asking Agda to rewrite anything of the form `coe← (el (ID′ Θ (λ _ → ε))) (el (ID ε)) (cong Tel (SSet lzero) el (ID′-CONST Θ ε)) δ₂` to `[]`.  Agda, trying to turn the lhs into a pattern crashes because there is no case for `SSet`:
https://githu

[2022-06-06 07:04] andreasabel commented on #5945
So what should be the reason that this terminates?  The clause for `δ (EQ x y i)` makes a call to `δ z` where `z` is a bound variable of type `HIT`.  In what sense is `z` structurally smaller than `EQ x y i`?

[2022-06-06 07:33] jespercockx commented on #5944
@andreasabel let me try to explain the presence of `__IMPOSSIBLE__` here. I have implemented rewriting, which has existed for longer than 2ltt. I also did the prototype implementation of 2ltt during one of the Agda meetings, where I might have written an `__IMPOSSIBLE__` since it was just a prototype and I didn't yet want to think about the interaction between the two features. Later, an updated v

[2022-06-06 07:58] xekoukou commented on #5945
The argument  ```B``` will not be used in the computation of function ```el```. I guess this is the reason the second case passes.

[2022-06-06 08:29] andreasabel commented on #5945
So, close this issue?

[2022-06-06 16:15] andreasabel commented on #5945
Closing, feel free to reopen if needed.

[2022-06-06 16:15] #5945 closed, assigned to andreasabel

[2022-06-06 17:22] mikeshulman commented on #5944
Ah, I see; the problem arises with rewrite rules whose LHS actually includes SSet as an argument to be matched against.  Trying to implement it sounds like a fun way to learn more about Agda internals, but unfortunately I don't think it'd be a good use of my time right now.  Maybe I'll come back to it later.  Thanks!

As long as this remains unimplemented, I do still think it would be nice to give

[2022-06-06 17:43] andreasabel commented on #5944
Ok I give it a shot...

[2022-06-08 09:15] #5944 closed, assigned to andreasabel

[2022-06-08 13:36] HuStmpHrrr commented on #4653
are names taken away from html generation? I am using 2.6.2.1 and I see no identifier in the generated html.

[2022-06-08 14:46] mikeshulman commented on #5944
Thanks!!

[2022-06-08 18:18] andreasabel commented on #4653
They should be there, e.g. `<a id="Tel">` in the following rendering of `postulate Tel : SSet`:
[code]

[2022-06-08 18:59] HuStmpHrrr commented on #4653
thx. I didn't realize there is another hyperlink before that. but why the hyperlink is closed before the number hyperlink instead of wrapping it around?

[2022-06-09 04:07] ElifUskuplu commented on #5761
Hi,

I couldn't handle it myself, but there is a change in the compilation. In the first MWE, `imap-≡1` does not work anymore. I'm taking this error message:
[code]
Since this kind of map shouldn't exist, it's a good news (although I don't understand what happened). However, the pattern matching still seems problematic. Here is a new MWE:
[code]
I can avoid such a coercion map, but the bug is stil

[2022-06-09 09:01] nad commented on #4653
I asked the same thing, and @andreasabel had an [answer](https://github.com/agda/agda/issues/2756#issuecomment-387732467).

[2022-06-09 13:24] andreasabel commented on #5761
It seems like there shouldn't be an identity `Set -> SSet` because then I can label any type as non-fibrant and thus circumvent the check _Cannot eliminate fibrant type unless target type is also fibrant_.

So the easiest fix is to remove the subtyping `Set <= SSet`.  @jespercockx: opinion?
https://github.com/agda/agda/blob/6385f850a185523bb5241a71f5a7614a148f6b53/src/full/Agda/TypeChecking/Conver

[2022-06-09 13:33] jespercockx commented on #5761
As far as I understand, having a subtyping rule `Set <= SSet` is not in general valid for 2-level type theory. Hence it would indeed be better to disable this subtyping.

[2022-06-09 13:36] andreasabel commented on #5761
Can you get absurdity from eliminating fibrant types to non-fibrant ones?  If yes, such a proof of false would be nice to have here (but I understand too little of the matters to try to construct one myself).

[2022-06-09 13:45] jespercockx commented on #5761
I guess without any other primitives but `SSet` the answer is no. However, one could for example have a univalent equality in `Set` and a strict equality in `SSet`, in which case casting a type from `Set` to `SSet` would lead to unsoundness.

[2022-06-09 14:07] andreasabel commented on #5761
This makes already this definition from the OP ill-typed:
[code]
Because `A` is a `Set`, the arguments `u v : A` cannot be subjected to strict equality `u ç v`.  With the subtyping in place, `A` was a possible argument to `≡ₛᵉ`.

This makes me wonder what of 2ltt remains when the subtyping is removed...

Already the initial 2ltt example breaks then: https://github.com/agda/agda/blob/6385f850a18552

[2022-06-09 14:22] ElifUskuplu commented on #5761
As a reference, see https://arxiv.org/pdf/2102.06275.pdf
In page 12, it's written that "All types are exotypes, but not all exotypes are types." So I think assuming cumulativity, and hence Set <= SSet is not completely harmful.

In SST.agda file, there are two different strict equalities, one for types, one for exo-types (I mean strict). In my formulation, I assume cumulativity everywhere. I defin

[2022-06-09 14:42] ElifUskuplu commented on #5761
I've encountered the problem when I proved Lemma 2.11 in this paper (https://arxiv.org/pdf/1705.03307.pdf ). And here, they don't assume Set <= SSet, but use a coercion C : Set -> SSet.

I'm not sure but as far as I understand, cumulativity flag gives this coercion secretly. When I also add C map, Agda behaves a fibrant type as a non-fibrant one, so the elimination rule breaks.

When I don't assum

[2022-06-09 14:47] andreasabel commented on #5761
Not sure I understand.  As soon as you have `Set <= SSet`, you have `id : Set -> SSet`.  So if you want cumulativity, you also get the coercion.
The problem is now that we cannot trust the sort of a type to decide whether a type is fibrant.  Every fibrant type `A : Set` is also non-fibrant, because `A : SSet` as well.  Which sort we store for `A` depends on whether we have applied `id` to `A`, but

[2022-06-09 14:52] ElifUskuplu commented on #5761
I mean as in the example :
[code]
although I assume cumulativity flag, the first kind of maps is not allowed, but the second kind is allowed. That's why I confused about the c map itself.

[2022-06-09 14:55] andreasabel opened #5948 "Cumulativity breaks invariance of concepts under definitional equality"
This is rejected, but accepted if the `up A` index is replaced by its definition `A`:
[code]
[code]
The problem is that the size check of data type indices relies on the _ascribed sort_ (`up A : Set1`) of the index rather than the _principal sort_ (`up A = A : Set`).

Triggered by looking at
- #5761

[2022-06-09 14:56] ElifUskuplu commented on #5761
And that's why I said that, I can avoid to use the coercion map, but the problem is still there.

[2022-06-09 15:06] andreasabel commented on #5761
I don't have a good idea how to fix this, so I unassign myself.
This bug happens in the combination of two experimental features, so it has a very low prio for me.  A sledgehammer fix would be to disallow the combination of these features until we have figured out how they should work together...

[2022-06-09 15:08] ElifUskuplu commented on #5761
I understand, thanks for the discussion.

[2022-06-09 15:43] HuStmpHrrr commented on #4653
in that case, wouldn't it make sense to not even wrap the `<a>` with id around the code as well?

[2022-06-09 16:15] andreasabel commented on #5761
I tried to exploit a similar situation for `Prop <= Set`, but there seem to be enough precautions to avoid inconsistency, although it looks pretty dangerous:
[code]
No it looks like we have `True true -> True false`, but:
[code]
[code]

Internally, we only have `True (dontcare true) -> True (dontcare false)`...

[2022-06-09 16:31] andreasabel commented on #5948
Here is a similar case, with elimination from a `Prop`:
[code]

[2022-06-09 17:42] nad commented on #5761
Should `--cumulativity` be made incompatible with `--safe`?

[2022-06-09 18:41] ElifUskuplu commented on #5761
Agda does not allow both together. When I assume both flags, it says:

`Cannot set OPTIONS pragma --cumulativity with safe flag.`

[2022-06-10 07:41] andreasabel commented on #4653
What would be gained by that?

I just added the symbolic anchors back then, I didn't make any changes to the numeric anchors.

[2022-06-10 14:03] andreasabel commented on #5922
2022-06-10 Discussion with Ulf: We could extend the termination checker to count projections from data as decrease.

[2022-06-10 14:06] andreasabel commented on #5922
Q: Why are the projections not normalized against the constructors?  Shouldn't this be just `test (Agda.Builtin.Nat.suc-0 b)`?
A: Because they are intentionally not `Proj`s but `Def`s, see https://github.com/agda/agda/commit/ddb837901f2202d4a5a63f4cbab246247c6a23ca.

[2022-06-10 15:44] andreasabel commented on #5922
Submitted PR to the extent of reducing data projections.  This already fixes the issue (at least the OP).
- #5950

[2022-06-10 19:39] #5922 closed, assigned to andreasabel

[2022-06-10 20:50] andreasabel commented on #5395
Fixed itself...

[2022-06-10 20:50] #5395 closed, assigned to nobody

[2022-06-10 20:52] andreasabel commented on #5258
Seems like the recipe to fix these problems is to reset the CI cache.

[2022-06-10 22:10] andreasabel opened #5952 "Rebalance `test.yml` workflow"
[Current running times](https://github.com/agda/agda/actions/runs/2477189225) of sub-workflows:
<img width="267" alt="Screenshot 2022-06-11 at 00 08 58" src="https://user-images.githubusercontent.com/1155218/173157116-3f3581d6-2e23-4ddf-bee5-4bab41331040.png">
Move some stuff from the _cubical_ to the _test_ section.

[2022-06-11 21:28] szumixie opened #5953 "Recursor of inductive-inductive type does not pass termination check in Cubical Agda"
The following code typechecks without the `--cubical` flag, but does not pass the termination checker with the flag:
[code]

[2022-06-12 19:10] #5930 closed, assigned to asr

[2022-06-12 19:10] #5649 closed, assigned to andreasabel

[2022-06-13 09:58] nad commented on #2932
Now there are some alternatives:
* "[ghc-tags: Utility for generating ctags and etags with GHC API.](https://hackage.haskell.org/package/ghc-tags)"
* "[ghc-tags-plugin: A compiler plugin which generates tags file from GHC parsed syntax tree.](https://hackage.haskell.org/package/ghc-tags-plugin)"

[2022-06-13 11:03] kangxyz opened #5955 "Composition of Glue Type Causes Infinite Loop"
I try to type-check the following codes, which is no more than `comp` for `Glue`:
[code]
Unfortunately no result comes out, but an error shows `agda: Heap exhausted` (I was using the default 3.6G setting). I enlarge the memory to 10G, then the memory is used up in seconds and I decide to just close it. It seems the type-checker doesn't halt (or it needs an absurd amount of memory).

Btw, the code

[2022-06-13 12:14] kangxyz commented on #5955
Oh, I think the problem is related to `{φ : I → I}`. It's all well if replace it by a constant `{φ : I}`.

[2022-06-13 12:43] j-towns commented on #5922
Yes, my use case is fixed! Fantastic, thank you.

[2022-06-13 15:13] andreasabel commented on #5955
Here is a version without the cubical library:
[code]
Agda seems to recursively revisit the problem:
[code]

This seems to be a regression in 2.6.2, since 2.6.1 answers:
[code]

[2022-06-13 15:56] kangxyz opened #5956 "Cubical Agda crashes when printing empty system"
The follwing codes type-checks well:
[code]
But when I try to normalize `JEquiv` (by `C-c` `C-n`), an error occurs:
[code]
Agda thought some lists must be non-empty, and it turns out not that case :)

[2022-06-13 16:45] andreasabel commented on #2932
Maybe with the new `ghc-tags` available and `hs-tags` not supporting GHC 9.2, it might be worthwhile considering a switch:
- agda/hs-tags#2

[2022-06-13 18:12] mikeshulman commented on #5761
I think the relevant thing to determine whether a given elimination into non-fibrant types is valid should be whether the *inductive definition* that's being eliminated is one that was declared to be fibrant-valued or not.  Maybe this is sort of what you meant by the "principal type", but in my head, at least, it's different.  In the case of a coproduct, for instance, it's not a property of the ty

[2022-06-13 18:17] mikeshulman commented on #5761
By the way, I have a concrete reason to need to combine `--two-level` with `--cumulativity`, not just for convenience.  As Elif said, this combination allows defining a single strict equality type that can be applied to both fibrant and non-fibrant types.  But this, in turn, is necessary to allow `--rewriting` to apply to both fibrant and non-fibrant types, since currently only one relation can be

[2022-06-13 18:19] mikeshulman commented on #5761
(Also by the way, this isn't related to cumulativity, but it appears to be still possible to define a map `⊥ → ⊥ᵉ` from the fibrant empty type to the non-fibrant empty type, without even using any coercions.  This shouldn't be allowed either, by the same principle: you can't eliminate a fibrantly-defined inductive type with a non-fibrant motive.)

[2022-06-13 18:24] mikeshulman commented on #5761
Regarding the question of consistency: if you can eliminate the fibrant equality type into the non-fibrant one, then you can prove that they're equivalent and hence both satisfy UIP; so this is inconsistent with anything that violates UIP, like an assumption of univalence, or cubical mode which allows to prove univalence.  The analogous eliminations for coproducts, natural numbers, and empty types

[2022-06-13 18:53] andreasabel commented on #5887
Implemented https://github.com/agda/agda/issues/5887#issuecomment-1129110313 in
- #5957

[2022-06-13 18:54] andreasabel commented on #5955
Bisection blames ae315269812507294ea1d62d57eb7de40945a358 (ping @Saizan)
Date:   Thu Feb 4 10:36:02 2021 +0100
[ fix #4949 ] Use the right type when comparing glue elements

Command used:
[code]

[2022-06-13 19:33] asr commented on #5930
@andreasabel, thank you for closing this issue. Did you follow the procedure in [notes/ghc-releases.md](https://github.com/agda/agda/blob/24052e411ee399fea834739521d4add115f12bc9/notes/ghc-releases.md) ? I added one missing change in 24052e4.

[2022-06-13 20:05] andreasabel commented on #5930
No, I didn't, I wasn't aware of this recipe.
I basically bumped CI and did everything needed for that (and checked `cabal outdated`).

Thanks!

[2022-06-14 12:05] andreasabel commented on #5953
If you switch from `--cubical` to `--without-K`, the definition is accepted, because then _dot patterns_ are taken into consideration for termination certification.
- switching off dot pattern termination: #4606
- a regression reported in: #4725

[2022-06-15 08:16] andreasabel commented on #5926
Ulf says it is cubical, not exponential.

Cause:
- #3358

[2022-06-15 10:23] nad commented on #5953
If the program should be rejected when `--cubical` is used, then it should also be rejected when `--without-K` is used, right?

[2022-06-15 12:18] andreasabel commented on #5926
The slowdown is not connected to instance search per se, only to the amount of unsolved meta-variables created during checking the thing subjected to generalization.  We get the same slowdown with an implicit argument (that remains unsolved).  To see this, change the definition of `Carrier` used in the long telescope to the following:
[code]

[2022-06-15 13:25] JacquesCarette commented on #5926
To see if I understand: in the situation above, cubically-many "potential" `l`s are created? Do they then all collapse to a single (unsolved) one, but still take up time and space as part of a huge substitution?

[2022-06-15 13:34] andreasabel commented on #5953
Turning off dot-pattern termination for `--without-K` would mean that we could not do the usual proof by pattern matching that the successor relation is well-founded:
[code]

[2022-06-15 13:43] andreasabel commented on #5953
After the fix, it is accepted in both modes.  But see my previous comment for a violation of your principle.  Likely, the termination checker rejects too many programs under `--cubical`, just to be on the safe side. But with termination checking being undecidable, we accept that it is incomplete, and may also violate your principle.  (If you want your principle, we could e.g. have a check that `--

[2022-06-15 13:45] #4725 closed, assigned to andreasabel

[2022-06-15 13:45] #5953 closed, assigned to andreasabel

[2022-06-15 14:13] lawcho commented on #5926
I don't know what's going on under the hood here, but here's a more concise example:
[code]

[2022-06-15 14:51] nad commented on #5953
"My principle" is that code that is accepted when `--without-K` is used should be accepted also when `--with-K`, `--erased-cubical` or `--cubical` is used. Every extra check that is performed in Cubical Agda should also be performed when `--without-K` is used.

The code is accepted (with `--erased-cubical`) if the dot is moved:
[code]
However, Agda emits a warning:
[code]

[2022-06-15 16:11] andreasabel commented on #5926
So, in @lawcho's case there is (at least) one meta created per `Imp {_} n`, and all of these metas live under the so far unknown `genTel` generalization telescope (which in the end will be solved to just be `n : Nat`).  However, the context of each of these metas also contains all previous metas.
A part of the generalization procedure is to topologically sort all of these metas by which depends on

[2022-06-15 16:47] JacquesCarette commented on #5926
In case anyone things this is just due to "ridiculously unbundled" situations like in the original report, I'm pretty sure I can find similar occurrences in agda-categories where quite long telescopes appear too.

[2022-06-15 19:18] mikeshulman commented on #5923
I would also be interested in hearing more about why rewriting happens modulo eta.  According to issues like #2979 and #3335, it looks like it was intentional.

In my development it's important that rewriting *doesn't* do eta-expansion, because in my hacky implementation of HOTT that would cause infinite rewrite loops.  There the "higher-dimensional explicit substitution" `ap` reduces on all terms

[2022-06-16 06:02] nad commented on #5953
I realised that my statement is too strong. One could make Cubical Agda checks unnecessarily strict without the risk of breaking anything, and that may be the case for the check under discussion. @Saizan wrote the following:

https://github.com/agda/agda/blob/66643bc556c8d7b91a50a71a837e740c674f7309/src/full/Agda/Termination/TermCheck.hs#L243-L252

I'm not sure exactly how to interpret this. Would

[2022-06-16 06:11] nad commented on #5923
You can turn off η-equality for a given record type by using [`no-eta-equality`](https://agda.readthedocs.io/en/latest/language/record-types.html#declaring-record-types).

[2022-06-16 06:13] mikeshulman commented on #5923
But I _want_ my product and sigma-types to have eta-equality.

I suppose I could make them records with ordinary eta-equality turned off, and then add eta-contraction as a rewrite on top of that?

[2022-06-16 06:45] nad commented on #5923
I don't know if that would work, but you could try.

[2022-06-16 08:48] andreasabel commented on #5953
I suppose so.

[2022-06-16 09:58] jespercockx commented on #5923
To be honest, I have never really considered the possibility that rewrite rules should *not* respect eta-equality. IMO it is a core principle of Agda that everything should be invariant under replacing a term with a definitionally equal one (modulo performance). Not considering eta-equality would be a lot simpler to implement than the current algorithm, but it would destroy the completeness of Agd

[2022-06-16 10:00] jespercockx commented on #5923
Ordinary beta-reduction does not have to do any matching, so there is no need to consider eta-equality for it.

[2022-06-16 14:27] UlfNorell commented on #5926
Managed to build with profiling (despite cabal doing its best to stop me), and it looks like the problem is the use of `piSort` in `instantiateFull'` for sorts:

[code]

https://github.com/agda/agda/blob/fe6b24e4149ce006fed731c7de502617f42b8043/src/full/Agda/TypeChecking/Reduce.hs#L1357

https://github.com/agda/agda/blob/fe6b24e4149ce006fed731c7de502617f42b8043/src/full/Agda/TypeChecking/Substitut

[2022-06-16 16:31] andreasabel commented on #5926
Interesting! (Ping @jespercockx.)
@UlfNorell You implemented memoization of free variable sets at some point if I remember correctly.  Can this be harnessed to speed up `piSort'`?

[2022-06-16 16:33] andreasabel commented on #5619
This race condition now plagues also the `test.yml` workflow. https://github.com/agda/agda/runs/6919763105?check_suite_focus=true#step:9:29

[2022-06-16 17:51] mikeshulman commented on #5923
That's interesting, I hadn't thought of that.

[2022-06-16 18:34] mikeshulman opened #5961 "Feature request: rewriting without eta"
I think it would be nice to have a version of `--rewriting` that does pure syntactic matching rather than reasoning up to eta-equality.

This would mean that ordinary confluence is insufficient to guarantee completeness of the conversion checker with respect to definitional equality.  However, if I understood the [partial resolution](https://github.com/agda/agda/issues/5923#issuecomment-1140434684

[2022-06-17 03:40] mikeshulman commented on #5923
I said:

@nad replied:

I tried, and it doesn't work.

[code]
Leads to
[code]
This makes some sense: I guess `fst u` is not a pattern occurrence of `u` when `fst` is a projection.

[2022-06-17 06:02] andreasabel commented on #5952
After the fix of #5611 (#5861), catching up with recent additions to the standard-library, the picture looks like this:

<img width="246" alt="Screenshot 2022-06-17 at 07 24 38" src="https://user-images.githubusercontent.com/1155218/174231094-ae58aced-d9f9-4873-9393-74bbe25f1aaa.png">

I guess a bit of rebalancing can still be done, but __stdlib-test__ is monolithic and the dominating factor.

[2022-06-17 08:31] andreasabel commented on #5923
But it works with `data` and defined projections, why should it fail with no-eta records?
[code]
Succeeds.

[2022-06-17 08:55] andreasabel commented on #5923
While the non-linear patterns of rewriting can represent projection patterns, they are not generated:
- `data`:   `Pattern generated from lhs:  (_,_ (fst u) (snd u))`
- `record`: `Pattern generated from lhs:  (_,_ .(fst u) .(snd u))`   -- this means dot pattern (do not bind `u`)

Agda hits the case `u .fst` with `u` a variable and then does not parse this into a pattern, because it wants Miller pa

[2022-06-17 09:12] andreasabel opened #5963 "`interaction` testsuite requires `kpsewhich` installed"
Even though the interaction test `QuickLaTeX-Caching` does not call latex to compile the product, it needs the latex utility `kpsewhich` in the PATH, otherwise:
https://github.com/agda/agda/runs/6932943368?check_suite_focus=true#step:16:116
[code]
The relevant code is here:
https://github.com/agda/agda/blob/fe6b24e4149ce006fed731c7de502617f42b8043/src/full/Agda/Interaction/Highlighting/LaTeX/Base.

[2022-06-17 10:25] jfdm opened #5964 "[Feature Request] Improve HTML Generation with an Index."
Indices in written literature are great for providing a central reference for readers to look up where key terms are defined/used.

A nice aspect of Agda is the generation of HTML documentation (semantically highlighted source code *is* documentation) from one's source code.

It would be a great starting project, I think, to extend this documentation with a 'sitemap'/index of terms and where they

[2022-06-17 10:34] andreasabel commented on #5964
How do you envision the index to look?
Some thing like:
[code]
So this would be mapping unqualified identifiers to all of their qualified versions...

[2022-06-17 10:39] jfdm commented on #5964
That is a good question (Look & Feel)!

I think your suggestion is quite natural and makes sense. It would allow for better organisation. In general, perhaps, going by what is already done in literature/existing documentation would suffice. I think your suggestion does that.

[2022-06-17 12:04] andreasabel commented on #5952
Maybe that's ok now: https://github.com/agda/agda/actions/runs/2515014220

<img width="236" alt="Screenshot 2022-06-17 at 14 04 12" src="https://user-images.githubusercontent.com/1155218/174294714-0739dabf-4943-4834-8ea3-0e1de391dd77.png">

The library test (cubical, std-lib) will likely grow in the future (as stuff gets added to the libraries).

[2022-06-17 12:07] #5952 closed, assigned to andreasabel

[2022-06-17 13:27] andreasabel commented on #5952
Another measurement: https://github.com/agda/agda/actions/runs/2515395634

<img width="233" alt="Screenshot 2022-06-17 at 15 27 15" src="https://user-images.githubusercontent.com/1155218/174307527-f0c3dd27-bdf3-4f2e-adda-0eab8738fabb.png">

[2022-06-17 13:47] jespercockx commented on #5926
That's indeed interesting. It seems plausible that this is indeed what's causing the performance issues. Three possible solutions I can see:
- Don't use `instantiateFull` in performance-critical places
- Cache free variables as suggested by @andreasabel .
- Make a variant of `instantiateFull` that also returns the set of remaining free variables after instantiation.

[2022-06-17 14:04] jespercockx commented on #5961
Indeed, this is what https://github.com/agda/agda/issues/5929 is about. There's other open issues regarding rewriting and eta-equality, see for example https://github.com/agda/agda/issues/3871, https://github.com/agda/agda/issues/4755, https://github.com/agda/agda/issues/5174, https://github.com/agda/agda/issues/5929. I believe that these might be easier to fix with "plain" rewrite rules (that don

[2022-06-17 14:55] nad commented on #5963
I don't think this change is a good idea. If kpsewhich is not installed and the file is already present in the target directory, then it is overwritten, even if the user has made local changes to the file.

[2022-06-17 15:25] mikeshulman commented on #5923
It definitely *could* work, since as you say it works with datatypes and defined projections.  I was assuming Agda's perspective was that for records, `fst u` is a spine with `u` as its head, since `u` is in "elimination position", rather than a spine with `fst` as its head as would be the case if `fst` is an ordinary function and `fst u` is an ordinary function application.

[2022-06-17 18:28] nad commented on #4653
I'm working on this.

Perhaps it would be better to number every ("relevant") anonymous module sequentially in the file, and use (for instance) the id `2.A` for `A` in the second anonymous module. Some examples:
[code]
For the last identifier we have a choice:
* For uniformity we could go with `6.A`.
* There can only be one `A` in the top-level scope, so we could also go with `A` (#2735).

Perhaps

[2022-06-17 19:05] andreasabel commented on #5963
Maybe we should have a simple check along `doesFileExist` in case the call to`kpsewhich` doesn't succeed?

[2022-06-17 19:21] andreasabel commented on #5963
Note that a user running the LaTeX backend (and actively making changes to `agda.sty`) will very likely have a TeX installation which includes `kpsewhich`.

[2022-06-17 20:05] nad commented on #5963
If the only reason for changing the code is that the test suite fails, then I think it is better to change the test suite than to change the code (and make it more complicated). Perhaps you could install a dummy program called kpsewhich.

[2022-06-17 21:55] nad commented on #4653
Is there a simple and efficient way to figure out if a `QName` was declared as a public or a private name?

[2022-06-18 05:14] andreasabel commented on #4653
Not sure. AFAIK, the scope machinery cares mostly about what is in scope and what a module exports.
Probably you are asking because you searched and didn't find anything.  I didn't find anything straight away either.

Maybe you can add this information in the maps going back from abstract to concrete names:
https://github.com/agda/agda/blob/fd5d371c71262958fde3a7c70ad3cb1de63327b0/src/full/Agda/Sy

[2022-06-18 05:19] andreasabel commented on #5963
Frankly, the error you used to get
[code]
wasn't a work of beauty, I had to grep the Agda source code to make sense of it.  Also, I found it hard to imagine that Agda would call a TeX utility even if TeX wasn't actually run.
So, no, I do not want to go back to the previous state of the art.

[2022-06-18 06:11] andreasabel commented on #5963
@nad wrote:

Fixing that in #5965.

[2022-06-20 16:25] nad opened #5966 "Improved performance by switching to `vector-hashtables`"
A performance debugging story:

I noticed that Agda had become slower. I had some benchmark logs from earlier this year lying around, so I knew roughly how fast Agda could be for that benchmark, and a recent version of Agda was significantly slower. However, when I compiled some variants of Agda from around the time of the benchmark logs the program was still slow. Fortunately I had an old, alread

[2022-06-21 03:19] L-TChen commented on #5864
For the record, during AIM XXXV we concluded that we plan to implement @andreasabel's proposal with tactics whose types are of the form
[code]
where `Scope` will be a new type for scope trees introduced by the layout on the left-hand side. Therefore, there is no need to give names to tactics manually and the layout on the LHS looks exactly like normal Agda declarations without a definition.

[2022-06-21 08:03] nad commented on #5966
Some timings for type-checking and loading the standard library, with several variants of a recent version of Agda (in no case compiled with the flag `optimise-heavily` on, and unordered-containers 0.2.19.1 was used every time):

* With hashable 1.3.5.0 and hashtables 1.2.4.2:
[code]
* With hashable 1.4.0.2 and hashtables 1.3:
[code]
* With hashable 1.3.5.0 and [vector-hashtables](https://hackage.

[2022-06-21 12:43] #5963 closed, assigned to andreasabel

[2022-06-21 13:43] andreasabel commented on #5966
What are the lessons learned from your analysis?
- Require `hashtables >= 1.3` (I suppose.)
- Anything on `hashable`?
- Anything on `unordered-containers`?

[2022-06-21 13:49] nad commented on #5966
If hashtables is used. I have already committed such a change, but that requirement is only imposed starting from GHC 9.0.

No.

No.

[2022-06-21 17:43] nad commented on #5966
I managed to compile Agda, with vector-hashtables, using all versions of GHC that we support. The test suite does not complain. Do you think we should switch?

[2022-06-21 18:56] nad commented on #4653
I realised that the naming scheme outlined above does not work for record constructors (not even public ones):
[code]
The two constructors `c` are overloaded, so the identifier `c` cannot be used for both of them. Furthermore, if the identifier `R.c` refers to the field `R.c`, then it cannot also refer to the constructor `c` of the record type `R`.

I think it is problematic that the two construct

[2022-06-21 21:43] nad commented on #2735
I guess this comment referred to a previous implementation, which not only generated "symbolic anchors", but also used such anchors in links.

[2022-06-21 21:55] nad commented on #4653
A larger test case:
[code]

[2022-06-21 21:57] nad commented on #4653
I went with the second choice (`A`). I also used `{mod}` instead of `{module}`, and `{con}` instead of `{constructor}`. Furthermore I added support for generalisable variables.

[2022-06-22 05:40] andreasabel commented on #5966
The changes in your PR amount to swapping `new` for `initialize 0` and some import changes.  These can be wrapped in a small compatibility module, like `Agda.Utils.Hashtables`.  Then, we do not have to worry about whether we should switch so much, because it will be easy to switch back.  (E.g. if you keep the code for `hashtables` in a comment.)

[2022-06-22 09:42] nad commented on #5966
I added `Agda.Utils.HashTable`. I did not comment out any code, instead I first added the module, and then I switched to vector-hashtables in a separate commit.

[2022-06-22 12:25] nad commented on #4653
I implemented some more things:
* The HTML backend now raises an internal error if a duplicate symbolic anchor is detected. I am not entirely certain that this error will never get raised, but if it does get raised, then we can investigate the problem.
* If duplicate symbolic anchors are not generated, then it is safe to use them in links, so symbolic anchors are now again used in links.

[2022-06-22 14:23] #5966 closed, assigned to nad

[2022-06-22 14:31] nad commented on #2735
I have re-enabled use of symbolic anchors in links (#5970), and numbered links are still used for names coming from opened parametrised modules. Is there an easy way to find the original `QName` corresponding to a name coming from something like `open M Γ`?

[2022-06-23 09:04] UlfNorell commented on #5926
I think for the free variable caching to work `instantiateFull` needs to be aware of it and preserve it when nothing changes. Maybe the best solution would to combine the second and third suggestion by having `instantiateFull` fill in the free variable cache.

[2022-06-23 18:38] nad commented on #3198
I used `{doc}id` instead of `id;comment`. If feature request #5541 is implemented, then we could use these identifiers for the proper documentation comments instead: the heuristic that I implemented does not always lead to reasonable links.

[2022-06-23 19:05] guilhermehas opened #5972 "Changing .agda-lib file"
I would like to run Agda outside the main directory because I am creating a tool [Bazel Agda](https://github.com/guilhermehas/rules_agda).

The idea is: instead of running `cd testing && agda a.agda`, I would run `agda --library-lib testing/testing.agda.lib -i testing testing/a.agda`.
I haven't found the answer in [Library Management](https://agda.readthedocs.io/en/v2.6.2.2/tools/package-system.ht

[2022-06-24 00:32] andreasabel commented on #5972
Would an option `--cwd testing` help here? (Run: `agda --cwd testing a.agda`.)
- #5915

[2022-06-24 04:00] #5727 closed, assigned to L-TChen

[2022-06-24 08:49] nad commented on #5972
[code]

[2022-06-24 13:14] guilhermehas commented on #5972
I think that I solved my problem with @nad idea and using a flag `--library-file` for my custom library file.

This can be useful too.

[2022-06-24 13:14] #5972 closed, assigned to nobody

[2022-06-25 04:48] mikeshulman commented on #4343
Is there any prospect of fixing this issue?  Even if the underlying problem #4272 is too much work to fix, could some band-aid be implemented for rewrite rules specifically?

This behavior is _very_ confusing, especially when developing interactively in Emacs.  Say I try to load `N.agda` with `C-c C-l` and get an error.  I see that the error occurred in `N1.agda`, so I open up that file to figure

[2022-06-25 09:20] nad opened #5974 "Link to symbolic identifiers"
In order to make it easier to discover the symbolic identifiers (#2604) I think the HTML backend should generate links to them (when available), rather than to the numeric identifiers. This requires at least two things:

* The symbolic identifiers should be unique (#4653).

* When a link is generated to a symbolic identifier it should exist. Currently the [`defSiteAnchor`](https://github.com/agda/

[2022-06-25 09:20] nad commented on #4653
Assuming that the anchors are actually generated, which turned out to not always be the case. I opened a new issue for this (#5974).

And also assuming that links point to the right locations, which also turned out to not always be the case (see #5974).

[2022-06-25 10:06] nad opened #5975 "A separate NameKind for bound module names"
Currently we have the following 'NameKind's:

https://github.com/agda/agda/blob/1b44372081e5b21b1a368d0e63cc09a53c48d20b/src/full/Agda/Interaction/Highlighting/Precise.hs#L94-L109

Now consider the following code:
[code]
Here the two occurrences of `A` are treated as `Bound` variables, and perhaps it makes sense to treat the two occurrences of `N` as bound module names. One could add an extra argu

[2022-06-25 10:08] nad commented on #4653
The error is raised for the following piece of code:
[code]
The two occurrences of `N` get the same symbolic identifier. This could perhaps be fixed by treating these occurrences of `N` as bound (#5975), so that no symbolic identifier is generated for them.

[2022-06-25 10:08] nad commented on #5975
Some [motivation](https://github.com/agda/agda/issues/4653#issuecomment-1166247300).

[2022-06-25 14:08] nad opened #5976 "Inconsistent treatment of redeclarations of names"
Currently the following code is allowed:
[code]
However, the following code is rejected:
[code]
[code]
I suspect that this is by accident rather than design, and I think we should treat these two cases in the same way.

Here is another example. The following code is accepted:
[code]
However, the following code is not accepted:
[code]
[code]

[2022-06-26 09:53] nad commented on #5974
With the current (disabled) implementation one can get bogus links. I re-enabled the generation of links to symbolic identifiers by renaming `_aName` to `aName` and replacing line 428 with line 429:

https://github.com/agda/agda/blob/1b44372081e5b21b1a368d0e63cc09a53c48d20b/src/full/Agda/Interaction/Highlighting/HTML/Base.hs#L423-L430

Now consider the following example:
[code]
[code]
The generate

[2022-06-26 09:54] nad commented on #2735
This part of this issue has been moved to issue #5974.

[2022-06-26 10:24] nad commented on #5974
If this issue is fixed, then I suggest that we also add the HTML backend option `--html-link-to-comments`. If this option is used, then links to definitions with symbolic identifiers should instead go to the corresponding comment (if any), see issue #3198.

[2022-06-26 10:24] nad commented on #3198
I moved this part to issue #5974.

[2022-06-27 12:04] andreasabel commented on #5976
See also https://github.com/andreasabel/agda-scope#rfc-agda-shadowing-rules.

[2022-06-27 12:51] nad commented on #3801
I agree.

[2022-06-30 02:12] mikeshulman opened #5979 "Feature request: allow _=_ in user space"
It's a constant source of low-level annoyance to me that Agda doesn't permit using the standard mathematical symbol `=` for propositional equality, and I don't think I'm the only one.  Coq and Lean allow the user to define relations called `=`, using `:=` instead for definitions.  I wouldn't have thought to suggest this could be altered, but some people on the HoTT Zulip thought it might not be im

[2022-06-30 10:42] nad commented on #5979
Some thoughts:

* A disadvantage of this kind of feature is that it might make it harder to read Agda code. However, the idea seems to be to make it possible to use a long-standing convention from mathematics, and thus perhaps make the code easier to read for some people.

* If we allow `:=`, then I would also like to allow `≔`. I suggest that we allow arbitrary strings, with some exceptions (whit

[2022-06-30 13:43] mikeshulman commented on #5979
I agree that this could make it harder to read code.  There's definitely a tradeoff in customizability versus uniformity.  Allowing renaming of `Set` can also make it harder to read code (I speak from experience!).  I think personally that for this change, like that one, the benefits outweigh the disadvantage, but the disadvantage is definitely real.

I observe that when `Set` is renamed to `Type`

[2022-06-30 15:39] nad commented on #5979
That is not true:
[code]

[2022-06-30 17:30] mikeshulman commented on #5979
Ah, I wasn't aware of the option `--no-import-sorts`.  Sorry for the noise.

[2022-06-30 21:24] nicolaikraus commented on #5979
It would be great to have such an option in Agda. This would allow us to formalise papers and use the same syntax that the paper uses (which often is `_=_`).

But I worry whether this might lead to confusing error messages? Would it be hard to detect that something doesn't parse simply because the user did/didn't use `--definition-string=:=`?

[2022-07-01 06:05] andreasabel commented on #5979
In analogy to pattern lambda, a natural symbol to replace `=` would be the right arrow `->`.
In general, making keywords customizable is a bad idea, only escalating the Babylonian language confusion.  Less freedom of expression is good if you want people to understand each other.
Of course, in the case of `=` the idea here seems to move closer to a standard, which is in this context presumed to be

[2022-07-01 09:26] nad commented on #5979
I don't want to read or write `Relation A → A → A → Type`.

The "standard" is not Coq, but rather mathematics.

[2022-07-01 16:14] andreasabel commented on #5979
`Relation = \ A → A → A → Type` does not look much better, haha!

[2022-07-01 16:42] mcwitt commented on #5664
@Vonfry a slight modification of your attempted fix is working for me:

[code]

[2022-07-01 17:20] mikeshulman commented on #5979
In general, I agree.  For this reason, I'm wary of the idea to allow the user to specify an arbitrary string for definitions.  I think there would be less potential confusion if there were only two options, `=` and `:=`.

Exactly.  Coq is just following that standard.

Indeed not!  But if it was a bad idea to use `→` for lambdas, it doesn't follow that we should propagate that bad idea to definiti

[2022-07-03 03:03] tizmd opened #5981 "Incomplete pattern matching occurs on different decomposing pattern"
In the following example, two functions `f1` and `f2` are doing similar things but only `f2` receives an Incomplete pattern matching error.

platform: Mac OS X 12.4
agda version:  2.6.3-3044510

[code]

[2022-07-03 06:54] andreasabel commented on #5981
Can you state whether you think that Agda's behavior is wrong?  Either:
- a case that is missing in `f1` but Agda does not report it, or
- a clause in `f2` that actually covers one of the cases reported missing for `f2`?

Note that Agda splits by default left-to-right.

Hint: if you want to exclude catch-all cases, use `{-# OPTIONS --exact-split #-}`.

Some formatting to see what is going on:
[cod

[2022-07-03 07:26] tizmd commented on #5981
Neither one.  These cases in the error report are empty so the clauses in f2 cover every cases.
But ok, just adding missing cases as the following solves the problem. Thanks.
I just expected agda can automatically find these cases are empty.

[code]

[2022-07-03 07:26] #5981 closed, assigned to nobody

[2022-07-04 14:11] WhatisRT opened #5982 "quoting/unquoting changing unexpected subterms"
Consider the following code:

[code]

Loading this will print `g (f A)` into the debug buffer. However, if we remove the level parameter from `Test`, turning its type into `Set → Set`, it will print `g (f _)` instead. The same is true if we make `g` a postulate instead.

What is going on here? I don't think `reduce` should ever turn an argument that isn't `unknown` into an `unknown`.

[2022-07-04 15:07] nad opened #5983 "Possibly quadratic behaviour"
I grepped for `\+\+ \[` and found several pieces of code that can perhaps lead to quadratic behaviour (I ignored code under `Agda.Auto`):

https://github.com/agda/agda/blob/3044510c8966a1876951e807f1393bbc3b5e6169/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L150

https://github.com/agda/agda/blob/3044510c8966a1876951e807f1393bbc3b5e6169/src/full/Agda/Interaction/Options/Base.hs#L782

https://github

[2022-07-04 21:27] andreasabel commented on #5982
Thanks for reporting.

Could you add more evidence for your claim?  From the bug report, it does not become clear that
- `reduce` is to blame
- the argument is actually an `unknown` (Agda also prints not-in-scope things as `_`).

[2022-07-05 07:35] jespercockx commented on #5982
Also note that `reduce` does not do just reduction: it will first unquote the term, then run it through the typechecker, *then* reduce it, and finally quote the result again. Currently, this is how all primitive `TC` operations on terms work. So perhaps the typechecker is to blame instead of the evaluator.

[2022-07-05 12:51] WhatisRT commented on #5982
It seems that this is indeed not the fault of `reduce`. I changed `test` to this:
[code]
This shows that `f` is applied to a visible `unknown` and an instance `var 0` without the level on `Test`, and the only difference with the level on `Test` is that the `unknown` is a `var 1`, the terms are identical otherwise. Removing the line that unquotes and quotes t prints exactly the term that is bound f

[2022-07-06 05:49] andreasabel commented on #5983
Thanks for investigating.  The individual items would be more valuable with reproducers (although I think you couldn't pin performance problems to just one of these items, esp. when the problem is triggered by large terms).

I guess the most relevant of these would be concerning _lists of eliminations in internal syntax_.  We typically read these first-to-last but often need to append a new elimin

[2022-07-06 11:42] nad commented on #5983
Given the high "constant factors" that I think are associated with `Data.Sequence` you might see both better and worse performance, depending on the test case.

[2022-07-06 12:03] jespercockx commented on #5983
A more lightweight alternative might be to use difference lists? (e.g. https://hackage.haskell.org/package/dlist-1.0/docs/Data-DList.html)

[2022-07-06 12:24] #5770 closed, assigned to jespercockx

[2022-07-07 11:52] andreasabel commented on #5983
Not sure about `dlist`.  They are good for construction, but as soon as you start consuming, they need to be collapsed into ordinary lists.  If you store a `dlist`, then every inspection needs to do the collapsing again.

[2022-07-08 10:18] nad commented on #5983
How are these lists used? Would a FIFO queue data structure suffice, or some kind of deque, or are elements also accessed based on their position?

[2022-07-08 16:56] UlfNorell commented on #5983
When projecting from a constructor application you need the *i*th argument in the list of eliminators.

[2022-07-09 05:52] andreasabel commented on #5983
(Removing label "bug": There is no evidence for such claim here.)

[2022-07-09 07:36] mikedelorimier opened #5985 "internal error from Substitute.hs:134"
I was doing an exercise from the book Programming Language Foundations in Agda when emacs reported the message:
[code]

The exercise is described here: https://plfa.github.io/Lists/#exercise-all--practice

In the below reproducer code I had just expanded the `from∘to` using C-c C-c. When I pressed C-c C-l the error message was reported. Normally C-c C-l would replace the `?`s with holes.

[code]

[2022-07-09 07:44] mikedelorimier commented on #5985
This has something to do with the recursive call to `_≃_.to All-∀` in the `to` definition. Defining `to` in the where clause with recursion directly to itself made the error go away:
[code]

[2022-07-11 08:46] andreasabel commented on #5985
I tried your code with Agda 2.6.2 and current master and could not reproduce the bug. Until further notice, I classify this as _already fixed_.

I am sorry, but we do not fix bugs in old versions of Agda.

I think work on the PLFA side is on the way to upgrade to latest Agda:
- https://github.com/plfa/plfa.github.io/pull/711

[2022-07-11 13:15] j-towns opened #5989 "Dead-code elimination crashes function with private tactic argument"
To reproduce, create two files:

`Foo.agda`:
[code]

`Bar.agda`:
[code]
Then typechecking Bar.agda throws
[code]
Making `trivial-tactic` non-private makes the error go away. The following single-file setup also typechecks fine:
[code]

I'm using Agda built from the current git master (a47f876).

Having searched through old issues it looks like this one is potentially related: https://github.com/ag

[2022-07-11 22:00] andreasabel commented on #5989
My guess: deadcode elimination zaps private definitions from interface files, but this causes a problem with the novel feature of tactics.

[2022-07-12 09:18] andreasabel commented on #5985
Closing, feel free to reopen if reproducible on latest Agda.

[2022-07-12 09:18] #5985 closed, assigned to nobody

[2022-07-12 11:33] #5989 closed, assigned to andreasabel

[2022-07-12 14:17] j-towns commented on #5989
Thanks @andreasabel!

[2022-07-12 18:43] nad commented on #5983
Here is one example. Compare Agda's performance for the following families of files:
[code]
[code]

[2022-07-13 11:39] andreasabel commented on #5983
I didn't do the "families", but both these instances parse instantly.

[2022-07-13 12:07] andreasabel commented on #5899
I cannot reproduce this problem on current master any more, so I am closing this issue.

[2022-07-13 12:07] #5899 closed, assigned to nobody

[2022-07-20 02:24] dolio commented on #5956
Here's a shorter way to trigger (probably) the same error.

[code]

Filling it in to:

[code]

avoids the error. So it probably has something to do with inferring the empty system.

[2022-07-20 09:57] oisdk opened #5993 "Termination Check Fails for Recursion Principle on HIT"
I am trying to define the recursion principle for a HIT. `BListQ` below is a simplified version of the type:

[code]

This type is a quotient of lists of bools, where the quotient relation is defined using a fold over the unquotiented type.

It does not seem possible to define a recursion principle for `BListQ` that passes the termination checker:

[code]

I can't figure out a way to reformulate t

[2022-07-20 10:58] kangxyz commented on #5993
A simpler definition works:
[code]
As for your definition, it seems you cannot call `rec B alg p (foldr op a t)` in recursion. I think the termination checker is unable to decide whether `foldr` involves any path constructors of `BListQ`, say `eq a i`, which may cause infinite loop.

[2022-07-20 11:19] oisdk commented on #5993
While the simpler definition works, it does not work if `l` and `r` are variables, i.e.:

[code]

[2022-07-20 14:27] kangxyz commented on #5993
Yeah, it only works when `l` and `r` are closed terms. If I understand your definition right, maybe the following is better to write a recursor:
[code]
Unfortunately I am not even sure whether they're equivalent types, since `eq` may introduce some higher paths. But they seem to be equivalent after set truncation.

[2022-07-20 14:47] oisdk commented on #5993
In my actual use-case, that form is indeed the one I'm using. It has its own problems, though, so I'm hoping that the first version can be formulated in some way. I'm trying to figure out if there is indeed some fundamental reason why the former version won't pass the termination checker, or if it's just a bug/limitation with Agda.

[2022-07-21 14:26] andreasabel commented on #5956
Thanks for the smaller reproducer!
The crash happens here: https://github.com/agda/agda/blob/5d30d8e7a25dfced02edefd82699f1f7b6f79316/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L822-L823
This means that an extended lambda without clauses is generated somewhere.

[2022-07-21 15:45] andreasabel commented on #5956
Fixed in #5994 by reifying empty systems to absurd lambdas.

[2022-07-21 20:28] #5956 closed, assigned to andreasabel

[2022-07-22 08:40] jespercockx commented on #4755
Here is another example that violates the rule I came up with two messages ago and causes weird behaviour as a result (from https://agda.zulipchat.com/#narrow/stream/238741-general/topic/rewriting.20eta-contraction.20for.20a.20datatype/near/289788505):

[code]

The term in the hole has type `A ⇨ B`, but normalizes to `f`, whose type `⊤ ⇨ B` is not convertible with `A ⇨ B`.

[2022-07-26 14:34] jespercockx commented on #4755
I tried to implement the solution I suggested two posts ago, but this turns out to be a rather annoying and gnarly property to analyze. However, then I realized that the core problem here is actually that the pattern variable that is bound in the parameter position is also bound somewhere else in the pattern, i.e. it occurs non-linearly. This turns out to be easy to prevent and rules out all the b

[2022-07-26 15:27] plt-amy opened #5997 "Collect interaction point boundaries while elaborating right-hand-sides?"
# Background

The user experience for Cubical Agda is subpar, and one of the biggest problems is that, even though interaction points _appear_ to have boundaries, there is a very limited set of circumstances that will actually cause an interaction point's boundary to be restricted. To wit: this only happens in `checkIApplyConfluence`, so if the interaction point does not have a boundary specified

[2022-07-26 16:40] #4755 closed, assigned to jespercockx

[2022-07-27 16:31] plt-amy commented on #5997
I edited the issue to include a more concrete proposal of the design I was thinking about. To be clear: I'm volunteering to implement this, as long as someone experienced with the Agda codebase can look at this proposal and say "yeah, could work" or "nah, don't even bother".

This is, in a sense, an adaptation of redtt/cooltt's treatment of "cubical interaction points" that can be implemented with

[2022-07-27 19:30] jespercockx commented on #5997
I applaud the initiative to make Cubical Agda more user-friendly, and the proposal makes sense to me from the implementation perspective. However, I am not an expert on the implementation of `--cubical`, and neither at the semantics of cubical type theory. Since this seems to be a change to the semantics of Cubical Agda and not just the UI, I think it would be a good idea to check this with someon

[2022-07-27 20:47] Saizan commented on #5997
The current implementation for Boundaries for interaction points is indeed not ideal, and improvements are welcome!

To give a bit of context, extracting information from the unification machinery did not seem appealing because of these:
1. Terms might be more normalized than necessary by the time we realize it's a boundary.
2. Equality constraints involving non-injective term formers block progre

[2022-07-27 21:14] plt-amy commented on #5997
This is good to know. I assume that's why, even when `checkIApplyConfluence` can work out a boundary, we still get unsolved constraint errors? I won't get rid of the constraint, to make sure that nothing actually explodes... but after a first prototype it'd be nice for constraints that got marked as "being a boundary" became "silent" somehow.

I don't think we should worry too much about constrain

[2022-07-28 13:13] plt-amy opened #6001 "Bad error message when matching into unresolved sort with --cubical"
Related, but not identical to, #5816. This was accidentally stumbled upon by @tomdjong and minimized by @JakobBruenker; many thanks to both!

[code]

Type checking this explodes with

[code]

which is the call to `toLType` in `transpSys`. If we log the type that's being `toLType`'d, i.e.

[code]

then we see that it's exploding after

[code]

[2022-07-28 13:23] plt-amy commented on #6001
Naïve solution idea (might be completely out of whack since I'm new to all this): @andreasabel can we block on any meta appearing in the type when `toLType` fails, to defer generating the trX-trX clause?

[2022-07-28 14:47] andreasabel commented on #6001
The question is, defer until _when_?
You can defer the _production_ by having a new `Constraint` form that gets retried once the blocking metas are solved.  But you also need to block the _users_ of the trX-trX clauses.  Not sure what this means, but maybe this means you need to block the checking of the whole `bug` function above, does it?

[2022-07-28 17:26] anuyts commented on #2622
I would like this feature especially because it would allow effectively the definition of record synonyms.
This way, if some library defines the concept of a group (algebraic structure), and in hindsight we want to define a group as a monoid with inverses, then we can refactor AND keep the original interface as a synonym for better backwards compatibility.
Even aside from backwards compatibility,

[2022-07-29 03:10] YellPika opened #6002 "Proof of ⊥ with sized types"
The following code is accepted by both the latest release and `master`.

[code]

The fishiest thing to me is the definition of `Embed`, which seems like it should belong to `Set₁` instead of `Set`. It would appear that Agda treats `A` like a parameter instead of an index, despite the fact that its type depends on an index (`i`).

[2022-07-29 08:58] andreasabel commented on #6002
Bad things already happen without `Embed`:
- #1458
- #1946

The new thing seems to be that `Embed` allows to define a fixed point of an arbitrary _unsized_ endo-function in `Set -> Set`.

[2022-07-29 09:31] andreasabel commented on #6002
Here is a small simplification (eliding the data type `Bad`, making sizes explicit):
[code]
UPDATE: Further simplification:
[code]

[2022-07-29 10:10] andreasabel commented on #6002
The fact that `A` is _forced_ in the constructor of `Embed` lets it skip the universe check: https://github.com/agda/agda/blob/5d2d77abbc0c97f5b23d7089797c3ef8796508dc/src/full/Agda/TypeChecking/Rules/Data.hs#L1750-L1753
The rationale was that you cannot project out `A` from a value of `Embed` without having it already, so there is no danger of a Russel-style paradox.  At least with sized types, t

[2022-07-29 12:34] andreasabel commented on #6002
Final shrinking:
[code]
The type `T` already falls outside the intended use of sized types.
But `Embed` makes it worse because it gives an isomorphism between `T i`  and `Set` for all `i : Size`, when for the 0 size `T 0` should be empty.  This leads to a fixed-point combinator in `Set` by fooling the termination checker to believe something coinductive is defined.

I pondered whether the omitted

[2022-07-29 14:28] mikeshulman opened #6003 "de Bruijn index out of scope when rewriting"
I'm sorry that this example is so long; I wasn't able to remove any parts of it and still reproduce the error.

[code]

In Agda 2.6.3-5d2d77a this produces

[code]

[2022-07-29 15:26] anuyts opened #6004 "Keyword that makes module parameters implicit"
When a record (or data?) type is defined inside a module, and then one of its fields (or constructors?) is called outside the module, all module parameters are turned into implicits, because they can be inferred due to injectivity of type constructors.
There should be a keyword that users can put on their own declarations (definitions, submodules, …) that has the same effect.

[2022-08-01 06:03] mikeshulman commented on #6003
I got a similar error elsewhere in my code:
[code]
It seems reasonably likely that this has the same or similar cause, since it cites the same line of the Agda source.  If it would be helpful to have another example, let me know and I can post the second one.  (It will start out with the same long setup, but the error is triggered by something different.)

(I am aware that I'm doing terrible thing

[2022-08-02 11:36] flupe opened #6005 "Panic: Pattern match failure with Setω and --without-K"
There seem to be a regression in the current master of Agda.

The following code (where we define the equality type at Setω)

[code]

fails with the following message:

[code]

Can confirm this typechecks fine with the latest release (`2.6.2.2`) and with `--with-K`.

[2022-08-02 17:59] mikeshulman opened #6006 "Internal error rewriting with holes"
While trying to adapt the rest of my code to the restriction of #5996, I ran into another internal error.

[code]
In Agda 2.6.3-5d2d77a this yields
[code]
I don't know whether this has to do with the presence of unfilled holes in `Sq` and `sq`.  I plan to comment out the final `REWRITE`, which is what produces the error, and figure out how to fix things so those holes can be filled, and then I'll

[2022-08-02 20:09] anuyts commented on #5997
I'm a cubical Agda user and a semantics person, not an Agda developer.

I can't follow the details about the current implementation, but the above proposal sounds sensible and would greatly improve the user experience.
To my understanding, especially after @Saizan's remarks, the proposal would not change anything to the semantics of the language, but present information in a prettier form and also

[2022-08-02 20:22] jonsterling commented on #5884
You may be interested in checking out what we did in cooltt, which is similar to your proposal i think.

[2022-08-02 22:08] plt-amy commented on #5997
@anuyts you're right that there is no clear motivation for forbidding non-endpoints after the first endpoint; the current implementation allows these. It's still _very_ rough around the edges, but using funext as an example:
[code]

the interaction point there has goal-type-and-boundary

[code]

`x` _shouldn't_ be recorded as part of the face, so for now please pretend that it isn't :slightly_smil

[2022-08-02 22:16] plt-amy commented on #5997
As for refactoring the type checker to keep precise track of boundaries... I'm not sure that it'd actually be worth the effort. You're correct that doing so would be, from an elegance/correctness perspective, a _much_ better approach, but it'd also be a significant undertaking and, as a personal conjecture, I believe that it'd be _less general_ than the slightly wonky reconstruction of boundaries

[2022-08-02 22:43] anuyts commented on #5997
Well I guess all the combinators that I propose become silent in your approach, which is a clear advantage.

[2022-08-03 06:41] Saizan commented on #5884
@anuyts your `Ext` is `Sub` from `Agda.Builtin.Cubical.Sub` and indeed it's not Kan in general.

[2022-08-03 08:06] jespercockx opened #6007 "Allow backends to use a custom monad"
Currently, the backend API of Agda (as defined in https://github.com/agda/agda/blob/master/src/full/Agda/Compiler/Backend.hs) requires the basic functions such as `compileDef`, `postModule`, and `postCompile` to use Agda's `TCM` monad. However, this has the problem that it is impossible to pass a state between different calls to `compileDef`. One way to solve this would be to add an extra state pa

[2022-08-03 08:12] jespercockx commented on #6007
Here's an example of some work that could be avoided if we were able to use a state monad for a backend:

https://github.com/agda/agda2hs/blob/f48bb1c9f4c0f22f02dd6d0c40b2d179ddf31678/src/Agda2Hs/Compile/Utils.hs#L123-L127

[2022-08-03 09:17] flupe commented on #6005
Just noticed the code fails at the same place as #6001. I also logged the types passed to `toLType`, giving:

[code]

As expected, the code fails because `toLType` does not handle things that live in `Setω`, just as for `Prop` (See #5816 and the fix #5897). I tried checking the example with the fix from #5897 and it no longer fails, so we can consider this issue to also be fixed by #5897.

[2022-08-03 12:25] flupe opened #6008 "Variable is not generalized over"
I've come into another regression between current master and the latest release.
I'm struggling to find a minimal example, so here is a short file:

[code]
With the latest release, this typechecks fine and we end up with 4 holes and no other metavariables left to solve. The type of `substⁿ-refl` reduces to:

[code]

With current master though, the type of `substⁿ-refl` somehow does not generalize

[2022-08-03 15:20] plt-amy commented on #6006
@jespercockx It seems like the check for "no metavariables in rewrite rules" can be defeated by hiding the metavariable in the RHS of a function. Here's a minimal reproducer:

[code]

If we change the type of r to `r : ∀ x → F ? ≡ C` then we get the intended, user-facing error

[code]

but if we use `F (a x)`, then we get the internal error above.

[2022-08-03 15:49] mikeshulman commented on #6006
Ah, I suspected it might be something like that.

[2022-08-03 16:08] flupe commented on #6008
Bisecting seems to indicate that commit 982e18cdcbb is when this bug was introduced.

[2022-08-04 10:03] anuyts opened #6009 "Cubical: User-friendly usage of HLevel proofs"
For a while, I've been quite annoyed by the fact that in the following code, I cannot let Agda solve (C-c C-s) both goals below or just write underscores, even though it seemed clear to me that `x` and `y` are the only possible solutions:

[code]

A bit to my surprise, I realized this is not true. The first goal is only constrained at `i = i0` and the second one at `i = i1`:

[code]

The consequen

[2022-08-04 10:52] anuyts commented on #5884
@jonsterling Do you merely mean that cooltt also has `Sub`/`Ext` types, or also that you've used combinators as I described?

[2022-08-04 11:17] jonsterling commented on #5884
What I mean is that in addition to supporting the `Sub`/`Ext` (pre)types, both `cooltt` and `redtt` keep the boundary constraint in the judgment as long as possible; it's true that there are cases where one loses the boundary however. Your combinators are interesting and could be implemented there... But I would like to think about whether we can take some lesson from your combinators and integrat

[2022-08-04 12:14] anuyts commented on #5884
Well I guess we could have a typing rule
[code]
Then when we give a hole `{!f ?!}` of type `B [ φ -> ∂b ]`, I guess this could
* immediately resolve `∂f` to be `f`
* issue a metavariable `∂a` and equate `f ∂a = ∂b`. Then if `f` is judgementally an injective operation and `∂b = f a'`, we do get a subgoal `A [ φ -> a' ]` as desired.

This is a type-theoretic formulation; I'm not sure (due to not bei

[2022-08-04 14:15] MatthewDaggitt opened #6010 "Agda should report errors on `stderr` rather than `stdout`"
It appears that Agda (v2.6.2.2) reports error messages on `stdout` rather than `stderr`. For example when you try to run `agda` on a module with the wrong module name, I get nothing on `stderr` but the following on `stdout`:
[code]

This makes it difficult to integrate Agda with test suites that expect error messages to be reported on `stderr`.

[2022-08-04 14:45] anuyts commented on #5884
This was fun!
I had success in a few places, but problems in most, and I do not understand all of them.
On `isProp→collapseBool`, I seem to have run into an Agda bug, where reloading after giving changes the Agda state.

[code]

[2022-08-05 15:28] nad commented on #5983
Try with hundreds or thousands of lines instead of `⋮`.

[2022-08-05 18:53] nad commented on #6010
Which parts of the output do you think should go to stderr? We have at least three categories: errors, warnings, and other messages corresponding to different verbosity levels.

[2022-08-05 19:04] nad commented on #6004
Can you give an example of what you want to do?

[2022-08-05 19:33] anuyts commented on #6004
In general, anything whose type mentions a datatype or record defined in the same module, doesn't need all the parameters explicitly as they can be inferred thanks to injectivity of type constructors. For example:
[code]
Now `_++_` doesn't need `A` explicitly.

An especially important application is when you refactor in such a way that a constructor/field becomes an ordinary function and you want

[2022-08-05 19:40] nad commented on #6004
How should the keyword be used for this piece of code, and what effect should it have?

[2022-08-05 19:52] anuyts commented on #6004
In the above examples I would use it on `_++_`, `frst` and `scnd` so that these functions can be called from outside the module without the explicit argument `A`.

[2022-08-05 20:42] UlfNorell commented on #5983
Can you first explain why we care about efficient parsing of pragmas nested thousands of levels deep?

[2022-08-05 20:52] gallais commented on #6004
In the standard lib this is what we do to achieve that effect.
[code]

[2022-08-06 15:57] plt-amy commented on #6009
I agree completely: filling "dumb" squares cubes that follow from the codomain having a specific h-level is entirely mechanical work that _should_ be handled by the proof assistant. I'm at a loss, though.

For starters, what you propose in #5884 would not help. I don't mean this as a dig against you (or against the cooltt team, whose work I deeply appreciate!), it's just that the particular shape

[2022-08-06 18:10] anuyts commented on #6009
Yes, I didn't mean to claim that either issue could solve this problem, it just seemed useful to have the reference here.
Thanks for providing me with yet another reason to read Jon's work though :)

[2022-08-06 18:44] nad commented on #5983
I don't think this is very important, but Andreas asked for evidence of quadratic behaviour.

Here is a possibly more relevant example of superlinear performance:
[code]
When I doubled the number of arguments (from 130 to 260, and then to 520) the type-checking time increased by first a factor of ∼5, and then a factor of ∼6, to about six seconds (on my machine). I don't know why Agda is so slow, b

[2022-08-07 16:28] szumixie opened #6011 "Internal error when declaring weird relation as the REWRITE relation"
The following nonsense code
[code]
produces an internal error:
[code]

[2022-08-09 14:24] andreasabel commented on #6010
Plain Agda does not produce regular outputs, so I suppose everything should go to `stderr`.  Interaction-Agda (`agda --interaction`) does have regular outputs: commands to the client.  These should go to `stdout`.  Anything else?

[2022-08-09 15:07] MatthewDaggitt commented on #6010
Only the first category, i.e. messages that cause Agda to exit prematurely.

That makes sense to me @andreasabel :+1:

[2022-08-10 17:54] plt-amy opened #6015 "Pi types and Partial types should not be considered inter-convertible"
`Partial φ A` is essentially defined to be `.(IsOne φ) → A`, and indeed Agda thinks these types are equal, as can be checked with the following snippet.

[code]

But `Partial φ A` isn't _literally_ the same as that pi-type, since the type `Partial` unfolds into has its domain marked `domFinite = True`, so that η-equality for elements of `Partial φ A` is checked by decomposing `φ` and checking that

[2022-08-10 18:06] plt-amy opened #6016 "Finite equality for empty domains breaks subject reduction"
At the same time as I was pondering #6015, I remembered this little gem from @pigworker's note "[Grins from my Ripley Cupboard](http://strictlypositive.org/Ripley.pdf)":

[code]

Try asking for the normal form of `i` in the right-hand-side of `k`, and you'll see that Agda says it's `reflₛ`. To clarify: I'm not pointing out that assuming `IsOne i0` (which is empty) lets you prove `true ≡ false`. I'

[2022-08-10 18:22] jonsterling commented on #6016
Can you please make this code self-contained so that I can copy-paste it into Emacs?

[2022-08-10 18:26] plt-amy commented on #6016
Oh, of course!

[_edit_: updated the issue post instead]

[2022-08-10 18:31] plt-amy commented on #6016
`SSet`/`--two-level` is a red herring; Here's one that uses just paths.

[code]

Asking for the normal form of `i` gets me `λ i₁ → tt`.

[2022-08-11 07:23] jonsterling commented on #6016
Very nicely done @plt-amy! For the benefit of the Agda devs, let me comment a bit on how `cooltt`/`redtt` were carefully designed to avoid failures of subject reduction like this. I hadn't predicted this issue in particular, but there were other similar problems that I predicted and was careful to avoid in my design of `cooltt` and `redtt`.

In our tools, we have a syntactic phase distinction betw

[2022-08-11 17:16] mikeshulman commented on #6003
Would it be helpful in fixing this if I were able to make the test case smaller?  (Sorry if this is a dumb question, I don't really have any idea whether the size of the triggering code affects the difficulty of tracking down a bug like this.)

[2022-08-11 18:59] ncfavier opened #6017 "Uninformative error when checking boundaries of functions defined on HITs"
This code:

[code]

produces this error:

[code]

on both Agda 2.6.2.2 and master (5d2d77abbc0c97f5b23d7089797c3ef8796508dc).

For context, I stumbled upon this error while trying to prove that the definition of the torus in terms of `p ∙ q ≡ q ∙ p` is equivalent to the one in the cubical library:
https://github.com/ncfavier/cubical-experiments/blob/f14da384b38cdea9eed82507cd12f6263a85969e/Torus.a

[2022-08-11 19:36] plt-amy commented on #6017
As part of checking `IApplyConfluence` for the last clause, we encounter this conversion checking problem (I've cleaned up the debug output by hand since the conversion checker doesn't use `prettyTCM`):

[code]

Why? Because the LHS of the clause must equal the RHS of the clause, even under "path reductions" (that's the "IApply" in `IApplyConfluence`). The face `~ i ∨ i` is satisfied when `i = i0`

[2022-08-11 19:37] plt-amy commented on #6017
The `(~ i ∨ i) ∨ ~ i₁ ∨ i₁` comes from the `hfill` in the `hcomp` clause for `f`.

[2022-08-11 19:55] plt-amy commented on #6017
I think that, basically everywhere that `equalTermOnFace` shows up, the resulting error message could use more context. Imagine if it were (this wouldn't even be hard to do; I've been in this part of the code):

[code]

The use of "this clause" means that the error's `Range` would be set to the clause's LHS (we have this handy in `IApplyConfluence`). Now, annoyingly, it's hard to figure out why ea

[2022-08-12 11:41] andreasabel opened #6019 "Support GHC 9.2.4"
Bump CI from 9.2.3 to 9.2.4.

[2022-08-12 13:07] andreasabel commented on #6019
Fixed by  1e938360fee4050ee9cd53284a6cb377444bf2df.

[2022-08-12 13:07] #6019 closed, assigned to andreasabel

[2022-08-13 08:27] andreasabel commented on #6011
Thanks!  This works fine with agda-2.6.2.2 and earlier, so, it is a recent regression.

Likely introduced by me:
- https://github.com/agda/agda/pull/5973

[2022-08-13 11:48] #6011 closed, assigned to andreasabel

[2022-08-14 06:37] andreasabel commented on #6003
Yes, this always helps, because focusing the trigger will usually give some idea where the bug could reside (helps _understanding_ the test case), and, trivially, there will be less clutter if debug-printing is turned on.

[2022-08-14 13:08] #5955 closed, assigned to plt-amy

[2022-08-14 13:50] plt-amy opened #6022 "Private bindings in imported modules defeat check for binding of primIdFace/primIdPath"
Suppose you have a module

[code]

and a module

[code]

Normalizing `q` results in fireworks:

[code]

this shouldn't even _type check_ — there is no binding for `primIdFace`/`primIdPath` in scope, which are necessary for transport in the cubical identity types, but the primitives _have_ been bound, so we don't get the expected error message

[2022-08-15 17:23] #6006 closed, assigned to jespercockx

[2022-08-15 17:44] #6003 closed, assigned to jespercockx

[2022-08-16 00:50] plt-amy opened #6027 "Non-linear matching is too eager to give up"
Honestly I relate to the matcher here. Reported and minimized by @FrozenWinters; Many thanks!

[code]

When normalizing `eq`, we match these telescopes/eliminations against each other, which fails because `m + n` isn't `3`. But imagine that we postponed this matching and kept going, looking at the rest of the eliminations (justified because all of the variables appear _again_ in the rest of the el

[2022-08-16 01:17] plt-amy commented on #4309
Is this solved by 552987aa0119f2bca5eaf4dca7934e37209112f9?

[2022-08-16 01:22] mikeshulman commented on #6027
I encountered a very similar issue recently, and my conclusion was that as annoying as it sometimes is, this is what we should expect.  The LHS of a rewrite rule is a *pattern* to be matched against, which means that all non-pattern-variables appearing in it must appear *literally* in a term that it gets matched against.  This includes even things that are "volatile", i.e. have their own reduction

[2022-08-16 08:24] jespercockx commented on #4309
Yes indeed!

[2022-08-16 08:24] #4309 closed, assigned to UlfNorell

[2022-08-16 08:30] jespercockx commented on #6027
Well, there is also a confluence issue here: `--confluence-check` reports the following two critical pairs:
[code]
so I don't think it is reasonable to expect Agda to be able to handle this case.

[2022-08-16 15:11] mikeshulman commented on #6027
Yes, that makes sense!  My workaround appears to pass the confluence check.

[2022-08-16 15:53] mikeshulman commented on #6003
Fantastic!  Thanks for fixing this, even with such a long test case.  As I expected, the fix has also fixed the other similar error.

[2022-08-16 18:09] mikeshulman opened #6031 "Installing development version with cabal"
I think would be useful if the [installation documentation](https://agda.readthedocs.io/en/v2.6.2.2/getting-started/installation.html#installation-of-the-development-version) mentioned that it is also possible to install the development version of Agda with `cabal install` instead of `make install`, and what the differences are between those approaches.  In particular, using Cabal permits the use

[2022-08-16 18:35] andreasabel commented on #6031
I typically do `make v1-install` which isn't much more than a `cabal v1-install`.  In fact, it expands to `cabal v1-install --disable-documentation -j1 --disable-library-profiling  -fenable-cluster-counting --ghc-options="+RTS -A128M -M10G -RTS"  --enable-tests --builddir=./dist-2.6.3-ghc-9.4.1 --program-suffix=-2.6.3`.  Keeping the essential, you could
[code]
but even plain `cabal v1-install` sho

[2022-08-16 18:37] mikeshulman commented on #6031
Plain `cabal install --program-suffix=...` worked fine for me, although one difference I noticed relative to `make install` is that `agda-program-suffix --version` no longer includes the commit hash.

[2022-08-16 21:10] gallais commented on #6031
Looking at the Makefile (the default target is `install-bin`), there is already the automatic addition of `--program-suffix` if you're compiling with `cabal` and what looks like an ad-hoc solution  if you're using `stack` (that's the call to `$(MAKE) copy-bins-with-suffix$(AGDA_BIN_SUFFIX)`. Does `stack` not support program suffixes?).

https://github.com/agda/agda/blob/b52180812845647b57ca3cfbd5d

[2022-08-16 21:51] andreasabel commented on #6031
Maybe because this part of the Makefile is then not run:
[code]

[2022-08-17 00:52] #5661 closed, assigned to nobody

[2022-08-17 00:52] #3714 closed, assigned to plt-amy

[2022-08-17 09:03] nad commented on #5661
Is there a list of the Cubical Agda builtins/primitives which one can define in "incorrect" ways? Did your change remove one or more items from this list?

[2022-08-17 10:30] anuyts commented on #6004
Well this was a baby example of course. What if my module doesn't have 1 but 10 parameters? Then your approach has a few drawbacks:
* Every definition that needs the module parameters explicitly, needs to list them again,
* We need to provide them at every invocation of every such definition,
* When using the no-longer-a-module, we cannot instantiate its parameters once and for all, but have to do

[2022-08-17 12:40] plt-amy commented on #5661
Off the top of my head, the only bulitins you could mess up are `EQUIVPROOF` and `TRANSPPROOF`; the former has been fixed now. I'll have a look to make sure I'm not missing any built-ins, and document the list.

[2022-08-18 10:50] ncfavier commented on #6009
Maybe when multiple solutions exist, `C-c C-s` should prefer the "most constrained" one? i.e. first search for a solution forgetting all boundary conditions, then if it finds none add boundaries one at a time. (I have no idea how any of this works internally, apologies if this is completely off base)

[2022-08-18 12:28] ncfavier commented on #6017
Found a similar error on code that doesn't involve HITs:

[code]

[code]

Uncommenting the lambdas fixes it.

[2022-08-18 12:45] anuyts commented on #6009
Well I think the "promise" of `C-c C-s` is that it does not produce anything unless there is a unique solution, so I think it does behave correctly. There is an unmaintained shortcut `C-c C-a` for filling a hole with *some* term, it would not be inappropriate to tie a solution to that shortcut.

[2022-08-18 13:11] anuyts commented on #6004
As a real-life example, the definitions [`FunNatL→isLeftRelativeRightAdhocAdjunction`](https://github.com/anuyts/cubical/blob/d39b7b651262e063a6e5565a73d6184e701ac1a6/Cubical/Categories/Adjoint/Relative.agda#L88) and [`InvNatL→isLeftRelativeRightAdhocAdjunction`](https://github.com/anuyts/cubical/blob/d39b7b651262e063a6e5565a73d6184e701ac1a6/Cubical/Categories/Adjoint/Relative.agda#L92) in my [dra

[2022-08-18 13:12] #5848 closed, assigned to jespercockx

[2022-08-18 13:12] #5589 closed, assigned to jespercockx

[2022-08-18 13:20] jespercockx commented on #5730
I changed the implementation so it throws a proper error message instead of a match failure. I'm not planning to do anything more on this.

[2022-08-18 13:55] anuyts opened #6035 "Check module equality before issuing "Ambiguous name" error"
When I use a defined name `A` that corresponds to multiple definitions, Agda issues an "Ambiguous name" error. However, if the definitions are actually the same piece of code but accessed through different `open` or `open import` statements and the module of `A` is moreover instantiated each time with the same arguments, then there is no ambiguity and `A` should simply be used.

Either of the foll

[2022-08-18 14:34] anuyts opened #6036 "An overview of module syntaxes: Oddities and missing parts"
Here is an overview of module syntaxes, so as to point out a few funny choices and a few missing parts.

## Defining modules by their contents
We can have
[code]
which brings `A` in scope publicly. Adding a `private` keyword makes it happen privately.

There is a nameless variant
[code]
which brings `def` in scope publicly. Adding a `private` keyword makes it happen privately.
As mentioned in #229

[2022-08-18 15:03] anuyts opened #6037 "Surprising semantics of `module` keyword in `using`/`renaming`/`hiding` clause"
The [documentation](https://agda.readthedocs.io/en/v2.6.2.2/language/module-system.html#name-modifiers) states:

However if `M` is both the name of a definition and a module, then it turns out that mentioning `M` in a `using`/`renaming`/`hiding` clause affects _both_ the definition _and_ the module, _unless_ `module M` is also mentioned in such a clause.
Then again, if `M` is _only_ a module, then

[2022-08-18 15:07] anuyts commented on #6036
An `open` statement allowing abstractions, would allow for the puzzling and in fact objectionable current syntax
[code]
to be replaced with a more principled
[code]
Sensible alternatives:
[code]
[code]
The current syntax is objectionable because the first parameter of `MyRecord` is _not_ an instance argument, yet it is provided as such.

[2022-08-18 15:32] anuyts opened #6038 "Extending existing modules"
As observed by @larrytheliquid in #2293, it is not allowed to extend an existing module like so:
[code]

I would argue that this should be allowed:
* modules are for grouping conceptually related content under a common telescope and determine the interface of a library file,
* the order of definitions is about interdependencies and is determined by implementation details.

These are potentially or

[2022-08-18 15:43] anuyts commented on #2293
I disagree that it is fine that we cannot extend existing modules within the same file (see #6038).

Also I don't think `section` is necessarily the best name: nameless modules are for grouping content under a common telescope and do not necessarily correspond to sections or reasoning stages in a proof. I think `using (tele : Tele) in` or `abstract (tele : Tele) in` would have been a good syntax h

[2022-08-18 16:06] plt-amy commented on #6009
Right, so `C-c C-s` isn't a proof search procedure at all: It just reifies the solution to the metavariable associated with the hole, if any. This means that for `C-c C-s` to succeed, the hole has to have been solved through unification, i.e. you need at least one constraint to have been in the pattern fragment (metavariable applied to a telescope of distinct bound variables ± some η-expansion stu

[2022-08-18 16:19] gallais commented on #6035
This may be convenient in the short term but don't you run the risk of building a massive scope
with many duplicated definitions thus slowing down compilation?

[2022-08-18 16:38] plt-amy commented on #6035
Relevant: https://github.com/agda/agda/issues/4331

.. by which I mean that in a structured signature setup, it'd be possible to cheaply implement this, I think?

[2022-08-18 16:41] gallais commented on #2293
FTR Idris uses `parameters`.

[2022-08-18 21:47] anuyts commented on #6009
From what I've heard, the implementation `C-c C-a` is severely outdated, so I didn't mean it as a practical suggestion, I just meant to say that the behaviour that @ncfavier proposes is something you would expect in proof search, not in a solve goal command.

[2022-08-19 04:38] qlonik commented on #5793
If I may add to this discussion, JS has many different module formats. With support for AMD-style, people might expect support for other styles. However, I don't think it is realistic for agda to support all those formats (and frankly I think it should not support them).

I think it might be a better idea to let developers compiling code into JS choose their own module format using tools like [web

[2022-08-19 08:00] mikeshulman commented on #6031
`make install` does automatically add a program-suffix of `-2.6.3`.  But two different commits on the development branch both add this same suffix, so this automatic suffix doesn't suffice to distinguish them.  I guess I could edit the Makefile directly to set `AGDA_BIN_SUFFIX` to something else...

[2022-08-19 08:04] mikeshulman opened #6042 "De Bruijn index out of scope when rewriting without-K"
Here we go again.
[code]
[code]
Removing `--without-K` makes the error go away (instead the termination checker complains, probably unsurprisingly).

[2022-08-19 08:38] mikeshulman commented on #6042
Changing `Id` to a postulate, with its definition at the bottom replaced by a rewrite rule, also removes the error.

[2022-08-19 09:00] #6042 closed, assigned to jespercockx

[2022-08-19 09:00] jespercockx commented on #6042
Thanks for reporting, it's fixed now!

[2022-08-19 10:00] andreasabel commented on #6037
The warning is:
[code]
Yeah, that's bogus.

[2022-08-19 10:23] anuyts commented on #2293
Or, since (as mentioned in #6036) `open` is really a statement to define a nameless module by equality; defining a nameless module by providing its contents should perhaps also start with an `open` keyword. So if/when a syntax has been decided for `open` with telescope abstraction (as suggested in #6036), then we could write something like `open λ (tele : Tele) -> where`.

[2022-08-19 15:29] mikeshulman commented on #6042
So it is!  That was amazingly fast.

[2022-08-21 08:10] mikeshulman opened #6043 "de Bruijn error on unexpected implicit argument"
[code]
produces
[code]
The correct error is "Unexpected implicit argument".

[2022-08-21 08:41] ncfavier opened #6044 "The org logo looks bad on dark themes"
Poor Agda the Hen looks all grim on dark backgrounds.

![](https://f.monade.li/DBojqU.png)

Can you please make the background non-transparent? Suggestion:

![](https://user-images.githubusercontent.com/4323933/185783050-f8277e4b-f837-46e6-9b76-6641f86aa486.png)

[2022-08-21 13:44] andreasabel commented on #6037
Actually no.  Since `using (module B)` restricts the import to just the `module B`, asking also for `hiding (B)` is pointless.  The user is confused about what they want, and should be alerted to this fact.

@anuyts: To make clear what you are actually missing/want, please submit a documentation PR.

[2022-08-22 07:50] nad commented on #6004
Should the keyword only apply to certain definitions, or do you mean that it would only be usable for certain definitions? Please give a more precise explanation of what you have in mind (a nontrivial example might be enough).

[2022-08-22 08:09] anuyts commented on #6004
The situation would be analogous to implicit arguments. Agda allows any argument to be declared to be implicit, but it's only a good idea if the argument can actually be inferred (which is the case for an object of type `{x : A} -> P x` roughly iff `P x` depends injectively on `x`).
The effect of the `subinjective` keyword would be that all module parameters would become implicit parameters to the

[2022-08-22 08:10] nad commented on #6031
Perhaps the problem can be fixed by moving the `touch src/full/Agda/VersionCommit.hs` hack to `Setup.hs`. In that case care should be taken to ensure that the hack works on all supported platforms.

[2022-08-22 08:33] anuyts commented on #6004
In general this keyword would just be a "nice thing to have" but I think it's particularly important because it is already applied silently and automatically to constructors and record fields. This means that if you refactor your code in such a way that something that used to be a constructor or record field, now becomes an ordinary function, then there is currently no way to preserve your module'

[2022-08-22 08:36] nad commented on #6004
Some comments:

* Should the keyword apply only to the innermost module, or also to outer ones?

* What does the proposed keyword `subinjective` have to do with "make certain module parameters implicit if they are not instantiated when a module is opened"?

* I've seen that you have several suggestions for changes to the module system. Instead of looking at individual parts of the module system in

[2022-08-22 08:51] anuyts commented on #6004
Point 1: I guess in principle you could consider this even for each individual module parameter in scope. I would say the most important thing is enabling the user to mimick the behaviour of constructors and record fields, to which, as far as I can tell, all module parameters become implicit parameters, not just the innermost one's. I guess the keyword would be most useful in relation to data and

[2022-08-22 08:51] anuyts commented on #6036
@nad suggests to consider this in relation to #4331.

[2022-08-22 08:55] nad commented on #6004
I think it would be good if the module language could be based on some simple, orthogonal building blocks, in such a way that more complex features could be explained in terms of the simpler ones, and so that one would not be stuck if a complex feature does not quite work.

For another example of how the module language is perhaps not quite expressive enough, see issue #5769.

[2022-08-22 09:05] anuyts commented on #5769
Side-note: see [here](https://github.com/agda/agda/issues/6036#issuecomment-1219610047) for a remark on what "instance-opening" really is.

[2022-08-22 09:06] anuyts commented on #6004
See also #6036.

[2022-08-22 09:12] nad commented on #5661
If it is possible to mess up anything in such a way that this could lead to an inconsistency or a runtime error, then I think the corresponding binding should only be allowed in non-`--safe` code (plus the builtin modules).

[2022-08-22 09:18] nad commented on #6038
Perhaps it would make sense to support extending a module inside its "defining scope" (before the end of the current innermost module, but not in a module inside that module). In that case I would like to also be able to extend record modules. Here's a pattern I've used:
[code]

[2022-08-22 10:34] JacquesCarette commented on #6038
One of the oldest (very weakly) dependently-typed language [Aldor](https://www.aldor.org/) (see also its [github repo](https://github.com/aldorlang/aldor) ) allows [post-facto type extensions](https://www.csd.uwo.ca/~watt/pub/reprints/2006-dsal-postfacto.pdf). Some of this technology seems to have found its way into parts of Scala.

Personally, I really dislike this feature as presented there, and

[2022-08-22 10:48] anuyts commented on #6038
To be clear: I was thinking of the same restriction as @nad ("extending a module inside its "defining scope" (before the end of the current innermost module, but not in a module inside that module)"). But that is an interesting pointer!

[2022-08-22 14:02] plt-amy opened #6047 "Not enough injectivity with --cubical"
Minimized from a build failure in the cubical library (vindicated: I was _sure_ it wasn't my inS/outS elision code).

[code]

2.6.2.2 is fine, `master` yells

[code]

because `toℕ` has hcomp/trX clauses and won't be marked injective.

[2022-08-22 15:15] andreasabel commented on #6008
Here is a slight variation without holes:
[code]

[2022-08-23 02:49] finegeometer commented on #1556
So far, it hasn't been clear whether this "unintentional feature" is sound. If it isn't, I imagine the counterexample will be some variation of the following.

[code]

This particular piece of code doesn't compile, but I don't really understand why.

[2022-08-23 06:10] andreasabel commented on #1556
The application `x x` does not type-check with `x : X ...`, because in the definition of `X` its definition can't be used yet.  (If it could, then Agda would properly support very dependent types.)
As I understand your attempt, you want in essence:
[code]
But this has a universe inconsistency.  I do not see how your generalization `X : (ℓ : Level) → Set ℓ` solves this fundamental issue.  To me, it

[2022-08-23 06:20] andreasabel commented on #6036
The rationale is that anonymous modules cannot be opened a posteriori since they cannot be referred to, so why would you define an anonymous module?  (Except for throw-away code in documentation, but this isn't a first-class use case that can expect support.)  Thus, the only way to make sense of an anonymous module is to open it a priori.

[2022-08-23 06:24] andreasabel commented on #6036
The confusing thing here is that `private` refers to the implicit `open` for module `_` here, whereas in the non-anonymous case `private module M ...` it refers to `M` itself.

[2022-08-23 06:48] andreasabel commented on #6044
As my background is white, I cannot see the suggestion... ;-)

[2022-08-23 07:43] ncfavier commented on #6044
It's just a black-on-white Agda. Maybe the image didn't load for you? Here it is again at a different host: https://f.monade.li/VJxq3k.png

[2022-08-23 08:10] anuyts commented on #5461
One way to explain having 1-3 but not 4 is that `open` implicitly means `private open` and you have to add `public` to undo that.
When you're using `private` to hide parts of a hacky abstraction, then something being under a `private` header is almost a security property and it's not so good that it can be overridden from within.

[2022-08-23 08:14] anuyts commented on #6036
You can currently write
[code]
which is a very similar syntax and is useful exactly for throwaway code for testing and documentation purposes.

[2022-08-23 08:16] anuyts commented on #6036
From https://github.com/agda/agda/issues/2293#issuecomment-1220510358 :

[2022-08-23 11:41] jespercockx opened #6049 "Separate flags for "compatible with univalence" and "compatible with Cubical Agda""
In https://github.com/agda/agda/pull/5897, @plt-amy suggested that perhaps we should hide the support for indexed inductive types with --cubical behind a flag, since the current implementation is not yet complete and will possibly change in future releases. I think this is a good idea. What would be a good name for this flag? `--experimental-hcomp-for-indexed`?

@Saizan @mortberg do you have an op

[2022-08-23 11:46] jespercockx commented on #6047
Would it be sound to ignore the generated hcomp/trX clauses for the purpose of injectivity analysis? @Saizan @mortberg ?

[2022-08-23 11:51] jespercockx commented on #6008
This seems to be caused by the promotion of metavariables in the occurs checker that I introduced in https://github.com/agda/agda/commit/d1a9d7d5f5422701037ae48d780feeafd30a82c0, so it might have the same root cause as https://github.com/agda/agda/issues/5845

[2022-08-23 12:01] jespercockx commented on #5293
I tried this on current master and now `C-c C-s` generates a valid solution:
[code]
so I'm marking this as already fixed.

[2022-08-23 12:02] #5293 closed, assigned to andreasabel

[2022-08-23 12:14] jespercockx commented on #5828
This might be the same problem as https://github.com/agda/agda/issues/5551, so not a problem with auto itself after all.

[2022-08-23 12:22] jespercockx commented on #6036
There doesn't seem to be a concrete proposal here. Either this should be discussed more on the mailing list or Zulip, or it should be split up in a number of concrete proposals.

[2022-08-23 12:32] #6037 closed, assigned to nobody

[2022-08-23 12:42] #5934 closed, assigned to asr

[2022-08-23 12:44] jespercockx commented on #5926
@UlfNorell did you manage to find a solution for this?

[2022-08-23 12:47] #5902 closed, assigned to nobody

[2022-08-23 12:52] jespercockx commented on #5886
Since there's an alternative solution I'm closing this issue. If there is still a need for a new primitive, feel free to reopen this or open a new issue/PR.

[2022-08-23 12:54] jespercockx commented on #5884
I do not think the issue tracker is the best place to discuss novel research ideas. If you have a concrete proposal of what should be implemented, feel free to reopen this or create a new issue/PR!

[2022-08-23 12:54] #5884 closed, assigned to nobody

[2022-08-23 14:07] anuyts commented on #5884
Well it turned out that the proposed type was already there and is called `Sub`, so I think indeed this issue is completed.

[2022-08-23 14:20] anuyts commented on #6036
I think the overview above leads to 3 proposals:
1. Revise the `module _` syntax (or not), already discussed in #2293
2. Have a shorthand (something like `open λ (teleB : TeleB) -> A (f teleB)`) for
[code]
3. Deprecate the objectionable syntax `open MyRecord {{...}}` in favour of `open λ {{myRecord}} -> MyRecord myRecord` (or conciously choose not to do so).

[2022-08-23 15:47] finegeometer commented on #1556
Oops, I made a typo. That should have said `X : (ℓ : Level) → Set (suc ℓ)`.

Anyway, my reasoning was as follows.

- In a context with `x : X ℓ`,
  - `x : (λ (x : X (suc ℓ)) → x x → Set ℓ) (λ (x : X (suc ℓ)) → x x → Set ℓ)`
  - `x : (λ (x : X (suc ℓ)) → x x → Set ℓ) (λ (x : X (suc ℓ)) → x x → Set ℓ) → Set ℓ`
  - `x x : Set ℓ`
  - For any ℓ', `x x → Set ℓ' : Set (max ℓ (suc ℓ'))`
- For any ℓ and ℓ'

[2022-08-23 16:23] plt-amy commented on #6047
For reference here's the commit that caused this: https://github.com/agda/agda/commit/ff2e43639d3c7accbe5c43ae64a05c92e6d7a3c6

and the two issues it solves: https://github.com/agda/agda/issues/5579 https://github.com/agda/agda/issues/5576

[2022-08-23 17:07] plt-amy commented on #6049
I think `--experimental-transport-indices` is a good name: not too technical, describes exactly what goes wrong otherwise (substituting an index by a path will get stuck).

[2022-08-23 20:47] nad commented on #6049
Is the idea that inductive families would not be allowed unless this flag is used, or would the flag only affect the extra clauses? In the former case the flag should presumably also be required to use inductive families when `--without-K` is used.

[2022-08-23 21:40] plt-amy commented on #6049
Without the flag, we'd skip:
- Generating `transpX` for indexed families
- Generating `trX-trX` clauses, `trX-hcomp` clauses, `trX-con` clauses when matching on indexed families

That is: without the flag, we have 2.6.2.2's status quo when it comes to indexed families in `--cubical`. They're allowed, but transport on them doesn't compute.

[2022-08-24 08:03] mikeshulman commented on #1981
Is this likely to ever be implemented?  I think it would be really nice to have rewriting on projections.  In particular:

1. Because I want to rewrite on their "projections", my Σ-types currently can't be records.  For a while I was making them just postulates, but then their constructors and projections must carry around their parameters all the time, which slows things down a lot.  So now I'm m

[2022-08-24 20:03] jespercockx commented on #5813
Since there has not been any response, I assume this can be closed.

[2022-08-24 20:03] #5813 closed, assigned to nobody

[2022-08-24 20:53] jespercockx commented on #1981
I'd still very much like to implement this, but I currently have other priorities. My WIP can be found on https://github.com/jespercockx/agda/tree/rewriting-projections, if anyone wants pointers on where I got stuck I'd be glad to give them.

[2022-08-24 22:33] ice1000 opened #6051 "Any Emacs shortcut for quickly generating a partial element?"
It is very nice that I can refine a goal by applying the introduction rule (like when the goal is a pi type, I can press a shortcut and Emacs give me a lambda). However, this does not work for partials. I wish there can be something like this:

+ `{ i }`, refine, `λ { (i = i0) -> ? ; (i = i1) -> ? }`
+ `{ i j }`, refine, `λ { (i = i0) (j = i0) -> ? ; (i = i1) (j = i0) -> ? ; ... }`

Maybe we need

[2022-08-25 02:42] ice1000 commented on #6009
Does this look like a salvation?
![image](https://user-images.githubusercontent.com/16398479/186561986-e8f7961c-17b1-4669-aece-c40a9e054dd6.png)

[2022-08-25 02:43] ice1000 commented on #5667
Closing as answered -- this is actually just a question anyway.

[2022-08-25 02:43] #5667 closed, assigned to nobody

[2022-08-25 08:33] gallais commented on #6051
Surely it's an extension of case-splitting (`C-c C-c`)?
E.g. currently you can do

[code]
And `C-c C-c n RET` will give you back `t = λ { zero → {!!} ; (suc n) → {!!} }`.

[2022-08-25 08:42] anuyts commented on #6009
Hi @ice1000,
* with [markdown](https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) you can format your comments so that you don't have to use screenshots,
* in the given code, what is the definition of `fillCube`?

[2022-08-25 08:49] UlfNorell commented on #5926
I don’t remember the details right now, but before summer I came to the conclusion that the free variable cache didn’t work for our purposes here. I think the most promising solution is to not use instantiateFull here but something more specific to what we actual need.

[2022-08-25 08:55] #5281 closed, assigned to nobody

[2022-08-25 08:59] jespercockx commented on #5255
It's not clear what concrete action we can take here, so I'm closing this issue.

[2022-08-25 08:59] #5255 closed, assigned to nobody

[2022-08-25 09:03] jespercockx commented on #5229
Looks to me like Agda decides too soon what the sort of the type of `test` is, i.e. before generalization instead of after.

[2022-08-25 10:29] JacquesCarette commented on #6051
I think the OP's asking for a way to generate a pattern-matching lambda. I agree that I'd really like to be able to refine-and-split in a nice way.

[2022-08-25 12:11] ice1000 commented on #6051
Does the pattern matching lambda generation work for partial elements? Hmm...

[2022-08-25 14:01] jespercockx commented on #5349
This is not a bug but an intentional change to instance resolution to make it more stable when there are still unsolved metavariables in the context types, see https://github.com/agda/agda/issues/3358

[2022-08-25 14:08] jespercockx commented on #5498
We'll need a small example that clearly demonstrates the problem in order to do anything about this. I'm closing this now, feel free to reopen if you have a small example.

[2022-08-25 14:08] #5498 closed, assigned to nobody

[2022-08-25 14:09] jespercockx commented on #5414
I'm afraid I cannot do anything about this without a small example, so I'm closing this.

[2022-08-25 14:09] #5414 closed, assigned to nobody

[2022-08-25 14:11] jespercockx commented on #5504
Closing this as working-as-intended.

[2022-08-25 14:11] #5504 closed, assigned to nobody

[2022-08-25 14:16] jespercockx commented on #5568
This discussion seems to have died out, so I'm closing this issue. Feel free to reopen if you have a concrete proposal and someone would like to implement it.

[2022-08-25 14:16] #5568 closed, assigned to nobody

[2022-08-25 14:18] #5570 closed, assigned to nobody

[2022-08-25 14:19] jespercockx commented on #5486
If someone could submit a PR to add this to the documentation, that would be great.

[2022-08-25 14:21] jespercockx commented on #5612
Since we have no way to reproduce the issue, I'm closing this. Feel free to reopen if you encounter the problem again.

[2022-08-25 14:21] #5612 closed, assigned to nobody

[2022-08-25 14:24] #5622 closed, assigned to nobody

[2022-08-25 14:26] jespercockx commented on #5626
I'm closing this for a lack of a MWE, feel free to reopen if you have a (small) example producing the issue.

[2022-08-25 14:26] #5626 closed, assigned to nobody

[2022-08-25 14:27] jespercockx commented on #5631
Since there's nothing we can do about this issue ourselves, I'm closing this issue.

[2022-08-25 14:27] #5631 closed, assigned to nobody

[2022-08-25 14:29] jespercockx commented on #5646
Since there has been no response, I'm closing this issue. Feel free to reopen if you still think there's a bug in Agda.

[2022-08-25 14:29] #5646 closed, assigned to nobody

[2022-08-25 14:31] jespercockx commented on #5664
Welcome to submit a PR to add this to the documentation!

[2022-08-25 14:35] jespercockx commented on #5697
It's not clear what we can do here to improve the current situation, so I'm closing this issue.

[2022-08-25 14:35] #5697 closed, assigned to nobody

[2022-08-25 14:36] jespercockx commented on #5745
Looks to me like an instance of https://github.com/agda/agda/issues/3819, feel free to reopen if you disagree.

[2022-08-25 14:36] #5745 closed, assigned to nobody

[2022-08-25 14:38] jespercockx commented on #5750
This would probably be fixed by https://github.com/agda/agda/issues/4198

[2022-08-25 14:38] #5750 closed, assigned to nobody

[2022-08-25 14:42] #339 closed, assigned to nobody

[2022-08-25 18:47] ice1000 commented on #6009
`fillCube` is a macro. The code comes from agda/cubical#910

[2022-08-25 21:08] plt-amy commented on #6051
No, you can't case-split on IsOne. I investigated doing so in the past but I couldn't figure out how to smuggle an equational pattern out of the coverage checker.

[2022-08-26 08:58] #4103 closed, assigned to nobody

[2022-08-26 10:00] anuyts commented on #6009
That's certainly an interesting pull request but I don't think it solves the current problem:

In the following hole:
[code]
I could hope to use `fillCube1`:
[code]
but since I have already abstracted over `i`, the argument `u` will have *two* interval variables in scope which will later be contracted. So if I write
[code]
then I think even theoretically it is not possible to infer `u`, as the fol

[2022-08-26 12:57] jespercockx commented on #6051
See also https://github.com/agda/agda/issues/4315

[2022-08-26 13:04] jespercockx commented on #4345
Since it's not clear what we can do to make this example work, I'm closing this as wontfix.

[2022-08-26 13:06] jespercockx commented on #4370
I'm closing this due to lack of a MWE, feel free to reopen if you have a standalone example.

[2022-08-26 13:06] #4370 closed, assigned to jespercockx

[2022-08-26 13:11] jespercockx commented on #4490
I'm assuming that the suggested workaround is good enough, feel free to reopen if it is not.

[2022-08-26 13:11] #4490 closed, assigned to nobody

[2022-08-26 13:17] jespercockx commented on #4598
The current design of the reflection API is awkward, but there does not seem to be a concrete actionable proposal here, so I'm closing this issue.

[2022-08-26 13:17] #4598 closed, assigned to nobody

[2022-08-26 16:31] kangxyz opened #6054 "Equation patterns in partial elements silently ignored to the right of ordinary patterns"
The following code is accepted by agda, though a case `(i = i1)` is missing:
[code]
If `foo A (a , _) i (i = i1) = a` is added, agda will throw an error about `Unreachable clause`. The Σ-type involved is relevant, and agda will return to reason without it.

[2022-08-26 18:20] jespercockx commented on #4653
@nad is this finished? I am assuming it is, if not please reopen.

[2022-08-26 18:31] jespercockx commented on #4778
Since the original problem is fixed, I'm closing this issue.

[2022-08-26 18:31] #4778 closed, assigned to jespercockx

[2022-08-26 18:37] jespercockx commented on #4875
Duplicate of #4315

[2022-08-26 18:37] #4875 closed, assigned to nobody

[2022-08-26 19:05] jespercockx commented on #5026
The main task here seems to be completed, feel free to create a new issue for testing the std-lib with the js backend.

[2022-08-26 19:05] #5026 closed, assigned to nobody

[2022-08-26 19:20] jespercockx commented on #5307
Closing this due to a lack of response.

[2022-08-26 19:20] #5307 closed, assigned to nobody

[2022-08-27 04:18] plt-amy commented on #6051
And #3412

[2022-08-27 08:22] jespercockx commented on #5492
It seems this has been fixed in 2.6.2.1, so I'm closing this issue.

[2022-08-27 08:22] #5492 closed, assigned to nobody

[2022-08-27 08:38] jespercockx commented on #5720
The PR doesn't seem to fix this issue, I can still reproduce it.

[2022-08-27 08:43] jespercockx commented on #5734
Seems to me that the main issue was fixed in https://github.com/agda/agda/commit/5485ecfe56240e7743054eaed111ad6303176500, feel free to open a new issue if there is still a problem.

[2022-08-27 08:43] #5734 closed, assigned to nobody

[2022-08-27 08:44] jespercockx commented on #5740
The main task here seems to be done, so I'm closing this. Please open a new issue if there is still other things you'd like to change.

[2022-08-27 08:46] jespercockx commented on #5753
This is not relevant to a specific release of Agda so I've removed the milestone.

[2022-08-27 08:50] jespercockx commented on #5769
I've added the `--erase-record-parameters` flag in #5770 and I'm happy with it, so I am not planning to do more about this issue.

[2022-08-27 08:50] #5769 closed, assigned to jespercockx

[2022-08-27 09:05] jespercockx opened #6055 "Release Agda 2.6.3"
It would be good to work towards a release of 2.6.3 before the next Agda meeting, i.e. by the end of October.

To get us started, I went through all the issues with milestone 2.6.3 and moved many of them to either the icebox or the (newly created) "later" milestone, which is intended for issues that we are planning to fix in an upcoming release but not the next one. If you can, please take a look

[2022-08-27 10:47] plt-amy commented on #6055
I'm in GMT-3 (America/Sao_Paulo), and Wednesday works for me 🙂

[2022-08-27 15:02] plt-amy commented on #6027
I'm closing this issue, rather than leaving it in the icebox, since Mike's point about not performing reduction _in patterns_ is very sensible, even in hypothetical cases without confluence problems.

[2022-08-27 15:02] #6027 closed, assigned to nobody

[2022-08-27 16:58] plt-amy commented on #4763
Fascinating! Here's what's going on:

[code]

This _isn't_ a pattern-matching lambda, even though it looks like one! It's just a `lam`, so you can quote/unquote it just fine. _This_ is a pattern-matching lambda:

[code]

and it also explodes, because Agda can't unquote `IApply` co/patterns.

[2022-08-27 17:15] #4763 closed, assigned to plt-amy

[2022-08-28 14:22] jespercockx commented on #5699
Here's another example where `withReconstructed` does the wrong thing:
[code]
`test` evaluates to `def (quote R.f) Agda.Builtin.List.List.[]`, so the parameter `A` is not reconstructed.

[2022-08-28 15:19] andreasabel commented on #5740
The discussion wasn't resolved, why close the issue?

[2022-08-28 19:15] mikeshulman opened #6056 "Status display in agda-mode during execution (feature request)"
Especially when working with terms that take a long time to typecheck (or to fail to typecheck), it would be convenient if agda-mode would show something indicating what it is currently working on.  Currently, when a hole-based command like `C-C C-,` or `C-c C-n` is given, agda-mode continues displaying the output of the last command until the new command completes.  As far as I can tell, the only

[2022-08-28 22:33] mietek commented on #5349
@jespercockx, I don’t understand how this is not a bug.  In #3358, you are saying that there is some ambiguity about the type of `x`.  But here, I don’t see how the type of `w′` could be ambiguous.

In `_⊩_ : ∀ {{M : Model}} → W → Type → Set`, the instance argument `{{M : Model}}` is sufficient to make the type `W` unambiguous.  This line is accepted, and so `W` is fixed as `Model.W M`.

In `w ⊩ *

[2022-08-29 06:49] jespercockx commented on #5349
I'd like to explain but now when I try your example again on the latest development version of Agda it actually just checks without any unsolved constraints. So it seems you were right and there *was* a bug, but it has since been fixed. I'm not sure which change it was, if anyone can track it down that'd be interesting.

[2022-08-29 09:23] andreasabel commented on #5753
Yeah, these test should be upgraded to use `cabal v2` idioms.

[2022-08-29 11:51] andreasabel commented on #6005
Current error (after #5730 has been improved) is more benign:
[code]

[2022-08-29 11:54] #5681 closed, assigned to jespercockx

[2022-08-29 11:55] jespercockx commented on #6055
Let's have a meeting on Wednesday at 15:00 (GMT+2) / 10:00 (GMT-3) then. I'll send you the details in private.

[2022-08-29 15:12] #5699 closed, assigned to jespercockx

[2022-08-29 19:36] plt-amy commented on #6056
An approach I've used is to add `{-# OPTIONS -vtc.def.fun:10 #-}` to the file and peek at the debug buffer. This causes Agda to log each function definition it type-checks, so it's one way of getting life signs. I'll admit it's not optimal, though.

I don't want to say "this would be easy to do" because the solution that popped into my head, even though it'd be rather simple to implement, would ma

[2022-08-29 20:04] mikeshulman commented on #6056
Thanks for the suggestion.  Does that log anything during a hole command like `C-c C-,` though?  I wouldn't expect it to be type-checking any function definitions during that.

It might help though with a related issue that bothers me, namely that when Agda is checking one file and has to check another imported file, it doesn't give any indication of when it's finished with the imported file and g

[2022-08-30 08:22] nad opened #6059 "Non-terminating function over tuples passed with `--termination-depth=2`"
In the following code there is special treatment of the cases "empty, singleton" and "singleton, empty", but in other cases where the lists have different lengths the extra elements are simply discarded:

https://github.com/agda/agda/blob/efa6fe4cc65132bcc375f608542154674a37f1ba/src/full/Agda/Termination/TermCheck.hs#L1418-L1430

@andreasabel, can you take a look at this? Do the lists necessarily

[2022-08-30 08:53] nad commented on #3993
I think this works out of the box when a recent version of Emacs is used. @andreasabel, can you confirm?

[2022-08-30 08:55] nad commented on #6056
Agda currently displays `Checked` in the mode line when a buffer has been successfully type-checked. One could perhaps display something like `Running` while a command is in progress.

If you turn on interactive highlighting, then you get some visual feedback of what is going on in the current buffer, but you don't get that for `C-c C-,`. (If `C-c C-,` takes a lot of time, then I would advise you

[2022-08-30 08:59] nad commented on #6056
I added this to the icebox milestone. That does not mean that I think it is a bad idea, but I don't plan to work on it.

[2022-08-30 09:26] nad commented on #4653
The commits have not been merged. Can you answer a related [question](https://github.com/agda/agda/pull/5970#issuecomment-1166489102)?

[2022-08-30 11:26] jespercockx commented on #5703
I've made another attempt at fixing this but I'm blocked on #5837, without this issue being fixed you get hard errors too often when eta-expansion could still help. Given that this will require some time to implement and work out all the kinks, I am pushing this to 2.6.4.

[2022-08-30 13:03] monnier commented on #3993
Nils Anders Danielsson [2022-08-30 01:53:35] wrote:

Probably since Emacs-27, to be precise.

[2022-08-30 15:55] szumixie opened #6060 "Panic in Coverage.Cubical when pattern matching on refl without K when Prop variable in context"
In the master branch version of Agda
[code]
throws
[code]

[2022-08-30 16:14] szumixie opened #6061 "Internal error when pattern matching on refl without K over a goal where the type is a hole"
In the master branch version of Agda
[code]
throws
[code]

[2022-08-30 16:47] mikeshulman commented on #6056
Believe me, I've spent a *lot* of time trying to make my code more efficient.  Sometimes all the optimization I can do just barely suffices to make it finish typechecking by the time I return from getting coffee.  Of course, maybe someone else could do a lot better.  I haven't found a whole lot of documentation or tutorials on how to make Agda code more efficient.  In particular, I haven't figured

[2022-08-30 16:54] mikeshulman commented on #6056
Does "interactive highlighting" mean something different from the ordinary highlighting that happens in agda-mode buffers?  My experience is that when typechecking a file with `C-c C-l`, there is a pause, then the entire buffer is syntax-highlighted, and then there is a (usually longer) pause.  Sometimes errors occur during the first pause, and sometimes during the second, but I haven't figured ou

[2022-08-30 17:14] andreasabel commented on #6061
This has regressed from 2.6.2.2 (succeeds) over `master` of around 2022-08-15
[code]
https://github.com/agda/agda/blob/b52180812845647b57ca3cfbd5d03f68d6f8e802/src/full/Agda/TypeChecking/Primitive/Cubical.hs#L2310
to current `master`:
[code]
https://github.com/agda/agda/blob/efa6fe4cc65132bcc375f608542154674a37f1ba/src/full/Agda/TypeChecking/EtaContract.hs#L46

It looks like the latest regression

[2022-08-30 17:26] andreasabel commented on #6060
Regression over 2.6.2.2.
https://github.com/agda/agda/blob/efa6fe4cc65132bcc375f608542154674a37f1ba/src/full/Agda/TypeChecking/Coverage/Cubical.hs#L307

[2022-08-30 17:28] andreasabel commented on #6008
Github isn't good at understanding negations... ;-)
I wrote

and it matched `fix #6008` and closed this issue.  Maybe I should have written:

[2022-08-30 17:45] plt-amy commented on #6060
Part of #6049

[2022-08-30 17:55] andreasabel commented on #6059
@nad wrote:

No, `ps` can be longer as `ts` as the comment says.

Can you break it?  I cannot:
[code]
[code]

[2022-08-31 06:06] JasonGross opened #6066 "Document the meaning of `pattern` without `no-eta-equality`"
The documentation at https://agda.readthedocs.io/en/v2.6.2.2/language/record-types.html?highlight=pattern#recursive-records says:

As far as I can tell, the documentation does not specify what `pattern` does when either (or both) of the directives `inductive`, `no-eta-equality` are absent, despite the fact that Agda accepts it.  I expect this is a no-op (is it?), but I think in any case the behavi

[2022-08-31 07:13] mikeshulman opened #6067 "Another de Bruijn error in rewriting"
I've done all the minimization I can manage for now.  I'm sorry it's still kind of long.
[code]
The error is
[code]

[2022-08-31 10:07] nad commented on #6056
I have little experience of using rewrite rules, but I expect that rewrite rule matching (which I think involves some kind of higher-order unification) is considerably slower than regular pattern matching.

The `-v` options are mostly used to debug Agda, and are "documented" by the implementation.

Presumably to make Agda a little less noisy.

Good point. I don't think so.

Yes, you get highlighti

[2022-08-31 10:10] nad commented on #6066
Perhaps Agda could warn about certain combinations.

[2022-08-31 11:03] martinescardo commented on #5843
I am still not happy with renaming `--without-K` to `--cubical-compatible`. It will create a lot of confusion in the HoTT/UF community. My Agda code is *not* cubical, and I am not planing to make it cubical, but its in HoTT/UF and does need the absence of the K axiom. Cubical is less general, and in particular, at present, cubical proofs are not valid in all infty-toposes, and this is a main reaso

[2022-08-31 11:11] martinescardo commented on #5843
People were doing HoTT/UF in Lean and then this became impossible in the new versions of Lean. I really hope this doesn't happen with Agda as well.

[2022-08-31 12:16] plt-amy commented on #6049
Something to keep in mind: #5448

[2022-08-31 13:14] andreasabel commented on #6059
[code]
Loops.

[2022-08-31 13:28] andreasabel commented on #6049
Nisse 2022-08-31: The flag should be coinfective and turned on in the builtin modules.
Amelia: `--cubical` and `--safe` should imply the flag.
Nisse: The flag should be enabled in the standard library.

[2022-08-31 13:55] jespercockx commented on #6055
Here is a list of the current "orphan" issues that do not yet have anyone assigned:
- [x] #4216
- [x] #4985
- [x] #5257
- [x] #5378
- [x] #5525
- [x] #5702
- [x] #5719
- [x] #5754
- [x] #5794
- [x] #5816
- [x] #5900
- [x] #6005
- [x] #6047
- [x] #6059
- [x] #6061

[2022-08-31 14:08] plt-amy commented on #6005
Part of #6049, still an internal error to be fixed

[2022-08-31 14:09] plt-amy commented on #5816
Part of #6049

[2022-08-31 14:14] plt-amy commented on #6061
Dupe of  #6001, part of #6049

[2022-08-31 14:14] #6061 closed, assigned to nobody

[2022-08-31 14:28] andreasabel commented on #5378
Seems fixed now, maybe by the fix for:
- #5989

[2022-08-31 14:28] #5378 closed, assigned to nobody

[2022-08-31 14:32] jespercockx commented on #5900
Might be fixed by #6053 ?

[2022-08-31 14:36] jespercockx commented on #6055
Next meeting: October 5th

[2022-08-31 14:42] andreasabel commented on #1625
~~Alternatives: ~~`--optimistic-unification`~~, `--speculative-unification`.~~

[2022-08-31 14:56] andreasabel opened #6068 "Bring [complete tests] back for CI"
We had commit tag `[complete tests]` for the Travis CI that would run the tests on all builds (as opposed on only the build with the latest GHC version).  Consider bringing this back (or a `workflow_dispatch` trigger with this functionality) for the GitHub CI.

[2022-08-31 15:56] andreasabel commented on #6059
And leads to inconsistency:
[code]
I can trace this issue back to at least Agda 2.4.2.4 (my oldest Agda).

[2022-08-31 16:53] plt-amy commented on #6049
Here's a summary of our discussion on this topic on 2022-08-31 (@jespercockx @andreasabel @nad @UlfNorell) to make sure we're all on the same page (and to get user feedback, of course).

First, background:

1. Agda should have a flag that makes it compatible with univalent type theory, without bringing in anything cubical. In version 2.6.2.2, this is called `--without-K`.

2. Cubical Agda is a thi

[2022-08-31 18:06] andreasabel commented on #3993
Forgive me, but I only report bugs on public, sufficiently modern bug trackers.  No mailing-list stuff.  Sorry.

[2022-08-31 18:11] andreasabel commented on #5843
@martinescardo : A new proposal is at https://github.com/agda/agda/issues/6049#issuecomment-1233186143.

[2022-08-31 22:23] #6059 closed, assigned to andreasabel

[2022-08-31 22:32] andreasabel opened #6070 "Don't recolor all the labels"
@plt-amy : Please be conservative in the label colors.  The colors of at least the old labels have been fitted for aethestics.

E.g. these new different reds are dissonant:
<img width="355" alt="Screenshot 2022-09-01 at 00 29 08" src="https://user-images.githubusercontent.com/1155218/187796492-a339766f-6740-4cd6-8162-b27f56843c62.png">

[2022-08-31 23:00] andreasabel commented on #6070
@plt-amy : You asked in our meeting whether you could add descriptions to the labels.  That's not a mandate to single-handedly rework the label system.  Please coordinate changes with me.

[2022-08-31 23:43] plt-amy commented on #6070
I understand. Apologies, I got carried off.. won't happen again. But now that the call-out has been received, can we repurpose this issue to discuss the tagging system? I'm kinda embarrassed about it...

Of our tags (counted on my phone, so numbers are approximate)

1. Well over a third have no open issues/PRs; Of these, I think another third have _never_ had open issues (but this is an impression

[2022-09-01 04:34] plt-amy opened #6071 "Extension types (`Sub`) can be definitional singletons"
Something I've been pondering: we have some outstanding issues to do with unification modulo η for types that look like the unit record

[code]

but I'm not sure if we have similar issues for `Sub A i1 λ ._ → x`, which should _also_ be a definitional singleton (with its one value being `inS x`). Not a concrete issue to report (...yet?), just something to think about.

[2022-09-01 06:26] nad commented on #6070
I suspect that some of the tags are default GitHub tags that we never used.

[2022-09-01 06:32] nad commented on #6059
The use of `zipWithM` dates to 2013 (aa2eb805439ad0eafe11d5e679779e18dafd8766).

[2022-09-01 07:00] mikeshulman commented on #6067
Here is a slightly shorter version:
[code]
While trying to shrink the example, I also noticed two interesting things:
1. If I don't try to pattern-match on the equality, replacing the `refl` in the last line with a variable name like `e`, the error goes away.  But,
2. If I remove the argument `ω` in the type declaration of `frob-ap-kan`, but leave the final argument on the LHS of its definition (w

[2022-09-01 07:26] mikeshulman commented on #6049
To clarify, is the intent that:
1. `--without-K` is ideally supposed to exclude all features that are incompatible with univalence (even if it doesn't successfully do that today), and
2. Anyone writing code that might conceivably be imported by someone else's cubical code in the future must explicitly declare that using `--cubical-compatible`?

From this user's perspective, splitting `--without-K`

[2022-09-01 08:10] jespercockx commented on #6049
You can add the `--cubical-compatible` flag to the `.agda-lib` file of the library you want to use, so you'd only need to change a single file in the library. Ideally this would always succeed (but take a bit more time since it has to generate the cubical clauses), but this is not something we can guarantee at the moment. Also `--cubical-compatible` might generate error messages that mention the g

[2022-09-01 08:26] andreasabel commented on #6059
Yeah, now one stumbled over this in 9 years, given the counterexample is contrived and requires `--termination-depth=2`.

[2022-09-01 08:42] andreasabel commented on #6070
Red color is to alert, I think we are rather consistent with that.
Dark green is to either green light for contribution (`help wanted`, `PR welcome`).  Light green is for things that are "fine", e.g. already fixed, or upstream issues, or existing workarounds.
Yellow is for tasks like refactoring that are not addressing bugs directly.
Grey (code #EDEDED) is for semantic tags, identifying the compon

[2022-09-01 16:48] plt-amy commented on #6049
There are a fair number of subtleties around elaboration of modules that _could be_ loaded from Cubical Agda, particularly around indexed inductives — but, yes, also internal implementation details, as you mention.

In the development version of Cubical Agda, indexed inductive types have "formal transport along indices" as an additional constructor†, in exactly the same way that higher inductive t

[2022-09-01 17:17] plt-amy commented on #6070
I believe this makes sense.. and it also makes some sense to have each component be a different colour, but ideally these wouldn't overlap with the "canonical" meanings: 2LTT green is almost the same as the "green light" green; guarded-cubical green is almost the same as the "fixed" green; `piSort` cyan/`devx` cyan; `singleton-types` green looks like the `priority: low` green.

Would it make sense

[2022-09-01 17:32] mikeshulman commented on #6049
I see and agree with the arguments for a `--without-K` that doesn't generate cubical stuff.  I would also be annoyed if I were doing a development in Book HoTT and saw errors talking about cubical things.  I just wish it weren't necessary for the *author* of a library to decide whether to make it compatible with cubical (or for the person using cubical to manually modify the library code, or even

[2022-09-01 17:34] plt-amy commented on #6071
#5929 works also with `Sub` (slightly moot point since you get a warning about confluence checking not being implemented to work with `--cubical` yet, but...):

[code]

[2022-09-01 17:40] plt-amy commented on #6071
#5837 also happens for the "unit" type defined above:

[code]

[2022-09-01 17:48] plt-amy opened #6073 "Constraint solving does not honour singleton types"
Making a separate bug so I can keep #6071 a discussion. Here's issue #593, now with the latest trendy thing:

[code]

Easy fix: `isSingletonType'` should return `Just (x 1=1)` when given `Sub A i1 x`, blocking on the `φ` argument.

[2022-09-01 17:51] plt-amy commented on #6073
Totally off-topic but it's very humbling to revisit an old issue and see that it's just a tad over half my age.

[2022-09-02 08:09] jespercockx commented on #6073
Possibly related: https://github.com/agda/agda/issues/5837

[2022-09-02 08:27] jespercockx commented on #6070
I think it would be good to have a prefix (such as `type: `) for all the labels. Currently we have `type: `, `backend: `, `difficulty: ` (not sure if we need those), `infra: `, `platform: `, `priority: `, `status: `, `ux: `. We also have `ghc-` and `regression in` as prefixes. We could have more prefixes such as `feature: ` for labels about specific features, `dev: ` for development-related labels

[2022-09-02 18:18] plt-amy opened #6074 "`piSort`/`funSort` of `IUniv` should be blocked on the codomain"
... I think those are the right words in the title, at least, I haven't investigated yet. But consider:

[code]

this is a hard type error, but `I → Nat` (e.g.) has type set. So really this should be fine, with a postponed `funSort IUniv ... = Set` constraint?

[2022-09-02 18:43] #6074 closed, assigned to nobody

[2022-09-03 09:26] andreasabel commented on #6070
Yes, these prefixes are good when they suggest themselves.
We shouldn't make this a _must_ though, since all categorizations are incomplete in the real world...

[2022-09-03 09:52] andreasabel commented on #6049
I suggested the same, using different build trees for build with or without cubical stuff, to avoid overwriting previous build efforts when you switch between main files that do `--cubical` or not `--cubical`.  @nad was against this, but I forgot why.

[2022-09-03 16:07] jespercockx commented on #1981
I've rebased my branch at https://github.com/jespercockx/agda/tree/rewriting-projections onto a recent version of Agda and tried to run the tests. Basic tests with rewriting projections work, but there are a lot of errors in the test suite with variables being out of scope, and I do not see an easy way to fix them.

[2022-09-03 16:07] #1625 closed, assigned to Saizan, jespercockx

[2022-09-03 19:31] mikeshulman opened #6076 "Agda input mode (emacs): Minibuffer display for `\;` is strange"
The minibuffer display in Emacs when I type `\;` behaves strangely.  It looks like this to start with:
![minibuffer](https://user-images.githubusercontent.com/646600/188281008-4ca90426-ce0e-4869-89a7-93fa6acd1921.png)
After one `C-f` it looks like this:
![minibuffer-2](https://user-images.githubusercontent.com/646600/188281063-90846122-e1cf-423d-990e-0a6b9cd7d9be.png)
And after two `C-f`s like thi

[2022-09-03 19:50] jespercockx commented on #6067
Here is a minimized test case:
[code]
It seems like this has something to do with the non-linearity of the rule.

[2022-09-03 23:32] nad opened #6079 "Generate unlifted data types?"
It might make sense to generate [unlifted types](https://downloads.haskell.org/ghc/9.4.1/docs/users_guide/exts/primitives.html#unlifted-datatypes) for those types that are currently compiled into types with strict constructors when `--ghc-strict-data` is used. Expressions of unlifted type are always evaluated strictly. Use of unlifted types can lead to [performance improvements](https://github.com

[2022-09-04 01:04] sattlerc commented on #6076
That's because the alternatives include Unicode characters with differing bidirectional class. Specifically:
* The first alternative ARABIC SEMICOLON' (U+061B) has bidirectional class "Arabic Letter", causing the display order to switch to right-to-left.
* The direction resets to left-to-right once the third alternative THIOPIC SEMICOLON (U+1364) with bidirectional class left-to-right is reached.

[2022-09-04 04:17] mikeshulman commented on #6076
I suspected it might be something like that.  Should the Agda input-mode really be including characters with bidirectional classes other than left-to-right?  That seems potentially dangerous in source code.

[2022-09-04 06:12] mikeshulman commented on #6067
Wow, the difference between your minimizing something and my "minimizing" it is night and day.  (-:O

[2022-09-04 10:52] nad opened #6080 "A space leak due to `absName`"
I noticed that use of `absName` can lead to space leaks. Biographical and retainer profiling (for [a certain kind of contrived test case](https://github.com/agda/agda/issues/5983#issuecomment-1207262682)) indicated that `telViewUpTo'` retained lots of data that was never used:

https://github.com/agda/agda/blob/f787254bd076b90d93f956804e81dfb48236bcb3/src/full/Agda/TypeChecking/Telescope.hs#L374-L

[2022-09-04 11:08] jespercockx commented on #6067
I use a relatively mechanical technique for minimization that doesn't require a lot of actual understanding of the code (which can be a bit slower but usually still faster than actually trying to understand the code). Basically it is a heuristically guided application of the following steps:

- Enable `--type-in-type`, `--no-termination-check`, `--no-positivity-check`, `--no-projection-like`, `--n

[2022-09-04 12:15] sattlerc commented on #6067
A lot of these heuristic transformation could probably be implemented programmatically. Maybe an idea for a student project?

[2022-09-04 14:28] andreasabel commented on #6080
How about making `absName` a strict field?  It will still be a pointer to a string then, so sharing shouldn't be lost.  (Correct me if I am wrong, I am not super firm on these issues.)
(Even in `Abs'`, it could be a strict field, I suppose.)

[2022-09-04 14:35] andreasabel commented on #6067
I think I do everything but this step:

Usually levels can be removed without resorting to the hammer Type:Type.
[code]

But `--no-projection-like`, `--no-fast-reduce` could be a good heuristics to start...

[2022-09-04 16:15] jespercockx commented on #6067
Ok, I have a fix for the minimized test case I posted, but this did not yet fix the OP. Here is a new minimized example that seems to be triggering a slightly different bug:
[code]

[2022-09-04 17:35] plt-amy opened #6082 "Elaborate-and-give does not respect `--postfix-projections`"
[code]

Elaborate-and-giving that interaction point should probably expand to `x .fst` rather than `fst x`, since the user asked for `--postfix-projections`.

[2022-09-04 19:47] #6067 closed, assigned to jespercockx

[2022-09-04 19:52] #5765 closed, assigned to jespercockx

[2022-09-04 21:37] nad commented on #6067
I think it would be great if we had a tool which helped us with test case shrinking. However, note that it is not always trivial to know if a piece of code is handled correctly or not. When I shrink test cases for regressions I sometimes test the code using both the development version and the most recent release, and if I get the same result from both, then I backtrack.

[2022-09-04 21:44] mikeshulman commented on #6067
Thanks!  This also fixes my original unminimized code.

I had thought of some of those transformations myself, but not all.  A proper guide to minimization would be great, but even just that list is helpful to have.  Maybe it could be made more available somewhere, like in (or linked from) the instructions for submitting a github issue?

[2022-09-05 11:07] jespercockx opened #6085 "Add dynamic bound checking for de Bruijn indices?"
A significant fraction of bugs in Agda (or at least, in the parts of Agda that I tend to work on) are somehow caused by messing up de Bruijn indices in some way. In an ideal world, we would use a GADT for them so we could guarantee statically that such bugs do not occur. However, this would require a major rework of Agda's internals, and possibly some novel research on how to deal with indices in

[2022-09-06 05:50] JasonGross opened #6087 "__IMPOSSIBLE__ at src/full/Agda/TypeChecking/Rules/LHS.hs:1552:19 in Agda-2.6.2"
* [x] My report includes the version of Agda (and Emacs, GHC, and OS versions where relevant).
* [ ] The issue can be reproduced with the _latest version_ of Agda (either [released](https://wiki.portal.chalmers.se/agda/Main/Download) or `master` branch). (I have only checked with 2.6.2, but it seems this issue has not been reported.  If it is not reproducible with the latest Agda, I apologize; ple

[2022-09-06 08:23] jespercockx commented on #6087
Thanks for reporting this! I cannot reproduce this on the latest `master`, so it seems this has already been fixed. We're aiming for a release of 2.6.3 by the end of October, so hopefully you won't have to wait much longer.

[2022-09-06 08:23] #6087 closed, assigned to nobody

[2022-09-06 10:19] ncfavier commented on #6044
I'd have PR'd this if I could, but I'm talking about the [GitHub organisation](https://github.com/agda) logo, not something in the repo.

[2022-09-06 10:26] nad commented on #6085
Step 1 would make it harder to use `IntMap`s and `IntSet`s, but I guess that would be possible using [coerce](https://hackage.haskell.org/package/base-4.17.0.0/docs/GHC-Exts.html#v:coerce).

We already have such a flag:

https://github.com/agda/agda/blob/4e6428395398907a722e0563d2813d7eaeb32248/Agda.cabal#L156-L160

[2022-09-06 11:05] Trebor-Huang opened #6088 "Reflection mechanism for rewriting"
Would it be reasonable to add reflection support for the `REWRITE` pragma? A few features that I can think of:
- Allow tactics to read the active rewriting equations (and also the relations declared as `BUITIN REWRITE`).
- Allow declaration of rewriting equations. This would be useful if someone is to prototype a feature in Agda, and needs systematic generation of reduction rules, e.g. HITs when t

[2022-09-06 12:23] jespercockx commented on #6088
Yes, I think this would definitely make sense. 1 and 2 are obviously useful, while 3 would require a bit of careful design to avoid problems with subject reduction. Perhaps it could make use of a similar mechanism to the already existing `dontReduceDefs` and `onlyReduceDefs` primitives?

[2022-09-06 13:36] andreasabel commented on #6087
The internal error can be reproduced in 2.6.1 and 2.6.2, but it was already fixed in 2.6.2.1.

[2022-09-06 19:10] nad opened #6090 "Better time profiles"
If we use time profiling, then a large part of the time is attributed to bind, which is not very helpful. I found a blog post that seems to explain what is going on: [Locating Performance Bottlenecks in Large Haskell codebases](https://www.tweag.io/blog/2020-01-30-haskell-profiling/) by Juan Raphael Diaz Simões. Apparently bindings annotated with cost centres are never inlined, and when `-fprof-au

[2022-09-06 19:23] nad opened #6091 "Mark small functions as INLINABLE"
I think small functions that are used often should be marked [`INLINABLE`](https://downloads.haskell.org/ghc/9.4.2/docs/users_guide/exts/pragmas.html#inlinable-pragma). See issue #6090 for some motivation.

Examples:
* Everything in `Agda.Utils.HashTable`.
* Everything in `Agda.Utils.Monad`.
* Everything with a type class constraint (and perhaps also more definitions) in `Agda.Utils.List`.

(By th

[2022-09-06 19:23] nad commented on #6080
I don't see why that would help, and a quick test suggests that it doesn't.

However, I also don't see why the switch from two constructors to one helps. If the type was unlifted, then it would be safe to perform the projection eagerly, but the type is lifted, so values of that type can be thunks (with one or two constructors). I tried to use `-fpedantic-bottoms`, and still got the speed-up. Can a

[2022-09-06 20:01] nad commented on #5673
The fact that (at least one time profile suggests that) about 10% of the allocations used by Agda when the standard library is type-checked are performed by `canonicalizeAbsolutePath` (see issue #6090) suggests to me that we should do something about that procedure.

I tried to replace the body of `canonicalizeAbsolutePath` with `return`, and a quick test suggested that this made the standard libr

[2022-09-06 20:05] asr commented on #6090
I think these kind of options (and the warnings too) only should be enable from the last point release of major versions, that is GHC 9.4.2. We should encourage the use of the last point releases.

[2022-09-06 20:22] nad commented on #6049
I currently use `--cubical`/`--erased-cubical` when I use cubical features, and otherwise mostly `--without-K`, and I can use both variants in a single development. With the suggested setup, if I work on a file `X.agda` that takes a long time to type-check and that uses `--without-K`, if I then switch to a file that uses `--erased-cubical` and that imports `X.agda`, then `X.agda` would be type-che

[2022-09-06 20:26] nad commented on #6090
If someone wants to use GHC 9.4.1, why should we make things more difficult for that person? And do you think we should edit the Cabal file if GHC 9.4.3 is released? I don't want to create more work for us.

[2022-09-06 20:37] asr commented on #6090
Yes.

In this particular case, GHC 9.4.2 fixed some import issues in relation to GHC 9.4.1, and we only use the last point release versions in CI. So, by "supporting" only these versions we get less work for us.

[2022-09-07 04:28] mikeshulman commented on #6049
Would it be possible to do both?  Include `--cubical-compatible` for people in Nils' situation, but also automatically recompile `--without-K` files cubically when importing them from `--cubical` ones?

[2022-09-07 06:34] nad commented on #6090
We do not support anything that is not listed under `tested-with`. However, we do not actively prevent Agda from building under GHC 9.4.1. Furthermore the important issues that you mention might only affect certain platforms. Someone who uses a different platform might choose not to upgrade, and I don't think we should actively make things harder for such a person.

[2022-09-07 06:41] nad commented on #6049
The option `--cubical-compatible` has to be used in all imported modules. I think we should encourage people writing reusable libraries to use this option.

[2022-09-07 06:49] nad commented on #5448
@plt-amy, did you say that you have some idea about how we can disallow problematic definitions like those discussed above without generating Cubical Agda code behind the scenes (by leveraging the current infrastructure for checking definitions by pattern matching)? That could be beneficial also to users of Cubical Agda, who might not have to see generated code in error messages.

Note that the cu

[2022-09-07 07:26] #5525 closed, assigned to UlfNorell

[2022-09-07 09:35] nad commented on #6090
I thought that `(Data.Vector.Hashtables.Internal.!)` was a lookup function for hash tables, but [the function](https://hackage.haskell.org/package/vector-hashtables-0.1.1.1/docs/src/Data.Vector.Hashtables.Internal.html#%21) just calls [`readPrimArray`](https://hackage.haskell.org/package/primitive-0.7.4.0/docs/Data-Primitive-PrimArray.html#v:readPrimArray), and it is used to read from mutable unbo

[2022-09-07 10:21] nad commented on #6090
However, now I checked the Core code that is generated for `Agda.Utils.HashTable`. After specialisation much of the boxing seems to be gone, and I could not find any trace of `(Data.Vector.Hashtables.Internal.!)`.

[2022-09-07 14:17] UlfNorell opened #6093 "Different NaN on M1 mac"
On `x86_64`:
[code]
On `M1`:
[code]
That top bit is the sign bit (https://en.wikipedia.org/wiki/NaN#Floating_point) and `negate` flips it on either architecture. The tests for #4868 fails due to this discrepancy and to my mind it looks like the M1 is doing the "right" thing in returning a positive NaN for `0.0 / 0.0`.

The simplest fix would be more opinionated here:
https://github.com/agda/agda/b

[2022-09-07 15:07] wenkokke commented on #6093
~~I'm in favour of picking an exact bit pattern.~~

[2022-09-07 15:14] wenkokke commented on #6093
Actually, no, I'm very against that. What test breaks? Anything that gives access to the bit pattern for a NaN should be removed from the builtins, and replaced with something that returns a maybe.

[2022-09-07 15:17] wenkokke commented on #6093
If we distinguish between `+NaN` and `-NaN`, then we should check whether `0.0 / 0.0` is positive or negative when assigning `nan`, and negate it if it's negative.

[2022-09-07 15:27] UlfNorell commented on #6093
This is the test that breaks:
https://github.com/agda/agda/blob/20e0d1dbf7fd1d5e8051219e52967398392242b9/test/Succeed/Issue4868.agda#L201-L202

What's the right way to check the sign of a NaN?

[2022-09-07 15:32] jespercockx commented on #6043
This one turned out to be not easy to minimize, but I managed to do it in the end:
[code]

[2022-09-07 15:42] jespercockx commented on #6043
Wait, I spent all this time minimizing this example, and now it turns out it was already fixed and I was just using an old executable of Agda? :/

[2022-09-07 15:43] wenkokke commented on #6093
I think `toWord NaN` should return `nothing` rather than the underlying state. I don't think we should ever give the user access to the underlying state of a NaN, because it's platform dependent, and hence this test will never succeed consistencly.

[2022-09-07 15:46] nad commented on #6090
A better alternative is perhaps to remove `-fprof-auto` from the Cabal file, without adding anything else. Then any profiling users are free to choose how the program/library should be profiled. We can instead add `-fprof-late` to the makefile.

[2022-09-07 15:48] wenkokke commented on #6093
I'd recommend against setting a specific bit pattern. It might work, but some platforms may be peculiar about what they see as (which kind of) nans, so it may result in some unexpected behaviour.

I'd rather see us enforce the contract that if a float is nan, you can never see its bit pattern.

[2022-09-07 21:10] carlostome opened #6095 "Ambiguous pattern synonyms broken with anonymous module"
Hi, I'm using Agda 2.6.2.2.

The following code typechecks:
[code]
but with the unnamed module declaration it doesn't.:

[code]
gives the error:
[code]
Naming the empty module (with or without opening) typechecks again:
[code]

[2022-09-07 21:35] nad commented on #6090
I compiled Agda (a different commit) using `--library-profiling-detail=none  --profiling-detail=none --ghc-options=-fprof-late` and obtained the following profile for the standard library:
[code]
I don't know why the profiles are so different, perhaps I didn't use `-foptimise-heavily` for the previous profile, even though I thought I did. Note that names from other packages are included, despite t

[2022-09-08 07:30] #6043 closed, assigned to jespercockx

[2022-09-08 10:17] andreasabel commented on #6044
@UlfNorell : (Where) do we host the sources and renderings of the logo in our repos?  If we don't have such a place, I think it is good to add one.  I suggest we make a `agda/admin` repo to host documents that concern the `agda` organization.

P.S.: I found https://github.com/agda/agda/blob/master/doc/user-manual/agda.svg but I suppose this isn't the one to be changed for this issue. (?)

[2022-09-08 10:30] #6076 closed, assigned to sattlerc

[2022-09-08 12:29] nad commented on #6091
It [seems](https://github.com/agda/agda/issues/6090#issuecomment-1239916703) as if I had not used `-foptimise-heavily` when creating the [profile](https://github.com/agda/agda/issues/6090#issue-1363705189) which led me to create this issue. Perhaps it would be better to use something like `INLINABLE` than `-foptimise-heavily` (if this would bring down compilation times), but I don't think that is

[2022-09-08 12:51] nad commented on #6080
I type-checked `Data.Nat` (with Agda compiled without `-foptimise-heavily`) using both approaches, as well as without any change. When I changed `Abs` Agda seemed to become a little slower. Forcing the name seemed to work better, so I've decided to go with that approach.

[2022-09-08 19:50] ncfavier commented on #6044
The SVG could be made to have a white background instead of transparent, but this is orthogonal to this issue: what needs to be changed is the GitHub organisation logo (I'm assuming it's in Settings → Profile).

[2022-09-09 08:38] nad opened #6096 "Should n be size tel?"
Consider what happens if the size of `tel` is less than `n` in the following code (I have verified that this can happen, see for instance `test/Succeed/Issue723.agda`):
https://github.com/agda/agda/blob/27ea7f2207c25d6f68387c264aaed9ffc1a733e8/src/full/Agda/TypeChecking/Rules/Application.hs#L653-L696
If the size of the telescope is less than `n`, doesn't it make sense to use `size tel` instead of

[2022-09-09 08:53] nad opened #6097 "Optimise checkArgumentsE'"
This issue is related to issue #5983. I tried to see what makes Agda slow for code of the following form, where the number of arguments is *n*:
[code]
Some observations:
* In the following code `n` is *n*, *n-1* and so on down to *1*:
  https://github.com/agda/agda/blob/27ea7f2207c25d6f68387c264aaed9ffc1a733e8/src/full/Agda/TypeChecking/Rules/Application.hs#L653-L660
  However, in this case the co

[2022-09-09 09:14] UlfNorell commented on #6096
Yes, that looks like it should be `size tel` instead of `n`.

[2022-09-09 09:17] nad commented on #6096
The test suite does not complain.

[2022-09-09 09:19] UlfNorell commented on #6097
I don't have this code fresh in my mind, but it sounds plausible that `Set_i` should be rigid.

[2022-09-09 09:39] nad commented on #6097
What about other sorts?
https://github.com/agda/agda/blob/27ea7f2207c25d6f68387c264aaed9ffc1a733e8/src/full/Agda/Syntax/Internal.hs#L296-L309

[2022-09-09 10:02] UlfNorell commented on #6097
All the sorts up to `IntervalUniv` are rigid, the others not.

[2022-09-09 17:01] nad commented on #6097
When I made all those sorts rigid some error messages changed. Here is one example, for `test/Fail/Issue821.agda`:
* Before:
[code]
* After:
[code]
I think the new error message is less informative, so I do not think that we should perform this change. (The new error message does not even make sense: the inferred type of `Set` *is* `Set₁`.)

[2022-09-09 17:55] UlfNorell commented on #6097
Why doesn't the error make sense? We're talking about this code, right?
[code]
`Q _ : Set` and we expected something of type `Set₁`

[2022-09-09 18:20] #6080 closed, assigned to nad

[2022-09-09 18:20] #6096 closed, assigned to nad

[2022-09-09 18:21] #6090 closed, assigned to nad

[2022-09-09 18:25] nad commented on #6097
I read the text as "the inferred type of `Set` is not `Set₁`", but I guess it should be read as "the inferred type, `Set`, is not `Set₁`".

[2022-09-10 15:45] plt-amy commented on #5780
Well, the extra duplication seems to happen only when `A` is in `Prop`: when it's in `Set`, they're deduplicated (the type signature looks like `∀ a (b b' : B a) → C a b b'`). So changing the behaviour here wouldn't affect the generality for `Level` variables, which are in `Set`.

[2022-09-11 20:37] nad commented on #6097
I took a different approach. The function `checkArgumentsE'` now sometimes skips the target type check when it is already known that the check will not succeed. This does not solve the problem completely, but handles some cases, including the code in the OP.

I have not addressed the (potential) problem with `absApp`.

[2022-09-11 20:46] nad opened #6100 "Optimise telView?"
I wonder if it would make sense to change the representation of terms to make `telView` more efficient. Could the `Pi` constructor be replaced with something like `TelView`? One could perhaps add a pattern synonym for `Pi`. However, currently `Tele` only supports `Abs`, not `NoAbs`, whereas `Pi` does support `NoAbs`:

https://github.com/agda/agda/blob/e3bf58d8b2e95bc0481035756f44ddd9fe19b40d/src/f

[2022-09-12 11:25] Trebor-Huang opened #6101 "Agsy gives up when no HIT is present"
MWE:
[code]

When the cursor is in the last hole and <kbd>C-c C-a</kbd> is pressed, agda complains "Not implemented: The Agda synthesizer (Agsy) does not support HITs yet". If `--without-K` is enabled, then the same code works with `Bool`.

Agda version 2.6.3, using VSCode on OS X.

[2022-09-12 14:56] gallais opened #6102 "Feature request: Allow compile-time substitution of definitions"
In agda/agda-stdlib#1427 we have a conundrum: we'd like to define an efficient version of min
but it would be inconvenient when used at the type level. Andreas suggests defining a builtin
NATMIN but we'd rather implement `fast-min` ourselves and have a pragma

[code]

that means that occurrences of `min` are automatically replaced with `fast-min` at compile time.

Of course ideally it'd be safe so

[2022-09-12 14:56] gallais commented on #6102
I'm assigning myself so that I have a chance of remembering it's an interesting goal to tackle
during the upcoming AIM but feel free to pick it up and do it yourself if you want!

[2022-09-13 08:15] jespercockx commented on #6073
@plt-amy I've assigned you and added the 2.6.3 milestone, but feel free to bump it to another one if you don't have the time now.

[2022-09-13 17:35] plt-amy commented on #6073
@jespercockx sounds good; I'm fairly sure the solution I sketched works, but I haven't pushed it yet since I'm banned from Actions, so CI doesn't run on my PRs :pensive:

![](https://files.amelia.how/fy7U.png)

I've reached out to support but haven't heard anything back, yet.

[2022-09-15 04:05] Trebor-Huang commented on #6088
Would anything break if we allow a reduction rule to be enabled and disabled? `with` clauses sometimes don't work when the type is a reducible definition, so it might break?

[2022-09-15 08:02] nad commented on #6088
Subject reduction?

[2022-09-15 09:20] nad opened #6106 "Document why sorts are normalised"
For some reason the sort of a type is not reduced when the type is reduced, but it is normalised when the type is normalised:

https://github.com/agda/agda/blob/a54cce304613d52963e64c90ba35a55af9651d88/src/full/Agda/TypeChecking/Reduce.hs#L397-L399

https://github.com/agda/agda/blob/a54cce304613d52963e64c90ba35a55af9651d88/src/full/Agda/TypeChecking/Reduce.hs#L1195-L1196

Is this intended? I did n

[2022-09-15 09:56] nad commented on #6100
I replaced `Pi` with a constructor that takes a new kind of telescope, and added a pattern synonym corresponding to the old `Pi` constructor. I also added a variant of `telView` that is currently only used in `checkArgumentsE'`. The variant of `telView` could perhaps be optimised further: going under abstractions is currently (at least) linear in the number of abstractions, and if this is done rep

[2022-09-15 10:07] nad opened #6107 "Increase sharing for sorts?"
This issue is related to issue #5983. I have optimised Agda's treatment of the following kind of code (#6097, #6100):
[code]
However, the following variant is handled less well:
[code]
I suspect that the main reason for this is that the total size of the `Sort` arguments to the `El` constructors is quadratic in the number of arguments. The sorts have the following form: `FunSort (Type (Max 2 []))

[2022-09-15 14:33] jespercockx commented on #6073
If you can push your branch to here then I can create the PR for you.

[2022-09-16 13:41] jespercockx commented on #6088
Note that the `reduce` primitive of the reflection API is just a function producing a reflected `Term` that will be typechecked when it is unquoted, (with the full set of rewrite rules) so there is no risk of losing subject reduction here.

[2022-09-16 15:14] dolio opened #6108 "Higher constructors can trick the productivity checker"
Agda's productivity checker seems to be satisfied by a definition being guarded by higher constructors. However, higher constructors can reduce to non-constructors at their endpoints, allowing definitions like this to be accepted:

[code]

Normalizing `force hmm` is an infinite loop.

This example is wrong in an obvious way, because `wait i0 = force`, so the definition of `hmm` is actually equival

[2022-09-16 19:45] nad commented on #6108
Here is a self-contained test case:
[code]

[2022-09-17 14:18] nad commented on #6031
The `touch` hack does not seem to work very well when GHC 9.4.2 is used. My guess is that GHC is now better at avoiding recompilation.

An alternative is perhaps to generate `Agda.VersionCommit` using `Setup.hs`.

[2022-09-18 15:29] nad commented on #6031
A [discussion](https://github.com/s5k6/versionInfo) about this kind of thing.

[2022-09-18 15:44] nad commented on #4678
We could perhaps use [`System.FilePath.Posix.isValid`](https://hackage.haskell.org/package/filepath-1.4.100.0/docs/System-FilePath-Posix.html#v:isValid) and [`System.FilePath.Windows.isValid`](https://hackage.haskell.org/package/filepath-1.4.100.0/docs/System-FilePath-Windows.html#v:isValid), and reject file names that are not accepted by both tests.

[2022-09-18 19:22] Mesabloo opened #6111 "Is compile-time irrelevance supposed to be erased with `COMPILE` pragmas?"
If this issue has already been opened before, please forgive me. I have not found any while searching through the issues here.

I have been reading quite a lot through the docs of Agda (version 2.6.2.2), up until irrelevance.
As far as I understand, there are 2 kinds of irrelevance:

- [compile-time irrelevance](https://agda.readthedocs.io/en/v2.6.2.2/language/irrelevance.html) using the dotted sy

[2022-09-18 19:40] nad commented on #5673
Perhaps we could avoid the conversions in `canonicalizeAbsolutePath` by using [`OsPath`](https://hackage.haskell.org/package/filepath-1.4.100.0/docs/System-OsPath.html) instead of `FilePath` and `String`. (Note that [`System.Directory.OsPath.canonicalizePath`](https://hackage.haskell.org/package/directory-1.3.8.0/docs/System-Directory-OsPath.html#v:canonicalizePath) supports `OsPath`.)

[2022-09-19 03:40] mikeshulman commented on #5979
In addition to `≔` (0x2254 COLON EQUALS), other symbols someone might want to use for definition clauses include `≜` (0x225C DELTA EQUAL TO) and `≝` (0x225D EQUAL TO BY DEFINITION).

[2022-09-19 07:15] mikeshulman opened #6112 "Internal error: non-confluent rewriting to singletons"
I did a much better job minimizing this one!
[code]
Produces
[code]
The issue title is my amaterish attempt to guess the culprit, given that the error goes away if (1) `⊤` and `★` are made postulates, or (2) `G1` is specialized to any particular `A` (removing the non-confluence with `FX`).  It also goes away if the rewrite pragmas for `G1` and `G2` are coalesced into one.

[2022-09-19 07:40] ericfinster opened #6113 "Unsolved meta variable(s) in rewrite"
I have encountered the following somewhat strange error message while using rewrites to set up a certain algebraic signature:

[code]

Here is the offending code.  I have minimized it to the best of my ability, but as the rewrites in question really mention all of the structure, it is still somewhat long.

[code]
Some observations:

1. The code works fine in Agda 2.6.2.2 but generates the error me

[2022-09-19 08:42] ericfinster commented on #6113
Oh, I am just noticing that the code posted above actually produced a slightly different error:

[code]

This is because in the actual development, the definition of `Pd` must be delayed until after the rewrites so that the line `Pd n ℓ X P f = 𝟙 ℓ` should be moved to the end of the file.  (I changed this at the last minute, thinking it was simpler).  When this definition is moved to the end, Agda

[2022-09-19 09:02] jespercockx opened #6114 "Error with --erased-cubical: "Not usable at modality""
I am trying out `--erased-cubical` but I run into a problem with the following example:
[code]
The error message is the following:
[code]
I am not sure, but I think this type should be accepted. Even if the value of `A` is somehow needed by cubical stuff, with `--erased-cubical` all that stuff is itself erased so it should be fine to erase `A` as well. (cc @nad @plt-amy )

[2022-09-19 09:44] plt-amy commented on #6114
Can you import `--erased-cubical` modules from plain `--cubical` modules? Because if so, we can't skip the check: it would be possible for an importing module to use the Cubical Nonsense (In this case, I think, the projection functions for hcomp only) from your module in a non-erased context. But if this situation is impossible, then we can skip this:

https://github.com/agda/agda/blob/master/src/

[2022-09-19 09:52] jespercockx commented on #6114
No, you can import `--cubical` modules from `--erased-cubical` ones but not the converse. So I believe the check is only required with `--cubical`, not `--without-K` (that is, once https://github.com/agda/agda/issues/6049 is done). So this actually provides some additional motivation for #6049 (else we would need a separate `--erased-without-K` flag).

[2022-09-19 09:58] jespercockx commented on #6049
Theoretically, we'd also need a flag `--erased-cubical-compatible` for modules that are compatible with `--erased-cubical` but not with `--cubical` (see https://github.com/agda/agda/issues/6114). This flag would generate the extra definitions needed for cubical, but mark them as erased. My motivation for this is that I'd like to use cubical to prove things about code written for Agda2Hs, but there

[2022-09-19 12:03] andreasabel opened #6116 "CI broken on macOS (stack) due to ICU library"
See https://github.com/agda/agda/actions/runs/3077923287/jobs/4973127015#step:13:197:
[code]

[2022-09-19 13:12] nad commented on #6114
The code in the OP should not be allowed, see issue #4784.

[2022-09-19 13:12] #6114 closed, assigned to nobody

[2022-09-19 13:15] nad commented on #6114
Yes you [can](https://github.com/agda/agda/blob/bc39cc25b5bb2c7ccbfbccc5eee530b017febbdf/doc/user-manual/language/cubical.lagda.rst#cubical-agda-with-erased-glue).

[2022-09-19 14:48] #6108 closed, assigned to andreasabel

[2022-09-19 14:56] jespercockx commented on #6114
I've tried reading through that (very long) discussion but I am not sure I understand which part relates to the example I have here. Isn't it strange that the datatype is accepted if you either remove the `@0` or remove the `--erased-cubical`, but is rejected if you have both?

[2022-09-19 14:57] jespercockx commented on #6114
Here is another example that is rejected because of the `@0` but I do not understand why:
[code]

[2022-09-19 15:03] jespercockx commented on #6114
My motivating example is trying to add `--erased-cubical` to the following file: https://github.com/agda/agda2hs/blob/master/lib/Haskell/Prim/Foldable.agda. The type `Foldable` looks basically like this:
[code]
and is rejected because of this restriction. If the restriction is essential, how could I work around it for this example? I'd like to use cubical agda to write some proofs about code using

[2022-09-19 15:21] jespercockx commented on #6111
Compile-time irrelevance is a stricter form of irrelevance than run-time irrelevance, so both kinds of irrelevant arguments are erased during compilation. The documentation could be made more explicit on this, though.

[2022-09-19 15:27] #5225 closed, assigned to nobody

[2022-09-19 20:08] nad commented on #6114
The following code uses my library [equality](https://github.com/nad/equality):
[code]

The type is not accepted if you use `--without-K`.

Where does `{@0 a b : Set}` come from? I did not see anything like that in the file.

Could you remove `@0`? The `--erased-cubical` compiler erases all types, whether they are marked as erased or not.

[2022-09-20 06:20] andreasabel commented on #6116
The deploy workflow is also broken: https://github.com/agda/agda/actions/runs/3086183358/jobs/4990276154#step:11:42
[code]

[2022-09-20 08:04] shiatsumat opened #6118 "Add `primXtoYInjective _ _ refl ≡ refl` lemmas"
Agda's built-in library has a number of `primXtoYInjective` lemmas for functions for primitive types, such as the following.
[code]

We can use these lemmas, especially for deriving decidable equalities over primitive types (e.g., [agda-stdlib's `≟` on `Char`](https://github.com/agda/agda-stdlib/blob/master/src/Data/Char/Properties.agda)).

However, under the `--without-K` flag, we can't prove tha

[2022-09-20 08:19] shiatsumat commented on #6118
I believe this is safe because we can generally prove that `eq : x ≡ y` equals `refl` (roughly speaking) when we know the full construction of `eq`.

For a decidable equality `≟`, we often want to use the property that `(a ≟ a) ≡ yes refl`.
And when `≟` is derived from a primitive injection `primXtoY` (i.e., `a ≟ b` on `X` is derived from `primXtoY a ≟' primXtoY b` on `Y`), we need `primXtoYInject

[2022-09-20 08:32] gallais commented on #6118
This is already provable using Hedberg's theorem

[code]

The stdlib has [generic proofs of these results](http://agda.github.io/agda-stdlib/Relation.Binary.PropositionalEquality.html#4201):

[code]

[2022-09-20 08:32] #6118 closed, assigned to nobody

[2022-09-20 08:37] shiatsumat commented on #6118
Wow I didn't know `≡-≟-identity` and `≢-≟-identity`, thanks a lot for the answer!

[2022-09-20 10:20] shiatsumat opened #6119 "Add `primStringFromList (primStringToList a) ≡ a`"
Currently, we can't prove that `primStringToList` and `primStringFromList`, conversions between `String` and `List Char`, are mutually inverse, although we have their injectivities, `primStringToListInjective` and `primStringFromListInjective`.

I believe this mutual inverse is useful. Can we add a primitive lemma like the following?
[code]

The opposite side
[code]
can be proved by combining `pri

[2022-09-20 12:15] nad opened #6120 "Document ThingsInScope"
A value of type `ThingsInScope a` is a map from names to lists of `a`'s:

https://github.com/agda/agda/blob/3b9831fd6dfdfdfb46dc7d92e0becf9518cfe840/src/full/Agda/Syntax/Scope/Base.hs#L313

The following code, which uses `List.union`, suggests that the lists might represent sets:

https://github.com/agda/agda/blob/3b9831fd6dfdfdfb46dc7d92e0becf9518cfe840/src/full/Agda/Syntax/Scope/Base.hs#L542-L54

[2022-09-20 14:33] UlfNorell commented on #6119
As a work-around, if you don't mind turning off `--safe`, you can use `primEraseEquality` and a postulate like this:
[code]
Using `primEraseEquality` is what makes `primStringFromToListId` evaluate to `refl` on any concrete strings.

[2022-09-20 15:06] martinescardo commented on #6049
Will we still have `--without-K`. In certain developments (e.g. `TypeTopology`) I definitely do not want to write `--cubical-compatible`, which would imply that somehow my type theory is non-standard. I am just working with a subset of MLTT (without K!), in Agda notation, of course. I don't even have axioms, such as univalence or function extensionality. When they are needed, they are explicit ass

[2022-09-21 15:12] andreasabel commented on #6116
Fixed by 6dcafb1a813c2152d22c7ba5d8dd62a5d3b39f1f and 1aa7b2e413f0cc68b1d737ac52e0d34a1fbe85f3.

[2022-09-21 15:16] andreasabel commented on #6116
Seems like Windows CI times out now: https://github.com/agda/agda/actions/runs/3085907672/jobs/4993643764
After linking the executables, the workflow stalls during/after installation:
[code]

[2022-09-21 15:20] andreasabel opened #6122 "Update label list in closed-issues-for-milestone tools"
I guess this concerns @plt-amy and maybe @jespercockx and maybe others...
Labels that have been renamed on github must be renamed accordingly in our release tool _closed issues for milestone_.  There is a list of "internal issues" that won't appear in the changelog:
https://github.com/agda/agda/blob/1aa7b2e413f0cc68b1d737ac52e0d34a1fbe85f3/src/release-tools/closed-issues-for-milestone/Main.hs#L88-

[2022-09-22 11:00] UlfNorell commented on #4067
As far as I can tell the problems with cubical are legit. We block some occurrences of `refl` that do get solved if we allow them to be, and their solutions are required to solve the problem that blocked the `refl` in the first place.

[2022-09-22 11:38] nad opened #6124 "Reflection: cannot reduce type because variable is erased"
A follow-up to issue #5734:
[code]
[code]
The reflection machinery cannot reduce the type of `id` because it thinks that the erased variable `A` is used in a non-erased context. However, it is fine to use `A` in this way *in a type*.

This particular problem can be fixed by adding `workOnTypes` to line 779:

https://github.com/agda/agda/blob/1aa7b2e413f0cc68b1d737ac52e0d34a1fbe85f3/src/full/Agda/T

[2022-09-22 12:57] nad commented on #6124
The use of `workOnTypes` broke one of my tactics. The problem seems to be that `workOnTypes` changes how Agda reduces things:

https://github.com/agda/agda/blob/1aa7b2e413f0cc68b1d737ac52e0d34a1fbe85f3/src/full/Agda/TypeChecking/Irrelevance.hs#L117-L126

I used the following code instead, and that seems to work better, but I don't know if this fix breaks anything:
[code]

[2022-09-22 20:15] nad opened #6125 "Internal errors due to use of runSpeculative"
You can get an internal error if you use `runSpeculative m`, where `m` constructs and returns a fresh meta-variable but asks for the state to be reverted, if you then later use the fresh meta-variable:
[code]
[code]
[code]
* With a recent development version:
[code]
* With Agda 2.6.2:
[code]

One way to fix this might be to not revert the state entirely, but to remember all the fresh meta-variable

[2022-09-23 07:53] jespercockx commented on #6125
One of the main points of `runSpeculative` is precisely the ability to clean up fresh metavariables from the state, so if we keep them around then we would need some way to mark them as "invalid" so that Agda doesn't complain about them being unsolved.

[2022-09-23 12:05] nad commented on #6125
Another option is to restrict the type of `runSpeculative` so that one can only return, say, a boolean. How is `runSpeculative` typically used?

[2022-09-23 12:35] jespercockx commented on #6125
Here is the motivating use case:

https://github.com/jespercockx/ataca/blob/master/src/Ataca/Core.agda#L72-L78

A boolean would not be enough here, but what would work would be to change `runSpeculative` to have type `TC (Maybe A) -> TC A` so you can only return something in the case the state is *not* rolled back.

[2022-09-23 13:53] jespercockx commented on #5810
Perhaps it would make more sense to only assign type `Setω` to a pi type `(x : A) → Set e` if the variable `x` occurs *strongly rigid* in the expression `e`. This breaks backwards compatibility, but that's probably a price worth paying to preserve subject reduction.

[2022-09-23 14:27] andreasabel opened #6128 "Stack CI times out for Windows"
Lifted from https://github.com/agda/agda/issues/6116#issuecomment-1253857436
Breakage occurred _before_ merging changes to `stack-9.2.4.yaml` in course of #6116: https://github.com/agda/agda/actions/runs/3083630490/jobs/4984952651

[2022-09-23 14:27] andreasabel commented on #6116
Windows CI breakage seems unrelated and is tracked in #6128.

[2022-09-23 14:27] #6116 closed, assigned to andreasabel

[2022-09-23 15:57] jespercockx commented on #5810
Actually the occurrence of `t` in `ℓ t` is counted as strongly rigid, so the solution I suggested above does not work.

[2022-09-24 04:55] JasonGross opened #6129 "Agda documentation does not specify the precedence of function application"
[The documentation](https://agda.readthedocs.io/en/v2.6.2.2/language/mixfix-operators.html) does not specify the precedence of function application.  It seems based on my experiments below that application binds more tightly than any possible infix, and that applications involving postfix operators of any precedence are treated as ambiguous (I think this means that Haskell's `_$_` infix cannot be

[2022-09-24 11:38] #5828 closed, assigned to jespercockx

[2022-09-24 11:39] #5462 closed, assigned to jespercockx

[2022-09-24 16:05] mr-ohman commented on #4723
Both for a recent development version and for 2.6.2.2, the OP produces the following error:
[code]

[2022-09-24 20:48] omelkonian opened #6130 "Unexpected? unfolding in simple program"
*Agda v2.6.2.1*

----------------------

Given the following predicate on `List.Any` proofs that point to the last element:
[code]
We can get Agda to produce two holes that have repeatedly unfolded:
[code]
The content of the holes is:
[code]
Granted, the expression that leads to this is non-sense, but is this behaviour expected or does it point to some issue that might slow down type-checking?

[2022-09-25 09:12] andreasabel commented on #6130
The behavior can be explained by the warning given:

I am not familiar with this component of the Agda type checker.
@UlfNorell , @jespercockx ?

[2022-09-25 09:30] jespercockx commented on #6130
Removing the unnecessary pattern lambdas and adding `--inversion-max-depth=3`, you get:
[code]
Error:
[code]
Basically, Agda sees the constraint `LastAny _p_89 =< LastAny (there x) → LastAny (there x)` and is smart enough to see that the meta `_p_89` should **not** be a `here`, since that would produce the type `xs ≡ []` which is definitely not a function type. So the inversion machinery in the co

[2022-09-25 09:40] andreasabel commented on #6120
This use of `last2` picks 2 entries from the collection of clashing modules for the error message.  One could as well report all clashing modules, or 2 different ones.
Going from list to set would change the clashing-modules error, but I think this would not be an essential change.

I think duplicates do not make much sense here.

An experiment changing the list to a `Set` might be worthwhile.  Ha

[2022-09-25 09:54] andreasabel commented on #6130
So, this is part of the "constructor-headed"/injectivity component, is it?  Couldn't we remember which constructors (including type constructors) a definition can produce, and only do the expansion if the rhs constructor is in this set?  ("rhs" relative to a constraint `f X = rhs`.)  We already check that all definition rhs are constructors, so we could store this set, can we?

[2022-09-25 10:23] andreasabel commented on #4723
Bringing back the unreachable clause error in
- https://github.com/agda/agda/pull/6131

[2022-09-25 10:48] andreasabel commented on #4723
We should rule out such error statically with `-Werror=incomplete-record-updates`.
However, a first experiment suggests that e.g. all uses of `emptyFunction { ... }` break, since this produces a `Defn`.  It should rather produce something in a record type, say `FunctionDefn`, and we should refactor `Defn` to be a tagged union or records, like this:
[code]

[2022-09-25 11:05] andreasabel opened #6132 "Doc building fails with Sphinx 5.2.0.post0"
Build attempt here: https://readthedocs.org/projects/agda/builds/18162666/
Upstream issue:
- https://github.com/readthedocs/sphinx_rtd_theme/issues/1343

[2022-09-25 11:14] #6132 closed, assigned to andreasabel

[2022-09-25 14:47] nad opened #6134 "Agda sometimes stores interface files in incorrect locations"
Agda seems to use the location of a `.agda-lib` file, if any, even if `--no-libraries` is used:
[code]

[2022-09-25 15:08] nad commented on #6129
What do you mean by this? The applications `f ∘' g x` and `f ∘' g` are rejected because `_∘'` is not used as a postfix operator.

Agda's support for mixfix operators partly follows the design described by @UlfNorell and myself in ["Parsing Mixfix Operators"](https://www.cse.chalmers.se/~nad/publications/danielsson-norell-mixfix.html).

[2022-09-25 15:58] nad opened #6135 "Agda seems to skip re-checking empty file when flags are changed"
Consider the following sequence of commands:
[code]
Shouldn't Agda print `Checking M` when the flag `--without-K` is enabled?

I failed to reproduce the behaviour above with a non-empty file `M.agda`.

[2022-09-25 16:29] nad opened #6136 "Agda is slow for a pattern variable with a large type"
I was working on a proof and Agda became much slower when I replaced one variable in the left-hand side by a non-trivial pattern, even though I did not use any of the variables in the new pattern. The reason is presumably that the type of one of the new pattern variables is large: its printed representation is about 1200 lines. I profiled Agda, and one thing that stood out was the occurs check and

[2022-09-25 18:10] jespercockx commented on #6130
Yes, that's correct. Remembering the set of possible head symbols is something we already do I believe, the tricky thing in this case is that one of the heads is not rigid but rather a recursive call. In general, this could be a call to a *different* injective function (or even a non-injective one), we just treat it as a fallback case for when none of the other head symbols match the one we are lo

[2022-09-25 18:12] jespercockx commented on #6136
I'd be interested in taking a look at the unification problem on which the LHS unifier is slow. Currently it is still very unoptimized, but since I never had an example where the LHS unification actually takes a long time I never felt the need/motivation to optimize it further.

[2022-09-25 19:57] andreasabel commented on #6134
Which code is responsible for determining the location of the `.agdai` files?

[2022-09-25 20:01] andreasabel commented on #6135
Why?  Isn't the `.agdai` file under `_build` up-to-date?
(Cf. related issue #6134.)

[2022-09-25 20:29] andreasabel commented on #6136
I suppose `instantiateFull` could be removed here if `reallyNotFree` (and its subroutines) instantiated metas as needed.  However, it does some free variable computation which isn't good enough if metas are not instantiated.
The relevant code seems to have been contributed by @UlfNorell during his fix of
- #3177.

[2022-09-26 06:40] UlfNorell commented on #6129
What makes you say this? Do you have an example use of _$_ that works in Haskell, but not in Agda?

[2022-09-26 08:49] andreasabel commented on #6130
So maybe the computation of the possible head symbols needs to be recursive?  Atm, it isn't:
https://github.com/agda/agda/blob/8a2ab7b7fc91b5dbbe49bb99838a9f28bd2528ec/src/full/Agda/TypeChecking/Injectivity.hs#L109
Here, we would need to fill in the possible head symbols of `f` (which would be the empty set when `f` is the function whose head symbols we are currently computing).  For mutual functi

[2022-09-26 11:07] nad commented on #6135
No, the `.agdai` file was produced using (effectively) `--with-K`.

[2022-09-26 11:21] #5551 closed, assigned to jespercockx

[2022-09-26 13:33] andreasabel commented on #6135
This will create `M.agdai` under `_build` with `--without-K`.

This will crease `M.agdai` alongside `M.agda` with `--with-K`.

This will look at `M.agdai` under `_build` which is up-to-date, since we again require `--without-K`.

[2022-09-26 13:36] nad commented on #6135
Oh, right.

[2022-09-26 13:36] #6135 closed, assigned to nobody

[2022-09-26 14:08] andreasabel commented on #6135
Good we converge.  Sorry, my first comment was a bit brief...

[2022-09-26 14:15] andreasabel opened #6137 "Refactor: add `-Werror=incomplete-record-updates`"
Lifted from https://github.com/agda/agda/issues/4723#issuecomment-1257167049:

Currently, we do not have GHC warning `incomplete-record-updates` on, because it does not go well with types like `Defn`.  However, with pattern synonyms we can likely gracefully refactor `Defn` into a tagged union of records, using the old constructors as pattern synonyms for tag followed by record constructor.  E.g
[c

[2022-09-26 15:31] jespercockx commented on #6113
Here is a minimal reproducer:
[code]

[2022-09-26 16:16] jespercockx commented on #6113
The cause seems to be the fix of #5600 in https://github.com/agda/agda/commit/982e18cdcbb2355d571bc05a8a98811fe6b48525