[2021-08-19 04:21] #5514 closed, assigned to asr

[2021-08-19 04:22] asr commented on #5514
For the missing CI test I filled #5521.

[2021-08-19 14:17] andreasabel commented on #5302
`agda-tests` is only for running the internal test suite, i.e., QuickCheck tests.  The other tests are run, as you correctly tried, via `make test`.
It seems that your `make` does things in parallel, at least the log is wildly mixing different execution threads, so it is hard to make sense of it.  What is the log with a sequential execution of `make test`?

[2021-08-19 15:39] andreasabel commented on #5291
I really wonder who uses ASCII control sequences these days...  But congrats to finding this bug!

[2021-08-19 15:59] andreasabel commented on #5283
MWE:
[code]
This fails in 2.6.0 with unsolved constraints, starting with 2.6.1 it loops.

[2021-08-19 16:27] andreasabel commented on #5283
Turns out that the scope checker accepts `tactic ?` as expression, but the type checker never handles it.  (It is ping-ponged forever between `checkExpr` and `checkApplication`, I suppose.)

[2021-08-19 16:55] andreasabel commented on #4883
There, the suggested workaround for stack to get just type-checking is: `stack ghci "--ghci-options=-e 1"`.

[2021-08-19 17:04] andreasabel commented on #5382
Fixed by #5455, it seems.

[2021-08-19 17:04] #5382 closed, assigned to andreasabel

[2021-08-19 17:09] #5291 closed, assigned to andreasabel

[2021-08-19 17:22] asr commented on #5302
The tests are not included in the released version.

[2021-08-19 18:00] #5283 closed, assigned to andreasabel

[2021-08-19 18:04] andreasabel opened #5524 "duplicate identifiers ignored in fixity declarations"
Agda accepts this:
[code]
(Found while looking at #5070.)

In contrast GHC rejects this:
[code]
Error:
[code]

I suppose Agda could emit a warning.

[2021-08-19 19:26] andreasabel opened #5525 "Duplicate entries in `executables` file lead to undefined behavior"
Discovered when looking at #5070. Ping @wenkokke.
Agda accepts silently executables with the same `basename`:

E.g. I can write this into `.agda/executables`:
[code]
(The second command does not echo, but crashes if called on the command line.)

This makes the example from the docs fail:
[code]
Error:
[code]
It succeeds if I swap the entries in the `executables` file.
This behaviour can be explain

[2021-08-20 07:42] wenkokke commented on #5525
Aiii, that shouldn’t be happening! I’ll draft a fix sometime next week!

[2021-08-20 13:43] andreasabel commented on #5513
I think we can release at any time now.  It does not matter too much whether some current bug fixes make it into 2.6.2.1 or have to wait for the next release.

[2021-08-20 20:22] JacquesCarette opened #5527 "Feature request, level constraints"
I just learned that this is valid Coq: `Record ECat@{ i j k | i <= j, j <= k } := { (*to be filled *) }.`

In Agda, we say
[code]
but the later bit can't be said. Now `o <= ℓ` is really `o ⊔ ℓ ≡ ℓ` in disguise. Yes, we can indeed **say** that - but it doesn't help very much (try it!).

The feature I would like is to be able to tell Agda the same information about universe levels that can be said i

[2021-08-20 22:10] jespercockx commented on #5527
Have you seen https://gallais.github.io/agdarsec/Level.Bounded.html by @gallais ? Is this "good enough" for what you want, or is there something essential missing?

[2021-08-21 08:16] L-TChen commented on #5521
The `haskell/actions/setup` is able to set up GHC 8.10.6 now: https://github.com/agda/agda/pull/5515/checks?check_run_id=3388383531. I will fix this ticket and close the PR later.

[2021-08-21 09:06] #5521 closed, assigned to asr

[2021-08-21 11:14] mouse07410 opened #5528 "master fails to build agda-tests with GHC-9.0.1"
[code]

Here's the workaround:
[code]

I don't know Haddock, so can't tell what's wrong with line 75 of `test/Fail/Tests.hs` and how to fix it.

[2021-08-21 13:28] JacquesCarette commented on #5527
I had not! Thanks for pointing it out.

The 'essential' missing thing seems to be smooth integration with the rest of Agda, stdlib included... Using this library in agda-categories doesn't seem to make sense, it would be way too noisy.

[2021-08-21 13:41] mouse07410 commented on #5528
There's also a problem with `size-solver`. The following patch takes care of both this issue and failure to copy built `size-solver` to where the test-scripts expect it to be (`dist/build/size-solver/` directory):
[code]

[2021-08-21 15:31] gallais commented on #5527
It also does not play well with unification, at least in the agdarsec library.
You often need to be explicit about the types of subterms. That's part of the
reason for the specialised module at level 0 that we added recently.

[2021-08-21 20:28] asr commented on #5513
I created the branch `release-2.6.2.1` for preparing the release.

[2021-08-22 15:23] andreasabel commented on #5528
@mouse07410, I cannot reproduce this issue:
1. (`invalid-haddock`):  Could it be that your `haddock` is too old, or the wrong `haddock` was picked up in your experiment?  I tried `cabal v2-test` and it succeeded to compile `agda-tests`.  The `make test` also works (using v1-cabal).
2. (`size-solver`): `make install-bin` uses v1-cabal which automatically places the binary in `dist/build/size-solver

[2021-08-22 15:41] mouse07410 commented on #5528
[code]
Perhaps it's too new...???

[code]
There's no other `haddock` on my machine, AFAICT.

I strongly doubt this:
[code]
If I interpret the above correctly, the `else` branch is executed.

Sorry - no, it doesn't. Not the current/latest Cabal with GHC-9.0.1.

In any case, do you see a problem in applying my patch? It turned out necessary on my machines, and (hopefully!) won't break anything on yo

[2021-08-22 16:07] andreasabel commented on #5528
Do you have `stack.yaml` in the agda project root?  In this case `HAS_STACK` will be true and the cabal branches in the makefiles will not be used.

In `src/size-solver`, I did:
[code]
The latter recreated `dist` and also `dist/build/size-solver/size-solver`.

I would not object the second part (`mkdir -p dist/build/size-solver`), but we certainly want to keep the (`-Werror=invalid-haddock`), whic

[2021-08-22 16:10] andreasabel commented on #5528
Turns out I have an older `haddock`...

But would that matter?  The warning `invalid-haddock` is checked by GHC, not `haddock`.

[2021-08-22 17:15] mouse07410 commented on #5528
Nope! I am not antagonistic to `stack` (like I used to be), but my tool of choice is Cabal.

[code]

May I ask to please do that? Including the `cp $(shell type -p size-solver) dist/build/size-solver/size-solver`?

I've no problem with that. I employed that workaround simply because I didn't know how to resolve the "invalid haddock` issue. If you can - it would certainly be preferable.

Ha! You se

[2021-08-23 06:23] andreasabel commented on #5302
@asr: Is there a strong reason why `cabal test` cannot run the testsuite?

If I try this, I get an error that `AGDA_BIN` is not set.  Is there maybe a way to get the agda binary that was created in connection with `cabal test`?

On a practical side, running the whole testsuite may be too much, but `cabal test` could at least run a selection of tests.

[2021-08-23 06:27] andreasabel commented on #5528
The problem is that I have not been able yet to reproduce your problem, I would like to see an independent verification.  Maybe @UlfNorell could try (I suppose you are on macOS, @mouse07410)?

I concur that the current CI does not test for `agda-tests` build with `cabal`.  Maybe this (#5302) is the more fundamental problem we should solve.
This would give us a reproducer for problems like the one

[2021-08-23 09:06] Saizan commented on #3733
Status Update: Merged partial support for inductive families into `master`.

Missing features and caveats:
1. Definitions relying on injectivity of data constructors are not yet supported.
2. The generated clauses are excluded when checking termination, positivity, or injectivity checking.
3. The generated clauses are not looked at for other purposes that might benefit, like matching in the presen

[2021-08-23 11:08] nad commented on #5471
When I have made changes that should not affect the output of the LaTeX backend I've used the following script:
[code]
I suppose one can invoke it by going to `test/LaTeXAndHTML/succeed/` and running something like `for FILE in <files to be tested>; do <script> <old Agda> <new Agda> $FILE; done`. I've used [comparepdf](https://www.qtrac.eu/comparepdf-foss.html) and [diffpdf](https://www.qtrac.eu/d

[2021-08-23 11:20] ajrouvoet commented on #5471
FWIW: I have not come across anything out of the ordinary in the output of my thesis. Most importantly, italics correction now appears to work consistently.

[2021-08-23 11:28] nad commented on #5495
Note that there is already a part of the manual called "Performance debugging". It might make sense to tie this section to a section that describes patterns that in some cases lead to poor performance.

[2021-08-23 13:20] nad commented on #5468
This makes sense to me.

[2021-08-23 13:27] mouse07410 commented on #5528
@andreasabel yes, I run on MacOS.

Are you saying that `make test` works fine for you with Cabal-3.4.0.0 and GHC-9.0.1 on other platforms??? Or with GHC-9.0.1?

Of course, if the proposed fix does not *break* it for those other platforms, it would still make sense to incorporate it, regardless of whether you can see the problem or not.

Yes, #5302 should be solved - but I think I'm already ahead o

[2021-08-23 13:31] mouse07410 commented on #5302
This problem is only a tip of the iceberg, and reflects that Cabal places the built binaries to where the subsequent tests don't look for it - aka, can't find.

Here's my way of solving it by creating a wrapper shell script that does the right magic for the complete rebuild. It ensures (by setting appropriate env vars and removing stale binaries) that at least the right binaries are correctly loca

[2021-08-23 14:12] asr commented on #5513
As preparation for 2.6.2.1 I created a fresh CHANGELOG for 2.6.3.

[2021-08-23 15:37] Saizan commented on #5448
Commit e6404c3 checks the usability of the clause generated for the `transpX` constructor.
This raises a type error for `subst` and `subst'` defined with an erased `P` argument.

`unbox` from #5468 also triggers this error.
[code]

Unfortunately a benign definition like the following from the runtime irrelevance docs also triggers this error:
[code]
However closed paths in Nat are constant, we mig

[2021-08-23 16:05] andreasabel commented on #5528
Well, I routinely run, on macOS Mojave, `make test` after `make v1-install`, on GHC-9.0.1 with various versions of Cabal.  I don't run into the problems you are describing.

Maybe you misunderstood me.  I said I agree that CI does at the moment _not_ test the problem.  But I think we should test it with CI, by fixing #5302.

[2021-08-23 17:50] mouse07410 commented on #5528
Ha! I'm on Big Sur, but honestly I can't see why or how this would make a difference.

Two things that could *potentially* make a difference: I install "other" packages, such as GNU Make, via Macports - not Home Brew. And *all* of my Haskell builds are dynamic.

But with the changes made above (disabling `-Werror=invalid-haddock` for `test-suite` target, and enforcing creation of `src/size-solver/

[2021-08-23 18:30] mouse07410 commented on #5302
Note that once you get through this issue (e.g., by adopting the above script), you'll have to apply the workarounds from #5528 in order for your tests to actually run and pass.

[2021-08-24 09:51] Saizan commented on #5448
The following is however fine, i.e. with `B : @0 Nat -> Set b`.
[code]

[2021-08-24 11:39] nad commented on #5527
Would first-class level constraints improve this situation? I suspect that the Coq implementation of unification sometimes yields unifiers that are not most general.

[2021-08-24 11:51] nad commented on #5448
Can you explain in more detail what happens? Is the problem that `B` is applied to the erased variable `n`?

[2021-08-24 11:57] nad commented on #5513
Is the idea to release `--erased-cubical` and `--ghc-strict`? I don't think these new features should be included in a point release, with only limited testing before the release. I am aware of at least one unresolved issue related to `--ghc-strict` (#5441).

[2021-08-24 12:28] Saizan commented on #5448
We get a generated clause of the form
[code]
where `transpX-Vec` has type
[code]
so  `(λ i → B (x i))` is only usable in an erased context while the transport is supposed to be usable at runtime.

[2021-08-24 14:37] mouse07410 opened #5530 "agda-mode: menubar compile does not work"
### Config
macOS Big Sur 11.5.2, GNU Emacs 27.1, GHC-9.0.1, cabal-3.4.0.0, Agda-2.6.3-current-master. Same for `agda-mode` and all the files from `src/data/emacs-mode/`.

Agda installation passes all the tests included in the repo.

### Problem
Attempt to compile an Agda file (e.g., `hello-world.agda`) fails when done within Emacs from menubar or via C-c C-x C-c.
Here's the `*agda2*` buffer conten

[2021-08-24 18:25] #5506 closed, assigned to andreasabel

[2021-08-24 18:27] andreasabel commented on #5513
But cannot these new features be released as "experimental", being behind options?

[2021-08-25 09:15] txa opened #5531 "Internal bug: TypeChecking/Sort"
An internal error has occurred. Please report this as a bug.
Location of the error: __IMPOSSIBLE__, called at src/full/Agda/TypeChecking/Sort.hs:211:36 in Agda-2.6.3-AGOdYf8ESdVHo914L0TbhF:Agda.TypeChecking.Sort

Here is the file
https://agda.zulipchat.com/user_uploads/23881/mz_RZr2xy0DPK73zgM48t2WX/Shallow.agda

We are a bit stuck on this in the moment :-(

[2021-08-25 09:22] nad commented on #5530
It appears as if you chose `/Users/ur20980/.ghcup/bin/ghc` as your compiler backend. You should give the name of the backend (`GHC` or `GHCNoMain`).

[2021-08-25 09:27] nad commented on #5513
They could have been part of 2.6.2, but we decided to wait. I think it makes less sense for them to be released with 2.6.2.1.

[2021-08-25 09:29] andreasabel opened #5532 ""The module was successfully compiled" should mention with which backend"
"The module was successfully compiled" should mention with which backend
https://github.com/agda/agda/blob/dd552b077b9e429ffcdc3fad2d6d447ce05806e8/src/full/Agda/Interaction/EmacsTop.hs#L116

[2021-08-25 09:32] jespercockx commented on #5531
Thanks for reporting. Here's the file contents for easy reference:
[code]

[2021-08-25 09:32] gallais commented on #5531
Replacing the last line in the type of `ap-proj1` with

[code]

leads to a different error:

The partially applied LHS:
[code]

does show that the hole on the RHS has a pi type but as soon as you apply the LHS (even to a hole)
you get the internal error.

[2021-08-25 09:34] andreasabel commented on #5530
E.g.
[code]

That said, we should kiss `Read` goodbye and implement a parser that can also say why it "cannot read".

[2021-08-25 09:40] andreasabel commented on #5513
This would mean we have to revert the following commits on the release branch!?

- c7083badc [ #5431 ] Added --ghc-strict.
- e4da26c88 [ GHC backend ] Removed some unused code.
- 0606bf2ce [ #5431 ] Added --ghc-strict-data.
- ef2d3d095 [ GHC backend ] Tried to fix #5421.
- 35aa04807 [ JS backend ] Tried to fix #5420.
- 046089db0 [ GHC backend ] Replaced some uses of "erased" with mazErasedName.
-

[2021-08-25 10:01] jespercockx commented on #5513
Usually we do it the other way around, and cherry-pick the fixes we do want onto the release branch when we want to do a minor release.

[2021-08-25 10:43] andreasabel commented on #5513
I was hoping for quicker and more light-weight release process this time given we spent half a year on 2.6.2...

Anyway, the question is maybe rather _who_ does it than exactly how (the person in charge can choose the most efficient way).

[2021-08-25 11:11] jespercockx commented on #5513
I'm not strongly in favour of either approach, I just mentioned how we did it before. Part of the question is also *why* we are releasing 2.6.2.1 now: is it to fix a few specific critical issues with e.g. the build, or is it just like a regular release but smaller (I get the sense you intended this to be like the latter, but previous minor releases have mostly been like the former.)

[2021-08-25 11:23] andreasabel commented on #5513
My thinking was we can release the accumulated bugfixes now rather cheaply, without having to worry a lot about regressions---since we didn't add much new features or see wild refactorings.
In general, I think it is good to roll out bugfixes quickly; atm, it may take us over a year to release a fix.

[2021-08-25 11:34] mouse07410 commented on #5530
@nad right you are! Fixing that took care of the problem.

That said, other editors etc. that I checked, seem to have a **menu choice** for this parameter (not a "free string"), which prevents mistakes like mine. Would be nice to see it here too.

[2021-08-25 13:06] nad commented on #5513
I seem to recall that we used to have two main branches, one for maintenance and one for new features. With such a setup it might be easier to release bug-fixes. Do you remember why we abandoned this approach? Currently most features and bug-fixes are developed on separate branches and merged into `master` when they are deemed to be sufficiently mature. Merging bug-fixes into two branches instead

[2021-08-25 13:09] nad commented on #5530
There is tab completion for the string. However, one can build Agda with extra backends, and there is currently no simple way to figure out which backends are available. If such a feature were added (`--list-backends`), then I guess one could have a menu with exactly those backends that are available.

[2021-08-25 14:01] andreasabel commented on #5513
My inner pendulum is also swinging back to this setup.  We had it for 2.4.2.x but then abandoned it.  At that time, it became to laborious to merge `maint` into `master` since `master` had accumulated substantial changes (look at the long release notes for 2.5.1!).

I think the policy back then was:
- refactoring and bug fixes into `maint`, then merged into `master`
- new features into `master`

S

[2021-08-25 14:30] #5532 closed, assigned to andreasabel

[2021-08-25 14:43] andreasabel commented on #5530
We currently indirectly depend on packages `parsec` and `attoparsec`, so we could include one of these as direct dependency and use it as parser in replacement for `Read`.

[2021-08-25 20:02] nad commented on #5513
Perhaps one could have a bot that pulled everything satisfying some conditions into the maintenance branch:
* The commit should be marked with some magic string.
* The commit should apply cleanly.
* The commit should pass the CI tests.

[2021-08-25 22:07] andreasabel commented on #4940
I think I tracked it down to the following lines:
https://github.com/agda/agda/blob/2bab72d99ae3330cbf3a94450a647158838a1d1b/test/Utils.hs#L92
https://github.com/agda/agda/blob/2bab72d99ae3330cbf3a94450a647158838a1d1b/test/Utils.hs#L119

The environment reset mechanism here will reset existing variables to their own value, but _will not delete new variables_.  Since `ExecAgda.vars`, sets `AGDA_DIR

[2021-08-25 22:50] andreasabel commented on #4940
I can automate this `which`-trick in the `Makefile`....

[2021-08-25 23:08] mouse07410 commented on #5530
In that case, may I suggest at least some guiding text in the help part of that option? And setting a default value to GHC, with explanation that if GHC is used, it should **not** be a path to the executable? I'm trying to find a way to prevent others from making the same mistake as I did.

[2021-08-26 07:49] #4940 closed, assigned to andreasabel

[2021-08-26 14:11] jespercockx commented on #5531
The root cause seems to be a non-confluence in the rewrite rules: the type `Id {Δ} (λ _ → Set) {δ₀} {δ₁} δ₂ A₀ A₁` is rewritten using the rule `id-ap` to `ap {Δ} {λ _ → U} (λ _ → Set) {δ₀} {δ₁} δ₂ A₀ A₁` (which is not a pi type) while it could also be rewritten using the rule `id-u` to `A₀ → A₁ → U` (which *is* a pi type). This breaks some internal assumption of the Agda typechecker and causes the

[2021-08-26 15:12] jespercockx commented on #5531
Related: https://github.com/agda/agda/issues/5396

[2021-08-26 15:31] jespercockx commented on #5396
The example I posted above no longer triggers an internal error, and does not actually exploit non-confluence. Here is a better example:
[code]
Error:
[code]
Error with `--no-fast-reduce`:
[code]

[2021-08-26 15:41] andreasabel commented on #5302
Er, this was many years ago, before @phile314 integrated other parts of the test suite into `agda-tests`. :$

I started working on having `cabal test` run parts of the test suite.  I think it would make sense that this only runs a small fraction, just to see whether Agda is operational.  Could be as little as type-checking a "hello world" program or the like...

[2021-08-26 16:10] txa commented on #5531
Hi Jasper,

Thank you very much. Now I have the strange situation that a file that didn’t terminate terminates when adding the –confluence-check but not without it?!

Cheers,
Thorsten
[code]

[2021-08-26 22:00] berndlosert opened #5537 "Incomplete pattern matching when using instance fields"
Consider the following code:

[code]

If I change the last part of `Test-Bar` to this:

[code]

then I get an incomplete pattern match again. Something with instance fields is confusing Agda I think. Or maybe I'm confused about how instance fields work when doing this sort of thing.

This was tested on Agda 2.6.2

[2021-08-26 22:12] berndlosert commented on #5537
Oops, I made a mistake. Setting `Test-Bar .Foo' = Foo` does not produce an incomplete pattern match for `test'`.

[2021-08-27 02:21] mouse07410 commented on #5302
I'd say, as long as the entire build and test-run works with Cabal, without the need to use Stack - it's not crucial whether `make` is involved or not. `make test` is simple enough - I wouldn't kill myself over trying to port it to `cabal test`.

[2021-08-27 02:22] mouse07410 commented on #5530
Anyway, my issue is resolved (thanks, @nad ), so I guess I can close this.

[2021-08-27 02:22] #5530 closed, assigned to nobody

[2021-08-27 08:15] andreasabel commented on #5302
Yeah, maybe a standalone `cabal test` isn't possible due to https://github.com/haskell/cabal/issues/7577#issuecomment-906790525.
Maybe `cabal install --run-tests` can be made to work, but this isn't a good developer option, as `cabal install` rebuilds from scratch, see https://github.com/haskell/cabal/issues/6919.  But actually, `cabal install --run-tests` doesn't work either, see https://github.c

[2021-08-27 08:52] jespercockx commented on #5531
That's strange, I can't reproduce the problem here: it terminates with or without `--confluence-check`.

[2021-08-27 11:26] #5396 closed, assigned to jespercockx

[2021-08-27 11:26] #5531 closed, assigned to jespercockx

[2021-08-27 14:00] andreasabel commented on #5406
Now, `cabal build --allow-newer=base` works.

[2021-08-27 16:45] banacorn commented on #4161
For posterity: if `CHCP 65001` does not work, please consider [changing the system locale](https://superuser.com/a/1435645) instead.

My guess is that `CHCP 65001` applies only to child processes but not grandchild processes.

[2021-08-27 23:00] asr opened #5539 "Support GHC 8.10.7"
GHC 8.10.7 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-August/020128.html). I created this issue for collecting/reporting the required changes/issues.

[2021-08-27 23:37] asr commented on #5513
I want to release 2.6.2.1 for including support to GHC 8.10.7 and for including some accumulated bug-fixes. I agree that this bug-fix release shouldn't include `--erased-cubical` nor `--ghc-strict`. I shall make some experiments on cherry-picking bug-fixes and reverting the `--erased-cubical` and `--ghc-strict` features.

[2021-08-28 08:36] andreasabel commented on #5539
I think GHC 8.10.7 was only released because I couldn't install the binaries of 8.10.6 on my mac:  ;-) https://gitlab.haskell.org/ghc/ghc/-/issues/19950.

[2021-08-28 17:51] andreasabel commented on #5528
@mouse07410: At least your problem with building `agda-tests` _cannot_ be reproduced by the CI I set up (PR #5536), see https://github.com/agda/agda/runs/3450560096?check_suite_focus=true for the macOS instance.

[2021-08-28 19:03] andreasabel commented on #5302
In PR #5536 I set up a CI (ubuntu, macOS) that runs `cabal test` after `cabal install`.
Atm, too much of the testsuite is included to have it serve as a simple check that Agda is operational.  However, the technology is in place now, and if there is interest, we can design a sensible subset of the testsuite to be run with `cabal test`.

A flaw in the ointment is that `cabal {v1|v2}-install Agda --

[2021-08-30 01:21] mouse07410 commented on #5302
As I said earlier, I see a lot of value in being able to build using Cabal without Stack (just like it is important to be able to build using Stack without Cabal). I also think that switching to `cabal v2-install` would be a huge advantage over the current `cabal v1-install`.

But I see little benefit in replacing `make test` with `cabal test` or `cabal install --run-tests`.

`make` (already) does

[2021-08-30 15:22] andreasabel commented on #5302
@mouse07410 wrote:

The new CI (`cabal-test`) in this PR ensures that `cabal v2-install` and `cabal v2-test` succeed without build errors (such as you experience).  The existing `Build (cabal)` workflow already tested `cabal v2-build`.

Atm, we cannot fully switch the Makefile to `v2` since e.g. the `type-check` goal does not work sensibly with `v2-cabal` (see haskell/cabal#1176).

[2021-08-30 15:29] #5398 closed, assigned to andreasabel

[2021-08-30 15:34] andreasabel commented on #4161
At least for building Agda, this should be fixed (#5465) by de-unicoding `Parser.y`.

[2021-08-30 16:46] mouse07410 commented on #5302
Understood. This was not intended as a criticism - you guys are doing good IMHO! - but as an attempt to "help" with prioritization of efforts.

[2021-09-01 08:13] wenkokke opened #5541 "Documentation for Agda code à la Haddock"
### Documentation for Agda code à la Haddock

_(I couldn't find any previous issues discussing docstrings for Agda, so I created this one.)_

I'd like to propose we add docstrings to Agda, so we can generate API documentation, and more thoroughly document, for instance, agda-stdlib.

**1. Where can docstrings be placed?**
Docstrings are always placed on the line directly before, indented by any am

[2021-09-01 09:20] andreasabel commented on #5537
@berndlosert I suppose you could close this issue then, or is there anything left to do?

[2021-09-01 09:27] berndlosert commented on #5537
Thanks for replying. Yes, I would still like to know why `Test-Bar .test` requires a complete pattern match in contrast to `Test-Bar .test`.

[2021-09-01 09:30] berndlosert commented on #5537
I meant in contrast to `Test-Bar .test'`.

[2021-09-01 09:47] andreasabel commented on #5537
(Btw, you should be able to edit your comments to correct typos.)

[2021-09-01 09:56] wenkokke commented on #5541
@andreasabel Apologies, my cat submitted the issue when the only content was the title "Documentation". I've since added the actual intended content.

[2021-09-01 10:11] andreasabel commented on #5537
Ok, here is a slightly shrunk version:
[code]

It seems that the heuristics that solves the missing clauses is not up to what you want here.  I think what it does is:
1. Find the clauses not covered by the user:
[code]
2. Try to solve these clauses by instance search.
3. Report the unsolved clauses.

Information found at step 2. is not fed back to the coverage checker to eliminate cases.
You can s

[2021-09-01 10:14] andreasabel commented on #5519
With PR #5536 we at least run `succeed` & `fail` on macOS.

[2021-09-01 12:52] berndlosert commented on #5537
Thanks for the explanation. This is not so bad, so I will close this issue.

[2021-09-01 12:52] #5537 closed, assigned to nobody

[2021-09-02 10:37] #5302 closed, assigned to andreasabel

[2021-09-02 10:37] #5519 closed, assigned to andreasabel

[2021-09-03 15:39] HuStmpHrrr opened #5544 "Internal error caused by addition of `Checkpoints` to `OpenThing`"
Hi,

one piece of my old code seems to trigger this bug:
[code]
while it is fine in Agda 2.6.1.3.

The offending function is:
https://gitlab.com/JasonHuZS/practice/-/blob/master/T/Soundness.agda#L375-400

To copy here
[code]

Visually, this function doesn't seem to use any special feature in Agda that might trigger a corner case, so I am not even sure how to find a minimal reproduction, but commen

[2021-09-03 18:45] JacquesCarette commented on #4814
I am encountering this issue myself right now (Agda v2.6.1.2, emacs v27,2, Windows 10 with WSL2, running inside a Ubuntu container).

@andreasabel 's guess:

is quite likely part of the issue.

[2021-09-03 19:24] rwe commented on #4814
@JacquesCarette The cause that @andreasabel described would just be that emacs is not installed and configured correctly on that system. If you cannot run the `emacs` command directly, `agda-mode` cannot either.

Are you able to run `emacs` as a command?

[2021-09-03 19:27] JacquesCarette commented on #4814
Yes, I can run `emacs` as a command, from a WSL2 shell. I cannot run it from a cygwin or DOS shell.

I think the problem is that I have a linux version of `emacs` but a previously installed "windows" version of `agda`, and these don't like each other. I can see `agda` (and `agda-mode`) just fine from the WSL2 shell, but since `agda-mode` uses `rawSystem` which uses Windows' `CreateProcess` under t

[2021-09-03 20:15] rwe commented on #4814
Oh, wow, that's an interesting interaction! I haven't used WSL, but I can imagine how those could confuse each other. If I understand correctly, that's expecting "Windows Agda"  to run "WSL2 emacs", but it fails because the latter isn't part of the Windows `%PATH%`. I imagine even if it could be found, there might be some surprises related to differing filesystem layouts? Maybe not? https://docs.m

[2021-09-03 22:00] JacquesCarette commented on #4814
Continuing to learn... do **not** attempt to install the haskell tool chain with ghcup if you've got some other pieces already installed (either via the Windows installer or via apt-get; I had some of both still around). That fails miserably, with super obscure error messages.

[2021-09-05 00:00] decorator-factory opened #5545 "Syntax error when a file ends with a goal but no newline"
## Version
I'm using Agda `2.6.3-b44a0b`

## Description
When the file ends with a goal (`{!   !}`) and the file doesn't have a new line character at the end, a syntax error is reported.

Example code:
[code]
If the file ends with `\n`, It's parsed correclty:
[code]
But if the file doesn't end with `\n`, I get a syntax error:
[code]

[2021-09-06 09:50] andreasabel commented on #5545
I introduced this regression in https://github.com/agda/agda/pull/5522.
Needs to be fixed before releasing 2.6.2.1, or the fix (#5522) for #5291 has to be excluded from the release.

[2021-09-06 10:35] andreasabel commented on #5544
https://github.com/agda/agda/blob/731f300deac14e10792a0bbf22c86cbe0c9c7e4b/src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs#L106
If this is the accurate error location, it means that there is an unsolved meta variable left when everything should be solved (at serialization time).

[2021-09-06 12:09] wenkokke opened #5547 "Write HTML and LaTeX to a chosen filename"
I'd like to be able to run...
[code]
...and have Agda write HTML for *only* the passed input file to the *specified* output file.

Currently, while rendering PLFA and—I assume—a number of blogs, you have to use regular expressions—or your knowledge of the root directory—to figure out the module name to predict the name of the file Agda will write the HTML to. I'd be much easier if we could simply

[2021-09-06 14:23] liesnikov opened #5548 "Agda infers an incorrect type with subtyping on"
As per title, with a subtyping flag on, Agda doesn't infer the right type. Example in question:

[code]

@jespercockx and I tried a naïve fix (f78b8c1fe7db) which eliminates the shortcuts if the subtyping flag is on. However, with these changes one gets an unsolved meta error with the following constraints:

[code]

[2021-09-06 16:45] #5545 closed, assigned to andreasabel

[2021-09-07 08:42] jespercockx commented on #5548
Note that we have some special heuristics for inequalities between universe levels that are used to simplify the analogous inequalities between levels, see https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/LevelConstraints.hs

However, even if these heuristics were applied more generally to types, this would only solve the first and third constraint, leaving the second one `B =<

[2021-09-07 13:55] HuStmpHrrr commented on #5544
Isn't this very strange? if a meta is unresolved, then wouldn't agda highlight the line here the meta is unresolved? I will check which field trigger this error then.

[2021-09-07 14:12] HuStmpHrrr commented on #5544
The following are my findings:
1. If I change
[code]
to
[code]
Then Agda will generate a hole without crashing
2. If I fill in the hole, it won't crash. Reloading the file for multiple times also works. Agda won't crash.
3. But if we restart Agda, it starts to crash again, until we do step 1.

I

[2021-09-07 14:23] andreasabel commented on #5544
I suppose nothing changes with `{-# OPTIONS --no-caching #-}`?

[2021-09-07 15:49] HuStmpHrrr commented on #5544
no it still crashes with this flag. I would also like to mention that no `.agdai` file is generated after applying the trick in my previous reply. not sure if it's normal.

[2021-09-08 06:54] andreasabel opened #5549 "Testsuite: Windows issues with paths in golden values"
Trying to run the testsuite under Windows I encounter a spurious error because the golden value contains a path made with slashes but the OS gives me backslashes:
https://github.com/agda/agda/blob/65ca4d6cfac3db8bc6e24fc46394cf301ebc2933/test/LaTeXAndHTML/fail/Issue2453.html#L3
In general, the testsuite seems to be non-portable, see also phile314/tasty-silver#16.

[2021-09-08 13:40] andreasabel commented on #5547
@wenkokke: I think the features you mentioned would be very welcome!

[2021-09-09 15:15] JacquesCarette commented on #4814
Further information: looks like WSL can give you WSL 1 unless you prod it really hard to always do WSL 2, even though WSL 1 is quite broken and unsupported by Microsoft.

Setting up an X server on Windows that works properly is also challenging.

But anyways, as far as this particular issue is concerned: I think to close it, what's needed is a much better error message. For example, if the full $P

[2021-09-09 16:37] andreasabel commented on #4814
I implemented your suggestion as:
[code]

[2021-09-09 18:10] JacquesCarette commented on #4814
Wonderful, thank you.  (There has been other comments about `agda-mode` and PATH on the Zulip, and I think this error would have helped them somewhat too.)

[2021-09-09 20:44] laMudri opened #5551 "Panic when showing module contents with pattern synonym"
Pressing `C-c C-o` (`agda2-module-contents-maybe-toplevel`) on the hole produces a panic. `Agda version 2.6.2`

[code]

[code]

[2021-09-10 17:18] #4814 closed, assigned to andreasabel

[2021-09-11 03:51] L-TChen commented on #3758
@banacorn made it as we now have an LSP implementation of Agda: ALS https://github.com/banacorn/agda-language-server. The ALS does not require Agda installed on the system, since ALS uses Agda as a Haskell library to type check.
It uses the official release 2.6.2 of Agda. Although there are still some glitches, it is usable enough to replace the Agda mode for emacs.

[2021-09-11 03:57] L-TChen commented on #3758
The VS code extension counterpart fetches a prebuilt binary of ALS, so you don't have to build ALS from source.

*Note that* to be compliant with licenses used by all dependencies we still need to reproduce all BSD/z/whatsoever copyright notices before any official announcement. The same problem with Agda if anyone wants to release a prebuilt binary publicly.

[2021-09-11 16:14] gallais commented on #5541
Once we have these docstrings clearly attached to specific definitions,
we can use them to improve discovery via `C-c C-z` by allowing users to
look for terms in docs.

[2021-09-11 20:29] andreasabel commented on #5551
@laMudri : I dimly remember there was a code sprint on pattern synonyms at a recent Agda Meeting.  Part of this was to make pattern synonyms proper declarations.  This would likely also fix the OP.  Atm, pattern synonyms live in their own structure rather than in the signature with all other declarations.

[2021-09-13 12:51] andreasabel commented on #5544
Shrank to this version (self-contained, not minimal):
[code]

[2021-09-13 13:28] wenkokke opened #5553 "Configuration files"
I'd like to replace Agda's various home-grown configuration files with a well-known and well-supported _consistent_ format. Currently, Agda uses various different and un- and underdocumented formats:

- `.agda-lib` files
- `~/.agda/libraries`
- `~/.agda/defaults`
- `~/.agda/executables`

My proposal for replacing these is as follows:

1. I'd like to replace the `.agda-lib` files with YAML files us

[2021-09-13 13:49] gallais commented on #5553
Whatever the chosen solution, may I suggest the addition of an `agda --init` interactive
command to initialise a lib project? I've added one to Idris2 because I could never
remember the field names, format, etc. It asks a limited set of questions to get started
and then adds a (commented out) stub & description for *every* valid field. I don't loathe
creating a lib file anymore.

[2021-09-13 14:28] andreasabel commented on #5553
Good proposal @wenkokke !

Adding to this, I would also want to allow simply `agda-lib.yaml`.
Atm, I usually call these files all `Main.agda-lib` since there isn't really a point to have a dedicated name.  Also, in `cabal` it is [being discussed](https://github.com/haskell/cabal/issues/6299) whether instead of `<project-name>.cabal` they should simply have a fixed name `package.cabal`.

On `dhall`

[2021-09-13 14:42] jespercockx commented on #5553
I am no YAML expert but aren't alias nodes (https://yaml.org/spec/1.2.1/#id2786196) a kind of let construct?

[2021-09-13 14:56] andreasabel commented on #5544
Bisection blames commit 93e0d3defaa409cdc24702aea23085c9875ab3d0 @UlfNorell

Date:   Tue Mar 23 10:44:38 2021 +0100
[ #958 ] generalize local display forms when outside their context

[2021-09-13 15:55] andreasabel commented on #5553
@jespercockx

Good hint indeed!  We should use this in our workflow configurations.  (UPDATE: See PR #5556.)
Can you also share definitions across files? (We have a couple of those as well.)

[2021-09-13 16:03] andreasabel opened #5555 "Hooray issue 5555!"
Reserved this issue before #5555 is taken by some boring PR I am going to submit!

[2021-09-13 16:09] jespercockx commented on #5555
Will we ever run out of numbers? Only time will tell.

[2021-09-13 19:16] wenkokke commented on #5553
They sure are, but also this is what I referred to as YAML getting "hairy".

[2021-09-13 19:17] wenkokke commented on #5553
@andreasabel Any objections to the (number of) dependencies introduced by the YAML package, linked above?

[2021-09-13 19:18] wenkokke commented on #5553
I guess that's sufficient thumbs up to get started once I can type again.

[2021-09-13 19:20] wenkokke commented on #5555
We've got 5554 problems but this isn't one of them.

[2021-09-13 19:23] jespercockx commented on #5555
Agreed, I'm closing this.

[2021-09-13 19:23] #5555 closed, assigned to andreasabel

[2021-09-13 19:29] wenkokke opened #5557 "Allow Agda to output data files"
The current method for obtaining `agda.sty` and `agda.css` which are consistent with the Agda version you're using is to compile some Agda code, and wait for Agda to fill it in. It may be a good idea to add a `--dump-data-file` command, which, when passed a filename, outputs the corresponding data file to stdout.

[2021-09-14 08:31] fgaz opened #5558 "IMPOSSIBLE when defining constructors for an undefined type in interleaved mutual"
To reproduce:

[code]

This is clearly an error, but instead of pointing out to the user that `A` is not defined, Agda outputs:

[code]

I'm using Agda version 2.6.2

[2021-09-14 09:31] nad commented on #5541
Related: #3198, #4988.

[2021-09-14 10:03] nad commented on #5541
Some comments and questions:

* I think it makes sense to have something like this.

* You did not give any use cases for definitions.

* > Definitions are checked as top-level definitions appended at the end of the current file.

  Perhaps "at the end of the current file" can be replaced by "at the end of the innermost module".

  Is the idea that these definitions should be available for use som

[2021-09-14 12:05] L-TChen commented on #5539
Closed by 6c89e9a6d7d23679c64f8155b39f2d97e094f12b.

[2021-09-14 13:44] wenkokke commented on #5541
I was thinking of allowing the user to show how to use the definition, together with other definitions in the module, in an example, such as for example in:
https://github.com/tweag/linear-base/blob/master/src/Data/Unrestricted/Internal/Ur.hs#L13-L21

That is a great suggestion, and probably what we should go with. I think I was reasoning under the flawed assumption of "one file, one module".

I w

[2021-09-14 13:48] wenkokke commented on #5541
I don't know why you're getting this behaviour. Just referencing the issue as `#5555` does not do this, as far as I can tell: #5555.

[2021-09-14 14:08] andreasabel commented on #5553
@wenkokke

Hope it isn't serious...

We already depend on `aeson` which is slow to compile (and, given it ubiquituous use, steals a lot of my time).  The other stuff seems to be from the @snoyman universe which seems to have backwards compatibility till GHC 8; that is all we need.
So, no objections!

[2021-09-14 14:59] nad commented on #5541
Try to put the link inside a list:

* #5555.

[2021-09-14 15:37] nad commented on #5541
A problem with this approach is that `blerp <neutral>` reduces to `<generated name> <neutral>`.

Some differences between the proposals:

* The current proposal has code blocks, the other one inline code.
* The current proposal supports unchecked code.
* The other proposal (hopefully) supports use of generalisable variables.

If you implement this proposal, then I suspect that it would be straight

[2021-09-14 21:55] andreasabel commented on #5557
Isn't `--print-agda-dir` good enough already? (#5005)
[code]
So maybe it is more like a documentation issue?

[2021-09-14 22:25] wenkokke commented on #5557
Oh, thanks, didn't realise this!

[2021-09-14 22:26] #5557 closed, assigned to andreasabel

[2021-09-15 12:14] andreasabel opened #5562 "Docs (RST): replace `.. versionadded::` by `:since:`?"
I noticed that we use `.. versionadded:: 2.6.2` in the rst docs.  From the GHC docs, I know the tag `:since: 2.6.2` which would also work our setting and seems to be more standard.  Replace?

Ping @vlopezj and the other `rst` experts...

[2021-09-15 14:21] nad opened #5563 "Allow erased names in the type signatures of let-bound definitions"
Erased names are, at least sometimes, not allowed in the type signatures of let-bound definitions. The following code is rejected:
[code]
[code]
I think type signatures of let-bound definitions should use the same rules for erasure as other type signatures.

[2021-09-15 14:52] barrettj12 opened #5564 "Give fails to insert parentheses around operator expression"
I have tested this using both VSCode's `agda-mode` and the Emacs `agda-mode`, running Agda v2.6.2 on Windows 10.

Here is the MWE:
[code]
When you run Agda on this, it creates two holes in the last line:
[code]
If you go into hole 0, type `_,_` and refine, you get
[code]
Then, reloading the file gives an error:
[code]

The obvious solution is that Agda should put in brackets when asked to refine,

[2021-09-15 15:16] barrettj12 commented on #2522
I'm not sure if this is the same issue as @nad mentioned [here](https://github.com/agda/agda/issues/2522#issuecomment-389133965), but when I run the following:
[code]
and try to case-split on `k`, it gives
[code]
despite the fact that `a` is already defined in the context.

Tested with Agda v2.6.2 on Windows 10.

[2021-09-15 16:18] bafain opened #5565 "Internal error in Agda.TypeChecking.MetaVars"
Version:

```2.6.3-20974a8```

Code:
[code]

Output:
[code]

UPDATE (Andreas): This is here:
https://github.com/agda/agda/blob/52702c963b6b2889a710cfc21c72cdd7a1b8a15c/src/full/Agda/TypeChecking/MetaVars.hs#L1640

[2021-09-16 09:46] andreasabel commented on #2522
@barrettj12: Yes, this fits here, only that in your case the case-splitter does not produce faulty code: `f [ a , b ] = ?` parses fine as pattern variables may shadow definitions and other local variables.  The product is faulty if one of the pattern variables shadow a _constructor_ that is in scope or could be in scope if qualified.  (The rationale for the latter is that one might accidentially t

[2021-09-16 09:54] barrettj12 commented on #2522
Right, yeah it didn't cause a compilation error, since it just renamed `a b : Set` to `a₁ b₁ : Set` in the local context. Still, I don't like Agda deciding to rename things that I've already given a name to - I think it would be better if the subscript 1's went on the new arguments, i.e. `f [ a₁ , b₁ ] = ?`

[2021-09-16 09:58] andreasabel commented on #5564
This problem exists already with give:
[code]
The expression `? , ?` is inserted without surrounding parentheses.

The decision about parentheses is taken around here:
https://github.com/agda/agda/blob/52702c963b6b2889a710cfc21c72cdd7a1b8a15c/src/full/Agda/Interaction/InteractionTop.hs#L1019

Related: #1020, #1024, #2867, #3033, #3152, #3453

[2021-09-16 10:01] jespercockx commented on #2522
It is an intentional design choice to not consider names of generalizable variables when picking names for pattern variables. For other definitions Agda does pick a different name, e.g. if you turn `a` and `b` into postulates you get
[code]
I actually think it makes sense in the case of `variables` that you'd want to shadow them in the pattern, since they can anyway not be used in the RHS (only in

[2021-09-16 10:30] gallais commented on #5564
Does parsing register the fixity of the context surrounding the hole?

[2021-09-16 10:35] #5558 closed, assigned to gallais

[2021-09-16 11:08] andreasabel commented on #5564
@gallais

I think it is used in `give` when turning abstract into concrete syntax:
https://github.com/agda/agda/blob/52702c963b6b2889a710cfc21c72cdd7a1b8a15c/src/full/Agda/Interaction/InteractionTop.hs#L1008
But it might not be used when giving literally.

[2021-09-16 12:44] andreasabel commented on #5565
Agda 2.6.0 and 2.6.1 give a proper error with a suggestion to work around:
[code]
So it is a regression in 2.6.2.
However, the suggested work-around does not fly in this case.

[2021-09-16 18:03] ChristopherKing42 opened #5567 "Let Cubical Agda generate cases at the endpoints of paths"
When pattern matching, cases would be added for the end points of a path constructor if those endpoints are themselves constructors. This would allow these definitions to be much more concise.

For example, [here](https://github.com/agda/cubical/blob/7038af13b191fad494dc901a85044877e0504594/Cubical/HITs/S1/Base.agda#L37) we currently have

[code]

If this proposal is implemented, you could instead

[2021-09-16 18:40] andreasabel commented on #5565
`agda-bisect` says: d867f5741d85c0f77e7822a289368d8d8107d625 is the first bad commit
Date:   Tue Aug 25 12:38:04 2020 +0200
[ fix #4615 ] Enable `--no-sort-comparison` by default

Ping @jespercockx.

[2021-09-16 21:18] andreasabel commented on #5562
`.. versionadded` is documented here:
https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded
But I fail to google `:since:`.

[2021-09-17 06:56] vlopezj commented on #5562
I haven't 100% verified it, but it seems that `since` is a custom directive defined by the authors of the GHC docs themselves.

See https://gitlab.haskell.org/ghc/ghc/-/blob/64923cf295ea914db458547432237a5ed1eff571/docs/users_guide/conf.py#L287

[2021-09-17 07:49] jespercockx commented on #5565
The error location points to the line saying the following:
[code]
Shouldn't this also print the string with the location where the dummy was created? Or do I not understand how `__IMPOSSIBLE_VERBOSE__` works?

[2021-09-17 07:51] jespercockx commented on #5565
Ah apparently I need to add `-vimpossible:10` to get the location where the dummy was created:
[code]

[2021-09-17 10:13] barrettj12 opened #5568 "Allow syntax overloading"
[code]
Agda complains on the last line, saying
[code]
However, only the interpretation as `Fb b` actually type-checks. Since it's already building a list of possible interpretations, would it be possible to (attempt to) type-check each of them, and if there is only one that type-checks, use that?

[2021-09-17 11:37] barrettj12 commented on #5568
It looks like the relevant code is the part in [`Syntax/Concrete/Operators.hs`](https://github.com/agda/agda/blob/master/src/full/Agda/Syntax/Concrete/Operators.hs) where an `AmbiguousParseForLHS` or `AmbiguousParseForApplication` error is returned. I might be able to solve this one.

[2021-09-17 11:55] jespercockx commented on #5568
Thanks for the suggestion. However, I think that it's better to avoid having parsing rely on typechecking, except perhaps in specific well-defined cases (e.g. constructor overloading). Otherwise Agda code would become (even) harder to read and understand.

[2021-09-17 11:57] gallais commented on #5568
This can also have very important consequences in terms of performance when
ambiguities get nested: an *n* deep `F (... (F x)...)` will lead to *2ⁿ* possible
parses.

[2021-09-17 12:21] barrettj12 commented on #5568
Okay, fair enough. If you're concerned about understanding, I was thinking about cases such as: given
[code]
you could use both the syntax `F X : ob D` and `F f : hom (F X) (F Y)`. But of course, this leaves it up to the user to make sure their code is human-parseable. What about a command-line option that would be off by default?

True, and if there are _m_ possible interpretations of `F _`, this

[2021-09-17 12:35] JacquesCarette commented on #5568
If a human wrote the code, that's indeed usually the case. But code generators tend to break those rules quite handily. And yes, I've written an Agda generator, and planning to write more.

Editorial comment: I find it fascinating that in the context of Agda, which lets you be super-precise, you're asking for features that allow ambiguity. I find that forced-precision frees my brain to think about

[2021-09-17 12:51] barrettj12 commented on #5568
That's a good point, but on the other hand I think "abuse of notation" exists for a reason - it allows us to declutter notation and avoid explicitly typing things when we don't have to. I think one can also get some mental clarity this way. Certainly, one could use a feature like this to generate unreadable code, but that wouldn't be my intention.

[2021-09-17 12:56] barrettj12 commented on #5568
Anyway, if there's no appetite for this, I am happy to make do without it.

[2021-09-17 13:50] JacquesCarette commented on #5568
Definitely. The Einstein summation convention always comes to mind as one such example of brilliant notation.

I think dependent types (and their elaborators) are a brilliant means by which to (re)discover how to declutter notation, by looking at what can safely be made implicit.

There is also a common mistake done here: to consider eliding those things that are legal to elide only when "everythi

[2021-09-17 14:17] barrettj12 opened #5569 "When defining record values, internal details of record are shown in goal"
[code]
When you run Agda on this, the goal initially shows as
[code]
but when you go inside the goal and "view goal type and context" `C-c C-,`, it turns into the much more readable
[code]
Ultimately, I think the latter should be shown in both cases. We get to see the actual definitions of the terms, rather than the (possibly ugly) internal details of the record.

[2021-09-18 06:51] andreasabel commented on #5565
Yeah, I often fall for this trap, too.

[2021-09-18 08:06] andreasabel commented on #5569
The initial display of all goals does not normalize the goals.  Thus you see the projections like `CommutativeRing.support ℤRing` unreduced.  Command `C-c c-,` does some normalization, which can be customized by `C-u` prefixes, e.g. `C-u C-c C-,` does no normalization whereas `C-u C-u C-c C-,` does maximal normalization.

See also #2276.

[2021-09-18 10:13] barrettj12 opened #5570 "In record constructor, empty case split returns garbage"
[code]
Doing an empty case split on the holes (`C-c` `C-c` `Enter`) screws things up badly. For example, on hole 2, we get
[code]
On hole 0, I get
[code]
using VSCode's `agda-mode`, while Emacs `agda-mode` gives
[code]
In each case, it should do nothing, since you can't case split on the expected result `Set`. It seems that Agda doesn't realise we're now asking for a `Set` instead of a `Rec`, and

[2021-09-18 15:34] andreasabel commented on #5570
This is a duplicate of #2628 and #2800, I think.

In general, case splitting does not work if the hole is not on the same line as the thing to split (here, `D` or `C`).
Also, if the rhs is more than a single hole, case splitting in general produces garbage.  But in some cases, if the hole is the last thing on the line, it works.  So I figured it is better to produce garbage in some cases than outl

[2021-09-18 18:47] 0xd34df00d opened #5571 "Long type checking times with instance arguments"
Typechecking this:
[code]
using
[code]
takes at least several minutes (I've let it run for about 5 minutes and then aborted, so I don't know the exact time it takes).

Removing the instance argument for `count-V` brings the typechecking time down to several seconds.
Removing the explicit matching on the instance argument in `count-U` (that is, the `⦃ acc rec ⦄` part) also brings down the typecheck

[2021-09-18 20:55] 0xd34df00d commented on #5571
Actually I forgot to kill the process this time, and after about an hour it gave me
[code]
so it eventually terminates, and I guess it just means that the instance resolution task I'm posing is ill-posed. So I guess it's OK to close. Sorry for the noise.

[2021-09-18 20:55] #5571 closed, assigned to nobody

[2021-09-20 10:08] jespercockx commented on #5569
In the specific case of dependencies between record fields there is an argument to be made that they should always be inlined. In fact the elaboration algorithm from our paper never even uses the projections in the types of the fields, instead using the value given to the previous fields directly. However, such an algorithm can only work with a "global" elaboration algorithm that checks all clause

[2021-09-21 07:11] andreasabel commented on #5513
@asr: Now that 8.10.7 support is in, do you have time to make the release?

[2021-09-21 07:13] andreasabel commented on #5544
Bumping this to 2.6.3 since I do not want to block a bugfix release by some bugfixes not existing yet.

[2021-09-21 20:46] nad opened #5574 "Operators bound in notations are sometimes not in scope"
The following code parses:
[code]
However, the following code does not parse:
[code]
[code]
The problem is presumably that the operator parser only handles the operators that are in scope when it is invoked, so it is not aware of `_!`. When the extra parentheses are added around `A !`, then the operator parser is invoked separately for that expression, with `_!` in scope.

How should this problem

[2021-09-22 20:40] nad commented on #5201
I tried to add support for properly nested parentheses to the right-hand sides of syntax declarations. I could make the following code work:
[code]
When the implementation parses a parenthesised part it checks that the next token is a parenthesised expression, and in that case it continues with the contents of the parenthesised expression. (To avoid performance problems I added support for splitti

[2021-09-25 12:36] nad opened #5576 "Regression, possibly related to Cubical Agda"
The following code is accepted by Agda 2.6.2, but not by Agda 2.6.3-5018aa4:
[code]
Note that Agda fails to infer `ℓ` on the last line, even though this variable is given in the type signature.

[2021-09-25 17:49] nad opened #5577 "The "Could not generate equivalence" warning is not always emitted"
Now you can get a warning about how a certain definition by pattern matching "will not compute on transports by a path":
[code]
[code]
However, I don't get this warning if I define the code above in a module that uses `--without-K` and import and use it in a module that uses `--cubical`. Perhaps it would make sense to emit this warning more often. For instance, it could be emitted at most once per

[2021-09-26 12:34] madjestic opened #5578 "The Agda mode’s version (2.6.3) does not match that of agda (2.6.2)."
Hey guys,

I've installed the agda2-mode from melpa.  Looking inside `~/.emacs.d/elpa/agda2-mode-20210903.1114/agda2-mode.el` I see this: `(defvar agda2-version "2.6.3"`  The Agda version available via cabal (and listed on Hackage) is 2.6.2.

How can I make sure that I am using the matching versions?  Is there a way to dowgrade the agda2-mode to 2.6.2?

Thanks,
Vladimir

[2021-09-26 14:07] gallais commented on #5578
Installing agda should also install agda-mode. You shouldn't need to use melpa for that.

[2021-09-28 06:04] andreasabel commented on #5544
Ping @UlfNorell

[2021-09-28 12:23] nad commented on #3733
It seems to me as if it would not make sense to make the generated `transpX` constructors erased. Does it still make sense to erase them, and the generated clauses, when compiling using `--erased-cubical`?

[2021-09-28 13:31] Saizan commented on #3733
We should have `|transpX p φ u| = |u|`.  The realizability lemma should go like the one for `hcomp` constructors of HITs.

[2021-09-29 03:11] mouse07410 commented on #4216
Could you clarify the status of this issue/effort? How long till there's a version of `Makefile` (or of `mk/cabal.mk`) that uses `v2-` commands?

If one doesn't want to mess with his Haskell environment using `cabal v1-` commands, how can one build **and install** the current (master) Agda from the source (cloning this repo), if one wants to also run tests?

Should the following work (in sequence

[2021-09-29 07:41] andreasabel commented on #4216
My latest efforts are at: https://github.com/agda/agda/blob/7f58030124fa99dfbf8db376659416f3ad8384de/src/github/workflows/cabal-test.yml#L93-L110

[2021-09-29 10:32] nad commented on #4216
If you have a recent version of cabal-install, then you can perhaps use `cabal list-bin` to find the path to the executable.

[2021-09-29 12:47] mouse07410 commented on #4216
[code]

[2021-09-29 15:11] mouse07410 commented on #4216
Also, please take a look at https://github.com/haskell/cabal/issues/7693 - perhaps it would be helpful here, or you might be able to give some useful feedback there.

[2021-09-29 15:22] fgaz commented on #4216
https://github.com/agda/agda/issues/4216#issuecomment-930142519 looks like haskell/cabal#7679

[2021-09-29 16:53] nad opened #5579 "Bug related to transp"
The following code is accepted by Agda 2.6.2, but rejected by a recent development version:
[code]
[code]
Note the difference between `works` and `fails`:
[code]
Is the problem that some part of the type-checking process is not postponed when a meta-variable is encountered?

[2021-09-29 17:11] mouse07410 commented on #4216
They are two different aspects of the same problem:

- https://github.com/haskell/cabal/issues/7679 is about how to make Cabal build and install dependencies even when `--enable-tests` is set.
- https://github.com/agda/agda/issues/4216#issuecomment-930142519 is about how to modify Agda installation and testing process to avoid triggering the problem that Cabal introduces for `v2-` commands.

[2021-09-29 18:38] mouse07410 commented on #4216
As asked [here](https://github.com/haskell/cabal/issues/7693#issuecomment-930388089) - what's the point of having `--only-dependencies` in the install command? Since we install the generated binaries before running tests anyway - why not ditch that parameter altogether???

[2021-09-30 05:04] andreasabel commented on #4216
Dunno, maybe @asr can say more.

I can see a use for `--only-dependencies` in the following cases:
- CI: First install dependencies, cache them for the next time, then install Agda but don't cache it.  (This is what is often done in the github workflows.)
- Developer: Install dependencies with optimization on, but build Agda without optimizations for quick testing.  (This at least made sense with

[2021-09-30 11:42] L-TChen commented on #5578
I'd like to ask `melpa` to take off `agda2-mode`, since `agda-moda` is always installed together with `agda`.

@madjestic: Does @gallais's reply solve your problem?

[2021-09-30 12:01] mouse07410 commented on #4216
1. CI: I don't think dependencies that did not change themselves, would be rebuilt - therefore, no need to worry about them.
2. Developer: I understand the logic, but I'm pretty sure that (unlike in C/C++) you cannot build dependencies with one set of flags, and then build the "main" package with another set of flags _without having all the dependencies **rebuilt**_. Difference in the flag set can

[2021-09-30 12:15] L-TChen commented on #4216
As for CI, the main benefit of using `--only-dependencies`, I think, is to navigate the error information easier.

[2021-09-30 14:34] madjestic commented on #5578
I am not sure what do you mean by that.  Are you saying that installing agda with cabal will also install agda-mode for emacs?  How does it know about peculiarities of my emacs setup?  Which version of agda-mode does it pick then?
What I don't understand is why would the master branch of agda and agda-mode use different versions?

[2021-09-30 15:02] L-TChen commented on #5578
Yes.

The one shipped with the corresponding Agda.

The `master` branch of Agda has the same version of `agda-mode`. Please just remove the `agda-mode` installed from `melpa` and follow the instructions [here](https://agda.readthedocs.io/en/v2.6.2/getting-started/installation.html#installing-the-agda-and-the-agda-mode-programs).

[2021-09-30 15:04] L-TChen commented on #5578
The latest stable version of Agda on Hackage is 2.6.2. So if you really need an experimental/unstable version of Agda, then you need to `git clone` this repo and compile inside the repo.

[2021-09-30 15:59] anuyts opened #5580 "Error message when giving expression with generalized variable in hole"
The following code typechecks but I cannote **give** the hole:
[code]
When I try to, I get the error message:
[code]

Perhaps it's unreasonable to expect that generalized variables work in holes, but at least the error message should explicitly complain about the hole.

[2021-09-30 19:40] mouse07410 commented on #4216
OK, so having had all this discussion and observing what Cabal maintainers got to say about this, where are we regarding move to `cabal v2-` build?

### Update

It looks like the sequence for `cabal v2-...` should be
1. `cabal v2-build --enable-tests --only-dependencies` (optional, I don't fully understand what separating this step accomplishes, given that CI probably builds everything)
2. `cabal

[2021-09-30 20:14] madjestic commented on #5578
I see, thanks, guys.  That melpa alternative is so confusing, maybe it could be mentioned somewhere in the docs?  I do think though that the melpa package just grabs the master and installs, so if master version of agda-mode was matching cabal agda version, that all would work as expected, without causing this unnecessary conflict.

[2021-10-01 07:03] L-TChen commented on #5578
Yeah, it does not make sense to install `agda-mode` from `melpa` at all, since it just downloads `*.el` files directly from `master`. I have asked them to take it off.

[2021-10-01 09:32] madjestic commented on #5578
What is the reason for having different versions of the master branch between agda and agda-mode though?  Agda master is 2.6.2, agda-mode under the same branch is 2.6.3.   Should not that be the same version (2.6.2) and 2.6.3 be "experimental" or something, but not "master"?

[2021-10-01 09:36] gallais commented on #5578
Agda master is 2.6.3: https://github.com/agda/agda/blob/master/Agda.cabal#L2

[2021-10-01 09:38] madjestic commented on #5578
Oh, I see.  Maybe the issue then is that it's not been updated on hackage yet:
![image](https://user-images.githubusercontent.com/3270083/135599148-41d252c1-f5f0-4ff7-bfe9-1a4887e061c1.png)

[2021-10-01 09:42] jespercockx commented on #5578
Hackage does not have Agda 2.6.3 as it has not yet been released. The `master` branch always corresponds to the version of Agda that's currently under development.

[2021-10-01 09:44] madjestic commented on #5578
I understand.  I guess then the melpa installer is making some wrong assumptions, it should not pick the latest (master), but match the version on hackage, which is a bit harder to do, I can imagine...

[2021-10-01 09:47] jespercockx commented on #5578
This is exactly why installing `agda` also automatically installs `agda-mode`, so you do not have to bother making sure you have the right version.

[2021-10-01 11:04] wadler opened #5581 "Lexical error with tab character in literate Agda text"
Agda reports a lexical error when there is a tab in the source code, even if the tab appears in a commented-out part of the source.

[2021-10-01 11:08] gallais commented on #5578
And would still be wrong if people install an older version of Agda
(via their OS's package manager for instance).

[2021-10-01 11:22] madjestic commented on #5578
If everybody stuck to a convention that is easiest to maintain across many standards, that would not be necessary to have a custom installer.  Such as, if master always matched the version on hackage for example, then using either installation method would yield the same result.  I can imagine that there are reasons not to do so, which resulted in yet another standard (custom installer).  I am not

[2021-10-02 18:28] nad commented on #5578
When the Emacs mode was made available via MELPA @jappeace wrote that he was "available for any questions or concerns on this" (#3360).

[2021-10-02 19:00] jappeace commented on #5578
If I understand correctly the issue now is that:

1. melpa fetches agda mode from master.
2. user install agda stable from hackage (maybe cabal install or something).
3. master agda-mode is incompatible with hackage version

So a solution would be to change the recipe on melpa not to use master, but instead to use a stable version as determined by the agda project, for example, the release tarball

[2021-10-02 20:54] gallais commented on #5578
Users may install an older version than the latest available on Hackage
e.g. because they are working with a textbook that is pinned to a specific
version. AFAIU whatever decision is made on melpa's side will be incompatible
with that scenario.

I'm not sure agda-mode needs to be on melpa at all: as we have seen, it is
tied to the corresponding version of Agda & automatically installed when Agda i

[2021-10-03 11:23] jappeace commented on #5578
First of all I'd like to point out that this hasn't been an issue to date.
The issue opened here is for a difference in minor versions,
which will show up in output path but aside from a little confusing shouldn't cause issues.
These patches have landed since I put it on melpa:

+ https://github.com/agda/agda/commit/c79e052a984b5775f2652867ad14c164c89cfdf8#diff-e77962711f1ff4164544af64cc9f08419e5f

[2021-10-03 13:08] gallais commented on #5578
issue which hasn't caused any reported problems.

Because literally no one advises users to install `agda-mode` from melpa.

I suggest you use a dedicated tool for software pinning,
like nix, docker or vagrant.

The tool we use is `cabal`/`stack` and it installs both `agda` and `agda-mode`.
I don't know of anyone advising users to install `agda-mode` from melpa
instead of using the one provided by

[2021-10-03 16:13] nad commented on #5578
When you write "`agda-mode`" above, do you mean the Emacs Agda mode or the Haskell program called `agda-mode`? I assume that MELPA is only used to install the Emacs Agda mode, and not the Haskell program.

Is it not possible to have several (released) versions of the Agda Emacs mode in MELPA?

[2021-10-04 12:20] andreasabel commented on #5581
Phil @wadler, would you attach a file with MWE?  I cannot reproduce this, tabs in comments seem ok.

[2021-10-04 12:23] andreasabel commented on #5580
We could have a _force give_ command that then reloads the file.

[2021-10-04 12:36] anuyts commented on #5580
Even if that command exists (and Agda does not automatically resort to it in the above situation), the error message for the non-forcible give command needs to make the user aware that the hole is the problem and not the code.

[2021-10-04 16:24] nad commented on #5581
@andreasabel, try putting the following text into `Bug.lagda.md`:
[code]
Result:
[code]

[2021-10-04 16:27] nad commented on #5580
Related: #3341, #3656.

[2021-10-04 18:56] andreasabel commented on #5581
The problem is that literate stuff in a `.lagda` file is _bleached_, meaning non-whitespace is replaced by space characters.  However, tabs, being ws, are kept, failing the Agda lexer.
https://github.com/agda/agda/blob/78ea6d259b10d4751f96924e418dbc1c8cd8b638/src/full/Agda/Syntax/Parser/Literate.hs#L124-L136
A fix would be to replace tabs by single spaces, that would preserve the character positio

[2021-10-05 06:55] andreasabel commented on #5581
Implemented this in #5582.

[2021-10-05 07:20] andreasabel commented on #5578
@madjestic wrote:

I'd be happy to learn about a convention that names the branch for the latest release.  Usually `master` isn't the latest release, but the _head_, the latest development version.  At least in the Haskell universe, this has been commonly adopted practice.
The difference is only when to bump the version:
1. Some leave the version number on `master` the same as the latest release u

[2021-10-05 07:26] andreasabel commented on #5578
@jappeace wrote:

I am not familiar with `nix`, so help is appreciated!

Recently @shlevy contributed a nix flake, but it does not include the `agda-mode`:
https://github.com/agda/agda/blob/78ea6d259b10d4751f96924e418dbc1c8cd8b638/flake.nix#L12

I think it would be nice if we maintained a nix-description of the environment that Agda assumes.  Then you could restore it when you fetch an older versi

[2021-10-05 08:09] #5581 closed, assigned to andreasabel

[2021-10-05 10:26] shlevy commented on #5578
To be clear, the flake does include the `agda-mode` binary, just not the setup to build the appropriate emacs package that can be incorporated into your Nix config yet.

For the most part, this is just the cabal file. If you want something more concrete, then assuming we test the flake build (ideally including the test suite) on CI then the combination of flake.nix + flake.lock would suffice for t

[2021-10-05 14:35] omelkonian opened #5583 "Constructor instances do not work outside parameterised modules"
Let's assume two files with the following definitions:
[code]
The instance is not available in `File2`, producing the following error:
[code]

NB: If I remove the dummy parameter `_ : ⊤` it works, and it was working before v2.6.2.

[2021-10-05 14:44] omelkonian commented on #5583
Also, the issue does not appear when everything is in one file:
[code]

[2021-10-05 15:04] gallais commented on #5583
[code]
works but not `open import File1 tt` :eyes:

[2021-10-05 15:08] omelkonian commented on #5583
Then probably related to #4166.

[2021-10-05 15:10] jespercockx commented on #5583
Isn't the problem that instance search simply does not consider instances that have explicit arguments? Normally there's a warning for that but in this case it (intentionally or unintentionally) does not fire because the argument is a module parameter.

[2021-10-05 15:24] jespercockx commented on #5583
Nevermind, I see the module is actually applied to `tt` in your example so it should definitely work.

[2021-10-05 22:55] omelkonian opened #5584 "Internal error when opening a module inside a constructor"
This program (artificially produced by minimizing a larger one):
[code]
produces this error:
[code]

*Agda version: 2.6.2*

[2021-10-06 09:00] andreasabel commented on #5584
There is an unsolved meta surviving up to serialization, triggering the crash:
https://github.com/agda/agda/blob/3185db9f8a4ad507dd73cbc4068cd56805e3cbf9/src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs#L106
Could be a duplicate of #5544.

[2021-10-06 09:03] andreasabel commented on #5544
@UlfNorell : When do you think you will have time to work on this?

[2021-10-06 09:04] UlfNorell commented on #5544
Busy with teaching at the moment, so not until after exams.

[2021-10-06 16:16] ajrouvoet opened #5585 "With on steroids generates wrong patterns on lhs"
C-c C-c in a hole on the rhs under a `with..in..` generates a pattern with an equation binder:

[code]
Generates:
[code]

I have vague recollections of similar issues perhaps involving rewrite, but couldn't find them in the open issues.

[2021-10-06 17:04] gallais commented on #5585
I believe this is #513 (and more directly #5355).

[2021-10-06 17:05] #5585 closed, assigned to nobody

[2021-10-06 17:05] ajrouvoet commented on #5585
:+1: it appears I cannot search.

[2021-10-06 17:06] gallais commented on #5355
I'll close this one as a duplicate too as I expect a fix for `rewrite` will also
fix this given these things are implemented using the same data structures.

[2021-10-06 17:06] #5355 closed, assigned to nobody

[2021-10-06 17:30] gallais commented on #5585
I tend to use labels rather than search by keywords.

[2021-10-06 17:48] JacquesCarette opened #5586 "Darkening "white smoke" highlight a little?"
It shows up well enough under Aquamacs, but on my Dell XPS running Ubuntu, and emacs' default light theme, the "white smoke" background can only be seen if you know that's it's there, else it's invisible.

Would it be ok to pick a slightly darker grey?  Like "light gray" perhaps?  Even "gainsborough" would be better. Or "AntiqueWhite2" ? "gray92" ?

[2021-10-07 07:29] jespercockx commented on #5586
I am sympathetic to this view. However, the current shade of white is already a carefully negotiated balance between parties who want it to be completely invisible and others who would like it to be more noticeable. So I think it's rather unlikely that we will change it again.

Just so you know, you can always change the color for yourself in Emacs by customizing the Agda2 group and going to `Agda

[2021-10-07 08:58] jamestmartin opened #5589 "Internal error with REWRITE of function from path"
I'm not sure whether this is caused by paths necessarily, but replacing the path type `tt ≡ tt` with a function `⊤ → ⊤` causes the issue to go away, and the example is already pretty minimal.

This bug is present in both 2.6.2 and 2.6.3 master.

Minimal example:
[code]

Error message:
[code]

This less-minimal example only gives the (same) error when `--confluence-check` is enabled; otherwise, Agd

[2021-10-07 17:12] jamestmartin commented on #5589
I found another internal error with different line numbers which may be related:
[code]

Error in 2.6.3:
[code]

Error in 2.6.2:
[code]

This error is only triggered with `--confluence-check` enabled.

[2021-10-07 17:31] jamestmartin commented on #5589
Here, enabling `--confluence-check` causes an error without any rewriting at all!
[code]

Error in 2.6.3:
[code]

Error in 2.6.2:
[code]

[2021-10-08 11:11] jespercockx commented on #5589
The combination of rewriting and cubical is currently not properly supported. However, we should at least have a proper error message that this is the case (and perhaps a warning when enabling both --rewriting and --cubical).

[2021-10-11 09:53] #5406 closed, assigned to asr, andreasabel

[2021-10-11 10:24] andreasabel commented on #5513
We will soon need to release a version with `aeson-2` support (see #5593).  2.6.2.1 could be that version.

[2021-10-11 12:25] omelkonian commented on #5584
Another interesting occurrence with product projections:
[code]
The `[⊤]` constructor (which uses `proj₁`) works fine, but the `[⊥]` constructor (which uses pattern matching in a let instead) leads to the same internal error.

[2021-10-13 12:23] Saizan commented on #3256
Maybe `Sort' t` should have a single constructor `TermS :: t -> Sort' t`, replacing `MetaS`, `DefS`, and `DummyS`.
Compared to just merging `Sort` and `Term`, this solution would make it easier to write functions that mostly want to work with "canonical" sorts.

[2021-10-13 12:58] jespercockx commented on #3256
That would introduce a new invariant that has to be maintained, namely that the term inside a `TermS` should not itself be a `Sort`. I think it would be better to just merge everything in a flat structure and have a separate view type for when one wants to focus on canonical sorts.

[2021-10-13 13:59] andreasabel commented on #5549
There is a conversion from backslashes to slashes
https://github.com/agda/agda/blob/cf59a4bf974944cccb9aa0c9f5f5c886334d7219/test/Utils.hs#L313
that is used via `cleanOutput` in `runAgdaWithOptions`:
https://github.com/agda/agda/blob/cf59a4bf974944cccb9aa0c9f5f5c886334d7219/test/Utils.hs#L76-L81
It is only that the LaTeX testsuite does not use `runAgdaWithOptions` but makes a direct call:
https://

[2021-10-13 16:37] nad commented on #3733
The second flag should be `-vtc.transpx.type:15`.

[2021-10-13 17:14] andreasabel commented on #5549
In #5598, I opted for just apply `cleanOutput` to the results of `PT.readProcessWithExitCode agdaBin`.

[2021-10-13 17:58] andreasabel commented on #5549
`test/Fail/FileNotFound`:
In cygwin, sanitization of absolute pathes does not seem to work:
[code]

pwd is:
[code]
Original error is:
[code]

The sanitization rule
https://github.com/agda/agda/blob/767eecdd60e17baa0cbae1a4180f82104e7aa4e3/test/Utils.hs#L312
does not work since backslashes coming from `pwd` get special interpretation in a regex.  I think replacing them with slashes would fix this.

[2021-10-13 21:43] #5549 closed, assigned to andreasabel

[2021-10-14 10:08] andreasabel commented on #5508
The test fails in the `cabal-test` CI under Windows, see https://github.com/agda/agda/runs/3888327883?check_suite_focus=true.
[code]
The golden value is the one for a case-insensitive file system, but Agda produces the error for a case-sensitive file system.

The module name is `Issue5508`
https://github.com/agda/agda/blob/070d0c841788d3a09e4557d92fd954bb1b6a7e9e/test/Fail/customised/iSSue5508.agd

[2021-10-14 10:08] smimram opened #5600 "function application in mutual block considered neutral before adding clauses"
In the following baby example
[code]
we are defining a higher inductive type `A` and a function `f` by mutual induction. In the type `A`, we have an axiom `e` which states that which should have an equality betwen the identity on `f (suc zero) n` (which is _definitionally_ `s n`) and the identity on `s n`. When I typecheck the hole above, I indeed get
[code]
However, when I fill the hole with what

[2021-10-14 12:02] nad commented on #5600
[code]

[2021-10-14 13:12] smimram commented on #5600
Thanks! Your magic trick should help me get going for now, although I'd rather have Agda accept my original code :)

[2021-10-14 17:47] andreasabel commented on #2544
I am aiming for the opposite: have the testsuite(s) in the `.cabal` file so that they can e.g. be run by `stack` in a standardized way.  The original issue is > 4 yrs old now, so I do not know whether it is still of interest.

Thus, I am closing this issue.  Reopen if there are new considerations.

[2021-10-14 17:47] #2544 closed, assigned to nobody

[2021-10-15 08:26] nad commented on #5059
There is no need for such a variant of `primTransp` when `--erased-cubical` is used:

https://github.com/agda/agda/blob/070d0c841788d3a09e4557d92fd954bb1b6a7e9e/src/full/Agda/Compiler/MAlonzo/Primitives.hs#L302

https://github.com/agda/agda/blob/070d0c841788d3a09e4557d92fd954bb1b6a7e9e/src/data/JS/agda-rts.js#L351

However, if we develop a compiler for `--cubical` (#3753), then it might be useful.

[2021-10-15 08:29] andreasabel commented on #5586
I hope @jespercockx explanation helped, @JacquesCarette, so I am closing this.

[2021-10-15 08:29] #5586 closed, assigned to nobody

[2021-10-15 11:40] JacquesCarette commented on #5586
Was the 'negotiation' not done on the tracker? I certainly would have liked to have read it.  In particular, I've found that functions that don't use exact-split end up being extremely difficult to reason about.

[2021-10-15 11:46] jespercockx commented on #5586
I don't remember where we had the discussion, possibly at one of the Agda meetings. If you really care about clauses holding definitionally, I'd recommend enabling the `--exact-split` flag which will require any non-exact clauses to be marked with a `{-# CATCHALL #-}` pragma.

[2021-10-15 13:42] JacquesCarette commented on #5586
I think I'm going to 'upgrade' my standard header from `--without-K --safe` to also include `--exact-split` indeed.

[2021-10-16 07:22] fishtreesugar commented on #5436
We built agda 2.6.2 very long time after upgrade to cabal-install 3.6.2.0 (w/ GHC 8.10.7) via brew, anyone have M1 machine could reproduce this?

ref: Homebrew/homebrew-core#86913

build log:
https://github.com/Homebrew/homebrew-core/runs/3850114789

[2021-10-18 11:41] nad opened #5601 "Add support for higher constructors to --erased-cubical"
@Saizan and I discussed whether we could add support for higher constructors to `--erased-cubical`. It might be possible to do this and still erase all transports and all `hcomp` constructors.

[2021-10-18 16:33] nad opened #5602 "The JS backend does not reduce constructor type signatures"
The following code is not compiled correctly by the JS backend:
[code]
[code]
The code is compiled successfully if `F D` is replaced by `D → D`.

I constructed the test case above after seeing the following code:

https://github.com/agda/agda/blob/d281edeac893db140ab2a0ec9f42a4c1dd2efecb/src/full/Agda/Compiler/JS/Compiler.hs#L473-L474

Note the documentation of `arity`:

https://github.com/agda/ag

[2021-10-18 19:43] #5602 closed, assigned to nad

[2021-10-18 20:36] nad commented on #4701
See also #5601.

[2021-10-19 09:21] andreasabel commented on #5442
Magic incantation so far to start building Agda-2.6.3:
[code]

[2021-10-19 12:57] andreasabel opened #5605 "`make fast-forward-std-lib` does not give me the `master` of the standard library"
Atm, `make up-to-date-std-lib` and `make fast-forward-std-lib` both give me `v1.7` of the standard library.  I understand the description that the latter should give me the latest version (`master`), rather than giving me the same version.
https://github.com/agda/agda/blob/152efd679d3ab9d983e6f776d58b990904d52c99/HACKING.md#L181-L192
How to I then get the `master` into my submodule `std-lib`?

[2021-10-19 13:11] MatthewDaggitt commented on #5605
Hmm so there's no particular problem here. The submodule is pointing at the `experimental` branch (as it should):
https://github.com/agda/agda/blob/152efd679d3ab9d983e6f776d58b990904d52c99/.gitmodules#L1-L4

We haven't updated the experimental branch of the standard library since v1.7 as no one has introduced any code that requires incompatible changes in Agda itself. If you like I can merge `expe

[2021-10-19 15:50] andreasabel commented on #5605
I remember the logic to be (see my quote from HACKING.md above):
- `up-to-date...` gives me the version that has been verified to work with the current Agda master
- `fast-forward...` gives me the latest version.  If that should happen to work with the current Agda master, I can utter the magic incantation above to set the `up-to-date...` version to the latest one.

I suppose this logic was workin

[2021-10-19 16:08] nad commented on #5468
@Saizan, can this issue be closed now (if a test case is added)?

[2021-10-19 16:10] nad commented on #5448
@Saizan, can this issue be closed now (after some test cases have been added)? Enhancements could be discussed in a separate issue.

[2021-10-19 16:20] nad commented on #4186
I've used `@0` for some time now, and I don't really see a need for the feature discussed above (maybe partly because the rules implemented in Agda have changed). Sometimes type arguments are erased, sometimes not. One can sometimes use `variable` declarations to avoid having to type out things like `(@0 A : Set a)`.

[2021-10-19 16:20] #4186 closed, assigned to nobody

[2021-10-19 16:41] nad commented on #4786
I suggest that we merge my implementation of this variant now, and see if anyone complains. Any objections?

[2021-10-19 17:58] MatthewDaggitt commented on #5605
Yes it would be.

That sounds like a reasonable course of action. When we get the first PR on experimental I'll change it back to `experimental` in the `.submodule` file.

[2021-10-19 19:00] #5601 closed, assigned to nad

[2021-10-19 19:50] omelkonian opened #5606 "Failing to solve a trivial empty clause when pattern-matching in extended lambda"
[code]
The commented clause works, but to my surprise not the second one:
[code]

This is particularly annoying when `i` is a module parameter and one cannot use `with` to pattern match on it:
[code]

### *Agda-v2.6.2, stdlib-v1.7*

[2021-10-19 20:18] jespercockx commented on #5606
Well, the proof that `true` is not in the list `false :: []` requires some kind of case analysis, so I am not sure if it is reasonable to expect Agda to solve this automatically. It feels to me that any attempt at doing so would very quickly lead to either typechecking looping in some cases or there being an arbitrary cutoff in how deep Agda does the case analysis before it gives up, and neither o

[2021-10-19 20:26] omelkonian commented on #5606
But Agda **does** solve it in the first clause, which I expected to be equivalent-ish.

Nice workaround :)

[2021-10-19 23:39] omelkonian commented on #5606
Let me modify the initial example to make this a bit more clear:
[code]
Isn't this behaviour unintuitive?

[2021-10-20 07:36] gallais commented on #5606
It's not too surprising that when you're unwrapping/rewrapping you may be rewrapping
at a different type. I'm actually surprised the last line does not fail already with
an unsolved meta on the `case (i , x≡ , xs≡) of λ p ->` part because it's not clear
to me what type Agda should infer e.g. `Index xs × (L.lookup xs i ≡ true) × (xs ≡ (false ∷ []))`
would be a valid solution.

You should add a type

[2021-10-20 08:06] nad commented on #5191
It does.

[2021-10-20 09:00] omelkonian commented on #5606
Nice, now this works!
[code]

So, TIL that you need dependent pairs to inform other values, whereas I previously thought non-dependent ones sufficed.

[2021-10-20 09:11] #5606 closed, assigned to nobody

[2021-10-20 10:36] nad commented on #4193
Subtyping has now (hopefully) been removed for `@0`.

[2021-10-20 12:08] andreasabel commented on #5605
OK, I will push a commit that sets `std-lib` to the `master` branch.

[2021-10-20 17:40] omelkonian opened #5609 "`C-c C-c` introduces unnecessary module qualifiers"
Consider the following module interaction:
[code]
where case-splitting on `x` introduces `X`'s constructor qualified by `M₁`, although it would be perfectly fine to not qualify it at all.

If we split the modules across separate files, these qualifiers lead to an error:
[code]
[code]

[2021-10-20 18:39] gallais commented on #5609
This is a duplicate of #3209

[2021-10-20 18:39] #5609 closed, assigned to nobody

[2021-10-20 22:49] berndlosert opened #5610 "Panic when checking pragma BUILTIN SHARP"
Agda panics when type-checking this code:

[code]
The error is:
[code]

If I remove `{-# OPTIONS --type-in-type #-}`, it works again. I'm not sure if this is a bug or intended behavior.

[2021-10-20 22:53] berndlosert commented on #5610
I'm using 2.6.2 by the way.

[2021-10-21 10:55] nad commented on #4786
There were no objections, so I merged my changes.

[2021-10-21 10:56] #4786 closed, assigned to nad

[2021-10-21 10:56] #5191 closed, assigned to nad

[2021-10-21 18:56] andreasabel commented on #5605
Seems like the `master` does not build with current Agda 2.6.3:
https://github.com/agda/agda/runs/3951728194?check_suite_focus=true#step:8:271
[code]
I am a bit surprised about such an error though, because the `Data.Nat.DivMod` module does not use `--cubical`.

[2021-10-22 10:01] dorchard opened #5612 "Hitting internal error in LHS.hs (2.6.2)"
I'm sorry I haven't worked out exactly what is triggering yet as my code is so large but I am getting:
[code]
When I expand some extra function equations (refining some pattern matches) this appears but the function equations I am adding are almost identical to the ones already there so I cannot tell what kind of feature is triggering this. All I can say really is that the code is large and has qu

[2021-10-22 14:39] madjestic commented on #5578
Thanks guys for all the explanations and I feel kind of sorry for provoking this wake of activity.  I guess I should volunteer now to add the gist of this into a FAQ?  I don't think that such thing exists so far, does it?  I checked the docs and could only find the FAQ i.r.t. the OSX installation.

Cheers!

[2021-10-22 18:53] jliptrap opened #5613 "Automatic record module application"
As a toy example, please consider the following two ways of defining a magma homomorphism:

[code]

I find the qualified style more readable except for the `private module` boilerplate lines. Could the compiler be so kind as to effectively autogenerate those lines?  E.g., when the user writes `X.*`, if `X` has record type but no module `X` is in scope, the compiler could apply the corresponding re

[2021-10-24 11:21] andreasabel commented on #5578
An FAQ in the docs would be very welcome, @madjestic!

[2021-10-24 11:30] andreasabel commented on #5612
In current master, this error points to https://github.com/agda/agda/blob/d8145b921a95c659d0313c1b84500d73081572cc/src/full/Agda/TypeChecking/Rules/LHS.hs#L322
A MWE (or at least a smallish example) would be greatly appreciated so we can hunt for the bug!

[2021-10-24 11:45] andreasabel commented on #5613
This seems to be a very high hanging fruit given the current architecture of Agda that separates a scope-checking pass from the later type-checking pass.  The scope checker does not know that `X` and `Y` are of record type, as it has no concept of "type".

Maybe what could be done is to allow `X.f` as syntax for post-fix projection application `X .f`.  This would then enable the infix use as in `X

[2021-10-24 11:54] andreasabel commented on #5610
Thanks for the report @berndlosert!
Still works with 2.6.0, first breaks with 2.6.1.

I think the error location is still accurate:
https://github.com/agda/agda/blob/d8145b921a95c659d0313c1b84500d73081572cc/src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs#L68

[2021-10-24 17:38] andreasabel commented on #5610
Bisection says: 7807e9a3920b3af24c5d576c9f7b887f64c9c539 is the first bad commit
Date:   Tue Oct 15 14:16:10 2019 +0200
[ fix #3073 ] Don't eta-contract `\x -> f l` to `f` when --type-in-type
Ping @jespercockx

This looks plausible, because eta-contraction could have produced the `Def` form that is matched against at the problematic position.

[2021-10-24 23:49] mouse07410 commented on #5528
Replicating your https://github.com/agda/agda/runs/3450560096?check_suite_focus=true, I also successfully built `agda`, `agda-mode`, **and** `agda-tests`, and successfully completed `cabal test`.
[code]

[2021-10-25 05:56] andreasabel commented on #5610
The proposed fix 74f92b54a328a76221f72e3fb5b925bf0846c677 can be directly exploited, see https://github.com/agda/agda/pull/5614#issuecomment-950552130.

[2021-10-25 06:00] andreasabel commented on #5528
@mouse07410 wrote:

This is good news!  Let me know if there are other problems remaining pertaining to this issue.

[2021-10-25 06:15] andreasabel commented on #5605
Blocked on:
- https://github.com/agda/agda-stdlib/issues/1614

[2021-10-26 19:19] jliptrap commented on #5613
Currently I avoid post-fix projections due to #2587; I prefer a uniform convention for record fields and record methods.  If post-fix projections supported record methods and infix notation (but not arbitrary functions), I think that would be good enough:

[code]

I'm not familiar with Agda internals but it makes sense to me that my original proposal might involve too much compiler complexity to b

[2021-10-26 20:05] andreasabel commented on #5613
Using postfix-projections as infix operators as in `run x (Y .*) run x'` could maybe made to work in the operator parser.  However, this would not be backwards-compatible.  Note that the following is legal Agda:
[code]
This is because for Agda `*` and `_*_` are different identifiers.

[2021-10-26 21:38] jliptrap commented on #5613
Alternatively, if post-fix projections will not support record methods, I think it would be very useful to have sugar for the heavy repetition:
[code]
Maybe something along the lines of `open Magma at (X ; Y)`?

[2021-10-27 07:03] andreasabel commented on #5613
These declarations do not open any module, they abbreviate module applications.
You can shorten this to
[code]
I agree that this is still noisy, but I do not see any principled way of shortening this.

You could look for solutions using macro preprocessors if you find this too noisy.

[2021-10-27 09:40] andreasabel opened #5618 "More precise wording of warning "Instance applies only to declarations that introduce new identifiers""
Technically, `data` declarations do introduce new identifiers, so the warning is not formulated well:
[code]
Warning:
[code]

With constructor:
[code]
Same warning.

A postulated type gets a better warning:
[code]
Warning:
[code]

Maybe the warning for `data` should be the same as for type declarations.

[2021-10-27 14:12] andreasabel opened #5619 "Race condition in CI workflow `cabal-test` and `test`"
E.g. https://github.com/agda/agda/runs/4013062137?check_suite_focus=true#step:9:725
[code]
I suspect that, because the `Agda.Builtin` modules are not type-checked before running the testsuite, the debug output for `Agda.Builtin.Sigma` could show up or not in this testcase (#4967), depending whether some other test using `Agda.Builtin.Sigma` finished first or not.  Classic race condition.

Proposed

[2021-10-27 14:48] andreasabel commented on #5619
Weird.  In workflow `cabal-test`, we are actually _installing_ Agda which means that the interface files for the builtin modules should be already there before the tests run:
https://github.com/agda/agda/blob/bea11a04df5f82b2b8782bcad5bf2af2a6b88b65/src/github/workflows/cabal-test.yml#L101-L110
https://github.com/agda/agda/blob/bea11a04df5f82b2b8782bcad5bf2af2a6b88b65/Setup.hs#L38-L49
Unfortunatel

[2021-10-27 15:31] #5528 closed, assigned to andreasabel

[2021-10-27 21:00] jliptrap commented on #5613
Having users duct tape macro preprocessors onto the Agda compiler would be lamentable from a systems perspective, e.g., collaboration, editor tooling, and robustness.

Is there a non-noisy way to use infix record methods (e.g., subtraction for an abelian group)?

[2021-10-28 03:25] endobson opened #5620 "Seemingly incorrect warning for abstract definition without type signature"
I recently upgraded from 2.6.1 to 2.6.2 and am working through fixing my code base to make it work with the changed treatment of abstract.

One of the new warnings about abstract definitions without type signatures still happens to me when there is a type signature.

https://gist.github.com/endobson/7d4949309e36a5a3bcec07770bcae488

[code]

With `Agda version 2.6.2` I get the following error:

[co

[2021-10-28 06:26] andreasabel commented on #5613
You can use `open` with `renaming`.  E.g., something close to your `QualifiedStyle`:
[code]

Personally, I prefer a style where records are not opened, only modules:
[code]
Here, you always state in which structure you operate, via the turn-style prefix.

[2021-10-28 19:19] jliptrap commented on #5613
Renaming style is of course the noisiest of all, but turnstile style is a nice hack, thanks!  IIUC it's still noisy because it tends to require doppelgängers within the record module:

[code]

[2021-10-28 21:35] andreasabel commented on #5613
This doppelgänger trick is new to me, shall remember it!

I just realized that the turnstile-trick also goes well with definition by copatterns:
[code]

[2021-10-28 21:47] andreasabel commented on #5619
The interface files are indeed created, see https://github.com/agda/agda/runs/4024146696?check_suite_focus=true:
[code]
Questions:
1. Are the copied to the install location?
2. Are they picked up during the tests

[2021-10-29 04:06] freemagma opened #5622 "`COMPILED_DATA` pragma gives a parse error"
While trying to get started with agda, I ran into an issue parsing `COMPILE_DATA` pragmas. I have a simple file, as below

[code]

When I run `agda -v 2 test.agda`, I get the following parse error:

[code]

I am using agda version 2.6.2 (according to `agda --version`)

[2021-10-29 09:04] gallais commented on #5622
You seem to be using an old version of the FFI pragmas.
The docs describe the current situation: https://agda.readthedocs.io/en/latest/language/foreign-function-interface.html

[2021-10-29 11:26] andreasabel commented on #5622
Mmh, yes, maybe we should not remove deleted features from the parser.  We cannot give a good error message this way.  It would be easy to keep obsolete pragmas in the parser and throw a more informative error there.  (So we do not even have to keep them in the concrete syntax!)

[2021-10-29 16:33] freemagma commented on #5622
Oops thanks! Guess some of the guides / books I was reading are out of date.

[2021-11-01 15:55] nad commented on #5441
It also works fine with GHC 9.2.1.

One could perhaps also generate code that is rejected by older versions of GHC. Here is one way to do it:
[code]
This gives a readable error message, but requires the use of CPP and Template Haskell. Here is an alternative without any extra requirements (`QualifiedDo` was introduced with GHC 9.0.1):
[code]
However, the error message is not very informative.

[2021-11-01 19:08] andreasabel commented on #5613
Closing this issue...
For a language change, we need a technical proposal.  There is none in sight here, seems very difficult.

[2021-11-01 19:08] #5613 closed, assigned to nobody

[2021-11-01 19:17] andreasabel commented on #5441
If you put `{-# LANGUAGE TemplateHaskell #-}` under an `#if`, it is not so invasive.

Alternatively, one might be able to hack something together with `TypeError`: https://www.youtube.com/watch?v=37uTCZqpqmk
(Also needs some language extensions.)

[2021-11-02 12:24] ajrouvoet opened #5626 "Appears like ill-typed equality error"
Today Agda produced the following error somewhere in a with-pattern:

[code]

This error looks itself ill-typed to me, because `zero` is already not of type `Set`. Is such an error always a bug or are there cases where this is expected?

I don't know how to gather more interesting info about this potential bug.
The last few lines of the debug log that produce the exception are:

[code]

[2021-11-03 08:00] andreasabel commented on #5626
Since `with` abstracts over some terms in an untyped fashion, it is not unthinkable that it produces ill-typed terms.
We would need a reproducer to further investigate.

[2021-11-03 16:41] #5610 closed, assigned to jespercockx

[2021-11-03 19:05] mdnahas opened #5627 "Agda does not accept example from documentation"
The Agda documentation on this webpage
https://agda.readthedocs.io/en/v2.6.2/language/syntax-declarations.html
has an example:
`syntax Σ A (λ x → B) = [ x ∈ A ] × B`

Agda does not accept it.  It generates the following error message:
 Malformed syntax declaration: syntax must alternate holes (A x B) and non-holes ([ ∈ ] ×)

I believe the " ×" should be removed from the documentation.

I'm running

[2021-11-03 19:10] mdnahas opened #5628 "Emacs mode "C-c C-c Enter" deletes lines"
I was doing some simple proofs.  I tried

[code]
In the hole, I typed "C-c C-c Enter", I expected it to be solved, since there is only 1 constructor for ⊤.  But that didn't happen.  The line `truecanbeproven = ?` was deleted!

I don't think it should ever delete lines.

This was in a literate Agda file with extension .lagda.md.   I'm running Agda 2.6.0.1 on Ubuntu 20.04.3 LTS.

[2021-11-03 19:25] mdnahas opened #5629 "Unicode identifier visually similar to ASCII one (source of confusion/obfuscation)"
This issue may be a duplicate of #5574 or #5616   I am new to Agda and cannot tell.

I've been doing some simple proofs.  The following code generated an error:

[code]
The error message was:
[code]

I tried using the constructor without infix with this code:
[code]
It generated this error:
[code]

The code did not work when I defined List myself, using the "::" operator.
The code did work when I

[2021-11-03 19:30] gallais commented on #5627
The documentation you're linking to is for Agda 2.6.2 but you're running 2.6.0.1
This is a new feature that is not present in older versions of the compiler.

[2021-11-03 19:30] #5627 closed, assigned to nobody

[2021-11-03 19:31] gallais commented on #5628
What you want in this instance is `C-c C-r`.

By using `C-c C-c` you're attempting to use copattern matching but there is no
copattern to match on! That being said, this should produce an error rather than
simply deleting the line.

[2021-11-03 19:37] mdnahas opened #5630 "Feature Request: Emacs Mode generates definition from type"
I just spent a few days learning Agda.  I translated proofs from my [tutorial on Coq](https://mdnahas.github.io/doc/nahas_tutorial).

I would write a type like:
`forallExistsSet : (A : Set) → (P : A → Set) → (∀ x → ¬ P x) → ¬ (∃ (\ x → P x))`
And then spend a lot of time typing in the definition:
`forallExistsSet A P forallxnotPx x,Px = ?`

I think it would be a useful feature for Agda Emacs Mode

[2021-11-03 20:05] gallais commented on #5630
This seems like a duplicate of #1711

[2021-11-03 20:05] #5630 closed, assigned to nobody

[2021-11-03 21:15] mdnahas opened #5631 ""agda" on Ubuntu command-line doesn't find std-lib"
I have filed this bug with the Ubuntu package managers.  I'm just submitting it here so you all know about it and in case someone comes looking for it here.  It's fine to mark this bug "won't fix" or "not our problem" or whatever.

------------------------

I tried using literate Agda on Ubuntu.  I was able to run Agda perfectly in Emacs.  It loaded libraries without any problem.  But I tried to r

[2021-11-03 21:27] gallais commented on #5631
Hmmm. The package does not even seem to install the `.agda-lib` file:
https://packages.ubuntu.com/focal/all/agda-stdlib/filelist

So a potential workaround would be to:

1. Copy [this file](https://github.com/agda/agda-stdlib/blob/v1.1/standard-library.agda-lib) into `/usr/share/agda-stdlib`
1. Add the line `/usr/share/agda-stdlib/standard-library.agda-lib` in `~/.agda/libraries-2.6.0.1`
2. Add th

[2021-11-03 21:39] mdnahas commented on #5631
@gallais I forwarded your message.

For reference, here is the link to my bug report for the package:
https://bugs.launchpad.net/ubuntu/+source/agda/+bug/1949641

[2021-11-03 21:43] mdnahas commented on #1711
I will add my (light) weight that this feature would be nice to have.  To skip some tedium.

@gallais closed issue #5630, where I had suggested the same feature.   He rightfully removed the duplicate.

[2021-11-04 03:05] L-TChen opened #5632 "Qualified names are printed if introduced by `open M {{...}}`"
Qualified names are printed if they are introduced by `open <module> {{...}}`. For example, consider the following code:

[code]

The goal of `lem` is printed as

[code]

Why is `M.foo m` printed instead of `foo m`?

[2021-11-04 07:35] jespercockx commented on #5629
You are importing the unicode name `_∷_` but in your code you are using the double colon `_::_`. You also need to add parentheses around the constructor application, i.e. `length a ∷ as = suc (length as)`.

[2021-11-04 07:38] jespercockx commented on #5628
This is already fixed in the latest version of Agda in ~~#3006~~ #4536, in particular https://github.com/agda/agda/commit/6e17bfdf163dadf0491fc98c20897081e616f340.

[2021-11-04 07:38] #5628 closed, assigned to nobody

[2021-11-04 08:09] jespercockx commented on #5632
Thanks for reporting. This is a known problem with the printing of names imported from modules: the name is normalized by Agda and the existing display forms are insufficiently powerful to recover the right representation. We discussed this at [AIM XXXII](https://wiki.portal.chalmers.se/agda/Main/AIMXXXII), although there was no definite conclusion.

There's existing issues about the efficiency pr

[2021-11-04 09:04] gallais commented on #5632
I think #3209 may be related

[2021-11-04 10:02] mastarija commented on #4878
Would this be a good first issue for someone with "medium" experience with Haskell and some Agda (and a decent amount of JS knowledge)?

[2021-11-04 10:15] gallais commented on #4878
That sounds like the perfect first issue for such a person!
(Or the perfect first person for such an issue)

[2021-11-04 15:09] mdnahas commented on #5629
Confirmed: This is not a bug.

Thanks, @jespercockx

Suggestion: I have a password generator that has an option to "avoid look alike characters (e.g., 0 and O, 1 and l, etc.).  When an error occurs, you might want to include a check for look alike symbols.  I imagine you get a lot of similar "bug reports" (and an even higher number of frustrated users).

[2021-11-04 18:26] andreasabel opened #5633 "Case splitting inserts one `with` pattern too much (regression in 2.6.2)"
Case splitting (C-c C-c) in last goal produces in 2.6.2
[code]
while in 2.6.1 it correctly gives:
[code]
Code:
[code]

[2021-11-05 09:46] mastarija commented on #4878
@gallais Ok, I guess I'll get on it. I'm assuming `agda-rts.js` is the main file of interest? Do we want a fallback support with `biginteger.js` or is it Ok to just replace everything with native `BigInt`? Also, I should replace the use of `primIntegerFromString` with `BigInt` constructor where possible, right?

[2021-11-06 05:36] L-TChen commented on #5632
I am aware of the issue with parametrized modules, but `M` in this case is not parametrized, right? I don't understand why it behaves differently with and without `⦃...⦄`. 😕

[2021-11-06 18:19] nad opened #5634 "Restricting the DOT backend to specific libraries"
Dependency graphs can become rather large, and I think it would be nice if one could restrict attention to modules from one or more libraries. For this reason I think it would be nice if the following option were added to the DOT backend:
[code]
It should be possible to use this option multiple times.

Is there currently a simple way to find out if a given top-level module belongs to a given libra

[2021-11-07 09:43] nad opened #5635 "null ⊔ null"
The JS backend does not compile a certain piece of code correctly. I had trouble constructing a small test case, but the problem can be reproduced in the following way (with Agda 2.6.3-53c08b5):
[code]
[code]
Perhaps this problem can be fixed by making sure that all level expressions are erased.

[2021-11-07 12:44] andreasabel commented on #5629
In emacs, there is `C-u C-x =` to get more information about a character.

Maybe the "Did you mean?" engine could be improved by assigning a low distance to visually similar substrings.  Volunteers needed!

https://github.com/agda/agda/blob/475d9add939bf86936a1d5b41c3260f0000bd3c8/src/full/Agda/TypeChecking/Pretty/Warning.hs#L387-L393

[2021-11-08 09:04] jespercockx commented on #5632
Record modules are always implicitly parametrized by the value of the record type itself, i.e. each record type `R` introduces an associated module `R` with a parameter of type `R`.

[2021-11-08 09:13] jespercockx commented on #5634
You can use `getAgdaLibFiles` from `Agda.TypeChecking.Monad.Options` to get the list of agda-lib files of a given top-level module (usually it's just one unless you have multiple .agda-lib files in the same directory).

[2021-11-08 11:15] jespercockx opened #5637 "Macro + instance search = infinite loop during typechecking"
It is currently possible to write a macro that calls instance search to call that same macro again (I'm not sure if the example is minimal):
[code]
Is this intended behaviour? Macros are going through termination checking just like any other function, so I'd guess the answer is no.

[2021-11-08 13:55] jespercockx commented on #5637
After thinking about it, this is just a specific case of https://github.com/agda/agda/issues/1743, so I'm closing this.

[2021-11-08 13:55] #5637 closed, assigned to nobody

[2021-11-08 15:19] mdnahas commented on #5629
@andreasabel I knew about "C-u C-x =".   But it requires recognizing that "::" is one Unicode character and not 2.

Thanks for the invite to work on Agda, but I'm working on a new version of "par2" at the moment.

**To whomever implements this, there are lists of Unicode lookalike out there.  Unicode calls them "confusables".**
https://www.unicode.org/Public/security/revision-03/confusablesSummary

[2021-11-08 15:30] mdnahas commented on #5629
I emailed Mark Davis (markdavis@google.com) and Michel Suignard (michel@suignard.com), who are listed at the top of https://www.unicode.org/reports/tr39/#confusables to added "::" "∷" to the list of Unicode confusables.

That's about all the volunteering that I'm good for.  Good luck, Agda folk!

[2021-11-08 15:51] nad commented on #5629
The `text-icu` library contains support for this kind of thing:
[code]

[2021-11-08 18:51] #4878 closed, assigned to nobody

[2021-11-08 18:54] andreasabel commented on #5544
@UlfNorell : How is it looking now?

[2021-11-09 11:15] Saizan commented on #5600
It seems like a `NotBlocked` function application which is stuck on `MissingClauses` should maybe not be considered a neutral, at least for constraints generated during the same mutual block as the function declaration?

@andreasabel what do you think?

[2021-11-09 12:09] phijor opened #5638 "Internal error with missing type signature in `interleaved mutual` type"
## Bug

I mistyped a definition and `agda` crashed with an internal error.

A minimum working (=crashing) example is:

[code]

This produced the following error (pointing [here](https://github.com/agda/agda/blob/246a229faea2ef2fa53caf491ff8a2d72dd7510c/src/full/Agda/Syntax/Concrete/Definitions.hs#L851)):

[code]

Without the `interleaved mutual` block, the above type checks.

## Agda version

[cod

[2021-11-09 12:48] nad commented on #4613
We still do not do this. Is there a reason for this (other than lack of time)?

[2021-11-09 13:30] gallais commented on #4613
IIRC Setup.hs is using its own separate compilation & installation recipe and that conflicts with .agda-lib
Cf. my attempt in #4616

[2021-11-09 21:00] andreasabel commented on #5600
@Saizan : Sounds reasonable, worth trying it in any case!

[2021-11-09 22:26] nad commented on #5634
Like this?
[code]

[2021-11-10 07:59] UlfNorell commented on #5544
I can have a look today.

[2021-11-10 08:52] nad commented on #5634
I decided to also include modules that are not associated with any library, because often there is a module like `Everything` or `README` that is not re-exported from a library. However, this means that the builtin modules are always included. Apparently there is some problem (#4616) with putting the builtin modules in a library.

[2021-11-10 09:39] jespercockx opened #5641 "Using `let open` in datatype telescope"
I'd like to use `let open` in the definition of a datatype just like I can in a function type:
[code]
However, this is currently not accepted:
[code]
I didn't find anything in the user manual on `let open` , so I am not sure if there is a good reason for this or if it just hasn't been implemented yet. So my request would be to (1) document this feature and (2) improve the implementation so it also

[2021-11-10 11:33] UlfNorell commented on #5544
Simplified:
[code]

[2021-11-10 12:58] fgaz opened #5642 "Treat postulates as blocks rather than coupling them with signatures and instances"
Right now postulates are tightly coupled with signatures and instances. A `Postulate` must contain a `TypeSig` or `InstanceB` (enforced informally by `type TypeSignatureOrInstanceBlock = Declaration`).

This means `postulate` can be used in pseudo-blocks like this:

[code]

but it isn't a real block of declarations, so you can't do for example

[code]

This is in contrast to other similar keywords

[2021-11-10 16:19] andreasabel commented on #5641
In this case, it can be desugarded with an anonymous module:
[code]
However, I am not so sure this works in mutual blocks as well (have not tested).

[2021-11-10 16:29] jespercockx commented on #5641
My real use case is closer to the following:
[code]
Here putting things in a parametrized module doesn't work since I need to apply `Term` to a *different* scope in the type of the second argument of `abs`.

[2021-11-11 06:58] andreasabel commented on #5641
Ah, this is the full story!  Well, this might also be the explanation why it is not supported: Because it cannot be desugared.
But that would not be the reason for `record`, where it is also not allowed:
[code]

[2021-11-11 10:39] jespercockx opened #5643 "Case split produces invalid pattern `.patternInTele0`"
Minimal example:
[code]
Case splitting on `x` produces the following garbage:
[code]
Probably related: #4599

[2021-11-11 11:52] #5579 closed, assigned to nobody

[2021-11-11 12:29] nad opened #5644 "Library (`.agda-lib`) files below the project root"
Consider the following situation:
* The top-level directory contains the file `top.agda-lib`, and no other files:
[code]
* The subdirectory `A` contains the file `B.agda`:
[code]

Would you expect Agda to complain if you run `agda A/B.agda` in the top-level directory? I would have hoped so, but that is not necessarily the case. See what happens if the directory `A` contains `B.agda` and the empty

[2021-11-11 13:00] jespercockx commented on #5644
Yep, I agree that this is a bug. We should probably have a check that the root of the hierarchy of top-level modules corresponds to the location of the .agda-lib file.

[2021-11-11 13:03] wenkokke commented on #4878
What PR closed this?

[2021-11-11 13:09] nad opened #5645 "Disallow .agda-lib files with overlapping sets of include directories"
For some flags it matters in which order they are given. If you have two `.agda-lib` files, one containing `--no-universe-polymorphism`, and one which contains `--no-universe-polymorphism`, then you may or may not be able to use universe polymorphism, depending on how Agda decides to order the flags.

Is there a reason for allowing more than one `.agda-lib` file in a directory? If not, then I thin

[2021-11-11 13:11] nad commented on #5644
That would mean that you could not have the source files in a subdirectory (like `src`). I've changed the code so that the `.agda-lib` files have to be in or above the root directory.

[2021-11-11 13:24] jespercockx commented on #5645
I know the `HoTT-Agda` library makes use of this for example: https://github.com/hott/hott-agda/; they have `hott-core.agda-lib`, `hott-theorems.agda-lib`, and `hott-tests.agda-lib`. I think it is nice so you can split up a library in separate parts and choose which you depend on. However, it would make sense that different .agda-lib files in the same directory have disjoint `include: ` fields.

[2021-11-11 13:35] nad commented on #5634
I changed my mind: files can be considered to be part of a library even if they are not exported by that library.

[2021-11-11 13:40] nad commented on #5645
The `include` fields do not currently affect which options are in effect for a given module. I've tried to document the current behaviour, see pull request #5640.

[2021-11-11 14:39] jespercockx commented on #4878
https://github.com/agda/agda/pull/5636 presumably

[2021-11-11 15:52] nad commented on #5579
@Saizan, could you write something about what the problem was?

[2021-11-11 16:49] nad commented on #5645
See #3270.

[2021-11-11 17:02] HuStmpHrrr opened #5646 "Termination checker rejects mutual functions on induction-recursion definition"
I am running agda 2.6.2 and here is an example:

[code]

As one can see after loading the file, Agda complains `𝕌-sym A≈B` on the second last line triggers a termination error. But this makes no sense because the same call is used in `𝕌-sym` itself. Is it the case that Agda does not consider `A≈B` as a substructure but only consider subterms of `f≈f` as substructures? If so, why? I really don't se

[2021-11-11 17:15] HuStmpHrrr commented on #5646
using `where` doesn't fix this problem:
[code]

[2021-11-11 17:21] Saizan commented on #5579
It was about the `useInjectivity` machinery triggering for `f`:  the term `f (Bug.transpD (λ i₁ → refl i₁) i0 _y_74)` is blocked on the meta `_y_74` so in general we should postpone its comparison to other terms.
Agda however recognised `f` as invertible so it kept going and then failed from there.

[2021-11-11 17:26] HuStmpHrrr commented on #5646
I think I come up with a general workaround. For every call to `𝕌-sym` in `El-sym`, `El-sym` can take an extra argument instead. When `𝕌-sym` calls `El-sym`, these extra arguments can be filled with the recursive calls to `𝕌-sym` from within `𝕌-sym`. In this way, the termination checker should be happy. But if this method works, doesn't that mean this is a bug?

[2021-11-11 18:20] nad commented on #5646
The clause with `𝕌-sym (Π {_} {_} {T} {ρ} {T′} {ρ′} A≈A′ RT)` as the left-hand side contains the following nested recursive call: `El-sym (𝕌-sym A≈A′) A≈A′ a≈a′`. Here Agda can see that the argument `A≈A′` is smaller than the (explicit) argument of `𝕌-sym`, but Agda knows nothing about the size of `𝕌-sym A≈A′`. The clause with `El-sym (Π A≈B RT) (Π B≈A RT′) f≈f′ a≈a′` as the left-hand side contain

[2021-11-11 18:58] HuStmpHrrr commented on #5646
does that mean there is a change to handle problems like this by reordering the arguments? interesting, let me try with my real case.

[2021-11-11 21:29] #5634 closed, assigned to nad

[2021-11-12 13:20] ShreckYe opened #5647 "Limit printing depth of terms in error messages"
I was trying to complete Exercise `mul-example` in [Programming Language Foundations in Agda – DeBruijn](https://plfa.github.io/DeBruijn/) and encountered a problem.

A short background decription:
1. the given `eval` function takes a gas value.
1. the term `mul · two · two` takes 36 reduction steps to reach `four`.
1. I wrote a definition `mul-example` to verify that it correctly evaluates the th

[2021-11-14 22:04] andreasabel opened #5649 "Fully migrate CI to GHC 9.2"
Left to do after #5648:
- [x] move workflow `test.yml` to GHC 9.2
- [x] fix stack build on Windows GHC 9.2 (has mysterious errors)
- [x] UPDATE: `.ghci-9.2` file (N.B.: I never use these; over to someone who does)

[2021-11-14 22:04] andreasabel commented on #5442
Fixed by content of #5648.
Follow-up issue: #5459.

[2021-11-15 21:55] #5469 closed, assigned to jespercockx

[2021-11-16 08:07] andreasabel commented on #5647
If you look at the error message that Agda produces for gas values 0,1,2,3,4... etc, you notice that the unevaluated expression gets bigger and bigger.  At some time it is likely getting so big that printing it will take veeeery loooong and use veeery much memory.
@ShreckYe: Exercise for you: find a law connecting gas value `n` with size of the tree produced by `eval n ...`.

[2021-11-16 08:15] andreasabel commented on #5646
It may help that you try to find a termination measure on paper and check whether it is structural (subterm orderings only).  If this is the case, we could pin a possible bug.  Maybe `{-# OPTIONS -v term:40 #-}` may give some insights into which information the termination checker is picking up (sorry, just messy debug output).

[2021-11-16 08:27] andreasabel commented on #5638
Thanks for reporting @phijor!
This is already fixed on `master`:
[code]
Looks like a duplicate of #5558.
We close issues once they are fixed on master, so if you want to find related issues, you also have to look through the closed ones...

[2021-11-16 08:27] #5638 closed, assigned to andreasabel

[2021-11-17 08:59] jespercockx commented on #5649
The log file includes the following messages:
[code]
Perhaps we should disable CI for 9.2.1 on Stack until it is properly supported?

[2021-11-17 09:00] #5481 closed, assigned to jespercockx

[2021-11-17 09:02] jespercockx commented on #5481
I fixed this by limiting splitting on inductive record types in `Prop` for now. In theory another way to fix this would be to allow splitting but restrict termination checking by "masking" arguments in a `Prop` (similarly to how we mask non-data arguments when `--without-K` is enabled). But this requires us to have the (normalized) sort of each argument type during termination checking and I'm not

[2021-11-17 12:48] asr commented on #5513
Cherry-pick bug-fixes in a clean release-2.6.2 branch was too complicated. I have not had time in try to revert the the `--erased-cubical` and `--ghc-strict` features but I guess it is also to complicated.

[2021-11-17 13:42] ShreckYe commented on #5647
Thank you very much for your detailed explanation.

I tried what you suggested in your exercise question and I do see the tree produced and printed, which is the reduced expression after `n` progress steps, gets at least exponentially larger with the gas value. If I'm not wrong, in the error message an Agda term doesn't really reduce unless necessary. I went through the code and the error messages

[2021-11-17 13:53] gallais commented on #5647
Suggestion: bound the size of the term the error output attempts to write by giving the printer a finite amount of gas.
We could default to something sensible like "5 levels deep" that replaces deeply nested subterm with "(...)" and let
users overwrite the default with a new cli option if the default is too small for the problem at hand.

[2021-11-17 18:32] nad commented on #5441
I did not want to add a dependency on a C preprocessor, so I went with `QualifiedDo` plus some documentation.

[2021-11-17 19:46] andreasabel commented on #4384
@Saizan : What is the status of this issue?  Could you give a summary of what you did and what remains to be done?

[2021-11-18 07:33] andreasabel commented on #5649
Well, on my Windows machine, `stack build --stack-yaml=stack-9.2.1.yml --test --no-run-tests` succeeds without error. I have
[code]

@jespercockx @L-TChen If you have access to a Windows machine, can you try there?

It is sort of disabled:
https://github.com/agda/agda/blob/6cb77e1a216098d6a4e273f6750dbf4445953272/src/github/workflows/stack.yml#L61

[2021-11-18 07:47] andreasabel opened #5655 "cifm: Support GHC 9.2"
Blocked on:
- [ ] `basement` (https://github.com/haskell-foundation/foundation/issues/554, https://github.com/haskell-foundation/foundation/pull/555) via `github` (https://github.com/phadej/github/issues/468)

[2021-11-18 08:34] #5544 closed, assigned to UlfNorell

[2021-11-18 09:19] #5584 closed, assigned to nobody

[2021-11-18 09:20] UlfNorell commented on #5584
This did get fixed by the fix to #5544 so looks like the same problem.

[2021-11-18 09:30] UlfNorell commented on #5620
@endobson Nothing to do with the issue, but do you know that instead of
[code]
you can say
[code]
and instead of
[code]
you can make `O` an instance argument
[code]

[2021-11-18 11:02] nad commented on #5441
Is there some simple way to instruct the CI machinery to only run the test case for this issue when GHC 9 or later is used? If not, then I'll disable the test case.

[2021-11-18 12:11] UlfNorell commented on #5633
Shrunk example:
[code]
Adding more nested `with`s adds more incorrect pattens (always including everything from `y` and onwards)

[2021-11-18 13:04] barrettj12 opened #5657 "Internal error with postfix projection"
I ran the code
[code]
and Agda told me
[code]

I am running agda/agda@6cb77e1, using VSCode's agda-mode on Windows 10.

[2021-11-18 14:18] UlfNorell commented on #5633
Bisection points to 86b3223c (@jespercockx)

[2021-11-18 17:51] fabianhjr commented on #5649
Same warning on NixOS with same version:
[code]

Though, including the revision on your version call seems to indicate additional patches.

EDIT: NVM, that is the commit of the release: https://github.com/commercialhaskell/stack/commit/7927a3aec32e2b2e5e4fb5be76d0d50eddcc197f

[2021-11-18 18:17] fabianhjr commented on #5655
Seems like a new basement release won't happen soon; the following change (using the branch of the PR) makes agda compile and test on the stack-9.2.1.ymal config:

[code]

[2021-11-18 20:35] andreasabel commented on #5655
Thanks @fabianhjr !
Since it is only our internal release tool `closed-issues-for-milestone` that is blocked on `basement`, we can wait a few months.  Of course, it is not nice for a maintainer of a package like `basement` to let the community wait...
I might try your workaround at some time, though...

[2021-11-18 22:18] andreasabel commented on #5544
Cherry-picked onto `maint-2.6.2`.

[2021-11-18 22:28] andreasabel commented on #5657
Here is a version without the standard-library:
[code]
The error given by Agda 2.5.2 - 2.6.1 is:
[code]
This is the correct error.
The crash happens starting in 2.6.2.
https://github.com/agda/agda/blob/058e350623c73c16b1149841f482fde20c73c53f/src/full/Agda/TypeChecking/Rules/Application.hs#L968
Seems I introduced this regression in https://github.com/agda/agda/commit/535da237c2aec18099b75071e05941

[2021-11-19 04:57] endobson commented on #5620
I did not know about the first one. But the second one does a slightly different thing in my experience, when used with multiple chained arguments it requires that all such ones have visible instance at the call site instead of just the most complicated one. I also found that performance of instance search for the call sites was noticeably slower if I did it that way.

Here is what my less minimal

[2021-11-19 05:58] #5620 closed, assigned to UlfNorell

[2021-11-19 08:53] andreasabel commented on #5657
This seems to be the MWE:
[code]
The scope checker recognizes `.A` as projection, but then `isProjection` fails because the `open` statement brought `A : Set` into scope, which is clearly not a projection.
Seems like the solution is simply to not throw `__IMPOSSIBLE__` at loc.cit., since it is possible if the user made a mistake.

[2021-11-19 09:46] andreasabel commented on #5647
I remember this printing-depth thing from my SML/NJ days.  I also remember I had to fiddle with the parameter more than I wanted.  If we restrict printing depth (and I agree we should), we need to find a heuristics that only in very exceptional cases needs user adjustment.  Probably the _size_ of the generated output is a better measure than the _depth_.  I suspect something like 20k would be an a

[2021-11-19 10:18] andreasabel commented on #5620
Picked onto `maint-2.6.2`, scheduled for 2.6.2.1.

[2021-11-19 10:21] andreasabel commented on #5508
Cherry-picked onto `maint-2.6.2`, scheduled for 2.6.2.1.

[2021-11-19 10:26] andreasabel commented on #5070
There was one TODO left, but I cannot remember it now...

Cherry-picked onto `maint-2.6.2`, scheduled for 2.6.2.1.

[2021-11-19 10:26] #5070 closed, assigned to andreasabel

[2021-11-19 10:27] Saizan commented on #4384
@andreasabel I implemented what me and @jespercockx discussed above, not sure if there's more to be done though.

Would probably be good to add a few more test cases, e.g. for higher order patterns.

[2021-11-19 10:27] andreasabel commented on #5531
Cherry-picked onto `maint-2.6.2`, scheduled for 2.6.2.1.

[2021-11-19 10:28] andreasabel commented on #5396
Cherry-picked onto `maint-2.6.2`, scheduled for 2.6.2.1

[2021-11-19 10:31] andreasabel commented on #5637
Since this is a duplicate issue, it needs no milestone.  (The only sound milestone would be the one of its twin.)

[2021-11-19 11:49] andreasabel opened #5659 "Support `mtl-2.3-rc4`"
Dependencies breaking with `mtl-2.3`:
- [x] `equivalence` https://github.com/pa-ba/equivalence/issues/14
- [ ] `exceptions` https://github.com/ekmett/exceptions/issues/82
- [x] `constraints` https://github.com/ekmett/constraints/issues/110 (Fixed by `constraints-0.13.3`)

Problems in our code:
- [x] `transformers-0.6`, enabled by `mtl-2.3` breaks compilation of `instance MonadTrans TCMT`.

# Conte

[2021-11-19 14:44] #5657 closed, assigned to andreasabel

[2021-11-19 15:46] andreasabel commented on #5655
Actually, the `github` package can be used _now_ with flag `+openssl` (thanks!, @phadej).
Thus, we do not need to wait for `basement`.

[2021-11-19 16:33] #5655 closed, assigned to andreasabel

[2021-11-19 17:31] andreasabel commented on #5441
The JS tests are disabled if `node.js` is not found: https://github.com/agda/agda/blob/05ea7e3a2b9bff07841fef6ba14129221c2a4bb7/test/Compiler/Tests.hs#L117-L128
I suppose something similar would work for `ghc`, evaluating the `--numeric-version`.  You should check that you get the right GHC, though, the one that Agda invokes for compilation.

[2021-11-19 20:15] #4384 closed, assigned to Saizan

[2021-11-19 21:02] nrosnick opened #5661 "Cubical does not ensure EQUIVFUN has left inverse"
Version:
`Agda version 2.6.3-dbadb16`

Description:
When defining the builtins `EQUIV` and `EQUIVFUN`, we are forced to prove certain properties about them before we can use them for computing. I believe the point of `EQUIVPROOF` is to ensure that `EQUIVFUN` is surjective. However, there is no check that `EQUIVFUN` is injective, allowing use to define `EQUIV` such that we must provide a right inve

[2021-11-19 21:28] andreasabel commented on #5659
If `mtl-2.3` is released as planned it will break all of hackage.
- https://github.com/haskell/mtl/issues/102

Because of this, there could be delays. Esp. stackage nightly might not switch so quickly.  Thus, I removed this from the 2.6.2.1 milestone.

[2021-11-19 21:45] andreasabel commented on #5649
Ok, I disabled the stack/Win/9.2.1 workflow.  Github actions does not properly support _allowed failure_.

[2021-11-20 06:26] andreasabel commented on #5565
@jespercockx : Any chance we get this fixed for 2.6.2.1?

[2021-11-20 06:35] andreasabel commented on #5633
@jespercockx : Maybe this is not too hard to fix (?).  Would be nice to get it into 2.6.2.1.

[2021-11-20 07:02] andreasabel commented on #5612
Ping @dorchard : Did you save the code that produces this error?

[2021-11-20 07:11] andreasabel commented on #5562
I though I had run a successful experiment using `:since:` in our own docs.  But this is of minor importance.  Closing.

[2021-11-20 07:11] #5562 closed, assigned to nobody

[2021-11-20 07:16] andreasabel commented on #5525
Such "famous last words" abound on github... 😆

@wenkokke : A simple fix would be fine at this point, without tackling #5553.

[2021-11-20 11:26] andreasabel commented on #4384
Thanks @Saizan !
Patch e2eb867be0353cec5ad1a3edf0ef209b3ed6aef4 does not pick cleanly onto `maint-2.6.2`, so this fix is not scheduled for 2.6.2.1.

[2021-11-20 15:21] jespercockx commented on #5565
I'll give it a look

[2021-11-20 17:03] nad commented on #5441
I noticed that, even though Agda was compiled using GHC 9, an older version of GHC was used for the GHC backend tests.

[2021-11-20 17:30] jespercockx commented on #5565
Here is my analysis of the problem:
1. When you write `variable ℓ : _`, Agda first checks the type `_`.
2. Since this type (like any other type) is a potential candidate for generalization, Agda does this in the context `genTel : GeneralizeTel`.
3. The result of elaboration of `_` is the new meta `_2 : _1`, where `_1` is a new sort meta. Note that both `_1` and `_2` are created in context `genTel

[2021-11-20 17:55] wenkokke commented on #5525
@andreasabel: My apologies, I am still unable to type due to my wrist injury. Have been since May.

[2021-11-20 20:47] andreasabel commented on #5525
@wenkokke : Ah, did not know, sorry to hear.

Thanks for the quick feedback.  I unassign you so that others can jump in.  I wish a good recovery!

[2021-11-21 00:16] andreasabel commented on #5513
Indeed, these features are included in the new `release-2.6.2.1` branch as well (#5662).  But since they are under a flag, I think it is not such a problem if they are released, with a disclaimer.
I renamed your `release-2.6.2.1` branch to `asr-release-2.6.2.1`.

[2021-11-21 06:44] #5565 closed, assigned to jespercockx

[2021-11-21 10:40] Vonfry opened #5664 "How to make agda2-mode working with direnv and nix-shell?"
Emacs is started by daemon and agda is installed and ported into environment by nix-shell and direnv for a special project instead of global.

Agda is needed in `PATH` when calling `agda2-mode`. However, a global minor mode ([envrc](https://github.com/purcell/envrc)) is started in `after-change-major-mode-hook` where agda2-mode has been evaluted, so the error "no such programm, agda" is always pop

[2021-11-21 13:27] asr commented on #5513
I agree. If (correctly) someone says this branch isn't a bug-release because the new features, just let's call it a "release". If also (correctly) someone says the version shouldn't be 2.6.2.1 because this branch isn't a bug-release, I don't see any problem in releasing this branch as 2.6.3 and bumping the current version in `master` to 2.6.4.

Got it.

[2021-11-21 23:26] isti115 opened #5665 "agda --interaction-json gives unnecessarily qualified names after opening modules"
For this small example:
[code]

the JSON response contains the following:
[code]

while the Emacs mode correctly gives:
[code]

(Tags stolen from previous `--interaction-json` related issues: @ice1000 @banacorn @rwe)

[2021-11-22 00:18] csetzer opened #5666 "Evaluate term to normal form doesn't work in top-level interaction"
### Description
When defining modules which are parametrized, evaluation of terms to normal form fails to identify definitions from imported parameterized modules. If one creates a goal, the ability to evaluate reappears. Example code:
[code]

[code]

[code]

If one then tries in module 2 to evaluate `a`  as imported from module1, one gets   a Not in scope
If one adds an additional goal
[code]
the

[2021-11-22 05:48] ice1000 opened #5667 "Documentation on the new sort system?"
/cc @ecavallo @Saizan @jespercockx

I want to learn about Agda's new `--two-levels` sort system, and I am particularly interested in the following questions:

+ `A : SSet i` and `B : Set j`, what's the type of `A -> B`?
+ `A : IUniv` and `B : SSet i`, what's the type of `A -> B`?
+ If `record A : SSet k`, can we add a field whose type is of type `Set j` to it?

There can be many, but can be summar

[2021-11-22 10:59] jespercockx commented on #5667
The core PTS rules of Agda's sort system can be found at https://github.com/agda/agda/blob/4173fd6ddc28ec2e0134c44da2e17b0f67c406d4/src/full/Agda/TypeChecking/Substitute.hs#L1492-L1504 and https://github.com/agda/agda/blob/4173fd6ddc28ec2e0134c44da2e17b0f67c406d4/src/full/Agda/TypeChecking/Substitute.hs#L1539-L1564 The rules for checking whether a type fits in a data/record type are implemented at

[2021-11-22 11:12] ice1000 commented on #5667
Niiiice!!! Thank you!!

[2021-11-22 11:18] andreasabel commented on #720
https://github.com/agda/agda/blob/master/test/interaction/Issue720.hs is breaking on CI for 2.6.2.1:
https://github.com/agda/agda/runs/4277320548?check_suite_focus=true#step:12:127

The reason is explained in https://github.com/agda/agda/commit/0a284d1070563150605080c55a0ce95791290e20#r60675127: Agda library and executable might be different.

Pinging @gallais @nad.

[2021-11-22 12:04] gallais opened #5668 "with-abstraction fails on with-in code"
The following self-contained example leads to a `p x != w of type Bool` error presumably because
`p x` was not abstracted over in the `eq` proof.

[code]

Taken from https://github.com/agda/agda-stdlib/pull/1630

[2021-11-22 12:32] MatthewDaggitt commented on #5668
Just a heads up that in the original example, even if I did use `with px in eq` in `filter-filter` then I still got the error.

[2021-11-22 13:50] andreasabel commented on #5666
Thanks for reporting. This is known problem (#4647) which we decided not to fix (#4959).   You already describe the correct workaround.

[2021-11-22 14:08] nad commented on #5565
This sounds bad to me.

[2021-11-22 14:10] nad commented on #5513
In that case issue #5441 should be fixed before the release. (It is already fixed, but the test case doesn't quite work yet.)

[2021-11-22 15:58] Saizan commented on #5661
I consider the implementations in the .Builtin files part of the trusted codebase, other implementations are not supported.

The EQUIVPROOF builtin is there because it is used in the computation of transport, not necessarily to enforce properties of EQUIVFUN.

Mostly it would be silly to add tests that make sure that the given implementation of the builtins is equal to the intended one, that would

[2021-11-22 16:03] #5576 closed, assigned to nobody

[2021-11-22 16:38] jespercockx commented on #5565
Note that this problem *only* occurs when there are unsolved sort metas in the type of a generalizable variable, in which case you would anyway get a warning. For example, the problem I was thinking of could occur when you write the following:
[code]
Here the sort of the codomain of `T` is an unsolved sort meta, which is not generalized over. With my patch, it is now assumed that this sort meta do

[2021-11-22 17:22] nad commented on #5661
I suggest that we put the builtin modules in a library called something like `primitive` or `agda-primitive`, and disallow most or all builtins in other libraries if `--safe` is active.

[2021-11-22 18:32] nad commented on #5565
OK. I would be more concerned if there was a situation in which Agda accepted some code which should contain unsolved metavariables. With a complicated unification algorithm such as Agda's I think it is nice if one can say that, if some code is accepted, and a person reading the code can correctly identify one way to instantiate the meta-variables, then this must be the way in which the meta-varia

[2021-11-22 21:37] andreasabel commented on #5441
@nad Let me know when it is ready to be cherry-picked.

[2021-11-23 07:19] #5441 closed, assigned to nad

[2021-11-23 07:29] nad commented on #5441
The `--ghc-strict` tests are now disabled when `ghc` does not have version 9 or later. I guess this means that, currently, they are not run at all by the CI scripts.

[2021-11-23 09:22] jespercockx commented on #5633
I have just found a fix, PR incoming...

[2021-11-23 21:07] AndrasKovacs opened #5670 "OperatorsExpr parsing blows up on large file"
On Agda 2.6.2, `Parsing.OperatorsExp` as reported by `-vprofile:7` takes 14 seconds on this [10k line file](https://github.com/AndrasKovacs/smalltt/blob/f9c27e825993d7e16282701d83941cf394f63725/bench/stlc10k.agda).

The file just repeats the same  ~130 lines containing a Church-encoded simply-typed LC, but all top-level symbols are uniquely renamed each time. The 5k line version of the same thing

[2021-11-23 22:37] csetzer commented on #5666
I think some kind of change is needed. I remember using parametrized modules before, encountering this issue and then abandoning parametrized modules. I believe that parametrized modules could be used more and would support well generic modules and more generic programming, but this issue might discourage using them.

I don't fully understand the technical details in the discussion I but have the

[2021-11-24 07:55] andreasabel commented on #5666
I implemented https://github.com/agda/agda/issues/4647#issuecomment-627835795 but had to rip it out again since there were additional reloads which caused UX problems in large projects.

Btw, this issue has nothing to do with parametrized modules vs. non-parametrized modules.
If you import `module1`as `public` you should not have the not-in-scope issues.
[code]

[2021-11-24 08:44] csetzer commented on #5666
I'm sorry, it's always unsatisfactory if you do some changes and then have to undo it (I was just going through such a loop in my own Agda code).

I have the feeling the problem is how to do it in such a way that it applies only to the current buffer.  In some sense, all one needs to do is get the system in the same state as it would happen if one added an artificial goal. My guess is that it coul

[2021-11-24 11:40] #5633 closed, assigned to jespercockx

[2021-11-24 13:49] andreasabel commented on #5633
Picked onto 2.6.2.1.

[2021-11-24 13:53] andreasabel commented on #5666
I reopen this issue so others can reply.

[2021-11-24 14:33] nad opened #5673 "Too many calls to stat64/lstat64"
Anton Setzer wrote the following: "What is highlighted by this is the fact that Agda seems to make a lot of file access […]".

Let's see:
[code]
If I remove the files `~/.agda/libraries` and `~/.agda/defaults` I instead get the following numbers:
[code]
We can compare with GCC and GHC:
[code]
Those numbers are quite a bit lower.

I found things like the following in the output of `strace agda Test

[2021-11-24 18:05] andreasabel commented on #5670
Should we maybe look at `flattenScope`?
https://github.com/agda/agda/blob/982e18cdcbb2355d571bc05a8a98811fe6b48525/src/full/Agda/Syntax/Concrete/Operators.hs#L182-L183
Doing something which is linear in the scope for _every_ application might easily spoil the fun (quadratic!).

[2021-11-24 22:38] nad commented on #5670
Some other parts of the code might also be problematic:

https://github.com/agda/agda/blob/982e18cdcbb2355d571bc05a8a98811fe6b48525/src/full/Agda/Syntax/Concrete/Operators.hs#L184

https://github.com/agda/agda/blob/982e18cdcbb2355d571bc05a8a98811fe6b48525/src/full/Agda/Syntax/Concrete/Operators.hs#L278-L295

An operator grammar is built for each expression, and as an optimisation this is done base

[2021-11-24 22:45] nad commented on #5448
@Saizan, can this issue be closed now?

[2021-11-24 22:45] nad commented on #5468
@Saizan, can this issue be closed now?

[2021-11-24 22:54] nad commented on #5513
If `--erased-cubical` is released now, without the already existing fixes of #5448 and #5468, then I think we should document clearly in the changelog that these problems are known, and that they are fixed on the development branch.

I think that, if possible, we should also include the commit that makes `--erased-cubical` support all higher inductive types (#5601, 138f578c08b38be5b4e0a32e431a7d0a

[2021-11-24 23:27] nad commented on #5673
I traced a program containing the call `canonicalizePath "/tmp/A/B/C/D/E/"`, and the trace included the following part:
[code]
Perhaps we should stop using `canonicalizePath` (which [does not guarantee canonicity](https://hackage.haskell.org/package/directory-1.3.7.0/docs/System-Directory.html#v:canonicalizePath)). We even use `canonicalizePath` recursively:

https://github.com/agda/agda/blob/982e

[2021-11-25 06:41] andreasabel commented on #5513
Is any of these fixes causing the regression towards the standard library?

Indeed, this one cherry-picks cleanly.

[2021-11-25 08:13] nad commented on #5513
I [wrote before](https://github.com/agda/agda/issues/5611#issuecomment-949646550) that "This is presumably related to @Saizan's fix (feb4fe4) of #5448 and #5468".

The underlying problem already exists in Agda 2.6.2. However, the problem is in my opinion really bad in the presence of `--erased-cubical`, because one can construct a [program](https://github.com/agda/agda/issues/5448#issuecomment-863

[2021-11-25 10:24] Saizan commented on #5448
Yes, looks good.

[2021-11-25 10:30] Saizan commented on #5468
Yes, looks good.

[2021-11-25 10:30] #5468 closed, assigned to nobody

[2021-11-25 12:33] nad commented on #3733
Do you mean that we could accept more definitions? Currently we do not allow matching on erased arguments if the type is an inductive family (unless `--with-K` is active), so my guess is that the answer is "yes".

I don't follow this part. In the discussion of issue #4966 you wrote that "This kind of definition would be disallowed by the positivity checker once the extra clauses for issue #3733 ge

[2021-11-25 13:40] Saizan commented on #3733
Regarding 3., I meant what we later did for the fix of #5448.

The "However it also means ..." paragraph is talking about the current situation where the generated clauses are ignored.

Btw, as of commit ff2e43639d3c7accbe5c43ae64a05c92e6d7a3c6 the injectivity check has actually been handled.

[2021-11-26 00:32] csetzer commented on #5666
I don't think the reopening succeeded, it still shows as "closed".

[2021-11-26 10:34] andreasabel commented on #5513
I think this alternative is more feasible by now.  At least I would not volunteer to

The error for option `--erased-cubical` could be:

[2021-11-27 15:24] nad commented on #5673
I replaced the implementation of `findProjectConfig'` with the following code:
[code]
Then the number of calls dropped from 917 to 645.

[2021-11-29 08:46] andreasabel commented on #5673
What happened to `upPath`?  Your code suggests it wasn't needed in the first place, so why was it there?

[2021-11-29 09:17] andreasabel opened #5675 "Remove `doc/user-manual.pdf` from the released tarball?"
In a49b8d869bd9d8261834030bc232f0b34b98b4f0 @L-TChen removed `doc/user-manual.pdf` from the extra-files in `Agda.cabal`, in connection with #4216.  Since then, adding it manually (and later remove it again) was part of the release procedure.  This is a complication in the release procedure, which is arguably too complicated already.

My suggestion is to simply not ship `user-manual.pdf` in the tar

[2021-11-29 09:59] nad commented on #5673
I switched to [`takeDirectory`](https://hackage.haskell.org/package/filepath-1.4.2.1/docs/System-FilePath-Posix.html#v:takeDirectory). This is a semantic change. I suspect that the new semantics is more in line with what people expect. @jespercockx, what do you think?

[2021-11-29 10:17] jespercockx commented on #5673
Are you sure that the new method has the same behaviour under POSIX and Windows? As long as that's still the case, I'm fine with it.

[2021-11-29 10:18] gallais commented on #5673
Should the recursive call be
[code]
instead? Is it not the case that if `dir` is absolute then so will be `takeDirectory dir`?

[2021-11-29 13:40] anuyts opened #5676 "Not-in-scope variable "shadows" in-scope variable"
This bug occurs in Agda 2.6.0.1, I cannot immediately check if it occurs in a more recent version.

For the following code:
[code]
the information we get for the hole is
[code]
i.e. Agda has assigned the argument to `isSing` the same name `A` that the user has used for the first argument to `f`. This can clearly cause misleading type information when programming further.

[2021-11-29 14:01] asr commented on #5675
I disagree with the proposal. Arguably it is more convenient browse/search a PDF file than the online documentation.

From the same reason we should also remove the release-notes from the tarball and I also disagree.

And the complication in the release procedure is too small.

[2021-11-29 14:53] nad commented on #5673
It seems as if I had missed to delete a `.agdai` file. Now I get 823 (but 645 if the `.agdai` file exists).

The new code just steps upwards: `/A/B/C`, `/A/B`, `/A`, `/`. There is no special treatment of symlinks.

Thanks, I had intended to write something like that. With that fix I still get 823 calls.

Here is a variant of the code in which the "going up" logic has been broken out:
[code]
With t

[2021-11-29 15:02] nad commented on #5675
I don't think the tar-ball uploaded to Hackage contains everything that is included in the tar-ball that we link to from the Agda Wiki.

[2021-11-29 15:04] nad commented on #5676
With a more recent version I get the following output:
[code]

[2021-11-29 16:38] anuyts commented on #5676
Then we're good.

[2021-11-29 16:38] #5676 closed, assigned to nobody

[2021-11-29 18:09] nad commented on #5673
The old method did not, did it? @andreasabel suggested that in some cases one might prefer the old (Posix) behaviour to the new one.

Anyway, I expect that these changes have no practical relevance for the performance problem that @csetzer mentioned. Perhaps performance could be improved if we stopped using `canonicalizePath` entirely.

[2021-11-29 18:49] andreasabel commented on #5675
@asr wrote:

The PDF is on readthedocs: https://agda.readthedocs.io/_/downloads/en/v2.6.2/pdf/

We could.  I would not object.  They are also not ending up in the install tree.  Maybe that is intended?
The difference with the release-notes is that they don't cause extra work in the release.

Large enough to get it wrong.  E.g., the tag `v2.6.2` is broken because there `Agda.cabal` mentions `doc/us

[2021-11-29 18:54] andreasabel commented on #5675
@nad wrote:

github also creates a tarball from the sources when we push a tag: See e.g. https://github.com/agda/agda/releases/tag/v2.6.2.  This does not include generated files, of course.

[2021-11-30 12:03] asr commented on #5675
I didn't know it. So, we can remove the PDF from the tarball.

[2021-11-30 12:12] asr commented on #5539
@L-TChen, please replace 8.10.6 by 8.10.7 in https://agda.readthedocs.io/en/latest/getting-started/installation.html.

[2021-11-30 12:13] asr commented on #5442
@andreasabel, please add 9.2.1 to https://agda.readthedocs.io/en/latest/getting-started/installation.html.

[2021-11-30 13:50] #5539 closed, assigned to asr

[2021-12-01 11:44] #5442 closed, assigned to andreasabel

[2021-12-01 11:45] andreasabel commented on #5675
Excellent!

[2021-12-01 11:45] #5675 closed, assigned to andreasabel

[2021-12-01 12:45] omelkonian opened #5680 "let: projecting behaves differently than pattern matching"
*AGDA: 2.6.2*

Projecting the first part of a dependent pair works fine, but pattern matching and ignoring the second part leads to internal error.
[code]
[code]

The bug strangely appears only when you mix generalized variables, modules and dependent products.
Similar issues (#5584, #5544) have been fixed in more recent versions, so this might be an obsolete issue.

[2021-12-01 13:21] andreasabel commented on #5680
Thanks for reporting!
This is fixed on the Agda 2.6.2.1 release candidate.  Hopefully we ship soon!

[2021-12-01 13:21] #5680 closed, assigned to nobody

[2021-12-02 19:06] JasonGross opened #5681 "Panic on record declaration with unknown sort"
On the code
[code]
I get "Panic: uncaught pattern violation"

Seems distinct from #230 (is it related to #118 though?)

Agda version 2.6.2

[2021-12-02 19:23] JasonGross opened #5682 "[feature request] Version of `C-s` / `C-a` that performs first-order unification / heuristics"
One of the features that I miss the most in Agda (coming from Coq) is the ability to leave holes where there's an obvious but not unique solution.  For example, consider the code:
[code]

`C-a` says "No solution found".  `C-s` fills the hole with `(Σ.fst x , ?)`, which is correct (and the most that can be guaranteed), but not really what I want.  Coq will happily infer that `x` is a valid filler o

[2021-12-02 20:40] andreasabel commented on #5681
Thanks for reporting, @JasonGross !

On 2.6.2.1, you will get yellow:
[code]
I thought I knew which issue this was, but now cannot find it...  (Still, my stomach says it is a duplicate.)

[2021-12-03 08:47] jespercockx commented on #5682
There are already two kinds of mechanisms that exist in Agda that do something kind-of similar:
- There's the flag `--experimental-lossy-unification` that enables the same kind of first-order unification heuristic that Coq uses. However, it doesn't seem to have much effect in this case, I'm not sure why.
- There's the recently added reflection primitive `onlyReduceDefs` which allow you to restrict

[2021-12-03 16:27] omelkonian opened #5683 "let: unexpected generalization of variable"
*Agda 2.6.2.0.20211129*

When using generalized variables in a constructor, I expect to get the same behaviour as if I had explicitly introduced it with a ∀ quantifier.
This breaks by the following MWE:
[code]
[code]
It seems that the `let`-clause does its own generalization (producing `x = # 0`) and shadows the previous `x = # 1`.

[2021-12-03 16:35] UlfNorell commented on #5683
The fix would be to not generalize types if you are already in scope of a generalization. This makes sense I think.

[2021-12-03 16:39] omelkonian commented on #5683
If you mean the fix is to disallow *any* (nested) generalization, it might be too limiting. What I would expect is to never re-generalise a variable with the same name.

[2021-12-03 16:43] UlfNorell commented on #5683
I'm not sure it would be that limiting. It's very close to the principle that says we don't generalize the type of `eq` in
[code]

[2021-12-03 17:46] omelkonian commented on #5683
If I understood correctly, the fix would disallow `C⁺` because there is a generalized `x` in scope, but allow `C⁻`?
(currently both are accepted)
[code]

[2021-12-03 18:53] UlfNorell commented on #5683
No I was thinking it would disallow both. The generalization point in both examples would be the top-level type.

[2021-12-06 11:42] #5683 closed, assigned to nobody

[2021-12-06 15:46] MatthewDaggitt opened #5686 "Record constructors not correctly preserving instances"
Consider the following code:
[code]
I would expect `id` to work as `n` is declared as an instance argument in the constructor field. However Agda appears to lose the fact that `n` is an instance argument when pattern matching on the constructor. You can see this by replacing `id` with:
[code]
and then checking the buffer which gives:
[code]
instead of the expected:
[code]

[2021-12-06 16:00] jespercockx commented on #5686
To make a record field into an instance, you need to mark it with `{{ }}`, like this:
[code]

What you did is make the *projection* into an instance, which I'm not sure is something you ever actually want to do.

[2021-12-06 16:05] MatthewDaggitt commented on #5686
Ah okay, thank you very much. That clears it up. That is kind of confusing but unsure what can be done to warn the user... so closing.

[2021-12-06 16:05] #5686 closed, assigned to nobody

[2021-12-06 16:38] #5583 closed, assigned to nobody

[2021-12-06 17:06] andreasabel commented on #5686
@jespercockx wrote:

If there is no reasonable use case for it, we should outlaw it, to avoid confusions as the OP.

What happens if you `open` a record with an `instance` field?  Do you get this instance into scope?

[2021-12-06 17:23] jespercockx commented on #5686
What I meant is not that I cannot think of a use case where it does something, just that I cannot think of a use case where it is actually *useful*. For example, this is perfectly valid:
[code]
I don't think it makes sense that we would forbid this code. In general, I don't think we should outlaw things just because we currently lack the imagination to think of a use case.

[2021-12-06 17:49] MatthewDaggitt commented on #5686
Agda already uses it in the pretty much the most important definition of them all :laughing:

https://github.com/agda/agda/blob/edd8334381f6c7a59f7a5f23eb668e62e1464aee/src/data/lib/prim/Agda/Builtin/Equality.agda#L6-L7

[2021-12-06 17:52] jespercockx commented on #5686
That's an instance constructor, not an instance projection though.

[2021-12-06 18:29] MatthewDaggitt commented on #5686
Doh of course. My Agda skills are obviously not the strongest this afternoon, myself and @wenkokke thought we'd proved false for about half an hour before realising Agda was behaving exactly as intended :man_facepalming:

[2021-12-06 20:30] jliptrap commented on #5665
In addition to [agda.nvim](https://github.com/Isti115/agda.nvim), this could also affect [vim-agda](https://github.com/msuperdock/vim-agda), [nvim-agda](https://github.com/ashinkarov/nvim-agda), and [necogda](https://github.com/0xd34df00d/necogda)?  @msuperdock @ashinkarov @0xd34df00d

[2021-12-07 09:20] L-TChen opened #5687 "Type checking does not take instances properly when defining a record term"
Type checking does not seem to take instances into account during type-checking a field in a record type properly in the following example.

[code]

If I press `C-u C-u C-c C-,` in the hole (1), then it shows `Goal: [] ≡ []` and I can refine it with `refl` by `C-c C-r`. However, by reloading, Agda complains that
[code]
where the LHS should be reduced to get the judgemental equality `[] = []`.

P.S

[2021-12-07 09:43] jespercockx commented on #5687
This looks to me like it is a duplicate of https://github.com/agda/agda/issues/2557 (which I *really* need to get around to fixing, but...)

[2021-12-07 09:45] jespercockx commented on #5687
To confirm, could you try to give the `.super` field explicitly in the definition of `fmap-id` and see if it works then?

[2021-12-07 13:17] fgaz opened #5689 "v2.6.2.0.20211129 appears in tags but does not actually exist"
To reproduce:

[code]

Could it be that it only exists in a fork (see https://github.com/agda/agda/commit/038dc2639017fe9fac037d6782edaff8e702ca54)?

[2021-12-07 14:20] gallais commented on #5689
You need to explicitly fetch tags:

[code]

[2021-12-07 17:07] fgaz commented on #5689
Oh.. I didn't know about this

pretty counterintuitive on git's part :-/

Thanks for the pointer, closing

[2021-12-07 17:07] #5689 closed, assigned to nobody

[2021-12-07 18:43] andreasabel commented on #5689
N.B.: The tag `v2.6.2.0.20211129` sits on a leaf that is not a branch anymore (the branch `release-2.6.2.1-candidate` has moved away from this tag).

[2021-12-07 19:09] fgaz commented on #5689
So in general -candidate branches get force pushed and can't be depended upon?

[2021-12-07 19:51] andreasabel commented on #5689
Atm, I am working with these branches for a release:
- `maint-2.6.2`: picks from master
- `release-2.6.2.1`: additional commits (e.g. to `CHANGELOG`), rebased onto `maint-2.6.2`
- `release-2.6.2.1-candidate`: destructive commits (to `Agda.cabal` and CI), rebased onto `release-2.6.2.1`

Fate of these branches (my current plan):
* The `-candidate` branch will end in the release tag `v2.6.2.1` and th

[2021-12-07 19:52] andreasabel commented on #5689
@fgaz: Do you want some more time to evaluate 2.6.2.1-rc1?  Otherwise, I am ready to release 2.6.2.1.

[2021-12-08 06:23] L-TChen commented on #5687
Yes, it works if `⦃ super ⦄` is given explicitly using copattern. That is,
[code]
does work. But, the following without using copattern also works
[code]

I am more confused now.

[2021-12-08 08:00] fgaz commented on #5689
@andreasabel It works fine!

[2021-12-08 08:02] andreasabel commented on #5513
I have released Agda 2.6.2.1 from #5678.

[2021-12-08 08:02] #5513 closed, assigned to andreasabel

[2021-12-08 09:15] jespercockx commented on #5687
`record` expressions use a different algorithm for inserting the implicit/instance fields than definitions by copattern matching. The problem is that the one for copatterns inserts the clause *too late* so you are already getting a type error before it is inserted.

I'm closing this issue now, please continue in #2557 if there's more.

[2021-12-08 09:15] #5687 closed, assigned to nobody

[2021-12-08 09:29] L-TChen commented on #5687
Right, that makes sense. Thanks.

[2021-12-08 16:04] andreasabel commented on #5555
Using this issue as whiteboard for the latest issue statistics (2021-12-08):
1. Open vs. closed issues (x: days since migration to github, y: number of issues since migration to github)
![agda-issues-open-vs-closed-2015-2021](https://user-images.githubusercontent.com/1155218/145240585-af6522e8-3b62-473f-b01f-e214be351a32.png)

2. Lifetime of open issues (x: age, y: open issues of at most this age)

[2021-12-11 15:04] L-TChen commented on #5681
The same code but with the option `--without-K` still fails on 2.6.2.1.
[code]

[2021-12-11 15:12] andreasabel commented on #5681
Works in 2.6.1:
[code]

[2021-12-11 16:43] andreasabel commented on #5681
`agda-bisect` says: fee1fc75a7cecddd6672e94144790483e39bb38e is the first bad commit.  Ping @nad.
Date:   Fri Jun 4 10:55:31 2021 +0200
Fixed #5434.

[2021-12-11 17:05] andreasabel opened #5692 "`is(Co)Fibrant`: clarify definition"
Re #5681: Why is `is(Co)Fibrant MetaS{} = False`?
https://github.com/agda/agda/blob/756ac774b5191b252bf993b67c7ccd5648cbbb65/src/full/Agda/TypeChecking/Irrelevance.hs#L522
As this is under `abortIfBlocked`, a meta variable should be impossible here, shouldn't it?
Should other cases also be impossible?

Ping @Saizan @ecavallo @nad.

[2021-12-11 17:29] andreasabel commented on #5670
History:
- 73a28d600f383d5097cece7f42ddd018bff15db1 (Sep 2015 @nad):  Made (many) operator grammars smaller. This implies that some error messages become shorter.
- 703c9e9d44da01713b301911343c9a2414bce105 (Mar 2015 @nad): Made the operator parser roughly 60% faster (for the standard library, with my current setup) by making use of the knowledge of which name parts occur in the expression/pattern

[2021-12-11 22:46] andrewufrank opened #5693 "hello-world comilation fails with cannot satisfy -package-id citeproc-0.5..."
I am trying to use agda for the first time. installed from debian (bullseye). the hello-world example failed with an error which seems already to be reported.
i then installed with `cabal install Agda` and got  (2.6.2.1)
copied the library following the instructions - including the setup in the `.agda` directory.

with `agda --compile hello-world.agda`

the library is found but I get the error

[c

[2021-12-11 22:58] gallais commented on #5693
It is indeed. I suspect this is once again #4627.

[2021-12-12 15:44] nad commented on #5670
The code is accepted by Agda 2.3.2 if every occurrence of the `OPTIONS` pragma except for the first one is removed. I got the following timings for 10 and 20 instances of the repeated code in the file:
[code]
[code]
Agda 2.3.2 does not seem to give you any extra information if you use `-vprofile:7`.

[2021-12-12 15:51] andreasabel commented on #5693
Are we using `citeproc`?  I don't think so. @andrewufrank wrote:
[code]
Maybe your default package environment is broken.  You might have to remove entries there.
I ran into similar problems in
- https://github.com/haskell/cabal/issues/7820.

[2021-12-12 15:54] andreasabel commented on #5670
How do these timings relate to the OP?

[2021-12-12 15:54] nad commented on #5681
I don't know too much about this code. I tried to fix a bug, and @Saizan approved the changes, so I merged the fix.

[2021-12-12 15:59] nad commented on #5670
What do you mean? I could add the information that Agda 2.6.3-2976b59 is, in both cases, a little faster.

[2021-12-12 16:00] andreasabel commented on #5681
@nad: If you do not accept responsibility, it is probably ok to revert the patch to fix the regression.
Or we could ignore the _blocked_ and simply speculate either _fibrant_ or _non-fibrant_ for blocked sorts.  For plain Agda, everything would be ok, but the experimental Cubical Agda might than malfunction if you leave the sort open with a meta-variable.

[2021-12-12 16:02] nad commented on #5693
If #4627 was fixed this kind of problem would presumably not matter.

[2021-12-12 16:03] andreasabel commented on #5670
Yes, that is sufficient.  So we can assert that there is no regression, just the initial design does not scale.

[2021-12-12 16:11] nad commented on #5681
I don't know too much about the "non-fibrant types" feature. Is this feature integral for something in Cubical Agda (like the interval type), or could it be hidden behind a flag and treated as experimental?

I also don't know exactly what infrastructure we have for postponing things. Could `isFibrant` postpone whatever is currently going on if it encounters an uninstantiated meta-variable, or is m

[2021-12-12 20:38] andrewufrank commented on #5693
thank you for your interest and helpful hints. after reading your pointers I realized that the problem is probably not with agda but with the (well-known unfortunate) problems with cabal and stack.

I have a ghc environment (using Haskell for around 30 years) and given that `citeproc` is not used by `agda` (but in some programs I use) I built my program new (to make sure there are no issues create

[2021-12-13 09:09] Saizan commented on #5692
Well, any sorts that are not blocked should be possible, those functions are trying to classify all sorts into whether they are fibrant or not.

So `MetaS` does seem impossible as you say, others would depend on how reduce for sorts works.

[2021-12-13 09:16] andrewufrank opened #5694 "MAlonzo does not properly clean up old builds"
I am working through the initial examples of agda, especially first executable, which i put into a file `hello-world-prog2`
[code]
which gives me the error message
`‘main’ is not defined in module ‘MAlonzo...`.

If I name the file  `hello-world-prog` (and change the module name accordingly) everything works.

I cannot find an instruction about what are acceptable module names, but assumed that add

[2021-12-13 10:58] L-TChen commented on #3704
Is there still a plan to merge the branch `parametric` into the master? We are working on something that will be nice to enforce parametricity.

[2021-12-13 11:35] Saizan commented on #3704
No, I don't believe there is a plan to merge this branch.

However @antoinevanmuylder is working on an implementation of of a different parametric theory.

[2021-12-13 13:29] andreasabel commented on #5681
Some postponed checks need to block unfolding of terms to avoid looping or ill-typed terms.  I don't know the implications of `isFibrant` and whether some things need to be blocked until we know about fibrancy.

[2021-12-13 13:31] andreasabel commented on #5692
From #5681 it seems that `isFibrant` is not ready to be used in typechecking of Agda code with holes.  This should be clarified here, and also the strategy what we want to do / how we want to continue if we cannot decide the fibrancy of a sort now.

[2021-12-13 13:46] Saizan commented on #5692
I'm not sure if the `abortIfBlocked` is a good design, or whether `isFibrant` should return a `Either Blocker Bool` so that callers are more aware that it can block and handle the case appropriately.

However what we want to do will depend on why we are checking whether a sort is fibrant, in #5681 we are checking fibrancy because otherwise we should not do the `usableAtModality` check. The check m

[2021-12-13 14:10] andreasabel commented on #5694
I cannot reproduce the problem from your description.  It works with module name `hello-world-prog2` for me. (Both with 2.6.2 and 2.6.2.1.)

<details>
<summary>Details</summary>
<pre>
$ agda-2.6.2.1 --compile hello-world-prog2.agda
Calling: ghc -O -o /Users/abel/play/agda/bugs/hello-world-prog2 -Werror -i/Users/abel/play/agda/bugs -main-is MAlonzo.Code.QhelloZ45ZworldZ45Zprog2 /Users/abel/play/agd

[2021-12-13 14:21] #5693 closed, assigned to nobody

[2021-12-13 14:23] andreasabel commented on #5692
This sounds better!

[2021-12-13 15:04] pvdstel opened #5695 "Agda forgets parameter names in function types"
Hi! I'm currently working on macros in Agda, and it appears that the names of parameters in function types are lost in some cases. This observation was made when using Agda interactively.

The code below defines a macro that prints the normalised type of the hole it acts on, and then returns a message indicates the macro has finished. Loading the file, placing the cursor in the holes, and triggeri

[2021-12-13 16:12] jespercockx commented on #5695
Thanks for reporting! I can reproduce the problem on my system. Here's a minimized version that doesn't depend on the standard library, for testing purposes:
[code]

Two interesting things to note:
- You only get the wrong name for the argument when running the macro in interactive mode using `C-c C-m`, when you use `C-c C-space` instead you get the right one.
- The name that Agda generates seems

[2021-12-13 16:17] jespercockx commented on #5695
Actually when you just load the file without running any macros, you can already see that something is wrong:
[code]
Agda seems to have forgotten the name that was used in the function type.

EDIT: Although that doesn't explain the difference between `C-c C-m` and `C-c C-space`.

[2021-12-13 16:38] nad commented on #5681
@Saizan, can you answer some of the questions above?

[2021-12-13 16:42] nad commented on #5681
Discussion seems to be going on elsewhere (#5692).

[2021-12-13 17:22] Saizan commented on #5681
To summarize:
- we have non-fibrant types in --cubical/--erased-cubical, e.g. the Interval (also with just --two-level).
- we do not need to block things to postpone this check, we would just need to make it into a new constraint.

[2021-12-13 21:43] omelkonian opened #5696 "Infinite? type-checking related to type-classes"
I have minimized an example program that reasons about a graph's fringe set.
I postulated as much as I could and removed unnecessary details, but it is still quite involved, any other MWE would be appreciated.

There are (at least) 3 elements that interact to result in non-responsive session during type checking:
1. Defining the payload of each node in the graph to be a nested map `ℕ ↦ (ℕ ↦ ℕ)` in

[2021-12-13 23:05] andrewufrank commented on #5694
I checked and I have the same error (but effectively running the already compiled code). A copy of the file with `prog3` compiled without problems.

Then I deleted the `.hs` `.hi` and `.o` files in `MAlonzo/Code`, forcing a new compilation. Now it works...
I cannot see what was different the last time.

Thank you for the help!

[2021-12-14 01:25] JasonGross commented on #5613
The turnstyle proposal does not work well with nesting operations, `X ⊢ a * (X ⊢ b * (X ⊢ d * e))` is kind-of noisy, IMHO.

[2021-12-14 01:26] JasonGross commented on #2587
I'd be interested in having this too.  What's the reason it was closed as wontfix?

[2021-12-14 08:47] martinescardo opened #5697 "Pattern matching on no-eta record bug?"
A record in a `where` clause of a definition has eta disabled:
[code]
For further discussion see https://agda.zulipchat.com/#narrow/stream/238741-general/topic/Pattern.20matching.20on.20no-eta.20record.20bug.3F

[2021-12-15 02:14] ShreckYe opened #5698 "Inaccuracies or misunderstandings in the Cubical chapter in Docs"
In the Cubical chapter in Language Reference in Docs ([site here](https://agda.readthedocs.io/en/latest/language/cubical.html) and [repo file here](https://github.com/agda/agda/blob/master/doc/user-manual/language/cubical.lagda.rst)) it says:

From the context "standard Agda definitions" should refer to what's in `PropositionalEquality` here. If so, the three laws here are indeed provable with `Pr

[2021-12-15 03:24] plt-amy commented on #5698
These are propositional equalities: you have to prove them by pattern matching on `refl`. The equalities being referred to in that sentence **definitional**, meaning you don't need to do anything to prove them: they're just true by the way computation works.

[2021-12-15 03:26] ShreckYe commented on #5698
@plt-amy Thank you very much.

Sorry to have bothered then.

[2021-12-15 03:26] #5698 closed, assigned to nobody

[2021-12-15 05:46] plt-amy opened #5699 "Erased constructor parameters + module arguments breaks withReconstructed"
The program below "works" (i.e. it prints the type error `bar`, as one expects) in 2.6.2. On master, it prints the following:

[code]

[code]

I haven't done any bisection but I strongly suspect that this has to do with #5366.

[2021-12-15 09:55] jespercockx opened #5700 "Metas created during macro execution use the wrong scope"
Here's a small example:
[code]
When loading this file, you get this:
[code]
Note that the type of the meta is `Agda.Builtin.Nat.Nat`, while if you give the term `suc _` by hand the type you get is `Nat`.

[2021-12-15 10:37] andreasabel commented on #5694
This might have been the solution indeed.

I regularly get compilation errors when I switch Agda versions because of stale content of the `MAlonzo` directory, and the fix is then to delete the `MAlonzo` directory and force compilation from scratch.

[2021-12-15 12:01] andreasabel commented on #5697
The problem here is that the positivity checker sees some mutuality (`X` mutual with`r`?) and thus eta is switched off for `r`.  Solutions are to either label the `record` with
- `eta-equality`
- or `pattern`, to enable pattern-matching on the constructor (as opposed to allow co-pattern matching on the field).

In the latter case, you have a record type with `no-eta-equality`.

Btw, highlighting s

[2021-12-15 12:41] martinescardo commented on #5697
Thanks. (But isn't `X` an assumption rather than something being defined? In which case it doesn't make sense for it to be mutual with `r`.)

[2021-12-15 14:54] andreasabel commented on #5697
Actually, my vage explanation was wrong.
What is going on (I think) is that because `r` is mutual with `h`, the clauses for `h` are checked before eta-equality is confirmed for `r`. Thus, when checking pattern `c`, Agda complains.  Only after `h` is defined, the positivity checker runs on `r` and `h` and confirms everything is ok.  But, too late...

[2021-12-15 14:58] andreasabel commented on #2587
Not sure.  We can keep this issue open, but would likely need a volunteer to implement this.

[2021-12-15 15:26] martinescardo commented on #5697
Makes sense. But why does this happen *only* when a record is defined inside a `where` clause? Outside a where clause we never have this problem.

[2021-12-15 15:35] andreasabel commented on #5697
You get the same problem in a plain mutual block.  Inside `where`, you are automatically in a mutual block.
[code]
Same error here.

[2021-12-15 15:40] martinescardo commented on #5697
I see. I didn't know that inside `where` we are always in a mutual block.

[2021-12-15 15:45] andreasabel commented on #5695
Not really, but it decides to print Pi-types as non-dependent if they are non-dependent:
https://github.com/agda/agda/blob/756ac774b5191b252bf993b67c7ccd5648cbbb65/src/full/Agda/Syntax/Translation/InternalToAbstract.hs#L529-L531

[2021-12-15 16:46] jespercockx commented on #5695
Right, you are correct. The fact remains that you should be able to access the name that the user gave from the reflection API even if it is not shown when printing the type. (On a side note, perhaps we *should* print the type as the user gave it instead of discarding the name annotation??)

[2021-12-16 22:52] nad commented on #5694
Possibly related: #5428, #3985.

[2021-12-17 04:02] ShreckYe opened #5702 "Can't case split an `HitInt` with some already existing cases"
"HitInt.agda":
[code]

"SymInt.agda":
[code]

I get this when case splitting `a` in the hole with the VS Code plugin on Windows:
[code]

[2021-12-17 13:52] JacquesCarette commented on #4642
As I learn more, I'm thinking that QTT would be even better. Feels like it would subsume all the current erasability annotations and give linearity and more, all at once.

[2021-12-19 04:20] andreasabel commented on #4642
Yeah, there is the grand plan to switch to QTT, but so far only the 0-modality is implemented ("erasure"), and the 1-modality is a unused constructor.  Linearity is much harder than erasure because a solver for quantities is needed, and a constraint machinery.  Erasure could be implemented with mostly local changes to the type checker.

[2021-12-20 09:29] UlfNorell commented on #5564
The problem here isn't that we don't know the fixity of the surrounding context (we do, and it's accounted for), but that there's an ambiguity between the different `,` parts. If not for that you wouldn't need parens.

[2021-12-21 10:30] jespercockx opened #5703 "Should erasure violations be hard errors more often?"
While working with erased arguments, I have the impression that I often get unsolved constraints where I would expect Agda to detect that the constraints are really unsolvable. For example, the following *does* produce a hard error:
[code]
However, adding a function application in the mix means we get unsolved constraints instead:
[code]
Trying to give `X = F A` manually leads to a hard error, so

[2021-12-21 10:37] jespercockx commented on #5703
I noticed that if one makes `A` and `F` into module parameters instead, you get unsolved constraints in both cases. This makes even less sense to me, since module parameters are really "inert" (in the sense that you cannot even declare rewrite rules for them) so there is even less chance of the constraints being solved.

[2021-12-21 10:43] #5700 closed, assigned to jespercockx

[2021-12-21 10:43] #5695 closed, assigned to jespercockx

[2021-12-22 09:04] jespercockx opened #5704 "Document the different uses of `_`"
As noted in the thread at https://agda.zulipchat.com/#narrow/stream/259644-newcomers/topic/What.20exactly.20is.20a.20standalone.20underscore.3F/near/265735548, there are at least three different uses of a standalone underscore `_` in the Agda syntax, and none of them seem to be documented properly in the user manual:

1. In an expression, `_` means "please figure this out for me from the typing"
2

[2021-12-22 09:42] gallais commented on #5704
4. As a definition name, `_` means "don't introduce in the scope" and can be used to add unit tests

There's also `data _ where` in `interleaved mutual` blocks but that could arguably
fall under 1. even though no typing is involved.

[2021-12-22 14:42] ksqsf opened #5705 "Internal error when trying to overflow levels"
The following code will cause an internal error:

[code]

[code]

Information:
- Agda version 2.6.2
- MacOS 12.1

[2021-12-22 15:03] Trebor-Huang opened #5706 "Universe overflow causes Russell's paradox"
Version used: Agda 2.6.2.1

[code]

[2021-12-22 15:12] Trebor-Huang commented on #5706
Discovered by @ksqsf . See the adjacent issue about `__IMPOSSIBLE__` errors on subscript formatting.

[2021-12-22 15:51] andreasabel commented on #5705
This is `Int` overflow,
[code]
because suffixes are `Int`: https://github.com/agda/agda/blob/015759ce86586343acff8fe73c98656ed25bde76/src/full/Agda/Utils/Suffix.hs#L39-L42

Actually, we already get the crash at `(maxBound :: Int) + 1`:
[code]

There are two avenues to fix this:
1. Relax suffixes to `Integer`.  Then you can have as many concrete universes as number of atoms in the physical universe

[2021-12-22 16:26] Trebor-Huang commented on #5706
Correction: The error occurs at 2^63.
- At `l > 2^63-1`, `Set_l : Set0` (I'm using pseudo-notation)  is accepted, no matter what `l` is.
- At `l = 2^63-1`, `__IMPOSSIBLE__` occurs.
- At lower levels, Agda correctly rejects the declaration.

[2021-12-22 17:02] andreasabel commented on #5706
Curious what introduced this bug:
[code]

[2021-12-22 17:12] Trebor-Huang commented on #5706
@AliasQli identified that if you change these `Int`s into `Integer`s then Agda correctly rejects the file.
https://github.com/agda/agda/blob/007a26fb5f7d9eb54db16484fb116d6e47c8cc5e/src/full/Agda/Utils/Suffix.hs#L39-L42

But those were written ages ago.

[2021-12-22 17:14] andreasabel commented on #5706
Yes, this is the easiest fix, I am working on a PR.  However, I am still curious what causes the regression, and once I have seen the cause, I have more information to decide on a fix.

[2021-12-22 17:58] andreasabel commented on #5706
bisect says: 55013a9b25bc2bee3e1bce2f47f4a8716745ae88 is the first bad commit
Date:   Mon Oct 19 17:35:36 2020 +0200

    [ refactor ] smart constructor [s]sort should use smart univSort

    Otherwise, non-normal sorts like (UnivSort (SSet l)) are created.

Unfortunately, that was me. 😊

But it is almost as if I fell into a trap that was laid out over time.  So I suppose fixing `Utils.Suffix` to

[2021-12-22 18:07] gallais commented on #5706
I suspect it may come from #4629. Prior to that we could directly parse the level `n`
in `Setn`. After that the decomposition into name + suffix can only be done after /
during scope checking and so we started repurposing `Agda.Utils.Suffix` only originally
used for name generation (when case splitting / shadowing).

[2021-12-23 10:30] #5705 closed, assigned to andreasabel

[2021-12-23 10:30] #5706 closed, assigned to andreasabel

[2021-12-23 13:29] nad commented on #5704
Not explicitly, but it is still available for unification: `λ _ → _` and `const _` are not treated in the same way. Similarly `∀ _ → _` and `_ → _` are not treated in the same way.

[2021-12-23 13:46] nad commented on #5703
The following problem might be related:
[code]
Agda fails to instantiate the meta-variable corresponding to the penultimate underscore, leaving the following constraint unsolved:
[code]

[2021-12-23 13:50] anuyts opened #5708 "LaTeX backend: forbid hyphenation in Agda identifiers"
Apparently, LaTeX likes to hyphenate Agda identifiers. It seems this could be prevented by wrapping them in an \mbox in the LaTeX style file.

[2021-12-23 14:11] andreasabel commented on #5708
You could try to overwrite one of:
- `\AgdaNoSpaceMath`
- `\AgdaFormat`

[2021-12-23 14:13] andreasabel commented on #5704
Do you have MWEs that distinguish these?

[2021-12-24 12:20] L-TChen commented on #5704
And `(_ : A) → B` is different from `A → B`.

[2021-12-25 14:15] Vonfry commented on #5664
Using tree-sitter and coding some simple highlight by elisp instead of agda binary is a method. However, the [implement of agda of tree-sitter](https://github.com/tree-sitter/tree-sitter-agda) seems not to maintain and complete now.

[2021-12-26 19:43] andreasabel opened #5710 "Cabal workflow fails on Windows due to icu4c"
Something upstream must have changed that breaks our workflow:
https://github.com/agda/agda/runs/4616916745?check_suite_focus=true

[2021-12-27 13:38] L-TChen commented on #5710
It looks like `${APPDATA}/cabal/config` has been moved somewhere else or it is not set by default. Is there any way to fetch the location of the configuration?

[2021-12-28 15:33] Trebor-Huang opened #5711 "`@tactic` annotations for declarations in `variable` blocks"
Is it possible to annotate variables declared in `variable` blocks with tactics? For example,
[code]

[2021-12-28 16:50] Trebor-Huang commented on #5711
Whoops, I put the @ at the wrong place. Sorry for the noise.

[2021-12-28 16:50] #5711 closed, assigned to nobody

[2021-12-28 17:07] Trebor-Huang opened #5712 "`__IMPOSSIBLE__` when tactic is used on record fields that are functions"
MWE:

[code]

This produces:

[code]

It only occurs when `foo` is a function, and the definition of `F` includes that field. (When the last line in the code is left out, it runs fine because Agda can infer a value of `⊤` even when the tactic is doing nothing.)

[2021-12-29 08:25] andreasabel commented on #5710
We could use the command `cabal user-config update`, e.g.
[code]

[2021-12-29 09:32] #5710 closed, assigned to andreasabel

[2021-12-29 09:43] andreasabel commented on #5712
This passes without error on 2.6.1. Running bisect:
[code]

[2021-12-29 10:37] andreasabel commented on #5712
Error here:https://github.com/agda/agda/blob/9428b1db46b28a4a01706a9347091b09b7136388/src/full/Agda/TypeChecking/Coverage.hs#L480
This is a regression in 2.6.2 introduced by me by the fix of #5358:
0cdd208baf18d7d8f9c5fe24a766a74c357b0151 is the first bad commit
Date:   Fri May 7 21:51:20 2021 +0200
[ fixed #5358 ] don't expand clauses with tactics attached to them

[2021-12-29 11:27] jespercockx opened #5714 "Add a command to show the full type of a symbol"
Currently it is not possible to ask Agda for the type of a generalizable variable, as you get an error "Generalizable variable ... is not supported here". It would be useful (as demonstrated by the recent mail at https://lists.chalmers.se/pipermail/agda/2021/012832.html) to have a command that would give you the type of a given symbol, without doing anything like generalization or inserting implic

[2021-12-30 08:14] L-TChen opened #5715 "Reflection: Use `Telescope` for `getContext`, `inContext`, and `extendContext`"
Currently, `getContext` and `inContext` only returns and takes a list of `Arg Type` without a name, and internally all variables are named `x`:

https://github.com/agda/agda/blob/9428b1db46b28a4a01706a9347091b09b7136388/src/full/Agda/TypeChecking/Unquote.hs#L780-L783

In order to print terms nicely, e.g. using `debugPrint` or `typeError` with `termErr`, I propose that they all should use `Telescop

[2022-01-01 17:06] ice1000 commented on #5702
https://github.com/agda/agda/blob/9428b1db46b28a4a01706a9347091b09b7136388/src/full/Agda/TypeChecking/Coverage/Match.hs#L449

🤔🤔

/cc @Saizan

[2022-01-01 17:29] Bodigrim opened #5718 "Support bytestring-0.11.2.0"
[code]
fails with
[code]

[2022-01-02 13:30] andrejbauer opened #5719 "Handle case-insensitive file systems in a better way"
Where do I report bugs?

[code]

System info:

[code]

Do you need anything else?

[2022-01-02 13:38] Trebor-Huang opened #5720 "Record field tactics are not called enough"
[code]
This produces the unsolved meta
[code]
During the elaboration, Agda successfully constructed the argument of `thm` as `record { space = space P }`. But then the tactic is not called to generate the other field. Is this behavior intended?

[2022-01-02 13:53] Trebor-Huang commented on #5719
A random guess: since you are on a case-insensitive system, does your module name agree exactly with your file name (including case)? See #5508

[2022-01-02 19:02] Trebor-Huang commented on #2622
Is this being worked on? Are there any difficulties that are worth documenting here?

[2022-01-03 05:58] Trebor-Huang opened #5721 "Pruning searched instances"
This might be regarded as a subtask of #1743.

I have an operation `¬_` that is *definitionally involutive*. Meanwhile I have a typeclass `C` for which I want to declare the instance `C P -> C (¬ P)`. This causes Agda to loop.

[2022-01-03 09:05] wouter-swierstra opened #5722 "Performance issue using coinduction/sharing"
I have encountered a performance problem with sharing that I do not understand. I have boiled the problem down to the following code snippets -- presented in Haskell and Agda.

Here is the Haskell version to compute Fibonacci numbers in two different ways: one using an explicit fixpoint; the other uses a stream of integers to memoise previous recursive calls:

[code]

Calling `fib 30` vs `mfib 30`

[2022-01-03 09:16] jespercockx commented on #5721
What is your hope that Agda would do here? To me it seems unavoidable that Agda will loop if you try to use this instance, so the best you can expect is a termination error if #1743 is fixed.

[2022-01-03 09:19] jespercockx commented on #5720
This looks like it could be related to #5712 , perhaps the PR https://github.com/agda/agda/pull/5717 also fixes this?

[2022-01-03 09:21] jespercockx commented on #5719
I failed to reproduce the error on Linux, so it could be something platform-related indeed. Can someone on Apple try if they can reproduce this?

[2022-01-03 10:06] Trebor-Huang commented on #5721
Since `¬_` is a generic computation on types, there's no hope to get the termination checker work here. But perhaps when the termination checker is turned off (or, unimplemented as of now), Agda should recognize that some instance has been searched before, and stop persuin down that route?

[2022-01-03 11:20] #5712 closed, assigned to andreasabel

[2022-01-03 11:24] andreasabel commented on #5719
Yes, @andrejbauer :
- What is the filename of module `Error`?
- Does the issue go away with Agda-2.6.2.1?

[2022-01-03 12:38] andreasabel commented on #5718
Thanks for the alert, @Bodigrim !
I made a revision to `bytestring < 0.11.2` on hackage: https://hackage.haskell.org/package/Agda-2.6.2.1/revisions/

[2022-01-03 13:16] andreasabel commented on #5722
Mmh, Agda is call-by-name.  Have you compared the call-by-name reduction sequences for, say, `fib 3` and `mfib 3`, @wouter-swierstra ?

[2022-01-03 13:26] wouter-swierstra commented on #5722
Given the [--call-by-name](https://agda.readthedocs.io/en/latest/tools/command-line-options.html#cmdoption-call-by-name) flag, I assumed that Agda is call-by-need by default. Or am I misinterpreting things?

[2022-01-03 13:34] andreasabel commented on #5722
Ah, maybe I am not fully up-to-date.  How far this call-by-need implementation goes, I don't, know. @UlfNorell might be able to tell...

[2022-01-03 15:16] UlfNorell commented on #5722
`C-c C-n` should evaluate everything in the call-by-need abstract machine unless you go under a lambda or hit an unsupported primitive, none of which it looks like is the problem here. Possibly some issue related to coinduction.

[2022-01-03 17:26] andreasabel commented on #5722
Did you do anything special about coinduction in the machine, @UlfNorell ? What would that be? There shouldn't be anything special besides copattern matching.  How it call-by-need implemented in the presence of copatterns?

The only external function is `unfold`. @wouter-swierstra, could you turn the MWE into one not using the standard library, by inlining the relevant parts of the stream library?

[2022-01-04 13:22] #5718 closed, assigned to andreasabel

[2022-01-04 14:36] wouter-swierstra commented on #5722
Here's a version without using Codata.Stream:

[code]

Interestingly in this version, the `mfib` function *is* clearly faster than `fib`. (I've also used guarded corecursion rather than sized types -- I've never quite gotten the hang of them.)

But in my original application, I have a datatype generic version of such memoising fixpoint calculations -- and there I don't see the expected speedup. Th

[2022-01-04 18:10] andreasabel commented on #5722
@wouter-swierstra : You can get rid of the standard library by using the builtin modules:
[code]
Re: coinduction:

This would be corecursion in Coq, but in Agda you have to use copatterns:
[code]
Now, unfortunately, the call-by-need effect is gone, and `mfib` is even slower than `fib`.

@UlfNorell : Is this to be expected from your model of call-by-need?  I suppose so, because now `trie f` is no l

[2022-01-04 19:40] nad commented on #4506
Someone (the Reddit user Reddiberto) wrote a [Reddit post](https://www.reddit.com/r/agda/comments/rul1w5/where_can_i_look_for_help/) about a problem with a similar error message. I think we should "fix" this problem now. Do you think we should use the hack with the long error message, or the hack with dropped code points?

[2022-01-04 21:36] nad commented on #5722
See also #2918.

[2022-01-05 09:41] nad commented on #5722
You could also use `∞`:

[code]

However, this makes the memoising variant slow, perhaps because (if I remember correctly) the application starting with `♯_` is turned into a top-level function.

[2022-01-05 10:34] nad commented on #5704
Here are some examples:
[code]

[2022-01-05 19:53] foones opened #5724 "Termination checker rejects recursive function on two well-founded trees"
I'm trying to write a recursive function that takes two well-founded trees as arguments. In the recursive call, sometimes the first argument becomes structurally smaller, and sometimes the second one does. The non-decreasing argument remains untouched.

This function gets rejected by the termination checker, and I cannot understand why.

I have tried to reduce the example as much as possible. Conc

[2022-01-05 20:04] andreasabel commented on #4506
Simply dropping code points does not sound like a good idea, it is rather hard to foresee what could go wrong...
I'd prefer the hack with parsing the error message.

[2022-01-05 20:23] gallais commented on #5724
Note that with a bit of manual inlining it's accepted:

[code]

I think it's the classic issue of deconstructing / reconstructing `W a` and `W b` that
confuses the termination checker.

[2022-01-05 20:29] andreasabel commented on #5724
@gallais won the race.  Here is my take, abstracting the recursive calls from the pattern-lambda:
[code]

[2022-01-05 21:30] foones commented on #5724
Thanks to both for your helpful alternatives!

[2022-01-06 10:01] #5724 closed, assigned to nobody

[2022-01-07 02:33] JacquesCarette opened #5725 "Reasonable people are complaining about Agda's unreasonable packaging"
![image](https://user-images.githubusercontent.com/1855141/148481601-d8f39c0f-9160-4a44-b4ff-b875a448b0fd.png)

This is rather embarrassing, no?  Shouldn't a "standard install" of Agda 1) include the library, and 2) be 'simple' (i.e. not involve editing any text files)?  Wouldn't it be even better if it didn't take 30-40 minutes?

Assuming that the answer to the above is "yes, such a standard inst

[2022-01-07 06:04] casper-pragma opened #5726 "Unreasonable rejection"
I have written the code that agda refuses to accept for the reason that it cannot destructure a value of nondata – which is fallacious, because I do in fact pattern match on a datatype object.
The code is rather long and I cannot find a way to shrink it to minimal repro. It's placed [here](https://gist.github.com/insignia-magnum/f4e90b87102ed0c308ca8a8950aa9586).

It is strange that in code that I

[2022-01-07 07:10] L-TChen commented on #5667
I believe it is based on the two-level type theory by Annenkov et al. (https://arxiv.org/abs/1705.03307), so perhaps a pointer to this arXiv paper or their earlier CSL paper is sufficient for now.

[2022-01-07 09:28] L-TChen opened #5727 "Reducing universe levels before checking is not sufficient"
To check if two `Level` terms are equal, Agda first reduces them to check if they are syntactically equal (L1450) below

https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316311f5795d760d/src/full/Agda/TypeChecking/Conversion.hs#L1450-L1454

which however seems insufficient, if they do have the same normal form but different head normal form.

### Example
Unfortnutely, I don't have a minim

[2022-01-07 09:56] gallais commented on #5725
Annoyances aside, a lot of newcomers seem to also be tripped over by the fact
you have to [pick a specific version of the standard library](https://wiki.portal.chalmers.se/agda/Libraries/StandardLibrary) that is compatible with
the version of Agda you are installing.

As for the solution, I don't know if it's an installer or rather a package manager
that we need the most.

[2022-01-07 10:10] jespercockx commented on #5727
This used to be normalization before I changed it to normal reduction in April 2020: https://github.com/agda/agda/commit/0348659e9f3e9f741dda2c751eb32ea29c2cb9c7 So I caused this regression.

The syntactic equality check is supposed to be "just" an optimization so the fundamental problem here is not that the levels are not enough normalized but that the logic for solving universe level constraints

[2022-01-07 10:22] jespercockx commented on #5725
I very much applaud this initiative! Yes, there should absolutely be an easy way to get Agda installed and running with as little friction as possible. However, there are the usual questions:

1. How do you make sure that the installer is up-to-date with the latest release of Agda and the standard library?
2. How do you support upgrading and/or uninstalling?
3. Do you also package a compatible ver

[2022-01-07 10:24] L-TChen commented on #5727
I don’t understand this part. In the above example, arguments of ⊔ are not in the same order but it is still okay after normalisation. Did I miss something?

[2022-01-07 10:46] jespercockx commented on #5727
Oh, you're right, I didn't look closely enough at the example. It is the case that normalization (and in fact also reduction) of a level expression will sort the arguments to `⊔` in a predictable way, so the order does not actually matter. But that makes me wonder why this case in the level comparison does not kick in for your example:

https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316

[2022-01-07 11:19] andreasabel commented on #5726
Change the first clause fo `equiv` to
[code]
and the error goes away.

Lesson: do not split on `a` in a clause that splits on `(c₁ : U a)`, because `a` will be refined by unification.

Here is your fixed code without the standard library:
[code]

[2022-01-07 12:42] MatthewDaggitt opened #5728 "Internal error when pattern matching on `...` in with statement without providing a pattern match"
[code]
gives:
[code]
Works with any `with` target, not just `Set`.

Version: Agda 2.6.2

[2022-01-07 15:13] andreasabel commented on #5728
bisecting...
Previous errors:
- v2.6.1: `Missing with-clauses for function test`
- ccffe29fa:
[code]

[2022-01-07 15:58] andreasabel commented on #5728
bisect says: ecb93230ad9327991e542731756cbe1405c85d5f is the first bad commit (ping @gallais)
Date:   Thu Mar 25 10:01:49 2021 +0000
[ re #4041 ] internalising the inspect idiom (#4084)

[2022-01-07 23:58] ashinkarov commented on #5665
I think an option to the agda command would be the right thing to do.  We could preserve the existing behaviour by setting a default (when the option is not passed), yet still being able to trigger the output.

[2022-01-08 08:03] L-TChen commented on #5727
Oh, the metavariable `_ℓ_165` can be given explicitly. By checking the output of `tc.conv.level:60`, I can see that the above case does kick in, so there is no metavariable involved anymore and no postponing. However, I found that `as` and `bs` are compared in the order as they are given as reported by
https://github.com/agda/agda/blob/a0b3eea0c19c47ffbe2be525316311f5795d760d/src/full/Agda/TypeChe

[2022-01-08 08:17] casper-pragma commented on #5726
Thanks. I guess, I'll learn to live with that. There's another issue that has shown up right after this one.
With `equiv` now written like this ...
[code]
... agda errors at me that it cant solve constraints. Can those be postponed until `equiv` is applied to arguments?

[code]

[2022-01-08 09:36] andreasabel commented on #5726
I think these constraints would be more readable if you defined `maxN` directly by pattern matching and not via `aux` (I do not see what purpose this indirection should serve).

[2022-01-08 09:58] casper-pragma commented on #5726
I use `maxN` to pick the biggest number and aux allows me to recurse on data and have access to the original values. Is there a way to do it better?

[2022-01-08 10:10] jespercockx commented on #5727
You're correct again: sorting is not enough unless we first normalize the terms (in which case syntactic equality would kick in anyways) or we have a way to sort that is stable under reduction (which seems like it would involve normalization anyway). Trying every possible order is possible in theory but I doubt it will be more efficient than just normalizing (except for some degenerate cases). So

[2022-01-08 17:58] andreasabel commented on #5726
Instead of `maxN a b = aux a b` you could simply implement `maxN` by pattern matching directly (using the patterns you use for `aux`).

[2022-01-08 19:46] nad commented on #5725
Can we learn from other projects?

I recently installed Coq 8.13.2:
* The package available via my Linux distribution's package manager was not sufficiently recent.
* One can also use a "snap", but not for the 32-bit system that I was using.
* I installed opam, some GTK libraries, as well as (parts of) the Coq platform. This involved running some shell-script, which installed programs in a non-sta