[2021-02-03 14:08] andreasabel commented on #4985
Ulf: could be fixed by twin variables...

[2021-02-03 14:09] #5146 closed, assigned to nobody

[2021-02-03 14:09] andreasabel commented on #5146
Will be released in 2.6.2.

[2021-02-03 14:18] fredrikNordvallForsberg commented on #5029
In general one shouldn't be allowed to turn off non-benign warnings when `--safe` is on, surely?

[code]

[2021-02-03 14:19] UlfNorell commented on #5057
Currently we are not adding any "erased" annotations other than what the user puts in, but this is something we might consider doing.

[2021-02-03 14:22] gallais commented on #5029
[code]

should check that the warning does not belong to `errorWarnings`.
I have a meeting right now but I can look at it afterwards.

[2021-02-03 14:32] jespercockx commented on #4962
It seems that the original issue has been fixed by Andreas and it is not clear what issues are still remaining. If you have additional issues with the JS backend, please report them as separate issues.

[2021-02-03 14:32] #4962 closed, assigned to andreasabel

[2021-02-03 14:39] jespercockx commented on #4940
@andreasabel was this fixed by your commits?

[2021-02-03 14:45] UlfNorell commented on #4940
I think the problem is that you don't have the full path in `AGDA_BIN`. When I do
[code]
It fails for the `ExecAgda` test (since it tries to call `agda`), but all the other tests work.

[2021-02-03 14:56] jespercockx commented on #4908
How about rather than having various `--safe-except-for-...` flags, we would have `--safe` simply be an alias to a bunch of other flags that can be enabled and disabled individually, like `--no-postulates`, `--no-terminating-pragmas`, ... (plus a number of flags for turning warnings into errors)? That way you could "build your own --safe flag" by enabling the specific checks that you want.

[2021-02-03 15:04] jespercockx commented on #4844
Let's wait a bit longer to see how the situation evolves on the GHC side.

[2021-02-03 15:05] UlfNorell commented on #4844
Note that you can give language pragmas in the Agda code (this is #2712):
[code]

[2021-02-03 15:14] jespercockx commented on #4783
It's hard to see what's going on without a concrete example.

[2021-02-03 15:14] UlfNorell commented on #5057
Duplicate of #4786

[2021-02-03 15:14] #5057 closed, assigned to nobody

[2021-02-03 15:18] jespercockx commented on #4777
I agree with Ulf's option number 1, and with the hierarchy proposed by Andreas.

[2021-02-03 15:48] jespercockx commented on #4725
It seems that the dots are moved because of forced constructor arguments. A workaround is to enable the flag `--no-forcing`. Perhaps this should be turned on by default for `--cubical`? (since we're currently not compiling cubical, turning off forcing doesn't actually hurt.)

[2021-02-03 16:23] asr commented on #4749
I updated the documentation in 'Read the docs' to 2.6.1.2.

[2021-02-03 16:46] asr commented on #4749
I deprecated in Hackage 2.6.1.1 and I updated the Wiki.

[2021-02-03 16:58] asr commented on #4749
Argh, I just noted that they are some supported GHC versions in 2.6.2.1 missing from https://agda.readthedocs.io/en/v2.6.1.2/getting-started/prerequisites.html.

[2021-02-03 17:21] asr commented on #4749
I made the announce.

[2021-02-03 17:21] #4749 closed, assigned to asr, andreasabel

[2021-02-03 21:17] UlfNorell commented on #4749
2.6.1.2 doesn't work with ghc 8.10.3 does it? But 2.6.1.1 does, so isn't deprecating 2.6.1.1 a bad idea? (I'm not sure what the semantics of deprecation is)

[2021-02-04 01:39] MatthewDaggitt opened #5167 "Fix broken compatibility with agda-bench"
The commit https://github.com/agda/agda/commit/de6aed5d341e366fdf7efa9b44a447ede731cba8 means that `Agda.Interaction.CommandLine` no longer exports `withCurrentFile` leading to the following error when I try to install [agda-bench](https://github.com/UlfNorell/agda-bench):
[code]

[2021-02-04 03:12] asr commented on #4749
No, it doesn't.

I reverted the deprecation of 2.6.1.1 on Hackage. I'll deprecate 2.6.1.1 and 2.6.1.2 after the release of 2.6.1.3. Thank you for pointing out it.

[2021-02-04 04:53] asr opened #5168 "User manual: Missing instructions for installing Agda from Hackage using stack"
I want to add the missing instructions. For example, I use the following commands for installing 2.6.1.2 from Hackage using GHC 8.10.2:

[code]

Can I avoid the firsts two steps by adding the url in the third step?

[2021-02-04 04:58] asr commented on #5168
Duplicated  of #4665.

[2021-02-04 04:58] #5168 closed, assigned to asr

[2021-02-04 05:00] asr commented on #4665
I want to add the missing instructions. For example, I use the following commands for installing 2.6.1.2 from Hackage using GHC 8.10.2:

[code]

Can I avoid the firsts two steps by adding the url in the third step?

[2021-02-04 05:31] mouse07410 opened #5169 "Master fails test "Issue3436""
- MacOS 10.15.7, Xcode-12.4.
- GHC-8.10.3, Cabal-3.2.0.0.
- MacTeX-2020.

[code]

[2021-02-04 09:27] jespercockx commented on #4665
For me, this command actually works (tested on both linux and windows):
[code]
This uses GHC 8.8.4 rather than 8.10.3, but otherwise seems quite robust. Using the lts-17.1 resolver (which uses 8.10.3) fails with an error while building Agda due to a missing dependency on `transformers`:
[code]
Using the nightly resolver also fails because of the same reason.

[2021-02-04 10:22] gallais commented on #5169
Yeah [I know](https://github.com/agda/agda/pull/5166#issuecomment-772810317).
I was planning to fix that today.

[2021-02-04 11:08] omelkonian opened #5171 "Implicit arguments break record-module creation"
Creating a record from a module does not work when a field definition contains implicit arguments, but works with explicit arguments.

[code]

- NB1: Replacing any of the commented alternatives fixes the issue.
- NB2: The irrelevance of field `pr` does not really matter.

**tested in Agda 2.6.1**

[2021-02-04 12:12] nad commented on #4908
In that case, if some new unsafe feature is added to Agda (and turned on by default), then you would have to switch to another set of flags. Perhaps it would be better to make Agda safe by default, and use explicit flags (incompatible with `--safe`) to enable unsafe features.

[2021-02-04 12:13] asr commented on #4665
Thanks! We know that 2.6.1.2 fails with GHC 8.10.3. For this reason we shall release 2.6.1.3 (see #5136).

[2021-02-04 12:21] asr commented on #4665
What about if I need to use GHC 8.6.5? Replacing `lts-16.31` by `lts-14.27` didn't work:

[code]

Note that the missing dependencies are in the `stack-8.6.5.yaml` file.

[2021-02-04 12:26] jespercockx commented on #4908
But disabling all unsafe features by default wouldn't really serve the same purpose: as I understand the reason to use `--safe` is that it ensures *no unsafe features are enabled in this file or any of its imports*. While if we would (say) have a flag to enable postulates which is disabled by default, there is nothing that prevents one of the imports from enabling it. Or do you propose that all th

[2021-02-04 12:35] jespercockx commented on #4908
I think a reasonable compromise that does not break backwards compatibility (and is not too far from what we're already doing) would be the following policy:
- *Old* unsafe features such as `postulate`s, `{-# TERMINATING #-}`, `{-# NO_POSITIVITY_CHECK #-}`, `--sized-types` etc are *allowed by default* but get a flag for turning them off.
- *New* unsafe features should have flags for turning them o

[2021-02-04 12:56] L-TChen commented on #4665
Those dependencies are not part of the resolver `lts-14.27`.

[2021-02-04 13:07] mouse07410 commented on #5133
Appears fixed in the current master, thanks!

[2021-02-04 13:07] #5133 closed, assigned to andreasabel

[2021-02-04 13:09] asr commented on #4665
I know. So,  do I need first download 2.6.1.2 and use its `stack-xyz.yaml` file?

[2021-02-04 13:15] jespercockx commented on #4665
Yes, I think that's the only way that's guaranteed to work. The fact that the `lts-16.31` resolver works seems more like a coincidence than anything.

[2021-02-04 14:05] nad commented on #5133
Should this be included in the list of fixed bugs?

[2021-02-04 14:06] nad commented on #4908
Sounds good to me.

[2021-02-04 14:14] nad commented on #4783
Duplicate of #4959.

[2021-02-04 14:14] #4783 closed, assigned to nobody

[2021-02-04 14:22] asr commented on #5133
We don't include in that list the fixed bugs related to the test-suite.

[2021-02-04 14:44] nad commented on #5133
OK, good.

[2021-02-04 19:35] asr commented on #4955
GHC 9.0.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-February/019477.html).

[2021-02-04 21:18] allioux opened #5174 "Rewrite rules and eta-expansion of the Unit type"
When rewriting an expression `f p1 … pn` where one of the `pi`'s is of type `Unit` and contains a variable `x` occuring in the rhs, the rewrite fails. Indeed, this pattern is eta-expanded to the term `tt` and `x` becomes not bound by the lhs as `tt` has no parameter.

Here is an example:

[code]

Checking the previous program gives the following error:

[code]

[2021-02-04 21:46] jespercockx commented on #5174
Right, perhaps the pattern builder could be a bit less aggressive with eta-expansion. However, note that there's an easy workaround: you can simply define the rewrite rule `bar (bar tt) ↦ bar tt` and it will work, even for terms like `bar (bar x)`.

[2021-02-04 23:13] mouse07410 commented on #5169
@gallais  I'm not sure we can close this one yet - the test-run doesn't **stop** now, but it does not complete correctly either.

[code]
There's no more informative message in the captured screen output.

[2021-02-05 03:03] MatthewDaggitt commented on #3587
Something else to add here is that it would be great if Agda printed out warning messages generated while parsing the `.agda-lib` file if it comes across unrecognised fields. I just called a field "includes:" instead "include:" and spent 30 minutes banging my head why it wasn't picking anything up.

[2021-02-05 09:45] Saizan commented on #5174
I suppose it could also remember the expansions done and apply the same to the right hand side?
Though that might lead to larger terms.

[2021-02-05 09:45] gallais commented on #5169
Can you please link to the run in question?

Everything was green on my local build, on the PR & on my branch so I'm
not sure where I'm supposed to look for this error?

[2021-02-05 10:10] allioux commented on #5174
Unfortunately, my example is a simplification of a much more complex situation where the workaround wouldn't apply.

[2021-02-05 11:30] #4949 closed, assigned to Saizan

[2021-02-05 14:05] nad commented on #4955
I agree that we should aim to make Agda 2.6.2 build with GHC 9.0.1.

[2021-02-05 15:05] mouse07410 commented on #5169
Here's all I have.  The error is mentioned at the very end of the log, with no further explanation.
And the problem seems related to the `Makefile`.
[make-test-2021-02-04.txt](https://github.com/agda/agda/files/5933318/make-test-2021-02-04.txt)
[code]
Error report is for the line next to `std-lib-test :`. I'd say that it fails to execute the target `std-lib-test` at all, based on the log, because

[2021-02-05 15:11] gallais commented on #5169
Warnings for non-fatal errors such as MissingDefinitions cannot be
turned off. See --help=warning.
when scope checking the declaration
  import README.Data.List.Relation.Binary.Equality

Looks like you have not pulled the updated version of the stdlib before running the test suite.
Do you still get an error on the test suite after running

[code]

?

[2021-02-05 16:29] andreasabel commented on #5171
It does not seem specific to record-from-module, you get the same yellow if you assign the fields manually:
[code]

[2021-02-05 16:32] gallais commented on #5171
We have a lot of eta-expanded field assignments to avoid similar problems
in the stdlib. Implicits are eagerly introduced and then cannot be solved
because the solution may not be unique.

[2021-02-05 16:41] andreasabel commented on #5171
Here is the shrunk test:
[code]
This is a duplicate of the recent #5110 user question, see #1079 for the whole story.

[2021-02-05 16:41] #5171 closed, assigned to andreasabel

[2021-02-05 17:10] mouse07410 commented on #5169
[code]

Now running tests brings the following errors in `  LaTeXAndHTML`:
[code]

[code]

Overall:
[code]

[2021-02-05 18:40] HuStmpHrrr opened #5176 "`mutual` is deprecated in doc"
According to @UlfNorell , `mutual` is not deprecated, but the doc says otherwise: https://agda.readthedocs.io/en/v2.6.1.2/language/mutual-recursion.html

The text is quite organized so it doesn't seem a typo. Wondering what happened.

[2021-02-05 18:46] andreasabel commented on #5167
Maybe the greater harm is that `withCurrentFile` no longer lives in `TCM` but in the `ReplM`.

I suppose this issue is better fixed in https://github.com/UlfNorell/agda-bench, so I reported https://github.com/UlfNorell/agda-bench/issues/1.

I am removing the "regression on master" tag, since we'll not likely going back to the old API.

[2021-02-05 18:46] #5167 closed, assigned to andreasabel

[2021-02-05 20:55] augustss commented on #5136
Is there an ETA for 2.6.1.3?

[2021-02-05 21:00] asr commented on #5136
I'm planning to make the release this weekend.

[2021-02-06 04:46] asr commented on #4665
In 384cafd0cc18df8380b75c47d912e8085d25b5e1 I added instructions for installing Agda from Hackage using `stack` to the user manual.

[2021-02-06 04:46] #4665 closed, assigned to asr, EdNutting

[2021-02-06 05:29] asr commented on #5136
I fixed the problem in a37e79effa80271566a5759fe4542cca80db87f1.

[2021-02-06 05:59] asr commented on #5136
@andreasabel [wrote](https://github.com/agda/agda/issues/4749#issuecomment-717792275)

I had the same problem (not a big surprise), so I'll also test compilation on my machine.

[2021-02-06 11:48] jespercockx commented on #5176
It's deprecated in the sense that `mutual` is the "old" way of doing things, the "new" way of mutual definitions works without a keyword (by simply declaring things before they are used). However, there are no plans to remove the old "mutual" blocks (and sometimes they are actually more powerful than the new style), so to avoid confusion it'd be better to remove the word 'deprecated' from the manu

[2021-02-06 12:49] gallais commented on #5176
AFAICT the manual does not use the word deprecated. :smile:

[2021-02-06 13:14] ajrouvoet commented on #5176
If there is no intention to get rid of `mutual` blocks then the distinction of old vs new is not useful in documentation.

Although the word 'deprecated' is not used, it might has well been:

![image](https://user-images.githubusercontent.com/475738/107119096-997d5900-6885-11eb-880e-b281130b83dd.png)

[2021-02-06 15:55] HuStmpHrrr commented on #5176
yes, it seems I invented the word "deprecated", but indeed, the note gives me that impression. also I was told by someone else that we shouldn't  use `mutual` anymore because the doc asks to avoid it.

[2021-02-06 16:24] gallais commented on #5169
I don't think the remaining errors are related to the changes I made to fix #5029

[2021-02-06 17:06] asr commented on #5136
I'm testing the Hackage candidate with `stack` and different version of GHC on Linux right now.

For getting the Hackage candidate you can use
[code]

Could someone test the installation on macOS and Windows, please.

[2021-02-06 18:41] asr opened #5178 "Support GHC 8.10.4"
GHC 8.10.4 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-February/019490.html). I created this issue for collecting/reporting the required changes/issues.

[2021-02-06 18:48] asr commented on #5136
I'll continue with the release of 2.6.1.3 supporting GHC 8.10.3. I guess 2.6.1.3 also compiles with GHC 8.10.4 (untested).

[2021-02-07 05:44] mouse07410 commented on #5169
I don't know, and I'm not claiming they are. I'm simply reporting what's occurring on my machine. A bunch of LaTeX-related tests were failing, then they were passing but Issue3436 failed, and then Issue3436 became fine but LaTeX failures came back.

[2021-02-07 11:22] jespercockx commented on #5102
Closing this as duplicate.

[2021-02-07 11:22] #5102 closed, assigned to jespercockx

[2021-02-07 12:40] #4852 closed, assigned to jespercockx

[2021-02-07 12:40] #5045 closed, assigned to jespercockx

[2021-02-07 13:52] jespercockx commented on #3916
It's not clear to me what the actual issue is here; at least Agda's current behaviour makes sense to me. So I'm going to close this now, please feel free to reopen if you have a concrete suggestion of what criterion `--without-K` should use instead.

[2021-02-07 13:52] #3916 closed, assigned to nobody

[2021-02-07 13:53] #4951 closed, assigned to jespercockx

[2021-02-07 13:53] #4621 closed, assigned to jespercockx

[2021-02-07 14:33] gallais commented on #5169
I was just explaining why I was removing my assignment.
This is more of a #5133 than a #5029 problem AFAIU and I am a bit
too busy to look into that.

[2021-02-07 15:10] asr commented on #5136
2.6.1.3 builds with GHC 8.10.4 as expected.

[2021-02-07 16:00] asr commented on #5136
Done.

[2021-02-07 16:00] #5136 closed, assigned to asr

[2021-02-07 16:08] asr commented on #4672
@wenkokke, had you some problem adding 2.6.1.3 to Stackage?

[2021-02-07 16:48] jespercockx commented on #4594
@UlfNorell any chance the new fine-grained blocking will be exposed to the reflection API for the next release? I assume not, so I'll bump this to 2.6.3. Feel free to unbump if I'm wrong.

[2021-02-07 16:54] jespercockx commented on #4523
There is now the new reflection primitive `withReconstructed` which you can use to fill in the constructor parameters with actual terms instead of `unknown`s. So I'm assuming this problem is now fixed, let us know if there's still problems.

[2021-02-07 16:54] #4523 closed, assigned to nobody

[2021-02-07 17:09] jespercockx commented on #3798
I agree that the current reflection API is rather low-level and it would be nice to have something that's easier to use without understanding a lot of Agda's internals. However it's hard to see a concrete action here that we can take right now, so I'm closing this issue.

[2021-02-07 17:09] #3798 closed, assigned to nobody

[2021-02-07 17:13] jespercockx commented on #3486
This issue is now fixed since the auto-inlining features has been removed. I'll add a test case.

[2021-02-07 17:37] jespercockx commented on #4557
Since we already have the official Zulip now, it seems like a bad idea to also use Github discussions, so I'll close this issue.

[2021-02-07 17:37] #4557 closed, assigned to nobody

[2021-02-07 18:20] jespercockx commented on #3642
See also the discussion on #4908: we should split up `--safe` into a set of flags that can be enabled/disabled individually (and make `--safe` an alias for this set).

[2021-02-07 18:25] martinescardo commented on #4852
Thanks!

[2021-02-07 18:36] #4341 closed, assigned to jespercockx

[2021-02-07 18:36] #3486 closed, assigned to UlfNorell, jespercockx

[2021-02-07 19:03] jespercockx commented on #4208
Let's assume this is fixed, please reopen if necessary.

[2021-02-07 19:03] #4208 closed, assigned to nobody

[2021-02-07 19:07] #4366 closed, assigned to nobody

[2021-02-07 19:32] mouse07410 commented on #5178
I built Agda (whatever's current master right now) today with 8.10.4. It seemed to build fine, and passed most of the tests.

Strange failure with `std-lib-test`, which occurred with other GHC versions as well:
[code]

[2021-02-07 19:52] asr commented on #5178
Did you create the missing `stack-8.10.4.yaml` file? If so, please share it.

[2021-02-07 20:06] mouse07410 commented on #5178
Sorry, I rarely use Stack, and practically never - for Agda. I built it with Cabal-3.2.0.0.

### Update
But I suspect that `stack-8.10.4.yaml` should be the same as `stack-8.10.3.yaml`, given the small amount of changes, and no difference in capabilities.

[2021-02-07 22:54] asr commented on #5178
I couldn't create the `stack-8.10.4.yaml` file because https://github.com/commercialhaskell/stackage-content/issues/84.

[2021-02-07 23:07] asr commented on #5178
No. Right now the `stack-8.10.4.yaml` file must include all the dependencies because there is not LTS for GHC 8.10.4.

[2021-02-08 03:26] asr commented on #4955
@andreasabel, thank you for your feedback. I implemented your suggestion in 03e85253bbc2528a9f94b883ca3fef81aafc355b.

[2021-02-08 08:06] andreasabel commented on #5176
`mutual` is likely here to stay.  At least the new "mutual block sans keyword" isn't the perfect solution either, because it doesn't allow the user to declare where the mutual block should end.  Being able to outright limit the mutual block is both beneficial for documentation and stability (since inference algorithms can change).

So we should fix the docs, removing the note.

[2021-02-08 08:52] jespercockx commented on #4483
Since the bad behaviour in this example can no longer be reproduced, I'm closing this issue. (The broader issues with sizes remain open of course.)

[2021-02-08 08:52] #4483 closed, assigned to nobody

[2021-02-08 08:59] andreasabel commented on #5169
Looks like this issue is now a duplicate of #5133.  I am closing this, since #5133 is open.

[2021-02-08 08:59] #5169 closed, assigned to nobody

[2021-02-08 09:01] jespercockx commented on #3627
It seems this one is already fixed. I'll add a test case.

[2021-02-08 09:02] #3627 closed, assigned to nobody

[2021-02-08 09:05] andreasabel commented on #5029
Thanks for fixing @gallais !
I have a improvement request for the new error, see https://github.com/agda/agda/pull/5172#discussion_r571876965.

[2021-02-08 09:24] andreasabel commented on #5136
Great, big thanks, Andres!

[2021-02-08 09:26] Saizan commented on #2461
Fixed by a6b452765e3e856865094b35b2b51f6da7c75a2a

[2021-02-08 09:26] #2461 closed, assigned to Saizan

[2021-02-08 09:29] andreasabel commented on #4672
I filed https://github.com/commercialhaskell/stackage/pull/5865.

Since Wen didn't work on this, I effectively took it over in October.
@wenkokke, I unassign you now, as I have some routine with stackage now.  If you want to get back into business, no problem.

[2021-02-08 09:38] andreasabel commented on #5107
Seems like the problem is [now](https://github.com/agda/agda/pull/5180/checks?check_run_id=1853285915) that LaTeX package `bm` and style file `anyfontsize.sty` are not found.

[2021-02-08 10:06] andreasabel commented on #5107
I notice that CI uses the TeXLive distro of 2017, maybe Sphinx wants a newer version?

[2021-02-08 10:15] L-TChen commented on #5107
As far as I remember (I don't use Ubuntu), TeX packages are managed by Ubuntu's own package manager which does not seem to provide an `apt` package for each tex package on CTAN. I might be wrong anyway ...

[2021-02-08 10:59] UlfNorell commented on #4412
Can you clarify whether it's the pattern lambda or the extra definition that's causing the slow-down? What's the performance of
[code]
?

[2021-02-08 12:01] asr commented on #4672
When this issue be closed, I suggest to make an announce on the mailing lists.

[2021-02-08 12:51] asr opened #5184 "Workflow `stack`: Missing test on Windows and GHC 8.10.4"
The test is missing because https://github.com/actions/virtual-environments/issues/2645#issuecomment-774898628.

[2021-02-08 12:53] asr opened #5185 "Travis: Missing test with GHC 8.10.4"
The test is missing because there is not GHC 8.10.4 in Travis.

[2021-02-08 12:54] asr commented on #5178
TODO: #5184 and #5185.

[2021-02-08 13:35] #4354 closed, assigned to nobody

[2021-02-08 14:02] UlfNorell commented on #4684
I can check `Data.Vec.N-ary` with `--no-syntactic-equality` now, so it looks like this has been fixed.

[2021-02-08 14:02] #4684 closed, assigned to nobody

[2021-02-08 15:12] asr commented on #5107
I used TeX Live in Travis because LaTeX on Ubuntu was too old. It seems the problem is a missing repository when running `tlmgr`. I'll take a look.

[2021-02-08 16:00] gallais commented on #5178
The `test-size-solver` target fails with 8.10.4 with:

------------------------------------------------------------------------

stack install shelltestrunner

Error: While constructing the build plan, the following exceptions were encountered:

In the dependencies for shelltestrunner-1.9:
    Diff must match >=0.2.0, but the stack configuration has no specified version  (latest matching

[2021-02-08 16:01] asr commented on #5107
Fixed by the above commit (I don't know why the issue wasn't close automatically).

[2021-02-08 16:01] #5107 closed, assigned to asr, L-TChen

[2021-02-08 16:10] asr commented on #5178
Does the test work with other versions of GHC using `stack`?

[2021-02-08 16:28] gallais commented on #5178
I don't know, I don't have stack installed. It does work with cabal on my machine (ghc 8.6.5).

[2021-02-08 16:31] asr commented on #5178
From where did you get the error?

[2021-02-08 17:22] gallais commented on #5178
From the build run by github actions: https://github.com/agda/agda/runs/1855946284?check_suite_focus=true

[2021-02-08 17:27] msuperdock commented on #5145
I think the main issue here is that I'm calling `Cmd_refine_or_intro` with `NoRange` as an argument. This leads to a couple issues; not only are the interaction points out of order, but the new ranges that are given have line number 1, which is wrong.

The emacs mode is careful never to do this, which is why it is not affected.

I'd be OK with closing this issue as it stands, but I am still left w

[2021-02-08 17:27] #5145 closed, assigned to nobody

[2021-02-08 17:34] asr commented on #5178
I see. I didn't get that error due to previous errors with the standard library. Thanks.

[2021-02-08 18:05] #3398 closed, assigned to UlfNorell

[2021-02-08 20:14] asr opened #5189 "Workflow `test.yml`: Error on the size-solver test"
There is an error in the `size-solver` test because Agda uses `random 1.2` via `QuickCkeck >= 2.14.1` but the `shelltestrunner` program requires `random 1.1` via the `test-framework` library.

There is a PR merged in the `test-framework` library for accepting `random 1.2` but this PR hasn't been released (see https://github.com/haskell/test-framework/pull/53 and https://github.com/haskell-infra/ha

[2021-02-08 20:25] asr commented on #5178
The issue is not exclusive of GHC 8.10.4, so I filed #5189.

[2021-02-08 20:25] #5178 closed, assigned to asr

[2021-02-09 08:22] UlfNorell commented on #3562
Further shrunk test case below.

The difference is that in the working case we successfully push the target type of `index-lookup` inside, but in the failing case the presence of `on` stops us from doing this (see #1431 for some more information). Still, pushing types inside shouldn't change whether the constraints are solved in the end.

[code]

[2021-02-09 08:26] UlfNorell commented on #3596
Given that `--no-auto-inline` is the default in 2.6.2, this is less urgent so bumping the milestone. It still makes sense to change the behaviour of the flags as suggested though.

[2021-02-09 10:55] andy-morris opened #5191 "Unifier can use erased variables in non-erased data parameters"
In the following code, I would expect there to be an unsolved meta for `x` in `0-to-ω`'s rhs, but it is accepted in 2.6.1.2 and in current `master`.

[code]

If I remember correctly, constructors don't actually contain the datatype's parameters, which I suppose is probably why this happens? (Changing the `x` parameters to indices results in the unsolved meta in `0-to-ω` that I was expecting.) But

[2021-02-09 12:58] UlfNorell commented on #2101
Note that the decision in #418 to make private, abstract type signatures not see through abstract makes this (deliberately) no longer work.

[2021-02-09 13:19] UlfNorell commented on #3926
Fixed by #5180

[2021-02-09 13:19] #3926 closed, assigned to andreasabel

[2021-02-09 13:31] UlfNorell commented on #4260
I don't see any harm in the current "hack", and it certainly doesn't seem worth the effort to change it. If someone feels strongly about this please open a new issue with a cost/benefit analysis.

[2021-02-09 13:31] #4260 closed, assigned to nobody

[2021-02-09 13:33] UlfNorell commented on #4252
Fix to #3000 also fixed this.

[2021-02-09 13:33] #4252 closed, assigned to nobody

[2021-02-09 14:00] #4161 closed, assigned to UlfNorell

[2021-02-09 14:47] #4182 closed, assigned to nobody

[2021-02-09 14:52] UlfNorell commented on #4117
The reason `namedTest` failed was automatic inlining. Adding a `{-# NOINLINE named #-}` would have solved that. Now automatic inlining is turned off by default, so this succeeds. `unnamedTest` fails since we don't have typed lambda in the reflected syntax. I don't think it's worth adding it since it would complicate code manipulating reflected syntax, and you can work around it using named functio

[2021-02-09 14:52] #4117 closed, assigned to nobody

[2021-02-09 15:08] nad commented on #5191
I agree. If we decide to make the parameters erased in the types of constructors (#4786), then this problem would presumably go away.

[2021-02-09 15:55] UlfNorell commented on #4057
The core issue (which is discussed at length in #892) here is the difference between module application and `open public`. This is further obscured by the sugar that lets you do both at the same time. To reiterate:
- `open M public`: name juggling that let's you access the *names* from `M` as if they were defined in the enclosing module
- `module M tel = M' es`: create new module `M` containing wr

[2021-02-09 19:40] #5029 closed, assigned to gallais

[2021-02-09 19:48] andreasabel commented on #4672
Hooray, Agda is in stackage nightly! https://www.stackage.org/nightly-2021-02-09/package/Agda-2.6.1.3

I'll file an issue to get Agda into LTS, too.

[2021-02-09 20:10] andreasabel commented on #5134
To answer my own question: yes!  (And that makes a lot of sense.)

[2021-02-09 20:46] andreasabel commented on #4672
Filed: https://github.com/commercialhaskell/lts-haskell/issues/312

[2021-02-09 21:01] andreasabel commented on #4704
I got stuck on this...

[2021-02-09 23:08] andreasabel commented on #4260
Undoing that since the issue was closed without any further action after 2.6.1.

[2021-02-09 23:13] andreasabel commented on #4100
This problem could solve itself soon... we are already at GHC 9.0.

[2021-02-10 09:26] jespercockx opened #5196 "Confluence checker reports ill-typed critical pair with --cumulativity"
Non-minimal example:
[code]
The error message is:
[code]
The term `cast (ℓ ⊔ ℓ₁) ((a : A) → Set ℓ₂) ((a' : A') → Set ℓ₂) e (λ a → f a)` is ill-typed, since `ℓ₂` does not even occur in the first argument of `cast`.

[2021-02-10 10:16] #5176 closed, assigned to andreasabel

[2021-02-10 10:42] andreasabel commented on #4250
Truly in the spirit of Agda.  A program isn't something that runs, it is something that type-checks! :-D

[2021-02-10 11:04] gallais commented on #4250
On the other hand, users that do want to do some IO (e.g. people
who do "advent of code"-like challenges for fun) and are looking
into expanding their horizons by dipping their toes in a dependently
typed programming language may be put off by Agda's lack of basic
IO examples.

[2021-02-10 11:05] andreasabel commented on #4280
Seems like absurd matches are not eta-expanded enough:
[code]
is translated into
[code]
Debug output `js.compile:30`:
[code]

[2021-02-10 11:59] MatthewDaggitt commented on #4250
who do "advent of code"-like challenges for fun) and are looking
into expanding their horizons by dipping their toes in a dependently
typed programming language may be put off by Agda's lack of basic
IO examples.

Agreed. As far as I understood, @jespercockx wasn't advocating for replacing the current IO example, only inserting the non-IO example in front of it.

[2021-02-10 12:04] asr commented on #5154
I think there shouldn't be closed issues assigned  to `icebox` milestone. I'll reassign them to `2.6.2`.

[2021-02-10 13:23] Saizan commented on #3722
The `--two-level` problems are lessened now that we do not compare sorts.

[2021-02-10 13:32] UlfNorell commented on #4166
So the actual desugaring is
[code]
and the problem is that instance search thinks that the contents of `Fresh` is in scope.

[2021-02-10 13:33] #4166 closed, assigned to UlfNorell

[2021-02-10 13:54] #3744 closed, assigned to UlfNorell

[2021-02-10 14:01] jespercockx commented on #3738
Why don't we just determine whether to generate the constraints based on whether `--sized-types` is enabled or not? It seems like a bad idea to generate constraints based on whether some builtin is bound or not.

Separately, the fact that you get constraints from sized types which you wouldn't get without, is perhaps an argument to not have `--sized-types` enabled by default (but that's a differen

[2021-02-10 14:08] jespercockx commented on #4407
Closing as a duplicate of #3801

[2021-02-10 14:08] #4407 closed, assigned to nobody

[2021-02-10 14:28] jespercockx commented on #4908
We have to add the following flags:
- `--no-compile-pragmas`: turn off COMPILE pragmas (in the scope checker)
- `--safe-termination-check`: don't allow turning off termination (in the scope checker)
- `--safe-positivity-check`: don't allow turning off positivity checking (in the scope checker)
- `--no-postulates`: disallow postulates (in the scope checker & reflection API)
- `--no-erased-equality-

[2021-02-10 14:55] UlfNorell commented on #4108
Nothing really actionable here.

[2021-02-10 14:55] #4108 closed, assigned to nobody

[2021-02-10 15:07] jespercockx commented on #3734
I don't see why this requires typed pattern synonyms to fix; can't we just throw the warning during typechecking/disambiguation?

[2021-02-10 15:12] jespercockx commented on #3921
As this couldn't be reproduced, I'm closing this now.

[2021-02-10 15:12] #3921 closed, assigned to nobody

[2021-02-10 15:52] #5033 closed, assigned to Saizan

[2021-02-10 16:10] jespercockx commented on #4071
Minimal example:
[code]

[2021-02-10 16:37] andreasabel commented on #4280
The treeless compiler doesn't take any typing into account so all it sees is `⊥-elim = Fail` and it has no information about the usage of arguments (as the arity is 0) so it thinks that all arguments are used.

Instead of patching around in the backend we should fix the "middle-end", the treeless compiler, to at least transport a reliable notion of arity for each defined function (better would be

[2021-02-10 18:36] UlfNorell commented on #4280
I don't see why we would need to carry this information through treeless. The backend has access to the signature and can look up the complete type of `⊥-elim` if it so chooses.

[2021-02-10 20:34] #3734 closed, assigned to andreasabel

[2021-02-10 20:34] #3289 closed, assigned to andreasabel, jespercockx

[2021-02-11 10:46] jespercockx commented on #4339
It's not clear what we can do to improve on the current situation, so I'm closing this issue for now. Concrete proposals to enhance instance search are definitely still welcome.

[2021-02-11 10:55] jespercockx commented on #4345
Now `--no-sort-comparison` is turned on by default, but apparently something else changed because the OP still results in unsolved constraints. I'm not sure what's going on here.

[2021-02-11 11:02] jespercockx commented on #4525
@andreasabel Any plans to work on this before the release?

[2021-02-11 11:10] gallais commented on #4339
so I'm closing this issue for now. Concrete proposals to enhance
  instance search are definitely still welcome.

In Idris2 we have qualified `do`s: `M.do` means that the `do` block
should be desugared using `M.(>>=)` and `M.>>`.

Another popular solution is to have `using` as a way to restrict the
candidates for resolution: by writing `using [namespace] t`, the
expression `t` will preferentially

[2021-02-11 17:51] nad opened #5198 "Regression related to fix of #4166"
The following code is accepted by Agda 2.6.1, but not by a recent development version:
* `M.agda`:
[code]
* `Bug.agda`:
[code]

There is an unsolved meta-variable on the last line, seemingly related to the module parameter of type `Set`. If `open import M Set` is replaced by the following lines, then the code is accepted:
[code]

Bisection points towards a4ca70b22ccb5279a70e2b946d108009c698521e ("

[2021-02-12 09:59] andreasabel commented on #4280
As this can be done in the middle-end once, I don't think it should be burdened upon each backend.

See the [golden rule of software quality](https://www.haskellforall.com/2020/07/the-golden-rule-of-software-quality.html):

The middle-end is upstream here, the backends are downstream.  They should get better material to work with from the treeless compiler.

In particular, the _argument usage_ inf

[2021-02-12 10:03] andreasabel commented on #4697
Is this issue still observable?  (ping @nad)

[2021-02-12 10:35] nad opened #5200 "Error when building GenerateEverything"
I get a build error when running `make std-lib-test`:
[code]
A simple fix is to just run `GenerateEverything` (using `cabal run`) instead of first installing it.

[2021-02-12 10:36] nad commented on #4697
I don't recall seeing this recently.

[2021-02-12 10:36] #4697 closed, assigned to andreasabel

[2021-02-12 11:24] nad opened #5201 "(x : A) × B"
I would like to be able to use the following notation for Σ-types:
[code]
This mirrors the notation that we have for Π-types.

We can get part of the way using syntax declarations:
[code]
I'm about to push a change that makes syntax declarations a little more general, and then we can get a little closer:
[code]
However, this notation does not allow you to write `[ f ∶ A → A ] × f ≡ g`. I don't wan

[2021-02-12 11:57] ajrouvoet commented on #5201
We discussed this a while back on Zulip [here](https://agda.zulipchat.com/#narrow/stream/259645-developers/topic/Binders.20in.20syntax).

My impression was that this had also been attempted prior as per the documentation [here](https://wiki.portal.chalmers.se/agda/pmwiki.php?n=MixFixBinders.MixFixBinders).

Personally I have wanted this for dependent implication for unary predicates `(p : P) ⇒ Q`,

[2021-02-12 12:09] ajrouvoet commented on #5201
I should perhaps also mention that I've been collecting issues and feature requests around user-defined syntax/patterns in [a project](https://github.com/agda/agda/projects/9) to gain some insight into what has been previously discussed.

[2021-02-12 12:30] UlfNorell commented on #5198
The problem is not with the fix to #4166. The difference before and after the fix is that after the fix checking the record expression is not postponed, since there is only one possible choice for the record type. Before the fix there were two choices: the `R` in scope and the unapplied `M.R`, which caused the type checking to be postponed. For some reason that doesn't give you any unsolved metas.

[2021-02-12 12:33] asr commented on #5200
You should use a cabal v1-command defined in `mk/cabal.mk`.

[2021-02-12 12:44] ajrouvoet opened #5202 "Backward generation of binary releases"
@L-TChen  pointed out that the nightly release comes with binaries for multiple platforms. In teaching Agda I've seen many students struggle to get Agda on Windows. A zip with executables would save them many hours and frustration to get started (with PLFA).

Is it possible to still release in backwards fashion the binaries for the different platforms for e.g. 2.6.1.1?

[2021-02-12 13:03] andreasabel commented on #3289
I patched this so that `checkApplication` will see `p {{ r }}`, retrieving the correct `ArgInfo` from the definition of `p`.

[2021-02-12 15:57] andreasabel commented on #5201
Sounds good.

[2021-02-12 16:20] gallais commented on #5201
Sounds good but I'm not sure it's doable: `syntax` operates on `Expr` and we
know that trying to add `(_ : _)` to let users write arbitrary type annotations
in the middle of their `Expr` yields very many conflicts in the grammar.

[2021-02-13 07:41] andreasabel commented on #4329
This problem (just above, https://github.com/agda/agda/issues/4329#issuecomment-589281828) still exists as of today (13 Feb 2021).  However, highlighting only shows up for me with current master, not with 2.6.1 or before.  (Weird, since 2.6.1 was released after this issue report...)

[2021-02-13 07:43] andreasabel opened #5204 "Investigate highlighting failures"
I experienced yesterday that jump-to-definition doesn't work in the same file even if type-checking succeeded.  This should be looked at before the release.
TODO: MWE.

[2021-02-13 11:13] #5198 closed, assigned to UlfNorell

[2021-02-13 14:56] asr commented on #5185
GHC 8.10.4 continues been missing from Travis. I filed https://github.com/haskell-CI/haskell-ci/issues/474.

[2021-02-13 15:05] andreasabel opened #5205 "acmart examples in (user-manual) fail to build with latest TeXLive"
Salvaged from https://github.com/agda/agda/issues/5133#issuecomment-761916315:

I am getting errors when pdflatexing/xelatexing the acmart-* examples in `test/LaTeXAndHTML/user-manual`.  I have this version of acmart.cls:
[code]
Error looks like:
[code]

[2021-02-13 15:09] andreasabel opened #5206 "Revisit excluded LuaLaTeX tests"
See https://github.com/agda/agda/issues/5133#issuecomment-770194946.

[2021-02-13 15:12] andreasabel commented on #5133
If this issue is declared as _fixed_, the answers to the questions raised here should be documented.
Don't just close an issue without pointing to what fixed it.

I spawn two issues for the unanswered questions: ~~#5025 and #5026.~~ #5205 and #5206.

[2021-02-13 15:18] andreasabel opened #5207 "Agda generated code does not type-check with GHC 9.0"
The Haskell code produced by the GHC backend doesn't pass the more restrictive type checker of GHC 9.0.
I suspect this is due to https://gitlab.haskell.org/ghc/ghc/-/wikis/migration/9.0#simplified-subsumption.

[code]

[2021-02-13 18:03] nad commented on #5200
Why? The command `cabal v2-run GenerateEverything` seems to work.

[2021-02-13 18:43] asr commented on #5200
We use only v1-commands in the `Makefile`. The mix of both kind of commands is not a good idea because them behave differently.

[2021-02-13 19:57] nad commented on #5200
This command is run in `std-lib`, and `std-lib/GNUmakefile` uses commands like `cabal install`.

Perhaps it would make sense to simplify `std-lib/GNUmakefile`, which [currently uses](https://github.com/agda/agda-stdlib/blob/df978c6ad7b9f58dc0c0688280770b40525f7be3/GNUmakefile#L26-L27) `cabal clean`, `cabal build`, `cabal install` and `cabal exec` instead of `cabal run`.

[2021-02-13 20:26] nad commented on #5201
In the linked discussion @UlfNorell pointed out that `(x : A) → B` is ambiguous if you allow this kind of type annotation: it could be parsed as a Π-type, or as the type of functions from `x` (of type `A`) to `B`. However, I don't think the proposed change would allow you to define this kind of type annotation, and even if you could you don't have to.

Perhaps one can implement this feature by mov

[2021-02-13 23:03] asr commented on #5200
Sure, be my guest. Remember test your simplification with different versions of `cabal-install` and when switching between GHC versions. The current commands work in both cases.

[2021-02-14 00:05] asr commented on #5207
Since there are issues blocking the compilation with GHC 9.0.1 (see #4955), for working in this use you could use the following command:

[code]

[2021-02-14 00:30] asr commented on #5205
Note that the error is not in our side. For example, the file

[code]

generates the same error using the same version of `acmart.cls`.

[2021-02-14 12:06] uncle-betty commented on #5155
I think that I might have found a way to reproduce this on 64-bit Ubuntu 18.04 with GHC 8.10.4 and Agda cba188d:

* We'll toy around with two modules: top-level `Higher` and one of `Higher`'s direct imports, `Traditional`.
* Type-check `Higher.agda` with a generous heap limit, so that it completes. I'm using a limit of 6.0G.
* Remove `Traditional.agdai` and type-check `Higher.agda` again, now with

[2021-02-14 12:51] #5205 closed, assigned to asr

[2021-02-14 16:47] uncle-betty commented on #5155
I didn't see anything leaking out of `createInterfaceIsolated`, so I went on to look for unevaluated thunks that might be piling up.

And, actually, it seems like my out-of-memory situation is fixed by making the `stDecodedModules` field of the persistent state record (`PersistentTCState`) strict (i.e., change its type to `!DecodedModules`). Here's what led me to trying this:

* When provoking an

[2021-02-14 16:53] jespercockx commented on #4704
I can't reproduce this issue on current master: if I split on `p` in the example from the OP, I get
[code]
as expected. If I first expand the ellipsis and then do the case split, the result is likewise correct. So it seems there is nothing left to do but to add a test case.

[2021-02-14 16:57] jespercockx commented on #4704
Ah never mind, I had the new flag `--keep-pattern-variables` enabled in my Emacs configuration. If I remove it, I can reproduce the problem. I'll investigate further.

[2021-02-14 18:46] jespercockx commented on #4704
I have found a fix for the problem by using `bindVarsToBind`( PR incoming). With this fix, the following code is accepted:
[code]
However, I still have a question: should the following also be accepted or not?
[code]
In other words, should it be possible to shadow variables that come from the same clause if they were bound "before the with"?

[2021-02-14 20:52] uncle-betty commented on #5155
Actually, after poking around in the code a little more, I am more confident that `stDecodedModules` can be made strict without any adverse effects.

During a type-check, one import's `setDecodedModules` / `storeDecodedModule` is followed pretty much right away by the next import's `getDecodedModule`, which forces `stDecodedModules`. So, de facto, the field is pretty strict already.

The exception

[2021-02-14 20:56] JacquesCarette commented on #4704
I'm not so keen on such shadowing - it leads to hard to debug code, especially when both variables are of the same type and the line of code in question is much longer.  [I must admit I'm not that keen on the shadowing in the accepted code either...]

Having said that, I'm keenest on consistency. So if Agda has a particular set of (simple) shadowing rules, they should be followed consistently, eve

[2021-02-14 21:07] jespercockx commented on #4704
I agree. As I understand the rule we use is that variables from the same clause cannot be shadowed, but other variables (e.g. module parameters) can be. If that's the rule then my second example shouldn't be accepted. That's more difficult to implement, but I think its worth it to preserve consistency, as you say.

[2021-02-15 07:50] ice1000 opened #5210 "Internal error when splitting on a proposition"
[code]

Splitting this variable triggers `__IMPOSSIBLE__`. Using the nightly build on GitHub release.

EDIT: added necessary imports and pragmas.

[2021-02-15 07:50] ice1000 commented on #5210
![image](https://user-images.githubusercontent.com/16398479/107918922-81a08600-6fa5-11eb-9e33-fcf6f7b4b643.png)

[2021-02-15 08:01] ice1000 commented on #5210
Is this already fixed? Since the nightly release was created 12 days ago.

[2021-02-15 08:04] UlfNorell commented on #5210
Impossible is here: https://github.com/agda/agda/blob/be0040f10498aab7f71fe7ecafbc272bc0024c7f/src/full/Agda/TypeChecking/Coverage.hs#L1452-L1453

The coverage checker cannot handle the sort of the target type being unknown when splitting on a proposition. The sort matters because matching on propositions are fine as long as the result is also a proposition.

[2021-02-15 08:08] UlfNorell commented on #5210
Not as far as I can see. Why do you think that it might be fixed?

[2021-02-15 08:09] ice1000 commented on #5210
Yes, so we could probably raise an error similar to 'I don't know if I can do this because I want the goal type to live in Prop'

[2021-02-15 08:09] ice1000 commented on #5210
It's a situation similar to 'I don't know if there should be the case Bla, because I got stuck on the following unification problem'

[2021-02-15 08:10] jespercockx commented on #5210
Err, isn't this check completely superfluous? The same check is done later by `checkSortOfSplitVar`, only this time there is a proper error message in case the sort of the target is blocked. So I'd be tempted to just remove those two lines.

[2021-02-15 11:02] UlfNorell commented on #5207
Here's a small test case:
[code]
We generate the type
[code]
for `return`. When we try to coerce `return`, ghc is unhappy about instantiating the type variable of `coe` with the polytype `Level -> forall xA. ...`. I suspect the right move is to pull the `forall`s to the top.

[2021-02-15 12:04] andreasabel commented on #4704
I think it makes sense that variables not visible to the eye can be shadowed, like those only existing internally from the expansion of an ellipsis.  Actually, not allowing these to be shadowed would be irritating.

For the second example, I think we shouldn't allow shading within one clause, even if there are separate (`with`) compartments.

[2021-02-15 12:04] uncle-betty commented on #5155
Just to obsess a little more about potential performance implications, I looked at build times for the standard library, with and without the proposed fix, two runs each:

* Without - 10:55 min, 11:13 min
* With - 11:03 min, 10:54 min

Identical within the margin of error, I'd say.

Alright, I think that it's safe to assume that the horse has passed away by now. :)

[2021-02-15 13:17] UlfNorell commented on #4573
This optimization was added in fea67f5b45 (in 2011). Currently it's doing two completely separate runs of the occurs check, so it's possible some performance might be gained by a more fine-grained approach. Something like rechecking with reductions from the top-most non-rigid term containing the offending variables.

[2021-02-15 14:03] UlfNorell commented on #4071
Purely an error-reporting issue. When an instance goal is a function type with some number of implicit/instance arguments we add those to the context for the candidates (if they are instance arguments they can be candidates themselves). See #2577. We didn't extend the context in the same way when printing unsolved instance goals, hence the deBruijn failure.

Fix incoming.

[2021-02-15 14:06] jespercockx commented on #4704
Yes, I now see the second example shouldn't be accepted. I have pushed my proposed fix to https://github.com/jespercockx/agda/tree/issue4704, this accepts the first example and rejects the second one. It is *almost* working, but there is still a bad interaction with `rewrite` which causes the stdlib test to fail. I'll try to find what's the cause.

[2021-02-15 14:17] JacquesCarette commented on #4704
I use `...` more as "don't repeat information that's obvious" so, to me, those variables are there. My eyes don't work on a line-by-line basis! So I disagree. [More as a point of information from how some users do things, rather than really as a system-building recommendation.]

[2021-02-15 18:49] ayberkt commented on #4573
I still experience this problem quite often by the way. It's usually hard to determine what needs to marked as `abstract` to circumvent it. Would anyone have any suggestions for that?

[2021-02-15 22:18] #4704 closed, assigned to andreasabel, jespercockx

[2021-02-16 07:37] UlfNorell commented on #4131
Further simplified:
[code]

[2021-02-16 08:29] UlfNorell commented on #4131
This was introduced by my fix of #655. That changed let definitions to be checked as aliases. The problem is that this applies also when there is a type signature. In this case you do want implicit argument insertion to kick in.

[2021-02-16 08:58] #5207 closed, assigned to UlfNorell

[2021-02-16 08:59] #4071 closed, assigned to UlfNorell

[2021-02-16 10:42] #4131 closed, assigned to UlfNorell

[2021-02-16 11:00] UlfNorell commented on #4291
Both names should be `x.A.1`. PR above fixes this and clarifies the naming scheme in the user manual.

[2021-02-16 12:25] andreasabel commented on #5201
Very much appreciated if the parser had a concept of _parentheses_ going beyond `(...)` and `{...}`.

[2021-02-16 12:27] andreasabel commented on #5205
Thanks for fixing!

[2021-02-16 12:51] #5184 closed, assigned to asr

[2021-02-16 13:28] UlfNorell commented on #4150
Most likely due to fix of #2576 where you wanted a "duplicate definition" error instead of missing type signature. This would be the dual case where you prefer the error from the nicifier.

[2021-02-16 13:57] sattlerc commented on #5201
Since the topic has moved in this direction: I've always wanted to be able to declare operators that required parentheses around them. For example, for pairs: (a, b).

[2021-02-16 18:51] #4160 closed, assigned to UlfNorell

[2021-02-16 21:20] jespercockx commented on #5042
This will be fixed by https://github.com/agda/agda/pull/5007/commits/5501950d439d948b95a05c4098f9d56a0aa30177 (which is part of PR https://github.com/agda/agda/pull/5007)

[2021-02-17 03:08] #5189 closed, assigned to asr

[2021-02-17 08:20] andreasabel commented on #4571
I am observing warnings like this (in all kinds of projects) after I upgraded stack from 2.5.1 to 2.5.1.1:
[code]
The upstream issue is here: https://github.com/commercialhaskell/stack/issues/5134

[2021-02-17 08:51] UlfNorell commented on #4345
I suspect what changed is 268f5a9e28. This changes the sort comparison when instantiating metas to only trigger when comparing things `AsTypes`, but the constraint solving `Y' = Y` is a term constraint.

**Edit**: Looking again at the code, I'm not sure this is correct.

[2021-02-17 08:55] #4291 closed, assigned to UlfNorell

[2021-02-17 09:51] UlfNorell commented on #4345
To summarize where we are:

We sometimes consider constraints that are not well-typed (this leads to problems such as #3027). Note, however that the constraints *are* well-typed modulo existing constraints. In this case the ill-typed constraint `Y' == Y : Set (i ⊔ j ⊔ k)` is well-typed under the assumption that `i == i ⊔ j ⊔ k` and `j ⊔ k == i ⊔ j ⊔ k`.

Defining `Y' = Y` amounts to the constraint

[2021-02-17 10:15] #4251 closed, assigned to nobody

[2021-02-17 10:16] UlfNorell commented on #4251
Closed this as duplicate of #1984

[2021-02-17 12:44] UlfNorell commented on #4350
This seems like the likely culprit:
https://github.com/agda/agda/blob/f9a922c5fdacc201ef186402f7d6b25dbc46b63b/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1119-L1126
Introduced by @andreasabel in f739b3d when fixing #1299.

[2021-02-17 13:00] UlfNorell commented on #4599
I suppose that the nice thing to do here would be to mimic the record pattern in the lhs, so you would get out of scope `x` and `y` instead of the generated `patternInTele0`.

[2021-02-17 13:04] #4400 closed, assigned to UlfNorell

[2021-02-17 13:09] UlfNorell commented on #4599
The problem is that we don't have a representation of telescope patterns in internal syntax, as you can see if you ask for the type of `test`:
[code]
This means that when we get to implicit argument insertion in the lhs there is no trace of `x` and `y`.

[2021-02-17 13:10] UlfNorell commented on #5155
Is there a PR incoming for this?

[2021-02-17 13:25] UlfNorell commented on #4725
Note that `--no-forcing` doesn't make a difference for the OP.

[2021-02-17 13:44] jespercockx commented on #4725
Perhaps this could be fixed by relaxing @Saizan 's fix of #4606 to still allow the termination checker to look into dot patterns if they are variables or record constructors.

[2021-02-17 14:10] uncle-betty commented on #5155
Yes, absolutely. Let's just wait for @nad to say whether his observed symptoms match what I reproduced. If they don't then there must be another issue and I'll keep digging.

[2021-02-17 14:16] gallais commented on #4009
I do believe this is fixed now.

[2021-02-17 14:16] #4009 closed, assigned to gallais

[2021-02-17 15:01] gallais commented on #4420
Note that relevance is now supported in `with`: #5179
Someone wanting to support other modalities could use that commit
as an example of the type of work needed. The hardest part is probably
to parse the thing.

[2021-02-17 15:04] #4280 closed, assigned to UlfNorell

[2021-02-17 18:51] #5210 closed, assigned to jespercockx

[2021-02-17 23:00] gallais commented on #3619
I just hit this one on the CI for agda-stdlib. I'd argue it's still not very
satisfactory to launch a compilation using `agda -c` only to have it fail like
this.

[2021-02-18 06:09] UlfNorell commented on #3619
Yes, #4627 is still open.

[2021-02-18 06:13] ice1000 commented on #5210
Sometimes I create issue about some known thing.... I was using a 12 days ago Agda so I think it's possible that it's fixed :thinking:

[2021-02-18 08:46] jespercockx commented on #3553
@L-TChen Do you have any plans to work on this in the next month or so? We're working towards a release of 2.6.2.

[2021-02-18 08:48] jespercockx commented on #4171
This would be a nice feature to have but will require some testing if we decide to add it, so it won't be in 2.6.2. I'm moving this to the icebox for now, @xekoukou please reassign it to a concrete milestone once you have concrete plans to work on it.

[2021-02-18 08:51] jespercockx commented on #4198
@xekoukou I'm moving this to the icebox for now, please change the milestone again if you (or someone else) plan to work on it.

[2021-02-18 09:17] L-TChen commented on #3553
Oops, no. I don't think I have time to work on before the release of 2.6.2.

[2021-02-18 10:15] jespercockx commented on #3553
Ok, no worries. I'll see if I have time to work on it myself, otherwise I'll bump.

[2021-02-18 18:18] nad commented on #858
The syntax chosen for this feature only works for a single modality. Wouldn't it be better to use something like the `@` notation, which easily generalises to other modalities?

[2021-02-18 18:33] nad commented on #5155
Yes.

I think it would make sense to make many record fields (and other things) strict.

[2021-02-18 18:58] gallais commented on #858
My opinion is that we should accept the same syntax we do in telescopes.
So both `.(...)` and `(@irrelevant ...)`.

[2021-02-18 20:29] #5134 closed, assigned to andreasabel

[2021-02-19 07:34] uncle-betty commented on #5155
Thanks, @nad, for confirming. I'm preparing a pull request.

Just record fields? I think it would make sense to make the whole language strict! :-)

Kidding aside, I feel like I don't know enough about Agda internals to make an educated decision on which record fields to make strict. So, I'll just fix the issue at hand for now.

[2021-02-19 08:40] jespercockx commented on #5155
I experimented with making some other fields strict on https://github.com/jespercockx/agda/tree/issue4521-more-strictness. While it didn't seem to make a difference for the issue I was trying to fix, I think it would generally be a good idea to make all fields of the global TCM state strict, and to use strict data structures for their types (otherwise adding the strictness doesn't do much).

[2021-02-19 10:22] nad commented on #5155
If it does not seem to affect performance, then it might be a good idea to keep these changes, to reduce the risk of problems like the one discussed in this ticket.

[2021-02-19 10:40] jespercockx commented on #5155
What I meant was that it did not get rid of the memory leak; I did not do any other kind of benchmarks so I'm unsure how it impacts overall performance.

[2021-02-19 10:47] nad opened #5225 "Inefficient code in Setup.hs"
We type-check the builtin modules one by one, using `--ignore-all-interfaces`:

  https://github.com/agda/agda/blob/e564b701e81037875907b172ff4db19fec2f658a/Setup.hs#L110-L114

This means that some modules are type-checked repeatedly. Related: #4151.

[2021-02-19 11:10] gallais commented on #5225
I think this is related to #3950: we want to forcefully retypecheck
the files no matter whether there is an existing `.agdai` hence the
option but cannot call `agda` on all of the files at once.

An alternative would be to first `rm` the existing `.agdai` files
but I'm always a bit uneasy about writing code that automatically
deletes files...

[2021-02-19 11:30] UlfNorell commented on #5225
How much time are we talking about here? How long does it take to type check things with the current setup and how long would it take to check a `Agda.Builtin.Everything` with `--ignore-all-interfaces`?

[2021-02-19 12:25] uncle-betty commented on #5155
Just to add to @jespercockx's "otherwise the strictness doesn't do much": I *am* indeed a little surprised about just how effective my fix is, i.e., about just how much of a difference it makes to just make the field strict, without actually using a map that's strict in its values.

This is why:

* Suppose that the `stDecodedModules` field contains a map `m`.
* Suppose that the field is lazily set

[2021-02-19 12:40] nad commented on #5225
I tested this now on my machine: About 13 s with the current setup, and less than 3 s with two "Everything" files (one for the Cubical Agda modules plus `Agda.Builtin.Sigma`, and one with the rest).

[2021-02-19 12:55] nad commented on #5155
I guess you assume that `m'` is constructed using `m`.

Perhaps the thunk contains pointers to other things as well (like lots of irrelevant data related to the recently type-checked module).

[2021-02-19 13:58] UlfNorell commented on #5225
Thanks! That does indeed seem like enough of a gain to make it worth spending some effort here.

[2021-02-20 03:36] L-TChen commented on #5202
I don't think there will be any technical problems with this. As I mentioned on Zulip, one needs to check if conditions listed in the license of every package Agda uses are met before releasing an official binary. Perhaps this is not an issue, but I hope someone can clarify this.

As for Windows, I don't know how to build a `.msi` but just ordinary executable files. Will it be enough?

[2021-02-20 06:39] solomon-b commented on #4837
I'm getting the following error on nixos:
[code]

[2021-02-20 08:35] uncle-betty commented on #5155
Oh, right. Yes. I guess it's not safe to assume that we're only keeping `m` around, i.e., to assume that the projection has already been evaluated. Maybe, instead, we're keeping the state around, of which `m` is a part.

Great! Now I feel good about the fix. A part of me was still a little worried that it just masked the actual root cause. Thanks!

[2021-02-20 09:28] nad commented on #5202
The cabal-plan tool can help with that, but this tool only handles Cabal packages (and the rts package seems to be excluded from the generated listing). I'm not sure exactly which other libraries Agda depends on, but the list includes [zlib](https://zlib.net/) and [ICU](http://site.icu-project.org/).

[2021-02-20 11:13] asr commented on #4837
Which Agda version are you using?

[2021-02-20 18:51] gallais commented on #4627
I got [a massive hack of a shell script](https://github.com/gallais/agda-stdlib/pull/1/commits/811113456b69b17242cf47e9e08b2362f5628754) to generate a cabal file to compile all of the stdlib's
modules but that will be a perfect starting point for a template to use internally.

NB: I am not planning to support stack as I don't know anything about it.

[2021-02-20 20:38] asr commented on #4770
Since GHC 8.0.2 won't be added to https://launchpad.net/~hvr/+archive/ubuntu/ghc and we are moving out from Travis, I'm closing this issue.

[2021-02-20 20:38] #4770 closed, assigned to asr

[2021-02-20 20:43] #3329 closed, assigned to nad

[2021-02-20 21:46] jespercockx commented on #4556
I've done some further editing on the tutorial written by @pnlph and pushed the changes to https://github.com/agda/agda/pull/5223. The tutorial is now a separate section titled "A Tour of Agda" and the "Hello World" page has been restored for it's original purpose: testing if Agda has been set up correctly (now with two separate use cases). I would appreciate it if someone else could take a look a

[2021-02-21 02:24] #5185 closed, assigned to asr

[2021-02-21 18:18] andreasabel commented on #4929
I confirm that the OP is fixed---getting termination error again instead of internal error.

[2021-02-22 03:35] MatthewDaggitt opened #5229 "Variables with types sourced from record variables"
I'm trying to generalise over types sourced from the fields of a generalised record, e.g. as follows
[code]

If you try to fill the first hole with the value `bar` you get the message:
[code]

If you then get rid of the hole and then type `test : bar` manually you get a very different message:
[code]

Is what I'm trying to do meaningful? Is one or both of the behaviours a bug?

My real use case is

[2021-02-22 06:03] UlfNorell commented on #5229
The first issue is #3341 and #3656 and it is the expected behaviour. I'll have to take a closer look at the second problem.

[2021-02-22 09:59] nad commented on #418
The following code is accepted, which suggests that meta-variables in abstract type signatures are not always frozen before the bodies are checked:
[code]
The following code is rejected:
[code]
However, the following variant, where the type of `A` is given explicitly, is accepted:
[code]

[2021-02-22 13:43] asr commented on #4955
I'm getting the following error using `stack 2.5.1`:

[code]

Can anyone reproduce the error?

[2021-02-22 13:45] UlfNorell commented on #418
The reason this code is accepted is #655. There are three options:
1. Declare this working-as-intended (accept both `A` and `B`)
2. Don't use `checkAlias` for explicit signature with `_` (accept `B` but not `A`)
3. Don't use `checkAlias` for abstract definitions (accept neither `A` or `B`)

I don't really have a horse in this race, so I don't want to take a decision, but if pressed I would suggest

[2021-02-22 13:54] jespercockx commented on #418
I understand `abstract` as "I shouldn't have to look at the definition of this, the type signature has everything I need", so I'm favour of option 3.

[2021-02-22 14:00] jespercockx commented on #418
Consider the following example:
[code]
This is currently accepted, and `test` has type `true' ≡ true'`. However, this is not a unique solution: it can have any type between `true ≡ true`, `true ≡ true'`, `true' ≡ true`, and `true' ≡ true'`. So it would be better to reject this definition.

[2021-02-22 15:56] nad commented on #4412
I failed to reproduce the problem using recent versions of Agda and my code.

[2021-02-22 15:56] #4412 closed, assigned to nobody

[2021-02-22 17:11] andreasabel opened #5230 "When `stack.yaml` exists, `make` calls `stack`, even on `make debug`"
Without `stack.yaml` it works as expected:
[code]

After `touch stack.yaml`:
[code]

After `cp stack-8.10.4.yaml stack.yaml`:
[code]

[2021-02-22 17:13] andreasabel commented on #4955
I tried, but then I hit #5230.

[2021-02-22 17:19] andreasabel commented on #5202
See #5134 for more context on this.

[2021-02-22 17:22] asr commented on #5230
I just think that support both Cabal and stack in the same `Makefile`, for all our tool-chain, is going to be very very difficult. We should think in split the `Makefile` in `Makefile.cabal` and `Makefile.stack`, so every one (including CI) can choose the `Makefile` via something like `ln -s Makefile.tool Makefile`.

[2021-02-22 17:29] asr commented on #5230
I couldn't reproduce the problem:

[code]

[2021-02-22 19:11] andreasabel commented on #4955
Confirming: `stack` crashed after building everything.

After 1 hour:
[code]
Tons of these warnings (irrelevant):
[code]
Finally,
[code]
So similar _bad argument_ than yours (but not the same).
[code]

[2021-02-22 19:53] #4250 closed, assigned to jespercockx

[2021-02-22 19:53] #4556 closed, assigned to jespercockx, pnlph

[2021-02-22 20:11] andreasabel commented on #5230
Well, this doesn't prove anything yet, because if `stack` has the relevant `ghc` already downloaded (in your case `ghc-8.10.4`) it will be silent (also on my machine).

Try to put garbage into `stack.yaml` so it would give a parse error.

[2021-02-22 20:39] satnam6502 opened #5231 "Problems compiling hello-world.agda"
I followed the OS X instructions to try and install Agda on my Big Sur Mac using brew. However, I get:
[code]
More details:
[code]
Any idea about what I did wrong? Many thanks.

[2021-02-22 21:12] gallais commented on #5231
We've just pushed an update (#5223) because the hello world example in
the user manual was broken by a recent update to the stdlib shipped
as part of 1.5.

The gist of it is:

[code]

The development version of the manual has a neater solution but you'll need
to wait for the next release of the stdlib to be able to use it.

[2021-02-22 21:40] andreasabel commented on #4770
Shouldn't 8.0.2 be deleted from `.travis.yml` then?

[2021-02-22 22:48] asr commented on #4770
Of course! Done in the commit above.

[2021-02-22 22:53] asr commented on #5230
Ah, I see.

[2021-02-22 23:29] asr commented on #4955
There are other projects getting a similar error to

[code]

See https://github.com/commercialhaskell/stack/issues/5486.

[2021-02-23 00:16] satnam6502 commented on #5231
Thank you. That works! Now I can start to actually try and learn some Agda!
I was not expecting this to actually build the world :-)
[code]

[2021-02-23 00:16] #5231 closed, assigned to nobody

[2021-02-23 02:07] gallais commented on #5231
Good point. I have a patch to take this down to 34 modules. I'll open a PR tomorrow.

[2021-02-23 12:01] nad opened #5232 "Make some types more strict?"
Some recently encountered space leaks (#5086, #5155) have led to the suggestion that some types should be made more strict. The goal is perhaps not mainly to improve performance, but to make the code easier to maintain, and to make it easier to predict the performance.

Recently I added an `NFData` instance for `TCState`, and the [commit](https://github.com/agda/agda/commit/db2e33b327828926b3dd0df

[2021-02-23 14:55] ajrouvoet opened #5233 "No highlighting in dot patterns"
I was trying to explain dependent pattern matching and forcing in the introduction of my thesis by revealing some dot patterns:

[code]

As I understand it, `.suc` and `.zero` should both be read as forced constructor names by Agda.

Instead, Agda only highlights and hyperlinks `suc`, while `zero` appears to be checked as a variable name in both the editor and produced LaTeX:

![image](https://use

[2021-02-23 15:08] nad commented on #4955
Perhaps we can enable `-Winvalid-haddock`.

[2021-02-24 12:19] andreasabel commented on #4678
I have been bitten by this again today.
I think we should not allow file-modules that just differ on case, for the sake of our users who might not be aware of wide-spread case-insensitive file systems (like the default on macOS).

[2021-02-25 09:16] nad commented on #4521
Hopefully the installation is easier or faster now. Feedback is welcome.

[2021-02-25 15:04] nad commented on #5155
Can we create a small test case for this issue?

[2021-02-25 20:19] andreasabel opened #5236 "Regression in parser of record declarations"
Both of these work in 2.6.1 but the second fails on master:
[code]
Discovered this when I tried to showcase some code to students.

[2021-02-25 20:22] gallais commented on #5236
That's due to #5001

I am not sure it's possible to have both `constructor` as a layout keyword &
a keyword that can be used inline.

[2021-02-25 21:56] cnassau opened #5237 "`__IMPOSSIBLE__` from Agda.TypeChecking.Substitute"
While playing with my own version of cubical/Cubical/HITs/Torus/Base.agda on master, a careless choice of variable names triggered an "__IMPOSSIBLE__" warning from agda: this is my file "torus-bug.agda":
[code]
Running `agda -c torus-bug.agda` gives

The code compiles if the variables in the last line are changed from i1, i2 to i, j

[2021-02-25 22:35] jonsterling opened #5238 "Rewrites are conjuring elements out of thin air"
The following code compiles in Agda 2.6.2:

[code]

The rewrite should not apply in this case, because we don't have an element of `⊥` on hand. Now, I am not sure what I am asking this to actually do (since we can't just do proof search), but some possible behaviors could be:

1. Reject rewrite rules where the variable `x : ⊥` does not appear somewhere in the pattern
2. Potentially, allow this whe

[2021-02-26 02:38] L-TChen opened #5239 "Fail to build Agda with GHC 8.0.2"
The commit db2e33b327828926b3dd0dfb71f63f9824f847d7 added the `NFData` instance for `TCState` and a function `rwhnf` is used which is not available in the package `deepseq` until 1.4.3.0.

[code]

The current `Agda.cabal` only specifies
[code]
so I think merely increasing the lower bound should fix the problem.

[2021-02-26 05:18] asr commented on #5239
Note that `deepseq` is shipped with GHC 8.0.2, so I guess increase the lower bound is not an option.

[2021-02-26 05:28] solomon-b commented on #4837
2.6.1

[2021-02-26 06:52] L-TChen commented on #5239
Indeed, I tried increasing the lower bound and changed the `stack-8.0.2.yaml` in vain. The final configuration suggested by `stack` is
[code]
After this, `stack` does not complain about the dependency but it fails to compile `aeson-1.1.2.0` with the following warning.
[code]

[2021-02-26 08:09] vlopezj commented on #4994
For what it's worth, I have removed the antiunification code from my branch (https://github.com/agda/agda/tree/future-hetcon-no-compat ), and the error still triggers.   I think the error as reported by Andreas is now triggered from `Agda.TypeChecking.Rewriting.checkRewriteRule`.

[2021-02-26 08:46] jespercockx commented on #5238
Well, yes, this is by design but I can see why it is undesirable. The reason why this is accepted is because to turn an algorithm into a rewrite rule, Agda will drop all arguments that are not used in the LHS of the rule. This is very useful when you are in a parametrized module and there are some parameters that are not involved in the rewrite rule, but there is no check that the types of the par

[2021-02-26 09:20] jespercockx commented on #5238
Actually the declaration of `foo` as a rewrite rule is rejected if you actually give a definition of `foo` (as `foo ()`) instead of giving it as a `postulate`. This is because of the logic introduced in https://github.com/agda/agda/commit/d3068a60ffaf3a784342e6b0dfe6b32efb6a6ffe for fixing #1980, which was further tweaked to ignore unused parameters in https://github.com/agda/agda/commit/aaa8ea508

[2021-02-26 11:18] andreasabel commented on #5239
@nad Can't say you haven't been warned, haha:  https://github.com/agda/agda/actions/runs/599811142

[2021-02-26 11:25] andreasabel commented on #4994
But not the internal error, or?

Well, if Agda complains about `prf is not a legal rewrite rule`, that would be ok.

Can the original internal error still be triggered?

[2021-02-26 11:29] andreasabel commented on #5236
In this case we have two layout keywords on the same line.  Couldn't we say than the first one isn't treated as introducing layout?
In general, with several layout keywords on the same line, could we make only the last one count as such?
This is #1145, I suppose.

[2021-02-26 11:34] andreasabel commented on #5230
I tried hard to locate the offending call to `stack` in the `Makefile`, but couldn't find it.  Maybe someone with better eyes can have a look, restating,

[2021-02-26 11:37] andreasabel commented on #418
I am OK with alternative 3.

[2021-02-26 15:14] asr commented on #4837
Agda 2.6.1 does not support GHC 8.10.*. You need a recent version of Agda.

[2021-02-26 15:27] asr commented on #5239
@nad, I suggest to use a CPP conditional due to the missing `INLINE` pragma in your fix (the CPP conditional should be removed after we drop support for GHC 8.0.2).

[2021-02-26 15:55] uncle-betty commented on #5155
I agree that this would be useful, but I am unable to come up with something that would be robust across GHC versions, build flags, or target platforms.

I was trying to come up with something along the lines of the #1829 test: figure out a way to run `setDecodedModules` / `storeDecodedModule` 1000 times without forcing `stDecodedModules`. Before the fix, this would make unevaluated thunks pile up

[2021-02-26 16:05] Saizan commented on #4994
The error was triggered by this revision of the linked repo
https://github.com/HoTT-Intro/Agda/commit/24f6861188f1405df7c3f673b5192a3d17016254

I tried to compile the hetcon branch, but I got an error from GHC, so I couldn't test this myself:
[code]

[2021-02-26 16:12] asr commented on #5230
`Makefile` includes `mk/paths.mk` and it includes `mk/ghc.mk` which runs `stack ghc` for getting the version of GHC if `stack.yaml` exists.

[2021-02-26 17:59] andreasabel commented on #5230
Thanks, @asr!
I found relevant docs at https://docs.haskellstack.org/en/v2.5.1/faq/#what-version-of-ghc-is-used-when-i-run-something-like-stack-ghci.  So the content of `stack.yaml` determines the GHC version, and if that version is not installed, `stack` will download it.

That's quite a convoluted way to ask for the GHC version:
- `stack` infers it from `stack.yaml`
- and downloads the respectiv

[2021-02-26 18:49] andreasabel opened #5242 "Size of the Agda git repo (dev only)"
Since recently, I noticed that `git pull` usually pulls in around 8MB.  (Of course, not consecutive pulls, but whenever I return to Agda development the next day or a couple of days later.)
I am not sure what causes this, maybe the nightly build `gh-pages` branch?

Anyhow, I observe that the repo is quite big now (2021-02-26):
[code]
(`git gc` doesn't reduce this by more than 1%).

I have a versio

[2021-02-26 19:50] nad commented on #5239
What do you mean by "the missing `INLINE` pragma"? I don't see a need to optimise this code further.

[2021-02-26 19:53] asr commented on #5239
I mean the `INLINE` pragma in https://hackage.haskell.org/package/deepseq-1.4.5.0/docs/src/Control.DeepSeq.html#rwhnf.

[2021-02-26 19:55] #5239 closed, assigned to nobody

[2021-02-26 20:21] jespercockx commented on #5242
You have a version of Agda from 9 months in the future? Maybe you could copy some code from it, would save us a lot of work for the release ;)

But you're right that the repository does seem much slower to clone than it used to.

[2021-02-26 23:11] gallais commented on #5242
I've installed [git-sizer](https://github.com/github/git-sizer/) and it points at 8a02d2470d553f70042a8a99fa3641e724e9635e being
the biggest commit (100M). This is indeed a haddock commit.

The `docs/` directory on `gh-pages` is a whooping 150M when all of Agda's `src/`
is just 7M in comparison. The biggest file in that `docs/` directory is almost as
big as the entirety of Agda's sources at 5.5M o

[2021-02-27 10:35] ice1000 opened #5244 "Interleaved mutual HIT"
[code]

This code should check, or shouldn't?

[2021-02-27 10:38] ice1000 commented on #5242
Suggest `git gc --aggressive --prune` in favor of plain `git gc`

[2021-02-27 13:30] gallais commented on #5244
The syntax of interleaved mutual blocks requires you to put the new
constructors in a `constructor` block. So this may parse but will
give probably give you a scope error saying that `AA` and `BB` have
already been declared.

Even if it were structured the right way, it probably wouldn't be
accepted with Agda as is because the grouping logic I have implemented
only targets usual inductive families

[2021-02-27 13:37] ice1000 commented on #5244
@gallais The problem is that these constructors are path constructors.

[code]

This code gives me the following message:

[code]

[2021-02-27 13:39] gallais commented on #5244
Yeah that's what I was saying: the grouping logic does not handle these.
You could add a special case for equality-looking return types & then go
mine the LHS & the RHS for a head constructor that already belongs to an
already declared datatype.

[2021-02-27 13:39] ice1000 commented on #5244
where is this code implemented?

[2021-02-27 13:40] ice1000 commented on #5244
I mean in which file or module, because I may look at it

[2021-02-27 13:41] gallais commented on #5244
https://github.com/agda/agda/blob/12ba4038629784eec568bde6d6a795e515df3e18/src/full/Agda/Syntax/Concrete/Definitions.hs#L793-L794

[2021-02-27 14:06] ice1000 commented on #5244
I think changing the following code may achieve this.
https://github.com/agda/agda/blob/12ba4038629784eec568bde6d6a795e515df3e18/src/full/Agda/Syntax/Concrete/Definitions.hs#L942-L958

[2021-02-27 18:55] nad opened #5245 "An infinite loop?"
I just encountered the following message repeatedly, seemingly in an infinite loop:
[code]
Before that Agda had checked, or started checking, several files multiple times:
<details><summary>(Lots of output.)</summary>
<p>

[code]

</p>
</details>

I don't know what was going on. I could fix the problem by removing the `_build` directory.

[2021-02-28 20:38] #5230 closed, assigned to nobody

[2021-02-28 21:03] andreasabel commented on #5237
I suppose `i1` is interpreted as endpoint of the interval, which you cannot match on.  Could be a missing check in the left-hand side checker.

[2021-02-28 21:05] andreasabel commented on #5242
I considered this, but don't have enough space to install a new PL.

[2021-02-28 21:25] andreasabel commented on #4955
I googled in vain for this option, could you please post a link to its description?

[2021-02-28 21:34] gallais commented on #5242
It was available on the debian repos, I did not need to compile it myself.

[2021-03-01 05:25] ice1000 commented on #5242
You could also download binary releases https://github.com/github/git-sizer/releases/tag/v1.3.0

I think we could learn from this. Providing binary releases is extremely important for a software. Agda used to force me to install by compiling it from source, and that's one of the many reasons why I became an Agda contributor eventually. <details><summary>... (trigger warning!)</summary>
I feel like

[2021-03-01 08:59] andreasabel commented on #5242
@ice1000:  Life paths are strange.  I only became a type theorist because the class on TT I attended left me utterly confused...

[2021-03-01 09:31] gallais commented on #5242
@ice1000 I'd avoid this kind of unnecessarily graphic imagery: you don't know
what other contributors' lives have been like and this could ruin their day by
invoking horrible memories to make an unrelated point.

[2021-03-01 09:36] #4833 closed, assigned to UlfNorell

[2021-03-01 10:36] nad commented on #418
I guess that the following code will be rejected with @UlfNorell's most recent changes in place:
[code]
I don't think we should make use of the body of `B` when checking its type signature, but perhaps we could make use of other parts of the code: code that is not abstract, or code in outer abstract blocks. Agda infers the type of `B` in the following piece of code, despite the absence of an imple

[2021-03-01 10:39] nad commented on #4955
https://downloads.haskell.org/~ghc/9.0.1/docs/html/users_guide/using-warnings.html#ghc-flag--Winvalid-haddock

[2021-03-01 10:58] UlfNorell commented on #418
Is it a common idiom to use local abstract definitions? If not, I don't think it's worth complicating things just to get a little bit more inference in this case.

[2021-03-01 10:59] andreasabel commented on #4955
Thanks!  Google doesn't understand versioning of the GHC manual, so it always shows me old versions.

Does `-Winvalid-haddock` address https://github.com/agda/agda/issues/4955#issuecomment-783752784 or is it an unrelated suggestion?

[2021-03-01 11:08] andreasabel commented on #5242
@gallais @MatthewDaggitt
I wouldn't like to censor this kind of metaphorical expression (I am fond of metaphors even of a such drastic kind).  But I acknowledge the possibility of trigger.

I thought about what technical solution there could be, and there is one: text can be folded/unfolded in comment fields.

@ice1000
I took the liberty to place your metaphor under a trigger warning, to accommoda

[2021-03-01 11:45] nad commented on #4955
I would be surprised if that warning option could be used to fix the "bad argument" problem.

[2021-03-01 11:51] nad commented on #418
I sometimes use local abstract definitions, but I don't know how often the improved inference would actually help.

[2021-03-01 12:08] ice1000 commented on #5242
Yes, I am very sorry for that. I think I might violate some code of conduct, and I wish to delete the post. Unfortunately it'll be available in the edit history anyway, so I'll keep AA's modification. Well, maybe I'll mark it as off-topic.

[2021-03-01 12:09] ice1000 commented on #5242
I think I don't know how to mark a comment as off-topic, sorry...

[2021-03-01 14:20] L-TChen commented on #5242
One possibility is to publish them to another repo and delete the `gh-pages` branch completely. Does it sound like a good idea?

[2021-03-01 14:24] ice1000 commented on #5242
Another solution will be make the `gh-pages` branch a single-commit branch, and let the CI amend + force push to it

[2021-03-01 20:26] JasonGross opened #5247 "agda --help is slow"
Agda `--help` prints
[code]
immediately, hangs for two seconds, and then prints
[code]
If I don't pass `--help`, the first chunk gets two lines further, including `--no-syntactic-equality`, but the overall runtime is the same.

If it matters, this is on Windows 10's WSL2 running Ubuntu 20.04.1

This seems minor, but I figured I'd report it anyway.

[2021-03-01 20:35] nad commented on #5247
I don't see this for Agda 2.6.1 or Agda 2.6.2-12ba403, but I'm not using Windows.

[2021-03-02 06:52] andreasabel commented on #5247
@JasonGross
Could the reason be that Windows terminal still run on steam? :-D
What happens if you pipe `agda --help` into a file and time that?

[2021-03-02 08:25] #4999 closed, assigned to UlfNorell

[2021-03-02 09:19] UlfNorell commented on #4984
How do you deal with the fact that sigma is a dependent type? Can you give a test case with your own definition of sigma and the `COMPILE` pragmas you'd like to have?

[2021-03-02 10:00] UlfNorell commented on #3870
Workaround for the OP is in 237aa1f9ab. The non-instance test case works ok (but with yellow). A proper fix would be @vlopezj 's twin variable stuff, so closing this.

[2021-03-02 10:00] #3870 closed, assigned to UlfNorell

[2021-03-02 10:02] fgaz opened #5248 "Changing warning flags causes rebuilds"
To reproduce:

[code]

Expected behavior: the second command is a no-op (like with ghc)
Actual behavior: the second command rebuilds the module

This is a problem especially when there are agda dependencies installed at the system level: agda tries to rebuild those, and fails (read only fs / permission denied), even when using --compile-dir

[2021-03-02 10:18] nad commented on #5248
Related: #5151.

I wonder if one can work around this problem by putting `-Wall` in the `flags` field of a `.agda-lib` file.

[2021-03-02 10:22] fgaz commented on #5248
#4496 may be a duplicate too

[2021-03-02 10:28] andreasabel commented on #5248
I think by default Agda should not rebuild dependencies if one changes warnings and even semantics-changing options for the current project.  If the new settings are not compatible with the dependencies, Agda should just fail with an error.  Then, there could be a by-default-off mode where Agda also rebuilds dependencies.
Context: https://github.com/agda/agda/issues?q=is%3Aopen+is%3Aissue+label%3A

[2021-03-02 11:01] flupe opened #5249 "Cannot define functions with implicit arguments using reflection"
I'm currently writing code that produces elements of some record type using reflection.
In said record types, _some fields are functions whose first argument is implicit_.

However I've been unable to define these functions with reflection, as Agda tells me the implicit argument is not in scope. If I make the argument explicit in the record definition,
and change every `Arg _` to `visible` in the

[2021-03-02 11:39] nad commented on #5248
This would not solve the problem in the OP.

What, exactly, do you have in mind? Something like the following?

* If a file has an up-to-date interface file, resides in a "different project", and would be rebuilt due to changes to global options, then an error is raised (unless a certain option has been activated).
* A file "resides in a different project" if it "has" a `.agda-lib` file, and
    *

[2021-03-02 11:50] UlfNorell commented on #5249
This isn't a reflection problem. Here's what you are doing
[code]
This results in the same *cannot instantiate meta* error. There are two reasons why this happens:

- we don't infer an implicit function type for `f` from the lhs, instead the checking of `f` is stuck on implicit argument insertion
- implicit lambdas are eagerly inserted (see #1079), so `mkBox1 f` is really `mkBox1 (λ {A} → f)`. We

[2021-03-02 11:50] #5249 closed, assigned to nobody

[2021-03-02 11:51] nad opened #5250 "Change of warning options ignored"
Agda does not always recheck files when you change the warning options in a `.agda-lib` file:
[code]
The `flags` field is new, so I think this should be fixed before the release.

[2021-03-02 11:52] nad commented on #5248
I tried this, and encountered a bug: #5250.

[2021-03-02 12:06] JasonGross commented on #5247
The timing is the same if I pipe it into a file (though I haven't established where the pause is).  Note that WSL2 is essentially just a Linux virtual machine with some fancy trimmings to integrate well with Windows, as I understand it.

[2021-03-02 13:44] flupe commented on #5249
Thank you for the fast reply, I understand better why it couldn't work.
- Is this eager insertion of implicit lambdas documented/motivated somewhere? I don't really understand why this is a wanted behavior.
- Regarding what I'm trying to achieve, it thus seems impossible to provide functions with implicit arguments to record constructors with reflection. I get errors even if I apply `var 0` to the

[2021-03-02 14:00] UlfNorell commented on #5249
I don't think there's anything super-clear written down on it, but see the issue I linked and the issues merged into it.

Regarding getting it to work, simply providing the type for the function you are defining should do the trick:
[code]

[2021-03-02 16:49] andreasabel commented on #4984
Why would that matter?  We compile to an untyped fragment of GHC, aren't we?  In any case, we are not targeting any Haskell dependent types, afaik, so dependencies should be erased.

That's what I came up with:
[code]

This generates:
[code]

This works fine, except for `check32` which does not erase the dependency.  The type of `check32`,
[code]
is unexpected.  Note that the first component of th

[2021-03-02 16:54] UlfNorell commented on #4984
This looks like a more substantial feature request. It's not immediately clear how you distinguish dependencies from legitimate type arguments. Can you file a new issue with a more fleshed out proposal?

[2021-03-02 17:16] andreasabel commented on #5247
The printing of the help text is implemented here:
https://github.com/agda/agda/blob/136f85386ec43245745b76f03505bda4f5d1ed3f/src/full/Agda/Interaction/Options/Base.hs#L1137-L1145
This simply uses the library function https://hackage.haskell.org/package/base-4.14.1.0/docs/System-Console-GetOpt.html#v:usageInfo
Not sure what could go wrong here.  Maybe a garbage collection?  Can you play with the R

[2021-03-02 17:42] andreasabel commented on #4984
Apparently Agda never implemented the erasure that Cayenne did.  The current status quo is already 11 years old: ba49bd1e5c96a0a09ea6e21656ed46466da8c276.  I must have forgotten about it.
In MiniAgda, I implemented Lennart's erasure analysis, see his paper http://citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.47.155 on Cayenne.
Well, this is indeed a bigger feature request then.

So atm we cannot

[2021-03-02 17:59] andreasabel commented on #4599
Maybe the generated name could fake the pattern.  If we chose the (invalid) name `(x,y)`, or the name `x,y`, it would print one of:
[code]
I am using such kind of name creation at https://github.com/agda/agda/blob/136f85386ec43245745b76f03505bda4f5d1ed3f/src/full/Agda/TypeChecking/Records.hs#L556 (there, for projections of variables).

[2021-03-02 18:16] nad opened #5251 "@0 annotation on lambda ignored"
The following code is accepted:
[code]
Given that we no longer (by default) have subtyping for `@0` (#4474) I would assume that this code should be rejected.

[2021-03-02 18:50] UlfNorell commented on #4984
I'm not sure it would work out of the box to set the `haskellType`. We do try to preserve types and skip coercions for non-dependent stuff, so I worry that just ignoring the dependency would lead to weird behaviour. How would we handle `Σ
 Set (Either A)` for instance.

Also I don't really see *why* you are so keen to bind sigma to Haskell pairs. They are clearly different types. If you want to in

[2021-03-02 19:58] JasonGross commented on #5247
Hm, I can no longer reproduce this issue; I think restarting the VM made it go away.  (It was reliably reproducible previously.)  If it shows up again, I'll play with the RTS settings and see if that does anything.  I guess I'll close this for now, and reopen it if it shows up again.

[2021-03-02 19:58] #5247 closed, assigned to nobody

[2021-03-02 20:59] JakobBruenker opened #5252 "Internal error when case splitting pattern-lambda with higher rank type"
[code]
leads to
[code]
When case splitting on `n` in the second hole.

Agda version: 2.6.1.2

[2021-03-03 08:19] UlfNorell commented on #4857
It's a display form problem. The issue seems to be the fix of #1932 (420bd20f50) which translates `λ x → x .f` into `f` to enable display forms for projections. Unfortunately it ignores the hiding on the lambda also turning `λ {{x}} → x .f` into `f`.

[2021-03-03 10:27] andreasabel commented on #4151
I commented here: https://github.com/agda/agda/commit/593e25e14e3e34ccb0e9329f551221d143b43c2d#commitcomment-47784096

[2021-03-03 10:45] andreasabel commented on #4984
Types are not erased, only values.  This needs to be translated to an existential type.  But I see your point, we can't translate Sigma for all universe in a uniform way.

Here is my original motivation, from the Agda-backend of BNFC:

- I want to bind to Haskell types generated by BNFC that contain tuples for holding position information.
- I do not want to depend on any library.
- As Sigma is a

[2021-03-03 11:12] UlfNorell commented on #4984
For `agda2hs` we have our own library translating to the Haskell prelude. [Here's the tuple type](https://github.com/agda/agda2hs/blob/16b51f430682619e25a18cfbfb4463a4272fab4b/lib/Haskell/Prim/Tuple.agda#L16-L18).

[2021-03-03 15:21] jespercockx commented on #5236
This also gives a strange error:
[code]
Error message:
[code]
This code was accepted on 2.6.1.

[2021-03-03 19:30] andreasabel commented on #4729
Er, we haven't made much progress.  In principle, there are two standard workflows:
- PR: push to a branch (here or in a fork) and open a PR
- NoPR: push to a branch because I want to run CI, but I don't want to open a PR yet

So maybe we can set up CI as follows:
- by default, only run on `pull_request` (supports PR)
- if the branch name starts with a dedicated prefix, like `ci-`, then also run o

[2021-03-03 19:34] JasonGross opened #5255 "Declaring records structural rather than nominal?"
Is there a way to tell Agda that certain records should be treated as structural rather than nominal?  That is, I would like to be able to fill `test3` with `refl` in the following code given some appropriate annotation on `Functor`:
[code]

(Note, as above, that it already works if we use `Σ` rather than `record`, but it would be nice to not have to do this.)

[2021-03-03 19:38] nad commented on #5255
No.

[2021-03-03 19:44] JasonGross commented on #5255
Are there any plans to add this feature, or any hope of getting it at some point in the future?

[2021-03-03 20:04] nad commented on #5255
I'm not aware of any such plans. Can you explain in more detail what it is that you are after?

[2021-03-03 20:23] jespercockx commented on #5255
If you want structural record types, can't you just define your records as (iterated) sigma types?

[2021-03-03 20:23] JasonGross commented on #5255
There's some detail on the context in https://github.com/coq/coq/issues/5293#issuecomment-337550412 .  I've run into this in a couple of contexts now.  The first one I encountered this in was in trying to formalize global and pointwise Kan extensions and have them line up in a way such that I didn't have to duplicate the work for left and right Kan extensions.  This requires setting things up so t

[2021-03-03 20:27] JasonGross commented on #5255
Indeed I can just use iterated sigma types, though it seems that the rules for implicit status of abstracting records, constructors, and fields over enclosing modules with arguments are different from the rules for abstracting definitions over those module arguments.  It's not that big a deal, though.  I think the main issues is the (in)convenience of notations (there's no analog to `record { name

[2021-03-03 20:50] JacquesCarette commented on #5255
We've actually gone out of our way in agda-categories to make as many of these things hold judgementally.  For `1 -> C` vs `C`, that is hopeless, as they are fundamentally different even if equivalent (though there might be odd things when `C` is not inhabited).  Certainly  `(1 -> C ᵒᵖ)` should be the same as `(1 -> C) ᵒᵖ`, and it something that can be fixed if it's not.  For Kan extension, it's p

[2021-03-03 22:44] JasonGross commented on #5255
I've opened https://github.com/agda/agda-categories/issues/256

https://github.com/agda/agda-categories/issues/257

[2021-03-03 22:47] JasonGross commented on #5255
Do projections carry the parameters to the record type?  If they don't this might be a reason that having structural records would be more efficient than nested sigma types.  (When I experimented with nested sigma types in Coq, there was a ~15% slowdown overall on the impacted files, with some files having a 3x--4x slowdown (see https://github.com/HoTT/HoTT/pull/849))

[2021-03-04 06:53] andreasabel commented on #5252
Shrank this to:
[code]
It seems that some context isn't right, and we get an unbound de Bruijn index.

[2021-03-04 07:41] andreasabel commented on #1145
Maybe we can settle for the following amendment of the current parser:

Proposal how to implement this:
- When encountering a layout keyword and thus pushing a new column onto the layout stack, mark this new column as _tentative_ (unless the next token is on a new line).
- When encountering a line break, mark the last tentative layout column as _definitive_.
- When popping a column from the layout

[2021-03-04 08:18] andreasabel commented on #1145
There could be a simple fix.  Currently, this is a parse error:
[code]
The reason is that `private` introduced layout column 8, and `postulate` wants to introduce layout column 2, but decreasing indentation is not allowed.
How about we allow `postulate` to proceed with column 2, but when the `postulate` block ends, we also end all blocks with greater or equal layout column.
This would pass all exa

[2021-03-04 08:55] jespercockx commented on #5255
Projections from record types don't carry parameters in the internal syntax, but then projections from the sigma type also don't, so I don't see why that would cause a difference in performance (there's other possible performance considerations of course).

[2021-03-04 09:57] andreasabel commented on #1145
In my last comment, I simplified a bit too much.  For example,
[code]
`private` introduces column 8, `where` wants to allow column `0`.  This should _not_ open a new block.

We need some concept of _confirmed_ indentation level, which is `0` in the beginning.  New blocks must still be strictly above the confirmed level.
A new confirmed level on the top of the stack should also confirm unconfirmed

[2021-03-04 13:20] nguermond opened #5257 "Internal error when matching on user syntax with binding"
When I execute the following (in Agda 2.6.1.2)
[code]
I get the following error message
[code]
I'm not sure whether this is an abusive use of syntax, but reporting anyways because the message tells me to.

[2021-03-04 15:36] nad commented on #5257
The error message should be better.

[2021-03-04 16:39] andreasabel opened #5258 "`interaction` tests using `.hs` script are failing on github actions"
The `interaction` testsuite started failing on github, see e.g. https://github.com/agda/agda/runs/2028943853?check_suite_focus=true, producing errors like:
[code]
I have seen this with another test case which also as a `.hs` script (cf. 9bb868bc460af564b02a6e4b29e8182dc8824519).

[2021-03-04 16:52] andreasabel commented on #5257
The internal error is raised in a pure function: https://github.com/agda/agda/blob/72e3aac0d63f8a53ca77a8dce2e339363c550334/src/full/Agda/Syntax/Concrete/Operators/Parser.hs#L114
It was already an internal error in 2.4.2.4 (the oldest Agda I have installed) and could be as old as the `syntax` feature itself.

[2021-03-04 17:07] andreasabel commented on #5233
Well, `.zero` is syntactically ambiguous and could also mean `.(zero)`, that is, expression `zero` in a dot pattern.  But even then, it should be highlighted as constructor, since a variable `zero` is not in scope here.

I can confirm that constructors in dot patterns are not highlighted.
[code]
Neither `zero` nor `suc` is highlighted here.

This isn't specific to constructors:
[code]
`Set` in `.S

[2021-03-04 17:26] andreasabel commented on #5233
Possibly I introduced it when fixing #2038.
No highlighting is produced for the expression: https://github.com/agda/agda/blob/72e3aac0d63f8a53ca77a8dce2e339363c550334/src/full/Agda/Interaction/Highlighting/FromAbstract.hs#L271-L273

[2021-03-04 17:48] andreasabel commented on #5258
Actually also failing locally on my machine (I am using GHC-9.0.1).

Could be a `.ghc.environment` thing? (Wild guess.)  Libraries are not installed globally anymore...

[2021-03-04 18:37] asr commented on #5258
I don't understand all the details but it is a consequence of mixing Cabal v1- and v2-commands for installing different programs. I only use Cabal v1-commands because Agda uses them, when I install something using v2-commands I have a similar problem.

[2021-03-04 18:43] andreasabel commented on #5012
Why snoyberg?  Link?  (UPDATE: see https://github.com/commercialhaskell/stack/issues/5300#issuecomment-721492825)
Did we reenable cluster-counting on the windows build?  If yes, which commit? (UPDATE: in 14311f60243909492ba1791267ebbf489738f777, thanks @L-TChen!)

[2021-03-04 18:45] andreasabel opened #5259 "github cabal build fails for macOS because of text-icu"
The github workflow "cabal build" fails for macOS because of `text-icu`:
https://github.com/agda/agda/runs/2033568733?check_suite_focus=true

See #5012 and #5021 (PR) for the Windows instance.

Upstream issue: https://github.com/haskell/text-icu/issues/49

[2021-03-04 18:55] gallais commented on #5012
Because of https://github.com/commercialhaskell/stack/issues/5300

[2021-03-04 18:55] ajrouvoet commented on #5233
Thank you for having a look and diagnosing the issue.

Just for my understanding: although syntactically ambiguous, `.(zero)` and `(.zero)` do mean the exact same, right?

[2021-03-04 20:39] andreasabel commented on #4672
We are part of LTS 17.5! https://www.stackage.org/lts-17.5/package/Agda-2.6.1.3

[2021-03-04 20:39] #4672 closed, assigned to andreasabel

[2021-03-04 20:44] andreasabel commented on #5233
A fix is forthcoming, but CI is broken, so after fixing CI I will open the PR.

Yes, this is why the ambiguity is ok.

[2021-03-05 06:31] UlfNorell commented on #5258
Yes, I'm pretty sure this is a ghc environment problem. I had the same problem and fixed it by finding and nuking all environment files (I forget how to find where they are), and putting `write-ghc-environment-files: never` in my cabal config.

[2021-03-05 06:39] #5233 closed, assigned to andreasabel

[2021-03-05 06:49] andreasabel commented on #5258
Are you installing everything with `v1`-cabal?
Otherwise, can you still use `ghci` then?  It doesn't pick up packages otherwise, it seems.

So far, `write-ghc-environment-files: always` worked well for me. I followed the advice at https://github.com/sol/doctest/issues/245#issuecomment-596038515.

[2021-03-05 07:04] UlfNorell commented on #5258
I'm using a mix of v1 and v2, and I haven't had any problems since I got rid of the environment nonsense.

[2021-03-05 07:40] andreasabel commented on #5258
On my machine, the problem seems to be this:
- I do a `cabal v2-build` which creates a `.ghc.environment` file
- after a while, I do `make install-bin` which installs a new version of Agda
- the `.ghc.environment` file is now stale; the hashes appended to the package-ids are wrong
- `make interaction` now fails, as `runghc` picks up the stale environment

Maybe the interaction suite could be made

[2021-03-05 08:20] andreasabel commented on #4521
What a relief to be able to rebuild Agda in a reasonable time (in many cases) again!!

[2021-03-05 09:48] andreasabel commented on #5258
The testsuite uses `stack` to build and run Agda: https://github.com/agda/agda/blob/c28ec33cc563970f26ba3f62e24f0179ef1a4af9/.github/workflows/test.yml
I think I don't know `stack` enough to fix this.
On my machine at least `stack build` does not generate any `.ghc.env*` files.

[2021-03-05 14:10] vlopezj commented on #4994
I checked using a `HasCallStack` constraint on `computeElimHeadType`, and the OP's error is indeed produced when doing anti-unification (https://github.com/agda/agda/commit/4717912820a7,  `master`)

[code]

I tested with https://github.com/agda/agda/commit/1309bdb41cc6cc9066f93bd5cc51cf9dfec7c236 from `future-hetcon-no-compat` (which removes the `antiUnify` code) and I get a type error on another,

[2021-03-05 14:36] m0rphism opened #5262 "Copatterns: Hole Filling disagrees with Type Checker"
[code]

Here is a minimalized version of the problematic code:

[code]

For the first hole `{!refl!}`, Agda displays the goal `[0] ≡ [0]`, and hence allows filling the hole with `refl`. This is expected behavior.

However, subsequent type checking fails for `refl` with error:
[code]

Note, that the type checker is happy, if `record`-syntax is used instead of copatterns:
[code]

The type checker is

[2021-03-05 16:10] nad commented on #5262
Apparently Agda does not use the same reduction behaviour while `Semiring-Usage` is being defined as it does after it has been defined. I think @andreasabel knows what is going on, and whether this is by design or not. A simple workaround is to reorder the clauses:
[code]

[2021-03-05 17:47] andreasabel commented on #5262
_While_ `Semiring-Usage` is type-checked, you only have the literal reduction rules. The rule (1)
[code]
cannot fire because it is not universally valid; at least Agda does not assume this, since a preceding equation matches on `x`.
_After_ type-checking, the coverage checker computes a split tree, making a rule like
[code]
available.  This is why you can fill the hole, but not re-typecheck it.

T

[2021-03-05 18:10] m0rphism commented on #5262
Ah, I see. Thanks for the explanation!

If I understood correctly, then my example with `record`-syntax works, because it doesn't use one large copattern match, but instead two independent pattern matching lambdas, so the split tree for the first match is already available in the second match.

[2021-03-05 18:13] nad commented on #5262
I tried this now, with interactive highlighting turned on: When I load the file the first time I don't get such warnings, but I get them when the file is reloaded.

[2021-03-05 22:07] rw111 commented on #4521
Great! Seems to install on fairly old Ubuntu machine with only 4GB Ram via Cabal in something like an hour.

[2021-03-05 22:32] andreasabel commented on #5262
Highlighting seems to have its own mind.

[2021-03-06 07:04] MatthewDaggitt opened #5263 "Irrelevant instance arguments syntax"
In Agda 2.6.1 if you try to write `f : {{ A }} → B` you get the message:
[code]
which doesn't make much sense to me.

The current workaround is to write `f : {{_ : A}} → B` which is accepted.

[2021-03-06 07:07] MatthewDaggitt commented on #5263
Hmm hang on, I've simplified it too much. Working on a minimal example, hold tight.

[2021-03-06 07:18] MatthewDaggitt commented on #5263
Okay apologies, I'm was getting confused by the slightly counter-intuitive combination of irrelevant and instance argument syntax.
[code]

It would be great if you could use the syntax of the first example (two characters less and what I naturally wrote without thinking too much about it!), but if that's not possible then the error message could definitely be improved.

[2021-03-06 11:01] andreasabel commented on #5232
I think this is a very important issue.
Atm, however, I would not feel comfortable working on it.  I think we need to set up a __benchmarking infrastructure__ to systematically avoid performance regressions, and also to evaluate modifications like suggested above beyond anecdotal evidence.
The problem is where to set up such a benchmarking infrastructure to get reliable, comparable test results.

[2021-03-06 21:10] jespercockx opened #5264 "Should more flags be infective (or have coinfective negations)?"
While pondering about my proposed fix for #4908, I stumbled upon the following question. Currently, there is a bunch of flags that are disabled by `--safe`, but are themselves not infective. So currently the only way to disable one of these flags in a file *and in all its dependencies* is by using `--safe`, but this is not granular. Specifically, I'm talking about the following flags that are forb

[2021-03-06 21:32] jespercockx commented on #5264
Something I just realized: currently the only flag on this list that has a negation is `--cumulativity`, and this one really **should** be infective. The other nine don't currently have a negation, so we could simply add negations for them and make those negations coinfective (without making the flags themselves infective). This would preserve backwards compatibility and avoid proliferation of fla

[2021-03-07 09:10] jespercockx commented on #5264
Perhaps it makes sense to divide the list of flags I gave in two categories:

1. Five flags on the list (`--type-in-type`, `--omega-in-omega`, `--injective-type-constructors`, `--experimental-irrelevance`, and `--cumulativity`) affect the typechecking of terms directly and hence lead to ill-typed terms if you import a file that uses one of them from one that doesn't. Hence I would argue that they

[2021-03-07 10:43] jespercockx opened #5265 "Check that flags are not used together with their negation"
Currently, Agda allows the following file:
[code]
Whether a flag is considered enabled or disabled thus depends on which flag is given last. This could already be confusing by itself, but it is made worse by the recent addition of default flags to `.agda-lib` files: do the flags in the library file take precedence over the ones in the file itself or vice versa? And what about if one of these flags

[2021-03-07 10:54] jespercockx commented on #5265
Since I was curious and it doesn't seem to be documented anywhere, I experimented with the current priority Agda currently assigns to the various ways to give pragma options. Apparently:

- Flags in an {-# OPTIONS #-} pragma overwrite both flags given on the command-line and default flags given in an `.agda-lib` file.
- Default flags given in an `.agda-lib` file overwrite the ones given on the com

[2021-03-07 11:27] jespercockx commented on #5265
More in general, it would perhaps make sense to have a general notion of negation for flags, which would avoid the current need to implement each flag and its negation separately. We are currently already *reasonably* consistent with using `--no-...` for negated flags (`--without-K` being the only exception I can see), so this would mainly be a change in the way the flags are implemented. A more u

[2021-03-07 11:47] jespercockx opened #5266 "Clarify the semantics of the `--without-K` flag (and perhaps split it up)"
The `--without-K` flag has grown from a relatively simple restriction on the pattern-matching unifier to a collection of restrictions that aim to avoid incompatibility with univalence:

- The original restriction in the pattern-matching unifier: do not delete reflexive equations
- In the same pattern-matching unifier, it disables a fallback option in the injectivity rule for indexed datatypes.
- I

[2021-03-07 11:52] gallais commented on #5265
I think the solution to this problem (and the related one of importing `--safe`
modules when an unsafe flag is set on the command line) is to separate flag
parsing from the computation of the semantics of a set of flags.

If we accumulate the flags as a set of commands, we can easily check that conflicting
flags are not both members of the set at the same time (e.g. `cubical` and `with-K`).

This

[2021-03-07 12:45] jespercockx commented on #5265
I'm not sure if I agree with that solution, I'd prefer a simple semantics where it doesn't matter where the flags are given or in what order. So if two flags are incompatible (e.g. `--safe` and `--allow-unsolved-metas`) then that should be an error regardless of whether each of the flag was given in the file, on the command-line, or in the library file. Anything beyond that runs the risk of being

[2021-03-07 13:02] jespercockx commented on #5264
For flags such as `--enforce-termination-check`, it would be nice to have some way of knowing if *any of the imports* circumvents the termination checker in some way. Similarly for things like `--no-postulates` and such. This would allow these flags to be effective without making them coinfective. In particular, we could import files that do not circumvent the termination checker even if they do n

[2021-03-07 13:14] gallais commented on #5265
#5098 is explicitly about being able to import `--safe` modules while using
`--allow-unsolved-metas` on the command-line.

[2021-03-07 18:29] nad commented on #5266
I think the flag `--without-K` is mentioned in some papers, so I don't think it should be removed. In order to reduce confusion one could perhaps add a synonym for `--without-K` called something like `--compatibility-with-univalence`, make this the recommended/advertised flag, and write "a synonym for `--compatibility-with-univalence`" in the documentation of `--without-K`.

Is there any need for,

[2021-03-07 18:36] nad commented on #5265
I agree.

My understanding is that @andreasabel suggested that we should change the meaning of `--allow-unsolved-metas` so that, if `--safe` is also given, then you are allowed to have unsolved metas, but no more than zero of them. ;)

[2021-03-07 19:28] andreasabel commented on #4350
The commit you point out only extends the solution for `let open` to module macros, so why should it be the culprit?

Probably this never worked.  It is a rare combination of `open`-in-telescope in a `private` block.

Wrapping an anonymous module (written out) does not produce the bug; this works:
[code]
So when inserting the anonymous module, its contents should not be declared `private`, but the

[2021-03-07 20:08] andreasabel commented on #4350
Summary:
[code]
is equivalent to
[code]
but was handled like
[code]
Fix forthcoming.

[2021-03-07 20:26] andreasabel commented on #5265
That on the command line later given flags override earlier ones is common culture in *nix, I would not go against that.  This is useful, e.g. if you `alias rm=rm -i` and then you can still `rm -f`.

That files can override global flags locally is likewise common.  E.g. I can run `ghc -Wall Foo.hs` and then `Foo.hs` can switch off some warnings it intends to violate, like `{-# OPTIONS_GHC -fno-war

[2021-03-07 20:28] #4350 closed, assigned to andreasabel

[2021-03-07 21:43] jespercockx commented on #5265
I'd say that the dominant culture *is* bogus in this case, since we have at least some flags that should not be overridable. Or do you think an unsafe flag like `--no-termination-check` in the file itself should override an explicit `--safe` given in an `.agda-lib` file or on the command line?

More generally, I believe in the principle of least confusion for designing language features, and getti

[2021-03-07 22:10] jespercockx commented on #4908
I've updated my comment above with some more flags that we'd need to add to reach the goal of "having a modular --safe flag". As you can see it's starting to become quite a long list. Of course we can discuss the naming of these flags, as well as whether some of them should be merged or split up further. However it's clear to me now that this is not the "quick fix" I thought it was at first.

More

[2021-03-08 10:49] jespercockx commented on #5265
This issue is blocking #4908 as it is currently impossible to ensure that a certain unsafe feature (e.g. `--cumulativity` or `--sized-types`) is off: you can write the negation of the flag, but this can always just be overwritten later so it doesn't provide any guarantees. (I guess `--safe` is currently the only exception to this rule.)

[2021-03-08 10:49] jespercockx commented on #4908
This is blocked by #5265

[2021-03-08 13:14] nad commented on #5265
Whatever conclusion we come to in the end, if `--safe` is given on the command line, then I really think that all unsafe features, in all files, should be disallowed.

[2021-03-08 14:07] jespercockx commented on #5265
I agree, and I think this should not be a special case for `--safe` but apply to all flags that disable a certain feature, e.g. if I write `--no-cumulativity` then I don't want to find out later that this option was overridden somewhere else.

[2021-03-08 14:41] nad commented on #5264
I think it makes sense to, say, disable the termination checker locally for one definition, but I don't see the need to either enable or disable it in files that import the current file. I agree with your [last comment](https://github.com/agda/agda/issues/5264#issuecomment-792275673) above.

[2021-03-09 08:28] jespercockx commented on #5264
I agree that flags such as `--no-termination-check` shouldn't be infective nor coinfective. I made a PR for making more flags infective for the list that I mentioned above (--type-in-type, --omega-in-omega, --injective-type-constructors, --experimental-irrelevance, --cumulativity, and --allow-exec).

[2021-03-09 14:06] gallais commented on #5263
I think it should be possible. We're already doing something similar with
`pushUnderBraces(P/E)` in the pattern fragment. The hard part is
figuring out where in `Agda.Syntax.Concrete.Definitions` to insert
the call to a little cleanup function. :)

[2021-03-09 17:48] andreasabel opened #5268 "Termination error reporting crashes with symlinks"
Scenario:
- A file `a/b/c/Foo.agda` with content
[code]
- A symlink `c` pointing to `a/b/c`.
- Loading `c/Foo.agda` into emacs.
- `C-c C-l`.

Results in:
[code]
The crash occurs when termination errors as supposed to be printed at
https://github.com/agda/agda/blob/8d2c172cc2bc700e6eed993557ae11b19cedf682/src/full/Agda/TypeChecking/Errors.hs#L293-L295
and a module name for the current file is not f

[2021-03-09 20:12] andreasabel opened #5269 "`agda-bisect` does not work with `cabal-install` >= 3.4"
`cabal` dropped the support for sandboxes in 3.4.
`agda-bisect` can only be run by downgrading `cabal` to 3.2 or lower.
In the long run, `agda-bisect` needs to support `v2`-cabal (which does not require sandboxing).

[2021-03-09 20:23] andreasabel commented on #5265
Different flag types may need different overriding behavior.  I agree about `--safe` and its relatives.  I also agree that within a file you shouldn't make contradicting decisions.  For some flags like warnings it makes sense to disable some on the inside that are enabled on the outside, I suppose.

[2021-03-09 20:57] andreasabel commented on #5268
`agda-bisect` says: 055e7a295fb65c7810102f76ad7895fddb653550 is the first bad commit.
Ping @rwe.

[2021-03-09 21:02] andreasabel commented on #5268
A test script to reproduce the problem is here: https://github.com/agda/agda/blob/4f87d3902b5b33a4ad05277b3275170b9efd20e3/test/interaction/Issue5268.sh

[2021-03-10 14:01] andreasabel commented on #5252
Crash here: https://github.com/agda/agda/blob/4f87d3902b5b33a4ad05277b3275170b9efd20e3/src/full/Agda/Interaction/MakeCase.hs#L82

[2021-03-10 14:20] andreasabel commented on #5252
The problem goes away if we supply the argument `A` to `isoToEquiv`:
[code]

[2021-03-10 16:04] rwe commented on #5268
Argh. Thanks @andreasabel for the diagnosis and test case. This is clearly my fault somehow.

Unfortunately I won't likely have a chance to work on this for a little while. It's on my backlog when time frees up, unless someone gets to it first.

[2021-03-10 17:17] andreasabel commented on #5268
If this commit is just an optimization we could revert it for now, and you could fix it when you have time.  Or does something depend on it?

[2021-03-10 17:47] uncle-betty commented on #5268
Just to provide a few more data points:

  * The module-to-file mapping makes it into `stModuleToSource` as follows:

    * `checkModuleName` is evaluated for `.../tmp-issue-5268/sym/Issue5268.agda`, which passes the module name to `findFile'`.

    * `findFile'` in turn passes the module name to `findFile''`, along with a list of directories to search. The directories are `.../tmp-issue-5268/src/

[2021-03-10 18:58] uncle-betty commented on #5268
Correction: While `file <- findFile x` does make the issue go away, it is not because this somehow magically changes the search paths. The search paths stay identical. Good. The world is logical again. (I had modified the test case's `.sh` file in a way that produced this red herring.)

I'll poke around a little more.

[2021-03-10 19:16] andreasabel opened #5271 "Move `src/hTags` to its own repo at `agda/hTags`"
Like https://github.com/agda/fix-whitespace, we should also move `hTags` to its own home at `agda/hTags`, since it is independent of the Agda code base.  We might even release it.

`hTags` is a developer tool that is optional to have, even when working on Agda.  So it should not have an effect like #2983 on Agda or lead to a complication of `Agda.cabal`, see: https://github.com/agda/agda/blob/f9a1

[2021-03-10 19:24] andreasabel commented on #5268
@uncle-betty See also be5cafa4a47d5952d3bc259ba076ce042c67027b where I dropped canonicalization of paths by default.

This does not sound too bad, but it should be marked with some comments as temporary solution.

A more thorough fix could be to keep both a canonical and a non-canonical path around per module, where the non-canonical is only used to access the interface files.

[2021-03-10 20:35] uncle-betty commented on #5268
Ooooh, I see! So the truth is way more prosaic than what I was cooking up.

The `srcOrigin` member of `Source` is the source code path with the symlink intact. However, module source code lookup via `checkModuleName` / `findFile'` constructs the source code path that has the symlink resolved. This version of the source code path gets stashed into `stModuleToSource` by `findFile'`.

Doing the rever

[2021-03-11 07:21] andreasabel commented on #5268
I had the impression that `lookupModuleFromSource` isn't used in many places, and sometimes, like in the OP, it is anyway a hack.  Some of these could be removed if we stored not only the `currentFile`, but also a `currentTopLevelModule`.

[2021-03-11 17:14] rwe commented on #5268
I believe it was just an optimization, but related to @uncle-betty's comment, around that time I was trying to reduce the scope of required `MonadIO`/`TCM` usage where possible.

[2021-03-11 20:11] nad opened #5273 "Disallow quantifier inversion?"
The plan is to make `--sized-types` incompatible with `--safe`, due to longstanding problems. The flag `--guardedness` has another longstanding problem: [quantifier inversion](http://www.cse.chalmers.se/~nad/publications/altenkirch-danielsson-par2010.pdf). Can we fix this problem?

The problem is basically that "μX.νY.F X Y" is interpreted as "νY.μX.F X Y". Here is an example based on one [due to]

[2021-03-12 11:37] berndlosert opened #5274 "Allow let-aliasing of unambiguous data constructors?"
I was trying to implement the `Store` example from Edwin Brady's _State Machines All The Way Down_ paper in Agda. Here is what I came up with:

[code]

(I am using Agda 2.6.1 by the way.) I suppose Agda is getting confused because `Login` uses `LoggedOut` but `ReadSecret` uses `LoggedIn`, so I guess using do notation for this is not possible?

[2021-03-12 11:45] gallais commented on #5274
The problem is that your let-bound aliases get assigned a specialised type:
Agda sees that the telescope starts with a bunch of implicit arguments and
eagerly applies it to metavariables. These then get solved at the first
use of `_>>=_` which gives `_>>=_` the following type:

[code]

You can see that by leaving a hole after `OK <- (...)` and looking at the
context:

[code]

A possible solution i

[2021-03-12 11:53] berndlosert commented on #5274
Wow, that was fast.

Yes, that does work. Thanks a lot for clarifying.

[2021-03-12 12:09] gallais commented on #5274
Actually let me re-open this.

We already have special logic to accomodate aliasing but it does not seem
to kick in for `Bind` presumably because it is a constructor and not a
function and thus it is potentially ambiguous.

However there is a single `Bind` in scope so we should perhaps allow this
kind of aliasing when the constructor is unambiguous.

This suspicion is confirmed by the fact that:

[2021-03-12 17:09] nad commented on #5245
Now I've observed this kind of thing again.

[2021-03-14 14:14] andreasabel commented on #5271
`hTags` now has a home at https://github.com/agda/hTags.
Here is a release candidate: https://hackage.haskell.org/package/hTags-0.1.5/candidate

[2021-03-14 14:49] uncle-betty commented on #5268
I started to add `MonadIO` type class constraints, but stopped after touching a dozen or so functions. This just seemed a bit much.

Instead, I'd like to propose a different fix. See pull request #5275.

The issue with canonicalization in #4828 is that in a path `/a/b/c/Foo.agda` the file name part, `Foo.agda`, is a symlink that gets resolved. In contrast, it seems okay to canonicalize any part of

[2021-03-14 15:45] #5042 closed, assigned to jespercockx

[2021-03-14 16:43] jespercockx commented on #5238
I have implemented my proposed fix, but this causes some examples in the test suite to fail:

- The following example from #1652 is no longer accepted:
[code]
- The examples with postulated rewrite rules in parametrized modules from #3211 and #3538 no longer work, which will probably make @andreasabel sad.
- Likewise, two more examples in `test/Succeed/RewriteConstructorParsAreGeneral.agda` and `t

[2021-03-14 17:17] jespercockx commented on #4778
@UlfNorell do you remember the reason for your changes in e531104ecdfd9efc1e76bf0e9b5f9690f31bcaab? It doesn't reference any issue as far as I can see.

[2021-03-14 19:27] jespercockx commented on #4721
I did some minimization on the test case:
[code]
This produces the following error:
[code]

[2021-03-14 19:30] #4724 closed, assigned to jespercockx

[2021-03-14 20:48] uncle-betty commented on #5245
Oh, wow! So chances are that it'll happen again at some point.

Next time, when you get into this state, let's try to capture the state, i.e., your `.agda` and `.agdai` files.

I guess the biggest challenge will be to capture a consistent snapshot of the `.agdai` files while Agda sits in a tight infinite loop overwriting the `.agdai` files over and over again.

This is on Windows, right? I haven't

[2021-03-14 20:49] andreasabel commented on #5271
The TAGS test on travis still works (https://travis-ci.org/github/agda/agda/jobs/762827837#L9899), at least, where travis works (8.6 and 8.4 timed out; 8.2 is broken, failing at install-deps).

As long as the fate of our travis CI isn't clear, I am not touching the magic in the Agda.cabal file (see OP comment).

Any opinions on whether we should release `hTags` or not?

[2021-03-15 06:37] andreasabel commented on #4724
Thanks!

[2021-03-15 06:51] andreasabel commented on #5238
If rewrite rules are to be subjected to a more strict discipline, we should give the user a way to opt out of security, like we have for the termination and positivity checker.

Yeah, these can be a problem.
In situations where you have a check that reports an error, but you can override the check by force, this is maybe not too bad, though.

That reminds me that we have an inhabitation check, cal

[2021-03-15 07:01] andreasabel commented on #5205
Apparently, the bug was also fixed upstream in acmart now: https://github.com/borisveytsman/acmart/issues/421

[2021-03-15 07:10] andreasabel commented on #4339
Being an `instance`-skeptic, I append `where open M` to my functions using do-notation, where `M` is the module defining the monad I want to use.  Qualified `do` would make this less noisy, and also allow different monads with `do` in the same function.

[2021-03-15 07:28] UlfNorell commented on #4339
I'm not a fan of reopening and repurposing old issues. To figure out that this issues is (now) about qualified `do` you have to scroll down pretty far, through a bunch of discussion on instance resolution. Please open a fresh issue and link to this one for context.

[2021-03-15 07:33] UlfNorell commented on #5271
I don't see any reasons not to release it. We are going to keep it up-to-date for ourselves, so might as well share it with the community.

[2021-03-15 07:43] UlfNorell commented on #4778
It was in the context of the new forcing translation. I don't remember exactly, but I believe the test suite failed checking with-functions due to incorrect hiding information.

[2021-03-15 12:01] andreasabel commented on #5271
Let's continue at https://github.com/agda/hTags/issues/1.

[2021-03-15 14:54] #4521 closed, assigned to nad, uncle-betty

[2021-03-16 12:27] nad commented on #5245
I had already saved a `_build` directory which exhibits problematic behaviour. If you download [`issue5245.tgz`](http://www.cse.chalmers.se/~nad/issue5245.tgz) (which I might remove soon), unpack the files, go into the directory `issue5245` and run the following command with Agda 2.6.2-0caec01, then you should see repetitive output (but not `Failed to validate just-loaded interface`):
[code]

[2021-03-16 16:44] uncle-betty commented on #5245
Oh, great! Thanks a bunch! I downloaded the file and I am able to reproduce the issue.

[2021-03-16 21:38] uncle-betty commented on #5245
When I undo the fix for #5161 and then try to reproduce the issue with @nad's `.tgz` file, Agda aborts pretty early with the following message instead of going into a loop:

[code]

I think that the loop that Agda seemingly goes into isn't actually a loop. To me it looks like Agda just type checks `Delay-monad.Bisimilarity` over and over again, because a lot of other files import it - directly or

[2021-03-17 00:50] martinescardo commented on #1625
I am still having trouble with this issue.

The files that @tomdjong mentions above in his experiments now take forever without the flag --experimental-lossy-unification in Agda 2.6.2 9599ddf (I waited for 30min), whereas in agda 2.6.1 the *whole* repository type checks in 3 min 30 sec only (without that flag, which is not available).

Moreover, the behaviour of this experimental flag is a bit str

[2021-03-17 05:47] andreasabel commented on #5273
Yeah, this one is really bad.  It causes `data` to not be a congruence on types.  Isomorphic types are mapped to very distinct types by `data`.
[code]
Maybe this is `--safe` for whatever definition of "safe".  Maybe as safe as a lunatic locked into an asylum.

Likely parity games can fix the guardedness checker, the answer should be somewhere in Luigi Santocanale's work.  Maybe start reading here:

[2021-03-17 05:52] #5268 closed, assigned to nobody

[2021-03-17 06:00] andreasabel commented on #5258
Looks like @L-TChen 's patch 8d2c172cc2bc700e6eed993557ae11b19cedf682 has fixed the problem: https://github.com/agda/agda/actions/runs/631557577

[2021-03-17 06:02] #5262 closed, assigned to nobody

[2021-03-17 08:28] ajrouvoet opened #5277 "Agda reports signature ambiguity for clause that seems unambiguous to me"
I mistakenly wrote the following, forgetting the `variable` block:

[code]

For which Agda produces the following error:

[code]

I would expect Agda to instead just report that a definition is missing for the signature A.

[2021-03-17 09:08] UlfNorell commented on #4857
This turned into quite the rabbit hole. The code that generated module application display forms was broken and completely impenetrable. PR to fix the problem and make things more sane.

[2021-03-17 09:10] L-TChen commented on #5258
@andreasabel it is only a temporary fix.

The problem is that `stack` calculates the hash of dependencies and *something else* which changes from time to time, even though the generated lock file `stack-x.y.z.yaml.lock` is the same. However, as the GitHub workflow `test.yml` caches the global store of `stack` using the hash of `stack-x.y.z.yaml.lock` as key only, `stack` apparently creates a new g

[2021-03-17 09:41] Saizan commented on #1625
@martinescardo We should investigate the regression, you should know though that you can apply the flag to a module by including it into the `{-# OPTIONS ... #-}` pragma at the top.

[2021-03-17 09:53] martinescardo commented on #1625
Many thanks for investigating this.

(Because I am using 2.6.1, where the flag is not available, it would be inconvenient to add this in the offending modules to test 2.6.2. I am testing 2.6.2 because it is intended to be released in May - is that correct?)

[2021-03-17 10:41] nad commented on #5245
I think that the type error is due to a recent change to Agda, and that I used an older version of Agda when I got the `Failed to validate just-loaded interface` message.

[2021-03-17 11:01] gallais commented on #5277
The grouping strategy in (implicit but also interleaved) mutual blocks is very crude
as mixfix identifiers only get parsed during scopechecking. It looks at a LHS and
identifies candidates for grouping by checking whether any collection of subexpressions
makes up the name of the function. Hence both `Pred` and `A` being candidates here.

I think the principled solution here would be to retire impl

[2021-03-17 12:19] JacquesCarette commented on #5273
Let me ask what is likely to be a rather silly question: if we were doing first-order logic, some of the things above would have non-standard models. So it wouldn't be surprising that two things that are only equal on their standard part are not in fact equal, because you haven't tested them on "all the points".  [I do realize that the logic of dependent types is radically different and these kind

[2021-03-17 13:38] jespercockx opened #5279 "Performance regression on master"
In #1625, @martinescardo reports the following:

I think this is probably a separate issue, which is why I'm creating this one.

[2021-03-17 14:08] jespercockx commented on #5238
To make the examples from #3211 and #3538 work, we could reconstruct the parameters of the constructor when we check the rewrite rule, and consider all the pattern variables in these parameters as "bound" for the purpose of checking that all arguments of the rewrite rule are bound in the LHS.

[2021-03-17 14:34] jespercockx commented on #4613
Could someone using NixOS test if this is still a problem? I introduced a caching mechanism for .agda-lib files which should make it a lot faster, but I'm not sure if that's enough to fix the issue here.

[2021-03-17 14:35] alexarice commented on #4613
Is this caching in a release or on master?

[2021-03-17 15:40] nad commented on #5273
My suggestion was to do something simple, that might not give us the full power of nested quantifiers, but would hopefully at least fix the known problem.

[2021-03-17 15:52] martinescardo commented on #5279
Thanks, @jespercockx .

In the repository [TypeTopology](https://github.com/martinescardo/TypeTopology), adding --experimental-lossy-unification in just the module DcpoConstructions.lagda makes the whole repository type check in 4m43s with Agda 2.6.2. After removing DcpoConstructions.agdai and running Agda 2.6.2, we get 13 seconds to type check just this module. Without that flag, I waited for 78m

[2021-03-17 17:07] martinescardo commented on #5279
I know exactly where this is happening. It is in the function `S₀ᵈᶜᵖᵒ` in the module DcpoConstructions.lagda. After the helper definition `γ₁ = ∐-is-lowerbound-of-upperbounds 𝓕 ε₁ y γ₂`, type checking gets stuck with Agda 2.6.2. If I replace `γ₂` by a hole, and delete all the helper functions after that, needed to define `γ₂`, type checking succeeds. Now if we just add ` γ₂` with its type by a hol

[2021-03-17 17:42] jespercockx commented on #5279
Right. I guess that if you use `--no-syntactic-equality`, then things are slow on both versions of Agda? If that's the case then this is really caused by the fundamental brittleness of the shortcut rule in the conversion checker.

[2021-03-17 17:48] martinescardo commented on #5279
In Agda 2.6.1, this fails in 0.2s with `Failed to solve the following constraints: univSort 𝓤ω = univSort 𝓤ω` in a module that defines the empty type.

(What does this flag do?)

[2021-03-17 17:58] martinescardo commented on #5279
Then in Agda 2.6.2 I get
[code]

[2021-03-17 18:01] martinescardo commented on #5279
But then this is strange. I also compiled Agda 2.6.2 today in a laptop, and it didn't give the impossibility error, but it is stuck forever in the type checking of another module (MGS-Subsingleton-Theorems) with the flag you asked.

[2021-03-17 18:11] martinescardo commented on #5279
So far none of the versions of Agda I have has managed  to terminate  with `--no-syntactic-equality`, except the ones which gave an error.

[2021-03-17 18:12] martinescardo commented on #5279
Interestingly, they get stuck at different modules.

[2021-03-17 19:00] jespercockx commented on #4613
It is only on master at the moment.

[2021-03-17 19:12] jespercockx commented on #5279
It turns off the syntactic equality shortcut in the conversion checking. The idea is that this makes typechecking probably slower, but the performance becomes less dependent on small changes between different versions of the code. Unfortunately (as you have noticed) there are some bugs that cause typechecking to fail when syntactic equality checking is turned off. If you do find such a case (prefe

[2021-03-17 19:21] alexarice commented on #4613
Ok, I'll get that compiling

[2021-03-17 19:31] nad commented on #5279
I could make your code typecheck with Agda 2.6.2-0eaf439 by replacing
[code]
with the following code:
[code]
Using interactive highlighting I could observe that Agda had trouble typechecking `e₂`, and when I commented out its body (and some other code) Agda failed to infer the value of `α`.

[2021-03-17 19:39] jespercockx commented on #5279
While trying to find what could be the cause of this regression, I stumbled upon a small bug in the syntactic equality checker: in https://github.com/agda/agda/blob/0eaf4390361dce47e1200c4676d4b67c17710085/src/full/Agda/TypeChecking/SyntacticEquality.hs#L170-L173, the modalities should be compared using `sameModality` rather than `==`. While I've tested that this is not the actual cause of the reg

[2021-03-17 20:14] guilhermehas commented on #4613
Agda test in NixOS maybe can help:
https://github.com/NixOS/nixpkgs/blob/master/nixos/tests/agda.nix

[2021-03-17 20:17] alexarice commented on #4613
Running it now, but I can't see how the change will help with issue as the problem was another .agda-lib file being upstream from the primitives files. Perhaps you meant to test the issue with agda being very slow without --local-interfaces @jespercockx ?

[2021-03-17 20:22] alexarice commented on #4613
No change with this issue between 2.6.1.3 and master. In summary this issue occurs when there is an .agda-lib file in the nix store. Agda then notices this as being upstream from the primitives files (which have no .agda-lib) and tries to use the nix-store as their upstream library. This breaks everything.

To reproduce:
[code]
Fails with the error:
[code]

[2021-03-17 20:46] martinescardo commented on #5279
Excellent.

With this modification, the whole repository type checks in

 * 3m45s in Agda 2.6.1 (same time as before) and
 * 5m2s with Agda 2.6.2 (which before was infinity for all practical purposes (without --experimental-lossy-unification)).

But I wonder why 2.6.1 can infer this implicit argument and 2.6.2 can't. By the way, I had already fixed two files for which 2.6.2 couldn't infer undeclar

[2021-03-17 20:48] alexarice commented on #4613
wrt https://github.com/NixOS/nixpkgs/issues/83864, I can confirm that some combination of changes on master vastly speed up loading of primitive modules without --local-interfaces (assuming there is no .agda-lib file in the nix store).

[2021-03-17 20:48] martinescardo commented on #5279
This error was not one of Agda but of installing too many Agda's with cabal - I got it afterwards also without the flag --no-syntactic-equality. So I had to recompile the development version of Agda to perform the above time measurements.

[2021-03-17 21:59] gallais commented on #3790
Let me reopen this with another concrete example:

[code]

[2021-03-18 06:11] andreasabel commented on #5273
Maybe the parity games solution isn't more complicated than what you suggested.

[2021-03-18 06:22] andreasabel commented on #5236
I am intending to fix #1145 in April, which would also fix the present issue.

[2021-03-18 09:59] txa commented on #5273
Maybe not but do you know how?

Sent from my iPhone

On 18 Mar 2021, at 06:13, Andreas Abel ***@***.***> wrote:

﻿

Maybe the parity games solution isn't more complicated than what you suggested.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/agda/agda/issues/5273#issuecomment-801658824>, or unsubscribe<https://github.com/no

[2021-03-18 10:00] txa commented on #5273
Actually the problem doesn’t show up with copatterns - right?!

Sent from my iPhone

On 18 Mar 2021, at 09:59, Thorsten Altenkirch ***@***.***> wrote:

﻿ Maybe not but do you know how?

Sent from my iPhone

On 18 Mar 2021, at 06:13, Andreas Abel ***@***.***> wrote:

﻿

Maybe the parity games solution isn't more complicated than what you suggested.

—
You are receiving this because you were mention

[2021-03-18 11:21] googleson78 opened #5281 "Order of filling holes changes whether Agda accepts a program (via Give)"
I have no idea how to search for this, so sorry if this is a dupe.

For the following program:
[code]

I cannot fill (via Give) the hole. However, if I first delete the `refl` in the second case of `vTake-id`, then fill the hole, and then reintroduce the `refl`, everything works fine. (I can also manually delete the hole and input the correct program, and Agda will accept it.)

[2021-03-18 12:47] nad commented on #5273
The example in the OP uses copatterns.

[2021-03-18 12:59] txa commented on #5273
Ah sorry. But then can you translate our example into copattern. Wasn’t this just unsound?

From: Nils Anders Danielsson ***@***.***>
Reply to: agda/agda ***@***.***>
Date: Thursday, 18 March 2021 at 12:50
To: agda/agda ***@***.***>
Cc: ***@***.***" <txa@Cs.Nott.AC.UK>, Mention ***@***.***>
Subject: Re: [agda/agda] Disallow quantifier inversion? (#5273)

The example in the OP uses copatterns.

—
Y

[2021-03-18 13:09] nad commented on #5273
I'm not sure what you have in mind. Can you elaborate?

[2021-03-18 13:31] txa commented on #5273
Ok, our example doesn't proof False either. But why is this sound?

[2021-03-18 13:52] nad commented on #5273
I don't think anyone is claiming that it is sound. However, in the note that you and I wrote we suggest a way to perhaps make sense of things.

[2021-03-18 13:53] nad commented on #5273
Note that I opened this issue because I want Agda to be changed so that our example is rejected.

[2021-03-18 14:28] UlfNorell commented on #5281
The problem is that without filling the hole in `<=-refl`, the rewrite doesn't fire properly (since the call to `vTake` does not reduce). That means that the constraint you get on the `refl` in the last clause (notice how it's yellow) is not the one you want, and it fails once you fill in the hole.

I'm not sure there's anything that we can do about this. It's not feasible to recheck the entire re

[2021-03-18 15:19] ajrouvoet commented on #2822
While this is not yet solved, should the interaction not just refuse to pattern match on the result when a with pattern is present?

[2021-03-18 15:53] txa commented on #5273
Yes, I see. I was under the mistaken belief that it was a consequence of the musical notation but now I know better. Thank you. I haven't thought about this for a while.

[2021-03-18 18:51] nad commented on #4959
If work on this issue has stalled, then I suggest that we undo the fix of #4647.

[2021-03-18 20:42] uncle-betty commented on #5245
I was able to create an MWE for *an* infinite `options changed` loop, which I have attached. It works with current `master`. I don't know, of course, whether this is the same as @nad's infinite `options changed` loop.

I don't fully understand the details yet. I first need to get a better understanding of pragma option handling for imports.

In any case, the issue seems related to changing options

[2021-03-18 22:11] nad commented on #5245
Yes, I think so.

[2021-03-19 09:20] andreasabel commented on #5273
When I visited Chambery in 2017 I discussed with Pierre Hyvernat a bit how parity games could fix the guardedness checker.  Unfortunately, I have forgotten everything in the mean time and would have to dig into this from the start.

[2021-03-19 09:43] #4857 closed, assigned to UlfNorell

[2021-03-19 09:44] #3672 closed, assigned to UlfNorell

[2021-03-19 20:13] #5238 closed, assigned to jespercockx

[2021-03-19 21:15] uncle-betty commented on #5245
I'd like to propose a fix.

Here's what's going on in the MWE:

  * It contains three libraries - `main`, `a`, and `b` - with modules `Main`, `ModA`, and `ModB`.
  * `main` depends on `a`, `Main` imports `ModA`.
  * `a` depends on `b`, `ModA` imports `ModB`.
  * Initially `--safe` is enabled via the libraries' `.agda-lib` files. A first type check of `Main` (and, transitively, `ModA` and `ModB`) c

[2021-03-20 18:58] awkure opened #5282 "Pattern matching lambdas are not alpha equivalent"
I've been playing around denotational semantics for untyped lambdas and stuck upon the following issue, consider the code
[code]

Here if we try to solve the whole via agsy the following error arises

[code]

Agsy suggests inserting

[code]

Into the hole, but then compilation fails with

[code]

If I try to concretize it by adding `λ _ → {!!}` for the robot, it generates unacceptable code

[code]

[2021-03-21 06:54] guilhermehas opened #5283 "Tactic command runs forever"
When I try to compile this program, it never finishes:
[code]

[2021-03-22 11:02] oisdk opened #5284 "Allowing Non-Strict Positivity?"
I'm wondering if it would be possible to add a flag which allows types like the following, which are positive (but not strictly positive):

[code]

As I understand it, such types are probably safe in Agda (https://vilhelms.github.io/posts/why-must-inductive-types-be-strictly-positive/), but there's no way (that I'm aware of) to allow them but disallow the unsafe variants like:

[code]

[2021-03-22 11:43] gallais commented on #5284
Not a satisfactory answer but you can use a `{-# NO_POSITIVITY_CHECK #-}` pragma
next to this definition and it won't turn positivity checking off for the rest of
the definitions.

[2021-03-23 15:54] UlfNorell commented on #2067
Note: fixing #958 brings back the `M₁.Mm.A n` in the last case.

[2021-03-24 15:54] ice1000 commented on #3733
Is https://staff.math.su.se/anders.mortberg/papers/cubicalagda2.pdf (sec 3.2.4) a formalization of this work?

[2021-03-24 18:15] ajrouvoet opened #5286 "Wrong error location with do notation and parse error in lhs"
Monadic programs in do-notation with a pattern on the lhs of a `<-` are correctly reported as 'Could not parse the left-hand side', but the right-hand side is highlighted red.

[2021-03-24 21:48] #5286 closed, assigned to gallais

[2021-03-25 09:34] Saizan commented on #3733
Yeah, that's it

[2021-03-25 10:01] #4088 closed, assigned to gallais

[2021-03-26 11:05] Taneb opened #5288 "Very weird behaviour with compiled Data.Nat.Show.readMaybe"
If I compile this little program with the GHC backend:

[code]

I expect it to output `100` but for me it's outputting `40001172323904`

Because every bit of this seems to be working fine if I `C-c C-n` in emacs, I think this is a bug with either some primitives or the compiler. It happens with `readMaybe` and any two-or-more-digit number

[2021-03-26 11:23] Taneb commented on #5288
Further investigation makes it seem like it's using some arbitrary number (here, `6324648`) rather than the given base

[2021-03-26 13:34] nad commented on #5288
The generated code for `readMaybe` throws away the base:
[code]

[2021-03-26 13:39] nad commented on #5288
The code for `readMaybe` includes the following part:
[code]
Here is the code that is generated for `convert`:
[code]
Here the base is included. However, when `du18` is called a bogus argument is used:
[code]
Here `v0` corresponds to the hidden second argument of `readMaybe`:
[code]

[2021-03-26 14:33] nad commented on #5288
Here are some cut-down examples:
[code]
The compiled code:
[code]

[2021-03-26 16:05] nad commented on #5288
The compilation to tree-less syntax seems to be buggy:
[code]

[2021-03-26 17:29] andreasabel commented on #5288
This MWE should print `123` but prints `1`, all the way through Agda 2.5.3 -- 2.6.2.
[code]
@nad wrote:

I already do not understand the the second compiled clause.  The `λ _ ->` looks weird, imo.  The variable that is abstracted here is already in scope, because how could we otherwise case on it?  Maybe the compiled clauses are a slightly unusual concept...

[2021-03-26 17:55] andreasabel opened #5290 "Code smell: `CompiledClause.Case` does not express invariants"
It seems like with the advent of new fields like `etaBranch` and `lazyMatch`, the `Case` data type does not statically enforce the invariants it could:
https://github.com/agda/agda/blob/ecb93230ad9327991e542731756cbe1405c85d5f/src/full/Agda/TypeChecking/CompiledClause.hs#L40-L59
I'd think there should be separate constructors for what is now held in `etaBranch` and `lazyMatch`.

[2021-03-26 18:29] gallais commented on #5288
I guess the assumption was that all of the vars introduced on the RHS were there
because of a refined type, not because of an unsaturated LHS compared to other
equations.

[2021-03-27 07:50] gergoerdi opened #5291 "`match` doesn't work for non-prefix-free cases"
See [this Stack Overflow question](https://stackoverflow.com/q/66816547/477476), where someone discovered that `'\SO'` doesn't parse as a `Char` literal. I've tracked it down to `Agda.Syntax.Parser.LookAhead.match`, which doesn't seem to work for non-prefix-free branches:

[code]

As we can see, parsing `"FO"` fails even though it is one of the branches.

Moving `"FO"` to be in front of `"FOO"` in

[2021-03-28 16:26] #3961 closed, assigned to jespercockx

[2021-03-29 07:28] #958 closed, assigned to UlfNorell

[2021-03-29 12:13] #3553 closed, assigned to jespercockx, L-TChen

[2021-03-29 13:14] JasonGross opened #5293 "C-c C-s (solve constraints) infers the incorrect module to project from"
Consider
[code]
`C-c C-s` generated the `C.Iso.fwd f` for me, but it's incorrect and when `C-c C-s` attempts to refine I get the error message
[code]
It seems that the solver just looks for the most recently declared module of the relevant type or something?  Switching `module D = Cat D` and `module C = Cat C` results in the correct inference.

I'm running Agda version 2.6.1.2

[2021-03-30 11:16] nad opened #5294 "Internal error related to display forms"
The following code triggers an internal error:
[code]
[code]
This is a regression. The triggered `__IMPOSSIBLE__` was introduced very recently (f70164345fe33f45cef5b5a6924b6a2f9604cf62). Agda 2.6.1 prints the following error message:
[code]
If the module `Unused` is removed, then Agda 2.6.2-7cfab23 prints the following error message:
[code]

[2021-03-30 18:07] #5155 closed, assigned to uncle-betty

[2021-03-31 08:41] #5294 closed, assigned to nobody

[2021-03-31 08:41] #4779 closed, assigned to UlfNorell

[2021-03-31 12:21] andreasabel commented on #5293
Without further investigation, I would guess this is a display-form issue.
So Agda decides to print `Cat.Iso.fwd f` as `C.Iso.fwd f`, based on the display forms introduced by the module aliases `module D = Cat D` and `module C = Cat C`.

E.g., this works:
[code]

[2021-03-31 12:39] jespercockx commented on #5245
I think it would be worth it to try out this fix, so could you please make a PR?

[2021-03-31 12:49] jespercockx commented on #5252
Maybe it would be better to disable the current hacky code that rechecks a clause before case splitting, and instead just throw an error when the user tries to split on a variable in a forced position. This is not the nicest thing to do, but at least it would be principled.

[2021-03-31 12:50] andreasabel commented on #4638
I'll look into the JS compilation issue.

[2021-03-31 12:52] jespercockx commented on #5258
Since this is unrelated to the release of 2.6.2, I've changed the milestone to `icebox`.

[2021-03-31 12:55] jespercockx commented on #5274
@gallais I assume this is not critical for the next release, so I'm bumping this to 2.6.3.

[2021-03-31 13:21] gallais commented on #5274
I had a quick look at the time and could not figure out where the issue was coming from.
So there are indeed few chances it'll be fixed by the next release.

[2021-03-31 14:17] uncle-betty commented on #5245
Great! Thanks for the guidance, @jespercockx.

[2021-04-01 03:02] asr opened #5297 "Build fails with stack and GHC 9.0.1"
Agda doesn't build with stack and GHC 9.0.1 because https://github.com/commercialhaskell/stack/issues/5516 (which includes the fix for commercialhaskell/stack#5486).

[2021-04-01 03:14] asr commented on #4955
I filed #5297 for the issue with stack.

[2021-04-01 03:14] #4955 closed, assigned to asr

[2021-04-01 03:27] asr opened #5298 "Add some warnings (if necessary) for GHC 8.8.6, 8.8.4 and 8.10.4"
Since in `Agda.cabal` we disable all the warnings, I'll see if we can/need to enable other warnings.

[2021-04-01 07:40] jespercockx opened #5299 "Postfix projections are not documented"
It seems the user manual is missing an explanation of postfix notation for record projections. Searching for `postfix` gives the flag `--postfix-projections` as the only result, but it does not actually explain the syntax anywhere.

[2021-04-01 08:18] gallais commented on #5299
There is a bit of documentation here: https://agda.readthedocs.io/en/latest/language/record-types.html?highlight=suffix

[2021-04-01 15:19] jespercockx opened #5300 "Cannot resolve overloaded projection"
I'm wondering wheter it's Agda or me who's being unreasonable in this example:
[code]
The error I'm getting is the following:
[code]
This seems unreasonable because (1) the projection is already fully applied, so I cannot apply it to a visible argument, and (2) both resolutions of the projection point to the same field, so there is no actual ambiguity. I wonder if Agda could be made a bit smarter

[2021-04-01 16:11] jespercockx opened #5301 "Generalizable variables with instance arguments in their type"
I'd like to be able to define a generalizable variable whose type takes an instance argument, which is resolved at the use site of the generalizable variable. Here's an example of what I'd like to be able to write:

[code]
Currently this raises an error at the position where `x` is declared:
[code]
If the instance search could be deferred to the place where `x` is used, then this example would wor

[2021-04-02 09:18] andreasabel commented on #4955
Great, done!

[2021-04-03 05:22] mietek commented on #2369
<img width="656" alt="Screen Shot 2021-04-03 at 07 21 52" src="https://user-images.githubusercontent.com/166207/113469375-4a027600-944d-11eb-8397-51644589a54a.png">

Still there in 2.6.1.3.

[2021-04-03 20:17] jespercockx commented on #4778
Here are a couple of other related test cases:
- With further refinement:
[code]
- With variable instead of dot pattern:
[code]
- With wildcard pattern:
[code]
We should preserve not just dots, but also variables and wildcards. Basically, the only thing that should happen is replacing variables by dot patterns, but not by other things.

[2021-04-04 11:30] rdck opened #5302 "building tests with cabal"
What's the correct way to build the tests with cabal?

AFAIK, the `install-bin` target should create `agda-tests` in the build directory, if everything is working correctly. But it doesn't. I noticed that there aren't any test suites defined in `Agda.cabal`, but I'm not sure if that's the reason.

Here's the log for `make test`:
[code]

I'm on the latest release (`2.6.1.3`).

[2021-04-04 19:13] jespercockx opened #5303 "Ill-typed pattern after with-abstraction goes (sometimes) undetected"
I am working on a fix for #4778 and going down a bit of a rabbit hole of how with-abstraction is implemented. Somewhere deep in this rabbit hole I stumbled upon the following example (based on `test/succeed/Issue252.agda`):
[code]
This code is currently accepted, but if you ask Agda for the context of the hole we can notice something curious:
[code]
`d` has type `D zero`, but that means the patter

[2021-04-05 10:26] jespercockx commented on #4778
This is very frustrating. I was working on a general fix to the issues I posted above but it seems no matter what I change to the code for stripping the with patterns in `With.hs`, I always introduce some other problem. It's like playing whack-a-mode. I now believe the whole `stripWithClausePatterns` function should be burned to the ground and replaced with a much simpler and general approach that

[2021-04-05 11:13] gallais commented on #2369
Is it reproducible? If so can you please test https://github.com/gallais/agda/commit/ad5a8c2cad00d8d6fcf67520030cb15dfd5ae32b ?

I wonder whether we can do away with this error completely and simply raise a warning.
It may be necessary to check `--allow-unsolved-metas` is not incompatible with the file's
options though otherwise we may end up accepting holey files as if they were `--safe`...

[2021-04-05 15:36] martinescardo commented on #5279
I am adding one more example. This file takes for ever in agda-2.6.2-0eaf439 (and about 1min in the same machine used for the above tests): https://github.com/martinescardo/HoTT-UF-Agda-Lecture-Notes/blob/master/HoTT-UF-Agda.lagda

[2021-04-06 09:44] nad commented on #5279
I suspect this is related to the fix of #418 (which is [documented](https://github.com/agda/agda/commit/0bd2e684b58c40dd07be7d0453902b4d0b96b66f)). Agda no longer infers the types of `i`, `ii` and `iii` in the following piece of code:
[code]
If you give the type signatures explicitly, then Agda has no problem checking your code.

If Agda had printed a warning as soon as it left a mutual block with

[2021-04-06 10:04] nad opened #5304 "Agda infers types that are not unique"
[Elsewhere](https://github.com/agda/agda/issues/418#issuecomment-787843267) I wrote the following:

However, the inferred type is not unique. The question mark above can be replaced by both `Set` and `λ {a} → Set a` (but only the first piece of code can be "given" after the module has been loaded). In the first case the type of `B` is `Set₁`, in the second case it is `{a : Level} → Set (lsuc a)` (

[2021-04-06 10:08] nad commented on #418
As noted elsewhere (#5304) the inferred type is not unique. Thus I do not think that Agda should infer the type of `B` in the following piece of code:
[code]
However, perhaps it would make sense to infer the value of the underscore in the code below:
[code]

[2021-04-06 10:39] martinescardo commented on #5279
I see. Certainly it would help a lot if we got a warning rather than an infinitely long wait.  If this is easy to implement, it would be most welcome. Thanks.

[2021-04-06 10:43] martinescardo commented on #5279
On a side note, it would be helpful to document more precisely what `abstract` (doesn't) do. Sometimes I find myself trying to use `abstract` to speed-up type-checking, but it feels like shooting in the dark.  What is precisely the semantics of abstract?

[2021-04-06 10:56] martinescardo commented on #5279
OK. So, instead of adding the type signature to `i`, `ii`, and `iii`, I can move down the `abstract` keyword to make only `s` abstract. With Agda 2.6.1, this makes type checking to take 1m3s for this giant file, and  Agda 2.6.2-0eaf439 to take 1min5s, which can be considered to be the same amount of time. This is great.

I wonder if the proposed warning above could help me to improve the performan

[2021-04-06 11:14] nad commented on #5279
Perhaps you could try the following workflow:
* Turn on interactive highlighting.
* Whenever any piece of code typechecks slowly (when it is highlighted more than momentarily), find the cause of this, and change the code so that it is typechecked quickly.

If you have trouble finding the cause, feel free to ask. Using `abstract` is one way to make code typecheck faster, but not the only one. Did y

[2021-04-06 11:17] nad commented on #2514
As discussed [elsewhere](https://github.com/agda/agda/issues/5279#issuecomment-813984791) it might be easier to identify the cause of a performance regression in existing code if Agda warned about unsolved meta-variables as soon as possible. How hard would this be to implement?

[2021-04-06 12:57] nad commented on #4701
An alternative to the idea to check which things are reachable from `main`, based on a discussion with @andreasabel:
* Make it possible to have erased import statements: every symbol brought into scope by such a statement would be erased.
* Add a flag `--erased-cubical`, which enables a variant of  Cubical Agda in which cubical features are only allowed in erased settings. This flag is coinfective

[2021-04-06 12:58] martinescardo commented on #5279
Thanks. Now `TypeTopology` takes for ever after Tom de Jong added the circle following  Bezem, Buchholtz, Grayson and Shulman. In Agda 2.6.1, this adds 15s. In 2.6.2 it requires a larger heap, and then takes for ever. There seems to be a fundamental change from 2.6.1 to 2.6.2. What is it?

[2021-04-06 13:06] JacquesCarette commented on #4701
Ooh, nice. Propositional truncation is probably the one thing outside core Agda that I'd really like to be able to use.

[2021-04-06 13:47] nad commented on #4727
This has not been completely fixed yet. The following code is accepted:
[code]
The result of normalising `bad` is `p c`.

The following variant of the code is rejected:
[code]
[code]

[2021-04-06 14:08] UlfNorell commented on #418
This whole issue is about how we cannot do type inference for (private) abstract functions. Why do you think we should lift that restriction in this particular case?

[2021-04-06 14:09] jespercockx commented on #4727
The fix I implemented only prevents the case where a non-erased metavariable *indirectly* gets an erased solution via another (erased) metavariable. It seems that when erased constructors were implemented, the *direct* check for instantiating a metavariable with a solution containing an erased constructor was not implemented. The check should be inserted at https://github.com/agda/agda/blob/75d82f

[2021-04-06 14:11] nad commented on #5279
Now I'm only guessing, but perhaps an implicit argument is solved differently due to some change to Agda's unification machinery, and perhaps this means that Agda works hard to try to establish whether two expressions, that were previously syntactically equal, reduce to the same normal form.

If you want to avoid this particular problem, then you could develop your code using `--no-syntactic-equal

[2021-04-06 14:13] jespercockx commented on #418
Presumably it's because in this case you don't need to look at the *body* of the abstract definition, it is enough to look at the place where it is *used* to infer the metavariable. However, implementing this in a sensible way while ensuring that the definition itself does not influence the inference looks like it could be somewhat gnarly.

[2021-04-06 14:15] nad commented on #418
I just noted one instance in which it might make sense for Agda to be a little smarter, in the absence of more compelling use cases I don't think we should take any action on this.

[2021-04-06 14:15] UlfNorell commented on #5304
This is the standing issue we have with first class implicit function types, right? (#1079)

[2021-04-06 14:23] nad commented on #5304
It is at least related.

[2021-04-06 14:29] nad opened #5305 "Generalisation fails with --no-syntactic-equality"
The following code is rejected, but accepted if `--no-syntactic-equality` is removed:
[code]
If `{f : A → B}` is prepended to the final type signature, then the code is accepted, so this seems to have something to do with generalisation.

[2021-04-06 14:32] nad commented on #2514
Ideally this should be done also for imported modules, not only the top-level one.

[2021-04-06 16:14] martinescardo commented on #5279
@tomdjong managed to make the circle work in the development version of Agda in reasonable time by a few changes including `abstract`. Still, the time is much slower than in Agda 2.6.1. I tried `--no-syntactic-equality`. This makes Agda 2.6.1 fail, and the development version to go for ever after requiring an increased heap. I did try to find out the cause of the slow down. But there are 74k lines

[2021-04-06 17:08] martinescardo commented on #5279
The attached file [times-modules-comparison-sorted.txt](https://github.com/agda/agda/files/6266401/times-modules-comparison-sorted.txt) has a side-by-side comparison of the time taken for each of the 228 modules in `TypeTopology` with Agda 2.6.1 and the development version of Agda (2.6.2-0eaf439). You can see that the development version takes consistently longer in each module, and significantly

[2021-04-06 18:28] nad commented on #5279
If you want to use `--no-syntactic-equality`, then I think you have to drop support for Agda 2.6.1. Furthermore you will have to change the code: the point of `--no-syntactic-equality` is not to make Agda faster, but less brittle. If you manage to make your code typecheck quickly using `--no-syntactic-equality`, then I think it is less likely that you will encounter massive performance regressions

[2021-04-06 19:08] martinescardo commented on #5279
It may not be very practical to rewrite 56k lines of code, though...

[2021-04-06 19:10] martinescardo commented on #5279
And given that all of the 228 modules got slower, I would expect everybody's developments to get slower. Has the Agda standard library been compared for performance with 2.6.1 and 2.6.2?

[2021-04-06 20:47] #4727 closed, assigned to nad, jespercockx

[2021-04-06 20:55] nad commented on #5279
I don't think the standard library builds using both versions of Agda.

I tested your code (commit f79683638d8783180994a0543a9a3795959dae44) using Agda 2.6.1 and 2.6.2-0a98fe0, and the slowdown was about 22%, whereas in your case it was about 52%. Did you run anything else while running the tests?

[2021-04-07 01:59] martinescardo commented on #5279
I've run `git bisect` on the Agda code base, and found that a commit that caused the performance regression in `TypeTopology` is 2f212bf5568a8d408f3b3a8d3cb87a6fa6e6b3a1 ("Add --auto-inline and make it off by default"), addressing issue #4681.

Before that commit, `TypeTopology` type checks in 4m. At that commit (and for many commits afterwards), `TypeTopology` type checks in 4m30s.

In the curren

[2021-04-07 11:44] nad commented on #4681
The documentation of `INLINE` should be changed. Currently it states that "Definitions are automatically marked `INLINE` if they satisfy [certain criteria]".

[2021-04-07 11:51] Saizan commented on #5092
The original code now works as expected with commit 75d82f728dbb65a826e09a37dc313a7a132e1933 , probably as a result of #5278

The problem persists when `--postfix-projections` is turned on though.

[2021-04-07 12:33] nad commented on #5279
I noticed that you use code of the following form:
[code]
Here, if `p ∙ q` is reduced, but `lhs p` is not inlined, then you get two copies of `p`. I tried to make functions like `lhs`, which just return one of their arguments, inlined, and this on its own seems to have led to a speedup of about 10%. (I made the following functions inlined: in `GeneralNotation`: `type-of`, `-id`, `need_which-is-giv

[2021-04-07 12:33] nad commented on #4681
Perhaps it makes sense to always (in the absence of a `NOINLINE` pragma) inline functions that return one of their arguments unchanged (see [#5279](https://github.com/agda/agda/issues/5279#issuecomment-814876853)).

[2021-04-07 12:38] nad commented on #4681
However, at least one example linked from the OP (#3486) discusses inlining of the identity function.

[2021-04-07 12:54] andreasabel commented on #2514
I think it is better to open a new issue for your request, @nad.  This only has vaguely to do with the OP.

[2021-04-07 12:58] martinescardo commented on #5279
Interesting, thanks. It seems that --auto-inline is doing this:

[code]

[2021-04-07 13:02] andreasabel commented on #4638
Done.

[2021-04-07 13:08] andreasabel commented on #5252
Discussion 7 April 2021: Remove the hacky patch (rechecking the abstract clause) but only after the release.
For 2.6.2, replace the `__IMPOSSIBLE__` by a proper error.

[2021-04-07 13:50] nad opened #5306 "Report warnings right away, not at the end of the file"
It might be easier to identify the cause of a performance regression in existing code if Agda notified the user about unsolved meta-variables as soon as possible (for both imported modules and the top-level one).

Related: #2514.

[2021-04-07 13:52] gallais commented on #5282
I believe this is #4590

Edit: as mentioned in that other thread, this behaviour is intended and even
documented: https://agda.readthedocs.io/en/latest/language/lambda-abstraction.html?highlight=generative

If you need to be able to refer to this function later on you should name it.
As a consequence I'll close this issue.

[2021-04-07 13:55] #5282 closed, assigned to nobody

[2021-04-07 14:14] martinescardo commented on #5279
Strange. The result of the `git bisect` promised above is this:
[code]

[2021-04-07 14:26] martinescardo commented on #5279
Ah. Maybe that's not strange. That commit sets `optimize-heavily` to `False`.

[2021-04-07 14:57] martinescardo commented on #5279
Fantastic. Now, the current development version 2.6.2-044fba0-dirty (what is this "dirty"?) type checks `TypeTopology` in the same amount of time as the released version 2.6.1 (in my machine this is 4m), *provided* we

1. build agda with `optimise-heavily` set to `True` in `Agda.cabal`, and
2. run `agda` using the flag `--auto-inline`.

We have that

* If we drop both, the time goes up from 4m to

[2021-04-07 15:22] martinescardo commented on #5279
I corrected the times in the previous comment and added the missing fourth possible combination.

[2021-04-07 15:36] martinescardo commented on #5279
(And the actual time in 2.6.1 is 3m52s.)

[2021-04-07 18:24] jespercockx commented on #5279
@martinescardo You can set default flags to use in Emacs by pressing `M-x customize-group RET agda2 RET` and adding the flags you want to the "Agda2 Program Args" field. Starting from Agda 2.6.2, you can also add default flags directly to the `.agda-lib` file of your project (under the new `flags:` tag).

[2021-04-07 20:11] martinescardo commented on #5279
More timing information, for the record, with a slower machine.

[code]

[2021-04-08 00:20] JasonGross opened #5307 "`C-c C-SPC` (give (fill goal)) fails on a perfectly valid filler with an error message mentioning non-existent variables when `C-u C-u C-c C-SPC` succeeds"
[code]
Using `ans''` instead works fine.  Using `C-u C-u C-c C-SPACE` also works fine  Possibly related to this is that, in my original example, `C-c C-x C-h C-c C-t` gets the type of the goal wrong, in the sense that it ignores the implicits that I specify explicitly and instead inserts βιδ-expanded versions of them (the versions that would show up if it were re-inferring the implicits from scrat

[2021-04-08 00:32] JasonGross opened #5308 "`C-c C-n` incorrectly treats records as structural rather than nominal"
Possibly related to https://github.com/agda/agda/issues/5307
[code]
`C-c C-n` in the hole gives `b`, but that's wrong
[code]

[2021-04-08 00:34] JasonGross commented on #5307
This seems to be an issue with Agda performing eta-contraction without checking that the constructor arguments which are record parameters line up, given that this is a smaller example:
[code]

[2021-04-08 07:56] jespercockx commented on #5308
The eta-contraction of the right-hand side of `resize` seems to be due to the following:
https://github.com/agda/agda/blob/044fba09d67771186e916446a3fefd22bd4f0bb5/src/full/Agda/TypeChecking/Rules/Def.hs#L338-L344
I wonder if this comment from 2010 is still accurate, or if perhaps we could just remove the call to `instantiateFull` entirely.

[2021-04-08 07:59] jespercockx commented on #5308
As indicated by the comment, this is probably a duplicate of https://github.com/agda/agda/issues/361

[2021-04-08 08:06] Taneb commented on #5288
Is there anything I can do to help resolve this issue?

[2021-04-08 08:15] jespercockx commented on #5308
Perhaps the problem is not that we call `instantiateFull` here, but the fact that `instantiateFull` shouldn't do eta-contraction. See the following comment (also from 2010):
https://github.com/agda/agda/blob/044fba09d67771186e916446a3fefd22bd4f0bb5/src/full/Agda/TypeChecking/Reduce.hs#L1309-L1311
Attempting to remove the `etaOnce` indeed still causes a failure on the `Builtin` modules already:
[co

[2021-04-08 08:24] jespercockx commented on #5288
That depends a lot on your familiarity with the Agda codebase. At the moment the big question seems to be what goes wrong in the construction of the case tree that @nad posted, and why this problem does not cause issues in other places. I haven't had the time yet to look at it myself.

[2021-04-08 10:00] gallais commented on #5288
A PR to the stdlib making sure that all the clauses have the same number
of arguments ought to fix the issue initially reported (but not its root
cause). So if you have a project you want to compile and that's the only
instance of such a problem, that should work.

[2021-04-08 10:37] nad commented on #5288
I don't know how that thing should be interpreted, but the following code is accepted:
[code]
The debug printout indicates that the "compiled clauses" are used:
[code]
Note the line with `appDefE`:
https://github.com/agda/agda/blob/044fba09d67771186e916446a3fefd22bd4f0bb5/src/full/Agda/TypeChecking/Reduce.hs#L753-L759

[2021-04-08 10:50] nad commented on #5288
If the problem lies in the conversion to tree-less syntax, then you could take a look at the following code:

https://github.com/agda/agda/blob/044fba09d67771186e916446a3fefd22bd4f0bb5/src/full/Agda/Compiler/ToTreeless.hs#L221-L230

[2021-04-08 10:55] nad commented on #5279
The changes related to `optimise-heavily` and `--auto-inline` are already documented, but we could stress the risk for slowdowns.

Presumably this was because I built Agda using `optimise-heavily`.

[2021-04-08 11:20] martinescardo commented on #5279
Yes, this is what I suspected.

[2021-04-08 11:56] #5279 closed, assigned to nobody

[2021-04-08 12:08] nad commented on #3714
@mortberg, do you still want to make this change?

[2021-04-08 14:44] nad commented on #5271
Now I get an error message when I run `make TAGS`:
[code]
Is the idea that `hs-tags` should be checked out manually?

[2021-04-08 15:44] UlfNorell commented on #5271
Did you `git submodule init` and `update`?

[2021-04-08 15:44] mortberg commented on #3714
It would be good to do it, but I don't have the time to do it now. It should be very easy to fix though, just rename `inc` to `inS` and `ouc` to `outS`

[2021-04-08 15:53] nad commented on #4701
I'm trying to make Agda parse erased import statements:
[code]
(Here `@0` is placed after `open` to emphasise that it applies to the entire import statement, not just the "opening". I do not plan to allow the syntax `@0 open import M`.)

The next step is to ensure that all symbols obtained from such an import statement are actually erased. If the information about whether a symbol is erased or not

[2021-04-08 15:56] nad commented on #5271
The makefile takes care of that for `std-lib`, `cubical` and `fix-whitespace`, so I think it would make sense to take the same approach for `hs-tags`.

[2021-04-08 16:34] asr commented on #5271
I disagree, we should use the binaries  of `fix-whitespace` and `hs-tags`.

[2021-04-08 16:57] JasonGross commented on #5308
Agda doesn't have any cumulative types, right?  In the absence of cumulativity, I think eta-contraction is sound as long as you check that the types line up correctly, no?

[2021-04-08 16:59] JasonGross commented on #5308
Where by types I mean parameters to constructors, I think.

[2021-04-08 17:01] JasonGross commented on #5308
Said differently, the issue is that contraction is normally only a one-sided inverse to expansion.  But in the absence of cumulativity and if you check constructor parameters before contacting, then they should be true inverses, I think.

[2021-04-08 18:23] #5237 closed, assigned to Saizan

[2021-04-08 19:06] nad commented on #4701
The current module macro code handles this kind of copying, and it would be easy to change the quantity of the copied definitions, but there is one problem: statements like `open import M es` are treated like the following code:
[code]
I think I can make `open @0 import M` behave like the following code (where I pretend that `@0 open M` is valid syntax):
[code]
However, this is not good enough: th

[2021-04-09 10:27] martinescardo commented on #5279
@nad I noticed that you added some information in a recent commit about optimization flags and --auto-inline. Perhaps it could also be added that abstract definitions should include signatures and that if this is not done then type checking can take an extremely long time (infinite in practice). I could add this myself, but I am not sure how to phrase it so that it is accurate.

[2021-04-09 10:31] martinescardo commented on #418
Perhaps abstract definitions should not be allowed to omit type signatures, given that the manual now says that abstract definitions should include type signature. Such an omission of a type signature caused infinitely long type checking time in an example given in #5279.

[2021-04-09 10:33] nad commented on #4701
Another approach that might work:
* We keep track of which "language" is used for each definition (`--without-K`, `--cubical`, `--erased-cubical`, `--with-K`).
* In `--erased-cubical` modules definitions with the language `--cubical` are treated as erased.
* We could either skip the erased import statements, or require the use of the annotations. Would the annotations make it more obvious to users

[2021-04-09 11:48] nad commented on #4701
The last sentence does not make sense to me. The flag should not be coinfective. It should be fine to import modules that use `--without-K` and `--erased-cubical`, as well as code that uses `--cubical` (via erased import statements). Only modules that use `--erased-cubical` or `--cubical` may import modules that use `--erased-cubical`.

[2021-04-09 11:50] nad commented on #418
That makes sense to me.

[2021-04-09 11:52] nad commented on #5279
I think we should reject abstract definitions without type signatures, like you suggested elsewhere (#418).

[2021-04-09 21:57] mb64 opened #5309 "Cubical + coinductive records: constructor doesn't typecheck where copatterns do"
I wrote two extensionality proofs for coinductive streams in cubical Agda, one using copatterns and the other a constructor.  However, only the one with copatterns successfully typechecks.

[code]

Here's the error:

[code]

And here's my definition of streams:

[code]

### Expected Behavior

I would expect either both of these to typecheck, or both to fail (I'm not sure which would be the correct

[2021-04-10 14:49] andreasabel commented on #5309
Well, these two definitions are clearly different from the perspective of rewriting.  The first definition is not normalizing as a rewrite rule:
[code]
This rule can be applied ad infinitum.

[2021-04-10 14:49] #5309 closed, assigned to andreasabel

[2021-04-10 15:00] andreasabel commented on #5271
These tools are no longer Agda-specific.  Cannot we just ditch the submodules `hs-tags` and `fix-whitespace` and have the developer install these binaries?  Or, if these commands do not exist in the `PATH`, we could launch a `cabal install hs-tags` etc.

[2021-04-10 16:58] andreasabel commented on #5271
I pushed PR #5310 to remove the submodules `fix-whitespace` and `hs-tags`.

[2021-04-10 17:19] andreasabel commented on #5288
Looking at the compiled clause matcher, it becomes clear that this works:
For instance in `f 123 1` the argument `1` does not match `zero`, so the respective `conFrame` is not put on the stack, only the catch-all frame `done[m] λ _ -> @1`.  So `123` is substituted for `m` (`@1`), and the rest `\ _ -> 123` is the applied to `1`, yielding `123`.
So the problem is in the compilation to treeless.

Rel

[2021-04-10 21:33] andreasabel commented on #5288
3 hours on a Saturday evening hunting for a de Bruijn problem...

[2021-04-11 19:48] googleson78 opened #5313 "Documentation for internal level properties"
[It was just confirmed to me](https://lists.chalmers.se/pipermail/agda/2021/012565.html) that `Level`s do indeed have some "internal automatically solved" properties.

Jesper also suggested that it would be nice to have this documented and I agree, since I couldn't figure these things out from just reading the manual.

I'll try to contribute a section in the [corresponding document](https://github

[2021-04-11 21:18] jespercockx commented on #5313
I've set this to 2.6.3 milestone for now, but it can still be changed to 2.6.2 if it's done before the release.

[2021-04-12 09:35] UlfNorell commented on #418
Please open a new issue for this, with some discussion of the trade-offs. In general, we are moving towards more things being warnings or non-fatal errors, but here you're suggesting moving in the opposite direction. I'd like a bit more than "perhaps" and "makes sense to me".

[2021-04-12 09:35] #418 closed, assigned to UlfNorell, andreasabel

[2021-04-12 09:40] martinescardo commented on #418
The manual says that we should give type signatures of abstract definitions. Then why are we allowed not to give them, with the penality being an infinitely long computation rather than an outright error?

[2021-04-12 09:44] martinescardo commented on #5266
I didn't know that --without-K didn't something beyond ensuring that everything that is defined with the pattern patching can be done with the eliminator J. This is the semantics I expected.

[2021-04-12 09:53] nad opened #5314 "Warn about abstract definitions without type signatures"
Agda no longer infers types of abstract definitions, and this can lead to [problems in existing code](https://github.com/agda/agda/issues/5279#issuecomment-813984791). In order to make it easier to discover the cause of such problems I think that Agda should raise a warning or error for each abstract definition without a type signature. (This idea is based on one [due to](https://github.com/agda/a

[2021-04-12 11:18] andreasabel commented on #1145
This is now implemented in the layout processor generated by BNFC (dev version 2.9.2), see https://bnfc.readthedocs.io/en/latest/lbnf.html#stacking-layout-keywords.
The layout processor works on a stream of non-whitespace tokens with line/column information.  When a layout token is encountered, we look ahead to the next token.  From the line information, we can see whether we are on a new line, an

[2021-04-12 11:40] nad opened #5315 "Make the `COMPILE GHC` pragma aware of erasure annotations"
The GHC backend rejects the following code:
[code]
[code]
I think that the code above should be accepted: `n + n` is in an erased position, so there is no need to compile this code.

[2021-04-12 11:47] UlfNorell commented on #5314
Is the existing warning not working?

https://github.com/agda/agda/blob/3e079614f2b4810ff5920ae69a389da91c855217/src/full/Agda/TypeChecking/Rules/Def.hs#L103-L104

[2021-04-12 11:56] UlfNorell commented on #5314
@martinescardo wrote in https://github.com/agda/agda/issues/418#issuecomment-817657908

Typically the penalty isn't infinite type checking times. You could make a similar argument for throwing an error for frozen unsolved metas rather than continuing type checking, since we know they can never be solved, and type checking with lots of unsolved metas can be expensive. The disadvantage of hard failu

[2021-04-12 11:58] martinescardo commented on #5314
It is not working in the example @nad linked above.

[2021-04-12 12:06] nad commented on #5314
#5306.

Warnings don't have that disadvantage. However, I don't know if they are reported soon enough. (If they are not, then that could perhaps be changed.)

[2021-04-12 12:18] UlfNorell commented on #5314
This sounds like a general issue with warnings not being reported right away, rather than a problem with abstract definitions. Can this be folded into #5306?

[2021-04-12 12:25] nad commented on #5314
I don't know if early reporting of unsolved meta-variables would have helped @martinescardo identify the cause of the problem mentioned in the OP. Given that the semantics of `abstract` has changed I think it makes sense to give an explicit warning to users.

[2021-04-12 12:35] UlfNorell commented on #5314
There already is an explicit warning (see source code link above).

If it doesn't show up soon enough that (as I said) sounds like a more general problem that could perhaps be taken care of in #5306 (expanding it's scope to warnings in general, not just unsolved metas).

[2021-04-12 12:46] nad commented on #5314
OK, let's do that.

However, I suggest that we reformulate the warning. Instead of writing "Cannot infer the type of abstract definition i" we could write something like "Types of abstract definitions are not inferred, in particular not the type of i", to emphasise that this problem is not restricted to this particular definition.

[2021-04-12 12:48] nad commented on #5306
@UlfNorell [suggested](https://github.com/agda/agda/issues/5314#issuecomment-817762767) that we should always report warnings right away.

[2021-04-12 12:50] martinescardo commented on #5314
The following gives the error `Failed to solve the following constraints` and then a warning `Cannot infer the type of abstract definition three`
[code]
I see the following issues with this:
1. `abstract three = f 3` should never be considered legal code. This is because (1a) the manual already says so, but also because (1b) whenever we use `three` we are guaranteed to get an error.
2. Neither the

[2021-04-12 13:00] UlfNorell commented on #5314
The second point would be addressed by a rewording of the warning. Would you be happy with @nad's proposed change, or do you have other suggestions?

Regarding errors vs warnings, the current policy is to avoid fatal errors in favour of non-fatal errors or warnings when possible, in order to allow the user to interact with the type checker even when things go wrong. If the warnings were issued pro

[2021-04-12 13:03] gallais commented on #5314
That being said we could have `-wFatal` as a step up from `-wError` so
that the process not only exits with an error code if at least one warning
is encountered but also stops as early as possible.

[2021-04-12 13:05] martinescardo commented on #5314
I don't know. It is up to you. I would have considered illegal code to be an error not a warning.

[2021-04-12 14:03] UlfNorell commented on #5314
Fixed by the commit above (I put the wrong issue number in the commit message). The warning now says
[code]

[2021-04-12 14:04] #5314 closed, assigned to nobody

[2021-04-12 15:49] martinescardo commented on #5314
Thanks. In my case this warning wouldn't have been useful. The file linked by @nad at the very top of this issue type checks in 1min in Agda 2.6.1. With your fix above, I never get to see the warning. The omission of the type signature for an abstract definition causes Agda 2.6.2 to take more than 10min (I don't know how long and I've just aborted my attempt). I still would like to see a use case

[2021-04-12 16:42] nad commented on #5314
Issue #5306 is about reporting warnings more eagerly.

[2021-04-13 11:48] nad commented on #4877
It is not clear to me that the algorithm is sufficiently fast. In the paper it is stated that its time complexity is O(n^2 log n + t log n), and that its space complexity is O(n^2). Here n is the size of the program (note that the paper's term languages do not have meta-variables), and t is the size of the typing derivation.

[2021-04-13 11:51] #5288 closed, assigned to andreasabel

[2021-04-13 11:54] #5271 closed, assigned to andreasabel

[2021-04-13 12:34] nad opened #5316 "The pretty-printer should print modalities"
I noticed that the pretty-printer skips modalities:

https://github.com/agda/agda/blob/2bf7d55728e3b76d38d05b1c190e55ea57d1407b/src/full/Agda/Syntax/Internal.hs#L1262-L1264

https://github.com/agda/agda/blob/2bf7d55728e3b76d38d05b1c190e55ea57d1407b/src/full/Agda/Syntax/Internal.hs#L1280-L1285

This could confuse people debugging Agda.

[2021-04-13 13:49] nad opened #5317 "The reflection machinery should support quantities"
The commit comment for 4f5220383e4d5d2ee8b0e92382188aa44b742f56 states that something should be revisited:

It appears as if this has not been done:

https://github.com/agda/agda/blob/2bf7d55728e3b76d38d05b1c190e55ea57d1407b/src/full/Agda/TypeChecking/Quote.hs#L134-L138

The first line was added in the commit mentioned above.

Here is a concrete test case:
[code]
[code]
The error message should st

[2021-04-13 14:19] nad commented on #5317
I'll try to add quantities to the reflection machinery.

[2021-04-13 19:39] nad commented on #5316
Something similar affects the printing of `termErr t`. I've started adding support for quantities to the reflection machinery (#5317), and the following code does not give the right output:
[code]
[code]

[2021-04-13 20:19] nad commented on #5316
I suspect that the latter problem is caused by something else, because printing of `termErr t` uses the `PrettyTCM` instance for `Agda.Syntax.Abstract.Expr`, not the `Pretty` instance for `Term`.

[2021-04-13 20:27] nad commented on #5316
Ignore the last two comments, I had made a mistake.

[2021-04-14 09:59] nad opened #5318 "Why is relevance ignored by the reflection machinery?"
The reflection machinery currently allows you to apply a function of type `Set → Set` to an argument which according to the `ArgInfo` value is irrelevant, and it allows you to apply a function of type `.Set → Set` to an argument which is relevant:
[code]
Is this intended? Does it lead to broken internal invariants? Does Agda fix the `ArgInfo` values when unquoting the terms?

I'm trying to add sup

[2021-04-14 11:17] jespercockx commented on #5318
I think this is working as intended. In general, the reflection API is quite liberal with the kind of syntax it accepts, for example by inserting missing implicit arguments. Inferring irrelevance annotations on arguments seems to me like it is in the same scope.

Though perhaps it would be better if the reflection API had a separate `unknown` relevance for when you want the relevance to be inferre

[2021-04-14 11:18] jespercockx commented on #5318
To answer the question whether it leads to broken invariants: no it doesn't, since all the reflected code passes again through the typechecker where the annotations are set to their correct values.

[2021-04-14 12:49] #5318 closed, assigned to nobody

[2021-04-14 13:20] nad commented on #4525
@jespercockx, @andreasabel and I discussed this. One option is to make all (current) pattern-matching lambdas non-erased, and to introduce new notation for erased pattern-matching lambdas: `λ @0 {`, `λ @0 where`.

[2021-04-14 13:57] nad commented on #5317
I discussed this with @andreasabel and @jespercockx. We came to the conclusion that we should add a new type for modalities, including relevance and quantity, to the reflection API.

[2021-04-14 22:07] subttle opened #5321 "Minor improvements to Agda.Utils.Either (`groupByEither`, `swapEither`)"
Hi all, thank you so much for the work you do on this wonderful project. I recently wrote a function similar to `groupByEither` which carries out the same functionality but implemented in terms of an `unfoldr`. Here is the version [currently](https://github.com/agda/agda/blob/f50c14d3a4e92ed695783e26dbe11ad1ad7b73f7/src/full/Agda/Utils/Either.hs#L115) in use.
[code]

What I'm proposing is updating

[2021-04-14 22:25] gallais commented on #5321
A `span isLeft` followed by a `either` seems like an antipattern to me.
Especially given that it forces you to throw in `concatMap`.

I think it'd make more sense to use `Agda.Utils.List`'s `spanJust` instead
to both test for being `Left` (resp. `Right`) *and* unpack the value at the same time.
That would also make the whole affair easier to understand IMO.

Edit: btw,

AFAIU this is basically mea

[2021-04-14 23:29] subttle commented on #5321
Thank you for the feedback :)
I know what you mean, one could replace the `concatMap` portion with a partial `fmap (\(Left a) -> a)`, (resp. `fmap (\(Right b -> b)`) and even though I know  the context would let it work, I opted for the safer, total route. Thank you for the great suggestion with `spanJust`. If I understood correctly then this would be more toward what you suggested?
[code]

[2021-04-15 00:12] gallais commented on #5321
The repetition of `Just` in both branches of the `either` suggests you ought
to be able to pull it out. To me it starts looking a lot more like an `fmap`
over an `uncons` rather than a `listCase`.

[code]

I'm still not convinced this is more readable than "match: accumulate; mismatch: switch accumulator".

[2021-04-15 00:13] subttle commented on #5321
Funny! I was actually about to post that I was trying:
[code]

[2021-04-15 01:18] JacquesCarette commented on #4642
Just dropping by here to add my +1. I've now seen some very compelling uses in both Haskell and in Idris, and am now jealous. Edward Kmett's Linear Logic library is what finally did me in. [Plus: it would be so much prettier in Agda than in Linear Haskell!]

[2021-04-15 06:32] andreasabel commented on #5321
I think getting rid of a `reverse` is usually good, in particular if this means that a function can be generalized from finite lists to also work for infinite streams.

The definition seems to have improved by your interaction so far.  If I was to ask for style improvements, it would be:
- give name and type signature to the two anonymous functions (`\a -> first (Left  . (a :|)) . spanJust maybeLe

[2021-04-15 08:29] #5321 closed, assigned to nobody

[2021-04-15 12:07] nad opened #5324 "The command "make test" should build the user manual"
I noticed that `make test` does not build the user manual, whereas there is some GitHub action that does that. Is there a reason for this discrepancy?

I suggest that `make test` should build the user manual (both HTML and PDF), and also check that the changelog is correctly formatted.

[2021-04-15 14:30] L-TChen commented on #5317
I am just curious if it is possible to use the internal syntax as reflected syntax directly. It appears that to make the reflection API fully reflective everything should be exposed.

[2021-04-15 14:45] L-TChen commented on #5259
What’s the status of this? As it doesn’t look good, I propose to solve this temporarily by maintaining a repo containing fixes and specify the git repo as the dependency to use (at least for `stack`). Once the permission is transferred we can create a pull request to merge changes back.

In the following few days, I’d like to look into ways to release binary distributions with the support `cluster

[2021-04-15 14:46] jespercockx commented on #5317
How would you expose the internal syntax directly? Would you add FFI bindings to the Haskell types?

In general there are many implementation details in the Haskell codebase that are perhaps not crucial to expose to the user, or should only be exposed in a "safe" manner. In particular, any operation that modifies the TCM state should probably not be exposed directly in the reflection API.

[2021-04-15 14:56] L-TChen commented on #5317
I know it will take a lot effort to unify these two, and surely there are some unsafe operations which should not be used as part of reflection. However, we can have a fully exposed reflection API and a safe interface in Agda which only exports functions that should be used. Removing supports in the Agda primitive interfaces should be easier than adding supports in the Haskell codebase in general.

[2021-04-15 14:58] L-TChen commented on #5317
(I have been thinking about this every time there is a request of exposing xxx info to the reflection API...)

[2021-04-15 15:16] nad commented on #4786
Apparently you can build a record module in such a way that the parameters are not erased in the telescope, but when you open the module you get projections with erased parameters. With my attempted fix of this issue (16f1118d77698c44753ba2af84d0c98b27f73fa6) the following code is accepted:
[code]
However, the following code is rejected:
[code]

I wonder if the code that generates composition oper

[2021-04-15 16:23] andreasabel commented on #5236
I was mistaken.  With #1145, we no longer get parse errors, but
[code]
now is understood as
[code]
with respective error messages.

We could however teach Agda to understand constructor blocks in record declarations in a special way, namely, to only take the first name as being inside the block, the rest outside.

Another avenue would be to understand `constructor` as a layout keyword only inside

[2021-04-15 19:50] nad commented on #4525
I'm in the process of adding erased pattern-matching lambdas. However, that does not address the fact that the following code is accepted:

[code]

The reason why this code is accepted is that when an erased argument is checked, then Agda makes all variables in the context non-erased:

https://github.com/agda/agda/blob/b63b0ad0e4f1af7e001342bebb0c3daaf542f328/src/full/Agda/TypeChecking/Rules/Appli

[2021-04-16 08:17] jespercockx commented on #4525
Would this change have any effect on code that does not use pattern-matching lambdas?

[2021-04-16 14:46] nad commented on #4525
I don't know. If it does, then that might point to a bug. I suggest that we run some experiments.

[2021-04-16 18:57] nad commented on #4954
After a mutual block has been typechecked we highlight it again:

https://github.com/agda/agda/blob/c880f8614f0c86ea0856ab0aacd456a4442218f7/src/full/Agda/TypeChecking/Rules/Decl.hs#L379-L385

One of the effects of the use of `True` on the last line is that token-based syntax highlighting information is moved from one part of the state to another (and perhaps merged with other information). If tha