[2020-01-28 11:02] andreasabel commented on #4399
The printing as `{{_ = tt}}` was a regression in 2.5.1.1, the parsing as partial split a regression in 2.6.0.

[2020-01-28 11:07] andreasabel commented on #4391
Maybe related to #906.

[2020-01-28 11:15] alexarice commented on #4391
I might be confused about what exactly guardedness means but isn't this guarded as the corecursive call is directly "under" the destructor?

[2020-01-28 12:11] nad commented on #4391
I tweaked the code a little:
[code]
For some reason `works` is accepted, but not `fails`.

[2020-01-28 12:18] alexarice commented on #4391
Are the rules that agda follows for guardedness written somewhere? I think i read somewhere that it is not quite the same as coq?

[2020-01-28 13:45] alexarice commented on #4391
From reading that the take away seems to be that all these problems go away with sized types, which is what I've been using anyway. I more just wanted to get an idea of how guardedness was meant to work as well

[2020-01-28 13:49] alexarice commented on #4391
As a side note, what does `.func` mean in the tweaked code? Is this some fancy syntax for copatterns and is it documented somewhere?

[2020-01-28 14:17] guillaumebrunerie opened #4402 "Panic: unbound variable with universe level arguments in parentheses in record"
The code below fails with the error
[code]

[code]

Removing the parentheses around the `(l)` makes the error go away (!).

[2020-01-28 14:19] gallais commented on #4402
`(l)` means `_@(l)` and indeed the following raises the same error:

[code]

Edit: interesting that,

[code]

is rejected with

[2020-01-28 14:23] guillaumebrunerie commented on #4402
Also the issue is not present in Agda 2.6.0.1, but it seems like as-patterns were not allowed in arguments of a record then?

[2020-01-28 14:27] gallais commented on #4402
It may have been introduced by my PR #3884.

[2020-01-28 15:09] andreasabel commented on #4402
@gallais, I am assuming you are taking this (and assigned you); if not, please unassign yourself.

[2020-01-28 15:14] andreasabel commented on #4391
This is the postfix-notation for projections. #1963

[2020-01-28 15:25] andreasabel commented on #4361
This highlighting comes from the lexer.  For the lexer, `REWRITE` is a keyword (occurring in its own pragma `{-# REWRITE ... #-}`), but `EQUALITY` not.

The question is whether we should highlight all builtins as keyword.  I suppose yes.

[2020-01-28 16:38] guillaumebrunerie opened #4403 "Yellow instead of error with rewrite rules"
This is probably more of a feature request than a bug, as I’m not sure if it’s easy to implement. In the code below, it is somewhat surprising that `test` gives only yellow instead of an error. It is kinda "obvious" that the rewrite rule `+O-rewrite` is not enough to make `n + _` and `m` equal, so I would expect a hard error.
And having yellow instead of an error is a problem when using instance a

[2020-01-28 17:46] nad opened #4404 "Disambiguation fails in Cubical Agda"
Consider the following code:
[code]
Error message:
[code]
There seems to be some kind of problem with the disambiguation machinery. I could perhaps accept a complaint about unsolved meta-variables or constraints, but Agda should not raise this kind of error.

[2020-01-28 19:32] andreasabel commented on #4260
Is it still a `regression on master`?  If not, please clear this tag. We shouldn't release fresh known regressions, if we can help.

[2020-01-28 20:29] nad commented on #4260
If you want to close the issue, please open a new issue related to the following comment:

[2020-01-28 22:12] #4402 closed, assigned to gallais

[2020-01-29 09:42] Saizan commented on #3750
To clarify, you would still want `transp` and `hcomp` for every type in `Set l`, right?
To me ```--interval``` would suggest that we don't assume "types" have composition.

That's unique choice for _strictly_ propositional types right?

[2020-01-29 10:04] andreasabel commented on #4360
Fixed that, was easy.

Ideally, such warnings would highlight the `instance` keyword in dead-code color, but for the time being, the `DefInfo` does not carry the error location of the instance keyword.

[2020-01-29 10:09] amp12 commented on #3750
The axiom I am using is:

[code]

[2020-01-29 10:11] gallais commented on #4360
Does the fix also work for data constructors?

[2020-01-29 11:11] andreasabel commented on #4360
Självklart. :)

I am now fixing the range of the warning to be the `instance` keyword.  Ok, have to be careful when several instances are in the instance block, then we would want the particular definition also to be highlighted.

[2020-01-29 14:42] gallais opened #4407 "Ambigous name error: generalisation conflicts module open"
I would expect the following file to work just fine because I explicitly
open the module, meaning that I *do* want to bring these names in scope.

[code]

however I get an error:

If I use a pattern-matching telescope instead, I do get the behaviour
I expect:

[code]

[2020-01-29 14:47] guillaumebrunerie commented on #4407
I would expect both to at least give a warning about a name being shadowed.

[2020-01-29 14:49] gallais commented on #4407
We never warn about bound variables re-using a generalisable name.

[2020-01-29 14:53] nad commented on #4407
Is this an instance of #3801?

[2020-01-29 14:55] gallais commented on #4407
I don't think so. It's already perfectly valid to write:

[code]

[2020-01-29 15:22] nad opened #4408 "Regression related to fix of #3027"
The following code is accepted by Agda 2.6.0.1, but rejected by a recent development version:
[code]
Bisection points towards 3c6482bfd6e10d8a479e09c7a69db052df69d932 ("[ fix #3027 ] block bound variable on right side of constraint (#4392)"). @vlopezj, you might want to take a look at this.

[2020-01-29 16:22] vlopezj commented on #4408
Thanks for finding this example! For the record, this is the error message I get when I typecheck it
([Issue4408.agda](https://github.com/agda/agda/files/4129124/Issue4408.agda.txt))

[code]

I don't know what the  `(A = A)`, `(h = h)` `(x = x)` `(x = x₁)` are… (perhaps blocked terms?).
I will mention this to @UlfNorell tomorrow to see how this could be fixed.
(FWIW, [Tog⁺](https://framagit.org/vl

[2020-01-29 16:29] jespercockx commented on #4408
The `(A = A)` etc denote the arguments to the metavariable, i.e. how to instantiate the variables from the context where the metavariable was created. They are usually not shown when it is the identity substitution, but here I think the pretty-printer gets confused by the fact that there are two variables named `x` in scope of the metavariable.

[2020-01-29 16:32] vlopezj commented on #4408
I see...
But then I'm very surprised… "_x_26 A h x x₁ = x : Unit" lies squarely in the pattern fragment.
If any of A, h, x and x₁ were blocked terms on some constraint, would this be visible when pretty printing?

[2020-01-29 16:44] jespercockx commented on #4408
Internally, the constraint is `_x_26 (A = A) (h = h) (x = x) (x = (_31 (A = h) (h = x) (x = x₁))) = x : Unit`, so the term that is printed as `x₁` is actually a metavariable `_31` is a blocked term that is to be instantiated to `x₁` once a different problem is solved. Looking a bit further at the debug output, the instantiation of `_31` to ` λ A h x → x` is blocked on `Q x A =< Q _x_27 A`. So that

[2020-01-29 21:01] nad commented on #4408
Here is another regression that seems to have been caused by the same commit:
[code]

[2020-01-30 06:27] #4360 closed, assigned to andreasabel

[2020-01-30 06:30] andreasabel commented on #4360
For record constructors, the highlighting is on the `instance` keyword now.  For the other cases (data constructors, definitions, fields) it is on the identifier that does not qualify as instance.  Just highlighting the instance keyword would be ambiguous in case there are several definitions in one instance block.

[2020-01-30 06:41] andreasabel commented on #4408
Maybe the problem is that `addContext` comes only after the reference to `var 0`, see the comment at https://github.com/agda/agda/commit/3c6482bfd6e10d8a479e09c7a69db052df69d932#r37034059 ?

[2020-01-30 06:47] andreasabel commented on #4407
Bound variables such as module parameters overwrite previous bindings of the same name.  Imports do not overwrite previous bindings, they just add more interpretations.
One could say here "works as intended", but maybe folks do not expect `variable` declarations to behave like other declarations...
Anyway, I think it is fair to bump this issue.

[2020-01-30 07:33] UlfNorell commented on #4403
Do you have an idea for an algorithm that would detect these "kinda obvious" cases?

[2020-01-30 08:09] guillaumebrunerie commented on #4403
No, that’s why I put it as an enhancement :)

[2020-01-30 12:23] #4408 closed, assigned to vlopezj

[2020-01-30 13:17] UlfNorell commented on #4391
[code]
also fails.

[2020-01-30 14:41] jespercockx opened #4410 "Rewrite rule matching does not respect Prop"
Example by Filippo Sestini:

[code]

[2020-01-30 15:32] #4410 closed, assigned to jespercockx

[2020-01-31 14:46] andreasabel commented on #4358
Feels like a clean solution would invoke _name variants_ as a primitive concept replacing these string manipulations appending some decimal numbers.  A concrete name would be stored as a name base and a number denoting the name variant, and there would be facilities to get all variants of a name.

[2020-02-01 11:51] bluescreen303 opened #4411 "Termination checker regression for 2.6.1"
This example was accepted by agda 2.6.0.1 and is rejected by 2.6.1

[code]

with this complaint:
[code]

[2020-02-01 13:05] bluescreen303 commented on #4411
just found something in the release notes about #3604
I will check if this is related

[2020-02-01 14:30] bluescreen303 commented on #4411
Seems unrelated. I removed `rewrite` and `with` from the code and the termination checker is still angry :(

[code]

[2020-02-01 19:32] nad opened #4412 "Can pattern-matching lambdas slow down Agda?"
I have found an example of code that becomes faster if a pattern-matching lambda is replaced by regular pattern matching. Is this expected? If not, then one can perhaps optimise something.

The code can be obtained in the following way:
[code]
Go to the file `src/Finite-subset/Listed.agda`. Observe (using interactive highlighting) roughly how much time it takes for Agda to type-check the definitio

[2020-02-01 19:50] andreasabel commented on #4354
`substExpr` and `substPattern` are used exactly for pattern synonyms.

Well, yes, if we change the implementation of pattern synonyms.

[2020-02-01 20:54] #4347 closed, assigned to andreasabel

[2020-02-01 21:51] andreasabel commented on #4412
Well, pattern lambdas create a new definition.  Thus, it is to be expected that it is a bit slower.  Not sure how much, though.

Agda could internally optimize
[code]
to
[code]

[2020-02-01 23:03] #4310 closed, assigned to andreasabel

[2020-02-02 13:23] pnlph opened #4413 "[unicode-input] multiple subscript characters allowed?"
I am unsuccessfully trying to introduce a name with multiple characters as subscript using `agda-mode`. Is this allowed in Agda, or is it a Unicode restriction?

The documentation speaks about sub-/superscripted characters, but not words:
https://agda.readthedocs.io/en/latest/tools/emacs-mode.html#show-me-some-commonly-used-characters

[2020-02-02 13:49] guillaumebrunerie commented on #4413
Could you be more precise about what you are trying to do? Note that some letters do not exist as subscripts/superscripts, that is a Unicode restriction, Agda cannot do anything about that.

[2020-02-02 17:53] guillaumebrunerie commented on #4413
[code]

[2020-02-02 18:47] pnlph commented on #4413
Thanks! Now i got it.

I think that in order to get `ₙₐₘₑ` written down in the editor, the user has to introduce the following keyboard sequence:
`\_n\_a\_m\_e`

And I was expecting `\_name` to work. The problem is that when you type `\_n`, typing `a` right away results in escaping the unicode input method, so what you get is `ₙa`.

[2020-02-02 23:46] #4413 closed, assigned to nobody

[2020-02-03 16:45] t-more opened #4415 "Possible termination checker improvement hack by testing 'where' inlining"
It is very common that the termination checker is unable to verify the termination of programs when passing the a recursive function as an argument to an higher order function. But succeeds if one simply rewrites the same function inside a where clause.  (see example below)
This of course leads to a lot of unnecessary code duplication. Unless it is solved some other way I would like to suggest a p

[2020-02-03 16:58] t-more opened #4416 "Union patterns ['Multi match' language extension suggestion]"
Recently I've needed to write a lot of duplicated code in order to satisfy Agdas type checker when it comes to proofs on what should be 'catch all cases'. (see example below). I would like to suggest a possible language extension that removed the need for this duplication.

[code]
 et cetera et cetera.

In order to remove the need for all this duplication i would like to suggest some kind of synta

[2020-02-03 17:44] andreasabel commented on #4415
The usual solution is to use sized types (unfortunately, a still experimental feature).

[2020-02-03 18:16] t-more commented on #4415
I just tried out this, it does seem to solve my problem!

However the original suggestion still stands, it seems weird that the first can be shown to terminate while the second one can't since they're "practically" equivalent

[2020-02-03 18:48] gallais commented on #4416
Note that you can use a view to get catchalls that compute.

[2020-02-03 19:00] andreasabel commented on #2619
I implemented this by updating the `nameBindingSite` in the abstract name belonging to the `to` concrete name in the `renaming` clause.  The new binding site is the range of the `to` concrete name.

Jump-to-definition seem to work both in emacs and in html.

This is a related, but different feature request I do not address.  What would jump-to-definition jump to here?  The applied module?  But the

[2020-02-03 19:43] andreasabel commented on #4242
The latest commit breaks compilation on 8.8.4 see my comment at https://github.com/agda/agda/commit/1097d3256deee46b5e97c9b3457ec1ddd1c30707#r37097311

[2020-02-03 19:54] asr commented on #4242
8.8.4? Oops sorry. Fixed in 9829cbf1dbac2a649f1da645dc8e744534bd237b.

[2020-02-03 21:05] andreasabel commented on #4242
Thanks.  (I meant 8.4.4...)

[2020-02-03 22:14] #4361 closed, assigned to andreasabel

[2020-02-04 15:44] Soares opened #4418 "guardedness is too weak to handle M types"
The following code:

[code]

Yields the following error:

[code]

Unless I'm mistaken, the `guardedness` feature is fully general (setting aside coinduction-recursion) with respect to codata exactly insofar as it can handle the `unroll` function. If it can, then any shortcoming in the guardedness heuristics can in principle be patched over by the user manually translating their coinductive type in

[2020-02-04 16:03] nad commented on #4416
What about goals (interaction points)? We have discussed similar things in the past, and I have not yet seen a reasonable treatment of goals in the right-hand side of such a clause.

[2020-02-04 16:08] nad commented on #2619
The open public statement?

We could have two different commands (`M-.` and `C-u M-.`, say), where one jumps to the "root" and the other to the closest link (renaming, open public). However, the chain might have several links. Perhaps it would be better with a command that opened a buffer with the entire chain (including links to the source files).

[2020-02-04 16:13] gallais commented on #4418
Did you forget to use musical notations to mark the infinite part of the
coinductive definition? This works:

[code]

[2020-02-04 16:23] Soares commented on #4418
Yep! Thanks. FWIW, from my (apparently erroneous) read of the coinduction docs, the musical notation was only related to the (dubiously safe) "old-style coinduction". Or perhaps this is "old-style coinduction" now, and the dubious unsafety was only related to a combination of old-style coinduction & sized types? Or perhaps this is a mix of old-style coinduction & coinductive records? I'm happy to

[2020-02-04 16:54] nad commented on #4418
This might be related to #4391.

[2020-02-04 17:20] nad opened #4419 "Uncurrying behind the veil [Optimisation opportunity?]"
I was developing some code that took a long time to type check. The code used eliminators, and I made the code a lot faster by changing the eliminators so that most of the arguments became record fields. As a simplified example, consider the following eliminator for natural numbers:
[code]
This eliminator can be replaced by the following one (given suitable variable declarations):
[code]
Given tha

[2020-02-04 17:22] nad commented on #4387
@UlfNorell, did you look into this?

[2020-02-04 17:52] UlfNorell commented on #4387
Not further than being able to reproduce the issue:
- Load standard library `Everything.agda`
- Switch to empty `Test.agda`
- Reload (takes 2 seconds)
- Reload again (instant)

[2020-02-04 19:02] nad commented on #4387
Is `Test.agda` in the same directory as `Everything.agda`?

[2020-02-04 19:22] UlfNorell commented on #4387
No.

[2020-02-04 20:59] t-more commented on #4416
You're right, it could possible get pretty nasty quickly doing something non-trivial. One idea could be to add extra notation to the interaction points in order to inspect them from the view a of a particular case?
Say `{  -case <num>}` (or  something similar) and always default to the first case? Errors could be reported case for case? That is internally each case would of course be handled separ

[2020-02-05 06:57] bluescreen303 opened #4420 "run-time irrelevance and rewrite/with"
[code]

Without `@erased ts` in `length`, the MAlonzo backend generates code that expects an additional `[AgdaAny]` argument.

The same happens for `lookup`, but marking `ts` `@erased` there breaks the function body (`length-length xs` needs `ts` in unerased form, but the result of `length-length` itself is only used for rewriting types and has no runtime representation)

As a result, this list of

[2020-02-05 07:59] UlfNorell commented on #4420
Currently `rewrite` (and `with`) does not play well with erasure. You might be able to make it work by doing the abstraction by hand (although in this case it looks gnarly).

I would urge you to consider indexing your `HList`s by a vector rather than a list, which would make all these horrible proofs go away:
[code]

[2020-02-05 08:11] UlfNorell commented on #4420
Elaborating: `rewrite`/`with` currently refuses to abstract over erased (or irrelevant) things, but the sensible behaviour would be to do the abstraction at the appropriate modality.

It's not entirely straightforward because the type checker doesn't know what modality you want and the brute force approach of choosing the modality based on the type error you get when trying the default one is not

[2020-02-05 08:39] bluescreen303 commented on #4420
I will try and get rid of the rewrite/with first (always a nice exercise) to see if that's really the culprit here (because that would at least give me a workaround). Will post the updated version here when I have found some time.

I understand that changing the list to a vec would help here, but this example is a minimal case I could contrive based on my actual code which does need lots of horrib

[2020-02-05 09:05] UlfNorell commented on #4411
I get the same termination error on 2.6.0.1.

Here's a boiled down example:
[code]

[2020-02-05 18:16] #2619 closed, assigned to andreasabel

[2020-02-05 18:17] andreasabel commented on #2619
@nad: for the module application, please open a new issue.

[2020-02-06 00:16] jrp2014 opened #4421 "GHC optimization yields heap overflow"
Running ghc 8.8.2 under Ubuntu on a fresh clone of the repo and typing `make` results in:

[code]
(after a lengthy pause.)  Pls advise. Thanks.

[2020-02-06 00:28] gallais commented on #4421
The error message says:

So I'd do that.

[2020-02-06 05:24] asr commented on #4421
I couldn't reproduce the problem on Ubuntu and GHC 8.8.2. Unfortunately our test of GHC 8.8.2 and Cabal on the `master` branch is disabled due to https://github.com/actions/setup-haskell/issues/6.

[2020-02-06 05:37] asr commented on #4421
I'm running the [test](https://www.travis-ci.org/agda/agda/builds/646724094) on the `release-2.6.1` branch.

[2020-02-06 06:00] bluescreen303 commented on #4411
Your minimal example fails for me too, but my original example doesn't. So you stripped away a bit too much.

So after a cleanup and retry: this is the minimal example that I get 2.6.0.1 to accept and 2.6.1 to reject.

I found out that the ticked version (without `with` or `rewrite`) now *fails* on 2.6.0.1, while I previously reported that that didn't make a difference. I probably messed up in tha

[2020-02-06 06:45] UlfNorell commented on #4411
Your original example doesn't have the `with`'s in `∃-odd` and `∃-even`. The updated example looks very much like #59.

[2020-02-06 07:58] nad commented on #4421
It seems as if GHC ran out of memory.

[2020-02-06 08:53] jrp2014 commented on #4421
Thanks.  I'll report and try the release-2.6.1, rather than the default (master) branch.
Yes, it ran out of memory.  It was running in a VM, but the makefile limits the heap size to 3G.  Raising it to 5G produces the same result, but it just takes longer to abort.

[2020-02-06 09:05] nad commented on #4421
Does compilation succeed if you remove `-fexpose-all-unfoldings` and `-fspecialise-aggressively` from `Agda.cabal`?

[2020-02-06 10:04] andreasabel commented on #4418
@Soares : there is nothing a priori wrong with your code in the OP, you are using coinduction and guardedness as intended.

This call seems to come from the type of `p`.  Maybe issue #906.

The termination error is already raised for the incomplete definition:
[code]
[code]

The use of guardedness in definitions by copattern-matching has problems with dependent types, your case is just one instanc

[2020-02-06 11:15] nad opened #4422 "A more flexible jump-to-definition command"
If a module is applied to arguments and then opened the jump-to-definition facility does not actually jump to the definition. In cases like this it might be nice if the jump-to-definition command presented users with a list of destinations to jump to. Such a list could also be used when definitions have been renamed (#2619). The list could include renamings, open statements and the "root" definiti

[2020-02-06 12:18] jespercockx commented on #4029
Maybe a better idea is to allow `using`, `renaming`, and `hiding` statements to appear in the list of package dependencies. For example:

[code]
or
[code]
if you want to use both.

(see also https://downloads.haskell.org/~ghc/8.6.5/docs/html/users_guide/packages.html#package-thinning-and-renaming)

[2020-02-06 12:27] jespercockx commented on #1875
The `mono-traversable` library provides type classes `IsMap` and `IsSet` (and much more stuff) that unify the interface to these standard datastructures so they do not need to be qualified (see https://hackage.haskell.org/package/mono-traversable-1.0.15.1/docs/Data-Containers.html). Maybe we could consider adding this as a dependency so we can avoid these qualified imports altogether? It also has

[2020-02-06 14:18] asr commented on #4421
It's no necessary to use the `release-2.6.1` branch. I used `release-2.6.1` because we run different tests on the release branches (including a test with GHC 8.8.2 and Cabal).

[2020-02-06 14:45] nad commented on #1875
The page you link to includes the following text: "Warning: This module should be considered highly experimental".

[2020-02-06 14:52] nad opened #4423 "Find space leaks"
Has anyone tried to apply Neil Mitchell and Tom Ellis' [method for detecting space leaks](https://neilmitchell.blogspot.com/2015/09/detecting-space-leaks.html) to Agda?

[2020-02-06 15:32] UlfNorell commented on #4423
I have some vague memory that we tried something like this a while back without getting anything useful out. But it might be worth trying again. If nothing else to document the results for posterity.

[2020-02-06 18:59] UlfNorell commented on #4423
A quick test results in exactly what I remembered. 6,000 lines of this:
[code]
The only one I could find that looks interesting (although I didn't look through all 6,000 lines) is `Serialise.decode.ar`, which is this function:
[code]
This looks like a legit space leak, although I guess since we're storing the array in memory it should only be a constant factor overhead to build the entire list.

[2020-02-06 19:34] jrp2014 commented on #4421
I'm afraid not.  I'm running this in a Hyper-V VM.  Perhaps the ballooning memory management is not working correctly with GHC. How much memory should it require to compile Agda?  Well I fixed the dynamic memory to 16Gb and same outcome.

[2020-02-06 22:13] andreasabel commented on #4391
Definitely #906, PR #4424 should fix this.

[2020-02-07 05:46] banacorn commented on #4422
Perhaps this could also improve the "why-in-scope" `C-c C-w` command.

[2020-02-07 06:59] andreasabel commented on #4359
We need to split the test suite `test/Internal`.

[2020-02-07 07:43] andreasabel commented on #3218
To see why termination checking fails here, do these things:
1. Make implicit arguments explicit.
2. Notice that Agda does __not__ rule out potential recursive calls based on pattern mismatch.
In particular, there are potential calls from the `NoGet .ap` slice to the `NoGet .map`.  By fusing the functions, you lost precision of the termination checker.  Thus, you get a false alarm.

This issue cou

[2020-02-07 07:53] andreasabel commented on #3081
The OP and Ulf's variant are fixed by PR #4424.
Guillaume's simplification is a duplicate of #1680.

[2020-02-07 08:21] pnlph opened #4425 "[doc] What are .agdai files?"
I did not find information about `.agdai` files while searching in the latest readthedocs. I found some scattered information on the issues #3185 #3909 #3549

Let's answer at least the following:
* why when saving an `.agda` file in the editor, the `.agdai` file is automatically created
* what the `.agdai` file is
* fo which things the `.agdai` file can be used

Where in the documentation should t

[2020-02-07 12:09] pnlph opened #4426 "[doc] Include infix notation for constructors"
I think it would be good to include in [Mixfix Operators](https://agda.readthedocs.io/en/latest/language/mixfix-operators.html) that the infix notation can also be used for constructors.

If you have a good example to illustrate it or comments, please post them below.

[2020-02-07 12:12] UlfNorell commented on #4426
List?

[2020-02-07 12:18] pnlph commented on #4426
`_::_` looks good, will do.

[2020-02-07 13:20] guillaumebrunerie opened #4427 "Make -v profile work when Agda is killed"
It would be nice if the option `-v profile:n` would work when Agda is killed using `Ctrl-C` in a terminal, it would make it easier to debug code that takes too long/too much memory to compile.
Is it possible to catch the signal and have it display the profiling information?

[2020-02-07 14:00] nad commented on #4427
Benchmarking information is in the persistent component of the state, so I imagine that this shouldn't be too hard.

[2020-02-07 15:47] nad opened #4428 "Don't use lazy Maybe in strict fields"
I found several instances of `!(Maybe something)` in `Agda.TypeChecking.Monad.Base`:

https://github.com/agda/agda/blob/f0422f159aedca2e987aba85d22421c2fba2a449/src/full/Agda/TypeChecking/Monad/Base.hs#L177

https://github.com/agda/agda/blob/f0422f159aedca2e987aba85d22421c2fba2a449/src/full/Agda/TypeChecking/Monad/Base.hs#L194

https://github.com/agda/agda/blob/f0422f159aedca2e987aba85d22421c2fba2

[2020-02-07 16:19] nad opened #4429 "Nested projections [Make Agda less strict?]"
The following example suggests that Agda may be unnecessarily strict:
[code]

[2020-02-07 16:27] nad commented on #4429
Using `-vtc:100` the last line of the debug output seems to be the following one (for `fails`):
[code]
For `also-fails` I get the following output:
[code]
I guess that in this kind of situation Agda reduces both sides to WHNF. Is it inevitable that we end up in this situation?

[2020-02-07 16:30] nad commented on #4429
I also noticed that the following code seems to loop:
[code]
The debug output contains many copies of the following text:
[code]

[2020-02-07 16:41] nad commented on #4429
Note that the following variant works:
[code]
Perhaps one can improve performance in non-trivial ways by using monolithic record types as opposed to nested ones.

[2020-02-08 12:14] jrp2014 commented on #4421
I’ve now tried this on macOS Catalina (no vm) with the same result. Perhaps it is a side effect of using cabal 3.2.

[2020-02-08 13:22] asr commented on #4421
Which is the output of `cabal --version`?

[2020-02-08 15:22] jrp2014 commented on #4421
The ppa from hvr that I used for Ubuntu is cabal 3.2+git20200127.2.b84fd4f-6~19.10

The MacOS version is cabal-install version 3.0.0.0
compiled using version 3.0.0.0 of the Cabal library

So that doesn't seem to be the answer.

To summarise:
* can't compile from source on macOS or Ubuntu
* brew (macOS) doesn't provide a version for Catalina
* the hackage versions seem to require some sort of Ediso

[2020-02-08 15:44] Soares opened #4430 "The new mutual recursion syntax chokes on a minimal induction-recursion"
[These docs](https://agda.readthedocs.io/en/v2.6.0.1/language/mutual-recursion.html) cause me to believe that the following code should work:

[code]

However, this yields:

[code]

One hypothesis I had was that this induction-recursion was "too simple", and that agda was getting confused b/c while I tried to declare `A` and `f` mutually-recursively, neither actually mentions the other. Another hy

[2020-02-08 15:45] UlfNorell commented on #4430
I think the problem is that you have a type signature on the data definitions. Try
[code]

[2020-02-08 15:54] Soares commented on #4430
Yep! My bad. Might be worth adding a note to the docs saying explicitly that if you say the type again then agda will assume it's a new def'n (which seems reasonable in hindsight but which I didn't understand in advance). Feel free to close, or to leave open & treat as a docs bug, and thanks for the speedy reply :-)

[2020-02-08 18:39] jrp2014 opened #4431 "hlinting agda"
At present, the master code triggers just shy of a century of different types on hunting suggestions:
[code]

Many of these are purely syntactic (eg, redundant brackets, redundant do, redundant $, etc).
Some of them might improve readability (`\ _ -> fn` could be `const fn`, etc).
Others suggest the use of more idiomatic style (Use null, maximum, intercalate, maybe, print, etc)
Others still sugges

[2020-02-08 19:59] jrp2014 commented on #4431
... and here are some examples:
[code]

If some of this code is machine-generated, then it would probably be better to fix the generator and reduce some of the common cases.  Eg, pre-pending an element of a list using `++` is expensive, relative to `:`.  Traversing lists multiple times with maps that could be single pass, if fused, should surely be addressed.

[2020-02-08 20:21] jrp2014 commented on #4421
I have reported this at https://gitlab.haskell.org/ghc/ghc/issues/17805

Note that `cabal repl` works OK, so it's either something in the GHC optimizer / code gen, or something in the `Makefile`

[2020-02-09 10:21] jespercockx commented on #2068
@andreasabel Why did you change the milestone to 2.6.1? We're (hopefully) still planning to release soon, no?

[2020-02-09 10:21] jespercockx commented on #906
@andreasabel Why did you change the milestone to 2.6.1? We're (hopefully) still planning to release soon, no?

[2020-02-09 10:23] jespercockx commented on #3604
Are there any volunteers to improve the changelog entry with advice on how to migrate to the new version?

[2020-02-09 11:52] jrp2014 commented on #4421
Good news & bad news.  Compiling with `-O0` succeeds, but the build fails:
[code]

[2020-02-09 13:42] asr commented on #4421
I had no problems running `make quicker-install-bin` with `cabal-install 3.0.0.0`. Which cabal version did you use?

[2020-02-09 16:08] #906 closed, assigned to andreasabel

[2020-02-09 16:08] #2068 closed, assigned to andreasabel

[2020-02-09 16:08] #3081 closed, assigned to andreasabel

[2020-02-09 16:08] #3136 closed, assigned to andreasabel

[2020-02-09 16:08] #4391 closed, assigned to andreasabel

[2020-02-09 16:08] #4418 closed, assigned to andreasabel

[2020-02-09 16:31] andreasabel commented on #4431
I'd be a bit careful with `hlint` and its suggestions.   (I remember Johannes Waldmann telling me he originally implemented `hlint` because he was tired to give the same feedback over and over again to his Haskell students.)

We should of course agree on a style, but it need not necessarily be the one of `hlint`. FYI: there is a style guide adapted from Tibbe's here: https://github.com/andreasabel

[2020-02-09 16:35] andreasabel commented on #4430
The docs already alert to this subtlety:

If you think it is not explicit enough and want to improve the docs, you are welcome to reopen and submit a PR.

[2020-02-09 16:35] #4430 closed, assigned to nobody

[2020-02-09 16:40] andreasabel commented on #4429
What exactly is the bug you want to fix, and in what way?

[2020-02-09 16:43] andreasabel commented on #4428
Yes.  The trouble is that Haskell conceives `Strict.Maybe` as a __absolutely new type totally unrelated to__ `Maybe`.  Thus, it is very inconvenient to use.
The language solution Haskell offers is not well designed, some strictness polymorphism is missing.

[2020-02-09 17:10] jrp2014 commented on #4421
I can now get it to compile if I switch off optimisation for Cubical.hs and Quote.hs.

[2020-02-09 17:18] jrp2014 commented on #4431
I agree with much of what you say, although the recommended way of using hlint is to generate a .hlint.yaml file based on your code that switches off all the diagnostics (hlint —default src > .hlint.yaml) and then switch on only those that are of interest. So I don’t recognise the threat of bullying. The question in this case is which those diagnostics  are?!

I also like to format my code uniform

[2020-02-09 18:06] nad commented on #4428
If we use lenses to access these fields, then perhaps we can use the lazy `Maybe` in the lens interfaces.

[2020-02-09 18:09] nad commented on #4429
1) Agda type-checks `also-works` without normalising `to` or `from`, but not `also-fails`. Is it possible to make a reasonable change to Agda so that `also-fails` is accepted?

2) Is it possible to change Agda so that `doesn't-work-any-more` is accepted? I don't see the point of normalising the right-hand sides of this definition.

[2020-02-09 18:24] nad commented on #4431
Why? We don't all use the same style, and I don't see this as a problem.

[2020-02-09 18:28] jrp2014 commented on #4431
My straightforward question is which of the hlint hints is it safe to implement, and which would people prefer to ignore? (If the answer is “all of them”, I’ll let sleeping dogs lie.)

[2020-02-09 18:34] andreasabel commented on #4429
`reduceHead` points to the injectivity ("constructor-headed") analysis.  Thus, if you add a check whether this analysis is pointless for a definition before any rhs is subjected to reduction, you should get right of (at least exactly) this problem.

[2020-02-09 18:34] andreasabel commented on #4428
This is exactly how I am implementing it, at least where lenses are already in place.

[2020-02-09 19:36] #4428 closed, assigned to andreasabel

[2020-02-09 20:17] andreasabel opened #4433 "Make use of DefaultSignatures in Reduce.hs"
Concerns classes:
- Instantiate
- InstantiateFull
- Simplify
- Normalize

Doesn't work for Reduce as this class has default method implementations.

[2020-02-09 21:57] gallais opened #4435 "Better error message for type signatures in mutually recursive definition"
See #4430 (and corresponding PR #4434).

We should generate a better error message suggesting a potential fix.

[2020-02-09 22:15] andreasabel commented on #4423
Could you explain what is the problem here?  The list is first constructed to compute its length, and then transformed into an array.  Is this a space leak? Temporarily, space for the whole list will be consumed, which can possibly be reclaimed after the array has been built (provided the list is not used otherwhere).

[2020-02-09 22:23] #4433 closed, assigned to andreasabel

[2020-02-09 22:41] andreasabel commented on #4431
Searching for the hint list, I found https://github.com/ndmitchell/hlint/blob/master/data/hlint.yaml or is there some better source?

I once tried `hlint` with the `refactor` option on Agda, which would have allowed to interactively apply some of the suggestions, but the refactoring tool was not up to the Agda source code (with CPP statements and the like).  Not sure what the capacities of that to

[2020-02-09 23:29] asr commented on #4421
The [test](https://www.travis-ci.org/agda/agda/jobs/646724095) on Travis using `cabal` instead of `stack` neither had problems.

[2020-02-10 00:10] jrp2014 commented on #4421
Thanks.  I'll have a look at that script and check what the differences between what it does and what I am doing (just typing `make`) are.

[2020-02-10 00:12] jrp2014 commented on #4431
The list above comprises all the hints that occur in the current src directory.  I wouldn't try the apply-refact package.  Sometimes it works, sometimes not (which is why I'd like to test what people would find helpful before rolling up my sleeves).

[2020-02-10 08:45] UlfNorell commented on #4423
Yes, that's what I meant. Most space leaks are only temporary.

[2020-02-10 13:16] asr commented on #4242
I'am getting a GHC panic using the followings instructions:

1. `cabal v1-update`

2. Install the [upstream](https://github.com/danr/geniplate) version of `geniplate-mirror`

3.
[code]

4.
[code]

The error disappears after removing `-fexpose-all-unfoldings` and `-fspecialise-aggressively` from `Agda.cabal` (as suggested by @nad in [this](https://github.com/agda/agda/issues/4421) issue).

Versions

[2020-02-10 15:57] L-TChen commented on #4242
@asr do you get the same panic using the Hackage version?

[2020-02-10 15:58] asr commented on #4242
What Hackage version are you talking about?

[2020-02-10 15:59] L-TChen commented on #4242
The latest one.

[2020-02-10 16:00] asr commented on #4242
I meant, the Hackage version of what?

[2020-02-10 16:04] L-TChen commented on #4242
Aha, `geniplate-mirror`, because you mentioned that you used the upstream version of it.

[2020-02-10 16:09] asr commented on #4242
I explicitly mentioned `geniplate-mirror` because it was the only library I needed to install from upstream. I don't think so the problem is related to this library (I rewrote the OP).

[2020-02-10 16:10] L-TChen commented on #4242
Alright, I forgot that I made the upstream version just to enable to compile Agda with GHC 8.10.1... 🤦‍♂

[2020-02-10 17:20] andreasabel opened #4437 "Shouldn't data projections be invertible ("injective" / "constructor headed")"
Consider:
[code]
This fails the injectivity analysis since `varToArg`
https://github.com/agda/agda/blob/fb9ac37fe6bb46f06a5e3d3fc68468edc6e75477/src/full/Agda/TypeChecking/Injectivity.hs#L144-L146
fails __hard__ if the variable (in this case, `x`) isn't a `topLevelArg` (in this case, e.g. `A`) of the function:
https://github.com/agda/agda/blob/fb9ac37fe6bb46f06a5e3d3fc68468edc6e75477/src/full/Agda

[2020-02-10 18:09] andreasabel commented on #4437
There is also a bit of strangeness about the data projections created by cubical (!?):
[code]
I speculate these auto-generated projections could be labelled as projection-like already when they are created here (@Saizan ?):
https://github.com/agda/agda/blob/e1cd4d0fee11ee76f4ff4612d5c8e447f37f8689/src/full/Agda/TypeChecking/Rules/Data.hs#L554-L560
But if we go for injectivity for data projections,

[2020-02-10 18:19] UlfNorell commented on #4437
Projection-likeness can give you exponential performance gains while injectivity only gives you less yellow. I'm not sure it's a good idea to default to the latter. I suppose we could add a pragma to let you choose.

`UnknownHead` should be fine. I added the unknown head logic not too long ago, the hard fail should probably have been changed then.

[2020-02-10 19:08] andreasabel commented on #4437
The relevant simplification of `computeHead` is in PR #4438.  However, as this automatically makes data projections injective and thus no longer projection-like, benchmark proj/Data fails now.

Yes, and possibly set the default to the safer opinion, which would be projection-likeness!?
What would the pragmas be? Something like:
[code]
Without function names, these could be used as adjacency-pragma

[2020-02-10 19:28] andreasabel commented on #4429
This means, you want a smarter conversion checker.  This is a very unspecified feature request.  Please come back with a specification of a strategy the conversion checker should employ, e.g. a strategy when to reduce to whnf and when not.

This point has been fixed by the above patches to the injectivity checker.

[2020-02-10 19:48] nad commented on #4429
Can you explain why Agda treats the two definitions differently?

[2020-02-10 19:49] jrp2014 commented on #4421
Good news: It seems that the issue is to do with a pre-existing library.  Bad news: I don't know which.

If I just `rm -rf ~/.cabal ~/.ghc` and `cabal update`, `cabal install alex happy`, `time cabal v1-install --disable-documentation --builddir=./dist-2.6.0.1.2019 --enable-tests --disable-library-profiling -fenable-cluster-counting --ghc-options="+RTS -M3G -RTS" -v0 --only-dependencies` and `time

[2020-02-10 19:53] andreasabel commented on #4425
The `.agdai` "interface" files contain the type-checked version of the `.agda` files in compressed form:
- all implicit arguments have been resolved
- pattern matching definitions have been translated to case trees to speed up computation
- the compression run to create the .agdai file has introduced sharing in the expression trees to make code loaded from interface files more memory-efficient.

A

[2020-02-10 20:06] asr commented on #4421
I'm glad you could build Agda on GHC 8.8.2. Are you planning to find the culprit pre-existing library?

[2020-02-10 20:46] nad commented on #4425
Not necessarily (`--allow-unsolved-metas`).

I don't think we should include implementation details in the documentation. Perhaps it suffices to write that the interface files are a representation of the source files, intended to make some operations faster. We could also include information about user-visible things like the locations and names of these files.

[2020-02-10 21:13] jrp2014 commented on #4421
That would be quite an undertaking, as I must have had squillions of libraries loaded and I can't see how I'd do it other than by rebuilding some of my earlier projects (most of which are build with v2-install, etc).

[2020-02-10 21:40] L-TChen commented on #4421
I'd say, yes. The new v2-build system is similar to `stack`. If for any reason that you are unable to use v2-build system, then try `stack` instead. The makefile has been designed for the `stack` build system, and the only thing you need to do is to rename manually one of `stack-*.yaml` to `stack.yaml`. Both should save you lots of time ...

[2020-02-10 22:42] andreasabel commented on #4423
Well, looking at the context where `ar` is used:
https://github.com/agda/agda/blob/e1cd4d0fee11ee76f4ff4612d5c8e447f37f8689/src/full/Agda/TypeChecking/Serialise.hs#L163-L173
I'd be surprised if the lists passed to `ar` are incrementally constructed.  They come from the deserializer which turns a ByteString into a tuple of lists and other stuff.  I'd assume these lists are not lazily constructed.

[2020-02-10 23:16] andreasabel commented on #4423
Looking at the `Binary` implementation of:
- lists: https://hackage.haskell.org/package/binary-0.10.0.0/docs/src/Data.Binary.Class.html#line-578
- arrays: https://hackage.haskell.org/package/binary-0.10.0.0/docs/src/Data.Binary.Class.html#line-700

We can see that deserializing arrays goes via lists and `listArray`, thus, it implements a space leak by default (for whatever people consider a space

[2020-02-11 08:54] jrp2014 commented on #4421
Yes, I normally  use it, but the Makefile here uses v1- explicitly, I assume for a reason.

[2020-02-11 09:31] andreasabel commented on #4423
b01211be1e28e327c67a04f61381a9cded0de10e is an experiment creating the array before serialization instead of after deserialization.  The serializer seems anyway strict in this list, getting it from `IO.HashTable` and subjecting it to `sort`.  Ideally, we could serialize a list as array to save the quite pointless step of creating an array first just to then serialize it.  Serializing a list as arr

[2020-02-11 11:33] UlfNorell commented on #4423
I don't expect it will make any difference. I just pointed to that as the only thing I could find that looked like a possible space leak.

[2020-02-11 12:25] #4426 closed, assigned to pnlph

[2020-02-11 12:35] andreasabel commented on #4429
[code]
For `also-works` the type checking problem for `to∘from` is already in reduced form, since Agda eagerly eliminates projection-redexes (they are not even represented in the internal syntax).  Thus, something like syntactic equality will just succeed.
For `fails` the type checking problem for `to∘from` mentions projections from `works`, which need to be resolved in order to see that the given

[2020-02-11 13:39] nad commented on #4429
I asked about `also-fails`, not `fails`:
[code]

Why doesn't this work for `from∘to` in `also-fails`?

[2020-02-11 14:14] andreasabel commented on #4260
I bumped the milestone since the `regression on master` has been solved.

[2020-02-11 14:32] andreasabel commented on #4411
`∃-even` and `∃-odd` fail the termination check because of two problems:
1. using argument pairs instead of curried form
2. use of `with`.

What works is:
[code]
Given that the behavior of the termination checker does not surprise me, esp. after the removal of the with-inlining (#3604), I proceed and close this issue.  Feel free to reopen with new information.

[2020-02-11 14:32] #4411 closed, assigned to nobody

[2020-02-11 14:44] Saizan commented on #4437
The projections generated by cubical are not meant to be used directly, so we want projection-likeness

[2020-02-11 14:54] andreasabel commented on #4429
Not sure exactly what is going on here, but could it be caused by the fact that `\ x -> x .proj` is contracted to just projection `proj`, but nothing like this happens for nested projections, `\ x -> x .proj .proj2`?

[2020-02-11 16:13] nad commented on #4429
Is this something that can be fixed/improved?

[2020-02-11 23:17] asr commented on #4421
After some discussion in https://gitlab.haskell.org/ghc/ghc/issues/17805, I could reproduce the issue by setting

[code]

in my `~./cabal/config` file:

[code]

[2020-02-12 13:33] nad commented on #4421
On my 32-bit setup I can compile Agda from scratch (with all dependencies already installed) with "1010 MB total memory in use" (this is what the GHC runtime system reports when the `-s` RTS option is used; I used the following command: `time cabal v1-install --disable-documentation --builddir=./dist-2.6.1 --enable-tests --disable-library-profiling -fenable-cluster-counting --ghc-options="+RTS -M3

[2020-02-12 13:33] asr commented on #4421
I could reproduce the issue with GHC 8.6.5 and 8.8.2 by running

[code]

I'm closing the issue because it isn't an Agda issue.

[2020-02-12 13:33] #4421 closed, assigned to asr

[2020-02-12 22:09] asr commented on #4242
The above [GHC Panic](https://github.com/agda/agda/issues/4242#issuecomment-584117219) was reported in https://gitlab.haskell.org/ghc/ghc/issues/17801 and fixed in https://gitlab.haskell.org/ghc/ghc/merge_requests/2674.

[2020-02-13 15:02] alexarice opened #4440 "Termination check failed for coinductive record with sized types and eta equality."
I am unsure if this is related to eta reduction but the following does not terminate:
[code]

This gives error
[code]

I am confused as to why termination checking does not work here as `biSimToEq` is only corecursively called on a strictly smaller size.

[2020-02-13 15:17] alexarice opened #4441 "Possible empty type of sizes in lambda expression"
Agda does not seem to like lambda expressions involving sizes.

[code]

`test2` typechecks fine but `test` does not with error
[code]

is test2 not just syntactic sugar for test. I'll admit I don't know why the check for empty size types is necessary but surely test and test2 should be treated the same way?

[2020-02-13 17:52] andreasabel commented on #4441
Agda is a bit too eager in complaining here, as there is no real problem.  However, not checking satisfyability of size constraints may lead to infinite reduction, consider the example `bad` in https://github.com/agda/agda/issues/1515#issue-99825023.

In general, no, with regard to termination, arguments cannot always be moved from the lhs to the rhs.  The general idea is that a clause only reduce

[2020-02-13 18:12] andreasabel commented on #4440
As far as I can tell, Agda is right to slap you on the fingers here, since what you are trying to do here, to define a function of type `BiSim' S T → S ≡ T`, ought not be possible.
Your function would have to eat up the whole infinite derivation of `BiSim` to produce the witness that the streams are equal.
Als a rule of thump, you cannot recursively eliminate something coinductive into something i

[2020-02-13 18:12] #4440 closed, assigned to andreasabel

[2020-02-13 18:16] andreasabel commented on #4437
I suppose then they could be created as projection-like from the start?
At the moment, they are created as regular functions, then subjected to the projection-likeness transformation, which has to change the definition...
Since these projections are created for each field of each constructor of each data type, and not only when `--cubical`is on, this could give a small performance boost.

[2020-02-13 18:20] andreasabel commented on #4429
In general, it would be good if Agda had a concept of _defined projection_ in the sense of a composition of projections.  This would also make definitions by copattern matching nicer for nested records.  Currently, you can inherit projections  from the parent structure with `open Parent parent public`, but they are not first class, and cannot be used as projection patterns.

[2020-02-13 18:26] andreasabel commented on #4425
This does not sound right.  This misses the main point, saving the results from the type-checking process. The syntax represented in `.agdai` files significantly differs from the one of source files.  Formally, it is a compiled version of the source that can be executed by the Agda machine.  (Of course, one could compile even further into more primitive representations.)

[2020-02-13 18:40] nad commented on #4425
Well, you omitted "intended to make some operations faster".

[2020-02-13 18:41] nad commented on #4429
I read this as "yes".

[2020-02-13 19:03] nad commented on #1556
@andreasabel's reverted fix made use of the termination checker. What would be the outcome if we changed the occurs check instead?

[2020-02-13 20:03] LuKuangChen opened #4442 ""Possible reasons" for unification failure talk incomprehensibly about modalities"
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Records.hs:601

[2020-02-13 20:18] UlfNorell commented on #4442
Do you have a test case? And what version are you running?

[2020-02-13 20:24] LuKuangChen commented on #4442
I am working on a large project, not sure which part causes the error.
I will come back when I find a simpler test case.
The version is 2.6.0.1

[2020-02-13 20:47] gallais commented on #4440
Eta for coinductive things also seems pretty dodgy.

[2020-02-13 21:17] alexarice commented on #4440
I agree that what I'm trying to prove seems quite false. I was hoping extensionality might help but I think this is still false. However I feel the error reported by agda isn't correct, or at least isn't in the right place

[2020-02-13 21:27] goose121 opened #4443 "Dark background highlighting in Emacs"
It seems that `agda-mode`'s faces were not designed for use with a dark background, as they don't have any alternatives defined for dark backgrounds and they don't tend to show up very well. This is closely related to #3321, as inheriting from the default font-lock faces would resolve the issue for many of the problematic faces, but there are also some highlighting faces, among others, that would

[2020-02-13 21:37] L-TChen commented on #4443
Have you used the dark theme introduced by https://github.com/agda/agda/pull/3852?

[2020-02-13 23:24] goose121 commented on #4443
Oh, interesting; I'm not sure that I have, my installation must be out of date. Sorry for the inconvenience.

[2020-02-13 23:24] #4443 closed, assigned to nobody

[2020-02-14 00:56] LuKuangChen commented on #4442
Loading M1 gives the same error message. There are two Agda files (M1.agda and M2.agda).

M1.agda
[code]

M2.agda
[code]

[2020-02-14 01:03] LuKuangChen commented on #4442
BTW, changing the record definition in M2 to a data definition fix the problem.

[2020-02-14 08:26] Saizan commented on #4437
Yes, they could. I think I did it this way because I didn't know how to generate the right projection-like representation, probably just me not being familiar with it though.

[2020-02-14 09:08] andreasabel commented on #4442
On the development version, there is no internal error.  Instead:
1. The reference to `PreRel` in `Rel` is yellow, there is an unsolved meta standing in for `S`.
2. Because of this, the  pattern match `f (rel k)` fails with error:
[code]
What is worrying: the possible reasons talk about `the solution cannot be used at relevant, unrestricted modality` without there being any modalities involved in

[2020-02-14 09:27] jespercockx commented on #4442
Is it because metas created at the type level are created as being "erased", which means they cannot be used in non-erased positions? Maybe one way to fix it would be to instead 'promote' the erased meta by creating a new meta of the same type that is not erased, and instantiating the erased one with it.

[2020-02-14 09:30] andreasabel commented on #4440
Well, Agda reports:
[code]
which is exactly what it should do.  And also, it correctly identifies that the problem stems from the calls `lem` and `bisimToEq`.
The error messages do not go beyond that.  They do not tell you exactly what is going wrong here.

[2020-02-14 09:34] andreasabel commented on #4425
I had no complaints about that part. ;)

[2020-02-14 09:50] andreasabel commented on #4416
With interaction, it gets messy.  If you only create the interaction point for the first alternative, then, then accepted refinements for this interaction point could be rejected upon reloading the files.
To do this properly requires quite a bit of new infrastructure.

Most of what you want you could get already if we had `where`-blocks that scope over several clauses and contain definitions that

[2020-02-14 11:07] andreasabel commented on #4431
How to get hlinting started?  I think a good way is to compose a list of _uncontroversial_ hints, like e.g. `Use /=` and add hooks that run `hlint` with these uncontroversial ones.
The problem is how to organize to process to arrive at the list of hints generally accepted by the developers.
A possible but long-winded process is to:
1. First add all the hints that the Agda code base follows already

[2020-02-14 13:32] Saizan commented on #4419
So you mean that you also defined your functions like the following?

[code]

[2020-02-14 14:33] jrp2014 commented on #4431
I don't think that it is worth making an industry out of this task.  I don't think that we want 100 PRs to accomplish this task.

To me,

1. there are a few of hints that look like straight improvements (eg, Functor law
Fuse foldr/map, Fuse mapM/map, Fuse mapMaybe/map, redundant flip).

2. most, if not all, the "use a well-known standard function that does the same thing" (const, id, concatMap, ..

[2020-02-14 15:36] andreasabel commented on #4437
Ok, I give it a try.

[2020-02-14 16:37] andreasabel opened #4445 "Agda agda-cubical to the Agda test suite"
To ensure we are not accidentially introduce bugs in `--cubical` we ought to have the cubical library as standard test, just like the standard library.
https://github.com/agda/cubical

[2020-02-14 17:52] andreasabel commented on #4437
Pushed 6134ea793401465ce428d406e77b04eb74b54d61 that generates data projection directly as projection-like.

[2020-02-15 09:01] zraffer opened #4447 "Positivity: internal error with projection in constructor type"
[code]

[2020-02-15 10:23] gallais commented on #4447
The two types are mutually defined. So we need to make sure the inductive
definition is positive before convincing ourselves that it is safe to reduce
the definition. And we need to reduce the definition to check positivity.

Not clear how to fix this.

[2020-02-15 11:57] andreasabel commented on #4447
And score!!
[code]

[2020-02-15 12:14] andreasabel commented on #4447
Agda 2.5.2 still rejects `D`.  Also, the internal error first appears in 2.5.3.  Bisection could find the commit to blame. ea711d0a4faa1cc79d1bfdad15a4723f75c5679b (fixing #2495) is under suspicion.

See #3049 for another fatal positivity checker regression in 2.5.3.

[2020-02-15 12:17] andreasabel commented on #3049
Why was this labeled "regression on master"?

[2020-02-15 12:28] andreasabel commented on #2975
"regression in master" is reserved for yet unreleased regressions in the development version.

[2020-02-15 12:41] andreasabel commented on #3541
We need to make sure that non-linear indices do not count as positive.  Thus, equality needs to remain non-variant for the positivity checker (and the polarity checker as well).

I am expanding your test to prevent regressions.

[2020-02-15 14:32] UlfNorell commented on #4431
This doesn't always improve readability in my opinion (depends on the involved functions), and I believe GHC can do the fusion itself (no?), so performance shouldn't be an issue.

[2020-02-15 14:51] L-TChen commented on #4431
In terms of lower-hanging fruit, there are a number of cyclic imports (`*.hs-boot`), and it will be nice to get rid of them.

[2020-02-15 14:58] jrp2014 commented on #4431
I suspect that ghc does a good deal of fusing, but probably not in all cases, and Agda doesn't build with -O2.  Readability is subjective, but nested maps and foldrs are harder for me.

[2020-02-15 16:14] andreasabel commented on #2495
The fix here might have introduced regressions #4447 and #2901.

[2020-02-15 16:17] andreasabel commented on #4447
The positivity checker seems to be too gullible / not paranoid enough in one place:
https://github.com/agda/agda/blob/6134ea793401465ce428d406e77b04eb74b54d61/src/full/Agda/TypeChecking/Positivity.hs#L540-L542
Here, it should have checked that the `_` in `Def _ vs` is indeed the name of the data type the constructor belongs to.  In the present issue, this is not the case, thus, just positivity che

[2020-02-15 16:34] andreasabel commented on #2901
Regression introduced in #2495, can be fixed alongside #4447 by allowing `UnconfirmedReductions` in the positivity checker.

However, there is the risk of a Agda looping if the user has non-terminating functions in a mutual block with data definition, and these are mentioned in the type of constructors.  Currently, the test for #2997 indeed has this, and will loop if we switch on `UnconfirmedReduc

[2020-02-15 16:40] andreasabel commented on #2997
Would it be acceptable behavior if Agda looped?
Getting safely through
[code]
is in conflict with #2901, where we would need reductions in argument types of constructors in the positivity checker.

[2020-02-15 17:05] andreasabel commented on #4431
A (stupid) example where the unfused version is more readable is:
[code]
which is clearly the multiplication of numbers after increasing them by one.  The fused version
[code]
takes longer to comprehend, because one has to understand the anonymous function involved, convince oneself that the `+1` is applied to the correct argument.  Then there is the nested parentheses one has to parse correctly..

[2020-02-15 17:07] WolframKahl commented on #4431
With some practice.
[code]
can become as readable as the original version...

[2020-02-15 17:12] andreasabel commented on #4431
After 17 years of Haskell, I still have to think what this means, and sort out which argument of `*` is increased by `succ`... :-)

[2020-02-15 17:23] WolframKahl commented on #4431
That's why I mentioned practice — I am doing this kind of thing a lot...

[2020-02-15 17:46] #4447 closed, assigned to andreasabel

[2020-02-16 18:09] nad commented on #4416
How does this solve the problem with goals?

[2020-02-16 18:19] nad opened #4450 "Should the ETA pragma be allowed in safe mode?"
@gallais stated that "[Eta for coinductive things also seems pretty dodgy](https://github.com/agda/agda/issues/4440#issuecomment-585963879)". Should the ETA pragma be allowed in safe mode? Currently the two pieces of code below are accepted:
[code]
[code]

[2020-02-16 18:36] nad commented on #4419
Yes, something like that.

[2020-02-17 09:15] andreasabel commented on #4450
If you try to do the same with an `eta-equality` declaration, you get the error:
[code]
Eta-equality for streams is incompatible with decidable definitional equality:  Consider
[code]
With eta-equality, for testing `foo .tail = foo` it would be sufficient to look that equality of the projections, which leads to an infinite regress.  For instance, this code makes the type-checker loop:
[code]
If sa

[2020-02-17 09:22] Saizan commented on #4440
@alexarice You can get it working like the following, though ETA for Thunk is still a problem wrt normalization.

[code]

[2020-02-17 09:27] #4404 closed, assigned to nobody

[2020-02-17 09:37] andreasabel opened #4451 "Highlighting: use several lookups rather than merging hash-maps?"
Coming across this code
https://github.com/agda/agda/blob/74d9fd53cd79e1d947b57952760946d24c8cfa8d/src/full/Agda/Interaction/Highlighting/Generate.hs#L451-L460
I wonder whether merging hash-maps to build a lookup function is a good idea performancewise, in particular if the maps can be big (all imports) and the lookups can be few (just looking up names contained in one declaration).  Wouldn't it b

[2020-02-17 10:21] andreasabel commented on #4431
@jrp2014 commented:

Fusion rules are included in `-O`, which is the same as `-O1` and the cabal default optimization level.
See: https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/flags.html#optimisation-levels

[2020-02-17 11:53] Saizan commented on #3839
I think there are valid use cases for rewrite rules like this.

What needs to be done for soundness is checking that the terms the rule is instantiated with actually typecheck at the requested modality. I guess currently we do not have a cheap way to do that?

[2020-02-17 12:01] anuyts commented on #3839
I agree with @Saizan , I think I misunderstood @jespercockx in my last reaction...

[2020-02-17 13:21] jrp2014 commented on #4431
Thanks for looking through #4448 Andreas.

Working through that, and through the next tranche of candidates leads me to observe:
- What is grokable and what is impenetrable depend almost entirely on pattern recognition.  If you're not used to turning things into a folds, then it will seem harder to read, but if you are, then having something expressed as a higher-order pattern makes it easier to i

[2020-02-17 13:26] XYUnknown opened #4452 "Compiler error when using REWRITE"
There is an error when I try to define `padCst`. The error message is:
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Rewriting.hs:378

The definition of `padCst` is:
[code]
The link of source code: [link](https://github.com/XYUnknown/individual-project/blob/master/src/example/PadCstIssue.agda)

[2020-02-17 14:08] Saizan commented on #4234
if you have a function `f : H -> A` where `H` is a non-recursive HIT you can just define a strict version by `f-strict (c y) = f (c y)` for every constructor `c`.

If `H` is recursive a general way would be to give `f-strict` the type `(x : H) -> Σ A \ a → f x ≡ a` so that you can define each clause by using the contractibility of `Σ A \ a → f x ≡ a`. And then compose with the first projection.

D

[2020-02-17 14:35] #4320 closed, assigned to nobody

[2020-02-17 14:49] sattlerc commented on #4452
Which version of Agda are you using? I don't get an internal error with the development version (master branch).

[2020-02-17 14:54] XYUnknown commented on #4452
I'm using Agda v2.6.0.1 with standard library agda-stdlib-1.2.

[2020-02-17 14:54] zraffer commented on #4402
Whereas `Panic` has gone, we still have `not allowed in a telescope` error in record, as mentioned. Should it be considered as an issue? Should records understand patterns? The test code above can be even minimized into

[code]

[2020-02-17 14:56] andreasabel commented on #4452
This is already fixed in the current development version (2.6.1).

Thanks for reporting!

[2020-02-17 14:56] #4452 closed, assigned to nobody

[2020-02-17 14:57] nad commented on #4451
Things have changed quite a bit since I wrote that code: I think that we used to run `nameKinds` at most once per module. Furthermore we used to use `Data.Map`, for which the time complexity of `union` is (now) described in the following way: ["O(m*log(n/m + 1)), m <= n"](https://hackage.haskell.org/package/containers-0.6.2.1/docs/Data-Map-Lazy.html#v:union).

[2020-02-17 15:05] gallais commented on #4402
This feature request should probably go in a different issue.
In the meantime, I'll refer you to [the comment explaining this design decision](https://github.com/agda/agda/blob/2895e438a06f2ca6be4e051b5edf1fa2cca775e6/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1098-L1104):

[code]

[2020-02-17 16:28] sattlerc commented on #4329
Here is another test case with the same behaviour as in the previous comment.

- Version 1:
[code]
- Version 2:
[code]
The highlighting of 'using (non-existent)' persists after commenting out the line.

[2020-02-17 18:00] #4451 closed, assigned to andreasabel

[2020-02-17 18:02] andreasabel commented on #4451
It seems like the time spent on highlighting the standard library is reduced to 40% by this simple refactoring.

[2020-02-17 18:28] nad commented on #4387
I tried the same example. I noticed that Agda is busy after `Everything.agda` has been type-checked. If I wait until Agda settles down, then `Test.agda` loads quickly.

[2020-02-17 19:26] andreasabel commented on #3432
I fixed this by also considering `stPatternSyns` when creating the `nameKinds` lookup function in Highlighting.Generate.  The underlying issue is that pattern synonyms are not stored in the signature but in their own little pet map.

[2020-02-17 20:13] #3432 closed, assigned to andreasabel

[2020-02-17 20:51] andreasabel commented on #3417
The same problem exists for positivity warnings.  In the following case, neither termination nor positivity issues are highlighted.
[code]
I do not fully understand the problem, but my hunch is that it has to do with the fact that termination and positivity warnings are only highlighted when we successfully check the next declaration (since these checks run after the type-checking which ends with

[2020-02-17 21:37] andreasabel commented on #4348
My proposed solution in PR #4454 highlights warnings as they are created rather than postponing it to the next successfully checked declaration.

[2020-02-17 21:50] andreasabel commented on #4260
The problem is that fixity declarations are only represented in concrete syntax (where the name kind has not been computed yet) and not in the abstract syntax (where we know the name kind).  A systematic fix would add such declarations to the abstract syntax (and necessarily, also to the nice syntax in Concrete.Definitions), for the purpose of highlighting.  There already are certain declarations

[2020-02-17 22:44] #4285 closed, assigned to asr

[2020-02-18 08:10] andreasabel commented on #4450
To implement treating ETA as unsafe, start here:
https://github.com/agda/agda/blob/24929e161b2951beff5cf5ba5a5450e3cc9d2107/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L1326-L1350

[2020-02-18 08:18] andreasabel commented on #4416
It doesn't.

Anyway, such a feature needs a solid proposal offering solutions for the problems we could face in type checking.
I am closing this issue, but please reopen if you have a proposal.

[2020-02-18 08:18] #4416 closed, assigned to nobody

[2020-02-18 08:25] andreasabel commented on #4425
Giving the user a rough model of what goes on behind the curtain is beneficial, imho.  Understanding how a tool works helps to use the tool.

In our case, knowning about case trees and how clauses are translated to case trees helps understanding complaints from the coverage checker.

The mere existence of this issue shows that there is need to get more information how things work.

[2020-02-18 08:35] andreasabel commented on #4419
Frankly, I'd say this is a very high hanging fruit since you also need to take care to print things back to the user as they wrote it.  Thus, you need a faithful reverse translation and apply it before printing any errors.

As of now, we are not getting this right for the (simple?) case of module instantiations.  Before we understand this already existing transformation properly, it seems no good

[2020-02-18 08:38] alexarice commented on #4440
I am now very confused, should this be possible or not?
My intuition for how it might work is that while we can't view the entire stream we can view a "bounded above in length" stream which is how I understand the stream indexed by a sized type.

[2020-02-18 10:45] nad commented on #4451
Good catch.

[2020-02-18 10:55] nad commented on #4425
On the other hand, if we include implementation details and later change the implementation, then the manual risks becoming (more) out of date.

[2020-02-18 11:01] UlfNorell commented on #4425
This is also true for documenting language features. Common practice is to update the documentation when it becomes outdated, rather than not writing documentation.

[2020-02-18 11:12] nad commented on #4425
That is easy to miss if the documentation contains something that you did not expect it to contain. For instance implementation details.

But is there a need to know how these things are stored in the interface files?

[2020-02-18 11:27] UlfNorell commented on #4425
Clearly there's no need to know how the case trees are stored in the interface file, but no one is suggesting that we document that.

[2020-02-18 11:49] nad commented on #4425
I don't think there is a need to know that we store case trees, it suffices to know that functions defined by pattern matching are stored in some way.

[2020-02-18 12:27] nad commented on #4387
I've tried to figure out what Agda does after the file has been type-checked. I think there are two threads, both of which are idle:
* The main thread is waiting for a command from the command queue:

  https://github.com/agda/agda/blob/24929e161b2951beff5cf5ba5a5450e3cc9d2107/src/full/Agda/Interaction/InteractionTop.hs#L327
* The thread that reads commands is waiting for input:

  https://github.

[2020-02-18 12:56] Saizan commented on #4214
fixed by  de820498b36d2054ec22cf54414f1c0284b14c77

[2020-02-18 12:56] #4214 closed, assigned to nobody

[2020-02-18 12:56] UlfNorell commented on #4425
Because if we abandon case trees it will be too much work to update the documentation?

[2020-02-18 13:08] Saizan opened #4455 "Make checkInternal aware of --cubical"
`checkInternal` is aware of `IApply` (although it probably should double check the endpoints as well).

And since the fix for issue #4214 it can handle path constructors.

However it does not know about the extra constraints on primitives like `primHComp`.

A good experiment would then be whether `checkInternal` agrees that are preserved when reducing transp/hcomp.

[2020-02-18 13:30] nad commented on #4387
I tried to use ThreadScope. I used three methods to run Agda (in all cases with all dependencies of `Everything.agda` already type-checked, but not cached in memory):
* Using `agda -i. Everything.agda +RTS -l`:

  ![noninteractive](https://user-images.githubusercontent.com/293222/74737516-4ade4580-5255-11ea-8b5e-15d0aaa54065.png)

* Using `runhaskell Main.hs agda` and the following script:
[code]

[2020-02-18 13:37] nad commented on #4425
This particular example doesn't really matter, but in general I'd like it to be easier, not harder, to maintain Agda.

[2020-02-18 15:32] #3417 closed, assigned to andreasabel

[2020-02-18 15:32] #4348 closed, assigned to andreasabel

[2020-02-18 15:49] L-TChen commented on #4425
I totally agree. On the other hand, making a good document also helps the development of Agda accessible to more people and perhaps may attract more people to work on it.

[2020-02-18 16:01] nad commented on #4425
It might be useful with more documentation of the implementation, but I don't think that should be mixed up with the user manual.

[2020-02-18 16:24] L-TChen commented on #4425
A document on the implementation sounds a terrific idea! 😉

Perhaps, we can use GitHub's wiki feature (or somewhere suitable) to deal with common questions about the implementation first, including the details of the interface file, how Agda type checks a file (raw text -> concrete syntax -> abstract syntax -> internal syntax), etc.

IMO, the information discussed here is valuable, and the questio

[2020-02-18 16:50] andreasabel opened #4456 "No error highlighting for error warnings?"
Working on #4450 I saw that warnings which are reported as errors do not get error highlighting in the file:
https://github.com/agda/agda/blob/bb680eb7e0dd2606289d8bdc33ca916b1bde1a2f/src/full/Agda/Interaction/Highlighting/Generate.hs#L630-L640
Is this intended or by accident?

[2020-02-18 17:09] gallais commented on #4456
My guess: no one bothered adding a new highlighting style for these.
I guess bright red background could work.

[2020-02-18 20:01] andreasabel commented on #4456
By default, we could use the `OtherAspect` `Error`, but we could also add a custom `OtherAspect`.
https://github.com/agda/agda/blob/bb680eb7e0dd2606289d8bdc33ca916b1bde1a2f/src/full/Agda/Interaction/Highlighting/Precise.hs#L110-L124
There is no specific parts of an unsafe pragma to be highlighted specially, this is why the `Error` aspect might be sufficient.

[2020-02-18 20:03] #4450 closed, assigned to andreasabel

[2020-02-18 20:07] andreasabel commented on #4450
Added a new `Warning`: `SafeFlagEta`.

[2020-02-19 08:46] UlfNorell commented on #4387
This matches my observations. What's interesting though is that it doesn't happen for 2.6.0.1. There I get about 2 seconds of 50% CPU after the `Checked` message, and even if I switch directly to `Test.agda` it loads instantly.

What versions of ghc are you running (@nad / @MatthewDaggitt)? I'm on 8.8.1, trying now with 8.4.3.

[2020-02-19 08:48] nad commented on #4387
I made it possible to terminate Agda gracefully from the Emacs mode, and got the following output (the process spun down a couple of seconds before I asked it to terminate itself):

![interactive](https://user-images.githubusercontent.com/293222/74817182-c941f280-52fc-11ea-85b6-920fb7457847.png)

[2020-02-19 08:52] nad commented on #4387
I'm using GHC 8.6.5.

Agda 2.6.0.1 is not compiled with `-threaded`, I suggest that you start by removing this flag.

[2020-02-19 08:58] nad commented on #4387
When the threaded RTS is used ["a major GC is automatically performed if the runtime has been idle (no Haskell computation has been running) for a period of time"](https://downloads.haskell.org/~ghc/8.8.2/docs/html/users_guide/runtime_control.html#rts-flag--I%20%E2%9F%A8seconds%E2%9F%A9). One can turn off this feature by using `-I0`. That seems to fix the problem.

[2020-02-19 09:00] nad commented on #4387
The documentation of `-I` includes the following text: "This is an experimental feature, please let us know if it causes problems and/or could benefit from further tuning".

[2020-02-19 09:06] nad commented on #4387
Has anyone figured out why there is a gap in the activity reports? Can you replicate the gap?

[2020-02-19 09:19] UlfNorell commented on #4387
I'm just eyeballing using top, but I'm not getting any gaps in CPU usage. After `Checked` appears there's another 15-20s of 100% CPU before it calms down. After that it stays idle.

The threaded flag was added in #3748, for no particularly compelling reason, so if that is indeed the problem I suggest we get rid of it again.

[2020-02-19 09:21] nad commented on #4387
I don't plan to add a regression test for this bug. However, I could trigger the problematic behaviour by using `runhaskell Main.hs agda`, where `Main.hs` is defined in the following way:
[code]
The ThreadScope output:
![interactive-unsupervised](https://user-images.githubusercontent.com/293222/74819891-60a94480-5301-11ea-86fd-44849cab4ef8.png)

[2020-02-19 09:23] nad commented on #4387
Using `-I0` seems to work fine. Have you tested this? I've added this to the `-with-rtsopts` flag (but I have not pushed yet).

[2020-02-19 09:30] UlfNorell commented on #4387
Yes `-I0` solves the problem for me as well. Is that available for all ghc versions we support?

[2020-02-19 09:40] nad commented on #4387
With the threaded runtime system we have the possibility to use multiple threads for GC. I tried this, and got the following output (using the previous script, with `-N2`, `-qg1` and `-I0` added to the RTS flags):
![multiple-cores](https://user-images.githubusercontent.com/293222/74821301-acf58400-5303-11ea-8b43-3109ad497fe4.png)
In this particular case the difference seems to be small.

[2020-02-19 09:43] UlfNorell commented on #4442
For reference, this is the reason: #4174. And the issue for improving the situation is #4366.

Closing as duplicate.

[2020-02-19 09:43] #4442 closed, assigned to nobody

[2020-02-19 09:44] UlfNorell commented on #4366
In #4442 [Jesper wrote](https://github.com/agda/agda/issues/4442#issuecomment-586174574)

[2020-02-19 09:46] nad commented on #4387
The `-I` flag is supported by GHC 6.6.

[2020-02-19 09:48] nad commented on #4387
I did not observe the gap using top.

[2020-02-19 10:11] nad opened #4457 "Use compact regions?"
Perhaps we could use ["compact regions"](https://github.com/ezyang/compact) to avoid garbage-collecting data read from interface files.

[2020-02-19 10:14] nad commented on #4457
Compact regions do not support functions, and compaction is "very costly" if you want to retain sharing, so perhaps this is not a good idea.

[2020-02-19 10:32] MatthewDaggitt commented on #4387
Looks like you've found the cause, but just in case I'm on 8.0.2

[2020-02-19 10:42] UlfNorell commented on #4387
Adding `-I0` seems like the best way to fix the problem then.

[2020-02-19 11:15] UlfNorell commented on #3604
I'll try to write something.

[2020-02-19 11:24] nad opened #4458 "The command agda2-measure-load-time is broken"
When I changed the Emacs mode so that one can (in some cases) give a new command before the previous command has completed (ac5fca49d62070895c81b06bb05e6e34da606f1c), I broke `agda2-measure-load-time`. To reproduce the problem:
* Invoke the command `(progn (agda2-restart) (agda2-measure-load-time))`.
* Notice that you quickly get a response like "Load time: 0.02s.", even if type-checking takes a l

[2020-02-19 11:37] UlfNorell commented on #3604
@MatthewDaggitt abstracting the recursive call does work in your examples. You have the wrong value for `i` in your attempt. Abstracting over `𝓒ₜ⊆𝓡ₜ t {k} {valid p}` and `𝓒-path t {k} {valid p}` works for me.

[2020-02-19 12:10] UlfNorell commented on #3604
Guide in #4459.

[2020-02-19 13:11] #4387 closed, assigned to nad

[2020-02-19 16:20] nad commented on #4457
But we do not serialise functions…

I ran a quick test. The key change is restricted to one line in `Agda.TypeChecking.Serialise`:
[code]
I ran `runhaskell Main.hs agda`, with all dependencies of the standard library's `Everything.agda` already type-checked, and `Main.hs` defined as in [#4387](https://github.com/agda/agda/issues/4387#issuecomment-588118325) (including `threadDelay`). Images from T

[2020-02-19 17:00] nad commented on #4457
My plan is to push my changes, restricted to GHC 8.6 and higher. The documentation claims that the feature ["is supported by GHC 8.2 and later"](https://hackage.haskell.org/package/ghc-compact-0.1.0.0/docs/GHC-Compact.html), but I don't want to spend time benchmarking older versions of GHC. I'm depending on the lower-level library [ghc-compact](https://hackage.haskell.org/package/ghc-compact), rat

[2020-02-19 17:14] WolframKahl commented on #4457
Since “compacting data involves copying it”, it probably it makes sense to add a verbosity flag keeping track of individual and cumulated `compactSize` of compacted `.agdai` data.

And in view of
[code]
, an entry in the Agda-internal time profiling list separate from deserialisation probably also makes sense.

[2020-02-19 18:35] pnlph commented on #4425
Thank you for your comments! I will try to sum up everything in an upcoming PR as soon as i can.

Also, i just noticed that when an agda file is renamed, the old .agdai file is kept and a new created. This is the desired behavior, right?

[2020-02-19 18:39] nad commented on #4457
I've pushed my changes. Feel free to implement the things that you suggested.

[2020-02-19 18:42] nad commented on #4425
I don't think we should look for and delete orphan `.agdai` files anywhere in the user's file system.

[2020-02-19 18:46] pnlph commented on #4425
Yes, I agree, we just could explain roughly how it works so the user can decide.

[2020-02-19 20:13] #3604 closed, assigned to nobody

[2020-02-19 21:00] samkuhn commented on #4250
Just to chime in I've been trying to install Agda on OSX for the last two hours and it's pitchfork-in-the-face at every turn.. but then again I've built chrome from source so nothing phases me any more  🤣

[2020-02-19 21:05] samkuhn commented on #4250
From the docs.. This is the worst thing you can do incidentally.

[2020-02-19 21:07] UlfNorell commented on #4250
Can you share your troubles? Are you trying to install the development version following https://agda.readthedocs.io/en/latest/getting-started/installation.html#installation-of-the-development-version ? Or 2.6.0.1 from Hackage?

I have not tried the brew recipe myself, so I can speak to that, but building from source should be possible without too much trouble.

[2020-02-19 21:11] UlfNorell commented on #4250
ping @mietek who is maintaining the brew recipe

[2020-02-19 21:20] samkuhn commented on #4250
Yes sorry not the most helpful comments 😉Will try and do a little writeup of my experience in the next day or so and post as a separate issue. There's a few paths to get brew / ghc / cabal / emacs / agda installed and it seems that I picked all the wrong-uns.

[2020-02-20 06:32] nad commented on #4457
Given that we are (hopefully?) about to release 2.6.1 I'll add a flag for this feature and turn it off by default. For that reason I'll also add some documentation.

[2020-02-20 06:35] MatthewDaggitt commented on #3604
Oh (doh!). Thank you very much, that's saved me a lot of pain. Apologies for not spotting that myself.

[2020-02-20 07:13] nad commented on #4457
I did not include information about heap usage for the example above (as reported by ThreadScope).
* Without compact regions:
  Maximum heap size: 2.2 GiB
  Maximum heap residency: 1.1 GiB
  Total allocated: 4.0 GiB
* With compact regions:
  Maximum heap size: 444.0 MiB
  Maximum heap residency: 226.7 MiB
  Total allocated: 332.0 MiB

Another way to reduce GC is to set a large initial heap size. W

[2020-02-20 07:18] nad commented on #4457
I'll add that.

[2020-02-20 08:13] nad commented on #4457
Profiling information for the test case above:
* Without compaction:
[code]
* With compaction:
[code]
These numbers look suspicious to me. I'll test a bit more.

[2020-02-20 11:20] nad commented on #4457
I got the following numbers for std-lib-test:
* If serialised interfaces are not decoded and used (in which case compaction is not used):
[code]
* If serialised interfaces are decoded (but not compacted) and used:
[code]
* If serialised interfaces are decoded, compacted and used:
[code]
The second option does not look very good. The last option is (for these particular test runs) slightly slower t

[2020-02-20 11:29] kcsongor opened #4461 "Inconsistent inferred universe in data constructor"
The following code is accepted (I tested on `2.6.1-0895178`):

[code]

The code below is adapted from http://www.cs.nott.ac.uk/~psztxa/g53cfr/l20.html/l20.html and implements Russell's paradox, but without type-in-type.

[code]

Manually specifying the universe to be `Set` is rejected as expected.

[2020-02-20 11:51] UlfNorell commented on #4461
Leaves unsolved metas on 2.6.0.1

[2020-02-20 11:57] nad commented on #4316
I have implemented my suggestion. See https://github.com/agda/agda/issues/4457#issuecomment-588971007 for some benchmarks for the standard library.

@JacquesCarette, can you benchmark with your code? Try with and without `--compact-regions`.

[2020-02-20 12:01] UlfNorell commented on #4461
Looks like the problem is here:

https://github.com/agda/agda/blob/172499021ae00f9669e8ce43789d7f5a632c8953/src/full/Agda/TypeChecking/Level.hs#L178-L182

This will give `Max 0 []` for `subLevel k (Max 0 [])` regardless of `k`. In this particular example it results in `Set` being considered a 1-step sub-universe of `Set`.

cc @jespercockx

[2020-02-20 12:02] jespercockx commented on #4461
I **just** was looking at the same piece of code. I'll push the fix soon.

[2020-02-20 12:08] UlfNorell commented on #4461
Removing that line triggers a flood of internal errors in the test suite, so I guess it was there for a reason...

[2020-02-20 12:15] jespercockx commented on #4461
I wouldn't remove the line but just add a condition that `ls` is not empty

[2020-02-20 12:16] UlfNorell commented on #4461
Right, that makes sense.

[2020-02-20 12:44] #4461 closed, assigned to jespercockx

[2020-02-20 12:46] kcsongor commented on #4461
Thank you both for getting to the bottom of this so quickly!

[2020-02-20 12:46] jespercockx commented on #4445
Could we have a command to automatically fetch the right version of the cubical library in the makefile, similar to `make up-to-date-stdlib`?

[2020-02-20 12:46] jespercockx commented on #4461
Thank you for reporting the bug!

[2020-02-20 12:54] UlfNorell commented on #4445
I added cubical to the `std-lib` targets, so `make up-to-date-stdlib` should update `cubical` as well.

[2020-02-20 13:26] mietek commented on #4250
@samkuhn: Do let me know what seems to be the problem. The easiest way to talk is in the #agda IRC channel on Libera, [via IRCCloud](https://www.irccloud.com/invite?channel=%23agda&hostname=irc.libera.chat&port=6697&ssl=1) or otherwise.

[2020-02-20 13:52] JacquesCarette commented on #4316
Thanks.  I'm travelling right now, but I will test it as soon as I can.  I'll cross-list this on agda-categories, maybe someone else will beat me to it.

[2020-02-20 14:28] asr commented on #4445
I suggest to add independents targets for cubical, something like

[code]

[2020-02-20 14:56] UlfNorell commented on #4445
Why? What's a use case where you want to update one but not the other?

[2020-02-20 15:05] andreasabel commented on #4457
Nice work!

About the option name: My first association for "compact regions" was to use compact source code regions (in the sense of `Range`). "Region" is otherwise not a term in the Agda universe.  Also, this option is about a very specific implementation detail, thus, it should not just land in the option soup.

I suggest to have a prefix to the name that distinguishes this option as something

[2020-02-20 15:13] asr commented on #4445
1. Cubical doesn't depend of the standard library.

2. We don't have a defined workflow for updating the standard library in the Agda repo which cause some problems. These problems are independents of cubical.

3. The standard library depends of GHC, some Haskell libraries and Cabal but cubical doesn't.

Testing new versions of GHC and Cabal.

[2020-02-20 15:29] UlfNorell commented on #4445
The targets only make sure that the submodules are checked out at the right commit. I don't see why any of these use cases require cubical to be out of sync.

[2020-02-20 20:02] sattlerc commented on #4329
Here is a another example. This one differs from the preceding ones in that no interface files are generated.
- Version 1:
[code]
- Version 2:
[code]
Start agda with `--interaction` and `--caching`, load Version 1, then load Version 2 twice. `B : Set₁` will be incorrectly highlighted.

[2020-02-20 22:53] MirceaS opened #4463 "Question about building complex record instances with terms inbetween fields"
Hi!
I just wanted to pinpoint something that I find quite annoying when working with records in Agda.
I often find that it's useful to define terms in a record before defining additional fields of that record as the definition of those additional fields becomes much concise and simple when using the previously defined terms. However, when building an instance of that record (say via the record {mo

[2020-02-21 07:38] nad commented on #4463
I guess you could put the fields that the defined terms depend on in a separate record type, but that might have other drawbacks.

[2020-02-21 07:44] nad commented on #4457
My plan was to remove this option once we decide whether this is a good idea or not. However, if we come to the conclusion that this is something that should be tunable by the user, then a better name might make sense.

If we anticipate having multiple performance tuning options, then I would prefer something like `--performance=…`.

[2020-02-21 08:14] nad opened #4464 "Use hash-consing?"
Consider the following profiling information from std-lib-test (with compact regions turned on):
[code]
Out of about 375 seconds the 39 seconds spent on deserialisation, as well as some portion of the 48 seconds spent on serialisation, are intended to increase sharing. (I acknowledge that the timing information is not necessarily fully accurate.) This makes me wonder whether it would make sense to

[2020-02-21 08:28] nad opened #4465 "Serializer: One memo table per type?"
The deserialiser uses dynamic type checks:

https://github.com/agda/agda/blob/10bb7c142f7d34ec8fb77bbc5716cb1d72a6ca52/src/full/Agda/TypeChecking/Serialise/Base.hs#L140-L141

https://github.com/agda/agda/blob/10bb7c142f7d34ec8fb77bbc5716cb1d72a6ca52/src/full/Agda/TypeChecking/Serialise/Base.hs#L347-L362

I suspect that we could save time by having one memo table per type. Writing this code by hand

[2020-02-21 08:52] UlfNorell commented on #4465
I would be reluctant to add more template haskell code. We've been trying to get rid of it as much as possible. A better option might be to have separate memo tables only for the most frequently occurring types. That should give the same performance benefits as doing it for every type.

[2020-02-21 09:27] nad commented on #4457
As far as I can tell most of the CI tests are only run for a single version of GHC. I'd like to make sure that `--compact-regions` works for every supported version of GHC. Is there a simple way to accomplish this?

[2020-02-21 10:41] nad commented on #4465
Which types would that be? I guess one should at least include everything that can be reached from `Agda.Syntax.Internal.Term`.

[2020-02-21 12:16] nad commented on #4108
Perhaps it would be easier to look into this with a self-contained example.

[2020-02-21 13:23] nad commented on #4316
I tried with eleven of my own projects. The execution times were mostly similar, but in one case substantially lower with `--compact-regions`, and memory consumption was consistently substantially lower with `--compact-regions`.

[2020-02-21 13:27] nad commented on #4060
@UlfNorell, have you looked at this? As @guillaumebrunerie mentions one can quickly normalise the goal type, and the normal form is not extremely big, even if implicit arguments are included.

[2020-02-21 13:30] nad commented on #4060
I removed the "help wanted" label, which I believe is for issues that we suspect might be suitable for newcomers who want to help with the development of Agda.

[2020-02-21 14:26] nad commented on #4457
Given the [performance improvements I've seen](https://github.com/agda/agda/issues/4316#issuecomment-589650997) I suggest that we turn on `--compact-regions` by default, but only if the feature works fine with all versions of GHC that we support.

[2020-02-21 14:48] asr commented on #4457
From `.travis.yml` you can run a test on all supported GHC versions by adding `complete tests` to the commit message.

[2020-02-21 15:07] nad commented on #4457
Can I run the Travis tests without creating a pull request or pushing a commit? I don't want to create a pull request for something that I don't want human feedback on.

I get notifications for all pull requests, and in quite a few cases the only purpose of a pull request is to run the test suite. These pull requests also, in my opinion, pollute the GitHub history.

[2020-02-21 15:13] UlfNorell commented on #4060
I have not looked at this.

[2020-02-21 15:13] nad opened #4466 "Different verbosity settings for different mutual blocks"
I think it would be nice if one could use different verbosity settings for different mutual blocks. This could be accomplished in at least two ways:
* By adding a pragma for setting the verbosity for a mutual block, or the rest of the file.
* By adding an Emacs mode command for setting the verbosity level. Then one could load parts of a file, change the verbosity, and load a bit more using the new

[2020-02-21 15:16] UlfNorell commented on #4457
I believe Travis runs on all branches, regardless of PRs, so you can just push a temporary branch with a `complete tests` commit.

[2020-02-21 15:19] asr commented on #4457
From `.travis.yml`:

[code]
So, you should name your branch `issueXYZ`.

[2020-02-21 15:21] UlfNorell commented on #4466
I think both options would be valuable. The first option would be useful also when debugging from the command line, and the second would let you turn on verbosity before running a certain command (like a give).

[2020-02-21 15:22] UlfNorell commented on #4457
Ah, blind luck that this is what I do already...

[2020-02-21 15:25] asr commented on #4457
All that Travis magic was written by @L-TChen.

[2020-02-21 15:27] nad commented on #4331
I think that Agda implements module applications of this kind by basically copying everything from the original module. Check the code for `checkSectionApplication` in `Agda.TypeChecking.Rules.Decl` to see what is going on. Or use `-vtc:10`. The latter option indicates that when the line `module C = Bicategory C` is type-checked Agda constructs a positivity graph with 1188 nodes, and computes the

[2020-02-21 15:34] nad opened #4467 "Change the implementation of Ren?"
Are the following lists known to always be short?

https://github.com/agda/agda/blob/bf974270b72b13595272d7b54ab5ff503e2c8930/src/full/Agda/Syntax/Abstract.hs#L136-L137

If not, then it might make sense to switch to a different data structure:
https://github.com/agda/agda/blob/bf974270b72b13595272d7b54ab5ff503e2c8930/src/full/Agda/TypeChecking/Monad/Signature.hs#L320
https://github.com/agda/agda/b

[2020-02-21 16:16] UlfNorell commented on #4331
It's not copying the definitions, but generating proxy functions of the form `C.foo = Bicategory.foo C`. I believe the positivity analysis might follow the definitions and look at the `Bicategory` functions again though when analysing the proxies.

[2020-02-21 16:31] UlfNorell commented on #4467
They contain all (public) names from an applied module, so I they can become arbitrarily long. This test case should give you something to experiment with:
[code]

[2020-02-22 08:38] nad commented on #4457
Thanks, that seems to work.

[2020-02-22 09:06] nad opened #4469 "The warning machinery does not work correctly when interface files are involved"
I ran the test suite with `--compact-regions` turned on, and noted that some test cases related to warnings fail. These problems can be reproduced without using `--compact-regions`:
* Load `test/Succeed/ImportWarningsB.agda` in the Emacs mode (after having removed all related interface files). You get five warnings in the `*All Warnings*` buffer.
* Reload. You still get five warnings.
* Restart Ag

[2020-02-22 09:14] nad commented on #4469
I also found some similar problems related to compilation:
[code]
Note that the line `…/Issue2909-5.agda:8,22-23` is only included for the first compilation command.

The file `Issue2909-6.agda` can be used to trigger a similar problem.

[2020-02-22 09:50] nad commented on #4457
Unfortunately Agda failed to build using GHC 8.0.2 and 8.2.2, seemingly due to lack of time or space. Perhaps I can run the tests locally instead.

[2020-02-22 09:59] nad commented on #4457
No, for GHC 8.2.2 the problem was that Agda failed to create the interface file for `Agda.Builtin.Bool` due to lack of space. I guess that there is some problem with compact regions in this version of GHC.

[2020-02-22 10:15] nad commented on #4331
Right, the names are copied. Are the type signatures of the proxy functions type-checked, or just generated?

Do you think it would make sense to use a more structured signature, instead of a flat table? (Possibly with some kind of lazy flattening for definitions that are actually used.)

[2020-02-22 10:25] UlfNorell commented on #4331
Types are just generated.

Using a structured signature is certainly a valid design choice. It would be quite an undertaking to change at this point though.

[2020-02-22 11:20] nad commented on #4316
I failed to get agda-categories to type-check, despite trying with several different versions of the standard library.

[2020-02-22 13:32] samkuhn commented on #4250
Hi @mietek - sure happy to, a little busy right at the moment with a few deadlines but will retrace my steps and post back soon. It may be that I was just tired and missed something obvious at the start. Or perhaps just an old version of Homebrew. Also not having Haskell set up here beforehand might have made things a little more corner-case.

[2020-02-22 13:32] nad opened #4470 "Change the implementation of TopLevelModuleName?"
The following map uses lists of strings as keys:

https://github.com/agda/agda/blob/8c21b6be0c98a7c87d0c65ac5c9242967b0e11b7/src/full/Agda/TypeChecking/Serialise/Base.hs#L153-L154

It is used when deserialising `AbsolutePath`s. I wonder if we could speed up deserialisation by, say, adding unique identifiers to `TopLevelModuleName`.

[2020-02-22 13:45] nad opened #4471 "Remove farReuse?"
The `farReuse` field is always updated by the serialiser, even if no `-v` flag has been given:

https://github.com/agda/agda/blob/8c21b6be0c98a7c87d0c65ac5c9242967b0e11b7/src/full/Agda/TypeChecking/Serialise/Base.hs#L57-L62

Furthermore the `farReuse` field for nodes is updated *many* times. I suggest that we remove the `farReuse` field unless Agda is compiled with the debug flag turned on.

[2020-02-22 13:56] nad opened #4472 "Error message changes after interface file has been removed"
I ran the test suite with `--compact-regions` turned on, and noted that a test case related to sections failed. This problem can be reproduced without using `--compact-regions`:
[code]
Note that the error messages are not identical.

[2020-02-22 13:57] nad commented on #4457
Now compact regions are always active (for GHC 8.4 and later). The option has been removed, I see no reason for not using compact regions.

As an aside, it seems as if memory consumption (with or without compact regions) is substantially lower with GHC 8.6.5 than with 8.4.4, and perhaps even lower with 8.8.2.

[2020-02-22 13:59] nad commented on #4316
I have removed the `--compact-regions` option, compact regions are always active for GHC 8.4 and later. If you want to test with and without compact regions, check out a suitable commit first.

That approach should at least not use more memory. However, as long as there is plenty of memory available I would expect that it is no longer faster. Can you verify this? Can we close this ticket now?

[2020-02-22 14:37] JacquesCarette commented on #4316
About the failure to type-check: it should work with agda 2.6.0.1 with stdlib-1.2. If it doesn't, that's a bug which should fix. [There were issues with 2.6.1 previously, but these were fixed, I think.] If you can document any specific configuration that you tried and didn't work, we'll investigate.

I'll check on the other stuff as soon as I can - and then hopefully this ticket can be closed.

[2020-02-22 15:20] sattlerc commented on #4472
Here is a self-contained test case:
- Issue4472X/A.agda
[code]
- Issue4472X/B.agda
[code]
- Issue4472.agda
[code]

On master (with or without compact regions patch 556be02), relevant part of the output of `agda Issue4472.agda` is as follows.
- If the interface file for Issue4472X.B is not used:
[code]
- If the interface file for Issue4472X.B is used:
[code]

Confusingly, the behaviour is different

[2020-02-22 17:07] nad commented on #4316
With version 1.2 of the standard library and Agda 2.6.1-556be02 I get the following error:
[code]
My guess is that this problem was caused by a fix of an ordering bug in the generalisation machinery (#3779). When I use generalisable variables I bind implicit arguments by name, to avoid surprises if the order of the arguments is changed (primarily due to changes in the program, not changes in Agda)

[2020-02-22 17:32] JacquesCarette commented on #4316
Thanks, I'll post this on the agda-categories issues.  Yes, we've had to fix a few occurrences of this with previous instances of 2.6.1, all to do with ordering of implicit generalizable variables.

[2020-02-22 17:41] nad commented on #4316
When I fixed this bug I could type-check all of agda-categories (with no part of agda-categories or the standard library already type-checked, and Agda compiled using GHC 8.8.2):
[code]
Without compaction Agda ran out of memory (I did not use any RTS flags except for `-s` and the default ones, i.e. `-M3.5G -I0`, and used a variant of Agda compiled using GHC 8.6.5).

[2020-02-22 18:11] JacquesCarette commented on #4316
That is excellent news!  That is a **very** substantial reduction in memory use, thank you.

I now can't help but wonder if, because very clearly there was a lot of sharing to be had, if maybe the type-checker is doing a lot of extra work because it doesn't have access to that same sharing?

[2020-02-22 19:19] WolframKahl commented on #4467
And if they stay lists, I would, for micro-optimisation, at least internally switch to difference lists, changing
https://github.com/agda/agda/blob/bf974270b72b13595272d7b54ab5ff503e2c8930/src/full/Agda/TypeChecking/Monad/Signature.hs#L318
to
[code]
etc., returning `(:) x` instead of `[x]`, and `id` instead of `[]`.

Even if they turn into some kind of `Map`, I still would do the same with `Map.in

[2020-02-22 19:27] nad commented on #4316
Note that I use a 32-bit system.

#4464.

[2020-02-22 21:29] andreasabel commented on #4471
I'd be surprised if these counters take a noticeable share of the cost of serialization.

[2020-02-22 21:33] andreasabel commented on #4457
@asr wrote:

Except the line you quoted (testing the issue branches).  I added this. :)

[2020-02-22 21:52] andreasabel commented on #4366
Milestone 2.6.1 transferred from duplicate issue #4442.

[2020-02-22 21:54] andreasabel commented on #4442
Moved milestone 2.6.1 over to #4366.

[2020-02-22 21:59] andreasabel commented on #4440
@Saizan: Andrea, what is the high-level explanation that something like
[code]
should be definable (outside of `--cubical`)?

[2020-02-23 14:14] nad commented on #4440
It seems as if the proof makes use of some kind of extensionality assumption.

[2020-02-23 14:19] JacquesCarette commented on #4331
We use this pattern (using local modules, sometimes private, sometimes not) a lot in the `agda-categories` library. It makes quite a bit of code considerably more readable.

If that readability comes at a substantial type-checking time cost, we'd like to know. We could, if that works, use `using` clauses so that fewer proxy functions are generated, for example.  @HuStmpHrrr should know about this

[2020-02-23 14:27] nad commented on #4331
I suspect that using `using` would not help: I saw something about pruning, which makes me think that Agda first generates everything, and then removes the things that should not be there.

[2020-02-23 14:37] UlfNorell commented on #4331
We only generate proxies for the definitions actually exported from the module, so `using`/`hiding` certainly affects the number of proxies. Not sure what pruning you are talking about.

[2020-02-23 14:44] nad commented on #4471
I ran the library test once with these counters, and once without. The serialisation time decreased from about 74 s to about 72 s. This might be within the margin of error for such a measurement. Would you object if I push the changes?

[2020-02-23 14:50] nad commented on #4331
With `-vtc:10` Agda printed "Removed 166 unused definitions". I saw now that this refers to dead code elimination. If I add `using ()`, then Agda instead prints "Removed 0 unused definitions".

[2020-02-23 15:14] nad commented on #4469
Travis found another problem that might be related: The error message for `test/Fail/SafeFlagPrimTrustMe-2.agda` was changed from
[code]
to the following text:
[code]
For some reason this problem is not triggered when I run the test suite locally. I'll disable this test.

[2020-02-23 15:17] jespercockx commented on #4390
Exploiting this bug to prove `true ≡ false`:

[code]

[2020-02-23 15:28] sattlerc commented on #4472
Intrigued why the qualifier name part should matter, I ran the test with the following set of files, with `RENAME` being some some parameter string.
- RENAME.agda
[code]
- B.agda
[code]
- Test.agda
[code]
With no interface files used, the result is always:
[code]
With interface files used, the result depends on RENAME and is apparently pseudo-random, but consistent. For example:

- For
[code]
the

[2020-02-23 15:33] nad commented on #1346
The fix of #4316 has uncovered a bug related to the fix of this issue. To reproduce (using a recent version of Agda without the fix of #4316):
[code]
The file `Issue1346Import.agda` type-checks without complaints if a different sequence of commands is used:
[code]

[2020-02-23 15:54] nad commented on #1346
I added a `.warn` file to avoid complaints from Travis. However, given that the fix of #4316 is not used when Agda is compiled using versions of GHC prior to 8.4 I would expect that the test suite fails if someone runs it using, say, GHC 8.2.2.

[2020-02-23 15:54] jespercockx opened #4474 "Disable all subtyping by default?"
In the light of historic and current issues involving subtyping (e.g. #1579 #2170 #2440 #3986 #4175 #4390 #4401) I am starting to wonder whether it is a good idea to have subtyping enabled by default in Agda. All dependent type theories with subtyping that are know either use coercive subtyping or restrict it to a very specific setting (i.e. cumulativity). On the other hand, Agda now has a notion

[2020-02-23 16:08] nad commented on #4474
I just [asked you](https://github.com/agda/agda/pull/4432#issuecomment-590082315) a similar question.

Your recent pull request (#4432) suggests that we do not know how to implement these things *efficiently*. Are there further problems?

Perhaps we could also implement coercive subtyping, but maybe not before 2.6.1 is released. Has anyone considered what coercive subtyping for sized types might l

[2020-02-23 16:15] jespercockx commented on #4474
There are no known unknowns AFAICT, but there might be other unknown unknowns (the proof of false that I just posted in #4390 is not a new problem, so it is not inconceivable that other problems with subtyping remain).

https://github.com/agda/agda/issues/3118

`--no-subtyping` should be coinfective (same as for e.g. `--without-K`), I guess that's equivalent to `--subtyping` being infective?

If w

[2020-02-23 16:23] alexarice commented on #4440
It makes use of function extensionality

[2020-02-23 16:29] nad commented on #4474
OK, then the question is perhaps what the default should be:
* If subtyping is enabled by default, then people might experience slowdowns without knowing why.
* If subtyping is disabled by default, then code might break, but perhaps it would be a little easier to tell what is going on.

[2020-02-23 17:14] L-TChen commented on #4474
Is it possible to declare coercions explicitly externally? I am thinking of something similar to Coq's implicit coercion (but hopefully not exactly the same) so users can tickle with these coercions.

[2020-02-23 18:43] jespercockx commented on #4474
I just realized that turning off subtyping by default would also mean turning off sized types by default, which is something we might not want to do.

No, there's currently no mechanism for coercive subtyping in Agda (except for some code dealing with implicit arguments). Instead, Agda relies on material subtyping, so there is no coercion function even in the internal representation of the term. A

[2020-02-23 20:18] jespercockx commented on #4457
The test suite is failing on my PC with GHC 8.0.2 because of this change.

[2020-02-24 10:16] Saizan commented on #4440
@andreasabel  Given extensionality for function types and coinductive records, the rest is well-founded recursion, because the equality of the tails is at a smaller size.

These principles should make sense in a set model, where `Thunk` being `coinductive` does not affect its semantics (it's not recursive so the greatest fixpoint is just `(j : Size< i) → F j`), and Size for this example could just

[2020-02-24 10:16] nad commented on #4457
See #4469 and #1346.

[2020-02-24 10:16] #4457 closed, assigned to nad

[2020-02-24 10:24] jespercockx commented on #4457
Could we roll back this change until those issues have been resolved? We should avoid as much as possible to be in a situation where the test suite does not run successfully.

[2020-02-24 10:28] nad commented on #4474
I see two options before the release:
* Fix #3118, turn off subtyping by default.
* Leave things as they are.

In either case one of the first items in the release notes should mention the problem and the tradeoffs, your fixes should be pushed, and there should be flags for turning subtyping on and off. Perhaps your fixes can also be optimised.

[2020-02-24 10:33] nad commented on #4457
I'll disable the broken test cases.

[2020-02-24 10:45] nad commented on #4457
By the way, note that the problems you see are not caused by the use of compact regions, but by the fix of #4316 (which is only active if compact regions are in use).

[2020-02-24 16:09] nad commented on #4216
One issue with Nix-style builds is that the `agda` binary is stored in a [new location](https://www.haskell.org/cabal/users-guide/nix-local-build.html#where-are-my-build-products), which varies depending on things like the OS and the version of GHC. Our test suite (mostly?) uses this binary, rather than the binary from the PATH. Perhaps we could use something like `cabal v2-run` instead.

[2020-02-24 17:19] asr commented on #4445
Fact 1: We use the standard library in various tests (succeed, benchmark, etc).

Hypothesis 1: We shall use also the cubical library in various tests.

Fact 2: The current commit of the standard library in the Agda repository is behind the current commit in the standard library repository.

Hypothesis 2: The current commit of the cubical library in the Agda repository will be behind the current co

[2020-02-24 18:49] asr opened #4476 "Support GHC 8.8.3"
GHC 8.8.3 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2020-February/018643.html). I created this issue for collecting/reporting the required changes/issues.

[2020-02-24 18:50] MirceaS opened #4477 "issues with relations on non-definitionally equal types"
Hi!
I've been having a lot of trouble lately trying to deal with types that are propositionally but not trivially equal.
Consider the simplified example:
[code]
What would be the best approach to express the fact that `x` and `y` are related by `~`?
I know I can use `subst` to get `x ~ (subst P (+-identityʳ n) y)` as a valid type for `x~y` but for some reason Agda doesn't evaluate the RHS to just

[2020-02-24 18:54] nad commented on #4216
I have read up on and tested some of the `v2-` commands. The new Nix-style builds are sort of like Cabal sandboxes with a global cache. This sounds good, and I'd like to switch.

I noticed that `cabal v2-install` rebuilds the package from scratch if it isn't built already. However, `cabal v2-build` seems to reuse earlier results.

I suggest that, for simplicity, we drop support for older versions

[2020-02-24 19:13] nad commented on #4216
That seems to make `agda --help` quite a bit slower (more than 0.1 s on my machine), and the test suite invokes Agda many times. A better idea may be to run the test-suite inside a new shell started using (say) `cabal v2-exec sh`, in which case `agda` points to the newly built program.

[2020-02-24 19:31] nad opened #4478 "Cabal option split-sections"
The Agda binary can be rather large:
[code]
I added `split-sections: True` to my `.cabal/config` file, and got the following result instead:
[code]
I think this can make compilation [slower and more memory-hungry](https://downloads.haskell.org/~ghc/8.8.3/docs/html/users_guide/phases.html#ghc-flag--split-sections), but perhaps it would be good to use this option when building binaries for distribut

[2020-02-24 19:32] nad commented on #4216
Unfortunately it seems as if `v2-install` starts the build from scratch, even if you run it right after `v2-build` has completed. Does anyone know a workaround for this? Is there a different, convenient way to install things?

[2020-02-24 20:11] nad commented on #4216
One possible drawback of `v2-install` is that all data files (like the Emacs mode) are installed in the Cabal tree (in my case under `~/.cabal/`), and as far as I can tell there is no way to specify that they should be installed somewhere else. This means that the path to the Cabal tree is baked in to the executables (`agda` and `agda-mode`). If you want to place the data files somewhere else (lik

[2020-02-24 20:35] nad commented on #4216
It seems as if we can build Agda without optimisations, in a separate build directory, by running `cabal v2-build --project-file=Agda-quick.project --builddir=dist-quick -fenable-cluster-counting`, where `Agda-quick.project` contains the following text:
[code]
One can add local settings in a file called `Agda-quick.project.local`.

As an alternative one can skip the project file: `cabal v2-build -

[2020-02-24 20:47] nad commented on #4216
It seems as if Cabal 3 uses separate build directories automatically, one component of the build path is called `noopt`:
[code]
Thus we could perhaps skip `--builddir`.

[2020-02-24 20:59] asr commented on #1346
We run the test suite with all the GHC versions supported in the `release` branches.

[2020-02-24 21:04] nad commented on #4216
I guess having separate Cabal files for the library and the executables would help. A related issue: #4359.

However, the obvious way to do this would presumably entail uploading at least one extra package to Hackage, like we [used to do](https://hackage.haskell.org/package/Agda-executable). Do we want to pollute Hackage with a package that may not have independent interest? Note that the library

[2020-02-24 21:06] nad commented on #1346
I have disabled the test case, and we should fix this issue before the release.

[2020-02-24 21:33] nad commented on #4359
That does not sound very nice to me, as discussed [elsewhere](https://github.com/agda/agda/issues/4216#issuecomment-590547496).

[2020-02-24 21:41] nad commented on #4216
But it seems as if I was incorrect, when I put the library and agda-mode in different Cabal files, added a `cabal.project` file, and asked cabal-install to install agda-mode, cabal-install started building the library in a temporary build tree.

[2020-02-24 21:41] asr commented on #4216
But it doesn't prevent that others use [Agda as a library](http://packdeps.haskellers.com/reverse/Agda).

[2020-02-24 21:54] L-TChen commented on #4359
It looks like there is a proper way to include sub-libraries in one cabal package:

https://fgaz.me/posts/2019-11-14-cabal-multiple-libraries/

which requires cabal 3.0, though. [ I'd like to suggest developers to update their system to at least nix-style cabal and compatible ghc versions, the toolchain is much better. ]

[2020-02-24 21:54] nad commented on #4216
Unless I'm mistaken the flag `-fenable-cluster-counting` applies to all packages that are built. It might be better to put it in a `.project` file, then one can specify that it only applies to the package Agda. However, I don't want it to be enabled by default for regular users, only for CI and for people who develop Agda. Perhaps we could put the flag in a `.project` file and remove it when relea

[2020-02-24 22:00] nad commented on #4216
And GHC 8.8.

If that is the case, can you explain to me how I can install Agda without rebuilding everything from scratch?

[2020-02-25 03:32] asr commented on #4469
I couldn't reproduce the Travis problem describe [above](https://github.com/agda/agda/issues/4469#issuecomment-590078750) (see successfully build [here](https://travis-ci.org/agda/agda/jobs/654659499). So, I re-enabled the test case.

[2020-02-25 10:41] jespercockx commented on #4474
A third option: turn off subtyping for irrelevance and erasure by default, but leave subtyping for sized types enabled. The rationale for this change is that sized types are anyway inconsistent at the moment and in dire need of an overhaul, so adding one more inconsistency to the list does not change much (and my fix of #4390 anyway still needs to be extended to sized types).

[2020-02-25 11:01] nad commented on #4216
Another problem with `v2-install`: If the build crashes (if it runs out of memory, or if GHC panics), then you have to start from scratch.

[2020-02-25 13:18] nad commented on #4324
Compilation seems to require quite a bit more memory, compared to the previous release. I guess it is for this reason that the makefile now (by default) gives the RTS option `-M3G` to GHC. I worry that this could lead to problems for end users:
[code]
Can we address this problem in some way? Should we add this RTS option to the Cabal file?

[2020-02-25 16:21] nad commented on #4474
I'm turning off subtyping in the files under `src/data/lib/prim`. Perhaps this won't be necessary once your other changes land, but it makes it easier to change the defaults.

[2020-02-25 16:42] jespercockx commented on #4366
I am retracting my words: I thought the problem was with the unifier for constraint solver, but actually it is a problem with the pattern matching unifier. However, the pattern matching unifier is not supposed to instantiate any metavariables, so we cannot use the trick I was thinking of.

We already do postpone the checking of the left-hand side when it is blocked on a metavariable. The problem (

[2020-02-25 17:05] asr commented on #4476
GitHub `setup-haskell` action does not support GHC 8.8.3. I filled https://github.com/actions/setup-haskell/issues/8.

[2020-02-25 17:47] jespercockx opened #4480 "Metavariable instantiation fails hard when eta-expansion could still help"
This example was split off from the discussion in #4432:

[code]

Agda complains:

[code]

However, replacing `refl _` with `refl [ _ ]` makes the file succeed.

[2020-02-25 17:52] jespercockx commented on #4480
The fix of #4168 by @andreasabel has the effect that Agda refuses to solve the equation `_29 [ x ] = x : Erased A` with `_29 := \ (y : Erased (Erased y)) -> erased y`, which is good since it is not a valid solution. However, Agda gives up too quickly, since there's another solution that's valid, namely `_29 := \ (y : Erased (Erased y)) -> [ erased (erased y) ]`.

[2020-02-25 21:45] gallais opened #4481 "Named implicit arguments do not behave the same in anonymous lambdas & definitions"
The following definition is accepted:

[code]

while the one using a definition is not:

[code]

This is particularly annoying when dealing with variables introduced by a
`variable` block: to write robust code, it is much better to explicitly use
the names. This way if the generalisation algorithm changes and variables are
generalised in a different order, we get clean error messages pointing out

[2020-02-25 21:50] gallais opened #4482 ""Unexpected implicit argument" should pinpoint exactly where the error starts"
At the moment the error highlights the whole telescope. I would expect

[code]

to only highlight `{A = A}` because `_ {B = B}` is actually a valid telescope.

[2020-02-25 22:25] L-TChen commented on #4216
Interesting. I thought the new build system actually wants you to separate local builds from global builds as the [document](https://www.haskell.org/cabal/users-guide/nix-local-build-overview.html) says

So, yes, if you want to install Agda globally to the system, everything will be built again from scratch.  However, it is always possible to run Agda inside the sandbox. So, the goal should be hav

[2020-02-25 22:55] L-TChen commented on #4216
Well, the order of installation/compilation methods on macOS for me is

1. Homebrew
2. Prebuilt binary from the official website
3. Whatever indicated by the official instruction. Usually, it is `git clone [repo]` followed by `cabal install` or `stack install`. I don't install executables directly from `cabal` as it rarely works.
4. try `make` or `make help` to see if there is anything available.

[2020-02-26 09:06] jespercockx commented on #4366
I cannot think of a way to fix this problem without introducing a lot of additional complexity. I also don't think the example by @guillaumebrunerie is particularly motivating, since it relies on a metavariable in the type of a constructor being solved only while checking a definition that pattern matches on this datatype, which seems wrong. I think it would anyway be better to just write your dat

[2020-02-26 09:44] guillaumebrunerie commented on #4366
Here is an unobfuscated code showing where/how I use this pattern.
But it does seem a little bit like a hack anyway, so I’m fine with it not being fixed.

[code]

[2020-02-26 10:45] nad commented on #4480
Note also that the following code is accepted:
[code]
Should one expect that Agda (with subtyping) treats `works` and `fails` in the same way?

[2020-02-26 10:47] nad commented on #4481
The following code is also accepted:
[code]
The name seems to be ignored.

[2020-02-26 10:54] nad commented on #4366
Why is this wrong, if you specifically ask for it?

I do not think that we should introduce additional complexity only for this, seemingly rarely used, design pattern.

[2020-02-26 10:59] jespercockx commented on #4366
Maybe 'wrong' is a too strong word, but I would think it is better for readability of the code if datatype definition can be made sense of on their own.

[2020-02-26 11:22] nad commented on #4216
Note that the binaries include paths to data files that may not have been installed yet:
[code]
One can work around this by setting the `Agda_datadir` environment variable. This seems to be taken care of by `v2-run`:
[code]
However, as noted above `v2-run` comes with a substantial overhead (when used thousands of times).

I don't want to complicate the Emacs mode due to problems with the build sys

[2020-02-26 11:33] nad commented on #4366
In the case of the code mentioned in the OP I did not want to read or write the index, and the index could be uniquely inferred from the function. Giving the same information twice might make the code less readable.

[2020-02-26 14:02] jespercockx commented on #4366
Well, I had never seen it before, but apparently there are at least two (very intensive) users of Agda who use it.

[2020-02-26 15:03] #4390 closed, assigned to jespercockx

[2020-02-26 15:03] #4401 closed, assigned to jespercockx

[2020-02-26 15:06] jespercockx opened #4483 "Unification finds solution with bound variable of wrong size"
This is what remains of #4390 in the case of sized types (example by @saizan):
[code]

[2020-02-26 15:35] jespercockx commented on #4481
Please do not add non-critical issues to the 2.6.1 milestone as we are (hopefully) getting close to a release now (see https://github.com/agda/agda/issues/4212 for the definition of 'critical')

[2020-02-26 15:43] jespercockx commented on #4480
The same problem occurs for irrelevant fields (at least with `--irrelevant-projections`):
[code]

[2020-02-26 17:35] L-TChen commented on #4216
That's true. Adopting to `v2-` commands completely requires a number of breaking changes including ditching older ghc versions (@jespercockx has downvoted this change), and it should be made under the consensus among active developers. There are pros such as reducing some conditional compilation in the codebase, simplifying the configuration and maintenance, etc. as well as cons you mentioned.

I

[2020-02-26 17:39] #4316 closed, assigned to nad

[2020-02-26 17:48] nad commented on #4458
One way to fix this problem is to remove `agda2-measure-load-time`. Is anyone using this command?

[2020-02-26 17:52] nad commented on #4216
I don't think we need to drop support for older versions of GHC, Cabal 3 is supported by GHC 8.0, and even if we change the makefile people can still use older versions of Cabal to install Agda.

[2020-02-26 19:52] gallais commented on #4481
I would argue this is made worse by the introduction of implicit generalisation
but fair enough.

[2020-02-26 20:54] asr commented on #4177
Note that we are running the full tests _only_ on releases branches. The problem described in the OP came back after merging `master` on `release-2.6.1`, see Travis [job](https://travis-ci.org/agda/agda/jobs/655404938).

[2020-02-27 02:56] louisswarren opened #4484 "Absurd pattern accepts non-empty equality type"
Take the following code, in which we take a record type which encapsulates pairs of natural numbers, and we show that these types are all discrete.
[code]

Clearly the latter proof is contrived (and a more typical proof goes through as normal), but it seems that the changes to with-abstraction in 2.6.1 are causing the wrong path to be deemed impossible.

This typechecks. Although `contEq (cont (0

[2020-02-27 06:03] UlfNorell commented on #4484
It's not with-abstraction, but the emptiness checker that's broken:
[code]

[2020-02-27 08:47] UlfNorell commented on #4484
Bisection blames me: 74136a06c
Related issue: #1271

That commit aimed to let Agda discharge cyclic equations on non-eta inductive record constructors, but it looks like it doesn't check the non-eta part properly.

[2020-02-27 10:02] UlfNorell commented on #4484
Looks like the problem isn't with eta vs non-eta. The example doesn't rely on eta for `Σ`. I think the problem is that `fst a` (internally `a .fst`) counts as a strongly rigid occurrence of `a`.

[2020-02-27 11:49] #4484 closed, assigned to UlfNorell

[2020-02-27 14:19] Saizan commented on #4474
`etaLam` probably needs to be updated to not contract in case the modality differs?

[2020-02-27 15:05] jespercockx commented on #4474
See https://github.com/agda/agda/pull/4432/commits/9837dbc810ecfd3014f0b0aa8c1a136050434b80

[2020-02-28 07:58] andreasabel opened #4486 ""did you mean" hint also for failing imports"
Warnings about names that are not exported but references via `using` , `renaming` or `hiding` could be equipped with a "did you mean" hint in the sense of:
https://github.com/agda/agda/blob/3d1d7f48ec1be11033f7a278ac18bbb741676789/src/full/Agda/TypeChecking/Pretty/Warning.hs#L263-L279

Test case:
[code]
Current (baffling) error, lacking hint:
[code]

[2020-02-28 08:08] UlfNorell commented on #4480
Simplified test case:
[code]

[2020-02-28 08:23] UlfNorell commented on #4480
It's seems to me like the problem is an incorrect assumption in the "Cannot instantiate meta..." error: that erased/irrelevant variables occurring rigidly and relevantly in the solution means we cannot solve the meta. This is clearly not true for all types:

[code]
The easiest solution is to change the hard fail to an unsolved constraint.

[2020-02-28 09:12] UlfNorell commented on #4480
Trying this in #4487

[2020-02-28 10:22] Saizan commented on #4477
`subst P (+-identityʳ n) y` and `coerced x y` will only compute to what you want when `+-identityʳ n` is made to be `refl`.

That could happen either by making `n` to be `0` (e.g. in an induction) or by a `rewrite +-identityʳ n`, in the definition of `x~y`.

I would try the following:

[code]

If that fails it's going to depend on more details of `P` and `y`.

The documentation on `with` and `rewr

[2020-02-28 10:22] #4477 closed, assigned to nobody

[2020-02-28 10:33] #4480 closed, assigned to nobody

[2020-02-28 10:57] andreasabel commented on #1346
I looked at my code and it is correct as far as I can see.  However, there is an underlying design issue with the handling of concrete/abstract names.

My theory why this issue surfaced with your refactoring of Import is the following:
1. Fixities (as well as concrete names) are stored in abstract names.
2. Abstract names with the same NameId are identified during serialization.
3. However, when a

[2020-02-28 11:16] andreasabel commented on #1346
There might be already a hook in the serializer to have a more refined test for abstract name equality:
https://github.com/agda/agda/blob/ea6675fee2d50c750c696a1bb48bdaa7c53a5f83/src/full/Agda/TypeChecking/Serialise/Base.hs#L73-L78

UPDATE: adding fixity to this name identification did not yet do the job.

[2020-02-28 11:34] nad commented on #4177
Is this something that has to be fixed before the release of 2.6.1? I guess it would be possible to run the test suite locally.

One option might be to only turn on the heavy optimisation settings (`-fexpose-all-unfoldings` and `-fspecialise-aggressively`) for GHC 8.2 and later, if this does not hurt performance too much.

[2020-02-28 11:36] nad commented on #4469
@gallais, @fredrikNordvallForsberg: Can one of you take a look at this?

[2020-02-28 12:58] fredrikNordvallForsberg commented on #4469
Yes, I will do so, and try to get @gallais to help.

[2020-02-28 15:36] nad commented on #4469
Thanks.

[2020-02-28 23:25] MirceaS commented on #4477
@Saizan
You're right, that does work and I did try that in my main project but I still had issues. My example didn't properly showcase the issues that I was experiencing.
I managed to build however the following example that recreates the problem: (sorry about the previous bad example)
[code]

The issue seems to stem from the fact that `x` occurs twice in the call to `coerced` in the type of `x~y′

[2020-02-29 10:04] jespercockx opened #4489 "Cannot use generalized variable in module application"
As the title says, generalized variables are not yet supported when applying a module:
[code]
Error message:
[code]

[2020-02-29 11:58] nad commented on #4469
Your fix addressed the issue in the OP, but not the issue related to the GHC backend, right?

[2020-02-29 12:51] nad commented on #4469
Those tests also pass now. I'll enable them.

[2020-02-29 12:54] nad commented on #4469
I had forgotten that I had changed the test cases. The problem remains.

[2020-02-29 14:12] fredrikNordvallForsberg commented on #4469
For the GHC backend issue, I get the same output for both
```rm -rf _build/ && agda -c Issue2909-5.agda```
and
```rm -rf _build/ && agda Issue2909-5.agda && agda -c Issue2909-5.agda```
after my fix:
[code]
Also note that the message in question actually is a [generic error](https://github.com/agda/agda/blob/master/src/full/Agda/Compiler/MAlonzo/Compiler.hs#L363-L364), not a warning, so I think the

[2020-02-29 14:22] nad commented on #4469
After my fix of #4316 that's to be expected if you compile Agda using GHC 8.4 or later.

[2020-02-29 15:31] #4469 closed, assigned to fredrikNordvallForsberg

[2020-02-29 15:36] fredrikNordvallForsberg commented on #4469
I fixed this by setting the range before throwing the error. Note that the range is not the same as before: we now point to the `{-# COMPILE GHC ♭ as flat #-}` pragma, whereas according to the output by @nad above, we were previously pointing to just after the ♭ in `{-# BUILTIN FLAT     ♭  #-}`. I think this is an improvement.

Also I re-enabled the test case. If there is still a difference on GHC

[2020-02-29 16:12] asr commented on #4469
Before merging into `master` you can test your changes on all the supported GHC versions by adding to the commit message the text `complete tests`.

[2020-02-29 19:50] jrp2014 opened #4490 "Bisection instructions for test suite breakages?"
The HACKING.md document covers how to bisect stand-alone .agda files.  It would be helpful to include a worked example of how to bisect when a particular test or two break.  It should be trivial, but various tests have dependencies on, eg, Common, that mean that using the instructions given you can't run individual tests or do what you know you really want to do which is bisect running `make test`

[2020-02-29 22:01] gallais opened #4491 "Add a primitive for Data.Text's uncons"
I think it ought to be possible to speed up https://github.com/gallais/agdarsec quite a lot
by not converting a `String` (aka Haskell's `Text`) to a `List Char` but rather processing
the string immediately.

To be able to do that & have the parsers still run at compile time, I need:

* [x] `Maybe` as a builtin
* [x] `uncons : Text -> Maybe (Char, Text)` as a primitive
* [ ] `length-uncons : (t : T

[2020-02-29 22:06] jespercockx commented on #4491
Why is the already existing FFI insufficient for this task? Can't you just bind the Haskell functions you need in Agda already?

[2020-02-29 22:08] gallais commented on #4491
At the moment you can run parsers while typechecking. If `uncons` is a mere postulate
then the parser will simply get stuck.

[2020-02-29 22:21] L-TChen commented on #4491
Does it make sense to add an executable FFI instead? In that case, a number of primitives, including `Double`, can probably be kicked out.

[2020-02-29 22:31] gallais commented on #4491
Adding that primitive will take me a couple of hours maximum. Implementing type
providers (although something I would *also* like to have) would take way more
time. So no to *instead*.

[2020-02-29 23:33] jrp2014 opened #4492 "Compilation speedup?"
Is there any reason not to speed up compilation as below? (It doesn't help that much, but it's better than nothing.)

[code]

For syntax checking only, I suppose that there is no need for a `Makefile` entry, and `cabal repl` will do, although it is also possible to compile with `-fno-code` for that, and running Agda from the `repl` seems to be undocumented.

[2020-02-29 23:46] L-TChen commented on #4491
I have no idea how much effort it will take. Any guess? I am thinking of something for AIM (yeah, finally I can go this as there is still money in the grant).

[2020-03-01 00:05] L-TChen commented on #4492
Give that the `Makefile` is used in different configurations, maybe `-j` is better.

I remember that there was an issue with Travis CI which failed to report the right number of processors. If it is still the case, `Makefile` needs to set the number manually by checking the environment variable `TRAVIS=true`.

Otherwise, I don't see why not.

[2020-03-01 00:31] gallais commented on #4492
`~/.cabal/config` allows you to specify how many `jobs` to run in parallel and
then that number (specific to your machine) is used whenever you build something.
Is there nothing equivalent for stack?

[2020-03-01 00:44] asr commented on #4492
In `~/.cabal/config` I use `jobs: 1` because https://github.com/haskell/cabal/issues/1554#issuecomment-33036734.

[2020-03-01 01:19] L-TChen commented on #4492
`GHC_OPTS` is used for both `stack` and `cabal in the `Makefile`. If it shows any improvement, should this be turned on by default anyway?

As for the option for stack, it is also called `jobs`.

[2020-03-01 09:07] ice1000 commented on #4476
Ah, I should see this before commiting on master.

[2020-03-01 13:48] gallais commented on #4490
Has this been answered? If so, it would be nice to document the answer.

[2020-03-01 14:12] jrp2014 commented on #4490
I just used the vanilla `git bisect`, with a run line of `git bisect run sh -c '(make && make test)'`.  This runs all the tests, which is painful, as some of them don't work with cabal -- the golden values are a bit out on the interaction tests, eg.  Maybe `make quicktest` would be adequate in some cases.

[2020-03-01 17:08] laMudri opened #4493 "Generate postfix copatterns"
As far as I'm aware, while agda2-mode's automatic case-splitting will generate copatterns, it will only generate prefix projections, like the following.

[code]

There is no way to instead generate the following.

[code]

This requires manual editing of the LHSes, but it would be nice if it didn't.

There are a couple of ways I can think of making this possible:

* In place of the name of the vari

[2020-03-01 17:30] guillaumebrunerie commented on #4493
This option already exists and is called `--postfix-projections`

[2020-03-01 17:30] #4493 closed, assigned to nobody

[2020-03-01 17:48] nad commented on #4492
I don't think we should change the makefile, because different users may have different preferences (and one person may even use different settings in different situations).

[2020-03-01 18:33] jrp2014 commented on #4492
One thing that it would be helpful to do for the cabal case anyway is document the precedence between the various ghc compilation settings.  I have been bitten a couple of times with different cabal config settings on different machines.  In this case we also have settings from the Makefile, which can themselves be overridden, to add to the mix.

[2020-03-02 12:58] gallais commented on #4491
TIL that string literal are... just strings. Functions on strings do get compiled
to `Text` but internally we use `String`. May be worth refactoring...

[2020-03-02 14:51] asr commented on #4177
@L-TChen, I'm testing a fix for this issue using `travis_wait`. Why was necessary the file [.travis/header.sh](https://github.com/agda/agda/blob/f275daf2443ac348c287e08cb53ffec7db59625d/.travis/header.sh) ?

[2020-03-02 14:59] L-TChen commented on #4177
@asr Travis CI exports some shell functions, but they are not in the scope of a shell script, which I used to hide details `.travis/cabal_install`. There were more scripts before moving to GitHub. Since there are only two scripts, it should be fine to get rid of them completely.

I will assess the possibility and the benefit of moving the rest of testing to GitHub after the release of 2.6.1.

[2020-03-02 14:59] laMudri opened #4495 "Internal error src/full/Agda/TypeChecking/Reduce/Fast.hs:1341"
The code below produces an internal error after a very particular interaction sequence.

1. Load the file.
2. Into the hole, write `? , ?` and **refine**.
3. Into the first hole produced, write `? [QED]` and **refine** or **give**.

The precise refinement in step 2 seems to be important. Furthermore, that `? [QED]` involves a mixfix operator seems to be important. Whether or not this expression ha

[2020-03-02 15:03] asr commented on #4177
Thanks for the explanation.

[2020-03-02 15:06] sattlerc commented on #4495
This is a duplicate of #4252, #3000.

[2020-03-02 15:14] asr commented on #4476
@ice1000, in my terminal I see your last commit (currently in the top of `master`) as

[code]

Note the `<U+202E>` in the author name.

[2020-03-02 15:23] ice1000 commented on #4476
It's my GitHub display name. I inserted it because of [this](https://twitter.com/ice1000kotlin/status/1193769398533795842)

[2020-03-02 16:42] #4495 closed, assigned to nobody

[2020-03-02 16:43] sattlerc commented on #4252
See #4495 for another test case.

[2020-03-02 20:13] nad opened #4496 "Do not recheck everything when a warning is turned off"
I was annoyed by a deprecation warning (https://github.com/agda/agda-stdlib/issues/870) and tried to turn it off. However, when you do this, then everything is checked from scratch:
[code]
In this case Agda could have been smarter: it would suffice to not print the warning. I guess this optimisation works for any kind of warning that does not affect the semantics. Are there any warnings that do af

[2020-03-03 10:32] samkuhn opened #4497 "Install experience macOS Mojave 10.14.3 / Homebrew"
As promised in another issue here's a quick rundown of my experience while attempting to install agda on osx via homebrew for the first time recently.

Homebrew 2.2.6

**1. brew install agda** (as per install instructions on site)

**2. Attempt to compile [hello world](https://agda.readthedocs.io/en/v2.6.0.1/getting-started/hello-world.html)**

agda --compile hello-world.agda
Calling: ghc -O -o /U

[2020-03-03 10:50] samkuhn commented on #4250
Hey @mietek, @UlfNorell just to follow up on this - I removed everything and attempted to retrace my steps. While it wasn't perfectly smooth sailing it did install successfully this time (whoop!).

I've uploaded some notes here: #4497 if it's useful at all. I'm not entirely sure what happened last time although I know something made me stop trying Homebrew and begin installing Haskell manually fir

[2020-03-03 10:56] L-TChen commented on #4497
Here are a few points regarding the current installation issue on macOS.

1. In Homebrew, `ghc` points to the (almost) latest ghc version 8.8.2 and `ghc@8.6` points to version 8.6.5.

2. The package `cabal-install` (Haskells's package management system) depends on `ghc` not `ghc@8.6`, so by installing `cabal-install` in order to install `ieee754` you get `ghc` installed.

3. Also, `ghc@8.6` is not

[2020-03-03 14:17] #4177 closed, assigned to nobody

[2020-03-03 14:20] asr commented on #4177
Thanks. I removed the heavy optimisation settings when testing with GHC 8.0.2.

[2020-03-03 15:38] mietek commented on #4497
I’m not sure that I should do this now.  Is GHC 8.8 already supported in a released Agda version? Looking at issues https://github.com/agda/agda/issues/3725 and https://github.com/agda/agda/issues/4285 it seems that GHC 8.8 support will be included in Agda 2.6.1, which has not been released yet.

I don’t expect that I’ll be able to do this.  Homebrew have been resistant to adding caveats that are

[2020-03-03 15:43] mietek commented on #4497
It shouldn’t be necessary to `brew install cabal-install` manually, following `brew install agda`.  This is a problem with the Homebrew formula.  The run-time dependency on `cabal-install` has been removed without comment by @ilovezfs in https://github.com/Homebrew/homebrew-core/commit/24d833cefd39b5c66470edcab6facaf481442ec1.

The fact that Homebrew responds to a binary package installation failu

[2020-03-03 16:02] mietek commented on #4497
I think the underlying problem here is that [“‘Hello world’ in Agda”](https://agda.readthedocs.io/en/latest/getting-started/hello-world.html) tells complete Agda newcomers to do something that regular Agda users almost never do: _compile an Agda program_.  This has come up a number of times in the #agda IRC channel.

[“Quick Guide to Editing, Type Checking and Compiling Agda Code”](https://agda.re

[2020-03-03 16:27] jespercockx commented on #4497
I believe the hello world example serves its purpose of giving a small, self-contained piece of code that can be used to test if everything in the Agda installation (including the compiler via ghc) has been set up correctly. But perhaps the example could be extended with an explanation of how to load the file in emacs and compile it from there. Also, adding a pointer to the "quick guide to ..." se

[2020-03-03 16:36] mietek commented on #4497
This is not the problem.  [“‘Hello world’ in Agda”](https://agda.readthedocs.io/en/latest/getting-started/hello-world.html) already says “To compile the Agda file, either open it in Emacs and press `C-c C-x C-c` or run `agda --compile hello-world.agda` from the command line.”

Part of the problem is that there is no explanation _why_ the complete Agda newcomer should do one or the other, or _what_

[2020-03-03 16:39] L-TChen commented on #4497
Aha, indeed, not now. It is really a problem during this transitional period. Is it possible to depend on `ghc` when installing with the flag `--HEAD` on at least?

[2020-03-03 17:16] mietek commented on #4497
Yes.  Unfortunately, I don’t think it’s possible for the Agda Homebrew formula to depend on `ghc@8.6` and, at the same time, depend on a variant of `cabal-install` that doesn’t depend on (the latest) `ghc`.

(It’s not possible to depend on `cabal-install@2.4.1.0`, because there is no such formula.  As you said, `ghc@8.6` is a specially-made formula that is separate from `ghc`.  This is due to the

[2020-03-03 18:49] samkuhn commented on #4497
Speaking personally I did realise that Emacs mode was the thing but just wanted to check a simple command line compile "on the way" - especially as I've never used Emacs before and wasn't sure if the install had failed. I don't know if I speak for everyone though I've been watching a few youtube videos on Agda recently and I believe that's how I learnt about Emacs mode etc.

[2020-03-03 19:02] mietek commented on #4497
To clarify:  I think the problem is that “‘Hello world’ in Agda” tells newcomers to _compile_ an Agda program, while it should tell newcomers to _typecheck_ an Agda program.  Whether compiling is done in Emacs or on the command-line is not important.  Typechecking Agda programs is what Agda users do most of the time.

[2020-03-04 08:10] UlfNorell commented on #1346
How is this a regression? The reassignment feature has not been released.

[2020-03-04 08:29] UlfNorell commented on #4458
I doubt it. I removed the command for now.

[2020-03-04 14:17] andreasabel commented on #1346
Having fixities in the abstract names also breaks printing after changing the fixities:
[code]
This prints:
[code]

[2020-03-04 16:51] nad opened #4498 "Steal ideas from smalltt?"
Can we steal some ideas from [smalltt](https://github.com/AndrasKovacs/smalltt)?

[2020-03-05 00:18] asr commented on #4445
I was planning to update the submodule commit of the standard library. After running `make fast-forward-std-lib`, I got

[code]

Note that the cubical library has new commits but I wasn't planning to run the cubical library tests. I'll add independent targets for the cubical library.

[2020-03-05 12:53] UlfNorell commented on #4324
No more open issues for 2.6.1 🎉.

@asr can you prepare a new release candidate?

[2020-03-05 13:39] UlfNorell commented on #4060
I had a quick look. It seems the problem is with call-by-need evaluation. Turning it off in the abstract machine makes the example check fast. My guess is that there are some intermediate terms that blow up under call-by-need, and since we lose (explicit) sharing when exiting the machine it might cause the conversion check to fall over. I'll investigate more closely though.

[2020-03-05 13:54] asr commented on #4324
Yes. I'll prepare the second release candidate.

[2020-03-05 14:47] nad commented on #4324
We could at least document the issue.

[2020-03-05 14:51] nad commented on #1346
One of the [test cases](https://github.com/agda/agda/commit/0556fbc431e238f3065d8c06e99afb14586e90d7) (`test/Fail/Sections-1.agda`) has not been reenabled.

[2020-03-05 14:59] nad commented on #1346
That test case is related to #4472.

[2020-03-05 14:59] #1346 closed, assigned to andreasabel

[2020-03-05 15:52] asr opened #4501 "GitHub workflow `stack build` failure on Windows"
The GitHub workflow `stack build` is [failing](https://github.com/agda/agda/actions?query=workflow%3A%22stack+build%22) on Windows with the error:

[code]

Any ideas?

[2020-03-05 16:07] UlfNorell commented on #4501
The server seems to be down.

Could try a mirror temporarily: `http://mirror.yandex.ru/mirrors/msys2/msys/x86_64/`

[2020-03-05 16:07] L-TChen commented on #4501
It is odd that `msys2` does not provide the package `text-icu` anymore as I couldn't find it on the package website. Maybe it is just a temporary issue.

[2020-03-05 16:09] UlfNorell commented on #4501
Here: https://packages.msys2.org/package/icu?repo=msys&variant=x86_64

[2020-03-05 16:10] L-TChen commented on #4501
aha, no wonder I couldn't find it. I thought it was called `text-icu`...

[2020-03-05 16:11] asr commented on #4445
Travis CI is [failing](https://travis-ci.org/agda/agda/builds/658716950) when testing the cubical library on the release branches. I'll write a fix.

[2020-03-05 16:18] vlopezj commented on #4464
Here is an example of how hash consing can reduce term size, based on the Ids example from "Implementing Typed Intermediate Languages" by Shao, League and Monnier.
(Arguably a somewhat artificial one).

Here is the case for n=18:

[code]

![bild](https://user-images.githubusercontent.com/1593773/76001380-51331980-5f05-11ea-8243-ca78f38a838f.png)

![bild](https://user-images.githubusercontent.com/1

[2020-03-06 07:38] UlfNorell commented on #4445
Do you not need to update `.travis/cabal_install` to also fetch cubical now?

[2020-03-06 10:41] Saizan commented on #4477
@MirceaS the problem is that `f` return type makes sure `f x` and `x` do not have the same type: the rewrite tries to abstract `n + zero` into a variable `m` which can then be unified with `n`, however it cannot do that because `f x` won't have type `P m`.

As for suggestions on what to do it probably depends on `f` or `_~_`, you should try the mailing list for advice.

[2020-03-06 13:30] asr commented on #4445
Testing right now. I don't understand why this issue only shows up in the "complete tests".

[2020-03-06 13:37] asr commented on #4445
Because the "complete-job" doesn't use

[code]

[2020-03-06 21:29] jrp2014 commented on #4501
.. and it's a different version from

[2020-03-06 23:11] nad commented on #4477
I have not thought about this very carefully, but one local change that might make things easier is to change the definition of `coerced` to use `subst` instead, so that `coerced` does not get stuck. Note also that `subst` satisfies lots of laws.

[2020-03-07 11:33] asr commented on #4445
Oops, fixed by 4328ecefa0c697fdce258cbaebd9c9514544bb04.

[2020-03-07 11:33] #4445 closed, assigned to UlfNorell

[2020-03-07 11:54] asr commented on #4324
Was not that RTS option added  in the `Agda.cabal` file by

https://github.com/agda/agda/blob/204183c878fee80d2a2e1c400b418262a596699d/Agda.cabal#L709-L713

?

Is not the issue documented by

https://github.com/agda/agda/blob/204183c878fee80d2a2e1c400b418262a596699d/CHANGELOG.md#L27-L33

?

[2020-03-07 12:27] asr commented on #4267
I added the label `documented-in-changelog` because the issue was documented in the CHANGELOG (good) and it should not be listed by the `closed-issues-for-milestone` program.

[2020-03-07 12:29] asr commented on #3903
I added the label `documented-in-changelog` because the issue was documented in the CHANGELOG (good) and it should not be listed by the `closed-issues-for-milestone` program.

[2020-03-07 12:35] asr commented on #3855
I added the label `documented-in-changelog` because the issue was documented in the CHANGELOG (good) and it should not be listed by the `closed-issues-for-milestone` program.

[2020-03-07 12:36] asr commented on #906
I added the label `documented-in-changelog` because the issue was documented in the CHANGELOG (good) and it should not be listed by the `closed-issues-for-milestone` program.

[2020-03-07 12:39] asr commented on #4450
I added the label `documented-in-changelog` because the issue was documented in the CHANGELOG (good) and it should not be listed by the `closed-issues-for-milestone` program.

[2020-03-07 13:13] asr commented on #4348
I fixed a white-space issue in the title.

[2020-03-07 13:32] asr commented on #4324
In the above commit, I updated the list of closed issues in the CHANGELOG. Anything missing or misplaced?

[2020-03-07 13:46] jespercockx opened #4502 "Support unicode version of _<*>_ for idiom brackets"
Currently idiom brackets only work if there is an operator called `_<*>_` in scope. However, the standard library uses the symbol `_⊛_` instead. I propose Agda should also support this symbol for the purpose of idiom brackets.

[2020-03-07 13:51] jespercockx commented on #4324
Looks good to me.

[2020-03-07 14:06] zraffer opened #4503 "Pattern-matching telescopes in record declarations"
(to continue #4402 )

Currently the following code is allowed:

[code]

however using anonymous modules here is workaround and emits boilerplate.

Can Agda use such workaround internally to allow the following plain code:
[code]

[2020-03-07 14:09] asr commented on #4324
The current master (af74e45ed2177bed902c86910d4795ca90e20173) is in good shape for preparing the second the release candidate, so the `release-2.6.1` branch is frozen.

[2020-03-07 14:20] L-TChen commented on #4502
Yeah, I agree. On the other hand, I am also not very satisfied with how Agda chooses a specific symbol for me. IMO, the choice of symbol should be configurable, so something like
[code]
would leave the choice to users instead of picking one for them. The module system also needs to take care of whether bindings are imported or not.

[2020-03-07 16:18] jrp2014 commented on #4492
There are a couple of different case:

* Do we want cabal to run several different ghc jobs in parallel (as you typically do when building a library and its dependencies from package).  Here the `.cabal/config` `jobs` setting can be tuned to taste, with parallel builds usually enabled by default, although it doesn't seem to have much effect when building Agda.

* Do we want ghc itself to use a mul

[2020-03-07 23:49] asr commented on #4324
I uploaded to Hackage the second release candidate [Agda-2.6.0.1.20200307](https://hackage.haskell.org/package/Agda-2.6.0.1.20200307/candidate) and I tested its installation on Ubuntu with

| GHC | cabal-install |
| --- | ------------- |
| 8.8.3 | 3.0.0.0 |
| 8.6.5 | 2.4.1.0 |
| 8.4.4 | 2.2.0.0 |
| 8.2.2 | 2.0.0.1 |
| 8.0.2 | 1.24.0.2 |

Could someone test the installation on macOS and Windows usi

[2020-03-08 10:00] jespercockx commented on #4502
IIRC the problem is that the desugaring of `do` notation and idiom brackets is done very early in the parsing pipeline, at a point where we haven't yet processed all pragmas, so it is hard to make things configurable in this way.

[2020-03-08 14:44] JacquesCarette commented on #4324
Are things ready to also work with the more sandbox style?  I don't mind installing this as-is on my Windows box (it's installing as I type this and I will report when it's done), but I don't want to break things on my Mac.

[2020-03-08 15:32] asr commented on #4324
Yes. See [Installation from Hackage](https://agda.readthedocs.io/en/latest/getting-started/installation.html#installation-from-hackage) in the user manual.

[2020-03-08 15:35] JacquesCarette commented on #4324
Ok, thanks.  I have successfully installed RC2 on Windows (using GHC 8.6.5 and cabal-install 2.4.1.0), and typechecked most of the 'experimental' branch of stdlib with it. [I'll report the failure there].

[2020-03-08 16:07] L-TChen commented on #4324
Works on macOS 10.15.3 with GHC 8.8.3 (also 8.8.2 and 8.6.5) and cabal-install 3.0.0.0.

Probably I should write an installation script for release next time...

[2020-03-08 16:33] nad commented on #4324
No, that instructs GHC to use certain default RTS settings in the compiled binary.

[2020-03-08 16:38] nad commented on #4492
You can put the following lines in your Cabal configuration file:
[code]

[2020-03-08 16:41] nad commented on #4348
Out of curiosity, what was the problem?

[2020-03-08 16:45] L-TChen commented on #4502
Desugaring happens after the scope checking. Are pragmas processed later than that?

[2020-03-08 18:06] MirceaS commented on #4477
I tried a bunch of things and I managed to reduce the problems to something seemingly simpler, yet I still got stuck....
Now I'm just trying to define a function from a predicate of a "subst'd" `x` to the same element in the predicate over `x`:
[code]
Any ideas of how I can achieve this?...

[2020-03-08 18:25] jrp2014 commented on #4501
This still seems to be broken. On which platforms is icu required?

[2020-03-08 18:31] UlfNorell commented on #4477
The problem is that `rewrite` cannot rewrite the type of `x'` (since it's a definition and not a bound variable). You can work around it by abstracting over it:

[code]

[2020-03-08 18:34] UlfNorell commented on #4501
`icu` is required on all platforms when compiling with `-fenable-cluster-counting`. This flag makes the latex (and html?) backend count compound unicode characters correctly for layout purposes. You can compile and use Agda without it though.

[2020-03-09 00:02] martinescardo commented on #4324
I tested this with my two large developments with ubuntu 18.04 and cabal 2.4.1.0 and ghc 8.6.5 and everything works fine.

[2020-03-09 00:45] asr commented on #4348
The title with the trailing white-space was listed by the `closed-issues-for-milestone` tool and added to the CHANGELOG which is tested by the `fix-agda-whitespace` tool.

[2020-03-09 08:33] jespercockx commented on #4502
Yes, in https://github.com/agda/agda/blob/af74e45ed2177bed902c86910d4795ca90e20173/src/full/Agda/TypeChecking/Rules/Decl.hs#L705-L744 (there may also be other pragmas that are processed sooner, I'm not sure).

[2020-03-09 11:05] ajrouvoet opened #4506 "Lack of unicode support in locale may result in uncaught `IOException`"
I'm experiencing some type-checking performance issues (2.6.0.1, still present on the 2.6.1 release branch) that are hard to debug.

Running with the new -vprofile.definitions:10 reveals a mysterious note about <stdout> and 'commitBuffer', with a large portion of the total time missing:

[code]

This seems to be at least a bug with the new profile flags?

I think that the large amount of time used

[2020-03-09 14:29] asr commented on #4324
Please note that there are some pull requests by non-agda developers waiting for our attention.

[2020-03-09 14:33] jespercockx commented on #4324
Are there any that you think should be merged before the release?

[2020-03-09 14:36] asr commented on #4324
I wasn't thinking in the release.

[2020-03-09 15:02] nad commented on #4477
I'm not sure exactly what you want to do, but perhaps it makes sense to hide the index. Instead of working with `P n`, you could work with the following type (or `∃ P`):
[code]

[2020-03-09 15:03] nad commented on #4501
Not HTML, only LaTeX.

[2020-03-09 15:09] nad commented on #4506
Agda uses the current locale settings for output (or something similar on Windows). I suspect that you can fix the output by switching to a locale with full Unicode support.

We get similar reports now and then. I wonder if we could catch the error and give a better error message.

[2020-03-09 22:03] jrp2014 opened #4507 "Make test from master: requirements?"
`make test` seems to have some prerequisites.  These seem to be `latex` and some version of `shelltest`, but not the one built using `pip install shelltest` which gives
[code]

It would be helpful to have a comprehensive set of tests without these additional requirements, unless some can point me to what is required.  Thanks.  (On MacOS.)

`make interaction`
[code]
[code]
[code]
`make latex-html-t

[2020-03-09 22:08] asr commented on #4507
The `shelltest` command used by `make test` is provided by [shelltestrunner](https://hackage.haskell.org/package/shelltestrunner).

[2020-03-09 22:17] asr commented on #4507
For the LaTeX test-suite, I suggest to generate the `.tex` file with Agda and manually run the necessary LaTeX backend (`pdflatex`, `xelatex` or `lualatex`) to see which is the problem.

[2020-03-09 23:40] andreasabel commented on #4502
Pragmas are also processed in the scope checker:
https://github.com/agda/agda/blob/af74e45ed2177bed902c86910d4795ca90e20173/src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs#L2054-L2059
And even before that, in the nicifier:
https://github.com/agda/agda/blob/af74e45ed2177bed902c86910d4795ca90e20173/src/full/Agda/Syntax/Concrete/Definitions.hs#L1150-L1159
Somewhere there one can hook in the pr

[2020-03-09 23:49] andreasabel commented on #4471
Make a PR!

[2020-03-10 12:25] nad commented on #4471
Why? The question is whether you would object to defining `FreshAndReuse` in the following way:
[code]

[2020-03-10 17:55] andreasabel commented on #4471
No, I wouldn't.  Please go ahead.
A question is whether we ever test compilation with `DEBUG` on, to prevent bit-rotting conditional code...

[2020-03-10 17:58] andreasabel commented on #4492
While developing, I invoke `make quicker-install-bin` which has acceptable compilation time.  The slow compilation is however needed to run the `std-lib-test` in reasonable time.

[2020-03-10 18:41] nad commented on #4506
One can trigger the error message above in the following way (at least on my machine):
[code]

The error can be caught in a somewhat imprecise way:
[code]

An alternative would be to use a [text encoding](https://hackage.haskell.org/package/base-4.12.0.0/docs/System-IO.html#v:mkTextEncoding) that drops all code points that trigger this problem. However, I think this might confuse users. An error m

[2020-03-10 19:15] asr commented on #4471
I added this test some time ago. The current version of this test lives in

https://github.com/agda/agda/blob/af74e45ed2177bed902c86910d4795ca90e20173/.github/workflows/stack.yml#L28

[2020-03-11 22:57] jrp2014 commented on #4507
Thanks.  I'm not sure that the first failure is actually a Latex failure.

[2020-03-13 14:13] #4471 closed, assigned to nobody

[2020-03-13 20:38] asr commented on #4471
Merged into the `release-2.6.1` branch.

[2020-03-14 06:26] Soares opened #4511 "Code that the termination checker only accepts if you engage in a bunch of duplication"
Consider the following module. It has the following properties:

1. The termination checker rejects it
2. There exists a modified program that does the same thing which the termination checker accepts
3. Producing the modified program requires duplicating code.

In this particular module, the types are trivial and the problem may look asinine. However, it's been (heavily) distilled from a more gen

[2020-03-14 07:52] gallais commented on #4511
Looks like https://github.com/agda/agda/issues/4391 to me. Can you try to see whether your problem persists with the current dev version on the master branch?

[2020-03-14 13:38] asr commented on #4501
The installation of `text-icu` is working again.

[2020-03-14 13:38] #4501 closed, assigned to nobody

[2020-03-14 13:59] ajrouvoet commented on #3387
@jespercockx can we perhaps re-open this issue as a place to discuss (again) whether qualified instances should be in scope?

The only way to hide instances from Agda right now is to put them in a separate file or by hiding on import. Both require you to have separate definitions for instances if you ever want to use something without bringing it into the instances scope.

It is currently quite im

[2020-03-14 14:12] ajrouvoet commented on #3126
A problem with generalize is that it reserves some (usually short) names. Another problem is that there is little control over where the generalization happens.

Perhaps a less radical, perhaps complementary solution to the problem of these type signatures that get out of control in the presence of type-class arguments, could be inspired by Scala's syntax for [context bounds](https://docs.scala-la

[2020-03-14 14:24] gallais commented on #3126
Note that you can write this kind of things with the support for patterns in
telescopes:

[code]

[2020-03-14 15:00] ajrouvoet commented on #3126
That is a neat trick. I'll have to play with that some more.

It is really tricky to work with bundled typeclasses *and* make instance search useful. The above requires the definition of a bundle that makes the unbundled class available in the instance scope. That means that we cannot also have something in the instance scope that builds the bundled structure from the unbundled stuff. That would m

[2020-03-14 15:00] Soares commented on #4511
I'll go check. In the interim, though, please note that I can exhibit this problem without using guardedness or coinduction. (The types get even more asinine, but the termination checker still chokes.) Behold:

[code]

[2020-03-14 15:07] pnlph opened #4512 "Module names restrictions"
Are there any restrictions on module names?

I tried to create a file 20200314.agda with the content:
[code]
but i get a parse error when loading the file.

When i prepend a letter eg `K20200314.agda` it works:
[code]

[2020-03-14 15:20] asr opened #4513 "Missing GitHub workflow: Installation using Windows and Cabal"
@L-TChen added  the GitHub workflow [cabal.yml](https://github.com/agda/agda/blob/fed2ee160bf899de1f56add611396781ff78e8e0/.github/workflows/cabal.yml) which test the installation on Linux using Cabal. This workflow should also test the installation on Windows using Cabal.

[2020-03-14 15:31] asr commented on #4476
The workflow using Windows and stack [fails](https://github.com/agda/agda/runs/507890135) on GHC 8.8.3. Could someone test the current `master` using Windows, GHC 8.8.3 and Cabal and/or stack, please.

[2020-03-14 15:39] asr commented on #4324
I started the preparation for the release.

[2020-03-14 16:41] Soares commented on #4511
(The Agda dev version has been building on my machine for the last 2h, with no sign of stopping, and I will shortly have to hit the road. I'm not sure when I'll be able to get it installed & test the above code. If anyone else can check in the interim, I'd be much obliged.)

[2020-03-14 18:37] Soares commented on #4511
I have managed to confirm that this bug is *not* fixed on `Agda version 2.6.1-fed2ee1`.

[2020-03-14 19:45] sattlerc commented on #4512
The string `20200314` is lexed as an integer literal rather than an identifier. As should be expected, you cannot use integer literals for identifiers in general, as you can see by trying to declare '123 : Set'.

[2020-03-14 19:46] #4512 closed, assigned to nobody

[2020-03-14 21:13] asr commented on #4324
I'm getting the error

[code]

when I tried to update the submodule commit of the standard library. I guess the error is due to the changes in commit https://github.com/agda/agda-stdlib/commit/ef78949859cabb29b56beed778bce25b4dae2073.

Could someone push a fix into [this](https://github.com/agda/agda/tree/issue-4324-stdlib) branch please.

You can reproduce the error on the above branch by running

[2020-03-15 01:44] asr commented on #4324
@gallais, thanks for fixing the problem.

[2020-03-15 06:27] asr commented on #4324
I agree. Could you document the issue (in the `master` branch), please.

[2020-03-15 14:24] nad commented on #4324
I just saw that @Soares [reported](https://github.com/agda/agda/issues/4511#issuecomment-599094424) long build times: "The Agda dev version has been building on my machine for the last 2h, with no sign of stopping". @Soares, can you identify the problem?
* How did you build Agda?
* Did the machine start swapping?
* Did you give an RTS flag like `-M3G` to GHC?
* Did you give a flag like `-j3` to GH

[2020-03-15 17:15] Soares commented on #4324
I installed the prereqs [listed here](https://agda.readthedocs.io/en/v2.6.0.1/getting-started/prerequisites.html#prerequisites) and then ran `make install`.

After 172 min, the build failed on package ~320 out of ~360 (IIRC), having exhausted the heap. I restarted the build, hoping (correctly) that it saved the first ~320 packages; the build then completed in 5min & succeeded.

I'm not sure. It on

[2020-03-15 18:22] oisdk opened #4516 "Internal error if files cannot be written to the directory for temporary files"
On typecheck I get the following error:

[code]

However it only happens from within emacs, i.e. if I run `agda Test.agda` there is no problem.

[2020-03-15 18:41] sattlerc commented on #4516
Please supply additional information:
- a test case exhibiting the behaviour,
- the version of Agda you are using (`agda --version`).

[2020-03-15 18:46] oisdk commented on #4516
* Agda --version: 2.6.1
* Compiled from current commit (f7c0c359cd4ea0457bbd38c1e2c6a878ce8f9531) with `cabal v2-install`
* Test case: in `Test.agda`

[code]

`agda2-load`

[2020-03-15 19:02] oisdk commented on #4516
It turned out to be an error with spacemacs (https://emacs.stackexchange.com/questions/51684/getting-permissions-errors-related-to-var-folders-directory-after-doing-mac-mig)

[2020-03-15 20:18] nad commented on #4516
Agda shouldn't raise an internal error if the problem is related to the file system.

https://github.com/agda/agda/blob/f7c0c359cd4ea0457bbd38c1e2c6a878ce8f9531/src/full/Agda/TypeChecking/Monad/Base.hs#L4120-L4124

This definition is used once:

https://github.com/agda/agda/blob/f7c0c359cd4ea0457bbd38c1e2c6a878ce8f9531/src/full/Agda/Interaction/InteractionTop.hs#L135-L139

This definition is also

[2020-03-15 20:30] nad commented on #4324
This includes `-M3G`. If memory runs out when people use this option, then we should not advocate using it.

I'm guessing that this includes time for installing other Haskell packages as well, not just Agda.

[2020-03-16 01:07] asr commented on #4324
Then I'll prepare the release from the current `master`.

[2020-03-16 05:51] asr commented on #4324
Agda 2.6.1 has been released. Good job everyone!

[2020-03-16 05:51] #4324 closed, assigned to asr

[2020-03-16 08:09] jespercockx commented on #4324
Hooray! Thanks for your hard work!

[2020-03-16 14:27] mietek commented on #4497
Agda 2.6.1 has been released. An update to the Homebrew formula is on its way. Agda is now built with GHC 8.8.3, and includes the `cabal` command-line tool as a runtime dependency again.
https://github.com/Homebrew/homebrew-core/pull/51773

[2020-03-16 14:46] #4516 closed, assigned to nad

[2020-03-16 16:06] jespercockx commented on #2498
I think I did not really understand the problem before and I closed this issue too quickly. Instances with name `_` are in fact not working as expected and they should be given a more consistent treatment.

[2020-03-17 02:59] asr commented on #4476
Anyone?

[2020-03-17 13:08] ajrouvoet opened #4517 "Unnecessary conversion checking due to parameterized module slows type-checking (a lot)"
Together with @jespercockx I'm trying to figure out what makes instance search slow.
I have a particularly painful example from a project that uses instance search a lot.

In the following example we have a number of (small) candidates, and a huge target, and
the time spent on search blows up:

[blergh.txt](https://github.com/agda/agda/files/4343513/blergh.txt)

We've added some more refined profi

[2020-03-17 13:28] jespercockx commented on #4517
From the enhanced profiling output, it seems that most time is spent on comparing the goal type with the type of each candidate, which is surprising (I would've expected more time being spent on checking constraints when instantiating the goal with each of the candidates).

The goal type here is frankly ridiculously huge, which is mostly because of the module parameters. So it could be the problem

[2020-03-17 13:33] jespercockx commented on #4517
@ajrouvoet and I also discussed whether this could be caused by #4166 but applying the alternative desugaring suggested there by hand doesn't seem to yield any improvement.

[2020-03-17 13:34] nad commented on #4517
Related: #4331.

Does it take a lot of time also for incorrect candidates?

[2020-03-17 13:47] ajrouvoet commented on #4517
@nad

When I hide the correct candidate, it fails fast:

[code]

[2020-03-17 14:21] jespercockx commented on #4517
This suggests that is is not actually instance search but conversion checking that's very slow.

[2020-03-17 15:17] strangeglyph opened #4518 "Confusing error message if missing import"
Currently when missing the definition of some datatype constructor (e.g. the missing import of `Data.Sum` below), the error message does not mention this at all. Instead, it refers to some vague parse-related error.

[code]

[code]

It may be worth to add a note that `inj₁` is unknown to direct the user in the right direction.

[2020-03-17 15:36] ajrouvoet commented on #4517
I've tried to confirm at least that this is all about module parameters.
I've abstracted the module whose arguments blew up in the goal of the search over a single record `Param` and now open the module using an abstract instance of that record:

[code]

This solves the problem, thus confirming AFAICT that the slow part is unification of the content of Param with itself during instance candidate c

[2020-03-17 16:19] nad commented on #4517
Would this problem be solved through the use of hash-consing (#4464)? Checking if something is equal to itself is easy in that setting. Could the use of de Bruijn indices somehow get in the way?

[2020-03-17 17:03] ajrouvoet commented on #4517
It seems that this issue also affects with-abstraction; I've been avoiding using "with" as much as possible whenever I was using functions from the "Exchange" module, as this slowed down type-checking by 10-20 seconds per use. After applying the above patch, this seems to have been fixed as well.

[2020-03-17 17:15] jespercockx commented on #4517
That's not really surprising, since using `with` will normalize the types of all bound variables and compare each subterm to the term being abstracted over, so if one of these types uses the module parameters then things can get (very) slow.

[2020-03-17 18:24] jespercockx opened #4519 "Agda reports unsolved constraints without mentioning any"
Minimal example:
[code]
Agda reports the following:
[code]
I would Agda to either report some unsolved constraints, or else there shouldn't be the message "Unsolved constraints".

[2020-03-17 18:46] ajrouvoet commented on #4464
[This issue](https://github.com/ekmett/intern/issues/2) on kmett's hash consing library suggests that perhaps that implementation is not entirely what it ought to be for real use.

[2020-03-17 20:40] WolframKahl commented on #4517
The use of de Bruijn indices implies that subterms that would usually be shared may be different, e.g.:
[code]
The two `f x` subterms here will be different subterms in de Bruijn representation.

One could however still try to hash-cons the actual de Bruijn subterms: This initially feels wrong, but would still make sure that actually-equal de Bruijn subterms are represented only once. One would ho

[2020-03-17 22:16] dylanede opened #4520 "Better error for ambiguous BUILTIN [FROMNAT no longer working]"
I have returned to an older piece of Agda code that looks like the following:
[code]

Here, I now get the following error on master:
[code]

Am I missing something obvious?

[2020-03-17 22:19] andreasabel commented on #4519
This seems to be the compromise introduced in #4065: to not print postponed type checking problems, but keep the information that there are unsolved constraints.

Not happy?
(Then please reopen with a proposal.)

[2020-03-17 22:42] andreasabel commented on #4520
Importing Cubical.Data.Nat already imports the BUILTIN FROMNAT via the following builtin module.  Also Cubical.Data.Nat exports `fromNat`, thus you are creating an ambiguous name by the `open` statement.
[code]

The error message is misleading, though.

[2020-03-17 23:17] dylanede commented on #4520
Ah gotcha. Should this issue stay open with the aim of improving the error message then?

[2020-03-17 23:37] andreasabel commented on #4518
Yeah, the error message given by the operator parser is leaving the user clueless.
I think the crux is that the operator parser tries to construct a pattern directly.  Maybe a more robust approach would be to first construct an expression (variable inj1 applied to underscore) and then try to interpret it as pattern.  Then, an error could be given that the constructed expression isn't a pattern.

[2020-03-17 23:55] andreasabel commented on #4511
The termination checker rejects this because it fears the worst:  That `any` makes a call to `terminal`...

Here, `terminal` constructs a `record` subject to eta equality, thus, the definition is equivalent to:
[code]
Now, it is not hard to see how you can construct an infinite reduction sequence from this (replace `terminal` by its definition in its definition and notice that you can do this agai

[2020-03-18 07:37] #4520 closed, assigned to andreasabel

[2020-03-18 07:45] #4511 closed, assigned to nobody

[2020-03-18 07:51] MatthewDaggitt opened #4521 "Massive increase in memory required to install Agda 2.6.1"
When I installed both Agda 2.6.1 release candidate 2 and the official Agda 2.6.1 it maxed out the memory on my 8Gb laptop. I did eventually manage to install it after 3 hours, as the thrashing didn't completely halt progress. In contrast Agda 2.6.1 release candidate 1 installed fine while I had a ton of other processes running. I vaguely remember some discussion about GHC options which were added

[2020-03-18 08:55] ajrouvoet commented on #4517
The Filliatre paper[1] on hash-consing in ocaml seems to use it for a term language with de-Bruijn variables. One of their benchmarks is for term reduction.

From my limited perspective, just trying hash-consing seems already like a huge project to take on. Perhaps it is worth also considering whether Agda could treat parameterized modules differently to improve the situation, especially consideri

[2020-03-18 10:29] andreasabel commented on #4518
Actually, I found a way to report more information to the user without changing anything in the structure of the operator parser.

The new error will tell you that Agda could not interpret expression `inj₁ _`.  This might nudge you in the direction to check the status of `inj₁`.

[2020-03-18 10:37] andreasabel commented on #4518
Agda does not know anything about the name `inj₁`, thus interprets it as a pattern variable.  Agda cannot know that you intended to import some module that makes `inj₁` be defined as a constructor.

There is also the question of library design, of course: If a library defines a function such as `≤-total` that returns something in a data type (here: the sum type), should it also export the data typ

[2020-03-18 11:21] andreasabel commented on #4521
See the discussion starting at https://github.com/agda/agda/issues/4324#issuecomment-599173653 about GHC going into thrashing.

[2020-03-18 11:30] nad commented on #4518
In some cases Agda gives you more information:
[code]
[code]

[2020-03-18 11:37] nad commented on #4521
Yes, I think we should have addressed this problem before the release.

Can you verify that this is the case? If it is, then you could perhaps use bisection to find some kind of problem.

[2020-03-18 13:12] #4518 closed, assigned to andreasabel

[2020-03-18 13:24] andreasabel commented on #4518
Yes, but this information does not come from the operator parser, but is merely an afterthought, after Agda has "understood" the patterns (even not in the sense the user intended).

The ideal Agda, which receives millions of sponsoring from Amazon, Facebook, and Google, will have a huge AI that creates likely suggestions what the user meant to write but didn't.  :D

[2020-03-18 13:30] asr commented on #4521
I limited the memory to 4.5 GB by running

[code]

After installing all the required libraries, I got the following error using [Agda 2.6.1 RC2](https://github.com/agda/agda/releases/tag/v2.6.0.1.20200307):

[code]

I couldn't reproduce the error using [Agda 2.6.1 RC1](https://github.com/agda/agda/releases/tag/v2.6.0.1.20191219).

[2020-03-18 17:55] nad commented on #4521
It is not surprising that RC2 requires a little more memory than RC1. Can you test again using `-M3.2G` or something like that?

[2020-03-18 19:12] mietek commented on #4497
Agda 2.6.1 is live in Homebrew. I think the only remaining point to address here is the contents of “‘Hello world’ in Agda”.

[2020-03-19 02:12] WolframKahl commented on #4521
And try to measure/estimate the non-heap memory GHC uses so that your `ulimit` does not bite before the heap space is exhausted.

(Perhaps also add `+RTS -S -RTS` to all `--ghc-options` so that people get a better idea of the resource picture even for succeeding runs.)

[2020-03-19 08:55] andreasabel commented on #4520
New error is:
[code]

[2020-03-19 09:01] andreasabel commented on #4521
Is it just a drop that makes the bucket overflow or is there a significant increase for one particular change?

[2020-03-19 10:40] nad commented on #4521
I don't know. My guess is that the main problem is the use of `-fexpose-all-unfoldings` and/or `-fspecialise-aggressively` (#3589).

I tested that I can build Agda from scratch with `-M3.2G` on my 32-bit setup. (This took about half an hour with all dependencies already installed and `-j3`.)

[2020-03-19 10:56] nad commented on #4521
However, when I used `-M3.5G`, then GHC ran out of memory. (In both cases I tested Agda 2.6.2-b1ecc72.)

[2020-03-19 13:45] WolframKahl commented on #4521
This is interesting; was it running out of heap? (What was the error message?)

In a 32-bit setup, only 4G of memory are addressable by any single process, and on a true 32bit machine, at most 4G of memory are available.

Also, the 32-bit setup should require less heap than true 64bit setup, so if Agda builds with `-M3.2G` on 64-bit machines, I would try around `-M2G -S` on a 32bit setup.

[2020-03-19 14:58] pnlph opened #4523 "[reflection] quoteTerm _∷_ does not typecheck"
In the following code the first underscore typechecks but the second one not, any ideas why?
[code]
I get the message `*All Goals, Errors*` and:
[code]

[2020-03-19 15:08] jespercockx commented on #4523
Since `_∷_` is the constructor of a parametrized datatype, Agda tries to infer the values of the parameters but it fails because there are no arguments.

If you want to quote a lone name like here, it is recommended to use `quote` instead of `quoteTerm`, since this will not try to insert any hidden arguments.

[2020-03-19 16:24] pnlph commented on #4523
And could not `Term.unknown` be used?

For example `quoteTerm List._∷_` resolves to:
[code]

[2020-03-19 16:47] jespercockx commented on #4523
Is that not the same thing as what happens for the vector `_∷_`?

[2020-03-19 16:53] nad commented on #4521
I tried it again later, and then GHC ran out of memory (`ghc: out of memory (requested 1048576 bytes)`).

I would prefer if `make install` worked nicely on both kinds of systems. Is there a simple way (that works on all major platforms) to determine the number of bits?

[2020-03-19 16:59] pnlph commented on #4523
No, when evaluating the normal form of `quoteTerm Vec._∷_` i get `_20` instead...

[2020-03-19 17:50] WolframKahl commented on #4521
This means that the overall memory usage expanded beyond the available (4G) of memory; only heap settings that fit into memory make sense, because a trashing Agda process will require an unusual amount of patience.

`arch` and `uname -m` might come close.

I am not sure that `getconf LONG_BIT` (POSIX) will pick up all kinds of 32-bit processes running on a 64bit kernel.

I dimly remember from my P

[2020-03-19 18:19] nad commented on #4521
Agda? Do you mean GHC?

[2020-03-19 18:42] WolframKahl commented on #4521
Yes, sorry! A trashing GHC might possibly (due to probably more locality) be slightly better than a trashing Agda, but still...

[2020-03-19 22:27] asr commented on #4324
@Soares, how much memory has the laptop?

[2020-03-20 09:26] jespercockx commented on #4523
Yes, it's indeed strange that Agda treats the List cons differently from the Vec cons here. After looking a bit at the debug output, I think I understand now what is happening: When quoting a term, Agda currently refuses to quote any term that still has a metavariable. So the result of quoting a term with unsolved metavariables will just result in another unsolved metavariable, which is what you'r

[2020-03-20 09:39] jespercockx commented on #4517
What still confuses me about this issue is that most time seems to be spent on typechecking of the instance that *is* used in the end, all the non-valid candidates are dismissed quickly (according to @ajrouvoet). But if that is the case, wouldn't typechecking still be slow even when giving the instance by hand? Or is there some secret hidden cost attached to things with instance status?

[2020-03-20 09:46] ajrouvoet commented on #4517
Good question. Perhaps it is somehow more evident for the type-checker that the module parameters of an instance that I provide explicitly match the target's module parameters. The table of candidates is global for the module after all, whereas an explicit instance is more local?

[2020-03-20 10:04] jespercockx commented on #4517
I wonder whether using co-deBruijn syntax (https://arxiv.org/pdf/1807.04085.pdf) would identify more terms that are morally "the same" compared to standard deBruijn indices or deBruijn levels.

[2020-03-20 10:18] ajrouvoet commented on #4517
Hm, I'll give that a thought, but let me quote Conor in case you are actually considering this:

[2020-03-20 10:48] nad opened #4525 "Pattern-matching lambdas in erased contexts are sometimes erased, sometimes not"
The following code is accepted:
[code]
However, the following code is rejected:
[code]
I think that Agda should be consistent, and always make pattern-matching lambdas in erased contexts erased.

[2020-03-20 10:56] nad commented on #4517
Have you tried that?

[2020-03-20 10:58] andreasabel commented on #4521
I looks like the compile time for Agda on travis has deteriorated from 30 min to 60 min:
- 30min: https://travis-ci.org/github/agda/agda/jobs/661979363
- 60min: https://travis-ci.org/github/agda/agda/jobs/664774547

30 min is the ordinary build time (from scratch) with vanilla contemporary hardware.

However, here is a very recent build in 35 min: https://travis-ci.org/github/agda/agda/jobs/664379

[2020-03-20 11:26] #4486 closed, assigned to andreasabel

[2020-03-20 11:26] ajrouvoet commented on #4517
Yes, that was my initial workaround. And was indeed speedy

[2020-03-20 11:28] andreasabel commented on #4486
The warning now is:
[code]
Squint your eyes or change the font to see the difference. ;-)

[2020-03-20 11:47] andreasabel commented on #4525
The comment says that extended lambdas are for now checked in non-erased context:
https://github.com/agda/agda/blob/63fe8a8e0df6141931452572b95360e129828a5c/src/full/Agda/TypeChecking/Rules/Term.hs#L662-L668
The pointer to `test/Succeed/Issue{3581}.agda` must mean:
https://github.com/agda/agda/blob/63fe8a8e0df6141931452572b95360e129828a5c/test/Succeed/Issue3581.agda#L40-L43
The difference between

[2020-03-20 12:30] laMudri opened #4526 "Agda 2.6.1 bad performance: findProjectConfig slow in big directories"
Upon updating to version 2.6.1, I've noticed that Agda feels like it's lagging whenever I reload a file. To back this up, I tested version 2.6.0.1 against version 2.6.1 on the following file.

[code]

With version 2.6.0.1, I get:

[code]

With version 2.6.1, I get:

[code]

Version 2.6.1 also appears to allocate 1~2 GiB of memory, as opposed to the older version, which doesn't allocate much.

I co

[2020-03-20 12:33] nad commented on #4526
What is the output of `agda +RTS --info`?

[2020-03-20 12:36] laMudri commented on #4526
2.6.0.1:

[code]

2.6.1:

[code]

[2020-03-20 12:38] gallais commented on #4517
How much of this minefield can be dealt with once and for all and packaged
behind a nice interface that uses phantom types to check you're using the
primitives correctly?

(Irrespective of the answer, it's probably a good idea to start by working on
a toy example rather than Agda itself).

[2020-03-20 12:39] laMudri commented on #4526
And another 2.6.1 (compiled with the older GHC):

[code]

[2020-03-20 12:44] laMudri commented on #4526
Consistent diff: `RTS way` changed from `rts_v` to `rts_thr`.

[2020-03-20 12:58] nad commented on #4526
Do you get the same behaviour if you use `time agda-2.6.1 --ignore-interfaces --no-libraries Scratch.agda +RTS -M100M -I0`?

[2020-03-20 13:02] laMudri commented on #4526
For 2.6.1, I get:

[code]

2.6.0.1 still works fine.

[2020-03-20 13:14] nad opened #4527 "Could the termination checker be less restrictive when the K rule is turned off?"
The termination checker is currently more conservative when the K rule is turned off (#1023). I think that all the problematic examples that are listed in Issue #1023 rely on pattern matching on `refl`. If inductive families were disallowed (under some flag), would it be safe to loosen the restrictions?

@Saizan is/was working on proper support for inductive families in Cubical Agda (#3733). Is th

[2020-03-20 13:17] nad commented on #4526
Try `time agda-2.6.1 --ignore-interfaces --no-libraries -vprofile:7 Scratch.agda`.

[2020-03-20 13:19] laMudri commented on #4526
[code]

[2020-03-20 13:25] ajrouvoet commented on #4517
@andreasabel has experience with actually implementing something like co-de-bruijn; using it to prevent accidental unnecessary capture when building closures. I think he might also have some insights in the performance considerations in general?

[2020-03-20 13:35] pnlph commented on #4523
I also realized that applying `quoteTerm` to `List` or `Vec` gives the same definitional term as, say `Nat`, that is, without arguments:
[code]
But I was expecting a non-empty list of unknown arguments for `List`and `Vec`.

On the other hand, should not be a difference between a completely unknown term and a term that is unknown, but from which at least we know its type? Then we could get a list o

[2020-03-20 13:42] nad commented on #4526
Try `-v10` instead, and compare how quickly the different lines of output are printed by 2.6.0.1 and 2.6.1.

[2020-03-20 14:34] jespercockx commented on #4523
Why would you expect a list of arguments when the type is not applied to any arguments?

As I said above, you're not really supposed to get `unknown` terms inside quoted things since normally quoting is delayed until all metavariables are solved. Constructor parameters are an exception because they are not stored in the internal representation used by Agda.

If you need the types of the arguments

[2020-03-20 14:34] laMudri commented on #4526
Aha, it looks like all of that extra time is spent just after printing `Importing the primitive modules.`.

2.6.0.1:

[code]

2.6.1:

[code]

[2020-03-20 14:49] nad commented on #4526
I guess this means that interface files for the primitive modules were not generated when you installed Agda, and that you do not have write permissions for the directories containing those modules.

[2020-03-20 14:51] jrp2014 commented on #4526
Seems OK for me (MacOS, 8.8.3), although it doesn't seem to report Parsing timings:
[code]

[2020-03-20 14:54] laMudri commented on #4526
Right, I think that's likely. Has there been a change to where these get installed since the last version? Are they affected by https://github.com/agda/agda/pull/3949?

[2020-03-20 15:32] gallais commented on #4526
We use [`--local-interfaces`](https://github.com/agda/agda/blob/master/Setup.hs#L85) when installing the builtins.

[2020-03-20 16:06] #4482 closed, assigned to andreasabel

[2020-03-20 16:14] andreasabel commented on #4527
Well, if you do not have equality in the first place, there should be no difference in K or without-K.

[2020-03-20 16:36] nad commented on #4527
In Cubical Agda you would still have paths.

[2020-03-21 08:30] andreasabel commented on #4517
What parameterized modules concerns, I think we should go back to the drawing board, and first theoretically develop solutions that address points that have been ignored in the initial design, which was purely semantic.  The points that have come up over and over are:
1. efficiency
2. printing

[2020-03-21 08:59] ajrouvoet commented on #4517
Perhaps it is time to start considering a remote AIM

[2020-03-21 11:26] nad opened #4528 "Internal error due to new forcing translation"
The following code triggers an internal error:
[code]
[code]

[2020-03-21 12:54] nad commented on #4528
Bisection points to 0539818a58dd049ccb2ede79ed304bc669fa1bf2 ("[ #3903 ] handle forcing translation in the unifier").

[2020-03-21 14:12] Olius opened #4529 "Build error due to linker on OS X 10.10"
I tried to install Agda with Cabal on a 10 year old Mac without success. I understand if this is not a priority since this computer and OS are widely regarded as obsolete.

It appears there was a problem during the linking phase, which I've experienced before and usually indicates that whatever program is being compiled relies on features which my hardware does not have.

The end of the Cabal outp

[2020-03-21 15:45] andreasabel commented on #4529
I sometimes get similar problems when I interrupt compilation and later restart it.  The system is in an inconsistent state which only surfaces in the linking phase.
Do you get the problem with an older ghc?  Not sure how well tested ghc 8.8.3 is on a legacy mac.

[2020-03-21 15:58] andreasabel commented on #4004
No one objected, so it shall come to pass.

[2020-03-21 16:04] #4004 closed, assigned to andreasabel

[2020-03-21 16:53] andreasabel commented on #3976
Links check now, remaining problem is: https://github.com/ice1000/ice1000.github.io/issues/45
I leave this to @ice1000, whether he wants to fix or remove the link.

Checking links will have to be done regularly, but this iteration is considered finished. I close this issue now.

[2020-03-21 16:53] #3976 closed, assigned to andreasabel

[2020-03-21 18:53] Olius commented on #4529
@andreasabel :

I was running the compilation in the background (`&`) but that surely shouldn't make a difference...  In any case I never interrupted it.

Tried again with ghc 8.6 and got the same result :(
[cabal_output_ghc@8.6.txt](https://github.com/agda/agda/files/4363704/cabal_output_ghc%408.6.txt)

[2020-03-22 01:08] WolframKahl commented on #4529
Did you compile any of these GHCs on that machine?

Just importing a binary distribution into an old machine is sometimes not very reliable.

[2020-03-22 01:34] Olius commented on #4529
Yes, I installed them both through Homebrew which on its own decided to compile instead of installing precompiled binaries.

[2020-03-22 01:45] WolframKahl commented on #4529
Is your home directory local?
That is, has the content of /Users/louisdeforcrand/.cabal also been compiled on this machine?

What does the following produce:
[code]

[2020-03-22 09:02] andreasabel commented on #4456
For now, I settled for "light coral" in emcs light mode, and the `TerminationProblem` style in the dark mode and agda.sty.

Seems to work better with a new aspect `ErrorWarning`, if only the background is changed.

[2020-03-22 10:27] andreasabel commented on #4018
Looks like this issue was fixed by @L-TChen  by his work on #4177.

[2020-03-22 10:27] #4018 closed, assigned to nobody

[2020-03-22 11:34] Olius commented on #4529
Yes.

-   `uname -a`:
[code]
-   `file  /Users/louisdeforcrand/.cabal/store/ghc-8.8.3/dlst-0.8.0.7-ffaef87b/lib/libHSdlst-0.8.0.7-ffaef87b.a`:
[code]
-   `type ld`:
[code]
-   `ld --version`:
[code]
    The `ld` on my machine is the (ancient) one that comes with the OS X 10.10 command line tools, and `` ls -l `which ld` `` gives:
[code]

[2020-03-22 13:21] #4456 closed, assigned to andreasabel

[2020-03-22 13:27] WolframKahl commented on #4529
Is this the same `ld` that installation of GHC used? (Look at the output of `,/configure` for GHC.)

Perhaps make sure that (at least) for `file` and `ld` you also use the homebrew versions.
(I last used MacOS X over ten years ago, in the times of macports...)

The output of `file` you show is remarkably uninformative.

[2020-03-22 14:18] Soares commented on #4324
@asr 16G mem + 16G swap

[2020-03-22 14:26] jespercockx opened #4530 "Less normalization of goal types for instance search"
Currently Agda seems to reduce the goal types of instance arguments more than necessary:
[code]
The current error message is:
[code]
It sure would be a lot more useful if Agda could say that there is no instance of type `IsTrue (3 < 2)` instead. If reduction is necessary then it should be handled by conversion when checking the type of each instance candidate.

I wonder if this eager reduction can

[2020-03-22 14:44] jespercockx commented on #4530
The culprit seems to be the following call to `normalise`: https://github.com/agda/agda/blob/edab4a447a9bf1c87cefb1c67b16e0d5eda98fc2/src/full/Agda/TypeChecking/InstanceArguments.hs#L231
If I remove it, then Agda reports there is no instance of type `IsTrue (3 < 2)` as expected. I'll try to run the test suite with this change and see if it breaks anything.

[2020-03-22 15:20] jespercockx commented on #4530
PR: #4531

[2020-03-22 22:28] Olius commented on #4529
GHC was indeed compiled with the same `ld`, as is everything compiled on this computer.  Homebrew doesn't provide an `ld`, but it does have a formula for a more up-to-date `file`; however it seems to give the same output.

[code]

Don't spend too much time on this, there's a fair chance the problem has nothing to do with Agda in particular.  Thanks for helping me so far; I'll try digging around th

[2020-03-23 08:17] pnlph opened #4534 "[reflection] quote is not a defined name"
Hi,

i am trying this code, but agda does not recognize the keyword `quote` in this context, or maybe it is somehow prohibited its use like this?
[code]
Here is the error message:
[code]

[2020-03-23 08:30] jespercockx commented on #4534
I think the real problem here is not that `quote` is not a defined name, but that `X` is not a defined name (local variables do not count as defined names, only top-level definitions do). However, the error message is misleading and should be improved.

[2020-03-23 10:25] andreasabel commented on #3336
Yeah, it wasn't.

[2020-03-23 10:25] #3336 closed, assigned to andreasabel

[2020-03-23 10:34] andreasabel commented on #3213
There wasn't any consensus on my proposal, thus, I close it.

One could have the flag on a per-file-basis for parts of the code base that do not use refutable matches.

[2020-03-23 10:34] #3213 closed, assigned to nobody

[2020-03-23 12:56] ajrouvoet commented on #4517
@jespercockx branch ^ seems to solve the performance issue I was witnessing with instance search specifically. `Typing.InstanceSearch            456ms (735ms)`

Ofc. some of the issues related to module parameter normalization remain, for example in with abstraction: `Typing.OccursCheck               327,329ms`

[2020-03-23 12:57] laMudri commented on #4526
Upon further inspection, interface files do seem to be getting created. In fact, if they weren't, then Agda would want to create them and then fail at writing them in a read-only location (the Nix store). So it's probably not finding them, or not using them, but I have no idea why.