[2018-03-04 19:07] andreasabel commented on #2980
I switched it to "allowed_failures".

[2018-03-06 10:25] nad commented on #2987
That commit dates to 2010, `Library.hs` was added in 2015.

[2018-03-06 14:08] nad commented on #2985
I tried to remove the only (live) occurrence of `instantiateFull` from `Agda.Termination.TermCheck`:

https://github.com/agda/agda/blob/b7541319c09f308785e8966d734ae9a06cffc19a/src/full/Agda/Termination/TermCheck.hs#L778-L792

The test suite did not complain. It seems as if I added this call to `instantiateFull` back in 2007 (b2942b71d7d018ffb6cb16fcd1d739b1bee02572). Do you think it is safe to re

[2018-03-06 15:37] gallais opened #2991 "Allow return type of a record to be a sort-ended telescope"
At the moment the following module is rejected with the error:

when checking the definition of Wrap

[code]

and we have to expand the definition of Wrap by hand to:

[code]
which gets annoying fairly quickly as the `Phantom` telescope gets bigger.

[2018-03-06 16:12] nad commented on #2991
I think @andreasabel has suggested that we should have some kind of record families. If that feature is ever implemented, then your notation might overlap with the notation for the signatures of such families.

[2018-03-06 18:22] identicalsnowflake opened #2992 "Record fields and constructors treat irrelevance differently"
I'm not sure if this is a problem or not, but it struck me as odd:

[code]

Alternate commenting either of the final two lines to see that they behave differently - the latter is accepted, while the former is not. Is this an intentional discrepancy? If not, is it ok to depend on the pattern matching behavior, or should I avoid it? Also, maybe or maybe not related - Agda *only* permits matching on

[2018-03-06 22:00] identicalsnowflake commented on #2992
Ah, no, it's not the projection that's causing the problem - it's the `∘` not being usable on functions with irrelevant args. It still feels like there's some weirdness going on, as I can't figure out any way to annotate  `∘` to make it work.

In any case, I was mistaken about the main title issue - the pattern match/projection are respecting the same rules. My bad!

[2018-03-06 22:00] #2992 closed, assigned to nobody

[2018-03-06 22:37] gallais commented on #2992
This ought to do it:

[code]

[2018-03-06 23:44] marco-vassena commented on #2369
I also just stumbled upon this issue with Agda version 2.5.3:

(consider adding {-# OPTIONS --allow-unsolved-metas #-} to this
module)

Let me know if you want me to upload the offending program (it is several files and it would be hard to find a minimal example).

It uses modules parameters, if that could be related to the cause.

[2018-03-06 23:52] amakuri commented on #2976
In case this helps, I seem to be having a similar issue (after updating from 1869b907d2d77c1d68de4af8ac521c8fb988b8b6 to current HEAD b7541319c09f308785e8966d734ae9a06cffc19a).

emacs output:
[code]

emacs backtrace:
[code]

I don't have experience in elisp, but this is my explanation & fix:

In my case the error seems to originate in `annotation.el`, in `annotation-append-text-property`, being ca

[2018-03-07 05:59] UlfNorell commented on #2369
Does the problem persist if you remove all `agdai` files and try again?

[2018-03-07 06:31] identicalsnowflake commented on #2992
Huh, ya that works. I was putting the `.` on the middle `A` as well.

[2018-03-07 06:41] marco-vassena commented on #2369
No, if I remove all the `agdai` files, then the error reports the problematic module.
In particular I get:

The name that agda assigns automatically to the module (.#FG2CG-155...) should probably be left out
but it does not hurt.

[2018-03-07 08:57] #2888 closed, assigned to UlfNorell

[2018-03-07 12:00] gallais commented on #2992
The key idea is that you're entitled to use a relevant function on an irrelevant
argument as long as the result is used in an irrelevant fashion.

[2018-03-07 12:51] identicalsnowflake commented on #2992
Ya that's how I was trying to think about it - I think I was getting tripped up on the fact that the `proj₁` is a relevant function being supplied to `∘` where it's then used in an irrelevant way.

Anyway, I managed to finally get what I originally wanted! I've been looking for a way to recompute irrelevant computations for a long time:

[code]

I previously thought it was impossible - I even had

[2018-03-07 12:53] gallais commented on #2992
Sounds like a good candidate for inclusion in the standard library (we already
have e.g. [Data.Empty.Irrelevant](https://agda.github.io/agda-stdlib/Data.Empty.Irrelevant.html)). Would you mind submitting a PR to agda-stdlib? :D

[2018-03-07 12:57] identicalsnowflake commented on #2992
Sure, I'll look into it when I get home later. I think it's best to have a `Unique t` argument on `recompute` too, since otherwise you're not actually guaranteed that what you're recomputing is equivalent to the irrelevant computation.

[2018-03-07 13:45] mietek commented on #2369
I’ve experienced this issue a number of times since my last comment, but reproduction remains elusive.

[2018-03-07 15:47] andreasabel commented on #2991
Indeed.
However, record families would probably a syntax very different from record declarations, something like:
[code]
Thus, implementing the proposed feature would not be a show-stopper for record families.

[2018-03-07 15:53] andreasabel commented on #964
The problem with the present solution is that unsolved metas from a different file are treated as injective (since they are postulates).  Thus, one might get an error where one expected yellow.

File M.agda:
[code]

File Main.agda:
[code]
Error:
[code]
A solution would be to have postulates that are flexible (non-injective) like metas.
(Original milestone was 2.5.2.)

[2018-03-07 18:32] #2990 closed, assigned to nobody

[2018-03-07 18:33] nad commented on #2976
Thanks for identifying the problem.

The implementation of `annotation-append-text-property` seems to be based on the assumption that the property `prop` is a list. However, as has been observed this is not necessarily the case. In the specific case of the `face` property [several different kinds of values are supported](https://www.gnu.org/software/emacs/manual/html_node/elisp/Special-Properties.

[2018-03-07 18:44] UlfNorell commented on #2907
Is this not fixed by de4225eb?

[2018-03-07 18:51] UlfNorell commented on #2990
The problem is the old eta contraction of meta arguments from #2907. Call-by-need makes it worse since it will cause more things to be unfolded. I "fixed" this by disabling call-by-need for the `reduceAndEtaContract` call.

[2018-03-07 19:25] fredrikNordvallForsberg commented on #2976
The motivation was to highlight also the foreground of text that was given a background, such as the then recently introduced highlighting of unreachable clauses.

I still cannot reproduce the issue (using Agda 2.6.0-34086c) on Andreas' original file, @amakuri do you have a small test that triggers the bug?

[2018-03-08 04:23] LightAndLight opened #2993 "Quadratic (failing) instance search"
Agda 2.5.3 and HEAD both hang on this code:

[code]

It's something to do with `applicativeComp` and instance resolution. If I don't declare it as an instance, and just leave it as a regular top-level definition, the compiler behaves normally.

[2018-03-08 06:03] UlfNorell commented on #2993
It is indeed `applicativeComp` that is the culprit. It is a candidate for any instance goal `Applicative H` (for instance by taking `F = H` and `G = id`), so we'd expect instance search to loop in this case. It should be caught by the `--instance-search-depth`, however, and indeed it is, eventually. If you lower the search depth to 100 (from the default 500) Agda fails after a few seconds with
[co

[2018-03-08 06:22] LightAndLight commented on #2993
@UlfNorell Is there a better way I should write such a definition? I'm working through Conor McBride's Dependently Typed Metaprogramming, which says to implement `applicativeComp : forall {F G} → Applicative F → Applicative G → Applicative (F o G)`.

Maybe I should use a type for functor composition instead of the compose function, like

[code]

And thank you for the response.

[2018-03-08 07:52] UlfNorell commented on #2993
If you want to use it as an instance you need the data type wrapper, yes. It might still be useful to have `applicativeComp` without the `instance` though.

[2018-03-08 20:06] nad commented on #2976
Preferably using `emacs -Q`.

[2018-03-08 20:39] amakuri commented on #2976
No, not yet - I am using spacemacs, but I'm going to try to reproduce it in a "simple" environment.

[2018-03-08 20:48] identicalsnowflake opened #2994 "Solution accepted in hole is subsequently rejected on reload"
This is a very strange bug -- changing all sorts of pieces that don't seem like they should matter do.

[code]

Load the above file into Agda with `C-c C-l`. It should load fine. Then, paste the commented solution into the hole and check it with `C-c C-space`. Agda will accept the solution. Then reload the file with `C-c C-l`, and Agda will reject the file, claiming one of the pattern matches it p

[2018-03-09 00:07] amakuri commented on #2976
In my case the bug is triggered by the `hl-todo` package (https://github.com/tarsius/hl-todo).

It can be reproduced in a clean emacs installation by:
1. Adding the melpa archive
2. Installing `hl-todo`
3. Adding a prog-mode-hook
4. Adding code to load agda-mode

The `.emacs` file is thus:
[code]

Example file (`test.agda`):
[code]

Opening the example file and pressing `C-c C-l` should produce th

[2018-03-10 01:06] asr commented on #2878
GHC 8.4.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2018-March/015452.html). The OP shows the current status for supporting this version of GHC.

[2018-03-10 07:17] UlfNorell commented on #2907
Closing, reopen as necessary.

[2018-03-10 14:04] asr commented on #2878
Could someone test on Windows the library Win32 2.6.1.0 [shipped](https://downloads.haskell.org/~ghc/8.4.1/docs/html/users_guide/8.4.1-notes.html#included-libraries) with GHC 8.4.1, please. Note that this version of Win32 is [ backwards incompatible](https://downloads.haskell.org/~ghc/8.4.1/docs/html/users_guide/8.4.1-notes.html#win32).

Note also that due to the `cabal-install` issue reported in

[2018-03-11 17:45] nad commented on #2907
The test case in the OP still loops.

[2018-03-11 18:26] andreasabel commented on #2994
A priori, it is not clear that this is a bug.
You have a hole in the type, and you do some `with` abstraction. The abstraction of course leaved the hole in place.
Then you fill the hole and reload.  The `with` abstraction will now possibly abstract more (in the place where there used to be the hole) and too much, leading to an ill-formed type.

I tried to run it with previous versions of Agda.  At

[2018-03-11 18:38] andreasabel commented on #2985
Well, `reduceCon` only works reliably if meta variables have been instantiated at this point.  Unless we can prove that all metas are instantiated here, it feels safer to leave the call in.

But, instead of doing it here, it would make more sense to do it closer to where the invariant (no instantiated metas, no reduceable constructors) is needed.  For instance, we could move it to `compareTerm`.

[2018-03-11 18:53] andreasabel commented on #2971
Well, the projection is not in scope (that's how we implemented `--no-irrelevant-projections`). But I suppose I never tested this case when implemented result splitting.  I suppose there should be a better error message.

[2018-03-11 19:02] andreasabel opened #2996 "Internal error with -v tc.cover:20"
[code]
prints
[code]
The offending `__IMPOSSIBLE__` has been added in this recent commit:
https://github.com/agda/agda/commit/e5590bbab78086071f3c2d905d82dd1669836dfd

[2018-03-11 19:04] andreasabel commented on #2971
Trying to debug this with option `-v tc.cover:20` triggers #2996.

[2018-03-11 19:06] andreasabel commented on #2996
Blocking issue #2971.

[2018-03-11 19:26] andreasabel commented on #2963
I can see why __this testcase__ would work ok before 43803cc but not after.
Because in this commit I removed the call to `reduce` that would inline the extended lambda.

However, what about the following variant, where the extended lambda cannot be reduced away?
[code]
My oldest Agda, 2.4.0 accepts this proof of false.
I suspect that positivity checker never traversed into extended lambda bodies.

[2018-03-12 06:42] identicalsnowflake commented on #2994
Ah, ya I can see how having the hole in the type probably didn't make things clearer. It wasn't there in my original code, so I probably shouldn't have added it for my example, but I'm still not sure how to even describe what is going awry.

Maybe it would have been better to not have the type hole and instead focus on something like changing the pattern `record{}` to `_` made the code check or no

[2018-03-12 06:57] UlfNorell commented on #2907
It's now looping when pruning. More precisely here:

https://github.com/agda/agda/blob/32bc7b2fbe83ef88654028a21985da81b3bae86d/src/full/Agda/TypeChecking/MetaVars/Occurs.hs#L608-L612

This code was introduced to fix #1386.

I guess 1386 could be solved by being more conservative with pruning instead of more precise. I'm not sure how much more yellow that would result in. @andreasabel?

[2018-03-12 07:02] #2996 closed, assigned to UlfNorell

[2018-03-12 09:08] andreasabel commented on #2963
For a comparable data type, the positivity checker is invoked on a set of names including the extended lambda:
[code]
Yet for `R`, this set is just the name of the record type:
[code]
The bug is thus not in `TypeChecking.Positivity`, but in the general declaration checking, which calls the positivity checker.

[2018-03-12 09:46] andreasabel commented on #2963
I think I found the offending commit :P  e7f4891a85a822fe900b75f2d5b42733812cce5b
[code]
It introduced a special case for record decls here:
https://github.com/agda/agda/blob/e7f4891a85a822fe900b75f2d5b42733812cce5b/src/full/Agda/Syntax/Concrete/Definitions.hs#L348-L354
Removing this optimization fixes the positivity issue.

[2018-03-12 10:10] andreasabel commented on #2975
My fix for #2963 seems to also fix this issue.

[2018-03-12 10:30] andreasabel commented on #2907
Indeed, my patch did not fix the problem, since pruning also normalizes unnecessarily.  I made an attempt at it during AIM XXVI but realized this requires more thorough thinking...

[2018-03-12 10:44] #2963 closed, assigned to andreasabel

[2018-03-12 10:45] #2975 closed, assigned to andreasabel

[2018-03-12 10:47] andreasabel commented on #2226
Previous milestone: 2.5.2.

This issue needs attention again, in my fix for #2963 I had to update the test case.

[2018-03-12 11:24] UlfNorell commented on #2226
Are you giving it the attention it needs or are you expecting me to do something (if so what)?

[2018-03-12 14:44] nad commented on #2985
One option might be to change `reduceCon` so that it instantiates meta-variables on demand.

[2018-03-12 14:50] nad commented on #2963
Rejected by 2.3.0.1, accepted by 2.3.2.

[2018-03-12 14:59] nad commented on #2963
I seem to recall that this optimisation (implemented in Fischbachau) made Agda considerably faster for some code. Hopefully the optimisation is no longer needed.

[2018-03-12 18:04] andreasabel commented on #2963
I hope so, too.  Do you remember why the mutual block caused the bad performance then?

[2018-03-12 18:08] andreasabel commented on #2985
And also `stripAllProjections`.

[2018-03-12 18:16] andreasabel commented on #2226
I am not very familiar with the reflection machinery.  Could you please review https://github.com/agda/agda/blob/86a3caca18a130f57dcd33caf935aee8542f9203/test/Succeed/Issue2226.agda#L59-L62 and check whether the new behavior is acceptable?

[2018-03-13 06:04] UlfNorell commented on #2226
That actually looks more correct than what we got before. You changed
[code]
to
[code]
which to me makes a lot more sense.

[2018-03-13 06:04] #2226 closed, assigned to UlfNorell

[2018-03-13 09:25] andreasabel commented on #2964
If I understand correctly, we should revert the changes introduced in my patch https://github.com/agda/agda/commit/aeba531e6340e710e167cf20fc93265c88fa3e01 which introduced lazy left-to-right matching.  At that time, it fixed #1124.  Maybe the preconditions for this bug have been resolved otherwise now.

Currently, some comments in the test file and in `Match.hs` are no longer accurate. (See the p

[2018-03-13 09:32] andreasabel commented on #2970
One more entry to the collection #513, #1735, #2087.

[2018-03-13 09:42] nad commented on #2963
No, I don't. This bug suggests that it had something to do with positivity checking, and positivity checking has been optimised several times since then.

[2018-03-13 14:47] nad commented on #2890
#1680, #1023?

[2018-03-13 15:08] nad commented on #1680
Here is another example:
[code]

[2018-03-13 15:15] nad opened #2997 "Internal error in Agda.TypeChecking.Rules.LHS"
The following code triggers an internal error (`src/full/Agda/TypeChecking/Rules/LHS.hs:1270`):
[code]
This seems to be a regression.

[2018-03-13 15:32] nad commented on #1680
Here is a perhaps more illustrative example:
[code]
One alternative is to define `D` using sized types:
[code]

[2018-03-13 21:06] nad opened #2998 "Regression: With clause pattern x is not an instance of its parent pattern "eta expansion of x""
The following code is accepted by Agda 2.5.3, but not by Agda 2.6.0-47301dc:
[code]
An excerpt from the error message:
[code]

[2018-03-13 21:43] nad commented on #2998
Bisection points to d9359139ab717397279af5719541ebb59c836702: "[ #2888 ] prefer EtaExpandVar over EtaExpandEquation in unification".

[2018-03-13 21:44] nad commented on #2888
I did not find a regression test for this bug.

[2018-03-14 05:52] UlfNorell commented on #2888
Forgot to add it. Thanks for spotting.

[2018-03-14 20:07] nad commented on #2997
Bisection points to 859a80af089d381fc27539f2d442c464f76e1965: "[ new ] Big refactoring of the LHS checker".

[2018-03-14 23:47] sattlerc opened #3000 "Interaction: iterated give encounters internal error"
On master; not sure if already on the issue tracker.

[code]

[2018-03-15 07:05] andreasabel commented on #3000
PLING! YOU ARE THE CHOSEN ONE! YOU SUBMITTED THE THIRD MILLENIUM BUG!

[2018-03-15 07:35] andreasabel commented on #2226
Ok, thanks, I removed the TODOs in 553b281098741aa45fdd81f77f169e80ec8ec606 .

[2018-03-16 21:21] divipp opened #3001 "Unification does not respect rewrite rules"
I am working on type-theory-in-type-theory, with lots of postulates and rewrite rules.
I observed a bad interaction between rewrite rules.
I could produce a minimal example with nats and fins:

[code]

The problem is that if the `collapseℕ` rewrite rule is active, then the `collapseF` rewrite rule fails to fire in the type of `collapseF'`, so `refl` is rejected in its definition.

As I understood

[2018-03-18 12:55] wadler opened #3002 "Spurious 1 after simplification"
In the program below, simplification yields a term with a spurious 1 in it. -- P

[PS. It is annoying that one cannot upload files with extension .agda!]

[code]

[2018-03-19 06:05] UlfNorell commented on #3002
Possibly related: #2047, #2076.

[2018-03-19 13:43] asr commented on #2600
I was wrong. From the Cabal [documentation](http://cabal.readthedocs.io/en/latest/developing-packages.html#backward-compatibility-and-custom-setup):

So, I'll add the missing `custom-setup` stanza.

[2018-03-19 14:43] #2600 closed, assigned to asr

[2018-03-19 18:31] andreasabel commented on #2954
See also #708.

[2018-03-19 18:36] #2971 closed, assigned to andreasabel

[2018-03-19 18:46] andreasabel commented on #2954
In comparison to #2243, it seems we need to distinguish whether duplicate literals like `"x"` come from the same column (#2243) or different column (this issue).

[2018-03-20 05:29] sattlerc opened #3004 "Agda hangs on extended lambda"
Tested on master (194356b85).

[code]

[2018-03-20 06:01] UlfNorell commented on #3004
A quick look at the debug output suggests that it might be a printing issue. The implicit argument of `id` is `B (λ { ... } .T.s)` where `...` contains the call to `id` itself. If we are trying to print that implicit argument I can see how this might loop.

[2018-03-20 07:34] sattlerc commented on #3004
That seems plausible.

Simplifying the example a bit:

[code]

[2018-03-20 08:06] andreasabel commented on #3004
I book that bug on the account _failure of the syntactic sugar philosophy_.

[2018-03-20 09:55] UlfNorell commented on #3004
I don't think accounting will accept that.

If pattern lambdas weren't sugar we would instead have to build an infinite term, so it seems to me the problem is more fundamental than that.

[2018-03-20 13:39] jespercockx commented on #2998
Simplified test case:
[code]
The unifier's old strategy solved the equation `x = x : R` by eta-expanding the *equation*, leaving the variable `x` untouched. Now it instead eta-expands the *variable* `x`, instantiating it to `record {}`.

The proper solution would probably be to make with-stripping invariant under eta-expansion. However, we have to be a bit careful because with-abstraction may have

[2018-03-20 14:01] jespercockx commented on #3001
Currently `--rewriting` does not give you any guarantees about the confluence of your rewrite rules. If your rewrite system is non-confluent, you may observe all kinds of weird behaviour like you do here.

In your example, the set of rewrite rules is indeed non-confluent: `sucF {suc zero} (zeroF zero)` rewrites to both to `zeroF (suc zero)` (via `collapseF`) and to `sucF {zero} (zeroF zero)` (via

[2018-03-20 14:19] #2997 closed, assigned to nobody

[2018-03-20 18:23] divipp commented on #3001
I assumed that the matching algorithm works like this:

-  matching problem: `sucF {zero} (zeroF zero)`  =?  `sucF {suc n} (zeroF n)`
-  matching subproblem: `zero` =? `suc n`
    - cannot decide, postpone this subproblem
-  matching subproblem: `zeroF zero` =? `zeroF n`
    -  matching subproblem: `zero` =? `n`
        - let `n = zero`
-  revisit `zero` =? `suc n`, where `n = zero`
    - `zero` =

[2018-03-20 18:38] jespercockx commented on #3001
You're right, I hadn't considered that this was actually due to a limitation of the current matching algorithm. I think the current algorithm may fail hard on the problem `zero =? suc n` rather than postponing it, I'll see how hard that is to change.

[2018-03-20 19:47] andreasabel commented on #3004
I rather think that if pattern lambdas were not sugar, this example would either fail to type-check or would work the same as records work now.
[code]
The reason is that there would not be a name for the recursive function.  However, now, we have one, although it must not be named, and thus is unfolded eagerly by the printer.

That said, there is maybe something to be learned from this example, es

[2018-03-20 20:17] andreasabel commented on #2998
For
[code]
I get the error
[code]
which means that the type `x` has not been abstracted.  Thus, this is not a problematic example.

[2018-03-20 22:17] halfaya commented on #2890
Here is another example that uses records rather than mutual recursion. As demonstrated by the two "ok" examples, using records or `with` alone is fine, but when they are combined, as in the original `insert` code, the termination checker fails. It passes if `-without-K` is turned off.

[code]

[2018-03-21 07:51] UlfNorell commented on #3004
I'm not sure that would be enough for the original test case though, since there's an additional projection `.S.a` that's not being applied. In that case it would help if pattern lambdas were in the core language and could be partially applied (so that `you-know-who .T.s` could be expanded to `λ { .S.a → x }`.

[2018-03-21 10:46] jespercockx commented on #3001
To increase the power of the matching algorithm in this way, we would have to reduce the lhs of the rewrite rule at the point where we apply the rule (currently we only normalize the lhs at the point where the rule is first added). One potential problem is that by reducing the lhs, we may lose bindings for the variables that are used in the rhs.

To properly fix the algorithm to deal with these ki

[2018-03-22 09:18] andreasabel opened #3006 "Absurd copattern"
Make the following work:
[code]
And also result splitting on an empty record type.

[2018-03-22 13:26] divipp commented on #3001
I updated the main example to avoid hidden arguments (sorry for the inconvenience it causes).

[2018-03-22 13:34] AndrasKovacs commented on #3001
I think the issue is that `zero =? suc n` is never postponed, because it is unsolvable without rewrite rules, but it may be solvable with rewrite rules.

Could this be solved by allowing such equations to be postponed when one of the sides has a head symbol with attached rewrite rules?

[2018-03-22 13:37] divipp commented on #3001
I think that reducing the lhs of the rewrite rule where we apply a rule is not an issue here.

Also, the documentation of `Agda.TypeChecking.Rewriting` tells that it uses a *unification* algorithm.

[2018-03-22 17:32] bafain opened #3007 "Internal error in Parser"
[code]

[2018-03-22 21:46] nad commented on #3007
The error is triggered by the `TokEOF` case in `mkName`:

https://github.com/agda/agda/blob/b9461927b33d4b93005e723033be87ac0f01d5c8/src/full/Agda/Syntax/Parser/Parser.y#L1799-L1857

[2018-03-22 21:49] nad commented on #3007
This code was introduced recently, in c6ae4d5db2819deabe3678faed6851293a0d826c.

[2018-03-23 01:45] divipp commented on #3001
Example which shows that the problem is present with just one rewrite rule and general unification:

[code]

[2018-03-23 02:49] divipp commented on #3001
A smaller example:

[code]

It seems that Agda tries to fill the hole with
`t _1` : `T a`   ==>  `id _1` = `a`  ==> postpone
and does not use the identity
`t _1` = `t a` ==> `_1` = `a`.

[2018-03-23 06:12] asr commented on #2878
FYI.

After running `cabal update` (because a new version of hashtables was released),  `stable-2.5` and `master` compile with GHC 8.4.1 (tested on Ubuntu 16.04).

TODO: See the OP.

[2018-03-23 09:31] UlfNorell opened #3008 "TERMINATING pragma ignored in record"
[code]

Possibly related to #2963 and #2975?

[2018-03-23 10:17] #3007 closed, assigned to andreasabel

[2018-03-23 15:46] nad opened #3009 "Make -- always start a comment?"
@andreasabel fixed #3007, but the new error message suggests that `--` does not start a comment in the code given in the bug report.

Consider the following code:
[code]
I think this code should be accepted, but Agda complains:
[code]

Similarly, I think that the following code should be accepted:
[code]
Again Agda complains:
[code]

Does anyone object to this? I seem to recall that Agda used to a

[2018-03-23 16:55] UlfNorell commented on #2963
There is a nontrivial performance degradation. On my machine running `library-test` spends `2.6s` on termination checking before 553b281, and `6.0s` after. The effect on positivity checking is less noticable: `3.2s` to `4.8s`.

Of course, this isn't a huge problem (the entire run takes about `2m30s`), but there might be cases where the problem is more severe.

[2018-03-23 19:12] andreasabel commented on #3009
It would be natural to require a whitespace before `--` to start a line comment.  And maybe after as well.

[2018-03-23 19:14] andreasabel commented on #2963
What causes the performance degradation?  Are termination and positivity checks run twice now for records?

[2018-03-23 19:33] andreasabel commented on #3008
Looks like the pragma is not propagated to the surrounding mutual block (which exists now after my fix for #2963).  The same happens with positivity pragmas:
[code]
However, propagating the pragma to the surrounding mutual would also not be the right thing, since it should not apply to the record type itself.

It seems like the current design does not accommodate for both of these:
* Record types

[2018-03-23 20:06] UlfNorell commented on #2963
I'm not sure, I didn't investigate. I just spent the afternoon thinking I caused it, and was relieved to see bisection pointing here, so I thought I'd share the numbers.

[2018-03-23 20:25] nad commented on #3009
Back in 2009 I claimed to have changed the lexer so that "-- always starts a comment [...] [e]xcept inside another comment" (1ad2736e3393c73bb6f3fb2b5273783c573f34d2). However, it seems as if I forgot to remove the following comment:

https://github.com/agda/agda/blob/8a7ad7f79c09d3a55110b6f92ab07267564601f0/src/full/Agda/Syntax/Parser/Lexer.x#L115-L120

Later I realised that "-- does not start a

[2018-03-24 11:52] bafain opened #3010 "Field of opened record does not get highlighted"
In the following definition of `M.f` (line 7)

[code]

the field `x` of the given record `r` does not get highlighted by `Agda version 2.6.0-eeafd4b` in `--latex`, `--html`, or `--interaction` mode.

Highlighting seems to work if we declare `g` where it is defined:

[code]

Highlighting also seems to work if we define `f` at the top-level:

[code]

[2018-03-24 12:23] gunpinyo commented on #2976
I have exactly the same error message; I also can reproduce the bug in Andreas's original file.

(Agda version 2.6.0-8a7ad7f)
Note: definitely not the problem with not recompiling the Agda, as I use cabal sandbox.
(Emacs version 25.2.2)
(Spacemacs version 0.200.13)

After trying to figure the bug, this error will not occur if there is no comment in the file, which indeed makes sense with the error

[2018-03-24 13:42] andreasabel commented on #3010
See also #1581.

[2018-03-24 22:44] nad commented on #2976
Here's an easy way to trigger the bug in a non-empty Agda file:
* Type `M-x (set-text-properties 1 2 '(face font-lock-comment-face)) RET`.
* Load the file.

[2018-03-25 02:01] gunpinyo commented on #2976
@nad That is one of many possibilities that I I have tried for a whole day.
but all of them don't seem to work :(, also after removing all comments in some particular file then load again I start to get the same error message but with another face.
Don't worry, this bug doesn't occur for 2.5.2.
So I just need to roll back to and use it for a while, although 2.5.2 doesn't have cubical-agda.

[2018-03-25 19:22] andreasabel commented on #2976
I do not get the problem for 2.5.3 or 2.5.4 (stable) either; it is only with 2.6.0.

[2018-03-25 19:35] nad commented on #2976
I can trigger the bug also on the stable branch, using the procedure from my previous comment.

[2018-03-25 21:03] xekoukou opened #3011 "Order of Copatterns determines reducibilty."
[code]

[2018-03-26 01:13] xekoukou opened #3012 "Internal Error at : "src/full/Agda/TypeChecking/Reduce/Fast.hs:1030""
https://github.com/xekoukou/Protocol/blob/adf95dd45920a4bceb93730c638a1ac001ea6b33/Test.agda#L69

This is tested in the master agda branch.

[2018-03-26 04:58] UlfNorell commented on #3012
The problem is that I forgot to check for partial functions before throwing an internal error on incomplete copatterns.

Here's a smaller test case:

[code]

[2018-03-26 05:05] UlfNorell commented on #3011
This is by design. Earlier clauses evaluate when type checking later clauses, but not the other way around.

[2018-03-26 05:05] #3011 closed, assigned to nobody

[2018-03-26 05:55] xekoukou commented on #3011
The problem here is that the error msg does not give you a hint about what
is wrong.

Is there doc anywhere that tells that copatterns "should" have a specific
order?

On Mon, Mar 26, 2018 at 8:05 AM, Ulf Norell <notifications@github.com>
wrote:

[2018-03-26 06:08] #3012 closed, assigned to nobody

[2018-03-26 06:11] UlfNorell commented on #3011
It does tell you `ro pf !=< ro (boo pf)` which should give you a least a little bit of a hint. The documentation doesn't say anything about the order, but pattern-matching equations are traditionally ordered top-to-bottom, so it shouldn't come as a huge surprise.

[2018-03-26 13:05] jespercockx commented on #3001
It's not surprising that in your last example Agda fails to find a solution, since nothing triggers unification of `t a` and `t _`. However, the following should work but doesn't
[code]
This seems to be a real bug in the constraint solver and not just a limitation of the current matching algorithm like in the original example.

[2018-03-26 16:39] asr opened #3013 "Build errors of hTags with GHC 8.4.1"
Building `hTags` with GHC 8.4.1 generates various errors:

[code]

Could someone to try to fix these errors, please.

[2018-03-26 17:31] nad commented on #3013
The (main?) problem seems to be that `Located name` has been replaced by `Located (IdP pass)`, where [`IdP`](https://downloads.haskell.org/~ghc/8.4.1/docs/html/libraries/ghc-8.4.1/HsExtension.html#t:IdP) is a type family mapping passes to name types.

GHC complains that it `Could not deduce (TagName (IdP name))`. I suspect that (for GHC 8.2.2) we only need to produce tags when `name` is `RdrName`,

[2018-03-26 18:15] asr commented on #3013
If someone fix the issue, please also change in Travis

[code]

by

[code]

[2018-03-28 08:56] andreasabel commented on #3006
I realized I am not familiar with the lhs checker any more, so maybe @jespercockx could implement this more quickly.
It seems this could be handled in a similar way than the empty type check; instead have a constraint for "this type should be the trivial record type", which is checked after all the splitting has been performed for the clause.

[2018-03-28 15:48] nad commented on #3006
The notation `triv ()` looks just like an absurd *pattern*. Did you mean `triv .()` (which I think was suggested by someone else)?

I don't think `.()` is a valid dotted pattern. (But I guess there is already some overlap between dotted patterns and postfix copatterns, so perhaps this observation is irrelevant.)

[2018-03-28 15:53] gallais opened #3014 "Internal error in Rules.LHS"
Using Agda version 2.6.0-70fb792

[code]

[2018-03-29 00:09] asr opened #3016 "Windows and GHC 8.4.1: Missing test"
Could someone test GHC 8.4.1 on Windows, please.

Note that the version of the  `Win32` library shipped with GHC 8.4.1 is [ backwards incompatible](https://downloads.haskell.org/~ghc/8.4.1/docs/html/users_guide/8.4.1-notes.html#win32).

[2018-03-29 00:55] asr commented on #2878
Note that GHC 8.4.1 requires `cabal-install` ≥ 2.2.0.0.

It seems you can install `cabal-install` 2.2.0.0 using at least the following options:

1. On GHC 8.4.1: Bootstrap it.

2. On  GHC <= 8.2.2: Use the previous version installed of `cabal-install`.

(I used the second option).

[2018-03-29 00:55] #2878 closed, assigned to asr

[2018-03-29 00:57] asr commented on #3016
If someone fix the issue, please also remove from the CHANGELOG the line:

[code]

[2018-03-29 05:33] divipp commented on #3001
Thanks for the correction of the example.

There is an increasing interest in rewriting rules here in Budapest. It would be nice if this issue was marked as a bug if you think so (I cannot change the labels).

[2018-03-29 06:56] UlfNorell commented on #3016
I thought we only did this for releases. What's the reason for the extra Windows concerns?

The backwards incompatible changes to `Win32` do not affect any functions we are using (list here: https://github.com/haskell/win32/commit/73a7b785c0683f0a3354ddf54d8d5eeeca909370). We are using `findFirstFile`, `findClose`, and `getFindDataFileName`.

[2018-03-29 07:37] UlfNorell commented on #3016
Anyway, it builds fine and seems to run without problems.

[2018-03-29 12:06] asr commented on #3016
There is no extra *Windows* concerns.

I'm surprised you didn't change the `Win32` upper bound in `Agda.cabal` when closing the issue. Could you build using the current `Win32` bounds, that is, using

[code]

?

[2018-03-29 15:35] VictorTaelin opened #3017 "Error installing stable-2.5 on OSX Sierra 10.12.1"
I've attempted to install Agda 2.5.4 on OSX Sierra by cloning this repository, checking out the branch `2.5-stable` and following the install instructions. I've installed all dependencies successfully:

[code]

I've then went to Agda's root directory and used `make install`. This is the output:

[code]

Is "text-icu" some undocumented dependency?

[2018-03-29 15:38] UlfNorell commented on #3016
No, I did bump the bound. Just forgot to also do it on the machine where I can actually push stuff. One second...

[2018-03-29 15:40] #3016 closed, assigned to nobody

[2018-03-29 15:48] gallais commented on #3017
Cf #2449

[2018-03-29 16:02] VictorTaelin commented on #3017
So, in short, this helped:

[code]

(Should probably be on install instructions.)

[2018-03-29 16:39] VictorTaelin opened #3018 "How is Word64 compiled to native arithmetic?"
From the 2.5.4 CHANGELOG,

That doesn't make sense to me, how it knows what function to compile to?

I'm specifically interested in implementing a few hash functions such as Keccak on Agda. Having a full set of 64-bit arithmetic (including shifts, xor) is necessary. Could someone point me the best way to have those on Agda right now?

[2018-03-29 17:18] identicalsnowflake commented on #2994
I think something was changed here recently -- everything works for me now, both my original code and the example I posted in this issue.

[2018-03-29 17:20] #2994 closed, assigned to nobody

[2018-03-29 18:06] UlfNorell commented on #3018
Please use the [mailing list](https://lists.chalmers.se/mailman/listinfo/agda) for questions like this. The issue tracker is for bug reports and feature requests.

I'm not sure what you mean. `Nat`, `_+_`, `Word64`, `primWord64FromNat`, and `primWord64ToNat` are all primitives that the compiler knows about so very little magic is needed to optimise those two functions.

You can use the [FFI](http:

[2018-03-29 18:06] #3018 closed, assigned to nobody

[2018-03-29 20:27] asr commented on #3017
Duplicate of #2939.

[2018-03-29 20:27] #3017 closed, assigned to nobody

[2018-03-29 20:39] asr commented on #2742
`cabal-install` 2.2.0.0 fixed the issue in the OP. From its [changelog](https://hackage.haskell.org/package/cabal-install-2.2.0.0/changelog):

[code]

[2018-03-29 20:39] #2742 closed, assigned to asr

[2018-03-29 20:48] asr commented on #1966
Fixed by 34087afab4fae93e77edf8eba89b4c96acb86178.

[2018-03-29 20:48] #1966 closed, assigned to asr

[2018-03-29 21:30] VictorTaelin commented on #3018
Oh, awkwardly, I interpreted as if I had to define an addition function like:

[code]

And then `fromNat (add (toNat a) (toNat b))` would magically compile to a native representation. I now understand what you meant. Sorry for opening an issue, and thanks for the reply and for linking the mailing list.

[2018-03-30 17:19] UlfNorell opened #3019 "Implicit argument insertion in reflected terms"
**EDIT:** *Fixing #4170 solves the problem below, would still be nice to have `withImplicitExpansion`.*

When unifying the hole meta with a solution, context-variable arguments to the meta get implicit-argument expanded. This means that if you have something in the context that doesn't survive implicit-argument expansion, you cannot use any macros. Example:

[code]

It's not clear what's the best

[2018-03-30 20:05] nad opened #3020 "Missing highlighting in record modules"
In the following code the final instances of `A` and `B` are not highlighted interactively:
[code]
This is a regression. Bisection indicates that the problem was introduced in 2dc68ac7743452958cb7bb9571c0548180b783de: "Fixed #2963 and at the same time #2975".

The problem already existed for record modules in mutual blocks (introduced using the `mutual` keyword). This problem seems to have been in

[2018-03-30 21:00] jespercockx commented on #3019
Maybe we could have two different modes for unquoting a term: one that treats the given term as a piece of abstract syntax and inserts implicit arguments etc, and one that expects a term that already looks like internal syntax and only does typechecking but nothing else. I think both modes could be useful depending on the application.

[2018-03-30 22:37] nad commented on #3020
Bisection suggests that the second problem mentioned above was introduced in 89f6f5cb8ebdfd066091430b734765d4ba2b13c5: "[ Fixed #1790 ] Highlighting of record decl. under mutual".

[2018-03-31 07:20] andreasabel commented on #3020
This problem only shows up under _interactive_ highlighting (I updated the problem description accordingly).

[2018-03-31 07:46] andreasabel commented on #3020
Trying to fix this I would probably only play another game of whack-a-mole.
There are two fundamental problems which need attention to make the highlighting feature more stable and save from regressions:
1. The regression testsuite for highlighting is not human-friendly and thus easily broken.  Instead of just dumping the whole communication of highlighting info with emacs and asking the developer

[2018-03-31 07:53] andreasabel commented on #3006
`.()` would be an alternative, stating _the type of the lhs is an empty record here_.

Reusing `()` would generalize the meaning of `()` to _the type of the lhs is trivial_: And that, either because it is a function type with an empty domain or a record type with no fields.

`.()` would give a bit more information to the reader of Agda code.

[2018-03-31 08:47] andreasabel commented on #3014
Here is a version of the test case with "standard" names:
[code]
This issue seems to require a fix in the basic logic of the new lhs checker.

[2018-03-31 09:04] nad commented on #3019
Should the author or the user of the macro choose the mode? Subjecting users to details like this does not seem ideal to me. Perhaps it should be possible to try one approach, and if that fails, try the other.

[2018-03-31 09:10] nad commented on #3020
Oh, perhaps you're right. However, I only tested non-interactive highlighting when bisecting, so it seems as if the commits I pointed to affect the highlighting commands sent to Emacs in some way, even if non-interactive highlighting is used.

[2018-03-31 10:08] UlfNorell commented on #3019
I'm not sure which "user" you are thinking about. Jesper is talking about unquoting inside the `TC` monad so the user in this case would be the tactic writer.

It might be feasible to add a function `withImplicitExpansion : Bool → TC A → TC A` (like `withNormalisation`).

[2018-03-31 16:20] Zalastax commented on #2857
For me, this happened when setting up Agda on a completely fresh machine.
For some reason, running `stack exec agda` does not install the two modules that Agda needs to run correctly, causing a crash.
Solving this problem is easy, just tell stack to install these packages: `stack exec --package ieee754 --package text agda`.  Executions after this can be made using just `stack exec agda`.
I would a

[2018-04-01 05:59] xekoukou commented on #2524
This feature would be useful if one was able to provide custom haskell code for any function, not just abstract.

For example, someone could implement a ```map``` function that creates multiple threads to compute the results. We do not want the typechecker to see that. We want it to behave like a normal ```map``` function. This way, we can continue to prove things.

[2018-04-01 07:00] UlfNorell commented on #2524
You can already do this for functions, see the orange box in http://agda.readthedocs.io/en/latest/language/foreign-function-interface.html#using-haskell-functions-from-agda.

This issue is about also allowing it for types.

[2018-04-02 02:29] asr opened #3023 "Support GHC 8.4.2"
GHC 8.4.2-rc1 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2018-April/015564.html). I created this issue for collecting/reporting the required changes/issues.

I had no problems using this RC.

[2018-04-02 09:18] #3013 closed, assigned to nobody

[2018-04-03 13:31] andreasabel opened #3024 "Postfix projection patterns not highlighted correctly with agda --latex"
agda --latex generates the thing below for post-fix projection patterns, which does not look right:
[code]

[2018-04-03 18:26] #3024 closed, assigned to andreasabel

[2018-04-04 07:09] andreasabel commented on #3010
The problem also shows in the following simplification:
[code]
The projection `R.x` is not highlighted.

[2018-04-05 10:38] bch29 opened #3025 "`getContext` produces types with dependent variables in the wrong order"
[code]

[code]

`getContext` appears to be producing a list like (omitting `arg` constructors)

[code]

when it should produce

[code]

[2018-04-05 11:19] UlfNorell commented on #3025
`getContext` doesn't weaken the types in the context, so when you get `A₁ ∷ A₂ ∷ Γ`, `A₁` is valid in the context `A₂ ∷ Γ`, `A₂` is valid in `Γ`, etc. In your case the type `Fin n` lives in the context `(n : ℕ)` so `0` is the correct deBruijn index for `n`.

[2018-04-05 12:19] bch29 commented on #3025
Ah, I see. It would be very helpful if this was explained in the documentation [here](https://agda.readthedocs.io/en/v2.5.3/language/reflection.html)!

[2018-04-05 15:02] twanvl opened #3026 "Well-founded induction on Size is inconsistent"
It is possible to do well-founded induction on the < relation of `Size`, and since `∞ < ∞`, we get an inconsistency:

[code]

This is reproducible in HEAD, Agda version 2.6.0-971083d.

[2018-04-05 15:12] gallais commented on #3026
The definition of `<-wf` is rejected in 2.5.2:

[code]

[2018-04-05 18:50] nad commented on #3026
I think we should get rid of `∞ < ∞`. See #2820.

[2018-04-06 09:36] #3025 closed, assigned to nobody

[2018-04-11 15:05] UlfNorell opened #3027 "Internal error in the presence of unsatisfiable constraints"
This bug was introduced by the (my) fix of #148 (ba50622c) almost 9 years ago!

The problem is this blatantly false assumption:

https://github.com/agda/agda/blob/5807dc69a25b9101106f52e5821cfdd4f16d3e73/src/full/Agda/TypeChecking/Rules/Application.hs#L359-L361

The datatype can be indexed (as in the example below), or it might be underapplied, in which case `fType` will contain some of the constr

[2018-04-11 15:32] UlfNorell commented on #3027
Hm, rolling back the special inference for constructors doesn't make the problem go away. Now it's comparison of function types that's too optimistic. This was introduced in by @andreasabel in 19c885ec and I was sure we had an issue for it, but I can't find it now. It might be #1258, but that one is closed. Also related: #470.

[2018-04-12 13:41] dm606 opened #3029 "Option --safe does not work with `postulate` at end of file"
If the following file is compiled with `--safe`, then Agda (2.5.3) does not complain about the postulate:

[code]

Note that there is exactly one empty line at the end. If the empty line is removed, or another added, then Agda does complain. Agda will also complain if the import is replaced with `data ⊥ : Set where`, or if `{-# OPTIONS --safe #-}` is added to the top of the file.

[2018-04-12 13:58] dm606 commented on #3029
Actually, after more testing, this seems to be because of the presence of an agdai file that was produced without `--safe`, so is a duplicate of #2487.

[2018-04-12 13:58] #3029 closed, assigned to nobody

[2018-04-12 14:17] MatthewDaggitt commented on #2487
Given that this doesn't appear to be an immediate priority, an extra `Known Issue` should definitely be added at the bottom of the [Safe Agda documentation](https://agda.readthedocs.io/en/v2.5.3/language/safe-agda.html), saying you currently need to delete all `.agdai` files before running `agda --safe`. As #3029 shows, this is still tripping myself and other people up.

[2018-04-13 13:14] #2855 closed, assigned to jespercockx

[2018-04-13 13:14] #2856 closed, assigned to jespercockx

[2018-04-13 13:14] #2896 closed, assigned to jespercockx

[2018-04-13 13:18] #2874 closed, assigned to jespercockx

[2018-04-13 13:45] #3014 closed, assigned to jespercockx

[2018-04-13 15:21] jespercockx commented on #2964
I tried reverting aeba531 but the original bug of #1124 is still there (now in the form of an `__IMPOSSIBLE__` in Reduce.Fast). The original problem there was that we eta-expand terms when matching them against a record constructor, even under uncertain assumptions (i.e. a previous match returned a `DontKnow`). But we're still doing exactly that, in fact we're now also matching under even more dub

[2018-04-14 10:41] identicalsnowflake opened #3031 "Eta failure for record meta with irrelevant fields"
This may or may not be intentional, but there has been a recent (within the past 2 weeks) change to inference:

[code]

At commit 23ef599 (end of March), this is accepted, but currently, it shows some yellow inference problem in `apply2 S (iso w)`.

[2018-04-14 11:23] UlfNorell commented on #3031
It's the implicit `b` that doesn't get solved (should solve to `w`).

Note that this works(!):

[code]

What's strange is that there are no constraints on the unsolved meta, and there really should be (it has to be `w`).

[2018-04-16 10:56] UlfNorell commented on #3031
The problem seems to be that occurs check fails trying to instantiate the meta to `record{ m = m; p = k , primTrustMe }`. The reason is that the meta (`_119`) is not allowed to depend on `k`, which I believe is because `k` is irrelevant and `_119` was not created in an irrelevant context. This is why eta expanding the underscore makes the problem go away.

Anyone want to do a bisect to figure out

[2018-04-16 17:05] sattlerc opened #3032 "spurious meta in dot pattern"
Tested on master.

[code]

Case splitting in the hole produces
[code]
and reports "Not in scope: ?0".

Note that the definition type checks if the dot pattern is replaced by an underscore, or more specifically `foo t x`.

[2018-04-16 17:17] sattlerc opened #3033 "Giving and solving don't insert parenthesis for applications in dot pattern"
Probably known or duplicate of existing issue. Tested on master.

[code]

Giving `f a` in or solving the first hole produces
[code]
failing to insert parentheses around the dot pattern.

[2018-04-16 19:33] andreasabel commented on #3032
Well, you are doing nasty things here.  The type of c is simplified by Agda to
[code]
(expanding the preliminary definition of foo) and if you split the telescope
[code]
you quite logically get what Agda prints now.  The tragedy is of course that the meta variable `?0` gets destroyed by the interaction, and Agda does not take notice of this.

Would you rather expect `foo t x` in the dot pattern?

[2018-04-16 19:53] andreasabel commented on #3033
Very low hanging fruit, when you know where to look: in `ConcreteToAbstract`, going inside dot patterns needs to enter `DotPatternCtx`.

[2018-04-16 20:16] #3033 closed, assigned to andreasabel

[2018-04-16 20:29] andreasabel commented on #3032
Interestingly, Agda actually finds the termination problem in this variant:
[code]
(Added as `Fail/Issue3032-termination` to testsuite.)

[2018-04-16 21:00] sattlerc commented on #3032
Such situations arise quite naturally in inductive-recursive definitions. What is weird about a function itself appearing in its dot pattern? I thought dot patterns are arbitrary expressions forced by other patterns.

The above example came from reducing the (well-founded) example of defining normal forms and neutral terms mutually with their conversion functions to terms for a type theory with de

[2018-04-17 10:11] nad commented on #3031
The problem was introduced by you in e49d1ca276e5adbf2eb9f6cd33926b786cef78f7: "compare target types first when checking non-dependent applications".

[2018-04-17 10:58] UlfNorell commented on #3031
That's both unsurprising and unhelpful. That commit changes the order in which we check constraints, which in this particular case triggers the problem. I'll see if I can construct an example that's more robust against reordering of constraints...

[2018-04-17 11:28] guillaumebrunerie opened #3034 "Pattern matching without K seemingly illogical for the inductive family of squares"
Consider the code below. I define the type of squares filling a given boundary as an inductive family, then I try to pattern match on `ids`, where three sides of it are `idp` and the fourth one is free.
It turns out that `J2` and `J4` type check, but `J1` and `J3` do not.

Is it normal that `J2` and `J4` type check? It’s consistent with `--without-K`, but it is non trivial to prove, so it is poten

[2018-04-17 12:04] jespercockx commented on #3034
`J2` and `J4` are definitely working as intended: this is making full use of general [higher-dimensional unification](https://jesper.sikanda.be/files/higher-dimensional-unification.pdf) to solve the `idp ≟ idp` equations based on their (heterogeneous) types, which are unfortunately not shown in the error message.

The reason why the equations `idp ≟ idp` are not solved for `J1` and `J3` is because

[2018-04-17 12:28] guillaumebrunerie commented on #3034
Awesome, I had tried to put `a` as an index for the definition of `Square`, but I didn’t think of doing the same for the identity type. Is there any drawback in doing that?
Anyway, I’ll try it in my development to see if I have any issue.

[2018-04-17 14:43] guillaumebrunerie opened #3035 "Spurious version number v2.5.2.20170816 in the doc"
On https://agda.readthedocs.io when clicking on v2.5.3 at the bottom left in order to change the version of the doc, there is an option of looking at version v2.5.2.20170816 (in addition to v2.5.2, v2.5.3 and latest).
I guess this is not on purpose and that it should be removed.

[2018-04-17 19:16] andreasabel commented on #3035
Thanks for reporting!  I removed it.

[2018-04-17 19:16] #3035 closed, assigned to andreasabel

[2018-04-17 20:51] asr commented on #3035
And I updated the releases procedures for avoiding the same issue in the future. Thanks!

[2018-04-20 12:07] asr commented on #3023
GHC 8.4.2  was [announced](https://mail.haskell.org/pipermail/ghc-devs/2018-April/015643.html). Testing...

[2018-04-20 12:36] jespercockx commented on #2408
Before this change, `DLub` was just a function on sorts, i.e. a placeholder for when we do not yet know the sort (it could be either `Inf` or `Type i`). After this change, `DLub` has become a normal form in case the second sort depends irrelevantly on the first, so we have extended the sort system of Agda with these new 'exotic' sorts.

Is this really what we want? It seems it would be more conser

[2018-04-20 13:23] asr opened #3037 "Travis error: Server does not allow request for unadvertised object 2a40a03"
Travis is [failing]( https://www.travis-ci.org/agda/agda/builds/369129301) with the error in the issue title.

I could reproduce the error running the commands used by Travis:

[code]

Any idea how to fix the issue?

[2018-04-20 14:44] asr commented on #3037
The above commit fixed the issue but now we have some issues in the test-suite related to the changes in the standard library.

[2018-04-20 16:17] MatthewDaggitt commented on #3037
Hmm, yes I suspect the original problem,  is to do with the `push -f`s we're using to try and keep the non-compatible changes on the experimental branch floating alongside master (see [here](https://github.com/agda/agda-stdlib/commit/3dae60237d401dd918c3f12e8b7a61517fabccf1#commitcomment-28653067)).

As for non-backwards compatibility issues with the tests, after fast-forwarding the library versio

[2018-04-20 17:45] nad opened #3039 "Incomplete handling of size subtyping"
The following code is accepted by Agda 2.5.3, but not by Agda e5e1551:
[code]
Error message:
[code]
For some reason the code is rejected by both versions of Agda (with the same error message) if the overloaded constructor `P.c` is renamed to `p`.

This regression was introduced by @UlfNorell in e49d1ca276e5adbf2eb9f6cd33926b786cef78f7: "compare target types first when checking non-dependent applic

[2018-04-20 21:10] asr opened #3040 "Compiler test-suite error: Not in scope type constructor or class `MAlonzo.Code.Data.Sum.AgdaEither`"
After fixing #3037, we have the following error in the compiler test-suite:

[code]

Could someone fix this issue?

[2018-04-20 21:14] asr commented on #3037
I have the same suspect. I think there is something wrong in the current work-flow but I don't know how to fix it.

Thanks. I fixed a couple of issues. A remaining issue is #3040.

[2018-04-20 22:45] #3023 closed, assigned to asr

[2018-04-21 05:27] UlfNorell commented on #3040
This is a bug in the standard library. I filed the PR linked above.

[2018-04-22 02:12] andreasabel commented on #3039
This problem is due to the incomplete handling of subtyping during constraint solving.  Agda infers the type of `x` to be `P j` while subtype `P ∞` would be a solution which does not depend on `j`.

[2018-04-22 02:24] andreasabel opened #3041 "Refactor termination checker to not rely on instantiateFull"
Discussion see #2985:

[2018-04-22 02:25] andreasabel commented on #2985
Refactoring task moved to #3041.

[2018-04-22 02:25] #2985 closed, assigned to nad, andreasabel

[2018-04-23 19:53] #3040 closed, assigned to nobody

[2018-04-24 10:41] asr commented on #3037
We have the [same]( https://www.travis-ci.org/agda/agda/builds/370263649) problem. I'll run `make fast-forward-std-lib` again.

[2018-04-24 11:25] gallais commented on #3037
Is there a reason why the test is tied to a specific commit rather than, say,
whatever is on `experimental`?

[2018-04-24 11:31] UlfNorell commented on #3037
We have the standard library as a git submodule, which I believe means you have to tie it to a particular commit. It's also nice that if you check out some old commit you get a version of the standard library that works with that version of Agda.

Of course, that doesn't work if commits keep disappearing from the std-lib repo....

[2018-04-24 11:34] UlfNorell commented on #3037
What's the reason for rebasing `experimental` on `master` instead of merging?

[2018-04-24 12:42] gallais commented on #3037
As soon as a new version of Agda is released, we should be able to seamlessly
move `experimental` to `master` as `experimental = compat ++ master`.

[2018-04-24 13:07] UlfNorell commented on #3037
Merging the other direction on release seems like it would be pretty seemless too.

The other option is that we make a separate branch for the Agda test suite.

[2018-04-24 20:01] gallais opened #3043 "Parser fails to report parse error in COMPILE pragmas when typechecking"
Something I came across recently when trying to port old code to the new style
`COMPILE` pragmas: loading a file in emacs (or typechecking it on the command
line) won't raise any parse error even if the pragmas are malformed. You have to
actually attempt to compile the file to get an error. Test case:

[code]

Checking Pair (/home/gallais/languages/agda/Pair.agda).
Finished Pair.

vs.

Checking Pa

[2018-04-25 07:45] UlfNorell commented on #3031
Here's a version that fails as far back as I could test (`2.4.0`):

[code]

I guess this is the point where we start up the debate over the semantics of the `regression` label again...

[2018-04-25 09:23] UlfNorell commented on #2827
I might have found the problem:

https://github.com/agda/agda/blob/2417c7db6056d0e6fb24238cf1a6b70767e555fe/src/full/Agda/TypeChecking/Rules/LHS.hs#L654-L656

[2018-04-25 10:20] andreasabel commented on #3043
Well, it seems that the pragmas for plugin `GHC` are processed once plugin `GHC` runs.  This is not necessarily a disadvantage, because you can type-check Agda code with pragmas for plugin XYZ without having plugin XYZ installed.

[2018-04-25 13:51] gallais commented on #3043
I see. I suppose a principled solution would be to parse these pragmas for all of
the installed plugins and maybe emit a warning for the ones being ignored (and
because we now have modes these could be turned off by default).

[2018-04-25 15:03] #2827 closed, assigned to UlfNorell

[2018-04-25 19:28] martinescardo commented on #2503
Here is feedback (originally given to @nad and @gallais by email and posted here at @nad's request).

Firstly, an interaction with @gallais revealed that to use this you have to either

(1) put `{-# OPTIONS -Wuseless-imports #-}` in your file, or
(2) run in the command line `agda -W useless-imports yourfile.agda`.

Secondly, as @gallais said first, this is very slow, and this is why it is not enab

[2018-04-27 13:10] UlfNorell commented on #3031
Further simplified:
[code]
The problem seems to be that the eta-expansion that happens when we solve `constr₁` does not take into account that the second argument of `mkFin` is irrelevant. Manual eta-expansion results in

[code]
for the second component, but the automatic eta-expansion produces
[code]

[2018-04-27 15:17] UlfNorell commented on #3037
Pinging @gallais and @MatthewDaggitt, what are your opinions on this. The current situation is untenable for the Agda test suite, so we need to either
- create a separate branch of the standard library for the test suite (and merge `master` into this on a regular basis), or
- switch to merging `master` into `experimental` instead of rebasing

[2018-04-27 15:24] #3031 closed, assigned to nobody

[2018-04-27 15:25] UlfNorell commented on #3031
I fixed this by applying the relevance to more things when creating metas for a telescope, but it feels like we should try to get rid of the `new*MetaCtx` functions and only create metas in the current context. I haven't checked if there are any cases where we actually use a different context.

Review request: @andreasabel.

[2018-04-27 16:17] MatthewDaggitt commented on #3037
So I'm not an expert git user. I'll just quickly again lay out the aims as I see it:

1. All additions that are compatible with the current version of Agda should be carried out on the `master` branch and the `experimental` branches.
2. All additions that are not compatible with the current version of Agda should be carried out on the `experimental` branch.
3. When it comes to a new Agda release,

[2018-04-27 17:39] UlfNorell commented on #3037
This shouldn't happen. At least with the current release procedure we always release from the `stable` branch (or from `master` I guess if we ever get around to a major release). I suppose what might conceivably happen is that `stable` and `master` diverges to the point where you need one `experimental` branch for each, but we really try to avoid that situation.

The difference is that we wouldn't

[2018-04-27 19:50] asr commented on #3037
I neither see any reason where merging `master` into `experimental` instead of rebasing `experimental` on `master` could be wrong.

[2018-04-27 20:14] MatthewDaggitt commented on #3037
Okay, I'd still like to hear from @gallais before I commit to anything, but in principle I'm happy to try switching to Ulf's 2nd proposal for the moment, and we can see how things go when the next Agda release happens. I'm a little bit more reluctant to start a third branch that needs maintaining.

[2018-04-28 17:59] jamestmartin opened #3044 "Internal error in src/full/Agda/TypeChecking/Substitute/Class.hs:209"
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Substitute/Class.hs:209

Agda version 2.5.3 via Cabal, emacs compiled agda-mode from the same source.

Minimum code required to reproduce:
[code]

[2018-04-28 18:10] UlfNorell commented on #3044
This is fixed on current `stable-2.5`.

[2018-04-28 18:10] #3044 closed, assigned to nobody

[2018-04-28 22:53] asr commented on #3044
@UlfNorell, which was the original issue?

[2018-04-29 07:58] UlfNorell commented on #3044
I don't know. I guess you could do a bisect to find out.

[2018-04-29 17:39] asr commented on #2976
Right. I just hit this issue when writing a test case for #3044 and removing the comment fixed the problem.

[2018-04-29 17:51] asr commented on #3044
I asked because you labelled the issue as `status: duplicate`. Anyway, I added a test case  and removed that label.

[2018-04-30 08:09] #2404 closed, assigned to UlfNorell

[2018-04-30 08:33] UlfNorell commented on #2207
I think the current behaviour is the right one: anonymous modules and where-modules don't have separate abstract spaces. If you want separate spaces use named modules.

[2018-04-30 08:38] gallais commented on #3037
I really can't see a way of getting a clean history once we make `experimental` the
new `master` (because a new version of Agda has been released) except for making
sure we keep things clean at all times by percolating the Agda-dev specific commits
to the top.

But I see the problem with the Agda builds referencing commits which do not exist
anymore. Maybe we do have to accept the fact the history

[2018-04-30 09:00] UlfNorell commented on #3037
Is it going to be awful though? As far as I can tell it will look like this (M = master, E = experimental):
[code]

[2018-04-30 10:18] UlfNorell commented on #2384
We don't *need* to do anything, failure of anti-unification results in the worst case in unsolved metas. Is it possible to construct a test case where eta-expansion in `antiUnify` would make a difference? Maybe.

No. It's really hard constructing *any* test cases where anti-unification makes a difference. You need quite subtle interactions between constraints and engineering examples exhibiting th

[2018-04-30 10:18] #2384 closed, assigned to UlfNorell

[2018-04-30 11:40] #2881 closed, assigned to UlfNorell

[2018-04-30 12:13] UlfNorell commented on #2776
The problem exists also in 2.5.1.1:

[code]

[2018-04-30 13:50] #2776 closed, assigned to UlfNorell

[2018-04-30 15:59] andreasabel commented on #2881
Thanks, Ulf!

[2018-04-30 20:53] fredrikNordvallForsberg opened #3045 "GHC backend generates type without enough arguments"
Together with @cj-xu, I discovered that the GHC backend chokes on the following Agda code, which typechecks perfectly fine:

[code]
The problem is that `notTooManyArgs`'s type becomes `MyUnit -> AgdaAny`, but it still takes two arguments:
[code]

I think I've produced a fix, so this is issue is mostly to document the problem, and to get a file name for the test case.

[2018-04-30 22:37] #3045 closed, assigned to nobody

[2018-05-01 07:33] identicalsnowflake opened #3046 "do-notation causes parse errors in subsequent where clauses"
[code]

If you comment out the `where` block or simply remove the word `do`, the above is accepted, but together they cause a parse error.

[2018-05-01 07:48] UlfNorell commented on #3046
We have the same problem for `let`:

[code]

The problem is that the parser doesn't accept trailing semis in layout blocks.

[2018-05-01 08:26] jespercockx commented on #3046
Maybe it's just me but this seems like it's working as intended, no? It seems like a reasonable requirement that you should *end* the block of `do`/`let` statements by decreasing the indentation; otherwise one might think the `where`/`in` is just another statement in the block. I'm afraid that allowing this would lead to less readable code...

[2018-05-01 08:31] #3046 closed, assigned to UlfNorell

[2018-05-01 08:38] UlfNorell commented on #3046
In the `let` example you'd be hard-pressed to argue that adding *or* removing a space is fine, but having the `in` on the same column is not.

In the `do` case I can think of a few arguments for allowing it:
- it's valid Haskell
- the error message (parse error) is terrible
- it makes it possible to add a `where` without reindenting the entire do-block

[2018-05-01 08:58] jespercockx commented on #3046
In the `let` example I would argue that the `in` should be at the same level as the `let` it corresponds to, so just adding or removing one space *wouldn't* be fine. Are you saying you want to allow code like
[code]
or
[code]
?

For the `do` example I didn't know this was valid Haskell, I *do* re-indent a do-block when I add a `where` (or more often indent do-blocks with 4 spaces to leave space fo

[2018-05-01 09:06] UlfNorell commented on #3046
I'm saying we *do* allow that code. We also allow
[code]
There would be no way to enforce the `in` on the same column as the `let` since the `let` is not in a layout block.

[2018-05-01 09:16] UlfNorell commented on #3046
Not *that* much harder, and not enough to warrant a deviation from Haskell, in my opinion.

Yes, what do you think, Mr NondecreasingIndentation (@andreasabel)? :P

[2018-05-01 12:57] WolframKahl commented on #3046
I follow the same practice for readability reasons, but don't see the need to enforce this everywhere.

Being close to the Haskell rules is certainly an advantage.

[2018-05-02 09:13] nad commented on #3046
I've found it annoying that you can't (couldn't?) write the following (which is valid Haskell code):
[code]
Syntax highlighting makes it easy to spot the `where` keyword.

I do think we should have a proper discussion about making Agda Pfenning-safe (#2465).

[2018-05-02 09:21] UlfNorell commented on #3046
That is precisely this issue. You can now write this.

[2018-05-02 09:42] nad commented on #2207
OK, but in that case the documentation should be updated.

[2018-05-02 09:57] #2207 closed, assigned to nobody

[2018-05-02 11:15] andreasabel commented on #3046
Mr. NondecreasingIndentation mostly cares for code like
[code]
Haskell also allows this:
[code]
I am +1 on this proposal.

[2018-05-02 11:20] UlfNorell commented on #3046
Yes, this is precisely the issue at hand.

[2018-05-09 08:26] UlfNorell opened #3049 "Positivity unsoundness"
You can trick the positivity checker by hiding function types under pattern matching. The problem seems to be that the positivity analysis relies on eta-expanding function clauses, but in the presence of pattern matching *types* this is not always possible:

Test case adapted from #121:

[code]

[2018-05-09 08:34] jespercockx commented on #3049
The conservative solution would be to be pessimistic instead of optimistic by default, so if we don't know the polarity of `bad` we should assume it is bad.

The principled solution would be to track positivity information at the type level, so we don't have to look inside pattern matching functions in the first place! But I'm afraid that this would make things unworkable in the absence of subtypi

[2018-05-09 08:38] UlfNorell commented on #3049
Yes, it's a bit strange that we aren't already.

[2018-05-09 13:08] andreasabel commented on #2756
Concerning point 1: Here is the original changelog: https://github.com/agda/agda/issues/2604#issuecomment-309008789
Concerning point 2: fair enough
Concerning point 3: Anchors cannot be nested, see https://stackoverflow.com/questions/18666915/why-are-nested-anchor-tags-illegal

[2018-05-09 13:41] jespercockx commented on #2747
Either we should fix the `default.nix` before the next release or we should remove it and drop support.

[2018-05-09 13:54] jespercockx commented on #2636
@andreasabel says this has been fixed.
TODO: add a test case

[2018-05-09 13:57] #2623 closed, assigned to nobody

[2018-05-09 13:58] andreasabel commented on #2636
Added test case.  Closing.

[2018-05-09 13:59] andreasabel commented on #2756
Added test case and changelog.

[2018-05-09 13:59] #2756 closed, assigned to andreasabel

[2018-05-09 14:34] asr commented on #2886
What was fixed was the typo 'suit -> suite' but not the issue.

[2018-05-09 15:02] #2536 closed, assigned to nad, vlopezj

[2018-05-09 17:02] UlfNorell opened #3050 "We revert back to call-by-name during positivity checking"
Distilled from an issue reported by @wadler on the mailing list: https://lists.chalmers.se/pipermail/agda/2018/010263.html

Since `UnconfirmedReductions` are not allowed during positivity checking we revert back to slowReduce:

[code]

Fix (making fastReduce handle absence of unconfirmed reductions) incoming.

[2018-05-09 17:24] #3050 closed, assigned to UlfNorell

[2018-05-09 20:21] wadler commented on #3050
Ulf,  That was fast! Does this mean that Wen should try again and the
problem may be fixed this time?  Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On 9 May 2018 at 14:24, Ulf Norell <notifications@github.com> wrote:

The Universit

[2018-05-10 06:45] andreasabel commented on #3049
Here is a version that can be tried with Agda going back to at least 2.3.2:
[code]
It is first accepted by Agda 2.5.3.

[2018-05-10 07:49] UlfNorell commented on #3050
It should already have been fixed. This issue only affected this variant of the proof:

[code]
All the other variants, including `C-c C-n` on `normalise 15 ⊢four` runs quickly already before this commit.

[2018-05-10 07:50] UlfNorell commented on #3049
Interesting. Now I'm curious to see the result of a bisect...

[2018-05-10 07:57] andreasabel commented on #3049
Hang tight! It is running...

[2018-05-10 08:08] andreasabel commented on #3049
agda-bisect blames commit 3c2c1972ad7b985f0cdbde538c5d530d204314aa

Date:   Thu Jan 5 22:46:10 2017 -0500
[ refactoring ] Eta-expansion of clauses.
After commit ab655419f2d9e0e35b153b0ab0e6cc4fb4cf12e5 there were two functions which eta-expanded one clause. I removed the incomplete one (according to the source code documentation).

Looks like a case of a refactoring gone wrong...

[2018-05-10 08:29] UlfNorell commented on #3049
Ooh, I think I see what went wrong! Before that commit, all clauses were eta expanded to the same arity, but after each clause is eta expanded individually. That means that the `F false true = λ A → A` clause contributes a positive occurrence of the third argument which I suspect gets counted as the only occurrence, since none of the other clauses have a third argument.

[2018-05-10 09:48] andreasabel opened #3051 "Pattern synonyms should be allowed in mutual blocks"
Here is a use case for pattern synonyms in mutual blocks. (Not a MWE yet.)
[code]

[2018-05-10 10:02] jespercockx commented on #2516
We should decide what to do here before the next release. I stand by my point that the current implementation is doing the right thing and that there is a reasonable workaround (using irrelevance), so we should simply close this issue.

[2018-05-10 10:24] jespercockx commented on #2455
Does the original bug still exist now that we removed `UnusedArg`? If not, I suggest we close this issue and open a separate task for investigating the errors when enabling `checkInternal`.

[2018-05-10 10:26] jespercockx commented on #2453
@nad do you think it is important to fix this before the next release?

[2018-05-10 10:33] jespercockx commented on #2183
A cheap fix to this issue would be to make the unifier prefer instantiating module parameters to instantiating user-written variables.

[2018-05-10 11:00] UlfNorell commented on #2183
Can you have a go at it?

[2018-05-10 11:20] wadler commented on #3050
Thanks for the response. Waiting for Wen to supply version information.
Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On 10 May 2018 at 04:49, Ulf Norell <notifications@github.com> wrote:

The University of Edinburgh is a charitable

[2018-05-10 11:27] #2959 closed, assigned to Saizan

[2018-05-10 11:45] UlfNorell commented on #2450
This line seems to be the problem:

https://github.com/agda/agda/blob/106acc1cb1780481d5f5bcf4e3907c2d071c4ad4/src/full/Agda/TypeChecking/MetaVars/Occurs.hs#L322

Including all variables when pruning solves the issue, and doesn't cause any failures in the test suite. Fix incoming.

[2018-05-10 12:00] #2450 closed, assigned to UlfNorell

[2018-05-10 12:23] UlfNorell commented on #2954
I feel like this issue is a lot worse than #2243, so absent a proper fix we should roll back the fix to #2243 before release.

[2018-05-10 12:38] UlfNorell commented on #2453
I don't see any serious problem remaining. Dropping the milestone.

[2018-05-10 12:51] UlfNorell commented on #3049
Reverting 3c2c197 is not enough though. That makes the modified test case go through, where all clauses have the same arity, but the original test case with varying arities still fails (and has failed since at least `2.4.0`).

[2018-05-10 13:44] Saizan commented on #2728
@nad I am having problems reproducing the original problem and the --safe flag problem

[2018-05-10 14:43] asr commented on #1195
I'm not planning to implement this feature.

[2018-05-10 14:46] asr commented on #2747
We officially don't  support NixOS, but if someone send a PR we merge it.

[2018-05-10 21:42] identicalsnowflake opened #3052 "Another recent inference change"
There is a fairly recent (since 385e86c, 3 days ago) change to inference. The code below was accepted then, but is currently rejected:

[code]

As previously, I'm not sure which behavior is correct - I just want to make sure the new behavior is intentional.

[2018-05-11 09:38] andreasabel opened #3053 "Name clash in error message"
[code]
Agda-2.5.1.1 has no such name clash, it reports:
[code]
Possibly related: #2522 ?!

[2018-05-11 12:21] #2968 closed, assigned to nobody

[2018-05-11 12:46] Saizan opened #3054 "Reduction missing during LHS checking"
Regression introduced by fix of #2964 (making LHS matching stricter), similar to #2968.

[code]

[2018-05-11 13:11] andreasabel opened #3055 "Polarity analysis limitation?"
In this code, use of the definition `Π` makes a lemma below fail.
[code]
I can trace this problem all the way back to Agda-2.4.2.4. (Agda 2.4.2.3 fails with a different error.)

[2018-05-11 13:33] jespercockx commented on #3054
A way to fix this with the current architecture would be to make matching type-aware and only block on a neutral match in case the type is actually a datatype.

However, I'm planning to change the implementation of LHS checking in a way that will make the current matching algorithm unnecessary, so I'd rather wait until that is finished.

[2018-05-11 14:26] andreasabel commented on #3052
Just looking at the recent commits, it seems likely that 0322242be8bee1a48c27602ed633bc08f8a27715 is responsible for this change, a fix for #2450.

[2018-05-11 14:40] andreasabel commented on #3052
Here is a shrunk test case.  The solution for the meta-variable can be given by hand, but if Agda is to infer it, it complains `Cannot instantiate the metavariable ?0 to solution (suc (k₁ + a)) since it contains the variable k₁ which ... irrelevant in the metavariable but relevant in the solution`.
[code]

Here is a much shrunk test case:
[code]
with error
[code]

[2018-05-11 14:51] andreasabel commented on #3052
Agda should actually not allow to match on `.p : Σ A B`.  Currently, this is allowed and yields context `.x : A, .y : B x` but the type `B x` is ill-formed since `x` is irrelevant.  `B` would need to be shape-irrelevant to allow such a match.

[2018-05-11 15:45] nad commented on #2747
I removed the file.

[2018-05-11 16:21] nad commented on #2453
One remaining issue is that the LaTeX backend treats `\%` as a comment starter. However, as far as I understand one can dynamically change the comment characters in LaTeX, so I think we can keep the current implementation. This would mean that, as far as Agda is concerned, `%` is always a comment character (and no other character is). Perhaps this should be documented somewhere.

Another remaining

[2018-05-11 17:04] andreasabel commented on #3052
While https://github.com/agda/agda/commit/0322242be8bee1a48c27602ed633bc08f8a27715 exposed this problem, the fix was to define a proper monoid instance for `VarMap` in the free variable computation, such that irrelevant occurrences would not overwrite relevant occurrences only because they came before.  Now relevant occurrences are considered more precious and replace irrelevant occurrences.

[2018-05-11 17:04] nad commented on #2728
A test case for the first example was already present in the repository. @andreasabel modified the output file (`test/interaction/Issue2728.out`) in a commit which changes how certain record modules are handled (2dc68ac7743452958cb7bb9571c0548180b783de).

[2018-05-11 17:06] nad commented on #3053
Bisection suggests that the answer is yes, so I'm closing this ticket.

[2018-05-11 17:06] #3053 closed, assigned to nobody

[2018-05-11 17:06] nad commented on #2522
See #3053 for another test case.

[2018-05-11 17:13] nad commented on #2728
The script for the issue with the `--safe` flag seems to still work.

[2018-05-11 17:31] identicalsnowflake commented on #3052
Can you explain what you mean? So it's not just an inference thing -- even if I wrote all the solutions in manually, what I'm doing is still fundamentally questionable/wrong?

What might a better approach look like?

[2018-05-11 19:23] #3052 closed, assigned to andreasabel

[2018-05-11 19:27] andreasabel commented on #3052
The type `B x` is well-formed if `B` is shape-irrelevant in `x`.  This is actually the case for your application, the identity type.  However, Agda does not do the necessary checks. A proper implementation would only accept the matching if the Sigma type was defined with a shape-irrelevant `B`:
[code]
However, shape-irrelevance is a bit too preliminary to recommend its use.

[2018-05-11 20:07] #3051 closed, assigned to andreasabel

[2018-05-11 20:19] identicalsnowflake commented on #3052
I'm not quite sure what you mean by shape irrelevance. Would the following be an example of not-shape-irrelevant, because there is a pattern match on the first half to decide the type of the second half?

[code]

So then it's intuitively kinda the same idea as parametric polymorphism?

[2018-05-11 20:21] andreasabel commented on #3049
This can be easily fixed by being pessimistic about polarity of arguments beyond the formal function arity, which is the length of the initial telescope of the function type.

[2018-05-11 20:52] Blaisorblade commented on #1993
Guessing this can be closed, not sure there's anything else actionable here. Thanks for the help!

[2018-05-11 20:52] #1993 closed, assigned to jespercockx

[2018-05-11 21:06] #3049 closed, assigned to UlfNorell, andreasabel

[2018-05-11 21:08] jespercockx commented on #3052
That's indeed a good example of something that's not shape-irrelevant. If you match on an argument of type `Bad` with pattern `b (x , y)`, then currently we have `x : Bool` irrelevantly and `y : type x` (also irrelevantly), but the application `type x` in the type of `y` is ill-formed since `x` is irrelevant. So I think it would be better to prohibit matching on irrelevant variables of a dependent

[2018-05-11 21:11] jespercockx opened #3056 "Matching on irrelevant variable of dependent record type should not be allowed"
(from #3052):

[2018-05-11 21:22] jespercockx commented on #2183
The problem seems to be not in the unifier at all but rather in `MakeCase.hs` where we use a wrong method to determine whether a variable is bound as a module parameter or a pattern variable. I'm almost finished with a fix...

[2018-05-11 21:26] identicalsnowflake commented on #3052
Makes sense. Thanks!

[2018-05-11 22:34] nad commented on #2728
The [problem](https://github.com/agda/agda/issues/2728#issuecomment-329112512) with implicit or instance arguments seems to still exist for both Agda 2.5.4-ffaba5 and Agda 2.6.0-c946fa.

[2018-05-12 12:14] nad opened #3057 "A module can export two definitions with the same name"
I think we should disallow the following code:
[code]
Note that the top-level module contains two definitions named `B`.

The fact that Agda currently accepts code like this led to a bug in the standard library (https://github.com/agda/agda-stdlib/commit/e78e6ae028d3cc8a6416c4d30c1fa133d897cb5b).

[2018-05-12 15:13] gallais opened #3058 "C-c C-c produces invalid pattern"
Looks like a de Bruijn error. Using the following module:

[code]

`C-c C-c  v₁ v₂ RET` produces

[code]

when it should produce

[code]

[2018-05-12 15:34] nad commented on #3058
I get the latter output with a recent version (fd1e87bf45cf819ac821a27ab4e0a022d806c1aa).

[2018-05-12 15:34] jespercockx commented on #2794
Seems like a good solution to me in order to avoid re-implementing the lexer (and possibly more) in elisp. I'd be a bit wary of running the lexer after every keypress, since any delay in typing is *really* annoying. By default, I would only run the lexer when saving the file, with an optional setting of running it automatically after not typing anything for x (milli)seconds.

[2018-05-12 15:37] nad commented on #2988
Since this only affects the development version I guess a simple way to fix it would be to touch `src/full/Agda/VersionCommit.hs` in the makefile.

[2018-05-12 16:27] #2183 closed, assigned to UlfNorell, jespercockx

[2018-05-12 16:46] gallais commented on #3058
My bad! I pulled from `master` and recompiled to test with the current dev version before
filing the issue but the name of the executable built is `agda` and not `agda-2.6.0` which
is what I was using for my tests.

Is there a way to always get `make` to build the executable with the version / branch name
suffixed? It'd be convenient when you have a bunch of different versions at the same time.

[2018-05-12 16:46] #3058 closed, assigned to nobody

[2018-05-12 16:51] nad commented on #2988
The [gitrev](https://github.com/acfoltzer/gitrev) documentation suggests that the file should be recompiled automatically every time. Perhaps we could file a bug report. However, as I wrote above I don't know how to reproduce this problem.

[2018-05-12 16:59] nad commented on #3058
suffixed?

Untested:
[code]

[2018-05-13 07:42] nad commented on #3039
Here is another example of code that seems to have been broken by e49d1ca276e5adbf2eb9f6cd33926b786cef78f7:
[code]

[2018-05-13 08:38] nad commented on #2998
This bug affects several of my developments.

[2018-05-13 08:54] nad commented on #2930
#3039 can be added to the list.

[2018-05-13 09:24] jespercockx commented on #2998
I think I have a clearer idea now of what should happen here. In particular, with-abstraction should never abstract over the type of a variable if:

- the variable has been instantiated by the unifier
- the variable has been eta-expanded by the unifier
- the variable is used in the return type
- the variable is used in the type of another variable
- the variable is used in the instantiation of ano

[2018-05-13 11:53] andreasabel opened #3059 "Rewrite rule rejected that depends on module parameter which is an extended record"
It seems to matter a lot how we extend a record when it comes to whether Agda accepts a rewrite rule that depends on this record.
This is shrunk from a larger development:
[code]

[2018-05-13 12:03] nad opened #3060 "Performance regression"
Another performance regression. Bisection points to e49d1ca276e5adbf2eb9f6cd33926b786cef78f7:

I can attest to the huge difference. Unfortunately it is not for the better in this case.

To reproduce the problem:
[code]
Don't expect the final command to terminate quickly.

A variant of the code linked above (used for bisection) is accepted in less than two minutes by Agda 2.5.3 on my machine (with

[2018-05-13 12:09] nad commented on #2998
Isn't the result of `with` expansion type-checked? In that case `with` on its own cannot break subject reduction, such breakage would rely on other problems.

[2018-05-13 12:18] andreasabel commented on #3059
In case `Works`, debug printing with `-v rewriting:40` gives me:
[code]
In case `Fails`, I get:
[code]
In contrast to `Works`, here, the term `S.f s` has been reduced to `F.f (S.r s)` and the projection `S.r s` does not count as NLPattern (pattern for rewriting).
I wonder what can be done about this; could projections be recognized as `PDef`s?

In the light of this issue, it seems that changing th

[2018-05-13 12:31] andreasabel commented on #3059
In fact, it is not easy to work around this issue, since if `S` contains fields after the definition of `f` (that might depend on `f`), then one has to use an intermediate module, since pattern matching definitions are not accepted in records.
[code]

[2018-05-13 16:18] jespercockx commented on #2998
The problem is that if we're not careful, a variable of the with clause could be instantiated (by parameter refinement) to a solution that only made sense in the context of the parent clause. My current plan is to add an extra double-check (using `checkInternal`) for all instantiations of variables that are passed from parent clause to child clause, which should at least make everything type-safe.

[2018-05-14 09:20] #2998 closed, assigned to jespercockx

[2018-05-14 09:45] fredefox opened #3061 "Problem with spacemacs + helm + agda2-mode"
I'm having a problem with `agda2-mode` and spacemacs. I've created a bug report with [spacemacs](https://github.com/syl20bnr/spacemacs/issues/10674). Please let me know if this is an issue you're familiar with.

[2018-05-14 11:06] andreasabel commented on #2516
At the moment, there is no clear direction what can be done about this performance problem.  In any case, we cannot revert the fixes that lead to the performance degradation, since they are required to make Agda consistent.

[2018-05-14 11:06] #2516 closed, assigned to nobody

[2018-05-14 11:14] andreasabel commented on #2170
@Saizan: maybe we can apply the techniques of agda-parametric to this problem!?

[2018-05-14 14:25] andreasabel commented on #3020
There seems to be also a problem with the HTML backend.  Definitions in records are not highlighted.

[2018-05-14 14:41] jespercockx opened #3062 "Literal match does not respect first-match semantics"
When the first clause is blocked on a literal pattern and a later clause is blocked on a constructor, Agda splits first on the constructor. This causes the first clause to not hold as a definitional equality. For example:
[code]
Error message:
[code]
The problem is that the current coverage checker postpones all splits on literals until there are no other splits left.

[2018-05-14 14:46] jespercockx commented on #3062
As usual, this can be exploited to violate subject reduction:
[code]

[2018-05-15 07:26] nad commented on #2998
Does the user manual need to be updated?

[2018-05-15 07:52] nad commented on #2998
And now they are accepted. Thanks.

[2018-05-15 09:09] Saizan commented on #2728
I believe that now all the problems are fixed on master.

The warnings are also fixed on stable-2.5, but the problem with named implicit/instance arguments is not (Note that Issue2728-2.out differs between master and stable-2.5

[2018-05-15 09:30] nad commented on #2728
Please add test cases for every problem that has been fixed, to reduce the risk of regressions.

[2018-05-15 09:31] jespercockx commented on #2998
Yes, I'll add a paragraph.

[2018-05-15 09:31] nad opened #3063 "Internal error in Agda.TypeChecking.Forcing"
The following code, which is accepted by Agda 2.5.3, triggers an internal error:
[code]
Error message:
[code]

[2018-05-15 09:49] Saizan commented on #2728
We were only missing one for the --safe example, and that was in my last commit.

[2018-05-15 10:20] andreasabel commented on #2522
Here is an example involving case-splitting:
[code]

[2018-05-15 11:25] nad commented on #3063
Bisection points to d9359139ab717397279af5719541ebb59c836702: "[ #2888 ] prefer EtaExpandVar over EtaExpandEquation in unification".

[2018-05-15 11:29] nad commented on #2522
Here is a related problem:
[code]
If I "split on the result", then I get the following code:
[code]
This code is rejected with the following error message:
[code]

[2018-05-15 11:52] andreasabel opened #3064 "Coverage checker bogus on literals combined with copatterns"
Somewhat related to #708.
[code]
Agda reports both incomplete matching and unreachability on a single clause!
[code]
This testcase triggers the following exit from the splitting process in the coverage checker:
https://github.com/agda/agda/blob/f9e3d4465f7dc4c18c62d1d0fd579c5b180d7afe/src/full/Agda/TypeChecking/Coverage.hs#L277-L279

[2018-05-15 12:09] nad commented on #2728
Oh, I had already added all the other ones. :) Thanks.

Why isn't the issue fixed on the stable branch?

[2018-05-15 12:10] nad commented on #2728
If we can fix this issue completely for the stable branch as well, then I suggest that we turn on caching by default before the next release.

[2018-05-15 15:33] Saizan commented on #2728
We would have to cherry-pick commits b7d2d3a6 a01a1cc89 from master into stable, and I'm a bit afraid of the merge conflicts.

[2018-05-15 18:12] nad commented on #2728
Can someone help @Saizan with the merging?

[2018-05-16 07:43] nad commented on #2794
I've pushed an implementation. Highlighting is updated automatically (given certain conditions) 0.2 s after the last change to the file, and when the file is saved.

If you think this works sufficiently well, then we can close this ticket.

[2018-05-16 07:57] nad commented on #2976
This should be fixed before the next release.

[2018-05-16 08:45] nad commented on #2927
I see "jespercockx modified the milestones: 2.5.4, 2.5.5 7 days ago" above, but the milestone is 2.5.4.

[2018-05-16 09:05] jespercockx commented on #2927
I guess I first changed the milestone to 2.5.5 and then changed it back to 2.5.4.

[2018-05-16 12:31] nad commented on #3020
If you take the code from the OP and type-check it in the Emacs mode, with non-interactive highlighting, then it is highlighted properly. However, if you then reload the file, then you get incorrect highlighting.

[2018-05-16 15:24] #3020 closed, assigned to nad

[2018-05-17 05:34] andreasabel commented on #3020
Thanks for fixing!

[2018-05-17 09:26] nad commented on #2794
I'm closing this now. Feel free to give further feedback.

[2018-05-17 09:26] #2794 closed, assigned to nad

[2018-05-17 09:28] nad commented on #2728
Can we close this ticket now?

[2018-05-17 09:31] #2728 closed, assigned to Saizan

[2018-05-17 10:01] #2722 closed, assigned to nobody

[2018-05-17 10:54] #3063 closed, assigned to UlfNorell

[2018-05-17 10:59] UlfNorell commented on #3063
Our fix of #2888 was too naive. I pushed a better fix, @jespercockx can you have a quick glance to make sure it doesn't do something silly (test suite passes though)?

[2018-05-17 11:43] jespercockx commented on #3063
Since you only changed the unification strategy there's not much that can go wrong from the point of unification; any strategy that leads to a solution is fine. However, it seems that the problem could be fixed in a simpler way by simply adding the 'EtaExpandVar' suggestion before any occurrence of 'EtaExpandEquation', that way we don't have to guess when 'EtaExpandEquation' will trigger.

[2018-05-17 11:59] jespercockx opened #3065 "Internal error in coverage checker triggered by literal dot pattern"
[code]
Triggers internal error at `src/full/Agda/TypeChecking/Coverage/Match.hs:163`.

The interesting question is whether the second clause should be considered unreachable. Theoretically it is, but there is no practical way for Agda to detect this.

[2018-05-17 13:18] #3002 closed, assigned to UlfNorell

[2018-05-17 13:35] #2526 closed, assigned to UlfNorell

[2018-05-17 15:01] UlfNorell commented on #2883
Related: #2550

[2018-05-17 17:06] #708 closed, assigned to jespercockx

[2018-05-17 17:07] #2954 closed, assigned to jespercockx

[2018-05-17 17:08] #3062 closed, assigned to jespercockx

[2018-05-17 17:08] #3064 closed, assigned to jespercockx

[2018-05-17 17:11] jespercockx commented on #3065
Now the internal error is gone. However, the second clause is marked as unreachable but removing it makes the definition incomplete. This is a bit funny but not release-blocking as there is an easy workaround (removing the first clause instead).

[2018-05-17 17:11] #3065 closed, assigned to jespercockx

[2018-05-17 18:10] nad commented on #3060
Agda has trouble with one specific definition in the code mentioned above, `abelian-group`. If I replace the right-hand side of `abelian-group`, `… ▻ Left-inverse ▻ Right-inverse`, with `_ ▻ Right-inverse`, then Agda can quickly infer the value of the underscore. However, I don't want to use an underscore there, because it makes the code harder to understand (and this is a definition, not a proof)

[2018-05-18 08:09] Saizan commented on #2170
@andreasabel modal projections like that do not really fit into the purely left-inverse framework of agda-parametric

Here it seems we need to keep track of the relevance of the position (i.e. envRelevance when typechecking) in the unifier.

[2018-05-18 08:10] UlfNorell commented on #2883
Here's a simplified example:

[code]

It looks like we're expecting the pattern lambda to have `i` as a parameter, but it doesn't; `i` has been refined by the match against `d`.

[2018-05-18 09:37] jespercockx commented on #2927
It seems the interface of `checkSizeNeverZero` is suboptimal: its type is `TCM Bool` but it can also throw an unguarded `PatternViolation` when it encounters a meta. I will push a fix now that simply catches the error on the outside, but I think it would be good to revisit the way we check for possibly empty size types.

[2018-05-18 09:59] #2927 closed, assigned to andreasabel, jespercockx

[2018-05-18 12:16] jespercockx commented on #2883
Great, only two more issues to go before we can release!

[2018-05-18 16:30] #2897 closed, assigned to UlfNorell

[2018-05-18 17:21] UlfNorell commented on #2883
I might have broke something...

[code]

Haven't checked yet, but I bet this broke with my fix.

[2018-05-18 17:42] #2883 closed, assigned to UlfNorell

[2018-05-18 20:55] UlfNorell commented on #3060
The problem is that your code relies on some well-placed syntactic equality checks to go through in reasonable time. Here's an example that's slow both before and after my commit (~25s):

[code]

If you inline `atype` in `prf` it checks instantly.

Syntactic equality checks are known to be brittle, so relying on them is not recommended. However, in your case you can fix `abelian-group` by getting

[2018-05-18 20:55] #3060 closed, assigned to UlfNorell

[2018-05-18 20:58] UlfNorell commented on #2875
No open issues with `2.5.4` milestone! Quick, release before we get any new ones!!

[2018-05-18 23:24] asr commented on #2875
Great! I'll make the release candidate.

[2018-05-19 07:16] gallais opened #3066 "Missing installation instructions for stack"
I was asked whether one can use `stack` to install Agda and couldn't answer much more
than "there's a bunch of `stack-*.yaml` files on the repo and the builds are tested on travis").

It'd be nice to have a section in the manual, probably a subsection of "Installation of the
Development Version": https://agda.readthedocs.io/en/latest/getting-started/installation.html

[2018-05-19 14:03] asr commented on #2875
As preparation for the release, I have "frozen" the `stable-2.5` branch by creating the `release-2.5.4` branch. You can continue pushing on `stable-2.5`/`master` as usual.

[2018-05-19 16:34] favonia commented on #2979
@jespercockx I suppose this will not be fixed in 2.5.4?

[2018-05-19 17:57] asr commented on #2875
I uploaded to Hackage the package candidate [2.5.4 RC 1](https://hackage.haskell.org/package/Agda-2.5.3.20180519/candidate) and I tested its installation on Ubuntu.

Could someone test the installation on macOS and Windows using the following instruction:

[code]

[2018-05-19 20:12] UlfNorell commented on #2875
- [x] MacOS X 10.13.4, ghc-8.4.2
- [x] Windows 10, ghc-8.4.2

[2018-05-19 21:19] jespercockx commented on #2979
I'm sorry, I got too distracted by bugs in other parts of Agda :(. I can try to take a look before the final release, but I cannot promise anything since I'm also visiting the Coq people in Nantes the coming week.

[2018-05-20 20:49] sattlerc opened #3067 "checking hangs on invalid program"
On master. I forgot if design allows for this (close issue then).

[code]

[2018-05-21 04:25] andreasabel commented on #3067
Ok (unsolved metas) until 2.5.3.
@UlfNorell : Could this be due to the recent improvements to injectivity / constraint solving.

[2018-05-21 04:57] UlfNorell commented on #3067
Looks like injectivity. I'll see if I can figure out why my termination guards aren't working.

[2018-05-21 05:03] UlfNorell commented on #3067
Simplified example:

[code]

[2018-05-21 05:38] #3067 closed, assigned to UlfNorell

[2018-05-21 05:42] UlfNorell commented on #2875
@asr: I fixed #3067 with efc802e. I pushed it to `stable-2.5` and merged into `master` as usual, but the fix should be included in the release.

[2018-05-21 13:09] asr commented on #2875
Done. I included that commit in the `release-2.5.4` branch.

[2018-05-21 13:21] asr commented on #3037
Any news/decision on this?

It seems the `experimental` branch (of the standard library) is *behind* by some commits from the `master` branch so we are not testing the `stable-2.5`/`master` branches of Agda on the last bits of the standard library. We should make this test before the release.

[2018-05-21 14:04] andreasabel commented on #431
Hooray for fixing this ancient issue!

[2018-05-21 15:05] andreasabel commented on #3057
If you try to use `B`, you get an ambiguous name error.

[2018-05-21 17:04] nad commented on #3060
I wonder if it would make sense to warn users when they rely on syntactic equality.

[2018-05-21 17:20] nad commented on #3057
The problem with the code above is that this error is raised too late: The person implementing this module might not notice that two instances of `B` are exported, and this could lead to problems for users of the module.

[2018-05-21 18:14] JacquesCarette commented on #3060
At least as an option?  I'm pretty sure a number of places in the Categories library are brittle because of just this.

[2018-05-21 18:39] UlfNorell commented on #3060
I guess what would make sense would be to have an option to turn off the syntactic equality check. Warning whenever it fires would be kind of pointless since there are quite a few `Set == Set` comparisons that would set it off.

[2018-05-21 20:38] jespercockx commented on #3060
It would be kind of interesting to have such an option just to see how much of a difference it actually makes (and if there are any examples for which it actually slows things down).

[2018-05-21 21:15] andreasabel commented on #2976
Actually, for me only 2.6.0 was broken, now 2.5.4 is broken too.

[2018-05-21 21:24] andreasabel commented on #2875
It seems like #2976 now also affects 2.5.4 (used to only affect 2.6.0).  We can't release like that.
Note that this bug prevents any use of Agda in emacs 24. `C-c C-l` is answered by
[code]

[2018-05-21 21:28] nad commented on #2976
I fixed the problem reported in [a comment above](https://github.com/agda/agda/issues/2976#issuecomment-375930297), and I have no idea how to reproduce the problems you are experiencing. Please provide a detailed recipe for reproducing the problems, using `emacs -Q`.

[2018-05-21 21:37] andreasabel commented on #2976
If I revert to  8622458 (before your commits of the last 7 days), Agda 2.5.4 works again for me on emacs.
The problem is easily reproduce. Just load any Agda file. `C-c C-l` is answered by
[code]
With `emacs -Q` I experience the same problem:
The *agda2* buffer says:
[code]
(Looks ok.)

The *Messages* buffer says:
[code]

[2018-05-22 04:58] UlfNorell opened #3068 "Add option to turn off syntactic equality check"
See discussion in #3060.

[2018-05-22 04:59] UlfNorell commented on #3060
I filed a new issue for this.

[2018-05-22 08:10] nad commented on #2976
If I run `emacs -Q Foo.agda`, then `Foo.agda` is opened in fundamental mode. Please provide more detailed instructions.

[2018-05-22 10:56] UlfNorell commented on #2976
FWIW I have no problems on my machine, either with Aquamacs or `emacs -Q` (and manually loading the agda mode).

[2018-05-22 11:00] UlfNorell commented on #3037
\*Pokes @gallais / @MatthewDaggitt\*

[2018-05-22 12:06] sattlerc opened #3069 "Agda hangs again"
On master.

[code]

Note that the issue does not occur if the interaction point is converted into an underscore.

[2018-05-22 12:31] UlfNorell commented on #3069
Same as #3004. The underscore in `neut-l` is solved by `patlam .Category.id .snd` or something similar. The unreduced target type of the interaction point is `patlam .Category.Hom`, so printing that causes Agda to loop.

[2018-05-22 12:31] #3069 closed, assigned to nobody

[2018-05-22 12:32] UlfNorell commented on #3004
Another test case in #3069.

[2018-05-22 12:33] gallais commented on #3037
I guess the only solution is to have merge commits polluting the history à la Agda stable vs. master?

[2018-05-22 12:40] UlfNorell commented on #3037
I don't see a reasonable alternative. At least you don't have to merge as aggressively as we do with Agda stable/master, so you can keep the pollution levels low. It's not really a problem if `experimental` lags behind a week or two.

[2018-05-22 13:21] asr opened #3070 "Predicative version of the Prop universe: Missing CHANGELOG entry and documentation"
The predicate version of `Prop` was introduce by 7dda192 but without documentation.
@jespercockx also list the new `--enable-prop` option [here](http://agda.readthedocs.io/en/latest/tools/command-line-options.html), please.

Since I guess this new feature won't be include in 2.5.4, I just added the 2.5.5 header to the CHANGELOG.

[2018-05-22 18:20] andreasabel commented on #2976
Well the detailed instruction would be to install Ubuntu 16.4 LTS with the default emacs there (emacs24), start emacs -Q, do M-x load-file <agda2.el> and then load an Agda file.

[2018-05-22 19:44] nad commented on #2976
Any Agda file? Does it matter if a corresponding `.agdai` file exists?

I tried to open a previously non-existing Agda file using your recipe, but with GNU Emacs 25.2.2 on Ubuntu 18.04 LTS, and did not experience any problems. I don't have easy access to Emacs 24. Can you debug and fix this problem yourself? I think it makes sense to still support Emacs 24.

[2018-05-22 20:09] asr commented on #2976
I followed your detailed instruction :-)

Seriously, I couldn't reproduce the issue using Ubuntu 16.04.4 LTS and both the default GNU Emacs (24.5.1) or 25.3.1.

[2018-05-22 21:04] andreasabel commented on #2976
I think my problem can be solved by `make compile-emacs-mode` (blush).
Great! I can run 2.6.0 again!

[2018-05-22 21:04] #2976 closed, assigned to nad

[2018-05-22 22:16] sattlerc opened #3072 "invalid section printing"
On master.

[code]

If you print (or interactively solve) the type of bar, you will get `R (_C.∘ id)` instead of `R (C._∘ id)`.

[2018-05-22 23:39] sattlerc opened #3073 "type-in-type and spurious levels"
I know the current implementation has been described as a hack, so probably this bug is known.
[code]
Giving  the underscore at the interaction point yields the following error message:
[code]
This looks like some de Brujin index mismatch.

[2018-05-22 23:44] sattlerc commented on #3004
I seem to run into this issue quite frequently. Is there a workaround that allows me to continue using extended lambdas, copatterns, and interaction points?

[2018-05-23 02:02] asr commented on #421
The example in the OP doesn't type-check with 2.5.3 but it type-checks with the current `stable-2.5`. So, I added a test case and I'm closing the issue.

The example also type-checks with 2.5.4 RC 1.

[2018-05-23 02:02] #421 closed, assigned to nobody

[2018-05-23 04:06] asr commented on #488
The issue is fixed in the current `stable-2.5` so I added a test case and I'm closing it.

The issue also was fixed in 2.5.3 and 2.5.4 RC 1 (I didn't test other versions).

[2018-05-23 04:06] #488 closed, assigned to nobody

[2018-05-23 04:15] asr commented on #300
Bug still exists as of today (2018-05-22).

[2018-05-23 04:19] asr commented on #513
Bug still exists as of today (2018-05-22).

[2018-05-23 04:26] asr commented on #726
We currently don't support GNU Emacs 22.3 which was [released](https://www.gnu.org/software/emacs/history.html) 10 years ago, so I'm closing the issue.

[2018-05-23 04:26] #726 closed, assigned to nobody

[2018-05-23 04:43] asr commented on #1073
Bug still exists as of today (2018-05-22).

[2018-05-23 05:30] UlfNorell commented on #3004
We should at least make it not loop. Simplest would be to print the internal name of the lambda when it appears inside its own body.

[2018-05-23 05:55] UlfNorell opened #3074 "Wrong hiding causes internal error in LHS checker"
Bug discovered by @wadler.

[code]
~~Getting rid of the parameter to `Box` makes the internal error go away.~~

[2018-05-23 07:57] nad commented on #2976
Great.

[2018-05-23 08:09] UlfNorell commented on #3074
You get the right error message in `2.5.3`.

[2018-05-23 09:04] #3074 closed, assigned to nobody

[2018-05-23 09:05] UlfNorell commented on #2875
Should be included in release: Fix of #3074 (1439d02)

[2018-05-23 09:34] nad opened #3075 "Automatic inlining and tactics"
Automatic inlining (2a3495289d5ee089abc9a7c041c5b05dbc472f37) broke some tactic code for me. One problem was easy to fix by adding `NOINLINE`, but I have another problem that I have not diagnosed properly yet. I think the possible impact on tactics should be documented in the release notes. If we add a flag `--no-automatic-compile-time-inlining` (or something like that), then it is easier to diagn

[2018-05-23 09:40] #3004 closed, assigned to UlfNorell

[2018-05-23 09:41] UlfNorell commented on #2875
Another one: #3004 (765a4fb)

[2018-05-23 09:51] UlfNorell opened #3076 "Self-referencing copattern lambdas"
Continuing #3004.

Currently we print pattern lambdas with their internal name if they appear inside their own body, which prevents printing from looping, but is otherwise not very satisfying. Here's one of the examples from #3004:

[code]
The goal is printed as
[code]
Note both the internal name `.extendedlambda0` and the apparent insanely dependent type.

It's not at all obvious how to handle th

[2018-05-23 09:52] UlfNorell commented on #3004
I filed #3076 for continuing the discussion on how to properly handle copattern lambdas.

[2018-05-23 11:06] #3075 closed, assigned to UlfNorell

[2018-05-23 11:08] UlfNorell commented on #2875
Another one. Time to make a list:

- [x] #3074 (1439d02)
- [x] #3004 (765a4fb)
- [x] #3075 (56c380b)

[2018-05-23 11:13] nad opened #3077 "Pragmas and scopes"
The polarity pragma can only be given in the same scope as the name which it is applied to. The following code triggers a warning:
[code]
Warning:
[code]

I think other pragmas should be restricted in the same way. The following code is currently accepted:
[code]
I did not test all FFI pragmas, perhaps more can be added to the list.

[2018-05-23 12:30] MatthewDaggitt commented on #3037
Sorry, had a paper deadline and haven't been keeping up with emails. So what I'm planning on doing is to merge `master` into `experimental` (to get the latest updates to master) and then `experimental` back into `master` and then release `master`. Anyone have any objections?

[2018-05-23 12:50] nad commented on #3077
I think this should be ruled out even if the pragmas are given in the correct scope.

[2018-05-23 12:58] asr commented on #3037
Please note you should merge `experimental` back into `master` *only* after a new release of Agda.

For closing this issue it's enough merge `master` into `experimental` and update the submodule commit in the Agda repository.

[2018-05-23 13:26] asr commented on #2875
I renamed the `type: regression` label to `regression`. Please continue using that label *and* the `type: bug` label on regressions. Note that you also can use a `regression-X.Y.Z` label .

[2018-05-23 13:45] asr opened #3078 "Error building with GHC 7.10.2: Missing transformers library"
@sergv reports the following error on the user mailing list when install 2.5.4 RC 1:

The problem is caused by the following lines in Agda.cabal:

[code]

[2018-05-23 13:48] nad commented on #3078
Perhaps the bug can be fixed by dropping "`.3`".

[2018-05-23 13:50] wadler commented on #3074
That was fast! Thank you, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On 23 May 2018 at 06:04, Ulf Norell <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland, with registration numbe

[2018-05-23 14:01] #3078 closed, assigned to asr

[2018-05-23 14:07] sergv commented on #3078
It seems a different person actually reported the issue: Sergei Meshveliani <mechvel at botik.ru>.

[2018-05-23 14:13] asr commented on #3078
Oops, sorry. CC'ing @mechvel.

[2018-05-23 14:17] sattlerc commented on #3004
Thanks! At least I won't end up reducing test cases for the same bug anymore.

[2018-05-23 14:33] nad opened #3079 "Wrong parameter hiding for instance open"
Consider the following code:
[code]
When I use Agda 2.5.3 the output contains the following term:
[code]
However, with a more recent version I instead get the following term, which is not type-correct:
[code]

[2018-05-23 15:02] UlfNorell commented on #3079
I assume there's a bisect running?

[2018-05-23 15:03] asr commented on #2875
I also renamed the `type: release-blocker` label to `release-blocker`. Please continue using that label *and* a`type: SOMETHING` label on release-blocker issues.

[2018-05-23 15:16] UlfNorell commented on #3079
It doesn't seem to be reflection related:
[code]

[2018-05-23 15:17] jespercockx commented on #2170
In order to fix this problem, I think we need either some facility to allow irrelevant return types (in order to give a proper type to irrelevant projections and the `irrelevant₁` functions from the OP) or disallow irrelevant definitions in parametrized modules entirely, and hence also disallow irrelevant record fields.

It seems that most (even all?) use cases  of irrelevant fields could be cover

[2018-05-23 15:24] andreasabel opened #3080 "Case splitting prints out-of-scope pattern synonyms"
[code]
Pattern synonyms which are not in scope should not be used for printing.

Works fine in Agda 2.5.3.

[2018-05-23 15:33] sattlerc opened #3081 "Termination problem: copatterns and without-K"
On master.

[code]
The issue disappears if --without-K is removed.

[2018-05-23 15:50] andreasabel commented on #2902
See also #3080 where the use of pattern synonym in case splitting is actually buggy.

[2018-05-23 15:52] andreasabel commented on #3080
See also the more general open discussion at #2902.
Maybe we should exclude feature #2762 from the 2.5.4 release.

[2018-05-23 15:59] andreasabel commented on #3081
This might related to #1680, see also #2890.
The `--without-K` termination checker is more/too conservative; it does not like result types of clauses like `X` which are not related to eliminated type `Category`.

[2018-05-23 16:02] andreasabel commented on #3077
`{-# REWRITE A #-}` is allowed on purpose and it makes sense to attempt to add a rewrite rule for the instance of `A` generated by the module application in the `open` statement.
Similar arguments apply to `INJECTIVE` and `DISPLAY`.
Maybe also `STATIC`.

[2018-05-23 16:16] andreasabel commented on #3072
Agda 2.5.3 prints correctly (but uglyly) `R (λ section → section C.∘ id)`.

Section recovering during printing was introduced in #2270.

[2018-05-23 16:20] andreasabel commented on #2270
There is a bug with sections for qualified operators: #3072.

[2018-05-23 16:32] MatthewDaggitt commented on #3037
Good point! Okay I've merged `master` into `experimental`. Currently having fun trying to build Agda 2.5.4 and run the tests. I'm getting on a plane in an hour, but will try and finish it tonight and push the updated submodule. Just checking that I should push it to `stable-2.5` rather than `release-2.5.4`?

[2018-05-23 16:40] asr commented on #3037
Yes. You should push it into `stable-2.5`. If Travis is green, I'll cherry-pick it into `release-2.5.4`.

[2018-05-23 16:47] asr commented on #3037
I'll make it.

[2018-05-23 16:53] #3037 closed, assigned to nobody

[2018-05-23 17:01] MatthewDaggitt commented on #3037
Thanks!

[2018-05-23 22:11] asr commented on #2473
@jespercockx, instead of removing the milestones modify them, please.

[2018-05-24 04:39] #2567 closed, assigned to nobody

[2018-05-24 04:44] asr commented on #2505
@nad, have you still this problem?

[2018-05-24 04:48] UlfNorell commented on #2473
Perhaps we should have a milestone for not-anytime-soon, so we can distinguish between issues that haven't been assigned a milestone and issues that we don't plan to fix anytime soon.

I suggest `icebox`.

[2018-05-24 04:52] asr commented on #2473
I was thinking in a similar milestone. Please add the `icebox` one.

[2018-05-24 05:04] UlfNorell commented on #2473
Done.

[2018-05-24 05:34] UlfNorell commented on #3079
It's also not `open public` (sorry @andreasabel):

[code]
It looks like it's the `⦃ … ⦄` that's doing the wrong thing. This is perhaps not too surprising since that's handled separately in the type checker.

[2018-05-24 06:38] UlfNorell commented on #3079
Further simplified:

[code]

[2018-05-24 07:45] #3079 closed, assigned to UlfNorell

[2018-05-24 08:04] UlfNorell commented on #2875
- [x] #3079 (cd4ed87)
- [x] #3080 (be86cdf)
- [x] #3072 (b63cf52)
- [x] #351 (2b66955) (already fixed, added test case)

[2018-05-24 08:18] #3080 closed, assigned to UlfNorell

[2018-05-24 08:59] #3072 closed, assigned to UlfNorell

[2018-05-24 10:32] UlfNorell commented on #351
This seems to have been fixed. At least James' 50400 example now checks. Pushing test case shortly.

[2018-05-24 10:34] #351 closed, assigned to nobody

[2018-05-24 10:38] UlfNorell commented on #370
Musical coinduction is not the way of the future, so wont-fix.

[2018-05-24 10:38] #370 closed, assigned to nobody

[2018-05-24 10:44] nad commented on #370
Pattern-matching lambdas are also generative, so we get similar problems when using copatterns.

[2018-05-24 10:50] nad commented on #3075
This problem, while perhaps indirectly triggered by inlining, turned out to have another root cause (see #3079).

[2018-05-24 10:51] UlfNorell commented on #408
What's left here? We have the (no longer that) new split strategy and the `--exact-split` option. I don't see any test cases where equations could, but does not, hold definitionally.

[2018-05-24 10:54] nad commented on #2505
I seem to recall observing something similar recently.

[2018-05-24 12:50] UlfNorell commented on #2902
I added an option to turn off printing of pattern synonyms (`--no-print-pattern-synonyms`) as an interim measure.

[2018-05-24 12:51] UlfNorell commented on #2875
- [x] #2902 (61b5a86) (not closed)
- [x] #2902 (3519913) (test case)

[2018-05-24 13:01] asr commented on #2875
@UlfNorell, also points me out the new test cases.

[2018-05-24 13:05] UlfNorell commented on #2875
Ok.

[2018-05-24 13:06] UlfNorell commented on #500
[code]
Abstracting over the length is required to allow pattern matching on `xs ++ ys`, but is otherwise not interesting.

[2018-05-24 13:22] asr commented on #3054
@Saizan, why did you assign milestone `2.6.0` instead of milestone `2.5.4`/`2.5.5` to this issue?

[2018-05-24 13:36] asr commented on #2875
When labelling an issue using  `regression-X.Y.Z` also label it with `regression`, please.

In fact, I propose to remove the `regression-X.Y.Z` labels. Does any one disagree?

[2018-05-24 14:31] UlfNorell commented on #2875
I think the `regression-X.Y.Z` labels are useful. It makes a difference whether the regression has already been released. Although I don't hold with people tagging issues with `regression in 2.5.4` before we've even released `2.5.4`. I think that's overly pessimistic.

I can see the point of tagging with both `regression` and `regression-X.Y.Z` when applicable though.

[2018-05-24 14:37] #531 closed, assigned to nobody

[2018-05-24 14:39] UlfNorell commented on #536
Duplicate of #394.

[2018-05-24 14:39] #536 closed, assigned to nobody

[2018-05-24 14:40] #547 closed, assigned to nobody

[2018-05-24 14:45] UlfNorell commented on #570
Syntax discussion in #2513.

[2018-05-24 14:50] UlfNorell commented on #1432
Fixed by #3042.

[2018-05-24 14:56] UlfNorell commented on #573
Some work has been started in #2589, so closing this one.

[2018-05-24 14:56] #573 closed, assigned to jespercockx

[2018-05-24 15:07] nad commented on #1432
@andreasabel listed three potential advantages in the OP. Does the fix address all of them?

[2018-05-24 15:18] UlfNorell commented on #1432
That fixes the proper sort metas part. We do contextual representations of meta solutions already, don't think it's worth it to add explicit substitutions to unsolved metas.

[2018-05-24 15:49] UlfNorell commented on #958
We generate display forms to solve the `map` issue, but the problem here is that the display form is generated inside a parameterised module (the record module), and thus does not apply outside. Here's a variant that makes the modules explicit:

[code]
It might be possible to lift the display forms out of the parameterised module, turning matches on module parameters into wildcard matches in the d

[2018-05-24 15:58] UlfNorell commented on #681
You now get
[code]
if you try to perform any commands when another command is already running. This should address your remaining issue.

[2018-05-24 15:58] #681 closed, assigned to nobody

[2018-05-24 15:59] #683 closed, assigned to nobody

[2018-05-24 16:20] UlfNorell commented on #701
I'm ruling no.

[2018-05-24 16:21] #701 closed, assigned to nobody

[2018-05-24 16:30] UlfNorell commented on #706
Idris is using [annotated-wl-pprint](http://hackage.haskell.org/package/annotated-wl-pprint) to attach semantic information to pretty printed output.

[2018-05-24 16:38] UlfNorell commented on #723
I believe the reason we aren't simply solving the meta with a function type with unknown domain and codomain is that we're worried it might get solved to an implicit function type.

Related: #525

[2018-05-24 16:48] UlfNorell commented on #750
I strongly suspect adding coercions would completely wreck constraint solving. Coq isn't as picky about unique solutions and can get away with more clever heuristics.

[2018-05-24 16:48] #750 closed, assigned to nobody

[2018-05-24 16:57] jespercockx commented on #750
Funny, I was just discussing coercions with the Coq people here in Nantes as a possible way to implement cumulativity. It seems to me that we could get away with having some coercions if we would distinguish more carefully in the typechecker when we expect the type to match exactly and when any supertype will do (for example, by adopting a more bidirectional approach).

Do you have any hard eviden

[2018-05-24 17:29] UlfNorell commented on #750
No hard evidence, no. But let's do a little exploratory example:

[code]
Now what's the value of `X`? Doesn't matter? What if there are be other constraints on `X`?

As an aside, I suppose we already have a limited form of coercions for overloaded literals. That case is a lot simpler though, since coercions are triggered by syntax.

[2018-05-24 17:36] UlfNorell commented on #758
This shouldn't be terribly hard to fix. We'd need to add ranges to `GenPart`s in `Agda.Syntax.Notation` and dig them out when generating highlighting.

[2018-05-24 17:50] #831 closed, assigned to nobody

[2018-05-24 17:59] #844 closed, assigned to nobody

[2018-05-24 18:03] #855 closed, assigned to nobody

[2018-05-24 18:28] andreasabel opened #3082 "Emacs mode regression: a ? inserted before existing hole hijacks its interaction point"
Since I switched to the newest emacs mode on 2.5.4 (roughly 10 days old), I observe the following new buggy behavior.
Load the following file:
[code]
This marks the whole as interaction point 0.
Now insert
[code]
/before/ `goal`.  Without reloading, the interaction point 0 immediately jumps to this hole.

This is very confusing behavior and seems to be triggered by instantaneous rehighlighting as

[2018-05-24 18:33] andreasabel commented on #3080
Fixed by @UlfNorell by checking whether pattern synonym is in scope before reconstructing it.

[2018-05-24 18:57] UlfNorell commented on #3080
Um, yes... See above:

[2018-05-24 19:41] UlfNorell commented on #887
It's worth noting that you can build the definition of `determinacy` using only case splits, so there is no weird pattern matching going on.

The missing cases that the coverage checker wants are
[code]

[2018-05-24 19:47] asr commented on #2875
- [x] #695 (76583cf2020f281b1f56246a460cc0142993a139) (already fixed, only test case)

[2018-05-24 19:59] UlfNorell commented on #887
Here's the case tree before splitting:
[code]
At (*) we've only matched the first argument against `N` and `Step` so the current split would be
[code]
matching the clauses
[code]
Instead of splitting on `w` which has a constructor in each matching clause we for some reason decide to split on `y` resulting in a catch-all for the last two clauses. Should the split strategy prefer `w`? @andreasabel @

[2018-05-24 21:24] nad opened #3083 "Wrong hiding in module application"
Some of my code that worked earlier this year has stopped working. When trying to create a small test case I ended up with the following code:
[code]
This code is rejected. Error message:
[code]

This is not an ideal test case, because the code is not accepted by any version of Agda that I have tried. Furthermore I am not sure if the code should be accepted or not, but the fact that the error disa

[2018-05-25 05:48] andreasabel commented on #3082
This is probably connected to the new feature #2794.

I also observe now a more frequent trip-up of Agda such that I have to restart it. Could this be due to a race of the "idle highlighter" running and an interactive command I issue to Agda?

I found the new parameter `Agda2 Highlight After Inactivity Interval`.  Maybe setting this to `0` could be make to deactivate the "idle highlighting" featur

[2018-05-25 06:13] UlfNorell commented on #3083
As before, the problem isn't with reflection. If you ask for the type of `g` you get
[code]
Type checking that gives exactly the error above. I haven't analysed further but it seems to be a problem with instance search picking an ill-formed solution (the error is in the instance argument of f).

[2018-05-25 07:53] nad commented on #3082
Yes, and fixing it should be easy.

If you issue a command while highlighting is in progress, then I imagine that you could get the `Another command is currently in progress` error message. I guess it wouldn't be too hard to fix this.

The customization UI includes an option to turn off this feature.

[2018-05-25 10:31] nad commented on #3082
The problem described in the OP is a (rather severe) instance of #2306.

[2018-05-25 10:33] nad commented on #1711
Can we close this ticket?

[2018-05-25 10:37] nad commented on #1144
Why should it be possible to comment out LaTeX code using Agda comment notation? If LaTeX comment characters (`%`) are used instead of `--`, then the code in the OP is handled correctly with the most recent development version of Agda.

[2018-05-25 10:37] #1144 closed, assigned to nobody

[2018-05-25 10:42] nad commented on #2505
I had this problem today.

[2018-05-25 10:50] UlfNorell commented on #1711
The feature request seems sound independently of the suggested key binding.

[2018-05-25 10:55] UlfNorell commented on #2505
Given that no one else seems able to reproduce the problem, I think you will have to track this down yourself.

[2018-05-25 11:04] nad commented on #2505
Could the problem be related to the fact that I'm running in 32-bit mode? I guess most of you aren't.

[2018-05-25 11:26] nad commented on #3082
I'm reluctant to make the Emacs mode even more complicated. If you get this error message because highlighting is in progress, then you can simply issue the command again.

[2018-05-25 12:27] nad commented on #2875
More commits to include:
- [x] [ test/interaction ] Made RunAgda.command more general. (00be67068d4aab1a3e7361906566b71ad104ae87).
- [x] #3082 (f78816009).
- [x] [ Emacs mode ] Added an Edebug specification for a macro. (3cf67e74fd968585f9f1a6c55e492fc13f294db2).
- [x] #2794 (838df24f9).
- [x] #2306 (30f696f2f).
- [x] #3084 (ea16f5cf830b980751bdbd27165b706812be1335).

Note that, because it is non-

[2018-05-25 12:32] nad commented on #2306
My fix changes the code so that certain commands (for instance infer and normalise) no longer mess with the goals. Others, like give and refine, still do.

[2018-05-25 12:40] nad opened #3084 "Changes to mode line do not take effect immediately"
Sometimes changes to the status string in the mode line (like `:ShowImplicit`) do not take effect immediately.

[2018-05-25 12:41] #3082 closed, assigned to nad

[2018-05-25 12:41] #2306 closed, assigned to nad

[2018-05-25 12:42] #3084 closed, assigned to nad

[2018-05-25 12:56] asr commented on #2875
@nad, I was planning to make the release *tomorrow* (module no open bugs). What did you mean for `little time`?

[2018-05-25 13:03] asr commented on #2875
Also points me out *any* changes to the test-suite.

[2018-05-25 13:33] jespercockx opened #3085 "Postpone checking a pattern let binding when type is blocked"
Reported by Sergei Meshveliani on the Agda list:
[code]
We should postpone checking a pattern let when the type is blocked on a meta, like we already do for pattern lambdas and top-level pattern matching definitions.

[2018-05-25 14:01] asr commented on #3085
CC'ing @mechvel.

[2018-05-25 14:22] #3085 closed, assigned to jespercockx

[2018-05-25 14:31] jespercockx commented on #2875
- [x] #3085 (1cf40a49398ad0a7b69273bc9e8c635234add996)

[2018-05-25 14:51] nad commented on #2875
I still haven't managed to type-check all the old code that I maintain using the latest version of Agda (once #3083 has been investigated I'll take another look), and we have pushed lots of changes recently (bug fixes could introduce regressions), so I don't think we should release 2.5.4 tomorrow. I suggest that we wait one week and release just before the next Agda meeting.

[2018-05-25 15:18] UlfNorell commented on #3083
Also not instance search. Here's a shrunk example:

[code]
The problem is that the module application `M A` messes up the hiding of the `A` parameter of `R.B`. Since it lives in the record module, `A` should be hidden.

Since we don't care so much about hiding in internal syntax, these kinds of problems mostly show up when using reflection.

[2018-05-25 15:41] WolframKahl commented on #3082
I would like to attract attention to the fact that, although it may be simple to issue a command again, in many cases I find it highly unattractive to do so since it will involve a wait of several minutes...

[2018-05-25 15:47] asr commented on #2875
OK. I'll make the release next week.

[2018-05-25 15:48] UlfNorell commented on #3082
In this case it tells you another command is in progress before starting the several minute long command, so you can issue it again without waiting. (I hope you aren't saying that the background highlighting takes several minutes...)

[2018-05-25 15:54] UlfNorell commented on #2875
It might make sense to release RC-2 tomorrow though.

[2018-05-25 16:22] #3083 closed, assigned to UlfNorell

[2018-05-25 16:41] UlfNorell commented on #2875
- [x]  #3083 (b02c03c)

[2018-05-25 19:07] asr commented on #2875
@jespercockx, why you didn't include 421904022f0f349e74c2be0aeb9dfa8e51f6112c in the above list?

[2018-05-25 20:24] nad commented on #2875
I found another problem that I have started investigating...

[2018-05-25 20:36] jespercockx commented on #2875
I'm sorry, it should have been included as well. I somehow thought the change was related to my work on adding `Prop` (which will not be in the release) but apparently I was wrong. The output of that test case is very hard to decypher.

[2018-05-25 20:40] asr commented on #2875
Missing commit:

- [x] [ test ] Update test output for interaction/Issue157b.agda (421904022f0f349e74c2be0aeb9dfa8e51f6112c)

[2018-05-25 20:44] #2988 closed, assigned to nad

[2018-05-25 20:44] nad commented on #2988
I've implemented the simple fix mentioned above.

A small correction: The problem might not only affect the development version, because we generate Git hashes whenever Agda is built from a Git repository. However, if you run `cabal install Agda`, then you do not get a Git hash.

[2018-05-25 20:57] nad opened #3086 "Showing inferred instance arguments"
Consider the following code:
[code]
Unless I'm missing something there is no simple way to find out which instance argument Agda infers on the final line:
* If I replace `x` with `x ⦃ ? ⦄`, then Agda does not infer any value for the question mark.
* If I turn on display of implicit arguments and normalise `d`, then I get `c`.

I think there should be an easy way to produce this information.

[2018-05-25 21:26] asr commented on #2875
Well, you wasn't wrong completely. I cherry-picked 4219040 but I had to fix some conflicts because this test output also was modified when adding `Prop` in 9087981.

Note that this is the first time I got a conflict when cherry-picking commits.

[2018-05-25 21:58] asr commented on #2875
It is great that *many* of you are pushing fixes for the release, but I guess I won't have the enough bandwidth for handling all of them. I think it was a good idea to postpone the release for one week, but I guess there will be several new commits to be included. If you have some new change to be included in the release, I propose the following work-flow:

1. push your change in the `release-2.5.

[2018-05-26 04:16] asr commented on #2875
It's a good idea. I'll release RC 2. Please don't push anything to the `release-2.5.4` branch.

[2018-05-26 05:24] asr commented on #2875
You can continue pushing to the `release-2.5.4` branch.

[2018-05-26 06:41] UlfNorell commented on #3086
This has come up before (#2172) and was solved in #2700 with the new `C-c C-;` command:

[code]
Prints
[code]

[2018-05-26 06:41] #3086 closed, assigned to nobody

[2018-05-26 10:28] nad opened #3088 "Regression caused by copattern translation"
I have some code that seems to have been broken by ace8e0d099402a625ac460862ae0a81fcec538d4 ("[ records ] translate definitions returning record expressions to use copatterns"). I can fix the problem by giving some implicit arguments explicitly. Is this an expected consequence of this change? The commit comment includes the following text, which suggests that it is not: "For eta records the copatt

[2018-05-26 15:47] UlfNorell commented on #3088
Constraint solving is notoriously brittle, so it's not too surprising that there are cases of metas no longer being solved. Though, feel free to give a test case if you think there might be an actual bug.

[2018-05-26 17:16] andreasabel commented on #3083
... and `with`.

[2018-05-26 17:21] andreasabel commented on #3082
Agda's suggestion is `you might want to restart Agda`.  Maybe this should be refined to `you might want to issue your command again or restart Agda`.

[2018-05-26 17:39] andreasabel commented on #2875
I introduced the `regression in 2.5.4` label to mark regressions in the RC over 2.5.3.  The intention is that no such regression gets actually released.

[2018-05-26 18:01] WolframKahl commented on #2875
Perhaps call it ``regression wrt. 2.5.3'' or ``regression over 2.5.3''?

[2018-05-26 18:01] andreasabel commented on #750
Well, just arbitrary coercions wouldn't work.  I guess we would have similar restrictions as for instances, that the types you coerce between must be named types.

[2018-05-26 18:07] andreasabel commented on #2875
No, I think the name is fine, it is the same as for the other releases.
If you fix a `regression in X` issue before the final release of `X`, you can remove that tag from the issue.

[2018-05-26 18:10] UlfNorell commented on #2875
Yes, that's what I've been doing. My comment about the label was not entirely serious...

[2018-05-26 18:10] andreasabel commented on #831
Maybe in Agda 3 ...

[2018-05-26 18:36] andreasabel commented on #1711
That feature would still be nice to have.

The helper creation `C-c C-h` could add the `bla = ?` template to the cut-buffer such that it gets inserted along with the type signature when pressing `C-y`.

[2018-05-26 18:37] andreasabel commented on #2505
Indeed, i am using 64bit.

[2018-05-27 00:24] asr commented on #2988
I cherry-picked the fix on `release-2.5.4` only because we shouldn't have *closed* bugs with milestone `2.5.5` before releasing 2.5.4.

[2018-05-27 04:34] andreasabel commented on #2875
Probably needlessly, I'd like to remind of the `closed-issues` script to add the list of closed issues for 2.5.4 to the CHANGELOG once the list has finalized.
https://github.com/agda/agda/blob/master/src/closed-issues/closed-issues-for-milestone.cabal

However, this list will not be accurate because some issues have been closed without fixing and still have the milestone 2.5.4 tag. (I am talking a

[2018-05-27 04:41] asr commented on #2875
Yep! This task is in my TODO list.

[2018-05-27 10:17] UlfNorell commented on #2948
Duplicate of #572. See also #998.

[2018-05-27 10:17] #2948 closed, assigned to nobody

[2018-05-27 10:19] UlfNorell commented on #998
The error message is fixed by the above commit. The rest is #572.

[2018-05-27 10:19] #998 closed, assigned to nobody

[2018-05-27 10:29] #1032 closed, assigned to nobody

[2018-05-27 10:38] UlfNorell commented on #1034
Updated test case here: https://gist.github.com/UlfNorell/b0c15dc7690bb448f95afb9c3a1164ae

It does seem like the problem has been fixed though. The file checks in 3s on my machine, of which 1.5s is type checking and almost all of that time is spent on the right-hand sides of `eps`.

@astump reopen if necessary.

[2018-05-27 10:38] #1034 closed, assigned to nobody

[2018-05-27 10:58] UlfNorell commented on #1054
No complaints about @stevana's solution in 4 years. Closing.

[2018-05-27 10:58] #1054 closed, assigned to nobody

[2018-05-27 11:11] UlfNorell commented on #1063
The current situation is actually that we freeze metas after the first declaration in the module:

[code]
This is not a sensible behaviour. Two options:
- (easy) freeze metas after checking the module parameters
- (hard) leave module parameter metas unfrozen

The latter solution would require refactoring the way we freeze metas. At the moment we freeze all metas when freezing, but in this case we'

[2018-05-27 11:14] UlfNorell commented on #408
Closing. Reopen with test case if needed.

[2018-05-27 11:14] #408 closed, assigned to andreasabel

[2018-05-27 11:53] identicalsnowflake opened #3089 "Nicer syntax for implicit @-patterns"
Minor annoyance: @-matching currently only works on visible parameters, so

[code]

It seems like this would be a convenient thing to allow.

EDIT: I just realized it does work if you use both parentheses and curly brackets, e.g., `{x@(ℕ.suc _)}`. Maybe this is fine - it just wasn't intuitive to me to write it that way.

[2018-05-27 12:04] UlfNorell commented on #3089
Given that we allow writing `.{p}` for dotted implicit patterns it does make sense to allow the same for as-patterns.

[2018-05-27 12:06] jespercockx commented on #1063
I also vote for freezing metas from the module parameters right away. The alternative just seems to unpredictable/brittle.

[2018-05-27 12:09] UlfNorell commented on #1095
Merging with #1079.

[2018-05-27 12:09] #1095 closed, assigned to nobody

[2018-05-27 12:14] UlfNorell commented on #1097
Lambda-where and do-notation take care of the problems in the OP, but it's worth keeping the issue for the more general proposal of allowing record patterns in any binding position.

[2018-05-27 12:19] UlfNorell commented on #1113
Closing. See @Saizan's comment about insanely dependent types.

[2018-05-27 12:26] UlfNorell commented on #1145
A cheap alternative might be to merge empty blocks with the following block, letting you write
[code]
without the awkward one space indentation of the inner keyword.

[2018-05-27 13:48] UlfNorell commented on #1166
Automatic inlining takes care of the second case.

[2018-05-27 13:49] #1169 closed, assigned to nobody

[2018-05-27 13:55] UlfNorell commented on #1181
The same is true for ordinary let bindings.

[2018-05-27 14:18] #1268 closed, assigned to nobody

[2018-05-27 14:45] asr commented on #2875
Commit to include:
- [x] #1268 (6a3e83e69f1569dc09c9be1e47f30e85cbf4787c) (already fixed, only test case)

[2018-05-27 14:50] UlfNorell commented on #1285
Closing since the conclusion over at cpphs was that it's a problem in ghc and no one filed a ghc ticket.

[2018-05-27 14:50] #1285 closed, assigned to asr

[2018-05-27 14:53] UlfNorell commented on #1289
We have this now.

[2018-05-27 14:53] #1289 closed, assigned to nobody

[2018-05-27 15:15] UlfNorell commented on #1307
This has been fixed.

[2018-05-27 15:15] #1307 closed, assigned to nobody

[2018-05-27 15:29] andreasabel commented on #408
We never turned on the split strategy discussed in https://github.com/agda/agda/issues/408#issuecomment-129023160 but I agree we should keep things as they are...

[2018-05-27 15:33] asr commented on #2875
When reading that #1032 was closed by `status: wontfix` I thought in this situation. I see three options:

1. Remove the milestone tag from those issues with status `abandoned`, `duplicated`, `wontfix`,  or `working-as-intended`, or label `dev-op`.

2. Write in the CHANGELOG *closed* issues (meaning fixed or the status pointed in 1.)

3. Keep the milestone tag, write *fixed* issued in the CHANGELO

[2018-05-27 15:37] andreasabel commented on #1063
I vote for a more fine-grained freezing.  Modules should behave similarly to the corresponding record types, which can have metas in their telescope which are resolved by the fields and definitions in the record.

[2018-05-27 15:41] andreasabel commented on #1145
Nice idea.  But in my opinion, that does not look good.
Also, it can lead to confusion when a preceding block became empty by commenting out the last definition (which was not already commented out).

[2018-05-27 16:12] andreasabel commented on #2875
I'd tend to either 1. or 3.  As a user, if my issue appeared in the list of closed issues in the release notes, I would assume the problem I reported has been solved.
(Or, put differently, if we merely decide to not fix a problem, we shouldn't broadcast it as a closed issue.)
I imagine users refer to this list when deciding whether to update their version of Agda. If an important issue that affect

[2018-05-27 17:17] UlfNorell commented on #1063
How do you propose to deal with the unpredictability/brittleness concerns in this case? Or are you saying we shouldn't freeze any metas inside modules (not even the top-level module?)? This is, I believe, how record types work at the moment.

[2018-05-27 20:15] UlfNorell commented on #1385
The current behaviour is not incorrect. `Eq.eq` has type `Eq → A → Set` so displaying `Eq.eq e a` is correct even if it's not the most convenient (which would be `eq a` in this case).

The problem with displaying `Eq.eq e a` as `eq a` is that this is only correct in situations where the instance argument to `eq` would indeed be solved with `e`. It would be quite misleading if `Eq.eq e' a` displaye

[2018-05-27 20:15] #1385 closed, assigned to nobody

[2018-05-27 20:26] anka-213 opened #3090 "Internal error in parser when using parentheses in BUILTIN pragma"
The following snippet causes Agda's parser to crash

    {-# BUILTIN NATURAL (N) #-}

with the following error

    An internal error has occurred. Please report this as a bug.
    Location of the error: dist/build/Agda/Syntax/Parser/Parser.hs:7123

[2018-05-27 20:33] UlfNorell commented on #1363
The second test case passes now. I'm reluctant to look at the OP, since it's using the old reflection framework.

[2018-05-27 20:34] #1363 closed, assigned to nobody

[2018-05-27 20:38] UlfNorell commented on #3090
I suspect that line is this one (it's odd that it doesn't pick up the `LINE` pragmas for the internal error...):

https://github.com/agda/agda/blob/6dce3595c54f99647a05a56e0e88f6f5ba4ead1e/src/full/Agda/Syntax/Parser/Parser.y#L1858

[2018-05-27 20:55] anka-213 commented on #3090
Yes. That matches line 7123 in the generated parser for my local build.

[2018-05-27 23:40] asr commented on #2875
Commit to include:
- [x] #1363 (b5af02bfecf9eac788e615e2c26cc65feb2d80c9) (already fixed, only test case)

[2018-05-28 04:55] UlfNorell commented on #1384
This seems to be working now, although I have a bit of a hard time figuring out the expected behaviour due to `--no-coverage`.

[2018-05-28 04:55] #1384 closed, assigned to nobody

[2018-05-28 05:03] UlfNorell commented on #1166
The first case would be fixed by #1390, so closing this one.

[2018-05-28 05:03] #1166 closed, assigned to nobody

[2018-05-28 05:18] UlfNorell commented on #1425
Seems to work now (if you make the `A` argument to `test` an instance argument):

[code]

[2018-05-28 05:19] #1425 closed, assigned to nobody

[2018-05-28 06:35] andreasabel commented on #3090
Regression introduced by fix for #2841: https://github.com/agda/agda/commit/c6ae4d5db2819deabe3678faed6851293a0d826c

[2018-05-28 06:36] #3090 closed, assigned to andreasabel

[2018-05-28 06:37] andreasabel commented on #3090
I add this to the release-2.5.4 branch

[2018-05-28 06:50] andreasabel commented on #2875
- [x] #3090 746eda4e2705e9648a090fcbf0d4e3d437554854

[2018-05-28 11:47] UlfNorell opened #3092 "Restrict primTrustMe to only reduce for canonical terms"
Current `primTrustMe` reduces to `refl` when the normal forms of its arguments are syntactically equal. For instance,
[code]
While this might be nice, it's not a conservative extension of the type theory. It's also not really needed for the typical applications of `primTrustMe`:
- implementing decidable equality for builtin types
- erasing big proof terms

One can even argue that having `primTrust

[2018-05-28 12:04] #1448 closed, assigned to nobody

[2018-05-28 12:12] UlfNorell commented on #1459
I prefer keeping the symmetry with `NATDIVSUCAUX`, which cannot be simplified in a similar way.

[2018-05-28 12:12] #1459 closed, assigned to nobody

[2018-05-28 12:14] asr commented on #1268
I added the test case to the `release-2.5.4` branch.

[2018-05-28 12:14] UlfNorell commented on #1464
Reported again in #2172 and #3086 and fixed by #2700.

[2018-05-28 12:14] #1464 closed, assigned to nobody

[2018-05-28 12:15] asr commented on #1363
I added the above test case to the `release-2.5.4` branch.

[2018-05-28 12:26] UlfNorell commented on #1528
The `--sharing` hack has been removed.

[2018-05-28 12:26] #1528 closed, assigned to nobody

[2018-05-28 12:36] UlfNorell commented on #1542
Postfix projections, copattern lambdas and anonymous definitions gives you pretty much everything you asked for:

[code]

[2018-05-28 12:36] #1542 closed, assigned to nobody

[2018-05-28 12:44] UlfNorell commented on #1548
Fixed with #836 (in 2f5f6d1).

[2018-05-28 12:44] #1548 closed, assigned to nobody

[2018-05-28 12:56] #1568 closed, assigned to nobody

[2018-05-28 12:57] UlfNorell commented on #1570
Duplicate of #434.

[2018-05-28 12:57] #1570 closed, assigned to nobody

[2018-05-28 13:02] UlfNorell commented on #3010
The last test case works now (for me). The test case in the OP is still broken.

[2018-05-28 13:17] asr commented on #2875
Commit to include:
- [x] #1169 (37b2af1ea0cf0b39afc6fc90fbe1a6a2851bb231) (already fixed, only test case)

[2018-05-28 13:22] asr commented on #1169
I added the above test case to the `release-2.5.4` branch.

[2018-05-28 14:04] UlfNorell commented on #1581
This might not be a highlighting issue; `B` is accepted as a projection inside `M`:

[code]

[2018-05-28 14:06] UlfNorell commented on #1586
Merging into #1354.

[2018-05-28 14:06] #1586 closed, assigned to nobody

[2018-05-28 14:16] UlfNorell commented on #1630
Closing as the code in the OP is no longer available.

[2018-05-28 14:16] #1630 closed, assigned to nobody

[2018-05-28 14:20] UlfNorell commented on #1636
I find that quite hard to read, and it's not even saving you any characters:
[code]

[2018-05-28 14:20] #1636 closed, assigned to nobody

[2018-05-28 14:24] asr commented on #2875
Commit to include:
- [x] #1384 (90dff71272772c744d960bc898f1d9c28aa0bead) (already fixed, only test case)

[2018-05-28 14:27] asr commented on #1384
I added the above test case to the `release-2.5.4` branch.

[2018-05-28 14:36] asr commented on #2875
Commit to include:
- [x] #1425 (8efa6a5d4e2b0fbf3ac3c201bae01c2e4df22f66) (already fixed, only test case) (cherry-picked in 1de4f875bb033e29202cd9ce4091836fab0757bb)

[2018-05-28 14:40] UlfNorell commented on #1646
The module alias isn't causing the performance problem. Replacing it by a module application has the same performance characteristics:

[code]

[2018-05-28 14:41] #1654 closed, assigned to nobody

[2018-05-28 14:42] asr commented on #1425
I added the above test case to the `release-2.5.4` branch.

[2018-05-28 14:44] UlfNorell commented on #1662
See #1063.

[2018-05-28 14:44] #1662 closed, assigned to nobody

[2018-05-28 14:51] UlfNorell commented on #1667
I feel that copattern lambdas gets you far enough here, that it's not worth adding some complicated new piece of syntax:
[code]

[2018-05-28 14:51] #1667 closed, assigned to nobody

[2018-05-28 14:57] UlfNorell commented on #1691
The `--sharing` flag has been discontinued.

[2018-05-28 14:57] #1691 closed, assigned to nobody

[2018-05-28 14:59] UlfNorell commented on #1706
About to happen! See #3071.

[2018-05-28 15:04] asr commented on #2875
(Or, put differently, if we merely decide to not fix a problem, we shouldn't broadcast it as a closed issue.)
I imagine users refer to this list when deciding whether to update their version of Agda. If an important issue that affected them is fixed, that's a reason to upgrade.

OK. I'll follow 3. (I'll see if I can change 'manually remove' by 'automatically remove', though).

[2018-05-28 15:05] UlfNorell commented on #1709
I'm guessing that this branch no longer merges cleanly with `stable-2.5`... Might still be worth updating it and doing some performance measurements though.

[2018-05-28 15:08] asr commented on #2875
We also to need to remove the "internal" (test-suite, Travis, Makefile, etc.) issues from the list. Any proposals for a label name for these issues? (I don't like "internal").

[2018-05-28 15:15] UlfNorell commented on #1758
Given that there's really nothing we can do about this and the fact that later versions of Windows (maybe) doesn't have this problem I'm closing this.

[2018-05-28 15:15] #1758 closed, assigned to nobody

[2018-05-28 15:16] asr opened #3093 "Does Agda mode work on Emacs 26.1?"
Emacs 26.1 just was [released](https://lists.gnu.org/archive/html/emacs-devel/2018-05/msg00765.html). I'll test RC 2 on this version of Emacs.

[2018-05-28 15:18] fredrikNordvallForsberg commented on #2875
How about "infrastructure"?

[2018-05-28 15:18] UlfNorell commented on #2875
Or `devops` / `dev-ops`?

[2018-05-28 15:32] asr commented on #2875
Thanks. I'll label those issues with `dev-ops`. Please continue using this label.

[2018-05-28 15:35] andreasabel commented on #3092
But `a : Nat` is a canonical first-order term! Or what do you mean by that?

[2018-05-28 15:37] andreasabel commented on #2875
What is the long form of "dev-ops"?

[2018-05-28 15:41] UlfNorell commented on #3092
A closed normal form. Basically it should reduce in those cases where a hand-written decision procedure would reduce.

[2018-05-28 15:43] UlfNorell commented on #2875
https://en.wikipedia.org/wiki/DevOps

[2018-05-28 15:47] andreasabel commented on #3092
I think then it does not cover the "erase big proof terms" feature any more.
[code]

[2018-05-28 15:49] UlfNorell commented on #1764
@jespercockx would `--setω-in-setω` solve this issue?

[2018-05-28 15:53] andreasabel commented on #2875
Fancy word for a natural self-suggesting method.  Sounds like "PsyOps" and "CovertOps".

[2018-05-28 15:56] UlfNorell commented on #1789
See also #572.

[2018-05-28 15:59] andreasabel commented on #1636
Well, the use case is if you have a list of hidden arguments already, but then need to refine one with a type annotation.  My hand naturally lead me to something like `test` but then it does not parse.
I do not think it is hard to read. It is the cosituation to `(x {y z} : A)` which is also not hard to read.

[2018-05-28 16:04] UlfNorell commented on #3092
I think it does. The cases where this erasure matters is when `x` and `y` are closed terms and the proof would reduce to `refl`. I think it's very rare that you erase a proof of neutral `x` and `y` that happen to be definitionally equal.

Btw, you shouldn't match on the proof in your `erase` function!

[2018-05-28 16:05] UlfNorell commented on #3092
Also, once you fix your `erase` function:
[code]
you'll notice that even for neutral `x` and `y` the proof term goes away.

[2018-05-28 16:06] UlfNorell commented on #1793
I can see two ways to go here:
- do some post processing of the output, like adding a newline after each close paren not inside string quotes
- add a flag that changes how elisp is pretty printed

[2018-05-28 16:13] andreasabel commented on #3092
(That's what I had originally, but then got unsure.)
Yes, the proof term is gone, but `erase {A} {x} {x} refl` does not reduce to `refl` any more if we restrict to closed terms in `primTrustMe`.

[2018-05-28 16:13] UlfNorell commented on #1636
What about `{x (y {z} : P x)} → Set`?

[2018-05-28 16:24] andreasabel commented on #1636
That gives the information that `z` is hidden twice.  Should give an error in the scope checker.

[2018-05-28 16:34] UlfNorell commented on #3092
Indeed. I'm proposing to make `primTrustMe` a conservative extension of the theory, so naturally we'll lose some examples that the currently over-powered `primTrustMe` can handle.

I don't think losing this particular reduction is a big problem. If `refl` works for neutral terms there really shouldn't be a big proof to erase, since you would've used `refl` to begin with.

[2018-05-28 17:18] jespercockx commented on #3092
Note that you can still get (something very close to) the current behaviour of `primTrustMe` by using rewriting:
[code]
So I think it's fine to change the behaviour of `primTrustMe` to be more conservative, since there's still a way to get the current behaviour for people who really want it.

[2018-05-28 17:33] jespercockx commented on #1764
... maybe? I'll have to try it out.

[2018-05-28 18:03] #1858 closed, assigned to nobody

[2018-05-28 18:13] UlfNorell commented on #1871
I have some vague memory of discussing something similar and reaching the conclusion that it's basically impossible. @nad?

[2018-05-28 18:19] UlfNorell commented on #1875
I know we talked about this at some point, but I don't see it mentioned here, so:

Note that the Haskell module system doesn't (afaik) let us capture one of the more common import patterns:
[code]
(and `Set` and `HashMap` and `IntSet` and ...)

[2018-05-28 19:15] UlfNorell commented on #1889
Ignoring the attempts to hijack the issue, here's a case where you don't get enough information:
[code]
I you write the `bin` case you get a helpful error location indicating the `bin l r` argument.

[2018-05-28 19:26] UlfNorell commented on #1904
Closing this until examples surface where those last two points are important.

[2018-05-28 19:26] #1904 closed, assigned to nad

[2018-05-28 19:52] UlfNorell opened #3094 "Preserve sharing in meta variable solutions by instantiating less aggressively"
Spawned off from #1906.

@vlopezj's example is here: [Issue_1906_branch.agda](https://gist.github.com/vlopezj/d3f51e5ba1941b527b801904eb271c9f).

Swanky graph:

![graph](https://cloud.githubusercontent.com/assets/1593773/14181934/7123ec68-f769-11e5-8873-1315052d7a73.png)

@andreasabel's observation:

[2018-05-28 19:58] #1906 closed, assigned to UlfNorell

[2018-05-28 19:59] UlfNorell commented on #1906
The example in the OP now checks (on my machine) in 2.5s/6.0s/8.1s and @nad's cut down example in 0.4s/1.1s/3.0s. @vlopezj's example seems to be different after all: this checks in a similar time as before (7.2s).

I filed a new issue (#3094) for the `instantiateFull` discussion and closed this since the problem in the OP seems fixed.

[2018-05-28 20:01] #3088 closed, assigned to nobody

[2018-05-28 20:16] #1930 closed, assigned to nobody

[2018-05-28 20:22] UlfNorell commented on #1932
Simpler test case using a display pragma to make things clearer:
[code]

[2018-05-28 20:38] UlfNorell commented on #1995
Do you have a test case for the actual problem? In the scenario with parameterised modules Agda is supposed to pick the right name. For instance,
[code]

[2018-05-28 20:43] UlfNorell commented on #2068
See also the actual Hyvernat ticket: #1390.

[2018-05-28 22:59] asr commented on #3093
It seems Agda mode works on Emacs 26.1 (I didn't find any problem loading a couple of files, running `agda-mode compile` or `make interaction`).

[2018-05-28 22:59] #3093 closed, assigned to asr

[2018-05-29 00:40] andreasabel commented on #3092
Great!  That sounds nice, the non-conservative primTrustMe is subsumed under rewriting!
We will have to implement the eta-aware equality check for the sake of rewriting then.

[2018-05-29 03:52] andreasabel opened #3095 "Would like to make hidden variable visible but it is created ambiguous"
This is shrunk from a large development with complicated nested induction and deep case splitting:
[code]
Here, the Agda-introduced variables `.n` are ambiguous, that's one problem.  But since on of these is from the parent function, one should nevertheless be able to split on the one introduced by the local function.

Related: #1325, #2424, #2729.

[2018-05-29 04:18] andreasabel commented on #3095
A related issue is that Agda allows `makeVisible` on a hidden variable bound in a parent clause,
but then nothing changes.
[code]
Case splitting on `.m` succeeds here but prints the same clause.

[2018-05-29 04:52] andreasabel commented on #3095
Works for me, but before adding this to 2.5.4 last minute I'd like this reviewed from someone more firm with parameter-refinement. @jespercockx @UlfNorell ?

[2018-05-29 05:24] andreasabel commented on #2875
- [ ] #3095 (after a review)

[2018-05-29 05:26] UlfNorell commented on #3095
Not quite:
[code]
`getDefFreeVars` gives you the number of module parameters but they're not necessarily variables. I believe you want to grab `freeVarsToApply` and replace the `i < fv` check by a check if `Var i []` is in that list.

[2018-05-29 05:27] UlfNorell commented on #3095
Except `i` is not a deBruijn index is it...

[2018-05-29 05:29] UlfNorell commented on #3095
Simplified the test case
[code]

[2018-05-29 05:44] #2067 closed, assigned to nobody

[2018-05-29 05:45] UlfNorell commented on #2067
Works now.

[2018-05-29 08:33] nad commented on #3093
AFAIK `make interaction` does not test Emacs.

[2018-05-29 08:44] nad commented on #1636
I suspect that the meaning of the suggested syntax is not sufficiently obvious.

[2018-05-29 09:06] nad commented on #1145
I agree.

[2018-05-29 09:19] nad commented on #1054
I'd prefer an integrated solution that could handle identifiers from other modules and overloaded identifiers and would allow things like hyperlinking in the Emacs mode. However, I have no plans to work on this right now.

[2018-05-29 09:26] nad commented on #2988
Why not? What if my commit inadvertently introduced a regression that could have been caught with a little more testing?

[2018-05-29 09:32] nad commented on #3082
The full text of the error message: `Another command is currently in progress (if a command has been aborted you may want to restart Agda)`.

[2018-05-29 09:42] nad commented on #1871
Adding commands that accomplish the same thing should be easy. Displaying `C-u <whatever>` in the key-binding slots of the menus might be harder.

[2018-05-29 09:48] nad commented on #1871
Perhaps one can use [`:keys`](https://www.gnu.org/software/emacs/manual/html_node/elisp/Extended-Menu-Items.html).

[2018-05-29 11:41] UlfNorell commented on #2089
This should be fairly straightforward to do for local modules. For imported modules we don't keep the private namespace around, and it's not clear that it's worth the trouble or even desirable to expose private names of library modules in error messages.

[2018-05-29 12:12] UlfNorell commented on #2100
Note that this is precisely the situation that arises in #59, but in that case it's a `with` that breaks apart the argument instead of a `where`.

[2018-05-29 12:27] UlfNorell commented on #2142
Is this only `C-c C-a`? Does `C-c C-spc` (give) on `λ {A} z → z` do the right thing? Or `C-c C-r`?

[2018-05-29 12:44] UlfNorell commented on #2245
You can see the problem without the import (although the import makes it more severe):
[code]

[2018-05-29 12:49] UlfNorell commented on #2780
This was fixed by c0d124275.

[2018-05-29 12:50] #2780 closed, assigned to nobody

[2018-05-29 12:55] UlfNorell commented on #2246
The type of `h` should be `Set (Y ⊔ a) → Set a`. As it is, it encodes `a <= Y` not `Y <= a`.

Fixing that still gives yellow though.

[2018-05-29 12:58] UlfNorell commented on #2249
So it would make sense for printing to behave the same way.

[2018-05-29 13:57] asr commented on #2988
In our current approach, if a serious<sup>1</sup> regression is introduced we'll release a bug-fix version. If you think your commit is fragile<sup>1</sup> please tell us (as you usually do).

<sup>1</sup> Whatever that means.

[2018-05-29 14:24] UlfNorell commented on #2275
Is it possible to define undo-hooks in emacs, so that some particular code runs when a given step is undone? We should also be careful to limit the history so we don't get a huge space leak.

[2018-05-29 14:30] UlfNorell commented on #2283
Do you mean that they still show up in the info buffer with type and source location? Is this still something that still happens to you? (I don't think I've ever seen it.)

[2018-05-29 14:42] UlfNorell commented on #2284
Fixing this would make normal lambdas behave more like pattern lambdas, which, like left-hand sides, don't allow shadowing.

If we fix this we should also make sure the same rules apply to pi types:
[code]

[2018-05-29 14:48] #2294 closed, assigned to nobody

[2018-05-29 14:52] jespercockx commented on #2284
When refactoring the LHS checker this winter, I introduced a field `scopeVarsToBind` to the `ScopeInfo` that keeps track of a bunch of variables that should be bound but cannot contain any shadowing. Maybe this could be used as well for checking lambda's and pi's binding multiple variables?

EDIT: actually in the LHS they *can* contain multiple equal names, in which case all but one are treated as

[2018-05-29 14:53] UlfNorell commented on #2361
Duplicate of #1097.

[2018-05-29 14:53] #2361 closed, assigned to nobody

[2018-05-29 15:00] UlfNorell commented on #2298
I'm not proposing you actually do this, but note that you *can* abuse do-notation to save you the indentation:

[code]

[2018-05-29 15:07] UlfNorell commented on #2326
I looked at this briefly a while back and got stuck on the fact that `defaultArgInfo` has `argInfoOrigin = UserWritten`. Changing that to `Inserted` broke lots of stuff if I recall correctly, but since pretty much every `ArgInfo` starts out as a `defaultArgInfo` having `UserWritten` as the default means we'd print a lot of implicit arguments.

[2018-05-29 15:11] UlfNorell commented on #2332
`I₁ R.f x` parses as expected now.

[2018-05-29 15:13] UlfNorell commented on #2332
Looks like it was fixed in `2.5.2`.

[2018-05-29 15:14] #2332 closed, assigned to nobody

[2018-05-29 15:16] nad commented on #2298
@UlfNorell's example works also if `Σ` is defined as a record type.

[2018-05-29 15:18] nad commented on #2298
Oh, I saw now that this issue is focused on datatypes...

[2018-05-29 15:20] nad commented on #2275
[Yes](https://www.gnu.org/software/emacs/manual/html_node/elisp/Undo.html).

[2018-05-29 15:26] UlfNorell commented on #2340
Duplicate of #1146.

[2018-05-29 15:26] #2340 closed, assigned to nobody

[2018-05-29 15:27] ahmadsalim commented on #2361
@UlfNorell As far as I understand, my issue is different than #1097, since mine concern function types, not lambdas. But maybe you want to handle them both in some parser extension.

[2018-05-29 15:36] UlfNorell commented on #2628
Fail when hole is on a different line is #1146.

[2018-05-29 15:38] UlfNorell commented on #2239
Merging with #2628.

[2018-05-29 15:38] #2239 closed, assigned to nobody

[2018-05-29 15:43] UlfNorell commented on #2361
Variables bound in function types are considered *lambda bound* even though there isn't an actual lambda involved.

[2018-05-29 15:44] UlfNorell commented on #2351
Exposing `noConstraint` is the reasonable thing to do. Keep backwards compatibility and I think there are certainly situations where you want to allow constraints.

[2018-05-29 15:54] UlfNorell commented on #2373
I'm not convinced this makes sense. Currently

[code]
is roughly equivalent to
[code]
It's not at all obvious how this would generalise to allow arbitrary arguments mixed in with the `{{...}}`.

[2018-05-29 15:54] #2373 closed, assigned to nobody

[2018-05-29 16:39] UlfNorell commented on #2406
You can also install GNU `sed` with `brew install gnu-sed`.

[2018-05-29 16:39] #2406 closed, assigned to nobody

[2018-05-29 16:47] UlfNorell commented on #2417
I think the current state of affairs is adequate.

I have enough trouble remembering what number of `C-u`s mean what thing as it is. Typing `C-c C-x C-h` (even if twice) is not that terrible of a burden to warrant a whole new set of commands.

[2018-05-29 16:47] #2417 closed, assigned to nobody

[2018-05-29 19:08] UlfNorell commented on #2420
After @jespercockx's sort refactoring (#3042) both cases produce the unsolved constraint
[code]
which looks perfectly reasonable to me.

[2018-05-29 19:11] #2420 closed, assigned to nobody

[2018-05-29 19:26] UlfNorell commented on #2436
Aren't we already doing most of the things in the proposal, aside from pattern matching on coinductive `{-# ETA #-}` constructors? I propose that a new issue be opened if that's something we want to consider. Same for any remaining parts of the proposal that I might have missed. The problem in the OP has most definitely been fixed.

[2018-05-29 19:26] #2436 closed, assigned to andreasabel

[2018-05-29 19:42] UlfNorell commented on #2499
There has been some improvements to the documentation since this issue was filed, so closing. Suggestions for further improvements are of course always welcome.

[2018-05-29 19:42] #2499 closed, assigned to nobody

[2018-05-29 19:45] #2491 closed, assigned to nobody

[2018-05-30 04:35] asr opened #3096 "Support GHC 8.4.3"
GHC 8.4.3 just was [released](https://www.haskell.org/ghc/download_ghc_8_4_3.html)... Testing.

[2018-05-30 05:04] UlfNorell commented on #2515
Where did you get the `y` from? The more natural desugaring actually checks:

[code]

[2018-05-30 05:45] asr commented on #3096
Edit: I hadn't problems with GHC 8.4.3 (`stable-2.5` and `master`).

[2018-05-30 06:07] asr commented on #2875
Commit to include:
- [x] #3096  (bd678198820f8ab1a63320baabdbc1f65a76c35d) (supported GHC 8.4.3)

[2018-05-30 09:07] UlfNorell commented on #2515
What's slightly distracting in these examples is that the type of the instance argument of `#` (`Short t (Wrap (⊤ → ⊤))`) is an eta-expandable unit type, so the instance goal can be solved by eta expansion.

Here's a simplified example that doesn't have the same issue:
[code]
The difference between the pattern lambda and the regular lambda is that the pattern lambda does not constrain its type to

[2018-05-30 09:41] UlfNorell commented on #2528
It type checks in just under 6 min and 5G for me. Here's the timing data:
[code]
Also, there seems to be a termination problem:
[code]

70% of the time is spent termination checking the huge terms you get when using indices instead of parameters.

Would it be safe for the termination checker to not look inside forced constructor arguments?

[2018-05-30 09:44] UlfNorell commented on #2528
Unclear, judging from @andreasabel's comment in #2527:

[2018-05-30 09:58] UlfNorell commented on #2547
I'm reluctant:
- It won't cover all of our current utilities, so it'll be harder to find things (you have to look both locally and in the `extra` package). For instance, currently I can use the tags file to jump to the definition of the latest combinator for monadically casing on a maybe.
- It would be a non-trivial amount of work.
- I don't really see any benefits at all.. maybe it defines some n

[2018-05-30 10:04] jespercockx commented on #2547
I think it is better to simply extend our own Agda.Utils with any functionality from `extra` that we want to use: that way we stay in control over which functions we want or don't want (similarly, we don't import Lens but define our own lens primitives). We could even think about releasing `agda-utils` as a standalone haskell package at some point.

[2018-05-30 12:07] JacquesCarette commented on #2515
I'm not so concerned with instance search (I don't use them -- yet), but I am concerned with 'loss of precision' in the types that Agda is able to tell me about in holes.  I've encountered various situations when, by 'making progress' through refining what fits in a hole, the information about what goes in the new holes goes down significantly, when one rather hopes for it to increase (or at least

[2018-05-30 12:32] asr commented on #3096
I have tested `release-2.5.4` with GHC 8.4.3 on Ubuntu.  Could someone test this branch with macOS and Windows, please.

[2018-05-30 12:51] jespercockx commented on #2515
As @identicalsnowflake said, it's probably because a pattern lambda can have additional implicit arguments before the explicit one while this is not possible for the regular lambda.

[2018-05-30 13:23] JacquesCarette commented on #2515
That answer makes sense. But leads to an obvious question: like regular lambda, would it be possible to get a 'precise' pattern lambda that requires you to give all arguments, whether they are implicit or explicit? I am not suggesting that pattern lambda be changed (I am sure that would cause too much pain), but that one be somehow allowed to have a 'precise' pattern lambda by user choice.

[I was

[2018-05-30 13:39] UlfNorell commented on #3096
I can't test with GHC 8.4.3 on Windows. The Haskell Platform is still on 8.4.2 even though it's been *hours* since the 8.4.3 release...

[2018-05-30 13:39] pavenvivek opened #3097 "Problem with declarePostulate"
Consider Suspension and see the declarePostulate (which has the issue):

[code]

`merid*` should resolve to `{A : Set} → (a : A) → (N ≡ S)` but it is resolving to `{A : Set} → (a : A) → (N* ≡ S*)`. This issue did not occur in the older development version. This happens only for types with parameters. For other types (with index or without index or params) its working fine.

[2018-05-30 13:46] asr commented on #3096
I only wanted to be on the safe side, but from GHC 8.4.3's changelog, I suppose there will be no problem. I'll wait your test on macOS for closing the issue.

[2018-05-30 15:51] andreasabel commented on #2515
@UlfNorell  asks:

I do not fully remember, but I think my line of reasoning was that the inferred type of `\ { x -> x }` could have a prefix of hidden arguments: `forall {Gamma} -> ? Gamma -> ? Gamma`

[2018-05-30 15:55] andreasabel commented on #2515
@JacquesCarette writes:

Indeed, I often have to go back to the original goal to figure out what should go into the new holes after a refine command.  This could maybe also be solved on the interaction level, that we keep a history of previous goals in some kind of "logging" buffer.

[2018-05-30 15:57] andreasabel commented on #1981
Why is this a `wontfix`?

[2018-05-30 15:59] jespercockx commented on #2515
Do you have an example of a situation where information is lost by refining a hole? The only thing I can come up with is that if you refine a hole with a constructor with multiple arguments, the constraints may be 'distributed' over the different arguments. So for example the first argument has type `Nat` which suggests any natural number will do, but then the second hole depends on the solution o

[2018-05-30 16:14] andreasabel commented on #1995
Maybe this was an instance of #2067 ?

[2018-05-30 16:20] andreasabel commented on #3095
Ok, that used to work in 2.5.3, thus, I introduced a regression.  Thanks for the review!

[2018-05-30 16:21] andreasabel commented on #3095
I can't promise to make this work until the deadline (June 3) as I am travelling right now.  Thus, I put this on 2.5.5.

[2018-05-30 16:26] andreasabel commented on #1636
Braces `{ }` around something declare this thing hidden, but ordinary parentheses `( )` are just for disambiguation (otherwise you could not write `{(arg)}` as a hidden argument in an application).
What  is the problem?

[2018-05-30 16:30] andreasabel commented on #2988
I do not have an opinion about the current issue, because a regression here would not be very harmful.
In general I think it is fine to fix an issue for 2.5.5 and not release it with 2.5.4.

[2018-05-30 16:32] andreasabel commented on #3082
Reading with my brain 1 (association-making) I pick out `restart Agda` as the only suggestion for solving this problem.  The message should also suggest `try again`.

[2018-05-30 16:34] andreasabel commented on #2089
Maybe it is sufficient to change the wording to `module M.Private not in scope`.

[2018-05-30 16:43] andreasabel commented on #1932
I think the path to fix this problem is clear, but its tediousness discouraged me:  In `InternalToAbstract`, the display form machinery has to be implemented for patterns as well.  This means either duplicating the code for terms, or abstracting stuff enough to also work for patterns.  (The current displayFormP only introduces `with`, does not apply display forms to individual patterns on the lhs.

[2018-05-30 16:44] andreasabel commented on #2245
Isn't this just and instance of #1932 ?

[2018-05-30 16:45] JacquesCarette commented on #2515
The situation I am thinking of is when doing some equational reasoning, I know what the 'right' lemma to apply is, so I fill that in; say the lemma has 2 inputs, so we get 2 new holes. And now when I ask what should go in those holes, I get either a fresh constraint (decorated) or an equality of the kind _a \== _b and no further information on what should really go there. Even though it is 'obviou

[2018-05-30 16:48] andreasabel opened #3098 "Transitivity of level inequality needed for unsolvability"
The remaining MWE from #2780.
[code]
Should discover that the level constraints are unsolvable.

See also #2246.

[2018-05-30 16:48] andreasabel commented on #2780
I filed my example https://github.com/agda/agda/issues/2780#issuecomment-334754540 as #3098.

[2018-05-30 16:50] andreasabel commented on #2246
See also #3098.

[2018-05-30 20:17] UlfNorell commented on #1981
I interpreted the discussion as *"it'd be really awkward to allow rewrite rules with variable heads and there's a reasonable workaround"*. If you think this is something we'd like to allow I have no objections.

[2018-05-30 20:22] UlfNorell commented on #1995
Perhaps. Closing provisionally. Reopen as needed.

[2018-05-30 20:22] #1995 closed, assigned to nobody

[2018-05-30 20:28] UlfNorell commented on #1636
The problem is that it's introducing complications in the syntax without making any easier for the user. Or are you seriously suggesting that
[code]
is easier to read than
[code]
?

[2018-05-30 20:29] UlfNorell commented on #2089
That would indeed be the cheapest solution 👍

[2018-05-30 20:32] UlfNorell commented on #2245
Yes indeed. Closing as duplicate and taking #1932 out of the icebox.

[2018-05-30 20:32] #2245 closed, assigned to nobody

[2018-05-30 20:33] UlfNorell commented on #3096
No problems on MacOS with ghc-8.4.3.

[2018-05-30 21:57] pavenvivek commented on #3097
This issue is not observed in Agda 2.5.4 release version.

[2018-05-30 22:20] #3096 closed, assigned to asr

[2018-05-30 22:36] asr commented on #3097
I'm having problems for testing your example. Please add the missing imports.

Which version are you talking about? The 2.5.4 release candidate 1 or 2?

[2018-05-30 22:48] pavenvivek commented on #3097
Release version 2.5.4 -> v2.5.3.20180526

[2018-05-30 23:43] asr commented on #3097
I'm getting a different error:

1. I used Agda syntax highlighting on your example. Please remove the `&nbsp;`s.
2. Which is the output of `agda --version`?

[2018-05-31 00:24] pavenvivek commented on #3097
Output of agda --version -> "Agda version 2.6.0-f4ad812"

[2018-05-31 00:48] asr commented on #3097
I'm getting `{A : Set} → A → .Issue3097.Susp.Σₛ*.N* ≡ .Issue3097.Susp.Σₛ*.S*` on both Agda versions (v2.5.3.20180526 and the version in the current master). How did you get the type of  `merid*`?

[2018-05-31 00:50] pavenvivek commented on #3097
I used the following macro:

[code]

[2018-05-31 00:59] pavenvivek commented on #3097
Its resolving to {A : Set} → (a : A) → (N* ≡ S*) in v2.5.3.20180526 as well.

[2018-05-31 01:00] asr commented on #3097
I got the error:

[code]

Note that you can use syntax highlighting on your examples using Markdown (see these [examples](https://guides.github.com/features/mastering-markdown/#examples)).

[2018-05-31 01:04] asr commented on #3097
Good.

[2018-05-31 01:04] #3097 closed, assigned to nobody

[2018-05-31 01:13] pavenvivek commented on #3097
But its inconsistent. For types with indexes it behaves differently.

[2018-05-31 01:17] pavenvivek commented on #3097
The first version of declarePostulate (in commit -> "https://github.com/agda/agda/tree/c5f355860d5a359f863ce21d6c17f9ee4552f8b8") had a different behavior. It resolved merid* to {A : Set} → (a : A) → (N ≡ S). Is the specification for declarePostulate changed?

[2018-05-31 05:16] UlfNorell commented on #3097
The change is that `N` and `S` are getting inlined. See second and third bullet point [here](https://github.com/agda/agda/blob/0bc4648f0f22889c923acd1ba6d82cf78c1ca142/CHANGELOG.md#language).

To prevent inlining you can use the `NOINLINE` pragma:
[code]

[2018-05-31 05:28] pavenvivek commented on #3097
Got it. Thanks !

[2018-05-31 05:47] UlfNorell commented on #2500
Actually it's a combo of #434 and #1079. Here's the failing example without the record:
[code]

[2018-05-31 05:54] UlfNorell commented on #2556
Can you be more precise (do you remember) what exactly is blocking here? The record part of #2500 was just our old friend *not-a-valid-let-declaration* (#434), so I don't see how you could be blocked on that. Is the problem implicit lambda insertion (#1079/#2099)?

[2018-05-31 06:04] UlfNorell commented on #2557
As noted by @Saizan in https://github.com/agda/agda/issues/1113#issuecomment-132956388, it's most likely not safe to postpone errors from yet undefined clauses.

However in this case, the `iSuperclass` field really should be defined before the `sub` field. Currently missing instance clauses are added during coverage checking, after type checking the individual clauses, but in this situation we nee

[2018-05-31 06:14] UlfNorell commented on #2561
Some observations:

Adding another field makes it fail even harder:
[code]
But the corresponding field telescope checks without problems:
[code]

[2018-05-31 06:20] UlfNorell commented on #2563
The goal type is right there in the constraint:
[code]
I think the list of candidates doesn't hurt here, but we should certainly indicate that solution doesn't proceed due to UMs.

[2018-05-31 12:36] UlfNorell commented on #2591
It's indeed a bit strange that you get `Couldn't parse the application` in your case but
[code]
gives you `Not in scope: bla`.

It's not clear, however, how you would define this set of "known" operators.
- Private operators from local (imported?) modules?
- Public operators from local (imported?) modules that are not opened?
- From modules that are opened but hiding/not using/renaming the operato

[2018-05-31 12:41] UlfNorell commented on #2591
We really should just give an out of scope error for `_+_` here, since it's clear that `_+_` is not part of any operator in scope.

[2018-05-31 12:46] UlfNorell commented on #2593
Here's a complete test case
[code]

[2018-05-31 12:47] asr commented on #2875
@andreasabel [wrote](https://github.com/agda/agda/issues/3095#issuecomment-393224571):

My plan is to make the final release on June 2.

[2018-05-31 12:51] UlfNorell commented on #2595
It seems to me that the problem is with allowing `IsTrue` to be shape irrelevant in `x`. Aren't the shape of `IsTrue false` and `IsTrue true` quite different?

[2018-05-31 13:00] UlfNorell commented on #2607
This seems to have been fixed at some point. Adding test case.

[2018-05-31 13:01] #2607 closed, assigned to nobody

[2018-05-31 14:17] UlfNorell commented on #2622
Note that this doesn't work even for ordinary pattern synonyms: #2829.

[2018-05-31 14:24] #2627 closed, assigned to nobody

[2018-05-31 14:25] UlfNorell commented on #2627
Fixed since `2.5.3`.

[2018-05-31 14:26] #2630 closed, assigned to nobody

[2018-05-31 14:28] nad commented on #2591
Is the idea to check, for every name part in an expression, whether it is in scope (possibly using a module prefix, if applicable) as a regular name, as part of an operator, or as part of some `syntax` notation? A naive implementation might be rather slow if lots of operators are in scope. Even if we construct a reasonably efficient implementation I suggest that we optimise for the common case and

[2018-05-31 14:33] nad commented on #2618
Now the four last cases are printed as regular lambdas. Is this expected?

[2018-05-31 14:37] UlfNorell commented on #2591
Clearly we already do this check:
[code]
[code]

[2018-05-31 14:37] nad commented on #2618
Here is a new test case:
[code]
`Test₃` and `Test₅` look suspicious to me.

[2018-05-31 14:42] UlfNorell commented on #2618
I don't know about expected, but at least it's not wrong.

Yes, that's indeed not correct.

[2018-05-31 14:45] nad commented on #2591
No, we don't verify that, say, `]_` is "in scope" given that `M._[_]_` is in scope.

[2018-05-31 15:01] UlfNorell commented on #2591
But we do it for non-qualified operators, as evidenced by my example.

All I'm suggesting is that
[code]
and
[code]
both give a `Not in scope` error. I don't see how the latter case would require expensive work, but the former not.

[2018-05-31 15:28] UlfNorell commented on #2675
What's tripping people up (whether this is design flaw or not can be debated) is that constructors and projections get special treatment. It's clearer why this is a good idea for constructors:
[code]
Having either `M.c` or `N.c` take `A` as an explicit argument would be quite strange, especially in the left-hand side. For projections it's less clear cut, but I think the current behaviour is the on

[2018-05-31 15:30] nad commented on #2591
What about the following code?
[code]

[2018-05-31 15:31] #2678 closed, assigned to nobody

[2018-05-31 15:38] UlfNorell commented on #2591
That should behave the same as `ACTUALLYIN Set SCOPE`, I don't see why the underscore should make a difference. In this case I suppose it would be nice if it complained about both `ACTUALLY_IN` and `SCOPE` not being in scope.

[2018-05-31 15:48] UlfNorell commented on #2683
With the minor disadvantage that it would break all code everywhere.

I'm not entirely convinced the original proposal is a good idea, but fortunately there is a nicer work-around:
[code]

[2018-05-31 16:10] UlfNorell commented on #2713
The test case in the OP checks now.

For this case (when reversing the order), I now get

[code]
This is perfectly fine. Note that `iDP` is not a valid instance since it requires `?C = C` and we don't have that until `?C` has been defined (see #1113 for some discussion).

[2018-05-31 16:11] #2713 closed, assigned to nobody

[2018-05-31 16:13] UlfNorell commented on #2719
I would not be against removing the error tooltip.

[2018-05-31 19:00] UlfNorell commented on #2715
I'm fine with this change, but on the other hand I don't use `abstract` even for performance.

[2018-05-31 19:10] UlfNorell commented on #2852
This won't happen for the current library system, which is nothing more than a dressed-up way of managing include paths.

[2018-05-31 19:10] #2852 closed, assigned to nobody

[2018-05-31 19:12] UlfNorell commented on #2750
I think it's safe to say that adding major new functionality to Agsy is not in the cards.

[2018-05-31 19:12] #2750 closed, assigned to nobody

[2018-06-01 05:39] UlfNorell commented on #2760
Related #2563.

There are two purposes of the unconstrained meta check
- prevent loops
- prevent unpredictable behaviour

It seems to me like neither of those are a problem here. A possible relaxation might be:

When there are unconstrained metas
- proceed checking the candidates, but abort at recursive goals (preventing loops)
- if exactly one local (lambda bound) candidate fits, use it
- if the

[2018-06-01 05:43] UlfNorell commented on #2766
This is precisely #1079 (and #2099).

[2018-06-01 05:43] #2766 closed, assigned to nobody

[2018-06-01 05:47] UlfNorell commented on #2767
I guess the right thing to do would be to keep the cached interfaces and check that they refer to the module you expect when trying to load them.

[2018-06-01 07:46] UlfNorell commented on #2797
There seems to be a much deeper problem here: if you write the term `F .map-id h` explicitly without going through `give`, it type checks! I suspect this is the reason you get a bad error message.

I didn't manage to prove false (sadly), but at least canonicity fails:
[code]
It looks like this might be a problem with overloaded projections. If you change
`open R theR public` to `open R theR public

[2018-06-01 07:50] UlfNorell commented on #2797
Slightly simplified. It is indeed overloaded projections that causes the problem:
[code]

[2018-06-01 07:53] UlfNorell commented on #2800
The other issues in the family: #1146 and #2628.

[2018-06-01 08:34] UlfNorell commented on #2803
Seems to work now:
[code]
produces
[code]

[2018-06-01 08:36] jespercockx opened #3099 "Option for double-checking terms using checkInternal"
It would be nice to have an option `--double-check` to run `checkInternal` on all terms produced by the main Agda typechecker. Some places where we could insert this check:

- types of top-level declarations
- right-hand sides of definitions by pattern matching
- constructor and field types
- types of module parameters

Adding this option shouldn't take much effort, though dealing with all the bug

[2018-06-01 08:37] #2803 closed, assigned to jespercockx

[2018-06-01 08:52] UlfNorell commented on #2804
I'm not sure I understand exactly what you are doing here. At the moment you "install" a library by adding the path to its `.agda-lib` file to your `libraries` file (typically in `~/.agda`).

With your change it looks like you should copy the `.agda-lib` file to the `/var/lib/agda` directory? How does this work with include paths? For example, the standard library library file says `include: src`,

[2018-06-01 09:09] UlfNorell commented on #2806
This is #958. The generated display form is local to the record module `S`. In order for it to apply outside `S` it would need to be generalised.

[2018-06-01 09:09] #2806 closed, assigned to nobody

[2018-06-01 09:09] UlfNorell commented on #958
Another test case in #2806.

[2018-06-01 09:13] UlfNorell commented on #2813
Those are two rather different commands. I'm merging the *insert-rewrite* command with #2768 (generating a `with`) and specialising this issue for the *what-if* command.

[2018-06-01 09:14] UlfNorell commented on #2768
Should also handle `rewrite` (from #2813).

The suggestion there was to not have a new command, but change `give` to recognise `rewrite e` and `with e` and do the right thing.

[2018-06-01 09:24] nomeata commented on #2804
Hmm, I don’t remember all my thoughts from back then, but yeah, I think the plan was for the package maintainer to adjust the `include` path to be absolute when a library is installed via a system package.

That would work as well!

[2018-06-01 09:47] UlfNorell commented on #2880
The only other way to use the FFI is for postulates, and those are already not allowed.

[2018-06-01 09:53] UlfNorell commented on #2890
Closing as duplicate of #59.

[2018-06-01 09:53] #2890 closed, assigned to nobody

[2018-06-01 10:04] UlfNorell commented on #2891
Really it ought complain that you should have left out the body:
[code]
It would actually be quite handy if instead of
[code]
you could say
[code]

[2018-06-01 11:34] UlfNorell commented on #2917
It looks like the size constraint is being duplicated every time we attempt to solve it, causing an (doubly?) exponential number of identical constraints.

[2018-06-01 11:50] nad commented on #2591
If `ACTUALLY_IN_SCOPE` is in scope, then we should not complain about the code I gave above.

[2018-06-01 11:55] nad commented on #2715
I think this change sounds sensible.

[2018-06-01 11:58] UlfNorell commented on #2591
No, of course not. We also shouldn't complain about `x + y` if `_+_`, `x` and `y` are all in scope. I fail to see your point.

[2018-06-01 12:03] nad commented on #2767
I assume that you mean *file* rather than *module*.

I don't think it's quite as easy as that. What if you have changed the include path so that some module that the given file depends on now resides in a different file?

[2018-06-01 12:16] nad commented on #2591
All I'm saying is that we can't just look up every name part in the symbol table, and a linear search might be too slow.

[2018-06-01 12:24] UlfNorell commented on #2591
Ok, but then I don't understand how these two examples can behave differently:
[code]
[code]

[2018-06-01 12:24] #2917 closed, assigned to nobody

[2018-06-01 12:30] UlfNorell commented on #2767
Right.

I believe we store the module (file? I'm unclear on when I'm allowed to use which word) dependencies in the interface. Maybe the best thing to do would be to prune the cached interfaces when the include path changes and throw out any interfaces with changed dependencies.

[2018-06-01 12:35] nad commented on #2591
In the former case `bla` cannot be parsed as an atom, but in the latter case it can:
https://github.com/agda/agda/blob/c727f3f19b0418e218cdf70ebff66f822c01f415/src/full/Agda/Syntax/Concrete/Operators.hs#L258-L288

[2018-06-01 12:44] UlfNorell commented on #2946
cc #3071

[2018-06-01 12:52] UlfNorell commented on #2958
Seems fixed now.

[2018-06-01 12:52] #2958 closed, assigned to nobody

[2018-06-01 13:04] jespercockx commented on #1764
`--omega-in-omega` is now implemented but unfortunately it doesn't immediately fix the problem here. With the new flag, the definition of `IO′` is not accepted unless you put it in `Setω`, which means there are a lot of things such as `sequence` that cannot be defined (since `Setω` is not part of the universe hierarchy).

What's needed to get the example of @gallais to work is a way to define an i

[2018-06-01 13:07] #2966 closed, assigned to nobody

[2018-06-01 13:08] UlfNorell commented on #2966
"Fixed" by not throwing an internal error. Auto doesn't do anything useful for this example though.

[2018-06-01 13:24] effectfully commented on #1764
I needed to solve the same problem a couple of years ago and I had found a solution: [Emulating cumulativity in Agda](http://effectfully.blogspot.com/2016/07/cumu.html). It's [battle-tested](https://github.com/effectfully/Generic/blob/master/Core.agda#L14). Though, it's non-trivial boilerplate for the library author.

[2018-06-01 13:31] semenov-vladyslav opened #3100 "Typecheck result inconsistent and depends on an unused import"
[code]

Without the DecPropositional import the module incorrectly(?) typechecks.
With the DecPropositional import uncommented Agda correctly(?) fails with the following error:
"I'm not sure if there should be a case for the constructor refl, because I get stuck when trying to solve the following unification problems (inferred index ≟ expected index):
  _11 ≟ _13
when checking that the pattern ref

[2018-06-01 13:51] nad commented on #2958
OT: Perhaps we could include test cases for (some) reported bugs in the repository. That way we might notice when they get fixed "inadvertently".

[2018-06-01 15:34] UlfNorell commented on #2591
former <-> latter?

Why is this distinction cheap for `bla` and expensive for `_+_`?

[2018-06-01 16:26] nad commented on #2591
No. In the latter case we parse the application of `bla` to `Set` and `Set`, and then we notice that `bla` is not in scope. In the former case we fail to parse anything at all.

I don't understand the question.

[2018-06-01 17:32] UlfNorell commented on #2591
My question is: If we can parse `bla` as an atom and then notice it's not in scope, why can't we do the same for `_+_`?
[code]

[2018-06-01 17:34] UlfNorell commented on #2958
There are already some in `test/bugs`, but we haven't gotten around to setting up a proper test suite for them.

[2018-06-01 17:40] UlfNorell commented on #3100
The difference is that with the import, `_∷_` becomes ambiguous causing the pattern match to fail. If you change the type to `a Vec.∷ as ≡ b ∷ bs` it works in both cases.

You might think that since `as : Vec S n` we'd be able to figure out that it's `Vec._∷_`, but it's not that easy. See #79 for some discussion.

[2018-06-01 17:40] #3100 closed, assigned to nobody

[2018-06-01 17:42] UlfNorell commented on #2970
Not really one more, but exactly #513.

[2018-06-01 17:42] #2970 closed, assigned to nobody

[2018-06-01 17:43] UlfNorell commented on #2972
Indeed.

[2018-06-01 17:43] #2972 closed, assigned to nobody

[2018-06-01 17:47] #2980 closed, assigned to nobody

[2018-06-01 18:05] UlfNorell commented on #3000
And very worthy one to be bug number 3000 (or b3k as we like to call it).

If you give `T lzero {!!}` instead of `T lzero ?` there's no internal error!?!

Looking briefly at the debug output it looks like with `?` it (incorrectly) counts as an existing interaction point, confusing the code that's handling #707. It's amazing that there's a difference between `{!!}` and `?` that survives all the way

[2018-06-01 18:14] nad commented on #2591
Perhaps we can. However, when expressions are parsed we currently do not treat `_+_` as a single token, but as the three tokens `_` (Left), `+` and `_` (Right). When adding support for sections I used this technique to avoid creating grammars of size Ω(2<sup>*n*</sup>), where *n* is the number of internal holes of the operator/notation with the largest number of holes.

[2018-06-01 18:17] nad commented on #2958
We could put test cases in (say) `test/Fail` along with comments noting the desired behaviour.

[2018-06-01 18:18] UlfNorell commented on #3006
I'm not violently opposed to this extension (with the `.()` syntax), but I am also not that annoyed by having to write
[code]
instead of
[code]
I suppose the latter could be allowed also for the non-eta record unit type...

[2018-06-01 18:26] UlfNorell commented on #3009
I'm not sure what you're expecting from that code.
[code]
is also a parse error.

[2018-06-01 18:31] UlfNorell commented on #3009
@nad is your proposal to not allow `--` inside names anymore? I'd be more inclined to go with @andreasabel's suggestion (following Haskell) and require whitespace before and after the dashes.

Note that this works at the moment:

[code]

[2018-06-01 18:32] semenov-vladyslav commented on #3100
Thanks. Error message was confusing here.

[2018-06-01 18:40] asr commented on #2958
Good to know what `test/bugs` was for.

[2018-06-01 18:44] nad commented on #3009
The following is a better example:
[code]
I wanted that code to declare `A : Set`.

It seems as if the commit that I mentioned above did not do what it was supposed to do. Now, nine years later, there could be code that relies on the possibility to use names like `A--`. I think we should be wary of breaking existing code only to tweak Agda's lexical syntax. I suggest that we stick to the status qu

[2018-06-01 19:22] UlfNorell commented on #3032
A reasonable thing to do would be to leave the variable as it is if the dot pattern contains weird stuff like interaction points or out-of-scope names.

[2018-06-01 19:45] UlfNorell commented on #3055
The difference seems to be that in the working cases `T⦅_⦆` is `Nonvariant` in `γ` and in the failing cases it's `Invariant`. I have not analysed it enough to say whether this is a bug or a limitation of the polarity analysis.

[2018-06-01 19:59] UlfNorell commented on #3059
Wouldn't a work-around be to *not* parameterise over `S` if the rewrite rule doesn't actually depend on `S`:
[code]
As soon as you have a "real" dependency on `S` there won't be a problem<sup>[conjecture]</sup>.

[2018-06-01 20:01] UlfNorell commented on #3059
Also, I'm guessing there's a reason for the bound-by-the-left-hand-side check. Are you sure the failing `f-id` shouldn't fail?

[2018-06-01 20:29] UlfNorell commented on #3081
Something is clearly wonky with the `--without-K` termination checker. Here's a simplified example:
[code]

[2018-06-02 11:43] asr commented on #2875
Release time... The `release-2.5.4` branch is frozen.

[2018-06-02 12:02] asr commented on #3093
Right.

[2018-06-02 13:14] asr commented on #2659
Hackage currently doesn't support tables, see  https://github.com/haskell/hackage-server/issues/565.

[2018-06-02 14:26] asr commented on #2875
Commit to include:
- [x] #2875 (1449586222f85128de90913f01a7a0b948fc869c) (Added list of closed issues to the CHANGELOG)

[2018-06-02 15:40] nad commented on #2875
The changelog contains a long list of closed issues. I assume that quite a few of these issues do not relate to bugs in previous versions of Agda, or to new features introduced in this version, but to bugs in previous development versions that have never been released. I think the list would be more useful if such issues were not included.

[2018-06-02 16:32] asr commented on #2875
I agree but I don't know how to choose those issues from the bug-tracker using the current tags. Any ideas?

[2018-06-02 19:28] asr commented on #2875
I have uploaded to Hackage Agda [2.5.4](https://hackage.haskell.org/package/Agda-2.5.4).

[2018-06-02 20:18] asr commented on #2875
Great job everyone, Agda 2.5.4 was released!

And a special acknowledgement to Ulf for his *comprehensive* revision of the old issues!

[2018-06-02 20:18] #2875 closed, assigned to asr

[2018-06-02 20:36] jespercockx commented on #2875
Also thanks to @asr for the smooth release!

[2018-06-02 20:55] jespercockx opened #3101 "Clean up old github branches"
It would be nice if we could clean up some of the unused branches on Github. AFAICT, the following branches are currently in use:
- `master`
- `stable-2.5`
- `parametric`, `flat`, `hits` (assuming @Saizan will continue developing these)
- `CPSWriter` (see #1709)
- `issue2503-useless-imports` (see #2503)

I'm pretty sure we can delete the following branches since they have no patches not on master:

[2018-06-03 03:17] asr commented on #3101
Yes, you can remove them except `release-2.5.4`. Please note I tagged this issue with `dev-op`.

[2018-06-03 06:44] UlfNorell commented on #2875
Yes, awesome work everyone!  🎉🎈🍰

[2018-06-03 09:07] nad commented on #2875
Yes, thanks to all!

Not with the current tags, this was more of an idea for the future.

[2018-06-03 09:12] nad commented on #3101
Are the tags, and all commits reachable from the tags, still backed up on GitHub if the branches are removed?

[2018-06-03 09:23] UlfNorell commented on #3101
The `NameRep2` branch was an attempt by  @andreasabel to speed up serialisation by using byte strings instead of strings for names.

In the final commit he writes:

I think we can safely remove this.