[2020-06-30 20:45] zac-garby commented on #4787
[code]

And, those two lines it added are the same as the lines that were already in my `.emacs`.

[2020-06-30 22:50] asr commented on #4787
Which is the output of running `find -name '*.elc'` on the `~/.cabal/` directory?

[2020-06-30 23:33] zac-garby commented on #4787
No results returned from `find .cabal -name "*.elc"` (or "sudo find .cabal | grep "etc"`, which I tried as well just in case.)

[2020-07-01 01:03] asr commented on #4787
Did you get the same behaviour running `emacs Foo.agda`?

[2020-07-01 08:16] Saizan commented on #4786
I don't see a conflict between making parameters erased for projections while leaving them non-erased for definitions in the record module.

[2020-07-01 12:06] nad commented on #4786
The projections are defined in the record module, and the module's telescope is built using the parameters.

[2020-07-01 12:24] zac-garby commented on #4787
I get the same problem if I `C-x C-f Foo.agda`, I'm not seeing any error when I run the terminal-based emacs with `emacs Foo.agda` but I'm guessing that's because whenever I open the terminal-based emacs even without opening an Agda file I get an (unrelated) warning which is probably covering up the Agda error (the Agda file's buffer is still using the Fundamental major mode.)

[2020-07-04 00:11] AaronNGray commented on #2857
I have done :-
 `cabal install --lib ieee754`

and have
[code]

but get :-
[code]

[2020-07-04 19:12] Blaisorblade commented on #4526
Unassigned myself — which I should have done much earlier. I haven't found the time to finish this earlier, and with my new job, I assume I won't.

[2020-07-04 19:12] Blaisorblade commented on #2005
Unassigned myself — which I should have done years ago. I haven't found the time to finish this earlier, and with my new job, I assume I won't.

[2020-07-04 19:32] EdNutting commented on #2005
Oh dear, looks like I dropped the ball on this one too - never quite got around to finishing the write up somehow (one disk failure later and I have no idea where it has ended up.)

If it's okay with others, I'll assign myself to this so it enters my Assigned Issue List and deal with it over the coming week :)

[2020-07-05 10:23] EdNutting commented on #2005
This ticket has turned into a duplicate of #4665

[2020-07-06 06:36] asr opened #4792 "Bump QuickCheck version to 2.14.1"
When using [QuickCheck 2.14.1](https://hackage.haskell.org/package/QuickCheck-2.14.1/changelog), which supports the new [random 1.2.0](https://hackage.haskell.org/package/random-1.2.0/changelog), the internal test suite runs 25% faster.

[2020-07-06 11:09] gallais opened #4793 "Document the meaning of various `String`s in `Agda.Utils.Environment`"
Document the meaning of various `String`s in `Agda.Utils.Environment`

Cf. https://github.com/agda/agda/commit/79695356bc3fccbc3198306493c526dbc485cfed

[2020-07-06 20:18] mouse07410 commented on #4765
@asr I've done more experiments. It looks like `jobs: ` might matter when you *build* Agda, but is not relevant when you run tests.

Here's the patch I found necessary to successfully build *and* pass all the current tests. I suggest that if in your experience it doesn't break things on other platforms - you incorporate it into the `master`:
[code]

[2020-07-06 20:54] asr commented on #4765
You shouldn't use `agda` from the `cabal/bin` directory but from the build directory.

It is not necessary remove the above line (but we need to fix https://github.com/agda/agda/issues/4610).

[2020-07-06 22:02] mouse07410 commented on #4765
A good point. I'll try that and report back.

Well, it is necessary for as long as #4610 remains un-fixed.

### Update
I'm trying to figure whether allowing large number of parallel jobs is a only problem during the  build/installation of the Agda dependencies. Reason to suspect that - initially my build failed (`jobs: 20`). I limited it to 1, managed to build, got through several smaller issues,

[2020-07-07 01:10] mouse07410 commented on #4765
Current Makefile:
[code]

Test shows that `AGDA_BIN` **must** be set to an **absolute path**, otherwise this is the result:
[code]

[2020-07-07 02:27] asr commented on #4765
This is wrong. Replace `Agda` by `agda`. Why did you need to define `AGDA_BIN`?

[2020-07-07 03:33] mouse07410 commented on #4765
Yes I noticed.

No, that does/did not help.

Two possibilities. One - I've nothing better to do with my time than messing with somebody else's working code in languages I do not have sufficient expertise with. Two - the code/Makefile in the repo did not work properly, and the only way to actually get (all) the tests to pass (on my platform) was setting `AGDA_BIN` env var to something reasonable. T

[2020-07-07 18:05] ice1000 commented on #4610
I'm using a dev version of Emacs: GNU Emacs 28.0.50 under WSL.

Same error.

[2020-07-07 18:15] xekoukou commented on #4610
GNU Emacs 26.1 (Debian)

[2020-07-07 20:52] mouse07410 commented on #4765
OK, more feedback. It looks that no matter where in the Makefile I put the `GHC_ENVIRONMENT=-` statement, it is not sufficient. There always pops one or more of the test classes that doesn't get this setting.

It looks like the only sure way wrt. `GHC_ENVIRONMENT` is doing something like
[code]
or such.

Sorry.

My other points stand.

[2020-07-08 08:47] txa commented on #3328
Is there any progress on this? Do I need to define a separate ¬p : Prop -> Prop for propositions among many other such combinators?

[2020-07-08 13:19] guillaumebrunerie commented on #3328
What is your use case? I have changed my mind since I posted this issue, and I now feel that `Prop` and `Set` are sufficiently different that I’m not sure anymore it’s a good idea to mix them up in this way. For instance the binary product type on `Prop` represents logical conjunction, while on `Set` it represents the cartesian product, which are two quite different things (unless you use proposit

[2020-07-08 17:25] mouse07410 opened #4795 "Build "agda-tests" fails using dynamic linking"
Everything is similar to #4765 - same setup, except this time it's `jobs: 1`. Everything that does **not** require `agda-tests` executable seems to work. `agda` gets built/linked successfully.

Before any new build I did `make clean`, to ensure nothing from the previous build could interfere.

[code]

Files:
[code]

Full `make install` output:  [make-out-2020-07-08.txt](https://github.com/agda/agd

[2020-07-08 22:46] mouse07410 commented on #4795
Not clear what caused this. After wiping everything Agda-related from `~/.cabal/` and `~/.ghc/`, and re-cloning the repo (wiping the existing one), build succeeded.

Here's the script I used to drive the successful build:
[code]

[2020-07-08 23:13] mouse07410 commented on #4795
It would help if there were some guidance how to re-build when some source files in this repo are updated:

1. What's the best/correct way of cleaning the existing installation - what files/directories must be removed, and how/with what tools?
2. Since wiping the cloned repo and re-cloning is an effective but crude way - what are the good alternatives? Just do `make clean`?

[2020-07-09 10:31] gallais commented on #4795
I never need to remove anything in between builds. I typically just `make`.

This type of error seems very dubious:

Suggests to me a cabal or ghc problem.

[2020-07-09 13:17] mouse07410 commented on #4795
Understood, thanks.

All of my builds are dynamic. Which, as I understand, is rather rare in the Haskell world. Perhaps that explains...?

You mean - they may have a problem dealing with dynamic builds? All I can say they build fine (on my systems!) fairly complex packages like `haskell-ide-engine` that also have a bunch of dependencies.

[2020-07-09 13:20] asr commented on #4795
I could reproduce the problem using dynamic linking. Testing...

[2020-07-09 14:52] txa commented on #3328
When formalising stuff on setoid type theory we noticed that we had lots of repetitions, like sigma types on Prop and Set apart from the existential which is different because you need to truncate but otherwise looks the same. In general all logical constants appear in many disguises but always defined in exactly the same way.I mean basically Prop is a static version of Prop and we use the same co

[2020-07-09 15:00] mouse07410 commented on #4795
Thanks!

What surprised me was that after I wiped out everything (I could think of) Agda-related, and re-cloned the repo, it seemed to work that first time...

[2020-07-09 15:04] asr commented on #4795
Yes, I'm getting the same behaviour in a fresh repository. Weird!

[2020-07-09 17:21] asr commented on #4795
Setup:

i) a `cabal/config` file where any related to shared/static/dynamic is commented out,
ii) a fresh repository,
iii) GHC 8.10.1 and
iv) `cabal-install` 3.2.0.0.

I'm getting the following behaviour:

[code]

Why GHC is generating both the `o.` and the `.dyn_o` files? Since I disabled the dynamic linking, GHC shouldn't generate the `.dyn_o` files. Any ideas?

[2020-07-09 17:39] mouse07410 commented on #4795
No clue. Except that on some platforms one *cannot* do a true `--disable-executable-dynamic` because that platform provides only dynamic system libraries. Perhaps the compiler takes that into account? *I'm just guessing - I've no idea what causes this, and whether it's correct or not.*

### Update
While I don't know what causes creation of those `.dyn_o` files, and whether they should've been crea

[2020-07-10 03:42] asr opened #4796 "Creation of dynamic files when disabling dynamic linking"
I noted the following behaviour while working in #4795:

[code]

Why GHC is generating both the `o.` and the `.dyn_o` files? Since I disabled the dynamic linking, GHC shouldn't generate the `.dyn_o` files. Any ideas?

Setup:

i) a `.cabal/config` file where any related to shared/static/dynamic is commented out,
ii) a fresh repository,
iii) GHC 8.10.1 and
iv) `cabal-install` 3.2.0.0.

@mouse07410 [

[2020-07-10 03:46] asr commented on #4795
I agree. I filed #4796 for discussing about those `dyn_o` files.

[2020-07-10 03:48] asr commented on #4795
I'm not familiar with `stack` but I couldn't reproduce the problem using it. @mouse07410, can you?

[2020-07-10 15:36] mouse07410 commented on #4795
I'm not that familiar with `stack` either - and would prefer not to mix build toolchains. Also, is your `stack` configured for dynamic build? I.e.,

`~/.stack/config.yaml`:
[code]

[2020-07-10 15:53] asr commented on #4795
So do I. I'm just testing...

Also, is your `stack` configured for dynamic build? I.e.,

My file only has comments. For building using `stack` I followed [this](https://github.com/agda/agda/blob/552987aa0119f2bca5eaf4dca7934e37209112f9/.travis.yml) file and I added the option `--ghc-options dynamic`:

[code]

[2020-07-10 16:06] mouse07410 commented on #4795
I do not know if just adding `--ghc-options ` is sufficient to ensure *all* of the dependencies would be built with it. In the past I've had issues when command-line arguments to `stack` did not end up reaching all of the dependent packages (same with `cabal`, BTW). So, if your test succeeds - I'm afraid it's inconclusive. And only if it fails we have something tangible to pursue... :-(

[2020-07-10 16:52] asr commented on #4796
I found a similar issue (https://github.com/haskell/cabal/issues/6688) reported by @mouse07410 on Cabal repository.

[2020-07-10 21:06] mouse07410 commented on #4796
Yes. ;-)

I wonder what you would observe if you configure `stack` the way I showed in https://github.com/agda/agda/issues/4795#issuecomment-656739356 and try a build, first - fresh, then - repeated.

[2020-07-16 04:54] asr opened #4797 "Support GHC 8.8.4"
GHC 8.8.4 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2020-July/019039.html). I created this issue for collecting/reporting the required changes/issues.

Known issues (2020-10-02):

* [ ] https://gitlab.haskell.org/ghc/ghc/-/issues/18634 (waiting confirmation of the issue on GHC 8.8.4)

Fixed issues (2020-10-02):

* [X] https://github.com/haskell-CI/haskell-ci/issues/400

* [X] htt

[2020-07-16 05:20] asr commented on #4543
The GHC issue was fixed in GHC 8.8.4 (see  [Issue 17926](https://gitlab.haskell.org/ghc/ghc/issues/17926)).

[2020-07-16 18:35] asr commented on #4795
I couldn't reproduce the issue with `stack` using the the options

`~/.stack/config.yaml`:
[code]
and running

[code]

[2020-07-16 21:23] asr commented on #4796
In a fresh repository, using

`~/.stack/config.yaml`:
[code]
I observe
[code]
[code]

[2020-07-18 21:23] rwe opened #4799 "Remove support for GHC 8.0.2"
This is just a tracking issue; not sure where in the roadmap it might go.

## Motivation:
Picking up an earlier area of exploration, it would be nice to make some cleanups to the Agda codebase à la #3512 (_Heavy coupling…_). `-Wunused-imports` and `-Wunused-binds` are helpful to that effort (specifically, to prevent improvements from backsliding). Originally some effort around that was WIP-ed in #

[2020-07-18 21:59] rwe commented on #4799
Another note on this: GHC-8.0.2 [includes Cabal 1.24.2.0](https://www.haskell.org/cabal/download.html).

The subsequent GHC version in [`Agda.cabal`](https://github.com/agda/agda/blob/da0c7617a6fcf7044f11af71cd5a4bdf1c0d511c/Agda.cabal#L38) is GHC-8.2.2, which includes Cabal 2.0.1.0. So dropping GHC-8.0.2 would also imply that support for Cabal 1.x could be dropped.

[2020-07-19 03:27] mouse07410 commented on #4795
First, I'm trying to constrain my efforts by building with Cabal only. Second - I'm trying to use your `Makefile` rather than invoke `cabal` or `stack` directly. Third - copying `stack-8.10.1.yaml` to `stack.yaml` and trying `make install` failed, so `stack` is not an option for me here for more than one reason.

### Update

The *current* master appears to build fine and pass the tests OK. I've bu

[2020-07-19 10:21] guillaumebrunerie commented on #4799
Note that even though the latest 20.04 LTS release of Ubuntu is now available, people currently using the 18.04 LTS release will not be offered to upgrade before the first point release of 20.04, which is scheduled for August 6th 2020. So I think that dropping support for 8.0.2 should definitely wait until at least a few weeks after August 6th, to give people a chance to upgrade their system.

[2020-07-20 21:33] mwageringel commented on #4702
Here is another example for which termination checking fails. This fails with Agda 2.6.1, but used to work with earlier versions. I have not been able to try the current master.

[code]

[2020-07-21 00:20] gallais commented on #4702
@mwageringel This is related to `with`-inlining and not
to inlining of small functions. Cf #3604 and #3794 for
the issue & PR, and [the doc](https://agda.readthedocs.io/en/v2.6.1/language/with-abstraction.html#termination-checking) for ways of fixing your code.

[2020-07-21 05:59] mwageringel commented on #4702
@gallais Thank you so much for the explanation and the links, and sorry for the noise.

[2020-07-21 11:35] jonaprieto opened #4801 "Feature request: a keyword for synonyms"
Hi,

Is there any keyword that I'm not aware of to keep a list of synonyms for naming a term?
Naming things is difficult and keeping a standard  for naming is hard.

To be specific, the scenario is something like the following:

[code]

We can do the following for every single synonym, which I want to avoid.

[code]

I can imagine the type-checker could maintain a kind of map of these names with t

[2020-07-22 17:15] andreasabel commented on #4801
For simple aliases, you do not need a type declaration.
[code]
But in general, I think deciding on a naming discipline and following it will improve readability of your code (rather than having many different names for the same thing).

[2020-07-23 02:24] alan-j-hu opened #4803 "Installer script for nightly build doesn't work: size-solver binary only exists for Windows"
Hello. I want to install Agda without building it from source with Cabal. I found this PR: https://github.com/agda/agda/pull/4243 I downloaded the Linux build artifact from https://github.com/agda/agda/actions/runs/177978016 and attempted to run the included installation script (https://github.com/agda/agda/blob/master/.github/install_agda_user.sh). However, I encountered an error because the `siz

[2020-07-23 04:25] rwe commented on #4526
Is there an actual use-case for multiple _sibling_ `whatever.agda-lib` files in the same directory? If not, maybe this would be solved by fixing to a specific known filename.

That's how git finds `.git`, or how `npm` finds `package.json`, for example. Many tools work that way, partially due to this performance consideration.

If the sentinel filename is known in advance, you can avoid actually li

[2020-07-23 16:14] lclem opened #4804 "avoiding listing all cases"
Consider the following piece of code, an abstracted version of a programming pattern I recently came across:

[code]

While the definition of `f-lemma` is fine, the last line about `g-lemma` gives the following error:

[code]

I understand this can be fixed by adding ```Case2``` and ```ManyMoreCases``` to the definition of ```g-lemma```, however it seems to me that the compiler should be able to f

[2020-07-23 17:29] rwe commented on #4803
That looks easy enough to fix. I'll take a quick stab. @dosaylazy thank you for the very clear bug report + investigation!

[2020-07-23 17:36] rwe opened #4805 "Build failure in doc/user-manual/language/cubical.lagda"
Current `master` (9c9f0327a44133fd77b1dd4da8b75d4285410e9c) on Travis. For example: https://travis-ci.org/github/agda/agda/jobs/711106308#L1754

The issue was introduced in #4781 (_2ltt: Ported cubical primitives to use strict universes, and other fixes_) and there is some troubleshooting going on there. However to avoid the invisible commentary on closed PRs, I figured it would be worth opening a

[2020-07-23 17:44] rwe commented on #4805
I wonder if it potentially could be an issue with either the intermodule propagation or interface-file persistence/compatibility-detection of that new `--two-level` flag? @Saizan @asr does that sound plausible?

If it appears to work locally, that seems to indicate it might not just be a broken example (unless something about the local test skipped a step). Inconsistency between environments/runs

[2020-07-23 17:50] Saizan commented on #4805
@rwe the commit also bumps the interface version i.e. `currentInterfaceVersion` so that shouldn't be a problem? Though it might be an idea to bump it again.

[2020-07-23 17:57] rwe commented on #4805
What I'm wondering is not about compatibility between Agda commits, but between sets of compilation flags. If e.g. `HCompU.agda` generates `HCompU.agdai` with `--two-level` active, does it recognize that that interface file cannot be used when the flag is inactive? (And in the reverse case).

[2020-07-23 18:08] Saizan commented on #4805
`--two-level` is not infective, maybe it should be, however the modules have `--cubical` on anyway which implies `--two-level`.

The issue might be a different order of unification though, in #4807 I'm checking if there's a more robust formulation of `g`.

[2020-07-23 18:12] fredrikNordvallForsberg commented on #4805
Actually @Saizan you did make it infective:
https://github.com/agda/agda/blob/b51630a991e3b61e8aafd649f5b96ca23e80958b/src/full/Agda/Interaction/Options.hs#L486-L489
:slightly_smiling_face:

[2020-07-23 18:30] rwe commented on #4805
If #4807 (_eta expand use of `fill`_) fixes the build, I worry that might be covering up a potential real issue. (Unless there's already an underlying issue about dependence of type-checking order that wasn't caused by this. Is there? Maybe @andreasabel or @nad would know?)

Seeing the code @fredefox linked to, I'm wondering what the interaction might be between `collapseDefault` and infective opt

[2020-07-23 19:08] rwe commented on #4729
Regarding the original duplicate actions issue described by @gallais (vs. the `[ci skip]` enhancement, which solves a problem but not the original one here): when I put together the hlint workflow (#4802), I separated out `push` versus the specific `pull_request` sub-events:
https://github.com/rwe/agda/blob/608edb44958a00f370c3dd3603790c8440be6175/.github/workflows/lint.yaml#L3-L23

Otherwise even

[2020-07-23 19:11] rwe commented on #4729
Ah, I'm dumb, I just explicitly did what the docs said:

Though I wonder if those defaults are being overridden to "any" since path filters are being provided to the triggers, and so you _do_ need to explicitly list the events?

[2020-07-23 19:21] rwe commented on #4805
Since this failure is in `master`, it affects all open PRs. Is there an easy way to temporarily suppress that specific error while this gets sorted out, so PRs like #4791, #4806, #4802, etc don't get caught in the crossfire of failed builds?

[2020-07-23 19:24] Saizan commented on #4805
Well, we could just turn off the `language-cubical` part of the tests about the manual, I think?

[2020-07-23 19:24] rwe commented on #4805
I've managed to reproduce this locally by deleting the `.agdai` files in `.stack-work` before running `make user-manual-test`:

[code]

[2020-07-23 20:23] rwe commented on #4805
Here's a simplified script that will fail or succeed on demand:
[code]

You can put that into a script and run it.

It would be interesting to see the difference between the `.agdai` left over after `compile_hcompu_no_flags` and `run_tests` and see what the differences are, but I'm not sure how to inspect those.

[2020-07-23 20:24] Saizan commented on #4805
Thanks! That really helped, essentially `--double-check` is not happy with the code in `HCompU` as written.

It would be great if the testsuite printed out the actual agda command run.

[2020-07-23 20:26] rwe commented on #4805
Awesome! Yeah, I agree, I'm taking stabs in the dark trying to understand how things get run :)

[2020-07-23 20:30] rwe commented on #4805
And you're right! `--double-check` causes it to fail without any of the test stuff:

Glad that's narrowed down!

[2020-07-23 20:34] Saizan commented on #4805
If the tests pass on the `issue4805` branch then that should be good enough to merge, and I'll open another ticket for the underlying problem.

[2020-07-23 20:42] rwe commented on #4805
I tried manually adding the change from that branch (https://github.com/agda/agda/commit/b3b88ab4fd96d5c8ea32cbf55c45b8baebf9ac23) and ran the `stack exec…` command above and failed locally with:
[code]

[2020-07-23 20:46] Saizan commented on #4805
Hopefully it works now, I'm working from a weird setup atm so I'm committing through github and missed some changes.

[2020-07-23 20:49] rwe commented on #4805
That appears to work! The whole `make user-manual-test` suite passes for me locally with your latest change.

[2020-07-23 21:06] EdNutting commented on #4729
By my reading of the docs and some (limited) testing, providing one parameter does not result in an (undocumented) override of the defaults for other parameters.

The problem is simply that Github runs the workflow twice: once for the commits pushed and once for the PR update (triggered by the new commits). It doesn't de-duplicate by noticing that the runs overlap. Hence my suggestion of the vario

[2020-07-23 21:14] rwe commented on #4431
Hi, I came across this issue from searching around, and probably ought to have found it earlier.

I recently implemented #4802 (_Add minimal hlint.yaml + GitHub workflow_) because I had a >1yr old local branch with various hlint fixes that had grown stale, and I was interested in learning more about GitHub Actions.

It looks like this issue had good discussion but was closed without reaching a con

[2020-07-23 21:42] rwe commented on #4729
You're right: I didn't see a double-run in my hlint workflow, but I just overlooked it: https://github.com/rwe/agda/pull/1/checks

So it still happens there.

I agree. Forking is the better approach, it prevents root repos from being overrun by dangling branches with unclear ownership or prunability, and prevents accidental work stompage. Though since Agda is still a small community, and branches

[2020-07-24 02:17] #4803 closed, assigned to nobody

[2020-07-24 06:20] asr commented on #4805
Did you open the ticket?

This issue showed two fails in our CI framework: We are not erasing all the necessary `*.agdai` files and we need to test if using `--double-check` is an option.

[2020-07-24 08:44] andreasabel commented on #4804
This is a frequent complaint.  Agda does not split a catch-all pattern `_` into the possible constructor patterns when type checking the catch-all clause like `g-lemma _ = right refl`.  The standard answer is to use /views/.

In your case, a solution could be the predicate `G` that classifies the output of `g'`.
[code]

[2020-07-24 09:13] lclem commented on #4804
Many thanks for the quick reply!
For a moment I thought that we are just replicating the same issue in the definition of `g'`,
but in fact it can be compressed as follows:

[code]
In this way we avoid the lengthy enumeration of all cases other than Case1.

[2020-07-24 09:31] gallais commented on #4804
I would call `g'` a view only if it had this type:

[code]

[2020-07-24 11:07] Saizan commented on #4455
after the `--two-level` changes `checkInternal` was not happy about the definitions in HCompU.
See #4805 and #4808

[2020-07-24 11:12] Saizan commented on #4805
Actually we already have #4455 about `--double-check` and `cubical`, which is what I meant by underlying problem.

I suppose this issue can be about the testsuite stuff then?

Btw, we should also consider the use of `--ignore-all-interfaces` if that's how we want the tests run.

And have the tests print out the agda flags when a test fail would be great.

[2020-07-24 12:17] gallais commented on #4729
Extensions such as https://github.com/sindresorhus/refined-github allow you to auto-delete
a branch upon merging a PR. That is what I use.

[2020-07-24 12:24] gallais commented on #4526
Orthogonal question: how does cabal do it given that `.cabal`
files can have arbitrary names?

[2020-07-24 18:21] #4431 closed, assigned to rwe

[2020-07-24 18:25] rwe commented on #4803
@dosaylazy — This is now fixed and the latest nightly artifacts (https://github.com/agda/agda/actions/runs/180713073) now include `size-solver`

[2020-07-24 19:15] rwe commented on #4526
That's a good question. It looks like Cabal really only looks in cwd and ~/.cabal rather than doing arbitrary traversals:
 * https://github.com/haskell/cabal/blob/a2a6bd47614a301b121da0699a09127d4da2056e/Cabal/src/Distribution/Simple/Utils.hs#L1549-L1576
* https://github.com/haskell/cabal/blob/a2a6bd47614a301b121da0699a09127d4da2056e/Cabal/src/Distribution/PackageDescription/Check.hs#L1807-L1836
*

[2020-07-24 20:59] asr commented on #4803
Well, if the binary is for the final users it shouldn't include the `size-solver` program.

[2020-07-24 21:03] rwe commented on #4803
@asr I marginally suspected that, but wasn't sure. It was included in the install script (per this issue) which was breaking because it was missing, and it was included in the Windows distribution. Perhaps another issue to remove it entirely?

[2020-07-25 00:07] asr commented on #4803
Yes, please. There are some things we should improve if we want to distribute a binary for Agda.

[2020-07-25 17:25] rwe opened #4812 "Remove `size-solver` from nightly assets and user/system install scripts"
Previously, the `size-solver` binary asset was uploaded only for Windows, but the scripts such as https://github.com/agda/agda/blob/dc099484ce3af04922b3b8540411d8caebad5105/.github/install_agda_system.sh expected it to exist for all build variations. This was reported in #4803.

#4806 added the `size-solver` to the nightly assets to fix those scripts.

However as noted by @asr here: https://github

[2020-07-25 17:26] rwe commented on #4803
@asr Ok, I've created an issue to track that.

[2020-07-25 18:28] laMudri commented on #4526
It's probably worth noting that `~/.agda/libraries` contains the paths of all the `.agda-lib` files we'll need except for the `.agda-lib` file for the current project. If we could limit searching for `.agda-lib` files to just a single time – to discover the project actually being checked – this would constitute an improvement.

[2020-07-26 10:24] jonaprieto commented on #4801
I agree to some extent, of course. But this feature is more about improving the usability.

[2020-07-27 11:37] L-TChen commented on #4812
Huh, why was `size-solver` included in the very beginning anyway? @ice1000

[2020-07-27 14:13] ice1000 commented on #4812
I thought it was a part of the Agda project, so I just included it.

[2020-07-27 21:57] rwe commented on #4801
As an outsider opinion: this seems like it would be a slightly harmful misfeature with unclear, if any, benefit.

Certainly the underlying motivation:

will not be helped by attempting to use all conventions at once.

Supporting that style would encourage wasted time of module writers: the _example_ even gives up on the combinatorial exercise with an ellipsis. Subsequently it would waste the time

[2020-07-28 17:43] mouse07410 commented on #4795
Pulled the current master and submodules - and the problem is back:

[code]

Complete build log: [make-out-2020-07-28.txt](https://github.com/agda/agda/files/4990131/make-out-2020-07-28.txt)

`Agda` itself builds successfully. `agda-tests` doesn't. `GHC-8.10.1`, `Cabal-3.2.0.0`.

[code]

### Update
OK, this one can be addressed by making sure the previously-built Agda is *removed* from `~/.cabal`

[2020-07-28 19:27] capn-freako commented on #3619
I got this (i.e. - compile and run of `hello-world.agda`) working by doing two things:

## 1. Combine my "split" GHC configuration.

I noticed that my GHC configuration seemed to be split between `~/` and `~/AppData/Roaming/`:

[code]

And I thought fixing this might get things working.
Alas...

[code]

## 2. Use an explicit `v1-install` command for the `ieee754` package.

OMG! I don't believe thi

[2020-07-28 20:44] malte-v opened #4813 "Agda gets stuck while checking my weird J rule for "dependent identity types""
While playing around with a different definition of the identity type which allows terms to be identified across fibers, Agda got stuck checking the following code:

[code]

I am a total beginner to Agda and type theory and I have no idea if the above code even makes any sense. (off-topic, but do you think there is something fundamentally wrong with the idea of a "dependent identity type"?) Sorry

[2020-07-28 20:47] capn-freako opened #4814 "Emacs agda-mode setup command failing."
What do I need to do, to fix this?

[code]

Emacs: v. 26.3
Agda: v. 2.6.1

[2020-07-28 21:28] mouse07410 commented on #4795
I'm going to close this one for now.

[2020-07-28 21:28] #4795 closed, assigned to asr

[2020-07-28 21:31] mouse07410 opened #4815 "Current master fails compilation: binding for 'error' shadows the existing binding"
Weird. Of two platforms, one exhibits this behavior consistently, the other one doesn't. Still, it would be nice to get help determining which one of the installed packages seems to interfere here:
[code]

MacOS Catalina 10.15.6, Xcode-11.6, Cabal-3.2.0.0, GHC-8.10.1, Agda current master, build with provided `Makefile`.

[2020-07-29 09:47] gallais commented on #4813
Is this #1556?

`Id-dep` is indexed by itself.

[2020-07-29 09:53] malte-v commented on #4813
Yes, most probably it's that.

[2020-07-29 09:53] #4813 closed, assigned to nobody

[2020-07-29 10:13] guillaumebrunerie commented on #4813
But the idea of dependent identity types is perfectly reasonable and very useful indeed in homotopy type theory. Just index it over the normal identity type, not over itself ;)

[2020-07-29 17:01] #3365 closed, assigned to nobody

[2020-07-29 18:46] ice1000 commented on #3365
\o/

[2020-07-29 21:51] rwe commented on #4815
Do you have `-Wname-shadowing` somewhere in your `~/.cabal/config` like `program-default-options` → `ghc-options`, or similar? Grepping in the Agda source isn't turning anything up, so I don't think that option is set here.

Also, `error` is defined in `Prelude`, and hasn't changed in forever, so it's not a GHC version issue; and the file mentioned in that message only uses explicit imports.

[2020-07-29 23:49] mouse07410 commented on #4815
I'm certain that I don't.

On the other hand, I do have `ghc-options: -Wall` there.

Thus, two questions:
1. Why is there a name shadowing in the code? and
2. Who/where set `-Werror`, because without it (as I understand) warnings should remain just that - warnings, and not cause the compilation to fail.

[2020-07-30 08:04] jespercockx commented on #4815
Agda sets `-werror` in its `.cabal` file: https://github.com/agda/agda/blob/dc099484ce3af04922b3b8540411d8caebad5105/Agda.cabal#L614

[2020-07-30 13:31] mouse07410 commented on #4815
So, Agda *wants* to hard-fail the build upon a warning?

Well, in that case let's fix this one. An alternative is removing `-Werror`.

[2020-07-30 14:23] asr commented on #4815
Yes! We want to fail in the warnings we *chose*.

[2020-07-30 15:28] mouse07410 commented on #4815
Well, and in my projects I want to see *all* the warnings, but *not* hard-fail in general.

@asr , how do we reconcile? Comments in `Agda.cabal` seem to suggest that `-w ` flag there should disable *all* the warnings - so why did it not disable `-Wall` in `~/.cabal/config`? Is there another way - or do I need to muck with `~/.cabal/config` if I want Agda build to succeed?

[2020-07-30 15:37] jespercockx commented on #4815
Failing hard on certain kinds of warnings is absolutely essential for the development process of Agda, e.g. changing anything to Agda would not be feasible without the coverage checker.

You could remove `-Werror` from `Agda.cabal` locally.

[2020-07-30 15:51] mouse07410 commented on #4815
In that case why don't you do it the right way, and explicitly state exactly that:
[code]

No offense meant, but the way it's currently done in `Agda.cabal` is tail-end-first, to put it politely. You want specific warnings to fail the build - then just say so, rather than disable all the warnings, make *all* the warnings fail, and enable specific warnings.

I've tested this patch, and it works fin

[2020-07-30 16:05] guillaumebrunerie commented on #4815
Does it work with GHC 8.0.2? The `-Werror=` syntax is not mentioned in the docs for 8.0.2 and Agda still explicitly supports that version of GHC.

[2020-07-30 16:20] mouse07410 commented on #4815
Hmm... Glad you didn't ask about GHC-7.10.3... I've no clue (and, I'm afraid, am not about to find out).

If you worry so much about 8.0.2 - why don't you add something like
[code]
doing warning the "weird" way? And switch the rest to what normal GHC compilers support with something like `if impl(ghc >= 8.2.2)`?

In that case *you* should be able to tell whether it works with 8.0.2 as-is, or the a

[2020-07-30 16:30] asr commented on #4815
Why you didn't include all the warnings in your patch?

[2020-07-30 16:40] asr commented on #4815
The `-Werror=` syntax didn't work on GHC 8.0.2. Please add to your patch the `if impl(ghc <= 8.0.2)` you mentioned before.

[2020-07-30 16:46] mouse07410 commented on #4815
Not sure what you meant. I've turned the set of warnings you wanted the build to fail upon, into a set of `-Werror=<that warning>`.

I suspect I missed the warnings at the very end of `Agda.cabal`:
[code]

This is the patch that includes them as well:
[code]

But if you really worry about GHC-8.0.2, you'd have to modify that patch, and not only change those, e.g., last `-Wstar-binder` to `-Werror=

[2020-07-30 16:47] guillaumebrunerie commented on #4815
GHC 8.0.2 is the version shipped with Ubuntu 18.04 LTS, which is still used by many people (at least until 20.04.1 gets released and people on 18.04 get the upgrade). It is not a random old version as you seem to assume.

I personally don’t know much about GHC flags, why should _I_ be able to tell? I’m just pointing out that at the moment, Agda supports GHC 8.0.2. On the other hand you’re the one

[2020-07-30 16:53] asr commented on #4815
I cannot apply your patch because we support GHC 8.0.2.

[2020-07-30 17:06] mouse07410 commented on #4815
Please consider this one: [agda.cabal.diff.txt](https://github.com/agda/agda/files/5002709/agda.cabal.diff.txt)

It should support GHC-8.0.2.

Because you claim to support that specific compiler?

OK, that's fair. See above - the latest/current patch should support 8.0.2 and above.

[2020-07-30 17:12] mouse07410 opened #4816 ""Violation detected" message...?"
[code]

How do I interpret this? What violation? Where in the 996-lines-long file?

[2020-07-30 17:14] asr commented on #4815
Before applying a patch it should pass our CI (Travis and GitHub). I don't know if your patch pass our CI. I suggest create a pull request.

[2020-07-30 17:16] mouse07410 commented on #4815
~~I'd rather not clone Agda. I've provided everything that's needed - would you be able to create a branch, apply the patch to it, and see if CI passes?~~

*Turned out simple enough, and I don't mind looking at the CI results myself. PR #4817 submitted.*

Tests I ran locally all passed, but I don't have 8.0.2.

[2020-07-30 17:29] asr commented on #4815
We can not look for the CI results of every submitted PR...

[2020-07-30 18:02] jespercockx commented on #4816
You can fix all violations to the whitespace policy automatically by running `fix-agda-whitespace`. Perhaps the error message could be improved to mention this.

[2020-07-30 18:11] mouse07410 commented on #4816
Yes please!

And it would be nice if it provided the location(s) of the discovered error(s).

[2020-07-30 18:19] mouse07410 commented on #4815
@asr Regardless, all the CI passed.

[2020-07-30 18:31] asr commented on #4815
Tell me when your PR passed the CI.

[2020-07-30 18:33] mouse07410 commented on #4815
@asr It already has, as far as I can tell.

[2020-07-30 18:35] asr commented on #4816
You can file/create an request/issue/PR on https://github.com/agda/fix-whitespace.

[2020-07-30 19:08] #4815 closed, assigned to mouse07410

[2020-07-30 19:12] rwe commented on #4815
@mouse07410 — I appreciate that you like having warnings turned on: I'd created the tracking issue #4799 (drop support for 8.0.2) specifically with the intention of re-introducing some other warnings once that can be done.

On a separate note, from an outside perspective: Please try to be a bit more polite in your interactions here. It's great that you're contributing patches and concrete suggesti

[2020-07-30 19:17] mouse07410 commented on #4815
Good point.

But I'm tired, hungry (religious fast), and under pressure at work (something unexpected popped up that required urgent attention). Not an excuse - just an explanation.

### Update
As I owe an apology - here it is. Will try to be more "palatable" in the future.

[2020-07-30 19:33] asr commented on #4815
@rwe, thank you for writing the separate note. I had planned to write something about it.

[2020-07-30 21:23] mouse07410 commented on #4816
Created an issue: https://github.com/agda/fix-whitespace/issues/7

[2020-07-30 21:23] #4816 closed, assigned to nobody

[2020-07-31 15:01] msuperdock opened #4823 "agda --interaction-json doesn't give ranges for invisible goals"
## Issue

In emacs, the `C-c C-l` command gives ranges for invisible goals, which is nice because these invisible goals can otherwise be hard to find. However, when using `--interaction-json`, we get no such ranges.

## Example

For example, consider the following file:

[code]

In emacs, the `C-c C-l` command gives:

[code]

But the data provided under `agda --interaction-json` is only as follows

[2020-07-31 15:56] #4812 closed, assigned to rwe

[2020-07-31 16:36] ice1000 commented on #4812
Sorry about that.

[2020-07-31 16:42] rwe commented on #4812
No need to apologize! It's not really clear (to me) exactly what size-solver is or why it's in the build at all.

[2020-07-31 16:49] asr commented on #4812
The `size-solver` program is only used for the test suite. See `test-size-solver` in the `Makefile`.

[2020-07-31 17:01] rwe commented on #4359
Linking to a couple relevant existing issues, just for cross-reference.

#3512 (_Heavy coupling of Haskell source modules_) (a discussion issue on this topic)

#3758 (_Implement Language Server Protocol (LSP)_) (initial feature suggestion; needs design + owner)

#4820 (_Add hie.yaml for Haskell LSP + and vscode recommended extensions_)
The LSP is working reasonably well for me now using GHC-8.8.3

[2020-07-31 17:11] rwe commented on #4823
Maybe relevant to @ice1000 or @banacorn who've contributed in that area before. Should this be tagged as a bug? Or missing feature?

[2020-07-31 17:25] rwe commented on #4812
Ah, thanks. To clarify my understanding, looking closer it seems `size-solver` is basically a (standalone) test-suite runner for `Agda.TypeChecking.SizedTypes.WarshallSolver` (and friends). I wonder if that should be moved into `test/` somehow. I like the idea of standalone test utilities like that, though it is a bit confusing that it's the only one.

[2020-07-31 17:39] rwe commented on #3512
One note about this that I recently came across: beyond build + rebuild times, and regardless of improvements to the actual inter-module coupling, the "everything open-exports and open-imports" style is likely introducing unnecessary *runtime* costs. I'm not sure I knew that before.

[From the GHC wiki](https://wiki.haskell.org/Performance/GHC):

I might create a separate issue for that, because i

[2020-07-31 18:11] rwe opened #4824 "Add explicit export lists to modules"
Derived from #3512, and specifically [this note](https://github.com/agda/agda/issues/3512#issuecomment-667247235), replicated here:

Beyond build + rebuild times, and regardless of improvements to the actual inter-module coupling, the "everything open-exports and open-imports" style is likely introducing unnecessary *runtime* costs.

[From the GHC wiki](https://wiki.haskell.org/Performance/GHC):

[2020-07-31 18:16] rwe opened #4825 "Move internal modules from `exposed-modules` to `other-modules`"
`Agda:lib` does not have a stable public API, and is unlikely to have one soon.

Agda should not advertise that it can be used as a library. Without a clearly-defined public interface boundary, any change (for example, through [refactoring efforts](https://github.com/agda/agda/labels/refactor)) risks breaking those projects and thus turning off potential users/community members who may see Agda as

[2020-07-31 18:32] ice1000 commented on #4823
Are you doing some Agda tooling? Can you talk about that?

Speaking of the issue, if you wanna get credit for it, you can try to fix it. If you wish me or @banacorn to fix it, you're gonna wait for some time.

[2020-07-31 18:33] jespercockx commented on #4825
Currently you need access to the Agda internals in order to create a custom Agda backend (see e.g. https://github.com/agda/agda-ocaml). These are typically implemented for a specific version of Agda, so stability between versions is less important. If we were to hide the Agda internals from the public API, we need a different solution to implement backends without modifying the Agda source itself.

[2020-07-31 18:38] jespercockx commented on #4824
Note that we are currently using two non-standard flags that might mean the general Haskell wisdom does not apply here:

https://github.com/agda/agda/blob/df5b9410d6b7c4fd70db9d3ebcad6e93fa847681/Agda.cabal#L612-L613

[2020-07-31 18:44] rwe opened #4826 "Define minimal supportable Agda library API"
Relates to #4825 (_Move internal modules from `exposed-modules` to `other-modules`_) and #4824 (_Add explicit export lists to modules_).

What is the minimal useful public API for an Agda library that *needs* to be exposed?

Use-cases might be:
  * Parsing text (exposing the "concrete syntax")
  * Type-checking (not necessarily full internal access to the TCM guts, but perhaps some refined interfa

[2020-07-31 18:54] rwe commented on #4826
Note that re agda-ocaml, a quick browse-through shows that it depends on:

* `Agda.Compiler.Backend`
* `Agda.Main`
* `Agda.Syntax.Common`
* `Agda.Syntax.Concrete`
* `Agda.Syntax.Fixity`
* `Agda.Syntax.Literal`
* `Agda.Syntax.Notation`
* `Agda.Syntax.Position`
* `Agda.Syntax.Treeless`
* `Agda.Utils.FileName`
* `Agda.Utils.Pretty`

Though I'm not sure what the minimal imports are.

[2020-07-31 18:56] rwe commented on #4825
Thanks! I was creating an issue (#4826) to define that initial public API or at least list "what are the use-cases that need to be supported by it".

By the way, I hope to make clear this is _proposed for discussion_, not something to take for granted as a good idea. Are there other considerations around this?

[2020-07-31 19:11] rwe commented on #4824
That's good to know, I didn't realize the connection with those flags. So perhaps no runtime performance to be gained.

Nonetheless I think this might be a good idea anyway (even approached incrementally) both for refactoring work and also as part making "public interface" a slightly more visible consideration at the module level (#4826). Anyone object to the issue floating for those reasons?

As

[2020-07-31 19:21] jespercockx commented on #4826
Here's another example backend where I imported quite a bit of the Agda internals: https://github.com/jespercockx/agda-sct/blob/master/src/Agda/SCT/FromAgda.hs:

[code]

[2020-07-31 23:55] msuperdock commented on #4823
@rwe: I think the "type: enhancement" label is fair.

@ice1000: I've made an Agda plugin for neovim using `--interaction-json`, and just today updated it to handle the new JSON format used by Agda 2.6.1. I just uploaded it to github; [here](https://github.com/msuperdock/vim-agda) is a link.

I can try adding a field for the range; I just wanted to check first to see if there was some agreement tha

[2020-08-01 00:38] rwe commented on #4823
Cool! I contributed a bit to the agda-vim repo last year (https://github.com/derekelkins/agda-vim/commits/f928f453f1f48950b3be787419e74b1b90794e43), which you listed as one of the references, though I didn't do much; async interaction would help a lot.

As far as interaction-json issues like this, it might also be interesting to keep in mind ways of anticipating or contributing toward a design Lan

[2020-08-01 01:32] rwe commented on #4703
Hi, so this might be relevant to something I'm looking at. I'm not an expert so I'd appreciate your feedback on this…

As part of looking back into ways to decouple some of the Haskell modules, I came to the realization that `PrettyTCM` is the stickiest part of all that coupling: obviously we can't get rid of debug messages, but `MonadPretty`/`PrettyTCM` basically requires the kitchen sink, even t

[2020-08-01 08:48] jespercockx commented on #4703
In previous times, `prettyTCM` used to have type `a -> TCM Doc`, before I introduced the `MonadPretty` constraint to make the dependencies more explicit. My main goal was to statically rule out *modifications* to the state during pretty-printing by only using `ReadTCState` rather than `MonadTCState`, hence I just used the same constraint `MonadPretty` everywhere. However, all efforts into further

[2020-08-01 18:45] endobson opened #4828 "Symlinks are incorrectly followed during compilation"
I'm trying to use agda in an environment where the source code is a symlink to actual files stored elsewhere. It seems that agda is following the symlink and treating the target as the actual file, instead of just using the directory where the command was run from.

Example: https://github.com/endobson/examples/tree/agda-symlink

Run command in dir2
[code]

Observe `.agdai` file created in dir1.
[

[2020-08-03 09:46] gallais commented on #2293
Something worth noting following @txa's message to the mailing list:
the `private section` approach would a priori not allow you to repeat
yourself for pedagogical purposes because all of the `private` blocks
in a file live in the same `private` scope.

[2020-08-04 19:14] rwe commented on #4703
An issue I've run into with the approach I described above: in many cases it requires `UndecidableInstances`, which is fairly infective. I'm looking into other ways of doing the same thing without proliferating special-cased classes or making anything too invasive. (Should I turn that into a separate issue to avoid cluttering this bug report?)

[2020-08-06 14:29] SimonBoulier opened #4831 "Allow levels in indices when NO_UNIVERSE_CHECK"
(feature suggestion)

[code]
This codes fails with:
[code]

Would it be difficult to have this code type checking? (with the pragma `NO_UNIVERSE_CHECK` of course)
I have a use case...

[2020-08-06 15:39] jespercockx commented on #4831
You can find the relevant code here: https://github.com/agda/agda/blob/master/src/full/Agda/TypeChecking/Rules/Data.hs#L99-L115

If you want to experiment, you could try to replace this entire block with a simple `let s = s0`. Though you might run into some problems because Agda assumes that `s` does not depend on the indices later on in the code.

[2020-08-07 01:46] msuperdock commented on #4823
Closed by #4829.

[2020-08-07 01:46] #4823 closed, assigned to nobody

[2020-08-07 14:07] nickcollins opened #4832 "Cannot report bug because installation runs out of memory"
I have a bug I want to report, but before I do so, I want to make sure it repros on the latest version of Agda. I'm on 2.6.0.1, so I thought I would `cabal install agda`, but that hits an out of memory error after using over 6 GB of ram. There is clearly a memory leak. Since I can't update, I can't repro, and so it's not really feasible to report the agda bug I found. This may be a problem for bug

[2020-08-07 23:36] asr commented on #4832
GHC version? Duplicated #4521.

[2020-08-07 23:36] #4832 closed, assigned to nobody

[2020-08-08 05:44] nickcollins opened #4833 "Internal error: cannot type-check file"
An internal error has occurred. Please report this as a bug.
Location of the error: src/full/Agda/TypeChecking/Monad/Signature.hs:665

Agda version 2.6.1

I can attach a tarball of the folder if requested

[2020-08-08 06:03] nickcollins commented on #4833
I've managed to massage agda into not hitting this issue, and haven't seen it since. maybe had something to do with an out of sync agdai file after i updated agda? anyways just saying that this isn't an urgent or blocking bug for me, it may be closed if it's not of interest to anyone else

[2020-08-08 07:11] nickcollins commented on #4833
the error reappeared - it happens when I use a multiline comment to comment out everything after a certain point in a file. So still not an urgent problem, but maybe that helps shed light on what's going on

[2020-08-08 07:44] nickcollins commented on #4833
Actually, i hit the error again, under fairly ordinary circumstances (i.e. without commenting out a bunch of stuff), so now it actually is pretty urgent for me.

Note that when i comment out the `abstract` keyword that encompasses everything in my module, this problem, and another one i was having where it says some constructor is out of scope (it isn't), go away if i remove the use of `abstract`

[2020-08-08 18:11] rwe commented on #4833
For reference, the error is on line 664 here (linking to the `2.6.1` tag, though GitHub doesn't seem to inline previews for a non-hash ref): https://github.com/agda/agda/blob/8eb0d01811a663cf2b27b482b3b18690adfa094b/src/full/Agda/TypeChecking/Monad/Signature.hs#L659-L666

There are a few open issues with the [`abstract` label](https://github.com/agda/agda/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdat

[2020-08-08 19:47] rwe commented on #4828
I'd agree that this is a bug. (At minimum, it is inconsistent with unix tooling convention: for example `cc` and `ghc` do not do this; there are good reasons not to.)

This behaviour still occurs if you provide the absolute path, as demonstrated below. It also occurs with or without `--local-interfaces`.

I suspect this is related to some of the discussion in #4526.

Repro script for other develop

[2020-08-09 00:59] mouse07410 opened #4834 "MacOS current master fails dynamic build"
MacOS Catalina 10.15.6, Xcode-11.6, GHC-8.10.1, Cabal-3.2.0.0, Agda current master.

[code]

Available version of this library is newer:
[code]

[2020-08-09 01:00] mouse07410 commented on #4834
Could you please share the plans/timeframe for moving to Cabal v2 builds?

[2020-08-09 01:00] #4834 closed, assigned to nobody

[2020-08-09 19:35] uncle-betty opened #4835 "NameId clash caused by default Set and Prop import in cached type check log"
I encountered a rare issue in current `master` (e4842b2): I manage to get Agda into a state where type-checking my project fails as follows:

[code]

I can get out of this state again by removing the `_build` directory, which I currently use as a workaround.

I am only able to reproduce this issue via Emacs interaction, not via command line invocations of Agda. Unfortunately, so far, I also have b

[2020-08-09 22:40] uncle-betty commented on #4835
I found the following simplifications to the procedure outline above:

* After switching from `SMT.agda` back to the `Test.agda` buffer, it is enough to simply load / type-check `Test.agda`. I.e., it is not necessary to add `foo` to the list of definitions imported by `Test.agda` from `SMT.agda`.

* Instead of completely removing the `_build` directory to fix the situation, it is enough to remove

[2020-08-10 03:38] asr opened #4837 "Support GHC 8.10.2 on Linux and macOS"
GHC 8.10.2 was [announced](https://mail.haskell.org/pipermail/ghc-devs/2020-August/019131.html). I created this issue for collecting/reporting the required changes/issues.

Know issues (2020-10-02)

None

Fixed issues (2020-10-02)

* [X] #4945
* [X] https://github.com/actions/setup-haskell/pull/32

[2020-08-10 04:11] asr opened #4838 "Build error with aeson 1.5.3.0"
The build error is

[code]

[2020-08-10 08:44] Saizan commented on #3722
The general type of `comp` and `transp` are now quite a nuisance with `--two-level` as `((i : I) -> Set (a i))` gets assigned a different sort than `I -> Set a`. So now it seems worthwhile to adopt the strategy for pi types I outline in the previous comment.

[2020-08-10 11:00] andreasabel commented on #4824
My main problem with export lists was compilation time due to a not very smart recompilation machinery in GHC: After adding a function f in module A and using it in module B, it used to take up to 15 min compilation time to the compilation error where I realized that I forgot to add f to the export list in A.  Going back and changing A by adding f to the export list would then trigger recompilatio

[2020-08-10 11:03] andreasabel commented on #4833
Possibly.
A MWE demonstrating the bug would be helpful to clarify... @nickcollins, could you supply one?

[2020-08-10 11:06] andreasabel commented on #4801
I agree with @rwe : My recommendation would be to set in stone a naming convention, and follow it with utter discipline.

[2020-08-10 11:07] #4801 closed, assigned to nobody

[2020-08-10 11:14] andreasabel commented on #4828
I also agree that this is a bug.  The normalization of paths to obtain unique identification of modules is one of the ancient mechanisms inside Agda and should be revised for the sake of this issue.

[2020-08-10 11:30] uncle-betty commented on #4835
Reproducing the issue with `--verbose impossible:10` yields the following additional information:

[code]

Odd. Seems unrelated to the inserted definition. Even unrelated to the file into which the definition was inserted (`SAT.agda` vs. `SMT.agda`). And yet, removing `SMT.agdai` fixes the issue.

[2020-08-10 16:33] uncle-betty commented on #4835
Looks like removing `SMT.agdai` makes Agda rebuild `SMT.agdai` as well as `Test.agdai`. I added a `show` to the Agda code to dump the deserialized `Instance`s in textual form after having triggered the error:

* https://lopatic.de/err-test.txt - the dumped contents of the broken `Test.agdai`
* https://lopatic.de/err-smt.txt - the same for `SMT.agdai`

I then removed `SMT.agdai` and type-checked ev

[2020-08-10 20:09] uncle-betty commented on #4835
Here are the same four files split into lines and indented using a simple heuristic:

https://lopatic.de/pretty-err-test.txt
https://lopatic.de/pretty-err-smt.txt
https://lopatic.de/pretty-ok-test.txt
https://lopatic.de/pretty-ok-smt.txt

(The files are pretty big. Maybe right-click the links and save the files instead of having the browser display them.)

One thing I noticed: In the broken `Test.

[2020-08-10 20:54] rwe commented on #4703
By the way: I did actually get that working mostly non-invasively without additional `UndecidableInstances`, though in several cases it required hacks to coax the instance resolution (parameterizing some of the data types).

The undecidable instance issues aren't entirely caused by the proposed class structure. It's often caused by the existing constraints which are pulled up from their original d

[2020-08-10 21:14] uncle-betty commented on #4835
Ah, never mind `Test.agdai`. I'm type-checking `Test.agda`, which means that I'm re-creating `Test.agdai`. So, the contents of `Test.agdai` should not factor into any of this.

And of course the `NameId`s in `Test.agdai` would be off - in the failure case I don't manage to type-check `Test.agda` and hence the existing `Test.agdai` is never overwritten and retains its old contents.

I guess the key

[2020-08-11 09:33] #4804 closed, assigned to nobody

[2020-08-11 10:58] uncle-betty commented on #4835
Oh, and I should have provided the ambiguous result of the lookup:

* https://lopatic.de/defs.txt - the lookup in `defs`
* https://lopatic.de/idefs.txt - the lookup in `idefs`

The `QName` in `idefs.txt` looks a little odd to me. The module ID in the `qnameModule` (`NameId 0 14677862825608656242`) does not match the module ID in the `qnameName` (`NameId 23 10189251152579365012`). The former is the

[2020-08-11 16:45] uncle-betty commented on #4835
Maybe the mismatching module ID actually has something to do with the issue. When I rename `Test`, say, to `Bob` then this also fixes the issue:

[code]

Maybe `Test`'s module ID ending up in `SMT` leads to a `NameId` clash between `Test` and `SMT`, which can also be resolved by renaming `Test`.

[2020-08-11 19:18] nickcollins commented on #4833
I hit this bug during a transitional point in developing the code, so now with my code complete (save for the `abstract` keyword being commented out) I don't hit this bug at all, let alone have an MWE.

However, if i uncomment `abstract`, I do hit a different bug:
[code]

For this variety of bug, i have an MWE that reprod in 2.6.0.1, but was fixed in 2.6.1:
[code]
It appears to me that one flavor

[2020-08-12 06:05] #4838 closed, assigned to asr

[2020-08-12 06:28] #4793 closed, assigned to andreasabel

[2020-08-12 06:29] #4828 closed, assigned to andreasabel

[2020-08-12 06:40] andreasabel commented on #4838
Thanks!

[2020-08-12 06:44] andreasabel commented on #4834
I often get this problem because homebrew removes old versions of `libicu` when Agda is still referring to them.

I then have to reinstall `text-icu`, e.g. via
[code]

[2020-08-12 06:45] andreasabel commented on #4832
One more reason to release 2.6.1.1.

[2020-08-12 09:53] uncle-betty commented on #4835
The more you learn... Some new data about the issue:

* I don't even have to add a new definition (`foo = true`) to `SMT.agda` to trigger the issue. I don't even have to change any "real" code, either. It's enough to change a single character in a comment in `SMT.agda`.  To change the file's hash value, I guess.

* Also, the **module IDs are the only differences** between a broken and a working `S

[2020-08-12 09:56] uncle-betty commented on #4835
Oh, and to pretty-print the dumped `.agdai` files I use this Python script. Just in case anybody wants to run their own experiments.

[code]

[2020-08-12 12:27] jovenlin0527 commented on #4837
I can't compile Agda using Cabal. My GHC version is ghc 8.10.2, and it complains it can't find Transformer package.
[code]
Relevant line:
https://github.com/agda/agda/blob/be5cafa4a47d5952d3bc259ba076ce042c67027b/Agda.cabal#L251

[2020-08-12 14:34] andreasabel commented on #4757
No discussion...

[2020-08-12 14:34] #4757 closed, assigned to nobody

[2020-08-12 19:55] #4776 closed, assigned to andreasabel

[2020-08-12 19:57] andreasabel commented on #4776
I settled for this solution in 792a357be0b25876bc6c479f3c49db9ffd055748 . I am not sure this new information is maximally exploited yet, further simplifications of existing code might be possible as we stumble upon them.

[2020-08-12 20:27] andreasabel commented on #4797
Seems like this issue is no longer blocked...

[2020-08-13 00:37] uncle-betty commented on #4835
Holy moly! I think that I figured it out. Here's what I believe is happening:

* I type-check `Test.agda`, which transitively type-checks all imports and, finally, `Test.agda` itself. This leaves the `Test` module in the cached type check log.

* I then type-check `SMT.agda`. As this is a different module, the cached type check log should be purged. However, the first declaration in the `SMT` modu

[2020-08-13 13:32] uncle-betty commented on #4835
Oh, I think that this might be the same as #4697. I should have looked harder. Sorry about that.

[2020-08-13 14:19] #3588 closed, assigned to andreasabel, jespercockx

[2020-08-13 18:45] andreasabel commented on #4835
Thanks for investigating and the PR!  I asked @Saizan for a review since he is the author of the caching feature and knows it best.

[2020-08-14 07:43] SimonBoulier commented on #4831
I didn't succeed in getting something which works for the moment.
Feel free to close the issue if I'm the only one interested.

[2020-08-14 08:08] Saizan commented on #4835
Thanks from me too!

I would be in favor of doing the module ID check in `cachingStarts`, so it's going to happen once and do the right thing even if we add more uses of `restorePostScopeState` somewhere.

One could even add an assertion in `restorePostScopeState` that the module IDs must match, and otherwise throw an `__IMPOSSIBLE__`.

[2020-08-14 08:41] #4711 closed, assigned to andreasabel

[2020-08-14 10:28] uncle-betty commented on #4835
I'm glad I can help!

Oh, right, yes. Agreed. `cachingStarts` would be a more central place. Let's do this. I pushed an updated proposal to the pull request's branch.

I tested the new fix and it still resolves the issue.

[2020-08-14 10:40] andreasabel commented on #2658
The original commit was 7f47d51c06b8d2d3ff7b55a70b21e5f75ca4a7fc, thus @UlfNorell could answer above point best maybe.  It is also used in SearchAbout and display forms.
I generalized the traversal to target abstract collections, with the hope of speed gains by using `Data.Monoid.All` instead of `Set.all`, skipping the creation of a set.

[2020-08-14 11:38] jorge-jbs opened #4844 "Impredicative polymorphism in GHC output"
I'm writing a bridge to the ST monad of GHC. When I compile it, GHC complaints that it doesn't yet support impredicative polymorphism. I have the Agda code, the generated Haskell code and the error in [this gist](https://gist.github.com/jorge-jbs/b94e038f1e5c9f18dd936a9df1e6b3ff).

To fix the problem I can add the `ImpredicativeTypes` pragma or remove the first `coe` invocation from the line that

[2020-08-14 20:52] rwe commented on #4824
@andreasabel I agree that the export-list bureaucracy is an annoyance with Haskell. The requirement of one identifier per export versus a keyword per export like many other languages (`export …`, `public …`, etc) really encourages some counterproductive "all hangin' out" defaults. And unfortunately it's not an easily toolable problem because, unlike the minimal-import lists you can get from GHC, e

[2020-08-15 01:03] rwe opened #4845 "Agda.Syntax.Common: Modality and Quantity inconsistent Null.empty ↔︎ Monoid.mempty"
*Note:* This may be a non-bug. It's the only inconsistency of this type for this class that I've noticed, but due to varied use of `empty`/`mempty` elsewhere, could manifest as other issues.

## Summary

`Modality`'s `Null.empty` is defined to be `defaultModality` which is defined in terms of `defaultQuantity` which is `Quantityω`. However `Modality`'s `Monoid.mempty` is defined in terms of `mempt

[2020-08-15 08:41] jorge-jbs commented on #4844
I found out that there is an Agda flag that solves it. Compiling with `agda --compile --ghc-flag=-XImpredicativeTypes` works.

[2020-08-15 16:00] txa opened #4846 "Termination checker fails on mixed copattern/pattern with No-K"
The following code passes the termination checker but fails when we enable `--without-K`:
[code]

[bug.zip](https://github.com/agda/agda/files/5079048/bug.zip)
#2890

[2020-08-15 18:41] jespercockx commented on #4845
Since different parts of the Agda codebase were written by different people at different times, it seems rather likely that this inconsistency has crept in by mistake and not by intentional design. So it would indeed be a good idea to fix it so `empty` and `mempty` are equal at types where both are defined.

Regarding types with multiple possible `Monoid` instances, it indeed seems like a good ide

[2020-08-15 18:42] jespercockx commented on #4844
Do you know if turning on `-XImpredicativeTypes` has any negative input on the compilation of the Haskell code? If not, we could consider turning it on by default.

[2020-08-16 08:27] jorge-jbs commented on #4844
In [GHC's documentation](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#impredicative-polymorphism):

And [in GHC's wiki](https://gitlab.haskell.org/ghc/ghc/-/wikis/impredicative-polymorphism):

They describe a workaround, but I don't think I can use it from my Agda code.

They mention another extension, `TypeApplications`, that could solve this. But it seems you

[2020-08-16 10:28] andreasabel commented on #4845
The original idea behind `Null` was to overload `List.null` for other collection types.  This has been extended to characterize the element(s) that represent "no information" (typically, the default elements).
For collections that implement `Monoid`, we should have `empty == mempty`.  Note that some collections, like `Maybe`, do not have a canonical implementation of concatenation, but a canonical

[2020-08-16 10:36] andreasabel commented on #4846
This problem has been reported before and a solution would be that the call graph generator recognizes `proj₁ f` as a function `g` on its own, and thus can "tighten the loop":  The second equation would be a recursive call on `g`.

For similar issues see https://github.com/agda/agda/issues?q=+label%3Atermination+label%3Awithout-K+ .  The reason that Agda rejects your code is #1023, if I am not mis

[2020-08-16 12:15] asr commented on #4797
Right. I updated the OP.

[2020-08-16 16:33] asr commented on #4543
It seems I'm getting the same problem on GHC 8.8.4 (see https://gitlab.haskell.org/ghc/ghc/-/issues/17926#note_294289).

[2020-08-16 18:36] asr commented on #4837
The problem was fixed in 020418385c14b89ec2ea462f9376ed8549a30b15.

[2020-08-17 09:12] nad commented on #4526
This might also eliminate a race condition, see [above](https://github.com/agda/agda/issues/4526#issuecomment-609014308).

[2020-08-17 09:23] nad commented on #4825
The following comment is in the Cabal file: "Note that the Agda package does not follow the package versioning policy, because it is not intended to be used by third-party packages."

[2020-08-17 09:56] nad commented on #4834
See #4216.

[2020-08-17 18:14] nad commented on #4837
When I tried to compile 2dea7f2fcc6575df3662124e0e80c78afed9c141 GHC 8.10.2 seemed to get stuck on `Agda.TypeChecking.Unquote`. After I changed `GHC_OPTS` to `"+RTS -M2G -RTS"` (for 32-bit systems) I could build Agda (`make install`) in about 45 minutes:
[code]
With `"+RTS -M2.3G -RTS"` compilation went a little faster:
[code]
I think we should try to bring down the compilation time.

[2020-08-17 18:57] jappeace commented on #3360
https://github.com/melpa/melpa/pull/7080

[2020-08-17 19:01] jappeace commented on #3360
@ice1000
Melpa will version this automatically by date:

![image](https://user-images.githubusercontent.com/3874017/90433621-6c1cd300-e0cc-11ea-8a23-8777c1e0d9f0.png)

So if agda upgrades, this repository upgrade, the melpa will also upgrade automatically.
The entry file also contains a revision to whatever agda mode version is being used (for this repository):

![image](https://user-images.github

[2020-08-17 19:48] rwe commented on #4825
@nad Yep, I saw that comment. It makes me wonder whether `agda-lib` ought to be published to stackage at all in its current state, versus either forked, submoduled, or [`source-repository-package`](https://cabal.readthedocs.io/en/3.4/cabal-project.html#specifying-packages-from-remote-version-control-locations)d for internal things like `agda-ocaml`.

Regardless of advertised stability, though, eve

[2020-08-17 22:01] rwe commented on #4845
@andreasabel I wonder if the `Null` class predates the generalization of `List.null` to `Foldable.null`? That was another inconsistency I haven't dug into yet. Some classes derive `Foldable` _and_ `Null`, and the two `null` methods don't always match in those cases.

The derived `Foldable.null` is a little subtle:
[code]

I think it's clear that the `Null` class is doesn't completely overlap any e

[2020-08-18 07:23] wenkokke opened #4848 "Missing Agda.Builtin.Reflection.External from data-files in Agda.cabal"
The builtin module `Agda.Builtin.Reflection.External` isn't listed in the data-files in `Agda.cabal`, which means it's not available. This wasn't caught by the test since the test defines `execTC` by itself.

[2020-08-18 07:30] wenkokke commented on #4848
Which is probably for the best, 'cuz `Agda.Builtin.Reflection.External` fails to import `Agda.Builtin.Reflection`...

[2020-08-18 08:56] wenkokke opened #4850 "Makefile requires global installation of GHC and Cabal"
It seems as if the Makefile requires a global installation of GHC and cabal?

Since I'd like to keep the number of GHC installs on my computer to a minimum, I'd prefer it if it were possible to turn all the calls to cabal into calls to stack with the --system-ghc flag.

Am I missing something in the Makefile, and is this already possible at the moment?

[2020-08-18 12:27] AndrasKovacs commented on #2099
Update & question. First, my proposal is now explained in more detail in paper form: https://dl.acm.org/doi/10.1145/3408983

Question: I'm somewhat mystified as to what happens in Agda 2.6.1 and later:

[code]

From `test1` and `test2` I would deduce that the following happens: there is a rule for checking inductive constructor-headed expressions with their inductive type-constructor-headed types.

[2020-08-18 15:26] berndlosert opened #4851 "BUILTIN SIGMA and --type-in-type"
I'm noticing that BUILTIN SIGMA doesn't work when I use --type-in-type with the following definition of Σ:

[code]

The error I get when I compile this confuses me:

[code]

Is this expected?

[2020-08-18 18:05] rwe commented on #4837
My recent small PR #4847 is failing to build on Travis under GHC 8.10.2 and hanging. I retried once and am retrying now again. The PR is a ~3 line change that should not impact the build.

(`master` is passing but that's because Travis is not reporting in on that, apparently). Maybe it's an OOM thing?

[2020-08-18 19:51] asr commented on #4837
I had similar problems when I started to use GHC 8.10.2 on Travis.

[2020-08-19 18:14] rwe commented on #4850
Copy the corresponding e.g. `stack-8.8.3.yaml` to `stack.yaml` and add the line `system-ghc: true`.

Once adding that yaml file you can also build using `stack` directly. The command I typically use is:
[code]

Also, if that file exists, the makefile will use it, though until #4841 is merged there are some potential hiccups from the makefile's inconsistent invocation of stack. (Mainly if you plan

[2020-08-19 18:17] wenkokke commented on #4850
Following your instructions, I get an error while trying to install `fix-whitespace`:
[code]

[2020-08-19 18:19] wenkokke commented on #4850
@rwe: Thanks for all your work on the Makefile, btw!

[2020-08-19 18:25] rwe commented on #4850
Huh! I will try to fix that. In the meantime, the easiest way to around that is to remove it from the test dependencies. It's not very important.

[code]

[2020-08-19 18:30] rwe commented on #4850
(In the Makefile, that is).

[2020-08-19 18:35] wenkokke commented on #4850
That leads me to:
[code]

[2020-08-19 18:42] rwe commented on #4850
Ah: for some reason `make test` does not depend on the build target. I don't know why, but haven't totally revamped everything. Try `make && make test`.

[2020-08-19 18:59] martinescardo opened #4852 "First load the file"
Feature request: instead of saying "First load the file", just load the file and do what is requested.

[2020-08-19 20:47] wenkokke commented on #4850
That fails with the fairly common error of not being able to find icu. Oddly, I do have icu installed, and the build succeeds when calling stack directly:
[code]

[2020-08-19 21:42] rwe commented on #4850
I'm guessing that the difference is the `--flag Agda:enable-cluster-counting` that the makefile is putting in, which may not be on by default. This rings bells from build problems a long time ago. Thanks, by the way, for the detailed reports.

Like you I'm also using macOS. I have this in my global `~/.stack/config.yml`:
[code]

I believe that config can be safely added either globally like that o

[2020-08-20 07:45] wenkokke commented on #4850
Thanks, it works! This is the first time I've actually been able to run `make test` locally!

[2020-08-20 08:00] wenkokke opened #4855 "Regression: Internal error in Signature.hs"
I've been triggering an internal error recently:
[code]
I don't currently have a minimized test case which triggers this error, but I'll add one if I get around to it.

[2020-08-20 09:50] andreasabel commented on #4851
This seems to be already fixed on master (2.6.2).

[2020-08-20 09:50] #4851 closed, assigned to andreasabel

[2020-08-20 10:37] #4845 closed, assigned to nobody

[2020-08-20 10:40] andreasabel commented on #4837
Maybe downgrade GHC on Travis for now to get CI running again?

[2020-08-20 11:35] asr commented on #4837
The OOM problem was fixed by #4854.

[2020-08-20 13:19] #4848 closed, assigned to wenkokke

[2020-08-20 13:53] andreasabel commented on #4855
The MWE is actually `test/Fail/Issue4671` containing just
[code]

[2020-08-20 14:00] andreasabel commented on #4852
I agree, but I'd bet that e.g. @nad would not want this behavior.  The state of the interaction can be precious...

[2020-08-20 14:40] #4835 closed, assigned to uncle-betty

[2020-08-20 16:40] rwe commented on #4855
For quick reference, the referenced line is the `__IMPOSSIBLE_VERBOSE__` line here: https://github.com/agda/agda/blob/201015fa97b9423833047240706e66c11b616980/src/full/Agda/TypeChecking/Monad/Signature.hs#L722-L731

[2020-08-20 17:44] martinescardo commented on #4852
It could be an option that you set in your `.emacs` file if you want it.

[2020-08-20 20:40] fredrikNordvallForsberg commented on #4855
Is this perhaps https://github.com/agda/agda/issues/4835? It's the same `__IMPOSSIBLE_VERBOSE__`. Worth checking if the commit 6 hours ago fixed this already :slightly_smiling_face:.

[2020-08-21 05:32] wenkokke commented on #4855
@fredrikNordvallForsberg removing `_build` solves the issue, so it's likely a duplicate of #4835. Rebuilding Agda now.

[2020-08-21 05:32] #4855 closed, assigned to nobody

[2020-08-21 12:31] nad commented on #4837
How long does it take for the rest of you to compile Agda locally (`make install`) using GHC 8.10.2?

[2020-08-21 15:14] jespercockx opened #4857 "Instance argument is printed as explicit argument"
Consider the following example

[code]
When asked for the type of the goal, Agda prints `fieldB myRecB`. However, this is not well-typed: `fieldB` has type `{{r : RecordB}} → Set`. This seems to be a printing bug only, since Agda does accept arguments of the correct type `fieldB {{myRecB}}`.

[2020-08-21 20:59] rwe commented on #4837
@nad After external dependencies, using the `stack-8.10.2.yaml`, from `make clean`, takes my computer 30min real/29min user. It's a somewhat powerful laptop (MBP2019) with 32GB of RAM. Doing the same (clean) with GHC-8.8.3 took 24min/23min. It's a single measurement but supports the notion that 8.10.2 is significantly slower.

[2020-08-23 05:00] L-TChen commented on #4543
Urgh... it seems this issue will not be fixed soon. Shall we try to find out which flags actually trigger this bug? I do not have Windows installed on any machine, though.

[2020-08-23 13:19] asr commented on #4543
Note we have the problem only with Cabal.

[2020-08-23 16:13] wenkokke opened #4860 "Primitive conversion from Float to Rational"
I'd like to use floating-point notation in Agda to denote rational number. However, the only way to convert *out of* a floating-point number in Agda is by using `primShowFloat`, and then parsing the number, which probably isn't ideal.

I propose adding `primFloatToRat` function, which converts a floating-point number to a numerator (using `Agda.Builtin.Int`) and a denominator (using `Agda.Builtin.

[2020-08-23 22:26] uncle-betty commented on #4833
I think that I might have an MWE. The trick seems to be to tickle the termination checker, which the above MWE doesn't do. Here's what I use:

[code]

The important part seems to be the recursion after the `with`. Type-checking with 2.6.1 or with current master yields:

[code]

Commenting out the `abstract` in the above MWE makes the issue go away.

Looking at the data structures, I find the defin

[2020-08-24 08:22] UlfNorell commented on #4860
The simplest solution would be `NaN -> 0/0`, and `±Inf -> ±1/0`.

[2020-08-24 08:42] wenkokke commented on #4860
Ohh, that would work, yes. I'll submit a pull request for `primFloatToRat`.

Should we add type classes akin to `FromNat` for integers and floats as well, so we can overload that syntax? (For the future, I'm not adding that.)

[2020-08-24 09:12] nad commented on #4860
We have encountered problems in the past when we have treated different representations of equal floating-point numbers differently. Is it currently the case that `NaN`, `Inf` and `-Inf` are mutually distinct and distinct from all other floating-point numbers? (I have not paid much attention to the changes related to floating-point numbers.)

[2020-08-24 09:13] wenkokke commented on #4860
Alternatively, I could attempt to implement this in terms of `primFloatToWord64` and `primWord64ToNat`? That might be a difficult representation to work with, though, so for clarity it's probably still best to do this as a primitive.

[2020-08-24 09:21] UlfNorell commented on #4860
That sounds like fun...

@nad `NaN` is not even equal to itself, so that's not an issue. I'm also fairly confident that `Inf != -Inf`..

[2020-08-24 09:21] wenkokke commented on #4860
[code]

[2020-08-24 09:22] wenkokke commented on #4860
I think there's two primitive equalities for floats for exactly this reason, and the latter comes with some warnings about not using it to induce propositional equality.

[2020-08-24 09:26] wenkokke commented on #4860
What's the purpose of these? I'm guessing I'll have to add one of these?
[code]
In general, what are the steps these days for adding a primitive?

1. Add entry to `Agda.TypeChecking.Primitive.primitiveFunctions`.
2. ...

[2020-08-24 09:34] wenkokke commented on #4860
Guess I'll have to patch the Haskell behaviour of `toRational`:
[code]

[2020-08-24 09:47] gallais commented on #4860
How about a `Rational` instance instead just like we have `Number` and `Negative` for
overloaded naturals & negative numbers?

Cf. these instances in the stdlib to write down literals & have them interpreted as
rational literals: http://agda.github.io/agda-stdlib/Data.Rational.Literals.html
It relies on the `Agda.Builtin.From*` modules.

Seems silly to go the Rational -> Float -> Rational route.

[2020-08-24 09:56] wenkokke commented on #4860
Makes sense. I guess slowly the name of the `Number` instance is seeming sillier and sillier, but that's a problem for future bikeshedding, I guess.

[2020-08-24 20:00] tonyfloatersu commented on #4610
GNU Emacs 27.1 Arch Linux here, same problem : /

[2020-08-25 12:00] jespercockx commented on #4615
The issues with cubical have been solved, thanks @Saizan !

However, there is still one more test that fails coming from the Latex/HTML tests. Here's a minimized version:

[code]

With `--no-sort-comparison`, Agda manages to find out that the second underscore must be `Nat`, but **not** that the first underscore must be `lzero`.

[2020-08-25 12:11] Saizan commented on #4615
Funny, it seems that some constraint gets dropped, because filling the underscore with some different level does rise an error.

One would expect that comparing sorts is not needed here, as the constraint should be clear just by the type of the second underscore.

[2020-08-25 12:32] jespercockx commented on #4615
Ah, I found the problem: https://github.com/agda/agda/blob/3a688b0fbc5a40d44bf5cf6123e309e218a0ac9f/src/full/Agda/TypeChecking/MetaVars.hs#L677-L690

This code checks that the solution of a metavariable has the right type, but only when the type of that metavariable is a sort. The rationale for this is that the conversion checker keeps the invariant that it always compares terms of the same type,

[2020-08-25 13:15] asr commented on #4610
I removed my assignment to this issue.

[2020-08-25 13:56] asr opened #4864 "Missing test: `fix-whitespace` + `make test` + `stack.yaml`"
@rwe, in #4853 you fixed the issue with `fix-whitespace` + `make test` + `stack.yaml`. Thanks!

Running the following commands

[code]

I'm getting some compilation errors do not detect by TravisI. ¿Could you add a test for your fix, please?

[2020-08-25 14:06] rwe commented on #4864
@asr Can you please describe the errors? What version is XYZ? And are they fixed by https://github.com/agda/fix-whitespace/pull/8 ? (Which needs review and merge, I don't have permissions on that repo).

[2020-08-25 15:59] asr commented on #4864
I was using GHC 8.10.2. I was wrong, the error shouldn't be detected by Travis, but a GitHub workflow. At the moment we are not using GHC 8.10.2 on GitHub workflows due to https://github.com/actions/setup-haskell/pull/32. I merged  [agda/fix-whitespace#](https://github.com/agda/fix-whitespace/pull/8), thanks!

[2020-08-25 15:59] #4864 closed, assigned to rwe

[2020-08-25 16:08] #4615 closed, assigned to jespercockx

[2020-08-25 16:14] wenkokke opened #4865 "Primitive equality on Float is unintuitive"
The primitive equality on floats, induced via `toWord`, is deeply unintuitive, featuring greatest hits such as:
[code]
I understand that the numeric equality induces a broken propositional equality, but it may be better to just patch up the numeric order, and face the fact that we don't have a total order, rather than constructing a deeply unintuitive total order, based on the bit representation.

[2020-08-25 16:21] wenkokke commented on #4865
One good solution might be to expose the datatype above to the user, but internally represent floating-point numbers using Haskell's Double, and convert on-the-fly.

[2020-08-25 16:34] gallais commented on #4865
Should I transfer this issue to the stdlib tracker?
This seems unrelated to Agda's builtins.

[2020-08-25 16:45] wenkokke commented on #4865
I think the best solution is to overhaul floating-point numbers, representing them using the proposed datatype in Agda, and backing them either with Haskell's Double and (past a certain size) with, e.g., [scientific](https://hackage.haskell.org/package/scientific)?

[2020-08-25 16:52] wenkokke commented on #4865
However, at very least, we'd need to add a primitive to convert primitive Float to the proposed datatype.

[2020-08-25 17:52] wenkokke opened #4866 "Primitive functions `primRound`, `primFloor`, and `primCeil` should be partial"
The primitive functions `primRound`, `primFloor`, and `primCeil` should be partial, but are provided as total functions. As a consequence:
[code]

[2020-08-25 21:15] wenkokke opened #4868 "Revisiting floating-point numbers"
*I'm updating the top post to reflect the discussion going on below, so that you should always be able to get an idea of the current state of the proposal by just reading this post.*

Roadmap
===

I plan to revisit floating-point arithmetic in Agda in three steps:

1. ~~Change floating-point primitives to match IEEE 754 with unified NaNs (see #4885)~~;
2. Create `SpecFloat` builtin, change `primFl

[2020-08-25 21:17] wenkokke commented on #4866
Closing as duplicate of #4868.

[2020-08-25 21:17] #4866 closed, assigned to nobody

[2020-08-25 21:17] wenkokke commented on #4865
Closing as duplicate of #4868.

[2020-08-25 21:17] #4865 closed, assigned to nobody

[2020-08-25 21:18] wenkokke commented on #4860
Closing as duplicate of #4868.

[2020-08-25 21:18] #4860 closed, assigned to nobody

[2020-08-25 21:19] wenkokke commented on #4868
I've closed the related issues (#4866,  #4865, #4860).

[2020-08-25 21:31] wenkokke commented on #4868
I would say that I'm happy to implement these changes to the best of my abilities, but I would like some feedback on the considerations I've raised – @UlfNorell, @gallais, @nad, perhaps you could weigh in?

[2020-08-25 23:05] wenkokke commented on #4868
After reading ["The pitfalls of verifying floating-point computations"](https://hal.archives-ouvertes.fr/hal-00128124/file/floating-point-article.pdf), I would suggest that perhaps we should deprecate `primFloatEquality` and `primFloatLess`, and only expose `primFloatInequality`, or at very least add it as a primitive:

[2020-08-26 06:41] d-plaindoux opened #4869 "Internal error at src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs:147"
Compiler version __2.6.1__ fails with the following code fragment:

[code]

This error occurs when the compiler manages the defintion `4≰3 (s≤s (s≤s (s≤s ()))) = absurd`.

[code]

[2020-08-26 07:21] phile314 commented on #4868
I do agree that the Agda floating point story currently is a bit lacking. Thanks for looking into this!

A few remarks from my side on issues I have seen in the past:

1.    A big issue is that NaN contains some bits which are set to architecture-specific values if a NaN occurs. If there is a way to inspect those bits (e.g. primFloatToWord64, but there are other ways too), Agda floating point valu

[2020-08-26 08:23] wenkokke commented on #4868
I mention this briefly here (and more explicitly [here](https://github.com/agda/agda-stdlib/issues/1284)), but the current equivalence on float is induced via conversion to Word64, which means that it *does* actually distinguish NaNs. However, I don't think Agda has any method of obtaining different NaNs, but only because there's no way to obtain NaNs other than by computation using the primitives

[2020-08-26 08:29] wenkokke commented on #4868
I see, if that's the standard way the primitive comparisons are implemented, I would suggest dropping `primFloatEquality` and `primFloatLess`, in favour of `primFloatPartialInequality` (see also my comment [above](https://github.com/agda/agda/issues/4868#issuecomment-680311691)).

Actually, if we don't expose `primFloatEquality` and `primFloatLess`, people will just define it using `primFloatParti

[2020-08-26 08:34] wenkokke commented on #4868
That relies on the Agda equality equating different NaNs, which is what you'd want, but isn't standard for floating-point comparison. I feel that if we expose primitive equality, it should at very least behave as people expect equality for floats to behave.

But yes, that definition works, I just disagree with it working :)

[2020-08-26 08:44] wenkokke commented on #4868
Thanks for confirming this is an issue with GHC. I'm not sure if it's possible to exploit this issue from Agda, e.g., deriving bottom via a proof of congruence, but I'm not sure we can rule it out. I guess that's further reasons *not* to have a proof-carrying equality for Floats at all, and to perhaps deprecate the Word64 stuff. If we wanted a functioning proof-carrying relation on floating-point

[2020-08-26 08:57] phile314 commented on #4868
https://agda.readthedocs.io/en/v2.6.1/language/foreign-function-interface.html#built-in-types

-----

Note that this are only primitives. How the stdlib chooses to expose them is another question. Having `primFloatNumericalLess`  and `primFloatNumericalEquality` feels more straightforward to me than having the partial inequality as primitive. The stdlib of course could expose the inequality using

[2020-08-26 09:01] wenkokke commented on #4868
Oh, cool, so I guess that's one bottom golf I won't be winning.

[2020-08-26 09:03] wenkokke commented on #4868
Sure, but I'd rather have partial inequality as a primitive, and then leave it up to the standard library to define partial equality and partial strict inequality in terms of it... and total equality and a total order in terms of it and isNaN, if they truly want. I think it's more a matter of providing the most sensible primitives, which I think are the non-strict partial inequalities.

[2020-08-26 09:05] wenkokke commented on #4868
You can sort stuff using non-strict inequality, though, right? If you're uncomfortable expose IEEE754 float equality, I suggest we don't expose *any* equality. I think exposing a non-standard equality is the wrong choice.

[2020-08-26 09:06] wenkokke commented on #4868
I suppose we might observe differences between Agda compiled *with* and *without* optimisations?

[2020-08-26 09:07] gallais commented on #4868
Note that it is *necessary* to have decidable equality on floats to be
able to provide a proof of decidable equality for reflected syntax.

[2020-08-26 09:14] wenkokke commented on #4868
That's... suboptimal. However, as @phile314 pointed out, the bitwise equality isn't actually a problem, since Agda unifies NaNs, so we can keep it. Or we can derive an equality via injection into the proposed `Float′` type.

[2020-08-26 09:44] phile314 commented on #4868
It is not really clear what the "standard" equality for floats is. In an Agda setting, I would expect decidable equality. Thinking in floating point terms, it is IEEE754. E.g. Haskell has a related issue with the `Eq` class, where the `Eq Float` instance violates the laws as it uses IEEE754.

Looks like I misread your initial proposal ;-) I think if there is e.g. a `Partial` in the name, it is tot

[2020-08-26 09:46] wenkokke commented on #4868
I expect these to be heavily platform-dependent, and so you could actually write non-portable proofs. I'm fine scrapping these from the proposal.

[2020-08-26 09:47] wenkokke commented on #4868
Nope, but I am proposing scrapping `primFloatEquality`, so 😅

[2020-08-26 10:24] uncle-betty commented on #4869
A clause that pattern-matches with the absurd pattern `()`, doesn't have a right-hand side. And, indeed, removing the right-hand side (`= absurd`) from the `4≰3` clause makes the issue go away.

However, Agda normally doesn't produce an obscure internal error in this case. Instead, it produces a helpful warning that says that you cannot have a right-hand side. So, something is wrong.

The internal

[2020-08-26 10:29] nad commented on #4868
My current opinion (for `--safe` code):

* Primitives must respect definitional equality.

* Every primitive must be total.

* It must not be possible to distinguish between different platforms or optimisation levels in pure code.

I also wonder if we are reinventing the wheel. How do other systems handle floating-point numbers?

[2020-08-26 10:32] wenkokke commented on #4868
I'm essentially re-exporting the GHC primitives, so I don't think I'm reinventing the wheel here. I'd argue that, since we unify NaNs, it's fine to add a total `primFloatEquality` function.

I'd argue that a total order on Float just doesn't make sense, and hence inequality is necessarily partial. However, I think it's fine to just let `primFloatInequality NaN NaN` return `false`, and leave it up

[2020-08-26 10:39] nad commented on #4868
How are floats handled by other proof assistants?

I agree.

[2020-08-26 10:40] wenkokke commented on #4868
Would you prefer `primFloatPartialInequality` to have type `Float -> Float -> Maybe Bool`, and return `nothing` when comparing to NaN?

[2020-08-26 10:47] wenkokke commented on #4868
In my experience, either poorly or not at all:
- F* doesn't provide floats, and as a result, programs which reason about real numbers using Z3 cannot be executed or compiled.
- Liquid Haskell binds Haskell's Double to Z3's real numbers, without handling the discrepancy between the two types.
- Ohio University has an explicit representation of [float32](https://github.com/OUPL/MLCert/blob/master/fl

[2020-08-26 10:56] gallais commented on #4869
Because this is a benign warning that can be easily recovered from by dropping the needless RHS.
But clearly we are trying to serialise a bit too much when saving this warning.

[2020-08-26 10:56] wenkokke commented on #4868
My intention at the moment is to reduce Agda floating-point numbers to be strictly computational, making it impossible to *prove* anything about them save for bitwise equality (which is necessary, as @gallais pointed out).

For the future, I'd like to work towards an axiomatisation of the standards for precision, and create a floating-point type where we can actually track error-bounds. However, t

[2020-08-26 11:06] uncle-betty commented on #4869
Oooh, yes, right. That's why it's called a *warning*, I guess.  :) (As opposed to an error.)

FWIW, a stripped-down MWE:

[code]

Note that one needs at least one `s≤s`. The following doesn't have the issue.

[code]

[2020-08-26 11:12] UlfNorell commented on #4868
I think this is an excellent goal.

👍 I would argue for keeping the primitives as simple as possible, and deal with any ergonomic concerns on the library side.

[2020-08-26 11:15] wenkokke commented on #4868
Does that mean you would argue for keeping rounding as it is now?

[2020-08-26 11:21] UlfNorell commented on #4868
I wouldn't be strongly against keeping it as is (it's what ghc does after all), but the results are nonsensical enough that I can see the case for changing it.

[2020-08-26 11:41] wenkokke commented on #4868
[code]

[2020-08-26 12:28] jespercockx commented on #4869
Since metavariables are not serialized, there is normally a pass that turns all open metavariables into postulates before serialization (see https://github.com/agda/agda/blob/38615d640f63522ceb560f5f4d2696e53d06b007/src/full/Agda/TypeChecking/MetaVars.hs#L1478-L1527). Maybe the problem here is that one metavariable is missed by this process.

[2020-08-26 12:45] MatthewDaggitt commented on #4868
I'm new to all of this so I'm probably missing something, but reading through this thread I don't see any proposed axioms that would allow us to prove properties of `primFloatPartialInequality`/`primFloatPartialEquality`? Presumably we would also need to provide primitives guaranteeing things like transitivity?

[2020-08-26 12:59] txa opened #4871 "Internal error src/full/Agda/TypeChecking/Monad/Signature.hs:731"
I frequently get this error:

The workaround is to delete the .agdai files.

The version is

[2020-08-26 13:01] gallais commented on #4871
Seems like a duplicate of #4855

[2020-08-26 13:02] #4871 closed, assigned to nobody

[2020-08-26 13:02] txa commented on #4871
Indeed I googled for 731 but didn't fund this.

[2020-08-26 14:21] wenkokke commented on #4868
@MatthewDaggitt We might need to add those primitives, but they'd be rather annoying, so I'd rather do without them. The problem is that in general floating-point equality isn't reflexive or transitive, and inequality isn't either. So you'd have to write things like:
[code]
I think the proper way to do this still requires some thought. Mind you, partial reflexivity and transitivity don't give you

[2020-08-27 00:54] capn-freako opened #4875 "Expand function goals to extended lambda syntax."
Currently, when initially expanding a goal that is a function, using `C-c C-r`, `agda2-mode` expands to:

    \ x -> { }1

(i.e. - _simple_ lambda syntax).

However, the interactive goal solving assistant seems to be more capable and powerful when _extended_ lambda syntax is used:

    \{ x -> { }1 }

So, could we change the behavior to expand a function goal to _extended_ lambda syntax when the u

[2020-08-27 07:22] wenkokke opened #4876 "Document how to add new primitives"
The module `Agda.TypeChecking.Reduce.Fast` seems to reimplement a lot of the logic from `Agda.TypeChecking.Primitive`, but is severly out of sync, e.g., as far as I know integers are literals, and all of these builtins exist:
[code]
Have we documented the steps for implementing a new primitive somewhere? And if not, where should I document it? `HACKING.md`?

[2020-08-27 07:30] jespercockx opened #4877 "Implement erasure inference"
I just watched the talk for the following very interesting paper at ICFP: A dependently typed calculus with pattern matching and erasure inference (https://dl.acm.org/doi/10.1145/3408973). According to the authors, their algorithm for erasure inference works well together with explicit annotations and subsumes Brady et al.'s forcing optimization. I think it would be a good idea to see if this idea

[2020-08-27 07:38] wenkokke commented on #4868
I think that in reimplementing floating-point arithmetic, I'd like to revert the changes made due to <https://github.com/agda/agda/issues/3749>, and instead use bitwise equality as the denotational equality for floats, and as the propositional equality used for decidable equality on reflected syntax. However, for the equality I expose, I'd like to expose an IEEE 754 compliant boolean equality, whi

[2020-08-27 08:04] gallais commented on #4875
I think I would prefer using a cheap lambda by default but also
allowing users to case-split on `x` in which case Agda should
automatically turn the lambda into a pattern-matching one.

[2020-08-27 08:13] wenkokke commented on #4876
@gallais I'm guessing the "out of sync" portion of the issues isn't just faq, but also bug?

[2020-08-27 08:16] UlfNorell commented on #4876
Integers are not literals:
https://github.com/agda/agda/blob/c96a34dfc87c09caf9fd3902daec5656408cc836/src/full/Agda/Syntax/Literal.hs#L22-L29
`Agda.TypeChecking.Reduce.Fast` only has special casing for primitives on `Literal`s, any other primitives are handled by `Agda.TypeChecking.Primitive`.

[2020-08-27 08:17] wenkokke commented on #4876
Ohh, right, they're builtins, not literals.

[2020-08-27 08:26] UlfNorell commented on #4868
The problem with things behaving differently on different platforms/optimisation levels is that this immediately leads to segfaulting programs. If you can prove `foo ≡ true` at compile-time, but `foo` computes to `false` at runtime all the nice guarantees provided by the type checker goes out the window.

[2020-08-27 08:41] wenkokke commented on #4868
@UlfNorell: There isn't really any solution to this for floating-point arithmetic, though, since the results may change depending on the exact architecture and compiler flags. When programming with floats, it's best to avoid equality and strict inequality, since they're not stable, and hence may give you unexpected results. With that in mind, I think it's not unreasonable for us to put a *huge* wa

[2020-08-27 08:45] UlfNorell commented on #4868
Yeah, I know. I just wanted to be clear that platform specific behaviour is a bigger deal for dependently typed languages than simply typed ones.

[2020-08-27 08:48] wenkokke commented on #4868
I understand, but I don't think there's any way we can avoid platform specific behaviour for floating-point numbers. I'm guessing that as long as you compile the Agda code on the same platform that you run it on, with the same optimisation levels that you used to compile the Agda compiler... you're good. Which should be the majority of the cases.

[2020-08-27 09:30] L-TChen commented on #4610
The package `cl` is deprecated in favour of `cl-lib` in Emacs 27.

[2020-08-27 09:59] nad commented on #4875
In some cases you have a choice between different kinds of pattern matching:
[code]

[2020-08-27 10:13] nad commented on #4868
The paper [Primitive Floats in Coq](https://doi.org/10.4230/LIPIcs.ITP.2019.7) by Bertholon, Martin-Dorel and Roux might be of interest.

If use of floating-point numbers can lead to segfaults, then they should not be allowed in `--safe` mode.

[2020-08-27 10:30] wenkokke commented on #4868
@nad: Yeah, I was wondering about that. Could I just remove the `--safe` flag from `Agda.Builtin.Float`? I'm guessing I have to do some more work...

I believe that floating-point numbers can only lead to segfaults if you typecheck and compile the Agda on one architecture, and then run it on another, and also you proved equalities between a concrete floating-point literal and a computation.

Howev

[2020-08-27 10:42] wenkokke commented on #4868
@nad: Two things to take away from "Primitive Floats in Coq" so far, is that first they axiomatise a theory of floats in Coq which just has basic operations, but no specification, much like what I'm proposing, and that secondly they're providing the following declaration:
[code]
Which is *more or less* equivalent to the proposed `Float′` datatype, but does behave slightly differently around zeroes

[2020-08-27 11:28] wenkokke commented on #4868
@nad: The Coq standard library implementation (based on the paper you linked) seems to do the following:
1. Define primitive floats.
2. Define a mapping from primitive floats to spec floats.
3. Axiomatise that the mapping is injective and commutes with the primitive operations.
[code]
I think we can work towards such a setup for Agda. I think a good start towards this would be my proposed rewrite

[2020-08-27 12:47] nad commented on #4868
Perhaps you could make Agda complain if a `BUILTIN` pragma or a primitive related to floats is used in `--safe` mode.

[2020-08-27 13:20] UlfNorell commented on #4868
What are you suggesting? Leaving the `--safe` in `Agda.Builtin.Float` but complain if you use any float primitives elsewhere?

[2020-08-27 13:34] gallais commented on #4868
This would make reflection unsafe which means e.g. not being able to
use convenient frontends to automated solvers if you want your paper
to be checkable with `--safe`.

[2020-08-27 13:54] JacquesCarette commented on #4868
Anything that exposes IEEE Float is unsafe. Recall that IEEE-based equality is not even a congruence, because `+0.0 = -0.0` but `1/(-0.0) = -infinity` and `1/(+0.0)=+infinity` and those are not equal.

IMHO, there should be no floats in Agda's 'syntax' (i.e. what reflection lets you get at) at all.

[2020-08-27 14:48] wenkokke commented on #4868
Let's be real here, the kinds of programs that would trigger this kind of unsafe behaviour would require me to run write a program such as:
[code]
Then typecheck and compile it to Haskell with an Agda compiler built without optimisations, and compile the resulting Haskell code *with* optimisations.

What I'm saying is: Yes, this can happen, but I'm not sure if it's worth all the fuss. I think it's

[2020-08-27 14:53] wenkokke commented on #4868
@JacquesCarette That IEEE-based equality is a function into *booleans*, which generates no evidence, so it's perfectly safe.

[2020-08-27 15:02] phile314 commented on #4868
I think for Reflection you only need the `Float` type and decidable equality but nothing else? I think this part should be safe, platform and optimisation-level independent if using bitwise equality and normalising NaNs. Everything else could be moved e.g. to `Agda.Builtin.Float.Unsafe` or so.

[2020-08-27 15:10] wenkokke commented on #4868
If you *only* provide literals, and no literals for NaN or the infinities, then yes.

[2020-08-27 15:18] phile314 commented on #4868
Why is NaN/Infinities an issue if you normalise them as we currently do and use bitwise equality (so `NaN == NaN` and `-0.0 /= 0.0`)?

[2020-08-27 15:25] wenkokke commented on #4868
I'm working under the assumption that you might be able to trick the system to perform the comparison on two values in registers. Not sure if that's possible, but if it is, you could write:
[code]
And if you get the number just right, the compiler might construct that number in a register while parsing, and find that it fits... but when doing the same on the stack, it turns out it doesn't.

[2020-08-27 15:34] phile314 commented on #4868
I am not sure if you mean the error occurs when doing the comparison or when parsing float literals. The actual comparison code from ieee754:
[code]

So the comparison looks perfectly safe. Parsing might be another story ...

[2020-08-27 16:28] wenkokke commented on #4868
@phile314 My idea was that 1e616 would overflow to Inf while constructing it during parsing, and hence the equality would typecheck. If the backend would then just reemit the literal as 1e616, the compiled code could have a different result. However, having just modified the MAlonzo backend, I see that it specifically checks for infinte literals, and emits them as constants.

[2020-08-27 17:24] wenkokke opened #4878 "Replace biginteger.js with native BigInt"
Arbitrary precision integer arithmetic as [BigInt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) was standardised in JavaScript, and is pretty much implemented across the board. Currently, we package `agda-rts.js` with an implementation of arbitrary precision integer arithmetic, `biginteger.js`. We should consider migrating to using BigInt.

[2020-08-27 20:14] nad commented on #4868
No. My point was that `primitive` and `BUILTIN` can be used in all modules, so removing the `--safe` flag from `Agda.Builtin.Float` is not sufficient.

[2020-08-27 21:47] mechvel opened #4879 "Strange reports for "unsolved" in 2.6.1"
Agda 2.6.1 type checker often reports things like

_snd_1179 : Subsetoid.Member nzSubsetoid (proj₁ x)   [ at /home/Foo/Foo.agda:455,58-71 ]

It looks frightening and unclear - at least for a newbie.
I do guess that this is about some type unsolved, and it is easy to find the place, because the line number is printed.
But why does not Agda report any regular explanatory words, like, say  "the type

[2020-08-27 23:34] andy-morris opened #4880 "Non-dependent, irrelevant, nameless arguments aren't accepted in arrows"
(Agda 2.6.1)

These are all accepted:

[code]

But this is rejected with `{B} cannot appear by itself`:

[code]

[2020-08-28 04:44] tonyfloatersu commented on #4610
Thanks! I think its resolved for me.

[2020-08-28 05:27] L-TChen commented on #4610
@tonyfloatersu Would you like to contribute your solution? I am working on it, but my Emacs Lisp literacy is rather poor.

[2020-08-28 07:15] UlfNorell commented on #4868
But it's only in the builtin modules that you get away with doing unsafe things under `--safe`.

[2020-08-28 07:46] wenkokke opened #4881 "Internal error at src/full/Agda/Syntax/Concrete/Definitions.hs:904"
You can trigger the following internal error:
[code]
Minimal test case:
[code]

[2020-08-28 08:06] gallais commented on #4881
With 2.6.1 I get:

[code]

[2020-08-28 08:07] wenkokke commented on #4881
Yeah, it's a problem in the HEAD version of Agda only.

[2020-08-28 08:27] gallais commented on #4880
Self-contained file:

[code]

[2020-08-28 08:39] nad commented on #4610
Can the issues be fixed by replacing `(require 'cl)` by `(require 'cl-lib)` (for Emacs 24.3 and later)?

[2020-08-28 08:50] L-TChen commented on #4610
Not really. You will get the following error message if you use `cl-lib` without modification:
[code]

[2020-08-28 09:05] L-TChen commented on #4610
Alright, I think I know what to do. I will try to get this done later today.

[2020-08-28 09:09] wenkokke opened #4882 "Missing `reduce` in `literalStrategy`"
The following program fails:
[code]
With the following error:
[code]
This is probably due to a missing `reduce` in `Agda.TypeChecking.Rules.LHS.Unify.literalStrategy`:
[code]

[2020-08-28 09:15] wenkokke opened #4883 "The `make type-check` target does not run `stack` (only `cabal` is supported)"
The `make type-check` target still runs a bare `cabal v1` command. Unfortunately, this wasn't addressed by the recent #4841.

[2020-08-28 14:46] uncle-betty commented on #4881
Perhaps this is a consequence of the fix for #4157?

I was able to gather the following additional data.

For `NoName` names, `addLoneSig` now generates a fresh `NameId` when adding a new signature to the `LoneSigs` map. However, the map key uses the old `NameId`, so that there's a mismatch between the map key's `NameId` and the map value's `NameId`. This is intentional, according to the comment o

[2020-08-29 19:49] rwe commented on #4883
Yes, unfortunately that PR only fixed up the existing GHC etc. spawns (and it even missed some that are spawned indirectly through the test suites). There had not been a stack variation implemented for that goal at all and I didn't add new ones. But this is a good issue to keep open. There's a lot of inconsistency in those makefiles; unfortunately make is a _terrible_ tool for complex build config

[2020-08-29 20:57] mechvel opened #4888 ""Illegal declaration(s) before top-level module" in Agda 2.6.1"
Some typos (like "impor " instead of "import ") lead to this report.
But the report does not show the responsible line No, while there may be, say,
100 lines of import declarations before the top level module.

[2020-08-29 21:22] gallais commented on #4888
At the point where we raise the error we do not know which of the
declarations is malformed. We could however do a bit more work and
try to convert them from concrete to abstract on the hope that this
will trigger an error!

I'll have a look at what this gets us.

[2020-08-29 21:28] mechvel commented on #4888
I thought that this is easy to fix.
But if it is difficult, then there are many other more important problems ...

[2020-08-30 08:31] #4888 closed, assigned to gallais

[2020-08-30 08:38] wenkokke opened #4890 "Deprecating primFloatToWord64"
The Word64 type is only used to derive a decidable equality for Float and QName, via an injection X ↣ Word64 ↣ Nat. It doesn't have any further primitives associated with it.

However, the injections into Word64 leak implementation details, aren't guaranteed to be consistent across backends and architectures. Furthermore, the injection Float ↣ Word64 ↣ Nat is difficult to implement consistently ac

[2020-08-30 19:57] UlfNorell commented on #4890
`Word64` compiles to machine integers, so it can absolutely be used for more stuff than to derive equality for `Float` and `QName`. See for instance, https://github.com/UlfNorell/agda-prelude/blob/master/src/Prelude/Word.agda. The compiler knows about 64-bit arithmetic and will use it when it can.

I'm all for deprecating `primFloatToWord64` though.

[2020-08-31 07:35] wenkokke opened #4892 "Fun with Floats"
*This issue is strictly for documentation purposes. I don't think it's possible to fix this behaviour, whilst keeping floats in Agda. However, it seems like a good idea to at least document the ways you can abuse Float to get non-deterministic behaviour.*

After being compiled with MAlonzo, the following program non-deterministically prints *some* number at runtime, but it's never 15.
[code]
The p

[2020-08-31 07:57] wenkokke commented on #4892
I don't think you can get these sorts of problem if you don't allow compile-time computation with `Float`, so I guess we could hide the compile-time evaluation of floating-point primitives behind an `--allow-floats` flag?

[2020-08-31 08:22] gallais commented on #4892
In which case floats may just as well be postulated rather than built in?

[2020-08-31 08:45] nad commented on #4892
I guess it might be nice to support some kind of (overloaded) floating-point literals.

I am in favour of moving support for floats from Agda to some library.

[2020-08-31 08:52] UlfNorell commented on #4892
I think an `--allow-floats` flag is a nice solution. This neatly solves the `--safe` issue as well.

[2020-08-31 09:01] wenkokke commented on #4892
I'd be really sad if we lost the ability do to floating-point computations at compile-time, 'cuz my current research sorta depends on it.

[2020-08-31 09:02] wenkokke commented on #4892
We may need a better name than `--allow-floats`, though, since we'll have postulated floats either way, and the flag only controls compile-time evaluation.

[2020-08-31 09:06] UlfNorell commented on #4892
Yes, for sure. Maybe `--compile-time-floats`?

[2020-08-31 09:23] wenkokke commented on #4892
I'll have a look at this once #4885 is merged.

[2020-08-31 09:25] wenkokke commented on #4890
Okay, I'll deprecate `primFloatToWord64` once I have a replacement via `SpecFloat`.

[2020-08-31 09:27] wenkokke commented on #4890
If we'd like to make Word more useful, should we add a primitive theorem stating that `primNatToWord64` is injective module 2^64?

[2020-08-31 09:29] nad opened #4893 "Regression"
The following code is accepted by Agda 2.6.1, but not by Agda 2.6.2-d30045f:
[code]
[code]

[2020-08-31 09:37] nad commented on #4892
I guess your intention is that `--compile-time-floats` would be incompatible with `--safe`. However, there are still problems with floats. I don't think it is nice that you can get different results by switching from `-O0` to `-O`. (I accept that this change can affect performance, and possibly turn a crashing program into one that completes successfully.)

[2020-08-31 09:39] wenkokke commented on #4892
@nad: Yup, that's the intention.

I agree that it's not nice, but that's floats for you. The solution to this would be to not compile via GHC, since the problem is inherited from GHC (see [-fexcess-precision](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-optimisation.html#ghc-flag--fexcess-precision)). We can try and mitigate it, by forcing `-fno-excess-precision` whenever

[2020-08-31 10:04] wenkokke commented on #4892
Actually, another approach would be to decorate those operations which can cause overflow or underflow with an operation to normalise infinities, either explicitly, or by casting to Word64 and back. We could then have an `--unsafe-floats` operation which disables normalisation of infinities and perhaps NaN normalisation.

I'd probably prefer this?

[2020-08-31 10:14] wenkokke commented on #4892
I did a little experiment, and truncating to Word64 results in consistent behaviour:
[code]
When compiled with `-O0`, this prints:
[code]
When compiled with `-O1`, this prints:
[code]

[2020-08-31 10:15] guillaumebrunerie commented on #4892
Can the issue be reproduced with Haskell/GHC only? (i.e. have an Haskell program that gives different results by switching from `-O0` to `-O`)
If so, is that considered a bug in GHC?

[2020-08-31 10:16] wenkokke commented on #4892
@guillaumebrunerie Yes, it's a known and documented bug. See [Bugs in GHC](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/bugs.html#bugs-ghc).

[2020-08-31 10:16] wenkokke commented on #4892
I'm actually gonna implement this fix in #4885.

[2020-08-31 12:54] MatthewDaggitt commented on #4868
Ah so it's not "partial" in the sense of a partial order. Is there another technical sense of "partial" that the proposed names refer to?

Haha, I should probably have saved reading that until after I started working with this stuff next month!

[2020-08-31 14:26] wenkokke commented on #4868
I've changed them since, but the word "partial" because there's a well-behaved partial order hiding within the IEEE equalities. As long as you don't produce a NaN, operations  *somewhat* follow the familiar laws.

[2020-08-31 18:51] wenkokke commented on #4610
@L-TChen I opened a pull-request which replaces cl with cl-lib, and moves all calls to cl symbols to their cl-lib equivalents: <https://github.com/agda/agda/pull/4894>.

However, I might've moved symbols that don't use any Common Lisp features: cl overrides a lot of macros, such as defun and defmacro, and I didn't check to see if the cl features were truly needed.

[2020-08-31 22:38] asr commented on #4837
From the discussion on https://gitlab.haskell.org/ghc/ghc/-/issues/18550 it seems GHC 8.10.2 is broken on Windows.

[2020-08-31 23:41] L-TChen commented on #4610
@wenkokke I have opened a PR #4886 for this. (This issue was referenced but I did not leave a comment explicitly here. Sorry for the duplicate work.)

[2020-08-31 23:52] wenkokke commented on #4610
@L-TChen No worries! I quickly patched up the emacs-mode to get it to work on my machine, and figured I might as well submit a PR.

[2020-09-01 09:15] #4882 closed, assigned to wenkokke

[2020-09-01 11:16] nad opened #4899 "Regression related to non-fibrant types"
The following code is accepted by Agda 2.6.1, but rejected by Agda 2.6.2-d30045f:
[code]
[code]
Three comments:
* It seems to me as if Agda is too eager to reject the definition of `f`.
* I don't see anything about support for non-fibrant types in the changelog.
* Perhaps there should be a flag that activates support for non-fibrant types.

[2020-09-01 13:04] UlfNorell opened #4900 "Travis hanging on stack build size-solver"
Both #4895 and #4898 got hit by this, but other builds are passing so seems like an intermittent problem. Not sure how to debug.

[2020-09-01 13:05] #3831 closed, assigned to L-TChen

[2020-09-01 14:06] uncle-betty commented on #4881
Whoops, had I known that the commits to my fork show up here, I wouldn't have amended and force-pushed. Anyway. #4901 now is my proposal for fixing this.

[2020-09-01 14:25] nad opened #4902 "Regression"
The following code is accepted by Agda 2.6.1, but rejected by Agda 2.6.2-d30045f:
[code]
[code]

[2020-09-01 15:35] sholsapple-vertiv commented on #3653
Seeing this problem with GHC 8.8.2 and Agda 2.6.1.  Do I have an incompatibility?

Using Cabal-3.0.1.0 compiled by ghc-8.8
Using compiler: ghc-8.8.2
Using install prefix:
C:\Users\Susan\AppData\Roaming\cabal\store\ghc-8.8.2\Agda-2.6.1-13dd858997bb28699b930f8e9e21e02bbb73cd46
Executables installed in:
C:\Users\Susan\AppData\Roaming\cabal\store\ghc-8.8.2\Agda-2.6.1-13dd858997bb28699b930f8e9e21e02bbb

[2020-09-01 18:33] uncle-betty commented on #4869
Thanks for the pointer towards meta instantiation! It seems to have done the trick. I think that I was able to fix the issue. See #4903.

I basically followed the lead of `checkFunDefS`, which uses `instantiateFull` to get rid of metas in clauses. I figured that the same method would work for the argument information in the warning, as clauses contain that same argument information.

I don't yet f

[2020-09-01 18:52] rwe commented on #4900
Example of failing build: https://travis-ci.org/github/agda/agda/jobs/722914016

Not sure if it's 8.10.2 specific or not.
The command is:
[code]
where:
[code]

The only recent change there was the increased RTS options, which were need to get 8.10.2 to build Agda at all, but shouldn't cause an issue here. GHC-8.10.2 builds slower than previous versions. The main Agda build is not run with `--silen

[2020-09-01 19:13] UlfNorell opened #4904 "Release 2.6.1.1 with ghc-8.10.2 support"
Since the Haskell Platform comes with ghc-8.10.2 and Agda-2.6.1 doesn't build with ghc-8.10.2 it would make sense to release a new version that does. I suggest we make only the minimal changes required for ghc-8.10.2. Thoughts?

cc @asr

[2020-09-01 20:34] #4900 closed, assigned to nobody

[2020-09-02 00:40] knrafto opened #4906 "Allow pattern matching with large natural number literals"
Since Agda can represent built-in natural numbers efficiently, I was suprised that the following doesn't work:

[code]

This fails with:
[code]

~~I think I do want to do it this way though, because I want to pattern match on many arbitrary-looking large integers (namely, machine instruction opcodes) and writing it as a huge if-else tree seems much harder to work with than pattern matching.~~ (edi

[2020-09-02 00:43] knrafto commented on #4906
I'm interested in taking this on, but I'm not very familiar with the internals of Agda (for example, I'm not sure when `Agda.TypeChecking.CompiledClause.Match` is used vs `Agda.TypeChecking.Patterns.Match` vs `Agda.TypeChecking.Reduce.Fast`). Is there a place I can ask dumb questions? 🙃

[2020-09-02 06:07] phile314 commented on #4878
Yeah, I think the standardised BigInt was not yet around when that code was written. Of course, now that it's there it would make sense to use the builtin BigInts.

Edge seems the latest to catch up and only supports it since January 2020 [1], but I think it would still be okay to move to builtin BigInts as browsers should be updated regularly anyway for security reasons.

[1] https://caniuse.com/

[2020-09-02 06:55] UlfNorell commented on #4904
I pushed a `release-2.6.1.1` branch on top of `v2.6.1` with a relaxed bound in the `if`.

[2020-09-02 06:58] UlfNorell commented on #4904
It failed github actions with
[code]
Is the `v2.6.1` tag not good?

[2020-09-02 07:32] UlfNorell commented on #4906
There are a few places:
- the #dev-corner channel on [slack](https://join.slack.com/t/agda-lang/shared_invite/zt-eslvaxz7-DDtHNV2hNS37c6~bN2dNIA)
- the [agda-dev mailing list](https://lists.chalmers.se/mailman/listinfo/agda-dev)
- [gitter](https://gitter.im/agda/agda)

The answer to your example question is:
- `Reduce.Fast` default reduction
- `CompiledClause.Match` used for custom reductions (lik

[2020-09-02 08:07] L-TChen commented on #4850
It looks like this issue is resolved already. Is that right?

[2020-09-02 09:21] knrafto commented on #4906
Thanks for the Slack invite!

Interesting, thanks. Can you give me an example of where that's needed? I feel like such a function would need to be very "weird" and I can't really imagine it.

For the `foo` example, I plan on generating the following case tree so that every match is still either on constructors or on literals. Do you think this would work?

[code]

One thing I'm not sure about thou

[2020-09-02 09:44] UlfNorell commented on #4906
It's needed for definitions by copatterns. For instance
[code]

Natural numbers are strict, so WHNF of `1 + 1 + 1` is `3`, not `suc (1 + 1)`.

Yes. For pattern matching, `constructorForm` is used to reveal the top-level constructor.

[2020-09-02 10:12] nad opened #4907 "Internal error in Agda.TypeChecking.Sort"
The following code is accepted by Agda 2.6.1, but Agda 2.6.2-d30045f throws an internal error:
[code]
[code]

[2020-09-02 11:17] nad commented on #4907
Bisection points towards d867f5741d85c0f77e7822a289368d8d8107d625 ("[ fix #4615 ] Enable --no-sort-comparison by default").

[2020-09-02 12:32] nad opened #4908 "Add --safe-except-for-sized-types?"
Given that we have some long-standing consistency bugs related to sized types it makes sense to disallow sized types when `--safe` is active. However, I have quite a bit of code that uses sized types, and I'd like Agda to check that I'm not using other unsafe features. Thus it might make sense to add a flag like `--safe-except-for-sized-types`.

An alternative would be to add a more general flag w

[2020-09-02 12:42] nad commented on #4907
I have also encountered the following error:
[code]

[2020-09-02 13:06] asr commented on #4904
The version of `Agda.cabal` in `v2.6.1` is the version released. This version cannot be used with our CI (e.g. the test-suite `agda-tests` is not included). You should create the `release-2.6.1.1` branch on the top of the `release-2.6.1` branch.

[2020-09-02 13:18] asr commented on #4904
Agda 2.6.1 was not released with support for GHC 8.10.1. Agda 2.6.1 compiles with 8.10.1 because it included some commits related to the support of 8.10.1. Off the top on my head, it is necessary to include the files `stack-8.10.1.yaml`, `stack-8.10.2.yaml` (mentioned in `Agda.cabal`) and `.ghci-8.10`.

[2020-09-02 13:25] nad commented on #4904
Perhaps it makes sense to try to reduce the resources required to compile Agda using GHC 8.10.2.

[2020-09-02 13:27] asr commented on #4904
A release supporting GHC 8.10.1 and 8.10.2 also should support 8.8.4.

[2020-09-02 14:49] wenkokke commented on #4850
@L-TChen It's _partially_ resolved, there are still plenty of commands, such as `make type-check`, which invoke bare cabal v1 commands.

[2020-09-02 14:50] wenkokke commented on #4850
However, I did open another issue for that, so I'll close this issue.

[2020-09-02 14:50] #4850 closed, assigned to nobody

[2020-09-02 21:10] knrafto opened #4909 "Rewrite rule not accepted with --no-fast-reduce"
[code]

This fails with

[code]

but it succeeds without the `--no-fast-reduce` option.

[2020-09-03 05:42] knrafto commented on #4906
Hmm, this was of course harder than I thought. I'm having trouble coverage-checking this:

[code]

since there are only literal patterns for `n`, the coverage checker tries splitting with a literal case (`0` and a catch-all case) but the right thing to do here is split on the zero/suc constructor.

[2020-09-03 06:46] UlfNorell commented on #4904
Yes, indeed. Does 2.6.1 not build with ghc-8.8.4?

[2020-09-03 13:30] asr commented on #4904
Agda 2.6.1 builds with GHC 8.8.4 on Ubuntu. I don't know if it builds on macOS or Windows.

[2020-09-03 15:17] UlfNorell commented on #4904
So no reason to believe there are any problems. I can try `cabal install Agda` with 8.8.4 on MacOS to check.

I don't want to get bogged down in _when-we're-anyway-doing-a-release-we-should-also-fix-such-and-such_ though. Currently you can't install Agda with the latest Haskell platform, and the only reason is that we explicitly wrote in the cabal file that compilation should fail with ghc > 8.10.

[2020-09-03 15:39] asr commented on #4904
We couldn't test `master` with GHC 8.8.4 on Windows because https://gitlab.haskell.org/ghc/ghc/-/issues/18634. Also from the discussion on https://gitlab.haskell.org/ghc/ghc/-/issues/18550 it seems GHC 8.10.2 is broken on Windows.

[2020-09-03 18:43] UlfNorell commented on #4904
2.6.1 installs out of the box on Mac OS with ghc-8.8.4.

[2020-09-04 13:20] nad commented on #4521
I tried to remove `-fexpose-all-unfoldings` and `-fspecialise-aggressively` from the Cabal file. This made compilation about twice as fast and the compiled binary about 40 % smaller, but the standard library test was a little slower (perhaps something like 6 %). Afterwards I replaced `-M2.3G` with `-M1.5G`, and compilation was still about twice as fast as before.

Can anyone with a 64-bit setup re

[2020-09-04 13:22] nad commented on #4904
See https://github.com/agda/agda/issues/4521#issuecomment-687141175.

[2020-09-04 13:35] mietek opened #4911 "`mutual` blocks should be functionally equivalent to new-style implicit mutual recursion"
I don’t think I’m the only one who finds `mutual` blocks to be more readable than new-style implicit mutual recursion.  Unfortunately, `mutual` blocks seem to be less expressive.

[code]

[2020-09-05 08:26] UlfNorell commented on #4911
What's your actual proposal here?

The order of checking definitions and type signatures matters. In a new-style mutual block you give them in the order to be checked and in an old-style `mutual` block we check signatures first and then definitions. I don't see how to provide the flexibility of the former while (A) keeping the readability and (B) not breaking all code using old-style mutual.

[2020-09-05 08:56] UlfNorell commented on #4904
Can I copy these (and `stack-8.8.4.yaml`) from `master`? I'm worried that dependencies have changed since the 2.6.1 release. How do you generate them?

[2020-09-05 13:03] lclem opened #4912 "issue with REWRITE"
I get the following error "drop-map-cons  is not a legal rewrite rule, since the following variables are not bound by the left hand side:  a", while it seems to me that `a` is pretty much bound in the code below:

[code]
The original motivation to have `drop-map-cons` as a REWRITE is that, by omitting it, there is a local confluence problem, which I also don't know how to address: "Confluence chec

[2020-09-05 14:25] jespercockx commented on #4912
The problem is that `a` does not occur in a pattern position in the left-hand side of the rewrite rule. In the rule, the function `f` is an argument, so it could be in particular a constant function, which would leave Agda with no way to determine the value of `a` on the right-hand side of the rewrite rule. Hence the rule is rejected.

To fix the problem, you can maybe try to add a rewrite rule wi

[2020-09-05 14:47] lclem commented on #4912
thanks for the quick reply, I now have a better understanding where the problem with `a` was, so I can avoid it in the future.
I tried with your suggestion and I flipped the equality in `drop-map-cons` as follows:

[code]

but now together with the other code above it has two confluence issues:

1) "Confluence check failed: drop n (map (λ z → f z) (a ∷ as))
reduces to both map f (drop n (a ∷ as))

[2020-09-05 15:40] #4912 closed, assigned to nobody

[2020-09-05 16:50] asr commented on #4904
I don't know.

For each new version of GHC, I start from a file without dependencies, run `stack` multiple times until I fix all the errors.

[2020-09-05 17:02] asr commented on #4904
If you are planning release first a release candidate you can follow the procedure in [agda-releases-candidates.txt](https://github.com/agda/agda/blob/73405f70bced057d24dd4bf122d53f9548544aba/notes/agda-releases-candidates.txt), if not, you can follow the procedure in [agda-releases.txt](https://github.com/agda/agda/blob/73405f70bced057d24dd4bf122d53f9548544aba/notes/agda-releases.txt). For suppor

[2020-09-05 17:33] UlfNorell commented on #4904
We don't need a release candidate for this, since it only change the condition in the cabal file that prevents compilation with 8.10.2. The instructions say to

and I don't know how to do that.

[2020-09-05 18:10] jespercockx commented on #4907
It seems that the conversion checker is trying to instantiate a meta with a solution whose type is not (yet known to be) equal to the type of the meta. The new check introduced by d867f57 however assumes that if the type of the meta is a sort, then the type of the solution should also be (syntactically) a sort. So the problem is caused by the fact that the conversion checker is very liberal wrt so

[2020-09-05 18:17] asr commented on #4904
For GHC 8.10.1 it means:

[code]

[2020-09-05 18:29] UlfNorell commented on #4904
`stack-8.10.1.yaml` (on `master`) lists a whole bunch of specific libraries. Are you saying I don't need to write down any `extra-deps` and just put the above in the yaml file? In that case why do we have them on master?

[2020-09-05 19:45] jespercockx commented on #4907
My fix seems to work but the double-checker now complains:
[code]
The problem seems to be again that the double-checker is run "too early", when the type of the solution is not yet known to be a sort. This is confirmed by the debug output:
[code]
A possible solution would be to make `shouldBeSort` throw a pattern violation when its argument is not yet known to be a sort b/c of a metavariable.

[2020-09-05 20:24] asr commented on #4904
No. I meant, you start with the above three lines and you added the extra dependencies pointed out by the command `stack` when installing Agda using it.

[2020-09-06 08:28] jespercockx commented on #4519
I'm hitting this issue again on a file that has no unsolved metas but only "unsolved constraints". It is immensely frustrating that Agda gives me absolutely no clue as to what constraint is unsolved, which might help me to find what's causing the problem.

Why does Agda not simply print the unsolved constraints as usual?

[2020-09-06 08:35] jespercockx commented on #4519
In #4065, @Saizan writes:

Actually this constraint gives me plenty of information, assuming I know the origin of the two metavariables `_4` and `_6`. The fact that Agda currently makes it very hard to trace back the origin of a metavariable should not be an excuse to hide information, but rather to *add more* so the user can make sense of the error. (There is the separate question of how difficul

[2020-09-06 17:15] #4907 closed, assigned to jespercockx

[2020-09-06 17:21] jespercockx commented on #4907
Phew, this turned out to be a lot harder to fix than I thought. In the end, only the second part of the fix turned out to be necessary (making `shouldBeSort` and compatriots throw a pattern violation) but this seems to have some unintuitive effect on the double-checker. I'm *reasonably* sure that this is an issue with the double-checker and not with my fix (after all there's still quite a few test

[2020-09-06 18:30] #4909 closed, assigned to jespercockx

[2020-09-07 09:34] Saizan commented on #4519
@jespercockx I still have no clue how to read that constraint, is it saying that _4 is supposed to be Set? What is `[ℓ]` ?

However my original change regarding #3606 was meant to stop printing the `BlockedConst` solutions, as they are instead inlined into other constraints.

Now I realize that `UnBlock` constraints can also be related to a `PostponedTypeCheckingProblem`, which I would agree it sh

[2020-09-07 12:58] UlfNorell commented on #4904
I think I got everything done correctly. The sdist-ball installs cleanly on my machine and on Travis (Travis fails on standard library since I didn't mess with the submodule commit to get something that works with 2.6.1.1 and ghc-8.10). Would appreciate an extra pair of eyes on it before I push to hackage (see https://github.com/agda/agda/releases/tag/v2.6.1.1).

[2020-09-07 13:23] asr commented on #4904
I'll review it.

[2020-09-07 14:57] asr commented on #4904
I didn't find any problem so far. I want to test the `.tar` file which will be upload to Hackage. I suggest to upload a candidate to Hackage.

[2020-09-07 15:28] UlfNorell commented on #4904
How do I do this?

Edit: I mean should I just cabal upload the sdist I made from v2.6.1.1?

[2020-09-07 16:25] andreasabel commented on #4883
Good enough to have won the 2002 ACM software system award. :-D

A discussion on just type-checking with stack is here:
- [ ] https://github.com/commercialhaskell/stack/issues/977

[2020-09-07 16:25] asr commented on #4904
I couldn't see the compilation with 8.8.4 and 8.10.2 in [Travis](https://www.travis-ci.org/github/agda/agda/builds/724913868) due to the missing `doc/user-manual.pdf` (note that the other versions of GHC hadn't this problem).

[2020-09-07 16:32] andreasabel commented on #4904
If you choose not to release any bug fixes scheduled for 2.6.1.1, you should bump these to a new milestone 2.6.1.2.  (I am fine with only fixing the ghc 8.10.2 compilation problem with 2.6.1.1 and postponing the other problems, if that helps getting the release out.)

[2020-09-07 16:35] asr commented on #4904
In Hackage it is possible to upload a `candidate` or a `final` version. Using a recent version of `cabal-install` by default it is uploaded a `candidate` (in previous versions was the other way around).

Using `cabal-install >= 2.4.0.1` you can upload a candidate version using the following steps

https://github.com/agda/agda/blob/1d80a3d8161a8c8f40fff194107a85c379f96d99/notes/agda-releases-candid

[2020-09-07 16:39] andreasabel commented on #4893
Still type checks with agda compiled on 24 August 2020.  I'll try a bisect.

[2020-09-07 16:40] UlfNorell commented on #4904
I uploaded the sdist. For some reason `cabal haddock --for-hackage` didn't give me a tar ball. I'll see if I can work out what went wrong later.

[2020-09-07 16:50] asr commented on #4904
The last time I used `cabal-install 2.4.0.1`. I have the idea I had some problems with `cabal-install 3.*` but I didn't remember the details. I was writing this message but you were faster.

[2020-09-07 17:09] #4869 closed, assigned to uncle-betty

[2020-09-07 17:28] asr commented on #4904
The new `*.yaml` files are missing.

[2020-09-07 18:52] UlfNorell commented on #4904
Oh, I forgot to add them to the cabal file 😊. Should be fixed now.

[2020-09-07 19:07] asr commented on #4904
Thanks!

I built without problems the Hackage candidate with GHC 8.8.4 and 8.10.2.

[2020-09-08 02:15] andreasabel commented on #4893
@jespercockx, agda-bisect seems to blame the skipping of sort comparison:

[2020-09-08 07:11] UlfNorell commented on #4904
Updating to cabal-install-3.2.0.0 made it work. Candidate documentation uploaded.

[2020-09-08 09:16] andreasabel commented on #4902
@UlfNorell, bisection seems to blame some work of you on #4782 .

552987aa0119f2bca5eaf4dca7934e37209112f9 is the first bad commit
[code]

[2020-09-08 10:33] nad opened #4917 "The caching machinery is broken"
Caching does not work for the following code:
[code]
Debug output when the code is loaded the first time:
[code]
Debug output when the code is reloaded:
[code]
Debug output when an interface file exists, Agda is restarted and the code is loaded:
[code]
Debug output when the code is reloaded:
[code]

[2020-09-08 10:41] nad commented on #4917
The following files can perhaps be used as a test case:
* `Issue4917.agda`:
[code]
* A test script:
[code]
For some reason the test case succeeds for Agda 2.6.1 even if `--caching` is replaced by `--no-caching`. I wonder if the flag is implemented incorrectly.

[2020-09-08 11:41] andreasabel commented on #4899
bfc886e03a69571f84a8788699a606daa5e8ee7d is the first bad commit
@UlfNorell, bisection blames commit bfc886e03a69571f84a8788699a606daa5e8ee7d
[code]

[2020-09-08 12:01] nad commented on #4917
Bisection points to 053a682276d0c1570dd6da38d224014744aa9def ("[ fix #4093 ] Make Set and Prop from keywords into builtins, enable auto-import of Agda.Primitive using (Set; Prop)").

[2020-09-08 12:07] nad commented on #4917
When I replace `--caching` with `--no-caching` in the test case, then bisection points to 549f939bcef2c36f98a0f7cee97a00553a324199 ("[ fixed #4647 ] top-level interaction: access to private decls."). Was some problem related to the `--caching` flag fixed in this commit?

[2020-09-08 12:09] andreasabel commented on #4917
No, this commit implements the machinery to re-typecheck when an interactive command is used that may want to access the private declarations (which are zapped from the interface files).

[2020-09-08 12:22] asr commented on #4904
The file `Agda.cabal` in tag `v.2.6.1.1` is different to the one in Hackage.

[2020-09-08 12:31] UlfNorell commented on #4904
Oh, yeah I had to fix a couple of things and I didn't update the tag. Fixed now.

[2020-09-08 12:43] asr commented on #4904
I haven't more comments.

[2020-09-08 12:47] UlfNorell commented on #4904
I'll run `cabal upload --publish` then.

[2020-09-08 13:05] asr commented on #4904
And `cabal upload --publish -d` for the documentation.

[2020-09-08 13:56] UlfNorell commented on #4904
Done.

[2020-09-08 14:28] #4881 closed, assigned to uncle-betty

[2020-09-08 14:46] andreasabel commented on #4911
The reason why we introduced new-style implicit mutual blocks was exactly to make examples like yours work, @mietek .  While I also like the explicit `mutual` better, it does not cover your example.

One could think of pragmas that instruct Agda on the order of type-checking the individual declarations and definitions, but this would need a concrete proposal---and if the solution violates esthetic

[2020-09-08 16:31] uncle-betty commented on #4917
As I understand the Agda code, loading the currently edited file is supposed to always ignore an existing interface file and trigger a type-check. This behavior seems to have been introduced for #4647. More technically, when `getInterface'` is evaluated with `MainInterface (TypeCheck TopLevelInteraction)`, then an existing interface file is ignored.

I'd thus say, the issue at hand is rather: Why

[2020-09-08 17:18] andreasabel commented on #4917
Thanks for the great analysis, @uncle-betty !

There is a choice to make:
1. Either, we keep the current behavior and close this issue as working-as-intented.  Then it means that if you reload a file that you want to type check it.
2. Or, we change the current behavior to stay in `RegularInteraction` when reloading.  This means that reloading a file may do nothing, and re-type-checking is only tri

[2020-09-08 17:19] uncle-betty commented on #4917
The interface file is used not only after restarting Agda, it's also used when switching to a different file. `RegularInteraction` is in effect - and an available current interface file is used - whenever Agda's idea of what the current main file is changes, i.e.,

* when it changes from "no file" to some file X after having restarted Agda, or
* when it changes from file X to file Y.

So, it seems

[2020-09-08 19:59] nad commented on #4917
I'm not quite sure what you are suggesting above. However, I do think that we should support caching properly. With Agda 2.6.1 caching ensures that performance is often decent when I work at the end of a large file.

[2020-09-08 22:38] uncle-betty commented on #4917
Oh, wait a second. Maybe then there isn't any problem after all. I don't think that the collected data allows us to conclude that there's an issue with caching.

When given C-c C-l for unmodified source code (as in the above instructions for reproducing the issue), Agda does one of the following two things:

* It either type-checks the source code and creates an interface file, or
* it loads an ex

[2020-09-09 00:44] asr commented on #4904
Missing tasks:

https://github.com/agda/agda/blob/076bd40cfe6ba61109ea11596ba3df05c9dcd8d5/notes/agda-releases.txt#L125-L132

https://github.com/agda/agda/blob/076bd40cfe6ba61109ea11596ba3df05c9dcd8d5/notes/agda-releases.txt#L145-L178

[2020-09-09 08:26] uncle-betty commented on #4917
Just to be clearer and relate what I said to the provided debug output:

* `Checking D.` is Agda chosing to type-check. This should still involve caching.
* The empty output is Agda chosing to load the existing interface file.

This can be confirmed by increasing the verbosity for `import` instead of `tc`. However, I'd do this in my `.emacs` file rather than via `OPTIONS`. When pragmas in the sour

[2020-09-09 10:30] #4880 closed, assigned to andreasabel

[2020-09-09 10:34] andreasabel commented on #4880
The fix https://github.com/agda/agda/commit/3a7316e0e8097e1b87b45a26ef28541ab9f9386d also includes the case `{.B} -> A`.

[2020-09-09 10:47] nad commented on #4917
Yes, I see degraded performance.

[2020-09-09 11:26] mietek commented on #4911
It seems to me that my attempts at using new-style implicit mutual recursion amount to manually maintaining a topological ordering on definitions and type signatures.  Could we have explicit `mutual` blocks automatically maintain this topological ordering?

[2020-09-09 11:31] nad commented on #4917
When you write "load" I guess you mean loading the interface file, rather than type-checking every declaration in the source file. I'm mainly interested in the second scenario. Take the following code:
[code]
If I repeatedly load the file, and change the definition of `A` every time, Agda should type-check `D` at most once.

Here's another example:
[code]
With interactive highlighting on it is cle

[2020-09-09 11:34] nad commented on #4911
Would that change break existing code? Can you give a concrete example of what you have in mind?

[2020-09-09 11:55] uncle-betty commented on #4917
Ooooh, I see. Thank you for the details. I think I get it now. So, you're saying that the declaration of `D` kicks Agda out of "replay the cached previous type-check log" mode and makes it fall back to full type-checking mode - even though `D` did not change at all between type-check runs. Yes, I now see that this would be a caching bug.

I had looked at the wrong `Checking` and `Checked` messages

[2020-09-09 12:14] andreasabel commented on #4879
This is an unsolved (non-interaction) meta, which is displayed along the unsolved interaction metas (if there are any).  When you run Agda in non-interaction (batch) mode, then it will print `Unsolved metas at the following locations:`.

[2020-09-09 12:16] mietek commented on #4911
As I understand, `mutual` blocks can be described as desugaring to new-style implicit mutual recursion in which all the type signatures are given before all the definitions.  I’m wondering if instead `mutual` blocks could desugar to new-style implicit mutual recursion in which the definitions and type signatures are given ordered according to their dependencies.  This change seems conservative in

[2020-09-09 12:35] andreasabel commented on #4911
I think this proposal is reasonable, although there is a complication with hidden arguments.  Even if the dependency ordering computed from the visible identifiers is well-founded, the fully reconstructed program might not be well-founded any more.  One cannot necessarily commit on a linearization before the implicit arguments have been computed.  Thus, we have the safe fallback of letting the use

[2020-09-09 13:16] andreasabel commented on #4911
Here is an example that illustrates ambiguities when a topological order is automatically computed:
[code]
One would have to make a choice:
1. Either the identifiers in patterns are not included when computing the topological order.  This might often lead to undesired (and hard to sell) results.
2. Or the identifiers in patterns are included.  Then the above explicit `mutual` block would be reject

[2020-09-09 13:20] andreasabel commented on #4837
Has this issue been fixed with the release of 2.6.1.1, @UlfNorell?

[2020-09-09 13:25] mietek commented on #4911
In your example, `Implicit2` seems strongly preferable to `Implicit1`, because reusing the same identifiers for constructors and variables is more likely to happen by mistake than by choice.  In any case, I will accept your decision to close the discussion, should you decide to do so.

[2020-09-09 15:20] uncle-betty commented on #4917
I think that the `Def'` data constructor for `Expr` introduced into `Agda/Syntax/Abstract.hs` in 2ee3cd0b01 has an issue: `Expr`'s `Eq` instance definition still uses the old data constructor, `Def`, instead of the new one, `Def'`. So comparing a `Def'` to another `Def'` always falls through to the catch-all, which yields `False`.

So, no two `Def'`s are ever considered to be equal.

So, when Agda

[2020-09-09 15:47] jespercockx commented on #4917
Yes, that seems to be a shameful omission on my part. The `Eq` instance should definitely use `Def'` rather than `Def`!

[2020-09-09 16:00] uncle-betty commented on #4917
And I have to correct myself: No two `Def'`s **with a suffix** are ever considered to be equal. I guess that's why `Set` works, but `Set₁` doesn't.

[2020-09-09 16:07] jespercockx commented on #4917
Right, I *did* set `Def f` to be a pattern synonym for `Def' f NoSuffix`. It seemed like a good idea at the time :S

[2020-09-09 16:21] nad commented on #4917
Perhaps more bugs can be uncovered or avoided if `Def` is removed.

[2020-09-09 17:04] mechvel commented on #4879
(Now I only fix typos)
I understand it this way: in the batch mode the report is reasonable, and in the interactive mode the report is frightening and unclear.
I do not know of whether the thing is easy to fix. Personally I do not care, but this may frighten newbies.

[2020-09-09 19:05] uncle-betty commented on #4917
I issued a pull request with a proposed fix: #4918. I'll leave the even bigger question of whether to completely get rid of `Def` to people more familiar with the Agda code. I just enjoy learning my way around the code base through fixing bugs.

[2020-09-10 07:35] andreasabel commented on #4911
I agree, and it would be good if Agda would warn about pattern variable `d` (as it does in other cases).  However, to warn about `d` would require to maintain a structure for "what the user could think that is in scope" in addition to "what Agda thinks that is in scope" with the former being a superset of the latter.  In a explicit mutual block, it is clear what this over-approximation of the scop

[2020-09-10 07:41] #4917 closed, assigned to uncle-betty

[2020-09-10 08:32] nad commented on #4917
Thanks for the fix!

[2020-09-10 09:28] andreasabel commented on #4805
Anything left to to here?  Otherwise, please close.

[2020-09-10 09:29] uncle-betty commented on #4917
I'm glad I could help. It's a good way for me to get familiar with Haskell in general and the Agda code base in particular.

Thanks for the merge and for bearing with me while I figured things out.

[2020-09-11 07:00] jappeace commented on #3360
This is finished https://github.com/melpa/melpa/pull/7080

I'm available for any questions or concerns on this.

[2020-09-11 09:51] #3360 closed, assigned to nobody

[2020-09-13 09:49] jespercockx commented on #4521
I'm voting against removing the flags by default; the run-time benefits outweigh the slowdown of compilation times IMO (and there's `quicker-install-bin` for quick testing).

The proper solution to slow compilation would be to remove the two flags and add `{-# INLINEABLE #-}` and `{-# INLINE #-}` pragmas where needed. However, this would take a lot of manual work, and runs the risk of being destro

[2020-09-14 06:44] #4610 closed, assigned to L-TChen

[2020-09-14 06:47] andreasabel commented on #4610
Fixed by @L-TChen in PR #4886 commit aa5e3a127bf17a8c80d947f3c286758a36dadc36.

[2020-09-14 08:05] UlfNorell commented on #4904
Fixed everything except readthedocs (I'm not an admin).

[2020-09-14 12:06] #4899 closed, assigned to UlfNorell

[2020-09-14 12:17] UlfNorell commented on #4902
I believe this is working as intended and caused by the `allMetas` change. During generalisation we get the following unsolved constraint:
[code]
Generalisation over `_F_18` and `_A_20` is not blocked by the constraint since these are named variables, but it should block generalisation over `_F_27` and `_F.a_17`. Before the `allMetas` change we didn't find `_F.a_17` in the constraint and thus inco

[2020-09-14 12:32] jespercockx commented on #4893
Here's a minimized version with all records, modules, implicit arguments, and unused arguments removed:
[code]

It's suspicious that the type arguments are solved, but their universe levels are not. This is supposed to be prevented by the extra check on the sort of metavar solutions. It seems like the problem has something to do with the `variable`s, perhaps they circumvent this extra check in som

[2020-09-14 13:28] jespercockx commented on #4893
I'm a bit at a loss. First it seemed that the problem was caused by the fact that variable generalization makes direct use of `assignTerm'` (which doesn't check for the sorts of solutions) instead of `assign` (which does). But since generalization explicitly constructs the type of its solution from the type of the meta itself, I don't see how this could ever be a problem. But I don't understand th

[2020-09-14 14:45] nad commented on #4521
Above there is a report about how memory runs out when `cabal install Agda` is run. "I could not install Agda (without using the right flags)" is perhaps worse than "Agda is slightly slower (when compiled without the right flags)".

[2020-09-14 15:05] UlfNorell commented on #4893
I can have a look ~~tomorrow~~ next week.

[2020-09-14 15:22] #4902 closed, assigned to UlfNorell

[2020-09-14 17:01] nad commented on #4291
Here is another example:
[code]
Agda infers the following type for `p`:
[code]
There should only be one implicit argument called `x`. With the current naming scheme I guess the first argument should be called `x.x`, or something like that.

[2020-09-14 20:18] beren-evans-oguz opened #4924 "Instance resolution loops infinitely even when an instance is available"
On `Agda version 2.6.1.1` typechecking this program loops infinitely:

[code]

But it was pointed out in IRC channel by some other user (`tomjack`) that this works, typechecking halts:

[code]

Same issue exists if one uses `where` instead of `let` clause.

[2020-09-14 20:32] tomjack commented on #4924
Maybe it is worth noting also that the problem appears even with `--instance-search-depth=1`. So I don't know what is looping infinitely...

With some verbosity you see this repeated at the end:
[code]

[2020-09-15 02:31] beren-evans-oguz commented on #4924
Removing the `open B` in the first program makes agda halt. This typechecks:

[code]

notice that there is no `open B` after `record B`. This makes sense. Without instance search, I can write a program that is rejected by typechecker:

[code]

Typechecking fails with the following error:

[code]

It seems to me that agda wants to express that "`open B b` shadows `f` that was previously exposed by

[2020-09-15 07:51] UlfNorell opened #4925 "Too aggressive literal overloading"
Currently literal overloading kicks in if the `fromNat` (or `fromNeg` or `fromString`) function is in scope in any way. This means that as soon as you import `Agda.Builtin.FromNat` literal overloading turns on.

The problem is that sometimes you'd like to talk about `fromNat` without having literal overloading on, and there's currently no way of doing that. I propose to change the overloading to r

[2020-09-15 09:05] JonasHoefer opened #4926 "Type inference issue with cumulativity"
In the [current version](https://github.com/agda/agda-stdlib/tree/0a7119ccb1bd3b7e16e1cfe6e4046ecb9d6124cc) the following proof of false type checks. It's possible to call`op` using an `A : Set (suc a)` instead of `A : Set a` as long as the type is inferred.

[code]

[2020-09-15 09:31] jespercockx commented on #4926
Thanks for reporting! Here's a version w/o dependencies on the standard library:
[code]
On 2.6.1 you get the expected error. I'll do a deeper analysis when I have the time.

[2020-09-15 21:02] HuStmpHrrr opened #4927 "should flat be off by default?"
it is strange to me that flat is on by default. I always think of Agda's type system as something around MLTT but the flat modality itself seems kicking it off the range. I am wondering why flat is on by default? I would expect a special option to turn it on as it is an addon feature.

[2020-09-16 08:41] UlfNorell opened #4928 "Internal error checking cubical library"
Working on #4925 I ran into an internal error checking the cubical library (sitting at agda/cubical@7d96a95):

[code]
It looks like a deBruijn failure, causing that `i1` to be treated as a `ℕ₊₁`. I'll try to shrink it further.

[2020-09-16 09:04] nad commented on #4927
We have [discussed](https://github.com/agda/agda/commit/3b4121d35abafe45935b9057d282769b1f537140#commitcomment-34559112) this before. I am not opposed to a flag.

[2020-09-16 10:00] UlfNorell commented on #4928
Shrunk test case:
[code]
Here the error manifests slightly differently, crashing in `Reduce.Fast` trying to evaluate `idem i1`.

[2020-09-16 11:16] UlfNorell commented on #4928
Further simplified:
[code]
If you normalise `bad` you get
[code]
where you can see that `suc (n .unpos)` has turned into `suc (i .unpos)` in the `i ∧ j` case. ~~Most likely~~ My guess is that something is wrong in the computation rule for `primHComp` (tag @Saizan)

[2020-09-16 12:00] JorisCeulemans commented on #4777
It would be nice if in the definition of a macro you can get information on whether instance search for some metavariable succeeded or not. I tried working with `noConstraints` in the example below, but that doesn't work.
[code]
As noted by @UlfNorell on the mailing list, the problem seems to be that "instance search runs after the macro, and there's currently no way to force it to happen during t

[2020-09-16 12:36] #4926 closed, assigned to jespercockx

[2020-09-16 13:12] andreasabel opened #4929 "Regression in 2.6.1 connected to forcing translation (internal error)"
"Works" with 2.6.0 (reporting termination error), but fails starting 2.6.1:
[code]
Crash here: https://github.com/agda/agda/blob/9977803344214323f0c40e25a2ae3baff340f03f/src/full/Agda/TypeChecking/Substitute.hs#L456

[2020-09-16 15:32] andreasabel commented on #4929
I am running bisection with:
[code]
Script is (generated by pasting the `IOTCM`s from the `*agda2*` buffer):
[code]
I tried `--no-internal-error` first instead `--must-not-output` but this does not harmonize with `--script` in this case since `agda --interaction` puts always exitcode 0 (success) but `--no-internal-error` expects failure.

[2020-09-16 16:04] andreasabel commented on #4929
Bisection says: 0539818a58dd049ccb2ede79ed304bc669fa1bf2 is the first bad commit (tag @UlfNorell).

Date:   Fri Oct 4 14:01:27 2019 +0200
[ #3903 ] handle forcing translation in the unifier

This isn't completely improbable as this commit changes `instantiateTelescope`.

Issue #4528 points to the same commit, albeit the internal error is raised in a different place in `Substitute.hs`.

[2020-09-16 16:24] andreasabel commented on #4904
I made you maintainer at readthedocs.org for agda, @UlfNorell, built the v2.6.1.1 and made it default.

[2020-09-16 16:41] andreasabel commented on #4824
@rwe : Let me emphasize/clarify that I am ok with explicit export lists, but I will probably not invest my time to push this.

[2020-09-17 15:58] Saizan commented on #4928
Ah indeed, it's a bug in the `compData` code, I used `composeS` the wrong way around.

Btw, any suggestions on how to most readably compute the substitution
[code]
given an ascending list of de Bruijn indexes for the interval variables?

Otherwise I will go with with ```foldr (\ j s -> s `composeS` liftS j (raiseS 1)) idS```

[2020-09-17 18:28] andreasabel commented on #4521
If you are using Agda seriously you want to compile it with agressive optimization.  But maybe if you are using Agda seriously, you might dig a bit deeper and discover such a cabal flag in the documentation.  As a newbie, you do not want to dig a lot just to get Agda installed.  This might be an argument for @nad's suggestion.

[2020-09-17 18:31] andreasabel commented on #4291
We need to distinguish user-written from system-generated names more seriously.  In the OP, the name `B` should be marked as system-generated so that it cannot be referred to in the input.

[2020-09-18 07:59] Saizan commented on #4927
You need special syntax for it, and it doesn't add to the power of the type system unless you postulate things.

[2020-09-18 08:04] jespercockx commented on #4927
The same is true for `Prop` (at least if you already have irrelevance), yet *somehow* it's still hidden under a flag.

[2020-09-18 09:02] Saizan commented on #4927
I thought `Prop` was under a flag because of backwards incompatibilities wrt inference?

[2020-09-18 09:05] Saizan commented on #4927
Irrelevance itself does not need a flag btw, and it's not something you have in plain MLTT.

[2020-09-18 09:39] nad commented on #4927
I would not mind having a flag for irrelevance as well.

In order to make it easier to fix broken code I suggest that we do not add such flags until #3118 has been implemented.

[2020-09-18 13:26] HuStmpHrrr commented on #4927
I would say we should have flags for every addon features.

[2020-09-18 16:51] rwe opened #4931 "Build break caused by std-lib update"
`std-lib` is now breaking on Travis. A recent update appeared to drop some commits. CC @MatthewDaggitt @jespercockx

[code]

The [Travis error](https://travis-ci.org/github/agda/agda/jobs/728209433#L1257-L1272) is:
[code]

Separately, I'm concerned about std-lib updates being pushed to `master` without going through CI first. Any suggestions on how that could be avoided?

[2020-09-18 20:25] msuperdock opened #4932 "agda --interaction-json doesn't give bindings for implicit arguments"
## Issue

Bindings for implicit arguments often (always?) appear as `{_}` when using `--interaction-json`. The emacs mode shows bindings for implicit arguments, so I assume this is not the case for the ordinary `--interaction` mode. The example below shows that this issue affects various types of implicit arguments, not just set-valued ones.

## Example

[code]

After loading emacs and asking for

[2020-09-19 03:05] MatthewDaggitt commented on #4931
Hmm so it looks like Agda should be using `experimental` not `master` from the standard library but somehow it was doing so despite the `.submodules` file specifying `master`. Therefore when I ran `make fast-forward-stdlib` it dropped the commits from `experimental`. Will try and fix now.

[2020-09-19 06:36] MatthewDaggitt commented on #4931
Opened a PR fixing this problem.

In future I'll open up a pull request first before any landing any changes. Apologies for the hassle.

[2020-09-19 08:15] #4931 closed, assigned to nobody

[2020-09-19 12:14] msuperdock commented on #4932
Tagging a few people who are knowledgable about interaction-related code: @ice1000 @banacorn @rwe

[2020-09-19 16:08] msuperdock commented on #4932
Here are a couple relevant code points, for now:

- [Agda.Interaction.EmacsTop](https://github.com/agda/agda/blob/master/src/full/Agda/Interaction/EmacsTop.hs), lines 395-438. These lines contain the definition of a function `prettyResponseContext`, which the emacs interaction mode uses to pretty-print a context. In particular note line 427.
- [Agda.Interaction.JSONTop](https://github.com/agda/agd

[2020-09-21 06:50] UlfNorell commented on #4928
You could add `raiseFromS n k = liftS n (raiseS k)` (we already have `raiseFrom`). Otherwise it looks good, provided the de Bruijn indices are given in the right order.

[2020-09-21 07:56] UlfNorell commented on #4893
Looks like this is the problem:
[code]
That's the constraint that's preventing the level variable from being generalized.

It's blocking on `_c_66` instead of `_c_70`. It so happens that `_c_66` was instantiated to `_c_70` shortly before the constraint is created, so there's a missing `instantiate` somewhere. With the wrong blocking tag the constraint isn't woken up when `_c_70` is solved to `_62`

[2020-09-21 11:39] #4928 closed, assigned to Saizan

[2020-09-21 22:27] ice1000 opened #4937 "What does Agda.TypeChecking.Lock do?"
https://github.com/agda/agda/blob/358e080008e46ccf6d22631284a1602bc382d3f6/src/full/Agda/TypeChecking/Lock.agda#L1

This is weird

[2020-09-22 07:51] Saizan commented on #4937
Yeah, must have been a typo sometime, we can remove it.

[2020-09-22 07:55] #4937 closed, assigned to Saizan

[2020-09-22 11:29] nad commented on #4932
I think that we should merge `EmacsTop` and `JSONTop`, so that we do not have to keep the files in sync. I assume that it is not so hard to make Emacs parse the JSON data, using [`json.el`](https://github.com/emacs-mirror/emacs/blob/master/lisp/json.el).

[2020-09-22 13:57] #4893 closed, assigned to UlfNorell

[2020-09-22 15:45] msuperdock commented on #4932
@nad: I agree, though one challenge to merging the two is that they seem to have different philosophies. The `--interaction` mode seems to prefer to produce fully formatted output, while the `--interaction-json` mode seems to prefer to produce pieces of that output and leave it to the editor plugin to do the formatting.

[2020-09-22 16:26] banacorn commented on #4932
The very reason why `--interaction-json` was created was to delay the formatting as much as possible.
I think `--interaction` can use whatever data format Emacs sees fit, but the distinction mentioned above should be preserved some how.

[2020-09-22 17:36] andreasabel opened #4940 "test/Succeed/ExecAgda makes subsequent tests fail with non-standard agda binary"
[code]
All tests after `ExecAgda` fail with the complaint `Executable 'agda-fast' not found.`.

Content of `test/Succeed/ExecAgda.vars`:
[code]
Content of `test/Succeed/exec-tc/executables` (put there by `make succeed`):
[code]

The faulty behavior would be caused if the `AGDA_DIR` that is set in `ExecAgda.vars` is not reset to its previous value after `ExecAgda` failed.

[2020-09-22 17:45] msuperdock commented on #4932
I just created a pull request; see #4939.

Only one line of code is changed; I replaced `encodePrettyTCM (respType entry)` with `prettyATop (unArg (respType entry))`. The `respType entry` term has type `Arg Expr` (that's the abstract syntax `Expr` type). Here are a few thoughts:

- I used `prettyATop` rather than `prettyA` or `encodePrettyTCM` (which for `Expr` is just `prettyA`), since this match

[2020-09-23 12:10] #4925 closed, assigned to UlfNorell

[2020-09-23 12:30] nad commented on #4932
I think we should aim to make maintenance of Agda easier, and in this case I don't think we should have two modules that do roughly the same thing. One option is to merge the two options, and use the JSON output for all frontends, instead of having two different protocols.

[2020-09-23 13:17] andreasabel commented on #4837
Tried it today on mac, took me around an hour (and I killed it once at module ~340/380).  I'll downgrade to 8.8.4 again.

[2020-09-23 13:22] UlfNorell commented on #4837
Takes me 30-35min with `GHC_RTS_OPTS=-M10G` in `mk/config.mk`.

I believe the OP is fixed, but I'll leave it to @asr.

[2020-09-23 13:47] asr commented on #4837
Support for GHC X.Y.Z includes Agda compilation, tools (e.j. `agda-bisect` and `hTags`) compilation and use of GHC X.Y.Z in CI (Travis and GitHub). We can not close the issue due to the problem reported in the OP.

[2020-09-23 13:57] jespercockx commented on #3118
I've been trying to implement this. The main issue seems to be that currently, the only thing `.agda-lib` files do is add some implicit command-line options to the call to the agda executable. However, if we would treat flags in the `.agda-lib` file as command-line flags, that means the flags are applied to *all* imports, including those from outside the library. Worse, importing a library with de

[2020-09-23 14:00] asr commented on #4904
From the release procedure:

https://github.com/agda/agda/blob/076bd40cfe6ba61109ea11596ba3df05c9dcd8d5/notes/agda-releases.txt#L174-L175

@ulf, I think it is a good idea to deprecate 2.6.1 in Hackage.

[2020-09-23 14:01] jespercockx commented on #3118
One problem is that the current approach searches for an `.agda-lib` file once per call to the `agda` executable, the new approach would do this once per file that is checked. So any performance problems (such as https://github.com/agda/agda/issues/4526) would suddenly get a lot worse. We might try to cache the results of looking for the `.agda-lib` file if that becomes a problem in practice.

[2020-09-23 14:14] gallais commented on #3118
We are already storing information about the directories in scope for
`import` resolution. Each one could come with a set of options attached
to it.

[2020-09-23 14:30] UlfNorell commented on #4904
I don't know how to do that.

[2020-09-23 15:11] asr commented on #4904
Log in as maintainer from the page of Agda in Hackage and follow the `Preferred versions` link.

[2020-09-23 15:15] UlfNorell commented on #4904
Done.

[2020-09-23 16:19] msuperdock commented on #4151
I ran into issues with this while trying to build Agda locally for the first time; I used `make quicker-install-bin`, which failed with the following error:

[code]

I eventually realized that `make quicker-install-bin` doesn't build the interface files, so I just used `make install-bin` instead.

Is the idea that `make quicker-install-bin` should not be used unless Agda has been built at least on

[2020-09-23 17:15] UlfNorell commented on #4151
No, I've run into this as well and not gotten around to file an issue / fix it. The problem is that `Setup.hs` checks for `-quicker` when deciding whether to generate the `.agdai` files, but not when deciding to try to copy them. Moving the check up a level would fix the problem. Feel free to make a PR!

[2020-09-24 08:10] andreasabel commented on #4837
The latest release compiles in the usual time on my Mac.
[code]

[2020-09-24 08:15] #4879 closed, assigned to nobody

[2020-09-24 12:06] UlfNorell commented on #4837
Possibly you hit the memory limit set by the `Makefile` when compiling master?

[2020-09-24 17:56] d-plaindoux opened #4941 "Termination checking failed raising a "Problematic calls""
Context: **Agda version 2.6.1**

I wrote the following code (taken from the paper **Dependently Typed Programming in Agda**):
[code]

The compilation raises an obscure message:
[code]

I don't see why `=?` is problematic because no clear explanation is given by the compiler.

[2020-09-25 08:40] uncle-betty commented on #4924
I managed to collect a little more data on this one with current `master`. This seems to be about the constraint solver.

What's recursing forever is `solveSomeAwakeConstraintsTCM.solve`. I wrapped the function into `verboseBracket` and observed the following evaluation sequence once we're looping forever. `verboseBracket` nesting depths / recursion depths are represented by indentation. `A`, `B`,

[2020-09-25 12:04] lclem opened #4943 "short-circuit evaluation on both arguments"
Is there a way to define the function `_∨𝔹_` in such a way that both `lemma1` and `lemma2` have the two one-liner proofs below?
In the current definition, when the first argument is `tt` evaluation does not need to look at the second argument to compute the result, and I would like to achieve the same, simultaneously, for the second argument.

Thanks a lot in advance!

[code]

[2020-09-25 12:42] jespercockx commented on #4943
This is not possible in standard Agda, since all definitions by pattern matching are translated to case trees (see https://agda.readthedocs.io/en/v2.6.1.1/language/function-definitions.html#case-trees)

However, you can use rewrite rules to get this effect (see https://agda.readthedocs.io/en/v2.6.1.1/language/rewriting.html):
[code]

[2020-09-25 12:43] lclem commented on #4943
Thank you! I will try by sparingly use this kind of rewriting in the hope it will not break more complicated code :)

[2020-09-25 13:05] jespercockx commented on #4943
Using the (still experimental) `--confluence-check` flag might help with avoiding bad usage of the `--rewriting` feature.

[2020-09-25 13:08] nad commented on #4941
Are you using `--without-K` or `--cubical`?

[2020-09-25 13:13] lclem commented on #4943
For now it works like a charm. Complete code:

[code]

[2020-09-25 13:53] uncle-betty commented on #4924
Oh, I just discovered `debugConstraints`, which concisely pretty-prints all active constraints, including any sleeping constraints. That's more manageable and more informative, I guess.

This is pretty-printed `A` (and any sleeping constraints when entering `solve` for `A`).

[code]

Same for `B`.

[code]

Same for `C`.

[code]

Same for `D`.

[code]

The following debug output covers the involved

[2020-09-25 14:09] d-plaindoux commented on #4941
Yes. If I remove `--without-K` the compilation terminates.

[2020-09-25 14:09] #4941 closed, assigned to nobody

[2020-09-25 14:32] #4943 closed, assigned to nobody

[2020-09-25 15:05] #4846 closed, assigned to nobody

[2020-09-25 15:05] jespercockx commented on #4941
Related issues: https://github.com/agda/agda/issues/1680 https://github.com/agda/agda/issues/4527

[2020-09-25 15:06] #3118 closed, assigned to jespercockx

[2020-09-25 15:07] jespercockx commented on #4526
I implemented caching of the search for `.agda-lib` files in https://github.com/agda/agda/pull/4942. @laMudri could you test if this improves the performance?

[2020-09-25 15:19] jespercockx commented on #4927
It is now implemented, so go nuts with adding more flags I guess ;)

[2020-09-26 08:31] andreasabel opened #4944 "Generalize: stuck on constraint ↑ i =< ↑ (↑ i) : Size"
[code]
The but last `_` is yellow with message:
[code]
Not a regression, doesn't work with 2.6.0 and 2.6.1 either.

[2020-09-26 08:38] andreasabel commented on #3118
Thanks, @jespercockx !

[2020-09-26 09:06] andreasabel opened #4945 "hTags: Can't parse "/usr/local/lib/ghc-8.10.2/platformConstants""
hTags is broken on ghc 8.10.2:
[code]

[2020-09-26 09:10] andreasabel commented on #4945
This is already fixed, by recompiling `hTags`.

[2020-09-26 09:10] #4945 closed, assigned to andreasabel

[2020-09-26 09:32] andreasabel opened #4946 "Size polarity brittle with generalization"
This should work:
[code]
Currently, Agda does not recognize `T` as monotone in the size parameter, since the inference expects size argument `i` as first argument of `c` but generalization puts it second.  The inference should be more robust.

[2020-09-26 09:39] andreasabel commented on #4837
With you 10G limit and compiling most of master, starting here:
[code]
It took:
[code]
Feels to me like a regression in GHC, would you agree?  Have we reported this?

[2020-09-26 15:30] #4946 closed, assigned to andreasabel

[2020-09-26 16:15] andreasabel commented on #4944
Internally, the `i` is `@3 .generalizedField-i`, and the size-solver does not deal with projected variables.
It seems this constraint comes from a preliminary phase of the generalization.  It shouldn't really be there...

[2020-09-26 17:26] andreasabel commented on #4208
I don't see much `genTel` anymore when looking at the debug output of #4159.  Has this issue been fixed?

[2020-09-26 17:30] andreasabel commented on #3352
I suppose so.
When writing
[code]
the `a` is not important, one could write as well:
[code]

[2020-09-26 21:17] laMudri commented on #4526
Initial testing looks positive! The `-O0`-compiled version checks the empty module in 0.42 s, compared to 3.10 s for 2.6.1.1 with optimisations (command `time agda --ignore-interfaces Scratch.agda`). For a file just containing `open import Data.Product`, the times are 12.40 s vs 32.56 s. I'll try compiling it with optimisations overnight tonight, and then see how the real thing compares.

[2020-09-27 11:05] ajrouvoet opened #4947 "Emacs: use polymode to support literate Agda mode switching"
I'm writing .lagda.tex files and found the following snippet useful:

[code]

Using [polymode](https://polymode.github.io/defining-polymodes/), one can automatically switch between major modes in an emacs buffer based on the position of the cursor in the file. The above snippets sets up a polymode for lagda.tex literate files. It detects `\begin{code}` and `\end{code}` as fences for agda2-mode, an

[2020-09-27 14:49] #4944 closed, assigned to andreasabel

[2020-09-27 15:33] mechvel opened #4948 "2.6.1: Refused to invert pattern matching of Data.List.foldl"
This is on  Agda 2.6.1, ghc-8.8.3, lib-1.4, Ubuntu Linux 18.04.
Bug.agda.zip attached.

reports a strange thing for the last line of the attached program:
"
Checking Bug (/home/mechvel/agda/toSave/bugs/sept1-2020/Bug.agda).
/home/mechvel/agda/toSave/bugs/sept1-2020/Bug.agda:60,15-45
Refusing to invert pattern matching of Data.List.foldl because the maximum depth (50) has been reached. Most likely

[2020-09-27 15:41] UlfNorell commented on #4948
Most likely this means you have an unsatisfiable constraint.

[2020-09-27 16:29] andreasabel commented on #4671
Something broke (not adding an OS-dependent test case fired back on me...).
Now I get:
[code]
The full error is:
[code]

[2020-09-27 17:09] andreasabel commented on #3619
Changed the milestone since this fix was not released in 2.6.1.1.

[2020-09-27 17:59] andreasabel commented on #4671
Not too suprisingly, I broke this myself by messing with the path canonicalization:

be5cafa4a47d5952d3bc259ba076ce042c67027b is the first bad commit
Date:   Tue Aug 11 13:59:07 2020 +0200

[ fixed #4828 ] by deferring canonicalizePath

    Rather than eagerly resolving symlinks, which leads to wrong placement
    of .agdai files, we only resolve them when testing whether two filenames
    point t

[2020-09-27 18:42] mechvel commented on #4948
I am sorry. The program is wrong.

Because  the right hand side  ``xs≤⇒rev-xs≤ n (downFrom-n-≤n n)``
in the last line has not the needed type.
Usually Agda reports in such cases something like  "foo has not type Foo".
But now it reports of "unsatisfiable constraint".
Please, close the issue.

[2020-09-27 18:57] #4948 closed, assigned to nobody

[2020-09-27 21:09] laMudri commented on #4526
I ran these with `Scratch.agda` being empty. `agda` is the 2.6.1.1 release, and `~/.cabal/bin/agda` is the master version.

[code]

Also, the following exhausts the heap, but with the new version it does not.

[code]

I also made a file `src/Bug.agda` to pass through two libraries:

[code]

The results from `time` were:

[code]

I don't know why the release version is so much faster than when I op

[2020-09-28 05:54] thomaswuhoileong opened #4949 "Cubical: internal error in eta-expansion under constraints"
The following code leads to internal error in Agda 2.6.1.1 when trying to give:
[code]
output:
[code]
(the location in the latest branch should be line 678;
I don’t know if the problem is still there though)

When the file is loaded, one of the constraints reads:
[code]
which looks wrong.

[2020-09-28 06:47] nad commented on #4837
My understanding is that the flags that @jespercockx turned on are not recommended. If performance is significantly worse with these flags turned off it might make sense to report a regression.

[2020-09-28 06:52] nad commented on #4947
Perhaps it makes sense to write something about this possibility in the documentation.

[2020-09-28 09:56] ajrouvoet commented on #4947
Something that is really neat about this setup is that it uses the right input modes for latex and Agda. So entering
`\begin{code}\end{code}` with unicode characters in between is not such a pain.

[2020-09-28 11:46] andreasabel commented on #4837
If I remember correctly these flags were a remedy for the 5% performance loss resulting from generalizing `TCM` computations to `m` computation where `m` satisfies a dozen `MonadSomething` constraints.  A compiler could specialize all these computations to `TCM`, getting rid of tons of dictionary-passing, but apparently GHC does not do so by default.

[2020-09-28 11:54] andreasabel commented on #4949
This error exists still on master.
[code]
https://github.com/agda/agda/blob/6eb0fdeec0ae7cedacfb8236e4d45b08c2ed0636/src/full/Agda/TypeChecking/Records.hs#L667-L679

Reason for the crash is:
[code]

[2020-09-28 12:06] andreasabel commented on #3939
I am using it on a regular basis even with ghc 8.10 and it works for me.  There hasn't been a decision to test it on travis as well.

[2020-09-28 12:06] #3939 closed, assigned to andreasabel

[2020-09-28 12:16] andreasabel commented on #3289
Remaining problem is:
[code]

[2020-09-28 12:20] andreasabel opened #4950 "Range too large in complaint about missing definitions"
[code]

[2020-09-28 15:16] jespercockx opened #4951 "Data types in Setω are treated as non-fibrant"
I'd expect all four functions below to be rejected, but currently only the first two are.
[code]

[2020-09-28 15:48] nad opened #4952 "Incorrect HTML generated for renaming clause"
Consider the following code:
* `A.agda`:
[code]
* `B.agda`:
[code]
If we generate HTML for `B`, then `B.html#A` points to the line with the renaming clause. Agda generates the following HTML for this clause:
[code]
Note the presence of `<a id="A"></a>`.

[2020-09-28 17:03] #4671 closed, assigned to andreasabel

[2020-09-28 17:03] #4950 closed, assigned to andreasabel

[2020-09-28 18:43] andreasabel commented on #4952
Its the HTML backend where this manifests, but the problem is more fundamental.  The concrete name `B` is associated directly to the abstract name `A.A` rather than to its own abstract name that links to `A.A`.  Concrete names are handled in the scope checker, in the abstract syntax we will see just
[code]
This abstract syntax is what the highlighter sees, and from this, we cannot create any sensi

[2020-09-29 04:59] nad commented on #4952
In the example in the OP the incorrect anchor shadows a correct anchor. Removing the "garbage" would fix this particular problem. I do not currently have a strong need to link to a renamed name.

[2020-09-29 08:37] andreasabel commented on #3289
The type checker sends expression `r .p` through `Syntax.Abstract.Views.appView` which puts `Proj Postfix p` in the head and `r` as `defaultNamedArg`.  The `checkApplication` phase then treats this as just `p r`.
I think the proper solution is to have an `elimView` for abstract syntax and then a `checkElimination` phase that treats postfix-projections differently from prefix-projections.

Interest

[2020-09-29 09:45] nad commented on #4952
I looked at one of the changed test cases. We used to generate the following HTML:
[code]
Now we generate the following HTML instead:
[code]
Why did you remove `href="InfixDeclaration.html#643"`? It would have sufficed to remove `<a id="SurroundingText._+_"></a>`. Now it is non-trivial to find the numbered link for this token, if someone really wants to link to it.

[2020-09-29 10:11] andreasabel commented on #4952
The original html was:
[code]

That's collateral damage. ;-)  The identifier following `to` is no longer a binding site, there is also no jump-to-definition feature (for that, you have to move to the identifier preceding `to`).

Note that this removed `href` pointed to itself.

Not really.  You still have `id="643"`, from which you can trivially reconstruct the string `"InfixDeclaration.html#643"`

[2020-09-29 10:11] #4952 closed, assigned to andreasabel

[2020-09-29 11:55] nad commented on #4952
Previously you could just copy the link. One can still find the anchor by looking at the source code, but it is less obvious that there is an anchor to link to. However, I suppose that it is uncommon to want to link to this kind of thing, so we can leave things as they for now.

[2020-09-29 12:43] andreasabel commented on #4929
I have now a situation where this internal error does not require interaction.
[code]
The internal error seems to go away if I manually generalize constructor `↦E` or if I skip termination checking of `test`.

[2020-09-29 13:58] andreasabel commented on #4929
Even here, bisection blames the same commit:

0539818a58dd049ccb2ede79ed304bc669fa1bf2 is the first bad commit

Author: Ulf Norell
Date:   Fri Oct 4 14:01:27 2019 +0200

    [ #3903 ] handle forcing translation in the unifier

[2020-09-29 20:05] uncle-betty commented on #4924
I think that I now understand what's going on in `Bad`.

`open B` yields the following types.

[code]

`open B b` yields the following types, where `T` is `b`'s `T`.

[code]

We run into trouble when type checking `f someT`, i.e., an application of an ambiguous projection, `f`. The type of `someT` looks as follows.

[code]

To figure out which `f` to chose, Agda considers the type of the first arg

[2020-09-30 11:38] andreasabel commented on #4947
I have been trying it yesterday and it is really neat!  Thanks for sharing @ajrouvoet !

[2020-09-30 12:38] ajrouvoet commented on #4947
You're welcome!

I did encounter some minor editing issues, especially with commands that cross chunk borders.
E.g., using evil visual block to select across a chunk border and delete is a hit or miss operation.
If anyone with better elisp-fu has ideas how to improve, please do :)

[2020-09-30 14:11] uncle-betty commented on #4924
Based on the above insights, this is a slightly simpler example to reproduce the issue:

[code]

These factors seem to have to come together:

* An ambiguous projection, `f`. (The ambiguity resulting from opening `R` in two different ways.)
* A principal argument, `pri`
  * whose type, `T`, depends on an implicit argument, so that the need for resolving this argument postpones the type check of th

[2020-10-01 10:53] andreasabel opened #4953 ""-}" in string confuses lexer"
While working on a tool [agda2lagda](https://github.com/andreasabel/agda2lagda) to convert Agda text to literate Agda text, and stumbling over [this reddit](https://www.reddit.com/r/haskell/comments/17kcgs/the_problem_with_nested_comments/), I discovered that Agda does not handle the mix of strings and nested comments well.  This problem shows the following symptoms:

### Symptom 1: Cannot comment

[2020-10-01 16:10] nad opened #4954 "Missing highlighting when interactive highlighting is used"
Consider the following code:
* `A.agda`:
[code]
* `B.agda`:
[code]
If `B.agda` is loaded with interactive highlighting on, then `open import` is not highlighted. If `B.agda` is then reloaded, then the code is highlighted properly.

Let's see what is going on:
[code]
First the four keywords are highlighted:
[code]
Then `module B where` and `A Set` are highlighted:
[code]
Then `open import A` is hig

[2020-10-01 16:24] nad commented on #4954
Here is another example:
[code]
The first occurrence of `F` is not highlighted properly. Note that highlighting works fine if `--cubical` is not used.

Here is the relevant output of `agda --interaction`:
[code]
Note the following two lines, which are not present if `--cubical` is replaced by spaces:
[code]
It appears as if Cubical Agda does something that the highlighting machinery treats as type

[2020-10-01 16:28] nad commented on #4954
Here is yet another example, also related to `--cubical`:
[code]
The pattern-matching lambda is not highlighted correctly. (There is no highlighting, but "jump-to-definition" works for `.R.A` and `A`.)

[2020-10-01 18:11] nad commented on #4954
The two problems above related to `--cubical` go away if I remove `traceCall` from `checkIApplyConfluence_`:

https://github.com/agda/agda/blob/1ac2b86d2ac9a2400fdbc07101806f43f27df9a8/src/full/Agda/TypeChecking/IApplyConfluence.hs#L38-L56

@jespercockx, you seem to have added this call to `traceCall`. We can fix the problem by removing this call, or by informing Agda not to do any highlighting fo

[2020-10-01 18:51] jespercockx commented on #4954
I don't remember why I added this call to `traceCall`, feel free to remove it if you want.

[2020-10-01 19:09] nad commented on #4954
An error message changed when I removed `traceCall`, so I'm going with the other option.

[2020-10-02 09:13] andreasabel commented on #4954
`CheckFunDefCall` is originally only used in `checkFunDef`, e.g. here:
https://github.com/agda/agda/blob/1ac2b86d2ac9a2400fdbc07101806f43f27df9a8/src/full/Agda/TypeChecking/Rules/Def.hs#L91
Likely, you want to keep the highlighting behavior there, but I don't know the details.

[2020-10-02 11:20] andreasabel commented on #4953
I did some field study, and it seems that Agda shares the described behavior with the following languages:
- C family: C, C++, Java
- Haskell family: Haskell, Idris 1
- HTML
- SML

Consequently, in these languages, one cannot blindly comment-out code using block comments.

A different path was followed by the French in Ocaml and Coq, where string literals are lexed even in comments (these language

[2020-10-02 11:58] gallais commented on #4953
Note that this issue is fixed in Idris 2.

https://github.com/idris-lang/Idris2/blob/4a61146ba0880990cd5e0d2ae9fc0002126dc73d/src/Parser/Lexer/Source.idr#L90-L131

[2020-10-02 13:00] nad commented on #4953
@andreasabel, I seem to recall that you advocated to put something like `-- -} -} -} -} -}` at the end of the file in order to make it easy to comment out everything from a certain position to the end of the file.

[2020-10-02 13:56] nad commented on #4954
I have fixed the problems related to Cubical Agda that I reported above, but not the problem in the OP.

I added a boolean flag to `CheckFunDefCall` that controls whether highlighting should be triggered. (@andreasabel, I know you don't like booleans. I documented the flag.)

Perhaps my fix just papers over an underlying problem. I wonder if a better fix would be to call `checkIApplyConfluence_` e

[2020-10-02 18:01] asr commented on #4904
From the release procedure:

https://github.com/agda/agda/blob/076bd40cfe6ba61109ea11596ba3df05c9dcd8d5/notes/agda-releases.txt#L140-L141

I couldn't find the file `doc/release-notes/2.6.1.1.md`.

[2020-10-02 18:09] asr commented on #4904
Also add `doc/release-notes/2.6.1.md` and `doc/release-notes/2.6.1.1.md` to the `extra-source-files` field in `Agda.cabal`.

[2020-10-02 18:28] #4797 closed, assigned to asr

[2020-10-02 18:57] asr opened #4955 "Support GHC 9.0.1"
GHC 9.0.1 was [released](https://mail.haskell.org/pipermail/ghc-devs/2021-February/019477.html). I created this issue for collecting/reporting the required changes/issues.

Known issues upstream (2021-03-24)

- [x] GHC (https://gitlab.haskell.org/ghc/ghc/-/issues/19216)
- [x] GHC (https://gitlab.haskell.org/ghc/ghc/-/issues/19228)
- [x] ListLike (https://github.com/ddssff/listlike/issues/12)
- [x]

[2020-10-03 16:49] #4837 closed, assigned to asr

[2020-10-04 07:53] uncle-betty commented on #4924
Turns out that the problem with `f ?` was a bug in my proposed fix. I'll create a pull request.

[2020-10-04 08:42] andreasabel commented on #4953
To restate my own position clearly. __I advocate to allow termination of a block comment by EOF.__  (This was rejected.)

The trick you refer to was shown to me by @np to essentially get what I want: Commenting out the remaining source until the end of the file with just inserting `{-`.  So I use this trick routinely.

[2020-10-04 09:40] andreasabel commented on #3688
I was missing COMPILE GHC pragmas for the builtins, so I came to this issue.

I think the problem here is that we have separate compilation of modules.  If module B defines how to compile concepts from module A, but module A has already been compiled and maybe even imported in C, then B differs from A and C in how the concepts of A are represented in the target language.

Rather than allowing COMP

[2020-10-04 10:55] gallais commented on #3688
This is true. However you can define wrapper modules using essentially
equal purpose-declared datatypes that can be unsafecoerc'd to the ones
used in Agda.

Cf. the work we have done in [`Foreign.Haskell`](https://agda.github.io/agda-stdlib/Foreign.Haskell.html) and the magic in
[`Foreign.Haskell.Coerce`](https://agda.github.io/agda-stdlib/Foreign.Haskell.Coerce.html) to make using these wrappers

[2020-10-04 21:56] rwe commented on #3688
That's a good point. The choice isn't between "only inline" and my naïve "arbitrarily-located" suggestion; it's between "only local" and "globally consistent".

Somewhere else in old comments I recall suggesting something a related: that `COMPILE` and `BUILTIN` perhaps ought to be (able to become) global build settings, which would be required to be consistent for any particular build configuratio

[2020-10-05 07:59] nad commented on #4953
If the only goal was a clean design, then I might argue for getting rid of block comments (which I rarely use). However, that might break quite a bit of code.

[2020-10-05 08:54] andreasabel opened #4958 "Deprecation warning missing for named imports"
Agda warns me when I use a deprecated object in a definition, but not when I mention it explicitly in an import directive.
[code]

[2020-10-06 09:23] nad opened #4959 "Files are needlessly rechecked"
Sometimes when I've checked a file in Emacs and load another file, then the first file is checked again. This is a major performance regression. Today I managed to create a small test case:
[code]
[code]
[code]
Note that Agda 2.6.2-7d26757 typechecks `A.agda`, even though this file has already been typechecked.

Bisection points towards 549f939bcef2c36f98a0f7cee97a00553a324199 ("[ fixed #4647 ] to

[2020-10-06 10:15] nad commented on #2820
I'd just like to note that the problems are not restricted to `Size<_`. Here is a variant of the example that @JLimperg posted [above](https://github.com/agda/agda/issues/2820#issuecomment-503639453):
[code]

[2020-10-07 13:58] ajrouvoet commented on #3761
I just ran into this using `cabal install Agda-2.6.1.1` on Arch Linux.

[code]

[2020-10-07 14:09] nad commented on #3761
Perhaps this is related to #4569, the fix of which is not part of 2.6.1.1.

[2020-10-08 02:52] frankymacster opened #4962 "JS backend: bugs involving "null""
I'm trying to use compile Agda to js so that I can use the functions compiled from Agda in [TodoMVC](https://github.com/reduxjs/redux/tree/master/examples/todomvc).

I was able to generate the js code but when I try to call the functions defined [here](https://gist.github.com/frankymacster/0874b7944a4fd043faa9f4fc366656a5) I got this error

<img width="1033" alt="Screen Shot 2020-10-07 at 22 40 14

[2020-10-08 03:27] frankymacster commented on #4962
After further investigation, it turns out that the error I'm seeing is coming from the Agda compiled-to-js in `jAgda.Data.Nat.Properties.js`:
[code]

`z_jAgda_Relation_Nullary_Decidable_Core["map′"]` is expecting its 5th argument to be a function but the value coming in is `agdaRTS.primIntegerFromString("0")`.

So the error doesn't seem to be related to which data type I passed in as argument to t

[2020-10-08 19:22] berndlosert opened #4964 "Outdated --without-stdlib and --without-ghc brew install options mentiond in docs"
These options were removed a while ago. The documentation (https://agda.readthedocs.io/en/latest/getting-started/installation.html) still mentions them though.

[2020-10-08 20:09] nad commented on #4727
I tweaked the test case a little:
[code]
I looked at Agda's debug output. The meta-variable corresponding to the first underscore in `bad` is instantiated to a term that contains the meta-variable `_49`. Later `_49` is instantiated to a term that contains `erased` (there is a boxed constraint between `_49` and the subterm starting with `comp`).

How does Agda keep track of whether a meta-variable'

[2020-10-08 20:20] nad commented on #4727
@jespercockx, the problem is still there if `--double-check` is used. Doesn't the double-checker check things after meta-variables have been instantiated?

[2020-10-08 20:39] nad commented on #4638
I may have found a use case for erased point constructors. Here is a variant of the sequential colimit used by @fpvandoorn in [Constructing the Propositional Truncation using Non-recursive HITs](https://arxiv.org/abs/1512.02274):
[code]
I've constructed a variant of the propositional truncation operator using this colimit:
[code]
I could prove that this operator is pointwise equivalent (with erase

[2020-10-08 21:17] berndlosert commented on #4964
Also, the  Nix-style Local Builds link is broken.

[2020-10-08 22:27] asr opened #4965 "Support GHC 8.10.2 on Windows"
From https://gitlab.haskell.org/ghc/ghc/-/issues/18550 GHC 8.10.2 is broken on Windows.

[2020-10-08 22:27] #4965 closed, assigned to asr

[2020-10-09 01:39] uncle-betty commented on #4959
Oh, interesting. After poking around a little, I think that the following happens:

* When loading `A.agda` for the second time, top-level interaction mode prevents `createInterface` from actually writing the interface file `A.agdai` for the modified `A.agda`.

* Now the source code `A.agda` (actually: its hash value) doesn't match `A.agdai` (actually: the source code hash value embedded in it). T

[2020-10-09 08:25] uncle-betty commented on #4959
After reading the comments on PR #4652 it seems that the `.agdai` files aren't written in top-level interaction mode, because top-level interaction mode keeps extra information on a module (its private declarations) that's not supposed to go in the `.agdai` file. So, this behavior is about more than just serialization and compression.

[2020-10-09 10:06] Saizan opened #4966 "`--without-K` inconsistent with UA + LEM"
I noticed that Agda recognizes `x` in `coe p x` to be in a strictly-positive position

[code]
With univalence though `coe p x` can be `f x` for any equivalence `f`, which strict positivity would reject unless it can look at the body of `f`.

In fact with LEM for propositions we can show `¬` is its own inverse on propositions, so we obtain a type `D` equivalent to `¬ D` and falsity follows.

In the

[2020-10-09 10:07] berndlosert opened #4967 "Crazy bug when defining Ord instances for Int"
In the program below, I define an Ord class and create an instance for Int. The check n function basically does 0 < n. When I call check 0 and print it out, I erroneously get True. If I change the Ord instance to the commented out one, the program prints out False (which is correct). The code for both instances is exactly the same though!

I am using Agda 2.6.1 on macOS Mojave.

[code]

[2020-10-09 10:12] nad opened #4968 "Generalisation regression"
The following code is accepted by Agda 2.6.1, but a recent development version fails to find the type of the generalisable variable `f` in the last postulate:
[code]

[2020-10-09 10:32] nad commented on #4967
My guess, based on looking at the generated Haskell code, is that Agda does some partial evaluation, and that there is a bug in the code that does this.

[2020-10-09 11:04] UlfNorell commented on #4968
#4902? Can you check the debug output to see if there are constraints on `f`?

[2020-10-09 11:06] nad opened #4969 "Regression related to conversion"
The following code triggers an internal error:
[code]
[code]

[2020-10-09 11:19] nad commented on #4968
The debug output includes `setting name of meta _54 to f` and the following pieces of text:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
I wonder why some of the messages above are identical. Is this due to backtracking?

[2020-10-09 12:12] jespercockx commented on #4969
There's an error in the definition of `piSort'` in `Substitute.hs`: a `PiSort` should always reduce to a `FunSort` when the final argument is a `NoAbs`, but currently it does not always do that. Fix is incoming.

[2020-10-09 12:38] nad commented on #4968
Bisection points to b371b546c6e0cfb3cad11efa7ad14a255d612edc ("[ blocking ] Use MonadBlock to get more precise blocking information out of `runPureConversionM`"). For #4902 bisection pointed to a different commit, also related to blocking.

[2020-10-09 12:45] UlfNorell commented on #4968
You need to check if these constraints that you found are unsolved at the point of generalization. It would probably help you to actually look at the debug output produced by generalize...

[2020-10-09 13:00] #4969 closed, assigned to jespercockx

[2020-10-09 13:01] nad commented on #4968
Can you tell me which flag to use?

[2020-10-09 13:25] uncle-betty commented on #4959
To address this issue, could `createInterface` in top-level interaction mode still do `writeInterface`, but ignore the stripped interface returned by `writeInterface`? So, when in top-level interaction mode, just strip the interface for the sake of serializing it to the `.agdai` file, but then keep using the original unstripped interface?

The following test with current `master` seems to indicate

[2020-10-09 13:39] UlfNorell commented on #4968
`-v tc.generalize:50` maybe? Generalization is implemented in `Agda.TypeChecking.Generalize`. You can check the source code for calls to `reportSDoc`.

[2020-10-09 14:09] nad commented on #4968
There does not seem to be any "awake" constraints remaining:
[code]

[2020-10-09 14:15] UlfNorell commented on #4968
A constraint is awake if we need to try to solve it, so would be very strange if there were still awake constraints. Once we try to solve it and fail it turns into a sleeping constraint.

[2020-10-09 16:52] nad commented on #4968
OK, is there a simple way to find out if there are any sleeping constraints related to `_54` that are unsolved when generalisation takes place?

[2020-10-09 20:54] UlfNorell commented on #4968
You could start by looking at the debug output from generalization...

[2020-10-10 22:36] dolio opened #4970 "`variable` use adds explicit argument"
Consider the following code:

[code]

It was pointed out to me that `[π₁]` is ambiguous, because `A .proj₁ = A' .proj₁` does not lead to `A = A'`. However, for some reason, this leads Agda to decide that `[π₁]` should have an extra _explicit_ argument than in the declared type. This seems like unintended behavior.

I'm on pretty much the latest Agda from git as of the posting of this issue.